[2022-04-13 21:45] severinbeauvais commented on #11837
@tlebedovich You have specified two types of validation: one that is done "at entry time" and another after the user clicks the Done button. This is now a hybrid of Vuetify validation and custom validation and will be complex/messy to implement. And this is a new requirement!

---

@Kaineatthelab With the fix I did this morning (tick 11854), I believe the validation works at least as well as in PP

[2022-04-13 21:52] janisrogers commented on #10794
@tlebedovich I would prefer it to be moved/moveable, but if that is not possible, I agree with your approach. Do you want to lay it out, or do you want to discuss first?

[2022-04-13 21:52] tlebedovich opened #11859 "UI Design - Form Field Validations Requirements and add to UX Styleguide"
The way various forms get validated (via Done button, via dynamic when typing, via after leaving field) are inconsistent across the filings. This ticket is to review all form fields in use and create a UX styleguide for how/when forms get validated

Bonus - create a spreadsheet of the error messages so they also stay consistent across all filings

Review the different types of validations used wit

[2022-04-13 22:00] severinbeauvais opened #11860 "Registration: unable to file a Sole Prop registration"
I tried to File and Pay a SP registration and got this:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/18c1595c-ba66-402f-b737-25d43234075e)

Link to the registration (using BCREG0020): https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/create/registration-review-confirm?id=TYXwWEyaXs&accountid=2288

[2022-04-13 22:03] severinbeauvais commented on #11860
@vysakh-menon-aot Can you see anything obvious here?

Here's the filing JSON: [https://app.zenhub.com/files/157936592/a58530e1-69de-4608-8477-efd47b4a3291/download](https://app.zenhub.com/files/157936592/a58530e1-69de-4608-8477-efd47b4a3291/download)

[2022-04-13 22:06] chdivyareddy opened #11861 "Infinite Renewal on a Registration displays Registration Life as 180 Days"
- [x] When an Infinite Renewal is filed on a Registration (SA, SG, FL, FA, FS) then the New Expiration Date and Time says 'Never' but the Registration Life displays as '180 days' in the verification statement and Search output.

Eg: Reg No: **502323N** in TEST

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/63cfb86d-b05a-476b-8f18-b9229c191b8b)

[https://app.zenhub.com/

[2022-04-13 22:07] argush3 commented on #11850
Verified to be working in DEV by filing a BEN IA correction filing for [BC0870725](https://dev.bcregistry.ca/business/BC0870725).  Can use BCREG0018 user to view ledger.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/5d6f0b04-a0b7-4f2c-bda2-5efcfd8bafcd)

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/0e99dec0-035a-4207-9abe-7abfb1e39003)

[2022-04-13 22:11] severinbeauvais commented on #11857
Would it make more sense to let the user select the Proprietor or Partner role when they add the CP?

For instance, show the Proprietor/Partner checkbox here:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/b2af4b93-3a4c-4c8a-ac67-1047ff49b6df)

This would be _slightly_ complicated by the fact that other fields apply when Prop/Part is selected, but this is possibly easi

[2022-04-13 22:18] yuisotozaki commented on #11857
We had such a design before and was discussed and discarded as it would make it too easy for users to make mistakes that way.
We still want the user to acknowledge that they know what they're doing at the time they press "Add Person" vs "Add Business or Corporation" and the implication of that to their registration.

[2022-04-13 22:20] seeker25 commented on #11855
Separate fix required for auth-api.

[2022-04-13 22:29] tlebedovich commented on #9868
That would be an @yuisotozaki question I think :)

[2022-04-13 22:40] severinbeauvais commented on #11857
OK.

[2022-04-13 22:47] rkim13103 commented on #11837
@severinbeauvais
By reviewing the sample registration filing you gave, I think it's good for now!
The biggest concern which was showing fields "optional" is gone.
I didn't compared it in detail with PPR's validation flow,  so @forgeuxGH5  can you verify if it follows the current PPR validation interaction designs? If so, I think can we give this a thumbs up for now, and later on the design team wo

[2022-04-13 23:03] severinbeauvais commented on #11837
I'm sorry. I should not have exclaimed that last sentence.

Moving forward, we need to find a way to manage these kinds of requirements. I think we should have a meeting some time to understand how form validation works (Vuetify + custom) so that we can articulate requirements precisely. There are lots of great ideas in this ticket to start with.

[2022-04-13 23:06] yuisotozaki commented on #11837
Caught up on the saga.
Verified that the "PPR implementation" was not as finished as what was designed in SPGP and thus by asking to "do it like PPR", we created two sets of goal posts.
Verified that sample implementation works well enough.

I have observations for improvements in PPR, but that's a story for another day.

[2022-04-13 23:09] severinbeauvais commented on #11837
All in favour of closing this ticket?  🙋‍♂️

[2022-04-13 23:14] rkim13103 commented on #11837
@severinbeauvais

Sorry! one thing I've missed. Are we validating the Max character in each fields before user clicks "done" ?
Or would this complicate it? I'm assuming that PPR is doing that?

[2022-04-13 23:16] vysakh-menon-aot commented on #11860
legalName is missing in nameRequest

[2022-04-13 23:19] Kaineatthelab commented on #11837
I think we are ok to leave it as is for now where when you press done it gives you those errors.

The plan of record is leave them both different for now(now we have 3 versions). Not make any new changes and complete the common component RFC this PI. Then next PI do the work so the component can be used in different versions and make that component the future state.

[2022-04-13 23:21] rkim13103 commented on #11837
@Kaineatthelab
Sounds like a great plan!
Thank you

[2022-04-13 23:25] severinbeauvais commented on #11837
It depends on the field. For example...
- First Name has no validation until you click Done (not required, not multiple spaces, not max characters).
- Business Number also follows the main form's validation state (ie, before vs after the user has clicked Done). Also this field also uses a mask to limit the user to 9 digits (and show error otherwise).
- Business Address has its own form validation.

[2022-04-13 23:27] severinbeauvais commented on #11837
Thank you, Kaine. That sounds like a great plan to me, too.

[2022-04-13 23:33] severinbeauvais commented on #11860
@jdyck-fw OK if I work on this ticket today?

[2022-04-13 23:37] tlebedovich commented on #10153
@ZaidGhauri @kialj876  Thanks, here are my UXA notes:

**Vehicle Collateral Table:**
- [ ]  Edit buttons are too still close to the right edge (minimum 20px) - without triggering a horizontal scroll bar in table when a Manufactured Home is added
- [ ]  Long words are showing with ellipsis when they should be wrapping still

**In Secured Party table:**
- [ ] can we move segmented Edit/arrow buttons

[2022-04-13 23:55] doug-lovett commented on #11510
Updated GET individual reg summary endpoint /ppr/api/v1/financing-statements/registrations/{reg_num} to return vehicleCount.

[2022-04-14 00:07] severinbeauvais commented on #11860
I fixed both and a SP filing went through.

[2022-04-14 05:14] pwei1018 commented on #4456
@mstanton1 I think you can close it if the domain request was for bcregistry.gov.bc.ca .

[2022-04-14 13:07] jyoti3286 opened #11862 "UI Design - Adding "Rural Property Tax" product to our Platform"
### Due date for design completion
- May 15th, 2022

### BC Registries Dashboard Visual Design Comps:
Design comp link specs out how to reduce the height of the products/services title and thumbnail sizes/ratios now that we have more products to show on this dashboard.
https://projects.invisionapp.com/share/4W12OVWSG6RD#/screens?browse

### Thumbnail Graphic Downloads:
Existing PPR/Business thumbn

[2022-04-14 13:08] jyoti3286 opened #11863 "UI Design - Adding "Courts Services Online" product to our platform"
* Final copy isn't completed yet

### 1. BC Registries Dashboard Tile + Text:
Design Comps with final text:
(scroll to bottom to see CSO tile)
https://projects.invisionapp.com/share/4W12OVWSG6RD#/screens?browse

Download CSO Brand Image:
https://drive.google.com/file/d/1DfKltFGltEscxjEODAHEE1NB4PqXv-Wd/view?usp=sharing

### 2. BCROS landing page text/tile Updates:
https://invis.io/ZR12S0PX3AVB#/46

[2022-04-14 13:10] jyoti3286 opened #11864 "Adding "BC Assessment" Product to our platform"
### Partners Onboarding:

Below are the rough timelines for our partners to be onboarded:
![Screen Shot 2022-03-30 at 11.36.30 AM.png](https://images.zenhubusercontent.com/5da610e0fc369f000178ab20/85be5c17-ddad-44e6-8a95-480faf049da6)

We need designs to have the partner products(BC Assessment) available on the BC Registry site(https://www.bcregistry.gov.bc.ca/) and in the My Registry Dashboard.

[2022-04-14 13:11] jyoti3286 opened #11865 "Adding "Site Registry" product to our platform"
*Final Copy isn't completed yet

### 1. BC Registries Dashboard Tile + Text:
Design Comps with final text:
(scroll to bottom to see Site Registry tile)
https://projects.invisionapp.com/share/4W12OVWSG6RD#/screens?browse

Download Site Registry Brand Image:
https://drive.google.com/file/d/1emcQBTlsYfUNWK6LKECl8YIHugTyOq2k/view?usp=sharing

### 2. BCROS landing page Text + Tile Updates:
https://invi

[2022-04-14 13:37] jyoti3286 opened #11866 "FAS - Integration Error Message - Issuing a payment on a non-existing routing slip should provide an error"
### Route
POST {{pay-api-url}}/api/v1/payment-requests

### Error description

We should expect that an error should be returned to the user in that case if the routing slip number provided does not match any routing slips in the system

If we sent a payment request with a non-exist routing slip number, a normal paid response is sent back with no errors. Of course, the payment won’t save in DB, an

[2022-04-14 14:53] fareenr opened #11867 "OCM - Courts Services Online (CSO) - Onboarding to new modernized Registry (offboarding from BCOL)"
awareness & Knowledge needed to support users - provided by BCOL Help Desk
ensure this BCOL partner has info needed to support their users
any issues with this BCOL partner using our keycloak realm?
are there any users currently web scraping this bcol partner service
how many users do we expect - please notify IDIM
do we need a script for IDIM in case they get calls from this BCOL partner app (i.e

[2022-04-14 14:55] fareenr opened #11868 "Create change plan for Courts transition to modernized BC Registry (Due: Middle of May)"

[2022-04-14 14:57] fareenr opened #11869 "OCM - Site Registry (Environment) transition to modernized BC Registry (offboarding from BCOL) - target Sept"
Target market date: End of September

[2022-04-14 14:58] fareenr opened #11870 "Create Sites Registry communication & Engagement change plan"

[2022-04-14 15:00] fareenr opened #11871 "OCM - BC Assessment Reports transition to modernized BC Registry (Offboarding from BCOL)"

[2022-04-14 15:03] fareenr opened #11872 "OCM - BC Assessment Reports transition to BC Registry (offboarding from BCOL)"

[2022-04-14 15:04] fareenr opened #11873 "Create change plan for BCA reports"

[2022-04-14 15:16] #4456 closed

[2022-04-14 15:29] lekshmimallika-aot commented on #11514
If the paid status is not getting updated, there may be some intermittent issues  in payments sending message to the queue from which entity pay picks the message and mark the filing as paid

[2022-04-14 15:35] JohnamLane opened #11874 "Publish Beta Business Search API Specification"

[2022-04-14 15:42] sienna-blumstengel commented on #10036
@gprimeau I will send the content to staff to review, it looks great to me!

[2022-04-14 15:46] JohnamLane opened #11875 "Communicate proposed MVP in written and visual form"
In order to support staff training and OCM in general, the initial MVP (and subsequent relevant changes) should be described in the following ways:
- [x] Written document describing what search products will be available for which business types. Include account types and payment options, any shortcomings/compromises/known bugs. Goal is for this to be the primary source for all OCM tasks.
- [ ] Si

[2022-04-14 16:10] ozamani9 commented on #11851
@pwei1018 Thank you

[2022-04-14 16:15] chdivyareddy commented on #11510
Hi @doug-lovett , Amend button is not deactivated for RL when there is only 1 vehicle collateral left. Please take a look at it, thanks!!

Eg: Reg no: **256879N**, **256641N** in DEV.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/13c3e08b-62ff-43a8-bbeb-b7fe42dc4ba9)

[2022-04-14 16:22] sienna-blumstengel commented on #11249
@gprimeau I added some suggested changes! I will review this with staff next Wednesday.

[2022-04-14 16:25] #11413 closed

[2022-04-14 16:29] doug-lovett commented on #11510
GET https://bcregistry-dev.apigee.net/ppr/api/v1/financing-statements/registrations/256879N
Returns:
{
  "baseRegistrationNumber": "256879N",
  "changes": [
    {
      "accountId": "2753",
      "baseRegistrationNumber": "256879N",
      "clientReferenceId": "",
      "createDateTime": "2022-04-13T19:33:35+00:00",
      "path": "",
      "registeringName": "",
      "registeringParty": "DIVYA DEV

[2022-04-14 16:30] doug-lovett commented on #11510
@jordiwes The above response looks correct to me. Can you check that the UI is refreshing the row to pick up the current vehicle count?

[2022-04-14 16:36] #11818 closed

[2022-04-14 16:38] rarmitag commented on #11514
or the queue itself fails intermittently.

[2022-04-14 16:43] pwei1018 opened #11876 "Namerequest UI - update Node/NPM version"

[2022-04-14 16:45] pwei1018 opened #11877 "Business Create UI - update Node/NPM version"

[2022-04-14 16:45] pwei1018 opened #11878 "Business Edit UI - Node/NPM version"

[2022-04-14 16:45] pwei1018 opened #11879 "Business Edit UI - update Node/NPM version"

[2022-04-14 16:45] pwei1018 opened #11880 "Business Filings UI - update Node/NPM version"

[2022-04-14 16:45] pwei1018 opened #11881 "PPR UI - Node/NPM version"

[2022-04-14 16:46] severinbeauvais commented on #11837
@Kaineatthelab Are you OK with moving this ticket to Done? (No changes were submitted by this ticket so no build impact.)

@lmcclung Please have a read through this. TLDR: the addresses on Registration add-edit org-person step (2) are OK for now, but we need a meeting between POs/UI/devs to understand what validations are available vs required/desired. It's complicated and we need a collective und

[2022-04-14 16:46] pwei1018 opened #11882 "BCROS UI - Node/NPM version"

[2022-04-14 16:46] pwei1018 opened #11883 "Auth web - Node/NPM version"

[2022-04-14 16:47] pwei1018 opened #11884 "Director Search UI - Node/NPM version"

[2022-04-14 16:47] pwei1018 opened #11885 "FAS UI - Node/NPM version"

[2022-04-14 16:51] Kaineatthelab commented on #11837
yes we can close this for now

[2022-04-14 16:53] tlebedovich commented on #11859
@rkim13103 @yuisotozaki @janisrogers @forgeuxGH5 - Ticket I made for form validation to start making notes

[2022-04-14 16:58] sienna-blumstengel commented on #11754
One more question before we proceed with entities work?
@droberts27 is it possible for you to create a proxy for dev?
If not, that is ok, but it would be helpful.

[2022-04-14 17:00] seeker25 commented on #11467
We're waiting to hear back from Ali to get more complete data.

"We noticed we have a few fields that are not present in the FACT table you sent over but we understand are captured in the current FAS.

Data stating whether the routing slip was paid for with Cash or Cheque
A receipt number if the payment was cash
A cheque number and cheque date if the payment was Cheque

Is there data stored in a s

[2022-04-14 17:03] sienna-blumstengel commented on #11675
Dependency and Relationships labels added.
@SateeshFW @jyoti3286 please let us know if it makes sense for your team to do this work

[2022-04-14 17:05] jyoti3286 commented on #11640
Email sent to David

[2022-04-14 17:05] #11640 closed

[2022-04-14 17:06] jyoti3286 commented on #8643
MHR transactions are outstanding

[2022-04-14 17:11] severinbeauvais commented on #11133
Would this be a good "first backend ticket" for @Lcyc29 ? (With a BE mentor.)

[2022-04-14 17:23] sienna-blumstengel opened #11886 "FILINGS UI - Start Record Conversion (Add filing to list of staff filings)"
- [x] This filing is always available in the dropdown **for staff**
- [x] Clicking "Firm Record Conversion" will NOT create a draft, and redirect to the edit UI

- [x] If staff do save a draft for this filing, filings UI needs to display this draft (if it doesn't work nicely as-is, consult Roy and keep working on it in this ticket)
- [x] Unit tests

Design Link:
https://preview.uxpin.com/363a49b33

[2022-04-14 17:25] sienna-blumstengel opened #11887 "LEGAL API - Record Conversion filing"

[2022-04-14 17:25] sienna-blumstengel opened #11888 "Legal API - Schema - Record Conversion Filing"

[2022-04-14 17:26] sienna-blumstengel opened #11889 "LEGAL API - Validation - Record Conversion Filing"
- [x] email/phone should be optional
- [x] Verify nature of business text entered can be applied in filer with nil values for NAICS code
- [x] Verify that all fields required for complete business info are provided (see #12038)
- [x] Update unit tests
- [ ] Update postman tests

[2022-04-14 17:26] sienna-blumstengel opened #11890 "Filer - Record Conversion Filing"

[2022-04-14 17:26] sienna-blumstengel opened #11891 "Email Templates - Record Conversion Filing"

[2022-04-14 17:30] sienna-blumstengel opened #11892 "Edit UI - SP GP Record Conversion Filing"
Design ticket: https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/11621

UX Pin: https://preview.uxpin.com/363a49b33bdb2a314ccac0f18daad8969e93b337#/pages/149525227/simulate/no-panels

[2022-04-14 17:41] mstanton1 opened #11893 "MHR Documents more than 1 day old report"

[2022-04-14 17:43] sienna-blumstengel opened #11894 "Edit UI - Create new page and add initial components - Do this first ⚠️"
**First steps**
- [x] Use same all edit and architecture components of the Change filing; some fields will be empty
- [x] Build entry page
- [x] Build review page
- [ ] ~Save and resume (methods + filing object structure)~ _moved to [11954](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/11954)_
- [ ] ~Update fee type/code~ _moved to [11954](https

[2022-04-14 17:46] seeker25 commented on #10864
This is a nice to have ticket

[2022-04-14 17:48] mstanton1 commented on #10810
@jordiwes I believe Doug and Thor resolved the isssue with the homepage which was preventing deployment. Can you confirm, and if resolved deploy this so we can test?

[2022-04-14 17:50] yuisotozaki commented on #11621
**Grooming Minutes from Thu Apr 14**
Re: Conversion Filing Flows
The team discussed if a simple plain text for Nature of Business is good enough and whether the Registry has plans for cleaning up this data later on for stats purposes.
The team also talked about how to turn off some of the validations (like required fields) but keep the other kinds (like email format if entered).

Outstanding Quest

[2022-04-14 17:57] jinghualicgi commented on #9696
@JohnamLane Hi John, any progress regarding this ticket? cc: @pwei1018

[2022-04-14 18:01] mstanton1 commented on #11853
Looking at a similar matric produced in the 2017 roles types of transfers were split out into two distinct roles because manufacturers can only transfer due to sale or transfer to beneficiary and not due to death of joint tenant. I’ve sent a note to confirm with the business and cc’d you. Based upon the response can you update the spreadsheet if needed.

![image.png](https://images.zenhubuserconte

[2022-04-14 18:10] jinghualicgi commented on #11234
@jdyck-fw Please provide more information and expectation for this ticket. Thanks

[2022-04-14 18:14] jdyck-fw commented on #11234
As Kial spoke to, this is likely more a question for David or Bob. Likely David.

From what I understand, that's what there is to do here. Follow up with David to see if this can be closed. If this doesn't make sense, then perhaps ask Kial.

[2022-04-14 18:14] jdyck-fw commented on #11234
@jinghualicgi ^

[2022-04-14 18:25] droberts27 commented on #11754
Sorry, there is no BN functionality in DEV.

[2022-04-14 18:29] stevenc987 opened #11895 "Generate report: Monthly amount of name requests per staff member over the last two years"
Hi team,

Can I please get a list of Monthly amount of name requests per staff member over the last two years?

Kind regards,

Cameron Wulff

[2022-04-14 18:33] jordiwes commented on #11510
I put a question to you in the chat :)

[2022-04-14 18:55] #11823 closed

[2022-04-14 18:55] #11814 closed

[2022-04-14 18:55] #11341 closed

[2022-04-14 18:55] #11620 closed

[2022-04-14 18:55] #11291 closed

[2022-04-14 18:55] #11806 closed

[2022-04-14 18:55] #11669 closed

[2022-04-14 18:55] #11240 closed

[2022-04-14 18:55] #11219 closed

[2022-04-14 18:55] #11220 closed

[2022-04-14 18:55] #11533 closed

[2022-04-14 18:55] #11381 closed

[2022-04-14 18:55] stevenc987 commented on #11895
Please see monthly reports below:
[https://app.zenhub.com/files/157936592/07343e8c-bf40-46ff-9a30-94182a77e7ee/download](https://app.zenhub.com/files/157936592/07343e8c-bf40-46ff-9a30-94182a77e7ee/download)

[2022-04-14 18:55] #11895 closed

[2022-04-14 18:55] #10824 closed

[2022-04-14 18:55] #11207 closed

[2022-04-14 18:55] #10373 closed

[2022-04-14 18:55] #11668 closed

[2022-04-14 18:55] #11707 closed

[2022-04-14 18:55] #11667 closed

[2022-04-14 18:55] #11607 closed

[2022-04-14 18:55] #11553 closed

[2022-04-14 18:55] #10378 closed

[2022-04-14 18:55] #11347 closed

[2022-04-14 18:55] #11343 closed

[2022-04-14 18:55] #11666 closed

[2022-04-14 18:55] #8322 closed

[2022-04-14 18:55] #11456 closed

[2022-04-14 18:55] #10377 closed

[2022-04-14 18:55] #11342 closed

[2022-04-14 18:56] #9847 closed

[2022-04-14 18:56] #11209 closed

[2022-04-14 18:56] #11496 closed

[2022-04-14 18:56] #11379 closed

[2022-04-14 18:56] #11194 closed

[2022-04-14 18:56] #10010 closed

[2022-04-14 18:56] #10009 closed

[2022-04-14 18:56] #11159 closed

[2022-04-14 18:56] #11290 closed

[2022-04-14 18:56] #10816 closed

[2022-04-14 19:01] #6880 closed

[2022-04-14 19:07] mstanton1 commented on #10367
Kevin will have his review of Amber's suggestions complete next week (April 19th).

[2022-04-14 19:18] jinghualicgi commented on #11696
@pwei1018 do we have more input to Tracey? Please refer to Tracey's comment. Let me know you want to quick call to discuss this, thanks cc: @tlebedovich

[2022-04-14 19:31] ZaidGhauri commented on #11760
@chdivyareddy I checked it again and its working for me. Can you add some more description and more specific case into that bug? So, I can replicate it

@kialj876

[2022-04-14 19:32] ozamani9 commented on #11876
upgraded to Node Version = 16.14.2

[2022-04-14 19:50] sienna-blumstengel commented on #11730
@magszymanski Ahh ok that sounds good, from the comms plan I got the impression we wanted to do more of a deep dive into changes. Awareness is much easier!
Looking at the email you linked for my reference - I would think that would cover everything for awareness for these groups. How should this second email differ? Maybe bring awareness to the training plans for each group?

[2022-04-14 19:51] zac-broitman commented on #11193
I have added all noted production users to the specified groups

[2022-04-14 19:53] fareenr opened #11896 "Update wording on Wills Product - Terms of Service"
Please update the text on Wills Product/Service under Accounts > Products/Services

The main change is removal of the sentence about Title Search companies. REMOVE the text "Title search companies approved by Vital Statistics Agency may also be granted access to Wills Registry."

This is what it should state
Wills Registry
Select this if you need to register the location of a will by filing a will

[2022-04-14 19:56] zac-broitman opened #11897 "Update Wills Registry Terms of Service"
### Description
We need to remove a sentence in the current ToS which mentions Title Search companies. The ToS should be updated to the following:

[2022-04-14 20:09] vysakh-menon-aot opened #11898 "Filing UI - Update party role to sync with schema"
parties endpoint is updated to provide party role same as in schema

[2022-04-14 20:12] jyoti3286 commented on #11897
Duplicate of 11896

[2022-04-14 20:12] #11897 closed

[2022-04-14 20:30] yuisotozaki commented on #9868
There may be more variations. This is dependent of the Acts and the sections within the legislations dictate what goes into these blurb.

[2022-04-14 20:33] eve-git commented on #11591
To reproduce the issue, in DEV,
1. request a NR 5402076
2. Cancel it
3. in pay-db, records show that it has been refunded:
[code]

[2022-04-14 20:34] eve-git commented on #11591
@sienna-blumstengel how to know that the user hasn't received the refund?

[2022-04-14 20:43] chdivyareddy commented on #11760
Hi @ZaidGhauri , I can reproduce it in DEV. Please take a look at the following steps, thanks!!

**Steps to Reproduce:**
1. Login to PPR and navigate to the Registration table.
2. Scroll to the bottom registrations in the table.
3. Remove the base registration which has child registration (Amendment/Renew/Discharge) to it with collapsed view.
4. Try to add the child registration to the table witho

[2022-04-14 20:55] pwei1018 commented on #11696
@tlebedovich @jinghualicgi I just want to know the style (color, font size, font color, position etc.) of banner. I don't expect we display lots of banners.

[2022-04-14 20:56] fareenr commented on #9655
VSA has advised for BCOL help desk to redirect any calls to VS helpline at (250)952-9090.  They never receive any calls for the Wills registry application.

[2022-04-14 21:05] cwulff1 commented on #11190
Resources shared with Team Leads, Joanna, and Wendy.

[2022-04-14 21:05] #11190 closed

[2022-04-14 21:10] mstanton1 commented on #11539
@pwei1018 did your team have capacity for this?

Note: Patrick has identified this is the source of a number of ops tickets so would add value on the ops front.

[2022-04-14 21:19] chdivyareddy commented on #11205
@jordiwes , Please update the following:

(Note that Zenhub 9764 was covering the changes to Lien for Unpaid Wages - those changes have been merged into this ticket)

- [ ] Crown Charge Registration to allow Vehicle Collateral to be entered as optional
- [ ] Crown Charge Amendment to include Vehicle Collateral as optional

Lien for Unpaid Wages (registration type WL) requires changes to Collateral

[2022-04-14 21:32] severinbeauvais commented on #9868
OK. It would be helpful for this implementation to have an idea what (else) might change for different entity types or states.

[2022-04-14 21:42] mstanton1 commented on #11641
@PatrickAHeath can you take a look over the spreadsheet tab linked above and let me know if you see the need for any changes? If not, I can start to create fee codes.

[2022-04-14 21:52] chdivyareddy commented on #11758
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/487e25d8-15f2-406a-be06-a8b11c4fddaf)

[2022-04-14 22:10] cwulff1 commented on #10989
[Decision.Note.-.Identity.Verification.and.Corporate.Search.For.Approval V.4.docx](https://github.com/bcgov/entity/files/8492504/Decision.Note.-.Identity.Verification.and.Corporate.Search.For.Approval.V.4.docx)

Hi team, decision note is tackled.  @lmcclung @olisaezeh @trishreimer let me know if you want to add anything otherwise I will throw it into E-Approvals.

[2022-04-14 22:27] zac-broitman commented on #11404
The main draft is complete, Cameron has suggested including an FAQ with more process-oriented points. I will work with him to complete that.

https://docs.google.com/document/d/1wvesHa_1jSNiPCxZ9Gwy_3NTdsH820btTvUHTy0mJ8k/edit#

[2022-04-14 22:27] zac-broitman commented on #10381
User guide ticket is 11404. Moving this ticket to done.

[2022-04-14 22:33] tlebedovich commented on #11696
hi @pwei1018 @jinghualicgi - this still needs to be groomed and put into our design board as a priority before we have a chance to work on it, sorry! i know its not a huge ticket but we'd just want to think it through properly so it works for everyone.

@mstanton1 please confirm priority and timing and move into Ready for Visual Design if you want it soonish.

Is this the Design ticket or dev tick

[2022-04-14 22:47] vikasvermacertain commented on #11181
User stories need to be created around the following and to be discussed with Thor:

Migrate historical data from COBRS to a platform where we can run some analytics (who will do the migration/ is there a legislation in place around moving data from COBRS to another platform say GCP - Kevin is the policy guy, Melissa is the PO for PPR)

BC registries staff should be able to do quick search on hist

[2022-04-14 23:05] vikasvermacertain commented on #11848
Note for self: Under namex repo - there are jobs created - bunch of jupyter notebooks that run some analytics for names team.

2/ 3 level of metrics:

1 for the Registrar/ Dy. Registrar level - how many names requests are coming in a given period? how much revenue is generated in a qurater(in a given time period) -*this could help in identifying the need for new staff etc.

2 for the Supervisor le

[2022-04-14 23:28] argush3 commented on #11790
jupyter notebook has been run in DEV.  Before the notebook was run, there were 163 users out of 178 users that were missing first name and last name that had a non-null username.  100 users were able to be updated.  The rest were not successful mostly due to there being no corresponding auth user with a matching username.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/

[2022-04-14 23:40] argush3 commented on #11790
Note: work in this ticket does not need to be tagged to a release.

[2022-04-14 23:45] jyoti3286 opened #11899 "Issues with Auth and Pay API for CSO"
**These issues are reported by CSO team**
**For more information reach out to: shaun.millar@nttdata.com**

## Issue 1: Refund requested value needs to be corrected

In the TEST environment I did the following today …

Created a payment. Invoice Id returned was 15261
Create a refund for invoice Id 15261.

Now, if I request a single invoice, using the call: GET https://bcregistry-test.apigee.net/pay

[2022-04-14 23:55] #11574 closed

[2022-04-15 00:09] tlebedovich commented on #11166
@yuisotozaki @rkim13103 @lmcclung Visual Design and UX Updates have been made and are ready fo review

[2022-04-15 00:32] severinbeauvais commented on #11790
Woohoo! Nicely done. Thanks!!!

[2022-04-15 00:55] argush3 commented on #11790
Your welcome!  Yeah, this issue has been lingering for awhile.  Nice to move forward on this.

[2022-04-15 01:04] chdivyareddy commented on #11510
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ec7ca5b8-7551-42f0-948f-656a83a758b6)

[2022-04-15 01:11] seeker25 commented on #10133
I've emailed John an XLSX regarding the Distribution Code names, which need to be provided for the new codes.

[2022-04-15 17:02] seeker25 commented on #10111
` transpileDependencies: ['vuetify', 'vuex-persist', 'fas-ui', 'clickout-event', 'vue-plugin-helper-decorator'] `
inside of vue.config.js

Seemed to fix it:

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/2e13800b-b945-40da-ab8c-fa650544d9a8)

But I'd still like to try with a pure IE 11 browser.

[2022-04-15 17:22] seeker25 commented on #10111
![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/bcc64d0a-157f-47d0-8fae-44c758d3b068)

IE 11  on windows 10 -^

[2022-04-15 17:37] seeker25 commented on #10111
I've created a PR to fix the typos as well.

[2022-04-17 23:12] jordiwes commented on #11205
@chdivyareddy , is it not already there?
![image.png](https://images.zenhubusercontent.com/6018b860657f476731f9d68d/34385fb1-82fd-4bef-bef0-64d156a6f526)

[2022-04-18 14:35] chdivyareddy commented on #11205
@jordiwes , General Collateral default text for Lien for Unpaid Wages should be updated to the above text, please take a look, thanks!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/7f81dc41-446b-41c6-9f4a-c60f80e07bf6)

[2022-04-18 15:22] chdivyareddy commented on #11203
Hi @doug-lovett  @jordiwes, few Crown Charge Registrations did not include the Vehicle collateral component, Please take a look at the following:

- Other
- Rural property tax act
- Provinctional sales tax act
- Petroleum and Natural Gas Act
- Heritage Conservation Notice

- [ ] Error message when submitting Lien for unpaid wages:
**Lien for Unpaid Wages:** {"errorMessage": "API backend third part

[2022-04-18 16:19] #11193 closed

[2022-04-18 16:19] #11408 closed

[2022-04-18 16:54] #11826 closed

[2022-04-18 17:00] doug-lovett commented on #11203
Hi @chdivyareddy here are the relevant registration types:
OT	CROWNLIEN	OTHER
HN	MISCLIEN	HERITAGE CONSERVATION NOTICE
PG	CROWNLIEN	CROWN CHARGE FILED PURSUANT TO PETROLEUM and NATURAL GAS TAX ACT
PS	CROWNLIEN	CROWN CHARGE FILED PURSUANT TO PROVINCIAL SALES TAX ACT
RA	CROWNLIEN	CROWN CHARGE FILED PURSUANT TO TAXATION (RURAL AREA) ACT

HN failed validation because it is a miscellaneous lien, not a

[2022-04-18 17:07] yuisotozaki commented on #11857
Updated description with options and assessments.
The design team was involved in coming up with options.

@lmcclung For your review to decide if this addition to the user experience should be included.

[2022-04-18 17:09] chdivyareddy commented on #11203
@doug-lovett , thanks for checking via API. Those 4 registration types were missing the UI vehicle collateral component. I will add this info in the UI ticket as well, thanks!!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/21004d7e-0787-4529-80af-49e1f3ff489c)

[2022-04-18 17:12] doug-lovett commented on #11203
@chdivyareddy and registration type WL is a failing because it is a miscellaneous lien, not a a crown charge lien:
WL	MISCLIEN	LIEN FOR UNPAID WAGES

[2022-04-18 17:19] chdivyareddy commented on #11203
@doug-lovett , by seeing the ticket description and title - my understanding was the vehicle collateral should be included to WL MISCLIEN LIEN FOR UNPAID WAGES as well, sorry if I was wrong!!

So, in that case vehicle collateral component should not be in WL (Lien for Unpaid Wages) registration type, right?

[2022-04-18 17:22] chdivyareddy commented on #11205
Hey @jordiwes , the vehicle collateral component is missing in these registration types on the UI, please take a look, thanks!!

OT CROWNLIEN OTHER
PG CROWNLIEN CROWN CHARGE FILED PURSUANT TO PETROLEUM and NATURAL GAS TAX ACT
PS CROWNLIEN CROWN CHARGE FILED PURSUANT TO PROVINCIAL SALES TAX ACT
RA CROWNLIEN CROWN CHARGE FILED PURSUANT TO TAXATION (RURAL AREA) ACT

[2022-04-18 17:24] doug-lovett commented on #11203
@chdivyareddy going from the description I think you are correct: I will update the WL validation to allow vehicle collateral.

[2022-04-18 18:02] jinghualicgi commented on #11270
@mstanton1 Melissa, I have checked with Steph, this ticket should move together with ticket: UI - Add a WYSIWYG editor to PPR (to allow better formatting of General Collateral)#11255

[2022-04-18 18:27] doug-lovett commented on #11203
@chdivyareddy API change now in DEV to allow vehicle collateral with the WL registration type.

[2022-04-18 18:44] seeker25 commented on #11866
I looked at the code, found ALLOW_LEGACY_ROUTING_SLIPS is enabled and asked Zac about this:
"Ah that likely is for dev/testing purposes cause we have a bunch of old test data with routing slips that don’t meet the validation"

I think `ALLOW_LEGACY_ROUTING_SLIPS` is set to true on DEV/TEST
If it was disabled: it would raise `Error.RS_DOESNT_EXIST`

[2022-04-18 18:55] seeker25 commented on #11866
Default:

`    ALLOW_LEGACY_ROUTING_SLIPS = os.getenv('ALLOW_LEGACY_ROUTING_SLIPS', 'True').lower() == 'true'`

We could set it to False, if needed.

[2022-04-18 19:00] seeker25 commented on #11866
@jyoti3286 Any idea if `ALLOW_LEGACY_ROUTING_SLIPS` should be disabled?

[2022-04-18 19:18] seeker25 commented on #11866
@pwei1018 Patrick, any idea if this is disabled in PROD? (Probably)

[2022-04-18 20:16] severinbeauvais commented on #11860
### Test Notes

I have tested this in Dev. It works _most of the time_. But some of the time I get a HTTP 504 (Gateway Timeout), which is a back end error. Vysakh looked into this but hasn't found anything. Anyway, if Filing and Paying fails the first time then just retry and it will work. This BE issue should NOT block this ticket but it should be investigated further if anyone has a way to repro

[2022-04-18 21:55] zac-broitman opened #11900 "Remove Individual Person/Business radio buttons for Ministry Account set up"
When setting up a ministry (GOVM) account, in Step 1 Account Information, the user has to select Individual Person Name or Business Name. This is not needed as this is for a Ministry account which does not apply to either option. This can be confusing to users and it has been reported that selecting Business Name may prevent the user from continuing.

![Screen Shot 2022-04-18 at 2.55.41 PM.png](ht

[2022-04-18 22:12] sienna-blumstengel commented on #10826
More business context for Lewis:
* When clients file an annual report (AR), they can indicate the "effective date" in the filing. They use a date picker.
* There is validation that ensures the selected date isn't **before** another filing was effective. (I.e., if the client files an address change effective March 1st, the client can't select an effective date before March 1st, it must be after)
*

[2022-04-18 22:43] yuisotozaki commented on #9868
The next set of filings for entities in our immediate future is Conversions and Amalgamations. Conversions might have the obligations text already in UXPin. @rkim13103 ?

[2022-04-18 22:54] yuisotozaki commented on #10826
I poked around in dev and I can't find an entity that has AR outstanding. I've seen it before thought ...

[2022-04-18 22:58] yuisotozaki commented on #10826
Related to this OPS issue [9118](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/9118). When we do update the messages, we'll need to keep in mind out-of-order filing scenarios by staff.

[2022-04-18 23:57] doug-lovett commented on #11203
Steph's latest UI changes are now in DEV as well.

[2022-04-19 14:36] chdivyareddy commented on #11203
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/1685b1c4-dd77-4a6e-b0de-9b63db8a27bc)

[2022-04-19 14:49] fareenr opened #11901 "Update MHR webpage"
Update this MHR webpage at launch of MHR search to the public:

https://www2.gov.bc.ca/gov/content/housing-tenancy/owning-a-home/manufactured-home-registry#forms-fees

We will require updates when we launch search to the public as we refer to BC Online. There may also be value in mentioning the option for combined search at $12.00.

[2022-04-19 15:12] fareenr opened #11902 "Set up MHR staff Resource site"
[ ] Set up google site with MHR staff resources, policies, procedures
[ ] Check if any of these existing OneNote MHR notes need to be updated and try to move content to MHR staff site. R:\ORCS\MHR_PPR\MHR 40000\00 Policy Procedures\MHR Manuals\MHR OneNote Training

[ ] Initial set up is just for MHR search, but then needs to be expanded to include MHR new registrations, MH owner transfers, MH tran

[2022-04-19 15:34] chdivyareddy commented on #11205
**Current Behavior:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/59c643c6-bd30-40ea-824b-7964f82baad0)

[2022-04-19 15:45] JohnamLane opened #11903 "Onboarding Jenny Chan"
**IDIR**
- [x] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [x] Submit to IT Operations Support. This form should be emailed to the Registries Executive Assistant. Currently this role is held by Michael Leung.

-----------------

**Legacy Applications**
- [x] Access to legacy application

[2022-04-19 16:53] fareenr commented on #11712
MHR Search user research summary saved here:
https://docs.google.com/document/d/1tQs3h7ZmtCxa4vGkxNUDPagz7_EKbC2j/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-04-19 17:42] cwulff1 commented on #11136
I've filled in some of the questions and comments.  I think the biggest thing we need to start understanding is who is doing what with respect to support.  I can confirm how registries staff will support.  There have been concerns with offboarding work to other partners so I foresee BCOL HD and Registry Staff supporting search in the new BR.  Maximus will continue to provide minimal support.  Maxi

[2022-04-19 17:43] severinbeauvais commented on #9868
We should look at possible future messages for a business, eg, "please contact BC Registries to update your information, or "entity is frozen".

I'm thinking that maybe we should have a general mechanism for the API to display messages on the UI, instead of having canned messages in the UI that are triggered by API flags.

[2022-04-19 17:57] yuisotozaki commented on #11859
Started a [speadsheet](https://docs.google.com/spreadsheets/d/1BBE06XQ_rR-N7u2lqzlT5nyfktZrUwMnbIDAiG1CZI4/edit#gid=0) to start organizing kinds and types. Please request edit access.

[2022-04-19 18:16] tlebedovich commented on #10194
@forgeuxGH5's final feedback above seems to have been done - will move this ticket to RFQA.

![Screen Shot 2022-04-19 at 11.13.52 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/9e1bb8b0-3a1f-4806-970c-d6bec3832d2a)

[2022-04-19 18:19] tlebedovich commented on #8084
nice work @ZaidGhauri ! Moving to RFQA

[2022-04-19 18:49] yuisotozaki commented on #9868
Moving communication pieces to the back-end makes sense if the content is digital user flow agnostic. The messages would need to be flow agnostic because the API layer has no idea in what context a certain action (request) is being taken.

Flow agnostic message would be, "Please Contact BC Registries to update your information". (The message content does not refer to anything outside of its concer

[2022-04-19 18:54] forgeuxGH5 commented on #11859
A couple of other notes to cover:

- check the MHR sample for some other validations
- include exact validation message text
- include different validations depending on states/modes of the form (e.g., if in some cases some fields are required and in other cases the fields are not required)

[2022-04-19 19:00] chdivyareddy commented on #10194
Verified!
**Registering party for Registration:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/24b5ad0d-f785-4876-b001-825fab950e31)

**Registering party for Amendment:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/0f530da2-5f97-4629-92f1-3d66025f6279)

**Registering party for Renewal:**
![image.png](https://images.zenhubusercontent.com/

[2022-04-19 19:32] chdivyareddy commented on #11203
Hey @doug-lovett , I missed this, sorry!!

- For these 3 crown charge registrations **Mineral Land Tax Act, Property Transfer Tax Act, School Act** - UI displays "At least one form of collateral (vehicle or general)", but when submitting the registration, the error message displays - General collateral is required for this registration type. Can you please take a look, thanks!!

**errorMessage	"AP

[2022-04-19 19:52] doug-lovett commented on #11203
@chdivyareddy Divya, where is this requirement coming from? According to the spreadsheet https://docs.google.com/spreadsheets/d/18eTumnf5H6TG2qWXwXJ_iAA-Gc7iNMpnm0ly7ctceTI/edit#gid=0 the API is correct. GC is required for these registration types.

[2022-04-19 20:20] chdivyareddy commented on #11203
@doug-lovett , thank you for checking!! I will add this in the UI ticket to update the wording under collateral.

[2022-04-19 20:32] chdivyareddy commented on #11205
Hey @jordiwes ,

- For these 3 crown charge registrations **Mineral Land Tax Act, Property Transfer Tax Act, School Act** - UI displays "At least one form of collateral (vehicle or general)", but when submitting the registration, the error message displays - General collateral is required for this registration type.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/7a3e9e

[2022-04-19 20:57] forgeuxGH5 commented on #9764
In the lien for unpaid wages

**Current state**: If the default General Collateral text is deleted, and the GC field is empty, the field is automatically filled with the default text when the Review and Confirm step is displayed.

**Desired state**: If the default General Collateral text is deleted, and the GC field is empty, it should remain deleted/empty when viewing the Review and Confirm scree

[2022-04-19 21:15] severinbeauvais commented on #9868
^^ good point

I'm coming at this from the observation that different entity types can have different messages (eg, for different filings).

Also, the business logic to identify that a message needs to be displayed should come from the back end.

Finally, the Todo List was originally intended to show generic tasks, and a message could be a "task". (Currently the only task we support is ARs.) Maybe

[2022-04-19 21:40] rarya-freshworks commented on #11226
Checked it in Test Env and is working as expected.

[2022-04-19 21:42] lmcclung opened #11904 "RFC - validations placeholder"
Placeholder for uniform validations across the app

11837 - has a lot of background info we didn't want to lose

[2022-04-19 21:46] #11837 closed

[2022-04-19 22:01] #11226 closed

[2022-04-19 22:35] #11673 closed

[2022-04-19 22:35] #11898 closed

[2022-04-19 22:35] #11860 closed

[2022-04-19 22:35] severinbeauvais commented on #9868
@jdyck-fw Can we review this ticket in planning tomorrow? As you can see, I'm still trying to pull together requirements and designs for this. Right now I don't know what I'd implement. We _do_ have a resource architecture already in Filings UI but how to generalize it... I don't know. I could work on parameterizing some unit tests but there's probably some higher-value work atm.

[2022-04-19 22:35] #11854 closed

[2022-04-19 22:35] #11689 closed

[2022-04-19 22:35] #10891 closed

[2022-04-19 22:39] trishreimer opened #11905 "get team access and training for tool used to send batch emails"

[2022-04-19 22:39] trishreimer commented on #11905
sent email to Wael.

[2022-04-20 01:02] tlebedovich commented on #10689
THIS UXA IS STILL IS PROGRESS - NOT READY FOR DEVS YET --- -

UXA for this ticket and Part 2 #10689:

Reviewed in DEV / BCREG0017 using:
- TRACEY'S TEST GP BUSINESS
- TRACEY'S TEST SP PERSON BUSINESS
- TRACEY'S SP DBA TEST BUSINESS

---

### Sole Prop (Person)

- [ ] Middle name field should say "(Optional)" (it is not required):
![Screen Shot 2022-04-19 at 5.54.33 PM.png](https://images.zenhubuse

[2022-04-20 06:51] #11027 closed

[2022-04-20 06:51] #11263 closed

[2022-04-20 15:21] #8084 closed

[2022-04-20 15:21] #10194 closed

[2022-04-20 15:21] #11203 closed

[2022-04-20 15:21] #11510 closed

[2022-04-20 15:21] #11758 closed

[2022-04-20 15:21] #11516 closed

[2022-04-20 15:32] chdivyareddy commented on #11205
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/02c9acea-abcd-46b6-9f3c-5457ff7f5e65)

[2022-04-20 15:33] fareenr commented on #11529
I've just made a few minor edits @PatrickAHeath. Please review and accept changes. Let me know once the assets team review is done and then I can put it into the publication template.

[2022-04-20 15:46] sienna-blumstengel opened #11906 "Sprint 13.1 Objectives"
Objectives

1. As a user on my dashboard I want to see proprietor and business address information - 100%
2. Create a framework for BN wrapper - create a queue and tracker table and initiative the first call - 95%
3. As a user I want to add a completing party in the SP/GP change filing - 60% (onboarding, tech debt, testing)

Overall - 85%

[2022-04-20 15:51] lmcclung commented on #9868
@yuisotozaki @sienna-blumstengel @lmcclung let's discuss

[2022-04-20 15:52] sienna-blumstengel opened #11907 "Edit UI - SP/GP multi change, fix the "Optional" in all the address fields"
### Description

SP/GP multi change to fix the "Optional" in all the address fields in Edit UI. This issue was fixed for Create UI last week, but its also in Edit UI and should be fixed before we push SP/GP live.

Note: Severin fixed this already in Create Ui, so will have knowledge on this.

### Current behaviour
1. Log in as a client
2. Go to file a multi-change filing to a firm (sp or gp)
**3.

[2022-04-20 15:56] jinghualicgi commented on #10153
@mstanton1 as discussed in RC, remove this ticket from the coming release.

[2022-04-20 15:58] severinbeauvais commented on #11907
The subject component is used for various types of filings (not just SP/GP)...

Cameron says:

[2022-04-20 16:03] #11878 closed

[2022-04-20 16:03] pwei1018 commented on #11878
Duplicate task.

[2022-04-20 16:07] mstanton1 opened #11908 "MHR PIA"
PIA is stored here: R:\S7740\2 LEADERSHIP\Admin 100-499\Info Privacy Protection of Privacy 293\60 PIA Privacy Impact Assessments\Registries Modernization PIA 2022

I believe changes were made to include MHR at the time that PPR was added but review is required. For previous changes (May 2022) Assets worked with Mindy Attwood.

[2022-04-20 16:08] mstanton1 opened #11909 "MHR STRA"
All changes should have been made at the time changes were made for the Personal Property Registry launch. Review is required.

[2022-04-20 16:09] mstanton1 opened #11910 "MHR Updates to DRP"
The DRP is located here:
R:\ARCS\Admin 100-499\Disaster Emergency Response Planning 275\30 Disaster_Emergency recovery plans\BCROS Java and WebMethods services.

Review is required to determine if additional changes are needed. If changes are needed please use 'track comments' and then share to Ian Bott and Keri Sandford to determine if they wish to review.

[2022-04-20 16:09] mstanton1 opened #11911 "MHR Updates to BCP"
Current version stored here: R:\ARCS\Admin 100-499\Disaster Emergency Response Planning 275\30 Disaster_Emergency recovery plans\BCROS Java and WebMethods services

- page 31 includes MHR business procedures. Changes will be required when moved to the modernized registry or at the time which identity verification procedures for paper filings are changed. _Note: discussions in place about allowing

[2022-04-20 16:12] lmcclung commented on #11517
Something we can give the coop student maybe

[2022-04-20 16:22] #9247 closed

[2022-04-20 16:27] lmcclung commented on #10786
Closing this ticket as it will be covered in the BN wrapper epic

[2022-04-20 16:27] #10786 closed

[2022-04-20 16:41] #11275 closed

[2022-04-20 16:44] lmcclung opened #11912 "LEGAL API - update business endpoint to provide info to determine whether SP/GP has incomplete business info"
- The flag value is determined by looking at the required business data when the GET business endpoint call is made
- ~The conversion filing will switch the flag off (this will be done in the filer, to be worked on in #11890)~ Not req'd as the flag value is calculated dynamically

**TODOs**
- [x] populate complianceWarning list for business
- [x] populate task for conversion filing
- [x] add/updat

[2022-04-20 16:45] severinbeauvais opened #11913 "Create UI - add initial business lookup code"
Add initial business lookup code/functionality, same as in Edit UI. This is not the complete functionality (which will come later).

Example:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/004030ac-c723-4100-a922-03fae91fcf0c)

[2022-04-20 16:53] mstanton1 commented on #11762
Decision to leave in the PPR Repository as they are tightly coupled.
Note: This is where we store source code for MHR API.

[2022-04-20 16:57] fareenr commented on #11805
The list of MHR only users from BCOL is saved here. This list was also updated to include potential pilot users and additional contacts from specific companies.
https://docs.google.com/spreadsheets/d/1yz9LCStSM6a3N0D_gC4uiRQG6ijhzFga/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-04-20 16:58] lmcclung commented on #11790
Argus to work with Richard to get a PROD list and run it and then Riyaz/Linda can confirm.

[2022-04-20 16:58] vysakh-menon-aot opened #11914 "Create entity-bn queue for registration of SP/GP"
- [x] Create a new queue `entity-bn`.
- [x] Subscribe to the event queue (`entity.events`) which entity-filer already emits and listen for type `bc.registry.business.registration`
- [x] Create a new table `request_tracker` in lear db
     - id
     - business_id
     - request_type (inform-cra, get-bn)
     - is_processed
     - request_xml
     - response_xml
     - retry_number
     - service_na

[2022-04-20 17:00] stevenc987 opened #11915 "Compare NR payments in postgres vs BCOL payments during March 1-15"
Entity #11801
BCOL helpdesk received calls from users stating the Name Request application UI, receipt and transaction summary showed payment of $31.50 or $131.50 (which is correct), but their BCOL transaction history only showed a charge of $30.00 or $130 (no service fee).

See Ops ticket 594

[2022-04-20 17:00] severinbeauvais opened #11916 "SP/GP Edit UI - finish and hook up business lookup"
This is the Edit UI version of ticket #9260.

- [ ] tbd

[2022-04-20 17:03] fareenr commented on #11147
20-Apr - reviewed with Melissa in detail. Updated with new timelines as per Assets team PI 13 planning.

[2022-04-20 17:04] mstanton1 commented on #11603
@PatrickAHeath to confirm if this is covered off already.

[2022-04-20 17:05] fareenr commented on #9650
14-Apr - Wendy approved revised wording to Terms of Service. Created ticket for relationships team to update Terms of Service in BC Registry - add Wills Product screen.

[2022-04-20 17:11] mstanton1 opened #11917 "UI - Add Wording for Search Table"

[2022-04-20 17:15] #11049 closed

[2022-04-20 17:16] jinghualicgi opened #11918 "Sprint Goal: 13.1"
Overall: 90%
1. Demonstrate that as a staff user I can complete a MHR search and retrieve real data in dev. - 85%
2. As a user I want to be able to format general collateral for a PPR security agreement and copy and paste without introducing unexpected characters. - 90%
3. As a user I want to know how long my searches will be available in my search table. - 95%

[2022-04-20 17:19] jmills-cgi commented on #11829
Acceptance Criteria:

- Test the current instance and determine if it can be used for search
- Build the core for search
- Verify NameX dependencies

[2022-04-20 17:20] jmills-cgi commented on #11829
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/search-team-space-623397c083af5e0011da2662/issues/bcgov/entity/11829?planning-poker) with ZenHub @kialj876 @thorwolpert

[2022-04-20 17:27] jmills-cgi commented on #11828
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/search-team-space-623397c083af5e0011da2662/issues/bcgov/entity/11828?planning-poker) with ZenHub @kialj876 @thorwolpert

[2022-04-20 17:33] jmills-cgi commented on #11827
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/search-team-space-623397c083af5e0011da2662/issues/bcgov/entity/11827?planning-poker) with ZenHub @kialj876 @thorwolpert

[2022-04-20 17:36] tlebedovich commented on #11700
@forgeuxGH5 - I still need to know the list of locations this search will be appearing please

[2022-04-20 17:39] tlebedovich commented on #11857
@yuisotozaki - can you show these options to the design team next meeting?

[2022-04-20 17:40] jmills-cgi commented on #11833
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/search-team-space-623397c083af5e0011da2662/issues/bcgov/entity/11833?planning-poker) with ZenHub @lekshmimallika-aot

[2022-04-20 17:41] jmills-cgi commented on #11833
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/search-team-space-623397c083af5e0011da2662/issues/bcgov/entity/11833?planning-poker) with ZenHub @kialj876 @thorwolpert

[2022-04-20 17:42] thorwolpert opened #11919 "UI - ci/cd"
- [x] create openshift info for UI (route/service/deployment/image streams)
  - [x] dev
  - [x] test
  - [x] prod (don't add the route yet + pause the deployment)
- [x] ~update oidc to allow auth integration with search~ *changed ocp stuff to use existing route path allowing us to use existing entity-web without changes*
- [x] create secrets in 1 pass
  - [x] new vault with values for registry sea

[2022-04-20 17:42] thorwolpert opened #11920 "CI/CD scripts for the API"
- [ ] CI / CD scripts for the API

[2022-04-20 17:44] jmills-cgi commented on #11919
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/program-space-6148f085cdddca001294333e/issues/bcgov/entity/11919?planning-poker) with ZenHub @thorwolpert @kialj876 @lekshmimallika-aot

[2022-04-20 17:48] jmills-cgi commented on #11920
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/program-space-6148f085cdddca001294333e/issues/bcgov/entity/11920?planning-poker) with ZenHub @kialj876 @lekshmimallika-aot @thorwolpert

[2022-04-20 17:57] chdivyareddy commented on #9764
@jordiwes ,

**Current Behavior:** When the default General Collateral text is deleted, and the GC field is empty, then the Review and Confirm screen displays Collateral with "This step is unfinished", but when the user clicks on the link and returns to "add collateral" screen, then the GC field is auto-filled with the default text (same applies for all the other GC with default text crown charge

[2022-04-20 18:27] chdivyareddy opened #11921 "Crown Charge Registrations - Deleted General Collateral default text should not auto-fill in 'Add Collateral' step"
- [ ] When the default General Collateral text is deleted, and the GC field is empty, then the Review and Confirm screen displays Collateral with "This step is unfinished", but when the user clicks on the link and returns to "add collateral" step, then the GC field is auto-filled with the default text (same applies for all the other GC with default text crown charge registrations).

![image.png](h

[2022-04-20 18:30] #9526 closed

[2022-04-20 18:44] chdivyareddy commented on #9764
Created Zenhub #11921 for the issue, moving this ticket along.

[2022-04-20 19:20] rkim13103 opened #11922 "Component library design - Text Fields/Address"
Create/design a Component library for Mailing Address and Delivery Address

- Revisit existing address component, general fields and forms
- Unify visual patterns: spacing, layout, colour
- Unify Interaction patterns: validation, presenting errors, wordings
- Documentation & visual wireframes
- what validations to apply to different fields
- what  validations to apply to a form as a whole
- when t

[2022-04-20 20:08] fareenr commented on #11336
20-Apr - confirmed this is still on hold and with Policy team/ Kevin to identify objective and purpose of this document first

[2022-04-20 20:17] #10675 closed

[2022-04-20 20:22] lmcclung opened #11923 "Firm cleanup Epics"

[2022-04-20 20:28] lmcclung commented on #9259
Work done by orgbook

[2022-04-20 20:28] #9259 closed

[2022-04-20 20:28] lmcclung commented on #9258
To be done under the BN wrapper epic Vysakh is workin gon.

[2022-04-20 20:28] #9258 closed

[2022-04-20 21:12] sienna-blumstengel commented on #10826
AR:

CP1002440

in test
bcreg0001

under bob

[2022-04-20 21:21] sienna-blumstengel commented on #10826
@lekshmimallika-aot is this the error message you were referring to when you wrote this ticket?
![Screen Shot 2022-04-20 at 2.21.03 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/e1c75d8a-4e2a-4699-9c38-a603f373d794)

[2022-04-20 21:54] lmcclung opened #11924 "Folio number automatically added to NR - even when not requested"
**Describe the bug in current situation**
This bug needs to be verified - reported by a client under Ops ticket 536 -

When a premium account holder requests a name and doesn't enter an optional folio number, the transaction statement the Account manager reviews will display a folio number against the NR even though one wasn't chosen.  We think it it taking a default folio number from one of the e

[2022-04-20 21:59] ozamani9gh commented on #11876
Severins note:

For local development, the node/npm version needs to be updated also. You are right: this is not done in the package.json. It is part of the user's dev environment.

[2022-04-20 22:01] seeker25 commented on #11866
Closing for now, no work needed.

[2022-04-20 22:01] #11866 closed

[2022-04-20 22:05] ozamani9gh commented on #11876
@riyazuddinsyed.  NameRequest has been updated to use Version 16.14.2.  Please do end to end testing in DEV.

thanks

[2022-04-20 22:09] ozamani9gh commented on #11811
@lmcclung this ticket is ready to be closed, unless there is still Access that Lewis does not have

[2022-04-20 22:10] jinghualicgi opened #11925 "OCM - SP/GP Stabilization"

[2022-04-20 22:10] lmcclung commented on #11924
@mstanton1 what user ID could we use in dev or test to test this out - needs to be a prime/account manager.

[2022-04-20 22:14] jinghualicgi opened #11926 "OCM - Upload Queue"
Create this epic not only for this task, but also for similar tasks in the future

[2022-04-20 22:15] doug-lovett commented on #10810
@jordiwes @chdivyareddy To deploy to dev cleanly I rolled back sbc-common-components to the previous version 2.4.38. The deployed version is PR 57 without PR 56 (the common component version change). There is a feature flag to conditionally display the badge. Can someone test this?

[2022-04-20 22:15] jinghualicgi opened #11927 "OCM - Firm Individual Index"

[2022-04-20 23:04] mstanton1 commented on #11255
As a result of review from Scott:
- Copy / paste error isn't resolved. Can you see if there are further changes to prevent the additional character from being added?
- The box extends quite long. If a user wants to format they have to scroll up to access the toolbar. Please reduce length of the box so the toolbar is always visible on the screen when editing.
- We are losing some formatting on the

[2022-04-20 23:19] severinbeauvais commented on #11913
### Test Notes

1. In a SP, **add** a company as a proprietor.
  - Toggle between manual add panel and business lookup panel.
  - Verify text (should refer to "the Proprietor").
2. In a GP, **add** a company as a partner.
  - Toggle between manual add panel and business lookup panel.
  - Verify text (should refer to "a partner").

Note that toggling between manual add panel and business lookup whi

[2022-04-20 23:25] mstanton1 commented on #10367
Kevin has reviewed the PPR press release and given the language in this noted "It is more evident from this communication that BCROS and Citizens’ Services more broadly are comfortable with using the term “lien” in the broad, colloquial sense rather than in the narrower understanding applicable within PPSA and PPR."

Based upon this a decision has been made to not pursue a further update. This tic

[2022-04-21 00:06] chdivyareddy commented on #10810
@doug-lovett  It is working now, thank you!!

@jordiwes , New badge to the BCROS Home page is not being displayed in DEV, can you please take a look, thanks!!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e9049721-755f-47c0-bab9-8036ed4f3384)

[2022-04-21 14:17] fareenr opened #11928 "Create PPR/MHR combined search guide (or add to existing PPR Search guide) for external users"
Kevin and policy team suggested that an update will be needed to the PPR search guide when Combined PPR/MHR search is available to let users know that this is by registration number only, not owner name and describe how the combined search is working at a high-level.

[2022-04-21 14:46] magszymanski opened #11929 "Update BCOL website (landing page & announcement) | Due: waiting on completion by Home Team"
Updates to the landing page and announcements.

**Landing page**
needs to include all upcoming releases, including scheduled 2022 reg releases and BCOL partner releases.
Please review the [Slides ](https://docs.google.com/presentation/d/1a1CReu4ZEHnc8j1P7qCNviZfxTUwlVvK/edit?usp=sharing&ouid=109508011503764748857&rtpof=true&sd=true)that will be submitted to home team. Needs to be checked for dates

[2022-04-21 14:46] magszymanski opened #11930 "Update BCOL website (landing page & announcement) | Due: April 22"
Updates to the landing page and announcements.

**Landing page**
needs to include all upcoming releases, including scheduled 2022 reg releases and BCOL partner releases.
Please review the [Slides ](https://docs.google.com/presentation/d/1a1CReu4ZEHnc8j1P7qCNviZfxTUwlVvK/edit?usp=sharing&ouid=109508011503764748857&rtpof=true&sd=true)that will be submitted to home team. Needs to be checked for dates

[2022-04-21 15:28] stevenc987 commented on #11801
@lmcclung

Here is the investigation result:

Here is what I found:
1.	The discrepancy was caused by the user “SERVICE-ACCOUNT-NAME-REQUEST-SERVICE-ACCOUNT”
2.	The role for this account is system:
 ![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/bbd71224-28f9-47cb-af75-a704cb937536)

3.	Get the fee code for BC OnLine calling (pay_api\services\bcol_service.py):

        p

[2022-04-21 15:30] tlebedovich commented on #10689
Reviewed in DEV / BCREG0017 using:
- TRACEY'S SP DBA TEST BUSINESS

### DBA - Sole Prop (Business):

- [ ] Proprietor component intro text: remove the word "individual":
![Screen Shot 2022-04-21 at 8.18.33 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/9d5924d3-03c5-4c22-bd70-d4f41aa095d9)

- [ ] Wrong text for business name check box - should say: I confirm the proprietor h

[2022-04-21 15:59] #11915 closed

[2022-04-21 16:08] mstanton1 commented on #10810
Doug has ensured the Registries page is now available. There was an issue with the "New" badge displaying. As it is now 3 months post release the effort to create the new badge does not seem warranted. Moving to closed as there is nothing to actually deploy (no need to add to a release).

[2022-04-21 16:08] #10810 closed

[2022-04-21 16:13] forgeuxGH5 commented on #11599
@mstanton1 @jordiwes We haven't spec'd the behaviours for Staff but we should do that if Staff will be the first users. For example, the Staff Payment modal should be displayed after staff select the "Pay and Download" button.

[2022-04-21 16:18] fareenr commented on #11929
@magszymanski The second slide/ coming soon list version is better for now until we know the dates for the BCOL partners a bit better.  I changed Wills Registry to June 2022 as their development is done so they should be able to launch by end of June (or maybe mid-Jun)

[2022-04-21 16:19] #11692 closed

[2022-04-21 16:26] cameron-freshworks commented on #11742
Minor update here.
The shared component has been built and being published (shortly)

The work remaining here contains:
- [ ] Imported/Use Shared Component   (wrap with local v-card)
- [ ] Fetch User account name + mailing address (The latter i'm still unsure where this comes from)
- [ ] Pass props to component (ie completingParty data, validation promp, address schema, isStaffFlag)
- [ ] Handle a

[2022-04-21 16:27] severinbeauvais opened #11931 "RFC: determine best practises for field and form validation"
There are a lot of outstanding questions regarding:
- what validations to apply to different fields
- what  validations to appy to a form as a whole
- when to trigger validations and show errors

A lot of these questions were asked in [`#11837`](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/11837) and others are being mulled over by @severinbeau

[2022-04-21 16:37] severinbeauvais commented on #11931
Possible resource: https://docs.google.com/spreadsheets/d/1BBE06XQ_rR-N7u2lqzlT5nyfktZrUwMnbIDAiG1CZI4/edit?hl=en#gid=0

[2022-04-21 16:38] severinbeauvais commented on #11931
cc: @rkim13103

[2022-04-21 16:47] severinbeauvais commented on #11913
@yuisotozaki This is now deployed to Dev for your UX Assurance. Please and thanks!

[2022-04-21 16:49] yuisotozaki commented on #11913
On my todo list!

[2022-04-21 17:00] lekshmimallika-aot commented on #10826
Yes

[2022-04-21 17:12] yuisotozaki commented on #9828
UXA Notes for @Lcyc29
1. Checkbox text in Step 1 needs adjustments. The referred "Certify" component is in Step 3.
2. Spacing between the baseline of the last line of text to the thin grey line below is off by a couple of pixels. Use the Name Request Applicant subsection above as a reference.
<img src="https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/3f800bad-ffe9-45b8-9007-4a023b0962

[2022-04-21 17:18] severinbeauvais commented on #9828
The Name Request Application subsection uses classname `section-container` which provides 1 rem padding all around. The Business Type component uses `py-8` and `px-6` to give 8x0.25=2rem horizontal padding and 6x0.25=1.5rem vertical padding.

[2022-04-21 17:21] cameron-freshworks opened #11932 "Edit UI - Proprietor and Partner - UX Improvements"
This ticket is to capture remaining UX updates from tickets: #10689 & #11793

Please see the 4 UXA Comments - it was easier to follow when I had each flow separated out.

**Tracking tasks/checkboxes:**

_UXA 1 of 4 - Reviewed in DEV / BCREG0017 using: TRACEY'S SP DBA TEST BUSINESS_

**Sole Prop (Person):**
- [x] Proprietor component intro text: remove the word "individual":
- [x] Increase white sp

[2022-04-21 17:22] gprimeau commented on #10036
@sienna-blumstengel Revised Version, as per Amber's wording and recommendations

[V2_DRAFT INFO  BEN - Dissovle a BC Benefit Company.pdf](https://github.com/bcgov/entity/files/8533244/V2_DRAFT.INFO.BEN.-.Dissovle.a.BC.Benefit.Company.pdf)

[2022-04-21 17:23] lekshmimallika-aot commented on #9840
Is there a change of address filing for firms? Should the edit icon be there next to the Business Addresses header in the dashboard.
@lmcclung @tlebedovich

![image.png](https://images.zenhubusercontent.com/5d1b92287dbee07d2cfbebf7/f8543ac9-114e-4175-bf18-1a6459e34871)

[2022-04-21 17:23] cameron-freshworks commented on #11932
THIS UXA IS STILL IS PROGRESS - NOT READY FOR DEVS YET --- -

UXA for this ticket and Part 2 #10689:

Reviewed in DEV / BCREG0017 using:

TRACEY'S TEST GP BUSINESS
TRACEY'S TEST SP PERSON BUSINESS
TRACEY'S SP DBA TEST BUSINESS
Sole Prop (Person):
 Middle name field should say "(Optional)" (it is not required):
Screen Shot 2022-04-19 at 5.54.33 PM.png
--
 Increase white space below Name check box t

[2022-04-21 17:24] cameron-freshworks commented on #11932
Reviewed in DEV / BCREG0017 using:

TRACEY'S SP DBA TEST BUSINESS
DBA - Sole Prop (Business):
 Proprietor component intro text: remove the word "individual":
Screen Shot 2022-04-21 at 8.18.33 AM.png

 Wrong text for business name check box - should say: I confirm the proprietor has legally changed their name and that the proprietor remains the same "business." (not "person")

Screen Shot 2022-04-2

[2022-04-21 17:41] jinghualicgi commented on #11696
@tlebedovich This is a design ticket

[2022-04-21 17:43] mstanton1 opened #11933 "Daily file of PPR Total Discharges"
PPR and MHR are using different DB's. If a PPR total discharge occurs the discharge is not sent back to the MHR DB as there is no communication between the two. If a client tries to perform an action on that Manufactured Home in a number of cases they will be halted as a PPR lien still shows active.

Request: Create a job/file that runs daily and lists all PPR total discharges that have taken plac

[2022-04-21 17:47] Lcyc29 commented on #9828
The Name Request block uses a class "section-container", which is inherited from the bcrs project, but the Nature of Business and Business Number blocks don't use it. The Business Type checkbox block was following the Business Number block, and that's why there is a few missing pixels. I am going to follow the Name Request block and use "section-container".

[2022-04-21 18:01] jinghualicgi commented on #11591
@sienna-blumstengel Sienna, if you are busy, can someone else help to reproduce this error? Thanks cc: @lmcclung

[2022-04-21 18:03] #9009 closed

[2022-04-21 18:03] #9501 closed

[2022-04-21 18:03] #9784 closed

[2022-04-21 18:03] #10052 closed

[2022-04-21 18:03] #10404 closed

[2022-04-21 18:03] #10774 closed

[2022-04-21 18:03] #11078 closed

[2022-04-21 18:03] #11094 closed

[2022-04-21 18:03] #11154 closed

[2022-04-21 18:03] #11198 closed

[2022-04-21 18:03] #11541 closed

[2022-04-21 18:03] #11851 closed

[2022-04-21 18:03] #8901 closed

[2022-04-21 18:03] #9514 closed

[2022-04-21 18:03] #11256 closed

[2022-04-21 18:03] #11259 closed

[2022-04-21 18:03] #11488 closed

[2022-04-21 18:03] #11606 closed

[2022-04-21 18:03] #11690 closed

[2022-04-21 18:03] #5739 closed

[2022-04-21 18:03] #8810 closed

[2022-04-21 18:03] #10012 closed

[2022-04-21 18:03] #10195 closed

[2022-04-21 18:03] #10844 closed

[2022-04-21 18:03] #10940 closed

[2022-04-21 18:03] #11257 closed

[2022-04-21 18:03] #11258 closed

[2022-04-21 18:03] #11615 closed

[2022-04-21 18:05] jinghualicgi commented on #9696
@JohnamLane John, any progress with this ticket? Or if you are busy with search, is there anyone else we can get help for this task? Thanks

[2022-04-21 18:13] trishreimer opened #11934 "Define and implement new end user training & testing strategy"
**Problem: Clients are having issues/problems understanding what to do in our system, which then puts a heavier load on our help desks and staff, resulting in delayed transactions and in some cases an unhappy client experience.**

**Outcomes:**
- feedback on design and any missing requirements from clients
- understand if there are questions/issues before go live so we can try to be more proactive

[2022-04-21 18:18] magszymanski commented on #11930
This is now with the home team. I asked IT Ops about an April 27 due date.

[2022-04-21 18:21] severinbeauvais commented on #11742
Please create a new ticket for incomplete todo items and then move THIS ticket to the next pipeline.

[2022-04-21 18:24] magszymanski commented on #11929
Sent an email with the change request to IT Ops to create a tix for the home team.  I asked about April 27 as a due date to implement changes

[2022-04-21 18:49] gprimeau commented on #11249
@sienna-blumstengel  I believe I have updated everything that you mentioned in the corrections.

[DRAFT_ REG 706 - Registration Statement.pdf](https://github.com/bcgov/entity/files/8534305/DRAFT_.REG.706.-.Registration.Statement.pdf)

[2022-04-21 18:52] cameron-freshworks opened #11935 "Edit UI - Hook Up Completing Party"
This is a follow-on ticket from [`#11742`](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/11742).

The work remaining here in EDIT UI contains:

- [ ] Fetch CP account name + mailing address + email (see Create UI for example)
- [ ] Pass props to component (ie completingParty data, validation flag, address schema, isStaffFlag)
- [ ] Handle added

[2022-04-21 18:52] cameron-freshworks commented on #11742
Done and done
Ticket: https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/11935

[2022-04-21 18:58] PatrickAHeath commented on #11641
@mstanton1 I've added additional fee codes at the bottom of the spreadsheet based on what currently is on the MHR website for fees.  The descriptions don't always line up with the descriptions in the regulations.

The Exemption Order seems to be categorized as Residential or Non Residential, each with a different fee.

I'll have to check if the $1.50 fee is charged on txns other than search.  (It

[2022-04-21 19:03] severinbeauvais commented on #11742
@tlebedovich @yuisotozaki Please add any further todo items to #11935.

[2022-04-21 19:04] PatrickAHeath commented on #11603
@mstanton1 This seems to be a duplicate with 11810, which Steph was working on.

[2022-04-21 19:10] cameron-freshworks opened #11936 "Edit UI - Hook up Completing Party"
This is a follow-on ticket from [`#11742`](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/11742).

This ticket is to complete all the work remaining for the EDIT UI.

- [x] Fetch CP account name + mailing address + email (see Create UI for example)
- [x] Pass props to shared component (ie completingParty data, validation flag, address schema, isS

[2022-04-21 19:11] cameron-freshworks commented on #11935
Closing: Created in wrong team space

[2022-04-21 19:11] #11935 closed

[2022-04-21 19:14] jinghualicgi commented on #10926
@cwulff1 , any update for this task?

[2022-04-21 19:15] lmcclung opened #11937 "Onboard Catherine Carlson to Zenhub & Business Registry as staff"
**Onboarding checklist for new team members**

This should be created at least a couple of days before a new member comes on board.

**IDIR**
- [ ] ~Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.~  CCARLSON
- [ ] ~Submit to IT Operations Support. This form should be emailed to the Registries

[2022-04-21 19:16] jinghualicgi commented on #10989
Assign this ticket to @lmcclung @olisaezeh @trishreimer ,  please refer to above Cameron's comments, thanks

[2022-04-21 19:22] sienna-blumstengel commented on #10036
[https://app.zenhub.com/files/157936592/6ca641d6-4eb3-46ae-9f21-adf5cbf18e9f/download](https://app.zenhub.com/files/157936592/6ca641d6-4eb3-46ae-9f21-adf5cbf18e9f/download)
@gprimeau I added some more comments! Just based on some of Amber's feedback

[2022-04-21 19:29] jinghualicgi commented on #11283
#### **OCM Retro April20**

![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/e823fe89-7f10-48ad-9c37-2334f78a3243)

https://app.mural.co/t/leadingsafetrainingtemplate5894/m/leadingsafetrainingtemplate5894/1635367606652/b4fa80bd3eb12b6124583c1b7ab4d3260cf51019?sender=ud8c29093473b548514da7248

####  **Action Points:**

**Need follow-up from previous retro**
- [ ] OCM need

[2022-04-21 19:40] fareenr commented on #11715
Change and comms plan for RPT saved here: https://docs.google.com/document/d/1xS9P3XfNXbdIV0uRaauVXFCnauxiOuQA/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

Reviewed with Sarah Infanti and Finance Revenue Division team on 21-Apr-2022.

[2022-04-21 19:40] fareenr commented on #11715
Change and comms plan for RPT saved here: https://docs.google.com/document/d/1xS9P3XfNXbdIV0uRaauVXFCnauxiOuQA/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

Reviewed with Sarah Infanti and Finance Revenue Division team on 21-Apr-2022.

[2022-04-21 20:00] #11603 closed

[2022-04-21 20:13] gprimeau commented on #10036
@sienna-blumstengel : et voila
[V2_DRAFT INFO  BEN - Dissovle a BC Benefit Company.pdf](https://github.com/bcgov/entity/files/8534772/V2_DRAFT.INFO.BEN.-.Dissovle.a.BC.Benefit.Company.pdf)

[2022-04-21 20:17] sienna-blumstengel commented on #11249
Looks great!! One last thing:
![Screen Shot 2022-04-21 at 1.16.07 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/38c28077-e5d6-48ad-a506-a0f6769420bc)
Let me know when that is updated and I will send to staff for review :)
@gprimeau

[2022-04-21 20:19] sienna-blumstengel commented on #10018
We will discuss this at the meeting on April 27th
https://docs.google.com/document/d/19md9hXBU70lsLsOh11LZXdGc_0HqKW-BZndkh3PnKZo/edit?usp=sharing

[2022-04-21 20:20] seeker25 commented on #11467
Waiting on Ali to provide us with better data.

[2022-04-21 20:20] seeker25 commented on #10133
There has been quite a bit back and forth, SOFI didn't map to some of the codes so we needed to put in additional codes. There was also a fix for CORP_TYPE_CODE allowing it to be a single letter.

[2022-04-21 20:20] sienna-blumstengel commented on #11235
@trishreimer sorry I dropped the ball on this, but I think it might make sense to assign this to someone else, since I am leaving in 1.5 weeks.

[2022-04-21 20:22] gprimeau commented on #11249
@sienna-blumstengel  last issue amended!

[DRAFT_ REG 706 - Registration Statement.pdf](https://github.com/bcgov/entity/files/8534825/DRAFT_.REG.706.-.Registration.Statement.pdf)

[2022-04-21 20:22] seeker25 commented on #10111
For QA for this ticket, try running through the application and ensure there are no errors. (Shouldn't be).

[2022-04-21 21:14] mstanton1 commented on #11641
@PatrickAHeath I appreciate the review.

I've created a number of the additional items you've identified. I color coded those as green in the spreadsheet once they were created in all environments. There are three I have sent to the business before creating as they may be different wording for things that already have been created.

E.g. Could "Registered Location Change" be different wording for

[2022-04-21 21:17] severinbeauvais commented on #9841
@yuisotozaki

The subheader cannot call this a "registration" because this is now a business, not a filing. OK?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/01f92c6b-dd53-403a-88e6-8f771d753d14)

[2022-04-21 21:26] argush3 commented on #11790
@lmcclung @riyazuddinsyed this should be ready for testing in prod.  @rarmitag has run the notebook in prod.  1022 users were successfully updated.  i.e. they should have first name and last name now.  I will send a spreadsheet directly to you two via RC which will contain two tabs.  The first tab will contain the users that were updated and the second tab will contain the filings associated with

[2022-04-21 21:30] yuisotozaki commented on #9841
Yep that totally makes sense.

[2022-04-21 21:37] tlebedovich commented on #10689
Reviewed in DEV / BCREG0017 using:
- TRACEY'S TEST GP BUSINESS

### GP Flow:

- [ ] Partner component intro text: remove "that were added manually during registration."

![Screen Shot 2022-04-21 at 8.38.17 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/c17b916a-4e00-4097-8c2c-3adbabfce101)

-----
**Validation for less than 2 Partners:**
- [ ] If user removes partners and has

[2022-04-21 21:38] jyoti3286 commented on #9696
Its being tested right now, @jinghualicgi

[2022-04-21 21:42] sienna-blumstengel commented on #11459
@lmcclung ask corps team if we should include folio for a free filing

[2022-04-21 21:44] tlebedovich commented on #11932
UXA 1 of 4 -

Reviewed in DEV / BCREG0017 using: TRACEY'S SP DBA TEST BUSINESS

### Sole Prop (Person):

- [ ] Proprietor component intro text: remove the word "individual":
![Screen Shot 2022-04-21 at 8.18.33 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/9d5924d3-03c5-4c22-bd70-d4f41aa095d9)
-----
- [ ] Increase white space below Name check box text by 5px so its further a

[2022-04-21 21:46] tlebedovich commented on #11932
UXA 2 of 4 -

Reviewed in DEV / BCREG0017 using: TRACEY'S SP DBA TEST BUSINESS

### DBA - Sole Prop (Business):

- [ ] Proprietor component intro text: remove the word "individual":
![Screen Shot 2022-04-21 at 8.18.33 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/9d5924d3-03c5-4c22-bd70-d4f41aa095d9)

-----

- [ ] Wrong text for business name check box - should say: I confi

[2022-04-21 21:48] tlebedovich commented on #11932
UXA 3 of 4 -

Reviewed in DEV / BCREG0017 using: TRACEY'S TEST GP BUSINESS

### GP Flow:

- [ ] Partner component intro text: remove "that were added manually during registration."

![Screen Shot 2022-04-21 at 8.38.17 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/c17b916a-4e00-4097-8c2c-3adbabfce101)

-----
**Validation for less than 2 Partners:**
- [ ] If user removes part

[2022-04-21 21:49] tlebedovich commented on #11932
UXA 4 of 4

### All Flows:

- [ ] Middle name fields should say "(Optional)" (it is not required):
![Screen Shot 2022-04-19 at 5.54.33 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/e38a0df0-b96d-4c85-ad26-a59cf15cd02f)

-----
**Help Text Expansion (SPG/DBA/GP):**

- [ ] Remove the negative letterspacing from "Contact BC Registries" header
- [ ] Lower case "t" for Pacific ti

[2022-04-21 21:50] sienna-blumstengel commented on #11459
Linda confirmed that this is not needed because it is a free filing

[2022-04-21 21:50] #11459 closed

[2022-04-21 21:51] tlebedovich commented on #10689
Moving this to RFQA

UXA has moved to a new ticket - https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/11932

[2022-04-21 21:51] tlebedovich commented on #11793
Moving this to RFQA

UXA has moved to a new ticket - https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/11932

[2022-04-21 21:55] #11794 closed

[2022-04-21 21:55] #11795 closed

[2022-04-21 22:03] zac-broitman commented on #11211
@seeker25 Here is the ticket for this issue

[2022-04-21 22:26] JohnamLane opened #11938 "Printable View of Search Results Screen"

[2022-04-21 22:32] JohnamLane opened #11939 "UI changes - Certificate of Good Standing from the Company of Dashboard"
Note: This is offered to BEN and COOPS only

In order for the option for Client to purchase the Certificate of Good Standing from the Company Dashboard to be active

Entities applicable for Certificate of Good Standing are
- Amalgamated Company
- BC Company
- Continued Company
- Cooperative
- Credit Union - Shortcut
- Credit Union
- LLP
- Private Act
- Society
- XPro Amalgamated Company
- XPro Ass

[2022-04-21 22:35] JohnamLane opened #11940 "Define MVP returning client experience"

[2022-04-21 22:43] yuisotozaki commented on #11913
UXA observations:
* The "Business or Corporation Look up" option should be the default form shown to user.
* I know I said this text is OK earlier today, but would it be possible to make a small static change and a dynamic word content?
<img src="https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/d4d7a77e-1499-43d5-a99a-be64e14e88e7" width=600>

[2022-04-21 22:55] seeker25 commented on #11211
the python job in the pod seemed to be outdated. Trying a re-deploy on TEST.

[2022-04-21 22:57] JohnamLane opened #11941 "Printable view of the filing history prior to payment"

[2022-04-21 22:58] JohnamLane opened #11942 "Mechanism to handle incomplete data"
As firms get imported into the new modernized database (LEAR), some data may be missing.

Some clients will complete a conversion filing, but we must plan to handle incomplete data that may be present prior to a conversion being complete.

Conversion is a manual process in this case, and it won't be completed by the client. Reg staff will be pulling the paper file and keying in the missing files m

[2022-04-21 22:58] trishreimer opened #11943 "Transition ops work to IT Ops"
- [x] Provide access to zenhub

- [x] provide training in zenhub

- [x] Names Test - access

- [x] Provide access to names test database

[2022-04-21 22:59] trishreimer commented on #11943
- [ ] Provide access to zenhub

- [ ] provide training in zenhub

- [ ] Names Test - access

- [ ] Provide access to names test database

[2022-04-21 22:59] lmcclung commented on #11790
@argush3 I did some spot checks and they look good.  Although, I did notice some names are in upper case and others are mixed case.  Do we just use whatever format they entered when they set up their account?  How difficult to make it show consistantly as mixed case?

[2022-04-21 23:04] trishreimer commented on #11943
David Draker, Jordan Merrick, Kelly Marney, Samson Ohiobor and starting Monday Tyson Graham

[2022-04-21 23:08] trishreimer commented on #11943
@jinghualicgi would you mind helping me find someone on the team who can train up these staff members on zenhub? They work in IT Ops and will be starting with NR refunds on ops.

[2022-04-21 23:09] trishreimer commented on #11943
@pwei1018 the following people will need access to zenhub and names test app and database.

[2022-04-21 23:10] tlebedovich commented on #11932
ok @jdyck-fw @severinbeauvais @yuisotozaki @rkim13103 - this was hours in the UXA making, I think I got everything. This ticket should be good to groom whenever.

[2022-04-21 23:11] severinbeauvais commented on #11913
Since this option is not fully implemented, I have added this item to #9260.

Fixed. Please check again.

[2022-04-21 23:17] yuisotozaki commented on #11913
Checked. The last bit of dynamic word swapparoo for the "All other types of business cannot be a proprietor or partner." text does not seem to be in dev.
For SP: All other types of business cannot be a proprietor.
For GP: All other types of business cannot be a partner.

[2022-04-21 23:19] severinbeauvais commented on #11790
^^ It should be easy to capitalize all names but I don't know how we'd handle the exceptions, eg, Don Diego de la Vega, Ana de Armas, Erin O'Toole, ... Which would be less offensive to users?

[2022-04-21 23:20] yuisotozaki commented on #11932
I don't mean to throw a wrench in here but some of the checkbox's text seem to be not well vertically aligned with the checkbox itself ...

[2022-04-21 23:24] Maribeth-Wilson commented on #10011
follow up email to local govt and muni offices can be found here: https://docs.google.com/document/d/1monHv2yZqVJ3dFMj58-44zAZem5J-w4D/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

[2022-04-21 23:26] severinbeauvais commented on #11932
Yes, by default the Vuetify checkbox aligns vertically centered with the text. We override that but in many cases a bit of negative margin is also required to align their tops.

[2022-04-21 23:29] severinbeauvais commented on #11913
I thought I was supposed to leave that one as-is since it covers all cases. Since you brought it up, I will fix it...

[2022-04-21 23:33] lmcclung commented on #11790
@severinbeauvais fun FAQ.
@argush3 let's leave it as it until someone complains.

I'm closing this ticket.  Great work everyone!

[2022-04-21 23:33] #11790 closed

[2022-04-21 23:35] seeker25 commented on #11211
Looking at the code, it looks like there is no exception handling for:

[code]

So when this error is thrown, none of the other refunds are processed I believe.

2022-04-21 23:30:12,735 - invoke_jobs - INFO in oauth_service:oauth_service.py:88 - __log_response: Response Headers {'Date': 'Thu, 21 Apr 2022 23:30:11 GMT', 'Transfer-Encoding': 'chunked', 'Content-Length': '11388', 'Content-Type': 'tex

[2022-04-21 23:36] tlebedovich commented on #11742
@yuisotozaki - Are you able to UXA this ticket (and put the UXA comments into the new ticket mentioned above). Design comps and notes are included in the description at the top for you.

[2022-04-21 23:39] tlebedovich commented on #11742
Actually - @yuisotozaki @severinbeauvais,  to save UXA time - it's probably best to leave the UXA review until the new #11936 is completed.

[2022-04-21 23:43] severinbeauvais commented on #11742
So... OK to move this to RFQA?

[2022-04-21 23:44] tlebedovich commented on #11742
yes please

[2022-04-21 23:49] tlebedovich commented on #9840
@lekshmimallika-aot - This Change button should open up the "View and Change business information" screen and auto-scroll users to the Business Addresses component where they can make any address changes. c/c @yuisotozaki @rkim13103

[2022-04-21 23:50] severinbeauvais commented on #11913
One last :eyes: please.

[2022-04-22 00:03] chdivyareddy opened #11944 "PPR Registration - Expiry Date displayed in API response is incorrect"
- [x] Expiry date of the Registration/Renewal in the API response is displayed incorrectly, but not in the PDF.

Eg: Reg. No - **502230N** in **TEST**

**API Response:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/63b23b78-cf33-4098-849f-dbef2afe1d88)

**PDF (expected):**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/02b21165-6e90-494c-bb

[2022-04-22 00:06] lmcclung commented on #9840
@lekshmimallika-aot further to Tracey's comment... if it is easy to auto-scroll users tot he Business Addresses component please do so.  If a lot of effor, then just to the top of the view and change business information page is sufficient.

[2022-04-22 00:28] lmcclung commented on #11801
Not sure how/if this is related... but why when a person requests a name the transaction history shows the UserID as name_request_service_account rather than the person who actually submitted the name.  Shouldn't one of these indicate the user?
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/6235f514-f5e0-4277-bd7c-0f93baa4848f)

[2022-04-22 04:29] yuisotozaki commented on #11913
Verified. Ready for QA!

[2022-04-22 04:34] yuisotozaki commented on #9828
Looks good in dev! Ready for QA!

[2022-04-22 13:09] seeker25 commented on #11211
Opening a new ticket for this bug.

[2022-04-22 13:10] seeker25 opened #11945 "Routing Slip Task Job is failing"
Looking at the code, it looks like there is no exception handling for:

    @classmethod
    def adjust_routing_slips(cls):
        """Adjust routing slips.

        Steps:
        1. Adjust routing slip receipts for any Write off routing slips.
        2. Adjust routing slip receipts for any Refund approved routing slips.
        """
        current_app.logger.info('<<adjust_routing_slips')

[2022-04-22 13:10] seeker25 commented on #11945
@zac-broitman Creating new bug here for NSF issues.

[2022-04-22 15:02] fareenr commented on #11723
to be posted as 'Coming Soon' on BCOL landing page by Apr 27. Request submitted to IT Ops 21-Apr

[2022-04-22 15:13] fareenr commented on #11805
22-Apr - requested current user list for combined PPR/MHR searches from BCOnline database from David (DBA team)

[2022-04-22 15:44] mstanton1 opened #11946 "Combined Search and MHR Search Payment"
Covers payment options required for staffing groups for MHR/PPR Search

Wireframe: https://preview.uxpin.com/e760f2f576ac509611e7d771d0c00dcff7a39b66#/pages/148639060/simulate/sitemap

[2022-04-22 15:46] mstanton1 opened #11947 "UI Design - MHR Search staff payment"
When designing verify the flows for Registries staff, SBC Staff, and BCOL Staff.

- [x] includes review of free search and client search
~includes design for staff payment modal~

--------
### *Dev to confirm all fees and service fees with the Fee Code spreadsheet.

### BC Reg Staff
**BC Reg work was already completed in this ticket:**
https://app.zenhub.com/workspaces/design-team-space-6144b1bb15

[2022-04-22 16:04] trishreimer opened #11948 "Hire Auxiliary staff to support the Business Operations Team during major implementations"
As discussed:

- [ ] additional auxiliary employees are needed to support the next major releases.
- [ ] This work should start immediately so that resources are in place in time for the Search and SP/GP releases early July.

Would you mind moving this forward and let me know if any other info is required.

Thanks

[2022-04-22 16:15] stevenc987 commented on #11801
@lmcclung

I found an easy solution to fix this discrepancies by adding this client to exclusive_service_fees role in the Keycloak side. This should resolve the problem. I will keep an eye on this from today to see if this solve the problem in the next few day. Please see details below:

![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/fcd3fec7-6eeb-43df-9213-598288ffb7e9

[2022-04-22 16:16] SateeshFW opened #11949 "Relationships Sprint Goal 13.1"
1. FAS Go-Live on 26th April
2. Dissolutions Filing related stories

[2022-04-22 16:36] #11811 closed

[2022-04-22 16:40] jinghualicgi commented on #11944
Doug will discuss with Thor to find if we can use another library or any work around

[2022-04-22 16:49] jmills-cgi opened #11950 "Entity: Sprint 13.1a Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
  - [x] Create UI v3.5.21
  - [x] Edit UI v2.1.8
  - [x] Filings UI v4.4.0
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm th

[2022-04-22 16:50] jmills-cgi opened #11951 "Entity: Sprint 13.1b Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Dev to ensure that the commit list is r

[2022-04-22 16:52] sienna-blumstengel commented on #11780
@ozamani9 @ozamani9gh
Debbie reported this issue (INC0157064)
You are right maybe this was reported after it was fixed, but the client still had the old output that was generated before your fix.
Maybe we can resolve this and ask staff to report any further instances of this?

[2022-04-22 16:59] ozamani9gh commented on #11780
@sienna-blumstengel yeah i think we should close this, i have a fix that i hope to push up to PROD soon.. after that, if there are any expiration date issues, i will investigate.

Thanks

[2022-04-22 17:00] mstanton1 opened #11952 "UI - PPR Table Updates"
In the Search Results
- Update header bar to show 'Exact Matches' header
- If No exact matches are selceted list 'No Exact Matches' below

[2022-04-22 17:00] mstanton1 commented on #11952
@forgeuxGH5 can you add in a design link?

[2022-04-22 17:07] sienna-blumstengel commented on #9868
We are going to close this for now, until we encounter this being a real pain point and needs to be worked on. We can create a new ticket, or re-open this one, when needed.

[2022-04-22 17:23] jmills-cgi opened #11953 "Sprint 13.1 Objectives"
1. Validate the use of SOLR - 100%
2. Describe the MVP at an OCM level - 100%
3. Situating business search as a product within the registries app - 50%

Overall - 80%

[2022-04-22 17:37] forgeuxGH5 commented on #11255
@jordiwes text in the tables should wrap, currently it isn't in the editor and on the review and confirm page, but it is wrapping in the pdf

[2022-04-22 17:48] sienna-blumstengel opened #11954 "Edit UI - Update components for conversion filing"

[2022-04-22 17:57] lmcclung opened #11955 "Filings UI - Post filing tasks"

[2022-04-22 17:58] stevenc987 commented on #11801
@lmcclung
I checked database and it didn't display service fee on postgres side after I updated Keycloak today. Please review these data and close this ticket if you are OK with this:
![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/10b818f3-a645-4032-a9d1-d4bdf3062de9)

Here is the data on BCOL side:
![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827d

[2022-04-22 17:59] mstanton1 opened #11956 "Verify MHR Exact Match - Leading Zeros"
2) Search Result does not show as an exact match if leading zero's are not included. If a user types in a number for an MH (e.g. 2345) it won't show as an exact match to 002345 but the expectation is that the match would be considered exact as the only difference is leading zeros.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/f9cb0569-ba35-43a5-8654-f74c90baf027)

[2022-04-22 18:02] seeker25 opened #11957 "Task Job - CFS account throwing errors"
Ex.

[code]

Another bad error:

[code]

[2022-04-22 18:04] trishreimer commented on #11701
I updated the timeline to early/mid-May
added some suggested thoughts re: key messages.

[2022-04-22 18:07] lmcclung opened #11958 "Verify: Filings UI - business addresses and proprietors/partners display on dashboard"

[2022-04-22 18:07] lmcclung opened #11959 "Verify: Filings UI - To Do list no longer has Action Required blurb"

[2022-04-22 18:10] sienna-blumstengel opened #11960 "Edit UI - Create new Nature of Business component for conversion filing"
#### TO DO
- [x] Nature of business will have a text box instead of NAICS code lookup (new component), no validation to allow for whatever was written on paper. This data goes into the NAICS code description field.
- [x] ~Required~ Text field can be empty
- [x] Max 300 characters.
- Ticket: #12310: Edit UI (change filing) should handle displaying an unexpected NAICS format (missing code).
See UX P

[2022-04-22 18:11] sienna-blumstengel opened #11961 "Edit UI - Create Business Start Date component for Conversion filing"

[2022-04-22 18:11] lmcclung opened #11962 "Verify: Filings UI - Conversion filing in filing history"
This may 'just work'. Verify this and and create another ticket if changes are required.

Differences:

- [x] a unique name
- [x] no outputs
- [x] only staff information populated in 'filed by' (check as regular user and staff user)

[2022-04-22 18:11] mstanton1 commented on #11769
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/11769?planning-poker) with ZenHub @thorwolpert @doug-lovett @cameron-freshworks

[2022-04-22 18:19] mstanton1 opened #11963 "Add MHR BCOL Helpdesk group in keycloak"
- needs to be tied to roles
- BCOL staff can perform all of the functions in MHR but we will have additional restrictions in the UI to prevent payment (see epic for listing of transactions)

Group Name: MHR BCOL Helpdesk

Group/Role mapping
https://docs.google.com/spreadsheets/d/1PRe59NS71pxyz3bDDRsj2nS8nEJqUSHP9W85ErPPryY/edit#gid=0

[2022-04-22 18:22] stevenc987 commented on #11801
@lmcclung
Additional info:
![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/105f235c-a234-4c4a-a78c-5250d6cb2bdf)

[2022-04-22 18:28] trishreimer commented on #11346
we will show them the SP/GP registrations and maintenance filings
give them access to test
discuss changes and timelines

[2022-04-22 18:30] #11905 closed

[2022-04-22 18:30] #9764 closed

[2022-04-22 18:30] #11784 closed

[2022-04-22 18:30] #11205 closed

[2022-04-22 18:39] mstanton1 commented on #11963
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/11963?planning-poker) with ZenHub @cameron-freshworks @doug-lovett @thorwolpert

[2022-04-22 18:45] mstanton1 opened #11964 "MHR Public User Access"
Create groups for public facing MHR access options.
Qualified User
Manufacturer
General User
Search Only User

https://docs.google.com/spreadsheets/d/1PRe59NS71pxyz3bDDRsj2nS8nEJqUSHP9W85ErPPryY/edit#gid=0

[2022-04-22 18:47] ZaidGhauri commented on #10153
@tlebedovich Please check it now. All issues should be resolved now. Thanks

[2022-04-22 18:48] jinghualicgi commented on #11255
@jordiwes Steph, thanks for working on this :) Are you moving this ticket to done?

[2022-04-22 18:55] mstanton1 commented on #11964
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/11964?planning-poker) with ZenHub @doug-lovett @cameron-freshworks

[2022-04-22 19:05] ZaidGhauri commented on #11757
Findings:
I tried different combinations including
- removing valid=true from wizard and tried to code in proceed.
- remove update func from wizard and tried to use some override onchange and fire those validation afterwards
- applied form reset in change function (we are not using vuetify forms validation I guess)
and more like that

So, I think [bcrs-shared-components](https://github.com/bcgov/b

[2022-04-22 19:36] SateeshFW opened #11965 "Onboarding of Ashna Mehta (QA Resource in Relationships team)"
**Onboarding checklist for new team members**

This should be created at least a couple of days before a new member comes on board.

**IDIR**
- [ ] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [ ] Submit to IT Operations Support. This form should be emailed to the Registries Executive As

[2022-04-22 19:39] seeker25 commented on #11945
Changed this to a 3, because it's going to require getting CAS to increase their limit from $200

[2022-04-22 19:42] mstanton1 commented on #11255
@jordiwes @jinghualicgi there was one more issue that @forgeuxGH5 had identified with copying data into a table and it not wrapping. The hope was this could go back to in progress for that to be tackled then we could move this along. @forgeuxGH5 it might help if you add some screenshots?

For next steps @jinghualicgi once the last change is made and this is moved to Done it'd be good to get a tick

[2022-04-22 19:43] ozamani9gh commented on #11881
@doug-lovett are you able to update node version.   Here are the changes i applied to name request.  the changes will be very similar.

https://github.com/bcgov/namerequest/commit/0380001306722d3ccac22de600b678b1fb1ac1c1.

I will change the openshift Build Container to point to 16.14.2 for manual builds of ppr via openshift (not GA)

[2022-04-22 19:47] mstanton1 commented on #10058
We will continue to work with the initial groups for implementation which allows easy mapping of current access for onboarding users and addresses concerns from staff of opening this up and producing a large amount of bad data.

Different groups are defined so if at a later time there is a strong desire to open up access policy review will be required and regulations changes may be necessary.

[2022-04-22 19:47] #10058 closed

[2022-04-22 19:49] seeker25 commented on #10133
Darci and Catherine approved of the fee codes.

[2022-04-22 19:55] SateeshFW commented on #11965
@ Ops team, Please give access to Ashna following...

- [ ] Github and Zenhub acces

- [ ] Openshift access

- [ ] Automation Repos

- [ ] Rocket Chat invitation

@pwei1018

[2022-04-22 20:35] jyoti3286 opened #11966 "Updating out footer/website to include “BC Online"
### Add to the footer under “Need more information” A BC Online Application
- This needs to be done across all pages for our UI
- Same font as other text in the footer

#### Sample image is below:
![thumb-Clipboard - April 20, 2022 2_19 PM.png](https://images.zenhubusercontent.com/5da610e0fc369f000178ab20/2da7c06e-93dd-4166-ba8e-63f5f3e736ea)

Full list of repos to be updated
BCROS UI - Assets
AUT

[2022-04-22 20:43] doug-lovett commented on #11933
Query to run (adjust timestamp):
select r.registration_ts, r.base_reg_number, sc.mhr_number, sc.serial_number
  from registrations r, serial_collateral sc
 where r.registration_ts > (TO_TIMESTAMP('2022-01-25 14:00:00', 'YYYY-MM-DD HH24:MI:SS') at time zone 'utc')
   and r.registration_type = 'DC'
   and r.financing_id = sc.financing_id
   and sc.serial_type = 'MH'
   and sc.registration_id_end IS

[2022-04-22 20:48] JohnamLane opened #11967 "Staff access to Business Search"
**Background**:
    GIVEN I'm a staff member on the search team (e.g. Claudine)
    AND I'm logged into my account

**Scenario**: Access Business Search
WHEN I visit the staff dashboard (/business/auth/staff/dashboard/)
THEN I'd like to see a link to the new Business Search application

**Scenario**: Staff Payments for Business Search
WHEN I pay for items in the Business Search app
THEN the staff

[2022-04-22 20:49] rarya-freshworks commented on #10111
Checked it on browserstack and used IE11 for windows 10. Works fine.

[2022-04-22 20:54] JohnamLane opened #11968 "OCM - Start how-to material for Registries Staff"
- [ ] Define format and placement of staff how-to content (likely the new Google-based Info Centre)
- [ ] Based on MVP, define as much support material as possible (auth role, fees, business types, certificates, et c)

[2022-04-22 20:54] JohnamLane opened #11969 "OCM - Start how-to material for SBC staff"

[2022-04-22 21:41] pwei1018 commented on #11965
Done

[2022-04-22 21:53] mstanton1 commented on #11933
Sent csv for liens since PPR go live to the hometeam DBA's and included Debbie, SBC IT Ops and BCROS Lab BA Team. Keeping in grooming so we can size the effort to create a daily report and have that auto emailed to the hometeam.

[2022-04-22 21:58] mstanton1 opened #11970 "UI - PPR Search Results Header"
When there are no exact matches and similar matches in a PPR search the header for the search results is not using the proper design.

Current:
![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/19540067-157f-476c-a0ac-4792707e9836)

Expected:

[2022-04-22 22:00] mstanton1 commented on #11970
@forgeuxGH5 can you confirm what is expected and post something above? Here's the sample for if there was an exact match. If there isn't, what should it look like?

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/82bc9441-113e-4f01-8f7e-81b4947684b9)

[2022-04-22 22:52] JohnamLane opened #11971 "Define the various types of Staff users"
Definition of Staff in this context is a member of the 940-based Search staff such as Claudine.

1)As a staff user (who has logged in using their IDIR)
I'd like to search for all businesses and see complete filing history without paying
so that I can fulfill my work obligations

2)As a staff user
I'd like to pay for a search product on behalf of a client (routing slip, DAT)
so that I can support p

[2022-04-22 22:54] #10111 closed

[2022-04-22 23:23] mstanton1 commented on #11641
Edits recommended by Patrick were confirmed by Debbie and completed.

[2022-04-23 22:03] seeker25 commented on #11226
Here is a list of 10,000 valid routing slip numbers
[numbers.txt](https://github.com/bcgov/entity/files/8548681/numbers.txt)
.

[2022-04-25 15:28] fareenr opened #11972 "Send action email to Wills Registry users around mid-May 2022"
1 month prior to launch (once Wills launch date for June is available) or around mid-May, send action emails to Wills Registry users.

1. Email to those already subscribed to Wills (or auto-added) in BC ROS - Notice that Wills Registry is being launched on June xx, 2022.
- will no longer be able to access Wills services through BCOnline after that date
- Ensure their Administrator adds team member

[2022-04-25 15:36] fareenr opened #11973 "Send action email to Rural Property Tax users - mid-May 2022"
Send action email to Rural Property Tax users around mid-May 2022
1 month prior to launch (once RPT launch date for June is available) or around mid-May.

[ ] Email to all old BCOnline RPT users
- Set up new account now and Administrator
- set up Basic or Premium account - if Premium, note that it can take time to set up PAD and get approvals for transactions
- How to add Rural Property Service/pr

[2022-04-25 15:49] Maribeth-Wilson opened #11974 "CMS website - Review existing 'how to' videos and determine, due May 31"
- [ ] Review existing 'how to' videos and determine what can be reposted and what needs to be rerecorded
- [ ] develop list of required videos and work with team to have content created and posted
- [ ] create quick 'resource guides' (cheat sheets) for various tasks (i.e.. create an account) and link videos as required.

References to most videos can be found here: https://docs.google.com/document

[2022-04-25 15:49] Maribeth-Wilson opened #11975 "CMS website - Review existing 'how to' videos, repurpose/redo/remove, due Jul 11"
- [x] Review existing 'how to' videos and determine what can be reposted and what needs to be rerecorded
- [x] develop list of required videos and work with team to have content created and posted
- [ ] create quick 'resource guides' (cheat sheets) for various tasks (i.e.. create an account) and link videos as required.

References to most videos can be found here: https://docs.google.com/document

[2022-04-25 16:11] ozamani9gh opened #11976 "Remove yearly (APRIL 25) Cronjob - set Downpage"
This morning there was a job that ran on April 25th (2021) that also ran unexpectedly this morning to set the down pages on a few BC Registries applications.

- [ ]  Remove this job from CRONJOBS
- [ ] Investigate if there are any other jobs that are recurring that should be removed.
- [ ] Add a trigger to GITHUB ACTIONS to POST IN OPS CHANNEL when Downpage is set on or off

![image.png](https://i

[2022-04-25 16:12] severinbeauvais opened #11977 "Create UI: use "taxId" for party's business number"
Currently, the party (aka officer) interface saves business number as `businessNumber`. Instead, this should be `taxId`.

[2022-04-25 16:18] JohnamLane commented on #11903
@eve-git Email address is jenny.chan@gov.bc.ca, GitHub ID is jennyschan

[2022-04-25 16:18] forgeuxGH5 commented on #11255
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/ffcb0107-82d7-4aec-8cbb-a6086b0aef4c)

![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/b26050d5-5d68-4645-b0a6-95ad20f80061)

[2022-04-25 16:34] tlebedovich commented on #10153
updates look great, thanks @ZaidGhauri , moving to RFQA

[2022-04-25 16:47] jyoti3286 commented on #11966
All the teams have to update the common component version to include this

[2022-04-25 16:47] JohnamLane opened #11978 "Prepare for SBC agents to complete Searches"
## Description :
This Epic will cover all technical setup and user training needed to get SBC agents and CSRs ready to:
- Use Business Search
- Understand where to send clients that still need paper (update form if needed)
- Configure eGARMS for payment

[2022-04-25 16:49] JohnamLane commented on #11978
closing this is set up wrong :(

[2022-04-25 16:49] #11978 closed

[2022-04-25 16:50] lmcclung opened #11979 "UI design - Correction Filing"
Will summarize and add here a list of requirements today, May 26, 2022.

Design:
https://preview.uxpin.com/363a49b33bdb2a314ccac0f18daad8969e93b337#/pages/149995940

[2022-04-25 16:50] JohnamLane opened #11980 "Prepare SBC to use and support search"
## Description :
This Epic will cover all technical setup and user training needed to get SBC agents and CSRs ready to:
- Use Business Search
- Understand where to send clients that still need paper (update form if needed)
- Configure eGARMS for payment

[2022-04-25 16:50] lmcclung opened #11981 "UI Design - Correction Outputs"

[2022-04-25 16:50] trishreimer commented on #11346
https://docs.google.com/document/d/1OZ6nVdNFpQ6Z-RioXYH027A9dZRTVw_YG_wP3zK5Ym4/edit

[2022-04-25 16:50] JohnamLane opened #11982 "Configure eGARMS for search payments"

[2022-04-25 16:52] mstanton1 opened #11983 "API - Wysiwig reports not rendering bold or italics"
With the new Wysiwig introduced through PPR currently a user can use bold or italics within the Wysiwig but the general collateral in the PDF output does not show the text in bold or italics.

Please investigate and make changes such that the report shows the bold and italic formatting if added through the Wysiwig.

From Review Screen (Italics)
![image.png](https://images.zenhubusercontent.com/5ba

[2022-04-25 16:56] #11820 closed

[2022-04-25 16:57] JohnamLane commented on #11927
@magszymanski I believe this Epic was created by OCM directly. Please feel free to define your own tickets at the level that you see fit. Ideally, this would be a task, not an epic though.

[2022-04-25 16:59] yuisotozaki opened #11984 "Name Request in Dev - UI and Form Issues"
Environment:
Chrome Version 100.0.4896.127 (Official Build) (x86_64)
Macbook Pro 2016
https://dev.bcregistry.ca/namerequest/?accountid=2781 (BCREG2014 account)

Observations:
* Header  is not displaying fully
* Name Request form is not displaying fully
* The form does not submit with "Review and Confirm" button press

<img src="https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/7a36152a

[2022-04-25 17:14] jdyck-fw commented on #11984
@jinghualicgi - Can the SRE team please look into this Dev issue? It needs to be addressed before anything more gets pushed from Dev to Test.

[2022-04-25 17:26] jdyck-fw commented on #11380
@lmcclung - To check what email updates she has on this.

[2022-04-25 17:37] JohnamLane opened #11985 "Business Search - Firm Individual Index"
SOFI has a means of searching for the owner of a firm. This owner can be an individual or a business and both options are provided.
Sole Proprietors (SP) and General Partnerships (GP) are both firms.
This firm owner search will be used to search against firms.

![image.png](https://images.zenhubusercontent.com/5a7391bd4b5806bc2bc54a79/8b40d8c5-9953-4760-83e4-c83dcabf15e7)

[2022-04-25 17:40] seeker25 commented on #11211
This is what me and Zac Discussed:

1.	NSF created:

 ![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/d2975ff3-b429-4f2e-b46d-ef272cea25d1)

2.	Create another one with $130 and link it to NSF:

 ![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/44c4e0bb-4634-4df7-8655-99ebf7b12293)

NSF parent slip:

![image.png](https://images.zenhubusercontent.

[2022-04-25 17:42] JohnamLane opened #11986 "UI Design - define search UI for Firm Individual Index"
The firm individual index is a text search within the owner field of a firm.
This ticket is to capture the visual designs needed for this search process in case it cannot be accomplished via the single search box idea.

[2022-04-25 17:43] JohnamLane opened #11987 "UI Design - define results UI for Firm Individual Index"
The results section of our Business Search must be able to handle the presentation of firm individual owner searches.

[2022-04-25 17:45] JohnamLane opened #11988 "Confirm Data is present to support Firm Individual Index"

[2022-04-25 17:45] jdyck-fw commented on #11924
This behaviour worked correctly in our testing below.

Test - BCREG001 - "New BC Online Tech Team"
DIdn't enter folio - NR3008981
Did enter folio - NR0853556

[2022-04-25 17:45] severinbeauvais commented on #11924
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/3a7bf02a-4640-470b-9b06-a5f889e64d0c)

[2022-04-25 17:46] jdyck-fw commented on #11924
@mstanton1 - Have you been able to replicate this in PPR?

[2022-04-25 17:48] jdyck-fw commented on #11800
@lmcclung - will review and update.

[2022-04-25 17:51] jdyck-fw commented on #11925
@jinghualicgi - can the entities label be removed from this?

[2022-04-25 17:53] jdyck-fw commented on #11904
Duplicate of #11931

[2022-04-25 17:53] #11904 closed

[2022-04-25 17:56] jdyck-fw commented on #11798
This is for 13.4

[2022-04-25 18:02] mstanton1 commented on #11924
@lmcclung my apologies for not getting to your comment above sooner. I used BCREG0094.

@jdyck-fw for reproducing this in PPR In Test I affiliated CP0001847 with the account BCREG0094 and added default folio of TESTPPR for CP0001847. I then did a PPR search and did not enter the folio. I took screenshots which are available in https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d0

[2022-04-25 18:15] lmcclung commented on #11834
Closing ticket as we weren't able to resproduce this in TEST.  If the issue is raised again, we can investigate further.  I've updated service now ticket.

[2022-04-25 18:15] #11834 closed

[2022-04-25 18:49] Lcyc29 commented on #11316
This ticket is finished alongside the [first part create-ui for 9014](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/9014).

[2022-04-25 19:01] jyoti3286 commented on #11862
@tlebedovich Below are some suggestions that I got from the Ministry of Finance around images:

Some suggestions of images that would be appropriate.  We suggest:

- A single-family detached home from a street/sidewalk view, with or without people in the image
- A family home on an acreage
- A street or sidewalk view of a residential neighborhood (think “small town”)

Essentially, anything that co

[2022-04-25 19:17] tlebedovich commented on #9014
@lmcclung - Here is the latest version error message that Lewis was showing me. It contains conflicting/confusing information - it's asking users to retry again later but also telling them to call the service help desk to resolve, but also giving a 2nd set of contact info if the problem.

Can you confirm which contact information we should be displaying, and can we remove all the reason for the fa

[2022-04-25 19:22] Lcyc29 commented on #9014
@tlebedovich The test warning message is there for displaying and comparison the bullets. In the actual case, there may or may not be the warning message. I'm sorry if I the warning message confuses you. Just ignore the warning message for now.

[2022-04-25 19:28] tlebedovich commented on #9014
@Lcyc29 - what are some examples of real warnings that would show there? Just wondering if there is any specific info we show that would help users fix the problem on their own, or if this problem is only occurring because of our own system error.

[2022-04-25 19:38] Lcyc29 commented on #9014
@tlebedovich Please hold on. We are looking into the warnings, and I'll update with you shortly.

[2022-04-25 19:39] severinbeauvais commented on #9014
@tlebedovich Thanks for the observation. New ticket please. THIS ticket is for formatting what we receive from Pay API only.

[2022-04-25 19:49] Lcyc29 commented on #9014
@tlebedovich As Severin mentioned, currently there is no warnings message for Pay API in create-ui.

[2022-04-25 20:29] zac-broitman opened #11989 "FAS - Prevent linking from NSF status"
* As a user
* I want to be unable to link a NSF routing slip to another
* so that I do not make mistakes in the NSF process

**Acceptance Criteria**

**Scenario 1: Preventing a NSF slip being a child routing slip**
* GIVEN ... A routing slip is in NSF status
* WHEN ... when the user navigates to the Link option in the routing slip details
* THEN ... the user should see a message that they can not

[2022-04-25 20:34] mstanton1 commented on #11983
@jinghualicgi as per stand up I created this and added to the sprint. Steph is expecting to have all her changes in the wysiwig for EOD tomorrow. Her changes shouldn't impact this work.

@doug-lovett can you take a look at this?

[2022-04-25 20:47] tlebedovich commented on #9014
@Lcyc29 - if I am just looking at the PAY BC message - here is my UXA feedback. Are you able to possibly bring the additional issues I noted above with Linda at tomorrow's stand up and you folks can decide to cut a new ticket as required for my feedback above? I'm focusing on MHR work this week so won't be there. Appreciate it, thank you!

![Screen Shot 2022-04-25 at 1 42 58 PM](https://user-image

[2022-04-25 20:54] sienna-blumstengel commented on #11249
[https://app.zenhub.com/files/157936592/db031725-d718-46bf-bfbb-575d54509e0f/download](https://app.zenhub.com/files/157936592/db031725-d718-46bf-bfbb-575d54509e0f/download)

Added some more updates @gprimeau !

[2022-04-25 20:56] trishreimer commented on #11132
@Maribeth-Wilson when you have a moment, could you please add the local gov email to the comms table and review to ensure all other comms have been added to date?

[2022-04-25 21:00] trishreimer commented on #11297
@fareenr once we have a plan with Kaine/Thor finalized, would you mind adding the activities for the upcoming tech workshop to this plan and any other activities? Once added, please move this to done.

I'll create a tix for the upcoming tech workshop.

As you are aware, we need to ensure we have a complete list of all activities documented. thanks.

[2022-04-25 21:02] Lcyc29 commented on #9014
@tlebedovich Thanks for the feedback. I will work on it.

[2022-04-25 21:07] severinbeauvais commented on #9014
@Lcyc29 Do not work on the changes to the message received from Pay API in this ticket. That is not in scope for this ticket. It requires a new ticket, which needs to be approved/groomed/estimated/planned. (Unless Linda OKs it.) Besides, that work is in Pay API project.

[2022-04-25 21:09] trishreimer opened #11990 "API Tech Workshop - Schedule & Deliver: API Tech Workshop May 12th"
- [x] Schedule API session - confirm BC Reg attendees and book their calendars - April 26

- [x] Send invite to all API users - April 26

- [x] Post on Discourse - April 26

- [x] Create presentation

- [x] Review material with presenters

- [x] Update communication plan with API activities

[2022-04-25 21:15] trishreimer commented on #11348
@lmcclung Would you like us to help you schedule a touch point with JERI?

[2022-04-25 21:21] trishreimer commented on #10379
@zac-broitman Please move to done if no updates to client letter or macros are needed.

[2022-04-25 21:39] mstanton1 commented on #11371
Genevieve and Cameron created a new form to address this need. It is being reviewed by Sharon and Debbie for feedback.

[2022-04-25 22:02] jinghualicgi commented on #11983
Thanks Melissa, assign this to Doug so we don't lose track, thank you Doug.

[2022-04-25 22:02] zac-broitman commented on #10379
Cameron did not believe anything new was needed for this, so moving this to Done

[2022-04-25 22:10] trishreimer commented on #11990
@Maribeth-Wilson creating google form, booking meeting and sending invite.
Trish created agenda.
remaining work will be picked up by Fareen.

Draft:
•	Timelines: Business Registry and Business Search
•	Specs and dates for: Business Registry and Business Search
•	Communicating updates/changes to specs (I recall discussing how we want to communicate spec changes to API users awhile back... Do we alr

[2022-04-25 22:14] jinghualicgi commented on #11984
@pwei1018 I have posted a message in RC to inform team about this issue

[2022-04-25 22:19] jinghualicgi commented on #11255
Thanks Melissa, move this back to In Progress. @jordiwes  Please let us know if you have any update or comments. Thank you for helping out:)

[2022-04-25 22:23] lewischenstudio opened #11991 "PAY-API - UXA feedback on ticket 9014 - BC Online Error Modal"
Here is the link to the ticket #9014

There are two parts to this ticket:
- Modify the error message response from BE so that it add an extra line space and remove the period for the email (as shown in screenshot below).
- Include the key `message` for the warning message in the BE response.

Additional UXA comments from #9014 -
- Confirm which contact information to show (and only show one set of

[2022-04-25 22:24] severinbeauvais commented on #11977
### Test Notes

The fix was to the party schema used by incorporation application, dissolution and registration filings. However, IAs and dissolution don't use the field that changed, so they should not be impacted. Here are the tests I performed locally and in Dev environment:
1. verify that dissolution filing draft can be saved and resumed with no console errors or missing data
2. verify that IA

[2022-04-25 22:29] trishreimer opened #11992 "Take screenshots of SP & GP UI's and post/share to create awareness - DUE May 3"
- [ ] Take screenshots of SP/GP Registration UI

- [ ] Take screenshots of SP/GP maintenance filing UI

- [ ] add disclaimer and date of screenshot:
i.e., Screenshot taken: dd/mm/yyyy
Note: Screens are still in development and will not be released until mid-summer. Layout and fields may change leading up to release. Please check back regularly for updates.

- [ ] Post doc to CMS, then add links:

[2022-04-25 22:29] #11974 closed

[2022-04-25 22:30] trishreimer commented on #11992
@sienna-blumstengel would you mind taking the screenshots?

[2022-04-25 22:50] ozamani9gh commented on #11984
looking at this now

[2022-04-25 22:53] seeker25 opened #11993 "Keycloak service account payment bug"
entity-xxxx-service-account seems to work when creating payments..
fas-xxxx-service-account doesn't work.

Turns out we were missing "staff" role in keycloak.

I don't see fas-xxxx-service-account in DEV.. not sure if it's in PROD. Followed up with Patrick.

[2022-04-25 22:56] seeker25 commented on #11945
This should be patched on TEST / PROD now, no more upper limit. The job seems to run fine.

[2022-04-25 23:04] yuisotozaki commented on #9840
Verified in dev. Ready for QA!

[2022-04-25 23:08] mstanton1 opened #11994 "Add UI Descriptions into Fee Spreadsheet"
Descriptions are used for each of the MHR Fee codes that were created. However, more succinct descriptions should be drafted that will be used in the UI.

Add UI Descriptions in the UI Descriptions tab on the MHR Fee Codes listed here:
https://docs.google.com/spreadsheets/d/1gCKVS01eIin4Rcb95_wPYIs__ZeTuW-vz9WBTqwo-VA/edit#gid=616760484

[2022-04-25 23:16] jinghualicgi commented on #11943
@trishreimer sorry, just saw this. @PatrickAHeath can we work together to provide training to these people? I can go through normal Zenhub usage, not sure if there any particular practice for IT Ops. Thanks

[2022-04-25 23:30] trishreimer commented on #11235
moving to backlog for now but please pull from backlog when we have cycles

[2022-04-25 23:51] lmcclung opened #11995 "For SP/GP registrations, ensure BN email is triggered from new queue"

[2022-04-25 23:58] Maribeth-Wilson commented on #10011
I have updated the distribution list (have not checked for invalid addresses though), here is the link: https://docs.google.com/spreadsheets/d/1keW9gzYXoVppIqq4EjIwgHbHHVmbJAwV/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

[2022-04-26 01:48] seeker25 commented on #10133
Darci sent over a new revision.

[2022-04-26 01:53] seeker25 commented on #11467
Going forward with what we had before. Turns out postman is too slow to do this task. We need something asynchronous that can load in multiple requests at once.

[2022-04-26 14:52] seeker25 commented on #11467
I built something asynchronous, but the service seems to 503 after being hit with multiple requests.

Going to have to switch to a database import now.

[2022-04-26 15:14] jinghualicgi commented on #11853
There are no assignees for this ticket, adding Melissa and Patrick. Thanks

[2022-04-26 15:20] Maribeth-Wilson commented on #11031
Note from Fareen: create bookmarks in the PDF file.  This is something we need to do in the next version update of the Registry User Guide, so that people can just jump to the section that they need.  The bookmarks show up on the left side of the PDF document when you click on the bookmark icon.  The section headings at all levels appear to already work well in the user guide, so they show up well

[2022-04-26 15:22] jinghualicgi commented on #11138
Assign this ticket to you Mags :) @magszymanski

[2022-04-26 15:22] mstanton1 commented on #11853
@PatrickAHeath it looks like the changes discussed in grooming are complete. Can I move this to done?

[2022-04-26 15:25] magszymanski commented on #11701
The page for maintaining a business outlines the current, paper-based process. Not sure we would want to include this: https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/businesses-incorporated-companies/proprietorships-partnerships#make-changes
I don't see any relevant pages that we could include.

[2022-04-26 15:27] Maribeth-Wilson commented on #10011
draft email can be found here: https://docs.google.com/document/d/1monHv2yZqVJ3dFMj58-44zAZem5J-w4D/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

[2022-04-26 15:37] Maribeth-Wilson commented on #11990
Draft email for May 12th Info session can be found here: https://docs.google.com/document/d/1pAv0yuSQ5bwbroPFxN53y3sMj31mRImnkgro8jl9k_Q/edit?usp=sharing

[2022-04-26 15:37] trishreimer commented on #11529
added:
- [ ] post link under what's new

- [ ] include in next set of release notes

[2022-04-26 15:51] forgeuxGH5 commented on #10910
yep - this was for infinite scrolling

[2022-04-26 16:07] fareenr commented on #11529
TBD (create a different ticket) - Kaine recommended also consider sending communication to all PPR users with reminder of training links, video resources, this new search guide, other updates (key fixes, PPR enhancements)

[2022-04-26 16:09] fareenr commented on #11529
Final PPR - How to Read a Search Report Guide saved here:
https://drive.google.com/file/d/1hvLY8SMHauYp_oKPqNmrFt8YetVvgGU5/view?usp=sharing

awaiting final review and approval by Melissa

[2022-04-26 16:23] #11945 closed

[2022-04-26 16:27] sienna-blumstengel commented on #11466
It is not number of **all** affiliations, @kialj876 and I determined it was number of **name request** affiliations specifically.
The API gets called for each individual NR, instead of all NRs at once, and at a high enough volume, the UI stalls before we can get all the NRs from the API.
Kial was the one that discovered this, maybe he can help explain.

[2022-04-26 16:29] pwei1018 commented on #11984
Fixed.

![image.png](https://images.zenhubusercontent.com/5bf5f0484b5806bc2bf6f0cb/ad1318a8-65cb-4103-8f5e-bca73aea8a7e)

[2022-04-26 16:29] pwei1018 commented on #11984
@yuisotozaki Can you verify it in dev?

[2022-04-26 16:33] #11850 closed

[2022-04-26 16:33] #11793 closed

[2022-04-26 16:33] #10689 closed

[2022-04-26 16:47] trishreimer opened #11996 "Write Email to Influencers and other people in the province to tell them OneStop will be decomissioned"
- [x] Write messages to influencers and other people

- [x] Maribeth - please find/create distribution list

- [x] Mags - please draft message

- [x] Kaine, Dwayne and Linda to approve

- [x] For the top four influencers: chamber, small biz, womens centre and community futures, please ask them if they would like to meet.

DL: https://docs.google.com/spreadsheets/d/1Xvl1wnvF1CXZg9GcmuXT3t6A64CfNhp7

[2022-04-26 16:52] gprimeau commented on #11249
@sienna-blumstengel  here is the updated draft for the most the updates above

[DRAFT_ REG 706 - Registration Statement.pdf](https://github.com/bcgov/entity/files/8565256/DRAFT_.REG.706.-.Registration.Statement.pdf)

[2022-04-26 16:53] trishreimer commented on #11992
https://docs.google.com/document/d/1dYuignnMYd3DIG4vggO_W9zvSySCqieAyhaDSSGO5TQ/edit?usp=sharing

[2022-04-26 17:22] mstanton1 commented on #11336
Placing this on hold. In order for Kevin to provide Fareen with sufficient information on the search algorithm he has requested 1000 outputs and review would be a significant amount of time and money. Addition of this document originally was based upon of what New Zealand does but not directly identified as a need from our end users.

We will launch our "How to Read a Search" document in the comin

[2022-04-26 17:30] jinghualicgi opened #11997 "OCM - Create Presentation/Meeting Material for Dye & Durham meeting (Due: April28)"
Business Search API Tech Spec workshop with Dye & Durham on April 28

[2022-04-26 17:44] mstanton1 commented on #11983
@doug-lovett registration number from testing in Dev is 256935N.

[2022-04-26 17:48] mstanton1 commented on #11529
Looks great @fareenr @PatrickAHeath

Two minor formatting things
1. On page 5 in the 'Registration information related to the search type sub bullets the word Search is bolded for some search types and not others. Please bold the word search for the serial number, individual debtor, business debtor and registration number as is done with the other two search options.
2. In the final 'General Colla

[2022-04-26 17:53] pwei1018 commented on #10618
This was done.

[2022-04-26 17:53] #10618 closed

[2022-04-26 17:54] sienna-blumstengel commented on #11730
Trish says:
- High level is good
- include link to info centre
- ask staff if they have been getting any questions from the public on these topics

[2022-04-26 17:58] jinghualicgi opened #11998 "OCM - Firm Individual Index change impact assessment (high level) - need ASAP"
Impact to users, what changes to data will there be, etc

[2022-04-26 17:59] lmcclung opened #11999 "Keycloak access for Test Environment demos and third party testers"
### Description

Team decided we want the test environment to match the production environment.  This means we feature flag everything in test.

Because we don't have a separate QA testing environment we need to give certain individuals access to TEST where they can see all the features.

These individuals will be internal staff (IDIRs) as well as external stakeholders.

### Dev notes

we think th

[2022-04-26 18:26] Kaineatthelab opened #12000 "UI Design - Help Guides for Apps"
Given I am setting up an account or accessing PPR or Business  or Names
When I am on the application
Then I see a link that brings it to me this page to the appropriate link

--
### Visual Design Comps:
(including Entities Dashboard and My PPR/MHR)
https://projects.invisionapp.com/share/Y712NBTKASBC#/screens/466493828_Dashboard_-_Help_Box?browse

See Scott's comment below for link urls

### Wirefr

[2022-04-26 18:53] mstanton1 commented on #10160
Discussed approach internally today. I've drafted a Google Doc and will work with the team to fill in our desired approach so we can seek legal opinion.

Draft: https://docs.google.com/document/d/1oQ9ChqKUT92HrjQAKuKCQa0iCQKsKZqnqELHFS10r2o/edit

[2022-04-26 18:54] magszymanski opened #12001 "OCM - draft email to BCOL clients (non-gov) who search all entity types | Due: May 17"
Targeted communication to BCOL clients who search all entity types.

This email will include the following:
- [ ] reminder of upcoming services to the BR in summer
- [ ] RSVP for an upcoming info session
- [ ] call to admins to set up Premium accounts now
- [ ] note on APIs & user engagement

Use April email as draft: https://docs.google.com/document/d/1XoBxdXWuzQGw3cFSYP4ov4woK3_MAfUe/edit

DL to

[2022-04-26 18:57] severinbeauvais opened #12002 "UIs: investigate XSS vulnerability with v-html"
SonarCloud identified the following issue.

We control the content of the v-html value (which is fetched via an API call) though it may possible for a bad actor to inject malicious code here... I'm not sure, and I'm not sure what the risk is. I also don't know how to work around this (needs research).

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/43645b7b-3d95-43f3-a5

[2022-04-26 19:00] magszymanski opened #12003 "OCM - draft email to non-ministry BCOL clients (Search and SP/GP Registration): reminder to get set up in new BC Reg app | Due: May 17"
Send email to non-ministry BCOL users to get set up in the new BC Reg App.

Include:
- [x] reminder of upcoming services to the BC Reg app this summer
- [x] call to admins to set up Premium accounts now, checking that they are a gov agency other than BC provincial
- [x] resources
- [x] note on APIs & user engagement

https://docs.google.com/document/d/1QsghdYxuBQK8OM5fVOU7IWb3GZY4O054/edit

DL is

[2022-04-26 19:05] magszymanski opened #12004 "OCM - draft email to MINISTRY BCOL clients (Search and SP/GP Registration): reminder to get set up in new BC Reg app | Due: May 17"
Reminder email to ministry BCOL users to get set up in the new BC Reg App.

https://docs.google.com/document/d/1dlVSSA-ks1PHKsef7ffneflwLglyhdGWGI04HFa7FEQ/edit#

- [x] prev recorded info session
- [x] get set up
- [x] resources
- [x] APIs
DO NOT mention Wills

DL to use: https://docs.google.com/spreadsheets/d/1WHQ4SwgP1PJ-0iKxUpb_M7yDXk5nd_MQ/edit#gid=1219725440

[2022-04-26 19:12] jyoti3286 opened #12005 "FAS Dashboard: Bugs while searching"
### Bug 1:
- Columns to Show doesn't hold its selection when navigating back and through
 - When you select Entity number field and search then navigate to Routing slip and then come back to FAS Dashboard - the Entity number selection is gone

### Bug 2:
- Entity Number is mapped to "Created by" Column
- Fix the name of the column to actually show "Created by"

### Bug 3:
- Once Bug 2 is fixed, ad

[2022-04-26 19:13] magszymanski commented on #11927
@JohnamLane I think we could keep this as an epic to capture any and all Firm Individual Index work that pops up as it related to OCM. Change impact assessment can go as a task under here, training needs, etc. If we don't find use for it as an epic, we can convert it later. Hope this works for you.

[2022-04-26 19:20] severinbeauvais commented on #9841
### Test Notes
1. Verify subheader for SP, GP and other entity types.
2. Verify subheader for registration vs entity.
3. Verify Todo List title for registration.
4. Verify NR panel in Todo List for registration.
5. Verify Proprietor panel for SP registration and entity.
6. Verify Partners panel for GP registration and entity.
7. Verify Change buttons for SP, GP and other entity types.
8. Verify "B

[2022-04-26 19:29] tlebedovich commented on #11991
@rkim13103 @lmcclung @yuisotozaki - I have added the additional ux text feedback above that was in ticket 9014 and linked to the error modal spreadsheet. There was talk from the design team about wanting to look at other error modals in existence at some point.

[2022-04-26 19:33] fareenr commented on #11529
@mstanton1 Thanks for those edits! I have updated page 5 with all bolded search terms.
For # 2, I don't think it's intended to be a separate sub-section as it just explains to the user to read from bottom to top, they can't change the order (most recent first).
I'll email you the final document for approval. Thanks!

[2022-04-26 19:39] magszymanski commented on #11149
Fareen and I will work on the Change Impact Assessment tomorrow. It is located in this folder: https://drive.google.com/drive/u/0/folders/1rmW4SXSSuD75h8hkmrKMvYRfvUb4HeGC
Untagging myself as Fareen will take this on after tomorrow.

[2022-04-26 19:52] fareenr commented on #11997
Presentation outline and slides saved here:
https://docs.google.com/presentation/d/1sgaG77rkxDtIArmntN_hG-qpxlOWrkKA/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

John L to present and Thor to add tech specs info on Apr 28

[2022-04-26 19:58] doug-lovett commented on #11983
@mstanton1  Thanks Melissa. This appears to be a weazyprint bug. As an intermediate step in report generation, html is created and used as a source to create the PDF. I have attached the html for your test registration: the gc text is correctly in italics and bold in the html. The weazyprint pdf generator is ignoring the formatting.

[https://app.zenhub.com/files/157936592/49435c3c-2217-412d-87b0-

[2022-04-26 20:04] severinbeauvais opened #12006 "Auth Web/Namex: NR shows as consumed when affiliated to another account"
1. Create a NR
2. Approve it
3. See it in on My Business Registry page
4. Change to a new account and try to affiliate the NR:
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/2110955c-f585-4408-bed3-6a2d86921183)
5. See dialog -- the message says it's consumed but that's not quite right
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/5bec7dfb-c

[2022-04-26 20:04] seeker25 opened #12007 "Routing slip validation - Letters not handled correctly"
400 not thrown when alphabet routing slip provided:

[code]

[2022-04-26 20:06] severinbeauvais commented on #12006
I did something wrong: my fault, not a bug.

[2022-04-26 20:49] mstanton1 commented on #11983
I have reached out to Patrick Wei for information on how much effort it is to look into the pdf generator issues, and to get an idea of his current capacity.

My intent is to not release without this addressed as it seems unpolished and may generate additional inquiries to staff.

[2022-04-26 20:54] pwei1018 commented on #11983
@doug-lovett Which weazyprint bug is it?

[2022-04-26 21:09] mstanton1 commented on #11181
Approach has been discussed and documentation is being drafted to send for legal review before proceeding.

[2022-04-26 21:09] forgeuxGH5 commented on #12000
I think the Registries Dashboard help should link to here: https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization-updates/using-the-business-registry

And we should add a section to that page for PPR/MHR

Until we get that section in, My PPR Help should link to https://www2.gov.bc.ca/gov/content/employment-business/business/m

[2022-04-26 21:10] doug-lovett commented on #11983
@pwei1018 html markup <em/> and <strong/> are not recognized when generating a pdf from html. Other tags are working. I am still investigating.

[2022-04-26 21:23] seeker25 commented on #10133
Bumping the estimate up, there has been multiple days of testing and getting the codes.

[2022-04-26 21:36] mstanton1 commented on #11646
Duplicate of 11909.

[2022-04-26 21:36] #11646 closed

[2022-04-26 21:42] jinghualicgi commented on #11998
As discussed in planning meeting, adding this ticket to SP/GP epic

[2022-04-26 21:42] jinghualicgi commented on #11752
As discussed in planning meeting, this work has been done, move to done

[2022-04-26 21:54] jyoti3286 opened #12008 "FAS: 400 schema validation error"
Currently, we are not logging the errors which we are receiving via API, particularly the 400 ones

Solution: Put in a flag that can record API schema - 400 errors which can be toggled in dev/test

This would help the source system get validation errors and also help us in debugging

[2022-04-26 21:56] doug-lovett commented on #11983
@mstanton1 @pwei1018 It turns out the problem is using the custom BC Sans fonts. When I replace the general collateral description font with Calibri, which we are using for the BCMail+ reports, the italics and bold in the embedded html print correctly. Melissa, the example report with your data is attached. Is it okay to go ahead with this font just for general collateral?

[https://app.zenhub.com

[2022-04-26 22:01] jdyck-fw commented on #11937
GitHub ID: https://github.com/catherinecarlson
Access Required: Write permissions for ZenHub

[2022-04-26 22:14] SateeshFW commented on #11466
Zac will be setting up a meeting to discuss on this ticket

[2022-04-26 22:25] seeker25 commented on #11989
This needs a migration to fill in for:
`{"type": "RS_CANT_LINK_NSF"}`

Example:
[code]

[2022-04-26 22:37] #11412 closed

[2022-04-26 22:54] yuisotozaki commented on #11316
Verified in dev. Ready for QA.

[2022-04-26 22:54] doug-lovett commented on #11762
Decided to use PPR repository instead of creating a new one as PPR and MHR are tightly coupled.

[2022-04-26 23:03] #11762 closed

[2022-04-26 23:04] #11764 closed

[2022-04-26 23:05] mstanton1 commented on #11808
Ali is on holidays for a few weeks now. If further search information is required this sprint I can direct the requests to Advocette.

[2022-04-26 23:06] mstanton1 commented on #11490
Based upon the above the recommendation would be to retain 6 years. A high level approach is being drafted for legal review: https://docs.google.com/document/d/1oQ9ChqKUT92HrjQAKuKCQa0iCQKsKZqnqELHFS10r2o/edit

[2022-04-26 23:10] mstanton1 commented on #11983
@forgeuxGH5 @tlebedovich can you review the report above and confirm if you have any concerns with the font for general collateral being updated to calibri to support the fonts in the wysiwig editor? From my review I didn't notice a different between the fonts but I appreciate you have a different eye for these things!

[2022-04-26 23:11] magszymanski commented on #11996
I started a [rough draft](https://docs.google.com/document/d/1EZIGkUngDMk-LPiNSFLanZll6OWX6VNtLQ4j5nL_mDk/edit), borrowing initial key messages from the ["email to registered SP/GP from OneStop businesses"](https://docs.google.com/document/d/1tqklqxeJMASddMjU-v4Mj0Cmc38uM7R4/edit?usp=sharing&ouid=109508011503764748857&rtpof=true&sd=true) and Suzanne's [proposed communication for this user group](h

[2022-04-26 23:21] mstanton1 commented on #11994
Added UI Descriptions in column F based upon what is listed on the CMS site (https://www2.gov.bc.ca/gov/content/housing-tenancy/owning-a-home/manufactured-home-registry#forms-fees). Will review with staff during requirements meeting May 3rd.

[2022-04-26 23:35] sienna-blumstengel commented on #11652
This is where you can see the conflicts @stevenc987 . This is just a random NR in TEST.
![Screen Shot 2022-04-26 at 4.32.05 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/a5bcb81f-2b9d-474c-967d-daa184bd7780)

I think it would be useful if staff provided the NR that they were examining when they saw this issue. We have a list of NRs that are incorrectly showing as conflicts

[2022-04-26 23:57] tlebedovich commented on #11499
@forgeuxGH5 - ready to review over a call with you (its all still local so we can make some decisions together on a few options)

[2022-04-26 23:59] tlebedovich commented on #11485
@yuisotozaki @rkim13103 - can you guys take this one forward without me?

[2022-04-27 14:38] seeker25 commented on #11467
Changing the estimate, the data is a bit more complex than initially thought.

[2022-04-27 15:03] PatrickAHeath commented on #11853
@mstanton1 Staff pointed out a restriction on Transport Permits - if the home resides on a Manufacturer or Dealer lot, all users can request the transport permit.  If not, it's just qualified suppliers.  Should we take that into account in the key cloak roles or leave it to the application?  (keeping Thor's comment about minimizing the number of roles in mind)

[2022-04-27 15:09] mstanton1 commented on #11853
@PatrickAHeath how would we know if the location was a Manufacturer or Dealer lot. Sounds challenging to identify. With the current application is there actual logic in place or is this just done via some sort of checkbox in the UI? It would be helpful to get an idea of the control in the legacy application.

[2022-04-27 15:28] eve-git commented on #11591
Reproduce the issue by using routing slip to check for refund.

[2022-04-27 15:28] PatrickAHeath commented on #11853
@mstanton1 I'll have to do some testing to see how it performs.  Let's leave the key cloak roles as is for now - we can adjust if necessary.  Good to go!

[2022-04-27 16:25] #8643 closed

[2022-04-27 16:26] Maribeth-Wilson opened #12009 "Website work: reorganization of BC Registry app resources"
Create a separate page on the gov website for:

- [ ] one page for PPR Resources,
- [ ] one page for Business Registry resources,
- [ ] one page for other resources
- [ ] one page for BCOL app resources. This page should be linked from existing pages
- [x] one page for Info Sessions

We will be creating a link from the app to the gov site for help material, so this may be better from a user experi

[2022-04-27 16:35] #9828 closed

[2022-04-27 16:39] #11993 closed

[2022-04-27 16:49] #11913 closed

[2022-04-27 16:50] severinbeauvais commented on #12006
Reopening as this is a bug (just not the bug I thought it was originally).

[2022-04-27 16:50] yuisotozaki commented on #9014
Then based on the screencap of update content sans the html tags, this ticket is ready for QA.

[2022-04-27 16:59] severinbeauvais commented on #9841
This is deployed to Dev and I have verified it there.

@yuisotozaki @tlebedovich , ready for UXA.

[2022-04-27 17:11] jinghualicgi commented on #9336
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/9336?planning-poker) with ZenHub @cameron-freshworks @doug-lovett

[2022-04-27 17:17] jinghualicgi commented on #11970
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/11970?planning-poker) with ZenHub @cameron-freshworks @doug-lovett

[2022-04-27 17:32] mstanton1 opened #12010 "UI - Fee Summary Component handling multiple products"

[2022-04-27 17:44] tlebedovich commented on #11970
@forgeuxGH5 - can you add a comp for your item one above for devs?

[2022-04-27 18:30] stevenc987 commented on #11652
@sienna-blumstengel
OK. I will do more investigation after I get the further information from Names Staff so I can fix it easier. Thanks

[2022-04-27 18:38] mstanton1 opened #12011 "UI - Update search table to display reports from the last 14 days (up to max 1000)"

[2022-04-27 18:43] jdyck-fw commented on #9014
Shared doc here showing how this was originally intended to be displayed:
https://docs.google.com/document/d/1TBKdrRcP2Sqoh5bdAIy9zvD2DQS5RoEffFiMDT5WRbQ/edit#

[2022-04-27 19:15] chdivyareddy commented on #11861
Verified SA, SG, FL, FA, FS Registration types.

Reg No **256893N** in DEV:

**Verification Statement of Renewal:** **256944N**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/19df7db0-7684-4d0e-8cec-1632066ef6d5)

[https://app.zenhub.com/files/157936592/af9f1590-5d76-4baf-925e-0e104e6b5a72/download](https://app.zenhub.com/files/157936592/af9f1590-5d76-4baf-925e-0e104e6b

[2022-04-27 19:45] fareenr commented on #11997
27-Apr - discussed w John, Thor to speak to technical specs
Draft presentation saved here:
https://docs.google.com/presentation/d/1sgaG77rkxDtIArmntN_hG-qpxlOWrkKA/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-04-27 20:25] jinghualicgi commented on #11943
Let's start from NR refunds. I have setup a call on Thursday, thanks Patrick

[2022-04-27 20:33] vikasvermacertain opened #12012 "BCOL payment data"

[2022-04-27 20:42] lekshmimallika-aot commented on #11486
@lmcclung Do we need this as we are able to do this via UI. Also I think data loader will also load the existing firms

[2022-04-27 20:45] vikasvermacertain commented on #12012
Talked to Melanie Richardson - Ali is on vacation until May 16

Data is in IMS 2 for bcol payments.
OLBC back up files - generated every night - back up files for billing data.
These daily generations are rolled up to create monthly generation set.
Also, for a fiscal year, roll monthly ones to create yearly file.

Melanie mentioned that she will figure out what the data structure is and send over

[2022-04-27 20:47] jinghualicgi commented on #11984
Moved to In Progress based on Jason's comments @pwei1018

[2022-04-27 20:52] forgeuxGH5 commented on #11983
@mstanton1 using Calibri for GC looks OK

[2022-04-27 20:54] mstanton1 opened #12013 "MHR policy review for search wording"
Policy review is required for the MHR Search screens.

Wireframes: https://preview.uxpin.com/e760f2f576ac509611e7d771d0c00dcff7a39b66#/pages/148632232/simulate/sitemap

In the wireframes you can click 'Sitemap' in the top left to expand. Pages to review are
- Asset and MHR Dashboards
- Search Result and Payment - Multiple Results Selection

For each you will need to scroll down to see all the scre

[2022-04-27 21:00] jdyck-fw commented on #11984
I believe is now resolved, where Sev was unable to complete this yesterday he shared that it seemed to work this morning. I believe Omid was going to follow up to indeed move this to review on the SRE board as it was.

[2022-04-27 21:07] chdivyareddy commented on #11469
Verified via API, UI will be covered in 12011

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e94e2703-b431-491f-9b16-bd10e2bcff5f)

[2022-04-27 21:11] forgeuxGH5 commented on #11468
@mstanton1 ready

[2022-04-27 21:25] fareenr commented on #10011
Draft presentation is saved here:
https://docs.google.com/presentation/d/1hLlk1K1tT91kIX1hgs37LNrH5PlY18HS/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

Awaiting input from Trish, Kaine, Dwayne

[2022-04-27 21:29] forgeuxGH5 commented on #11255
Looks good moving to RFQA as an MVP

@mstanton1 I'm not sure if have a Visual Design ticket yet to finish this off, but we will need one, mainly to ensure AA compliance, but also to cover some other issues, but we also need to clean up some bugs such as copy/paste bullets and apostrophes not being display, tooltip appearance, text alignment in tables, etc.

[2022-04-27 21:37] JohnamLane commented on #11585
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/search-team-space-623397c083af5e0011da2662/issues/bcgov/entity/11585?planning-poker) with ZenHub @kialj876 @thorwolpert @lekshmimallika-aot @ZaidGhauri

[2022-04-27 21:40] JohnamLane commented on #11585
@kialj876 Please take a moment offline to create tasks and estimate this story.

[2022-04-27 21:41] #11584 closed

[2022-04-27 21:47] mstanton1 commented on #11983
@doug-lovett please go ahead with Calibri for general collateral in order to address the italics and bold issue.

[2022-04-27 21:53] mstanton1 commented on #11468
@forgeuxGH5 thank you! Edited to state 14 days.

[2022-04-27 21:54] mstanton1 commented on #11917
@cameron-freshworks this is ready to go!

[2022-04-27 22:03] cameron-freshworks commented on #11917
@mstanton1
Excellent, thank you!

[2022-04-27 22:13] kialj876 opened #12014 "UI - search box"
- [x] build autocomplete component
  - [x] add api call for solr suggester
  - [x] display results in dropdown
- [x] plug in autocomplete to dashboard
- [ ] jest tests

[2022-04-27 22:14] kialj876 opened #12015 "API - solr suggester"
- [x] endpoint
- [x] add suggester fn for solr service
- [x] update solr managed schema / config to include suggester for legal_name, tax_id, identifier
- [x] error handling / response
- [x] pytests / postman tests

Solr suggester should match existing orgbook alg. Check solr config + api processes here:  https://github.com/bcgov/aries-vcr

See https://solr.apache.org/guide/6_6/suggester.html for

[2022-04-27 22:17] kialj876 commented on #12014
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/search-team-space-623397c083af5e0011da2662/issues/bcgov/entity/12014?planning-poker) with ZenHub @lekshmimallika-aot

[2022-04-27 22:17] kialj876 commented on #12014
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/search-team-space-623397c083af5e0011da2662/issues/bcgov/entity/12014?planning-poker) with ZenHub @ZaidGhauri

[2022-04-27 22:18] mstanton1 opened #12016 "PPR General Collateral Formatting"
As a PPR user
I want the ability to format general collateral in registrations
So that outputs can be more clearly read

As a PPR user
I want the ability to paste text into general collateral without hidden characters being inserted
So that I can input general collateral without typing it in the PPR application and avoid risks of a distorted output

[2022-04-27 22:19] kialj876 commented on #12015
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/search-team-space-623397c083af5e0011da2662/issues/bcgov/entity/12015?planning-poker) with ZenHub @lekshmimallika-aot @ZaidGhauri

[2022-04-27 22:35] chdivyareddy commented on #11944
Hey @doug-lovett , When the base registration is created for more than 15 years from now, then the expiry date in the API response is displayed as "T07:59:59+00:00". Can you please take a look, thanks!!

Base Registration **256960N** in DEV (19 years), **256958N** (16 years)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/91565d21-52cb-4c57-9cea-0330fd7561ef)

**Verific

[2022-04-27 22:37] yuisotozaki commented on #11907
Verified in dev. Ready for QA!

[2022-04-27 22:45] sienna-blumstengel opened #12017 "Update "similar descriptive words" pdf, and add to Name Request main page"
### Description

CURRENT PDF: [https://app.zenhub.com/files/157936592/aa1e4c7c-ee2d-4e50-acf4-720729db0f54/download](https://app.zenhub.com/files/157936592/aa1e4c7c-ee2d-4e50-acf4-720729db0f54/download)

### To do

- [x] have Gen update the PDF with Debbie's instructions above
- [x] Have designers determine the best place to include this on the name request home page
- [x] Add the **new** PDF to t

[2022-04-27 22:48] sienna-blumstengel commented on #12017
![image.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/3666f45c-b682-4d9b-af45-eace551f4bed)

Linda to prioritize when this work will be done.

[2022-04-27 22:56] lekshmimallika-aot commented on #11514
Pay api is unable to connect to the nats cluster intermittently. There are lot of errors like this in the pay-api log

ERROR:pay_api:Notification to Queue failed for the Payment Event {'paymentToken': {'id': 595610, 'statusCode': 'COMPLETED', 'filingIdentifier': None}}
ERROR:pay_api:stan: failed connecting to 'test-cluster'
ERROR:pay_api:'NoneType' object has no attribute 'encode'

This is the mes

[2022-04-27 22:59] yuisotozaki commented on #9841
Verified in dev. Ready for QA!

[2022-04-27 22:59] yuisotozaki commented on #9841
Verified in dev. Ready for QA!

[2022-04-27 23:03] #9434 closed

[2022-04-27 23:08] doug-lovett commented on #11944
I only corrected the response for the original registration:
{
  "baseRegistrationNumber": "256962N",
  "clientReferenceId": "T-API-DL-024",
  "createDateTime": "2022-04-27T23:04:08+00:00",
  "debtors": [
    {
      "address": {
        "city": "VICTORIA",
        "country": "CA",
        "postalCode": "A1A 1A1",
        "region": "BC",
        "street": "721 DEBTOR AVE"
      },
      "businessN

[2022-04-27 23:11] tlebedovich commented on #11585
@forgeuxGH5 @janisrogers @kialj876 @thorwolpert @JohnamLane - Janis said we might be moving to a type ahead style for the business search field. I have linked the design ticket above that includes a quick dropdown design that meet AA requirements (similar to what we used in PPR). BUT, I don't know which information we are showing in the dropdown.

To Note: The business look up that needs to go int

[2022-04-27 23:12] mstanton1 opened #12018 "UI Visual Design - Wysiwig Editor"
### Visual Design Comp for Assets WYSIWYG:
https://projects.invisionapp.com/share/W312QYCNE56Z#/screens?browse

----

designer notes:

Updates are spec'd in the design comps (read all notes) and include updates for the following:

1) Registration Flows - Collateral Step 3 and Step 4 read-only view
2) Amendment Flows - Collateral Edit and Read-only Views
3) PDF Outputs

Two bugs to fix:
1) Copy pas

[2022-04-27 23:13] mstanton1 commented on #11255
@forgeuxGH5 created Zenhub 12018 and added it to this story. Will see if @tlebedovich has time to do this before we release.

[2022-04-27 23:14] mstanton1 commented on #12018
@tlebedovich do you have time to tackle this visual design ticket soon? The intent is that the wysiwig goes out in our next release. I believe we can hit Monday release but need discussion with the team tomorrow.

cc @jinghualicgi

[2022-04-27 23:29] tlebedovich commented on #12018
Visual Design may need to come after the first release as I have business search work and another ppr help ticket to get done this week already. Is it ok to go out like it is for now @forgeuxGH5 with visual design to follow?

[2022-04-28 00:34] chdivyareddy commented on #11255
@jordiwes @forgeuxGH5 @mstanton1 , Table formatting, block quote on the General collateral editor (step3) looks good, but when the user navigates to Review and confirm screen (step4) and PDF output, then it looks like a plain text without table formatting. Please take a look when you get a chance, thanks!!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/7fbd5073-3ca2-4a

[2022-04-28 00:42] forgeuxGH5 commented on #11255
This may actually be a table format ^. It may just be setting the column width based on the content vs fixing the column width. If that is the case this could be handled in the visual design ticket.
The table doesn't display lines in the review and pdf which I was thinking we could also2 handle in the visual design ticket.

[2022-04-28 05:54] seeker25 opened #12019 "Fix failing CI workflows"
Fix failing CI workflow

Workflows failing, which are unrelated to the work being posted:

https://github.com/bcgov/sbc-pay/runs/6199939866?check_suite_focus=true
https://github.com/bcgov/sbc-pay/runs/6199685216?check_suite_focus=true

It's blocking this ticket from being merged:

https://github.com/bcgov/sbc-pay/pull/913

[2022-04-28 15:28] jinghualicgi commented on #11230
@Maribeth-Wilson Hi Maribeth, assign this ticket to you to follow-up with progress :) Thanks

[2022-04-28 15:46] #11470 closed

[2022-04-28 15:46] #11977 closed

[2022-04-28 15:51] magszymanski opened #12020 "OCM - Build distribution list of OneStop influencers - Due: May 2"
Email from Trish to: Olisa, Dwayne, Kaine:

Would any staff members on your team be able to help us build a distribution list to notify OneStop influencers of changes coming to OneStop? Many of these influencers/organizations have support docs that reference OneStop, and they advise people to use OneStop to start a business. We have a general awareness communication in the works and would like to

[2022-04-28 16:10] fareenr commented on #11842
Target 5-May - send email to all API DL (API plus high-volume business users) that new technical specs for new Business API and Business Search API are available. Review before info session and come prepared to ask questions.
https://bcregistries-daxiom.web.app/apis-summary

- Also, post this announcement that new beta-specs avail. on Discourse

[2022-04-28 16:15] fareenr commented on #11297
28-Apr - added tech spec review meetings with Dye & Durham, Teranet and API Business Search API technical workshop for 12-May to this API comms and engagement plan

[2022-04-28 16:19] shabeeb-aot opened #12021 "remove console error"
## What is the problem?
* showing console error while clicking on columns to show.

## What is the impact?
*

## Proposed solution
* fix console error

[2022-04-28 16:24] lmcclung commented on #12017
Decide where best to put this list...

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/8ff9699a-d78e-4bbe-9cea-8a8c480e68db)

[2022-04-28 17:01] kialj876 opened #12022 "UI - breadcrumb"
## Description
Add breadcrumb to search-ui that looks/functions the same as PPR ![Screen Shot 2022-04-28 at 9.54.01 AM.png](https://images.zenhubusercontent.com/5b0d85f776f98d262074368f/712c8456-c9e4-4322-9b1e-a66bc486dba8) https://ppr-ui-dev.apps.silver.devops.gov.bc.ca/ppr/dashboard

## Details
- [ ] create vue3 version of breadcrumb component from ppr
- [ ] plug in new component into app view
-

[2022-04-28 17:20] kialj876 opened #12023 "UI - tombstone"
## Description
Add in tombstone info to the app similar to ~PPR:~ My Business Registry
![image](https://user-images.githubusercontent.com/55597599/166306645-a2de22a8-5106-4417-9b14-c30f8df3ac04.png)

## Details
- [ ] create vue3 tombstone component based from ~ppr~My Business Registry
- [ ] Title should read Business Search - no info text at this time.
  - ~remove registry time (unnecessary for th

[2022-04-28 17:26] lmcclung opened #12024 "Filings UI - Display "Not Entered" for missing data on address and prop/part components"

[2022-04-28 17:45] chdivyareddy commented on #11917
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/1b273707-0bbb-46de-a537-1ec41fdc395d)

[2022-04-28 17:48] sienna-blumstengel commented on #11960
Argus is going to ask David Roberts where the Nature of Business field is now, and what happens if a one stop client enters a NAICS code, and what happens if staff enter plain text. **do they get stored in the same place?**

[2022-04-28 18:04] jinghualicgi commented on #11903
We have setup all access/account, please verify, thanks @JohnamLane

[2022-04-28 18:14] Ashna-FreshWorks commented on #11211
There is still an issue in the system, the invoice is not being generated even after a new routing slip with adequate amount is linked to the NSF ticket.

[2022-04-28 18:16] chdivyareddy commented on #11944
@doug-lovett , thanks for the update. Just wanted to confirm - Does this change apply only to New Registrations?

For eg: **100636B** was created on **January 12, 2022**, Base registration was created for 12 years and Renewed for 2 years. Here is the Response: "expiryDate": "2034-01-13T07:59:59+00:00",

{
    "baseRegistrationNumber": "100636B",
    "createDateTime": "2022-01-12T23:37:33+00:00",

[2022-04-28 18:21] yuisotozaki commented on #11166
Staff feedback from Apr 27.
* Calling out the name change fee of $30 may cause confusion as legislation only states either $70 or $100.

Design update
* The Fee Summary will only have 1 line item of Special Resolution whose fee value will change between $70 and $100 depending on whether or not the name was changed.

[2022-04-28 18:30] Maribeth-Wilson commented on #11235
Google drive structure doc (draft) can be found here: https://docs.google.com/document/d/1iCM6zogyCL982szaFWAd2ndqGr7bKN8a/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

[2022-04-28 18:42] fareenr commented on #11383
Kaine suggested we need some comms to PPR users about multiple items:
- PPR stable now
- new PPR search guide
- list out training resources avail
- other things??

[2022-04-28 18:53] doug-lovett commented on #11944
Hi @chdivyareddy, January is not in daylight savings, so the timezone difference between UTC and Pacific is 8 hours. With DST the difference is 7 hours. So the value in your example is correct.

[2022-04-28 18:55] jinghualicgi commented on #11943
NR Refund training has been provided by Patrick on April28. Participants:
- Graham, Tyson CITZ:EX <Tyson.Graham@gov.bc.ca>;
- Merrick, Jordan CITZ:EX <Jordan.Merrick@gov.bc.ca>;
- Draker, David CITZ:EX <David.Draker@gov.bc.ca>;
- Marney, Kelly CITZ:EX <Kelly.Marney@gov.bc.ca>
- Ohiobor, Samson CITZ:EX <Samson.Ohiobor@gov.bc.ca>

[2022-04-28 19:08] chdivyareddy commented on #11944
@doug-lovett , thanks for clarifying:)

[2022-04-28 19:19] pwei1018 commented on #11943
Zenhub and Ops-support access done for OPS team members.

[2022-04-28 19:43] chdivyareddy commented on #11944
Verified!
Base Reg No: **256960N** in DEV!
**Response:** "expiryDate": "2041-04-28T06:59:59+00:00"

{
    "baseRegistrationNumber": "256960N",
    "createDateTime": "2022-04-27T22:22:47+00:00",
    "debtors": [
        {
            "address": {
                "city": "NEW YORK",
                "country": "US",
                "postalCode": "10016-5605",
                "region": "NY",

[2022-04-28 19:55] fareenr opened #12025 "Post PPR Search Results Guide available now in What's New in PPR application"
Please post this under What's New in the PPR application:

A new **PPR Search Results Guide**( https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-guides/ppr_search_results_guide.pdf) is available on the BC Registry PPR webpage and can be referred to help understand how to read and interpret a report after

[2022-04-28 20:35] jinghualicgi commented on #10280
Move to Ready for Release on SRE board

[2022-04-28 20:41] jinghualicgi opened #12026 "Pre-release Checklist: SRE April29 Release: NameX"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Backup Production Image  -  namex-api:prod
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are pres

[2022-04-28 20:43] chdivyareddy commented on #11809
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/5a74d100-2f6f-49de-8acf-4321abfb2f52)

[2022-04-28 21:08] argush3 commented on #11960
Sent email to David Roberts to get more clarity around how nature of business related fields are populated in COLIN db and waiting for reply.

Also did some research to see what's in `business_description` table in COLIN which seems to be used to store the nature of business data.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/359e420f-9a5b-42fc-9bec-d40f2a3f780a)

[2022-04-28 21:08] trishreimer commented on #11701
Sent to Carol, Kaine and Linda for approval.

From: Reimer, Trish CITZ:EX
Sent: April 28, 2022 9:55 AM
To: Prest, Carol CITZ:EX <Carol.Prest@gov.bc.ca>; Sparks, Kaine CITZ:EX <Kaine.Sparks@gov.bc.ca>
Cc: McClung, Linda CITZ:EX <Linda.McClung@gov.bc.ca>; Gordon, Dwayne CITZ:EX <Dwayne.Gordon@gov.bc.ca>; Ezeh, Olisa CITZ:EX <Olisa.Ezeh@gov.bc.ca>; Wulff, Cameron CITZ:EX <Cameron.Wulff@gov.bc.ca>; Sz

[2022-04-28 21:08] yuisotozaki commented on #11166
@lmcclung The design update has been made to make the Fee Summary only show one line; either $70 or $100. We can gauge complexity when grooming.

[2022-04-28 21:09] jinghualicgi commented on #9992
Based on today's discussion, this task has been done. Closed this ticket.

[2022-04-28 21:14] yuisotozaki commented on #11485
Verified content with the master business summary design done by Tracey a while back. Ready for dev!

[2022-04-28 21:17] jinghualicgi commented on #11881
@mstanton1 We discussed this in SRE meeting, please consider to add this in Assets next sprint. Please see detail information under ticket: UIs - update node/npm version#10478. Move to Grooming on Asset board. thanks

[2022-04-28 21:19] jinghualicgi commented on #11885
@jyoti3286 Please consider to add this in Relationship's next sprint. Please see detail information under ticket: UIs - update node/npm version#10478. Move to Grooming on Relationships board. thanks

[2022-04-28 21:22] jinghualicgi commented on #11882
@lmcclung @mstanton1 Not sure which team can help with this task?  SRE cannot implement this because of access limitation. Please see detail information under ticket: UIs - update node/npm version#10478. Thanks

[2022-04-28 21:29] #11326 closed

[2022-04-28 21:30] sienna-blumstengel commented on #11326
Still 4 groups left undefined. They are indicated as undefined and we can update them as we gain expertise in that codebase and can identify their purposes.

[2022-04-28 22:31] fareenr commented on #11383
28-Apr - updated memo to be sent to all PPR users in the new BC Registry application

[2022-04-28 22:51] tlebedovich commented on #12000
@Kaineatthelab @mstanton1 - designs for the Help link are ready for review/development - needs to be linked to a design ticket please

[2022-04-28 22:54] ozamani9gh commented on #11937
I was asked to mimic Catherine's github access to what Sienna had.   I only saw two repos.

Lear
Entity

Please Ask Catherine to accept invite and she will have access to them.

@rarmitag can you reach out tommorow to Linda and ask her if there are any other repos Catherine wants.  I will be back Tuesday in case you dont get to it.

[2022-04-28 23:00] mstanton1 commented on #11881
@jinghualicgi we should groom this either at the end of a stand up or can take a look in sprint planning to see the size and if it fits.

[2022-04-28 23:08] chdivyareddy commented on #11598
@mstanton1 , I have checked few items above which were covered as part of this ticket, we can tackle other items later in another ticket on Monday if possible, thanks!!

[2022-04-28 23:13] mstanton1 commented on #12000
This is great! Once @Kaineatthelab has reviewed our team can groom. Kaine, can you also provide an idea of how fast you would like to see this implemented? Ideally to fit in grooming it would be targeted for 13.3.

[2022-04-28 23:58] magszymanski commented on #11996
Suzanne had met with the the 4 key influencers, who are aware of our work and who have all requested demos. I've pivoted the communication for these influencers speciifically to a more "personalized" email as opposed to a generic-sounding one. Tomorrow I will review and continue with comms to all other influencers..

[2022-04-29 02:55] Kaineatthelab commented on #12000
next sprint is ok, if that what 13.3 is

@scott doesn't it need one on the business page too? and staff dashboard so they can see it:) Staff dashboard for quick link to staff info center and cms help page for users?

[2022-04-29 03:02] forgeuxGH5 commented on #11768
@cameron-freshworks

Just one tweak here:

- reduce width of Registry column to force Manufactured Home to wrap to 2 lines - just trying to narrow the default table width so we don't see the horizontal scrollbar

[2022-04-29 03:04] forgeuxGH5 commented on #11600
@cameron-freshworks
UXA notes:

- Merge Year Make Model into one cell
- Update instructional text to: “Review the details of the manufactured home before paying. Your search result will be available in your Searches list.”
- The Back arrow and the Search Results link in the breadcrumb should navigate to the Search results page with the same search result displayed.

[2022-04-29 03:07] mstanton1 commented on #12000
Next is 13.2 but we will look to set up extra grooming or just groom in sprint planning to get it into 13.2.

[2022-04-29 03:08] forgeuxGH5 commented on #11597
@cameron-freshworks

UXA Notes:

- When the Owner Name select all checkbox is in the All-selected state, and an individual MH checkbox is deselected, all of the other MHs should remain selected and the Select all checkbox should be display in the Mixed-selected state.
- Add the lien information tooltip - standard tooltip component and styling
![image.png](https://images.zenhubusercontent.com/5bdb2

[2022-04-29 03:16] Kaineatthelab commented on #12000
Right, if it is more then a 1 then let me know but it shouldn't be, it will help support chg mgt so would be good for all the teams to get it on:)

[2022-04-29 05:45] seeker25 opened #12027 "Create indexes for various high count tables"
Credits to Patrick:

[code]

We found the higher count tables using:

[code]

These still need to be made in SQLAlchemy and migrated from DEV -> TEST -> PROD.

[2022-04-29 14:52] PatrickAHeath opened #12028 "PPR - Folio Number for Amendment, Renewal, Discharge doesn't appear on Verification Statement"
**Describe the bug in current situation**
When an Amendment, Renewal or Discharge is performed on a registration and a Folio # is entered for that activity, the Folio # value is not displayed on the Verification Statement for that activity.  The Folio # of the original registration is displayed in the registration details on the first page of the verification statement.

**Link bug to the User Sto

[2022-04-29 15:03] cameron-freshworks commented on #11768
Done and done, moving to review!

[2022-04-29 15:35] ritvick commented on #11899
Pull request here: https://github.com/bcgov/sbc-pay/pull/919

[2022-04-29 15:38] chdivyareddy opened #12029 "Registering Party wording is not removed when undo button is clicked"
- When filing an Amendment/Renewal/Discharge on behalf of the third party, the registering party wording in the yellow box is not being removed when the user clicks on undo button.

- When the registering party is changed (expected)
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/63021fae-6196-4cec-a040-73861f85e143)

- When the user clicks on undo:
![image.png](https://

[2022-04-29 15:43] trishreimer commented on #12000
@forgeuxGH5 @tlebedovich Just a heads up: that we are redesigning some of the gov content pages. Currently, everything is under the modernization pages on the gov website, but people are not making the association between modernization and the products, so going forward, for apps that have been implemented, like PPR, we will migrate content from the modernization pages to the product splash page (

[2022-04-29 15:47] trishreimer commented on #12000
Not to increase scope too much...but while we're adding help files, could we do something to support 'getting setup and creating an account'?

We get a lot of calls about this...Here are the resources:

https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization-updates/using-the-business-registry#set-up

https://www.bcregistry.ca

[2022-04-29 16:01] lmcclung opened #12030 "AUTH UI: Hide the Modified by and Last Modified columns"
Entities team will do this work.  Relationships team will need to do code review.

This is a follow up from Ops ticket #634

The columns were displaying incorrect information (a user who strictly uses PPR was shown as modifying an NR).  The code is not currently sophisticated enough to work properly.  In the interest of time, we will hide the columns so users are not concerned.

Question:  How muc

[2022-04-29 16:18] cameron-freshworks commented on #11600
Update List:
- [ ] Merge Year Make Model into one cell
- [ ] Update instructional text to: “Review the details of the manufactured home before paying. Your search result will be available in your Searches list.”
- [ ] The Back arrow and the Search Results link in the breadcrumb should navigate to the Search results page with the same search result displayed.

[2022-04-29 16:19] lmcclung opened #12031 "Identify work and make changes to reflect new Registrar"
### Description
The current Registrar, Carol Prest, will be retiring on June 1.  Her replacement will be announced shortly. For future outputs that have a certified stamp, after she retires, need to display the new registrar's name and signature.

The **effective date** of the filing determines which registrar's name displays.

If you download any certified output for a filling that was **effectiv

[2022-04-29 16:22] forgeuxGH5 commented on #11255
**Screenshots of issues**

Text vertical alignment and column width (also note apostrophes are not being pasted – “o’clock”, also note some “space” characters from webpages are not pasted). Note the vertical alignment issue also happens with text directly entered into native table component (not copied from Word)

**Original**
  ![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf5

[2022-04-29 16:23] cameron-freshworks commented on #11600
Moving the checked items to review!
@forgeuxGH5 Perhaps we could move the BreadCrumb updates to a new ticket, due to the pressing nature of some other tasks?

[2022-04-29 16:35] seeker25 opened #12032 "FAS - Performance - Query optimization"
FAS - Query optimization

There are some unnecessary joins and unnecessary columns.

Turning on
`SQLALCHEMY_ECHO=True`

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/33926d0b-f7fb-4126-9c4d-99f797e4d0ff)

[2022-04-29 16:36] #9841 closed

[2022-04-29 16:36] #9840 closed, assigned to lmallika86

[2022-04-29 16:36] #11907 closed

[2022-04-29 16:42] lmcclung commented on #11937
@rarmitag the repos are fine.

[2022-04-29 16:42] #11937 closed

[2022-04-29 16:55] lmcclung commented on #11486
@lekshmimallika-aot no, we don't need to this anymore.

[2022-04-29 16:55] #11486 closed

[2022-04-29 16:55] zac-broitman opened #12033 "PAY-API: FAS - RS not moving to Completed status when balance is drained to 0"
* As a FAS user
* I want a routing slip to automatically transition to "Completed" status once all funds have been used
* so that I can easily identify it as a routing slip that does not need further action

**Acceptance Criteria**

**Scenario 1: Moving slip status to Completed**
* GIVEN ... a routing slip exists with a balance > 0.00
* WHEN ... a manual transaction reduces the balance to 0.00
* T

[2022-04-29 16:55] lmcclung opened #12034 "Add conversion indicator to business object"
The Relationships team needs to have an indicator in the business object for firms for their dissolution filings.

[2022-04-29 17:07] zac-broitman opened #12035 "FAS - COLIN fees not totalling correctly for future dated filings"
**Describe the bug in current situation**
Description for Darci:

In the FAS UI, if future effective fee is selected this is added correctly and the fees are totalled correctly.
**Link bug to the User Story**

**Impact of this bug**
This appears to cause the future effective fee to not be taken from the routing slip. There is a workaround possible, where a no fee transaction is done in COLIN and t

[2022-04-29 17:25] jmills-cgi opened #12036 "Entities: Sprint 13.2a Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Add release # to this ticket
- [ ] Update version numbers in the code being released and list them here:
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Dev to ensure that the commit list is r

[2022-04-29 17:26] jmills-cgi opened #12037 "Entities: Sprint 13.5a Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Dev to ensure that the commit list is r

[2022-04-29 17:32] lmcclung opened #12038 "Identify business logic for when DB flag should be used"
**Fields that cannot be null, that will trigger the flag:**
- [ ] business address
- [ ] proprietor
  - [ ] name
  - [ ] address
  - [ ] Corp num (if it is a registered BC business)
- [ ] partner
  - [ ] name
  - [ ] address
  - [ ] ~Corp num (if it is a business)~ we don't collect this for GPa
- [ ] business start date
- [ ] completing party name and address
- [ ] anything else?

**Don't care abo

[2022-04-29 17:38] seeker25 opened #12039 "Fix logging"
We did a hotfix to get logging working on PROD (commited log.conf). This needs to be reverted. I believe we can RSYNC a logging config to the pod while it's running to get logging working again. Just need to test it in DEV and see if it works.

[2022-04-29 17:39] seeker25 commented on #11957
The top error is being fixed by CAS.

[2022-04-29 17:44] lmcclung commented on #12034
duplicate ticket.

[2022-04-29 17:44] #12034 closed

[2022-04-29 18:01] seeker25 commented on #11855
I think Thor said we wont be using swagger anymore.

[2022-04-29 18:01] #11855 closed

[2022-04-29 18:08] zac-broitman opened #12040 "FAS - "#" not allowed in reference numbers"
**Summary**
Staff have reported that the field validation in the reference number field for a transaction does not allow the # sign. This is a common point to include as this is tracking specific numbers.

If this is not a high effort change, updating the field validation to allow symbols would help staff.

[2022-04-29 18:12] trishreimer commented on #12020
[https://app.zenhub.com/files/157936592/e5eb1eca-0f70-478d-8191-5caf1fd0eba0/download](https://app.zenhub.com/files/157936592/e5eb1eca-0f70-478d-8191-5caf1fd0eba0/download)

Here is the DL for influencers for the upcoming mail out.

[2022-04-29 18:13] trishreimer commented on #12020
I moved the file to this folder:
https://drive.google.com/drive/u/0/folders/1wHpG2udHtyf9d6Xs5wpSEZIVAv3iQx_c

[2022-04-29 18:13] forgeuxGH5 commented on #12000
@trishreimer agreed - I think @Kaineatthelab is going to set up a time for us to chat. We do have a couple of links to the "splash" page from the PPR "marketing" page but we could do better at making it more obvious/helpful for sure. I also agree that, longer term, the applications should handle the application help.

And we do want to improve the account set-up / getting started - there is a tick

[2022-04-29 18:43] sienna-blumstengel commented on #10036
[https://app.zenhub.com/files/157936592/48e9a990-d584-454c-8d59-82cf5a3ea75a/download](https://app.zenhub.com/files/157936592/48e9a990-d584-454c-8d59-82cf5a3ea75a/download)

Julie suggested some changes to section 6 to make it clearer when certain outputs are provided. @lmcclung can you have a look at my suggestions first, then let Gen know if she can proceed?

[2022-04-29 19:24] fareenr commented on #11529
Posted on Mod News webpage 28-Apr:
April 28 2022- Personal Property Registry (PPR) Search Results Guide is now available.
PPR Search Results Guide has been created to help and understand how to read and interpret a report after completing a search from the PPR application.
This guide contains descriptions of all the fields displayed in the report including registration details and historical infor

[2022-04-29 20:31] magszymanski commented on #11996
@trishreimer ( @Maribeth-Wilson ) - please see the two email drafts located in the ticket description. Once I finalize the screenshots with Sienna, I will incorporate those into the email.

I will then pass it to Linda, Dwayne, and Kaine for approval. For the 4-key-influencers email, I will also ask Linda about how and when she would like the meeting to occur, who will run the demo, etc.

[2022-04-29 20:49] trishreimer commented on #11701
- [ ] add statement to advise people they are receiving this email because they registered a business one time with the BC Registry Services in British Columbia. @magszymanski

@Maribeth-Wilson

- [ ] fasten your seatbelt ;-)

- [ ] Notify Reg Leads, BA ops team, help desks (usual dist list) - send them a copy of the communication and advise them of the mass email that will be going out in batches

[2022-04-29 21:15] fareenr opened #12041 "Update Rural Property Tax Search user guide"

[2022-04-29 21:20] fareenr commented on #12041
21-Apr - Michael Stewart and Jackson Williams from Finance are currently reviewing the RPT help guide (Word version from BCOL). After they have reviewed and updated it, need to update the screenshot and instructions for adding the Rural Property Tax Search product/service from new BC Registry landing page.
Then, Gen needs to create a webpage to house this document. This webpage needs to be linked

[2022-04-29 21:21] fareenr commented on #11973
Targeting Jun 23 for RPT and Wills Reg launch date

[2022-04-29 21:26] zac-broitman commented on #11466
Entities plan: making a new endpoint in Namex API to request all NRs for the organization at once

Relationships can then make the changes to Auth to consume that new endpoint

[2022-04-29 21:26] #9240 closed

[2022-04-29 21:27] #9836 closed

[2022-04-29 21:32] #9242 closed

[2022-04-29 21:37] lmcclung commented on #11857
@yuisotozaki @severinbeauvais can you confirm this ticket is an enhancement and isn't blocking our completing party component at the moment?

[2022-04-29 21:47] lmcclung commented on #10036
@sienna-blumstengel @gprimeau I like Julie's suggestion.  Replace the three paragraphs currently there and add the above instead.

[2022-04-29 21:47] severinbeauvais commented on #11857
@lmcclung I think that's accurate. This is a convenience for the user.

[2022-04-29 21:48] lmcclung commented on #9248
@lekshmimallika-aot for you to pick up next.

[2022-04-29 21:50] lmcclung commented on #9261
closing this ticket as this work will be done by Serach team

[2022-04-29 21:50] #9261 closed

[2022-04-29 21:52] chdivyareddy commented on #11983
Hey @doug-lovett , Italics and Bold format works as expected in DEV. But, in TEST only the Bold format is working as expected. Can you please take a look, thanks!!

- Reg No: **256985N** in DEV (expected)

[https://app.zenhub.com/files/157936592/8a9afd14-0811-401d-b220-3048b94f2c2d/download](https://app.zenhub.com/files/157936592/8a9afd14-0811-401d-b220-3048b94f2c2d/download)

- Reg No: **502429N*

[2022-04-29 21:59] jinghualicgi commented on #11881
Sure, move this to Sprint backlog and tag 13.2

[2022-04-29 23:06] doug-lovett commented on #11983
@chdivyareddy should be okay now.

[2022-04-29 23:32] lmcclung commented on #11531
posted error in rocket chat late Friday Apr 29th.  Will update with progress.

[2022-04-29 23:47] chdivyareddy commented on #11983
Verified!

Reg No: **502430N** in TEST
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b4aff607-8c7f-4db4-a44b-e63c3100475f)

[2022-04-30 00:52] jinghualicgi commented on #11127
Will assign all Sienna's tickets to Sarah when have Sarah's ZH ID @jinghualicgi

[2022-04-30 19:34] seeker25 commented on #11211
This is related to the account CFS job failing on TEST and PROD.

[2022-04-30 19:38] seeker25 commented on #11211
Blocked by 11957

[2022-05-02 13:24] seeker25 commented on #12007
Included in part of:
https://github.com/bcgov/sbc-pay/pull/921

[2022-05-02 13:36] seeker25 commented on #12032
We've taken two approaches to this:

1. Lazy loading for routing slip relationships
2. Limit the number of rows in the search via limit

[2022-05-02 14:37] seeker25 commented on #11957
in TEST I've changed the payment_date to now()

`update payments set payment_date = now() where payment_date < '2019-01-01';`

[2022-05-02 14:50] fareenr opened #12042 "Updated PPR user distribution list"
Please provide an updated distribution list of all Account Administrators subscribed to the PPR product.  This must include Ministry, Non-Ministry and all external PPR users.
The report output must contain the Account Name, Account Admin name, Email address

@pwei1018 I will email you the prior list from Feb 4 2022 with the SQL query.  Please let me know if any clarification is needed.

[2022-05-02 15:05] PatrickAHeath opened #12043 "PPR - Add Details Description to Discharge to capture registration specific notes"
Request from Sharon:

Hi Team,
I would like to request that the Details description screen be available on total discharge screens so that if we are discharging a PPSA for a specific reason we could make notes (like registration to be discharged as new agreement in place or collateral was seized… or anything).

Thank you.

[2022-05-02 15:49] #11950 closed

[2022-05-02 15:49] #12038 closed

[2022-05-02 15:56] forgeuxGH5 commented on #11255
The UI has the correct formatting (except for one small issue with some copy/paste tabbed text not appearing the same as the original) but the PDF outputs don't display the correct formats for the above issues and the hidden character issue/corrupt text is displaying in the outputs.

[2022-05-02 15:56] yuisotozaki commented on #11991
This ticket could be a stub on Entities side while we open a ticket for Pay API.
When the Pay API is corrected according to the content of the doc below, we can use this ticket as the UXA on our end.
ref: [BC Online Payment Error Handling](https://docs.google.com/document/d/1TBKdrRcP2Sqoh5bdAIy9zvD2DQS5RoEffFiMDT5WRbQ/edit#)

[2022-05-02 15:57] yuisotozaki commented on #9014
Pay API related ticket is [11991](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/11991). We can continue further discussions there.

[2022-05-02 16:21] lekshmimallika-aot commented on #11514
@lmcclung  Will pull this in once the RFC is ready

[2022-05-02 16:47] doug-lovett commented on #11765
Search by serial number waiting on analysis from Ali on key generations and search query using a serial number key. Move to a separate ticket.

Also move MHR search payment to another ticket.

[2022-05-02 17:08] mstanton1 opened #12044 "API - MHR Search Payment"
- [ ] Search step 2 pay

[2022-05-02 17:17] doug-lovett commented on #9960
MHR API endpoint: https://bcregistry-dev.apigee.net/mhr/api/v1
Spec with search endpoints and example requests and responses:
https://bcregistry-demo.apigee.io/docs/mhrproxy/1/overview

Search Step 1 search by MHR number example:
POST https://bcregistry-dev.apigee.net/mhr/api/v1/searches
{
  "type": "MHR_NUMBER",
  "criteria": {
    "value": "022911"
  },
  "clientReferenceId": "MM-UT-0001"
}
Sear

[2022-05-02 17:18] chdivyareddy commented on #11597
@cameron-freshworks @forgeuxGH5

- When the Owner Name checkboxes are all in the selected state/ individual owner names are selected, and all the Lien information is selected and navigated to the Review screen, then when the 'Back button' is clicked, all the selected list gets deselected in the Search Results screen - Will this be tackled in a different ticket?

[2022-05-02 17:23] chdivyareddy commented on #11600
@cameron-freshworks

- Folio Number is not prefilled in the Review screen when it was entered in the Search Results screen.

**Search Results Screen:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a03755d5-86da-442f-b4a2-50f753efd9b4)

**Review Screen:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/9ca690fd-e97e-449b-b14f-d6d5b1141391)

[2022-05-02 17:43] lekshmimallika-aot commented on #11316
Verified in dev

[2022-05-02 17:54] mstanton1 opened #12045 "UI - Help Guide Panel and Link for Dashboard"
### Visual Design Comps:
(including Entities Dashboard and My PPR/MHR)
https://projects.invisionapp.com/share/Y712NBTKASBC#/screens/466493828_Dashboard_-_Help_Box?browse

[2022-05-02 17:59] mstanton1 commented on #12045
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12045?planning-poker) with ZenHub @doug-lovett @dimak1

[2022-05-02 18:01] mstanton1 opened #12046 "UI - Help Link on PPR Page"
### Visual Design Comps:

See blocker design ticket for url links
(including Entities Dashboard and My PPR/MHR)
https://projects.invisionapp.com/share/Y712NBTKASBC#/screens/466493828_Dashboard_-_Help_Box?browse

[2022-05-02 18:01] mstanton1 commented on #12046
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12046?planning-poker) with ZenHub @dimak1 @doug-lovett

[2022-05-02 18:06] zac-broitman opened #12047 "FAS - Incorrectly saying balance is less than transaction amount"
**Describe the bug in current situation**
Staff are trying to perform a BC Annual Report for a BC company (costs $43.39) on RS 206361107 which has balance 43.39 but when they try to enter the transaction either through the integration or manually they get an error saying the transaction cost exceeds the routing slip balance.

**Link bug to the User Story**

**Impact of this bug**
Unknown as there

[2022-05-02 18:53] mstanton1 commented on #9960
@doug-lovett it looks like the API integration is in 11766 which wasn't added into this epic. I've moved it into the epic.

[2022-05-02 19:22] SateeshFW opened #12048 "Onboarding of Megan Wong (Dev Co-op)"
**Onboarding checklist for new team members**

This should be created at least a couple of days before a new member comes on board.

**IDIR**
- [x] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [x] Submit to IT Operations Support. This form should be emailed to the Registries Executive As

[2022-05-02 19:46] doug-lovett commented on #11255
@chdivyareddy for DEV registration 256993N, attached below is the database gc text wrapped in an html doc. Please let me know if report changes are required based on what is saved in the database. Change attachment file type to .html

[https://app.zenhub.com/files/157936592/1a88b038-6d88-4410-825f-1ef0aefa219f/download](https://app.zenhub.com/files/157936592/1a88b038-6d88-4410-825f-1ef0aefa219f/do

[2022-05-02 20:05] doug-lovett commented on #11821
Done. API spec update, dev site ppr page history update published on API dev site.

[2022-05-02 20:14] cameron-freshworks commented on #11597
@chdivyareddy
Good question!
Yes, currently the Select All will clear when returning back to the Results page.
If the preference to is to preserve the `Select All` we can definitely do so!

I believe Scott had mentioned something about expanding the checkbox functionality to include things like this, as well as preserving the Users preference each time they logged in, at the time though it did sou

[2022-05-02 20:17] forgeuxGH5 commented on #11597
I'd say we handle this in the checkbox behaviour design - I think we'll need a ticket for that. It's looking a bit complicated...