[2022-02-03 16:25] #10907 closed

[2022-02-03 16:26] fareenr commented on #10822
use same internal comms as #10823

[2022-02-03 16:45] Maribeth-Wilson commented on #10862
@fareenr has updated the guide and has published is as v1.1. Moving this ticket to Done.

[2022-02-03 16:59] fareenr opened #11028 "Mod website updates - Multiple Accounts Admin"
Post notice on Mod Updates webpage for Multiple Accounts for BCeID Admins

- [x ] Publish updated PDF user guide with additional info on switching between accounts

[2022-02-03 17:00] #8173 closed

[2022-02-03 17:02] lmcclung commented on #9361
Closing as this is working properly.

[2022-02-03 17:07] lmcclung commented on #10906
provided to Linda in rocketchat

[2022-02-03 17:07] #10906 closed

[2022-02-03 17:14] #10554 closed

[2022-02-03 17:21] severinbeauvais commented on #10866
@forgeuxGH5 @tlebedovich This ticket is ready for UX Assurance.

(Note that BC Registry login is broken, but that is a different ticket. In the meantime, you can login from the Business Registry pages.)

[2022-02-03 17:28] lekshmimallika-aot commented on #10769
@lmcclung This ticket was to populate the state filing ids for all the entities that were dissolved and not restored. I verified that all historical entities in prod have reference to the filing that caused the historical state. There is another UI ticket to tackle the unknown reason. Can this ticket be marked as done?

[2022-02-03 17:29] lekshmimallika-aot commented on #10934
Ok, Marking this as a verify ticket. I will do the required changes in the API

[2022-02-03 17:39] lekshmimallika-aot commented on #10874
@lmcclung I verified that we have the state filing against the business BC1289777. So this error should not happen and it should work like how it worked for BC1310399.
Could you please try again. If it still happens, I will have to add more logging in the legal API temporarily and check

[2022-02-03 17:48] yuisotozaki commented on #10866
@severinbeauvais Is the UXA acceptance criteria for this ticket the aggregate user flows in all the referenced tickets that are blocked by this ticket?

[2022-02-03 17:48] chdivyareddy opened #11029 "PPR - Legacy Registration TRANSITION_TAX_LIEN 'TL' has no Collateral Info/Details"
- [ ] The Registration Type TL (TRANSITION_TAX_LIEN) has no Collateral details (Vehicle or General) for almost all the Registrations in the Database.

- In the new PPR, the user cannot do an amendment/edits if the collateral is empty.

**Base Registration Number** **3357923**:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c2b1de34-0621-4778-8606-887d98dae527)

**Respon

[2022-02-03 17:55] severinbeauvais commented on #10866
@yuisotozaki No, just what is in this ticket's description. The blocked tickets have their own requirements/AC and will be tested separately.

[2022-02-03 18:01] mstanton1 opened #11030 "Make Folio More Noticeable"
User Feedback: The folio field in both name reservations and PPR registrations is not very prominent. It would be helpful if that was a mandatory field.
My team members keep forgetting to add the file number because the file isn’t prominent.

Bolding the field or making it required (which is common with other legal software) would be super helpful

[2022-02-03 18:02] Maribeth-Wilson commented on #10942
Draft completed and can be found here: https://docs.google.com/document/d/1_3sZSbFy3PANJVHKyv5S305yXPj_hVSB/edit?usp=sharing&ouid=100158666799678885533&rtpof=true&sd=true

[2022-02-03 18:06] fareenr commented on #11028
Modernization news update post saved here:
https://docs.google.com/document/d/1SHlLr_M6tdQqyrE6tDx-M5qNap0Sj4qPG0nM1SJ_nfw/edit?usp=sharing

To be posted after release is confirmed

[2022-02-03 18:15] Maribeth-Wilson opened #11031 "BC Registries User Guide restructure and updates, Due: Sep 30th"
The BC Registries user guide is currently used by a variety of audiences, both internal and external. The guide requires frequent updating to ensure it continues to be the 'single source of truth' for the BC Registry app functionality.

We need to streamline the guide update process while also ensuring the guide is always current. We have heard from our BCOL and Reg staff that clients have difficu

[2022-02-03 18:16] sienna-blumstengel opened #11032 "Legal API - Update metadata to display filing name"

[2022-02-03 18:16] pwei1018 opened #11033 "PAD Payment check Automation"

[2022-02-03 18:19] chdivyareddy commented on #10223
Amending Transition Tax Lien will be handled in #11029

[2022-02-03 18:21] sienna-blumstengel commented on #9846
Lekshmi thinks most of this work might already be done. Verify it works as expected

[2022-02-03 18:34] jordiwes commented on #6925
1 - am only showing this error on bad response from auth api ...  are there any other scenarios that I should cover?
5 - unable to save selections... perhaps we should discuss the flow? should it redirect to dashboard after error?

[2022-02-03 18:35] #11012 closed

[2022-02-03 18:38] Maribeth-Wilson opened #11034 "OCM - review and walk through current applications"

[2022-02-03 18:40] sienna-blumstengel commented on #10292
Blocked until we get reply from Carol

[2022-02-03 18:44] sienna-blumstengel commented on #10296
@cameron-freshworks with chat with Saravan (or another backend relationships dev) to discuss what changes are needed in the AUTH API.
Might need to design a solution with @thorwolpert

[2022-02-03 18:50] sienna-blumstengel commented on #10417
@cameron-freshworks discuss with Saravan as well

[2022-02-03 18:53] yuisotozaki commented on #10866
Following observations were made in dev env:
* Using bookmarked URL to the staff dashboard, if logged out, redirects the user to the new login page.
* What's New link is visible with new notification red-dot.
* If you have 2 tabs open to the dashboard and log out of one of the tab, some of the links in the other tab still works (e.g. Hamburger->Account Info)
* The user account and notification pan

[2022-02-03 19:00] sienna-blumstengel commented on #10996
Time-box research on this ticket:
After we complete the time-boxed research, we are going to revisit this and re-estimate.

[2022-02-03 19:09] severinbeauvais commented on #10866
The "other" tab needs to be refreshed in order to learn the new session state. However, any actions that require auth should fail. It sounds like that's not working. Please create an Auth Web bug ticket for this. This observation is out of scope for THIS ticket.

I noticed that, too. It looks like a caching issue with Auth Web (eg, My Business Registry), or perhaps a timing issue (ie, one menu ren

[2022-02-03 19:15] yuisotozaki commented on #10866
@severinbeauvais Thanks for the feedback. Will create tickets. UXA completed.

[2022-02-03 19:17] mstanton1 opened #11035 "Display Base Registration in History Section for registrations with amendments and renewals"
The base registration should be included in the verification statements once a registration has been amended or renewed to assist users in determining the changes made to the registration.

Display the base registration information in the History section for registrations with amendments and renewals, including:

Amendments (any amended data, including Details Description and Court order)
Renewals

[2022-02-03 19:41] severinbeauvais commented on #10866
Oh, yes. I broke that in # 10905 (and am working on fixing it). Also out of scope for THIS ticket.

Don't worry too much about misc use cases: the blocked tickets are full of them :)

[2022-02-03 19:58] fareenr commented on #10820
Need to update after release complete with the documents actually sent

[2022-02-03 20:39] chdivyareddy commented on #10741
Verified in DEV!

**Base Reg No: 256190N**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b3a6925e-1c94-4624-b271-2e381a62c0ed)

[2022-02-03 20:56] eve-git commented on #8901
The test of the first and second name as below. There is no designation added to the name after changing jurisdiction. The code change meet the requirement.

![image.png](https://images.zenhubusercontent.com/5da9d9a151b27c0001f5c9ec/3f7df48d-73c0-411d-a6c9-f63088f204d0)

[2022-02-03 21:03] jinghualicgi commented on #10900
@doug-lovett Doug, can you add est on this ticket?

[2022-02-03 21:05] jinghualicgi commented on #10860
@doug-lovett Doug, can you provide est on this ticket?

[2022-02-03 21:17] severinbeauvais commented on #10905
@forgeuxGH5 @yuisotozaki This ticket is ready for UX Assurance. The code has been deployed to Dev and is being deployed to Test.

Note that you may have to refresh once, initially, to get the latest version. The Dev Tools Console should display `bc-registry v1.0.13`.

[2022-02-03 21:25] severinbeauvais commented on #10853
@forgeuxGH5 @yuisotozaki This ticket is now unblocked and can be UXA'ed in Dev environment.

[2022-02-03 21:26] lekshmimallika-aot commented on #10933
@lmcclung To confirm, this feature is only for 'Involuntary Dissolution' filings filed via notebook. All 'dissolved' filing types are from colin and it will show 'Contact Registry' text

[2022-02-03 21:32] thorwolpert opened #11036 "urllib-timeouts"
Remove some of the connection error(s):

[code]

[2022-02-03 21:34] severinbeauvais opened #11037 "Auth Web: should not redirect to Business Registry page on account change"
Instead, should reload the existing page.

[2022-02-03 21:35] jdyck-fw commented on #10908
Duplicated issue

[2022-02-03 21:35] #10908 closed

[2022-02-03 21:36] jdyck-fw commented on #6262
Analysis still needs to be done on Home Team impacts.

[2022-02-03 21:39] severinbeauvais commented on #11037
@tlebedovich Is there a ticket for this already?

[2022-02-03 21:49] mstanton1 opened #11038 "Add time range for search (Limited Search)"
Clients have reported the desire to be able to include a time range on a search, so they only search results for a specific time period.

Implement date range for search.

*Note: This will require an API change so has partner impacts.

[2022-02-03 21:53] jdyck-fw commented on #8320
Eventually if we don't deal with this we won't be able to maintain it.

[2022-02-03 21:55] jdyck-fw commented on #8225
As suggested by Linda, we should delete these.

[2022-02-03 22:04] mstanton1 commented on #6925
@forgeuxGH5 in Janis's absence are you able to address the questions from @jordiwes above?

[2022-02-03 22:06] forgeuxGH5 commented on #6925
@mstanton1 - yep just working through my todo list - this is coming up

[2022-02-03 22:50] forgeuxGH5 commented on #6925
I can't test the scenarios - I don't have an account that can produce these errors, so I can't test #1 but for #5 Selecting "OK" from the error dialog should redirect to the My Personal Property Registry page (dashboard), and the search that they got the error on should not be listed under Searches.

[2022-02-03 23:13] mstanton1 commented on #6925
@forgeuxGH5 for scenario 1 I found a TEST ID on the testing spreadsheet PPR tab that does not have access to PPR in TEST/DEV. I also found a second ID which is basic which I believe also covers this:
dev	BCREG0059 (no PPR)
test  BCREG0059 (no PPR)
dev	BCREG0056 (basic account)
test	BCREG0056 (basic account)

[2022-02-03 23:14] chdivyareddy commented on #10741
Verified in TEST with **501855N**.

[2022-02-03 23:55] yuisotozaki commented on #10905
Verified in dev environment all the behaviours outline in the comment above. Wow that was a lot of permutations!

[2022-02-04 00:04] mstanton1 opened #11039 "Update API Error Message to include Error Details"
In a recent API user report a number of error messages came through with a JSONDecodeError. Changes are required to bring back the actual JSON error.

{"errorMessage": "API backend third party service error.", "rootCause": "detail:SBCPaymentException(JSONDecodeError('Expecting value: line 1 column 1 (char 0)')),message:004:500 payment error for account 5797. "}

[2022-02-04 00:12] mstanton1 opened #11040 "Align timeouts across applications"
Gateway timeout should be the sum of the other API timeouts.

[2022-02-04 00:15] yuisotozaki commented on #10853
The flows are observed as intended in dev env.

I did see a strange overlap with menus.
1. Get to step 1 of incorporation application
2. Click on the user menu to attempt to log out
3. Observe that the Fee Summary remains over the pulled down menu
![image.png](https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/2bad38bf-de08-428b-9cea-353c7d2b5406)

With bookmark scenarios, if you bookma

[2022-02-04 00:18] mstanton1 opened #11041 "Identify and Auto-Refund transactions that don't complete in PPR"
Payment is taken before a transaction is completed in PPR. In some cases transactions are added to transaction reporting, funds are collected, but transactions did not complete. Refunds are required. A job is needed to be able to identify and automatically refund these.

[2022-02-04 00:20] severinbeauvais commented on #10853
New bug ticket please.

Can you please create a new ticket for the bookmarks? It may need some UI design if it's not obvious. This doesn't fit in with anything in progress at the moment. It should probably be under epic #10756.

[2022-02-04 00:22] sumesh-aot commented on #11041
Currently pay publishes message for PPR transactions to `entity.ppr.payment`. One solution to auto-refund would be; when ppr Q service receives the message and if they find it was not succesful (reconciliation gap); then initiate a refund

[2022-02-04 01:24] lmcclung opened #11042 "Hide business summary button for Limited Company entity type"
### Description
There were a number of entities that incorporated as benefit companies in error and altered to become limited companies.  Now that they are limited companies, they need to do any maintenance filings in the legacy applications.  We need to disable the business summary button for these entities.

`BC1306000`
`BC1302455`
`BC1309597`
`BC1303233`
`BC1294095`
`BC1294238`
`BC1260267`
`BC1

[2022-02-04 01:25] forgeuxGH5 commented on #10521
Same issue @janisrogers has above
Steps to reproduce:
Go to the review and confirm step
Select "Change" for Registering Party for this Amendment
Leave the expansion uncompleted at the select a code or add a party without code step
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/0b254d79-c062-4173-bb15-c450497c258f)
Select the Confirm Authorization checkbox
Register and P

[2022-02-04 01:28] forgeuxGH5 commented on #10905
@jinghualicgi this still show in UXA for me but it looks like @yuisotozaki already checked it...

[2022-02-04 01:38] lmcclung commented on #10907
@lekshmimallika-aot I went through all the alterations and found 5 that weren't fixed with your jupyter notebook...
'BC0390378
'BC1164820
'BC1156638
'BC1239253
'BC0958502

I also noticed that if you look at the alteration notice, it too is missing this information.

Did you want a new ticket or use this one to clean them up?

[2022-02-04 01:39] forgeuxGH5 commented on #6925
Scenario 1 I was able to access the PPR dashboard for dev BCREG0059 (no PPR) dev BCREG0056 (basic account) without an error

[2022-02-04 01:40] lmcclung opened #11043 "BC1265527 missing name change info on summary"
The above company is missing the Name Change in the business summary
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/2fa22d77-042e-4f1e-86d6-807e2f43ec46)

Alteration output looks good
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/8ee936b1-ab32-4ce8-966f-63ec434e1891)

[2022-02-04 01:47] lmcclung commented on #11043
Never mind.  Opened in error.

[2022-02-04 01:47] #11043 closed

[2022-02-04 02:08] lmcclung commented on #10876
@lekshmimallika-aot
Joint effort, but we finally figured it out.  Staff haven't been consistent when they file the last piece of paper work and when they make it historical 3 months later.  The second to last filing is a Special Resolution (this CP is missing this filing - but it's not the end of the world).  The last filing is the Voluntary Liquidation (filing type OTLVQ in the oracle database).

[2022-02-04 02:41] #10769 closed

[2022-02-04 16:36] kialj876 commented on #10818
I have a loading spinner for the ppr dashboard in my current PR for infinite scrolling https://github.com/bcgov/ppr/pull/553

[2022-02-04 16:48] kialj876 commented on #7049
@mstanton1 the code is there to handle those scenarios that are in the document. The issue is we are not getting the right error messages/code from pay-api for all the cases (i.e. bcol user revoked just send back general bcol error). So we still handle it, but the message we show is a general error message (which is from what they pass us) instead of the specific error message that tells them why

[2022-02-04 16:59] kialj876 commented on #10869
reproduced locally by pressing the submit registration button multiple times before getting routed away

[2022-02-04 17:03] lekshmimallika-aot commented on #10907
A new ticket please because I suspect there is some other issue with these alterations. If it had followed all the rules of an alteration structure it would have got picked up in the notebook run.

[2022-02-04 17:25] severinbeauvais commented on #10818
@forgeuxGH5 There is no error message in BC Registry if syncing the account info or fetching the account products fail. Currently a spinner displays for up to 10 seconds:

![image](https://user-images.githubusercontent.com/10002889/152574216-78dc78ab-b97d-4c73-aa4d-ec8149b6de79.png)

And then this page is shown (ie, no product tiles):

![image](https://user-images.githubusercontent.com/10002889/15

[2022-02-04 17:32] yuisotozaki opened #11044 "Auth Web: Button label on error modal does not match target page"
Steps to reproduce:

1. Bookmark an incorporation application UI step 1
2. Delete the incorporation application draft
3. Log out
4. Load the bookmark URL
5. Login when redirected to the login page
6. Observe an error message

At step 6 above, when the user clicks on "Return to Dashboard", the user is redirected to the Business Registry Home. The button on the error modal and the target page do not

[2022-02-04 17:34] #10775 closed

[2022-02-04 17:34] #10400 closed

[2022-02-04 17:43] forgeuxGH5 commented on #10818
@severinbeauvais here's what we have for PPR (it needs to be changed to be generic to handle the Business REG and PPR) "OK" from this dialog should redirect to the Login page. What do you think - this ticket or new? I would put this as a lower priority just based on likelihood of occurrence - how often will this happen? Seems uncommon to me.

![image.png](https://images.zenhubusercontent.com/5bdb2

[2022-02-04 17:50] severinbeauvais commented on #10818
Given that the original requirements in this ticket have been met, and the error dialog is lower priority, I'd prefer to have a new ticket for it, please and thanks!

As for likelihood of occurrence, well I've never seen this, but it's dependent on the network and some servers, so surely it must happen.

[2022-02-04 17:52] yuisotozaki opened #11045 "Fee Summary box remains over header menu options"
A strange overlap with header user menu and Fee Summary box.

Steps to reproduce:
1. Get to step 1 of incorporation application
2. Click on the user menu to attempt to log out
3. Observe that the Fee Summary remains over the pulled down menu
![image.png](https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/2bad38bf-de08-428b-9cea-353c7d2b5406)

[2022-02-04 17:56] mstanton1 commented on #10997
Based upon testing and data comparison there is not an existing system issue with amendments. This information has been provided to Dye & Durham. They will continue to monitor for any unexpected behavior with amendments.

[2022-02-04 18:00] lmcclung opened #11046 "5 entities needing fixing so that business summaries work"
I went through all the alterations and found 5 that weren't fixed with the jupyter notebook...

'BC0390378 - LTD to BEN
'BC1164820 - LTD to BEN
'BC1156638 - LTD to BEN
'BC1239253 - LTD to BEN
'BC0958502 - LTD to BEN

I also noticed that if you look at the alteration notice, it too is missing this information.

[2022-02-04 18:07] yuisotozaki opened #11047 "Auth Web: Header components switch places"
The user account and notification panels in the header (My Business Registry page) seem to switch places.

Steps to reproduce:
1. Login to https://dev.bcregistry.ca/business/auth/home/decide-business
2. Observe that the Notifications is on the right of the user panel in the header
3. Refresh the page
4. Observe that the Notifications has moved to the left of the user panel

![image.png](https://im

[2022-02-04 18:12] mstanton1 opened #11048 "PPR Stability"

[2022-02-04 18:18] mstanton1 opened #11049 "Set Up MHR"

[2022-02-04 18:19] lmcclung opened #11050 "Update API to not provide URL to business summary when not applicable"

[2022-02-04 18:22] sienna-blumstengel commented on #11042
#11050 is the ticket to update the API

[2022-02-04 18:32] sienna-blumstengel commented on #11050
We have done a temporary fix to block BC LTD business summaries. Before working on this ticket, remove that temporary blocker.

[2022-02-04 18:39] sienna-blumstengel commented on #8692
**UI workaround to display a draft IA:**
https://github.com/bcgov/business-filings-ui/blob/64ad20ff520cf79d8feaf51c1f75b71b76bb898b/src/App.vue#L618

[2022-02-04 18:40] lmcclung opened #11051 "Filings UI - remove workaround to provide draft registration in to do list"

[2022-02-04 18:52] severinbeauvais commented on #11042
The new FF (in business-edit project) is `supported-business-summary-entities`. It contains a list of entity types that are allowed to download a business summary.

[2022-02-04 18:52] severinbeauvais commented on #11050
The new FF (in business-edit project) is `supported-business-summary-entities`. It contains a list of entity types that are allowed to download a business summary.

[2022-02-04 18:53] sienna-blumstengel commented on #8225
@rarmitag please find out how many draft ARs are missing arMinDate and arMaxDate in header

There is no business value in doing this, but there is value in us cleaning up our code.

[2022-02-04 18:59] sienna-blumstengel commented on #10911
What should the Co-op AR effective date be if they don't hold an AGM??
Need to define this requirement before grooming this ticket.

[2022-02-04 19:03] lmcclung commented on #11050
@severinbeauvais @lekshmimallika-aot does that mean we don't need these two tickets?

[2022-02-04 19:14] severinbeauvais commented on #11042
I have created the new FF (first checkbox in this ticket). It is in business-edit project and is named `supported-business-summary-entities`. It contains a list of entity types that are allowed to download a business summary (eg, "CP BEN").

[2022-02-04 19:21] chdivyareddy commented on #10905
Verified as per the testing notes provided above!

[2022-02-04 19:44] lmcclung opened #11052 "Determine if any IBRS data to be migrated"
- [x] NAICS tables (have codes and description).  User picks one it stored in IBRS and then copied over to CPRD.  Don't need to pull this data from IBRS.

- [x] Data David gave Richard included Admin email from IBRS.  So we don't need to get that any more.

- [x] Name requests live there.  David to confirm NR info is moved from IBRS and there is nothing we need here.

[2022-02-04 19:47] #10878 closed

[2022-02-04 19:47] #10741 closed

[2022-02-04 19:47] #10078 closed

[2022-02-04 19:47] #10797 closed

[2022-02-04 19:47] #10223 closed

[2022-02-04 19:48] #10852 closed

[2022-02-04 19:48] #10915 closed

[2022-02-04 20:12] lmcclung commented on #8225
@rarmitag confirmed there are no draft ARs in PROD that are missing arMinDate and arMaxDate in header.
This is strictly a ticket to remove the workaround code.

[2022-02-04 20:43] lekshmimallika-aot commented on #10934
@severinbeauvais We need a minor change in the Filings UI to display.

@lmcclung Should something be displayed here ?
![image.png](https://images.zenhubusercontent.com/5d1b92287dbee07d2cfbebf7/221ed9c5-8ddd-4772-b89e-739c48c17f28)

[2022-02-04 20:51] severinbeauvais commented on #10934
Are there no details to show?

Are there no documents to show? Why not return an empty list of documents -- the UI might already handle that acceptably.

[2022-02-04 21:11] mstanton1 commented on #10982
To revisit once the updated Search PDF is implemented (10897).

[2022-02-04 21:13] jyoti3286 opened #11053 "Auth, Pay and PPR Stabilization Issue"

[2022-02-04 21:25] sumesh-aot opened #11054 "Create option for IT Ops to unlock an account on demand"
Create option for IT Ops to unlock an account on demand.
Currently when the account is in NSF, only way to unlock from NSF is to pay in full with credit card.
This may cause some issue for some high volume users as it would be significant revenue loss for them in case if the amount is too big to settle with a credit card.
This ticket is to add an option on the pay side to manually unlock the accou

[2022-02-04 21:27] sumesh-aot opened #11055 "Fix reconciliation duplicate event issue"
Reconciliation q service is receiving duplicate events and is causing same record to be processed again. We don't know the root cause yet.
- If we cannot find a solution; then add another layer which parses each line in the file and send separate message for each of them. This will reduce the burden on reconciliation which currently processes all the rows at once.

@saravanpa-aot Please upload the

[2022-02-04 22:05] severinbeauvais opened #11056 "SbcHeader + Auth Web: remove What's New feature flag"
We would like the What's New feature to be displayed in all UIs.

Currently, this feature requires a feature flag (`whats-new`) in the "sbc-auth" LaunchDarkly project. Most of the subject UIs use a different LaunchDarkly project. Therefore, and since What's New is deployed to and enabled in Prod, it is proposed to simply remove the feature flag check in SbcHeader.

This ticket is to include:
- [ ]

[2022-02-04 22:17] jinghualicgi commented on #10882
Will verify after infinite scrolling

[2022-02-04 22:19] lmcclung commented on #11056
@jyoti3286 @SateeshFW Jyoti - as discussed at PO sync today, please put this in early in your PI.

[2022-02-04 22:21] jinghualicgi commented on #10794
@forgeuxGH5  Scott, we might need a design for this

[2022-02-04 22:22] lekshmimallika-aot commented on #11046
@lmcclung The data in the alteration filing json is wrong for these businesses. The From and to legal types are both 'BC' in the filing json. The 'to'legal type should have been 'BEN'. Not sure how this incorrect data got in the filing json

[2022-02-04 22:23] lekshmimallika-aot commented on #11046
I will provide a script that will update just the wrong value in meta data

[2022-02-04 22:25] lekshmimallika-aot commented on #11046
update "filings"
  set "meta_data" = jsonb_set("meta_data"::jsonb, '{alteration, toLegalType}', '"BEN"')
where id in (
  select f.id
  from businesses b,
  filings f where f.business_id=b.id and f.filing_TYPE='alteration' and
  b.identifier in ('BC1156638','BC0390378','BC1164820','BC1239253','BC0958502'));

@rarmitag Could you please run this in PROD? Could you please verify after running the scri

[2022-02-04 22:30] janisrogers opened #11057 "Amendment fails with no error"
Client is trying to file an amendment. She is only changing the name of one of the debtors. When she tries to file it does nothing. (no errors, no attempt to go to payment)

When I looked at it with her, the console error was
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/dc7566ae-7beb-40e3-85d1-c5fb5a0d1b97)

This was at about 2 pm Friday Feb 4 for account 539 (in the

[2022-02-04 22:40] chdivyareddy commented on #10521
Hey @jordiwes , please take a look at the following scenarios.

**Screen1 Validations:**
- [ ] When user hits "Review and Confirm" button without any changes, then Red text validation occurs under Review and Confirm button. But, when the user tries to change something Deletes/Adds Secured party which has code/enters Details Description, then Red text validation under button does not disappear.
![i

[2022-02-04 22:48] rarmitag commented on #11046
Done

[2022-02-04 22:52] lekshmimallika-aot commented on #11046
Thanks @rarmitag. @lmcclung Could you please verify

[2022-02-04 22:57] lekshmimallika-aot commented on #10934
No details and no documents. So what happens in prod is it shows the button 'Show Documents'. When you click on that the panel expands and there are no docs.

[2022-02-04 23:02] PatrickAHeath commented on #10924
Verified in PROD.

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/1098e2a9-238c-4d11-b118-54026dc6cc80)

[2022-02-04 23:02] #10924 closed

[2022-02-04 23:02] severinbeauvais commented on #10934
I see. What if the API provided an empty documents URL, and the UI did something different when that's the case?

[2022-02-04 23:15] mstanton1 opened #11058 "BC Registry Dashboard Error product load fails"
Currently a spinner displays for up to 10 seconds. If syncing account info fails or fetching the account products fail then the BC Registries Dashboard is shown with titles but no product tiles.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/5aca22f3-6a86-4893-99ac-f443230c1f18)

A error modal should display. Text to be confirmed, but can be based upon the following:

[2022-02-04 23:16] mstanton1 commented on #10818
Created 11058 for error message. @forgeuxGH5 should a design ticket be linked to confirm error modal details? @severinbeauvais based upon your message above I will close this ticket.

[2022-02-04 23:16] #10818 closed

[2022-02-04 23:50] severinbeauvais commented on #11058
(Not a bug: this was not originally specced.)

[2022-02-04 23:57] rarya-freshworks opened #11059 "AP comment Line not using 40 characters"
**Description**:
When a RS is in refund upload status and in inbox file if the comment is less than 40 characters it will not use all the 40 characters space which would result in failure.

**Steps**:
1.) Set a RS in refund Request Status.
2.) Add comments which is less than 40 characters
3.) For the RS set it to Refund Authorized status
4.) Run CFS job on backend so that it would change the statu

[2022-02-05 00:06] fareenr commented on #10823
4-Feb provided demo to both helpdesks on multiple accounts, how Admins can create additional accounts, how users can toggle between accounts and what to watch out for

[2022-02-05 00:07] fareenr commented on #10822
internal comms sent 4-Feb to BCOL Admin leads and demo provided (Wendy F)

[2022-02-05 00:40] janisrogers opened #11060 "Large report not generating"
Client is trying to search for MACRO INDUSTRIES INC.  They are getting a message that the search may take up to 20 minutes, but a day later it still hasn’t completed and is showing the info icon and not the pdf

Doug says: In PROD is see 2 searches on MACRO INDUSTRIES INC. both of which are > 75 results and both failed after 4 attempts each. Each attempt failed because of a report api timeout.

Sc

[2022-02-05 00:50] severinbeauvais commented on #10999
### Test Notes

_This section is in progress. Please check back later._

**Filings UI**
- receives account id (verify in header)
- sets account id in all external navigations
  - account or entity errors (exit)
  - breadcrumbs
  - edit IA draft
  - create / edit dissolution draft
  - change company info
  - correct an IA
  - edit IA correction draft
  - edit IA draft
  - edit alteration draft
  -

[2022-02-05 01:00] chdivyareddy commented on #10521
**Screen1 Validation:**

- [ ] For Individual Debtor, when user selects "Amend" button, but changes nothing and hits Done button, then "Amended" badge shows up without any change.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/17ae2ecf-7d33-4dc7-9bb1-4b3fac30b0e5)

[2022-02-06 05:18] #10353 closed

[2022-02-06 05:18] #10677 closed

[2022-02-06 05:19] #9679 closed

[2022-02-06 05:33] #9527 closed

[2022-02-06 05:33] #9682 closed

[2022-02-06 05:33] #9683 closed

[2022-02-06 05:33] #9684 closed

[2022-02-06 05:33] #9687 closed

[2022-02-06 05:33] #9689 closed

[2022-02-06 05:33] #9768 closed

[2022-02-06 05:33] #9849 closed

[2022-02-06 05:33] #9891 closed

[2022-02-06 05:33] #10014 closed

[2022-02-06 05:33] #10021 closed

[2022-02-06 05:33] #10109 closed

[2022-02-06 05:33] #10243 closed

[2022-02-06 05:33] #10245 closed

[2022-02-06 05:33] #10272 closed

[2022-02-06 05:33] #10315 closed

[2022-02-06 05:33] #10328 closed

[2022-02-06 05:33] #10334 closed

[2022-02-06 05:33] #10335 closed

[2022-02-06 05:33] #10346 closed

[2022-02-06 05:33] #10351 closed

[2022-02-06 05:33] #10354 closed

[2022-02-06 05:33] #10356 closed

[2022-02-06 05:33] #10371 closed

[2022-02-06 05:33] #10372 closed

[2022-02-06 05:33] #10425 closed

[2022-02-06 05:33] #10512 closed

[2022-02-06 05:33] #10552 closed

[2022-02-06 05:33] #10571 closed

[2022-02-06 05:33] #10691 closed

[2022-02-06 05:33] #10693 closed

[2022-02-06 05:33] #10723 closed

[2022-02-06 05:33] #10752 closed

[2022-02-06 05:33] #10754 closed

[2022-02-06 05:33] #10813 closed

[2022-02-06 05:33] #10358 closed

[2022-02-06 05:33] #10391 closed

[2022-02-06 05:34] #9394 closed

[2022-02-06 05:34] #9395 closed

[2022-02-06 05:34] #9396 closed

[2022-02-06 05:34] #9400 closed

[2022-02-06 05:34] #9848 closed

[2022-02-06 05:34] #10013 closed

[2022-02-06 05:34] #10016 closed

[2022-02-06 05:34] #10185 closed

[2022-02-06 05:34] #10203 closed

[2022-02-06 05:34] #10216 closed

[2022-02-06 05:34] #10239 closed

[2022-02-06 05:34] #10259 closed

[2022-02-06 05:34] #10288 closed

[2022-02-06 05:34] #10289 closed

[2022-02-06 05:34] #10309 closed

[2022-02-06 05:34] #10317 closed

[2022-02-06 05:34] #10321 closed

[2022-02-06 05:34] #10329 closed

[2022-02-06 05:34] #10330 closed

[2022-02-06 05:34] #10336 closed

[2022-02-06 05:34] #10349 closed

[2022-02-06 05:34] #10352 closed

[2022-02-06 05:34] #10355 closed

[2022-02-06 05:34] #10357 closed

[2022-02-06 05:34] #10423 closed

[2022-02-06 05:34] #10456 closed

[2022-02-06 05:34] #10461 closed

[2022-02-06 05:34] #10483 closed

[2022-02-06 05:34] #10484 closed

[2022-02-06 05:34] #10485 closed

[2022-02-06 05:34] #10519 closed

[2022-02-06 05:34] #10533 closed

[2022-02-06 05:34] #10592 closed

[2022-02-06 05:34] #10616 closed

[2022-02-06 05:34] #10617 closed

[2022-02-06 05:34] #10629 closed

[2022-02-06 05:34] #10637 closed

[2022-02-06 05:34] #10658 closed

[2022-02-06 05:34] #10690 closed

[2022-02-06 05:34] #10717 closed

[2022-02-06 05:34] #10718 closed

[2022-02-06 05:34] #9838 closed

[2022-02-06 05:34] #10262 closed

[2022-02-06 05:36] #10261 closed

[2022-02-06 05:36] #10511 closed

[2022-02-06 05:36] #10655 closed

[2022-02-06 20:23] SuzDane commented on #8961
Hi Jinghua, I noticed you reopened this ticket (#8961 – Engagement with Chamber). We have already reached out. As discussed, external outreach with both our key influencers and registration partners will be ongoing until OneStop is decommissioned – but at this point no specific tasks or deliverables. Perhaps we should keep it closed?  Cheers, Suzanne

From: jinghualicgi ***@***.***>
Sent: February

[2022-02-07 16:15] chdivyareddy commented on #10521
Comment from Steph through RC:

The remaining issues are:

- if the original address has a postal code without a space V87H7H, it gets automatically corrected to have a space, and then shows as amended
- if the debtor has a birthday, the system adds a timezone to it,. and it looks like it has been changed.

[2022-02-07 16:28] chdivyareddy commented on #10888
Verified in TEST for 3023963

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/5b2c8683-db08-4ce6-86ec-607908c504ca)

[2022-02-07 17:04] vysakh-menon-aot commented on #10696
Notes for UX/Testing: Won't be able to test how it shows when it's in ACTIVE status for now since it's in development.

![image.png](https://images.zenhubusercontent.com/5f32f33a77ef9e4d453c1945/1374c8f1-9eef-49da-8433-c5288061097d)

![image.png](https://images.zenhubusercontent.com/5f32f33a77ef9e4d453c1945/77e03686-32c0-4f5b-9c96-907c71d74ca1)

[2022-02-07 17:08] mstanton1 opened #11061 "VERIFY - Report API Timeout"
The PPR Report API should have a 300 second timeout. Please verify this is the configuration in PROD.

[2022-02-07 17:29] fareenr commented on #10823
Joanna requested 2 more demos to entire BCOL helpdesk teams for Tues Feb 8

[2022-02-07 17:47] chdivyareddy opened #11062 "PPR UI - Unfinished Amendment Validations from 10521"
- This ticket is to cover the unfinished changes from 10521

**Screen1 Validation:**

- [x] For Individual Debtor, when user selects "Amend" button, but changes nothing and hits Done button, then "Amended" badge shows up without any change.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/17ae2ecf-7d33-4dc7-9bb1-4b3fac30b0e5)

- [x] When the user Amends "Trust Indenture"

[2022-02-07 17:48] chdivyareddy commented on #10521
Created ticket for unfinished changes #11062

[2022-02-07 18:00] #10997 closed

[2022-02-07 18:00] rarya-freshworks opened #11064 "Daily Report Total Amount Not Matching"
**Description:**
When a Daily report for a Past date has been downloaded and check against UI to see if it matches for couple of dates it does not match the total amount and/or cheque & cash amount is not in the list.

The issue was discovered by our team while conducting UAT.

**Steps:**
1.) Login into FAS as a Supervisor
2.) Navigate to Daily report Button on top right of screen and select dates

[2022-02-07 18:01] doug-lovett commented on #11060
@janisrogers the report is attached here. The client should now be able to download it from the UI dashboard.
[https://app.zenhub.com/files/157936592/536b9070-68e4-40d1-82a5-7ca6bd464575/download](https://app.zenhub.com/files/157936592/536b9070-68e4-40d1-82a5-7ca6bd464575/download)

[2022-02-07 18:09] janisrogers commented on #11060
Thanks @doug-lovett. I have forwarded the report, but it still shows as an info icon on the UI.
![image](https://user-images.githubusercontent.com/55597599/152846625-46da9a1b-6171-4222-b506-7b01aa9729a2.png)

[2022-02-07 18:11] jyoti3286 commented on #10840
@SateeshFW Can we move this to Closed? Can you check in standup tom

[2022-02-07 18:12] rarya-freshworks commented on #10481
No Updates. Now UAT is almost done I can pick it up from upcoming sprint.

[2022-02-07 18:13] severinbeauvais opened #11065 "Registry UI: What's New panel is hidden on some screen widths, blocks everything else"
On https://yfthig-dev.web.app/, at screen widths below 1264px (which includes most or all mobile), the What's New panel is hidden and blocks all other actions. (User needs to refresh the page to hide overlay and be able to use the page.)

I noticed dynamic classes `v-navigation-drawer--is-mobile` and `v-navigation-drawer--close` are applied below that breakpoint (the latter hides the panel). I not

[2022-02-07 18:20] doug-lovett commented on #11060
I only changed the link for the client search - not staff: search id 26606.

[2022-02-07 18:23] janisrogers commented on #11060
@doug-lovett Should I keep this ticket open for the changes needed to fix the report for all users?

[2022-02-07 18:25] severinbeauvais commented on #11065
@jdyck-fw @forgeuxGH5 @lmcclung

Do you think this is a P1? It's probably an easy fix but I don't have a solution yet. Maybe Patrick will know right away.

PS There will be a bcregistry release to Prod very soon. I think it would be nice to have this fix in there.

[2022-02-07 18:48] mstanton1 opened #11066 "UI Design - PPR "Print Version""
BC Mail has identified issues with the current PPR outputs. PROD printing has been halted until addressed. A new "print version" of PDF's will be required to meet BC Mail requirements.

### BCMail Print Versioning - Visual Design Comps:
https://projects.invisionapp.com/share/8X12CGQOKB6E#/screens?browse

**Specific updates to BC Mail print versions only:**
-- Doug to create a special stylesheet fo

[2022-02-07 18:49] severinbeauvais opened #11067 "Create UI: "unable to save Application""
1. login to https://dev.bcregistry.ca/business/auth/home/decide-business
2. click button to incorporate a numbered Benefit Company
3. click button to incorporate
4. complete a basic IA
5. click button to file and pay
6. see error:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/05b9c66a-533a-4016-ba02-89ab0faf97be)

![image.png](https://images.zenhubusercontent.com/5d0a

[2022-02-07 18:56] ozamani9 commented on #10599
@jinghualicgi please close

[2022-02-07 18:57] ozamani9 commented on #10195
@jinghualicgi please close

[2022-02-07 18:59] ozamani9 commented on #10843
@lmcclung let us know if you want further investigation on this ticket or if we can close it

[2022-02-07 19:00] mstanton1 opened #11068 "PPR UI changes for account id sync between apps"
This ticket is to synchronize account id between BCROS apps.

**To do:**

- [ ] import the latest sbc-common-components (v2.4.38) so the SbcHeader can read `accountid=xxx` from URL params
- [ ] store account id locally
- [ ] add account id URL parameter to every link that navigates to another BCROS app

Please see this PR for sample code: https://github.com/bcgov/business-create-ui/pull/330

[2022-02-07 19:01] mstanton1 commented on #10880
@severinbeauvais I've created Zenhub 11068 for our team to tackle next sprint (ideally). I have limited understanding of what is needed. Can you fill in a few basic details in the ticket for my team?

CC @Kaineatthelab @jyoti3286

[2022-02-07 19:14] forgeuxGH5 commented on #11065
I'd vote lower that P1 just because it's unlikely to occur and we haven't focused on mobile (our apps aren't really designed/built for mobile)
If you could quickly remove the overlay part of the implementation that would at least let people access the page.

[2022-02-07 19:14] SateeshFW commented on #10840
All the knowledge sharing recordings are available in google drive
https://drive.google.com/drive/folders/1tl3h0XnZZdlOR440CJjM-KHvvHgXCHoV

[2022-02-07 19:14] #10840 closed

[2022-02-07 19:25] severinbeauvais commented on #11065
Fixing the overlay would be the fix :)

[2022-02-07 19:31] doug-lovett commented on #11060
@janisrogers I think this is a one-off to generate a particular report. I asked Thor, Patrick Wei to check/adjust the report-api service timeout to fix the underlying reason the report generation for this report failed.

[2022-02-07 19:50] jinghualicgi commented on #10036
@sienna-blumstengel I understand this is low priority task, but any chance to finish this off? Moving to In Progress :)

[2022-02-07 19:52] jinghualicgi commented on #10376
Not sure how much lead time we need for this. With current release date, when should we start this task? @zac-broitman

[2022-02-07 19:53] jinghualicgi commented on #10375
@zac-broitman can we move this to In Progress? Thanks

[2022-02-07 19:55] cwulff1 commented on #10375
@jinghualicgi Yes this is in progress

[2022-02-07 20:08] chdivyareddy commented on #10815
Hey @kialj876 , Quick question - If the user enters a business name from the auto dropdown, then the 'Enter' key for search doesn't work in that case. Is it the expected behavior? @PatrickAHeath

[2022-02-07 20:23] severinbeauvais commented on #11065
### Test Notes:

1. go to BC Registry app (any page)
2. ensure you are logged out
3. clock the What's New button
4. resize your browser window to below and above 1264 px
5. verify that the What's New panel remains displayed
6. verify that user can close the What's New panel and then click on other page buttons/links

[2022-02-07 20:24] jinghualicgi commented on #10919
Mags, are you working on this now? Should we move this to In Progress? Thanks :) @magszymanski

[2022-02-07 20:26] jinghualicgi commented on #10166
Hi Gen, I think you are working on this now, right? Moving to In Progress :) @gprimeau

[2022-02-07 20:26] jinghualicgi commented on #10169
Hi Gen, I think you are working on this now, right? Moving to In Progress :) @gprimeau

[2022-02-07 21:05] severinbeauvais commented on #10917
I'm blocked on getting some test data (and I don't fully understand the filings type/state/filing above).

[2022-02-07 21:23] kialj876 commented on #10815
I will add this into the 'main' branch code and put this ticket back in in progress, but I don't think it should block the release?

[2022-02-07 21:26] chdivyareddy commented on #10815
No, It doesn't block anything, thanks!

[2022-02-07 21:26] ozamani9 opened #11069 "Name Examination - Transaction History - Expiration Date displays NA. Once expiration date set, it should always hold value"
When you look at Transaction History of an NR.

Expiration Date displays   N/A.   If expiration_date exists, it should display that date in the historical records.

[Uploading... RE Zamani Omid CITZEX sent you a message in Skype for Business while you were offline.msg]

[2022-02-07 21:29] janisrogers opened #11070 "unsaved changes error, then draft doesn't show up"
Cheryl Jenson of Clark Wilson LLP is trying to file 2 amendments to add and delete debtors due to an amalgamation. It is giving her an error message (you have unsaved changes) but when she goes to try to save it and goes back in.....there is no draft showing....the base registrations numbers she is having trouble with are: 8632419 and 161847H. She can be reached by telephone if more information is

[2022-02-07 21:29] janisrogers opened #11071 "unsaved changes error, then draft doesn't show up"
Cheryl Jenson of Clark Wilson LLP is trying to file 2 amendments to add and delete debtors due to an amalgamation. It is giving her an error message (you have unsaved changes) but when she goes to try to save it and goes back in.....there is no draft showing....the base registrations numbers she is having trouble with are: 8632419 and 161847H. She can be reached by telephone if more information is

[2022-02-07 21:29] ozamani9 commented on #11069
[Uploading... RE Zamani Omid CITZEX sent you a message in Skype for Business while you were offline.msg]

[2022-02-07 21:29] janisrogers commented on #11070
duplicate of 11071

[2022-02-07 21:29] #11070 closed

[2022-02-07 21:41] cameron-freshworks commented on #9721
Currently we are blocked by the Filings UI to get through to our Registrations but you can access a draft SP Registration by logging into
`BCREG0017`
navigate to this url in the same window: https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/create/define-registration?id=T5VJf1Mt2S

[2022-02-07 22:16] chdivyareddy commented on #11057
Hey @kialj876 , I tried few scenarios in TEST and was successful:

- Adding and deleting secured party, changing the debtor name at the same time - successful
- Deleting Secured party code - Successful
- Removing and adding Debtors - Successful
- Changing the Name of the debtor - Successful
- Changing the Registering Party with changes in Secured party and Debtor - Successful

Can you please let m

[2022-02-07 22:51] fareenr commented on #10817
release delayed from Feb 7 to end of next sprint (around Feb 22) pending bug fix with switching between products and services with multiple accounts

[2022-02-07 23:02] mstanton1 opened #11072 "Send PPR correct error message/code from pay-api"
Assets is working to implement appropriate error messaging for client failures. We are not getting the right error messages/code from the pay-api for all cases (i.e. bcol user revoked just sends back general bcol error). Changes are required to send the correct error message/code.

**Error Codes Missing**
- BCOL User is revoked
- Devs to meet to discuss other missing codes?

List of existing codes

[2022-02-07 23:03] mstanton1 commented on #7049
@kialj876 thanks for the info. I've created 11072 as a dependency ticket using the info in your comment - but feel free to add/edit that.

@janisrogers @PatrickAHeath do you still have BA guild weekly? Can you raise this Thursday?

[2022-02-07 23:04] severinbeauvais commented on #11065
@forgeuxGH5 @yuisotozaki Dunno if you want to have a look at this or just bump it to RFQA.

[2022-02-07 23:22] mstanton1 opened #11073 "PPR Print Version"
PDF outputs sent through BC Mail need to use updated formatting to reduce size and reduce the amount of ink to prevent smudging.

Please create the updated PDF to be used for all outputs sent to BC Mail for printing.

~### BCMail Print Versioning - Visual Design Comps:~
~https://projects.invisionapp.com/share/8X12CGQOKB6E#/screens?browse~

~**Specific updates to BC Mail print versions only:**~
~--

[2022-02-07 23:27] lmcclung opened #11074 "UI Design - Business Search design"
### Business Search Visual Design Comps:

#### 1. BC Registries Dashboard Product Tile (MVP):

https://projects.invisionapp.com/share/4W12OVWSG6RD#/screens/466884294

**FPO Thumbnail Image download:** https://drive.google.com/file/d/1D1jU1FLc1AhIheiFQsCNOgYIKjPUNqVZ/view?usp=sharing
(new thumbnail image still to come from Tracey)

----

#### 2. Business Search Entity Page Locked and Unlocked Views

[2022-02-07 23:31] mstanton1 opened #11075 "UI Design - MHR Search Design"
**Description (Hypothesis):**
As a user I want to request a search based on the registration number or serial number or registered owner name so that I can view/receive the home's registration details.

## Acceptance Criteria
- A self-service option for client access

**Search Field (Initiate from dashboard)**

- [Wireframes](https://preview.uxpin.com/e760f2f576ac509611e7d771d0c00dcff7a39b66#/page

[2022-02-07 23:33] tlebedovich commented on #11066
@doug-lovett - ticket is ready to go - not sure if you need a dev ticket @mstanton1

[2022-02-07 23:35] ozamani9 commented on #10832
@tlebedovich I have made the changes on my local computer.  can you have a quick look to confirm this is what it should look like.  i bolded the reserved for 56 days in both conditions.  if that was the wrong assumption, i can change back before i create P.R. and push to DEV.

![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/5eaa3f6f-67c5-4358-aee0-e16276e732c2)

![image.

[2022-02-07 23:38] mstanton1 commented on #8335
@forgeuxGH5 does it make more sense to split the design ticket into two (design for search in UI, design for PDF)?

[2022-02-07 23:38] mstanton1 commented on #11066
@tlebedovich thank you! @doug-lovett the dev ticket is 11073.

[2022-02-07 23:39] mstanton1 commented on #11073
Ready for dev.

[2022-02-07 23:58] tlebedovich commented on #10832
hi @ozamani9 - thanks.

- The designs are missing the orange alert icon as per design comps. (please match size, colour align the text and icon as per design)
- And please only bold the "reserved for 56 days" once it has been approved - we don't want to bold it before its approved.
![Screen Shot 2022-02-07 at 3 55 32 PM](https://user-images.githubusercontent.com/2207887/152892214-0ce4e135-5a58-4c9

[2022-02-07 23:59] doug-lovett commented on #11066
@tlebedovich is the watermark just for BCMail+ or for all PPR reports?

[2022-02-07 23:59] PatrickAHeath commented on #7049
@mstanton1 On the list!

[2022-02-08 00:01] tlebedovich commented on #11066
I made it 15% lighter for BC Mail in case they were having printing/contrast issues specifically with their printers they use, but I suppose it could be used for all reports.

[2022-02-08 00:04] mstanton1 commented on #11024
@forgeuxGH5 dev ticket is 11035. Please tag me when this is ready for dev and we can groom the related dev ticket.

[2022-02-08 00:08] mstanton1 commented on #11025
@pwei1018 can you confirm current session expiry rules for PROD. How long will end users stay logged in before their session expires? Are there additional scenarios where they are logged out (e.g. tab is open and in time frame but there is no activity for XX minutes)?

[2022-02-08 00:10] PatrickAHeath commented on #10815
@chdivyareddy The user would have to use the mouse to click on the desired Business Debtor Name, but then should be able to hit Enter to click the search button to initiate the search.

[2022-02-08 00:19] ozamani9 commented on #10832
@tlebedovich thanks... sorry i missed that.. will fix it up and then create P.R. and hopefully push to dev for your next review

[2022-02-08 00:21] sienna-blumstengel commented on #8773
#174 has been completed

## TO DO
- [ ] Change "filed by" on the most recent alteration from "Sienna Blumstengel" to "Registry Staff"
- [ ] Move the Amendment Ledger Information from FILED AND PENDING to COMPLETED so it allows client to file other filings
- [ ] Figure out why the alteration has not synced back to COLIN

@rarmitag all yours 😎

[2022-02-08 00:29] tlebedovich commented on #11066
@doug-lovett - if we are using it for all reports, I just adjusted it slightly and re-uploaded the file for you - please re-download the new graphic if you had already downloaded it. sorry, just didn't want it to be too light for everyone

[2022-02-08 00:29] sienna-blumstengel opened #11076 "Test: Alteration outputs"
### Description

**BC1135604**

Lance spoke with a client who recieved an alteration output via email that should not have been sent.

She filed a simple alteration (no change except the business type) but for some reason, she recieved a name change certificate output!

The output was only recieved by email, and you can't see it on her entity dashboard.

### To do
Test some alterations to confirm

[2022-02-08 00:48] jinghualicgi commented on #9811
Hi Patrick, can we move these three tasks under this story to Done?

[2022-02-08 00:54] chdivyareddy opened #11077 "PPR Search - Enter Key doesn't work for auto dropdown Business Name"
- [x] If the user enters a business name from the auto drop-down, then the 'Enter' key for search doesn't work.

Eg: **AC ELECTRONICS**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e44689ca-b22a-42ae-84ec-730ebe678381)

**Expected Behavior:** (from Patrick)
The user would have to use the mouse to click on the desired Business Debtor Name, but then should be able to hi

[2022-02-08 00:55] chdivyareddy commented on #10815
Created #11077 for the auto dropdown selection.

[2022-02-08 01:54] doug-lovett commented on #11066
@tlebedovich Got it thanks.

[2022-02-08 04:28] doug-lovett commented on #11073
@tlebedovich Examples of the updated mail cover and verification reports are attached below using the embedded BC Sans fonts.
From the weazyprint pdf generation library custom font documentation, the font must be a URL. The URL may be one of the following:
1. Embeded data (which we are doing).
2. A public web site: url(http://example.com/fonts/Gentium.otf)
3. An absolute path to a local file: url(

[2022-02-08 04:30] doug-lovett commented on #11073
If BCMail+ has a recommended non-custom font I can provide examples with that font type.

[2022-02-08 06:51] pwei1018 opened #11078 "Report API timeout tuning"
Increase timeout to 360s.

[2022-02-08 06:52] pwei1018 commented on #11078
Deploy to PPR production (MHR namespace)

[2022-02-08 12:27] vysakh-menon-aot commented on #10696
@yuisotozaki Yeah, that's how its implemented.

[2022-02-08 15:45] magszymanski opened #11079 "User Guide - write section on 2FA maintenance - due: Feb 18"
Lead: Mags

Write section for establishing 2FA on a different machine, benefits for installing 2FA on mobile, etc.

More info in [User Guide Updates document](https://docs.google.com/document/d/183BMH4mMcB9ZunX0ZivetBxhVpJO9tq6cHpTsL1UJVM/edit#)

[2022-02-08 15:48] magszymanski opened #11080 "Website - Gen to post: How to read a Search report | Due TBD"
Kevin/Kaine/Scott wrote a document on how to read a Search report. Patrick is working on updating is as per ticket 10889.

"How to read a Search report" https://docs.google.com/document/d/1UDhsoUh8Q1s9wK6uMiR527j_Uryc4yC9/edit

Once Patrick updates this (ticket 11529), Fareen will put it into a BC Registries template and ask Gen to:
- [ ] post to CMS Resources page

Then tag Mags so that she can s

[2022-02-08 16:02] jinghualicgi commented on #10992
Hi Mags, is this done? Thanks :) @magszymanski

[2022-02-08 16:04] yuisotozaki commented on #11065
I'm seeing the original behaviour still on PPR main page as well as redirected login page
* https://www.bcregistry.gov.bc.ca/ppr-marketing/
* https://dev.bcregistry.ca/business/auth/login?redirect=%2Fstaff%2Fdashboard%2Factive

Also, when the user clicks outside the displayed What's New box, the What's New box should go away. I.e. same as close button click.

[2022-02-08 16:10] mstanton1 opened #11081 "Searches containing BC"
Searches in PPR containing variations of BC are considering BC and generating different results based upon the way BC is entered (e.g. B C, B.C. BC). An update is needed to the function searchkey_business_name.

_From Bob:_
v_search_key := REGEXP_REPLACE(v_search_key,'\y(BRITISH COLUMBIA|BRITISHCOLUMBIA|BC|B C)\y','','gi');

[2022-02-08 16:19] eve-git commented on #8901
Took about one day for the code changes and unit tests.

[2022-02-08 16:21] jinghualicgi commented on #10926
@sienna-blumstengel can we move this to RTS? Thanks :)

[2022-02-08 16:25] mstanton1 commented on #11073
I've reached out to BC Mail+ to ask if there are non-custom fonts that are recommended.

[2022-02-08 16:32] zac-broitman commented on #10376
The release is expected near the end of March, however, we can likely start moving on this now. I will sync up with @jyoti3286 on this.

[2022-02-08 16:55] chdivyareddy commented on #11081
I tried with the above 3 business names in TEST and got the same search results, but 'Unable to open the document'.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/5fdbddff-04fa-4d67-b391-221146717e0d)

**Search Results:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/35a36c19-673a-4219-ae60-fb3d0ba588f7)

[2022-02-08 16:57] eve-git commented on #8901
Ready for test

[2022-02-08 16:58] tlebedovich commented on #11073
hi @doug-lovett - are you able to provide a quick sample of the output - one with Arial family and one with Calibri family? they would need to have regular, bold, italic in the default font family. I just want to see how each renders.

[2022-02-08 17:10] mstanton1 commented on #11061
Report API Timeout was changed back to default. A configuration update has taken place in PROD.

[2022-02-08 17:11] mstanton1 commented on #11061
@PatrickAHeath can you verify a few that were failing in PROD?

[2022-02-08 17:15] mstanton1 commented on #10994
@mstanton1 to get a demo set up for the team on MHR.

[2022-02-08 17:18] severinbeauvais commented on #11065
This implementation has only been deployed to bcregistry Dev (https://yfthig-dev.web.app/) thus far.

It has not been deployed to bcregistry Prod (https://www.bcregistry.gov.bc.ca/) or Test.

I don't see the issue in Auth Web Dev (https://dev.bcregistry.ca/business/auth/login?redirect=%2Fstaff%2Fdashboard%2Factive)...?

[2022-02-08 17:26] mstanton1 commented on #10993
@mstanton1 to meet with Bob, Ali and Omid to discuss and size.

[2022-02-08 17:34] mstanton1 commented on #11040
To be raised at PO Sync, or on RAID board. This is an issue caused by not having a proper release management approach.

Change was made in auth to fix an issue for an external client. Impact of that was timeout setting for PPR API was no longer appropriate and needed to be adjusted but we weren't aware because of the missing release management component.

Note: changes to timeouts have been made.

[2022-02-08 17:38] #10858 closed

[2022-02-08 17:40] forgeuxGH5 commented on #11065
Looks good to me in dev - I don't see the issue in Auth either but QA can confirm that- RFQA

[2022-02-08 17:40] mstanton1 commented on #10753
@chdivyareddy can you please test this? User session is expired, client has bookmarked PPR, client clicks on bookmark, when the log in do they come back to where they should be?

[2022-02-08 17:40] #10801 closed

[2022-02-08 17:40] #10905 closed

[2022-02-08 17:40] #10834 closed

[2022-02-08 17:41] #9244 closed

[2022-02-08 17:43] #10311 closed

[2022-02-08 17:44] #10581 closed

[2022-02-08 17:45] #10793 closed

[2022-02-08 17:52] mstanton1 opened #11082 "UI Design - Large Search Error Message"
Currently there is a large search error modal which identifies search results may take up to 20 minutes to generate when a search contains 75 or more results. This search modal needs to be updated to also cover large amounts of vehicle collateral.l

Could update wording to simply identify large search rather than a specific number of results.

## Copy for tooltip:

<strike>This is a large document

[2022-02-08 17:55] chdivyareddy commented on #10753
It is working as expected! Can we move this to Done @mstanton1 ?

[2022-02-08 17:55] mstanton1 opened #11083 "UI - Display large search error modal"

[2022-02-08 17:58] mstanton1 opened #11084 "API - large amounts of vehicle collateral"
- return Information to UI to signal its an asynchronous report
- generate asyncronous report based upon size of serial collateral

Expanding scope to include verification statements.
- [x] Generate all verification statements asynchronously after the registration completes.
- [x] Use a  new GCP bucket, store documents in  a year-month yyyy-mm folder based on the UTC registration timestamp
- [x] R

[2022-02-08 18:11] lekshmimallika-aot commented on #10917
As I mentioned these data are not available in any  environment other than prod and the filing json of these filings do not have a proper structure either. I changed the filing type of three records in dev. Once you are done with the code changes and testing, I will revert these 3 records.

![image](https://user-images.githubusercontent.com/8199923/153049621-71372dc4-076f-4ecb-9f56-d01424f459f7.pn

[2022-02-08 18:14] #10547 closed

[2022-02-08 18:14] #10548 closed

[2022-02-08 18:18] lmcclung commented on #11046
Could not download BC1239253 or BC0958502.  Also noticed the Alteration Notices are incorrect for all 5 of them.  I guess your fix to the meta data doesn't touch that.  That's not the end of the world because the clients got a filed stamped copy of the form they sent in to us with the same info.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/c84984a3-c3f2-40fc-a9cd-7bd

[2022-02-08 18:25] lmcclung commented on #10874
@lekshmimallika-aot The summary for 'BC1289777 still isn't opening.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/9e2d9500-a05f-4814-ab08-b82f8f09bb94)

The state is right on the dashboard, though.
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/42013e6c-55d7-481a-beac-8752f1a37612)

[2022-02-08 18:27] mstanton1 opened #11085 "Sprint Goal 12.1"
- [ ] Infinite Scrolling for API User
- [ ] Issue Verification Statements (BC Mail)
- [ ] Duplicate Registrations
- [ ] MHR RFC technical ability for approach
- [ ] Error Handling
- [ ] PDFs and UI organize results by date
- [ ] PDF not available when you press back after a search
- [ ] MHR Data Review

[2022-02-08 18:29] lmcclung commented on #10876
@lekshmimallika-aot - just checked PROD and this one is still showing as active (as per the orignal description of this ticket). But staff had later confirmed it should be historical.  I think you said you were going to make the change back using this ticket.  I'll update the description.

[2022-02-08 18:29] jinghualicgi commented on #6576
@Kaineatthelab @janisrogers @mstanton1 Do we want to keep this within our pipeline? Maybe we can close this?

[2022-02-08 18:31] jinghualicgi commented on #11036
@thorwolpert Can you  put an est on this task? Thanks

[2022-02-08 18:32] jinghualicgi commented on #11060
@doug-lovett Can you provide est on this ticket?

[2022-02-08 18:33] #3822 closed

[2022-02-08 18:34] #3821 closed

[2022-02-08 18:35] jinghualicgi commented on #11062
@jordiwes Steph, can you provide an est on this ticket? Thanks

[2022-02-08 18:37] #10231 closed

[2022-02-08 18:45] Kaineatthelab commented on #6576
it hasn't been sent back from the PIA folks, once that is done we can close this

[2022-02-08 18:47] Maribeth-Wilson opened #11086 "OCM Support Work for PI14"
This Epic will capture all the miscellaneous work that is not tied directly to a specific release but still needs to be completed (i.e.. User guide updating).

[2022-02-08 18:48] Kaineatthelab opened #11087 "Update legacy address data"

[2022-02-08 18:48] mstanton1 opened #11088 "API - PDF Output Changes"
Requirements captured in story 10889.

[2022-02-08 18:49] mstanton1 opened #11089 "UI - Add section rows (exact matches and similar matches)"
Add base registration number.
Add last name, first name, middle name for debtor.

- [x] Add Section Rows (Exact Matches and Similar Matches), if there are no exact matches display "No exact matches" in the center of an empty row
- [x] Section Heading row colour is ##DEE2E6

Note: This is part of the overall change implemented under 10889, but was a later requirement so is being tackled after the s

[2022-02-08 18:49] mstanton1 opened #11090 "API - Change UI Search Result Order"
Only change is to individual debtor search. It is now last name, first name, middle name   birthdate.

From the story, apply the order defined here: https://1drv.ms/x/s!AlejmOwhCCvlgcAM_yiCSpnXtnNi_Q?e=wXYlB6

[2022-02-08 19:02] fareenr commented on #10824
8-Feb Cameron confirmed that if Ministry Admins need additional account, they need to email BC Reg Engagement mailbox first and then they can be sent an invite for that specific branch.
Updated email for Ministry Admins saved in same google drive link.

[2022-02-08 19:03] severinbeauvais opened #11091 "Edit UI: phone extension should be displayed"
**Actual:**

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/2860a489-b702-4ca9-a414-31ad1dc7a70f)

and

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/cbb79e61-93ba-4ed2-b852-392d010b90d0)

**Expected:**

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/9f052e4e-cc3f-4b3a-9597-089727b4b3d9)

[2022-02-08 19:09] #10230 closed

[2022-02-08 19:18] #10923 closed

[2022-02-08 19:18] pwei1018 commented on #10050
![image](https://user-images.githubusercontent.com/44277752/153059589-eba111b3-fbbe-44e3-b0e4-c85d77840508.png)

[2022-02-08 19:18] #10050 closed

[2022-02-08 19:27] #8731 closed

[2022-02-08 19:28] mstanton1 commented on #10367
Sent to Amber to request she draft changes.

[2022-02-08 19:37] kialj876 commented on #7049
putting this into staging until its ready to test

[2022-02-08 19:51] lmcclung opened #11092 "More involuntary dissolutions that are still active"
**Need to clean this up before we can go live with Business Summaries**

### To Do
The following entities need Involuntary Dissolution filings to match SOFI:
- [x] 'BC1330527 - make historical with effective date of Dec 13, 2021 to match SOFI & Gazette
- [x] 'BC1323247 - make historical with effective Oct 18, 2021 to match SOFI & Gazette
- [x] 'BC1324527 - make historical with effective Sept 27, 2

[2022-02-08 19:59] jinghualicgi commented on #10833
@kialj876 @doug-lovett any thoughts regarding this task? cc: @mstanton1

[2022-02-08 20:02] tlebedovich commented on #11073
@doug-lovett - Please see the updated ticket description above with new design comps that show the ALL BLACK version and everything that should be updated to black.

As far as the font goes, Calibri is smaller, so we'll need to increase all font sizes for this BC Mail version by 18%.

[2022-02-08 20:04] PatrickAHeath commented on #11061
Macro Industries Inc. - 298/197 - Large search modal displays, i icon displays and soon after PDF icon displays, PDF can be opened.

Nor Land Limited - 107 - Large search modal displays, i icon displays and then PDF icon displays, PDF can be opened.

MRC Ventures Ltd. - Search results will not display, but row is added into Searches table with none selected.

[2022-02-08 20:21] rarmitag commented on #11092
Yes, none of those have filings other than incorporatiionApplication

[2022-02-08 20:24] lmcclung commented on #11092
@rarmitag okay, if you could run a query to pull all the BENs with staff comments; and whether they are active or historical, so I can review, that would be great.

[2022-02-08 20:29] chdivyareddy commented on #10796
Hey @doug-lovett , I tried this in DEV. But, as I mentioned earlier in the above comment - I cannot submit a RL Renewal immediately after creating a RL (that is the reason, cannot verify expiry dates in the report).

- Submitting RL Renewal immediately after creating RL issue got fixed earlier in #10146, but I see this issue again.

**Base Reg No: 256260N in DEV**

{"errorMessage": "API backend th

[2022-02-08 20:44] rarmitag commented on #11092
I'm not sure what I would be looking for in COBRS.

[2022-02-08 20:49] lmcclung commented on #11092
@rarmitag Nothing to look for in COBRS.  In postgres, which BENs have staff comments (we have a staff comment filing).  BC1326437 has one - look at that event and pull similar events.

[2022-02-08 21:00] doug-lovett commented on #11073
Examples with latest updates attached below. Still trying to get the verification statement first page table right hand borders to align.

[https://app.zenhub.com/files/157936592/96cdf5d7-823a-404e-a96a-2827bec2d112/download](https://app.zenhub.com/files/157936592/96cdf5d7-823a-404e-a96a-2827bec2d112/download)

[https://app.zenhub.com/files/157936592/32cc588e-ddce-472d-8b2c-b823c5e691bf/download](

[2022-02-08 21:05] lekshmimallika-aot opened #11093 "LTDs that altered to become BENs have the wrong IA name"

[2022-02-08 21:12] severinbeauvais commented on #10917
### Test Notes

1. login to Business Registry as staff
2. open entity dashboard for 3 special businesses above
3. verify historical badge and reason
  - "Involuntary Dissolution"
  - "Involuntary Dissolution"
  - "Voluntary Dissolution"
4. open entity dashboard for recently voluntarily dissolved entity (eg, BC0870868)
5. verify historical badge and reason
  - "Voluntary Dissolution"

**When QA is

[2022-02-08 21:28] tlebedovich commented on #11073
thanks @doug-lovett - just a few items that still need updating:

1) increase logo size to match previous and should use the black and white version of logo (not grayscale). The black and white version is called "Solid" -
![Screen Shot 2022-02-08 at 1 26 21 PM](https://user-images.githubusercontent.com/2207887/153078545-85295d5b-e0a5-4dc5-a4f2-80c9e0e1cb63.png)

2) all in-page badges should be bla

[2022-02-08 21:30] doug-lovett commented on #10796
Divya, the RL renewal submit issue is separate and specific to the the UI. With the API all dates are actually timestamps. I can test with the API by setting the court order date to the same day as the registration and the time value to after the registration date and time.

[2022-02-08 21:32] ozamani9 commented on #10832
Hi @tlebedovich .

i will create PR and after review push these changes to DEV unless you see anything else that i missed.

Before NR Approved:
![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/ff047a4e-e235-4235-95c8-560e8b7b75cc)

After Approval:
[Uploading... image.png]

[2022-02-08 21:34] tlebedovich commented on #10832
looks good to me thanks @ozamani9

[2022-02-08 21:51] SateeshFW commented on #2125
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/d895be3b-4674-4119-abdd-2eaa30063822)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/a767f57f-eadd-4caf-9638-0dbaa54cd065)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/e8a40a92-8268-4ec1-8efd-ff67e0fe81bb)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76

[2022-02-08 22:03] severinbeauvais commented on #10917
@lmcclung This ticket is now RFQA. Do you want it in the 11.8 release?

[2022-02-08 22:07] lmcclung commented on #10911
If the don't hold an AGM then the effective date for the Coop AR should be December 31st of the Annual Report year.

[2022-02-08 22:19] chdivyareddy commented on #11062
Hey @jordiwes , Can you please take a look at this, thanks!

- [ ] When the user hits the "Review and Confirm" button without any changes, then Red text validation occurs under the Review and Confirm button. But, when the user enters the 'Court Order' details, then the Red text validation under the 'Review and Confirm' button does not disappear.

![image.png](https://images.zenhubusercontent.com/6

[2022-02-08 22:22] doug-lovett commented on #11073
@tlebedovich can you please provide the logo file as jpeg/tif/png?

[2022-02-08 22:33] tlebedovich commented on #9721
UXA:

**Registration Headers:**
- [ ] Entity subtitle (under name) for SP/DBA Reg should say "BC Sole Proprietorship / Doing Business As (DBA) Registration"
- [ ] Do not show Email/Phone, align NR name to top (is this change coming in a main header ticket?)
![Screen Shot 2022-02-08 at 2.09.31 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/db84ea81-eff9-43b3-9f1c-3a3ee6f732ea

[2022-02-08 22:36] pwei1018 opened #11094 "RFC - GCP Migration Planning"

[2022-02-08 22:37] tlebedovich commented on #11073
@doug-lovett - can you please rocket chat send me the colour version of the top header logo file so I can provide you the black and white one in the exact same size as the colour one is?

[2022-02-08 22:39] #10866 closed

[2022-02-08 22:39] #11065 closed

[2022-02-08 22:39] #10703 closed

[2022-02-08 22:39] #10853 closed

[2022-02-08 22:39] #9976 closed

[2022-02-08 22:52] doug-lovett commented on #11073
@tlebedovich here it is.
![bclogo.png](https://images.zenhubusercontent.com/5e433f96990532730acff67f/891c79c4-32da-4341-ae72-b2524a96a2b3)

[2022-02-08 22:54] chdivyareddy commented on #10146
@kialj876 , Please refer this ticket for the RL Renewal issue:)

[2022-02-08 22:59] kialj876 commented on #10902
filtering by date has an api bug in dev atm. Doug is aware of that issue and is fixing it. I think UXA can go ahead without that for now?

[2022-02-08 23:03] tlebedovich commented on #11073
Here you go @doug-lovett
![BC_Logo_BlackWhite](https://user-images.githubusercontent.com/2207887/153090369-153c13e6-7be2-4c28-8ec7-3a8495a4dcfb.png)

[2022-02-08 23:05] janisrogers commented on #8630
I have placed the proposed filenames in the description at the top.

[2022-02-08 23:06] ozamani9 commented on #10832
@tlebedovich changes have been pushed into DEV, i moved ticket to UI/UX Verification.  once you are happy with changes in DEV, i will move to Ready for QA

[2022-02-08 23:07] tlebedovich commented on #9842
UXA for general/header/fee summary:

**Breadcrumb:**
- [ ] First item in breadcrumb would say "Staff Dashboard" for staff and SBC users instead of "BC Registries Dashboard"

**Registration Headers:**
- [ ] Entity subtitle (under name) for SP/DBA Reg should say "BC Sole Proprietorship / Doing Business As (DBA) Registration"

- [ ] Do not show Email/Phone, align Name Request name to top as per desig

[2022-02-08 23:18] tlebedovich commented on #10832
hmm... @ozamani9 - i just tried to submit a new name request but I got this "processing payment" screen? (with "retry payment" button, which is strange). Are you able to submit an NR in dev?

![Screen Shot 2022-02-08 at 3 16 09 PM](https://user-images.githubusercontent.com/2207887/153091908-ba89b59a-37bf-484c-8d05-e126c0178be2.png)

[2022-02-08 23:30] doug-lovett commented on #11073
Thanks and here are the undated versions.
[https://app.zenhub.com/files/157936592/fcca2a1b-933b-42cc-88f2-134cd23e3b1a/download](https://app.zenhub.com/files/157936592/fcca2a1b-933b-42cc-88f2-134cd23e3b1a/download)

[https://app.zenhub.com/files/157936592/6d0852e7-5fe9-4773-826a-fe8e6c613b5c/download](https://app.zenhub.com/files/157936592/6d0852e7-5fe9-4773-826a-fe8e6c613b5c/download)

[2022-02-08 23:47] JohnamLane opened #11095 "Transaction Statements not being produced since Jan 8th 2022"
**Describe the bug in current situation**
Multiple clients (or possibly all) are not seeing any new transaction statements being produced. Last known good one is week of Jan 8th. Examples from production that show this symptom:
- Dye & Durham Corporation
- Affinity Law Group

**Impact of this bug**
Number of clients impacted unknown, but likely all
Client are missing their statement, but they can

[2022-02-08 23:48] tlebedovich commented on #11073
@doug-lovett - sooo close.
- I think the footer text/page numbers still seem too small - can we up them one more font size pplease?
- there is a space missing between "Page" and the first page number
- Page numbers larger than "9" are overlapping

![Screen Shot 2022-02-08 at 3 45 00 PM](https://user-images.githubusercontent.com/2207887/153094893-8809ccc2-d48c-4e5a-ae2f-d6a4d1eb3fc0.png)
![Screen S

[2022-02-08 23:49] lekshmimallika-aot commented on #10874
Fixed the metadata in prod

Cause of the issue : The filing was created before the filer was updated to populate the dissolution type in the filing meta data. This issue will not happen going forward because the filer change that is supposed to do this is in PROD

@lmcclung  Could you please verify that the summary is getting downloaded and has all the dissolution data

[2022-02-08 23:54] lekshmimallika-aot commented on #11046
@lmcclung The data in the filing json was incorrect for the entities  'BC1239253 and  'BC0958502. Fixed the prod data. Could you please verify that the business summary shows the correct data.

[2022-02-08 23:57] lekshmimallika-aot opened #11096 "Fix Notice of alteration report"
The notice of alteration template part that displays the legal type change  needs to fetch the relevant data from filing meta data. The current code does not work in all scenarios in PROD

Many more issues identified while testing Alteration Notice

- Alteration Notice of a paid filing does not display Name Change
- Alteration Notice of a paid filing does not display legal type change
- Alteration

[2022-02-08 23:58] lekshmimallika-aot commented on #11046
@lmcclung Created https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/11096 to fix the notice of alteration

[2022-02-09 00:04] chdivyareddy opened #11097 "Repairers Lien - Discharged RL displays 'Total Discharge' instead of 'Remove from Table'"
- [x] When the user discharges the RL, then the Action button displays as 'Total Discharge' instead of 'Remove from Table'

Eg in TEST: **501878N**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/27a8d608-4529-42cc-b752-ecd2396329f0)

[2022-02-09 00:06] chdivyareddy commented on #10869
Verified in DEV by hitting the 'Register and Pay' button multiple times, only 1 Registration is being created at a time.

Eg: 256267N, 256270N, 256271N, 256273N

[2022-02-09 00:10] lekshmimallika-aot commented on #11042
@severinbeauvais  The filings UI currently does not call the business documents endpoint.

Are you planning to call the business documents endpoint from Filings UI to determine whether summary should be enabled or not?
 or
directy read the feature flag and hide/show the summary button?

[2022-02-09 00:11] forgeuxGH5 commented on #11073
@tlebedovich other than the page numbering issues above it looks good to me

[2022-02-09 00:17] severinbeauvais commented on #11042
I haven't looked into this very much, but it sounds like the code should check the FF **and** call the documents endpoint to see if there are any documents.

[2022-02-09 00:18] JohnamLane opened #11098 "Allow BCOL Admin to move a Pending - Hold account to other statuses"
* As a BCOL Admin member
* I want to be able to edit the status of a pending account submission
* so that I don't have to ask the client to take action

**Acceptance Criteria**

**Scenario 1: Enable Approve/Reject buttons when status = pending review - hold**
* GIVEN an account is pending - hold
* AND the client is not able to take action
* WHEN I review the account
* THEN I see the option to appr

[2022-02-09 00:20] severinbeauvais commented on #11042
I haven't looked into this very much, but it sounds like the code should check the FF **and** call the documents endpoint to see if there are any documents.

Is it correct that some entity types that are enabled to show the button won't have documents?

[2022-02-09 00:27] lmcclung commented on #10874
Eureka!!
![image](https://user-images.githubusercontent.com/54917209/153098589-1b50f1a8-0c0f-488d-a4c8-d845fa344e6e.png)

[2022-02-09 00:30] lmcclung commented on #10917
@severinbeauvais Yes please, if Riyaz can sqeeze it in the morning.

@riyazuddinsyed once this is in production - we can verify it using BC1310073

[2022-02-09 00:31] JohnamLane opened #11099 "AUTH API: Ministry Invites - cannot resend expired invites"
The ministry invite process creates an account. It seems like if this original invite expires, then the name/branch is not freed up for re-use; this blocks us from re-sending the invite with the same name.

e.g. from production
 6650 | PENDING_INVITE_ACCEPT | Ministry of Transportation & Infrastructure | Passenger Transportation Branch

![image.png](https://images.zenhubusercontent.com/5a7391bd4b5

[2022-02-09 00:36] JohnamLane opened #11100 "Transactions filter date off by one day"
When you configure a custom transaction filter using the date picker, the label shown on the resultant filter is off by one day.
The results match the correct date though.

Setting the filter...Feb 2
![image.png](https://images.zenhubusercontent.com/5a7391bd4b5806bc2bc54a79/969f6a30-0b30-4acc-889f-4e2fafd5b7dc)

Resulting label...Feb 1
![image.png](https://images.zenhubusercontent.com/5a7391bd4b58

[2022-02-09 00:40] lmcclung commented on #11046
'BC1239253 looks good.
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/b2a4ce8b-bede-4471-9734-55c664d86456)

'BC0958502 also looks good.
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/e76b633d-d4c7-4846-bac9-36ac8faed487)

I'll close this ticket so it counts for this sprint.

[2022-02-09 00:40] #11046 closed

[2022-02-09 00:41] JohnamLane opened #11101 "Allow international addresses for new accounts"
When clients submit an international account address or an international notary address, their account creation fails without highlighting what went wrong. Notary address may not be an issue, but generally when a client has an address outside of Canada their notary does too.

This change is to enhance the address schema to support international addresses.

Ops example - https://github.com/bcgov-re

[2022-02-09 00:45] #10874 closed

[2022-02-09 00:51] JohnamLane opened #11102 "[Verify] Allow BA/BCOL Admin to edit their GL Information"
* As a user who is admin or BCOL Admin
* I want to change my payment option
* so that I don't have to wait for an ops ticket to get created on my behalf

**Acceptance Criteria**

**Scenario 1: Move from BCOL to PAD** ( This Exist today - just for verification)
*GIVEN* I am admin on a Premium account set up to pay with BCOL
https://preview.uxpin.com/138830bf5f62de03c6fc4264a1cad37389e52a6d#/pages/1

[2022-02-09 01:00] JohnamLane opened #11103 "Allow clients and staff to view/add/remove products as appropriate"
* As a user
* I want view/add/remove products from my account
* so that I don't have to enter an ops ticket or phone registries

**Acceptance Criteria**

**Scenario 1: Viewing products (already working?)**
* GIVEN I am a user of any kind (client or staff)
* WHEN I view my account
* THEN I would like to see the list of products, including the ones that have been selected and the fees associated wit

[2022-02-09 01:04] jdyck-fw opened #11104 "QA - Update document list"
- [ ] Provide test data

### Sole Prop
**Upon Payment**
- Receipt

**Upon Completion**
- Registration statement

### General Partnership
**Upon Payment**
- Receipt

**Upon Completion**
- Registration statement

**Note:  our email template includes two additional pdfs but they do not show up on the filing history**
(for coop diss we said estimate of 3; but this one has less documents)

[2022-02-09 01:08] JohnamLane opened #11105 "Account Activity - Transaction list - add filters to columns"
A request from staff has come to allow the following list to have filters/sorting enabled on all of the columns.

![image.png](https://images.zenhubusercontent.com/5a7391bd4b5806bc2bc54a79/cdf59507-b566-4dae-86b9-3b3296701805)

[2022-02-09 01:18] lmcclung commented on #11042
@severinbeauvais by documents do you mean the business summary or outputs from previous filings?
If it's an LTD that has been loaded up and has a draft alteration to change business type; it wouldn't have any previous outputs because we have an epoch file and haven't reapplied the historical filings yet.  They should not be able to get a business summary at this point.

If it's a BEN that altered

[2022-02-09 02:45] lmcclung commented on #9331
@rarmitag
The purpose of this ticket was to identify what the schema errors were so that we can update the schemas or jupyter notebook to bring over historical filings.  I created a couple new ones for you... BC0945805 & BC0945806

Also, please do the same for BC0905144, BC0905145 and BC0905146.

[2022-02-09 16:25] mstanton1 commented on #11048
Closing as stabilization related work is tracked in 11053.

[2022-02-09 16:25] #11048 closed

[2022-02-09 16:28] Kaineatthelab opened #11106 "BN API Beta Specs for Partners"
Create beta API specs for BN users
- CRA
- BC Finance
- Worksafe
- etc...

[2022-02-09 16:29] kialj876 commented on #9173
@sienna-blumstengel @lmcclung what epoch process are you talking about? If you're talking about what we used to do I don't think we can because that code is gone and would create unknown problems in the system for them moving forward. Is there a new way to do it that I don't know about?

[2022-02-09 16:42] jdyck-fw opened #11107 "12.1 Sprint Objectives"
As a user I want to open a draft SP/GP Change filing and have a framework  (9157 epic) - 85%
As a user I want to open a draft SP/GP Registration filing and enter business addresses (8282 epic) - 100%
As a DBA I want to map SP/GP Registration filing data from Oracle to Postgres so that we can import them properly - 75%

Overall completion - 85%

[2022-02-09 16:45] ozamani9 commented on #10832
@tlebedovich i was having trouble as well... i was signed on to my IDIR and did no fee, to get it to work.... let me see if i can figure out why the payment is not going through in DEV... and get back to you

[2022-02-09 16:45] severinbeauvais commented on #11042
Please disregard my comment above.

We have already designed this change: we decided that the UI would simply look at the FF to determine whether to display the business summary button.

@lekshmimallika-aot The UI will not need to call the API to determine whether to display the button.

[2022-02-09 16:54] severinbeauvais commented on #10917
I moved this ticket back to PI 11 and Sprint 11.8 since it's going out in Release 11.8.

[2022-02-09 16:55] doug-lovett commented on #10868
Examples of BC and non-BC cover sheets attached.

[https://app.zenhub.com/files/157936592/359c802b-ea9b-4ad0-a080-4d63b74b8ce0/download](https://app.zenhub.com/files/157936592/359c802b-ea9b-4ad0-a080-4d63b74b8ce0/download)

[https://app.zenhub.com/files/157936592/e0e6c796-3b2d-4de9-bce9-dc731a46ba46/download](https://app.zenhub.com/files/157936592/e0e6c796-3b2d-4de9-bce9-dc731a46ba46/download)

[2022-02-09 16:59] jmills-cgi opened #11108 "Entity: Sprint 12.1 Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Update version number in the code being released
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
- [x] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2022-02-09 17:00] jyoti3286 opened #11109 "Split Create repo and Setup Environment"
In order for relationship team to work simultaneously on Create Repo we have to split the repo and set up new environment so that we can start the build from next Sprint

[2022-02-09 17:09] Kaineatthelab opened #11110 "Discharged should show discharge and no other actions should be available"
Reg #750728I

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/ebc6b1c6-2acb-42a8-a93b-8673ec2f305d)

[2022-02-09 17:10] shabeeb-aot opened #11111 "Update common component version"
### Description

As a part of ticket #10476, need to update to the latest common components (v 2.4.39), to reflect this changes in all applications

**Apps to update:**
- [x] Auth Web
- [x] Filings UI  - linked ticket
- [x] Create UI - linked ticket
- [x] Edit UI  - linked ticket
- [x] Namerequest UI
- [x] PPR UI
- [x] BC Registry UI
- [x] FAS UI
- [x] Wills UI

[2022-02-09 17:11] cameron-eyds opened #11112 "JestTest Failures - Re: Latest SbcHeader Version"
Intermittently, we are getting test suites failing to run due to the inclusion of the latest SBC-Header.
There is some sub components in the header that will fail in a few scenarios:

- If the sbc-header isn't import directly into our `app` it can cause a test suite failure to run
- If the test suites are running multiple files with same component it can cause a test suite failure to run

The fail

[2022-02-09 17:27] mstanton1 opened #11113 "API - Badge Updates for PPR Outputs"
1. In PPR outputs, move badges for general collateral to be above each general collateral section (added, deleted)
2. In PPR outputs, move deleted general collateral sections above added general collateral sections.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/026de805-dd37-45a9-942d-a7c752a40ee7)

[2022-02-09 17:30] SateeshFW commented on #10867
This ticket will be revisited in the next grooming.  There has not be any Ops issues reported on this functionality.

[2022-02-09 17:40] jyoti3286 commented on #11041
@mstanton1 - Based on the above recommendation from Sumesh - I think the work is on the Assets side. Let me know if thats not the case

[2022-02-09 17:45] mstanton1 opened #11114 "UI - Show Registration when added to table"
![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/55ad1851-36b9-43d3-a7dd-34705be31f6a)

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/d87f2037-8c5c-48ce-bbcc-8e956ca9b32c)

[2022-02-09 17:47] jdyck-fw commented on #11093
duplicate of #8300

[2022-02-09 17:47] #11093 closed

[2022-02-09 17:47] mstanton1 opened #11115 "UI - Column labels and filter button"

[2022-02-09 17:48] jdyck-fw commented on #8300
@lmcclung - Will provide Riyaz with Prod examples

[2022-02-09 17:49] mstanton1 opened #11116 "UI - Add draft number and last modified date"
- Show document ID (draft registration number) in table
- Include last modified date in 'Date' column for drafts

**Janis to confirm / update designs before this can be picked up**

[2022-02-09 17:59] mstanton1 commented on #11015
From grooming - would be less work if the 'Amend' button was disabled when a draft is in place. @forgeuxGH5 @tlebedovich can you review this and confirm if this is an acceptable approach? Do you need another design ticket?

[2022-02-09 18:00] severinbeauvais commented on #10999
@riyazuddinsyed The Filings UI / Create UI / Edit UI changes are in Release 11.8 (and deployed to Dev and Test).

@ozamani9 The Namerequest UI changes are deployed to Dev and need to be in the next NR release.

[2022-02-09 18:00] mstanton1 opened #11117 "UI - Save User Settings"
1) Save for session only (retain if user leaves this screen and comes back again during session):
- filters
- expanded parent/child rows

2) Save until user changes (retain even if user logs out and logs back in again):
- column sorting (ascending / descending)
- columns to show

[2022-02-09 18:01] mstanton1 opened #11118 "UI - General Snackbar / Table Updates"
![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/741198fc-aac1-4e6f-bfa9-247ed733462d)

- Keep drafts with light gray background when under a parent
- Put drafts in chronological order when under a parent (not at the top)
 - Show snack bar when added drafts to the table
- Include the registration number in the snack bar message when a registration gets added to the table

[2022-02-09 18:01] jyoti3286 opened #11119 "Change the three dots to "Edit status" on the View Routing Slip page"
Everyone was confused around selecting the 3 dots to update the status of a routing slip, will definitely need a UI update on that since while training could help it clearly is not intuitive for the users.

- Update the three dots to "Edit Status"

Design: https://preview.uxpin.com/76da32cd3abd1eb16c96507294189fbd7bee9140#/pages/144308894

[2022-02-09 18:02] cameron-freshworks commented on #9519
For QA/UX: If you log in to BCREG0017, there is 3 entities (SP, GP, SP/DBA) draft registrations made previously that will give access to the Filings UI updates.

[2022-02-09 18:04] tlebedovich commented on #11015
I'll let @forgeuxGH5 confirm with his thoughts, but my thoughts were that if users don't see/notice the draft in their table they might be confused as to why the Amend button is disabled. So we opted to keep it enabled (AA friendly) and show this modal instead.

[2022-02-09 18:28] tlebedovich commented on #10832
@ozamani9 - i just emptied my cache and tried again and received this payment error -
![Screen Shot 2022-02-09 at 10 28 08 AM](https://user-images.githubusercontent.com/2207887/153266162-d89204d9-6959-40ad-aa6f-b6bd57332328.png)

[2022-02-09 18:35] rarya-freshworks opened #11120 "[FAS] - Logout not redirecting to Login Screen"
**Description:**
When a user in RS and does a logout, the screen does not get redirected to Login screen as it should.

**Steps:**
1.) Login in FAs system
2.) Open an existing RS
3.) Navigate to logout option and logout while inside RS.

**Current Behaviour:**
1.) Once user logs out screen does not navigate to Login Screen as it should.

**Expected Behaviour:**
1.) Once user logs out screen should

[2022-02-09 18:44] severinbeauvais commented on #8283
I do not have access to the Requirements Matrix, and Google is saying the Requirements Document is in the owner's bin.

Are there documents I should be looking at? And if so, could you please post accessible links to them? Thank you.

[2022-02-09 18:58] yuisotozaki opened #11121 "UI Design SP/GP Dissolution Filings Output"
* Output is similar to the statement of registration
* Only need the same tomb stone info as change filing and date of dissolution + completing party

Invision Link is here
* https://invis.io/2912CV7ZZ8AM

[2022-02-09 18:58] chdivyareddy commented on #10869
- [ ] When the user clicks multiple times on 'Submit' button for Amendments/Renewals/Discharges info is not displaying under the Base Registration. But, it does show by filtering.

- Provided info to Doug.

Eg: 256273N, 256267N in DEV (BCREG0057)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e7a2d6ea-9bdd-4925-ae3b-bab6aa7d3a2a)

![image.png](https://images.zenhubuser

[2022-02-09 19:06] rarya-freshworks opened #11122 "[FAS] - Breadcrumbs issue on UI"
**Description:**
The breadcrumbs on UI when in RS is not showing fully and cutting out.

**Steps:**
1.) Login into FAS.
2.) Open a RS that is linked to other RS
3.) On top of RS details on UI breadcrumbs is half cut.
4.) Screen shot attached.

**Notes:**
Screen Shot:
![image.png](https://images.zenhubusercontent.com/60c91f395edfa51356f1accc/8d9bd545-62f8-4657-bd05-76a4aafd21a2)

[2022-02-09 19:10] severinbeauvais opened #11123 "Filings UI - more UI updates"
There was a previous ticket for some Filings UI updates, but the following wasn't specified and still needs to be done:

- [x] update entity info subtitle - `merged`
- [x] update todo list item title - `merged`
- [x] ~update action button label~ _actually, this is OK (*)_ - `merged`
- [x] handle display of NR - `merged`

- [x] update Legal Obligations as needed for this entity type (may need confi

[2022-02-09 19:10] severinbeauvais commented on #11123
Actual:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/a749feb4-25fe-43e0-87ff-b63d40e8f77c)

[2022-02-09 19:11] yuisotozaki opened #11124 "UI Design - SP/GP Dissolution Email Output"
- Verify email template content in the [spreadsheet](https://docs.google.com/spreadsheets/d/17wMY9znmWMr2RoXH9S2elffC8uE7iifUGB5Hu3VVFpE/edit#gid=797805835)

[2022-02-09 19:13] severinbeauvais commented on #11123
@jdyck-fw @lmcclung I saw some things in the designs that we hadn't specced out yet. Please update pipeline and sprint as you wish.

[2022-02-09 19:15] ozamani9 commented on #10832
@lmcclung while we were testing the wording on the Summary page about 56 day expiration for a company we noticed... that for BC Benefit Companies, before approval the wording shows up BUT after its been approved the message is not displayed.    this also happens in TEST (my code changes are only in DEV)

Do you know any business rules around BC Benefits companies or any other companies, WHY we wou

[2022-02-09 19:23] severinbeauvais commented on #11123
I just added a chekcbox for another requirement (per designs).

[2022-02-09 19:31] mstanton1 commented on #10160
@Kaineatthelab @thorwolpert it sounds like there is a resource for data lake coming in. Do we need that resource in place, and further information on the data lake to proceed with this task or can we include this soon?

[2022-02-09 19:33] mstanton1 commented on #10833
@jinghualicgi moved to the grooming column for discussion.

[2022-02-09 19:34] yuisotozaki commented on #11124
@lmcclung @sienna-blumstengel Please review new rows in the email spreadsheet for SPGP dissolution.

[2022-02-09 19:41] tlebedovich opened #11125 "Voluntary Dissolution Steps 2/3/4 content is missing when you first go to those steps"
When I tried to do a Voluntary Dissolution of a numbered benefit company (either a new dissolution or reopening a draft dissolution), Step 2/3/4 content appears blank with the incorrect action buttons (and sometimes the Stepper icon does not highlight the step you are on).

Once you click to a different Step and return to either Step 2/3/4, the content for the step then appears.

To Reproduce Step

[2022-02-09 19:42] tlebedovich commented on #11125
@lmcclung - logging this bug - content seems to be missing for step 2 and 3 sometimes

[2022-02-09 19:46] jdyck-fw commented on #10998
I believe that #10999 handles this for the entities side of things.

[2022-02-09 19:48] yuisotozaki commented on #9503
@jdyck-fw This might be obsolete. The DBA entry is already in the NR dropdown.

![image.png](https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/5d668321-d415-43b6-bed1-beeffd53d587)

[2022-02-09 19:52] yuisotozaki commented on #11121
Found to be duplicate of https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/10945

[2022-02-09 19:53] #11121 closed

[2022-02-09 19:53] yuisotozaki commented on #10945
@tlebedovich The ticket I created (11121) was a duplicate of this one. I closed 11121 and moved this one over to ready for visual design.

[2022-02-09 20:00] #11066 closed

[2022-02-09 20:01] #9386 closed

[2022-02-09 20:03] #10854 closed

[2022-02-09 20:03] #9730 closed

[2022-02-09 20:05] tlebedovich commented on #9542
@lmcclung - I don't think any of the Header work was done - just the breadcrumb. Can we create Dev tickets for the header work so we don't lose this?

[2022-02-09 20:15] chdivyareddy commented on #10901
- [ ] Filtering by Registration Number with lower case doesn't display the Registration in the Table even if the registration is present.

Filtering by Upper Case (works as expected)
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d8b17d90-9679-4dda-bf18-e81097c916f3)

Filtering by Lower case (Actual Behavior)
![image.png](https://images.zenhubusercontent.com/60cd147b900

[2022-02-09 20:27] jordiwes commented on #6925
To determine no PPR / basic account, is it their auth roles? Because both BCREG0059 and BCREG0056 have the ppr auth role... unless there is another criteria that I am missing?

[2022-02-09 20:46] cameron-freshworks commented on #11123
To do `update Legal Obligations as needed for this entity type (may need config - see #9868)` correctly, it will indeed need some form of configuration.

[2022-02-09 20:49] severinbeauvais commented on #11123
Can you do a minimum, using what we've learned in Create UI, to get you what you need? Ticket 9868 has not been groomed/planned yet.

[2022-02-09 20:53] cameron-freshworks commented on #11123
Definitely!

[2022-02-09 21:50] zac-broitman opened #11126 "Note when entering BCOL credentials in account linking"
Help desk and Engagement have reported that a common issue is people are entering the wrong BCOL password by entering more than 8 characters.

Could there be an added note to the password field i.e. -  Enter only first 8 characters of BCOL password.

[2022-02-09 22:25] chdivyareddy commented on #11073
@doug-lovett , can you please attach the updated versions with the above fixes, thanks!

[2022-02-09 22:26] #11020 closed

[2022-02-09 22:30] magszymanski commented on #10870
Form 11 is free to use (& onward). Gen said that forms must be numbered for document control and ease of use.

[2022-02-09 22:31] Maribeth-Wilson opened #11127 "OCM - SP & GP Registrations and Maintenance Filings"
Parent epic - all other OCM Firm Registration and Maintenance Filing epics should link to this epic

[2022-02-09 22:42] Maribeth-Wilson opened #11128 "OCM - Business Search"
This 'Parent' Epic will be linked to OCM activities related to Business Search

[2022-02-09 22:58] doug-lovett commented on #11073
@chdivyareddy Examples of the latest versions are attached here.
[https://app.zenhub.com/files/157936592/21bec89b-3934-4a07-9ab8-683e380338ea/download](https://app.zenhub.com/files/157936592/21bec89b-3934-4a07-9ab8-683e380338ea/download)

[https://app.zenhub.com/files/157936592/895aeed2-521e-402c-8d00-6d477022c176/download](https://app.zenhub.com/files/157936592/895aeed2-521e-402c-8d00-6d477022c17

[2022-02-09 23:00] jordiwes commented on #6925
![image.png](https://images.zenhubusercontent.com/6018b860657f476731f9d68d/4d1129c4-d01e-4044-bafa-cca74a76eaca)

[2022-02-09 23:20] forgeuxGH5 commented on #6925
@jordiwes

They should see their dashboard (for clients that's the BC Registries Dashboard)

![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/b429bd4e-3494-4777-9264-f337d548317f)

[2022-02-09 23:47] lmcclung commented on #8300
@riyazuddinsyed - PROD examples:
BC to BEN - BC1335321, BC1208638, BC1310050
BEN to BC - BC1314465, BC1313261, BC1291871,

[2022-02-10 00:01] chdivyareddy commented on #10796
Verified the Expiry dates within the report and it is working as expected. But, the 'Days to Expiry' still displays as '361 Days' instead of 360 Days on the Registrations Table as both are done on the same day (Registration and Renewal). Can you please take a look, thanks!

**Registrations Table:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/6381c323-96c5-471f-8151-d

[2022-02-10 00:11] janisrogers commented on #10518
Current Expiry and Trust Indenture component (closed)
- [ ] Use the same height/text alignment as Total Discharge's
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/01fe787d-ecfb-4626-bcd1-e70815db44f4)

- [ ] Fix alignment of amend button (align with general collateral amend buttons) (30 px from right edge)
![image.png](https://images.zenhubusercontent.com/5e1635372273f7

[2022-02-10 00:23] #10876 closed

[2022-02-10 00:29] #10077 closed

[2022-02-10 00:42] chdivyareddy commented on #11073
Verified as per the attached examples!

[2022-02-10 00:43] Maribeth-Wilson opened #11129 "OCM - Firm Registration/Maintenance Filings Training"

[2022-02-10 00:46] lmcclung commented on #11042
@cameron-freshworks @riyazuddinsyed
Do we have test data in TEST to QA this, or should we test it in PROD?

[2022-02-10 00:48] Maribeth-Wilson opened #11130 "OCM - Firm Registration/Maintenance Filings - Training Plan (~April) - DUPLICATE - Training plan includes Reg & Maintenance"
- Create training plan for both Firm Registration/Maintenance filings and Business Registry training activities

https://docs.google.com/spreadsheets/d/15tdMLqygdou4fB0VYcilSE5dKj1O0Ytf/edit?usp=sharing&ouid=108294243642310593894&rtpof=true&sd=true

[2022-02-10 00:50] Maribeth-Wilson opened #11131 "OCM - Firm Registration/Maintenance Communications & Engagement"

[2022-02-10 00:52] Maribeth-Wilson opened #11132 "OCM - Firm Registration/Maintenance - Communications Plan"
create communications plan

[2022-02-10 01:48] cameron-freshworks commented on #11042
@lmcclung  Sounds good, will need to promote to TEST.
Are we wanting to push this out with tomorrows release?

[2022-02-10 03:12] lmcclung commented on #11042
@cameron-freshworks ideally, yes push with tomorrow's release.

[2022-02-10 15:04] vysakh-menon-aot opened #11133 "Legal Api - IA should not use business object in filing"
**Describe the bug in current situation**
IA validation is depending on `business/legalType` property. Even though it is working now it is against schema. To get legalType we can use `namerequest/legalType`. Make sure business object not used in case of IA

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Chance o

[2022-02-10 16:18] mstanton1 commented on #10207
@tlebedovich can this be closed? We have 11073 which includes all the Print Version updates in Done.

[2022-02-10 16:19] vysakh-menon-aot opened #11134 "Legal Api - move business object into Registration schema"
Similar to alteration move business into registration schema
 - [x] Update schema
 - [x] Update auth-web
 - [x] Update filing-ui
 - [x] Update create-ui
 - [x] Update legal-api

[2022-02-10 16:21] mstanton1 commented on #9156
Dev work has been completed under 9290.

[2022-02-10 16:31] fareenr commented on #10820
10-Feb updated comms plan with the comms, meetings and demos already completed

[2022-02-10 16:33] fareenr commented on #10823
Feb 8 - provided 2 demos to Joanna's helpdesk staff and followed up on questions and concerns they had.  Mainly concerned about not being able to see branch name for multiple accounts with same legal business name.  Communicated that to relationships team, which they already have as a potential future enhancement.

[2022-02-10 16:36] janisrogers opened #11135 "PPR Platform Payment error - INC0142932"
Client registered 4 transactions, but was charged for 5. Registration 496939N does not show on a search.  Can we determine why she was charged (and how she got a registration number) if it was not registered? Client is from Campbell, Burton and McMullan LLP.

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/1344c2f2-8448-47c9-96fa-8e84d324b46e)

[2022-02-10 16:49] ozamani9 commented on #10832
@tlebedovich @lmcclung @severinbeauvais

There was some logic added a year ago to hide the After Approval Summary message if the company is a Benefits Company.

Does this still hold true, or should this be removed SO ALL company types see the summary message.

[2022-02-10 16:54] forgeuxGH5 commented on #8202
@mstanton1 I say we close it

[2022-02-10 16:58] tlebedovich commented on #10207
yes - close away!

[2022-02-10 17:01] Maribeth-Wilson opened #11136 "OCM - Business Search - Change Impact Assessment"
Create Change Impact Assessment for Business Search

[2022-02-10 17:04] lmcclung commented on #10832
@ozamani9 @tlebedovich @severinbeauvais
All company types should see the summary message.  If you can fix it with this ticket, that would be great.

[2022-02-10 17:05] Maribeth-Wilson opened #11137 "OCM - Business Search Training"

[2022-02-10 17:07] ozamani9 commented on #10832
thank you will do

[2022-02-10 17:08] Maribeth-Wilson opened #11138 "OCM - Business Search Training"
Create Business Search Training Plan

[2022-02-10 17:12] Maribeth-Wilson commented on #11137
linking this epic to #11129 OCM Firm Registration/Maintenance Filings Training as audience will be similar and we will need to sync on approach, timing, etc.

[2022-02-10 17:13] Maribeth-Wilson commented on #11129
linking this epic to 11137 OCM Business Search Training as audience will be similar and we will need to sync on approach, timing, etc.

[2022-02-10 17:15] Maribeth-Wilson opened #11139 "OCM - Business Search Communications & Engagement"

[2022-02-10 17:17] Maribeth-Wilson opened #11140 "OCM - Business Search Communications & Engagement Plan"
Create Communications & Engagement Plan for Business Search

[2022-02-10 17:26] yuisotozaki commented on #8283
@severinbeauvais I think those are old documents. Disregard those. All the relevant requirements have been verified by Linda and staff via our SPGP requirements meetings and session notes, so we're good on that front. :crossed_fingers:

[2022-02-10 17:27] Maribeth-Wilson opened #11141 "OCM - MHR Training"

[2022-02-10 17:28] Maribeth-Wilson opened #11142 "OCM - MHR Training Plan"
Create Training Plan for MRH

[2022-02-10 17:30] Maribeth-Wilson opened #11143 "OCM - MHR Communications & Engagement"

[2022-02-10 17:56] tlebedovich commented on #11125
@severinbeauvais - pinned for you

[2022-02-10 18:01] PatrickAHeath opened #11144 "PPR Search - Revisit Search table retention and PDF availability"
PPR Search table currently retains up to 1000 of the most recent searches, but the PDF is only available to download for 7 days.  This could result in rows appearing but the PDF not being accessible.

Determine search table retention parameters and implement with on screen notification of availability.

[2022-02-10 18:07] PatrickAHeath opened #11145 "PPR - Renewals performed between January 1, 2022 and January 24, 2022 don't have expiry date updated on Base Registration"
Registrations are displaying with a status of Expired but a renewal is displaying in the History section with a future dated expirty date.

[https://app.zenhub.com/files/157936592/733e813f-3b42-43e0-8caa-c2c5650548bf/download](https://app.zenhub.com/files/157936592/733e813f-3b42-43e0-8caa-c2c5650548bf/download)

[2022-02-10 18:21] Kaineatthelab opened #11146 "Solution for API errors for high volume users"
Given I a am a high volume user like teranet
When I send transactions through the API and they fail
Then I want to know if the registration was successful

[2022-02-10 18:31] Maribeth-Wilson opened #11147 "OCM - MHR Communications & Engagement Plan"
Create MHR Communications & Engagement Plan

[2022-02-10 18:36] #11023 closed

[2022-02-10 18:37] #11019 closed

[2022-02-10 18:45] kialj876 commented on #10869
hey @chdivyareddy this is an infinite scroll bug in the api so it shouldn't block this ticket

[2022-02-10 18:53] chdivyareddy commented on #10869
Got it! but, it doesn't affect the user when they click the 'submit' button multiple times right? just wanted to confirm before moving on, thanks!

[2022-02-10 19:04] Maribeth-Wilson opened #11148 "OCM - All API Services"

[2022-02-10 19:06] Maribeth-Wilson opened #11149 "OCM - All API Services (PI12) Change Impact Assessment"
Create Change Impact Assessment for all API Services (PI12)

[2022-02-10 19:09] Maribeth-Wilson opened #11150 "OCM - All API Services (PI12) Communications & Engagement"
update API Communications & Engagement Plan

[2022-02-10 19:11] Maribeth-Wilson opened #11151 "OCM - All API Services (PI12) Defining and Supporting Process"

[2022-02-10 19:11] Maribeth-Wilson opened #11152 "OCM - All Website & Form Changes"

[2022-02-10 19:12] Maribeth-Wilson opened #11153 "OCM Portfolio, Product & Process Improvements"

[2022-02-10 19:13] jinghualicgi opened #11154 "Pre-Release Checklist: Name Examination"
This is related with ticket:  **Name Examination UI: update Expiry Date logic#10246**

Prior to moving into production, the following steps should be completed or confirmed:
- [x] Update version number in the code being released
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add vers

[2022-02-10 19:20] chdivyareddy commented on #11062
Hey @jordiwes , Court order validation works as expected. Can you please refer to Crown Charge secured party:

- [ ] When a user Amends Crown Charge Secured Party and undo the changes, then the user can navigate to the next screen (screen2) without any changes on screen1.
Before Undo:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/67a6c2a4-b909-482f-9f44-58404cb978bc)

[2022-02-10 19:20] yuisotozaki commented on #9519
The scope of this ticket looks good. The only thing I noticed is that the impl includes the business name in the To Do List item; not as per design. I'm not 100% sure if this is a scenario where the implemented standard is ahead of what we have in the design side. @tlebedovich ?

![image.png](https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/4cb3fd94-76a6-4c43-b2ca-d9426fca4aa0)

Coupl

[2022-02-10 19:22] jinghualicgi opened #11155 "SRE 12.1 Sprint Goal"
- [ ] Continue support Names
- [ ] Review SSM Permission/ Applications health check
- [ ] Do Knowledge Transfer in Auth&Pay area, to prepare for future auth/pay onboarding SRE

[2022-02-10 19:24] yuisotozaki opened #11156 "Icon-Text Alignment is off on My Business Registry - My List"
The vertical alignment of the icon-text option in the dropdown part of the action buttons are off by 1px or something. The entity's dashboard's action button dropdown option can be used as a good implementation.

![image.png](https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/638f7d56-c7d2-4943-b78e-e290ed4a96dc)

[2022-02-10 19:40] tlebedovich commented on #11156
I think you have it covered. Looks like the easiest thing to do for the 3 items on the left is just move the text down a pixel or two to align with the bottom of the icons (the example on the right has a larger icon).

to note the dropdown arrow on the right side one should be pointing up when the dropdown is open, but not a high priority :)

[2022-02-10 19:44] ozamani9 commented on #11154
GITHUB ACTIONS NOT SETUP
Deployment Steps:
1) TAG DEV TO TEST     oc -n f2b77c-tools tag namex-front-caddy:dev namex-front-caddy:test
2) VERIFY updating NR 8055515 expiration date will set time to 11:59pm. currently says 12:01am
![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/d45d29c8-2c51-4f85-b3bb-e23c33d7efb3)
3) TAG TEST TO PROD     oc -n f2b77c-tools tag namex-front

[2022-02-10 19:55] tlebedovich commented on #9519
@yuisotozaki We don't need the Firm name in the To Do List.

[2022-02-10 20:09] Maribeth-Wilson opened #11157 "OCM - Ministry Government Accounts - PI12 work"

[2022-02-10 20:19] Maribeth-Wilson opened #11158 "OCM - Ministry Government Accounts - Communications Regarding New Account Invitations"
draft email for SDPR regarding new account invitations and what we normally say to these type of issues
ie:
•	Initial Ministry communication started October 4th
•	Here are all the information packages for account set ups and available information
•	BC Online had this information on its front page for … time
•	Specifically for SDPR, they were screenscraping our system. There isn’t any MOU of indica

[2022-02-10 20:19] Maribeth-Wilson opened #11159 "OCM - DRAFT EMAIL TO Ministry Government Accounts - Communications on Search, Firms, and API's - Due March 8 (need to provide lots of lead time for internal users)"
Draft email
Goal: awareness of firms, search, API's.
Audience: all internal ministry account holders and potential internal account holders from BCOL (internal users subscribing to search).

Key messages:
https://docs.google.com/document/d/170Ql_JthurMg8g-vlGJKC53uxcsffs0E/edit
AND
- users will use IDIR to login
- can use existing account if they already have one
- message re: GL coding
- ask ADMI

[2022-02-10 20:51] PatrickAHeath opened #11160 "PPR Registration - Validation Error on Debtor Address Region or Postal Code field prevents registration completion"
**Address Region**

Client (Dentons) reported that they were receiving an Unable to Complete Registration popup when attempting to register a security agreement.

The data they were entering for the Debtor address included an invalid value (London) in the Region field.  Clicking the Done button allowed the client to proceed, despite the error displaying on the Region field (can only enter 2 charac

[2022-02-10 20:54] Maribeth-Wilson opened #11161 "OCM - Phase out BCOL Partners - Vital Stats"

[2022-02-10 20:55] Maribeth-Wilson opened #11162 "OCM - Beneficial Ownership"

[2022-02-10 20:55] Maribeth-Wilson opened #11163 "OCM - BN Messaging"

[2022-02-10 21:38] JohnamLane commented on #11072
@doug-lovett @saravankumarpa Please work together to complete the list of missing error codes then we can estimate the amount of work needed to send them.

[2022-02-10 22:02] tlebedovich commented on #9519
@lmcclung @forgeuxGH5 - Are you ok with we remove the Corp name after the Incorporation Application or Registration title? I don't feel its needed and long names create wrapping issues. We don't show the number for numbered companies.

Also... that expire day number, haha. very specific :)

[2022-02-10 22:07] yuisotozaki commented on #8283
Yes!

[2022-02-10 22:15] mstanton1 opened #11164 "MHR + PPR Combo Search"

[2022-02-10 23:04] mstanton1 opened #11165 "Account Management"

[2022-02-10 23:08] #9456 closed

[2022-02-10 23:12] mstanton1 commented on #3573
@thorwolpert @doug-lovett can this be closed? cc @jinghualicgi

[2022-02-10 23:24] rarya-freshworks commented on #7538
It is not an issue anymore.

[2022-02-10 23:24] #7538 closed

[2022-02-10 23:32] rarya-freshworks commented on #10630
This needs more information, investigation & verification.

[2022-02-10 23:35] rarya-freshworks commented on #10628
Was able to reproduce but needs users group permission change from backend so that User group cannot see edit option on Account Info UI.

[2022-02-10 23:36] rarya-freshworks commented on #5778
The workflow has changed since the creation of this ticket.

[2022-02-10 23:36] #5778 closed

[2022-02-10 23:37] #6411 closed

[2022-02-10 23:37] #11061 closed

[2022-02-10 23:37] #11081 closed

[2022-02-10 23:37] #10753 closed

[2022-02-10 23:37] #10868 closed

[2022-02-10 23:37] #11057 closed

[2022-02-10 23:37] #10521 closed

[2022-02-10 23:37] #10815 closed

[2022-02-10 23:37] #11060 closed

[2022-02-10 23:38] #10888 closed

[2022-02-10 23:38] #11036 closed

[2022-02-10 23:42] kialj876 commented on #10901
@doug-lovett I am able to duplicate the error of child registrations not showing with base reg 256259N and it also happens for every registration I have tried so far by filtering on the child registration number (probably the same issue). Drafts are no longer returning the reg/sec party or folio number as well - are you able to add that back in?

[2022-02-10 23:50] yuisotozaki opened #11166 "UI Design - Special Resolution - Co-op"
### Visual Design Comps:
https://projects.invisionapp.com/share/WZ12EE8AFD6J#/screens?browse

-----

When a coop needs to make changes to rules or memorandum, they need to pass a special resolution at their AGM. See **Maintaining a Cooperative > Change the rules or memorandum**: https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/businesses-incorpor

[2022-02-10 23:56] trishreimer commented on #2118
@lmcclung could you please include Amitas, Mags, Maribeth and Fareen in the walk throughs?

[2022-02-11 00:06] zac-broitman opened #11167 "FAS-UI - Ability to Void a Routing Slip"
* As an admin user
* I want to be able to void a routing slip
* so that I can cancel it in case there were errors made on it

**Acceptance Criteria**

**Scenario 1: Voiding routing slip**
* GIVEN ... I am a user with the "payment creation" role
* IF ... No transactions have been made against that routing slip
* WHEN ... I click "Edit Status" on the routing slip
* THEN ... I select "Void routing sl

[2022-02-11 00:06] zac-broitman commented on #11167
@rkim13103 Can you look into a design for this?

[2022-02-11 00:22] mstanton1 opened #11168 "Show Ministry and Non-Ministry Account types P2"
When searching in account management I want the ability to see if an account is an 'Asset Type' Ministry (GovM) or Non-Ministry (GovN) under the search results, and be able to filter by the asset type.

[2022-02-11 01:12] #11125 closed

[2022-02-11 01:14] #11042 closed

[2022-02-11 01:14] #10933 closed

[2022-02-11 01:17] #10917 closed

[2022-02-11 01:17] #9255 closed

[2022-02-11 04:24] jinghualicgi commented on #10914
Duplicated ticket #11087

[2022-02-11 16:10] fareenr commented on #10824
@cwulff1 we need to discuss if sending all Ministry Admins the option to create multiple accounts will lead to more confusion

[2022-02-11 16:35] ozamani9 commented on #10246
Released to PROD.   can be closed.

[2022-02-11 16:39] #10157 closed

[2022-02-11 16:40] #9586 closed

[2022-02-11 16:40] #9727 closed

[2022-02-11 16:42] mstanton1 commented on #9534
@forgeuxGH5 did you complete UX research for PI 11? Can you confirm if work was done on any of the tickets in 'New Issues'?

[2022-02-11 16:50] forgeuxGH5 commented on #9534
@mstanton1  I don't recall we did any UX research for assets this PI @janisrogers can you recall any?

[2022-02-11 17:11] cwulff1 commented on #10824
Hi Fareen, Ministry struggled with just having one account and if they have the option to create more accounts I see payments being a big issue if the incorrect GL Coding is attached to the account being used.

[2022-02-11 17:13] vysakh-menon-aot opened #11169 "QA - Registration filing validations"
This ticket is to test the filing validations once all the UI components are in place.

[2022-02-11 17:19] tlebedovich commented on #10220
@lmcclung @yuisotozaki ready for final review

[2022-02-11 17:19] tlebedovich commented on #9367
@lmcclung @yuisotozaki ready for final review and deciding on date picker option

[2022-02-11 17:22] #10246 closed

[2022-02-11 17:36] mstanton1 commented on #10496
In our current flow if staff encounter an issue with access (e.g. not set up) they would contact IT Ops to log a ticket and we would address the access issue. No need to handle in the UI.

[2022-02-11 17:36] #10496 closed

[2022-02-11 17:41] jinghualicgi commented on #10895
Will create a design ticket for this

[2022-02-11 17:42] jdyck-fw commented on #11104
Waiting for UI to be ready before QA.

[2022-02-11 17:44] mstanton1 opened #11170 "UI - Warn clients not to copy from Word"
When clients copy text from Word into PPR additional characters are copied which don't show in the UI but appear when the verification statement is generated. The text resulting can be illegible.

Technical constraints were identified in showing text in the UI in the way it would appear in the verification statement. We require a method to advise users to not copy from Word (e.g. use a text editor

[2022-02-11 17:45] lmcclung commented on #9519
@tlebedovich sounds good

[2022-02-11 17:47] #10575 closed

[2022-02-11 17:48] jinghualicgi commented on #11135
@kialj876 Kial can you take a look at this ticket? Thanks

[2022-02-11 17:49] SateeshFW opened #11171 "Relationships Sprint Goals for 12.1"
- Change Back Account Name to BC Registry Account Name - 8
- Allow BC Online Admin team to change the status of an Hold item - 9
- Logout re-direction issue - 10

[2022-02-11 17:51] severinbeauvais commented on #9519
Re: To Do item design ^^^ see also #11123

[2022-02-11 17:53] jinghualicgi commented on #11071
@chdivyareddy Please verify this, thanks

[2022-02-11 17:58] jdyck-fw commented on #11111
@jinghualicgi - Can we assume that Assets or SRE will handle the BC Registry UI update for this?

[2022-02-11 18:00] ozamani9 commented on #11111
I will pick this up as per Lindas Request

[2022-02-11 18:38] mstanton1 commented on #11170
@forgeuxGH5 this issue has come up a number of times from staff. Is somebody on the design team able to look at ways we could address this?

[2022-02-11 18:39] forgeuxGH5 opened #11173 "UI ENHANCEMENT - Error Prevention - handle when users navigate away from a search in progress"
Currently the PPR application allows users to easily, accidentally navigate away from the a search that is in progress.

This results in the user being unable to select similar matches in their search and may result in search result being incomplete from the users' perspective and they may need to conduct their search again.

Design a solution that will help reduce likelihood that users will accid

[2022-02-11 18:41] forgeuxGH5 commented on #11173
@mstanton1 @jinghualicgi

[2022-02-11 18:51] severinbeauvais opened #11174 "Create UI: verify and resolve dependency update PRs"
A Github process called "dependabot" automatically creates a PR to update a package dependency to potentially fix a security vulnerability. Eg,

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/897292dc-9fa1-4a90-9cba-76c57e7c63db)

Before accepting and merging these PRs, each subject package should be reviewed for potential code impacts (eg, breaking changes), and the pr

[2022-02-11 18:53] sienna-blumstengel commented on #10574
This missing middle name but was captured in #10452. Closing the other ticket, will do the work to fix the missing middle names as part of this ticket.

[2022-02-11 18:53] jdyck-fw commented on #10452
Being done in #10574

[2022-02-11 18:53] #10452 closed

[2022-02-11 18:57] severinbeauvais opened #11175 "Namerequest UI: verify and resolve dependency update PRs"
A Github process called "dependabot" automatically creates a PR to update a package dependency to potentially fix a security vulnerability. Eg,

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/8ff60cc8-9826-428f-827c-237a002c9cf8)

Before accepting and merging these PRs, each subject package should be reviewed for potential code impacts (eg, breaking changes), and the pr

[2022-02-11 19:00] severinbeauvais opened #11176 "Namex UI: verify and resolve dependency update PRs"
A Github process called "dependabot" automatically creates a PR to update a package dependency to potentially fix a security vulnerability. Eg,

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/b1224dc9-5e28-4ce3-8d10-93b86eb46d64)

Before accepting and merging these PRs, each subject package should be reviewed for potential code impacts (eg, breaking changes), and the pr

[2022-02-11 19:00] lmcclung commented on #9228
@ozamani9 can you confirm this work was already done?

[2022-02-11 19:10] mstanton1 commented on #6577
STRA and SOAR have been provided by Ariadne. I will upload to the R Drive next week when my access goes through.

[2022-02-11 19:10] severinbeauvais opened #11177 "Create UI: wrong contact info component being used"
**THIS POTENTIAL BUG NEEDS TO BE VERIFIED IN DEV OR TEST OR PROD BUT THOSE ARE UNAVAILABLE TO ME AT THE MOMENT**

**Description:**

The Review and Confirm page for dissolution filings has a component to display "contact info". Unfortunately, it might be displaying the "business registry contact info" instead of the "business contact info".

Eg,
![image.png](https://images.zenhubusercontent.com/5d0

[2022-02-11 19:10] severinbeauvais opened #11178 "Create UI: wrong contact info component being used"
**THIS POTENTIAL BUG NEEDS TO BE VERIFIED IN DEV OR TEST OR PROD BUT THOSE ARE UNAVAILABLE TO ME AT THE MOMENT**

**Description:**

The Review and Confirm page for dissolution filings has a component to display "contact info". Unfortunately, it might be displaying the "business registry contact info" instead of the "business contact info".

Eg,
![image.png](https://images.zenhubusercontent.com/5d0

[2022-02-11 19:10] sienna-blumstengel commented on #10911
TO DO:
- [ ] Co-op director change, the effective date should be what was specified in the filing. Currently it is setting it as the same as the filing date, which is wrong.
- [ ] Co-op Annual Report, the effective date should be what was specified in the filing. Currently it is setting it as the same as the filing date, which is wrong.
- [ ] When an AR indicates NO AGM, make the effective date fo

[2022-02-11 19:12] severinbeauvais commented on #11177
ZenHub created 2 copies of this ticket... so I'm closing this one.

[2022-02-11 19:12] #11177 closed

[2022-02-11 19:12] lmcclung opened #11179 "NamexAPI: update list for "Use this name request" so it doesn't direct to OneStop"
#### Description

When a user clicks "Use this name request" for SP/GP name requests, they are redirected to OneStop.
Need to change this:
- [x] Registration NRs go to a draft registration filing in our app (Vysakh built this)
  - [x] Feature flag
- [x] Verify Change NRs don't have the option "Use this Name Request"

These changes are on NameX API.

[2022-02-11 19:14] forgeuxGH5 commented on #11170
I will look at adding something

[2022-02-11 19:15] severinbeauvais commented on #11178
This looks OK in Dev, so I probably just broke something locallly.

In Dev:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/d7a58cc3-0082-4f75-8a5d-af2f7a801026)

[2022-02-11 19:15] #11178 closed

[2022-02-11 19:15] #6577 closed

[2022-02-11 19:29] lekshmimallika-aot commented on #11092
@lmcclung Could you please verify this in PROD?

[2022-02-11 19:34] ozamani9 commented on #9228
1) I ran a query in TEST... the ones that were submitted and not changed (straight from Societies Online) the recent ones are all in DRAFT , so i believe it has been fixed.
![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/f6e60f7b-2f2f-4cfe-9dcb-c6dc5fcaf228)

2) verified in TEST that when editing a DRAFT NR, the status does not get set to consumed...

This work has alrea

[2022-02-11 19:59] tlebedovich commented on #7405
@jordiwes UXA for you the new folio field:

- [ ] please align the left edge of the field with the left edge of the individual debtor field
- [ ] intro text should be 16px and the text should move down to align with the text in the folio field

![Screen Shot 2022-02-11 at 11.58.48 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/864d37a3-2371-4662-bd85-4bf3d12fdb3a)

[2022-02-11 20:01] PatrickAHeath commented on #11071
Confirmed with client that amendments went through OK.  Closing issue.

[2022-02-11 20:01] #11071 closed

[2022-02-11 20:50] chdivyareddy opened #11180 "PPR Amendment Badge Issue"
- [x] When the base registration has 2 Individual Debtors with middle initial and user tries to file an Amendment to update the middle initials with full middle names ((**OKOLIE, JACQUELINE S** and **FOWLER, DANIEL D**) -> (**OKOLIE, JACQUELINE SARA** and **FOWLER, DANIEL DAVID**)), then the badge for first name (JACQUELINE) is displayed as _'**Name Changed**'_ and the _'**formerly**'_ name as exp

[2022-02-11 21:20] #9203 closed

[2022-02-11 21:20] #8124 closed

[2022-02-11 21:21] jyoti3286 commented on #2397
This will be taken care of by other teams if required. removing the relationship label

[2022-02-11 21:23] #7007 closed

[2022-02-11 21:26] mstanton1 opened #11181 "PPR Historical Search"
GIVEN I an BC Registries Staff
WHEN I receive a request for a PPR Historical Search (i.e. a PPR search for a criteria completed as of a date in the past)
THEN I can create an ops ticket for the request
AND the ops team has a query they can use to generate a historical search output for me

~User story
As a staff user
I want to complete a search against all registrations regardless of discharge or

[2022-02-11 21:28] tlebedovich commented on #10518
@jordiwes UXA - I combined Janis's notes and mine into the google doc and highlighted the items in blue highlighter (some new items came up after you made the recent changes). LMK if any are problematic to make happen for P1.

https://docs.google.com/document/d/1gVErzGRFqptHMZ_7mdOSOHTwn6aeXyPW2cWg_FIu1UI/edit?usp=sharing

[2022-02-11 21:39] mstanton1 commented on #10678
Discussed at PO Sync. Closing as the current account name is reflected which is sufficient.

[2022-02-11 21:39] #10678 closed

[2022-02-11 21:47] jyoti3286 commented on #10679
As discussed in PO sync, this is nice to have. Suggestions for future:
1. Map the Staff group in Keycloak and out that name in the drop-down above

[2022-02-11 22:06] zac-broitman opened #11182 "FAS - Improve UX of Filing Type Name selection"
**Description**
UAT showed that the majority of users had difficulty interacting with the Filing Type Name field. The main issues identified were that users had trouble understanding what they were supposed to enter in the field, and that users could not tell what the available options were.

This likely stems from the existing UI which has a user type into the blank field and suggestions are then

[2022-02-11 22:12] zac-broitman opened #11183 "FAS - Set RS Date field to default to the current day"
* As a FAS Admin
* I want the Date field of a Routing Slip to default to the current day
* so that I don't need to manually set it everytime since this is the most common scenario

**Acceptance Criteria**

**Scenario 1: xxxxxx**
* GIVEN ... that a user has access to create routing slips in FAS
* WHEN ... they open the create routing slip page
* THEN ... the Date field should default to the current

[2022-02-11 22:17] mstanton1 commented on #10118
@chdivyareddy are you able to test this? I suspect this can be closed.

[2022-02-11 22:24] zac-broitman opened #11184 "FAS - Supervisors can not approve their own Write-offs"
* As a supervisor
* I want to be unable to approve a write-off which I requested
* so that it can be ensured I do not fraudulently write-off funds

**Acceptance Criteria**

**Scenario 1: Supervisor A tries to approve their own write-off request**
* GIVEN ... the user is a Supervisor (Supervisor A) and they have requested a write-off for a given routing slip
* WHEN ... Supervisor A tries approve th

[2022-02-11 22:51] mstanton1 commented on #9534
@forgeuxGH5 this was last PI. We are starting 12. I'm assuming this can all just be closed but want to make sure if any work was done that the tickets are updated to reflect that.

[2022-02-11 22:51] stevenc987 opened #11185 "Update Options in the Entity Emailer to accept new options"
**Describe the bug in current situation**
New options from inprogress-update should accept this new options by the options in entity emailer

**Link bug to the User Story**
the emailer will be erroring out on the cloud messages send out from inprogress-update for new options. The options should be keep in the configuration file so the codes don't need to be changed when new options added.

**Impac

[2022-02-11 23:08] stevenc987 opened #11186 "Update Options in the Entity Emailer to accept new options"
Please refer to https://github.com/bcgov/entity/issues/11185 for more details

[2022-02-11 23:18] PatrickAHeath opened #11187 "PPR - Max field length edits are not active for Debtor fields"
When clients create a new registration, they can enter individual or business debtors.  Not all the fields have max length edits activated so clients are able to enter more data than the database allows without an error and the registration will not complete (with no error explaining why).

This issue came to light when staff had a client attempting to add an individual debtor with the trustee tit

[2022-02-11 23:25] #10118 closed

[2022-02-11 23:26] #3874 closed

[2022-02-11 23:28] trishreimer commented on #10824
Hi there, I added some comments and suggested changes.

Before we send:
- We need to connect with BCOL Admin as they are the ones that setup the accounts.
- Ensure our internal teams know we're sending this comm
- ensure they know who to go, if there are questions
- check in with BA ops, Cameron and others to see if there are any other reminders we want to communicate. Just recently, some staff re

[2022-02-11 23:36] forgeuxGH5 commented on #9534
@mstanton1 sorry misplaced modifier - "this" was meant to equal P1 11. I just wanted to see if Janis remembered any research I forgot about.

[2022-02-11 23:41] cwulff1 commented on #10824
@trishreimer That sounds like a great approach.  John and I are working on the support model for Services Card Accounts, BCeID accounts, Ministry Accounts, and Non-Gov Ministry Accounts next week.  I think once this is made clear it will be easier to identify who is responsible for what and who needs to go where to get things completed.

For the Ministry Accounts maybe we should say "An individual

[2022-02-11 23:47] Amitisp commented on #10732
Email to review the 'Total Discharge' video was sent to @olisaezeh @cwulff1 Debbie Blyth and Sharon Merlino.

[2022-02-12 00:07] tlebedovich opened #11188 "Design enhancements of BC Mail PDFs"
The following items remain for UX Assurance of the BC Mail version of the report PDFS:

1) See if we can get the large box lines on the edges to align with the smaller box above it
2) Some of the subheads and body text throughout the PDF is still using #313132 dark gray, when all text should be changed to pure black #000000. Please go through all text/headers/subheads in the report to update the t

[2022-02-12 00:08] magszymanski opened #11189 "Send email to PPR users informing them of refund for Expiry Date issue | Due: Feb 15"

[2022-02-12 00:08] tlebedovich commented on #11188
hi @mstanton1 - Looks like a couple items remain for design UXA of these PDFs - but this can be done after we sort out the fonts and get the reports going. Not a big priority but made a ticket so we don't forget to do it at some point.

[2022-02-12 00:09] #7941 closed

[2022-02-12 00:20] #11092 closed

[2022-02-12 00:33] magszymanski commented on #11189
Draft email to affected users: https://docs.google.com/document/d/1Gj9j_NiVTnny9aP0M3ZBzgIxGSsmlUSFi4CZwV7EOnw/edit?usp=sharing

We are waiting on the second of two lists of issues. [First list](https://docs.google.com/spreadsheets/d/1DlTUlj9T-LJjAjwbPqVsELgGsi7Ojx9E/edit?usp=sharing&ouid=109508011503764748857&rtpof=true&sd=true) has 64 unique accounts for a total of 402 affected searches.

[2022-02-12 00:50] forgeuxGH5 commented on #11170
I'm not sure if there are cases where pasting from something other than Word that would cause the issue, so I went with recommending a generic path that would not result in issues.

[2022-02-12 01:17] thorwolpert commented on #11185
It should NOT be getting messages from the inprogress updater.

[2022-02-12 01:17] #11185 closed

[2022-02-14 17:26] forgeuxGH5 commented on #9534
I think that was before Christmas - was that PI 11?

[2022-02-14 17:26] tlebedovich commented on #10625
@janisrogers - was this ticket assigned to you? and was there anything for me to do here?

[2022-02-14 17:56] #9250 closed

[2022-02-14 18:33] lekshmimallika-aot commented on #9922
I think this is already fixed. @riyazuddinsyed Could you please verify

Cc: @lmcclung

[2022-02-14 18:37] jdyck-fw commented on #11037
@chdivyareddy @forgeuxGH5 - Does this one need to be added to your spreadsheet?

[2022-02-14 18:41] jdyck-fw commented on #11133
@vysakh-menon-aot - is this still an issue, or has it been addressed through your current work?

[2022-02-14 18:45] jdyck-fw commented on #6689
@severinbeauvais - Cam verified and we believe this work is done. Please reopen if it's still needed.

[2022-02-14 18:45] #6689 closed

[2022-02-14 18:47] jdyck-fw commented on #6243
@pwei1018 - Can you please confirm if this has been done already and can be closed?

[2022-02-14 18:53] jdyck-fw commented on #5953
We believe this is out of date, @severinbeauvais pls speak up if not.

[2022-02-14 18:53] #5953 closed

[2022-02-14 18:54] #5736 closed

[2022-02-14 18:55] #5492 closed

[2022-02-14 18:56] chdivyareddy commented on #11097
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f0604e0e-a3c4-429a-87dc-47c731efa704)

[2022-02-14 18:57] jdyck-fw commented on #6201
Closing this as it was so long ago.

[2022-02-14 18:57] jdyck-fw commented on #5413
Closing this as it was so long ago.

[2022-02-14 18:57] #5413 closed

[2022-02-14 19:32] chdivyareddy commented on #11113
Hey @doug-lovett , can you please take a look at scenario2.

- [ ] In PPR outputs, move deleted general collateral sections above added general collateral sections.

**Current Behavior:** Added general collateral sections is displayed above Deleted general collateral sections.

**UI:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/77341f8c-308b-40e6-ade6-0bcbb10ea6ab)

[2022-02-14 19:33] Maribeth-Wilson opened #11190 "OCM - Client Support Process for BC Registry Accounts (account creation/login/payment options/etc.), Due Mar 31"
Draft client support process for BC Registry Accounts:
BCOL Admin & help desks require clear escalation instructions and a break down of “who does what” regarding client support for account creation, login, payment options, et c.
o	Document escalation instructions/breakdown of who does what
o	Cameron has prepared a PowerPoint to help with the discussion. You can find it at the bottom of this post

[2022-02-14 20:10] jyoti3286 commented on #11109
AS per the above comment, no further work is required.

[2022-02-14 20:10] #11109 closed

[2022-02-14 20:38] lmcclung opened #11191 "Onboarding Vikas Verma"
**Onboarding checklist for new team members**

**IDIR** VVERMA
- [ ] ~Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.~
- [ ] ~Submit to IT Operations Support. This form should be emailed to the Registries Executive Assistant. Currently this role is held by Michael Leung.~

-----------------

[2022-02-14 20:39] jinghualicgi commented on #10342
Hi Steph, this ticket has been in Review for a long time? @jordiwes

[2022-02-14 20:45] chdivyareddy commented on #11062
Hi @jordiwes , the above changes work as expected.

**Question** - When there is only 1 Vehicle collateral and the user deletes/removes it while Amending and tries to navigate to the next screen, then should there be a Validation to show them why they can't navigate to the next screen?
Expected Behavior for the Collateral is not included in this doc
https://docs.google.com/document/d/1B99Y2AmSSTRh

[2022-02-14 21:34] jyoti3286 commented on #10935
Estimated 3 as per the previous ticket

[2022-02-14 21:42] jyoti3286 commented on #10598
I think this one is done - Can we close this @zac-broitman

[2022-02-14 21:42] jyoti3286 commented on #10524
Not required

[2022-02-14 21:42] #10524 closed

[2022-02-14 21:44] zac-broitman opened #11192 "FAS - RS Creation Field Validation Updates"
From UAT Admin provided us with a handful of points to update on the field validation of the Routing Slip creation page

- Cheque date should be mandatory
- Routing Slip ID should only be numerical characters
- Amounts must be positive numbers
- Cheque amount should only accept numerical characters (and "." for decimals)

[2022-02-14 21:45] zac-broitman commented on #10598
Yeah, @rarya-freshworks seemed to confirm from his testing everything has been working with CAS so I think this is fine to close.

[2022-02-14 21:46] jyoti3286 opened #11193 "Identify Production Users and their role post go-live"

[2022-02-14 21:48] jyoti3286 commented on #9323
UAT is concluded and all the issues are summarized

[2022-02-14 21:48] #9323 closed

[2022-02-14 21:49] #9191 closed

[2022-02-14 21:54] trishreimer commented on #8481
What is the status of this form? @sienna-blumstengel @gprimeau

[2022-02-14 21:56] trishreimer commented on #11079
Did this get completed? Can I move to done?

[2022-02-14 21:56] trishreimer commented on #10169
Did this get completed? @gprimeau

[2022-02-14 21:59] trishreimer commented on #10375
Can we move this to done and then create tix for any other tasks that may be needed to support the FAS go live? This tix was for internal awareness.

[2022-02-14 22:00] trishreimer commented on #10036
Did this get completed @gprimeau @sienna-blumstengel

[2022-02-14 22:01] #8736 closed

[2022-02-14 22:11] sienna-blumstengel commented on #10036
in progress!

[2022-02-14 22:13] trishreimer opened #11194 "Create communications to announce all changes that will be implemented in May/June for Business Registry - Due Feb 23"
Hi Team,
As noted on rocket chant, could we please coordinate with each other this week and draft communications to create awareness with all stakeholders re: Business Registry Search, Firm Reg and maintenance filings,  Firm Individual Index Search, API's, turn off SOFI filings, ACBC transaction for firms and OneStop.

We will need to combine messaging for these changes into one communication for

[2022-02-14 22:13] sienna-blumstengel commented on #8481
Final stages of review, should be done very soon!

[2022-02-14 22:24] trishreimer commented on #11194
Could you please send me the draft comms by Thursday, so we can start to publish on Friday? Please include the audience and location the message will be posted.

Could you please ensure this activity is also noted in each of your communication and engagement plans for each of the releases (firms registration & maintenance filings/OneStop; Business Search, etc.).

I realize there will be overlap on

[2022-02-14 22:29] doug-lovett commented on #11113
Changing the order in the report is not in this ticket's description.

[2022-02-14 22:38] Amitisp commented on #11194
@magszymanski @fareenr @SuzDane
Suzanne's OneStop draft comm. can be a starting point.
https://docs.google.com/document/d/1Ug5fOor3drzG7iEPIKXoC78r_2x_SuU1/edit?usp=sharing&ouid=116338265612276580086&rtpof=true&sd=true

[2022-02-14 22:45] Amitisp commented on #11194
@trishreimer are ALL stakeholders the audience for this communication? Partners, influencers, all support channels, and end-users?

[2022-02-14 22:56] trishreimer commented on #11194
yes, all stakeholders and all channels. The goals is to ensure we've done at least one broad sweep of all people to ensure there is general awareness that all things are changing at one time.

Some stakeholders are already aware (i.e., partners), so if this is the case, nothing more to create awareness may be needed.

When we post to the gov website, bcol apps, and other public sites, our audience

[2022-02-14 22:57] trishreimer commented on #11194
Here are some key messages that may help.
We will need to add messaging for Business Search, Firm Individual Index, etc..

https://docs.google.com/document/d/16P5Jv0y8jCODQNOusqdnda5pYr_os2Ohv4P1863eV4c/edit

[2022-02-14 23:04] kialj876 commented on #10901
@chdivyareddy this is ready to be retested in dev! I think we got everything

[2022-02-14 23:07] chdivyareddy commented on #11062
@jordiwes , can you please take a look at this scenario:

- [ ] When a user clicks for the first time on the 'Amend' button (for any modal) without finishing tries to click on the 'Review & Complete' button, then “< you have unfinished changes” error messages under the Review and complete button does not appear.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e1b5babf-e

[2022-02-14 23:09] chdivyareddy commented on #10901
Sure Kial, will take a look!

[2022-02-14 23:10] ozamani9 commented on #10999
@severinbeauvais i will make sure its on our next NR release.

[2022-02-14 23:16] ozamani9 commented on #11111
@cameron-freshworks did you already do this on ticket 10922 for name request??

![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/88207dd2-51d5-4ed3-a126-73296e9aa497)

[2022-02-14 23:17] zac-broitman commented on #10375
Yes, I think if this was specifically meant for internal awareness then it should be fine to close at this point.

[2022-02-14 23:29] janisrogers commented on #9466
@mstanton1  We need to fairly quickly implement this so that staff can search for registrations discharged in the new system more than 30 days ago. (we will soon have been live for 30 days)

[2022-02-14 23:29] trishreimer commented on #10381
@zac-broitman do we need to create any guides, update onenote procedures or provide any other job aides to support staff for FAS?

[2022-02-14 23:35] trishreimer commented on #10926
@sienna-blumstengel do we need to add something to the website re: business summaries?

[2022-02-14 23:39] #7909 closed

[2022-02-14 23:39] #6965 closed

[2022-02-14 23:41] zac-broitman commented on #10381
This is a topic I'm planning to discuss during my weekly meeting with the business leads on Wednesday. Cameron and I have discussed with them that we are using UAT as a sort of Train the Trainer session as well, so ideally we will identify any areas which require training materials through it. I should be able to provide an update after our session on Wednesday.

[2022-02-14 23:43] #9677 closed

[2022-02-14 23:43] #10189 closed

[2022-02-14 23:44] cameron-freshworks commented on #11111
@ozamani9 Hey sir, i did indeed!
At the time i believe it was version `38` but has since been updated it looks like :)

[2022-02-14 23:45] trishreimer commented on #10374
I think this is a duplicate...closing.
but please open if that is not the case.
@zac-broitman

[2022-02-14 23:45] #10374 closed

[2022-02-14 23:46] trishreimer commented on #10373
Hello, Have we created an info note to ensure exec are aware of FAS: another mainframe app that is being modernized?
Target date for completion: right before go live. End of March (?)

[2022-02-14 23:47] ozamani9 commented on #11111
@cameron-freshworks ok, so maybe i should update it version 39 on a seperate P.R.

[2022-02-14 23:48] #11152 closed

[2022-02-14 23:55] janisrogers opened #11195 "Large Searches not completing"
#### Describe the bug in current situation
Large reports are timing out

#### Impact of this bug
Clients are unable to get their searches, and Doug has to generate them in the back end. In most cases, there is no error displayed.
In some cases, the criteria can be selected, the info icon is displayed, but the search never completes (if the API times out more than 4 times I think) Ops ticket 464
In

[2022-02-15 00:15] rkim13103 commented on #11182
@zac-broitman We could implement what PPR is doing for "Start a new Registration" field. A dropdown with different categories. However this design will only work if there are various filing types that we could categorize. If there is less filing types or if we can't categorize each filings we could make it as a simple dropdown + when users type the drop down will filter down based on what the user

[2022-02-15 00:17] janisrogers commented on #10625
@tlebedovich No, sorry wrong column. I have moved it to ready for dev

[2022-02-15 00:25] severinbeauvais commented on #10774
Oh, I think I know what this is...

0.9583333333333333 days is 1 hour less than a full day. This is likely because the expiry date (or today) is when we spring forward or fall back one hour.

The easiest way to fix this will be to round the value to the nearest whole day.

[2022-02-15 02:30] chdivyareddy commented on #10901
Please take a look at these scenarios, thanks!!

- [ ] Filtering by child registration number (Amendments/Renewals/Discharges) with lower case (Eg: 100609b), displays the history in a closed state.

**When filtered by lower case:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b0fe97c3-d788-440d-afa2-d12a4ef371e3)

**When filtered by upper case:**
![image.png](https://

[2022-02-15 15:14] vysakh-menon-aot commented on #11133
@jdyck-fw this is not fixed

[2022-02-15 16:04] jinghualicgi commented on #11189
Mags, I noticed this ticket don't have assignee, I assume this is your ticket and add your name :) @magszymanski

[2022-02-15 16:23] #9897 closed

[2022-02-15 16:27] #9898 closed

[2022-02-15 16:52] lmcclung commented on #8300
@argush3 sent you outputs from COLIN that had party info.

[2022-02-15 16:55] trishreimer opened #11196 "Schedule meeting w/ALF"

[2022-02-15 17:09] magszymanski commented on #11079
Hey @JohnamLane , can you look this over? This needs to go into the User Guide as we didn't have a section on how to reset an authenticator, especially when a user switches computers to access the BC Registry app.

I think I got it right but would appreciate a review.

https://docs.google.com/document/d/12Scv9cK4e-dnkkGv2qnDbS0UdVD4Zilq/edit?usp=sharing&ouid=109508011503764748857&rtpof=true&sd=tru

[2022-02-15 17:57] #9901 closed

[2022-02-15 17:59] magszymanski opened #11197 "Update Modernization Page to reflect PPR is now available"
Hi Gen, could you please update the Modernization site to reflect that new PPR is now available?

https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization-updates

1. Modernization blurb:

**Currently the opening wording is** "BC Registries and Online Services is completing a multi-year initiative to replace and improve registr

[2022-02-15 18:01] pwei1018 opened #11198 "Member access/permission review"
Review the team member access/permission of our products from the following list

https://docs.google.com/spreadsheets/d/1ya6VTTVhGbzXoYhqxd9f4Fly8snRJtH6Tehmecntva8/edit?usp=sharing

- [x] Github
- [x] Zenhub
- [x] Openshift
- [ ] 1password
- [ ] Launchdarkly
- [ ] Sentry
- [ ] hotjar
- [ ] Browserstack
- [ ] Keycloak ( who has admin role )
- [ ] Rocketchat ( optional )

Requirements:

- [ ] Remo

[2022-02-15 18:07] mstanton1 opened #11199 "Print Version of PDF Verification Statements font change"
In the TEST PDF's sent to BC mail for print job testing were generating with the first 6 pages of the output using the wrong font (DejaVu) and the remaining pages using Calibri. This results in pages using DejaVu being less readable.

The BC Mail print outputs for PPR should be generating using Calibri for all pages.

[Screen Shot 2022-02-11 at 3.56.38 PM.png](https://images.zenhubusercontent.com/

[2022-02-15 18:08] ozamani9 commented on #10774
![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/031edcd2-b530-40ee-b951-b2bf0b509c06)

[2022-02-15 18:11] mstanton1 opened #11200 "BC Mail Print Version text color"
BC Mail Print outputs for PPR use grey halftone for some text items and straight black for others.

All instance of the dark grey text (313132) should be updated to pure black (000000) so outputs read better and are more clear.

[2022-02-15 18:15] fareenr commented on #10929
Initial draft of MHR change impact assessment in progress.  Draft saved in Change Plans/ MHR folder here:
https://drive.google.com/drive/folders/1d6Tt_72td-6jKWQA2TCKwvLKUzS1VC6r?usp=sharing

[2022-02-15 18:29] mstanton1 commented on #11200
Closing. Tracey has covered this in 11188.

[2022-02-15 18:45] #10020 closed

[2022-02-15 18:45] magszymanski commented on #9873
@trishreimer can we repurpose this ticket for Business Search? Corporate supervisors are one of the key groups that Linda identified for Search so I think there is benefit engaging Ljuba in getting the legal community set up in time for May.

[2022-02-15 18:47] #8956 closed

[2022-02-15 18:48] jinghualicgi commented on #8956
Covered by other tickets

[2022-02-15 18:48] jinghualicgi commented on #10020
We don't need this task now

[2022-02-15 19:20] mstanton1 commented on #11199
@jinghualicgi FYI I've added this to the sprint for when time allows. This is to clean up BC Mail prints.

[2022-02-15 19:25] lmcclung opened #11201 "Identify Changes/Impacts to legacy apps/processes"
### Goals of this Theme
- [ ] Create SP/GP registration and maintenance filings in the Business Registry
- [ ] Create a Business Search on the Business Registry.  It will be available to all users and will retrieve tombstone information for ALL entity types.  CP, BEN, SP & GP ledger outputs and business summaries will be available for purchase and download.  Messaging to indicate going to BC Onlin

[2022-02-15 19:34] jinghualicgi commented on #11146
As discussed in our standup, have provided our solution to client, waiting Telnet's confirmation.

[2022-02-15 19:41] jinghualicgi commented on #11110
As discussed in our standup, @mstanton1 @chdivyareddy can you please take a look at Kial's question? Thanks

[2022-02-15 19:44] mstanton1 commented on #11110
@PatrickAHeath has confirmed that this was not submitted through a 3rd party API. Expected behavior is that once discharged status should show discharge and the only option in the button should be 'Remove from Table' as shown in Kial's screenshot above.

@bfbowles will verify if there are any other impacted registrations.

[2022-02-15 19:55] lekshmimallika-aot opened #11202 "Future Effective Alteration filing not displayed in the dashboard"
### **Describe the bug in current situation**
Filed a **FED alteration**. The payment went through and status of the filing is PAID in the database. It is being returned from API as well. It is not present under the Filing History in the dashboard

**Identifier BC0870743** in DEV

### **Impact of this bug**
Bad

### **Chance of Occurring (high/medium/low/very low)**
High?

### **Steps to Reproduce

[2022-02-15 20:12] mstanton1 commented on #11087
Upping priority to P1 as this is preventing amendments for legacy registrations missing address data.

[2022-02-15 20:13] ozamani9 commented on #10774
ready for QA

[2022-02-15 20:28] KevinB-gbc commented on #11110
I have started a conversation with Kim on the legal status (effectiveness; validity) of the affected registration. I really don't know.

[2022-02-15 21:10] KevinB-gbc commented on #11110
On review of a PDF search result report for registration 750728I (provided by Patrick) which was discharged 18 Jan then amended and renewed on 8 Feb, Kim and I agree that the registration is invalid and the proper action is for the registering party to re-register registration 750728I per PPSA 35(7) and PPSR 59. We expect the same advice to apply to any other registrations renewed or amended post-

[2022-02-15 21:32] yuisotozaki commented on #11123
@tlebedovich Is the subheader at the top supposed to be the name of the form (e.g. application, registration, etc.) rather than the business type?
![image.png](https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/fc7a2328-1c89-4dad-8ffb-67a018acbe82)

If the subheader is behaving properly, then this ticket is RFQA.

[2022-02-15 21:35] mstanton1 commented on #9418
Ability to sort on user name, search value etc is being brought up routinely with staff.

[2022-02-15 22:05] tlebedovich commented on #11123
@yuisotozaki The words "Registration" and "Incorporation Application" should appear after the entity type BEFORE the filing has been completed (to show that these aren't actual registered companies yet). "Registration/Incorporation Application" titles are dropped once the filing is completed and we only show the entity type at this point. So the screenshots above look accurate to me.

[2022-02-15 22:21] yuisotozaki commented on #11123
Thanks @tlebedovich! Moving to RFQA.

[2022-02-15 22:38] #10848 closed

[2022-02-15 22:38] #10847 closed

[2022-02-15 22:38] #10846 closed

[2022-02-15 22:38] #9340 closed

[2022-02-15 22:41] lmcclung commented on #9340
not needed.

[2022-02-15 22:42] lmcclung commented on #10846
ticket not required.

[2022-02-15 22:44] lmcclung commented on #10847
closed as ticket not needed.

[2022-02-15 22:53] trishreimer commented on #11159
Can we include this info as key messages for the internal BCOL user communication @magszymanski -

once you get the emails from David, this would be sent to all internal ministry gov users that use PPR and Business Registry services.

This info could be included as key messages, in addition to firms and search being modernized. We should ask if any internal users may be using automation, robotics,

[2022-02-15 22:55] #7059 closed

[2022-02-15 22:59] chdivyareddy commented on #10432
Hi @jordiwes , the current behavior in DEV is as follows: please take a look, thanks!!

**BCOL Help:**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/7651df93-c5d8-4596-a973-1dbe74d1a90a)

**BC Registries Staff**: Patrick mentioned above that the Registering Party name and address for PPR Staff is pulled from Party Code 9990003?
![image.png](https://images.zenhubuserco

[2022-02-15 23:11] zac-broitman commented on #11192
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/11192?planning-poker) with ZenHub @rarya-freshworks @saravanpa-aot @shabeeb-aot @karthik-aot

[2022-02-15 23:17] zac-broitman commented on #11183
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/11183?planning-poker) with ZenHub @karthik-aot @rarya-freshworks @saravanpa-aot @shabeeb-aot

[2022-02-15 23:26] Amitisp commented on #11194
@trishreimer @SuzDane @magszymanski @sienna-blumstengel @lmcclung @fareenr

Initial draft: https://docs.google.com/document/d/170Ql_JthurMg8g-vlGJKC53uxcsffs0E/edit

BCOL landing page: https://docs.google.com/presentation/d/1dLCxjHcyLdEKBOwljIr_TsKH_xCfz76q/edit?usp=sharing&ouid=116338265612276580086&rtpof=true&sd=true

[2022-02-15 23:27] zac-broitman commented on #11167
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/11167?planning-poker) with ZenHub @karthik-aot @rarya-freshworks @saravanpa-aot @shabeeb-aot

[2022-02-15 23:27] Amitisp commented on #11194
The location for the above 2 docs.: https://drive.google.com/drive/folders/1BJ___-BL9fbDwsT1RIq0uLH0ksm7Fqzh

[2022-02-15 23:35] sienna-blumstengel commented on #11194
**BCOL announcements AND BCOL application homepage** - messaging might be different, they might already have an account. Might add different people to their team for the people that use corporate search. We will eventually be phasing out drawdown and everyone should set up PAD. + everything else
**Corporate Online** - Corporate Search and modernized SP GP filings
**SOFI** - Corporate Search and mo

[2022-02-15 23:53] zac-broitman commented on #11167
Need to break this into smaller tickets to fit into our sprints

[2022-02-16 00:00] zac-broitman commented on #11184
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/11184?planning-poker) with ZenHub @karthik-aot @rarya-freshworks @saravanpa-aot @shabeeb-aot

[2022-02-16 00:42] chdivyareddy commented on #11062
Hi @jordiwes , the above change is not working as expected. Please take a look, thanks!!

**Current Behavior in DEV:** When user deleted/removes last Vehicle Collateral if there is no GC.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f933b38f-d79b-4852-9302-a7689cf92ff4)

- [ ] When the user clicks on Amend button for Vehicle Collateral and changes nothing, tries to c

[2022-02-16 16:31] janisrogers commented on #7405
- [ ] please align the left edge of the field with the left edge of the individual debtor field
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/6a7efc7e-4c3e-4efc-b44b-8bb13a8448b9)

- [ ]  when you hit the enter key can we have the focus move out of the box (like it would if you click outside of it)?

[2022-02-16 17:12] jordiwes commented on #7405
Hi @janisrogers , I discussed with Tracey that if I make the folio number box any smaller, it cuts off the label inside. Where would you like focus to go when the user clicks enter?

[2022-02-16 17:15] janisrogers commented on #7405
Just outside (like it would if you clicked out of the box). I just think it is confusing that if you hit enter, it stays there (and looks like it didn’t work).

[2022-02-16 17:20] SuzDane commented on #11194
Draft OS communication for external stakeholders – includes:
https://docs.google.com/document/d/1Ug5fOor3drzG7iEPIKXoC78r_2x_SuU1/edit

1.	NEW CMS Page (Obj: A page to capture changes to OS and impacts for all external stakeholders)
2.	Announcement for Modernization “Updates/Announcements” page
3.	Announcement for existing OneStop SP/GP CMS page
4.	Announcement for OneStop application page
5.	Anno

[2022-02-16 17:31] severinbeauvais commented on #9245
### Test Note

The following were implemented or updated:
1. Folio Number component (updated)
2. Name Request Info component (updated)
3. Business Addresses component (new)
4. All routes (pages) for Incorporations, Dissolutions and Registrations (updated - smoke testing should be OK)
5. Most components used by all filings (updated - smoke testing should be OK)
6. Registration Define Business page

[2022-02-16 17:32] ozamani9 commented on #8558
I added the jurisdiction number to the Request Header, and for Transaction History i added the jurisdiction name and number to the header.

![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/569a22ad-5b43-4770-85ef-d219d97f3dfd)

![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/039be6c3-4be0-43cc-ac11-3c1309e29258)

[2022-02-16 17:39] #10623 closed

[2022-02-16 17:39] mstanton1 commented on #10623
Closing as this was completed in 8684.

[2022-02-16 17:43] #9503 closed

[2022-02-16 17:44] tlebedovich commented on #7405
@janisrogers - I was ok leaving the text field slightly longer (bugs me a little but fully functional) - seemed like the quickest way. Having the text a smaller size would also look a little off too.

[2022-02-16 17:44] jinghualicgi opened #11203 "API - PPR Lien for Unpaid Wages and all crown charges - Collateral updates"
General collateral is required. Vehicle collateral is optional.

[2022-02-16 17:44] chdivyareddy opened #11204 "PPR Registration - Secured Party modal switching Issue"
- [ ] When the user tries to switch between the Secured Party (Individual Person -> Business, by entering the Individual person details), and clicks on the Done button without entering Business Name, then the error validation message under Business Name "Please enter a business name" doesn't display.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/25fc36ef-5724-409b-9bf

[2022-02-16 17:45] jinghualicgi opened #11205 "UI - PPR Lien for Unpaid Wages - Collateral updates"

[2022-02-16 17:53] mstanton1 commented on #8620
This has been completed.

[2022-02-16 17:53] #8620 closed

[2022-02-16 17:55] mstanton1 commented on #8625
Closing as there has been some enhancement in the recent search result changes.

[2022-02-16 17:55] #8625 closed

[2022-02-16 17:59] magszymanski opened #11206 "Update PPR and Modernization CMS webpages"
Kim Willey proposed changes to PPR webpage and mod page. Mags and Gen worked to update this.

1.	Update to the modernization page https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization-updates - currently the opening wording is "BC Registries and Online Services is completing a multi-year initiative to replace and improve reg

[2022-02-16 18:30] gprimeau commented on #10166
@magszymanski @mstanton1
For your review
[https://app.zenhub.com/files/157936592/f71e7bde-2ecd-49f9-b60d-51af2cb66b30/download](https://app.zenhub.com/files/157936592/f71e7bde-2ecd-49f9-b60d-51af2cb66b30/download)

[2022-02-16 18:39] Maribeth-Wilson opened #11207 "Schedule monthly info sessions"
Schedule Monthly info sessions

- [x] Ask Carol for her availability, same time/day each month until June
- [x] - Include a Q&A section in each session
- [x] - Topic: account set up and transition
- [x] - Use Google meetings
- [ ] - Get YouTube channel info - on hold, pending STRA results

[2022-02-16 18:42] Maribeth-Wilson opened #11208 "OCM - Google platform work"

[2022-02-16 18:42] PatrickAHeath commented on #9764
Combined Lien for Unpaid Wages changes with 10162.

[2022-02-16 18:45] kialj876 commented on #10869
No that doesn't effect anything (the code blocks it even if you manage to press it multiple times before the loader shows up)

[2022-02-16 18:52] chdivyareddy commented on #10796
Hey @doug-lovett , Now the 'Days to Expiry' displays 360 days when the renewal is done on the same day of registration (Expected Behavior). But, the Expiry dates of New Expiry in the History (February 10, 2023 at 11:59:59 pm Pacific time) and the Current Expiry (February 11, 2023 at 11:59:59 pm Pacific time) doesn't match. Can you please take a look, thanks!!

**UI Table:**
![image.png](https://im

[2022-02-16 18:53] trishreimer opened #11209 "Schedule Ministry Info Session - transition, q&a and the products/services - due by March 1st."
session:
- transition
- q&a
- new and existing services
- keep it small
- check with Jyoti and John to see who will present and other possible topics
- Check with Wendy and team - clients trying to get set up (what are the challenges)

[2022-02-16 18:58] argush3 commented on #8300
Verified incorrect ledger display names and IA output related fixes in DEV.  Note that the ledger display fix does not only cover BEN>LTD.  It essentially covers all types of business type alterations.  For verification of the fix in DEV, https://dev.bcregistry.ca/business/BC0870871 is an example of a business that had a business type(LTD>BEN) alteration and had incorrect display names for the IA

[2022-02-16 19:13] chdivyareddy commented on #11113
Verified!

**PDF Output:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/3ba8bbf6-a585-4c4d-9811-da8dea1fd464)

[https://app.zenhub.com/files/157936592/72781443-f366-42da-9996-c4eba3786a1f/download](https://app.zenhub.com/files/157936592/72781443-f366-42da-9996-c4eba3786a1f/download)

[2022-02-16 19:52] Maribeth-Wilson opened #11210 "OCM - WEB: MHR Website issue"
Sandra, from BC Reg emailed the engagement mailbox on Feb 15th with the following issue:

From: BC Registry Services CITZ:EX <bcregistries@gov.bc.ca>
Sent: February 15, 2022 12:26 PM
To: Registries & Online Services Engagement CITZ:EX <BCREG.Engagement@gov.bc.ca>
Subject: MHR WEBSITE

Hi all – not sure if this is the right place to go.. but we desperately need our Courier address and information p

[2022-02-16 20:39] rarya-freshworks opened #11211 "[FAS] - NSF amount not correct"
**Description:**
When a RS is set to status as NSF currently the amount balance goes into negative of the total amount for RS was originally created. Upon Linking another RS to make a payment + $30 service charges for NSF RS the balance after calculation is not correct.

**Steps:**
1.) Create and/or find RS with NSF status that is not linked to another RS.
2.) Create and/or find RS that is in Acti

[2022-02-16 21:14] chdivyareddy commented on #10901
- [ ] Legacy Registrations doesn't display child registrations on the UI

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/07b7444f-c5a9-451a-b80c-0311fce2606a)

Eg: Search Report of **3039811**:
[https://app.zenhub.com/files/157936592/cc8785be-4c89-4be1-aece-369b82a792e0/download](https://app.zenhub.com/files/157936592/cc8785be-4c89-4be1-aece-369b82a792e0/download)

[2022-02-16 22:20] tlebedovich opened #11212 "UI Design - Let Staff start new Registrations + Give Staff access to user's Entities, Manage Account and Business Registry Table"
### Staff Dashboard Updates:

From the Staff Dashboard a Staff user, needs to be able to:

1. Access Individual Entities (already exists)
2. Access a user's My Business Registry table (add 3rd option to the dropdown to go direct to user's My Business Registry)
3. Manage Account a user's BC Registries Account  (fix bug where "Manage Account" goes to their My Business Registry instead of User's acco

[2022-02-16 22:23] tlebedovich commented on #11212
@lmcclung Here is the first Design ticket to update Staff Access - I put it in Design Grooming

[2022-02-16 22:33] tlebedovich opened #11213 "UI Design - Update Add Existing Business/Name Request + Forgot Password Flow for Corps/Coops/SP/GP"
Both Staff Users and Regular Users need the ability to:

1. Add an existing Corp/Coop/GP/SP business manually to a user's My Business Registry table (modal needs updating)
2. Add an existing Name Request manually to a user's My Business Registry table (modal needs updating)
3. Retrieve a forgotten password/passcode (flow is broken for Corps/Coops and non-existent for SP/GP)
4. Optional: update an

[2022-02-16 22:37] tlebedovich commented on #11213
@lmcclung - Here is the other design ticket to update the flow for adding a business or name request to a user's My Business Registry table and retrieve a forgotten password/passcode so this works for Corps/Coops/ and SP/GP

[2022-02-16 22:42] tlebedovich commented on #10263
@yuisotozaki @lmcclung - I added mention of us needing to send users a password/passcode to be able to add their SP/GPs to their My Business Registry table manually if needed.

[2022-02-16 23:08] magszymanski commented on #10166
@gprimeau I made some consistency changes and comments: [https://app.zenhub.com/files/157936592/baa41fa5-f117-49da-9ac1-64bba8424dd9/download](https://app.zenhub.com/files/157936592/baa41fa5-f117-49da-9ac1-64bba8424dd9/download)

[2022-02-16 23:14] magszymanski commented on #10169
@mstanton1 @gprimeau  I made changes to this one directly to the Doc so that you don't have to.

[https://app.zenhub.com/files/157936592/ed1fd507-5f6f-4dc4-a83a-ba78d19e28a0/download](https://app.zenhub.com/files/157936592/ed1fd507-5f6f-4dc4-a83a-ba78d19e28a0/download)

[2022-02-16 23:28] magszymanski commented on #10166
@mstanton1 @gprimeau
I just sent this procedure and procedure for forms 6, 7 (ticket 10169) for Debbie and team to look over before Gen posts to CMS. Melissa, no action for you - I feel confident in our updates to the doc and Sharon can have the final pass.

Thanks

[2022-02-16 23:29] magszymanski commented on #10169
With Debbie/Sharon for Review now before Gen can post to CMS

[2022-02-16 23:37] magszymanski commented on #10912
@gprimeau can we link the resources page to the [PPR page](https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/bc-registry-services-personal-property-registry)? So that users who want to learn how to use the PPR app can have a direct link to the Resources page to see videos and guides and not have to go digging for them? Thoughts?

Maybe in Related Links at the bott

[2022-02-17 00:01] mstanton1 opened #11214 "Show hidden characters in the UI for general collateral and details description"
Multiple instances have arisen where clients copy and paste into PPR and special characters are carried over. However, those characters do not show so a registration/amendment/discharge/renewal may fail OR the registration/amendment/discharge/renewal processes and the output is impacted in a way such that it cannot be properly read.

Update the UI to show hidden characters when included so clients

[2022-02-17 00:22] Maribeth-Wilson opened #11215 "OCM - Non-Ministry Government Accounts - PI12 Work"

[2022-02-17 00:25] yuisotozaki commented on #10398
@tlebedovich I've converted the design to dual output. Invision is up to date.

[2022-02-17 00:30] Maribeth-Wilson opened #11216 "OCM - Schedule Non-Ministry Info Session - transition, q&a and the products/services"
- transition
-  q&a
- new and existing services
- keep it small
To reach internal/ministry clients:
- posting a message to the BCOL message board
- David/Bob - query to identify all internal users - mass mailout
- Jyoti, John Cameron, Linda, Melissa

[2022-02-17 00:30] Maribeth-Wilson opened #11217 "Schedule Non-Ministry Info Session - transition, q&a and the products/services"
- transition
-  q&a
- new and existing services
- keep it small
To reach internal/ministry clients:
- posting a message to the BCOL message board
- David/Bob - query to identify all internal users - mass mailout
- Jyoti, John Cameron, Linda, Melissa

[2022-02-17 00:32] mstanton1 opened #11218 "API - Secured Parties are not showing on the registration table for a draft"
Secured Parties are not showing on the registration table for a draft:

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/450091cf-8149-4411-a6a4-4351b438083e)

[2022-02-17 00:36] #11216 closed

[2022-02-17 17:18] #10093 closed

[2022-02-17 17:21] ozamani9 commented on #11111
Verified in DEV:
![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/fcca68ba-a22d-4113-ae90-e0d43960974e)

Ready for QA

[2022-02-17 17:22] trishreimer opened #11219 "Document process to post to BC Gov website - Modernization Updates and Announcements (only)"

[2022-02-17 17:26] trishreimer opened #11220 "Document processes to post to BCOL Announcements & BCOL Message Board"

[2022-02-17 17:33] #9721 closed

[2022-02-17 17:33] #10999 closed

[2022-02-17 17:36] sienna-blumstengel opened #11221 "Update Co-op Annual Report Filings"
### Description
We need to make some updates to co-op ARs.
1. Clients can indicate “no meeting held” as of Jan 1st of the next calendar year (don't have to wait until may 1st)
2. If a client selects "no meeting held", the AR is effective as of December 31st, 11:59pm of the calendar year of the AR.
**NOTE: Amber & Cameron are sending a decision note to Carol to decide if we are going to stop collec

[2022-02-17 17:37] trishreimer commented on #11194
I'm reviewing and updating this now.

[2022-02-17 17:39] sienna-blumstengel commented on #11221
Task number 2 is already captured in #10911
Should we work on it in that ticket, or this one?

[2022-02-17 17:44] mstanton1 commented on #10789
Updated ticket from 'BETA' Badge to a 'NEW' Badge.

[2022-02-17 17:50] mstanton1 opened #11222 "VERIFY Discharge race condition"
Only one draft is allowed on a registration for an account.

Verify what happens if:
1) Two accounts add the same registration
2) Both accounts start discharges
3) One account submits their discharge
4) Second account submits discharge draft on already discharged registration

[2022-02-17 17:55] #11123 closed

[2022-02-17 17:55] #9519 closed

[2022-02-17 17:56] #11134 closed

[2022-02-17 18:11] ozamani9 commented on #11154
@jinghualicgi this can be closed.  Released into Prod.

[2022-02-17 18:12] ozamani9 commented on #8178
@jinghualicgi this can be closed

[2022-02-17 18:14] jinghualicgi opened #11223 "SRE Regular Tasks During Sprint 12.1+12.2 (Feb9-Mar8)"
This ticket is for any normal daily SRE routine tasks and/or other SRE tasks which NOT have an epic.
We are trying to capture this part of SRE effort where previous is missing.

#### Eve's tasks and effort
- i.e. TaskA: 2 Days during 12.1+12.2
- i.e. TaskB: 2 Days during 12.1+12.2

#### Richard's tasks and effort
-
-

#### Omid's tasks and effort
- Monitored Entity Emailer had to restart pod on tw

[2022-02-17 18:15] ozamani9 commented on #5739
@jinghualicgi this has been migrated to PROD.   please close

[2022-02-17 18:16] gprimeau commented on #10912
@magszymanski
Changes have been changed

https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization-updates/modernization-resources#ppr

https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/bc-registry-services-personal-property-registry

[2022-02-17 18:19] #9231 closed

[2022-02-17 18:19] #9190 closed

[2022-02-17 18:21] sienna-blumstengel opened #11224 "Conversion Filing - SP GP"
### Description
Historically called "Conversion" filing, we are going to rename it to "Data Conversion" filing.

This filing was used in legacy systems to bring over data from other legacy systems/paper documents.

If data is missing from the current system, they go to the paper records or legacy system and check if the data is there. If it is, the conversion filing is used by staff to enter the d

[2022-02-17 18:26] trishreimer commented on #10929
I'm reviewing this now. Thanks!

[2022-02-17 18:38] jinghualicgi commented on #10922
@lmcclung Linda, this ticket has been added in **"SRE Name Request UI 12.1 Release"** , SRE Team will release Names Request UI part

[2022-02-17 18:50] chdivyareddy commented on #10901
**Current Behavior:**

- [ ] When the user selects custom dates from Feb 15 - Feb 17, 2022, then the child registrations are also selected in a collapsed state, but also the child registration from previous date is selected i.e Feb14

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/098d41af-0164-403d-a2dd-26678b46e848)

![image.png](https://images.zenhubusercontent.com/6

[2022-02-17 18:52] ozamani9 commented on #7087
@jinghualicgi Migrated to PROD. please close ticket.

[2022-02-17 18:54] sienna-blumstengel opened #11225 "LEGAL API - Change of Registration Application Output template"
- [ ] Build new output that **only displays what was changed as part of the filing**, kind of like an alteration notice output
- [ ] Update header of output to "CHANGE OF REGISTRATION APPLICATION" (for SP and GP)
- [ ] Postman!
- [ ] Unit tests!

This ticket is blocked by the RFC  #11244

[2022-02-17 19:05] zac-broitman commented on #11211
@jyoti3286 Rai and I discussed setting the RS to -30 but my concern there is what would happen if somehow that routing slip was refunded or written off. I don't think there is any way from a functional side to do that since an NSF status RS should not be able to be refunded or written off but just a risk if somehow this happened in an error. It may be a small enough risk to accept though.

[2022-02-17 19:08] lmcclung commented on #10843
@jinghualicgi this can be closed.

[2022-02-17 19:24] doug-lovett commented on #10901
Yes, that is expected behaviour. All the change registrations for a base registrations are included. From the change registration that is within the timestamp range, the base registration is found, then all the changes for that base registration.

[2022-02-17 19:40] #11186 closed

[2022-02-17 19:43] zac-broitman opened #11226 "FAS - Checksum for Routing Slip ID"
The routing slip IDs need to fit a specific numerical format which ensures they are a valid routing slip and not just a number made up by the user. This is done through a checksum formula, which uses the last digit as a check digit. This should be added as a layer of field validation on the Routing Slip ID field.

The formula is as follows
- Using the first 8 digits of the routing slip
- For every

[2022-02-17 20:00] magszymanski opened #11227 "Create Google Forms to capture what BCOL services clients use in prep for upcoming releases"
Google Forms will be incorporated into communications to gain a better understanding of which services our clients use and to identify high-volume users. Comms include BCOL announcements, email blasts, mod updates, info sessions, etc.

https://docs.google.com/forms/d/15XuOU2hhwN3WdVGGU4n4JShRpjxd55i7RXt_ibhMzSc/edit

-----------------------------------------------------
BC Registries and Online Se

[2022-02-17 20:30] chdivyareddy commented on #10901
- [ ] Registration types of Amendment (Eg: Collateral Substitution, Secured Party Trasfer, Collateral addition, Debtor Transfer) doesn't display in the history of base registration for legacy registrations (which are not from my account)

Eg: Base Reg **290865L**: The registration type 'Secured Party Trasfer' is missing in this example

![image.png](https://images.zenhubusercontent.com/60cd147b900

[2022-02-17 20:48] jinghualicgi commented on #11188
Adding bug tag, so we can triage this in bug triage meeting

[2022-02-17 20:50] karthik-aot opened #11228 "Approve/Reject an already rejected BCeId user is failing"
**Describe the bug in current situation**
Approve/Reject an already rejected BCeId user is failing.
![image.png](https://images.zenhubusercontent.com/6019adf278444774e61ecf92/93ce5089-d4dc-41ca-9979-f04d6da4b9e2)
Behind the screens, there is filter to get affidavit by user and filter out INACTIVE affidavits. We may need to add REJECTED condition as well.

[2022-02-17 21:00] jordiwes commented on #11110
I have put this bug ticket in ready for qa, ,because we have not been able to duplicate this behavior... perhaps it has been fixed since the issue occured

[2022-02-17 21:42] Maribeth-Wilson opened #11229 "Create Intake Form for PPR issues, due Mar 4"
In order to provide a more focused process for tracking/resolving PPR issues, an an intake form is required. We have reached out to Janis and Patrick for their recommendations on form design and content.

Janis has created a draft document, which is available here: https://docs.google.com/document/d/1J2d0xXL7cyLbre2mRsSIc0yaomXZWTQExXKEyuys6o8/edit

Questions:
1.	do we need both an intake form and

[2022-02-17 21:45] doug-lovett commented on #10901
This may be a UI issue, I see the code and description in the API response for 290865L:
    "changes": [
      {
        "baseRegistrationNumber": "290865L",
        "clientReferenceId": "",
        "createDateTime": "2019-11-26T17:37:43+00:00",
        "expireDays": 1078,
        "lastUpdateDateTime": "2019-11-26T17:37:43+00:00",
        "path": "/ppr/api/v1/financing-statements/290865L/changes/9

[2022-02-17 21:48] Maribeth-Wilson opened #11230 "Set up Zenhub for quick visibility of issues/resolution"
- [x] Setup a view in Zenhub for staff, to see issues in the backlog, in progress, done.
- [x] provide Zenhub training for staff
- [ ] plan to launch in time for next large release

[2022-02-17 21:51] jdyck-fw commented on #307
@thorwolpert or @pwei1018 - Any idea if still is still needed, or i this ticket can be closed?

[2022-02-17 21:57] #420 closed

[2022-02-17 21:57] kialj876 commented on #10901
Does secured party transfer ever show up currently? The UI is looking for the api type 'AT', but it looks like it should be 'ST' from what you have there Doug?

[2022-02-17 21:57] jinghualicgi commented on #11111
@lmcclung @pwei1018 can we release Namerequest UI part in our coming SRE NameRequest UI Release? By that time, some applications/features listed in this tickets  may not all been finished. Please let me know if you have any objections, otherwise we combine the NameRequest UI code change in SRE coming release (probably next week) Thanks

[2022-02-17 21:59] #249 closed

[2022-02-17 22:30] jdyck-fw opened #11231 "Colin-api / Oracle-dev/for-api: need to reset password of db"
Richard doesn't know what this was supposed to be for, closing.

[2022-02-17 22:31] jdyck-fw opened #11232 "Colin-api / Oracle-dev/for-api: needs to handle special chars / underscores / wrong postal codes in addresses (otherwise BN triggers fail)"

[2022-02-17 22:31] jdyck-fw opened #11233 "Colin-api / Oracle-dev/for-api: reset endpoints don't work for test env for incorporation and needs fix"
**Reset endpoints** - "Reset the changes in COLIN made by cooperative" We think it resets the filing or something.

**Questions:**
- At what point does it reset to? Before they started filing?

We have decided to close this until the issue resurfaces. We don't see a need for this ticket at the moment.

[2022-02-17 22:31] jdyck-fw opened #11234 "Colin-api / Oracle-dev/for-api: MRAS stuff is only in ctst not in our dev oracle (need to have dev still work without mras stuff)"

[2022-02-17 22:51] jdyck-fw commented on #11191
As Linda mentioned in chat, Vikas's access is now in place, and so closing this ticket.

[2022-02-17 22:51] #11191 closed

[2022-02-17 23:21] Maribeth-Wilson opened #11235 "OCM Google drive - due Aug 8th"
- [x] determine Google drive set up/structure
- [ ] - meet with OCM team to ensure all are aware of where files are located, process for uploading/creating/sharing docs
- [ ] - document Google drive processes and communicate to users
- [ ] - include best practices info (check with Sienna and other team members for input)
- [ ] - create user guide based on above (best practices, FAQs)

[2022-02-17 23:56] lmcclung opened #11236 "Verify: Alterations in PROD"
Was Entities 12.1 released, the following prod entities need to be verified...

As a part of #8300, a lot of data fixes were made to prod data
- [x] BC1302455,
- [x] BC1314465, - BEN to BC
- [x] BC1313261 - BEN to BC
- [x] BC1291871, - BEN to BC
- [x] BC1335321, BEN change of name only
- [x] BC1208638, - BC to BEN
- [x] BC1310050  - BC to BEN - we purposely suppressed these outputs until we get ou

[2022-02-18 00:02] lmcclung commented on #8300
Ticket 11236 created for verifications.

[2022-02-18 00:07] lmcclung commented on #8300
@riyazuddinsyed @argush3  is there anything needing testing in Dev/Test before I can move this to closed?

[2022-02-18 00:12] lmcclung commented on #11111
@jinghualicgi yes, updating Names UI isn't dependent on the others.

[2022-02-18 00:12] chdivyareddy commented on #10796
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/730e4b14-79ef-44f0-b94f-4449b530387c)

**PDF Output:**
Renewal:
[https://app.zenhub.com/files/157936592/b219ece3-0235-431a-b711-9599b9850e34/download](https://app.zenhub.com/files/157936592/b219ece3-0235-431a-b711-9599b9850e34/download)

[2022-02-18 00:16] argush3 commented on #8300
@lmcclung there is one test @riyazuddinsyed can test in DEV.  He can verify the ledger item for an IA(https://dev.bcregistry.ca/business/BC0870871) as per my last comment above.  Basically what I point out in the screenshot.  Once he confirms that we can verify everything else in the 11236.

[2022-02-18 00:59] tlebedovich opened #11237 "Certify Component not pulling in user's name, error not allowing Vol Dissolution filing completion"
P1 - Can't complete a Voluntary Dissolution in DEV (please test on TEST and PROD)

Found a Certify component bug in Voluntary Dissolution when logged in as a a regular or premium

I tried with user BCREG0041 in DEV (Super Title Search) - 0870827 BC LTD -

The Certify name field on Step 4 is uneditable, but not pulling in the user name - instead it just says “Legal name of authorized person”. For n

[2022-02-18 00:59] tlebedovich commented on #11237
@lmcclung - can't currently complete a voluntary dissolution in DEV with this bug. Not sure if its also in TEST and PROD.

[2022-02-18 01:11] chdivyareddy commented on #10432
Verified!

**BC Registries Staff:**
Reg No: **256340N**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a5061bbb-6db7-4656-9f34-af9afded65e5)

[2022-02-18 01:13] tlebedovich commented on #10945
@yuisotozaki - were there supposed to be email layouts in this ticket too?

[2022-02-18 01:26] tlebedovich commented on #11237
@severinbeauvais - just tagging you here to confirm this starts working again once you push your recent updates to DEV. I'm off tomorrow - could you please close this ticket for me if it is no longer an issue tomorrow. 🙏

[2022-02-18 01:40] tlebedovich commented on #10789
@forgeuxGH5 @mstanton1 - I just added a screenshot with a NEW tab added to the BCROS page - with this all we needed for this ticket now?

[2022-02-18 02:35] magszymanski commented on #9741
@mstanton1 @jinghualicgi This item has been completed - I was in communication with the PPR Alpha Group in PI 11 to set them up for testing. This ticket is DONE :)

[2022-02-18 02:41] magszymanski commented on #9745
Done as part of the last PPR usability testing on November 26, 29, Dec 1.

DONE :)

[2022-02-18 02:42] magszymanski commented on #9747
Done as part of the last PPR usability testing on November 26, 29, Dec 1.

DONE :)

[2022-02-18 02:42] #9747 closed, assigned to nobody

[2022-02-18 02:42] #9745 closed, assigned to magszymanski

[2022-02-18 02:42] #9746 closed

[2022-02-18 02:43] #9741 closed, assigned to magszymanski

[2022-02-18 02:46] #9748 closed, assigned to magszymanski

[2022-02-18 02:57] magszymanski commented on #9534
Yep, that was PI 11. I've closed all tickets w/ notes relevant to the work I've done. Access Control and Account Creation were not part of the work I've done.

[2022-02-18 16:39] chdivyareddy commented on #11068
**Current Behavior:** When a different account id is added to the URL in ppr, then the dashboard started reloading and back to the same logged-in user, it did not redirect to the account id provided.

Is this the expected behavior? can you please confirm, thanks!!

[2022-02-18 17:42] #11200 closed

[2022-02-18 17:48] jmills-cgi opened #11238 "Entity: Sprint 12.2 Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Add version # and release # to this ticket
- [x] Update version number in the code being released
  - [x] Filings UI - 4.3.20
  - [x]  Create UI - 3.4.4
  - [x]  Edit UI - 2.0.4
  - [x]  Lear - 2.38.0
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in

[2022-02-18 17:51] #8997 closed

[2022-02-18 17:51] mstanton1 commented on #11195
Most cases so far have been retrieving MR Motors which has over 3000 results. Work will be completed to address search algorithm changes to prevent retrieval of MR Motors when not applicable.

[2022-02-18 18:01] #9786 closed, assigned to trishreimer

[2022-02-18 18:02] fareenr commented on #10817
18-Feb - Jyoti confirmed new target date for this release is Mar 1 (tentative, dependent on testing by all teams on bug fix for navigating between products and services for multiple account users (ie. breadcrumb fixed to use most recent Account ID instead of orig login acct)

[2022-02-18 18:04] mstanton1 opened #11239 "Improve search algorith matching MR Motors"
Improve search algorithm matching to avoid the frequency when MR MOTORS shows up when it shouldn't.

One potential approach is to look at the common word use with MOTORS. Removal of motors may resolve this.

[2022-02-18 18:04] zac-broitman commented on #9929
Covered by OCM tasks

[2022-02-18 18:04] #9929 closed

[2022-02-18 18:04] trishreimer commented on #11159
In addition to the key messages above, e also need to ask them for the admins so we can invite the admins to the account.

We should also post a separate message on BCOL message board. I'll create a separate tix for that work.

[2022-02-18 18:06] mstanton1 commented on #11239
Work for Bob.

[2022-02-18 18:10] sienna-blumstengel commented on #4781
This ticket is to:
- [ ] Investigate whether the fields listed above display in UTC or pacific timezone
- [ ] If there is a mismatch between the user's time and pacific time, create a ticket to fix it. Tell Linda so she can put it in a sprint.

[2022-02-18 18:11] severinbeauvais commented on #4781
**Guidance to developer looking at this:**

In our UIs, date should be stored in one of 2 format:
- a Javascript Date object (which in UTC internally)
- a yyyy-mm-dd string (which is "Pacific" date)

The date mixins that create a JS Date should be used (do no use `new Date()`).
The date mixins that convert JS Date to Pacific should be used for display.
Use the API reference datetime as needed.
You

[2022-02-18 18:12] jinghualicgi commented on #11072
Hi John, we discussed this in Asset meeting, we don't have much more to provide. Please help to improve general error message handling, especially to avoid returning 500 Internal Server Error, thanks @JohnamLane

[2022-02-18 18:16] trishreimer opened #11240 "Post message on BCOL message board for Internal Ministry gov users by March 17"
please post short message to BCOL message board for internal users. - - search is changing - do you use robotics or automation? we need to know who the admins are to access search and firms. link to announcement for details.

See details here:
https://app.zenhub.com/workspaces/ocm-team-space-5db37ce273e8f70001d9e2b1/issues/bcgov/entity/11159

Message to be posted:
BC OnLine IDIR (or ministry gover

[2022-02-18 18:17] argush3 commented on #10595
this is a duplicate.  work done in another ticket already.

[2022-02-18 18:17] #10595 closed

[2022-02-18 18:18] sienna-blumstengel commented on #6168
We will look at this in PI 13

[2022-02-18 18:18] lmcclung opened #11241 "UI Design - how to display Alerts (Not in Good Standing etc) on Dashboard Table + Entity pages (Business Registry + Search)"
### Visual Design Comps:

**As Appears in Business Registry App:**
https://projects.invisionapp.com/share/6S130ETLTVRC#/screens?browse

**As Appears in Business Search App:**
https://projects.invisionapp.com/share/B4130ETODUXZ#/screens?browse

---------

**Alert Section rules:**
- Hide the Alert section entirely if there are no current alerts for the business

-----------

**Alert icon colour rule

[2022-02-18 18:20] trishreimer commented on #11209
I created a couple of tix for the ministry/internal communications.
it would be great if we could have one date for the info session scheduled for a ministry session in March so we can include this in the communication.

[2022-02-18 18:28] #10183 closed

[2022-02-18 18:29] #10182 closed

[2022-02-18 18:29] #9866 closed

[2022-02-18 18:33] JohnamLane commented on #11072
@jinghualicgi Without specifics, I will once again request that Doug and Saravan work together to determine which errors are missing and which ones are needed moving forward. I have moved this to grooming.

[2022-02-18 18:33] severinbeauvais commented on #11237
@lmcclung @jdyck-fw

This reproduces in Test environment.

See VD for https://test.bcregistry.ca/business/BC0952229 (BCREG0020 / Ministry of Cheese).

[2022-02-18 18:39] mstanton1 opened #11242 "Data Review"
Pull data model from DB2
Review data to understand quality of data (e.g. 80% of address data doesn't include Country in appropriate field)
Decide if DB2 data will be cleaned.

Advocette (Ali) has a good understanding of the current data. Omid may add value to learn about this. Note, there are only a couple hundred thousand rows.

[2022-02-18 18:43] chdivyareddy commented on #11062
Hi @jordiwes , the validation error message (Design Example) added by Tracey above^^ doesn't appear when there is 0 GC and deletes the last Vehicle Collateral. Can you please take a look, thanks!!

**Current Behavior:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/68d9c8b5-6225-4f6d-aa39-b1fb290e29f4)

[2022-02-18 18:45] #8668 closed

[2022-02-18 18:51] #10589 closed

[2022-02-18 18:52] trishreimer commented on #10018
Discussions underway.
Decision note in progress.

[2022-02-18 18:59] lmcclung opened #11243 "Consistency Check: Add/Delete/Changed/New/Updated labels across Entities & PPR"
Identify how labels are used.
At component level, at party level, at address level.

- [x] Director Changes
- [x] Address Changes
- [x] Alterations
- [x] IA Correction
- [x] SP/GP Change (Under design)
- [x] PPR Secured Party

[2022-02-18 19:03] sienna-blumstengel opened #11244 "RFC - Refactor how we generate application-type outputs"
### Description
We are going to refactor the way we generate application-type outputs.

The reports are always generated on the fly, we don't have a base to compare with, this sometimes make the diffs break and show things that were not changed.

We need to reconsider the design of how we get the data.

[2022-02-18 19:06] trishreimer opened #11245 "Review and update SBC Regional Office Job Aides - SP/GP Registration, Maintenance"
SBC call centers will support SP/GP reg and maintenance filings for clients who come to the regional offices.

Current: SBC submits paper registration form to BC Registries on behalf of client
Future: SBC will support clients in registering and maintaining SP/GP registrations.

Their [job aids](https://intranet.gov.bc.ca/thehub/service-bc/service-delivery/service-delivery-job-aids/corporate-regist