[2021-12-16 21:20] zac-broitman opened #10493 "FAS - Excel Export of Search Results"
Potential feature brought up by stakeholders, need to determine feasibility and effort of this. This may work well as a workaround for any reporting requests or supporting certain business processes. This came up when discussing a potential need to search based on a range of balance values.

* As a FAS user (potentially all types)
* I want to export the results of a search
* so that I can perform

[2021-12-16 21:24] zac-broitman commented on #10473
The business areas were not aware of any scenarios that resulted in refunds to come back with errors. Any error scenarios they are aware of happen after CAS would have created the cheque (for example a wrong address).

[2021-12-16 21:35] jdyck-fw commented on #10491
If this turns into more than a 1, bring it back to the team.

[2021-12-16 21:40] jdyck-fw commented on #10455
@lmcclung  - This one sounds to not be a bug, curious for your thoughts on what to do with it.

[2021-12-16 21:44] jdyck-fw commented on #10452
@sienna-blumstengel setting this as a p2, please comment if you think it should be higher.

[2021-12-16 21:45] jdyck-fw commented on #10186
@riyazuddinsyed will look into this today as part of regression.

[2021-12-16 21:49] jdyck-fw commented on #6262
Leaving this for your review in triage when you return @lmcclung

[2021-12-16 21:55] Maribeth-Wilson commented on #9679
I will update the BC Registries App user guide with the BCeID additional admin details  by Dec 17

[2021-12-16 21:57] JohnamLane commented on #10466
@sumesh-aot Are you able to provide any background in the description to explain why these fee codes are needed and will be tied to a specific payment type? It's my understanding that the client applications will not need to concern themselves with payment type.

[2021-12-16 22:08] PatrickAHeath commented on #10013
@jinghualicgi Met with Mags and Fareen on Monday.  Demo'd the application for all the scripts.  Fareen will be recording the videos.

[2021-12-16 22:25] sumesh-aot commented on #10466
@JohnamLane Our system uses one Fee Code in BCOL per product. When a fee code is created in BCOL, the GL code and other information are also linked to that fee code in mainframe. We normally request a fee code per product (1 for Business Registry, 1 for PPR, 1 for each partner etc.) so that any DRAWDOWN transactions from the new system can be put to appropriate Fee code on BCOL, and there by add t

[2021-12-16 22:35] forgeuxGH5 commented on #9530
That looks pretty good to me.

@tlebedovich?

[2021-12-16 22:49] tlebedovich commented on #9530
hi @severinbeauvais - agreed on the title bar. Please confirm the AA text colours as I can't tell from your screenshot:

all text and default field text colour is 495057 (except for the deactivated fields)
default radio buttons and check boxes are 495057
entered field text colour is 212529

[2021-12-16 23:01] severinbeauvais commented on #10491
We found in the IA for `BC0870720` that:
- offices.recordsOffice.mailingAddress does not have deliveryInstructions
- offices.recordsOffice.deliveryAddress does not have deliveryInstructions
- offices.registeredOffice.deliveryAddress has `deliveryInstructions = ""`
- offices.registeredOffice.deliveryAddress does not have deliveryInstructions

The above JSON is valid according to the current [addres

[2021-12-16 23:04] severinbeauvais commented on #10491
Above, we are assuming that delivery_instructions in the address_version table should not be null.

[2021-12-16 23:08] argush3 commented on #10491
As it currently stands, address creation on the backend goes through a common [function](https://github.com/bcgov/lear/blob/11e7810c1b286ef50858dba353b0438b3b8f5266/queue_services/entity-filer/src/entity_filer/filing_processors/filing_components/__init__.py#L40-L56).  From some very brief analysis, the `deliveryInstructions` field in the `address` table can end up with a null value when the `deliv

[2021-12-16 23:27] tlebedovich commented on #9205
Answers from Catherine Carlson:

- Something in (non-voluntary)dissolution process (D1, D2, etc.) BC0801846, BC0800883 – both in D2F
- Something in the process of registration being canceled (equivalent of dissolving an xpro, i think?) A0076567 – This EP is in D1F
- Limited restoration BC0712119

A company must be active to be in receivership.  Here is a company in receivership:  BC0678112

I’m no

[2021-12-16 23:28] olisaezeh commented on #10013
@jinghualicgi  Amitis has now been assigned to this task and she will be working with @PatrickAHeath and @mstanton1 in recording the videos

[2021-12-16 23:41] lekshmimallika-aot opened #10494 "Store completing party, incorporator etc against a filing"
In the db, the completing party, incorporator and a few other parties are stored against the business. These should be stored against a filing

Cc: @thorwolpert

[2021-12-17 00:08] tlebedovich commented on #3821
@stevenc987 I have created a number of different design comps showing different components that can go into these Business Summaries. Have a look through. I'm still waiting to do an example that shows Liquidator/Receiver components. And we may decide to combine the Convert Into and Transformation Into sections into one component since they are both showing a company change from one entity type to

[2021-12-17 00:19] mstanton1 commented on #10488
Adding myself so I can monitor and provide client updates. D&D has escalated, but it appears the issue is mitigated.

[2021-12-17 00:27] tlebedovich opened #10495 "Create UI: Show Voluntary Dissolution panel expanded on default when returning user to their entity page"
When a user files and pays for a voluntary dissolution, they get redirected back to their entity dashboard. Since the dissolution is a final and important step, we should display the Voluntary Dissolution panel expanded by default, instead of collapsed, so they can see the confirmation statement.

Display expanded by default, like this:

![Screen Shot 2021-12-16 at 11.02.07 AM.png](https://images.

[2021-12-17 00:29] tlebedovich commented on #10495
c/c @forgeuxGH5 @yuisotozaki - as an fyi - it felt weird as a user to file and pay to dissolve a company and not have the Voluntary Dissolution panel defaulted to open on the entity dashboard.

[2021-12-17 00:42] tlebedovich opened #10496 "Uber BC Registries dashboard errors for IDIR"
IF I am logged in with my IDIR (TLEBEDOV)
AND I go to the BC Registries Uber Dashboard
AND click the "My Business Registry" tile
 THEN I see this error page:

![Screen Shot 2021-12-16 at 4.39.03 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/beae9434-244b-4b02-b22e-2c8276b4b694)

IF I am logged in with my IDIR (TLEBEDOV)
AND I go to the BC Registries Uber Dashboard
AND click

[2021-12-17 00:43] tlebedovich commented on #10496
@chdivyareddy - just logged this

[2021-12-17 01:11] chdivyareddy commented on #10112
Hey @jordiwes ,
- [ ] For SBC Staff - The Registering Party Modal displays "No Registering Party obtained from user Account Information." and the modal disappears when the "Cancel" button is clicked. Please refer the screenshot:

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/8a956ff8-a40d-4935-bc1d-111cfca64eef)

[2021-12-17 01:30] tlebedovich commented on #10091
To Review with Janis:

**NOTE: There are many global UX/Design updates needed to Amendments, including Repairers lien, which are in design ticket: https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/9152**

**UXA updates specific to just Repairers Lien Amendment:**

Screen 1

- [ ] content components in DEV do not match UX Pin @janisrogers - which is co

[2021-12-17 01:33] severinbeauvais opened #10497 "Legal API: versioning issue in business version table"
A business in Prod filed an alteration to change from a Numbered company to a Named company.

Due to a versioning issue in the business version table, the business did not see any detailed information in their alteration notice.

Patrick did a datafix for this business, but the conditions leading to this have not been fixed. That is what THIS ticket is for.

(Also I think there should be a NOA pro

[2021-12-17 01:34] severinbeauvais commented on #10497
@pwei1018 Please add any details you can about what you found.

[2021-12-17 01:35] tlebedovich opened #10498 "Multiple Errors - cannot complete a Registration or Amendment"
(in DEV User BCREG0018)

WHEN I am creating a new Repairers Lien Registration (or any Registration or Amendment with Vehicle Collateral)
AND I have added Vehicle Collateral and typed in a Make or Modal name that is extra long
AND I finish all the steps and click the "File and Pay" button
THEN I see this error:

![Screen Shot 2021-12-16 at 5.30.03 PM.png](https://images.zenhubusercontent.com/5e1cd2

[2021-12-17 01:36] chdivyareddy opened #10499 "PPR Registration - Internal Error Occurs While Registering/Submitting a Saved Draft"
- When trying to edit a saved draft and register, then the internal error occurs and stops the user from 'Register & Pay'

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c15dd0af-62cf-4a5d-a005-0e921fe3fd2b)

**Expected Behavior:**
User should be able to edit the saved draft and register without any internal error.

**Console Error:**
![image.png](https://images.zenhubu

[2021-12-17 01:36] tlebedovich commented on #10498
@chdivyareddy @mstanton1 - logged this major bug and linked to Go Live - remove if its a duplicate.

[2021-12-17 04:26] jinghualicgi commented on #9009
Hi, this is waiting entities's QA before release, thanks @riyazuddinsyed
CC: @lmcclung @sienna-blumstengel

[2021-12-17 08:22] rarya-freshworks opened #10500 "GOVM Account throwing 400 Error"
**Description:**
When a GOVM account has been created and invite has been sent to gov email address, upon accepting the invite when user is trying resolve the error showing for account details incomplete he is not able to save the data and also not able to navigate to other options for payments, products & services and so on.

**Steps:**
1.) Create a GOVM/Ministry account and send the invite
2.) A

[2021-12-17 08:24] rarya-freshworks commented on #10479
Created a bug for GOVM account
https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/10500

[2021-12-17 15:00] vysakh-menon-aot commented on #9329
These filing are not handled in this ticket as its not handled in schema. We need to consider this while implementing these filings in lear.

[2021-12-17 15:12] jinghualicgi commented on #10222
@mstanton1 Melissa, is this ticket duplicated with **"Error Handling Use Cases and Actions#6925"**? Thanks

[2021-12-17 15:14] jinghualicgi commented on #9438
We don't have PRD yet, will leave this ticket later then verify

[2021-12-17 15:18] jinghualicgi commented on #10428
@chdivyareddy Divya, can you verify this? Or we can discuss in today's bug triage. Thanks

[2021-12-17 15:33] jinghualicgi commented on #10289
@Maribeth-Wilson Maribeth, I think the info session has been done, just some follow-up questions. If yes, probably we can move this to Done?

[2021-12-17 15:38] PatrickAHeath commented on #10314
Included draft of website updates in description.

[2021-12-17 16:35] #9925 closed

[2021-12-17 16:50] jordiwes commented on #10112
We are addressing the registering party stuff in ticket 10430.

[2021-12-17 16:58] yuisotozaki commented on #10495
Would this be the same issue for other filings? I'm wondering if the weirdness is coming from the cognitive mismatch between the action just taken and the dashboard content not being immediately clear of the result.
To me, it feels odd that the FILED AND PAID part is in such a light grey. In fact, it doesn't pass AA contrast check.
If FILED AND PAID line is in our regular #212529 colour, the users

[2021-12-17 16:58] mstanton1 commented on #10004
@tlebedovich we have not yet created tickets for this. Jinghua has created a discussion for grooming topics so I added it there to keep it on our radar. Looks like we can tackle that along with some go-live bucket tickets next week.

[2021-12-17 17:17] forgeuxGH5 commented on #10495
There was an idea (maybe a ticket) way way back (like from Co-ops annual report filing - the first thing we ever did) - to show ALL filings as expanded on immediate return to the dashboard.

The visual design of the dashboard is about 2 years old - it needs an overhaul but it hasn't been prioritised.

[2021-12-17 17:26] sumesh-aot opened #10501 "Add filter by paid date to transaction reports"
### Description
Add filter by paid date to transaction reports

Work to include query optimization for both the UI query and the report generation.

[2021-12-17 17:28] mstanton1 commented on #10222
@jinghualicgi they are different error scenarios. The linked design covers things like browser back, close browser, network connection drops. Janis has shown a modal from entities vs what we are currently displaying. 6925 is mostly failure within our app like get search failed, get PDF failed. Both are needed but I'd think 6925 would be a slightly higher priority.

[2021-12-17 17:36] jinghualicgi commented on #10498
@tlebedovich Tracey, we cannot duplicate this error.

[2021-12-17 17:39] jinghualicgi commented on #10496
@mstanton1 Melissa will find someone to verify this

[2021-12-17 17:44] mstanton1 opened #10502 "PDF Output for searches on long business names"
When a search is done by business debtor and the business name is long the Business Debtor section of the PDF does not expand to fit the full business name so part of the business name overwrites search details in lighter blue below.

Example:
![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/f112508f-fcd6-4b3f-a9d4-342baaa415f4)

[2021-12-17 17:46] severinbeauvais commented on #10453
This is a duplicate of #10454 - closing it.

[2021-12-17 17:46] #10453 closed

[2021-12-17 17:47] sienna-blumstengel commented on #9037
If Argus doesn't finish this in time before vacation, just need to coordinate with the home team to:
- Create co-op and bcomp and dissolve them (in test)
- Run the COLIN Updater manually (openshift command) or wait for it to run
- Git hometeam to confirm MRAS messaging works
  - I don't think there is mras messaging for co-ops, check bens

[2021-12-17 17:47] jinghualicgi commented on #10359
Duplicated with Registering Party, Secured Parties and folio are not showing on Registration table for a draft#10402

[2021-12-17 17:47] #10359 closed

[2021-12-17 17:47] forgeuxGH5 commented on #10495
Recommendations from our initial usability study:![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/24f08a02-3998-44e9-bb44-ba6a75b91ea6)

[2021-12-17 17:48] sienna-blumstengel commented on #9034
If Argus doesn't finish this in time before vacation, just need to coordinate with the home team to:
- Create co-op and bcomp and dissolve them (in test)
- Run the COLIN Updater manually (openshift command) or wait for it to run
- Git hometeam to confirm orgbook messaging works

[2021-12-17 17:53] jinghualicgi commented on #8417
Will follow-up with Thor Dec17 or Dec20 with Kaine

[2021-12-17 18:17] sumesh-aot commented on #9390
Lot of unknowns on Job:
- Which AP job to use. Based on [this](https://fin.sp.gov.bc.ca/sites/OCG/CFS/Projects/Documents/CGI%20Payment%20Image%20%28PI%29%20to%20CGI%20AP%20Invoice%20Layout%20Mapping.pdf) there are multiple AP jobs.
- Test values for Distribution ACK, supplier, supplier location, distribution vendor number etc.
- Is all comment lines (10 lines) going to be part of cheque advice?
-

[2021-12-17 18:21] severinbeauvais commented on #10491
See Rocket Discussion: https://chat.developer.gov.bc.ca/channel/siikBvdRg5SQpi5bH?msg=uptomLN3Z8mnzBNnu

[2021-12-17 18:33] chdivyareddy opened #10503 "Renew/Amend/Discharge - Debtor Names Caching Issue"
- Remove caching for the confirm registration to be Renewed/Amended/Discharged modals.

- From the screenshot below, "TEST & PARTY FAVOUR PARTY SERVICE" Debtors are from one registration and "BROADWAY ROOFING CO. LTD." is from different registration.

![DebtorDropdown.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b4ae2509-99cf-49fd-b29c-c6fb128635a3)

[2021-12-17 18:59] mstanton1 commented on #8417
@jyoti3286 has your team looked at this previously? It seems like this started with the thought your team would do the work and then went in a circle landing again on your team. Can you size and provide an idea of when it could be implemented?

PPR has noticed some issues with outputs, e.g. PDFs wrapping, that may be resolved by using the appropriate font. The team also noted that we are required

[2021-12-17 19:02] severinbeauvais commented on #10491
In the RC discussion, we determined that the best path forward is to simply allow "null" for deliveryInstructions in the address schema (and rebuild the BE components as needed).

Accordingly, I have updated this ticket's title. I also bumped up the estimate to account for time already spent investigating and discussing this.

[2021-12-17 19:06] chdivyareddy opened #10504 "PPR Registration - Registering Party on Step4 Should Always be Pre-Populated"
**Describe the bug in the current situation:**
The Registering Party on the Review and Confirm (step4) is not pre-populated when the user directly goes to step4. But, when the user visits step2 first and then navigates step4 then the Registering Party is pre-populates on step2 and step4.

**Impact of this bug:**
Medium

**Chance of Occurring (high/medium/low/very low):**
Medium

**Pre Conditions:*

[2021-12-17 19:07] severinbeauvais opened #10505 "Verify - Legal API: invalid addresses should not be allowed for COA filings"
In #10491, a COA was filed that contained "null" deliveryInstructions fields, which at the time was not acceptable according to the addess schema. This ticket is to investigate why schema validation did not cause this filing to be rejected upon File and Save.

Address schema (at time of filing): https://github.com/bcgov/business-schemas/blob/c770459509eeb8dcd67265f4674f972ab7a66363/src/registry_sc

[2021-12-17 19:49] jinghualicgi commented on #9815
@doug-lovett Hi Doug, are you working on this? Any update?

[2021-12-17 20:00] severinbeauvais commented on #10478
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/45b94b9c-d6e3-4966-ba89-85bf0d339b33)

[2021-12-17 20:25] chdivyareddy commented on #10061
Hey @jordiwes , small change - there is no "Note" for "NIL search" as there will be '0 registrations found'.

Please refer to the screenshot above for NIL Search Results:

Current Behavior:

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f126acb2-a535-4b3e-9f44-c6ab2a6ef773)

[2021-12-17 21:21] chdivyareddy commented on #10224
Renewal will be verified in #10223 because of data loading issue.

[2021-12-17 21:34] mstanton1 commented on #10496
@tlebedovich I tried to reproduce using my IDIR with @chdivyareddy and experienced some issues with flows being incorrect but did not hit the error page above. Can you go through the steps you took for this with screensharing with @chdivyareddy please?

[2021-12-17 21:43] mstanton1 commented on #10496
Tested with Divya. The issue is arising when an account has not yet been set up. I.e. IDIR for TLEBEDOV isn't set up in the modernized registry.

Although this is confusing, it can be put in post go live. Adding a high priority flag though so we don't miss it in that bucket.

[2021-12-17 22:13] forgeuxGH5 commented on #10113
still seeing the staff payment modal, then the validation error (unselected authorization checkbox) - the checkbox validation should show red, and the staff payment modal shouldn't be displayed until I check the box.

[2021-12-17 22:24] fareenr commented on #9682
17-Dec - drafted OneNote updates, especially for Adding a 2nd Admin page and reviewed with Olisa

[2021-12-17 22:25] fareenr commented on #10371
17-Dec - incorporated Melissa and Zac feedback and changes.  Reviewed final copy with Olisa who will send out final email next week (after demo and user guide with screenshots are ready)

[2021-12-17 22:28] forgeuxGH5 commented on #9004
I can't actually trigger the 75 exact match version (can't find anything that has that many exact matches) but the 75 total matches version looks OK

[2021-12-17 22:37] fareenr commented on #10315
17-Dec - drafted announcement blurb, plan to discuss with Mags and Maribeth on Mon Dec 20 to clarify where this update needs to go

[2021-12-17 22:38] jinghualicgi commented on #9848
Remove OnHold Tag, input has been provided

[2021-12-17 22:40] fareenr commented on #9689
17-Dec - Olisa to organize with Wendy at regularly recurring stand-up.  Zac to demo additional Admin

[2021-12-17 22:42] jinghualicgi commented on #10036
@sienna-blumstengel Hi Sienna, is this task can ben done before your vacation? Or we need to postpone deadline? Thanks

[2021-12-17 22:47] jinghualicgi commented on #9400
Hi Sienna, do we need to change to a new due date? Or add a comments for latest status? Thanks @sienna-blumstengel

[2021-12-17 22:47] fareenr commented on #10372
17-Dec - this was just assigned to me today. Who can I talk to find the current Maximus knowledge base.  They will receive the internal communication email with steps on how to add additional admin

[2021-12-17 22:59] chdivyareddy commented on #10115
The registering party for SBC Staff will be addressed in ticket #10430

[2021-12-17 23:03] fareenr commented on #10423
I have view access to the OneNote staff manual now, I'm not sure about edit access and will check next week.

[2021-12-17 23:04] jinghualicgi commented on #10372
@Maribeth-Wilson Maribeth, do you have the answer for Fareen's above question? Thanks

[2021-12-17 23:04] fareenr commented on #10423
Have i been added to the channels that I need? So far, I just have #registries-ocm. Thanks

[2021-12-17 23:07] Maribeth-Wilson commented on #10239
Is this task critical or can the due date be pushed back?

[2021-12-17 23:08] Maribeth-Wilson commented on #9679
This task will not be completed today. Will change the due date

[2021-12-17 23:19] Maribeth-Wilson commented on #10372
Please email Taija Cooke at SBCContactCentreInfo@gov.bc.ca. She can provide the information to the Maximus team and let us know if any additional info is required.

[2021-12-17 23:35] yuisotozaki commented on #10220
Dec 17, 2021
* Consumed input from [requirement gathering sessions in December](https://docs.google.com/document/d/1rJFbUdT8nG-aFIzXwfUEiE2_qGMPdBBMpbhfSXL4Pp4/edit#)
* Next Steps - dive into validations, review help text for availability and clarity, exception cases where modals may be needed to guide the user back to the form.

[2021-12-17 23:42] jinghualicgi commented on #10354
@JohnamLane @zac-broitman Hi John, this is due during Zac and your absent, any idea how to tackle this?
CC: @trishreimer

[2021-12-17 23:42] jinghualicgi commented on #10243
@JohnamLane @zac-broitman Hi John, this is due during Zac and your absent, any idea how to tackle this?
CC: @trishreimer

[2021-12-17 23:49] cwulff1 commented on #10423
Hi Fareen,  let's talk next week about the OneNote manual.
The #registries-ocm should be the one.  If this changes we can add you to other groups but for now this is sufficient.  Have a great weekend.

[2021-12-17 23:49] cwulff1 commented on #10423
OneNote Manual can wait until Monday.

[2021-12-18 00:00] chdivyareddy commented on #9521
Hey @jordiwes , I see the results are still displayed on UI when the secured party name is removed by backspace, and also the No Matches Found validation as well.
Please let me know if you want me to reproduce this issue...thanks!

No Matches Found:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ae843fcd-657f-43d3-8f8c-76b1cacd67a6)

When the Secured Party Name is remov

[2021-12-18 00:53] Maribeth-Wilson commented on #10289
I have downloaded the video and will edit slightly before sending to James for posting on YouTube. Should be completed by EOD Dec 20

[2021-12-18 00:55] Maribeth-Wilson commented on #10321
I have downloaded the video and will edit it before sending to James for posting on YouTube. Should be completed by EOD Dec 20

[2021-12-18 01:13] chdivyareddy opened #10506 "PPR Search - Search Results displays 1000 exact matches when 0 registrations found"
- Search Results screen displays 1000 exact matches when 0 registrations found.

**Search Results**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ea41aa3d-8803-4148-9c1a-66a7231892ed)

**My Searches**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/0ef030e1-b5c1-4da1-8875-a468da5cc85c)

[2021-12-18 01:37] argush3 commented on #10482
Confirmed `ledger_text.ledger_text_dts` field is populating with fling effective date value in pacific time in DEV.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/e4a6b2be-2387-448e-8dba-b1de8be9fa1f)

[2021-12-18 01:45] argush3 commented on #8388
This was pulled to in progress to fix a bug where GET calls on the filing were not return UTC date times.  Verified fix is working in DEV.

[2021-12-18 02:09] argush3 commented on #9037
leaving this with you for now Sienna

[2021-12-18 02:13] argush3 commented on #9034
David Roberts had said he had contacted someone to determine if orgbook messaging happened.  I didn't follow up on the outcome as there were more colin api changes coming up at the time.  I figured it might be best to follow up after all the required changes were in and we made some new voluntary dissolution filings in TST for the home team to use for verification.

Leaving this for you for now Si

[2021-12-18 04:05] mstanton1 commented on #10163
To do:
-confirm instructions with @PatrickAHeath
-provide screenshot of header when my drives are re-mapped and confirm with Kevin if form title centered in the form in the OIC can be displayed in the top right as is done with other forms

[2021-12-18 04:23] mstanton1 commented on #10164
I have not identified the need for any changes to this form. @PatrickAHeath can you please review and confirm. _Note with changes we are looking for any difference in data collection, changes effected by the OIC (none identified on this form by Kevin), or changes to form ordering to support ease of data entry._

[2021-12-18 04:24] mstanton1 commented on #10165
I have not identified the need for any changes to this form. @PatrickAHeath can you please review and confirm. Note with changes we are looking for any difference in data collection, changes effected by the OIC (none identified on this form by Kevin), or changes to form ordering to support ease of data entry.

[2021-12-18 04:44] mstanton1 commented on #10144
@chdivyareddy I believe this will be corrected by Zenhub 10251. Is that correct? If so I can update this ticket to a Verify and we wouldn't need a size?

[2021-12-18 04:47] mstanton1 commented on #9042
@forgeuxGH5 this was flagged as a P1 issue to fix before go live. It looks like this is groomed. Can the ticket be moved to 'Ready to Start' and picked up as soon as there's capacity?

[2021-12-18 04:52] #10447 closed

[2021-12-18 04:52] #10074 closed

[2021-12-18 04:52] #10457 closed

[2021-12-18 04:52] #10092 closed

[2021-12-18 04:53] #10224 closed

[2021-12-18 04:53] #10433 closed

[2021-12-18 04:53] #10115 closed

[2021-12-18 04:53] #10117 closed

[2021-12-18 04:53] #10112 closed

[2021-12-18 04:53] #10116 closed

[2021-12-18 04:57] mstanton1 commented on #10167
No changes identified. No reference to form 6 in OIC. Form 6 is the REPAIRERS LIEN DEMAND FOR DISCHARGE which is provided to the garage keeper so it is not entered in the UI and as such won't have changes based upon what we've built.

@PatrickAHeath do you agree with the assessment above?

[2021-12-18 05:02] mstanton1 commented on #10168
It does not appear any changes are required in this instance. This form 7 is the form submitted to the Registrar to discharge a repairers lien. There is no reference to Repairers Lien of section 5(3) of the act which this falls under in the OIC. In the UI, when total discharge is entered none of the data on the form submitted to the Registrar is entered so there are no changes.

@PatrickAHeath can

[2021-12-18 05:03] mstanton1 commented on #10169
No changes in process have been identified. To provide to Debbie and Sharon to confirm.

[2021-12-18 05:11] mstanton1 commented on #10170
This is a  NOTICE TO REGISTRAR TO DISCHARGE A TAX LIEN UNDER THE MANUFACTURED HOME ACT. No changes were found in the OIC pertaining to  Section 57 (5) Personal Property Security Regulation. Again, as discharge does not require data entry of information from the notice it seems no changes are required.

@PatrickAHeath can you review my assessment?

[2021-12-18 09:45] #9378 closed

[2021-12-18 09:45] jyoti3286 commented on #9378
Not required for go-live. Closing

[2021-12-18 09:46] jyoti3286 commented on #9935
This has been done

[2021-12-18 09:46] #9935 closed

[2021-12-18 09:48] jyoti3286 commented on #8073
@zac-broitman - Initial intake is done by Sateesh. Do you mind taking a look at this and see if it requires update? Sateesh would be willing to make changes if required(in case you are tied with something else).

We would need to send this doc to MNP team for their review.

[2021-12-18 10:10] jyoti3286 opened #10507 "USD to CAD Conversion during Routing slip creation"
As an Admin Staff user,
I want to record the payments made in US $
So that the staff can process the payments made by clients

### Acceptance Criteria

**Scenario 1: Selecting Funds received in USD - Manual Conversion**
- GIVEN USD cash is sent in for a routing slip
- WHEN staff go to enter the amount in FAS and select Funds received in USD
- THEN staff will check the check box "Funds received in

[2021-12-18 10:16] jyoti3286 commented on #10507
@rkim13103 - You can put the design links in the appropriate scenario

[2021-12-20 16:40] #10418 closed

[2021-12-20 16:40] #9327 closed

[2021-12-20 17:07] cameron-freshworks commented on #9384
After looking at many scenarios we've been unable to identify a specific issue with the UI, where it wasn't a result of some incomplete or formatted data.
In my opinion we should move this ticket along, and in the event there is a 'fake' diff in the UI in the future Alterations, we need to look at that data set specifically to identify what that scenarios cause is.
I strongly believe its a data de

[2021-12-20 17:28] tlebedovich opened #10508 "Word wrapping is not working in tables when there are extra long words"
If you input an extra long continuous name, email, motor vehicle type etc, that does not fit within the table width, the words are getting cut off.

**To Test**
- Start a new registration or an amendment
- Add a secured party, debtor or collateral (Steps 2 or Step 3)
- Add a really long continuous name/email/vehicle type (anything with a text entry form) - continuous means a name/word/email that d

[2021-12-20 17:29] tlebedovich commented on #10508
@chdivyareddy @jinghualicgi - something to look out for

[2021-12-20 19:09] PatrickAHeath commented on #10207
Confirming that mailed outputs only apply to verification statements for Amendment and Discharge activity.

[2021-12-20 19:33] Kaineatthelab commented on #9454
it is this name
bcregistry.gov.bc.ca

[2021-12-20 20:01] gprimeau commented on #10021
Forms have been created and being reviewed

[2021-12-20 20:03] gprimeau commented on #9395
website news and updates is ready to be published for tomorrow

[2021-12-20 20:09] #10401 closed

[2021-12-20 20:21] tlebedovich commented on #10498
@jinghualicgi @jordiwes @chdivyareddy - We got on a call and they were able to see why this error was happening. It's because my vehicle name is too long for the API (but there isn't a UI error validation message to tell people that). Going to find the character length requirement for this field.

This may be an issue for other fields as well - something to test for.

![Screen Shot 2021-12-20 at 1

[2021-12-20 20:21] fareenr commented on #10315
20-Dec - Reviewed final website announcement and placement with Mags and Maribeth.  Sent request to Genevieve for external website update after change was released (Gen is away, so may be posted Tuesday)

[2021-12-20 20:24] tlebedovich commented on #10498
fyi @mstanton1

[2021-12-20 20:27] chdivyareddy commented on #10498
@tlebedovich , I found the requirements for collateral, Make & Model for Vehicle should not be empty - there is no restriction on character limit on the UI. Please refer the attached sheet below:
https://docs.google.com/spreadsheets/d/1SMIHMlH9DeqKQh1r44vhr6zrUIfoJRi4B3e-O3X1DVU/edit#gid=0

[2021-12-20 20:30] fareenr commented on #10315
20-Dec - Sent request to SBC IT Operations support mailbox to publish announcement with PDF of memo on BC Online registry site

[2021-12-20 20:31] tlebedovich commented on #10498
@doug-lovett @jordiwes @PatrickAHeath - The requirements do not show a maximum character limit - so if that is correct then we should probably remove the max character limit int he API so this error does not occur.

[2021-12-20 20:32] fareenr commented on #10372
20-Dec - emailed SBC contact centre to notify of BCeID additional account Administrator change. Taija is out of office until Jan 10.

[2021-12-20 21:39] tlebedovich commented on #10091
@mstanton1 @jinghualicgi - This ticket is ready to go and has one bug (wrong read-only component) and some Repairers Lien specific design updates needed.

Should I make a separate bug ticket for the incorrect component?

[2021-12-20 21:50] tlebedovich commented on #10091
This seems to be a duplicate ticket. I moved the UXA/Bug feedback for Repairs Lien Amendment into https://github.com/bcgov/entity/issues/10090

[2021-12-20 21:50] #10091 closed

[2021-12-20 21:54] jinghualicgi commented on #10354
@fareenr Fareen, discussed with Trish, assign this ticket to you :)
CC: @Maribeth-Wilson

[2021-12-20 21:54] jinghualicgi commented on #10243
@fareenr Fareen, discussed with Trish, assign this ticket to you :)
CC: @Maribeth-Wilson

[2021-12-20 22:15] tlebedovich commented on #10495
@yuisotozaki - the ledge items are before my time and have not gone through the AA checks. You are right that all the light gray does not meet AA - but I think that should be done in another ticket (212529 is only used for bold headlines).

@forgeuxGH5 - yes I agree that it would be helpful for other filings to show expanded - but those one would probably work differently, because you would probab

[2021-12-20 22:50] PatrickAHeath commented on #10498
@tlebedovich The db length for those fields is 60, so we should limit the fields to that.

[2021-12-20 23:19] tlebedovich commented on #9005
@jordiwes - I see the correct modal now for this example. I noticed the 2nd sentence text was the wrong text colour - can you please make sure it's 495057 (body copy colour). I will move this onto Ready for QA.

[2021-12-20 23:29] tlebedovich commented on #10498
@PatrickAHeath - should we update ALL registration/amendment types to include this 60 character limit in the requirements document? https://docs.google.com/spreadsheets/d/1SMIHMlH9DeqKQh1r44vhr6zrUIfoJRi4B3e-O3X1DVU/edit#gid=0

[2021-12-20 23:33] PatrickAHeath commented on #10163
Do we want to collect email address?

[2021-12-20 23:41] tlebedovich opened #10509 "Update text descriptions under Repairs Lien Surrender Date"
**Repairers Lien Registration Step 1 text updates required based on updated date requirements;**

Since users can now select a future Surrender Date in addition to a date 21 days in the past, we should update the instructional copy and hint text as follows:

![Screen Shot 2021-12-20 at 2.08.43 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/b0e9dd0c-5bb5-4c7a-a51c-87202f63b43

[2021-12-20 23:42] tlebedovich commented on #10509
@mstanton1 - fyi

[2021-12-20 23:43] chdivyareddy commented on #9004
Verified in DEV.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e082ab16-eb8c-4b30-b62b-50b79720085d)

[2021-12-20 23:47] PatrickAHeath commented on #10165
@mstanton1 All looks good!

[2021-12-20 23:48] PatrickAHeath commented on #10164
@mstanton1 All looks good!

[2021-12-20 23:50] PatrickAHeath commented on #10167
@mstanton1 Looks good!

[2021-12-20 23:51] PatrickAHeath commented on #10168
@mstanton1 Looks good!

[2021-12-20 23:55] PatrickAHeath commented on #10170
@mstanton1 Looks good!

[2021-12-21 00:02] cwulff1 commented on #9687
Please leverage this document for adding:
[Adding a 2nd Admin to BCeID Account.pdf](https://github.com/bcgov/entity/files/7748602/Adding.a.2nd.Admin.to.BCeID.Account.pdf)

[2021-12-21 00:26] chdivyareddy commented on #10144
Yes @mstanton1 , it will be corrected by #10251.

[2021-12-21 01:00] chdivyareddy commented on #10428
@mstanton1 @jinghualicgi I have verified the log-out button with each user group type mentioned in the description and is working as expected.

[2021-12-21 01:06] cameron-freshworks opened #10510 "Shared Components Vue Version Sync"
Recently we discovered that a disconnect can arise between our Shared Components Dependencies and the packages we use locally, specifically `vue` and `vue-template-compiler` versions. If the vue versioning in the Shared Components gets ahead or behind the UI where implemented, it can create compiler errors.

While this isn't an immediate risk of failure, as it requires manual updates of a shared c

[2021-12-21 04:27] Amitisp commented on #10013
@magszymanski search function in PPR training video is on GDR for your review:(https://drive.google.com/drive/folders/1Iv8ugj_D_ZO-Uxt9IwBKn-9UiwyWRRlw?usp=sharing)

[2021-12-21 05:46] chdivyareddy commented on #10508
Example of Email Address from the Database:

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/152ad90f-1e8f-4b8a-88d3-6cac060ee923)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/6d97704a-48db-4869-b91c-3dbd3db3e06b)

[2021-12-21 15:21] magszymanski commented on #10483
It's with the home team - should be done this week.

[2021-12-21 15:23] magszymanski opened #10511 "Review SBC job aide (due: Jan 4)"

[2021-12-21 15:26] magszymanski commented on #9679
Maribeth did a tonne of work and now it's with me; need to:
- [ ] Confirm with Melissa about BCeID Admins being able to switch future users between BCeID and BCSC
- [ ] Do write-up of above + screenshots
- [ ] Review whole document
- [ ] Ask Gen to repost to CMS

[2021-12-21 15:30] magszymanski commented on #10289
Taking over from Maribeth; emailing Info Session registrants with:
- [ ] User Guide
- [ ] FAQ
- [ ] Recording

[2021-12-21 16:01] #10479 closed

[2021-12-21 16:43] trishreimer commented on #10239
@fareenr Would you have time to assist with this? If so, let's discuss this week. Thanks.

[2021-12-21 16:49] PatrickAHeath commented on #10498
@tlebedovich Updated the requirements document with 60 characters max for each.

[2021-12-21 17:12] sumesh-aot commented on #10493
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/10493?planning-poker) with ZenHub @shabeeb-aot @karthik-aot @saravanpa-aot @rarya-freshworks @rkim13103

[2021-12-21 17:14] doug-lovett commented on #10488
For QA, verify the search results in the UI still work correctly: exact and similar selections in the results match what is requested.

[2021-12-21 17:14] sumesh-aot commented on #10493
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/10493?planning-poker) with ZenHub @zac-broitman

[2021-12-21 17:21] #7635 closed

[2021-12-21 17:21] #10361 closed

[2021-12-21 17:21] #10419 closed

[2021-12-21 17:21] #10448 closed

[2021-12-21 17:21] #10464 closed

[2021-12-21 17:24] SateeshFW commented on #10501
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/10501?planning-poker) with ZenHub @rarya-freshworks @sumesh-aot @saravanpa-aot @karthik-aot @shabeeb-aot

[2021-12-21 17:25] trishreimer opened #10512 "Send email to BCeID Admins to let them know an additional Admin can now be added"
- [ ] @pwei1018 could we please get a distribution list of all email addresses for all ADMINs using BCeID in prod?

- [ ] @fareenr could you pls draft the email? - key messages below

- [ ] Please review final copy with @Kaineatthelab

- [ ] pls send from engagement mailbox. bcc is fine.
If the list is long (greater than 500), pls work with IT ops to send so it can go in batches.

KEY MESSAGES -
@

[2021-12-21 17:31] SateeshFW commented on #10290
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/10290?planning-poker) with ZenHub @rarya-freshworks @sumesh-aot @saravanpa-aot @karthik-aot @shabeeb-aot

[2021-12-21 17:33] severinbeauvais commented on #10510
I am not sure what the incompatibility is between the shared component and the app, but maybe there's a config option to allow different Vue versions, or maybe there's a breaking change between the Vue version (2.6.11, 2.6.12 and 2.6.14).

[2021-12-21 17:34] jdyck-fw commented on #9009
QA completed

[2021-12-21 18:13] chdivyareddy commented on #9005
Verified in DEV.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/5367132e-c950-4902-843d-d3d699f4025b)

[2021-12-21 18:50] mstanton1 commented on #10013
@Amitisp great work! I've asked that @magszymanski take a look and also checked it @trishreimer wants to do a review as well before it is approved and we take steps to add it to youtube / BC Registries website.

[2021-12-21 18:59] mstanton1 commented on #10498
@tlebedovich do we need a new ticket for UI Design for error validation?

[2021-12-21 19:04] jinghualicgi commented on #7873
@Kaineatthelab Can you decide this is P1 or P2? What's impact if we don't do this before go-live. Thanks

[2021-12-21 19:39] #10144 closed

[2021-12-21 19:56] mstanton1 commented on #10509
Included in PPR GO LIVE - Mandatory as a P3.

[2021-12-21 20:03] trishreimer commented on #10287
https://docs.google.com/document/d/15uaJu9oNPe3R_Ug_KY5hCarQ4KBqVGdnZFOVuPOlS0I/edit?usp=sharing

[2021-12-21 20:18] fareenr commented on #9682
21-Dec -21 OneNote staff manual update for how to add 2nd Admin now complete

[2021-12-21 20:21] fareenr commented on #9687
Where are the BCOL admin procedures or existing staff checklist saved?  I can add the steps for how to add a 2nd Admin.

[2021-12-21 20:25] fareenr commented on #9689
20-Dec I believe the new functionality was demo'd to Debbie, Joanna and Wendy for their team on Monday Dec 20.  Are there any demo's remaining?

[2021-12-21 20:33] fareenr commented on #9684
20-Dec reviewed final external communication with Mags and Maribeth.  Emailed request to Gen for external website update and to BCOL support for old BC Online registries site announcement.

[2021-12-21 20:42] tlebedovich commented on #10498
@mstanton1 - yes we probably do need a little 1 FIB one just to get it in the cue.

[2021-12-21 20:49] magszymanski commented on #10013
I second this, amazing job @Amitisp !! @trishreimer, with your okay I will get the ball rolling of having it posted to the right places :)

[2021-12-21 20:58] trishreimer commented on #10013
Exciting. I'll start watching now! (I have 2 mins before a meeting)

[2021-12-21 21:10] chdivyareddy commented on #9808
Verified!
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/0623a3ca-403b-430e-99b7-18f975646985)

[2021-12-21 21:22] cwulff1 commented on #9687
@fareenr Can you add the guide to the OneNote.  Modernization tab.  Page title is 'Job Aids for Logging on with Services Card and BCeID".

[2021-12-21 21:28] cwulff1 commented on #10287
I've provided my input.  Thanks @trishreimer

[2021-12-21 21:32] zac-broitman commented on #8073
I've reviewed and added a few things that were missing or could be clarified.

[2021-12-21 21:32] fareenr commented on #10512
21-Dec - draft email saved here:  (https://docs.google.com/document/d/1IFM-jA-HyoKj-Uvygf0Mk3jo8xSvcCpFSe5O89ydd7Y/edit?usp=sharing)

Send email with PDF of detailed screenshots specific for Administrators:  https://drive.google.com/file/d/1sf9psRY3GlcCM3_nHAdKe0t82UwT9jsG/view?usp=sharing

[2021-12-21 21:46] fareenr commented on #9687
21-Dec - added link to BC Registry application user guide on website under 'Job Aids for logging on' page

[2021-12-21 21:50] chdivyareddy commented on #9521
Verified!

[2021-12-21 22:06] mstanton1 commented on #10166
Changes have been identified by Sharon. Note, exact wording should be drafted by OCM and reviewed by the PPR team (Sharon/Debbie) before changes are made.

Step 1:
•Note: You will need take a photocopy of the following items for later use:
	The completed Form 4 before sending the original to the Secured Party
	The Registered mail delivery label for tracking purposes
Step 3:
•At the end of paragrap

[2021-12-21 22:11] rarmitag commented on #9331
Can't find any data in test for
BC0905141
BC0905142

[2021-12-21 22:12] rarmitag commented on #9331
BC0905143 won't import due to schema error. Possible json error. Investigating.

[2021-12-21 22:17] fareenr commented on #10315
21-Dec - adding additional Admin update published on modernization updates website.  Just BC Online old registry announcement awaiting to be published.

[2021-12-21 22:17] mstanton1 commented on #10166
Note: These changes stem from the existing procedures being incomplete. Enhancements will improve the client experience but are not required as per a change made with the modernized PPR launch. As such, due date can be after go-live if required.

[2021-12-21 22:37] mstanton1 commented on #10169
Note: These changes stem from the existing procedures being incomplete. Enhancements will improve the client experience but are not required as per a change made with the modernized PPR launch. As such, due date can be after go-live if required.

[2021-12-21 22:38] #10164 closed

[2021-12-21 22:38] #10165 closed

[2021-12-21 22:39] mstanton1 commented on #10165
No form changes required. Closing.

[2021-12-21 22:42] #10167 closed

[2021-12-21 22:43] #10168 closed

[2021-12-21 22:43] mstanton1 commented on #10170
No changes required. Closing.

[2021-12-21 22:43] #10170 closed

[2021-12-21 22:50] mstanton1 opened #10513 "UI Design - Error validation for all registration/amendments with vehicle collateral make and model fields"
Make and model will be updated to have a 60 character limit in the API. Error validation design is required for cases where a client exceeds 60 characters. Note: validation should be used in all registrations/amendments.

Design as follows:

![Screen Shot 2021-12-22 at 3.48.09 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/78cd22f0-de13-45f2-81a3-413f42b2a24d)

[2021-12-21 22:51] sumesh-aot opened #10514 "Data migration to support PPR Access for Anonymous Users"
**Work for : Relationships Team**

### Description
**Data migration to support PPR Access for Anonymous Users**

Changes on AUTH:
- insert product subscription record for the provided accounts
 ` insert into product_subscriptions (org_id, product_code) values (<ORG-ID>, 'PPR');`

Changes on Pay:
- Insert Payment_accounts record if none exists for that account.
`insert into payment_accounts (auth_a

[2021-12-21 22:52] mstanton1 commented on #10498
@tlebedovich created Zenhub 10513, moved to Ready to Start in design team space, and linked to this ticket.

[2021-12-21 22:54] sumesh-aot opened #10515 "Anonymous User Experience to access PPR"
### Description
**Anonymous User Experience to access PPR**
Currently there is no way to login to the PPR as an anonymous user. The anonymous user login method is not an option in login dropdown, it is by default set as the login mechanism in director search application.

Temporary solution is to first login to director search and then open the PPR application (in a new tab)

CC : @mstanton1 @Kain

[2021-12-21 22:54] sumesh-aot commented on #10515
@mstanton1 This would need some UX work, so I am assigning to you as I am not sure which team would be doing this :)

[2021-12-21 23:04] jinghualicgi commented on #9904
@mstanton1 Melissa, should this be before go-live?

[2021-12-21 23:17] chdivyareddy commented on #10488
Hey @doug-lovett ,
- For Individual Debtor Search: 'John Smith', 'ROBERT WILLIAMS' in DEV and was not able to download the PDF.

- For Business Debtor Search: 'DFC AUTO LTD.' - When I do a search then the following error occurs.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/48601e73-c72a-4577-ab93-8418856c668e)

[2021-12-21 23:23] PatrickAHeath opened #10516 "UI Design - PPR Search help text to explain how each search category works"
Each PPR Search category has nuances in how the search algorithm works.  It would be beneficial to clients if there was help text on each to explain how the search functions and what to include as the search parameters in order to find the registrations they're looking for.

In the Legacy application, there is a BCOL User Guide and Robohelp text that clients can refer to.  That text could help in

[2021-12-21 23:45] Maribeth-Wilson commented on #10321
Follow up is complete

[2021-12-21 23:47] mstanton1 opened #10517 "UI Design - Log on to PPR using director search account credentials"
Director search (anonymous) accounts will be used to provide some clients with access to PPR searches. Director search credentials are a user name and password. Currently if a client navigates to PPR they do not have a way to log on using those credentials. Design is required to provide an easier option for clients who log on with director search and want to navigate to PPR.

_Note: Director searc

[2021-12-21 23:49] trishreimer commented on #10013
Love it. Nice work!
Let's add to the website.
One question...is that test data in the video or real data??

[2021-12-21 23:50] trishreimer commented on #10013
Let's make sure staff are aware of these videos before we post externally:  A a minimum: Cameron, Olisa, Sharon, Debbie,  PPR staff, Joanna Barnes, BCOL Help Desk.

Thank you!

[2021-12-21 23:51] mstanton1 commented on #10013
@trishreimer data in TEST is a copy of the data in PROD from a bit back, so real. Demo's have been completed so far using TEST data, and we identify it as test using a mark on our outputs. There isn't an easy workaround to prevent showing this.

[2021-12-22 00:00] #8388 closed

[2021-12-22 00:00] #10482 closed

[2021-12-22 00:02] trishreimer commented on #10013
Any risk with showing this data to the public?

[2021-12-22 00:35] tlebedovich commented on #10231
@mstanton1 @forgeuxGH5 - can we include logging out handling in this ticket as well?

**redirect if logging out:**
- if a user is in a PPR-related page or the app and logs out for the day, we are currently redirecting them to the Business Registry marketing page (see below) - which doesn't make sense for PPR users. I need to  confirm with Scott where they should go (BCROS or generic page) - and ca

[2021-12-22 01:03] tlebedovich commented on #9815
@jordiwes @forgeuxGH5 - there are some buggy things happening with trying to log in - can we get on a call and review logging in as each user type as we may need to create new tickets

DEV: BRTEST1 - BC REG - Staff Dashboard
DEV: BRTEST3 - BCOL - Staff Dashboard
DEV: BRTEST5 - SBC Staff Uber Dashboard

----

Notes:

1) I am seeing this error when trying to log in as BRTEST1 or BRTEST3 (might be a

[2021-12-22 01:21] tlebedovich commented on #9816
@jordiwes - let's talk to see if we create new tickets for these items:

- Its now missing the non-link "BC Registries Dashboard" in the breadcrumb that was there before (for non-staff users, for SBC staff users is should say "Staff Dashboard")
- Clicking the Business Registry Tile is still sending me to an Error page

I will make a new ticket for the mobile version updates still need.

[2021-12-22 03:35] doug-lovett commented on #10488
@chdivyareddy cors errors have nothing to do with API search requests. I just ran john smith and DFC AUTO LTD. searches and printed the report. Please do not select results > 75 financing statements until the asynchronous solution is working. Re-assigning to QA.

[2021-12-22 04:11] rarya-freshworks commented on #10500
The steps for reproducing the issue are invalid and so closing the ticket based on that.

[2021-12-22 04:11] #10500 closed

[2021-12-22 04:16] doug-lovett commented on #10205
Locally generated cover page for an amendment:
[https://app.zenhub.com/files/157936592/a4011af2-c6aa-4b62-8070-c26ae8af0ebc/download](https://app.zenhub.com/files/157936592/a4011af2-c6aa-4b62-8070-c26ae8af0ebc/download)

Locally generated cover page for a discharge:
[https://app.zenhub.com/files/157936592/cf3898a3-f81c-4cc4-8183-9db945ccb8cb/download](https://app.zenhub.com/files/157936592/cf3898a

[2021-12-22 16:32] #9936 closed

[2021-12-22 16:44] mstanton1 commented on #10231
@tlebedovich yes, please include logging out as part of this ticket. Additional dev tickets can be created during grooming if needed when we review the design.

[2021-12-22 16:45] mstanton1 commented on #10013
@Kaineatthelab can we get your input on @trishreimer's question above?

[2021-12-22 17:12] mstanton1 opened #10518 "UI - Amendments to Text"
Screen 1 Feedback:
https://docs.google.com/document/d/1gVErzGRFqptHMZ_7mdOSOHTwn6aeXyPW2cWg_FIu1UI/edit?usp=sharing

To Address Items labelled as P1

[2021-12-22 17:14] magszymanski opened #10519 "WEB - Set up PPR Section on Resources page"
As videos are being created for PPR functionality, they need to be uploaded to the Resources page.
- [x] Mags and Gen discuss new design on Resources page
- [ ] Gen to create new accordion/section
- [x] Mags to upload Search video to Youtube and provide Gen with link

[2021-12-22 17:17] mstanton1 opened #10520 "UI - Confirmation Page"
**Screen 2 Feedback:**
https://docs.google.com/document/d/1xjM6PcD-gYatkLvFwJ1nUmsgPfscFyhRiRar7CuwVS0/edit?usp=sharing

[2021-12-22 17:19] jdyck-fw commented on #8272
QA completed - moving to ready for release in SRE

[2021-12-22 17:20] #10232 closed

[2021-12-22 17:20] mstanton1 opened #10521 "UI - Amendment Buttons and Validations"
**Validations for Screen 1 and Screen 2:**
https://docs.google.com/document/d/1B99Y2AmSSTRhCM3Y1zEaYbBiEgtzKKRtRfVw29UaMKk/edit?usp=sharing

[2021-12-22 17:31] Amitisp commented on #10013
@magszymanski @mstanton1 @trishreimer 'How to do a Registration' training video is on GDR for your review:
https://drive.google.com/file/d/1n8Ul0Ick0kxhIxPx8kuvYOD2ZhMYJMC1/view?usp=sharing

[2021-12-22 17:32] mstanton1 commented on #10302
@bfbowles to provide the number of concurrent searches in a minute _and_
percentage of debtor name searches that will return more than75 results

[2021-12-22 17:43] mstanton1 commented on #10304
@PatrickAHeath to provide data to use for tests.

[2021-12-22 18:07] forgeuxGH5 opened #10522 "UI - Update Details Description introduction text (or interaction)"
Update the introduction for the Details Description field to the following:

Option 1: Text update~~

~If this registration is to reflect [or, to disclose] a subordination, a transfer of part of a secured party’s interest, or a transfer of part of the collateral to a new debtor, you MUST enter the the required subordination information or description of the interest or collateral being transferred

[2021-12-22 18:35] jdyck-fw commented on #10296
Discussed at Scrum of Scrums today @lmcclung - sounds like this will wait until January for Relationships work.

[2021-12-22 18:41] #9808 closed

[2021-12-22 18:41] #10428 closed

[2021-12-22 19:38] mstanton1 commented on #10522
To implement option 1.

[2021-12-22 19:44] mstanton1 commented on #10514
Sent request to Bob for list of director search accounts that need PPR access Dec 21st.

[2021-12-22 19:49] jordiwes commented on #10402
@doug-lovett - clientReferenceId is coming back as client_reference_id (which I can handle in the UI if you want), but registeringParty and securedParties are not coming back in the /drafts API call

[2021-12-22 19:53] jordiwes commented on #10475
@doug-lovett - the API needs to return user name for /search-history please :)

[2021-12-22 20:09] fareenr commented on #10423
21-Dec - can update OneNote on R: shared network drive now

[2021-12-22 20:13] fareenr commented on #9684
22-Dec - now posted on Modernization updates page.  Awaiting BC Online old Registry announcement to be published

[2021-12-22 21:43] mstanton1 opened #10523 "PPR Go Live - Implementation Plan"
Draft implementation plan for go live.

https://docs.google.com/document/d/16vEIJJnMUEIm1wgffkU1dl_AQc9w5n9IDrPDIQF2uEI/edit#

[2021-12-22 21:50] doug-lovett commented on #10442
More SFTP info:
Sample naming:  PPRVER.XXXXXXXXXXXXX.DD.MM.YYYY.PDF or PPRVER.DD.MM.YYYY.XXXXXXXXXXXXX.PDF  Try to keep the filename including periods or underscores less than 35 characters.

If you are able to put a code in the pdf filename that is specific to a company and address we would be able to batch multiple pdf’s into one shipment (envelope/box).  Otherwise each pdf would go out in it’s

[2021-12-22 21:57] chdivyareddy commented on #10113
Hey @jordiwes , small fixes to the payment modal please:
- [ ] After submitting an Amendment/Renewal/Discharge, the payment modal is not resetting the selections. The selection made for the previous registration shows up for the next submission.
- As soon as I open click submit Renewal, then the payment modal opens up with previously selected submission details as below:
![image.png](https://image

[2021-12-22 22:10] fareenr commented on #10315
22-Dec confirmed user guide updated on Modernization website

[2021-12-22 22:23] PatrickAHeath commented on #10303
Hi Patrick,

Any transaction in PROD has to be paid and need payment records generated in Line Of Business system. I don’t think we ever discussed load testing in production.

Most of the projects would do load testing in a production like environment. Now we have sandbox environment which is similar to PROD, except that it won’t generate any payment records in to our Line of Business system (CAS)

[2021-12-22 22:28] PatrickAHeath commented on #9042
Feedback from Kevin's testing:
It is not clear from the headings “Results found”, “Exact Matches”, and “Results Selected” headings whether the counts refer to the number of items (debtor names or serial numbers) or number of registrations.
Testing shows that the figures (counts) are the number of registrations (subject to reporting errors per comments below), but it should be clearer to a user wha

[2021-12-22 22:31] PatrickAHeath commented on #9419
Feedback from Kevin's Testing:
The search result table of contents (a.k.a. match list) lists only those registrations selected for inclusion in the report instead of the full match list.
This makes a search result report where not all matches are selected of limited value to the searcher. Specifically, the report will not be sufficient on its own as evidence of whether or not another, potentially-

[2021-12-22 22:50] Amitisp commented on #10013
@magszymanski @mstanton1 @trishreimer 'How to Retrieve Registration' training video is on GDR for your review:
https://drive.google.com/file/d/1IR59hiuGS9NGa58Gffp1OAJSdvfe3bK3/view?usp=sharing

[2021-12-22 22:51] PatrickAHeath commented on #8486
Feedback from Kevin's Testing:

A MRR crown charge registration where the Act name selected is “Other” (i.e. to be entered by the registering party) is displayed:
a.	With the registration type labelled “Other” – This should be an indication that it is a crown charge under the MRR.
b.	In the verification statement and search result reports, the referenced Act is not displayed.
Between these two, re

[2021-12-22 22:53] tlebedovich commented on #9882
@jordiwes @chdivyareddy  Here are the remaining issues that should be fixed before moving to RFQA -- There are two P2 items (including mobile) that do not need to be done for Go Live:

https://docs.google.com/document/d/1VbzuSlcYaXcULoG8ydk_CDNzXhGHQ25JWjZSkqEoxnQ/edit?usp=sharing

@jordiwes
- I looked into how to fix the hero image so it stays full bleed on the top and bottom and scale properly a

[2021-12-22 23:08] zac-broitman opened #10524 "Comparison Report to Identify Non-Ministry Accounts"
Since there are some non-ministry clients who set up premium accounts prior to the introduction of Non-ministry accounts, the challenge is identifying which of the existing premium accounts need to be converted to a Non-ministry account. To tackle this the plan is to create a report which includes the result of a comparison between the attached list and the production list of premium accounts. Thi

[2021-12-22 23:27] PatrickAHeath opened #10525 "PPR - Verification Statements don't display Name of Application"
From Kevin's Testing Feedback:

There is nothing on the PPR verification statements (at least for MRR registrations; others TBD) to indicate that the report is from the PPR.
Search reports display the following headings:
PERSONAL PROPERTY REGISTRY SEARCH RESULT
BC Registries and Online Services
Verification statements display the following (for example):
REPAIRERS LIEN
REPAIRERS LIEN ACT
or
OTHER

[2021-12-22 23:41] PatrickAHeath opened #10526 "PPR Verification Statements - display No Expiry instead of Never for Infinite Length Registrations"
From Kevin's Testing Feedback:

For term infinity registrations, the Current Expiry Date and Time is displayed in reports as “Never”
Recommendation: Change text to “No Expiry”
Rationale: This is a fine point in language. What is the practical difference between “Never” and “No Expiry”? My preference for “No Expiry” is based on two things:
1.	I think that “No Expiry” more accurately describes the s

[2021-12-22 23:52] PatrickAHeath opened #10527 "PPR Amendment - Guidance Text for Details Description is Inaccurate"
From Kevin's Testing Feedback:

On Amendment, the on-screen guidance text is wrong. It reads:
If this registration is related to a Subordination, Transfer of Security, or Transfer of Collateral, you MUST enter a description of the registration below, otherwise the Details Description is optional.
This text is inaccurate and may mislead users.
a.	The Details Description is NOT required for the foll

[2021-12-22 23:55] mstanton1 commented on #10013
@Amitisp you are making great progress! In a touchpoint today with @magszymanski some changes were discussed for the 'Registration' video. Mags will touch base. I'm around tomorrow too if you have any questions afterwards.

The How to Retrieve a Registration the video felt ready. The only suggested change is to update the script to include how to customize 'My Registrations'. This was included in

[2021-12-22 23:55] PatrickAHeath opened #10528 "PPR Court Order - Date of Order doesn't support entry by typing"
From Kevin's Testing Feedback:

a.	The Date of Order field does not permit the date to be typed in. If this is intentional, I disagree.
b.	The date picker can be navigated by tabbing (i.e. without use of a mouse), but it is not friendly.
Does this meet accessibility guidelines for the visually impaired?

[2021-12-22 23:56] mstanton1 commented on #10302
Emailed home team to see if they can support us in providing remaining stats.

[2021-12-22 23:58] zac-broitman opened #10529 "Email Notification when additional BCeID Admin submits affidavit for review"
* As a Admin
* I want to receive an email notification when there is a new affidavit for me to review for a BCeID admin
* so that I can promptly respond to them and process the reviews

**Acceptance Criteria**

**Scenario 1: **
* GIVEN ... an account is set up with BCeID
* WHEN ... a new administrator submits an affidavit as part of their invitation process
* THEN ... an email should be sent to BC

[2021-12-22 23:59] zac-broitman commented on #10529
Came from Ops ticket: 241

[2021-12-22 23:59] tlebedovich commented on #10498
@mstanton1 - design ticket is complete. I changed the name of this bug to refer to all registrations/amendments with vehicle make/model as it is not just repairers lien.

[2021-12-23 00:13] zac-broitman commented on #10507
@jyoti3286 Kim has informed me of the following

- For both cash and cheque when they enter the amount in FAS they will enter the amount in as CAD, using the Bank of Canada daily noon exchange rate
- Currently USD and CAD are entered as separate batches into FAS, but with the new FAS not having the batch concept I'm not sure if this needs additional consideration
- The bank the money goes to requi

[2021-12-23 00:35] severinbeauvais commented on #9530
### Test Notes

To verify:
1. The Staff Payment section is removed from in-page version ad changed to a modal.
2. For Director Change, the Certify is moved from the edit page and to the review page.
3. The Staff Payment modal is displayed after the user clicks File and Pay.

(I will update this comment as I go)

From Andre's comment in 9221:

The following companies have been created for testing i

[2021-12-23 00:40] mstanton1 commented on #9848
Policy review took place and a few additional changes are required on the draft:
1. FOIPPA disclaimer references the BCA and should reference PPSA
2. FOIPPA disclaimer references “Executive Coordinator” and should reference “Manager”

[2021-12-23 00:46] sumesh-aot commented on #10093
This has been generated by @doug-lovett and sent to partners to integrate. RPT integrated this in local (as they need firewall changes to try in their TEST environment) and we have resolved any issues they have reported so far.

[2021-12-23 00:55] jinghualicgi commented on #10090
@mstanton1 Melissa, this ticket is missing go-live mandate and P1/P2, can you please take a look? Thanks

[2021-12-23 01:19] trishreimer commented on #9677
@olisaezeh would you mind updating these tickets and moving to done, if they are done pls?

[2021-12-23 02:07] trishreimer commented on #10216
i just did a quick check and it doesn't look like this has been completed.
@Maribeth-Wilson would you mind connecting with Gen on an approach on how to complete these updates (who does what) and assist with reviewing and suggesting edits pls? IDIM would like to review the changes and content.

[2021-12-23 02:09] trishreimer commented on #10317
not all references have been updated.. could we do a search for Mobile Card, Mobile BC Services Card, etc. and update pls?

![image.png](https://images.zenhubusercontent.com/5bedb8c3da4921671b966293/abf107ea-4c1d-474f-902c-58e314af930a)

[2021-12-23 02:09] trishreimer commented on #10317
https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization-updates/using-the-business-registry

[2021-12-23 02:13] trishreimer opened #10530 "Due now - Setup Discourse site and implement"
We have a new site to help API users. We need to:

- [ ] add additional threads to help users - review emails, add to threads - this will help others users with API. I will work on this until Dec 24th.

- [ ] create an implementation plan:
- ensure BA's are aware and ready to add other threads as they provide support to users
- BA's will need to monitor threads and reply, where possible
- ensure d

[2021-12-23 02:21] trishreimer commented on #10530
I will update and complete as much as I can before Dec 24th.

[2021-12-23 02:30] mstanton1 commented on #9849
Policy review took place and a few additional changes are required. I have updated the draft form above. The changes are:
1. FOIPPA disclaimer references the BCA and should reference Repairers Lien Act
2. FOIPPA disclaimer references “Executive Coordinator” and should reference “Manager”
3. Email address field in header should be replaced with website
4.  Update instructions to identify length of

[2021-12-23 02:42] mstanton1 commented on #10346
Policy review took place and a few additional changes are required. I have updated the draft form above. The changes are:
1. FOIPPA disclaimer references the BCA and should reference Repairers Lien Act
2. FOIPPA disclaimer references “Executive Coordinator” and should reference “Manager”
3. Email address field in header should be replaced with website
4.  Update instructions to identify length of

[2021-12-23 02:50] mstanton1 commented on #9849
Policy review took place and a few additional changes are required. I have updated the draft form above. The changes are:

1. FOIPPA disclaimer references the BCA and should reference Personal Property Security Act
2. FOIPPA disclaimer references “Executive Coordinator” and should reference “Manager”
3. Email address field in header should be replaced with website
4. Change to instructions for sec

[2021-12-23 03:02] mstanton1 commented on #10163
@PatrickAHeath I've added email address to list of items to add to form. Can you review instructions in the comment above and let me know if any changes are needed.

[2021-12-23 03:15] chdivyareddy opened #10531 "PPR Registration - Secured Party Code or Name Issue (only 25 results displayed)"
**Describe the bug in the current situation:**
When a Secured Party code/name is entered in the textbox, then only 25 results are displayed in the modal.

**Impact of this bug:**
Medium

**Chance of Occurring (high/medium/low/very low):**
High

**Pre Conditions:**
DEV env

**Steps to Reproduce:**
1. Navigate to Secured Parties(step2)
2. Enter the secured party name or code as "The Bank of Nova Sco

[2021-12-23 03:28] chdivyareddy opened #10532 "Staff - Reg/BCOL Help - Update the breadcrumb to 'Staff Dashboard'"
- [ ] BC REG/PPR/BCOL Staff user groups top level of breadcrumb throughout PPR (My PPR dashboard page/search/registration screens) should be updated to say "Staff Dashboard" instead of "BC Registries Dashboard".

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/42be215a-68e5-4092-afec-a0b15ba52627)

Staff Dashboard correctly shows "Staff Dashboard":

![Screen Shot 2022-01

[2021-12-23 03:32] mstanton1 commented on #10090
Added to go-live epic. Edits are to prevent clients from doing an action they should not do. Labelled as P2.

[2021-12-23 03:38] mstanton1 opened #10533 "Demand for Discharge Under the Miscellaneous Registrations Act, 1992 (Due Jan 21)"
Forms are listed in the Forms and Fees section here: https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/bc-registry-services-personal-property-registry

As per the OIC which takes effect on Jan 25, 2022 a **new form** has been added to the PPSA Schedule. It is still to be determined if that form is only to be handed out by staff, or if it will be posted on the site

[2021-12-23 04:36] #9005 closed

[2021-12-23 04:36] #9004 closed

[2021-12-23 04:36] #10488 closed

[2021-12-23 04:36] #9521 closed

[2021-12-23 04:36] #10503 closed

[2021-12-23 04:36] #10061 closed

[2021-12-23 15:47] trishreimer opened #10534 "Prepare Q&A for clients re: Phase out BCOL accounts - DUE JAN 14"
- [x] Before we send the mass email to clients, we need to document some Q&A to help our front line staff and engagement team's respond to the questions that will be asked. This email will go to about 25,000 accounts and potentially even more people.
 I'll start these Q&A before I leave. Would you mind completing them before Jan 4 @olisaezeh ?

- [ ] Pls. Review Q&A with @Kaineatthelab and @jyoti3

[2021-12-23 15:49] doug-lovett commented on #10402
@jordiwes API update in review - fixed clientReferenceId

[2021-12-23 15:50] doug-lovett commented on #10475
API change to add username in review.

[2021-12-23 15:50] gprimeau commented on #10317
@trishreimer , @Maribeth-Wilson
Please review the below qa link to make sure I caught them all.
https://www2.qa.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization-updates/using-the-business-registry

[2021-12-23 15:51] jinghualicgi commented on #8865
@jordiwes Hi Steph, this can move to done? Two tasks under are closed. Thanks

[2021-12-23 15:54] trishreimer commented on #10317
@Amitisp would you mind reviewing the Modernization pages on our website (link above) and check that all instances have been updated and no links are broken. I thought this would be a good way to get familiar with our site as well. Thanks for your help

[2021-12-23 16:04] trishreimer commented on #10309
Email sent to Bob to get the dist list from BCOL.

[2021-12-23 16:08] magszymanski commented on #10519
https://www.youtube.com/watch?v=urUfZFSzamM
New Search vid!

[2021-12-23 16:16] gprimeau commented on #10519
Here is what I recommend for the resource page

https://www2.qa.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization-updates/modernization-resources

[2021-12-23 16:23] jinghualicgi commented on #10456
@Amitisp , Amitis, I will move this ticket to done if nothing outstanding. Thanks
cc: @trishreimer @olisaezeh

[2021-12-23 16:24] jinghualicgi commented on #10423
@fareenr Fareen, I will move this ticket to done if nothing outstanding. Thanks
cc: @trishreimer @olisaezeh

[2021-12-23 17:00] mstanton1 commented on #10514
Bob has provided a list of director search accounts that will require access to PPR:

Bob Black (Account 498)
Bob White (Account 409)
RCMP  CITY OF SURREY CRIME ANALYSIS SECTION (Account 691)
RCMP - INTELEX (Account 501)
RCMP CIS (Account 594)
RCMP FPCOFC (Account 529)
RCMP FPNI (Account 788)
RCMP FSOC (Account 467)
RCMP KELOWNA (
RCMP RICHMOND (Account 528)
RCMP SE DISTRICT (Account 568)
RCMP TER

[2021-12-23 17:25] SateeshFW commented on #10515
This ticket belongs to assets team.

[2021-12-23 17:28] SateeshFW commented on #10514
@mstanton1 Do we need to worry about new users getting added to the above list?

[2021-12-23 17:32] SateeshFW commented on #10296
@cameron-freshworks What work do you expect from the relationships team? I believe it is handled at your end.

[2021-12-23 17:33] jyoti3286 commented on #10135
Split the tickets into two

[2021-12-23 17:38] jyoti3286 opened #10535 "SPIKE : Test the connectivity with Bank of Canada Webservices"

[2021-12-23 17:38] mstanton1 commented on #9904
Scenarios to address
1) When a public user logs in 'Registered By' column should not show details unless the registration was registered by someone in the logged on users account. From a quick test it looks like the registered by details don't show when not in the same account, but the registered by space is blank. The only change is replacing blank with 'No Available'. @chdivyareddy can you verif

[2021-12-23 17:43] mstanton1 opened #10536 "UI - Download link to should change to PDF icon when large search becomes available"
When a search is completed and more than 75 results are selected the user is presented with a message that the PDF will be available within the next 20 minutes. Initially an i icon appears to the right of the search. When the PDF becomes available the i icon should change to a PDF link.

Currently the icon is not changing when the PDF becomes available.

Remaining issue: report api service is not

[2021-12-23 17:44] jinghualicgi commented on #9835
Move to done as discussed in standup Bob has verified the result.

[2021-12-23 17:44] jinghualicgi commented on #9834
Move to done as discussed in standup Bob has verified the result.

[2021-12-23 17:45] jinghualicgi commented on #9833
Move to done as discussed in standup Bob has verified the result.

[2021-12-23 17:45] mstanton1 commented on #10536
@doug-lovett created this ticket to capture your work as per stand-up discussion.

[2021-12-23 17:47] gprimeau commented on #9848
Reg 630 is now Form 12 PPR

[2021-12-23 17:49] jyoti3286 commented on #10507
Thanks @zac-broitman .
- I agree with your thoughts on capturing the curreny as USD while they accept the money and system does the currency conversion. I have created a spike ticket to get the conversion rate from Bank of Canada.
- For refund, we should ideally push it to be always refunded in CAD $. Two reasons:
a. To keep it simple when we are refunding else we have to perform another calculati

[2021-12-23 18:02] severinbeauvais commented on #10495
The dashboard has a feature whereby it automatically expands a ledger entry... when its filing id is provided in the URL. Maybe when returning from a VD (or correction or alteration???) the id isn't present. Example of URL parameter:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/4583a0a8-8b74-483d-8923-baf17dec3e5b)

[2021-12-23 18:03] fareenr commented on #10372
22-Dec Internal memo sent to SBC Contact Centre with user guide link for BCeID additional account administrator.
Cameron clarified that Maximus owns their knowledge base and they will update KB with the specific information, so no further updates needed.

[2021-12-23 18:04] fareenr commented on #9683
Demo was provided Dec 20 and OneNote staff manual updates made for BCOL admin with detailed instructions in user guide

[2021-12-23 18:20] riyazuddinsyed opened #10537 "Status does not match on the dashboards."
**Describe the bug in the current situation**
When the user files for a VD and the status on the filings dashboard is set to be Historical then on the Businesses Registry dashboard the status of the entity is still Active.

**Impact of this bug**
All users filing the VD

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/auth/account/2079/business'
2. Login with BCREG000

[2021-12-23 18:21] gprimeau commented on #9848
First draft of Form 12 PPR is done, sent to @mstanton1 and @magszymanski for review

[2021-12-23 18:26] chdivyareddy commented on #9904
Current Behavior of the Scenarios:

1. When a public user logs in 'Registered By' details don't show when it is a different account. It leaves blank space.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/92be8a94-0d82-48e4-8b94-8d3dcee6016c)

2. I have added a Registration that was created by Staff (BRTEST5) to the public user and the 'Registered By' column space is blan

[2021-12-23 18:47] mstanton1 commented on #10514
@SateeshFW great question. Yes, it is possible other users could get added to the list above. For scope there are currently 76 director search accounts and it is possible users on any of those accounts could reach out for PPR access. If they are not paying, or revenue impact is minimal, then access via this approach would be granted.

@trishreimer were there other accounts that you are aware of wh

[2021-12-23 19:17] jinghualicgi commented on #8417
Will need Patrick Wei's support, waiting for Jan when he returns

[2021-12-23 19:18] Amitisp commented on #10317
@trishreimer I will definitely do this after the holidays. Who should I reach out to for a demo to become familiar with the service?

[2021-12-23 19:20] jinghualicgi commented on #10506
Divya will monitor and verify this later

[2021-12-23 19:22] jinghualicgi commented on #10496
This is Post Go Live, will revisit and provide est. later

[2021-12-23 19:23] Amitisp commented on #10013
@mstanton1 @magszymanski
The REVISED 'How to do a Registration' training video is on GDR for your:  review:https://drive.google.com/file/d/1sgigES9VtBsuOw1aHWX5Aq_6Fg7tR4iJ/view?usp=sharing

[2021-12-23 19:37] trishreimer commented on #10317
It's our website, not the app.
link to the test website is noted above.

[2021-12-23 19:53] mstanton1 commented on #9904
@jordiwes based upon the testing above it looks like the rules for when 'Registered By' should display are already in place. The only additional work is in spots where the 'Registered By' is not displaying it should say 'Not Available'.

If possible please implement this. If not, it can wait. Given the current functioning the high priority flag has been removed.

[2021-12-23 19:53] riyazuddinsyed opened #10538 "Wrong Businesses Not in Good Standing message for Coops"
**Describe the bug in the current situation**
Even if the company is in good standing the UI renders a message showing Unable to file the VD.
This happens when there are more than 2 outstanding ARs and if the user once files both outstanding and even if there is no AR even then the Message tends to show up.

Steps to reproduce the behavior:
1. Find a COOP with Outstanding ARs
2.complete filing all

[2021-12-23 20:01] mstanton1 commented on #9848
Review complete. Feedback has been provided to @gprimeau. @magszymanski you are welcome to scan if you'd like but not need to review this one in detail!

[2021-12-23 20:52] chdivyareddy commented on #10113
Hey @jordiwes , the first issue got fixed, but the second one still shows a validation error - when a selection is made to the payment modal and enter the details and hits 'cancel' or 'close' before submitting, then the previously selected textbox shows a validation error.

Please let me know if you have any issues reproducing it, thanks!!

![image.png](https://images.zenhubusercontent.com/60cd147

[2021-12-23 21:00] jinghualicgi commented on #9684
@olisaezeh @fareenr Can this ticket move to done ? Thanks

[2021-12-23 21:01] jinghualicgi commented on #10512
@fareenr @olisaezeh Can this ticket move to done? Thanks

[2021-12-23 21:18] fareenr commented on #9684
23-Dec BC Online old registry announcement has not been published yet. Request was sent to SBC IT Ops Support on Dec-20 but the web lead may be away or they may have decided not needed. Sent email to follow up on 23-Dec

[2021-12-23 21:20] fareenr commented on #10512
@jinghualicgi  No, waiting for P. Wei to provide report on active Account Administrators.  And draft email is under review by Olisa before it can be sent out to the Account Administrators

[2021-12-23 21:24] mstanton1 commented on #10302
**Number of Concurrent Searches in a minute**
Average: 4.34
Min: 1
Max: 24

Data set used for metrics attached here: [https://app.zenhub.com/files/157936592/690b03ec-540b-4eb1-9fb3-e58282c92ec7/download](https://app.zenhub.com/files/157936592/690b03ec-540b-4eb1-9fb3-e58282c92ec7/download)

[2021-12-23 21:34] jdyck-fw commented on #10186
Confirmed by Riyaz, we can close this and will reopen if it comes up again.

[2021-12-23 21:34] #10186 closed

[2021-12-23 21:37] jdyck-fw commented on #10505
This was likely resolved by the schema ticket that Lekshmi worked on, though we should verify.

[2021-12-23 21:38] trishreimer commented on #10309
Hi Bob,
Could we please get your assistance with getting a list of all prime and coordinator email addresses for all active accounts in BCOL? Would you mind noting who is the prime and coordinator in the spreadsheet?  I noticed the email addresses are sometimes incomplete for BCOL, which is why I want to include both the primes and coordinators. I’d rather over communicate, then miss an organizati

[2021-12-23 21:38] trishreimer commented on #10309
[Uploading... Email_Address.xlsX]

[2021-12-23 21:39] trishreimer commented on #10309
All BCOL users:

https://docs.google.com/spreadsheets/d/1plMcASnUPB1GYexrsdYXHcE501nclctn/edit?usp=drive_web&ouid=113081653513771931242&rtpof=true

[2021-12-23 21:39] jdyck-fw commented on #10537
Working as currently implemented and intended. There is still work to be done.
https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/8285

[2021-12-23 21:39] #10537 closed

[2021-12-23 21:40] trishreimer commented on #10309
draft letter: https://docs.google.com/document/d/15uaJu9oNPe3R_Ug_KY5hCarQ4KBqVGdnZFOVuPOlS0I/edit

[2021-12-23 21:42] jdyck-fw commented on #10538
Possibly a data error in Dev @riyazuddinsyed - will include business numbers to examine more closely

[2021-12-23 21:44] jdyck-fw commented on #10495
@lmcclung - Please review when you return

[2021-12-23 22:13] chdivyareddy opened #10539 "My Registry Dashboard - Undefined Tile is Displayed in TEST Env."
- [x] When I login to TEST env with BCREG0058 & BCREG2014, then an undefined Tile is displayed under "My Products and Services".
https://www.bcregistry.daxiom.ca/

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/afd37841-e67e-4fe4-b97f-4bb3564429a7)

[2021-12-23 22:14] chdivyareddy commented on #9816
Created ticket for the undefined tile in Test Env #10539

[2021-12-23 22:32] chdivyareddy commented on #10402
Verified!
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/fa059ca7-c0fb-4954-b00d-bcd749d07d7b)

[2021-12-23 22:40] doug-lovett commented on #10536
Verified in dev with my account, search id 1248.

[2021-12-23 22:41] doug-lovett commented on #9627
Large search result report is ready for QA - it can be tested with UI.

[2021-12-23 23:19] chdivyareddy commented on #10125
Hey @doug-lovett , I see payment error for SBC Staff when submitting a registration. Can you please take a look, thanks!!

Screenshot before Payment:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ee6de5d1-4efe-4f98-979f-703a5eb495c2)

Console screenshot:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b4ae9feb-bfed-42e0-939f-370f78e9fd80)

[2021-12-23 23:44] mstanton1 commented on #9850
Reviewed staff job aide with fee codes and descriptions and compared against PPSA (https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/96359_01). My interpretation of what we should charge is attached and has been sent to Amber for policy review.

[https://app.zenhub.com/files/157936592/edfb4e44-8b10-4e5d-b6ad-b8347fd17f37/download](https://app.zenhub.com/files/157936592/edfb4e44-8b10-

[2021-12-24 00:03] chdivyareddy commented on #10475
Verified!
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/757be577-85ae-4128-9adf-c62960f58975)

[2021-12-24 00:14] chdivyareddy commented on #10531
@jordiwes ,

**Current Behavior:** When a Secured Party Name/Code is entered, then the 'No Matches Found' Validation is displayed for all the entries. Please refer screenshots:

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/30b68da4-0316-475b-84c9-1d2819091df7)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f4e5702d-2fb2-4d8c-a700-8fc679f87

[2021-12-24 00:24] trishreimer commented on #10309
INC0130931

[2021-12-24 00:43] PatrickAHeath opened #10540 "PPR Court Order - Court File Number Guidance"
From Kevin's Testing Feedback:

If the BC court file numbers feature a standard format -- e.g. length, letters, numbers, hyphens, etc. – that format or pattern could be displayed as guidance

[2021-12-24 00:45] PatrickAHeath opened #10541 "PPR - Repairers Lien - Surrender Date does not support entry by typing"
From Kevin's Testing Feedback:

See also a similar comment re: Court Information – Date of Order.
a.	Surrender Date does not permit the date to be typed in. If this is intentional, I disagree.
b.	Surrender Date entry does not behave the same as Court Information – Date of Order insofar as the date picker cannot be selected and navigated by typing.
Does this meet accessibility guidelines for the vi

[2021-12-24 00:48] PatrickAHeath opened #10542 "PPR - Repairers Lien Amendment - Page Navigation not possible without a mouse"
From Kevin's Testing Feedback:

The RLA registration page does not appear to be navigable without a mouse.
When tabbing, the selection moves between “Amount and Date of Surrender” and “Add Secured Parties and Debtors”. I do not see how the user is able to navigate to the Amount of Lien field.

[2021-12-24 00:50] PatrickAHeath opened #10543 "PPR - Repairers Lien Amendment - Surrender Date guidance is inaccurate"
From Kevin's Testing Feedback:

For an RLA Surrender Date, the on-screen guidance is inaccurate. It reads:
Must be within the last 21 days
In fact, the Surrender Date must be within the last 21 days or a date in the future. Given how rare it is for the vehicle to not yet have been surrendered, this is a lot to describe in brief guidance text.
Optimally, UI guidance like this would have the ability

[2021-12-24 00:53] PatrickAHeath opened #10544 "PPR - Individual Debtor Name fields - Guidance Text required"
From Kevin's Testing Feedback:

### Description
When entering an individual debtor name as search criteria or in a base registration or amendment, the name is entered in three fields labelled as follows:
First Name
Middle Name (Optional)
Last Name
There are two issues:
a.	The “Middle Name” field is labelled as optional. This value is optional insofar as many people do not have a middle/second give

[2021-12-24 00:55] PatrickAHeath opened #10545 "PPR - Search Reports and Verification Statements - Graphic Line above Vehicle Collateral"
From Kevin's Testing Feedback:

Test reports – verification statements and search result reports – show different behaviour for presentation of Vehicle Collateral information: sometimes the header is preceded by a graphic line across the page (e.g. VSs 100366B, 100366B) but sometimes that graphic line is absent (e.g. VSs 100326B, 100521B).
It is desirable for the VS and search result report layout

[2021-12-24 01:02] trishreimer opened #10546 "OCM Communications: Email w/screenshots on how to access Business Summary to Internal Staff - SEND BEFORE GO LIVE"
- [x] advise Al Reg staff, bcol admin, bcol help desk, Admin (Rob's team), SBC Finance,

- [x] Email with screenshots on how to access it and any other relevant info

[2021-12-24 01:07] trishreimer opened #10547 "Awareness/Knowledge - Demo Business Summary functionality - Due before go live"
- [x] Demo functionality to all groups that currently use it today: bcol admin, admin, etc. - see impact assessment for details.

 we often go to stand-ups to demo but since there are additional groups/people that use it, Maybe we can invite them to sprint demo to see it?

- [x] maybe confirm with Rob Bowes if they would like more of a walk through of the application, so they have some general awa

[2021-12-24 01:11] trishreimer opened #10548 "Ensure roles/access is granted to users who need to access the Business Summary - due before go live"
Ensure bcol admin, admin and others - (see [impact assessment for details](https://app.zenhub.com/workspaces/ocm-team-space-5db37ce273e8f70001d9e2b1/issues/bcgov/entity/9671)) have access to the business summary

- [x] BCOL Admin team (Wendy.Flynn@gov.bc.ca)
- [x] Admin team (Rob.Bowes@gov.bc.ca )
- [x] SBC Finance (Lisa Nichols and Karen Berben)
- [x] BC Registries business units (Cameron Wulff)

[2021-12-24 01:15] trishreimer opened #10549 "Review and Update Staff OneNote for Business Summary - Due by Go live (Jan27)"
Minor updates may be needed for search team, etc.
please check impact assessment for details.
@cwulff1 would you or someone on your team mind assisting w/this pls?

[2021-12-24 01:31] trishreimer commented on #10328
Im not sure how many reminder email tasks we have or what is needed. Just assigning this to you, so it does not get dropped.

could you please ensure we do not send any emails the first week of January?

We are sending a mass email that week.

[2021-12-24 01:33] chdivyareddy opened #10550 "Registries/BCOL Help Staff - Remove the Secured Party Restriction for the Crown Charge Registrations"
-  For the Crown Charge Registrations 'Secured Parties' should be associated with the Staff user groups, because no Secured Parties are displayed in the list right now for the Registries/BCOL Help staff.

**Current Behavior:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/7e97a236-9ff1-4ab7-a430-2d20d7daf400)

[2021-12-24 01:38] trishreimer opened #10551 "Advise staff & users that login with IDIR or BCeID that at an ADMIN can be added to more than one account now (Feb 2022 or when it's ready)"
- [ ] Sandy Huisman - requested this access - see engagement mailbox - pls follow up

- [ ] @Maribeth-Wilson would you mind scanning the engagement mailbox to see if anyone else requested this access?

- [ ] send email to all BCeID admins since we heard some of these users were requesting this functionality.

As an Agile organization, BC Registries is continuously improving the new modernized appl

[2021-12-24 01:39] #9788 closed

[2021-12-24 01:50] trishreimer commented on #10254
Will we have this functionality in place for Jan 25th @jyoti3286 If so, would you mind working with @Maribeth-Wilson  on communications to Wendy and users who requested this change if it is going to prod?
see spreadsheet for list of ministry users with non gov.bc.ca email addresses

[2021-12-24 01:55] trishreimer commented on #10317
@Maribeth-Wilson would you mind reviewing the content on the website in detail over the next couple of weeks? Not a super high priority but in between other things, if possible? thanks

[2021-12-24 01:55] trishreimer commented on #10317
if there are broken links though, let's fix those asap

[2021-12-24 01:57] trishreimer commented on #10351
@Maribeth-Wilson could you pls work on this one right away?
@jyoti3286  put the changes in prod but feature flagged.

We will need to advise staff about this change before we communicate externally.

[2021-12-24 01:58] trishreimer opened #10552 "#1 priority Send email to internal users to advise them of the non-ministry gov users 'tick box' to be non-min account - could be included in release notes (DUE NOW)"
- [ ] need to explain who would use it and why it is there, include a screenshot.

- [ ] these are release notes, so pls coordinate with other teams to see if anything else needs to be included in the notes, then send to IT Ops for distribution.

- [ ] once completed, send external comms to non-min users (see other tix for details)

value of communicating this to non-min users is so they tick the

[2021-12-24 03:52] karthik-aot commented on #9927
https://github.com/bcgov/fas-ui/pull/115

[2021-12-24 15:29] PatrickAHeath opened #10553 "PPR - Secured Party Email Address and Party Code not displayed on Verification Statement"
From Kevin's Testing Feedback:

The SP email address and the party code used to enter the SP data are not displayed in the verification statement. This means that the verification statement cannot be used to verify that the registration data has been fully entered and retained within the PPR including as intended by the registering party (for example, to confirm that it will be possible to change

[2021-12-24 17:25] cameron-freshworks commented on #10474
Looks like it's all done with Review and ready for merge but will wait for confirmation.
I will be back on Jan 10th but feel free to take it over or merge or wait. :)

[2021-12-24 17:48] jyoti3286 opened #10554 "Ability for multiple Accounts for IDIR users"
As an IDIR Admin/Coordinator/User
I want the ability to be part of multiple accounts
So that I can manage multiple accounts under my Business//Organizations

*** Scenario 1: IDIR users can accept multiple invites for different accounts with the same IDIR **
- GIVEN
- WHEN
- THEN

** Scenario 2: IDIR users can be invited by their admins for different accounts **
- GIVEN
- WHEN
- THEN

[2021-12-24 17:48] jordiwes commented on #10113
@chdivyareddy - this last fix needs to be made to the shared component. perhaps another ticket? for the record this is the fix in the shared component:
inside onPaymentOptionChanged
case StaffPaymentOptions.NONE:
        this.$refs.bcolForm.resetValidation()
        this.$refs.fasForm.resetValidation()
        break

[2021-12-24 18:04] lekshmimallika-aot opened #10555 "Certificate of name change not getting generated for a named to numbered company alteration"
For an **alteration** with a name change, always update the filing meta with name change info. This is currently missing for named to numbered company alteration.

Verify that this works as expected for **correction**.

Verify that the name change gets updated in filing meta for following scenario

1. Name change using NR
2. Name to Numbered company alteration
3. All **correction** name change sce

[2021-12-24 18:11] lekshmimallika-aot opened #10556 "Alteration (Name Change) - Old business name is displayed in NOA"
After a company name alteration, the NOA displays the old business name.

Fix:
Update the business legal name in the process method of the filer rather than post process

Verify that NOA shows the correct business name

Cc: @thorwolpert

[2021-12-24 18:25] chdivyareddy commented on #10536
Hey @doug-lovett , I have done searches in DEV with my account (2753), Please take a look at the following:

- KEBET HOLDINGS LTD - Results Selected(65) & exact matches(62) - Unable to open PDF document (Search was done on December 24 around 9:47 am)
- David Smith - Results Selected & exact Matches (117) - Icon is not changing to PDF link (Search was done on December 24 around 8:43 am)
- DFC AUTO

[2021-12-24 18:32] lekshmimallika-aot opened #10557 "Certificate of Name Change showing incorrect data"
Certificate of name change displays the current legal name as the old and new name. This needs to get fixed.

Change the code to fetch the data from filing meta for certificate of name change

Cc: @thorwolpert

[2021-12-24 18:52] doug-lovett commented on #10125
I see a pay api permission error submitting payment requests for this account. I will follow up with Sumesh next week.

[2021-12-24 22:23] chdivyareddy opened #10558 "Registry Staff - Payment Modal Issue"
- [x] When a selection is made to the payment modal and enter the details and hits 'cancel' or 'close' before submitting, then the previously selected textbox shows a validation error.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ece6694b-2aab-42b3-a877-22874312cddb)

**Comment from Steph:**
- This fix needs to be made to the shared component. perhaps another ticket?

[2021-12-24 22:24] chdivyareddy commented on #10113
Created ticket for the shared component #10558

[2021-12-25 00:30] PatrickAHeath opened #10559 "PPR - View Amendments link on My Registrations table"
From Kevin's Testing Feedback:

The link to hide or display “child” registrations for a base registration are:
View Amendments  /  Hide Amendments
But a child registration may be a renewal or discharge as well as an Amendment.
RECOMMENDATION: Consider revising links to read:
View History  /   Hide History
or
View change statements / Hide change statements

[2021-12-25 00:34] PatrickAHeath opened #10560 "PPR - Amendment Verification Statement - General Collateral text runs into following notice text"
From Kevin's Testing Feedback:

The following notice text appears to alert readers of an Amendment VS:
Only registration information that has been changed is displayed for this amendment. View the Current Registration Information at the beginning of this report for complete registration details.
This text immediately following General Collateral text, so it may be mistaken for GC text or just miss

[2021-12-25 00:38] PatrickAHeath opened #10561 "PPR - Amendment - No option to add Registering Party as Secured Party"
From Kevin's Testing Feedback:

When amending the registration, I am not given the option that is available in a base registration to add a secured party that is the same as the registering party.

[2021-12-28 02:06] doug-lovett commented on #10536
@chdivyareddy The UI is behaving correctly with regard to this ticket. Here are the results of my investigation:
1. KEBET HOLDINGS LTD has 65 financing statements - it is not a doc storage search. Timeout after 30 seconds in DEV: results have 65 financing statements, takes about 39 seconds to complete.
I updated the timeout to 50 seconds so you can see that the report generates. We need to either

[2021-12-28 15:35] chdivyareddy commented on #10536
@doug-lovett , I have verified the above search results for KEBET HOLDINGS LTD & David Smith, which are working fine for me, and raised an issue for DFC AUTO LTD, TELUS COMMUNICATIONS INC.
- I have also noticed that when a search is done if the "Results Found" are more than 1000, then we can only select a maximum of 1000 Results.
Eg: TELUS COMMUNICATIONS INC, RAVINDER SINGH
![image.png](https://im

[2021-12-28 15:35] chdivyareddy opened #10562 "PPR Search - Request with 990/1000 results is returning a 502 error"
- When a search is done against Business Debtor "DFC AUTO LTD", "TELUS COMMUNICATIONS INC", then report-api request with 990/1000 results are returning a 502 error. It may need prod like resources for PPR testing.

[2021-12-28 21:55] chdivyareddy commented on #10462
Hey @jordiwes , When an Aircraft Airframe Number (C-GPWL) with hyphen is searched, then it is automatically converted to without hyphen in the search results and exact matches select from the ones without hyphen. Please take a look at the following examples below:
- C-GPWL, C-GKHB, 28R-7235050
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/37510a22-c466-490d-a857-319f16

[2021-12-28 22:00] lekshmimallika-aot commented on #10556
The estimate includes the time  spent in analysing multiple issues in alteration reports

[2021-12-29 16:36] chdivyareddy opened #10563 "PPR - Display Registration Length on Discharge when the Total Years greater than 25"
-  When a Registration is created (Forestry - Sub-contractor Charge) Registration for 25 years, and then did a Renewal for 5 Years, Days to Expiry on the table shows 29 years 351 days, but the Registration Length on the Total Discharge Screen shows as 'Not Valid’

- Registration Number: 100254B (TEST Env)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/4867cf2d-7f39-44e

[2021-12-29 18:20] chdivyareddy opened #10564 "PPR Search - Restricted to Select Maximum of 1000 Results"
- [ ] When a search is done against large results of more than 1000, then user can only select a maximum of 1000 Results.
Eg: TELUS COMMUNICATIONS INC, RAVINDER SINGH

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/fa083e40-068e-48c0-a230-55d05ebb4a18)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b9f5b184-e48c-4584-a50c-3db6b8c86383)

[2021-12-29 18:54] Maribeth-Wilson opened #10565 "Jan 20th Info Session Prep - due Jan 19th"
Jan 20th Info Session - due Jan 19th - Update slides, Logistics and possible follow up work
 Update presentation -date on title slide
https://docs.google.com/presentation/d/15CDTcbdiDsZv43KuONdq65d6o3On0PRg/edit

 Confirm Carol's availability for Modernization Overview

 Follow up with clients questions from session - make a note of any that we need to follow up on.

 Review attendees list and con

[2021-12-29 18:56] #10565 closed

[2021-12-29 19:06] gprimeau commented on #9849
REG 627 is now Form 13 PPR

[2021-12-29 19:08] gprimeau commented on #9848
@mstanton1 changes have been made

[2021-12-29 20:23] chdivyareddy commented on #10125
Hey @doug-lovett , I see payment error for SBC Staff (BRTEST5) for Search and Registration. I tried submitting a Registration around 12:15 pm. Can you please take a look, thanks!!

[2021-12-29 21:22] doug-lovett commented on #10125
@chdivyareddy Sorry Divya, I tested with BRTEST1 this morning. The issue is still with the pay api, not the ppr api. I am submitting a PPR registration payment request to the dev pay-api directly and seeing an error with the the BRTEST5 credentials. I will follow up with Sumesh.

[2021-12-29 21:52] #10383 closed

[2021-12-29 23:08] chdivyareddy commented on #10113
Moving this story back to staging, will be verified once #10125 is fixed.

[2021-12-29 23:33] fareenr commented on #10243
29-Dec demo'd new Non-Gov Access Type field to Wendy. More detailed demo planned for Jan 4 when Cheryl is back with 2 others from BCOL Admin

[2021-12-30 00:30] Maribeth-Wilson commented on #10552
The attached draft could either be included in the corresponding release notes or sent out on own depending on timing: https://docs.google.com/document/d/1-_iQB5lPcFb8MTb8wIYHr0F8-HnlxQRD/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

Please advise when release note will be sent out and if doc should be included. Thank you.

[2021-12-30 16:07] PatrickAHeath commented on #10163
@mstanton1 If the online maintenance will not be implemented as part of go live but the form must be on the website, the first bullet should be adjusted to indicate that the changes must be made by Registries Staff and the form must be completed and mailed in.  Is an original signature required?  If not, is emailing the form OK?

[2021-12-30 16:44] #10491 closed

[2021-12-30 16:45] lmcclung commented on #9731
@riyazuddinsyed has confirmed QA testing is done @jinghualicgi
Moving back to new issues in Entities team space as Entities work is complete

[2021-12-30 17:37] lmcclung commented on #10497
Needs some datafixes in prod to the version tables.
Rest being done under 10555 & 10557.

[2021-12-30 17:38] lmcclung commented on #10497
Might need @rarmitag help with Datafixes.

[2021-12-30 18:10] rarmitag commented on #8495
1) So the correction was done by a service account, so us.
2) What specifically would you like me to suppress?
3) To data fix the IA filing, the legal_Type needs to change which then changes it's designation

[2021-12-30 18:24] rarmitag commented on #8495
So that means the way the dashboard presents the IA message may need to change. I will investigate other IA's that have altered to BENs.

[2021-12-30 18:49] Maribeth-Wilson commented on #10317
Reviewed pages, found some items requiring updates.  Details here: https://docs.google.com/presentation/d/1QGGI8e2dH9eD6eLtGzb30eu6FlXUHE97/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

[2021-12-30 18:52] Maribeth-Wilson commented on #10216
I reviewed the pages today and found some items requiring updates. Details here: https://docs.google.com/presentation/d/1QGGI8e2dH9eD6eLtGzb30eu6FlXUHE97/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

[2021-12-30 18:52] rarmitag commented on #8495
Verified - same thing happens to - BC1208638 it's IA say Benefit Company even though it altered to one.

[2021-12-30 19:41] Maribeth-Wilson commented on #10317
all items updated (thank you Gen)., moving this ticket to 'Done'

[2021-12-30 19:43] Maribeth-Wilson commented on #10216
All Mod pages have been updated. Opening a new ticket to capture changes need to BCregistries.ca pages (BC Reg app). Ticket #

[2021-12-30 19:47] Maribeth-Wilson commented on #10216
Moving this ticket to Done

[2021-12-30 19:50] Maribeth-Wilson opened #10566 "OCM - BCregistries.ca application- Update references to Mobile Card to BC Services Card App & fix broken links - DUE immediately"
Review BCRegistries.ca application content and update references to the Mobile Card and Services Card.

Use BC Services Card app for the mobile card app. We can still use the BC Services Card when referring to the actual card.

New links: https://www2.gov.bc.ca/gov/content/governments/government-id/bcservicescardapp/setup

[2021-12-30 19:52] Maribeth-Wilson commented on #10566
Reviewed pages and found some items requiring updates. Details here: https://docs.google.com/presentation/d/1kRw4dwFMa9XHVUWYsivxLmhyrFPDnAVh/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

[2021-12-30 21:02] severinbeauvais commented on #8495
Please verify where the filing title comes from. It might be all from the API .(I can't remember if the UI builds the subtitle.)

[2021-12-30 21:50] lmcclung opened #10567 "Onboarding of Coop students (x2)"
**Onboarding checklist for new team members**

**IDIR**
- [ ] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [ ] Submit to IT Operations Support. This form should be emailed to the Registries Executive Assistant. Currently this role is held by Michael Leung.

-----------------

**Legacy Ap

[2021-12-30 21:51] lmcclung commented on #10567
@lmcclung to provide more info once names known.  Also, she or David McKinnon will submit onboarding forms to IT Ops.

[2021-12-30 23:28] fareenr commented on #10243
30-Dec - demo'd full workflow from user perspective to staff dashboard and payment setup to Wendy and BCOL Admin team

[2021-12-30 23:34] fareenr commented on #10354
30-Dec awaiting report to be created of new Non-Ministry accounts already created in new registry web application (lower priority for dev team since data cleanup can be done after).  Job aide contains instructions for BCOL admin staff on how to change the access type to other govt agency after they receive the report.

[2021-12-30 23:35] fareenr commented on #10239
30-Dec created job aide for BCOL Admin and sent to Wendy for review and approval

[2021-12-31 01:08] Maribeth-Wilson commented on #10552
Email sent, moving ticket to DONE.

Please find final draft here: https://docs.google.com/document/d/1i2qOtr7smHiwVU2hBFvB47_zxORws4Ye/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

[2021-12-31 17:20] lmcclung opened #10568 "Legal API - alteration filing codes"
### Background
Client incorporated benefit company, then did an alteration to change company name.  See Ops #214 - BC1335321
When filing went back to oracle and was sent over to Orgbook, it was issued a new credential showing it changed from a Limited to Benefit company (when it was only just a name change).  Want to confirm we're mapping the correct filing types.  Looks like this name change alte

[2021-12-31 18:41] mstanton1 commented on #10163
Good catch @PatrickAHeath! I am updating the comment above with instructions to include two versions. One for launch, and the existing version to be implemented at a later time.

[2021-12-31 19:11] fareenr commented on #10512
31-Dec Email is approved by Olisa and Kaine.  Trying to track down who can provide the query from Prod for list of account admin since Pat is away. Olisa to follow up with Bob.

[2021-12-31 19:58] magszymanski commented on #10013
Hi all, I took a look at the Registration video and it still is missing relevant information which is a bad on our part. Thank you Amitis for putting in all the work - I leveraged your script and expanded on it to recreate the video.

Video is located here: https://drive.google.com/file/d/1PmCJmsmBTkypkLtF6dou4G7sSRPjP3pi/view?usp=sharing

With search and registration done, we are in good shape as

[2021-12-31 23:44] PatrickAHeath opened #10569 "PPR - Base Registration Verification Statement has updated Expiration Date after Renewal"
Feedback from Kevin's Testing:

After a renewal, the base registration’s VS PDF is updated to feature the new expiry date without any indication that the VS being presented is different from the original version of the base VS. That is, there is no indication that the registration has been the subject of a renewal.

If this behaviour is intentional, it may be acceptable, but if so there should be

[2021-12-31 23:52] PatrickAHeath opened #10570 "PPR - Amendment UI displays Expiration Date in local time zone"
From Kevin's Testing Feedback:

On amending the registration, the UI displayed the expiry date and time in the Atlantic time zone instead of Pacific, i.e. “December 11, 2025 at 3:59 am” instead of “December 10, 2025 at 11:59 pm”. The Atlantic value was displayed both in the page header and in the body.

![Circuit test - amend UI showing expiry in Atlantic time zone.jpg](https://images.zenhubuserco

[2022-01-04 16:04] fareenr commented on #10354
4-Jan - note that the Jan 4 Non-Ministry Govt release does not include the functionality for BCOL Admin to edit payment fees for existing accounts, this will be released later this month (Date unknown at this time). BCOL Admin can only edit access type under account to Non-Ministry but cannot edit payment fees as yet.

[2022-01-04 16:24] magszymanski commented on #10262
I've created a [PPR Google Site](https://sites.google.com/bcdevexchange.org/bcppr/home) that could serve as a Training center for all internal staff (including ticket 10261).

[2022-01-04 16:26] magszymanski opened #10571 "Send to staff: PPR "Info Center" - Due Jan 19"
Created [Google Site PPR "Info Center"](https://sites.google.com/bcdevexchange.org/bcppr/home) that can serve as a training hub for internal stakeholders.

- [ ] communicate Info Center to staff who require it as part of their training

[2022-01-04 16:27] magszymanski commented on #10571
Created [Google Site PPR "Info Center"](https://sites.google.com/bcdevexchange.org/bcppr/home) that can serve as a training hub for internal stakeholders.

[2022-01-04 16:39] jinghualicgi commented on #10571
@mstanton1 @Kaineatthelab Please take a look at this PPR "Info Center" link. thanks

[2022-01-04 16:59] doug-lovett commented on #10125
@chdivyareddy From Sumesh:
that account doesn’t have PPR product; you can go to account settings, and add the PPR from product settings page.
Payment works after the above change.

[2022-01-04 17:04] zac-broitman commented on #10529
@rkim13103 We will need updated content for these emails, just changing the context from a New Account to an Additional Admin

[2022-01-04 17:06] #9633 closed

[2022-01-04 17:12] #9767 closed

[2022-01-04 17:13] eve-git commented on #9767
The code changes have been reviewed and merged. It is a unit test case and no need to test. Close the ticket.

[2022-01-04 17:19] tlebedovich commented on #10508
@chdivyareddy - This is a bug ticket so it makes sense to pass this along to you to verify all instances/tables wrapping and send any missing items back to @jordiwes (or dev folks) to fix before closing this ticket.

At quick glance (I did not review all table instances), I saw these items were not fixed and are still getting cut off instead of wrapping:

change of registering party:
![Screen Shot

[2022-01-04 17:23] zac-broitman commented on #10476
@rkim13103 Can you attach the designs to this ticket?

We should also scan for other places where branch name could be added to Agency name to help with identification.

[2022-01-04 17:50] tlebedovich commented on #10235
In Progress UXA notes:

- [ ] remove "BC Benefit Company" from Voluntary Dissolution breadrumb (and "Voluntary Dissolution" subtitle under entity name) as per design -> https://invis.io/4U1217Y2S8TC#/461385640_06-_Existing_Entity_Header_And_Breadcrumb_States

![Screen Shot 2022-01-04 at 9.45.10 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/a1e7153a-3f55-421b-ac36-aeb4019a02

[2022-01-04 17:58] gprimeau commented on #9849
@mstanton1 @magszymanski Draft 1 of Form 13 completed.
https://assets.adobe.com/id/urn:aaid:sc:US:98b443df-47e9-4f51-98bf-55306501cd52?view=published

[2022-01-04 18:05] tlebedovich commented on #7007
to note for breadcrumb testing @riyazuddinsyed - for now we have replaced "BC Registries Dashboard" with "Business Registry Home" as the top level of the breadcrumb until we migrate action buttons from marketing homepage to the My Business Registry page. Once action buttons are migrated, we can update the breadcrumb to have the "uber" BC Registries Dashboard as the top level in the breadcrumb

des

[2022-01-04 18:06] tlebedovich commented on #10235
to note for breadcrumb testing @riyazuddinsyed - for now we have replaced "BC Registries Dashboard" with "Business Registry Home" as the top level of the breadcrumb until we migrate action buttons from marketing homepage to the My Business Registry page. Once action buttons are migrated, we can update the breadcrumb to have the "uber" BC Registries Dashboard as the top level in the breadcrumb

des

[2022-01-04 18:07] tlebedovich commented on #10233
to note for breadcrumb testing @riyazuddinsyed - for now we have replaced "BC Registries Dashboard" with "Business Registry Home" as the top level of the breadcrumb until we migrate action buttons from marketing homepage to the My Business Registry page. Once action buttons are migrated, we can update the breadcrumb to have the "uber" BC Registries Dashboard as the top level in the breadcrumb

des

[2022-01-04 18:07] tlebedovich commented on #10234
to note for breadcrumb testing @riyazuddinsyed - for now we have replaced "BC Registries Dashboard" with "Business Registry Home" as the top level of the breadcrumb until we migrate action buttons from marketing homepage to the My Business Registry page. Once action buttons are migrated, we can update the breadcrumb to have the "uber" BC Registries Dashboard as the top level in the breadcrumb

des

[2022-01-04 18:16] gprimeau commented on #10346
Reg - 631 is now Form 14 PPR

[2022-01-04 18:32] tlebedovich commented on #8822
UXA Notes -
- [ ] Custodian of Records display is missing the display of the email address as per design comp:
![Screen Shot 2022-01-04 at 10.11.08 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/7a8024b8-6cc6-4559-af43-575ce17ae52b)
- [ ] I entered a middle name for the custodian of records, but the middle name is not getting displayed on the dashboard - is this intentional

[2022-01-04 18:34] Maribeth-Wilson commented on #10334
Additional notes:
- test Google meetings to ensure required functionality is in place
-  prior to start of info session, test audio and ensure required OCM staff are able to communicate in session

[2022-01-04 18:39] zac-broitman commented on #10507
Sounds good @jyoti3286 I'll clear this with them in tomorrow's meeting

[2022-01-04 18:50] jinghualicgi commented on #9848
@mstanton1 Melissa, please review this again when you have time, thanks
Thanks Gen for your hard work! @gprimeau

[2022-01-04 18:55] chdivyareddy commented on #10125
Verified in DEV for BRTEST5 credentials (Created Registrations: 100587B, 100588B).

[2022-01-04 19:08] jinghualicgi commented on #10512
As discussed in our meeting, I will assign this task to Olisa, and remove Kaine and Patrick Wei from assignees.
@olisaezeh Olisa, please let me know if you want me to do any follow-up, thanks

[2022-01-04 19:08] ozamani9 commented on #5842
Confirmed with Riyaz this is no longer a bug.  it has been fixed already.

[2022-01-04 19:08] #5842 closed

[2022-01-04 19:10] jinghualicgi commented on #10239
Hi, I move this ticket to Review Pipeline, since its waiting for review comments, thanks

[2022-01-04 19:46] fareenr commented on #10239
4- Jan this has been reviewed and approved by Wendy.  Just waiting for confirmation on when this will be deployed (by Jan 4 or 5?).
Final Job Aide for BCOL Admin for Non-Ministry Govt accounts saved here:
https://docs.google.com/document/d/14tw6Gz_wIAJDghz-ng6X3_M_Cp3pmdFg/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-01-04 19:52] ozamani9 commented on #6019
When a user clicks on download receipt, a payment summary appears and a new button appears "Download PDF".  When this button is clicked, a loading indicator spins in the button and the receipt has been downloaded.
![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/c1b2bb24-46ce-4d50-9b38-c82085ec8a45)

this is no longer an issue.  can i close ticket.  @severinbeauvais

[2022-01-04 20:15] tlebedovich commented on #10221
@forgeuxGH5 - to update wording of Unsaved modal - "Search Result Report Not Generated" "You have not generated a search result report..." + button updated to "Generate Search Result Report and Exit"

[2022-01-04 20:15] severinbeauvais opened #10572 "Filing UI: re-architect filing to reduce duplicated code"
_I'm still writing this... SB_

[2022-01-04 20:16] severinbeauvais commented on #9530
The SonarCloud Code Analysis check is failing due to code duplication in AR/COA/COD/CORR filings as they are similar (and always have been but I just touched their code).

I do not know any easy or clean solutions to this issue, but I did a bit of research and it appears some solutions are becoming available. This work will be in a future ticket: [10572](https://app.zenhub.com/workspaces/entities-

[2022-01-04 20:32] jinghualicgi commented on #9626
As discussed in Jan3rd standup, have finished all document repo tasks, will move all document repo tickets to done. Only exception is one bug, will tracking under ticket 10536

[2022-01-04 20:33] jinghualicgi commented on #9710
As discussed in Jan3rd standup, have finished all document repo tasks, will move all document repo tickets to done.

[2022-01-04 20:33] jinghualicgi commented on #9628
As discussed in Jan3rd standup, have finished all document repo tasks, will move all document repo tickets to done.

[2022-01-04 20:33] jinghualicgi commented on #10277
As discussed in Jan3rd standup, have finished all document repo tasks, will move all document repo tickets to done.

[2022-01-04 20:34] severinbeauvais commented on #6019
I just verified this in Dev. There is indeed a loading indicator on the button when it is clicked. Great! This ticket can be closed.

[2022-01-04 20:36] jinghualicgi commented on #9627
As discussed in Jan3rd standup, have finished all document repo tasks, will move all document repo tickets to done.

[2022-01-04 21:14] PatrickAHeath opened #10573 "PPR - SBC Staff -UI Search cost doesn't match cost in Transaction list"
**Describe the bug in current situation**
When logged onto PPR in DEV with the SBC Testing IDIR (BRTEST5) and performing a search, the cost displayed on the UI is $10.  Once the Search is complete, the Transaction List for the userid displays the cost as $8.50, which is the charge for a client performing the search.

If the financial charge for a PPR Search performed by SBC staff for a client is h

[2022-01-04 21:16] magszymanski commented on #10013
@Amitisp  @mstanton1  -- I will be including [a link for these videos](https://www2.gov.bc.ca/gov/content?id=24AD14FE2AF348F88B8FF977A057E5CE) for BCOL PPR users in my next mass communication that is going out on January 11 to 3500~ users so that they can begin seeing the new PPR functionality prior to release date -- which makes me realize that we should have them done and uploaded (to YouTube an

[2022-01-04 21:34] tlebedovich opened #10574 "Voluntary Dissolution - Custodian of Records missing email and middle name on entity dashboard"
When a Voluntary Dissolution is filed, the Custodian of Records information displays on the upper right hand side. It is missing the following the required information:

- [ ] I entered a middle name for the custodian of records, but the middle name is not getting displayed in the COR component on the dashboard - middle name should display if it was entered.

- [ ] Custodian of Records display is

[2022-01-04 21:35] tlebedovich commented on #10574
@lmcclung - here is the new ticket for the missing COS items

[2022-01-04 22:12] fareenr commented on #10286
4-Jan - initial draft for internal communication saved in this folder:
https://drive.google.com/drive/folders/15Xt-4cLG7kO0kMyBO-nRUYlFOZQtk3TC?usp=sharing

[2022-01-04 22:15] fareenr commented on #10354
Non-Ministry Govt account indicator to be released 5-Jan but will not include the following:
 this will not include the following features, so BCOL admin will not be able to edit the Access type or Payment fees for any existing non-ministry government accounts yet:

- Ability for BCOL Admin to switch a Premium account to Non-Ministry (ticket #10255)

- The ability to change product fee and stat fe

[2022-01-04 22:29] cwulff1 commented on #10571
Hi @magszymanski, I am going to give this to Sharon and Laurie.  Do you need their help with adding information to the redirects?

[2022-01-04 22:47] ozamani9 commented on #6019
Verified that this is no longer a bug.  Ticket will be closed

[2022-01-04 22:47] #6019 closed

[2022-01-04 22:56] fareenr commented on #9684
Now updated on BC modernization news webpage to add additional Administrators:
https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization

[2022-01-04 23:52] zac-broitman opened #10575 "FAS - Additional Role Permissions"
**Acceptance Criteria**

**Scenario 1: Supervisors can not approve their own refunds**
* GIVEN ... a user is a supervisor
* WHEN ... they request a refund for a routing slip
* THEN ... that user should **not** be able to approve that same routing slip

**Scenario 2: Supervisors can only edit the Cheque Advice**
* GIVEN ... a routing slip is in the Refund Requested state
* WHEN ... a supervisor rev

[2022-01-04 23:53] magszymanski commented on #10287
@Maribeth-Wilson: API comms to add to BCOL Announcement request (can go last in list of announcements)

Title:
Update for API users: New Personal Property Registry coming January 25, 2022

[https://app.zenhub.com/files/157936592/1419e6ae-8d9e-421e-af52-00dbed832bde/download](https://app.zenhub.com/files/157936592/1419e6ae-8d9e-421e-af52-00dbed832bde/download)

[2022-01-04 23:56] #9384 closed

[2022-01-04 23:57] #10494 closed

[2022-01-04 23:57] #10415 closed

[2022-01-04 23:57] #9350 closed

[2022-01-04 23:57] #9987 closed

[2022-01-04 23:57] #10505 closed

[2022-01-05 00:00] yuisotozaki commented on #10220
@tlebedovich
The wireframes are up to date with all the BA/SME/Design inputs. I'd like to get meet this week to go over the wireframes for hand-over.

[2022-01-05 00:21] lmcclung commented on #10574
Thanks @tlebedovich - I need to check with staff - maybe we don't want email displayed on the entity dashboard.  And middle name isn't a huge deal on the dashboard as it's on the output.

[2022-01-05 00:21] chdivyareddy commented on #10508
Hey @jordiwes , Text of Registering Party on Step2 and Registering Party, Secured Parties & Debtors on Step4 cuts off instead of wrapping. Please refer to the above screenshots attached by Tracey, thanks!

[2022-01-05 00:24] lmcclung commented on #10574
@tlebedovich can you also confirm whether the email is on the output?

[2022-01-05 00:29] Maribeth-Wilson commented on #10286
Hi Farren, I removed my name from this ticket and am moving it to Review. Thank you for your help!

[2022-01-05 00:30] Maribeth-Wilson commented on #10286
This email will need to be sent out as soon as possible as emails to all BCOL users will start tomorrow. Thank you

[2022-01-05 00:32] Maribeth-Wilson commented on #10352
Removing my name from this ticket and assigning @fareenr - thank you Fareen

[2022-01-05 00:35] Maribeth-Wilson commented on #10566
@JohnamLane can the Relationships team please assist with this ticket? Thank you

[2022-01-05 00:46] tlebedovich opened #10576 "UXA feedback/updates for breadcrumbs"
This is the UXA feedback for breadcrumbs that wasn't done before it went live:

### Shared Component Update:
- [x] back arrow icon should be the link blue colour #1669BB. It currently looks like this:

![Screen Shot 2022-01-05 at 11.02.38 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/ef2c8c30-d6e5-4cbf-870e-f513ffd21c38)

- [x] circle arrow should be deactivated when user i

[2022-01-05 01:23] tlebedovich commented on #10574
@lmcclung -
1. The middle name shows up in the output. Kind of strange it doesn't appear in the UI.
2. Email does not show up in the outputs (email was not included in the output design). Should it?
I thought I recall a conversation that we wanted to display the email in the UI so that we had contact information for the COS since the business contact email may get outdated. Not 100% sure though, b

[2022-01-05 01:34] lmcclung commented on #10574
@tlebedovich
email shouldn't show up anywhere that the public can obtain it - so no, shouldn't appear in the outputs.
I'll check with staff, but I think we still need to make both these changes on the dashboard.

[2022-01-05 01:47] tlebedovich commented on #10574
to note @lmcclung  - we do display middle names for Directors on the right side:
![Screen Shot 2022-01-04 at 5 44 32 PM](https://user-images.githubusercontent.com/2207887/148147633-8ebd4f0f-783c-4efe-aceb-d5113d13e97c.png)

[2022-01-05 01:48] lmcclung commented on #10368
@thorwolpert can I close this, now that you've done CP0002200?

[2022-01-05 02:08] tlebedovich commented on #10205
@doug-lovett - here is my UXA - updates are for both versions:

- [ ] logo text in these outputs looks lighter than the logo in our other outputs - it should be exactly the same. here is a comparison:

![Screen Shot 2022-01-04 at 5.55.57 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/303d8d5d-8f7c-4392-a218-427b8b72c7b7)

- [ ] background should have the official stamp water

[2022-01-05 02:12] Amitisp commented on #10013
@magszymanski @mstanton1 @trishreimer 'How to Use and Customize the Registrations Table' training video is on GDR for your review:
https://drive.google.com/file/d/1ChlQwaE28GIoNfz-fWoLaCnZKVu0w5Og/view?usp=sharing

[2022-01-05 02:14] Amitisp commented on #10013
@magszymanski I will have all videos done by end of this week.

[2022-01-05 02:46] magszymanski commented on #9849
Thanks @gprimeau!  I reviewed and added comments. Adding @mstanton1 so she can review when she has a min.

[2022-01-05 03:26] magszymanski commented on #10346
Thanks @gprimeau :) I've added comments to the Adobe link

[2022-01-05 03:37] magszymanski commented on #10013
@Amitisp thanks for providing the fourth video (Use and Customize). The one thing I noticed is in the "what we will cover" and conclusion slides where you have "_Customizing the_" italicized.
Let's wait for @mstanton1 to have a look before making changes in case she has more feedback. Melissa, not sure if it's worthwhile to actually add/remove other columns in the table to show how easy it is to c

[2022-01-05 03:53] Amitisp commented on #10013
@magszymanski no problem. I recorded it in segments so modifying it won't be an issue.

[2022-01-05 04:20] magszymanski commented on #10013
@Amitisp I have the next script ready for you - Renewal - https://docs.google.com/document/d/1kNMoaALsDcz0Pi64iGB30mbTdTJgQb_2/edit
I would like to stop at that one for now so that Melissa has time to provide feedback - so that we don't have to redo too much :)

[2022-01-05 05:39] forgeuxGH5 commented on #10221
@tlebedovich updated modal and Cancel interaction

[2022-01-05 16:01] argush3 commented on #9037
Created voluntary dissolution filing for benefit(BC0922452) company in Test.

Darci Denis is currently testing with this company.  Although it seems like the voluntary dissolution did go through properly, there are some potential issues which I've listed below.  It will need to be determined whether these are show stoppers for the release.  Darci also needs to follow up with Systemscope regarding

[2022-01-05 16:46] ozamani9 commented on #10195
Applied nginx security headers to NameRequest UI.  please open up F12 Dev Tools for testing.  Make sure application has access to all web pages and no access errors occur

[2022-01-05 16:47] sumesh-aot opened #10577 "Tel Aviv address throwing error on account creation"
Bug created per https://github.com/bcgov-registries/ops-support/issues/250

[code]

[2022-01-05 16:53] cwulff1 commented on #10287
This looks really good team

[2022-01-05 16:58] zac-broitman commented on #10577
Comes from [Ops ticket 250](https://github.com/bcgov-registries/ops-support/issues/250)

[2022-01-05 17:10] mstanton1 opened #10578 "API - Report Change"
Change text 'Registrations in this Report: 11' to '12 Matches in 11 Registrations' to indicate number selected (number of rows) vs actual unique registrations

https://preview.uxpin.com/9b21433f479db3c4785602331594cf40d342b6fd#/pages/145746117/simulate/no-panels

[2022-01-05 17:12] mstanton1 opened #10579 "UI - Text Changes and Pop Up"
https://preview.uxpin.com/9b21433f479db3c4785602331594cf40d342b6fd#/pages/145746117/simulate/no-panels

[2022-01-05 17:21] mstanton1 opened #10580 "UI + API - Search Back Button Handling"
Scenario: A client can enter search criteria, select results to include in the search PDF, and then choose back on their browser. In this case the search PDF foes not generate successfully but the client has been charged. Limitations to handling exist based upon browser security.

Changes
- [x] If a search PDF has been requested but the user chooses 'back' create the row in the search table with a

[2022-01-05 17:24] sienna-blumstengel opened #10581 "Change tool-tip text in CO-OP voluntary dissolution filing"
### Description
In training for co-op voluntary dissolutions, staff identified that the definition of a special resolution is incorrect.
We will update the tooltip for special resolutions to be the following:

### To do:

- [x] Update the tool tip on this page with the text above
![Screen Shot 2022-01-05 at 9.34.39 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/a4dbc6f5-997a

[2022-01-05 17:30] mstanton1 commented on #10580
@forgeuxGH5 do we want there to be a forced time out for the user after a certain amount of time?

[2022-01-05 17:32] mstanton1 opened #10582 "UI - Registrations unsaved changes"
**Triggers for the Unsaved Changes modal**
Display the unsaved changes modal if the user has made changes to their registration (per validation rules) and selects any of the following:

- Breadcrumb - all levels/links + breadcrumb Back button
- The application Cancel button in any view
- Registries home in the masthead
- Footer links
- Switch Account (Relationships account menu)

Login Timeout
If

[2022-01-05 17:38] mstanton1 commented on #10582
@forgeuxGH5 can you confirm if this is only for amendment or registration. If this is done for renewal or discharge what are the wording changes for the modal given we cannot save?

[2022-01-05 17:39] mstanton1 opened #10583 "UI - OS Browser"
Triggers for the OS / Browser modal:

- Browser / Tab close
- Browser back/forward/home
- Bookmark
- URL and any other user initiated navigation from the current page using browser functionality

Partially implemented in entities. Timebox at half a day to understand scope of work.

https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/10221

[2022-01-05 18:14] fareenr commented on #10239
Release planned for Jan 5, so I emailed the job aide which Wendy reviewed and approved to Wendy, Cheryl, Teisha, Patricia as requested for BCOL Admin team.

[2022-01-05 18:19] severinbeauvais commented on #9387
The tickets that were in the next release (Entity 11.6) are being added to THIS release.

[2022-01-05 18:19] mstanton1 commented on #10251
Checking with @pwei1018 to see if he could implement this in auth prior to PPR go live.

[2022-01-05 18:23] severinbeauvais opened #10584 "Legal API: HTTP 500 when resuming a correction filing"
1. login to BCROS as staff (IDIR)
2. go to a business with normal filings, eg, https://dev.bcregistry.ca/business/CP1002488/
3. click the down arrow beside the normal filing (eg, Director Change) and select "File a Correction"
4. observe that the "Correction - Director Change" page displays
5. click "Save and Resume Later"
6. observe that the dashboard page displays
7. click "Resume" on the Correc

[2022-01-05 18:30] severinbeauvais commented on #10454
The tickets that were in this release are being added to the "Voluntary Dissolution" release.

This ticket is therefore no longer required... I'm closing it.

[2022-01-05 18:30] #10454 closed

[2022-01-05 18:44] tlebedovich commented on #10576
@lmcclung - here are the 3 small UXA items for the breadcrumbs that are going live.

[2022-01-05 18:48] Maribeth-Wilson commented on #10287
Update - have had to pause the mass email process pending review/approval from GCPE. Should be received by EOD Jan 5

[2022-01-05 18:50] fareenr commented on #10351
5-Jan - I have edited the draft email for Non-Ministry government users combining new indicator and PAD set up. Waiting for response on notifying BCOL Admin for accounts that have already been set up.
https://docs.google.com/document/d/1hfpywNOX9Y2o7FMzZtRbLLCg5Eh2MdkO10qc61aJecY/edit?usp=sharing

[2022-01-05 19:12] chdivyareddy commented on #10509
Verified in DEV!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d6b42b9c-a96e-4f29-bb02-762ce963f120)

[2022-01-05 19:19] #9627 closed

[2022-01-05 19:19] #9710 closed, assigned to nobody

[2022-01-05 19:19] #9626 closed

[2022-01-05 19:19] #10402 closed

[2022-01-05 19:19] #9816 closed

[2022-01-05 19:19] #9817 closed

[2022-01-05 19:19] #9832 closed

[2022-01-05 19:19] #9718 closed

[2022-01-05 19:19] #9716 closed

[2022-01-05 19:19] #9711 closed

[2022-01-05 19:19] #9713 closed

[2022-01-05 19:19] #9714 closed

[2022-01-05 19:19] #10390 closed

[2022-01-05 19:19] #10277 closed

[2022-01-05 19:19] #9628 closed

[2022-01-05 19:19] #10531 closed

[2022-01-05 19:19] #10475 closed

[2022-01-05 19:19] #10124 closed

[2022-01-05 19:19] #10123 closed

[2022-01-05 19:19] #9818 closed

[2022-01-05 19:19] #9819 closed

[2022-01-05 19:19] #8865 closed

[2022-01-05 19:19] #9833 closed

[2022-01-05 19:19] #9834 closed

[2022-01-05 19:20] #9835 closed

[2022-01-05 19:22] JohnamLane commented on #9927
@zac-broitman @sumesh-aot Based on the meeting with CAS today, this field needs to be limited to 40 characters. This will ensure that it fits in the AP file format.

[2022-01-05 20:13] fareenr commented on #10352
Email is planned to be sent to Non -Ministry govt account users on Jan 11 for reminder to set up PAD.
Draft saved here:
https://docs.google.com/document/d/1hfpywNOX9Y2o7FMzZtRbLLCg5Eh2MdkO10qc61aJecY/edit?usp=sharing

[2022-01-05 20:16] tlebedovich commented on #9815
@doug-lovett - the My Business Registry Open button needs to go to the user's My Business Registry dashboard - not the business marketing page. Are you able to adjust this here or did you want me to log a bug ticket?

There are also unchecked check boxes above for my UXA feedback - were these items completed by you?

fyi - this is the user's My Business Registry Dashboard page:
![Screen Shot 2022-

[2022-01-05 20:27] karthik-aot commented on #9927
@JohnamLane  The existing changes validate the characters length to 40.

[2022-01-05 21:00] argush3 commented on #9034
Received confirmation from David Roberts that Orgbook Messaging was successful in Test for voluntary dissolution for BENs and COOPs.

Confirmation from David Roberts can be found in following screenshots:

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/c298d088-14b5-428c-ae86-64aab2e3113f)

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/488b5

[2022-01-05 21:05] argush3 commented on #9035
Received confirmation from David Roberts that Gazetting Messaging was successful in Test for voluntary dissolution for BENs and COOPs.

Confirmation from David Roberts can be found in following screenshots:

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/0b25fb11-85fb-4427-8ade-426fbb575184)

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/c44

[2022-01-05 21:14] argush3 commented on #9037
From today's standup, the MRAS issues that we are currently seeing with Voluntary Dissolutions should not stop the upcoming Voluntary Dissolution release.  The issues are not new and existed previously with other Benefit company related filings.

For references purposes, including a note from David Roberts regarding the error record Darci had mentioned in the MRAS tables.

[2022-01-05 21:18] PatrickAHeath opened #10585 "PPR - Cleanup REGISTRATION_ACT in REGISTRATION_TYPE table"
A number of entries in the REGISTRATION_TYPE table have 'PPSA SECURITY ACT' as the REGISTRATION_ACT value.  PPSA stands for Personal Property Security Act so having Security Act at the end is redundant.

Change all entries in the REGISTRATION_TYPE table that have 'PPSA SECURITY ACT' as the value in REGISTRATION_ACT to have 'PERSONAL PROPERTY SECURITY ACT' as the value.

The value for Registration

[2022-01-05 21:23] doug-lovett commented on #9815
@tlebedovich this button work looks like a scope change going by the original ticket description. Please log any remaining changes as separate tickets: the most recent changes were completed by Stephanie.

[2022-01-05 21:38] forgeuxGH5 commented on #9012
@tlebedovich did we do any Visual Design for this (in UXA even)? If not, do we have time to check this for Visual Design UXA?

[2022-01-05 21:43] #9471 closed

[2022-01-05 21:45] Kaineatthelab commented on #9012
99% should be functional but maybe a quick once over? anything non functional would be a p3?

[2022-01-05 21:55] #9034 closed

[2022-01-05 21:55] #9035 closed

[2022-01-05 21:55] #9037 closed

[2022-01-05 22:10] tlebedovich opened #10586 "VERIFY - My Business Registry on Uber(My Registry Dashboard) Dashboard needs to go to My Business Registry screen"
WHEN a logged in user is on their Uber dashboard and is subscribed to the Business Registry service
AND the clicks the "Open" button or clicks anywhere within the My Business Registry service tile
THEN the user should be taken to their "My Business Registry" page, NOT the business marketing page.

clicking here:
![Screen Shot 2022-01-05 at 2.07.36 PM.png](https://images.zenhubusercontent.com/5e1cd

[2022-01-05 22:11] tlebedovich commented on #10586
@mstanton1 - here is the redirect bug

[2022-01-05 22:15] tlebedovich commented on #9815
@chdivyareddy - it looks like a lot of issues were left unfinished in this ticket. i have logged a bug regarding the My Business Registry tile getting redirected to the wrong page here: https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/10586

But can you please go through all of the other open bugs we already listed out above and create bug tickets fo

[2022-01-05 22:18] tlebedovich commented on #9820
@chdivyareddy - please review and log bugs if needed.

[2022-01-05 22:37] #9423 closed

[2022-01-05 22:43] janisrogers commented on #10527
Duplicate of #10522

[2022-01-05 22:43] #10527 closed

[2022-01-05 22:53] tlebedovich commented on #9012
I think I have UXA'd bits and pieces of this here and there. I think since it's Staff facing it's probably ok for now.

[2022-01-05 23:05] tlebedovich opened #10587 "Log out bug on PPR Marketing page"
IF the user is logged in and goes to the PPR Marketing page (~https://bcregistries-daxiom.web.app/ppr-marketing/~ https://yfthig-dev.web.app/ppr-marketing/)
AND they click “log out” while on that page
THEN it should return the user to the logged out version of this page
BUT instead it just shows a gray screen with spinner icon forever (so user can’t confirm they have logged out):

![Screen Shot 20

[2022-01-05 23:11] jinghualicgi commented on #10036
@sienna-blumstengel Hi Sienna, with the new VD release date: Jan11th, should we finish this ticket before that? Thanks
CC: @gprimeau

[2022-01-05 23:16] jinghualicgi commented on #10329
@magszymanski Mags, is this a duplicate with another ticket: 10328 **OCM - Communication Due Jan ? - Reminder to BCOL users who use PPR#10328**?
Should we keep both?

[2022-01-05 23:18] jinghualicgi commented on #10335
@magszymanski Mags, who is the best person to take this ticket? Thanks

[2022-01-05 23:31] severinbeauvais commented on #9530
Sample screenshot from Dev:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/6302ef8b-2170-4e8e-9340-05e62c349a93)

[2022-01-05 23:36] magszymanski commented on #10329
@jinghualicgi - nope! The other ticket was for an extra communication. I just changed that ticket (10328) to be due Jan 25 telling people about GO LIVE :)

[2022-01-05 23:36] jinghualicgi opened #10588 "PPR Go-Live Implementation Plan"
#### **Services still being worked on:**
- ppr-ui
- ppr-api
- ppr db (search alg / functions)
- mail queue listener

#### **Services finalized/code locked until release:**
- [ ] Create Version 1.00 for first branch: Priority 1 tickets
- [ ] Create Version 1.01 for second branch: Priority 1.5 tickets (Ask  Divya about QA effort)  (Get this in by Friday Jan14, then QA, otherwise next cycle)
- [ ] An

[2022-01-06 00:03] yuisotozaki commented on #9530
**UXA Finding in https://dev.bcregistry.ca/**
These visual differences were observed compared to the visual design attached in [the comment above](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/9530#issuecomment-995402501).
* The header colour is different from the visual design (and therefore the the title colour and close button colour)
* The S

[2022-01-06 00:08] mstanton1 commented on #9849
@gprimeau great work! Thanks @magszymanski for reviewing. I've reviewed as well and added additional comments. Please let me know when the updates are made Genevieve so I may review again.

[2022-01-06 00:11] tlebedovich commented on #9530
@yuisotozaki - Severin decided to keep the navy blue bar header which is consistent with the other modals, so thats ok the way he has it. And we have started to migrate the primary button to the right instead of left side (which makes sense especially when it moves you along the path), so i'm good with these differences.

I believe the fields/error validations themselves are already part of a shar

[2022-01-06 00:12] yuisotozaki commented on #9530
Then sounds like the visual aspect of UXA is good to go.

The error message, however, needs QA testing. Does this mean it passes UXA?

[2022-01-06 00:13] mstanton1 commented on #10013
The first four videos have been reviewed. Information is accurate and a value add to end users. Please have them uploaded to YouTube to share. It is still valuable to collect feedback/provide to business leads now, but with the awareness that unless critical many opportunities for enhancement will be addressed as time allows (possibly not to be done before go-live).

[2022-01-06 00:15] sienna-blumstengel opened #10589 "OCM - SP Registration - OneNote"

[2022-01-06 00:15] severinbeauvais commented on #9530
Thanks Tracey, all you said is correct.

As for the error dialog, you're not actually seeing the Pay Error dialog. What you're seeing is the Save Error dialog, due to a back end data bug. Try it again with a Coop or other Ben. Or look at the screenshot I posted above.

[2022-01-06 00:15] sienna-blumstengel opened #10590 "OCM - GP Registration - OneNote"

[2022-01-06 00:45] yuisotozaki commented on #9530
Got the error scenarios. Those expected scenarios pass UXA.

There is an additional scenario that's failing.
* Get to the payment modal
* Enter the 222222222 account and try to pay -> get the error -> acknowledge the error
* If you then enter another account number, the system errors out due to "another draft filing already exists"

It appears that a draft filing is saved when it errors out and th

[2022-01-06 01:11] chdivyareddy opened #10591 "VERIFY - SBC Staff Login should Redirect to SBC Staff Registries Dashboard"
**Current Behavior:**
When SBC Staff Logs in using BRTEST5 credentials (https://dev.bcregistry.ca/business/auth/staff/dashboard/active), then it is redirecting to Business Page instead of SBC Staff Registries Dashboard.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/1c8d6a4b-f07c-4078-a91b-c2c5a6c857bc)

**Expected Behavior:**
![image.png](https://images.zenhubusercont

[2022-01-06 01:36] severinbeauvais commented on #9530
Hmm, the code should handle that but I'll have a look. It may be that the filing id is not available when there is a pay error.

[2022-01-06 02:22] chdivyareddy commented on #9815
Created ticket for SBC Staff Login #10591 and Breadcrumb issue will be addressed in #10532.

[2022-01-06 03:36] forgeuxGH5 commented on #10582
@mstanton1 I updated the wireframes to include handling in Renewals and Discharges to clarify the "saving" issue.

[2022-01-06 15:21] jordiwes commented on #10462
@kialj876 - the dash is automatically filtered in the code, was there a reason for this?

[2022-01-06 15:24] jinghualicgi commented on #10429
@jordiwes Hi Steph, what's the status for this ticket? Moved directly from BLG to Review one month ago?

[2022-01-06 16:26] mstanton1 commented on #9012
Closing based upon the comments above.  Thanks all!

[2022-01-06 16:26] #9012 closed

[2022-01-06 16:28] magszymanski opened #10592 "Synthesize PPR user research"

[2022-01-06 16:46] gprimeau commented on #10346
@mstanton1 for you to review

https://assets.adobe.com/id/urn:aaid:sc:US:e1198ed7-ba55-4ab6-a829-aa818f9c30f7?view=published

[2022-01-06 17:10] JohnamLane opened #10593 "BCOL Admin - Fee Review After Changing Account from Premium to Non-Ministry"
* As a BCOL Admin team member
* When I change an account from premium to GOVN
* I want to be prompted to set the fees on the account so that non-billable services can be accounted for.

**Acceptance Criteria**

**Scenario 1: xxxxxx**
* GIVEN ... (you or your condition)
* WHEN ... (what you do)
* THEN ... (what you see)

**Scenario 2: xxxxxx**
* GIVEN ... (you or your condition)
* WHEN ... (what yo

[2022-01-06 17:20] lmcclung commented on #10490
Closing this ticket - we don't want outputs to display in SOFI/BCOL so let's not change this.

[2022-01-06 17:20] #10490 closed

[2022-01-06 17:21] JohnamLane commented on #10593
not required.

[2022-01-06 17:21] #10593 closed

[2022-01-06 17:25] shabeeb-aot opened #10594 "product fee is not showing after approving GOVN account"
**Describe the bug in current situation**
A clear and concise description of what the bug is.

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Chance of Occurring (high/medium/low/very low)**

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**

**Steps to Reproduce**
Steps to repro

[2022-01-06 17:25] lmcclung commented on #9011
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/9341b71b-232f-4b53-a0e8-11c23000c783)

[2022-01-06 17:29] zac-broitman commented on #10566
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/10566?planning-poker) with ZenHub @karthik-aot @shabeeb-aot @saravanpa-aot @sumesh-aot @rarya-freshworks

[2022-01-06 17:29] lmcclung commented on #9011
Emailed Bob/Dave/Ali to confirm no other jobs need changing.

[2022-01-06 17:33] argush3 opened #10595 "business state update script"
write sql script that sets a valid business state(`ACTIVE`, `HISTORICAL`, `LIQUIDATED`) for business records where state is NULL
- [ ] set business state to ACTIVE where dissolution date is NULL
- [ ] set business state to HISTORICAl where dissolution is not NULL and there is a vol diss filing?
- [ ] set business state to LIQUIDATED where dissolution is not NULL and there is a liquidation filing?

[2022-01-06 17:35] argush3 opened #10596 "business state update script"
With introduction of the business state in the business table, we  need to populate the business state for existing businesses.  Note that existing businesses without a business state are unable to do any filings.  A 401 is returned by the API currently.

write sql script that sets a valid business state(`ACTIVE`, `HISTORICAL`, `LIQUIDATED`) for business records where state is NULL
- [x] set busin

[2022-01-06 17:37] zac-broitman commented on #10135
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/10135?planning-poker) with ZenHub @karthik-aot @rarya-freshworks @saravanpa-aot @shabeeb-aot @sumesh-aot

[2022-01-06 17:52] mstanton1 opened #10597 "TESTING - Carriage returns"
To confirm, does the BC API ignore paragraphs / new lines / carriage returns in text like General Collateral? Or do we have to submit the data in a certain way to the preserve the formatting? Currently, it seems when we submit general collateral with paragraphs / new lines, in the search results, they are not preserved (we tried using actual keyboard carriage returns as well as including the codes

[2022-01-06 17:54] zac-broitman commented on #10554
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/10554?planning-poker) with ZenHub @karthik-aot @rarya-freshworks @saravanpa-aot @shabeeb-aot @sumesh-aot

[2022-01-06 18:00] sienna-blumstengel commented on #10296
Our team has handled AUTH API work before, but this ticket contains work in an area that our team has not worked in before and it's somewhat more complex. We would prefer your team complete this work, or we can complete with with your guidance.
@SateeshFW
Cameron can detail what work is required when he returns next week.

[2022-01-06 18:04] mstanton1 commented on #10597
@divyav-aot can you please test this. I can forward the email thread with full questions / attachments as well.

[2022-01-06 18:06] fareenr commented on #10286
6-Jan revised email to address concerns brought up by staff.  New email is ready for review and awaiting approval:
https://docs.google.com/document/d/14753i9vwT0AAe9BkIxy7hCgDL-2lWwWJ/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-01-06 18:07] severinbeauvais commented on #10236
@jdyck-fw Which pipeline or sprint should this be in? (so we don't lose it)

[2022-01-06 18:09] Maribeth-Wilson commented on #10512
Confirming email sent Jan 6th @ 10am, moving this ticket to Done.

[2022-01-06 18:12] sienna-blumstengel commented on #10469
Bringing this to co-op and corp requirements meeting first, before grooming

[2022-01-06 18:17] sienna-blumstengel commented on #10489
Refreshing this should resolve it, so it is not urgent. We can close this for now, and will re-open if we receive enough user complaints.

[2022-01-06 18:17] #10489 closed

[2022-01-06 18:36] magszymanski commented on #10013
@Amitisp Total Discharge is ready to go! https://docs.google.com/document/d/1FMm3FS8BCMJ4ihUvL9dXHo6upYi7L0xN/edit

I will have Amendment ready for you by EOD - will that work?

[2022-01-06 18:59] cwulff1 commented on #10571
@magszymanski Sharon got back to me with feedback.  Main thing is understanding where this page will live and how users will have access.

"I like the general look of the whole page- I think it is very straight forward and appears to contain all the main elements for PPR.  I might only suggest some verbiage to do with the new application.  I am assuming this will appear only in the new application

[2022-01-06 19:00] ozamani9 commented on #5913
I have verified that when you search this NR number NR 4378161 with the following email address:  severin.beauvais@gmail.c   the search does NOT bring back the Name Request.  I also added an o to the end of end:
severin.beauvais@gmail.co   and this still fails.

once i use this address:  severin.beauvais@gmail.com    the name request comes up.

![image.png](https://images.zenhubusercontent.com/617

[2022-01-06 19:10] severinbeauvais commented on #5913
@ozamani9 Does it work correctly with the phone number too?

[2022-01-06 19:18] zac-broitman opened #10598 "Set up TEST/CAS for FAS UAT"
### Description
UAT of FAS will use the TEST environment. In order to make sure this can be done TEST and CAS will need to be set up to support the connection between TEST and CAS.

### Necessary steps
-

[2022-01-06 19:19] ozamani9 opened #10599 "Applications security header configuration update - business create, edit and filings UI"
This ticket is the same as ticket 10195.

https://app.zenhub.com/workspaces/sre-team-space-61685e965bfb35001dac5771/issues/bcgov/entity/10195

Set the security headers for the following three applications:

business-create-ui
business-edit-ui
business-filings-ui

[2022-01-06 19:22] gprimeau commented on #9849
@mstanton1 @magszymanski I have worked on the comments and came up with a couple of solutions for some of them. What I can do if this works for you guys is to change it into a workable PDF so you can see what it will actually look like without all the black lines around the boxes.

[2022-01-06 19:37] jinghualicgi commented on #9731
Thanks Linda, we will discuss with Patrick how to release this when he is back on Monday.

[2022-01-06 19:39] jinghualicgi commented on #8272
Thanks, we will discuss with Patrick for SRE's next release when he is back on Monday.

[2022-01-06 19:43] mstanton1 commented on #10571
@magszymanski this looks good! Sharon's question above touches on something we had discussed as well. Although this site adds lots of value to our users it provides staff with yet another spot to potentially point clients.

I wonder if the best approach is that we continue to have staff provide clients with the CMS site and use this site specifically for BC Registries internal use or higher volume

[2022-01-06 19:47] Kaineatthelab commented on #10571
Good point, the CMS site already has the videos so maybe we just tell our groups like lawyers, D&D that is what we have public facing and see if there are any other questions
BCOL had a detailed manual to do everything is why I was thinking they might ask for something more

[2022-01-06 20:03] argush3 commented on #9731
@jinghualicgi @lmcclung just a note that with the upcoming entities release(voluntary dissolutions), these changes will be going out with other entity-emailer changes that have been made.

[2022-01-06 20:36] severinbeauvais commented on #9530
The bug above has been fixed, verified, and deployed to Dev and Test.

[2022-01-06 20:41] magszymanski commented on #10262
@cwulff1 @mstanton1
Hi Cameron, after chatting with Joanna she confirmed that Tuesdays or Thursdays are best for staff training as none of her members are on flex then. Would Jan 11 & 18 or Jan 13 & 20 work for you and your staff?

Cameron, Melissa:
I would imagine we could book 1 hour to ensure we provide enough time for:
- Demo/training
- Demonstration of the PPR Info Center tool
- Highlighting

[2022-01-06 20:45] doug-lovett commented on #10205
Here is an updated locally generated example with the prod watermark.
[https://app.zenhub.com/files/157936592/89c080f1-ca29-4e06-8925-1c265b1efd48/download](https://app.zenhub.com/files/157936592/89c080f1-ca29-4e06-8925-1c265b1efd48/download)

[2022-01-06 20:46] mstanton1 commented on #10511
Job aide review was completed yesterday and all comments are available in the Google Doc.

https://docs.google.com/document/d/1sihUaT3UAEOzKB6Y--3Kwr2zqgyhMRqu/edit

Some comments require confirmation from SBC on how they would like to proceed. Similarly, SBC noted they may wish to re-organize content and will meet internally to discuss. A meeting has been set for Wednesday the 12th to discuss out

[2022-01-06 20:57] yuisotozaki commented on #9530
RFQA!

[2022-01-06 20:59] jinghualicgi commented on #9784
Closed this ticket, has included this in Name11.5 Release on Dec23rd

[2022-01-06 21:00] jinghualicgi commented on #9009
Closed this ticket, has included this in Name11.5 Release on Dec23rd

[2022-01-06 21:02] mstanton1 commented on #10571
I like that approach. Lets keep the staff and client facing sites separate for now and we can make changes if feedback from clients identifies they need more.

[2022-01-06 21:02] jinghualicgi commented on #8810
Move to done, has included this in Name11.5 Release on Dec23rd

[2022-01-06 21:04] jinghualicgi commented on #8359
This has included this in Name11.5 Release on Dec23rd

[2022-01-06 21:06] jinghualicgi commented on #9501
Move to done, has included this in Name11.5 Release on Dec23rd

[2022-01-06 21:06] ozamani9 commented on #5913
@severinbeauvais i dont know the phone number from above NR.  i will create a NR with my email and my test phone number and make sure you need the FULL email and FULL number for it to be fetched.  if that works, then we can close .

[2022-01-06 21:08] severinbeauvais commented on #5913
Sounds good, thanks!

[2022-01-06 21:21] fareenr commented on #10351
6-Jan This email is ready to send to Non-Ministry account users

[2022-01-06 21:27] ozamani9 commented on #5913
DEV was having an issue, so i verified that this works in TEST.

With phone number i tried, 250, 250-555, 250-555-55, 250-555-555 none of these worked.  only one that works is 250-555-5555 and that brought up the record.

![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/aaa4dcf6-f045-467e-81ee-007dbfe0dd4d)

for email address, it requires you to have a full email address,

[2022-01-06 21:28] ozamani9 commented on #5913
@severinbeauvais let me know if i can close this ticket.  unless you would like to do a quick verification yourself

[2022-01-06 21:30] Amitisp commented on #10013
@magszymanski sounds good. Thank you!

[2022-01-06 21:32] fareenr commented on #10354
6-Jan Update form John, the functionality to edit should be released as a hot fix this week.  BCOL Admin will still need a report to show them any Non-Ministry accounts already created.
For training, they already have the instructions on how to set payment fees and change access type for 'Other Government Agency' through the job aide sent Jan 4.

[2022-01-06 21:35] cwulff1 commented on #10262
@magszymanski @mstanton1 Thursdays 13th and 20th work great.  13th session - David Lessard, Sharon, and Debbie.  20th session - Laurie Stossel, Claudine Lo, Debbie.  I really like the points listed on the bullets.

[2022-01-06 21:45] severinbeauvais commented on #5913
Looks good.

[2022-01-06 21:45] #5913 closed

[2022-01-06 21:59] #10113 closed

[2022-01-06 21:59] #10125 closed

[2022-01-06 21:59] #10509 closed

[2022-01-06 22:21] jinghualicgi commented on #10286
@olisaezeh  Hi Olisa, can you please review and approve this ticket?
CC: @Maribeth-Wilson

[2022-01-06 22:40] Maribeth-Wilson commented on #10286
Please hold off on sending this email until advised by @olisaezeh thank you

[2022-01-06 22:48] gprimeau commented on #9848
Please review the fillable PDF @mstanton1 @magszymanski
[https://app.zenhub.com/files/157936592/0bb6f0e2-f22e-4468-b513-6f01fdd5b760/download](https://app.zenhub.com/files/157936592/0bb6f0e2-f22e-4468-b513-6f01fdd5b760/download)

[2022-01-06 22:52] mstanton1 commented on #10314
@cwulff1 do you want to review the changes proposed by Patrick in the document linked at the top of this ticket? If not, I will pass straight to Gen for updates!

[2022-01-06 22:55] severinbeauvais commented on #10193
Due to large-scale layout changes needed to support different page widths (eg, desktop/tablet/mobile), and necessary consistency added to styles (colours, sizes, etc), I estimate the effort to be larger than 3 (which is roughly a day or 2)... the next value is 5 (which is roughly a week).

[2022-01-06 22:55] severinbeauvais commented on #10193
Due to large-scale layout changes needed to support different page widths (eg, desktop/tablet/mobile), and necessary consistency added to styles (colours, sizes, etc), I estimate the effort to be larger than 3 (which is roughly a day or 2)... the next value is 5 (which is roughly a week).

@lmcclung FYI

[2022-01-06 23:00] magszymanski opened #10600 "Review and revise two SBC user guides - Due Jan 14"
User guides have been provided by SBC and need our review/revsion.

They are located in the SBC PPR Training folder: https://drive.google.com/drive/u/0/folders/1sAiavKdefbzjhr74Ry4ZtKYRq5-MmutR

Will pass to Melissa once I get the first go at it.

[2022-01-06 23:01] jinghualicgi commented on #10534
@fareenr Hi Fareen, can you please help on this task? Thanks

[2022-01-06 23:02] jinghualicgi commented on #10353
@fareenr Hi Fareen, can you please help on this task? Thanks

[2022-01-06 23:03] mstanton1 commented on #10262
@PatrickAHeath will deliver these sessions.

[2022-01-06 23:10] mstanton1 commented on #9848
Final review is completed. I have not identified any additional changes that are needed. @magszymanski if you have a chance please take a quick look over the final form.

Note: Gen - these forms for SBC are not housed on the CMS website. SBC places them on their intranet for SBC staff to link to. We will need to find a place to store our copy in the Sharepoint or on the LAN.

[2022-01-06 23:12] jinghualicgi commented on #10600
Thanks Mags to create this ticket for tracking!

[2022-01-06 23:16] sumesh-aot opened #10601 "Create documentation on EJV Process"
Create documentation on how EJV works;
- Gov account payment,
- Disbursement to partner
- Gov account Payment Reversal
- Disbursement reversal

[2022-01-06 23:17] sumesh-aot opened #10602 "Documentation on business events listener"
Create documentation on business events listener. This listener is responsible for auto affiliating NRs based on events.

[2022-01-06 23:19] PatrickAHeath commented on #8185
@mstanton1 Still looks like only 2 accounts have been setup for matching BCOL Account Numbers - 306042 for Ministry of Attorney General and 334895 for Canada Revenue Agency.

[2022-01-06 23:19] sumesh-aot opened #10603 "Documentation on API gateway key generation"
- Integration details when a key is generated
- Integration details when a key is used

[2022-01-06 23:20] sumesh-aot opened #10604 "Documentation on BCOL integration"
- BCOL DRAWDOWN transactions
- BCOL profile verification

[2022-01-06 23:21] sumesh-aot opened #10605 "Documentation on Online Banking integration"
- Documentation on Online Banking integration.
- under payment / over payment

[2022-01-06 23:22] sumesh-aot opened #10606 "Document refunds"
Document refunds per each payment method

[2022-01-06 23:22] sumesh-aot opened #10607 "Document Direct Pay Transactions"
Document Direct Pay Transactions

[2022-01-06 23:23] sumesh-aot opened #10608 "Document Keycloak integration"
Document Keycloak integration by BCR and partners

[2022-01-06 23:23] fareenr commented on #10534
Sure, I have started editing the draft of questions and answers saved in the google document linked in this ticket request and just need to know who to contact for payment or BCOL account refund questions that do not have an answer?

[2022-01-06 23:26] sumesh-aot commented on #9390
- Supplier Number (Vendor) There is a listing on our sharepoint under the https://fin.sp.gov.bc.ca/sites/OCG/CFS/Projects/Pages/Mainframe-Retirement.aspx
- Supplier Site Number
- PO Number (Commit Number) (C) - is it needed? Please refer to https://fin.sp.gov.bc.ca/sites/OCG/CFS/Projects/Documents/CGI%20Payment%20Image%20%28PI%29%20to%20CGI%20AP%20Invoice%20Layout%20Mapping.pdf
- Invoice Type in d

[2022-01-07 00:03] cwulff1 commented on #10571
@magszymanski @mstanton1 Can we also include links to the Act and Regulations?

Act - https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/96359_01
Regulations - https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/227_2002

[2022-01-07 00:07] cwulff1 commented on #10314
@mstanton1 Reviewing right now and i'll follow up.  I apologize I was mentioned multiple times on this ticket and this is the first time I am reviewing.

[2022-01-07 00:10] lmcclung commented on #9011
David Roberts not aware of any jobs that need turning off.
Bob & Ali to confirm re: Mainframe.

[2022-01-07 00:11] #10474 closed

[2022-01-07 00:11] #10233 closed

[2022-01-07 00:11] #10235 closed

[2022-01-07 00:11] #10234 closed

[2022-01-07 00:11] #8822 closed

[2022-01-07 00:13] lmcclung commented on #10477
@rarmitag @sienna-blumstengel do we still need this ticket?

[2022-01-07 01:23] lmcclung opened #10609 "SP/GP Change Filing - Do this First ⚠️"

[2022-01-07 01:23] lmcclung opened #10610 "Edit UI - Step 1"

[2022-01-07 01:25] lmcclung opened #10611 "SP/GP Change Filing - Backend validations"

[2022-01-07 01:26] lmcclung opened #10612 "LEGAL API - Amended Registration Output template"
- [ ] Copy code from "registration filing" output template, and use it to make a new output template for "change filing". They are exactly the same, aside from:
- [ ] Update header of output to "AMENDED REGISTRATION STATEMENT" (for SP and GP)
- [ ] Postman!
- [ ] Unit tests!

- Display all components on the output, wether they have been changed or not (kind of like NOA). NO change labels to displa

[2022-01-07 01:47] lmcclung opened #10613 "Edit UI - Framework"
### TO DO
*Notes:* - Save and Resume functionality is blocked by the API due to the new filing types / schema not implemented

#### Launch
- [x] Create new filing structure for SP/GP change filing.
~- [ ] Use this to save draft "Change of Proprietorship or Partnership Registration" filing when user clicks "save"~
~- [ ] Save and resume~
- [x] Prepare the resource files and the way to toggle differ

[2022-01-07 01:47] lmcclung opened #10614 "Schema Changes ??"

[2022-01-07 01:48] lmcclung opened #10615 "Filing type & fee codes"
We need one filing code - FMCHANGE

Flags:
No Fee - yes
Priority $100 - yes
FED - NO

[2022-01-07 02:58] Amitisp commented on #10013
@mstanton1 @magszymanski 'How to Renew a Registration' training video is on GDR for your:
https://drive.google.com/file/d/1hmYLyR2qQtLG7Cy9jO9MB9C5yr9G2lKv/view?usp=sharing

[2022-01-07 06:21] Amitisp commented on #10013
@mstanton1 @magszymanski 'Total Discharge of a Registration' training video is on GDR for your review:
https://drive.google.com/file/d/1QAaSMO0VE17lu1Toh3s0rHU-lZ13JM4Y/view?usp=sharing

[2022-01-07 15:57] magszymanski opened #10616 "Review Video Scripts"
- [x] Registration
- [x] Customize My Registrations table
- [x] Renew
- [x] Total Discharge
- [ ] Amend
- [x] Retrieve

[2022-01-07 15:59] magszymanski opened #10617 "Create Quickstart Guides for CMS & PPR Info Center - Due: Jan 14"
[PPR Info Center ](https://sites.google.com/bcdevexchange.org/bcppr/home)

Instructions/Quick Start guides to be reviewed by team and added to CMS and linked to PPR Staff Info Center:
https://drive.google.com/drive/u/0/folders/117-9N7etUjmQDuE6udcYPwZ68ya-NCvJ
- [x] Dashboard + My Registrations table + Retrieve
- [x] Search
- [x] Registration
- [x] Renew
- [x] Amend
- [x] Total Discharge

Will ass

[2022-01-07 16:03] magszymanski commented on #10571
@cwulff1 You betcha!! That will go well under the "FAQ" section. If you think of any other interesting tidbits to add, fire them our way!

[2022-01-07 16:26] #9815 closed

[2022-01-07 16:26] #9884 closed

[2022-01-07 16:26] #9885 closed

[2022-01-07 16:26] #9886 closed

[2022-01-07 16:26] #9822 closed

[2022-01-07 16:26] #9888 closed

[2022-01-07 16:26] #9887 closed

[2022-01-07 16:26] #9820 closed

[2022-01-07 16:26] #9821 closed

[2022-01-07 16:46] mstanton1 commented on #9849
@gprimeau sounds good! Please provide the link to the workable PDF when available and we can cross reference that against the comments in the Adobe draft.

[2022-01-07 16:58] jinghualicgi commented on #10597
change to our Divya :)

[2022-01-07 17:03] argush3 commented on #10596
Ran business update state script manually against DEV and TEST.  Verified all business records now have a state value of either `ACTIVE` or `HISTORICAL`.  Also verified that filings could be made with STAFF and BCSC user role.  Businesses with a NULL state value were getting a 401 when attempting to file any kind of filing.

Verification steps:

**DB verification**

confirm no records in lear db h

[2022-01-07 17:04] #10538 closed

[2022-01-07 17:07] jdyck-fw commented on #10455
Right now we just have one fee code for any type of name request, so this would involve some refactoring.

[2022-01-07 17:08] jdyck-fw commented on #6262
Will revisit this next week after some home team discussions.

[2022-01-07 17:12] jdyck-fw commented on #9731
This is going out with the entities release.

[2022-01-07 17:17] #1731 closed

[2022-01-07 17:17] jinghualicgi commented on #9715
@thorwolpert @doug-lovett Hi, the story has moved to done (Set up Event Queue Config#9626), can we move this task to done as well? Thanks

[2022-01-07 17:18] #1479 closed

[2022-01-07 17:18] #1326 closed

[2022-01-07 17:21] jdyck-fw commented on #1291
@lmcclung will look into this.

[2022-01-07 17:22] #1103 closed

[2022-01-07 17:22] #1102 closed

[2022-01-07 17:23] #1098 closed

[2022-01-07 17:23] #1097 closed

[2022-01-07 17:23] jdyck-fw commented on #997
I believe this has been completed.2

[2022-01-07 17:23] #997 closed

[2022-01-07 17:24] vysakh-menon-aot commented on #9249
@lmcclung @sienna-blumstengel According to the design we have a field called "Type of Business or Corporation". I don't see that in this ticket. Can you provide the valid values (If there is existing code).

![image.png](https://images.zenhubusercontent.com/5f32f33a77ef9e4d453c1945/d04fdeb6-6453-4a05-8cde-38b1093dbb11)

[2022-01-07 17:24] #847 closed

[2022-01-07 17:25] doug-lovett opened #10618 "Report-api update weasyprint version to 52.4 and configuration"
- Improve performance of report-api overall to resolve PPR large search result report not working (service connection reset after 500 seconds)
- Add the following change to the report service code:
html = HTML(string=html_out).render(optimize_size=('fonts', 'images',))

Running locally these changes significantly dropped the report-api duration for large reports.

[2022-01-07 17:30] severinbeauvais commented on #1479
This has not been enough of an issue to deal with so far.

[2022-01-07 17:33] severinbeauvais commented on #1326
This was implemented in another PR.

[2022-01-07 17:33] severinbeauvais commented on #847
The BaseAddress component seems sufficient as-is.

[2022-01-07 17:40] jinghualicgi commented on #10570
We need a design for this @forgeuxGH5

[2022-01-07 17:46] JohnamLane commented on #10618
@pwei1018 Would this be you or another Relationships dev that would handle this?

[2022-01-07 17:48] jinghualicgi commented on #10591
Talk with Scott for the flow on Monday. Or will need to talk with Relationship for Auth repo change

[2022-01-07 17:52] jinghualicgi commented on #10587
Doug will investigate this. @doug-lovett

[2022-01-07 17:58] jinghualicgi commented on #10573
@mstanton1 Melissa will investigate and follow-up later

[2022-01-07 18:03] jinghualicgi commented on #10562
Will use ticket for tracking # 10536

[2022-01-07 18:15] jinghualicgi commented on #10525
@janisrogers  Janis will do analysis

[2022-01-07 18:18] sienna-blumstengel opened #10619 "Filing UI - Hook "business summary" button up to report generator"
- [ ] Get the list of summary documents (from business/documents)
- [ ] Fetch the summary document
- [ ] When document is downloading, **use existing logic to reduce implementation time** (Show loading indicator, and disable buttons on page?)
- [ ] There are no scenarios where the client cannot download the summary, aside from:
  - [ ] Don't display button if the entity is a draft IA (already impl

[2022-01-07 18:18] #5478 closed

[2022-01-07 18:18] #5480 closed

[2022-01-07 18:18] #5479 closed

[2022-01-07 18:18] #5481 closed

[2022-01-07 18:18] #5482 closed

[2022-01-07 18:18] #5734 closed

[2022-01-07 18:18] #5477 closed

[2022-01-07 18:22] jinghualicgi commented on #10544
@janisrogers Janis, please provide the design for this, thanks

[2022-01-07 18:28] jinghualicgi commented on #10553
we will investigate if we should do this

[2022-01-07 18:29] jinghualicgi commented on #10542
This is a global issue.

[2022-01-07 18:44] mstanton1 commented on #10346
Reviewed. In addition to Mag's feedback I've added a request to update 'Birthday' under Debtors to 'Birthdate'.

[2022-01-07 18:50] mstanton1 commented on #10573
There should be a cost listed in the transactions, as per what is currently done with Names. _See prod account: Ministry of Citizens' Services_. The amount should reflect the amounts we are charging for SBC not only for client purposes (inquiry about previous transaction) but also for reconciliation as the amounts we record must have funds transferred from Garms to cover and will be subject to rec

[2022-01-07 19:17] sienna-blumstengel opened #10620 "Edit UI - Business Type"

[2022-01-07 19:17] lmcclung opened #10621 "Edit UI - Nature of Business"
This ticket is to build the Nature of Business component.

**Same for both Sole Proprietor & General Partner**

- [x] Add component to edit page ([designs, not edited](https://projects.invisionapp.com/share/HN123TTOT95J#/screens/461791124), [designs, editing](https://projects.invisionapp.com/share/HN123TTOT95J#/screens/461791125))
- [x] Update Shared Component to include Change features
- [x] Save

[2022-01-07 19:43] jinghualicgi commented on #10429
Hi, this is post go-live. I will move it to BLG

[2022-01-07 20:05] jinghualicgi commented on #10536
@doug-lovett Doug, do you mind add estimate for this ticket? Thanks

[2022-01-07 20:12] doug-lovett commented on #10536
@jinghualicgi Done.

[2022-01-07 20:14] Maribeth-Wilson commented on #10353
Kaine:
In our conversations with RCMP they actually use other services like courts via BCOL so moving them over to Director Search platform won’t satisfy that requirement.

They require:
•	a non min BCEID account right now so they can just pay the admin fees($1.5) for PPR
•	They will also need a  premium account when courts is moved over that charges the normal fees

Proposal:
•	Set up anonym non

[2022-01-07 20:22] fareenr commented on #10534
7-Jan - I have followed up with BCOL and BAs to confirm the responses to specific questions and updated the entire document to reflect changes and enhancements released in the last month and to match user guide responses for payment Q&As.
The latest document is saved in this same google drive link for future reference.

[2022-01-07 20:25] fareenr commented on #10353
7-Jan - followed up with John, Melissa and Kaine to confirm that work is in progress and Kaine has met with RCMP on Jan 6.  This is a sensitive issue.
Kaine has stated:
"The communications will be in person/virtual vs written, please send me any emails that come from that and I will manage with John Lane, Bob etc… "

[2022-01-07 20:30] fareenr commented on #10534
I have reached out to Cameron to confirm how these Q&As should be shared with staff

[2022-01-07 21:12] sumesh-aot commented on #10413
Testing would need to happen in DEV environment as TEST is still pointing to old CFS environment

[2022-01-07 21:17] sumesh-aot commented on #9390
Test activities (Exercise in TEST environment):
- Create one or more routing slips
- Mark the routing slips for refunds from UI. First refund requested, then as supervisor refund authorized.
- Go to DB, and run this (this would normally be done automatically by job, but job is not in TEST yet) :
[code]
- Either wait for evening to run the AP Job, or manually run it from the payment jobs in openshi

[2022-01-07 22:08] fareenr opened #10622 "Review BC Registry Application user guide and make updates"
Review for any updates needed for changes released in the last month
- BCeID Additional Administrator
- review Payment FAQs

When updating the user guide, we have to notify certain user groups of changes. Please see the process for updates to [User Guide here](https://docs.google.com/document/d/1YgJB4ULU9qMpbU-_r0m_J3MuRSmVhmW2LZ_ibnmjJgo/edit)

[2022-01-07 22:09] chdivyareddy commented on #10564
Maximum results can be selected now.

[2022-01-07 23:04] mstanton1 opened #10623 "Update Text for search index"
https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/9419 was created to allow clients to include an index with search results (selected and not selected) to their search output. Design is pending, so this will not be in place for go-live. Currently the system has places where the index is referenced, so wording changes are required to not reference the

[2022-01-07 23:05] mstanton1 commented on #10623
@janisrogers @chdivyareddy can you please help expand the body of this to include the sections where text updates are required?

[2022-01-07 23:16] jdyck-fw commented on #10334
I've outlined the following meeting configurations to consider when updating the template for these tasks, as similar may be desired for hosting with Google when we get there.

Meeting Details:

- [ ] Title: Modernization Overview
- [ ] Date/time: Jan 20th 3-4pm
- [ ] Only users admitted by the host can join the meeting
- [ ] Guests muted on entry
- [ ] Screen sharing is "Host Only"
- [ ] Group ch

[2022-01-07 23:18] janisrogers commented on #10623
On the search results screen. Remove the last sentence "A general record of your search will also be saved." (or if this means something else, could we make it more clear @forgeuxGH5 @tlebedovich )
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/edfb60c9-dd74-49fe-bcd8-383ffd840664)

[2022-01-07 23:19] jdyck-fw commented on #10334
Jyoti Kumar is inviting you to a scheduled Zoom meeting.

Topic: Modernization Overview
Time: Jan 20, 2022 03:00 PM Vancouver

Join Zoom Meeting
https://us06web.zoom.us/j/86778422931?pwd=OXJ0UjBVMlhoTzlPVERuQmU5aGVGZz09

Meeting ID: 867 7842 2931
Passcode: 155464
One tap mobile
+16132093054,,86778422931# Canada
+16473744685,,86778422931# Canada

Dial by your location
        +1 613 209 3054 Canada

[2022-01-07 23:30] jinghualicgi commented on #10530
@mstanton1 Hi Melissa, who can help with this task? Thanks

[2022-01-07 23:32] jinghualicgi commented on #10245
Hi Cameron any update regarding this ticket? Thanks @cwulff1

[2022-01-07 23:34] cwulff1 commented on #10245
@jinghualicgi Spoke to Wendy and she requested training session and supporting resources.  John has provided me with the current process.  I have access to test and will be sending meeting invite to Wendy's team for next week so i can train them on the processes.

[2022-01-07 23:34] jinghualicgi commented on #9527
Hi Cameron any update regarding this ticket? Thanks @cwulff1

[2022-01-07 23:35] cwulff1 commented on #9527
@jinghualicgi Spoke to Wendy and she requested training session and supporting resources. John has provided me with the current process. I will update the document for training next week and this will then be tackled.

[2022-01-07 23:41] thorwolpert commented on #10530
I think this is done, we're using it now

[2022-01-07 23:43] mstanton1 commented on #10530
Agreed - the set up is done and a link has been provided to users in coms.

Note: this is a tool that requires ongoing work to add in questions and responses for users so BA's, OCM and myself will build familiarity.

[2022-01-07 23:50] Maribeth-Wilson commented on #10351
This email has now been sent. Moving this ticket to DONE.

[2022-01-07 23:54] mstanton1 opened #10624 "Collect outstanding documents for API Accounts"
In order to facilitate quicker access to the PPR API Sandbox there were a few cases where clients were advised that they could provide documents (notarized identity affidavit or API terms) at a later time.

PROD keys will be issued shortly and cannot be issued prior to all required account documentation being in place. This ticket serves as a placeholder to confirm which accounts are missing docum

[2022-01-08 00:00] mstanton1 opened #10625 "UI Design - Amendment UI Expiration Date"
Design to address issue identified in https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/10570

On amending the registration, the UI displayed the expiry date and time in the Atlantic time zone instead of Pacific, i.e. “December 11, 2025 at 3:59 am” instead of “December 10, 2025 at 11:59 pm”. The Atlantic value was displayed both in the page header and

[2022-01-08 00:02] mstanton1 commented on #10570
Created UI Design Ticket Zenhub 10625 and placed in grooming pipeline. @forgeuxGH5 this is a P2 for go-live epic. Any ability for somebody on the design team to pick up 10625?

[2022-01-08 00:04] mstanton1 commented on #10624
@Kaineatthelab do you know if we waived the identity affidavit initially for D&D as well? Are you aware of other organizations other than Teranet that we waived documents for initially?

[2022-01-08 00:08] chdivyareddy commented on #10623
@janisrogers I don't think it needs to be updated anywhere else.

[2022-01-08 00:11] mstanton1 commented on #10591
@JohnamLane this is another ticket we reviewed today and identified as being in auth, so needing relationships support. Ultimately, for SBC staff they should direct to the SBC products and services page but instead are being taken to the main page of the Business Registry. Can we chat and fast track this? It might be helpful if somebody from the UX team spends a few minutes to walk through the exp

[2022-01-08 00:17] mstanton1 commented on #10335
Macros (N Drive) is not available to many of the OCM team so content from those is here for review for the first person to have capacity.

1) Can a lien be filed against a tenant's vehicle for rent money owed

Thank you for your inquiry.

There is no provision in the Personal Property Security Act to file a lien for unpaid rent.

A lien can only be filed where the parties have a signed security ag

[2022-01-08 00:18] mstanton1 commented on #10335
N Drive is not accessible to most of the OCM team. I've located the Macros (6) but copy and paste here loses formatting and makes review tricky. I can email copies when somebody has capacity to take this task on.

Note: each macro is only a few lines but there are links within them that might have changed that need checking as well.

[2022-01-08 19:46] magszymanski commented on #10352
Hi, this ticket is for sending out an email to non-ministry gov users a week before go-live: Jan 18.

Should add to email:
- [ ] resources like videos and quick guides demonstrating how to use PPR.

Who can confirm that the soon-to-be public-facing resources located on our [Resources page](https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-upd

[2022-01-08 20:51] magszymanski commented on #10571
Just confirming my understanding:

Staff and public artifacts, so long as they are identical, are to be housed on CMS and linked to the internal Google Site "PPR Staff Info Center"/KB, so that when changes are made and uploaded to CMS, they are automatically uploaded in the KB (given that URLs don't change with updates).

I have added all but one remainng video to the site and added the act and re

[2022-01-08 20:56] magszymanski commented on #10335
@mstanton1 can you please provide a screenshot of one of the macros or send one copy to me? I want to see if this is something that Amitis or Fareen can take on. Thanks!

[2022-01-10 05:53] magszymanski commented on #9848
@mstanton1 @gprimeau couple minor changes if they make sense to you both. As these are SBC forms, should we be assigning form numbers to them? While this form references that it is a Search form, it doesn't list a number (like the "FIN630"). [https://app.zenhub.com/files/157936592/d49ccbed-4a37-4c42-b17b-bf1909eb2809/download](https://app.zenhub.com/files/157936592/d49ccbed-4a37-4c42-b17b-bf1909eb

[2022-01-10 15:25] gprimeau commented on #10014
@magszymanski all videos' have been uploaded to the website and are live

[2022-01-10 16:11] #9715 closed

[2022-01-10 16:14] #9927 closed

[2022-01-10 16:15] #10594 closed

[2022-01-10 16:17] #10068 closed

[2022-01-10 16:17] #10412 closed

[2022-01-10 16:17] #9319 closed

[2022-01-10 16:17] #9321 closed

[2022-01-10 16:44] pwei1018 commented on #10618
This is ready for QA.

[2022-01-10 16:44] janisrogers commented on #10525
Will look at after go live. @tlebedovich do you want a design ticket?

[2022-01-10 16:48] doug-lovett commented on #10536
@chdivyareddy Yes, I think it can be closed.

[2022-01-10 16:54] pwei1018 commented on #8417
This is ready for QA.

[2022-01-10 17:10] Maribeth-Wilson commented on #10622
Hi @fareenr. I revised this ticket slightly as there was reference to non-ministry govt accts. Because this is a public-facing document, we will not include references to non-ministry accts.

[2022-01-10 17:12] mstanton1 opened #10626 "Domain Name for Uber dashboard"
As per stand up please implement the following domain name for the uber dashboard

bcregistries.gov.bc.ca

cc @Kaineatthelab

[2022-01-10 17:14] cwulff1 commented on #10571
@magszymanski
Great work, i like how you've layed this out and the approach makes sense to me.  If you want Sharon or Debbie to review the quickstart guides for accuracy let me know and we can collect their feedback.

[2022-01-10 17:29] #10626 closed

[2022-01-10 17:29] mstanton1 commented on #10626
Closing as Kaine has confirmed there is an existing ticket.

@doug-lovett

[2022-01-10 17:29] fareenr commented on #10352
I have drafted the reminder email and saved here:
https://docs.google.com/document/d/1D4y8UrYhk4LDsspAkQrDbiEMCowgT9S-sjnCaOs_PzI/edit?usp=sharing

May need to update for links to specific PPR new guides once available.

[2022-01-10 17:41] doug-lovett commented on #9904
If the user is not staff and the registration account ID is not the user account ID, the API registeringName is "".

[2022-01-10 17:46] fareenr commented on #10622
Working on reviewing user guide and saving updates that need to be made in the next version to publish in this document:
https://docs.google.com/document/d/183BMH4mMcB9ZunX0ZivetBxhVpJO9tq6cHpTsL1UJVM/edit?usp=sharing

[2022-01-10 17:47] tlebedovich commented on #4465
@stevenc987 i have added the ux assurance tag so once the work is ready to review (DEV) (or if you provide example PDF outputs) then you can tag me and the design team can take a look and provide any feedback when you are ready.

[2022-01-10 18:09] gprimeau commented on #9849
@mstanton1 @magszymanski - I've made adjustments to the debtor section that I would like you guys to look at before I change to a PDF form. Please let me know if this is what you had in mind

[2022-01-10 18:15] janisrogers commented on #10623
Remove the last sentence

[2022-01-10 18:23] stevenc987 commented on #4465
@tlebedovich
OK. Thanks.

@lmcclung
I don't have a option for estimate. I think this is a permission issue for my account.
![image](https://user-images.githubusercontent.com/25512847/148818632-0581cae2-a969-44d9-a572-ba75cd5a6672.png)

[2022-01-10 18:27] lmcclung commented on #10497
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/53a06135-5b59-4be1-8f07-f87bc5d3772b)

[2022-01-10 18:27] magszymanski commented on #10571
@cwulff1 that would be great, actually! I will send you an email now with some attachments as will that will be helpful to garner their feedback.

[2022-01-10 18:38] fareenr commented on #10425
Reviewed BCeID &2FA video - this does not need any updates and still applies to current functionality.

Need to review these training videos:
[ ] Search, change roles and remove team members
[ ] Change log-on options for team members
[ ] Change your contact information or deactivate your profile
[ ] How to Set Up an Account
[ ] How to set up a team

Also, reviewed this webpage and webpage training

[2022-01-10 18:43] mstanton1 commented on #10571
@magszymanski on your comment two above, to clarify we want to keep public facing information on the CMS site and use the google site for staff only. I think we want to avoid linking from the CMS to google site for now because that will send clients into the staff tool? Ultimately the key difference between the public and the staff right now is the diagrams which the public might not need.

[2022-01-10 18:56] mstanton1 commented on #10335
I just sent them all as emails so you can review and provide to Amitis or Fareen to work on. Note, once updates are confirmed in the Macros we will need to send the changes to SBC It Ops to be completed. Due date says Jan 25th but we need the OCM team to have them to SBC IT Ops a week beforehand to allow for the changes to be made.

[2022-01-10 19:19] sumesh-aot commented on #10606
Document refund except JV refunds, as JV refunds will be covered in a diff ticket

[2022-01-10 19:22] jinghualicgi commented on #10519
@gprimeau @magszymanski Hi Gen and Mags, what's latest status for this ticket? Is this under discussion or waiting for review? Thanks

[2022-01-10 19:23] gprimeau commented on #10519
@jinghualicgi this task is completed and should be moved to done

[2022-01-10 19:26] jinghualicgi commented on #10530
Thanks Melissa and Thor, then any suggestions on how to handle this ticket? Leave on the OCM board? Or can we close it? @mstanton1

[2022-01-10 19:35] jinghualicgi commented on #10309
@Maribeth-Wilson Hi Maribeth, do we have what we need? Can we close this ticket? Or still waiting update  from Patrick Wei? Thanks cc: @fareenr

[2022-01-10 19:37] jinghualicgi commented on #10287
Hi Maribeth, any update from GCPE? Can we continue this task? Thanks

[2022-01-10 19:40] jinghualicgi commented on #10286
Hi Maribeth, are we waiting Olisa's input? If yes, can we assign this ticket to Olisa? Thanks @Maribeth-Wilson

[2022-01-10 19:45] Maribeth-Wilson commented on #10286
@jinghualicgi We are waiting for confirmation that this communique can be delayed until after PPR. Will advise once more information is available.

[2022-01-10 19:45] mstanton1 commented on #10530
Closing this ticket.

[2022-01-10 19:45] #10530 closed

[2022-01-10 19:45] Maribeth-Wilson commented on #10309
We can move this ticket to done.

[2022-01-10 19:47] Maribeth-Wilson commented on #10287
@jinghualicgi We are waiting for confirmation that this email can be delayed until after PPR. Will update this ticket once more info is available.

[2022-01-10 19:49] argush3 commented on #9504
@tlebedovich @lmcclung does the existing tooltip text work for DBA?  or were we planning on getting the text updated.

Locally this is what things look like right now.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/1cecdabd-d460-4f36-8714-9a911f5a2d8d)![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/acbc7ca5-340d-4187-b62d-bdb9da5985d9)

[2022-01-10 19:58] mstanton1 commented on #9848
Reviewed Mags final suggestions and am in agreement.

1. Make Serial Number Search singular. Remove (ES).
2. Expand text above Serial Number box to "SERIAL NUMBER / VIN / DEPT. OF TRANSPORT NUMBER". Note, I've expanded the acronym D.O.T from what was suggested by @magszymanski because we use expanded text in the label of section E. If this doesn't fit we can cut NUMBER to NO. or consider the abbre

[2022-01-10 20:02] chdivyareddy opened #10627 "Business Search - Remove Special Characters Warning Message"
-  Remove Special Characters Warning Message on UI for the Business Search.

**Current Behavior:**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/0ded4e80-ddc8-4692-8767-0a4fb5520e05)

[2022-01-10 20:04] jinghualicgi commented on #10261
Is Patrick going to provide this training? Can we assign this to Patrick? Thanks @magszymanski @mstanton1 @PatrickAHeath

[2022-01-10 20:18] tlebedovich commented on #9504
@argush3 - i will let @lmcclung answer this. In the SP/GP UI designs we do mention the word "Sole Proprietorship" for DBA as well, not sure if we need to do that within the tool tip so users know it's also a type of Sole Prop. as an fyi currently in the SP/GP registration designs we use both "Sole Proprietorship - Doing Business As (DBA)" and "Sole Proprietorship (DBA)" when referring to DBAs. If

[2022-01-10 20:21] jinghualicgi commented on #10549
Current go-live date is Jan18, added in ticket title. Thanks

[2022-01-10 20:24] jinghualicgi commented on #8481
@gprimeau Hi Gen, not sure your current tasks and priorities, can we remove "On Hold" tag for this ticket? Thanks :)  cc: @sienna-blumstengel

[2022-01-10 20:35] jinghualicgi commented on #10450
Hi Cameron, any update regarding this ticket? Since you already have a lot of tickets under your name, do we need to assign this to Amitis or Fareen? Please advise, thanks @cwulff1
CC: @Maribeth-Wilson

[2022-01-10 20:37] jinghualicgi commented on #10176
@olisaezeh Hi Olisa, do we need to move this ticket to "In Progress? Thanks

[2022-01-10 20:40] jinghualicgi commented on #10551
@JohnamLane Hi John, while Jyoti's away, can you help with this task? Thanks
cc: @Maribeth-Wilson

[2022-01-10 21:01] JohnamLane opened #10628 "AUTH Web - enforce edit rules for Account Details"
Describe the bug in current situation

Only the Admin on an account should see the following Edit options in Account Info.

![image.png](https://images.zenhubusercontent.com/5a7391bd4b5806bc2bc54a79/ebc03799-fe9c-46ee-b04f-e084395e34f0)

Hide the above 'Change' buttons for:
- Users
- Coordinators
- SBC and Reg staff

[2022-01-10 21:06] magszymanski opened #10629 "Compile key differences between BCOL PPR and BCROS PPR"
Thank you, @fareenr , for drafting this for Melissa and I, I really appreciate it!

@mstanton1 - here are the key differences between old world and new world PPR - I've left some comments for you.
https://docs.google.com/document/d/13x0dVQBECnL1vMrHGCMNM-BDc7JhSB_K/edit

It's written in policy speak but I didn't want to alter the sentences so that you have the raw version. I am happy to simplify i

[2022-01-10 21:07] lmcclung commented on #9249
@vysakh-menon-aot no we don't need to save this

[2022-01-10 21:16] janisrogers commented on #10625
This looks like it has already been fixed. I have asked Kevin to retest.

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/457f8869-21ce-4f88-bfb5-ed75dee2973f)

[2022-01-10 21:23] lmcclung commented on #9504
Please change it to: An existing legal BC entity that would like to be known as another name.  Referred to as a "Doing Business As", "DBA", "Operating As" or trade name.  Does not have name protection in BC as it is a type of Sole Proprietorship.

[2022-01-10 21:57] mstanton1 commented on #8417
@pwei1018 thank you! This will go to UXA. Will the update show on existing PDFs or just those generated moving forward?

cc @tlebedovich

[2022-01-10 22:43] zac-broitman opened #10630 "Coop attached to two separate BC Registries accounts"
**Describe the bug in current situation**
An Ops ticket came in where a coop was attached to two separate BC Registries accounts. This has been resolved for the individual business which experienced the issue. The cause is uncertain and may need to be investigated as a bug.

**Link bug to the User Story**

**Impact of this bug**
Noted by one client so far. May cause difficulty in searching for the

[2022-01-10 23:27] argush3 commented on #9504
Successfully created NR of type DBA in DEV using new DBA dropdown item.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/2bb2e952-d1ec-4105-b933-90259d58aa1d)

@tlebedovich ready for UXA

[2022-01-10 23:28] cwulff1 commented on #10450
@jinghualicgi Yes sorry I am not updating tickets but the work is well underway.  Decision not to remove the option from the menu until COOP/BCOMP summaries are available.

[2022-01-10 23:29] janisrogers opened #10631 "Field hint typo"
### Describe the bug in current situation
There is a typo  in the field hint when adding a Aircraft/Airframe Registered in Canada (AC) or Aircraft/Airframe Not Registered in Canada (AF)
Currently it is 'D.O.T Number'
It should be   'D.O.T. Number' (Period after the T)

### Impact of this bug
Low, but the typo looks unprofessional

### Chance of Occurring (high/medium/low/very low)
high

### Steps

[2022-01-10 23:30] cwulff1 commented on #10450
Other notes:
- No third party option for access yet
- Misc Entities is tied to the COOP BCOL Option
- Misc Entities can be obtained using staff template.
- XCP will need to be done manually.

[2022-01-10 23:48] gprimeau commented on #9848
@mstanton1 @magszymanski     Here is the draft of the fillable form

[https://app.zenhub.com/files/157936592/edbfcd1e-680b-4d4f-9b30-e80ca5e6d015/download](https://app.zenhub.com/files/157936592/edbfcd1e-680b-4d4f-9b30-e80ca5e6d015/download)

[2022-01-11 00:16] lmcclung commented on #9908
@riyazuddinsyed at BA/UX guild meeting we decided to not expend effort on making our apps mobile friendly (other than names) until either 1) we get enough user feedback wanting it or 2) we finish creating our filings.  It appears we are currently designing for a screensize that meets around 90% of users.