[2021-08-12 23:08] jinghualicgi commented on #7340
@SateeshFW , may I have your DEV team take a look at this bug? Thanks

[2021-08-12 23:32] SateeshFW commented on #7340
Will include it in the next grooming meeting

[2021-08-12 23:59] chdivyareddy commented on #8483
Verified in TEST.

[2021-08-13 00:01] lmcclung commented on #8390
@sumesh-aot @andrepestana-aot I was going to clean this ticket up, but can't recall exactly what we decided on.  And I see that Assets team would also like to use these success/fail messages (at least the BCOL ones as that is currently the only payment method).

Sumesh, could you remind me whether you are building these custom messages or just the indication of success or failure?

Andre, if Sumes

[2021-08-13 00:14] lmcclung commented on #8398
@yuisotozaki @tlebedovich I only see the two tooltips in the invisio.  Or are we using the text in ticket 8390?
If the visio - for the FAS routing slip tool tip - we'll need to change the text as the public has no idea what a routing slip is.  Either 1) remove 'to the routing slip charges' or 2) replace with 'for the payment you sent to our office'.  My preference would be the first.

If 8390 - th

[2021-08-13 00:17] lmcclung opened #8563 "Add tooltip to explain refund status in Name Request"
This a continuation of [7018](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7018) which displays the status of the refund on the Name Request summary page - either Cancelled, Refund Requested or Cancelled, Refund not processed.

This ticket is to add the tooltips with text specific to the payment type and if success/failure.

Tooltip text is the text outline

[2021-08-13 00:21] lmcclung opened #8564 "UI Design - actions for all Request statuses"

[2021-08-13 00:27] tlebedovich commented on #7217
@lmcclung - is the uploaded rules/memorandum stamps/text dev work part of this ticket? because its not listed in the description, but I have attached my design comp here.

[2021-08-13 00:30] #7975 closed

[2021-08-13 00:30] lmcclung commented on #7975
Closing this story - moved all the tickets under 4217 so they don't get forgotten.

[2021-08-13 00:40] andrepestana-aot commented on #8390
@lmcclung at first we decided to display whatever it comes from pay-api but then Yui created more specific messages for Entities to display. That's ok I think. As Sumesh said, every message will have a `type` and depending on the `type` we choose one of our messages to display. In a scenario where some of the refunds fail (because of the business rules or technical issues) we'll need to figure out

[2021-08-13 01:42] tlebedovich commented on #8398
@andrepestana-aot @lmcclung @yuisotozaki  - Hi everyone. The visual/ux design for the Cancel and Refund modals and the Summary screens have all been completed and updated. I have added all of the different Modals and Summary Screens with their proposed message and tool tip text (see design link in description above).

Linda - please have once last review of the scenarios and the messaging text and

[2021-08-13 01:45] tlebedovich commented on #8390
@andrepestana-aot @sumesh-aot - to note, please see the linked design ticket for the "final" updated text and messages in the modals and summary screens. We made a number of updates since our meeting today.

https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8398

[2021-08-13 01:56] lmcclung commented on #8398
@tlebedovich just one outstanding change for the tooltip re routing slips.  We'll need to change the text as the public has no idea what a routing slip is. Either 1) remove 'to the routing slip charges' or 2) replace with 'for the payment you sent to our office'. My preference would be the first.

[2021-08-13 03:07] thorwolpert commented on #8516
CP0000965 had a bad director address, fixed

[2021-08-13 03:10] thorwolpert commented on #8516
CP0002255 - is loaded up to the Restoration filing.
CP0000965 - the OTINC is loaded and the business created. There are 38 filings to go, but the very next filing is also a Restore, then a whole bunch of ARs, COA,COD and then the latest Restore.

Will need to build the restoration schema and Filer process to complete the load.

[2021-08-13 04:29] tlebedovich commented on #8398
@lmcclung - Scenario 7 has been updated. I also included the mention of no automatic refund just so folks are clear that really do need to take action to get a refund. Let me know if this works.

c/c @yuisotozaki

[2021-08-13 15:04] jinghualicgi commented on #8280
Thanks @SateeshFW , when is your grooming meeting? This is a blocker for our task, I would like to follow-up with this. Thanks

[2021-08-13 15:10] argush3 commented on #8388
sent email to David Roberts about this issue.  waiting for reply.

[2021-08-13 15:15] jinghualicgi commented on #7358
@chdivyareddy , Divya, can you please reverify this since #8357 has been fixed. thanks

[2021-08-13 15:17] jinghualicgi commented on #8527
@Kaineatthelab Kaine, can we move this to sprint backlog? This bug block our current sprint task #7138, thanks

[2021-08-13 15:19] jinghualicgi commented on #8461
@Kaineatthelab Kaine, can we move this to sprint backlog? This bug block our current sprint task #8349, thanks

[2021-08-13 15:31] chdivyareddy commented on #7358
Verified in TEST, you can close this ticket @jinghualicgi thanks:)

[2021-08-13 16:19] amit4610 commented on #8458
Asked CAS for refund. told IT Ops.

[2021-08-13 16:19] #8458 closed

[2021-08-13 16:20] PatrickAHeath commented on #7534
Logon to PPR with IDIR will be covered in the Staff Functionality epic.

We can assign BCSC userids to staff to allow them access to TEST PPR to experience the application in the meantime.

Closing this issue.

[2021-08-13 16:20] #7534 closed

[2021-08-13 16:21] jyoti3286 commented on #8280
thanks, @jinghualicgi for raising this. The usual process we follow for such cross-team bugs and dependencies:
1. Discuss in the BA Guild meeting to highlight the impact.
2. BA's to document the deadline, why its a blocker, and document the priority for such items

Based on those conversations, we prioritize the items in our sprint. Hope this helps. Thank you

Our grooming would be next Tuesday

[2021-08-13 16:27] #7389 closed

[2021-08-13 16:27] #8166 closed

[2021-08-13 16:27] #8353 closed

[2021-08-13 16:31] sumesh-aot commented on #8390
@lmcclung @andrepestana-aot Below was my understanding;
- Pay API will return the messages as in https://github.com/bcgov/entity/issues/8390#issuecomment-893866541 (Sienna's comment) for each scenario.
- There are 2 scenario on pay. Success where it returns a message with http code 201, failure with details like `type` with http 400 error code.
- There won't be any type for success message.

Pleas

[2021-08-13 16:36] tlebedovich commented on #8390
We have updated the messages since Sienna's version. The final messages are shown in the Invision comps in the design ticket.

[2021-08-13 16:38] amit4610 commented on #8319
Updated so far. If we add more roles, we need to update this matrix.

[2021-08-13 16:38] #8319 closed

[2021-08-13 16:38] amit4610 commented on #8093
Louise is still working on this.

[2021-08-13 16:40] sumesh-aot commented on #8390
@tlebedovich Those messages appears to be Name Request specific, where as pay would be sending back only generic message.

CC: @mstanton1

[2021-08-13 16:40] #8093 closed

[2021-08-13 16:41] amit4610 commented on #7032
Next requirements will be captured in zenhub tickets. This list in csv is up to date

[2021-08-13 16:41] #7032 closed

[2021-08-13 16:41] sumesh-aot commented on #8390
@jyoti3286 @mstanton1  I was planning to start on this today, I may need to find another ticket as this tickets seems to be there are moving pieces.

[2021-08-13 16:46] yuisotozaki commented on #8398
@tlebedovich I think this is the exhaustive list of scenarios for PAD.

For single payment via PAD (ie just the NR)
* When PAD payment and refund are on the same day, it's "Scenario 5: PAD payment - failure".
* When PAD payment and refund are on different days, it's "Scenario 4: PAD payment - success".

For multi-payment via PAD (ie NR and upgrade):
* When NR request, priority upgrades, and refund

[2021-08-13 16:47] yuisotozaki commented on #8562
@lmcclung Got it! Will coordinate with @tlebedovich

[2021-08-13 16:53] pwei1018 commented on #7091
@lmcclung I switched the director change output to paper only now.

![image](https://user-images.githubusercontent.com/44277752/129393289-62a162ca-ef2f-4615-ba8f-6aeabf8ec1a1.png)

[2021-08-13 16:58] #7875 closed

[2021-08-13 17:07] sumesh-aot commented on #8351
@Sienna-Blumstengel @lmcclung It turns out that OTINC already exists in filing types and seems entity is already using it (to show 250). Had a chat with @severinbeauvais and is good to go with existing filing type code.

[code]
Please let me know if you have any questions, as I am planning to close this ticket.

[2021-08-13 17:10] amit4610 commented on #8033
Attaching data: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-4126

[2021-08-13 17:26] jyoti3286 commented on #8390
@lmcclung - This was estimated from our side the last Sprint with the assumption which Sumesh has highlighted. The intent of our team is to keep the messages generic enough that they can be consumed by any source application(Name request, PPR Etc).

If that intent has changed, then we need to relook and re-prioritize this ticket. Let's discuss this in PO sync today and get some understanding.

CC:

[2021-08-13 17:27] rarmitag commented on #8173
Sorry missed bringing this up at the last SRE so will bring this up on Tuesday 17th.

[2021-08-13 17:37] lmcclung opened #8565 "Verify - New board - Figure out how to open a name request"
**Time-box this to**
- [ ] WHen client click's "open" it takes them to their specific NR details page.
  - [ ] Investigate if we can use what we have implemented to return from PAY.

**If the work above extends past the timebox, talk to Kaine, and together decide if you should continue, or go with MVP**
- [ ] MVP: direct to name request main page (not their specific NR details page)

#### Testing

[2021-08-13 17:38] lmcclung opened #8566 "Create the Draft IA for incorporation NRs"

[2021-08-13 17:38] lmcclung opened #8567 "Figure out how to direct alteration ARs to entity dashboard"

[2021-08-13 17:38] mstanton1 opened #8568 "Complete and send service_code_form for regular and priority NR's"
### Description
As per direction from Garms, in order to direct funds from Name Requests completed in the new app into the new bank account we will require new service codes.

Existing codes
0747 - regular NR
0783 - priority NR

Need to determine breakdown of coding. Currently MDA fees are still applied, but with the regular NR code the amount is now just sent into the same amount as the service f

[2021-08-13 17:38] lmcclung opened #8569 "New board - Create "Use this name request" now button"
This has already been done in Name Request by Cameron.

- [ ] Port over Cameron's existing work
- [ ] Update it to support new entities (but don't define where to send them, that will be handled in #8570)

[2021-08-13 17:40] lmcclung opened #8570 "Old/New - AUTH Web UI - Use Target table to connect with 'use this name request'"
The table returns the action block as part of the NR.
Different from the UI hint one.

1. Handle IAs (BEN, CP)
2. Redirect to Onestop (firms)
3. Redirect to Corporate Online (COLIN - corps)
4. Create draft alteration (BEN)

May have a lear API component. (Depends how close no. 4 is to 1.)

Table shows what to do with unsupported NRs.
Note:  some NR types could have multiple action items.. Incorpor

[2021-08-13 17:40] pwei1018 commented on #8558
@PatrickAHeath @lmcclung  I can't find the code to display home jurisdiction number in Namex  web. This should be a new requirement or bug.

[2021-08-13 17:40] mstanton1 commented on #8568
Form for Regular NR has been started here. Same details will be used on the Priority form.

[https://app.zenhub.com/files/157936592/10a719e3-c6a1-4e49-b231-52943751b19b/download](https://app.zenhub.com/files/157936592/10a719e3-c6a1-4e49-b231-52943751b19b/download)

Currently I am in conversation with Melanie Richardson, Lisa Nichols, and Wendy and Cheryl from BCOL to understand the impact of movin

[2021-08-13 17:43] mstanton1 opened #8571 "Training videos - duplication on site"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident:
### Contact information
Staff Name: Julie Harding for Brian Currie - Service BC Training Facilitator, Maximus Canada
Staff Email: Julie.Harding@gov.bc.ca

### Description
Good afternoon,

Looking through the you tube videos (which are very good by the way) I noticed that the Change payment methods video is

[2021-08-13 17:46] stevenc987 commented on #8544
@lmcclung
Here is the search results:

1)
C:\dsk01\lab\FOR-SEARCH-BEFORE-VENV\bcrs-business-create-ui\src\views\ReviewConfirm.vue
	Line 14:             date up to 10 days in the future (note: there is an <strong>additional fee of $100</strong> to enter and

2)
  C:\dsk01\lab\FOR-SEARCH-BEFORE-VENV\bcrs-shared-components\src\components\StaffPayment\StaffPayment.vue
	Line 63:           label="Priori

[2021-08-13 17:47] chdivyareddy commented on #7885
Please do not close this ticket until I verify the dependent ticket:)

[2021-08-13 17:47] mstanton1 commented on #8571
Link to Change Payment Methods links to 'Authentication Methods for Teams': https://www.youtube.com/watch?v=_ZBFjjeu__8

Link to Change log-on options for team members links to 'Authentication Methods for Teams':
https://www.youtube.com/watch?v=_ZBFjjeu__8

[2021-08-13 17:51] pwei1018 commented on #8255
@PatrickAHeath No detail information, we can not do anything of this issue now. I would suggest the names team add more logs around this function. We can close this one.

[2021-08-13 17:53] mstanton1 commented on #8571
I've tried to locate the correct Youtube link in the Excel document for videos but notice the two videos both contain the same link. I've been unable to find the link to the Payment Options video for YouTube by searching the web.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/1c7fb9d5-baf9-4f21-94d0-a10104c6b513)

We will need to look through correspondence with the co

[2021-08-13 17:53] lmcclung opened #8572 "Old dashboard - handle 'Open'"
"Open" button  redirects to the Name Request app without any NR info

Add a button called "Use this name request" for BEN & CP Incorporations and this will launch draft IA.  This button is not shown for unsupported NRs and BEN change of name/alteration (ie, only show for BEN IAs).

~Don't touch the "Remove" button.~
- [x] We are using the combo button design. Open/drop down menu including remove a

[2021-08-13 17:59] mstanton1 commented on #8571
Correct link for Payment options video should be https://youtu.be/6smu40A7nc0.

I have sent a request for update to Genevieve to update the link.

[2021-08-13 18:00] yuisotozaki commented on #8444
@tlebedovich @Kaineatthelab

Invision mock updated with feedback from above meeting notes. A "progressive selection" flow has been added to see how that looks like.

**Too many exact matches scenario**
- Show the modal before showing the search result. (no change from before)

**Too many similar matches selected scenario**
- Added number of search results (exact and similar)
- Added number of regi

[2021-08-13 18:03] #8566 closed

[2021-08-13 18:08] #8042 closed

[2021-08-13 18:10] pwei1018 commented on #8252
@PatrickAHeath Sienna created the bug ticket. Do you want us to refund the 3 extra payments?

[2021-08-13 18:23] severinbeauvais commented on #8572
This should be in the next auth-web release.

cc: @sumesh-aot

[2021-08-13 18:28] mstanton1 commented on #8571
Update has been made on CMS site. Brian and Julie have been informed.

[2021-08-13 18:28] #8571 closed

[2021-08-13 18:34] jdyck-fw commented on #7995
@lmcclung - Since we broke this one down some today, I removed the existing 15 point estimate on the story and moved it to the backlog. Though you may want it in Grooming.

[2021-08-13 18:41] PatrickAHeath commented on #8558
I created an NR for an XPRO registration in TEST (NR 3096949) and the Home Jurisdiction Incorporation Number (555666777) doesn't show up in NAMEX.

[2021-08-13 18:45] lmcclung commented on #8390
@jyoti3286 yes, let's discuss at PO Sync.

[2021-08-13 18:50] PatrickAHeath commented on #8255
Encouraging staff to collect date/time, activity, userid or account used as well as the NR or entity identifier from the client on future incidents.

No evidence of payment error found in the logs.  Closing issue.

[2021-08-13 18:50] #8255 closed

[2021-08-13 18:51] yuisotozaki commented on #7561
@tlebedovich ☝🏻 Additional recommendations from Patrick re: text content.

[2021-08-13 18:53] lmcclung opened #8573 "Namex API - refund status"
- check status of the refund state
- send status in the response

The response to the cancel request has to include the refund status code
On a normal NR get the refund status code needs to be available.

[2021-08-13 18:55] lmcclung opened #8574 "Namex API - refund status"
Currently, Pay-API only returns HTTP 202 when refund is ok or HTTP 400 when refund is not possible. There is a function in Namex-api (_should_refund_sbc_payment) to determine if we should try to refund or not. This ticket is to remove that function and let Pay-API to determine if the refund should be done and give us information about the refund status.

The refund value that is being sent back to

[2021-08-13 18:55] mstanton1 commented on #8550
From Meeting with Julie:

- team can add links to SP documents in OneNote
- document in SP for Staff FAQ for PAD and Online Banking would be more valuable if it was split out. Request for document for PAD, Online Banking, and BC Online Drawdown
- Information for data to collect and questions to ask when online banking did not get applied on an account, and possibly went to wrong account, should be

[2021-08-13 18:59] #8165 closed

[2021-08-13 19:00] lmcclung commented on #7091
@pwei1018 thank you!

[2021-08-13 19:00] PatrickAHeath commented on #8252
@lmcclung Should 3 or 4 (suggested by Sienna) refunds be done?

[2021-08-13 19:02] #7091 closed

[2021-08-13 19:04] lmcclung commented on #7685
@vysakh-menon-aot thanks for all your work on this one.  I agree, let's just use what minio has for now.

[2021-08-13 19:05] #7685 closed

[2021-08-13 19:05] lmcclung commented on #7685
Didn't add a release as no dev work done.

[2021-08-13 19:07] lmcclung commented on #8563
@andrepestana-aot @severinbeauvais can you give me an estimate for this work?

[2021-08-13 19:09] lmcclung commented on #7119
Pushed back into progress as @thorwolpert will add the directors back in.

[2021-08-13 19:19] lmcclung commented on #8252
@pwei1018 @PatrickAHeath please cancel all 4 payments.

[2021-08-13 19:22] severinbeauvais commented on #8563
Oh, I didn't know we had a specific ticket for the tooltip -- I had assumed this work was part of #7018.

I do think 7018 is estimated a bit low, now that we have code and UI designs.

IMHO, this ticket + 7018 are about 3 days of work. I'd leave it up to Andre whether to keep this ticket and 7018 separate or to merge them.

[2021-08-13 20:15] tlebedovich commented on #8398
@andrepestana-aot - copy added to ticket here for your copy and paste needs :)

[2021-08-13 20:44] pwei1018 commented on #8252
@lmcclung @PatrickAHeath done.

![image](https://user-images.githubusercontent.com/44277752/129416524-98234923-55d6-4e8e-ad6b-540a5b2e6dfb.png)

[2021-08-13 20:45] jyoti3286 commented on #8390
The decision in the PO sync is to move forward with the generic error messaging - @sumesh-aot

[2021-08-13 20:51] PatrickAHeath commented on #8252
Ooops - just sent an email to BCOL Help!

[2021-08-13 20:54] chdivyareddy commented on #8201
Issues found while testing Address Module - All the issues are related to Postal Code
1. I still see the same error as Janis noticed earlier: If you enter Canada as the country, start to enter the address, then switch the country to US, you get an error on the postal code "Must be a valid zip code".
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/da656635-2838-44be-bc1a-

[2021-08-13 20:54] #8252 closed

[2021-08-13 20:56] tlebedovich commented on #8394
@lmcclung - please review first page of Coop output with the net new Coop Assoc Type component linked above. Rest of IA output can be built by dev using existing components and then UX Assured after. I had an open question about if completing party requires both addresses or just mailing address like BEN.

[2021-08-13 21:44] lmcclung commented on #8516
@thorwolpert
@thorwolpert

What do we record in COBRS for Coop restoration filing:
o	Type of Restoration: Limited Restoration - LR or Full Restoration - RE   (this should correspond to the filing type in CPRD)
o	Restoration date: YYYYMMDD – filing date
o	Restoration expiry date: YYYYMMDD (only entered if limited restoration) – date taken from the court order
o	Note: we don’t enter court order info

[2021-08-13 21:55] mstanton1 commented on #8550
Documentation Tracking:

Created draft document for FAQ's for Online Banking using same format of existing FAQ for OB and PAD (Aug 13th): [https://app.zenhub.com/files/157936592/af2c3ff6-478a-46e6-8dd4-c013c7da12ef/download](https://app.zenhub.com/files/157936592/af2c3ff6-478a-46e6-8dd4-c013c7da12ef/download)

Removed OB FAQ's from PAD document on SP. Still pending review.

Still require BC Online

[2021-08-13 22:12] jyoti3286 commented on #8510
@mstanton1 - This is for grooming

[2021-08-13 22:38] yuisotozaki commented on #8004
UX Assurance In Progress.

[2021-08-13 22:41] forgeuxGH5 commented on #7560
Note that Name Request is changing the way expiry is displayed to be the end of the last valid day (so 11:59:59) because having something expiry at the beginning of the day was misleading users.

https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8178

[2021-08-13 22:44] lmcclung commented on #8390
@sumesh-aot if there are multiple payments, do they get rolled up?

My understanding is that if there are two payments, we send two payment refund requests to you. What happens if one payment refund request is success the other is failure?  What would you send back to us?  Would you send us multiple results or just one?

[2021-08-13 22:45] sumesh-aot commented on #8390
@lmcclung That would be 2 separate API calls from names to pay-api and each API call will get the response.

[2021-08-13 22:48] PatrickAHeath opened #8575 "CP0965 & CP2255 - import into POSTGRES"
### ServiceNow incident:  INC0104499
### Contact information
Staff Name:  Lance Hall
Staff Email:  Lance.Hall@gov.bc.ca

### Description
Hello Team,

Can you please assist with the request below?

INC0104499 created for this request.

I also noted the request for status update in INC0084392

Thank you,

Regards,

Tyler Finnie
Operations Support Analyst
Registries & Online Services, Service BC Mini

[2021-08-13 22:50] lmcclung commented on #8390
@sumesh-aot thanks.

[2021-08-13 23:17] tlebedovich commented on #8398
@andrepestana-aot @lmcclung @yuisotozaki - I have added a new Scenario 7A above and in the design comps for the multi-payment failure.

[2021-08-13 23:19] lmcclung commented on #8563
Thanks @severinbeauvais - Andre and I agreed to do a separate ticket for the tooltips for the very reason 7018 was estimated low.  @andrepestana-aot what estimate do you want on this?

[2021-08-13 23:23] lmcclung commented on #8544
Thanks @stevenc987

[2021-08-13 23:30] lmcclung commented on #8351
@sumesh-aot that's great news.  Go ahead and close it.

[2021-08-13 23:38] lmcclung opened #8576 "Filing UI - alteration ledger missing filing date and time in the additional information."
**Describe the bug in current situation**
Thor filed alteration from an LTD to a BEN.
The additional comment in the ledger is missing the filing date

can look at BC0789965 in Production for an example

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/ef9e7ff7-3115-4460-83a9-75e57885dc9f)

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. wh

[2021-08-13 23:39] lmcclung commented on #8168
Created bug ticket 8596 to reserach why date is missing on the ledger.

[2021-08-13 23:43] lmcclung opened #8577 "Restoration Requirements"
Task: identify what fields are required for restorations.

[2021-08-13 23:49] lmcclung commented on #8577
Info re: Coop Restorations
Two types of restorations: limited (meaning only restored for a specific period of time - usually no longer than 2 years) and full (restored indefinitely - until they get dissolved)

Business Process
1. Coop reserves name
2. Coop gives affidavit to courts
3. Court files affidavit and coop gives it to registries
4. Registries gives consent letter to Coop
5. Coop Publishes

[2021-08-14 00:04] lmcclung opened #8578 "Verify: entity type in ledger"
BC1265527 Altered from LTD to BEN in ticket [8421](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8421).

When the alteration was filed the Incorporation Application ledger changed from LTD to BEN and should stay as BEN.  I think this will be resolved with the Legal API refactoring (5959 story).  Need to verify this once this work is done.

![image.png](https

[2021-08-14 00:07] lmcclung commented on #8421
Created bug #8265 to verify the ledger display names were corrected with implementation of legal API refactoring in #6969.

[2021-08-14 00:14] lmcclung commented on #8421
Kial actually did this filing not just loaded the draft IA.

[2021-08-14 00:14] #8421 closed

[2021-08-14 00:16] lmcclung commented on #7935
@kialj876 please confirm.

[2021-08-14 00:19] lmcclung commented on #7831
blocked by pending deletion ticket

[2021-08-14 00:20] #8168 closed

[2021-08-14 00:22] lmcclung commented on #8265
moving to sprint backlog - can push to ready for QA once refactoring done.

[2021-08-14 00:33] lmcclung commented on #8394
@tlebedovich
a few thoughts...
rules/memorandum - looks good (unless you think we should make the incorporation number the same font size as the filed by
IA - I like the type where you put it.  Noticed that we could get rid of the 'Incorporation Application' above the NR information - it's kind of redundent.  We needed it in the corporation IAs as the output had two sections: incorporation applica

[2021-08-14 00:34] lmcclung commented on #8461
@tlebedovich why did you take Entities on this ticket?

[2021-08-14 00:40] tlebedovich commented on #8461
by mistake, haha. will remove

[2021-08-14 00:45] tlebedovich commented on #8394
will do monday, thanks

[2021-08-14 00:45] lmcclung commented on #7259
@jinghualicgi I think you tagged this to the wrong release. I don't think it has anything to do with the Name request release.

[2021-08-14 00:50] lmcclung commented on #7388
@vysakh-menon-aot this email is triggered 5 days before expiry, right?  I thought I heard 14 days in stand up?

[2021-08-14 02:31] jinghualicgi commented on #7259
@lmcclung , Yes, you are right, I have removed Names release tag, thanks

[2021-08-15 02:30] rarya-freshworks commented on #6206
I was able to reproduce the issue. It is a bug and needs to be fixed. I still want @amit4610 or @mstanton1 to give it a try from there end just to confirm as well.

[2021-08-16 04:36] vysakh-menon-aot commented on #7388
You heard it right. It is 14 days since we changed the logic to show extend button on or before 14 days

[2021-08-16 14:12] #8483 closed

[2021-08-16 14:14] #8402 closed

[2021-08-16 14:15] #8357 closed

[2021-08-16 14:46] jinghualicgi commented on #8443
@doug-lovett @chdivyareddy  Doug, Divya, this ticket has sitting here for 12 days, do you need any help?

[2021-08-16 14:48] jinghualicgi commented on #7853
@chdivyareddy Divya, based on our conversation, please go ahead to QA this ticket. thanks

[2021-08-16 15:14] chdivyareddy commented on #7853
@jinghualicgi , Steph mentioned that she is redoing some work. As soon as it is completed, I will start working on it. Thanks:)

[2021-08-16 15:33] tlebedovich commented on #7681
Hi @jordiwes - Here is the UX Feedback for the Secured Party Modal:

- [ ] Make Exit button wider (it got very narrower for some reason)
- [ ] Close X should align with boxes

![Screen Shot 2021-08-16 at 8.06.27 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/745ec44b-ef1b-48db-9b83-0b0e424fea07)

Here is the UX Assurance for the Secured Party Look Up Dropdown:
- [ ] P1 - Use

[2021-08-16 15:33] chdivyareddy commented on #8443
@jinghualicgi , not enough information on the ticket, waiting for Doug to come back from vacation. Thanks:)

[2021-08-16 15:42] yuisotozaki commented on #8004
@kialj876 Hi! Here's the regular user's dropdown UX Assurance notes. Can you help me get to the government user's dropdown? All the BCREG20## virtual card accounts take me to what appear to regular user accounts.
![image](https://user-images.githubusercontent.com/56084999/129590826-d8d4fe70-0c8d-487d-a6aa-dd0349764fd5.png)

[2021-08-16 15:53] kialj876 commented on #7935
Yes this was released in June (I don't remember the exact date)

[2021-08-16 15:54] tlebedovich commented on #7863
@jordiwes - UX Assurance:

- [ ] For ALL Registration types, fix the font size in the Vehicle collateral Type dropdown (something got messed up so only the selected item is the correct 16px size, all the other items are now too small. All should be 16px. And they should not be indented. This is a global fix for all registration types.
- [ ] Global Fix

![Screen Shot 2021-08-16 at 8.45.39 AM.png]

[2021-08-16 15:56] yuisotozaki commented on #7560
The decision from the business is to continue using 11:59:59 on the UI.

[2021-08-16 15:58] lmcclung commented on #7935
Closing this ticket without an estimate and milestone.

[2021-08-16 15:58] #7935 closed

[2021-08-16 15:59] tlebedovich commented on #7860
@jordiwes - UX Assurance -

See the Global Updates to do in https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7863

[2021-08-16 16:07] #8398 closed

[2021-08-16 16:21] lmcclung commented on #8558
If it's not in the code then it sounds like this is a new requirement.  Will add it to the Post-bcol epic for prioritization.

[2021-08-16 16:28] andrepestana-aot commented on #8563
@lmcclung I updated the "To do" in the description and added the estimation to this ticket.

[2021-08-16 16:39] severinbeauvais commented on #8352
^^^ As discussed on Friday, PR 223 is most of the implementation, so that we can get some UI design eyes on it. In the meantime, I will finished up the missing items (unchecked boxes in this ticket's description). I believe this PR can safely be merged (subject to review comments).

[2021-08-16 16:48] kialj876 commented on #8561
Everything looks fine for the example NR 4007228. I will ask if there are any ongoing issues for email receipts / direct pay

[2021-08-16 16:55] yuisotozaki commented on #8562
@magszymanski Do you have a test plan for co-op incorporation flow? I'd like to gauge the scope and fidelity of the interactive mockup you will need.
* Will it be a researcher-guided testing or the user-driven testing?
* Where will the user start?
* Where will the user end?
* Will reviewing outputs  be part of the test flow?
* Will validation and error handling flow loops be part of the test flow?

[2021-08-16 17:27] kialj876 commented on #8201
@chdivyareddy can we meet sometime today or tomorrow on the postal code issue? I still can't reproduce this in dev/test or my local env for some reason. It will help me to see exactly what you do to make it happen. For concern number 3 (the hit cancel and it saves the info), that is an add debtor bug not an address bug

[2021-08-16 17:32] Sienna-Blumstengel commented on #7313
@thorwolpert @lmcclung Kat is checking in on the status of this request.

I have one question for Linda:
1. What are we calling "done" for an ops ticket like this? We have the following:
* A nice looking ledger for Voluntary Dissolution ![Screen Shot 2021-08-16 at 10.27.35 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/cb24e969-a27a-4f7a-89ff-aabe42f9ed26)
* An older looking

[2021-08-16 17:32] ghost opened #8579 "NR refunds Aug 16-22"
1. - [ ] NR3987237, INC0104606 . This NR is not required as a restore NR had already been submitted.

2. - [ ] NR3471130, INC0104608

3. - [ ] NR9481682, INC0105089. This NR has 4 charges to be refunded (payment_id 71693, 71690, 71691, 71696)

4. - [ ] Incorporation of BC1289819. Staff requested refund as this company was incorporated in error. See Zenhub 6560. Invoice Number for refund, REG000208

[2021-08-16 17:46] PatrickAHeath commented on #7561
Decision from August 16 standup:
Verification of up to the first 5 characters of the debtor Last Name or Business Name will be modified to look at any active debtor, not just the Base Debtor.  If the client enters characters that don't match with an active debtor, display the first 5 characters of the first active debtor.

The term Base Debtor will not be added to the Search output PDF.

[2021-08-16 17:49] PatrickAHeath commented on #8381
Decision from August 16 Standup:

The verification step in Discharge/Renewal/Amendment will now allow matching against any active debtor, not just the base debtor.  The term Base Debtor will not be required on the Search or Registration outputs.

[2021-08-16 17:50] lmcclung commented on #7313
@Sienna-Blumstengel @thorwolpert

1. Outputs - We need to make this available on paper only until we actually build the filing and outputs
2. Directors are missing - Sienna, I hadn't made it clear to Thor that when we updated the party table that the directors needed to remain active.  We need to add them back in.
3. COLIN ledger item - We need to find out why the filing didn't come back to COLIN.

[2021-08-16 17:52] tlebedovich commented on #7561
Thanks @PatrickAHeath - I think we were going to have the user put it the full debtor's last name or full business name, just for ease of use, but the check will just be for the first 5 characters. And I'm hoping if its not a match then we can show the full last name or full business name for users as the hint (versus just first 5). Just a technical FYI.

[2021-08-16 17:55] PatrickAHeath commented on #7561
@tlebedovich Yes - the magic behind the curtain!

[2021-08-16 17:57] Sienna-Blumstengel opened #8580 "Voluntary Dissolution of Benefit Company - 1300911 BC LTD. (part 2)"
### ServiceNow incident:
INC0087423
Also relates to existing Zenhub ticket #7313

### Contact information
Staff Name: Kathy Langlois

### Description

#7313 was opened to voluntarily dissolve 1300911 BC LTD.

We completed part of it, but we have some missed requirements to finish:
- [ ] Outputs - We need to make this available on paper only until we actually build the filing and outputs
Directors

[2021-08-16 17:58] Sienna-Blumstengel commented on #7313
Thanks @lmcclung !
New ticket is 8580.

[2021-08-16 18:02] karthik-aot opened #8581 "Handling Refresh page for Review New Routing Slip component"
When refreshing in Review New Routing Slip component, the state should be persisted.
Decision on persisting the store in session storage needs to be made and implemented

[2021-08-16 18:04] chdivyareddy commented on #8201
Sure @kialj876 let's meet today, I will DM you:)

[2021-08-16 18:21] doug-lovett commented on #8498
Defect confirmed.

[2021-08-16 18:21] severinbeauvais commented on #8352
@tlebedovich The bulk of the changes in this ticket are now deployed to Dev for your UX review. Please have a look. I am still working on the unchecked boxes in this ticket's description.

[2021-08-16 18:27] yuisotozaki commented on #7561
* Remove "Save and Resume Later" for now until we can figure out race condition handling.
* "Amend" vs "Change" on the small icons - "Amend" for now but @forgeuxGH5 to confirm.

[2021-08-16 18:29] lmcclung commented on #6991
Just testing this one more time.  @PatrickAHeath you are an account administrator on BCREG0003; account NEW BC ONLINE TECH TEAM.  Can you look up the transaction report for NR 4914983 and confirm it shows all 3 name choices?
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/fe97cf1e-5c4f-4d2b-9882-de3d1dda40dc)

[2021-08-16 18:42] chdivyareddy commented on #8474
Verified in TEST.

[2021-08-16 18:44] kialj876 commented on #7056
@Sienna-Blumstengel @amit4610 this one is ready to be reviewed

[2021-08-16 18:57] amit4610 opened #8582 "Client OTP issue"
Good Afternoon,

Please be advised our office has been attempting to update our information, however we are not receiving the one time code required to log in and upload the updated document. Could you please provide the code?

INC0104632

Can we reset the OTP for this client: Downtown abb

[2021-08-16 19:00] doug-lovett commented on #8557
1. The individual debtor name search exact match logic does not include the middle name. Update the API.
1. Do not return "None" when no middle name in the API search results. Update the API.
1. Include the middle name if present in the API search results report search criterial. Update the report template.
1. Change the report order to match the UI: use first name middle name last name. Update th

[2021-08-16 19:07] chdivyareddy commented on #8527
Verified in DEV.

[2021-08-16 19:16] doug-lovett commented on #7858
I did not see a spreadsheet referenced in the design ticket for this work. It must be the one labelled "Spreadsheet showing differences". Consequently, all business rules in the spreadsheet relating to a Repairer's Lien registration were missed.

[2021-08-16 19:33] chdivyareddy opened #8583 "Debtor(step2) - Birthdate value retained after deletion"
**Describe the bug in current situation**
Birthdate value is added to the table after deleting from the Debtor Modal.

**Impact of this bug**
Medium

**Chance of Occurring**
Medium

**Pre Conditions:**
Verified in DEV.

**Steps to Reproduce**
1. Navigate to Step2 of Security Agreement.
2. Click on 'Add an Individual Debtor'.
3. Enter the 'Birthdate' fields and click on Done.
4. Now, click on Edit

[2021-08-16 19:38] chdivyareddy commented on #7137
Verified in DEV.
Created a new ticket for the issue found [#8583](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8583)

[2021-08-16 19:46] amit4610 commented on #8582
@kialj876 please reset OTP for this client

[2021-08-16 19:59] chdivyareddy opened #8584 "Secured Parties & Debtors(Step2) - Modal Issue"
**Describe the bug in current situation**
Add a Secured Party and Debtor and click on Edit button and make changes and hit cancel. All the changes made appears on the table.

**Impact of this bug**
Medium

**Chance of Occurring**
Medium

**Pre Conditions**
Verified in DEV

**Steps to Reproduce**
1. Navigate to step2 in Security Agreement.
2. Click on 'Add Secured Party' Individual person and enter

[2021-08-16 20:04] amit4610 commented on #8264
Hello,

Kindly see the follow up from Julie on this request:

“
Hi,

Can I please get a follow up on the below email that I sent to IT ops on July 16.

Client advised me that the refund is to be done to their visa ending in 1413.  This is the card they used to pay for the filing on our system.

I pulled up this company on the BC Business Registry, and there is no indication on the registry that th

[2021-08-16 20:08] severinbeauvais commented on #8352
- Completing Party changes:
  - [ ] Add left column with Add/Edit Person/Org
  - [ ] Message box for Completing Party
  - [ ] Auto-populate name (pulled from user) and is not editable
  - [ ] Auto-populate mailing address (pulled in from account) and is editable
  - [ ] Make role uneditable

[2021-08-16 20:10] ghost opened #8585 "Administrative dissolution for BC Benefit company BC1310073 and process a refund for filing fee"
Title of ticket: Administrative dissolution for BC Benefit company BC1310073 and process a refund for filing fee

### ServiceNow incident: INC0104657
### Contact information
Staff Name: Julie Harding
Staff Email:

### Description

Good afternoon,

I have a BC Benefit company BC1310073 that I require to be administratively dissolved.  Please also cancel the assigned BN, and process a refund to the

[2021-08-16 20:11] kialj876 commented on #8582
@amit4610 this is a data fix to auth right? What is OTP? One time password? Do I need to regenerate the password?

[2021-08-16 20:13] amit4610 commented on #8582
Hi @kialj876 , you need to reset their authenticator. So, when they log in after reset, they should be able to scan the bar code.

[2021-08-16 20:16] amit4610 opened #8586 "One stop name doesn't match"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident: INC0104581
### Contact information
Staff Name: NA
Staff Email:

### Description
From Contact Centre Agent

“Citizen trying to register their business, but continues to be told that the name does not match. Suggested they try again later or that they go in person to a Service BC to register, but wanted to ma

[2021-08-16 20:16] amit4610 commented on #8586
Not sure what needs to be done here @Sienna-Blumstengel @kialj876

[2021-08-16 20:27] kialj876 commented on #8582
Okay this one is done! Had Sumesh go through the process with me

[2021-08-16 20:31] amit4610 commented on #8582
Thanks. Please estimate and close @kialj876

[2021-08-16 20:35] kialj876 commented on #8586
We need the name or the NR number to check this at all. It also isn't our app right? We can't debug OneStop, but we can check COLIN and make sure it is consistent with what we have

[2021-08-16 20:52] tlebedovich commented on #7858
hi @doug-lovett - yes, you are correct, it is the spreadsheet you mentioned that is in the design ticket: https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7553

[2021-08-16 20:58] amit4610 commented on #8586
I will ask this to the business.

[2021-08-16 20:59] PatrickAHeath commented on #6991
Transactions:
![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/e54d01bd-fa75-4c04-a0fe-4373327d95b1)

CSV Download:
![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/796928f8-1b14-4df1-a63a-026e9fa6c43f)

Verified in TEST using BCREG0051.

[2021-08-16 21:06] kialj876 commented on #8575
this is a duplicate of https://github.com/bcgov/entity/issues/8516. Closing because thor is working on the other one

[2021-08-16 21:07] #8575 closed

[2021-08-16 21:18] tlebedovich commented on #8394
@lmcclung - I have updated the items requested above. To note for the Stamp text: I made both text 10px so its nice and readable but change it to say "Filed on August..." instead of File Date and Time, just so that the larger date line wasn't too long. Hope that works.

[2021-08-16 21:28] Kaineatthelab opened #8587 "Get address creation or edit numbers"
Get potential number of address searches for all systems to create cost comparison using Canada Post API VS build our own in house version and continuing the monthly download.

[2021-08-16 21:32] #8582 closed

[2021-08-16 21:35] kialj876 commented on #8004
@yuisotozaki you will need to use an account that has the rppr subscription. I'm not sure which accounts have it or how to add it unfortunately. If you ask the BA's or possibly divya they may have accounts with that added or you could ask the relationships team how to add it

[2021-08-16 21:41] kialj876 commented on #8561
@amit4610 I can't find anything wrong with this one. This doesn't match any existing issues we have. It is possible it times out for them or something like that, but the NR did not err on the backend. They used direct pay so the email would not get sent until the day after. Not sure what else to do for this one

[2021-08-16 21:43] kialj876 commented on #8585
There is incoming code required to complete this that Thor is working on. I am assigning this to him for now

[2021-08-16 21:46] janisrogers commented on #7561
@PatrickAHeath I think the decision might have been **any debtor**, not just any active debtor, because we want to support people entering the base debtor even if it has been removed.

[2021-08-16 21:47] amit4610 commented on #8561
Patrick was following up with the business I believe @PatrickAHeath

[2021-08-16 21:53] kialj876 commented on #8586
Okay after checking this one in namex and namesp the name is *KRL BOOKKEEPING* in both. The data looks good. No errors that I can see, so we need more information from OneStop (i.e. what the error code was, do they get that information from Namex or NamesP?, is this a recurring problem or could it have just been a blip in the network causing a timeout?)

[2021-08-16 22:05] lmcclung commented on #6991
@PatrickAHeath thanks.
@riyazuddinsyed I'm closing this verify ticket as Relationships verified when they built the feature and Patrick H & I have just verified it again.

[2021-08-16 22:05] #6991 closed

[2021-08-16 22:07] kialj876 commented on #8004
I messaged the relationships team so hopefully we can get some accounts with the rppr subscription soon

[2021-08-16 22:16] PatrickAHeath commented on #7561
@janisrogers I heard Active Debtor, which is why it's worded that way.  I support your reasoning.

[2021-08-16 22:18] PatrickAHeath commented on #8561
@amit4610 Not following up on this one - that was for a couple incidents with no Zenhub ticket.

[2021-08-16 22:19] yuisotozaki commented on #8004
Thanks! I'll also ask Divya.

[2021-08-16 22:25] janisrogers commented on #7561
I think the first active debtor was what we will show if they get it wrong, but they can enter any debtor.

[2021-08-16 22:27] Kaineatthelab commented on #7561
yes

[2021-08-16 22:31] amit4610 opened #8588 "NR reset"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident: INC0104685
### Contact in formation
Staff Name: Elizabeth Espinosa
Staff Email:

### Description
Client phoned – previously spoke to One stop – cannot move forward from site please see attached.  Tried to edit but was unsuccessful.

Please contact once issue is resolved.

I reset the NR and she tried twice

[2021-08-16 22:38] kialj876 commented on #8588
@amit4610 this sounds like another OneStop issue. I need the NR number and more details about how OneStop is trying to integrate with NameX (i.e. is there a call they are making to the namex-api that is failing and causing this issue? Or do they have a possible bug on their side? Or is it a network error? We need the error code from OneStop)

[2021-08-16 23:04] amit4610 commented on #8588
NR4891344 is this. I will ask for more info

[2021-08-16 23:08] amit4610 opened #8589 "System should not allow to enter a future AGM date"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident:
### Contact information
Staff Name:
Staff Email:

### Description
Hi,

Please see the below email from staff member Lauren.  S0002836 filed their 2020 Annual Report on Societies Online, and the system allowed them to enter the AGM date as Nov. 01, 2021 which of course is a date in the future.  The system sh

[2021-08-16 23:12] kialj876 commented on #8588
It would help a lot to have a dev supporting OneStop have a quick look and let us know what's going on

[2021-08-16 23:12] amit4610 opened #8590 "One stop issue"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident:
### Contact information
Staff Name:
Staff Email:

### Description
Hello,

Julie suggested I forward my ticket (see below) as I have had a second call about a client not being able to register on ONESTOP.  The second client’s NR is NR8504135.  I don’t know if this is a Namex issue or a Onestop issue.  As ONE

[2021-08-16 23:15] Sienna-Blumstengel commented on #7628
From IT Ops:

[2021-08-16 23:15] kialj876 commented on #8589
@amit4610 this is a societies online issue so we can't do anything about it. It is an app outside of our scope (we don't support societies)

[2021-08-16 23:15] kialj876 commented on #8589
I think this can be closed

[2021-08-16 23:16] doug-lovett commented on #8517
For 1 and 2 above, see issue 7885 and the attached examples. The common report api is not using the correct fonts.
For 3, the date and time format passed UX assurance.
For 4, I can make this change but where does the requirement come from?
For 5, repeating section headers at the beginning of each page are a problem with the report generation tool.

[2021-08-16 23:17] amit4610 opened #8591 "Reset authenticator"
Title of ticket: Reset authenticator for client. They haven't created account yet.

### ServiceNow incident: NA
### Contact information
Staff Name: Joanna barnes
Staff Email:

### Description

Hello

Bridget Field with Small Business BC, is trying to set up a new Premium Account – she is using BCeID – she will be the Administrator.

She is trying to load the Authy DT – when she enters the one time

[2021-08-16 23:17] chdivyareddy commented on #8349
Verified in TEST.

[2021-08-16 23:19] #8589 closed

[2021-08-16 23:21] Sienna-Blumstengel commented on #8011
Above has been approved! Will discuss with Gen tomorrow.

[2021-08-16 23:23] kialj876 commented on #7628
@Sienna-Blumstengel as far as I know this is a new filing that we do not handle. It'll need grooming/discussion because it'll change the logic for how the app calculates their last possible agm date selection and possibly change the logic for what is in their todo list

[2021-08-16 23:31] chdivyareddy commented on #8517
@doug-lovett I confirmed with Tracey, so please ignore No.4

[2021-08-16 23:32] kialj876 commented on #8590
@amit4610 the real NR num for this is NR 4891344. NR 8504135 doesn't exist in NameX or NamesP.

For NR 4891344 the name in the screenshot matches what we have in both Namex and NamesP for the approved name. This looks like another issue with OneStop unless they can tell us what call to our api they are using that is failing

[2021-08-16 23:45] lmcclung commented on #8586
@amit4610 Could you send the following back to IT Ops and then close this **zenhub** ticket:

IT Ops, we are able to retrieve the NR information (KRL Bookkeeping) when we tried it in SOFI as staff so it sounds like it is storing correctly in the namesp database.  When we tried using it in Onestop we got the error message "Name Request (NR) number has been used in another Business Name Registration

[2021-08-16 23:53] lmcclung commented on #8394
I like your change, but should 'time' be capitalized?  Is it Pacific Time, Pacific time or pacific time.  I googled it and...

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/7962ab3d-f23a-4dc5-b80d-d91fb3a931e9)

[2021-08-16 23:55] chdivyareddy commented on #8422
Discharge registration number search verified in TEST with 100021B.
Renewal verified in TEST with 7602743

[2021-08-17 00:02] lmcclung commented on #8586
@amit4610 - actually, I think I might have found the problem.  I'll email them.

[2021-08-17 00:14] jdyck-fw commented on #8358
Having not heard back from Amber, I sent another email to see if she had tried my troubleshooting proposal and to say that I would leave it with her to decide if and when my further support would be needed. Moving this to 'closed' so as to clear out the in-progress pipeline since this has been stagnant for a while.

[2021-08-17 00:21] lmcclung commented on #8588
@amit4610 @kialj876
Looks like we are sending NRs to the NAMES database that have trailing spaces.  So even though it looks fine when looking at NameX or Name request UI it's not.  I'll get the hometeam DBA to delete the space.  And we'll also open up a bug ticket to remove any trailing spaces in the name request app so we're sending good data back to Names databases.

NR4891344
Request ID = 18523

[2021-08-17 00:36] lmcclung commented on #8586
@amit4610 no need to respond to IT Ops.  Samson reached out to me on this one.

[2021-08-17 00:51] jinghualicgi commented on #8587
@bfbowles, can you please run queries to address the issue Kaine mentioned?
@thorwolpert, can you help with cost estimation/comparison?
Thanks

[2021-08-17 01:07] jinghualicgi commented on #8587
**Notes from today's meeting:**
**Current status:**
- Issue is related with code in UI: province type/state type for addresses. In database table, two character code as constrains to present province/state.
- David Robber load data for PPR only US and CA regions. not other countries regions
- Old APP don’t care about other regions
- Other App we take whatever regions type in
- We want to work with

[2021-08-17 01:13] lmcclung opened #8592 "Remove trailing spaces before & after requested names"
**Describe the bug in current situation**
Recently had 2 ops tickets where user was unable to complete their registrations in OneStop because the name displayed in the UI didn't match the approved name.  After some investigation it was determined that the Names oracle database had a trailing space after the name.  Probably because when we sent the name request info to the Names database we sent it

[2021-08-17 01:38] lmcclung commented on #8590
@amit4610 I don't have the original email for this one.  Can you forward to IT Ops and have them investigate.  Put attention to Samson as I pinged him about it.

Then you can close our zenhub ticket.

[2021-08-17 02:01] chdivyareddy commented on #7138
Verified in TEST.

[2021-08-17 04:05] tlebedovich commented on #8394
Hi @lmcclung - We have been working to move into alignment with BC Governments date and time standards, which uses a lower case "t" for time. https://www2.gov.bc.ca/gov/content/governments/services-for-government/service-experience-digital-delivery/web-content-development-guides/web-style-guide/writing-guide/numbers

[2021-08-17 14:22] #7358 closed

[2021-08-17 14:30] jinghualicgi commented on #8349
@chdivyareddy , can I close this ticket? If yes, I will close it two days later, thanks

[2021-08-17 14:54] jinghualicgi commented on #8517
@Kaineatthelab Kaine, I moved this to Sprint Backlog and tagged Assets 10.3 since this has dependency with ticket #7885

[2021-08-17 15:12] PatrickAHeath commented on #8561
Reached out to client for more info:

Good Morning Michelle!

We’re looking into your recent issue reported to BC Registry Services.

With regard to the error messages you receive on submitting a Name Request, do you receive it on all NR submissions or only on certain ones?  (NR 4007228 was given as an example)

What payment method are you attempting to use?  With some methods, the receipt isn’t s

[2021-08-17 15:14] Sienna-Blumstengel opened #8593 "Process co-op filings: Coop incorporation CP0002391 and SPECIAL RESOLUTION filing for CP0002081"
### ServiceNow incident:
none, sent from Kial
### Contact information
Staff Name: Kial

### Description

EMAIL THREAD: [https://app.zenhub.com/files/157936592/9429c73d-2fdb-4f0e-9692-3e73e41a6078/download](https://app.zenhub.com/files/157936592/9429c73d-2fdb-4f0e-9692-3e73e41a6078/download)

EMAIL ATTACHMENT: [https://app.zenhub.com/files/157936592/13f31434-74bf-49e9-a906-1bcc2eb31b67/download](ht

[2021-08-17 15:23] chdivyareddy commented on #8349
@jinghualicgi , #8461 is related to PPR Individual Debtor Search, this ticket is related to Registering Financing Statement and the 'Birthdate' issue for this has been fixed for this. Please close this ticket, thanks:)

[2021-08-17 15:32] eve-git commented on #8592
The fix of #8214 should solve the problem.

[2021-08-17 15:46] mstanton1 commented on #6920
@rkim13103 @forgeuxGH5 is the design finalized? We have grooming today at 3 PM or could groom Thurs the 19th in the AM.

[2021-08-17 15:58] yuisotozaki commented on #8004
@kialj876
And here's the gov account user UXA review. Thank you so much for helping me with the account setup! Putting this ticket back into In Progress for the small things.

![image](https://user-images.githubusercontent.com/56084999/129760054-866db124-93f8-4890-a620-4a3f748388fd.png)

[2021-08-17 15:59] yuisotozaki commented on #8004
For anyone wanting to test this feature, your BC Virtual Card account needs RPPR (restricted PPR) access.
BCREG2014 is setup like that. @chdivyareddy

[2021-08-17 16:03] #6844 closed

[2021-08-17 16:09] amit4610 commented on #8590
I have emailed Samson and put you in cc @lmcclung

[2021-08-17 16:11] Sienna-Blumstengel commented on #8561
From client:

[2021-08-17 16:13] mstanton1 commented on #8591
@amit4610 can you please provide further details in the ticket to confirm why the passcode reset is needed and whether the client could complete it themselves? That will guide the work that needs to be done here.

[2021-08-17 16:17] amit4610 commented on #8591
updated ticket info @mstanton1

[2021-08-17 16:21] amit4610 commented on #8586
Thanks both

[2021-08-17 16:24] rarya-freshworks commented on #7608
Scenario 6 which should redirect to Account info page is currently getting redirected to Home Page instead. Is current behavior which redirects to Home Page accepted? @jyoti3286 @mstanton1

[2021-08-17 16:34] yuisotozaki commented on #8444
Minutes from Aug 17 AM
* In some other jurisdictions search results are grouped to distinguish groupings of matches

Decisions from Aug 17 AM
* Reword "too many hits" modal to manage user expectation that we'll have the background PDF generation
* Keep the "Registrations added" counter
* Remove the "space remaining" counter
* Need to work on clarification between "matches" vs "registrations" in th

[2021-08-17 16:50] mstanton1 opened #8594 "As Registries admin I want the ability to generate and save a daily reconciliation report"
* As a Registries Admin
* I want the ability to generate and save a daily reconciliation report
* so that I can verify the payments entered match what is sent to the bank, and provide a paper trail for audit purposes

**Acceptance Criteria**

**Scenario 1: Registries admin staff see daily report button**
* GIVEN I am Registries admin staff
* WHEN I open the FAS main screen
* THEN I see a button in

[2021-08-17 17:36] Sienna-Blumstengel commented on #7628
@lmcclung FYI I moved this to the grooming column

[2021-08-17 17:41] mstanton1 commented on #7608
@rarya-freshworks I think it should be updated to match the AC for scenario 6 where the user is an admin (i.e. has the authority to make requests for products and services). Since they are already logged in and we know they want to update their products and services it makes sense to take them to the page where they can do that.

Can you work with the devs to look into getting this updated?

[2021-08-17 17:45] yuisotozaki commented on #8444
Invision mock updated:
* Reworded the description of how the search report works
* Kept the "Registrations added" counter
* Removed the "space remaining" counter
* Updated the description to distinguish "matches" and "registrations"

[2021-08-17 17:47] yuisotozaki commented on #8444
@tlebedovich @janisrogers @forgeuxGH5 Ready for a quick review.
* If your feedback are minor (as in rewording rather than layouts) then it's ready for visual design.

[2021-08-17 17:49] tlebedovich commented on #8444
awesome - can you show this at our design meeting today?

[2021-08-17 17:52] Sienna-Blumstengel commented on #7056
Looks like the 2020 AR is available, but the 2017, 2018, and 2019 ARs still have incorrect effective dates. Is that an issue @lmcclung ?

[2021-08-17 18:18] lmcclung commented on #7056
@Sienna-Blumstengel let's send it back to Mark the way it is.  The filed date is the date that Mark went back into COBRS to file the 2017-2019 annual reports.  It's the system date that was brought over.  If he's concerned about having the filed by date displayed as April 15th, 2021 then he could add a registrar's notation to the filings saying something like "due to system migration issues, the f

[2021-08-17 18:29] severinbeauvais commented on #8352
**Note for QA**

In the [design](https://projects.invisionapp.com/d/#/console/21411095/452225113/comments/144826794), Severin wrote:

Tracey responded with:

Severin replied:

[2021-08-17 19:10] Sienna-Blumstengel commented on #7056
Ohhh I see! Thanks Linda!

[2021-08-17 19:27] #7388 closed

[2021-08-17 19:27] #6136 closed

[2021-08-17 19:27] #8588 closed

[2021-08-17 19:27] #8222 closed

[2021-08-17 19:28] #8497 closed

[2021-08-17 19:29] #8480 closed

[2021-08-17 19:29] #8221 closed

[2021-08-17 19:58] chdivyareddy commented on #8527
Verified in TEST.

[2021-08-17 20:06] #8139 closed

[2021-08-17 20:06] #8142 closed

[2021-08-17 20:06] #8141 closed

[2021-08-17 20:09] #8143 closed

[2021-08-17 20:09] thorwolpert opened #8595 "Create network configuration"

[2021-08-17 20:09] #8140 closed

[2021-08-17 20:09] thorwolpert opened #8596 "Setup Cloud Armor"

[2021-08-17 20:10] thorwolpert opened #8597 "Create initial read-only database"
- [x] select initial DB to test with
- [x] create initial db as read-only (small test db to test configs)
- [ ] test pre-load from backup to start the replication.
- [ ] create initial setup with real target DB
- [x] #8890

[2021-08-17 20:10] thorwolpert opened #8598 "Test moving to primary and using as recovery host"

[2021-08-17 20:14] thorwolpert commented on #8597
NameX database was selected as the first to work with.

[2021-08-17 20:23] thorwolpert commented on #8149
- [ ] Ask Patrick about the local standby
- [ ] Ask Linda & Kaine about the cloud-event-tracker DBs

[2021-08-17 20:27] #8130 closed

[2021-08-17 20:31] #8590 closed

[2021-08-17 20:44] Sienna-Blumstengel opened #8599 "OneStop - OneStop not accepting NR#5190144"
### ServiceNow incident:
INC0103824

### Contact information
Staff Name: unknown

### Description

Eve, can you please remove any leading or trailing spaces on the NR:
* Business Name
or
* Applicant Name

### Ops Process
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket, if:
  - If the business says it is a priority
  - BA can use their b

[2021-08-17 20:52] eve-git commented on #8599
Checked in Oracle database and no leading or trailing spaces find in the names.

![image.png](https://images.zenhubusercontent.com/5da9d9a151b27c0001f5c9ec/05abfa88-1ba1-4ad1-9640-e36940bb7b53)

[2021-08-17 20:54] Sienna-Blumstengel commented on #3243
https://github.com/bcgov/entity/issues/3416 is complete, and this is a duplicate of 3416, so we can close this :)

[2021-08-17 20:54] #3243 closed

[2021-08-17 20:58] doug-lovett commented on #7858
Hi @yuisotozaki For the report, is there an individual financing statement PDF UI design example with the header and title somewhere? I am unsure about your comment "Subtitle missing below title with the act name". I have attached an updated example run locally with the correct fonts. The reg type description and act come from the database values.

[https://app.zenhub.com/files/157936592/9f1ea72a-

[2021-08-17 21:04] Kaineatthelab opened #8600 "Other Registration Types"
Other registration types

[2021-08-17 21:04] Kaineatthelab opened #8601 "UI Design - Registration Table Updates"
Design tasks to do:
Action Button Updates
Add remove confirmation modals (Delete Draft, Remove from table)
Parent/child
Third Party Amendments

### Visual Design Comps:
https://projects.invisionapp.com/share/MX11P7OD4RD7#/screens?browse

### Wireframe
~https://preview.uxpin.com/3e118ed03baf356796e2f5b2f13484b85576fdd4#/pages/141713379~

### Action Button Spreadsheet:
https://docs.google.com/spread

[2021-08-17 21:05] Kaineatthelab opened #8602 "UI - Registration Table Updates"
### Description
all outstanding bug fix/ux updates to the registration table. Tickets:
- [ ] Action Button/Dropdown Updates - **2.5**
  - *design link pls* update text field to button
- [x] remove registration from table + delete draft - **7.5 (dependent on api stuff being done**)
  - [ ] call api remove reg
  - [ ] call api remove draft
  - [ ] don't reload registrations in table (keep filters et

[2021-08-17 21:12] lmcclung opened #8603 "Cooperative Association fee codes in CNFA"
For future reference:

UNIT	CODE	AMOUNT	DESCRIPTION

Incorporation Application

IC	750	250	INCORPORATION - COOP
IC	751	275	INCORPORATION W/CERT - COOPERATIVE
IC	752	300	INCORPORATION W/CERTX2 - COOP
IC	753	350	PRIORITY INCORPORATION - COOP
IC	754	375	PRIORITY INC. W/CERT - COOP
IC	755	400	PRIORITY INC. W/CERTX2 - COOP
SC	102	250	INCORPORPORATION - COOP ASSOCIATION ACT

Registration of Extra Pro

I

[2021-08-17 21:14] lmcclung commented on #8603
I asked David Roberts to do it again and include fee amounts. - INC0103515

[2021-08-17 21:20] lmcclung commented on #7628
@Sienna-Blumstengel we need to revisit our requirements for the AGM extension filing before we can bring this to grooming, I think.

[2021-08-17 22:05] tlebedovich commented on #8417
@jyoti3286 - Here is that Weazy Print BC Sans font bug we had talked about early for you to look at. It is effecting all of the PDF outputs. @lmcclung had mentioned that there was a recent update made to the official BC Sans gov't font so that may have something to do with the reason why its no longer working. It was working previously.

[2021-08-17 22:16] SateeshFW commented on #8594
@mstanton1 Please confirm the revenue owner and the footer details

[2021-08-17 22:29] Sienna-Blumstengel opened #8604 "An out of province account needs to be approved. - Miles Zimmer & Associates"
### ServiceNow incident:
INC0104886
### Contact information
Staff Name: Cheryl Hall

### Description

EMAIL THREAD: [https://app.zenhub.com/files/157936592/f2a5eba5-958b-4402-9e30-4b67eca7a322/download](https://app.zenhub.com/files/157936592/f2a5eba5-958b-4402-9e30-4b67eca7a322/download)

- [x]  Investigate why staff recieved a notification to approve Patti Parisien's account, but there is no pend

[2021-08-17 22:53] mstanton1 commented on #8364
Needs requirements for partner and government accounts - can be done as separate ticket.
Will require separate ticket to create group for those refunding and show transaction history on basic for those users access - can be done as separate ticket.

[2021-08-17 23:10] SateeshFW opened #8605 "SPIKE : Research on 'FAS Search - Convert it to common component - 8510'"

[2021-08-17 23:23] Sienna-Blumstengel opened #8606 "Name Request Application - HJ numbers for Cayman Islands - Home Jurisdiction Number not found"
### ServiceNow incident:
INC0104860
### Contact information
Staff Name: Elizabeth Espinosa

### Description

EMAIL THREAD: [https://app.zenhub.com/files/157936592/3aa503bc-2591-459f-9368-b06551bceea9/download](https://app.zenhub.com/files/157936592/3aa503bc-2591-459f-9368-b06551bceea9/download)

Waiting on a reply to find out what home jurisdiction number they were trying to enter.

### Ops Proces

[2021-08-17 23:24] yuisotozaki commented on #7858
@doug-lovett The "missing subtitle" note was driven purely through observation; "We show the act for Security Agreement Act, so should we do the same for others?". We are also referencing the [old output](https://docs.google.com/spreadsheets/d/1C3KYYmxj-22759YVu4o4DXNTsNYNapW1vvFgYZkzwjY/edit#gid=0) that seems to cover both the registration type and act in a bit of mixed up manner.

I only found o

[2021-08-17 23:24] severinbeauvais commented on #8352
### Test Notes

Please verify the People and Roles page (and Review page) for all supported entity types (at least BEN and CP).

Please verify the People and Roles page as a normal user and as a staff user. Note that staff functionality did not work previously but now it does (hopefully).

Note that you should navigate to the Create UI from Auth Web. If you go directly to a URL, some of the necess

[2021-08-17 23:29] SateeshFW opened #8607 "Documentation for various functionality"
## Description:
- This Epic covers the documentation for various functionality in the Relationships team

----
* Start date when team will start to work on: This is visible in ZenHub under "Roadmap"
* End date Epic will be delivered: This is visible in ZenHub under "Roadmap"
* T-shirt size: X (S, M, L, or XL) (S=1-2 Sprints, M=2-3 Sprints, L=4-5 Sprints, XL=not sure, probably more than 5 Sprints).

[2021-08-18 00:33] doug-lovett commented on #7858
Thanks Yui, attached is the latest example with the above spacing change.
[https://app.zenhub.com/files/157936592/d8246407-d446-4cd5-9c9f-63e1e1711010/download](https://app.zenhub.com/files/157936592/d8246407-d446-4cd5-9c9f-63e1e1711010/download)

[2021-08-18 05:23] rarya-freshworks commented on #7608
Sure thing. I will send it back to dev to make change and redirect it to Account Info Page instead of Homepage (i.e.: Scenario 6)

**Scenario 6** - Click on Request Access(Admin)
GIVEN the lawyer or notary who is the prime contact on the account
AND is on the request access page
https://preview.uxpin.com/2a787574ccbc844119c7ae087952734ce7c1c86d#/pages/137533780/simulate/sitemap
WHEN they click on

[2021-08-18 15:13] PatrickAHeath opened #8608 "PPR Search - Disabled Payment Confirmation display cannot be Reenabled"
From Client Usability Testing:

When conducting a search, the Payment Confirmation modal displays with an option to "Don't show this message again".  If the client selects this option, the Payment Confirmation modal will not display on subsequent searches.  This remains in effect for the current session as well as subsequent sessions.

If the client wishes to see the Payment Confirmation modal aga

[2021-08-18 15:26] mstanton1 commented on #8556
Mary Wozny has been able to successfully join the account.

[2021-08-18 15:26] #8556 closed

[2021-08-18 15:27] yuisotozaki commented on #7858
@doug-lovett Looks good to me! Moving to RFQA.

[2021-08-18 15:28] mstanton1 commented on #7697
Follow up sent.

[2021-08-18 15:34] mstanton1 commented on #8591
Called and left message for the client to contact me so we can discuss and address.

[2021-08-18 15:46] chdivyareddy commented on #8443
Verified Financing and Repairer's Lein Statements as part of this ticket.
@jinghualicgi , can you please move this ticket back to backlog - I will pick this ticket once all the registration types are built. Thanks:)

[2021-08-18 15:51] Kaineatthelab opened #8609 "Vulnerability: Node.js Remote Unspecified Vulnerability (N21-518) Threat Rating = High"
- [ ] Vulnerability: Node.js Remote Unspecified Vulnerability (N21-518) Threat Rating = High
The Vulnerability and Risk Management (VRM) Team is aware of a vulnerability in Node.js 12.0.0 before 12.22.5, 14.0.0 before 14.17.5 and 16.0.0 before 16.6.2

Issue:
Node.js is prone to a use after free attack where an attacker might be able to exploit memory corruption to change process behavior. The issu

[2021-08-18 15:59] tlebedovich commented on #7858
Hi @yuisotozaki and @doug-lovett - i'm confused about the status of this ticket. This also includes my UI feedback that I need to review. wondering why it jumped from In Progress to Ready for QA? @doug-lovett - have all of the UI design feedback items above been completed and moved to Dev? I'm just going to put this ticket into UXA until I am clear on its status.

[2021-08-18 16:02] mstanton1 opened #8610 "Node Library Upgrade due to vulnerability issue"
### Description
Added as per SRE comment in registries rocketchat channel.

Vulnerability: Node.js Remote Unspecified Vulnerability (N21-518) Threat Rating = High The Vulnerability and Risk Management (VRM) Team is aware of a vulnerability in Node.js 12.0.0 before 12.22.5, 14.0.0 before 14.17.5 and 16.0.0 before 16.6.2 Issue: Node.js is prone to a use after free attack where an attacker might be a

[2021-08-18 16:02] PatrickAHeath opened #8611 "PPR Search - Disabled Confirm Selections Modal can't be Reenabled"
From Client Usability Testing:

When conducting a PPR Search, the client selects the search results for the PDF output and clicks Done.  The Confirm Selections modal displays with an option to "Don't show this message again". If the client selects this option, the Confirm Selections modal will not display on subsequent searches. This remains in effect for the current session as well as subsequent

[2021-08-18 16:06] yuisotozaki commented on #7858
@tlebedovich Sorry, that was my mistake - the PDF part is complete.

[2021-08-18 16:08] tlebedovich commented on #7858
ah, ok, I'm going to move this back to In Progress. There are a lot of columns to move through between In Progress and RFQA :) I think Doug is still working on the UI part of this ticket, then it needs to be PR'd and deployed to Dev etc.

[2021-08-18 16:08] thorwolpert opened #8612 "NameX: Balancing reports"
There's been several discussions on creating regular balancing reports.
NRO has balancing reports to catch payment and NR creation errors, and those will need to be replaced as part of the NRO decommission.

- [ ] Report on Paid NRs in SBC PAY but not in NameX (generate alert for payments with no NR)
- [ ] Report on Paid NRs in Global Pay but not in NameX  (generate alert for payments with no NR)

[2021-08-18 16:19] #8197 closed

[2021-08-18 16:20] #8488 closed

[2021-08-18 16:21] #8437 closed

[2021-08-18 16:23] lmcclung commented on #8153
not including in release notes as was released in a previous release.

[2021-08-18 16:23] #8153 closed

[2021-08-18 16:24] #8429 closed

[2021-08-18 16:27] lmcclung commented on #8197
No code released so not included in the release comms.

[2021-08-18 16:34] #7056 closed

[2021-08-18 16:40] yuisotozaki commented on #7561
Aug 18 Assets Stand-up Discussion around the "Confirm registration to be discharged" modal.
- The user must enter at least 2 character to trigger the list
- The list must contain the full list of debtor names and business names even when more characters are entered in the field
- The visible debtor and business name list should contain active ones only (ie if a debtor was removed that name should

[2021-08-18 17:07] mstanton1 opened #8613 "FIRMS AND CORPORATIONS WITH WRONG DESIGNATION - Cannot view multiples in Namex"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident: INC0104930
### Contact information
Staff Name: Debbie Blyth
Staff Email: Debbie.Blyth@gov.bc.ca

### Description
The following NR’s seem to be multiples.  However, I am not able to pull the NR’s up in Namex, but I can view in NRO.  Can you please have someone look into this please and thank you, as I am goi

[2021-08-18 17:10] mstanton1 commented on #8613
Verified in Namex PROD that an attempt to search the 3 NR's shows the No Data Available message.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/a0fa0bc0-3aaf-44c7-9220-9acdbe0d33ba)

Can you please investigate why these NR's are not showing in NameX?

[2021-08-18 17:42] tlebedovich commented on #7561
@forgeuxGH5 - I'm not sure that is how type-ahead works - ie bullet two above about keeping the full list of debtor names even if they have typed some letters that aren't matching, otherwise it ends up more like an open text field, but we don't want the user typing their own name in if its not included in the list. The typehead works by filtering through a restricted list.

[2021-08-18 17:50] mstanton1 commented on #8550
Drafts of documents are complete and linked above. They have been sent to Julie for review.

[2021-08-18 17:57] Sienna-Blumstengel commented on #7684
@tlebedovich Is this what you are looking for? https://app.zenhub.com/workspace/o/bcgov/entity/issues/8368

[2021-08-18 17:59] jinghualicgi commented on #8443
Thanks Divya, as discussed in our daily standup, we will close this one (Or rename to RL and financing statement), create a new ticket for other PDF types (beside RL, and financing statement) @Kaineatthelab

[2021-08-18 18:06] tlebedovich commented on #7684
found it, thanks!

[2021-08-18 18:14] mstanton1 commented on #8613
Notes from Kial:

Looking in the db it looks like all these originated from namerequest. My guess is that they err'd before completion and caused a rollback from the namex-api side, but didn't rollback the changes in oracle. It would be worth having someone verify if there were other successful NRs with the same names / applicant info afterwards.

Kial

[2021-08-18 18:32] Sienna-Blumstengel opened #8614 "UI Design - Design the different scenarios when "removing" an item from the manage business dashboard"
### Description
This ticket is the UI design for the dependancy ticket, [6920](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6920). Relationships needs to change the manage business page to handle different scenarios when a client clicks "remove" on an item.

Name requests, draft incorporation applications, and existing businesses (currently co-op and bcomps

[2021-08-18 18:33] Sienna-Blumstengel commented on #8614
### Name Request

### Existing Business

### Draft Incorporation Application

[2021-08-18 18:39] mstanton1 opened #8615 "FAS Search - Common component dashboard design"
### Description
UX design required for adding FAS search as a common component on the staff dashboard.

1. staff with appropriate role in FAS can log on to the staff dashboard and see the search component from FAS
2. staff can use the search in staff dashboard to look up a routing slip
3. when more information is required staff with access to the search component in the staff dashboard can navigat

[2021-08-18 18:40] kialj876 commented on #8457
Decision made today with team that general collateral needs to be refactored and given a new design. This work will be captured/groomed in a new ticket

[2021-08-18 18:42] lmcclung opened #8616 "UI Design - email templates"

[2021-08-18 18:50] rarmitag commented on #8613
NR 3180302, NR 2287551, NR 6298375, NR 4740534 were all submitted at the same time and encountered the same error as the ones Kial mention.
NR4740534 was successfully brought over to Namex and has status PENDING_PAYMENT
The name is also slightly different "T ART STUDIO LTD."  but submitted by the same client.
Unable to determine what caused the error.

[2021-08-18 18:59] mstanton1 commented on #8613
@amichard thanks for digging into this. When a request from namerequest errors before completion and causes a rollback from the namex-api side without rollback of the changes in oracle can it be pushed into NameX after the fact or do we need to cancel/refund them and create a new NR in order to enable examination by staff and use by the client?

[2021-08-18 19:02] mstanton1 commented on #8591
I have spoken with the client. We identified she had not yet set up an account, and had not yet successfully verified her identity. When attempting to verify through authy she noted completing the correct steps but received an error on the code. I guided her through uninstall / reinstall of Authy. This process will take 24 hours at which time Bridget will try again and get back to me.

[2021-08-18 19:15] rarmitag commented on #8613
I'm thinking that if it errors to the point that it causes a rollback then the entire transaction can probably be cancelled. There should be nothing to refund. The three NR's that Debbie was interested in had exactly the same error message as NR 4740534, but that one was brought across successfully, with status PENDING_PAYMENT, which is probably where all the errors occurred. Kial might know more.

[2021-08-18 19:58] mstanton1 opened #8617 "ON HOLD - JAMES STURDY- [BC Registries and Online Services] YOUR ACTION REQUIRED: Update your information."
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident: INC0105037
### Contact information
Staff Name: Cheryl Hall
Staff Email: Cheryl.1.Hall@gov.bc.ca

### Description
Hi Team,

I just received a call from James Sturdy the client for application Idealogic PDS Inc that was placed ON HOLD on August 9, 2021 due to missing seal.

James has an affidavit with a seal

[2021-08-18 20:03] mstanton1 commented on #8613
@kialj876 can you confirm the answer to my question above before I get back to the business?

[2021-08-18 20:23] jinghualicgi commented on #8457
**Notes from team discussion**
**Current Status**
- General Collateral (GL) is not displayed in blocks, but displayed in lines of GL in Registration Output
- Add only mode: for amendment, describe which GL is going to delete, there is no status in GL. Only put description to determine that GL has been removed/deleted
- GL is in paragraph form
- Verification statement for amendment should present t

[2021-08-18 20:29] Kaineatthelab opened #8618 "General Collateral"
General Collateral for renew, discharge and amend.

Notes around designs...

Notes from team discussion
Current Status

General Collateral (GL) is not displayed in blocks, but displayed in lines of GL in Registration Output
Add only mode: for amendment, describe which GL is going to delete, there is no status in GL. Only put description to determine that GL has been removed/deleted
GL is in paragr

[2021-08-18 20:30] Kaineatthelab opened #8619 "UI Design - General Collateral"
### GC Wireframes
~https://preview.uxpin.com/1348a94271171ee8e283ecf65f50b9cb4d5f8af2#/pages/141490372~

### GC UI Visual Design
**General Collateral For Renew and Discharge:**
(shown collapsed, then expanded)
https://projects.invisionapp.com/share/BY11PITL4X28#/screens?browse

Amend version to come with Amend design ticket

### GC Output Visual Design
**Current View and History Views:**
https://p

[2021-08-18 20:47] forgeuxGH5 commented on #8614
The current modal is confusing to me - the Option "Do not reset my passcode" says the current passcode will be cancelled - this seems like it IS resetting the passcode... So can I not keep my passcode?

[2021-08-18 20:51] PatrickAHeath opened #8620 "PPR Search - Allow Key Stroke to Trigger Start of Search in addition to Search Icon Button"
Feedback from Client Usability Testing.

Clients reported that they do a lot of keyboarding and indicated it would be nice if the Enter key (or Tab key) after selecting the Search Category and entering the search parameter value, would trigger the search to begin rather than having to mouse click the Search Icon button.

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/c3

[2021-08-18 20:54] rarmitag commented on #8613
Hi Melissa.
I talked with Kial about this and he said one thing he would do is check in pay just to make sure there was nothing there.

[2021-08-18 20:57] mstanton1 commented on #8617
I have confirmed that this client verified their identity using BCeID & 2 FA (BCeID shows in affidavit review screen). The client can pull the one time passcode from the 2 factor authentication app.

I have advised Cheryl.

[2021-08-18 20:58] tlebedovich commented on #8352
@severinbeauvais I have updated the description above to include the updated design for the Roles component for both the a Completing Party and a Director-only person.

[2021-08-18 21:06] mstanton1 commented on #7697
Changes have been made in QA and reviewed.

[2021-08-18 21:09] chdivyareddy commented on #7137
@jordiwes - FYI
Found the following issue in TEST, which did not occur in DEV.
 - Spacing issue in Address, text alignment in Party and Debtor Name.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/8ba6c87c-9700-4462-a0bd-2075b10206b7)

[2021-08-18 21:18] mstanton1 commented on #8617
Further information requested from Cheryl:

Thank you for reply.  I will reach out to the client, my only other questions, is if the client no longer has the one time passcode do they have to do the 2 factor authentication steps again?  I just want to clarify before I speak to the client.

I have provided the following information via email:
Good question. The app is something that is stored on a

[2021-08-18 21:25] mstanton1 commented on #8613
@rarmitag thank you! Can you checked in pay? I can reach out to Debbie to cancel the three NR's and recreate one on the client's behalf. I can also provide information on the set of 4.

[2021-08-18 21:57] mstanton1 commented on #8617
The client was able to log on using the code from their existing Authenticator application.

[2021-08-18 21:57] #8617 closed

[2021-08-18 21:58] Kaineatthelab opened #8621 "Fee Summary"
### Description
Update the fee summary.

Current issues:
- fee amount/quantity can be updated by props or store or onMounted (this should only have one flow that can't contradict itself)
  - either always set the feeSummary in the store or always send in the feeSummary as a prop if possible (remove onMounted code this will overwrite incorrect values for discharge, amendments, etc.)
  - update the

[2021-08-18 21:58] mstanton1 commented on #7697
Changes have been pushed to PROD.

[2021-08-18 21:59] #7697 closed

[2021-08-18 21:59] Kaineatthelab opened #8622 "Update Fee Summary"
- [x] Include fee bugs *what are the fee bugs?*
- [x] refactor
- [x] ~include buttons (refer to attached design comps) design ticket - https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7878~ *will be done in the other ticket in this story*

### Details
- [x] create composable containing all interfaces/enums/resources/factories for fee summary
  - [x] move/add ne

[2021-08-18 22:00] yuisotozaki commented on #8562
Meeting minutes Aug 18
* Define insights we're looking for (e.g. are we looking for usability vs flow if information architecture vs etc.)
* What are some of the questions the PO wants answered?
* What are some of the questions the design team wants answered?
* Individual sessions vs group sessions will collect different insights (individuals will identify usability, groups will identify domain is

[2021-08-18 22:01] mstanton1 commented on #7916
Training with staff has been booked for August 24th and 26th. Information on the information to collect from a client, and procedure for logging a ticket, has been included in a newly created Online Banking Job Aid which will be published to SP after business review (see 8550).

[2021-08-18 22:01] #7916 closed

[2021-08-18 22:03] PatrickAHeath opened #8623 "PPR Search - Search Result list of Exact and Partial Matches not Convenient for printing or screen shots"
From Client Usability Testing:

Some PPR users are required to screen shot the search results page to show exact and partial matches, as well as which results were selected for reporting to their clients.  The search results page initially only shows 3 results and scrolling is required to see the rest.  A result list with hundreds of exact and partial matches won't be easy to screen shot.

Suggest

[2021-08-18 22:03] Kaineatthelab opened #8624 "Restructure Page Loads for Registration - Review Tests"
### Description
New registration should either create a new saved empty registration or load an existing one right away. Loading each step will be based off of that existing registration ID. Each page will follow the appReady -> load data -> show page flow.

Missing tests need to be filled in as well. Error handling should also be verified.

### Details:
- [x] update page load for each step/page i

[2021-08-18 22:10] PatrickAHeath opened #8625 "PPR Search - 'Select All' feature on search results is not intuitive"
From Client Usability Testing:

The button on the search results (with a minus sign symbol) to select all the search results is not very intuitive.  The button label should explain what the function of the button is.

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/1c0817e6-aabb-4f34-b78b-a5a67acc429d)

[2021-08-18 22:19] #7762 closed

[2021-08-18 22:19] PatrickAHeath opened #8626 "PPR Search - Error handling modals"
- [ ] update modals
- [ ] update error flow
- [ ] add snack bar in dashboard
- [ ] add search result text if nil

[2021-08-18 22:40] jdyck-fw commented on #8358
Rich verified permissions today and I've suggested to Amber that she next try assign this ticket to herself directly within github instead of zenhub.

[2021-08-18 22:56] MBWilson commented on #8376
Calendar created in Mural.  Here is the link: https://app.mural.co/t/leadingsafetrainingtemplate5894/m/leadingsafetrainingtemplate5894/1620073674738/cab2f4c157615bf630f911c921dd242789344778?sender=u3850956ac803785b83758133

[2021-08-18 23:03] tlebedovich commented on #7137
Text looks darker in TEST as well? Maybe the updated styles weren't all transported to TEST?

[2021-08-18 23:10] tlebedovich commented on #8352
@severinbeauvais @lmcclung - Looks like we are ok to proceed with the following first directors helper text:

To be in compliance with the Cooperative Association Act (Section 72);

A minimum of three Directors is required. The First Directors of the Cooperative Association must be appointed in writing by a majority of the subscribers. The majority of Directors must reside in Canada and at least o

[2021-08-18 23:18] mstanton1 commented on #8594
@rkim13103 please update the header and footer of the report for scenario 4 and 5 with the following details.

Header:
Update from 'Rev Owner: Compainies' to 'Rev Owner: BC Registries and Online Services'

Footer:
Update from 'Ministry of Finance and Corporate Relations Corporate, Personal Property and Manufactured Home Registries Payment Batch Summary Report' to 'Ministry of Citizens' Services, B

[2021-08-18 23:39] chdivyareddy opened #8627 "Debtor - Full Business Name is not displayed on UI"
**Comparison b/w DEV and TEST Env.**

**Steps to Reproduce:**
**DEV**
1. Navigate to step2 and click on 'Add a business debtor'.
2. Enter 'LTTS COMMUNICATIONS CORPORATION' in Business Legal Name and fill all other details and click Done.
3. In the Debtor Table, 'LTTS' will be displayed.
**TEST**
Follow the same procedure in TEST, but the whole name 'LTTS COMMUNICATIONS CORPORATION' is displayed in

[2021-08-19 01:08] lmcclung commented on #8352
Yup, text approved by Julie & Amber

[2021-08-19 01:09] tlebedovich commented on #8432
Expanding Help with Rules Text:

**Each Cooperative Association must set its own rules to cover:**

• Governance
• Overarching goals, needs, and actions to fulfill its purpose
• Election of Directors
• Requirements for membership
• Financial information management
• Special rights and restrictions related to investment shares
• How meetings are conducted

**The rules need to:**

• Balance the righ

[2021-08-19 01:13] tlebedovich commented on #8433
Expanding Helper Memorandum Text:

A memorandum should accurately reflect the intention and values of the Cooperative Association. Be detailed and specific, but not too restrictive. This will avoid having to make changes later.

To form a Cooperative Association, at least three subscribers who are responsible for the Cooperative Association’s operation are required. They may be individuals or orga

[2021-08-19 01:23] lmcclung commented on #8300
@Sienna-Blumstengel I believe this will be fixed with the legal API work Thor is doing in 6969

[2021-08-19 02:02] tlebedovich commented on #7860
@chdivyareddy - for testing see the differences spreadsheet in the design ticket

[2021-08-19 02:02] tlebedovich commented on #7863
@chdivyareddy - for testing see the differences spreadsheet in the design ticket

[2021-08-19 09:45] vysakh-menon-aot opened #8628 "Entity filer - incorporate co-op schema change"
- [ ] Create new field for coop association type in business table
- [ ] Update coop association type
- [ ] Update Document table with rules and memorandum file details

[2021-08-19 14:20] jinghualicgi commented on #8280
@SateeshFW , Can this ticket be moved to sprint backlog? So developer can pickup can fix during this sprint? Do you have room for that?

[2021-08-19 14:24] #8474 closed

[2021-08-19 14:27] #8349 closed

[2021-08-19 14:29] #8422 closed

[2021-08-19 14:30] #8527 closed

[2021-08-19 14:34] #7138 closed

[2021-08-19 14:42] jinghualicgi commented on #8517
@doug-lovett , Doug, do you have time to work on this? This has a dependency with another bigger task. Thanks

[2021-08-19 14:42] PatrickAHeath opened #8629 "PPR My Searches - Make Columns Filterable"
From Client Usability Testing:

With up to 30 days of search results available in the My Searches table, having the columns filterable will make finding prior searches easier.

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/5a9a1f2d-66aa-4cc3-bca0-d854d22a3901)

[2021-08-19 14:45] PatrickAHeath commented on #8611
Tested the disabling of the message in DEV with BCREG0051, the next day the message was reenabled.  I'm not sure if a developer reset it or if it automatically resets, but it's back.

[2021-08-19 14:45] PatrickAHeath commented on #8608
Tested the disabling of the message in DEV with BCREG0051, the next day the message was reenabled.  I'm not sure if a developer reset it or if it automatically resets, but it's back.

[2021-08-19 14:58] PatrickAHeath opened #8630 "UI - PDF download file has numeric filename"
From Client Usability Testing:

When a client selects the PDF from a search result, the downloaded file has a filename that is just numeric.  A more meaningful filename could include the search parameters so it better reflects the contents.

### Proposed

#### Search Result
~Format: [Date (in YYYY-MM-DD format)] BCPPR [Two Letter Search Code] Search Result - [Search Criteria] Search ID~ (there is

[2021-08-19 15:20] mstanton1 opened #8631 "Add Manual Transactions"
* As BC Registries staff with the group 'Filing_Transactions'
* I want the ability to manually add a transaction on a routing slip through the Fee Accounting System
* so that I can deduct fees from fees received when I complete filings or provide services to a client

**Acceptance Criteria**

**Scenario 1: Staff with Filing_Transactions see '04. Routing Slip Transaction section on View Routing Sli

[2021-08-19 15:35] PatrickAHeath opened #8632 "PPR Individual Debtor Search - Include Birth Year as Optional Search Parameter"
From Client Usability Testing:

Addition of Birth Year as a search parameter for Individual Debtor could help in narrowing down the search results.

It was noted that Birthdate is an optional field when entering an Individual Debtor on a registration so a search for a specific birth year or range could only qualify those with a birthdate on file.

[2021-08-19 15:41] PatrickAHeath opened #8633 "SPIKE - PPR Search - Double Barrelled First Name for Individual Debtor"
From Client Usability Testing:

How should the application search logic treat individuals with two first names (Double Barreled - ex. Laurie Ann) in a name search?

Legacy system does not allow double barreled first names.

**Doug** please dig deeper and find out if we allow a space between first given name and second given name
For example the a
Lisa Marie
Marie Ann
Bobby Joe
Cindy Loo
Patty Lee

[2021-08-19 15:56] lmcclung opened #8634 "UI Design - Display home jurisdiction number in NameX"
Need somewhere to display the home jurisdiction number in NameX.

Staff would like a separate field (not appended to the additional information if possible as sometimes what user types in gets cut off because our auto-filled stuff takes too much space).  Or maybe we make sure we bring everything over.

* On the NR screen, Maybe put it beside the Home Jurisdiction?

* In the transaction history, le

[2021-08-19 15:57] PatrickAHeath opened #8635 "PPR Search - Include Secured Party Name in TOC of PDF Output"
From Client Usability Testing:

Include the Secured Party Name in the PDF Search Output Table of Contents to help narrow down which registrations are of interest to the searcher.

[2021-08-19 16:09] mstanton1 commented on #8613
@janisrogers can you run with this one today. Outstanding items are:
1. For the dev to check in Pay for all NR's in this ticket aside from NR 2414662 (Richard may have done it but has not responded to the note above yet). If any payments are found they need to be refunded. The one excluded NR (2414662) is in draft so payment should be left. Debbie noted it will be processed.
2. For the dev to canc

[2021-08-19 16:21] severinbeauvais opened #8636 "Create UI: staff cannot load draft IA"
At the moment, staff support for the Create UI (to enter and file an IA) is incomplete.

In #8352, a "role" bug was fixed, allowing the correct identification of staff users (ie, this never worked before).

However, the Create UI checks for a valid "account" on startup, and a staff user does not have such a thing, so the app reports an error and staff cannot proceed.

I don't know the best way for

[2021-08-19 16:23] severinbeauvais commented on #8636
@lmcclung FYI

[2021-08-19 16:24] janisrogers opened #8637 "RUSTIC ACRES COOPERATIVE ASSOCIATION - CP0001591 unable to file AR - INC0105087"
### ServiceNow incident:
INC0105087
### Contact information
Staff Name: Lauren Nixon

### Description
The cooperative noted above is trying to file their 2018 Annual Report but is unable to as they filed two director changes in 2019. I believe they are getting an error message that they cannot change their directors in this Annual Report because their AGM predates another filing that may have conf

[2021-08-19 16:27] PatrickAHeath opened #8638 "PPR Business Debtor Search - Add Disclaimer that Auto Generate Business Names are only those Registered in BC"
From Client Usability Testing:

When entering a Business Debtor Name search parameter, suggested business names are displayed from Org Book.  Since these names are only those businesses that are registered in BC, it's suggested that there should be a disclaimer noting that business registered outside BC will not display.

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/f

[2021-08-19 16:30] #8113 closed

[2021-08-19 16:40] severinbeauvais commented on #8352
### More Test Notes

For development and local testing, I updated some db fields in order to use a CP NR for an IA. (The code to do this is not yet implemented.)

Here are the IAs that I tested with (user: BCREG0020). Please do not file these as I am still using them for development!
BEN: https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/create/define-company?id=TRd9UqKqy9
CP: ht

[2021-08-19 16:43] jmills-cgi opened #8639 "Entity: Lear Release 10.3"
Prior to moving into production, the following steps should be completed or confirmed:

**Lear**
- [x] Update version number in the code being released (version 2.27.0)
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
- [x] Add version # and release # to this ticket
- [x] Dev to send commit

[2021-08-19 16:44] severinbeauvais opened #8640 "Create UI: staff cannot update Completing Party names"
**Describe the bug in current situation**
New code has just been merged (into Dev), which should allow a staff user to edit the Completing Party names (which is otherwise pre-populated and uneditable).

In order to close the original ticket and not lose track of this bug, this ticket is created. I believe a follow-up ticket to the original ticket will be created, and this bug can be resolved there

[2021-08-19 16:48] PatrickAHeath opened #8641 "Create Fee Code for Total Discharge"
In order to record Discharge activity on the Transaction list, a zero dollar fee code is required.

Create a new fee code for PPR Total Discharge:

Type Code: PPR
Filing Type Code: FSDIS
Filing Type: PPR Total Discharge
Amount: 0.00
Service Fee: N/A

### Deadline
End of next sprint

### Impact if deadline not met
Won't be able to complete testing and close the ticket. App is not live so no release

[2021-08-19 16:59] yuisotozaki opened #8642 "Holistic review of PDF outputs"
There are many PDF outputs that are being UX Assured and QA on a ticket-by-ticket basis.
This ticket is a quick look through of all PDF output to find any discrepancies between them and address them.

There is a relationships ticket #8417 that needs to be fixed that affect all PDF output.

[2021-08-19 17:06] eve-git commented on #8592
Works in Dev. Move to QA

[2021-08-19 17:15] doug-lovett commented on #8517
Report incorrect font issue blocked by https://github.com/bcgov/entity/issues/8417.

[2021-08-19 17:19] mstanton1 opened #8643 "FAS filing type list for filings from systems without integration to FAS"
### Description
Need to determine which filings types will be available in the FAS system.

FAS is integrated with applications in the modernized business registry so we can pull filing types and associated fee codes for filings that are supported in the new system. These are already in the Pay DB and using the appropriate fee structure and GL list.

FAS is not integrated with legacy applications:

[2021-08-19 17:19] Sienna-Blumstengel commented on #8521
Not a bug, this behavior is fine. CLosing

[2021-08-19 17:19] #8521 closed

[2021-08-19 17:24] Sienna-Blumstengel commented on #8616
@SateeshFW @mstanton1 FYI, could you please have Roy groom this? Can it be completed by the end of 10.4?
Thanks!

[2021-08-19 17:33] eve-git commented on #5994
Verified in Dev. Move to QA

[2021-08-19 17:46] janisrogers opened #8644 "NR9481682 NRO WHITEHORSE GOLD (YUKON) CORP. Multiple charges - INC0105089"
### ServiceNow incident:
INC0105089
### Contact information
Staff Name: Elizabeth Espinosa
Staff Email: Elizabeth.Espinosa@gov.bc.ca

### Description

Client attempted a renewal of NR9481682 4 times.  The renewal was not successful but the client was charged 4 times.  The client has submitted a new submission (NR2096744) which I have processed).

Regarding the charges, I have let the client know t

[2021-08-19 17:47] Sienna-Blumstengel commented on #8576
Timeboxed to one hour

[2021-08-19 17:48] jdyck-fw commented on #8576
This timebox is to determine where the issue is.

[2021-08-19 17:51] Sienna-Blumstengel commented on #8636
Decision made to not make it available to staff - staff will just file in COBRS during the cut-over period. If, after cobrs goes away, the staff need to file, we can do so with a jupyter notebook.

[2021-08-19 17:54] PatrickAHeath opened #8645 "PPR Serial Number Search - More Details on Search Algorithm"
From Client Usability Testing:

Would be beneficial to include an explanation of the search algorithm for Serial Number Search.  Is it looking at the last 6 digits of the Serial Number as is done on the legacy application?

[2021-08-19 17:57] mstanton1 commented on #8110
@SateeshFW Roy reviewed full set of designs for reconciliation report with me and we have agreed upon those. All designs links have been added into dev ticket 8594 which is linked to 7821.

[2021-08-19 17:57] #8110 closed

[2021-08-19 17:57] severinbeauvais commented on #8576
The first part of the code displays `effectiveDate` from the header object (and this works).
The second part of the code expects to display `effectiveDateTime` from the history item object, but this field was not added to this object for this particular type of filing (alteration).

Therefore, this is a UI bug, and a pretty easy fix - 1 day should be enough for the fix, review, and QA.

[2021-08-19 18:06] severinbeauvais commented on #8640
Well, this _should_ work (since I implemented it to work, and it worked locally), but as per #8636 it was decided to not allow staff access to the Create UI anyway.

[2021-08-19 18:10] stevenc987 commented on #8644
@janisrogers

![image](https://user-images.githubusercontent.com/25512847/130121491-5c4f96a8-41e2-4a5c-ac4e-1cd62ae6df69.png)

Yes, the client was charged for 4 times. I think the refund will be performed manually on a weekly base. Please tell Amit to add the refund to the weekly refund ticket.

[2021-08-19 18:27] mstanton1 opened #8646 "Release Notes for Release Aug 19th"
### Description
Entities has made updates to allow payment so Relationships is no longer blocked. Release will take place Aug 19th to release items pending from spring 10.2 and completed / past the QA column in sprint 10.3.

### Ops Process
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket, if:
  - If the business says it is a priority

[2021-08-19 18:33] Sienna-Blumstengel commented on #8160
Elizabeth has completed all the temp processes. Sienna can update this list as we release new features

[2021-08-19 18:34] Sienna-Blumstengel commented on #7841
@mstanton1 @amit4610 just checking that this is on your radar :)

[2021-08-19 18:36] janisrogers commented on #8644
@amit4610 I have added to the weekly refund ticket before, but is more information needed if there are 4 charges to be refunded for 1 NR? Do we need to indicate the payment ID?

[2021-08-19 18:43] jordiwes commented on #7681
Hi @tlebedovich , I made those updates to the modal.
I also made the updates to the dropdown... everything except the colors. I got the colors as close as I could. It's the strange thing about this app. If I enter the color E4EDF7, it does not appear that way on the screen. I don't understand it. The fonts and alignments should be all done

[2021-08-19 18:43] Sienna-Blumstengel commented on #6831
We need to inform management:
* Hotjar will be used until we can implement the SBC CRM feature that is being developed
* How to use HotJar

[2021-08-19 18:52] severinbeauvais commented on #8352
This ticket is ready for UX Assurance. Please note that everything before Aug 18 has been implemented. Changes identified on Aug 18 will be in a future ticket.

[2021-08-19 18:54] amit4610 commented on #8644
Hi @janisrogers In this case, yes. We would mention the above 4 charges to be refunded with the total $ value.

[2021-08-19 19:01] #8636 closed

[2021-08-19 19:11] Kaineatthelab commented on #6831
They will still get the legacy reports, just not any new entities that are built in our system correct?

Also its not SBC CRM that will replace the reports its something else that is already built but not ready for us to implement. I will get the details:)

[2021-08-19 19:13] lmcclung commented on #8637
Questions for Julie...
1.  What is the AGM date?  is it prior to the first director change on march 14, 2019?
2.  What the sequence of events?
3.  Are there director changes onthe 2018 Annual report?
4.  What is the process used in these scenarios for societies or coops?

[2021-08-19 19:30] riyazuddinsyed opened #8647 "Upgrade receipt even shows 30.00 while email is furnished"
**Describe the bug in the current situation**
When the user upgrades the payment and after successful payment of 101.50 the email is furnished to the users but the receipt still shows 31.50$

All users doing the upgrade payment

**Steps to Reproduce**

1. Go to 'https://test.bcregistry.ca/business/auth/home/decide-business'
2.Make an Upgrade payment
3. Go the email and check the Reciept
4. See an

[2021-08-19 19:36] riyazuddinsyed opened #8648 "Retry Payment adds up the priority amount while Resubmitting the NR"
_(edited by SB)_

**Describe the bug in current situation**
When the user tries to make a Resubmit and hits on cancel or by any means if the payment does not go through then the status of the NR is in Payment_Processing state and when the user clicks on the Retry_payment then the priority amount is added by default forcing the user to pay 133.00$.

**Impact of this bug**
All users who are trying t

[2021-08-19 19:36] PatrickAHeath opened #8649 "PPR Search NIL report - Include Legal Disclaimer"
From Client Usability Testing:

The legacy application currently includes a legal disclaimer at the bottom of a NIL report.

There are two scenarios for a search report output with no results:
1. No exact or similar matches were found by the search
2. Only similar matches were found by the search but the client didn't select any for the report output

### Scenario 1
include the following bold head

[2021-08-19 19:54] sumesh-aot commented on #8390
@Sienna-Blumstengel @mstanton1 For routing slip refund (errors out as there is not systematic way of refund) transaction won't ba handled. So I am slightly changing the message as below, please let me know if you have any concerns.

Routing Slip Error:
Routing slip refund is not allowed. You will not receive an automatic refund. Please call 1-877-370-1033 to request a refund.

No Fee Error:
No fee

[2021-08-19 19:56] lmcclung commented on #8390
@sumesh-aot @Sienna-Blumstengel @mstanton1 that's fine for Entities as Andre will build a message in Name Request.

[2021-08-19 20:09] janisrogers commented on #8644
Charges added to NR refund ticket. @stevenc987 can you please indicate time spent in the estimate and close the ticket?

[2021-08-19 20:15] #8644 closed

[2021-08-19 20:24] lbergero819 opened #8650 "Make alterations filing available for comapnies loadded in BCREG0003"
Can you explain if the filing for the following alterations with name changes can be done. I do not see any change option for Business Type. Can it be done via Company Name Change:

NOALD - Alteration from a BC ULC to a Benefit Company
NOALE - Alteration from a BC Company to a Benefit Company
NOALR - Alteration from a Benefit Company to a BC Company

for the following companies that have been affi

[2021-08-19 20:27] JohnamLane commented on #8650
@lmcclung Please assign to a dev or answer these questions as you see fit. I was just adding some labels to help Louise get the ticket set up. She was not able to add labels.

[2021-08-19 20:33] jdyck-fw commented on #8648
@riyazuddinsyed - please confirm if this is just credit card

[2021-08-19 20:35] amit4610 opened #8651 "Create job aide for adding team members"
Create job aide for adding team members to a govm account and how to accept invite as a team member

**Expected Behavoir - Acceptance Criteria**

* Scenario 1: xxxxxx (happy path)
* GIVEN ... (you or your condition)
* WHEN ... (what you do)
* THEN ... (what you see)

*Scenario 2???

* Impact if you do not get this item
* Deadline - This item needs to be delivered/ done by Sprint <#>
* Contact Pers

[2021-08-19 20:37] amit4610 commented on #8651
Deadline to be given by @SiennaBlumstengel

[2021-08-19 20:37] severinbeauvais commented on #8648
This may be because the fees are using the local property `isPriorityRequest` but the payment is using the global property `getPriorityRequest`.

[2021-08-19 20:40] lmcclung commented on #8647
Riyaz says the receipt downloadable on Name Request is correct.  Receipt on email is not.

[2021-08-19 20:41] Sienna-Blumstengel commented on #8505
@lmcclung is this a dependancy with the relationships team? If so, maybe we should meet to discuss.

[2021-08-19 20:43] Sienna-Blumstengel commented on #7757
@lmcclung thoughts on the above? Impact of the ticket is very low, we can just send the client back to the homepage. I do know we want to implement Severin's above suggestion anyways, but don't know how high priority that is.

[2021-08-19 20:45] Sienna-Blumstengel commented on #8250
Assets would like users to go to this page: https://www.bcregistry.daxiom.ca/ppr-marketing

[2021-08-19 20:51] jdyck-fw commented on #8640
Closing, as we've decided that staff won't be using the new app to do incorps during the cutover period. Instead using COBRS

[2021-08-19 20:51] #8640 closed

[2021-08-19 20:52] jdyck-fw commented on #8173
@rarmitag - any updates after this meeting?

[2021-08-19 20:53] jdyck-fw commented on #7965
@forgeuxGH5 - now that you're back, curious for your input on a design here please.

[2021-08-19 20:57] Sienna-Blumstengel commented on #8518
How can we move forward on this ticket - take it to a technical discussion with developers to make a plan of attack?

[2021-08-19 20:57] jdyck-fw commented on #6992
Closing, as we can't investigate this error any longer. Too old

[2021-08-19 20:57] #6992 closed

[2021-08-19 20:59] chdivyareddy opened #8652 "Registration - FR/LT/MH - Missing Text"
As per mockup the following changes need to be addressed.

**Steps to Reproduce:**
1. Select 'Land Tax Deferment Lien on a Manufactured Home' registration type (LT) and Tax Lien under S. 27/28 of Manufactured Home Act (MH).
2. Under the 'Registration Length', the current text displayed as 'The registration length for this registration is automatically set to infinite. There is a $10.00 fee for thi

[2021-08-19 21:02] Sienna-Blumstengel commented on #8213
@sumesh-aot @lmcclung is this still in analysis / are there outstanding questions to be answered?

[2021-08-19 21:06] Kaineatthelab commented on #8518
sounds like a good idea

[2021-08-19 21:08] chdivyareddy commented on #7860
Verified in DEV.
Created a new ticket for the issue found[ #8652](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8652)

[2021-08-19 21:17] severinbeauvais commented on #7357
Note to Severin: see Thor's changes documented in [7803](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7803).

[2021-08-19 21:20] lmcclung commented on #8505
@Sienna-Blumstengel It might be too early to have that discussion.  Our task was to break down the epic into stories which Thor, Kaine and I did.  Because of the technicality I think it's a conversation that will have to happen between Thor and maybe Sumesh when we know which PI we're going to put it in.  Yes, I believe some dependency on the AUTH. Also some dependency on IDIM and we need to figur

[2021-08-19 21:20] Sienna-Blumstengel commented on #6742
@lmcclung can we pull this bug into the sprint soon? It is blocking closing a really old ops ticket #6445

[2021-08-19 21:21] severinbeauvais commented on #8572
FYI, this is related to #8570, and could maybe benefit from it, or set the stage for it.

[2021-08-19 21:21] Sienna-Blumstengel commented on #7190
@kialj876 sorry this was forever ago but do you think you could answer linda's question above?

[2021-08-19 21:26] lmcclung commented on #7190
@Sienna-Blumstengel I think we can close this ticket.  Andre's work on returning refund messaging should display appropriate messaging.

[2021-08-19 21:27] yuisotozaki commented on #8634
@janisrogers Please review UXPin mock for the home jurisdiction corporate number in the header for NAMEX.
If you want to see the actual NR, it's in dev env. NR 2919991 phone:1231231234

[2021-08-19 21:31] lmcclung opened #8653 "Update Name Request to remove google autofill on all fields"

[2021-08-19 21:31] lmcclung opened #8654 "Upgrade Filings UI filings to remove good autofill on all fields"

[2021-08-19 21:32] lmcclung opened #8655 "Upgrade Create UI filings to remove google autofill on all fields"

[2021-08-19 21:32] lmcclung opened #8656 "Upgrade Edit UI filings to remove google autofill on all fields"

[2021-08-19 21:37] rarmitag commented on #8173
yes, after talking with Patrick and Thor I found out part of the problem is handling the many different types of filings that exist.
Thor was aware of the problem and is working on it slowly, and he said that was the major hurdle stopping us at the moment.
(or something like that)
Hopefully he'll have a solution soon, but for the moment the it's not really possible to bring most of the data across

[2021-08-19 21:47] lmcclung commented on #8518
@Sienna-Blumstengel I turned this into an epic and added some tickets below.  Let's talk about it at backlog grooming tomorrow.

[2021-08-19 21:48] jinghualicgi commented on #8608
Patrick will try it again

[2021-08-19 21:57] cameron-freshworks commented on #8572
@severinbeauvais

Absolutely, i think this ticket will help stage for #8570 for sure!

[2021-08-19 22:00] jinghualicgi commented on #8363
close this ticket since we have a design.

[2021-08-19 22:16] mstanton1 commented on #8631
@rkim13103 can you add a design for a warning/error for scenario 6 in the case where a priority fee or future effective fee is added on a transaction with a quantity greater than 1. We need to advise system users that "Only one priority fee" will be applied or "Only one future effective filing fee will be applied".

[2021-08-19 22:24] rarya-freshworks commented on #8528
Scenario 5: Instead of letting users edit review routine slip to make changes, it was implemented to have a "Back to Edit" button so that user can make changes to routine slip before creating it.

[2021-08-19 22:28] janisrogers opened #8657 "BC Reg and Online Services Payment Error CP1110 - INC0104082"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident:
INC0104082
### Contact information
Staff Name: Mark Lau
Staff Email: Mark.Lau@gov.bc.ca

### Description
CP1110 THIMBLE MOUNTAIN CO-OPERATIVE FARM filed a director change using account # 3697    Thimble Mountain Cooperative Farm
Online banking was selected and was paid on Jul 20 2021, however filing remaine

[2021-08-19 22:37] PatrickAHeath opened #8658 "PPR Search Results - Indicator for Exact Match"
The current system uses a green arrow to indicate exact matches on the search results.  This makes identifying exact matches in screen prints for clients easier.

The new application shows exact matches as a black tick box.  Could the indicators be modified so they're different from selected partial matches?

[2021-08-19 22:46] janisrogers commented on #8634
@yuisotozaki looks fine to me.

[2021-08-19 22:50] stevenc987 commented on #8657
@janisrogers

Yes, we got the payment $20 from the client:

![image](https://user-images.githubusercontent.com/25512847/130153915-253d8cb6-a388-4801-a205-2cff13070961.png)

[2021-08-19 22:55] stevenc987 commented on #8657
@janisrogers
Sorry, the total is $20 but we got $0 so the client didn't pay yet

[2021-08-19 22:57] janisrogers commented on #8657
This is shown on her bank statement. Any thoughts?
![image](https://user-images.githubusercontent.com/55597599/130154676-21dcd561-526f-4291-8353-522cd1895d40.png)

[2021-08-19 22:58] mstanton1 commented on #8512
As per grooming we cannot revoke PAD on the back end without an endpoint. If we create an endpoint that is the bulk of the work so going the extra step to put the ability to revoke PAD in the UI is minimal and makes more sense than working with a jupiter notebook.

@jyoti3286 lets discuss.

[2021-08-19 22:59] janisrogers commented on #8657
She says "I just checked with the bank...Grand Forks Credit Union: the confirmation number is 4181810, the trace number is 519176."

[2021-08-19 23:01] janisrogers commented on #8657
Here is her full comment:
As requested, find below three line items from the TMCF bank account.  Of course, I copied them in reverse order.  Top is from Acct Activity noting payment made, middle is from my list of accounts to pay, bottom is from view all transactions. Please note the middle attachment has #230497...dunno where that comes from.  TMCF acct number from the Registries dashboard is 369

[2021-08-19 23:02] SateeshFW opened #8659 "Add Manual Transactions - Scenario 3 (Staff Enters Filing Type)"
As BC Registries staff with the group 'Filing_Transactions'
I want the ability to manually add a transaction on a routing slip through the Fee Accounting System
so that I can deduct fees from fees received when I complete filings or provide services to a client

**Acceptance Criteria**

Scenario 3: Staff Enters Filing Type'
GIVEN I click in the Filing Type Name field
WHEN I begin to type a filing

[2021-08-19 23:04] SateeshFW opened #8660 "Add Manual Transactions - Scenario 8 (Staff clicks blue 'Add Transaction' button)"
- As BC Registries staff with the group 'Filing_Transactions'
- I want the ability to manually add a transaction on a routing slip through the Fee Accounting System
- so that I can deduct fees from fees received when I complete filings or provide services to a client

**Acceptance Criteria**

Scenario 8: Staff clicks blue 'Add Transaction' button at the bottom of the Add Transaction box
GIVEN I ha

[2021-08-19 23:05] yuisotozaki commented on #8634
@tlebedovich Ready for visual design to squeeze out last bit of legibility and clarity.
Do we need a label for new staff users?
I added an alternate that says "PANAMA (ABC1234567890 in home jurisdiction)"

[2021-08-19 23:11] lmcclung commented on #8489
For the Registries Hub I included Debbie and names examiners
For BCOL I also included Susan Dziadyk as Joanna will be on vacation

@Sienna-Blumstengel could you test it out?  I used your CITZ email to set you up as a member.

[2021-08-19 23:15] lmcclung opened #8661 "UI Clean up ticket"

[2021-08-19 23:15] stevenc987 commented on #8657
@janisrogers

This one needs more trouble shooting. It needs to query the web service manually. Sumesh will do it first thing tomorrow.

[2021-08-19 23:23] janisrogers opened #8662 "Name Reservation - INC0105337"
### ServiceNow incident:
Name Reservation - INC0105337
### Contact information
Staff Name:
Staff Email:

### Description
This firm is having issues using their account to submit NRs through the Name Request Application. They are not using IE, an iOS based device, or a browser that hasn't recently been updated.
Email was:
"I have tried to submit a name 3 times this morning (Aug 18) and have not bee

[2021-08-19 23:24] mstanton1 commented on #8646
Draft available here: [https://app.zenhub.com/files/157936592/58ed0944-ef2b-44ae-879e-5e8cf006cc8c/download](https://app.zenhub.com/files/157936592/58ed0944-ef2b-44ae-879e-5e8cf006cc8c/download)

Helpful Tip still to be added.
Will review tomorrow AM and send to IT Ops for distribution.

@amit4610 FYI release notes are linked here if you want to review.

[2021-08-19 23:24] janisrogers commented on #8662
I have sent an email asking for further information:
I’m sorry you are experiencing issues with the name request application. This issue has been escalated to me, and I was hoping to get more information on the problem.  Would you be able to provide your account name, the NR# you did create, the approximate time you were trying to create the NR and what error message you saw? This will help us to

[2021-08-19 23:40] lmcclung commented on #8352
@severinbeauvais new ticket is https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8661.  We can groom it once we have full requirements (I added a couple other things).

[2021-08-19 23:53] jinghualicgi commented on #7554
As discussed in today's bug triage , Divya will verify CSV File in other ticket, that will remove dependency with ticket #8280. So we can close this ticket. Thanks @chdivyareddy

[2021-08-20 00:01] #7375 closed

[2021-08-20 00:01] lmcclung commented on #7375
Service Now already has been updated to include Name Request application.

No urgency on have a BCROS lab team.  But can discuss at a future guild meeting.

[2021-08-20 00:03] chdivyareddy commented on #7863
Verified in DEV.

[2021-08-20 00:08] #8363 closed

[2021-08-20 00:28] doug-lovett commented on #8517
Working on 3 and 6 after review meeting.

[2021-08-20 01:02] lmcclung opened #8663 "UI Design - Filings UI: check NR type against IA type"
### Context
If someone is in the middle of an incorporation, and their NR type is changed, how do we handle that?
Note: This is uncommon because an NR can only be used to incorporate if the NR is approved, or conditional with consent received, and the NR type or entity cannot be edited if it has been approved. So a staff member would need to edit the NR to get into this scenario.
Cameron votes for

[2021-08-20 01:06] #7948 closed

[2021-08-20 01:06] #6841 closed

[2021-08-20 01:06] #8554 closed

[2021-08-20 01:06] #8553 closed

[2021-08-20 01:07] #8413 closed

[2021-08-20 01:19] lmcclung commented on #8352
@severinbeauvais I noticed that when I add another director it autofills the first and last name with the completing party.  I don't thinkit should do that.  Can you fix that in #8661?

[2021-08-20 01:24] severinbeauvais commented on #8352
Oops. Yes, of course!

[2021-08-20 14:23] rarmitag commented on #8613
NR 2414662 has status PAID.

Same with NR 0850772 and NR 0569306 which were in Kaine's original message about Firms with wrong designation.

[2021-08-20 14:36] PatrickAHeath commented on #8475
Duplicate ticket with 8476, which is closed.  Closing this ticket.

[2021-08-20 14:36] #8475 closed

[2021-08-20 14:43] jinghualicgi commented on #8461
Dev has made changes accordingly, this is ready for review again,  Thanks

[2021-08-20 15:04] janisrogers commented on #8280
@mstanton1 This is only blocking a testing task. Not urgent.

[2021-08-20 15:21] janisrogers commented on #7340
@SateeshFW I don't think this is a relationships issue. Assets needs to retest. Removing the dependancy and relationships tags.

[2021-08-20 15:26] mstanton1 commented on #8646
Minor wording updates made and Helpful Tip added.

[2021-08-20 15:27] sumesh-aot commented on #8657
Confirmed that receipt is not applied to the invoice and we didnt receive any sftp file for this payment. Will need to check with CAS team on this. @amit4610 @mstanton1 Can one of you check with CAS team (Tara) ? Below are the CFS identifiers for the invoice.

Party/Account/Site = 1968360/230497/2068045
Invoice number : REG00067373

[2021-08-20 15:33] sumesh-aot commented on #8663
@lmcclung Affiliation doesn't store the NR request type. And even if we store it, the event should indicate the type has been changed, which currently is only for status changes. We would need a ticket and need discussion with names team.

CC: @jyoti3286

[2021-08-20 15:39] severinbeauvais commented on #7684
I moved these from #8661:

@tlebedovich @yuisotozaki could we also add these to the designs...

- [ ] In steps 1 & 2 - designs show "address cannot be a PO box" in the mailing address sections.  This is not true and shouldn't be there.  Doesn't look like it is in the current BEN IA to this just might be an update to your invision - no UI work needed

- [ ] ~In Step 2 - after completing party has b

[2021-08-20 15:46] mstanton1 commented on #8657
Sent to CAS and cc'd BA inbox with email.

[2021-08-20 15:46] doug-lovett commented on #8498
Fix verified in dev with the same registration number 4607583. The expiry timestamps for the renewals on the attached search results report now match the database values.

[https://app.zenhub.com/files/157936592/8ed7bf4b-53e1-49ab-82bf-2317b5365ec0/download](https://app.zenhub.com/files/157936592/8ed7bf4b-53e1-49ab-82bf-2317b5365ec0/download)

[2021-08-20 15:53] sumesh-aot commented on #8561
@PatrickAHeath while trying to reproduce the issue I found that there is an issue if the account's payment method is Online Banking. I will dig more and try to see the root cause. Do you know if the user is trying to purchase NR with an account?

[2021-08-20 16:06] #8443 closed

[2021-08-20 16:16] jdyck-fw commented on #8358
"Thanks for your ongoing support! No luck I’m afraid. A screenshot is below, hope that helps! If it makes things easier, it’s not a huge priority as I don’t think I’ll be doing much but read only for many tickets." - closing this again.

[2021-08-20 16:16] #8358 closed

[2021-08-20 16:18] lmcclung commented on #8573
@andrepestana-aot is this ticket still required or does the one you opened cover this?

[2021-08-20 16:21] amit4610 commented on #8646
Thanks @mstanton1 . Looks fine to me.

[2021-08-20 16:31] mstanton1 commented on #8646
Sent to IT Ops with distribution list / subject line.

[2021-08-20 16:39] #8562 closed

[2021-08-20 16:41] kialj876 commented on #8457
to test this the temporary way of getting to this page is by clicking the total discharge button on one of your registrations in the registration table

[2021-08-20 16:42] #8351 closed

[2021-08-20 16:54] #8226 closed

[2021-08-20 16:55] #8302 closed

[2021-08-20 16:56] #8001 closed

[2021-08-20 16:56] #7710 closed

[2021-08-20 16:58] #8354 closed

[2021-08-20 16:58] #8161 closed

[2021-08-20 17:05] sumesh-aot commented on #7889
Email sent to Lab BA Team:
[code]

[2021-08-20 17:18] doug-lovett commented on #8557
Verified in DEV with last name="DEBTOR", first name = "TEST IND", middle = "4"

[2021-08-20 17:19] mstanton1 opened #8664 "Allow Option to Select Multiple Rejection Reasons for Affidavit"
* As BC Online Administration (account_creator group)
* I want the ability to select multiple affidavit account rejection reasons
* so that the email sent to the client lists all things that they must correct on their affidavit account request

**Acceptance Criteria**

**Scenario 1: BC Online Administration wants to either Reject or put the account On Hold**
* GIVEN there is more than one issue wi

[2021-08-20 17:22] severinbeauvais commented on #8648
@eve-git Chat with me if the above isn't the root cause.

[2021-08-20 17:23] jinghualicgi commented on #8618
@forgeuxGH5 and @janisrogers will provide some options/interactions for review and discussion

[2021-08-20 17:25] doug-lovett commented on #8517
Fixes for items 3 and 6 verified in DEV searching on Aircraft DOT "Cglwn". Search results PDF attached.

[https://app.zenhub.com/files/157936592/81c35adb-ae84-47ea-9d86-d75c7bf83598/download](https://app.zenhub.com/files/157936592/81c35adb-ae84-47ea-9d86-d75c7bf83598/download)

[2021-08-20 17:29] andrepestana-aot commented on #8573
@lmcclung This a duplicate of #8574. Closing this one.

[2021-08-20 17:29] #8573 closed

[2021-08-20 17:30] Sienna-Blumstengel commented on #8663
Let sienna know when design is ready to be reviewed by staff and I can schedule a discusson

[2021-08-20 17:31] chdivyareddy opened #8665 "UI Party & Debtor - Spacing issue in DEV & TEST - Firefox Browser"
**Pre Conditions:**
DEV & TEST env.

**Steps to Reproduce:**
1. log in to DEV env in Firefox Browser.
2. Navigate to step2 in the financing statement and select a secured party (Individual/Business).
3. Enter all the details and click Done.
4. Select a Debtor (Individual/Business) and enter all the details and click Done.
5. On the UI Table, spacing issue in Address, text alignment in Party and De

[2021-08-20 17:33] sumesh-aot commented on #8561
Online Banking accounts can cause this error, easily reproducible in all environments. @PatrickAHeath please advise the client to switch the payment method to credit card (under Account Info -> Payment Methods), if the user was trying with an online banking account.

[2021-08-20 17:33] chdivyareddy commented on #7137
Created a new ticket for TEST env issue [#8665](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8665)

[2021-08-20 17:35] severinbeauvais commented on #8653
This affects devs all over the world... and the solutions are always changing...
https://stackoverflow.com/questions/60689757/how-to-disable-chrome-autofill-after-2020

[2021-08-20 17:37] sienna-blumstengel opened #8666 "RFC to define solution to turn of auto-fill across apps ⚠️ do this first"
### Description
We need to find a simple solution to remove google auto fill from all of our apps. Something that can be easily updated as google changes.

[2021-08-20 17:40] severinbeauvais commented on #8666
Idea: Create a script that runs after the page is rendered, to manipulate all the input components to disable auto-fill (eg, add/change props). This may require a change when Chrome finds a way to circumvent the old solution, but it would only require a change to the script, not to every single input in our app(s).

[2021-08-20 17:41] severinbeauvais commented on #8666
Another idea: Prompt user for us to disable their auto-fill setting, and then create a script to do that.

PS Google for more ideas!

[2021-08-20 17:47] Sienna-Blumstengel commented on #8259
Solution:
* Disable the view and change company information link in the header.
* Add the existing tool tip on the disabled link, explaining why they can't fire when they have an FE address change

Also part of this ticket: please look at the warning message before you file an address change, see if we need to add "alteration" to the list of things you can't do until your address change is effecti

[2021-08-20 17:51] PatrickAHeath commented on #8561
@sumesh-aot Payment with credit card for name request.

[2021-08-20 17:52] Sienna-Blumstengel commented on #8548
Cameron is already working on this in 8572. Closing!

[2021-08-20 17:52] #8548 closed

[2021-08-20 17:54] sumesh-aot commented on #8561
@PatrickAHeath User can pay with credit card even if the account is default to Online Banking. If the user is facing issue when they submit name request (before even coming to credit card page, as the user said error is consistent), then the above is a potential reason.

[2021-08-20 18:15] mstanton1 commented on #7841
@Sienna-Blumstengel I recall previously looking into Canadian options. The Canadian option Thor had suggested was 1password. However, as this has a monthly cost a decision was made to exclude this from job aides. I did not come across other reputable, and free, Canadian options.

Additionally from my understanding the service linked by Trish is something our app would integrate with and does not p

[2021-08-20 18:19] PatrickAHeath commented on #8561
Good Morning Michelle!

What is the name of the BC Registries Account that you’re using?

Please try switching the payment method for the account to Credit Card (under Account Info -> Payment Methods) and see if that makes a difference.

Thanks,
Patrick

[2021-08-20 18:20] mstanton1 commented on #8543
@saravanpa-aot as per our discussion can you please complete one more update to this email. The second paragraph (starting with By clicking on and going until press “submit” on step 5.) should be replaced with:

By clicking on the button below, you will be directed to log in. Log in using your BCeID. You will require a one time passcode from your 2 factor authenticator. After log in you will be na

[2021-08-20 18:22] lmcclung opened #8667 "Mobile solution"
### Consolidated Feedback Document (In Progress) :
https://docs.google.com/document/d/1lRIhQ4K98h8yU7N1S8GkDgxHZM7VHfB6r1ZNcu8LxLA/edit?usp=sharing

------

Decision on RAID board
https://github.com/bcgov-registries/raid/issues/5

Low hanging fruit:
- [x] Use vuetify grid system to enable wrapping/stacking - *Started by CB on Sept 13*
- [x] Set a minimum mobile screen size
- [ ] Add scrollbars as

[2021-08-20 18:30] mstanton1 commented on #8646
Release notes have been sent.

[2021-08-20 18:30] #8646 closed

[2021-08-20 18:30] PatrickAHeath commented on #8561
Hi Patrick,

I am not using an account, I just go to the website: https://www.bcregistry.ca/namerequest to submit the request and I always select credit card as for the method payment.

MICHELLE VIRGEN MAR
Franchise Support / Compliance Administrator
T. 604-939-8777 x 390

E. michelle@dlc.ca

W. dominionlending.ca

[2021-08-20 18:31] mstanton1 commented on #8550
FAQ's have been uploaded to SP.
Two training sessions have been booked.
Training content - To be prepared

[2021-08-20 18:32] chdivyareddy commented on #7860
Verified in TEST.

[2021-08-20 18:38] mstanton1 commented on #8494
@Sienna-Blumstengel this has been groomed and is quite large given our sizing. Can you confirm:
1. When is this needed
2. What are the impacts if we don't meet that deadline?

[2021-08-20 18:43] mstanton1 commented on #8591
Communicated with the client through email again today (BCROS BA Inbox). Client was going to meet so I could troubleshoot then advised she needed to reset her authenticator and it wouldn't be available for 24 hours. She will contact me Monday.

[2021-08-20 18:59] Maribeth-Wilson opened #8668 "OCM - Firm - SP & GP- Registrations"
All tasks and activities associated with the firm filings.
Includes all communications to new and existing users, staff, etc. internal engagement, training, resistance management, activities needed for both internal and external stakeholders to support the new filings being added to the Business Registry.

Engagement with external stakeholders, including OneStop partners and other external stakeho

[2021-08-20 19:11] MBWilson opened #8669 "OCM activities in support of FAS"
Sprint 10.4
•	Awareness and engagement – communications
•	Knowledge and skills training – one note, new applications, legacy
Sprint 10.5
•	Processes – support, refunds, nsf, etc
•	Processes – support refunds, nsf, etc.

[2021-08-20 19:15] amit4610 opened #8670 "KPMG account setup"
Client called me directly on my cell to setup BCeID and Account. No INC incident recorded.
She said my supervisor gave me the phone number and asked to call directly.

INC0105592  - created later by IT Ops

[2021-08-20 19:19] amit4610 commented on #8670
Client's company (KPMG) blocked from installing chrome plugins and installing desktop authenticator. We were able to install google authenticator on her phone.

[2021-08-20 19:24] #8669 closed

[2021-08-20 19:25] chdivyareddy commented on #7863
Verified in TEST.

[2021-08-20 19:25] Maribeth-Wilson opened #8671 "OCM activities in support of FAS"
Sprint 10.4
•	Awareness and engagement – communications
•	Knowledge and skills training – one note, new applications, legacy
Sprint 10.5
•	Processes – support, refunds, nsf, etc.
•	Processes – support refunds, nsf, etc.

[2021-08-20 19:26] amit4610 commented on #8670
I have set them up till the point of linking their BCOL account. They did not had PRIME credentials handy and will contact me once they do. Also guided them to the resources page.

[2021-08-20 19:29] MBWilson opened #8672 "OCM activities in support of cooperative incorporation"
Sprint 10.1 (Jul 14-28)
•	Awareness and engagement – communications – Internal
•	Awareness and engagement – communications (ie websites) – external (8525)
Sprint 10.2
•	Tools – forms, macros (8481)
•	Knowledge and skills – training, one note
Sprint 10.3
•	Processes – BCN, workflow, support, BC mail, search, names (no mainframe), payments, SC, etc.
•	Outputs, jobs, etc.

[2021-08-20 19:36] saravanpa-aot commented on #7796
@rkim13103 we need an error message for the scenario of linking a child with transactions.

[2021-08-20 19:42] severinbeauvais commented on #8661
The designs show a muted blue checkbox and a muted outline button when they are disabled. I am applying these changes globally (ie, all disabled checkboxes and all disabled outline buttons).

[2021-08-20 19:48] PatrickAHeath commented on #7889
Forwarded email to BCOLHELP.  Waiting for Joanna to check with client.

[2021-08-20 20:13] PatrickAHeath opened #8673 "Redneck Woman Clothing - Multiple NRs, Cancellations and Payments"
### ServiceNow incident:
### Contact information
Staff Name:  Debbie Blythe
Staff Email:  Debbie.Blythe@gov.bc.ca

### Description
[https://app.zenhub.com/files/157936592/f6d354b8-62b4-40c2-b614-a865bf4ffaca/download](https://app.zenhub.com/files/157936592/f6d354b8-62b4-40c2-b614-a865bf4ffaca/download)

### Ops Process
- [x] Add **Entity** or **Relationships** label to zenhub ticket
- [x] Add **Op

[2021-08-20 20:17] Sienna-Blumstengel commented on #8489
@lmcclung unfortunately it doesn't work 😔 I was so hopeful haha.
![image.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/b23689aa-f326-4c46-bc5b-b9a754fd4480)

Could you send it to my freshworks email? And I will just get someone to let me in each morning

[2021-08-20 20:24] sumesh-aot commented on #8673
@PatrickAHeath I can see that refunds for 6 of them has been initiated as part of #8103, is there any additional action item on this ticket?

[2021-08-20 20:25] mstanton1 commented on #8614
@forgeuxGH5 correct. With the option "Do not reset my passcode" a business is removed and the passcode is cancelled. No new passcode is issued.

Note, changes were not being completed to the original remove business modal during this ticket. However, UX has been completed for the modals that will appear when removing a NR or draft incorporation application. Those have been included above.

[2021-08-20 20:26] janisrogers commented on #8637
Response from Lauren:
Good morning Janis,

Thanks for your assistance. I have emailed the client to ask for further clarification and have requested the paper version of the forms from the 2017 Special Resolution onwards for information purposes to verify the below noted details. I will let you know when I hear back.

Thank-you,

Lauren Nixon

[2021-08-20 20:28] Sienna-Blumstengel commented on #8651
Deadline is drafted [here](https://drive.google.com/file/d/1Ov2G9VQG2UQohn6Mm5xrXP84WUtQjOk4/view?usp=sharing) but I don;t think it really needs to be that urgent - just at least before they start training on **Oct 1st.** Does that sound ok @amit4610 ?

[2021-08-20 20:32] #7190 closed

[2021-08-20 20:42] MBWilson opened #8674 "OCM activities in support of Vital Stats onboarding"
Sprint 10.1
•	IDIM and SBC – awareness – users, PIA, STRA, agreement?
•	Awareness – communications – collaborate with Vital Stats
Sprint 10.2
•	Processes – support – logged in users, payments, etc. other?

[2021-08-20 20:43] MBWilson opened #8675 "OCM activities in support of PPR"
Sprint 10.4
•	Awareness and engagement communications
Sprint 10.6
•	Knowledge and skills – training, one note

[2021-08-20 20:44] PatrickAHeath commented on #8673
@sumesh-aot I can only see 6871206 and 1632575 in #8103.  Debbie has asked for 6 to be cancelled (those 2 plus 2381605, 6374611, 9410013, 8694355) - does that imply a refund?

[2021-08-20 20:46] #8675 closed

[2021-08-20 20:46] sumesh-aot commented on #8673
All 6 of them were refunded as part #8103.

[code]

[2021-08-20 20:48] MBWilson commented on #8372
includes communications with CRA (Sprint 10.1)

[2021-08-20 20:55] #8672 closed

[2021-08-20 21:10] Sienna-Blumstengel commented on #7072
SMall business BC pages that need updates
* https://www2.gov.bc.ca/gov/content/employment-business/business/small-business/resources/starting-a-small-business-guide/starting-a-small-business-guide-contents/starting-a-small-business-guide-14steps?keyword=name
* https://www2.gov.bc.ca/gov/content/employment-business/business/small-business/resources/starting-a-small-business-guide/starting-a-small-b

[2021-08-20 21:10] sumesh-aot opened #8676 "Name request submission failure for users with Online Banking accounts"
**Describe the bug in current situation**
Name request submission fails for users who are authenticated and have an account with Online Banking as the preferred payment method. Error is due to the flag 'isOnlineBankingAllowed' which is a field in payment response, and the schema on namex doesn't have it.

**Link bug to the User Story**

**Impact of this bug**
NR submission failure for any users wi

[2021-08-20 21:11] mstanton1 commented on #8494
@sumesh-aot @cameron-freshworks can you confirm the impact of not doing this for next sprint?

[2021-08-20 21:34] jinghualicgi commented on #7885
Per RC discussion, I will close the tickets which are in Done pipeline.
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/2b1f4a74-f551-4256-83f6-266cc46260d1)

[2021-08-20 21:35] #7885 closed

[2021-08-20 21:38] jinghualicgi commented on #7852
Per RC discussion, I will close the tickets which are in Done pipeline.
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/c12f81f9-37b4-4192-8fe4-52d28eb57421)

[2021-08-20 21:39] #7852 closed

[2021-08-20 21:40] jinghualicgi commented on #7268
Per RC discussion, I will close the tickets which are in Done pipeline.
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/c12f81f9-37b4-4192-8fe4-52d28eb57421)

[2021-08-20 21:40] #7268 closed

[2021-08-20 21:45] #7554 closed

[2021-08-20 21:45] Sienna-Blumstengel commented on #7072
https://docs.google.com/spreadsheets/d/1u4uxGUuTrnFi3SIhtab4MEgjN1LBphJXdBvOFr9H0eM/edit?usp=sharing

[2021-08-20 21:45] cameron-freshworks commented on #8494
IMO sorting and filtering are nice-to-have* features and are more geared towards accounts with large quantities of affiliations/Nr's etc.

[2021-08-20 21:49] yuisotozaki commented on #7684
@severinbeauvais We don't have access to the design to update it, so we won't be able to update the Invision visual design.
@tlebedovich to review these design directions.

Step 1 & 2 PO box text removal needs Tracey's help.

For Step 3, we can try something like this
![image](https://user-images.githubusercontent.com/56084999/130296628-8448c050-0e3c-46c7-a36e-c0fe29766723.png)

Step 4 design upda

[2021-08-20 21:53] jinghualicgi commented on #5256
I move discharge to Epic In Progress since we are starting DEV work.

[2021-08-20 21:57] PatrickAHeath commented on #8673
Confirming refund status with IT OPS:

Hi IT Ops!

Could you please check the refund status for NRs 2381605, 6374611, 9410013 & 8694355?  I believe they were done in NRO and when I look in the PAYMENT table, I only see payment for 2381605 of $131.50.

I’ve been told that all 4 have been refunded as part of Zenhub 8103, but just want to confirm everything is complete before going back to the busine

[2021-08-20 22:01] yuisotozaki commented on #8352
Asking @forgeuxGH5 to join in on the UXA effort. There's a lot of things here that I don't have 100% understanding from domain side.

[2021-08-20 22:02] yuisotozaki commented on #8514
Asking @forgeuxGH5 to join in on the UXA effort. There's a lot of things here that I don't have 100% understanding from domain side.

[2021-08-20 22:12] mstanton1 commented on #8494
Music to my ears @cameron-freshworks. Thanks for the input! We will schedule accordingly:)

[2021-08-20 22:36] janisrogers commented on #7858
Tracey's changes above all look good. I noticed a few other things:
- [ ] Registration Length should be lined up with text in fields below
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/5cf4f719-5756-47ab-9dcd-81b2be011ce3)
- [ ] Wording under Terms of Repairers Lien need to be updated to say the date the vehicle was (or will be) surrendered. (this is a change from the

[2021-08-20 22:42] yuisotozaki commented on #8514
I ran into issues with dev env where when I click on "Incorporate using this NR", I get "Invalid Incorporation Application: The specified name request data is invalid."
My NR is 3500911 and I was using BCREG2014.
I was able to reach the coop IA screens on test but that env doesn't have the changes yet.

[2021-08-20 22:42] yuisotozaki commented on #8352
I ran into issues with dev env where when I click on "Incorporate using this NR", I get "Invalid Incorporation Application: The specified name request data is invalid."
My NR is 3500911 and I was using BCREG2014.
I was able to reach the coop IA screens on test but that env doesn't have the changes yet.

[2021-08-20 22:44] janisrogers commented on #7858
@doug-lovett I am reviewing in test, and I still see the issue Yui mentioned. Maybe the PDF hasn't been migrated yet? [https://app.zenhub.com/files/157936592/8bc1573b-5e55-4434-90d9-d86e9826ba2a/download](https://app.zenhub.com/files/157936592/8bc1573b-5e55-4434-90d9-d86e9826ba2a/download)

[2021-08-20 22:53] severinbeauvais commented on #8352
@yuisotozaki Since end to end testing is not yet possible, I suggest you use the 2 sample IAs I provided links for above. Please don't save or file them as I'm still using them for development, but otherwise you can totally play with them.

[2021-08-20 23:00] chdivyareddy opened #8677 "My Registrations - Table - UI Issues"
Following changes needs to be addressed as per mockup:

1. 'Pending' is not displayed for Draft Registration.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/bf975c41-f9c0-41e3-89b0-8600bc15812e)
2. 'Infinite' should be displayed under 'Days to Expiry' for Registration types which never expire. Currently it is displayed as '-99'.
![image.png](https://images.zenhubusercon

[2021-08-20 23:02] mstanton1 opened #8678 "Unable to save Annual Report error"
### ServiceNow incident: n/a
### Contact information
Staff Name: Melissa Stanton
Staff Email: Melissa.Stanton@gov.bc.ca

### Description
I am trying to complete and Annual Report filing for a CP in the Business Registry in TEST. I was using BCREG0008, Test Account 8.3, CP0001206). I have tried with the default payment method Online Banking and switched to credit card and error in both cases so it

[2021-08-20 23:02] chdivyareddy commented on #7853
Created a new ticket for the issues found [#8677](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8677)

[2021-08-20 23:06] lmcclung opened #8679 "Update NR expiry notifications to include the expired name choice associated to the NR"
Staff have received a number of calls from people who have received an Expired NR email from us who are confused.  They recommend we put the expired name choice in the email.
Current email screenshot.
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/24261154-1de9-4ac9-b971-c934307ac822)

~New text:~
~Your name request NR 5866104 has expired, and the approved name [insert

[2021-08-20 23:11] lmcclung commented on #8514
@cameron-freshworks do you have a way for Yui to test this?

[2021-08-20 23:24] PatrickAHeath commented on #8673
Response from IT Ops:

Hi Patrick,

These were a real pain to find but I can confirm they are showing as refunded in Bambora.

NR 8694355 Receipt/Order #313299 Refunded in Bambora Transaction ID 10307350
NR 9410013 Receipt/Order #313400 Refunded in Bambora Transaction ID 10307307
NR 6374611 Receipt/Order #313610 Refunded in Bambora Transaction ID 10307346
NR 2381605 Receipt/Order #313748 Refunded

[2021-08-20 23:38] PatrickAHeath commented on #8673
Hi Debbie!

It looks like all 6 NRs have been refunded.

business_identifier |  invoice_status  | payment_method_code | total | paid | receipt_number
---------------------+------------------+---------------------+-------+------+----------------
NR 1632575          | REFUND_REQUESTED | DIRECT_PAY          |  31.5 | 31.5 | 313439
NR 2381605          | REFUND_REQUESTED | DIRECT_PAY          |  31.5 |

[2021-08-20 23:38] #8673 closed

[2021-08-20 23:44] janisrogers commented on #8444
@forgeuxGH5 This needs changes. Moving back to in progress.

[2021-08-20 23:45] PatrickAHeath opened #8680 "Norton Rose Fulbright Canada LLP - 2 BCRS Accounts linked to same BCOL Account"
### ServiceNow incident:  INC0105660
### Contact information
Staff Name:  Tanya Newnham
Staff Email:  Tanya.Newnham@gov.bc.ca

### Description
[https://app.zenhub.com/files/157936592/42d5b421-f16b-4732-bc6b-b8a1157f1f7f/download](https://app.zenhub.com/files/157936592/42d5b421-f16b-4732-bc6b-b8a1157f1f7f/download)

### Ops Process
- [x] Add **Entity** or **Relationships** label to zenhub ticket
-

[2021-08-20 23:47] janisrogers commented on #7561
Going with stock vuetify auto-complete component as in Tracey's design.

[2021-08-20 23:54] PatrickAHeath commented on #8662
Does their account have Online Banking as the default payment method?  Have had other issues related to this scenario today.  Switch the default payment method to Credit Card and NR submission worked.  (8676 created to fix bug in NAMEX))

[2021-08-21 00:12] lmcclung commented on #8679
@tlebedovich @yuisotozaki you okay with the new wording?  Wondering if 'and submit a new name request' should also be changed to something retrieving your NR and clicking 'resubmit'.

FYI: @Sienna-Blumstengel @Kaineatthelab

[2021-08-21 00:14] cameron-freshworks commented on #8514
@lmcclung @yuisotozaki

Absolutely! If the 2 coops listed previously are not longer available you can try this:
Log in to bcreg0018
Pass 98918

Change your account to `cam-dev-account` in the header.

The first business in the list should be a COOP Affiliation, named `DASH TEST COOP`, if you select that one you should be able to navigate through the entity dashboard and into the IA itself.

Let me

[2021-08-21 00:38] lmcclung opened #8681 "Name Request: show loading screen"
I noticed when I created some NRs in production, there was about a six second delay from when I paid with my credit card to when the summary page displayed.  During that six second delay I am returned to the 'request a new nr' page.

Can we put in a spinner or something that tells the user we're still thinking so they don't start another one? Or put in a grey screen during this loading period?

**

[2021-08-21 00:40] lmcclung commented on #8681
@Kaineatthelab might be nice to do this in the next sprint or two.

[2021-08-21 01:37] sumesh-aot commented on #8680
We had a period of time where the config map was enabled to allow duplicate check, this must be account created during that time. Will test this again by enabling the flag in test before closing the ticket.

[2021-08-21 01:38] sumesh-aot commented on #8561
I don't see any other reason to fail this. Should we try screen sharing next time if the user face the issue?

[2021-08-23 14:25] PatrickAHeath commented on #8680
@mstanton1 Will having two accounts using the same BCOL account cause issues down the road?  Should one be disabled?

[2021-08-23 14:53] PatrickAHeath commented on #8608
If, when logging on, there is a data retrieve error and the user continues, the modals will appear when searching.  (the display options indicating not to display the modal are not retrieved)

If logon is without error, the modals will not display.

[2021-08-23 14:54] PatrickAHeath commented on #8611
If, when logging on, there is a data retrieve error and the user continues, the modals will appear when searching.  (the display options indicating not to display the modal are not retrieved)

If logon is without error, the modals will not display.

[2021-08-23 15:34] #6984 closed

[2021-08-23 16:26] amit4610 commented on #8561
I have asked the client for screenshot of the error and what buttons she is clicking to get there. @PatrickAHeath @sumesh-aot

[2021-08-23 16:27] mstanton1 opened #8682 "Keycloak Quarterly Review"
### Description
Complete the quarterly keycloak review.

- [x] Confirm access for all users.
- [x] Compare each person against the rest of their team (e.g. BCOL Admin) to identify discrepancies
- [x] Provide listing of staff to each team lead to confirm it is still accurate, verify any inconsistencies in team access
- [x] Record findings, and any changes made, in a new tab in the Keycloak Quarterl

[2021-08-23 16:33] mstanton1 opened #8683 "Quarterly Review"
### Description
Quarterly review for auth and pay.
https://github.com/bcgov/entity/blob/master/docs/devops/quarterly_review.md

### Ops Process
- [ ] Add **Entity** or **Relationships** label to zenhub ticket
- [ ] Add **Ops** label
- [ ] Add **Priority1** label to zenhub ticket, if:
  - If the business says it is a priority
  - BA can use their business knowledge and best judgement if it is a pri

[2021-08-23 16:42] #8438 closed

[2021-08-23 16:51] mstanton1 commented on #8680
@PatrickAHeath having two accounts will also likely cause confusion for staff with support as both accounts are essentially the same name (only difference is inclusion of LLP at end of name for account 773). Also you can only link a business to one account so unless they are doing this to split out the businesses and who can access them it will be challenging. As far as issues specific to linking

[2021-08-23 16:54] PatrickAHeath opened #8684 "PPR Search - Exact Match counts differ between Search Results and My Searches entry"
## Summary of Changes (see design ticket wireframes for details)
**Search Results screen**
- [ ] Update Intro/help text
- [ ] Update Matches found labels/text
- [ ] Add icon and tooltip

**My Searches table on PPR dashboard**
- [ ] Column titles/headings: change from "Results" to "Matches" (2 columns)

**Search Result Report (PDF)**
- [x] Already done

## Wireframes
https://preview.uxpin.com/9b214

[2021-08-23 16:57] Sienna-Blumstengel commented on #8266
@cameron-freshworks to let @mstanton1 know if this gets out of code review and works in time for the demo. Cameron can demo it if it works, because it fits naturally with Cameron's other demo topics

[2021-08-23 17:14] PatrickAHeath opened #8685 "UX Design - PPR Search disclaimer for each search PDF output"
### Visual Design Comps:
https://projects.invisionapp.com/share/HZ12S0EY8MBC#/screens?browse

**Add disclaimer to the following:**
- End of PPR Search TOC
- End of PPR Search NIL TOC
- End of PPR Search "Non-Selected" TOC
- Beginning of MHR with PPR Combo Search
- Also, Update font size/add gray hairline to MHR with NIL PPR Combo Search

Disclaimer font size 9px/13px linespacing

-------

The curr

[2021-08-23 17:16] Sienna-Blumstengel commented on #8544
Summary:

I am going to close this research ticket (estimate will automatically be 1). @forgeuxGH5 @janisrogers should I open a new UI Design ticket for the designers to take this information into consideration and make a decision for our developers to implement? Or is it small enough to not need a ticket.

[2021-08-23 17:42] #8367 closed

[2021-08-23 17:49] janisrogers commented on #8004
- [ ] Can we display the whole table without scrolling when only one section is open?
- [ ] Spacing between the title and the list is much too big, and spacing between each item seems a bit too big.
- [ ] Modal has a typo ("listedenter" should be "listed, enter")

Let me know if this doesn't make sense.

[2021-08-23 18:10] jyoti3286 commented on #8664
Backend changes: One to many, or list field

UI Changes: Email template, dropdown changes, and changes to the reason field when the record is ON Hold

[2021-08-23 18:21] mstanton1 commented on #8512
Scenario 3 can be removed and handled through another ticket. This may fit well into a ticket which will be completed to allow a certain group of staff the ability to add in fee codes for the fee accounting system.

@jyoti3286 to remove from this ticket and add into the other ticket he has created.

[2021-08-23 18:36] jyoti3286 commented on #8607
- Account Management functionalities
- Role Management Updates
- Forms(Administrator Forms - When to use them etc)
- BCeID Notary Validation and Recovery flow
- 2FA (already there), reset an authenticator(there are different flavors)
- Email Templates(Its there in One folder) and Rules(7679 - Google doc from patrick)

Staff Functionality:

- Search Staff Dashboard
- Adding/removing Team members(Th

[2021-08-23 18:38] mstanton1 commented on #6560
Sent follow up message to the business unit.

[2021-08-23 18:46] jdyck-fw opened #8686 "Help unblock Melissa's demo"
Another option is to provide me some CP’s in test that I can affiliate to an account that have good data:)

I’m happy with whatever is easiest - just need to be able to successfully complete a CP AR filing to show the online banking module (and will need a few AR’s to file because I have a few sessions booked)

[2021-08-23 19:00] severinbeauvais commented on #8661
### Test Notes

See the changes outlined in the description above, and possibly the changes outlined in the original ticket (8352).

Please also verify that the business logic (and display) is correct for other entity types (BEN IA only at this time).

[2021-08-23 19:17] chdivyareddy commented on #7624
When I hit TEST link "https://www.bcregistry.daxiom.ca/" , after login it is re-directing to DEV portal.

[2021-08-23 19:23] jdyck-fw commented on #8686
This is essentially for a quick-fix for data; whereas, the longer term solution is to address the core issue in https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8173

[2021-08-23 19:59] saravanpa-aot opened #8687 "pylint try to reduce min-similarity-lines to default or 8"
## What is the problem?
* we have to use min-similarity-lines a customised highter value because of a few code snippets in auth and pay.

## What is the impact?
*

## Proposed solution
*

[2021-08-23 20:20] Sienna-Blumstengel commented on #8489
Linda set up a recurring meeting invite.
I have arranged for Kaine to admit me to the meeting each morning while Linda is away (aug 31st to sept 3rd). Linda will admit me when she returns.

[2021-08-23 20:27] janisrogers commented on #7858
@doug-lovett Looking at the PDF in DEV, it isn't the same as the one you attached. Base Registration Date and Time is not fitting on one line,  and the footer is missing a space.
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/dbef533b-0355-4b63-969c-bc14839736f9)
Any ideas?

[2021-08-23 20:35] doug-lovett commented on #7624
From my comment above, the links are configurable by environment. @thor, can you please redeploy with the equivalent TEST environment values.

[2021-08-23 20:51] doug-lovett commented on #7858
@janisrogers The one I attached uses the correct BC Sans fonts. DEV does not. I think this issue is caused by the DEV font being larger.

[2021-08-23 21:02] ghost opened #8688 "Mass emails to clients for NRs"
### ServiceNow incident: INC0106010
### Contact information
Staff Name: Debbie Blyth
Staff Email:

### Description
The recent update to the system have triggered mass emails to clients with both consumed and recently approved NRs indicating that their NR is expiring soon.
Email was sent out to clients to clarify the system generated wrong email.

### Ops Process
- [ ] Add **Entity** or **Relations

[2021-08-23 21:10] chdivyareddy opened #8689 "Secured Party(step2) - UI Issue"
**Describe the bug in current situation**
In Secured Party table, Name is not visible properly to the user.

**Impact of this bug**
Medium

**Chance of Occurring**
Medium

**Pre Conditions:**
Observed in DEV env.

**Steps to Reproduce**
1. Navigate to Step2 of security agreement.
2. Enter Individual or Business party details and click done.
3. In the secured party table, Name of the Individual/Bus

[2021-08-23 21:11] amit4610 commented on #8688
**email thread:**

Zenhub # 8688 created and assigned to the dev.
IT Ops, please create a SBC incident.

Thanks,

Amit Chaurasia

Business Analyst
BC Registries & Online Services, Service BC
Ministry of Citizens’ Services
T: 604 398-4610
“Access to government services made easy”

From: Sienna Blumstengel <sienna@freshworks.io>
Sent: August 23, 2021 1:57 PM
To: Blyth, Debbie CITZ:EX <Debbie.Blyth@g

[2021-08-23 21:21] SateeshFW opened #8690 "PPR Dependencies for Relationship team - Part II"

[2021-08-23 21:24] SateeshFW commented on #7387
Closing this Epic and created a new epic 8690 and moved the open ticket 6883 to it.

[2021-08-23 21:24] #7387 closed

[2021-08-23 21:39] chdivyareddy opened #8691 "Secured Party(Step2) - Delivery Instructions should be optional"
**Describe the bug in current situation**
When a secured party address is edited, after clicking on Done - the 'Delivery Instructions' field throws error.

**Impact of this bug**
Medium

**Chance of Occurring**
Medium

**Pre Conditions:**
DEV env

**Steps to Reproduce**
1. Navigate to Step2 of Security Agreement.
2. Enter the Individual/Business party fields, In Address enter "77 Cook St, Lindsay,

[2021-08-23 21:43] amit4610 commented on #8561
Hi there, I just tried a new one Dominion Lending Centres Lendit Mortgage Group, this is the page it shows right after I click on submit payment.
Please let me know which NR is this so I can download the receipt.
![Uploading nr1.jpg…]()

[2021-08-23 22:03] janisrogers commented on #8563
- [ ] Can there be more space between the text and the underline? In the app I see:
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/a9836685-1b5c-4d0c-bea7-87feecef2f62)
In the design I see:
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/c0663a75-267b-45e2-ad75-53ce3e34fad5)

- [ ] Small typo in text. 'the request name' should be 'the requeste

[2021-08-23 22:07] mstanton1 commented on #7989
Policy Information for inclusion in a related job aide for BC Online Admin:

You may also want to consider what might happen if someone provides written notification of cancellation for their PAD in a format aside from this form. The PAD agreement provided by Registries to the account holder does not specify a requirement to use a prescribed form – it requires written notification or suggests a sa

[2021-08-23 22:09] doug-lovett commented on #7858
The following additional UX assurance changes requested by Janis have been made:
- [ ] Registration Length should be lined up with text in fields below
- [ ] Wording under Terms of Repairers Lien need to be updated to say the date the vehicle was (or will be) surrendered. (this is a change from the original requirement - We didn't originally know you could have future dates)
- [ ] The date selecto

[2021-08-23 22:14] amit4610 commented on #7889
Joanna got this today from the client: @sumesh-aot @thorwolpert

Good morning Joanna,

These 3 are not fixed.  Further assistance required.

For Christie Anderson
BCeid: ChristieNW
Email: Christie.Anderson@nixonwenger.com

I accepted the registry Join Account link, logged her into the acceptance link with her BCeid credentials and yet it does not give access to BC Registries  - instead it stays on

[2021-08-23 22:18] severinbeauvais opened #8692 "Legal API - provide IA in Tasks or Filings response according to status"
A special case is currently implemented in the UI to handle an IA (ie, an entity with a temporary registration number), depending on its status -- in Draft or Pending it displays in the Todo list; in Completed or Paid it displays in the Filings History list. This is more business intelligence than should be in the UI, and it's sensitive to schema changes.

Ideally, the API would provide the IA in

[2021-08-23 22:34] andrepestana-aot commented on #8563
@janisrogers OK. I'll fix the space between the text and underline, typo and provide some screenshot for PAD. It's not working on DEV. I have something to publish to the backend to fix it but it's blocked by another ticket.

Can BCOL be tested by Staff Payment?

[2021-08-23 22:43] janisrogers commented on #7858
@doug-lovett  Re the PDF: So are we waiting for the relationship fixes for the font issue before we UX assure this, or should we do it based on the reports you produced?

[2021-08-23 22:54] amit4610 commented on #8688
Another example of NR 7068774

Hi ITOps,

Just checking in as this firm is having issues with number of expiration emails they received due to the recent NR email notice glitch.

I see that the firm forwarded an email they got on Saturday, August 21 as an example; I’m wondering if this glitch is still happening as of this time - the names team has not received any updates to my knowledge regarding

[2021-08-23 22:55] amit4610 commented on #8688
Another example of NR 0723891

Hi ITOps,

Further to my last email, just a heads up that the system may have sent out the expiration emails again on August 21 in addition to the August 19 emails - passing this info along as a heads up. Looks like the second email is the natural follow up from the system with respect to what would be expected if the NR actually did expire.

Please see the correspon

[2021-08-23 22:59] amit4610 opened #8693 "Deactivate duplicate account "Norton Rose Fulbright Canada""
### ServiceNow incident: INC0106051
### Contact information
Staff Name: Tanya Newnham
Staff Email:

### Description
Good afternoon!

Client has incorrectly opened a secondary account, however linking it to a BC Online account previously associated to another account ( I have sent a previous email inquiring as to how ) I believe due to this the user Shelley Sedar is unable to log back into the acco

[2021-08-23 23:00] mstanton1 commented on #7989
Updates made as per feedback from policy. Two potential updates are pending responses from BCOL Admin:

1. Would you like the form to include a filed/received/approved box? We are not required to include this if it does not align with your business process. One question from policy, though, was how we would know when a form was received and filed. Within the system we would track when a form was p

[2021-08-23 23:01] amit4610 commented on #8693
Please deactivate “Norton Rose Fulbright Canada” and NOT the “Norton Rose Fulbright Canada LLP”. We gotta retain the LLP one.

[2021-08-23 23:01] mstanton1 commented on #8350
Updates made as per feedback from policy. Two potential updates are pending responses from BCOL Admin:

1. Would you like the form to include a filed/received/approved box? We are not required to include this if it does not align with your business process. One question from policy, though, was how we would know when a form was received and filed. Within the system we would track when a form was p

[2021-08-23 23:03] thorwolpert commented on #8688
I only see 2 emails sent to NR 0723891 in our tracker DB
Could the old system also be sending emails from the data in NamesDB??
[code]

[2021-08-23 23:04] mstanton1 commented on #6560
All necessary, and possible, tasks have been completed. As we cannot administratively dissolve at this time I have added a comment through the Entity Dashboard.

[2021-08-23 23:04] #6560 closed

[2021-08-23 23:08] mstanton1 commented on #8693
@amit4610 there is client functionality to deactivate. In this case it can go back to the business with steps on how to perform deactivation.

Note a job aide was recently updated that included those steps as well. I believe it was done by Maribeth.

[2021-08-23 23:23] amit4610 commented on #8693
The client cannot log in as noted in the ticket and hence cannot deactivate their account.

[2021-08-23 23:23] amit4610 commented on #8693
@mstanton1

[2021-08-23 23:25] mstanton1 commented on #8693
@amit4610 in the case that we cannot resolve the client log on issue then we can send a request for deactivation through BC Online Administration. This was the approach being used with clients switching from BASIC to PREMIUM as well.

Note, we'd just been passing emails to BC Online Administration. A form is in the works so we will have proper tracking and signatures etc for these requests.

[2021-08-23 23:44] severinbeauvais commented on #8661
This change is deployed to Dev, and I have verified it, and it is now ready for UX Assurance.

[2021-08-23 23:56] Sienna-Blumstengel commented on #8325
Hello,

**Cooperative Association Incorporation applications will be available online on bcregistry.ca/business as of September 14th.**

You may already be aware that BC Registries and Online Services is completing a [multi-year modernization initiative](BC Registries and Online Services is completing a multi-year initiative to replace and improve the current systems used for BC OnLine, Business,

[2021-08-24 00:01] thorwolpert commented on #8561
not a lot of info to go on here.
searching by the users email from their signature. I see 35 NRs have been submitted.
I put the list of the NRs into the RC OPs channel

[2021-08-24 03:10] mstanton1 commented on #6206
@rarya-freshworks sorry for the slow response. I have also reproduced this.

- logged on as BCREG0001 and invited account coordinator to account 'Mock'
- accepted invitation as account coordinator in incognito tab and reached the thanks for joining Mock page, left page open
*Note at this point the page defaulted to the first account in the drop down list which is incorrect.
![image.png](https://im

[2021-08-24 13:50] #7860 closed

[2021-08-24 13:51] #7137 closed

[2021-08-24 13:51] #7863 closed

[2021-08-24 15:27] janisrogers commented on #8563
@andrepestana-aot I don't have a BCOL account number in DEV, I asked Riyaz for one. I have checked no fee and it looks good.

[2021-08-24 15:46] kialj876 commented on #8004
@janisrogers can you tell how much spacing you want between the title and each item in pixels please? As for the section open issue that is something that will require a lot of work to figure out (having a dynamic height based on the length of the displayed list after the page has rendered is very difficult and it will need to change with screen/window size as well

[2021-08-24 16:06] mstanton1 commented on #8579
@stevenc987 these are ready for you. Thanks

[2021-08-24 16:08] mstanton1 commented on #8651
@amit4610 @Sienna-Blumstengel I think this might be a duplicate of 7413. Can you confirm and close one if appropriate?

[2021-08-24 16:12] Kaineatthelab opened #8694 "UI - Registration Flow Registration Design updates"
Review Registration flows for UX issues

Some items brought over from 7858

- [x] Segmented button stacking if screen not full size, even if there is room for it to move over. Same behaviour for the Back Button (stacks under the Review and Confirm Button). I am not sure what the break points should be, but this was at about 2/3 of my screen size. **Segmented buttons should never stack. wrap longer

[2021-08-24 16:13] mstanton1 commented on #8591
Bridget sent the following email this morning. I have verified the affidavit account request is showing as pending (Canada/BC Business Services Society).

Hi Melissa,
I was able to create account today. 3 tries lucky I guess!
Thanks for your assistance, just waiting for review and approval to activate and set up users.
Regards,
Bridget

[2021-08-24 16:14] #8591 closed

[2021-08-24 16:22] Sienna-Blumstengel commented on #8651
You are right! I will keep your original (7413). Closing

[2021-08-24 16:22] #8651 closed

[2021-08-24 16:22] Sienna-Blumstengel commented on #7413
Deadline is drafted [here](https://drive.google.com/file/d/1Ov2G9VQG2UQohn6Mm5xrXP84WUtQjOk4/view?usp=sharing) but I don;t think it really needs to be that urgent - just at least before they start training on **Oct 1st.** Does that sound ok @amit4610 ?

[2021-08-24 16:24] amit4610 commented on #8670
kpmg is set up.

[2021-08-24 16:24] #8670 closed

[2021-08-24 16:33] #6832 closed

[2021-08-24 16:33] #8489 closed

[2021-08-24 16:37] jinghualicgi commented on #8608
From planning meeting: Discuss with design team to make decision.

[2021-08-24 16:37] jinghualicgi commented on #8611
From planning meeting: Discuss with design team to make decision.

[2021-08-24 16:43] doug-lovett commented on #8509
Same behaviour when clicking on the PPR Dashboard link in the middle of an incomplete new financing statement registration.

[2021-08-24 16:57] pwei1018 opened #8695 "GOLD cluster setup"
## Description:

https://docs.developer.gov.bc.ca/s/bn6v0ac6f9gue7hhirbg/protected-platform-services/d/bqss7h7jdflkoop2hejg/openshift-4-technical-documentation

https://docs.developer.gov.bc.ca/s/bn6v0ac6f9gue7hhirbg/protected-platform-services/d/c46p83i1tev0e75glpkg/guide-for-product-teams-building-apps-in-the-gold-hosting-tier-of-bc-govs-devops-platform

[2021-08-24 17:00] Kaineatthelab opened #8696 "Start renewal from dashboard and view my renewal"
- [ ] add discharge confirmation conditionally on current state(can't renew infinite state) check #8451
- [ ] go to view renewal page

[2021-08-24 17:03] Kaineatthelab opened #8697 "View my renewal page"
Given I am allowed to renew a registration
When I have clicked on renew
Then I see the details of the registration

[2021-08-24 17:04] Kaineatthelab opened #8698 "Update my renewal dates"
Given I am on the view my renewal page
When I want to add the new dates
Then I see the option to do that

Given I am on the view my renewal page
When I want to renew a repairers lien
Then I want the option to have those rules

[2021-08-24 17:05] Kaineatthelab opened #8699 "Confirm and Complete Page"
Given I have clicked confirm and complete in a renewal
When I get to the next page
Then I see the details in the design

[2021-08-24 17:06] tlebedovich commented on #8004
hi @kialj876 -

1) I think Janis was trying to get the spacing a bit tighter for the dropdown items and dropdown section titles so they match closer to the design comps. For the Govt user dropdown section headers, it seems like there is more space below the titles than there is above - and the expanding arrows should sit on the same line as the section headers. If it's easier to match to, you coul

[2021-08-24 17:19] Kaineatthelab opened #8700 "Renew: Court Order"
Given I am on the confirmation page of my renewal
When I am competing a repairers lien renewal
Then I see the court order open and required fields

[2021-08-24 17:20] Kaineatthelab opened #8701 "Renew: Fee Summary"
- [ ] work was done in a PR from steph should be UXable

[2021-08-24 17:25] Kaineatthelab opened #8702 "UI - Add into flow"
- [ ] add discharge confirmation conditionally on current state(can't renew infinite state) check #8451
- [ ] go to view renewal page

[2021-08-24 17:25] Kaineatthelab opened #8703 "UI Design: conditional response to states"
Given I am on the PPR dashboard
When I want to discharge, renew or amend a registration
Then I need to know what actions I can take and if they are available

Actions are shown in the following:
https://docs.google.com/spreadsheets/d/1QQY8b_fg0SdYWNgOmHWLMRp6g_DRJC83hjAeDG1SZGA/edit?usp=sharing

[2021-08-24 17:39] amit4610 commented on #8561
from client: I don’t receive the receipt or NR number, this is the error, I have always have to call and ask for the NR so I can go again to the website and look for the NR and download the receipt. @thorwolpert

[2021-08-24 17:47] #8686 closed

[2021-08-24 17:50] tlebedovich commented on #8004
@kialj876 - actually, can we also reduce the spacing between the selectable items by 10% so that it more closely matches with the design comps? Janis would like to optimize the number of items that can appear and the design comps spacing is a bit tighter.

[2021-08-24 18:02] jacobzed commented on #661
Still a problem. Please reopen this issue.

[2021-08-24 18:13] #8394 closed

[2021-08-24 18:14] tlebedovich commented on #8290
@vysakh-menon-aot - I have linked the design ticket that has the new Coop Type component.
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8394

[2021-08-24 18:18] mstanton1 opened #8704 "STRA security deliverables for portal agreement"
### Description
Complete security deliverables for STRA for changing to portal agreement with IDIM

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/19d427a5-b353-4b0c-8943-a4e5f24917bd)

### Ops Process
- [ ] Add **Entity** or **Relationships** label to zenhub ticket
- [ ] Add **Ops** label
- [ ] Add **Priority1** label to zenhub ticket, if:
  - If the business says it i

[2021-08-24 18:22] mstanton1 commented on #8704
Dynamic Vulnerability Assessment and Penetration Test:

- WAVA scan request form submitted through iStore request 1077108
- business case to by pass PEN test sent Tues Aug 17th

[2021-08-24 18:47] saravanpa-aot opened #8705 "sentry error with address [postal code ] being long"
**Describe the bug in current situation**
Account creation failed due to address being long.

More details are in here.
https://sentry.io/organizations/registries/issues/2593014062/?referrer=alert_email&environment=production

On more investigation , it's found that the postal code gets certain portions of country as `postal_code: ‘V1M 0A4cana’,` which causes the issue.

Can wait till ops ticket c

[2021-08-24 18:56] tlebedovich commented on #8201
Don't think this needs UX Assurance again as its a QA issue so I will move this to RFQA @chdivyareddy @kialj876

[2021-08-24 19:11] shabeeb-aot commented on #8529
if staff don't have permission , hiding Link Routing Slip button (Not hiding entire section. please confirm
@jyoti3286 @rkim13103
CC: @karthik-aot @saravanpa-aot

![Screen Shot 2021-08-24 at 12.08.33 PM.png](https://images.zenhubusercontent.com/5fcfc780da55717868405482/c5aeaaa8-b97a-4876-81f8-767926dfe93b))

[2021-08-24 19:17] tlebedovich commented on #7681
@jordiwes

- [ ] Dropdown colours - Can you ping @kialj876 about the dropdown colours? I think he was able to do it with one he was working on? I know its done in Name Request. Its for AA accessibility.

**Regression Items:**
- [ ] Janis noticed that have the wrong icon appearing for the Secured Party modal - it should be the exclamation point, not the 'i" icon. And it was red, but for some reason

[2021-08-24 19:31] severinbeauvais commented on #7776
@andrepestana-aot Can you have a look at this please?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/144ff04a-bb09-4eb1-a3c0-ccd4e6756abc)

This todo task is for a 2021 AR. Should the UI look at the arMaxDate/arMinDate in the business object or the header object? (The business object appears to show the wrong dates. The header object appears to show the correct dates.)

[2021-08-24 19:44] andrepestana-aot commented on #7776
Yes, we saw that... this json structure should be redesigned I think. Thor wanted to move the AR dates to the business object but it will have only the very next AR dates in the business object and it will be repeated in every task/todo section.

Do we need to have other AR dates than the very next one?

[2021-08-24 19:46] #8279 closed

[2021-08-24 19:50] severinbeauvais commented on #7776
On the one hand, the user can only file the earliest (top-most) filing, even if multiple ARs are due. (So it's safe.)

On the other hand, the UI stores objects for all todo items, and only the first one has valid data. (So it's incorrect.)

I think maybe I will update the UI to use the business data (not header data), and add comments explaining things. However, if there are ever 3rd party UIs, th

[2021-08-24 19:52] andrepestana-aot opened #8706 "Namex-api - Fails for PAD payment"
That is happening in DEV only atm.

I suspect it started to happen after #8676.

[2021-08-24 19:52] Sienna-Blumstengel opened #8707 "cancelled NR’s are still showing up as a conflict and shouldn’t be, and NRO is the only system we can view the current state in for a NR as it doesn’t show in Namex"
### ServiceNow incident:
INC0106160
### Contact information
Staff Name: Jennifer Weldon

### Description

EMAIL THREAD:
[https://app.zenhub.com/files/157936592/6b67fb63-b90f-4994-9add-7126eadf0dc4/download](https://app.zenhub.com/files/157936592/6b67fb63-b90f-4994-9add-7126eadf0dc4/download)

Jenn reported 3 issues in this email. This ticket is to investigate the high priority issue, number 2 in h

[2021-08-24 19:56] andrepestana-aot commented on #7776
ok, so you're good with using AR dates from `business` only, right? At least for the UI you're working on?

[2021-08-24 19:57] severinbeauvais commented on #7776
Yes, the Filings UI (todo list) will use Coop AR dates from the business object.

[2021-08-24 20:02] severinbeauvais commented on #8676
What release is this for?

[2021-08-24 20:08] Sienna-Blumstengel opened #8708 "Unexplained “500 Error” on some Name Requests"
### ServiceNow incident:
INC0106160
### Contact information
Staff Name: Jennifer Weldon

### Description

EMAIL THREAD: [https://app.zenhub.com/files/157936592/a68a2b9f-c49d-44da-a2eb-1c417f34ce73/download](https://app.zenhub.com/files/157936592/a68a2b9f-c49d-44da-a2eb-1c417f34ce73/download)

This ticket is for the first issue in Jenn's email.

### Ops Process
- [ ] Add **Entity** or **Relationshi

[2021-08-24 20:14] sienna-oldaccountdontuse opened #8709 "Names can be requested in uppercase and lowercase"
### Description

From INC0106160 , Jenn Weldon reported:

### Impact
low, examiners can just change it when they approve it

### Chance of occurring
Not sure, if it is as easy as the steps below it could be pretty high chance

### Steps to reproduce
1. go to name request
2. enter requested name in lowercase on first screen
3. Proceed to other name choices screen
4. Enter lowercase names / change f

[2021-08-24 20:32] tlebedovich commented on #7858
hi @doug-lovett - just one tiny typo and then you can move this straight to RFQA:

- [ ] Missing a period after "...surrendered."

Thanks!

![Screen Shot 2021-08-24 at 1.18.13 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/3cca22e8-5e65-40bd-9458-71a703fa6944)

[2021-08-24 20:33] jmills-cgi opened #8710 "Theme - PPR"
### Owner
  - Registrar

### Description
- The Personal Property Registry is a notice filing system which registers all of the encumbrances (e.g. mortgages, liens, debentures) created against personal property in British Columbia, whether it belongs to a corporation or an individual” (PPR website). PPR allows individuals and businesses  to perform registrations more easily.    This solution will b

[2021-08-24 20:35] gh20s commented on #8708
I attempted to replicate the issue for all 3 NRs and had no errors.  500 errors are the catch all error when the server can't use any other code; there was some platform work being done today if these all err'd out in the morning today.

[2021-08-24 20:47] #8047 closed

[2021-08-24 21:18] gh20s commented on #8707
Per the convo in RC (i will add here), this is a bug that should be updated with the new SOLR push to prod.

However I did some investigation looking into how this may be happening and will provide an update in case it is useful:

The namesdb has the following 4 events (orded by time)
![image.png](https://images.zenhubusercontent.com/5cc8b6861e1b505674aa020f/195a043d-00ae-4010-a94f-1d61965f6730)

[2021-08-24 21:33] SateeshFW commented on #2125
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/b18ced2c-f5b5-41c5-b3bf-9b575bed094c)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/f9ba2c45-6b86-4c22-8205-2c0d33f19652)

Sprint 10.2 continue with ongoing action items...

Sprint 10.3 New
@Jyoti - Will discuss in PO Sync on the release plan coordination between teams.
@Sateesh - To follow the

[2021-08-24 21:41] #8434 closed

[2021-08-24 21:59] sumesh-aot opened #8711 "Conduct CFS UAT on new environment"
Conduct CFS UAT on new environment
This has to be done before first week of September.

Test steps:
- [ ] Switch CFS to new URL and port in TEST
- [ ] Create accounts for Online Banking and PAD
- [ ] Perform transactions on both accounts
- [ ] Send details to CFS UAT team

[2021-08-24 22:00] tlebedovich commented on #8352
@severinbeauvais Here is my UX Assurance:

**Let me know which of the below items should go into a new Enhancement ticket instead of this one:**

- [ ] Uneditable CP's name fields should have the dotted line and not show the blue "active" line when they try to click into them (match style to uneditable Certify Legal Name)

![Screen Shot 2021-08-24 at 1.54.03 PM.png](https://images.zenhubuserconten

[2021-08-24 22:08] tlebedovich commented on #8352
(disregard these notes Severin, just documenting here)

@lmcclung @Kaineatthelab I discussed this with @forgeuxGH5 and two issues came up. Not sure if we want to deal with these items now (in a separate ticket) or leave as is for now:

1) We have the "Remove" button available for Completing Party once they are added to the table. So currently they can add a CP (whose name is auto-pulled in and une

[2021-08-24 22:17] gh20s commented on #8707
it may be the case that cancellations  in the namesdb
having  examiner_idir is null and state_comment is null may cause it to not be updated in namex

[2021-08-24 22:18] janisrogers commented on #7864
- [ ] All of these registrations need to have the registration length automatically set to infinite. They all are no fee (not sure if the fees are in a separate ticket)

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/d970077f-ddad-4fe5-87c4-dd3f51203c6c)

- [ ] Text under Your registration must include the following: Should say 'The Secured Party' instead of 'At least o

[2021-08-24 22:19] severinbeauvais commented on #8352
1. new requirement -> new ticket
2. the extra space below the person's name boxes was intentional to show validation errors; please cause errors and see what it looks like now, and suggest a suitable design
3. will fix in this ticket
4. validation scope was another (past) ticket; should create new ticket for this please
5. new requirement -> new ticket
6. will fix in this ticket
7. will fix in thi

[2021-08-24 22:23] mstanton1 opened #8712 "Administrator Request Form changes"
### Description
New forms have been created for cancellation of pre-authorized debit, and and account deactivation. During policy review changes were identified. The forms now are slightly different than the existing Administrator Request Form Form 36BR.
https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/Modernization%20Docs/Change%20Managment/Training%20&%20FAQ%20&%20Job%20Aids%20-%20ALL%20MOD

[2021-08-24 22:33] jinghualicgi commented on #8086
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/ab8b101f-c637-48ba-961b-885ee9a8e0c7)
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/05ea6976-5307-4845-a136-1f98f48fef05)

[2021-08-24 22:34] jinghualicgi commented on #8086
**Action Items:-**
•	Change Daily standup setup: go through pipeline/ticket + issue/blocker discussion
•	Stick with Definition of Ready, if not ready, don’t go to Dev.
•	Put latest final decision on top of the ticket, and keep it up-to-date
•	Move design meeting to morning
•	Test Automation Framework Introduction by Divya
•	QA can promote code ? SRE will answer this question. @jinghua.li to follow

[2021-08-24 22:42] janisrogers commented on #7865
Same issues as in 7864 for steps 1 and 2. For step 3
- [ ] WL needs default collateral

[2021-08-24 22:52] PatrickAHeath opened #8713 "Create Fee Code for No Charge Registrations in PPR"
In order to record Registration activity on the Transaction list for those registration types with no fee amount, a zero dollar fee code is required.

Create a new fee code for PPR No Charge Registration:

Type Code: PPR
Filing Type Code: NCREG
Filing Type: PPR No Charge Registration
Amount: 0.00
Service Fee: N/A

Deadline
End of next sprint

Impact if deadline not met
Won't be able to complete te

[2021-08-24 22:54] tlebedovich commented on #8352
@severinbeauvais
1. Was in the original Coop design comps so not sure its a new requirement for the uneditable fields for Coop?
2. You don't need to adjust the space below the person's name, it was a good amount of space. Just wanted the space above Mailing Address header to match as Mailing Address title feels too close to the gray Roles bar

I can add the remaining to a new ticket no problem, th

[2021-08-24 22:56] janisrogers commented on #8563
This looks good now. @riyazuddinsyed please check the wording for the other scenarios that I couldn't check. Thanks

[2021-08-24 22:58] tlebedovich opened #8714 "People and Roles IA - UX Enhancements"
- [ ]  Uneditable Completing Party's name fields should have the dotted line and not show the blue "active" line when they try to click into them (match style to uneditable Certify Legal Name) - also see Coops design comps

![Screen Shot 2021-08-24 at 1.54.03 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/b6c600ae-5be0-43d0-b803-d1777088d9d9)

- [ ]  Add more space above Mai

[2021-08-24 23:14] Kaineatthelab opened #8715 "Update Name Request Front Page"
Given I am selecting a name type
When I am select the actions
Then I see the updated drop down which has a space in the first row - SEE DESIGN

Visual Design Comps (example dropdowns):
https://projects.invisionapp.com/share/KV11NNYNS6UR#/screens?browse

![Screen Shot 2021-09-03 at 3.06.48 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/0c98134b-193a-4331-a0e3-afbf7ee4a2f4)

#

[2021-08-24 23:14] tlebedovich commented on #8714
@lmcclung - These are left over UX items we should complete that were found after reviewing the People and Roles ticket https://github.com/bcgov/entity/issues/8352

[2021-08-24 23:15] tlebedovich commented on #8352
Created this new ticket -- https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8714

[2021-08-24 23:15] gh20s commented on #8707
hoping to do a manual update tomorrow and then check via solr if the fix works in prod. need to verify some steps with Thor tomorrow AM. I will keep this ticket

[2021-08-24 23:16] gh20s commented on #8708
Updated to ask them to provide network info on developer tab to help further troubleshoot

[2021-08-24 23:18] #8572 closed

[2021-08-24 23:31] tlebedovich commented on #8514
hi @cameron-freshworks - looks great. Here is my UX Assurance notes for you:

- [ ] Please use blue 1669BB for the help with/close help text/link/icons:
![Screen Shot 2021-08-24 at 4.24.38 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/956e3ed2-cba2-4241-aee2-b1a8e4f46eca)

- [ ] descender letters in the dropdown are getting cut off at the bottom ( "g" etc):

![Screen Shot 2

[2021-08-24 23:35] andrepestana-aot commented on #8563
@janisrogers there's really an issue with the PAD payment: #8706 - I have already submitted a PR to fix it.

[2021-08-24 23:42] jyoti3286 opened #8716 "PAD Processing: How it works in the backend"
The document should include the following...

- Integration with CAS
- Back and forth with CAS Processing
- Sample SQL queries
- A flow diagram with multiple swim lanes is required in the document.
- Refund and credits information to be added in the document
- Need to include all the error scenarios
- FTP jobs and reconciliation information

[2021-08-24 23:42] jyoti3286 opened #8717 "PAD Processing Documentation: How it impacts the user"
This should be part of the documentation

- How does PAD processing work from a business standpoint?
- How to set up a PAD payment option? Who can set it up?
- Types of Account being able to setup PAD
- PAD agreement
- Email templates(notifications) for PAD scenarios
- NSF Scenario documentation
- Payment rejection PAD
- Freezing of Account..

[2021-08-24 23:55] tlebedovich commented on #8661
@severinbeauvais Everything looks good here thanks. Moving to RFQA.

[2021-08-24 23:58] severinbeauvais commented on #8714
Number 1 is fixed in #8352.

[2021-08-25 00:01] tlebedovich commented on #8461
Hi @doug-lovett - Looks great thanks. Just one small formatting issue in the PDF output -- We shouldn't show a zero before single digit birthdates - For example, it should be June 1, 2021 not June 01, 2021.

I will move this to In Progress for you but once this update is made you can go start to RFQA. Thanks!

![Screen Shot 2021-08-24 at 4.58.20 PM.png](https://images.zenhubusercontent.com/5e1cd2c

[2021-08-25 00:07] severinbeauvais commented on #8352
^^^ PR 230 solves items 1, 2, 3, 6 and 7.

[2021-08-25 01:08] ba commented on #2125
Could you please stop tagging me? :)

On August 25, 2021, GitHub ***@***.***> wrote:

[2021-08-25 01:19] tlebedovich commented on #8457
hi @kialj876 - Refer to the Visual Design comps attached to this ticket

Here is my UX Assurance notes for this ticket

- [ ] 1) Discharge Fee Summary - Match to design comp with "No Fee" for Total discharge and service fee and $0.00 total fees and remove the "Select Registration length" (Fee Summary should also be sticky - but maybe this is in another global ticket?)

![Screen Shot 2021-08-24 at

[2021-08-25 01:35] Kaineatthelab commented on #8457
Hi tracey sorry we ended up moving the fee summary to its own story #8621

[2021-08-25 02:30] chdivyareddy commented on #8201
@kialj876
Everything works as expected except the the following one. Please take a look.
"2. When a valid postal code is entered manually for eg: 'r2l1g9', it should convert to 'R2L 1G9'. Currently, it is normalized in the table as 'r2l 1g9' with space, but it should also convert to upper case as 'R2L 1G9'"

[2021-08-25 02:34] chdivyareddy commented on #8517
Verified in DEV.

[2021-08-25 02:56] chdivyareddy commented on #8498
Verified in DEV with registration number 7602824.
[https://app.zenhub.com/files/157936592/406a2c6b-e7ba-4aa6-887d-4fe27a931a5c/download](https://app.zenhub.com/files/157936592/406a2c6b-e7ba-4aa6-887d-4fe27a931a5c/download)

[2021-08-25 02:57] tlebedovich commented on #8457
ok thx @Kaineatthelab, I removed the fee summary feedback. Are the missing buttons under the discharge fee summary still in this ticket or taken care of in another ticket?

[2021-08-25 03:12] chdivyareddy commented on #8557
Verified in DEV.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a0f6e1d3-cbd8-4cab-bc53-b51961d13b91)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/dbe009c7-c1cb-467b-ad47-7de1f78d1a78)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2dc6c7fe-2def-4786-a842-951ac732f6d5)

[2021-08-25 03:22] chdivyareddy commented on #8498
Verified in TEST with registration number 8093097
[https://app.zenhub.com/files/157936592/8f39ce9f-e7a5-43f0-99f1-de25a28984e0/download](https://app.zenhub.com/files/157936592/8f39ce9f-e7a5-43f0-99f1-de25a28984e0/download)

[2021-08-25 03:50] chdivyareddy commented on #8517
Verified in TEST.

[2021-08-25 05:36] jyoti3286 commented on #8717
This documentation should cover:

1. How does PAD processing works from a business standpoint?
1. How to set up a PAD payment option? Who can set it up?
1. Types of Account being able to setup PAD
1. PAD agreement
1. Email templates(notifications) for PAD scenarios
1. NSF Scenario documentation
1. Payment rejection PAD
1. Freezing of Account
anything missing?

[2021-08-25 05:38] jyoti3286 commented on #8716
What it should cover?
1. Integration with CAS
1. Back and forth with CAS Processing

[2021-08-25 14:18] Sienna-Blumstengel opened #8718 "NR Refunds Aug 23 - 29"
1. - [ ] NR 4322193 (INC0106164)
2. - [ ] NR0622771 (INC0106290) Paid by BC OnLine, please trigger refund endpoint.
3. - [ ] NR5476858 (INC0106890)
4. - [ ] NR6441106 (INC0107415)

[2021-08-25 14:32] Sienna-Blumstengel opened #8719 "BC0937052 ALTERATION LTC > BEN"
Title of ticket: [Entity number and name] - Alteration, [Entity type] > [Entity type]

#### ServiceNow incident:
INC0106175

#### Contact information
Not sure

#### Description

EMAIL THREAD: [https://app.zenhub.com/files/157936592/316f393e-c4da-43ed-9b28-20e1f00f1639/download](https://app.zenhub.com/files/157936592/316f393e-c4da-43ed-9b28-20e1f00f1639/download)

BC0937052 wants to alter from an L

[2021-08-25 14:40] sienna-oldaccountdontuse opened #8720 "Refund double charge from NR ~Resubmission~ RENEWAL"
### ServiceNow incident:
INC0106188
### Contact information
Staff Name: Joshua Thiessen

### Description

EMAIL THREAD: [https://app.zenhub.com/files/157936592/259e2a06-c6f3-45f5-8d51-3f65806f26d4/download](https://app.zenhub.com/files/157936592/259e2a06-c6f3-45f5-8d51-3f65806f26d4/download)

Let's investigate if there were indeed multiple payments for this NR renewal. If so, please:
1. Refund the

[2021-08-25 15:03] Sienna-Blumstengel commented on #8516
Got an email from Mark Lau:

[2021-08-25 15:15] #471 closed

[2021-08-25 15:15] #361 closed

[2021-08-25 15:16] #193 closed

[2021-08-25 15:16] #8176 closed

[2021-08-25 15:18] jdyck-fw commented on #2118
![10.3 retro.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/2d0cf236-8ba6-4200-a264-be1cc9d45d29)

Action items from retro board:
- [ ] Jason - at standup bring up tickets not tagged to a release yet and show release report
- [ ] Having UX people more involved for review during development. Maybe scheduling a call/video time, walk through it with the designer
- [ ] Jason / Sien

[2021-08-25 15:41] cameron-freshworks commented on #8514
~- [ ]  Decide how to add the BC/Canada default/uneditable Registered Office Address item or create new ticket for the work to be done (so this doesn't get lost)~
* To be done in it's own ticket as it's an external component

[2021-08-25 15:49] #7548 closed

[2021-08-25 15:55] severinbeauvais commented on #8150
Put back into Sprint Backlog while I concentrate on another ticket.

[2021-08-25 16:12] SateeshFW commented on #8188
@jyoti3286 Please add all the emails information and close the ticket

[2021-08-25 16:12] Sienna-Blumstengel opened #8721 "Expiry emails are sending out to consumed NRs"
### Description
Lots of clients that have used thier NRs on a filing are recieveing emails saying their NR is going ot expire, or has expired. This should not be happening. The NR never "expires" if it has been consumed.

### Steps to reproduce
1. Request NR
2. Approve NR in NameX
3. Update expiry in NAmeX to be tomorrow (so you can complete the test faster)
4. Use the NR on a filing (effective im