[2022-11-18 17:52] severinbeauvais opened #14331 "Auth Web: numbered CCC IA not showing correct business name"
In the following screenshot, a numbered IA of each entity type was created. It is expected that the business name indicates the type of company. This is missing for the CCC (first item).

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/8ae5c1dd-4991-4914-ba5e-ec90ea1b917d)

The affiliation record looks OK so this seems to be an Auth Web bug:

![image.png](https://images.

[2022-11-18 17:54] mstanton1 opened #14332 "UI - Columns to Show"
GIVEN I am a MHR user
WHEN I access the Manufactured Home table
THEN I can use a 'Columns to Show' dropdown to update the columns that show in my MHR table
AND the 'Columns to Show' settings are retained upon log out / in

Includes setting options when a user changes options as well as loading that saved information.

[2022-11-18 17:57] mstanton1 opened #14333 "API - Columns to Show"
GIVEN I am a MHR user
WHEN I access the Manufactured Home table
THEN I can use a 'Columns to Show' dropdown to update the columns that show in my MHR table
AND the 'Columns to Show' settings are retained upon log out / in

Includes setting options when a user changes options as well as loading that saved information.

There is no new api work to support maintaining UI user preferences. The PPR API

[2022-11-18 18:02] mstanton1 opened #14334 "UI - Clear All Filters"

[2022-11-18 18:04] mstanton1 opened #14335 "UI - Add Column Sorting"
GIVEN I am a Manufactured Home user
WHEN I access my Manufactured Home table
THEN I can click on a column header to sort by that column if the column is filterable
AND I can only sort by one column at a time

Column sort (ascending / descending) as was done in PPR should be available on the following columns for MHR.
- Registration Number
- Registration Type
- Date (Pacific Time)
- Status
- Userna

[2022-11-18 18:08] mstanton1 opened #14336 "API - Add Column Sorting"
GIVEN I am a Manufactured Home user
WHEN I access my Manufactured Home table
THEN I can click on a column header to sort by that column if the column is filterable
AND I can only sort by one column at a time

Developer comment: scope is limited to legacy database queries by account id.

[2022-11-18 18:27] severinbeauvais commented on #14331
@seeker25 FYI, Auth Web will need to be deployed due to an updated import.

[2022-11-18 18:30] seeker25 commented on #14331
to TEST?

[2022-11-18 18:33] Mihai-QuickSilverDev commented on #14314
- [ ] Verify with Staff if we want to allow this

- [ ] Check if these fields can be changed from the Alteration (Change) business framework

[2022-11-18 18:35] yuisotozaki commented on #14147
Updated the help content based on policy recommendation.

[2022-11-18 18:48] #11770 closed

[2022-11-18 18:48] severinbeauvais commented on #14331
^^ I'll let you know. For now I've added it to your next release report.

[2022-11-18 18:49] pwei1018 commented on #12652
@thorwolpert Can we mark this ticket done and close?

[2022-11-18 18:57] Mihai-QuickSilverDev commented on #14303
- [ ] Check with business if reference to BEN in the AR output should be replaced with other text for ULC, CCC, BC.

[2022-11-18 19:04] zac-broitman opened #14337 "Allow BCOL Admin to approve and account by deny GOVN status"
* As a BCOL Admin user
* I want to approve an account request from someone who selected GOVN but deny their GOVN status request
* so that I can approve these accounts without needing to either deny them and have them reapply or accept them and have bad data

**Acceptance Criteria**

**Scenario 1: Access type button**
* GIVEN ... I am reviewing an account creation request from a business that selec

[2022-11-18 19:06] lekshmimallika-aot commented on #14221
Records office issue fixed in the PR https://github.com/bcgov/lear/pull/1810

[2022-11-18 19:06] lekshmimallika-aot commented on #14224
Records office issue fixed in https://github.com/bcgov/lear/pull/1810

[2022-11-18 19:06] #13469 closed

[2022-11-18 19:07] zac-broitman opened #14338 "Verify - Allow BCOL Admin to change an account from GOVN to Premium"
* As a BCOL Admin
* I want to be able to change an account from GOVN to Premium
* so that I can correct accounts falsely approved as GOVN

**Acceptance Criteria**

**Scenario 1: Changing account from GOVN to Premium**
* GIVEN ... I am a BCOL Admin viewing the Account Information page of a GOVN account
* WHEN ... I go to edit the account info
* THEN ... I should see an option to change the account

[2022-11-18 19:07] zac-broitman commented on #14057
Tickets made as 14337 and 14338

[2022-11-18 19:12] argush3 opened #14339 "update AR reminder job for ULC, CCC, BC"
- [x] Update query to include the three new entity types - ULC, CCC, BC

[2022-11-18 19:15] riyazuddinsyed opened #14340 "Verify - File and Pay isn't working as expected for ULC"
**Describe the bug in current situation
Steps to reproduce the behavior:
1. Login using BCREG0001
2. Go to NR with ULC type
3. Start the filling and try to pay
4. See  an error
![ulc file pay.png](https://images.zenhubusercontent.com/6347108fc454b6a35c909918/071c5654-0412-4617-a8b2-e9d94faf034c)**Screenshots/ Visual Reference/ Source**
If applicable, add screenshots to help explain your problem. Y

[2022-11-18 19:19] severinbeauvais commented on #14340
I think this is related to the incorporation agreement. It needs to be "custom" until the UI/BE tickets are implemented.

[2022-11-18 19:23] severinbeauvais commented on #14284
^^ added todo items

[2022-11-18 19:26] Mihai-QuickSilverDev commented on #14144
Get final answer on the pdf layout by Tuesday, Nov 22.

[2022-11-18 19:30] vysakh-menon-aot commented on #14321
@Mihai-QuickSilverDev can you confirm all the filings mentioned in this ticket is required for BC, ULC and CC

[2022-11-18 19:38] #13258 closed

[2022-11-18 19:41] severinbeauvais commented on #14331
This is merged and I verified it in Dev. Ready to deploy to Test (no rush).

[2022-11-18 19:43] mstanton1 commented on #13141
@tlebedovich @forgeuxGH5 are you familiar with what this ticket is for? There is a UI Design EPIC for the MHR Dashboard for Registrations (12770) and this ticket is shown as blocked by that.

[2022-11-18 20:27] lambert-alex commented on #14145
The UI changes for the incorporation agreement step.

![Numbered Ben UI changes.png](https://images.zenhubusercontent.com/62717af8eca90b5099d264a7/1b3c5874-11db-4179-b966-a62f901d9c37)

![numbered limited ui changes.png](https://images.zenhubusercontent.com/62717af8eca90b5099d264a7/74f16e32-d9da-4119-bfa8-4e7b8d20ac46)

![ccc numbered UI changes.png](https://images.zenhubusercontent.com/62717af8ec

[2022-11-18 20:34] severinbeauvais opened #14341 "Can't create numbered BEN company"
1. login to Dev
2. create a numbered IA (BEN/BC/CCC/ULC)
3. complete the IA and file it
4. observe the IA is filed and paid:

![Clipboard - November 18, 2022 11_56 AM.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/a97da746-5897-4ac0-9a4c-6bef3a4da91f)

5. go to My Business Registry
6. observe that the new business is not showing -- it displays as a draft IA

![Clipboard - Novem

[2022-11-18 20:34] lewischenstudio commented on #14145
@lambert-alex Please verify that the work done in these images does not overlap with ticket #14142.

[2022-11-18 20:38] forgeuxGH5 commented on #13141
I think it was a placeholder to build the detailed dashboard design, which you've already started.

@tlebedovich I didn't see a design for an MH-only view of the dashboard - do we have that somewhere?

@mstanton1 we haven't built the MH-only view of the dashboard yet but we will need to do that once we have accounts set-up that would get that view. We probably also need an MH Search-only view of t

[2022-11-18 20:40] severinbeauvais commented on #14341
This does not reproduce on Test.

However, it's likely this issue will move to Test when we deploy the Dev code there next week. Therefore, this is still a P1.

cc @jdyck-fw @Mihai-QuickSilverDev @davemck513 OK to bring it into current sprint?

[2022-11-18 20:44] mstanton1 commented on #13280
@forgeuxGH5 @tlebedovich any idea what this is for? If not, I'll go ahead and close.

[2022-11-18 20:50] lewischenstudio commented on #14142
Closed due to being a duplicate for #14145.

[2022-11-18 20:51] #14142 closed

[2022-11-18 20:51] forgeuxGH5 commented on #13280
could be to remove the Service Fee from the fee summary?

[2022-11-18 20:57] Mihai-QuickSilverDev commented on #14341
Done, as this is part of the Critical Path for the IA work. Thanks, Severin for raising this up.!

[2022-11-18 21:04] severinbeauvais commented on #14285
@yuisotozaki I see that currently, in the code, BEN/BC/CCC/ULC all display a PDF. But in 14145 you said there are 3 versions. Can you clarify, please?

[2022-11-18 21:04] severinbeauvais commented on #14285
@yuisotozaki I see that currently, in the code, BEN/BC/CCC/ULC all display a PDF. But in 14145 you said there are 3 versions. Can you clarify, please?

cc: @lambert-alex

[2022-11-18 21:07] severinbeauvais commented on #14341
I don't know what estimate to give this because I don't know where the fault lies or what needs to be done to fix it.

-> Whoever picks up this ticket, please add a suitable estimate (and release, either Entities or Relationships).

[2022-11-18 21:26] argush3 commented on #13999
@droberts27 I could be wrong but I don't think the special characters were brought over from looking at your output.  The "?" should be specific representation of the special character like in the audit file Ian C provided from OrgBook

Here are some examples from the OrgBook audit output:
* Corp Name mis-match for: FM0621413 BC Reg: "K??R??-K??T?? GROUPS", OrgBook: "KÃRÃ-KÃTÃ GROUPS"
* Corp N

[2022-11-18 21:33] pwei1018 opened #14342 "Name request: support name with less than 3 characters"
- There are no official requirements for this request.

- A client has asked for the ability to enter a SP/GP name less than 3 chars long.

- When the NR/ Names applications were designed, a restriction was put in place that a SP/GP name cannot be shorter than 3 chars.

- Will check with the Business unit to see if this restriction could be lifted now.

**Describe the bug in current situation**
Cl

[2022-11-18 21:33] pwei1018 commented on #14342
@Mihai-QuickSilverDev Please clarify the business requirement of SP/GP name length.

[2022-11-18 22:14] severinbeauvais commented on #14322
I'm fixing this along with 14306.

[2022-11-18 23:08] chdivyareddy commented on #14215
Verified!

- User can navigate to the Review screen without blocking when the draft is resumed:

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f9a4928e-cf0b-42d2-b631-dd1606c00975)

[2022-11-18 23:16] #14069 closed

[2022-11-19 00:36] bolyachevets opened #14343 "Organize tools branch for keycloka-migration"
Clean up migration and utility scripts, write docs and place them in companion tools brach.

[2022-11-19 02:06] bolyachevets commented on #14343
https://github.com/bcgov-registries/keycloak-migration/tree/tools

[2022-11-19 04:09] Mihai-QuickSilverDev opened #14344 "Delay in the system completing a filing and generating outputs causes the creation of Ops tickets"
## Description (Hypothesis):
- Short Description of the needed Epic in the below format

* As a (who/ person)
* I want (what/ goal)
* so that (why/ benefit proposal)
or
* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what is expected value and justification for priority.

----
## Acceptance Criteria
* Used to

[2022-11-19 04:15] Mihai-QuickSilverDev commented on #14344
- [ ] Ops #1780 - FM1004126 - Delay in generating the Registration Statement.
- [ ] Ops #1780 - FM1004235 - Delay in generating the Registration Statement.

[2022-11-19 18:16] seeker25 opened #14345 "Outstanding CSO unreconciled transactions"
501 invoices provided
222 are BCOL refund invoices – I’ve sent an email
160 of them are already paid – Shouldn’t be on the sheet
32 are PAD invoices that are REFUND_REQUESTED – I’ve sent an email asking CAS how to determine if REFUNDED or not
42 invoices that are PAD APPROVED - John we’ll have to email CAS about these Some date back to Oct 4th, our CODE has processed these invoices are they are in

[2022-11-19 18:18] seeker25 opened #14346 "PAY-JOBS - Routing slip job reverse throwing error"
invoke_jobs.py,
ROUTING_SLIP

https://sentry.io/organizations/registries/issues/3750198448/?project=1762954&query=is%3Aunresolved&referrer=issue-stream

[2022-11-19 18:28] seeker25 opened #14347 "15.4 - AUTH Release ticket"
There's a dependency on LEAR for this one

Lear was moved to TEST today, AUTH-WEB moved to TEST as well

[2022-11-19 18:30] seeker25 commented on #14239
I've pushed this to TEST,
@AshnaMehta you might need one of us to delete the contact link for an org to test this.

[2022-11-19 18:30] seeker25 commented on #13789
@janisrogers Could you take a look at this one? it should be on DEV - small text changes.

[2022-11-19 18:54] seeker25 commented on #14316
Requires a new role added to keycloak: `NON_STAFF_BCOL_OVERRIDE`

[2022-11-19 19:52] forgeuxGH5 commented on #14251
@tlebedovich I updated the text and added a header to the business look-up - have a look and let's chat.

[2022-11-19 20:25] #14247 closed

[2022-11-21 08:20] riyazuddinsyed opened #14348 "verify - Cooperative association is not affiliating entity dashboard"
**Describe the bug in current situation**
Steps to reproduce the behavior:

1. Login BCREG0001
2. Create Cooperative association NR and complete NR
3. Observed that NR is not being affiliating entity dashboard
![Screenshot 2022-11-21 124948 coop.png](https://images.zenhubusercontent.com/6347108fc454b6a35c909918/80fa5f3a-899e-46c0-a4a4-485240ca4fd2)

**Screenshots/ Visual Reference/ Source**
If app

[2022-11-21 12:40] riyazuddinsyed opened #14349 "Unable to edit a Name translations while filling the alternations"
**Describe the bug in current situation**
Steps to reproduce the behavior:
1. Go to https://dev.bcregistry.ca/business/auth/account/2079/business?accountid=2079
2. Try to edit Name translations
3. See an error
When CHANGING a name translation that the input text field does not initially show the old name translation, so it looks like I'm entering a new translation.
![benifit company alternation.pn

[2022-11-21 14:17] riyazuddinsyed opened #14350 "Filings UI: Unable to file BENs Alternation correction"
- [x] Redirect to Edit UI for alteration correction (instead of local correction)

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Login  as staff
2. search filling BC0871239
3. Try to file staff correction
4. See  an error ![Screenshot 2022-11-21 191506.png](https://images.zenhubusercontent.com/6347108fc454b6a35c909918/a05dd73d-b077-4106-8411-58a57ae8aa5e)
**Screenshots/ Visual Referen

[2022-11-21 15:35] owillborn commented on #14175
@tlebedovich Hey Tracey, in regards to the API check there is no functionality yet... Cameron is working on the API side and everything is built for the modal on the UI side. His ticket is #14176

[2022-11-21 16:18] fareenr opened #14351 "Update API comms plan for corp filings"

[2022-11-21 16:19] #14343 closed

[2022-11-21 16:35] cameron-eyds commented on #14259
I have this in progress however Zenhub is blocking me assigning myself..?
Will keep trying.

[2022-11-21 17:36] yuisotozaki commented on #14115
Verified in dev. Ready for QA.

[2022-11-21 17:37] chdivyareddy commented on #14260
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ef606098-6d73-42eb-8fd7-7d184f149a1c)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/850c294d-eb67-463a-b2cb-8326d77a4a2e)

[2022-11-21 17:39] #14236 closed

[2022-11-21 17:39] #14187 closed

[2022-11-21 17:39] #14140 closed

[2022-11-21 17:39] #14163 closed

[2022-11-21 17:39] #14222 closed

[2022-11-21 17:39] #14331 closed

[2022-11-21 17:50] tlebedovich commented on #13848
@ChasBoucher - Hi Charles - I don't see the appropriate user feedback happening when a transfer is completed and added to the table. The following needs to match what happens when an amendment is added to a PPR registration (have a look). We need the following to happen once the transfer is submitted:

1) User taken back to the dashboard with the MHR tab table in view (this is done)
2) User has be

[2022-11-21 17:53] severinbeauvais commented on #14340
-> Test THIS ticket once ticket 14284 is implemented.

[2022-11-21 17:54] fareenr commented on #12781
21-Nov - Wills registry release for Nov is cancelled due to issues found in registries testing and lack of Wills developer availability to fix and retest

[2022-11-21 18:12] JohnamLane opened #14352 "Move Site Registry outage message from the banner into their product tile"
This message is currently showing in a banner due to the Site Registry's ongoing data issue:

Please remove this from the banner and move it into their product tile on My Registries Dashboard.

Rationale: Clients see the word 'Registries' and assume the whole site is down.

![image.png](https://images.zenhubusercontent.com/5a7391bd4b5806bc2bc54a79/c0602c34-b54c-44a1-99eb-a74a3c511881)

[2022-11-21 18:26] magszymanski commented on #12728
@gprimeau will clone the [Forms & Fees page ](https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/businesses-incorporated-companies/forms-corporate-registry) which will be the separate CMS page for all doc samples (CMS link will end in /bcreg-doc-samples/)

Title of this new page: Samples of official BC Registry registered documents.

- Under the [S

[2022-11-21 18:27] tlebedovich commented on #13280
Yes we were going to remove the "Service Fee - No Fee" line item - unless that is already in another ticket

[2022-11-21 18:47] severinbeauvais opened #14353 "Filings UI: cannot resume ULC draft AR"
1. login to a ULC
2. start an AR
3. cause a payment error
4. go to dashboard
5. see the draft AR that you can resume, ie:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/76374c97-c1cf-4141-9906-3f6c71865495)

6. click to resume the AR
7. observe that the filing appears to load, and then you are redirected to the dashboard
8. observe console error:

![image.png](https://

[2022-11-21 18:53] seeker25 commented on #14346
@Jxio could you look at this one?

[2022-11-21 18:56] janisrogers commented on #13789
@zac-broitman @seeker25  Are they aware of the differences between the two tiles? The marketing page tile is to explain their product (and can use bullets to make it more readable), while the dashboard tile is for people who have already chosen their product and is just a reminder of the product. Is generating a report the main goal of their users?
If they are aware of all of this and still want t

[2022-11-21 19:17] tlebedovich commented on #13993
@mstanton1 - can you send me the dev tickets? I need a little time to lay out a couple new scenarios that have come up above. Will ping when ready

[2022-11-21 19:40] tlebedovich commented on #14324
@mstanton1 - designs added, this is ready to go

[2022-11-21 19:43] severinbeauvais commented on #14353
I added this to current sprint because I found it and fixed it along with my work in 14306.

[2022-11-21 19:44] severinbeauvais commented on #14353
### Test Notes

In cases where a BEN/BC/CCC/ULC Annual Report draft is saved (due to some error), this ticket allows such a draft AR to be resumed.

[2022-11-21 19:45] tlebedovich commented on #12068
@mstanton1 - FYI - this is the design ticket with the MHR Only tile for user's BC Registries Dashboard that only have MHR. Links to the graphics are above. Not sure if this was already implemented.

I thought this was already done? And if the user only has MHR, then only the MHR table (no tab version) and MHR search would appear on their MHR registry dashboard.

[2022-11-21 19:58] seeker25 opened #14354 "CSO - BCOL - Revenue report shows dev fees ($1) and OSP fees being deducted on the new variable fee codes"
Patty / John task I believe.

[2022-11-21 20:07] tlebedovich commented on #13141
@mstanton1 @forgeuxGH5 - I think we have only built the PPR/MHR Combo and the PPR only view of the user's assets dashboard (Search and Table with and without tabs). I don't think we have laid out the assets dashboard with a version of MHR-only search (and the top of the page title updates).

To note: There are comments in the comps below that say "in the future, MHR users may always also have acce

[2022-11-21 20:07] magszymanski commented on #12728
Asked Elizabeth and Kayla/Claudine for old world samples. Will pass to Gen once I have them.

[2022-11-21 20:09] seeker25 commented on #14317
moving to test now

[2022-11-21 20:20] severinbeauvais commented on #14306
### Test Notes

See everything changed according to description, above. Ask if you have any questions.

[2022-11-21 20:25] forgeuxGH5 commented on #13141
If don't have them, we should have MHR-Search only views of the dashboard too, for MHR search only clients. So views with only the search section - no registrations section. I don't know if there will be users with MHR-search only + PPR but we should allow for it probably.

[2022-11-21 20:46] tlebedovich commented on #13141
@forgeuxGH5 @mstanton1 can we update and quickly groom this ticket with requirements please so i don’t lose track of whats needed

[2022-11-21 20:48] severinbeauvais opened #14355 "UIs: fix "deprecated native modifier on v-on directive""
Example:
[code]

Ref: https://eslint.vuejs.org/rules/no-deprecated-v-on-native-modifier.html

[2022-11-21 21:01] zac-broitman commented on #13789
Since we've already made the change in DEV I'd like to defer to @JohnamLane on if we want to discuss this further with BCA or just sticking with what they provided.

[2022-11-21 21:15] severinbeauvais commented on #13652
Possible alternatives:
https://github.com/devindex/vue-mask
https://github.com/beholdr/maska

[2022-11-21 21:32] forgeuxGH5 commented on #13141
I added a dashboard display matrix above - still work-in-progress but should help.
@mstanton1 we should confirm the display of lien information in the matrix (if a user has MHR but not PPR)

[2022-11-21 21:56] seeker25 commented on #14345
Working on the 45 EJV invoices now.

[2022-11-21 22:00] chdivyareddy commented on #13746
Verified!

The new draft appears at the top of the list:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b7bae122-213b-409e-9dca-79175c5ce66e)

Delete Draft modal:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/364e57bb-b59a-4433-9b7a-9020428f8ff6)

[2022-11-21 23:02] tlebedovich commented on #13993
ok - can we organize ourselves a bit during our design grooming? its a big ticket

[2022-11-21 23:02] seeker25 opened #14356 "FAS-UI - Dates not showing as Pacific time"
https://github.com/bcgov-registries/ops-support/issues/1308

Quote from Admin:
`My daily balancing dates are not correct. It seems to be a day behind. Whatever date Larissa puts in as the cheque date, (not entry date) it shows up as a day behind. `

[2022-11-21 23:04] mstanton1 commented on #13280
@forgeuxGH5 @tlebedovich do you mean the 'Staff Processing Fee'? The Service Fee is not charged on the majority of products for MHR but the 1.50 Service Fee is applicable for searches. The Staff Processing fee, on the other hand, is not charged for any MHR services.

I've updated the body of the ticket to be for removing the Staff Processing fee for now, but lets discuss if there's a different und

[2022-11-21 23:06] mstanton1 commented on #13993
We reviewed in our last grooming sessions and it seemed fairly clear to @cameron-eyds what was needed. Let's talk at the end of stand up tomorrow to make sure we are all on the same page and somewhat more organized. I agree - it is a lot!

[2022-11-21 23:18] Mihai-QuickSilverDev commented on #14342
@pwei1018 @PatrickAHeath Added text to the Description field above.

[2022-11-21 23:34] yuisotozaki commented on #14285
Added to the list of questions to ask the staff.

[2022-11-21 23:41] seeker25 commented on #14143
As part of the CSO reconciliation issues, I've restarted these by clearing the `ejv_invoice_links` and `invoice_reference` tables.

[2022-11-21 23:53] janisrogers commented on #13339
No longer required.

[2022-11-21 23:53] #13339 closed

[2022-11-21 23:55] tlebedovich commented on #13280
This is for Staff Registration and QS Transfer flow Fee Summary, not Search

[2022-11-21 23:56] #8504 closed

[2022-11-21 23:56] #11554 closed

[2022-11-21 23:56] #11925 closed

[2022-11-21 23:56] #11485 closed

[2022-11-21 23:56] #11166 closed

[2022-11-21 23:57] #12543 closed

[2022-11-21 23:57] #12826 closed

[2022-11-21 23:59] janisrogers commented on #4116
@JohnamLane Can you bring this up at PO Sync.

[2022-11-22 00:04] seeker25 commented on #14143
Will close if the EJV succeeds tonight hopefully with feedback.

[2022-11-22 00:12] sarahelz19 commented on #14101
Sent to MAXIMUS Nov 21st for review
https://docs.google.com/presentation/d/1_dhySZBkTD42ccw1sgdL_Ss4-YIzgnhe/edit#slide=id.p1

[2022-11-22 00:14] sarahelz19 commented on #14117
Reached out to Relationships team to revisit requirements Nov. 16th
Status Nov. 21st. No confirmation of readiness date - N

![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/36bbb852-f5fa-4304-915d-9b75c0988387)

[2022-11-22 01:09] tlebedovich commented on #12837
@mstanton1 @dimak1 - scott has updated the intro text, help, field text and subhead in the dropdown and we've added a spinner icon to the field if there is a delay in seeing look-up results. The design link above has the updated work. Do we want to create a spin off ticket for this new work?

[2022-11-22 01:43] dimak1 commented on #12837
@tlebedovich I think we can add to this ticket and bump up the estimate. I made some good progress today and can work on new updates tomorrow. But will refer to @mstanton1 to confirm.

[2022-11-22 02:28] seeker25 commented on #5536
I think we plan on moving to any payment method across the account? could be wrong, closing.

[2022-11-22 02:28] #5536 closed

[2022-11-22 04:03] seeker25 commented on #14143
Seems to have ran, 20,000 + ejv invoices created

[2022-11-22 04:03] #14143 closed

[2022-11-22 04:11] seeker25 commented on #14229
This may come up again

[2022-11-22 04:12] seeker25 commented on #14327
Duplicate of existing

[2022-11-22 04:12] #14327 closed

[2022-11-22 04:15] seeker25 commented on #14354
This ticket might be one for Patty

[2022-11-22 04:31] seeker25 commented on #7682
I asked CAS specifically about this, they said they wouldn't do it.. wait until the feedback comes back unfortunately. Closing for now.

[2022-11-22 04:31] #7682 closed

[2022-11-22 04:33] seeker25 commented on #8747
Covered in vue3 /vuetify upgrade ticket

[2022-11-22 04:33] #8747 closed

[2022-11-22 04:35] seeker25 commented on #14234
This should cover #10134

[2022-11-22 04:36] seeker25 commented on #10134
Covered in #14234

[2022-11-22 04:39] seeker25 commented on #4942
I've been slowly updating the spec

[2022-11-22 04:39] #4942 closed

[2022-11-22 04:43] #6512 closed

[2022-11-22 04:50] #8898 closed

[2022-11-22 05:06] #9509 closed

[2022-11-22 05:06] seeker25 commented on #9509
I don't think this is the case anymore - Lekshmi did some work for this in TEST:
https://github.com/bcgov/sbc-auth/pull/2161

.. Closing.

[2022-11-22 05:10] #12910 closed

[2022-11-22 05:13] #14213 closed

[2022-11-22 05:14] #9001 closed

[2022-11-22 05:15] seeker25 commented on #14017
Is this ticket still valid?

[2022-11-22 05:17] seeker25 commented on #14115
I think this is on TEST?

[2022-11-22 15:26] fareenr commented on #12590
duplicate of #14118

[2022-11-22 15:26] #12590 closed

[2022-11-22 15:47] seeker25 commented on #13068
@MatthewCai2002 another one for you Matthew, while you're in there

[2022-11-22 16:01] janisrogers commented on #14017
Changes were made in existing ticket.

[2022-11-22 16:01] #14017 closed

[2022-11-22 16:09] mstanton1 commented on #14260
@chdivyareddy can this be moved to done?

[2022-11-22 16:13] chdivyareddy commented on #14260
@mstanton1 this is not in TEST yet, will request Thor/Doug for promotion during standup and will verify, thanks!!

[2022-11-22 16:17] fareenr opened #14358 "Create API timelines visual for business filings API"
Create API timelines visual for all business filings for different entities and stages of beta specs, final specs, sandbox and prod.  Need this for API updates meetings and to share with other potential API clients in comms email.

Also include new entities being added to Business Search (Registry) API.

[2022-11-22 16:19] fareenr commented on #14358
Need approx. timeline info from David M and John.

[2022-11-22 16:25] mstanton1 commented on #13280
Thank you for confirming @tlebedovich . I have updated the AC.

[2022-11-22 16:26] mstanton1 commented on #14260
Thank you for the information @chdivyareddy !

[2022-11-22 16:41] kialj876 commented on #14239
@AshnaMehta let me know when you want to test this and I can set up the scenario for you

[2022-11-22 16:44] JohnamLane commented on #12837
@mstanton1 FYI this call in the Business Registry (aka lear) API returns addresses when called using the identifier.
https://bcregistry-demo.apigee.io/docs/businessproxy/1/routes/businesses/%7Bidentifier%7D/addresses/get

[2022-11-22 16:51] mstanton1 commented on #12068
I attempted to test. BCREG0008 in Dev was only showing 'My Business Registry'. I added MHR Qualified User through Keycloak. When I logged back in again there was still just one tile for 'My Business Registry'. It seems like this needs some discussion. Since the user flow itself wasn't completed and there's feature flags etc my TEST might have been invalid.

[2022-11-22 16:52] sarahelz19 opened #14359 "OCM - COLIN Transition - Meeting Notes - Ongoing -"
A link to the COLIN folder with all meeting notes, so that OCM team has links and can review notes/minutes

https://drive.google.com/drive/u/0/folders/1OenNa6r2NQLx1U4qF-HIHYNxSCX-B2qN

[2022-11-22 16:52] dimak1 commented on #12837
@mstanton1 I quickly looked at the new design and it shouldn't take long, as the changes are not significant.

[2022-11-22 16:53] sarahelz19 commented on #14359
@trishreimer @magszymanski @Maribeth-Wilson @fareenr

If we need to make notes - or review notes.... from meetings

[2022-11-22 17:06] mstanton1 opened #14360 "UI - UXA Feedback - New Handling when changing owners (Previous Owners Heading)"
For Transfer App:

We were missing proper handling when changing from a SO/JT to a TIC. And we received feedback that deleted groups should not retain Group numbers when they are in the deleted mode.

1) Qualified Supplier Version - Changing Joint Tenants or Sole Owner into a Tenants in Common
2) Qualified Supplier Version - Tenants in Common - Previous Owner Groups
3) Delete Group Modal

* Update

[2022-11-22 17:07] mstanton1 commented on #14360
@tlebedovich was this the portion to pull out the full section for "Add an Individual Owner" or is it just the third bullet and image?

[2022-11-22 17:23] severinbeauvais commented on #14313
### Test Notes

All ledger entries should be correctable if they are in Completed or Corrected status (but not if they are in Cancelled, Deleted, Draft, Error, New, Paid, Pending or Withdrawn status), as long as the other conditions are also False -- see [**code**](https://github.com/bcgov/business-filings-ui/blob/b6b9b349cde98b4bdd2712885db7f84717e284d8/src/components/Dashboard/FilingHistoryList.

[2022-11-22 17:25] severinbeauvais commented on #7084
If this can't be reproduced then it's probably no longer an issue. I agree to close this.

[2022-11-22 17:25] #7084 closed

[2022-11-22 17:28] lewischenstudio commented on #14285
This ticket may be a duplicate for #14144.

From #14145, these are the three PDFs:
[Benefit Company](https://zh-file.s3.amazonaws.com/157936592/7a942a6b-79d7-402e-8a3e-c8ae29deff4f?Expires=1669137476&AWSAccessKeyId=AKIAI5X57DET3FHKSALA&Signature=uzdqpSWjJNH6evulelgxiz7OEfQ%3D)
[Community Contribution Company](https://zh-file.s3.amazonaws.com/157936592/ec5cd5d6-fc6a-427b-9bfa-e41ccdabfb0c?Expires=1

[2022-11-22 17:29] severinbeauvais commented on #14234
The warning in the description are from an imported package, I believe, so we cannot solve them (other than by upgrading to a fixed package if/when it becomes available).

[2022-11-22 17:31] severinbeauvais commented on #14303
This is no longer blocked.

[2022-11-22 17:35] #14221 closed

[2022-11-22 17:35] #14224 closed

[2022-11-22 17:35] #14115 closed

[2022-11-22 17:35] #14306 closed

[2022-11-22 17:35] #14305 closed

[2022-11-22 17:35] #14321 closed

[2022-11-22 17:35] #14190 closed

[2022-11-22 17:35] #14340 closed

[2022-11-22 17:37] mstanton1 commented on #13993
The Joint / Sole owner portion requiring design has been pulled out into 14360. This is ready to be worked on.

cc @forgeuxGH5 @tlebedovich @cameron-eyds

[2022-11-22 17:38] jdyck-fw commented on #14144
#14145 in associated with this

[2022-11-22 17:45] fareenr opened #14361 "Send Business Corps filings update to all potential API users - Emails, discourse & bcol - by Dec 1"
- [ ] send email

- [x] also post on discourse

- [ ] post to bcol - with link to discourse

- [ ] key messages: business filer, corp types, general timing,

- [ ] Develop API visual timeline when Corps Filing Specs and Sandbox will be available (must be min. 1 month before Prod)

[2022-11-22 17:55] Mihai-QuickSilverDev opened #14362 "Generate a BN message for specific Firm Conversion scenarios"

[2022-11-22 18:00] Mihai-QuickSilverDev commented on #14362
@vysakh-menon

[2022-11-22 18:12] tlebedovich commented on #12837
@mstanton1 - we reviewed the additional updates this morning and it is enough to warrant an additional ticket. I am happy to make one, please let me know which zenhub column to put it into - Grooming or Sprint Backlog. Dima suggested a 2 estimate

[2022-11-22 18:36] seeker25 opened #14363 "FAS - Routing Slip adjustments - Create Notebook"
206436479 – should be Sept 21, $436.78
206417917 – should be Sept 21, $35.00
206417941 – should be Sept 21, $350.00

We can't just update the `routing_slip` table and expect it to sync up with CAS.

We need a way to figure out how to adjust a receipt in CAS to change the amount.

OR

Reverse the routing slip, create a new routing slip in it's place similar to linking.

Anyways, putting this into a

[2022-11-22 18:46] mstanton1 commented on #12837
Grooming would be great. Can you send me the number when created? Thanks @tlebedovich

[2022-11-22 19:13] Mihai-QuickSilverDev opened #14364 "SP/GP name change fails when trying to use a NR with conditional approval"
1. Firm FM0601898 is trying to file a name change.
2. This is the NR:
![image.png](https://images.zenhubusercontent.com/62741a399202cf3570f9fd40/76608339-f80a-45e0-8c14-11498e4b63e1)
3. The NR was conditionally approved and ready to go.
4. When entering the NR details in the change screen, this error pops-up:

![image.png](https://images.zenhubusercontent.com/62741a399202cf3570f9fd40/7bc0006d-8a59

[2022-11-22 19:27] mstanton1 commented on #14154
Sent follow up to Ali.

[2022-11-22 19:31] mstanton1 commented on #14094
Sent to Sharon Nov 16th. Follow up has been sent today.

[2022-11-22 19:39] Mihai-QuickSilverDev commented on #14364
The fetchNameRequest has no error and the response status is 200. In the response data, the state of the NR is “CONDITIONAL”. A name request with state “APPROVED” and “CONDITIONAL” can be consumed.
But in code, the approval state includes “APPROVED” and “CONDITION”. “CONDITION” is not a NR state and needs to be changed to “CONDITIONAL”

This was found by Eve, while working on a similar issue.

[2022-11-22 19:41] severinbeauvais opened #14365 "Auth/Legal API: can't add a conditionally approved NR"
- [ ] It's Auth API calling Legal API... dev to determine where problem lies and fix it.
  - Should we be able to add (affiliate) a non-approved NR?
  - Do we need to allow adding NRs in other states?
- [ ] Verify whether we can "use this name request now".
  - NR must be approved.
  - If NR has conditions that are not met (consentFlag=Y) then it cannot be used.
  - If NR consentFlag = null (not r

[2022-11-22 19:42] severinbeauvais commented on #14364
I found this related bug while looking at THIS ticket:
https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/14365

[2022-11-22 19:49] chdivyareddy commented on #14215
Hey @cameron-eyds , I observed a small issue when clicking on ` Save and Resume later` button. Would you like me to create a new ticket or can be fixed here?

**Steps to reproduce:**
- Select a registration that has no transfer/draft under the Parent
- Make a change to home owners table and click on Save and resume later
- The Draft gets added to the dashboard, but the spinning wheel just spins wi

[2022-11-22 19:53] severinbeauvais commented on #14365
-> You can test this with NR 6991207 (ph=1234).

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/46c9ef28-9b23-4507-9106-22fb4c88509c)

[2022-11-22 19:55] severinbeauvais opened #14366 "Name Request: should not be able to Register Your Business with a name change NR"
This NR should not show (or enable -- check with UI team which is preferable) the Register Your Business button. This NR can only be used for Name Change.

Please also check what other request types of NRs this applies to -- or conversely, just show/enable the button for "New Business" NRs.

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/54750f93-2e17-4588-8dcb-428f7ae1

[2022-11-22 19:59] mstanton1 commented on #13841
@PatrickAHeath in discussions it was raised that there is a flag that is set when there is a lien on a MHR according to the logic above. The ticket doesn't have any information on that flag or how it works. Can you please add some information in?

[2022-11-22 20:09] tlebedovich commented on #14251
@forgeuxGH5 - We still need to do design handling to somehow check on submission for any existing BC business owners that are there in a transfer in this ticket. For new registrations we would devs to save some kind of flag to know whether they had selected a bc based business or a manually-entered "other" organization. And for transfers with legacy owners, I don't know how we would know if existi

[2022-11-22 20:12] pwei1018 opened #14367 "Add idp_userid column to users table"
In Namex, Lear, PPR and search database

This is the first step to switch sub column to idp_userid column as unique key in users table.

[2022-11-22 20:36] Jxio commented on #14346
yes

[2022-11-22 20:46] chdivyareddy commented on #14176
Verified with Postman!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/44e69719-cdc7-409e-b811-e96f5fa98397)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/59269c51-6e0f-47de-bb87-8d5fbfce520d)

[2022-11-22 20:46] severinbeauvais commented on #13887
^^^ ignore incorrectly-linked PR 420 above (now fixed but I can't remove link above)

[2022-11-22 20:52] severinbeauvais commented on #14364
### Test Notes

1. You should get an error (consent required) if you try to use a name-change NR that is conditional with consent Required (Y).
2. You should NOT get an error if you try to use a name-change NR that is conditional with consent Received (R) or Waived (N) or "-" (null).
3. You should NOT get an error if you try to use a name-change NR that is not conditional.

[2022-11-22 21:24] severinbeauvais opened #14368 "Entities Sprint 15.5a Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
  - Business Create UI v4.3.17
  - Business Edit UI v3.9.1
  - Business Filings UI v5.7.22
  - Legal API v2.67.0
  - Entity-emailer v2.67.0
  - Entity-reminder job
- [x] Ensure deployment steps are fill

[2022-11-22 21:30] doug-lovett commented on #14039
1. Phone number added with N/A if no value.
2. Contact now displays N/A if no contact name exists.
3. Legacy addresses are stored in the database as a single table column. The format of the addresses in the mhomnote table is inconsistent. By default the province code is BC and the country code is CA. The API is trying to convert the legacy format to the parsed new address format, but if it cannot

[2022-11-22 22:14] chdivyareddy commented on #14259
@cameron-eyds , I'm still seeing the error message 'Please complete required information' under the Fee Summary modal once all the validations are met and blocking the user from navigating to the review screen by clicking on the 'Review and confirm' button. Please take a look, thanks!!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/291abebe-85dd-4f97-ab3b-0ce9a3840d93)

[2022-11-22 22:20] seeker25 commented on #14099
`https://paytestp.gov.bc.ca/public/directPayment?inv_number=REGT00023399&pbc_ref_number=10007&redirect_uri=https%3A%2F%2Ftest.bcregistry.ca%2Fbusiness%2Fauth%2Freturn-cc-payment%2F15806%2Ftransaction%2F03549a08-ec81-42c6-a7d8-99b9e5adaf62`

Is immediately redirecting without taking a credit card payment.

[2022-11-22 22:25] doug-lovett commented on #14039
Example of notes with and without phone and contact name attached below.[https://app.zenhub.com/files/157936592/7e8fcb82-be23-4504-bb56-dedb1a91b320/download](https://app.zenhub.com/files/157936592/7e8fcb82-be23-4504-bb56-dedb1a91b320/download)

[2022-11-22 22:41] #12636 closed

[2022-11-22 22:41] #14246 closed

[2022-11-22 22:41] #14317 closed

[2022-11-22 22:42] #14319 closed

[2022-11-22 22:42] #14260 closed

[2022-11-22 22:42] #13746 closed

[2022-11-22 22:43] mstanton1 opened #14369 "MHR Only Registration Table"
GIVEN I am a Search, Qualified Supplier or Manufacturer with Manufactured Homes as a product, but not Personal Property Registry
WHEN I access my dashboard
THEN I can access the items listed in the chart below

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/3ab54b2b-4fab-4c8e-8713-397340ed59f7)

[2022-11-22 22:43] mstanton1 opened #14370 "MHR + PPR Dashboard Options"
GIVEN I am a Search, Qualified Supplier or Manufacturer with Manufactured Homes as a product _and_ Personal Property Registry
WHEN I access my dashboard
THEN I can access the items listed in the chart below

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/4bb1cf4c-c979-459d-9741-a9560beed965)

[2022-11-22 22:44] mstanton1 opened #14371 "API - Registries Staff MHR Dashboard"
GIVEN I am BC Registries Staff
WHEN I add a registration to the Manufactured Home Dashboard
THEN I can see a link to the PDF document for that registration whether the registration was completed by BC Registries Staff or an outside party

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/8f70a834-19af-4130-ba98-3f2f51b72413)

[2022-11-22 22:44] mstanton1 opened #14372 "Service BC Staff"

[2022-11-22 22:44] mstanton1 opened #14373 "BC Online Help Desk Dashboard"
For the BC Online Help Desk account the same customizations provided for PPR are required for MHR
1. Allow access to all transactions (same as BC Registries staff)
2. Allow access to all PDF's from registrations in the modernized system (same as BC Registries staff)
3. Disable register and pay button (tackled under 10116 for PPR with disabling pay buttons + adding API validation)

[2022-11-22 23:09] mstanton1 opened #14374 "UI Design - Attention Reference / Folio"
Staff have raised concerns about Folio and Attention/Reference being stored in the same field given they have distinctive uses. Design is needed to address those concerns.

Note:
- Attention Reference is only for sending reports but should be on all reports
- Folio numbers should be on each report
- Both are transactional (so they would not appear if you entered on one transaction but then didn't

[2022-11-22 23:20] severinbeauvais opened #14375 "Auth Web: add app version (i) icon"
Most of the UIs have an info (i) icon in the footer to display the app versions. This ticket is to add this feature to Auth Web.

Example from Edit UI:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/2e8e4d6e-6420-480b-a417-0a68c591498c)

Relevant code from Edit UI:

https://github.com/bcgov/business-edit-ui/blob/493380cb19cde280c1433498b058b9a57ab09b6d/vue.config.js#L1

[2022-11-22 23:30] chdivyareddy commented on #14215
The bug is unrelated to this ticket, will create a new ticket for the issue found!

[2022-11-22 23:34] JohnamLane opened #14376 "Client views refund statuses in their own transaction list"
*Assumptions*
- This will be an enhancement of the existing account-level transaction list
- For refunds, some payment methods (PAD, BCOL) do not currently have status feedback necessary to support this feature.
- This work will proceed prior to implementing a refund UI, and will not contain the intermediate statuses needed to support request/approval flow.

**Scenario 1**
GIVEN I am a client
AND

[2022-11-22 23:34] mstanton1 commented on #14369
Pending confirmation of Lien check display rules. Sent to policy.

[2022-11-22 23:34] JohnamLane opened #14377 "SBC Finance views list of transactions that spans accounts and products"
Topics to resolve/discuss:
- [x] Where will this list be located?
People that are considered 'staff' - on staff dashboard
People outside Registries/BCOL - Stand alone page, not part of staff dashboard
**...gov.bc.ca/business/auth/transactions**

- [x] Which columns will be shown?
See design (link)

- [x] Which table functions will be required?
Standard sort/filter + show/hide columns

- [x] How to

[2022-11-22 23:35] fareenr opened #14378 "SBC MHR Search - organize training and rollout plan"
Organize training and rollout plan for ServiceBC all CSRs for target date second week Jan 2023.

[ ] finalize SBC MH Search procedures - need confirmation of GL codes and eGARMS code from Crystal and SBC Finance
[ ] confirm MH Search has SBC access role all set up for Prod based on IDIR acct login
[ ] support plan for SBC CSRs (BC Registries helpdesk or SBC IT Ops or their own ServiceBC IT support

[2022-11-22 23:37] fareenr opened #14379 "Provide MH Search training to all SBC CSRs - DUE before Jan 26"
Placeholder scheduled for Jan 26, 2023 at 8:30 and 9:30 am PST.

[ ] Prepare SBC MH Search training presentation

[ ] Finalize SBC MH Search job aide, QRG and procedures

[ ] ask for Teams meeting recording for best session

[ ] Provide contact info for additional help (BC Registries MH Staff?)

[2022-11-22 23:42] JohnamLane opened #14380 "Notify client via email regarding the status of their refund"

[2022-11-22 23:51] JohnamLane opened #14381 "Implement feedback process for BCOL refunds"
Goal:
- Learn the final status of BCOL payments that are present in the Pay API
- Focus on refunds

Data source:
- Legacy Oracle, specific schema being located now
- OS has example of how to connect back to legacy (lear and NameX)

Questions:
1. Is there a way to link Pay API invoice to anything on the mainframe? (Yes, Invoice)
2. Does the data extract contain refunds at all? (Yes)

Proposal:
1. P

[2022-11-22 23:51] JohnamLane opened #14382 "PAY-API - Create two new invoice PAD refund statuses"
Travis Semple:
An idea - two new invoice states for PAD specifically:

`CANCELLED` is when the PAD invoice is cancelled before the PAD invoice job (before 7 pm) rolls up the invoices for CAS - Reconciliation would exclude these they were never charged

`CREDITED` is when the PAD invoice is credited to a user’s account (after refund requested) - Reconciliation would have to correct some how

Additi

[2022-11-23 00:00] tlebedovich opened #14383 "UI - Additional MHR Business Look Up Updates"
Follow up ticket from #12837

We need the following additional text and other updates when Adding/Editing Business or Organization Owner in both Registration and Transfer flows:

- [ ] Intro Text Updates with new tool tip
- [ ] Verify field label text has been updated to match design
- [ ] Update Business Owner Help text link and Help Text
- [ ] Add loading spinner in look up field if there is a d

[2022-11-23 00:01] tlebedovich commented on #12837
@dimak1 @mstanton1 @forgeuxGH5 - additional required updates are in this ticket -> https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/14383

[2022-11-23 00:04] chdivyareddy commented on #14259
The issue is related to the interest values when adding/editing the owner groups, will create a new ticket for the issue.

[2022-11-23 00:11] mstanton1 commented on #12837
@tlebedovich thank you!!

[2022-11-23 00:12] #14086 closed

[2022-11-23 00:13] seeker25 commented on #14354
This has been done in TEST.

[2022-11-23 00:13] #14354 closed

[2022-11-23 00:16] seeker25 commented on #14316
@AshnaMehta I think Jaime and Patty are going to test this one.

[2022-11-23 00:29] doug-lovett commented on #14089
Declared value is entered/updated as part of a transfer. Example of search report update attached below.

[https://app.zenhub.com/files/157936592/92f406e9-7286-4c34-aa97-4a7cb24ed19f/download](https://app.zenhub.com/files/157936592/92f406e9-7286-4c34-aa97-4a7cb24ed19f/download)

[2022-11-23 00:34] eve-git commented on #12596
The time apart of two or more NR with the same name various. Most of the the time differences are greater than 5 minutes. It does not sound like a system error that causing duplicate NR (in the case, the submitted time differences will be similar). It's hard to say if user applied a NR several times.
[code]

[2022-11-23 00:58] #14316 closed

[2022-11-23 00:58] seeker25 commented on #14180
I've reverted the changes on DEV/TEST. Jaime and Patty are going to go through this.

[2022-11-23 01:17] seeker25 commented on #14239
2 or 3 estimate @kialj876

[2022-11-23 06:28] Mihai-QuickSilverDev commented on #14365
@severinbeauvais Hi Severin, on a related note, we shouldn't even have to remove the NR from the first account, as Travis has already implemented the multiple NR affiliation functionality. So, in summary for this issue, we need to update everywhere a NR approval is used, to include the conditional approval updated condition?

[2022-11-23 14:05] ozamani9gh commented on #14257
@pwei1018 would you like to chat with the product owners about this ticket.  Each Dev team should apply these upgrades in one of their sprints.  Also can you ask 1 Dev to review the github actions for their repos and if some of them are obsolete, please update ticket.  i can remove from checklist and also we can clean up the code in the repo for the action.

If I am missing any Github Actions, ple

[2022-11-23 15:27] seeker25 opened #14384 "PAY-JOBS - Create Invoices - Routing Slips still failing"
300 or so invoices that are stuck

[2022-11-23 15:55] #14215 closed

[2022-11-23 16:03] seeker25 commented on #14384
I've managed to do a couple of fixes and get this rolling again.

[2022-11-23 16:39] severinbeauvais commented on #14365
That makes sense. I agree.

[2022-11-23 16:59] #14384 closed

[2022-11-23 17:16] yuisotozaki commented on #14285
In 14145, there are 3 samples:
* For Benefit and BC Limited, link the benefit version (@Mihai-QuickSilverDev  please verify this point)
* For ULC, link the ULC version
* For CCC, link the CCC version

[2022-11-23 17:21] mstanton1 opened #14385 "API - Improve Address Parsing Data Quality"
Legacy address data is stored in one field in DB2. In order to display the address data separated parsing is required to pull out street address, country, province etc.

This ticket is to improve parsing, which in some cases is causing duplicated information.

E.g. below shows a case where the province was not found in the legacy system and as such added in and defaulted to BC. The result was BC s

[2022-11-23 17:22] #14196 closed

[2022-11-23 17:22] #14239 closed

[2022-11-23 17:24] doug-lovett commented on #14039
After discussion with Melissa, a new ticket will be created to improve the api parsing of legacy address information (the inclusion of BC CANADA) so this ticket can be moved along.

[2022-11-23 17:31] severinbeauvais commented on #14285
Thanks. Please remove Blocked label once this is verified.

[2022-11-23 17:32] Mihai-QuickSilverDev commented on #14285
@yuisotozaki Yui et All, The[https://app.zenhub.com/files/157936592/90cdf8e9-3f62-41eb-aa6c-5d7f674a1485/download](https://app.zenhub.com/files/157936592/90cdf8e9-3f62-41eb-aa6c-5d7f674a1485/download)

[2022-11-23 17:44] #14364 closed

[2022-11-23 17:44] #14353 closed

[2022-11-23 17:44] #14313 closed

[2022-11-23 17:45] #14254 closed

[2022-11-23 17:45] #14144 closed

[2022-11-23 17:45] #14304 closed

[2022-11-23 17:46] jdyck-fw commented on #14303
For the 3 new entities, remove the benefit portion.

[2022-11-23 17:48] doug-lovett commented on #14089
I don't see any UX assurance design change, so moving to RFQA.

[2022-11-23 18:08] chdivyareddy opened #14386 "VERIFY UI - Validate Review and Confirm button when editing the owner groups interest values"
- [x] When the Total ownership allocated matches the interest values of the numerator and denominator, then the error message 'Please complete required information' under the review and confirm button is still displayed and blocks the user from navigating to the review screen by clicking on the 'Review and confirm' button.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814

[2022-11-23 18:19] PatrickAHeath opened #14387 "BN Move Requests from CRA not processing into BCROS database"
**Describe the bug in current situation**
This bug originated from OPS ticket #1740 and IT OPS requests to move BN15s.

If a BN15 has been created under the wrong BN9, a request is submitted to CRA to move the BN15 to the correct BN15.  The transaction is received  by BC Registries in the daily batch file.  The BN Move result is showing up in SOFI and the BNI, but not in the new BCROS application.

[2022-11-23 18:20] PatrickAHeath commented on #14387
From IT OPS:

Please see INC0205986 as an example.
I assigned FM0866470 the wrong BN in April, which was noticed by the CRA.
The CRA performed a BN move to assign the correct BN. (BN: 730900800 => BN: 753633692)
However, the new app did not update. SOFI did update, which is how I know BN move was performed.

[2022-11-23 18:20] chdivyareddy opened #14388 "VERIFY UI - Hide 'Fee Summary' and 'Transfer Details' modal on Editing the existing owner groups"
- [x] When the user clicks on the 'Edit Group Details' for the existing owner groups without changing anything and clicks on the Done button, then the 'Fee Summary' and 'Transfer Details' modals are visible and can successfully complete filing a transfer:

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/69b7757c-eddc-411c-83d2-fb3afc70f671)

![image.png](https://images.z

[2022-11-23 18:31] kialj876 commented on #13974
After chatting with travis he expressed that having 0.00 fee also automatically sets service fee to 0.00 which is not desirable.

These codes will be effected by this in PROD:
[code]

[2022-11-23 18:32] doug-lovett commented on #14083
@chdivyareddy am I missing something here? In DEV with BRTEST1 Business Registry Test 1, I added an MH registration to the MHR registrations table:

![Screen Shot 2022-11-23 at 10.09.20 AM.png](https://images.zenhubusercontent.com/5e433f96990532730acff67f/06395f9f-fdfe-42cb-9f97-eb39b2f827bb)

I see the registrations in the table:

![Screen Shot 2022-11-23 at 10.09.56 AM.png](https://images.zenhub

[2022-11-23 18:36] chdivyareddy commented on #14083
@doug-lovett  let me check, the registrations were not shown in the table earlier.

[2022-11-23 19:00] chdivyareddy commented on #14083
@doug-lovett , looks like it is working as expected now in both BRTEST1 and BRTEST3 accounts, I can see the registrations added. Thanks for checking:)

[2022-11-23 19:03] tlebedovich commented on #14175
@owillborn - can you add in a screenshot of the API check modal here please just so I can check visuals?

[2022-11-23 19:10] tlebedovich commented on #14175
@owillborn - I noticed a new related Bug. I did scenario 1 above;

If I add "Bank of Nova Scotia" 28800001 via look up
THEN Manually add "Bank of Nova Scotia" with the exact same address
AND I hit Done
AND now it's correctly displaying the "Duplicate" modal

BUT...

When I hit OK to dismiss to duplicate modal, and stay in the manual mode, and I changed the name to Bank of Montreal instead of Bank

[2022-11-23 19:11] doug-lovett commented on #14083
@chdivyareddy @mstanton1 I do see a recent change where the auth api is assigning account id's for staff IDIR accounts. Previously there was no account id so the api gateway was assigning an account id of "ppr_staff". So all staff shared the same search and registrations table content. Now this is not the case: the registrations and search table contents are associated with a specific staff accoun

[2022-11-23 19:18] tlebedovich commented on #14177
@chdivyareddy @owillborn - Same bug I logged in #14175 is happening in Edit Mode as well - showing duplicate modal when the name and address is different then the SP already in the table -

![Screen Shot 2022-11-23 at 11.17.06 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/d2665b48-f5c3-4203-b126-e116da76f03f)

[2022-11-23 20:03] severinbeauvais commented on #14145
Please add a release to this ticket.

[2022-11-23 20:09] mstanton1 commented on #14083
@doug-lovett I was not aware of a change so am unsure whether that was intentional by Kyle. @chdivyareddy can you confirm. Or I could reach out to the SRE team?

Provided the change was not intentional it would make sense to update the api gateway to assign an account of assets_staff (we updated ppr_staff to assets_staff in keycloak so I suspect this is needed) so BC Registries staff with that gro

[2022-11-23 20:13] owillborn commented on #14177
@tlebedovich Here is the modal with active flags for API check.
![image](https://user-images.githubusercontent.com/112968185/203638054-294cb087-43f4-4be3-941b-34f243a7c4aa.png)

[2022-11-23 20:15] chdivyareddy commented on #14089
Verified!

Registration Number: 150274

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b6889e69-2fc9-4d28-8f09-66ad012c97c8)

[https://app.zenhub.com/files/157936592/ffa02591-6aa0-4000-99a0-cff74cbddcde/download](https://app.zenhub.com/files/157936592/ffa02591-6aa0-4000-99a0-cff74cbddcde/download)

[2022-11-23 20:20] chdivyareddy commented on #14083
@mstanton1 I'm not aware of the change, so assuming it was not intentional.

[2022-11-23 20:25] seeker25 commented on #14345
Removing this one, it could span multiple sprints I think

[2022-11-23 20:32] doug-lovett commented on #14083
@chdivyareddy I have made the gateway change in DEV to the ppr and mhr api configurations; I was able to add 098493 to the MHR registrations table as BRTEST1. Now BRTEST3 searches and registration activity should show up in in the BRTEST1 tables. I did not change the recent staff account id's to ppr_staff in the database, so recent searches and registrations activities will no longer show up for s

[2022-11-23 20:58] chdivyareddy commented on #14083
Thank you @doug-lovett !

I have verified adding MHR registrations to the table successfully and found them in the table once added in both BRTEST1 and BRTEST3 accounts.

I don't see any registrations in BRTEST3 account in DEV, other than the 2 registrations which I added recently. Not sure whether we had few earlier, and the PPR searches as well (Note: we have a separate ticket to fix the MHR sea

[2022-11-23 21:10] jdyck-fw commented on #14387
Thor is going to dig into this next week to can trace the flow to see if there’s an issue here. This should be working.

[2022-11-23 21:26] #12351 closed

[2022-11-23 21:31] mstanton1 commented on #14035
@PatrickAHeath do you know if there are any documents with the various errors that LTSA could throw? Or is this something that requires analysis?

cc @catherinecarlson

[2022-11-23 21:35] dimak1 commented on #14311
@ChasBoucher please add your comments so any of us could pick up this ticket. Thanks!

[2022-11-23 21:43] mstanton1 commented on #14011
@tlebedovich @forgeuxGH5 was the recommendation to update the modal from you? If so do you think that is necessary right now (and can you tell me why)? Trying to determine if I create a UI Design ticket to move to ready to start and link - or whether this can be closed / marked on hold.

[2022-11-23 21:45] mstanton1 commented on #13212
@tlebedovich the note above says this is for updates to fonts. Can you provide some information on that so we can groom this?

[2022-11-23 21:47] #14176 closed

[2022-11-23 21:48] doug-lovett commented on #14083
@chdivyareddy sorry for the confusion, I thought BRTEST3 was also registries staff. I see now it's not. Moving this ticket to RFQA as I do not see anything else to do.

[2022-11-23 21:49] #13974 closed

[2022-11-23 22:10] lambert-alex commented on #12258
So I looked into this bug a little more it looks like even though the first COD change was set for January 13 2022 the the effective date of the filing is set as May 17 2022. So a COD with the effective date set to May 16 2022 will also fail.

I checked with https://dev.bcregistry.ca/business/CP1002562 and https://dev.bcregistry.ca/business/CP1002574 and both worked as expected. I also verified th

[2022-11-23 22:11] #14070 closed

[2022-11-23 22:12] dimak1 commented on #12837
@tlebedovich just a heads up, when you will UXA this ticket, there is no hover state for the deactivated Orgs in the list. I placed a tooltip on top of the row, but the whole row in the disabled state is not hover-able.

[2022-11-23 22:12] tlebedovich opened #14389 "UI - Transfers - Need different Delete Group modal wording for Transfer App"
In Transfer App, we need to display a delete group modal with different wording when the user clicks the "Delete Group" button in a group header row.

The Registration Flow Delete Group modal will remain the same as we have currently.

**See new design comp below:**

![Screen Shot 2022-11-24 at 12.28.36 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/d862adcf-a980-4539-ad22-f

[2022-11-23 22:12] tlebedovich commented on #14389
@mstanton1 - new modal ticket for transfer app

[2022-11-23 22:13] forgeuxGH5 commented on #14011
The idea with this ticket was to inform users that the search result report would look different if there were more than 700 matches in their search result report.
I'm not convinced that this is the place for that information - it may just be confusing here. We handle informing the user about the concatenated report in the report itself, which is the place it really belongs.
I don't think we need

[2022-11-23 22:15] severinbeauvais commented on #12258
`header.date` is today's date.

`header.effectiveDate` is the back-date for this COD.

Try again with past dates for effective date. For example, first COD as of 2 days ago and second COD as of yesterday.

[2022-11-23 22:15] JohnamLane opened #14390 "Tell clients when they can expect to see $ from their refund across all payment types"
The first step of providing the client with a transparent refund process is informing them when they can expect to see the $ from their recent refund. This will proceed prior to work on the email notifications.

Proposal:
- Explain the timeline for refunds for each possible payment type
- Or summarise the timelines into a generic statement that covers all
- locate the best place/means of conveying

[2022-11-23 22:21] PCC199 opened #14391 "Relationships Sprint 15.4a Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Add release # to this ticket
- [ ] Update version numbers in the code being released and list them here:
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Dev to ensure that the commit list is r

[2022-11-23 22:23] PatrickAHeath commented on #14035
Check with Doug as I think he had looked into what LTSA calls and responses look like.

P

From: mstanton1 ***@***.***>
Sent: Wednesday, November 23, 2022 1:31 PM
To: bcgov/entity ***@***.***>
Cc: Heath, Patrick 1 CITZ:EX ***@***.***>; Mention ***@***.***>
Subject: Re: [bcgov/entity] LTSA PID lookup error handling (Issue #14035)

[EXTERNAL] This email came from an external source. Only open attach

[2022-11-23 22:33] JohnamLane opened #14392 "Ensure Name Request and NameX can accommodate all the new refund statuses"
Once new refund feedback statuses are implemented we will want to do the following:

*Name Request*
- Ensure new statuses don't break existing functionality
- Ensure all receipts presented to clients still work
- Determine if there's a nice way to show all of the refunds statuses to clients while refunds are in progress/complete

*NameX*
- Ensure new statuses don't break existing functionality
- D

[2022-11-23 22:48] seeker25 opened #14393 "Create Jupyter Notebook to query over routing slips in CAS"
Create Jupyter Notebook to query over routing slips in CAS

I've noticed some people have just been changing the database for routing slips and not updating CAS.

This needs to be done.

[2022-11-23 22:54] ChasBoucher commented on #14311
@mstanton1 @cameron-eyds   I have picked up the ticket.  It may be a duplicate to 14175 and 14177..  I will test..

[2022-11-23 23:00] cameron-eyds commented on #14311
@ChasBoucher Sounds good, thank you!

[2022-11-23 23:02] chdivyareddy opened #14394 "UI - Error message displayed multiple times for a single group"
- [x] When an existing group with multiple owners are deleted, then the error message is being displayed multiple times within the group:

- Here in the screenshot below, Group1 had 3 owners and by deleting the third owner in the group, the error message is displayed 3 times:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f1738a5a-3c70-48d7-b1a5-1fe6160711ab)

- [ ] Whe

[2022-11-23 23:04] mstanton1 commented on #14035
@doug-lovett do you have a list of the LTSA errors that can be thrown when we do the PID lookup? I'm hoping to create a UI Design ticket and the information on what could error would be needed first.

If not, I can work with Catherine on finding that information.

[2022-11-23 23:05] mstanton1 commented on #14011
Thank you @forgeuxGH5

Closing based upon the comment above. If a need to inform users of this difference arises we can revisit where that information should land and create a new ticket.

[2022-11-23 23:05] #14011 closed

[2022-11-23 23:12] ethantspitt opened #14395 "UI Design - Client views refund statuses"
*Assumptions*
- This will be an enhancement of the existing account-level transaction list
- For refunds, some payment methods (PAD, BCOL) do not currently have status feedback necessary to support this feature.
- This work will proceed prior to implementing a refund UI, and will not contain the intermediate statuses needed to support request/approval flow.

**Scenario 1**
GIVEN I am a client
AND

[2022-11-23 23:14] #13532 closed

[2022-11-23 23:16] #13295 closed

[2022-11-23 23:38] doug-lovett commented on #14035
@mstanton1 we have a wrapped ltsa api service running for our look up. From 11682:
Returns a 404 if PID does not exist. Returns a 400 status if the PID is an invalid format. Any other errors are considered LTSA integration/system errors.

The "any other errors" above are any http status code 500 errors which are ltsa internal. If you want specific codes I should be able to dig those up from the ap

[2022-11-23 23:44] tlebedovich commented on #14360
@mstanton1 @forgeuxGH5 - we should review this with you melissa to make sure you are on board with the design updates before grooming

[2022-11-24 00:00] tlebedovich commented on #13212
all outputs have already moved over to new system and have all the other search output update tickets so I think we can close this one. Not even sure what this one was for.

[2022-11-24 00:09] tlebedovich opened #14396 "VERIFY - Bug - Missing Interest Text in Group header bars (Transfer and Registration)"
If the user creates a group and adds text into the Interest text field, that text should display in the group row header but it no longer is:

![Screen Shot 2022-11-23 at 4.06.35 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/85566299-5cd5-4566-8f53-b18820c4a7cc)

![Screen Shot 2022-11-23 at 4.06.41 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/16326b

[2022-11-24 00:13] tlebedovich commented on #14396
@forgeuxGH5 logged this bug

[2022-11-24 00:21] mstanton1 commented on #13212
Closing as per the comment above.

[2022-11-24 00:21] #13212 closed

[2022-11-24 00:26] mstanton1 commented on #14035
@doug-lovett thank you! I think the three error cases should be sufficient. I will use the information above to create a linked design ticket.

[2022-11-24 00:35] mstanton1 opened #14397 "UI Design - LTSA PID lookup error handling"
GIVEN I am entering a PID
WHEN I enter the value in the modernized system and the PID lookup takes place
THEN a call is made to LTSA
AND if there is an error I am presented with feedback

Error Scenarios
1) PID does not exist
2) PID format is invalid
3) Any other errors - which are 500 errors that are LTSA internal. From LTSA documentation the only 50x response is 503 - service unavailable.

@forg

[2022-11-24 00:58] ChasBoucher opened #14398 "Unable to Review and Confirm(submit) a MHRTransfer draft."
**Describe the bug in current situation**

When trying to Review and Confirm a transfer that has been saved as a draft, no message is returned and the transfer is not saved.

**Link bug to the User Story**

**Impact of this bug**
Unable to save a transfer draft.
**Chance of Occurring (high/medium/low/very low)**

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**

1

[2022-11-24 05:56] Mihai-QuickSilverDev opened #14399 "Validate the charge model for all corporations filings"
- [ ] Corporations Alteration - if a transaction has multiple filings, and each filing qualify to charge a Service Fee of $1.50, are we going to charge multiple service fees per transaction?

[2022-11-24 06:42] Mihai-QuickSilverDev opened #14400 "BE - Court Order Filing - Apply changes to match the new entity types ULC, CCC and BC"
- [ ] The BEN court order Staff filing needs to be extended to ULC, CCC, and BC.

- [ ] Based on findings, determine what other tickets are needed.

[2022-11-24 06:44] Mihai-QuickSilverDev commented on #14264
Duplicate, closing down.

[2022-11-24 06:44] #14264 closed

[2022-11-24 06:52] Mihai-QuickSilverDev commented on #14362
Waiting on reply from IT Ops/Brett Bassidy, as to what fields, when updated, should trigger a BN message.

[2022-11-24 07:05] Mihai-QuickSilverDev opened #14401 "Verify - Edit UI - Error message when filling the "Name Translation" field"
- [ ] BEN Change Filing - An error message pops-up when filling the "Name Translation" field, although there is nothing wrong with the text.

- [ ] "Done" button becomes ineffective - you click it and nothing happens.

- [ ] If you click "Cancel New Name", you are presented with the option to save the new name, and is saving just fine.

![image.png](https://images.zenhubusercontent.com/62741a39920

[2022-11-24 16:22] ChasBoucher commented on #14175
I just saw this myself while looking at #14311... Looking at both.

[2022-11-24 16:30] fareenr opened #14402 "Update webpages including BC ROS hrs of availability for BC Assessment - post-release"

[2022-11-24 16:30] #14402 closed

[2022-11-24 16:31] lambert-alex commented on #12258
So I did it again following the steps, if you look at the filing json for the original COD that wasn't working the header.date = "2022-05-17T16:26:45.983631+00:00" header.effectiveDate = "2022-05-17T16:27:12.198295+00:00" and the changeOfDirectors.directors.appointmentDate = "2022-01-13"

The COD I did yesterday filing json where I set the filing to 2022-11-22 and the  header.date = "2022-11-23T22

[2022-11-24 16:32] fareenr commented on #14200
Request update of BC ROS hours of availability webpage:
BC Assessment is available 24/7 except Sunday mornings between 6 am - 9 am PST for regularly scheduled maintenance.

[2022-11-24 16:33] Mihai-QuickSilverDev commented on #14314
I have tested the issues reported by @severinbeauvais and they appear fixed now.
I have started from the user dashboard page, both from the phone and email icons, and I was able to update the email and phone number with no issue.

[2022-11-24 16:45] cameron-eyds commented on #13993
This ticket was already in progress, but will be officially starting on these now.

[2022-11-24 16:46] severinbeauvais commented on #12258
Thanks for the additional look and digging.

Sounds good. I agree to close this.

[2022-11-24 16:50] mstanton1 commented on #13121
All tasks under this epic were previously closed. Moving to closed.

[2022-11-24 16:50] #13121 closed

[2022-11-24 16:58] severinbeauvais commented on #14314
I tested this again with a few businesses.

This seems to work correctly when the business has an affiliation (eg, https://dev.bcregistry.ca/business/CP1002539).

However, this doesn't work when the business is not affiliated (eg, https://dev.bcregistry.ca/business/CP0001832). I guess that makes sense since there is no user account to update. Should we disable those Change buttons in that scenario

[2022-11-24 17:04] Mihai-QuickSilverDev commented on #14314
I have tried the second one, and it works just fine.
Just to clarify, this ticket was started for Staff access.

[2022-11-24 17:14] lambert-alex commented on #12258
Closing after verifying that the work was completed in [10911](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/10911)

[2022-11-24 17:14] #12258 closed

[2022-11-24 17:14] severinbeauvais commented on #14314
Now it works for me, too. I dunno, what you do want to do with this ticket then?

@seeker25 Is there magic that converts from my (staff) account (3040) to the business' account?

[2022-11-24 17:16] severinbeauvais commented on #14348
I just tried this with BCREG0001/asdfsd3333 and it looks like it worked:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/722890a4-2016-4cde-a0bf-ca2bfdd60678)

[2022-11-24 17:23] Mihai-QuickSilverDev commented on #14314
I think we are good to close it for now. Brought it to Grooming for team visibility.

[2022-11-24 17:27] #14322 closed

[2022-11-24 17:48] severinbeauvais opened #14403 "UI: check UIs for conditional NR code"
A conditional NR fix was recently implemented in #14364. There may be other code that needs to be updated:

- [ ] Check Filings UI
- [ ] Check Create UI

[2022-11-24 17:54] seeker25 commented on #14314
PUT `https://auth-api-dev.apps.silver.devops.gov.bc.ca/api/v1/entities/CP0001832/contacts`
PAYLOAD - {"email":"mihai.dinu@gov.bc.ca","phone":"(778) 996-7593","phoneExtension":""}

Looks like:
`find_by_business_identifier` ->
``
    if user_from_context.is_staff():
        _check_for_roles(STAFF, kwargs)
[code]

[2022-11-24 17:58] lambert-alex commented on #14145
From stand up today the agreement files are already in dev and they are suitable as placeholders until the new agreement pdfs are created.  Also [14285](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/14285) covers the work for new agreement pdfs.

So I think we can unblock this ticket and move it along.

[2022-11-24 18:02] #14314 closed

[2022-11-24 18:11] seeker25 opened #14404 "AUTH - Data fix needed - for users with no idp_userid in users table"
https://sentry.io/organizations/registries/issues/3765495706/?alert_rule_id=849366&alert_timestamp=1669312262110&alert_type=email&environment=production&project=1762954&referrer=alert_email

Looks like there are about 300 that need to be fixed

`select * from users where idp_userid is null and type <> 'ANONYMOUS_USER' and login_source in ('BCSC', 'IDIR');`

[2022-11-24 18:15] Mihai-QuickSilverDev opened #14405 "Filings UI - Upload Court Order document"
**Design in UXPin:**
https://preview.uxpin.com/adad6cc86ddecdf6d44213dd12382b072ff77529#/pages/159917157/simulate/sitemap

- [x] add file upload component (see Create or Edit UI for sample code)
   - import necessary libraries
   - interface with Minio
   - need a config key/url for Dev/Test/Prod? or can use key/url from Create/Edit UI?
- [x] update validation
   - file size only
- [x] update JSON

[2022-11-24 18:17] severinbeauvais commented on #14349
I tested this on https://dev.bcregistry.ca/business/BC0871114 (BCREG0020) and it worked.

However, I noticed when CHANGING a name translation that the input text field does not initially show the old name translation, so it looks like I'm entering a new translation. Is this the bug you refer to?

[2022-11-24 18:18] Mihai-QuickSilverDev opened #14406 "UI Design for uploading Court Order document"
- [ ] Decision on file types and size. MVP approach.

**Preliminary Design Scope**
- Staff user needs to upload multiple files when filing a Court Order. - usually is only one document with multiple pages.
- Staff user needs to change the list of files to be uploaded before filing a Court Order filing. - usually is only one document with multiple pages.
- Staff and regular users need to be able to

[2022-11-24 18:26] jdyck-fw commented on #14400
TImebox this at a 2 and create tickets for extra work as needed.

[2022-11-24 18:29] argush3 commented on #14400
currently a CCC returns the following when we try to file a court order filing as staff in dev.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/3668fe97-43ff-4b23-98a2-cc2978591ea5)

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/3aa0a8f3-3e5d-44bd-9cb0-1f76b78c3f11)

[2022-11-24 18:32] thorwolpert opened #14407 "Setup & Onboard"
Setup and onboard the new analytics lead for the existing systems, services, etc.

[2022-11-24 18:33] jdyck-fw commented on #14268
@PCC199 @JohnamLane - A ticket here for Relationships

[2022-11-24 18:34] thorwolpert opened #14408 "agile-tracking-admin"
Provide access to:
- [x] Entities Repo
- [x] Analytics ZenHub board ( should we look at GitHub projects)
- [x] Add the Analytics team on bcgov-registries repo
- [x] Add to the OPs repo, to gain access to the Jupyter notebooks there

[2022-11-24 18:38] thorwolpert opened #14409 "Setup local Dev"
Setup local development environment (as a Windows user)
- [x] install WSL
- [x] install VSCode + remote dev utilities
- [ ] verify or change VPN access
- [ ] add access to OCS hosted DBs
- [x] add access to GCP hosted DBs
- [ ] add access to mainframe DBs ?
- [ ] add access to Internal Analytics projects in GCP
- [x] install iap proxies

[2022-11-24 18:40] Mihai-QuickSilverDev commented on #14265
Work not needed.

[2022-11-24 18:40] #14265 closed

[2022-11-24 18:41] eve-git commented on #14342
@Mihai-QuickSilverDev I am not clear if it is a bug? How long a SP/GP name is? Thanks

[2022-11-24 18:46] argush3 commented on #14400
No work is required for this ticket.  It has been confirmed that we can file the court order filing to completion in DEV.  A fee code needs to be added in Prod for CCC.  @Mihai-QuickSilverDev please add the fee code for CCCs to Prod for court order filing when you have a minute.

[2022-11-24 18:49] chdivyareddy commented on #14039
Verified!

- Phone number and contact display N/A if no value:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/dd53e41f-7df6-43b2-b430-aa4babf2383e)

- Unit notes with phone number and contact:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b8a3870a-387e-4548-9aa4-1251aca15905)

[2022-11-24 18:51] Mihai-QuickSilverDev opened #14410 "BE - Corps Alteration Correction"
- [x] enable the correction to be filed (schema? validation?)
- [ ] link to existing tickets for Filer issues
- [x] check fee codes; add notes to release ticket as needed

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Login  as staff
2. search filling BC0871239
3. Try to file staff correction
4. See  an error ![Screenshot 2022-11-21 191506.png](https://images.zenhubusercontent.com/634

[2022-11-24 18:58] #14400 closed

[2022-11-24 19:01] mstanton1 opened #14411 "API - Update Group Numbering to Match UI for all MHR Outputs"
GIVEN I am a MHR user or staff
WHEN I view a MHR output that has home ownership in groups
THEN the group ownership is shown starting at group 1 and incrementing from oldest to newest on outputs for search, transfer, and registration

[2022-11-24 19:04] severinbeauvais commented on #14271
This was at least partly implemented by #14164. It needs to be verified if there's anything left to fully complete (and view) a COA.

[2022-11-24 19:04] severinbeauvais commented on #14272
This was at least partly implemented by #14164. It needs to be verified if there's anything left to fully complete (and view) a COD.

[2022-11-24 19:08] mstanton1 commented on #14411
FYI @tlebedovich

[2022-11-24 19:12] severinbeauvais commented on #14350
Hints to developer:
- see FilingHistoryList.vue:correctThisFiling()
- see TodoList.vue:doResumeFiling()

[2022-11-24 19:16] severinbeauvais commented on #14284
@ChrisGabel23 Is this actually a FE ticket?

@lambert-alex @lewischenstudio Did one of you fix this already?

[2022-11-24 19:21] ChrisGabel23 commented on #14284
@severinbeauvais When Vysakh showed me what needed to be done, he was saying there was a FE and BE component. The BE part was changing the validation that was done.

[2022-11-24 19:30] severinbeauvais commented on #14284
That may have already been done. If not, please update the To Do checkboxes above.

[2022-11-24 19:38] JohnamLane opened #14412 "Explore the use of ODS (operational data store) extract from CAS as a source of feedback"
ODS is a daily extract of pay information that is exported as a DB.

First steps:
- Enquire to see how/if we can access this

[2022-11-24 19:53] severinbeauvais commented on #13887
### Test Notes

Feature tests:
1. can only Replace a proprietor-org for a Sole Prop when logged in as staff
2. the Add Business or Corporation form displays and the old proprietor-org does not display
3. "I confirm documents" checkbox is required to submit the form
4. can search for a new business
5. can select Business or Corporation unregistered in BC
6. clicking Cancel reverts to showing origin

[2022-11-24 20:13] JohnamLane commented on #14268
@Mihai-QuickSilverDev Is this in the initial search result list? or is this when viewing a single business?
Also, is there any context as to who has requested this and why and when they expect it to be done?
We cannot act quickly on dependencies without these details.

[2022-11-24 20:18] Mihai-QuickSilverDev commented on #14268
@yuisotozaki Looping Yui in, as there could be influences from the design pov.

[2022-11-24 20:31] tlebedovich commented on #14389
@forgeuxGH5 - fyi I found a way to word it so we can use the same Delete Group modal for all circumstances in Transfer app. see above.

[2022-11-24 20:44] lambert-alex commented on #14284
The FE part has been completed as part of [14145](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/14145) I have not done anything with this on the BE so that should be still need work or be checked.

[2022-11-24 21:00] #6410 closed

[2022-11-24 21:08] lewischenstudio commented on #14028
@amichard @thorwolpert Can you please add a configuration key for the OrgBook URL, aka, https://orgbook.gov.bc.ca/, to the [BC Registry Github repository](https://github.com/bcgov/bcregistry) and the yaml files? I can use the config key for the OrgBook URL after the yaml files are updated. Much obliged.

[2022-11-24 21:14] #14220 closed

[2022-11-24 21:20] pwei1018 commented on #14067
Duplicated with https://github.com/bcgov/entity/issues/14366

[2022-11-24 21:20] #14067 closed

[2022-11-24 21:25] argush3 commented on #14281
Was able to increase performance significantly after doing the things below.  Note that the previous SP/GP pipeline was used as a starting point.

- Updated to SP/GP pipeline Prefect 2
- Tested using prefect hybrid mode such that orchestration workload is handled in the cloud.  This is probably one of the largest factors that resulted in the significant performance increases.  Previously the orche

[2022-11-24 21:29] Mihai-QuickSilverDev commented on #14268
@JohnamLane Hi John, I have uploaded a formal requirements document.

- The functionality is in place for Benefit corporations.

- We do not need this functionality for ULC, CCC and BC until the March 2023 go live.

- I will coordinate with Travis to temporarily open the search filter in Dev or Test to add these new entity types, as there is a chance that no further work is needed.

[2022-11-24 21:39] thorwolpert opened #14413 "Internal self- serve warehouse reporting analytics"

[2022-11-24 21:39] eve-git commented on #6212
The first step of the bug fix need to update requestTypeRules.csv and set Corp Num Required = TRUE for restoration requests.
Once Corp Num Required = TRUE, the corp number is editable and can be saved. May need to discuss with UI or business if corp number needs to be editable in the case.

Also, the most hard part is webpack, node-sass and dependences need to be upgrade upon to the error message

[2022-11-24 21:41] thorwolpert opened #14414 "Spike: Determine which report to do first"
Determine the first notebook to create:
- [x] #14415
- [ ] #14416

[2022-11-24 21:41] chdivyareddy commented on #14177
@owillborn , found a new bug in the edit mode by switching radio buttons and clicking on done:

- [ ] When 2 individual SP is added manually with different names but with the same address, then click the edit button for the second SP and switch the radio button to Business and by clicking on the done button triggers the' Duplicate' secured party modal instead of an error message under the 'Busines

[2022-11-24 21:42] thorwolpert opened #14415 "Gather all stats from Linda"
- [ ] Get the stats Linda was requesting from the Teams.
- [ ] Put that into a notebook
- [ ] Demo the output

[2022-11-24 21:43] argush3 commented on #14280
@droberts27 As per our discussion at the Corps data migration kick-off meeting, I'm going to leave this work with you.  Let me know if you need anything from me.  cc: @Mihai-QuickSilverDev

[2022-11-24 21:44] thorwolpert opened #14416 "Adding stats information on main application - BC registries"
- [ ] #14476
- [x] #14480
- [ ] #14478

visual design ticket #15107 (not ready for dev)

[2022-11-24 21:44] argush3 commented on #14279
@droberts27 As per our discussion at the Corps data migration kick-off meeting, I'm going to leave this work with you. Let me know if you need anything from me. cc: @Mihai-QuickSilverDev

[2022-11-24 21:46] eve-git commented on #10341
It is a bug in auth UI.
nr.furnished = 'Y' should be added to the condition to show "Use this Name Request Now"

[2022-11-24 21:46] argush3 opened #14417 "ULC/CCC/BC pipeline - update to support IA filings"
Update corp pipeline to support following IA filing types in COLIN.  Note that the IA filing type=BEINC will be handled in a separate ticket.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/e2230e28-b2bd-4d13-bf36-4c8c33334a64)

[2022-11-24 21:46] argush3 opened #14418 "Update ULC/CCC/BC pipeline to support AR filings"

[2022-11-24 21:47] #4798 closed

[2022-11-24 21:47] #4799 closed

[2022-11-24 21:48] #4800 closed

[2022-11-24 21:50] argush3 opened #14419 "Update ULC/CCC/BC pipeline to support alteration/change filings"

[2022-11-24 21:50] argush3 opened #14420 "Update ULC/CCC/BC pipeline to support correction filings"

[2022-11-24 21:50] argush3 opened #14421 "Verify - ULC/CCC/BC pipeline - update to support dissolution filings"

[2022-11-24 21:51] argush3 opened #14422 "Update ULC/CCC/BC pipeline to support almalgamation filings"

[2022-11-24 21:52] argush3 opened #14423 "Verify - ULC/CCC/BC pipeline - update to support put back on filings"
@dylan644 will do research on this ticket.

[2022-11-24 22:15] owillborn opened #14424 "Bug - Duplicate registration added to PPR dashboard table when added by search"
GIVEN I am a user on the PPR dashboard,
WHEN I search for a PPR registration via the "Retrieve an existing registration to add to your table" text slot,
AND I accept the pop-up prompt to add the registration to the table,
THEN two instances of the searched registration are displayed in the table.

![image.png](https://images.zenhubusercontent.com/6317b356e1c2473749d0e67b/6cc19a22-2dc2-439b-a2c6-26

[2022-11-24 22:28] JohnamLane commented on #14352
going to update the banner instead.

[2022-11-24 22:28] #14352 closed

[2022-11-24 22:40] #13313 closed

[2022-11-24 22:42] #14347 closed

[2022-11-24 22:51] vysakh-menon-aot commented on #12503
This ticket is no longer required.

[2022-11-24 22:56] mstanton1 commented on #14177
@chdivyareddy I'd like to do this after we release what we have. I still think this needs to be fixed promptly - but if @owillborn can hold off on merging anything else in until after we release the bulk of this we can avoid having to wait for the fix, merge, testing etc and safeguard our ability to release early tomorrow.

[2022-11-24 22:56] JohnamLane commented on #12373
@AshnaMehta Please determine if the field is missing altogether or just not pre-populated.

[2022-11-24 22:59] tlebedovich commented on #14175
@chdivyareddy - my bug logged here looks fixed now, will move to RFQA.

[2022-11-24 23:00] owillborn opened #14425 "UI - MHR - Functionality to add Registration to dashboard using child or parent document registration number"
**Adding parent or child registrations to MHR table using the Document Registration Number**

**This is for the MHR Only**

**AC/**

Update "Retrieve an existing ..." search field:
- [ ]  Update default field label to "MHR Number or Document Registration Number" (may need to increase field width and adjust spacing accordingly)
- [ ]  Update the search field validation to no longer allow letters or

[2022-11-24 23:07] severinbeauvais commented on #13887
@yuisotozaki This feature is now deployed to Dev.

I'm still working on some unit tests but they won't affect any functional code.

[2022-11-24 23:07] tlebedovich commented on #14177
@mstanton1 @chdivyareddy - the bug I logged above looks fixed now.

If you are making a follow up bug ticket for Divya's new bug above, something else to note and maybe add as a follow up is the duplicate address check can be circumvented if you enter the address in a slightly different way. For example, the same address displays differently in the PPR Code look up then it does in the Canada Post

[2022-11-24 23:09] tlebedovich commented on #14311
@owillborn @mstanton1 - Seems to work well for me, with some small design tweaks needed but if you want to create a follow up ticket for the design tweaks I can move this along to RFQA so it doesn't hold up the release.

**very minor UXA design feedback:**

![Screen Shot 2022-11-24 at 2.54.53 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/199e25bc-f468-449b-ae44-69eff318eb34

[2022-11-24 23:11] kialj876 commented on #14012
It's hard to tell what happened with the ops issue because the data was changed directly for them a bit, but I think they were simply in a pending approval state when they talked to ops originally. I can see their current membership row was not approved until after the ops ticket was created (there may be missing activity logs to support the data fixes that happened however)

I've tried adding and

[2022-11-24 23:35] chdivyareddy commented on #14311
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2bb63a04-974d-4eb9-9a3a-bfee5c2e6c44)

[2022-11-24 23:36] yuisotozaki commented on #13887
Verified in dev. Ready for QA.

[2022-11-24 23:37] tlebedovich commented on #14288
looks great, moving to RFQA

[2022-11-24 23:38] tlebedovich commented on #13964
@forgeuxGH5 - do you want to take a stab UXAing this or want me to?

[2022-11-24 23:40] mstanton1 opened #14426 "UI - Duplicate Secured Party modal instead of error message under 'Business Legal Name'"
**Describe the bug in current situation**
When 2 individual SP is added manually with different names but with the same address, then click the edit button for the second SP and switch the radio button to Business and by clicking on the done button triggers the' Duplicate' secured party modal instead of an error message under the 'Business Legal Name'

**Link bug to the User Story**

**Impact of t

[2022-11-24 23:40] mstanton1 commented on #14426
@tlebedovich do you have a comp or description that can be added to show the expected behavior?

[2022-11-24 23:54] mstanton1 commented on #14177
Created 14426 for the issue identified by @chdivyareddy . Will check with policy to identify the parameters around exact match for address before creating a bug for the issue raised by @tlebedovich . I believe we should be able to strip the punctuation when comparing, but am not sure about something like TH. If we are altering that we'd also run risks we remove TH in a case where it isn't associat

[2022-11-24 23:55] tlebedovich commented on #13806
@mstanton1 - additional items that were in here have been completed so this should be a quick and easy ticket now - estimate could be lowered

[2022-11-25 00:03] tlebedovich commented on #13994
@cameron-eyds - Scott's feedback above looks good.

I spy with my eagle eye... few additional small visual items - could you make a note and finish these in a current ticket so I can move this along to RFQA?

- [ ] body text for these should be #495057. Can you make a note and complete in one of your current tickets so I can move this one along?

![Screen Shot 2022-11-24 at 3.39.13 PM.png](https:/

[2022-11-25 00:06] cameron-eyds commented on #13994
Absolutely! I'm currently working on UXA updates across the board. 100% will get these too. Perhaps we put the ticket back into progress and once i've made the changes i can move to staging or wherever you prefer. Just so i don't lose track!

[2022-11-25 00:07] tlebedovich commented on #13994
Done!

[2022-11-25 00:13] mstanton1 commented on #13806
Thank you @tlebedovich pinned to the top of grooming to review with the team:)

[2022-11-25 00:19] tlebedovich commented on #14426
@chdivyareddy - think this was your feedback - can you add expected behaviour screenshot/info to description above?

[2022-11-25 00:40] chdivyareddy commented on #14426
@mstanton1 @tlebedovich , updated the description with the expected behavior screenshot, thanks!!

[2022-11-25 01:51] #14012 closed

[2022-11-25 02:46] chdivyareddy commented on #14175
@owillborn , Please take a look at the following scenario which is blocking the user from filing an Amendment:

**Steps to Reproduce:**

- File a PPR registration with minimum of one Business SP with/without code lookup
- Select the registration to file an Amendment
- Navigate to the secured parties table
- Add an Individual SP manually and hit done button
- It doesn't display any error message an

[2022-11-25 06:58] Mihai-QuickSilverDev opened #14427 "Unable to affiliate firms to account in Production"
- [ ] Apply functionality to compare trim(database_field)=trim(screen_entry)

**Contact information**
- Staff Name: Julie Harding
- Staff Email: julie.harding@gov.bc.ca
- Team Lead: @elizabethanneespinosa
- Senior Analyst: ME
@bcregmark
-----------------

#### Issue Description

A paralegal who was a team member for the "NORTON ROSE FULBRIGHT CANADA LLP" BC business registry account number 773 was

[2022-11-25 07:02] Mihai-QuickSilverDev commented on #14427
@argush3 Would it be possible to add the following firms to Test, which would facilitate work on this ticket:

FM0612053
FM0858588
FM0734195 Advanced Care Specialty Pharmacy
FM0868416 McKesson Specialty Pharmacy (BC)
FM0868418 McKesson SPS Pharmacy (BC)
@vysakh-menon @severinbeauvais

[2022-11-25 07:31] Mihai-QuickSilverDev opened #14428 "Firms - Change Filing - Cannot select "Delivery Address same as Mailing Address""
Steps to reproduce the bug:
1. Login as Staff in Dev
2. Bring up a firm record - FM1019670 - GP
3. Start a change filing
4. Add a new Partner - a corporation
5. After entering the Mailing address in BC, Canada, the button to select "Delivery Address same as Mailing Address" is unclickable.

![image.png](https://images.zenhubusercontent.com/62741a399202cf3570f9fd40/fccbc7cb-0951-4164-8e4a-71285ade9

[2022-11-25 16:01] seeker25 commented on #4178
![image](https://user-images.githubusercontent.com/3484109/204021401-96c72105-36d2-4fc5-a129-a7b0f59dbc30.png)

Auth-web -^

[2022-11-25 16:06] Mihai-QuickSilverDev opened #14429 "Filings UI - Add Feedback Survey to Incorporation Application for BEN, ULC, CCC, BC"
### To do:

- [x] remove HOTJAR_ID for dev/test/prod for Create/Edit/Filings UI (in 1Password)
- [x] add HOTJAR_ID for Auth Web (in 1Password) - dev
- [x] add HOTJAR_ID for Auth Web (in 1Password) - test
- [x] add HOTJAR_ID for Auth Web (in 1Password) - prod
- [x] add FILING_SURVEY_ID (in 1Password) - dev
- [x] add FILING_SURVEY_ID (in 1Password) - test
- [x] add FILING_SURVEY_ID (in 1Password) -

[2022-11-25 16:07] Mihai-QuickSilverDev opened #14430 "Feedback Survey - Schema - Verify database requirements"

[2022-11-25 16:09] #14311 closed

[2022-11-25 16:11] Mihai-QuickSilverDev opened #14431 "UI Design - Entities Filings Survey"
These are the potential survey questions:

1. Do you agree that [app name] was easy to use?
2. Do you agree that the information and instructions provided by [app name] were easy to follow and understand?
3. If you contacted the [app name] Help Desk, how satisfied are you with the assistance provided?
4. Overall, how satisfied are you with [app name]?
5. Adding a Comments text box - MD

Sample pop

[2022-11-25 16:18] magszymanski commented on #12728
I got some samples of PROD old world outputs that I edit with fake data. @gprimeau how are you doing with the CMS page?

[2022-11-25 16:19] ethantspitt commented on #13789
Verified in dev. Ready for QA.

[2022-11-25 16:38] sarahelz19 opened #14432 "OCM - COLIN Transition Training Plan - Ongoing"
The COLIN Transition of Corporations to Modernization will introduce multiple new processes and factors for training across multiple audiences
The training plan will:
- [ ] Identify the training audiences
- { ] define the training method - e.g. train the trainer
- [ ] define the delivery materials e.g. online/in person
-

[2022-11-25 16:53] argush3 commented on #14427
@Mihai-QuickSilverDev the firms you mentioned have been loaded into Test now.

[2022-11-25 16:55] #14177 closed

[2022-11-25 16:55] #14083 closed

[2022-11-25 16:56] Mihai-QuickSilverDev opened #14433 "Feedback Survey Reports"

[2022-11-25 16:56] chdivyareddy commented on #13123
The folio number on the outputs is displayed as expected, but Folio on the search history table is not accurate.

There is a separate ticket to fix the issue in #12498, will add the current behavior to the respective ticket.

- Entered Folio number before the search was initiated: 8373827
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a0f93be8-3106-4f18-b463-b746941dd53

[2022-11-25 17:13] tlebedovich commented on #14411
@forgeuxGH5 - just wanted to confirm you are still ok with the above approach Scott, (versus removing the numbers in the outputs), after getting more information from Doug.

[2022-11-25 17:22] tlebedovich opened #14434 "UI Design - Updated Values to show for Home and Group Tenancy in UI/Outputs"
A lot of research, revisions, meetings, discussions and we have our approved approach for showing different Tenancy Values in the UI and Outputs for MHR

------

### Updated Home and Group Tenancy Values Matrix:
(including regular owners and executors/trustees/admins)
https://onedrive.live.com/view.aspx?resid=E52B0821EC98A357!24642&ithint=file%2cxlsx&authkey=!AJzndSqdSsLGmgk

------

### Updated O

[2022-11-25 17:25] severinbeauvais commented on #14365
See also #10318 -- we may want to tackle all these tickets at the same time.

cc @seeker25

[2022-11-25 17:26] severinbeauvais commented on #14365
See also #10385.

[2022-11-25 17:44] severinbeauvais commented on #14066
The UI work is blocked by Auth API work.

Also, it would be nice to have an approved UI design around this. @yuisotozaki
- insert text input field
- prepopulate with current user name?
- for staff only? (ie, fall back to fixed name for non-staff)

[2022-11-25 17:53] #13526 closed

[2022-11-25 17:54] mstanton1 commented on #11369
Closing as this is not relevant at the moment. To revisit when this goes out to users.

[2022-11-25 17:54] #11369 closed

[2022-11-25 17:55] mstanton1 commented on #14093
@catherinecarlson I can't recall the outcome of this inquiry. can you please provide an update in the ticket?

[2022-11-25 18:04] mstanton1 commented on #14205
Currently we have one address field in DB2. In the UI it appears as five lines, but in the DB it is concatenated. We could collect a delivery address and store it in the one field but it would be challenging to parse, especially in the display if we are trying to determine which part of the legacy address block should appear in the delivery instruction field.

Ideally, we wait until we shift to po

[2022-11-25 18:14] #13123 closed

[2022-11-25 18:17] severinbeauvais commented on #10318
This ticket should be obsolete since a feature was recently implemented where a NR can be affiliated with multiple accounts. Please verify.

[2022-11-25 18:26] seeker25 opened #14435 "PAY-API/PAY-JOBS - CFS Account missing for invoices - Due to payment switching"
Traceback (most recent call last):
  File "/opt/app-root/src/reconciliations/worker.py", line 73, in cb_subscription_handler
    await process_event(event_message, FLASK_APP)
  File "/opt/app-root/src/reconciliations/worker.py", line 58, in process_event
    await reconcile_payments(event_message)
  File "/opt/app-root/src/reconciliations/payment_reconciliations.py", line 232, in reconcile_payment

[2022-11-25 18:28] yuisotozaki commented on #14145
Findings in dev pertaining to this ticket.
1. There were errors in the original PDF filenames. They all should have "..._incorporation_agreement.pdf" rather than "..._corporation_agreement.pdf".
2. For CCC, step 3 should only contain the custom one with a checkbox.

[2022-11-25 18:31] severinbeauvais commented on #10385
^^ sorry, wrong link (14365), please ignore

[2022-11-25 18:41] severinbeauvais commented on #12668
@Mihai-QuickSilverDev Are you OK to close this epic, since all issues are now closed?

[2022-11-25 18:48] Mihai-QuickSilverDev commented on #13778
To follow-up with Linda where this discussion stands at.

[2022-11-25 18:50] tlebedovich commented on #13783
@forgeuxGH5 - I have added some meeting notes to this - I will be updating comps/matrix with the values to show in UI/Outputs in ticket #14434

[2022-11-25 18:51] #13520 closed

[2022-11-25 18:52] tlebedovich commented on #14203
I have closed #13520, which was just updates to the instructional text and we can move forward with this ticket.

[2022-11-25 18:53] tlebedovich commented on #13520
OUTDATED - Refer to new ticket #14203

[2022-11-25 18:54] tlebedovich commented on #14203
Policy Note from Kevin nov 25/22:

Further to the conversation during grooming on potential to convert apportionments to a common denominator:

I understand and share hesitancy about revising existing apportionments in the MHR database to a common denominator, but IMO we should also be able to revise the apportionments after the start of a transfer. For example, apportionments received from the AP

[2022-11-25 19:00] lambert-alex commented on #14145
Okay will update pdfs and ccc

[2022-11-25 19:09] severinbeauvais commented on #14325
I believe this was fixed by #14164.

[2022-11-25 19:13] mstanton1 opened #14436 "UI - UXA Feedback on Similar Secured Parties modal"
UXA of https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/14311 has identified the following minor changes.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/4363cc87-3bd6-4874-9d0a-fc3b86411796)

[2022-11-25 19:13] severinbeauvais opened #14437 "Edit UI: add support for BC/ULC/CCC alterations"
Currently getting this when trying to do a ULC change of business information (alteration):

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/5faf386b-01af-4578-93dd-7fb773e7d438)

- [x] This needs to be updated.
- [ ] Also check whether alteration can be filed successfully. If not, create new tickets in this epic.
- [x] Check for new entity types (ULC, CCC, BC).
- [ ] Ve

[2022-11-25 19:13] mstanton1 commented on #14311
@tlebedovich @chdivyareddy I created #14436 for the UXA feedback items. Thanks!

[2022-11-25 19:15] mstanton1 commented on #14426
Thank you!

[2022-11-25 19:19] severinbeauvais commented on #14275
Note that some BE work was already done to allow certain entity types for certain filings.

[2022-11-25 19:35] #13415 closed

[2022-11-25 19:36] mstanton1 commented on #8364
@JohnamLane this was created long ago when I had my hand in some payment related items. I'm going to unassign myself. Can you review and determine if this should still be on the board or closed?

[2022-11-25 19:38] severinbeauvais commented on #7692
_Comment from Sienna on Jan 12, 2022:_

Issue still occurring.
In the screenshot, you can see that when I enter an extra space after the NR it says it is invalid.
![Screen Shot 2022-01-12 at 12 43 16 PM](https://user-images.githubusercontent.com/53542700/149218621-1d2ad90c-60a1-43f8-9927-bdedcc0ee3a7.png)
We should allow everything specified in #7692. I believe this ticket was created a while ago

[2022-11-25 19:39] mstanton1 commented on #14255
This appears to be covered in the request sent to Ali to review the spreadsheet below to help determine rules for unit notes:

https://onedrive.live.com/view.aspx?resid=E52B0821EC98A357!24617&ithint=file,xlsx&authkey=!AGsk_T-db8T0f8M

Once a response is received we can determine next steps.

[2022-11-25 19:40] severinbeauvais opened #14438 "Auth Web - update validation on NR #"
See story for acceptance criteria. (Copy here if you desire.)

GIVEN I am a user on "Add an Existing Name Request" dialog
WHEN I copy and paste an NR#
THEN I won't get an error

(See epic for full acceptance criteria.)

[2022-11-25 19:42] severinbeauvais opened #14439 "Edit UI - update validation on NR #"
See story for acceptance criteria. (Copy here if you desire.)

GIVEN I am a user on "Change Business Name" component
WHEN I copy and paste a NR#
THEN I won't get an error

(See epic for full acceptance criteria.)

[2022-11-25 19:49] seeker25 commented on #14365
@lekshmimallika-aot for this one

[2022-11-25 20:33] lambert-alex commented on #14145
@yuisotozaki the requested changes have been made.

[2022-11-25 20:35] MatthewCai2002 opened #14440 "Spike - Screenscrape org filing history example"
Plan, design, and implement a working example of screen scraping 1 test org's filing history of all it's PDFs and storing them in a directory tree locally.

- [x] Investigate how to screen scrape in general
- [x] maybe make a small screen scraper to learn how it's down first
- [x] investigate what tools I would need to screen scrape COLIN
- [x] Ask David Roberts or Thayne Werdal for a test org
- [

[2022-11-25 20:40] chdivyareddy commented on #14426
Verified!

- An error message is triggered under 'Business Legal Name' when the user hits done button:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/bb84a3f8-263c-4b35-966f-9a3f051c5511)

[2022-11-25 20:51] chdivyareddy commented on #14175
Working as expected!

- I was able to add an Individual person and complete filing an Amendment successfully:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/0986b188-24ff-4b31-8926-80bfcb9537c4)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/04e3b890-5e13-47c9-9186-87defd568662)

[2022-11-25 21:17] eve-git commented on #13494
The bug fix is ready to test in DEV.

Steps:
1. login to an business account
2. go to Namerequest UI
3. create and pay for a NR for a SP/GP/DBA
4. get the NR approved
5. view the NR in Namerequest UI
6. go to DevTools (F12), Network tab, and change from "No throtting" to "Offline"
7. click the "Register Your Business" button

Before the bug fixed:
The screen stays and has no change. An error is in

[2022-11-25 21:20] fareenr opened #14441 "Update API dist list with high-volume Corps filing potential API users"

[2022-11-25 21:22] fareenr commented on #14358
24-Nov - update from John - timelines depend on data migration test for loading Corp search data. Specs will not be available until all Corps data in sandbox.

[2022-11-25 21:22] fareenr commented on #14358
Awaiting response from David for Business Registry API corps filing timelines for spec especially.

[2022-11-25 21:27] trishreimer commented on #14361
the bcol message needs to have different messaging...I can work with you on this message.

[2022-11-25 21:30] owillborn commented on #14175
YAY!

[2022-11-25 21:46] owillborn commented on #14044
@mstanton1 Does this apply to ALL searches, or just large ones?

[2022-11-25 21:53] dimak1 commented on #13683
Hi Doug, @doug-lovett for the issues number one, 'None' in the **username** column - it actually comes back from API `/mhr/api/v1/registrations?collapse=true`, here is a sample:
[code]
Could you please take a look?

[2022-11-25 22:08] mstanton1 opened #14442 "Gen Hometeam - Forms Work"

[2022-11-25 22:10] mstanton1 opened #14443 "Incorporation Forms"

[2022-11-25 22:10] mstanton1 opened #14444 "Societies Forms"

[2022-11-25 22:10] mstanton1 opened #14445 "PPR Forms"

[2022-11-25 22:14] mstanton1 opened #14446 "Gen Hometeam Work"

[2022-11-25 22:17] mstanton1 opened #14447 "Gen Hometeam - CMS Work"

[2022-11-25 22:18] mstanton1 opened #14448 "Gen Hometeam - Engagement Team"

[2022-11-25 22:18] mstanton1 opened #14449 "Gen Hometeam - Internal Coms"

[2022-11-25 22:18] mstanton1 opened #14450 "Gen Hometeam - Names"

[2022-11-25 22:37] tlebedovich commented on #12837
@dimak1 thanks, here is my UXA for you:

- [ ] Check that all Business Name Field validations are there - I noticed it wasn't triggering the required field validation if you leave it empty and click Done button. May also now be missing its max and allowed character error validations as well (check with doug for what these should be)

![Screen Shot 2022-11-25 at 2.18.56 PM.png](https://images.zenhu

[2022-11-25 22:41] tlebedovich commented on #12837
@doug-lovett - can you confirm the max characters for business name and if we except special characters or only letters and numbers for business names? these aren't in our matrix.

I know in Business Registry names can be up to 150 characters.

c/c @mstanton1 @dimak1 @PatrickAHeath

[2022-11-25 22:44] mstanton1 opened #14451 "Societies Amendments CMS Updates"

[2022-11-25 22:44] mstanton1 opened #14452 "MHR Remove Extension of Time Order from CMS"
Please remove the row in the fee schedule, under OTHER, for Extension of Time Order, Section 18 - $10.00

https://www2.gov.bc.ca/gov/content/housing-tenancy/owning-a-home/manufactured-home-registry#forms-fees

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/6b542f3c-5386-410e-9caa-cb93b1cd557e)

[2022-11-25 22:45] J-Merrick commented on #14362
@Mihai-QuickSilverDev Could we get a history for the source of this ticket? We have forwarded the request for this information to the home BA team and they are looking for context as per the email below.

Hi Jordan,

Yes, please create a ticket and assign it to the BA team.
Could you also ask Mihai what specific conversion scenario he is talking about?  There are a couple of different ones and the

[2022-11-25 22:54] mstanton1 opened #14453 "Incorporation CMS Updates"
- redo entire Incorporations CMS page
- provide training to Maribeth on GDX process (i.e. plain language)

[2022-11-25 22:55] mstanton1 opened #14454 "Reggie Connection PPT Dec 22"

[2022-11-25 22:55] mstanton1 opened #14455 "Reggie Connection PPT Jan 22"

[2022-11-25 22:56] mstanton1 opened #14456 "Robinson's Roundtable Chat MMM YY"

[2022-11-25 22:56] doug-lovett commented on #13683
@dimak1 This issue is specific to the DEV environment and related to recent env changes related to dev auth. It looks like the users table record for some registration and search request records was updated so the user id reference was lost. I have corrected the data.

[2022-11-25 23:03] mstanton1 opened #14457 "Wes Survey Compilation"

[2022-11-25 23:06] doug-lovett commented on #12837
@tlebedovich the legacy DB2 max length for owner names is 70 characters. The API currently has no extra validation on name characters: any character within the UTF-8 character set is allowed.

[2022-11-25 23:11] dimak1 commented on #13683
Thanks for the insight @doug-lovett. I also see some usernames are 'N/A' but those are older entries, and probably could be ignored?

@chdivyareddy could you please take another look (at the username issue)? Thanks!

[2022-11-25 23:15] tlebedovich commented on #12837
@mstanton1 @forgeuxGH5 -  Legacy DB allows 70 max characters for Business name. Business Registry can have up to 150 characters. What should we do here? Hope noone selects a name over 70 characters from the look up?

[2022-11-25 23:21] doug-lovett commented on #13683
N/A is valid for legacy registrations: there may be no user name.

[2022-11-25 23:29] #12153 closed

[2022-11-25 23:31] tlebedovich commented on #12837
@mstanton1 @forgeuxGH5 - the valid characters validation in the matrix says "Enter letters or numbers only", doug says it excepts any character within the UTF-8 character set. Which should we do?

[2022-11-25 23:34] yuisotozaki commented on #14066
@ethantspitt Looks like this will need some attention also.

[2022-11-25 23:43] chdivyareddy commented on #13683
@dimak1 @doug-lovett , Here are few registrations in DEV which were created in Septmenber, October where the username displays 'N/A', I don't think these are legacy registration. Please take a look, thanks!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/85e0854f-e8a4-4694-a358-8576126cbd59)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/708

[2022-11-25 23:43] yuisotozaki commented on #14145
Item 2 is good to go.

As for the PDF filenames for BEN, BC LTC, ULC, and CCC, I'm still seeing incorrect file name being downloaded.
![image.png](https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/ccbcb0f5-5d04-44a4-9cbb-37d07abb12c7)

[2022-11-25 23:44] seeker25 commented on #14427
This is pushed to TEST in 10m

[2022-11-25 23:52] trishreimer commented on #13795
is this done?

[2022-11-25 23:55] severinbeauvais commented on #14403
This is blocked by the Auth Web ticket, since a conditional NR does not currently display (nor can be added) to My Business Dashboard. Hence, it is not possible to start an IA/reg with such a NR, and so we cannot see it in Filings UI or Create UI.

[2022-11-25 23:56] ethantspitt opened #14458 "UI Design - Auth Web: Affiliation certifier should be editable by SBC Staff and Registries Staff"
UXpin:
https://preview.uxpin.com/47c11e0da3a50918dface06ce3de85c9f402f7c5#/pages/159965599

[2022-11-26 00:09] dimak1 commented on #13683
@chdivyareddy Doug mentioned above that N/A is a valid entry:

[2022-11-26 00:10] mstanton1 commented on #12837
For the 70 Character Restriction let's get Sharon to walk us through the current state. If this is the current restriction I'm assuming it's already an issue (probably just cut off names on outputs). In that case we could just forge ahead and add it into a post data migration epic. If the legacy system does something more than we can look at interim options.

For the character set a business could

[2022-11-26 00:13] mstanton1 opened #14459 "Post Data Migration Database Updates"
There are a number of data limitations stemming from the fields available in DB2. Certain data changes have been flagged to make once we move to Postgres and have greater flexibility.

[2022-11-26 00:18] doug-lovett commented on #13683
@chdivyareddy @dimak1 actually this is an API bug that should be a new ticket. With new registrations the user name is not being saved to the legacy db2 database.

[2022-11-26 00:29] severinbeauvais commented on #13304
LaunchDarkly Namerequest project keys:

![image](https://user-images.githubusercontent.com/10002889/204065545-9485cdc1-9cea-4a2a-ad7c-94cec5bdf779.png)

[2022-11-26 00:30] severinbeauvais commented on #13304
LaunchDarkly Namerequest feature flags (Production environment):

![image](https://user-images.githubusercontent.com/10002889/204065569-34c53e4b-6604-4e07-a10e-fbb89ddb3851.png)

![image](https://user-images.githubusercontent.com/10002889/204065580-384058b0-c35f-4edf-9dac-4fbb2cbe3ea6.png)

[2022-11-26 00:33] chdivyareddy opened #14460 "API - Save User Name to DB2 for new registrations"
- With new registrations, the user name is not being saved to the legacy db2 database.

**Current Behavior:** Few registrations in DEV that were created in September, and October where the username displays 'N/A'.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/85e0854f-e8a4-4694-a358-8576126cbd59)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6

[2022-11-26 00:34] chdivyareddy commented on #13683
@dimak1 @doug-lovett , thank you for checking!

Created #14460 for the API bug.

[2022-11-26 00:57] dimak1 commented on #12837
@tlebedovich I'll take a look at your feedback and give an update on the items. Thanks for the feedback.

[2022-11-26 00:58] dimak1 commented on #13683
@doug-lovett thanks for looking into it.

@chdivyareddy so then just PDF icon is outstanding for this ticket.

[2022-11-26 02:05] #8905 closed

[2022-11-26 17:52] forgeuxGH5 commented on #12837
@tlebedovich @mstanton1
Agree on the name length - like for like with MH Online.
I don't think we can restrict the character set or name format - the org name can be from anywhere in the world and doesn't have to be a business.

[2022-11-26 18:08] forgeuxGH5 commented on #10210
Notes:
The current questions are clearly biased / leading. This is almost certainly leading to overly positive responses. I recommend rewording the questions to remove bias. Since we are talking about rating a different version of the site, we need to consider if we want to change the questions to rate the new version. If we change the questions and have the new ratings apply to the new site only,

[2022-11-26 18:11] forgeuxGH5 opened #14461 "UI DESIGN - Clarify what the number in the registrations table title represents"
Users are confused by the number in the registrations table
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/1ca44ebc-f1ef-4249-89f1-86ad8402664d)

It should be clear what this number represents. It is currently the number of registrations associated with their account - not the number displayed in their table.

[2022-11-26 18:12] forgeuxGH5 commented on #14461
@mstanton1

[2022-11-28 02:54] Mihai-QuickSilverDev commented on #12668
Closing down, as all tickets from this Epic are completed.

[2022-11-28 02:54] #12668 closed

[2022-11-28 03:13] Mihai-QuickSilverDev commented on #14362
Hello Darci, Jordan,

We are talking about firms conversions here. We have a fair number of firms in Production which are missing mandatory data. In order to bring these records in good order, staff would be completing a Conversion filing. In our common BN meeting, we decided that the Conversion filing could trigger a BN message, if specific fields have been changed. We need your help to put toget

[2022-11-28 15:50] chdivyareddy commented on #13683
@dimak1 Yes, you are right. Thank you!

[2022-11-28 15:57] #14175 closed

[2022-11-28 16:39] PatrickAHeath opened #14462 "Assets Dashboard - Bulk removal of registrations from Registrations table"
This issue originated with OPS ticket #1636.  Teranet had thousands of registrations on their table and it was resulting in delays in loading.  The DEVs removed most of the registrations to improve their response time.

Clients can remove one registration at a time, but API clients can't remove multiple registrations at a time to clear out their registration table.

[2022-11-28 16:59] Maribeth-Wilson commented on #13042
closing this issue, issue #355 has been recreated in OCM repo

[2022-11-28 16:59] #13042 closed

[2022-11-28 17:02] forgeuxGH5 commented on #13964
@tlebedovich I'll look at this

[2022-11-28 17:05] Maribeth-Wilson commented on #12868
recreated this issue in OCM repo (356). Closing this issue.

[2022-11-28 17:05] #12868 closed

[2022-11-28 17:14] tlebedovich commented on #12612
@janisrogers - should I close or move this ticket? not sure there was anything for me to do here?

[2022-11-28 17:15] Maribeth-Wilson commented on #13040
recreated this tix in the OCM repo, #357. Closing this tix now.

[2022-11-28 17:15] #13040 closed

[2022-11-28 17:15] lambert-alex commented on #14145
Sorry Yui I was a bonehead and I fixed the double underline between company and corporation but not the incorporation part. 🤦‍♂️ It is good now!

[2022-11-28 17:20] Maribeth-Wilson commented on #13039
recreated this tix in the OCM repo (358). Closing this ticket

[2022-11-28 17:20] #13039 closed

[2022-11-28 17:29] #14242 closed

[2022-11-28 17:31] Maribeth-Wilson commented on #13041
recreated this issue in OCM repo (#359). Closing this issue.

[2022-11-28 17:31] #13041 closed

[2022-11-28 17:33] Maribeth-Wilson commented on #12867
recreated this Epic in the OCM repo (#354). Closing this Epic.

[2022-11-28 17:33] #12867 closed

[2022-11-28 17:33] AshnaMehta commented on #14015
completed the account info as admin by adding business details and mailing address, the subsequent team accounts joined before and after completed the account were active.

[2022-11-28 17:53] jmills-cgi opened #14463 "Entities Sprint 15.5b Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
 1. - [ ] Confirm the correct commits are present
 2. - [ ] Selec

[2022-11-28 18:09] #14426 closed

[2022-11-28 18:34] gprimeau opened #14464 "Data-lake Courses & setup"

[2022-11-28 18:51] chdivyareddy commented on #14288
Verified!

- When Lease or Land ownership is checked:

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/48935723-8e61-4dfc-aac6-b3ff41af8255)

- When Lease or Land ownership is not checked:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/49247065-c320-4c32-aec4-b3685cf389e2)

- Transfer details validation and instructional text:
![image.png](htt

[2022-11-28 19:43] ethantspitt commented on #14145
Checked in dev, ready for QA.

[2022-11-28 20:32] seeker25 commented on #14180
Waiting on the business to make a decision for this - then Jaime will make changes to make this work hopefully.

[2022-11-28 20:45] forgeuxGH5 commented on #13964
I think we should move this forward and UXA along with the upcoming changes for Owners - I'm noticing things that should be resolved by the updated designs.

[2022-11-28 21:13] chdivyareddy commented on #14298
Hey @cameron-eyds , When there are joint tenants in the transfer of ownership and by deleting one of the owner, the 'Hide Deleted Owners' button is not populated, it is only displayed when the last owner is deleted. Please take a look, thanks!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/239250eb-c07d-4a19-9bf0-7296490b3f5d)

[2022-11-28 21:20] cameron-eyds commented on #14298
@chdivyareddy Fixed under ticket https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13993

[2022-11-28 21:26] chdivyareddy commented on #14298
Thank you @cameron-eyds :)

[2022-11-28 21:31] Mihai-QuickSilverDev commented on #14427
@vysakh-menon-aot Hi Vysakh, I have tested the affiliations in Test, and they do not work. Argus has imported some of these firm from the ticket in Test, and they are visible for an idir login. Is there a way to find out if this fix was applied in Test yet, or would it be applied today? Thanks much!

[2022-11-28 21:53] Mihai-QuickSilverDev commented on #14427
FM0868416 McKesson Specialty Pharmacy (BC)
I have tried to affiliate this in Test, and the same error comes up. i can confirm that this firm record is imported in Test.

[2022-11-28 22:12] vysakh-menon-aot commented on #14427
Hi @Mihai-QuickSilverDev, `MCKESSON SPECIALTY PRESCRIPTION SERVICES (B.C.) CORPORATION` this is the name in db. I am able to affiliate it.

[2022-11-28 22:55] tlebedovich commented on #14434
@mstanton1 - this ticket is ready but waiting for the no tenancy UI handling (in the works)

[2022-11-28 22:56] tlebedovich commented on #14094
@mstanton1 - this API ticket is ready but should wait for the no tenancy UI handling design ticket ##13783 (in the works) so all work can be done together.

[2022-11-28 23:11] tlebedovich commented on #12837
@mstanton1 @dimak1 - So Dima can continue with this ticket let's:
1. Keep max character limit/validation as 70 and create follow up ticket for error handling of longer names after talking to Sharon
2. remove the invalid character error validation from matrix that says "must contain letters or numbers only" and allow letters, numbers and special characters.

[2022-11-28 23:17] severinbeauvais opened #14465 "Namerequest UI: should not be able to use conditional NR when consent is required"
This is about the "Register Your Business" button, which is currently enabled only for SP and GP.

This button should only be shown or enabled if:
- Request Status is Approved
or
- Request Status is Conditional Approval and:
  - Consent Status is null (not required)
  - Consent Status is R (received)
  - Consent Status is N (waived)

Currently, this button is displayed and enabled for a conditiona

[2022-11-28 23:47] #13205 closed

[2022-11-28 23:53] mstanton1 commented on #12837
@tlebedovich sounds good. Thanks for summarizing that direction. I will update the requirements meeting agenda for tomorrow to include this topic.

[2022-11-28 23:56] ethantspitt commented on #14406
updated design, pending for PO review and design review

[2022-11-29 00:28] vysakh-menon-aot commented on #14365
`NR 6991207` is waiting for consent (`consentFlag: Y`), that's why we cannot add it into my business registry. Isn't it the expected behavior?

[2022-11-29 00:55] Mihai-QuickSilverDev commented on #14427
Yes, correct. I always fall into the trap of trying to affiliate with the firm name. It works for me too. I will follow-up with Travis to see the earliest we could deploy in Prod. Thanks Vysakh!

[2022-11-29 01:10] severinbeauvais commented on #14365
You are correct! My mistake (I was testing with and without consent).

This ticket can be closed.

[2022-11-29 01:24] severinbeauvais commented on #14365
However, the NR above is a "Name Change" NR, and so should not be usable to create a registration. Yet it is:

![image](https://user-images.githubusercontent.com/10002889/204415400-b87f26d3-1cde-4be5-a7eb-a4aa51c98979.png)

Is there another ticket for this issue? If not, can this ticket be repurposed?

[2022-11-29 01:32] seeker25 commented on #14427
Deployed to prod now

[2022-11-29 08:05] #14308 closed

[2022-11-29 08:05] #14427 closed

[2022-11-29 08:05] #14339 closed

[2022-11-29 08:06] #14348 closed

[2022-11-29 08:06] #10318 closed

[2022-11-29 08:07] #14325 closed

[2022-11-29 15:07] fareenr opened #14466 "API engagement meetings with each API service provider"
Set up individual meetings with each service provider and John L (Linda as optional) - Dye & Durham, Teranet, E-Service Corp, Ownr, ALF, etc.

- Collect information on their current processes for corps search and corps filings
- potential impacts of COLIN removal for screen-scraping
- potential needs for minimum API spec and sandbox time required to develop their APIs for Corps release
- get a bet

[2022-11-29 15:11] fareenr commented on #14466
Set up for week of Nov 28 and Dec 5-9

[2022-11-29 16:10] riyazuddinsyed opened #14467 "Verify - Seeing an intermittent error while save & resume as well as after payment"
**Describe the bug in current situation**
When trying to complete a filling after the payment as well as upon hitting on Save and Resume the intermittent screen shows up saying  503 service isn't available
Steps to reproduce the behavior:
1. Login with BCREG0001
2. Try and start any type of filling
3. Complete a payment or hit on save and resume
4. See  an error

**Actual/ observed behavior/ resul

[2022-11-29 16:59] riyazuddinsyed opened #14468 "Unable to file an Alteration for CCC"
Steps to reproduce the behavior:

- [ ] Check if is broken for all entity types - BEN, ULC, CCC, BC

1.Go to URL https://dev.bcregistry.ca/business/auth/account/2079/business
2. Login with BCREG0001
3. Click on identifier BC0871253
4. See an  error

**Actual/ observed behavior/ result![ccc alternation.png](https://images.zenhubusercontent.com/6347108fc454b6a35c909918/876a46d8-512e-4768-80c8-fc44d7

[2022-11-29 17:05] #14298 closed

[2022-11-29 17:05] #14288 closed, assigned to cameron-eyds

[2022-11-29 17:23] cameron-eyds commented on #13964
@chdivyareddy Morning Divya! I found a scenario here that must have come in with a result of the UX updates ticket where our Allocation is displaying as NAN on multiple UNDOs, so i will move this back to in progress to make that small change.

[2022-11-29 17:29] mstanton1 commented on #14460
There was a problem with an owner group being stored incorrectly and the reports did not generate. This may be related. This has been fixed.

[2022-11-29 17:31] riyazuddinsyed opened #14469 "Directors not showing up on my registry dashboard for CCC filling type"
**Describe the bug in current situation**

When adding a director by clicking on COD  filling ,the added director is not showing up on my registry dashboard

Steps to reproduce the behavior:

1. Login BCREG0001 in dev
2. Open a CCC filling for example BC0871249
3. Click on COD
4. Add a Director and complete filling now upon returning to the dashboard
    observe that the directors doesnot show

[2022-11-29 17:32] mstanton1 commented on #14217
An account ID was being added improperly and has been resolved. This requires verification.

[2022-11-29 17:37] riyazuddinsyed opened #14470 "Name change NR type is not showing the status as consumed"
**Describe the bug in current situation**

When we use a name change NR type an add it exisit business then the staus of Name change NR is still showing as Approved instead of Consumed state

Steps to reproduce the behavior:
1. Login with BCREG0001
2. Create a Name change NR and Approve it
3. Used the create Name change NR for an existing business and
    complete the filling
4. After the sucessfu

[2022-11-29 17:40] mstanton1 commented on #14394
First scenario has been addressed. Second scenario needs to be tackled.

[2022-11-29 17:49] mstanton1 commented on #14312
@forgeuxGH5 can you re-add the screenshots for us to look at this next week?

[2022-11-29 17:50] ethantspitt commented on #14028
Verified in dev, ready for QA

[2022-11-29 17:58] severinbeauvais opened #14471 "Auth Web: should not see CHG NR in My Business Registry?"
1. create a Name Change NR
2. go to My Business Registry
3. add existing NR
4. see this:

![image](https://user-images.githubusercontent.com/10002889/204413814-ee999f7e-1ba6-415e-becb-c2466b69aeda.png)

5. see this: _(NB: this is the original screenshot. Now you can only open or remove this NR, not "use" it.)_

![image](https://user-images.githubusercontent.com/10002889/204415400-b87f26d3-1cde-4be

[2022-11-29 17:59] severinbeauvais commented on #14365
I created ticket 14471 for the CHG NR issue found above,

THIS ticket is not an issue and I am therefore closing it.

[2022-11-29 17:59] #14365 closed

[2022-11-29 18:00] severinbeauvais commented on #14471
PS Sarah mentioned that some users have bumped into this issue.

[2022-11-29 18:02] severinbeauvais commented on #14470
I am not convinced that we should see a Name Change NR in My Business Registry. @Mihai-QuickSilverDev @yuisotozaki What do you think?

See related ticket #14471.

[2022-11-29 18:32] chdivyareddy commented on #13750
@mstanton1 moving the story to Done as all the tickets were closed, thanks!

[2022-11-29 18:33] Mihai-QuickSilverDev commented on #14471
@severinbeauvais Yes, fully agree.
1. We should not add a Name Change NR to My Business Registry, unless we have code implemented that when clicking on using that NR, we automatically start a firm Name Change filing.
2. We should not have a problem in Production with a name change NR being used for a registration - we had client trying that, and it failed.

[2022-11-29 18:40] #13750 closed

[2022-11-29 19:09] #14216 closed

[2022-11-29 19:10] lambert-alex opened #14472 "Edit UI: Directors not showing when filing an AR for CCC"
**Describe the bug in current situation**

When filing an Annual Report as Staff for a CCC the directors component is not showing any directors when there are three directors.
Check that the directors table shows correctly for other filings.

**Impact of this bug**
Users cannot verify that the director list is correct when filing an AR

**Chance of Occurring (high/medium/low/very low)**
High

**Pr

[2022-11-29 19:10] #13887 closed

[2022-11-29 19:11] #14303 closed

[2022-11-29 19:11] #14145 closed

[2022-11-29 19:25] lambert-alex opened #14473 "Create UI: CCC, ULC BEN, BC Incorporation agreement step is not reflected in Review and Confirm step"
[UX pin of Create UI IA](https://preview.uxpin.com/e799699d40eed6cc4f2fd26ff574d7840b2e5c30#/pages/159555700/simulate/sitemap)

**Describe the bug in current situation**
When incorporating a CCC, ULC BEN, or BC the custom or sample incorporation agreement step (IAS) when the check box is checked the step is marked as valid, but the incorporation agreement section on the Review and Confirm step is

[2022-11-29 20:14] Mihai-QuickSilverDev commented on #12672
@lekshmimallika-aot I have uploaded the requested design documents, as provided by @ethantspitt
Apologies for the delay.

[2022-11-29 21:04] sarahelz19 commented on #13165
@fareenr - tagging you - as it may be helpful in assessing future requirements

[2022-11-29 21:07] seeker25 commented on #14435
I've manually updated the invoice again, and changed the PAD job to use the latest CFS account (which works if they switched back to BCOL)

[2022-11-29 21:10] #14435 closed

[2022-11-29 21:16] Mihai-QuickSilverDev commented on #14403
I removed the block, as we have just confirmed that there are no issues with the Conditional Approval from the back end side.

[2022-11-29 21:18] Mihai-QuickSilverDev commented on #14405
@ethantspitt Ethan, please let us know if you have a final approval from the Design Team, so that we can unblock this ticket.

[2022-11-29 21:20] gprimeau opened #14474 "Home page banner stats"

[2022-11-29 21:23] JohnamLane opened #14475 "RFC for AUTH WEB / FAS-UI - Upgrade to Vue3 prior to new development"
scope:
- shared components
- common components
- staff dashboard
- account creation screen
- account info
- My Business Registry dash

[2022-11-29 21:23] ChasBoucher commented on #13931
@dimak1 pointed out a valid issue in his review of my code.

The bug has been fixed for this ticket, but the fix does affect any MHR or PPR form that uses the BaseAddress shared component.   I did a test on PPR forms that use the BaseAddress and found that the fix I am putting in for MHR also fixed the issue for PPR.  I am not sure why it was never reported.

The question is, as Dima pointed out i

[2022-11-29 21:25] #14474 closed

[2022-11-29 21:26] LizGovier commented on #14088
Here is the first portion of **My Asset Registries / My MHR Dashboard**

https://www.figma.com/proto/1yYlNv8kG3mWYsXJ7HyWIA/Gov.BC-%2F-Asset-Registries?page-id=1%3A12&node-id=26%3A172&viewport=-107%2C323%2C0.5&scaling=scale-down-width

[2022-11-29 21:27] #5123 closed

[2022-11-29 21:35] gprimeau opened #14476 "Gather data for the banner"
- [ ] #14479
- [ ] name stats
- [ ] coop stats
- [ ] SP/GP stats

[2022-11-29 21:35] gprimeau opened #14477 "Create banner"

[2022-11-29 21:35] gprimeau opened #14478 "Add to homepage"

[2022-11-29 21:37] thorwolpert opened #14479 "ppr stats"
**Feature**: PPR Stats

  **Scenario**: PPR Annual/YTD Stats
    **When**  the stats tile for PPR is displayed
    **Then** it shows the data for Annual and YTD totals for Registrations

  **Scenario**: PPR Monthly
    **Given** I have clicked on the PPR Tile
    **When** the details display
    **Then** I see the Registrations, Discharges, Number of Users, Number of API transactions, Average leng

[2022-11-29 21:38] dimak1 commented on #13931
@ChasBoucher usually developers do not create/update AC's. These requirements should come from PO or Designers.
cc: @mstanton1 @tlebedovich pls see above

[2022-11-29 21:47] thorwolpert commented on #14479
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Analytics-616700be7d8db6000f67e56b/issues/bcgov/entity/14479?planning-poker) with Zenhub @gprimeau

[2022-11-29 21:52] thorwolpert opened #14480 "Create banner"
- [ ] #14481
- [ ] Do we need to feature flag it?
- [ ] Add to homepage
- [ ] Review and validate

[2022-11-29 21:54] gprimeau opened #14481 "Design of banner for homepage"

[2022-11-29 21:56] gprimeau commented on #14481
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Analytics-616700be7d8db6000f67e56b/issues/bcgov/entity/14481?planning-poker) with Zenhub @thorwolpert

[2022-11-29 22:03] #14464 closed

[2022-11-29 23:00] gprimeau commented on #12728
@magszymanski @Maribeth-Wilson
I have created a page
https://www2.gov.bc.ca/gov/content?id=11C91F67E96F40668E811A970216B47D

[2022-11-29 23:13] dimak1 commented on #13683
Hi @chdivyareddy, as per @doug-lovett there were some data issues, and it is all cleaned up now. Please re-try and let us know if the issue is still there. Thank you.

[2022-11-29 23:40] chdivyareddy commented on #13683
@dimak1 @doug-lovett Thank you! It is working as expected now with the new registrations.

[2022-11-29 23:41] mstanton1 opened #14482 "Qualified Supplier transfer to a Beneficiary"
GIVEN I am a qualified supplier (lawyer, notary, service provider) or staff
WHEN an executor listed as the owner of a manufactured home sells that home
THEN I can file a "Transfer due to Sale or to a Beneficiary"
AND the ownership is updated from the executor of the estate to a beneficiary/3rd party.

[2022-11-29 23:44] mstanton1 commented on #13484
@tlebedovich updated based upon your comment in RC. We can update further after we chat with @forgeuxGH5

[2022-11-29 23:46] ozamani9gh commented on #14310
@pwei1018 @rarmitag @eve-git @stevenc987 are any of you guys familiar with any 2FA auth apps that would be a good alternative to GITHUB SMS messages.  Evan Lister and i have tried to setup his 2FA, but he cant sign into Zenhub, because he is not receiving the SMS message on his phone, when he asks for a new code, it sends him the original code, that never works.

Ping me in RocketChat if you have

[2022-11-29 23:49] mstanton1 opened #14483 "MHR API - Complete PostgreSQL data model changes"
Complete the PostgreSQL database object definitions and data model design for MHR migration.
- Create sequences.
- Create tables.
- Create indexes.

Add definitions for the following tables to meet the legacy requirements:
- mhr_documents
- mhr_notes
- mhr_descriptions
- mhr_sections

Update the data model diagram:

[https://app.zenhub.com/files/157936592/5b6d6695-6561-4458-8428-abfad97bf555/downl

[2022-11-29 23:49] mstanton1 opened #14484 "MHR API Complete the API model objects for the PostgreSQL database"
Complete development of the API SQLAlchemy model objects to support the existing MHR transactions (new MH registrations, transfers, and exemptions).

Add model objects and unit tests for the following PostgreSQL tables:
- mhr_documents
- mhr_notes
- mhr_descriptions
- mhr_sections

Update the existing model objects and unit tests for the following PostgreSQL tables:
- mhr_parties
- mhr_owner_group

[2022-11-29 23:49] mstanton1 opened #14485 "MHR API - Complete the API development to create new MH registrations, transfer, and exemptions in the PostgreSQL database"
- Complete development of the MHR API to create all PostgreSQL database records for the existing MHR transactions (new MH registrations, transfers, and exemptions).
- Update unit tests.

Create records the following PostgreSQL tables:
- mhr_registrations
- mhr_drafts
- mhr_parties
- mhr_owner_groups
- mhr_locations
- mhr_documents
- mhr_notes
- mhr_descriptions
- mhr_sections

[2022-11-29 23:50] mstanton1 commented on #14483
@doug-lovett can you add details and a size?

[2022-11-29 23:51] mstanton1 commented on #14484
@doug-lovett can you add details and a size?

[2022-11-29 23:51] mstanton1 commented on #14485
@doug-lovett can you add details and a size?

[2022-11-29 23:51] severinbeauvais commented on #14403
### Test Notes

**Conditional NRs:**
1. you should be able to see, but not "use" a conditional-required NR in My Business Registry
2. you should be able to see and "use" a conditional-received NR in My Business Registry
3. you should be able to see and "use" a conditional-waived NR in My Business Registry
4. you should be able to see and "use" a no-consent-required NR in My Business Registry

**Fi

[2022-11-29 23:54] dimak1 commented on #13683
Thanks for verification @chdivyareddy. Moving this ticket along.

[2022-11-30 00:11] tlebedovich commented on #14244
@ChasBoucher @doug-lovett - looks like the Document ID number was added in the child rows instead of the Document Registration Number. Please update.

Also @doug-lovett - Are the 2 zeros before the Document Registration number shown in the transfer outputs officially part of the doc reg number? I'm concerned it will make it harder for users to look up the child number in the "Add an existing reg t

[2022-11-30 00:24] doug-lovett commented on #14244
@tlebedovich @ChasBoucher For the registration table summary info, the API returns both the document id and the document registration number:
    "documentId": "87655242",
    "documentRegistrationNumber": "00500338",

The document registration number format with the leading zeroes is how it is stored in the legacy database: the API returns the value as is. The UI can trim the leading zeroes if th

[2022-11-30 00:29] tlebedovich commented on #13848
hi @ChasBoucher - looks like UXA items 2 and 3 above need more work as i found some bugs:

I did a transfer and it took me back to the table, autoscrolled to the parent row, but the parent row is supposed to be shown as expanded open and the green highlight is supposed to just be on the newly added transfer's child row (the registration just completed).

**Two Issues I saw:**
Currently: If the par

[2022-11-30 00:43] tlebedovich commented on #13848
@ChasBoucher - Apparently (according to ticket #13672), this ticket is also supposed to include adding in same green row highlight and the gray snack bar feedback when a user **adds an existing MHR registration to the table using the "add existing registration"** search field (above the table).

For this user feedback case, if a user adds an existing registration to the table, the parent row would

[2022-11-30 00:55] tlebedovich commented on #13672
@owillborn - UXA feedback for ya:

- [ ] If user tries to search for an existing registration number that doesn't exist, we should be showing this modal:

![Screen Shot 2022-11-29 at 4.49.44 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/f4d5b703-a200-47a6-9946-8fb65746267a)

**but instead it is showing this one:**
![Screen Shot 2022-11-29 at 4.52.14 PM.png](https://images.z

[2022-11-30 00:56] tlebedovich commented on #13672
@chdivyareddy - when this is in RFQA, can you check this one - "Hide the "Open" button for MH registrations that are historical and exempt for now (only show for Active registrations)"

[2022-11-30 01:13] tlebedovich commented on #13848
@ChasBoucher - There is another type user feedback for Qualifying Supplier tables. Will this be included in this ticket (there was mention of this in ticket #13672)

- [ ]  When Qualified Suppliers use the "Add existing registration to this table" field (above the table), and add an existing parent MHR registration to the table, then autoscroll to show the newly added collapsed/closed parent row (

[2022-11-30 01:16] tlebedovich commented on #13672
ps @owillborn - was this work done for both the Staff and Qualified Supplier views of the table?

[2022-11-30 01:18] tlebedovich commented on #14244
@mstanton1 @forgeuxGH5 - can you make the call on if we should trim the leading zero in the document registration number?

[2022-11-30 01:50] argush3 opened #14486 "Create script to extract ULC/CCC/BC data from COLIN db"
**TODO**
- [x] Write sql to extract relevant corp tables
- [x] Write script to import csv table data to a postgres db to be used by corps data pipeline

[2022-11-30 01:55] argush3 opened #14487 "Create script to prep and load data migrated from corps pipeline into live LEAR db"
Previously for the SP/GP pipeline, data was loaded directly to the Prod LEAR db.  This could be problematic as clients are actively using the system.  As well, with various processes being run against the Prod db, it was hard to predict what kind of performance could be achieved.

As such, the approach for the corps pipeline this time around is to load data into a standalone database whether that

[2022-11-30 02:23] argush3 opened #14488 "Create script to create entities in Auth after data loaded into Prod"

[2022-11-30 04:18] dimak1 commented on #12837
Updated the following:

- [x] Removed hover (rollover) state for _No Matches_ dropdown
- [x] Added Org Name filed rules
- [x] Fixed to disable test data
- [x] Fixed alignment of Select and Icon
- [x] Colours for background/active/rollover/tabbing states are the same as in the other Search autocomplete components. I took from an existing component. We can review and update if you feel we should upd

[2022-11-30 04:18] dimak1 commented on #12837
Updated the following:

- [x] Removed hover (rollover) state for _No Matches_ dropdown
- [x] Added Org Name filed rules
- [x] Fixed to disable test data
- [x] Fixed alignment of Select and Icon
- [x] Colours for background/active/rollover/tabbing states are the same as in the other Search autocomplete components. I took from an existing component. We can review and update if you feel we should upd

[2022-11-30 05:32] Mihai-QuickSilverDev commented on #14172
@ethantspitt Would you be able to provide an update on this design ticket? It shows moved to Review in the Design team space, 13 days ago.

[2022-11-30 05:50] Mihai-QuickSilverDev opened #14489 "Entities Sprint 15.5 Objectives"
- [ ] Continue work on data loading and cleanup. - 100%
- [ ] Continue and complete work on Annual Report filing for ULC, CCC and BC. - 100%
- [ ] Continue and complete work on Correction filing for BEN, ULC, CCC and BC. - 35%
- [ ] Continue and complete work on Court Order filing for ULC, CCC and BC. - 50%
- [ ] Continue work on changes (COA, COD) and Alterations filings for ULC, CCC and BC - Ste

[2022-11-30 08:10] Mihai-QuickSilverDev opened #14490 "UI Design - Move the Directors and Address changes to the consolidated business change framework"

[2022-11-30 16:09] owillborn commented on #13672
@tlebedovich good catches, and yes work was done for both Qualified Suppliers and Staff

[2022-11-30 16:25] JohnamLane commented on #14337
Short term design goals:
1. Allow editing of the access type from GOVN to regular
2. When account is flipped from GOVN to regular, remove any custom fees

[2022-11-30 16:34] severinbeauvais opened #14491 "Auth Web: should allow use of conditional NR with consent=null"
1. create a new NR

2. in Name Examination, check the consent checkbox, approve the NR and set consent to "-"

![namex.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/02ae741f-512d-42ef-bafa-85db1b99f7a4)

3. wait for the NR to be synced (5 minutes)

4. go to My Business Registry and observe that you cannot "use this NR" (you should be able to, since consent=null means consent i

[2022-11-30 16:43] ethantspitt commented on #14172
@Mihai-QuickSilverDev The design file is provided by Yui in UXPin already, it will be reviewed in the design meeting on Thursday morning.

[2022-11-30 16:49] mstanton1 commented on #14244
@tlebedovich I am inclined to retain leading zeros at this point, and assess that change later if users find it confusing.

[2022-11-30 16:53] pwei1018 opened #14492 "Quarterly Review (December 2022)"
Review the team member access/permission of our products from the following list

https://docs.google.com/spreadsheets/d/1ya6VTTVhGbzXoYhqxd9f4Fly8snRJtH6Tehmecntva8/edit?usp=sharing

- [x] Github
- [x] Zenhub
- [x] Openshift
- [x] 1Password
- [x] LaunchDarkly
- [x] Sentry
- [x] hotjar
- [x] Browserstack
- [x] Keycloak ( who has admin role )
- [x] Terraform Cloud
- [x]  Google Cloud

Requirements:

[2022-11-30 16:56] severinbeauvais commented on #14028
We're leaving this ticket in Done until it is deployed to Prod (and then it can be closed).

@thorwolpert @doug-lovett

[2022-11-30 16:59] severinbeauvais commented on #7843
@eve-git Can you please add the correct sprint for this ticket? Is it 15.4?

[2022-11-30 16:59] pwei1018 opened #14493 "Github issue forms"
I request the Github Issue Forms feature from github for Ops repo.

[Github Issue Form](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#creating-issue-templates)

- [ ] Create a testing OPS template [Bug Form](https://github.com/bcgov-registries/ops-support/blob/main/.github/ISSUE_TEMPLATE/test-bug-

[2022-11-30 17:04] #14039 closed

[2022-11-30 17:04] #14089 closed

[2022-11-30 17:08] #14256 closed

[2022-11-30 17:11] severinbeauvais commented on #13333
@seeker25 @yuisotozaki What still needs to be done for this ticket? Or can it be closed now?

[2022-11-30 17:18] JohnamLane commented on #14099
We’re attempting to do testing in the test environment for NSF (using the paytest.gov.bc.ca environment):

TEST

GET Invoice call:

{
    "items": [
        {
            "invoice_number": "REGT00024291",
            "pbc_ref_number": "10007",
            "party_number": "106202",
            "party_name": "BCR-846",
            "account_name": "BCRT",
            "account_number": "159233",

[2022-11-30 17:20] ethantspitt commented on #14405
Shared the design with the design team, similar to #14172, will review it in the regular design review tomorrow morning.

[2022-11-30 17:24] mstanton1 commented on #14425
@tlebedovich can you please link a design to this?

[2022-11-30 17:25] JohnamLane opened #14494 "Relationships Sprint 15.5 Objectives"
Vacations:
Lekshmi: back to work tomorrow (Dec 1)
Ritvick: back to work Dec 2
John: off starting Dec 12th

Other issues:
- CSO reconciliation (clean up 1pts)
- Entities dependency (staff certify block) (1 pts)

In Progress:
Statement footer overlap - 14107 (Ritvick) 3 pts
FAS refunds as Liabilities - 14047 - 5 pts
Stuck in settlement scheduled - 14010 - 5 pts

New:
BCOL Admin edit new account from

[2022-11-30 17:29] severinbeauvais commented on #14172
Once approved, please remove Blocked label and move this ticket to Sprint Backlog. Thanks!

[2022-11-30 17:35] severinbeauvais commented on #6513
What should we do with this ticket now that we looking into IA corrections?

cc: @thorwolpert @lekshmimallika-aot @jdyck-fw

[2022-11-30 17:40] fareenr opened #14495 "Create training guide for Staff to do MH Owner Transfers"
First rollout of MH owner transfers will be to Registries staff first.
Should be available in test env by Dec 2022 in staff test account.

[2022-11-30 17:43] severinbeauvais commented on #13978
What is the status of this ticket? Are we waiting for something? Is it ready to work on?

@lewischenstudio @Mihai-QuickSilverDev

[2022-11-30 17:43] fareenr commented on #14378
30-Nov - Melissa to confirm if all dev and QA tasks will be done for early Jan SBC training.

Note that SBC training sessions must be scheduled min. 3 weeks in advance (may not be avail 3rd wk Jan 2023 as they already have something new from BC Assessment being rolled out around that time).

[2022-11-30 17:46] #14262 closed

[2022-11-30 17:49] severinbeauvais commented on #11857
@jdyck-fw @yuisotozaki @lmcclung @Mihai-QuickSilverDev

What do we want to do with this ticket? Is it blocked by anything? Do we need some development tickets now?

[2022-11-30 17:57] eve-git commented on #7843
The sprint 15.4+15.5 is added.

[2022-11-30 18:00] severinbeauvais commented on #14046
Moved to grooming so we can decide what to do with this.

[2022-11-30 18:03] severinbeauvais commented on #13274
@jdyck-fw @Mihai-QuickSilverDev @argush3

What's the status of this ticket? Is there work to be done? Can we bring it into a sprint?

[2022-11-30 18:09] gprimeau commented on #14480
banner  similar to the NZ
![image](https://user-images.githubusercontent.com/35782246/204875158-183167f0-df3c-4567-91da-882d6cfd5dca.png)

https://www.companiesoffice.govt.nz/

[2022-11-30 18:10] severinbeauvais commented on #11050
Re: the 2 tickets

Ticket 11042 was to conditionally display the Business Summary button depending on a feature flags.

THIS ticket is to do something similar in the Legal API. As far as I know, this hasn't been done yet so we need to bring it in to a sprint.

cc: @lmcclung @jdyck-fw @Mihai-QuickSilverDev @davemck513

[2022-11-30 18:15] severinbeauvais commented on #13966
Sample UI code (that calls Million Verified directly, which we don't want to do, but we could call new endpoint above instead). Anyway, this sample code shows what's possible in the UI.

Branch: https://github.com/severinbeauvais/business-edit-ui/tree/13966
PR: https://github.com/bcgov/business-edit-ui/pull/399

[2022-11-30 18:27] severinbeauvais commented on #7843
This ticket implemented a fix in namex code, so it is not in Entities Sprint 15.5a Release.

If this ticket has been deployed to Prod then I think it can be closed. @seeker25 @JohnamLane

[2022-11-30 18:32] severinbeauvais commented on #14403
### More Test Notes

I noticed that NR Status is Title Case in Filings UI, ie:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/07c7f6ae-2a48-4076-b311-712e1dcf1b4a)

But it was CAPITALIZED in Create UI. So I fixed this also, ie:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/57db6f7e-c1da-4754-b18d-87e7a01332d4)

[2022-11-30 18:32] JohnamLane commented on #14337
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/14337?planning-poker) with Zenhub @thorwolpert @kialj876 @seeker25 @Jxio @MatthewCai2002

[2022-11-30 18:33] chdivyareddy opened #14496 "Assets: Sprint 15.5.1 Release"
**Ticket Naming Convention:** Example: Assets: Sprint 14.1.1 Release (1st release in Sprint14.1)

**Prior to moving into production, the following steps should be completed or confirmed:**
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft relea

[2022-11-30 18:38] eve-git commented on #13304
There are 6 FutureFlags defined in namerequest:
[code]
The three flags that marked with 'x' are disabled.

[2022-11-30 18:39] chdivyareddy opened #14497 "Assets: Sprint 15.5.2 Release"
**Ticket Naming Convention:** Example: Assets: Sprint 14.1.1 Release (1st release in Sprint14.1)

**Prior to moving into production, the following steps should be completed or confirmed:**
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft relea

[2022-11-30 18:39] eve-git commented on #13304
From Severin:
They are documented on the LD server, and sometimes they are documented in the code.
.
Before deleting (archiving) a FF, you need to check which apps use the LD key, and then look through code to see if the flags are used.
.
Note that the flags cannot be deleted (archived) until the code that no longer uses them is deployed to Prod (ie, we don’t want to delete flags while Prod code s

[2022-11-30 18:42] severinbeauvais commented on #13304
I think we can probably delete (archive) `enable-sp-gp-dba` feature flag since SP/GP/DBA has now been released.

I can see utility in keeping the other flags.

[2022-11-30 18:42] ketaki-deodhar opened #14498 "No warnings or messages if filed with no Directors for BEN/BC/ULC/CCC"
- [ ] No warnings or messages on Dashboard under History if filed with no Directors. Same for BEN/BC/ULC/CCC

![image.png](https://images.zenhubusercontent.com/634f23aeece8d3a8e1cc2206/832f5aa6-a230-4154-9436-b09753a49de0)

- [ ] No warnings or messages if go back to Director change after filing with no directors earlier. Same for BC/ULC/CCC

![image.png](https://images.zenhubusercontent.com/634f2

[2022-11-30 18:43] ketaki-deodhar commented on #14498
This will need more information from business and ui design to support it.

[2022-11-30 18:46] seeker25 commented on #14381
CPRD

SELECT * FROM BCONLINE_BILLING_RECORD where key = <invoice reference>

[2022-11-30 18:48] ketaki-deodhar commented on #14272
Implementation works as expected. Cease, add directors, Warning/Help Text and Title are correct based on the type
New ticket ([14498](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/14498)) created for No warnings or messages if filed with no Directors

[2022-11-30 18:56] JohnamLane commented on #14381
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/14381?planning-poker) with Zenhub @Jxio @kialj876 @MatthewCai2002 @seeker25 @thorwolpert

[2022-11-30 19:01] severinbeauvais commented on #14272
Are the director rules correct for each entity type?

If everything has been verified then please move this ticket to Done. Thanks!

[2022-11-30 19:02] severinbeauvais commented on #14498
@Mihai-QuickSilverDev @davemck513 FYI. Should the business be Not In Compliance? Note that this is existing behaviour.

[2022-11-30 19:15] chdivyareddy commented on #14424
Verified by adding both Parent/Child registrations to the PPR table:

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/cfcd4c82-da01-4729-8095-6d993a298f63)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/75292eb3-7c17-4cff-8218-ac519b4d5daf)

[2022-11-30 19:15] severinbeauvais commented on #14401
I cannot test the ULC IA above because it has already been filed. However, I tested with another ULC IA and I cannot reproduce this:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/592cdaf5-15cf-434e-80be-dde8a1e1cfe2)

[2022-11-30 19:19] severinbeauvais commented on #14401
It is true that validation is "always on" so that errors are shown as the user is typing (eg, if I enter a space character then I see an error, but when enter a second word then it's OK). This could be improved by showing errors only after the user presses the OK button -- please create another ticket if that's a requirement. (At the same time, we may want to automatically remove leading, trailing

[2022-11-30 19:22] severinbeauvais commented on #14172
I've looked at the UI designs (thanks for those! and the pink is great to see the changes needed) and I estimate this to be a "2".

[2022-11-30 19:22] eve-git commented on #13304
test: GP/SP is available in namerequest

[2022-11-30 19:22] severinbeauvais commented on #14172
I added the Relationships label because they're the ones that will deploy this to Test and Prod.

[2022-11-30 19:28] mstanton1 commented on #13931
@ChasBoucher it would be great to have @chdivyareddy test as well to confirm impacts for PPR. If this is resolved for PPR as well great. If not, as long as nothing is broken we can move this along (and then see if user feedback comes in for PPR). I've updated the description.

[2022-11-30 19:31] sarahelz19 opened #14499 "OCM - Account Setup - BCOL Admin process Update"
Currently there is an Account Setup issue with Government/Non-Government Accounts that require an update to allow the end user to select the correct account.
If the end user does not select the account - the BCOL Admin staff will have the ability to make changes to the account type to avoid declining the Account request

- [x] Review design/process with Relationships team
- [x] Develop process doc

[2022-11-30 19:35] severinbeauvais commented on #13803
I just tested this in Production.

FM0554062 does not show any missing information. The BC Sole Proprietorship Registration does not have documents -- it shows "Request a Copy". There is a Record Conversion that also shows no documents. There are two Change of Registration Application filings and the Amended Registration Statement and Change of Registration Application outputs for both of them dow

[2022-11-30 19:37] severinbeauvais commented on #13803
FM0558168 shows Missing Information (Record Conversion todo shows that a start date is required). The BC Sole Proprietorship Application shows a single document, which fails to download.

[2022-11-30 19:40] severinbeauvais commented on #13803
FM0463071 does not show any missing information. The BC Sole Proprietorship Application shows a single document, which fails to download.  There is a Record Conversion that shows no documents. There are seven Change of Registration Application filings and the Amended Registration Statement and Change of Registration Application outputs for all of them download successfully.

[2022-11-30 19:41] severinbeauvais commented on #13803
@argush3 Should the 2 firms that cannot download their BC Sole Proprietorship Application actually show that filing as paper-only (ie, Request a Copy vs View Documents)?

[2022-11-30 19:44] gprimeau commented on #14409
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Analytics-616700be7d8db6000f67e56b/issues/bcgov/entity/14409?planning-poker) with Zenhub @thorwolpert

[2022-11-30 19:46] ketaki-deodhar commented on #14272
By Director rules you mean number of directors? If Yes, they are correct. Are there any other rules to look for?

[2022-11-30 19:47] doug-lovett commented on #14090
@tlebedovich example reports attached below.

[https://app.zenhub.com/files/157936592/f542dc19-80d9-4466-a56b-0214ebc00022/download](https://app.zenhub.com/files/157936592/f542dc19-80d9-4466-a56b-0214ebc00022/download)

[https://app.zenhub.com/files/157936592/08152604-d551-497f-b712-0e757e76a55e/download](https://app.zenhub.com/files/157936592/08152604-d551-497f-b712-0e757e76a55e/download)

[2022-11-30 19:48] severinbeauvais commented on #13267
This looks OK to me on the View and Change Business Information page (Edit UI):

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/6ff825aa-9971-47ef-bb73-c6f18890a1dd)

Also looks OK in the Business Summary output:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/aace5d4a-f377-4ec7-a23b-879498d25493)

Also looks OK in the Change of Registration

[2022-11-30 19:48] severinbeauvais commented on #13267
@droberts27 Can this ticket be closed now?

[2022-11-30 19:51] tlebedovich commented on #14251
@mstanton1 - the new business look up will help with adding an active business during the add/edit a business flow. Did we still need an additional API check on submission for any businesses that were added/edited using the look up when user clicks the submit button? We'd only be able to check new business owners added via the look up, not ones that were typed into the field manually. And we'll ne

[2022-11-30 19:52] severinbeauvais commented on #14272
There may be some rules around which Prov/Country a director's mailing/delivery address must be in.

I assume the rules for BC/CCC/ULC are the same as for BEN, so if you can confirm what those rules are (ie, ask BA or look in code), then verify that they are applied for BC/CCC/ULC, then I think that's it.

[2022-11-30 20:00] seeker25 commented on #14047
It looks like none of the routing slips have invoices applied to them, due to the routing slip job not running.

Some of them have unapplied_amounts, others don't. I think this needs to be fixed before we can go forward with the next step.

[2022-11-30 20:08] chdivyareddy commented on #13994
Verified the above changes and works as expected.

[2022-11-30 20:18] Mihai-QuickSilverDev commented on #11857
With the SP/GP functionality deployed on October 24, 2022, we are not positioned to work on firms improvements at the moment. I think that this is okay to stay in the Backlog, as a Priority 2, for now.
Including @davemck513 for final confirmation.

[2022-11-30 20:19] tlebedovich commented on #12837
@mstanton1 - can you please update the AC with all of the Active business types that should be included in the business look up

[2022-11-30 20:26] tlebedovich commented on #12837
@dimak1 - from our call:

- [ ] Only pull in Active businesses (not historical etc)
- [ ] @mstanton1 to update AC with list of the active business types to include
- [ ] Check with Doug to make sure we won't be including any fake/test Active business names and that the final business search will be coming from the real Prod BC Business Registry list (not test data from dev environment)

- [ ] remo

[2022-11-30 20:27] severinbeauvais opened #14500 "Filings UI: Investigate business not in good standing but cannot file Annual Report"
### Description

There are a few things going on here that need to be verified/fixed/implemented:
1. does the API provide the "not in good standing" flag? **yes, see #14612**
2. does the UI display the NIGS alert? **no, that will be fixed in THIS ticket; see also #13881**
3. does the UI handle entity-type-alterations and BEN/BC/CCC/ULC alterations correctly (with goodStanding=true or false)? **no,

[2022-11-30 20:29] chdivyareddy commented on #13964
Verified!

Sole/Joint Tenants:

- When the owners are deleted:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c64d9dca-2504-47ec-8fb7-3fd23e750b20)
- When the deleted owners are Undone:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c5458c56-1dbd-488f-b8d3-f31dadc1e036)

Groups:
- Deleted existing groups and added new group:
![image.png](http

[2022-11-30 20:30] Mihai-QuickSilverDev commented on #13274
The modernization outputs are identical with the SOFI one. I am not sure what the issue is here.
@argush3 @droberts27 Please confirm that this ticket can be closed.
@severinbeauvais

[2022-11-30 20:31] Mihai-QuickSilverDev commented on #11050
@severinbeauvais

[2022-11-30 20:34] Mihai-QuickSilverDev commented on #14403
@severinbeauvais Can we unblock this ticket? Also, if work for this ticket is done, could we close it? Thanks much!

[2022-11-30 20:35] severinbeauvais commented on #6540
This cannot be tested at the moment because BEN IA corrections cannot be filed.

Therefore I'm taking this ticket out of this sprint and moving it to the backlog. It's still in the BCN Corrections epic so we'll see it when we check overall status of the epic.

[2022-11-30 20:55] severinbeauvais commented on #14403
Blocked label is removed. It seems Auth Web allows the use of conditional NRs needed to test this ticket.

[2022-11-30 20:56] forgeuxGH5 opened #14501 "UI Design - Search Selection List, Lien search, and output"
### Wireframe/Design Comps:

https://www.figma.com/file/RVyW8PHUOwniX7KRpxspKw/%2314501---UI-Design---Search-Selection-List%2C-Lien-search%2C-and-output?node-id=1%3A12&t=7gB5OeC65GVf2CKE-1

- [ ] Confirm selection behaviour and outputs match existing MH Online behaviour and update/improve if necessary
- [ ] Check display of multiple owners of the same home (active, historical and exempt)
- [ ] Ens

[2022-11-30 20:57] vysakh-menon-aot commented on #14275
**TODO**

 - Include Court Order validation in IA
 - Alteration
	- Update namerequest validation to support ULC, CCC, BC
	- Update alter business type validation to support ULC, CCC, BC
 - Update dissolution validation to use BC_CCC instead of  CCC_CONTINUE_IN (in CORP_TYPES list)
 - Update filing meta to show noticeOfArticles output for Correction, Alteration, Change of Address, Change of Directo

[2022-11-30 20:58] Mihai-QuickSilverDev commented on #14272
I am not showing any condition on Directors' address. This ticket can be moved to Done.

![image.png](https://images.zenhubusercontent.com/62741a399202cf3570f9fd40/2daf702b-eb16-4d4f-a2a4-270654e27506)

[2022-11-30 20:58] vysakh-menon-aot commented on #14275
@Mihai-QuickSilverDev here is my findings which we need to groom tomorrow

[2022-11-30 21:00] ketaki-deodhar commented on #14272
Just finished checking in code and no conditions as well. Moving to done.

[2022-11-30 21:02] severinbeauvais commented on #14275
I removed the previous estimate since we'll be re-grooming this.

[2022-11-30 21:03] eve-git commented on #13304
The code change is in DEV.

Ready to test.

[2022-11-30 21:31] dimak1 commented on #12837
@tlebedovich thanks for the feedback and checklist. Moving back to In Progress.

[2022-11-30 22:05] severinbeauvais commented on #14491
@seeker25 Please include this ticket in your next Auth release to Test/Prod. Thanks!

[2022-11-30 22:20] gprimeau opened #14502 "Creations of New forms"

[2022-11-30 22:22] gprimeau opened #14503 "Amendment to forms"

[2022-11-30 22:23] eve-git commented on #14342
@PatrickAHeath Can you clarify the requirement? What is the minimum length of a SP/GP name? Thanks!

[2022-11-30 22:24] seeker25 commented on #14491
on test in 10m

[2022-11-30 22:25] PatrickAHeath commented on #14342
@Mihai-QuickSilverDev I believe the above question is for you.

[2022-11-30 22:27] gprimeau opened #14504 "Report Payments made by Liquidator"

[2022-11-30 22:28] gprimeau commented on #14504
[Report Payments Made by Liquidator Form.docx](https://github.com/bcgov/entity/files/10127746/Report.Payments.Made.by.Liquidator.Form.docx)

[2022-11-30 22:39] tlebedovich commented on #14090
@doug-lovett - looks great thanks!

[2022-11-30 22:44] Mihai-QuickSilverDev commented on #14498
I am going to confirm with the Business if we should prevent corporations to complete filings that would put them in breach of the legislation. After all, we enforce this standard for incorporation. Why would the standard be lowered for subsequent transactions?

[2022-11-30 22:48] chdivyareddy commented on #14398
Hey @ChasBoucher , I tried submitting a Draft Transfer in the Review and Confirm screen by following the steps you mentioned in the description and was struck in the review screen without navigating to the dashboard, but when I navigate back to the dashboard by clicking on the Cancel button from Review screen, new registrations were added under the Parent registration when submitted the same draft

[2022-11-30 22:49] Mihai-QuickSilverDev commented on #14401
Closing for now, as it cannot be replicated. Will open another one in the future if needed.

[2022-11-30 22:49] #14401 closed

[2022-11-30 22:58] ChasBoucher commented on #13848
@tlebedovich I will make the change here... It was an oversight.  I discussed this with Otto last week and thought it would be best that I do it as I am very familiar with this part of the code.  I will make the change and include with the bug fix.

 When Qualified Sup

[2022-11-30 23:00] chdivyareddy commented on #14460
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f99d0b31-0b28-4528-8b66-ebe588985c39)

[2022-11-30 23:05] ChasBoucher commented on #13931
@mstanton1 @dimak1 Sounds good.  Waiting on one approval and hopefully it will get merged today.

[2022-11-30 23:21] severinbeauvais commented on #11050
@lekshmimallika-aot @vysakh-menon-aot @argush3 Do you know where this "business summary URL" is provided? I don't see anything like it in the business or filings response.

[2022-11-30 23:22] severinbeauvais commented on #14292
Moved to In Progress to  match the state in design-team-space.

[2022-11-30 23:22] Mihai-QuickSilverDev commented on #14342
The minimum 3 characters restriction for an SP/GP name is enforced in the NRA. I have inquired the business about the background of this requirement, and will update once we have an answer. Until then, a client would not be able to proceed with a 2 chars name, or shorter - would be stopped by the NRA interface.

[2022-11-30 23:37] Mihai-QuickSilverDev opened #14505 "Create UI, Edit UI - Remove "SP" from the list of accepted entity types in the DBA lookup"
Legal requirement:

![image.png](https://images.zenhubusercontent.com/62741a399202cf3570f9fd40/d3d44ca8-73d9-4d0d-b612-b57d994dadfe)

To do:
- [x] update Create UI
- [x] update Edit UI
- [x] verify and update unit tests as needed

[2022-11-30 23:37] chdivyareddy commented on #13416
Verified in DEV!

Registration Status: Exempt (045440)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/01d24435-787f-4468-99b9-2afac94e0f9c)

[https://app.zenhub.com/files/157936592/c74f6a37-d068-45ff-b529-bcd02be89c1b/download](https://app.zenhub.com/files/157936592/c74f6a37-d068-45ff-b529-bcd02be89c1b/download)

Registration Status: Active (002844)
![image.png](https:

[2022-11-30 23:40] eve-git commented on #14366
I hide the "Register Your Business" button for a Change SP name request.
@yuisotozaki can you please confirm if below UI looks good:
![image.png](https://images.zenhubusercontent.com/5da9d9a151b27c0001f5c9ec/6305a9e0-2ffc-42ca-bbe0-595bea7e9d1a)

[2022-11-30 23:49] chdivyareddy commented on #14218
Verified!

Search Output:

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ddafaf2f-e859-4582-85f6-56415e95a631)

Verification Statement:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/870f8fa6-1e82-44b1-bad4-3ef55e7b6aea)

[2022-11-30 23:57] tlebedovich commented on #14425
@mstanton1 This ticket is now ready for grooming.

c/c @forgeuxGH5