[2022-05-31 21:49] kialj876 commented on #12255
Oh yeah you can scroll down and click 'go to registries dashboard' or go directly to here: https://yfthig-dev--pr-79-cou8gp5f.web.app/dashboard

[2022-05-31 22:05] tlebedovich commented on #12255
@kialj876 - design comp has slightly different text - plural businesses (unless someone had told to you change it?)

![Screen Shot 2022-05-31 at 3.03.44 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/807a1eae-618d-45db-a4a4-4f7438d769d5)

[2022-05-31 22:07] tlebedovich commented on #12179
@kialj876 - see my UXA comments in the PR about tool tip links

[2022-05-31 22:09] Mihai-QuickSilverDev commented on #12252
@stevenc987 @ozamani9 This is the ticket we were talking about in the morning. Steven, it was mentioned that you might already have a script that might be adapted for the purposes of this ticket.

[2022-05-31 22:20] stevenc987 commented on #12252
@Mihai-QuickSilverDev
It seems you need this query to be run weekly till end of July, is it right? If so, we just run it weekly by manually. Is that OK?

[2022-05-31 22:29] mstanton1 commented on #12189
Running list of tweaks. To visit - and create dev ticket - when we are slightly more stable.

[2022-05-31 22:34] mstanton1 commented on #12052
Requirement pending. It appears the old BCOL web application does not include this ability. The BCOL combined search may potentially include this, but we could not get a report to generate.

Pending follow up with SBC as it was suggested they may take funds first so if no results are displayed they may have a requirement for providing a NIL search.

[2022-05-31 23:00] PatrickAHeath commented on #12429
Business Debtor Name Search:
KAL-WEST MECHANICAL SYSTEMS INC. - exact matches in Legacy and Modernized.
KAL-WEST MECHANICAL SYSTEMS INC - exact matches in Legacy and Modernized.
KAL WEST MECHANICAL SYSTEMS INC. - exact matches in Legacy and Modernized.
KAL WEST MECHANICAL SYSTEMS INC - exact matches in Legacy and Modernized.

[2022-05-31 23:29] #12371 closed

[2022-05-31 23:29] #12192 closed

[2022-05-31 23:29] #11581 closed

[2022-05-31 23:29] #12191 closed

[2022-05-31 23:29] #12190 closed

[2022-05-31 23:49] #12166 closed

[2022-05-31 23:49] #11958 closed

[2022-05-31 23:49] #12206 closed

[2022-05-31 23:49] #12213 closed

[2022-05-31 23:58] tlebedovich commented on #12018
@forgeuxGH5 - that was a lot of detail work! Let's review together tomorrow.

[2022-06-01 00:00] tlebedovich opened #12441 "UI Design - Business Search product illustration"
Design a dev-ready brand illustration for Business Search

Visual Design Comps:
https://projects.invisionapp.com/share/4W12OVWSG6RD#/screens/466884374?browse

Final Thumbnail Image Download:
https://drive.google.com/file/d/1CejJ0fD5tneGZMOrHDdBCijoaiWryeL_/view?usp=sharing

[2022-06-01 00:01] tlebedovich commented on #11074
@janisrogers - should I move this to ready for dev since you have separate tickets for any new work?

[2022-06-01 00:02] #12284 closed

[2022-06-01 00:04] yuisotozaki commented on #12427
Verified in dev. Ready for QA.

[2022-06-01 00:05] tlebedovich commented on #12376
@forgeuxGH5 - lets chat about this one before i start

[2022-06-01 00:07] yuisotozaki commented on #12131
Ready for QA. Visual artifact has been logged in the overall UXA ticket 11321.

[2022-06-01 00:24] yuisotozaki commented on #11702
Verified in dev. Ready for QA.

[2022-06-01 01:05] seeker25 opened #12442 "PAY/AUTH - Update version numbers"
Update version numbers, most of them are: 0.1.0a0.dev.

Might be useful to have a script.

[2022-06-01 02:53] #12377 closed

[2022-06-01 02:53] #11812 closed

[2022-06-01 02:53] #12247 closed

[2022-06-01 02:53] #12434 closed

[2022-06-01 06:13] jyoti3286 commented on #12095
Not required

[2022-06-01 06:13] #12095 closed

[2022-06-01 06:34] jyoti3286 opened #12443 "PAY-JOBS - EJV Payment and CRON Job scheduling"
### User Story

As a ministry user
I want to pay via Electronic JV
So that I can use a standard government payment method to purchase products

### Below needs to be done to enable EJV in Prod:
- Run a connectivity test in Prod with CFS Feeder(3505)
- Schedule one for payments(daily)
- Run one-time job in Production to process pending JV payments

[2022-06-01 07:02] Mihai-QuickSilverDev opened #12444 "Verify - Create UI SP/GP changes"
Feedback on how a “person” and “businesses/corporations” are described when adding them to a SP registration:

- [x] Add an individual person as the proprietor if the business is owned and operated by one individual person who is responsible for all debts and liabilities.

- [x] Add a business or a corporation as the proprietor if the business is owned by an existing entity/business (i.e. a corpor

[2022-06-01 07:03] jyoti3286 opened #12445 "AUTH-WEB/API - Account Management Search - Enhancements"
## User Story

As a staff
I want more flexibility in searching on the Account Management screen
so that I am able to find what I need faster and provide better service to clients

**Note: Don't load any data in the `Active`tab when the Staff dashboard loads**

### Acceptance Criteria

**Scenario 1: Add filters to the table**
* GIVEN When I am on the Account management section of the Staff Dashboar

[2022-06-01 13:44] argush3 opened #12446 "Update SP/GP pipeline to support incremental loading of filings for a firm to different environments"
In order to support data loading of firms to multiple environments and do this in an incremental fashion, some updates will need to be made to the pipeline.

**TODOs**

- [x] Update to use event/filings delta for a firm to determine which filings still need to be loaded for a firm
- [x] stop processing data loading a firm when first unsupported filing is reached
- [x] makes changes required to eas

[2022-06-01 14:16] seeker25 commented on #12440
Put this at a 2, because the release for SBC-AUTH was last done in December. I had to do quite a bit of investigation to figure out which projects were up to date. I think next time this should be a 1.

[2022-06-01 15:10] PatrickAHeath commented on #12429
Aircraft (AC) & Airframe (AF) search:
Legacy - 014677B (AC:  A12-07.06   AF:  C-FN.BR)
Modernized - 502516N (AC:  A12-07.06   AF:  C-FN.BR)

Legacy:
A12-07.06 - exact match
A120706 - partial match
A12 07.06 - partial match
A1207.06 - partial match
A12-0706 - partial match

**C-FN.BR - nil search
CFNBR - nil search**

Modernized
A12-07.06 - exact match
A120706 - partial match
A12 07.06 - partial ma

[2022-06-01 15:27] lmcclung opened #12447 "Sprint 13.4 Objectives"
1. As user making an SP/GP registration, I want to search for a DBA or Partner using the Business Search feature so that I can pick my registered company. - 85%
2. As a dev, I want to setup the framework for an SP/GP Correction filing. - 80%
3. As a dev, I want to load SP/GP Dissolution filings to the standalone environment. - 100%
4. As a user, I want to download and receive by email an SP/GP dis

[2022-06-01 15:35] mstanton1 opened #12448 "Add MHR Product Selection"
GIVEN I am a BC Registries Account Holder,
OR Am setting up a BC Registries Account
WHEN I am on the Products and Services Page
THEN I can select Manufactured Home Registry

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/b26cac2d-feb8-48fd-8475-a452f5e78496)

[2022-06-01 15:40] #12276 closed

[2022-06-01 15:55] mstanton1 opened #12449 "UI - Step 1 Describe your home"
GIVEN I open a Manufactured Home Registration transaction
WHEN I am in the 'Describe your Home' step
THEN I am able to enter details for Make and Model, Home Sections, Certification, Rebuilt Status and Other Information

[2022-06-01 15:55] mstanton1 opened #12450 "UI - Step 3 List the Home Owners"
## User Story
As an MH Staff user, I need to be able to quickly and easily list the home owners (including people, organizations, and groupings thereof) so that I can ensure the integrity of data in the registry.

## Designs
UI Design - Register a Manufactured Home - Registries Staff #10264
Visual design on Steps 3 and 4 #12951

[2022-06-01 15:55] mstanton1 opened #12451 "UI - Add Individual Home Owner or Groups for Individuals / Organizations"
GIVEN I am BC Registries Staff with the keycloak group Assets_Staff
WHEN I open a Manufactured Home Registration transaction and select the 3rd step, 'List Home Owners'
THEN I am presented with the first block of the step 'Owners' and I have a button to 'Add a Person' or 'Add an Organization'
AND I see the total ownership allocated as 0%, tenancy type as 'undefined' and a table for owners that is

[2022-06-01 15:55] mstanton1 opened #12452 "UI Detail the Home Location"

[2022-06-01 15:55] mstanton1 opened #12453 "UI - Review and Confirm"

[2022-06-01 15:56] #12292 closed

[2022-06-01 15:56] #12321 closed

[2022-06-01 16:09] jinghualicgi opened #12454 "Release 13.5.1: PPR June16th Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
- [x] Dev to ensure that the commit list is r

[2022-06-01 16:09] lmcclung opened #12455 "Conversion Regression Testing"
@lambert-alex to insert his notes in this ticket
This is not a final checklist will update when I know which filings are available to which users and company types.

- [x] Change Filing Staff GP and SP for BEN and COOP tested office address and director(s) change
- [x] Change Filing Non-Staff GP and SP  for BEN and COOP tested office address change and director(s) change
- [x] Alteration Filing St

[2022-06-01 16:09] tlebedovich commented on #12018
@mstanton1 - work here is done, just going to review with scott before its ready to groom/split into tickets

[2022-06-01 16:12] jinghualicgi opened #12456 "Release 13.4: PPR June9th Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
~- [ ] Dev to ensure that the commit list is

[2022-06-01 16:16] lmcclung opened #12457 "UI Design - business summary for SP/GP"
### Visual Design Comps from #9205:
All Business Summary
**https://projects.invisionapp.com/share/BQYD0C9JWRM#/screens?browse**

Active SP  https://invis.io/9712R4EO4QKJ
Active DBA https://invis.io/2G12R4EP3FBW,
Active GP Page 1 https://invis.io/ZP12R4EQCWFT, Page 2 https://invis.io/YZ12R4ESTAVB
Historical SP Page 1 https://invis.io/7S12R4EVNEFU, Page 2 https://invis.io/S312R4EWTUHV
Historical DBA

[2022-06-01 16:18] debblyth opened #12458 "INC9999 - Debbie's Test Issue"
### ServiceNow incident:
### Contact information
Staff Name: Debbie Blyth
Staff Email:  debbie.blyth@gov.bc.ca

### Description
Client trying to submit NR but payment would not go through so client thought it didn't work.  However, payment was taken from his credit card, please process a refund.

### Ops Process
- [ ] Add **Entity** or **Relationships** label to zenhub ticket
- [ ] Add **Ops** lab

[2022-06-01 16:20] janisrogers opened #12459 "UI - changes to search tile on BCROS home page"
Since the tile will go live before search goes live we need to change the wording.

Designs pending

[2022-06-01 16:23] ozamani9gh opened #12460 "Omid does not have access to MHR yet"
testing 123

BEFORE:

![image.png](https://images.zenhubusercontent.com/62606d9e769b6103917adb08/73453989-de92-4127-843d-efd3d88a6cfb)

AFTER:

![image.png](https://images.zenhubusercontent.com/62606d9e769b6103917adb08/85823347-2971-4f67-b467-28dd4194671a)

[2022-06-01 16:24] ozamani9gh commented on #12460
dsfhdsafadskdshfdsfdskhflfdsfdffdsdfdfs

[2022-06-01 16:25] janisrogers opened #12461 "UI Design - BCROS Homepage tile changes"
Pre release:
Need a coming soon tag
Change second sentence to read: " Available to use by end of summer 2022"

Post release:
Pull out some bullets about search from the account selection.

[2022-06-01 16:26] severinbeauvais commented on #9260
**Note to developer**

As this functionality is expected to be used also in Edit UI, if possible please implement this with an eye to making it a shared component. See [Nature of Business](https://github.com/bcgov/bcrs-shared-components/tree/main/src/components/nature-of-business) as an example of how this could be done.

[2022-06-01 16:28] ozamani9gh commented on #12460
@olisaezeh please review this

[2022-06-01 16:37] jinghualicgi commented on #11508
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/11508?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1

[2022-06-01 16:38] #12458 closed, assigned to nobody

[2022-06-01 16:39] debblyth commented on #12458
Test done

[2022-06-01 16:43] jdyck-fw commented on #11635
Ballpark guessing the release for this since this ticket doesn't impact release comms.

[2022-06-01 16:44] jdyck-fw commented on #11413
Ballpark guessing the release for this since this ticket doesn't impact release comms.

[2022-06-01 16:44] PatrickAHeath commented on #12429
Individual Debtor Name Search:
Anne-Marie Jorgen-Stern.Chuck
Legacy - 014678B
Modernized - 502521N

Legacy:
Anne-Marie Jorgen-Stern.Chuck - exact match
**AnneMarie Jorgen-Stern.Chuck - NIL result**
Anne Marie Jorgen-Stern.Chuck - partial match
Anne Jorgen-Stern.Chuck - partial match
Anne-Marie JorgenStern.Chuck - partial match
Anne-Marie Jorgen-SternChuck - partial match
**AnneMarie JorgenSternChu

[2022-06-01 16:44] jdyck-fw commented on #11408
Ballpark guessing the release for this since this ticket doesn't impact release comms.

[2022-06-01 16:44] jdyck-fw commented on #11407
Ballpark guessing the release for this since this ticket doesn't impact release comms.

[2022-06-01 16:45] jdyck-fw commented on #11657
Ballpark guessing the release for this since this ticket doesn't impact release comms.

[2022-06-01 16:53] ozamani9gh opened #12462 "MHR Tickets"
1) Search Page
2) Information Page
3)

[2022-06-01 16:54] fareenr commented on #11508
@mstanton1 This is the URL for the hours of availability webpage:
https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/hours-of-availability

May be better to use the GUID, in case this webpage moves in the future:
https://www2.gov.bc.ca/gov/content?id=C41D8179671441B2BAA3BDDD3D89C9A9

[2022-06-01 16:57] #12283 closed, assigned to nobody

[2022-06-01 16:58] mstanton1 opened #12463 "Hours of Availability Footer"
GIVEN I am a BC Registries user
WHEN I access the BC Registries site and view the footer
THEN I see a link to 'Hours of Availability'
AND I can click that link to launch the CMS site for Hours of Availability

[2022-06-01 17:06] mstanton1 opened #12464 "Entities to pick up new footer"

[2022-06-01 17:06] mstanton1 opened #12465 "Names to pick up new footer which includes hours of availabilty"
- [ ] Update Sbc Common Components dependency version to a minimum of `2.4.48`

Original work done under 11508

[2022-06-01 17:29] mstanton1 opened #12466 "UI - Step 1 Make and Model Section"
GIVEN I have MHR as a product and have MHR Staff or Manufacturer access
WHEN I open a Manufactured Home Registration
THEN I default to the 'Describe your Home' step of the stepper
AND see sections to enter 'Manufacturer, Make and Model', 'Home Sections', 'Home Certification', 'Rebuilt Status', 'Other Information'

GIVEN I have completed 'Describe your Home' Make and Model section
WHEN I navigate t

[2022-06-01 17:34] jyoti3286 opened #12467 "Dissolution Filing: UX Assurance"
### UXA Feedback Document:
Google doc link:
https://docs.google.com/document/d/1ITTp-prRAr025b9Kx6wGmitVSEhqiKYOHbAMHtKZ2A4/edit?usp=sharing

-----------------

**Description**

- This ticket is created for validating the UI/UX for SP/GP - Dissolution filing in TEST Env

- Issues found can be directly sent to @meganawong @shabeeb-aot

- Note that the output work needs to be built by Lekshmi from E

[2022-06-01 17:49] jyoti3286 opened #12468 "Account Management Enhancements"
This ticket captures all the work which we did for Account Management enhancements

[2022-06-01 17:53] pwei1018 opened #12469 "Quarterly Review June 2022"
Review the team member access/permission of our products from the following list

https://docs.google.com/spreadsheets/d/1ya6VTTVhGbzXoYhqxd9f4Fly8snRJtH6Tehmecntva8/edit?usp=sharing

 Github
 Zenhub
 Openshift
 1password
 Launchdarkly
 Sentry
 hotjar
 Browserstack
 Keycloak ( who has admin role )

Requirements:

 Remove/downgrade access/permission if the user is not on the list
 Put the user info

[2022-06-01 18:28] mstanton1 opened #12470 "PPR/MHR to pick up new footer"
- [ ] Update Sbc Common Components dependency version to a minimum of `2.4.48`

[2022-06-01 18:39] #12460 closed, assigned to Maribeth-Wilson, ozamani9gh

[2022-06-01 18:54] #11591 closed

[2022-06-01 18:55] SateeshFW opened #12471 "Relationships Sprint 13.4 Goals"
1. As a staff, I want to put a dissolved business back to register if it was dissolved by mistake
2. As a staff, I want to dissolve a business if there is a court order for the same - 12093, 12092, 12094, 12269, 12304
2. As a user, I want to land at the right spot when I am logging in or I am switching accounts so that I can navigate easily in the system - 12363, 12301

[2022-06-01 18:55] lmcclung opened #12472 "BC1188598 - COLIP-API stuck and won't"

[2022-06-01 19:03] SateeshFW opened #12473 "Relationships Release 13.4"
Prior to moving into production, the following steps should be completed or confirmed:

- [ ] Update version numbers in the code being released and list them here:

Note: I think I need some work on updating the version numbers next time.

- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ]  Create a draft release in GitHub and confirm the correct commits are present
-

[2022-06-01 19:32] doug-lovett commented on #11963
@thorwolpert @mstanton1 I think I have this working in DEV:
In the dev keycloak:
1. Create new role mhr_helpdesk.
2. Create new staff group MHR Help Desk
3. Assign roles mhr and mhr_helpdesk to the MHR Help Desk group.
4. Add the group to the test helpdesk user BRTEST3 (brtest3@idir)
5. Login to the dev UI with IDIR BRTEST3 and verify mhr_helpdesk is in the token roles:
    "view_accounts",
    "m

[2022-06-01 19:43] jinghualicgi opened #12474 "SRE Regular Tasks During Sprint 13.4+13.5 (June01-June28)"
This ticket is for **SRE tasks which NOT have a specific ZH ticket:** including
- Any normal daily SRE routine tasks
- Other SRE tasks which are not on ZH Board

We are trying to capture this part of SRE effort where previous is missing.

#### Eve's tasks and effort
- worked on SRE tickets and OPS Rotation 100%

#### Meng's tasks and effort
-
-
-

#### Richard's tasks and effort
- Load New SP/GP D

[2022-06-01 20:27] chdivyareddy commented on #12220
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/cd08dad5-ca5a-4987-939f-50105dc31be6)
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c349eed2-7410-4432-92aa-79ddb189b814)

[2022-06-01 20:28] jinghualicgi commented on #12241
@lmcclung We need to know which expiration data range we are going to fix

[2022-06-01 20:42] chdivyareddy commented on #12219
Verified!

![Screenshot (80).png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e52b25f2-2ac1-4b26-ab7d-63b3f8a8e666)

[2022-06-01 21:00] tlebedovich commented on #12257
@cameron-freshworks do you have log ins/links to the different staff accounts we can use to test the different variations in DEV (or TEST?) with @forgeuxGH5 ?

Also - to note, whichever tile staff shows on the BC Registries Dashboard, the same tile illustration should appear on the secondary pages. And should probably be the same titles as well so i need to confirm this all with Scott. For example

[2022-06-01 21:02] AshnaMehta opened #12475 "AUTH/PAY - SP/GP receipts with priority fees (using staff account - routing slip) erroring out"
While trying to download the receipt for SP/GP dissolved by staff with priority fees and paying through routing slip, getting an error.

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/61b14953-d56e-44b6-b4ac-cbb329789ada)

Steps to reproduce:

1. Staff dissolves a SP/GP by paying priority with a routing slip

(the invoice is stuck in APPROVED state so it never creates a

[2022-06-01 21:03] seeker25 commented on #12475
https://test.bcregistry.ca/business/FM1000325?accountid=1845

[2022-06-01 21:27] cameron-freshworks commented on #12257
@tlebedovich Hey Tracey, sorry i forgot to mention, they pulled out the commit in order to do their release. Will notify you when it's back into Dev 😅

[2022-06-01 21:52] tlebedovich commented on #12376
Is Address Change BC a partner site?

[2022-06-01 21:56] lmcclung commented on #11999
@ozamani9gh @rarmitag Safa’s email address is safa.khan@maximuscanada.ca .

[2022-06-01 22:17] mstanton1 commented on #12430
I was able to complete a registration without GC in TEST (502523N). This will be added to the sprint and I will work with the team to determine who can work on this.

[2022-06-01 22:27] lambert-alex commented on #12455
So far what I have gone through.

Errors:
		In almost every filing the generated pdfs in the completing party statement there is a trailing space after the completing parties name before
		the comma. i.e. "I Alex Lambert , the..." instead of "I Alex Lambert, the..."

		- In the certify Component bug I have been unable to reproduce. If I correct company name and select edit the company name and add

[2022-06-01 22:50] mstanton1 commented on #6576
Carol's signature has been obtained. A copy has been provided back to the OCIO.

Copy saved on LAN: R:\S7740\2 LEADERSHIP\Admin 100-499\Info Privacy Protection of Privacy 293\60 PIA Privacy Impact Assessments\Registries Modernization PIA 2022

[2022-06-01 22:50] #6576 closed

[2022-06-01 23:14] magszymanski commented on #12329
Trish sent Wendy an email on May 27:

I just wanted to touch base on the upcoming releases. I understand that you have been or will be discussing the potential impacts and workload/volumes for ministry accounts, non-ministry accounts, identity affidavits, etc., with Mags and Fareen for the releases below but I wanted to look at these changes holistically, not just for one product stream at a time.

[2022-06-01 23:18] kialj876 opened #12476 "Search API / Doc Service - create cached documents"
## Description
Create cached docs using doc service same/similar to PPR when a user pays for docs. Talk with Doug Lovett about PPR implementation. Don't generate cached filing history for now. Does not include building the service in GCP
## Details
- [x] search api code to connect to doc service
- [x] create search doc service code (leverage code in PPR)
  - [x] figure out how we will store them i

[2022-06-01 23:19] kialj876 opened #12477 "Business API - check auth (doc endpoint)"
## Description
Update filing document endpoint and business document endpoint to check auth for user access to document

## Details
- [x] ~make auth call for access check~
- [x] ensure search-api can access documents with service account

[2022-06-01 23:24] seeker25 opened #12478 "PAY-API: BCOL_FEE_CODE missing in corp_types"
PAY-API: BCOL_FEE_CODE missing in corp_types

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/7e644c9b-e5d6-43ac-b8e8-63060156670a)

[2022-06-01 23:26] chdivyareddy commented on #12178
@doug-lovett , for the MHR Serial Number & Owner Name search, the vertical line is overlapped with page on the footer in DEV, please take a look!

**Owner Name:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/eae6b800-3389-4752-8785-99e16ade6a61)
**Serial Number:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/17034a48-e340-4474-a4eb-1564e1

[2022-06-02 00:33] dimak1 commented on #12430
Found the root cause. The WYSIWYG preserves HTML formatting even after the text is deleted (i.e. `<p>`, `<h1> `tags etc). We can't see it in the editor, but the app treats this as a valid _description_ and does not show an error.
Will chat with the team to find a solution.

[2022-06-02 00:35] lmcclung commented on #10978
Decision: since these are on the same date, we need to change the effective time of the dissolution so that it is an hour later than the registration time.  Also add a comment to the filing that was changed to indicate why it was changed so our ledger is transparent.

@argush3 please confirm you are now able to apply them in date order with the detailed comment included.

[2022-06-02 00:35] #10978 closed

[2022-06-02 00:55] lmcclung commented on #12472
@jinghualicgi Here's the COLIN-API ticket that is the next priority after White Pine tickets.

[2022-06-02 01:03] lmcclung commented on #12455
@lambert-alex I added some comments to the above.

[2022-06-02 02:37] yuisotozaki commented on #12457
This work was completed in [11554](https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/11554).

[2022-06-02 04:42] thorwolpert commented on #11963
In the other projects, we've been listing configuration, roles and other changes needed into the deployment tickets.
If there are new keycloak roles, they could be added there to ensure they're done as part of deployment.
In a full CD, we'd list them in the tix like was done here.

[2022-06-02 05:03] Mihai-QuickSilverDev opened #12479 "****URGENT - WHITE PINE INVESTMENTS - Alteration filing - BC0574790 - FINAL WORK****"
@pwei1018 @amichard @ozamani9
Please complete the tasks below in the New Environment, in the order specified here:

**This block of 7 filings need to be completed/removed the Pending status first, so that the corporation can file their 2021 Annual Report:**

[1] [ ] Complete Conversion record and remove the Pending status, for the record dated Nov 11, 1998. Change the filing date to Nov 12, 1998 -

[2022-06-02 05:24] Mihai-QuickSilverDev commented on #12252
Hi Steven, that would be fine. Could you please run it first on Thursday morning and attach the results and the SQL script to this ticket?

Thank you much!

Mihai

[2022-06-02 07:55] tlebedovich commented on #12430
nice sleuthing @dimak1 !

[2022-06-02 14:18] stevenc987 commented on #12252
@Mihai-QuickSilverDev
Here you go...
[Ticket12252-2022-06-02.xlsx](https://github.com/bcgov/entity/files/8824733/Ticket12252-2022-06-02.xlsx)

[2022-06-02 15:03] #12259 closed

[2022-06-02 15:14] #11922 closed

[2022-06-02 15:19] dimak1 commented on #12240
Temporary Url for review: https://yfthig-dev--pr-80-1qmtbgjz.web.app

[2022-06-02 15:28] fareenr commented on #12143
Set up for BCOL helpdesk leads and Vital Stats/ eWills demo overview for Jun 7

[2022-06-02 15:30] fareenr commented on #11873
Reviewed change plan with BC Assessment IT and business reps.  will keep track of current status of actions within the change and comms plan saved here:
https://docs.google.com/document/d/1sx9AhncXMQD5mtqwjXsMqkHkPTvt-DxK/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-06-02 15:32] ozamani9gh opened #12480 "teetst"
dsahfdsalfdslfsl

[2022-06-02 15:33] Mihai-QuickSilverDev commented on #12252
@stevenc987 @fareenr Hi Steve, thank you much for this first run of the report. I have updated the title to match the description - we need the report to show all subscriptions for active accounts, not just the Vital Stats ones. The subscriptions would be: Business Registry & Name Request, Business Search, PPR, Wills Registry, Rural Property Tax.
id name email region bcol user id subsription 1 sub

[2022-06-02 15:46] kialj876 commented on #12459
Added the coming soon text and available after summer as part of the other ticket. This ticket will track switching the feature flag for beta before go live and updating the text before go live

[2022-06-02 16:06] stevenc987 commented on #12252
@Mihai-QuickSilverDev
I have updated the query according to your new requirements:

SELECT o.id,
o.name,
c2.email,
c.region,
o.bcol_user_id,
p.product_code
FROM public.orgs o
join product_subscriptions p on p.org_id=o.id
left outer JOIN contact_links cl ON (cl.org_id=o.id)
left outer JOIN contacts c ON ( cl.contact_id=c.id)
join memberships m on m.id = (select min(id) from memberships m2 where m2.

[2022-06-02 16:08] MeganFedora commented on #12339
@ozamani9gh I am still unable to assign tickets
 ![Screenshot 2022-06-02 090744.png](https://images.zenhubusercontent.com/6283fe6e638082f37e8186eb/5ea13b69-fc89-41f6-a2ff-61cf6180d7a2)

[2022-06-02 16:08] #11648 closed

[2022-06-02 16:09] #11647 closed

[2022-06-02 16:09] Ashna-FreshWorks opened #12481 "Error while filling a dissolution"
Current behaviour: Getting an error "Unable to save filling" when trying to dissolve without Dissolution date filled in. Occurs on both user and staff versions
Steps to reproduce:
1. Initiate a dissolution of SP/GP
2. Fill in all details except Dissolution date
3. Should be able to see the error
![Screen Shot 2022-06-02 at 12.04.41 PM.png](https://images.zenhubusercontent.com/6266dce4f20b9d122add4

[2022-06-02 16:10] #11649 closed

[2022-06-02 16:14] ozamani9gh commented on #12339
I have added Write access to all github ids i am aware of:

MeganFedora
debblyth
jennweldon
maribeth-wilson
jujubenjewel
elizabethanneespinosa
olisaezeh
sharongithub1
ybellanger

[2022-06-02 16:20] rarmitag commented on #12479
@Mihai-QuickSilverDev -
Had to manually set the status to completed for those conversion filings. I think they can go ahead and file their 2021 Annual Report.
Continuing to work on the other data fixes

[2022-06-02 16:24] kialj876 commented on #12391
work for this is already captured in #12402

[2022-06-02 16:26] kialj876 opened #12482 "Public API - update public search api spec with owner stuff"
## Description
Update spec to include owner info

[2022-06-02 16:30] kialj876 opened #12483 "SOLR - SPIKE figure out best way to update index"
## Description
Solr needs a way to update when businesses change / are added and deleted. The suggest handler and the select handler both need to be updated regularly.
Look into:
1. automating rebuilding the entire index for both periodically (i.e. couple times a day)
2. updating the indexes every time a business is updated  (will still need to automate ^ every week or so regardless)
Create a stor

[2022-06-02 16:38] severinbeauvais opened #12484 "Create UI: verify/update org-person address rules"
In #12419, the proprietor/partner address rules were implemented and other rules were updated. These needs to be verified in Edit UI and updated if needed.

### Org-person address rules (eg, completing party, incorporator, director, proprietor, partner)

(As seen in People and Roles / Proprietor / Partners component. Does not include alteration filings.)

- [x] director/incorporator/completing par

[2022-06-02 16:40] kialj876 opened #12485 "SOLR - configure in test / prod"

[2022-06-02 16:41] #10398 closed

[2022-06-02 16:41] #11876 closed

[2022-06-02 16:42] #10220 closed

[2022-06-02 16:42] #10280 closed

[2022-06-02 16:45] Ashna-FreshWorks opened #12486 "Remove Error Validation for Court Order Component"
Current behaviour:
Getting an error validation message for Court Order component.
![Screen Shot 2022-06-02 at 12.44.49 PM.png](https://images.zenhubusercontent.com/6266dce4f20b9d122add4d61/f83eb6c4-3f82-4c62-825e-952c030042d9) field

Steps to reproduce:
1. Log in as a staff
2. Initiate an Sp/Gp dissolution
3. Click on File and pay without filling anything in
4. The Court order component presents a

[2022-06-02 16:47] mstanton1 opened #12487 "Report API - Wysiwig Outputs"
- [ ] Reduce Calibri body text by 1 px
- [ ] Use existing light gray for hairline
- [ ] Reduce Calibri body text in table by 2 px
~~Add 1 px table lines (same color as text)~~ Removed as this would be handled in the UI. Should be tackled in another ticket in this story.
~~Align text to the left and anchor to the top~~ Removed as this would be handled in the UI. Should be tackled in another ticket

[2022-06-02 16:49] kialj876 opened #12488 "Public API - create mocks service for 3rd party users"
## Description
Create mock service that 3rd party users can test against

[2022-06-02 16:56] yuisotozaki opened #12489 "Name Request Output has incorrect URL"
**This needs to be done in time for go-live, end of July 2022 and feature flagged if being done well before the go-live date.**
In Name Request, once the request is paid for, the user is able to download the result.
In the result output, there are two links to the BC Registries.
The link assigned to "Registering Proprietorships and Partnerships" is incorrect; it is going to https://www2.gov.bc.ca/

[2022-06-02 16:57] mstanton1 opened #12490 "Wysiwig default text reappearing"
## Tasks
- [ ] Investigate for no more than a day and return pathway to addressing in comments
- [ ] Fix if can be done within timebox
- [ ] Else, return to bug column

## Notes
* Wysiwyg editor has multiple implementations - this one is relevant to general collateral wysiwyg
* If time, check amendment implementation to see if reproduces there (fix or make new ticket as applicable)

**Describe the

[2022-06-02 17:07] Mihai-QuickSilverDev commented on #12484
Two places where we need the checks:
- list of parties validation
- in the actual address form
We cannot allow "same as" because the first address could be outside BC.

[2022-06-02 17:08] lmcclung opened #12491 "Legal API: proprietor/partner delivery address must be in BC"
In #12419 a requirement was brought up that proprietor/partner deliver address must be in BC (in a conversion filing). (This applies to both persons and businesses.)

We need to update our code validation in the following SP/GP filings.  This is done all in one place.
- [ ] Registration
- [ ] Change
- [ ] Conversion

Update tasks

[2022-06-02 17:09] severinbeauvais commented on #12484
This logic already exists for business address, I think, so it can be copied from there.

[2022-06-02 17:17] jmills-cgi opened #12492 "Auth web UI - Add premium"
- [x] add (requires Premium account) next to description if product is premium only
- [x] add tooltip for bus search over req premium words
- [x] add coming soon badge (make feature flag that can be altered to BETA when needed)

[2022-06-02 17:19] Mihai-QuickSilverDev commented on #12489
In the PDF there is a link to bring the user to the status page - Business Registry page.

[2022-06-02 17:27] trishreimer opened #12493 "Train IT Ops on how to create tix in Zenhub for Ops issues - due by June 10th"
- [x] Walk through tix creation.
- [x] ensure IT Ops know how to access the board, what fields/labels to enter, how to check status, etc.

- [x] walk through - when tix has been created, post the ticket in RocketChat '#Operations Tasks' channel

Omid - thanks for helping out with the training.

[2022-06-02 17:30] trishreimer opened #12494 "Update Ops template"

[2022-06-02 17:35] trishreimer opened #12495 "Please add IT Ops team to Ops channel in Rocket Chat"

[2022-06-02 17:48] seeker25 opened #12496 "SBC-COMMON - Unhandled exceptions not being logged"
Unhandled exceptions not being logged.

An error will occur, but no logging happens and Sentry mails out the error.

This makes it difficult to debug issues on DEV/TEST that are throwing errors.

[2022-06-02 17:56] rarmitag commented on #12479
@Mihai-QuickSilverDev -
I set the filing text to how it reads in colin, still need to add metadata
I set the alteration to show after the IA
not sure where you see the director appointment date for Michael Hobson

[2022-06-02 17:59] lambert-alex commented on #11959
On June 2, 2022 I verified that the action required blurb in the To Do list in the filing UI in dev does not have an action required blurb.

[2022-06-02 18:05] janisrogers opened #12497 "Update suggester to populate table instead of dropdown"
*NOTE: this ticket replaces the suggester dropdown bug*

Trigger the facet search and populate the search table as the user types instead of using the suggester + dropdown

also remove search button

[2022-06-02 18:07] seeker25 commented on #12475
Paying by routing slip doesn't create a receipt when it's in the invoice.approved state. We might want to change this, but not sure the impact.

[2022-06-02 18:08] fareenr commented on #12041
2Jun - RPT provided updated user guide content.  I will need to put in screenshot of accessing Rural Property Tax Search from landing page.
We will need to house this on the Registry training resources page, just for this partner registry. There will not be a link in the application.

[2022-06-02 18:20] mstanton1 commented on #12490
Tested and noticed that when reaching the review screen the default text did not appear.
Completed registration 502527N and checked output and confirmed the output did not include default text, and included appropriate text for general collateral.

I don't see much of a user impact. This seems like more of a minor inconvenience.

[2022-06-02 18:36] rarmitag commented on #12479
@Mihai-QuickSilverDev -
Updated metadata.
Updated Appointment date.
Please verify and close.

[2022-06-02 18:50] vikasvermacertain commented on #11845
9 BCOL tables have been identified in the Oracle database CPRD (for COLIN) that can be used to draw reporting around the BCOL payments.

An additional table (payments) in GLOBALP database is identified containing payment info for societies online.

Next task is to work with John Lane and Jyoti Kumar to discover the actual needs and reports required.

[2022-06-02 18:52] vikasvermacertain commented on #11845
Tables are listed below:

BCONLINE_ACCOUNT_BALANCE
BCONLINE_ACCOUNT_REPORTED
BCONLINE_BILLING_RECORD
BCONLINE_BUSI_TYPE
BCONLINE_SUBSCRIPTION_OPTION
BCONLINE_ACCOUNT
BCONLINE_ACCOUNT_ADDRESS
BCONLINE_FEECODE
BCONLINE_USERID

[2022-06-02 18:56] chdivyareddy commented on #12177
@doug-lovett , not sure whether this can be raised in this ticket or not, but the Folio Number is not reflected in the report as well as on the UI.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/1f9d1f61-d728-4b3b-8136-927b895f7fc0)

- [ ] Registered Location Names are missing in few places (please leave this if we are going to tackle this later)

![image.png](https://

[2022-06-02 19:11] kialj876 commented on #12255
updated in dev

[2022-06-02 19:18] lambert-alex commented on #12455
It appears that after I made a correction filing for a COOP it saved and got added to the coop's todo list and has no available actions. It seems as a result now I am unable to create BEN correction filings in my account and I am unable to save SP and GP correction fillings.

![Correction change stuck in todo coop.png](https://images.zenhubusercontent.com/62717af8eca90b5099d264a7/379e680b-6985-460

[2022-06-02 19:48] eve-git commented on #12204
Done. Please test

[2022-06-02 19:50] doug-lovett commented on #12177
@chdivyareddy
1. The UI is not including the folio number in the api requests (search step 1 client_reference_id).
2. There are database location records with no park name: an empty value is valid.

[2022-06-02 19:56] #12072 closed

[2022-06-02 20:04] chdivyareddy commented on #12177
@doug-lovett , thanks for clarifying, will create a ticket for the UI issue.

[2022-06-02 20:21] tlebedovich commented on #12255
looks good to me @kialj876 - feel free to move to RFQA

[2022-06-02 20:22] tlebedovich commented on #12367
I would need to know what the stats are that we are adding please @forgeuxGH5

[2022-06-02 20:25] jinghualicgi commented on #12494
A ZH Template has been created, @jmills-cgi  please review and let me know if you have any comments, thanks
https://github.com/bcgov/entity/blob/master/.github/ISSUE_TEMPLATE/Ops%20Support.md

[2022-06-02 20:28] trishreimer commented on #12494
we also have a requirement to notify staff when the tix is created. maybe by adding them as an assignee or on watch list?

[2022-06-02 20:29] yuisotozaki commented on #12489
The **Registering Proprietorships and Partnerships** link is available on the output regardless of whether the Name Request has been consumed or not. This means we want to keep this as generic as possible and not include any process context information such as "goto this link and click here and there".

NR Approved, not yet consumed:
<img src="https://images.zenhubusercontent.com/5e3c6715d85e5dced

[2022-06-02 20:30] chdivyareddy opened #12498 "UI - MHR - Folio Number is not displayed in the search history table when entered from the search results screen"
## AC
GIVEN I do an MHR search
WHEN I enter a Folio number on the Selection List/Review Selections screen
THEN I see the folio number on the search history table under the Folio column

GIVEN I do an MHR search
WHEN I enter a Folio number before doing a search from the dashboard
THEN I see the same Folio number is reflected on the Selection List/Review Selections screen
WHEN I update/modify the fo

[2022-06-02 20:32] seeker25 commented on #4119
This is already done:

auth_api/services/org.py
[code]

[2022-06-02 20:59] jinghualicgi commented on #12494
Made several small updates based on BA guild discussion. @trishreimer There are still some discussion around process/template, we can inform staff next week when this is more stabilized, I will update this ticket for any progress....

[2022-06-02 21:00] yuisotozaki commented on #12169
Verified in dev. Ready for QA.

[2022-06-02 21:06] mstanton1 commented on #11490
@thorwolpert can you review the link above and provide details in the Data Storage / Security section?

[2022-06-02 21:13] doug-lovett commented on #11637
The MHR Keycloak groups and roles spreadsheet has been updated to to add a Keycloak Group Name row and a Keycloak Role Name column.
- The roles and groups have been created in DEV and TEST.
- A task to add the creation of the roles and groups, along with the users that are to be updated, can be added to the MHR PROD release ticket when it is created.

[2022-06-02 21:14] doug-lovett commented on #12361
@mstanton1  can this be closed if we are sharing the PPR staff and MHR staff access as PPR staff?

[2022-06-02 21:16] doug-lovett commented on #11963
Added a comment to the story to track all PROD release keycloak changes in the deployment ticket.

[2022-06-02 21:20] seeker25 commented on #12496
Back to a 2 for this one, I've tested this in `SBC-PAY` but it's going to take some testing in `SBC-AUTH` as well.

[2022-06-02 21:22] doug-lovett commented on #12061
@mstanton1 please update the spreadsheet to use the keycloak group names in the access column ("client" is too generic).
https://docs.google.com/spreadsheets/d/1PRe59NS71pxyz3bDDRsj2nS8nEJqUSHP9W85ErPPryY/edit#gid=0

[2022-06-02 21:24] doug-lovett commented on #11964
Groups/roles have been created in DEV and TEST. A note has been added to the story to add all MHR PROD keycloak changes to the MHR PROD release deployment ticket when it is created.

[2022-06-02 21:32] mstanton1 opened #12499 "MHR Output Text Additions Logic"
In MHR there are a number of cases where outputs have additional text appended. For instance, with a Transport Permit if the length is greater than 12 or 16 feet (can’t recall which one) the outputs append text that identifies to contact Ministry of Transportation.

We are wondering if you can look in the DB to see if there is a table where various blurbs are included? If the location of these tex

[2022-06-02 21:50] magszymanski commented on #12349
@trishreimer non-ministry email is ready for review.

Key differences from the [May 17 email:](https://docs.google.com/document/d/1QsghdYxuBQK8OM5fVOU7IWb3GZY4O054/edit?usp=sharing&ouid=109508011503764748857&rtpof=true&sd=true)
- removed the section detailing what new services are launching, replacing them with the Fact Sheet
- highlighting to add the Business Search and/or BR as a product to exis

[2022-06-02 21:55] ozamani9gh commented on #12280
@thor @pwei1018 here are the courses that i think would be beneficial:

Govt currently uses Udemy for training:
https://www.udemy.com/course/google-cloud-platform-gcp-fundamentals-for-beginners/
https://www.udemy.com/course/google-cloud-digital-leader-certification/

here are the courses i recommend for Coursera:
https://www.coursera.org/learn/gcp-fundamentals
https://www.coursera.org/specializati

[2022-06-02 22:14] #11728 closed

[2022-06-02 22:14] #11862 closed

[2022-06-02 22:18] forgeuxGH5 opened #12500 "UI Design - Improve "No search selected" and/or define "NIL" search results for MHR search"
Define the behaviours for the following:

- user's not selecting any MH registrations from the Search Results view
- user's de-selecting all MH registrations from the Review and Confirm view

Include Fee Summary display for clients and all staff

~~Determine if NIL search results can be paid for and if they can, define the outputs~~ Not provided at this time. For consideration as an enhancement.

[2022-06-02 22:22] mstanton1 commented on #12448
@garyfan1 I have messaged @seeker25 to confirm if the MHR product exists on the backend. If not, I can create another story with tasks. They just created another Business Search so theoretically we could copy and paste that set of tickets replacing Business Search with MHR.

[2022-06-02 22:25] yuisotozaki commented on #11954
The staff weighed in and the decision is to leave both mailing and delivery addresses editable. There is no harm leaving the same-as checkbox checked and disabled. We can revisit the business logic in the overall UXA for change filing and conversion.

Ready for QA.

[2022-06-02 22:27] chdivyareddy commented on #12175
Attaching the sample search reports from DEV:

**NIL:**
[https://app.zenhub.com/files/157936592/23ee1fb9-740a-44a0-bf07-db59574d0ac7/download](https://app.zenhub.com/files/157936592/23ee1fb9-740a-44a0-bf07-db59574d0ac7/download)

**Active:**
[https://app.zenhub.com/files/157936592/73a67822-65f7-4ffd-b9df-4fa610bff9d8/download](https://app.zenhub.com/files/157936592/73a67822-65f7-4ffd-b9df-4fa610bf

[2022-06-02 22:38] severinbeauvais commented on #11954
The question was whether to leave the "delivery same as mailing" checkbox disabled for the business address in Change and Conversion filings. When this is answered, please leave a comment in #12419 .

[2022-06-02 22:44] yuisotozaki opened #12501 "Verify - Overall UXA - SP/GP Conversion"
This is an overview UXA ticket for SP GP Conversion filings.

- [ ] For firms that do not have a business address (e.g. FM0272480), clicking on the Change button to add Business Addresses displays the Mailing and Delivery address field sets. The **Delivery Address same as Mailing Address** checkbox is unselected and disabled. This was done since we may only have one or the other addresses in the r

[2022-06-02 22:46] rkim13103 commented on #12419
@severinbeauvais
Just got out of a staff meeting, Can we make the "delivery same as mailing" check box not disabled so staff could check the checkbox if mailing address is located in BC and both addresses are the same to save time.

However, in order to implement this:
If mailing address is NOT in B.C and staff checks "deliver same as mailing" and click "done" we should trigger an error presenting

[2022-06-02 23:07] severinbeauvais commented on #12419
Yes, any changes at this point will increase my work time. I am still working on getting change proprietor/partners validation working correctly.

If possible, can we have the logic the same as in this change filing?
https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/edit/FM1000406/change?accountid=2288

- if mailing address is in BC, Canada then user can click "same as"
- if mail

[2022-06-02 23:14] severinbeauvais commented on #12419
The check is for BC + Canada. Try it. The error messages are OK I think.

[2022-06-02 23:15] rkim13103 commented on #12419
One question @severinbeauvais,
-IF mailing address province: B.C changes to another province
-Check box goes to disabled mode
-And can we flush out the information that is pre written in Delivery address?

[2022-06-02 23:19] rkim13103 commented on #12419
It actually works ignore my comment! deleted my comment! '
Yes, I think this is good for conversion and corrections UI unless staff or business requirement changes.

[2022-06-02 23:24] seeker25 commented on #12448
Let me know if there are any changes:

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/a9746246-b224-44e5-b2f4-2bd10a755d77)

Draft PR here: https://github.com/bcgov/sbc-auth/pull/1977

@garyfan1 I've given you repo access, so you should be able to push commits to my repo if you want to change the PR.

[2022-06-02 23:27] doug-lovett commented on #12361
@mstanton1 I was in the console anyway so I have made these 2 changes in DEV and TEST.

[2022-06-02 23:32] seeker25 commented on #12448
Changed the title to `Manufactured Homes Registry`

[2022-06-02 23:57] forgeuxGH5 commented on #12174
### Entities example for reference
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/bd2e0e01-4fe8-41dd-b3a0-9c4c2dcc39f6)

### Comments
- [ ] Add the “Payment” sub-label
- [ ] Align fields to the Folio number field (as in the entities example above)

![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/22beef7e-ec05-4e03-8863-c2704a3b0855)

- [ ] If

[2022-06-03 00:37] cameron-freshworks commented on #12174
@forgeuxGH5 Sounds good, most of it is straight forward!

What do you mean by 'Payment' sub-label however?

[2022-06-03 00:49] tlebedovich commented on #12364
@janisrogers @forgeuxGH5 - let's review these output designs Monday am and decide which options to go with and then I can finalize this before it goes to DEV to start building.

c/c @JohnamLane

[2022-06-03 06:49] Mihai-QuickSilverDev commented on #12417
Done. Closing this ticket and removing the blocker.

[2022-06-03 06:50] #12417 closed

[2022-06-03 15:02] Ashna-FreshWorks commented on #11663
Need incorporated word removed from the dissolution model.
![Screen Shot 2022-06-03 at 10.58.55 AM.png](https://images.zenhubusercontent.com/6266dce4f20b9d122add4d61/20c8f6be-3712-4fd7-b2d2-ac926c750e1d)
Design on left, actual modal on right.

[2022-06-03 15:24] fareenr opened #12502 "Publish updated Rural Property Tax Search user guide on webpage"
At go live for Rural Property Tax Search, June 22nd, publish the updated Rural Property Tax Search user guide on the Modernization training resources webpage.

This is the only partner that we need to house the user guide, other BCOL partner registries will move their user guide to their webpages, so that it is easier for their Ministries to update and maintain in the future.

[2022-06-03 15:27] fareenr commented on #12502
3 June - Emailed the PDF copy of the updated Rural Property Tax Search User guide
[https://app.zenhub.com/files/157936592/55bd611f-87ca-48db-a779-b6830ad94053/download](https://app.zenhub.com/files/157936592/55bd611f-87ca-48db-a779-b6830ad94053/download)

[2022-06-03 15:33] gprimeau commented on #12502
@fareenr
User guide has been uploaded into the asset folder. Below is the link to the guide.

https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-guides/rural_property_tax_search_user_guide.pdf

[2022-06-03 15:41] mstanton1 commented on #12448
@seeker25 looks great. I notice I missed including periods in BC. Can BC be updated to B.C. Thanks!

[2022-06-03 15:44] mstanton1 commented on #12361
@doug-lovett great. Thanks! I see it in Dev and Test. I can see that the MHR_Staff was already added into PROD. What's the process to make this change in PROD as well? Is there testing Divya should do in Dev/Test to confirm there are no impacts of this change first?

[2022-06-03 15:47] fareenr commented on #12331
2-Jun - sent summary of feedback received to John and Linda

[2022-06-03 15:49] ozamani9gh commented on #12280
@thor i meant to tag @thorwolpert .   Thanks for your input nevertheless.  i agree with you.

[2022-06-03 15:58] mstanton1 commented on #6929
Story 12463 was created for hours of availability and is partially implemented.

[2022-06-03 15:58] #6929 closed

[2022-06-03 16:05] lmcclung opened #12503 "RFC - Replace IDIM webservice with API"
We need to look at how to replace the current webservice that we have with IDIM.   there are two parts:
1) Through Onestop - sending logged in user to BCeID along with information from their SP/GP
2) Through BCeID - retrieving business information for Corporations and Societies when an incorporation and password/passcode is entered in BCeID application.

Technical documentation, email and screensh

[2022-06-03 16:13] trishreimer commented on #12238
thanks. looks good. we will need this data again, so please save the query. :)

[2022-06-03 16:24] trishreimer commented on #12494
just confirming that we are updating the existing ops template. Thank you!

[2022-06-03 16:28] lambert-alex commented on #12242
Note for testers.
CP0000841 is a business that has paper copies to request.

[2022-06-03 16:31] mstanton1 commented on #12410
MHR is using an updated version of the common component so this shouldn't be an issue in MHR. For PPR, we can look to use the version of the common component being used by MHR to resolve the issue.

[2022-06-03 16:36] jinghualicgi commented on #12425
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12425?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1

[2022-06-03 16:39] argush3 commented on #12081
For verification purposes, the following SP/GPs have been data loaded to DEV to verify following COLIN event/filing types as LEAR change registration filings.  Please take a look when you have a minute @rarmitag and @droberts27  cc: @lmcclung

*CONVFMACP_FRMEM*
	* FM0276213, FOUR WHEELS "GONE" TRUCKING - IMPORT_TEST
	* FM0277059, PACIFIC CYBERTECH INTERNATONAL - IMPORT_TEST
	* FM0277073, SUPER FAS

[2022-06-03 16:43] jinghualicgi commented on #12498
@forgeuxGH5 how to deal with step2 if no place to save the data? cc: @doug-lovett

[2022-06-03 16:47] #12310 closed

[2022-06-03 16:49] yuisotozaki commented on #12211
@tlebedovich Please have a quick look at the Business Summary mockup and advise any changes.

[2022-06-03 16:56] lmcclung opened #12504 "EDIT UI - pre-fill Certify block for Benefit Alterations"
In a benefit companies alteration filing, the Certify field in Review and Confirm step should:

-be pre-filled in and uneditable with the name of the user logged in if the user is non-staff

-be empty and editable if the user is staff

[2022-06-03 16:56] mstanton1 opened #12505 "UI Design - Updates to MHR and Assets Dashboard text to clarify what is returned"

[2022-06-03 17:01] mstanton1 commented on #12505
@forgeuxGH5 when staff raised this you mentioned you already had some ideas or possibly mock-ups? Logging as a distinct ticket so we don't lose sight of this. Can you groom this with the design team?

[2022-06-03 17:03] trishreimer commented on #12339
@ozamani9gh who do you want added to the OCM repo?? If you send me the names, I can add them.

[2022-06-03 17:14] lambert-alex commented on #12504
In Benefit companies alteration filing, the Certify field in Review and Confirm step should:

-be pre-filled in and uneditable with the name of the user logged in if the user is non-staff

-be empty and editable if the user is staff

[2022-06-03 17:19] lmcclung opened #12506 "UI Design - Update Business Marketing page"
This page needs updating before we go-live with SP/GPs and Business Search
https://www.bcregistry.ca/business/auth/home/decide-business

Logged in and non-logged in.

[2022-06-03 17:25] Mihai-QuickSilverDev opened #12507 "Legal API: Email Template & Processor - SP/GP Correction"
- [ ] Email template
- [ ] processer

there are two emails sent:
### Step 1 - Upon payment/filing
GIVEN staff are doing an SP or GP correction
WHEN staff click File
THEN the following outputs will be sent by email
- [ ] Register Correction Application
- [ ] Receipt

### Step 2 - Upon filing completion
GIVEN staff are doing an SP or GP correction
WHEN Filing is completed
THEN the following outputs

[2022-06-03 17:25] Mihai-QuickSilverDev opened #12508 "Legal API - Update Documents List"
The following documents need to display in the Register Correction ledger of the filing history.

- [x] Register Correction application
- [x] Corrected - Registration Statement
- [x] Receipt

[2022-06-03 17:25] Mihai-QuickSilverDev opened #12509 "Legal API - Output Template"
- [ ] Register Correction application
- [ ] Corrected - Registration Statement
- [x] Receipt

[2022-06-03 17:39] #3580 closed

[2022-06-03 17:39] #3582 closed

[2022-06-03 17:47] yuisotozaki commented on #11328
@tlebedovich Do you think this is completed?

[2022-06-03 17:53] lmcclung opened #12510 "Legal API: schema (DO THIS FIRST)"
- [x] staff or client error - store this in the schema. Need to be optional, and used only when needed.
- [x] need to add the correction registration filing, and change filing, to the list of filings that can be corrected

Please include the Edit UI developers in the PR, as they need to know what the firm correction filing will look like.

[2022-06-03 17:58] severinbeauvais commented on #12419
#### OrgPerson Address Rules

- For SP Individual Proprietor, their mailing and delivery can be anywhere in the world.
- For SP(DBA) Business Proprietor, regardless of whether or not the business is registered in BC, their addresses can be anywhere in the world. (Corporations can have mailing and delivery addresses anywhere in the world)
- For GP Individual and Business Partner, their mailing and

[2022-06-03 18:08] yuisotozaki commented on #12419
Here's the office/business address requirement spreadsheet.
![image.png](https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/ed70a6fb-9f8c-47c8-b456-3ea856500ad0)

[2022-06-03 18:11] mstanton1 commented on #12250
Closing as @doug-lovett has completed work in another ticket to tackle the roles.

[2022-06-03 18:11] #12250 closed

[2022-06-03 18:17] thorwolpert commented on #11964
All added to Prod, I did not rename the PPR group to Assets yet.

[2022-06-03 18:18] jinghualicgi opened #12511 "Onboarding for Anne-Marie Kelly"
Anne-Marie.Kelly@gov.bc.ca

**Onboarding checklist for new team members**

This should be created at least a couple of days before a new member comes on board.

**IDIR**
- [x] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [x] Submit to IT Operations Support. This form should be emailed to

[2022-06-03 18:19] jinghualicgi opened #12512 "Onboarding Joanna Barnes"
Joanna.Barnes@gov.bc.ca

**Onboarding checklist for new team members**

This should be created at least a couple of days before a new member comes on board.

**IDIR**
- [x] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [x] Submit to IT Operations Support. This form should be emailed to th

[2022-06-03 18:32] mstanton1 opened #12513 "PROD MHR Configuraton Changes"
As per recommendation from Thor/Doug this ticket is being created to capture all configuration changes for PROD including keycloak.

1. Remove MHR_Staff group in keycloak PROD. Update PPR_Staff group in keycloak PROD to Assets_Staff (Zenhub 12361).
~~2. Add MHR_Help_Desk group in keycloak PROD (Zenhub 11963).~~ Complete in PROD

[2022-06-03 18:43] mstanton1 commented on #12361
Created Zenhub 12513 for PROD Configuration and added this item in.

[2022-06-03 18:47] mstanton1 commented on #11963
Created Zenhub 12513 to track PROD Configuration items and added this task.

[2022-06-03 18:52] lmcclung commented on #10978
Argus confirmed will be processed in correct order.

[2022-06-03 18:54] chdivyareddy opened #12514 "MHR - UI - Sort the search results screen headings as per the matrix"
**Table Sorting Matrix:**
https://onedrive.live.com/view.aspx?resid=E52B0821EC98A357!24608&ithint=file%2cxlsx&authkey=!ANZaJu9wXUV7DDI

- [ ] **MHR Number:**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/9efc4c07-5356-4227-8c1a-811a4dbdd1e4)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e7619494-2d4a-429e-b2fb-36d9476eab60)

- [ ] **Owner

[2022-06-03 19:00] chdivyareddy commented on #12176
Attaching the search output sort order as per the matrix from DEV:

**MHR Number:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/160adc76-9cbf-4d9b-b75a-87b0d9518930)
[https://app.zenhub.com/files/157936592/05f597b4-62e6-4843-ac2d-2bc29e4f91cd/download](https://app.zenhub.com/files/157936592/05f597b4-62e6-4843-ac2d-2bc29e4f91cd/download)
**Owner Name:**
![image.png](h

[2022-06-03 19:11] severinbeauvais opened #12515 "Filings UI: fix or remove draft correction detail comments in To Do list"
1. Create a draft correction and enter a detail comment, eg,

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/e5e092b7-ff91-4dae-99ed-c9583d153309)

2. "Save and resume later" the correction filing.

3. Display correction details, eg,

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/da1bd69b-9843-45f9-91d7-38cbc88f177b)

4. Observe that the Det

[2022-06-03 19:20] severinbeauvais commented on #12515
@lmcclung @Mihai-QuickSilverDev @forgeuxGH5 What do you think?

[2022-06-03 19:25] doug-lovett commented on #12379
@chdivyareddy
It looks like the existing owners are just replaced, so maybe check there are no duplicates in the report? The query was using the wrong code so going forward it should be correct.
Query:
SELECT DISTINCT mh.mhregnum, o.ownrtype, og.status, trim(o.ownrname), trim(o.ownraddr)
  FROM amhrtdb.manuhome mh, amhrtdb.owner o, amhrtdb.owngroup og
 WHERE mh.mhstatus = 'R'
   AND mh.manhomid =

[2022-06-03 19:28] severinbeauvais commented on #12515
### Related Issue

It looks like a pending correction isn't displaying correctly. Example (as staff, but it looks the same as reg user):

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/109cd08d-7ed6-4490-ad64-034d982c7cff)

The data:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/012ebe70-29f5-4cc7-a2c8-5059112737e6)

At first glance, the co

[2022-06-03 19:35] jinghualicgi commented on #12511
Kelly is Gov Staff, so we might don't need these setup IDIR and Legacy Applications, checked them as done

[2022-06-03 19:36] jinghualicgi commented on #12512
Kelly is Gov Staff, so we might don't need these setup IDIR and Legacy Applications, checked them as done

[2022-06-03 19:37] jinghualicgi commented on #12511
@trishreimer @MeganFedora This ticket is to provide Github and Zenhub access right. Omid is working on this. FYI

[2022-06-03 19:37] jinghualicgi commented on #12512
@trishreimer @MeganFedora This ticket is to provide Github and Zenhub access right. Omid is working on this. FYI

[2022-06-03 20:11] severinbeauvais commented on #12419
@yuisotozaki Thanks for the speadsheet. Some clarification, please:

1. Does GP registered office mailing address need to be in Canada?
2. Is SP registered office delivery address required?
3. Is SP registered office mailing address required? And need to be in Canada?
4. No rules for Partner/Proprietor addresses (other than required), right?

PS GP's don't have proprietors.

[2022-06-03 20:11] Mihai-QuickSilverDev commented on #12479
Good Morning Richard,

There are a few loose ends to close down for this alteration (about 10 of them), as per feedback from the client – please see them numbered below from 1-10:

I have received confirmation from Chad that he was able to file his 2021 Annual Report however there are some errors to report, see below:

1.	Company showing as “not in good standing” in COLIN due to 2021 Annual Report

[2022-06-03 20:12] rarmitag commented on #12479
much better
thank you

[2022-06-03 20:14] severinbeauvais commented on #12484
Blocked until we sort out the rules (which aren't consistent between spreadsheet, existing code, new code).

cc: @yuisotozaki

[2022-06-03 20:16] severinbeauvais commented on #12491
Blocked until we sort out the rules (which aren't consistent between spreadsheet, existing code, new code).

cc: @yuisotozaki

[2022-06-03 20:16] severinbeauvais commented on #12419
5. Are the address rules for SP/GP Registration/Change/Conversion/Correction the same?
  - need to update #12484
  - need to update #12491
  - need to document in SP/GP Correction UI ticket(s)

[2022-06-03 20:58] ozamani9gh commented on #12512
The first step is to get them to create a Github Account, if that has already been done.  please provide the following.

Githib ID:
IDIR:
email:

[2022-06-03 20:59] ozamani9gh commented on #12511
The first step is to get them to create a Github Account, if that has already been done.  please provide the following.

Githib ID:
IDIR:
email:

[2022-06-03 21:05] #9695 closed

[2022-06-03 21:05] #11877 closed

[2022-06-03 21:06] #11879 closed

[2022-06-03 21:06] #11880 closed

[2022-06-03 21:06] #11711 closed

[2022-06-03 21:07] #11984 closed

[2022-06-03 21:07] #11780 closed

[2022-06-03 21:08] #11882 closed

[2022-06-03 21:09] jinghualicgi commented on #10478
Leave this epic in Done because 11884 hasn't been closed yet

[2022-06-03 21:16] #11976 closed

[2022-06-03 21:16] #12077 closed

[2022-06-03 21:17] #12025 closed

[2022-06-03 21:17] #12042 closed

[2022-06-03 21:25] #12111 closed

[2022-06-03 21:32] seeker25 opened #12516 "Director account creation product conflict - Business Registry & Name Request + Names Request"
Wont allow you to invite an account with those two product types selected.

![chrome_vrMPfeKU3V.gif](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/fd58b203-59d5-4c59-8c69-c1b016bca102)

Good case:

![chrome_FYRpJWm1SZ.gif](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/ceec6333-3628-407f-9908-f77a60b40247)

[2022-06-03 21:33] seeker25 opened #12517 "AUTH-WEB - Staff account - Deactivating account redirects"
Deactivating account redirects

![chrome_MdBn7gLHAn.gif](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/f26ea197-f960-4586-8a02-900e80aca1b2)

[2022-06-03 21:35] fareenr commented on #12408
3-Jun - sent presentation slides and next steps to all BCOL partners

[2022-06-03 21:39] jinghualicgi commented on #11976
For reporting purpose: adding est 2 as average tickets size in this sprint

[2022-06-03 21:42] severinbeauvais commented on #11374
@lewischenstudio If you take this ticket, check what version of SbcHeader (sbc-common-components) saves acconunt id to session storage. You may not need to update the import in Filings UI.

[2022-06-03 21:49] rarmitag commented on #12479
@Mihai-QuickSilverDev  - progress so far:
 #2 DONE - effective date set to Nov 12, 2021
 #3 DONE - below
 #4 DONE - AR year now reads 2021
 #5 DONE - set Recognition Date to Nov 12 12 am - dates have times attached in our reports
 #6 DONE - AR date now reads  Nov 12, 2021
 #7 DONE - set Recognition Date to Nov 12 12 am
 #8 DONE - Addresses correected to 800 - 885 WEST GEORGIA ST.

 #1 filing 57539

[2022-06-03 21:56] cameron-freshworks commented on #12356
@chdivyareddy  Ready for QA!
Basic testing should include regression testing on current Registration Flows, as i've changed the way the steps are configured, so they can be dynamic for our new Flow (now with 5 steps).
- If the current account is NOT staff and the feature flag (mrh-ui-enabled) is NOT true, there should be no Option to start the flow under Standard Registrations.
- Regular Clients s

[2022-06-03 22:02] eve-git commented on #9695
I worked on the project from November 2021 to April 2022. It includes replacing FAS server in both regi and sofi,  and sofi upgrading to Java 8.

[2022-06-03 22:13] PatrickAHeath opened #12518 "INC0172242 - Change of Name NR's for Incorporations - frustrating and inefficient process"
**Describe the bug in current situation**
Good morning, I believe this issue has been reported before, but it’s such a pain that I wanted to report it again.  When submitting a NR for a change of name for an incorporation, the client must submit the “Related Corp #”.  When entering the Corp # the client has to put in BC and the number.  However, if you go into namex and try and edit the informatio

[2022-06-03 22:55] chdivyareddy commented on #12356
Verified stepper in the new MHR flow for **BC Registries Staff**, regular accounts (non-staff) do not have access to MHR flow.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d4da2c53-2d99-425b-ab15-36b963816806)

[2022-06-03 23:29] trishreimer commented on #12326
looks good! comments added.

[2022-06-03 23:31] trishreimer commented on #12349
see comments on other two comms. thank you!!

[2022-06-03 23:37] doug-lovett commented on #12178
Footer page count alignment updated.

[2022-06-04 00:05] lmcclung commented on #11289
This work was completed under separate tickets.

[2022-06-04 00:05] #11289 closed

[2022-06-04 00:44] severinbeauvais commented on #12419
From Linda:

[2022-06-04 21:50] seeker25 commented on #12363
Not sure if this would be considered related:
https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/12517

[2022-06-06 05:20] Mihai-QuickSilverDev commented on #9260
INC0172239 was created to obtain from the DBA's a list of all corporation types ever used as a DBA>

[2022-06-06 05:31] Mihai-QuickSilverDev commented on #12252
@stevenc987 Hi Steven, on Monday morning, could you please add a column to also show the BCOL account, where you show the BCOL ID - and run it again? There is a unique relationship between a BCOL ID and a BCOL account. Thank you so much Steven for your great help with this report.
@fareenr @magszymanski

[2022-06-06 07:25] thorwolpert commented on #11933
I've asked Patrick which email service to use. Will start testing once that is set.

[2022-06-06 14:33] ozamani9gh commented on #12339
the users above:

MeganFedora
debblyth
jennweldon
maribeth-wilson
jujubenjewel
elizabethanneespinosa
olisaezeh
sharongithub1
ybellanger

[2022-06-06 15:19] Mihai-QuickSilverDev commented on #12479
From Linda:
@rarmitag

Richard, the name of the Incorporation Application filing from 1998 should read “Incorporation Application”.  Please change it.

Both: Item #8 – actually should have been entered by staff as a correction.  Since this has been datafixed, leave it as is for now and can you ask Elizabeth/Yasmin whether they just want to do a Registrar’s notation or whether we should datafix bac

[2022-06-06 15:27] Mihai-QuickSilverDev commented on #12479
The following email was sent to Elizabeth and Yasmin on the morning of June 6, 2022:

Hi Elizabeth,

I see that Yasmin is away until June 14th.

Regarding this task, pertaining to this alteration:

8.	RRO address is incorrectly stated as 880 – 885 West Georgia Street in all four places, when it should be 800 – 885 West Georgia Street;

this is Linda’s recommendation:

“Item #8 – actually should ha

[2022-06-06 15:44] Ashna-FreshWorks commented on #11660
"In the GP dissolution modal "Act" wording is not correct" from AC would be covered in the dissolution modal ticket.

[2022-06-06 15:47] magszymanski commented on #12252
@stevenc987 we understand that not every BCROS account has linked a BCOL account, but knowing if they did will help us with our change management efforts to make sure every high-volume clients onboard onto the new application in time for upcoming released. Thank you!

[2022-06-06 15:50] lmcclung commented on #12419
@severinbeauvais I added answers to your comments above.

[2022-06-06 16:00] forgeuxGH5 commented on #12174
@cameron-freshworks - I just updated the list above to include adding the Priority fee

[2022-06-06 16:09] ozamani9gh commented on #9921
@severinbeauvais so my investigation reveals that, NameRequest UI and BC Registry home page also produce the 404 error.

my suggestion is to add this to the ignoreErrors:

ignoreErrors: [
          // these errors are safe to ignore, ref: https://stackoverflow.com/a/50387233/8679162
          'ResizeObserver loop limit exceeded',
          'ResizeObserver loop completed with undelivered notificati

[2022-06-06 16:20] severinbeauvais commented on #9921
I'm concerned that this will mask legitimate errors that we want reported so that we know to fix them.

I think it would be better to try-catch the error where it happens without causing problems, if possible. Can you tell which call throws the 404 (and in what conditions/state) and trap it there?

[2022-06-06 16:22] tlebedovich commented on #12211
@yuisotozaki can you run this by scott and the ux team during design stand up? were we planning to show the court order info in the business summary output itself? if not, the instruction text may need to be more clear as to where they can see the court order info if its not going to be on the output (ie letting user know to look at the filling history in the business "dashboard" page, but I am no

[2022-06-06 16:26] lekshmimallika-aot commented on #11328
Yes, this is done and is in prod

[2022-06-06 16:30] #11328 closed

[2022-06-06 16:40] #11959 closed

[2022-06-06 16:42] #12208 closed

[2022-06-06 16:42] #12207 closed

[2022-06-06 16:42] #10011 closed

[2022-06-06 16:43] #11990 closed

[2022-06-06 16:43] #11512 closed

[2022-06-06 16:43] #11992 closed

[2022-06-06 16:43] #12201 closed

[2022-06-06 16:43] #12003 closed

[2022-06-06 16:43] #11296 closed

[2022-06-06 16:43] #11701 closed

[2022-06-06 16:43] #11345 closed

[2022-06-06 16:43] #10380 closed

[2022-06-06 16:43] #10379 closed

[2022-06-06 16:43] #11972 closed

[2022-06-06 16:43] #12143 closed, assigned to fareenr

[2022-06-06 16:43] #12330 closed, assigned to gprimeau, fareenr

[2022-06-06 16:43] #11007 closed

[2022-06-06 16:43] #12362 closed

[2022-06-06 16:43] #12415 closed

[2022-06-06 16:43] #11715 closed

[2022-06-06 16:43] #11529 closed

[2022-06-06 16:43] #12148 closed

[2022-06-06 16:43] #12334 closed

[2022-06-06 16:43] #11973 closed

[2022-06-06 16:43] #11509 closed

[2022-06-06 16:43] #11504 closed

[2022-06-06 16:43] #11842 closed

[2022-06-06 16:43] #11840 closed, assigned to sarahelz19

[2022-06-06 16:43] #12291 closed

[2022-06-06 16:43] #9650 closed, assigned to fareenr

[2022-06-06 16:43] #12157 closed

[2022-06-06 16:43] #11136 closed

[2022-06-06 16:43] #11147 closed

[2022-06-06 16:43] #11723 closed

[2022-06-06 16:43] #12004 closed

[2022-06-06 16:44] #11530 closed

[2022-06-06 16:44] #11080 closed

[2022-06-06 16:44] #11943 closed

[2022-06-06 16:44] #10036 closed

[2022-06-06 16:44] #11149 closed

[2022-06-06 16:44] #11230 closed

[2022-06-06 16:44] #11390 closed

[2022-06-06 16:44] #12020 closed

[2022-06-06 16:44] #11752 closed

[2022-06-06 16:44] #11725 closed

[2022-06-06 16:44] #10367 closed

[2022-06-06 16:44] #11349 closed

[2022-06-06 16:44] #11671 closed

[2022-06-06 16:44] #11217 closed

[2022-06-06 16:44] #11726 closed

[2022-06-06 16:44] #11706 closed

[2022-06-06 16:44] #11712 closed

[2022-06-06 16:44] #11997 closed

[2022-06-06 16:44] #10381 closed

[2022-06-06 16:45] zac-broitman opened #12519 "FAS - Daily Report is including refund payments"
**Describe the bug in current situation**
When the daily report in FAS is run, it is including Refund Payments in the totals, which is throwing off the numbers and causing the front desk team to be unable to reconcile the monies received.

**Link bug to the User Story**

**Impact of this bug**
Impacts front desk team (Rob and Kim's team) by causing the Daily Report to have potentially false totals

[2022-06-06 16:45] trishreimer commented on #12140
we've been linking to the fact sheet which is working, so moving this to done.

[2022-06-06 16:47] trishreimer commented on #12319
This was mentioned in influencer meeting and in communications.

[2022-06-06 16:48] forgeuxGH5 commented on #12498
the folio number displayed in the "Searches" table should be the value in the Folio or Reference Number field on the Review Search Result screen, which I think @chdivyareddy is saying above, this field is pre-populated from the values on the previous screens in the search payment flow, but it can be edited on the review screen - the final value is what should be displayed in the "Searches" table.

[2022-06-06 16:49] trishreimer commented on #12329
met with Dwayne and team.
Dwayne will discuss with Varek to determine what next steps and plan will be to support Wendy and her team.
moving to done.

[2022-06-06 16:52] forgeuxGH5 commented on #12505
Added an estimate (included some time to review with staff)

[2022-06-06 16:53] #11008 closed

[2022-06-06 16:54] #11014 closed

[2022-06-06 16:54] #11018 closed

[2022-06-06 16:54] Maribeth-Wilson commented on #12318
Sessions booked for Jul 13 @ 11am and Jul 14 @ 13:30pm

[2022-06-06 16:58] fareenr commented on #12289
6-May - posted API hours of availability on Discourse forum

[2022-06-06 17:00] trishreimer commented on #11747
we should follow up with partners (i.e., BTUF - CRA, Worksafe, etc.) in July and influencers.

If we already have a tix for this work, then please mark this as duplicate and move to done.

[2022-06-06 17:02] fareenr opened #12520 "Follow up with high-volume users who have not created new accounts or not subscribed"

[2022-06-06 17:03] fareenr commented on #12520
3-May - conducted initial data analysis for high volume accounts that are not subscribed to the Rural Property Tax Search product and suggest to resend the Rural Property launch notice email on 6-May to new Admins from the new Registry application before calling them.

[2022-06-06 17:07] Mihai-QuickSilverDev opened #12521 "In Test, the payment box for a GP registration shows filing type Dissolution"
**Describe the bug in current situation**
In Test, the payment box for a GP registration shows filing type Dissolution.

**Link bug to the User Story**

**Impact of this bug**
Wrong filing type.
Affects all registration filings, and maybe other filing types?

**Chance of Occurring (high/medium/low/very low)**

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**
Dev,

[2022-06-06 17:10] Mihai-QuickSilverDev commented on #12521
@jyoti3286 Hi Jyoti, I was instructed by Linda to open this bug. Could you please tag the developer on this ticket (I did not have the full name). Thank you!

[2022-06-06 17:24] chdivyareddy commented on #12240
Verified tiles as per the criteria in DEV!

- [ ] PPR Product (BCREG0058, 98958)
User has 'My Personal Property Registry' tile
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/94ce9333-244d-451d-a3a7-84cdc34a070a)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/454df32f-a482-4b5d-8654-ca4adea63495)

- [ ] MHR Product (BCREG0064, 98964)
User has

[2022-06-06 17:24] ozamani9gh commented on #9921
I can do a try catch around signin, signout, but i am worried, it will still write to sentry unless we ignore 404s

[2022-06-06 17:28] trishreimer commented on #11968
If we already have a tix for this, please mark as duplicate and move to done.

[2022-06-06 17:29] trishreimer commented on #11969
If we already have a tix for this, please mark as duplicate and move to done.

[2022-06-06 17:29] lmcclung opened #12522 "Add transactional folio to firm filings"
Currently only inserted into the dissolution filing.

Needs to be added to:
- Registrations SP/GP
- Change filings SP/GP

[2022-06-06 17:29] #11753 closed, assigned to nobody

[2022-06-06 17:29] #12438 closed

[2022-06-06 17:30] jyoti3286 commented on #12516
@seeker25 - This one can be fixed when you are doing the navigation ticket

[2022-06-06 17:32] trishreimer commented on #10926
Hi Megan,
Would you mind reviewing the details in this tix and the suggested changes noted by Sienna and decide if any changes are needed to the website to support the Business Summary please?

[2022-06-06 17:33] jdyck-fw commented on #6513
Keeping this one in the backlog for now. Not sure if this is still an issue. We may be changing the way the IA correction works down the road and can investigate then.

[2022-06-06 17:39] trishreimer commented on #11998
@magszymanski Where is the change impact assessment for this app? Is it noted in another spreadsheet?

We should look at how this app will this work for other Firm types that will remain in CPRD? i.e., LP, LLP, etc. and ensure these impacts are noted in the impact assessment.

[2022-06-06 17:46] #11403 closed

[2022-06-06 17:51] jdyck-fw commented on #10956
@jyoti3286 - Did the work that you did for SP/GPs also work for the BEN and co-ops?

If so, can you close this epic and sub-tasks please?

[2022-06-06 17:54] ozamani9gh commented on #12511
@AMKjune1972
please update the other parts of the ticket above

[2022-06-06 18:01] severinbeauvais commented on #12484
Needs to be groomed so we can discuss the rules. I am not sure whether any of all of them are correct at the moment.

[2022-06-06 18:03] yuisotozaki commented on #10954
@lekshmimallika-aot What aspect of user experience and for what scenarios should I test for in this ticket?

[2022-06-06 18:09] lmcclung opened #12523 "SP/GP Create UI - refine entity types that can be retrieved in business search component"
This is a continuation of #9260.  Stripped this task out of the that ticket as there was a dependency on Search Team to allow us to filter with more than one entity type.

- [ ] query to include the following business types: (@lmcclung @mdinu1961 to confirm from the following list)
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/1307b8b3-f6be-4899-bab6-eef5d82fbce8)

[2022-06-06 18:10] lmcclung commented on #9260
Created ticket 12523 for bullet #3.

[2022-06-06 18:55] #12496 closed

[2022-06-06 20:03] Mihai-QuickSilverDev commented on #9260
These are the corporation types used:
![image.png](https://images.zenhubusercontent.com/62741a399202cf3570f9fd40/054c3f9f-cec7-4276-a49c-c7a66f82061e)

[2022-06-06 20:07] Mihai-QuickSilverDev commented on #12523
These are the corporation types ever used, as per COLIN data:
![image.png](https://images.zenhubusercontent.com/62741a399202cf3570f9fd40/96b4fbdf-11eb-4d11-92ad-6f143c3e86f6)

[2022-06-06 20:09] chdivyareddy commented on #12178
Verified!

**Organization Name:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/50dd853c-3558-49d7-99ba-dd43d3026c32)

**Serial Number:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/1e3671d6-8e7a-424b-b5d3-cd84898235de)

**Owner Name:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e3fc95d4-2ba9-476f-8f4d-622b

[2022-06-06 20:33] tlebedovich commented on #12467
@rkim13103 - please put link to editable UX Google Doc above and tag me and I can add in Yui's comments and any additional ones from me. I also linked the design ticket in here for you. Thanks so much.

[2022-06-06 20:33] tlebedovich commented on #12467
@rkim13103 - please put link to editable UX Google Doc above and tag me and I can add in Yui's comments and any additional ones from me. I also linked the design ticket in here for you. Thanks so much.

[2022-06-06 20:38] trishreimer commented on #12238
done.

[2022-06-06 20:42] trishreimer commented on #12149
plan complete.
users notified.
users will tell us which account they have and sp/gp they manage and we will load for go live.

[2022-06-06 21:39] trishreimer commented on #11010
duplicate.
moving to done.
see: https://github.com/bcgov/entity/issues/11248

[2022-06-06 21:40] trishreimer commented on #11010
11248 is duplicate too.
SEe : https://github.com/bcgov-registries/ocm/issues/8

[2022-06-06 21:48] trishreimer commented on #11934
we decided to:
- send screenshots
- ask influencers if they want access to test to contact us and we will schedule time to facilitate this walk through
- host demo/info sessions to walk through the changes
- create quick ref guide for sp/gp and search (info graphics)

[2022-06-06 21:58] rkim13103 commented on #12467
@yuisotozaki @tlebedovich
Google doc link:
https://docs.google.com/document/d/1ITTp-prRAr025b9Kx6wGmitVSEhqiKYOHbAMHtKZ2A4/edit#

[2022-06-06 22:06] chdivyareddy commented on #12379
Attaching the sample report for the MHR search:

**101954**
[https://app.zenhub.com/files/157936592/5a256895-0eb1-4238-82f5-5ffeb10ef9d5/download](https://app.zenhub.com/files/157936592/5a256895-0eb1-4238-82f5-5ffeb10ef9d5/download)
**101973**
[https://app.zenhub.com/files/157936592/cab07eb5-7cbc-40d5-9268-c3313c3919a3/download](https://app.zenhub.com/files/157936592/cab07eb5-7cbc-40d5-9268-c3313c

[2022-06-06 22:53] #11138 closed

[2022-06-06 22:54] trishreimer commented on #11138
CLOSING THIS epic.
moved all tix to master training epic.

[2022-06-06 23:00] trishreimer commented on #11129
duplicate. moved all tix to ocm - training master epic.

[2022-06-06 23:00] #11129 closed

[2022-06-06 23:01] yuisotozaki commented on #12400
@lmcclung The staff will see an additional sentence for staff when they click **Change**on the **Business Contact Information** section. Do you think this is enough to remind staff that Email address is now required in the new BC Registry application?

[2022-06-06 23:07] #6691 closed

[2022-06-06 23:09] #7618 closed

[2022-06-07 00:15] SateeshFW opened #12524 "Filings UI: fix date conversion (was: Date picker)"
Date conversion is incorrect for users in timezone other than 'America/Vancouver'. It may be off by 1 day. For example, a user in EST timezone seleting May 5th as date from date picker, the resultant date in text box comes to be May 4th.

Please refer to ticket #12384 for more details on the bug.

Please refer to the PR https://github.com/bcgov/business-create-ui/pull/402 to find out the possible

[2022-06-07 00:21] severinbeauvais commented on #12524
@jdyck-fw @lmcclung FYI.

[2022-06-07 01:11] magszymanski commented on #12416
@trishreimer I just saw this ticket.
I've made two updates to the fact sheet:
1. added the screenshots (There is no more space to add a new section on previewing changes if we want to keep this to a one page doc. I've added this under "Getting users ready for the late summer launch of our new services"
2. I updated the What's New section as Search will be its own product. I now list the BC Reg app

[2022-06-07 02:15] forgeuxGH5 commented on #12257
is this ready for UXA? I'm seeing the PPR tile in dev...

[2022-06-07 16:02] mstanton1 opened #12525 "Database Code Descriptions"
Can you please confirm/provide the meaning of the following legacy database codes:

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/bc3a6705-e878-4d79-a974-76628672b8df)

[2022-06-07 16:05] lmcclung opened #12526 "Registrar Signature should read T.K. Sparks + Update Certificate signature order"
Currently the name above or below Kaines signature says "KAINE SPARKS" and should read "T.K. SPARKS" to match the home team outputs.

There should not be a space between .K.  Only space is before the surname.

1. Certificates (name uses live text):
Also, rearrange stamp on the certificates so the signature is above the name T.K. Sparks and make "Province of BC" all caps. Here is the updated design

[2022-06-07 16:22] lekshmimallika-aot commented on #10954
I think whether the report matches the design,  any missing section etc. I think Riyaz will verify data accuracy

[2022-06-07 16:24] #12370 closed

[2022-06-07 16:25] #12324 closed, assigned to ritvick

[2022-06-07 16:26] #11660 closed

[2022-06-07 16:33] jinghualicgi commented on #12257
@seeker25 Hi Travis, do you know latest status related with Cameron's comments? -- Relationships team pulled out the commit in order to do their release. Will notify you when it's back into Dev. PS: Cameron is off yesterday and today, we want to release this ticket on Thursday, thanks cc: @mstanton1

[2022-06-07 16:33] forgeuxGH5 commented on #12448
Reviewed this - looks good for this version

[2022-06-07 16:36] seeker25 commented on #12257
It's already merged back in DEV.

[2022-06-07 16:47] #12169 closed

[2022-06-07 16:47] #12131 closed

[2022-06-07 16:52] yuisotozaki commented on #10954
UXA Observation:
* In the footer, "Incorporation" should be replaced with "Registration" for firms.

<img src="https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/9df826d3-e45f-4f58-96dd-a020717691f6" width=400/>

[2022-06-07 16:57] stevenc987 commented on #12252
@Mihai-QuickSilverDev
I have updated the query according to your new requirements:

SELECT o.id,
o.name,
c2.email,
c.region,
o.bcol_user_id,
o.bcol_account_id,
p.product_code
FROM public.orgs o
join product_subscriptions p on p.org_id=o.id
left outer JOIN contact_links cl ON (cl.org_id=o.id)
left outer JOIN contacts c ON ( cl.contact_id=c.id)
join memberships m on m.id = (select min(id) from membe

[2022-06-07 17:01] severinbeauvais opened #12527 "Edit UI: regression-test all scenarios that use common PeopleAndRoles/OrgPerson components"
In #12419, the PeopleAndRoles/OrgPerson/ListPeopleAndRoles components was significantly refactored in order to implement generalized validation and complete SP/GP functionality. This refactor affects all filings that use these components:
- BEN IA correction
- (not BEN alteration as it uses a different component)
- SP/GP change
- SP/GP conversion

The different scenarios include adding and editing

[2022-06-07 17:01] lmcclung opened #12528 "Update Registrar's signature block to read "T.K. SPARKS""
At the top or bottom of the signatures we have "KAINE SPARKS"  This should be "T.K. SPARKS".

This needs to be updated across the Business Registry apps.

See dev ticket #12528 for details

[2022-06-07 17:12] lewischenstudio opened #12529 "UI get account id from CURRENT_ACCOUNT"
This ticket is related to #11374.
The following UIs will use the same approach to acquire account ID from CURRENT_ACCOUNT as in the Filing-UI.

- [x] Create UI
- [x] Edit UI
- [x] Namerequest UI
- ~BC Registry UI~

[2022-06-07 17:19] tlebedovich commented on #12526
@lmcclung @Kaineatthelab - both entities and PPR outputs/certificates are currently using "KAINE SPARKS" for all outputs. Can I get a double confirmation that both entities and PPR should update all to say T.K. SPARKS now before we make these changes across the board?

[2022-06-07 17:22] jennyschan commented on #12216
@JohnamLane  do you mean to add the image to Dashboard or the actual Search Widget.  thanks

[2022-06-07 17:37] magszymanski commented on #11998
@JohnamLane when you're back, can we pls meet ASAP to review this work? We could loop in Jenny.

[2022-06-07 17:40] fareenr opened #12530 "Post on Discourse that aiming for Sandbox Business Search API to be ready around mid-Aug (tbd)"
Emphasize that in the meantime, clients can begin development based on the technical specs.

(actual date is not known as there is a delay with loading of all business search data and then will require data cleanup before the Business Search API can be available for external users)

[ ] Update Business APIs timeline visual for preferred service provider partners

[2022-06-07 17:58] Mihai-QuickSilverDev commented on #12252
@stevenc987 Hi Steve, I did not get the report. Would you kindly be able to send me the report at mihai.dinu@shaw.ca ? Thank you!

[2022-06-07 18:04] yuisotozaki commented on #12400
With the staff input, we've landed on using a valid placeholder email address for staff to use.
This additional text is not deemed required by the design team.

[2022-06-07 18:06] trishreimer commented on #12416
[https://app.zenhub.com/files/157936592/00de21e8-2b20-4085-b129-5d6056a400cc/download](https://app.zenhub.com/files/157936592/00de21e8-2b20-4085-b129-5d6056a400cc/download)

[2022-06-07 18:23] pwei1018 commented on #12236
https://docs.google.com/document/d/1E-59OJcXlxH4XGHwkWNEbiNX9pFE8UeXSo8h03G9Zhs/edit#heading=h.jpb1zgh5cyj8

[2022-06-07 18:37] chdivyareddy commented on #12430
@dimak1 All the registrations are working as expected when the text is removed/undone, but when the user adds empty spaces in the GC field rather than entering text, then it is accepted and the user can file registration. Please take a look, thanks!!

- [ ] When empty characters (spaces) are entered:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b44f56c2-ceff-4c09-a1c5

[2022-06-07 19:00] tlebedovich commented on #5369
@jyoti3286 @lmcclung @yuisotozaki @rkim13103 - Think we will need to implement this so users can't submit filings like Dissolution if they are missing the required business contact information (email/phone). Design may need a refresh since this ticket is 2 years old.  c/c @forgeuxGH5

[2022-06-07 19:16] sarahelz19 commented on #12345
- [ ] Confirm that paper forms will be accepted for alternative process to online
 - [ ] Identify all fields required on net new form
 - [ ]No signature Block required
 - [ ] Add "DO NOT MAIL" header and footer

[2022-06-07 19:16] #12344 closed

[2022-06-07 19:20] sarahelz19 commented on #12338
Current Forms:
[https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-forms/change_proprietorship_or_partnership_registration_reg_720.pdf](url)

[2022-06-07 19:41] cameron-freshworks commented on #12174
@forgeuxGH5 Thank you sir!
Also @garyfan1 has taken over the UX updates for this ticket.

[2022-06-07 20:18] mstanton1 commented on #12499
Ali has converted the systems documentation into a word document and has been unable to find information on the text blurbs. Moving back to Sprint Backlog as we will need to look at another approach to identify these scenarios.

[2022-06-07 20:52] yuisotozaki commented on #10954
Ready for QA!

[2022-06-07 20:53] tlebedovich commented on #12526
@lmcclung - new entities stamp image is ready to go. all other instances use live text I believe.

[2022-06-07 21:20] magszymanski commented on #11998
Business staff uses it when they can't search by business name. Only for firms: SP, GP, DBA.

[2022-06-07 21:21] chdivyareddy commented on #11810
Verified!

- [ ] **MHR Number:**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/553b72e3-a264-443a-a136-5ab3fcd5ede1)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/9dd7ebc4-7f5e-42b7-b451-9f3445acafae)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/7ecef8e1-f168-4220-844d-9ac649f1d831)

![image.png](https://ima

[2022-06-07 21:26] mstanton1 opened #12531 "UI Design - Create MHR Icon for BC Registries Dashboard"
- Create design for adding an tile on the BC Registries Dashboard for 'Manufactured Home Registry'
- Include 'New' badge on block
- Tile should display in BC Registries section of the page

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/0f37bde1-cede-44b5-8dd9-d90c93847df2)

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/679fb58d-c210-4808-bc

[2022-06-07 21:29] chdivyareddy commented on #11810
@dimak1 , Couple of validations are missing as per the attached spreadsheet. Please take a look, thanks!!

- [ ] Search value hint for Owner Name is missing "Owner names normally  contain letters and numbers only"

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b17489c1-d124-4cd4-ac5c-59e9da4c06ee)

- [ ] Special Character usage message for Serial Number is missing "Ser

[2022-06-07 21:52] chdivyareddy commented on #12448
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a92547b9-5476-459d-a44c-dd98662e5c08)

[2022-06-07 21:53] mstanton1 opened #12532 "UI - Step 1 Home Sections"
GIVEN I am entering data in a Manufactured Home Registration
WHEN I am in the 'Describe your Home' step section for 'Home Sections'
THEN I can click 'Add a Section' and the box expands to allow entry of Serial Number, Length in feet and inches, Width in feet and inches
AND when I click 'Done' the section saves with Section Number 1
AND I can continue to add up to 4 sections

GIVEN I have entered a

[2022-06-07 21:54] mstanton1 opened #12533 "UI - Step 1 Certification"
GIVEN I am entering data in a Manufactured Home Registration
WHEN I am in the 'Describe your Home' step section for 'Home Certification'
IF I am BC Registries staff with keycloak group Assets_Staff
THEN I can choose the radio button for CSA Number of Engineers Report
AND Under CSA Number I must enter CSA Number and CSA Standard
OR Under Engineers Inspection I must enter Engineer's Name and Date of

[2022-06-07 21:59] mstanton1 opened #12534 "UI - Step 1 Rebuilt Status"
GIVEN I am Registries staff with the Assets_Staff keycloak role
WHEN I am entering data in a Manufactured Home Registration and am in the 'Describe your Home' step section
THEN I see a section for 'Rebuilt Status'
AND I can enter up to 280 characters of free form text in a text box
OR I may leave this section blank

GIVEN I am BC Registries staff with Assets_Staff keycloak role and have completed

[2022-06-07 21:59] mstanton1 opened #12535 "UI - Step 1 Other Information"
GIVEN I am Registries staff with the Assets_Staff keycloak role
WHEN I am am entering data in a Manufactured Home Registration and am in the 'Describe your Home' step section
THEN I see a section for 'Other Information'
AND I can enter up to 140 characters in a text box
OR I may leave this section blank

GIVEN I have completed 'Describe your Home' Other Information
WHEN I navigate to the Review an

[2022-06-07 22:13] zac-broitman commented on #12519
Not a bug, this was caused by the import of RE routing slips from old FAS to new. Those slips would have had a created date of june 2 so they are included in that day's report. No changes to the report are needed at this time. Closing the ticket.

[2022-06-07 22:13] #12519 closed

[2022-06-07 22:39] chdivyareddy commented on #12220
@garyfan1 , When 'i' icon is clicked in TEST env to download the document, PDF is not generated. Please take a look, thanks!!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/6712d43d-fc94-4821-85d8-a61b80b8bb46)

[2022-06-07 22:41] #9227 closed

[2022-06-07 22:46] yuisotozaki commented on #12211
The design team met to discuss - there were lots of great ideas to better help the user accomplish their end-goal. For now this design is good enough for MVP.

[2022-06-07 22:56] jyoti3286 opened #12536 "One Account Type to manage all the users in BC ROS"
The two different accounts in BC ROS is creating a lot of confusion. The long-term plan is to just have one account type and have options for users to pay using different payment methods.

We can take the following steps to slowly get to that point:

- Add all the payment methods to the Premium and Basic account types (credit card and Online banking)
- For new users, In the account creation proces

[2022-06-07 23:01] mstanton1 opened #12537 "Update to Registrars Name in PPR Certified Outputs"
GIVEN I am Registries staff with the Assets_Staff group in keycloak
WHEN I complete a PPR client search and choose the checkbox for it to be certified
THEN the output displays the certification image
AND the printed name below the signature is listed as T.K. SPARKS

**Note: image already exists - only change is to the text which is currently listed as KAINE SPARKS

![image.png](https://images.zenh

[2022-06-07 23:01] jyoti3286 opened #12538 "API Onboarding for Partners"
### Presentation deck used with partners
https://docs.google.com/presentation/d/146DjH08Ow1kSFhIA-U5EuktTtVUfaaHV/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

### Notes:

- We want all our public partners to provide APIs through our Payment gateway
- They have done some major work onboarding our platform
- This could help the big firms, third-party service providers not screen s

[2022-06-07 23:11] garyfan1 commented on #12220
@chdivyareddy I think this behavior is intentional? please refer to #12219

[2022-06-07 23:13] jyoti3286 opened #12539 "Adding drawdown and payment method on BC registry platform"
### Business rational:

There are many organizations whose policies and regulations don't allow them to use PAD or credit cards. We have looked at other payment options available(like EFT), but it will not support all the user groups.

One option on the table is to have a "Drawdown" option on the BC Registry platform same as what BCOL offers.

- Approval is required from ADM
- We would have to wor

[2022-06-07 23:16] yuisotozaki commented on #9260
UXA Observation:
* Just a minor layout and sizing to be addressed.

<img src="https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/e658d7ca-3bfb-4fc2-9628-11127cf3ee60" width=600 />

[2022-06-08 15:11] mstanton1 commented on #12220
@chdivyareddy I ran one test where I completed a MHR search in Dev and clicking the i icon triggered it to circle like reloading. It didn't produce the output on the first click but did on the second. Can you verify the i icon is triggering the page to reload from what you see as well? If so this is good to move along.

[2022-06-08 15:15] Ashna-FreshWorks commented on #12426
p
Please refer to the screenshot below and update the wording "Business Corporation Act" to "Partnership Act".

![Screen Shot 2022-06-08 at 11.11.21 AM.png](https://images.zenhubusercontent.com/6266dce4f20b9d122add4d61/d1fe5dd0-25ae-4ad5-b573-d8c86390ffd3)
Left is the design and right is the actual.

[2022-06-08 15:25] chdivyareddy commented on #12220
@mstanton1 @cameron-freshworks There was no issue in DEV. But yesterday, when I tried in TEST clicking on the i icon didn't trigger PDF to download. This morning it is working as expected:)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2082c6cb-9173-4fa5-a369-40143c69ebf2)

Thanks @doug-lovett for the update:)

[2022-06-08 15:32] mstanton1 opened #12540 "Requirements - MHR Registration call to COLIN"
In the 2017 MHR Requirements documentation it is identified that we pull data from COLIN in the MHR Registration flow. See page 83. Further research is required to identify:

1) What data we pull from COLIN?
2) Triggers/scenarios where we pull data from COLIN?
3) Transactions that involve this pull from COLIN.

This will be key to identify early as certain entity types may move over to Entities mo

[2022-06-08 15:49] MeganFedora commented on #12339
@trishreimer @ozamani9gh I have added the last two github IDs for my staff (David and Laurie)

[2022-06-08 15:52] sarahelz19 commented on #12337
Good Morning – Thank you for your review of the SP/GP Change and Dissolution Forms – I had several take-away actions that I have noted in the summary below. Please let me know if you have any questions or additions, and I will resolve the form mock-ups as noted:
•	There must be a paper forms process for those that may not have access to technology
•	No fees will apply for any change/dissolution fi

[2022-06-08 15:52] sarahelz19 commented on #12338
Good Morning – Thank you for your review of the SP/GP Change and Dissolution Forms – I had several take-away actions that I have noted in the summary below. Please let me know if you have any questions or additions, and I will resolve the form mock-ups as noted:
•	There must be a paper forms process for those that may not have access to technology
•	No fees will apply for any change/dissolution fi

[2022-06-08 16:03] jinghualicgi commented on #12537
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12537?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1

[2022-06-08 16:04] trishreimer commented on #12339
@pwei1018 could you please add the staff above to the organization so I can add them to the OCM team? Or have someone else on your team do this (or give me access and I can do it).

[2022-06-08 16:06] cameron-freshworks commented on #12257
@tlebedovich
The update has been made in response to the roles change in the JWT.
This should be verifiable in DEV now.

[2022-06-08 16:12] jinghualicgi opened #12541 "UI Design - List Maximus and staff HD numbers to Business Registry UI"
In Business Registry UI, list:
- [ ] Maximus "OneStop" number for SP/GP registrations
- 1 877 822-6727 toll free in Canada
- 250 370-0332 in Greater Victoria area
- [ ] Staff toll free number for SP/GP maintenance filings
- 1 877 526-1526

Questions:
- Since SP/GP registration has it's own number (Maximus OneStop), can we place this in the footer of SP/GP registration pages, so that they don't get

[2022-06-08 16:15] jinghualicgi commented on #12541
@forgeuxGH5 @tlebedovich Hi this is from OCM team, please help with design part, thanks cc: @trishreimer @magszymanski

[2022-06-08 16:18] jinghualicgi commented on #12532
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12532?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1

[2022-06-08 16:19] mstanton1 opened #12542 "UI - Sweeper Validations for MHR Registration"
## AC (Tasks to complete)
Review and confirm validations across MHR Registration filing.

- [x] confirm all unfinished components show validations once triggered by the user going to the review screen via stepper or next buttons.

- [x] review screen will show vertical red bars and "This step is unfinished. Return to this step to complete it." for any unfinished components

- [x] review screen wil

[2022-06-08 16:36] jinghualicgi commented on #12533
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12533?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1

[2022-06-08 16:37] #12308 closed

[2022-06-08 16:37] #12246 closed

[2022-06-08 16:44] #10955 closed

[2022-06-08 16:44] #12277 closed

[2022-06-08 16:50] jinghualicgi commented on #12535
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12535?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1

[2022-06-08 16:54] #12220 closed

[2022-06-08 16:54] #12219 closed

[2022-06-08 16:54] #12379 closed

[2022-06-08 16:55] #12360 closed

[2022-06-08 16:55] #12361 closed

[2022-06-08 16:55] #11963 closed

[2022-06-08 16:56] #11964 closed

[2022-06-08 17:30] sarahelz19 commented on #12345
[https://docs.google.com/document/d/1G83QSHDgqvTAiXDRTVvtOqyk_aoo8GAdfN8gQw2U4Z4/edit](url)
@gprimeau Updated requirements

[2022-06-08 17:34] mstanton1 commented on #12430
@dimak1 given that we are to release tomorrow the additional work is unlikely to be completed and go through QA. Instead, the tasks to handled added spaces and the task to implement what you have done for registration in the amendment flow can be handled afterwards in a separate ticket. When you are ready to pick something up next please pull in 12130. cc @jinghualicgi @chdivyareddy

[2022-06-08 17:36] pwei1018 commented on #12339
@trishreimer Invited

![image](https://user-images.githubusercontent.com/44277752/172681348-d31d67e8-dbfd-4378-9682-5497ddbd774b.png)

[2022-06-08 17:53] stevenc987 commented on #8852
@severinbeauvais @lmcclung

1. I checked the recent logs from Sentry regarding the errors mentioned in this ticket. I did find that there were many getNameRequest() Failure in the logs. However, these failure occurred when full_access_to_name_request was returning false. It happened when the NR a user entered didn't exist, or the email address/phone number a user entered was different from the dat

[2022-06-08 17:56] severinbeauvais commented on #8852
Stephen, I see see a lot of `getNameRequest` errors in Sentry over the last 24 hours (see link in description, above).

Are you saying these are all because the user entered a NR/email/phone that doesn't exist/match?

[2022-06-08 18:00] stevenc987 commented on #8852
@severinbeauvais

Yes, as I checked the logs as below:

2022-06-07 23:21:16,054 - namex - DEBUG in auth:auth.py:68 - full_access_to_name_request: Failed wrong email - NR: NR 9316636, NRL: None, Email: alon@segev.ca, Phone: , Applicant email corporate@segev.ca
2022-06-07 23:27:36,576 - namex - DEBUG in auth:auth.py:65 - full_access_to_name_request: Failed wrong phone - NR: NR 0289207, NRL: None, Em

[2022-06-08 18:08] severinbeauvais commented on #8852
I think these errors are after successfully retrieving a payment record, which means the user is returning from paying for their new NR in PayBC, right? The email and phone should already be in the session store, right?

Or can this flow also happen when a user searches for their NR?

[2022-06-08 18:20] severinbeauvais commented on #8852
OK, then I guess it's reasonable that this error occurs in this case (this is not a bug).

One the one hand, it would be nice to hide this scenario from Sentry. cc: @ozamani9gh

On the other hand, I think it's OK that we continue logging these events. For example, according to your investigation, about a dozen users a day enter the wrong email or phone when they search for a NR. IMO, this is a goo

[2022-06-08 18:58] yuisotozaki opened #12543 "UI Design - Add Retrieved Time field and value for 3rd party search output and entity dashboard"
When outputs are generated for a 3rd party via search, we want to add the Retrieved Date and Time field with the timestamp of when the PDF was generated.

Add this field to outputs accessed from both business search (i.e. third-party retrieval) and entity dashboard.
For Coops, we do not need a "Retrieved Date and Time" but rather a "Filed Date and Time" on Rules and Memorandum.

---
Design Mockups

[2022-06-08 19:44] jinghualicgi commented on #10455
@lmcclung Linda can you please review above Eve's proposal? Thanks

[2022-06-08 19:56] garyfan1 opened #12544 "Mhr Staff Payment Flow Priority Fee"
Include the "Priority" fee checkbox (and add the fee to the Fee Summary as a separate line item when selected)

[2022-06-08 19:57] jinghualicgi commented on #10709
Hi can you please verify this? Thanks @riyazuddinsyed

[2022-06-08 19:58] jinghualicgi commented on #12204
@riyazuddinsyed  Please verify this, thanks

[2022-06-08 20:05] garyfan1 commented on #12174
I moved the priority fee part to #12544, so this ticket can keep on going and release on time.

[2022-06-08 20:06] jinghualicgi commented on #12129
Close this one, cannot reproduce the issue

[2022-06-08 20:33] dimak1 commented on #11810
Attached is the screenshot of the Owner's Name hint message. It breaks into two lines because of the First Name field column boundaries (because each hint message is attached to a particular field and cannot overflow to another field's column).
Scott, are we ok keeping it like this?

![Screen Shot 2022-06-08 at 10.54.19 AM.png](https://images.zenhubusercontent.com/6250948d66a86efdd4f41027/9d03b97e

[2022-06-08 20:39] magszymanski commented on #11998
Search team is bringing in all of the business types from COLIN into SLR now. Kial assumes that if a user cannot retrieve filings for a business type that is in LEAR (the one that the entity team manages), it will direct them to whatever page they can find that info on. This is at the systems level - need to figure out details.

[2022-06-08 20:46] kialj876 opened #12545 "Search API - update code for owners"
## Description
Update api code to search by / give owner info from solr endpoints.
## Details
- [ ] update solr service
  - [ ] suggest query stuff
  - [ ] facets query stuff
- [ ] update endpoint stuff
  - [ ] suggest
  - [ ] facets
- [ ] tests

[2022-06-08 20:51] dimak1 commented on #12430
Thanks, @chdivyareddy, so does it mean we don't have validation for spaces in GC? Is this something we should check and add if not there @tlebedovich ?

[2022-06-08 20:59] dimak1 commented on #12436
PR is open for review. For now, as a draft so when we are ready to use Products instead of Roles, we can merge.

[2022-06-08 21:08] yuisotozaki commented on #10953
Verified in dev. Ready for QA.

[2022-06-08 21:10] magszymanski commented on #12202
This work is now with designers and developers. @jinghualicgi what should I do with this tix? Can we still keep it to have visibility but not have it look like an item that is due for us at OCM?

[2022-06-08 21:16] yuisotozaki commented on #12242
Verified in dev. Ready for QA.

[2022-06-08 21:17] tlebedovich commented on #12526
updated signature layout has been linked above

[2022-06-08 21:19] #12528 closed

[2022-06-08 21:23] kialj876 opened #12546 "SOLR - include owners for COLIN firms"
## Dependencies
Dependent on the following being figured out first (not work to be done in this ticket
- [x] decide: upgrade solr + move to GCP OR simulate nested obj in old OCP running version *new version in gcp*
## Details
- [x] some firms can have multiple so needs to be nested or an array - update solr data obj
- [x] update query to return all

[2022-06-08 21:30] tlebedovich commented on #12376
@forgeuxGH5 @jyoti3286 - please review the two partner tool tip style options (under BC Registries account section). And @jyoti3286 to provide starter partner tool tip text for us to edit and use.

[2022-06-08 22:11] jinghualicgi commented on #12174
@garyfan1 Gary, should we move this ticket to UXA for Scott's review?

[2022-06-08 22:12] jinghualicgi commented on #11810
@dimak1 Dima, should we move this ticket to UXA for Scott's review? I know you mentioned this in RC, but just in case thanks

[2022-06-08 22:20] garyfan1 commented on #12174
oh yes, sorry.

[2022-06-08 22:21] yuisotozaki commented on #11356
UXA Observation:
- Found something related. The account **won't switch** in certain scenario. Will raise a separate ticket.

This ticket is ready to be closed.

[2022-06-08 22:22] yuisotozaki opened #12547 "Account won't switch when navigating in Entities UI"
Found during UXA Observation on [11356](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/11356)

1. Login as non-staff user with multiple accounts
2. Verify that you can see multiple accounts
3. Goto home via logo
4. Click Incorporate a Numbered Benefit Company
5. Click Incorporate a Numbered Company
6. Switch account to account 2
7. Verify that yo

[2022-06-08 22:23] yuisotozaki commented on #11356
The other ticket: [12547](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/12547)

[2022-06-08 22:33] kialj876 commented on #12401
Blocked by firm owner roles needed in LEAR project

[2022-06-08 22:34] kialj876 commented on #12404
blocked by table owner design

[2022-06-08 22:53] shabeeb-aot opened #12548 "Redirect url in dev"
In dev, after login from https://yfthig-dev.web.app/ it is going to https://dev.bcregistry.ca/business/auth/dashboard . which is a page not found .

Looks like this issue is happening while siginin from dev dashboard is passing only `/dashboard` as redirect URL (after coming to sbc-auth, sbc-auth don't have that URL). So its going to page not found.
![Screen Shot 2022-06-08 at 3.45.08 PM.png](http

[2022-06-08 23:10] Mihai-QuickSilverDev commented on #12129
This is Debbie's answer:

I don’t believe it’s happening for every name request, I checked with staff on phones and they indicate that they have not received any calls regarding this.

Regards,

Debbie Blyth

[2022-06-08 23:14] Mihai-QuickSilverDev commented on #12129
Closing for now, will re-open in the future if this issue resurfaces.

[2022-06-08 23:14] #12129 closed

[2022-06-08 23:50] severinbeauvais commented on #12527
The bulk of the PeopleAndRoles changes in ticket 12419 have now been merged, so THIS ticket can proceed with identifying all test scenarios and then verifying them.

[2022-06-08 23:53] lmcclung opened #12549 "Names Request/AUTH Technical investigation - User flow from Name Request to Registration"
Proposal:
- allow users to go right from their NR display page to Filings UI with a draft business
- hold on to the NR data (and token?)
- can this work through the create and/or log in process? if not, what is needed?
- see designs and raise any needed discussions with team

**TIMEBOX to a couple of days**

To do:
- [x] investigate technical feasibility and propose/prototype solution
- [x] invest

[2022-06-08 23:59] dimak1 commented on #11810
@jinghualicgi not yet, the code is not merged yet, want to get feedback from Scott @forgeuxGH5.

[2022-06-09 00:12] severinbeauvais opened #12550 "Edit UI: can't file completed correction filing from draft (validation issues)"
## Part 1 - bug fix

1. create an IA correction filing
2. complete all required sections (per red styling)
3. observe that the File and Pay button is enabled
4. click Save and Resume Later
5. resume the correction filing
6. observe that the File and Pay button is now DISABLED

This is due to "no changes" having being made (since resuming the draft), so the button is disabled to prevent filing a nu

[2022-06-09 00:57] ritvick commented on #12092
Created PR in schema repo: https://github.com/bcgov/business-schemas/pull/96

[2022-06-09 15:23] ozamani9gh commented on #12280
@pwei1018 I am also interested in going to a Google Cloud Campus to do the following courses.   I believe there are campuses in Ottawa, Toronto and Virginia.

https://cloud.google.com/training/application-development/#cloud-devOps-engineer-learning-path

These are the courses i think would be best.

This might be phase 2 of our training plan.    taking Udemy/Coursera might be a good first step

[2022-06-09 15:23] jennyschan commented on #12179
![image](https://user-images.githubusercontent.com/104090299/172883777-c6578e4a-ca2a-4413-9b1a-c0e903f421a3.png)

![image](https://user-images.githubusercontent.com/104090299/172884128-c54c9ea1-5090-4ddb-b503-63740fae35df.png)

[2022-06-09 15:48] severinbeauvais commented on #12419
@rkim13103 @yuisotozaki The remainder of the work in this ticket is now in Dev. Please have a look at the screens and flow.

[2022-06-09 15:59] severinbeauvais commented on #12419
PS If anyone finds any bugs related to this ticket, please add a comment in #12399 as I will fix it there (so that THIS ticket is not left open indefinitely).

[2022-06-09 16:09] argush3 commented on #12271
For verification purposes, the following SP/GPs have been data loaded to DEV to verify following COLIN event/filing types as LEAR dissolution(voluntary) filings. Please take a look when you have a minute @rarmitag and @droberts27 cc: @lmcclung

_CONVFMDISS_FRDIS_
* FM0272498, FUSION PHOTOGRAPHICS - IMPORT_TEST
* FM0272504, VISSCHER'S INTERNATIONAL TRAVEL & CRUISE - IMPORT_TEST
* FM0272522, KALEIDO

[2022-06-09 16:17] Kaineatthelab opened #12551 "Chat box extension to other apps"
Given I am a BC Registry user
When I want to ask a question related to a service that is supported by the call centre
Then I want to see the chat box

- [ ] Define which services can use this
- [ ] Update agreements
etc...

[2022-06-09 16:21] Kaineatthelab opened #12552 "Hotjar Feedback and Survey"
Given I am a BC registry user
When I am using any modernized application
Then I have the ability to give star feedback and a comment

Given I am a BC Registry user
When I am using any modernized application and have completed or service
Then I have the ability to respond to a survey

*the survey is the same as COLIN so we are able to corelate results and have a baseline

- [ ] define survey questi

[2022-06-09 16:25] doug-lovett commented on #11852
Hi @tlebedovich if you specify the location (after toc or at the end) I will pick up this ticket.

[2022-06-09 16:38] #12504 closed

[2022-06-09 16:50] mstanton1 opened #12553 "UI - MHR Search Validations for Owner Name"
Ticket created to cover outstanding question from 11810.

**Owner Name**

![Screen Shot 2022-06-08 at 10.54.19 AM.png](https://images.zenhubusercontent.com/6250948d66a86efdd4f41027/9d03b97e-d794-4d2e-9d6a-2f132f485781)

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/094220a6-e01a-406e-b9be-6a31f6d05c9c)

Answer: Yes, the validation should wrap to avoid overlapping anoth

[2022-06-09 16:52] severinbeauvais commented on #12392
@lmcclung @jdyck-fw
I need to add part of this functionality (creating the Firm Correction draft filing) this sprint as it's blocking my framework ticket (#12399).

[2022-06-09 16:54] mstanton1 commented on #11810
12553 has been created to address the remaining Owner Name validations. This can move through.

[2022-06-09 16:55] doug-lovett commented on #11511
@mstanton1 @janisrogers I just downloaded the 575764N report from PROD - attached. Close ticket?

[https://app.zenhub.com/files/157936592/00cd9a6c-5b59-4a73-9989-6742e8f7477b/download](https://app.zenhub.com/files/157936592/00cd9a6c-5b59-4a73-9989-6742e8f7477b/download)

[2022-06-09 16:56] eve-git commented on #12518
It occurred in Name Examination. Is it a home team bug?

[2022-06-09 16:57] #12442 closed

[2022-06-09 17:04] Mihai-QuickSilverDev commented on #12529
Namerequest is on a different release schedule.

[2022-06-09 17:09] Mihai-QuickSilverDev commented on #12523
Confirm the final list with Business today.

[2022-06-09 17:14] #11511 closed

[2022-06-09 17:19] fareenr commented on #12154
Began draft of staff pilot issue reporting process:
https://docs.google.com/spreadsheets/d/1KKLxNLTGISvUQZG6q_qW1zkR9ST9e8nD/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

and awaiting feedback from Patrick and Melissa. This process is dependent on the decision by Meg and Olisa agreement to use google sheets for all MHR issue tracking rather than zenhub.

[2022-06-09 17:23] jennyschan commented on #12255
@kialj876 unable to open this link: https://yfthig-dev--pr-79-cou8gp5f.web.app/
  do you have other URL ? thanks

[2022-06-09 17:24] severinbeauvais opened #12554 "Edit UI: update org-person address rules"
Verify/update the following rules:

- [x] all parties (orgs/persons)  **mailing** address can be anywhere in the world
.
- [x] proprietors **delivery** address can be anywhere in the world
- [x] partners **delivery** address can be anywhere in the world
- [x] directors **delivery** address can be anywhere in the world
- [x] other persons **delivery** address can be anywhere in the world
- [x] othe

[2022-06-09 17:44] lmcclung commented on #12549
Tricky - if not logged in, can make them logged in
Can we go straight from NRO into the IA
MVP - SP/GP Registrations only

[2022-06-09 17:47] tlebedovich opened #12555 "UI Bug - PPR Amend segmented buttons wrapping"
In Amendments in PPR:

1. fix the segmented Amend Button in the Vehicle Collateral table so that the segmented button doesn't wrap.

2. Align the right edge of the arrow icon to the right edge of the GC Amend button below it

3. The light gray colour used in the vertical divider lines in the segmented buttons in Amend look too light and are barely visible (app wide)

![Screen Shot 2022-06-09 at 9.

[2022-06-09 17:56] Mihai-QuickSilverDev commented on #12549
- [ ] Amount of work required - medium to large
- [ ] Safe to do before the go-live?

[2022-06-09 18:06] fareenr commented on #11710
Rough draft of MHR Search quick start guide (incl combined searches with liens):
https://docs.google.com/presentation/d/1sG7g6Ohe3XMgL01XBsxup7kGP1xt5S-y/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

Will need to update with updated screenshots from test env.
will need review by Patrick to add additional tips, ensure no confidential info on screenshots and any other additional in

[2022-06-09 18:09] fareenr opened #12556 "MHR SBC Procedures Update"
For SBC Pilot for MHR Search - target July & August

- [ ] review existing MHR procedures to determine which ones need to be updated

- [ ] Update SBC procedures for MHR Search

- [ ] Review updates with Crystal and/or Erin Borrows - Aug

- [ ] Provide final copy of SBC MHR Search procedures to SBC to publish - end Aug

[2022-06-09 18:14] tlebedovich commented on #11852
ok - just need to lay it out first and will ping you when ready

[2022-06-09 18:15] fareenr opened #12557 "MHR SBC Training"
Pre-req - set up SBC users in Prod to have access to MHR.

Provide training demo/overview and any quick start guides for MH and combined searches to SBC pilot staff.

[2022-06-09 18:22] fareenr commented on #12520
8-10 Jun - First checked current Registry administrator, then called high volume accounts Admin (over 200 transactions per year) to remind them to add RPT service.

[2022-06-09 18:23] fareenr commented on #10804
6-Jun - posted hours of availability for APIs on Discourse

[2022-06-09 18:23] tlebedovich commented on #8685
@mstanton1 - Does this disclaimer also need to show up for any PPR search results that are within an MHR Combo output? We added it to the NIL Result (when there is a NIL PPR result within an MHR combo search), but we did not include it anywhere for when there is 1 or more PPR search results contained in an MHR search. Just want to make sure we find the best location that works for both PPR and MHR

[2022-06-09 18:25] fareenr commented on #10804
The BC Registry hours of availability webpage is now available in Prod at this URL:   https://www2.gov.bc.ca/gov/content?id=C41D8179671441B2BAA3BDDD3D89C9A9

I have put this link in ticket #11508, for UX team to assign to publish on the Registry application homepage.

[2022-06-09 18:37] tlebedovich commented on #12500
@forgeuxGH5 @mstanton1 - I have added that we need to fix the NIL result UI screen for MHR search because it's super confusing right now with no way to return to dashboard. We shouldn't be using a deactivated button here either. Is there a future dev ticket for this design ticket?

[2022-06-09 18:54] rarmitag commented on #12479
David altered the problem filing in colin and now the stuck filings should be visible in colin.

[2022-06-09 19:12] #12068 closed

[2022-06-09 19:14] doug-lovett commented on #11616
@mstanton1
I cannot reproduce this problem. I do not see it in the original attached document or the recent search in TEST attached here.

[https://app.zenhub.com/files/157936592/30540d03-f908-4a86-9fa7-5441b33ddb4f/download](https://app.zenhub.com/files/157936592/30540d03-f908-4a86-9fa7-5441b33ddb4f/download)

It is correct for multiple matches within a single registration to be displayed in the

[2022-06-09 19:14] tlebedovich commented on #12441
@kialj876 - final business search image for BC Registries Dashboard tile is ready for you now. download link is above.

[2022-06-09 19:15] mstanton1 commented on #10804
Great work getting this out! Thank you.

I'm pushing 11508 along. FYI the change is to add the link in the footer common component so it will be through apps, not just the homepage.

[2022-06-09 20:08] doug-lovett commented on #11364
@mstanton1 is this still required? It looks like sorting by registered name has been removed from the UI?

[2022-06-09 20:11] PatrickAHeath commented on #8685
@tlebedovich Here's the legacy MHR/PPR Combo search output when there are no PPR registrations:

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/07891d61-9ec3-4916-9a99-8b8bdacb04f0)

When a PPR registration is found in the Combo search, no disclaimer is added at the end of the search output:

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/33c

[2022-06-09 20:19] mstanton1 commented on #8685
All the screen prints I've located exclude the blurb for combined search. I found this combo search output provided by Sharon in an old email and it appears that the blurb is included in the PPR section of a combined search.

[https://app.zenhub.com/files/157936592/9175cf5a-2cb5-4cd1-9109-9f731448b1e9/download](https://app.zenhub.com/files/157936592/9175cf5a-2cb5-4cd1-9109-9f731448b1e9/download)

[2022-06-09 20:23] PatrickAHeath commented on #8685
It appears in the printed format of the Combo Search output, but not on the UI display.

[2022-06-09 20:24] jinghualicgi commented on #11283
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/bc9022a2-0437-468d-a57b-6d3f248e17d6)

####  **Action Points:**

**Need follow-up from previous retro**
- [ ] OCM need to be informed with release timeline change  - **April20: Still need actions**
 - PO update release timeline change in RC channel (Raise this in PO Syc, asking PO)
 - Adjust our expectations for big release

[2022-06-09 20:45] mstanton1 opened #12558 "PPR Party Code Form Changes"
The current Form 03 PPR, as prescribed in the Regulations through an Order in Council, has been identified as not meeting business needs. It works well for changes to party codes but does not work well for requesting a new party code. Cameron has worked with the business to draft a supplementary form which can address requests for new party codes.

Changes are required to create the new form, and

[2022-06-09 20:47] mstanton1 opened #12559 "Form PPR1"
Form PPR1 is a new form being created for new party codes. This is a form created to supplement Form 03 PPR, which is prescribed in the PPSA regulations.

A draft has already been created. As per a policy review the following changes are required to the existing draft.
Existing Draft: [https://app.zenhub.com/files/157936592/3ea64f5d-5255-4b5a-b791-07c086a32581/download](https://app.zenhub.com/file

[2022-06-09 20:47] mstanton1 opened #12560 "Form 03 PPR"
Form 03 PPR requires the following changes. _Note, these changes must be pushed to PROD at the same time as Form 03B. When complete please provide to Megan for review and discuss with staff before having them pushed to prod_

Form location: https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-forms/form_03_p

[2022-06-09 21:19] stevenc987 commented on #11691
@ozamani9

I have cleaned up tags for prod which were created before Jan 1, 2022.

[2022-06-09 21:19] lewischenstudio commented on #12527
The following actions/buttons were tested for the Proprietor/Partners component:
- Change name
- Change address
- Undo
- Cancel
- Save and Resume Later
- Review and Confirm
- Resume (draft)
- Delete draft

- BEN IA correction (Current Directors): No bugs
- SP/GP Change Filing: No bugs
- SP/GP Conversion Filing: No bugs

[2022-06-09 21:22] magszymanski commented on #11748
1.)	who this was sent to you – i.e., you are receiving this email because you are noted at the Registry as an owner of a SP/GP. If you no longer wish to own this firm, then you may file a dissolution form at any time. (or something along these lines).
2.)	If you do not want to or need to update your SP/GP, then no action is required.

[2022-06-09 21:26] mstanton1 opened #12561 "Enhance PPSA Search: Exclude LA and DE"
It looks like common words excluded when generating a search key could be expanded to include French common words.

[2022-06-09 21:33] #11767 closed

[2022-06-09 21:33] #12175 closed

[2022-06-09 21:33] #12177 closed

[2022-06-09 21:33] #12176 closed

[2022-06-09 21:33] #11810 closed

[2022-06-09 21:34] #12178 closed

[2022-06-09 21:34] #12356 closed

[2022-06-09 21:34] #12430 closed

[2022-06-09 21:42] Ashna-FreshWorks commented on #11777
Need to check:
1. the notification  mailer when the system is down, if existing then see if works; if not then need one in place.
2. simulate the system being down to check how many email attempts are being made, and when the system comes up then can the duplicate attempts can be filtered?

[2022-06-09 22:05] tlebedovich commented on #8685
@forgeuxGH5 @mstanton1 @PatrickAHeath - please review design comps for proposed locations of the disclaimer text in various outputs. I reduced the font size of the disclaimer so text size will be smaller than regular body copy.

[2022-06-09 22:07] tlebedovich commented on #12257
@forgeuxGH5 - This is ready for your review again

[2022-06-09 22:21] mstanton1 opened #12562 "UI - MHR Search Results Text Updates"
GIVEN I am a MHR User
WHEN I enter search criteria and select search
THEN I see the possible matches
AND it is clear that the matches are options I may select instead of the actual search results
AND it is clear that payment options other than BC Online exist

1. Update title on search selection page for all MHR Search types ( ) from "Search Results" to "Selection List"

2. Update text on search s

[2022-06-09 22:41] rkim13103 commented on #12399
1. In Business Address - clicking “Done” doesn’t trigger validation = showing the red missing field error.

2.“Same as delivery Address” text next to the checkbox is disappeared in during adding Person and when Mailing address is not in B.C. Can we still show the text but disabled the checkbox like the business contact component?

3.Can we make the province field un-editable and prefilled with BC,

[2022-06-09 22:43] mstanton1 commented on #12562
@tlebedovich @forgeuxGH5 this ticket has been raised with a few changes identified in a policy review. I didn't create a separate design ticket due to scope - but please take a look and let me know if you have any concerns. If you don't I will push this along to grooming.

[2022-06-09 22:51] severinbeauvais commented on #12399
1. I figured refactoring this component was out of scope. This is the same in Test environment, isn't it? Note that it WILL show validation errors only you have clicked Review and Confirm.

2. Yes, the intent is that this would be the same as the business contact component. What type of person are you adding exactly when you see this? BTW, I haven't finished ticket 12554 yet.

3. Not easily. It wo

[2022-06-09 22:56] mstanton1 commented on #12218
@forgeuxGH5 @tlebedovich I think this can be closed. Initial wording with cost was implemented, along with a version for staff as they have different costs. A design ticket 12505 was created for making it clear on the dashboard above and the product dashboard what a client can do  / where to access combined search. If additional changes are needed in this wording they can be tackled there. If you

[2022-06-09 22:56] #12218 closed

[2022-06-09 22:57] #11596 closed

[2022-06-09 22:58] rkim13103 commented on #12399
@severinbeauvais
1.I didn't check out test but I will!
2.So when there is no proprietor, and I go in click "add a person" the checkbox doesn't display the text "Same as delivery address" but only the checkbox icon. Wasn't aware you weren't finished, but here is what i was talking about!  ![Screen Shot 2022-06-09 at 3.55.46 PM.png](https://images.zenhubusercontent.com/5f319335cc96ec4135031c80/d80f8

[2022-06-09 23:00] trishreimer commented on #12339
everyone added but: jennweldon
Waiting for Jenn to accept invite for organization, then I can add her. Email sent.

[2022-06-09 23:01] yuisotozaki commented on #12399
Is this a good time to make the lookup tab the default when adding a business proprietor or partner?

[2022-06-09 23:03] dimak1 commented on #12553
Fixed Home Owner hint message.
- It does not wrap and shows on one line
- It wraps when there are errors in the fields
- Screenshots below

![Screen Shot 2022-06-09 at 3.44.36 PM.png](https://images.zenhubusercontent.com/6250948d66a86efdd4f41027/75cf4ceb-c3bc-40ba-8b32-e72edb59d5e4)

![Screen Shot 2022-06-09 at 3.44.43 PM.png](https://images.zenhubusercontent.com/6250948d66a86efdd4f41027/54bf2770-

[2022-06-09 23:03] yuisotozaki commented on #12419
Completed UXA and logged findings in the other tickets.

[2022-06-09 23:08] mstanton1 opened #12563 "UI Design - Do not display "Selection List" screen for MHR single match"
GIVEN I am a MHR User (staff or public)
WHEN I complete a Manufactured Home Search by serial number or Manufactured Home Registration Number
IF only one match exists
THEN I am bypass the selection list screen
AND am provided the option to add a PPR search as well on an alternate screen

Currently the legacy MHR search functions so that if a user does a MHR Registration Number search and enters a n

[2022-06-09 23:57] severinbeauvais commented on #12554
From Roy:

1. In Business Address - clicking “Done” doesn’t trigger validation = showing the red missing field error.

2. “Same as delivery Address” text next to the checkbox is disappeared in during adding Person and when Mailing address is not in B.C. Can we still show the text but disabled the checkbox like the business contact component?

3. Can we make the province field un-editable and prefi

[2022-06-09 23:58] severinbeauvais commented on #12554
1. I figured refactoring this component was out of scope. This is the same in Test environment, isn't it? Note that it WILL show validation errors once you have clicked Review and Confirm.

2. Yes, the intent is that this would be the same as the business contact component. What type of person are you adding exactly when you see this? BTW, I haven't finished ticket 12554 yet.

3. Not easily. It wo

[2022-06-09 23:58] severinbeauvais commented on #12554
From Roy:

1. I didn't check out test but I will!
2. So when there is no proprietor, and I go in click "add a person" the checkbox doesn't display the text "Same as delivery address" but only the checkbox icon. Wasn't aware you weren't finished, but here is what i was talking about!  ![Screen Shot 2022-06-09 at 3.55.46 PM.png](https://images.zenhubusercontent.com/5f319335cc96ec4135031c80/d80f8d05-

[2022-06-10 00:00] severinbeauvais commented on #12399
No, I think that belongs in whatever ticket we have to port the Business Lookup from Create UI to Edit UI.

[2022-06-10 00:32] tlebedovich commented on #12553
Seems like a good solution. Not sure why people would be adding special characters in their owner names anyway so hopefully seeing these errors would be a rare occasion c/c @forgeuxGH5

[2022-06-10 06:23] Mihai-QuickSilverDev commented on #10455
@severinbeauvais Would you be able to express an opinion on Eve's three proposed approaches above - like what would would be your choice, if any, or maybe propose a new one? Thanks much!
@lmcclung

[2022-06-10 14:55] Mihai-QuickSilverDev commented on #9114
This work was completed in ticket 12479. Closing this ticket.

[2022-06-10 14:55] #9114 closed

[2022-06-10 14:57] Mihai-QuickSilverDev commented on #12479
Everything looks okay now. Closing this ticket.

[2022-06-10 15:37] ozamani9gh commented on #12469
@mengdong19

please remove access for the following github users:

bcgov/sbc-auth	saravankumarpa
bcgov/sbc-auth	saravanpa-aot
bcgov/sbc-pay	saravankumarpa
bcgov/sbc-pay	saravanpa-aot
bcgov/ppr	jordiwes
bcgov/ppr	zaidghauri
bcgov/namex	zaidghauri
bcgov/namex	bfbowles
bcgov/lear	jordiwes
bcgov/lear	saravankumarpa
bcgov/lear	zaidghauri
bcgov/lear	sienna-blumstengel
bcgov/sbc-common-components	saravan

[2022-06-10 16:11] mstanton1 opened #12564 "Priority fee requirements for MHR"
There are API and UI impacts when a priority fee could be charged for a service. E.g. for PPR Search staff may apply a priority fee.

Determine which transactions for MHR could have a priority fee and whether that would be applicable for staff only, client only, or both.

Google Document for fees: https://docs.google.com/spreadsheets/d/1gCKVS01eIin4Rcb95_wPYIs__ZeTuW-vz9WBTqwo-VA/edit#gid=61676048

[2022-06-10 16:12] fareenr commented on #12556
Here is the link for the Manufactured Home Job Aid,
[](https://intranet.gov.bc.ca/thehub/service-bc/service-delivery/service-delivery-job-aids/manufactured-homes)

Here is the sub-panel specific to MHR searches, and the Quick Reference Guide (QGR) is attached.

Manufactured Home Searches
Manufactured Home ownership are accessed through BC ONLINE and can be requested by any interested party provide

[2022-06-10 16:20] doug-lovett commented on #12525
Updates from Ali's analysis:

Table Name	Column Name	Values
manuhome	mhstatus	C - cancelled; D - draft; E - exempted; R - registered
location	status	A - active; D - draft; H - historical
descript	status	A - active; D - draft; H - historical
mhomnote	status	A - active; C - cancelled; E - expired; F - corrected
owngroup	status	1 - ?; 3 - active; 4 - exempt; 5 - previous, 6 - ?; 7 - ?
owngroup	tenyty

[2022-06-10 16:21] ozamani9gh commented on #11691
@ozamani9 Which Image streams did you clean up, there are multiple image streams per project.  I check auth and business-create, i still see lots of image streams.   Should we confirm with each team before we delete them.

It would be good to keep a running list of which ones you have done.

[2022-06-10 16:34] seeker25 opened #12565 "SBC-Common-Components - Logout not clearing SiteMinder cookies - InvalidFederatedIdentityActionMessage"
Currently we're logging out of keycloak, but not logging out of SiteMinder.

This causes issues when you try to login with a different BCEID or IDIR account. (BC Service Card accounts aren't affected).

Steps to reproduce:

1. Close all browser instances
2. Open Chrome
3. Login with BCeID/IDIR account A
4. Log out
5. Login with BCeID/IDIR account B
6. You'll see the error:

![image.png](https://im

[2022-06-10 16:39] PatrickAHeath commented on #12171
We haven't been able to recreate the error situation.  Checking with Sharon to see if she still has the issue.

[2022-06-10 16:57] mstanton1 opened #12566 "UI - Search Results Owner name header"
https://onedrive.live.com/view.aspx?resid=E52B0821EC98A357!24608&ithint=file%2cxlsx&authkey=!ANZaJu9wXUV7DDI

On the Search Results screen the order of data displayed does not match the search matrix. Updates are required for MHR Registration Number, Organization Name and Serial Number searches.

[2022-06-10 16:58] jinghualicgi commented on #12514
12566 created to address owner name and other changes @forgeuxGH5 @mstanton1

[2022-06-10 17:02] mstanton1 opened #12567 "Folio Number in Search History Table"

[2022-06-10 17:04] jinghualicgi commented on #12498
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12498?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1

[2022-06-10 17:05] mstanton1 opened #12568 "API - MHR Folio Number in search history table"
Search step 2 endpoint add query parameter to pass folio number.

For example:
/api/v1/search-results/7490?clientReferenceId=UT-NR0002
UI folio number value in the above example is "UT-NR0002".

[2022-06-10 17:07] jinghualicgi commented on #12568
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12568?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1

[2022-06-10 17:08] Mihai-QuickSilverDev commented on #12549
Once we hear back from Linda, will create an Investigation ticket.

[2022-06-10 17:08] jmills-cgi opened #12569 "Sprint 13.4 Objectives"
1.  Product Service selection Ux
2.  Implement all business types in dev
3.  Complete back-end payment flow for documents

[2022-06-10 17:10] Mihai-QuickSilverDev commented on #12522
Not the same as the account folio #.
There is a component and data structure.
This is for create filings and Edit UI.
Optional to add to a filing by the user. Then onto the backend.
Shall we break it in two?
Would it apply to corrections - yes, and conversions - no.

[2022-06-10 17:12] lmcclung opened #12570 "Create UI: Add transaction"
Currently only inserted into the dissolution filing.

Needs to be added to
- [ ] SP/GP Registration filings

Change filings ticket is #12522

[2022-06-10 17:19] sarahelz19 commented on #11841
- [ ] Review approach to updates with MAXIMUS
- [ ] Provide test access so MAXIMUS can draft KB material
- [ ] Confirm MAXIMUS will draft own training material
- [ ]  Schedule Review of MAXIMUS KB & Training Material (July 4th delivery)
- [ ] Registries review and agree to final version

[2022-06-10 17:20] sarahelz19 commented on #11841
Meeting Notes
**Jun 8, 2022**
Q&A of all new registries process
KB update & delivery will be done via the test environment.
Key screenshots will be taken from the environment for KB and training materials
Ongoing meeting will address questions/outstanding items/issues
Schedule a walkthrough of Registration and Change Process - Tuesday June 14th 2022
Anticipate delivery of KB and training materials

[2022-06-10 17:23] lmcclung opened #12571 "Edit UI - add Business Start Date to SP/GP change filings"
The Business Start Date component was implemented for SP/GP correction filings.

This ticket is to use that component for SP/GP change filings.

- [x] use the new component instead of the display-only code
- [x] update draft build/parse
- [x] verify validation rules (see #13382)
- [x] implement unit tests

See also #13510.

[2022-06-10 17:25] fareenr commented on #12502
@gprimeau We will need to display the link to this user guide on the Modernization training resources page:
https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization-updates/modernization-resources

Please add the link to the Rural Property Tax Search at the bottom of the webpage under name request

[2022-06-10 17:25] Mihai-QuickSilverDev commented on #12571
Edit UI has a display business start date.

[2022-06-10 17:26] lmcclung opened #12572 "SP/GP Correction Edit UI - Update Business Name"
Business Name
- [x] reuse the existing component
- [x] only support "new NR" version for name change

As part of this ticket, verify/update NR data in:
- [x] save (build) filing
- [x] resume (parse) filing
- [x] unit tests

[2022-06-10 17:30] ozamani9gh commented on #12339
Added David and Laurie to entity repo.

LaurieStossel
DavidLessard240.

@trishreimer please ask them to accept invitations sent to their email addresses

[2022-06-10 17:31] lmcclung opened #12573 "SP/GP Correction Edit UI - Update Business Type & Nature of Business"
- [x] Business Type
  - View only.
  - Keep the tooltip.
- [x] Nature of Business
  - View only.
  - If this is correctable, update button to "Correct".

As part of this ticket, verify/update business type and NOB in:
- [x] save (build) filing
- [x] resume (parse) filing
- [x] unit tests

UI design: https://preview.uxpin.com/363a49b33bdb2a314ccac0f18daad8969e93b337#/pages/150725181/simulate/sitema

[2022-06-10 17:33] lmcclung opened #12574 "SP/GP Correction Edit UI - Update Business Address component"
Business Address
- [x] reuse the existing component
- [x] button needs to say Correct instead of Change
- [x] corrections follow the same rules as Registrations and Changes

As part of this ticket, verify/update business address in:
- [x] save (build) filing
- [x] resume (parse) filing
- [x] unit tests

[2022-06-10 17:34] lmcclung opened #12575 "SP/GP Correction Edit UI - Update Proprietor/Partnership component"
Proprietor/Partners
  - [x] Reuse the Change components
  - [x] Remove or disable the Add a Person/Business buttons
 ~- [ ] Don't include the completing party~ After talking with @yuisotozaki completing party is required for client errors in correction filings. Note: Certify in this ticket #12393

Whoever works on this ticket: assess effort of removing the buttons vs. disabling them. If more than

[2022-06-10 17:35] lmcclung opened #12576 "SP/GP Correction Edit UI - Detail component"
Detail
- [x] reuse existing IA Corrections component
- [x] auto-populate first line, plus text area for staff entry
- [x] we keep the design in one page

As part of this ticket, verify/update detail comment data in:
- [x] save (build) filing
- [x] resume (parse) filing
- [x] unit tests

[2022-06-10 17:40] lmcclung opened #12577 "SP/GP Correction Edit UI - Completing party"
Completing Party
~display only if client error (staff are able to enter the name that they have on the form)~ completed in 12872 and 12399
~for staff error, verify that Filed By uses default user~  completed in 12872 and 12399

As part of this ticket, verify/update completing party data in:
- [x] save (build) filing
- [x] resume (parse) filing
- [x] unit tests

Also as part of this ticket:
- [x] c

[2022-06-10 17:41] mstanton1 commented on #8685
@tlebedovich I reviewed and what is proposed looks good.

[2022-06-10 17:51] lmcclung commented on #12393
Duplicate ticket.  closing

[2022-06-10 17:51] sarahelz19 commented on #11245
[https://docs.google.com/document/d/19DaPWsj6Vlkr8OyFyLpJHlmc_Mif3XN_/edit#](url)
The Draft Job Aids provided by Service BC Regional offices  - Feedback & reviewed by Registries - NOTE: INTERIM PROCESS (go live till September)

[2022-06-10 17:56] lmcclung opened #12578 "SP/GP Correction Edit UI - Staff payment component"
- [x] display this component for both staff or client caused corrections
- [x] default to No Fee

As part of this ticket, verify/update payment data in:
- [x] save (build) filing
- [x] resume (parse) filing
- [x] unit tests

[2022-06-10 17:59] jdyck-fw commented on #12577
Riyaz estimated testing at a 2 on this.

[2022-06-10 18:02] chdivyareddy commented on #12388
@mstanton1 , We would require a ticket to display the correct image on the staff dashboard when the staff has access to both MHR & PPR roles (It should match the staff dashboard tiles).

**Current Behavior: (Image should be corrected)**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/296b4a40-035a-474e-b3d3-ea965521f753)

**Expected Behavior:**
![image.png](https://image

[2022-06-10 18:07] mstanton1 opened #12579 "UI - Submitting Party Staff"
GIVEN I am BC Registries staff and open a Manufactured Home Registration transaction
WHEN I am in the 'Submitting Party' step
THEN I can enter a submitting party code
AND the drop down loads
AND if I click on a party code it will auto complete the submitting name and mailing address from the party code
AND I may fill in email address or phone number (phone number might be available in party code a

[2022-06-10 18:18] doug-lovett commented on #12141
Wait for mainframe TEST env availability to test or close now?

[2022-06-10 18:25] Mihai-QuickSilverDev commented on #12225
This would be good to tie in with the existing bug for Filed By -

[2022-06-10 18:26] mstanton1 opened #12580 "UI - Step 2 Submitting Party"
## Designs
UI Design - Register a Manufactured Home - Registries Staff #10264

[2022-06-10 18:27] mstanton1 opened #12581 "UI - Submitting Party Manufacturers"
## AC
GIVEN I have a manufacturer role and am submitting a MHR Registration
WHEN I am on step 2, submitting party
THEN my manufacturer information is displayed from the manufacturer table in DB2 as read only
AND includes name, mailing address, email address (field will be blank though) and phone number

GIVEN I have a manufacturer role and am submitting a MHR Registration
WHEN I open the review sc

[2022-06-10 18:32] sarahelz19 commented on #11245
GP - Paper Registration Process - Service BC Regional Office (Interim)
[https://docs.google.com/document/d/1ivwOYk5lgX7a2COwF3RuyoX8Mbzqn-Ie/edit](url)
The Draft Job Aids provided by Service BC Regional Offices - Feedback & Reviewed by Registries NOTE: Interim Process (go live in September)

[2022-06-10 18:38] chdivyareddy opened #12582 "UI - Add callbackURL Parameter for Large Search Report"
- [x]  When trying to download an MHR search with large search results, the callbackURL parameter is missing from the UI.

Eg: Organization Name - "TRIPLE M HOUSING LTD" which has 117 results

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/09734839-f4fb-4f65-bb23-34194c098c86)

[2022-06-10 18:43] sarahelz19 commented on #11245
Draft Update Service BC Regional office Job Aid - removal of One Stop
[https://docs.google.com/document/d/1SXtX7l6AwxVygDFjm5LWQ5mz6dDo36rq/edit](url)
Review by Registries and feedback provided NOTE: interim process - must be revisited in September

[2022-06-10 18:47] mstanton1 commented on #12566
@forgeuxGH5 is there a need to update the ordering of the column headers depending on search type or is the current implementation as intended? Also, in the matrix it includes status but status is how we break down the results retrieved so is it needed in the table as well?

[2022-06-10 18:49] mstanton1 commented on #12470
@cameron-freshworks if this is done in conjunction with the work to create the footer can you also move this along - and add an estimate?

[2022-06-10 18:58] cameron-freshworks commented on #12470
Sorry!
Absolutely, done and done 👍

[2022-06-10 18:58] PatrickAHeath commented on #12171
Feedback from Sharon:

Hi Patrick- it worked for me just now!
Something must have updated and fixed it.
Thanks

@cameron-freshworks Closing ticket.  No longer an issue.

[2022-06-10 19:03] cameron-freshworks commented on #12171
Excellent, thanks Patrick. The best kind of ticket 👍

[2022-06-10 19:50] mstanton1 commented on #12141
Please go ahead and close. I will raise a ticket for testing each flow ahead of staff pilot.

[2022-06-10 19:51] mstanton1 opened #12583 "MHR Search Testing"
MHR Search can be completed by
- Manufactured Home Registration Number
- Owner Name
- Organization Name
- Serial Number

Logic has been implemented. This needs to be tested against legacy MHR searches to ensure we are implementing like for like.

[2022-06-10 20:03] mstanton1 opened #12584 "UI - Tombstone image and wording"
1) GIVEN I am BC Registries staff with Assets_staff access through Keycloak
WHEN I open the Assets Dashboard
THEN I see the image for Assets beside the 'Staff Asset Registries' title in the tombstone and the breadcrumb
AND the breadcrumb is updated from 'BC Registries Dashboard' to 'Staff Dashboard'

**Current Behavior: (Image should be corrected)**
![image.png](https://images.zenhubusercontent.co

[2022-06-10 20:07] vikasvermacertain commented on #12295
Got all the required metrics that Debbie would like to be added - passed the details to Thor - will be added to the Namex homepage.

[2022-06-10 20:07] #9157 closed

[2022-06-10 20:23] mstanton1 commented on #12388
Thank you @chdivyareddy! I've created Zenhub 12584 for the team to groom. Closing this verify ticket.

[2022-06-10 20:23] mstanton1 commented on #12388
Thank you @chdivyareddy! I've created Zenhub 12584 for the team to groom. Closing this verify ticket.

[2022-06-10 20:23] #12388 closed

[2022-06-10 20:29] tlebedovich commented on #11508
UXA - looks good in Assets to me. Needs to be verified when its added to ALL pages. @mstanton1 - is there a list of all pages it should go on so QA can verify? is does it include any of the marketing pages, bc registries dashboard, my business registry page, account pages, all business app pages etc.

[2022-06-10 20:30] seeker25 opened #12585 "PAY-ADMIN - Add in audit columns for fee schedule tables"
Add in audit columns for various tables. For example created_by, created_on, modified_by, modified_on.

That way we can see who changed the fee codes and when. I don't think activities is wired up in pay-admin.

[2022-06-10 20:32] #12141 closed

[2022-06-10 20:46] tlebedovich commented on #12174
@garyfan1 - UXA - For Item 2 - When staff clicks "Pay and Download Result" button, and staff has not selected a payment option OR, staff has selected a payment option but has not filled in the required information then in addition to the "Please complete required information" red text that appears under the button, it should also:

1. Autoscroll user to first component with error (aka staff paymen

[2022-06-10 20:48] mstanton1 opened #12586 "Document Generation Engines Spike"
Problem: Report API is overloaded. Challenge in handling volume and size of outputs. Impact is document generation failures and processes such as nightly restart to mitigate.

Potential Products:
WeasyPrint 4,900 Stars, 98 contributors, License: BSD
What we currently use, and used somewhat in the lab.
It's been extended to handle creating HTML from our templates & data.
Services:
HTML -> PDF gener

[2022-06-10 21:06] tlebedovich opened #12587 "Verify - MHR Bug - Lien search results should only be available when it's MHR result is checked"
I noticed that a user can select the Lien search option even when they don't have the corresponding MHR search result selected so it seems like the user may be expecting the Lien search results, even though they won't receive them.

----
**NOTE: This issue requires UX Design to review functionality and provide solutions**
Suggested Solutions:
- deactivate lien info check box until a user selects t

[2022-06-10 21:08] tlebedovich commented on #12587
@forgeuxGH5 @mstanton1 - i think this needs Scott's eye

[2022-06-10 21:20] mstanton1 commented on #11616
@doug-lovett in the report that is linked above the table of contents only shows two registrations but within each of those registrations we see the same base registration multiple times. For instance, if you look at page 2, 8 and 14 it's the same base 054668M.

[2022-06-10 21:21] chdivyareddy commented on #12257
Verified in TEST!

**BC Registries Staff:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ab4d6e5f-f2d9-41b9-9dd4-b7db99885a97)
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/9694f3e1-a968-42e0-8a3e-6ad34069c1b8)

**BCOL Staff:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e32c34b5-0af4-4db5-b907-7628b0844f18)

[2022-06-10 21:29] tlebedovich commented on #12257
@chdivyareddy @mstanton1 - yes the thumbnail header image is wrong for these - should be the same Assets Registries thumbnail - same one that is shown on the staff dashboard

[2022-06-10 21:43] fareenr commented on #11785
10-Jun - latest update from Assets team is that staff pilot should be ready by first week of July

[2022-06-10 21:44] fareenr opened #12588 "Comms email and training guide for external MHR pilot users - target early Nov"
Once date MH Search release is ready for external pilot users,

[ ] Update MH Search training guide with latest MH search screenshots from test
- add more tips for external users

[  ] Ensure Reg MH staff know issues reporting process - try to use zenhub

[ ] send email to MH pilot users with approx date, ask for specific MH users
- emphasize benefit of having access to do combined searches - MH w

[2022-06-10 21:51] fareenr opened #12589 "OCM - MHR Registrations"

[2022-06-10 21:54] fareenr opened #12590 "Update MH registration forms"

[2022-06-10 21:54] fareenr opened #12591 "SBC - MH Registrations - new and maintenance procedures update"
SBC has many procedures related to new MH registrations and maintenance filings / any updates to existing MH registrations.
https://intranet.gov.bc.ca/thehub/service-bc/service-delivery/service-delivery-job-aids/manufactured-homes

These need to be reviewed and updated for new MH registrations online.

[2022-06-10 21:54] fareenr opened #12592 "MH Registrations staff pilot, target date mid-Nov"

[2022-06-10 21:55] fareenr opened #12593 "MH Registrations external users pilot"

[2022-06-10 21:55] fareenr opened #12594 "Training for MH Registrations (new and maintenance)"

[2022-06-10 21:56] fareenr opened #12595 "Update communications and engagement plan for MH Registrations - target Nov??"

[2022-06-10 21:57] chdivyareddy commented on #12257
@tlebedovich , Melissa has created 12584 to correct the header image :)

[2022-06-10 21:58] mstanton1 commented on #11508
@cameron-freshworks @pwei1018  is there a way in the code where we can identify all the pages the footer appears on?

[2022-06-10 21:59] kialj876 commented on #12412
updating estimate due to rework of backend plan

[2022-06-10 22:00] kialj876 commented on #12413
Updating ticket: no longer needed based on rework of document plan

[2022-06-10 22:06] chdivyareddy commented on #12139
Hey @garyfan1 , The Serial Number validation is triggered in the MHR field as well when the serial number is greater than 25 and the user clicks on the Done button. Please take a look, thanks!!

- When the Serial Number is greater than 25 characters:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/4cd2d9d0-b1bc-4ea9-8a4a-9dfb492a6445)

- When the user clicks on the Done

[2022-06-10 22:07] cameron-freshworks commented on #11508
I don't believe so no.
It's a publicly published component library (sbc-common-components) so technically it could be imported/used by anyone 😁

That being said, within our projects, the footer is used throughout. Which includes
- Auth Web (account and affiliation pages)
- Filings, Create and Edit UI's where all the entity filings are maintained, created and altered
- BcRegistry Dashboard, our ube

[2022-06-10 22:17] yuisotozaki commented on #5369
The design team discussed the benefits (or lack there of) of the folio/reference number on the business entity itself. Unless there is a longer term vision of being able to search for entities via these values, we may want to consider removing it.

[2022-06-10 22:24] severinbeauvais commented on #12092
@jdyck-fw When Entities: Sprint 13.5a Release is created, please tag this ticket to it. Thanks.

[2022-06-10 22:27] mstanton1 commented on #11508
@cameron-freshworks thank you! @tlebedovich can you use the list above as a guide please? Note tickets were created separately for Entities and Names and have not been picked up yet.

[2022-06-10 22:30] pwei1018 commented on #11508
Director search as well

[2022-06-10 22:42] #12413 closed

[2022-06-10 23:04] seeker25 commented on #12443
For payment:
db cleanup:
[code]
Included some performance fixes for payment.

[2022-06-10 23:13] chdivyareddy commented on #11508
Verified in the Assets page for the filings, search, etc.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d98c8055-960d-4f01-b929-08712bcddfc9)
Redirected to:
 Hours of Availability ->https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/hours-of-availability

[2022-06-11 15:15] #12383 closed

[2022-06-13 13:54] argush3 commented on #12271
Does not need to be in a release

[2022-06-13 13:56] argush3 commented on #12271
moving to done.  Issues regarding incorrect data loading of dissolution filings that come in afterwards can be addressed via future tickets.

[2022-06-13 14:23] argush3 commented on #12420
Verified in DEV this no longer happens for FM1000017 using BCREG0020.  To verify this in DEV, login with BCREG0020, open network tab and navigate to https://dev.bcregistry.ca/business/FM1000017?accountid=2288.  The http response for the get call on the business endpoint as per screenshot below should return no values for the `warnings` and `complianceWarnings` lists.

![image.png](https://images.z

[2022-06-13 15:49] chdivyareddy commented on #12537
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d1b64009-8ce9-42b1-a52a-a0ceace31b59)

[2022-06-13 16:01] lmcclung opened #12596 "Re-use Invoice number in the Name Request application"
**Describe the bug in current situation
GIVEN a user is requesting a new name or name renewal
WHEN there is an issue with the payment
AND the user tries the payment again
THEN a new invoice is created each time the user attempts a payment

We need to fix this so only one invoice is created.

**Link bug to the User Story**

**Impact of this bug**
When client sees a message to try again later (beaus

[2022-06-13 16:04] doug-lovett commented on #12352
Moving to done, reviewed with dev team on 2022-06-10. Updates to spec published here:
https://bcregistry-demo.apigee.io/docs/mhrproxy/1/overview

[2022-06-13 16:09] lmcclung commented on #12596
@jinghualicgi please put this into the next sprint.

[2022-06-13 16:19] #12257 closed

[2022-06-13 16:19] #12456 closed

[2022-06-13 16:33] #12426 closed

[2022-06-13 16:39] #10952 closed

[2022-06-13 16:39] #10954 closed

[2022-06-13 16:39] #10953 closed

[2022-06-13 16:42] #12419 closed

[2022-06-13 16:43] #12271 closed

[2022-06-13 16:43] #11356 closed

[2022-06-13 17:01] zac-broitman opened #12597 "FAS - import NSF slips"
When initialling importing Old FAS data to the new system many NSF slips were missed due to have 0 or negative balances. These should be imported into the new system. Outside of the balance these slips do not have any new considerations that would prevent the previous import scripts from being used.

To handle the negative balances a suggestion has been to import them with a negligible positive am

[2022-06-13 17:06] lmcclung opened #12598 "Name Request UI: Date picker (date conversion) fix in varoius apps"
Date conversion is incorrect for users in timezone other than 'America/Vancouver'. It may be off by 1 day. For example, a user in EST timezone seleting May 5th as date from date picker, the resultant date in text box comes to be May 4th.

Please refer to ticket #12384 for more details on the bug.

Please refer to the PR https://github.com/bcgov/business-create-ui/pull/402 to find out the possible

[2022-06-13 17:07] jdyck-fw opened #12599 "bcrs-shared-components: Date picker (date conversion) fix in various apps#12524"
bcrs-shared-components: Date picker (date conversion) fix in various apps#12524
Date conversion is incorrect for users in timezone other than 'America/Vancouver'. It may be off by 1 day. For example, a user in EST timezone selecting May 5th as date from date picker, the resultant date in text box comes to be May 4th.

Please refer to ticket #12384 for more details on the bug.

Please refer to the

[2022-06-13 17:09] ritvick commented on #12094
PRs so far ( for putBackOn )
Business-schema: https://github.com/bcgov/business-schemas/pull/96/files
legal-api: https://github.com/bcgov/lear/pull/1547/files
entity-filer: https://github.com/bcgov/lear/pull/1552/files

[2022-06-13 17:16] zac-broitman opened #12600 "Issues with Account Invitations"
## What is the problem?
* We have seen a trend of Ops issues where invitations sent to users to join an account run into a variety of problems.
Problems:
- Emails not being received. Restarting the queue seems to fix this but why does it happen in the first place?
- Invitations being sent for the wrong auth type (i.e. Account set for BCSC but invite is for BCeID)
- Invite links leading users to th

[2022-06-13 17:17] jennyschan commented on #12255
Screenshot with Business Search Tile on My Registries Dashboard.![image](https://user-images.githubusercontent.com/104090299/173408922-ca9742c5-665b-423f-9d91-78bd9d14fb80.png)

[2022-06-13 17:18] seeker25 commented on #12565
It's a programmatic logout:

` this.kc.logout({ redirectUri: redirectUrl })`

I think we'd need to change redirectUrl to something like:

`https://logon7.gov.bc.ca/clp-cgi/logoff.cgi?returl=https://dev.bcregistry.ca/business/auth/&retnow=1`

That way it would hit keycloak logout, then bcgov logout, then back to the redirect page.

[2022-06-13 17:29] zac-broitman opened #12601 "Multiple Affidavits preventing accounts from being approved"
## What is the problem?
* There have been multiple cases where an account needing approval can not be approved (when selecting just a loading spinner is shown). Ops devs have determined this is most often due to multiple affidavits causing an issue with the account approval.

## What is the impact?
* This prevents accounts from being approved and thus clients from using the system.

## Proposed so

[2022-06-13 17:30] zac-broitman commented on #12601
We already have this covered by 11656, closing this ticket as a duplicate

[2022-06-13 17:30] #12601 closed

[2022-06-13 17:35] jennyschan commented on #12428
BCeID that has access to search
![image](https://user-images.githubusercontent.com/104090299/173411609-f8f44f31-76f9-4a22-a2e7-5b9486a09ef8.png)

[2022-06-13 17:48] mstanton1 commented on #11608
License was provided. Firewall request to access DB2 MHR from GCP has been approved and is on track for Wed change window. Testing will be required close after the change while the firewall ticket is still open.

[2022-06-13 18:00] #12352 closed

[2022-06-13 18:13] severinbeauvais commented on #12399
@rkim13103 @yuisotozaki

The following have been implemented (framework only -- not data or validation functionality) and merged into Dev. Please have a look. I am still working on the remaining check items.

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/621c1e3d-3121-4bc7-8579-b291b8a02c25)

[2022-06-13 18:13] mstanton1 commented on #11849
@forgeuxGH5 I can't seem to locate a design ticket for SBC / BCOL Help for MHR Search. We have UI tickets for BCOL Help (disable payment, don't allow client search) but nothing for SBC. Is there design for SBC in what's already mocked up or is a new design ticket needed?

[2022-06-13 18:14] jinghualicgi commented on #12511
A list of people from Anne-Marie's team need on-boarding tickets

[2022-06-13 18:24] joanna-54 commented on #12511
Just don't know what to do now that I am here.  All good- one step at a time.

[2022-06-13 18:44] chdivyareddy commented on #8486
Verified **Other** Registration Type!

Base Reg: **502457N** in DEV (Act Name - Test Registration)
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a3818e13-af76-4925-a772-2c5b985d198d)
[https://app.zenhub.com/files/157936592/2895277b-8273-4ea2-81d8-5670fe535a1e/download](https://app.zenhub.com/files/157936592/2895277b-8273-4ea2-81d8-5670fe535a1e/download)

**Amendment:**

[2022-06-13 18:46] severinbeauvais opened #12602 "Auth Web: got "Page not found" after clicking email link"
After following the instructions in another email and creating a premium (PAD) account, I received the following email:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/a03f260f-1a34-443b-a2f0-802d5235b9a4)

The "Log in" button sends me to https://www.bcregistry.ca/business/auth/business/auth.

However, when my browser tries to open that link, I get this:

![image.png](h

[2022-06-13 18:57] yuisotozaki commented on #10885
UXA Observations:
1. Undo should clear the address fields also
1.1 Add a business with address as the proprietor
1.2 Observe that address fields are filled in
1.3 Click Undo
1.4 Observe that the address fields is not empty

2. Once Undo is pressed, the address field no longer update with selection of new business
2.1 Add a business with address as the proprietor
2.2 Observe that address fields are

[2022-06-13 19:13] doug-lovett commented on #12061
Users in DEV and TEST have been assigned access following the spreadsheet with the exception of BCREG0097 and BCREG0098 in DEV - keycloak records do not exist for these users.

[2022-06-13 19:35] janisrogers opened #12603 "UI - Instruction text to cover scenarios where there are paper only filings"
To cover the scenarios when some or all of the filings are paper only.

Design attached updates instructional text and text in 'available documents' section.

[2022-06-13 19:37] janisrogers commented on #12234
Ticket 12603 created to handle this situation.

[2022-06-13 19:38] yuisotozaki commented on #10885
Point 3 above is due to authenticated user's visibility privilege.
We don't disclose business contact email addresses to just any users. E.g. we don't show emails on output. If we allowed non-staff user to view email address as part of SP/GP registration via business look-up, wouldn't that go against this rule? @lmcclung

[2022-06-13 20:06] mstanton1 commented on #12061
I suspect Tracey and Fareen aren't using those ID's in Dev so they aren't needed. As noted by Doug all these, with the two exceptions, have been assigned the appropriate access.

[2022-06-13 20:21] mstanton1 opened #12604 "Partner Access to MHR Search API"
One or two BC Registries partners use screenscraping currently to complete Manufactured Home Registry searches. As we move off of BC Online API access would be the desired way to connect with BCRS.

We've also had a request to share declared value with BC Assessment. Transactions that include this value to be identified (transfer....).

Due to the limited usage of the API this API needs to be made

[2022-06-13 20:22] mstanton1 opened #12605 "API Terms and Conditions"
When the PPR API was launched Terms and Conditions were drafted and made available through the API Gateway. Review is required to determine if the existing Terms can be used as is for partners onboarding to the MHR API. Confirmation is required on whether partners who already completed these Terms must do so again to gain access to another API product.

[2022-06-13 20:31] chdivyareddy commented on #11560
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2a425b52-6ded-41fd-89c7-35b57fb9603c)

[2022-06-13 20:40] mstanton1 opened #12606 "MHR Search Testing"

[2022-06-13 20:41] mstanton1 opened #12607 "Latency Testing"

[2022-06-13 20:44] mstanton1 opened #12608 "Performance Testing"
Performance Testing
Does this function fast enough to be usable for PPR staff, pilot or the full set of users who will use these transactions?

_Note:_ Original Intent was load testing which will not be feasible because the volumes provided for MHR are extremely low and we do not hit the PPR API so can't look at respective impact. Updated story to focus on performance testing.
~~Load Testing is re

[2022-06-13 20:44] mstanton1 opened #12609 "Statistics for Load Testing"
To allow to accurate load testing a list of MHR transactions, and the number of times those transactions took place in a calendar year, is required. Once this has been obtained we can apply the same rule as we did with PPR and divide by 220, then again by 8 to obtain the number of transactions per hour. Note the calculation is based upon the assumption that there are 220 working days and the avera

[2022-06-13 20:48] zac-broitman opened #12610 "AUTH-WEB - Ability to move from PAD to BCOL (without previously being linked)"
## What is the problem?
* Users can only move from PAD to BCOL if they initially set up their account with BCOL (and then changed to PAD later), otherwise a developer needs to make the change. A consideration with this issue is the motivation to phase out BCOL as a payment option in the future.

## What is the impact?
* This adds work to the Ops team when it could be an enhancement to offload this

[2022-06-13 20:55] mstanton1 commented on #12609
Sent to Ali to see if he can provide a list of transactions and counts for the past year for MHR.

[2022-06-13 20:58] vysakh-menon-aot commented on #10885
@yuisotozaki Point 1 is in Dev now. Can you verify and move it for QA

[2022-06-13 21:08] jyoti3286 opened #12611 "UI Design - Adding "BC Assessment" product to our Platform"
### Due date for design completion
- June 30th, 2022

### Visual Design Comps + Copy Updates:
https://projects.invisionapp.com/share/BY12T6R7XZ2D#/screens?browse

Including:
- BC Registries Dashboard
- BCROS Marketing Page updates
- Account Products & Services page

### Thumbnail Graphic Download:
https://drive.google.com/file/d/1tVyqvjcDTT6Bc29kCLP2AHIoLn24IKqq/view?usp=sharing

------

### Partn

[2022-06-13 21:15] jyoti3286 opened #12612 "Adding Account details on the "My Registry Dashboard""
**NEW TO DO: Staff's version of My Business Registry page with account info - what about staff thumbnail image?**

### Visual Design Comps:
https://projects.invisionapp.com/share/PN12SQFI72VK#/screens?browse

### Work Includes:
1. Updating Top Page Title area + Breadcrumbs on the following pages:
- BC Reg Dashboard
- My Business Registry
- My PPR/MHR/Assets Registries
- Business Search
- Account p

[2022-06-13 21:16] jyoti3286 commented on #11864
created 12611 for this

[2022-06-13 21:16] #11864 closed

[2022-06-13 21:19] jyoti3286 opened #12613 "UI design/concept - One Account Type for BC Registry"
### Description:

- Need some designs or high-level concepts of what a "singular" account structure would mean. Areas to consider:
   - Account creation: Maybe we don't ask the user to even select an "account type"
   - Account Info Screen - Change the account information
   - For payments on one account type - how would the user choose his payment method for a transaction?
      - Can the user ch

[2022-06-13 21:24] ritvick opened #12614 "Legal API Changes for backend - For admin dissolution"

[2022-06-13 21:26] chdivyareddy commented on #12410
Verified!

Base Reg. No: **502463N** in DEV.
[https://app.zenhub.com/files/157936592/6d88466c-909c-4a82-a669-71e232905d7a/download](https://app.zenhub.com/files/157936592/6d88466c-909c-4a82-a669-71e232905d7a/download)

**Amendment:**

[https://app.zenhub.com/files/157936592/d2c80fe1-3559-4141-9b22-ec456c31a2c4/download](https://app.zenhub.com/files/157936592/d2c80fe1-3559-4141-9b22-ec456c31a2c4/do

[2022-06-13 21:42] chdivyareddy commented on #11722
Verified!

**NIL Search:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2950d595-ce3a-4e5d-9cd8-da0c15b067af)

**No Registrations Selected:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/eef56d7b-5de6-427e-8da9-dfbaa0de673c)

**Exact Matches:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/175cb053-f8e7-4e98-a

[2022-06-13 21:46] zac-broitman opened #12615 "Improvements to Statements/Transaction History"
## What is the problem?
* Clients have reported missing statements (often seems associated with 0 dollar statements?), statements sent at irregular timing (more than once per day for PAD), and transactions not updating after refunds

## What is the impact?
* This confuses clients and potentially causes them to not have access to important financial data

## Proposed solution
* Investigate statemen

[2022-06-13 21:47] #12061 closed

[2022-06-13 22:06] lekshmimallika-aot opened #12616 "UI changes - Payment flow"

[2022-06-13 22:16] yuisotozaki commented on #12400
Reviewed with design team and some questions came up:

If we go with supporting staff users use placeholder email address consistently:
1. There is added cost overall for training for this special case.
2. There is a question about sustainability of the code that is very specific to a single rare case.
3. There is added cost of the placeholder email address inbox management

This is still cheaper

[2022-06-13 22:44] lmcclung opened #12617 "UI Design - Launch SP/GP Registration in Name Request application"
## wireframes
https://preview.uxpin.com/48d9b03a2da506bd05875ed4998b249b951c8846#/pages/151570050

### Scenario 1: See Register Now button
GIVEN I have an approved name request
WHEN I have retrieved my name in name request
OR I have clicked the link on my name results letter
THEN I can see my approved name details
AND click a button to Register Now

### Scenario 2: NR affiliated and logged in - Ha

[2022-06-13 22:45] lmcclung commented on #12617
@forgeuxGH5 @tlebedovich @rkim13103 This needs to be designed this sprint 13.5 so we can groom in time for development in sprint 13.6.

[2022-06-13 22:47] yuisotozaki commented on #10943
UXA Observations:
- Act title is incorrect for SP/GP; it should be "Partnership Act"
- Dissolved firms have incorrect wording; it should be "Historical - Dissolved on {date}"
- Nature of Business should not have NAICS code displayed; Remove NAICS code and hyphen.

![image.png](https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/849b4f07-edb2-4968-bc34-b7d6b570f10e)

[2022-06-13 22:55] janisrogers commented on #12492
The underline for the tooltip is too heavy.

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/e5c5748a-d6c8-4ecb-ad99-302b702e8474)

Can you make it like this (from the PPR marketing page https://yfthig-dev.web.app/ppr-marketing/)

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/bffaeda8-0635-4a47-8568-0cbfc63cf677)

[2022-06-13 23:05] yuisotozaki commented on #10885
Looks good! Ready for QA!

[2022-06-13 23:11] chdivyareddy commented on #11329
**Amendment Titles in the PDF:**
Base Reg: **502465N** in DEV.
[https://app.zenhub.com/files/157936592/c56bf2ff-6369-4d74-ab8b-201a1e114f32/download](https://app.zenhub.com/files/157936592/c56bf2ff-6369-4d74-ab8b-201a1e114f32/download)

**Trust Indenture:**
- [ ] Add or Remove trust indenture to an existing registration (Amendment - Trust Indenture)
![image.png](https://images.zenhubusercontent.co

[2022-06-13 23:20] janisrogers commented on #12428
When you are unauthenticated - you are correctly directed to login. When you then login, it takes you to the dashboard (regardless of login type) (This is not the preferred behaviour, but because we are going through login, we may not have the ability to go directly to search)
- [ ] @kial is this something we can fix?
When switching accts, some strange behaviour. Jenny got redirected to My Busines

[2022-06-13 23:24] janisrogers commented on #12414
I don't think I can test the API. @JohnamLane should this just be moved to done?

[2022-06-13 23:24] janisrogers commented on #12411
I don't think I can test the API. @JohnamLane should this just be moved to done?

[2022-06-13 23:26] janisrogers commented on #12214
testing this is blocked by the bug that is preventing us from accessing documents.

[2022-06-13 23:29] janisrogers commented on #12217
@kialj876 Need to update 'Registration Number' to be 'Incorporation Number' for Coops and Benefit Companies. It should say 'Registration Number' for Sole Proprietorships and General Partnerships.
Post MVP I will create a document indicating which entity types use which term.

Everything else looks good.

[2022-06-13 23:34] kialj876 commented on #12428
Right now it is doing the same flow as PPR (or that was the intention). What account types should not send you to the bcregistry dashboard? We can fix the flow to work however we want I think, but not the account switching stuff

[2022-06-14 00:15] severinbeauvais commented on #12399
I have completed the remainder of the check items above, and also refactored some getters to simplify future development (ie, easier to understand what's going on in the code). I also updated as many places as I could find to make initial firm corrections work. Example:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/ed367d40-44e1-4b91-b1c3-161d3ee226f3)

[2022-06-14 00:16] mstanton1 commented on #12563
RAID 110 was logged to determine if there is a need to pursue this further.

[2022-06-14 00:20] severinbeauvais commented on #12399
Please discuss with me any bugs found in Edit UI... They may deserve their own bug ticket, or we may be able to fix them in the subsequent corrections implementation tickets.

This includes:
- BEN alterations
- BEN IA corrections
- SP + GP changes
- SP + GP conversions
- SP + GP corrections

### Test Notes

The filings above should be unchanged from before (except new firm corrections). Also, ther

[2022-06-14 00:24] severinbeauvais commented on #12399
@rkim13103 @yuisotozaki You may use the following firms for testing corrections. DO NOT FILE THESE (I need them for ongoing development and sprint demo)!

SP: https://dev.bcregistry.ca/business/FM1001317/

GP: https://dev.bcregistry.ca/business/FM1000407

[2022-06-14 00:27] severinbeauvais commented on #12573
Are we sure that NOB is view-only? I've been working off this uxpin that shows it as correctable:
https://preview.uxpin.com/363a49b33bdb2a314ccac0f18daad8969e93b337#/pages/150728305/comment/no-panels

[2022-06-14 01:01] #10946 closed

[2022-06-14 01:01] #10947 closed

[2022-06-14 01:01] #10948 closed

[2022-06-14 01:01] #10951 closed

[2022-06-14 01:01] #10962 closed

[2022-06-14 01:01] #10950 closed

[2022-06-14 01:02] #10949 closed

[2022-06-14 01:02] #9366 closed

[2022-06-14 01:02] #9367 closed

[2022-06-14 01:03] #10945 closed

[2022-06-14 01:03] #9368 closed

[2022-06-14 01:03] #10959 closed

[2022-06-14 01:03] #10960 closed

[2022-06-14 01:03] #10961 closed

[2022-06-14 01:03] #9370 closed

[2022-06-14 01:04] #10417 closed

[2022-06-14 01:04] #10957 closed

[2022-06-14 01:04] #10958 closed

[2022-06-14 01:04] #10956 closed

[2022-06-14 01:05] #10973 closed

[2022-06-14 01:05] #10974 closed

[2022-06-14 01:05] #10972 closed

[2022-06-14 01:05] #11124 closed

[2022-06-14 01:07] #9162 closed

[2022-06-14 01:13] #11074 closed

[2022-06-14 01:15] lmcclung commented on #10632
@jmills-cgi can you confirm whether Search team needs this epic I created long ago or whether they have their own?  If they have their own, could you close this ticket, please.

[2022-06-14 01:23] #9356 closed

[2022-06-14 01:23] #9358 closed

[2022-06-14 01:24] lmcclung commented on #9299
Closing this epic as we decided not to create separate filings for these.  Rather, they are incorporated in the change filing.  The work needed to redirect to the change filing was done elsewhere.

Verified this worked on June 13.

[2022-06-14 01:24] #9299 closed

[2022-06-14 01:25] #9426 closed

[2022-06-14 03:10] tlebedovich commented on #12617
I don't feel like I have enough bandwidth this sprint, @rkim13103 do you?

[2022-06-14 03:13] tlebedovich commented on #12562
I will defer to @forgeuxGH5 for wording here

[2022-06-14 14:46] argush3 opened #12618 "Update SP/GP pipeline to support conversion filings"
Following COLIN event/filing type needs to be processed by the pipeline and data loaded as LEAR conversion filing.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/e5cfb113-24cb-4feb-afba-4a5d6d49b56e)

[2022-06-14 14:49] argush3 opened #12619 "Misc SP/GP pipeline updates and bug fixes"

[2022-06-14 15:36] fareenr commented on #12144
Final reminder email saved here: https://docs.google.com/document/d/1ZR-9I8qbT8AC2zMnqjth0gT_5JMEfCvC/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

Updated Rural Property Tax Search Launch - Jun 2022 email in GCNotify.  Sent email Jun 13, 2022.

[2022-06-14 15:38] fareenr commented on #12154
Discussed with Melissa, Patrick, Olisa, Trish and Megan and everyone agreed google sheet can be used for this initial staff pilot.

Process for staff issue reporting and MHR staff pilot issue tracking saved here:
https://docs.google.com/spreadsheets/d/1KKLxNLTGISvUQZG6q_qW1zkR9ST9e8nD/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

Need to provide staff access to this folder and ed

[2022-06-14 15:48] lekshmimallika-aot commented on #10943
@yuisotozaki Fixed and available in dev

[2022-06-14 15:59] vikasvermacertain commented on #12295
Requirements for the Namex homepage:

DAILY STATS:

TOTAL Number of names submitted
TOTAL Names Approved (approved + conditional): when considering names approved - should be per NR transaction/ avoid the duplicate choices in same NR
TOTAL Names Rejected and Cancelled
Approved %
Rejected %

WEEKLY STATS:

Weekly names examined by each staff (for performance metrics) i.e approved and rejected %

MO

[2022-06-14 16:04] forgeuxGH5 commented on #11849
@mstanton1 I seem to recall we were going to use this ticket to see if we needed to do anything differently than PPR and if the PPR interaction was OK we wouldn't need a design ticket. We should outline the PPR behaviour for the devs in the dev ticket though (once we verify that it's OK).

[2022-06-14 16:10] jinghualicgi commented on #12430
@dimak1 Dima, can you add est on this ticket? Thanks

[2022-06-14 16:14] dimak1 commented on #12430
@jinghualicgi Added the est.

[2022-06-14 16:14] mstanton1 opened #12620 "Define Test Scenarios"
- four types of MHR searches
- combo search
- UI and API
- need to test any other impacted products, e.g. PPR

Test Scenarios:  (Parameter values to be updated after TEST is loaded with PROD data)
https://docs.google.com/spreadsheets/d/1Oe50zwE0pQGT7m0VHyma302RtNlXepZEQyq5t7B8NIU/edit#gid=2122423547

[2022-06-14 16:14] mstanton1 opened #12621 "Create Scripts"
- plan to use Cypress for the UI and K6 for the backend, or Cypress can be used for both

[2022-06-14 16:14] mstanton1 opened #12622 "Run Scripts"
- run scripts identified in create scripts tickets
- scripts to be run a few times
- when running in PROD must reduce PPR UI user impact (e.g. run later in the day)

[2022-06-14 16:16] mstanton1 opened #12623 "Review Results"

[2022-06-14 16:18] mstanton1 opened #12624 "Define Acceptance Criteria"
- ideally done up front
- identifying performance metrics that are acceptable (i.e. 90% are under X ms is considered acceptable)
- leverage the test scenarios ticket

Acceptance Criteria sheet added to MHR Load Test document:
https://docs.google.com/spreadsheets/d/1Oe50zwE0pQGT7m0VHyma302RtNlXepZEQyq5t7B8NIU/edit#gid=0

[2022-06-14 16:23] mstanton1 commented on #12620
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12620?planning-poker) with ZenHub @doug-lovett @thorwolpert @garyfan1 @dimak1 @cameron-freshworks

[2022-06-14 16:28] forgeuxGH5 commented on #12617
@rkim13103 let's chat about this when you are back

[2022-06-14 16:34] yuisotozaki commented on #10943
Ready for QA!

[2022-06-14 16:38] mstanton1 commented on #12621
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12621?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1 @thorwolpert

[2022-06-14 16:42] jdyck-fw commented on #12392
Some of this content is in 13.4b release.

[2022-06-14 16:43] mstanton1 commented on #12623
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12623?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1 @thorwolpert

[2022-06-14 16:48] jinghualicgi opened #12625 "Sprint Goal: 13.5"
**Overall:**
1) As a MHR staff user I want the MHR search to retrieve the same results as legacy MHR search (MHR Search) -  25%
2) As a MHR staff user I want the MHR search to function at a speed equal to, or better than, PPR (MHR Performance Testing) - 100%
3) MHR Environment set up in PROD - 95%
4) As a PPR user I want PDF outputs to generate faster and consistently generate without error (Docum

[2022-06-14 16:52] mstanton1 opened #12626 "MHR Search Algorithm Testing"
- identify testing scenarios (Patrick)
- expectation: should retrieve exact same results as legacy system

Note: request pending to have PROD data loaded into TEST to enable more testing scenarios. If we are unable to have this data moved over we could ask to use PROD for testing. _DONE_

If testing in PROD we have an added dependency of having the API up in PROD, UI up in PROD.

Need RACF ID and

[2022-06-14 16:54] ozamani9gh commented on #11999
@sarahelz19 @lmcclung i cannot find Safa Khan in keycloak test.

@rarmitag are we supposed to add users to keycloak if they are not there, or is there another process

[2022-06-14 16:54] mstanton1 commented on #12626
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12626?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1 @thorwolpert

[2022-06-14 17:06] mstanton1 commented on #12626
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12626?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1 @thorwolpert @chdivyareddy

[2022-06-14 17:14] stevenc987 commented on #12598
@lmcclung

This is the suggested testing method:
![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/b8704477-2dc1-4866-91c3-f8589697fe94)

I have changed my clock to EST and tested it on noon EST but I didn't find the date picker issue as mentioned on this ticket. I also asked Ritvick (who worked for other date picker issues) to reproduce the issue and he couldn't reproduce

[2022-06-14 17:21] mstanton1 opened #12627 "MHR Environment Set up in PROD"

[2022-06-14 17:42] jinghualicgi commented on #12464
@jdyck-fw @lmcclung Please adding this ticket in your next sprint

[2022-06-14 17:46] #12215 closed

[2022-06-14 17:46] #12477 closed

[2022-06-14 17:46] #12234 closed

[2022-06-14 17:46] #12255 closed

[2022-06-14 17:46] #12179 closed

[2022-06-14 17:46] #12233 closed

[2022-06-14 17:46] #12182 closed

[2022-06-14 17:54] rarmitag commented on #11999
only if access has been requested

[2022-06-14 17:59] mstanton1 commented on #12583
Duplicate - covered under 12626.

[2022-06-14 17:59] #12583 closed

[2022-06-14 18:32] tlebedovich commented on #12467
@rkim13103 - is this UXA doc ready for dev now?

[2022-06-14 18:34] yuisotozaki commented on #12399
Framework Ready for QA!

[2022-06-14 18:39] fareenr opened #12628 "Post BC Online announcement for Wills & Rural Property Tax - Jun 20"
By Mon Jun 20, post BC Online announcement on mainframe application that:

Rural Property Tax and Wills services will be moving to the new BC Registry and will no longer be accessible through BC Online after June 21, 4:30 PM PT.  These services will be available through the new BC Registry application beginning June 22, 2022. Please log in and add these services, if needed, to your account on bcre

[2022-06-14 18:46] fareenr commented on #12588
For external user support, they are to call BC Online help desk for MHR support:

Toll-free: 1-800-663-6102
Email: bcolhelp@gov.bc.ca

(confirm this is Debbie's team's number)

[2022-06-14 18:57] jinghualicgi commented on #12560
@gprimeau Gen, assigned to you since this is a Form ticket. Please advise if we should assign this to others, thanks

[2022-06-14 18:57] jinghualicgi commented on #12559
@gprimeau Gen, assigned to you since this is a Form ticket. Please advise if we should assign this to others, thanks

[2022-06-14 19:51] jinghualicgi commented on #12489
@riyazuddinsyed Hi, this is ready for QA, thanks @lmcclung @jdyck-fw

[2022-06-14 20:00] jyoti3286 opened #12629 "Fixing the UX Assurance issues for dissolution filing"
### Issue description

- Issues are highlighted in the below document
https://docs.google.com/document/d/1ITTp-prRAr025b9Kx6wGmitVSEhqiKYOHbAMHtKZ2A4/edit?usp=sharing

[2022-06-14 20:00] kialj876 commented on #12396
from Janis on current:
The underline for the tooltip is too heavy.

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/e5c5748a-d6c8-4ecb-ad99-302b702e8474)

Can you make it like this (from the PPR marketing page https://yfthig-dev.web.app/ppr-marketing/)

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/bffaeda8-0635-4a47-8568-0cbfc63cf677)

[2022-06-14 20:00] jyoti3286 commented on #12443
@seeker25
Is this done?

[2022-06-14 20:03] jinghualicgi commented on #12117
Is this still waiting for QA? @riyazuddinsyed

[2022-06-14 20:30] chdivyareddy commented on #12174
Hey @garyfan1 , Validation and Hint on the BCOL & Routing slip fields are not triggered when staff enters more characters than the maximum limit until the 'Pay & Download Result' button is clicked:

- When the maximum limit is reached and before clicking on the Pay & Download button:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/584fdbe7-a5bf-4ede-8fce-0aba4d0ac364)

-

[2022-06-14 20:41] chdivyareddy commented on #12544
Verified Priority Fee checkbox!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b14fb918-d8f0-4c22-ba49-62cfb706cb83)

[2022-06-14 20:46] cameron-freshworks commented on #12174
@chdivyareddy
Good observation although this might be a UX question. I was under the impression we were only to validate the fields at the point of submission, so the implementation of Staff Payment in the PPR flow may be out of date.

@tlebedovich Thoughts on this?

[2022-06-14 20:53] yuisotozaki commented on #11736
UXA Observations:

In dev, the Resolution/Spec Res and Affidavit step icons are no longer marked incomplete even when visiting the Review and Confirm step right away.

Definition:
- Step Icons are the icons at the top of the dissolution screen
<img src="https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/ca4fbd78-8227-4e55-9b29-ff0fd29d2822" width=300/>

1. Load a BEN or CP Entity Dashbo

[2022-06-14 20:58] jinghualicgi commented on #8086
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/7e6a7bb4-b3b2-4f3f-8a9f-e1eac9abb43d)

Action Items
- [  ] Release flow is time consuming. Identify cut off, checkpoints, meeting with verification.
  - Adding release champion, fixed date of cutoff dad(Monday night) and release date (Thursday morning)
- [  ] Add more user with different roles to help with testing
  - 1. Pa

[2022-06-14 20:58] jinghualicgi commented on #8086
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/7e6a7bb4-b3b2-4f3f-8a9f-e1eac9abb43d)

Action Items
- [  ] Release flow is time consuming. Identify cut off, checkpoints, meeting with verification.
  - Adding release champion, fixed date of cutoff dad(Monday night) and release date (Thursday morning)
- [  ] Add more user with different roles to help with testing
  - 1. Pa

[2022-06-14 21:08] tlebedovich commented on #12174
We are working on updating and consolidating rules for validating. In progress rules are here: https://preview.uxpin.com/0d5fa9a089b75b80d3204038f1f591ce8cc48f03#/pages/149941305/simulate/no-panels

Fields with character limits/max character counts errors - show the max character error as user types as soon as they have reached the max character limit and turn off error as they delete the extra ch

[2022-06-14 21:32] #12467 closed

[2022-06-14 21:57] jinghualicgi commented on #8086
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/3eb4aa4b-315a-4803-8ae0-c8a8526a8646)
**Action Items**
- [ ] Still plagued in PPR OPS by Report API failures and timeouts
 - With new API spec release, these issues will be decreased

- [ ] Centralized requirements / Very little doc on legacy system
 - Jinghua to share google training folder
 - Jinghua bring this to SOS ask

[2022-06-14 21:58] eve-git commented on #12489
The following nr types have the same wrong URL in Results report. All of them have been fixed:
1. FR
2. GP
3. DBA

[2022-06-14 22:00] #12299 closed

[2022-06-14 22:00] #11702 closed

[2022-06-14 22:00] #12554 closed

[2022-06-14 22:00] #9260 closed

[2022-06-14 22:00] #10885 closed

[2022-06-14 22:00] #12167 closed

[2022-06-14 22:00] #11374 closed

[2022-06-14 22:00] #12242 closed

[2022-06-14 22:01] #12527 closed

[2022-06-14 22:23] #12420 closed

[2022-06-14 22:23] #10943 closed

[2022-06-14 22:37] SateeshFW commented on #2125
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/db3df5c5-d77e-4cc8-8154-62701afb2f24)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/6d7fe660-855b-4dd0-aee5-1221cf734569)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/2842ead9-95dd-498c-a503-be5237dba86c)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76

[2022-06-14 22:38] SateeshFW commented on #2125
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/86eb32b2-b65a-4d87-a0a2-0a8e8bab8c96)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/dd58c9fa-ed35-4448-a75a-bc78159b25e9)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/c93e6b41-8a7b-4998-9f65-793a99f48dc5)
Action items from Sprint 13.3 continues

Action items from Sp