[2021-06-15 20:46] #7930 closed

[2021-06-15 20:48] mstanton1 opened #7931 "Deactivate account in favour of premium account"
From Engagement Mailbox

#### ServiceNow incident: N/A
#### Contact information: deirdre@shiftcollaborative.ca

#### Description
Hi there,
I have a couple of questions related to a premium account?
1. If we request deactivation of our current account, does that mean we lose access to our previous business records?
2. What is the cost of the premium account?
3. What is involved in transitioning to

[2021-06-15 21:14] SateeshFW commented on #2125
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/d15b5809-d2ca-4409-bede-8ada8d2a5e84)
Sprint 9.2 Continue with ongoing action items

Sprint 9.3  New
@Jyoti - PO Sync meeting book 15mins to go thru the BA tickets which have dependency
@devs - Tag the tickets to Melissa or Jyoti or Amit for testing.
@sateesh - Check the tickets if it required UX assurance
@Jyoti - Another

[2021-06-15 21:16] SateeshFW commented on #2125
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/903830e7-e8de-47c5-bf61-f06afb5fd68f)

Sprint 9.3 continue with ongoing action items...

Sprint 9.4 New
@all - Lets consider 5 bugs for the next sprint.
@jyoti - to check with Carol for solution to design the tickets
@sateesh - Forward the invite to all for pre-grooming and share ticket details rocket chat
@Jyoti - Talk to

[2021-06-15 21:32] jmills-cgi opened #7932 "Entities 9.5 Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-06-15 21:39] Kaineatthelab opened #7933 "Verify - Download Results results are mixed up..."
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/53f3d48b-aa54-4e8e-9225-9a509e7ec444)

[2021-06-15 21:48] Kaineatthelab opened #7934 "Estimated review date is right but days remaining is wrong...."
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/72a9c72c-c2bb-4cd6-988b-b6172d4e0b92)

[2021-06-15 22:21] Sienna-Blumstengel opened #7935 "Can't change NR 2904769 expiry date"
#### ServiceNow incident:
INC0096181
#### Contact information
Staff Name: Debbie Blyth

#### Description

I asked the following:

Debbie said:

i.e. They are trying to extend the expiry in NameX, and are unable to make the new expiry date stay. It always reverts to **June** 21st.

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **e

[2021-06-15 22:39] Sienna-Blumstengel commented on #7897
Tool tip content:
https://docs.google.com/document/d/1IokxIcLKUetMCptRbCXpqWCXH0o5Bgj1CFQFPPvT150/edit?usp=sharing

Document for LTDs and ULCs:
[https://app.zenhub.com/files/157936592/9478e073-791f-48a3-b402-4a847e341437/download](https://app.zenhub.com/files/157936592/9478e073-791f-48a3-b402-4a847e341437/download)

Document for CCCs:
We decided not to have one! That also means that the help text

[2021-06-15 22:54] sumesh-aot opened #7936 "Do not allow director search users to create account"
**Describe the bug in current situation**
A clear and concise description of what the bug is.

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Chance of Occurring (high/medium/low/very low)**

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**

**Steps to Reproduce**
Steps to repro

[2021-06-15 23:42] #7601 closed

[2021-06-15 23:54] jdyck-fw commented on #2118
![9.3.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/a7c61b71-8ea2-4188-83e2-7f14047e4a88)

- [ ] All action items completed - reviewed at sprint 9.4 retro

[2021-06-15 23:56] jdyck-fw commented on #2118
![9.4.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/5ae3cb16-2720-402f-8947-ca82cb250958)

- [ ] @lmcclung  - Ensure sprint backlog has blockers as priority and has sufficient work
- [ ] @argush3  / @thorwolpert  - Try out the branching idea for this sprint
- [ ] @jdyck-fw  - Review ZH workflows re: Ops tickets and new repo
- [ ] @jdyck-fw  - Leave estimations out of Triage

[2021-06-16 00:14] SateeshFW opened #7937 "QA task for 7587 - Update BC Registry Terms"

[2021-06-16 00:14] lmcclung commented on #7918
@cameron-freshworks does this ticket fit into this story, or should it go under our story for Step 4, specifically ticket https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6858

[2021-06-16 00:15] SateeshFW commented on #7587
Closing this task and created a QA task https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7937

[2021-06-16 00:15] #7587 closed

[2021-06-16 00:16] SateeshFW opened #7938 "QA task for 7529: 1 BCOL accounts linked to 2 BCR accounts"

[2021-06-16 00:16] SateeshFW commented on #7529
Closing this ticket and created a QA ticket https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7938

[2021-06-16 00:16] #7529 closed

[2021-06-16 00:17] SateeshFW opened #7939 "QA task for 7786 - Pay: Fee Code Updates for new incorporation types"

[2021-06-16 00:18] SateeshFW commented on #7786
Closing this task and created a QA task for https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7939

[2021-06-16 00:18] #7786 closed

[2021-06-16 02:49] thorwolpert commented on #7748
I get an invalid IA for BC0880265
```{'message': 'Parties not found for 0880265'}```

[2021-06-16 14:34] cameron-freshworks commented on #7918
@lmcclung That's a great point Linda, i didn't realize there was another story(s) specific to each step. This is quite a relief, as i've been trying to do most of this up front 😆

But yes, that would be a perfect place for this ticket. Will update, thanks!

[2021-06-16 14:36] cameron-freshworks commented on #7918
Closing this ticket, and moved tasks into ticket:

https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6858

[2021-06-16 14:36] #7918 closed

[2021-06-16 14:40] cameron-freshworks commented on #7897
Thanks so much Sienna! I've relocated these comments into ticket #6859, thanks again!

[2021-06-16 15:09] #7374 closed

[2021-06-16 15:09] #7148 closed

[2021-06-16 15:31] sumesh-aot commented on #7935
@Sienna-Blumstengel Is the action item to update the expiry date or to debug and fix the issue? Below is from the DB;
[code]

[2021-06-16 15:40] tlebedovich commented on #7745
@lmcclung - did you want to pull this into the sprint today for me then? you can probably groom off wires but I should get the visual design started

[2021-06-16 16:01] #6752 closed

[2021-06-16 16:01] Sienna-Blumstengel commented on #7935
Good point, maybe @sumesh-aot let's ask @kialj876 if he thinks we should update the DB with the new expiry date, July 1st, and then open a new bug to investigate the issue? Or just leave it and resolve it as part of the bug?

[2021-06-16 16:06] jdyck-fw commented on #7680
Included in ticket 6969

[2021-06-16 16:11] Kaineatthelab opened #7940 "Migrate IMS to Oracle to Postgres- Weekly Update"
Transfer All Data from IMS
 Verify in oracle tables
 Transfer to Postrgres
 Batch Job Sundays - Monday convert to Oracle then transfer to Postgres

[2021-06-16 16:12] jdyck-fw commented on #6566
@andrepestana-aot
Please include a list of tests that should be run for testing this.

[2021-06-16 16:21] jdyck-fw commented on #6859
If you work in this area, know that Cameron has done some work here. Some of it has been done and some to be verified.

[2021-06-16 16:27] mstanton1 commented on #7931
Provided answers to client:

1. If we request deactivation of our current account, does that mean we lose access to our previous business records?
_You will not lose access to any business records. It appears you have linked your co-operative association to this account though. Ideally before we disable your existing Basic account you should remove and reset the password so you can link the co-op

[2021-06-16 16:30] Kaineatthelab commented on #6745
Designed with folio number to review after

[2021-06-16 16:30] jdyck-fw commented on #6742
We should hold off on this until the new designs for people in roles are ready.

[2021-06-16 16:33] janisrogers opened #7941 "UI Design - Updates to BCROS Home Page"
### UXA and Content Updates to do:

- [ ] **Complete all text/tiles updates and UX Assurance design open items in this Google Doc:**
https://docs.google.com/document/d/18vrONYFDSNxah3Tqo5UX5ZVmYKWcB-QHJI9ERCKe30E/edit?usp=sharing

### Updated Visual Design Comps:

Includes:
- Not Logged In Version
- Log In Drop Down
- Logged In Version

https://projects.invisionapp.com/share/WF123NL6HTNG#/screens?

[2021-06-16 16:37] sumesh-aot commented on #7931
@mstanton1 this account still have the entity CP0002288 affiliated. Should we still deactivate ?
Or there is a new account already created 'SHIFT Collaborative Co-op', should we affiliate the coop to this new account ?

[2021-06-16 16:40] mstanton1 commented on #7931
Thanks for the follow up. Meng previously confirmed that CP0002288 was affiliated to the old account so I sent the client instructions with screenshots on how to remove and affiliate to the new account. She said she had done that. I will follow up with the client to walk her through this before you proceed.

[2021-06-16 16:41] jdyck-fw commented on #7252
@rarmitag to verify with Kial and close if this is completed and verified.

[2021-06-16 16:47] mstanton1 opened #7942 "Change of Directors Filing"
From Engagement Mailbox

#### ServiceNow incident: N/A
#### Contact information: lisa.lcservices@outlook.com

#### Description
Hello,

I am of the Office Coordinator for Sunshine Housing Co-op in Surrey, BC. We need to file a Change of Directors form as some Board Members have stepped down, but the website does not seem to be working (www.bcregistry.ca/cooperatives). I found a link on the CHFBC we

[2021-06-16 16:49] severinbeauvais commented on #6764
This appears to be implemented in the SBC Header in Dev/Test/Prod. Ie,

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/f75e625c-2cfa-45d8-bcb7-ac155d4614e6)

However, I noticed colour issues (ie, black on black) in, for example, Namerequest UI. Also I noticed that the first line is cut off on narrow screens.

So, this should maybe be looked at further (or a new ticket t

[2021-06-16 16:55] Sienna-Blumstengel commented on #7874
John to Dee:

[2021-06-16 16:55] Kaineatthelab opened #7943 "Research Planning Register a Financing Statement"

[2021-06-16 16:55] Kaineatthelab opened #7944 "Execute UX Plan for Register a Financing Statement"

[2021-06-16 16:56] jdyck-fw commented on #7336
@stevenc987 - Mind verifying whether or not this should still be assigned to you and "in progress"?

Can you find any invoices or refunds?

@Sienna-Blumstengel will message Steven with client's contact info.

[2021-06-16 16:58] jdyck-fw commented on #7525
@Sienna-Blumstengel looks like this one is all done. Just the email Ops to close the ticket and results to staff.

[2021-06-16 17:01] severinbeauvais commented on #6742
See also [Investigate/fix Edit UI creating bad correction filing data](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6542).

[2021-06-16 17:02] rkim13103 opened #7945 "UI Design - Display BCeID in Team Members"
* As a BC Registries Corporations unit, Hub, BCOL Help or BCOL Admin staff
* I want the ability to see the BCeID associated with a team member
* so that I can troubleshoot issues with logging in

**Scenario 1: Staff with Keycloak group 'admin' view Team Member tab**
* GIVEN I am BC Registries staff with the keycloak group 'Admin'
* WHEN I view the active 'Team Members' tab
* THEN I see the BCeID a

[2021-06-16 17:06] janisrogers commented on #6987
@tlebedovich Over to you for visual design. (may be in the wrong pipeline)

[2021-06-16 17:06] Kaineatthelab commented on #6764
@pwei1018 can you look at fixing this?

[2021-06-16 17:07] mstanton1 commented on #7942
The following response has been sent to Lisa. I will leave this open until I hear whether or not she has been successfully able to set up her account:

Before you can complete a Co-op Change of Director Filing you will need to create an account in the new application. You can use the link below:

https://www.bcregistry.ca/business/auth/home/decide-business

When you log on you will choose “Create

[2021-06-16 17:08] tlebedovich commented on #6764
Along these lines, I'm just wondering if anyone knows where the orange colour for the alert banner originally came from? us? relationships? bc gov standard? I ask only because the white text on orange doesn't meet AA and orange isn't really part of our brand palette. I wonder if we could use the bc gov yellow/gold coloured banner with black text #212529 across all?

[2021-06-16 17:13] Kaineatthelab commented on #6764
it was originally created by the relationship team for paybc. it is mandatory to meet AA standards so should be changed and follow the gov standard

[2021-06-16 17:20] mengdong19 commented on #7749
PAD account active email also have link issue. Account was created in test site but login button linked to dev site.
![image](https://user-images.githubusercontent.com/47155284/122264536-7fcfcc00-ce8c-11eb-9e98-78538356be26.png)

[2021-06-16 17:25] mstanton1 commented on #7698
Note: In Societies Online user log in with a Basic BCeID. There is an active screen for linked up BCeID Users and a historical view for past BCeID users which provides the Name, Created and last access date. Based upon this the need to verify our BCeID Service Agreement seems unnecessary. @jyoti3286 if you feel more comfortable with us reaching out to Amanda though, that can be done.

![image.png]

[2021-06-16 17:28] tlebedovich commented on #6764
ok - i'll make a note to dig a little and see if bc gov have any banner standards we don't know about and if not maybe we change all to the gold/black. I can report back

[2021-06-16 17:36] mstanton1 opened #7946 "FOR ACTION: Create New Account & Info Sessions for BC OnLine – Names Request Online Users"
From Engagement Mailbox

#### ServiceNow incident: N/A
#### Contact information: Grace@westernwealthcapital.com

#### Description
Your assistance please.

This is a company account for company use.  I do not want this accessed via my mobile device.

If I read correctly, the only option is the following—please confirm:

1.	I am using BCeID and Two-Factor Authentication (2FA) to login; can I use my

[2021-06-16 17:39] mstanton1 commented on #7946
I have sent the following response from the Engagement Mailbox.

If you wish to use only a desktop/laptop computer than BCeID & 2-Factor Authentication is the only option available.

If you are comfortable using an iPad, iPhone or Android for initial set up and then pairing to your desktop or laptop for everyday use you may use the BC Services Card.

1.	I am using my BC Services Card; what devices

[2021-06-16 17:43] Kaineatthelab opened #7947 "Renew needs to allow same functionality as in NRO"
This was implemented....
As a user
I want to be able to reapply for my NR (when it is 5 days before expiring)
So that I can easily get another 56 days (for most NRs) to use my NR without calling bc registries

**The value of this feature:** User keeps the name NR, and does not have to go through the name examination process. This can save many days waiting, and removes the need for a priority upgr

[2021-06-16 17:43] Kaineatthelab commented on #7947
Hello,

Here are the business rules that I have for NRO re-apply. It’s my understanding that re-apply and resubmit are the same thing. The UI button says re-apply and the transaction in the DB is called resubmit.

Staff or BCOL can re-apply an unconsumed name if it:
                • is approved,
                • it expired in the last 30 days, or will expire within the next 30 days

[2021-06-16 17:46] Kaineatthelab opened #7948 "Add Resubmit Button when an NR is expired for less than 30 days"
### Story
As a user
I want to be able to resubmit my NR (within 30 days of expiring)
So that I can easily submit for examiner review (for most NRs) to use my NR without calling bc registries

### The value of this feature
User gets to reapply with the same information quickly.

### Background

NRO doesn't allow editing but our current NRA could with its current build.

 Verify that the correct act

[2021-06-16 17:46] Sienna-Blumstengel commented on #7935
@kialj876 is working on this:

[2021-06-16 17:52] #7525 closed

[2021-06-16 17:53] lmcclung commented on #7946
@mstanton1 did you want this to be attached to your milestone instead of Entities, isnce you did the work?

[2021-06-16 17:54] Kaineatthelab commented on #7948
This is great, it has been a confusing feature lol😊

When someone reapplys in BCOL within that 30 days of expiry when does the 56 days start? Does it add 56 days from reapply?
NRs that are re-applied in NRO create brand new NRs than must be re-examined. They have their expiry date set normally in NameX upon approval.

Currently we have Renew in the new application which is only available within 5

[2021-06-16 18:02] mstanton1 commented on #7946
@lmcclung thanks Linda! Definitely attached that to the wrong milestone;)

[2021-06-16 18:03] #7947 closed

[2021-06-16 18:12] lmcclung opened #7949 "UI Design for VON common component"
**Visual Design**
Match font/colours/styling and dropdown as per the design comps attached

**Interaction Design**
**Text Field**
Label of the text field may change based on App
Clicking in the text field applies focus to the text field
Typing a character displays the pick list
Allow of manual typing entry of business name
NEW - Clicking off the text entry field or pick list dismisses the picklist

[2021-06-16 18:13] lmcclung commented on #6877
need to regroom as we want to make it a common component.

[2021-06-16 18:15] sumesh-aot commented on #7336
@Sienna-Blumstengel @jdyck-fw
This NR has been requested from NRO, so obviously no records in pay database.

[code]

[2021-06-16 18:24] Sienna-Blumstengel commented on #7935
Kial resolved it!

@jmills-cgi @kialj876 do we want to use this ticket to represent the work, and add it to the next name request release label?

[2021-06-16 18:24] lmcclung opened #7950 "UI Design - Step 2 redesign similar to coops"

[2021-06-16 18:31] Sienna-Blumstengel commented on #7336
@lmcclung or @janisrogers could you check GLOBALP for me?

[2021-06-16 18:33] Kaineatthelab opened #7951 "UI Design - Expired NR Resubmit (within 30 days after NRO)"
- Add a "Resubmit Name Request" button at the top of the button list
- Update NR message at the bottom of the screen:
"Your Name Request NR 9512816 for ED'S ROCKING DRYWALL INC. was approved but it has expired. You can resubmit this Name Request exactly as it is within 30 days of the expiry date for $30.00. If you wish to change anything about this Name Request you must submit a new Name Request."

[2021-06-16 18:43] bfbowles commented on #7940
Data for registrations with a registration year of 2021 has been copied from Oracle CTST to Postgres DEV.
Record counts
539,754	ADDRESSES
8,440	CLIENT_CODES
3,247	CLIENT_CODES_HISTORICAL
161,362	DRAFT
153,322	FINANCING_STATEMENTS
161,362	REGISTRATIONS
85,179	GENERAL_COLLATERAL
176,567	SERIAL_COLLATERAL
611,911	PARTIES
1,112,666 Total

[2021-06-16 18:51] #7946 closed

[2021-06-16 19:14] janisrogers commented on #7336
It is in GLOBALP. What info do you need?

[2021-06-16 19:21] SateeshFW commented on #7912
Access to the Rocket chat channel 'registries-relationships-team' has been given.  Also, Rai has access to all the public channels

[2021-06-16 19:24] janisrogers commented on #7336
The payment date was 2021-05-06 13:19:10 (so not sure if this is the right one, since she said she was charged on April 23)

[2021-06-16 19:39] SateeshFW commented on #7912
Access to Zenhub and Github has been provided to Rai.

[2021-06-16 20:03] Sienna-Blumstengel commented on #7935
From Debbie:

[2021-06-16 20:08] Sienna-Blumstengel commented on #7336
Thanks Janis!

Sienna to IT OPS:

[2021-06-16 20:42] mstanton1 opened #7952 "Keycloak User Quarterly Review"
#### Description
Complete the Keycloak user Quarterly Review. This review should identify the different roles held by staff in each team, identify discrepancies for people within teams, and look for any necessary changes (e.g. somebody who has left the organization). This can be done as a separate tab on the Quarterly Review 2021 available here:

https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MV

[2021-06-16 20:53] amit4610 commented on #7898
@stevenc987 all yours.

[2021-06-16 20:54] amit4610 commented on #7875
Action items from our meeting:

1.	Louise to check OSP details. Are we distributing OSP to partners or just recording?
2.	Jyoti to check with Ian A. for Development fees.

[2021-06-16 20:57] mstanton1 opened #7953 "NR 9569825 - Namex & NRO outputs are different"
#### ServiceNow incident: INC0096342
#### Contact information
Staff Name: Debbie Blyth
Staff Email: Debbie.Blyth@gov.bc.ca

#### Description
Just received a call from a client regarding NR 9569825.  She received an email that indicated the name was not examined.  I checked Namex & NRO and they are both different:

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/342989c7-

[2021-06-16 20:58] mstanton1 commented on #7953
Note from John Lane:

I have asked IT Ops to escalate this to the lab since it would be NameX failing to sync the decision back to NRO. I believe the decision was made on June 4th, but the record in NameX transaction history does not show a user name for the action.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/ba683144-c052-4911-898d-64a9e15ab9ec)

[2021-06-16 20:59] mstanton1 commented on #7953
@Sienna-Blumstengel can you review this ops ticket. My understanding of the issue is when names are examined in NameX that isn't sent back to NRO. Sounds like that was a design decision. If that is the case there is no issue here?

[2021-06-16 21:20] mstanton1 commented on #5789
@Sienna-Blumstengel the information outlined reports generated. The next step is to understand what is actually done with these reports. I will take that away and follow up as soon as there is an update.

Do you know whether a decision has been made on when to launch for SBC offices? That will assist me in understanding priority for this analysis.

[2021-06-16 21:45] Sienna-Blumstengel commented on #7953
I don't believe that is expected behavior, people are still unfortunately) using both applications interchangeably, and i think we are supporting that (mostly). Maybe @Kaineatthelab can help here?

[2021-06-16 21:53] Sienna-Blumstengel commented on #5789
Thanks for the update @mstanton1 ! here are the last meeting's notes:

- New decommissioning date will likely be end of July
- I think we should move the date out for our teams adopting this new feature, so we can allow the large group of BC OnLine clients to be onboarded first and not overload so much change at once.
- Trish is thinking BC Registries would need about 1 month after NRO decommissio

[2021-06-16 22:24] mstanton1 opened #7954 "Examiner IDIR incorrect for processed NR"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident: INC0096387
#### Contact information
Staff Name: Jenn Weldon
Staff Email: Jennifer.Weldon@gov.bc.ca

#### Description
Good morning everyone,

I was working on the hold queue this morning and came across a new issue with NR 8748631.

I pulled this to process it, but for some reason, the system is showing tha

[2021-06-16 22:25] mstanton1 commented on #7954
@Sienna-Blumstengel can you provide guidance on any initial triage that is done before this is escalated to the ops dev?

[2021-06-16 22:27] Kaineatthelab commented on #7953
Ah sorry you did this, it is a one off.
From @kialj876

I believe this was a one off. It happened because the NR was cancelled in NRO and the cancel was not synced into namex properly due to an issue we were having with the NRO extractor ignoring certain NRO changes. This was fixed in the last NRO extractor update at the end of last week.

The NRO updater was working for this; the issue was the or

[2021-06-16 22:32] Sienna-Blumstengel commented on #7954
I don't think there is much for us to do here. We have the expected behavior and the incorrect behavior. Maybe just have sumesh see if he can understand the auth issue (i assume that's what it is) and if not, pass it to entities? Thor or Kial, probably
@mstanton1

[2021-06-16 22:36] jyoti3286 opened #7955 "Legal Name display in BC Registry Account"
As a public user
I want to know the usage of my legal name in the application
so that I can be comfortable with how my legal name is being used

Acceptance Criteria:

Given that I have created an account with BC Registry
When I log in to the BC Registry application
Then I should have a choice to display either my legal name or Nickname

[2021-06-16 22:36] SateeshFW opened #7956 "Duplicate Account Creation Scenarios"
Need to discuss and finalize the best solution to handle the duplicate account creation.

Scenario 1:- Allow user to create the account but throw an error for the duplicate account.
Scenario 2:- Make the 'Create Account' button invisible.
Scenario 3:- Allow user to create duplicate accounts.

[2021-06-16 22:37] stevenc987 commented on #7898
@Sienna-Blumstengel @amit4610

 1. NR 1456974 (NR Duplicate report email, June 10. No Service Now ticket.): Refund Requested
2.  NR 6985706 (NR Duplicate report email, June 10. No Service Now ticket.): Refund Requested
3.  NR 4671637 (NR Duplicate report email, June 10. No Service Now ticket.): Refund Requested
4.  NR 0845448 (NR Duplicate report email, June 10. No Service Now ticket.): Refund Req

[2021-06-16 22:37] Sienna-Blumstengel commented on #7953
Maybe we should query for others @kialj876 ?

Also is there anything we can do to resolve these NRs that have experienced this issue?

[2021-06-16 22:39] SateeshFW commented on #7749
@saravanpa-aot Please check this Bug

[2021-06-16 22:47] jyoti3286 commented on #7955
Once we have all the info, we should circle back with Virginia Will - Cohen Buchan Edwards LLP, 604.273.6411 or 604.255.4013 when working remotely.  virginiawill@cbelaw.com

[2021-06-16 23:12] mstanton1 commented on #7954
Thanks @Sienna-Blumstengel!

@sumesh-aot can you please take a look over the issue above and see if you can troubleshoot the auth issue. If you need business context I will try to help (with the guidance of Sienna).

[2021-06-16 23:18] mstanton1 commented on #7608
Test Scenarios reviewed from 4117:

**Scenario 4 - Redirect to BC Registry to Request access(Admin)**
GIVEN the lawyer or notary have logged into Keycloak
AND they have an account with BC Registry
AND they are the prime contact(admin) on the account
WHEN they don't have the role to access the Wills Registry
THEN the user will be redirected to Request Access to Will registry
https://preview.uxpin.c

[2021-06-16 23:23] jdyck-fw commented on #7882
Noting here @lmcclung that this ticket likely solves a good part of https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6679

[2021-06-16 23:23] mstanton1 commented on #7608
Scenario 4: Used BCREG2031. Instead of being directed to the restricted access screen the admin was taken straight to products and services. Keagan can change this. Can I please get the URL for the restricted access screen shown here?

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/c8849125-3225-487f-adc1-94db55c95623)

Scenario 5: Used BCREG0029 (Deirdre account). Clie

[2021-06-17 00:33] sumesh-aot commented on #7954
@mstanton1 @Sienna-Blumstengel It doesn't look like an auth issue. Can see multiple people working on this NR at same time. Will need help from entities to figure out the root cause.
[code]

[2021-06-17 02:19] thorwolpert opened #7957 "Fields affecting downstream apps, may need to constrain the characters used."
Some downstream / partner integrations support limited character sets.

For example the BN service from the Federal Gov't will not accept the full UTF8 character set for names.

Some work needs to be done to determine what that character set is.

Character set CP863 is a _Canada_ char set, and while a subset of ISO-8859-15 it is still too broad.

The valid charset under legislation is English and

[2021-06-17 04:45] pwei1018 commented on #7895
@amit4610 Update this account with 'INACTIVE' status.

[2021-06-17 15:35] doug-lovett commented on #7140
Registering party auth lookup call /auth/api/v1/orgs/{org_id} where org_id is the account_id. Dependent on ticket 7773, a change to add address information to the response.

[2021-06-17 15:39] Sienna-Blumstengel opened #7958 "Unable to process consent on some NR's"
#### ServiceNow incident:
INC0096437
#### Contact information
Staff Name: Jennifer Weldon

#### Description

From Jenn:

From Tanya:

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [ ] ~Add 'Priority1' label to zenhub ticket~
- [x] Reply All to IT Ops email and provide zenhu

[2021-06-17 15:41] Sienna-Blumstengel commented on #7958
My questions to Jenn:

[2021-06-17 15:45] #7923 closed

[2021-06-17 16:03] mstanton1 commented on #7954
@thorwolpert can you take a look at this?

[2021-06-17 16:12] jdyck-fw commented on #7370
@lmcclung - If this ticket will stay with you until it is closed, mind pulling it into our sprint?

It looks like it might need Ops follow up, and if so please un-assign it and move it to the Sprint Backlog to ensure someone on the Ops rotation reviews it.

[2021-06-17 16:21] amit4610 commented on #7895
advised the business

[2021-06-17 16:21] #7895 closed

[2021-06-17 16:35] janisrogers opened #7959 "Login to PPR not working"
When I try to log in to PPR (in dev) I get Application not available. The URL has /userprofileterms at the end, so I suspect it is due to the new need to accept user profile terms
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/206cabf9-58a5-48fa-bc2c-fa1826f8c525)

There is a workaround, if I then go to the PPR URL again, it works the second time.

[2021-06-17 16:40] Kaineatthelab opened #7960 "UI - Name Check Prescreen"
- [x] name structure and similar names
- [x] remove "auto analyze coming soon" page

*July 26 issues*
- [x] co-ops special char bug
- [x] remove designation from restricted/conditional word check
- [x] remove conditional issue for coop/ccc/etc. (full list coming for each business type)
- [x] fix name-analysis call for limited partnership, association, etc. (will need above list)
- [x] conditional

[2021-06-17 16:41] jdyck-fw commented on #6912
Lets verify if this is in Test and Prod now.

[2021-06-17 16:42] SateeshFW commented on #7912
Openshift access for Rai - https://github.com/BCDevOps/devops-requests/issues/1184

[2021-06-17 16:42] mstanton1 opened #7961 "Implement Restricted Access Page"
* As a partner application user (e.g. Wills Search)
* I want to know how to request access to a service if I do not already have that service
* so that I can complete transactions

**Acceptance Criteria**

**Scenario 1: Account administrator or account coordinator access Vital Statistics and log on using a BCOL linked account that does not have the Vital Stats flag**
* GIVEN I am a account adminis

[2021-06-17 16:45] Kaineatthelab opened #7962 "Integrate NAICS API into name requests, incorporation etc..."

[2021-06-17 16:49] Kaineatthelab opened #7963 "UI Design - Naics API search Name Request"

[2021-06-17 16:52] rarmitag commented on #7927
The business number is not showing in the colin-updater error logs any more so it must have been sent to COLIN. Please check.

[2021-06-17 16:54] forgeuxGH5 commented on #7545
@tlebedovich - updated this ticket with the Sample Tables and Sorting and Filtering Rules

[2021-06-17 17:01] janisrogers commented on #7958
Change to a bug, since the NR's referenced have already been recreated by staff.

[2021-06-17 17:03] mstanton1 commented on #7608
Scenarios 4/6 are blocked by 7961.

Note: URL is not hardcoded on the Vital Stats side. Once the restricted access page is implemented on our side direction is handled through the back-end. We need to implement the restricted page (7961) and ensure the redirect URL sends a user to the restricted access page if the user is an admin/coordinator who has logged on to Vital Stats with an account that d

[2021-06-17 17:05] jdyck-fw commented on #7957
Wael Helal (IT Ops) spoke to this being an issue during the Stakeholder Demo this week.  Thor suggested that we may want to slip this in before we go live with having another set of corps on-boarded.

I'll bring this up at PO sync unless you see a better path forward for it @Kaineatthelab & @lmcclung

[2021-06-17 17:07] Kaineatthelab opened #7964 "Break down entity types into trackable pieces for DIO Status Report for Registry Payment Envelope (percentages)"

[2021-06-17 17:12] doug-lovett commented on #7959
Reproduce logging in by service card. It may be related to general account setup with PPR login: common header links do not resolve correctly.

[2021-06-17 17:25] thorwolpert commented on #7954
It's last state shows it was cancelled by idir\eespinos
the history doesn't look wrong, so I'm not sure what to do with this one.

[2021-06-17 17:29] lmcclung commented on #7731
@vysakh-menon-aot here's the spreadsheet.

If the Change to column is empty, that means keep the current description.

If the legislation says Pending, use that as a place holder and we can update it later.  We're not loading those entities any time soon.

[https://app.zenhub.com/files/157936592/e15cf58a-c1a7-48ac-84ec-000bc1520768/download](https://app.zenhub.com/files/157936592/e15cf58a-c1a7-48a

[2021-06-17 17:35] Sienna-Blumstengel commented on #7336
@thorwolpert  could you look for an NR paid with credit card – Visa ending in 7022? Payment made April 23rd.

[2021-06-17 17:36] mstanton1 commented on #7954
@Sienna-Blumstengel my understanding of this is that the issue is in the NameX screenshot under the approval status of conditional it notes Elizabeth Espinosa as the examiner and it should note Jenn's IDIR. Can you confirm?

[2021-06-17 17:41] forgeuxGH5 commented on #7545
@tlebedovich - added Status dropdown example - note this is worst case - the dropdown would only contain items that exist in the table column

[2021-06-17 17:54] mstanton1 commented on #7955
I have drafted a response. I have attempted to find information for use of name in entities but have sent to other team members to verify my understanding.

Good Morning,

I was sent feedback you had on the new BC Registries Accounts and would like to address that feedback.

1.	Concern about personal names being displayed.

Within an account team members names are displayed in a various locations.

[2021-06-17 18:02] riyazuddinsyed opened #7965 "Delete All button in Alterations does not delete the filing."
**Describe the bug in the current situation**
When a user starts an Alteration Filing and after making changes when the user hits on the "Delete All" button then instead of deleting Alteration filing the state is just pushed to the Draft which can only be deleted from that point.

**Impact of this bug**
All users wanting to delete the Alteration filing.

Steps to reproduce the behavior:
1. Go to '

[2021-06-17 18:14] thorwolpert commented on #7336
we hold no CC data in our systems and cannot search by last 4 digits of a CC.

The NR here was done on May 6th, and it looks like it was done through Societies which is not something we do anything with.

This should get referred back to the right group in the home team.

[2021-06-17 18:29] riyazuddinsyed opened #7966 "Expiry date does not show on the dashboard once affiliated."
**Describe the bug in the current situation**
When the user affiliates the NR and on the time of filing the IA upon clicking on View Details all the details shown except the Expiry date. But once the user starts filing the IA then on the filing type the expiry date does appear.

**Impact of this bug**
All users incorporating an NR

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.

[2021-06-17 18:43] janisrogers commented on #7336
I have updated the service now ticket and assigned it back to the home team

[2021-06-17 18:43] #7336 closed

[2021-06-17 18:54] riyazuddinsyed opened #7967 "Verify - Company Type does not match the affiliated NR"
**Describe the bug in the current situation**
When a user tries an affiliate  NR say an LTD Company or the ULC company the business type remains to be the same which is Benefit Company and thereby considering the LTD as a Benefit company.

**Impact of this bug**
All users affiliating the different types of NR.

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/auth/home

[2021-06-17 20:12] janisrogers opened #7968 "ATTN: Name Analyst / Revise NR 5764878"
#### ServiceNow incident: INC0096576
#### Contact information
Staff Name: Debbie Blyth

#### Description
From Debbie:
I am trying to reset NR 5764878 to add a comma to the name.  However, when I reset I get the following, indicating that Elizabeth is examining the NR.
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/e9b9ee29-c5d3-4e5c-9eb5-182961446349)

From Kaine:
I bel

[2021-06-17 20:31] amit4610 commented on #7898
Thanks Steven. I will ask the business for snapshot of their statement for NR 8839697, NR 4632997 and NR 5342867

[2021-06-17 20:31] amit4610 commented on #7898
Can you please look at # 24? @stevenc987

[2021-06-17 20:31] thorwolpert commented on #7968
I have changed the name to add in the comma (,)
```KDC/ONE DEVELOPMENT CORPORATION, INC.```

I did not change anything else on NR, so that we could look at it more to determine why it is locked up.

[2021-06-17 20:37] jdyck-fw commented on #7967
Verify that this works once the new code is implemented.

[2021-06-17 20:39] #7967 closed

[2021-06-17 20:44] Sienna-Blumstengel commented on #6764
@forgeuxGH5 @tlebedovich are we re-designing this? Should we ask relationships to fix this feature after we re-design?

[2021-06-17 20:45] Sienna-Blumstengel commented on #7824
@cameron-freshworks did you work on this already? For some reason I feel like this is done 🤔

[2021-06-17 20:45] jdyck-fw commented on #7965
Sev believes this is likely as per designed, could you please confirm? @forgeuxGH5 @tlebedovich

[2021-06-17 20:49] Sienna-Blumstengel commented on #2905
What team needs to do work to complete this ticket?

[2021-06-17 20:51] Sienna-Blumstengel commented on #7757
@saravanpa-aot is there any work for the entities /assets team as part of this ticket?

[2021-06-17 20:56] saravanpa-aot commented on #7959
Hey @doug-lovett I tried a few different users ,for all of them it worked fine.
Do you mind sharing the user id which you have faced the issue?

Mostly it will be a config issue.I will check once i get the user id.

[2021-06-17 20:59] severinbeauvais commented on #2905
It could be either or both Relationships and Entities teams. The following is needed:
- a design on how to retain account information when opening a new tab
- auth-web / sbc-common-components changes to implement the design
- possible changes to all web apps that open in the new tab (ie, if they need to fetch account info, or whatever); this includes Filings UI and Namerequest UI, and possibly PPR

[2021-06-17 21:03] saravanpa-aot commented on #7959
Hi @doug-lovett ,I had a look at the code and the session storage is missing a url.
In the AUTH_API_CONFIG , Can you add a key and value as "AUTH_URL":"https://dev.bcregistry.ca/business/auth/" and try.
That should fix the issue.

[2021-06-17 21:08] cameron-freshworks commented on #7824
@Sienna-Blumstengel Only the first step i believe. The other steps might need to be verified/worked on 👍

[2021-06-17 21:10] mstanton1 opened #7969 "Client Follow Up - Support with desktop authenticator"
From Engagement Session Chat

#### Contact information
Client Name: Cheryl van Goor, MJB Lawyers in Kamloops
Client Email: cheryl@mjblaw.com

#### Description
Client has noted that her office has spent hours trying to set up desktop authenticator. They have requested that somebody contact them to provide support.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Opera

[2021-06-17 21:11] Sienna-Blumstengel commented on #6846
@mstanton1 @amit4610 @rkim13103 @saravanpa-aot :
Have we considered Scenario 3 in this ticket, easily switching from one product to another?
Should we define that and use this ticket, or should we take that piece out and define it later?

[2021-06-17 21:16] SateeshFW opened #7970 "Onboarding for Divya Reddy"
**Onboarding checklist for Divya Reddy**

**IDIR**
- [ ] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [ ] Submit to IT Operations Support. This form should be emailed to the Registries Executive Assistant. Currently this role is held by Michael Leung.

-----------------

**Legacy Applica

[2021-06-17 21:18] Sienna-Blumstengel commented on #7916
[here](https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization-updates/using-the-business-registry) we tell clients to use the correct payee.

![Screen Shot 2021-06-17 at 2.17.02 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/ca2625f5-be27-45de-8e60-48c6d23ed1b7)

We don't know where they are getting the

[2021-06-17 21:22] Sienna-Blumstengel commented on #7916
Maybe we can consult Suzanne and Gen on how to present the correct information clearer on this page?

[2021-06-17 21:23] doug-lovett commented on #7959
Hi @saravanpa-aot, thanks very much, I verified your fix locally.

[2021-06-17 21:27] janisrogers commented on #7968
@thorwolpert I have verified this and updated IT Ops. Do we leave this ticket open to investigate why it is locked?

[2021-06-17 21:30] amit4610 commented on #7898
Asked the business for statement snapshots for the above 3 NRs.

[2021-06-17 21:31] mstanton1 opened #7971 "SBC Garms / BCOL Reconciliation Processes"
#### Description
SBC field offices will be using a Registries ministry accounts in order to submit Name Approval Requests for clients. This process will involve submission of the NR through the Ministry Account, and then entry of NR code (with NR number as the identifier) in Garms for collection of funds from the client. Research is needed to understand how reconciliation of funds will take place.

[2021-06-17 21:33] mstanton1 commented on #7971
Reports have been identified:

From Liam
From GARMS I only found one BCOL report that had either the service codes or the account coding.
GA3781 – BC Online Acct Reconciliation.  Both 0747 and 0783 service codes show up on this report.  Report recipients are sbc.finance@gov.bc.ca and bcolfinance@gov.bc.ca

Liam found the following on the BCOL side:

At each month end these reports are emailed to S

[2021-06-17 21:34] mstanton1 commented on #7971
On June 8th I sent an email to the recipients of these reports to identify we'd like to obtain further information for the reconciliation so we know what we might need to build in order to move this of of BC Online.

I have sent a follow up email again today, June 17th asking that I receive follow up. I have asked for names of individuals from each group who will provide reconciliation information

[2021-06-17 21:46] tlebedovich commented on #7965
This is for @forgeuxGH5 to double confirm but the design intent from my pov was:

1) If this is a brand new alteration (not resuming a draft alteration) the Delete and Delete all button (both currently do the same thing) on review and confirm screen would serve the warning modal as it does and it they proceed with the deletion, it should delete the alteration (not save a draft), and serve the user

[2021-06-17 21:47] lmcclung opened #7972 "BC0879257 - Duplicate corp_state and corp_name in CTST"
Email from David R.

In CTST David R sees that two BEINC (Incorporate a Benefit Company) filings were done resulting in two active states and two names for corp 0879257.  Is this a “one off” or should we be concerned about this?

EVENT_ID NR_NUM     ACCESS_CD ODS_TYP_CD FILIN FILING TYPE                              EVENT DATE        FILING EFFECTIVE
-------- ---------- --------- ---------- -----

[2021-06-17 21:53] stevenc987 commented on #7898
@amit4610
NR 8409211: There is no any payment transaction for this NR

[2021-06-17 22:01] Kaineatthelab commented on #7246
this looks like a bug that should be prioritized if tis broken? not sure why it has the blocked label on it? @jdyck-fw

[2021-06-17 22:04] severinbeauvais commented on #6801
@pwei1018 Will you also update [Namerequest UI](https://github.com/bcgov/namerequest)?

[2021-06-17 22:08] amit4610 commented on #7898
@Sienna-Blumstengel NR 8409211 doesn't have any SBC ticket and no payment record in our db.

[2021-06-17 22:16] tlebedovich commented on #6764
HI @Sienna-Blumstengel I think for this specific one, we should go with the gold banner/black text as mentioned above (like the one we did for Name Request recently). Next week I can look into this more (off tomorrow).

[2021-06-17 22:18] tlebedovich commented on #6764
ps I will let @forgeuxGH5 rewrite the copy message for this one. We tend to avoid using "!" unless something is on fire :)

[2021-06-17 22:28] jdyck-fw commented on #7246
I just pulled the 'blocked' label off of this one. I believe it may have been leftover from being blocked and tied to the answer required on "Home Jurisdiction needs to be written back to NamesP database".

@Sienna-Blumstengel any chance you might be able to confirm?

[2021-06-17 22:31] SateeshFW commented on #7970
@pwei1018 Please provide Github/Zenhub access for Divya.  Her Github id is **chdivyareddy**

[2021-06-17 22:40] mstanton1 commented on #7969
Located Account:

Mair Jensen Blair (Corporate Dept.), Account No 2207

Three members have successfully joined the account. An invitation has been sent to a 4th member. All are using BCeID & 2 FA. I have sent an email to Cheryl to get further details on what is going awry.

[2021-06-17 22:44] mstanton1 commented on #7931
@thor can you please deactivate the BASIC account SHIFT Collaborative (account 152). Thanks!

[2021-06-17 22:53] mstanton1 commented on #7538
@SateeshFW do you recall what was required from Amit or myself? Was this task to just verify whether or not we can see Products and Services on a director search account?

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/da1cc256-2c9d-48d2-86f8-037073d6d7f6)

[2021-06-17 22:55] mstanton1 opened #7973 "Prepare slide deck / presentation for account set up info session"
Presentation is scheduled June 24th at 10 AM

#### Description
- [x] create slide deck
- [x] prepare speaking notes
- [x] deliver info session

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] Assign zenhub ticket to milestone:

[2021-06-17 22:59] severinbeauvais commented on #6801
@jdyck-fw Can we add this ticket to all our next releases (Edit UI, Filings UI, Create UI and NR UI)?

[2021-06-17 23:04] Sienna-Blumstengel opened #7974 "Create web service for Name Request types"
### Background
This work will eliminate need to store name request types/entity (legal) types in multiple places.

### Tasks

- [x] Take the list and change it to a dictionary
  - Store in code (no need for new db table)
- [x] Add an endpoint to Lear API (this eliminates need for own CI/CD pipeline)
  - Support optional query parameters
- [x] Create unit tests
- [ ] ~Create Postman tests~ _since d

[2021-06-17 23:21] SateeshFW commented on #7538
@mstanton1 I am not able to recollect it.
Maybe you can check the expected behavior and confirm if that is correct or not.

[2021-06-17 23:32] Sienna-Blumstengel commented on #7091
Julie checked in on this again today @thorwolpert @rarmitag . @lmcclung where is this in the list of priorities?

[2021-06-17 23:37] amit4610 commented on #7538
Products and services page should not be visible for a DS account, otherwise they will get confused.

[2021-06-17 23:40] lmcclung opened #7975 "Use cloud events for Name Request auto-affiliation and state changes"
Currently, when a user pays for a name request, we send an event to the Names pay Q list saying the NR has been paid for.

Would like to leverage the cloud event system to also include affiliating NRs and keeping track of NR state changes.  This way any changes to the NR get published to whichever app is subscribing to the service.

This will be particularly helpful as we had more featured to the

[2021-06-17 23:45] thorwolpert commented on #7931
Done
[code]

[2021-06-18 00:08] cameron-freshworks commented on #6274
@Sienna-Blumstengel @Kaineatthelab @lmcclung
Is this ready to pulled into 'In Progress' as is?
It shows as still in analysis, so just want to make sure the requirements are set before pulling this in, thanks!

[2021-06-18 01:03] tlebedovich commented on #7745
@forgeuxGH5 @lmcclung - Here is my first pass for the Manage Business Dashboard for grooming

[2021-06-18 05:39] pwei1018 commented on #6801
To avoid duplicate keys configuration, I modified the following items of sbc-common-components:

1. change the key new to match new configuration of 1password.
2. change to read the session keys directly instead of read from auth-api-config session key.

https://github.com/bcgov/sbc-common-components/pull/228

[2021-06-18 13:11] rarmitag commented on #7091
As far as I know, Kial wrote some code that allowed a second Annual Report to be filed.

[2021-06-18 13:13] rarmitag commented on #7246
Andre was writing code to fix this.

[2021-06-18 14:44] saravanpa-aot commented on #7936
@mengdong19 can you please verify the api part of this? UI has not yet been deployed.
Create an account as a bcros user and make sure we get an error on creation

[2021-06-18 15:02] Kaineatthelab commented on #6274
@lmcclung I think the only change is that only remove the field for **registering** an EXPRO and DBA

[2021-06-18 15:05] mstanton1 commented on #7931
I have reached out to the client to advise that the basic account has been deactivated.

[2021-06-18 15:11] mstanton1 commented on #7538
@SateeshFW if there's time in scrum lets confirm this is all that was needed. This should be added to grooming for the next session.

[2021-06-18 15:17] saravanpa-aot opened #7976 "move statement emails [pay related emails] to account mailer"
## What is the problem?
* Pay still have some email which are not in account mailer

## What is the impact?
* When common configurations are updated , high chance of missing out it in pay.

## Proposed solution
* Move to account mailer
* replace logo url to minio
* revisit the  url variables [avoid duplicates]
* subject line doesnt have [bcregistry] ..apply header /footer etc

[2021-06-18 15:18] saravanpa-aot commented on #7749
The particular issue is with a missing configuration which is fixed.
It can be retested .
Another follow up ticket has been created to account for the pending changes in statement related mails https://github.com/bcgov/entity/issues/7976

[2021-06-18 15:30] #6829 closed

[2021-06-18 15:32] Sienna-Blumstengel opened #7977 "Verify - AUTH WEB - Display the NR Status in Auth on the Business Dashboard"
**Entities team is going to complete the work for this, and relationships will review & approve the PR**

Display the affiliated NR and **status** in AUTH WEB.

This ticket is just to display the status, and the action buttons for each status.

Ties into the existing tickets for the new manage business dashboard (#7978, and #7740) Those tickets handle the other NR data.

* Every status has an acti

[2021-06-18 15:33] Sienna-Blumstengel opened #7978 "Verify - SBC AUTH - Create SBC auth listener to process NR state changes"
**Entities team is going to complete the work for this, and relationships will review & approve the PR**

This can be done at the same time as #7977

Before picking up this ticket, review integration point 3 in the RFC.

Sbc-Auth repo already has a bunch of listeners implemented so should be lots of reference code to leverage.

This requires a logged in state in Name Request. The NR affiliates to

[2021-06-18 15:33] Sienna-Blumstengel opened #7979 "NameX API - When an NR's state changes in NameX, publish an event"
This ticket is estimated under the assumption that we can probably skip updating Names Pay.

Before picking up this ticket, review integration point 1a in the RFC.

The code base doesn't currently have any queue publishing code. Check the LEGAL API to leverage some queue leveraging code.

**TO DO:**
- [x] Publish an NR state change to the NR events subject whenever NR state change occurs in the co

[2021-06-18 15:34] Sienna-Blumstengel opened #7980 "Change how SOLR is updated for NameX names changes"
Before picking up this ticket, review [integration point 2 in the RFC.](https://github.com/bcgov/entity/blob/master/rfcs/rfc-cloud-events-for-name-request.md)

Currently, when NameX updates the NamesDB, this results in an Oracle trigger populating a record in the NamesDB transaction table. From there a series of processes are executed eventually leading to the update of the SOLR indexes.

This way

[2021-06-18 15:38] lmcclung opened #7981 "Update NameX endpoint to only affiliate BC NR type"
## Who will do this work
Relationships

## Background

**This is a temporary quick solution. Clients are using Limited Company (CR) NRs to accidentally incorporate benefit companies. This is causing staff alot of grief, needing to administratively dissolve, and grief for us to process refunds through PayBC. We need to stop this soon!**

We hard coded the ability for Benefit Company (BC) and Limite

[2021-06-18 15:55] severinbeauvais commented on #6801
### Test Notes

This ticket updates the sbc-common-components dependency from v2.4.18 to v2.4.19, thus these changes need to be verified as well. These changes are ^^^ (whatever Patrick wrote above) ^^^.

[2021-06-18 15:56] Kaineatthelab opened #7982 "UI Design - NON MRAS Calls"
Expro Canada and International NON MRAS seem to have different requirements and shouldn't make the call. We may need to collect the name and number which can't be verified anywhere but is needed for registering/incorporating.

Need some requriements...

[2021-06-18 16:00] Sienna-Blumstengel commented on #7981
@jyoti3286 @SateeshFW @mstanton1 @amit4610
FYI :)
We spoke with Sumesh yesterday afternoon, he said this would be a super fast one line code change.
Would you mind adding it to your current spirit?

[2021-06-18 16:09] pwei1018 commented on #7970
all (zenhub, rocketchat, openshift) done. Please ask her confirm all invitations.

[2021-06-18 16:18] Sienna-Blumstengel commented on #7957
Linda messaged Michael Kagis for more info

[2021-06-18 16:19] whelalbc commented on #7957
'#' is not accepted by CRA in address fields while '-' is.

[2021-06-18 16:25] jdyck-fw commented on #7957
Added you as the assignee since it sounds like you will have more to add to it, Linda.

[2021-06-18 16:36] mstanton1 commented on #7538
As per stand up the analysis task is for BA's to identify all pieces of functionality within the director search flow that need to be removed / changed.

[2021-06-18 16:41] jdyck-fw commented on #6852
There are some tickets we are going to look at in grooming today that will unblock this. 7975

[2021-06-18 16:47] jdyck-fw commented on #7927
@lmcclung to recheck SOFI and let Richard know if it's there or not.

[2021-06-18 16:59] mstanton1 commented on #7538
As per the ask today here's a summary of changes that are needed. @saravanpa-aot @jyoti3286

1. In create account screen (auth/staff-setup-account) for Director Search listing of products should be removed. _Rationale: Products and Services must be accessed by a user who has verified their identity, with the sole exception being Name Request which can be done without an account. Director Search ac

[2021-06-18 17:01] sumesh-aot commented on #5937
@jyoti3286 @mstanton1 Description says staff with account_creator group can also deactivate. Are we allowing staff deactivate? If so, I think it should be admin group as they deal with accounts. account_creator is used for creating director search accounts.

[2021-06-18 17:16] lmcclung opened #7983 "Create webservice for entity corp types"
Background
Once Corp type table is finished being built (7731), need to create a webservice for this so that we don't have to store the table in multiple tables.

Tasks

- [ ] Take the list and change it to a dictionary
- [ ] add an endpoint to lear (this eliminates need for own CI/CD pipeline)

[2021-06-18 17:16] Sienna-Blumstengel commented on #7974
@thorwolpert please add your details to this ticket

[2021-06-18 17:17] amit4610 commented on #7011
Final video: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3987

[2021-06-18 17:18] Kaineatthelab commented on #7087
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/a5e9fb64-2c12-46d6-a1d6-65a9ab26fb02)

[2021-06-18 17:24] Sienna-Blumstengel commented on #7087
For @riyazuddinsyed : there is an existing postman GET call. field is called "expiration date"

[2021-06-18 17:25] Sienna-Blumstengel commented on #7983
Let's not pick this up right now, Thor is working on some stuff that will block this.

[2021-06-18 17:26] amit4610 commented on #7011
![image](https://user-images.githubusercontent.com/59706888/122596999-935f6c00-d01f-11eb-9d4c-3ed8b6d3937d.png)

[2021-06-18 17:28] mstanton1 commented on #5937
@sumesh-aot I think this should be allowed for staff but only those with the keycloak group account_creator (which is given to the BC Online Admin team). This is a team of four people who have traditionally handled finance related items.

The current PAD agreement states a client must notify us they wish to withdraw and can do so through web form or in writing. If something came in writing we need

[2021-06-18 17:30] Kaineatthelab commented on #7951
@forgeuxGH5 does it need a message that your name will be submitted as is, if you want to change anything you will need to submit a new name request?

[2021-06-18 17:31] Sienna-Blumstengel opened #7984 "RFC to define design ⚠️ do this first"
Things to consider:

- confirm what payload looks like
- layout where we incorporate cloud events
- look at how we publish to the Q

When picking this up:
- [ ] make a very rough draft
- [ ] get feedback from different people

[2021-06-18 17:34] forgeuxGH5 commented on #7951
Like the message at the bottom of the screen? or something different? or are you wondering if we can remove this message?

[2021-06-18 17:40] Sienna-Blumstengel commented on #7087
Kial's comment above (with screenshots) shows that the expiry date is correct in the outputs, but not in the applications.

[2021-06-18 17:44] #7931 closed

[2021-06-18 17:59] amit4610 commented on #7813
@stevenc987

[2021-06-18 18:12] Sienna-Blumstengel opened #7985 "UI - Add sorting to table"
See Scott's requirements for default sorting settings (newest first)

Default sorting on the Last Modified column, but sort on other columns. Display the sort icon on hover.

Based on 8492 - this will need to be done serverside.

* To include residual UX improvements for Modals included here: See modals, Selector Font size and decrease row height(10px)
https://docs.google.com/document/d/1CHcdQej6J

[2021-06-18 18:17] Sienna-Blumstengel opened #7986 "UI - Add filters to table"

[2021-06-18 18:19] Sienna-Blumstengel commented on #7740
@Sienna-Blumstengel add the requirements doc for all data in this table to this ticket

[2021-06-18 18:25] karthik-aot commented on #7928
@rkim13103 @jyoti3286  @saravanpa-aot
When we cancel account setup, where should the ideal redirect should be?
![image.png](https://images.zenhubusercontent.com/6019adf278444774e61ecf92/200a0cc7-e004-485c-a402-3a546f2d7b91)

[2021-06-18 18:41] jyoti3286 commented on #7981
@sumesh-aot - Let's include this in the current sprint. I have added the milestone.

@Sienna-Blumstengel @lmcclung - FYI

[2021-06-18 18:42] amit4610 commented on #7011
Sent the video to Gen, Trish, James and team leads.

[2021-06-18 18:42] #7011 closed

[2021-06-18 18:43] amit4610 commented on #6995
Added the last video from 7011 to catalogue. Sent to James, Gen, Trish, Jyoti and all team leads.

[2021-06-18 19:05] Sienna-Blumstengel commented on #7898
Forgot to remove 8409211, we realized it was a society NR so we (the lab) cannot refund it. Working with Debbie to figure out how to refund those

[2021-06-18 19:08] jyoti3286 commented on #5937
@mstanton1 @sumesh-aot  - As per the PAD agreement screenshot, I think we have to provide the ability for staff to deactivate. At this point, it does make sense to give the account creator group the ability to deactivate from a System standpoint. To summarize, this is how I am thinking:

#### Business Process
- Client reaches out to our Admin staff for deactivating.
- BCOL Admin ask a written emai

[2021-06-18 19:48] jyoti3286 opened #7987 "API Gateway Access Request"
As an API User for BC Registry,
I want to clearly know the steps for requesting an API Access
So that I can initiate my request on behalf of my organization or self

Acceptance Criteria:

**Scenario 1: Existing BC Online User**
GIVEN that I am an existing BCOnline user
WHEN I am on the Get Started page of the API Gateway Website
https://developer.bcregistry.daxiom.ca/get-started
THEN I want to kno

[2021-06-18 19:58] jyoti3286 commented on #7928
Where does it currently go @karthik-aot ?

[2021-06-18 20:00] karthik-aot commented on #7928
![image](https://user-images.githubusercontent.com/78374865/122610833-20f98680-d035-11eb-8d90-8c8b3dc3eae9.png)
Home page. But there are several scenarios. Like if there are two accounts tied, then what should be the behavior

[2021-06-18 20:10] thorwolpert commented on #7957
@whelalbc I think there are lots of chars to watch, I'm not even sure the French additions will work everywhere.
Names used to be constricted to only ascii.

But I know FN chars are on the horizon and current citizens have things like _!_ (not pronounced like *nix folks would say **bang**, but as one of several different tongue clicks) so we should do our best to support as much as we can.

I'm su

[2021-06-18 20:14] mstanton1 opened #7988 "Release Notes for June 22 Release"
Prepare Release Notes for account creation changes.
Release is Relationships: Account Management Changes

#### Description
Release will include
7540
7782
7596
7582
7563
7533
7434
7417
7381 - Available to end users (turn off feature flag)
6921
6848
6715
6504

7936 - button to create account has been suppressed for director search. This should not be included in release notes but an email should be

[2021-06-18 20:31] mstanton1 commented on #5937
@jyoti3286 I am on board with the proposal from above. As far as the form I can check if we have a ticket and if not I will create one, that BA's can work on when time allows. There is a very similar form that was used by the BCOL Admin team to close Electronic cheque and Auto EFT that we'd reviewed earlier and could use as the basis for this work so I don't anticipate creation of that form being

[2021-06-18 20:38] jyoti3286 commented on #5937
@mstanton1 Sounds good.

@sumesh-aot I will add the Accpetance Criteria

[2021-06-18 20:39] mstanton1 commented on #7969
I spent 30 minutes on the phone with the account administrator Samantha Jarvis. She wanted to switch from mobile to desktop. I did the following:

- attempted to use screensharing (no audio from Samantha)
- walked her through use of Authy (became frustrated and chose to switch)
- walked her through use of Authenticator for Chrome - triggered errors
- removed account from authenticator, reset again

[2021-06-18 20:43] stevenc987 commented on #7813
@amit4610
I think they use order # normally. Can you ask Sumesh if he know more about this? Thanks

[2021-06-18 20:44] mstanton1 opened #7989 "PAD Cancellation Form"
#### Description
Create a client facing form that can be submitted when a client wishes to cancel their PAD agreement. This form is not required when a client self serves and deactivates an account that is paying with PAD as we receive a request to cancel through the UI. This form is only required if the client wishes to submit the request for PAD cancellation or deactivation of an account that is

[2021-06-18 20:49] SateeshFW commented on #7538
Lets groom this in the next grooming session

[2021-06-18 21:11] amit4610 commented on #7813
Hi @sumesh-aot need your assistance.
So, we refunded $31.50 by accident and want CAS to cancel this. But CAS cannot find any payment for NR 4708469 and we have only Receipt #REG00053263 that CAS is looking at. Can we please dig the order number for this NR?

[2021-06-18 21:16] sumesh-aot commented on #7813
@amit4610 It's a drawdown payment, are you sure it sent out email to CAS ?

[code]

[2021-06-18 21:52] Sienna-Blumstengel commented on #7954
Perhaps this one requires a conversation with Jenn and Elizabeth to better understand the scenario. I will reply and schedule something.

[2021-06-18 21:54] SateeshFW commented on #7970
@pwei1018 Thx for your help.  Divya can access Zenhub, rocketchat.  Please share the openshift URL.

[2021-06-18 21:58] SateeshFW commented on #7970
Openshift URL - https://console.apps.silver.devops.gov.bc.ca

[2021-06-18 22:08] Sienna-Blumstengel commented on #6995
@amit4610 is it waiting for GCPE to approve? Just wondering when I can add it to my client-facing info package

[2021-06-18 22:08] SateeshFW commented on #7970
The Rocket chat access is provided to Divya along with the Private channel 'registries-assets'

[2021-06-18 22:10] lmcclung commented on #7953
Updates:
June 16 - Debbie B advised she had another 2 NRs where the status is showing as APPROVED in Namex and in Names it’s showing as “Processed” and “Not Examined”.  The replacements she did:

•	NR 6122909 and free replacement 6568026
•	NR 8037548 and free replacement 1903316

Info from @JohnamLane
I’d like to second Debbie’s concern here. When Kial mentioned the symptoms of this last NR with t

[2021-06-18 22:10] amit4610 commented on #6995
Ya, Jyoti suggested we wait for Trish to confirm whether we want GCPE approval or not.

[2021-06-18 22:11] amit4610 commented on #7813
Ok, that makes sense. I will ask the home team to not to refund this. Only 3 items remain then.

Asked paybc of the above 3. Only 3 are remaining:

NR 4349990 (Duplicate NR email, June 7th. No service now ticket.): No payment on postgres DB for this NR @Sienna-Blumstengel
NR 7730300 (Duplicate NR email, June 7th. No service now ticket.): No payment on postgres DB for this NR @Sienna-Blumstengel
NR

[2021-06-18 22:24] lmcclung commented on #7953
@thor Debbie is also asking if we can create a report of all the ones affected and determine how the NR's were paid so that we can do refunds on the ones she needs to do replacement NRs for.

This is a very incomplete list (we need the report).
NR 7212241 - paid and refunded in NRO
NR 6462679 - paid and refunded in NRO
NR 8889414 - paid in NRO - not yet refunded.  Debbie needs to do IT Ops ticket.

[2021-06-18 23:20] PatrickAHeath opened #7990 "INC0096557 - Remove Link to BCOL Account 392208 for Registries Account ROBSON O CONNOR LLP"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:  INC0096557
#### Contact information:
Staff Name:  Tammy Kivell
Staff Email:  Tammy.Kivell@gov.bc.ca

#### Description
BCOL user PD93352 is attempting to create a BC Registries Account and link to their BCOL Account but the system indicates the BCOL Account is already taken (linked to another account)

Scr

[2021-06-18 23:35] gh20s commented on #7990
![image.png](https://images.zenhubusercontent.com/5cc8b6861e1b505674aa020f/ea03be50-e7ee-4adb-ad6f-f29bc045996c)

should this be set to inactive like 7931? I haven't done something like this before

[2021-06-18 23:45] thorwolpert commented on #7953
Looking at just one of these:
NR 6462679

[code]
it was approved, but then the ```update_from_nro``` changed the state from **APPROVED** to **COMPLETED** and it seems to have marked the name as **NE**

[2021-06-19 00:32] thorwolpert commented on #7953
for NR 2051220
nro_updater overwrote the approval of the name ```LITTLEDEER DESIGN INC.``` but the Request was still marked approved AFTER that, and then sent to NRO as an APPROVED request, with all names NE.

NRO_UPDATER is changing Requests when it shouldn't be touching them and fubar'ing it all

[code]

[2021-06-20 21:26] jyoti3286 opened #7991 "Role Description: Change of Description for Cordinator"
* As an account administrator or account coordinator
* I want to understand the responsibilities associated with a role when I am inviting team members
* so that I can choose the right role for the person being invited

**Acceptance Criteria**

**Scenario 1: Change of Description for Account Coordinator**
* GIVEN that I am logged in with admin user and inviting the user to my account
* WHEN I want

[2021-06-21 06:12] jyoti3286 commented on #5937
@sumesh-aot - Acceptance Criteria is updated for Account name validation

[2021-06-21 15:55] amit4610 opened #7992 "NR refunds june 18-23"
1. - [ ] NR 1941694, INC0096869

2. - [ ] NR4855393, INC0097018

3. - [ ] NR1900933, INC0097050

4. - [ ] NR 1541798, "NRs for review" duplicate email sent June 18th

5. - [ ] NR 9987143, INC0097305, refund fee of 101.50 only.
6. - [ ] NR9233983, INC0097374, refund priority fee only
7. - [ ] NR 7381536, INC0097380
8. - [ ] NR 3381831, No incident - Duplicate report email from June 18 - June 22. Re

[2021-06-21 16:12] Sienna-Blumstengel commented on #7954
@thorwolpert is this ticket related to the issue in 7953?

[2021-06-21 16:13] Sienna-Blumstengel commented on #6995
Ok sounds good, thanks! Ping me when it is ready :)

[2021-06-21 16:20] sumesh-aot commented on #7981
@Sienna-Blumstengel @lmcclung Change is in TEST, is it possible to get couple of NRs with request types BC and CR ?

[2021-06-21 16:24] Sienna-Blumstengel commented on #7981
Wow that was fast! Yep I will get those for you right now @sumesh-aot !

[2021-06-21 16:42] forgeuxGH5 opened #7993 "UI Design - Spec actions for items in the My Business Registry list"
The existing behaviour of items on the Manage Business dashboard is unexpected and can cause unrecoverable user errors.

- Spec actions for each state of items for all all entity and name request types (Name Request, IA, Corps, Firms) in the My Business Registry list.
- Include dialogs as necessary (e.g. removing items)
- Update/change wording of existing dialogs as necessary.

For example you can

[2021-06-21 16:53] Sienna-Blumstengel commented on #7813
@amit4610  these 3 are also society NRs and we cannot refund them. Debbie is going to process the refunds for them with the help of IT Ops. We can close this!

[2021-06-21 16:53] jdyck-fw commented on #7974
The types used by NR don't match the codes in LEAR, which could be a consideration in completing this ticket.

[2021-06-21 16:57] amit4610 commented on #7813
Thanks Sienna, the only remaining issue is NR 4708469.

[2021-06-21 17:25] amit4610 opened #7994 "Buttons do not work to examine NR"
Good morning,

I am unable to examine NR2672780.  It can be pulled up and the examine button functions but the other buttons to approve/reject etc. do not work.

I am making a replacement NR for the client.

Elizabeth Espinosa
INC0096982 created for this

[2021-06-21 17:35] janisrogers commented on #7943
This needs an estimate

[2021-06-21 17:37] janisrogers commented on #7944
This needs an estimate

[2021-06-21 17:52] sumesh-aot commented on #7981
Need some config update in TEST and platform issues are preventing it. Will test it once the platform issue is resolved.

[2021-06-21 18:32] lmcclung commented on #6852
fo from Sumesh
Currently when someone affiliates an NR to the account below is what happens on auth side;

1) API calls to Namex to check if the NR number and contact matches. Also checks if the requestType from NR is either CR or BC.
2) Adds an entity to entities table with type ‘NR’
3) Affiliate the ‘NR’ entity to the account
4) Calls legal-api to create a draft IA and passes the legalType as BE

[2021-06-21 18:32] thorwolpert commented on #7974
I don't understand your comment @jdyck-fw, these are the NR type codes we use in auth and lear currently.

[2021-06-21 18:37] tlebedovich commented on #7358
hi @jordiwes Thanks for this. All but 3 items are completed but I can move this ticket along and had those open items to one of the other steps. One of the open items is having someone help with the stepper build so there isn't that bump up shift happening (selected step shifts up higher than the others)

https://docs.google.com/document/d/1jbsoru_88q_3F-X6snAsm33MEgx5ijaiRxVYFaSfBwg/edit?usp=shar

[2021-06-21 18:46] kialj876 commented on #7953
The comment Kaine posted from me above was from a similar, but different issue than this one. This issue is being tracked by https://github.com/bcgov/entity/issues/7521 as well. The issue is if the NR is updated after an NR is completed and before it is furnished in namex (this means that it is still draft in NRO with no name decisions), then the NRO extractor updates the NR and wipes the name inf

[2021-06-21 18:54] lmcclung opened #7995 "Dashboard handling for NRs that can't be used in Business Registry"
This ticket is to define what happens to NRs that can't be used in Business Registry.
E.g. if a sole prop NR is affiliated to someones account, we can't use that in the Business Registry.

If it is an unsupported entity type NR, then when the user clicks "Use this name request", we will link the user to the relevant site or form, where they can do what they need to do with that NR.

This ticket as

[2021-06-21 18:58] lmcclung opened #7996 "Remove hard-coding so that it queries webservice"
Need to clean up our hardcoding for affiliating and starting a draft IA.

A short term fix was implemented to remove CR as an option to affiliate and create a draft BEN IA (only type "BC" is allowed atm).

1. this ticket is to remove the [temporary code](https://github.com/bcgov/sbc-auth/pull/1688) and point to the webservice to affiliate any NR in any state
2. then we need logic so that once an N

[2021-06-21 19:02] severinbeauvais commented on #7996
Temporary hard-coding to limit NR type was done in https://github.com/bcgov/sbc-auth/pull/1688.

[2021-06-21 19:22] jordiwes commented on #7137
@PatrickAHeath - could you please add the required debtor fields here when ready :)

[2021-06-21 19:23] jordiwes commented on #7138
@PatrickAHeath - could you please add the required secured party fields here when ready :)

[2021-06-21 20:10] jyoti3286 commented on #7638
@mengdong19 - Can we add the below task to the checklist:
- Review of the "No Fee" transactions. Do a quick spot check.

[2021-06-21 20:12] tlebedovich commented on #7622
hi @doug-lovett - can you confirm the final url I should be looking at for UX Assurance please?

Is it https://www.bcregistry.daxiom.ca/

[2021-06-21 20:17] amit4610 opened #7997 "NR expired"
Good afternoon,

NR3293525 expired June 9th, 2021 but the status says APPROVED in Namex.  I understood that once NRs expired the status would read EXPIRED in Namex.

Thanks.

Elizabeth Espinosa

INC0097048

[2021-06-21 20:50] SateeshFW commented on #7970
IDIR Request Incident no - INC0097060

[2021-06-21 20:52] doug-lovett commented on #7622
Yes, @tlebedovich, it is https://www.bcregistry.daxiom.ca/

[2021-06-21 21:08] lmcclung commented on #7997
@amit4610

Could you let Elizabeth / IT Ops know that NameX hasn't shown the "EXPIRED" status since just about the beginning of its existance.  We do have ticket #5669 to add the "EXPIRED" status which will be adressed after the more pressing Name issues/enhancements.

Can mark this ticket as resolved.

You can then close this zenhub ticket.

[2021-06-21 21:18] amit4610 commented on #7997
Thanks Linda. I will communicate to the business and close this ticket.

[2021-06-21 21:21] #7997 closed

[2021-06-21 21:45] andrepestana-aot commented on #7398
@Sienna-Blumstengel @lmcclung As we only send the Folio Number to PAYBC, we cannot retrieve it back to edit page. Is that an issue not having folio number in edit mode?

[2021-06-21 21:47] janisrogers commented on #7437
@forgeuxGH5. Can you review this?

[2021-06-21 21:49] amit4610 commented on #7997
Thanks Amit,

Thanks.  I’m ok with this info.  When I mentioned this issue to Jenn W. she asked me to submit because she said she sees NRs with the expired status.  I will pass this along to her and see if she wants to take it further.  For me, I will mark this as resolved.

Thanks again.

Elizabeth Espinosa

[2021-06-21 21:50] amit4610 opened #7998 "NRA is set to processing payment"
The client who submitted NR3559914 contacted our team about the status of their NR as the NR’s status in NRA is set to processing payment (as opposed to payment pending).

Any chance this NR could be forced through if that is the solution to the problem?

Regards,

Kristopher Yee

#### ServiceNow incident: INC0097101
#### Contact information
Staff Name:
Staff Email:

#### Description
Summarize iss

[2021-06-21 22:14] kialj876 commented on #7998
due to openshift authorization maintenance no one can access the prod db or the pay queue for namex so I cannot change the state of this NR or update the payment.

This one will be stuck until tomorrow unfortunately

[2021-06-21 22:15] amit4610 commented on #7813
Hi both, Can't we charge the draw down account from our side for NR 4708469 as a way to reverse the refund? @sumesh-aot @stevenc987
What's the BC Registries account linked to the BC Online account 592405?

[2021-06-21 22:18] #7810 closed

[2021-06-21 22:18] #7840 closed

[2021-06-21 22:19] #7708 closed

[2021-06-21 22:19] #7309 closed

[2021-06-21 22:19] Sienna-Blumstengel commented on #7398
Hmm good question @andrepestana-aot , @lmcclung do you know more about how premium users use folio? Do they ever want to correct it? Perhaps we could not allow them to edit it for now(as it is associated to a payment that was made).

Maybe we should also ask other devs about if we can correct/edit folio in other filings? Maybe @severinbeauvais would know?

[2021-06-21 22:20] #7842 closed

[2021-06-21 22:23] Sienna-Blumstengel commented on #7890
Drafted, posted in #registries-ocm for review by Linda and Trish

[2021-06-21 22:27] severinbeauvais commented on #7398
The only other filings we correct online is IAs, and that's done by staff atm. (The other corrections are also done by staff only but require Ops to actually make the change.)

In an IA correction, staff can enter a Folio Number, but that's not the same as correcting the FN used during the IA... I _think_...

[2021-06-21 22:28] PatrickAHeath commented on #7137
@jordiwes For an Individual, Last Name and First Name are required, Middle Name and Birthdate are optional.

For a Business, Business Name is required.

Email address is optional.

For the address module, how it performs would depend on what standard module is decided on.
If the Canada Post lookup is used, any retrieved value should be acceptable.
If the client enters an address manually, Country,

[2021-06-21 22:28] severinbeauvais commented on #7398
A more general question is, does it make sense to correct the Folio Number entered when creating a NR? The answer depends on where the FN is displayed (eg, receipt?) and what it's used for.

[2021-06-21 22:45] PatrickAHeath commented on #7138
@jordiwes
If the Secured Party is retrieved by Number or Name, the existing information for the Secured Party should be accepted.

For an Individual, Last Name and First Name are required, Middle Name is optional.

For a Business, Business Name is required.

Email address is optional.

For the address module, how it performs would depend on what standard module is decided on.
If the Canada Post lo

[2021-06-21 22:50] Sienna-Blumstengel commented on #7398
Thanks Severin! Maybe I will send a quick email out to staff to see if you can edit the folio, and if they every get requests to do so.

[2021-06-21 22:54] andrepestana-aot commented on #7398
@Sienna-Blumstengel Another thing I noticed is that when it is a Staff NR we should not enable the Folio Number in the Client form because there's a Folio Number when Staff is paying, right?

![image.png](https://images.zenhubusercontent.com/601c6b4f5322cf5c519d503f/b23664eb-c835-4025-b139-96683adf7909)

![image.png](https://images.zenhubusercontent.com/601c6b4f5322cf5c519d503f/9274cd41-0e4b-49e1-

[2021-06-21 23:19] forgeuxGH5 commented on #7137
For birthdate if the user enters a value for one field the other fields are required and must be valid.
Day must be a number between 1 and 31. Invalid message "Enter a valid day"
Year must begin with 1 or 2, must be four digits. Invalid message ""
Future versions can implement more specific date logic (e.g., if Feb, day must between 1 and 29, year must begin with 18, 19, or 20)
If month is not sel

[2021-06-21 23:36] amit4610 opened #7999 "Unable to load NameX"
Title of ticket: [Entity number and name] or "Account Management"

I was attempting to work some overtime this weekend and I was successful Saturday earlier in the day, but then when I tried again in the evening around 7pm I was not able to load NAMEX.
Tried restarting computer, clearing internet history/cache/ CTRL+F5 etc. to no avail. Tried again Sunday after 1pm and today shortly before writing

[2021-06-21 23:40] tlebedovich commented on #7622
hi @doug-lovett - Here is my first pass at UX Assurance. Lots to do with styling and responsive behaviour. Let's go over this tomorrow on a call and discuss what's doable and what my not be.

https://docs.google.com/document/d/18vrONYFDSNxah3Tqo5UX5ZVmYKWcB-QHJI9ERCKe30E/edit?usp=sharing

c/c @forgeuxGH5

[2021-06-22 00:04] lmcclung commented on #7398
@Sienna-Blumstengel @andrepestana-aot @severinbeauvais there is no need to a user to be able to edit a folio number.

@andrepestana-aot yes, I believe that is what Scott was thinking... we don't show the folio number in the staff payment because they can enter it in a previous screen.  However, if it is easier to keep it in the staff payment modal as well, I'm sure staff would prefer that.  If it'

[2021-06-22 00:22] andrepestana-aot commented on #7398
@lmcclung I already implemented in different places: StaffPayment modal when Role == Staff and in Client Form when it is not Staff. Let me know if have something different in mind.

[2021-06-22 00:48] Kaineatthelab commented on #7999
due to openshift, closed

[2021-06-22 00:48] #7999 closed

[2021-06-22 01:02] sumesh-aot commented on #7813
@amit4610 Sorry, I didn't get your question.

[2021-06-22 04:53] pwei1018 commented on #6801
This ticket is ready for QA.

[2021-06-22 14:11] PatrickAHeath commented on #7137
@forgeuxGH5 Would a packaged date picker calendar work for birthdate? (with all the 'date' logic built in)

[2021-06-22 15:15] janisrogers commented on #7941
Got list from Joanna, confirming with Ian A.

[2021-06-22 15:24] janisrogers opened #8000 "Improvements to Trust Indenture selection"
There is a lot of confusion on what trust indenture is from users and it is often selected when it shouldn't be. We may want to de-emphasize it and/or add more text explaining when to use it and that removing it (if selected in error) requires a court order.

Needs design.

[2021-06-22 15:25] #7540 closed

[2021-06-22 15:25] #2312 closed

[2021-06-22 15:26] #7545 closed

[2021-06-22 15:26] #7724 closed

[2021-06-22 15:27] saravanpa-aot opened #8001 "terms of service update breaks the reupload affidavit flow"
**Describe the bug in current situation**

When user clicks the link in the mail to reupload affidavit , it works well except in one case ; when there is a TOS update in the system..
The user will be taken to TOS screens and after TOS screen , user will always be taken to a static route instead of reupload flow.

@sumesh-aot @shabeeb-aot

**Link bug to the User Story**

**Impact of this bug**

**C

[2021-06-22 15:28] Sienna-Blumstengel opened #8002 "Namex issue - "ERROR!!" Message"
#### ServiceNow incident:
INC0097279
#### Contact information
Staff Name: Genevieve

#### Description

Genevieve cannot click "next" NR, she is stuck on this one. This is preventing her from continuing to examine names. ⚠️ we need to unblock her asap.

I just tried to search it in NameX prod and cannot search it. No results come up.

#### Tasks
- [x] When ticket has been created, post the ticket i

[2021-06-22 16:03] janisrogers commented on #7941
@tlebedovich @Kaineatthelab The changes above are confirmed by Ian and Joanna.

[2021-06-22 16:04] cameron-freshworks commented on #6858
@Sienna-Blumstengel How will the UI look for CCC's without any sample documents on this step?
Do we still need this step? Is the only choice to a Custom articles?

[2021-06-22 16:08] Sienna-Blumstengel commented on #8002
To get Gen unblocked, she just cancelled the NR. This allowed her to get the next NR and proceed.
So we don't need to fix this NR for her, she is making a new one for the client.

We just need to investigate this error as a bug.

[2021-06-22 16:46] tlebedovich commented on #7941
Thanks @janisrogers Are you able to provide/confirm the service Header and text for these:

Site Registry
Court Services Online
BC Assessment
Rural Property Tax

[2021-06-22 17:02] tlebedovich commented on #7622
@Kaineatthelab @forgeuxGH5 - When we groomed the homepage we had separate mobile-friendly designs for the BCROS page. Instead of simply stacking all the service "Tiles", which would be an extremely long scroll of mobile users, we had a mobile-only version of those where they changed to collapsible/expandable tiles with some different styling. Do we want to have Doug proceed with the mobile version

[2021-06-22 17:14] andrepestana-aot commented on #6566
@riyazuddinsyed To test it we just need to create an international Jurisdiction and then check in Oracle NamesD DB if the xpro_jurisdiction and home_juris_num were inserted in REQUEST_INSTANCE table as you input in namerequest. Note that the xpro_jurisdiction should be in uppercase.

It's important to test the edit mode for the international jurisdiction and the flows for national jurisdictions ju

[2021-06-22 17:18] amit4610 commented on #7990
Hi @mengdong19 Can you please check why this account is showing as linked? Which is the other account in BCR linked to this BCOL account? We can decide if we need to unlink then.

[2021-06-22 17:20] amit4610 commented on #7990
Client D. Martin Sanderson is trying to submit affidavit for a new account but is blocked by the above issue.

[2021-06-22 17:24] lmcclung commented on #7874
@Sienna-Blumstengel i did a bit of analysis on this...

1) check if NR done in NRO or Names - I confirmed payment not in GlobalP
2) check Namex comments to see if it has useful info.
3) repeat the process in test Names/NameX - request name for Register Interational LLC, put in two name choices.  I tried this - first name choice is free form (which is correct because it needs to be what they have i

[2021-06-22 17:38] Kaineatthelab opened #8004 "UI Select Drop Down Update on Dashboard"
Users will select the type of registration they want to create from the My PPR dashboard. The method of selecting a registration type depends on the type of user logged in to the dashboard. For government users (users creating registrations under the Miscellaneous Registrations Act) display a single selection dropdown; for all other users display a segmented button dropdown. Content for dropdowns

[2021-06-22 17:44] jdyck-fw commented on #7748
@lmcclung - Louise wrote this morning to share the she still needs this. I've asked @eve-git to follow up on it and work with you to clear up any questions around the invalid IA that Thor mentioned in comments above.

[2021-06-22 17:46] Sienna-Blumstengel commented on #7917
There is text in the assumed name expro flow so should make sure they match or are equal in messaging too😊
![image.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/d2ff6dbe-906c-478a-8410-71d72e7dfbef)
![image.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/bbe4edf9-85f8-4ce0-85a6-433802f46e72)

[2021-06-22 17:57] janisrogers commented on #7941
@tlebedovich Here is what is listed on the BC Online pages. Could probably use some tweaking:

From the BC Online pages:
**Site Registry**
Information retained by the provincial government on the environmental condition of property in British Columbia. The Site Registry should be used by accountants, architects, lawyers, real estate agents, environmental consultants, and any other professionals in

[2021-06-22 17:58] PatrickAHeath commented on #7859
Included FR registration in 7860 as FR, LT & MH are very similar.  Closing this ticket.

[2021-06-22 17:58] #7859 closed

[2021-06-22 18:03] Sienna-Blumstengel commented on #7874
THanks Linda!!

[2021-06-22 18:04] kialj876 commented on #7994
Update:
- this NR ended up with a duplicate name choice 1 during an NRO sync. I'm not sure how this happened, but it could've been to do with the openshift issues(it happened around the same time the db went down and we had all the index problems).

I believe this was a one off and I have fixed the NR so it can be cancelled by staff if they want and this ticket can be closed I think @amit4610

[2021-06-22 18:05] lmcclung commented on #6311
@eve-git Perhaps you can pick this ticket up?  Should be pretty easy, right @severinbeauvais ?

[2021-06-22 18:08] Sienna-Blumstengel opened #8005 "Add NR States to front page of NameX"
## Background
From Kaine:

## Acceptance Criteria
TBD

## Definition of Ready
- [ ] Are the Acceptance Criteria defined?
- [ ] Does the user story speak to the value being created, and is understood by the team?
- [ ] Are the dependencies known/ understood? (to the our best knowledge)
- [ ] Is this user story small enough to be completed in one Sprint?
- [ ] Dev team accepts UI artifacts? (visual

[2021-06-22 18:08] severinbeauvais commented on #6311
Yes, should be pretty easy, but you do need to set up and run the back end environment locally.

[2021-06-22 18:10] kialj876 commented on #7998
this one is okay now

[2021-06-22 18:15] #6395 closed

[2021-06-22 18:31] lmcclung commented on #7776
@severinbeauvais the annual report should only be availble to file on the dashboard on the anniversary date, so in this case, not until Nov 2nd, 2021 -  nextAnnualReport: "2021-11-02T21:48:14.129466+00:00"

Looks like the issue is with the min and max dates

ARFilingYear: 2021
      arMaxDate: "2021-06-01" - this should be the MinDate plus 60 days to calculate the Due date.
      arMinDate: "2021-

[2021-06-22 18:31] vysakh-menon-aot commented on #6311
this issue is fixed in https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7295

[2021-06-22 18:38] #7914 closed

[2021-06-22 18:46] severinbeauvais commented on #6311
Yes, this ticket is a duplicate of #7295.

Therefore I am clearing the estimate and closing THIS ticket.

[2021-06-22 18:46] #6311 closed

[2021-06-22 19:04] amit4610 commented on #7994
Advised staff

[2021-06-22 19:06] mengdong19 commented on #7990
I set org 2292 to inactive, client should be able to create account and link to BCOL account now.

[2021-06-22 19:09] amit4610 commented on #7813
For NR4708469 we refunded $31.50 by accident 11 days ago, and this refund (invoice number REG00053263) went to a draw down account. So can we charge the drawdown account to reverse it from our side? @sumesh-aot @stevenc987

[2021-06-22 19:11] sumesh-aot commented on #7813
We will need to manually do it, also this can be done from BCOL side too. Currently there is no mechanism to charge the account manually from our side, we could mimic a BCOL call from pay-api to do this. But I would rather prefer this to be done on BCOL side manually.

[2021-06-22 19:12] amit4610 commented on #7990
Advised the business. Thanks Meng.

[2021-06-22 19:12] mengdong19 commented on #7638
Ok, I'll add it to my check list.

[2021-06-22 19:12] amit4610 commented on #7990
Please put an estimate and close @mengdong19

[2021-06-22 19:30] sumesh-aot commented on #6270
@jyoti3286 @mstanton1 Can you please update the AC with definition of outstanding transactions?

[2021-06-22 19:43] jyoti3286 commented on #6270
@sumesh-aot will do

[2021-06-22 19:59] amit4610 commented on #7813
We have received word from the home team that they cannot do this. Let's do it from our side @sumesh-aot

[2021-06-22 20:00] #7990 closed

[2021-06-22 20:28] tlebedovich commented on #7623
@doug-lovett - We haven't designed this page yet, obviously, so in terms of the page and button that is there;

Fix Button style update (same as on the BCROS page)
- #003366
- 14px bold bc sans, no letterspacing
- use fixed dropdown button menu - same as on the BCROS page that needs updating (so it matches the top header dropdown styling)

Match columns, gutter, grid of BC Business Registry page (

[2021-06-22 20:40] Sienna-Blumstengel opened #8006 "Credit For Duplicate Charges On Our Account NR5793484 and NR7366661"
#### ServiceNow incident:
INC0097307
#### Contact information
Staff Name: Kristopher Yee

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Reply All to IT Ops email and provide zenhub ticket number opened and w

[2021-06-22 20:41] andrepestana-aot opened #8007 "Namerequest - Generic error when BC Online Staff payment has invalid Account Number"
# How to reproduce it:
![image.png](https://images.zenhubusercontent.com/601c6b4f5322cf5c519d503f/a9332959-7af1-476a-8fc4-3974f6c3af2d)

![image.png](https://images.zenhubusercontent.com/601c6b4f5322cf5c519d503f/8eddc3ab-7e6b-4f2f-865c-c2928669a3a4)

The response from `https://namex-dev.apps.silver.devops.gov.bc.ca/api/v1/payments/2262260/CREATE` is:

`{"message":"SBC Pay API exception.\r\n\r\nExp

[2021-06-22 20:46] Sienna-Blumstengel commented on #8006
Hi Kristopher,

To confirm, we are going to keep two charges of 31.50, and refund the other 16 charges of 31.50?

Thanks,
Sienna

[2021-06-22 20:56] #7940 closed

[2021-06-22 20:59] sumesh-aot commented on #7981
@Sienna-Blumstengel verified this in TEST. ![Screen Shot 2021-06-22 at 1.59.24 PM.png](https://images.zenhubusercontent.com/5c76da7fd74bd07972c3fc03/e6a4a179-1b41-4e04-8174-1dc97898d4b1)

[2021-06-22 21:27] Sienna-Blumstengel opened #8008 "Update Name Request OneNote"

[2021-06-22 21:32] Sienna-Blumstengel opened #8009 "OCM for Annual Report Reminders"
Annual Report reminders will be added for all entities on the  bc business registry.
BComps have never had to file an AR yet. We need to remind them about their first one. We may see in increase in alterations to an LTD when they realizer they need to file an annual benefit report.

We should anticipate some bcomps (that used to be an LTD on COLIN) expecting to receive their "access code" to file

[2021-06-22 21:34] Sienna-Blumstengel opened #8010 "AR Reminder - OneNote content"
https://docs.google.com/document/d/1fUBDh2PotRiCQf2j9MihHo4p9twphe1f8clWytjDTkk/edit?usp=sharing

[2021-06-22 21:34] Sienna-Blumstengel opened #8011 "Website updates"

[2021-06-22 21:34] Sienna-Blumstengel opened #8012 "Form updates"

[2021-06-22 21:56] amit4610 commented on #7898
NR 4632997 and NR 5342867 remain.
NR 5342867 - Payment was made in NRO, so you can close this ticket, I’ll process in BCOnline.

[2021-06-22 21:59] stevenc987 opened #8013 "Restoration Expiry Weekly Notebook Report"
This is the email from Linda McClung at 4:59 pm on June 14, 2021

Hi Debbie,

Could you confirm what fields you want the report to include?  I’m thinking you’d probably want:

NR number
NR Name ??
Submitted date and time
Expiry date
Status – ie draft, approved, conditional  (did you want all or only certain statuses?)

Which request types should be included?

Restore

- BC limited company
- BC unl

[2021-06-22 22:01] jmills-cgi opened #8014 "Release: Entities Lear + UIs - Annual Report Reminders"
## Entity Projects

Prior to moving into production, the following steps should be completed or confirmed:
- [x] Update version numbers in the code being released
   - [x] Legal API (2.25.0)
   - [x] Colin API (2.24.0)
   - [x] Entity Emailer (2.24.0)
   - [x] Create UI (2.0.3)
   - [x] Filings UI (3.10.3)
   - [x] Edit UI (0.6.17)
- [x] Ensure deployment steps are filled in - remove/replace place

[2021-06-22 22:02] jmills-cgi opened #8015 "Release: Entities UI - Annual Report Reminders"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-06-22 22:03] sumesh-aot commented on #5937
@jyoti3286 This is a rare scenario : Should we allow accounts to be deleted if they have an invoice partially paid? This would happen an invoice is paid partially with online banking ?

[2021-06-22 22:35] Sienna-Blumstengel commented on #8006
**SUMMARY:

Refund 16 charges of 31.50, and keep two charges of 31.50.**

[2021-06-22 23:45] amit4610 commented on #7988
Hello,

The modernization team is releasing some changes today, June 22nd.
Please forward to your teams.

ACCOUNT SETUP CHANGES
•	7540 – Added a button in the manage business dashboard to navigate to the Name Request UI.
•	7782 - Additional information is captured for business during account creation like Personal or Business Account, type of business and size of business.
•	7563 – We have added t

[2021-06-23 00:05] mengdong19 commented on #8006
Duplicate charges have been refunded.
![image.png](https://images.zenhubusercontent.com/5c747659d74bd07972c36d5e/d419252d-4fbc-4621-853e-d1ff0340d2f9)

[2021-06-23 15:11] mstanton1 opened #8016 "REJECTED - KULDIP BASRAN - Out of Province Account"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident: INC0097400
#### Contact information
Staff Name: Cheryl Hall
Staff Email: Cheryl.1.Hall@gov.bc.ca

#### Description
A client submitted an affidavit for an out of province account that was rejected because the user name on the account did not match the name on the affidavit. Correspondence from BCOL Admin to

[2021-06-23 15:20] mstanton1 commented on #8016
@pwei1018 can you take a look at this one? We need to ensure the client can reapply (so deactivate existing rejected attempt to free up use of the account name Keystone Law Group and perform any necessary clean up to allow upload of an affidavit in the new application.

[2021-06-23 16:04] mstanton1 commented on #6270
@jyoti3286 I notice this is pending. I think the team had discussed 10 days during the last grooming?

[2021-06-23 16:13] andrepestana-aot commented on #7246
@rarmitag It's not related to #6566. The issue is probably related to MRAS configuration or network access. Can you please check the conf props below from PROD and compare to other environments?
[code]

The request to PROD (https://namex.apps.silver.devops.gov.bc.ca/api/v1/mras-profile/AB/2023326222) is having:
[code]

While in dev (https://namex-dev.apps.silver.devops.gov.bc.ca/api/v1/mras-profil

[2021-06-23 16:24] JohnamLane opened #8017 "test"
test

[2021-06-23 16:30] Sienna-Blumstengel commented on #8009
Co-ops don't currently get reminders. Little concerned about how they will react, and also not sure when we should be sending the reminder, considering we don't record their financial year end.

When does the bcomp reminder go out, the date of the anniversary (first day then can file)? Cameron doesn't want to send it out before they can file.

**Potential FAQs from clients:**
* Ok I filed my AR, w

[2021-06-23 16:47] mstanton1 commented on #7942
I have not heard back from the client yet. I have sent a follow up email to ask if any further support is required.

[2021-06-23 16:49] Sienna-Blumstengel opened #8018 "Delay in receiving notifications"
#### ServiceNow incident:
INC0097399
#### Contact information
Staff Name: Cheryl Call

#### Description

The three were received yesterday
![Screen Shot 2021-06-23 at 9.51.56 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/9c84f829-bbdb-4493-8e45-419ecfae4422)

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add *

[2021-06-23 16:52] jdyck-fw commented on #7246
@lmcclung will get some test MRAS NRs for this. Also check with home team to see if mras is hooked up for Test.

[2021-06-23 16:57] Sienna-Blumstengel commented on #8002
Josh also experienced this issue with NR 7118751. (INC0097145). He canceled his NR to unblock himself as well.

[2021-06-23 16:57] Kaineatthelab commented on #7958
@kialj876 is this extractor related?

[2021-06-23 16:58] mstanton1 opened #8019 "Authy Desktop Authenticator Issue"
From Engagement Mailbox

#### ServiceNow incident: N/A
#### Contact information: Travis White, tw@dwslaw.ca

#### Description
I have been installing Authy on our network and notice that it still seems to require a mobile device to sign up. My understanding had been that only a desktop computer was required. Is there any way of circumventing this?

Thank you,
- Travis White

#### Tasks
- [ ] When t

[2021-06-23 16:58] mstanton1 commented on #8019
I have provided the following information via email:

There are various Authy download options. I suspect you’ve ended up with the IOS or Android. To fix this, re-download a version for your desktop operating system.

1.	Go to https://authy.com/
2.	Scroll to the bottom of the page to find the ‘Download’ section.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/b6bb683e-1

[2021-06-23 17:01] mstanton1 commented on #7942
Lisa has responded confirming she was able to complete her Change of Director filing with the information provided above.

[2021-06-23 17:02] Sienna-Blumstengel commented on #8006
Thanks Meng! CLosing!

[2021-06-23 17:02] #8006 closed

[2021-06-23 17:10] kialj876 commented on #7958
Nope. This came up a little while ago and I've fixed it in dev but it is not part of any release plan. The issue is: all resubmits that have a previous nr id associated with them fail to save via the edit in namex

[2021-06-23 17:22] tlebedovich commented on #7543
@forgeuxGH5 - is this ticket done now that we have the flow for the Manage Business Dashboard?

[2021-06-23 17:24] tlebedovich commented on #7623
@Kaineatthelab We haven't groomed a Design for this PPR Marketing Page yet.

[2021-06-23 17:35] pwei1018 commented on #8018
I checked the notify service. It seems it didn't receive any messages yesterday(June 22, 2021).

[2021-06-23 17:41] mstanton1 opened #8020 "Account Set up Presentation"
Work for Account Set up Presentation June 24th

#### Description
- [ ] Prepare slides
- [ ] Prepare speaking notes
- [ ] Deliver presentation

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] Assign zenhub ticket to milestone: c

[2021-06-23 17:47] Kaineatthelab commented on #7623
There isn't a design or design ticket, it was just to get the page up so this can be closed when you are ok with it with the buttons as is.

Designs for these pages are lower priority then the things we have going on now, but we do need to get it going.

[2021-06-23 17:55] pwei1018 commented on #8016
@mstanton1 I cleanup everything, you can let client to resubmit the affidavit.

This client also has a BCSC account with uppercase account name. We may think about ask client change the name or deactivate this account if they don’t use it.

[2021-06-23 18:01] mstanton1 commented on #8019
Travis has followed up:

I reinstalled per your instructions but am still being met with the following screen on login:

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/75d86342-2e5a-4b13-998f-e884a0f77665)

I tried looking around in the context menus to see if there was any way of getting around this, but I haven’t been able to find one. Will it be necessary to get a bu

[2021-06-23 18:01] mstanton1 commented on #8019
I have provided the following response:

Thanks for following up with the screenshot. My initial interpretation of your email was that you had ended up with a mobile authenticator. However, I now understand the concern you’ve raised is to do with providing a phone number in the Authy account set up.

The phone number is part of Authy’s requirements. For the desktop app there is no code sent to a m

[2021-06-23 18:02] tlebedovich commented on #7623
ok thanks @Kaineatthelab - Since this is totally an FPO page for now the button styling for item 2 above is a lower priority. i do feel that at least item 1 and item 3 should be addressed - the basic grid structure and logged in functionality should probably be set up.

c/c @doug-lovett

[2021-06-23 18:04] mstanton1 commented on #7435
PayBC (Zea) has provided an update:

The change that has been done in TEST – we are aiming for a Production deployment on June 27.

[2021-06-23 18:08] jdyck-fw commented on #7546
Moving this back in priority

[2021-06-23 18:12] jdyck-fw commented on #7950
Sienna is going to review Patrick's report as a next step in moving this ticket forward.

[2021-06-23 18:15] Sienna-Blumstengel commented on #7958
Is it possible for us to add it to the next name request release?

[2021-06-23 18:18] Sienna-Blumstengel commented on #8018
Interesting, 3 new applications came in yesterday, and (i assume, based on Cheryl's report) that new applications should usually send a notification to staff. @amit4610 @mstanton1 is that true?

Can we investigate why the notifications did not send?

[2021-06-23 18:18] Kaineatthelab commented on #7958
I think it should go into today ... if possible

[2021-06-23 18:18] tlebedovich opened #8021 "UI Design - Staff Review Updates"
Updates based of Staff Review of the Name Request 2.1 Designs

- Proceed with Sole Prop versions without the dropdown designation fields
- Process with smaller blue link on main page for "Submit this Name without checking" (I could maybe add an underline if users don't recognize it as a link but I think power users would as its blue with an arrow icon and its an action statement)
- Add a new tool

[2021-06-23 18:22] amit4610 commented on #8018
Yes, the Mailer service should send notifications to staff @Sienna-Blumstengel
There were other broken links I found when I was preparing for the demo, regression testing would be a good idea for our team. @pwei1018

[2021-06-23 18:22] Sienna-Blumstengel commented on #8002
Hey @kialj876 i head you might have fixed this already, is that true?

[2021-06-23 18:25] mstanton1 commented on #7435
@rarya-freshworks can you verify this change in test? You can do so in the business registry using an existing BASIC account with payment of credit card set and then completing a filing or by submitting a Name Request in TEST (not logged on).

[2021-06-23 18:25] tlebedovich commented on #8021
@Kaineatthelab  - here's the design update ticket - can you make a dev ticket and link it to you name request epic?

A few of the items above are just for Kial, and do not need design

[2021-06-23 18:41] mstanton1 commented on #8020
Closed - Duplicate.

[2021-06-23 18:42] mstanton1 commented on #8019
Travis has followed up. No further action is required:

Thank you for the clarification. I will take a look at the browser plug-in option.

Thank you,
- Travis White

[2021-06-23 18:43] mstanton1 commented on #8016
I have sent the following to Cameron and Cheryl, cc'ing IT Ops:

In the back-end we reviewed and found the client had tried again June 17th. However, the new affidavit couldn’t be viewed by staff. This is due to issues with the rejected affidavit flow. Please note these are currently being worked on. The flow will be enhanced soon.

We also located an active account for KEYSTONE LAW GROUP, associa

[2021-06-23 19:09] #8020 closed

[2021-06-23 20:19] Sienna-Blumstengel commented on #8018
@pwei1018 I was you restarted some pods, did that resolve this issue?
Cheryl responded saying they received the emails.

[2021-06-23 20:32] amit4610 commented on #7992
All yours @stevenc987

[2021-06-23 20:33] amit4610 commented on #7402
@Sienna-Blumstengel... Can we close this if we haven't heard back from the business in 4 weeks?

[2021-06-23 20:37] stevenc987 commented on #7908
This is done in dev, test, and prod.

The following people will receive the production report every Monday (starting from next Monday, June 28, 2021).
Debbie.Blyth@gov.bc.ca, Jennifer.Weldon@gov.bc.ca, Joshua.Thiessen@gov.bc.ca, Elizabeth.Espinosa@gov.bc.ca, Kristopher.Yee@gov.bc.ca

[2021-06-23 20:37] #7908 closed

[2021-06-23 20:45] stevenc987 commented on #8013
This was done in all environments

[2021-06-23 20:45] #8013 closed

[2021-06-23 21:09] mstanton1 opened #8022 "Update Account Set up Job Aides"
#### Description
Given the change in the flow for account set up (select products first, account type second) updates are needed to job aides.

Set up an account (PDF, 204KB)

Check other account set up videos/FAQ's/Job Aides to identify if other changes are required.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or *

[2021-06-23 21:13] stevenc987 commented on #7992
@amit4610 @Sienna-Blumstengel

1. NR 1941694, INC0096869: Request Refunded
2.  NR 4855393, INC0097018: No payment record in postgres
3.  NR 1900933, INC0097050: Request Refunded
4.  NR 1541798, "NRs for review" duplicate email sent June 18th: No payment record in postgres
5.  NR 9987143, INC0097305, refund fee of 101.50 only: Request Refunded for 101.50
6.  NR 9233983, INC0097374, refund priority

[2021-06-23 21:28] amit4610 commented on #7992
Asked the business for screenshots of client's statement for NR 4855393, and NR 9233983.
Asked IT Ops to close the rest of the incidents
I don't have NR 1541798 email in my inbox. @Sienna-Blumstengel Can you please ask the business for a snapshot of the client's statement if you recorded this one?

[2021-06-23 21:30] mstanton1 commented on #8016
@pwei1018 the client has confirmed the BCSC account is not needed. Can you please deactivate the account for KEYSTONE LAW GROUP (Account 2256) and remove the link to the BCOL account (777231) so it can be used with the new BCeID & 2 FA account.

[2021-06-23 21:43] mstanton1 opened #8023 "BC Registries - Business Registry Support Request"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident: INC0097613
#### Contact information
Staff Name: Not listed in email?
Staff Email: Not listed in email?
Client: kchung@binm.org

#### Description
Hi there,

I’m having troubles setting up my one-stop account/paying for name request. I am always getting this (see picture) or getting no response when I’m tryi

[2021-06-23 21:48] amit4610 commented on #7992
The only remaining one is NR 1541798

[2021-06-23 21:48] janisrogers commented on #7958
@riyazuddinsyed
I created the following:

NR 1451067 had expired on Jun 15, 2021
I Reapplied in NRO and received NR 3308493
I conditionally approved it, then came back an marked consent received.

NR 0722479 Will expire on June 23, 2021
I Reapplied in NRO and received NR 3066144
I conditionally approved it, then came back an marked consent received.
I then edited the address successfully

[2021-06-23 22:08] jyoti3286 commented on #5937
@sumesh-aot Do we release the documents till we have received the final payment? I don't think we do.

[2021-06-23 22:09] sumesh-aot commented on #5937
@jyoti3286 No, we release only when payment is received in full.

[2021-06-23 22:10] #8023 closed

[2021-06-23 22:10] #8019 closed

[2021-06-23 22:10] #7942 closed

[2021-06-23 22:13] janisrogers commented on #6566
@riyazuddinsyed @lmcclung

NR 2553427
UPTOWN CLOUD COMPUTING CORP. (New Brunswick)
_Home jurisdiction number not showing in NRO details or in NamesT request table._
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/488cc6f5-c778-4af5-8fc4-906ef457821f)

NR 5629803
1. TOWNE, VONRUEDEN AND LEBSACK AEROPONIC LTD.
 _Home jurisdiction number not showing in NRO details or in Nam

[2021-06-23 22:24] jyoti3286 commented on #6270
@sumesh-aot @mstanton1 - Added the definition of OUtstanding transaction in the description.Let me know for any comments

[2021-06-23 22:38] Sienna-Blumstengel commented on #7927
Looks like it went to COLIN!
![Screen Shot 2021-06-23 at 3.37.36 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/fe88bef1-e25f-4d06-8c8d-e0a2a4a1f416)
@lmcclung @rarmitag does that look correct?

Also, the other part of this ticket description is "1 - flip 'available on paper only' to show outputs", looks like outputs are showing for the alteration filing on the new app. That

[2021-06-23 22:46] Sienna-Blumstengel commented on #7927
I just read my notes and I wrote "make sure there are 2 alteration filings"... were there supposed to be two?

[2021-06-23 22:56] Sienna-Blumstengel commented on #7506
To Kat:

[2021-06-23 22:58] Sienna-Blumstengel commented on #6597
@thorwolpert forgot to tag you! Two more things to do, in Linda's comment above.

[2021-06-23 23:12] saravanpa-aot commented on #6270
@jyoti3286 In scenario 3 [Scenario 3: Premium admin with outstanding transactions clicks deactivate button] ; it says to show the modal whenever user clicks on the deactivate button ..
I thought we will show the error messages only after they confim the deactivation [final button click after confirmation checkboxes] ..
Can the AC be updated Please?

[2021-06-23 23:46] tlebedovich commented on #7436
@jordiwes i removed all the items that weren't completed (thank you) and have left the ones that are still open. Let's get on a call tomorrow and review and set priorities for the remaining items.

[2021-06-23 23:47] lmcclung commented on #6566
@andrepestana-aot looks the information still isn't getting back to Names database.  Can you look into this after the Folio stuff is done?

[2021-06-24 00:18] andrepestana-aot commented on #8007
I verified that this happens because the pay-api request is responding with HTTP 500 when bcolAccountNumber is invalid:

[code]

[2021-06-24 00:32] andrepestana-aot commented on #6566
@janisrogers @lmcclung I don't think that change is in TEST. Janis checked in DEV and it worked:
![Clipboard - June 22, 2021 10_41 AM](https://user-images.githubusercontent.com/78114138/123184505-aec7de00-d448-11eb-8247-40c939c85ae5.png)
![Clipboard - June 22, 2021 10_43 AM](https://user-images.githubusercontent.com/78114138/123184521-b4252880-d448-11eb-9f4b-d15a7b39bcdd.png)

@riyazuddinsyed Shou

[2021-06-24 00:34] andrepestana-aot commented on #6566
That part related to the HOME_JURIS_NUM is from namerequest UI.

[2021-06-24 00:42] sumesh-aot commented on #8007
Work for relationships team.

[2021-06-24 02:11] pwei1018 commented on #8016
@mstanton1 I deactivated the BCSC account (2256) and clean the bcol information of this account.

![image](https://user-images.githubusercontent.com/44277752/123191865-bc846000-d456-11eb-8d33-ae40be141459.png)

[2021-06-24 02:11] pwei1018 commented on #8018
@Sienna-Blumstengel Yes, the issue got resolved. And all the emails got re-sent.

[2021-06-24 15:08] mstanton1 commented on #8016
All clean up has been completed as per the notes above. Cameron has spoken with the client who will try the account creation flow with BCeID & 2 FA again today.

[2021-06-24 15:14] janisrogers opened #8024 "Priority service still pending NR 9025063 - INC0097677"
NR 9025093 in Pending Deletion

#### ServiceNow incident: INC0097677
#### Contact information
Staff Name: Kristopher Yee

#### Description
Is it possible to look into what might have happened with this client’s payment on ~NR9025093~ NR 9025063? The NR status in Namex is set to Pending Deletion whereas, strangely, the status in NRA is just blank and is set to “-“.

I spoke with the client and the

[2021-06-24 16:01] Sienna-Blumstengel commented on #8018
Thanks Cheryl!
Solution to the issue was: Our developers re-set the "emailer", which triggered the emails to send.
We will close our Zenhub ticket as well.

[2021-06-24 16:01] #8018 closed

[2021-06-24 16:33] mengdong19 commented on #8024
Could you please double check the NR number? Can't find NR 9025093 in db, but I can find 'NR 9025063' which is in pending deletion status.
For NR 9025063, payment has been made by credit card on Jun 15.
There are two transactions for this payment, first one failed, but second one completed.

[2021-06-24 16:39] janisrogers commented on #8024
Yes the NR should be NR 9025063. If we have a successful payment can we take it out of pending deletion?

@Sienna-Blumstengel would we need to refund the priority charge?

[2021-06-24 16:43] amit4610 commented on #7813
It's for NR4708469 @mstanton1

[2021-06-24 16:52] kialj876 commented on #8002
if this keeps happening we will have to investigate further, but I think both of these were caused by the openshift issues messing up our database. Both of these have several tables that are mixed up other NRs (i.e. applicant info, names, events). The NRs they have extra info for are okay (they have separate entries) so I think the db err'd when writing data for these two, which was most likely th

[2021-06-24 17:30] Sienna-Blumstengel opened #8025 ""No transaction history to show", when there should be history"
## Description
NameX transaction history is missing information from recent NRs, ones that SHOULD have data in them are missing data. Showing “no transaction history to show”.

## Current behavior
1. Go to NameX
2. Go to any recent NR requested from Name Request or NRO
3. Look at the transaction history
4. See "no transaction history to show" even though there should be

## Expected behavior
1. Go

[2021-06-24 17:32] #6954 closed

[2021-06-24 17:46] #2395 closed

[2021-06-24 18:02] Sienna-Blumstengel commented on #7119
[https://app.zenhub.com/files/157936592/bdc3049e-31e3-474d-b3c4-5de4d0407092/download](https://app.zenhub.com/files/157936592/bdc3049e-31e3-474d-b3c4-5de4d0407092/download)

[2021-06-24 18:04] Sienna-Blumstengel commented on #7119
@lmcclung we got the form and payment from the client. I will tell kat to send a stamped copy to the client if she has not already, and then we can proceed with the dissolution?

[2021-06-24 18:24] riyazuddinsyed opened #8026 "ULC and CC NR IA. stays in PAID state."
**Describe the bug in the current situation**
When a user affiliates a ULC or CC  company and after successful completion of an IA the status still remains in PAID state instead of PAID and Completed.

**Impact of this bug**
All users trying to file an IA for a ULC or CC company.

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/'
2.File an NR with a ULC
3. Affiliate t

[2021-06-24 18:30] mstanton1 commented on #7973
Slide deck available on SP in CM folder: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-4046

Speaking notes prepared.

Presentation was given at 10 AM June 24th.

[2021-06-24 18:32] riyazuddinsyed opened #8027 "Verify - COLIN API - ULC and CC companies consumed status does not get updated in namex."
**Describe the bug in the current situation**
When the user affiliates and files an IA and after the successful payment the "Consumed Date" does not get updated.

**Impact of this bug**
All users who Affiliate with a ULC or CC company

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/'
2. Start a new ULC NR
3. Affiliates an NR and file an IA
4.Go to Namex and see the c

[2021-06-24 18:34] tlebedovich commented on #7437
@janisrogers - is this one ready for Visual Design?

[2021-06-24 18:35] tlebedovich commented on #6987
@janisrogers - Here are the two payment error modals for your review.

c/c @forgeuxGH5

[2021-06-24 18:38] tlebedovich commented on #7950
Can someone refresh my memory with what this ticket is all about? Not a lot of details to go off of :)  Does this need wires? visual design?

Maybe this ticket is not ready yet?

@Sienna-Blumstengel @lmcclung @forgeuxGH5

[2021-06-24 18:39] tlebedovich commented on #7691
@forgeuxGH5 @Kaineatthelab - Is this a wireframe ticket for you Scott? Can't tell based on the description, haha

[2021-06-24 18:43] mstanton1 commented on #7969
Cheryl has now successfully joined using BCeID & 2 FA. No further action is required.

[2021-06-24 18:47] mstanton1 commented on #7955
@Sienna-Blumstengel can you please add info for #1 in the comment above for entities / names?

[2021-06-24 18:56] thorwolpert commented on #8024
payment applied, and NR successfully moved to DRAFT

[2021-06-24 18:57] saravanpa-aot commented on #6270
@mstanton1 @jyoti3286  @rkim13103 @amit4610
The AC has to be changed to accommodate the navigation after the account deactivation is done.Not sure i am overcomplicating this.
Three scenarios
1) user has only one account and he deactivate -> we can take them to home page .. but is it tough for him to find the create account button?
2) user has two account and deactivates one -> we can take them to

[2021-06-24 19:23] tlebedovich commented on #7619
hi @forgeuxGH5 - can you add your wireframes here when ready and ping me when it's ready for visual design please

[2021-06-24 19:27] riyazuddinsyed opened #8028 "Unable to affiliate the BC Limited Company."
**Describe the bug in the current situation**
When the user files an NR which is a BC and a Limited Company and after the NR is approved in the Namex when the user tries to affiliates it with a particular BCREG then the error dialog shows up saying businesses type associated with NR not supported.

**Impact of this bug**
All users trying to affiliate the BC Limited Company NR

Steps to reproduce t

[2021-06-24 19:50] riyazuddinsyed opened #8029 "Affiliated NR says Invalid Incorporation Application on the first click."
**Describe the bug in the current situation**
When the user affiliates any NR  which is approved for the first time and clicks on Open then the Dashboard shows Invalid Incorporation Application for the first time and not sure the time span until when the IA  appears

**Impact of this bug**
All users affiliating the NR

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://dev.b

[2021-06-24 20:17] riyazuddinsyed opened #8030 "ULC Add Peoples and Roles shows Subscriber but Outputs dont."
**Describe the bug in the current situation**
When a user affiliates  the ULC company and on the Peoples and Roles section there  appears to be a "Subscriber" field and when the requirements are met and upon the successful payment the IA output does not show any Subscriber

**Impact of this bug**
All users filing the IA for ULC

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/

[2021-06-24 20:32] jdyck-fw commented on #8028
Not a bug, working as intended.

[2021-06-24 20:36] Sienna-Blumstengel commented on #5468
@lmcclung i think this is an old ticket and we not have a new one for the same purpose. Can we close it?

[2021-06-24 20:39] jdyck-fw commented on #8028
@lmcclung to follow up with @sumesh-aot to discuss further. We shouldn't be able to affiliate these or ULC or CC.

[2021-06-24 20:40] jdyck-fw commented on #8030
We haven't worked on the people and roles or outputs, and so this isn't a bug at the moment.

[2021-06-24 20:41] #8030 closed

[2021-06-24 20:43] jdyck-fw commented on #8029
See if we can figure out what the timing issue is here. It will eventually let you open it.

[2021-06-24 20:46] Sienna-Blumstengel commented on #6882
@Kaineatthelab relationships has completed 7782 and ___(Melissa looking for ticket to swap order of product and account type), and they are almost in PROD. Is there anything else in this epic, or can it be closed?

[2021-06-24 20:53] jdyck-fw commented on #8026
@riyazuddinsyed will attach the log snippet

[2021-06-24 20:55] jdyck-fw commented on #8002
@Sienna-Blumstengel Please mark this ticket as resolved.

[2021-06-24 21:00] jdyck-fw commented on #7965
@forgeuxGH5 - We are waiting your designs before triaging this further.

[2021-06-24 21:01] saravanpa-aot commented on #7757
Yes @Sienna-Blumstengel
This is a dependency ticket which is related to ticket 6921.
The things to do are in the ticket description :-)

[2021-06-24 21:01] jdyck-fw commented on #7846
@Sienna-Blumstengel Please mark this as resolved with IT Ops. It should have been resolved with the release yesterday.

@kialj876 - This went through yesterday, right?

[2021-06-24 21:15] Sienna-Blumstengel commented on #6846
@janisrogers please decouple the stuff in this ticket tis not dependancy related

[2021-06-24 21:20] Sienna-Blumstengel commented on #7916
What are the reasons people are trying to pay for things incorrectly?
Where are they getting their information? What are their specific scenarios?

Perhaps we can provide a script to the business, a set of questions, that will help us catch these scenarios and learn more. Once we have this information, we can assess the situation and create a solution that is beneficial to the client.

[2021-06-24 21:27] Sienna-Blumstengel opened #8031 "NR Refunds - June 24 - June 30"
1. - [ ] NR9025063 (INC0097677, just refund priority fee) = partial refund must be done with CAS directly
2. - [x] NR 7664958 (INC0097847)
3. - [x] NR 8996405, INC0098220
4. - [x] NR 2488244, INC0098220
5. - [x] NR 7666303 (INC0098796)
6. - [x] NR 7710599 (INC0097738, full refund, including NR and priority fee)

[2021-06-24 21:31] #7969 closed

[2021-06-24 21:35] #7973 closed

[2021-06-24 21:39] janisrogers commented on #8024
Added request to refund priority fee to weekly refund ticket.

[2021-06-24 21:39] #8024 closed

[2021-06-24 21:59] janisrogers commented on #7437
@tlebedovich I was just waiting for Scott's review. I don't know if there is visual design required since these messages are just like the payment modals, but please take a look and let me know what you think.

[2021-06-24 22:00] tlebedovich commented on #7437
happy to do a quick 5 min layout once scott confirms the text - keep me posted.

[2021-06-24 22:05] Kaineatthelab commented on #7866
Dwayne/Carol, spoke to Tim going in today or tomorrow. Awaiting response from Treasury Board.

[2021-06-24 22:23] #7306 closed

[2021-06-24 22:24] Kaineatthelab commented on #6882
closed I guess, still needs a recovery for the current accounts with non business names

[2021-06-24 22:28] Sienna-Blumstengel commented on #7917
Debbie say this is P3

[2021-06-24 22:49] Sienna-Blumstengel commented on #7402
Asked Debbie what she thinks

[2021-06-24 23:07] sumesh-aot commented on #8028
Please confirm if we need to turn on new NR request types in TEST? The current behaviour is expected (not a bug), as it should allow only BC request types.

[2021-06-24 23:16] Sienna-Blumstengel commented on #8002
To IT Ops:

[2021-06-24 23:16] #8002 closed

[2021-06-24 23:18] Sienna-Blumstengel commented on #7846
There was actually no IT Ops service now incident for this one. Staff have been informed that this has been resolved.
Closing!

[2021-06-24 23:18] #7846 closed

[2021-06-24 23:21] Sienna-Blumstengel commented on #7992
Informed Debbie that 1541798 was sent to PayBC.

[2021-06-24 23:23] mstanton1 opened #8032 "Analysis on Public vs Private date elements"
#### Description
Currently the design for partner subscriptions through OrgBook does not provide an authentication layer. Emiliano has requested further information on the data elements that are considered private data.

Note: Registries data is not technically private. However, certain data is considered private as a client must purchase data. These elements cannot be provided to the general publ

[2021-06-25 01:19] andrepestana-aot commented on #7776
@lmcclung as I understood this is the logic:

| Corp Type | minDate  | maxDate |
|-- |--|--|
|BEN | next anniversary date| next anniversary date + 60 days |
|COOP |Jan 1st|April 30th|

I was investigating what has been done by @vysakh-menon-aot for #6308 and I didn't understand why it says:

I understand that for the year 2020 there was an extension to 2021-10-31 but I didn't get why "This should

[2021-06-25 15:43] severinbeauvais commented on #7776
The user cannot file with a future date, so "today" is the max date.

[2021-06-25 15:51] Sienna-Blumstengel commented on #7685
Re-opening because we still need to assess if adding Scott's enhancements will be cost effective, or if we should use relationships' document uploading MVP.

[2021-06-25 15:54] Sienna-Blumstengel commented on #7549
What was this ticket for again @Kaineatthelab @forgeuxGH5 ?
Does it relate to co-op incorporation?

[2021-06-25 15:55] #7549 closed

[2021-06-25 16:14] severinbeauvais commented on #7974
@thorwolpert If the result set is empty (with the given query params), should this endpoint return [] or return NOT_FOUND (or both)?

[2021-06-25 16:19] lmcclung commented on #7217
Here's how the Society bylaws are certified - and only on the first page.
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/4d97da85-7ec4-4258-8d49-e6726c015f63)

[2021-06-25 16:19] #7770 closed

[2021-06-25 16:20] ghost opened #8033 "SBC agents data migration"
Migrate data from BCOL to BCR for SBC agent accounts

The data we would need is:
•	Ministry Government account Name: GOVERNMENT AGENTS - MINISTRY OF TICS
•	Branch Name
•	Mailing Address
•	BCOL User ID/Account
•	GL Account Information for revenue collection and disbursements to partners
•	Prime Contact Email
•	Product Subscription
•	Fee Structure details
•	Against each product what’s the Stat Fee/S

[2021-06-25 16:20] Kaineatthelab opened #8034 "Transfer remaining data from oracle into postgres"
- [x] in dev
- [x] in test

[2021-06-25 16:22] lmcclung opened #8035 "Onboarding for Maribeth Wilson"
**Onboarding checklist for new team members**

**IDIR**
- [x] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [x] Submit to IT Operations Support. This form should be emailed to the Registries Executive Assistant. Currently this role is held by Michael Leung.

-----------------

**Legacy Ap

[2021-06-25 16:22] argush3 opened #8036 "Adding tests for email message tracking functionality in Entity Emailer"
**TODO:**
- [x] setup required to get tests working with test version of tracker db
- [x] write tests to cover following scenarios
  - [x] successfully track processed message (happy path)
  - [x] does not try to re-process processed message
  - [x] successfully track failure when exception thrown
  - [x] failed message will succeed on retry if original error was a send email exception and email e

[2021-06-25 16:23] amit4610 commented on #6995
This has been uploaded to youtube

[2021-06-25 16:23] #6995 closed

[2021-06-25 16:23] argush3 commented on #8036
This ticket is for testing work done in #7882

[2021-06-25 16:23] Kaineatthelab opened #8037 "Speed up individual debtor search"
Bob working on performance improvements

[2021-06-25 16:23] amit4610 commented on #6995
email sent to Sienna @Sienna-Blumstengel

[2021-06-25 16:24] Kaineatthelab opened #8038 "Business Debtor Search Algorithm"

[2021-06-25 16:24] amit4610 commented on #7988
Awaiting @jyoti3286 feedback only.

[2021-06-25 16:28] #6033 closed

[2021-06-25 16:28] #7897 closed

[2021-06-25 16:28] #7728 closed

[2021-06-25 16:28] #6863 closed

[2021-06-25 16:28] #6933 closed

[2021-06-25 16:29] #7543 closed

[2021-06-25 16:29] #6274 closed

[2021-06-25 16:30] #7874 closed

[2021-06-25 16:30] thorwolpert commented on #7974
So far we've been returning a 404, and generally an empty body.

[2021-06-25 16:34] Kaineatthelab commented on #7048
@forgeuxGH5 @janisrogers @PatrickAHeath add design ticket here

[2021-06-25 16:43] #1194 closed

[2021-06-25 16:43] #1218 closed

[2021-06-25 16:43] #1208 closed

[2021-06-25 16:43] #2531 closed

[2021-06-25 16:44] jdyck-fw commented on #7748
@lmcclung to make a replacement LTD

[2021-06-25 16:45] Kaineatthelab opened #8039 "As a user I want to be able to retrieve a sample consent letter to use on the names request page"
Put a link under how to build a name consent
The link opens the new consent letter sample PDF (in a new tab)

**link:**
https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-other-assets/consent_letter_sample.pdf

See blocking design ticket

[2021-06-25 16:47] Kaineatthelab opened #8040 "UI Design - Add consent link to sample PDF under how to build a name"
### Visual Design - Homepage Consent Link
https://projects.invisionapp.com/share/EZ119HV9HRMK#/screens

[2021-06-25 16:59] Kaineatthelab opened #8041 "Onboarding for Yui UX Designer"
**Onboarding checklist for new team members**

**IDIR**
- [x] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [x] Submit to IT Operations Support. This form should be emailed to the Registries Executive Assistant. Currently this role is held by Michael Leung.

-----------------

**Legacy Ap

[2021-06-25 17:00] lmcclung commented on #7748
@thorwolpert I created a replacment one

[2021-06-25 17:17] jyoti3286 commented on #6270
@saravanpa-aot - We should take him to the home page and set one of the accounts as a current account. If he doesn't have another account, then he will just land on the home page.

If the user clicks on Create Account option and has duplicate accounts,our intercept page will catch that.

[2021-06-25 17:18] saravanpa-aot commented on #6270
Sure.that makes sense. I will do that.Thanks for the quick response.

[2021-06-25 17:30] Sienna-Blumstengel commented on #8026
We suspect this to be an entity filer issue.
We can reproduce this bug and investigate using postman. You can do a numbered or named company, as long as the NR has all the data available to consume it.
We will use this ticket to verify that the filer updates have been made, and if not, update the filer.

[2021-06-25 17:38] Sienna-Blumstengel commented on #8027
When his bug was created, the filing was still in a **pending** state. We need to verify that this one goes to a **paid** state after the filed is updated in #8026.

[2021-06-25 18:06] mstanton1 commented on #7435
I have received follow up from PayBC that the change to the payment screen was promoted to production this morning. Zea has tested and noted all looks good.

@rarya-freshworks given that we were unable to test in TEST due to environment issues I'd recommend we skip ahead and test in PROD. In the Business Registry we cannot add accounts/create transactions in PROD. However, in Name Request you can

[2021-06-25 18:07] lmcclung opened #8042 "UI Design - handling for unsupported NRs to be used outside Business Registry app"
Design the redirect to legacy apps and any messaging for unsupported (i.e. we can't use in the BC registry) NRs.

### Target action for all NR Types
https://docs.google.com/spreadsheets/d/15OW85sMnOrY3dbcrKFJMo5xSWNudcmjvfVjeLYi-K54/edit#gid=684053515
**ask Thor if you can't access**

~## Name Request Types and Actions Matrix~
~https://docs.google.com/spreadsheets/d/1Mnb1JOz0SSMAgDbk9fLlCAdgCT9GUu

[2021-06-25 18:16] PatrickAHeath opened #8043 "NR Extension Date not updated in NRO"
ServiceNow incident: INC0098013

Contact information
Staff Name:  Debbie Blythe
Staff Email:

Description
NR Extension has been applied in NAMEX but is not updated in NRO.  Update Extension Date in NRO to July 31, 2021.

Email from Client:

Patrick can you create a high priority bug for this please that needs to be worked on today.

Kaine Sparks
Director, Digital Operations|  BC Registries and Onl

[2021-06-25 19:01] ghost opened #8044 "BC Online replacement"
Features needed in BC Registries to support phasing out of BC Online

1. - [ ] Need a functionality in BCR for staff to charge a client's account as it exists in BCOL currently

[2021-06-25 19:09] amit4610 commented on #7988
Final release notes after review:

The modernization team is releasing some changes on June 28th.
Please forward to your teams.

ACCOUNT SETUP CHANGES
•	7540 – Added a button in the manage business dashboard to navigate to the Name Requests.
•	7782 - Additional information is captured during account creation including Personal or Business Account, type of business and size of business.
•	7381 - VO

[2021-06-25 19:20] PatrickAHeath opened #8045 "OPS - Deactivate Account for Robert A Lundberg - High Priority"
ServiceNow incident: INC0098017
Contact information
Staff Name:  Cheryl Hall
Staff Email: Cheryl.1.Hall@gov.bc.ca

Description
Client's affidavit was rejected.  Account must be deactivated for them to continue

Account Name:  Robert A. Lundberg

Email from staff:

[https://app.zenhub.com/files/157936592/8f76e950-69ec-421b-bc6e-55cd89110580/download](https://app.zenhub.com/files/157936592/8f76e950-

[2021-06-25 19:48] severinbeauvais commented on #7974
At the moment, namex knows about the following entity types:
[code]

Can someone help me translate these to the Lear legal types?, Ie,
[code]

[2021-06-25 19:48] thorwolpert commented on #7974
From NRO
[code]

[2021-06-25 20:01] rarya-freshworks commented on #7435
@mstanton1 I have gone through the steps mentioned above and was able to verify the payment screen as fixed. Please let me know if you there are more scenarios that I can walk through to confirm.

[2021-06-25 20:02] mstanton1 commented on #7435
@rarya-freshworks that one test is sufficient. This can be moved to done:) Thanks

[2021-06-25 20:11] rarmitag commented on #8045
Ok , Mr. Lundberg's account has been deactivated.

[2021-06-25 20:42] sumesh-aot opened #8046 "Account name validation for deactivated account"
Removed from #5937

### Account Name Logic Change
For account with individual/personal name,
 - Account Name field would be unique
For account with Business Name
 - Legal Business Name and Branch name combined should be used to determine the uniqueness of Account Name

**Scenario 7: Reuse the Legal Business Name after Account deactivation**
GIVEN that I have already deactivated an account that was

[2021-06-25 20:42] sumesh-aot commented on #5937
Moved AC 7 and 8 to https://github.com/bcgov/entity/issues/8046

[2021-06-25 21:17] rarmitag commented on #8043
Data corrected by David R. Just needs to be verified.

[2021-06-25 21:30] Kaineatthelab opened #8047 "Data Migration for PI10"

[2021-06-25 21:32] jdyck-fw commented on #8035
Wilson, Meribeth CITZ:EX Meribeth.Wilson@gov.bc.ca

Jason to invite for planning, grooming and retrospectives

[2021-06-25 21:35] Sienna-Blumstengel opened #8048 "Send AR reminder to all bcomps that have outstanding ARs"
## Background
Kat asked for this report in [this friday requirements gathering meeting](https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={EF83F4B1-4A61-4199-AB42-2663E9C58456}&file=2021-06-25%20-%20Annual%20Report%20Reminders.docx&action=default).
Because we have some LTDs that have altered to become BComps, they will have outstanding ARs right now.
I thin

[2021-06-25 21:38] Sienna-Blumstengel commented on #8048
FYI @lmcclung

[2021-06-25 21:39] PatrickAHeath opened #8049 "OPS - Inactive link in Name Requests application"
ServiceNow incident:  INC0098050
Contact information
Staff Name:  Sandra Healy
Staff Email:  Sandra.Healy@gov.bc.ca

Description
Link from Name Requests application for guidelines for how to build a name cannot be found.

Email from staff:

[https://app.zenhub.com/files/157936592/0b0dd8b1-2412-464b-9f0d-8ae11987ff76/download](https://app.zenhub.com/files/157936592/0b0dd8b1-2412-464b-9f0d-8ae11987f

[2021-06-25 21:54] Kaineatthelab opened #8050 "1-Go Live Name Request"

[2021-06-25 22:02] Kaineatthelab commented on #5993
covered under 5588

[2021-06-25 22:02] #5993 closed

[2021-06-25 22:03] lmcclung commented on #5588
[See the list of valid user journeys](https://docs.google.com/spreadsheets/d/1ZE6ox2w_ka_f6ItXZ6RLe7jlGZYP9P19c33AXvMalsc/edit?usp=sharing), i added the missing one in yellow

⚠️
**Note**: there have only ever been 4 of these filings done, ever.
**ANother note:** It may be significant work, because NRO and nameX don't have it in there either

[2021-06-25 22:06] Kaineatthelab commented on #5923
changed flow closed

[2021-06-25 22:06] #5923 closed

[2021-06-25 22:09] Kaineatthelab commented on #5830
@JohnamLane is this still a thing? :)

[2021-06-25 22:11] #6238 closed

[2021-06-25 22:14] #5575 closed

[2021-06-25 22:14] #4704 closed

[2021-06-25 22:17] Kaineatthelab commented on #5518
@severinbeauvais do you know if this is complete

[2021-06-25 22:17] #6423 closed

[2021-06-25 22:19] #5787 closed

[2021-06-25 22:19] #5215 closed

[2021-06-25 22:20] #6006 closed

[2021-06-25 22:30] severinbeauvais commented on #5518
The first part is done -- after logging in, the user is returned to Namerequest.

The second part is not done. As mentioned above, it requires NR to store its current data somehow and be able to reload it after logging in. Unfortunately, this is a significant amount of work. I was hoping to implement URL routing into NR UI (ie, so the URL specifies the page you are on) but ran out of time in March

[2021-06-25 22:30] Kaineatthelab commented on #5866
@thorwolpert @sumesh-aot @severinbeauvais was this fixed:)

[2021-06-25 22:34] #5474 closed

[2021-06-25 22:36] #6942 closed

[2021-06-25 22:37] sumesh-aot commented on #8007
After issue fix you should get error as below from pay-api;

[code]

[2021-06-25 22:38] #6059 closed

[2021-06-25 22:38] #8025 closed

[2021-06-25 22:38] #6609 closed

[2021-06-25 22:38] #6336 closed

[2021-06-25 22:38] #7187 closed

[2021-06-25 22:40] #6510 closed

[2021-06-25 22:43] mstanton1 commented on #7813
For NR 4708469 it looks like there are some discrepancies. First, in line 28 in the ticket above it notes that the refund request was for the priority fee only. Debbie mentioned this NR did not have the priority flag.

As far as re-charging the $31.50 that was refunded in error this can be done through the Fee Accounting System. However, in reaching out to Debbie to request support from her team s

[2021-06-25 22:43] Kaineatthelab commented on #7380
how much value does this give us?

[2021-06-25 22:44] severinbeauvais commented on #5866
It looks to me like this is fixed.

Currently, if you are in NR UI and you log out, you will be returned to NR UI.

[2021-06-25 22:56] PatrickAHeath opened #8051 "OPS - Delete Basic Registries Account CatesFordSollEppLaw"
ServiceNow incident:  INC0098083
Contact information
Staff Name:  Deirdre Clancy
Staff Email:  Deirdre.Clancy@gov.bc.ca

Description
Client opened a Basic Registries account by the name CatesFordSollEppLaw.  Subsequently created a Premium Registries account with firm name Cates Ford Soll & Epp LLP.

Client is asking to delete the Basic account.

Staff email:

[https://app.zenhub.com/files/15793659

[2021-06-25 23:00] mstanton1 commented on #8032
Ideally analysis would review all data elements through the BC BN Hub as the longer term goal is to replace the Hub. However, as that is monstrous I will review the BNI DB, BNI interface, BNI GAP Analysis, Data Display in SoFi/COLIN, and newer messages in the Hub or known Hub data elements that are omitted.

[https://app.zenhub.com/files/157936592/dd752357-aa05-4e98-b889-41d21eac50e6/download](htt

[2021-06-25 23:06] jdyck-fw commented on #8035
Moving this into In Progress for visibility while I'm out @Sienna-Blumstengel  ty for your help :)

[2021-06-25 23:06] Sienna-Blumstengel commented on #7338
@riyazuddinsyed have you been testing this in test, or dev? That will determine if we can release it

[2021-06-25 23:10] lmcclung commented on #7981
@sumesh-aot do you have an auth release for this?  Do you know when this would get released?

[2021-06-25 23:39] sumesh-aot commented on #7981
@lmcclung our release is scheduled to happen on Monday. But it's not confirmed yet due to a names issue.

[2021-06-25 23:42] tlebedovich commented on #7545
@forgeuxGH5 - this one was closed, and devs we having trouble finding the separate UX and Visual design tickets for this so I just moved your wireframe and sorting rules doc into my visual design ticket.

[2021-06-26 00:16] tlebedovich commented on #7745
@forgeuxGH5 Can you please update your spreadsheet to specify what all of the action buttons do for the devs.

[2021-06-28 14:19] PatrickAHeath commented on #8043
Emailed Debbie to let her know dates have been updated.  She will contact client.  Waiting for feedback that all is OK.

[2021-06-28 14:23] PatrickAHeath commented on #8045
Cheryl will be contacting client.

[2021-06-28 15:39] stevenc987 commented on #8049
@PatrickAHeath
I checked this link was defined in \namerequest\src\components\common\names-capture.vue file. The link doesn't exist anymore. The link should be updated probably
From: https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/businesses-incorporated-companies/approval-business-name/how-to-name-business
To:      https://www2.gov.bc.ca/gov/co

[2021-06-28 15:47] stevenc987 commented on #8051
@PatrickAHeath
The basic account was INACTIVE now.

[2021-06-28 15:51] jyoti3286 opened #8052 "Schema Changes for Creating Routing Slip(FAS)"
This ticket is for working on the backend schema changes for creating a routing slip
Payment information fields:

- Routing slip (number field)
- Amount received ($)
- Status (active, bounced, refunded, hold, NSF)
- Date (auto-populated)
- Cheque number (optional field)
- Cheque date (optional field)
- Cheque Amount (optional field)
- Fee code and filing type
- Balance
- Name of person submitting

[2021-06-28 15:58] lmcclung opened #8053 "Refund Multiple payments for RENEW NRs - NR 7056905 - Insception Biosciences Inc."
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name:  Linda (email from client)
Staff Email:

#### Description
Client created NR in NRO
Tried to renew in Name Request app
Received error messages each time she tried to pay
Ten credit card transactions were taken.
Need to refund all of them as client ended up submitting ren

[2021-06-28 15:59] PatrickAHeath commented on #8049
@stevenc987 The information link is related to how to build a name, not just creating an NR.  I believe a more appropriate link would be

https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/businesses-incorporated-companies/approval-business-name#choose

[2021-06-28 16:09] stevenc987 commented on #8053
@lmcclung
There is no any payment record in postgres for this NR;

[2021-06-28 16:11] lmcclung commented on #7981
@sumesh-aot @Sienna-Blumstengel please let me and Sienna know if it goes in so we can include it in some release communications.

[2021-06-28 16:19] Sienna-Blumstengel commented on #7402
"Hi Sienna, I’ve made note on the NR that we haven’t heard back from the client and we have closed the ticket.  Thanks, Debbie"
We can close it @amit4610 !

[2021-06-28 16:24] #7435 closed

[2021-06-28 16:25] lmcclung commented on #8053
@stevenc987 - sorry, I had the wrong number - should be NR 7056985.  Can you check again?

[2021-06-28 16:26] #7402 closed

[2021-06-28 16:27] mengdong19 opened #8054 "SERVICE-ACCOUNT-ENTITY-SERVICE-ACCOUNT payment without line item."
When review "no fee" transaction data, there is one record paid by SERVICE-ACCOUNT-ENTITY-SERVICE-ACCOUNT, but without payment line items. It might be because filling type is not sent to pay-api.
![image.png](https://images.zenhubusercontent.com/5c747659d74bd07972c36d5e/6ebf24a6-1414-4bba-a8f9-0d3dd6986178)

[2021-06-28 16:31] stevenc987 commented on #8049
@PatrickAHeath
What I was telling you is which file the link was. The developer should decide the proper link.

[2021-06-28 16:36] stevenc987 commented on #8053
@lmcclung

![image](https://user-images.githubusercontent.com/25512847/123672558-4c7a2f00-d7f4-11eb-95c4-5c411e157c6f.png)

[2021-06-28 17:19] Sienna-Blumstengel commented on #8049
I will ask Genevieve if she knows of a better resource to link here.
She has good knowledge of everything on the bcreg.ca website, and is also a names examiner.
I will define the correct link, and we can assign this to the ops dev of the day to update.
We can release it in a normal release cadence (?) @lmcclung

[2021-06-28 17:26] lmcclung commented on #8031
Re: NR 7056985

![image](https://user-images.githubusercontent.com/25512847/123672558-4c7a2f00-d7f4-11eb-95c4-5c411e157c6f.png)

[2021-06-28 17:44] #6912 closed

[2021-06-28 17:46] Sienna-Blumstengel commented on #8049
Gen as suggested the same a sSteven, let's update the link to be this: (this is the permanent link, to the link won't break in the future):
https://www2.gov.bc.ca/gov/content?id=4A6A55FAD204494D9AF0B53BDC13A24F

[2021-06-28 18:06] amit4610 commented on #7794
captured in 7792

[2021-06-28 18:06] #7794 closed

[2021-06-28 18:48] amit4610 commented on #7797
captured in 7792

[2021-06-28 18:48] #7797 closed

[2021-06-28 19:09] Sienna-Blumstengel commented on #7950
@tlebedovich Based on Jason's comment, I think this has to with submitting party/completing party/certify stuff? Maybe @lmcclung can confirm? You might be blocked until I review Patrick's findings and determine a solution. But i actually think maybe you can help with finding a solution as well - here is patrick's assessment of filings from all the legacy systems and if they say "submitting party"

[2021-06-28 19:09] Sienna-Blumstengel commented on #6995
Thanks @amit4610 !!

[2021-06-28 19:18] lmcclung commented on #8053
@mstanton1 you can just use this ticket for the bcol refunds.

[2021-06-28 19:20] #7398 closed

[2021-06-28 19:29] Sienna-Blumstengel commented on #7955
Currently, when a client files a filing, they must write the "Certified by" name. This is a free form field that you type in the final steps of a filing, and the name is displayed in 1. Filing outputs, and on the 2. filing on the dashboard (where it displays "FILED BY:").
We do not currently use the legal name form the services card anywhere.

I think the plan is to move towards replacing this fre

[2021-06-28 19:47] SateeshFW commented on #7970
IDIR request incident has been closed on 25th June

[2021-06-28 19:48] #7970 closed

[2021-06-28 19:49] lmcclung commented on #6858
@cameron-freshworks @riyazuddinsyed @Sienna-Blumstengel

A few updates to make:
For all of them, there should be a link in the help text to Section 42 of the Business Corporations Act.
https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/02057_02#section42

For ULCs...
need to update this section, removing a few words as no special provisions
![image.png](https://images.zenhubuserconten

[2021-06-28 20:01] forgeuxGH5 commented on #7950
I think this is the ticket to design Step 2 of the IA for CCC's since they have 3 directors like Coops, but they don't have the residency requirements like coops (at least not that I know of - that's what we need to know requirements-wise before we do the design).

[2021-06-28 20:04] mstanton1 commented on #8053
Looked up NR to obtain account information:
BLAKE CASSELS & GRAYDON
BCOL Account No: 281578

Sent to Joanna to request refund is manually processed.

[2021-06-28 20:05] lmcclung commented on #7950
@forgeuxGH5 @tlebedovich @Sienna-Blumstengel
This ticket was to make step 2 similar to the design for coops - where completing party is auto-filled from the account and has its own section.
then can also add directors and incorporators after that.
btw, Cameron has already done the UI so that CCCs have a 3 director requirement.  Pretty cool!

[2021-06-28 20:11] forgeuxGH5 commented on #7950
I'm just looking at doing the completing party more like it's currently done (vs a separate section) - might be less work.

[2021-06-28 20:15] lmcclung commented on #7950
@forgeuxGH5 so not have it autopopulated with user name, account address?

[2021-06-28 20:17] cameron-freshworks commented on #6858
@lmcclung Sounds good, will update!

Does this mean Section 42 of the Business Corporations Act is a link in its current context or is there supposed to be separate link?

[2021-06-28 20:22] mstanton1 commented on #7955
@Sienna-Blumstengel thanks for the information! . As far as terminology ("Certified by" etc), I lack knowledge on the difference of those but would recommend looking up the legislation to see if there is any definition in the Business Corporations Act or Regulations.

And yes, our team is happy to work with your team on use of name throughout the app. This might be something worth reviewing as we

[2021-06-28 20:33] lmcclung commented on #6858
@cameron-freshworks Umm, attach a link to the words Section 42.  Not sure what you mean.

[2021-06-28 20:36] #7764 closed

[2021-06-28 20:37] forgeuxGH5 commented on #7950
It would auto-populate and be un-editable (based on account info - services card and account address), but it would allow selection of including the CP as an incorporator and director - like the current IA. We could add the info about why this in un-editable inside the expansion (at the top).
I added the current wireframe WIP in the description ^ so you can see how it would look.
We could leave th

[2021-06-28 20:37] cameron-freshworks commented on #6858
Yep, thats what i meant :) Turn the existing words into a link! Thanks :)

[2021-06-28 20:38] mstanton1 commented on #7955
Trish has suggested due to time lapse and nature of inquiry that Olisa or Cam call the client. I have summarized all information in an email to Cam and Olisa. I have offered to join in on the call in the event questions come up about the system.

[2021-06-28 20:48] tlebedovich commented on #7643
@forgeuxGH5 - there is a duplicate ticket for this that Patrick made, linked to my design ticket so I will close this one and put the other into Grooming

[2021-06-28 20:49] #7643 closed

[2021-06-28 20:51] lmcclung commented on #7950
I'm okay with leaving table as is.  Just sent email to Susan Dhillon to see about the 'completing party' being uneditable and she said auto-populating the field would be helpful.

[2021-06-28 20:53] #2002 closed

[2021-06-28 21:01] mstanton1 commented on #7955
Cameron has left a voicemail for the client.

[2021-06-28 21:04] mstanton1 commented on #8053
All refunds have been reversed in BC Online by Joanna Barnes. Note the three transactions from 2 AM on June 15th showed in BC Online as occurring on June 14th.

Future BCOL refunds for scenarios such as this where a system error has taken place and a client cannot manually request a refund through Name Requests should be sent to BCOLHelp@gov.bc.ca cc'ing Joanna.

[2021-06-28 21:07] lmcclung commented on #6566
@andrepestana-aot looks like the HOME_JURIS_NUM isn't working right in TEST.  Can you confirm the code was pushed to test?
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/e82ad9af-bb5e-4e7c-a86b-bafc4e273fc3)
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/ea0dca96-6354-408c-8cd3-422e31fe6ce6)

[2021-06-28 21:30] cameron-freshworks commented on #6858
Updates are in review! 👍

[2021-06-28 21:38] mstanton1 commented on #7971
Karen Berben currently completes tasks to reconcile between eGarms and BC Online. She uses the following job aide:

[https://app.zenhub.com/files/157936592/76d804b0-25e7-4db0-af0c-f06e88ded733/download](https://app.zenhub.com/files/157936592/76d804b0-25e7-4db0-af0c-f06e88ded733/download)

Reconciliation uses the three reports below.
•	GA3780 – BC Online Earned Revenue Report
•	GA3740 – BC Online D

[2021-06-28 21:42] forgeuxGH5 commented on #7950
I think the thing is the mailing/delivery address for directors. Do CCC directors need to provide both addresses and can they be different? Do they have to use the account address or can both addresses be editable?

[2021-06-28 21:46] PatrickAHeath commented on #8043
Debbie confirmed that dates have been updated.

@Sienna-Blumstengel Found closed ticket 7704 that had the same issue related to Expiry Date not being updated in NRO.  Not sure if a fix was done for 7704 or if the same issue exists.  @kialj876 Do you recall if the NRO Update fix was included with7704?

[2021-06-28 22:10] lmcclung commented on #7950
CCC directors are just the same as benefit company directors with the exception that there needs to be a minimum of 3 of them.
So, no residency requirements, need both mailing and delivery (which can be different).  I'm not so keen on using the account addresses for directors.  I can here corps team in my office saying we're making it too easy for them to make an error.  I'll ask Kat.

Also emaile

[2021-06-28 22:11] Sienna-Blumstengel commented on #7950
@forgeuxGH5 @lmcclung Melissa is currently gathering info on using legal name for things right now, see 7955

[2021-06-28 22:13] lmcclung commented on #7950
@forgeuxGH5 law firms would like manual entry for director name and address.  If a director is not using a residential address as his/her prescribed address then it usually ends up being the company’s business address.

[2021-06-28 22:22] forgeuxGH5 commented on #7950
OK - I'll update the wireframe

[2021-06-28 22:31] lmcclung commented on #7927
@Sienna-Blumstengel no, I was wrong.  Only the one alteration.
I've opened up INC0098361 with the home team to suppress the jasper reports in SOFI as they are incorrect (still state limited company not benefit company).

Once they have suppressed the outputs we can close this ticket.

[2021-06-28 22:36] #6980 closed

[2021-06-28 22:37] #6682 closed

[2021-06-28 22:37] #6556 closed

[2021-06-28 22:37] #6288 closed

[2021-06-28 23:32] andrepestana-aot commented on #6566
I checked that there's still an issue in Test because the MRAS search flow has slightly difference and it is resetting corp search value. I fixed and submitted a PR.

[2021-06-28 23:38] #7338 closed

[2021-06-28 23:51] lmcclung commented on #4114
@vysakh-menon-aot Sienna add two paragraphs to the template based on staff feedback.

[2021-06-29 00:26] mengdong19 opened #8055 "Update postman collection for sbc-auth"
Postman collection need to be updated to add new end point and also new environment settings to match recent code update and server migrations.

[2021-06-29 00:46] mengdong19 opened #8056 "Remove hard coded urls from code"
There are some hard coded url in mailer service related code and also payment_account, refund code. Ideally, these should be read from environment config.

![image.png](https://images.zenhubusercontent.com/5c747659d74bd07972c36d5e/237d0370-c548-44d1-acba-ea9c7ca03309)

![image.png](https://images.zenhubusercontent.com/5c747659d74bd07972c36d5e/f7d8248b-6f3f-492c-87a5-194b11797c37)

![image](https:/

[2021-06-29 02:38] tlebedovich commented on #7437
@forgeuxGH5 - I have laid out all the error screens and made some edits. There are a couple where I wasn't completely sure what the background screen would look like (Log In Failure and Failure to complete after paying).

Have a look before grooming if you have a chance to

[2021-06-29 13:39] vysakh-menon-aot commented on #4114
@lmcclung @Sienna-Blumstengel please verify email output (note that these are sample data)

![image.png](https://images.zenhubusercontent.com/5f32f33a77ef9e4d453c1945/c49b6e24-3a94-4de9-ab43-5b0acf0da03f)

[2021-06-29 15:14] saravanpa-aot commented on #7698
@mstanton1 @jyoti3286 I wrote some extra code so that this option will be visible only for BCEID and BCSC accounts only..
ie not for director search accounts and govm accounts.. Please let me know if it should be shown for all users...
If it has to be shown for all users , what should be showing for dir search users and for govm?

[2021-06-29 15:15] mstanton1 commented on #8016
The client has been provided information for proceeding. Cameron will advise if further support is required.

[2021-06-29 15:26] Sienna-Blumstengel commented on #4114
@vysakh-menon-aot the third paragraph has a weird symbol in it, in "Corporate Registry's". It also appears in the fourth paragraph after "company's". Did the apostrophe do that?
Also could you add a comma in the third paragraph, after the word mail? "if you prefer to file by mail**,** contact the corporate registry's.."

[2021-06-29 15:43] mstanton1 commented on #7698
@saravanpa-aot yes, nothing should show for director search accounts:) Thank you. GovM should still function as it did before (team members are listed in team members tab using whatever format was originally agreed upon).

[2021-06-29 15:54] mstanton1 opened #8057 "Updated PIA Checklist"
Title of ticket: [Entity number and name] or "Account Management"

#### Description
As part of switching to a portal agreement with IDIM an updated PIA checklist is required. The PIA checklist should include service being onboarded now and in the future.

[https://app.zenhub.com/files/157936592/be81d60e-4919-4351-a82a-8aba4e19a441/download](https://app.zenhub.com/files/157936592/be81d60e-4919-4351

[2021-06-29 15:56] mstanton1 opened #8058 "Update PIA"
Title of ticket: [Entity number and name] or "Account Management"

#### Description
As a result of switching to a portal service agreement with IDIM PIA updates are required.

- [ ]  update existing PIA to explain we have a portal agreement and will onboard services
- [ ] list services we will be onboarding in the future to avoid having to get sign-off as we onboard each new partner.

_During this

[2021-06-29 15:59] vysakh-menon-aot commented on #4114
@Sienna-Blumstengel updated

[2021-06-29 15:59] Sienna-Blumstengel opened #8059 "AR Reminder - Get staff approval on email content"

[2021-06-29 16:00] sienna-oldaccountdontuse opened #8060 "AR Reminder - Release communication"

[2021-06-29 16:28] amit4610 commented on #7875
Louise has raised the request to Avocette.
There is no dev fee, Jyoti confirmed with Ian

[2021-06-29 16:28] amit4610 commented on #7910
Haven't heard back from the business. Closing this.

[2021-06-29 16:28] #7910 closed

[2021-06-29 16:44] mstanton1 commented on #6528
PayBC has escalated to Provincial Treasury on our behalf. We have been advised:

We discussed this with Provincial Treasury and they are not able to update the message and recommended we increase the transaction time out.  Our timeout is set at 30 minutes which already exceeds the OCIO standard of 15 minutes.  Due to that our Security Officer will not approved extending the time out.

We will be s

[2021-06-29 16:49] lmcclung opened #8061 "Create new Cron job in Openshift for Annual report reminder"

[2021-06-29 16:49] lmcclung opened #8062 "Create new Cron job in Openshift for Annual report reminder"

[2021-06-29 16:53] forgeuxGH5 opened #8063 "UI Design - Select a Registration type to start a Registration (My PPR dashboard)"
There dropdown that appears depends on the user type that is logged in
For government users (those who file under the Micellaneous Registrations Act) display the dropdown only version; for all other user types display the segmented button dropdown.

## Wireframes
**Government users (those who file under the Micellaneous Registrations Act)**
https://preview.uxpin.com/e5f438df5baa807daeb308a6ded2f7b

[2021-06-29 16:55] lmcclung opened #8064 "Integrate Emailer updates into Duplicate message tracking code"
Once Vysakh's work in 4113 done, Argus needs to integrate this code into the duplicate message tracking code.

[2021-06-29 16:57] #8061 closed

[2021-06-29 16:57] lmcclung commented on #8061
duplicate created in error.  Kept 8062

[2021-06-29 17:09] severinbeauvais commented on #7974
@lmcclung Can you help me convert these types to Lear please?

1. "UL" ? Ie,
[code]

2. "FIRM" ? Ie,
[code]

3. "FR" ? Ie,
[code]

4. "GP" ? Ie,
[code]

5. "DBA" ? Ie,
[code]

6. "LP" ? Ie,
[code]

7. "LL" ? Ie,
[code]

8.  "CC" ? Ie,
[code]

9. "FI" ? Ie,
[code]

10. "PAR" ? Ie,
[code]

11. "XCR" ? Ie,
[code]

12. "XUL" ? Ie,
[code]

13. "RLC" ? Ie,
[code]

14. "XLP" ? Ie,
[code]

15. "XLL" ? Ie,

[2021-06-29 17:20] forgeuxGH5 opened #8065 "UI Design - Select Registration Type (My PPR dashboard)"
## PPR Registration Types Spreadsheet
https://docs.google.com/spreadsheets/d/18eTumnf5H6TG2qWXwXJ_iAA-Gc7iNMpnm0ly7ctceTI/edit?usp=sharing

## Wireframes
**For gov users (Miscellaneous Registrations Act)**
~https://preview.uxpin.com/e5f438df5baa807daeb308a6ded2f7be2e230035#/pages/139434200~

**For all other user types**
~https://preview.uxpin.com/e5f438df5baa807daeb308a6ded2f7be2e230035#/pages/139

[2021-06-29 18:06] #7955 closed

[2021-06-29 18:06] #8016 closed

[2021-06-29 18:06] #7988 closed

[2021-06-29 18:14] #7165 closed

[2021-06-29 18:16] #7945 closed

[2021-06-29 18:16] #7808 closed

[2021-06-29 18:16] #8053 closed

[2021-06-29 18:20] cameron-freshworks commented on #7351
@riyazuddinsyed @lmcclung
After seeing something during Lindas demo, i think this needs to be pulled back to in progress.
In some scenarios it looks to be applying the Designation twice if the user manually writes in the corp designation and selects a Designation via the drop down.

[2021-06-29 18:37] mstanton1 commented on #7952
I have created a new tab in the KeyCloak Quarterly Reviews 2021 document:

https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3701

I have reviewed all access through KeyCloak and recorded users under each access group.
Emails have been sent to team leads to confirm staffing.

Updates will be made, and documented, based upon feedback from t

[2021-06-29 18:45] Sienna-Blumstengel commented on #7119
Kat told me that we should wait until it is actually made historical, before we send the stamped output. I Reordered the steps.

- [x] Amber to provide client with [Form 17](https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-forms/form_17_com_-_dissolution_request.pdf) to fill out
- [x] Client to fill form

[2021-06-29 18:47] tlebedovich commented on #7437
new scenario 10 - error retrieving Registering Party. Existing screenshot from Doug --

![Screen Shot 2021-06-29 at 11.34.55 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/fcf6d2ba-45ed-4fd1-9009-58f4cd3f5229)

@forgeuxGH5 @janisrogers

[2021-06-29 18:49] mstanton1 commented on #7952
@saravanpa-aot in Keycloak in both the search and viewer groups a person who has authenticated with BCSC now has access. Are you able to track who granted this access? I will need to remove it once you've had a look.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/abd866b0-ab90-42fd-8588-70eefbe30073)

![image.png](https://images.zenhubusercontent.com/5ba90c7629a7855449

[2021-06-29 18:58] trishreimer commented on #8022
Maribeth is working on this and will target to have a draft complete by Friday.
She will send to @mstanton1 & @amit4610 to review.

@jyoti3286 As discussed last week, she is actually reviewing all resources and reviewing and updating to see what updates are needed for photo/non-photo cards and account flow.

[2021-06-29 19:11] forgeuxGH5 opened #8066 "UI Design - Group actions in the "actions" dropdown and move Extrapro registration to Business action menu"
Change intro sentence for name request selector
Change dropdown label from "actions" to "business actions"
Group items in the business actions menu
Provide descriptions for each menu item in the drop down
Create an "Extraprovicial Registration" business menu item
Remove the Extrapro jurisdiction options from the Jurisdiction menu
Create a jurisdiction menu associated with the new "Extraprovicial R

[2021-06-29 19:19] tlebedovich commented on #6987
hi @SateeshFW  Can we keep this open until we finish the design updates from today please :)

[2021-06-29 19:20] tlebedovich commented on #6987
nevermind, this is the other error ticket, sorry.

[2021-06-29 19:20] #6987 closed

[2021-06-29 19:56] Sienna-Blumstengel opened #8067 "Add reason for rejection to body of transaction history"
## Background

INC0098540

Staff are wondering why they can’t see the reason for rejected NRs in the transaction history, it just says “rejected”. In NRO the transaction history shows if it conflicted with something, was missing a distictive, whatever. THis i missing from the name request transaction history.

“The original examination info IS displayed at the top of the screen in a static view. (

[2021-06-29 20:06] saravanpa-aot commented on #7698
Thanks @mstanton1 .So with respect to this ticket , no changes will be there for GOVM or IDIR

[2021-06-29 20:21] saravanpa-aot commented on #7952
^^ @sumesh-aot ?

[2021-06-29 20:41] severinbeauvais commented on #7974
I am blocked by unclear and incomplete requirements.

[2021-06-29 20:42] PatrickAHeath opened #8068 "UI Design - Trust Indenture on Registration - Written Description"
### Visual Design Comps:
https://www.figma.com/file/7iEKHDFXJZGGhp9OOqF3Mi/MHR%2BPPR---Misc-Updates?node-id=0-1

--------------

notes for designers:

Based on feedback from Registration demo in June 29 Sprint Review meeting, the following enhancements were suggested:

There is a lot of confusion on what trust indenture is from users and it is often selected when it shouldn't be. We may want to de

[2021-06-29 20:48] PatrickAHeath opened #8069 "Trust Indenture on Registration - Description & Yes/No Radio Buttons"
Based on Feedback from Registration demo in June 29 Sprint Review meeting, the following enhancements were suggested:

- [ ] add a description of what a Trust Indenture is that is always visible

- [ ] have the Trust Indenture be Yes or No radio buttons rather than a checkbox

[2021-06-29 20:52] mstanton1 opened #8070 "Bambora PayBC Access for Typer Finnie"
#### ServiceNow incident:
#### Contact information
Staff Name: Michael Kagis
Staff Email: Michael.Kagis@gov.bc.ca

#### Description
Please see below. Tyler Finnie Has joined IT Ops from BCOLHelp and Wwael now tells me he needs access to PayBC in Bambora. PayBC is not a merchant account that I manage for Registries as I do for the merchant accounts on home team applications.

Linda mentioned that s

[2021-06-29 20:53] PatrickAHeath opened #8071 "UI Design - Use VON when adding new Business Secured Party to a registration"
Based on feedback from Registration demo in June 29 Sprint Review meeting, the following enhancement was suggested:

- [ ] Use VON to lookup businesses when adding a new Business Secured Party to the registration

[2021-06-29 20:57] PatrickAHeath opened #8072 "Use VON when adding new Business Secured Party to a registration"
Based on feedback from Registration demo in June 29 Sprint Review meeting, the following enhancement was suggested:

- [ ] Use VON to lookup businesses when adding a new Business Secured Party to a registration

[2021-06-29 21:04] chdivyareddy commented on #7530
Verified in Dev![RegistrationNumberSearch.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/caf21181-0671-4545-b6d5-e96ae488661b)

[2021-06-29 21:04] ghost opened #8073 "FAS documentation"
For the New FAS, create:
FAS BRD
Process flows

[2021-06-29 21:05] PatrickAHeath commented on #7691
Based on feedback from Registration demo in June 29 Sprint Review meeting, suggested change to modify address 'street' labels since mailing addresses can include postal boxes, rural routes or general delivery.  (an address that doesn't include a 'street')

[2021-06-29 21:08] mstanton1 commented on #8070
If access is not working this can be directed to Tara Whalen. However, first, I've sent an email asking that Wael have Tyler attempt to log on. I've confirmed in an email I sent March 18th that I had requested access for Tyler Finnie previously and we received a response that the user access request was complete.

[2021-06-29 21:21] sumesh-aot commented on #7952
<img width="1240" alt="Screen Shot 2021-06-29 at 2 19 55 PM" src="https://user-images.githubusercontent.com/32399922/123868975-444dec80-d8e5-11eb-93e9-a81176bac8a0.png">

[2021-06-29 21:22] sumesh-aot commented on #7952
<img width="738" alt="Screen Shot 2021-06-29 at 2 22 00 PM" src="https://user-images.githubusercontent.com/32399922/123869076-66476f00-d8e5-11eb-8e69-48bd45812619.png">

[2021-06-29 21:22] sumesh-aot commented on #7952
User is part of names examiner group too, which also has to be removed

[2021-06-29 21:28] mstanton1 commented on #7952
I have removed Susan Menzies (BCSC) from the search, viewer and NameX_Examiner groups and corresponded with staff who had added her.

[2021-06-29 21:36] PatrickAHeath commented on #8045
Issue resolved.

[2021-06-29 21:36] #8045 closed

[2021-06-29 21:52] tlebedovich commented on #8040
@forgeuxGH5 - I'm moving the "in app" consent item to the misc name request update ticket https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8021 we already have open so this ticket can move along to Done

[2021-06-29 22:07] tlebedovich commented on #8021
@forgeuxGH5 Can you take a look at some of the items here that require copy edits?

[2021-06-29 22:10] SateeshFW commented on #2125
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/7733c0ce-b585-450f-ac05-9e40c2d6ee3d)

![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/779282b2-7759-4e53-8100-64369daf7a5a)

![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/c68038e2-1ba4-4209-a753-18da551d866a)

Sprint 9.4 continue with ongoing action items...

Sprint 9

[2021-06-29 22:15] forgeuxGH5 commented on #7691
Street, PO Box, Rural Route, General Delivery - (Canada only) not sure about US and International yet

[2021-06-29 22:23] tlebedovich commented on #7138
hi @jordiwes it feels like Step 2 (Secured Parties and Debtors) may need your once over to compare dev build to UI/Visual design comps before its ready for UX Assurance. Unless you wanted to me review just UX functionality for these tickets and then do another round for Visual/Design??

For example;

![Screen Shot 2021-06-29 at 3.20.56 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528

[2021-06-29 22:38] severinbeauvais commented on #7974
My code changes are now in review (not draft). I commented out the legal types that Lear doesn't yet support.

[2021-06-29 22:43] saravanpa-aot commented on #6592
hi @jyoti3286 the UX pin is not updated I think.

[2021-06-29 22:50] Sienna-Blumstengel commented on #8012
@lmcclung do you agree this would be low priority?

[2021-06-29 23:01] mengdong19 opened #8074 "Cross check more fields for manually refund."
Current manually refund process is taking invoice number as identification. When staff accidently input a wrong number, for example typo, a wrong payment will be refunded. Add another field to cross check and validate the input will be helpful  to make sure refund is correct.
Ideally, there should be some UI for staff to refund payment or for client to make a refund request to staff.

[2021-06-29 23:02] Sienna-Blumstengel opened #8075 "AR Reminder - Go to staff standup July 6, give heads up, mention OneNote"

[2021-06-29 23:05] Sienna-Blumstengel opened #8076 "AR Reminder - Contact Joanna (email, meeting, other?)"

[2021-06-29 23:11] lmcclung commented on #7518
Removed work to expand condition from this ticket as this is covered under 7005.

Condition needs to show all of it, text is small, users will copy and paste from that text

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/6e1609a3-b85d-4403-87cf-d8a364ca1f12)

[2021-06-29 23:11] lmcclung commented on #7005
This was also included in part of #7518.  Have removed it from that ticket so we can do it here.

[2021-06-29 23:14] PatrickAHeath commented on #8068
Here's a layman's description of Trust Indenture from Donald Bird, a lawyer who is a member of our user group and involved in the writing of the Lawyer's Guide Book for PPR.

_A common structure for issuing debt is to issue bonds under a trust indenture.  The Trust Indenture will provide a common framework under which a large number of lenders can lend to a company with common loan terms.  If the

[2021-06-29 23:17] #6566 closed

[2021-06-29 23:17] #6858 closed

[2021-06-29 23:17] #6859 closed

[2021-06-29 23:17] #7731 closed

[2021-06-29 23:19] lmcclung commented on #7927
They have suppressed the alteration notice.  Cannot suppress the NoA.

[2021-06-29 23:19] #7927 closed

[2021-06-29 23:26] mengdong19 commented on #7638
Please check the review document at:
https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={2A81F5F1-1816-47AE-A335-FDB25DFCE521}&file=Quarterly%20Review-May2021.docx&action=default

[2021-06-29 23:31] Sienna-Blumstengel commented on #8041
Linda sent form for the first three sections to IT ops today

[2021-06-29 23:38] shabeeb-aot commented on #7717
remove enable-upgrade-downgrade-accounts from LD

[2021-06-30 00:00] chdivyareddy commented on #7602
Verified in Dev![Transactions.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/753da1d2-a53f-49bf-85cf-70d4f9a1368f)![Statements.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/bebcf5ed-7d61-4dc7-aff1-cc44c8a8bb14)

[2021-06-30 13:52] jyoti3286 commented on #7981
@Sienna-Blumstengel We are planning to deploy our release today, thank you

[2021-06-30 14:16] PatrickAHeath commented on #5771
Kial hasn't made any changes with regard to how designations are validated for extraprovincial names.  Still waiting to hear if the additional entries have been added to the SYNONYM table as I don't have access.

It's looking like this ticket is still an issue.

[2021-06-30 14:50] PatrickAHeath opened #8077 "OPS - Client receiving Passcode Already Claimed error"
ServiceNow incident:  INC0097826
Contact information
Staff Name:  Tammy Kivell
Staff Email:  Tammy.Kivell@gov.bc.ca

Description
Client is attempting to file annual reports for two coops.  The client gets the error _Passcode Already Claimed_.  When staff check her account, they get the error
_This accounts profile is incomplete. You will not be able to proceed until an account administrator entere

[2021-06-30 15:08] Sienna-Blumstengel commented on #2118
![Screen Shot 2021-06-30 at 8.07.35 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/f8192e55-12d3-47b3-a123-e80296b4412d)

- [ ] @jdyck-fw  - Review ZH workflows re: Ops tickets and new repo (carried over from last sprint)
- [ ] All - Release candidate to make releases more organized - fixes to release branch and merge to main later - continue to swarm on priority items
- [ ]

[2021-06-30 15:17] kialj876 commented on #7493
@Sienna-Blumstengel so I think we will need a new ticket for the receipt. We can't fix SOFI, that will need to be dev/ba who works with cobrs/the other apps, but if they give us all the receipt info we can probably create a receipt in our system (not sure if we're allowed to do that or not though). Can we close this ticket?

[2021-06-30 15:20] kialj876 commented on #7493
Oh I guess we have the RS (was this used for both filings?) -- if someone can verify that we're allowed to manually create the receipt for them then we can do that

[2021-06-30 15:20] #7573 closed

[2021-06-30 15:22] kialj876 commented on #7361
This issue was fixed in previous releases

[2021-06-30 15:22] #7361 closed

[2021-06-30 15:37] kialj876 commented on #8043
Okay after checking the transaction history for these NRs I have verified that they were all reapplied before the fix for this went in to prod. Closing now

[2021-06-30 15:37] #8043 closed

[2021-06-30 15:39] jordiwes commented on #7138
@tlebedovich  I will review again, I was probably looking at the wireframe

[2021-06-30 15:40] sumesh-aot commented on #8077
CP0001052 is already affiliated to account 289 (Lardeau Valley Consumers Coop), that's why they are receiving the message saying it's already claimed. Staff can do a passcode reset from staff dashboard based on the requirement.

Also that account doesn't have address, so their admin needs to login and update the account mailing address.

[2021-06-30 15:50] PatrickAHeath commented on #8077
@sumesh-aot  The client can see the mailing address but staff don't see the mailing address.  The original suggested fix was to add the mailing address (because the staff couldn't see it) but the client sent screen shot and it's there.

[2021-06-30 15:50] Sienna-Blumstengel opened #8078 "LEAR API & SBC AUTH - Add data to manage business table"
- this ticket needs a discussion and agreed upon design before we can groom it
- let's update the name of this ticket, if the design changes

## Background

Cameron is working on 7740, and would like a separate ticket to get the data in the table. The work to get the data in the table will be pretty large, and requires some design.

We need to define where we want to get data, if we want to get it

[2021-06-30 15:53] Sienna-Blumstengel commented on #8078
@cameron-freshworks please chat with Sumesh to start investigation/design on this

[2021-06-30 15:57] amit4610 commented on #8077
Can you please post the mailing address screenshot that the client sent?@PatrickAHeath

[2021-06-30 16:04] Sienna-Blumstengel opened #8079 "UI Design Add "request type" to NR summary screen"
Visual Design Comp:
https://invis.io/Q711BCQSBVF6#/454860109_Summary_Screen_Request_Types

[2021-06-30 16:15] Sienna-Blumstengel commented on #7188
the Cloud event service (7980) for NameX where we are updating solr will resolve this issue!
So we don't need to work on this. Changing to a Verify, we can check this ticket after we finish 7980.

[2021-06-30 16:22] lmcclung commented on #7005
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/ece1bb3a-8caa-4964-b32f-edf99fa7949e)

[2021-06-30 16:27] #7005 closed

[2021-06-30 16:29] PatrickAHeath commented on #8077
What the client sees:

![Client view of account.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/6d9d441b-787e-4035-865c-5c88bc7b5665)

What the staff sees:

![Staff view of account.jpg](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/9938614f-78ee-4c62-8faa-ecc0b256c907)

[2021-06-30 16:30] PatrickAHeath commented on #8077
What the client sees:

![Client view of account.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/ff98fb4b-7121-4b6a-9acf-ee5d73314af4)

What the staff see:

![Staff view of account.jpg](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/8b1afc72-d776-4078-bb1c-8396187961b2)

[2021-06-30 16:36] Sienna-Blumstengel commented on #8042
@Sienna-Blumstengel  to schedule meeting on Monday with scott tracey linda

[2021-06-30 16:42] sumesh-aot commented on #8077
Client is looking into different account (`Carol Ross`). The account which CPs are affiliated is `Lardeau Valley Consumers Coop` as in my comment above.
Staff us looking into correct account.

[2021-06-30 16:46] PatrickAHeath opened #8080 "PPR - Logout button in DEV & TEST does not logout user"
In the PPR DEV & TEST environments, clicking the logout button does not log the user out of the application.  The PPR dashboard refreshes and the user remains logged on.

[2021-06-30 16:53] sumesh-aot commented on #8052
Anticipated changes:
- Payment accounts to support FAS accounts
- Changes to payments, and may be invoices table
- New table to capture routing slips
- New endpoint for validating routing slip number
- New endpoint for creating routing slip
- API Spec update

[2021-06-30 17:02] rkim13103 commented on #6592
@saravanpa-aot  Updated the link

[2021-06-30 17:05] Sienna-Blumstengel commented on #7977
@cameron-freshworks please ask Sumesh about this, so we can groom this ticket Monday

[2021-06-30 17:06] Sienna-Blumstengel commented on #7977
@lmcclung we are going to groom this Monday, should I leave it in the sprint?

[2021-06-30 17:07] lmcclung commented on #6856
@tlebedovich can you review and if it looks good, push it along to Ready for QA?

Thanks.

[2021-06-30 17:09] severinbeauvais commented on #8039
@tlebedovich Can you point me to the design / design ticket please?

[2021-06-30 17:09] lmcclung commented on #6873
@tlebedovich can you do UX assurance and then send to QA if no issues.

I verified that the CCC requirement of 3 directors is in place and the other two are just 1 director.

[2021-06-30 17:13] PatrickAHeath commented on #8077
Info passed to staff:

Hi Tammy!

The client is looking at the account with name Carol Ross.  You are looking at a different account with name Lardeau Valley Consumers Coop.  That is why there is a difference in the information.

The two coops she is attempting to complete Annual Reports for are affiliated with the Lardeau Valley Consumers Coop account.  That account does not have a mailing addres

[2021-06-30 17:16] saravanpa-aot commented on #6592
@rkim13103 ,The challenge is multiple admins ; can you please help me with a UX pin link when there are multiple admins

[2021-06-30 17:20] severinbeauvais opened #8081 "Namex API: Invalid state transition"
**Describe the bug in current situation**
The Namerequest UI reported a HTTP 500 error in which the Namex API experienced "Invalid state transition [REJECTED] -> [INPROGRESS], valid states are [DRAFT, INPROGRESS]".

See Sentry log: https://sentry.io/organizations/registries/issues/2138028243/events/40c5fe935b874f8ab5f89a15c4345d52/?project=5433955

The call that failed was: PATCH https://namex.app

[2021-06-30 17:21] lmcclung commented on #6857
We decided to implement a webservice will all the combinations of entity/NR/filing types.  An Incorporate NR is the only type of NR we'd use for these IAs so we should keep the Request type: New Business here.
We may need to do some refactoring so that this IA calls the cloud event (7975) to validate whether the NR is still in a valid state.

[2021-06-30 17:27] severinbeauvais opened #8082 "NR: HTTP 400 on create payment request"
**Describe the bug in current situation**
The Namerequest UI has reported numerous HTTP 400 when the user clicks the Payment Pay button and a payment is created.

Sentry log: https://sentry.io/organizations/registries/issues/2098160573/events/3786d600cd574c76b5e4f7256a4b3a3d/

The call that failed: POST https://namex.apps.silver.devops.gov.bc.ca/api/v1/payments/2124247/CREATE

Normally, HTTP 400 m

[2021-06-30 17:34] severinbeauvais opened #8083 "NR: Error setting request attributes"
**Describe the bug in current situation**
The Namerequest UI reported a HTTP 500 while making a PATCH call to edit a NR. The included error response is "Error setting request attributes.<br><br>'NoneType' object is not subscriptable", which may indicate a missing value while trying to update a database record.

The call being made was: PATCH https://namex.apps.silver.devops.gov.bc.ca/api/v1/namere

[2021-06-30 17:47] tlebedovich commented on #8039
If you view the ticket in Zen Hub its linked above under "Block by" - can you see it? If not for some reason, it is here: https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8040

[2021-06-30 17:50] severinbeauvais commented on #8039
Whoops, missed that the first time. Thanks! :)

[2021-06-30 17:51] lmcclung commented on #5405
I think this may no longer be required, so marking as P3 until confirmed.

[2021-06-30 17:53] tlebedovich opened #8084 "UX Assurance - PPR Stepper visual design "bug""
Remaining visual design "bugs" to fix from a previous ticket that Steph mentioned she may need assistance with to complete:

PPR Stepper -

- [x] Icon/Text/gray line still shifting when you click between each step (probably because of the bold text and blue line)

- [x] The blue stepper icons shouldn’t move when the green check/red X icons turn on/off. The icons should always stay in place and the

[2021-06-30 17:56] tlebedovich commented on #6856
yes on my to do list for today for sure

[2021-06-30 17:57] tlebedovich commented on #6856
@lmcclung - does this change need to be reflected in the PDF outputs as well?

[2021-06-30 17:57] lmcclung commented on #6991
We can close this ticket once 7523 is implemented.

[2021-06-30 18:18] Sienna-Blumstengel opened #8085 "NR 7296224 - Name Request Results from Corporate Registry"
#### ServiceNow incident:
not yet
#### Contact information
Staff Name: Joshua Thiessen

#### Description
JOSH:

CLIENT:

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Reply All to IT Ops email and provide zenhub ticket number

[2021-06-30 18:36] Sienna-Blumstengel commented on #4593
This will change after we update all the dashboards. closing.

[2021-06-30 18:36] #4593 closed

[2021-06-30 18:38] Sienna-Blumstengel commented on #5927
Might have been implemented already.

[2021-06-30 18:38] #5927 closed

[2021-06-30 18:39] Sienna-Blumstengel commented on #2797
@Kaineatthelab this might be an old version of the third party access request stuff. Can we close it?

[2021-06-30 18:42] chdivyareddy commented on #7391
Verified in TEST.![PaymentInformation.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a695666d-1b22-455c-959a-f2a0e46b5b1c)

[2021-06-30 18:44] severinbeauvais commented on #8039
@tlebedovich While I'm here, should I make the 2nd and 3rd icons blue (like the first one)?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/ac1dfced-e079-467d-8feb-bf4de817e004)

[2021-06-30 18:47] Sienna-Blumstengel commented on #7679
@PatrickAHeath could you please attach your document of emails here?

[2021-06-30 18:56] severinbeauvais commented on #8039
^^ Actually, it's the PNG icons that are that colour. But if someone updates them, I will re-import them.

[2021-06-30 19:02] tlebedovich commented on #8084
@Kaineatthelab @PatrickAHeath - this is a leftover UX tweak that should get done - can we link it to an Epic so its doesn't get lost? obviously not a P1 but should be fixed.

[2021-06-30 19:03] tlebedovich commented on #7358
@divyav-aot I have moved the remaining items from this ticket into this new one https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8084

[2021-06-30 19:13] severinbeauvais commented on #8049
I will fix this as part of #8039.

[2021-06-30 19:13] chdivyareddy commented on #7262
Verified in PPR-DEV DB.

[2021-06-30 19:36] chdivyareddy commented on #7959
Verified in DEV.

[2021-06-30 19:55] lmcclung commented on #6034
@thorwolpert @kialj876 is this work still outstanding?

[2021-06-30 20:01] thorwolpert commented on #6034
i think it was all covered in @vysakh-menon-aot work on bcgov/entity#6033

[2021-06-30 20:09] lmcclung commented on #6856
Yes, it does.  Do you want a separate ticket for that?  I can create one and stick it under output story 7566.

[2021-06-30 20:48] severinbeauvais commented on #6992
I had a quick look at the UI project, and some defensive code had already been implemented, but I improved it by displaying "Unknown" when Confict Date or Conflict Id is null. (Previously it would not display the line. Now the user will know there is something there, even if the details are unknown.)

I think the next step is to look at the API and see if there's an code path that might lead to nu

[2021-06-30 20:54] severinbeauvais commented on #8039
This ticket is ready for UX Assurance at https://dev.bcregistry.ca/namerequest/.

Please move to RFQA if OK. Thanks!

[2021-06-30 20:57] severinbeauvais commented on #6992
This ticket is probably not Priority 1 since it's in the analysis code, which is currently disabled.

[2021-06-30 21:07] tlebedovich commented on #7691
@janisrogers @forgeuxGH5 - In the last assets sprint planning meeting Kevin made a note that he wants to be able to review the address component requirements with you guys to make sure it meets the PPR minimum data field requirements and captures items like country abbreviations properly. He mentioned sending Janis an email.

[2021-06-30 21:10] tlebedovich commented on #8039
hi @severinbeauvais - Scott wanted the two helpful tip boxes that don't have clickable items to look very non-clickable so that is why they aren't in blue. They used to all be links and blue but no longer :(

[2021-06-30 21:27] SateeshFW opened #8086 "Sprint Retro Results & Summaries - Assets"
Goal:
1. Summary of all Retro results for Team “Assets” in this Epic
2. Agreed Actions will be created as “tasks” (new issue) - to make them visible in ZenHub, to get them done and discuss the outcomes/ results in the next Retro

This ticket includes team discussion about
A. What went well (stay here)
B. Improvements (stay here)
C. Action Items (will be created as a task and linked to this Epic)

[2021-06-30 21:37] SateeshFW commented on #8086
Previous sprint Retro - Not available

**Sprint 9.5: Review and Retro Summary**
### What worked well?
- Postgres is up and running - search functionality working good
- Appreciate the work done by Tracey and Scott on the Business roles and the UX work
- Stephanie being patient enough and making the build ready for review
- Team is gelling well

### What could be improved?
- Need more time for deve

[2021-06-30 21:41] JohnamLane commented on #7246
@lmcclung FYI I just verified the getProfile in NRO prod for this company and it's working. This points to the namex/MRAS integration.
![image](https://user-images.githubusercontent.com/35740635/124035311-3796ca80-d9b1-11eb-9d99-1877d3378a28.png)

[2021-06-30 21:41] PatrickAHeath commented on #8077
@sumesh-aot Are you able to tell which userid (BCeID or BCSC) is associated with the Lardeau Valley Consumers Coop account?

I talked to the client.  The two Business BCeIDs that were originally created to manage these coops no longer exist.  If it's the business BCeID that the coops are affiliated with, there'll be no way for her to access them.

Are you able to unaffiliate the two coops from wha

[2021-06-30 21:50] PatrickAHeath opened #8087 "UI Design - Verification Statement PDF for my base registration"
- [ ] Design for the 'Verification Statement' PDF that results from completion of a registration statement
- [ ] Include all types
- [ ] For registrations that don't have General Collateral (ie you can't even add GC), we should not show the General collateral component at all in the outputs (from 8199)
- [ ] For registrations that can have GC, but do not, continue to show the GC collateral with "N

[2021-06-30 22:00] PatrickAHeath commented on #8084
@Kaineatthelab Or should we start a weekly bug triage meeting to prioritize and include bugs in sprints?

[2021-06-30 22:05] PatrickAHeath commented on #7679
@Sienna-Blumstengel It's already attached in the description.

[2021-06-30 22:34] sumesh-aot commented on #8077
@PatrickAHeath BCOL Admin staff users can do reset passcode and put in the client's email address so that they get new passcode via email.
And regarding the current account, it's CAROL JENNIFER, ROSS using their BC Services Card, not a BCeID account.

[2021-06-30 22:35] tlebedovich commented on #6856
UX Assurance Notes --

@riyazuddinsyed  @lmcclung - Can you please tell me how I can find a BC limited company IA (not benefit) and a CCC IA in DEV so I can UX assure these statements? I was only able to find a ULC in the instructions given and its taking me probably longer to test these than it was to do the ticket, haha

**For ULC** - it should be "Unlimited Liability Company Statement:" instead

[2021-06-30 23:08] chdivyareddy commented on #7183
Verified in DEV.

[2021-06-30 23:36] tlebedovich commented on #7436
@jordiwes Let's review the remaining items and decide which are doable, which aren't

[2021-06-30 23:37] tlebedovich commented on #6856
@cameron-freshworks @severinbeauvais - are you guys able to help me locate a ULC or CCC IA with these statements so I can take a quick look?

[2021-06-30 23:38] andrepestana-aot commented on #7776
I fixed the logic for arMinDate and arMaxDate for both BEN and COOP in legal-api but realized that:
- business-filings-ui doesn't use arMinDate and arMaxDate for BCOMP. Instead it uses nextAnnualReport and calculates +60 days from it
- datetime items from legal-api are sent in pacific time and should be in UTC. So the UI is converting to pacific time decreasing one day which results in a wrong dat

[2021-06-30 23:53] chdivyareddy commented on #7078
Verified in TEST.![Banner.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a3f1dd7a-71d6-421f-92c0-18cf31b49428)

[2021-07-01 00:03] Sienna-Blumstengel opened #8088 "NR 9325121 and NR 3674076 - check for payment?"
**INC0098793**

**NR 9325121 and NR 3674076**

The client responsible for the two NRs above emailed (below) stating he received an error in Name Request (NRA). I am not able to view payment info NRA. Could you please look into this to see if payment was taken for one or both and then we can advise the client further.

[2021-07-01 00:08] thorwolpert commented on #8088
Not entirely sure what NRA is, the new NameRequest?

In any case, no payments in the new systems recorded
[code]

[2021-07-01 00:16] Sienna-Blumstengel commented on #8088
Oh yep NRA is name request application.

@lmcclung @janisrogers @PatrickAHeath could one of you check global P?

[2021-07-01 00:27] SateeshFW opened #8089 "Release notes for 12th July 2021 Release"
Release in Zenhub is Relationship: BCeID Affidavit Recovery Release

Tickets
8162 - Reason Field mIssing in case of Affidavit rejection
7928 - Account info refresh issue
7781 - Client resubmit the Affidavit Info or update Account Info
7780 - BCeID Affidavit: "Staff Review" Changes
7737 - Delivery Instruction field input issue
7716 - Update Receipt for Name Requests
7707 - Changes in Products and S