[2021-12-01 20:04] tlebedovich commented on #6130
@jinghualicgi - We were just waiting on @forgeuxGH5 about updating the Cancel Name Request (Refund) button name, otherwise it's good to go. I'll try to grab him.

[2021-12-01 20:06] severinbeauvais commented on #10139
@riyazuddinsyed I have cleaned up this ticket as much as possible. The code changes are deployed to Dev. I have tested as much as possible for today, but I will verify the day job (that sets NRs to expired) tomorrow and will update my notes above accordingly.

In the meantime, I think you can start testing the other parts of this ticket (see comments above for details).

[2021-12-01 20:13] kialj876 commented on #10119
for testing: this story is for making this dashboard work for sbc staff + giving them the business / ppr subscription to choose from.

[2021-12-01 20:14] lmcclung commented on #10312
co_req0251_after.txt    – Firms registered in 2012 and later where the business start date is more than 90 days after the recognition date.
co_req0251_before.txt – Firms registered in 2012 and later where the business start date is more than 90 days before the recognition date.

Here is an example:

corporation

CORP_NUM   C COR RECOGNITION_DTS   LAST_AR_FILED_DT  TRANSITION_DT
---------- - --- --

[2021-12-01 20:14] lmcclung commented on #10312
[https://app.zenhub.com/files/157936592/919072dd-e19c-4392-a1f4-0765ebce16a4/download](https://app.zenhub.com/files/157936592/919072dd-e19c-4392-a1f4-0765ebce16a4/download)

[https://app.zenhub.com/files/157936592/2306159e-fcf5-4c20-abf5-ab685240fe87/download](https://app.zenhub.com/files/157936592/2306159e-fcf5-4c20-abf5-ab685240fe87/download)

[2021-12-01 20:19] trishreimer commented on #10109
Would you mind letting me know when you can complete this work?

[2021-12-01 21:08] #4462 closed

[2021-12-01 21:16] Kaineatthelab opened #10313 "User Group Access to MHR"
Given I am one of the below user groups
When I subscribe to MHR or Assets
Then I am able use what I need to in the below table

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/f594e765-12a8-4cdd-bbb6-3535dedfaac5)

[2021-12-01 21:17] jinghualicgi commented on #9698
We will have cabinet/committee feedback before Dec 10th, will check  progress then

[2021-12-01 21:25] mstanton1 commented on #9880
@jinghualicgi RAID 1 tracks the Self Serve Policy on Discharge Flows.

Decision was that we require staff ability to perform discharge for Registrars discharge. As far as build though, Registrars discharge will be extremely similar to total discharge. Patrick and Janis are working out details with staff now. I think this can be closed and we can create dev tickets, if needed, based upon the review

[2021-12-01 22:14] trishreimer opened #10314 "PPR - Review and update PPR website content pages - writing underway now but not due until Jan 21st to support market release date Jan 25th"
- [x] review pages

- [ ] Update content

https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/bc-registry-services-personal-property-registry

Draft of website page updates:
https://docs.google.com/document/d/13GQWfJywytGq3UdMM00OMUz-RouA6SKjte5Sp4n4jHc/edit?usp=sharing

[2021-12-01 22:16] trishreimer opened #10315 "WEB - Update all website content on BC Gov website to include additional BCeID - Need to publish by Dec 28"
@fareenr This task is to update our public website. The actual website updates themselves are normally completed by Genevieve Primeau or Suzanne Dane. Part of this task would be a group conversation about where on the new site to place the BCeID content.

details coming soon

[2021-12-01 22:19] tlebedovich commented on #10087
@doug-lovett - Hmm, its still not matching the entities certified stamp ("of a document..." text linespacing too tight etc) and both should be the same (except ours is white). I'm going to ping Lekshmi to share her spacing/sizes as she may have updated specs.

[2021-12-01 22:34] tlebedovich commented on #6130
it's go to go now @jinghualicgi

[2021-12-01 22:38] trishreimer opened #10316 "OCM - BC GOV EXT WEBSITE (CMS) Epic - for ALL PROGRAM INCREMENTS"
All changes needed for the website will be linked to this epic.

The tasks will be also linked to the release epic (i.e., PPR)

I created this epic to make it easier to see of the work in one view.

[2021-12-01 22:43] tlebedovich commented on #9471
@jinghualicgi @mstanton1 - ready for dev

[2021-12-01 22:45] trishreimer opened #10317 "Update instances for BC Services Card and Mobile Card to BC Services Card App - job aides & fix broken links"
Update all job aides:

- [ ] where we reference mobile card or BC Services Card (not the actual card) or BC Mobile Card, etc - update to BC Services Card App

- [ ] review with IDIM

new links: https://www2.gov.bc.ca/gov/content/governments/government-id/bcservicescardapp/setup

[2021-12-01 22:45] tlebedovich commented on #9243
Awaiting two answers from @lmcclung (see open Invision comments)

[2021-12-01 22:46] trishreimer commented on #9837
Please add link to this site for the time being.

https://developer.bcregistry.daxiom.ca/

[2021-12-01 22:51] severinbeauvais opened #10318 "Verify - Auth Web: trying to add an affiliated NR gives wrong message"
1. login to BCROS Dev using a BCSC
2. go to https://dev.bcregistry.ca/namerequest/ and create a BEN NR
3. go to https://dev.bcregistry.ca/business/auth/home/decide-business and then click Manage an Existing Business button
4. click Add an Existing Businss or Name Request button
5. select Name Request
6. enter the Name Request Number and phone number or email address
7. click Add
8. see error:

![i

[2021-12-01 22:56] mstanton1 commented on #10083
@janisrogers I don't see another ticket for the account name discrepancy under the staff epic. Can you log this as a bug?

[2021-12-01 23:03] severinbeauvais commented on #10159
So.... SHIFT + Reload causes the app to be reloaded with no caching (so the current datetime is now correct), but the NEXT normal reload goes back to the old cached data !?!?

This is not good and will bite our users.

[2021-12-01 23:25] severinbeauvais opened #10319 "Filings UI: cannot do COA on newly incorporated BEN"
**This is related to #10159. The trigger for this bug is not a "newly incorporated business". See Test Notes comment below for more info.**

A BEN was incorporated. After filing, it was reopened as an entity. A Director Change filing was opened. No valid Director Change Date could be entered. Also, the error message is missing the min and max dates:

![image.png](https://images.zenhubusercontent.c

[2021-12-01 23:34] janisrogers commented on #10083
Logged as bug in #10298 (Search Results report for staff show the wrong 'account name')

[2021-12-01 23:53] severinbeauvais commented on #10138
Logged in with BCREG0020, I verified:

1. create NR for COOP - pass
2. create NR for BEN - pass
3. create named COOP using NR - pass
4. create named BEN using NR - pass
5. create numbered BEN - pass
6. do BEN Director Change - fail, see [10319](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/10319)
7. do BEN Address Change - pass
8. do COOP Annual

[2021-12-01 23:55] severinbeauvais opened #10320 "Namex API: HTTP 500 when downloading results for a Coop NR"
Here's the NR I just created in Dev:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/9aaa3f47-a12f-4384-990f-bd932cd224b0)

Here's what I get after I click Download Results:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/d1062399-d604-4e67-87f7-f5578ca65f4a)

Here's the console error:

![image.png](https://images.zenhubusercontent.com/5d0a7e

[2021-12-02 00:01] severinbeauvais commented on #10280
Before 4pm today (ie, before 00Z), I examined+approved a NR in Dev. After a few minutes, a call was made to update ("datapump") NRO.

In Name Examination UI, expiration date =  "2021-12-01, 11:59 pm Pacific time".

In NRO db, expiration date = "2022-01-27 07:59:00" (which is equivalent to the value above in UTC).

So this test is OK.

[2021-12-02 00:10] severinbeauvais commented on #10280
After 4pm today (ie, after 00Z), I examined+approved a NR in Dev (NR 6061794). After a few minutes, a call was made to update ("datapump") NRO.

In Name Examination UI, expiration date =  "2021-12-01, 11:59 pm Pacific time".

In NRO db, expiration date = "2022-01-26 00:00:00". (This is not the same as above unless you look at just the date.)

So I think this test is OK.

[2021-12-02 00:11] severinbeauvais commented on #10280
**The last thing to test is whether there is any data that goes from NRO to Namex, and whether that is correctly synced (date-wise).**

[2021-12-02 00:21] tlebedovich commented on #9516
@jinghualicgi @mstanton1 - Janis wanted me to Visual UXA the dev work, so I added a few minor comments to her dev ticket #10090.

[2021-12-02 01:05] Maribeth-Wilson commented on #9913
@JohnamLane Can we please schedule a date for this info session? Either before Dec 15th or in early Jan? Please advise. Thank you

[2021-12-02 01:13] Maribeth-Wilson opened #10321 "OCM - Schedule Ministry Government Account Users Information Session - complete by Dec 15th for session on Dec16"
Schedule second information session for all ministry government account users who missed the Nov 17th session.

- confirm session date - @JohnamLane
- confirm presenter
- confirm facilitator
- update presentation if required
- confirm Carol's availability
- prepare email to ministry government account users
- have email confirmed
- send email to all ministry government account users

[2021-12-02 05:01] rarya-freshworks opened #10322 "Automation Task"
Automation Scripts been taken on:
- Fixing errors
- error handling cases for Add Routine Slip (25% complete.)

[2021-12-02 05:59] magszymanski opened #10323 "Post API update to Mod Site and BCOL"
- [x] Post on Mod website

[2021-12-02 07:09] magszymanski opened #10324 "Update BCOL home landing page"
IT Ops is updating BCOL Announcements. Once updated, we ask IT Ops to link https://www.bconline.gov.bc.ca/pdf/NewPPR.pdf to PPR info on Landing Page.

![image.png](https://images.zenhubusercontent.com/60c236af2477c5f34b65a486/b54c31a5-84ab-4ea6-8f3b-f6c176272773)

[2021-12-02 07:10] magszymanski commented on #10324
![image.png](https://images.zenhubusercontent.com/60c236af2477c5f34b65a486/b54c31a5-84ab-4ea6-8f3b-f6c176272773)

[2021-12-02 07:14] magszymanski opened #10325 "Update BCOL Annoucements"
- API Update
- PPR go live date and resources
- Remove old announcements

![image.png](https://images.zenhubusercontent.com/60c236af2477c5f34b65a486/75268ef5-3d86-496c-a90e-eb6b70f62daf)

[2021-12-02 14:58] magszymanski commented on #10323
Mod site post:

Attention BC OnLine PPR Users: Get set up by January 25, 2022

The Personal Property Registry (PPR) in BC OnLine will be deactivated and replaced with a new online platform in BC Registries' modernized application on January 25th, 2022.

All PPR users must set up a Premium account in the new BC Registries application. Users who are already set up with a Premium account in the new a

[2021-12-02 16:40] sienna-blumstengel commented on #9396
- [ ] Julie review
- [ ] Sienna add content from trainings
- [ ] Sienna update
- [ ] Sienna send to Julie
- [ ] Julie add to OneNote

[2021-12-02 16:43] sienna-blumstengel commented on #10036
I will try to draft some this for Gen, If I have time!

[2021-12-02 16:54] PatrickAHeath opened #10326 "PPR - Cleanup of Crown Charge Registrations against Repealed Acts"
The PPR application contains Crown Charge registrations against acts that have been repealed.  Work with clients to cleanup these registrations and discharge them if no longer applicable.

The following registration types are for acts that are no longer active:
MR - Mineral Resource Tax
MI - Mining Tax
CC - Corporation Capital Tax
DP - Consumption Tax and Transition Tax
HR - Hotel Room Tax
SS - So

[2021-12-02 16:55] SateeshFW commented on #8704
@mstanton1 thx for the update.  Who would have the next action for this ticket?
@jyoti3286 @pwei1018 FYI...

[2021-12-02 17:02] #10082 closed

[2021-12-02 17:02] #9602 closed

[2021-12-02 17:02] #9494 closed

[2021-12-02 17:02] #9756 closed

[2021-12-02 17:05] mstanton1 commented on #8704
I am working on this ticket. I received support from Patrick in updating remediation strategies yesterday and sent this back to our MISO to approve before pushing it through the chain again.

[2021-12-02 17:14] severinbeauvais opened #10327 "LEAR: mismatch between Recognition Date and Time in outputs"
The receipt for a Change of Registered Address shows the following Recognition Date and Time and Filed Time:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/e40df9b7-1da5-482b-932c-c52dad575599)

Conversely, the Notice of Articles for the Change of Registered Address shows the following Filed Date and Time and Recognition Date and Time:

![image.png](https://images.zenh

[2021-12-02 17:21] trishreimer commented on #9928
duplicate.
I'm working on the plan tickets.

[2021-12-02 17:21] #9928 closed

[2021-12-02 17:22] #9582 closed

[2021-12-02 17:22] #9581 closed

[2021-12-02 17:22] #9580 closed

[2021-12-02 17:22] #9577 closed

[2021-12-02 17:22] #9575 closed

[2021-12-02 17:22] #9579 closed

[2021-12-02 17:23] mstanton1 commented on #10045
@jordiwes as discussed in stand-up a separate ticket will be created to address the leading and trailing spaces/0's in the routing slip number field.

[2021-12-02 17:24] trishreimer opened #10328 "OCM - Communication Due Jan 24"
Last communication, short & sweet
- PPR is live tomorrow, decommissioned in PPR as of 4:59 PM PT
- Here is the link to the new BC Registry Application: bcregistry.gov.bc.ca ; explain how to navigate
- Here are the resources (user guide, Resources page for vids and quick guides
- Add PPR as a service
- standard API messaging
https://docs.google.com/document/d/11NuqsWo4LG7SJIgwq4koyqscZSjGXPdZYHHxom

[2021-12-02 17:27] trishreimer opened #10329 "OCM - Communication Due Jan 18 - Reminder to BCOL users who use PPR"
- [x] Email clients
- Resources: vids and quick guides
- Explain that: Users continue using the existing platform on Monday, January 24 and will switch to the new platform on January 25. Users who are not set up in the new registry application will not have access to PPR.
- user guide
- PPR videos
- Q&A
- [x] Post to BCOL Announcements (send email to IT Ops asking them to post PDF to announcements

[2021-12-02 17:28] JohnamLane commented on #10257
@jinghualicgi Closing this as the Relationships will develop against 10254 (1 point ticket)

[2021-12-02 17:28] #10257 closed

[2021-12-02 17:28] trishreimer commented on #10329
- [ ] Email clients

- [ ] Post to BCOL board

- [ ] Post to PPR System News

- [ ] Post to Mod website

- [ ] Advise staff

- [ ] PPR mailbox?

[2021-12-02 17:30] trishreimer opened #10330 "OCM - Communication Due Jan 10, 2022 - Reminder to BCOL users who use PPR"
Since we sent the last email reminder Nov 30, this ticket is for the January 11 reminder:

- [x] email bcol clients
- [x] update bcol message board, PPR system News? may not be needed as the message on there may be sufficient.
- [x] update BCOL announcement
- [x] Mod website

In email, include:
- [x] user guide
- [x] PPR videos
- [x] Q&A - once/if Gen posts to CMS assets
- [ ] Phasing out of draw-

[2021-12-02 17:31] mstanton1 opened #10331 "Routing Slip Number field global updates"
Ignore leading and trailing spaces in routing slip number, BC Online Account Number, and DAT Number (don't give error just remove spaces)

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/b62aab9a-c05c-4e81-bd14-f89b6db69349)

This issue exists across apps. This needs to be fixed in all places.

[2021-12-02 17:33] trishreimer opened #10332 "OCM - Go LIVE communications - Users and Staff due Jan 24 (reminder) and Jan 25"
Clients - Reminder notice:
- [x] Remind users on BCOL message board that PPR is going live tomorrow - Jan 25 - maybe no email on the reminder

- [x] Post reminder on Mod website

- [x] Reminder on BC Registries Message board - SOFI app

- [x] PPR system News

Clients  - Go Live

- [ ] BCOL message board

- [ ] Mod website

- [ ] BCOL announcement & static text change on website/home page

Staff:
e

[2021-12-02 17:36] mstanton1 commented on #9471
@tlebedovich updated design / details in related dev ticket 8865.

[2021-12-02 17:37] severinbeauvais opened #10333 "Create UI: can't enter Future Effective Date due to wrong format"
1. Start a BEN dissolution.
2. On Review and Confirm page, select a dissolution date and time in the future.
3. Use date picker to select a date
4. Click File and Pay
5. Observe that the entered FED is in long format, but needs to be in YYYY-MM-DD format
6. Cannot proceed with FED Dissolution filing

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/a37bf80e-5060-44be-a2f5

[2021-12-02 17:37] trishreimer opened #10334 "Jan 20 Info Session - due Jan 19 - Update slides, logistics and possible follow up work"
Update presentation -date on title slide
https://docs.google.com/presentation/d/15CDTcbdiDsZv43KuONdq65d6o3On0PRg/edit

 - [x] Confirm Carol's availability for Modernization Overview

- [x] Follow up with clients questions from session - make a note of any that we need to follow up on.

- [x] Review attendees list and confirm no media are in the session.

- [x] Identify non-ministry and ministry u

[2021-12-02 17:41] mstanton1 commented on #8444
@tlebedovich given 9471 has been created with a solution can this temp solution ticket be closed?

[2021-12-02 17:42] trishreimer opened #10335 "Review and Update staff Macros for email replies to Clients - Due ??"
- [ ] Review existing macros

- [ ] Update or create new macros

Location of macros: N:\DropBox\BCRS Templates\PPR

[2021-12-02 17:44] trishreimer opened #10336 "Setup Teams Chat for PPR Support for Go Live"
- [x] Setup teams chat

- [x] invite PPR staff

- [x] Confirm if Joanna can be included

[2021-12-02 17:45] jmills-cgi opened #10337 "Release: Business Summary"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Update version number in the code being released
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
- [x] Add version # and release # to this ticket
- Business Filings 4.3.4
- Lear Release 2.35.0
- [x]

[2021-12-02 17:58] mstanton1 opened #10338 "List birthdate as optional for individual debtor"
When listing an individual debtor there is nothing in the system to identify that the birthdate field is option.
Update the header text to include the word optional:

![Screen Shot 2021-12-02 at 9 54 07 AM](https://user-images.githubusercontent.com/2207887/144478842-43ef4d6a-db02-4504-9a12-3938f1429d96.png)

[2021-12-02 17:59] Kaineatthelab opened #10339 "UI Design - PPR managing work on table (Updates to My Registration Table)"
- [ ] Users want to be able to see their drafts and work easily
- [ ] display a temp# for drafts (is this needed with other changes)
- [ ] work on clarifying the Amend and Edit buttons so users don't create multiple Amend drafts by mistake.

![Screen Shot 2021-12-07 at 1.56.49 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/35c60a28-8d2d-44bc-bd92-0ca070509dce)

### Wireframe

[2021-12-02 17:59] mstanton1 commented on #10338
@forgeuxGH5 @tlebedovich @janisrogers should optional be listed beside the field title Birthdate or should it be within each sub field (month / day / year).

[2021-12-02 18:00] severinbeauvais commented on #10333
This bug is intermittent! I was able to file 2 other dissolutions with a FE date of "December 12, 2021" and "December 2, 2021" successfully (FE state looks OK in ledger, outputs look OK).

To test this, play around with an invalid FE date in the component. At some point you will be blocked by the invalid date format.

[2021-12-02 18:01] jinghualicgi commented on #10039
@forgeuxGH5 Scott, please take a look at this one, thanks

[2021-12-02 18:04] Kaineatthelab opened #10340 "UI Design - Show my registration was successful + Misc Table Updates"
### Wireframes
~https://preview.uxpin.com/5ebdf0f620421f05b8caebd3b7dcec2716d9b313#/pages/145025901~

### Visual Design Comps:
https://projects.invisionapp.com/share/BG128NGTVX9Q#/screens?browse

**Misc Updates:**
~~Allow only one draft at a time (show new modal if there is already an existing one)~~
- Change "Registration Date" column header to "Date"
- Change "Registered By" column header to "Us

[2021-12-02 18:09] tlebedovich commented on #10338
@mstanton1 - just added a design comp for ya

[2021-12-02 18:15] severinbeauvais opened #10341 "Auth Web: should not be able to use a NR until it's processed"
1. create a new NR (COOP, BEN, LTD, CCC or ULC)
2. go to namex to examine+approve it
3. immediately go to My Business Registry
4. observe that the new NR is there
5. open Actions dropdown menu
6. observe that "Use this Name Request Now" item is there
7. click this item
8. observe that Filing UI open and displays an error (invalid NR I think)

What is happening here is that, for a few minutes, the

[2021-12-02 18:16] severinbeauvais commented on #10341
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/f960e0cd-85c9-4761-8343-55011a7cfd35)

[2021-12-02 18:21] severinbeauvais commented on #9286
@riyazuddinsyed Once you have smoke tested the 3 UIs, could you please move this ticket to Done? Thanks!

[2021-12-02 18:22] tlebedovich commented on #8444
yes I think so.

[2021-12-02 18:27] #4787 closed

[2021-12-02 18:27] rarya-freshworks commented on #4787
Old bug

[2021-12-02 18:41] mstanton1 commented on #7941
@tlebedovich  Business approval has now been received from Olisa. This is ready to move forward. I will post a comment in the design about the updates for the contact section.

[2021-12-02 18:45] chdivyareddy opened #10342 "Registry Staff - Ignore Leading and Trailing Spaces"
- [x] Ignore leading and trailing spaces in routing slip number, BC Online Account Number, and DAT Number (don't give error just remove spaces)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b3d13e49-b68e-43c0-b9f6-302f419701b7)

[2021-12-02 18:55] severinbeauvais commented on #10280
Some NRs have an invalid expiry date and other do not. The NRs with a non-corrupted expiry date do not appear to have been synced to NRO, or synced back. Examples...

This NR was not synced to NRO. This is an NR created over a month ago that I approved yesterday.

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/b3cea089-cb81-42dd-a53e-dc0615afe75a)

I also saw examples o

[2021-12-02 19:01] chdivyareddy opened #10343 "PPR Search - Missing Registration From The Search Results List + PDF Output feedback"
- [x] Registration is missing from the search results list.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ccd9d1c6-2e8b-43f2-8428-2db00d2969be)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/aaba601f-91b0-49bc-8748-180f7e4e6228)

**PDF Output**

 - [x] Account Name in Search Result report not showing what's expected (should show BC Registri

[2021-12-02 19:06] severinbeauvais commented on #10138
Logged in with BCREG0020, I verified:

1. create NR for CCC - pass
2. create NR for LTD - pass
3. create NR for ULC - pass

This is as far as I can go with these because I cannot incorporate a CCC/LTD/ULC at this time. (I get sent to Coporate Online.)

[2021-12-02 19:07] jinghualicgi commented on #9290
Relationships team will QA this

[2021-12-02 19:07] severinbeauvais commented on #10319
This bug was also experienced on a COOP that I incorporated yesterday.

[2021-12-02 19:08] jinghualicgi commented on #9501
Waiting for Entities's QA

[2021-12-02 19:11] jinghualicgi commented on #9729
Relationships is working on 2nd solution.

[2021-12-02 19:14] jinghualicgi commented on #7283
Patrick will follow with Kaine for Go/NoGo decision

[2021-12-02 19:14] magszymanski commented on #10181
@trishreimer I spoke with Bob this morning about MODAL pop-up upon logging into BCOL and pushing a message into users' BCOL Mailboxes. He said that David's team is the only one equipped to do this.
David said his team has no capacity. Bob suggested seeing if we still put this on David's team radar.. Thoughts?

[2021-12-02 19:18] #10252 closed

[2021-12-02 19:19] severinbeauvais commented on #10159
Consider fixing this ticket and #10319 together. Hotfix?

[2021-12-02 19:19] severinbeauvais commented on #10319
Consider fixing this ticket and #10159 together. Hotfix?

[2021-12-02 19:20] tlebedovich opened #10344 "Broken Links on Business Registry Marketing Page"
The set up a mobile card text link and Learn More button link urls are now broken.

Update both to go to the new bc services card page - https://www2.gov.bc.ca/gov/content/governments/government-id/bcservicescardapp

(open in new browser window)

[2021-12-02 19:24] #6067 closed

[2021-12-02 19:25] tlebedovich commented on #8417
@mstanton1 - Any updates on the font issue?

[2021-12-02 19:29] mstanton1 commented on #9848
Draft of form to be created is attached. Formatting for instructions in each field should be updated if not consistent with other current BC Registries forms, but content should remain the same.

[https://app.zenhub.com/files/157936592/9c741fd0-6b93-4c7f-961d-1a6f5cd96258/download](https://app.zenhub.com/files/157936592/9c741fd0-6b93-4c7f-961d-1a6f5cd96258/download)

[2021-12-02 19:36] chdivyareddy opened #10345 "General Collateral - Formatting Issue on the Verification Statements"
- General Collateral is not keeping its formatting on the outputs.

**Review & Confirm Screen:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ea026bef-b7f3-495f-b080-77fb438bf354)

[2021-12-02 19:40] mstanton1 opened #10346 "FORM - FIN 631 PPR Repairers Lien Financing Statement (Due Jan 12th)"
Update to include appropriate search options and data fields.
Update form to meet current design as used by entities (e.g. Benefit Company) during this time.

Timeline
1st Draft - Jan 5th
Final Draft - Jan 12th

_Date for final draft is based upon SBC training schedule and the need for time to prepare to post on the SBC intranet. If necessary final draft date could be pushed by up to one week._

[2021-12-02 19:51] severinbeauvais commented on #10138
As staff (IDIR), I:

1. corrected an IA (no fee) - pass
2. added a Registrar's Notation filing - pass
3. added a Registrar's Order filing - pass
4. added a Court Order filing - pass

[2021-12-02 20:11] severinbeauvais commented on #10333
@argush3 Do you think this is related to the DatePicker component change you made recently?

[2021-12-02 20:14] severinbeauvais commented on #10138
Logged in with BCREG0020, I verified:

1. created NR for BEN - pass
2. created future effective IA for named BEN - pass
3. incorp email
4. dissolved BEN
5. dissolution email

[2021-12-02 20:17] argush3 commented on #10333
@severinbeauvais yes, it probably has something to do with the datepicker changes we made for special resolutions recently i'm thinking.

[2021-12-02 20:25] cameron-freshworks commented on #10333
ah yea, looks like we need to remove that rule from Incorporation Date Time 👍

[2021-12-02 20:30] jdyck-fw commented on #9348
@lmcclung  - moving this into the sprint since you moved it to the sprint backlog. Please update if it should not be included.

[2021-12-02 20:30] stevenc987 opened #10347 "BCOL - Modal Pop-Up"
Have a modal pop up when a user logs in

Email from Magdalena Szymanski:

"We have been actively posting items about the modernization to the Announcements section of the BCOL landing page as well as information to the section above the announcement links, however we are still not getting good traction with users setting up new accounts in the modernized application. We are thinking of other ways

[2021-12-02 20:58] jinghualicgi commented on #9396
Thanks Sienna for detail checklist, very helpful. Can we move this checklist to the main body (top) of this ticket? So we can see it from first glance. Thanks :) @sienna-blumstengel

[2021-12-02 21:01] severinbeauvais opened #10348 "Create UI: checkbox not restored in a CP dissolution draft"
The "Delete and/or Destroy Certificates" checkbox is not restored when a draft is resumed.

Conversely, the "Confirm Special Resolution Content" and "Confirm Affidavit Completion" checkboxes ARE restored.

(The "Certify" checkbox has never been restored, intentionally.)

[2021-12-02 21:18] magszymanski opened #10349 "Email to BCOL PPR users (due: Dec 16)"
- [x] Write email to clients
- [ ] Get approved
- [ ] Send to clients

In email, Include:
- [ ] MHR/PPR combined search will no longer work once PPR in BCOL is decommissioned
- [x] Consider creating a help guide like Joanna's as a step by step guide on how to create a new Premium account
- [x] All other relevant info from Nov. 30 email

[2021-12-02 21:22] severinbeauvais commented on #10333
Note to the developer: there is another "future effective" component used in Create UI (for IAs), which does not use the shared component. (It will be converted over in #6689.) So I think you can ignore it for now.

[2021-12-02 21:30] jdyck-fw commented on #10186
Left for review for another week or two.

[2021-12-02 21:33] jdyck-fw commented on #10228
This is a risk that we have accepted with using PayBC. We will need to raise refund tickets manually.

[2021-12-02 21:33] #10228 closed

[2021-12-02 21:35] jdyck-fw commented on #10318
We need some UX designs @janisrogers - happen to know if there are any started?

[2021-12-02 21:46] jdyck-fw commented on #10348
Outside of product scope

[2021-12-02 21:46] #10348 closed

[2021-12-02 21:46] jinghualicgi commented on #9455
@mstanton1 Melissa, I move this story back to Backlog as we don't have any tasks for this sprint. Please let me know if you have any comments.

[2021-12-02 21:50] jdyck-fw commented on #10311
It would be nice to do this in similar time as #10246 or within a couple of sprints

[2021-12-02 22:01] jdyck-fw commented on #10280
@thorwolpert  @kialj876  - any suggestions on why this might be intermittent?

@thorwolpert  - any idea if the ticket we have in our backlog for stripping out extra NRO stuff (get, put) could fix this issue? #9087

[2021-12-02 22:06] trishreimer opened #10350 "OCM - Eliminate Basic and Premium and only have one account type with all payment Methods for clients"
- [ ] complete impact assessment and analysis
- [ ] identify changes required to resources

https://app.zenhub.com/workspaces/raid--work-space-617c3d4cef313f001d715a7c/issues/bcgov-registries/raid/41

[2021-12-02 22:06] #9204 closed

[2021-12-02 22:08] trishreimer opened #10351 "#2 priority - Send follow up email to NON-MINISTRY GOV USERS TO remind to use PAD & new checkbox to indicate non-min user is available - Due - same schedule as other PPR comms = Jan 11)"
Key messages:

- [ ] Account must be set up and PAD must be used
- [ ] non-min users must select new checkbox (if they have not been setup already)

Here's a really rough draft of a communication that I started: https://docs.google.com/document/d/1hfpywNOX9Y2o7FMzZtRbLLCg5Eh2MdkO10qc61aJecY/edit

change plan: https://docs.google.com/document/d/1--VdACN2WA_yvei-PCNbv8pRSIGjIw-c/edit

TIMING: PLEASE

[2021-12-02 22:08] trishreimer opened #10352 "OCM: Communications - Send reminder email to NON-MINISTRY GOV USERS that PAD must be used as a payment method - 1 week before go live"
- When we send the PPR reminder communications, we will need some additional messaging for non-ministry gov account users to let them know PAD is needed to use PPR.
- also, if they are not setup, they will need to create an account AND they must indicate that they are a non-ministry gov account (there is a tick box)
- Feel free to assign this ticket to Fareen as it relates to Non-ministry but they

[2021-12-02 22:08] lmcclung commented on #4465
@stevenc987 could you put your estimate on this ticket?

[2021-12-02 22:09] trishreimer opened #10353 "#4 priority - OCM Communication: non-ministry gov account users - RCMP"
[ ] communication need to advise how RCMP will authenticate (i.e., how they will be anonymous in the application. )

Only one detachment that I saw noted they can't use PAD. (See RCMP folder in the engagement mailbox) do we need to do anything further?

- [ ] timing for email: suggest sending email to clients  ASAP to let them know we're working on a solution -then again, when solution is defined.

[2021-12-02 22:11] trishreimer commented on #10353
- [ ] How will PPR users pay if they cannot get PAD in place?

[2021-12-02 22:11] severinbeauvais commented on #10320
This seems to happen consistently when trying to retrieve the results for a consumed Coop NR.

I tried while logged in and not logged in, and got the error both ways.

[2021-12-02 22:12] trishreimer opened #10354 "Communicate process to BCOL Admin - how they will identify non-min gov accounts if user setup a Premium account prior to Jan 2022"
- [ ] users are setting up premium accounts since functionality to indicate they are non-min is being developed and will not be ready until end of Dec. So, we need to advise BCOL admin how they will find these accounts and convert them to non-ministry.

- [ ] update checklist for BCOL Admin team so they know how to complete this work.

- do we wait for clients to raise issue
- should we do somethi

[2021-12-02 22:13] severinbeauvais commented on #10320
I tried a handful of BC NRs and I was able to download results.

Some consumed NRs in Dev:

![Clipboard - December 2, 2021 1_45 PM.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/776afcd3-2f10-4e54-8497-9ad4f239250e)

[2021-12-02 22:35] jinghualicgi commented on #10153
Nice to have, won't put go-live

[2021-12-02 22:40] jinghualicgi commented on #10154
Decision is post golive

[2021-12-02 22:42] jinghualicgi commented on #10067
@chdivyareddy please reverify this, thanks

[2021-12-02 22:50] jinghualicgi commented on #9355
@chdivyareddy Please verify this

[2021-12-02 22:53] jinghualicgi commented on #9066
@forgeuxGH5 Scott, please verify expected behavior

[2021-12-02 22:53] jinghualicgi commented on #9063
@chdivyareddy Please verify this

[2021-12-02 22:53] trishreimer opened #10355 "Send final email to Admins with deadline and info session date - Send email Dec 16th"

[2021-12-02 22:59] jinghualicgi commented on #6525
@thorwolpert @kialj876 is this needed?

[2021-12-02 23:00] trishreimer opened #10356 "Reminder email to Ministry gov account users about PPR go live and they must be setup - due Jan 10"
- [ ] REVIEW with Wendy, Cameron and relationships team

- [ ] key messages: how to use the app, login with IDIR, support - go to BCOL HD. (not engagement)

- [ ] pls. connect with Mags on PPR reminder schedule and align dates for these emails to go to Ministry users at the same time. UPDATE: to go out on Jan 10.

[2021-12-02 23:01] trishreimer opened #10357 "OCM: COMMUNICATION Reminder email to ministry gov account users about PPR go live - 1 week before DUE JAN 18 - draft by JAN 17"
- [ ] suggest drafting early (Jan 7th) and have approved by Jan 17th.

- [ ] remind them how to access  new app, login with IDIR, go to BCOL Help desk for support (not engagement mailbox! :-)

- [ ] Review with Jyoti, John, Zac, Wendy. See what other messaging may be needed.

https://docs.google.com/document/d/1XFkGebT7_pbENY4WxfaaH1KdnbQPAK8r/edit

[2021-12-02 23:02] jinghualicgi commented on #7134
Close no longer needed

[2021-12-02 23:02] #7134 closed

[2021-12-02 23:02] trishreimer opened #10358 "Email to ministry gov account users - PPR live on Jan 25 (to be sent on Jan 24), draft due Jan 21"
- [ ] please coordinate final reminder emails to ministry users with reminder schedule for PPR (mags)

- [ ] same messages as noted in other tix.

https://docs.google.com/document/d/1XFkGebT7_pbENY4WxfaaH1KdnbQPAK8r/edit

[2021-12-02 23:02] mstanton1 opened #10359 "Verify Draft Registration table updates"
When you start a registration and enter
- secured party
- folio number
- registered by

If you then save the draft, when you look it up in My Registrations table the fields above cannot be used to locate your draft. The fields do save when you open the draft to view what was saved.

Please verify in dev to see if this is still an issue. If so we can change this into a bug ticket.

[2021-12-02 23:02] mstanton1 commented on #10359
@chdivyareddy can you please verify this?

[2021-12-02 23:03] jinghualicgi commented on #7753
@doug-lovett @kialj876 is this still an issue? Thanks

[2021-12-02 23:05] jinghualicgi commented on #7771
will follow-up with Bob for the whole data migration plan @jinghualicgi

[2021-12-02 23:08] jinghualicgi commented on #7987
@jyoti3286 Jyoti, can this be closed given our latest status

[2021-12-02 23:11] jinghualicgi commented on #8425
@Kaineatthelab Kaine can we close this?

[2021-12-02 23:12] jinghualicgi commented on #8486
@chdivyareddy Divya, please verify this

[2021-12-02 23:14] jinghualicgi commented on #9278
@forgeuxGH5 Scott, this is design decision, please take a look

[2021-12-02 23:14] jinghualicgi commented on #9279
@forgeuxGH5 Scott, please comment this as well

[2021-12-02 23:16] trishreimer opened #10360 "Ensure CAS is aware of payment process changing, managing jv issues and payments from accounts to partners - DUE JAN 25"
If they are impacted, suggest starting this work early Jan.

what are the impacts?
are they aware and understand?
how are we ensuring they have the knowledge and abilities to support this process?

[2021-12-02 23:17] #9279 closed

[2021-12-02 23:17] sienna-blumstengel opened #10361 "Legal API - Voluntary Dissolution - update filing title"
- [ ] the "d" in Voluntary Dissolution needs to be capitalized in a few spots (see screenshot)
  - Update filing name
  - Validate that all locations of this filing name get updated
(work to remove button is in #10150)
![image.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/bab98601-98f4-4531-91ab-a000d0f51d08)

[2021-12-02 23:19] jinghualicgi commented on #9428
@mstanton1 Melissa will follow-up with SRE?

[2021-12-02 23:19] trishreimer opened #10362 "Meet w/SBC Finance to discuss process, screens, reports, refunds, get input and ask if they need training - complete all work by Jan 25"
If they are impacted, suggest starting this work early Jan.
- what are the impacts?
- are they aware and understand?
- how are we ensuring they have the knowledge and abilities to support this process?

https://docs.google.com/document/d/1XFkGebT7_pbENY4WxfaaH1KdnbQPAK8r/edit

[2021-12-02 23:22] jinghualicgi commented on #10004
@mstanton1 Melissa with go through with Tracey to create a separate ticket for go-live

[2021-12-02 23:29] severinbeauvais commented on #10098
Where can we go to see the draft RFC?

[2021-12-02 23:32] rarya-freshworks commented on #6411
Creating a new bug ticket as this is not valid anymore.

[2021-12-02 23:47] rarya-freshworks commented on #7468
All rejections after April 2021 are looking good in production.

[2021-12-02 23:47] #7468 closed

[2021-12-02 23:50] rarya-freshworks commented on #7906
@SateeshFW can we take this ticket for discussion in next grooming meeting please.

[2021-12-02 23:50] mstanton1 commented on #9455
@jinghualicgi I believe some of the outstanding work above was required for Sandbox launch (e.g. data anonymization). I suspect the open tickets might need to be updated / closed.

@thorwolpert @doug-lovett can you take a look at 10211, 10212 and 9454 and confirm if they still have outstanding work?

[2021-12-02 23:51] mstanton1 commented on #8417
@Kaineatthelab I believe you were going to see if SRE could take on this work. Is that correct? Any updates?

[2021-12-02 23:55] mstanton1 commented on #8444
Closing as per comment above.

[2021-12-02 23:55] #8444 closed

[2021-12-03 00:03] #8425 closed

[2021-12-03 00:04] Kaineatthelab commented on #8417
@jyoti3286 team should do the work @pwei1018 mentioned

[2021-12-03 00:07] argush3 commented on #10320
Proxied DEV FE to local instance of namex api to debug this issue.  Seems like there is an issue with the template path of `report-templates/nameRequest.html`.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/917820cb-a4ef-4306-9677-5f81e38136d9)

[2021-12-03 00:25] chdivyareddy opened #10363 "Business Debtor Search - VON look-up Dropdown Issue"
- Business Debtor drop-down is displayed even after the search button has been selected.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/492a5a1d-7993-4878-adb6-65571fbdff0d)

**Expected Behavior:**
The dropdown shouldn’t continue to display after the search button has been selected and should disappear when the user clicks anywhere on the browser.

[2021-12-03 00:29] Maribeth-Wilson commented on #10321
@JohnamLane Once you have confirmed a date, I can work on the logistics

[2021-12-03 00:30] chdivyareddy commented on #9355
Verified, moving to Done.

[2021-12-03 00:41] forgeuxGH5 commented on #9278
Change first checkbox text to "I confirm that I wish to, and that I am authorized to **discharge this registration**."

[2021-12-03 01:55] tlebedovich commented on #7941
@mstanton1 - phew, that was a doozy UXAing and listing out all the little updates. Ready for Dev. Would be great to have someone who loves front end work :)

[2021-12-03 04:44] chdivyareddy commented on #9063
This should be fixed.
**Current Behavior:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c98453b5-630a-4091-8f60-19b6429bcd46)

[2021-12-03 06:00] chdivyareddy commented on #10359
I verified in DEV and it is working as expected.

**Before Save & Resume:**
![BeforeSave&Resume.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ce444352-ba79-4d88-bc18-bffcb0482018)

**Draft:**
![Draft.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d2de3642-729c-4963-805a-6c5c85dee9dc)

[2021-12-03 15:31] argush3 commented on #10320
Proxied DEV FE to locally running namex api to debug this a bit.  Was able to recreate what seems like the same error message we are seeing in the dev namex api logs.  i.e. `handle_exception: Error: AttributeError("'str' object has no attribute 'get'")`

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/de7f6df0-669b-47ba-a567-9a903086bf32)

[2021-12-03 16:33] mstanton1 commented on #10314
Adding in specific changes to be made due to policy input.

1) Change paragraph 3
from: Under the Personal Property Security Act, the Personal Property Registry records security interests and liens against personal property in B.C., whether it belongs to a business or an individual.
to: Under the Personal Property Security Act, the Personal Property Registry records security interests and liens ag

[2021-12-03 16:38] mstanton1 opened #10367 "PPR - Post Go Live CMS Website review - Due: need to hear back from Amber"
https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/bc-registry-services-personal-property-registry

### Policy Review took place and noted ###

**Describing PPR registrations as “liens” that are “legal claims on personal property”**
We understand that the BCROS PPR page intentionally uses (redefines) the term “lien” in a general way to refer to various personal pro

[2021-12-03 17:18] severinbeauvais commented on #10320
Good digging. Any obvious reason why this fails for CP NRs but not BC ones?

[2021-12-03 17:19] jyoti3286 commented on #10322
As discussed in the standup - this is being done for Add routing slip. @rarya-freshworks - Add more details as required

[2021-12-03 17:23] mstanton1 commented on #9415
Closing as codes are created. No ability to test through Transactions right now as this ability has not yet been built. To verify at that time.

[2021-12-03 17:23] #9415 closed

[2021-12-03 17:30] gprimeau commented on #10258
As per our discussion a draft version has been sent to Sienna for review

[2021-12-03 17:35] #8667 closed

[2021-12-03 17:38] jinghualicgi commented on #10331
duplicated with Registry Staff - Ignore Leading and Trailing Spaces#10342

[2021-12-03 17:38] #10331 closed

[2021-12-03 17:38] mstanton1 commented on #10044
@jinghualicgi moving out of staff epic and into post-go live.

[2021-12-03 17:51] #7048 closed

[2021-12-03 18:40] lmcclung opened #10368 "Create Jupyter Notebook for Coop Restoration"
Look at existing jupyter notebooks (in the private SRE repo?) for examples on how to do this

- [ ] Need to get all the fields to correctly load in a historical restoration filing (from the mainframe to the new system)
- [ ] Create the Jupyter notebook for Coop Restoration

[2021-12-03 18:44] severinbeauvais commented on #9329
Would this ticket implement an array of allowable actions that the UI can use to selectively enable/disable buttons?

[2021-12-03 18:51] sienna-blumstengel commented on #10019
Grooming Dec 3rd: Let's deal with this after Thor has finished his UTC ticket _?

[2021-12-03 18:58] severinbeauvais commented on #7635
Per [the RFC](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/10098), the API may provide several new variables to denote the business' current state/compliance/standing/etc. Handling this change in the UI (in THIS ticket) probably fits within the current estimate.

However, the RFC also mentions the management of "allowable actions" depending on

[2021-12-03 19:04] severinbeauvais opened #10369 "Filings UI - Handle "allowable actions""
The initial framework for the UI to manage "allowable actions" is implemented in #7365. The required API work is #9329.

What remains is:
- [ ] fetch allowable actions from the API
- [ ] data structure and setters/getters
- [ ] refactoring to use data structure instead of internal business rules (should be small)
- [ ] update unit tests

Re:

Requirements document: https://docs.google.com/document

[2021-12-03 19:10] jinghualicgi commented on #10144
Now waiting: UI Design - Build Login page with three logon options (for bookmarks)#10231

[2021-12-03 19:39] mstanton1 commented on #8185
Work to be completed:

1) Look up account names in attached spreadsheet in PROD. If you find an account verify the BCOL account number matches your spreadsheet. List Registries Account Number in spreadsheet.
2) Obtain contact information for each of the BCOL account numbers and confirm if they have set up a BC Registries account and confirm account number.
3) Once all accounts are identified send

[2021-12-03 20:05] mstanton1 commented on #9886
@jordiwes from policy feedback I noticed the wording change under "Register or search for legal claims on property" had not yet been implemented.

Design currently reads as "The Personal Property Registry records security interests and liens against personal property belonging to British Columbia businesses and individuals" (https://projects.invisionapp.com/share/RZ11YAVCGPFT#/screens/460454171)

[2021-12-03 20:06] argush3 commented on #10320
so this is a small fix.  BC works because it returns a dictionary with a value for the `DEFAULT` key.  CP is not a dictionary.  I tested a fix that worked as per the screenshot.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/0c066abe-2585-48f4-ab68-aa8c9f8725e1)

[2021-12-03 20:13] severinbeauvais commented on #10159
Refs:
https://cli.vuejs.org/core-plugins/pwa.html#example-configuration
https://newbedev.com/disable-pwa-plugin-in-vue-cli-3
https://santhoshkumarravi.medium.com/vue-pwa-disable-5463e44b1f7f
https://love2dev.com/blog/how-to-uninstall-a-service-worker/

[code]

[2021-12-03 20:19] severinbeauvais commented on #10320
@lmcclung ^^^ Easy ticket for someone on SRE team, or maybe Argus could just check in the fix? :)

[2021-12-03 20:21] doug-lovett commented on #10087
Reverted to using the identical style for the certified section as the latest lear report. Copied from:
https://github.com/bcgov/lear/blob/main/legal-api/report-templates/template-parts/common/style.html

Attached is the latest example from DEV.
[https://app.zenhub.com/files/157936592/4d3152ec-8e86-4196-b548-80240c420a3c/download](https://app.zenhub.com/files/157936592/4d3152ec-8e86-4196-b548-8024

[2021-12-03 20:26] sienna-blumstengel commented on #10258
CHanges added to the adobe draft link, please update when you can  @gprimeau :)

[2021-12-03 20:31] severinbeauvais commented on #7627
This ticket is now obsolete as #10159 is removing the service worker functionality altogether.

[2021-12-03 20:46] severinbeauvais opened #10370 "Filings UI: remove temp plugin after Dec 2022"
In ticket [10159](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/10159), a temporary plugin was installed to remove any Progressive Web App / Service Worker that users may have on their system from a previous version of Filings UI (which was not behaving as we wanted).

This temporary plugin ([webpack-remove-serviceworker-plugin](https://www.npmj

[2021-12-03 21:50] severinbeauvais commented on #10319
This problem might be due to [10159](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/10159), which can cause the maximum COD date (which is normally "today") to be LESS THAN the minimum COD date (which is either the Last COD Date or the Entity Filing Date, as provided in the business response object -- see screenshot above).

If the maximum date i

[2021-12-03 22:21] severinbeauvais commented on #10319
Because the entered date is not valid -- since it cannot be both less than a date in the past and greater than today (whatever "today" is) -- no valid date can be entered.

The error message attempts to display a formatted min date and max date, but it validates them first, and they are not valid, so an empty string is displayed (see screenshot above). I suggest not validating the dates in this co

[2021-12-03 22:30] sienna-blumstengel commented on #9401
Sent another email to Amber today

[2021-12-03 22:35] severinbeauvais commented on #10319
The _actual_ fix for this bug is fixing the "today" issue in [10159](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/10159).

[2021-12-03 23:48] chdivyareddy commented on #10119
@kialj876 , Previously the user navigation from BC Registries Dashboard worked in DEV. Now it is not working in both DEV & TEST. Please take a look.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f14b5e32-044f-4050-b0da-6d8742372ac1)

[2021-12-04 01:18] chdivyareddy commented on #10120
Hey @doug-lovett , In DEV I can see Registered By and Verification Statements only for the BRTEST1 account.

For BRTEST3 & BRTEST5 - The registered By column is currently showing blank and the verification statements with info icon cannot be downloaded for the registrations (100503B, 100348B) created from the BCREG0057 account. Can you please take a look...thanks!

![image.png](https://images.zenh

[2021-12-04 01:20] severinbeauvais commented on #10319
### Test Notes

In fact, the trigger for this error is not a "newly incorporated business", but is instead your cached "today's date" (HEAD call in network tab). Hence, to see this error, your HEAD call must be cached. You can verify this here:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/fee8ee43-1354-4009-b4c1-89b109b8513a)

and here:

![image.png](https://images.z

[2021-12-04 01:30] severinbeauvais commented on #10159
The implemented solution seems to work: the new `registerServiceWorks.ts` script deletes all cached items, and the new `service-worker.js` script destroys itself (and any clients in other brower tabs).

As mentioned in the PR comments, after some time the new package and its related files can be deleted from this project. See [10370](https://app.zenhub.com/workspaces/entities-team-space-6143567664

[2021-12-04 01:33] severinbeauvais commented on #7627
There was no code change for this ticket, hence no release is tagged.

[2021-12-04 01:35] severinbeauvais commented on #10159
@jdyck-fw This ticket encompassed another 2 tickets (whose estimates I set to 0), so if possible the estimate for THIS ticket should be bumped up to 3.

[2021-12-04 23:11] trishreimer opened #10371 "Internal Communications - Reg Staff, BCOL HD, IDIM and Maximus - Due Dec 24 - to support Dec 28th Market Release Date"
@fareenr I believe this would be an email based on the one-pager I showed you.

- [x] Write internal communications for this feature

- [ ] send to Reg staff, BCoL HD, BCOL Admin, Maximus SBC Contact Centre and IDIM (Amanda)

- [ ] could be included with release notes

[2021-12-04 23:13] trishreimer opened #10372 "Update Maximus Knowledge Base to support adding additional Admin to BCeID - Due Dec 24 to support Dec 28 market release date"
Maximus provides tier 1 support to clients for login and account setup, so the KB may need to be updated to support this change.

- [ ] Review existing KB info

- [ ] use track changes and provide updates

- [ ] send to SBC Contact Centre so they can upload to their KB system

[2021-12-04 23:15] #9688 closed

[2021-12-05 19:51] trishreimer opened #10373 "OCM - Exec Awareness Info Note to Support Go Live for FAS Implementation - Before end of March 2022 (March 25th)"
- [ ] Before go live, write info note to ensure executive are aware of this milestone

- [ ] Review with Jyoti, Olisa and Kaine

- [ ] Some key messages may include:
- another major milestone of modernization to move off the mainframe.
- ongoing collaboration with CAS
- extensive engagement with staff, including design reviews and testing to ensure a successful implementation

[2021-12-05 19:57] trishreimer opened #10374 "OCM - Internal Awareness - FAS is changing and go live date is Feb 1 - Due Feb 1 2022"
- [ ] Write email for staff -

- [ ] review with Cameron, Rob, Julie and Debbie

- [ ] Cameron to email to the team

Business processes changes
when, why, etc.
key messages are needed
impacts to existing apps (none - except last service flag will not be selected)
new system
testing phase
timing, why, etc.

[2021-12-05 20:00] trishreimer opened #10375 "OCM - Internal Awareness - Testing/UAT, Training and FAS is changing - include timelines, why, etc. - Due before UAT starts - Jan 2022"
- [ ] Write email for all staff.
Target audience: mainly Business Ops, BC REg Admin and SBC Finance:

- FAS is being upgraded
- why: to move current app off mainframe - anything else??? any other new features? are we fixing anything??
- general timeline for UAT, go live, etc.

- to help get staff familiar with the application, testing/UAT will start on Jan XX 2022.  Business ops staff, BC Reg Admi

[2021-12-05 20:07] trishreimer commented on #10375
@cwulff1 @zac-broitman would you be able to work on this over the month of December? I included some suggested messaging noted above.

[2021-12-05 20:08] trishreimer opened #10376 "OCM - FAS - Understand and confirm Processes & Support with CAS - due Mid-Jan to support Feb go live"
- [ ] Write email to CAS to confirm the new integrations they will support and new processes, such as:

- user management - what is the process to get new users setup, removed, added
- support - issues with bugs, etc.
- outages/system issues - ensure staff are on the distribution list and are aware of outages
- refunds
- queue management for when there are outages
- other - see change impact asses

[2021-12-05 20:13] trishreimer opened #10377 "OCM - Schedule and Coordinate UAT/Training for FAS - due Mid Jan"
- [x] Confirm UAT testers with Business Leads: Ensure BUSINESS OPS, BC REG ADMIN AND SBC FINANCE are included.

- [x] Provide walk through/demo of application with all testers before testing starts - just to provide some initial awareness of how the application works. - Proposed plan: January 12th, initial communication to testers. Jan 19th, host demo to team lead testers. Jan 26th, team leads sta

[2021-12-05 20:22] trishreimer opened #10378 "OCM - IT Ops - ensure Service Now is updated to support FAS"

[2021-12-05 20:22] trishreimer opened #10379 "OCM - Review all staff email macros that may be used for FAS and update with new info - Due before go live"

[2021-12-05 20:24] trishreimer opened #10380 "OCM - Create Teams Chat to support staff for go live"

[2021-12-05 20:26] trishreimer opened #10381 "OCM - Confirm with BC Reg and SBC Finance staff if any job aides/guides are needed to help understand changes"
- [ ] Confirm with BC Reg admin,

- [ ] BC Reg staff

- [ ] SBC Finance

- [ ] CAS?

[2021-12-05 20:28] trishreimer commented on #9674
UAT will be used for training.
closing tix.

[2021-12-05 20:28] #9674 closed

[2021-12-05 21:38] trishreimer commented on #9984
Not sure if we actually need another info session for non-ministry clients, just yet. Let's try to manage this with communications and then follow up with meetings, if required, for clients that may need additional engagement.

If there are a lot of clients wanting to meet, then perhaps we can look at scheduling small sessions.

[2021-12-05 21:38] trishreimer commented on #9984
Many of these clients actually sat in on other info sessions and are creating premium accounts.

[2021-12-05 21:38] #9984 closed

[2021-12-05 21:42] trishreimer commented on #9913
Let's put the info session on hold for these clients and wait to see how many issues are escalated regarding paying with PAD and what questions we get from the last email.

These clients have been advised they will need to setup a premium account, verify their ID and pay with PAD with recent email, signed by Carol.

Our team will change these premium accounts to non-ministry gov accounts.

The sys

[2021-12-05 21:43] #9913 closed

[2021-12-06 16:37] gprimeau commented on #10258
@sienna-blumstengel changes have been made, and draft has been sent back to you.

[2021-12-06 17:12] severinbeauvais commented on #10319
Please verify that a COA can be filed on a newly incorporated business.

[2021-12-06 17:23] forgeuxGH5 opened #10382 "Sharing of Draft Registrations Between users outside of the same account or users without an account"
Users want to be able to share a draft registration prior to paying for the registration so someone else can confirm that the information in the registration is correct.

[2021-12-06 17:26] trishreimer opened #10383 "Update existing Job Aides on BC Gov website to include screenshots - Due Dec 14"
Could you please review the pdf docs and update them to include screenshots:

Verifying your identity (PDF 527kb)
Create and manage an account (PDF, 486.5KB)
Add team members to your account (PDF, 209KB)
How to add a BC Registries product or service to an existing Premium account (PDF)

Please also look for references to the Mobile Card and update to 'BC Services Card App' except where we specific

[2021-12-06 17:28] severinbeauvais opened #10384 "Legal API: HTTP 500 when trying to resume a COA correction"
Found in Dev:

1. login to BCROS as staff
2. open a business with a recent filing (eg, COA)
3. click down arrow beside COA filing and select "File a Correction"
4. enter the correction detail, legal name and check mark
5. enter an invalid Routing Slip Number (eg, 12345689)
6. click "File and Pay"
7. observe that Correction - Address Change filing is in Draft state
8. click View Details
9. observe

[2021-12-06 17:33] forgeuxGH5 commented on #10382
Options discussed so far in rocket chat:

- User screenshots the Review page (could do whole page screenshot of the entire review page or screenshot sections of the page)
- User prints the Review page to a PDF
- We create a "draft" version of the registration as a pdf (use our current pdf output template and watermark the pdf as DRAFT)
In Rocket Chat @thorwolpert suggested estimating the third opt

[2021-12-06 17:33] tlebedovich commented on #10087
@doug-lovett - much better! thanks, moving to RFQA.

[2021-12-06 17:40] tlebedovich commented on #10045
@mstanton1 @janisrogers - did the PDF Output feedback above get put into a new separate ticket as well?

[2021-12-06 17:47] cwulff1 opened #10385 "OCM - Internal Awareness - Testing/UAT, Training and FAS is changing - include timelines, why, etc. - Due before UAT starts - Jan 2022 #10375"

[2021-12-06 17:47] cwulff1 opened #10386 "OCM - Internal Awareness - Testing/UAT, Training and FAS is changing - include timelines, why, etc. - Due before UAT starts - Jan 2022 #10375"

[2021-12-06 17:47] cwulff1 opened #10387 "OCM - Internal Awareness - Testing/UAT, Training and FAS is changing - include timelines, why, etc. - Due before UAT starts - Jan 2022 #10375"

[2021-12-06 17:48] #10385 closed

[2021-12-06 17:48] #10386 closed

[2021-12-06 17:48] #10387 closed

[2021-12-06 18:02] Maribeth-Wilson commented on #10383
Yes, currently working on 10109 which aligns with this ticket. This is my first priority today (Dec 6)

[2021-12-06 18:03] doug-lovett commented on #10120
SBC staff in DEV is not configured for these 2 base registration numbers. SBC staff is working ; BCOL helpdesk is not. The BCOL helpdesk role was not given the correct access: the fix is in the next build.

[2021-12-06 18:07] severinbeauvais opened #10388 "Entity: Sprint 11.5 Release (current date issues)"
**This release includes:**
- [Filings UI v4.2.0](https://github.com/bcgov/business-filings-ui/releases)

Prior to moving into production, the following steps should be completed or confirmed:
- [x] Verify version number in the code being released
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are pres

[2021-12-06 18:11] trishreimer commented on #10383
I just added this to ticket for background:

The job aides were originally created as separate docs to allow the client to focus on specific topics they needed support with because a lot of research and testing was completed  on these flows so our hypothesis at the time was not a lot of effort was needed for training materials. We now understand that clients need a lot more support and visuals.

N

[2021-12-06 18:39] zac-broitman commented on #9931
I believe this is covered by #9381. Providing a brief overview in the ticket description here of the unclaimed funds process.

[2021-12-06 18:49] zac-broitman commented on #9925
On Hold status would be to differentiate "old" routing slips that are unclaimed and routing slips that are intentionally being held for a later date before being used (certain timed filings was an example brought up). An On Hold RS would not be refunded.

**To confirm with business that there is no other process for On Hold**

[2021-12-06 19:12] PatrickAHeath opened #10389 "API - Show fee amount"
When completing an amendment, renewal or discharge for a legacy registration type fee amounts are not displaying. Fee amounts should display for each of these transactions in the fee modal to the right.

MISC_MINERAL_RESOURCE = 'MR',
CROWN_MINING_TAX = 'MI',
CROWN_CORP_CAPITAL_TAX = 'CC',
CROWN_CONSUMPTION_TRANSITION_TAX = 'DP',
CROWN_HOTEL_ROOM_TAX = 'HR',
CROWN_SOCIAL_SERVICE_TAX = 'SS',
TRANSIT

[2021-12-06 19:13] jinghualicgi commented on #9521
Hi Steph, sorry I forgot to follow-up with this ticket. Please check this one when you have time, thanks @jordiwes

[2021-12-06 19:17] tlebedovich commented on #10045
@jordiwes - new minor bug to fix please:

- [ ] If user opens Client Search, selects a payment type and/or Certified Search box and then hits "close" or "cancel button" these selections should be reset when the user opens it again. it is currently saving the selections.

![Screen Shot 2021-12-06 at 9.47.21 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/bdf7db63-6276-40ef-9d0

[2021-12-06 19:18] jinghualicgi opened #10390 "Set and Implement up call back component"

[2021-12-06 19:19] jinghualicgi commented on #10390
Created a separate task ticket for this story, move est. from story to task

[2021-12-06 19:21] magszymanski opened #10391 "Define Ops process once key request is received"

[2021-12-06 19:24] magszymanski commented on #10391
Meeting with POs, BAs, Ops, devs, etc on Tuesday, Dec 7  to define backend process.
Need to define, among others: what to do with signed Terms of Use, how to address PAD issues, etc.

I am assigning myself to keep track and coordinate the work. Process will also be defined in impact assessment.

[2021-12-06 19:33] tlebedovich commented on #8817
@mstanton1 - I converted this into a dev bug ticket for leftover UXA feedback from ticket #10045

[2021-12-06 19:39] tlebedovich opened #10392 "Allow trailing zeros and spaces in input fields"
Allow users to add trailing zeros and remove them without showing an error (ie if they had a space after there character input by mistake)

This may need a list created of input fields to update, or devs can just check all of the search and input fields app-wide in PPR;

One example @janisrogers found is:

- [ ] Staff Search Payment modal - Ignore leading and trailing spaces in routing slip number

[2021-12-06 19:51] cwulff1 opened #10393 "Transition Plan for Myra"

[2021-12-06 19:51] tlebedovich commented on #8817
already included in #10343, closing this

[2021-12-06 19:51] #8817 closed

[2021-12-06 19:52] #10393 closed

[2021-12-06 19:55] cameron-freshworks commented on #9384
This is partially complete.
The code update to pass along Resolution Dates without a ShareClass update, is complete.
Ticket completion is pending/blocked by: https://github.com/bcgov/entity/issues/9992

Will return to this ticket once we are able to complete.

[2021-12-06 20:03] severinbeauvais opened #10394 "Create UI: labels wrap incorrectly"
1. go to Create UI to dissolve a cooperative
2. go to step 2 (Complete Special Resolution)
3. change your browser window width
4. observe incorrect label wrapping:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/c1e2f3fd-f5df-4dfb-ad9d-de1516cc28aa)

I can think of 2 solutions:
1. pre-emptively move second word to second line
2. use CSS [work-break](https://www.w3school

[2021-12-06 20:08] chdivyareddy commented on #10045
@tlebedovich , for the Trailing spaces issue #10342 ticket was created. Please take a look:)

[2021-12-06 20:15] tlebedovich commented on #10045
great thanks @chdivyareddy - wonder if I should keep the other ticket for someone to review other input fields in PPR for the same issue?

[2021-12-06 20:19] #10392 closed

[2021-12-06 20:20] riyazuddinsyed opened #10395 "Time validation doesn't gets validated at the time of payment."
**Describe the bug in the current situation**
When filing the VOL DISS filings upon selecting the FED the time validation doesn't show up for the individual component and even while clicking on File and Pay the user is able to move to the payment screen.

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/BC0870875'
2. Login with BCREG0001 and under account asdf
3. Start

[2021-12-06 20:51] jinghualicgi commented on #10125
Moving this API ticket to staging and waiting UI tickets to be finished, will move to RFQA together with UI Ticket. Thanks

[2021-12-06 20:54] jinghualicgi commented on #10086
Moving this API ticket to staging and waiting UI tickets to be finished, will move to RFQA together with UI Ticket. Thanks
Related UI Ticket is Registration - BCOL Staff don't let pay#10116

[2021-12-06 20:55] jinghualicgi commented on #10085
Moving this API ticket to staging and waiting UI tickets to be finished, will move to RFQA together with UI Ticket. Thanks
Related UI Ticket is Registration - BCOL Staff don't let pay#10116

[2021-12-06 21:02] severinbeauvais commented on #10138
I have completed this testing to the best of my abilities. See bold text in description block, and comments above, for details. Summary:
- I cannot test some things because I don't have the right kinds of business available.
- Online Banking is not fully tested because it's difficult to set up in CAS.
- I have not received any IA emails or dissolution emails.
- Someone needs to verify some things

[2021-12-06 21:02] severinbeauvais commented on #10138
@riyazuddinsyed @sienna-blumstengel @lmcclung Are you OK with the above? If so, please move this ticket to Done.

[2021-12-06 21:10] severinbeauvais opened #10396 "Filings UI: changing date makes COD unfileable"
1. login to BCROS Test (eg, BCREG0020)
2. open a business (eg, CP3545785)
3. begin a Director Change filing
4. leave Director Change Date as "today"
5. make some director changes
6. enter Legal Name and check the checkbox
7. observe that the Next button is enabled
8. change the Director Change Date
9. observe that the Next button is DISABLED
10. set Director Change Date back to "today"
11. observe

[2021-12-06 21:13] severinbeauvais commented on #10396
This bug reproduces in Dev.

[2021-12-06 21:27] magszymanski commented on #10225
Timeline has been reviewed and agreed upon with SBC.
Timeline can be found here: https://docs.google.com/presentation/d/1VbK7_W630o0klsIRPIB3AAoMifiWITQL/edit?usp=sharing&ouid=109508011503764748857&rtpof=true&sd=true
Meeting minutes from above meeting can be found here (Dec 2 entry): https://docs.google.com/document/d/19md9hXBU70lsLsOh11LZXdGc_0HqKW-BZndkh3PnKZo/edit

[2021-12-06 21:28] magszymanski commented on #10225
![image.png](https://images.zenhubusercontent.com/60c236af2477c5f34b65a486/2e28b5e3-2436-4415-8df2-3057b8f02ceb)

[2021-12-06 21:42] severinbeauvais commented on #10396
OOPS! I didn't notice that, when I changed the date, any changes I had made (eg, cease, appoint, name change, address change) were cleared -- which makes sense since the directors "as of the new date" are loaded for edit. And because I no longer had any changes, the Next button is disabled (correctly).

So, I'm closing this ticket directly. This is a warm-ware (ie, user) error, not a software erro

[2021-12-06 21:42] #10396 closed

[2021-12-06 22:24] severinbeauvais commented on #7635
Although blocked by the finer details, I have resumed work on this ticket in order to flesh out the known/planned "allowable actions" architecture. I will make this change compatible with the existing functionality and easy to switch to when this info comes from the API. This is a precursor to #10369.

[2021-12-06 22:27] tlebedovich commented on #9243
@lmcclung @yuisotozaki - 2 last tiny questions on Invision for this ticket

[2021-12-06 22:55] janisrogers commented on #10041
There are still some problems with the breadcrumbs, but I think Tracey addressed these in another ticket. Ready for QA.

[2021-12-06 23:13] magszymanski commented on #10273
This is with Joanna to implement.

[2021-12-06 23:20] janisrogers commented on #10112
Not displaying 'edit mode' for registering party when logged in as SBC Staff
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/618b6293-182a-4ad1-8943-6e0303d8cbad)

[2021-12-06 23:28] magszymanski opened #10397 "Update PPR Messaging in PPR mainframe"
Working with Bob on new wording.
We cannot paste URLs in there as URLs are case sensitive and PPR System News only accepts CAPS.

Current suggested wording, which asks users to head back to main BCOL page and look for PPR update.

NEW PPR ONLINE APP IS COMING JAN 25 2022.
YOU MUST SET UP A NEW ACCOUNT NOW IN THE NEW BC REG APP.
USERS WITH EXISTING ACCOUNTS IN THE NEW APP MUST ADD PPR AS A PRODUCT.

[2021-12-06 23:36] magszymanski commented on #10272
Updates as of Dec. 6:

- [ ] BCREG.CA - Gen to incorporate a Modernization Initiative section (is there a ticket for this?)
- [ ] Gen, can you please add a mod site update post to reflect Jan 25 PPR go live date? Here is the content: https://docs.google.com/document/d/1wQP3wUKC-rsHehZt1em8_Ydi3XOyYlCzgBVkFaqalIU/edit

[2021-12-07 00:07] Maribeth-Wilson commented on #10383
I am working on this now, but unfortunately it will not be completed today. I am making it my top priority.

[2021-12-07 00:20] janisrogers commented on #10340
@forgeuxGH5 Should this be a modal or snackbar on registration table?

[2021-12-07 00:50] tlebedovich commented on #10207
@janisrogers @forgeuxGH5 - does this need wireframes or can I start on the visual design for this? (may need to have a quick chat with one of you about it)

[2021-12-07 01:18] forgeuxGH5 commented on #10207
@janisrogers is the one to know - I think we said we might not even do visual design - just go with what is currently done...

[2021-12-07 01:22] tlebedovich commented on #10249
@forgeuxGH5 - ready for your review - removing action buttons from business marketing page and adding them to My business Registry - plus adding updated headlines and help text (we will need to update the help text for all the steps on the marketing page as well). Copy is just my first stab at it, so needs your review. Was basing it on a first time user landing on the My Business Registry page and

[2021-12-07 01:27] forgeuxGH5 commented on #10340
I'd start with the appearance of the item on the dashboard - can we make it more obvious that the registration was successful just based on the appearance on the dashboard (location - autoscroll to My Registrations with the registration at the top of the table; maybe add an icon - "NEW" or something, maybe have a different colour of the row item, etc.); if this won't work then look at a snackbar (

[2021-12-07 04:33] Maribeth-Wilson commented on #10383
Please find rough draft here:

https://docs.google.com/document/d/1djR1xUNMM5TihJ1klzLySZXX9Cgqi-3D/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

I will ensure screenshots are added and links verified.

[2021-12-07 15:36] #5072 closed

[2021-12-07 16:04] trishreimer commented on #10383
So far so good!!! Once the screenshots are added and it's ready for review, let me know. Thank you!!!

[2021-12-07 16:06] trishreimer commented on #10383
![image](https://user-images.githubusercontent.com/42844477/145064116-42502e73-9b6d-4e35-b618-1c2b6a97eb59.png)
The image on the home page may need a minor tweak to be aligned. see image above.

[2021-12-07 16:08] jinghualicgi commented on #10116
Hi Steph, 10085 which in staging is pending this story, see if you have time for this. Thanks @jordiwes

[2021-12-07 16:14] trishreimer commented on #10109
One suggestion I have is once the new guide is ready, remove these pdf files:
- Verifying your identity
- add team members to your account
- Create and manage your account

Create a new section that is above the Videos, called "How to use the new BC Registry Application" Guides
- then add the new How to get setup in the new BC Registry Application
- How to add a BC Registries product or service to

[2021-12-07 16:15] trishreimer commented on #10109
REmove this page: https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization/business-registry-faq

[2021-12-07 16:15] trishreimer commented on #10109
Put all information session content together.

[2021-12-07 16:16] trishreimer commented on #10109
REmove this link: Watch a video on how to get started - under Information for BC Online users

[2021-12-07 16:16] trishreimer commented on #10109
Move this link to the Name Request page.
How to Find your Name Request without the Name Request (NR) Number (PDF, 437 KB)

[2021-12-07 16:17] sumesh-aot commented on #9321
Adjusting the estimate as the ticket also needs to handle the backend flow a routing slip gets linked to NSF - on CFS side.

[2021-12-07 16:22] Maribeth-Wilson commented on #10253
Draft email can be found here:
https://docs.google.com/document/d/1JIb2FSU3wK10J_hPNjM3HbIpEqvHQlpK/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

[2021-12-07 16:24] magszymanski commented on #10259
Melissa drafted job aide and I am now reviewing. Deadline to send to SBC is Dec 10.

[2021-12-07 16:26] Maribeth-Wilson commented on #10383
Oh, that's odd. I will fix right away

[2021-12-07 16:29] gprimeau commented on #10258
Form completed an ready to be uploaded

[2021-12-07 16:41] severinbeauvais commented on #9350
I should be able to do this with minimal extra effort as part of the framework I'm developing to handle allowable actions (in #7635).

[2021-12-07 16:46] trishreimer commented on #10109
@gprimeau see comments above for some suggested changes.

[2021-12-07 16:52] sienna-blumstengel commented on #9396
I changed the deadline from dec 12 (date of training) to dec 16 (date of release)

also reordered the checklist:

- [ ] Sienna add content from trainings
- [ ] Sienna update
- [ ] Sienna send to Julie
- [ ] **Julie to review and add to OneNote**

Julie can review the final version when she adds it to the OneNote. We will make sure it is added before prod release.

[2021-12-07 17:04] #10101 closed

[2021-12-07 17:04] #9355 closed

[2021-12-07 17:05] #10040 closed

[2021-12-07 17:05] #10039 closed

[2021-12-07 17:05] #10266 closed

[2021-12-07 17:17] cwulff1 commented on #10375
@trishreimer absolutely.  Thanks for giving us the head start

[2021-12-07 17:18] #9942 closed

[2021-12-07 17:29] janisrogers commented on #10207
Here is what they currently look like:

[Discharge](https://github.com/bcgov/entity/files/7670406/vos20211124.pdf)

[Amendment](https://github.com/bcgov/entity/files/7670412/PPR.Verification.Statements.for.Amendments20211126.pdf)

[2021-12-07 17:37] rarya-freshworks commented on #9290
Tested using iphone, ipad physical devices. For android used browser stack and checked couple of android devices.

[2021-12-07 17:39] SateeshFW commented on #10255
BC Online admin has to ask the admin of the account to set up PAD first before switching to a non-ministry account.

[2021-12-07 17:41] tlebedovich commented on #10207
Well, they don't match our other outputs and these do contain additional contact/address information our existing outputs do not, but it's not my call whether to keep it as is or not.

[2021-12-07 17:43] mstanton1 commented on #10382
@forgeuxGH5 which user group would like this functionality?

[2021-12-07 17:47] stevenc987 commented on #8272
@rarmitag @thorwolpert @lmcclung
This was assigned to Thor for review. It seems he was busy. If you can help to review the codes, that would be great. Thank you!

[2021-12-07 17:49] yuisotozaki commented on #10263
@lmcclung Any news on if/how/what PDF inclusions look like?

[2021-12-07 17:52] yuisotozaki opened #10398 "UI Design - SP/GP Multiple Change Outputs + Email"
Outputs required for Firm Registrations and Multiple Change filings

Todo
* [x] Look at OneStop output (Email and PDF)
* [ ] Verify [email content spreadsheet](https://docs.google.com/spreadsheets/d/17wMY9znmWMr2RoXH9S2elffC8uE7iifUGB5Hu3VVFpE/edit#gid=797805835&range=H2)
* [x] Create a new design based on the existing output

### Multiple Change Output Design Comps (2 Outputs):
https://projects.i

[2021-12-07 17:58] trishreimer opened #10399 "OCM - Create Job Aide guide to help users understand PAD process (needed for non-min and API users) - due Dec 17"
With users starting to use PAD, clients need support and have questions. A guide is needed to answer some of these questions and to explain the process.

example: For the last API client I spoke with (Teranet) I was able to verbally provide some information on PAD but having something that explains the process would enable them to plan for how this will work when the APIs are live and they are for

[2021-12-07 18:09] zac-broitman commented on #10375
Thanks Trish, I assigned myself to this so I can track it more easily going forward

[2021-12-07 18:11] jinghualicgi commented on #10399
@zac-broitman Zac can you take a look at this ticket/task? Thanks

[2021-12-07 18:12] sumesh-aot opened #10400 "CSO service account - return only transactions created by the account for CSO products"
CSO service account - return only transactions created by the account for CSO products
CSO is planning to use the payments search endpoint to get all the transactions for CSO every month/day/week

[2021-12-07 18:13] sumesh-aot opened #10401 "Display api gw keys in account settings"
Display api gw keys in account settings

[2021-12-07 18:21] jinghualicgi commented on #10314
@PatrickAHeath Patrick, can you take a look at this ticket/task?
@cwulff1 Cameron, please let Patrick know if you can help out
CC: @mstanton1

[2021-12-07 18:26] Maribeth-Wilson commented on #10270
tasks align with #10283

[2021-12-07 18:26] #10270 closed

[2021-12-07 18:28] rkim13103 commented on #10401
Design Suggestion:
https://preview.uxpin.com/bec3f8d14073ab230b4cf9026aefe303972f8fe7#/pages/138434650

[2021-12-07 18:33] jinghualicgi commented on #10239
@Maribeth-Wilson Maribeth please check with John if he has some input for you

[2021-12-07 18:49] forgeuxGH5 commented on #10382
Primarily third parties creating registrations for clients I think. I could see paralegals in a law firm using it too, if they don't want to go through the process of adding a lawyer as a team member on the account and have them log in to view DRAFT registrations. It's probably faster for the paralegal to just grab a PDF and email it.

[2021-12-07 18:54] jinghualicgi commented on #10372
John will provide detail input for reference, will assign this to new team member

[2021-12-07 18:55] forgeuxGH5 commented on #10382
@mstanton1 - Since we first started showing people the new PPR, this is probably the second most frequently requested feature we have received. Users currently do this, and they do it by screenshoting each page of the registration before submitting it.

[2021-12-07 18:56] jinghualicgi commented on #10376
@zac-broitman Zac, can you work on this during Jyoti's absence? Thanks

[2021-12-07 19:17] severinbeauvais commented on #10388
@riyazuddinsyed If this looks OK, please move this ticket to Done. Thanks!

[2021-12-07 19:34] janisrogers opened #10402 "Registering Party, Secured Parties and folio are not showing on Registration table for a draft"
I completed a registration up to the review and confirm page, then selected save and resume later. When I look at the registration in the table, the registering party the secured party and the folio number are not showing up.
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/b71255a8-facc-42db-816c-57b3e48f6a1c)

[2021-12-07 19:41] janisrogers commented on #10118
I will test this after the staff flows have completed.

[2021-12-07 20:34] jinghualicgi commented on #9689
will assign this to new team member

[2021-12-07 20:34] jinghualicgi commented on #9683
will assign this to new team member

[2021-12-07 20:35] jinghualicgi commented on #9687
will assign this to new team member

[2021-12-07 20:35] jinghualicgi commented on #9682
will assign this to new team member

[2021-12-07 20:35] jinghualicgi commented on #10371
will assign this to new team member

[2021-12-07 20:35] jinghualicgi commented on #10315
will assign this to new team member

[2021-12-07 20:36] jinghualicgi commented on #9684
will assign this to new team member

[2021-12-07 20:37] jinghualicgi commented on #9679
@trishreimer Hi Trish, should we un-assign John from this ticket, and will assign this to new team member? Please advise, thanks

[2021-12-07 20:54] cameron-freshworks opened #10403 "Lear - Preserve Directors on Dissolution Filing"
- Currently the system is deleting all existing parties (directors + any other ) and creating a custodian record, at the point of filing a DISSOLUTION filing.

- Current UI designs, business summaries and future restoration filings might require this information.

- [ ] To the above point, lear will also need to provide an endpoint or modification to an existing one, in order for the UI to retriev

[2021-12-07 21:21] PatrickAHeath commented on #8486
The registration description for Crown Charges in the Registration_Types table references the Act that the charge is against.  The Act column in the table will be 'Miscellaneous Registrations Act', which is what ties Crown Charges to PPR.  If both the description and the Act are displayed on search result and verification statement PDF outputs, all information about the registration is provided.

[2021-12-07 21:25] janisrogers commented on #10044
@mstanton1 If this is for post-go live, should it still be in sprint backlog?

[2021-12-07 21:26] mstanton1 commented on #10044
@janisrogers good catch. Moved to backlog. Thanks!

[2021-12-07 21:28] mstanton1 commented on #10207
@tlebedovich you mention the contact info is additional compared to existing outputs? If it's not included in other outputs perhaps we could avoid including that? Thoughts?

[2021-12-07 21:37] jinghualicgi opened #10404 "SRE 11.5"
**This is for all tasks until Jan11, 2022**
- [ ] Names bugs fixing;
- [ ] FAS integration with SOFI/REGI;
- [ ] Flask2 upgrade; (Notify API/LegalAPI ?)
- [ ] GCP training kick off;
- [ ] Demo (FAS integration)

[2021-12-07 21:45] tlebedovich commented on #10207
I don't think I would be the one to answer that. Maybe staff?

[2021-12-07 21:51] mstanton1 commented on #10382
@forgeuxGH5 thanks for the background info. For go-live option 2 above provides a PDF quickly and requires no dev work. The biggest concern with this approach is that users may not be aware that by clicking print they will have the option to save. This might require some OCM/client training.

[https://app.zenhub.com/files/157936592/a98ea01b-985c-4b45-a25a-a265e20fdcb6/download](https://app.zenhub.

[2021-12-07 22:02] jinghualicgi commented on #9290
Re-open and move to ready for release.

[2021-12-07 22:04] jinghualicgi commented on #9501
Ready for release

[2021-12-07 22:12] tlebedovich opened #10405 "UI Design - Update Help and Create Account Text on Business Marketing page"
- [ ] Update Help text on all four steps (should match to updated help on My Business Registry page)
- [ ] Update Create an account text
- [ ] adjust background light gray colour for these two sections to #F1F3F5 to match others (Create an account section has two different light gray happening):

![Screen Shot 2021-12-07 at 2.11.34 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482

[2021-12-07 22:17] mstanton1 commented on #10211
Pending work is to re-write some of the anonymization. IP

[2021-12-07 22:18] #10405 closed

[2021-12-07 22:21] #10212 closed

[2021-12-07 22:21] mstanton1 commented on #10212
Was completed for Nov 30th.

[2021-12-07 22:22] mstanton1 commented on #9454
Ideal to target Jan 25th go live. Impact to API users is URL they connect to changes name.

Need decision on name.

[2021-12-07 22:37] tlebedovich commented on #10249
@forgeuxGH5 - ping me when you have finished with copy updates/edits please

[2021-12-07 22:39] chdivyareddy commented on #9831
Hey @doug-lovett , For the Business Debtor Search in DEV, most of the searches are resulting in 0 matches even though the business debtor name is associated with an active registration. Can you please take a look...thanks!

Eg: DUET HOLDINGS INC, SULLIVAN VALLEY ENTERPRISES LTD.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c19ec6d4-ec9a-49b8-8581-06497c313127)

[2021-12-07 23:04] jinghualicgi commented on #9514
@lmcclung Hi Linda, there is a duplicated ticket #9009, which SRE will be working on. Can we close this one? Thanks
CC: @pwei1018

[2021-12-07 23:10] jyoti3286 commented on #10391
This is what we discussed in today's meeting:
![image.png](https://images.zenhubusercontent.com/5da610e0fc369f000178ab20/b3f3fe32-824f-4997-b85a-fc194a0015e2)

[2021-12-07 23:19] doug-lovett commented on #9831
@chdivyareddy I see the same results using the query that Bob provided. Following up with him.

[2021-12-07 23:23] jordiwes commented on #10112
Can't duplicate, let me know if it comes back :)

[2021-12-07 23:53] trishreimer commented on #10399
I found these docs @zac-broitman or @JohnamLane would you mind reviewing and confirming if this content is accurate so we can pull info from these docs to create a guide for users:

FAQ's
https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={5D451AD5-BEE3-4F64-A8A3-41F2719A65C2}&file=PUBLIC%20FAQS%20for%20PAD%20and%20Online%20Banking.docx&action=default&Defaul

[2021-12-08 00:07] pwei1018 commented on #9731
This ticket is focus on bug fix. The improvement of sentry cap call or retry function we should open a techdebt task to handle it.

[2021-12-08 00:20] trishreimer commented on #10253
I added the date for the info session and the deadline to respond. Would you mind double checking what I added?

Could you please send to Wendy Flynn, John Lane, Zac, Jyoti as an FYI first?

Then, to ministry gov account users.

Thank you!

[2021-12-08 01:08] Maribeth-Wilson commented on #10253
Will do. Emails will go out first thing Wed morning.

[2021-12-08 02:34] severinbeauvais commented on #10369
The initial framework for the UI to manage "allowable actions" is implemented in #7365.

What remains is:
- fetch allowable actions from the API
- data structure
- refactoring to use data structure instead of internal business rules (should be small)
- update unit tests

[2021-12-08 17:08] trishreimer commented on #10399
Final draft of the client FAQs for PAD and payment methods can be found here: https://docs.google.com/document/d/1OJ6J65Ce6bLWsbCpjPVJeLsuXUF4-5DM8UwjBoVFULo/edit

Posted to the ops channel for the BA's.
@cwulff1 FYI in case you want to share with staff.

[2021-12-08 17:21] mstanton1 opened #10406 "Create roles for MHR users"
### Who will do this work: Relationships

### Description
Need roles for
-Registries Staff (may not be needed if we can use the existing PPR role)
-Service BC govt agent/Qualified Suppliers (both can do the same things but log on differently)
-Qualified Suppliers
-Manufacturer

Note all should have access to 'Search for MH' so no role is needed

### Deadline
Not urgent

### Impact if deadline not

[2021-12-08 17:29] severinbeauvais commented on #9329
To the dev who implements this: the "allowable actions" business logic that the UI currently implements is [here](https://github.com/bcgov/business-filings-ui/pull/267/files#diff-2290df67777fbf35779f5d9b054c3d305baff733f0ad96c776d0803858cb2f2e). I expect this to be a good starting point for implementing the logic in the API. Let's discuss as needed.

[2021-12-08 17:33] #9388 closed

[2021-12-08 17:37] #10319 closed

[2021-12-08 17:37] #10159 closed

[2021-12-08 17:37] #7627 closed

[2021-12-08 17:37] #9225 closed

[2021-12-08 17:38] #9224 closed

[2021-12-08 17:41] #4464 closed

[2021-12-08 17:41] mstanton1 opened #10407 "API - Add count of vehicle collateral to registration summary information"

[2021-12-08 17:41] #8913 closed

[2021-12-08 17:41] #10333 closed

[2021-12-08 17:41] #8273 closed

[2021-12-08 17:42] #8270 closed

[2021-12-08 17:46] JohnamLane commented on #10243
@trishreimer @jinghualicgi Can someone please enter a description for this ticket and identify which process this is for?

[2021-12-08 17:48] mstanton1 opened #10408 "UI - Design consistency for all Discharge/Amend/Renew"
Updating Header, Intro and Fee Summary Button text for:

- [x]  Total Discharge Screen 1 and 2
- [x]  Renewal Screen 1 and 2

- Amendment updates are included in the Amendment UXA ticket #10004

See design ticket

[2021-12-08 17:49] #10098 closed

[2021-12-08 17:50] trishreimer commented on #10243
This is for non-ministry gov accounts.

[2021-12-08 17:56] mstanton1 commented on #10209
Envisioned as working as a queue service. Once sent from the queue it will be sent and we would not know about it. Hoping there is a cross team service we can leverage.

[2021-12-08 17:57] jdyck-fw commented on #10143
@vysakh-menon-aot will do a quick fix on this - fix the code for the job

[2021-12-08 18:03] #10267 closed

[2021-12-08 18:06] pwei1018 commented on #9686
Verified.

![image](https://user-images.githubusercontent.com/44277752/145260516-f270cd6d-8ed1-4c24-b1c6-e4d0c3261ec2.png)

[2021-12-08 18:07] #9686 closed

[2021-12-08 18:45] mstanton1 opened #10409 "Update apigw Get Started"
https://developer.bcregistry.daxiom.ca/get-started/

On the page above update instruction 2

from: Create a BC Registries' premium account to gain access.
to: Create a production BC Registries' premium account, with Pre-Authorized Debit (PAD) as payment, to gain access.

[2021-12-08 19:02] pwei1018 commented on #10309
@JohnamLane @mstanton1 Can you confirm the "individual name" mean contact person name or the person created the account?

[2021-12-08 19:14] JohnamLane commented on #10309
@pwei1018 I would say this should be administrator first and last name

[2021-12-08 19:28] mstanton1 commented on #10309
@pwei1018 I agree with John. We currently send account related content and inquiries through the account admin. Their user name and email is part of the account admin user profile.

[2021-12-08 19:29] mstanton1 commented on #10409
@doug-lovett this is ready for you.

[2021-12-08 20:02] doug-lovett commented on #10409
https://developer.bcregistry.daxiom.ca/get-started content updated as specified.

[2021-12-08 20:33] cameron-freshworks opened #10410 "Alterations: Optional ShareClasses and Resolution Dates"
### TO DO
- [x] (UI portion of #9000) The alteration UI currently ignores the resolution dates that a user enters if there is no change to the share structure. It does not provide any error message or disable adding the resolution dates if there are no share structure changes, it does not pass those dates to the backend. **Let's pass the resolution date to the backend if there are no share structu

[2021-12-08 20:35] cameron-freshworks commented on #9384
Updated ticket requirements.
Extracted some tasks into another ticket for visibility and progress.
See ticket: #10410

[2021-12-08 21:30] chdivyareddy commented on #10409
Verified!

[2021-12-08 22:17] zac-broitman commented on #10143
Added a note that this appears to be related to Ops ticket 214, will require follow up on that ticket as this issue is resolved.

[2021-12-08 22:35] jinghualicgi commented on #8417
@mstanton1 Melissa will bring this to PO Syc

[2021-12-08 22:40] jinghualicgi commented on #10271
TBD for Go-live mandate, team will groom this and we will make decision later.

[2021-12-08 22:48] jinghualicgi commented on #10162
Decision is based on this is not in current system, put post go live

[2021-12-08 22:48] janisrogers commented on #9764
Not in mainframe system so deferred until after go live.

[2021-12-08 22:55] sienna-blumstengel commented on #10138
Until ____ is fixed, we won't be able to search CPs in the legacy system.

Also:
1. The entities to test in COLIN all say “in process of business dissolved” in SOFI/COLIN. None are in the expected state.
2. We can’t find the entities mention above in the BC Business registry at all
3. Emails should be working

[2021-12-08 22:56] jinghualicgi commented on #9829
@chdivyareddy Divya, please take a look this one

[2021-12-08 22:56] mstanton1 commented on #10207
@tlebedovich cover page details have been sorted out. Details have been updated above. Let me know if there are questions.

[2021-12-08 23:00] jinghualicgi commented on #10102
@bfbowles Bob, we want to put this under Post Go Live, is there any problems? Thanks
CC: @mstanton1

[2021-12-08 23:00] chdivyareddy commented on #9829
This is a duplicate ticket, verified in [#10073](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/10073).

[2021-12-08 23:05] #9829 closed

[2021-12-08 23:13] mstanton1 commented on #7405
Adding to PPR Go Live due to the number of user failures when using folio. Without clicking enter folio is not saved.

[2021-12-08 23:23] jinghualicgi commented on #7184
@pwei1018 Patrick, can we close this one?

[2021-12-08 23:26] jinghualicgi commented on #8115
@chdivyareddy Divya please double check this, thanks

[2021-12-08 23:45] chdivyareddy commented on #8115
Verified!
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/61c46508-6a59-4f7e-a1ed-820d240d9db6)

[2021-12-09 00:00] Maribeth-Wilson commented on #10321
Session confirmed for Dec 16th at 11am. Email sent to Ministry Govt Acct Users earlier today. John confirmed as presenter, Mags as Facilitator, Carol is tbc

[2021-12-09 00:03] zac-broitman commented on #9173
[https://app.zenhub.com/files/157936592/2dec5c23-df38-4bcd-8359-3d7bbebb957f/download](https://app.zenhub.com/files/157936592/2dec5c23-df38-4bcd-8359-3d7bbebb957f/download)

PDF has been attached with additional information for this

[2021-12-09 00:07] pwei1018 commented on #10309
Upload the list to google cloud. And waiting for the next one.

[2021-12-09 00:16] severinbeauvais commented on #9350
This is now deployed to Dev.

[2021-12-09 00:20] chdivyareddy opened #10411 "BC Registries Staff - Dashboard Data Error in TEST"
**Describe the bug in the current situation:**
Data Error occurs in TEST for BC Registries staff (BRTEST1).

**Impact of this bug:**
High

**Chance of Occurring (high/medium/low/very low):**
High

**Pre Conditions:**
TEST Env.

**Steps to Reproduce:**
1. Login to TEST with BC Registries staff credentials.
2. Navigate to PPR from the staff dashboard, then the data error occurs.

**Screenshots/ Visu

[2021-12-09 00:44] magszymanski commented on #10323
Gen posted this to the mod site and BCOL Announcements have an entry. Done.

[2021-12-09 00:48] chdivyareddy commented on #10083
Hey @kialj876 , Individual & Business Debtor Searches in TEST are having issues. Should this be handled in a separate ticket?

- [ ] Individual Debtor Search is resulting in search error:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/9c5cafcd-eebc-4c69-8d22-7b4d6c20cb62)

- [ ] Business Debtor searches are resulting in 0 matches even though the registration that the bu

[2021-12-09 08:04] jyoti3286 opened #10412 "Update all the FAS Text on UI"
All the text in FAS is dummy text. Need Business-friendly language

Design Link:
https://preview.uxpin.com/76da32cd3abd1eb16c96507294189fbd7bee9140#/pages/141833523

[2021-12-09 08:07] jyoti3286 opened #10413 "Allow Routing slip with NSF status to be used for taking payments"
As a staff
I want to take payments from a Routing slip with NSF status
So that when the clients submit the payment after the cheque has bounced the existing Routing slip can be used

** Scenario 1: Taking payments from Routing Slip with NSF status **
* GIVEN that I am on the payments page on any of the registry application
* WHEN I enter the Routing slip with NSF status
* THEN system will allow th

[2021-12-09 08:54] jyoti3286 opened #10414 "FAS: Handling NSF"
The following must still be confirmed:
1) Will using a new RS cause issues with payment reconciliation? (more analysis needed, not expected to cause an issue with the below flow)

**PROPOSED NSF FLOW**
1. Admin enters a cheque, creating a RS
Receipt created in CFS
2. Cheque travels to Provincial Treasury for deposit, but they hear from bank that it's NSF
3. CFS will not be aware until we call the

[2021-12-09 15:45] gprimeau commented on #10185
I have emailed GCPE to request a simple URL for the modernization information page. I hope to hear back soon regarding this request.

[2021-12-09 15:59] yuisotozaki commented on #10220
Dec 7, 2021 - Met with Sienna and Patrick to review requirement coverage; reflected requirement gaps
Dec 8, 2021 - Met with SME to further refine requirements and surface questions

[2021-12-09 16:00] sienna-blumstengel commented on #9798
Added to the OneNote! https://docs.google.com/document/d/1ekMv3M0pfGMujRQu7MhWCruOeZXmox7uKS_zPKTs3LU/edit?usp=sharing

[2021-12-09 16:12] #10083 closed

[2021-12-09 16:12] #10409 closed

[2021-12-09 16:39] #10388 closed

[2021-12-09 16:40] pwei1018 commented on #10209
@mstanton1 @thorwolpert Entity team has a email tracker service it seems you can leverage this and extent it. Relationship team has a notify service for email delivery (I will do the technical upgrade on next two sprints), it does saving email delivery status but don't contain business or person information.

[2021-12-09 16:44] magszymanski commented on #10391
https://docs.google.com/document/d/14jh43DtPrZZHYY0upSkzWnRnyQRisk2t0z5Wjspn7yg/edit
^ please review - can we implement these changes and add FAQ?

[2021-12-09 17:03] janisrogers commented on #8580
Comment in COLIN: THE VOLUNTARY DISSOLUTION WAS PROCESSED IN THE NEW BUSINES REGISTRY APPLICATION ON MAY 14, 2021. DUE TO SYSTEM LIMITATIONS IT REMAINED ACTIVE IN CORPORATE ONLINE AND HAD TO BE MANUALLY MADE HISTORICAL BY STAFF

[2021-12-09 17:16] jinghualicgi commented on #10067
Decision is not break into paragraphs, Bob is working on this.

[2021-12-09 17:21] jinghualicgi commented on #6525
Close this ticket

[2021-12-09 17:22] jinghualicgi commented on #7753
It's not relevant for us now

[2021-12-09 17:22] #7753 closed

[2021-12-09 17:24] jinghualicgi commented on #7771
This work has been done

[2021-12-09 17:24] #7771 closed

[2021-12-09 17:34] jinghualicgi commented on #9066
@chdivyareddy

[2021-12-09 17:38] mstanton1 commented on #9278
Feedback was raised prior to the authorization checkbox being added. As we have authorization in a consistent manner this is not needed. Closing as per UI design team discussion.

[2021-12-09 17:38] #9278 closed

[2021-12-09 17:40] severinbeauvais commented on #7635
I am still blocked by some final design decisions on entity state, including whatever we do with Pending Dissolution and Not In Good Standing info (state?).

[2021-12-09 17:48] jinghualicgi commented on #10122
Close this ticket since this is duplicate with API - Stop payment on BCOL Help role for all registrations#10086

[2021-12-09 17:48] #10122 closed

[2021-12-09 18:07] tlebedovich commented on #9816
@kialj876 - UXA:

- There are 3 unchecked, unfinished items from the original UXA feedback above

Plus we need to update these additional items (I forget to review on Mobile, which is part of this ticket, sorry)

- [ ] In PPR box, change "BC" to "British Columbia"

- [ ] design isn't mobile-friendly, please adjust for the mobile <960px breakpoint so it stacks and aligns like this (Add products and

[2021-12-09 18:12] severinbeauvais commented on #10138
I am able to search (and find) all 6 of the above businesses on the [Staff Dashboard (Dev)](https://dev.bcregistry.ca/business/auth/staff/dashboard/active).

[2021-12-09 18:13] mstanton1 commented on #10214
Cross Team Discussion Dec 9th Notes:

Cannot add another role for SBC GA's as per Sumesh:
- if we add a unique role for SBC and then a SBC agent leaves that organization and goes to another group in government they will have the Service BC flow

Can we query org and get ministry and branch name upon log in?
- challenge is how does PPR know it is a service BC account?
- right now they are set up as

[2021-12-09 18:13] lmcclung opened #10415 "Create endpoint for parties"
- [ ] Lear will need to provide an endpoint in order for the UI to retrieve the Custodians of Records directly
- [ ] The endpoint takes parameters
  - Allow filtering by the party role
  - Allow filtering by "as of" date
  - Allow authorization, ensuring only allow to pull back parties that belong to the entity
- [ ] Postman collection

[2021-12-09 18:18] severinbeauvais commented on #7635
As discussed in standup today, we are adding "Not In Good Standing" work to this ticket (vice creating a new ticket, since it's in the same area I'm already working in).

From @tlebedovich :

[2021-12-09 18:25] mstanton1 opened #10416 "Long term approach for identifying SBC Government Agent Account"
Service BC government agent accounts function differently for the Personal Property Registry than other ministry government accounts.

Differences include, but are not limited to
-Fee amounts
-Fee modal UI changes
-Flow or modal changes in services (e.g. Registration)

An interim solution to identify the SBC account will be to query government accounts to look for branch. This is not an ideal appr

[2021-12-09 18:25] sumesh-aot commented on #10214
GET https://auth-api.apps.silver.devops.gov.bc.ca/api/v1/orgs/<org-id>

Response:
[code]

[2021-12-09 18:44] sienna-blumstengel commented on #10296
@SateeshFW  can you please add this to your grooming list?

[2021-12-09 18:45] lmcclung opened #10417 "AUTH UI: Update my business dashboard calculation to display status"
### Description
We want to improve the display of states in the My Business Registry page.
Currently it just says "Active". It is calculated by the UI.
We want to retrieve the state from LEAR API, which will contain "Historical" as well.
We may add more values int he future, but for now it will just be Active, Historical, and Liquidation (won't be using liquidation yet)

### TO DO
Once #10296 comp

[2021-12-09 19:02] jinghualicgi commented on #9731
Entities QA will test this

[2021-12-09 19:03] jinghualicgi commented on #8810
Entities QA will test this

[2021-12-09 19:06] gprimeau commented on #8481
I have started to create the form.  @sienna-blumstengel sent you link to review what I have started

[2021-12-09 19:12] jinghualicgi commented on #7184
This work has been done, close this ticket for now

[2021-12-09 19:12] #7184 closed

[2021-12-09 19:18] forgeuxGH5 commented on #10112
Issues above seem resolved. New issue below:

- [ ] SBC staff payments should not display the Staff payment modal for registrations - their payment has no additional UI other than validation of the registration. Note: they have special payment handling - different that client users, Registries Staff, and BCOL staff.

[2021-12-09 19:25] jyoti3286 commented on #9927
@sumesh-aot - Do we need to talk to CAS for sending Cheque advice field on refund cheques?

[2021-12-09 19:26] chdivyareddy commented on #9066
Verified!

[2021-12-09 19:29] sumesh-aot commented on #9927
@jyoti3286 I think we had a ticket to analyze the API CGI file contents, so we would need to check that first and see if CGI allows it, if not will need to reach out to CAS.

[2021-12-09 19:38] lmcclung commented on #10018
Cameron W had run some numbers for Nov 2019-Nov 2021 - there a total of 587 SP/GP registrations filed by staff - so a little over 1 a day.

Cameron would like SBC to take on these filings and will take this further.  I'll also follow up with Carol who had asked me for numbers.

[2021-12-09 19:43] jinghualicgi commented on #8272
Richard has reviewed, will move to test soon for QA

[2021-12-09 19:57] sumesh-aot opened #10418 "Fix issue with duplicate name alert during account creation"
Fix issue with duplicate name alert during account creation

[2021-12-09 20:02] jinghualicgi commented on #10347
@pwei1018 @stevenc987 , do we need to put this into any current planning release? Please advise.

[2021-12-09 20:19] riyazuddinsyed opened #10419 "Filings UI: Should not be able to file a Correction for Coops IA"
**Describe the bug in the current situation**
When the staff tries to file the correction for the IA of a Co-Op then the UI throws an error saying something went wrong yet the Filings dashboard shows that the correction as a draft.

**Impact of this bug**
Staff correcting the IA

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/auth/home/decide-business'
2. Login with

[2021-12-09 20:30] jinghualicgi commented on #9830
@doug-lovett Doug, can we move this task to QA since it's story is in QA pipeline? Thanks

[2021-12-09 20:43] stevenc987 commented on #10347
@jinghualicgi @pwei1018
This was migrated to PROD during noon today. I will mark it as close.

[2021-12-09 20:43] #10347 closed

[2021-12-09 20:46] tlebedovich commented on #9815
@doug-lovett - UXA:

- [ ] SBC staff log in - There is a remaining CBS staff log in redirect fix that wasn't done in the original feedback - see above

- [ ] Other Staff log ins - If the user logs in as either a BC Registries Staff or BCOL Staff they shouldn't get taken to this Uber Dashboard page, they should be directed to their actual staff dashboards, this one:

![Screen Shot 2021-12-09 at 11.

[2021-12-09 21:01] riyazuddinsyed opened #10420 "Director data does not show up for CO-OP"
**Describe the bug in the current situation**
When the user files for the Co-Op IA and after successful filings in some Co-op the director section remains blank..

**Impact of this bug**
Happens in some cases

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/CP1002475'
2. Login with BCREG0001
3. Under the account asdfs
4. open the entity 'CP1002475'

**Screenshots/ Vis

[2021-12-09 21:06] mstanton1 opened #10421 "Identify Service BC Staff"
Work needed
Service BC government agent accounts function differently for the Personal Property Registry than other ministry government accounts. In order to apply changes specific to the Service BC account without making changes to all ministry government accounts PPR will need to be able to identify the Service BC account.

Ministry of Citizen's Services
Branch: Service BC Government Agents

Dif

[2021-12-09 21:07] mstanton1 opened #10422 "UI - Validation for SBC Staff"

[2021-12-09 21:15] jinghualicgi opened #10423 "Onboarding of Fareen"
**Onboarding checklist for Fareen**  fareen@freshworks.club

**IDIR**
- [x] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [x] Submit to IT Operations Support. This form should be emailed to the Registries Executive Assistant. Currently this role is held by Michael Leung.

----------------

[2021-12-09 21:19] jdyck-fw commented on #9501
Pulling the entities label off of this, as the required reviews have been completed and the rest of this ticket with be SRE

[2021-12-09 21:26] riyazuddinsyed opened #10424 "Email notifications aren't showing up for Voluntary Dissolution."
**Describe the bug in the current situation**
when the user files a voluntary dissolution and upon successful filing the emails with the outputs aren't generated in both dev and test

**Impact of this bug**
All users filing the Vol Diss

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/business/auth/account/596/business'
2. Login with BCREG0001
3. File for a Vol Diss
4. See an

[2021-12-09 21:27] jinghualicgi commented on #10423
duplicated, closed

[2021-12-09 21:33] forgeuxGH5 commented on #10113
- [ ] the Staff Payment modal for registrations should match the wireframes

Current:
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/c8847e56-864a-4be5-b49e-c387868b5e8b)

Change to:
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/b443642c-c53c-4f7e-bdce-379ba4b1688e)

[2021-12-09 21:34] pwei1018 commented on #8773
@janisrogers The filing is done in lear. However, there has issue of Colin updater that we can't send the filing to Colin. We have to wait the fixing deployment.

![image.png](https://images.zenhubusercontent.com/5bf5f0484b5806bc2bf6f0cb/4e63b074-10f7-4d00-93be-87961908dc8a)

[2021-12-09 21:36] forgeuxGH5 commented on #10113
- [ ] Validation of the Registries Staff registrations should be done BEFORE the staff payment modal is displayed.

[2021-12-09 21:40] trishreimer commented on #9679
John created this high-level doc to explain the changes: https://docs.google.com/document/d/1rrY59S62yvsRUwzqyzGyrKzHzn47F70ZcKE8IhhrDfk/edit

[2021-12-09 21:45] lmcclung commented on #10420
Closing this ticket as the dissolution filed on Nov 30 deleted dirctors.  We have sinced changed this functionality.

[2021-12-09 21:45] #10420 closed

[2021-12-09 21:46] kialj876 commented on #10280
too much has changed since I was last in there to be sure of anything, but before the only thing that would overwrite a current NR in Namex was the nro_extractor and it did have rules to ignore updates when things are in a particular state etc.

[2021-12-09 21:48] jdyck-fw commented on #10424
@vysakh-menon-aot - can you please look into this?

[2021-12-09 21:55] severinbeauvais commented on #10419
I am fixing this in #7635 (which is touching allowable actions, etc, in other words, the subject code).

### Test Notes

- The drop-down menu against each filing item should be visible only for staff.
- If the filing item is an IA, the "File a Correction" menu item should be enabled only if the business is a BEN.

[2021-12-09 21:56] trishreimer opened #10425 "OCM - Review and Update BCeID training Videos (lower priority) - to add additional admin"
- [ ] Review existing training videos for BCeID and using an identity affidavit.
- [ ] Update with new info about adding an additional admin.

[2021-12-09 21:56] trishreimer commented on #10425
Review existing training videos for BCeID and using an identity affidavit.
Update with new info about adding an additional admin.

[2021-12-09 22:00] jinghualicgi commented on #10109
@trishreimer Trish, should we re-assign this ticket to Gen?

[2021-12-09 22:36] janisrogers commented on #9115
Everything looks good and the staff and ITOS have been informed

[2021-12-09 22:36] #9115 closed

[2021-12-09 23:08] janisrogers commented on #8773
Sent a note to staff:
This alteration has been filed in our system. Note that because of the problems with the COLIN updater that they are currently working on, it won’t yet appear in COLIN. Also note that there is a separate ticket to bring over the director change. That ticket (174)  has not yet been completed.

[2021-12-09 23:12] jinghualicgi commented on #10423
Re-open and assign to Cameron, thanks :) @cwulff1

[2021-12-09 23:26] severinbeauvais commented on #10369
It makes sense to put this in Sprint 11.6 since the [required API work](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/9329) is in Sprint 11.5.

[2021-12-09 23:26] cwulff1 commented on #10423
Idir successfully created

[2021-12-09 23:32] severinbeauvais commented on #7635
The scope (and therefore effort) of this ticket has grown due to:
- refactoring state as per schema/API changes
- centralizing "allowable actions" to make current and future work easier
- updating code due to new NIGS requirements
- a bunch of extra unit tests

[2021-12-09 23:41] karthik-aot commented on #9327
@SateeshFW
@rarya-freshworks  Some of the test case scenarios include
Since we refactored code in ORG and TASK code base

- Testing full flow of BCeID account creation flow - from BCeID account creation to staff review on hold - reuploading affidavit - approving and rejecting.
- Adding a new BCeID admin invite - uploading and reuploading affidavit - approve BCeID admin and logging in as BCeID admi

[2021-12-09 23:59] #8936 closed

[2021-12-09 23:59] janisrogers commented on #8936
These have been loaded into LEAR and also show in orgbook

[2021-12-10 00:13] mstanton1 commented on #9467
Can be done as is for go-live (staff receive form 4 and 5 and proof of payment) by email or fax. Staff use 'total discharge' option to complete discharge. Staff await receipt of original Form 5 by mail.

Post go live design could be created to utilize a queue.

- Client has option to request Compulsory Discharge through website and upload supporting materials (client must commit to providing origi

[2021-12-10 00:13] #9880 closed

[2021-12-10 00:21] chdivyareddy commented on #10045
Due to the Dashboard Error in TEST, could not verify Search in Registries Staff (BRTEST1). I will hold this until [#10411](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/10411) is resolved.

[2021-12-10 00:24] Maribeth-Wilson commented on #10383
Please find updated draft here. Please advise edits/corrections/additions, etc. by EOD Dec 10th.
https://docs.google.com/document/d/1CJHh5z2TFhi8hBHCv15xA2LtiKMVdSrQ/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true
thank you

[2021-12-10 00:56] doug-lovett commented on #9830
@jinghualicgi probably, but this is a Bob task.

[2021-12-10 03:12] chdivyareddy opened #10426 "Account Info Dropdown Should be on the Top Layer of the Page"
- [x] Account info drop-downs is opening up underneath table row. It should be on the top layer of the page.

**Current Behavior:**
![Screen Shot 2021-12-09 at 6.51.51 PM.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c2a5b315-7cf4-4e4d-88be-c0ab84736f9f)

[2021-12-10 04:06] lmcclung commented on #9032
@argush3 Once this is ready we want to push this to production ASAP, there is urgency from some clients.

[2021-12-10 04:11] lmcclung opened #10427 "11.6 Objectives"
Objectives: 85%

1) As a staff paying for an incorporation or maintenance filing with a routing slip, I want to be informed if the routing slip isn't useable so that I can take an alternate action. (Filings and Create UI) - 75%

2) As a staff or public user, I want to navigate between AUTH, and the Entity UIs using breadcrumbs so that I can navigate more easily. - 80%

3) As a development team, I

[2021-12-10 04:15] #9496 closed

[2021-12-10 04:18] lmcclung commented on #8495
@severinbeauvais @thorwolpert This still isn't showing the Notice of Articles in the filing history.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/009d6dae-4594-409a-94bb-9dd3ed3ad189)

I'm not sure how she was able to file a correction to an alteration.  I didn't think we had built that.

[2021-12-10 04:20] lmcclung commented on #10143
This is waiting on the COLIN API ticket Argus is working on.

[2021-12-10 04:31] lmcclung commented on #10410
@cameron-freshworks I tested this in DEV.  On BC0870823 - bcreg2029.
1) Filed an alteration to add a share class with special rights and restrictions.  Was required to add the date.
2) Filed an alteration to only add a special resolution date.  Did not need to make any changes to the share structure.

The UI works but I'm not able to download the alteration output for #2.

[2021-12-10 04:35] lmcclung commented on #9854
Closing as this will be tested in the FAS UAT in January.

No release required.

[2021-12-10 04:35] #9854 closed

[2021-12-10 04:38] mstanton1 commented on #9849
Draft of showing required updates for FIN 627 is attached.

_Note this has been sent for policy review. Minor changes may arise._

[2021-12-10 04:48] lmcclung commented on #9350
Check BC0870878 in Dev - I incorporated Dec 9 around 8:47PM.  Couldn't search this number as staff a few minutes later.  Can someone try again if I don't get to it before I leave on vacation?

I also noticed the bottom half of the staff dashboard is missing.  maybe relationships is working on it?

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/83ed39ef-143a-4214-9ae4-cd

[2021-12-10 04:57] tlebedovich commented on #9882
@jordiwes - I took out all the items that were completed and added a couple more - let's chat over a call tomorrow and prioritize the effort.

[2021-12-10 05:42] cameron-freshworks commented on #10410
@lmcclung Hey Linda, sounds good, thank you!
With regards to the output, that is a known bug we discovered when Vysakh and i were testing. He mentioned he would fix it as part of ticket #9331. The output template needs to be updated in the event there is a resolution date but no share class changes.

[2021-12-10 16:37] #10129 closed

[2021-12-10 16:37] #9831 closed

[2021-12-10 16:37] #9066 closed

[2021-12-10 16:37] #10119 closed

[2021-12-10 16:48] mstanton1 opened #10428 "Verify - Marketing Page/Dashboard/BCROS Navigation"
Log on with each user group type:

- BC Reg staff
- Help Desk
- SBC Staff
- General basic/premium user

Navigate through pages
Return to each page as a logged in user and then hit log out button to make sure it resets to the original logged out version properly

**UI Design tickets showing flow are attached as dependencies. Note UI Design for My Registry Dashboard is closed and could not be added

[2021-12-10 16:55] severinbeauvais commented on #8495
The Legal API probably doesn't know about "alteration corrections", which is why it might not be providing the correct outputs list. This might also be why it's not showing up in SOFI.

[2021-12-10 16:55] cameron-freshworks commented on #10410
@lmcclung Hey Linda, since this was just the UI portion of the Share structure / Resolution Dates. I'm moving this back into ready for QA for the reasons mentioned above. The output fix is currently in Code Review, in Vysakh's PR here: https://github.com/bcgov/lear/pull/1365

[2021-12-10 16:57] chdivyareddy opened #10429 "Staff PPR Dashboard - Header/Breadcrumb Should be Changed to Staff Personal Property Registry"
- [x] Staff PPR Dashboard breadcrumb should be changed to "Staff Personal Property Registry" instead of "My Personal Property Registry".

**Current Behavior:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/5e0b36cf-851a-48e9-a638-7f683a473531)

**Wireframe:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f99b365c-43c4-4888-9736-e8a149c83aaa

[2021-12-10 16:58] severinbeauvais commented on #8495
^^^ I don't know how much is possible using Ops methods / Jupyter notebook / etc (eg, writing back to SOFI), but getting all the outputs for the alteration corrections will at least require some Legal API work, and is possibly premature as we may not have the necessary logic or templates implemented yet.

[2021-12-10 17:02] severinbeauvais commented on #9350
Works for me. I tried both a regular browser tab and an incognito one.

Staff Dashboard:

![image](https://user-images.githubusercontent.com/10002889/145612578-1186672f-bbf9-4331-9588-afe212384097.png)

Search Entities:

![image](https://user-images.githubusercontent.com/10002889/145612643-19348832-8142-4b28-adc9-f8376e8aae25.png)

Entity Dashboard:

![image](https://user-images.githubusercontent.

[2021-12-10 17:02] severinbeauvais commented on #9350
@lmcclung I will ask Relationships to check your IDIR for permissions. In the meantime, are you getting any dev console messages?

[2021-12-10 17:16] sumesh-aot commented on #9319
Adding a status `Write off` in the backend to indicate the routing slip is marked for write off.

[2021-12-10 17:27] mstanton1 opened #10430 "Registering Party Information - BC Registries Staff, BCOL Helpdesk, SBC Staff for Base Registrations, Amendments, Renewal, and Discharges"
The default Registering Party information for BC Registries Staff, BC Online (BCOL) Helpdesk, and Service BC (SBC) is unique for each group.

**Default Registering Party**
**BC Registries Staff** - Information contained in Party Code 99990003.
**BC Online Helpdesk** - Account name, address, and email (address and email only if available in the account information)
**SBC Staff** - No default Party

[2021-12-10 17:28] mstanton1 opened #10431 "API - PPR staff/BCOL Help should each load a single registering party code"
BC Registries staff should have the 'Registering Party' prepopulate for registration, renewal, discharge and amendment.

Registering party code: 99990003

## Wireframes

https://preview.uxpin.com/f88c01490de59c5d15a98da5890b7b1bbe15bfc4#/pages/143839955
- Create code for BCOL account before Dev work

**Dec15 Grooming: Some discussion comments**
- Run db script to Link ppr_staff ID and Party code
-

[2021-12-10 17:31] mstanton1 opened #10432 "UI - BC Registries Staff registration checklist"
Given that the registering party will prepopulate for BC Registries staff in the "Your registration must include the following" list include a checkmark before registering party.

## Wireframes

https://preview.uxpin.com/f88c01490de59c5d15a98da5890b7b1bbe15bfc4#/pages/143839955

**Dec15 Grooming: Some discussion comments**

- Run db script to Link ppr_staff ID and Party code
- Just have code confi

[2021-12-10 17:35] mstanton1 opened #10433 "UI - Update account name for BCOL Help"
Currently the header for the BC Online Help Desk says "BC Registries Staff". Update to read "BC Online Help".

Currently the review and confirm authorization also refers to BC Registries Staff. The same update is required.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ddb0b819-1e4d-4858-b55b-6fd4fadac9db)

[2021-12-10 17:35] yuisotozaki commented on #9908
@riyazuddinsyed The intension behind this ticket is to help you define the scope of testing.
* What test plans/scope do you have for testing for device screen sizes and responsiveness?
* What output from design helps you effectively test the apps for responsiveness beyond just "we design for these resolutions"?
* Are there any other testing considerations we should cover that we can afford in term

[2021-12-10 17:55] jmills-cgi opened #10434 "Release: COLIN API"
**This release includes:**
- [Colin API v2.33.0](https://github.com/bcgov/lear/releases)
- [Update Colin Filings Job](https://github.com/bcgov/lear/releases)

**Prior to moving into production, the following steps should be completed or confirmed:**
- Update version number in the code being released
  - [x] Colin API v2.33.0
- [x] Ensure deployment steps are filled in - remove/replace placeholders

[2021-12-10 18:08] lmcclung opened #10435 "COLIN-API Regression testing"
- Confirm the following filings are going back to SOFI...

Benefit Companies-
- [ ] Incorporation Application
- [ ] Change of Directors
- [ ] Change of Addresses
- [ ] Alteration to ocmpany info
- [ ] Alteration Limited to BEN
- [ ] Alteration ULC to BEN
- [ ] Alteration BEN to BC
- [ ] Court Order
- [ ] Registrar's Notation
- [ ] Registrar's Order

[2021-12-10 18:09] vysakh-menon-aot commented on #10424
@riyazuddinsyed Dissolution email changes are not pushed to test environment. You can test it after that

[2021-12-10 18:13] lmcclung opened #10436 "Emailer Regression Ticket"

[2021-12-10 18:15] sienna-blumstengel opened #10437 "Alteration Corrections"

[2021-12-10 18:16] sienna-blumstengel opened #10438 "Update document list to include NOA"

[2021-12-10 18:16] sienna-blumstengel opened #10439 "COLIN API - Send alteration back to SOFI"
### Description

We need to verify that the alteration -

Not going to worry about this ticket, we will have staff file a registrar's notation for now, until we build the nice new correction filing.

[2021-12-10 18:28] jinghualicgi opened #10440 "SBC Staff Account setup for UI and API"
Using auth API to identify that the user is not just a govt user but is actually part of the SBC account.
Will be a string match on the account name.

**Dec16 discussion:**
This is only for report account name
UI will pass this information

[2021-12-10 18:29] trishreimer commented on #9682
Please assign to Fareen once her ID is setup.

[2021-12-10 18:30] trishreimer commented on #10371
Please assign to Fareen once her ID is setup.

[2021-12-10 18:38] #10439 closed

[2021-12-10 18:42] trishreimer commented on #8481
website changes are the current priority, then forms.

[2021-12-10 18:44] trishreimer commented on #10272
When is this due @magszymanski ?

[2021-12-10 18:46] mstanton1 opened #10441 "API - add verification statement to queue for all registrations"
When adding to the queue identify all recipients (or this could be done through the listener).

- create table for output tracking

[2021-12-10 18:47] chdivyareddy commented on #10120
Reg/BCOL Staff roles are verified. SBC staff role will be verified in a separate ticket #10440.

[2021-12-10 18:51] mstanton1 opened #10442 "EL - New event listener"
**Call back will receive a registration ID and do the following:**
- [ ]  Identify all recipients
- [ ]  Generate a Verification Statement report with Cover Letter for each recipients
- [ ]  SFTP report to BC Mail+
- [ ] maintain output tracking

BCMail file format: PPRVER.XXXXXXXXXXXXX.DD.MM.YYYY.PDF under 35 chars in length.
*all above are an API call, bypass gateway - not in spec

[2021-12-10 18:53] mstanton1 opened #10443 "Set up deployment of event listener"
- configuration and getting it to run
- not the actual building of the code

[2021-12-10 18:53] mstanton1 opened #10444 "Firewall changes - iStore"
iStore order can be requested through Patrick Wei or David Roberts.

Start with testing. Need to confirm if there are firewalls on the BC Mail side, and if so request support from Patrick or David for the iStore.

[2021-12-10 18:55] sienna-blumstengel opened #10445 "LEGAL API - Regression testing"
- Test that these filings work

### Benefit Companies:
- [ ] Incorporation Application
- [ ] Incorporation Application Correction
- [ ] Annual report
- [ ] Change of Directors
- [ ] Change of Addresses
- [ ] Alteration to Company info
- [ ] Alteration Limited to BEN
- [ ] Alteration ULC to BEN
- [ ] Alteration BEN to BC
- [ ] Court Order
- [ ] Registrar's Notation
- [ ] Registrar's Order
- [ ] Vol

[2021-12-10 19:14] cameron-freshworks commented on #8822
As discussed, without Custodians available through the API, the accordion to display them will remain hidden.

[2021-12-10 19:19] mstanton1 opened #10446 "Create audit report"

[2021-12-10 19:26] mstanton1 commented on #10441
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/10441?planning-poker) with ZenHub @thorwolpert @doug-lovett @kialj876

[2021-12-10 19:28] mstanton1 commented on #10446
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/10446?planning-poker) with ZenHub @doug-lovett @kialj876 @thorwolpert

[2021-12-10 19:32] mstanton1 commented on #10209
Should be covered in output tracking for surface mail (10446). Will need to be incorporated when we implement emails.

[2021-12-10 19:34] olisaezeh commented on #9682
@fareenr

[2021-12-10 20:36] severinbeauvais commented on #9009
Please include here a list of things that you have verified, and a Test Notes section with things that QA should look at.

[2021-12-10 20:43] eve-git commented on #9009
Since Renew and Upgrade share one piece of code to create a new payment, I only list the steps to reproduce the error for Upgrade:

request a name request without priority
upgrade priority
a. click Upgrade Priority in nr search result page
b. click Continue to Payment in payment confirmation page
c. leave the credit payment page by close the browser, or click "back" buttons in browser or input a n

[2021-12-10 21:38] PatrickAHeath commented on #10314
@jinghualicgi Will do!

[2021-12-10 21:45] severinbeauvais commented on #7635
### Test Notes (Part 2)

- Verify BC Business Registry has been replaced with BC Registries everywhere.
- Verify that changing email and phone number is always enabled.
- Verify that staff filings are disabled when the business is historical.
- Verify that filing a correction is disabled when the business is historical.
- Verify that no other company changes/filings can be made when the business i

[2021-12-10 21:48] PatrickAHeath commented on #9173
@kialj876 Additional info from staff:

Alteration to a Benefit Company

Affiliation info (mandatory - BC Registries account name or BCOL a/c): essential law corporation
Company email (mandatory): samantha@essentia.law
Company phone (optional): 778-738-1258
Filing date (date/time received at Registries. If email, time email received. If mail, time scanned document received):  September 2, 2021 at 1

[2021-12-10 21:55] tlebedovich commented on #10197
@forgeuxGH5 @janisrogers @PatrickAHeath @mstanton1 @chdivyareddy - I have added this error bug to this ticket. not sure what others ones exist that should go in this ticket.

[2021-12-10 22:25] mstanton1 opened #10447 "UI - BCOL Helpdesk staff registering party should prepopulate from account info"
Currently when logged on as BCOL Helpdesk registering party information does not load / client does not have the option to update the data.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/a5e4e90b-3a96-4245-a8d0-59765d7a6597)

- Details available in the account (name, address?) should prepopulate and remaining fields should be blank
- Pencil icon should appear so the re

[2021-12-10 22:32] tlebedovich commented on #10207
@mstanton1 @forgeuxGH5 @janisrogers - for your review.

Melissa - in the dev ticket for this is mentions TWO cover pages - one for a "batch job". I don't know what that is or what is needed for that.

[2021-12-10 22:42] mstanton1 commented on #10207
@tlebedovich looks great.

On the cover page for Change/Amendment on line two of the body text can you remove "you" from the sentence "Compare the details on the Verification Statement to the statement you.... Technically, the person receiving the statement might not have actually submitted it.

Is there a cover page utilizing the second text blurb above for discharge? This will be needed and I di

[2021-12-10 22:48] sienna-blumstengel opened #10448 "Create UI - Text changes & bug fix"
1. - [x] Fix the bug, where "cooperative association" always displays in the warning banner, no matter what the entity type is. Make it dynamic, so it matches the current entity type.

![Screen Shot 2021-12-10 at 2.22.30 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/9ada81e5-6e37-42d6-b200-2b7753dbdf89)

2. - [x] Update this text:
![Screen Shot 2021-12-10 at 2.44.58 PM.png]

[2021-12-10 22:53] zac-broitman commented on #9233
It appears a negative value would also be accepted, when it should not. Validation should ensure quantity >0

[2021-12-10 22:54] tlebedovich commented on #10207
@mstanton1 - edit made and both PDFs are now on the design link. Question - I assume for Go Live we are removing the "TEST DATA" watermark and the "TEST DATA" wording in the footers of all outputs? And we would be using the circle seal watermark for all now, including this cover page? c/c @forgeuxGH5

[2021-12-10 23:35] mstanton1 commented on #10207
@tlebedovich thanks for that change.

Yes, for go-live we will need to remove the TEST DATA on documents in PROD. We still need this in TEST/DEV. The circle seal watermark will be needed for all documents. For consistency lets keep it on the cover page as per your design.

[2021-12-10 23:42] mstanton1 commented on #9830
Moving to done as per an email from @bfbowles .

[2021-12-10 23:54] severinbeauvais opened #10449 "Legal API: submitter display name in detail comments should be redacted"
Recently, the "filed by" field in ledger items was redacted to display "Registry Staff" instead of the staff's actual login in certain conditions.

The submitter display name in detail comments should be redacted similarly. Example (in this case I am a BCSC user, not staff):

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/2ea0cc93-d79b-494c-8af0-a479dc6d0af0)

Also, the

[2021-12-10 23:56] cwulff1 opened #10450 "Removing Coop Summaries from BCOL"
- [ ] Messaging to BCOL HELP DESK, BCOL ADMIN, REGISTRIES

- [ ] Review BC Gov Website to update COOP Summary Instructions for Search

- [ ] Update OneNote Search Practices

- [ ]  Remove reference to COOP/MISC from BCOL
- [x] Stats on how many users go through that option
- [x] Fee changes for BCOL Users
- [ ] Ministry that accesses searches is Civil Resolution Tribunal.  They send request for co

[2021-12-10 23:59] lmcclung commented on #8810
Created
NR2351944 - Ltd company - Ravensburger Games Inc - BC0905081
NR6727988 - SP - Ravensburger Games and Toys - FM1006225
NR1726387 - GP - Victoria Herbal Pharmacy - FM1006226

Checked Names - the two firms don't show up as conflicts.

[2021-12-10 23:59] lmcclung commented on #8810
Ready for deployment

[2021-12-11 00:06] #10399 closed

[2021-12-11 00:06] #10397 closed

[2021-12-11 00:06] #10310 closed

[2021-12-11 00:06] #9549 closed

[2021-12-11 00:06] #9826 closed

[2021-12-11 00:06] #9949 closed

[2021-12-11 00:06] #9909 closed

[2021-12-11 00:06] #10172 closed

[2021-12-11 00:06] #10204 closed

[2021-12-11 00:06] #10089 closed

[2021-12-11 00:06] #10258 closed

[2021-12-11 00:06] #9401 closed

[2021-12-11 00:06] #10323 closed

[2021-12-11 00:06] #9671 closed

[2021-12-11 00:06] #10181 closed

[2021-12-11 00:06] #10273 closed

[2021-12-11 00:06] #10324 closed

[2021-12-11 00:06] #10225 closed

[2021-12-11 00:06] #10291 closed

[2021-12-11 00:06] #10325 closed

[2021-12-11 00:06] #10281 closed

[2021-12-11 00:06] #10247 closed

[2021-12-11 00:06] #9547 closed

[2021-12-11 00:06] #10151 closed

[2021-12-11 00:06] #10142 closed

[2021-12-11 00:06] #9675 closed

[2021-12-11 00:06] #10152 closed

[2021-12-11 00:06] #10180 closed

[2021-12-11 00:06] #10017 closed

[2021-12-11 00:06] #10141 closed

[2021-12-11 00:06] #9971 closed

[2021-12-11 00:06] #10022 closed

[2021-12-11 00:06] #8754 closed

[2021-12-11 00:06] #9804 closed

[2021-12-11 00:06] #9678 closed

[2021-12-11 00:06] #9553 closed

[2021-12-11 00:06] #9862 closed

[2021-12-11 00:06] #9552 closed

[2021-12-11 00:06] #9844 closed

[2021-12-11 00:06] #9555 closed

[2021-12-11 00:06] #9765 closed

[2021-12-11 00:06] #9775 closed

[2021-12-11 00:06] #10007 closed

[2021-12-11 00:06] #10253 closed

[2021-12-11 00:06] #10008 closed

[2021-12-11 00:15] lmcclung commented on #8495
@rarmitag
Could you do the following for me:
1) confirm whether the correction filing done was our devs reapplying the filing
2) suppress the outputs for the correction filings
3) Do a data fix to the incorporation application filing name - it should state BC Limited Company Incorporation Application

[2021-12-11 00:24] mstanton1 commented on #10346
Draft of form to be created is attached. Formatting for instructions in each field should be updated if not consistent with other current BC Registries forms, but content should remain the same.

[https://app.zenhub.com/files/157936592/4090f80c-6d34-400c-96cf-7db93d5b2465/download](https://app.zenhub.com/files/157936592/4090f80c-6d34-400c-96cf-7db93d5b2465/download)

_Note: this has been sent for

[2021-12-11 01:28] lmcclung commented on #9331
@vysakh-menon-aot @riyazuddinsyed @rarmitag - I've created the following in COLIN.  Now it's over to Richard to bring them to postgres.

BC0905141 - LTD -
Incorporated with no special rights and restrictions
Alteration #1 - Add classes with special rights and entered Special resolution date
Alteration #2 - Just entered Sprecial Resolution date

BC0905142 - LTD -
Incorporated with no special rights

[2021-12-11 02:29] chdivyareddy opened #10451 "PPR Registration - Individual Debtor Birthdate Issue"
**Describe the bug in the current situation:**
Individual Debtor Birthdate changes to the next day after clicking on the Done button (After 4/5 PM)

**Impact of this bug:**
High

**Chance of Occurring (high/medium/low/very low):**
High

**Pre Conditions:**
DEV env

**Steps to Reproduce:**
1. Enter the Birthdate in the Individual debtor component.
2. Click on the Done button after entering all the

[2021-12-11 22:08] jordiwes commented on #10224
@PatrickAHeath , do you know of any registration numbers that I could add to my table with those types?

[2021-12-11 22:33] jordiwes commented on #10078
@chdivyareddy , can you please try again to duplicate.... I cannot dup :)

[2021-12-13 15:31] PatrickAHeath commented on #10224
@jordiwes MISC_MINERAL_RESOURCE = 'MR', - none on file
CROWN_MINING_TAX = 'MI', - 072303B
CROWN_CORP_CAPITAL_TAX = 'CC', - 967927E
CROWN_CONSUMPTION_TRANSITION_TAX = 'DP', - 128498M
CROWN_HOTEL_ROOM_TAX = 'HR', - 452324H
CROWN_SOCIAL_SERVICE_TAX = 'SS', - 796978J
TRANSITION_SECURITY_AGREEMENT = 'TA', - 4830442
TRANSITION_FINANCING_STATEMENT = 'TF', - none on file
TRANSITION_SALE_OF_GOODS = 'TG', -

[2021-12-13 16:06] #10120 closed

[2021-12-13 16:06] #10041 closed

[2021-12-13 16:06] #9830 closed

[2021-12-13 16:06] #10126 closed

[2021-12-13 16:07] #10043 closed

[2021-12-13 16:07] #10042 closed

[2021-12-13 16:07] #8115 closed

[2021-12-13 16:54] sumesh-aot commented on #10048
Moving to Done

[2021-12-13 17:05] severinbeauvais commented on #10419
This fix is now merged and I have verified it in Dev.

[2021-12-13 17:08] sienna-blumstengel opened #10452 "UI not displaying director middle names anywhere after a COLIN > BEN alteration"
### Description
[Ops ticket #87](https://github.com/bcgov-registries/ops-support/issues/87)
![Screen Shot 2021-12-13 at 9.05.18 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/b4efc4b4-33bb-48e9-9782-f60c12f83d5d)
We brought over an LTD from COLIN, and altered it to become a BEN.
The director middle names made it over in the DB, but are not displaying anywhere in the UI.

###

[2021-12-13 17:14] severinbeauvais commented on #7635
This is now deployed to Dev, and I have tested some of the items above. I need the latest API code to test actual historical filings.

In the meantime, some UX Assurance can be performed, both to validate the items above and to look at the changes in Dev.

[2021-12-13 17:15] severinbeauvais commented on #7635
@tlebedovich @yuisotozaki

In the meantime, some UX Assurance can be performed, both to validate the test items above and to look at the changes in Dev.

[2021-12-13 17:23] jinghualicgi commented on #9698
Kevin will send email to Cynthia and CC Melissa
CC: @mstanton1

[2021-12-13 17:23] #10048 closed

[2021-12-13 17:27] #10139 closed

[2021-12-13 17:27] #10173 closed

[2021-12-13 17:29] #10395 closed

[2021-12-13 17:29] severinbeauvais commented on #7635
^^ This is now testable, but it only works on new dissolutions.

[2021-12-13 17:30] #9016 closed

[2021-12-13 17:30] #10394 closed

[2021-12-13 17:31] jinghualicgi commented on #10411
@doug-lovett  Hi Doug, I assigned this to since you are working on this. Thanks

[2021-12-13 17:33] #8265 closed

[2021-12-13 18:02] chdivyareddy commented on #10078
@jordiwes , I cannot reproduce either:)

[2021-12-13 18:12] cameron-freshworks commented on #9384
Moving this to backlog until we have the example draft filings to troubleshoot with

[2021-12-13 18:14] jmills-cgi opened #10453 "Sprint 11.6 Release"

[2021-12-13 18:15] jmills-cgi opened #10454 "Sprint 11.6 Release"
See also [Release Report](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/reports/release?release=Z2lkOi8vcmFwdG9yL1JlbGVhc2UvNjk3MzY).

Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a d

[2021-12-13 18:25] zac-broitman commented on #9497
Ops Onboarding points:
- Adding to Ops repo
- Access to shared BA inbox
- Set up overview meeting with another BA
- more?

[2021-12-13 18:43] mstanton1 commented on #9698
@jinghualicgi I have received an update from Olisa and provided it via email to yourself and Kevin.

[2021-12-13 18:54] jdyck-fw commented on #9992
Tagging you on this one @rarmitag - as I believe you're the one completing the work (according to what others shared at standup today at least).

[2021-12-13 18:55] sienna-blumstengel opened #10455 "Receipt modal isn't correctly labeling Name Request transaction types"
### Description
A client from **[Ops ticket 211](https://github.com/bcgov-registries/ops-support/issues/211)** thought she was charged twice for her name request initial submission.
![receipt1.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/d8bff1c3-7765-4eb7-a2d9-db059482a00f)
We looked at the DB and noticed that the second payment was not for a request, but for a renew (to ext

[2021-12-13 19:15] chdivyareddy commented on #10338
Verified!
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e98e8576-3229-41d1-a5c6-0d6070b23207)

[2021-12-13 20:39] jinghualicgi opened #10456 "Onboarding of Amitis"
**Onboarding checklist for Amitis**  Amitis@freshworks.club

**IDIR**
- [x] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [x] Submit to IT Operations Support. This form should be emailed to the Registries Executive Assistant. Currently this role is held by Michael Leung.

----------------

[2021-12-13 20:52] mstanton1 opened #10457 "API - Allow renewal of 1 year security agreement to infinite"

[2021-12-13 22:11] argush3 commented on #9032
Verified in DEV as best as possible given that PayBC is down.

CP3490770 and BC0870835 were dissolved and the filings were successfully pushed to COLIN.  Note that since pay was down, I marked the filing as `COMPLETED`  in the database manually to get colin updater to pick up the filing to push to colin db.

Can use postman test GET endpoints to verify these filings made it into COLIN db.

![image

[2021-12-13 22:29] janisrogers commented on #10340
@tlebedovich - Can you take a pass at this as we discussed? Let me know if there are any questions.

[2021-12-13 22:43] janisrogers commented on #8630
For verification statements we could use:
App_Doctype.instance_Regnum_yy_mm_dd_hh.min.ss
(The instance would only be needed if we were sending to BC Mail and we had multiple secured parties that we were sending to, so that they didn't get overwritten
example PPR_Verification.1_123456A_2021_11_05_17.45.04

[2021-12-13 22:44] janisrogers commented on #8776
@tlebedovich see comments in #8630 for a suggestion for PPR

[2021-12-13 22:49] mstanton1 opened #10459 "UI - Change search field limits to match updated limits"
Bob has noted the following updates took place to search field character limits. The UI is still presenting an error / preventing a user from entering data when they reach the old limits. Updates are required.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/5c9bc7d6-0e67-4954-aa75-8ecccf92b12e)

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/

[2021-12-13 23:10] rkim13103 commented on #10213
Design in progress link:
https://preview.uxpin.com/09532d66c697287f7fb3a723b83792db8373f56f#/pages/145021760

https://preview.uxpin.com/09532d66c697287f7fb3a723b83792db8373f56f#/pages/144891133

[2021-12-13 23:19] argush3 commented on #9032
Using same manual approach as in DEV for marking a filing as completed to work around pay issues, was able to get a CP and BEN voluntary dissolution filing pushed to COLIN db in TST.  Used BCREG0029.

Verified push to colin db was successful by doing GET calls in TST for CP1002401 and BC0879897 (BEN).

[2021-12-13 23:41] sienna-blumstengel commented on #10456
We should add access to google docs to our onboarding, can we do that for Amitis?

[2021-12-14 00:14] mstanton1 commented on #9881
Closing. Missing comment above was addressed by Steph as part of the Marketing Page UXA.

[2021-12-14 00:14] #9881 closed

[2021-12-14 00:24] cwulff1 commented on #10456
@sienna-blumstengel yes we can!

[2021-12-14 00:58] chdivyareddy opened #10460 "Amend/Discharge/Renew - Cancel Warning Modal Should get Triggered on all Pages"
**Describe the bug in the current situation:**
Cancel warning modal only gets triggered on the "Confirm & Review" page. It should get triggered on all pages for Amend/Discharge/Renew.

**Impact of this bug:**
Medium

**Chance of Occurring (high/medium/low/very low):**
High

**Pre Conditions:**
DEV env.

**Steps to Reproduce:**
1. Select a Registration to Amend/Renew/Discharge.
2. On the Screen1/Su

[2021-12-14 01:40] tlebedovich commented on #7635
@severinbeauvais PayBC is down at the moment in DEV so I can't complete a dissolution to see historical - do you have any historicals I could see somewhere in DEV?

two questions based on your notes above;
1) I missed the decision where we are changing all instances of Business Registry to BC Registries - does Scott/Linda know this?
2) Linda had previously ok'd my header comps that deactivated the

[2021-12-14 01:47] severinbeauvais commented on #7635
Here is a historical BC Benefit Company: https://dev.bcregistry.ca/business/BC0870824 (BCREG0020)

1. I remember discussing a change to BC Registries, and since I had to update one instance, I did the rest (to be consistent with header, etc). Do I need to revert this?

2. I asked Linda specifically if email/phone should stay editable even after dissolution and she said yes.

[2021-12-14 02:14] tlebedovich commented on #7635
1. just wondering if I should take a look to see what instances were changed to make sure it makes sense still - any way for me to see where the naming updates that were made?
2. Haha, ok, fine by me.

[2021-12-14 02:22] severinbeauvais commented on #7635
You can go here and search (CTRL+F) for "Registries". Left side is old code. Right side is new code. There are 24 instances.
https://github.com/bcgov/business-filings-ui/pull/268/files

[2021-12-14 05:57] #9316 closed

[2021-12-14 05:57] #9322 closed

[2021-12-14 05:57] #9320 closed

[2021-12-14 05:57] #9318 closed

[2021-12-14 07:09] #9332 closed

[2021-12-14 15:15] magszymanski opened #10461 "Content and layout design of bcreg.ca/modernization (due: December 14)"

[2021-12-14 15:21] argush3 commented on #9032
With pay up now, was able to test end to end that incorporating a company(CP and BEN) followed by a voluntary dissolution filing results in both filings making it into colin db.  Tested with CP1002403 and BC0907618 using BCREG0029 in TST.

**test steps:**
1. create NR for CP or BEN
2. file IA to completion
3. wait for IA to be processed by filer
4. voluntarily dissolve company
5. wait for filer to

[2021-12-14 15:32] PatrickAHeath opened #10462 "PPR - Aircraft Airframe D.O.T. Number Search won't allow search on numeric values"
**Describe the bug in current situation**
The existing search parameter edit on the Aircraft Airframe D.O.T. Number search restricts the value to letters only.  When entering serial collateral on a registration of type AC or AF, the field isn't restricted to letters only.  The search will only look at serial collateral types AC, AF and AP (Airplane - can no longer create these but there are some o

[2021-12-14 16:11] #9827 closed

[2021-12-14 16:11] #10338 closed

[2021-12-14 16:11] #10086 closed

[2021-12-14 16:11] #9783 closed, assigned to jordiwes

[2021-12-14 16:11] #10363 closed

[2021-12-14 16:11] #10085 closed

[2021-12-14 16:35] pwei1018 commented on #10423
OCM zenhub board invitation done.

[2021-12-14 16:36] pwei1018 commented on #10423
Rocketchat invitation done.

[2021-12-14 16:37] pwei1018 commented on #10456
OCM zenhub board invitation done.

[2021-12-14 16:37] pwei1018 commented on #10456
Rocketchat invitation done.

[2021-12-14 16:50] #9290 closed

[2021-12-14 17:18] gprimeau commented on #9768
Currently looking at entire CMS Lite website and changing everything

[2021-12-14 17:41] gprimeau commented on #9768
Completed!

[2021-12-14 17:43] mstanton1 commented on #9629
Covered under document repo.

[2021-12-14 17:43] #9629 closed

[2021-12-14 17:47] gprimeau commented on #10185
we now have BCreg.ca/modernization
leads directly to the modernization section of the website

[2021-12-14 17:54] mstanton1 commented on #8997
@forgeuxGH5 to review first comment above to identify if we have design covered for scenario where party code was used to enter a secured party and the party code was used to enter the account and they need to find the VS in their table.

[2021-12-14 17:58] mstanton1 commented on #9466
Historical search can be completed by staff using old PPR for go live. If staff require a copy of the verification statement they will continue as being done today (DBA support).

Action - training to be provided by Bob (documentation given to Advocette for interim).

[2021-12-14 18:03] gprimeau commented on #10272
I have placed a small message on the main website page in the PPR section indication change is coming
and a link to the Modernization news and updates section

[2021-12-14 18:06] forgeuxGH5 commented on #10045
I noticed that when I'm logged in as BCOL Helpdesk staff the "Client Search" dropdown is displayed and the primary search button does the free search - this is incorrect it should not display the client search dropdown

[2021-12-14 18:22] severinbeauvais commented on #7635
I can't fix the wrapping easily. That is one long line, not separate blocks. I see you're using a narrow window, and supporting responsive layout should be another ticket.

[2021-12-14 18:24] mstanton1 opened #10463 "Assets 11.6"
1. As the registrar I want to understand the impacts on the search results for business and individual so I can make an informed decision on the risks. - 95%
2. As a user I want to receive a document for registrations and verification statements. - 75%
3. As a user I want to know when an error has occurred so I have information required to resolve the issue. - 95%
4. Mandatory go-live work. - 95%

[2021-12-14 18:25] severinbeauvais commented on #7635
I changed the colour on the subtext. It was explicitly set to `#212529` so that must have been taken from some design page at some point. Anyway, it's `#495057` now.

[2021-12-14 18:26] forgeuxGH5 commented on #10112
still seeing the staff payment modal for registrations - it shouldn't be there for SBC

[2021-12-14 18:31] tlebedovich commented on #7635
Its ok it is wrapping, just wanted it to wrap in alignment with the other text. I can make a separate ticket.

[2021-12-14 18:32] severinbeauvais commented on #7635
OK. It will require refactoring the layout of the elements in that entity info component. Isn't there already a ticket for that?

[2021-12-14 18:59] tlebedovich commented on #7635
@severinbeauvais Copy UXA is complete with notes for you. Anything without comments is good to proceed with the updates you made.

[2021-12-14 19:03] severinbeauvais opened #10464 "Filings UI: UXA fixes and changes"
The purpose of this ticket is to record some UXA changes needed for the current release.

- [x] bold "Historical" text in badge
- [x] remove the hover effect on the badge (it highlights a bit which makes it seem clickable)
- [ ] ~fix wrapping of historical text so it aligns with the email/phone/number text in mobile~ _will be separate ticket_
- [x] not part of this ticket, but noticed the subhead

[2021-12-14 19:19] #10279 closed

[2021-12-14 19:23] jinghualicgi commented on #10094
Move this to done @mstanton1

[2021-12-14 19:23] #10094 closed

[2021-12-14 19:26] jinghualicgi commented on #8865
Hi Steph, can we move this story to UXA? Then move tasks to staging for waiting? Thanks @jordiwes

[2021-12-14 19:31] tlebedovich opened #10465 "Step 4 Voluntary Dissolution - Missing Autoscroll to Error"
IF user is on Step 4 of a Coop/Corp voluntary dissolution
AND does not select the Dissolution Time or click the Certify box
AND clicks the File and Pay button
THEN the user should get autoscrolled so that they are focused on the first error on the screen, but they do not. Instead it just autoscrolls to the very top of the screen

(which hides the components that actually have the error validations

[2021-12-14 19:32] tlebedovich commented on #10465
@sienna-blumstengel bug/unfinished item found for Voluntary Dissolution app - may need to be linked to Vol Diss Go Live

[2021-12-14 19:37] sumesh-aot opened #10466 "Create/Request BCOL fee code PPR transactions"
#### **Who will do this work?**
Relationships

#### Description
**Create/Request BCOL fee code PPR transactions.**
This fee code will be used for any DRAWDOWN transactions done on PPR.
We need 2 fee codes;
- Fee code used for general public transactions - where $1.50 is added by BCOL
- Fee code used for staff transactions on behalf of client.

#### Due date
This is a blocker for PPR go-live date.

[2021-12-14 19:46] jinghualicgi commented on #10118
Based on Janis comments, do we need to move this ticket back to backlog? @mstanton1

[2021-12-14 19:49] tlebedovich opened #10467 "Alterations Visual Design style regression quick fixes"
I noticed some visual design styles that had been correct but have regressed and need to be updated again:

- [ ] Icon in Share Structure should be 38598A

![Screen Shot 2021-12-14 at 10.08.11 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/c93d8915-117d-4902-bdd4-caeffe38cd86)

- [ ] Name Translation intro text should be 495057

![Screen Shot 2021-12-14 at 10.07.36 AM.png](h

[2021-12-14 19:49] jinghualicgi commented on #8552
Hi Melissa, this is within SBL with no progress, do we need to move this back to Backlog? Thanks

[2021-12-14 19:51] chdivyareddy opened #10468 "BCOL Staff Search - Do not Display the Client Search Dropdown for MHR or PPR"
- BCOL staff don’t do “Client Search” - they search but it’s always free.

**Current Behavior:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d6900de7-aad3-48b6-b48f-3082386146ab)

**Expected Behavior:**
Do not display the Client Search dropdown for BCOL Staff.

[2021-12-14 19:52] sienna-blumstengel opened #10469 "UI Design - Update help text to explain add 1 inch margin at top of doc"
### Design Recommendations:

**1) Update instructional text for the listed upload components to include an additional bullet as per design comp.**
- Coop IA (Rules + Memorandum upload)
- Coop Change Business Information/Special Resolution (Rules + Memorandum upload)
- Coop Voluntary Dissolution (Affidavit upload)
@lmcclung - please add any other instances

**2) Add white boxes at 40% opacity behin

[2021-12-14 19:53] chdivyareddy commented on #10045
Created ticket for BCOL Staff 'Client Search' #10468

[2021-12-14 20:05] jinghualicgi commented on #9882
@jordiwes Hi Steph, not sure about your discussion with Tracey yesterday. How are we going to do with this story? Thanks

[2021-12-14 20:27] doug-lovett commented on #10411
API fix verified in TEST with BRTEST1. The PPR dashboard now comes up with this staff user id.

[2021-12-14 20:40] Amitisp commented on #10456
Thank you everyone for all your efforts in onboarding me so far.
Can someone assist me with how/where I can access BC gov email, google docs and any other platform - e.g. SP, Intranet, etc. - which I will require to do my tasks?

[2021-12-14 20:43] jinghualicgi commented on #10421
@mstanton1 Melissa, I changed this to story and add it in PPR Go Live epic

[2021-12-14 20:46] Maribeth-Wilson commented on #10109
All changes are being actioned by Gen, moving to Done.

[2021-12-14 20:57] #10191 closed

[2021-12-14 20:57] #10015 closed

[2021-12-14 20:57] #9176 closed

[2021-12-14 20:57] #9073 closed

[2021-12-14 20:57] #10062 closed

[2021-12-14 20:57] Maribeth-Wilson commented on #10383
Final doc to be posted to the Modernization site, resources page Dec 14th.

[2021-12-14 21:08] severinbeauvais commented on #7635
The changes requested in this ticket's PR have been copied to [10464](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/10464).

THIS ticket can now go to RFQA. (The new ticket will go through UXA for one last look.)

[2021-12-14 21:19] Amitisp commented on #10456
I do not have an email from Telmisa.

OneNote link, I am asked to open with the app, then choose personal or work, then provide a MS ID. Is that the way to go to get access? Shall I use my personal MS ID?

For 2nd link, I do not know my External User BCeID.

For the google drive, I just requested access via the link.

MURAL link, I just entered as a visitor.

[2021-12-14 21:32] cwulff1 commented on #10456
@Amitisp we will need to work on a different way to get you access to the OneNote.  I am working on this.

To log into your email and activate your idir you need to go to summer.gov.bc.ca

In the user i.d. field enter "Idir/APartovi"

Please call me at 778-698-1435 once you get there and i will help you with the rest.

[2021-12-14 21:44] severinbeauvais commented on #10464
Change Company information NIGS dialog:
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/60626c84-3ea0-4cbd-8386-63e810dde2ba)

Dissolution NIGS dialog:
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/c82b84ef-15ff-4adc-b3e5-180e01584630)

[2021-12-14 21:47] jinghualicgi commented on #10317
@Maribeth-Wilson Maribeth, do you know how this related with Form and Website? Thanks

[2021-12-14 21:49] jinghualicgi commented on #9847
@mstanton1 Melissa, can you provide more detailed information what content need to be amend within the forms?

[2021-12-14 22:03] SateeshFW commented on #2125
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/b0fb6d3f-5cb9-49e6-bfd2-ca7201031327)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/d29f770b-44a8-4d23-9a94-c1580a568e31)

Miro Retro Board - https://miro.com/app/board/o9J_kqJbIfY=/?moveToWidget=3458764515114409112&cot=14

Action items from Sprint 11.4 continues

Action items from Sprint 11.5 R

[2021-12-14 22:11] fareenr commented on #10423
I have an IDIR userID but cannot access OneNote staff manual or the shared network drive, only Outlook Web Access

[2021-12-14 22:15] tlebedovich commented on #9542
@sienna-blumstengel Are there tickets to do the header updates that are also part of the breadcrumb design ticket?

[2021-12-14 22:23] Maribeth-Wilson commented on #10317
Hi @jinghualicgi - I think we can close this. Basically IDIM has 'rebranded' the BC Services Card mobile app to the BC Services Card App (removing the word mobile).  I believe all references have been updated.

[2021-12-14 22:28] Maribeth-Wilson commented on #10216
@jinghualicgi  I am not sure if this was actually completed. I would have to review or we can ask the group on Thur if this has been done.

[2021-12-14 22:33] janisrogers commented on #9005
Wrong modal is coming up for some searches:
I did a search for Lafarge Canada Inc. Which returned 381 registrations, and 340 were exact matches. Because there were more than 75 exact matches, we should get the modal titled 'Large search result report may be delayed'

[2021-12-14 22:36] Maribeth-Wilson commented on #10383
Here is a link to the guide: https://drive.google.com/file/d/1GNc3GvGQCTBn-gIMOrIFnIC_lIMZRsQY/view?usp=sharing.

Moving this ticket to done!

[2021-12-14 22:40] #9348 closed

[2021-12-14 22:48] Maribeth-Wilson commented on #10355
Moving this ticket to done. Will send one more reminder along with follow up of Dec 16th Info session - #10321

[2021-12-14 22:49] tlebedovich commented on #10249
@forgeuxGH5 - do you have time finish your button/text updates?

[2021-12-14 22:51] fareenr commented on #9684
14-Dec Sent very preliminary draft/ rough guess of BCE ID Additional Account Admin changes to John to review. Will also ask Melissa S to review and provide input

[2021-12-14 22:57] jordiwes commented on #10112
@forgeuxGH5 - I just tried in DEV with BRTEST5 which is SBC and the staff payment did not appear

[2021-12-14 22:57] tlebedovich commented on #8630
@janisrogers I think colons and periods may cause problems. I'm not sure if we need to include the seconds in the file name?  But agree a unique identifier for search is helpful - maybe the searched term (name or number they searched and then the Reg number for Registrations)? ie "PPR_Search_MV_1234578_2021-11-05"

[2021-12-14 23:03] forgeuxGH5 commented on #10112
@jordiwes you're right - works for me - maybe I had the wrong account type...

[2021-12-14 23:06] fareenr commented on #9689
Team - Who can demo what has changed for the Business ops team?  Why aren't they attending the info session on Thurs Dec 16?  My understanding was that the info session is for all BC Account Admins

[2021-12-14 23:09] fareenr commented on #10371
13-Dec created very rough draft of internal communications and emailed to John to review.
14-Dec - Also sent to Olisa and will also send draft to Melissa S for review and input before sharing the accurate communications with the team

[2021-12-14 23:10] fareenr commented on #9682
14-Dec Do not have access to OneNote staff manual. escalated this to Cameron Wulff on 13-Dec

[2021-12-14 23:35] jdyck-fw commented on #2118
![11-5.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/ebbc4904-213b-452b-8f0c-98aee7256dae)

- [ ] Create an RFC (lessons learned, best practices) - More feature flags, deploy more often
- [ ] Manage dependencies in sprint planning (FE-BE, SME)

[2021-12-14 23:40] tlebedovich commented on #9205
@sienna-blumstengel - Can you find me a full PDF example of a Historical entity that shows the liquidator/Receiver? and what about the Custodian of Records versus Liqudator?

[2021-12-14 23:52] mstanton1 commented on #10118
Moved to backlog.

[2021-12-14 23:54] mstanton1 commented on #8552
@jinghualicgi we need to better understand what this work is before we can determine what needs to be done with this ticket. Was it actually in the sprint based upon our planning, or no sprint assigned but in the sprint column?

Sounds like work for Bob so I will follow up by email to better understand what this is.

[2021-12-14 23:57] chdivyareddy opened #10470 "VERIFY - API - PPR Search - Reg/SBC/BCOL - Replace Folio Column with Username"
- PPR Search "Folio" Column should be replaced by "Username"

**Wireframe:**
https://preview.uxpin.com/f88c01490de59c5d15a98da5890b7b1bbe15bfc4#/pages/143717799/simulate/sitemap

**Current Behavior:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c77a8ee4-64b9-4a5c-aa61-858eb8146824)

- Assumption is: The staff user name is currently saved with the searched information

[2021-12-15 00:04] mstanton1 commented on #9012
@forgeuxGH5 is there anything in progress for this? Should it be moved to Review or Closed?

[2021-12-15 00:08] mstanton1 commented on #9698
Closing as the OIC has been deposited.

[2021-12-15 00:08] #9698 closed

[2021-12-15 00:09] #9202 closed

[2021-12-15 00:10] #10229 closed

[2021-12-15 00:10] jyoti3286 commented on #10229
Duplicate

[2021-12-15 00:13] jyoti3286 opened #10471 "Remaining work for Ministry Accounts for Relationship Team"

[2021-12-15 00:17] cwulff1 commented on #10456
@Amitisp please go to this address and go through the change password information using the password I gave you earlier.  link https://www.pwchange.gov.bc.ca/Default.aspx

You should then be able to log into summer.gov.bc.ca with the new password you create.

[2021-12-15 00:18] jyoti3286 commented on #7845
This has been implemented already

[2021-12-15 00:18] #7845 closed

[2021-12-15 00:18] #7461 closed

[2021-12-15 00:19] #7614 closed

[2021-12-15 00:19] mstanton1 commented on #9847
@jinghualicgi detailed analysis is required to address your questions. When reviewing forms to identify changes in ordering or data fields I generally open the existing form, go through the new application in test and identify any changes to the order/data collected. Changes to order are not high priority. However, if the forms are missing any mandatory data elements updates will be needed for lau

[2021-12-15 00:20] jyoti3286 opened #10472 "Account Management Changes - PI 12"

[2021-12-15 00:20] sumesh-aot opened #10473 "FAS : CGI AP feedback reconciliation"
Related to #9390

Reconcile the refund file from CAS and update the status of routing slips accordingly.

**Scenario 1: CAs Process and sends it back**
** Notes from documentation **
The feedback file from CAS is retrieved and a report produced listing batches, routing slips and whether the refund has been processed in CAS. For invoices successfully paid the cheque number is also supplied. Any err

[2021-12-15 00:28] #10143 closed

[2021-12-15 00:29] #9032 closed

[2021-12-15 00:30] #10403 closed

[2021-12-15 00:31] sienna-blumstengel commented on #9286
@argush3 i see you reopened this, can I close it?

[2021-12-15 00:31] #8271 closed

[2021-12-15 00:32] #9000 closed

[2021-12-15 00:32] #10434 closed

[2021-12-15 00:32] #9282 closed

[2021-12-15 00:32] #10424 closed

[2021-12-15 00:36] #10410 closed

[2021-12-15 00:36] #9286 closed

[2021-12-15 01:12] olisaezeh commented on #9689
@fareenr  the information session on Thurs Dec 16 i.e the Ministry Government Account Users Information Session and the Premium Account Creation Information Session are designed for account users and External  Stakeholders. not for the business ops team.

The key message at the above information session is primarily centered on how users can setup their accounts, users  and payment methods to crea

[2021-12-15 02:28] chdivyareddy commented on #10061
Hey @jordiwes , few wording changes are required for NIL & Exact match search. Please refer the attached mockup screenshot Vs current Behavior:

**NIL Search:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f4d50fa1-cc86-47c2-824d-57b64b91ebd8)

**Exact Match:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/662ae8d7-c277-4d44-9009-50932766c

[2021-12-15 04:26] doug-lovett commented on #10391
Update deployed to https://developer.bcregistry.daxiom.ca/get-started

[2021-12-15 16:18] sienna-blumstengel commented on #10469
![image.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/911aace4-9e64-4295-b168-7fe831dea422)

[2021-12-15 16:23] mstanton1 commented on #8552
Bob has identified that this is for MHR and depends on Thor standing up the postgres database before anything else can happen. He has noted this does not need to happen until later as the plan is to connect the new MHR application to the DB2 tables.

[2021-12-15 16:33] vysakh-menon-aot commented on #9329
@lmcclung @thorwolpert @sienna-blumstengel

I don't see a filing type in schema to map these filings
- Custodian change (Change Respecting DCR)
- Custodian address change (Location of Dissolved Company's Records)
- Put Back On
- Restoration application (_There is one for `restoration` and which has a prop `type` for [Limited Restoration, Full Restoration]. Not sure anything related to that_)

[2021-12-15 16:51] #10293 closed

[2021-12-15 16:53] jdyck-fw commented on #10368
Thor will connect with Rich on this.

[2021-12-15 17:02] severinbeauvais commented on #9530
In addition to Andre's comments above, see his PRs for this feature in Edit UI:
https://github.com/bcgov/business-edit-ui/pull/210
https://github.com/bcgov/business-edit-ui/pull/211

[2021-12-15 17:02] severinbeauvais commented on #9529
In addition to Andre's comments in #9530, see his PRs for this feature in Edit UI:
https://github.com/bcgov/business-edit-ui/pull/210
https://github.com/bcgov/business-edit-ui/pull/211

[2021-12-15 17:16] jdyck-fw commented on #10369
Keeping this in the backlog until unblocked.

[2021-12-15 17:18] jdyck-fw commented on #9329
Once this one is completed, pull in - https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/10369

[2021-12-15 17:18] sienna-blumstengel opened #10474 "UI - Update entity dashboard with custodian (continued)"
### Description
This ticket is a continuation of 8822. When the API #10415 has been completed, we can proceed with the UI.

[2021-12-15 17:22] jdyck-fw commented on #10292
@sienna-blumstengel to ask staff if they want client's name updated in the filed-by field if they legally change their name

[2021-12-15 17:29] tlebedovich commented on #8630
yes, maybe you could to always use the first 4-6 letters of the search term? (I would avoid a "..." truncation symbol)

Time is ok if needed, but i think it's usually safest to avoid periods and colons in the file names as periods mean different things to different systems and colons should just be avoided all together.

Or, as you noted, instead of time, each file could have a unique identifier n

[2021-12-15 17:31] severinbeauvais commented on #10474
Please add sprint, estimate and releases when those are decided.

[2021-12-15 17:33] mstanton1 opened #10475 "UI - PPR Search - Reg/SBC/BCOL - Replace Folio Column with Username"
- PPR Search "Folio" Column should be replaced by "Username"

**Wireframe:**
https://preview.uxpin.com/f88c01490de59c5d15a98da5890b7b1bbe15bfc4#/pages/143717799/simulate/sitemap

**Current Behavior:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c77a8ee4-64b9-4a5c-aa61-858eb8146824)

**Assumption:**
The staff user name is currently saved with the searched information

[2021-12-15 17:33] thorwolpert commented on #5741
flask works that way allowing multiple app contexts and is how extensions work (like flask-sqlalchemy). This would break the pattern of the framework.

[2021-12-15 17:37] jdyck-fw commented on #10415
Once this is completed, we can pull in https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/10474

[2021-12-15 17:40] JohnamLane opened #10476 "Expand account info drop down to include branch name"
Certain agencies have an account naming convention as follows:
<agency name - branch 1>
<agency name - branch 2>
<agency name - branch 3>

Unfortunately, the account info drop down only shows the agency name so the client is unable to distinguish amongst their accounts.
![image.png](https://images.zenhubusercontent.com/5a7391bd4b5806bc2bc54a79/530c1d22-78af-4931-93fd-a5da8d1a5386)

This change wou

[2021-12-15 17:41] sienna-blumstengel opened #10477 "Investigate COLIN updater failure to send over benefit company and co-op filings"
Investigate and create other tickets if required.

[2021-12-15 17:45] severinbeauvais opened #10478 "UIs - update node/npm version"
The entity UIs (including NR UI) are using node v10.19.0 and npm v6.14.4. The current version of node is v16.19.0

1. A bit of research is needed to see what version the UIs can be updated re: compatibility with various packages and tools.

2. Some research is needed to check for breaking changes.

3. A number of other packages in the `package.json` may also need updating re: compatibility with ab

[2021-12-15 18:00] jinghualicgi commented on #10430
@mstanton1 Melissa, I changed this epic to Story.

[2021-12-15 18:15] fareenr commented on #10371
15-Dec briefly discussed draft with Melissa, made changes, clarified new steps for setting up additional Account Admin and emailed out to Zac, John, Magdalena for review and input.

Questions - who will send this email out?  And when does it need to be sent by?

[2021-12-15 18:23] tlebedovich commented on #4532
This is a duplicate of ticket https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/9205 so i'm closing this one.

[2021-12-15 18:23] #4532 closed

[2021-12-15 18:24] severinbeauvais commented on #9529
I'm going to work on the Filings UI ticket (9530) first since it's the most complex.

[2021-12-15 18:26] forgeuxGH5 commented on #10249
@tlebedovich I did a quick update to the Name Request bullet in invision otherwise good to go

[2021-12-15 18:32] tlebedovich commented on #3821
hi @stevenc987 - I'm doing the visual design layout for these Business Summaries. The latest design comps link is listed above but it still needs to be reviewed by the UX and Linda team. I laid out a number of different examples of content types (not all but a lot).

And I have added the UX Assurance label so that myself and Scott (UX lead) can review any outputs you complete before they go to Rea

[2021-12-15 18:36] tlebedovich commented on #10249
but what about the main button name and dropdown option changes to reflect the companies that aren't numbered, but don't need a name request (Linda's comments in Invision?). And the button tool tips?

[2021-12-15 18:43] jyoti3286 commented on #10466
@JohnamLane @mstanton1 @janisrogers - I am not sure which team needs to handle it. If you guys already have the information, do update the ticket else do take it up in the BA Guild

[2021-12-15 18:51] argush3 commented on #9033
Louise confirmed BN message was generated properly for BC0907618(BEN) in TST properly.

[CHG0030974 - BC0907618 dissolution BN Message](https://app.zenhub.com/files/157936592/cbc21689-4b75-4a12-a091-4eebb7144c3c/download)

[2021-12-15 19:02] forgeuxGH5 commented on #9530
Our flow for staff payment has changed since we did this in filings UI. @lmcclung can we change the filings UI to match our other flows?

This would mean the following:

- Remove the staff payment from the in-page version to the modal version (so we'd have only the modal version implement and maintain)
- Move the Certify "edit" version to the Review page and remove the read-only version of the Cer

[2021-12-15 19:04] janisrogers commented on #10466
This work will be done by relationships. Sumesh wrote the ticket, so is presumably aware of what needs to be done.

[2021-12-15 19:05] argush3 commented on #9037
David Roberts confirmed MRAs messaging is working.

Comments from Darci regarding MRAs for BENs:

[2021-12-15 19:09] severinbeauvais commented on #9530
@forgeuxGH5 This ticket is for the Filings UI (ie, ARs, COAs, CODs and non-IA corrections). Also I think there is no common or shared staff payment modal yet.

I am just starting this ticket now, so it's not too late to make design changes, but I'm blocked until things get decided. Please advise.

[2021-12-15 19:09] chdivyareddy commented on #10224
Hey @jordiwes , For Registration Type 'TL' - Amendment should use Fee Code NCCHG (No Charge). Currently, it is showing a $10.00 Fee for Amendment. Please refer the screenshot:

**Current Behavior:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/3cdbce6d-e4c6-481a-94db-e0b8eb650fd8)

[2021-12-15 19:16] forgeuxGH5 commented on #9530
@severinbeauvais Assets just did staff payments using the modal - I'm not sure it they made it a common or shared component, if not it seems like it should be one. I can check.

I can't make the call on implementing the design changes - it's more about @lmcclung OKing the effort.

[2021-12-15 19:17] severinbeauvais commented on #9530
I'm not totally sure what this means. AFAIK, only the COD filings have a review page.

[2021-12-15 19:18] severinbeauvais commented on #9530
Assets is using Vue3, so their components are not compatible with ours.

And Linda is on vacation atm. @sienna-blumstengel , can you make this decision?

[2021-12-15 19:21] sienna-blumstengel commented on #10292
Sienna's email thread here has the answer: https://mail.google.com/mail/u/0/?zx=nv2aa2snq520#sent/FFNDWNFTDGbVRmGvzDPtxrNLNGDsFJGb i think this link only works for me haha but will help me find the answer when it comes in

[2021-12-15 19:22] forgeuxGH5 commented on #9530
ah - that's unfortunate...

[2021-12-15 19:22] severinbeauvais commented on #9530
I believe I can make all the changes within the estimated effort.

[2021-12-15 19:24] forgeuxGH5 commented on #9530
Works for me

[2021-12-15 19:25] severinbeauvais commented on #9530
Actually, it looks like they just wrapped our shared Staff Payment component in a Vue3 dialog, so I could do the same thing in Vue2.

[2021-12-15 19:26] forgeuxGH5 commented on #9530
@jordiwes says the staff payment component she used in assets was a shared component (I think she used the one from Name Request) - not sure if this helps

[2021-12-15 19:33] rarya-freshworks opened #10479 "Regression Testing Accounts"
Description:

Account Types:
BCeID:
Approve & Reject Flows:
- Create New Account
- Request Product & Service
- Reupload Affidavit

BCSC:
Approve & Reject Flows:

GOVM:
Approve & Reject Flows:
- Create account
- Send Invite

GOVN:
Approve & Reject Flows:

ADMIN:
- Sending two invites.
Scenario: 2 Admin invites.
Scenario: 1 Admin invite & 1 user/account co-ordinator

Product Request:

[2021-12-15 19:34] severinbeauvais commented on #9530
### Test Notes

(from Andre's comment in 9221)

The following companies have been created for testing in dev as Staff:
https://dev.bcregistry.ca/business/BC0870820
https://dev.bcregistry.ca/business/BC0870821
https://dev.bcregistry.ca/business/BC0870822

Using the routing slip to pay an alteration or a correction would display the message:
222222222 - Not active
123123123 - Not enough balance: $9.

[2021-12-15 19:42] gprimeau commented on #9394
**Changes that have been made :**
update to the Incorporation dissolved section
update to the Cooperative dissolved section
Update forms page ( Benefits and Cooperatives) - small questions regarding Benefit company sections
Need to discuss the Info packages

[2021-12-15 19:45] mstanton1 commented on #8336
@Kaineatthelab it looks like this can be closed as a duplicate of 8337. Can you confirm?

[2021-12-15 19:52] severinbeauvais commented on #9530
Along the way, I'm going to sync up some changes from Edit UI back to Filings UI. For example...

Old contact info:
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/4442c3b9-7079-4d6a-956f-a1fc1845969a)

New contact info:
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/d7b29d19-9488-40e8-84f3-294523caf773)

[2021-12-15 19:59] argush3 commented on #9037
Pulling back into progress as Darci is wanting to do some further verification.

[2021-12-15 21:19] stevenc987 commented on #3821
@tlebedovich
Sounds good to me

[2021-12-15 21:41] severinbeauvais commented on #9530
@forgeuxGH5 Do you want to make any changes to the buttons on the COD edit page and review page? It's a bit weird now since the "save" buttons are on the edit page but the review page now also has input fields.

Example:
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/f971dcfa-5961-46f8-9765-01d3a8dde204)

![image.png](https://images.zenhubusercontent.com/5d0a7edda464417

[2021-12-15 21:59] cwulff1 commented on #10456
@Amitisp did the above work?

[2021-12-15 22:05] severinbeauvais commented on #9530
@forgeuxGH5 Do you have a design for the Staff Payment dialog?

[2021-12-15 22:09] jinghualicgi commented on #10116
Hi Move this back to sprint backlog and waiting the last new groomed task: UI - Update account name for BCOL Help#10433

[2021-12-15 22:09] Amitisp commented on #10456
Hi Cameron,

Yes, after a few various tries. I just had to not enter the idir\

Thank you,

Amitis

On Wed, Dec 15, 2021 at 1:59 PM cwulff1 ***@***.***> wrote:

[2021-12-15 22:10] cwulff1 commented on #10456
Okay that is great news.  When you sign into summer.gov.bc.ca the idir\ will be important but please correct me if i am wrong :).

[2021-12-15 22:12] Amitisp commented on #10456
That is correct; for summer it is required.

Amitis

On Wed, Dec 15, 2021 at 2:11 PM cwulff1 ***@***.***> wrote:

[2021-12-15 22:37] fareenr commented on #9687
I'm not clear on what this new process is, please email me the current BCOL admin procedures

[2021-12-15 22:38] fareenr commented on #10315
Who should be involved to discuss the website updates needed for Dec release?

[2021-12-15 22:50] tlebedovich commented on #9205
**Outstanding Questions --**

@sienna-blumstengel @lmcclung

1) A text example in the dev ticket shows that someone did a "search" for this summary information and shows who the search was done by. Are staff or people other than the business owners able to do "searches" still - or will everyone access the business summary PDF download. Do we need to show this the "searched by" information anywhere

[2021-12-15 22:57] jinghualicgi commented on #10377
@zac-broitman @cwulff1  Can we start working on this ticket and move it to In Progress? Thanks

[2021-12-15 23:18] janisrogers commented on #10221
In entities, when you click cancel and you have unsaved changes, you get the following:

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/b0090447-551d-462c-b0c3-5c4347455d51)

If you click the browser close button with unsaved changes, you get : (but should get the nicer modal)
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/9a78696e-78dd-4155-

[2021-12-15 23:31] cwulff1 commented on #10377
@jinghualicgi Yes, can be put into in progress.  We have began speaking with SBC Finance and the Admin team.  Zac and I will develop the plan on Friday this week.

[2021-12-15 23:57] sumesh-aot commented on #9390
Layout document details : https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/Modernization%20Docs/Forms/AllItems.aspx?RootFolder=%2Fsites%2FSBC%2FREG%2FProjects%2FMVSM%2FModernization%20Docs%2FRelationships%20Docs%2FBusiness%20Documentation%2FElectronic%20Journal%20Vouchers&FolderCTID=0x012000B818EF4733FA1245879E82E0E935EF33&View=%7B73B5D7A3%2DD31E%2D4F84%2D8AEB%2D53B299B08647%7D

[2021-12-16 00:02] Maribeth-Wilson commented on #9682
There is  currently no information in the OneNote regarding BCeID additional admins. This will need to be added.

[2021-12-16 00:06] Maribeth-Wilson commented on #9687
Here is the information John prepared on adding additional BCeID admin: https://docs.google.com/document/d/1rrY59S62yvsRUwzqyzGyrKzHzn47F70ZcKE8IhhrDfk/edit?usp=sharing

@JohnamLane Is there a document containing BCOL admin procedures?

[2021-12-16 01:09] JohnamLane opened #10480 "Validate GL Coding in Ministry Account Setup Flow"
This change will be required once the mainframe is retired.

Currently, when ministry accounts submit new GL coding, BCOL Admin use a lookup tool on the mainframe to determine if it's correct/valid.

Once this tool is retired, the functionality will need to live in the new application.

Analysis required:

-  what sanitation and validations exist
-  what endpoints exist to provide this validation

[2021-12-16 02:38] forgeuxGH5 commented on #9530
@severinbeauvais yeah - you could add the Save and Resume Later button beside the Back button.
I don't have an invision comp for the Staff Payment modal specifically - I can see if @tlebedovich can tweak the existing Name Request Staff payment modal really quick - it just needs the "Priority (add $100.00)" checkbox.

[2021-12-16 03:02] tlebedovich commented on #9530
@severinbeauvais - Regarding the design updates you made above, the one with the blue icons is the current one which should be used, not the one with the gray icons. This is the address design we should be using out of the two:

![Screen Shot 2021-12-15 at 7 02 21 PM](https://user-images.githubusercontent.com/2207887/146300506-dc7e335b-e8ee-45fe-a293-533986b40c12.png)

[2021-12-16 03:18] tlebedovich commented on #9530
@forgeuxGH5 - should the blue buttons on the bottom of the pages say "Review and Confirm" for screen 1 (instead of Next) "File and Pay" (instead of File) to align with our other apps?

Regarding the Staff Payment modal @forgeuxGH5 - Are you thinking would it look like the same as our others except with the checkbox and a general "Submit" button (instead of "Submit Name Request") like so:

![Screen

[2021-12-16 03:23] forgeuxGH5 commented on #9530
"@forgeuxGH5 - should the blue buttons on the bottom of the pages say "Review and Confirm" for screen 1 (instead of Next) "File and Pay" (instead of File) to align with our other apps?" - Yes

"Regarding the Staff Payment modal @forgeuxGH5 - Are you thinking would it look like the same as our others except with the checkbox and a general "Submit" button (instead of "Submit Name Request") like so:"

[2021-12-16 04:09] #10081 closed

[2021-12-16 04:09] #10087 closed

[2021-12-16 04:09] #10047 closed

[2021-12-16 04:09] #10046 closed

[2021-12-16 04:09] #10088 closed

[2021-12-16 04:09] #10411 closed

[2021-12-16 04:09] #10121 closed

[2021-12-16 04:09] #10045 closed

[2021-12-16 05:12] severinbeauvais commented on #9530
Ah OK 🤦‍♂️

[2021-12-16 08:50] #9333 closed

[2021-12-16 08:52] rarya-freshworks opened #10481 "Automation Task"
Description:
Automation Task for sprint 11.6 & 11.7

- Create routine Slip Error Handling cases
- Refund request error fixes

[2021-12-16 13:51] argush3 opened #10482 "Misc updates to how COLIN API is populating voluntary dissolution data"
Based off of testing from the home team, the following updates need to be made to the COLIN API to populate data properly for voluntary dissolutions:

- [x] `ledger_text_dts` column of `ledger_text` table should be populated with the effective date of the filing

[2021-12-16 13:59] argush3 commented on #10482
@sienna-blumstengel David Roberts indicated that we need to populate the submitting party table in COLIN for the voluntary dissolutions.  He also had the question below.  Currently, in the voluntary dissolution filing, we only save the custodian party.  Can I use the custodian party for the submitting party entry?

[2021-12-16 14:24] rarmitag commented on #9331
The newly updated colin schema seemed to cause me issues.

[2021-12-16 15:44] argush3 commented on #8388
Verified in DEV by creating two(CP1002403, BC0907618) new companies, a COOP and a BEN under BCREG0018.  Filed voluntary dissolution filings to completion for both of these companies at which point I ran the update-colin-filings job manually to push the two companies to COLIN.  Queried against CDEV to confirm dates from filings were being converted from UTC to pacific time.  And in cases like the e

[2021-12-16 15:55] magszymanski opened #10483 "Update BCOL Announcements & Landing Page (Due: Week of Dec 20 - dependent on home team)"

[2021-12-16 15:56] magszymanski commented on #10483
updating announcements and landing page are two different tasks. Landing page will take longer so estimating at 1.

[2021-12-16 15:57] magszymanski opened #10484 "Update BCOL Modal Pop-Up - (Due: Dec 21)"

[2021-12-16 15:57] magszymanski opened #10485 "Update PPR System News (Deadline: Dec 16)"

[2021-12-16 16:22] jinghualicgi commented on #9395
Hi, are we ready to move this ticket to In Progress? Thanks @gprimeau

[2021-12-16 16:37] #9393 closed

[2021-12-16 16:43] #8704 closed

[2021-12-16 16:44] #9805 closed

[2021-12-16 16:44] #10049 closed

[2021-12-16 16:45] #10294 closed

[2021-12-16 16:45] #10322 closed

[2021-12-16 16:48] cwulff1 commented on #10377
@zac-broitman Let's use this worksheet to track our UAT work for tomorrow.

https://docs.google.com/spreadsheets/d/1RFFquXuoMtTtVN2dPyFOwWbKnQnBL8wmyDjRVVNIIg8/edit#gid=0

[2021-12-16 16:53] jinghualicgi commented on #10190
Current plan is Jan 2022

[2021-12-16 16:54] mstanton1 commented on #10190
Changed to Jan 2022 to allow time to update URL's and complete additional work to ensure there are no issues in flow (e.g. resolving breadcrumb issues). Exact date to be determined early Jan.

[2021-12-16 16:58] saravanpa-aot opened #10486 "User warning for outdated browsers using Nginx"
Using Nginx , redirect to not available page by detecting user agent.

Changes include

- nginx conf change
- static html creation in auth-web [refer https://github.com/bcgov/entity/issues/9730 for UX]

[2021-12-16 17:15] SateeshFW opened #10487 "Relationships Sprint Goal for 11.6 & 11.7"
1. As a user, I want to create different accounts with the same account name and different branch name (10418)  - 100%
2. As a non-provincial ministry user, I want the ability to create a Non-Ministry Gov Account (10255,10256)  -- 80%

[2021-12-16 17:29] mstanton1 commented on #10447
Covered under 10431. Being done with the change for PPR_staff.

[2021-12-16 17:41] jinghualicgi commented on #8649
@tlebedovich Tracey, do we have a design for that? Or Dev can go without design, thanks

[2021-12-16 17:42] mstanton1 opened #10488 "API - Search PDF Generation"
API clients have followed up on the PDF search result noting:

When a Personal Property Search is conducted and there is a match found, when we make a request for the PDF format to return, we are not receiving a PDF.
We only receive the PDF it no exact or similar matches are found.

Doug has identified there is an issue and provided a workaround below. Changes are required to address the problem.

[2021-12-16 17:44] tlebedovich commented on #8649
We do - let me link the final ones --

[2021-12-16 17:45] jinghualicgi commented on #10457
@chdivyareddy Divya please verify this, thanks
Same bug #10092

[2021-12-16 17:53] severinbeauvais opened #10489 "Create UI: step 2 can be blank"
After File and Pay error, step 2 is blank:

![Clipboard - December 14, 2021 10_12 AM.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/6c31c930-2c7f-487e-bec7-fa0c868a6823)

[2021-12-16 17:56] sienna-blumstengel opened #10490 "COLIN API - Send back submitting party as part of voluntary dissolution"
### Description
Home team says COLIN is erring when receiving our voluntary dissolution filings because we are not sending the submitting party, and COLIN is expecting it.
We should add the submitting party to what we send to COLIN.

Also verify that we send the submitting party back to COLIN for all other filings and entity types:

BCOMP:
- [ ] Incorporation application
- [ ] Incorporation applic

[2021-12-16 18:03] tlebedovich commented on #8649
@jinghualicgi - I just cleaned up the ticket above and added the design links directly in the description.

[2021-12-16 18:07] jinghualicgi commented on #8798
@PatrickAHeath Patrick, please upload current excel/list for reference, thanks
Doug will review if current API have covered those rules

[2021-12-16 18:24] chdivyareddy commented on #10457
Verified in DEV - 1 year security agreement to infinite.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a52a13db-4732-4945-8c1f-3f186591e665)

[2021-12-16 18:28] severinbeauvais opened #10491 "Legal API: schema needs to allow null Delivery Instructions (was: HTTP 422 when filing a Voluntary Dissolution)"
1. go to https://dev.bcregistry.ca/business/BC0870720
2. login as BCREG0018
3. start a Voluntary Dissolution (you can delete any existing draft VD)
4. complete the VD steps and file it
5. see error dialog

The network response is HTTP 422 (unprocessable entity).

The detailed error is:
[code]

It is unknown what is wrong with this VD. The Legal API logs may have more information.

cc: @tlebedovich

[2021-12-16 18:41] zac-broitman commented on #10414
Updated ticket with criteria that when a NSF routing slip is repaid (by having a child linked to it) that it's status should be updated to Active, rather than staying in NSF

[2021-12-16 18:45] zac-broitman commented on #10413
The business has confirmed they want an NSF routing slip to go back to Active status once it has been repaid (by having a child linked to it), so I don't believe Scenario 1 is necessary anymore @jyoti3286 @sumesh-aot

[2021-12-16 18:53] tlebedovich commented on #10491
to note - I tried to delete the draft and start a new one. And also emptied my cache and retried and are still seeing this error.

[2021-12-16 18:55] zac-broitman commented on #9925
Business process to be in line with what was understood above: On Hold is used when waiting for something for a client before filing a transaction. The status indicates that the routing slip is not ready to be used, but also is not "unclaimed".

Moving ticket to done.

[2021-12-16 19:21] #9033 closed

[2021-12-16 19:22] ozamani9 commented on #5739
The changes have been pushed to DEV.  On the Applicants info page FEDERAL is not showing up anymore.

![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/4aecf271-421f-4541-bb6f-982ba8e044c9)

[2021-12-16 19:28] mstanton1 commented on #8185
@PatrickAHeath I took a first pass at locating BC Registries Accounts for the BCOL accounts in the spreadsheet. Only two appear to have set up. We will need BCOL Help to look at the BCOL account to verify it is a match since EJV payment is used so there is not actually a BCOL link we can rely on. BCOL Admin should be able to check individuals names / address.

I have not sent this for review since

[2021-12-16 19:29] ozamani9 commented on #5842
@riyazuddinsyed .  I believe that this is no longer a bug.   please let me know if this is still as issue.  If so, perhaps we can meet and you can show me.

1) When i go to TEST and click an extra provincial company, and then go to the applicants info page.   The "Country" dropdown is defaulted to Canada, and when i hit submit    Postal Code/Zip Code gives an error message when left blank.

2) if

[2021-12-16 19:33] severinbeauvais commented on #9530
Question 1: Is the "Back" button OK? Or change to something like "Return to Filing"?

Question 2: The tooltip on the next button (Proceed to Filing Summary) seems obsolete now, so I propose removing it. OK?

I think it would be better to update all filings at the same time (so they stay consistent)... in another ticket, please and thanks.

[2021-12-16 19:39] severinbeauvais commented on #9530
It says "File" in the screenshot above because I am logged in as staff and no payment is required.

There are actually 3 cases for this button:
- regular user, payment required -> should say "File and Pay"
- staff user, payment required -> should say "Continue to Payment"??? **please advise**
- any user, no payment required -> should say "File"

^^ OK?

[2021-12-16 19:55] forgeuxGH5 commented on #9530
"Back" is good/correct - it's the pattern across all designs going forward.
Removing the tooltip on the (formerly) Next button is a good idea let's do it.

My suggestions for the file button:
- **regular user, payment required** -> should say "File and Pay" - Yes
- **staff user, payment required** -> should say "File and Pay" - they still need to enter payment information so I think it's fair to s

[2021-12-16 20:03] lekshmimallika-aot commented on #10491
deliveryInstructions is null for custodial office delivery address. Null is not allowed for this. It should be empty string

[2021-12-16 20:10] sienna-blumstengel commented on #10490
UPDATE
10490 is not actually blocking the release 🙂
I misunderstood and thought the issue was completely preventing the filing from going back into COLIN, but it’s actually just preventing the output from working, which we don’t worry about anyways. The release can proceed without this issue.

We might not even need this ticket, since this will only help us generate outputs in COLIN, and I am almo

[2021-12-16 20:12] argush3 commented on #10482
note `submitting_party` is not a shower stopper as outputs not displaying in the old system is not an issue.  removed task from ticket desc.

[2021-12-16 20:21] severinbeauvais commented on #10491
Thanks for investigating! This is therefore a Create UI ticket.

[2021-12-16 20:33] JohnamLane commented on #9390
Inbox sample data:
[GL_Sample_Data.txt](https://github.com/bcgov/entity/files/7730232/GL_Sample_Data.txt)

CGI requirements doc:
[CGI_Detailed_Layout_v01r14.docx](https://github.com/bcgov/entity/files/7730256/CGI_Detailed_Layout_v01r14.docx)

[2021-12-16 20:39] jinghualicgi commented on #10013
@PatrickAHeath Hi Patrick, any update regarding this task? Thanks

[2021-12-16 21:08] tlebedovich commented on #10004
@mstanton1 - Did we create tickets/groom this for Go Live?

[2021-12-16 21:10] severinbeauvais commented on #9530
How does this look for the staff payment modal? I didn't change the basic dialog properties (like title color) because that would mean making THIS dialog different from all the others in this app (with local CSS) or changing all dialogs in this app (with base CSS) (which is a ton of tweaking and testing).

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/299b9170-c5ae-4d2

[2021-12-16 21:12] zac-broitman opened #10492 "FAS - Show Balance on Dashboard"
* As a FAS user (all types)
* I want to be able to see the routing slip balance on the dashboard
* so that I can quickly assess the status of a routing slip

Currently the dashboard shows "Total Amount" however this appears to be the total amount of funds originally deposited for the routing slip, which is not very useful to users.

**Acceptance Criteria**

**Scenario 1: Viewing Balance**
* GIVEN