[2021-07-16 17:44] lmcclung opened #8247 "Namex API - update staff comment event"
- [x] Insert staff comment **content** to the events endpoint response
- [x] If there aren't existing unit tests, make some. If there are, update them.

[2021-07-16 18:01] chdivyareddy commented on #7266
Found an issue in TEST which did not occurred earlier in DEV
Steps to Reproduce:
1. Click on "Add new Security Agreement"
2. In Step1 "Length and Trust Indenture" - enter the "Length in Years" and enable "Trust Indenture".
3. Click on "Review and Confirm" which is Step4
4. Under "Registration Length and Trust Indenture" no error is displayed.
5. Go back to Step1 and select "Infinite ($500.00 non-r

[2021-07-16 18:01] Sienna-Blumstengel opened #8248 "UI - display staff comment in transaction history"
- [x] Show the comment in the transaction history entries
  - Only show the staff comment from that particular event
  - Only show the comment when the transaction type is "staff comment"
- [x] Update unit tests

[2021-07-16 18:25] chdivyareddy commented on #7269
Verified in TEST.
![Step3viewonStep4(TEST).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/dc23a773-b968-44c9-8920-59f586816d36)
![Step3viewonStep4_1(TEST).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ea539d89-de94-41b7-a06b-e78d99872df4)
![Step3viewonStep4_2(TEST).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/7e4cd31b-fb1b-4a40-bb28-93

[2021-07-16 18:31] saravanpa-aot commented on #7961
@jyoti3286 @rkim13103 Where should the Request Access button has to take the user to? I am guessing it should be to products and services in account settings page?

[2021-07-16 18:38] chdivyareddy commented on #7436
Verified in TEST.
![Step3viewonStep4(TEST).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a25167f6-cd6b-4652-9970-fd88b9444e33)
![Step3viewonStep4_2(TEST).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e9ab143f-9253-4c9f-97bd-fc4f06f3d636)

[2021-07-16 18:45] mstanton1 opened #8249 "Invalid Authenticator Code -"
Title of ticket: [Entity number and name] or "Account Management"

#### Description

We finally got around to installing WinAuth on our network. It is clearly recognizing the QR code (it filled out “registries (dws@bceid)” on its own), but when I input the 6-digit code, I get an error message: “Invalid authenticator code.” It has been a while since our last information session but the authenticato

[2021-07-16 18:45] mstanton1 commented on #8249
Responded suggesting he:
-sign out of Business Registry
-clear cache
-remove account in authenticator

I've asked he try again at this point then advise of the results.

[2021-07-16 18:52] mstanton1 commented on #8224
Sienna has followed up on INC0099356 : BC Registry Inquiry - folio field missing.

I have created a new ticket for the other issue which had not yet been logged (Zenhub 8232).
INC0099786 : [BC Registries and Online Services] An out of province account needs to be approved.

[2021-07-16 19:19] mstanton1 commented on #8249
Solution identified:

Issue was that the client was typing the 6 digit code with a space when no space was required. Copying the code from the app fixed the issue.

Notes for future troubleshooting
-can confirm the client is not entering a space / suggest they copy where possible
-can suggest the client switch to using the 'unable to scan' rather than the QR code

Additional Notes from Travis on W

[2021-07-16 19:35] mstanton1 opened #8250 "pass the return url [dashboard url] to sbc-header to support modified account creation flow"
## Who will do this work
Relationships team _for_ Assets team

**For Assets**

As a part of https://github.com/bcgov/entity/issues/6921 , account creation flow is getting modified and user can cancel the creation of new account and get back to one of the older accounts he has.

Each team can decide which url user should be taken back to if they decide to abort the account creation flow .For auth ,

[2021-07-16 19:36] mstanton1 commented on #8250
@janisrogers @PatrickAHeath I've split the existing dependency ticket into two, with this one being for your team. When you have determined the appropriate page for the client to land if they cancel out of the account creation please provide those details to us.

Ticket 7757 was discussed during last BA guild and has been repurposed for Entities.

[2021-07-16 19:39] mstanton1 commented on #7757
@Sienna-Blumstengel can you work with your team to determine where a client should be redirected if they have an existing account, choose to start creation of a new account, and then cancel out of that new account creation request.

Note for Auth it is the homepage.

URL required for flow if initiated from Name Request.

[2021-07-16 19:39] PatrickAHeath commented on #8241
@eve-git @rarmitag When I look at NR 0286493 in NAMEX, it displays as type Corporation (Foreign) -Extraprovincial Registration/Amalgamation.

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/8cc8c962-edae-4494-ad4f-6bf28c4695b1)

When I look at the same NR in NRO, it displays as a BC Company - Incorporation/Amalgamation.

![image.png](https://images.zenhubusercontent.com/

[2021-07-16 19:42] Sienna-Blumstengel opened #8251 "Prevent emojis in name choices"
## Background
from Staff:

## Acceptance Criteria
GIVEN I am requesting a name
WHEN I enter a name choice (either on the main page, or in the additional name choices screen)
THEN I can't enter emojis

## Definition of Ready for Sprint

- [ ] Are the Acceptance Criteria defined?
- [ ] Does the user story speak to the value being created, and is understood by the team?
- [ ] Are the dependencies kno

[2021-07-16 19:52] PatrickAHeath commented on #8236
Confirmed with Darci that NR can be entered and payment completed.  Closing issue.

[2021-07-16 19:56] Sienna-Blumstengel commented on #8251
@lmcclung please prioritize

[2021-07-16 20:03] #8249 closed

[2021-07-16 20:05] #8223 closed

[2021-07-16 20:06] #8224 closed

[2021-07-16 20:08] #7807 closed

[2021-07-16 20:34] eve-git commented on #8174
I logged in with my BCEID account in testing environment, and the same issue occurred.

[2021-07-16 20:36] PatrickAHeath opened #8252 "NR0605130 - Multiple payments for one NR"
#### ServiceNow incident: INC0099792
#### Contact information
Staff Name:  Kristopher Yee
Staff Email:  bcregistries@gov.bc.ca

#### Description
Client reports they were charged 4 times for ~priority service on an NR.~ a single NR.

[https://app.zenhub.com/files/157936592/a0fc9e46-3350-4e47-8e9f-fb95072aca17/download](https://app.zenhub.com/files/157936592/a0fc9e46-3350-4e47-8e9f-fb95072aca17/down

[2021-07-16 20:46] riyazuddinsyed opened #8253 "AGM Extension checkbox still appears to date."
**Describe the bug in the current situation**
When a user files the 2020 Annual report in the year 2021 then the AR extension checkbox still appears.

**Impact of this bug**
All users filing the 2020 Annual report in the year 2021

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/'
2. Go to Bcreg0001
3. Try to file the AR of CP0001248
4. See an error

**Screenshots/ Vi

[2021-07-16 20:50] mstanton1 commented on #8073
@jyoti3286 great succinct format.

I see value in including a table at the top for version (version, date, author and description of change). This is helpful when investigating issues against the requirements and also acts as somewhat of a change log. Also, I'm wondering if it might help to have a high level description of what each piece of functionality is used for? This could be a definition be

[2021-07-16 20:51] riyazuddinsyed opened #8254 "Name Request UI does not shows which name is Approved in some cases."
**Describe the bug in the current situation**
When a user files an NR which has two or more name choices then upon successful Approval of the NR the Name Request UI does not show which among the names is approved.

**Impact of this bug**
Happens intermittently.

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/'
2. Click on 'Name Request'
3. File an NR and get in appro

[2021-07-16 20:55] mstanton1 commented on #8106
@jinghualicgi have you received a response back about your SharePoint access?

Is there anything else that is outstanding?

[2021-07-16 20:55] PatrickAHeath opened #8255 "Payment Error in Company Name Search"
#### ServiceNow incident:  INC0100796
#### Contact information
Staff Name:  Debbie Blythe
Staff Email:  Debbie.Blythe@gov.bc.ca

#### Description
Client receiving payment errors in Company Name Search (Name Requests?).

[https://app.zenhub.com/files/157936592/82503a99-ef15-4e17-9d61-23eb1bf34443/download](https://app.zenhub.com/files/157936592/82503a99-ef15-4e17-9d61-23eb1bf34443/download)

![Erro

[2021-07-16 20:57] riyazuddinsyed opened #8256 "No Incorporation or Registration Number still allows to bypass the page."
**Describe the bug in the current situation**
When a user files an NR which requires the Incorporation Number or Registration Number which is a Required Field and if the user didn't enter the Number or enter an invalid number then even the Review and confirm button is still enabled.

**Impact of this bug**
All users filing the NR which requires the incorporation or registration number

Steps to re

[2021-07-16 20:57] rarmitag commented on #8174
so you think the problem may be with the account type?

[2021-07-16 20:58] mstanton1 opened #8257 "How to File Benefit Company Annual Report - Inquiry from Dye & Durham"
As per an email from Trish a response is required for the following email inquiry.

#### Description

Thank you for keeping us posted about the annual notices for Benefit Companies, we will inform the team.

For the access to the Benefit company annual report I understand it is password based and no access code would be issued?
______________________________________________________________________

[2021-07-16 20:59] jinghualicgi commented on #8106
@mstanton1 , yes, still waiting Share Point access right, no response yet. No other outstanding issues. Thanks

[2021-07-16 20:59] mstanton1 commented on #8257
Sent the following. Information about an existing BASIC account was left off as I could not locate a BASIC account in Production:

Trish is off today so I am happy to provide some information.

To access the Benefit company annual report, you would:

1.	Login using the Mobile Card or BCeID.
2.	Choose ‘Manage an Existing Business’ on the Business Registry homepage.
3.	Click ‘Open’ beside the benefi

[2021-07-16 21:01] Sienna-Blumstengel commented on #8042
@forgeuxGH5 Maybe I am just not understanding the sheet - where do I see the entity type? I see your links out for the unsupported NRs, but can't see the entity type. Need that to verify if the link is correct

[2021-07-16 21:02] riyazuddinsyed opened #8258 "Transaction page does not show the Name Choices with an EDIT."
**Describe the bug in the current situation**
When a premium user files an NR with different Name choices and if he adds another Name Choice with an EDIT after the payment then the Transactions pages doesn't displays the new Name Choices

**Impact of this bug**
Premium users adding the Name choice with an edit.

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/'
2. Log

[2021-07-16 21:05] jdyck-fw commented on #8256
This is intermittent and needs investigation.

[2021-07-16 21:06] riyazuddinsyed opened #8259 "Alteration filings still enabled with a pending filing."
**Describe the bug in the current situation**
When a user files an Address Change for the BCOMP then the effective date is tomorrow so all the other filings are disabled except the Alteration Filing.

**Impact of this bug**
Users filing the BCOMP

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/'
2. Go to a BCOMP.
3. File the address change.
4. Click on "View and chan

[2021-07-16 21:10] jdyck-fw commented on #8253
@Sienna-Blumstengel - Can you confirm whether this should be happening or not

[2021-07-16 21:12] #8257 closed

[2021-07-16 21:16] riyazuddinsyed opened #8260 "Error message shows differently in different instances."
**Describe the bug in the current situation**
When a user files an AR and by some chance, the user is not able to file the AR then the error dialog shows a different message, and when the user again hots on the Retry button then the error dialog shows a different message

The first error message goes like
![Screen Shot 2021-07-16 at 2.10.45 PM.png](https://images.zenhubusercontent.com/5cc0ab2cb42c

[2021-07-16 21:19] jdyck-fw commented on #8173
@rarmitag - Should we be rebuilding our Test database so that it include proper addresses (OCP issue)

[2021-07-16 21:24] jdyck-fw commented on #8258
Behaving as expected. Adding additional names when in draft does not trigger a payment and would not trigger an update to this transaction report.

[2021-07-16 21:24] #8258 closed

[2021-07-16 21:28] mstanton1 commented on #8228
This has been sent to Cameron for review as well.

[2021-07-16 21:28] jdyck-fw commented on #8260
@riyazuddinsyed to update second screenshot.

[2021-07-16 21:29] saravanpa-aot commented on #8126
Hi @Sienna-Blumstengel sorry , I missed a point..Address wont be a part of @me endpoint because a user can have multiple orgs.. To get the address , /api/v1/orgs/:orgId can be used.[its already implemented]
OrgId can be found from the session storage.
Basically @me call will return users full information and anything account related , /orgs endpoint
Can you please update the dependency ticket? the

[2021-07-16 21:30] jdyck-fw commented on #8254
Not sure what happened, but if we find another we will investigate further.

[2021-07-16 22:07] severinbeauvais commented on #8126
@saravanpa-aot I am not sure that NameRequest has the org id in session storage...

![image](https://user-images.githubusercontent.com/10002889/126013004-02c0f41f-1a6f-4d7b-9e60-b6047565ef97.png)

[2021-07-16 22:08] Sienna-Blumstengel commented on #7018
@riyazuddinsyed when you test this, could you also test to see if the PAD refund works? The expected behavior is in the acceptance criteria. I was informed by Sumesh that PAD refunds have not been tested yet.

[2021-07-16 22:09] saravanpa-aot commented on #8126
can you expand the current_account and see?

[2021-07-16 22:14] mstanton1 commented on #7277
@lmcclung I was looking over this ticket as I am working on documenting refund flows and this outlined expected behavior in Names.

Food for thought. The label for PAD of 'Cancel' doesn't provide any indication of whether the NR is in a state where having the transactions reversed/credit applied is feasible. It might be more logical to follow the same pattern 'Cancel and XXXXX' so the button chang

[2021-07-16 22:22] rkim13103 commented on #7961
@saravanpa-aot

Yes, "Request Access" should take users to the "Product and Services" page.

[2021-07-16 22:24] severinbeauvais commented on #8126
![image](https://user-images.githubusercontent.com/10002889/126014055-a4d9caa1-c1a5-45b9-be95-7b6a2ea5bfa0.png)

[2021-07-16 22:26] yuisotozaki commented on #8197
Verified flow and UI in dev.
- If staff click Retry, there is no staff payment tab ✅
- If user abandons payment and asks staff to create NR. Staff should start a new NR. ✅

[2021-07-16 22:28] Sienna-Blumstengel commented on #8253
Sent to Julie and Cameron:

[2021-07-16 22:39] yuisotozaki commented on #8098
Verified in dev. ✅
![image](https://user-images.githubusercontent.com/56084999/126014940-dc8144a7-4dc6-4499-95f1-b7fc8b96ec64.png)

[2021-07-16 22:40] lmcclung opened #8261 "P1 Combo search enhancements"
To do before releasing:

### Visual Design UX Assurance to do:

- [x] Visual Design Updates to do are shown in pink in these comps: https://projects.invisionapp.com/share/4T11EOGCGR9M#/screens?browse
- [x] Yellow warning banner is turned on in DEV, but I believe we turned this off already - we don't need it do we? - *this is a FF (so it won't carry over into the release)*

### Functional Fixes to

[2021-07-16 22:42] yuisotozaki commented on #7828
Verified in dev. ✅
- Staff user can take an NR that is eligible for renew and use the staff payment options to pay for the renewal.
- Non-staff user can take an NA that is eligible for renew and use PayBC to pay for renewal.

[2021-07-16 22:49] mstanton1 commented on #8194
In Progress document is available here:

https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-4085

I am still working to outline online banking and require further work to fill in a few sections concerning developer tasks.

@sumesh-aot can you please provide some high level steps that can be included for the developer tasks for manual credit

[2021-07-16 22:51] lmcclung opened #8262 "Comb"

[2021-07-16 22:52] lmcclung opened #8263 "P2 & P3 Combo search enhancements"

[2021-07-16 22:55] PatrickAHeath opened #8264 "BC1310399 - Super Networks Inc. - Administrative Dissolution of Benefit Company"
#### ServiceNow incident:  INC0100820
#### Contact information
Staff Name:  JH or Lance

#### Description

[https://app.zenhub.com/files/157936592/b066624b-3633-41dc-839b-640d062c3c16/download](https://app.zenhub.com/files/157936592/b066624b-3633-41dc-839b-640d062c3c16/download)

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **en

[2021-07-16 23:06] mstanton1 commented on #8228
Cameron has suggested an edit which has been made.

- Cameron will join stand up's and share with the Corporations team / Hub team.
- I have shared with BC Online Administration and requested a meeting to further define the process when deactivation is completed by staff.
- I have shared by email to Joanna Barnes and Taija Cooke.

[2021-07-16 23:13] mstanton1 commented on #8227
I have provided BC Online Administration with the deactivation summary created for 8228 and noted the need to define the BC Online Administration process and provide training.

I've requested a meeting first so we can establish process for paper forms / storage and inquired about what sort of training would be preferred.

[2021-07-16 23:19] yuisotozaki commented on #7811
Verified UI in dev ✅

I am, however, seeing a strange behaviour in "Cancelled Payment for Upgrade Priority" and "Cancelled Payment for Renewal" flow. This is more of a business logic question for @lmcclung. These two cancelled flows just don't behave the same way as "Cancelled Payment for new Name Request" flow.

**Cancelled Upgrade Flow**
1. Non-staff creates NR
2. Non-staff clicks Upgrade Priori

[2021-07-16 23:28] lmcclung commented on #8263
duplicate of 8262

[2021-07-16 23:28] #8263 closed

[2021-07-16 23:29] severinbeauvais commented on #8245
@yuisotozaki Should both the header (data at top) and titlebar ("TRANSACTION HISTORY") be fixed to the top of the page?

[2021-07-16 23:31] lmcclung commented on #8246
Closed 8067 which was a duplicate ticket.

[2021-07-16 23:31] #8067 closed

[2021-07-16 23:32] lmcclung commented on #8067
Closing as duplicate of 8246

[2021-07-17 00:07] lmcclung commented on #8261
[https://app.zenhub.com/files/157936592/37db98e9-72f5-440f-969c-cc293bffb02b/download](https://app.zenhub.com/files/157936592/37db98e9-72f5-440f-969c-cc293bffb02b/download)

[2021-07-19 15:41] yuisotozaki commented on #8245
@severinbeauvais Yes - The Invision link contained a snapshot of the existing design for comparison. I've since removed it so that the Invision link only contains the updated design. There are two screens the Invision link - one without any layout guides or comments and one with.

[2021-07-19 15:42] sienna-blumstengel opened #8265 "Verify: Incorporation Application Filing Name Incorrect after alteration from BEN > LTD"
### Description
In the screenshot below, you can see BC1302445 incorporated, then altered to a Limited Company. They altered from a BEN to an LTD, but it looks like their incorporation application was filed as an LTD. That is incorrect. They were a BEN when they incorporated, so the incorporation application title should read "Benefit Company Incorporation Application".

![Screen Shot 2021-07-19 a

[2021-07-19 15:55] sumesh-aot opened #8266 "Subscribe to Name Request events"
[Work for relationships team]
Subscribe to Name Request events for any changes to name request state.
- [ ] Auto affiliate the name request to the account.
- [ ] Change entity model to accommodate the name request status.
- [ ] Update the status of the name request in auth based on the event

~~- [ ] Update the identifier if the old identifier and new identifier are not same (both on auth, and pay

[2021-07-19 15:58] severinbeauvais commented on #8245
Here's a sample with zero padding/margins. I can go tighter, but do you prefer this?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/8ff547c2-0806-4700-9406-b4e46661a4c6)

[2021-07-19 16:13] #8228 closed

[2021-07-19 16:23] kialj876 commented on #8182
What does 'the 2018 AR form is is on paper in their folder' mean? It's in the registry or ? If we have the form staff should file it as a staff filing online

[2021-07-19 16:31] kialj876 commented on #8181
NR 6157827 has both the payments for this on it for this. One of the NR payments on it need to be refunded -- I don't know how to do refunds so I will reach out to someone for that, but I will cancel NR 7942894 in NRO

[2021-07-19 16:34] amit4610 commented on #8159
Is there anything to be done on this? @janisrogers @PatrickAHeath

[2021-07-19 16:46] yuisotozaki commented on #8245
@severinbeauvais That's good I think. Still legible, yet condensed.

[2021-07-19 16:54] tlebedovich commented on #7270
UX Assurance

hi @jordiwes - @PatrickAHeath said the Folio for PPR registration should also be 15 maximum characters above, but it is showing up as 30 maximum.

![Screen Shot 2021-07-19 at 9.47.07 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/be081de1-93c3-4c82-a64e-d8c4f1593eb7)

[2021-07-19 18:23] kialj876 commented on #8181
Okay I have refunded the duplicate payment made under NR 6157827 (this payment was actually for the duplicate NR 7942894) and cancelled NR 7942894 in NRO

[2021-07-19 18:42] severinbeauvais opened #8267 "NR UI: do something with BETA label and tooltip"
The Name Request UI currently has a "BETA" label, which displays a tooltip if you click on it (see below).

At some point -- a couple of months after we turn off NRO -- we should probably remove the BETA label and do something with the tooltip.

![beta.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/1cd92968-7698-4545-bbe7-681d1c15aa46)

[2021-07-19 18:54] Sienna-Blumstengel commented on #8189
Updated ticket based on Saravans comment in 8126

[2021-07-19 19:00] yuisotozaki commented on #8245
@severinbeauvais Just had a quick review with Tracey and I'll be injecting changes to the design a bit:
* Use 15pt font where we're using 16pt for labels and values
* Ensure that Request Type field value wraps rather than showing a horizontal scroll
* Possibly move the Staff Comment field below Additional Information if we find that staff comment content is more than 140 characters. Maybe poke the

[2021-07-19 19:01] severinbeauvais commented on #8245
I just updated the estimate due to evolving/new design changes.

[2021-07-19 19:03] amit4610 commented on #8181
Thanks Kial. I have notified IT Ops and the business. Please put an estimate and close. @kialj876

[2021-07-19 19:12] #8181 closed

[2021-07-19 19:14] #7136 closed

[2021-07-19 19:14] #7262 closed

[2021-07-19 19:14] #7269 closed

[2021-07-19 19:14] #7436 closed

[2021-07-19 19:19] jinghualicgi commented on #8106
Got Share Point access right this morning. Should we close this ticket?

[2021-07-19 19:26] #7216 closed

[2021-07-19 19:27] Sienna-Blumstengel commented on #7216
We have determined with staff and policy that we do not need to do this. CLosing.

[2021-07-19 19:40] lmcclung opened #8268 "Voluntary Dissolutions (Coop & Corps)"
Build voluntary dissolutions for the following:

- [ ] BC Limited, CCC, ULC, BEN corporations - no difference other than entity type
- [ ] BC Cooperatives

### Requirements Document
https://docs.google.com/document/d/1pJM2mUoG5ln6eiopole3BY5PBAExESBGz4cRYdnDG58/edit?usp=sharing

[2021-07-19 19:41] yuisotozaki commented on #8245
Invision updated.

[2021-07-19 19:42] lmcclung opened #8269 "UI Design - Corporation + Staff Voluntary Dissolution"
**DEV NOTE:** COOPS version is the most detailed and flushed out in terms of designing our error validations etc, review Coops first before corps.

### Requirements Document
https://docs.google.com/document/d/1pJM2mUoG5ln6eiopole3BY5PBAExESBGz4cRYdnDG58/edit?usp=sharing

### To design
- [ ] How to start the filing
- [ ] What the filing looks like
- [ ] How to display a historical entity in the das

[2021-07-19 19:42] lmcclung opened #8270 "CREATE UI Changes"
These are all the changes to the CREATE UI and the actual filing

[2021-07-19 19:42] lmcclung opened #8271 "Backend schema & validations"

[2021-07-19 19:42] lmcclung opened #8272 "Send COOP Gazette messaging"
**TO DO:**

Create FTP flat file similar to the existing one generated by home team.

- [ ] Work with David Roberts to capture what is in that flat file
- [ ]	Registries entities team will replace the current cooperatives flat file with a new version with same file name and header information.  Advise QP when this will happen.
- [ ] Once this is in place QP will process the first few files and sha

[2021-07-19 19:43] lmcclung opened #8273 "Dissolution outputs"
## Acceptance Criteria

### Scenario 1 - Dissolution application & receipt notification
**GIVEN** I am filing a BEN, BC, CCC, ULC or COOP dissolution
**WHEN** my payment is complete
**THEN** I will receive an email notification with my dissolution application and receipt

### Scenario 2 - Upon completion for Corps
**GIVEN** I am filing a BEN, BC, CCC, ULC dissolution
**WHEN** my filing is complete

[2021-07-19 19:43] lmcclung opened #8274 "Messaging - Voluntary dissolutions (CP, CORP)"
## Acceptance Criteria:

#### Scenario 1 - Corporation messaging (BEN, BC LTD, CCC, ULC)
**GIVEN** I have voluntarily dissolved my corporation
**WHEN** my dissolution filing has been sent back to CPRD
**THEN** SOFI/BCOL will be updated
**AND** CRA will receive notification via the hub
**AND** Orgbook will be issued a new credential and status will change to historical
**AND** MRAS will be notified

[2021-07-19 19:49] sienna-blumstengel opened #8275 "Beneficial Ownership - Business Case"
FYI - re Beneficial Ownership Registry we will hear back if the concept case has been approved to move foward to a business case late Nov/Dec, 2021. It was suggested those approved start development of their business case in January. They will provide deadlines for the business case in Jan. Having said that we are 99% sure we will move forward so can start earlier.

[2021-07-19 19:50] sienna-blumstengel opened #8276 "US Design - beneficial ownership flows in filings"
- [ ] IA
- [ ] Annual reports
- [ ] Any other time?

[2021-07-19 19:50] Sienna-Blumstengel opened #8277 "Get feedback on proposal"

[2021-07-19 19:51] Sienna-Blumstengel opened #8278 "Get approval on proposal"

[2021-07-19 19:59] chdivyareddy commented on #7358
Registration Button on Dashboard
Current Behavior: Arrow points down when dropdown is open.
Expected Behavior: Arrow should point upwards when dropdown is open.

[2021-07-19 20:13] severinbeauvais commented on #8245
Could you please take a pass at all text size on this page? It looks to me like the following sizes are used:
11
15
16
17
19
20
24

[2021-07-19 21:09] tlebedovich commented on #7358
@chdivyareddy thanks for catching the arrow, but because the dropdown covers up the arrow, this is ok as is.

[2021-07-19 21:11] yuisotozaki commented on #8245
Invision updated with font sizes.

[2021-07-19 21:30] chdivyareddy commented on #7358
@tlebedovich Arrow is not covered up in all cases Tracey, please take a look at the following screenshot:
![Arrow_Button.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e458e646-5d68-4e88-a4b9-7354d646d6af)

[2021-07-19 21:34] saravanpa-aot commented on #8126
Hi @severinbeauvais @Sienna-Blumstengel

To summarise ,

- To get the address information:
Get the account id from CURRENT_ACCOUNT in session storage and use it for /orgs/:Id which will return account address

- To get the phone number , email address
Use the @me endpoint which will return users contact information

![image.png](https://images.zenhubusercontent.com/5e6295b447fbde831b854aa7/e3c587d

[2021-07-19 21:53] Sienna-Blumstengel commented on #8241
![Screen Shot 2021-07-19 at 2.49.57 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/5da0449a-f750-4b9d-8acb-4fdeeeb5db86)
 Jenn spoke to the client and determined that they actually wanted a soleprop. SHhe reset the NR and changed it to a sole prop.
She also updated the name choices, and approved the first one.
So it seems that everything but the name type has been successful

[2021-07-19 22:03] saravanpa-aot commented on #8189
The original ticket [#8126] has been updated with information on how to proceed.This will be closed

[2021-07-19 22:09] kialj876 commented on #8241
Hello, I checked this one in namex and namesp and it looks fine. The type was changed to a sole prop in namesp when they changed it in namex.

[2021-07-19 22:20] lmcclung opened #8279 "Remove BETA label from Name Request"
let's remove the BETA label (and also remove the tool tip that is on it) from the Name Request App.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/54f69d66-7731-4d42-9b6a-14f85ba0d1d9)

[2021-07-19 22:23] severinbeauvais commented on #8245
Not in scope of this layout/style ticket. Please add this to "add staff comment" ticket instead

[2021-07-19 22:24] amit4610 commented on #8241
Can we close this as @kialj876 has verified namex and namesp? @Sienna-Blumstengel

[2021-07-19 22:27] janisrogers commented on #8241
@amit4610 @kialj876 It still shows the wrong type in Name Request:

![image](https://user-images.githubusercontent.com/55597599/126235231-74cbc29b-00d3-4317-b49f-b2d4d4d3eb90.png)

Can this be updated? Do we know why it didn't sync?

[2021-07-19 22:42] kialj876 commented on #8241
Ah okay it retained it's entity type after they changed the request type (idk why these are not coupled together in the backend, but looks like a bug). I will data fix the entity type to fix that

[2021-07-19 22:51] kialj876 commented on #8241
okay @janisrogers @amit4610 I've updated it. Is it correct?

[2021-07-19 22:56] Sienna-Blumstengel commented on #8238
This has been filed, but we just need the Notice of Articles output to be added.
@thorwolpert and @severinbeauvais will meet this week to work on this.

[2021-07-19 23:01] #8267 closed

[2021-07-19 23:01] severinbeauvais commented on #8267
This will be done in # 8184 instead.

[2021-07-19 23:09] amit4610 commented on #8241
Can anyone confirm? @janisrogers @Sienna-Blumstengel

[2021-07-19 23:12] PatrickAHeath commented on #8185
Attached is list of BCOL accounts with access to Crown Charge/Misc. Act registrations in PPR.  Note that not all are Govt. Ministries.

[https://app.zenhub.com/files/157936592/40b9af4b-15f7-46b9-82be-fe8bd8e969e1/download](https://app.zenhub.com/files/157936592/40b9af4b-15f7-46b9-82be-fe8bd8e969e1/download)

[2021-07-19 23:22] severinbeauvais commented on #8238
I don't know what this refers to.

[2021-07-19 23:22] janisrogers commented on #8241
@amit4610 Looks good to me. We can close the ops ticket, but should create a bug ticket (and link it here) for the sync issue

[2021-07-19 23:24] chdivyareddy opened #8280 "CSV File Time Zone Issue"
Current: Time stamps present in CSV Files are in UTC Time Zone.
Expected: PST Time Zone.

Testing Scenario:  Transactions

Once complete please test in transaction as well. The filed date and time on the receipt is showing in PST right now but transactions are showing in UTC. As a result there are cases there the receipt date and transactions date do not match.

![image.png](https://images.zenhubu

[2021-07-19 23:29] amit4610 opened #8281 "VERIFY: Entity type not updated after changing request"
### **Describe the bug in current situation**
This one is from Ops ticket 8241.
Entity type and request type are not coupled in the back end so the entity type doesn't update when a client changes their request. 8241 was a datafix and this is the bug ticket.

**This might be solved as part of 8164. Verify this ticket after 8164 has been completed.**

### **Link bug to the User Story**

### **Impac

[2021-07-19 23:30] amit4610 commented on #8241
Created a bug ticket 8281. @kialj876 please put an estimate and close this when you are done.

[2021-07-19 23:42] #8241 closed

[2021-07-20 00:17] lmcclung opened #8282 "SP/GP sole proprietor / general partnership registration"
As a sole proprietor or general partner
I want to register my business online
so that I don't have to go to multiple site or mail in my registration forms

[2021-07-20 00:19] lmcclung opened #8283 "UI Design - SP/GP Registrations"
(Staff flow moved to separate ticket #9953)

### Visual Design for SP/DBA/GP Flows
https://projects.invisionapp.com/share/3511UPXPMT2P#/screens?browse

DEV NOTES (Chat with Tracey if you have any visual design questions):
- Sole Prop and DBA share the same general flow with some differences (depending on whether the user picks SP or DBA in step 1)
- Sole Prop flow has the most details designed out

[2021-07-20 00:22] lmcclung opened #8284 "UI Design - SP/GP maintenance filings"
**Using the Edit UI type flow, incorporate a design for the following filings**
Change of business Name (SP & GP)
Multiple Change of Proprietorship Registrations (SP)
Admin change Firm - (SP & GP)
Amended/Corrected Stmt of Registration (SP & GP) - staff correction filing

**For entity dashboard**
Change of Address (SP & GP)
Change in Membership (GP only)

[2021-07-20 01:02] lmcclung opened #8285 "Update entity dashboard with historical status"
### SCENARIO 1 - HISTORICAL STATUS
**GIVEN** I have paid for my dissolution
**WHEN** I return to my entity dashboard
**THEN** I will see that my entity is now historical

### SCENARIO 1 - DISABLE FILING ACTIONS
**GIVEN** I have paid for my dissolution
**WHEN** I return to my entity dashboard
**THEN** I cannot change address/directors/or edit my profile

### SCENARIO 3 - TO DO LIST
**GIVEN** I have

[2021-07-20 01:29] lmcclung opened #8286 "UI Design - Dissolution certificate, dissolution application output, email template"
For coop and corp:
- [x] Dissolution certificate (almost identical as incorp)
- [x] Dissolution application (loosely base this on the incorporation application output)
- [x] Layout the email templates (dev ticket #8287)

Notes from Linda:
- Staff are fine with us not having the completing party name and address being collected for the dissolution - just having it pull for the certify section is su

[2021-07-20 01:29] lmcclung opened #8287 "Create email template"
2 emails for corps; 2 emails for coops

------

- [ ] Use new template designs ([7679](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7679))
- [ ] Leverage what Vysakh built for Coop IAs
- [ ] Use email content from [here](https://docs.google.com/spreadsheets/d/17wMY9znmWMr2RoXH9S2elffC8uE7iifUGB5Hu3VVFpE/edit?usp=sharing) - still coming @Sienna-Blumstengel
-

[2021-07-20 01:30] lmcclung opened #8288 "LEAR API - Update document list"
- [ ] Update the document list to include the outputs below
- [ ] Provide test data

### Co-op
**Upon Payment**
- Dissolution Application
- Receipt

**Upon Completion**

- Certified Affidavit
- Special Resolution
- Certificate of Dissolution

### Corp
**Upon Payment**
- Dissolution Application
- Receipt

**Upon Completion**

- Certificate of Dissolution

[2021-07-20 01:30] lmcclung opened #8289 "Legal API - create Dissolution certificate"
this will be similar in style to the Incorp Certificate.

- [x] Update the Certification output
  - [x] Change name of certificate from **Certificate of Incorporation** to **Certificate of Dissolution**
  - [x] Two locations, state the correct legislation **Business Corporations Act** or **Cooperative Association Act**
- [x] Code to apply the template and return the document
- [x] Unit tests
- [ ]

[2021-07-20 01:37] lmcclung opened #8290 "Legal API - create IA & Cert outputs"
- [ ] Update the Certification output
  - [ ] Two locations, replace Business Corporations Act with **Cooperative Association Act**
- [ ] Update Incorporation Application output
  - [ ] (see comment)
  - [ ] Take a stab at it, then send to UX assurance
  - [ ] @lmcclung after wednesday's meeting, we will know if we need to add a new section to display the "cooperative type" (general, housing, or c

[2021-07-20 01:37] lmcclung opened #8291 "Update document list"
Show the following in the ledger:
1.  Incorporation application
2.  Receipt
3. Certification of Incorporation
4. Certified Rules
5. Certified Memorandum

Show outputs 1 and 2 when the filing is PAID
Show outputs 1, 2, 3, 4, and 5 when the filing is COMPLETED

[2021-07-20 01:38] lmcclung opened #8292 "Create email templates, and update emailer"
2 emails:
- IA & receipt notification (send on PAID)
- certificate, rules and memorandum notification (send on COMPLETED)

------

- [ ] Use new template designs ([7679](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7679))
- [ ] Use email content from [here](https://docs.google.com/spreadsheets/d/17wMY9znmWMr2RoXH9S2elffC8uE7iifUGB5Hu3VVFpE/edit?usp=sharing)

[2021-07-20 01:38] lmcclung opened #8293 "UX Assurance - updates to outputs and email templates"
This is for UX Assurance to review all of the outputs once completed.

[2021-07-20 15:08] severinbeauvais commented on #8245
@yuisotozaki Here's the draft implementation for your feedback before I commit the changes, please and thanks!

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/831812cb-8f13-48c1-91f0-5799cc1d0169)

[2021-07-20 15:36] Sienna-Blumstengel commented on #8182
We might just need to enter the data from the paper form into the BC Business Registry and file it for them.
I am not sure if staff have the ability to file an NR for a client with staff payment options, which might be why they are asking us to do it.
Other option is they ask the client to file it online for themselves.
I will ask the staff member that reported this for clarification.

[2021-07-20 15:43] sumesh-aot commented on #7907
@Sienna-Blumstengel I checked both pay and auth records and cannot see any records linked to BC0872903. I searched for this incorporation number as staff search and couldn't find either. I don't think this is initiated by our system.

[2021-07-20 15:57] yuisotozaki opened #8294 "Request Status and Retry Payment button inconsistency"
When creating a new NR and cancel out of PayBC, the Request Status goes to "Payment Incomplete" and "Retry Payment" button is displayed to indicate that the ball is still in the user's court. This is the expected flow to tell user that the payment needs to be completed before things can proceed.

The story gets a little confusing with NR in "Pending Staff Review" status. The NR is in the queue and

[2021-07-20 15:57] lmcclung opened #8295 "Name request for Pestell Nutrition Inc."
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident:
### Contact information n/a
Staff Name: Linda
Staff Email:

### Description

Can you confirm whether any payments were taken for Pestell Nutrition Inc.

Client kept getting message:

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/f4abe707-dff5-4454-ba30-b42737c94756)

### Ops Pro

[2021-07-20 16:06] Kaineatthelab opened #8296 "Staff Transactions"

[2021-07-20 16:07] Kaineatthelab opened #8297 "Manage Party Codes"
Given I have client codes from BCOL PPR or have created new ones
When I want to change one or do a global change
Then I am able to change them in the PPR Application

[2021-07-20 16:21] yuisotozaki commented on #8245
@severinbeauvais I took a look at the draft impl. It's looking pretty good!
The only thing I noticed is the font size. We landed on using 15pt #494949 where we currently have 16pt #212529. The labels and values.

Do you know where the Transaction History filtering UI ticket is?

[2021-07-20 16:29] chdivyareddy commented on #7624
Verified in DEV.
![My_Registry_Dashboard.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f78d6124-4aa9-4834-a1f8-f1544609f869)

[2021-07-20 16:38] cameron-freshworks commented on #5941
@lmcclung @Kaineatthelab @thorwolpert
This ticket might need a discussion as how to move forward.
I put in some changes to support these changes within our system which involves adding additional codes to split the requests / entities into their own options.
Since this requires additional codes, the concern is that these codes are not supported by external services (nro and external api's).

That

[2021-07-20 16:42] sumesh-aot commented on #8295
@lmcclung I see from names DB that there are multiple NRs for this same request, but no invoice has been created in the sbc-pay system.

[code]
Pay:
[code]

[2021-07-20 16:51] severinbeauvais commented on #8245
I haven't gotten to reverting the text colour yet. I will also review font sizes.

You can find that ticket if you link up to the epic (link on right of this page) and then look at the child tickets :)

[2021-07-20 17:08] chdivyareddy commented on #7554
Time Zone present in CSV File is UTC not PST, created new ticket [#8280](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8280)

[2021-07-20 17:10] sumesh-aot commented on #8280
Work for relationships team.
FYI @mstanton1 @amit4610 @SateeshFW

[2021-07-20 17:13] SateeshFW commented on #8280
ok.  Will include it for next grooming

[2021-07-20 17:27] lmcclung commented on #1326
check if needed for coop

[2021-07-20 17:28] mstanton1 commented on #8106
Yes, I have moved this ticket into done.

[2021-07-20 17:49] mstanton1 commented on #8183
Debbie B has noted: please process both refunds. (NR 8632275).

One refund was completed through the old BC Online and has been sent to BCOL Help cc'ing Joanna to request the refund. Details from BCOL payment were pulled from GlobalP.Payment where bcol_key = 'NR 8632275'.

BCOL Account Number: 592405
BCOL RACF ID: PJ48073
Folio Num: 13812-00
Payment Total: 101.5
Payment Date: 2021-06-09 15:00:28

[2021-07-20 17:58] #8278 closed

[2021-07-20 17:58] #8277 closed

[2021-07-20 17:58] sumesh-aot commented on #8255
@PatrickAHeath I searched the logs and sentry errors for any pay errors but couldn't find anything not normal. Was this issue happening only for a period if time, or is it consistent for the user?

[2021-07-20 18:18] sumesh-aot commented on #8252
@PatrickAHeath There are 4 $31.5 charged to the user's drawdown account as Pay received 4 API calls from Name Request (not sure if it's a bug on NR). But they are not priority service.

[code]

What is the action item here ? Refund 3 of them ?

[2021-07-20 18:22] yuisotozaki opened #8298 "UI Design - Improve Indication of Pending Deletion Scenario"
An NR goes into Pending Deletion status when:
1. Non-staff creates an NR
2. Due to system error, user's payment method failure, or any other reason, NR stays in "Payment Pending"
3. If NR is still in "Payment Pending" by midnight that night, system changes status to "Pending Deletion" (Confirming this with Thor. Maybe we can extend it)
4. The NR stays in "Payment Deletion" for 5 days, waiting to s

[2021-07-20 18:24] pwei1018 commented on #7246
@lmcclung @thorwolpert Firewall rule got change in both bcgov and MRAS. I verified it with new and old keys. Both works. Please verify it inside the application.

[2021-07-20 19:00] Sienna-Blumstengel commented on #7907
From the incident email thread:

@amit4610 according to the email thread, it looks like you requested a refund for this. Was that successful?
Since June 15th, Amber has been waiting for an estimate as to when the client could expect a refund.

[2021-07-20 19:03] amit4610 commented on #7907
Last response from CAS - "We have not confirmed that payment was received in the system yet, I can’t ask for a refund based on a copy of a credit card statement.  We are still investigating."

@Sienna-Blumstengel

[2021-07-20 19:12] Sienna-Blumstengel commented on #8252
Based on Patty's comments:

And also Sumesh's findings above...

I think the client tried to renew 4 times, and got charged 4 times, but it never succeeded (and the NR still says expired may 25th).
I will propose we refund all 4 charges, and make a bug ticket to investigate. Asking staff now.

[2021-07-20 19:17] sienna-oldaccountdontuse opened #8299 "Client charged multiple times for a renewal"
### Background
Based on ops ticket [8252](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8252)
Client tried to renew multiple times, got charged 4 times, but the renew never succeeded.

Looks like they tried to renew on the actual day the NR expired.

NRs expire (currently) at 12:01am the date of expiry.
Expiry date for this NR was may 25.
The client tried to

[2021-07-20 19:17] Sienna-Blumstengel commented on #8252
Created bug ticket https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8299

[2021-07-20 19:39] PatrickAHeath commented on #8255
@sumesh-aot The only date/time instance that Debbie has is the screenshot in the description.  I'll suggest that they provide more details on future incidents, but from your analysis, there are no errors evident.

[2021-07-20 19:54] severinbeauvais commented on #8245
All labels and values are 15px except "NAME 1:" and "TESTING NAMEX ..." (in example above). Do you want these larger than the rest or same as the rest?

[2021-07-20 19:59] Sienna-Blumstengel commented on #8255
maybe we work with the client on this one and try so assess the situation?
@lmcclung since you have a gov email and are knowledgable about name Requests would that be something you could do (with your limited time, haha)

[2021-07-20 20:00] rarmitag commented on #7246
Good find Patrick. Firewall rules can be a real pain.

[2021-07-20 20:01] yuisotozaki commented on #8245
Let's leave the "Name #:" and their field values the same as what's in the header area.

[2021-07-20 20:05] Sienna-Blumstengel commented on #7246
Woohoo thanks Patrick, I tested and it looks like it works!
Will reach out to the client to see if this is resolved and can be closed.
@pwei1018 could you please add an estimate on how long this ticket took to complete (maybe add buffer for other's contibutions?)

[2021-07-20 20:14] janisrogers commented on #8159
I tried to download the outputs yesterday, and the incorporation application and notice of articles both say BC Limited Company on the top, but should say BC Benefit Company.
![image](https://user-images.githubusercontent.com/55597599/126388494-fc514490-0575-459a-884c-324a3b7e46e7.png)

I asked Kial to look into this yesterday. and he replied: "As for the report saying limited company at the top,

[2021-07-20 21:00] Sienna-Blumstengel commented on #8242
Hey @kialj876 could you remind me what were you waiting on to run the alteration?

[2021-07-20 21:01] Sienna-Blumstengel commented on #8295
@lmcclung is there an ops ticket I can follow up on, or do you have this covered?

[2021-07-20 21:02] mstanton1 commented on #8227
Meeting booked for Friday to discuss paper process. Decisions on the training approach will be made then.

[2021-07-20 21:13] Sienna-Blumstengel commented on #8159
I sent this to Kat:

[2021-07-20 21:14] Sienna-Blumstengel commented on #8159
Oh great catch Janis!!!!!!!! Will let kat know we need to do that first, and I will make a bug right now.

[2021-07-20 21:37] sienna-blumstengel opened #8300 "BEN incorporation is showing as LTD incorporation after alteration BEN > LTD, in outputs and ledger"
### Background

[8159](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8159) is an alteration that is blocked by this bug.

The client altered from BEN > LTD

After they altered, their incorporation application changed from BEN to LTD, when it should have stayed as BEN (because they incorporated as a BEN, not an LTD.)

We need to fix this before we can finish

[2021-07-20 21:38] Sienna-Blumstengel commented on #8300
@lmcclung FYI

[2021-07-20 21:42] yuisotozaki commented on #7561
@janisrogers to provide "Court Order" field set.

[2021-07-20 22:09] amit4610 commented on #8174
Did we get to the root cause of the issue? @eve-git @rarmitag

[2021-07-20 22:27] janisrogers commented on #7561
Court Name – 256 characters, Required
Registry – 64 characters, Required
File Number – 20 characters, Required
Date of Order – Date, Required
Effect of Order – 1000 characters, Required

[2021-07-20 22:48] tlebedovich commented on #7268
hi @jordiwes - two very small remaining items for the Review and Confirm screen and then this is good to move to QA;

shown here:

https://docs.google.com/document/d/17X6ycxD2CjR-SqcNG1udHRRuaCAqOIaka5JrOo6jdyQ/edit?usp=sharing

[2021-07-20 22:55] chdivyareddy commented on #7260
Verified in DEV.

[2021-07-20 23:19] chdivyareddy commented on #7259
Verified in DEV.
![Add_Collateral(DEV).png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/5b4eba12-6737-45ca-9b90-8fd7d02f8676)

[2021-07-20 23:21] chdivyareddy commented on #6983
Sub tasks are verified in DEV.

[2021-07-20 23:39] sumesh-aot commented on #8168
BC0789965 is not loaded to lear. @thorwolpert Could you please help to load this to lear. I port-forwarded colin and lear db, and seems it needs NATS too, and I dont have edit access to port-forward nats.

[2021-07-20 23:40] chdivyareddy commented on #8192
Verified in DEV with random MHR number search on "101404, 037069, 093062, 070036, 038100, 040609".

[2021-07-20 23:44] severinbeauvais commented on #8245
This has now been implemented and is built and deployed to Dev for UX Assurance.

https://namex-dev.apps.silver.devops.gov.bc.ca/

[2021-07-21 00:38] tlebedovich commented on #7137
@Kaineatthelab - I was leaving the VON look up redesign feedback out of this ticket as there is a separate ticket for it already - #8129. Please advise if you want to pull #8129 into grooming for Steph to use as a common component in PPR (then entities etc). I have to finish some visual design for it.

c/c @forgeuxGH5

[2021-07-21 00:54] tlebedovich commented on #7137
@jordiwes - I have deleted all of the items that have been completed. A few items still to finish including fixing the address required fields/validations -- see this updated ux assurance list:

https://docs.google.com/document/d/1TWx_nk4wQ5pgGDuS-RcC79-8ByIwjMyhKF9_y1bURGY/edit?usp=sharing

[2021-07-21 01:06] tlebedovich commented on #8245
@yuisotozaki - i'll let you ux this one. looking great from what i can see.

[2021-07-21 01:13] #2450 closed

[2021-07-21 01:15] #6125 closed

[2021-07-21 01:17] #6511 closed

[2021-07-21 01:18] #2309 closed

[2021-07-21 01:20] #6548 closed

[2021-07-21 15:14] Kaineatthelab commented on #7137
@tlebedovich yes lets groom #8129 tomorrow:) thanks!!

[2021-07-21 15:14] severinbeauvais commented on #8245
I noticed that the transaction history list does not automatically resize (and get scroll bars if needed) if the page is resized.

@cameron-freshworks LMK if you think you can handle the resize event quickly in your current ticket, otherwise I will look into it.

Examples:
https://stackoverflow.com/a/45441424/8679162
https://stackoverflow.com/a/49381030/8679162

[2021-07-21 15:19] severinbeauvais opened #8301 "Namex UI: login fails if already logged in with non-IDIR"
**Use case**
As a staff user,
Given I want to access namex UI,
When I am already logged in as a regular user in a different browser tab,
Then my login to namex UI fails silently.

**Impact**
This prevents a user from accessing one BCROS web app as a regular user while at the same time trying to access namex UI.

**Potential improvements**
1. use common BCROS header/login mechanism
2. let staff use

[2021-07-21 15:56] yuisotozaki commented on #8245
I reviewed the implementation against a low resolution screen that the examiners were talking about.
I would like to make a few changes to just the header section to reduce its vertical height a little more.
Please see updated header spacing and font sizes [here](https://projects.invisionapp.com/share/XC11DSLDDZU6#/455761072_NameX_Transaction_History_Condensed_Header_V2).
* Reduced spacing between

[2021-07-21 15:57] mstanton1 opened #8302 "Pending Affidavit Email (BCOL Admin) includes name from Keycloak"
**Describe the bug in current situation**
When a client completes account creation for an account using BCeID & 2-factor authentication an email is triggered to BC Online Administration (BCONLINE@gov.bc.ca) to advise there is pending account to review. In the email notification the first and last name from Keycloak (first and last name on the BCeID) display. A client is required to have an affidav

[2021-07-21 15:58] mstanton1 commented on #8302
@jyoti3286 FYI this one requires a decision on what we populate in the email (account name or first/last name from user profile).

@SateeshFW can you add this to the agenda for pre-grooming please?

[2021-07-21 16:01] mstanton1 commented on #8232
@saravanpa-aot has confirmed that the name in the email body is being pulled from the keycloak first and last name fields for the BCeID.

Bug 8302 has been logged to update logic to either display the first/last name from the user profile or the account name.

Cheryl from BC Online Admin has been advised of this and has been asked to complete the review for the pending account.

[2021-07-21 16:07] tlebedovich commented on #8245
to note @yuisotozaki @lmcclung - the original reasoning behind having the outer scrollbar was so users on small screens could scroll away from the top header area and continue scrolling the history section. So now that the outer scroll bar was removed, there will indeed be less remove for the history scrolling with the sticky header.

[2021-07-21 16:11] tlebedovich commented on #8240
@janisrogers - is this ready for grooming? doesn't seem like it :)

[2021-07-21 16:27] #8232 closed

[2021-07-21 16:29] janisrogers commented on #8240
@tlebedovich This is to groom for UI Design (not for development).

[2021-07-21 16:31] severinbeauvais commented on #8245
- [ ] Reduced spacing between main header text and the first name from 40px to 20px
- [ ] Reduced spacing between the bottom of the Additional Information to the sub-header Transaction History to 40px to 20px
- [x] Reduced font size of the names from 18pt to 16pt
- [x] Reduced font size of the sub-header "Transaction History" from 18pt to 16pt

[2021-07-21 16:39] Sienna-Blumstengel commented on #8264
I believe @thorwolpert has a jupyter notebook to file an admin dissolution, I will ask

[2021-07-21 16:48] cameron-freshworks commented on #8245
The last item will be in a bit of conflict with my work, if you wanted to just leave that. (Superrr small change but it's within the code block i'm currently tackling 😁 )

[2021-07-21 16:51] mstanton1 opened #8303 "BCROS Billing statement details incorrect a/c 234587"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident: INC0101204
### Contact information
Staff Name: Kathy Langlois / Susan BC Online
Staff Email: Kathy.Langlois@gov.bc.ca

### Description

Account No: 234587

Client has identified an issue with the new BCROS system generating billing records that do not include the userid details of the person doing the Chang

[2021-07-21 16:55] #7991 closed

[2021-07-21 16:57] cameron-freshworks commented on #8244
@lmcclung I know it's not stated in this ticket, but is Upgrading priorities a type that staff would want to see by default? Just wanted to inquire because it seems important maybe?

[2021-07-21 16:59] mstanton1 commented on #8303
The following information has been sent to Cam, Kathy, Kellie and SBC IT Ops.

Yes, this one came direct to Jyoti and myself around 3 PM yesterday. I requested that Kathy send it through IT Ops so we have proper tracking, and even distribution of work among BA’s.

As far as the comment in highlighter here is some high level information.
•	When an account is set up in the new Business Registry/Name

[2021-07-21 17:02] mstanton1 opened #8304 "Use of 2 FA with Remote or VPN"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident: INC0101209
### Contact information
Staff Name: Kathy Langlois
Staff Email: Kathy.Langlois@gov.bc.ca

### Description

this email may have to go Melissa. If their remote worker sign into a VPN like what we do, I'm not sure how that affects the 2FA especially if they use desktop authy.

2FA does not work for

[2021-07-21 17:20] tlebedovich commented on #8129
@Kaineatthelab @janisrogers - Can the user also manually type a business name into the field if its not in the VON list?

[2021-07-21 17:28] yuisotozaki commented on #8245
@tlebedovich Scot and I talked about possibly adding "collapse/expand" button to the header area. Double scrolling, once you get used to it, is arguably faster, but the examiners really really didn't like using scroll wheel. For improvements phase, I highly recommend observing examiners doing their tasks via user observation and also engage in change management with this user group.

[2021-07-21 17:29] Kaineatthelab commented on #8129
Yes as they can enter anything they want, VON is only BC businesses:)

[2021-07-21 17:41] pwei1018 opened #8305 "test ops flow"
test

[2021-07-21 17:52] tlebedovich commented on #8129
thanks. design is ready for grooming.

[2021-07-21 18:09] tlebedovich commented on #8201
@kialj876 @janisrogers I added a ux assurance tag to this since I didn't do the visual design for this, I can review and provide feedback in UX Assurance.

[2021-07-21 18:11] tlebedovich commented on #7137
Address Field issues will be taken care of in ticket;
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8201

VON look up issues will be taken care of in ticket;
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8129

[2021-07-21 18:21] tlebedovich commented on #6535
hi @pwei1018 - how would i be able to go in and try out the full icon/colour options in the "paid version".

[2021-07-21 18:26] pwei1018 commented on #8305
add comments

[2021-07-21 18:27] severinbeauvais commented on #8126
### Test Notes

Please verify with:
- IDIR login (users with "staff" role are not prepopulated)
- BCeID login (should fill in name + address if available)
- BCSC login (should fill in name + address if available)

[2021-07-21 18:33] mstanton1 commented on #8304
I have sent a request for further details for testing to Kathy:

Can you please reach out to Dianne with regards to her comment that “2FA does not work for them on remote" and confirm:

1.	Which authenticator the remote team members are using (e.g. Authy for Desktop, Microsoft Authenticator for mobile).
2.	What error the remote workers are experiencing

We will run a TEST to better understand what

[2021-07-21 18:41] severinbeauvais commented on #8246
Is there an example in [Dev](https://namex-dev.apps.silver.devops.gov.bc.ca)?

[2021-07-21 18:45] severinbeauvais commented on #8246
@yuisotozaki Is there a design for this change? And if so, can you please point out the changes? Thanks!

[2021-07-21 18:59] tlebedovich commented on #7138
hi @jordiwes - Here is my UX Assurance for Step 2 Create - Secured Parties;

does not include:
secured party code search
secured party code popup
anything to do with address

https://docs.google.com/document/d/1_cev17wzg3WV3Ip8c6xmK-3Ytofx0uFXVc14GVWrLc0/edit?usp=sharing

[2021-07-21 19:08] rarya-freshworks opened #8306 "Address Not saving for account info"
**Description**:
When an Address is updated for an account it shows as saved but when the page is refreshed it goes back to what it was before address was updated.

**Steps**:
1.) Login in with BC Service Card account.
2.) Select the account you want to work with
3.) Navigate to account info
4.) Update the address for the account
5.) Once saved, refresh the page and validate the address once again

[2021-07-21 19:14] chdivyareddy commented on #7270
Verified in DEV.
![Folio(DEV).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/6e27d6d5-e387-441c-9dec-008c7be205f5)
![Folio1(DEV).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/7bd4d7f8-a058-4611-be05-22366fe6b0c6)

[2021-07-21 19:16] severinbeauvais commented on #8246
@yuisotozaki Like this?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/e0870bb6-aaf4-46c2-99a9-b945d5104d5b)

[2021-07-21 19:41] saravanpa-aot commented on #8001
Hi @rarya-freshworks Let me know when you test this..I can help in resetting the TOS flags in dB..
also this change is in a central place ; so if you can test a few scenarios it will be great...we can disucss when you take up the ticket

[2021-07-21 20:15] mstanton1 opened #8307 "NR Refunds July 21st - 27th"
### Description

1. - [ ] NR 9968892. Refund $31.50. NR Duplicate Report July 20 and July 21.
2. - [ ] NR 8674286. Refund $100.00 (priority portion)  (INC0101394)
3. - [ ] NR 5068393. Refund $31.50 (duplicate request)  (INC0101649 )

### Ops Process
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket, if:
  - If the business says it is a pr

[2021-07-21 20:21] mstanton1 opened #8308 "On Hold affidavit - client follow up"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident:
### Contact information
Staff Name: Cheryl Hall
Staff Email: Cheryl.1.Hall@gov.bc.ca

### Description
Hi Melissa,

Question,  What is the standard for when an account is placed On Hold? The application for Kirti Naslund was originally sent on July 7th, 2021. We placed the account On Hold July 12, 2021 and i

[2021-07-21 20:22] mstanton1 commented on #8308
The following response has been sent:

With the current process we do not issue any reminder emails for the client to take action. I will loop in Jyoti so it can be put on his radar. In some cases though, I suspect we might be missed as spam/junk so issuing a second email from the same email address might not fix the issue.

In the meantime can we work with Wendy to establish a BCOL Admin process?

[2021-07-21 20:26] mstanton1 opened #8309 "NEW PREMIUM ACCOUNT - WANTS TO NOW SWITCH TO BC ONLINE ACCOUNT FROM PAD"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident: INC0101306
### Contact information
Staff Name: Deirdre Clancy
Staff Email: Deirdre.Clancy@gov.bc.ca

### Description
Good afternoon – see the details below – the client set up a premium account, and entered PAD as payment method, but now wants to use their BC online account instead.

Can you switch, please

[2021-07-21 20:29] mstanton1 commented on #8309
The client would like to switch to BCOL payment method but had not linked to BCOL during account set up so cannot change the payment method using the payment method tab. Can you use the information above to link to BCOL? Do you require the user password or is prime ID and account number enough?

[2021-07-21 20:34] amit4610 commented on #8229
all yours @stevenc987

[2021-07-21 20:47] Sienna-Blumstengel commented on #8214
The same premium client had this issue with another NR, **NR9317501**

[2021-07-21 20:48] mstanton1 commented on #8051
@PatrickAHeath it appears this can be closed.

[2021-07-21 20:49] mstanton1 commented on #7750
@Sienna-Blumstengel what is the status of this?

[2021-07-21 21:02] amit4610 commented on #8174
I just tested this myself in test and I was able to log into the account. I will check with the business to see if the client is clicking on "log in" or "create an account" on the business registries page.

[2021-07-21 21:03] yuisotozaki commented on #7561
@janisrogers @tlebedovich UXPin mock ready for your review.
### Change Summary
**General**
- Separated out the alternate options and reusable visual elements that are not part of the main design.

**Discharge**
- Cancel now has a modal for "Are you sure you want to cancel?" REF: Alteration https://projects.invisionapp.com/d/main#/console/20440642/430259307/preview
- Changed "Review and Complete" t

[2021-07-21 21:05] mstanton1 commented on #8304
Responses from client:

1.	GAuth Authenticator
2.	There is no error message – just does not generate a code

[2021-07-21 21:08] Kaineatthelab opened #8310 "Theme - Manufactured Home Registry"
- [ ] Gather Requirements
- [ ] Break out Features
- [ ] Define Data Strategy and release approach
- [ ] Story Map with staff
- [ ] Tee Shirt  Epics

## Owner
- Kaine Sparks

## Description
BC is the only jurisdiction that has a Manufactured Home Registry, information maintained in the Manufactured Home Registry protects owners and purchasers of manufactured homes and improves the security of lend

[2021-07-21 21:09] amit4610 commented on #8174
Suggested correct steps to the business:

1.	Click on the link/button in the email.
2.	Click on “log in”  and choose BCeID
3.	Enter BCeID and password.
4.	Enter 2FA.
5.	The client should be in their account.

Waiting for the reply from business.

[2021-07-21 21:15] Sienna-Blumstengel commented on #7750
I have not experienced this lately. @riyazuddinsyed have you come across this? I don't have any test co-ops to try this on

[2021-07-21 21:17] amit4610 commented on #8093
Louise is working with Patricia as of July 16

[2021-07-21 21:22] Sienna-Blumstengel commented on #7479
@lmcclung @Kaineatthelab moved this to the go live epic, based on the last email from staff saying they need account number in NameX before decomissioning. Is that ok?

[2021-07-21 21:28] Kaineatthelab commented on #7479
yup thanks!

[2021-07-21 21:40] mstanton1 commented on #8194
Updates from Sumesh have been added. The document has been sent to the BA's for review.

[2021-07-21 21:43] mstanton1 opened #8311 "Authentication Reset - HOLLAND AND COMPANY"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident:
### Contact information
Staff Name: Lance Hall, Kathy Langlois
Staff Email: Lance.Hall@gov.bc.ca, Kathy.Langlois@gov.bc.ca

### Description
Hi Team,

Tammy Rippon from Holland and Company (this is her account name in the new RC Registry and Online Services site) has successfully authenticated using Authy at

[2021-07-21 21:49] mstanton1 commented on #8311
@pwei1018 can you please look up the BCeID hollandstafflogin@bceid to determine if it is associated to a BC Registries Account? I was able to find it in Keycloak in PROD but don't know how to confirm the associated account.

[2021-07-21 21:56] pwei1018 commented on #8311
@mstanton1 No, I could not find this user associated any accounts.

[2021-07-21 21:58] stevenc987 commented on #8229
@amit4610 @mstanton1
1. NR 3504970. Please refund $31.50 (INC0100475): Refund Requested
2.  NR 3909471. Please refund (INC0100638): Refund Requested
3.  NR 2624703. Please refund (INC0100663): Refund Requested
4.  NR 8992980. INC0101015: Refund Requested
5.  NR 5185685, refund $31.50 (INC0101138): only one transaction $131.50 so please contact PayBC for partial refund.
6.  NR 8441512, refund $31.5

[2021-07-21 22:01] amit4610 commented on #8174
user can lo in

[2021-07-21 22:01] #8174 closed

[2021-07-21 22:08] mstanton1 commented on #8311
Patrick has confirmed the hollandstafflogin@bceid that the client is using is not the BCeID linked to the account.

I've sent the following information:

Great troubleshooting. The BCeID hollandstafflogin@bceid is not associated to any BC Registries account (we had to check in the back-end so you couldn’t have done this). As such, there is no one time passcode for this BCeID, and no ability to res

[2021-07-21 22:14] pwei1018 commented on #8309
@mstanton1 Switched.

[2021-07-21 22:15] pwei1018 commented on #8309
Update orgs table in auth db
Update payment_accounts table in pay db
Update cfs_accounts table in pay db

[2021-07-21 22:16] mstanton1 opened #8312 "BC Online Account 734080 - Payment Discrepancies"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident: INC0101326
### Contact information
Staff Name: Debbie Blyth
Staff Email: Debblie.Blyth@gov.bc.ca

### Description
According to BCOL payments, the client paid for two NR’s on July 6th, NR 6615764 & 4870752.  However, according to Namex NR 6615764 was submitted May 12th.  I have reversed the payment for 66157

[2021-07-21 22:18] mstanton1 commented on #8309
Updated as per the comments from Patrick above.

I have provided a response to SBC IT Ops to advise this is now complete.

[2021-07-21 22:18] yuisotozaki commented on #8298
July 21, 2021
Discussion result:
* Hide NR Number on UI until payment is complete and if the user does not pay for the request in 24 hours, the request will go into hidden mode

Scenarios discussed:

**Successful Payment**
If the user completes payment and PayBC successfully signals back that the payment was complete, then we display the NR Number.

**User Cancels Out of Payment***
If the user can

[2021-07-21 22:26] sienna-blumstengel opened #8313 "When my NR payment is incomplete, I am told to retry in a few minutes, or request a new one."
## Background

#### This is the current process to handle NRs that get stuck in payment pending
1. Non staff creates NR
2. Due to system error, or user's payment method is failing, or any other reason, NR stays in "Payment Pending"
3. If NR is still in "Payment Pending" 24 hours later, the system changes status from "Payment Pending" to "Pending Deletion"
4. The NR stays in "Payment Deletion" for

[2021-07-21 22:28] severinbeauvais commented on #8245
The spacing (and resizing) changes have been implemented, built and deployed to Dev. Please review again and move to RFQA pipeline if OK.

[2021-07-21 22:47] mstanton1 commented on #8312
NR 6615764

Shows submitted 12-05-2021 in Name Requests Online.
Receipt shows fee of 131.50 which does not match what is shown in the BCOL screenshot above.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/ce380f4b-45c6-4782-a537-7b189f8a2a0f)
![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/e619820f-128d-475d-8de8-6072b58c6be0)

NR 4870752

Sho

[2021-07-21 22:58] mstanton1 commented on #8312
@pwei1018

1. Please cancel NR 6615764  in NRA. Payment has been reversed by the business but they are unable to cancel the NR.

2. Can you please check transaction records for NR 6615764 in NRA to confirm if the submission July 6th was a 'resubmit'.

If so, no concern. If not, there's a few discrepancies. The receipt in NRO, NRO transaction history and NRA app both show the payment for this NR as

[2021-07-21 23:04] yuisotozaki commented on #8246
@severinbeauvais Yep!

[2021-07-21 23:23] pwei1018 commented on #8312
Found 6 payment records with this NR happened between July5-July6.

![image](https://user-images.githubusercontent.com/44277752/126572031-e4775434-aa06-4d6b-9601-c560c538ae85.png)

[2021-07-21 23:24] chdivyareddy commented on #8038
When "Results Found" for Business Debtor search are less than 15 and "Exact Matches" are less than 10 then the response time is less than 20 seconds and PDF is downloaded and viewed.
**Eg:** PAW STREET MARKET LTD.
            HC POINT GREY HOLDINGS LTD
            LOGAN LAKE AUTO & TIRE REPAIRS LTD
**TELUS COMMUNICATIONS INC. :**
Results Found - 1458, Exact Matches - 231 and Results Selected - 979

[2021-07-21 23:26] chdivyareddy commented on #8037
When "Results Found" for Individual Debtor search are less than 15 and "Exact Matches" are less than 10 then the response time is less than 20 seconds and PDF is downloaded and viewed.
**Eg:** MICHAEL JOSEPH SANTOS
            DAVID CARPENTER
             MICHAEL BRAIN
When "Results Found" are greater than 200 and "Exact Matches" are greater than 40 then the response time is less than 20 seconds b

[2021-07-21 23:57] doug-lovett commented on #7622
Comments after UX assurance updates:
- DEV updated: https://bcregistries-daxiom.web.app/
- Can any outstanding UX assurance changes after the next review be tracked under ticket 7941.
- A change to the common header component is required before it can be used with the static site. Consequently, any UX assurance changes related to a logged in/logged out state are deferred for now.
- Thor will be de

[2021-07-22 00:00] doug-lovett commented on #7623
For UX assurance review, please see my latest 7622 comment.

[2021-07-22 00:00] doug-lovett commented on #7558
For UX assurance review, please see my latest 7622 comment.

[2021-07-22 01:17] tlebedovich commented on #7619
**Important UX Notes from Scott:**

- Choose the columns that are displayed in the table
- Data table uses virtual scrolling - only display scrollbars it the content exceeds the table height window
- Folio column is only displayed for Premium user accounts
- Single column sort (multi column sort post-MVP) - all columns can be sorted
- Default sort order is Last Modified in reverse chronological (n

[2021-07-22 01:20] tlebedovich commented on #7619
POST MVP Items:

- Parent/Child nested row design
- "Updated" tag for Base Registrations that have been updated
- Add alerting to status (payment errors, etc.)
- Hide used Expired or Discharged Registrations or put on another tab
- Multiple select filter dropdown (filter on multiple entity types, status, or people)
- Multi-sort (sort on multiple columns)
- Hide the filter row
- Identify what is ch

[2021-07-22 05:59] pwei1018 commented on #6535
@tlebedovich If you really want to try, you can put the feedback on a special page by the following step.

![image](https://user-images.githubusercontent.com/44277752/126595548-e77e7c78-2472-4891-a80b-bf97d5f9b2b5.png)

[2021-07-22 07:41] jyoti3286 opened #8314 "FAS: Search UI Behaviour"
* As a (type of user)
* I want (goal)
* so that (reason/ why/ value)

**Acceptance Criteria**

**Scenario 1: Columns to Show**
* GIVEN ... (you or your condition)
https://preview.uxpin.com/76da32cd3abd1eb16c96507294189fbd7bee9140#/pages/140234142/simulate/sitemap
* WHEN ... (what you do)
https://preview.uxpin.com/76da32cd3abd1eb16c96507294189fbd7bee9140#/pages/140234275/simulate/sitemap
* THEN ...

[2021-07-22 14:54] argush3 commented on #8014
closing.  Will follow up to ensure release branch gets merged to main and that the affected pipelines built and redeployed with main branch.

[2021-07-22 14:54] #8014 closed

[2021-07-22 15:15] jmills-cgi opened #8315 "Entities UI: NRO Decommission"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-07-22 15:35] andrepestana-aot commented on #8247
@lmcclung @Sienna-Blumstengel in #8248 it says it will be displayed in Transaction History but Transaction History is in SBC-UI. Unless we have another Transaction History in namerequest that I'm not aware of.

[2021-07-22 15:37] cameron-freshworks opened #8316 "Name Examination UI - Update Icon Library and Icons"
- As the designs are improved in Name Examination UI we are seeing Icons that are not currently supported in the name examination ui.

- The library could be swapped to be MDI to further support the icons that are used through out our other UI's.

- This would involve changing from the google MI -> MDI, which would require some regression testing to ensure we got all the icons swapped and they loo

[2021-07-22 15:38] jmills-cgi opened #8317 "Relationships: Ministry Government Account"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-07-22 15:44] lmcclung commented on #8247
@andrepestana-aot @Sienna-Blumstengel Hi Andre, this is the transaction history in NameX (Names Examination application).

Want to chat quickly?

[2021-07-22 15:47] tlebedovich commented on #8261
@Kaineatthelab - Kial is asking what this bullet point means above, and I don't know either :)

 - [ ] SD: Check - *what is this?*

[2021-07-22 15:47] severinbeauvais commented on #8247
The UI component that displays the subject items is
https://github.com/bcgov/name-examination/blob/master/client/src/components/application/Transactions.vue

[2021-07-22 15:50] mstanton1 commented on #8304
Vysakh is working out of country so has tested BCeID & 2 FA. He was able to use GAuth Authenticator on both mobile and browser. It is suggested that the issue is something to do with the client's specific set up.

I've found the following support information for cases where a client did not receive their verification code (https://support.google.com/accounts/answer/185834?hl=en).

You didn't get a

[2021-07-22 15:57] Kaineatthelab commented on #8261
@tlebedovich I don't know either....maybe Solr database? but not sure what would be wrong with it?

[2021-07-22 16:12] mstanton1 commented on #8312
@pwei1018 did you cancel NR 6615764 in NRA or verify if this NR was a resubmission?

[2021-07-22 16:14] lmcclung commented on #7246
@Sienna-Blumstengel if you don't hear back from the client be EOD July 22, I recommend moving this one to done.

[2021-07-22 16:17] #7523 closed

[2021-07-22 16:19] #6968 closed

[2021-07-22 16:20] lmcclung commented on #7680
No additional release label required as no work done on this ticket.

[2021-07-22 16:20] #7680 closed

[2021-07-22 16:21] #7500 closed

[2021-07-22 16:21] lmcclung commented on #7500
No additional release label required as no dev work needed.

[2021-07-22 16:21] #7252 closed

[2021-07-22 16:36] Sienna-Blumstengel commented on #6338
@Kaineatthelab added to your milestone, FYI

[2021-07-22 16:37] #8309 closed

[2021-07-22 16:38] #8303 closed

[2021-07-22 16:38] Sienna-Blumstengel commented on #6338
Also @Kaineatthelab @kialj876 can you add more description to this so Riyaz can test?

[2021-07-22 16:39] tlebedovich commented on #7561
@yuisotozaki

Notes from assets grooming:

From Patrick regarding required information before allowing a discharge:
User needs to validate Debtor - First 5 letters and enter Base Registration number
@janisrogers - please confirm if this is still needed for regulation

From Kevin - monitor abuse of this system as it allows users to see the current view of a registration/financing statement without

[2021-07-22 16:44] jmills-cgi opened #8318 "Entities: Lear 10.1"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Update version numbers in the code being released
   - [x] Legal API (2.26.0)
   - [x] Entity Emailer (2.26.0)
   - [x] Entity Filer( 2.26.0)
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
- [x] Ad

[2021-07-22 16:48] amit4610 opened #8319 "FAS user functionality"
* As a FAS user
* I want access to certain features
* so that I can perform my team's tasks

**Acceptance Criteria**

* GIVEN I am a FAS user
* WHEN I log into FAS
* THEN I have access to the features defined in the functionality matrix for my team
* AND the rest are greyed out

**Link to DoR for a US/ Feature**
https://github.com/bcgov/entity/blob/master/.github/ISSUE_TEMPLATE/DoR%20-%20Relations

[2021-07-22 16:51] Sienna-Blumstengel commented on #8244
When a name has been approved, and for some reason the client needs to make a change to the NR, and staff need to re-examine it: then they click "reset". This gives them the ability to re-examine.
NR can't be consumed or expired, in order to reset.

[2021-07-22 16:53] Sienna-Blumstengel commented on #7388
This ticket was not made using the new template. We will implement the new template in a future ticket.

[2021-07-22 16:57] cameron-freshworks commented on #8244
Thank you!

[2021-07-22 16:57] jinghualicgi commented on #8202
Confirmed by Kevin: changed to UI Design Amend

[2021-07-22 16:59] tlebedovich commented on #7560
@yuisotozaki @janisrogers

Notes From Kevin
- you can not change Trust Indenture (read only)
- you can not renew an existing infinite registration (So we should we not show the "renew" button in the table for items with Infinite renewals) confirm @janisrogers @yuisotozaki

[2021-07-22 17:00] Sienna-Blumstengel commented on #8166
We will not be using the new template design, we will implement it later.

[2021-07-22 17:07] cameron-freshworks commented on #5941
After discussions on the approach, i'm pulling this back to make the logical changes in the name examination UI to appear as individual selections until we can make do the proper fix which requires additional codes that are supported internally AND externally.

[2021-07-22 17:12] argush3 commented on #8247
@andrepestana-aot - assigning this to myself.  talked with @lmcclung at standup.

[2021-07-22 17:14] lmcclung commented on #7091
Cameron Wulff has agreed to the following solution:

Coops team devs could file, in the new app, the director changes (no fee) that were on the second AR and then add a registrar’s notation saying that the client held two AGMs in 2020.  Due to technical limitations, a second Annual Report could not be filed electronically and is available on paper only.  The AGM date for the second meeting was on

[2021-07-22 17:16] lmcclung commented on #7091
I've added 5 points because devs did a lot of trouble shooting on this.

Long-term solution re second AR's for coops being forwarded to Policy folks for input.

@Sienna-Blumstengel could you advise IT Ops this ticket will be fixed by staff and include the short-term solution.

[2021-07-22 17:18] #8204 closed

[2021-07-22 17:23] pwei1018 commented on #8312
@mstanton1 The NR 4870752 was the resubmitted one. The NR 6615764 was the original one and expired. So, we don't need to cancel it. However, we may need to refund the payment of NR 6615764.

[2021-07-22 17:24] jinghualicgi commented on #7941
Need UI Design first

[2021-07-22 17:27] kialj876 commented on #8312
Looking at this you need the payment for NR 6615764 on may 12. Do not refund that or cancel it because it was the original NR. Then on July 6 they did a reapply which created NR 4870752 and it charged them 6 times. Those 6 payments need to be verified and any extra ones need to be refunded

[2021-07-22 17:45] severinbeauvais opened #8320 "Name Examination UI: update framework and devops"
**To do:**
- [ ] update Vue version (and vue-cli)
- [ ] update Vuetify version
- [ ] update Webpack
- [ ] update other libraries (to match other Entity UIs)
- [ ] update babel
- [ ] update/configure linting
- [ ] update browserlist
- [ ] update npm scripts

**Possibly a future ticket(s):**
- [ ] get rid of jQuery
- [ ] update Stylus/SASS -> SCSS? (see also #8316)
- [ ] update Jest and vue-test-uti

[2021-07-22 17:59] yuisotozaki commented on #8245
Reviewed in dev. Looking great!
Couple of minor things:
* Please use 500 weight (regular font) for "X" and checkmarks.
* Please use regular font for the approved name in blue.
* The "X" and checkmarks need a few px nudging (see attached)
![8245 UX Assurance](https://user-images.githubusercontent.com/56084999/126686665-a633df5f-4d56-46bb-b462-7f5036ab9ee2.png)

[2021-07-22 18:21] mstanton1 commented on #8312
Sent the following to Debbie B:

Our devs have confirmed the NR 6615764 was the original NR created on May 12th. It has since expired. NR 4870752 was the resubmission of the original NR. The Dev’s identified 6 charges for this NR.

Based upon the findings above it seems that NR 6615764 does not actually need to be cancelled (since it expired). NR 4870752, on the other hand, should be refunded 5 ti

[2021-07-22 18:45] Sienna-Blumstengel opened #8321 "OCM - Names Release 10.1"
- [ ] One Note updates
- [ ] Make new tab in OneNote for Joanna's team
  - in the tab, make a table of contents of things that they provide support on
  - Link out each section to where it is int he OneNote
- [ ] Walk Joanna & team through these updates, ask for feedback, iterate

- [ ] Release comm

[2021-07-22 18:45] tlebedovich commented on #6535
@Kaineatthelab - I am confused. Are we adding the "incoming" feedback tab (with emojis) or are we adding the feedback "survey"? There are two totally different things. I prefer the "incoming" feedback tab and I think Scott was ok with that as well for now.

<img width="239" alt="Screen Shot 2021-07-22 at 11 43 40 AM" src="https://user-images.githubusercontent.com/2207887/126692277-1498067f-2d03-46

[2021-07-22 18:46] sienna-blumstengel opened #8322 "OCM - Co-op Incorporation"
Awareness activities already done:
- 21 and 18s are aware, 15s will need a more robust update

To do:
- Acknowledge that this will not take their jobs, communicated by Cameron
- Sienna to draft email for Cameron to send to staff

[2021-07-22 18:49] Sienna-Blumstengel opened #8323 "Cameron to provide update to staff at standup"

[2021-07-22 18:49] thorwolpert commented on #8320
re Vue3
some updates, like using the composition API, moving away from classes and mixins can be done now.
the rest is blocked by vuetify which is targeting Q3, but looking at their board I think that date will get pushed.

[2021-07-22 18:50] Sienna-Blumstengel opened #8324 "Sienna, Cameron, Julie, maybe Lance meet about this feature"

[2021-07-22 18:51] Sienna-Blumstengel opened #8325 "Communicate to stakeholders"

[2021-07-22 18:51] thorwolpert commented on #8320
also, with the bulk of any changes pending vuetify, dumping webpack and going vite will be a serious option for us.
vite is so fast i still giggle.

[2021-07-22 18:54] Sienna-Blumstengel opened #8326 "Awareness communication to staff"
- [ ] Sienna to draft email for Cameron/Julie to send to staff
- [ ] Sienna meet with Cameron, Julie, Lance maybe. Get them up to speed on the functionality, review the email i drafted
- [x] Cameron sends email
- [ ] Cameron attends standup and discusses with them. Sienna attend to take notes

GROUPS:
- [ ] Staff - lots of things
- [ ] Co-ops - They need to incorproate online self serve now. Some

[2021-07-22 18:59] Sienna-Blumstengel opened #8327 "Website updates"
- [ ] Add section under co-operatives about BN numbers, and how to get a BN number from the CRA

please visit the CRA website to request your business number
https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/registering-your-business/register.html

- [ ] Change "submit paper forms" to "go to the BC Business Registry

[2021-07-22 19:00] #8324 closed

[2021-07-22 19:02] #8323 closed

[2021-07-22 19:02] lmcclung commented on #8248
@cameron-freshworks can this UI ticket be worked on concurrently with the NamexAPI ticket or is it truly blocked?

[2021-07-22 19:11] lmcclung commented on #8261
@kialj876 @Kaineatthelab @tlebedovich If you look in the word doc, staff searched the same name - once for an incorporation and once for an amalgamation.  They got different results.  You were going to check the rules, because they should be the same.

[2021-07-22 19:12] cameron-freshworks commented on #8248
@lmcclung I haven't looked into this, but i'm assuming this was blocked because the properties and/or values we are wanting to display are not added into the response yet (captured in the api ticke).

That being said, a small discussion with Andre could resolve what the response schema would look like and therefor be mocked in the front end.
So i think after a discussion with Andre or whomever is

[2021-07-22 19:35] riyazuddinsyed opened #8328 "Retry Payment Option not available for Renew payment option."
**Describe the bug in the current situation**
When the user clicks on the  Renew Name Request and by any chance if the payment doesn't go through then the status of the NR is in Pending payment state and the user has to click on the Renew Name Request again to complete payment.

**Impact of this bug**
Users whose payments didn't go through with Renew.

Steps to reproduce the behavior:
1. Go to 'ht

[2021-07-22 19:44] riyazuddinsyed opened #8329 "Editing the fields in Applicant details does not save in Name Request UI and reflect in NameX UI."
**Describe the bug in the current situation**
When the user tries to EDIT the Applicant details  like the Additional street info then the changes do not get saved in the Name Request UI  thereby does not get reflected in the NameX UI

**Impact of this bug**
Users trying to EDIT the Applicant Details.

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/namerequest/'
2.Search for a

[2021-07-22 19:53] mstanton1 commented on #8194
Document has been reviewed & updated based upon feedback.

Final document stored on SP here: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-4093

[2021-07-22 20:04] Kaineatthelab opened #8330 "Register a Manufactured Home"
## Description (Hypothesis):
- As a user I want to receive the ownership, location and description of the home so that I can provide the manufacturer or owner a decal
- As a user I want the ability to issue a verification report and decal for each registered Manufactured home

----
## Acceptance Criteria
* Registration # created by the system and delivered to the owner/manufacturer on screen. Syst

[2021-07-22 20:04] Kaineatthelab opened #8331 "Relocate a Manufactured Home"
- Request Transport Permit
- Advise Secured Parties on Liens of Move (Notice of Change of Location)
- Registered Location Change (Illegal Move)

[2021-07-22 20:04] Kaineatthelab opened #8332 "Combined MHR and PPR Search"
## Description (Hypothesis):
- As a qualified supplier or British Columbian I want to be able to perform a search that will provide a legal document that includes both MHR and PPR details.
- Typically client pay request.  $15 if done by staff, $12 if done by Service BC. Available to qualified suppliers and general public

----
## Acceptance Criteria
- A self-service option for client access.

[2021-07-22 20:04] Kaineatthelab opened #8333 "Transfer Ownership of a Manufactured Home"
## Description:
* Expected outcome: To be updated.

## Epic User Story:
* As the newly registered owner (by way of sale or other transfer) of a manufactured home, I can easily submit my transfer documentation to a practicing lawyer, practicing notary or qualified supplier so I can fulfill my obligations under the MHA.

---
## User Story (to be moved to a user story ticket)
- As a user I would like

[2021-07-22 20:04] Kaineatthelab opened #8334 "Request Non-Residential Exemption (EXNR)"
**Completed by Staff Only**
Note: EXRN shares the same flow as EXRS so I've added this as a dependency. Please refer to EXRS Figma comps for common validation, modals, and complete flow details.

**EXRN Figma UI File:** https://www.figma.com/file/qrCF38xej31oK9dFd8NNun/MHR-Exemptions?type=design&node-id=198-14023&mode=design

## Description (Hypothesis):
- As a registered owner / buyer / landlord

[2021-07-22 20:05] Kaineatthelab opened #8335 "UI Design - Combo Search for Encumbrances Against a Manufactured Home (mhr + ppr search)"
## Description (Hypothesis):
- As a qualified supplier or British Columbian I want to be able to perform a search that will provide a legal document that includes both MHR and PPR details.
- Typically client pay request.  $15 if done by staff, $12 if done by Service BC. Available to qualified suppliers and general public

----
## Acceptance Criteria
- A self-service option for client access.

[2021-07-22 20:05] Kaineatthelab opened #8336 "STAFF- Review/modify MH information"

[2021-07-22 20:06] Kaineatthelab opened #8337 "PUBA - Public Amendment - Staff needs to make client updates/changes on a MHR"
## Description (Hypothesis):
- As a staff MHR User I want the ability to update information that is no longer valid in the register
- This will be a multi-change transaction where staff can make multiple updates at one time
- Should not use PUBA if fixing a mistake or error (use Corrections in that case)

PUBA Public Amendment will be used instead of a number of small legacy individual transaction

[2021-07-22 20:06] Kaineatthelab opened #8338 "STAFF - Rescind Residential or Non-residential Exemption"
## Description (Hypothesis):
- As a user I want to submit an initial registration application form so that a home can be re-registered and decals can be provided.
- Requires a current land title search results.
- Requires consent from any lenders that hold a mortgage on the land title (consent letter).
- NREs require statutory declarations and often certified letters from structural engineers.

--

[2021-07-22 20:06] Kaineatthelab opened #8339 "Unit Notes"
See Design Ticket - https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/gh/bcgov/entity/15875

Unit Notes requirements spreadsheet
https://docs.google.com/spreadsheets/d/1Fa7mDrvYfhkAkmn_P0YNUfdP6YlvyFKW/edit#gid=420691207

----
**Figma Design Files**
[Notice of Caution (CAU)](https://www.figma.com/file/FVvx7KgHDCAfejklfoue3L/MHR---Unit-Notes?type=design&node-id=125

[2021-07-22 20:06] Kaineatthelab opened #8340 "STAFF - Generate statistics reports"
## Description (Hypothesis):
- As a staff user I want to receive receive a monthly statistics report that I can provide to clients that request statistics
- Email from BOB is produced and delivered to staff.

Ideally to leverage the Data Lake.

----
## Acceptance Criteria
- Includes all relevant statistics in a report that can be attached to an email for distribution.

[2021-07-22 20:19] chdivyareddy commented on #7260
Verified in TEST.

[2021-07-22 20:28] riyazuddinsyed opened #8341 "Renew NR message does not show up for staff."
**Describe the bug in the current situation**
When the NR is within the Expiry date and when the staff tries to Upgrade it then the dialog box shows up without the message.

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/namerequest/
2. Search on an NR with the Expiry date.
3. Click on Renew Payment.
4. See an error

**Screenshots/ Visual Reference/ Source**
![Screen Shot 202

[2021-07-22 20:28] mstanton1 commented on #8304
Vysakh's testing was successful in both scenarios. He was able to generate a code in GAuth. I have summarized my findings above, and the result of the test, in an email to Kathy and Cameron. The recommendation in this case is for the client to try another authenticator.

I have also addressed the client need for additional administrators and the comment which suggested misunderstanding about the t

[2021-07-22 20:40] jdyck-fw commented on #8329
@riyazuddinsyed will follow up with Cam to see if he's still working on this.

[2021-07-22 20:44] jdyck-fw commented on #8328
@riyazuddinsyed will verify login used here.

[2021-07-22 20:46] Sienna-Blumstengel commented on #7757
Entities team has decided to send the user back to whatever page they were on previously

[2021-07-22 20:46] jdyck-fw commented on #8328
Missing "retry payment" button

[2021-07-22 20:50] Kaineatthelab commented on #8261
the results are the same it just timed out  in that case which will happen, also why it says there was an issue finding it

[2021-07-22 20:51] jdyck-fw commented on #8294
The first scenario is as designed. The second scenario is captured in https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8328

[2021-07-22 20:51] #8294 closed

[2021-07-22 20:52] jdyck-fw commented on #8328
Reference 8294 for further description of this.

[2021-07-22 20:53] Kaineatthelab commented on #6535
baby steps, lets just start with the incoming feedback with emojis for now, then leave surveys for another release later?

[2021-07-22 20:54] jdyck-fw commented on #8281
@Sienna-Blumstengel @janisrogers - Were you able to reproduce this in Test?

[2021-07-22 20:56] jdyck-fw commented on #8265
@Sienna-Blumstengel  - Could you please verify whether or not this is a duplicate of 8300 and close one of them if duplicated.

[2021-07-22 20:56] Sienna-Blumstengel commented on #8185
#6848 (closed) relates to this.

[2021-07-22 20:59] chdivyareddy commented on #7259
Verified in TEST.
![Add_Collateral(TEST).png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/4ae0ea87-13c7-4910-8e4d-c310d20d5583)

[2021-07-22 21:00] Sienna-Blumstengel commented on #8250
Assets has decided to send the client back to the page they were on

[2021-07-22 21:02] chdivyareddy commented on #6983
Sub tasks are verified in TEST.

[2021-07-22 21:02] Sienna-Blumstengel commented on #4901
@riyazuddinsyed can you confirm?

[2021-07-22 21:07] Kaineatthelab commented on #6338
over to kial for the tech parts.

For business it looks at the synonym list and sees if its in the industry category if not it says you need a description and if its just one word it needs a descriptive for corps. (not for extra pro)
** it is only a suggestion and is only 75% accurate
** it  can and will time out depending on the complexity and how many words are in the name

[2021-07-22 21:11] amit4610 commented on #8319
Functionality matrix: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-4094

[2021-07-22 21:22] kialj876 commented on #8312
Yep that seems right. Whoever is on ops can look up the payments and alter the refund notebook slightly to refund 5 of the 6 REAPPLY payments (I did something similar on my ops day so you can look at the one I did in the completed folder to refund a specific payment)

[2021-07-22 21:41] #8304 closed

[2021-07-22 21:41] #8194 closed

[2021-07-22 21:47] ghost opened #8342 "Provide data to Trish for info note"
Deadline: Wednesday, July 28

[2021-07-22 21:47] jinghualicgi commented on #7534
@thorwolpert can we add PPR roles on IDIR account

[2021-07-22 21:48] jinghualicgi commented on #7535
@doug-lovett , is this a but or not been setup for API, please confirm

[2021-07-22 21:51] jinghualicgi commented on #7639
@bfbowles please take a look when you have time, thanks

[2021-07-22 22:01] janisrogers commented on #7358
The arrow issue will be dealt with in [8004](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8004)

[2021-07-22 22:08] mstanton1 commented on #8311
Lance, Kathy and I had a Teams call with the client. We confirmed she was locked out from Sandcover11 through BCeID. She reset that through the BCeID Help Desk and was able to successfully log on to her premium account for Holland and Company.

[2021-07-22 22:17] yuisotozaki commented on #7560
Confirmed both points during PPR Requirement meeting with business. UXPin updated with these points.

[2021-07-22 22:23] #8051 closed

[2021-07-22 22:23] kialj876 commented on #8242
I couldn't run it without help on the setup file. I should be able to run it now -- will try

[2021-07-22 22:30] yuisotozaki commented on #7561
Will add debtor name field to step 2.
What happens if the debtor's name is "Sid Meier"? Is the first 5 letters "SIDME"?

[2021-07-22 22:32] Sienna-Blumstengel commented on #8159
Kat actually told the client everything was ready to go. She is asking for us to do the last step, and unaffiliate the entity from their account.

[2021-07-22 22:39] janisrogers commented on #8159
@Sienna-Blumstengel don't we want to fix the documents first?

[2021-07-22 22:42] Sienna-Blumstengel commented on #7846
FYI, these are the NRs this occurred for. Just writing in case this opens up again
7596515

7832821

0739895

9324793

[2021-07-22 22:45] janisrogers commented on #8312
@rarmitag Update from Debbie:

Strange I can’t see the 6 payments in FAS, **can you have a refund done for the 5 payments** on 4870752.  Thanks,

Regards,

Debbie Blyth

[2021-07-22 22:50] Sienna-Blumstengel opened #8343 "Review the updates to the Maximus script for webchat"
[https://app.zenhub.com/files/157936592/ddbbb8ac-a7c1-4ffa-9b23-329a92bac1c9/download](https://app.zenhub.com/files/157936592/ddbbb8ac-a7c1-4ffa-9b23-329a92bac1c9/download)

ORIGINAL ^

[2021-07-22 22:53] shabeeb-aot opened #8344 "Global loading and error handling for FAS UI"
## What is the problem?
* when API call we need to show loading
* On api call failure need to show error message

## What is the impact?
*

## Proposed solution
* instead of showing in all components , can use in axios to intercept and show loading.
* show global error message on api failure (status 500 and above)

[2021-07-22 22:54] janisrogers commented on #8238
@severinbeauvais I think it is to add the Notice of Articles output @Sienna-Blumstengel ?

[2021-07-22 23:05] kialj876 commented on #8242
I ran the notebook and asked thor to review

[2021-07-22 23:13] mstanton1 commented on #8312
@kialj876 no option through the UI at this time - but it's been discussed. My understanding is that the dev on ops can use the invoice ID to invoke the same webservice that is used for refunds with credit card and the logic on what to do depending on payment type is on the PayAPI. Thank you for your input here:)

[2021-07-22 23:24] janisrogers commented on #7561
@yuisotozaki Doug say the API requires an exact match of the full debtor name.

[2021-07-23 01:07] lmcclung commented on #8313
Notes for Linda: - current process
If invalid card number in paybe screen you get an error right away
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/c1f2a064-4eba-45dc-b82c-ca8799e6496b)

If user puts in an incorrect CVD code on the paybc screen, paybe attempts to process and you get the payment declined with option to try again or to go back.
![image.png](https://image

[2021-07-23 01:28] Sienna-Blumstengel opened #8345 "NameX - Update Entity Type and Request Actions"
### Background

This ticket is a continuation of [5941](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/5941).
Cameron completed 5941, but just the UI. This ticket will implement the backend changes - actually separating the request actions in the database and API.

### Acceptance Criteria
TBD

[2021-07-23 01:29] Sienna-Blumstengel commented on #5941
I created [8345](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8345) @cameron-freshworks ! It is very empty, you might need to add some details

[2021-07-23 14:45] PatrickAHeath opened #8346 "NR 0410800 - Expiry dates in NRO and NRA are different"
### ServiceNow incident:  INC0097505
### Contact information
Staff Name:  Samson Ohiobor
Staff Email:  SBC_ITOperationsSupport@gov.bc.ca

### Description

[https://app.zenhub.com/files/157936592/89f8cfa4-397d-4d81-8865-bc7b1b17063a/download](https://app.zenhub.com/files/157936592/89f8cfa4-397d-4d81-8865-bc7b1b17063a/download)

### Ops Process
- [x] Add **entity** or **relationships** label to zenh

[2021-07-23 15:13] PatrickAHeath opened #8347 "INC0101468 Name Request Application - Cancelled NRs with no option to view/download receipt"
**Describe the bug in current situation**
NRs with the cancelled status (for whatever the reason) don't show the option to view/download receipts and/or transaction history

**Link bug to the User Story**

**Impact of this bug**
Clients and staff are not able to view or download receipts or transaction history.

**Chance of Occurring (high/medium/low/very low)**
High

**Pre Conditions: which Env,

[2021-07-23 15:20] Sienna-Blumstengel commented on #8159
We have the bug ticket to resolve it, Kat would prefer we unaffiliate the entity asap so the client can't break something in the new app.
We can validate that this has been fixed (after pushed to PROD) if we log in as staff and search the entity. We should be able to search it as staff, even if it's unaffiliated.

[2021-07-23 15:30] yuisotozaki commented on #7561
@janisrogers Then the rule is "Exact match including case with one of the debtor names on the registration."

[2021-07-23 15:39] stevenc987 commented on #8295
@lmcclung
![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/50cc88d1-00fa-4bee-b7d6-1f361c3baa10)

![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/795d645b-ef58-473a-9b4b-10b6dc327f35)

[2021-07-23 16:05] #8311 closed

[2021-07-23 16:08] yuisotozaki commented on #8298
@Sienna-Blumstengel The design for improved flow is up. I think it's inline with what Linda's new idea. If the devs can distinguish "user cancelled" vs "something went wrong on PayBC", we can display those status labels in this design also.

[2021-07-23 16:09] Kaineatthelab opened #8348 "Save a draft"

[2021-07-23 16:10] #8348 closed

[2021-07-23 16:12] Kaineatthelab opened #8349 "Pay and save registering financing statement"

[2021-07-23 16:21] stevenc987 commented on #8346
@PatrickAHeath

In NameX DB:
![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/801b875d-ccc2-43ba-8220-18f7889d31e9)

In NRO DB:
I believe the format of expiration_date is incorrect for this NR:
![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/059de7fe-1fb1-4c36-94c2-89d84bbfb3ca)

Please let me know if you want to correct the format of expiration

[2021-07-23 16:41] stevenc987 commented on #8312
@mstanton1
Please confirm that I can refund for the first 5 transactions for this NR:

![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/9f598529-6ce7-4f4c-85a8-1641c5ba41b7)

[2021-07-23 17:07] severinbeauvais commented on #7736
@vysakh-menon-aot Do you have any namex api work that needs to be deployed?

[2021-07-23 17:21] Kaineatthelab commented on #7960
Looks like Coops are wrong....

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/1f00eccd-b28a-4dc6-b0d3-9f4bb816c38b)

[2021-07-23 17:23] Sienna-Blumstengel commented on #8265
We can't verify that this is fixed until
* Severin and THor's work is complete (6969)
* We figure out how to view the entity in PROD, becuase we unaffiliated the entity from the account and the system says it is not found

[2021-07-23 17:23] PatrickAHeath commented on #8346
@stevenc987 Do you mean the format of the data or the format of the EXPIRATION_DATE column in the table?

If the data for this NR can be corrected so the client can use their NR, please do so.

If you're referring to the format of the column, the impact of the change would have to be determined.

[2021-07-23 17:24] janisrogers commented on #8265
[Incorporation Application](https://app.zenhub.com/files/157936592/12c94e55-e1d0-48f4-858b-707774773f58/download)
[Notice of Articles](https://app.zenhub.com/files/157936592/3be81c0b-6008-477c-839a-9b950e7515a7/download)

[2021-07-23 17:25] mstanton1 opened #8350 "BC Online Account Deactivation Form"
### Description
A written request is required when staff deactivate a client account. BC Online Administration has requested we produce a form for this process.

### Ops Process
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket, if:
  - If the business says it is a priority
  - BA can use their business knowledge and best judgement if it

[2021-07-23 17:26] Kaineatthelab commented on #7960
ULC also acting like coops
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/2dcd7e41-7f33-4b20-95ff-7bcb38b27df3)

[2021-07-23 17:30] jyoti3286 commented on #8302
We should populate the name from user profile

[2021-07-23 17:31] stevenc987 commented on #8346
@PatrickAHeath
It meant format of the data. It is updated. Please try it on NRO

[2021-07-23 17:34] mstanton1 commented on #8312
@stevenc987 yes, please refund 5 transactions for the NR 6615764:) Thanks

[2021-07-23 18:09] Kaineatthelab commented on #7960
same issue for this type as above

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/39399c89-90fd-45a1-9fef-abd5ff52e9a0)

[2021-07-23 18:12] SateeshFW commented on #8175
Estimation of 3 is added for analysis of this ticket.

[2021-07-23 18:13] Kaineatthelab commented on #7960
ccc is wrong

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/079dbc31-d9ff-4675-a57f-5876eeb186e1)

[2021-07-23 18:14] Kaineatthelab commented on #7960
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/66ef95df-c4ef-4f5d-a337-1e5535f5ecc8)

[2021-07-23 18:17] Sienna-Blumstengel opened #8351 "Create new fee code"
**Description:**
$250 fee code
"Cooperative Association Incorporation"
Co-ops do not have a service fee of 1.50 on anything
Co-ops do not have tax on anything

**Deadline:**
End of sprint 10.3

[2021-07-23 18:23] stevenc987 commented on #8159
@Sienna-Blumstengel
This record was removed from affiliations table. Please check it.

[2021-07-23 18:27] Sienna-Blumstengel opened #8352 "UI - People and Roles updates"

[2021-07-23 18:28] Sienna-Blumstengel opened #8353 "LEGAL API - People and roles updates"
- [x] new validation rules for directors
  - [x] Minimum 3 directors
  - [x] Minimum 1 in BC
  - [x] Majority in Canada (if 4 directors, 3 must be in Canada. 50% is not a majority)

**Question:**
Do we need a new enum for the role "director"?
**Solution**: We are going to re-use the director role that is already in the schema.

[2021-07-23 18:30] stevenc987 commented on #8312
@mstanton1

OK. 5 transactions were refunded:

![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/33cc7ebd-1fce-4a94-837d-6ceae90e29ac)

[2021-07-23 18:45] stevenc987 commented on #8168
@PatrickAHeath @thorwolpert
I checked that BC0789965 is not loaded to lear. @thorwolpert Could you please help to load this to lear.

[2021-07-23 18:50] SateeshFW commented on #7879
@rarya-freshworks test the scenario given and confirm if we can reproduce this issue.

[2021-07-23 19:40] jyoti3286 opened #8354 "Staff Dashboard: Pagination issue"
**Describe the bug in current situation**
In the staff dashboard when you paginate into some pages and search some accounts, it will show results. after viewing account info, when the user comes back. the table is showing different result

which is not expected

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Cha

[2021-07-23 19:53] PatrickAHeath opened #8355 "NR 0396174 & NR 4444512 - Refund/Payment status"
### ServiceNow incident:  INC0101577
### Contact information
Staff Name:  Kristopher Yee
Staff Email:  bcregistries@gov.bc.ca

### Description
Look into refund/payment status for NRs - they should be no payment or refunded.

[https://app.zenhub.com/files/157936592/1580fda6-e4bc-48dd-8be5-ce6ec92be84c/download](https://app.zenhub.com/files/157936592/1580fda6-e4bc-48dd-8be5-ce6ec92be84c/download)

#

[2021-07-23 20:01] stevenc987 commented on #8355
@PatrickAHeath
Only one payment for NR 0396174
![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/99f16e40-1812-4f0f-8e17-4547b6bda70c)

No payment for NR 4444512
![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/d81bb0a9-fe01-4400-b5c3-8a36e5d87efc)

[2021-07-23 20:09] #7246 closed

[2021-07-23 20:26] mstanton1 commented on #8350
Initial draft of form is available here: [https://app.zenhub.com/files/157936592/c189536c-89b8-4593-b0c2-74d848879412/download](https://app.zenhub.com/files/157936592/c189536c-89b8-4593-b0c2-74d848879412/download)

Things to verify
1) Current BCOL Admin form contains effective date. Given pending transactions or credits impact processing, and this would be submitted by mail and processed in order,

[2021-07-23 20:30] #3584 closed

[2021-07-23 20:43] PatrickAHeath opened #8356 "Webster, Hudson and Coombe - response from invitation not received in account"
### ServiceNow incident:  INC0101579
### Contact information
Staff Name:  Elizabeth Espinosa
Staff Email:  Elizabeth.Espinosa@gov.bc.ca

### Description
Client sent an invitation to add a person to the account, but the response isn't showing.

[https://app.zenhub.com/files/157936592/36216b4c-e6ee-446e-9c61-4b134820edd6/download](https://app.zenhub.com/files/157936592/36216b4c-e6ee-446e-9c61-4b1348

[2021-07-23 20:44] PatrickAHeath commented on #8356
Contacted client for more info.

Hi Lynn!

We received notification of your issue with the invitation response on your account.

Have you tried closing all your browser windows or clearing cache and logging back on?

Have you tried any other invitations?  If so, were they successful?

If that doesn’t resolve the issue, please provide:
•	Account Name
•	Account Number (It will display under Manage A

[2021-07-23 20:46] KevinB-gbc commented on #6929
The attached MS Word doc provides observations and recommendations to inform definition of PPR service availability and other service level targets.

[https://app.zenhub.com/files/157936592/78c27252-165a-45b1-b1e5-5021f1d2bc26/download](Input on service and operational level targets for PPR)

[2021-07-23 20:57] mstanton1 commented on #8183
Sent to client and Debbie B. SBC IT Ops and BCROS BA Inbox has been sent the email as well.

Good Afternoon Barb,

Thank you for reaching out about the transaction reporting concerns. We have reviewed records in BC Online, the new system, and then the report to better understand what is happening.

In the report we noticed that lines were added. They ended up splitting up the transactions differen

[2021-07-23 21:11] mstanton1 commented on #8312
SBC IT Ops, BCROS BA and Sharon and Debbie have been advised of the resolution. I have requested they follow up with the client.

[2021-07-23 21:20] mstanton1 commented on #8220
We have not heard back from the client so it appears no further action is required. As per the screenshots above the extra payments were previously refunded.

[2021-07-23 21:46] #8237 closed

[2021-07-23 21:56] doug-lovett commented on #7639
2 issues from investigation:
1. Change type 'RC' REGISTRY CORRECTION is new to the API and not handled in the reports.
2. Migration of TG financing statements is missing some data in the registrations table: account id and base_registration_num for CHANGE registrations.

A change for item 1 will go in the next deployment to dev.

[2021-07-23 21:57] chdivyareddy opened #8357 "Review and Confirm Stepper Red X icon Issue"
**Environment:** DEV and TEST

**Steps to Reproduce:**
1. Navigate to PPR dashboard.
2. Click on Security Agreement.
3. Navigate to step4 without finishing all the steps and click on "Register & Pay" button, then all the unfinished steps will trigger Red X icons.
4. Navigate back to all the three steps (Length & Trust Indenture, Secured Parties & Debtors, Collateral) and fill the details.
5. Now,

[2021-07-23 22:04] andrepestana-aot commented on #7277
Since we don't keep the paymentMethod in namex DB it will do a request to sbc-pay multiple times to check it. I wonder if it is not an issue.

@lmcclung
If there are multiple payments with different payment methods (refundable and not refundable), how should it is decided it is refundable?

[2021-07-23 22:07] janisrogers commented on #8042
I have started a sheet that describes the actions [here](https://docs.google.com/spreadsheets/d/1mtkqEWh661NdG6OBdhUD3kS9vHk_Esqm6caTtrWHPQs/edit?usp=sharing)

[2021-07-23 22:07] chdivyareddy commented on #7358
New Issue found with Step4 Red X icon, created new bug ticket [#8357](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8357)

[2021-07-23 22:09] mstanton1 commented on #8355
@PatrickAHeath / @stevenc987 I've sent a request to IT Ops to lookup the priority fee for NR 0396174 so we can better understand the status.

In the pay db invoice_id 56721 is showing in refunds with no refund reason, and a service account as the requested_by. Name Requests using the service account for refund calls.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/988b1

[2021-07-23 22:09] janisrogers commented on #8042
I have started the design https://preview.uxpin.com/2a7a17d606bfd21b551cbf0c65524202660fdbb0#/pages/140577962

[2021-07-23 22:14] mstanton1 commented on #7277
@lmcclung food for though. The design for refunds was such that the system calling our refund service does not need to know what the payment method is. By calling our endpoint the PayAPI will determine the payment method and the appropriate action. The only check intended on the Name Request side is the verification that work has not yet been done so the NR refund can go through without any busine

[2021-07-23 22:33] Sienna-Blumstengel commented on #8343
[https://app.zenhub.com/files/157936592/206a0300-2023-4ddb-8979-c9b68cf94884/download](https://app.zenhub.com/files/157936592/206a0300-2023-4ddb-8979-c9b68cf94884/download)

My changes ^^^

@trishreimer @MariWilson

[2021-07-23 22:36] Sienna-Blumstengel commented on #8343
@Sienna-Blumstengel add this
https://docs.google.com/spreadsheets/d/1mtkqEWh661NdG6OBdhUD3kS9vHk_Esqm6caTtrWHPQs/edit?usp=sharing

[2021-07-23 22:45] mstanton1 commented on #7916
@Sienna-Blumstengel @amit4610 @janisrogers @PatrickAHeath

As we discussed, given the limited number of cases where online banking was submitted in error, rather than rewriting web site content we could benefit from understanding where clients went wrong. I've drafted a few questions below that I propose we provide to the business as a script. Please review and edit as you see fit!

1. What filing

[2021-07-23 22:46] jdyck-fw opened #8358 "Onboarding for Amber Andresen - ZenHub"
**Onboarding checklist for new team members**

-----------------

**GitHub & ZenHub**
- [x] 1. First, the new user is to go to github.com to register their account (using all lower-case for their name if it's a new account)
- [x] 2. Next, the new user is to verify that 2 factor authentication is enabled
- [x] 3. Once the account creation and 2fa are completed, send a message to an admin to request

[2021-07-23 23:12] mstanton1 commented on #8213
@sumesh-aot Entities has a spreadsheet with the necessary mapping and has sent the link for us both to be editors. Please let me know if there is anything further needed in the mapping:)

[2021-07-23 23:13] Sienna-Blumstengel commented on #6824
p 24, add how to request a name

p54 small

p69 lots of updates

p 91 lots of updates, but can probably copy from elsewhere

p116, lots of updates, might need help figuring out what is OneStop specific, and what is NRO. ALso links broken

p130 start from scratch, not sure what to say, might consult staff and Kaine

@trishreimer looks like maybe 5 hours of work, factoring in review time from Kaine

[2021-07-23 23:14] lmcclung commented on #8213
@mstanton1 @sumesh-aot
Spreadsheet is here:  https://docs.google.com/spreadsheets/d/15OW85sMnOrY3dbcrKFJMo5xSWNudcmjvfVjeLYi-K54/edit?usp=sharing

FYI, all NRs created in Name Request app should be affiliated, not just the ones with a target of 'lear'

[2021-07-23 23:16] sienna-blumstengel opened #8359 "Change font in NameX"
## Background
Examiners have expressed concern with the current font in NameX. It makes it hard to read some letters, and they find themselves going to NRO to double check that they read the name correctly.

Also, Scott and Tracey have pointed out that this font does not meet accessibility standards.

We are switching to a new font, BC Sans.

## Acceptance Criteria
GIVEN i am on NameX
WHEN i am on

[2021-07-23 23:19] Sienna-Blumstengel commented on #8326
#### Email draft

Hi all,

The modernization team is releasing a new filing to the BC Business Registry - Cooperative Association incorporation filings.

This will be a self-serve online filing for clients.

[2021-07-23 23:24] sumesh-aot commented on #8213
@lmcclung @mstanton1 So for manual affiliation and auto-affiliation (not in place yet), we need to affiliate the NR regardless of the NR request type, but we will need to add the check on dashboard when the user clicks on 'Open' button from dashboard.
FYI the new dashboard is still in development, so if we make this change on backend, will need to add the check on existing frontend on the UI. Is i

[2021-07-23 23:27] PatrickAHeath commented on #8346
@stevenc987 The date in NRO is still showing a year of 0009

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/65209b59-3f84-436a-b13e-d3dc7122cbb3)

[2021-07-23 23:29] sumesh-aot commented on #7277
Just to add, all payments are refundable (via different means; email for CC, BCOL and credit for PAD, Online Banking), except for staff initiated payments with routing slip (as we don't have any integration with FAS). But when we have the new FAS in place, we could add it if is a real business case. So I would suggest leaving this to pay system, as it's a pay rule rather than implementing on indiv

[2021-07-23 23:40] doug-lovett commented on #8037
The API call to generate the PDF is taking longer than the API timeout of 20 seconds. Looking in the log, the report is generated.

[2021-07-23 23:42] doug-lovett commented on #8038
The API call to generate the PDF is taking longer than the API timeout of 20 seconds. This ticket does not track  issues with the search results PDF.

[2021-07-23 23:43] chdivyareddy commented on #7270
Verified in TEST.
![Folio(TEST).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/0ae7491d-4395-4d98-a33f-b97315f634b3)
![Folio1(TEST).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b123c579-8c8b-4624-b391-ddc39ac45a24)

[2021-07-23 23:46] PatrickAHeath commented on #8159
Thanks @stevenc987 !

Please add an estimate to the ticket and assign a sprint.

[2021-07-24 00:19] lmcclung commented on #7996
Closing this ticket as the work to affiliate all NR types to the manage business dashboard will be done under ticket 8213 by Sumesh.

[2021-07-24 00:19] #7996 closed

[2021-07-24 00:27] lmcclung commented on #6852
Closing this ticket as we decided to implement cloud events.  We will not create a draft IA at time of affiliation.

[2021-07-24 00:27] #6852 closed

[2021-07-24 00:49] lmcclung opened #8360 "Incorporate LTD CCC ULC - Part 2"
Work to complete before we can release incorporations for BC LTD, CCC, ULC.
This is a continuation of Epic 6705 - which we deprioritized in PI 9 (Summer 2021).

[2021-07-24 01:24] lmcclung commented on #7950
@forgeuxGH5 I'm created a new epic for incorporating BC LTD, CCC, ULC and moving this ticket there.  We are deprioritizing LTD, CCC, ULCs for now to focus on Coop IA's.

[2021-07-24 01:26] lmcclung opened #8361 "Incorporate LTD ULC or CCC - UI changes"

[2021-07-24 01:46] lmcclung commented on #7949
points will need to be counted when we finished off incorps under epic 8360

[2021-07-24 01:47] #7572 closed

[2021-07-24 01:59] lmcclung commented on #7570
I believe these have all been merged to production already.

[2021-07-26 15:11] PatrickAHeath commented on #8356
Response received from client with additional info.

Account Number: 2120
Account Name:  WEBSTER HUDSON & COOMBE LLP
Invitation sent to: marianne834@gmail.com (Marianne Jones)

[https://app.zenhub.com/files/157936592/0786fa41-f03a-4152-a5e2-6ebd9ebf63f7/download](https://app.zenhub.com/files/157936592/0786fa41-f03a-4152-a5e2-6ebd9ebf63f7/download)

[2021-07-26 15:37] sumesh-aot commented on #8356
@PatrickAHeath I have resent the invitation as a staff admin. I don't think the user was using the button in the email to join the account, instead was just logging in with BC Services Card. Please send these below steps to them;
- Ask marianne834@gmail.com user to check email again and click on the 'Join Account' button. (if the user logs in to the account without clicking this button, they won't

[2021-07-26 15:48] argush3 commented on #8247
@riyazuddinsyed to test this you can do the following.

1. create NR or use existing NR.
2. open NR in names examination UI
3. add a staff comment
4. open transaction history for NR
5. check the call to the events endpoint(e.g. https://namex-dev.apps.silver.devops.gov.bc.ca/api/v1/events/NR%208297510) returns a `comment` field with the comment added in step 3.  an example of the api call is includ

[2021-07-26 15:51] kialj876 commented on #8242
@Sienna-Blumstengel I ran this one through last week (it's already been unaffiliated etc. - didn't realize  was supposed to wait for verification first)

[2021-07-26 15:55] Sienna-Blumstengel commented on #7948
We have decided not to allow CANCELLED NRs to be resubmit. Only the above statuses

[2021-07-26 15:59] vysakh-menon-aot commented on #7736
No

[2021-07-26 16:03] amit4610 commented on #8356
Thanks @sumesh-aot. Closing this and notifying IT Ops.

[2021-07-26 16:03] #8356 closed

[2021-07-26 16:07] severinbeauvais commented on #8245
The final UI tweaks above have been implemented, and the build has been deployed to Dev.

Please standup on Friday, I am now moving this ticket directly to RFQA. (Further UI tweaks should be in a new ticket.)

[2021-07-26 16:08] severinbeauvais commented on #8246
The changes in this ticket have been implemented, and the build has been deployed to Dev.

Please have a quick look and then move this ticket to RFQA as soon as possible. Thanks!

[2021-07-26 16:11] amit4610 commented on #8356
sent steps to the client

[2021-07-26 16:15] #8220 closed

[2021-07-26 16:18] shabeeb-aot commented on #7476
its working as  expected due to last code changes

[2021-07-26 16:22] rkim13103 opened #8362 "UX/UI Design -FAS Routing Slip Review UI"
Design Review page after creating a routing slip
Review page should include:
1.All details of he new routing slip
2. Ability to edit the routing slip
3. Save and continue

Review with Staff
-Review designs with FAS Admin team
-Implement&add design if needed

[2021-07-26 16:35] amit4610 commented on #8346
@stevenc987 will you be completing this or @sumesh-aot who is on ops today?

[2021-07-26 16:42] chdivyareddy opened #8363 "PDF download is taking longer than the API timeout of 20 seconds."

[2021-07-26 16:44] chdivyareddy commented on #8037
Created new ticket for PDF download issue [#8363](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8363)

[2021-07-26 16:46] chdivyareddy commented on #8038
Created new ticket for PDF download issue [#8363](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8363)

[2021-07-26 16:51] jdyck-fw commented on #8042
Visual design is in 7745

[2021-07-26 16:57] #8312 closed

[2021-07-26 16:59] #8183 closed

[2021-07-26 17:10] amit4610 commented on #8229
Can I please know the order ID for NR 5185685 and NR 8441512? @sumesh-aot

[2021-07-26 17:16] mstanton1 opened #8364 "Provide BA's with ability to trigger refund endpoint from transaction history"
* As a business analyst
* I want the ability to trigger an refund on a client transaction
* so that I can support refunds in cases where a client is unable to trigger the refund themselves (e.g. work has already commenced on NR so business approval is required, partner transaction/legal filing requires business approval).

**Acceptance Criteria**

**Scenario 1: Transaction included one fee and has

[2021-07-26 17:29] sumesh-aot commented on #8229
[code]

[2021-07-26 18:00] amit4610 commented on #8229
Thanks. Notified CAS and IT Ops.

[2021-07-26 18:00] #8229 closed

[2021-07-26 18:27] tlebedovich commented on #8246
@severinbeauvais - do you have a sample NR in DEV I could look at? I can't find NR 7937902

[2021-07-26 18:37] jinghualicgi commented on #7534
Put this as high priority, @Kaineatthelab suggested we add this in Assets 10.2 planning (July27th). @thorwolpert, please comment on previous question: "can we add PPR roles on IDIR account? Please confirm". Thanks

[2021-07-26 18:51] severinbeauvais commented on #8246
You can pick any Approved or Rejected NR in Dev (sort by Submitted latest at top) in https://namex-dev.apps.silver.devops.gov.bc.ca/.

[2021-07-26 18:54] severinbeauvais commented on #8246
Sample rejected NR:

![image](https://user-images.githubusercontent.com/10002889/127042985-6e9d1f70-1697-4729-9bd2-ec3bea4d57e8.png)

Sample approved NR:

![image](https://user-images.githubusercontent.com/10002889/127043143-3108f2f7-9ca8-4245-9944-317bacb124fc.png)

[2021-07-26 19:26] tlebedovich commented on #8246
thanks so much @severinbeauvais. It looks like this is good to go. I just wanted to double confirm with you that its always pulling the "the message to requestor text, not just the macro" - it seems like it is, but it seemed odd that for this NR below (Name 1) the older history items show the company that "Consent required from Central Care Medical Pharmacy", but in the new/recent transaction item

[2021-07-26 19:34] severinbeauvais commented on #8246
This seems right to me. The header shows the latest "decision text" (same as top transaction). How that was set is outside the scope of this ticket.

[2021-07-26 20:11] lmcclung opened #8365 "UX/UI - Design changes for Coop Incorp"
- [ ]  think about validations

- [ ] Coop outputs - decided not to do designs for outputs.  Just UX assurance.  May need to put in coop type component in the IA.  Linda to confirm.

See 7683 for more details
Tool tip header -
- [ ] 2nd button should stay as People and Roles
-
Step 1 - no changes
Step 2
- [ ] use BEN company design where user can add completing party
- [ ] do not default "delivery

[2021-07-26 20:11] Sienna-Blumstengel opened #8366 "UI - Review Registered Office addresses"

[2021-07-26 20:14] jdyck-fw commented on #8358
@pwei1018 - Could you please add Amber to our ZenHub permissions? Her GitHub ID is https://github.com/amberandresen

[2021-07-26 20:18] yuisotozaki commented on #7561
☝️ Not sure if the API is doing what the [requirement](https://docs.google.com/document/d/1DHPmLp1nH368anJX4kPntPlMhvo-74D-cPOoOpGvJLw/edit) is asking for. The requirement says first 5 letters. 🤔

[2021-07-26 20:25] Sienna-Blumstengel opened #8367 "UI - Validation"
- [ ] add red borders for each component
- [ ] add validation changes
- [ ] Determine when we want to prompt these validations
  - Prompt it if they click the link on the link to the step where info is missing
  - The page needs to know wether to show validation or not, and how to set the flag. We do have the global flag when they click "file and pay", but it is a bit late in the process to tell p

[2021-07-26 20:26] tlebedovich commented on #7561
@PatrickAHeath @Kaineatthelab - For the Security Step for a Total Discharge/Renew - Can you confirm whether we should use Debtor First and Last Name (which apparently is what the API is using), or First 5 letters of a debtor's name (what the requirements doc says).

c/c @doug-lovett @jordiwes @yuisotozaki @janisrogers

[2021-07-26 20:34] lmcclung commented on #7217
Certificate
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/32c0c3ba-fff7-4a42-9325-700235ee1346)

[2021-07-26 20:39] lmcclung commented on #7217
IA -
 ![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/0c43090c-2505-4e22-8472-0a87e7c3c99e)

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/27bf1df9-4c58-40a5-a909-ee5a8d615e50)

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/a729b6f9-7918-4c45-a8bf-3d2170f55bbf)

[2021-07-26 20:40] tlebedovich commented on #7679
@rkim13103 - Can you check your design links above to see if they are the correct design links? They don't appear to be.

[2021-07-26 20:44] sumesh-aot commented on #7594
This has been addresses as part of another techdebt ticket. Can be closed.

[2021-07-26 20:46] rkim13103 commented on #7679
Updated the Design links!
The link contains several design variations. We are planning to decide on the design on Wednesday's design meeting, so I'll update the design link when the design is decided.

[2021-07-26 20:46] tlebedovich commented on #7679
- let's use Arial Bold/Regular for the system email fonts
- use the text colours from the app style guide since this is screen-based (

- need to design a nice header treatment that includes the following:
- bc gov logo
- bc registries and online services
- app name
- optional - title of communication (unless this is already covered in the email subject line)
- sample header, subhead and body text

[2021-07-26 20:47] sumesh-aot commented on #6048
We have added duplicate account check in place (which was not there at the time of this ticket for linked BCOL accounts) to address same party being allocated to multiple accounts, and this shouldn't happen anymore.

[2021-07-26 20:51] lmcclung opened #8368 "Filer - certify rules and memorandum"
#### Add to the top:
- [x] Effective Date/time of filing
- [x] Coop number
- [x] Registrar's stamp

#### TO DO
- [x] Do 8436 first⚠️ Integrate library to "compose" PDFs **(This work will be completed in 8436)**
- [x] Fetch the documents from Minio
- [x] Add the certificate stamp, co-op number, and original effective date
- [x] Return the 2 separate stamped PDFs to the UI
- [ ] ~Postman for Riyaz~

[2021-07-26 20:56] Sienna-Blumstengel commented on #8290
![image.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/6e277358-b958-4d1f-98a1-7ef1f4cb55d1)

[2021-07-26 21:24] tlebedovich commented on #7960
@kialj876 - here is another wacky example for a limited partnership --

also @Kaineatthelab @lmcclung - we really should create a ticket for staff (or us) to modernize and fix up all of their old description text - lots of bad grammar/typos/random capitalization and some outdates terms like "scan".

![Screen Shot 2021-07-26 at 2.16.01 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e

[2021-07-26 21:35] Kaineatthelab commented on #7960
That is a good point! Probably needs manual intervention.... I'll see what I can do...

[2021-07-26 21:55] tlebedovich commented on #8261
@kialj876 - Here is my UX Assurance. This is for visual/UI design and doesn't include complete testing which should be done by staff and QA-

- [ ] Complete the Visual Design Updates as per check box item above
- [ ] missing this example copy for the "Ensure you are using numbers correctly" number handling message (as per check box above).

For example:
Pacific Enterprises (1997) Ltd.

![Screen Sh

[2021-07-26 21:58] #6983 closed

[2021-07-26 21:59] #8106 closed

[2021-07-26 22:00] #7260 closed

[2021-07-26 22:02] #7259 closed

[2021-07-26 22:06] doug-lovett commented on #8349
Verified in DEV with SA financing statement registration number 100008B.

[2021-07-26 22:11] Maribeth-Wilson opened #8369 "Business operations dashboard for OCM planning"
Discuss creation of business operations dashboard for OCM planning (include Trello calendar view, OCM MVP, flow of value).

Issue copied from Trello (Not Started/Backlog list).  Olisa to review.

Labels to apply: OCM, Program

[2021-07-26 22:12] jinghualicgi commented on #7866
@Kaineatthelab , any update regarding this ticket? We move this ticket out of "In Progress" and put it back "Backlog". Please let us know if you are not okay with this :)

[2021-07-26 22:20] #7594 closed

[2021-07-26 22:20] rarya-freshworks commented on #7594
Closed the ticket based on @sumesh-aot comment above.

[2021-07-26 22:23] tlebedovich commented on #7138
@jordiwes - items in my checklist were done (except for one - which is a lower priority so a nice to have if/when you feel like it.)

Were these ready to be ux assured or were they still in progress to make sure they are closer to the design comps before I review them? I'd prefer you did check your build against the design comp for colours, font styles/sizes, spacing, icons colours, capitalization

[2021-07-26 22:27] MBWilson opened #8370 "Maximus support"
Discuss support with Maximus.

Issue copied from Trello (not started/backlog list). Olisa to review.

Labels to add: OCM, Program

[2021-07-26 22:31] Maribeth-Wilson opened #8371 "Mobile card concerns"
Collect info re: concerns of using services card and personal devices and send to IDIM.

Issue copied from Trello (Not Started/Backlog list). Olisa to review.

Labels to add: OCM

[2021-07-26 22:36] chdivyareddy commented on #8038
Verified in DEV.

[2021-07-26 22:37] chdivyareddy commented on #8037
Verified in DEV.

[2021-07-26 22:38] MBWilson opened #8372 "Review and approval process for external comms"
Refine our review and approval process for external communications

Issue copied from Trello (Not Started/Backlog list). Olisa to review.

Labels to add: OCM, Program

[2021-07-26 22:54] MBWilson opened #8373 "Review Project and program accountabilities for CM"
Review Project and program accountabilities for CM:
•	ISSUES
•	REPORTING & UPDATES
•	SIGN-OFF/APPROVAL

Issue copied from Trello (Not Started/Backlog list). Olisa to review.

Labels to add: OCM, Program

[2021-07-26 22:59] MBWilson opened #8374 "Maximize use of Zenhub"
Move Registries on to ZenHub - how do we move them to the app, set up users, different workspaces, etc.

Issue copied from Trello (Not Started/Backlog list). Olisa to review.

Labels to add: OCM, Program

[2021-07-26 23:13] chdivyareddy commented on #8192
Verified in TEST with random MHR number search on "088348, 099848, 101404, 093034, 009580".

[2021-07-26 23:14] severinbeauvais commented on #8222
@lmcclung Can you clarify please?

I believe we have both Renew and Resubmit features. Unfortunately I think the code atm uses action REAPPLY to mean renew. I think we should rename this action to RENEW.

This ticket implements the RESUBMIT action (which may have been called REAPPLY previously). I think we should rename this RESUBMIT.

[2021-07-26 23:17] Maribeth-Wilson opened #8375 "Prepare info note for BC Chamber of Commerce"
Issue copied from Trello (Not Started/Backlog list). Olisa to review.

Labels to add: OCM, Program

[2021-07-26 23:23] Maribeth-Wilson opened #8376 "OCM communications calendar"
OCM communications activities: create calendar of events for INTERNAL: engagement, training and communications - current PI

Issue copied from Trello (In progress list). Olisa to review.

Labels to add: OCM, Program

[2021-07-26 23:25] MBWilson opened #8377 "OCM playbook"
Trish to co-create.  Details to follow

Issue copied from Trello (Not Started/Backlog list). Olisa to review.

Labels to add: OCM, Program

[2021-07-26 23:28] MBWilson opened #8378 "OCM training overview"
OCM training overview: Develop OCM overview training for BAs delivering OCM

Issue copied from Trello (Parked for current 2 weeks list). Olisa to review.

Labels to add: OCM, Program

[2021-07-26 23:34] andrepestana-aot commented on #8222
@lmcclung @Sienna-Blumstengel  we have an EXPIRED state as it is shown in [state.png](https://github.com/bcgov/namex/blob/main/docs/img/states.png). Why do we need the following logic: "The NR state would be 'approved' or 'conditional approved'."?

Shouldn't it be: "If NR has status EXPIRED, then show button RESUBMIT" ?

[2021-07-26 23:35] Maribeth-Wilson opened #8379 "Media release for names request"
Media release for names request in June (TBA)

Issue copied from Trello (Parked list). Olisa to review.

Labels to add: OCM

[2021-07-26 23:37] tlebedovich commented on #8201
@kialj876 - UX Assurance Notes:

This may need some additional tweaking once @forgeuxGH5 and @janisrogers comes back, but here is my UX feedback;

- [ ] Default field label text colour should be #495057
- [ ] Entered text colour should be #212529

- [ ] If user selects a country and  fills in the additional address information, then decides to change the country, I think changing the country dropd

[2021-07-26 23:38] lmcclung commented on #8213
@mstanton1 @Sienna-Blumstengel here are my notes from today's meeting

As per discussion on July 26th with both teams...

- Type, Status, Folio currently stored in Auth
- need to add Last Modified and store it in Auth as well
- will not include Modified by in front or backend for MVP

Based on status of NR Entities team will make other calls to check business names and action items
Business name s

[2021-07-26 23:46] #7570 closed

[2021-07-26 23:47] #7811 closed

[2021-07-26 23:47] #7825 closed

[2021-07-26 23:47] #7827 closed

[2021-07-26 23:47] #7828 closed

[2021-07-26 23:47] #7829 closed

[2021-07-26 23:48] #8246 closed

[2021-07-26 23:48] #8245 closed

[2021-07-26 23:49] #8248 closed

[2021-07-26 23:51] #8126 closed

[2021-07-27 00:06] chdivyareddy commented on #8161
1. Update BC Registries to "BC Registries and Online Services"
![Header.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/514cc964-52a0-41af-9717-d98b96630aae)
2. Add "BCOL Account Number", update "Statement Period" and the blue banner section with "Total Amount" & the amount associated with it to Bold fonts in page1.
![Page1.PNG](https://images.zenhubusercontent.com/60cd147b9008d

[2021-07-27 00:09] #8247 closed

[2021-07-27 00:33] #7814 closed

[2021-07-27 00:38] #8098 closed

[2021-07-27 00:38] #7837 closed

[2021-07-27 00:38] #8049 closed

[2021-07-27 00:40] #8164 closed

[2021-07-27 00:45] lmcclung commented on #8244
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/4a5ab891-1476-4d4b-bc1d-b2ca09b966e6)

and

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/5e095b23-4dfd-435c-9765-d35cb0d38d92)

[2021-07-27 00:45] tlebedovich commented on #8298
hi @yuisotozaki - did you want to move this to "Review Dev/Design" if it needs review from Linda/Kaine (which you could do Wednesday) or "Done" column if its complete? You will need to ask Linda or Kaine to attached this UI ticket to a Dev ticket and Epic before doing so though so it doesn't get lost.

[2021-07-27 00:56] lmcclung commented on #6597
Nothing in the to do list anymore!  Yay!
Hometeam suppressed the outputs on SOFI.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/f6dfafdd-56ac-40dd-abb5-73347b1b96b5)

[2021-07-27 00:56] #6597 closed

[2021-07-27 01:01] #7776 closed

[2021-07-27 01:16] lmcclung opened #8380 "My Business Dashboard enhancements"
epic for enhancements to by business dashboard

- [ ] Modified by
- [ ] Way for a user to filter out anything that they didn't work on
- [ ] Advanced Search
- [ ] Numbered company chevron

- [ ] Update business registry homepage

[2021-07-27 01:21] lmcclung commented on #4013
Closing this ticket.  Status of NR will be included in epic 4217 - Manage Business Dashboar/My Account

[2021-07-27 01:21] #4013 closed

[2021-07-27 01:22] #4032 closed

[2021-07-27 01:23] lmcclung commented on #4032
Duplicate epic.  See 4217 & 8380

[2021-07-27 01:55] chdivyareddy commented on #7268
Verified in DEV.
![Step2ViewonStep4(DEV).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/99203b57-fa2e-4444-bb06-c19936353c3e)
![Step2View(DEV).png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/fc51ee75-68ac-4657-a20d-445456e1ae6f)

[2021-07-27 03:06] tlebedovich commented on #6535
@Kaineatthelab @PatrickAHeath - this ticket is ready to go when you guys are ready. I put the final design recommendations up top in the description.

[2021-07-27 04:01] Kaineatthelab commented on #6535
@pwei1018 are you able to implement this in prod asap as per the notes on the top:)?

[2021-07-27 05:46] jyoti3286 commented on #8200
This should be done, isn't @saravanpa-aot ? FAS is currently in Test

[2021-07-27 10:26] rarya-freshworks commented on #7476
I checked out a few N/A address using my IDIR as a Staff admin but wasn't able to reproduce the issue. @shabeeb-aot @Sienna-Blumstengel I am closing the ticket.

[2021-07-27 10:26] #7476 closed

[2021-07-27 15:27] #7818 closed

[2021-07-27 15:29] sumesh-aot commented on #8195
@rarya-freshworks You won't be able to test this from the UI as the change is on vital statistics application. The filing type code is WILLRUSH, you can test using the fees endpoint. `/api/v1/fees/VS/WILLRUSH`

[2021-07-27 15:37] lmcclung commented on #7119
@thorwolpert

This one is ready for you to dissolve.  All the info you need is on the form attached below.

https://app.zenhub.com/files/157936592/bdc3049e-31e3-474d-b3c4-5de4d0407092/download

[2021-07-27 15:39] lmcclung commented on #7158
@rarmitag

Hi Richard, can you load these coops?  There are now at least 7 of them... CP0002380 - CP0002386 - see comment above

[2021-07-27 15:46] pwei1018 commented on #6535
@Kaineatthelab the feedback is in Test now. The Test site is using 'Basic' plan. SO, you still see the original style icon and Hotjar banding.

[2021-07-27 15:48] chdivyareddy commented on #7137
"Email Address" text field is missing both in Individual & Business Debtor.
![EmailAddress_Missing(DEV).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/95dea8db-ba65-4c29-aa2b-ef7cf8442249)

[2021-07-27 15:50] Kaineatthelab commented on #6535
ok just waiting for @lmcclung and @trishreimer sign off... will need a small communication @Sienna-Blumstengel

Do you want it on when the other release goes?

[2021-07-27 15:52] yuisotozaki commented on #7561
Answer to above on RocketChat.
* Exact first name last name of base debtor for Discharge and Renew actions
* First 5 letters when adding a registration
![image](https://user-images.githubusercontent.com/56084999/127183881-175f2e74-060e-4ea0-8403-7c0a3de8d233.png)

Details to still hammer out
* Are middle names included in the exact match and first 5 letter match logic?
* What is the format of the

[2021-07-27 16:10] rarmitag commented on #7158
I still don't have access to the private repo, but I have touched base with Patrick Simonian and hopefully he's working on it.

[2021-07-27 16:23] doug-lovett commented on #7853
A few updates:
1. Added registeringName to the get drafts and get registrations response (above examples updated).
2. Added get registrations query parameter "collapse" to return the response data organized  hierarchically as financing statements/registrations (parent/child).

[2021-07-27 16:28] lmcclung commented on #8182
@Sienna-Blumstengel can you get back to Anderson and let him know he can disregard your latest email?

The 2018 AR was filed in October 2018 and imported in the pre-bob stuff.  Looks like maybe the 'last as at date' or 'last AR date' wasn't set correctly and that's why we're still showing the 2018 as outstanding.

Can one of the devs look into this?

![image.png](https://images.zenhubusercontent.c

[2021-07-27 16:42] thorwolpert commented on #8182
![image.png](https://images.zenhubusercontent.com/5a73d26b4b5806bc2bc5522c/6b2217fd-997d-476c-a37d-de73f53fe854)
should be fixed now

[2021-07-27 16:46] severinbeauvais commented on #8222
See also:

![filing-states.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/67e0903d-b9e3-4858-a0c6-ad983afb639c)

[2021-07-27 16:46] mstanton1 commented on #8350
Further information has been obtained on the following:

1. See below information on use of effective date. This does not add value and we cannot confirm closure of an account on a set date. If a client wishes to prevent transactions as of a specific date the recommendation is to have BCOL Admin suspend the account on that date, and keep it suspended until the form is processed.

_First of all the

[2021-07-27 16:49] andrepestana-aot commented on #8222
Should we consider whether the NR was consumed or not?

Should we consider whether the NR has consent sent or not?

[2021-07-27 16:49] tlebedovich commented on #7561
Conversation from Rocket Chat;

Yui:
In both Discharge and Renew epics, there is a “you need to enter 5 letters of the debtor’s last name or business name” called out in the requirement documents.
I heard that the API requires exact match (case sensitive?) for the full name of a debtor on the registration.
So which is it? Just 5 letters or exact match? And for exact match, is it just for debtor’s

[2021-07-27 16:50] tlebedovich commented on #7561
![image.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/99e598a7-5b2a-46d6-8ac9-be35a892b59d)

[2021-07-27 17:13] thorwolpert commented on #8168
Did you save the notebook you were using, or at least the filing id?
I'll try searching about ...

[2021-07-27 17:19] SateeshFW commented on #8058
@jyoti3286  - Please check the PIA details and confirm if any further changes need to be done

[2021-07-27 17:36] tlebedovich commented on #7561
FINAL DECISION (FOR NOW):

- Keep modal when user clicks Total discharge/Renew (confirm Amend TBD)
- UI modal should ask for a base debtor's LAST Name or BUSINESS Name (don't need first name)
- backend will only be searching for first 5 letters, but user doesn't need to know that
- **ON HOLD** - remove the word "base" debtor, it will be ANY **active** debtor (keep base debtor wording for now)
- if

[2021-07-27 17:48] jyoti3286 commented on #8058
@SateeshFW - The PIA has not been updated yet. We have just submitted the checklist.

[2021-07-27 17:56] yuisotozaki commented on #7560
Decision log around "debtor name verification" is captured in the [Discharge UI Design ticket comment here](https://github.com/bcgov/entity/issues/7561#issuecomment-887701279).

[2021-07-27 18:23] tlebedovich commented on #7561
@yuisotozaki - comment from sprint review:

- Court Order fields - should "Registry" field be label be more specific?
- Kevin mentioned him and Janis talked about some other specifics of the court order fields that may be needed

[2021-07-27 18:30] mstanton1 commented on #7989
Draft form started here: [https://app.zenhub.com/files/157936592/f24fc673-8f51-4b4b-95e2-53e3319960c4/download](https://app.zenhub.com/files/157936592/f24fc673-8f51-4b4b-95e2-53e3319960c4/download)

Pending decision on whether to include this as an optional section within the account deactivation form.

Note - as per a review of the H1 Canada Processing Rules the following will apply and should be

[2021-07-27 18:35] thorwolpert commented on #8168
This has an error getting the party info (bad directors) for the business.
Will need to do some data spelunking

[2021-07-27 18:43] Sienna-Blumstengel commented on #7609
Client was told this would be done July 1st, and are asking about progress. Can we escalate this?

[2021-07-27 18:46] tlebedovich commented on #7137
We did not have currently have Email address as a requirement for Debtors in our design comps or wireframes, only for secured and registered parties. @PatrickAHeath please confirm email address is not required for individual or business debtors.

[2021-07-27 18:53] tlebedovich commented on #7137
I see it in your original requirements doc @PatrickAHeath, so I'm curious why it wasn't in the wireframes - maybe it was just missed?

![Screen Shot 2021-07-27 at 11 51 48 AM](https://user-images.githubusercontent.com/2207887/127211248-1bc6b67a-f000-4d91-a7f4-da0fcdb1477e.png)

[2021-07-27 20:01] lmcclung commented on #5546
Standby databases demo'd by Patrick in Sprint reveiw July 27, 2021.  Release July 24/25.

[2021-07-27 20:04] lmcclung commented on #8182
@thorwolpert
Sweet!  I'll throw a 1 pointer on it, but if it should be different, please change it before EOD.

[2021-07-27 20:04] lmcclung commented on #8182
No release required.

[2021-07-27 20:04] #8182 closed

[2021-07-27 20:18] andrepestana-aot commented on #7277
We had a meeting and we decided to:

- Create a pending ticket for relationship to send the message for successful and failure.
  - Define what would be the generic messages (wording) for the relationship to return.
- The refund is done by the invoice. So in case of more than one invoice for an NR, Namerequest needs to decide what invoices the refund will be requested.

[2021-07-27 20:28] lmcclung commented on #7609
@thorwolpert

AM_LI is the same thing as a staff detail that gets added to a ledger.
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/2674c900-fc22-4b32-b731-56919643ac24)

COGS1 don't appear in the ledger.  Not sure what we need to do with these admin things.  Probably just add to postgres.  Do we differentiate between FILING, ADMIN, SYST, CONV, etc. in our database?

[2021-07-27 20:30] #7001 closed

[2021-07-27 20:43] PatrickAHeath commented on #7137
@tlebedovich Not sure why it wasn't included in the wireframes.  For consistency with the other parties, I feel it should be included.

[2021-07-27 20:47] PatrickAHeath opened #8381 "Compare SA Registration Verification PDF to Search PDF"
Compare current system Registration Verification PDF to new system Search output PDF to confirm that all content is included in the Search PDF format.  This will determine if changes are required to the current layout if used for the Registration Verification PDF.

Current PPR Registration Verification and field compare:
(Updated with Required Changes 2021/08/25)

[https://app.zenhub.com/files/157

[2021-07-27 20:52] PatrickAHeath opened #8382 "Compare RL Registration Verification PDF to Search PDF"
Compare current system Registration Verification PDF to new system Search output PDF to confirm that all content is included in the Search PDF format.  This will determine if changes are required to the current layout if used for the Registration Verification PDF.

Current PPR Registration Verification and field compare:

- Yellow highlights indicate differences between current and new design.
- A

[2021-07-27 20:53] PatrickAHeath opened #8383 "Compare FR/LT/MH Registration Verification PDF to Search PDF"

[2021-07-27 20:54] PatrickAHeath opened #8384 "Compare SG/FL/FA/FS Registration Verification PDF to Search PDF"
Compare current system Registration Verification PDF to new system Search output PDF to confirm that all content is included in the Search PDF format.  This will determine if changes are required to the current layout if used for the Registration Verification PDF.

Current PPR Registration Verification and field compare:

Yellow highlights indicate differences between current and new design.
Any s

[2021-07-27 20:54] PatrickAHeath opened #8385 "Compare Misc. Reg Act/Crown Charge Registration Verification PDF to Search PDF"
Compare current system Registration Verification PDF to new system Search output PDF to confirm that all content is included in the Search PDF format.  This will determine if changes are required to the current layout if used for the Registration Verification PDF.

Current PPR Registration Verification and field compare:

Yellow highlights indicate differences between current and new design.
Any s

[2021-07-27 20:55] PatrickAHeath opened #8386 "Compare Misc Act Other Registration Verification PDF to Search PDF"
Compare current system Registration Verification PDF to new system Search output PDF to confirm that all content is included in the Search PDF format.  This will determine if changes are required to the current layout if used for the Registration Verification PDF.

Current PPR Registration Verification and field compare:

Yellow highlights indicate differences between current and new design.
Any s

[2021-07-27 20:56] mstanton1 commented on #8074
8364 has been created which would allow BA's to trigger refunds from the transactions UI. This would take away the data entry, reducing the risk of errors.

[2021-07-27 21:02] #8244 closed

[2021-07-27 21:02] #5941 closed

[2021-07-27 21:06] lmcclung commented on #7237
@5959 was closed so doesn't need to be combined with this ticket.

[2021-07-27 21:25] thorwolpert commented on #7609
Done!
[code]

[2021-07-27 21:30] lmcclung commented on #7091
@thorwolpert @rarmitag
We need to pull over Event 102270836  (Director Change) and not apply event 102269203 (OTANN).  Staff will add a registrar's notation instead of us applying the OTANN.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/07c97ba4-109d-4601-ab53-1a585beb327e)

[2021-07-27 21:39] SateeshFW commented on #2125
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/883b9a55-081f-459a-9f1b-66d2a053204a)

Sprint 9.6 continue with ongoing action items...

Sprint 10.1 New
@SateeshFW  - Work on Release planning considering the scope, regression testing completion.
@rarya-freshworks - Target to demo the FAS e2e automation in the next sprint demo, at least internally to the team and later to

[2021-07-27 21:48] thorwolpert commented on #7609
![image](https://user-images.githubusercontent.com/1042854/127231988-ef37549f-d802-4a6f-b9a2-b288c318b6a4.png)

[2021-07-27 21:59] thorwolpert opened #8387 "legal-api: Filing.json shouldn't error out if Filing.filing_json is empty"
## What is the problem?
* Filing.json dies with a 500 (key error) if the Filing.filing_json is empty

## What is the impact?
* some conversion filings, or paper-only filings can have errors

## Proposed solution
* fix Filing.json so that it can handle an empty Filing.filing_json

[2021-07-27 21:59] jinghualicgi commented on #8198
Close this one, duplicates with #8086

[2021-07-27 22:27] rarya-freshworks commented on #8116
@amit4610 For scenario 1 & 2 it is mentioned that the functionality needs to be greyed out. Can you please specify which functionality needs to be greyed out! OR should not would it be better if users for those specific groups cannot see the functionality at all!

Example: NSF_Support users cannot add a new routing slip. Would be more efficient to if the user cannot see the Add routing slip button

[2021-07-27 22:43] chdivyareddy commented on #7266
Verified in DEV.
![Step1ViewonStep4(DEV).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/399fc459-74b2-4cc8-8220-34cc056d8361)
![Step1ViewonStep4_1(DEV).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/67f6a309-45bc-49d8-853b-d03b420d4f5a)

[2021-07-27 22:57] jinghualicgi commented on #8086
This was for Sprint 9.6 Sprint Retro
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/9a47ee8c-ee06-4567-8bf3-ce0906acb736)

[2021-07-27 22:58] jinghualicgi commented on #8086
**Sprint 10.1 Retro:
Retro Board**
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/ef6a1d3b-6849-444d-8c8f-ec3778e182cb)

[2021-07-27 23:06] lmcclung commented on #8222
@severinbeauvais Because there were so many places to update 'reapply' to 'resubmit' in the code, it seemed a bit risky to expect to find all places and make sure we don't break anything down the line.  We decided that the code would stay as 'reapply' but we'd just update the UI to replace 'reapply' with 'resubmit'.

@Kaineatthelab do you remember why we decided to call it resubmit instead of reap

[2021-07-27 23:07] Sienna-Blumstengel commented on #7609
@thorwolpert This is what the ledger looks like in SOFI. COGS is nowhere to be seen
![Screen Shot 2021-07-27 at 4 05 02 PM](https://user-images.githubusercontent.com/53542700/127238659-946f4d41-8fe8-43dd-aa1b-a193ba300b5e.png)

Can we change AM LI to as it shows in SOFI?
Amendment - Ledger Information

[2021-07-27 23:08] thorwolpert commented on #7438
Done!

[2021-07-27 23:12] Sienna-Blumstengel commented on #8242
@kialj876 sorry for the delay! Looks like the alteration never made it over to COLIN 🤔 Also SOFI still shows it as an LTD entity type.
@thorwolpert  is on ops, maybe he can assist

[2021-07-27 23:12] jinghualicgi commented on #8086
**Action Items:-**
@jinghua.li Follow-up with @Kaineatthelab for
•	Chat with Patrick and Janis on option for agile grooming- Set a meeting with Kaine, Patrick; Janis
•	Kaine follow up Ian: create account for flow map of flow needed for mvp
@jinghua.li make sure all them members are in RocketChat
@all start weekly wireframes review meeting /design meeting
@all break big ticket into smaller ones (wi

[2021-07-27 23:13] lmcclung commented on #7609
@thorwolpert @Sienna-Blumstengel

There shouldn't be a ledger for COGS as there was no change to the record, just a purchase of a certificate which we would never reproduce.  Can you suppress it?

And yes, can we change the name of AM_LI to Amendment - Ledger Information?

[2021-07-27 23:14] andrepestana-aot commented on #8222
@lmcclung what @severinbeauvais says is that:
- 'REAPPLY' should be replaced by 'RENEW' (14 days before expiration)
- 'RESUBMIT' is a new action (any time after expiration)

Is that correct?

[2021-07-27 23:22] Sienna-Blumstengel commented on #7609
![Screen Shot 2021-07-27 at 4 22 38 PM](https://user-images.githubusercontent.com/53542700/127239913-89dc4127-da44-41b4-9eb8-f7c0a8e363e5.png)

[2021-07-27 23:30] sienna-blumstengel opened #8388 "The recognition date is different in COLIN and BC Business Registry"
## Description

Found this when reviewing the alteration #7438

SOFI said the recognition date and time was one thing, and the NOA for the alteration filing in our app said something different.

**⚠️ When the fix is released, have a BA reply to IT OPS to resolve INC0110717**

## Reproduce
1. Log into sofi PROD
2. search BC1186381
3. View corporate summary
4. See the following:
![Screen Shot 2021-0

[2021-07-27 23:37] Sienna-Blumstengel commented on #7438
All three ledgers here should be the same. Alteration - change of company information.
![Screen Shot 2021-07-27 at 4 35 26 PM](https://user-images.githubusercontent.com/53542700/127240919-71ad0abe-486f-4b78-a54f-2a671b7eccbc.png)

That first different one was just a change of name, so was the one above it. I don't think there should be a difference between them

[2021-07-27 23:40] Sienna-Blumstengel commented on #8388
Update from Thor, "sienna.blumstengel it looks like the info stored is wrong :( "

[2021-07-27 23:42] Sienna-Blumstengel commented on #7438
Once this is fixed, all we need is to wait and confirm that the filing makes it over to COLIN. Maybe @lmcclung can do this while I am away so the client doesn't have to wait

[2021-07-27 23:43] chdivyareddy commented on #7266
Verified in TEST.
![Step1ViewonStep4(TEST).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/bd7658c9-1c08-40f2-94de-b0737f902f1d)
![Step1ViewonStep4_1(TEST).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/52b94b53-6bc2-4f41-983f-416118a75408)

[2021-07-27 23:47] chdivyareddy commented on #7268
Dependent on [#7137](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7137)

[2021-07-28 00:00] lmcclung commented on #8222
@severinbeauvais @andrepestana-aot lets have a quick chat about this in the morning:)  You're making my head hurt.

Ultimately, UI should show "Renew" 14 days before expiration and "Resubmit" after expiry.
You're saying right now the "Renew" shows "Reapply" in the background?  You want to change all reference of reapply to renew so that when you build the resubmit stuff you can use resubmit instea

[2021-07-28 00:01] lmcclung commented on #7609
@thorwolpert I had a quick chat with Claudine.

- COGS should not be in the filing ledger as it does not update the corporate record
- COGS can be requested by anyone - not necessarily the company (For example, an employee applying for permanent residency needs to be provide a COGS for their employer to the feds).
- Currently, they do not store the certificate in any fashion, just make a note what

[2021-07-28 00:02] lmcclung commented on #7701
@thorwolpert I had a quick chat with Claudine.

- COGS should not be in the filing ledger as it does not update the corporate record
- COGS can be requested by anyone - not necessarily the company (For example, an employee applying for permanent residency needs to be provide a COGS for their employer to the feds).
- Currently, they do not store the certificate in any fashion, just make a note what

[2021-07-28 00:04] mengdong19 commented on #7577
Roles has been created in OpenShift ops namespaces.
Admin setup account access guide and OPs/BA access database guide has been added to https://github.com/bcgov-c/registries for review.
Will need github account list of BAs and OPs who require data query to setup their access.

[2021-07-28 00:05] #2864 closed

[2021-07-28 00:15] lmcclung opened #8389 "Build Certificate of Good Standing"
As an interested party
I want to order a certificate of good standing for any entity
So that I can present this proof to obtain a service/funding/etc.

I think when we build this feature in the UI we should look at building this on the same dashboard where third parties can order business summaries, letters under seal and other products we sell.  And have a receipt and copy of certificate availabl

[2021-07-28 00:17] lmcclung commented on #8389
Info from David Roberts
https://app.zenhub.com/files/157936592/1c612462-e5bc-43a8-814f-553d285b56e4/download

[2021-07-28 00:28] lmcclung commented on #7831
We have a story to deal with action buttons for pending deletion.  For the purpose of this ops ticket, can we get this NR deleted @thor.  It is still showing as PENDING DELETION in NameX and has been that way for more than 5 days (goes back to June).

[2021-07-28 00:34] lmcclung commented on #4633
@tlebedovich I'm trying to figure out where to put these in the pipeline.  The wireframes here for the my business dashboard are really old and I think we have a much newer version.  Okay if I close this ticket?

[2021-07-28 01:25] tlebedovich commented on #4633
@lmcclung let me see if I can find out where the newer visual designs are linked

[2021-07-28 01:31] tlebedovich commented on #4633
Yes @lmcclung , so it looks like we have another design ticket (in the closed column). https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7745

So we'll just need to make sure #7745 is linked somewhere to any dev epic/tickets for Manage Business Dashboard then we can close this one. I just don't want to lose track of the designs.

[2021-07-28 01:37] tlebedovich commented on #8380
@lmcclung - maybe the Manage Business Table design ticket could attach to this epic? (you may need to reopen the design ticket, attach it here, and then close it again so you can link it as a dependancy):

https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7745

[2021-07-28 01:41] lmcclung opened #8390 "Relationships - refund endpoint to provide detailed success/failure messages for refunds"
**AS** the Entities team
**WE WANT** to receive refund success/failure messages from Relationship's refund endpoint  based on initial payment type
**SO THAT** users will see whether a refund is being processed or if any action is required on their part

~**Refund messages will not be product specific so that it can be reused by Assets team**~ Only Name Requests will have auto refund process.

##Ex

[2021-07-28 01:48] rarya-freshworks opened #8391 "Director Search Account update not able to save"
**Description**:
When a new Director search account is created and admin user updates info he is not able to save information that has been updated because save button is greyed out.

**Steps**:
1. Create a new Director search account
2. Login into the account as an admin user
3. Navigate to Account info page
4. Validate that Save button is greyed out
5. Click on Reset Button and update address
6.

[2021-07-28 01:49] lmcclung commented on #7018
Removed this from the description of the ticket based on conversation with Sumesh and Andre on July 27th.

Decision: we'll put these messages in the dialog box before they cancel.  Not after, to save dev effort.  They'll be getting an email anyway.
## Background
**Refund process for credit cards**
Once a week an email is automatically sent to CAS.  CAS sends email to finance and Finance processes

[2021-07-28 02:10] lmcclung commented on #7277
Emailed Names Team for clarification on process in NRO.  Based on what they say, we can determine whether we need to create a new ticket for handling two invoices.  This is an edge case so am leaning towards not doing anything special for this and relationships just processes refund on most current invoice.

Hi Josh & Elizabeth,

I am hoping you could clarify something for me in Debbie & Jenn’s ab

[2021-07-28 02:28] tlebedovich commented on #7622
@doug-lovett @Kaineatthelab - the majority of the UX Assurance feedback was not done.

Just confirming if we should complete the UX Assurance in this ticket or move to #7941 as per Doug's suggestion (which isn't in a sprint). This page needs quite a bit of work still before it aligns with the design intent, brand guidelines and with the BC Business Registries homepage grid.

I have crossed out the

[2021-07-28 03:15] tlebedovich commented on #7622
ps @Kaineatthelab @doug-lovett - This page also requires the common header, is there a separate ticket for that?

[2021-07-28 03:23] tlebedovich commented on #7623
@doug-lovett @Kaineatthelab - it doesn't seem like any of the UX Assurance items were completed for this ticket either, and the common bc reg header is not included as per the ticket description, so I'm not sure whether this gets moved along as is and all items get added to an uber updated #7941 ticket??

??

[2021-07-28 03:41] tlebedovich commented on #7885
@doug-lovett - There seems to be outstanding UX Assurance still to do based on the feedback PDF from the Design Ticket -- and the recent example outputs you provided are not using BC Sans font anymore (they were before, but now they seem to be using Verdana). Can you re-export these using BC Sans?

Let's have a call and review and decide what to do about the duplicate headers etc.

[2021-07-28 04:41] tlebedovich commented on #7138
@jordiwes - Here is the secured party code pop up UX Assurance:

- [ ] I marked up the design comp with notes of the items to match to (gutters, font styles, colours, spacing etc). Please follow the pink mark ups (which should follow the existing template for modals)

https://invis.io/TR11G79UPZM3#/451830400_02h-Parties-ModalRollover

- [ ] There were a copy updates to the intro and one headline s

[2021-07-28 04:46] tlebedovich commented on #7137
@jordiwes - Email needs to be added to both individual and business debtor input fields AND the tables on Step 2 and 4.

Columns should align with Secured Parties table column now that email is being added:

![Screen Shot 2021-07-27 at 8.54.04 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/2b84b562-e661-4324-b4c6-b482007b326a)

[2021-07-28 07:53] thor commented on #7831
@lmcclung I would if I could! To be fair, I've wanted to visit BC for quite some time now.

[2021-07-28 15:08] jdyck-fw commented on #2118
![10.1 retro.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/f2a32ed0-e18a-4b4e-9a92-371008a6c568)

    - [ ] All - Look to other teams that do Backlog Grooming well and what we can learn
    - [ ] We will experiment with having a dev at Wednesday design meeting to see if it's value added
    - [ ] All - Try out a design focussed grooming session - Thurs 10-11am

[2021-07-28 15:18] #6649 closed

[2021-07-28 15:18] #7266 closed

[2021-07-28 15:18] #7270 closed

[2021-07-28 15:18] #7390 closed

[2021-07-28 15:18] #7691 closed

[2021-07-28 15:18] #7943 closed

[2021-07-28 15:18] #7944 closed

[2021-07-28 15:18] #8034 closed

[2021-07-28 15:18] #8198 closed

[2021-07-28 15:18] #6648 closed

[2021-07-28 15:18] #8192 closed

[2021-07-28 15:27] lmcclung commented on #7831
@thor - my apologies for tagging you in error.  You're welcome to BC any time!

[2021-07-28 15:28] lmcclung commented on #7831
@thorwolpert We have a story to deal with action buttons for pending deletion. For the purpose of this ops ticket, can we get this NR deleted. It is still showing as PENDING DELETION in NameX and has been that way for more than 5 days (goes back to June).

[2021-07-28 15:33] tlebedovich commented on #7561
@yuisotozaki - if your wiresframes are done for discharge and renew, you can move the tickets back to in progress and they'll go to my design to do list.

[2021-07-28 15:35] doug-lovett commented on #7885
I need to investigate why the custom font is not being used generating PDF's locally. A sample dev environment report is attached. [https://app.zenhub.com/files/157936592/3035cde8-e722-4d8c-876e-2e41517cb261/download](https://app.zenhub.com/files/157936592/3035cde8-e722-4d8c-876e-2e41517cb261/download)

[2021-07-28 16:00] mstanton1 commented on #8168
@thorwolpert is it possible for this to be handled today? Or should it be passed to the ops person for today?

The client has followed up with the Corporations team lead as she's had a really bad experience setting up in the business registry and repeatedly contacting staff for 2 weeks to have the alteration completed.

[2021-07-28 16:01] stevenc987 commented on #8346
@amit4610
I will take a look for this

[2021-07-28 16:05] yuisotozaki commented on #7560
Back to In Progress for visual design.

[2021-07-28 16:05] yuisotozaki commented on #7561
Back to In Progress for visual design.

[2021-07-28 16:18] tlebedovich commented on #7885
@doug-lovett - the font in your sample dev environment report is also not BC Sans?

![Screen Shot 2021-07-28 at 9.17.54 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/ea702bfd-08ff-4213-ae1b-98229cbb8802)

[2021-07-28 16:21] mstanton1 opened #8392 "FW: Moving Co-op # between accounts and passcode re-set"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident: INC0102022
### Contact information
Staff Name: Anderson Krause
Staff Email: Anderson.Krause@gov.bc.ca

### Description
We are trying to file our annual reports and we have found out that there are two different accounts set-up with BC Registries.  One is called “Peninsula Co-op” to which we do no have acces

[2021-07-28 16:34] #7805 closed

[2021-07-28 16:38] jyoti3286 commented on #8390
Testing: Online banking is not testable at this moment. All the scenarios can be tested with Postman

[2021-07-28 16:39] amit4610 commented on #8116
This will need to be implemented when we add users to the new FAS i.e. when we have finalized all the functionality. Functionality is captured with granular details in 8319 via user permission matrix.

[2021-07-28 16:48] mstanton1 commented on #8392
Response sent to business:

Good Morning,

This is a great opportunity for staff training! Can you please pass this information back to the business. If Anderson has other questions Julie, Cameron or I can address them.

Program area staff can review current account details, guide clients through use of the self-serve functionality or perform functions like passcode resets themselves in cases wher

[2021-07-28 16:50] mstanton1 opened #8393 "NR Refunds July 28th - Aug 3rd"
### Description

1. - [ ] NR 2429891. Please refund. Client accidentally submitted twice. (INC0102065)
2. - [ ] NR 8580484. Please refund. Client has emailed saying NR was cancelled but a refund was not provided.  (INC0102363)
3. - [ ] NR7735340 (INC0102943)
4. - [ ]
5. - [ ]

### Ops Process
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub tic

[2021-07-28 16:51] tlebedovich commented on #8042
@lmcclung @yuisotozaki I'm putting this one on hold/back into Sprint Backlog for Janis's return as I don't know enough about it to work on it and she had just started.

@janisrogers

[2021-07-28 17:08] severinbeauvais commented on #8222
Exactly, but as explained to me today, there  is other code (possibly also external) that uses the REAPPLY key. We just have to remember that this is the same as RENEW.

As for RESUBMIT, that's a new key, so there's no issue there.

[2021-07-28 17:28] stevenc987 commented on #8346
@amit4610

The expiration_date was updated to Sept 7, 2021:

![image](https://user-images.githubusercontent.com/25512847/127368761-71541b61-85bb-4f04-a9b2-38d05fe978c7.png)

[2021-07-28 17:28] stevenc987 commented on #8346
Sorry, it is Sept 9, 2021

[2021-07-28 17:28] stevenc987 commented on #8346
Sorry, it is Jul 9, 2021 ;)

[2021-07-28 17:49] amit4610 commented on #8346
Notified IT Ops. @stevenc987 please estimate and close.

[2021-07-28 17:51] lmcclung opened #8394 "UI Design - Coop outputs and Stamp"
**1. There are three coop outputs upon incorporation:**
- [x] receipt - follow existing output design template
- [x] certificate - follow existing output design template
- [x] incorporation application (designed first page only - will UX assure the rest)

**PDF IA Output Design for Coop Assoc Type first page with net new component:**
https://projects.invisionapp.com/share/KE11JHG3VZQF#/screens?bro

[2021-07-28 17:52] lmcclung opened #8395 "UI Design - Coop outputs"
There are three coop outputs upon incorporation:
- [ ] receipt
- [ ] certificate
- [ ] incorporation application

Dev team doesn't need designs for receipt and certificate
For incorporation application, we need visual design for the coop type section (ideally for everything though)

[2021-07-28 17:55] #8346 closed

[2021-07-28 18:39] rkim13103 opened #8396 "FAS-Global UI Style Guide"
Implementing global style guide changes for FAS UI design.
Implementing:
-Font (size, colour, family)
-Color (general colour palette, links, button, notifications, action based colour)
-Lines (divider colour, thickness)
-Button ( size, spacing, interactions)
-Spacing (general layout spacing)

Style Guide Link:
https://invis.io/S9UZVK9XMCA#/402701359_Working_Styleguide

[2021-07-28 19:01] rarmitag commented on #8358
Ok, I've invited Amber to join the Entity repository

[2021-07-28 19:07] jordiwes opened #8397 "UI Table Enhancements"
[] - fixed action column with dynamic options
[] - advanced table filtering
[] - columns to show drop down

[2021-07-28 19:24] argush3 commented on #8243
so just looked into the create NR endpoint for the namex api and I don't think we need this ticket.  Or we can repurpose it for the UI if we want.  The UI should be able to just pass this comment `*** Previous NR - NR####### ***` via the `additionalInfo` field in the request payload.

Does this work for you @severinbeauvais @cameron-freshworks ?  cc: @lmcclung @Sienna-Blumstengel

![image.png](htt

[2021-07-28 19:31] cameron-freshworks commented on #8243
I'm not too familiar with the re submit flow or understand the full context on `previous nr`.
When a client re submits, is this NR expired at that point?
On a re submit, is a new NR created and subsequently the expired one is now the previous nr?

[2021-07-28 19:36] mengdong19 commented on #7577
Prod/Test database access permission for BAs on OPs duty have been setup.

[2021-07-28 19:38] argush3 commented on #8243
yeah, i believe it's for expired NRs.  A resubmit button will be shown and basically the existing create NR flow will be used copying most of the data from the previous NR.  I'm assuming we will have the expired NR num at this point which can be used to pass the previous nr comment into the `additionalInfo` request payload property.

[2021-07-28 19:43] cameron-freshworks commented on #8243
For sure, it makes sense. If the user requested the expired NR, most of the information should there to allow this.

Appending the previous number into that comment field is doable but that field is also editable in both client and staff side.
So that number could be changed/deleted at any point by either staff or the client.
Would that be an issue? How important is the previous nr number? is it j

[2021-07-28 19:45] argush3 commented on #8243
yeah, in the desc for this ticket we have already noted that someone might delete that comment so i think we're good on that front.

[2021-07-28 19:48] stevenc987 commented on #8159
@PatrickAHeath
It seems I don't have an estimate field for me to do that....

![image](https://user-images.githubusercontent.com/25512847/127386359-ab5a8714-377c-468e-9f02-f9e03016c34a.png)

[2021-07-28 19:52] cameron-freshworks commented on #8243
Cool, thats it for my thoughts! If it's not something we're concerned with regarding preservation, should be totally fine.

The only other consideration is character count on this field, as there was issues in the past on restricting this field to some count, but i imagine 1 more line would be fine 🤞 .

[2021-07-28 19:55] severinbeauvais commented on #8243
I am currently working on the UI part of resubmit (#8221), where I am building the new NR object already, so I can totally do this in that ticket, and THIS ticket could be closed.

However, I'd like confirmation from the business of what this field should contain: "New Request" or  "Previous NR"? Both? It depends how staff use it I guess; technically it's both I guess.

cc: @lmcclung

[2021-07-28 19:58] argush3 commented on #8243
`Resubmission of NR#######` seems nice and compact.  It is actually used in the "given when then" in the ticket desc.

[2021-07-28 20:37] andrepestana-aot commented on #8222
In our meeting @lmcclung  defined that the logic to display the RESUBMIT button is:
- Whatever is the NR state and it is expired and not consumed, then show the RESUBMIT button.

[2021-07-28 21:32] chdivyareddy commented on #7639
The Registration Types "TG, RC" are fixed. "HN" has no data.

[2021-07-28 22:09] #5546 closed

[2021-07-28 22:09] #8092 closed

[2021-07-28 22:11] lmcclung opened #8398 "UI Design - display refund success/failure messages when NR cancelled and refunded."
- [x] change first sentence  in modal before user clicks Cancel Name Request - to remove reference to specific fees.
- [x] have new wording on the modal after user clicks Cancel Name Request and API returns success or failure message
- [x] add a go back or close or exit button on the modal
- [x] summary page, add a tool tip on request state - doesn't need amount on it
- [x] summary page, maybe hav

[2021-07-28 22:30] severinbeauvais commented on #8221
### Test Notes

_This section is in progress and will be updated until this ticket is ready for testing._

- Verify that editing a NR, then creating a new, the initial fields are NOT populated with fields from the previous edit. (Ie, test for Edit Mode not cancelled in previous build.)

[2021-07-28 22:58] chdivyareddy commented on #7639
Verified in DEV.

[2021-07-28 23:05] PatrickAHeath commented on #8159
@stevenc987 You should see the Estimate field now.

[2021-07-28 23:12] tlebedovich commented on #8390
July 28 - meeting notes:

Edge Case:
- user who does a separate priority fee upgrade, then wants to Cancel and Refund; do they only get their initial payment refunded as per current cancel and refund modal or both payments? will this ever happen?

Question:
- do users get a new receipt with refund to download once refund has been processed? currently we don't know if/when the refund happens

[2021-07-28 23:12] severinbeauvais opened #8399 "NR: bugs around refunding with multiple payments"
**Describe the bug in current situation**
1. create and pay for a non-priority NR
2. pay to upgrade the NR to priority
3. cancel and request a refund

-> is it OK that the original payment (not the upgrade) is refunded?
-> after refund request, what receipts should display?
-> why does the payment data (Network tab) show that both payments are in refund?
-> test misc scenarios and look for other b

[2021-07-28 23:18] yuisotozaki commented on #7885
@doug-lovett Please find attached UX Assurance notes added to the dev sample PDF.

[UX Assurance Notes July 28](https://app.zenhub.com/files/157936592/2112b8fd-76f7-455d-81b3-0c4d84a0f440/download)

**Outstanding questions**
* Can we have "Page x of y" in the footer?
* If a vehicle serial number appears on multiple financial statements, do we, currently, provide duplicate of the financial statemen

[2021-07-28 23:18] tlebedovich commented on #8398
additional meeting notes:

[2021-07-28 23:31] #7277 closed

[2021-07-28 23:33] lmcclung commented on #7277
Closing ticket - work to be done under 7018.

[2021-07-29 00:09] chdivyareddy commented on #8037
Verified in TEST.

[2021-07-29 00:28] tlebedovich commented on #7960
@chdivyareddy - This ticket is more for QA testing. Please test for all the different scenarios in the linked document above.

@kialj876 - I did notice one item that needs your attention:

I noticed that the partnership consent message text has a typo (duplicate sentence) and i’m not sure this error message makes sense because I did what it told me to do by putting the word partnership in the midd

[2021-07-29 15:30] magszymanski opened #8400 "CF REC - Project Management"
- Engage product owners and OCM Lead on modernization project backlog and operational team priorities (with commences by OCM Lead)
- Define critical areas for prioritization based on impact analysis
- Capture insights and recommendation in decision note for escalation to Registrar

Issue copied from Trello (Not started/Backlog list). Olisa to review.

Labels to apply: OCM, Program

[2021-07-29 15:33] lmcclung commented on #8243
@severinbeauvais I'll check with staff at their stand up this morning.

[2021-07-29 15:35] magszymanski opened #8401 "CF REC - Prioritization Criteria Transparancy"
- Ensure the Product Owners’ prioritization criteria and how these are being applied are transparent to the entire organization
- Work with the POs to articulate and share their prioritization criteria across the organization

Issue copied from Trello (Not Started/Backlog list). Olisa to review.

Labels to apply: OCM, Program

[2021-07-29 15:37] PatrickAHeath opened #8402 "PPR Search PDF - 'None' sometimes displays following last Debtor"
**Describe the bug in current situation**
In the Debtor section of the Search Result PDF,  the text 'None' sometimes displays following the last debtor.

**Link bug to the User Story**

**Impact of this bug**
PDF report has extraneous 'None' displayed in the Debtor section.

**Chance of Occurring (high/medium/low/very low)**
Medium

**Pre Conditions: which Env, any pre-requesites or assumptions to

[2021-07-29 15:46] magszymanski opened #8403 "PPR Change Management Strategy"
Create change management strategy for PPR.

Issue copied from Trello (In progress). Olisa to review.

Labels to add: OCM

[2021-07-29 15:49] magszymanski opened #8404 "Maximus project plan to take on accounts and login"
Create project plan with SBC Maximus team to take on/transition accounts and login

Issue copied from Trello (Not Started/Backlog list).

Olisa to review. Labels to add: OCM

[2021-07-29 15:56] magszymanski opened #8405 "Strategic plan for managing changes"
Create strategic plan for how we will manage the changes (long term view).

Issue copied from Trello (In progress). Olisa to review.

Labels to add: OCM, Program

[2021-07-29 15:58] stevenc987 commented on #8159
@PatrickAHeath
I just checked it and still couldn't find the Estimate field... :)
![image](https://user-images.githubusercontent.com/25512847/127525292-aa81cf09-0956-488c-8853-81961c4cbc2b.png)

[2021-07-29 15:59] magszymanski opened #8406 "PPR OCM activities"
Getting Story Points into ZenHub ---- Document work effort for CM activities/min. requirements (document initially in hours/days --> discuss relative weighting with project teams)

Issue copied from Trello (Parked).

Olisa to review. Labels to add: OCM

[2021-07-29 16:01] lmcclung commented on #8243
@severinbeauvais staff have given the approval on "Resubmission of NR#######"

Can you update your UI ticket to include this and then you can put this one in the closed column.

[2021-07-29 16:02] severinbeauvais commented on #8221
@lmcclung When resubmitting a NR, should the existing name fields be retained or cleared? Eg, name id, conflicts, state, decision text?

[2021-07-29 16:04] magszymanski opened #8407 "Kanban board for business operations"
Board created by Trish; use was covered in training mid-March?

Issue copied from Trello (Parked).

Olisa to review. Labels to add: OCM, Program

[2021-07-29 16:09] #8243 closed

[2021-07-29 16:12] amit4610 opened #8408 "Release notes for July 29 release"

[2021-07-29 16:17] kialj876 opened #8409 "Add names viewer access to transaction history"
### Description

Give access to names_viewer role for the names transaction history

[2021-07-29 16:40] lmcclung commented on #8221
@severinbeauvais should be cleared

[2021-07-29 16:40] severinbeauvais commented on #8221
Linda says everything should be cleared.

[2021-07-29 16:46] rarya-freshworks commented on #7879
I have confirmed that it is charging $1.5 instead of $1. Attached screenshot. ![Screen Shot 2021-07-29 at 9.42.06 AM.png](https://images.zenhubusercontent.com/60c91f395edfa51356f1accc/9f1a187d-7d3b-48b5-829a-eb429fe37068)

[2021-07-29 16:50] rarya-freshworks commented on #6178
Not an issue. I have attached the excel sheet and shows column as Active.[https://app.zenhub.com/files/157936592/28e38308-0549-4a90-8583-91b817cc0ee0/download](https://app.zenhub.com/files/157936592/28e38308-0549-4a90-8583-91b817cc0ee0/download)

[2021-07-29 16:50] #6178 closed

[2021-07-29 16:52] tlebedovich commented on #7560
@yuisotozaki - Can you remove the secured party notification statement from the renew comps as per Kevin's comments this morning -

"Verification statement is sent after a discharge or amendment, not renewal for secured parties (the way it currently works)."

[2021-07-29 16:56] rarya-freshworks commented on #7727
It is an issue. Not able to download the receipt and getting an error. Screen shot attached![Screen Shot 2021-07-29 at 9.56.15 AM.png](https://images.zenhubusercontent.com/60c91f395edfa51356f1accc/9e976b91-0448-4250-8fbf-735e5aaeb68d)

[2021-07-29 16:58] PatrickAHeath opened #8410 "PPR Search PDF - Timestamps don't match database"
**Describe the bug in current situation**
The Registration and Expiry times displayed on the PDF don't match the timestamps in the database.

I understand that the times in the database may be stored in GMT and displayed in the PDF report in PST (7 hours difference), but some of the PST times are in the wee hours of the morning.  The time zone of the timestamps that were loaded into the database f

[2021-07-29 17:00] PatrickAHeath commented on #8159
@stevenc987 Let me know your estimate and I'll update it.

[2021-07-29 17:03] yuisotozaki commented on #7560
☝️ Done! Secured Party notification box removed from Renewal mocks for both main mock and interactive mock.

[2021-07-29 17:16] jordiwes opened #8411 "Security agreement/financing statement - edit a draft"
[ ] - Retrieval of draft from API
[ ] - Loading of draft into UI

[2021-07-29 17:29] lmcclung commented on #8238
The Notice of Articles will be created once Thor/Sev have finished the refactoring of the legal API.

[2021-07-29 17:31] lmcclung commented on #8398
@tlebedovich thanks for pointing it out.  I've updated it.

[2021-07-29 18:07] kialj876 commented on #7091
@lmcclung I have brought this OTCDR across and linked the filing id to the colin event ids for both the OTANN and the OTCDR so our system will stop trying to bring across the OTANN. This is ready to be reviewed / annotated I think

[2021-07-29 18:18] magszymanski commented on #8378
Tasks:

[] Develop the OCM overview training
[] Provide training to BAs

[2021-07-29 18:29] andrepestana-aot commented on #8222
@lmcclung I don't think we should display RESUBMIT for any NR state that is expired as defined in our last meeting:
- https://github.com/bcgov/entity/issues/7948#issuecomment-886823586
- @kialj876 raised that it may be not good to allow resubmission for "pending payments" and "in progress" NRs

Anothe issue is: the 'RESUBMIT' action is not created in namex-api and the pay-api doesn't allow it eith

[2021-07-29 18:30] lmcclung commented on #7091
Thanks @kialj876 - I'll let staff know it is ready for them to renew and add a registrar's notation for the second AR.

[2021-07-29 18:41] stevenc987 commented on #8159
@PatrickAHeath
It should take a few hours to do. Let's say 1-3 hours?

[2021-07-29 18:46] severinbeauvais commented on #8222
Since some scenarios are unlikely (as above) and tricky to handle, I think it makes sense to "not handle" these scenarios (ie, don't show the Resubmit button) and instead have the user call in for help. Thoughts?

[2021-07-29 18:51] tlebedovich commented on #8202
@yuisotozaki - notes from the meeting plus some other feedback items ;

July 27 Staff PPR meeting notes

Current Amendment legislation questions:
Amber will ask these questions and provide answers to the team

- currently there are 6 different change actions - debtor, court order, general collateraletc  - all have separate $10 fees, all appear as separate activities/amendment
-  So if we are doing

[2021-07-29 18:52] PatrickAHeath commented on #8381
@yuisotozaki @tlebedovich Please review the attachments and let me know if additional info is required or in a different format.

[2021-07-29 18:52] lmcclung commented on #7091
@kialj876 two things...

There was a special resolution filed and it is showing a viewable document.  It should be only available on paper

The director change you applied was filed on April 12th but the director changes were effective Dec 15, 2020.  Did Dec 15 not come over from CPRD?  I noticed the effective date on our ledger is April 12th.

[2021-07-29 18:55] doug-lovett commented on #8349
Adding some test notes:
Create a new security agreement by clicking on the Pay.. button on Review and Confirm. Go to the database and query the registrations and drafts tables:

select *
from registrations
where registration_ts > ((now() at time zone ‘utc’) - interval ‘10 minutes’)
;
select d.*
from registrations r, drafts d
where registration_ts > ((now() at time zone ‘utc’) - interval ‘10 minute

[2021-07-29 19:09] kialj876 commented on #8242
Okay I didn't realize I had to put this filing on the queue manually. It is completed now and looks right from my end. Ready for verification again @Sienna-Blumstengel

[2021-07-29 19:19] lmcclung commented on #8222
@andrepestana-aot

Great points from Kial.

Pending payment could happen at the time of initial application or upgrading a draft NR - neither of these scenarios would have an expiry date because they are in draft.
In progress could happen when examiners are reviewing a name, either the initial examination or after they reset a previously examined name.  Either way there wouldn't be an expiry date

[2021-07-29 19:20] lmcclung commented on #8222
@andrepestana-aot can you create the two dependency tickets this afternoon and let me know what they are?

Thanks.

[2021-07-29 19:42] jyoti3286 opened #8412 "Wrong Account Name in the Invitation email while adding team members"
**Describe the bug in current situation**
Wrong Account Name in the Invitation email while adding team members

**Link bug to the User Story**

**Impact of this bug**
Users might be confused with what account they are going to join

**Chance of Occurring (high/medium/low/very low)**
High
**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**
You need to have a Ministry

[2021-07-29 20:01] andrepestana-aot opened #8413 "NAMEX-API: Create RESUBMIT action"
Add a 'RESUBMIT' action to be requested by UI.

- Would this be similar to 'RENEW'?
- Any validations?

Allow resubmission for all entity types

[2021-07-29 20:03] amit4610 commented on #8408
Relationships
Features
# 8354 – The system will retain the search results on staff dashboard after staff views an account info and then comes back to the search page. This was a bug earlier where search results were lost.
# 8306 - When an address is updated for an account, the same shows after the page is refreshed. This was a bug earlier where the address was reverted to an old one after updating

[2021-07-29 20:03] amit4610 commented on #8408
combined from entities as well

[2021-07-29 20:06] amit4610 commented on #8408
ignore the formatting here, email looks good :)

[2021-07-29 20:06] mstanton1 commented on #7697
The following changes have been requested through Genevieve.

Confusion has arisen on the abilities associated with different roles in the new Business Registry / Name Requests. I’d like to request the following update to Step 3. Add or remove people from your account here.

1) Under “Each team member will need to verify their identity.” Update the link for BC Service Card (mobile card) to Mobile

[2021-07-29 20:08] severinbeauvais commented on #8221
Should this Additional Info field also contain "New Request" ?

[2021-07-29 20:10] andrepestana-aot opened #8414 "PAY-API: NR Resubmit payment"
This is for Name Request to resubmit a NR. After the NR is expired, the user should be able to resubmit the NR and pay for the resubmission.

**Questions for Relationships:**
What do we do currently for a new request and for renew payments?  Do we just have the one fee code and endpoint?
Is any work required on your end?

deadline if work required:  mid-sprint 10.3.

[2021-07-29 20:10] lmcclung opened #8415 "Names Staff to review restricted audit table"
Need to clean up the Restricted Word Condition table in Namex...

Review condition text and instruction columns.  Both of these fields are displayed in the Name Request UI when the user requests a restricted word.

There are some words that have the same text in both fields  - which doesn't look great for users.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/db7d853d-2

[2021-07-29 20:11] doug-lovett commented on #7535
@PatrickAHeath Patrick, please coordinate a time with me to re-test so I can get the pay-api error message from the log. I don't think the setup for a payment request on the PPR API side should change for different log on account types.

[2021-07-29 20:13] kialj876 commented on #7091
hmm okay. All special resolutions will be the same so probably need a ticket to either make a pdf for it or to set them all to available on paper (I will do this one though). I will check the effective date situation

[2021-07-29 20:19] lmcclung commented on #8221
@severinbeauvais no, it doesn't need "new Request"

[2021-07-29 20:28] mstanton1 commented on #7989
This form has been sent to Amber to determine if there are any concerns from a policy perspective.

@amit4610 @jyoti3286 please review and let me know if you have any feedback.

Next steps:
- [ ] Once reviewed by Amber and relationships provide to BCOL Admin for review.
- [ ] Once approved by BCOL Admin send to Genevieve to produce the form.

[2021-07-29 20:30] andrepestana-aot commented on #8222
@lmcclung created:
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8413
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8414

[2021-07-29 20:33] kialj876 commented on #7091
alright so the effective date for the otcdr in colin is april 13th 2021 (same as the AR it was filed with) which is why the effective date is april 12th in our system. I will change the effective date any appointment / cessation dates to dec 15 2020

[2021-07-29 20:33] severinbeauvais commented on #8413
It's probably almost the same as "NEW".