[2022-05-16 21:50] seeker25 commented on #11527
This might need to be tested on `DEV` instead of `TEST`

[2022-05-16 22:13] mstanton1 opened #12250 "Create MHR Product in Auth"
Originally this was done under 12059. The MHR_Staff role was retained but we had to remove the MHR role because in PROD the logic on the feature flag was not working. 12249 will be completed to address the feature flag issues and then the MHR role can be re-added.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/840deb05-4df4-409d-92b8-e2efa8ce1f0a)

![image.png](https:/

[2022-05-16 22:40] seeker25 commented on #12228
Repo located here: https://github.com/bcgov/bcregistry

[2022-05-16 23:09] #8867 closed

[2022-05-16 23:14] mstanton1 commented on #11214
@janisrogers good point. We've already addressed special characters in the wysiwig and this should actually be closed. I will log a separate ticket to address special characters in other UI fields. The solution may be different.

Resolved through Zenhub 11255

[2022-05-16 23:14] #11214 closed

[2022-05-16 23:16] mstanton1 opened #12251 "Show hidden characters in the PPR UI fields"
Zenhub 11214 was created to show hidden characters in the UI for general collateral. This was addressed by creation of a wysiwig. Clients can also copy and paste hidden characters into other UI fields.

Update the UI fields so that clients either

- see the special characters pasted so they may resolve before submitting
- do not allow special characters that could pose a problem so even if clients

[2022-05-16 23:21] mstanton1 commented on #11499
@tlebedovich thanks for splitting it up that way. Much more intuitive. For the Combo Search with no PPR match I've found the wording that was previously included. Can you update the text in the visual design to use this wording?

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/971cc7f3-04ad-47ff-9676-1eaafedb3e48)

[https://app.zenhub.com/files/157936592/f2327da1-1c56-4a

[2022-05-16 23:27] tlebedovich commented on #11499
@mstanton1 - would this additional copy be included for all the different NIL PPR search results? (ie Misc Registrations Act, Security Agreement etc). Also - is there a way you can copy and paste the live text in a comment so I can grab it versus re-typing? no worries if not

[2022-05-16 23:31] seeker25 commented on #12228
Scenario 1:

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/77a85e8c-ab93-4b0e-a3ad-c58fda95ed3a)

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/69eb3acf-e1c9-435f-8619-72fc65a101eb)

Scenario 2:

Scenario 3:

Scenario 4:

[2022-05-17 00:01] severinbeauvais commented on #12162
I just saw this in Dev. It's related to the dropdown alignment.

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/195a95d9-cfac-4efe-9120-8d879b6c70bb)

[2022-05-17 00:13] severinbeauvais commented on #4781
### Test Notes:

The following code was updated:
- filing history list code that identifies a future effective IA that is pending (overdue)
- filing history list code that identifies a future effective alteration that is pending (overdue)
- filing history list code that identifies a future effective dissolution that is pending (overdue)
- filing history list code that identifies a future effective

[2022-05-17 00:17] seeker25 commented on #12228
I also noticed this bit in the code.. is it correct?

Or should SBC staff have access to the other products?

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/195036ad-50c7-4a06-b471-7424f690a335)

[2022-05-17 00:35] tlebedovich commented on #11074
@JohnamLane @janisrogers @kialj876 -- Final Visual Design for Business Search Entity Page has been updated to reflect copy and some small design updates.

Janis's wireframes show an example of the ledger with a "Detail", but to note the ledger will just be the same as what's in the business registry. Only different is the locked view of the PDF downloads, and that we don't show receipts in Busines

[2022-05-17 00:53] tlebedovich commented on #9908
@yuisotozaki - is this ticket completed?

[2022-05-17 01:02] magszymanski commented on #12004
Comms is loaded into a GC Notify template: "Email to BCOL ministry users - Search and filings - May 17".
@trishreimer - this is long. I've shortened it where I can without compromising info min users will need. Pls review.
DL; includes Business Reg admins, BCOL Admin's list of users, list from Friday, etc. Everyone's captured to create a list of 545 min emails.

[2022-05-17 01:55] magszymanski commented on #12003
Comms is loaded to GC Notify "Email to BCOL non-ministry users - Search and filings - May 17" and to [Google Drive](https://docs.google.com/document/d/1QsghdYxuBQK8OM5fVOU7IWb3GZY4O054/edit).
@trishreimer this is modeled after the BCOL non-gov email you reviewed/approved on Friday. Two changes: this one does not include an invite to an info session since we don't have any scheduled, and will have

[2022-05-17 05:46] Mihai-QuickSilverDev opened #12252 "WEEKLY RUN UNTIL 04/30/2023 - QUERY FOR ALL ACTIVE SUBSCRIBERS AND THEIR SUBSCRIPTIONS IN THE BC Registry application"
**Recurring weekly request:**

Each Monday we need to run a report of all accounts in the new BC Registry and which products they are subscribed to.  This is requested by the OCM team, to be run weekly until end of July 2022.
=====================================
@ozamani9 @rarmitag Would you please be able to run this report on Monday, May 29, 2022?
Once my Postgres access is resolved, I plan to

[2022-05-17 14:31] #12235 closed

[2022-05-17 14:31] #11001 closed

[2022-05-17 14:31] #11766 closed

[2022-05-17 14:31] #12100 closed

[2022-05-17 14:31] #12163 closed

[2022-05-17 15:04] fareenr opened #12253 "Post Wills launch - What's New in BCROS at go live"

[2022-05-17 15:06] fareenr opened #12254 "Post Rural Property Tax Search launch date under What's New in the new BC Registry application"

[2022-05-17 15:33] #12108 closed

[2022-05-17 15:34] #12014 closed

[2022-05-17 15:38] JohnamLane commented on #12181
Upon further discussion, this ticket will not be actioned because there could be exceptions and many clients that do not want Search added to their accoun.t

[2022-05-17 15:38] #12181 closed

[2022-05-17 15:41] mstanton1 commented on #11499
@tlebedovich this additional copy would be included for all different NIL PPR search results on a combined search.

Text:

No registered liens or encumbrances have been found on file that match to the search criteria listed above.

Some, but not all, tax liens and other Crown claims are registered at the Personal Property Registry (PPR) and if registered, will be displayed on this search result. H

[2022-05-17 15:41] Maribeth-Wilson commented on #11990
Session held and follow up sent to participants. Moving this ticket to DONE

[2022-05-17 15:42] Maribeth-Wilson commented on #10011
follow up sent, moving this ticket to DONE

[2022-05-17 16:04] janisrogers commented on #11074
@tlebedovich We also can't show the filed by information. It should just say FILED AND PAID (filed on <date>) EFFECTIVE as of <date>

[2022-05-17 16:04] JohnamLane opened #12255 "Front End - Add Search Tile to My Registries Dashboard"
Matching the designs in this ticket - https://github.com/bcgov/entity/issues/11074
(Pending custom image from Tracey but there is an FPO image in design ticket to use in the interm)

Update the My Registries Dashboard to include the search product.

GIVEN I am logged in with an account
WHEN my account has the Business Search product enabled/selected
THEN I can see the Business Search tile on My Re

[2022-05-17 16:09] yuisotozaki commented on #12024
@lewischenstudio Sorry about my comments above. I think I was partway writing it, got interrupted, then just added the comments without completing the information.

What I meant is that the text colour of "(Not Entered)" in the Proprietor/Partner section if the proprietor/partner is completely missing, should be `#212529`.
<img src="https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/211

[2022-05-17 16:09] yuisotozaki commented on #12024
@lewischenstudio Sorry about my comments above. I think I was partway writing it, got interrupted, then just added the comments without completing the information.

What I meant is that the text colour of "(Not Entered)" in the Proprietor/Partner section if the proprietor/partner is completely missing, should be `#212529`.
<img src="https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/211

[2022-05-17 16:12] mstanton1 opened #12256 "TEST and PROD Nat Configs for LTSA"
- [ ] TEST
- [ ] PROD

## Note
*May no longer be needed - @doug-lovett will determine after getting @thorwolpert approval

[2022-05-17 16:14] jinghualicgi commented on #12256
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12256?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1 @thorwolpert

[2022-05-17 16:16] jinghualicgi commented on #11682
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/11682?planning-poker) with ZenHub @thorwolpert

[2022-05-17 16:20] yuisotozaki commented on #9908
@tlebedovich
It's complete in a sense that it was been discussed. Decision being that we have some idea on Desktop size and it should be reasonably responsive to browser resizing. "Reasonable" meaning all actions are available and there are no missing information when resized to narrower size.

[2022-05-17 16:23] mstanton1 opened #12257 "UI - Updating the Assets tile on the staff dashboard"
https://test.bcregistry.ca/business/auth/staff/dashboard/active

-determine if user has MHR, PPR or both, and display appropriate tile as shown in design linked to story

[2022-05-17 16:28] jinghualicgi commented on #12257
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12257?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1

[2022-05-17 16:28] jinghualicgi commented on #12257
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12257?planning-poker) with ZenHub @thorwolpert

[2022-05-17 16:33] severinbeauvais opened #12258 "Legal API - cannot do COD 1 day after another COD"
For Coop and Benefit Companies

1. login as BCREG0020
2. go to https://dev.bcregistry.ca/business/CP1002494/
3. file a COD effective a past date, eg: Jan 13, 2022 (already done)
4. try to file another COD effective the day after the previous date, eg: Jan 14, 2022
5. see error:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/feb236fc-1140-4b3b-b711-94ee0a6f95eb)

Correc

[2022-05-17 16:35] jinghualicgi opened #12259 "Sprint Goal: 13.3"
Overall:  95%
1. As a staff user I want to complete a MHR or Combined search and receive a PDF output. - 95%
2. As a staff or public user I want the ability to launch PPR, MHR or my Assets dashboard. - 90%
3. As a user I want access to Help from the dashboard or PPR Application. - 100%
4. As a user I want to log on with the appropriate user access in MHR. - 100%

[2022-05-17 16:38] seeker25 opened #12260 "PAY-ADMIN - Add in audit columns and description for Fee Schedules"
Fee Admin: Add in description for Fee Schedule
Also look at read only permission for Staff.

"Add in audit columns for fee schedule tables"
Add in audit columns for various tables. For example created_by, created_on, modified_by, modified_on.
That way we can see who changed the fee codes and when. I don't think activities is wired up in pay-admin.

[2022-05-17 16:40] #11936 closed

[2022-05-17 16:49] jinghualicgi commented on #12247
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12247?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @thorwolpert

[2022-05-17 16:56] yuisotozaki commented on #11960
re: max 300 char field level error detection and messaging
See how the Folio field works.
<img src="https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/9ca3c8f6-a4a1-4dba-b18e-c0e66e5e66cd" width=600>

[2022-05-17 16:59] trishreimer commented on #11948
Suggest prioritizing login and account setup training to support the increase in calls that will start over the next month or so.

[2022-05-17 17:00] severinbeauvais commented on #11410
Entities is tracking this ticket, since it's in Entities Sprint 13.2a Release.

Could you please keep the entities-team-space pipeline in sync with the relationships-team-space pipeline? Much appreciated - thanks.

[2022-05-17 17:01] tlebedovich commented on #9908
@yuisotozaki just wondering if this should move out of wireframes in progress column :)

[2022-05-17 17:05] seeker25 opened #12261 "Disable readyz /healthz logging in queuing projects"
Turn off readyz /healthz logging. It just pollutes the logs and makes it difficult to find any useful debugging information:

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/36bbbec6-d218-43b1-abbc-ef8fb2fbb7c4)

I think there should probably be a way to easily turn it back on as well for debugging.

[2022-05-17 17:07] eve-git commented on #11380
Steps to reproduce the issue in DEV:
1. login a Visual Service Card
2. Request a name:
    a. filling the request form: Extraprovincial, Limited Company, Alberta
    b. don't check "I don't have a corporate numbe"
    c. enter somthing in corporation number field
    d. click the link "Submit this Name without checking" under "Check this Name" button
    e. In the "Corporate Number Not found" wind

[2022-05-17 17:08] trishreimer commented on #11840
let's send to D&D as well as corporate supervisors.

then publish asap to website. Once published, we should post an announcement on the website so law forms are aware o these forms.

[2022-05-17 17:18] #11075 closed

[2022-05-17 17:35] #11597 closed

[2022-05-17 17:50] Ashna-FreshWorks commented on #12203
Corp code BCA is added:
![Screen Shot 2022-05-17 at 1.48.28 PM.png](https://images.zenhubusercontent.com/6266dce4f20b9d122add4d61/a43f4fb9-0122-462e-a7f0-d243046e9b97)

3 Filling type are available in pay admin:
![Screen Shot 2022-05-17 at 1.48.17 PM.png](https://images.zenhubusercontent.com/6266dce4f20b9d122add4d61/0965a952-6768-4457-a554-ae1f84270866)

[2022-05-17 17:58] ozamani9gh commented on #12124
@whelalbc Training will be tomorrow morning from 9 - 11am, i doubt we will need two hours, but i will book Jade room for this training.

Please provide github ids and IDIR of everyone on your team that needs access to github/zenhub today so i can setup.

[2022-05-17 18:15] yuisotozaki opened #12262 "UI Design - Incorporate Resolution Support Findings into Style Guide"
Incorporate the findings from [#9908](https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/9908) into the style guide.
- We want to aim for 1280px width for desktop to capture 96% of the audience
- Responsive behaviour and breakpoints to follow Vue defaults

[2022-05-17 18:16] yuisotozaki commented on #9908
Closing this ticket and following up with the documentation side in the style guide in [#12262](https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/12262).

[2022-05-17 18:16] #9908 closed

[2022-05-17 18:17] yuisotozaki commented on #12262
@rkim13103 This ticket was created to follow-up on the documentation side of things into the style guide.

[2022-05-17 18:31] trishreimer commented on #12004
I added some comments.

[2022-05-17 18:46] argush3 commented on #11912
Verified to be working in DEV.

@riyazuddinsyed please use v2 version of business and task GET endpoints when testing in DEV.

SP/GPs in DEV that have missing required business info.  Including this as it might help with testing.
![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/50f31242-0cb6-400c-a652-de9b7e74d170)

**GET business endpoint verification details:**

No miss

[2022-05-17 18:49] severinbeauvais opened #12263 "Create UI: should not file empty taxId"
## Description

If the user touches the business number (tax id) field then its variable is initialized to "" (empty string). This needs to be stripped out on filing or the filing will fail schema validation.

If the user did not touch this input field then its variable is null or undefined, which is automatically stripped out already - hence filing works.

## Old Description

This SP (DBA) regist

[2022-05-17 19:10] argush3 commented on #11662
@jyoti3286  heads up that the PR for the incomplete business info work has been merged into DEV and going through QA now.  I talked with Thor and he is ok with leaving things as we had initially discussed for now.  i.e. populating the `complianceWarnings` property in the response coming back from the GET business endpoint.

For some details on how the endpoint behaves wrt to the `complianceWarning

[2022-05-17 19:24] sarahelz19 commented on #11924
@lmcclung I will update once I have received a response.

[2022-05-17 19:43] JohnamLane commented on #12255
@tlebedovich That's fair, thanks for asking. This UI will be part of the sprint that starts today. If your final image is ready, that would be great; failing that, we will put the placeholder in and loop back prior to go-live

[2022-05-17 20:00] JohnamLane opened #12264 "SOLR Suggestor Performance"
Current, in DEV, the SOLR suggestor is a little bit slow.

This ticket is just a reminder to monitor this as we promote the app between environments. If it is still slow closer to release, we may need to investigate and put some changes in place to help.

[2022-05-17 20:20] fareenr commented on #11973
Launch date for Rural Property Tax Search will be Jun 22, 2022. Drafted comms to be sent to all BCOL users here:
https://docs.google.com/document/d/1n3ltYPLH4qbQYTJq0B3Atfzh53MrCGPa/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

Currently under review by POs, OCM team.

[2022-05-17 20:22] fareenr commented on #11706
12-May - discussed Rural Property tax search change and comms plan with RPT team. They are looking at user guide updates, which we will have to complete and host on a webpage.
Rural Property Tax Search change plan saved here:
https://docs.google.com/document/d/1xS9P3XfNXbdIV0uRaauVXFCnauxiOuQA/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-05-17 20:24] fareenr commented on #11726
16-May - met with Crystal and SBC team. They will not pilot as they have very few transactions. They could help out with testing during July-Aug with different MHR and combined search test scenarios.

[2022-05-17 20:26] ozamani9gh commented on #12048
@SateeshFW  Confirmed with Megan she should have her MAC completely setup and ready to go for your Sprint.

Please close ticket if she does need any more setup.

[2022-05-17 20:32] sarahelz19 commented on #11924
The response I received from the team:
Queried the invoices table for TESTPPR folio
The Created Name was:MILESGONZAOLOMORALES
The GUID in Keycloak: BCSC/VGMRH22PYGGSQNFMTL52UBPKOLYHMKCU - which  apparently is Miles

[2022-05-17 20:48] severinbeauvais commented on #12263
### Test Notes

1. File a SP registration where the proprietor is a business and you DID NOT touch the Business Number input.
2. File a SP registration where the proprietor is a business and you touched the Business Number input.

Both scenarios should file successfully. (I tested both cases locally, and there's now a unit test for them.)

[2022-05-17 20:49] whelalbc commented on #12124
First Name

Last Name

IDIR

Github ID

Email

Wael

Helal

whelal

whelalbc

***@***.******@***.***>

Jordan

Merrick

jmerrick

J-Merrick

***@***.******@***.***>

David

Draker

ddraker

David-Draker

***@***.******@***.***>

Kelly

Marney

kmarney

KellyMarney

***@***.******@***.***>

Tyson

Graham

tgraham

TGrahamBC

***@***.******@***.***>

Samson

Ohiobor

SOHIOBOR

SOhiobor

***@***.****

[2022-05-17 20:51] zac-broitman commented on #10628
Adding note to this that staff currently can also see the change icon but receive a 403 error when trying to edit the details

[2022-05-17 20:58] #11875 closed

[2022-05-17 20:58] #11585 closed

[2022-05-17 21:03] seeker25 commented on #11924
I didn't see this ticket before providing the information.

I noticed this as well in the auth DB:

auth-db=# select * from entities where folio_number = 'TESTPPR';
 id | business_identifier |          created           | created_by_id |          modified          | modified_by_id |                          pass_code                           | business_number |                    name

[2022-05-17 21:16] Ashna-FreshWorks commented on #11099
The ministry accounts are correctly listed in invitations section and 'resend' and 'remove' buttons are working as expected.

[2022-05-17 21:17] SateeshFW opened #12265 "Create new scripts or existing scripts for Postman collection and put it in a repo or shared location"
As part of this ticket, the following things need to be done...

1. List down the various Postman scripts which need to be created
2. Identify the Repo or a shared location where all the scripts can be stored.

[2022-05-17 21:19] jdyck-fw commented on #2118
![13.1.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/3d16370f-9b22-4928-b233-9c3fdea5dd95)

New:

- [ ] For UX Assurance: UXA - Primarily check happy path functionality in the first pass. Split out small adjustments into future tickets, tagged to the epic for tracking

[2022-05-17 21:23] trishreimer commented on #12208
This is no longer on hold.

[2022-05-17 21:34] #11344 closed

[2022-05-17 21:58] trishreimer commented on #12207
Hi David,
Would you mind helping us retrieve more data so we can contact those who manage and/or own businesses? A lot of the data we need has already been queried at one time, so it should hopefully be easy to re- query so we have an up to date list.

We need the 1. contact email addresses for all and a 2. total count. Please also include the contact name and organization name in the spreadsheet.

[2022-05-17 22:04] tlebedovich commented on #12255
ok @JohnamLane - I created an FPO image and put it in the design ticket. When is go-live? A ways away still (just to make sure I get the thumbnail before you need it)

[2022-05-17 22:04] zac-broitman opened #12266 "Report of all GOVM/GOVN Accounts"
**Summary**
BCOL Admin needs a report of all the GOVM and GOVN accounts to review as many of these accounts were either set up incorrectly or should not have been approved as GOVN.

The report should include the following columns:
- Account Number
- Account Name
- Branch name
- Account Status
- Access Type (would be either GOVM or GOVN)
- Product
- Service Fee
- Stat Fee (this is a boolean I belie

[2022-05-17 22:30] #11881 closed

[2022-05-17 22:30] #12067 closed

[2022-05-17 22:30] #11769 closed

[2022-05-17 22:30] #12064 closed

[2022-05-17 22:30] #12115 closed

[2022-05-17 22:36] mstanton1 commented on #12098
Input from Doug:

- in terms of effort it's not worth trying to reproduce Bob's ETL process
- Doug can spend a couple hours investigating building a script based on the staging table he used to identify the discrepancies
- it may or may not work, then someone needs to QA before and after
- prod extract has already been provided (nothing further needed from Advocette to proceed)
- would do the same

[2022-05-17 22:39] mstanton1 commented on #12141
@doug-lovett was this previously done?

[2022-05-17 22:40] mstanton1 commented on #11819
@chdivyareddy can you confirm if this can be closed? Note above says it should have been addressed via 9764 which was implemented in PROD.

[2022-05-17 22:41] #11605 closed

[2022-05-17 22:44] mstanton1 commented on #11816
@chdivyareddy we'd pushed 11598 along because we couldn't fully test without API integration and didn't want to stop it on that. Are you able to review the remaining items in 11598 to confirm if all were addressed? I can create a separate ticket if there are any outstanding items.

[2022-05-17 22:53] SateeshFW commented on #2125
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/87333fcc-93ba-443f-8f91-c1b7313dc933)
Action items from Sprint 13.1 continues

Action items from Sprint 13.2 Retro
@All - If a ticket doesn't have enough description and AC then we will not groom it.
@All - If the tickets are not in Test env then they should not be considered for demo

[2022-05-17 22:59] #12203 closed

[2022-05-17 22:59] #12048 closed

[2022-05-17 22:59] #11099 closed

[2022-05-17 22:59] #12121 closed

[2022-05-17 23:01] #12085 closed

[2022-05-17 23:01] doug-lovett commented on #12141
@mstanton1 Not yet, there was a ticket to get the algorithm for querying and generating a search key. This ticket tracks the api change which has not yet been made.

[2022-05-17 23:02] jdyck-fw commented on #2118
![13.2.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/3e44effb-1226-4157-aa55-257acdabed7e)

[2022-05-18 00:00] Mihai-QuickSilverDev opened #12267 "INC0167964 - Github and Zenhub access for Megan Fedora"
### ServiceNow incident: INC0167964
### Contact information
Staff Name: Maribeth Wilson
Staff Email:

### Description
Hi there, can you please assist us in providing access to Github for Megan Fedora? Megan  is the new Manager, Registries Operations.

Please let me know if you need any other information.

Thank you,

Maribeth Wilson
Project Coordinator |  BC Registries and Online Services
Service

[2022-05-18 00:51] lmcclung commented on #9248
Lekshmi was going to close this today.  Then we can do new tickets for the UI work.

[2022-05-18 00:51] #9248 closed

[2022-05-18 01:24] lmcclung commented on #11380
I opened an enhancement ticket 11716 and will get UX eyes on it for how to improve the user experience so they don’t submit the NR without checking.  Might be simplest to hide the ‘submit this name without checking’ for extraprovincial name requests.

[2022-05-18 01:35] lmcclung commented on #11800
I had opened it because I had got an error in test but am unable to reproduce.
Will check with staff if this is still an issue - if not, I will close.

[2022-05-18 02:09] dimak1 commented on #11604
### Client PPR and MHR view
![Client PPR MHR.png](https://images.zenhubusercontent.com/6250948d66a86efdd4f41027/a3a9640c-40de-4ede-802d-6f4cc7d8b808)

### Client

![Client PPR.png](https://images.zenhubusercontent.com/6250948d66a86efdd4f41027/431d6a82-e8f9-45b4-98ad-352850e00cba)

[2022-05-18 02:22] seeker25 commented on #12266
I've queried pay-db and auth-db and sent over the results with a question or two for Zac.

[2022-05-18 04:57] jyoti3286 commented on #11591
Hey @lmcclung - Here is the process:

![image.png](https://images.zenhubusercontent.com/5da610e0fc369f000178ab20/c4a0ef19-d6fb-41ea-ba31-78f7d256e564)

[2022-05-18 05:00] jyoti3286 commented on #11591
@lmcclung For your other queries:

2. Refund Initiated means that we initiated the Refund.
![image.png](https://images.zenhubusercontent.com/5da610e0fc369f000178ab20/87051b56-aebd-4a8e-b95f-5c4db6138903)

[2022-05-18 05:01] jyoti3286 commented on #11591
3. CAS takes 10-14 days to complete the refund. I think we get a response from CAS(via email) for PROD transaction when the refund gets completed.

[2022-05-18 05:47] Mihai-QuickSilverDev opened #12268 "INC0132122 - SKIPPER OTTO'S COMMUNITY SUPPORTED FISHERY LTD. (BC0988792) alteration from bc ltd to benefit"
1.	SKIPPER OTTO'S COMMUNITY SUPPORTED FISHERY LTD.
2.	Bc0988792
3.	Form 52 attached
4.	Client submitted request as of December  30, 2021.
5.	Company to date is in good standing
6.	Bc registries account no is 3305
7.	Bc online account no. is 513340
8.	No file no.
9.	DAT is C1020994
10.	Fees of 100

COMPANY HAS BEEN FROZEN.

Deirdre Clancy
Registry Analyst | BC Registries and Online Services
[https:

[2022-05-18 05:53] mdinu1961 commented on #12268
This is a top priority, as we failed to open this ticket from December 2021.

[2022-05-18 14:04] jyoti3286 opened #12269 "Put Back on: End to End Testing ticket"
## User Story
As a staff
I want to reinstate a business by putting it back on the register
so that Businesses can function and be active in the BC Registry

### Acceptance Criteria

**Scenario 1: Staff clicks on "Put back On**
* GIVEN Staff is on a business dashboard
* WHEN they click on "Put Back on" under the Add Staff filing option
* THEN they should see a modal with the title "Correction - Put

[2022-05-18 14:11] argush3 opened #12270 "Update SP/GP pipeline to support amendment filings"
Following COLIN event/filing types need to be processed by the pipeline and data loaded as LEAR amendment filing.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/03cc15be-5759-447c-9b93-e784d40f202b)

[2022-05-18 14:12] argush3 opened #12271 "Update SP/GP pipeline to support dissolution filings"
Following COLIN event/filing types need to be processed by the pipeline and data loaded as LEAR dissolution filing.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/87951fd4-59f8-4f5c-9677-c8c18eeae89c)

[2022-05-18 14:12] argush3 opened #12272 "Update SP/GP pipeline to be more performant"
Currently, it would take more than a weekend to load 800K SP/GPs.  If we are ok with loading the data into PRD over a longer time period we can close this ticket.  Otherwise, some experimentation is needed to see if we can speed up the processing of SP/GPs.

potential ideas to test:
* add foreign keys and indexes to postgres COLIN db
* reduce number of queries to postgres COLIN db

[2022-05-18 14:12] argush3 opened #12273 "Update SP/GP pipeline to support put back on filings"
Following COLIN event/filing type needs to be processed by the pipeline and data loaded as LEAR put back on filing.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/4d03f496-1c65-4fdf-a2ca-358fd0303bab)

[2022-05-18 14:13] argush3 opened #12274 "Update SP/GP pipeline to support correction filings"
Following COLIN event/filing types need to be processed by the pipeline and data loaded as LEAR correction filing.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/4af69866-7f7c-42c3-897b-1580b112ce87)

[2022-05-18 14:24] argush3 commented on #12272
cc: @lmcclung @rarmitag @droberts27 This might be something we should discuss if it is an absolute requirement that we need all COLIN data loaded into PRD over a weekend when we go live.

[2022-05-18 14:37] rarmitag commented on #11999
Added users to these groups.
staff/viewer
staff/search
staff/admin
NameX_Examiner

[2022-05-18 15:15] cameron-freshworks commented on #12249
@chdivyareddy Hey Divya, moved this into RFQA.
This can be tested by authenticating as staff and NON-staff, and toggling the feature flag  in DEV or TEST, and seeing the MHR search options toggle, this will require a hard reload of the page.
`mhr-ui-enabled` is the feature flag.
Thanks!

[2022-05-18 15:17] #12083 closed

[2022-05-18 15:26] ozamani9gh commented on #11999
@sarahelz19 Richard added all the users from Lindas list except for Safa Khan.

can you please confirm First/Last Name so we can add them to the groups mentioned above

[2022-05-18 15:35] severinbeauvais opened #12275 "Legal API: cannot file registration filings due to 504 error in NAICS code (critical worker timeout)"
It was found yesterday that, in both Test and Dev, filing a registration usually fails with a 504 (but not always).

@seeker25 reported seeing a bunch of `[CRITICAL] WORKER TIMEOUT` errors on Legal API in Test environment but not much else in the logs.

`2022-05-17 21:07:31,606 - legal_api - ERROR in naics:naics.py:40 - find_by_code: 504 Server Error: Gateway Time-out for url: https://legal-api-te

[2022-05-18 15:38] jdyck-fw opened #12276 "Sprint 13.3 Objectives"
1. As staff, I want to complete a conversion filing for an SP/GP so that a user can do a filing on their dashboard - 90%
2. Create Change of owner and dissolution BN Messaging - 95%
3. Update data pipeline to support change registration filings - 90%

Overall - 90%

[2022-05-18 15:39] doug-lovett commented on #12066
Verified in dev with unit testing, test through the UI with search report downloads.

[2022-05-18 15:46] lmcclung commented on #12186
New filing code and fee code for Conversion.
We will use FMCHANGE for the change filing.

[2022-05-18 15:47] JohnamLane commented on #12255
Thanks @tlebedovich ! Search will go live at the same time as SP/GP filings so in July. It should be a really quick one for us to pop in the final image when you're set.

[2022-05-18 15:53] eve-git commented on #11380
The colin error caused by name request name exceed 30 characters.
Steps to reproduce the error:
1. request a name of extraprovincial company with a name over 30 characters.
2. register a extraprovincial company in colin by using the name requested in step 1
3. click submit button beside the NR in colin
4. an error shows at the top banner in colin:
![image.png](https://images.zenhubusercontent.com/

[2022-05-18 16:03] vysakh-menon-aot opened #12277 "BN Messaging (entity-bn) - Change of Registration - Part 2"
Inform CRA about the change.

- [x] Change of Status
- [x] Change of Partner/Proprietor

[2022-05-18 16:10] eve-git commented on #11380
@lmcclung I was digging into the error and find out the real reason. (see my second test case). I will ask Patty to take care of it if an extraprovincial company name can exceed 30 characters.
By the way, do I need to fix the error in my first test case by removing the corp number value after entering a corp name? so that in colin, corp number field leave blank in the case.

[2022-05-18 16:13] shabeeb-aot opened #12278 "Party, Partners and Proprietor show on dissolution details"
* As a completing party who is filing a dissolution filing
* I want to see the email addresses of partners/proprietors
* so that I am aware about the recipient of delivery of dissolution documents

**Acceptance Criteria**

**Scenario 1: Dissolving a SP**
* GIVEN that you are on the Create UI for Dissolution of an SP
* WHEN ... (what you do)
* THEN ... (what you see)

**Scenario 2: Dissolving a GP*

[2022-05-18 16:16] #12070 closed

[2022-05-18 16:18] #11661 closed

[2022-05-18 16:18] jinghualicgi commented on #12174
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12174?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1

[2022-05-18 16:19] yuisotozaki commented on #12024
Ready for QA

[2022-05-18 16:26] jyoti3286 commented on #12246
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/12246?planning-poker) with ZenHub @Ashna-FreshWorks @meganawong @ritvick @seeker25 @shabeeb-aot

[2022-05-18 16:31] mstanton1 commented on #11956
To verify if the legacy PPR system would have shown 002345 as an exact match if it was searched without the leading zeros. This is only necessary if this was the functioning in the old PPR.

[2022-05-18 16:34] mstanton1 opened #12279 "MHR API - MHR Leading Zeros"
Given I am a user completing a MHR Search by Registration Number
When I search a registration number without leading zeros (e.g. 1234)
Then the API will format the API number before searching
And I should still receive the result with the leading zeros at the start (e.g. 001234)

- remove space characters before formatting
- should PAD to 6 digits so this will also work if one leading zero is incl

[2022-05-18 16:34] severinbeauvais commented on #12186
@mdinu1961 Are you working on creating the fee codes / filing types, or is this something a developer should do?

[2022-05-18 16:36] jyoti3286 commented on #12278
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/12278?planning-poker) with ZenHub @Ashna-FreshWorks @meganawong @ritvick @seeker25 @shabeeb-aot

[2022-05-18 16:37] pwei1018 opened #12280 "Find good free/paid courses of GCP training"
The first step is to find good free/paid courses to achieve the training goals.

[2022-05-18 16:38] mstanton1 commented on #12279
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12279?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett

[2022-05-18 16:39] JohnamLane opened #12281 "Back end epic to capture SOLR work and associated API changes"
@kialj876 please revise this ticket as needed, but I have entered this as a start.

Please review the proposed stories under this task and add/remove/rename them as needed in order to achieve:
1. Adding the firm individual/owner details to the SOLR index
2. Revise any schemas or API changes that may result from adding the owner info
3. Craft mock responses and publish to API gateway so partners ca

[2022-05-18 16:39] pwei1018 opened #12282 "Setup Google Cloud access"

[2022-05-18 16:50] jyoti3286 commented on #12092
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/12092?planning-poker) with ZenHub @Ashna-FreshWorks @meganawong @ritvick @seeker25 @shabeeb-aot

[2022-05-18 17:06] ozamani9gh commented on #12124
@whelalbc @KellyMarney @SOhiobor @TGrahamBC @David-Draker @J-Merrick

Thank you for attending the training session please confirm you have access to github and zenhub OPS Board.

Once all access is confirmed i will close this ticket.

[2022-05-18 17:07] tlebedovich commented on #12046
@garyfan1 - UXA feedback for you - please turn off the scaling up/down animation for the tool tip. It can just fade quickly on/off on rollover without the scaling animation please. (this goes for any future tool tips as well as an fyiI).

![Screen Shot 2022-05-18 at 10.01.41 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/ae1c37e7-11c4-40b5-b81c-7d9f0b7ed011)

[2022-05-18 17:08] #12107 closed

[2022-05-18 17:09] jmills-cgi opened #12283 "Sprint 13.3 Objectives"
1. Enable premium users to login and select the search product - 95%
2. Allow users to navigate to the search app from the dashboard - 85%
3. Create MVP version of the business info page showing history and fee calculator - 90%

Overall - 90%

[2022-05-18 17:10] TGrahamBC commented on #12124
Confirmed, I have access

[2022-05-18 17:13] jyoti3286 commented on #11924
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/11924?planning-poker) with ZenHub @Ashna-FreshWorks @meganawong @ritvick @seeker25 @shabeeb-aot

[2022-05-18 17:14] J-Merrick commented on #12124
No Issues accessing for me.

[2022-05-18 17:16] jyoti3286 commented on #12266
testing Not required

[2022-05-18 17:21] tlebedovich commented on #12045
@garyfan1 - UXA feedback: blue link colour should be #1669BB and the link text size 14px as per design comp please. otherwise looks great. moving to in progress.

[Uploading... Screen Shot 2022-05-18 at 10.17.07 AM.png]

[2022-05-18 17:29] jmills-cgi commented on #12255
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/search-team-space-623397c083af5e0011da2662/issues/bcgov/entity/12255?planning-poker) with ZenHub @kialj876 @lekshmimallika-aot @thorwolpert @ZaidGhauri

[2022-05-18 17:29] tlebedovich commented on #11645
@dimak1 - would you have test logins for the different user types above I could use to check these?

[2022-05-18 17:31] tlebedovich commented on #12057
@dimak1 - I think I can move this straight to RFQA and @chdivyareddy can test/confirm.

[2022-05-18 17:33] pwei1018 commented on #12025
In production now.

[2022-05-18 17:35] tlebedovich commented on #11644
@dimak1 moving this straight to RFQA for @chdivyareddy to test/confirm

[2022-05-18 17:37] tlebedovich commented on #11645
@dimak1 moving this straight to RFQA for @chdivyareddy to test/confirm

[2022-05-18 17:51] janisrogers opened #12284 "UI Design - Update BCROS marketing page to include Search"
### Visual Design Comps:
https://projects.invisionapp.com/share/VR12QE847JE8#/screens/467242375?browse

BCROS page: https://www.bcregistry.gov.bc.ca/

Include Beta Tag

[2022-05-18 18:01] ozamani9gh commented on #12267
@Maribeth-Wilson can you please update ticket with Megan Fedoras Github id:    and which repos she needs access to.

[2022-05-18 18:02] seeker25 commented on #11924
Steven is working on https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/11539, which is related

[2022-05-18 18:03] ozamani9gh commented on #12199
@lmcclung shouldn't this be part of entities team sprint.   Is there a reason why the SRE Label is on it?

[2022-05-18 18:36] kialj876 commented on #12023
Ticket will be updated for changes needed to existing UI

[2022-05-18 18:39] pwei1018 commented on #11539
https://github.com/bcgov-registries/ops-support/issues/383

[2022-05-18 18:48] chdivyareddy commented on #12087
**BCROS UI:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/5dc5074b-d8d0-4487-872c-b9f1192a8cc5)

**PPR UI:**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/539bdfc8-632a-48ad-a60d-b8c0fee45c2e)

[2022-05-18 18:50] lmcclung commented on #11652
@mdinu1961 can you look at any recent ops tickets for examples and if not, can you go to their standup and ask for examples?

[2022-05-18 18:54] seeker25 commented on #12222
![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/d083e24c-f18a-4b61-8319-b6c241db184b)

[2022-05-18 18:57] mstanton1 commented on #11682
@doug-lovett I've added responses in the body of this ticket about how the LTSA call is used. It is specific to Registration and Transport Permits and based upon the fact we don't need it for search I'll pulled it back into the backlog. Please review the answers and identify if anything further is needed for when this is picked up in the coming weeks.

[2022-05-18 19:47] ZaidGhauri commented on #12192
1- Sbc auth api would be need to access the code
 https://github.com/bcgov/sbc-auth/tree/main/auth-api
2- GET call on products fro sbc-auth/api
![image](https://user-images.githubusercontent.com/41268766/169143343-3638303c-5375-41e4-bb81-af955fd2c63c.png)

3- Existing product: (needs to add in there. Might be a POSTGRES direct Entry (not sure))
[code]
4- Add .env file
5- Run compose for docker ima

[2022-05-18 20:09] jinghualicgi commented on #12129
From SRE status meeting: We will monitor ops issue to see if we will see this again

[2022-05-18 20:31] tlebedovich commented on #11810
@forgeuxGH5 - Can you UXA this one? I think you have more background information on this.

[2022-05-18 20:39] forgeuxGH5 commented on #11604
Added Search Buttons Conditions matrix to description - we need to include the Client Search dropdown for Reg Staff

[2022-05-18 20:47] eve-git commented on #11380
colin calls getStatus and the response looks wrong
<GetStatusResponse>
  <errors />
  <nrNumber>NR 3254587</nrNumber>
  <findStatusCode>SUCCESS</findStatusCode>
  <nameRequestStateCode>A</nameRequestStateCode>
  <approvedName>PATTY CRACKED TO CODE TEST LTD.</approvedName>
  <expiryDate>2022-05-24</expiryDate>
  <xproJurisdiction>ALBERTA</xproJurisdiction>
  **<homeJurisNum>PATTY CRACKED TO CODE TE

[2022-05-18 20:52] olisaezeh opened #12285 "test 1"

[2022-05-18 20:59] seeker25 commented on #12266
Bumping this to a 2, trying to figure out what happens when there is no account_fees row (which is the case for most of the rows).

[2022-05-18 21:06] fareenr opened #12286 "Update MHR webpage before launch - TBD"
Information on MHR Services is available on the CMS site: https://www2.gov.bc.ca/gov/content/housing-tenancy/owning-a-home/manufactured-home-registry#forms-fees

[ ] Add the text under Search for Manufactured Homes Records or Liens section that combined MHR with liens search is $12.  (Combined PPR/MHR Search is now called Assets Search in the new application)

[ ] Check if any content on this page

[2022-05-18 21:14] magszymanski commented on #12160
Closing as it's a duplicate.

[2022-05-18 21:14] #12160 closed

[2022-05-18 21:47] chdivyareddy commented on #11644
Hey @dimak1 , for the BC Registries Staff(BRTEST1) and SBC Staff(BRTEST5),  when they have both MHR/PPR Access, tombstone should display "Staff Asset Registries". Please take a look, thanks!!

**Current Behavior:**
SBC Staff:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c433bfe2-29f2-49f8-9876-d5f501b17529)

BC Registries Staff:
![image.png](https://images.zenhubuserc

[2022-05-18 21:51] trishreimer opened #12287 "Setup daniele.williamson@gov.bc.ca - IDIR: DANWILLI w git hub account pls so we can add her to ocm and staff board"
could you pls setup daniele.williamson@gov.bc.ca - IDIR: DANWILLI   w git hub account?

[2022-05-18 21:57] dimak1 commented on #11644
@chdivyareddy I will take a look.

[2022-05-18 22:28] seeker25 commented on #12222
I might need to make a change, when they're a long date and a status of REFUND... seems it scrolls a bit.

A few options:
a) I think the outer padding for Transactions is 40, not sure if we could turn this down to 20...
b) We could display 24 hour time (would get rid of a space and AM/PM)
c) Abbreviate the month to MMM, dd (EX. Sep, Mar, Apr etc)

[2022-05-18 22:41] jyoti3286 commented on #12222
Hey Travis, for now, just leave it.

[2022-05-18 23:10] sarahelz19 commented on #11840
@magszymanski Here is the draft... Please let me know if I have captured as discussed. Additionally do I send the  documents/forms as attachments or as links:

Good Afternoon , I have recently joined the Modernization Engagement Team and will be working with them in support of the delivery of new Registry services.
You can anticipate receiving a detailed communication in the near term that outline

[2022-05-18 23:17] seeker25 commented on #12228
Made some changes based on feedback.

1. Title
2. Missing periods
3. Additional Moved and disabled tiles
4. NEW wired up to separate feature flags

[2022-05-18 23:36] #12266 closed

[2022-05-19 00:05] trishreimer commented on #10804
can we think about our API users and ensure the hours of availability are included for them as well? then post link on discourse

[2022-05-19 00:20] severinbeauvais opened #12288 "Edit UI: finish Folio Number implementation in change filing (and maybe conversion filing)"
The "change Folio Number" functionality is incomplete in firm change filings (Edit UI).

**Decision:**
**Let's comment this out so that the folio component does not appear in the Change or Conversion filings.**

Out of scope:
1. display existing FN on first page - the code looks OK but I didn't find any businesses with an existing FN to test this
2. do something when the user changes the FN - is t

[2022-05-19 15:00] argush3 commented on #12275
I think this has to do with how the legal api is calling itself for the NAICS code validation when a filing is submitted and triggers validation.

As of now, the legal api does not directly validate the NAICS code directly using the service/model code.  Instead it calls it as if it is an external api.  This causes a problem because because a single instance/pod of the legal api is currently single

[2022-05-19 15:07] dimak1 commented on #11604
Updated Client Seach button conditions as per attached Condition Matrix.

[2022-05-19 15:15] ozamani9gh commented on #12089
@pwei1018 this ticket is related to #11538.  they are part of an epic.   these should both be brought up at P.O. meeting to discuss solution moving forward.

"the number is probably a decision made by UI team and Business Area, 5, 10, 50, 100. whatever makes sense. The key is not all data should be loaded on initial load." - Omid Zamani

[2022-05-19 15:29] seeker25 commented on #11741
Looks like a CORS error

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/3f2e2c60-8751-4934-b7e7-23987b9fbda7)

[2022-05-19 15:34] mstanton1 opened #12289 "Post Hours of Availability on Discourse"

[2022-05-19 15:36] mstanton1 commented on #12289
BC Registries application availability

The BC Registries Application is available 24/7 for API users with Pre-Authorized Debit payment with the exception of regular maintenance windows which are scheduled Sunday from 6 AM PST to 10 AM PST.

[2022-05-19 15:38] mstanton1 commented on #10804
@trishreimer I created 12289 under this story for the wording to be posted in Discourse. I've taken a first attempt at it. Perhaps somebody on OCM could review and make any changes to the wording they see fit and then we can post?

[2022-05-19 15:38] mstanton1 commented on #12289
@trishreimer would you like for somebody on OCM to review and provide feedback on wording above before it is posted to Discourse?

[2022-05-19 16:06] lmcclung opened #12290 "Registrar Request Deadline EOD May 20th"
Need a spreadsheet completed regarding some of our postgres tables with regards to name fields.

[https://app.zenhub.com/files/157936592/917f0672-1be6-4cb4-92b0-48f2dbeac335/download](https://app.zenhub.com/files/157936592/917f0672-1be6-4cb4-92b0-48f2dbeac335/download)

[https://app.zenhub.com/files/157936592/652362a9-fb2b-453a-8967-feebcdedef86/download](https://app.zenhub.com/files/157936592/652

[2022-05-19 16:09] mstanton1 commented on #12058
Lien badge has been removed from scope for MVP due to policy feedback. A full policy review document will be available for review shortly and additional tickets will be created if we wish to add back into scope.

[2022-05-19 16:12] fareenr opened #12291 "Post on Discourse that APIs not available for RPT and partner services"
Notice to any organizations using automated processes for Rural Property Tax Search, Courts Services Online, Wills Registry, Sites Registry and BC Assessment Reports on BC OnLine (BCOL): These BCOL applications will be modernized and moving over to the new BC Registry application from June 22, 2022 – September 2022 and will be decommissioned in BCOL. Once they are modernized, you will need to logi

[2022-05-19 16:13] fareenr commented on #12291
Posted on  API Discourse forum under Announcements 19-May after review from Trish and Jyoti.

[2022-05-19 16:22] pwei1018 commented on #11234
Also update the Namex 1password setting to point the MRAS dev API in Dev.

[2022-05-19 16:25] pwei1018 commented on #11234
@jdyck-fw Not sure what else I can do for this issue.

[2022-05-19 16:25] SateeshFW opened #12292 "Relationships Sprint 13.3 goal"
1. Completion of remaining Dissolution Filing tickets
2. Pay-api for partners
3. PAD transactions UI enhancement

[2022-05-19 16:33] cameron-freshworks commented on #12058
Thank you!

[2022-05-19 16:54] #4781 closed

[2022-05-19 16:54] #11886 closed

[2022-05-19 16:54] #12263 closed

[2022-05-19 17:07] seeker25 opened #12293 "Sentry - UI needs to prevent invalid postal codes"
'INSERT INTO contacts (created, modified, street, street_additional, city, region, country, postal_code, delivery_instructions, phone, phone_extension, email, entity_id, created_by_id, modified_by_id) VALUES (%(created)s, %(modified)s, %(street)s, %(street_additional)s, %(city)s, %(region)s, %(country)s, %(postal_code)s, %(delivery_instructions)s, %(phone)s, %(phone_extension)s, %(email)s, %(entit

[2022-05-19 17:10] #12293 closed

[2022-05-19 17:14] kialj876 opened #12294 "setup DB in GCP"

[2022-05-19 17:28] vikasvermacertain commented on #12128
the jupyter notebook are alrerdy set up for weekly and daily - that get sent out to Debbie and team.

Have created a monthly one - would be effective from 1st of next month.

[2022-05-19 17:28] #12128 closed

[2022-05-19 17:32] vikasvermacertain commented on #12127
A monthly directory created in the namex repo - monthlynamex jupyter notebook created to send out the monthly stats to Debbie and team.

[2022-05-19 17:42] jinghualicgi commented on #11810
@mstanton1 @forgeuxGH5 This ticket has been there for a while, maybe this is not urgent at this moment. Can we move this back to Backlog or even close this.

[2022-05-19 17:44] severinbeauvais commented on #12288
The design linked in the description shows both a changeable Folio Number (Business Information page) and a Transactional Folio Number (Review and Confirm page).

Looking at the source code, TFN isn't implemented at all, and it looks like FN is only partly there.

We need to review the requirements vs what was implemented and itemize what's left to do.

[2022-05-19 17:44] ozamani9gh commented on #11358
Closing this ticket .  When @gprimeau needs access i will give her the access needed

[2022-05-19 17:46] vikasvermacertain opened #12295 "A local dashboard to show namex stats"
create a local dashboard around the namex stats including:

place cards showing numbers related to Approved, Rejected, Cancelled, Conditionally Approved, Total

try to add a dropdown to select the staff name -> based on the staff (IDIR) selected - the place cards get updated | also based on the staff - the bar chart gets updated too.

By default - the dashboard should show the TOTAL/ SUM of names

[2022-05-19 17:50] #11358 closed

[2022-05-19 17:51] jinghualicgi commented on #12218
@mstanton1 Is this one missing design? Do we have a new design ticket or should use UI Design - MHR Search Design#11075?  PS: moving from New Issues to Grooming

[2022-05-19 18:15] chdivyareddy opened #12296 "UI - MHR Search - Display Middle Name in the Search Results Screen for Owner Name"
- [x] Middle Name is not being displayed in the Search Results Screen for the Owner Name.

**Current Behavior:**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/825d7201-184e-4173-b650-7955d7d0696c)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/40dbfede-ccd6-4679-9300-6b86e381b126)

[2022-05-19 18:38] chdivyareddy commented on #11816
@mstanton1 , as few of these are getting covered in 12058, moving this to Done, thanks!!

[2022-05-19 18:47] forgeuxGH5 commented on #11810
I can do this right after lunch today if you want to keep it going - 100%

[2022-05-19 18:50] mstanton1 commented on #12218
I believe this has been covered by other work @dimak1 was doing. In dev for staff I see the two changes made:

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/e99d3d9a-9d8a-44d6-98a7-093690440c9e)

[2022-05-19 18:53] ozamani9gh commented on #12267
Megan Fedora
Github:  MeganFedora
IDIR:
EMAIL:

[2022-05-19 19:06] ozamani9gh commented on #12267
@Maribeth-Wilson   Added her to Keycloak:
![image.png](https://images.zenhubusercontent.com/62606d9e769b6103917adb08/0e61de06-753b-4bd6-b385-4a046932126f)

[2022-05-19 19:53] argush3 commented on #12275
Talked with Thor about this.  He recommends mirroring the gunicorn config namex is using.  Will work with Richard to the config updated in DEV first and see how things go

[code]

Those values should get changed in dev/test and prod should get checked too

[2022-05-19 19:53] seeker25 commented on #4119
It looks like this was done VIA migration two times previously.

[2022-05-19 19:55] mstanton1 opened #12297 "MHR Combo Search Logic"
Mainframe task to identify the logic that is executed when a user chooses to do a combined search (i.e. select a PPR search for a MHR search result).

[2022-05-19 19:57] mstanton1 commented on #12297
[https://app.zenhub.com/files/157936592/40e5e667-4244-4f1d-bc3a-a111addaa6cb/download](https://app.zenhub.com/files/157936592/40e5e667-4244-4f1d-bc3a-a111addaa6cb/download)

Results provided by Ali May 19th. Pending review to identify if further information is required.

[2022-05-19 20:06] chdivyareddy commented on #12249
Verified as Staff and Non-Staff by toggling the feature flag in DEV.

[2022-05-19 20:18] fareenr commented on #12200
Posted on May 19 on BCOL homepage and text msg on BCOL mainframe posted on 13-May-2022.

[2022-05-19 20:20] seeker25 commented on #11924
Adding a 1 to this, Steven figured out the fix, I've created the PR and pushed to DEV/TEST.

[2022-05-19 20:20] fareenr commented on #9655
5-May requested Duane Lecky at VSA to set up eWills demo/overview for first week of June for Joanna's team and following up weekly

[2022-05-19 20:21] fareenr commented on #11755
19-May - Posted Jun 22 launch date on BCOL Landing page

[2022-05-19 20:22] argush3 opened #12298 "Legal API - update task endpoint to support SP/GPs"
SP/GPs don’t have annual reports or other legislated filings that they have to do.

Note that things like draft dissolution filings will need to still show up in the task list.  Also, some logic was added to add to the task endpoint to add a conversion filing task for SP/GPs.

**TO DOs**
- [ ] update task endpoint to filter out annual report to dos as they are not required
- [ ] update the tests

[2022-05-19 20:26] argush3 opened #12299 "Legal API/schema - update to support a more generic way of providing warnings/errors/compliance warnings"
**TODOs**
  - [x] Rename complianceWarnings to warnings in the schema
  - [x] Add warning type to warnings schema definition
  - [x] Refactor compliance service related code to be for incomplete business info (mostly a renaming exercise and adding a type value to warnings)
  - [x] Refactor any code that populates complianceWarnings property of business block to use warnings (mostly a renaming exer

[2022-05-19 20:28] argush3 opened #12300 "Filing UI - update logic for displaying compliance warnings according to BE changes"
The legal api will be updated to use a more generic warning list via the GET business endpoint.  The current implementation overrides the usage of the complianceWarnings list.  Missing required business info is populated into this list which is incorrect and causes the compliance warning to be displayed on the entity dashboard.

After the update to the business endpoint, complianceWarnings will be

[2022-05-19 20:48] stevenc987 commented on #11539
@mstanton1 @jyoti3286 @pwei1018
This was fixed on Devl and Test. Please test it.

[2022-05-19 20:50] stevenc987 commented on #11924
@mstanton1 @jyoti3286 @pwei1018 @seeker25 @jdyck-fw
This was fixed on Devl and Test. Please test it.

[2022-05-19 21:08] fareenr commented on #11509
Content for new CMS page for BC Registry application hours of availability saved here:
https://docs.google.com/document/d/1nlE1dUHdLHUHeQFh9xaCc2QepsGk8yXmIMV4iOeo6D4/edit

Sent for review by POs and OCM.

[2022-05-19 21:09] mstanton1 commented on #11539
Successfully tested in TEST.

Added CP0002113 to BCREG0094 with folio 11539TST. Next, I navigated to PPR and completed a search. The folio did not appear in the transactions as shown below.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/076ea77f-8910-45b1-bca4-804948c85f05)

[2022-05-19 21:22] forgeuxGH5 commented on #11810
Only make the following changes to MHR searches (PPR to remain unchanged):

- [ ] Update MHR Number search value hint to: "Manufactured home registration numbers normally contain up to 6 digits"
- [ ] Update the complete validations per the validation matrix for MHR Number search and Owner search (some validations missing
- [ ] Update Special Character usage message for Organization search

[2022-05-19 21:26] mstanton1 commented on #12297
Outstanding question to be answered:

For an MHR search results report, are all owners included for a registration or only current ones? If only current/active  ones, how is that state determined: the owner table has no status column?

[2022-05-19 21:33] jyoti3286 opened #12301 "User Navigation after logging in"
* As a public user
* I want to navigate between different BC Registry products
* so that I can easily find what I want

**Acceptance Criteria**

- Different navigation criteria are covered in the below excel sheet(login and Account switching tab only)
 https://onedrive.live.com/view.aspx?resid=E52B0821EC98A357!24582&ithint=file%2cxlsx&authkey=!AO94JYayxvIowPc

- Currently the two login buttons (in

[2022-05-19 21:38] forgeuxGH5 commented on #11810
@mstanton1 currently the PPR Individual Debtor and MHR Owner Name fields are accepting 50 characters for each name field (first, middle, last). The spec is as follows:
First name - 15
Middle name - 15
Last name - 25
Do we want to change the spec to 50 for each or keep it at 50?

The PPR UI isn't validating individual or business debtor name lengths on creating a registration, but it looks like the

[2022-05-19 21:48] lmcclung commented on #12138
@jyoti3286 is there a way to tell in AUTH who did the affiliation of a coop?  what member of an account?

[2022-05-19 21:57] sarahelz19 commented on #11840
Sent emails as noted - Email to Corporate Supervisors included the additional paragraph to address the mass email communication sent May 19th.
Distributed as instructed

[2022-05-19 21:57] Maribeth-Wilson commented on #12209
Questions regarding the form please:

- Account # - make a note where to find this - **_please advise where this can be found_**
  FM# - This is the prefix for the SP/GP - _**is this different then the account number?**_
  I , certify that I am authorized to maintain theses businesses. - _**for the form, is it ok to have the user agree only as we cannot include a signature on the google form**_

[2022-05-19 22:09] lmcclung opened #12302 "Auth API: Technical design ticket - decide on how to affiliate"
- decide on best approach

Option 1:
Affiliate through the legal API by confirming partner/prop name
Then make affiliation call to auth

Option 2:
Affiliate through Auth API and it calls legal API to confirm the partner/prop name

Whoever does this ticket needs to update description in 12173 and 12303 and also create any other tickets needed.

[2022-05-19 22:10] seeker25 commented on #12228
Still working with Thor to figure out why LaunchDarkly wont work with the existing code.

[2022-05-19 22:17] severinbeauvais commented on #12302
This is how the modal adds the affiliation. This may inform what approach we take above.

https://github.com/bcgov/sbc-auth/blob/c1637371a060cac41eacfcaebe10087f0b924e7d/auth-web/src/components/auth/manage-business/AddBusinessForm.vue#L179

Specifically, I see one call to `addBusiness` another to `updateBusinessName`. It may be possible to simply change `addBusiness` in order to minimize code chan

[2022-05-19 22:19] lmcclung opened #12303 "Auth API - dev work"
Dev who works on 12302 to insert descriptions here

[2022-05-19 22:27] lmcclung commented on #12288
Let's not build this until we get some UX feedback from clients.
Instead, let's comment out the folio component in the Edit UI.

[2022-05-19 22:41] mstanton1 commented on #11810
@forgeuxGH5 we moved to 50 with PPR and provided that to API users in the spec (https://developer.bcregistry.daxiom.ca/ppr-api-property-lengths.pdf). Is it a separate requirements doc listing the PPR fields at 15/15/25? If so it should be updated. If you provide a link I can do that.

For MHR, we are stuck with the mainframe limitations for now so need to use the 15/15/25 identified by Patrick in

[2022-05-19 22:52] fareenr commented on #11509
@gprimeau Please create a new webpage to house this content on 'Hours of Availability' for the new application.  This page will be linked on to the BC Registry application homepage.
https://docs.google.com/document/d/1nlE1dUHdLHUHeQFh9xaCc2QepsGk8yXmIMV4iOeo6D4/edit

[2022-05-19 22:53] trishreimer commented on #12238
Hello, the ministry of finance are wondering when this data will be ready. thank you.
@pwei1018

[2022-05-19 23:02] jyoti3286 opened #12304 "Administrative Dissolution: End to End Testing"
## User Story

As a staff
I want to reinstate a business by putting it back on the register
so that Businesses can function and be active in the BC Registry

### Acceptance Criteria

**Scenario 1: Staff clicks on "Administrative Dissolution**
* GIVEN Staff is on a business dashboard
* WHEN they click on "Administrative Dissolution" under the Add Staff filing option
https://preview.uxpin.com/363a49

[2022-05-19 23:05] mstanton1 opened #12305 "MHR Pilot Access for Public Users"
GIVEN I am part of the MHR Pilot in PROD
WHEN I log on to BC Registries in PROD
THEN on my dashboard I see the tile for Manufactured Home Registry IF I have Manufactured Home Registry only
OR on my dashboard I see the tile for Assets Registry IF I have Manufactured Home Registry and Personal Property Registry access

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/dfc919

[2022-05-19 23:35] seeker25 commented on #11741
I've also added in a check, when switching back to BCOL, it should ask for username / password.

[2022-05-19 23:38] lmcclung opened #12306 "Create UI: Registration of SP/GP - Remove non-transactional folio component"
Comment out the the non-transactional folio component in the SP/GP registration flow.

Keep the transactional one for premium clients and the one in the staff component.

[2022-05-20 00:16] seeker25 commented on #12292
3. is going through QA now.
2. I'm hoping on getting some changes done tomorrow.

[2022-05-20 00:22] Maribeth-Wilson commented on #12209
Please review:
- [ ] the [draft Google form](https://forms.gle/dCXExByVQjEBYrit5)
- [ ] the [Google response sheet (collected automatically when the form is completed)](https://docs.google.com/spreadsheets/d/1xIoX_Pw2vUb9GNak50JJmtSRPRkZ7FeImGrFvDyGM10/edit?usp=sharing)
- [ ] the [email response sheet (to be emailed to the Engagement mailbox](https://docs.google.com/spreadsheets/d/1p6SHe8ez12Rr-Jd

[2022-05-20 00:34] doug-lovett commented on #12297
@mstanton1 I have no MHR combination search questions after reviewing the document.

[2022-05-20 00:44] seeker25 commented on #11900
This should be a one liner with some verification.

[2022-05-20 15:13] eve-git commented on #11380
**Work around**
execute the following script in namesp:
[code]

[2022-05-20 15:40] jinghualicgi commented on #11199
@mstanton1 @pwei1018 adding dependency tag and will triage this in next SRE bug triage meeting

[2022-05-20 16:26] droberts27 commented on #10978
There are now no filings before the recognition date for the firm.  I will email Argus with the 501 filings that are exactly the same as the recognition date.  I will ask him if this is a problem.

[2022-05-20 16:32] shabeeb-aot opened #12307 "Update business-create-ui to use legal API to V2"
## What is the problem?
* currently business-create-ui project is using legal api v1 endpoint
* party API is not available in v1 API

## What is the impact?
*

## Proposed solution
* update to V2 API from V1.

After discussion with Severin, we have to do below

Once we have updated v1  to v2 , need to remove below codes (code to get party API from v2 ),

in `config-helper.ts,`
remove code which se

[2022-05-20 16:34] jinghualicgi commented on #12251
@mstanton1  we are wondering if there any specific information related with "into other UI fields"?

[2022-05-20 16:43] #12229 closed

[2022-05-20 16:43] #11827 closed

[2022-05-20 16:43] #12231 closed

[2022-05-20 16:48] jinghualicgi commented on #11956
Provided priority and estimate during bug triage

[2022-05-20 16:50] JohnamLane commented on #12022
@ZaidGhauri  thank you this breadcrumb looks good. I will leave this in UX review so @janisrogers can have a look when she has a chance.

[2022-05-20 16:56] chdivyareddy commented on #12279
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/acbfaeff-df5b-47e6-a4fb-35d15d82570d)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/5766ca80-af4d-49b6-aa35-219ad44b3f55)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/619ff403-8825-414d-bfea-ea491ba48a7e)

![image.png](https://images.zenhubusercontent.c

[2022-05-20 17:03] ZaidGhauri commented on #12191
**Developer Notes:**

- Sbc Web code needed to clone to access code
 https://github.com/bcgov/sbc-auth/tree/main/auth-web

- go to product selector service vue component for the code

![image](https://user-images.githubusercontent.com/41268766/169573092-6e1b1600-c267-417c-aefe-838f5b66ad10.png)

- Product.vue is used to render product using productList (OrgProduct.ts)
- Follow the steps
- Create a

[2022-05-20 17:03] lmcclung commented on #12136
We don't need to worry about bug #2 - both sections are only editable by staff and they would put the same name in both places.

[2022-05-20 17:05] ZaidGhauri commented on #12190
Hey guys! Please review and let me know if there is any other information is required @kialj876 @lekshmimallika-aot

[2022-05-20 17:06] forgeuxGH5 commented on #11810
@PatrickAHeath can you confirm/update the validation matrix for Organization Name length - the max length column says 22 characters but the messages are saying 70.

[2022-05-20 17:23] eve-git commented on #12241
test in dev:
**BEFORE**
[code]
![image.png](https://images.zenhubusercontent.com/5da9d9a151b27c0001f5c9ec/55f74d3f-e3bf-44c8-911d-01d56691492c)
![image.png](https://images.zenhubusercontent.com/5da9d9a151b27c0001f5c9ec/da731707-d4e8-4c5c-a83a-a01a01a52d0b)

**EXECUTE the SQL**:
[code]
**AFTER**
[code]
![image.png](https://images.zenhubusercontent.com/5da9d9a151b27c0001f5c9ec/6db1cf93-d8e9-4456-ba6

[2022-05-20 17:24] eve-git commented on #12241
@ozamani9gh Can you verify if the above result is expected?

[2022-05-20 17:34] ritvick opened #12308 "LEGAL API: Priority fee is not being applied to invoice while disolving a business from staff user"
**Describe the bug in current situation**
A clear and concise description of what the bug is.
When a staff selects priority fee while doing dissolution filing, the priority fee is not charged to the invoice.
This is existing for Benefit companies too.
It was discovered while developing dissolution workflow for SP and GP

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i

[2022-05-20 18:11] chdivyareddy commented on #11604
@dimak1 As per the discussion, please display the fee ($8.50 fee) under the search bar when a user selects the PPR search category.

**Current Behavior:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/26aa35d0-ec56-41aa-924e-3c34e9f8b5d3)

[2022-05-20 18:16] jinghualicgi commented on #12290
Based on Thor's comments in SRE RC on May19, this is done.

[2022-05-20 18:29] jinghualicgi commented on #11802
Total summary counted as 14 story points (5 hours = 1 SP, and 1 day = 5 hours)

[2022-05-20 18:29] #11802 closed

[2022-05-20 18:32] lmcclung opened #12309 "SP/GP Edit UI - use business search functionality from Create UI in Edit UI (part 3)"
- [x] make the business search work done in Create UI into a shared component
- [x] back-port the shared component into Create UI
- use the shared component in Edit UI
  - [x] import the shared component, etc
  - [x] update vaults.json to include new keys
  - [x] update configuration.json to include new keys
  - [x] add new Business Lookup Service
  - [x] update fetchConfig.ts to load new keys
  -

[2022-05-20 18:51] doug-lovett commented on #12177
MHR number search example:
[https://app.zenhub.com/files/157936592/be3ba817-641e-41b4-966f-8349d3c7f107/download](https://app.zenhub.com/files/157936592/be3ba817-641e-41b4-966f-8349d3c7f107/download)

[2022-05-20 18:52] doug-lovett commented on #12177
Serial number search example:
[https://app.zenhub.com/files/157936592/061b68d8-e561-4428-9d11-fd073e3230bf/download](https://app.zenhub.com/files/157936592/061b68d8-e561-4428-9d11-fd073e3230bf/download)

[2022-05-20 18:52] doug-lovett commented on #12177
Owner search example:
[https://app.zenhub.com/files/157936592/933bec30-cea0-4dd8-8281-1c9d2d337bda/download](https://app.zenhub.com/files/157936592/933bec30-cea0-4dd8-8281-1c9d2d337bda/download)

[2022-05-20 18:53] doug-lovett commented on #12177
Organization name search example:
[https://app.zenhub.com/files/157936592/8c2e2a50-ee1a-4704-a45f-482a0a1e294d/download](https://app.zenhub.com/files/157936592/8c2e2a50-ee1a-4704-a45f-482a0a1e294d/download)

[2022-05-20 18:54] doug-lovett commented on #12176
See 12177 attachments for table of contents examples.

[2022-05-20 18:55] doug-lovett commented on #12175
NIL results example:
[https://app.zenhub.com/files/157936592/9eda1e39-30e4-46b0-ad9e-3ded633df242/download](https://app.zenhub.com/files/157936592/9eda1e39-30e4-46b0-ad9e-3ded633df242/download)

[2022-05-20 18:56] doug-lovett commented on #12175
PPR results example:
[https://app.zenhub.com/files/157936592/e0ebf889-e53f-4422-8a09-1856a6700288/download](https://app.zenhub.com/files/157936592/e0ebf889-e53f-4422-8a09-1856a6700288/download)

[2022-05-20 18:56] doug-lovett commented on #12175
PPR expired results example:
[https://app.zenhub.com/files/157936592/2a6df5a7-ede4-45a2-8b0b-b68a909e2490/download](https://app.zenhub.com/files/157936592/2a6df5a7-ede4-45a2-8b0b-b68a909e2490/download)

[2022-05-20 18:56] doug-lovett commented on #12175
PPR discharged results example:
[https://app.zenhub.com/files/157936592/e07e52ac-7dca-4d04-975c-278eefbd9f48/download](https://app.zenhub.com/files/157936592/e07e52ac-7dca-4d04-975c-278eefbd9f48/download)

[2022-05-20 19:13] tlebedovich commented on #10264
@forgeuxGH5 - first kick at the can ready for your review

[2022-05-20 19:17] Ashna-FreshWorks commented on #12222
requested timestamp is available for transactions and in CSV export file as well.

[2022-05-20 19:28] severinbeauvais commented on #10885
@tlebedovich

Re: the flag that specifies whether a business/corporation was manually entered or looked up

What is your requirement/plan for this? This ticket may save the flag but for an end-to-end feature to work, some schema/API/db work may be needed to expose the flag, say, in Edit UI (get parties endpoint).

[2022-05-20 19:39] mdinu1961 commented on #12186
@lmcclung @severinbeauvais @lekshmimallika-aot  @jdyck-fw I have completed adding the filing type FMCONV and related fee codes in Pay Admin Dev. Please let me know if you encounter any issues.

[2022-05-20 19:42] lewischenstudio opened #12310 "BCRS Shared Components - update Nature of Business to handle unexpected NAICS format"
The Nature of Business component for SP/GP in Edit UI is a shared component from the bcrs-shared-components project. For NAICS entered from conversion filings that doesn't have a value for `naicsCode`, the Nature of Business component in change filing is not be rendered. Edit UI (change filing) should handle displaying an unexpected NAICS format (missing code).

**Decision:**  Just display the des

[2022-05-20 20:28] severinbeauvais commented on #11954
Still blocked by API work to allow filing a conversion.

[2022-05-20 20:28] severinbeauvais commented on #12186
@mdinu1961 Great! This unblocks my ticket 11954.

PS FMCONV and FMCHANGE need to be added to Test and Prod environments well.

[2022-05-20 20:32] seeker25 commented on #12195
![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/c916544e-e488-470f-aab8-766c0d1c8861)

[2022-05-20 20:35] sarahelz19 commented on #11531
@gprimeau I have scheduled a meeting for Tuesday May 24 to discuss

[2022-05-20 20:36] sarahelz19 commented on #11532
@gprimeau I have set up a meeting on Tuesday May 24th to discuss

[2022-05-20 20:45] sarahelz19 commented on #11840
Link to the emails sent in Google Docs
[https://docs.google.com/document/d/1A8GNpz_XviMh4MAu5IqBONOsOKR4KuvO4I9Yi6KveDI/edit](url)

[2022-05-20 20:58] lewischenstudio commented on #11960
Note on testing filing with updated Nature of Business:
- SP/GP valid FMs will be displayed, whereas FMs without valid business address will not be rendered. This will be implemented in #12206.
- Nature of Business text area will accept empty text, verified with Linda.
- The new NAICS data will be saved to `naicsDescription`, leaving `naicsCode` empty string "".
- Current BE won't accept conversio

[2022-05-20 21:18] PatrickAHeath commented on #11810
@forgeuxGH5 Updated.

[2022-05-20 21:29] seeker25 commented on #11900
Note for testing: Ensure the account you're inviting doesn't have the staff under role in KEYCLOAK.  Otherwise you'll get an unauthorized error after clicking the invite link.

I think I see a bug along the way, can't seem to edit this:
![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/6e70ea80-6e3e-4bf3-b8c7-1ccfd8fe9fec)

[2022-05-20 21:47] jennyschan opened #12311 "Ability to perform Business Search"
Ability for Registry support to perform Business Search (e.g. Corporative, Benefit Company)

**Acceptance Criteria**
GIVEN I'm a member of Registry support (e.g. Claudine's team)
WHEN login BC Registries and Online Services using IDIR
THEN I'd be landing on the Business Search screen (BC Registries Dashboard =>Business Search)
SO THAT I can do to Business Search

[2022-05-20 21:48] JohnamLane opened #12312 "Pay API - Import Business Search pay artifacts - Add Corp Type code, Fee Schedule, Distribution code"
In order to get Business Search set up to talk to the Pay API and Fee Calculator, some things need to be added to the Pay API.

Please add the following to Dev, Test and Prod

Please insert the following corp_type:
Code: BUS
Description: Business Search
BCOL Fee Code used for Account transactions: null
BCOL Fee Code used for Staff transactions. (starts with 'C'): null
Is Online Banking allowed: No

[2022-05-20 22:07] jennyschan opened #12313 "Ability to view the Business Search results"
When user enter the Search info (using Business Name, Business number, Registered Number, or CRA number) and click the search button/icon

1.  Results found section will display results associate with the text/number entered

![image](https://user-images.githubusercontent.com/104090299/169619028-ab343598-1109-48e3-8f16-3e39cc011872.png)

**Dependencies? What is the impact of this dependency? (If s

[2022-05-20 22:08] argush3 commented on #12275
Gunicorn processes/threads configuration updates have been applied to Dev and Test.  Initially thought the updates had been applied but they weren't actually.  The values weren't getting injected as environment variables for the legal api pods correctly.  I've done a bunch of testing in Dev and Test and was no longer able to get the NAICS timeout error.

@severinbeauvais you can always try to brea

[2022-05-20 22:20] argush3 commented on #12275
Settings have reverted with latest CD to DEV.  Pulling back to in-progress.  Will need to wait for Richard to look into why things reverted.

[2022-05-20 22:38] jennyschan opened #12314 "Display an info icon for entities not available (e.g. Credit Union, Private Act, Libraries, Parishes)"
Display an info icon for entities not available on the Business Search page (e.g. Credit Union, Private Act, Libraries, Parishes)

**Acceptance Criteria**
On the Business Search page, add info icon to advise user that Credit Union, Private Act, Libraries, Parishes are not available with contact number or URL for further assistance.

![image.png](https://images.zenhubusercontent.com/626855c7fa4558d

[2022-05-20 22:44] doug-lovett commented on #12178
MHR number search example:
[https://app.zenhub.com/files/157936592/1391e783-8c60-4cfa-8e3c-3903d9ec1a2f/download](https://app.zenhub.com/files/157936592/1391e783-8c60-4cfa-8e3c-3903d9ec1a2f/download)

[2022-05-20 22:44] doug-lovett commented on #12178
Serial number example:

[https://app.zenhub.com/files/157936592/c3d89f4c-3218-4312-b098-ac47bd351c11/download](https://app.zenhub.com/files/157936592/c3d89f4c-3218-4312-b098-ac47bd351c11/download)

[2022-05-20 22:45] doug-lovett commented on #12178
Organization Name example:
[https://app.zenhub.com/files/157936592/f81a16d2-b4f8-4383-9c28-bd6f4dc045f2/download](https://app.zenhub.com/files/157936592/f81a16d2-b4f8-4383-9c28-bd6f4dc045f2/download)

[2022-05-20 22:47] doug-lovett commented on #12178
Owner Name example:
[https://app.zenhub.com/files/157936592/22fe1f0d-85ef-445c-b660-b51eab31c3ab/download](https://app.zenhub.com/files/157936592/22fe1f0d-85ef-445c-b660-b51eab31c3ab/download)

[2022-05-20 22:47] JohnamLane commented on #12312
@seeker25 I believe this is ready to proceed. I've located the correct dist code, but it needs to be inserted looks like. I will loop back and manually add the variable fee codes to the corp_type once they have been created on the mainframe.

[2022-05-20 22:47] doug-lovett commented on #12178
Max name length example:
[https://app.zenhub.com/files/157936592/675bf77f-21e6-4ede-a064-4e83a099b086/download](https://app.zenhub.com/files/157936592/675bf77f-21e6-4ede-a064-4e83a099b086/download)

[2022-05-20 23:03] jennyschan opened #12315 "Update the summary-report-example on website"
Currently, the website display this summary-report-esample

**Acceptance Criteria**
Display the newer version of the summary-report-example
here is the example of the new business summary
![image.png](https://images.zenhubusercontent.com/626855c7fa4558db4e083a81/280860e4-a443-43ad-82fd-1396411404f6)
![image.png](https://images.zenhubusercontent.com/626855c7fa4558db4e083a81/1d4bdf70-9561-4e32-9a47-

[2022-05-20 23:17] seeker25 opened #12316 "Sentry Error - TEST - Deleting an invoice that doesn't have an invoice_reference causes an exception"
https://sentry.io/organizations/registries/issues/3290074204/?alert_rule_id=849362&alert_timestamp=1653083297766&alert_type=email&environment=production&project=1762951&referrer=alert_email

Deleting an invoice that doesn't have an invoice_reference causes an exception.

[2022-05-20 23:50] forgeuxGH5 commented on #11604
Please pass this ticket through UX Assurance.

[2022-05-20 23:52] magszymanski opened #12317 "OCM - Schedule engagement session on new SP/GP registration and change filings for end of June/July - due: June 2"
Sessions booked for Jul 12 @ 10am and 11am

RSVP form:
https://docs.google.com/forms/d/1-saA3ZLTAaF_WVyHgaqhVshIEdCiD8agpjBz1GJrvdg/edit?usp=drive_web

[2022-05-20 23:53] magszymanski opened #12318 "OCM - Schedule engagement session on new Business Search for end of June/July - due: June 2"

[2022-05-21 00:01] magszymanski opened #12319 "OCM - Make orgs aware to update their references to OneStop/ACBC with BR home page"
If you google onestop, you’ll see that our partners (i.e., IDIM, CRA, provincial, local govs, etc.) and many other agencies and influencers (who we are meeting with) reference this app. I think we may need to do more and be more explicit in our communications to ensure they know this app is changing and all references will need to be updated. We need to provide as much notice as we can especially

[2022-05-21 00:09] magszymanski commented on #10018
@sarahelz19 have a read through this ticket - this is part of defining how SBC will support the new SP/GP flows. It's in line with the discussions you have been part of over the last two meetings. I am untagging myself from this ticket but will support you in the transition. This ticket will be complete soon once the training and all it entails is fully established. You can use the Slides timeline

[2022-05-21 03:39] seeker25 commented on #12316
Minor fix for this, move the set invoice reference status to the if condition.

[2022-05-21 03:45] seeker25 commented on #8952
I don't think this is a bug anymore, routing slips don't allow for special characters.

[2022-05-21 03:45] #8952 closed

[2022-05-21 03:53] seeker25 commented on #5484
There is a knowledge sharing video by Sumesh for this?

[2022-05-21 03:55] seeker25 commented on #5485
I think there is a video by sumesh for this?

[2022-05-21 04:39] seeker25 commented on #5841
I think this is fixed.

[2022-05-21 04:39] #5841 closed

[2022-05-21 04:45] seeker25 commented on #8705
I've extended the column length to 15 for this in another ticket.

[2022-05-21 04:45] #8705 closed

[2022-05-21 04:48] #6048 closed

[2022-05-21 04:48] seeker25 commented on #6048
Closed, looks complete.

[2022-05-21 04:50] #1856 closed

[2022-05-21 04:50] seeker25 commented on #1856
I think this is done.

[2022-05-21 05:00] seeker25 commented on #10134
I think upgrading Vuetify should fix this?

[2022-05-21 18:34] seeker25 commented on #10296
The current call to get "ACTIVE" or "HISTORICAL" state is
`GET https://legal-api-dev.apps.silver.devops.gov.bc.ca/api/v2/businesses/xxx`

[2022-05-24 03:27] magszymanski commented on #12209
I updated the form so that clients can enter up to 10 businesses:
- I set data validation to the FM number question so that users only enter the number (excluding "FM"). We can't set the validation so that there are exactly X number of digits, unfortunately.
- After a user enters one business, they are asked if they want to enter another. If they select "yes", they will be taken to the next sectio

[2022-05-24 04:02] magszymanski commented on #12208
@trishreimer I've updated this based on our Friday communication. Please let me know what you think! I will then tag/send to Linda. Thanks!

[2022-05-24 04:21] seeker25 opened #12320 "Pay API - Unit tests failing on weekend"
See below, this seems to happen on Saturday / Sunday.

_________________________ test_update_statement_daily __________________________

session = <sqlalchemy.orm.scoping.scoped_session object at 0x7fcc47d603a0>

    def test_update_statement_daily(session):
        """Assert that the statement settings by id works."""
        bcol_account = factory_premium_payment_account()
        bcol_account.s

[2022-05-24 04:26] seeker25 commented on #12312
Similar to:
https://github.com/bcgov/sbc-pay/pull/934/files#diff-49399c793cab0af1bcb24ee9c96654589844e32af6246894eabb40b598fb0553

[2022-05-24 05:25] thorwolpert commented on #12320
I use freezegun to do test that require time manipulation.
eg. https://github.com/bcgov/lear/blob/main/legal-api/tests/unit/core/test_filing.py#L151

[2022-05-24 05:55] jyoti3286 commented on #12138
Yes, when we build the activity log, it will be shown in the UI. It's still captured in the database as an event

[2022-05-24 15:22] jinghualicgi commented on #11650
@fareenr Should we move this ticket to Review pipeline and assign to John? Thanks

[2022-05-24 15:57] dimak1 commented on #11644
@chdivyareddy updated the titles, code is reviewed and merged.

[2022-05-24 15:57] tlebedovich commented on #12284
@janisrogers - this need copy written before I can layout the tile please.

[2022-05-24 16:10] Ashna-FreshWorks commented on #11924
Folio number now is coming as empty when not provided
![Screen Shot 2022-05-24 at 12.09.20 PM.png](https://images.zenhubusercontent.com/6266dce4f20b9d122add4d61/54cfa99a-f660-42b2-9f4e-bbffa826ac08)

[2022-05-24 16:13] Ashna-FreshWorks opened #12321 "Date Validation error message missing while dissolving SP/GP"
Current behaviour:
While Dissolving an SP/GP "Business Dissolution Date" component is not displaying the error message if left empty.

Expected Behaviour:
The validation message as per the design should be present
![Screen Shot 2022-05-24 at 12.13.47 PM.png](https://images.zenhubusercontent.com/6266dce4f20b9d122add4d61/5f802ec0-eede-44b3-8183-5a7c1a57fc82)

[2022-05-24 16:31] #12222 closed

[2022-05-24 16:32] janisrogers commented on #12284
@tlebedovich What do you think of this?
![image](https://user-images.githubusercontent.com/55597599/170086730-9f43ec0d-857b-4d92-a8a8-abe40a8cd920.png)

[2022-05-24 16:37] #11912 closed

[2022-05-24 16:42] #12186 closed

[2022-05-24 16:48] seeker25 commented on #11741
A minor change - when switching from PAD -> BCOL it should set it into EDIT mode with the username prepopulated.

[2022-05-24 17:00] janisrogers commented on #12022
This looks good to me. @JohnamLane should I move it to done?

[2022-05-24 17:07] AshnaMehta opened #12322 "PAD fields information gets removed while editing if validation fails"
Current behaviour:
While editing PAD information, edit/remove the value of any field (transit number, Institution num or account num) and move to next field/click anywhere; this would remove all the information from remaining fields.
![Screen Shot 2022-05-24 at 1.04.19 PM.png](https://images.zenhubusercontent.com/6266dce4f20b9d122add4d61/7ef03158-9f56-4a3b-8b18-9a20eab698d1)

Expected behaviour:
E

[2022-05-24 17:09] trishreimer opened #12323 "Update BC Gov External Website for SP/GP"

[2022-05-24 17:10] #12323 closed

[2022-05-24 17:13] jyoti3286 opened #12324 "Display Banner message for SP and GP on Create UI"
As a user,
I want to see an appropriate message on the dissolution page
So that I know the impact of dissolution

**Scenario: Message for SP**
- GIVEN I am on the dissolution page for SP
- WHEN I want to review the impact of dissolving
- THEN I can see that on the screen
![Screen Shot 2022-05-24 at 10.18.17 AM.png](https://images.zenhubusercontent.com/5da610e0fc369f000178ab20/d362aa39-e168-467a-83

[2022-05-24 17:15] PatrickAHeath opened #12325 "Search Keys for Serial Numbers with non alphanumeric characters - regenerate search keys (OPS 850)"
**Describe the bug in current situation**
This is related to OPS Ticket 850.
Client encountered a situation where entering an exact serial number with a dash or period as the serial number search parameter would not produce an exact match in the results.
Registration Number: 485104N
Serial Numbers: 99972-0216 and T20HD.016

Doug has determined that the search key for the search doesn't match the s

[2022-05-24 17:23] jinghualicgi opened #12326 "OCM - Reminder Communication to MINISTRY (Search & SP/GP), Due June 7"
Reminder email to ministry BCOL users to get set up in the new BC Reg App.

Draft: https://docs.google.com/document/d/15n4OvnH6eMPSwaMk35YFTw3DdkusabBKiWvZwOle5Pk/edit#
DL; https://docs.google.com/spreadsheets/d/1_R7mT1MTMlsmr4TD7NJtiYVj9iSI6Dfd/edit?usp=drive_web&ouid=109508011503764748857&rtpof=true

Audience:
- ministry users : including BCOL Admin

Include:
- [x] Add Business Search as its own

[2022-05-24 17:31] jinghualicgi opened #12327 "OCM - Oct 24 release reminder to Ministry users (Search & SP/GP), Due: September ?"
Reminder to ministry users to get set up in the BC Reg application, include new release timeline AND new deadline to get set up.
Include new release timeline

Draft: https://docs.google.com/document/d/1lencJWkbtB3uOgOxCsHJsSaX7ug8GRPTj2v-5FVKyU0/edit?usp=sharing
DL: https://docs.google.com/spreadsheets/d/1AxDnERc_wE-w6_xoWsmhwOTSe7CAbvsi/edit?usp=sharing&ouid=109508011503764748857&rtpof=true&sd=tr

[2022-05-24 17:32] jinghualicgi opened #12328 "OCM - Oct 24 release reminder to Non-Ministry users (Search & SP/GP), Due: September ?"
Reminder email to non-ministry BCOL users to get set up and include new release timeline AND new deadline to get set up.

Send out in September once initial release date comms is sent out

Draft: https://docs.google.com/document/d/1kPWW9hNh6OtDnp-lAqLe8D6Jw-ymCnqK/edit#
DL; https://docs.google.com/spreadsheets/d/1X5xyOL7cclbZHM1Xws3UYiEEm9qJthzG/edit?usp=sharing&ouid=109508011503764748857&rtpof=tr

[2022-05-24 17:32] chdivyareddy commented on #11644
Hi @dimak1 , **SBC Staff (BRTEST5)** is working as expected. But, **BC Registries staff (BRTEST1)** & **BCOL staff (BRTEST3)** both displays "Staff Personal Property Registry" in the breadcrumb & tombstone. Can you please take a look at the attached screenshots below, thanks!!

**Current behavior:**
**SBC Staff:**(expected)
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814

[2022-05-24 17:33] jinghualicgi opened #12329 "OCM - Support work needed for BCOL Admin"
BCOL Admin will get swamped with:
- Ministry account set up
- Reviewing non-ministry accounts
- Adding fee codes to both after Search product selector is added

Fees for new Search will be configured at the Business Search product level. BCOL Admin know the fee code structure for each client and will need to go back in set the fee structure to each account.

We need to communicate with them about

[2022-05-24 17:43] jinghualicgi opened #12330 "Website - Making a separate page for availability"

[2022-05-24 17:45] fareenr commented on #11842
Email sent out to all potential API users plus tech workshop attendees on 16-May

[2022-05-24 17:56] tlebedovich commented on #10885
I will defer to @yuisotozaki and @rkim13103 for this.

[2022-05-24 17:58] fareenr opened #12331 "Review Business API feedback - early June"

[2022-05-24 18:02] tlebedovich commented on #12284
@forgeuxGH5 - are you ok with the updated copy here?
@janisrogers - Did we want a yellow NEW or BETA tag included? if beta, does it link somewhere?

we should spec what happens to logged in/out users for what happens when they click the link

[2022-05-24 18:03] lekshmimallika-aot opened #12332 "Misc. Conversion Filing"

[2022-05-24 18:15] seeker25 opened #12333 "Auth API: Handle reverse dissolution"
From: https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/10296

Currently there is a state for dissolution, but I don't see anyway of reversing a dissolution because I don't think it's implemented yet.

There are a bunch of different events but not really sure which one would be used to reverse a dissolution:
https://github.com/bcgov/lear/blob/e

[2022-05-24 18:19] #12333 closed

[2022-05-24 18:19] seeker25 commented on #12333
`correction` event is what I was looking for.

[2022-05-24 18:49] janisrogers commented on #12284
@tlebedovich I have been discussing with Scott and will be proposing new copy. We will want the BETA tag. No link has been designed. (depending on when this goes live, it may need a coming soon badge first.

[2022-05-24 19:09] fareenr commented on #11383
11-May email sent to all new BC Registry PPR administrators

[2022-05-24 19:11] fareenr opened #12334 "Update PPR Search Results guide - results now retained for 14 days"
Requested by Patrick Heath to update PPR Search results guide to note change that search results are now retained for 14 days instead of 7 days.

Need to ensure this is published to the same URL link as it is referenced on the BC Registry application homepage.

[2022-05-24 19:14] fareenr commented on #12334
Saved updated PDF copy of PPR Search Results Guide here: https://drive.google.com/file/d/1TzAZLVFBM0qTyaQJrVDIrhN8dcMIYfX0/view?usp=sharing

[2022-05-24 19:15] fareenr commented on #12334
@gprimeau  Please update the PPR Search Results Guide document on the webpage and ensure the same URL link is used (as this is referenced in the application homepage).

[2022-05-24 19:26] severinbeauvais opened #12335 "Verify: Filings UI - Draft conversion filing in todo list"
This may 'just work'. Verify this and create another ticket if changes are required.

- see draft with appropriate title + subtitle
- see draft with appropriate actions
- able to resume draft
- able to delete draft

[2022-05-24 19:47] chdivyareddy commented on #12045
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/abe7f8be-ed96-44a6-b026-d57a1c52c9c0)

[2022-05-24 20:46] sarahelz19 opened #12336 "SP/GP - Online Dissolution Form"
Paper form for dissolution must be updated to an Online Form
Current Form
[](url)https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-forms/dissolution_of_proprietorship_or_partnership_registration_reg_722.pdf

[2022-05-24 21:27] sarahelz19 opened #12337 "FORM - OCM Sole Proprietorship - Corrections FORM - Net new"
The requirement is for a net new form (modeled on the Corporate Form 47) To allow users to do an online correction to the Registration (not a change... but in  the correction of a mistake)
There is a $20 filing fee for each  correction (to be confirmed)

Form 47 - Link below
[https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-reg

[2022-05-24 21:30] sarahelz19 opened #12338 "FORM - OCM - SPGP - Corrections Form - Net new -"
Net new online form for SPGP Corrections (mistake in original filing )
NOTE: separate from the change form which is used to update/amend registration partnership information
Model on the Corporate form 47 - Link below
[https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-forms/form_47_n_correct_the_corporate

[2022-05-24 21:51] Maribeth-Wilson opened #12339 "Business Area - Github/Zenhub - Onboard Staff Dashboard"
Need to confirm who will require access to the Staff Dashboard. Please see below list for Info Centre access. Would this be the same for Zenhub?

[Access to Info Centre](https://docs.google.com/document/d/1_oZuAP7rtPHXLwsImWOL6pYuCZ0BBdJt/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true)

[2022-05-24 21:52] Maribeth-Wilson opened #12340 "Create templates"
templates are required for all products (ie. Wills, Search, Rural Property, etc)

[2022-05-24 21:53] Maribeth-Wilson opened #12341 "Create list of all Staff Dashboard members with user names"

[2022-05-24 22:29] PatrickAHeath commented on #12325
Verified in TEST - 99972-0216 and T20HD.016 now return an exact match.

Checked a few of the others in TEST and all returned an exact match using the complete value as the serial number search parameter.

@doug-lovett Is it possible to determine all PROD serial number searches done with non alphanumeric characters in the search parameter?  (Do we have to notify any clients or issue refunds?)

[2022-05-24 22:35] SateeshFW commented on #12301
Login estimation - 8pts
Account Switching - 13pts

[2022-05-24 22:38] gh2os commented on #12128
hey vikas,

it looks like these reports are still counting priorities as double.

for instance,
if someone has 50 approvals -- that's it. no other rejections etc
45 prioities
5 nonprio
the overall is taken as `50 approvals` and not broken down. then the query also grabs the daily total of priorities and adds that AGAIN and will give an overall total as `95` because it is adding the `45` priorities

[2022-05-24 22:39] SateeshFW commented on #12265
This ticket will cover postman collection for SBC-Auth and SBC-Pay

[2022-05-24 22:40] MeganFedora opened #12342 "Learning Zunhub - TEST"

[2022-05-24 22:54] eve-git commented on #12017
Added the url for the pdf:
![image.png](https://images.zenhubusercontent.com/5da9d9a151b27c0001f5c9ec/42246978-491a-4501-88d9-8d21700003e3)

[2022-05-24 22:58] yuisotozaki commented on #10885
There need not be a "flag" necessarily. It was a description of a way to figure out if the business proprietor/partner was added using the "Business Unregistered in B.C." form. This was felt to be important at the time of the original design as the permissions on the fields the user can edit were different depending on the way the business was added (lookup vs unregistered form).

The team has sin

[2022-05-24 23:09] janisrogers opened #12343 "UI Design - Handle when no filings have PDFs"
Change instruction text on screen (in all cases) to cover scenario when filings have only 'paper-only' filings, all digital filings, or if there is a mix.

Change text under How to access Business Documents
Change text of selector under Available Documents to Download

#### Wireframes
https://preview.uxpin.com/229822734e551d52d29894711b312a80ee788a58#/pages/150360321

[2022-05-24 23:12] doug-lovett commented on #12247
For comparison, here is an existing certified copy report with Carol's signature.
[https://app.zenhub.com/files/157936592/2258320c-b765-4369-9087-b6ed174892db/download](https://app.zenhub.com/files/157936592/2258320c-b765-4369-9087-b6ed174892db/download)

[2022-05-24 23:12] doug-lovett commented on #12247
And here is one with Kaine's signature:
[https://app.zenhub.com/files/157936592/938fc726-8c36-45c9-b976-c6bdf16561e8/download](https://app.zenhub.com/files/157936592/938fc726-8c36-45c9-b976-c6bdf16561e8/download)

[2022-05-24 23:28] sarahelz19 opened #12344 "FORM - OCM - Online Dissolution Form - SP & GP"
Develop Online Dissolution form for SP & GP
Current State Form Below

 [https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-forms/form_47_n_correct_the_corporate_register.pdf](url)

[2022-05-24 23:29] sarahelz19 opened #12345 "FORM - OCM - Online Dissolution Form - SP & GP, due Oct 24"
Develop Online Dissolution form for SP & GP
Current State Form Below:
[https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-forms/form_47_n_correct_the_corporate_register.pdf](url)

[2022-05-24 23:46] sarahelz19 opened #12346 "FORM - OCM - Change Form Sole Proprietor Online - Jun 15"
Develop Online Change Form for Sole Proprietor

Current Form:
[https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-forms/change_proprietorship_or_partnership_registration_reg_720.pdf](url)

[2022-05-24 23:48] sarahelz19 opened #12347 "FORM - OCM - GP Change Form - Online June 15"
Develop Single Online Change Form for GP (currently 2 forms)
[https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-forms/change_membership_of_partnership_registration_reg_721.pdf](url)

[2022-05-25 00:13] magszymanski opened #12348 "Website - Include SP/GP and Search docs in BC Reg app"
Business Search doc and SP/GP doc to be posted to app.
- [ ] BR homepage (search homepage?)
- [ ] What's new

Estimate of work:
To: Linda, Kaine,
CC: Scott & Trish

Ticket for the design: inform users of upcoming apps before they are released:
Business Registry tile needs to have:
•	Coming soon: SP/GP registration and maintenance filings

Adding this to the BR page:
•	Hyperlink to existing CMS pag

[2022-05-25 00:19] doug-lovett commented on #12325
Since go live, there have been 237 serial number searches to date that contain non alpha-numeric characters. Of those, ones that just contain space characters were eliminated as they are working. There are 37 that are missed exact matches, some of which are duplicates. The search values are below:
E619-1609
0703.0027
3000-004
3000-004
H228.0281
E717-7687
YM04-U1644
YM04-U1644
1-5960-1
T20HD.016
t2

[2022-05-25 00:24] magszymanski opened #12349 "OCM - Reminder Communication to NON-MINISTRY (Search & SP/GP), Due June 7"
Reminder email to non-ministry BCOL users to get set up in the new BC Reg App.

Draft: https://docs.google.com/document/d/1M3lhXqb7dvyD_WumFY9gK3rOPrWHc8NX/edit
DL; https://docs.google.com/spreadsheets/d/1VfWetLaCvnimL7LwBsBFD0RLRCxwcbOY/edit?usp=sharing&ouid=109508011503764748857&rtpof=true&sd=true

Audience: non-ministry users. BCOL Admin?

Include:
- [x]    Add Business Search as its own PROD
-

[2022-05-25 00:49] tlebedovich commented on #12247
thanks @doug-lovett - Here is my UXA --

- [ ] Kaine's last name is misspelt - please remove the "e" from SPARKS
- [ ] Size of signature looks good, but are you able to remove a little of the space under the signature so the space that is between the signature graphic and the person's text name is less and matches Entities outputs? Here is the comparison form PPR to Entities IA output:

![Screen S

[2022-05-25 04:50] doug-lovett commented on #12247
Ouch, all I can say is that I know someone else with the last name of Sparkes. @tlebedovich Updated example here:
[https://app.zenhub.com/files/157936592/650fef37-13f1-43d7-b808-c4b1e77ab792/download](https://app.zenhub.com/files/157936592/650fef37-13f1-43d7-b808-c4b1e77ab792/download)

[2022-05-25 05:15] seeker25 commented on #10296
Note: This may require some changes in the future when we implement a way for a dissolution to go back to active (correction I think).

[2022-05-25 14:19] fareenr opened #12350 "Update the Getting Started API webpage text"
Please update the Getting Started with API webpage text:

https://docs.google.com/document/d/14jh43DtPrZZHYY0upSkzWnRnyQRisk2t0z5Wjspn7yg/edit

[2022-05-25 14:54] gprimeau commented on #12330
@fareenr
Here is the QA page for you to look at

https://www2.qa.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/hours-of-availability

[2022-05-25 15:05] Mihai-QuickSilverDev commented on #10885
Feedback from consultation with the Business on May 24:
- [ ] We should stick with the BN9 and be very clear
- [ ] If the BN messaging isn’t working properly, then don’t collect this info for BC or non-BC companies

[2022-05-25 15:07] fareenr commented on #12334
24-May - update to PPR Search Results Guide is posted on the website

[2022-05-25 15:08] fareenr commented on #11509
25-May - currently in QA env and under review by Melissa and Patrick

[2022-05-25 15:09] fareenr commented on #11650
25-May - Created ticket # 12350 for Daxiom to update the text on the Getting Started with APIs webpage

[2022-05-25 15:37] Ashna-FreshWorks commented on #11657
@shabeeb-aot for Staff view, Folio component is not available (tested in DEV)
I did provide Folio number while creating the business but it is not being reflected in Dissolution View (user and staff).

[2022-05-25 15:41] eve-git commented on #12017
I accidently deleted @lmcclung 's comment for the design. Linda indicated that the PDF should be in the "Check for similar names in the same sector"

[2022-05-25 16:15] mstanton1 opened #12351 "API - Registration"
Reference Validation and Messaging Matrix:
https://1drv.ms/x/s!AlejmOwhCCvlgcApayT9P51vxPR_ww?e=nlS2EH

Reference registration UI design:
Visual
https://projects.invisionapp.com/share/BA12PVEDCQF8#/screens?browse
Wireframes
https://preview.uxpin.com/8c85494f35a61151835422a5031aaa7b0bdaaa9d#/pages/146430410

[2022-05-25 16:18] mstanton1 opened #12352 "MHR API - Update spec for registrations"
- [x] add registration to the MHR API spec (includes schema information)
- [x] Update mock service
- [x] Update gateway demo postman collection

Add endpoints:
GET /mhr/api/v1/registrations
POST /mhr/api/v1/registrations
GET /mhr/api/v1/registrations/{mhrNumber}

Reference Validation and Messaging Matrix:
https://1drv.ms/x/s!AlejmOwhCCvlgcApayT9P51vxPR_ww?e=nlS2EH

Reference registration UI design

[2022-05-25 16:21] mstanton1 opened #12353 "MHR API - Add schema definitions for Registration"
- [x] include steps from stepper in schema

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/02079d67-e650-4cab-942b-63d9e01c77c2)

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/a36cc671-0530-4b98-93c1-aa3af74f890e)

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/5e825701-7fb5-4ed9-ab43-cf772a98c5cb)

Manufactured H

[2022-05-25 16:22] mstanton1 opened #12354 "API - Implement the MHR registration in the API"
## AC
When UI clicks on the "submit registration" (whatever it's called) button, the UI submits a request to create a new registration, then the API creates a new registration

- [x] MH API spec changes
- [x] MHR registration schema changes
- [x] MHR data model changes
- [x] API endpoint development
- [x] Payment updates
- [x] Update postman collection
- [x] Unit test
- [x] Update account registra

[2022-05-25 16:26] Maribeth-Wilson commented on #12207
First version of the distribution lists can be found [here]( https://drive.google.com/drive/folders/1wIaTIa5U5B3rRr77aW4NrT5J-h-UnakD?usp=sharing)

[2022-05-25 16:31] mstanton1 opened #12355 "Report API Change"
To groom once Spike completes and document generation engine solution is identified.
https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12586

[2022-05-25 16:40] mstanton1 commented on #12353
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12353?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @thorwolpert

[2022-05-25 16:44] mstanton1 commented on #12354
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12354?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett

[2022-05-25 16:48] trishreimer commented on #12208
I made some edits. This is ready for @lmcclung final review. Thank you.

[2022-05-25 16:49] yuisotozaki commented on #12017
UX Recommendations:
* The location of the PDF link is good.
* Recommend renaming the link to "Download Groupings of Similar Descriptive Words"
* Recommend adding the PDF icon just like the "Download Sample Consent Letter"
* Recommend removing the hyperlink underline

![image.png](https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/690d19c3-8362-460d-91e2-488f2ada68d3)

[2022-05-25 16:49] mstanton1 opened #12356 "UI - MHR Registration Framework"
- [x] routes
- [x] feature flag
- [x] baseline view (route component)
- [x] unit testing updates
- [x] construct what registration will look like (i.e. how we save data as user moves through filing) - Barebones model for now.
- [x] Stepper Baseline
~- [ ] ability to save as draft (request should be built in)~

[2022-05-25 16:55] mstanton1 commented on #12356
@PatrickAHeath can you confirm the current process for draft (question above?)

[2022-05-25 16:58] mstanton1 commented on #12356
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12356?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1

[2022-05-25 17:47] doug-lovett commented on #12247
Moving back to review, not yet in DEV.

[2022-05-25 18:12] lmcclung opened #12357 "UI Design - when to display Certify Stamps"

[2022-05-25 18:16] lmcclung opened #12358 "UI Design - Freeze/Unfreeze an entity (Business Registry + Business Search)"
### Overview

Background:  This is an administrative process where staff can Freeze or Unfreeze an entity.   This does not create a filing in the filing history or produce any outputs.  Freezing an entity means 1) no one can do a filing in that state and 2) a warning is displayed on the entity's dashboard advising the entity is frozen.

Current Process:  When staff freeze an entity they click an i

[2022-05-25 18:34] tlebedovich commented on #12247
doh! sorry, jumped the gun.

[2022-05-25 18:40] mstanton1 commented on #12325
@doug-lovett thanks for the additional information. A question also came up as to why we aren't stripping out the punctuation in the searches and I can't fully understand what we're doing based upon the description in 850. Do we strip punctuation from the search in other cases and just missed it in these?

[2022-05-25 19:04] garyfan1 commented on #12074
It is right aligned
![image](https://user-images.githubusercontent.com/62360407/170348317-8b655a44-06d7-4e88-bfbd-7cbc4d863ca9.png)

I think I took the screenshot with devtool on the side panel which it twisted the UI a bit.
![image](https://user-images.githubusercontent.com/62360407/170348286-f2ad7240-6ec8-4d08-8fc7-5dbd79c34723.png)

[2022-05-25 19:10] tlebedovich commented on #12074
thanks @garyfan1 - I added two small alignment/spacing items to my original comment above, if you had time in this ticket - not sure when the spacing/alignment changed but would be great to fix. otherwise this is good to move to RFQA.

[2022-05-25 19:12] doug-lovett commented on #12325
@mstanton1 This is a legacy data only issue. Sometime after go-live an update was made to some legacy serial collateral records but the search key was not re-generated with the correct value. I think it may have been the update to data changes made between Jan 1, 2022 and Jan 25, 2022, which Bob made shortly after Jan 25th. The search key generation function does remove non alpha-numeric character

[2022-05-25 19:19] severinbeauvais commented on #12310
I believe Lewis is correct that it is valid for a firm to not have a NAICS code (after conversion), so we need to do something here.

What should we do? Normally in a change filing we expect valid NAICS data. This needs design.

cc: @yuisotozaki @argush3

[2022-05-25 19:20] dimak1 commented on #11644
As per our discussion with Melissa, I've updated the Tombstone title for helpdesk role.

[2022-05-25 19:21] Maribeth-Wilson opened #12359 "Agenda for Weekly Staff Dashboard Meeting"
May 25 Agenda
•	Pulse check – any issues, comments
•	Requesting access for staff – need to confirm which staff should have access
•	Training with Omid (1 hour training) – getting to know Zenhub
•	MHR pilot – inviting Fareen and Melissa to next meeting
•	Logging issues
•	Next week?

[2022-05-25 19:29] mstanton1 commented on #12325
@doug-lovett thank you for the information! Can you go ahead with making this change in PROD? I'm consulting with Kaine/Linda on the OCM side of this. cc @PatrickAHeath as once done testing will be needed and I'm hoping you can support.

[2022-05-25 19:47] doug-lovett commented on #12325
@PatrickAHeath @mstanton1 Done: update to regenerate the database serial_collateral.srch_vin values in PROD completed.

[2022-05-25 19:49] #12183 closed

[2022-05-25 19:53] eve-git commented on #12204
@mdinu1961 Do you mean to replace "you" with "your" (as cycled in the screenshot)?

[2022-05-25 19:57] trishreimer commented on #12209
could you please tag me when the form is ready so I can do a quick review? thanks!

[2022-05-25 20:07] mstanton1 opened #12360 "SBC Auth Change to allow MHR or PPR"

[2022-05-25 20:07] mstanton1 opened #12361 "Staff user change to allow MHR only"
Need MHR to work like a PPR staff member and assign account ID.

[2022-05-25 20:12] jinghualicgi commented on #11380
@lmcclung Linda, please let us know your decision who to proceed, thanks

[2022-05-25 20:16] fareenr opened #12362 "Post modernization news update that Rural Property Tax Search and Wills Registry will be launching on June 22."
Account Administrators should add these products/ services to their account if needed and set up any additional users that need to access these other registry services.

[2022-05-25 20:19] jinghualicgi commented on #11539
@jyoti3286 @SateeshFW This is ready for release, please let us know your next release, thanks

[2022-05-25 20:23] yuisotozaki commented on #12131
According to the design, that "User Account" label should always be Completing Party.
* SP Non-staff example: https://invis.io/HN123TTOT95J#/463327281_SP_Review_-_Filing
* SP Staff example: https://invis.io/HN123TTOT95J#/464798263_SP_STAFF_Review_-_Default

[2022-05-25 20:26] fareenr commented on #12362
May also want to put Courts Services Online, BC Assessment reports and Sites Registry will move to the new BC Registry in the next couple of months, so set up an account soon if you currently use any of these services on BC Online.  (except that they cannot add these products yet...).

[2022-05-25 20:38] Mihai-QuickSilverDev commented on #11380
@jinghualicgi Hello, we will pass the two options by the Business team in our requirements meeting tomorrow, and plan to have a final answer for you by tomorrow afternoon.
@lmcclung @eve-git

[2022-05-25 20:49] jinghualicgi commented on #12013
Review in May25th meeting: Kim is reviewing this

[2022-05-25 20:58] jyoti3286 opened #12363 "AUTH-WEB / COMMON-COMPONENTS - User Navigation while switching accounts"
* As a public user
* I want to switch between accounts
* so that I can access the products subscribed to the respective account

**Acceptance Criteria**

- Different navigation criteria are covered in the below excel sheet(Account switching tab only for this ticket)
 https://onedrive.live.com/view.aspx?resid=E52B0821EC98A357!24582&ithint=file%2cxlsx&authkey=!AO94JYayxvIowPc

**Design**
@xxx - plea

[2022-05-25 21:36] JohnamLane opened #12364 "UI Design - Business Search Outputs"
SP/GP - Letter Under Seal
BEN/COOP - Certificate of Good Standing, Certificate of Status

### Visual Design Comps:
https://projects.invisionapp.com/share/GY12R9DXC8EA#/screens?browse

#### Wireframes
~https://preview.uxpin.com/395856ed5d5f1d2cc6c820addefeb1be2d069ac4#/pages/150438533~

[2022-05-25 21:38] mstanton1 commented on #12251
@jinghualicgi this was raised as a suggestion from @janisrogers . In the general collateral WYSIWIG we prevent special characters from being pasted in and the thought from Janis was that we should prevent the same in other fields. It's less likely users will copy and paste in the other fields so a lower priority, but still possible. The focus would be on fields that don't prepopulate and might inc

[2022-05-25 21:43] JohnamLane commented on #11987
Covered in 12106

[2022-05-25 21:43] #11987 closed

[2022-05-25 21:43] garyfan1 commented on #12074
@tlebedovich
The changes were just merged

[2022-05-25 21:44] JohnamLane opened #12365 "UI - Display Court Order warning"
Visual Design for displaying court order:
(This should be a shared component with entities)

Assumptions:
- legal API will provide a 'court order' flag that cannot be used. We must loop through ledger to find court orders.
- This warning will show on the unpaid ledger
- This warning will show in the paid ledger, but only for court orders prior to payment.

https://projects.invisionapp.com/d/main#/

[2022-05-25 21:45] JohnamLane opened #12366 "UI - Display Not in Good Standing (and other) Label"
This ticket will be for the implementation so long as the design is ready.

Design ticket here:
https://github.com/bcgov/entity/issues/11241

This ticket is to update the Search app. Other tickets needed for Entities version

[2022-05-25 21:51] forgeuxGH5 opened #12367 "UI Design - Add stats to BCROS Home Page"
Add registries stats to the BCROS home page
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/de402f56-d01b-410e-94ab-1131ba75f0cb)

[2022-05-25 21:55] seeker25 opened #12368 "Onboarding - Assist BC Site Registry with Keycloak Setup"
Create credentials for BC Site Registry, similar to CSO.

[2022-05-25 22:03] seeker25 commented on #4119
We discussed this should be checked on account link.

[2022-05-25 22:07] tlebedovich commented on #12284
@janisrogers @JohnamLane - visual design for BCROS tile has been done - can we link this design ticket to the Dev ticket?

[2022-05-25 22:10] tlebedovich commented on #12074
thank you @garyfan1 - moving to RFQA

[2022-05-25 22:11] mstanton1 commented on #12325
@doug-lovett Kaine was testing the fix and noticed the following which isn't working. He's identified it doesn't appear fixed in PROD.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/b6b09021-6673-4a41-864e-810dafc477c1)

cc @PatrickAHeath

[2022-05-25 22:20] yuisotozaki commented on #11960
The NAICS field for conversion filing looks good. Read for QA.

[2022-05-25 22:28] mstanton1 commented on #12325
Reviewed the screenshot from Kaine and confirmed the search is working. I believe from the shot he is expecting us to strip characters on the front-end whereas the stripping is on the back-end to allow an exact match. I've done verification with two examples that weren't generating exact matches before the fix and are now.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c

[2022-05-25 22:31] lewischenstudio commented on #11960
Thanks @yuisotozaki

[2022-05-25 22:35] doug-lovett commented on #12325
@mstanton1 @PatrickAHeath I agree: there is no serial number for an active registration in PROD with a value of 'E619-1609'. Interestingly, the search keys for E6191609 and E619-1609 are different, and producing different results: '191609' and '901609'.

[2022-05-25 22:40] severinbeauvais commented on #11954
### Test Notes

See changes identified in description, above.

It would be wise to verify that Change filings still function as expected.

(I have tested the above locally and partly in Dev, but still needs QA.)

[2022-05-25 23:00] JohnamLane opened #12369 "Review business types returned by the Firm Index"
Please review the existing Firm Index in SOFI to determine which ownership types it searches against.

It had been assumed that only SPs and GPs were searched, but there are other firms as well.

Please list any business types other the SP and GP that you encounter in reviewing the tool.

XP and LP can use the Firm Individual index.

[2022-05-25 23:05] yuisotozaki commented on #11954
UXA Observations:
* Using FM1000018, when Business Contact Information is edited and the user attempts to return to the Entity Dashboard via breadcrumb link, a browser popup is displayed warning that the changes may be lost. The changes are not lost when the user acknowledges the popup. The popup should not be displayed if the only change made was to the Business Contact Information.
* Using FM061

[2022-05-25 23:15] jyoti3286 opened #12370 "Updating the Entity info on Business registry and Dissolution"
### User Story
As a user
I want to see my business information on Business Dashboard/Dissolution UI
So that I have the information easily accessible

### Acceptance Criteria

**Scenario 1: Updating the Entity info on Business Dashboard**
- GIVEN I have logged into my SP/GP business dashboard
- WHEN I want to see the Entity info in the header
- THEN I can see that on the Business dashboard
![Screen

[2022-05-25 23:19] mstanton1 commented on #12325
@doug-lovett can you put it as top priority to investigate further? From what you've noted, and looking closer at Kaine's search, the results are different based upon if he has a hypen so it doesn't look like the fix addressed this. If needed we might need to roll back the change but it'd be good to try to understand why the fix isn't working first.

[2022-05-25 23:21] Maribeth-Wilson commented on #12140
Further to our website meeting earlier today, the email content will be posted in the Assets library of CMS and a link provided. All links can then be saved [here](https://docs.google.com/document/d/1DhlpVisVtfgncn1F6ezYXIeGO7IsM7mdP7rbwL8L9qs/edit?usp=sharing) and the links included in the email content.

[2022-05-25 23:24] Maribeth-Wilson commented on #12140
Moving this issue to Done.

[2022-05-25 23:31] forgeuxGH5 commented on #11810
Re-connected the file but @PatrickAHeath it's still showing max length column as 22 characters but the messages are saying 70. Can you update this again?

[2022-05-25 23:31] chdivyareddy commented on #12074
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/cbc94ef7-0374-43f6-9f74-4d6cd5cb29c0)

[2022-05-25 23:43] lekshmimallika-aot opened #12371 "Add tests for UI components"

[2022-05-26 00:33] doug-lovett commented on #12098
@PatrickAHeath I have attached the TEST base registration information for the general collateral update to remove duplicate text. Do you want to review it before I update the TEST database?

Rename the spreadsheet file type to .tsv after downloading

[https://app.zenhub.com/files/157936592/e9f85897-09aa-4362-8128-924815a45eae/download](https://app.zenhub.com/files/157936592/e9f85897-09aa-4362-8128

[2022-05-26 00:57] magszymanski opened #12372 "OCM - provide WeBC (and others) with logos or any other marketing material to support their website/material content | Due: June 3"
WeBC asked that we provide them with any logos or other marketing material that will support referencing of the new Business Registry.

I have to look at their website to see what their current OneStop marketing looks like so that we know what to send to Danielle in place of what exists for OneStop. Can be a logo, picture, or other.

This can be reused and sent to other influencers.

[2022-05-26 02:13] magszymanski commented on #12122
Duplicate of 12202

[2022-05-26 02:13] #12122 closed

[2022-05-26 02:15] magszymanski commented on #10018
I've untagged myself from this tix yesterday but it still shows up in my pipeline. Sarah is taking on the work.

[2022-05-26 14:11] fareenr commented on #11805
Project team (Assets) agreed that all communications should be sent to all new BC Registry PPR users on how to subscribe to combined PPR/MHR searches.  Need list of all current PPR users closer to launch date.

[2022-05-26 14:22] PatrickAHeath commented on #11810
@forgeuxGH5 Updated and confirmed that it's now 70.

[2022-05-26 15:06] fareenr commented on #11509
26-May - review completed, asked Gen for minor updates to text and layout of page in QA

[2022-05-26 15:10] fareenr commented on #11805
BC ROS PPR Administrator list from May 2022 saved here:
https://docs.google.com/spreadsheets/d/1hApcIDTs0mT-gICGHfjXYgOYZ3duCZj_/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-05-26 15:21] AshnaMehta opened #12373 "Folio Number not present on Dissolution Screen"
Current behaviour:
For Premium account: Provide a Folio number while creating a business. The Folio number is not reflected.

Expected behaviour:
For Premium account: The Folio number should be available below "Business start date" and be pre-populated in the Folio component (editable) as well.
![Screen Shot 2022-05-26 at 11.19.14 AM.png](https://images.zenhubusercontent.com/6266dce4f20b9d122add4d

[2022-05-26 15:21] PatrickAHeath commented on #12356
@mstanton1 With regard to the ability to save a draft, the Legacy MHR web application accessed through BC OnLine does not provide the client the ability to save a draft on an MHR Registration.  Draft functionality is only available on Transfer Due to Sale or to a Beneficiary and Transfer Due to Death of a Joint Tenant.

[2022-05-26 15:33] chdivyareddy commented on #11604
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/99162d23-4158-490a-8b01-97c33e3b6cb3)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2f063d6e-0a43-45e7-975c-513aaca14a48)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d9a63aaf-c895-4c21-98b5-827738e04fb2)

[2022-05-26 15:35] PatrickAHeath commented on #12325
@doug-lovett Is Serial # S60-010-263 associated with another registration that has since discharged?  (no exact match found in PROD)

[2022-05-26 15:53] doug-lovett commented on #12325
@PatrickAHeath Base reg 255107K it was removed with a subsequent amendment.

[2022-05-26 15:56] PatrickAHeath commented on #12325
@doug-lovett @mstanton1 Many are showing up with exact matches now.  Discharges or Collateral removal would impact the others.

[2022-05-26 16:01] chdivyareddy commented on #11644
Verified **BCOL Staff** (BRTEST3):

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/4903d583-dea4-40de-8e9f-9180594d5062)

[2022-05-26 16:14] sarahelz19 opened #12374 "OCM - SP/GP Training Schedule"
Develop Training Schedule by Cohort to Align with "go live"
Get placeholders in Calendars to align with delivery type and availability of solutions/materials

Cohort #1 - Registries Staff
Train the Trainer (identify the SME)
2 x 1 hour sessions
1 x 1 hour debrief /feedback readiness

Cohort #2 - BC Registries Regional Offices
Demonstration Sessions - Interim/Forms/Search
4 x 1/2 hour sessions (Thu

[2022-05-26 16:21] forgeuxGH5 opened #12375 "UI Design - Create Visual separation/distinction of Registries vs Partner panels on the BCROS Home Page"
As a user I want to know the applications on the BCROS home page are different and some are registries applications and some are partner applications

[2022-05-26 16:21] forgeuxGH5 opened #12376 "UI Design - Create Visual separation/distinction of Registries vs Partner panels on the BCROS Home Page"
As a user I want to know the applications on the BCROS home page are different and some are registries applications and some are partner applications

[2022-05-26 16:27] #12249 closed

[2022-05-26 16:27] #12062 closed

[2022-05-26 16:27] #12066 closed

[2022-05-26 16:27] #12065 closed

[2022-05-26 16:29] #11657 closed

[2022-05-26 16:31] #12278 closed

[2022-05-26 16:48] mstanton1 opened #12377 "Serial Number Search retrieves different results with or without hyphen"
**Describe the bug in current situation**
A search with a hyphen and a search without a hyphen (same characters otherwise) are retrieving different search results. Currently we've advised that punctuation is not considered in a search so the expectation is that regardless of punctuation the same results are retrieved.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/a591

[2022-05-26 16:48] #12087 closed

[2022-05-26 16:53] eve-git commented on #12241
execute the following pl/sql block in pgAdmin:
[code]

[2022-05-26 16:57] trishreimer opened #12378 "Ensure Firm Individual Index is included in Training Material"

[2022-05-26 17:12] lmcclung commented on #11916
closing as replaced by another ticket.

[2022-05-26 17:12] #11916 closed

[2022-05-26 17:12] eve-git commented on #12241
Executed the pl/sql block in DEV and TEST.
Sample results in TEST:
[code]

[2022-05-26 17:15] mstanton1 commented on #12377
1. Need to determine if this is the same functionality as the legacy PPR. This has been sent to @Alireja2 to see if he can confirm how search with hyphen worked in the legacy PPR.

_Note: if this is functioning as it was before we do not have any changes needed in the application but will need to ensure any support materials (how to read outputs and posts on discourse) are accurate._

[2022-05-26 17:18] mstanton1 opened #12379 "MHR Search Results Owners logics"
Identify logic: For an MHR search results report, are all owners included for a registration or only current ones? If only current/active ones, how is the state determined? The owner table has no status column.

[2022-05-26 17:20] mstanton1 commented on #12379
Question raised May 19th.
Update May 25th that this is in progress and an update will be provided in a couple of days.

[2022-05-26 17:20] severinbeauvais commented on #12310
Sample:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/b53d9cff-4f93-44bc-a7e7-4a3a0a33aa7f)

[2022-05-26 17:22] seeker25 commented on #12312
Pay admin is the best way to validate this I believe.

[2022-05-26 17:25] eve-git commented on #12241
Before:
![image.png](https://images.zenhubusercontent.com/5da9d9a151b27c0001f5c9ec/9f7e33c5-d0db-4906-b3f8-fa5da21aaa73)

After:
![image.png](https://images.zenhubusercontent.com/5da9d9a151b27c0001f5c9ec/24971d37-4caa-4bb1-a1e3-0a596b296974)

Data:
NOTICE:  5255, NR 4982799, 2021-12-31 00:00:00+00, 2022-01-01 07:59:00+00

[2022-05-26 17:25] severinbeauvais commented on #12310
If we do nothing then the current NAICS data is invalid and so the user is prompted to enter it (but doesn't show the old description).

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/7a8858ec-1f45-4346-8f09-199b2a05b294)

[2022-05-26 17:31] #11754 closed

[2022-05-26 17:38] lmcclung commented on #10292
We think a lot of this work has been done by Argus since this ticket was created.  need verifying.

[2022-05-26 17:39] trishreimer commented on #12207
Based on the data set provided, I copied the data from cprd/ibrs spreadsheet, then filtered some data to create a new distribution list for Corps that own firms. I included both the corporation and other type (for completeness) All partnerships in this data set are owned by partnerships or individuals, so they were not included.

https://docs.google.com/spreadsheets/d/1F6gKOOAgAgKsZBCkK6ANSIKyXNNL

[2022-05-26 17:41] trishreimer commented on #12207
I'm hoping you see the filters I applied...If you don't, please let me know and I'll update the files.

For example, the corps that own firms (dba) should just show ownership type = corporation and other.

[2022-05-26 18:08] #12058 closed

[2022-05-26 18:08] #11604 closed

[2022-05-26 18:09] #12074 closed

[2022-05-26 18:09] #12046 closed

[2022-05-26 18:09] #12045 closed

[2022-05-26 18:23] lewischenstudio commented on #12288
This ticket is done. We don’t prompt FN for Firm Registrations (Change or Conversion filings) in both Create UI and Edit UI.

[2022-05-26 18:48] ozamani9gh commented on #12070
Richard added the following keycloak access to Sarah:
PROD:

![elzinga_prod.jpg](https://images.zenhubusercontent.com/62606d9e769b6103917adb08/409e96d2-ddb0-4fac-b5e2-8370301bf55f)

TEST:
![elzinga_test.jpg](https://images.zenhubusercontent.com/62606d9e769b6103917adb08/e47fdfec-000b-461a-a935-60e9ac15b21d)

DEV:
![elzinga_dev.jpg](https://images.zenhubusercontent.com/62606d9e769b6103917adb08/872ad

[2022-05-26 18:51] ozamani9gh commented on #9921
@severinbeauvais are you able to show me when this sentry error gets triggered, i want to make sure it is still happening in PROD.   if it does would it still show up in rocketchat Sentry errors????

[2022-05-26 18:51] mstanton1 opened #12380 "Provide Staff Access to MHR for Pilot users"
Provide staff access (MHR_Staff) for Pilot users in TEST and PROD.

GIVEN I am BC Registries staff who complete MHR filings
WHEN I log on to BC Registries in TEST and PROD
THEN I want to see the Assets dashboard
AND have access to MHR and PPR

Staff List:
Debbie Blyth
Sharon Merlino
Laurie Stossel
David Lessard

[2022-05-26 18:53] mstanton1 commented on #12325
9 of the 25 distinct searches had another search run in the two hours before or after the impacted search which did not include non-alphanumeric characters.

Sent to Kaine for decision on whether we need to contact clients / refund searches.

[2022-05-26 19:03] seeker25 opened #12381 "Enable configurable logging on SBC-AUTH"
Enable configurable logging on SBC-AUTH

[2022-05-26 19:08] seeker25 opened #12382 "Get CI for Node working on sbc-common-components"
Get CI for Node working on sbc-common-components

[2022-05-26 19:09] tlebedovich commented on #12178
@doug-lovett - Footer UXA

1) For all, include the footer/page number info on the table of contents pages as well

We want to include the text "MHR" in the footer text, so;

1) MHR Number search: footer text should be "MHR Number Search - "XX"
2) Serial Number search: footer text should be "MHR Serial Number Search - "XX"
3) Organization Name search:  footer text should be "MHR Organization Name S

[2022-05-26 19:40] seeker25 opened #12383 "Upgrade to Node 16 for sbc-common-components"
Upgrade to Node 16 for sbc-common-components, currently it's using Node 10 :

Update:
https://github.com/bcgov/sbc-common-components/blob/master/.github/workflows/nodejs.yml
https://github.com/bcgov/sbc-common-components/blob/master/vue/sbc-common-components/package-lock.json

[2022-05-26 19:49] severinbeauvais commented on #10881
Is this ticket still valid? If so, which projects need to be updated?

[2022-05-26 19:49] seeker25 commented on #12382
I think right now there is only PUBLISH, but it should be checked on PR.

[2022-05-26 20:14] jyoti3286 commented on #11409
Removing this from Sprint until we have alignment

[2022-05-26 20:23] Ashna-FreshWorks opened #12384 "Date picker for Dissolution Date/ Start Date in SP/GP"
Current behaviour: The Date picker for Dissolution Date and start date (while setting up a business) is currently using UTC format hence the selected date is not correctly being displayed. It displays selected date - 1 day.

Expected behaviour: The date picker should display the selected date.

[2022-05-26 20:37] mstanton1 commented on #12377
Ali has run the same PPR search in the legacy system and provided the following to show that the results set does not differ based upon the hyphen.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/8e22a338-e38a-43d9-a633-38074e572208)
![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/fac17224-dfd4-4fac-9760-c2ded4c4e56f)

He's also provided a doc

[2022-05-26 21:00] doug-lovett commented on #11812
To test, provide me with some registration numbers and I will delete the report document storage reference to simulate a report api failure.

[2022-05-26 21:20] kialj876 commented on #12312
@JohnamLane @seeker25 can we change the description to `Business Summary and Filling History Documents` ? That is what the UI design has - I am populating that from the pay-api response right now. Let me know if that's not the intended purpose of filingType

[2022-05-26 21:29] severinbeauvais commented on #12310
### Test Notes

When there is no NAICS code or description:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/0d1e1242-6ca9-4f78-a70e-91b6024082ab)

Where there is only NAICS description:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/920c5433-3f62-4417-b0db-cd3ab7b64fab)

When the user clicks Change button:

![image.png](https://images.zenhub

[2022-05-26 21:40] jennyschan commented on #12369
here is the screenshot with XP and LP can be searched under the Firm Individual Index tab.
[#12369 .pdf](https://github.com/bcgov/entity/files/8782293/12369.pdf)

[2022-05-26 21:41] ozamani9gh commented on #9921
In Production, when i log out i get the following 404 error in console.    UI renders correctly.
![image.png](https://images.zenhubusercontent.com/62606d9e769b6103917adb08/801cb161-b939-42ed-aba2-461e082c6fcc)

[2022-05-26 21:46] seeker25 commented on #12368
I've generated a keycloak client, and provided them in DEV/TEST.
I've also provided a BC REG account.

[2022-05-26 21:49] doug-lovett commented on #12377
@mstanton1 The current serial number search key function replaces all non alphanumeric characters with the '0' character (including internal space characters). Can you please explicitly state that this change is to either:
1. Remove all non-alphanumeric characters when creating a non-aircraft serial number search key.
2. Provide the set of characters that are removed when creating a non-aircraft s

[2022-05-26 22:09] JohnamLane opened #12385 "Adding the firm individual/owner details to the Solr index"
## Description
The firm individual index feature searches among the owners of firms. Firms can be owned by a person (individual) or a business.

The following types of firms must be included in this index:

- [ ] Sole Proprietorship (Sourced from LEAR)
- [ ] General Partnership (Sourced from LEAR)
- [ ] Extraprovincial Limited Partnership
- [ ] Limited Partnership
- [ ] Limited Liability Partnersh

[2022-05-26 22:16] forgeuxGH5 opened #12386 "Bug - Change Folio text to refer to "Manufactured Home Registry" instead of "Personal Property Registry""
Currently the Review Search Result screen refers to the "Personal Property Registry" in the Folio text - it should refer to the "Manufactured Home Registry"
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/1b4aecc2-7af4-4c21-af54-f1b47254276c )

[2022-05-26 22:16] forgeuxGH5 commented on #12386
@mstanton1 @jinghualicgi

[2022-05-26 22:16] mstanton1 commented on #11812
@doug-lovett what environment do the registration numbers need to be in? Should these be registration numbers from tests that I run?

[2022-05-26 22:18] chdivyareddy opened #12387 "UI - Verify MHR Breadcrumb & Tombstone"
To Verify the remaining work from 11644 & 11645

Staff MHR Only
page header: Staff Manufactured Home Registry
search bar: Manufactured Home Search

Client MHR Only
page header: My Manufactured Home Registry
search bar: Manufactured Home Search

[2022-05-26 22:18] chdivyareddy opened #12388 "UI - Verify MHR Breadcrumb & Tombstone"
To Verify the remaining work from 11644 & 11645

Staff MHR Only
page header: Staff Manufactured Home Registry
search bar: Manufactured Home Search

Client MHR Only
page header: My Manufactured Home Registry
search bar: Manufactured Home Search

[2022-05-26 22:26] severinbeauvais commented on #12310
@yuisotozaki FYI

[2022-05-26 22:30] mstanton1 commented on #12377
@doug-lovett so with serial number search we aren't just stripping the non alphanumeric characters but are also adding the '0' character? I.e. in one case we search E6191609 and in the other we remove the hyphen and add '0' thus searching E61901609? If so it sounds like what you've identified in item 1 above would ensure the search matches what we do in the legacy. The challenge I am having in def

[2022-05-26 22:30] JohnamLane opened #12389 "Template Design work for Certificate of Good Standing"
- [ ] template design
- [ ] Templates to live in LEAR

Design Ticket: https://app.zenhub.com/workspaces/search-team-space-623397c083af5e0011da2662/issues/bcgov/entity/12364

[2022-05-26 22:51] tlebedovich commented on #12177
@doug-lovett - UXA -

I found it easier to put feedback as comments in the PDF itself, happy to walk through them.
I am awaiting to hear what Scott wants to do when there are no Unit Notes to show

otherwise, please see all yellow comments in this PDF -

[https://app.zenhub.com/files/157936592/eb2fbfe5-4166-4ddc-8e18-80a5d2d7b79f/download](https://app.zenhub.com/files/157936592/eb2fbfe5-4166-4ddc-

[2022-05-26 23:07] PatrickAHeath commented on #12098
@doug-lovett @mstanton1 Started spot checking - 768940K looks good!

[2022-05-26 23:13] #12023 closed

[2022-05-26 23:20] doug-lovett commented on #12377
@mstanton1 We replace instead of remove non-alphanumeric characters as a penultimate step. It could be that an earlier step to remove all non-alphanumeric characters was missed. The key is the final 6 characters. Yes, I think it is a good idea to confirm what characters are removed in the legacy algorithm.

[2022-05-26 23:46] tlebedovich commented on #12175
@doug-lovett UXA for the PPR search portion only --

Please complete the TOC, Footer and MHR-only ticket feedback comments, plus please see all yellow comments in this PDF just for the PPR Search Results -

1) NIL result - looks good as is

2) PPR Result within MHR feedback:
[https://app.zenhub.com/files/157936592/b334097d-4b59-42e7-87ee-07f264db4cb9/download](https://app.zenhub.com/files/15793659

[2022-05-26 23:47] lewischenstudio commented on #11962
Filing UI verified using the following SP/GP filings in dev account:

Staff/Regular User Logins:

Good SP Filing - FM1000018
- Delivery address is entered
- Mailing address displays "Same as above"
- Proprietor is provided
- Email, delivery and mailing addresses are shown
- To Do section displays "File 2022 Annual Report"
- "File Annual Report" button is available
- Recent Filing History displays

[2022-05-26 23:48] kialj876 opened #12390 "UI - fill out jest tests"
## Description
Ticket is for UI components / composables that jest tests are still needed for

## Details
- [ ] fee components tests
  - [ ] fee slot templates
  - [ ] fee calculator
- [ ] fee calculator composable tests
- [ ] business info: add some fee calc tests
- [ ] search suggest tests
- [ ] search results tests
- [ ] search view tests

[2022-05-27 00:11] severinbeauvais commented on #11954
@yuisotozaki

The Business Contact Information email _is_ required because saving it does a real-time update to the Auth API. However, if the email is initially "not entered", how about not clicking the Change button? Or are you wanting to delete the existing email? (I don't think this is supported in Auth.)

[2022-05-27 00:42] seeker25 commented on #10296
I've had a chat with Patrick regarding this.

There's a bit of a problem with the suggested approach.
The `entity-queue-common` only supports a single queue connection, but we have data that is coming from multiple queues.

A few possible solutions:

1.  Create another microservice that can process the filing queue
- Making more technical debt creating another microservice (alot of boiler plate co

[2022-05-27 00:56] kialj876 commented on #12191
Deleted previous comment due to it not being relevant anymore. Updated ticket description with needed changes so far. Will update more tomorrow

[2022-05-27 01:02] severinbeauvais commented on #9157
@yuisotozaki Where is the Invision/Uxpin for SP/GP change filings?

[2022-05-27 05:55] seeker25 commented on #10296
I had a discussion with Thor, main points:
- They're changing the Q system soon (Cancels out Option 1, Option 2)
- Migrating to Cloud PubSub
- HTTPS is slow on OCP (Cancels out Option 3)

Option 4 - Add to filing_processors in LEAR

https://github.com/bcgov/lear/blob/b1c7af9da5a2e5d36e0489faddf380b4cfa370f3/queue_services/entity-filer/src/entity_filer/filing_processors/dissolution.py#L51

https://

[2022-05-27 15:58] kialj876 commented on #12192
deleted comment due to it being incorrect. Will update ticket description with correct details

[2022-05-27 16:05] seeker25 commented on #11741
Still a problem going from PAD -> BCOL, doesn't ask for credentials

[2022-05-27 16:10] #11966 closed

[2022-05-27 16:20] #8283 closed

[2022-05-27 16:20] #10263 closed

[2022-05-27 16:21] #11724 closed

[2022-05-27 16:21] #9953 closed

[2022-05-27 16:24] seeker25 commented on #12195
Yup, doesn't have as much risk as the previous changes. Closing.

[2022-05-27 16:24] #12195 closed

[2022-05-27 16:25] JohnamLane opened #12391 "Adding all business types to the Solr index"

[2022-05-27 16:31] #11900 closed

[2022-05-27 16:31] #12312 closed

[2022-05-27 16:33] yuisotozaki commented on #12310
Looks good in dev. Ready for QA.

[2022-05-27 16:38] yuisotozaki commented on #11954
Consider a scenario where the staff wants to update the phone number during conversion filing and they do not have an email address for the business contact information. Staff would not be able to update just the phone number.

@lmcclung Is the above a realistic scenario?

[2022-05-27 16:42] severinbeauvais commented on #11954
Even if we modify the UI to allow empty email address, the Auth API will reject the update.

[2022-05-27 16:44] lmcclung opened #12392 "FINISH THIS LAST - Filings UI: launch the filing"
**The following requirements have changed somewhat... this needs to be re-groomed before finishing work.**
- [x] Allow correction of ~all~ firm filing types (but retain other "can't correct" conditions).
- [x] Implement STAFF/CLIENT modal for ~all~ firm corrections.
- [x] Create draft correction according to new schema.
- [ ] ~Remove local corrections. Redirect to Edit UI for these instead.~
- [ ]

[2022-05-27 16:44] lmcclung opened #12393 "SP/GP Correction Edit UI - Certify"
- [ ] insert this component if it was a client error
- [ ] editable by staff

As part of this ticket, verify/update certify data in:
- [ ] save (build) filing
- [ ] resume (parse) filing
- [ ] unit tests

[2022-05-27 16:45] lmcclung opened #12394 "Filings UI: verify To Do list"
- [x] Verify that a draft correction displays in the To Do list.
- [x] Verify that staff can resume or delete a draft correction.
- [x] Verify that reg user cannot resume or delete a draft correction.

[2022-05-27 16:45] #12230 closed

[2022-05-27 16:47] lmcclung opened #12395 "Legal API: Outputs"
There should be 3 outputs

- [x] Register Correction application
- [x] Corrected - Registration Statement
- [x] Receipt

[2022-05-27 16:49] #12288 closed

[2022-05-27 16:50] yuisotozaki commented on #11954
Sounds like a new ticket then.

[2022-05-27 16:50] #12084 closed

[2022-05-27 16:50] #12232 closed

[2022-05-27 16:51] #12275 closed

[2022-05-27 16:51] #12245 closed

[2022-05-27 17:03] severinbeauvais commented on #12037
We may not have a 13.3b release, since the next sprint (14.4) starts in a few days.

[2022-05-27 17:06] lewischenstudio commented on #11959
Refer to tested sample filings in ticket [Verify: Filings UI - Conversion filing in filing history#11962](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/11958)
SP: FM1000018, FM0272488, FM0272488, FM0614924
GP: FM1000015, FM1000019, FM0613561

[2022-05-27 17:06] lewischenstudio commented on #11958
Tested sample filings in ticket [Verify: Filings UI - Conversion filing in filing history#11962](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/11958)
SP: FM1000018, FM0272488, FM0272488, FM0614924
GP: FM1000015, FM1000019, FM0613561

[2022-05-27 17:23] jinghualicgi commented on #11816
@mstanton1 This one don't have a sprint tag, should we just move this to done?

[2022-05-27 17:27] kialj876 opened #12396 "Auth web UI - enhance product selection"
## Description
Enhance user flow following this design: https://preview.uxpin.com/01dfa3f8856b43888535fbad38e02ec3cca59bc7#/pages/150043210/simulate/no-panels

## Details
- [ ] add (requires Premium account) next to description if product is premium only
- [ ] add beta field to org product model OR add a beta list to config
- [ ] add beta badge if beta field is true
- [ ] update select account typ

[2022-05-27 17:28] lmcclung opened #12397 "Legal API: filer"
- [x] Apply the firm correction filings only at the moment (not BEN IA)
- [ ] Remove diffs in this scenario
- [x] Add a modified detail comment to the originating/corrected filing

**Questions to confirm:**
1. How many outputs - just corrected reg stat. or correction appl. + corrected reg stat.
2. If both, and is a staff error, do we just produce the corrected reg stat.
3. Is the corrected reg sta

[2022-05-27 17:30] severinbeauvais commented on #12392
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/12392?planning-poker) with ZenHub @argush3 @vysakh-menon-aot @lekshmimallika-aot @lewischenstudio @lambert-alex @thorwolpert

[2022-05-27 17:34] tlebedovich commented on #12177
@doug-lovett - I just updated the feedback pdf based on our call

[2022-05-27 17:42] lmcclung opened #12398 "Edit UI: Correction tickets"
General:
- [ ] Enhance existing components using resources (no special cases in component code)
- [ ] Update all Change buttons -> Correct

[2022-05-27 17:42] lmcclung opened #12399 "Edit UI - Framework ticket - do this first"
Developer to select best option (cleanest code, future reusability, common route, etc):
- [ ] ~Option 1 - Enhance the existing Correction Page (currently IA only)~
- [ ] ~Option 2 - Create a New Correction Page (Registration/Change only)~
- [x] Option 3 - Hybrid of options 1 and 2: reuse as much as possible, diverge where needed

To consider:
- resource files for text and control logic - **done**

[2022-05-27 17:43] yuisotozaki opened #12400 "UI Design - Helper text for staff in Conversion Filing"
When the staff is filing a Record Conversion, there is a limitation in the system that they need to know about.
Specifically, in the Business Contact Information section, if the existing data has phone number but not email, the staff cannot update just the phone number.

* Show additional text to the staff so that they understand that they need to provide a placeholder email address to complete th

[2022-05-27 17:46] #11816 closed

[2022-05-27 17:55] eve-git commented on #12241
To be decided: What is the expiration date range to apply the change in production?

[2022-05-27 18:08] kialj876 opened #12401 "SOLR - include owners for LEAR entities"
## Details
- [x] figure out where owners for SP/GPs are stored in LEAR db and add to load query
- [x] configure owners properly in solr schema

[2022-05-27 18:09] kialj876 opened #12402 "SOLR - include owners for CPROD entities"

[2022-05-27 18:09] kialj876 opened #12403 "SOLR - update suggester to include owner name"

[2022-05-27 18:09] kialj876 opened #12404 "UI - update for new types / owners"
## Details
- [ ] update business types
- [ ] update search results to include owner info (table needs design)

[2022-05-27 18:38] shabeeb-aot opened #12405 "UI/UX issues"
**Describe the bug in current situation**
UI/UX issues in SP/GP dissolution

**Screenshots/ Visual Reference/ Source**
If applicable, add screenshots to help explain your problem. You an use screengrab.

![action-required.png](https://images.zenhubusercontent.com/5fcfc780da55717868405482/0a9afe7b-e49b-4c42-b0a0-c733cc15cd9b)

[2022-05-27 18:42] tlebedovich opened #12406 "SPGP Multi change filing - error when saving changes to Folio number"
In DEV (BCREG0040) / 0870920 B.C. LTD.

IF I click View and Change Business Information
AND Click the Change button for the Folio component
AND make a change to the Folio number, or delete the folio number
AND Click Save button
THEN I receive this error message:

![Screen Shot 2022-05-27 at 11.38.36 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/e0e6afce-3e85-4620-8d0d-44e72

[2022-05-27 18:52] dimak1 commented on #12240
**As per discussion** (Fri May 27):
- For public users, continue to display tiles based on Subscribed Products
- For staff users, continue to use a redirect to the staff dashboard

**Update**
- The only change to current functionality is to check if a public user is subscribed to MHR and PPR products and display one 'My Asset Regsitries' tile

**Verify**
- If proper tiles are displayed for BC Serv

[2022-05-27 18:53] vikasvermacertain commented on #12128
Yo man!!

I am working for the names stat this epic - thanks for pointing that out. :)

Let me message you on whatsapp :D

On Tue, May 24, 2022 at 3:38 PM greg waters ***@***.***>
wrote:

[2022-05-27 19:03] severinbeauvais commented on #11959
I heard from Faiz that the conversion message panel has been removed from Filings as he is still working on it. Therefore THIS ticket cannot be verified yet, so I've moved it back to the Sprint Backlog (and added the blocker info).

[2022-05-27 19:06] severinbeauvais commented on #11662
@shabeeb-aot Since you have committed some code changes for this ticket, please add the appropriate release tag to this ticket (so we can look at the release report and know what is being deployed).

[2022-05-27 19:08] seeker25 commented on #12368
marking as closed, will reopen if there are issues.

[2022-05-27 19:08] #12368 closed

[2022-05-27 19:11] thorwolpert opened #12407 "Business Search Payment flow"
# Business Search Payment Flow

## Feature: Access Business details and filings
As a user of *Business Search*, I want to be able to access the details of a Business and its Filings.
  - Only owners of a business or users that have paid a Search fee can access a businesses details and filings.
  - Search fee users are granted a limited time to access the business details and filings, after paying

[2022-05-27 19:15] mstanton1 commented on #12377
Sent to Ali.

[2022-05-27 19:15] mstanton1 commented on #12325
Client follow up for 850 has taken place with refunds issued under 894.
Fix to search keys is in place in PROD and tested.
12377 is underway to look at additional changes identified during testing.

Closing as there is nothing further for this specific ticket.

[2022-05-27 19:22] lewischenstudio commented on #12299
@thorwolpert @severinbeauvais Argus and I found that renaming the key `complianceWarnings` will most likely break the frontend. Instead of directly renaming it, we can add the key `warnings` with the values display in the FE ticket #12300. It would be best if we finish the BE part first and then work on the frontend part. After the frontend is finished, BE will then remove the complianceWarnings.

[2022-05-27 19:34] jennyschan commented on #12311
Closed as it has been included in the current release.

[2022-05-27 19:34] #12311 closed

[2022-05-27 19:35] jennyschan commented on #12313
Closed as it has been included in the current release.

[2022-05-27 19:35] #12313 closed

[2022-05-27 20:22] #11674 closed

[2022-05-27 20:25] fareenr opened #12408 "Prepare API Strategy presentation for all BCOL Partners"

[2022-05-27 20:27] fareenr commented on #12408
Meeting set up for 2-Jun - Linda and Jyoti to present.

Presentation draft (work in progress, under review) saved here:
https://docs.google.com/presentation/d/146DjH08Ow1kSFhIA-U5EuktTtVUfaaHV/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-05-27 20:33] lambert-alex commented on #12169
@Mihai-QuickSilverDev This is a bigger question, not applicable to this ticket. Please move to a global staff ticket.

[2022-05-27 20:45] tlebedovich opened #12409 "UI Design - Folio components - None or (Not entered) word inconsistent across apps"
There are inconsistencies is wording for the Folio components across different apps.

1) Some Folio components use the word "None" when its not entered, others (probably newer ones), use the word "(Not entered)".
2) Some Folio components use the side header label "Folio or Reference Number" while some use "Business Folio or Reference Number" (to differentiate between the Business's default Folio a

[2022-05-27 20:46] tlebedovich commented on #12409
fyi @yuisotozaki @rkim13103 @forgeuxGH5 @janisrogers

[2022-05-27 20:49] jinghualicgi commented on #12251
During our bug triage, decision is put this on hold

[2022-05-27 20:54] tlebedovich commented on #12366
@JohnamLane @janisrogers @yuisotozaki This should be based off the design that will be done by entities team

[2022-05-27 20:55] #11643 closed

[2022-05-27 20:55] #11644 closed

[2022-05-27 20:55] #11645 closed

[2022-05-27 20:55] #12057 closed

[2022-05-27 20:55] #12279 closed

[2022-05-27 20:55] #12297 closed

[2022-05-27 20:55] tlebedovich commented on #12365
@JohnamLane @janisrogers @yuisotozaki This should be based off the design that was done by entities team - design link attached for sample of what it would look like in Business Search entity page

[2022-05-27 21:04] seeker25 commented on #12312
Just saw this now. Migration for it Kial?

[2022-05-27 21:05] seeker25 commented on #12228
This has been deployed to TEST.

[2022-05-27 21:15] chdivyareddy commented on #12247
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d4d14a09-39bb-4e0a-a0e9-7f4617cb7062)

[2022-05-27 21:16] seeker25 commented on #12228
Do we need some sort of sign off on this ticket in TEST?
I still think the NEW flags might be problematic.

[2022-05-27 21:28] chdivyareddy commented on #11956
Verified!

**MHR Number: 3655**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/8610b4c2-2f4f-4069-bbee-b5c1d304c319)
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/85e459c1-28af-440d-b052-4bbbda9e1590)

**MHR Number: 53317**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/0f8bbbf8-efe6-4461-ada8-d16cd5208543)

[2022-05-27 21:34] PatrickAHeath opened #12410 "PPR Legacy Address information missing Region - prevents amendment filings from completing - Fix Legacy Address data"
**Describe the bug in current situation**
OPS ticket 898 involved 3 amendments that wouldn't complete.  Issue was Legacy Address information missing data in the Region field.  (Registrations 510180M, 510191M, 510196M)

Determine all Legacy Address data that is missing Region information.  (only for addresses not Canada or the USA?)  Fix those addresses in the same manner to prevent future issues w

[2022-05-27 21:40] chdivyareddy commented on #11812
Hi @doug-lovett , providing you with some registration numbers from DEV to verify the report API failure, thanks!

Reg No: 502428N, 502438N, 502406N

[2022-05-27 21:49] jinghualicgi commented on #10018
Thanks Mags, I will review this together with Sarah and Trish

[2022-05-27 21:54] kialj876 opened #12411 "Search API - create payment / update user access"

[2022-05-27 21:56] kialj876 opened #12412 "Search API - get business document pdfs"
## Description
~update GET `businesses/:identifier` endpoint to include `docAccess` field. This will be used by the UI to determine when to show documents as unlocked / already paid for~
~update GET `businesses/:identifier/documents` to return list of documents based on new auth changes~
Create endpoint that returns document pdfs for search. Add publish to queue for doc creation. Create endpoint f

[2022-05-27 21:56] jinghualicgi commented on #12330
@fareenr Fareen, assign this ticket to you based on Gen's comments, thanks

[2022-05-27 21:57] kialj876 opened #12413 "Auth API - update auth check *NOT NEEDED ANYMORE*"
## Description
Update auth check call to return list of access that can be used to determine what docs the user has access to and if they have current access or cached doc access
## Details
- [ ] define doc groups / groups of entity access (i.e. filing history+business summary, certificate of good standing, etc.) and type of access (i.e. temp cached / current)
- [ ] return list of access based abo

[2022-05-27 21:58] kialj876 opened #12414 "Search/Business API - build doc access table (location tbd)"

[2022-05-27 22:02] jinghualicgi commented on #12289
@trishreimer Trish, please suggest whom I can assign this ticket to. Now I am assigning this ticket to you for review. Thanks

[2022-05-27 22:02] fareenr commented on #12330
@gprimeau Emailed the changes requested by Assets PO & BA:

1.	Please expand all text, so that users don’t have to click to see all the information.  (Or, if this is not possible, there is no need to expand all and collapse all, so can just be text shown)
2.	Please change the text under the ‘Availability is also dependent upon other authentication services’
You can log in to the BC Registry applic

[2022-05-27 22:14] jinghualicgi commented on #11999
@sarahelz19 Waiting your input??

[2022-05-27 22:33] fareenr commented on #11973
Rural Property Tax Search launch notice email sent 26-May to all BCOL Admins of RPT

[2022-05-27 22:42] Mihai-QuickSilverDev commented on #12169
@lambert-alex Hi Alex, what question are you referring to? The content appears to have been updated by Linda this morning.

[2022-05-27 22:42] fareenr commented on #12148
27-May - requested update of current list of Courts Admins from BCOL dba team

[2022-05-27 22:58] doug-lovett commented on #11812
@chdivyareddy these registrations are ready for testing verification report downloading.

[2022-05-27 23:21] chdivyareddy commented on #11812
@doug-lovett , these verification reports got downloaded without any issue.

[2022-05-27 23:25] eve-git commented on #10455
When sending a payment in namex, the filing type is "NM620", the corresponding record in pay-db.payment_line_items.description is 'Name Request fee'.
In order to separate the descriptions for create and renew NR, different filing types should be defined.

[2022-05-28 19:45] trishreimer opened #12415 "post screenshots of UI to discourse so api users can see UI"
@fareen.rajabali if we haven't posted the screenshots for search and the sp/gp filings to discourse, would you mind posting them pls? a user emailed the engagement mailbox looking for access to the mock environment, which we will not be providing, so I'd like to ensure they have access to the screenshots so they can at least see what the UI looks like.

[2022-05-28 19:45] trishreimer commented on #12415
if this has already been posted, please mark as done. thanks.

[2022-05-28 19:55] trishreimer opened #12416 "Update fact sheet to include links to screenshots for search and sp/gp"

[2022-05-28 19:59] trishreimer commented on #12416
could we please update fact sheet to include screenshots? maybe we should have a new section called: 'Preview the changes'

This fact sheet is awesome as I have been using to respond to client inquiries that come into the engagement mailbox.
It will also be beneficial for our email communication/reminders as it has all of the facts and info, which we can link to for background. This will allow us

[2022-05-29 12:32] seeker25 commented on #12228
I think we're missing the launch darkly flags on TEST.

[2022-05-29 14:00] seeker25 commented on #12261
Probably should leave this until the queues are redesigned.

[2022-05-29 15:38] seeker25 commented on #12382
Bumping to a 2, unit tests seem busted.

[2022-05-30 03:53] Mihai-QuickSilverDev commented on #12268
This was opened in error in the Entities team space. Request #900 was created to replace it, in the Ops team space. Closing this request.

[2022-05-30 03:54] #12268 closed

[2022-05-30 14:58] yuisotozaki commented on #11663
**UXA Observations**
* According to the [design](https://invis.io/N612QNAXJKB4#/464064737_SP-DBA_-_Dissolution_Modal), there is a bold text line that states, "Make sure your business information is up to date before dissolving. ". This line is missing in dev.

[2022-05-30 15:05] ritvick commented on #12384
PR: https://github.com/bcgov/bcrs-shared-components/pull/132

[2022-05-30 15:27] sarahelz19 commented on #10018
The Change process has not yet been finalized, however the following is known:
Change activities for SP/GP will be completed online (where available) to include:
Change, Correction, Dissolution - To include revised forms. Will Regional offices continue to accept forms as per status quo? TBD

[2022-05-30 15:28] seeker25 commented on #12381
Also should add debug logging for BAD REQUESTS (json schema not validating).

[2022-05-30 15:30] doug-lovett commented on #12377
Received confirmation from Ali that non-alphanumeric values are removed for vehicle serial number search keys as a first step.
- Vehicle search key database function updated in DEV.
- All existing database vehicle search keys that are not identical to the updated algorithm have been regenerated in DEV.

[2022-05-30 15:32] Mihai-QuickSilverDev commented on #12186
Added the FMCHANGE pay details in Test and Prod.
Added the FMCONV pay details in Dev, Test and Prod.

[2022-05-30 15:34] #12325 closed

[2022-05-30 15:36] Mihai-QuickSilverDev opened #12417 "Create/Update fee codes for Firms Corrections (SP/GP)"
Similar to Request #12186, add pay details for Firms SP/GP corrections in all three environments: Dev, Test and Prod

[2022-05-30 15:48] tlebedovich commented on #12284
@janisrogers - can you link this to the dev ticket please?

[2022-05-30 15:57] sarahelz19 opened #12418 "OCM - Training - Account Setup Registries Ops New Associates - June 4"
Registries Ops team is onboarding 4 new associates
Support Training for Account Creation
-[] Schedule Meeting
-[] Identify TTT
-[] Support Training session 1x hour
-[] Training debrief  - feedback

[2022-05-30 15:58] fareenr commented on #12415
30May - posted links to new Business Search screenshots and SP/GP Registrations screen flow in Discourse under 'Upcoming Releases' category

[2022-05-30 15:59] sarahelz19 commented on #12418
Training session scheduled May 30th 11am
TTT - Julie Harding
SE - Support/Online

[2022-05-30 16:05] Mihai-QuickSilverDev commented on #12417
Created a pay structure for Firms Corrections, in all three environments, as follows:
1. Filing type - FMCORR
2. Filing fee - 40.00
3. Priority fee - add 100.00
4. Srevice fee - 1.50

@lmcclung Looking forward to validate this approach.

[2022-05-30 16:34] jinghualicgi commented on #12410
From our standup discussion:
- This is for non Canada + US country, missing region value data
- API Schema Validation is prefer to fix address data

[2022-05-30 16:40] janisrogers commented on #12284
@tlebedovich It is already linked.

[2022-05-30 16:40] SateeshFW commented on #11662
Increased the estimate to 8 because of more work done

[2022-05-30 16:42] #11960 closed

[2022-05-30 16:43] #12335 closed

[2022-05-30 16:43] #11962 closed

[2022-05-30 16:52] gprimeau commented on #12330
@fareenr
Please review the updated QA page with the current requests
https://www2.qa.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/hours-of-availability

[2022-05-30 16:55] yuisotozaki commented on #12131
UXA Observations:
* Functionally pass
* Visually, the field label baseline should be vertically aligned with the field's placeholder baseline. This might be an app-wide issue as  I see the Certify component having the same issue.

![image.png](https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/6d23443d-5a1b-42e5-892d-0819ce30e0bd)

[2022-05-30 17:02] severinbeauvais opened #12419 "Edit UI: implement more changes for conversion filing"
While testing end-to-end conversion filings, it was found that some existing components (ie, reused from change filing) don't work as needed. These were found in 11954. Additionally, there are new requirements (eg, validation).

- [x] Add validation for missing NOB
- [x] Remove name change confirmation in conversion filing
- [x] Remove Contact Us tooltip from SP edit person
.
- [x] Make party emai

[2022-05-30 17:02] #11741 closed, assigned to seeker25, AshnaMehta

[2022-05-30 17:07] lewischenstudio commented on #12206
These are the filings I've used to test in dev: FM0614924/FM0613561/FM0272480/FM0272488.

[2022-05-30 17:09] fareenr commented on #12330
@gprimeau I checked QA and the fully expanded text looks great!

I didn't see this change requested updated (still shows old text) under the 'Availability based on log on method'.

2. Please change the section title and text under the ‘Availability is also dependent upon other authentication services’
You can log in to the BC Registry application using BC Services Card, BCeID and 2-Factor Authenti

[2022-05-30 17:09] jdyck-fw commented on #12258
We need to be able to file multiple change of directors on the same day or subsequent days.

[2022-05-30 17:11] chdivyareddy commented on #12164
As this will be verified in PROD, moving to Done!

[2022-05-30 17:14] jdyck-fw commented on #12135
Item #1 needs changing, item #2 we can leave as-is.

[2022-05-30 17:16] argush3 opened #12420 "legal api - missing business info warning still being returned after successful conversion filing"
example: https://dev.bcregistry.ca/business/FM1000017?accountid=2288

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/4ff662af-465b-4d3b-88e9-3cd8f7e8e84d)

[2022-05-30 17:19] jdyck-fw commented on #12406
@riyazuddinsyed - Please verify once #11954 has been completed.

[2022-05-30 17:22] fareenr commented on #12148
Saved updated Courts Services distribution list. Created separate tab for Ministry users and highlighted rows for potential Non-Ministry accounts.

https://docs.google.com/spreadsheets/d/1_ctJk9tKZJai9xvflLb7cAZHkD5QzQUF/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-05-30 17:22] argush3 opened #12421 "legal-api - missing business info warning check returning warnings for deleted/ceased partners"
example: FM0367734.

**TODOs**
- [x] Update warnings check to not look at deleted/ceased party(proprietor/partner) related info

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/7b243dcc-9fa9-49b7-89e1-13c5e4b60cd7)

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/5f4984ab-c2e5-4f97-a018-69f5eb33c50f)

[2022-05-30 17:23] jdyck-fw commented on #12406
May 25th a change went in that impacted this.

[2022-05-30 17:24] gprimeau commented on #12330
@fareenr fixed. Some reason it had revert to the original text. Should work now

[2022-05-30 17:25] ozamani9gh opened #12422 "Turn Sentry Off by using SENTRY_ENABLE FLAG instead of SENTRY_DSN"

[2022-05-30 17:30] fareenr commented on #12330
@gprimeau Sorry, I'm still seeing the old title for the second section.  Title should be '‘Availability is also dependent upon other authentication services’ not log on method.  Thanks!

[2022-05-30 17:32] ozamani9gh commented on #12422
Here is the FLAG stored in 1Password.
![image.png](https://images.zenhubusercontent.com/62606d9e769b6103917adb08/950fd815-ab17-47a4-8f6f-51aef039921e)

We need to look at each application and determine the following.

1) Does the APP call Sentry and How does it call SENTRY.
2) UPDATE configuation variables to check SENTRY_ENABLE FLAG   (this will be TRUE or FALSE)

[2022-05-30 17:35] lmcclung opened #12423 "Update Create UI to use only V2"
Once the endpoint is there (under #12307) then this ticket can be done.

[2022-05-30 17:35] gprimeau commented on #12330
@fareenr sometimes you need to refresh a few times or erase your cookies or history.  Sometimes it's easier to look at the link in a different browser

[2022-05-30 17:35] fareenr commented on #12330
@gprimeau Updated text looks good now!  Please publish to Prod and then email me the final prod link, so that I can send that to the Assets team to put the link on the application homepage. Thanks!

[2022-05-30 17:38] gprimeau commented on #12330
Here is the link:

https://www2.gov.bc.ca/gov/content?id=C41D8179671441B2BAA3BDDD3D89C9A9

[2022-05-30 17:39] fareenr commented on #11509
30May - Hours of Availability webpage posted to Prod:
https://www2.gov.bc.ca/gov/content?id=C41D8179671441B2BAA3BDDD3D89C9A9

[2022-05-30 17:40] jdyck-fw commented on #12002
Linda RC'd @pwei1018  on May 30th asking him to review this one.

[2022-05-30 17:41] gprimeau commented on #12103
@magszymanski when you have a moment just want to go over a few of the changes in your ppt. Other then that this is almost done!

[2022-05-30 17:41] PatrickAHeath commented on #12109
Fareen made text change and Gen implemented it week of May 23.

[2022-05-30 17:41] #12109 closed

[2022-05-30 17:42] fareenr commented on #11508
30May - The BC Registry application hours of availability webpage is in Prod at this URL:  https://www2.gov.bc.ca/gov/content?id=C41D8179671441B2BAA3BDDD3D89C9A9

[2022-05-30 17:44] severinbeauvais commented on #11954
@yuisotozaki @tlebedovich @rkim13103

Ready for additional UXA. Note that any outstanding or new issues should be reported in #12419.

[2022-05-30 17:44] pwei1018 commented on #12002
Don’t think it is high priority. We can leave it for Vue3 upgrade.

[2022-05-30 17:47] #12267 closed

[2022-05-30 17:54] jdyck-fw commented on #9038
We can do a data fix on this one. Mihai will connect with Steven who is on Ops today, though other Ops devs could handle it too.

[2022-05-30 17:56] lmcclung opened #12424 "UI Design"
Effective Date question for AR - follow up from 9118

[2022-05-30 17:57] jdyck-fw commented on #9118
Linda created #12424 as a design ticket for this one.

[2022-05-30 18:01] jdyck-fw commented on #9173
Next steps here are to delete the historical filings and create an epoch filing.

[2022-05-30 18:08] yuisotozaki commented on #11663
Looks good in dev. UXA passed. Ready for QA.

[2022-05-30 18:27] tlebedovich opened #12425 "UI - design bug - icon colours are gray in Amendments"
All of the header icons within the PPR Amendment app have lost their colour and are now showing as gray.

All header icon colour for all pages in Amendments should be colour #38598A as per design.

![Screen Shot 2022-05-30 at 11.17.08 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/a6c0e5e1-0410-433b-9c6b-12cf35a4a917)

![Screen Shot 2022-05-30 at 11.17.06 AM.png](https://ima

[2022-05-30 18:33] gprimeau commented on #11248
@trishreimer @sarahelz19
Sarah and I have started to look over this and saw that most of the the stuff online was concentrated on the Sole Prop and General Partner page

[2022-05-30 18:33] fareenr commented on #12362
@gprimeau Please post this news update to the Modernization news and updates webpage:
https://docs.google.com/document/d/1eRdbYXPNVNSs8mv4EExJIEXI8Rr_t8cHm4yNHA5zo1A/edit

[2022-05-30 18:35] chdivyareddy commented on #12377
Attaching few samples from DEV:

- [ ] **E619-1609**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a40fc476-ff33-473b-ba38-01559e77305e)
**E6191609**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/82f3eda7-71a9-44db-b77c-ebf2e5f5d2a5)

- [ ] **11-CADW028-09**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/4005ab9e

[2022-05-30 18:37] gprimeau commented on #12362
@fareenr accomplished and posted

[2022-05-30 18:39] meganawong opened #12426 "Update dissolution filing display name in filing history on Business Dashboard"
In the "Recent Filing History" list, change dissolution filing names from **"Voluntary Dissolution"** to **"Statement of Dissolution"**.

![image.png](https://images.zenhubusercontent.com/627eb52b2100ab394f59a5dd/95e1fabc-c894-4557-957c-6f6a3deffc22)

* This requires an API change so that the value comes from the backend
* ~Update the Registration date = Creation date~

[2022-05-30 18:44] Maribeth-Wilson commented on #12207
Here is the [master distribution list](https://docs.google.com/spreadsheets/d/14awqA1tkYuKBpIni93hfQrQTtLaYPSYU/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true)

[2022-05-30 18:45] Maribeth-Wilson commented on #12207
Moving this issue to DONE

[2022-05-30 18:49] Maribeth-Wilson commented on #12209
Here is the link to the finalized [Excel spreadsheet](https://www2.gov.bc.ca/assets/download/2538AD76EA5647C4AE9E10F008C56EAE)

[2022-05-30 18:49] Maribeth-Wilson commented on #12209
Moving this issue to DONE

[2022-05-30 19:05] Maribeth-Wilson commented on #12208
This email has been sent to all those on the [Master SP&GP May 26 - final distribution list](https://docs.google.com/spreadsheets/d/14awqA1tkYuKBpIni93hfQrQTtLaYPSYU/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true)

[2022-05-30 19:06] Maribeth-Wilson commented on #12208
Moving this issue to DONE

[2022-05-30 19:12] #12382 closed

[2022-05-30 19:14] severinbeauvais opened #12427 "Edit UI - remove staff payment for conversion filings"
Conversion filings are zero-fee, so to reduce confusion (and staff work), we decided that we would simply remove the staff payment component from these filings.

- [ ] remove staff payment component from conversion filings (including related event handler, etc)
- [ ] hard-code the "no fee" fields in the filing data (*)
- [ ] test this in an actual conversion filing
- [ ] update unit tests as neede

[2022-05-30 19:18] severinbeauvais commented on #12427
This interface:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/fab5d9a3-fc55-4639-b257-eb38eb446cbd)

should use this interface for filingData:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/8e13102e-4b69-4a8f-b3bf-f33c53d45bb6)

[2022-05-30 19:19] severinbeauvais commented on #12427
This should work to hard-code the payment values:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/c947bed6-6c55-4ffb-a74a-b49a94634709)

(without the error once the interfaces are fixed).

[2022-05-30 19:29] fareenr commented on #12156
Created draft of API Strategy presentation saved here:
https://docs.google.com/presentation/d/146DjH08Ow1kSFhIA-U5EuktTtVUfaaHV/edit#slide=id.p1

Currently under review with Jyoti and Linda.

[2022-05-30 19:37] chdivyareddy commented on #12386
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b0d1ce52-2484-478b-9c86-e5e60dbc2d31)

[2022-05-30 19:44] #11234 closed

[2022-05-30 19:58] sarahelz19 commented on #12344
- [ ] Confirm that paper forms will be accepted for alternative process to online
- [ ] Identify all fields required on net new form
- [ ] No signature Block required
- [ ] Add "DO NOT MAIL" header and footer

[2022-05-30 20:00] ozamani9gh commented on #12422
An Example:
BEFORE:
![image.png](https://images.zenhubusercontent.com/62606d9e769b6103917adb08/10e70503-1197-4de6-a9e0-61fcdb52d166)

AFTER  (NAME REQUEST):
![image.png](https://images.zenhubusercontent.com/62606d9e769b6103917adb08/7c63b0f7-5011-4bf8-9931-353b5f9419b0)

[2022-05-30 20:01] doug-lovett commented on #12175
@tlebedovich here are the updated combination report examples if you want to re-review.

Active:
[https://app.zenhub.com/files/157936592/04366ebf-8cfb-435d-8c9f-20ae1ca46897/download](https://app.zenhub.com/files/157936592/04366ebf-8cfb-435d-8c9f-20ae1ca46897/download)

Discharged:
[https://app.zenhub.com/files/157936592/1d2abbe9-1ee6-4f90-9020-27b8284e4907/download](https://app.zenhub.com/files/1

[2022-05-30 20:02] severinbeauvais commented on #12419
The following changes have been made and deployed to Dev for UX Assurance + QA:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/761fd727-d710-4398-95c8-d1c8acce0086)

[2022-05-30 20:03] sarahelz19 commented on #11245
- [ ] Give Training environment access for updates to SP/GP Registration
- [ ] Confirm processes as updated via the KB for SP/GP Registration
- [ ] Review and confirm KB information is accurate
- [ ]

[2022-05-30 20:03] severinbeauvais commented on #12419
The following changes have been made and deployed to Dev for UX Assurance + QA:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/761fd727-d710-4398-95c8-d1c8acce0086)

CC: @yuisotozaki @rkim13103 @riyazuddinsyed

[2022-05-30 20:05] sarahelz19 commented on #11010
@jinghualicgi @gprimeau  How does this ticket differ from #11248? Do we have a duplication?

[2022-05-30 20:13] sarahelz19 commented on #12418
Follow up with IT - Are there actual limits on the number of transactions in Registries basic accounts

[2022-05-30 20:15] doug-lovett commented on #12178
@tlebedovich Here are the updated footer/toc examples if you want to re-review.

MHR Number:
[https://app.zenhub.com/files/157936592/e6ed0cd9-f5b5-4992-95ac-47e83239ce97/download](https://app.zenhub.com/files/157936592/e6ed0cd9-f5b5-4992-95ac-47e83239ce97/download)

Org Name:
[https://app.zenhub.com/files/157936592/1e91e5d5-b2e9-4b4e-bdfc-4ec1115c1c08/download](https://app.zenhub.com/files/1579365

[2022-05-30 20:20] doug-lovett commented on #12177
@tlebedovich Please see the examples in 12178 if you would like to re-review.

[2022-05-30 20:21] jinghualicgi commented on #11380
@Mihai-QuickSilverDev any update regarding this ticket? Thanks

[2022-05-30 20:24] PatrickAHeath commented on #12377
@doug-lovett Is there a reason why the searches for PLSS063011LE1908S175 & T20HD016 wouldn't return the serial numbers containing non alphanumeric characters as a partial match?  Is length of search parameter and position of special character a factor in the logic?

[2022-05-30 20:25] jinghualicgi commented on #11652
@lmcclung should we tag @Mihai-QuickSilverDev  for this ticket?

[2022-05-30 20:25] Mihai-QuickSilverDev commented on #9038
To the Dev Ops on duty - we need your help to data fix this record for now.
@stevenc987

[2022-05-30 20:39] jdyck-fw commented on #11410
Confirmed with Riyaz, this can be closed now.

[2022-05-30 20:39] #11410 closed

[2022-05-30 20:40] jinghualicgi commented on #12153
Move to In Progress based on our planning meeting

[2022-05-30 20:42] jinghualicgi commented on #12318
Move to In Progress based on our planning meeting

[2022-05-30 21:16] tlebedovich commented on #12178
Looks great @doug-lovett

[2022-05-30 21:26] fareenr commented on #12156
Initial meeting to emphasize importance of developing APIs and sharing data  scheduled with partner product owners and IT reps for Thurs May 2.

[2022-05-30 21:31] tlebedovich commented on #12176
thanks @doug-lovett - updates look great. if I can be picky and make one small adjustment;

-TOC column headers row - can we move this column header text row up a bit so the column headers aren't so close to the gray hairline? matching to space below the hairline. (this is a nice to have not a must)

![Screen Shot 2022-05-30 at 2.23.55 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528

[2022-05-30 21:52] tlebedovich commented on #12176
@doug-lovett - just those minor spacing adjustments we chatted about

[2022-05-30 21:56] Maribeth-Wilson commented on #11975
Here are the Youtube links provided by CITZ News: [videos posted on Youtube](https://docs.google.com/document/d/1j1TkATHeynfIhWLhpVEqv_R3JBv0hpmz/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true)

[2022-05-30 22:00] kialj876 opened #12428 "UI - auth check / initial flow"
## Description
- Check user has business search as a product else redirect to bc registry dashboard.
- Check user is authenticated else redirect to login and then to bc registry dashboard

[2022-05-30 22:05] rkim13103 commented on #11954
UXA Observations:

-When I try to to "change" the (not entered) business address
the check box "Delivery Address same as Mailing Address" is pre checked and is disabled.

[2022-05-30 22:17] jdyck-fw commented on #12376
Partners = courts, wills, rural property tax, bc assessment and site registry

[2022-05-30 22:23] tlebedovich commented on #12175
@doug-lovett - looks great - one question, one small UXA comment:

The Question:
![Screen Shot 2022-05-30 at 2.56.14 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/2d2bd2a8-c80d-4277-bf67-8f3c67537bcd)

UXA Comment:
![Screen Shot 2022-05-30 at 2.58.51 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/ea0856f3-54ce-47fe-9dbd-fbde57076ab7)

[2022-05-30 22:24] severinbeauvais commented on #11954
The first part is because the addresses are the same (empty). I am adding a check in 12419 to handle this.

The second part is because there is explicit code to disable "same as" feature for Change and Conversion filings. This looks like a business rule and I am reluctant to change it. Let me know how to proceed with this.

Ref: https://github.com/bcgov/business-edit-ui/blob/223cc4f62e07396ab23ce7

[2022-05-30 22:32] rkim13103 commented on #11954
@severinbeauvais
 I'll bring this up in our SP.GP meeting tomorrow (2-3pm) if there is a business rule for mailing and delivery address, and I'll let you know!
Thank you

[2022-05-30 22:41] doug-lovett commented on #12175
@tlebedovich The asterisk '*' is data.

[2022-05-30 23:06] tlebedovich commented on #12175
hi @doug-lovett - couple additional comments after reviewing the MHR with PPR results.

[2022-05-30 23:06] tlebedovich commented on #12177
@doug-lovett - see ticket #12175 for the UXA

[2022-05-30 23:20] mstanton1 opened #12429 "Search results with and without hyphen (business debtor, aircraft/airframe D.O.T, individual debtor)"
When a business debtor search is completed it is expected that the same number of results will be retrieved regardless of punctuation, as punctuation should be removed before the search is done. Yet in some cases results of a business debtor search differ if a hyphen is included / not included.

Task:
Complete searches with and without hyphen (or other punctuation) in both the old and new PPR syst

[2022-05-30 23:22] mstanton1 commented on #12429
@PatrickAHeath before this gets pushed through can you do some testing with each search criteria (excluding serial number) so we can identify all cases that need to be addressed? If time is a constraint it might be something Gary could tackle?

[2022-05-30 23:23] tlebedovich opened #12430 "PPR Collateral Bug - User can register without any Collateral"
High Priority - User can complete a registration without providing any collateral.

- May effect all registrations/Amendments etc that contain General Collateral WYSIWYG

In DEV - logged in with BCREG0040

To reproduce -

 IF you start a Registration (for example Security Agreement)
THEN go to Collateral step
AND you don't add a vehicle
AND you type into the GC WYSIWYG box
THEN you erase what you

[2022-05-30 23:25] tlebedovich commented on #12430
@PatrickAHeath @mstanton1 @forgeuxGH5 - noticed this bug while doing WYSIWYG work

[2022-05-30 23:46] doug-lovett commented on #12175
Updated examples:
Nil:
[https://app.zenhub.com/files/157936592/9d4d2b92-7ce9-4945-b4c4-67829a326cf7/download](https://app.zenhub.com/files/157936592/9d4d2b92-7ce9-4945-b4c4-67829a326cf7/download)

Active:
[https://app.zenhub.com/files/157936592/30e7c40a-ddd6-45cd-9d0a-17fa8ebbd037/download](https://app.zenhub.com/files/157936592/30e7c40a-ddd6-45cd-9d0a-17fa8ebbd037/download)

Discharged:
[https://

[2022-05-30 23:53] tlebedovich commented on #12175
@doug-lovett - looks awesome! ready to go ahead to RFQA

[2022-05-30 23:56] doug-lovett commented on #12177
Updated examples from second UXA review below:
Search by MHR number:
[https://app.zenhub.com/files/157936592/eabd0a23-0d3f-47a0-bbdc-71d71c6d7f5f/download](https://app.zenhub.com/files/157936592/eabd0a23-0d3f-47a0-bbdc-71d71c6d7f5f/download)

Search By Org Name:
[https://app.zenhub.com/files/157936592/2f80f7a5-1ae7-4fdd-ab22-0a4cd573bd15/download](https://app.zenhub.com/files/157936592/2f80f7a5-1a

[2022-05-31 00:12] thorwolpert opened #12431 "RFC for Queue"

[2022-05-31 00:12] Mihai-QuickSilverDev commented on #12204
@eve-git Yes, correct!

[2022-05-31 00:28] severinbeauvais commented on #12419
The following changes have been implemented and are in review:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/56c3ad6e-5ae2-4865-ba32-7aaa6f68cc2a)

[2022-05-31 00:54] lmcclung commented on #9118
Questions to ask Staff:
1) how do they currently handle these scenarios with Societies?  Did it work well or were there issues?
2) how did they handle them when everything was done on the mainframe?
3) is technically a correction?  Or would we have them file the AR with no COD and then submit a Correction form for the missed director information and then we make the relevant updates (if any) and a

[2022-05-31 01:03] lmcclung opened #12432 "Verify: SP/GP filings do not have $1.50 Service Fee"
According to the Partnership Act, the only transactions were SP/GPs are charged the $1.50 Service Fee is for a Name Request or for a Business Search.

This ticket is to verify that there are no service fees for the following:
- [x] Registration of a SP
- [x] Registration of a GP
- [x] Change filing for a SP
- [x] Change filing for a GP
- [x] Dissolution filing for a SP
- [x] Dissolution filing for

[2022-05-31 01:11] lmcclung opened #12433 "Support filtering by multiple legal types"
### Description

###  Expected Behavoir - Acceptance Criteria

* Scenario 1: SP/GP registrations
* GIVEN a user is registering or changing an SP/GP
* WHEN they want to add a business as a partner or proprietorship
* AND they use the business search look up in the repsective Create or Edit UI
* THEN SOLR will retrieve suggestions for multiple legal types

### Deadline
end of Sprint 13.4

### Impact

[2022-05-31 15:30] doug-lovett commented on #12379
Email from Ali:
For an MHR search, only current owners are included. Also as per Sharon’s comment, clients do not have access to previous owners’ information, only staff has access to it.

Regarding the other question on how to determine the state of the ownership,  OWNGROUP table has that information. STATUS field in owngroup table should be translated as follows:

STATUS = 3 => ACTIVE OWNER(S)
S

[2022-05-31 15:36] #12164 closed

[2022-05-31 15:52] mstanton1 opened #12434 "Stat: Volume of Data Transitioned for PPR"
To support an upcoming presentation there’s been an inquiry into how many records were transitioned for the launch of PPR.
This statistics does not need to be exact but should include a close number of registrations that were brought over from DB2 to postgres. This would have included all active registrations as of Jan 25, 2022 and those that had been discharged in the 30 days prior to Jan 25, 202

[2022-05-31 16:06] severinbeauvais commented on #12419
The following changes have been made and deployed to Dev for UX Assurance + QA:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/56c3ad6e-5ae2-4865-ba32-7aaa6f68cc2a)

CC: @yuisotozaki @rkim13103 @riyazuddinsyed

[2022-05-31 16:18] severinbeauvais commented on #12419
The following changes have been made and deployed to Dev for UX Assurance + QA:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/8e657fba-0403-4baf-a0a3-cd6cd7ba73f7)

CC: @yuisotozaki @rkim13103 @riyazuddinsyed

[2022-05-31 16:20] sarahelz19 commented on #12344
@gprimeau
Form Requirements to date: [https://docs.google.com/document/d/1G83QSHDgqvTAiXDRTVvtOqyk_aoo8GAdfN8gQw2U4Z4/edit](url)

[2022-05-31 16:21] jinghualicgi opened #12435 "Sprint Goal: 13.4"
1. As a user I want the ability to see MHR or my Assets Dashboard when I have been given MHR or MHR/PPR access. - 100%
2. As a staff user I want to complete a MHR or Combined search and receive a PDF output. - 100%
3. As a staff or public user I want the ability to launch PPR, MHR or my Assets dashboard. - 100%

[2022-05-31 16:31] #10296 closed

[2022-05-31 16:34] #11662 closed

[2022-05-31 16:39] mstanton1 opened #12436 "UI - look and products vs roles for clients"

[2022-05-31 16:41] jinghualicgi commented on #12436
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/12436?planning-poker) with ZenHub @cameron-freshworks @dimak1 @doug-lovett @garyfan1

[2022-05-31 16:43] mstanton1 commented on #11608
Need license to be provided by home team. License request is being escalated.

[2022-05-31 17:10] ritvick commented on #12384
This is a bug in existing system as well for BC benefit companies and others too.
have created a PR here, and have asked @severinbeauvais to take a look. This PR will impact all existing places as well.
https://github.com/bcgov/bcrs-shared-components/pull/132/files

cc: @Ashna-FreshWorks @jyoti3286

[2022-05-31 17:16] tlebedovich commented on #12219
@cameron-freshworks - looks good to me

[2022-05-31 17:18] jinghualicgi commented on #11637
@pwei1018 can you help with some of tickets under this story?  Let's chat in tomorrow's bug triage. Thanks cc: @mstanton1

[2022-05-31 17:36] MeganFedora commented on #12339
Added Laurie Stossel and David Lessard to list of staff to be onboarded

[2022-05-31 17:41] gprimeau opened #12437 "FORM - SP/GP dissolution form"
update the original form for the new bc Registry application

[2022-05-31 17:43] gprimeau commented on #12437
@sarahelz19 here is a copy of the draft form
[DRAFT_Dissolution of Proprietorship or Partnership Registration.pdf](https://github.com/bcgov/entity/files/8807560/DRAFT_Dissolution.of.Proprietorship.or.Partnership.Registration.pdf)

[2022-05-31 18:01] severinbeauvais opened #12438 "Auth web: Should premium firms be able to edit Folio Number?"
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/408d914e-46e3-4c4f-bac8-5e4e7847663f)

[2022-05-31 18:20] mstanton1 commented on #11819
@chdivyareddy there was an outstanding question on Heritage Conservation:

The Heritage Conservation notice [MRR 1(1)(d) and 11(4)] should REQUIRE (mandatory) entry of general collateral text and PERMIT (optional) entry of serial numbered collateral (aka “vehicle” collateral like the crown charges and lien for unpaid wages.

[2022-05-31 18:25] chdivyareddy commented on #11819
Thanks for confirming @mstanton1

I think we need a ticket to work on that registration type to include Vehicle Collateral or we can use this ticket as well.

[2022-05-31 18:26] #11956 closed

[2022-05-31 18:27] sarahelz19 commented on #12345
Draft Requirements for New form :
[https://drive.google.com/drive/u/0/folders/1PzqHjauSlQa29Z4fPa-yaLHkN_cPpXBk](url)

[2022-05-31 18:33] mstanton1 opened #12439 "Allow optional serial number collateral for Heritage Conservation Notice"
## User Story
As a PPR user, I want to be able to enter serial collateral text for heritage conservation notices so I can fulfill my obligations.

---
## Description
The Heritage Conservation notice [MRR 1(1)(d) and 11(4)] should REQUIRE (mandatory) entry of general collateral text and PERMIT (optional) entry of serial numbered collateral (aka “vehicle” collateral) like the crown charges and other

[2022-05-31 18:35] mstanton1 commented on #11819
Zenhub 12439 has been created for the Heritage Conservation Notice work. Great catch @chdivyareddy. Closing this as the Verify task has been completed.

[2022-05-31 18:35] #11819 closed

[2022-05-31 18:39] tlebedovich commented on #12175
@doug-lovett - I noticed in Scott's demo where he had a result with 100+ pages, that the page numbers are overlapping in the footer - the footer content should be able to grow to the left depending on how many digits are in the Page count --

ie - footer info and page number info should grow to the left to be able to fit - MHR Owner Name Search "Smith, John" l Page 100 of 106

screengrab below:
![

[2022-05-31 19:20] sarahelz19 commented on #12346
Closed - Duplicate ticket - See 11531

[2022-05-31 19:21] #12437 closed, assigned to gprimeau, sarahelz19

[2022-05-31 19:21] sarahelz19 commented on #12347
Duplicate ticket closed - see 11532

[2022-05-31 19:27] doug-lovett commented on #11812
Hi @chdivyareddy, registrations 502507N, 502511N, 502471N verification report doc storage references deleted in TEST.

[2022-05-31 19:41] tlebedovich commented on #12175
shoot, i did not know that. i only saw one extra space in there before but I assume reports could have pages in the hundreds.

[2022-05-31 19:51] mstanton1 commented on #12434
Based on the last extract, there were around 1.8M registrations in the IMS DOCUMENT segment(35 different types of registrations including new registrations and renewals) that we moved to the new PPR.

[2022-05-31 20:24] chdivyareddy commented on #11812
@doug-lovett , it did work now, thank you!!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/dd387a3e-38a9-4cbe-a8c2-276625d13c3e)

[2022-05-31 20:24] doug-lovett commented on #11812
@chdivyareddy I think it is either a UI issue or a temporary report api issue. I just requested the report via the API and it worked. Which means it should work for you now in the UI.

[2022-05-31 20:26] ozamani9gh commented on #12339
This is my master list.   (Buiness Team Tab)
https://docs.google.com/spreadsheets/d/1ya6VTTVhGbzXoYhqxd9f4Fly8snRJtH6Tehmecntva8/edit#gid=1965239205

[2022-05-31 20:31] #11889 closed

[2022-05-31 20:32] #11887 closed

[2022-05-31 20:46] kialj876 commented on #12179
ux assurance link: https://yfthig-dev--pr-79-cou8gp5f.web.app/

[2022-05-31 20:46] kialj876 commented on #12255
ux assurance link: https://yfthig-dev--pr-79-cou8gp5f.web.app/

[2022-05-31 20:59] tlebedovich commented on #12255
@kialj876 - i noticed the tool tip dotted underlines look a little weird in this latest version -
![Screen Shot 2022-05-31 at 1.56.10 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/57c6aeb5-08a8-426e-9d32-63dbf7c9522c)

@janisrogers - did you need to make any content updates in this ticket based on Kaine's feedback from today or will you make a new ticket?

[2022-05-31 20:59] magszymanski commented on #11246
@sarahelz19 this was previously assigned to Jenny that should be with you! Not sure if you already have this work captured in a different ticket?

[2022-05-31 20:59] magszymanski commented on #12153
@sarahelz19 this was previously assigned to Jenny that should be with you! Not sure if you already have this work captured in a different ticket?

[2022-05-31 21:09] jdyck-fw commented on #2118
- [ ] All - Practice using the Dev Tech Demo - Both for show what you know & Ask what you don't know
- [ ] All - Keep inviting multiple people when you're showing someone something new
- [ ] All - Consider it may take up to a day or two for new folks to get to know the dev stack
- [ ] Recent hires - Actively offer onboarding process feedback on your onboarding ticket in ZenHub in comments
- [ ] Al

[2022-05-31 21:10] seeker25 commented on #12033
me and Ashna agreed this is done. It's now deployed to PROD. Closing.

[2022-05-31 21:10] #12033 closed

[2022-05-31 21:42] SateeshFW opened #12440 "Relationships Release 13.3"