[2022-10-04 18:04] argush3 commented on #13589
thanks.  will verify in the next extract.

[2022-10-04 18:08] argush3 commented on #13802
cc: @droberts27

[2022-10-04 18:09] argush3 commented on #13754
since work was done for this, I will pull this into the current sprint.

[2022-10-04 18:14] chdivyareddy commented on #13710
@dimak1 , new issue found. Please take a look, thanks!

- [ ] When the user removes all the home owners from the list and without adding any groups, then the 'Group must contain at least one owner' error message is being displayed in step3 instead of 'No owners added yet' and Review and confirm screen should hide Home Tenancy Type and the table.
**Current Behavior:**
![image.png](https://images.ze

[2022-10-04 18:15] droberts27 opened #13803 "Verify - Unable to download "BC Sole Proprietorship Registration""
To Do List:

- [ ] Modify the Outputs to work with missing mandatory fields - display value "not available".
- Examples of such fields: Completing Party, Business Description, Business Contact Email, Proprietor or partner, etc.

[2022-10-04 18:21] droberts27 commented on #13803
@argush3 @Mihai-QuickSilverDev
FM0554062 may be failing because the registration has no Completing Party
FM0558168 may be failing because the registration has no Business Description

[2022-10-04 18:27] chdivyareddy commented on #13760
@ChasBoucher @owillborn

I'm seeing an error status:500 when submitting an MH registration through UI, please take a look, thanks!

[code]

And all the steppers got changed from green checkmark to red X even though all the steps are completed before submitting the request.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/9c058475-f397-44b7-b279-9cce389e901e)

[2022-10-04 18:31] dimak1 commented on #13136
Fixed items 2 and 3 above. Item 1 (fail to add registration) will be fixed as part of its own ticket #13791.
cc: @tlebedovich

[2022-10-04 18:31] argush3 commented on #13754
Code has been reviewed and merged into the main branch.  Moving to done as @Mihai-QuickSilverDev and @droberts27 have already verified the fix.

[2022-10-04 18:31] jennyschan opened #13804 "What's New post should be displayed at BC Registries & Online homepage"
GIVEN the user click to BC Registries & Online link: https://www.bcregistry.gov.bc.ca/
THEN display this main landing page with the What's New post (see attached screen circle in red)
AND all users can see what’s new in the application.

![image.png](https://images.zenhubusercontent.com/626855c7fa4558db4e083a81/2bdf1c94-65aa-491d-9236-271bd76944f7)

[2022-10-04 18:34] #13606 closed

[2022-10-04 18:35] tlebedovich commented on #13710
to note the "no owners added yet." message should be in the dark gray default colour #495057 @dimak1 , same as if you haven't started added owners yet.

[2022-10-04 18:49] chdivyareddy commented on #13609
@RFK250 Can we create an additional ticket for the UXA changes mentioned by Tracey above^^, so that it can go back to UXA once changes have been made, thanks:)

[2022-10-04 18:55] chdivyareddy opened #13805 "MHR Dashboard - Hide the Actions for staff"
## AC
GIVEN I am a staff user (Registries staff)
WHEN I navigate to MHR Dashboard
THEN the actions to file a transfer should be hidden, actions should be displayed for Qualified Supplier users only

- [ ] BRTEST1 account in TEST env displays Actions to file a transfer, but not in DEV env. Update to hide the actions for staff.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6

[2022-10-04 18:55] RFK250 opened #13806 "UI - Missing UXA feedback for Transfer flow"
## Tasks

        @cameron-freshworks - missing UXA feedback for Transfer flow --

**ADDITIONAL UX ITEMS:**

- [x] Fix bg colour of the main header bars #E2E8EE (same colour as table owner group bars) and round top two corners - (on first + review screen)
- [x] Update with correct Home Owners icon on first screen - > **Download SVG icon here:**
https://drive.google.com/drive/folders/1BbrBQNf9r8Tfn

[2022-10-04 18:57] RFK250 commented on #13609
@chdivyareddy Done! See #13806

[2022-10-04 18:58] Maribeth-Wilson commented on #8400
@magszymanski can this ticket be closed?

[2022-10-04 19:02] Maribeth-Wilson commented on #11013
Hi @daniwilliamson, is this still required?

[2022-10-04 19:02] magszymanski commented on #8400
I will close this. This is for when we were moving away from Trello and into zenhub.

[2022-10-04 19:02] #8400 closed

[2022-10-04 19:03] chdivyareddy commented on #13609
that's great! thanks @RFK250 :)

[2022-10-04 19:03] Maribeth-Wilson commented on #11158
@trishreimer can this ticket be closed?

[2022-10-04 19:05] trishreimer commented on #13366
I don't see CSO here:
https://www2.gov.bc.ca/gov/content/governments/government-id/bcservicescardapp/available-online-services

it also needs to be in the  BC Services Card app

[2022-10-04 19:06] jennyschan opened #13807 "The label of Court Service Order app should be "NEW" not "Coming Soon""
As the CSO in production now, so the label "COMING SOON"  displayed on the Manage Account - Products & Services page should be removed (highlighted in yellow).

![image.png](https://images.zenhubusercontent.com/626855c7fa4558db4e083a81/bc33d197-d8e1-46c1-a33b-58d41fcc2c9c)

[2022-10-04 19:06] Maribeth-Wilson commented on #11371
Hello @mstanton1 - can this ticket be closed?

[2022-10-04 19:07] #11158 closed

[2022-10-04 19:14] daniwilliamson commented on #11013
There isn't enough information in this ticket for me to guess what it was or what was involved. Looks like Susan completed it back on March 18 - I suggest we close it. Thanks!

[2022-10-04 19:14] #11013 closed

[2022-10-04 19:23] daniwilliamson commented on #13196
Hi, no, I have not shared the guide. Is it ready? My understanding is that you were working with Savannah to update the guide - i've not really been part of that process. I understand this is the guide that will be attached to a confirmation email registrants receive. But that is the extent of my knowledge.

[2022-10-04 19:26] daniwilliamson commented on #13196
I understand that this message was shared in the OCM comms and outreach and presentations. I've not been part of any dialogues about UI designs with partners.

[2022-10-04 19:27] daniwilliamson commented on #13196
@magszymanski - I'm not clear what this ticket is related to - is this regarding outreach to muni/local gov??

[2022-10-04 19:28] seeker25 commented on #11055
I've done this for ACK and Cas Settlement files, probably should do it for feedback as well.

[2022-10-04 19:31] daniwilliamson commented on #12937
@magszymanski previously, you had mentioned an OMC approved comm for local gov. Is there something with your current key messages to ensure I'm following the approved messaging?

[2022-10-04 19:48] #3983 closed

[2022-10-04 19:48] #3984 closed

[2022-10-04 19:49] #12950 closed

[2022-10-04 19:51] JohnamLane opened #13808 "Implement Court Order Warning for Entities"

[2022-10-04 19:52] #12870 closed

[2022-10-04 19:54] #12539 closed

[2022-10-04 19:56] #9537 closed

[2022-10-04 19:56] #9538 closed

[2022-10-04 19:56] #9539 closed

[2022-10-04 19:57] #9535 closed

[2022-10-04 19:57] #12538 closed

[2022-10-04 20:12] argush3 commented on #13802
@droberts27 @Mihai-QuickSilverDev I have made the necessary updates to the SP/GP pipeline so the right BN value(BN 15 or BN 9) gets loaded to the businesses.tax_id column correctly.

The following SPs have been loaded to DEV for verification.

FM0476538 has both BN 15 and BN 9.  Verify that BN 15 is used in DB and UI.

FM0046262 has no value for BN 15 but has value for BN 9.  Verify that BN 9 is u

[2022-10-04 20:13] #11588 closed

[2022-10-04 20:17] #8105 closed

[2022-10-04 20:19] #6924 closed

[2022-10-04 20:22] JohnamLane commented on #9431
@MatthewCai2002 Possible next ticket, but let's discuss first.

[2022-10-04 21:14] fareenr commented on #13366
4-Oct - emailed request to Amanda to add Court Services Online to Access BC Registries section to their webpage and in BC Services card app.

[2022-10-04 21:30] sarahelz19 commented on #13359
Hi Jeff,

I just wanted to touch base to reconfirm my understanding after yesterday’s meeting. Sarah and I will provide verbiage for the retirement of 1-877-822-6727. Maximus will launch messaging on the phone lines.

In addition, I would like to let you know that An istore request has been logged to create the new email bcrossupport@gov.bc.ca.This has been placed urgently and we have outlined you

[2022-10-04 21:31] sarahelz19 commented on #13359
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/dea65eb0-4d6c-48b4-b730-9b532351449e)

[2022-10-04 21:34] #13754 closed

[2022-10-04 22:10] #13748 closed

[2022-10-04 22:11] #13609 closed

[2022-10-04 22:25] jdyck-fw commented on #2118
![14.6.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/e3d6a5a0-3824-4d5d-b3fe-f82a65072009)

[2022-10-04 22:53] droberts27 commented on #13802
@argush3 @Mihai-QuickSilverDev Looks good in the data and the application.

[2022-10-04 22:58] #13055 closed

[2022-10-04 23:01] Mihai-QuickSilverDev commented on #13802
Confirmed!

[2022-10-04 23:04] seeker25 commented on #13055
As part of this ticket I've implemented checks on CSV files and ACKs. Next step would be to check for duplicate feedback files.

I've also fixed the issue with duplicate failed payments causing reconciliation to not work over multiple days..

Also we have a new database table `cas_settlements`, used to track successful / unsuccessful runs - versus using the logging and having to manually figure wh

[2022-10-04 23:06] Mihai-QuickSilverDev commented on #13183
@argush3 Hi Argus, Is this in place yet? - There's a fix coming on loading data.
Thanks much!
@droberts27

[2022-10-04 23:08] RFK250 commented on #13791
@dimak1 Is this ticket in progress? If so can you please move it to In Progress; if not can you please move to the Backlog backlog? Thank you! :)

[2022-10-04 23:26] trishreimer commented on #13196
this is a duplicate.

also noted here:
\https://github.com/bcgov-registries/ocm/issues/26

closing this tix.

[2022-10-04 23:26] #13196 closed

[2022-10-04 23:29] dimak1 commented on #13791
@RFK250 No, this is not in progress. I just wrapped up a few other In Progress tickets. Should I work on this next? What's the priority?

[2022-10-04 23:29] seeker25 commented on #13011
@zac-broitman @JohnamLane

Closing ticket, I think this entire process needs a redesign.

There are multiple GL codes it should go back to according to Melanie's email.

[2022-10-04 23:29] #13011 closed

[2022-10-05 00:55] forgeuxGH5 opened #13809 "BUG - The PPR Search Result Page is displaying "Selection List" in the breadcrumb trail."
When conducting a PPR search, the Search Result page is displaying "Selection List" in the breadcrumb trail.
"Selection List" should only be displayed for MHR searches; PPR should display "Search Results" in the breadcrumb

Steps to reproduce
Conduct a PPR search in dev (through Asset Registries or PPR only)
View the Search Result page breadcrumb
![image.png](https://images.zenhubusercontent.com/5

[2022-10-05 02:14] tlebedovich commented on #13727
@owillborn - I see a new missing validation in dev. do you have leftover room in this ticket to look? If not I will create a separate bug ticket, please let me know - its pretty small.

- [ ] If user did not add any owners in step 3, and goes to Review and Confirm to trigger the validations, and then returns to step 3, there should be a red bar showing on the side of the table:

Current Behaviour:

[2022-10-05 04:51] Mihai-QuickSilverDev commented on #13183
Removed the hold and assigned it to the current sprint - pending answer from Argus.

[2022-10-05 15:12] #13661 closed

[2022-10-05 15:18] Mihai-QuickSilverDev opened #13810 "Auth Web: Add explanatory text for firms affiliation"
"Proprietor or Partner Name" should read "Proprietor or Partner Name (last name, first name)"
<img src="https://images.zenhubusercontent.com/62741a399202cf3570f9fd40/30a6fcee-d32f-4b5a-9dd9-37a2815b6f3c" width=400/>

Team solution: Add the same example in the placeholder for the name field. See below.
<img src="https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/9c9df860-58fd-452a-92ed-5

[2022-10-05 15:38] doug-lovett commented on #13708
Testing can be done either once the UI is consuming the endpoints or via the api with postman. An updated collection is attached: rename file .txt to .json.[https://app.zenhub.com/files/157936592/b3dcb2af-8839-49e2-a7a3-7ecdbf9b20fe/download](https://app.zenhub.com/files/157936592/b3dcb2af-8839-49e2-a7a3-7ecdbf9b20fe/download)

[2022-10-05 15:40] JohnamLane commented on #10673
@janisrogers A couple of notes can be added to detract from BCeID.

1. BCeID users must use a 3rd party 2FA app (which accounts for the majority of our ops)
2. BCeID accounts have an 8 day delay to have their affidavit reviewed
3. BCeID can have their username/pw expire, BCSC doesn't require username/pw

[2022-10-05 15:41] #13802 closed

[2022-10-05 15:41] sarahelz19 commented on #13359
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/765bd846-24d4-423b-8e08-09c5c6180436)

[2022-10-05 15:42] #13666 closed

[2022-10-05 15:43] #13659 closed, assigned to nobody

[2022-10-05 15:45] severinbeauvais opened #13811 "Entity UIs: startup errors are caught but not logged"
As part of the UI (app) startup, a config file is loaded. The async function that does this can throw an error (aka return a rejected promise). The app startup code (main.ts) catches this error but does not see the error message, so an empty message is displayed in the dev console.

The thrown error message should be displayed, to inform a user/tester/dev why the error occurred.

This bug is not a

[2022-10-05 15:56] jdyck-fw commented on #13586
@thorwolpert - Pulling this out of the sprint for now, as we're not sure what is next. Please pull it in if you see fit.

[2022-10-05 15:59] jdyck-fw commented on #13587
@thorwolpert - We've pulled this out of the sprint for now, please correct if it's something you will complete this sprint.

[2022-10-05 15:59] JohnamLane opened #13812 "Design task - Finance reconciliation and refund dashboard"
This is the design ticket for #13722

Implementation for this new feature is slated to begin in Sprint 5 (Nov30 - Dec13)

Planning/requirements/design to begin well ahead of that, ideally after SP/GP go live.

### Draft brainstorming:
https://miro.com/app/board/uXjVPciLFqs=/

### Spreadsheet - permissions/features matrix
https://docs.google.com/spreadsheets/d/14X1js6i8TSJDS3dgHcsWvaheXSXHz7Vm/edit

[2022-10-05 16:09] jdyck-fw commented on #13195
Please consider this linked ticket for more detail, as I'm closing it as a duplicate - https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/12879

[2022-10-05 16:32] yuisotozaki opened #13813 "Page Not Found when attempting to change business contact information from entity dashboard header"
Environment: dev - Wed Oct 5, 2022
Business: Active Sole Prop (FM1011124)
Browser: Chrome 106.0.5249.61
Steps to reproduce:
1. Log in as a non-staff user BCREG2014
2. Goto entity dashboard for FM1011124
3. Hover over the email address at the top right of the head and press Change (Figure 1)
4. Observe that the old business profile page loads for a split second (Figure 2)
5. Observe Page Not Found

[2022-10-05 16:41] RFK250 opened #13814 "UI - Ability to show/hide deleted owners"

[2022-10-05 16:41] severinbeauvais commented on #13810
This is in Auth Web code (where a new affiliation is added).

[2022-10-05 16:48] jdyck-fw commented on #13813
Sev just checked this and it works on a second attempt.

[2022-10-05 16:48] #13671 closed

[2022-10-05 16:55] JohnamLane opened #13815 "Sprint 15.1 Objectives"
**Partner releases?**
- Sites may propose a date during the sprint, but I have let OCM know that we are not available for bulk invites or other last minute issues.
- IDIM non-BC BCSC beta goes live Oct 17th.

**Large meetings or planning sessions?**
- Full team PI planning Oct. 18th - devs can likely skip

**Vacations and holidays**
- Ritvick away until Oct 13
- Thanksgiving Oct 10
- Lekshmi Oct 1

[2022-10-05 16:56] jdyck-fw commented on #13766
This one needs UI Design before being dev ready.

[2022-10-05 17:01] jdyck-fw opened #13816 "Full team regression testing day - Complete this on Tuesday the 12th"
Please find the testing file located here:
https://docs.google.com/spreadsheets/d/1B8i2lv8zJDv9Ms6Z_nVkKYfG02F0XFIt/edit#gid=1434729414

Suggested test scenarios:
1. Register a SP
2. Register a SP DBA
3. Register a GP
4. Start registration from the Name Request application
5. Affiliate/link an account to a firm
6. Remove a firm from an account
7. Change a firm record
8. Correct a firm record
9. Fi

[2022-10-05 17:14] RFK250 opened #13817 "API - Declared value, consideration, leased and date of execution values"
## Tasks

- [x] Update MHR API spec, transfer schema to add the following transfer detail data elements: declared value, consideration, transfer date, and own land flag.
- [x] Add data elements and unit tests to the API transfer registration definition.

[2022-10-05 17:14] RFK250 opened #13818 "UI - Transfer details component"
GIVEN I have made a change to the owners
THEN I see the transfer component fields
AND I can enter values
AND Those values are saved to UI state
AND They are added to the filing payload

GIVEN I enter a declared value
THEN That value pre-populates the Consideration field
UNLESS I have already entered a value in the Consideration field

Design Ticket - https://app.zenhub.com/workspaces/design-team-s

[2022-10-05 17:14] RFK250 opened #13819 "UI - Reset owners table button (simple undo button)"

[2022-10-05 17:20] severinbeauvais commented on #13565
There may be crossed-up logic in the Todo List: we started with "not in compliance" and now we're using this for "missing information". @Mihai-QuickSilverDev @argush3 @yuisotozaki  Are these the same thing? And only for a firm atm? Or do we need to separate what is displayed for each of these conditions?

If "not in compliance" is now "missing information" then I agree with Argus' proposed solutio

[2022-10-05 17:32] JohnamLane commented on #10673
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/10673?planning-poker) with Zenhub @thorwolpert @seeker25 @lekshmimallika-aot @MatthewCai2002 @Ashna-FreshWorks

[2022-10-05 17:49] fareenr commented on #12152
5-Oct - sent email to Kevin B to confirm final wording of MHR Search pilot legal disclaimer that all pilot users must agree to.

[2022-10-05 17:53] RFK250 opened #13820 "UI - Support the owner groups and combinations in a transfer filing (add new owner groups)"
## AC
GIVEN I'm a qualified supplier
WHEN I want to add new owner groups
THEN The group IDs are incremental

[2022-10-05 17:54] RFK250 opened #13821 "UI - Remove owners groups"

[2022-10-05 18:04] RFK250 commented on #13821
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13821?planning-poker) with Zenhub @ChasBoucher @cameron-freshworks @dimak1 @doug-lovett @chdivyareddy

[2022-10-05 18:09] daniwilliamson commented on #12937
MUNI (Karen Lynch) requested additional information on the impacts of the modernization to local government. Message coordianted with Dwayne concerning: stopped messaging from OneStop, comms to date/steps we’ve taken to minimize those impacts, and some options available to them e.g. APIs

[2022-10-05 18:13] RFK250 commented on #13820
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13820?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @dimak1 @doug-lovett

[2022-10-05 18:18] lekshmimallika-aot commented on #13571
There is a postman test that can be used to test this

[2022-10-05 18:18] argush3 commented on #13775
@Mihai-QuickSilverDev @severinbeauvais I loaded this firm just now and did a correction on the business address.  Didn't run into any problems.  I've reloaded a firm again just so we can start from a clean slate.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/ca7963c2-31eb-4f0f-bc0c-bdbcf7a7e72f)

[2022-10-05 18:23] JohnamLane opened #13822 "Staff/SBC able to edit completing party in SP/GP alteration filing and SP/GP dissolution"

[2022-10-05 18:34] RFK250 opened #13823 "UI - Review and confirm screen (submitting party)"
## AC
GIVEN I'm reviewing my transfer
WHEN I scroll down to the submitting party section
THEN I can see the submitting party information

[2022-10-05 18:34] RFK250 opened #13824 "API - Review and confirm screen elements"

[2022-10-05 18:41] RFK250 commented on #13818
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13818?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @dimak1 @doug-lovett

[2022-10-05 18:44] RFK250 commented on #13817
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13817?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @dimak1 @doug-lovett

[2022-10-05 18:49] RFK250 commented on #13735
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13735?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @dimak1 @doug-lovett

[2022-10-05 18:53] RFK250 commented on #13707
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13707?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @dimak1 @doug-lovett

[2022-10-05 18:54] seeker25 opened #13825 "BCREGISTRY Dashboard - Seems to throw error when product link doesn't exist"
Lekshmi, Kial, Severin saw this issue on DEV

UI Spins:
![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/e1eaa518-fc84-4665-9b6f-712306079f16)

Error Code:
[code]

Issue in code:

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/09d5a2aa-a565-4cea-b04b-5e7eedd40b5a)

[2022-10-05 18:55] RFK250 opened #13826 "Handle login timeouts"

[2022-10-05 19:00] RFK250 commented on #13749
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13749?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @dimak1 @doug-lovett

[2022-10-05 19:00] seeker25 commented on #13825
It's breaking on
            case O.a.BCA:
                return {
                    image: "img/BCA_dashboard_thumbnail_image.jpg",
                    link: Object(H.a)(null == t ? void 0 : t.bcaURL) || "link_not_configured",
                    text: "Search for real property information including assessment, ownership, location and residential inventory details.",
                    title:

[2022-10-05 19:08] RFK250 commented on #13746
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13746?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @dimak1 @doug-lovett

[2022-10-05 19:10] RFK250 commented on #13353
Duplicate

[2022-10-05 19:10] #13353 closed

[2022-10-05 19:12] severinbeauvais commented on #13813
This is really intermittent. In fact, right now I haven't been able to reproduce it in 5+ cycles (login, login, go to bus, etc).

I'm thinking this has to do with a race condition in Auth Web when the Edit Business Profile page is being loaded.

I'll try some more. Yui, if you can reproduce reliably, please let me know what you're doing.

[2022-10-05 19:18] droberts27 commented on #13803
@argush3 @Mihai-QuickSilverDev  FM0463071 also failing.  The registration has no completing party or business description

[2022-10-05 19:24] RFK250 commented on #13679
Closing as duplicate

[2022-10-05 19:24] #13679 closed

[2022-10-05 19:25] severinbeauvais commented on #13813
At the moment, I cannot reproduce this (with either FM1011124 or FM1001873 under this account).

[2022-10-05 19:25] RFK250 commented on #13676
Closing as duplicate

[2022-10-05 19:25] #13676 closed

[2022-10-05 19:25] RFK250 commented on #13684
Closing as duplicate

[2022-10-05 19:25] #13684 closed

[2022-10-05 19:25] RFK250 commented on #13685
Closing as duplicate

[2022-10-05 19:25] #13685 closed

[2022-10-05 19:48] severinbeauvais commented on #12751
@yuisotozaki Should the card text be "... proves which businesses you're..." (more than 1 business)?

[2022-10-05 19:51] seeker25 commented on #13822
If completing party exists, probably not a 5
If completing party doesn't exist, probably a 5

I think it does exist..

[2022-10-05 19:58] daniwilliamson opened #13827 "Mags to combine this list with existing list"

[2022-10-05 19:59] severinbeauvais commented on #12751
@yuisotozaki While I'm here, should I make the link

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/4bff2d62-19be-46f4-982d-987ddcccb74a)

match the section title?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/dd57ffd2-f62d-48ec-af38-020ca592537b)

[2022-10-05 20:17] eve-git commented on #13563
@JohnamLane Can you please ask for a developer to look into it? Thanks!

[2022-10-05 20:21] severinbeauvais commented on #13241
#### FM0278254

Statement of Dissolution:
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/d1aeb1e4-9b65-427f-a57f-22bd596e8e13)

Dashboard:
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/97c91856-ec2f-4020-876f-b098e69fffc8)

[2022-10-05 20:44] severinbeauvais commented on #13241
@argush3 I see the following in the state filing (the filing that made this business historical):

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/b439007f-e019-4dfe-bb44-17aae25b831b)

Should this filing's effective date be "2009-05-27T07:00:00+00:00" (same as dissolution.dissolutionDate)?

[2022-10-05 20:45] chdivyareddy commented on #13708
Verified with all the endpoints in the postman:

draftNumber: 100173 for mhr number - 150142

[code]

[2022-10-05 20:46] bolyachevets commented on #13752
Decided to use https://github.com/upptime/upptime - an open source GitHub based monitoring solution.

Created a simple demo: https://bolyachevets.github.io/upptime/

Upptime automatically opens/closes GitHub issues when monitoring check changes status.

Out of the box Upptime uses cron jobs to schedule GitHub actions for monitoring. Cron job scheduling in GitHub is unreliable. To achieve one ping

[2022-10-05 20:54] bolyachevets opened #13828 "Figure out how to customize Upptime Dashboard"
The sample dashboard https://github.com/bolyachevets/upptime was created by following the steps described in https://upptime.js.org/docs/get-started

Out of the box workflows for the dashboard rely on source code from repos in upptime domain (e.g. upptime/upptime-monitor). To customize the behavior of upptime we need to fork at least some of these repos and change behavior of triggers (see https:/

[2022-10-05 21:05] JohnamLane commented on #13563
@eve-git I will move this to our grooming pile. Are you able to comment about how many times this has happened in production? If it's happening lots, that will raise the priority.

Note that it may end up as a Name Request change if it turns out the NR is responsible for choosing the correct Invoice to pay for. e.g. the cancellation correctly triggers the deletion of that invoice, but then it's in

[2022-10-05 21:05] bolyachevets opened #13829 "Upptime Customization: Pull references to open "High Priority" tickets into monitoring dashboard"
Configuration to upptime monitor is supplied via `.upptimerc.yml` file (see https://upptime.js.org/docs/configuration) located in the root of sample dashboard repo: https://github.com/bolyachevets/upptime

We need to add new fields into monitoring configuration, e.g. owner and repo in the example below, which will be used  to check the relevant repository for the issues created during the time the

[2022-10-05 21:07] severinbeauvais commented on #13241
@argush3 Should the filing (ledger) item contain dissolution date somewhere?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/8bd55d88-176a-4a49-984b-d4a62129a401)

In this example, it should be "2021-12-31".

[2022-10-05 21:08] severinbeauvais commented on #13753
I'm waiting for a response from Yui on whether to fix a link name (or title) while I'm here.

[2022-10-05 21:11] bolyachevets opened #13830 "Upptime Customization: Allow for manual control of a service's status"
We'd like to monitor statuses of 'cron jobs' and 'queue services'.

Since these are not easily 'pingable', a temporary workaround (until a better solution is found) is to allow monitors with manually flipped statuses, so that at least we can pull relevant tickets (as described in https://github.com/bcgov/entity/issues/13829) into the same dashboard.

[2022-10-05 21:56] RFK250 opened #13831 "Sprint Goal 15.3"
Pilot qualified supplier users can:
- add the MHR product to their account,
- complete combo searches
- complete transfers with validations, and
- view outputs from the dashboard.

[2022-10-05 21:58] eve-git commented on #13563
I found the bug when testing duplicate payments. No bug reports from business so far.
I don't think it is a high priority issue.

[2022-10-05 22:08] JohnamLane commented on #13563
@eve-git Thanks for the background. I've added it to bugs for review/estimates.

[2022-10-05 22:11] severinbeauvais commented on #13810
@yuisotozaki

The tooltip text is:

Do you want the placeholder text exactly the same? Or maybe change both to "Lastname, Firstname Middlename"? Or something else?

[2022-10-05 22:15] Mihai-QuickSilverDev commented on #13775
I have also successfully completed an address correction on another firm. Closing this ticket, as the issue appears resolved now.

[2022-10-05 22:15] #13775 closed

[2022-10-05 22:19] PatrickAHeath opened #13832 "PPR - Business Debtor Name search - Search results list sorted by Name values minus spaces and punctuation"
This issue resulted from OPS ticket 1344.

When performing a Business Debtor Name search in PPR, the search results are sorted by the POSTGRES value of the Debtor Name minus spaces and punctuation, but the Debtor Name with spaces and punctuation is displayed.  Depending on the name, the list may seem to not be in alphabetical order.  (Example was WEST COAST)

![image.png](https://images.zenhubuser

[2022-10-05 22:44] #13788 closed

[2022-10-05 22:44] #13787 closed

[2022-10-05 22:45] #13786 closed

[2022-10-05 22:50] droberts27 opened #13833 "Middle name missing on the Change of Registration Application"

[2022-10-05 22:53] droberts27 commented on #13833
@argush3 @Mihai-QuickSilverDev    FM0728666

When I click on the output for October 10, 2019 on the dashboard the middle name is missing.  The middle name is displayed for the new name and was the only thing that changed.

[2022-10-05 22:54] droberts27 commented on #13833
Here is the output:
![image.png](https://images.zenhubusercontent.com/61b7935af83ead6b70d0d671/9687c9a6-ba43-46be-84ae-18cb3cef7b81)

[2022-10-05 22:55] droberts27 commented on #13833
Here is the data:
![image.png](https://images.zenhubusercontent.com/61b7935af83ead6b70d0d671/6329cf07-973e-477b-9693-d92fdd5e04c6)

[2022-10-05 22:56] yuisotozaki commented on #13810
@severinbeauvais Ah yes - the very same please. Middlename being a single word.
@sarahelz19 Do you think "Last Name, First Name Middlename" is clear for regular users? Should we use a real name?

[2022-10-05 22:58] argush3 commented on #13833
@droberts27 You are saying that it should read _(Formerly Rosenthal, Ash Reed)_ right?

[2022-10-05 23:01] yuisotozaki commented on #12751
Good catch! Let's update the section to "Account Not Required".

[2022-10-05 23:02] droberts27 commented on #13833
@argush3 correct

[2022-10-05 23:03] mstanton1 commented on #11371
@Maribeth-Wilson it doesn't appear this was completed. I've reviewed the forms currently posted on the CMS Site for PPR (https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/bc-registry-services-personal-property-registry#forms-fees) and noted that of the various Demand for Discharge forms only the recently created one has a current date. The other forms that would h

[2022-10-05 23:05] yuisotozaki commented on #13813
Verified irreproducibility in dev. Very strange.
Ready for QA for one more pass.

[2022-10-05 23:06] Mihai-QuickSilverDev commented on #13810
@yuisotozaki I think that "Last name, First Name Middlename" would work better than real names, as users would not know which is which between a first name and middle name, when using real names.

[2022-10-05 23:15] sarahelz19 commented on #13810
@yuisotozaki  - I would go with whatever is least ambiguous: Also since Middle name is optional does it have to be included in the validation?
Example#1 without middle name:  London _comma_ Sarah
Example#2 with middle name London _comma_ Sarah _comma_ Middlename

[2022-10-06 00:39] trishreimer commented on #12751
Not sure how I got tagged in this but if I did, I'm always happy to comment on it. :-) Feel free to accept or ignore this feedback.

Is the 'you' needed? I realize It's only one word but it will save a bit of space, right? :-)
Sounds funny without adding 'with' after 'you' so I'm suggesting we remove 'you' all together.

Business BCeID
Provides secure online access to services that accept Business

[2022-10-06 01:58] trishreimer commented on #13767
@MeganFedora  would you mind helping me get a list of staff that need access to create/maintain business and SEarch?

Pls. copy names in this tix.

Since this is staff, we could turn it on when it's ready (search asap) and sp/gp Oct 24.
Does that work?

Thank you.

[2022-10-06 03:25] severinbeauvais commented on #13810
@jdyck-fw This needs to be added to the next "Relationships" release, please.

[2022-10-06 03:32] severinbeauvais commented on #13767
@trishreimer I think the idea was to give some staff (IDIR) access to SP/GP in Prod _before_ Oct 24, using feature flags enabled for them only.

This ticket is not for Search feature flags -- please chat with one of those developers to arrange that.

[2022-10-06 04:46] Mihai-QuickSilverDev commented on #13810
Right now, the validation is following what was entered into the Registration Statement. If there is a middle name in the Registration Statement, then a middle name is expected here, or else the validation will fail. The format is "Last name, First Name Middlename".
In order to accommodate Example 1 or 2 above, the validation logic would require changes, done in a separate ticket.

[2022-10-06 14:07] fareenr commented on #13356
Anne-Marie was able to test CSO test env through Pat White's test id and password and confirmed they had the info they needed prior to go live at CM meeting on Sep-15.

[2022-10-06 14:11] argush3 opened #13834 "Filer & SP/GP pipeline - add dissolution date to filing meta data for dissolution filings"
The FE needs to be able to access dissolution date for dissolution filing ledger items.  Typically, filing specific data is passed back in the "data" object associated with a filing.  In most cases, The data object is populated with the contents of the .`meta_data` field in the `filings` table in most cases.

Besides updating, the filer, there is also a need to ensure dissolution filings pulled ov

[2022-10-06 14:25] argush3 commented on #13834
@davemck513 @jdyck-fw @Mihai-QuickSilverDev @severinbeauvais This needs to be groomed today.

It is pretty time sensitive as I need to make sure I get these changes into the SP/GP pipeline before I load any SP/GPs with dissolution filings.  Luckily I haven't loaded many firms with dissolutions filings so I can easily reload the handful of firms that have been loaded into Prod with a dissolution fi

[2022-10-06 14:50] #13355 closed

[2022-10-06 15:14] bolyachevets commented on #13828
Sample upptime dashboard out of the box is configured to pull GitHub Action templates from upptime/uptime-monitor.
In order to modify these templates we need to modify /src/helpers/workflows.ts in bolyachevets/uptime-monitor:
https://github.com/bolyachevets/uptime-monitor/compare/9a0e0b69a41e15770c2aeb0c1e244742d368d260...1cf4eb89efe534b594d3f7135cd4b63602f08a05
and then modify GitHub action workf

[2022-10-06 15:28] #13708 closed

[2022-10-06 15:45] severinbeauvais commented on #13241
### Summary of Findings

1. the Statement of Resolution outputs look OK
2. the Entity Info header displays the wrong dissolution date (and shows time, which is irrelevant)
3. the Dissolution filing in the ledger displays the wrong dissolution date (and shows time, which is irrelevant)

### Todo

- [x] use correct value for dissolution date for Entity Info header
- [ ] use correct value for dissolu

[2022-10-06 15:47] PatrickAHeath commented on #11534
@tlebedovich Feedback from clients regarding having duplicate Secured Party codes - no scenarios identified.

[2022-10-06 15:48] severinbeauvais commented on #13241
### Screenshots

Fixed Entity Info header
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/c82f92b6-0a4a-45fa-9e14-af571575e04a)

_(more to come here)_

[2022-10-06 16:25] Maribeth-Wilson opened #13835 "Confirm Site Registry Go Live date"

[2022-10-06 16:27] lambert-alex commented on #13675
Options api -> Composition api
TL; DR
Lots of work, should convert each UI in one go. Code is significantly easier to read and write.

Upon looking into this further I do not think the effort to slowly convert the app is worth it. The extensive use of mixins and the difference between when the composition api is setup and the options api is setup would make using all the different components toget

[2022-10-06 16:28] riyazuddinsyed opened #13836 "Status of NR is returning empty"
**Describe the bug in current situation**
Status of NR is returning empty but on refreshing the screen  status is appearing as consumed
**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to URL'https://test.bcregistry.ca/business/auth/account/596/business?accountid=596'
2. Login in with user 'BCREG0001'
3. Scroll down 'NR 5906545'
4. Now see these status of NR as empty
5.Refresh the das

[2022-10-06 16:29] Maribeth-Wilson commented on #13835
Proposed date is Nov 8th. Will need to be confirmed by both Site Registry and Relationships

[2022-10-06 16:30] yuisotozaki commented on #13810
Verified in dev. Ready for QA.

[2022-10-06 16:52] #13737 closed

[2022-10-06 16:52] #13738 closed

[2022-10-06 16:54] RFK250 opened #13837 "Payment handling"

[2022-10-06 16:54] RFK250 opened #13838 "UI Error handling on payment / miscellaneous errors for MHR"
## Requirements
- Generic payment flow
- Custom payment flows
- misc errors

Potentially re-purpose to cover things that were done with PPR
- 10196 was for API determining the payment error being received
- 6987 covered the payment error handling design for PPR

PPR Errors for Reference: https://docs.google.com/document/d/17C6DTDnkDJ4bgYsDS2pb1KiBZN_MaxEBMGBgb7bo8eI/edit#heading=h.kp4zbafwpq05

[2022-10-06 16:56] RFK250 opened #13839 "Fee Codes for MHR Transactions"
1) Policy Review
2) Implementation in all environments

Link to spreadsheet: https://docs.google.com/spreadsheets/d/1gCKVS01eIin4Rcb95_wPYIs__ZeTuW-vz9WBTqwo-VA/edit#gid=0

[2022-10-06 16:59] RFK250 opened #13840 "Sprint Goal 15.4"
**1. As a PPR user, I want the secured party added to only show once on PPR outputs** 10

**2. As a qualified supplier, I want the ability to input and edit complex ownership scenarios in a transfer** 8

**3. MHR Search related bugs** 9

[2022-10-06 17:12] RFK250 opened #13841 "Handle lien checks"
## Currently in BCOL
From Ali:

Transfer process checks the PPR database to see if there is a lien for this MHREG# or not, If there is one, then it checks the type of the lien, If it is any of the followings, it will raise an error and transfer would not be processed:

[code]

** So the way the transaction checks for secured party is as follows:
It goes through all secured parties of that PPR docu

[2022-10-06 17:13] RFK250 opened #13842 "Handling exempt and historical homes"

[2022-10-06 17:19] RFK250 opened #13843 "Requirements for exempt and cancelled homes"
- Investigate what transactions can be completed by staff or qualified suppliers when a home is in an exempt or cancelled state. Update requirements document.

[2022-10-06 17:20] RFK250 opened #13844 "UI Design - Prevent transfer of exempt and historical homes from MHR Table"

[2022-10-06 17:23] RFK250 opened #13845 "UI Design - Handling lien checks"

[2022-10-06 17:35] MatthewCai2002 opened #13846 "AUTH - add Launch Darkly to queue_services"
Add launch darkly to queue_services in AUTH so we can control new features with feature flags.

[2022-10-06 17:35] trishreimer commented on #13767
Okay, Megan is away so I chatted with Mark. For now, please setup:

Lau, Mark CITZ:EX [Mark.Lau@gov.bc.ca](mailto:Mark.Lau@gov.bc.ca)
Balaski, Mark CITZ:EX [Mark.Balaski@gov.bc.ca](mailto:Mark.Balaski@gov.bc.ca)
Hepburn, Victoria CITZ:EX [Victoria.Hepburn@gov.bc.ca](mailto:Victoria.Hepburn@gov.bc.ca)
Espinosa, Elizabeth CITZ:EX <Elizabeth.Espinosa@gov.bc.ca>
Trish Reimer <Trish.Reimer@gov.bc.ca>
F

[2022-10-06 17:46] jdyck-fw commented on #13274
Leaving this out of the sprint for now since this seems to be a one-off. This can happen post-go-live.

[2022-10-06 17:48] RFK250 opened #13847 "UI Design - User feedback that the transfer submitted successfully"

[2022-10-06 17:49] RFK250 opened #13848 "UI - User feedback that the transfer completed successfully"
## AC
GIVEN I have completed a transfer
WHEN I return to the dashboard
THEN The MHR tab displays instead of the PPR tab
AND I receive user feedback that the transfer has completed successfully (toast)
AND My new transfer is highlighted in green according to design

[2022-10-06 17:55] jdyck-fw commented on #13773
This can wait for post-go-live.

[2022-10-06 17:59] jdyck-fw commented on #13195
@JohnamLane - We were relying on this remaining in progress with your team and being completed before the 24th launch. Any chance it may still fit?  @davemck513

[2022-10-06 18:02] jdyck-fw commented on #13776
Decision is to allow staff to change it, but leave it as mandatory.

[2022-10-06 18:07] JohnamLane commented on #13195
@jdyck-fw This is not in scope for this sprint, so it is in jeopardy in terms of being completed by us prior to go-live. It's possible that it could be done first thing next sprint (starting Oct 18th)

[2022-10-06 18:12] droberts27 commented on #13274
@jdyck-fw @argush3 @Mihai-QuickSilverDev After I found this issue I stopped looking so I'm not sure if there are more.  The 3 filings look very routine:
MEMGP Change in Membership General Partnership
FRCHG   Dissolution/Change of Partnership or Prop Reg
FRREG    Stmt of Registration of Partnership or Sole Prop

[2022-10-06 18:19] PatrickAHeath commented on #13750
Feedback from Dye and Durham, and Teranet is that they see no need to have duplicate Secured Party codes on a PPR registration.

[2022-10-06 19:45] severinbeauvais commented on #13753
@yuisotozaki Ready for UXA!

https://yfthig-dev.web.app/

[2022-10-06 20:16] argush3 opened #13849 "Unable to start conversion filing for certain firms"
![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/12e7acb2-29e2-4dc0-a99c-129319aa950a)

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/4cd8ae0f-f635-4af6-b0f6-63966ba21b7c)

[2022-10-06 20:30] severinbeauvais commented on #13638
Correcting a conversion filing is not allowed by the schema:
https://github.com/bcgov/business-schemas/blob/8453db2457e4324449cde3d7bc66887441972045/src/registry_schemas/schemas/correction.json#L29

[2022-10-06 20:30] severinbeauvais commented on #13836
I can see the no-status NR in Test BCREG0001's business registry (it's many items down):

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/4616a58a-e2cf-417d-89b0-a2bfd8befa22)

I can open this NR and see this:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/4e97f531-adaa-451c-82d3-bb106b646eae)

I can go back to the business registry and see t

[2022-10-06 20:31] severinbeauvais commented on #13836
@riyazuddinsyed If you can reproduce the scenario that caused this no-status NR, it would be very helpful.

[2022-10-06 21:02] JohnamLane opened #13850 "IDIM Production setup account # 14355"
IDIM has created their production account.
It's 14355
Ministry of Citizens' Services - IDIM's BCeID API Prod account

Please prepare them to use our API in production:
- [ ] issue prod key
- [ ] other...

[2022-10-06 21:05] tlebedovich commented on #13735
@doug-lovett - Output Designs are complete and ready for you -- https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/13610

[2022-10-06 21:05] #13610 closed

[2022-10-06 21:32] severinbeauvais commented on #13776
Should the same fix be applied to alterations? (same problem)

[2022-10-06 21:32] severinbeauvais commented on #13776
@Mihai-QuickSilverDev Should the same fix be applied to alterations? (same problem)

[2022-10-06 21:38] bolyachevets commented on #13829
Added ‘labels’ parameter to config, such that all labels need to be present in the external issue for it to be cross-referenced as html_url from GitHub issue payload in the comments of dashboard issue. All labels need to match, e.g. ‘OPS’ and ‘High Priority’ labels. There is also parameter for repository where to look for relevant tickets.
The files changed can be examined here:
https://github.com

[2022-10-06 21:39] janisrogers commented on #11327
Ashna will try to reproduce in UI

[2022-10-06 21:39] #13752 closed

[2022-10-06 21:40] janisrogers commented on #13223
Ashna will try to reproduce. This may have been fixed.

[2022-10-06 21:42] janisrogers commented on #6937
Not sure this is a bug. Will close and can reopen if problem recurs

[2022-10-06 21:42] #6937 closed

[2022-10-06 21:42] severinbeauvais commented on #13776
Both tickets need to be tested.

I suggest we leave both ticket open, with Lewis as assignee, and he can use a single PR for both.

This will let us keep the requirements separately testable, and keep the points :)

[2022-10-06 21:46] JohnamLane commented on #13822
Current list of filings that need the completing party to be editable:
**SBC Gov agents**
SP/GP reg, $40
SP/GP change, no fee
SP/GP dissolution, no fee
SP/GP correction, no fee

**BC Registries staff (IDIR)**
SP/GP reg
SP/GP change
SP/GP dissolution
SP/GP correction

All of the above can have a $100 priority filing added.

[2022-10-06 21:51] janisrogers commented on #13223
Status dropdown also has the same bug. List also needs cleaning up. @JohnamLane can we have a design ticket for this?

[2022-10-06 21:53] janisrogers commented on #12006
@severinbeauvais Is this still an issue?

[2022-10-06 21:56] janisrogers commented on #12373
@forgeuxGH5 Are we still using the 'default' folio number?

[2022-10-06 21:59] janisrogers commented on #4737
@Ashna-FreshWorks  - can you verify that this is resolved.

[2022-10-06 22:00] janisrogers commented on #6144
Ashna has verified that this is resolved.

[2022-10-06 22:00] #6144 closed

[2022-10-06 22:04] severinbeauvais commented on #12006
As far as I know, this bug was never fixed.

I'm thinking there should be a different error message if the name request is already affiliated with a different account.

[2022-10-06 22:05] janisrogers commented on #12006
@severinbeauvais Didn't you fix this when we were working on the 'register now' button? Or is this different?

[2022-10-06 22:08] vysakh-menon-aot commented on #12965
Verified: Existing logic will work for all type of dissolution.

[2022-10-06 22:56] seeker25 commented on #13662
We're creating the ORG by hand, and then associating to them.

https://github.com/bcgov-registries/ops-support/issues/1488

[2022-10-06 23:05] tlebedovich commented on #13109
@cameron-freshworks - are the UX updates above in dev? I don't see them.

[2022-10-06 23:07] Mihai-QuickSilverDev commented on #13776
@argush3 Hi Argus, regarding this comment, I just had a meeting with the Business and the business contact details are not part of the Conversion filing on purpose. Usually the conversion is based on a decades long piece of paper that would not contain either an email or phone number. - "The second thing that needs to be fixed is that the user should not be able to even file a correction for a fir

[2022-10-06 23:14] tlebedovich commented on #13726
@dimak1 - looks great to me, moving to RFQA

[2022-10-06 23:33] #13360 closed

[2022-10-06 23:33] #13361 closed

[2022-10-06 23:33] #13352 closed

[2022-10-07 00:19] magszymanski commented on #10673
@janisrogers I added comments to the wireframe.
as we chatted, I strongly feel that we need to add that BCeID requires the use of a 2FA since that is one of the biggest hangups users experience when creating an account through this flow. You have left a comment (I can't see it in my guest view), so didn't add any more thoughts onto the wireframe.
Let's chat about this next week - once we make chan

[2022-10-07 13:47] fareenr commented on #13835
6-Oct - meeting with Environment/ Site Registry project team. They are not ready to commit to a date and may want an earlier release as BCOL Site Reg is still down and focus is on fixing the issues found in UAT of ESRA.  Once ready for Prod, release will be deployed within 1 week.

[2022-10-07 16:00] forgeuxGH5 commented on #12373
As far as I know we should be. We haven't designed anything for a business associated with multiple accounts if that's what you're wondering...

[2022-10-07 16:32] doug-lovett commented on #13797
@RFK250 could you please ask this user to go into test and run a search or something in PPR? The id wkbpike@bceid has not yet been added to keycloak in test. Once the id is added I will give her the qualified user role.

[2022-10-07 16:35] RFK250 commented on #11639
On hold until there is a use case for MHR only

[2022-10-07 16:35] cameron-freshworks commented on #13109
@tlebedovich The above ux changes are in dev(or soonish), that came in with another commit. Thanks!

[2022-10-07 16:36] RFK250 commented on #12487
@tlebedovich Can you please confirm if this ticket is still needed? cc @doug-lovett

[2022-10-07 16:37] doug-lovett commented on #13791
In DEV via the API I added mhr number 082086 to the staff account with no issue. This must be PPR UI - PPR API communication specific.

[2022-10-07 16:44] severinbeauvais opened #13851 "Entities: Sprint 15.1a Release"
- [x] Add release # to this ticket
- [x] Identify Release Report: [Entities Sprint 15.1a Release](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/reports/release?release=Z2lkOi8vcmFwdG9yL1JlbGVhc2UvODM3NTU)
- [x] Update version numbers in the code being released and list them here:
   - Filings UI - 5.7.11
   - Business Create UI - 4.3.3
   - Business Edit UI - 3.8.9

[2022-10-07 16:58] gprimeau commented on #11371
@Maribeth-Wilson @mstanton1 I will take a look into this , as I don't remember ever moving forward or receiving the feedback about it. Can you add my name to this ticket and see what happened

[2022-10-07 16:59] doug-lovett commented on #13791
After submitting requests from the UI in DEV and monitoring the gateway and application logs, the GET request is correct but the POST URL is incorrect.
Info
2022-10-07 09:50:47.478 PDTGET2001.11 KB52 msChrome 105 https://mhr-api-p56lvhvsqa-nn.a.run.app/api/v1/other-registrations/082086
Warning
2022-10-07 09:50:51.203 PDTPOST404833 B2 msChrome 105 https://mhr-api-p56lvhvsqa-nn.a.run.app/api/v1/othe

[2022-10-07 17:05] PatrickAHeath commented on #12587
@RFK250 Confirmed in PROD that the check boxes function as expected in both initial search result selection and review.  Lien checkboxes cannot be selected if the Registration checkbox hasn't been checked.  If the registration checkbox is deselected, the lien checkbox deselects and is disabled.

[2022-10-07 17:22] RFK250 commented on #12587
Alright, am going to close this ticket as done then. Thanks @PatrickAHeath ! :)

[2022-10-07 17:22] #12587 closed

[2022-10-07 17:35] Mihai-QuickSilverDev opened #13852 "Production SP/GP Data Validation"
To Do List:

- [ ] Create SQL scripts to assess data integrity

- Count all firms missing business contact info - email mandatory.
- Count all firms missing mandatory proprietor/partners - SP's without a proprietor, GP's without two partners.

[2022-10-07 17:40] severinbeauvais opened #13853 "Vue3 upgrade: vue-debounce-decorator"
Investigate/identify:
- whether we can use this library in Vue3
- what is missing to be able to use it (or when it will be available)
- alternate packages (or whether we can change our code as needed)
- what if we stop using this package altogether?

[2022-10-07 17:45] severinbeauvais commented on #13853
We might be able to use the Lodash debounce function, like this:
[code]

[2022-10-07 18:00] Mihai-QuickSilverDev commented on #13701
Dave will follow-up with David R.

[2022-10-07 18:00] Mihai-QuickSilverDev commented on #13700
Add more details from the supporting processes area.

[2022-10-07 18:02] Mihai-QuickSilverDev commented on #13698
Worked on by David R. and Stephen C.

[2022-10-07 18:10] bolyachevets commented on #13830
Added an issue template for "manual service status switch" (for the template to work an issue label needs to be created and applied to the template manually equal to the "slugified" service name, i.e. all lower case with spaces replaced by hyphens ): https://github.com/bolyachevets/upptime/blob/master/.github/ISSUE_TEMPLATE/service_status_switch.md
Added an optional config parameter to enable manu

[2022-10-07 18:17] #13796 closed

[2022-10-07 18:36] chdivyareddy opened #13854 "SBC Staff - Update Fee Codes"
## AC
GIVEN I am performing a search in the SBC staff account (DEV: BRTEST5, TEST: BRTEST4)
WHEN I complete the search (MHR & combined search)
AND navigate to the transactions history
THEN the fee should be displayed correctly

**Current Behavior:** DEV & TEST (MHR Combined search)
Update fee code to CSRCS

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/dec94925-64c3-4f

[2022-10-07 18:37] trishreimer commented on #12728
pls work on this after all other web changes are completed for go live.

this is Important but not critical for day 1.

[2022-10-07 18:39] bolyachevets opened #13855 "Move monitoring dashboard POC to bcgov owner in GitHub"

[2022-10-07 18:40] bolyachevets opened #13856 "Add BC Registries Services to the dashboard"

[2022-10-07 19:02] severinbeauvais commented on #13565
Blocked on UI design (Not In Compliance banner + Conversion task display).

cc @yuisotozaki

[2022-10-07 19:39] #13801 closed

[2022-10-07 19:40] severinbeauvais commented on #13772
Item 1 is a known font issue.

Item 2 can be worked on.

[2022-10-07 19:40] seeker25 commented on #13846
Should we estimate this?

[2022-10-07 20:15] sarahelz19 commented on #13621
All complete

[2022-10-07 20:15] #13621 closed

[2022-10-07 20:16] #12374 closed

[2022-10-07 20:29] chdivyareddy commented on #13726
@dimak1
From the above scenarios:

**Functional Bug 1:**

- [ ] If user adds a group with owner(s) and then removes all the owners from the group, the error message should say "Group must contain at least one owner" in red:

![Screen Shot 2022-09-26 at 2.52.44 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/839a9fde-b2af-4af5-b668-aec0520d86f5)

[2022-10-07 20:34] ChasBoucher commented on #13634
Bug is in API. Doug is going to fix and release in next api merge to dev.

[2022-10-07 20:37] severinbeauvais commented on #13767
Targeting is now enabled for the Business Create (Production) flag, Supported Filings, as follows:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/9b8fd5bd-0610-4392-8c15-d98738003042)

[2022-10-07 20:42] severinbeauvais commented on #13767
@trishreimer This LaunchDarkly (feature flag) configuration has now been done. Is there any way you can test this (in Prod with a SP/GP)?

[2022-10-07 20:45] trishreimer commented on #13767
yes, we just need some sp/gp's that are in database. We're meeting at 2pm today to discuss testing. Let's chat then...

[2022-10-07 20:52] severinbeauvais commented on #13767
Actually, it looks like the SBC Auth (Auth Web) targeting won't work because it doesn't report the user's name/email/etc when it fetches the feature flags -- all users appear as "anonymous".

To fix this requires a code change to SBC Auth (and the build push to Dev/Test/Prod).

However, it may be possible for staff (IDIR) to click the "Register This Business" button in Namerequest UI and go straig

[2022-10-07 20:56] trishreimer commented on #13767
okay..let's discuss in a few mins.
I noticed when I'm logged in w/Idir that when I click 'manage business' nothing happens. Is this related to the auth fix that is needed?

[2022-10-07 20:59] pwei1018 commented on #13429
Existing email:
![image](https://user-images.githubusercontent.com/44277752/194651488-dd7cda12-65dd-4573-9541-ac26f723f87b.png)

After convertion:
![image](https://user-images.githubusercontent.com/44277752/194651420-cbb191fc-b606-4f80-b4a6-976d97512f1f.png)

[2022-10-07 21:03] stevenc987 commented on #12806
Need to add following receivers after Nov 2's run
jeff.dean@gov.bc.ca, Ryann.Monkman@gov.bc.ca,

[2022-10-07 21:06] RFK250 opened #13857 "Duplicate serial number checking"
As a manufacturer, I want to be warned if I'm entering a serial number that's already in use so that I don't accidentally put in the wrong one and have to correct later

As staff, I want to be able to validate serial numbers against existing ones (e.g. when I'm making a correction) so that I can assure the integrity of the registry

[2022-10-07 21:13] severinbeauvais commented on #13767
Targeting is now enabled for the Namerequest (Prod) flag "Enable SP/GP/DBA Registrations" as follows:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/4e377906-fb6b-45d2-b4be-c463c32596ff)

[2022-10-07 21:20] severinbeauvais commented on #13767
Trish, please test this (logged in with your IDIR):
1. go to Namerequest UI
2. open a SP/GP NR (that is approved and isn't consumed/expired)
3. you should see the "Register Your Business" button
4. once Relationships team finishes their "orgs for idirs" feature, click on this button
5. you should see the entity dashboard for the draft SP/GP
6. click on Incorporate button
7. the registration should

[2022-10-07 21:33] severinbeauvais commented on #13767
This is a different issue. This has never worked because IDIR users don't have an account/org to use for displaying My Business Registry. I think Relationships team is working on that in this sprint.

[2022-10-07 21:33] JohnamLane commented on #13630
Thank you Thor. Closing.

[2022-10-07 21:33] #13630 closed

[2022-10-07 21:37] JohnamLane opened #13858 "Business Search - recent purchases missing username"
Discovered in Test using Premium account #1899, BCeID

Steps to reproduce:
1. Visit search with a premium account (BCeID auth)
2. pay for a search
3. Return to the Recently Purchased Documents tab
4. User Name column missing info

Acceptance Criteria:
Show first and last name for each auth type:
- BCeID Premium
- BCeID GOVN
- BCSC Premium
- BCSC GOVN
- Ministry
- Registries staff

![image.png](htt

[2022-10-07 22:18] lambert-alex commented on #13853
Vue 3 implementation in search ui https://github.com/bcgov/registries-search/blob/682a061a6f57fdf5f1c17da83ad5769bdd359e58/search-ui/src/composables/suggest-factory.ts#L2

![Screenshot 2022-10-07 151610.png](https://images.zenhubusercontent.com/62717af8eca90b5099d264a7/02569738-e8a7-4171-bb50-b0d68f30c2c1)

[2022-10-07 22:34] seeker25 commented on #13767
[code]
I'm working on a fix for this, this sprint:
https://github.com/bcgov/sbc-auth/pull/2104
https://github.com/bcgov/sbc-common-components/pull/310

Those two PR's + an association row in `membership` for an IDIR staff account.. should allow the workflow from "Register This Business"

[2022-10-07 22:44] ozamani9gh commented on #13619
@pwei1018 in NAMEX API i see the following files:

is this what you want me to optimize.   The logic is it passes an nr to this file:

/namex/api/namex/resources/name_requests/report_resource.py.

The Names Reports are built using parameters and html parts listed in image below:
![image.png](https://images.zenhubusercontent.com/62606d9e769b6103917adb08/02d3e568-3a98-460c-9013-bb28746e92d3)

[2022-10-07 22:59] thorwolpert commented on #13586
This is completed.

[2022-10-07 22:59] #13586 closed

[2022-10-07 23:37] trishreimer commented on #13767
I don't have access to namex (or any databases) so would someone mind sending me some data? sorry...

feel free to email if you don't want to put it in the tix. trish.reimer@gov.bc.ca

[2022-10-08 00:17] bolyachevets commented on #13855
Patrick created a repo in bcgov-registries for uptime-monitor source code: https://github.com/bcgov-registries/uptime-monitor
I cloned the code into the repo and applied my squashed customization in https://github.com/bcgov-registries/uptime-monitor/commit/b7111052abb0c71dc446aceb2fb1b0df4cb8d2f0

I will need Patrick to create a repo for upptime dashboard as well, as I don't want to pollute ops-su

[2022-10-08 00:41] trishreimer commented on #13357
send a more generic blurb to idim to cover all the products and releases (except mhr)

[2022-10-09 05:05] pwei1018 commented on #13855
@thorwolpert

[2022-10-10 19:56] doug-lovett commented on #13161
Search example:[https://app.zenhub.com/files/157936592/04820a48-46bd-4d64-a9e0-660e475971b7/download](https://app.zenhub.com/files/157936592/04820a48-46bd-4d64-a9e0-660e475971b7/download)

[2022-10-10 19:56] doug-lovett commented on #13161
Large search format example:[https://app.zenhub.com/files/157936592/7eaf83a6-baf7-493d-9296-9d25d05213df/download](https://app.zenhub.com/files/157936592/7eaf83a6-baf7-493d-9296-9d25d05213df/download)

[2022-10-10 19:57] doug-lovett commented on #13161
Mail amendment and discharge verification examples:[https://app.zenhub.com/files/157936592/298c7d47-faf1-4e79-b5c2-218fd35ba3f6/download](https://app.zenhub.com/files/157936592/298c7d47-faf1-4e79-b5c2-218fd35ba3f6/download)
[https://app.zenhub.com/files/157936592/8bdfb6bc-33f9-4bc4-bca6-ef6442740db8/download](https://app.zenhub.com/files/157936592/8bdfb6bc-33f9-4bc4-bca6-ef6442740db8/download)

[2022-10-10 20:01] doug-lovett commented on #13161
Verification amendment example:
[https://app.zenhub.com/files/157936592/351bfd8f-df89-4395-8cd3-2c4ed0038921/download](https://app.zenhub.com/files/157936592/351bfd8f-df89-4395-8cd3-2c4ed0038921/download)

[2022-10-11 14:13] MeganFedora commented on #13767
@trishreimer all business staff should have access to search. Do you need a list?

[2022-10-11 14:36] fareenr commented on #13794
Drafted new re-release of Site Registry, if Oct 19th date is confirmed by Env this week.  Need confirmation from Env, then send internal heads up first.

https://docs.google.com/document/d/1SP9wM12nPHn2qwbUhERwR-Hn5Zi-coHi/edit?usp=sharing&ouid=108001163913555862413&rtpof=true&sd=true

[2022-10-11 15:37] kialj876 commented on #13572
**NOTE:** modernized (BEN, CP, SP, GP) businesses only
for testing:
- ensure changing a modernized (BEN, CP, SP, GP) business's name/status via lear filing is reflected in the search (within seconds)
- ensure new businesses are reflected in the search (within seconds)
- ensure partner/proprietor changes via lear filings are reflected in the search (within seconds)
  - changes to partner/proprietor

[2022-10-11 15:37] argush3 commented on #13816
firms loaded in DEV --> [https://app.zenhub.com/files/157936592/41ad80b4-bb2b-492a-86e4-c0a80e8e5ae0/download](https://app.zenhub.com/files/157936592/41ad80b4-bb2b-492a-86e4-c0a80e8e5ae0/download)

[2022-10-11 16:16] jdyck-fw opened #13859 "Sprint 15.1 Objectives"
1. As a developer, I want to use Vue 2.7 so that it's an easier upgrade path to Vue 3
2. As a user, I want to be able to web chat to get help with filing SP GPs
3. As a developer I will be ready to activate the SP/GP functionality in production.

Demo Points:
1. Conversion To Do List

[2022-10-11 16:18] #13758 closed

[2022-10-11 16:19] #13675 closed

[2022-10-11 16:32] severinbeauvais commented on #13675
^^ See [PR 403](https://github.com/bcgov/business-filings-ui/pull/403) for sample code changes and discussions. The following reviewers were added to this PR to show what changes are needed and to solicit comments:

@severinbeauvais
@seeker25
@kialj876
@thorwolpert
@cameron-freshworks
@pwei1018

I believe @lambert-alex is creating some follow-up ticket to better prepare for and capture what will b

[2022-10-11 16:37] seeker25 commented on #13244
SBC staff already works for flow 2 (thanks Kial)
BC Reg staff with an ORG needs to be tested for flow 2
We also need the link

[2022-10-11 16:39] kialj876 commented on #13246
@janisrogers repurposing this ticket to include the business management link from the staff bcregistry dashboard (other stuff is working as expected)

Just need the design for the link

[2022-10-11 16:41] RFK250 opened #13860 "Report API - Handling large PPR documents"
## AC
TBD

## Description
The new Report API, while greatly improving performance in general, still has substandard performance when generating reports over a certain number of records. Those will still lead to timeouts, ops tickets and manual file retrievals

Options (to be decided before advancing ticket):
1. Block reports over 700 records in size + user feedback to advise users to refine their

[2022-10-11 16:55] seeker25 commented on #13269
Only changes done for BC Registries staff (giving them more permissions)

[2022-10-11 16:56] owillborn commented on #13727
@tlebedovich Definitely room in this ticket for it, I'll take a look! Good catch

[2022-10-11 17:00] RFK250 commented on #13860
@doug-lovett @tlebedovich @forgeuxGH5 Tagging you to see this ticket. I think I need to run the options by Kevin, Linda and possibly Kaine before we can advance on this ticket. @doug-lovett We should keep the original PPR report ticket moving through the pipeline.

[2022-10-11 17:07] JohnamLane commented on #13790
Kial to flip feature flag.

[2022-10-11 17:07] #13790 closed

[2022-10-11 17:20] seeker25 opened #13861 "Update SBC-Common-Components to support staff with an account (or ORG)"
- [x] business-edit-ui
- [x] business-create-ui
- [x] business-filings-ui
- [x] namerequest
- [x] sbc-auth
- [x] bcregistry

[2022-10-11 17:30] #13622 closed

[2022-10-11 17:30] severinbeauvais commented on #13861
I tagged this ticket to Entities Sprint 15.1a Release but I think we're not actually going to Prod with this release due to current end-to-end testing. (Release reports will have to be updated accordingly -- a future problem, cc @jdyck-fw .)

[2022-10-11 17:38] #13807 closed

[2022-10-11 17:53] daniwilliamson commented on #12652
@thorwolpert @lmcclung @Kaineatthelab

CRA API Gateway Testing doc is attached. **Testing proposed for November 2022 and release in February 2023.**

Scope, assumptions and timelines were discussed with CRA on October 5. @lmcclung and @thorwolpert, please confirm these dates and assumptions, let us know if there are any other considerations, and we'll provide the updated doc to CRA for their appro

[2022-10-11 18:09] #13412 closed

[2022-10-11 18:20] fareenr commented on #13343
11-Oct - updated draft Staff MH Registration training guide with fractional ownership options (just added into test).
Rough draft (screenshots only)
Staff MH Registration guide saved here: https://docs.google.com/presentation/d/1fUHh3lNswnrWOXh1S9jdQmMvrz7IZYJS/edit?usp=sharing&ouid=108001163913555862413&rtpof=true&sd=true

[2022-10-11 18:24] kialj876 commented on #13822
This has been deployed into TEST

[2022-10-11 18:26] seeker25 commented on #13245
Hmm there might be changes for this regarding invitations.. I cheated a bit and just added a row in the `membership` table

[2022-10-11 18:28] tlebedovich commented on #13109
@cameron-freshworks - I will move this along to RFQA, but since you added the Remove from table button, I noticed a text edit we need to make for the remove modal MHR table. Can you squeeze this change in?

 ![Screen Shot 2022-10-11 at 11.23.51 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/2d4bcd53-6720-4ac7-aed7-e4a38a7603a2)

[2022-10-11 18:29] cameron-freshworks commented on #13109
@tlebedovich
Thanks!
You bet, will work into current ticket 👍

[2022-10-11 18:31] kialj876 commented on #13556
deploying to TEST now...

[2022-10-11 18:45] tlebedovich commented on #13782
@cameron-freshworks - does this ticket also include fetching the appropriate Home Tenancy Type (All ownership types) and the Total Ownership Alloted information (TIC only):

![Screen Shot 2022-10-11 at 11.44.05 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/62839e67-add2-4e2e-a797-fe9c5a13ef2d)

[2022-10-11 18:56] janisrogers commented on #13556
@kialj876 Why do some show with the BC prefix and some don't?
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/14f8ab42-176c-4ddb-845d-151a8490ec66)

[2022-10-11 19:00] seeker25 commented on #13245
[code]

[2022-10-11 19:09] janisrogers commented on #13501
This looks okay to me. Ready for QA

[2022-10-11 19:12] janisrogers commented on #13556
@kialj876  it seems to be repeating each business with and without the prefix:
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/cab70218-e374-4bb8-8d1b-bb7eed2b1429)

[2022-10-11 19:36] RFK250 commented on #13213
@doug-lovett Is this ticket still needed? I believe that you tackled this when you did the proof of concept for URLs in TOC, correct?

[2022-10-11 19:42] RFK250 commented on #13805
@chdivyareddy I can confirm this is done in Dev already, so it's just a matter of it getting promoted. Closing this issue, thanks for raising it all the same.

[2022-10-11 19:42] #13805 closed

[2022-10-11 19:42] seeker25 commented on #13269
There's still the business case where a user has already created an NR and wants to hand it over to SBC_STAFF or STAFF.

Right now they're affiliated in the draft state and SBC

[2022-10-11 19:50] cameron-freshworks commented on #13782
It's sort of part of my current work, handling/displaying Group functionality.
This Tenancy type ties into that.

[2022-10-11 20:08] forgeuxGH5 commented on #13860
@doug-lovett just to clarify - would option 3 above mean the report would look and work just like the current report from the user's perspective (same colours, watermark, page numbers, links, etc.)? That option is more about how the report is put together. I just want to understand if that option would or wouldn't mean there would be a table of contents with different page numbering for each of th

[2022-10-11 20:24] fareenr commented on #13395
As of Oct-11 release planning meeting, MHR external pilot start date has been pushed back to Nov 15 2022

[2022-10-11 20:25] doug-lovett commented on #13213
@RFK250 this ticket can be closed. You are right, it is working now.

[2022-10-11 20:25] #13357 closed

[2022-10-11 20:27] RFK250 commented on #13213
Thanks Doug! Closing as duplicate.

[2022-10-11 20:27] #13213 closed

[2022-10-11 20:35] chdivyareddy commented on #13109
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/cd42d987-f696-4bf6-9fc2-dd44fdc70776)

![Screenshot (84).png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/043bf362-9cff-40b3-8d0d-0c5679067854)

@cameron-freshworks , please let me know once the 'Remove From Table' modal text is updated, I'll verify it in DEV, thanks:)

[2022-10-11 20:45] doug-lovett commented on #13860
@forgeuxGH5 yes, option 3 could be multiple sub-reports concatenated together in the same format as the current search reports. Each sub-report would have working TOC links and page numbers for that particular sub-report. I think we could also add a summary page specifying the number of sub reports and the number of registrations and pages within each sub-report.
The sub-report size would be 400-5

[2022-10-11 20:46] cameron-freshworks commented on #13109
@chdivyareddy Sounds good, although this will be done in ticket: 13703 👍

[2022-10-11 20:55] kialj876 commented on #13556
ahhh it needs a full reindex

[2022-10-11 20:56] chdivyareddy commented on #13109
@cameron-freshworks that sounds good, will be verified in 13703, thanks:)

[2022-10-11 21:01] RFK250 commented on #13860
@doug-lovett @forgeuxGH5 @tlebedovich FYI, I started writing out a message to Kevin and in doing so answered my own question: option 3 is the way to go b/c it results in an outcome that is closest to the outcome obtained by other clients requesting reports (including being better than an outcome that requires them to request a manual file retrieval).

[2022-10-11 21:09] forgeuxGH5 commented on #13860
@RFK250 it would be good to get Kevin's perspective though (is that still the plan?)

[2022-10-11 21:22] fareenr commented on #12848
SBC Procedures will need to be updated for MH owner transfers, buy/sell MH

[2022-10-11 21:24] fareenr opened #13862 "SBC MH Search pilot - target early Nov"
Provide training/ demo of MH combo search, Assets team to set up access and GL codes, plan to Pilot in Prod. with real searches.
report issues by email or sheet to Fareen. Patrick to log if true bug only.

[2022-10-11 21:25] fareenr commented on #13862
11-Oct - latest update from Kyle is that SBC pilot may start early Nov (target Nov 4-15) with just 4-5 users in field offices where there are MH search requests.
SBC MH Search procedures are done and were reviewed by Erin B.

[2022-10-11 21:32] RFK250 commented on #13860
@forgeuxGH5 It would be good in the sense that it's always nice to have Kevin's input, but our use of him is limited and so I have to be mindful of what I choose to ask him. I don't think this is one of those occasions, though I'm open to listening if anyone thinks 3. is somehow not a better option than 1 or 2 or the status quo (i.e. manual file retrievals).

[2022-10-11 21:39] trishreimer commented on #13767
I just tested this: NR 1501013.
Name was approved, clicked register a business and nothing happens.
@severinbeauvais

[2022-10-11 21:44] severinbeauvais commented on #13767
Hi Trish. Travis' feature to allow staff to use a NR to register a business is not in Prod yet.

[2022-10-11 21:46] trishreimer commented on #13767
oh! sorry, i missed that (too many emails).
just ping me when you're ready.
I now have data!

[2022-10-11 22:06] janisrogers commented on #13556
Looks pretty good. The only issue is searching for BC9. I would expect the first result to be BC0000009. Is there anyway to do this? (this is the way staff use Sofi,  they omit the leading zeros)

[2022-10-11 22:17] kialj876 commented on #13556
I think this particular thing should be a feature request in its own ticket. It will require updating the solr query in the search-api to prefer this type of match (much more complicated, but doable I think if we update the boost query logic) and should be confirmed because it will affect all users not just staff. We'll also need to test that it doesn't mess with results outside of this use case

[2022-10-11 22:26] janisrogers commented on #13556
OK. I'll move this ticket along. @JohnamLane Do you want to create an enhancement ticket for this?

[2022-10-11 22:28] chdivyareddy opened #13863 "UI - Transfer of ownership - Cannot add/edit Home Owners"
## AC

GIVEN I am an MHR Qualified User for a new transfer
WHEN I navigate to the MHR table and I click on the "Open" button
AND clicks on the Add a person/Organization/Edit button and navigate back to the dashboard by clicking on the Cancel button
WHEN I navigate to the MHR table and I click on the "Open" button to file transfer again
THEN the Add a Person/Organization/Edit buttons should not be

[2022-10-11 22:30] chdivyareddy commented on #13782
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/476e5b60-c0ca-4c98-a715-60356401cdcd)

[2022-10-11 22:36] severinbeauvais commented on #13861
Travis, since you're updating the UIs, can this ticket be assigned to you?

[2022-10-11 22:49] seeker25 commented on #13245
Staff Dashboard isn't showing correctly:

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/f8f69962-ae2b-406a-b3bb-2b61614c297c)

[2022-10-11 23:21] janisrogers commented on #13246
@kialj876 I linked the design. Went with just links for now, since this is somewhat temporary. Also included is updates to the title and breadcrumbs for the Business Registry page. If there is another ticket for this let me know and I can link the design there.

[2022-10-11 23:22] yuisotozaki commented on #13753
Verified in dev. Ready for QA!
Observation Note: Our **dev** env's BCeID link is pointing to BCeID's **test** environment.

[2022-10-11 23:27] severinbeauvais commented on #13816
I tested the following browsers:
1. Chrome version 106.0.5249.103
2. Edge version 106.0.1370.42
3. Firefox version 105.0.3

I tested the following account types:
1. Severin Basic Account - Credit Card
2. Severin Basic Account - Online Banking
3. Severin Premium Account - BC Online
4. SEVERIN BEAUVAIS CONSULTING INC. - Pre-Authorized Debit

I tested the following name requests:
1. BC SP
2. BC DBA
3

[2022-10-11 23:29] severinbeauvais commented on #13753
That's because BCeID does not have a dev environment so we use test BCeIDs for both dev and test.

[2022-10-11 23:38] janisrogers commented on #10673
@magszymanski I have reviewed your comments (and made a couple of other changes). Please take a look again if you have a chance.

[2022-10-11 23:57] doug-lovett commented on #13854
In DEV the BRTEST5 account may not be set up for sbc payments. Unit testing with the pay api directly:

POST https://pay-api-dev.apps.silver.devops.gov.bc.ca/api/v1/payment-requests

POST data:
{
    "filingInfo": {
        "folioNumber": "UT-PAY-MSRCS-01",
        "filingTypes": [
            {
                "filingTypeCode": "MSRCS",
                "priority": false,
                "futureEf

[2022-10-12 00:14] dimak1 commented on #13710
This is dependent on #13726 because issues are similar. I'll wait until PR gets merged.

[2022-10-12 01:32] seeker25 commented on #13662
As part of this ticket, we should really fix the accounts

[2022-10-12 03:00] thorwolpert commented on #13850
issued 2 prod keys

[2022-10-12 03:05] thorwolpert commented on #13850
added the role allowing it to lookup account holders.

[2022-10-12 03:30] forgeuxGH5 opened #13864 "UI DESIGN - MHR Lien/PPR Encumbrance"
## Visual Design Comps - for final design and final copy:
Includes Initial Lien Check and API Lien Check on "Register and Pay"
https://projects.invisionapp.com/share/Q51341ENV7KC#/screens?browse

### Wireframes - for screen flow (including combo search)
https://preview.uxpin.com/a3d6298329d6a635eba6ec93fc9b00fd076561e2#/pages/158955259

---------

MH Registrations cannot be transferred if certain

[2022-10-12 03:33] forgeuxGH5 opened #13865 "UI DESIGN - Help for Changes"
## Wireframes
https://preview.uxpin.com/a3d6298329d6a635eba6ec93fc9b00fd076561e2#/pages/158960566

[2022-10-12 03:36] forgeuxGH5 opened #13866 "UI Design - Handling and Rules for Changing Exempt"
Registrations with Exempt status cannot be changed by clients. There may be cases where staff need to make a change on a Exempt status home.

GIVEN I am a non-staff (BC Registry Staff with Assets_Staff) Manufactured Home Registry user
WHEN I open a home that is in an exempt state
THEN I am presented with a message advising the home is in an exempt state
AND I am unable to make any changes on that

[2022-10-12 03:45] forgeuxGH5 opened #13867 "UI DESIGN - MHR Payment + Misc Error Handling"
@LizGovier - Please double check the Service BC contact information - it may be outdated in PPR
- Please check to see if MHR Search has or also needs payment error handling

-------

## Requirements
Here is a doc detailing the wording for payment errors. It includes the acceptance criteria
[Payment error messages](https://docs.google.com/document/d/17C6DTDnkDJ4bgYsDS2pb1KiBZN_MaxEBMGBgb7bo8eI/edit

[2022-10-12 15:20] JohnamLane opened #13868 "Update breadcrumb and title of 'My Business Registry' to 'My Staff Registry'"

[2022-10-12 15:25] JohnamLane opened #13869 "UI Implementation - Update breadcrumb and title of 'My Business Registry' to 'Staff Business Registry'"
Design ticket is here - https://github.com/bcgov/entity/issues/13868

[2022-10-12 15:45] argush3 opened #13870 "legal api/filer - dissolution date not being applied to business"

[2022-10-12 15:51] #13723 closed, assigned to lewischenstudio

[2022-10-12 15:53] #13870 closed

[2022-10-12 16:00] argush3 commented on #13834
@Mihai-QuickSilverDev in working making sure the dissolution date displays properly on the ledger, it was discovered that the dissolution date is not being applied to the business for voluntary dissolutions.  It seems like the effective date is being used as opposed to the dissolution date the user provides via the UI.  Just to confirm, the dissolution date applied to the business should be the cl

[2022-10-12 16:01] severinbeauvais opened #13871 "LEAR: Folio Number is lost after a change filing"
_This ticket originally reported that a folio number entered for a firm is lost. However, per ticket #12306, the main folio number is no longer input in a firm registration (only the transactional folio number is input). After further testing, I reproduced this bug in a different scenario, below._

**New description:**

1. login using a premium account (eg, Dev -> BCREG0001 -> "My PAD test account

[2022-10-12 16:08] Mihai-QuickSilverDev commented on #13834
@argush3 Hi Argus, I plan to get these answers from the business today at 10 am.

[2022-10-12 16:16] #12751 closed

[2022-10-12 16:17] Mihai-QuickSilverDev opened #13872 "Edit UI: don't allow change of Business Start Date in change filing"
Mihai says:

To Do :
- [x] Make the the Business start date non-editable for a Change filing.

@jdyck-fw @lewischenstudio @severinbeauvais @davemck513 @vysakh-menon-aot

[2022-10-12 16:18] #13501 closed

[2022-10-12 16:18] Mihai-QuickSilverDev opened #13873 "Even after the proprietor/partner change is made with correction the changed proprietor/partner is not being reflected in the user dashboard"

[2022-10-12 16:19] Mihai-QuickSilverDev opened #13874 "Verify - Opening the approved NR from the Name Request throwing a blank page but in the business dashboard the filing is in draft state."
Does this happen as staff? Sev was not able to replicate as client.
Verify this in conjunction with the work done by Travis for BC Registries staff able to create firms registrations.

1)Create an NR with SP/GP
2)Approve the NR
3)Go to Name Request Page
4)Click on the Register using the button.
5)See an error

[2022-10-12 16:20] Mihai-QuickSilverDev opened #13875 "Create UI: Nature of Business component shows error after saving and resuming draft registration"
In a registration, enter a NOB, then click Save and Resume Later. Then resume the registration. Note that the NOB is showing an error.

[2022-10-12 16:43] zac-broitman opened #13876 "Assorted Updates to Special Resolutions"
There are various changes that need to be made to the Special Resolution filing:

**Text Updates**
There are various text updates across the filing, reference the updated designs (linked below) to ensure text is updated

@zac-broitman Please list the specific text changes here so that devs know exactly which text is new.^

**Output Names**
We need to ensure all outputs are correct. These would alw

[2022-10-12 16:44] RFK250 opened #13877 "UI - Ability to remove existing owners"
## AC
GIVEN I am a qualified supplier user
WHEN I open my MHR information/transfer flow
THEN I see my current home owner groups
AND I have the option to remove home owners (and/or groups)
AND I cannot edit existing owners
AND I view removed owners in the removed state

[2022-10-12 16:48] bolyachevets commented on #13856
Talked with Patrick about starting out with health/status api checks for auth-api / pay-pay / name-api / legal-api

[2022-10-12 16:50] RFK250 commented on #13877
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13877?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @dimak1 @doug-lovett

[2022-10-12 16:52] fareenr commented on #13570
12-Oct - sent email request to Patrick Wei. He confirmed hyperlink is possible so just need link to latest PDF announcement for Oct 24 launch.
Patrick will check with Thor or Doug to see how to promote it to prod, currently test banner text only avail in dev and test.

[2022-10-12 17:03] RFK250 commented on #13823
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13823?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @dimak1 @doug-lovett

[2022-10-12 17:10] RFK250 opened #13878 "UI - Review and Confirm Screen (attention / ref)"
## AC
**Attn/Ref Component:**
GIVEN I am reviewing my transfer
WHEN I want to enter an attention/ref number
THEN I can see attention/ref elements
AND I can enter an attention/ref number
AND If the length exceeds 40 chars
THEN I receive the standard max character field error message/field level error style as I type (user can type more than 40)
AND if I delete the extra characters then the field er

[2022-10-12 17:11] RFK250 commented on #13878
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13878?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @dimak1 @doug-lovett

[2022-10-12 17:15] argush3 commented on #13565
@severinbeauvais here's a firm(FM0272480) with more missing business info.  believe this firm should be in Dev and Test

[code]

[2022-10-12 17:17] severinbeauvais commented on #13565
1. UI to ignore whatever might be in `complianceWarnings` array in the todo task
2. UI to look through `warnings` array in the todo task for **compliance warning type** and display appropriate action required card (keep it simple for now since API doesn't return any of these warnings yet)
3. UI to look through `warnings` array in the todo task for **missing business info** and display appropriate

[2022-10-12 17:21] yuisotozaki commented on #13565
Designs found.

Collapsed: https://invis.io/HN123TTOT95J#/464211674_0-0_SP-DBA-GP_-_TO_DO_Action_Required
Expanded: https://invis.io/HN123TTOT95J#/464211675_0-1_SP-DBA-GP_-_TO_DO_Action_Required_-_Expanded

Design Reference for the new Alerts section being introduced as part of the Freeze/Unfreeze feature: https://invis.io/TG12Y2HY7XUS#/469515306_03_All_Alerts_Expanded

[2022-10-12 17:26] severinbeauvais opened #13879 "PAD transaction details show incorrect dollar format"
The dollar format in this email should include 2 digits for cents:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/29469fe8-1a37-4d05-8044-dc88d4b12cd9)

cc: @JohnamLane @seeker25

[2022-10-12 17:29] #13761 closed

[2022-10-12 17:30] #11867 closed

[2022-10-12 17:30] #13744 closed

[2022-10-12 17:30] #13356 closed

[2022-10-12 17:30] #13595 closed

[2022-10-12 17:30] #13604 closed

[2022-10-12 17:31] severinbeauvais commented on #13565
^^ If we change some of these checks to return a warning type that includes the word "COMPLIANCE" then we can display the compliance banner instead of, or as well as, the missing info banner.

@Mihai-QuickSilverDev to create a new BE ticket and FE ticket for that if desired. (Currently the BE doesn't label any of these checks with COMPLIANCE, and the FE doesn't handle them differently.)

[2022-10-12 17:32] fareenr opened #13880 "Discourse announcement post when Business Search and SP/GP filings API Prod is live - Oct 24"

[2022-10-12 17:41] JohnamLane commented on #13850
Notified IDIM to let them know they can see the keys in their account info now.

[2022-10-12 17:41] #13850 closed

[2022-10-12 17:43] severinbeauvais opened #13881 "Filings UI: refactor "alerts" code (possibly part of Freeze/Unfreeze feature)"
This change was carved off of #13565.

- [x] move alerts to their own component above the To Do panel
- [x] update code so that existing alert(s) match the UI design
   - also display all warning messages in alerts??? _(needs UI design)_
- [x] update code to handle all alert types
- [x] update code to handle multiple alerts at the same time (ie, expansion panels)

[2022-10-12 17:44] severinbeauvais commented on #13881
Current "action required" alert:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/1ad3ba12-9768-4e51-ab56-56cb7c131ab0)

[2022-10-12 18:13] ChasBoucher commented on #13760
See error in divas comment.

Doug has confirmed that there is an error in the api not accepting MH_PARK.  He is going to fix.

[2022-10-12 18:21] lambert-alex commented on #13873
@Mihai-QuickSilverDev  I tried correcting an sp and gp and the changes are reflected in the outputs as well as the on the dashboard. I tried it on FM1011611 and  FM1011606. Do you have any more details on this issue?

![dashboard_output_correction_name.png](https://images.zenhubusercontent.com/62717af8eca90b5099d264a7/89c05139-a9c6-4003-999b-4ad02d39ed1e)

![correction_name.png](https://images.zen

[2022-10-12 18:30] sarahelz19 commented on #13026
- [ ] Complete all SP.GP Forms
- [ ]  link all forms to forms page
- [ ] update any fee's that have changed on forms/fees page

[2022-10-12 18:30] sarahelz19 commented on #13026
Review scheduled - Oct 12,2022 (Gen/Sarah)

[2022-10-12 18:32] sarahelz19 commented on #10590
- [ ] Material developed for SP GP Registration/Maintenance
- [ ] Confirm with Business Retire One Note

[2022-10-12 18:32] sarahelz19 commented on #10590
@MeganFedora with the implementation of net new process materials and guides - Do we retire the OneNote material as historic?
Do we need to communicate this to the team?

[2022-10-12 18:34] sarahelz19 commented on #11246
Reviewed all search materials with SBC Regional offices for acceptance. Oct 2022

[2022-10-12 18:34] #11246 closed

[2022-10-12 18:35] sarahelz19 commented on #13549
Completed all materials and training sessions - up to and including Oct 12,2022

[2022-10-12 18:39] RFK250 opened #13882 "UI Design - MHR Coming Soon tile"

[2022-10-12 18:42] RFK250 opened #13883 "UI Design - BCROS Marketing Page Tile"
https://yfthig-dev.web.app/?accountid=2176

Low priority - could be done post-launch

[2022-10-12 18:42] chdivyareddy commented on #13713
Verified!

- [ ] When a user clears Group1 (X) and clicks on the Cancel button, Group is displayed (as expected):
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/8821c6d4-63af-494b-a40c-e1b379127f5a)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d7496a42-ac75-4021-bc84-add20028dd8a)

- [ ] When a user removes/deletes immediately after adding

[2022-10-12 18:42] Mihai-QuickSilverDev commented on #13565
@severinbeauvais Could we have all the missing business info in the Conversion To Do list, and then an Alerts tab, which might contain one warning entry, if the proprietor or partner is missing?

[2022-10-12 18:47] RFK250 opened #13884 "UI - Users can see the "MHR Coming Soon" tile and add it to their account"

[2022-10-12 18:50] tlebedovich opened #13885 "UI Design - Find and Replace Contact Information within PPR and MHR"
We need to update the contact information for all instances within PPR and MHR, so first we'll need to make a list of all the places this occurs.

Ultimately MHR and PPR should use a shared component to replace the individual instances of contact information so it can easily and quickly be updated in the future.

Contact info spreadsheet from Trish - https://docs.google.com/document/d/1-pnZp-aJYLl

[2022-10-12 18:50] RFK250 opened #13886 "API - Add the MHR product to my account"
## Requirement
GIVEN A use adds the MHR "coming soon" tile to their account
WHEN An MHR feature (e.g. combo search) goes live
THEN That user can see and use that feature

[2022-10-12 18:50] Mihai-QuickSilverDev opened #13887 "Edit UI: Replace proprietor (was: Add ability to edit Corp Number on a Change filing)"
When completing a **Change** filing to update the DBA, the old corporation number is not editable, and there is no lookup used. As such, the old corp num would continue to show up, although the name of another corporation was entered.

To Do List:
- [x] When the proprietor is a business or corporation, add dropdown menu option to replace it.
  - staff only
  - change filing only
  - with "swap-hor

[2022-10-12 18:51] tlebedovich commented on #13490
this can be closed, we have captured this work in the main transfer ticket

[2022-10-12 18:51] #13490 closed

[2022-10-12 18:56] Mihai-QuickSilverDev opened #13888 "Unable to file Registrars Notation, Court order, Conversion filing"
Steps to replicate:
1)Login as Staff  2)Search Filing FM1011663 3)Try to file Registars Notation,Court oder,Conversion 4)See an error
Sev to look in more depth.

- conversion FF was disabled; now enabled
- still looking into staff filings

[2022-10-12 19:05] doug-lovett commented on #13735
Updated SO example attached below.
[https://app.zenhub.com/files/157936592/1e5d27e5-2929-48d8-95f3-23f63dd81e46/download](https://app.zenhub.com/files/157936592/1e5d27e5-2929-48d8-95f3-23f63dd81e46/download)

[2022-10-12 19:39] argush3 commented on #13565
@Mihai-QuickSilverDev if we want to support compliance warnings, we will need a BE ticket. Specific rules will need to be included.  Right now we flag missing names for partners and proprietors and things like if min num of partners is met when doing the required business info check.  These details will need to be provided.

[2022-10-12 19:48] tlebedovich commented on #13735
yes sorry @doug-lovett - old file name, will update. SO example looks great. Are you able to provide a JT and TIC example as well just for a quick look?

[2022-10-12 19:50] tlebedovich commented on #13735
@doug-lovett UXA - one item to fix in SO example - Main header title should say "Transfer Verification" versus "Verification of Service"

[2022-10-12 20:37] seeker25 commented on #13269
Left to go:

1. Auth needs to update two businesses when affiliating
2. `gov_account_users` when joining staff? (breaks search, maybe include exception for search)
3. Very minor - fix staff search (shows up as GOVM), need inclusions for `STAFF` and `SBC_STAFF`

[2022-10-12 20:50] chdivyareddy commented on #13726
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ed08767d-661d-45cd-85a8-cdf8f1323158)

[2022-10-12 21:04] doug-lovett commented on #13735
@tlebedovich thanks for catching the "Transfer Verification". SO example updated; TC and JT examples are below.
[https://app.zenhub.com/files/157936592/332e6e3c-95a0-47f8-82f6-e67783043933/download](https://app.zenhub.com/files/157936592/332e6e3c-95a0-47f8-82f6-e67783043933/download)

[https://app.zenhub.com/files/157936592/2277413f-0b28-48f5-8cf5-6e20a38518f5/download](https://app.zenhub.com/file

[2022-10-12 21:12] RFK250 opened #13889 "UI Design - Qualified Supplier Exemptions"

[2022-10-12 21:15] RFK250 commented on #13889
@tlebedovich @forgeuxGH5 I created this epic b/c I thought I saw a UI Design ticket related to it... And then realized that ticket was for transfers. Anyways, it's here when you need it. :)

[2022-10-12 21:30] doug-lovett commented on #13817
Testing with postman, add the following elements to the create transfer request:
  "transferDate": "2022-10-11T17:05:15-07:53",
  "declaredValue": 100000,
  "consideration": "$100000.00",
  "ownLand": true,

[2022-10-12 21:37] RFK250 opened #13890 "API - Allow staff and conditionally manufacturers to complete a transaction when there is an lien"
- allow staff to complete a transaction even when there's a lien.
- allow qualified suppliers to complete a residential exemption when a lien exists and the PPR registration type is SA.

New residential exemption data validation rule:
When the current location type is MH_PARK or MANUFACTURER no users can complete the registration.

On submssion of change registrations, if the user is staff skip th

[2022-10-12 21:41] RFK250 opened #13891 "UI Design - Design adaptations for staff"
## Description

Use this epic for staff variations on UIs and workflows that have been built for other users (e.g. transfers, exemptions)

[2022-10-12 21:41] janisrogers opened #13892 "Update Victoria phone number in alerts"
The alerts details section shows the ITOps phone number as the Victoria number. This needs to be changed.

- [ ] Change Victoria number to 250-387-7848

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/28ea9734-e20a-439b-bcc4-836e6791406b)

[2022-10-12 21:42] RFK250 opened #13893 "UI Design - Staff transfers when there's a lien"
Staff are blocked in completing a transfer with the same logic that client has. Staff may override that logic and complete a transfer in the following cases.

1) LTSA has a property tax payment and provides consent for the transfer (only issued with joint tenancy).
2) Client has all authorizations in place to proceed but the lien is not physically discharged.

**Feedback from staff. Pending confir

[2022-10-12 21:43] RFK250 commented on #13893
@forgeuxGH5 @tlebedovich FYI created this and a dev ticket for future use.

[2022-10-12 21:56] MeganFedora commented on #10590
@sarahelz19  we want to retire any info on paper, One Note is huge so perhaps we can move some of that info to a historical tab for now.

I will speak with Elizabeth about this this afternoon

[2022-10-12 21:57] Mihai-QuickSilverDev commented on #13308
Hello All, OCM reported an upgrade on the look and feel of this output. I have re-opened the original ticket, in case we have time to attend to it.
@vysakh-menon-aot @yuisotozaki @davemck513 @jdyck-fw

[2022-10-12 22:24] sarahelz19 commented on #12345
Under general instructions Dissolution - the following verbiage
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/2c1a4509-7c4c-4481-8c46-f09be4af2eea)

[2022-10-12 22:28] fareenr commented on #13880
ask John - he also mentioned to post API hours of availability - will be new monthly down-time 1x/month at night to re-index business search and the error response that APIs will get if API service is down.
also down when PayBC is unavailable.

[2022-10-12 22:29] sarahelz19 commented on #12345
Form - Duplicate "corporate registration" delete one of them
Section D" Dissolution date: - add verbiage from Instructions

[2022-10-12 22:30] fareenr commented on #13770
11-Oct release planning meeting - external MH Search pilot has now been moved back to Nov 15 target start date

[2022-10-12 22:32] fareenr commented on #13793
12-Oct - John communicated to service providers that they can begin requesting Prod API keys by email request to BCRegistries.
Business Search is available in Prod API gateway.  SP/GP is not yet, but will be avail Oct 24.

[2022-10-12 22:38] janisrogers commented on #10673
@tlebedovich  - This is ready for your visual design. I moved the expanded help onto a separate page. Can you take a look at that page too? Thanks

[2022-10-12 22:38] doug-lovett commented on #13161
Move to staging until 13860 development is complete.

[2022-10-12 22:53] RFK250 commented on #13161
@doug-lovett Is that necessary? Releasing this ticket as is would still be an improvement over the status quo, would it not? i.e. we'll still see some manual file retrievals from large requests, but fewer than we're currently seeing. Am I missing something?

[2022-10-12 22:57] #13726 closed

[2022-10-12 22:57] #13713 closed

[2022-10-12 22:57] #13782 closed

[2022-10-12 22:57] #13109 closed

[2022-10-12 23:37] sarahelz19 commented on #12345
[https://docs.google.com/document/d/10av67-RqBDWX8-w0FzSS4h44WwMgUQZlSSUTe-1-wto/edit](url)

[2022-10-12 23:38] sarahelz19 commented on #12345
https://docs.google.com/document/d/10av67-RqBDWX8-w0FzSS4h44WwMgUQZlSSUTe-1-wto/edit

[2022-10-12 23:45] sarahelz19 commented on #11531
@gprimeau SP Change Form edits
https://docs.google.com/document/d/1WjU4oi1cU2LJ4_QeN-1U-SRppDaXwR4sVdLAhdPN3lo/edit

[2022-10-12 23:49] sarahelz19 commented on #11532
@gprimeau General Partnership - Change Filing Edits
https://docs.google.com/document/d/15L5QPVPZ1reRNtrA0NWlaCvLis3wOv2EebybB5fg2_s/edit

[2022-10-12 23:52] doug-lovett commented on #13161
@RFK250 we can move this to RFQA for the non-large reports. I was thinking that the 13860 change would go into DEV within the next few days. Release management is different for significant PPR API changes. After internal QA we release to the SANDBOX environment for at least 1 week before PROD to give the API clients an opportunity to test the change. With this change we will also run some load tes

[2022-10-13 15:21] #13245 closed

[2022-10-13 15:21] #13249 closed

[2022-10-13 15:21] cameron-freshworks commented on #13109
@chdivyareddy Good morning!
The above fix to the REMOVE modal is now in Dev.

[2022-10-13 15:24] chdivyareddy commented on #13109
@cameron-freshworks Thank you:)

[2022-10-13 15:26] RFK250 commented on #13161
@doug-lovett Okay, let's do RFQA on this ticket for the non-large reports, and we'll QA the large ones with 13860 assuming that you expect to get to it soon. That way we'll have at least partially implemented in the event we aren't able to get to 13860 soon as we hope. cc @chdivyareddy

[2022-10-13 15:31] RFK250 commented on #13860
@doug-lovett Can you please send an example of what the concatenated report could look like? I'm thinking that @forgeuxGH5 and @tlebedovich might want to do some UX, and I will need to engage OCM since it represents a change to users' current experiences (albeit to a super small percentage of cases).

[2022-10-13 15:42] doug-lovett commented on #13860
@RFK250 working on the concatenated version now.

[2022-10-13 15:42] lambert-alex opened #13894 "Convert from options API to composition API"
## Description (Hypothesis):
Convert all the UI's from options API to Composition API

* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what is expected value and justification for priority.

----
## Acceptance Criteria
* When all the UI's have been converted over to the composition API

----
## Additional Inf

[2022-10-13 16:08] doug-lovett commented on #13670
Release report:
https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/reports/release?release=Z2lkOi8vcmFwdG9yL1JlbGVhc2UvODMxOTI

[2022-10-13 16:36] #13849 closed

[2022-10-13 16:36] #13772 closed

[2022-10-13 16:37] #13126 closed

[2022-10-13 16:37] #12882 closed

[2022-10-13 16:37] #13813 closed

[2022-10-13 16:37] #13810 closed

[2022-10-13 16:37] #13241 closed

[2022-10-13 16:37] #12421 closed

[2022-10-13 16:37] #13784 closed

[2022-10-13 16:37] #13391 closed

[2022-10-13 16:37] #6610 closed

[2022-10-13 16:37] #7633 closed

[2022-10-13 16:37] #7342 closed

[2022-10-13 16:45] eve-git commented on #12836
In namerequest, the URL with payment ID was redirected after Confirm Payment.

[2022-10-13 16:55] #13717 closed

[2022-10-13 16:55] Mihai-QuickSilverDev opened #13895 "Changing business start date has no effect"
I changed the Business Start Date of a SP, but after filing, the Change of Registration Application doesn't show it, the Amended Statement of Registration shows the original date, and the Business Summary shows the original date.

[2022-10-13 16:57] Mihai-QuickSilverDev opened #13896 "Create UI - Pages should gray out after clicking File Now, to avoid multiple clicks"
Sometime it takes a while for the next UI to load (eg, payment), so the filing is still displayed and the File Now button is still clickable, which could lead to multiple filings or multiple payments or simply UI errors. (I didn't try it.)

To Do List:
- [ ] Apply gray (half opaque) modal when clicking File Now (see Filings UI AR for example)
- [ ] Remove modal if redirection fails (ie, if user st

[2022-10-13 17:02] argush3 opened #13897 "legal api - update task endpoint to not provide conversion todo when pending conversion filing exists"
Reference annual report todo code as AR todos already do this.

Workaround: just resume the record conversion filing and ignore the record conversion todo (which will go away when the conversion is filed and the required business info is no longer missing).

---

Note: check for pending conversion in todo list and in filing history list.

Example 1
![image.png](https://images.zenhubusercontent.com

[2022-10-13 17:04] davemck513 opened #13898 "Implement Composition API"

[2022-10-13 17:11] severinbeauvais commented on #13897
Dave says this is not needed for day 1, but we should bring it in ASAP depending on other priorities.

[2022-10-13 17:11] kialj876 commented on #13572
**NOTE:** the job that updates legal-filings from COLIN and new BNs for newly incorporated BENs is still timing out due to bad data issues in DEV/TEST so I will test that BN update flow personally (I will temporarily force it to skip all the failing filings/BN updates so that it gets to the new ones before timing out)

[2022-10-13 17:12] RFK250 opened #13899 "UI - Validate Home Owner and Group Tenancy Types"
## Description

## Note
Home Tenancy Type
If there is exactly 1 group with exactly 1 owner, Home Tenancy Type = Sole Owner
If there are multiple groups with at least one owner in each, Home Tenancy Type = Tenants in Common
If there is exactly 1 group with multiple owners, Home Tenancy Type = Joint Tenancy

Group Tenancy Type
If there is exactly 1 group with exactly 1 owner, Group Tenancy Type = So

[2022-10-13 17:18] RFK250 commented on #13899
@tlebedovich @forgeuxGH5 I've put the tenancy matrix into this ticket. We need to validate the group tenancy types, especially that last line. Do group tenancy types even exist in the legacy database?

[2022-10-13 17:20] yuisotozaki commented on #13565
Conversion design updated in UXPin to include Alerts section on the entity dashboard.
https://preview.uxpin.com/363a49b33bdb2a314ccac0f18daad8969e93b337#/pages/149272182

[2022-10-13 17:23] seeker25 commented on #13247
Closing, going to just make this a manual process still..

Because once you get STAFF.. you can do anything in the ORG (for example USER can invite a user)

[2022-10-13 17:23] #13247 closed

[2022-10-13 17:23] Mihai-QuickSilverDev commented on #13895
Closing as duplicate.

[2022-10-13 17:23] #13895 closed

[2022-10-13 17:24] fareenr commented on #12158
13-Oct - drafted Discourse Post for pre-launch, request Prod API keys and do connectivity testing. emailed John to review/approve and add any known business APIs issues

[2022-10-13 17:35] bolyachevets commented on #13855
ended up moving uptime-monitor source code to a fork in https://github.com/bcgov/uptime-monitor
as well as the upptime monitor to https://github.com/bcgov/upptime
the status page is here: https://bcgov.github.io/upptime/

[2022-10-13 17:37] bolyachevets commented on #13856
Uptime checks are registered here: https://github.com/bcgov/upptime/blob/master/.upptimerc.yml

[2022-10-13 17:37] zac-broitman commented on #13876
@zac-broitman to split this ticket into static text changes and logic changes (to then be reviewed with the business)

[2022-10-13 17:49] RFK250 commented on #13899
@tlebedovich Hmmm... So when there is exactly one group with exactly one owner, the home owner type will show as Tenants in Common and the group owner type will also show as Tenants in Common?

[2022-10-13 17:51] JohnamLane opened #13900 "Business Search - entering special characters only causes errors"
Certain characters, when entered on their own, may encounter these outcomes:
1. Conflict with Solr query syntax
2. Causes 400 to be returned

Even though the index does not contain any special characters, please return the result of the query (no results)

[2022-10-13 17:51] Mihai-QuickSilverDev commented on #13778
To be evaluated at a later time.

[2022-10-13 17:54] argush3 opened #13901 "Filer - conversion processor fails when existing party with no previous address is updated with an address"
The conversion processor code is trying to update the existing address which does not exist.  Code should be updated to handle a new address.

example firm where this issue is happening in DEV: FM0272480

**Filer log for failing conversion filing**
[code]

[2022-10-13 17:57] tlebedovich commented on #13899
This was sorted for Registrations. We only display visible "groups" in the UI for Tenants in Common. And you can't have a Tenants in Common with only a single group (TICs must have more than one group). But, yes, if you have a single owner in one of the Tenants in Common groups, then that group's tenancy type is listed as TC (Tenants in Common) in legacy database so that's what we've been doing.

[2022-10-13 17:57] #13571 closed

[2022-10-13 17:58] Mihai-QuickSilverDev opened #13902 "Verify: Can't Register Your Business after affiliating the NR"
- Create a NR using the non-default (first) account.
- Then open a new Namerequest tab, open the NR, and click Register Your Business.
- You will get a "Name Request associated with another account" dialog.
- The dev console shows that the API call to create an affiliation fails with a HTTP 400.

[2022-10-13 18:07] ChasBoucher commented on #13760
Doug has fixed api.
Tested with MH_PARK

[2022-10-13 18:09] forgeuxGH5 commented on #13899
@RFK250 this built in the app - you can try it out and see what happens - you can't submit a group structure as above - it looks like this
<img width="1049" alt="image" src="https://user-images.githubusercontent.com/26335434/195673153-508f21fe-b37e-4b07-a750-a924e9412f37.png">

Review and Confirm
<img width="787" alt="image" src="https://user-images.githubusercontent.com/26335434/195673239-2a696a2

[2022-10-13 18:44] chdivyareddy commented on #13136
Verified!

**Registration Found:**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f8a2db1c-2183-4613-8ae3-a862af5a8c57)

**Registration Not Found:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e374ec2c-65a6-435b-8dc8-528c474f0de7)

[2022-10-13 18:44] #13670 closed

[2022-10-13 18:50] pwei1018 commented on #13425
Request sent:  https://github.com/bcgov/sso-keycloak/issues/193

[2022-10-13 18:57] tlebedovich commented on #13735
@doug-lovett looks good to me thanks!

[2022-10-13 18:58] tlebedovich commented on #12487
@RFK250 I believe so yes

[2022-10-13 19:28] chdivyareddy commented on #13710
@dimak1 , When a user adds an owner without groups and deletes them, then the Review & Confirm screen should hide the Home tenancy type and the table, currently it is not. Please take a look, thanks!

**Current Behavior:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/5d0715ed-0bfb-41c3-9544-2e03d9c6a05d)

**Expected Behavior:**
![image.png](https://images.zenhubuserco

[2022-10-13 19:31] lambert-alex commented on #13888
@Mihai-QuickSilverDev
There is a conflict between what is allowed in the BE and the FE currently the FE allows any business (firms, corps, etc...) to file a Registar's Notation, Registrar's Order, Add Court Order, Record Conversion, and Administrative Dissolution. However the BE only allows certain business types to make these filings.

For example the FE allows SP's to file a Registrars Order but

[2022-10-13 19:44] dimak1 commented on #13710
@chdivyareddy thanks, I will take a look and fix it.

[2022-10-13 19:51] tlebedovich commented on #13818
@dimak1 - UXA notes for you.

- [ ] The Transfer Details component should only appear if/when users have made a change to the owners. And If user makes an owner change, (like adds a new owner), but then removes that new owner to return the owners to it's original state, then the transfer details component should go away again (removing any data entered)

- [ ] The "The declared value entered appea

[2022-10-13 19:52] tlebedovich commented on #13818
@dimak1 - to note, we are missing the proper read-only view of this component on the review screen so I will need to update designs to for view. I will make a new ticket for this work.

[2022-10-13 19:58] sarahelz19 commented on #13359
EMail setup and testing complete
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/e79ac312-c0bb-43d0-95e2-2d56e52e3bb2)

[2022-10-13 20:03] kialj876 commented on #13246
@janisrogers this is in dev only until the staff accounts are migrated to orgs in TEST (I will update here). For now you can verify in dev if you want

[2022-10-13 20:07] Mihai-QuickSilverDev commented on #13887
Review, as a conversion should not be required for this filing.

[2022-10-13 20:09] forgeuxGH5 opened #13903 "(Verify) UI DESIGN - Checklist - To Do list for MHR Search Pilot (Client search go-live)"
**showstoppers indicated with "*"**

### Search Outputs (Outputs will be used - need complete and valid outputs)

Items crossed out are being addressed in search output ticket #14075

- [x] ~Update Registration Details pane (add Reg and Doc IDs, status > Active, Exempt, Historical)~
- [x] ~Update display of Home Tenancy Type for all types~
- [x] ~*No Tenancy - display No Tenancy properly~
- ~Sole

[2022-10-13 20:12] RFK250 commented on #12487
@tlebedovich Okay thank you. Adding it back into the backlog.

[2022-10-13 20:27] davemck513 opened #13904 "Implement Filtering on My Business Dashboard"
Login to the BC Business Registry
Click "My Business Registry"
The attending table should have filter options at the top.

[2022-10-13 20:56] fareenr commented on #13880
Also add this Business Search API availability info (from John email to service providers Oct 13, 2022):

Business Search outage during monthly re-indexing:
•	Rebuilding index causes 10-15 min outage 1/month during middle of the night
•	During this brief outage, the API will return the following error as an HTTP 503

{
"errorMessage": "API backend third party service error.",
"rootCause": "detail:

[2022-10-13 20:57] fareenr commented on #13880
Business Search prod URL:  prod URL is https://bcregistry-prod.apigee.net/registry-search

[2022-10-13 21:05] tlebedovich opened #13905 "UI - Adding Transfer Details read-only view to Review and Confirm screen"
**Read-only version of Transfer Details on Review and Confirm screen**

- [x] Display read-only version of the Transfer Details on the review and confirm screen underneath Home Owners (as per updated design comp - Visual Design Link: https://invis.io/ZH131ANPF26K#/470050842_06A_QS-Review_And_Confirm)
- [x] Update Review and Confirm Summary section (blue bar) header to "Ownership Transfer or Change

[2022-10-13 21:06] tlebedovich commented on #13905
@RFK250 - I realized we didn't have a design for the read-only view of transfer details on the review and confirm screen so I mocked it up and made this ticket which will need to be done as part of Transfer

[2022-10-13 21:08] fareenr commented on #13793
13-Oct - sent draft Discourse post to John for review and approval, so that all potential API users could have this information. awaiting response.

[2022-10-13 21:08] RFK250 commented on #13905
Okay, thanks @tlebedovich ! Good catch. I will add it to this sprint and we can estimate it at grooming tomorrow.

[2022-10-13 21:09] fareenr commented on #13793
additional info from John email to service providers (oct 13):

prod URL is https://bcregistry-prod.apigee.net/registry-search
•	The Business Search API is available for connectivity testing in production. Note that data import is incomplete so best for simple connectivity only.
•	We are ready to support anyone that is in progress getting their prod account set up and API keys issued.

[2022-10-13 21:37] fareenr opened #13906 "Site Registry - BCOL HD UAT prioritize issues"
Follow up with BCOL hd and review all the issues they reported for Sites. Need to validate these are true defects in BCROS test env first.
Work on documenting as defects in ESRA issue sheet to send to Haley, Alan and Rob for ESRA. Send to John for any BC ROS issues (eg. user navigating back to landing page)

[2022-10-13 21:46] dimak1 commented on #13818
Thanks for reviewing @tlebedovich
- I forgot to mention that for now, Transfer Details will be visible, we are working on making it dynamic based on Home Owners' table inputs (there is some additional work required).
- I've added _some_ validations but they are not part of this ticket (as per Notes section)
- I will take care of the other two items (low declared amount on blur and colour change)

[2022-10-13 21:48] RFK250 opened #13907 "BUG - Cannot complete registration"
**Describe the bug in current situation**
Upon trying to complete a registration as staff, including completing all required and optional fields, was kicked back to the review and confirm screen with user feedback indicating that every step and field was unfinished.

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

[2022-10-13 21:56] tlebedovich commented on #13818
ah ok. @dimak1 Is there a follow up validations ticket already created we can migrate the notes over too?

[2022-10-13 22:27] chdivyareddy commented on #13634
@ChasBoucher , the Tenancy Type still displays as 'Sole Owner' in the output. Registration Number: 150238 in DEV. Can you please take a look, thanks!!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b17ac036-99bf-4862-84b5-1706338d6eea)

[2022-10-13 22:30] rommel-agbay commented on #13741
Rommel and Sinead to present at SBCET on Oct 14.

[2022-10-13 22:37] chdivyareddy commented on #13760
Verified!

User can successfully file an MH Registration through the UI:

Registration Number: 150239

[https://app.zenhub.com/files/157936592/a8bcb92b-d021-44a8-899a-a1db951ee90e/download](https://app.zenhub.com/files/157936592/a8bcb92b-d021-44a8-899a-a1db951ee90e/download)

[2022-10-13 22:39] rommel-agbay opened #13908 "Service Design - Refund Experience"
Met with John and Janis to discuss the refund experience for:
1. Name Requests
2. across all products

considerations
- alignment with PayBC? (Kevin Ford)
- alignment with CITZ? (Karim Gilani)

-> Linda to decide on priority ****

[2022-10-13 22:51] chdivyareddy commented on #13817
Verified with Postman!
Registration Number: 150234

[code]

[2022-10-13 22:52] zac-broitman opened #13909 "Text Changes for Special Resolutions"
1.
The beginning of the filing states this:
![image.png](https://images.zenhubusercontent.com/61674670c72e6d5c94fd8c41/9167bbe5-a162-4a53-b4c0-11b56877c47e)
Can we clarify at the top what they can change with this filing they just entered into. Perhaps say, “Name, Rule, and Memorandum changes require a Special Resolution.”
- Done in design

2.
Add text to the Resolution Text box which states: “If

[2022-10-13 22:53] zac-broitman commented on #13876
Simple text changes moved to their own ticket #13909

[2022-10-13 23:18] tlebedovich commented on #10673
@janisrogers - design work done - please review

[2022-10-13 23:34] JohnamLane opened #13910 "Regression of account creation"
Items to review and confirm the status of:
Ministry
- [ ] Resending a ministry invite with the same name
- [ ] Resending invite after expiry of original invite
- [ ] Link to create a new Ministry account fails and results in missing GL and Address info
- [ ] Regression IDIRs that are members of multiple accounts

General
- [ ] Certain accounts are missing KC group called account_holders (Premium,

[2022-10-13 23:42] janisrogers commented on #10673
Looks good. Thanks @tlebedovich
@JohnamLane This is ready for dev. I'm not sure if there is a dev ticket or if you are using the design ticket as the dev ticket?

[2022-10-14 03:02] Mihai-QuickSilverDev commented on #13888
As per input from the business, please update the code, BE, to allow the following filings for SP/GP: Add Registrar's Notation, Add Registrar's Order, Add Court Order.

[2022-10-14 15:47] janisrogers opened #13911 "UI Design - staff dashboard link on business registry home page"
Add a link to staff dashboard on Business Registry marketing page for logged in staff

- [ ] change the 'Manage a business link' to 'Go to BC Registries Dashboard' link that directs to the staff dashboard.

Wireframe:
https://preview.uxpin.com/44f31cd0c93dc90930ef991d7a2454817d4287a6#/pages/159201376

[2022-10-14 15:49] janisrogers commented on #13911
@forgeuxGH5 @tlebedovich  Should this be in addition to the 'Manage my business' link for all logged in users?

[2022-10-14 15:57] forgeuxGH5 commented on #13911
@janisrogers are you wondering if we should have three buttons? If so, I say keep it two buttons for now.

[2022-10-14 16:22] tlebedovich commented on #13818
moving leftover items to #13905

[2022-10-14 16:33] severinbeauvais commented on #13565
### Test Notes

You can use these firms for testing (either as reg user or staff):
- https://dev.bcregistry.ca/business/FM0272482 (BCREG0018 or IDIR)
- https://dev.bcregistry.ca/business/FM0272479 (BCREG0001 or IDIR)
- https://dev.bcregistry.ca/business/FM0613561 (IDIR only - not affiliated)

[2022-10-14 16:34] janisrogers commented on #13246
@kialj876 The My Staff Business Registry link is going to the account setup page. Is the My Staff Business Registry page not available yet?

[2022-10-14 16:35] JohnamLane opened #13912 "Staff and SBC SP/GP flows - Do not pre-fill completing party"
As part of the SP/GP launch, SBC gov agents and Registries staff (IDIM) are now able to edit the completing party for the registration and other filings.

Since these IDIR users now have an org, the flow pulls the first/last from the logged in user as the completing party. This can still be edited so it's not a blocker, but this ticket is to prevent this pre-population for staff users.

GIVEN I am

[2022-10-14 16:35] #13833 closed

[2022-10-14 16:35] #9437 closed

[2022-10-14 16:35] #13183 closed

[2022-10-14 16:35] #13861 closed

[2022-10-14 16:35] #13036 closed

[2022-10-14 16:36] #13668 closed

[2022-10-14 16:43] lambert-alex commented on #13873
Unable to replicate this in dev, closing for now

[2022-10-14 16:43] #13873 closed

[2022-10-14 16:50] severinbeauvais opened #13913 "Edit UI: can't enter Business Start Date on conversion of old firms"
**To do:**

 - [x]  Allow entering the Business Start Date, with any business start date. Remove calendar validation.  (for conversion only -- retain validation for other filings)
 - [x]  Make the Business Start Date mandatory. (see comment below)

**To reproduce:**

1. Login as staff (IDIR).
2. Go to the dashboard for an imported firm that needs conversion.
   eg, https://dev.bcregistry.ca/busine

[2022-10-14 16:53] severinbeauvais opened #13914 "Edit UI: business address placeholder should not be bold"
The placeholder text should not be bold. To fix this will require removing some CSS or adding override CSS.

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/241ace9d-a542-4528-b89f-a1f5208d77ba)

[2022-10-14 16:57] JohnamLane opened #13915 "UI Implementation - Staff - add link from https://www.bcregistry.ca/business/auth/home/decide-business to staff dashboard"
When staff are logged in they should see a link to the staff dashboard instead of a link to 'Manage My business'

GIVEN I am logged in as staff
WHEN I visit the registries home page
THEN I see a link to the staff dashboard

[2022-10-14 16:59] severinbeauvais commented on #13913
Also in this ticket: clicking Review and Confirm should identify an unknown Business Start Date as an error.

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/5d2ca392-31af-45da-bb5a-7e842234f59c)

[2022-10-14 17:00] ChasBoucher commented on #13634
Have tested and it now works.  We can review and merge to dev..

[2022-10-14 17:29] RFK250 opened #13916 "Ability to pilot with a single user in a large org"
## User Story
As a PPR user in a large org, I need to be able to pilot MHR on my own without everyone else in my org viewing MHR elements and getting confused

## User Flow
1. Organization has to add MHR product to their account themselves
2. We have to manually grant MHR user roles for a single user from that organization to view

## Alternatives
- Give MHR access to whole org and train other org

[2022-10-14 17:29] Mihai-QuickSilverDev opened #13917 "Filer issue when working on a conversion"
Conversion filings could end up stuck in a pending status.
To investigate, identify the error and provide a fix.

https://dev.bcregistry.ca/business/FM0272482?filing_id=138871

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/bad4ef94-9c94-431e-b567-4ef2eb1386a4)

**filer log**

[code]

[2022-10-14 17:33] RFK250 opened #13918 "QA MHR end to end for piloting"
Go through the checklist in #13903 and test end to end functionality

[2022-10-14 17:40] severinbeauvais commented on #13901
Lekshmi, is this the same issue as this ticket?
https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/13917

[2022-10-14 17:43] argush3 commented on #13901
this is what I see in the logs for the issue referenced by #13917.  Looks like the same issue.

[code]

[2022-10-14 17:45] cameron-freshworks commented on #13771
Sorry, didn't see the see the label update. Will include in current work!

[2022-10-14 17:46] severinbeauvais commented on #13638
I moved this to grooming so we can discuss this requirement and decide what to do.

[2022-10-14 17:49] JohnamLane opened #13919 "Sites go-live - Link from My Registries Dashboard to Sites should be in a new tab"
After logging into our app, Sites clients will land on the My Registries Dashboard.

A request has come that the link on that page open in a new tab.

[2022-10-14 18:15] yuisotozaki commented on #13565
A few visual design observations in dev.
* font sizes
* icon sizes
* some spacing (Was the one below the alert title is the one we don't have control over? If so, ignore that one.)

<img src="https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/72b4041d-5ff3-48e7-ba5b-4bc70f2b7104" width=500/>

[2022-10-14 18:16] severinbeauvais commented on #13767
@Mihai-QuickSilverDev @davemck513 @trishreimer Can you please verify that the correct feature flags are identified in the description above, to be enabled for all users in Prod on Oct 24?

[2022-10-14 18:17] jennyschan opened #13920 "Premium account is active - no payment is listed (re: Ops ticket 1478)"
JIWA LAW CORPORATION  with account # 13919

Client is trying to link BConline - but fails. Client's premium account is active and payment method shown BC Online as selected, but Account # and Prime Contact ID info were not displayed.

farouk jiwa / 521965 Prime Contact ID: PA13371

There is Ops ticket opened with this : https://app.zenhub.com/workspaces/ops-60f8556e05d25b0011468870/issues/bcgov-re

[2022-10-14 18:23] dimak1 commented on #13820
After taking a closer look, I increased the estimate to **5** because of the complexity.

[2022-10-14 18:28] Mihai-QuickSilverDev commented on #13638
We decided previously that two filings would not allow corrections - Alterations and Conversions. As such, I am closing this ticket down.

[2022-10-14 18:28] #13638 closed

[2022-10-14 18:30] severinbeauvais commented on #13638
Are Alterations and Conversion blocked from correcting them? If so then we should implement that in Filings UI.

[2022-10-14 18:49] jennyschan commented on #13920
Closed as duplicate with #13205

[2022-10-14 18:49] #13920 closed

[2022-10-14 19:52] fareenr commented on #13570
14-Oct - Learn more about business registry CMS page is now live:  https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-other-assets/learn_more_about_the_october_24_launch.pdf

Sent email request to Patrick W to publish banner msg on Mon Oct 17.

[2022-10-14 19:53] severinbeauvais commented on #13565
### More Test Notes

This is what has changed:
1. "View and Change Business Information" button no longer has a warning icon and tooltip when the business is "not in compliance" (where not in compliance means the business has compliance warnings, which is not implemented in the BE).
2. Businesses with warnings (compliance or missing info) will display an Alerts section above the To Do list. This s

[2022-10-14 20:03] fareenr commented on #13835
14-Oct - BC Registries proposed release date is Nov 1/2 (deployed Tues Nov 1, avail to users Wed Nov 2) or Nov8/9.
awaiting Dani to confirm with Env/ ESRA project team that they agree and will be ready for this release before comms can be sent out.

[2022-10-14 20:11] severinbeauvais commented on #13575
Which release is this in?

[2022-10-14 20:18] argush3 commented on #13547
@droberts27 FM0517163 has been loaded in DEV now.  Event 101651353 is not included as a filing as we had talked about.  Please verify when you have a minute.

[2022-10-14 20:53] chdivyareddy commented on #13757
@forgeuxGH5 , Quick question - Currently, It is stopping the user from navigating to the next screen when all the secured parties & debtors are deleted by clicking on the 'Review & Confirm' button, but should there be a 'Red bar' with error message showing before user clicks on the 'Review & Confirm'?

Can you please take a look, thanks!

- When user views the saved draft: (Should the error messag

[2022-10-14 21:08] lambert-alex commented on #13896
It appears that the buttons in dev get disabled upon being clicked I will investigate further but I think this issue might be for another ui or is resolved.

![Buttons disabled upon clicking.png](https://images.zenhubusercontent.com/62717af8eca90b5099d264a7/c24ac2d4-cc70-4edd-8c49-8a7d1baae326)

[2022-10-14 21:16] chdivyareddy commented on #13735
Verified from the attached outputs!

[2022-10-14 21:25] kialj876 commented on #13246
which account are you using? It needs to have been migrated (I thought travis's current ticket). BRTEST4 is a staff account that has been migrated in dev

[2022-10-14 21:32] lambert-alex opened #13921 "Filings UI Refactor tests to support switch to composition API"
Currently some tests in the Filings UI are relying on data objects that are only available to the options api so upon switching API's the unit tests will break.

Refactoring the tests will make going to the composition API much easier.

[2022-10-14 21:37] janisrogers commented on #13246
I was using my idir

[2022-10-14 21:39] janisrogers commented on #13246
All looks good once I was using BRTEST4. ;-) Ready for QA

[2022-10-14 21:42] lambert-alex opened #13922 "Filings UI upgrade dependencies to versions that support composition API"
Many of the dependencies used in the filings UI right now do not support the composition API.

They need to be identified and upgraded to versions that do.

[2022-10-14 21:43] magszymanski commented on #13075
@trishreimer finally wrote the final comms. Can you please review?  Now I'm working on non-ministry and ministry emails but they will be similar.

[2022-10-14 22:02] yuisotozaki commented on #13764
Design added to include the Account and Log In contact number.
This goes at the bottom of "Start a B.C. based Business and keep Business Records up to date" marketing page.

[2022-10-14 22:39] yuisotozaki commented on #13766
@janisrogers Did you already have a design for adding help on this page?

[2022-10-14 22:59] janisrogers commented on #13766
There is a design in this ticket #10673
Take a look and see if it meets your needs.

[2022-10-14 23:28] magszymanski commented on #13076
@trishreimer heres the ministry one

[2022-10-14 23:31] RFK250 opened #13923 "UI Design - MHR Search Outputs - Lessee / Lessor owners"
## Notes
From: Merlino, Sharon CITZ:EX <Sharon.Merlino@gov.bc.ca>
Sent: October 14, 2022 9:42 AM
To: Murray, Kyle CITZ:EX <Kyle.Murray@gov.bc.ca>
Subject: MHR - Lessor and Lessee ownership

Good morning Kyle,
While I had this open in my procedure manual, I wanted to touch base with you for some clarification on this ownership as we had all discussed before and I could not give you a clear response

[2022-10-14 23:32] RFK250 commented on #13923
@tlebedovich @forgeuxGH5 Tagging you, created this ticket

[2022-10-15 00:04] lekshmimallika-aot commented on #13917
This is now completed

[2022-10-15 11:53] seeker25 commented on #13662
I've changed this on user login, it will either add or remove their org after login. This should make it much easier to manage.. otherwise any new staff accounts (freshly granted staff role in keycloak), will have to manually be added to the staff org - which is a pain.

[2022-10-16 19:27] dimak1 commented on #13820
@RFK250 I think this ticket is quite complex. There is a lot of work just to add _new_ Groups to the _existing_ Groups, let alone implement Group deletion. I suggest breaking it down into two tickets (Add Groups & Delete Groups).

[2022-10-17 02:38] yuisotozaki commented on #13766
@sarahelz19 Janis has a design in 10673 that has expandable help section that take the users to the respective ID providers (Services Card and BCeID).
If we added the MAXIMUS number on this page, they will get calls from people who want to setup BC Services Card and/or BCeID. Do you think we can leave the MAXIMUS number off of this page? Ticket 13764 and 13765 shows the MAXIMUS number in the conte

[2022-10-17 15:29] fareenr commented on #13725
Also consider update of banner to state available now (instead of Oct 24)

[2022-10-17 15:41] sarahelz19 commented on #13766
@yuisotozaki @janisrogers The requirement is to add the link for account creation page on this page, as it has all the instructions for an end user. The number is to be included on the Account Creation page

[2022-10-17 15:45] sarahelz19 commented on #13764
@Y

[2022-10-17 15:45] #13764 closed

[2022-10-17 15:48] sarahelz19 commented on #13764
@yuisotozaki the inclusion of the number was for every page that has this contact banner displayed

[2022-10-17 15:55] lambert-alex opened #13924 "Edit UI: should not be able to file change without completing the certify section"
**Describe the bug in current situation**
When changing or editing a firm a Firm you can submit the changes without certifying the filing

**Impact of this bug**
Users can file changes without certifying their submissions

**Chance of Occurring (high/medium/low/very low)**
High

1. Log into Dev as Staff or User
2. Select a SP or GP and select "View and Change Business Information"
3. Change some i

[2022-10-17 15:59] RFK250 commented on #13820
Okay, thanks @dimak1 , let's do that. Which aspect (delete or add) is in your opinion faster to achieve? We can make this ticket into that aspect, and I'll make a new ticket for the other one.

[2022-10-17 16:03] #13753 closed, assigned to severinbeauvais

[2022-10-17 16:04] #12965 closed

[2022-10-17 16:07] droberts27 commented on #13547
@argush3 @riyazuddinsyed Looks good.  event 101651353 is missing which is correct.  Not sure what the DRAFT correction is at the top of the page.  Is this an existing issue?  Should it be an issue?

[2022-10-17 16:11] argush3 commented on #13547
@droberts27 The draft correction is something someone created after FM0517163 was data loaded.  You won't see this in PROD.

[2022-10-17 16:12] janisrogers commented on #13766
@sarahelz19 Can we meet this afternoon?

[2022-10-17 16:16] severinbeauvais commented on #13764
Oh I see -- the implementation will be in #13765.

[2022-10-17 16:18] #13612 closed

[2022-10-17 16:18] #13846 closed

[2022-10-17 16:21] #13776 closed

[2022-10-17 16:21] #13565 closed

[2022-10-17 16:22] #13913 closed

[2022-10-17 16:22] #13547 closed

[2022-10-17 16:23] #13917 closed

[2022-10-17 16:28] fareenr commented on #13794
14-Oct - new Nov 2 release date is being proposed, awaiting confirmation from ESRA project team and BC Registries home team for IT support.

Updated email iwith Nov 2 release date saved here:
https://docs.google.com/document/d/1SP9wM12nPHn2qwbUhERwR-Hn5Zi-coHi/edit?usp=sharing&ouid=108001163913555862413&rtpof=true&sd=true

[2022-10-17 16:33] Mihai-QuickSilverDev opened #13925 "Unable to affiliate a firm where the proprietor is a corporation"
[https://app.zenhub.com/files/157936592/e8ee8940-5bdb-4854-b8a5-5fdd3d79d8b5/download](https://app.zenhub.com/files/157936592/e8ee8940-5bdb-4854-b8a5-5fdd3d79d8b5/download)As per this error included below, the affiliation is reading the corporation name from fields that are reserved to people's names: first name, last name, middle name. There is another area in the database where the corporation n

[2022-10-17 16:34] #13888 closed

[2022-10-17 16:34] #13774 closed

[2022-10-17 16:37] Mihai-QuickSilverDev opened #13926 "Test - complete one affiliation task"
To Do List:

 - [x] Load in test one affiliation file where one account manages 300+ firms.
This will allow us to test how the ledger works with a high data load.
Will upload the affiliation file here.

[2022-10-17 16:37] #13575 closed

[2022-10-17 16:40] jdyck-fw commented on #13872
Yet to confirm business requirement here.

[2022-10-17 16:44] severinbeauvais commented on #13582
Does this ticket need a sprint or release tag?
cc: @jdyck-fw

[2022-10-17 16:51] tlebedovich commented on #13161
@forgeuxGH5 - tagging you here to review with Doug

[2022-10-17 16:54] #13584 closed

[2022-10-17 16:57] #13583 closed

[2022-10-17 16:58] #13572 closed

[2022-10-17 16:58] #13556 closed

[2022-10-17 17:01] argush3 commented on #13575
This actually went out in entities release 14.6b.  cc: @jdyck-fw @severinbeauvais

[2022-10-17 17:16] chdivyareddy commented on #13771
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/93088a9d-c554-4b0e-a543-d2e31a400931)

[2022-10-17 17:18] forgeuxGH5 commented on #13766
Hey folks - I think the issue is understood, but just a comment on process - requirements shouldn't specify a design - they should describe the issue we're a facing - they should describe the "what" ("why" is also helpful, as is any contextual information). The designer will figure out the "how".

[2022-10-17 17:44] JohnamLane opened #13927 "Open Business Registry API to accept all SP/GP filings in production"
List of tasks to make this happen...

[2022-10-17 17:48] #13816 closed

[2022-10-17 17:51] chdivyareddy commented on #13471
@RFK250 Can we prioritize this ticket, as it is blocking to file an MHR registration when a Country other than Canada is selected, the postal code is not validated, thanks!!

[2022-10-17 18:07] chdivyareddy commented on #13634
Verified!

Registration Number: 150253

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ed24bf33-2487-4c1c-a2e1-06affff67146)

[https://app.zenhub.com/files/157936592/f3613434-c150-4c49-87ba-e79d22162808/download](https://app.zenhub.com/files/157936592/f3613434-c150-4c49-87ba-e79d22162808/download)

[2022-10-17 18:22] RFK250 commented on #13471
@chdivyareddy Is this issue what's blocking us from submitting registrations? Regardless, I would say make a bug ticket. The validation needs to be ignored for non-Canada addresses, regardless of whether or not the lookup is in place.

[2022-10-17 18:28] chdivyareddy commented on #13471
@RFK250 This issue is only happening only for non-Canada addresses. Sure, will log a bug ticket, thanks:)

[2022-10-17 19:02] RFK250 commented on #13820
Okay, I'll make that ticket. Thanks @dimak1 !

[2022-10-17 19:04] RFK250 opened #13928 "UI - Support the owner groups and combinations in a transfer filing (delete owner groups)"
## AC
GIVEN I'm a qualified supplier
WHEN I want to delete existing owner groups
THEN The group ID is clearly defined in the payload

## Notes
- See the original ticket #13820 for original context

        @RFK250 after talking to Cameron, he also agrees that we should break it down and take out Groups Deletion into its own ticket, which will be tackled after Owners Deletion.

_Originally posted b

[2022-10-17 19:25] sarahelz19 commented on #13060
- [ ]  SP/GP Registration Forms - uploaded and complete
- [ ]  SP/GP Change Forms - uploaded and complete
- [ ] SP/GP Dissolution Forms - uploaded and complete
- [ ] SP/GP Correction Form - **new new** uploaded and complete @gprimeau please provide the new form #
- [ ]  Fee's updates - e.g. No Change Filing fee - No Dissolution fee
- [ ]  Confirm fee's have been finalized (including filing fee if

[2022-10-17 19:26] sarahelz19 commented on #13060
- [ ]  SP/GP Registration Forms - uploaded and complete
- [ ]  SP/GP Change Forms - uploaded and complete
- [ ] SP/GP Dissolution Forms - uploaded and complete
- [ ] SP/GP Correction Form - **new new** uploaded and complete @gprimeau please provide the new form #
- [ ]  Fee's updates - e.g. No Change Filing fee - No Dissolution fee
- [ ]  Confirm fee's have been finalized (including filing fee if

[2022-10-17 19:27] sarahelz19 commented on #11251
Confirmed with John Lane - no updates to the Search form

[2022-10-17 19:27] #11251 closed

[2022-10-17 19:39] severinbeauvais commented on #13914
My local testing:

#### Office Addresses

Before (labels are bold + labels and inputs are wrong color):
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/ed645b1b-21a7-47dc-bebf-8db51250b5eb)

After:
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/751e5f77-7932-439e-95df-d1f9fc800594)http://localhost:8080/businesses/edit/FM0272482/conversion

###

[2022-10-17 19:50] #13611 closed

[2022-10-17 20:01] forgeuxGH5 commented on #13860
@doug-lovett I had a look at the sample outputs - I'm concerned that users could be confused/mislead if a printed report is separated and someone only reads a sub-report. So I'd recommend we do some changes to indicated the main/sub-report status. I'll mock these up but wanted to let you know where we were at - maybe see what you think about the feasibility/effort for these:

**Sub-reports (refere

[2022-10-17 20:18] severinbeauvais commented on #13872
@Mihai-QuickSilverDev Should staff be able to change Business Start Date in a conversion (and should it reflected in the database, outputs, etc)?

[2022-10-17 20:41] doug-lovett commented on #13860
@forgeuxGH5 the Sub-reports changes are feasible. For the parent report, I am not sure about the start and end dates of registrations. Do you mean the date of the first registration in a sub-report, and the date of the last registration within a sub-report? Or the date range of all registrations (search results across all sub-reports)?

And the threshold to switch to this format is 700 registratio

[2022-10-17 20:55] RFK250 opened #13929 "Add MHR to specific PPR user in keycloak ahead of Thursday"
- [ ] On Thursday Oct 20 afternoon, ahead of 1:30 meeting, add the MHR product in Keycloak in production to the account for BCeID wkbpike

[2022-10-17 20:56] RFK250 commented on #13916
Closing as won't do - solution is to have org create a single new account for the single user.

[2022-10-17 20:56] #13916 closed

[2022-10-17 21:08] Mihai-QuickSilverDev commented on #13925
Excel file with plenty of examples added to the description of this ticket.
@lewischenstudio

[2022-10-17 21:13] lewischenstudio commented on #13925
@Mihai-QuickSilverDev Thank you for the details.

[2022-10-17 21:36] forgeuxGH5 commented on #13860
The former - date of first registration and date of last registration in a sub-report.

[2022-10-17 21:48] argush3 commented on #13834
@riyazuddinsyed part of this ticket would have been tested when you were testing #13241.  The most recent update I did to the filer was to ensure the dissolution date selected via the UI is use by the filer.  To confirm this happens, you can file a voluntary dissolution against a SP or GP and confirm the dissolution date shows up in the ledger info.

**Example of voluntary dissolution with Oct 1st

[2022-10-17 21:52] chdivyareddy opened #13930 "MH Registration - Navigation/Data Retaining issue"
## AC

GIVEN I am an MH staff user
WHEN I start filing a Manufactured Home Registration and enter all the details in the steps
AND navigate to the dashboard by clicking on the Cancel button without saving
THEN the previous data should not be retained when I start filing a new registration
AND the Home Owners 'Add a Person/ Add an Organization' buttons shouldn't be hidden

**Current Behavior:**
Whe

[2022-10-17 21:52] fareenr commented on #13906
17-Oct - Anne-Marie indicated they do not have enough staff/ resources to test Site Reg

[2022-10-17 22:04] argush3 commented on #12918
@droberts27 I've tried processing a few of these firms where the event is ADFIRM and no filing but I'm seeing that firms have corp party entries without end events.  One example is below.  I added the end event id for corp_party_id 100573047 and the SP/GP pipeline was able to successfully process it.  Are you able to fix all 17 of these firms for the next extract?

![image.png](https://images.zenh

[2022-10-17 22:16] JohnamLane commented on #13792
Will be resolved once all Solr updates and re-indexing is setup.

[2022-10-17 22:40] severinbeauvais commented on #13872
### Test Notes

Please verify the following: (I have checked these locally)

1. Verify that change filing doesn't allow changing Business Start Date.
2. Verify that correction filing allows changing Business Start Date (Correct button).
3. Verify that conversion filing allows changing Business Start Date (Change button).
4. Verify that correction filing shows red bars if Business Start Date is inv

[2022-10-17 22:55] lewischenstudio commented on #13925
Steps to replicate the error dialogue:
1. Log in as a client user
2. Add an Existing Business or Name Request -> Add Business
3. Under "Proprietor or Partner Name", Enter the business number and the "firm's name" (important)
.
@Mihai-QuickSilverDev and I walked through this ticket and found the solution below:
Instead of adding the firm's name, use the corporation' name that owns this firm.
.
Firm

[2022-10-17 22:56] Mihai-QuickSilverDev commented on #13925
Yes, I was trying it wrong the whole time. This functionality works as designed. Nothing left to do.
This ticket can be closed.

[2022-10-17 23:05] severinbeauvais commented on #13872
Filings you can test with (in Dev):
- [change of business info](rehttps://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/edit/FM1014816/change/?change-id=138999)
- [record conversion](https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/edit/FM1014816/conversion/?conversion-id=139000)
- [register conversion](https://business-create-dev.apps.silver.devops.gov.bc.ca/busin

[2022-10-17 23:12] chdivyareddy opened #13931 "MHR Registration - Mailing Address issue (and PPR address issue)"
## AC

GIVEN I am BC Registries Staff with the keycloak group Assets_Staff
WHEN I am in the Manufactured Home Registration step 2 Submitting Party and step 3 List Home Owners
AND if the mailing address is Canadian or non-Canada in step2 and step3 from the Canada post lookup
THEN the postal code should be validated without any error message

**Note: This has been described as also resolving the sam

[2022-10-17 23:20] RFK250 opened #13932 "API - Display unit notes only to staff"
## Description
Unit notes currently appear in all search outputs, however they should be only visible to MH Staff and (TBC) SBC Location Staff outputs.

## AC
- [ ] Do not pass unit notes to the outputs generated and displayed to any user that is not MH Staff or SBC Location staff

[2022-10-17 23:25] tlebedovich commented on #13932
@RFK250 @PatrickAHeath - Please fill in the requirements. Some unit notes can be seen by the public, some can't. And need to confirm if "staff" also includes SBC Staff in addition to BC Reg staff.

[2022-10-17 23:52] #13929 closed

[2022-10-18 00:02] sarahelz19 commented on #13766
@forgeuxGH5 - did you have a question? I'm not sure what your note is meant to indicate? Please reach out if you need clarification.

[2022-10-18 03:44] forgeuxGH5 commented on #13766
@sarahelz19 No question - just wanted to clarify that requirements shouldn't specify a design.

happy to chat about the difference between requirements and design specifications - but the solution we arrive at may or may not be a link in the top portion of the page

[2022-10-18 04:24] forgeuxGH5 opened #13933 "UI DESIGN - Sub-Reports for PPR Search Results with more than 700 registrations"
## Final Visual Design Comps:
https://projects.invisionapp.com/share/EM1324R64VBS#/screens?browse

#### Wireframes
https://preview.uxpin.com/60716361167121b10b4db77a3412862190f2d471#/pages/159238884

**UI (new ticket needed)**
Add message to UI that reports over 500 registrations will display multiple sub-reports

[2022-10-18 04:30] forgeuxGH5 commented on #13757
^ working as intended

[2022-10-18 15:08] sarahelz19 commented on #13766
@forgeuxGH5 why don't you set up a meeting for us to discuss... well aware of the difference, but making the request on behalf of senior management. I'm available later this afternoon if that works for you too.

[2022-10-18 15:16] doug-lovett opened #13934 "MHR API recent updates to support UI registrations"
- [x] update and publish spec https://bcregistry-demo.apigee.io/docs/mhrproxy/1/overview
- [x] update schema
- add documentRegistrationNumber, registrationType to support report and registry dashboard requirements
- add ownerId to owner
- add interestDenominator to ownerGroup
- [x] update API
- Return an ownerId in the new MH registration and transfer responses
- For legacy registrations derive th

[2022-10-18 15:29] chdivyareddy opened #13935 "Assets: Sprint 15.2.1 Release"
**Ticket Naming Convention:** Example: Assets: Sprint 14.1.1 Release (1st release in Sprint14.1)

**Prior to moving into production, the following steps should be completed or confirmed:**
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft relea

[2022-10-18 15:32] chdivyareddy opened #13936 "Assets: Sprint 15.2.2 Release"
**Ticket Naming Convention:** Example: Assets: Sprint 14.1.1 Release (1st release in Sprint14.1)

**Prior to moving into production, the following steps should be completed or confirmed:**
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft relea

[2022-10-18 15:35] droberts27 commented on #12918
@argush3 FM0055113 If I "close off" corp_party_id 100573047 then the sole prop will have no owner.  The owner should be MING COURT HOTEL (VANCOUVER) LTD.  I notice the prev_party_id is wrong.  Would the following fix your problem:
update corp_party set prev_party_id=null where corp_party_id=101840777
optionally also:
update corp_party set prev_party_id=101840777 where corp_party_id=100573047

[2022-10-18 15:39] chdivyareddy commented on #13757
@forgeuxGH5 Thanks for confirming:)

[2022-10-18 15:42] RFK250 opened #13937 "Sprint Goals 15.5"
1. As staff I can input location types and legal descriptions for Strata, Indian Reserve and Other.
2. As staff, I can launch a search output which is complete (excluding unit notes).
3. Back-end work for Registration Table filter and sort.

[2022-10-18 15:44] severinbeauvais opened #13938 "Filer: Unable to display "IA" (or Reg) after paying"
_(If this is a duplicate ticket, please close the ticket with the least helpful information.)_

This was seen during a demo in Test. This has been seen previously while paying for a registration using a BCOL account but in this case it was a CC payment.

After clicking Exit, the My Business Registry page was able to show the completed registration (now a Firm).

Probably, clicking Retry would have

[2022-10-18 15:50] argush3 commented on #12918
I think `update corp_party set prev_party_id=null where corp_party_id=101840777` will work.  I'll need to test that.  Will get back to you once I test this against the pipeline.

[2022-10-18 16:26] davemck513 opened #13939 "Onboarding Ketaki Deodhar"
**Onboarding checklist for new team members**

This should be created at least a couple of days before a new member comes on board.

**IDIR**
- [ ] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [ ] Submit to IT Operations Support. This form should be emailed to the Registries Executive As

[2022-10-18 16:30] tlebedovich opened #13940 "API - Updates for Fractional Ownership"
Display Report Interest Value to title case.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/a7df3fe7-0f4a-4454-9345-cb512f67ce2c)

[2022-10-18 16:32] tlebedovich commented on #13940
@dimak1 @forgeuxGH5 @RFK250 @doug-lovett - I created a new UI ticket for this here. AC should be confirmed with dev during grooming and not sure if this also needs a separate API ticket or if one has already been created.

[2022-10-18 16:47] RFK250 commented on #13940
Nicely written @tlebedovich, thanks for taking a good first cut at that.

@dimak1 Does it make sense to you for this to go into the next sprint while you're working on the delete owners piece?

[2022-10-18 16:51] severinbeauvais commented on #13938
Sample error:

![Clipboard - October 18, 2022 8_50 AM.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/fb8ba6f2-4928-4856-aeff-bd939dbe032f)

[2022-10-18 16:55] tlebedovich commented on #13940
I have linked the API ticket as a blocker

[2022-10-18 17:04] dimak1 commented on #13940
@RFK250 you can decide what's the priority. I can work on this next spring if there are no blockers.

[2022-10-18 17:42] ozamani9gh commented on #13939
Github ID:  ketaki-deodhar

I have sent invites to bcgov-registries openshift access
I have sent RocketChat invite

I have given the following access in github:
bcgov/entity
bcrs-shared-components
bcgov/business-create-ui
bcgov/business-edit-ui
bcgov/business-filings-ui
bcgov/lear
bcgov/sbc-auth
bcgov/sbc-pay
bcgov/sbc-common-components

[2022-10-18 17:52] Ashna-FreshWorks opened #13942 "Business number not showing in business summary for Proprietor/partner."
Expected:
![image.png](https://images.zenhubusercontent.com/6266dce4f20b9d122add4d61/01846a21-b520-4f9c-bc45-a5d6376d8d07)

Current behaviour:
![image.png](https://images.zenhubusercontent.com/6266dce4f20b9d122add4d61/629bc2c3-9cfd-434e-9485-78f0a7632a9b)

Steps to re-produce:
1. Submit an SP/GP NR.
2. Approve the NR
3. Use the NR to register
4. Add a business as partner / proprietor
5. Complete r

[2022-10-18 17:54] RFK250 commented on #13940
@dimak1 I guess that's really the question - in your opinion, is the delete owners piece a blocker that needs to done first, or on the other hand is it possible that it's quicker to do delete owners and this ticket concurrently? It may be a moot point while the API ticket is blocking this one.

[2022-10-18 17:58] severinbeauvais commented on #13767
This ticket needs to be kept open until the SP/GP deployment on Oct 24 (since it contains the list of FFs that need to be updated).

[2022-10-18 18:01] janisrogers opened #13943 "Update to show Act entity is dissolved under"
This is a request from the Search Team.

They would like the act that an entity is dissolved under displayed on the dashboard and / or search output (eg COS). This might need a policy decision. This should probably also be shown in entities if we implement it.

[2022-10-18 18:01] dimak1 commented on #13940
@RFK250 both tickets have dependencies on other work. Let me connect with Cameron and Doug to see which one would be done sooner, so I can continue with the work. This ticket should still be groomed by the team.

[2022-10-18 18:05] janisrogers opened #13944 "Summary and confirmation of order before payment"
Staff request for a summary before payment (like an "are you sure you want to order this" prompt)

[2022-10-18 18:10] RFK250 commented on #13940
For sure, sounds good - thanks @dimak1

[2022-10-18 18:14] tlebedovich commented on #13940
@forgeuxGH5 - please confirm the UI updates make sense to include for both staff registration and qualifying supplier transfer

[2022-10-18 18:20] RFK250 commented on #13136
Great work @dimak1 @tlebedovich and @chdivyareddy !!!

[2022-10-18 18:20] #13136 closed

[2022-10-18 18:23] #13757 closed

[2022-10-18 18:23] RFK250 commented on #13757
Thanks @ChasBoucher @forgeuxGH5 and @chdivyareddy !

[2022-10-18 18:23] #13634 closed

[2022-10-18 18:27] forgeuxGH5 commented on #13940
I think the updates make sense for staff and QS

[2022-10-18 19:51] #13817 closed

[2022-10-18 20:13] fareenr commented on #12158
18-Oct - just got final confirmation and approval of info from John L. Posted on Discourse that business search API data will be avail Oct 24.  Registry filings API will not be available yet.

Also sent email to John and Thor to confirm API issues response and escalation for go live prep.

[2022-10-18 20:25] severinbeauvais commented on #13767
Note: This morning I fixed the Create UI Prod LaunchDarkly configuration in 1Password -- it was using the Test client key instead of the Prod client key!

Also I discovered that users who enable "do not track" in their browser will not be recognized by LD and will therefore not receive targeted feature flags.

Also I successfully tested that a user in the target list (Trish) received the enhanced

[2022-10-18 20:51] severinbeauvais commented on #11382
@seeker25 Is this ticket now obsolete? :smiley:

[2022-10-18 20:56] severinbeauvais commented on #13663
Some cleanup has already been committed to main branch (in #6168).

There is outstanding work in this branch/PR: https://github.com/bcgov/business-filings-ui/pull/390

THIS ticket should complete the above work.

[2022-10-18 20:57] severinbeauvais commented on #6168
@jdyck-fw Some work was done, and committed/merged, in this ticket. There is a follow-on ticket. Can we close THIS ticket?

[2022-10-18 21:25] owillborn commented on #13727
@tlebedovich I'm at the point where the component behaves as it should in the second screenshot from your comment.
When a user goes to add a person after having this validation flagged, should the red border extend all the way up the "Add Owner" form? I'm assuming so. Here is a screenshot of what I'm referring:
![image.png](https://images.zenhubusercontent.com/6317b356e1c2473749d0e67b/df38a3fc-f2d

[2022-10-18 21:26] severinbeauvais commented on #13127
Alex, is this still a bug?

[2022-10-18 21:30] severinbeauvais commented on #11044
This is a special case. Your bookmarked URL is Create UI. Normally if there is an error resuming the draft IA, you would go back to entity dashboard (Filings UI). However, in this case, you deleted the draft IA, which deletes the "temporary business" -- Filings UI was unable to load it so it redirected you one level up (the Business Registry home).

How would you like this work in the normal, and

[2022-10-18 21:31] lambert-alex commented on #13127
Yes it is.

[2022-10-18 21:37] tlebedovich commented on #13727
@owillborn - Well, technically the table that gets pushed down to the bottom when the user clicks an Add Owner button should be visually separated with 20px of the light gray background colour from the Add form window, for some reason they are visually connected, but really they are two different things. But in any case, you can keep the red bar error for that empty table to just stay within the t

[2022-10-18 21:51] seeker25 commented on #11382
I want to say yes..

[2022-10-18 21:56] severinbeauvais commented on #10649
This bug may have been fixed when corrections were refactored (esp to account for completing party) over the summer. This needs to be verified and closed if obsolete!

[2022-10-18 22:06] doug-lovett commented on #13860
Updated cover/summary page attached below.[https://app.zenhub.com/files/157936592/6deeada2-0e96-4123-84f9-79fac5e6c07f/download](https://app.zenhub.com/files/157936592/6deeada2-0e96-4123-84f9-79fac5e6c07f/download)

[2022-10-18 22:11] tlebedovich commented on #13818
@dimak1 - nice work, moving along to RFQA

[2022-10-18 22:11] forgeuxGH5 commented on #13860
@doug-lovett I created a design ticket as a blocker above - right now it's just wireframes but @tlebedovich will talk about getting visual design comps in there for you

[2022-10-18 22:18] #13760 closed

[2022-10-18 22:18] RFK250 commented on #13760
Great work, thanks team!

[2022-10-18 22:24] lekshmimallika-aot opened #13945 "Fix failing test in the filer"

[2022-10-18 22:24] lekshmimallika-aot opened #13946 "Fix failing test in the filer"

[2022-10-18 22:31] RFK250 commented on #13860
@forgeuxGH5 This would be a good one to present at PO-Design Sync tomorrow I think.

[2022-10-18 22:36] severinbeauvais commented on #13487
### Test Notes

Minimum table height example (short window)
![image](https://user-images.githubusercontent.com/10002889/196557702-05595e69-0512-4f8a-9975-d9d3aef1bf64.png)

Minimum table height example (tall window)
![image](https://user-images.githubusercontent.com/10002889/196557785-171b3965-4b54-4a8d-83b3-53a67f0b8358.png)

Example with few items
![image](https://user-images.githubusercontent.c

[2022-10-18 22:36] #13735 closed

[2022-10-18 22:36] RFK250 commented on #13735
Great work team! :)

[2022-10-18 22:41] RFK250 opened #13947 "UI - Update MHR/PPR in-app title"
## AC

- [x] Change instances of "Manufactured Home and Personal Property **Registry**" to "Manufactured Home and Personal Property **Registries**" - see notes below for instances identified by Kevin

Scott and Tracey only know of one instance:
- Search section heading - change from Manufactured Home and Personal Property Registry Search change to -  Manufactured Home and Personal Property Registr

[2022-10-18 22:42] RFK250 opened #13948 "UI - Update in-app title"
## AC (Task)

- [ ] Update affected pages with the title according to #13947

[2022-10-18 22:53] chdivyareddy commented on #13710
Verified!

- When the Home Owners are deleted in step3, then the Review & Confirm screen is working as expected:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/78dbb9ab-7ad8-413e-91cd-4cc9430f192b)

[2022-10-18 22:59] argush3 commented on #13926
@Mihai-QuickSilverDev 300 firms have been affiliated with account 2003(AC affiliations test account, BCREG0029) - https://test.bcregistry.ca/business/auth/account/2003/business?accountid=2003 via the affiliation script.

[2022-10-18 23:05] severinbeauvais commented on #13487
I also tested in Firefox - looks great.

[2022-10-18 23:47] #13834 closed

[2022-10-18 23:48] #13554 closed

[2022-10-18 23:48] #13897 closed

[2022-10-18 23:48] #13946 closed

[2022-10-18 23:49] #13925 closed

[2022-10-18 23:49] #13914 closed

[2022-10-19 03:10] dimak1 commented on #13818
@chdivyareddy merged fix to the `main` branch, we can verify tomorrow.

[2022-10-19 05:20] Mihai-QuickSilverDev commented on #13926
Test was very successful.
- The loading of the 300 records on the dashboard page is almost instant.
- Navigation is also quick and easy.
- Information on page looks good and easy to read.

This ticket was a complete success and I am moving it to Done.

[2022-10-19 05:20] #13926 closed

[2022-10-19 15:35] JohnamLane opened #13949 "Issue sandbox and prod key for RBC Ventures - Ownr account # 3963"
This high priority client is in progress signing the API terms. In the meantime, Kaine has OKed the issuing of their keys so their development is not blocked.

The intention is to allow them to gain access to sandbox for development efforts and to production in order to submit SP registration as soon as possible

[2022-10-19 15:56] severinbeauvais commented on #10649
I verified that this bug no longer happens.

[2022-10-19 16:01] #13710 closed

[2022-10-19 16:03] #13615 closed

[2022-10-19 16:05] JohnamLane commented on #13912
already implemented elsewhere

[2022-10-19 16:05] #13912 closed

[2022-10-19 16:13] severinbeauvais opened #13950 "Filings UI: broken formatting for draft Change of Company Information"
It looks like something is being aligned in columns instead of rows:

https://dev.bcregistry.ca/business/BC1230074

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/46382b63-ce23-41db-be78-5439fe889282)

\*\* While in this area, check other filings that may display a detail section. \*\*

[2022-10-19 16:16] JohnamLane commented on #13766
To be implemented in 10673 since Janis and Sarah have syned up

[2022-10-19 16:16] #13766 closed

[2022-10-19 16:16] jdyck-fw commented on #13766
Closing this as a duplicate - Dave reached out to John and there is another ticket in which this work is being completed.

[2022-10-19 16:22] chdivyareddy opened #13951 "MHR - Fix Registration and Transfer Submission"
- [x] When a user tries to submit transfer with transfer details, then the UI throws an error with status code 400.

**Error Message:**

[code]

**Expected Behavior:**
The user should be able to file a transfer successfully when all the details are entered correctly. This should also be applied to registrations.

[2022-10-19 16:24] RFK250 opened #13952 "UI - Validations + Hide the fee summary and payment buttons while no home owners change"
## Description
If no owners are added or removed, then the fee summary bar and buttons should not be visible to the user.

## AC
GIVEN I am a qualified supplier
WHEN I navigate to the transfers page
THEN The fee summary bar and buttons are not visible

GIVEN I have made a change (i.e. added or removed a home owner or group) to the home owners table
THEN The fee summary bar and buttons become visib

[2022-10-19 16:27] magszymanski commented on #13570
@fareenr do you want me to repurpose this tix to the Oct 24 update for the banner or do you have a new one for that? If so, can we close this?

[2022-10-19 16:27] #13076 closed

[2022-10-19 16:28] #13075 closed

[2022-10-19 16:45] lekshmimallika-aot commented on #13942
@Ashna-FreshWorks There were some recent requirement changes where the BN number of a party will be stored at the business level. This is the info (either BN9 or BN15 after getting it from CRA) currently displayed at the top of the summary.  So we don't have to display the business number in the party section anymore. Only identifier is required for an organization party

[2022-10-19 16:45] #13942 closed

[2022-10-19 16:47] Mihai-QuickSilverDev opened #13953 "Filings UI: Restrict contact details for Conversion To-Do List message to client"
To do:

- [x] in Missing Information alert, conditionally show contact email address only (not phone numbers)
   - applies to firms only
- [x] add feature flag to enable/disable this (with fail-safe fallback, ie, don't show phone numbers by default)

[2022-10-19 16:48] RFK250 opened #13954 "UI - Show document reg number on table"

[2022-10-19 16:49] JohnamLane opened #13955 "Sprint 15.2 Objectives"
Major releases:
- October 24th SP/GP + Search
- Nov 1/2 Sites (%90 confirmed, UAT in progress)
- Oct 25/26 IDIM beta

Holidays or vacations?
No holidays
vacations?

Goals:
Account creation page
Critical Solr infrastructure setup
Doc service to GCP
BNI REST API
Support Ownr with basic info
Pay API bugs
Back end Coop Special Resolution

[2022-10-19 16:50] argush3 opened #13956 "Affiliate SP/GPs in Prod"

[2022-10-19 16:52] RFK250 commented on #13824
Closed as not needed

[2022-10-19 16:52] #13824 closed

[2022-10-19 16:57] RFK250 commented on #13928
Closed as not needed

[2022-10-19 16:57] #13928 closed

[2022-10-19 16:59] RFK250 opened #13957 "UI - Review and confirm yellow message bar"
## AC
- [x] Update view title and intro text for review and confirm
- [x] Implement important yellow message bar

[2022-10-19 17:01] lambert-alex opened #13958 "Edit UI: Cannot file BEN Staff Correction"
1. Make a BEN correction (staff error)
2. Correct office information
3. Enter detail and staff payment
4. Observe that "File and Pay" remains grayed out

[2022-10-19 17:04] RFK250 opened #13959 "UI - Authorization component"
## AC
GIVEN I'm a qualified supplier
WHEN I review my transfer of ownership
THEN I am required to confirm my authorization
AND I can't submit if I don't

## Note
- Re-use as is from PPR (ask Cameron or Doug)

[2022-10-19 17:05] RFK250 opened #13960 "UI - Confirm completion component"
## AC
GIVEN I am a qualified supplier doing a transfer
WHEN I review my transfer of ownership
THEN I am required to confirm completion
AND I can't submit if I don't

## Notes
- Mostly static information

[2022-10-19 17:07] RFK250 commented on #13905
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13905?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @dimak1 @doug-lovett @owillborn

[2022-10-19 17:08] fareenr opened #13961 "Post on discourse for BC Online business search outage times and availability of APIs exact time (target due Oct 20)"

[2022-10-19 17:10] fareenr commented on #13961
19-Oct - awaiting confirmation from John or Mags on exact timing.
BC Online will be down Fri Oct 21 at 5 pm.
BC ROS will have business search and SP/GP registrations and filings avail Mon Oct 24th at 8:30 am.  (Need confirmation of API avail time, if avail on Sunday evening after regular Pay API outage)

[2022-10-19 17:11] RFK250 commented on #13959
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13959?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @dimak1 @doug-lovett @owillborn

[2022-10-19 17:15] RFK250 commented on #13960
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13960?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @dimak1 @doug-lovett @owillborn

[2022-10-19 17:15] #13815 closed

[2022-10-19 17:18] JohnamLane opened #13962 "Unblock Ownr's development"
- [x] sandbox key issued
- [x] provide sample postman collection
- [ ] other tips on how to use the api (validation only flag)

[2022-10-19 17:19] magszymanski opened #13963 "OCM - Ask SRE to update orange banner that Business Search and SP/GP is now live: Due: Oct 24"
@fareenr please ask SRE to have the banner updated on October 24 from what it is now to:

New Business Search and Business Registry filings are now available. Learn more.

The learn more link remains the same:
https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-other-assets/learn_more_about_the_october_24_l

[2022-10-19 17:20] #13570 closed

[2022-10-19 17:23] trishreimer commented on #12992
What's the status of this?

fyi @Maribeth-Wilson

[2022-10-19 17:24] RFK250 commented on #13848
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13848?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @dimak1 @doug-lovett @owillborn

[2022-10-19 17:24] severinbeauvais commented on #13487
**Additional requirement(s):**

- in example 4 above, more items must be displayed -- user will need to scroll to see footer (old code shows up to 5 items before restricting table height)

[2022-10-19 17:25] #13026 closed

[2022-10-19 17:25] sarahelz19 commented on #13026
Duplicate ticket see 13060

[2022-10-19 17:26] sarahelz19 commented on #12960
Duplicate ticket?? @magszymanski should I close this?

[2022-10-19 17:27] sarahelz19 commented on #12992
@tri

[2022-10-19 17:28] sarahelz19 commented on #12992
@trishreimer @Maribeth-Wilson  I have reviewed with Ops/Business staff and have a draft process that I did a walkthrough with Business staff at their standup this morning ![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/ca801153-10b7-48c2-b1bf-ab623ffeda8b)

[2022-10-19 17:29] sarahelz19 commented on #12992
@trishreimer @Maribeth-Wilson
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/31f0178c-8f10-4b4c-979c-70946a5683a3)

[2022-10-19 17:29] severinbeauvais commented on #13487
Blocked -- needs UI design.

@yuisotozaki

[2022-10-19 17:30] sarahelz19 commented on #12992
@trishreimer @Maribeth-Wilson
A ZEN HUB ticket with link to google sheet for future requirements/known issues & workarounds
https://docs.google.com/spreadsheets/d/1I-aA5Hq1EwdbK59IQ6vTcv3XLCXHYG3BrLtDUuYs00c/edit#gid=0

[2022-10-19 17:33] #13195 closed

[2022-10-19 17:38] magszymanski commented on #12960
Ah yes, defs a duplicate. Im closing it now.

[2022-10-19 17:38] #12960 closed

[2022-10-19 17:41] sarahelz19 commented on #12986
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/71074977-73bc-427e-9380-f8ada70f841c)

[2022-10-19 17:46] chdivyareddy commented on #13669
Hey @ChasBoucher , Can you please move this ticket to Done when you have time, thanks!!

[2022-10-19 17:49] RFK250 commented on #13814
Closing as addressed in #13821

[2022-10-19 17:49] #13814 closed

[2022-10-19 17:57] RFK250 opened #13964 "UI - Transfers - Undo buttons for changes to groups and owners in home owners table"
## Description
This adds undo buttons for changes (i.e. add or remove) the home owners component. It may make sense to break this ticket up into multiple tickets.

Including all error handling/validation

**Visual Design Comps with Undo + error examples:**
https://projects.invisionapp.com/share/TA132VUK8ZJB#/screens?browse

[2022-10-19 18:00] doug-lovett commented on #13934
If testing registrations/transfers with postman, tenants in common (COMMON type) ownerGroups have a new required property interestDenominator. For example:
  "addOwnerGroups": [
    {
      "groupId": 3,
      "owners": [
        {
          "individualName": {
            "first": "JOHN",
            "middle": "STEVEN",
            "last": "CONNOLLY"
          },
          "address": {

[2022-10-19 18:14] ozamani9gh commented on #13631
NAMEX API Release went into PROD this morning.   Ticket can be closed

7849 - 1password keys integration and cleanup
13312 - Namex API: remove Edit action once NR is approved
13013 - Namex: error validation incorporation number
12422 - Turn Sentry Off by using SENTRY_ENABLE FLAG instead of SENTRY_DSN
11538 - Update NameX API to allow Auth UI to retrieve multiple NRs in one POST call
12807 - Names

[2022-10-19 18:17] RFK250 opened #13965 "API - MHR Search Outputs - Update location according to design"
## AC
GIVEN We get a search report request
THEN We will display the information as per the UI design ticket

## Visual Design
- BW and Colour versions of Location Types -- > https://projects.invisionapp.com/share/9Y132E3NWFND#/screens?browse

[2022-10-19 18:19] pwei1018 opened #13966 "Namerequest UI: email validation"

[2022-10-19 18:21] severinbeauvais commented on #13953
NB: This will be restricted for firms generally in the Missing Information alert only, for the following reasons:
1. in this scenario, there will automatically be a Conversion todo item in the list
2. the Conversion todo item doesn't show any contact details
3. only staff can see the Conversion todo item

Ie.
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/82e28e1a-14a6-

[2022-10-19 18:29] fareenr commented on #13963
19-Oct - emailed heads up and ticket request for Patrick Wei and Doug to deploy banner text update at 8:30 am PST on Mon Oct 24

[2022-10-19 18:47] JohnamLane commented on #13949
Shared info with client.

[2022-10-19 18:47] #13949 closed

[2022-10-19 18:56] chdivyareddy commented on #13854
Verified, working as expected!

**Combined Search:**
[code]

**MHR Search:**

[code]
Combined Search 012345
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a083f1f7-0844-47f2-b639-ac05a7a24211)

MHR Search Commonwealth
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/85f09162-1b72-45bf-b39c-f378188911d2)

[2022-10-19 19:01] severinbeauvais commented on #13953
### Test Notes

At the moment, the feature flag is enabled (show phone numbers) in Dev, and disabled in Test and Prod.

You can use this firm for testing in Dev: https://dev.bcregistry.ca/business/FM0613561

[2022-10-19 19:02] RFK250 commented on #13907
@ChasBoucher Can you please put an appropriate estimate on this? Thanks!

[2022-10-19 19:27] argush3 commented on #12918
@droberts27 `update corp_party set prev_party_id=null where corp_party_id=101840777` works.  I've loaded FM0055113 into DEV.  Take a look when you have a minute.  I will take a look at the remaining 16 firms.

[2022-10-19 19:31] severinbeauvais commented on #13953
I tested this in Dev with the flag enabled and disabled.

@riyazuddinsyed LMK if you want me to toggle the flag for you in Dev or Test.

@sarahelz19 @Mihai-QuickSilverDev Please make THIS ticket a blocker for the follow-up ticket to restore the phone numbers.

[2022-10-19 19:45] severinbeauvais commented on #13958
This does not duplicate for me.

[2022-10-19 19:47] severinbeauvais commented on #13958
This does not duplicate for me.

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/a4ed7bcf-73ac-41cc-9afe-6aea122e25b9)
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/7ece99f4-f43e-4b93-ae15-d634b4b78ead)
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/ebcfc7fa-3013-4d04-abf9-c9cfa4061e3e)
![image.png](https://images.

[2022-10-19 19:49] severinbeauvais commented on #13958
I reproduced this when making a STAFF correction (works fine for CLIENT correction).

[2022-10-19 20:03] fareenr commented on #13963
Doug will update banner in prod on Mon Oct 24 at 8.30 am

[2022-10-19 20:04] stevenc987 opened #13967 "SFTP SP/GP report from openshift to Pimento for ICBC"
SFTP SP/GP report from openshift to Pimento for ICBC

DBA from home team will merge this report with the home team data on Pimento. Then send the merged report to ICBC

[2022-10-19 20:09] seeker25 commented on #12261
Needs to be rewired through Launch Darkly and not an environment variable

[2022-10-19 20:10] fareenr commented on #13794
19-Oct - Env is 70% sure of Nov 1/2 release...asked us to wait until Oct 20 so that they can confirm UAT issues can be fixed or resolved, before publicizing that date.

[2022-10-19 20:31] argush3 commented on #12918
@droberts27 I've loaded FM0416637 & FM0445808 into DEV too.  I've set the prev_party_id to null in a similar fashion to FM0055113.  Let me know if these two changes work.  If so I'll test the remaining firms and provide the update sql for each firm.

FM0416637 - `update corp_party set prev_party_id=null where corp_party_id=102948418`
FM0445808 - `update corp_party set prev_party_id=null where corp

[2022-10-19 21:05] chdivyareddy commented on #13818
Verified Transfer details component. Submission will be verified in #13951

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d3220667-767f-4537-9e52-9774d66799b4)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/3f0e0a1e-44ca-4b53-bb91-beac540b0725)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/3def37ca-d070-4bd1-9d

[2022-10-19 21:08] seeker25 commented on #13205
To add more to the confusion.. I think when you're logged in with multiple accounts.. it uses the BCOL information to prepopulate cross account I think..

Which is a bug I believe

[2022-10-19 21:16] droberts27 commented on #12918
@argush3 FM0416637 & FM0445808 have the correct owner

[2022-10-19 21:19] lekshmimallika-aot commented on #13673
The code for BETA tag is already in place. The feature flag must be enabled in all environments

[2022-10-19 21:19] fareenr commented on #13794
Mod news post draft saved here: https://docs.google.com/document/d/1iwdJTgdkQ6DS4dUrl_JilU7tjBE5KybAK4zmUdqKPL4/edit?usp=sharing

[2022-10-19 21:20] #13906 closed

[2022-10-19 21:21] fareenr commented on #13793
19-Oct - John communicated this in well-attended final touchpoint meeting for Business APIs release. Connectivity testing is avail for Business Search and SP/GP in Prod now.

[2022-10-19 21:22] fareenr commented on #13835
19-Oct - Env is 70% sure of Nov 1/2 release...Haley S will email Dani and myself with final confirmation. asked us to wait until Oct 20 so that they can confirm UAT issues can be fixed or resolved, before publicizing that date.

[2022-10-19 21:23] fareenr commented on #13343
17-Oct - blocked my errors on save for joint tenancy, group of owners option so cannot save new registration in Test env. Assets team working on fixing this week.

[2022-10-19 21:24] fareenr commented on #11928
May need to update MH Search quick guide with current screenshots of MH Search once pilot start date is avail. for external piloters for MH Search.

[2022-10-19 21:25] yuisotozaki commented on #13872
Verified in dev. Ready for QA.

[2022-10-19 21:25] droberts27 commented on #12918
@argush3 FM0055113 looks good too!

[2022-10-19 21:27] JohnamLane opened #13968 "Certify block must be editable for SBC staff on the change filing"
The SBC agents are completing the following SP/GP filings as of the October 24th release
- Registration (working)
- Change
- Dissolution (completing party editable, but please blank it out by default)

Example:
FM1011735 - change filing in Test

GIVEN I am a member of the SBC government agent account (BRTEST4 in test)
WHEN I launch an SP/GP change filing
THEN on the confirmation screen, Certify bl

[2022-10-19 21:55] argush3 commented on #12918
@droberts27 ok, thanks for confirming.  I will update the rest and push things up to test for you to verify.

[2022-10-19 22:14] lekshmimallika-aot commented on #13673
@janisrogers The tool tip currently shown for businesses is like

![image.png](https://images.zenhubusercontent.com/5d1b92287dbee07d2cfbebf7/c5083933-c287-4de0-beac-b39730d6c3f2)

Is the text correct? Search is available for all business types

[2022-10-19 22:18] severinbeauvais commented on #13966
Proposed solution: create a bcrs-shared-component service that will call the [MillionVerifier API](https://www.millionverifier.com/solutions/verify-new-emails-in-real-time).

Then import and use this service in Namerequest (and any other UIs that need it - separate tickets).

[2022-10-19 22:24] RFK250 commented on #13818
Thanks @dimak1 @tlebedovich and @chdivyareddy !

[2022-10-19 22:24] #13818 closed

[2022-10-19 22:27] severinbeauvais commented on #13958
@davemck513 Do you want this fix in before Oct 24 (Release 15.1a) or is after OK?

[2022-10-19 22:27] severinbeauvais commented on #13958
@davemck513 Do you want this fix in before Oct 24 (Release 15.1a) or is after OK?

cc @argush3

[2022-10-19 22:35] severinbeauvais commented on #13958
Verified in Dev.

[2022-10-19 22:41] tlebedovich commented on #13933
@doug-lovett - added the visual design comps here, but scott is going to run it by Kevin first.

[2022-10-19 22:56] tlebedovich opened #13969 "UI Design - MHR Registration Table"
- initiating a transfer
- viewing registrations in table
- saving a draft transfer
- parent/child
- user feedback when a registration/transfer/draft is added to the table

### Visual Design Comps:

https://projects.invisionapp.com/share/E412WW5FKGYX#/screens?browse

[2022-10-19 23:06] janisrogers commented on #13673
You're right, sorry I missed that. Must have been from MVP before we pivoted. I think we can remove the tool tip entirely.

[2022-10-19 23:07] yuisotozaki commented on #13875
Verified in dev. Ready for QA.

[2022-10-20 00:08] dimak1 commented on #13951
Found the issue for MHR Transfer submission. Discussed with Cameron and we'll use his fix for it.

[2022-10-20 00:09] seeker25 commented on #13205
Had a chat with Jenny - figured it out:

Two bugs

1) Explained above in the ticket

Different bug:

2) When logged in with another account that has BCOL, the “current account” details bleed over to the “new account”

[2022-10-20 00:11] seeker25 opened #13970 "AUTH-WEB - BCOL Account info bleeding over to new account"
1. Login with BCOL Account
2. Go to Create new Account
3. Navigate to the BCOL link screen  - 3 - Account Information - Press Yes for want to link this account
4. Switch between existing BCOL account and non BCOL account
5. You'll notice the BCOL linked details are turning on and off.

Expected - the new account shouldn't have any relation to the old account
Actual - the new account has details fr

[2022-10-20 00:42] tlebedovich commented on #13703
@cameron-freshworks - UXA

- [ ] missing the Unsaved changes modal prompt when I click cancel button after making a change to owners or Transfer Details - same as PPR unsaved changes modal - (its listed in the AC above)

- [ ] missing Delete modal when clicking "Delete Draft" from table button (same one used in PPR - design comp - https://projects.invisionapp.com/share/E412WW5FKGYX#/screens/469661

[2022-10-20 00:44] tlebedovich commented on #13161
@RFK250 - we ran out of time to review so far - if you want to move this along, we can do UXA as a separate spin off UXA ticket if you want to create a new one and leave it in this column?

[2022-10-20 00:46] severinbeauvais commented on #13536
@seeker25 Is this something done in the Pay db?

[2022-10-20 01:01] Mihai-QuickSilverDev commented on #13536
If the charge is dealt with in a different module, our code needs to tell that module what filing type to use, as per the above. BEN IA would be a good reference point to check how charging is invoked.
Pay admin is more like a table where the charges are described and stored - the application needs to select from Pay Admin  the appropriate charge row for the appropriate filing type.

[2022-10-20 01:11] tlebedovich commented on #13877
@cameron-freshworks UXA:

Note: There was not an existing Joint Tenants or a working Tenants in Common registration in the table that I was able to use to test the deleting of owners and/or groups so I wasn't able to fully test this at all. Please create some new test JTs and TICs so we can fully test the removal of all existing owner types for UXA/Testing.

I found one TIC MHR 150242 but the data

[2022-10-20 02:15] severinbeauvais commented on #13536
A BEN IA correction makes the following call:
GET https://pay-api-dev.apps.silver.devops.gov.bc.ca/api/v1/fees/BEN/CRCTN

And receives the following response:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/f1ffa20e-232d-4a1c-ba43-c042a6a85925)

Do you expect something different than this?

[2022-10-20 02:21] Mihai-QuickSilverDev commented on #13536
This is correct. This ticket was initiated by @lmcclung noticing that the BEN IA correction was displaying no charge.
I will test again Thursday morning and update this ticket accordingly.

[2022-10-20 02:25] severinbeauvais commented on #13536
A BEN IA correctly may show Total Fees = $0.00 if you select the staff payment "No Fee" option (as I often do).

[2022-10-20 02:57] dimak1 commented on #13820
@tlebedovich thanks for the initial review.

Just keep in mind, the Delete Group functionality is not in this ticket, only the Adding Groups. Delete will be completed in another ticket. As for the good data, I will try to create a new Registration in clean/good state.

[2022-10-20 04:13] thorwolpert opened #13971 "legal-api: incorporations/registrations should allow for POST completion (v1 service)"
This is pointing to the V1 service and should be moved to V2, so that a POST of a valid incorp/reg that is complete and not draft/validate only can complete.

https://github.com/bcgov/lear/blob/main/legal-api/src/legal_api/resources/v2/business/business.py#L127

[2022-10-20 11:02] trishreimer commented on #13358
have we completed this for Search?
Sp/gp?

[2022-10-20 11:02] trishreimer commented on #12994
What is the status?
Have we posted forms early and shared with corp supervisors?

[2022-10-20 11:03] trishreimer commented on #13042
let me know if you need any assistance with the comms.

[2022-10-20 11:03] trishreimer commented on #13028
What is the status of this request?

[2022-10-20 11:04] trishreimer commented on #13027
What is the status of this request?

[2022-10-20 11:04] trishreimer commented on #13025
What is the status of this request?

[2022-10-20 11:07] trishreimer commented on #12975
Was this training provided? @pwei1018

[2022-10-20 11:08] trishreimer commented on #12868
let us know if any assistance is needed with this project

[2022-10-20 14:07] gprimeau commented on #13025
@trishreimer easy to remove the day of golive.. will take seconds to do.

[2022-10-20 15:30] magszymanski commented on #12994
Holding off for now - Gen, can you review the forms to make sure there are no typos or extra periods? Thanks!!

[2022-10-20 15:54] RFK250 commented on #13161
Thanks @tlebedovich - I'll do that, as I'd like to move it along minus the large reports.

[2022-10-20 15:55] RFK250 opened #13972 "UXA for PPR documents generated via the new report API"
## Description
This ticket is just the outstanding UXA on #13161 so we can advance that ticket through QA.

        @RFK250 - we ran out of time to review so far - if you want to move this along, we can do UXA as a separate spin off UXA ticket if you want to create a new one and leave it in this column?

_Originally posted by @tlebedovich in https://github.com/bcgov/entity/issues/13161#issuecommen

[2022-10-20 15:55] magszymanski commented on #13358
Too late to UAT. John is confirming that all BCOL staff have access to search. Closing tix

[2022-10-20 15:55] #13358 closed

[2022-10-20 16:00] RFK250 commented on #13161
@chdivyareddy Please note: This ticket should be QA'd only for non-large reports, and UXA is still to do but there's a separate ticket #13972 for that.

[2022-10-20 16:04] yuisotozaki commented on #11044
We want to match the user's expectation, UI labels, and the results.
In this case, if we can detect the missing draft UI, can we relabel the "Return to dashboard" to "Return to My Business Registry"?

[2022-10-20 16:47] yuisotozaki commented on #11382
I don't have a test SBC IDIR account to test in dev.
From the comment thread, this ticket seems ready for QA.

[2022-10-20 16:57] cameron-freshworks commented on #13877
@tlebedovich The removal of groups is captured in ticket #13821

The latter is a bug for sure, fixed in current commit!

[2022-10-20 17:02] cameron-freshworks commented on #13877
Will work on getting a stable data set to make UX easier.
Hopefully we can do so via UI.

[2022-10-20 17:52] severinbeauvais opened #13973 "VERIFY: Some firms have lost their business start date and now require conversion"
1. open the dashboard for a firm that previously had a business start date (*)
   eg, https://dev.bcregistry.ca/business/FM1000407?accountid=2288 (BCREG0020)
2. observe that there is a Missing Information alert
3. open the same firm as staff
4. observe that there is a conversion todo item, which says a start date is required:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf

[2022-10-20 17:53] Mihai-QuickSilverDev commented on #13505
To revisit after report implementation is done.

[2022-10-20 17:55] seeker25 opened #13974 "PAY-API - Incorrect amount charged if Non-zero fee, but zero service fee"
Thank you @lekshmimallika-aot for finding this one again

PAY-API - Incorrect amount charged if Non-zero fee, but "zero" service fee (column not empty):

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/d4b2919d-af16-4942-9f28-f73b132ac5dc)

Account didn't have any account_fees setup to override this.

FRREG was set to $40 fee, $0 service fee (with an explicit service fee

[2022-10-20 18:14] severinbeauvais commented on #11044
The subject dialog is displayed in case of any error "handling the draft application" (or registration), including:
- error checking authorizations
- error fetching the filing (the subject scenario) - but this may be due to various factors including data not found or a network error
- error building the filing object
- error parsing the filing object

It would be possible to make the dialog more s

[2022-10-20 18:35] argush3 commented on #13956
@Mihai-QuickSilverDev seems like there are a bunch of issues in your 1st batch of firms to affiliate.  I'm trying to import into a table I used to track affiliations and I have a combinations of fields(account id and business identifier) to determine if the affiliation is unique.  I'm seeing a bunch of duplicate entries.  For example, I'm seeing FM0573508, FM0573506, FM0573561, FM0573505 flagged a

[2022-10-20 18:46] #12202 closed

[2022-10-20 18:46] #13028 closed

[2022-10-20 18:46] #12345 closed

[2022-10-20 18:46] #13027 closed

[2022-10-20 18:46] #12338 closed

[2022-10-20 18:46] #11531 closed

[2022-10-20 18:46] #11532 closed

[2022-10-20 18:46] #12348 closed

[2022-10-20 18:46] #13417 closed

[2022-10-20 18:46] #13793 closed

[2022-10-20 18:46] #13317 closed

[2022-10-20 18:46] #11710 closed

[2022-10-20 18:46] #12846 closed

[2022-10-20 18:46] #11843 closed

[2022-10-20 18:46] #13528 closed

[2022-10-20 18:46] #12158 closed

[2022-10-20 18:46] #12557 closed

[2022-10-20 18:46] #12724 closed

[2022-10-20 18:46] #13418 closed

[2022-10-20 18:46] #13107 closed

[2022-10-20 18:46] #12146 closed

[2022-10-20 18:46] #12725 closed

[2022-10-20 18:46] #12150 closed

[2022-10-20 18:46] #12718 closed

[2022-10-20 18:46] #12717 closed

[2022-10-20 18:46] #11870 closed

[2022-10-20 18:46] #12156 closed

[2022-10-20 18:46] #12145 closed

[2022-10-20 18:54] chdivyareddy commented on #13709
Verified the 'Edit' button functionality from the dashboard, additional changes will be verified in the future ticket 13703

- When the user clicks the 'Save and Resume Later' button, the draft is added to the dashboard:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/fef313c3-8611-4f70-93cf-664064603469)
- When the user clicks the 'Edit' button from the dashboard:
![ima

[2022-10-20 18:59] magszymanski commented on #13359
Closin as this has been completed.

[2022-10-20 18:59] #13359 closed

[2022-10-20 19:00] magszymanski commented on #13043
Closing tix as it's a duplicate of 12994

[2022-10-20 19:00] #13043 closed

[2022-10-20 19:15] sarahelz19 commented on #11245
@trishreimer @Maribeth-Wilson
Final NOTE: pre-go live a known issue was raised by the Relationships Team -
Service BC will be unable to process sPGP Change and Dissolution
Day 1 - Status Quo Process will continue (scan forms and payment and send to BC Registries for Processing
Agreement on process between Crystal Smith (Service BC ) & Megan Fedora (BC Registries)
I will open a net new ticket - to

[2022-10-20 19:15] #11245 closed

[2022-10-20 19:16] sarahelz19 commented on #13549
All sessions for Search Training concluded as of Oct 20, 2022
To include Service BC, BC Registries/BCOnline

[2022-10-20 19:16] #13549 closed

[2022-10-20 20:24] RFK250 opened #13975 "Ability for a qualified supplier with PPR access to pilot MHR products"
## User Story
Front of house: As a qualified supplier who has been invited to pilot MHR products, I need to be able to view them in a production environment so I can participate in the pilot.

Back of house: As the Registrar, I need to be able to allow a qualified supplier I have invited to the pilot to view the MHR product in production without giving access to other accounts so that the pilot ca

[2022-10-20 20:29] seeker25 opened #13976 "PAY-API - Closing routing slips in CAS/CFS - aging 8 buckets"
Routing slips that make it to complete need to have: "Close receipt - Receipt Adjustment" applied to them.

Otherwise they remain open in CFS.

Background:
In reviewing the aging 8 buckets spreadsheet, it was noticed that many of the RS# in the list had manual transactions added to them. It's very likely that transactions added in this manner are not being applied to the receipt in CAS as expected

[2022-10-20 21:01] RFK250 opened #13977 "Ability for SBC government agents to pilot MHR search and MHR/PPR Combo Search"
## User Story
GIVEN I am a SBC government agent
WHEN I log on to the modernized business registry and choose the Assets dashboard
THEN I see both MHR Search and PPR search

[2022-10-20 21:13] severinbeauvais opened #13978 "LEAR - removing pre-existing company provisions doesn't work"
_NB: This ticket has a lot of history. For more clarity, I have deleted the irrelevant comments below - SB_

#### Use Case
AS an owner of a corporation
WHICH has a Pre-Existing Condition (PEC) in COLIN
I NEED TO see the indicator in the modernization application
AND I NEED TO be able to remove it through an Alteration (Change) filing

#### To Do

Severin:
- [x] verify cannot add company provisions

[2022-10-20 21:14] Mihai-QuickSilverDev commented on #13536
@severinbeauvais That might be a problem, as only Staff can do Corrections, and there is a mandatory $20 charge for BEN IA corrections.
Staff will have to be trained to ALWAYS apply the $20 charge. But then, how is Staff going to pay on behalf of clients?

[2022-10-20 21:19] forgeuxGH5 commented on #13947
@RFK250 I don't think we need wireframes or comps - we just need to update the text as above

[2022-10-20 21:28] RFK250 commented on #13975
@JohnamLane @zac-broitman Could you please look at the Notes section in this ticket, especially point 4., and comment on whether or not you see any obvious reason why our attempt to add MHR to an existing external PPR user with BCeID didn't pan out? We were unable make it happen today despite the knowledge and best efforts of @pwei1018 @cameron-freshworks and @doug-lovett . Thank you for any insig

[2022-10-20 21:28] seeker25 commented on #13250
This should be a bit different perhaps if they're looking at the PREMIUM flag that has now changed to SBC_STAFF or STAFF.

[2022-10-20 21:32] seeker25 commented on #13536
Good point.. I think they can put in BCOL credentials / Routing Slip there?

Usually clients pay Cheque or Cash to fund Routing Slips

[2022-10-20 21:46] JohnamLane commented on #13975
@RFK250 Can you please add the BCROS account # to this ticket? (not the user/login)