[2021-08-25 16:14] tlebedovich commented on #8461
@doug-lovett @jordiwes - was this your ticket? noone was assigned but Kial said he wasn't working on it.

[2021-08-25 16:33] jyoti3286 commented on #8594
This ticket is being covered as part of 7821. @rarya-freshworks - Please validate along with 7821

[2021-08-25 16:34] jdyck-fw commented on #8565
@SateeshFW - Can you figure out if this gets tagged to one of your planned releases? Sumesh has some context on it.

[2021-08-25 16:38] jdyck-fw commented on #8569
Cam is addressing this in other tickets

[2021-08-25 16:39] #8569 closed

[2021-08-25 16:41] chdivyareddy commented on #8557
Need to clarify on whether Middle Name should show up in the search result or not.

[2021-08-25 16:48] SateeshFW commented on #8716
A flow diagram with multiple swim lanes is required in the document.

[2021-08-25 16:51] PatrickAHeath opened #8722 "PPR - Update Invoice Descriptions for Activities"
When a fee code is submitted for an activity in PPR (Search, Registration, Amendment, Discharge, Renewal) an invoice description is included which is displayed for each Transaction associated with the account.

For Search, the search type and parameters are included in the description.

Update the others as follows:
Discharge: “Discharge Registration: base_registration_number”
Renewal: “Renew Regi

[2021-08-25 16:55] jdyck-fw commented on #8609
This applies to all of the UIs. The estimate is with the assumption it's simply an upgrade without issues.

[2021-08-25 16:57] mstanton1 commented on #7889
Prod review today shows Alora Regan and Tracy Wilton are now active team members.

An invitation for Christie Anderson is still showing in the Invitations tab, and an expired invitation for Alora Regan is in the team members tab that can be deleted.

I have sent a note to Nancy to confirm if the error for Christie well joining is the only outstanding issue and to ask if I may set up a call or meet

[2021-08-25 17:32] Kaineatthelab opened #8723 "Set up Page"
- [ ] include work from total discharge
- [ ] set up tests

[2021-08-25 17:43] Kaineatthelab opened #8724 "UI Renewal Date"
- [ ] Update current registration length for new editable values.
- [ ] Show RL summary based on designs
All specific rules will be in designs

[2021-08-25 17:52] jyoti3286 opened #8725 "FAS Design: Payment Processing"
- When a staff enters a routing slip In Business Registry and Names request to make a payment, messages need to be configured for staff support:

- RS consumed or not active
- Child RS - Return the parent Routing Slip in the message
- Not enough Balance - Return the balance amount in the message
- RS not found - has to be an exact match for processing payments
- Successful payment

Till the paymen

[2021-08-25 17:53] jyoti3286 opened #8726 "FAS design: Refunds and cancellations"
design required for:

- FAS Refunds
- Cancellations
- Reversals

Design:
(image in Figma)
https://www.figma.com/design/BRLFiH8ApQRkrQtfGcRUdn/Relationships?node-id=26476-493&t=U4XrX8VcXdNG4nmO-1

[2021-08-25 17:56] Kaineatthelab opened #8727 "API Update to Expiry calculation"
- [ ] Add 180 days to current expiry of repairers lien.
- [ ] Add renewal number of years to current expiry date if not infinite.

Are there any rules around extending the expiry date of a repairer's lien? Can x number of renewals be created immediately after creating an RL financing statement, resulting in an expiry date of 180 + (x * 180) days?

[2021-08-25 17:57] jyoti3286 opened #8728 "FAS Design: Error messages for Status transitions"
Staff user authority to change the status on RS should have error messages

Design:
(image in Figma)
https://www.figma.com/design/BRLFiH8ApQRkrQtfGcRUdn/Relationships?node-id=26476-470&t=gI2LRPVgxHqb5zHA-1

[2021-08-25 17:58] Kaineatthelab opened #8729 "UI Renew Page"
- [ ] Includes folio number
- [ ] Includes registering party
- [ ] Include tool tip for registering party (in page 2 of discharge)

[2021-08-25 18:19] tlebedovich opened #8730 "UI Design - Coops Step 3 and 4 updates"
- see additional updated required for dev ticket #7684

- Tracey is waiting on new sample Memorandum PDF to update the thumbnail graphic on Step 4 (will move forward with the one we have for now).

[2021-08-25 18:33] mstanton1 opened #8731 "BC Online vs Business Registry feature audit"
### Description
A feature audit is required to identify the features in BC Online and which of those have been implemented in the modernized business registry. The intent is to understand how far along we are in the project.

A similar task was completed comparing Name Request vs NRO. Sample attached below.

**Names Sample**: [https://app.zenhub.com/files/157936592/da231350-9da6-4450-8835-f850108f

[2021-08-25 20:06] jyoti3286 opened #8732 "[Design] Allow Option to Select Multiple Rejection Reasons for Affidavit"
* As BC Online Administration (account_creator group)
* I want the ability to select multiple affidavit account rejection reasons
* so that the email sent to the client lists all things that they must correct on their affidavit account request

**Acceptance Criteria**

**Scenario 1: BC Online Administration selects multiple affidavit account rejection reasons**
* GIVEN there is more than one issue

[2021-08-25 20:21] jyoti3286 opened #8734 "[Design] One Business Affiliation to multiple account"
Design for:
- How do we initiate the request(from owner to Lawyer)
- Add Business to Account
- Send an email with Passcode
- Affiliate another business with that passcode
- Search piece would need to change as the current search results are returned based upon affiliation to an account
- Legal API and other applications which uses the affiliation piece, would need to change to include the account

[2021-08-25 20:27] jyoti3286 opened #8735 "Multiple Admins for BCeID Account Types"
As an Admin of BCeID account, I should be able to invite others as an Admin
- The invited admin needs to go through the Affidavit process
- For the Affidavit process, the Staff has to review
- Staff has to review the person identity
- How it would look like under Team Member section
- How do Approval and rejections look like

Design:
https://preview.uxpin.com/8f791d63e9f493720a74760bf4afb0c464fe41

[2021-08-25 22:13] jyoti3286 opened #8736 "Ministry Government Accounts Onboarding"
This Epic is for onboarding Ministry gov Account users - SBC Service Agents

[2021-08-25 23:18] mstanton1 opened #8737 "Hide 'Deactivate Account Button' for staff without authorization"
### Description
Only staff with the account_creator group are able to complete account deactivation for Business Registry accounts. Currently the 'Deactivate Account' option displays regardless of the staff members keycloak groups.

Hide the 'Deactivate Account' button when the staff member does not have the account_creator group associated to their IDIR.

### Ops Process
- [ ] Add **Entity** or *

[2021-08-26 09:20] vysakh-menon-aot opened #8738 "UI - update cooperativeAssociationType to use key instead of value"
Expected enum key in schema:
- CSC: 'Community Service Cooperative'
- CP: 'Ordinary Cooperative'
- HC: 'Housing Cooperative'

[2021-08-26 15:34] Sienna-Blumstengel opened #8739 "RFC to define solution for composite PDF stamp"
### Background

Co-op incorporation requires the client to upload their rules and memorandum PDFs to the Registry.
The registry must then certify those documents. We would like to "certify" them by adding a "stamp" to the PDF.

We need to choose a service, and implementation, to add this "stamp" to the rules and memorandum documents.

### To do:
- [ ] @thorwolpert please fill in steps to complete

[2021-08-26 15:47] trishreimer opened #8740 "complete impact assessment for Incorporation Application - cooperatives"

[2021-08-26 16:20] PatrickAHeath opened #8741 "PPR Crown Charge and Misc Act Registrations - Wrong Fee Code being used"
**Describe the bug in current situation**
The $0 fee code for Crown Charge and Misc Act Registrations (NCREG) hasn't been created yet.  The current code is using a $5 one year fee code to allow the transaction to complete.  Once the fee code is created, modify the code to use NCREG.

**Link bug to the User Story**

**Impact of this bug**
Crown Charge and Misc Act Registrations are being charged $5

[2021-08-26 16:24] saravanpa-aot opened #8742 "director search duplicate users"
**Describe the bug in current situation**

ICBC reported a few users cant login to the application.
This was due to the same users have duplicate records in DB and the old records were linked to the org.

The duplicate ids cant be pasted here because user ids cant be revealed.  Please reach out to @pwei1018 or me for getting the records.

**Link bug to the User Story**

**Impact of this bug**
Desc

[2021-08-26 16:34] ghost opened #8743 "Update link in passcode email"
One of the links in our email sent to clients when generating a passcode or resetting a passcode is directing users to Corporate Online in error based on the URL. This needs to be updated.

Received from Cameron

[2021-08-26 17:49] riyazuddinsyed opened #8744 "Verify - Unable to pay for NR using BCEID."
**Describe the bug in the current situation**
When a user logs in with the BCEID which has a basic account and tries to pay for the NR then the user doesn't get redirected to the PayBc PAYMENT PAGE

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Chance of Occurring (high/medium/low/very low)**

**Pre Conditions: which Env, any pre-requesites o

[2021-08-26 17:57] sienna-oldaccountdontuse opened #8745 "Issues paying for Name Request with IDIR"
### Description

Kaine saw this

![error.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/638d6eef-bf05-4490-bc10-592871d6821c)

[2021-08-26 17:57] Kaineatthelab opened #8746 "Approval/Rejection Emailer Not Working"
Sent email to home team to investigate

Response
Thanks for the notice, Kaine.

IT Ops – please create an incident and assign directly to the BAs. Darci – I’ll want you to perform a quick test to confirm, then basically flip straight over to the devs for investigation.

Dave – FYI here. Work should be coming soon.

M

Michael Kagis

[2021-08-26 18:04] shabeeb-aot opened #8747 "update jest version"
## What is the problem?
* update jest util version

## What is the impact?
* keep up with latest version with unit test case

## Proposed solution
* update jest version and fix all test cases

[2021-08-26 18:23] cameron-freshworks opened #8748 "Removing the checks and filter we have now for manual affiliation of NR"
- [ ] Removing the checks and filter we have now for manual affiliation of NR.
- [ ] Affiliations response to include nr number ( to preserve this value ).
- [ ] Regression test EXISTING(OLD) dashboard.

[2021-08-26 19:23] kialj876 opened #8749 "synonym conflict list not showing certain NRs"
### Description
Some NRs not showing in conflict list
*NRs with the same name are being removed from the conflict list (so only one of them shows)*

### Details
- [x] figure out why this is happening and fix
*Remove duplicates based on id instead of the name in solr.py*

[2021-08-26 20:42] janisrogers opened #8750 "NRA Issue: payment incomplete, but payment received and processed on an examined NR - INC0106647"
### ServiceNow incident:
INC0106647
### Contact information
Staff Name: Jenn Weldon
Staff Email: Jennifer.Weldon@gov.bc.ca

### Description
I came across NR 9725069 which shows as “payment incomplete”, but the receipts confirm payment was processed, and the name was already processed and approved in Namex:
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/6d3f9437-df9e-402

[2021-08-26 21:03] chdivyareddy opened #8751 "UI Debtor - In Birthdate, Day & Year fields should only accept numbers"
**Describe the bug in current situation**
When Birthdate is entered in letters/characters, error message is not displayed

**Impact of this bug**
Low

**Chance of Occurring**
Low

**Steps to Reproduce:**
1. Navigate to step2 in security agreement.
2. Click on Add an Individual Debtor.
3. In the Birthdate component, enter letters/characters and click Done, it doesn't display any error message.

**E

[2021-08-26 21:04] #1219 closed, assigned to nobody

[2021-08-26 21:43] trishreimer opened #8752 "OCM test"
## Description:
- Short Description of the needed Epic in the below format

* As a (who/ person)
* I want (what/ goal)
* so that (why/ benefit proposal)
or
* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what is expected value and justification for priority.

----
* Start date when team will start to work on:

[2021-08-26 21:45] mstanton1 opened #8753 "Update URL in Passcode Reset Email"
### ServiceNow incident:
### Contact information
Staff Name: Cameron Wulff
Staff Email: Cameron.Wulff@gov.bc.ca

### Description
Note issue was raised through escalation to Carol.

In the passcode reset letter, if a client copies and pastes the URL provided (https://www.bcregistry.ca) they will be sent to Corporate Online. The client must actually click the link, or right mouse click to copy the h

[2021-08-26 21:49] trishreimer opened #8754 "Create Communications and Engagement plan"

[2021-08-26 22:11] mstanton1 opened #8755 "Invalid Authenticator Code message"
### ServiceNow incident:
### Contact information
Staff Name: Kellie Horler / Joanna Barnes
Staff Email:

Account: Canada/BC Business Services Society, Account Number 4145
Authentication shows bjfield@bceid.ca

Same client as 8591. Issue with account set up was resolved. Client is now experiencing error when trying to enter 2FA code to log on.

### Description
Hello Melissa,
I am now trying to set

[2021-08-26 22:29] #8745 closed, assigned to nobody

[2021-08-26 23:14] sienna-oldaccountdontuse opened #8756 "When part way through BCeID account creation, a client can attempt and fail at requesting a name"
### **Describe the bug in current situation**
When part way through BCeID account creation:

1. **(before uploading affidavit)**, a client can attempt to request a name, and then gets a mysterious error message that doesn't explain the reason for the failed name request.

2. **(before being accepted by the account admin)**, a client can attempt to request a name, and then gets a mysterious error m

[2021-08-27 16:06] Kaineatthelab opened #8757 "UI Design - Third Party Access MVP flows"
Create version 2 for access flows, conduct user research

[2021-08-27 16:09] Kaineatthelab opened #8758 "Beneficial Ownership"
**Owner**
Registrar

**Description**
The Personal Property Registry is a notice filing system which registers all of the encumbrances (e.g. mortgages, liens, debentures) created against personal property in British Columbia, whether it belongs to a corporation or an individual” (PPR website). PPR allows individuals and businesses to perform registrations more easily. This solution will be web base

[2021-08-27 16:10] Kaineatthelab opened #8759 "Apply UI Rules from the UI into the API"

[2021-08-27 16:37] jmills-cgi opened #8760 "Entities: Release Names Enhancements 10.5"
*Notes:*
- There was mention that the Names release is dependant on Solr and Lear releases concurrently. I have listed those tasks under the deployment steps as part of this release.

**This release includes:**
- [Namex API v1.1.3](https://github.com/bcgov/namex/releases)
- [Solr Names Updater v0.2.0](https://github.com/bcgov/namex/releases)
- [NRO Extractor Job (no version num)](https://github.co

[2021-08-27 16:57] mstanton1 opened #8761 "Release Notes Relationships Release August 30th"
### Description
Draft release notes for items to be released in the Relationships 10.4 release.

Tentatively Monday August 30th in the AM or 24 hours after the Names Team release. Note: intent is to stagger enough that if issues arise we can identify which release caused those and avoid extra work.

### Ops Process
- [ ] Add **Entity** or **Relationships** label to zenhub ticket
- [ ] Add **Ops**

[2021-08-27 17:16] PatrickAHeath opened #8762 "TMF Canada Inc (Acct 3268) - Link BCOL Account to BCROS Account"
### ServiceNow incident:  INC0106761
### Contact information
Staff Name:  Cheryl Hall
Staff Email:  BCONLINE@gov.bc.ca

### Description
Permission received from Primary User (PB873790  - Shammai Butcher ) to link BCOL Account 159070 to BCROS Account 3268 (TMF Canada Inc)

[https://app.zenhub.com/files/157936592/284b5449-2c44-42dc-93cf-a9a0b49e5d91/download](https://app.zenhub.com/files/157936592/2

[2021-08-27 18:14] #8762 closed, assigned to pwei1018

[2021-08-27 18:18] #8743 closed, assigned to nobody

[2021-08-27 19:08] Kaineatthelab opened #8763 "NameX update company when consumed"
Current COLIN updater needs to be updated/feature added to register companies into the conflicts core

[2021-08-27 19:57] andrepestana-aot opened #8764 "UI - Update major node version for UI apps"
As #8609 is a high priority, we updated the patch version so it will not cause major issues and solves the vulnerability.

When we have some availability it would good to update the major version - e.g. namerequest is using node 14 while atm there is a node version 16.

**Applications to update:**
- [ ] business-create-ui
- [ ] business-filings-ui
- [ ] business-edit-ui
- [ ] namerequest
- [ ] nam

[2021-08-27 20:52] PatrickAHeath opened #8765 "JONES EMERY HARGEAVES SWAN LLP - Single Name retrieved from BCOL Account"
### ServiceNow incident:  INC0106821
### Contact information
Staff Name:  Cheryl Hall
Staff Email:  BCONLINE@gov.bc.ca

### Description
Staff have an affidavit to approve that only includes the first name retrieved from the BCOL Userid.

[https://app.zenhub.com/files/157936592/e9edcc77-9e38-44e1-a066-f259bf5ba40f/download](https://app.zenhub.com/files/157936592/e9edcc77-9e38-44e1-a066-f259bf5ba40f

[2021-08-27 20:56] PatrickAHeath opened #8766 "JONES EMERY HARGEAVES SWAN LLP - Single name retrieved from BCOL Account"
### ServiceNow incident:  INC0106821
### Contact information
Staff Name:  Cheryl Hall
Staff Email:  BCONLINE@gov.bc.ca

### Description
Staff received notification to approve an affidavit but only the first name was retrieved from BCOL Account.

[https://app.zenhub.com/files/157936592/cf15482f-3af3-4b42-89ad-47c269589443/download](https://app.zenhub.com/files/157936592/cf15482f-3af3-4b42-89ad-47c2

[2021-08-27 21:22] PatrickAHeath opened #8767 "Registration - Misc. Reg. Act - Crown Charges MD/PT/SC"
Registration of the following:

- [ ] MD - Mineral Land Tax Act
- [ ] PT - Property Transfer Tax Act
- [ ] SC - School Act

See design ticket linked below with spreadsheet

- [ ] Addition of entries to the Registration Type table.  (these are new acts under the Miscellaneous Registrations Act that were not implemented in the legacy PPR application)

[2021-08-27 21:57] PatrickAHeath opened #8768 "OneStop - Some NR's resulting in errors"
### ServiceNow incident:  INC0105853
### Contact information
Staff Name:  Debbie Blythe
Staff Email:  Debbie.Blythe@gov.bc.ca

### Description

[https://app.zenhub.com/files/157936592/db884830-9314-4a8c-abf8-a82a48c6c16b/download](https://app.zenhub.com/files/157936592/db884830-9314-4a8c-abf8-a82a48c6c16b/download)

### Ops Process
- [x] Add **Entity** or **Relationships** label to zenhub ticket
-

[2021-08-27 21:58] PatrickAHeath opened #8769 "OneStop - Some NR's resulting in errors"
### ServiceNow incident:  INC0105853
### Contact information
Staff Name:  Debbie Blythe
Staff Email:  Debbie.Blythe@gov.bc.ca

### Description

[https://app.zenhub.com/files/157936592/db884830-9314-4a8c-abf8-a82a48c6c16b/download](https://app.zenhub.com/files/157936592/db884830-9314-4a8c-abf8-a82a48c6c16b/download)

### Ops Process
- [x] Add **Entity** or **Relationships** label to zenhub ticket
-

[2021-08-27 22:19] #8720 closed, assigned to nobody

[2021-08-27 23:00] #8522 closed

[2021-08-27 23:07] PatrickAHeath opened #8770 "NR5915923 - NR is displaying in Corp Num field in NAMEX"
### ServiceNow incident:  INC0106768
### Contact information
Staff Name:  Elizabeth Espinosa
Staff Email:  Elizabeth.Espinosa@gov.bc.ca

### Description
[https://app.zenhub.com/files/157936592/189fc97a-63f6-4b45-b83e-3df1e9225ef8/download](https://app.zenhub.com/files/157936592/189fc97a-63f6-4b45-b83e-3df1e9225ef8/download)

Steps to Reproduce:
•	If you do a change of name for a corp and get to th

[2021-08-27 23:10] Kaineatthelab opened #8771 "Name Request Change of Name - Needs proper validation"
•	If you do a change of name for a corp and get to the submission details screen
•	Start entering numbers then just press review and confirm right away while its trying to validate
•	You are able to pay….

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/a8310cb5-fd9f-469c-9187-55aa4ee4e3f7)

[2021-08-27 23:13] PatrickAHeath commented on #8770
I just recreated this.

•	If you do a change of name for a corp and get to the submission details screen
•	Start entering numbers then just press review and confirm right away while its trying to validate
•	You are able to pay….

Need a bug ticket so it doesn’t work until the number is validated.

Kaine Sparks

[2021-08-27 23:14] #8771 closed

[2021-08-28 00:01] chdivyareddy commented on #8453
Verified in DEV.

[2021-08-28 00:44] tlebedovich commented on #7560
@forgeuxGH5 - Please do a final review of the design comps and Court order hints
c/c @Kaineatthelab (might want to run court order hints by Kevin)

[2021-08-29 23:35] rarya-freshworks commented on #8756
I was able to confirm the Error message and it needs to be updated. Attached is the screen shot of Error Message showing which needs to be updated:![image.png](https://images.zenhubusercontent.com/60c91f395edfa51356f1accc/b6e454be-6b47-4b2e-8141-cdfbe2787d71)

[2021-08-30 01:01] rarya-freshworks commented on #8742
@pwei1018 @saravanpa-aot I tried to reproduce the issue in test env but wasn't successful. If possible can you provide steps on how to reproduce the issue.

[2021-08-30 05:22] thorwolpert commented on #7693
Completed

[2021-08-30 13:03] #8457 closed

[2021-08-30 13:04] #8498 closed

[2021-08-30 13:04] #8517 closed

[2021-08-30 13:15] #8201 closed

[2021-08-30 13:16] #8652 closed

[2021-08-30 13:16] #8583 closed

[2021-08-30 15:35] janisrogers commented on #8708
@Kaineatthelab Has this been discussed with staff?

[2021-08-30 15:43] tlebedovich commented on #7864
UX assurance feedback:

All Registrations:
- [ ] We need to be able to review a user changing a secured party, so we can check the functionality and UX assure this modal - @jordiwes - please advise
![Screen Shot 2021-08-30 at 8.36.47 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/25a6a907-57a8-446e-ab43-e735051fe3d4)

- [ ] Update intro text for secured party component to be

[2021-08-30 15:49] Kaineatthelab commented on #8708
Do you mean do they know it's fixed? @janisrogers

[2021-08-30 15:51] severinbeauvais opened #8772 "NR UI: need to prevent submission before corp num validation"
**Description**

The Namerequest UI corp num validation (last entry page before submit) can allow submission of the form before the corp num is validated. This allows users to submit a NR with an invalid corp num.

**Steps to Reproduce**
1. go to Namerequest
2. fill in fields for a change of name NR
3. on the last entry page, paste in an invalid corp num (eg, a NR number) and immediately click Rev

[2021-08-30 15:51] vysakh-menon-aot commented on #8290
@tlebedovich Please review the attached documents.

`Just confirming the Inc number - I thought Coop's numbers begin with a CP? I may be wrong and it may just be a sample number` - I have used sample data to generate these documents.
`we are missing all the BOLD text that we had in the design` - I have verified this. Its due to the BC Sans font loading issue. These texts are using BCSans-Bold
[htt

[2021-08-30 15:53] janisrogers commented on #8419
@jinghualicgi Dependency tickets have other information that should be added. Can we discuss?

[2021-08-30 15:56] tlebedovich commented on #7864
@PatrickAHeath - Just confirming some requirements with you;

For ALL of the above Misc Reg Act - Crown Charges registrations;

1) Confirming they are all limited to having to add a secured party with a SP code from a restricted list (no manual entry).
2) Will there be more than one secured party in the restricted list to choose from?
(Janis was thinking if there are cases where there is only one

[2021-08-30 16:05] sumesh-aot commented on #7644
Test Scenario:
- Create a PAD account
- Initiate a transaction - (preferably a name request)
- Initiate a refund
- Confirm the credit is applied on the account in Account Info
- Create another transaction
- Confirm credit is updated

[2021-08-30 16:10] janisrogers commented on #8708
@Kaineatthelab It sounds to me like it is not fixed, Kial's comment is that they can ignore the error. " I will try to figure out why the trademark call fails, but unless examiners rely on that tab it should be fine to ignore that popup for now. As for the 504 error, that is just a timeout error. The 404 was probably a timeout error getting mishandled as well (I tried that one just now and it succ

[2021-08-30 16:15] tlebedovich commented on #7865
UX assurance feedback:

**All Registrations:**
- [ ] We need to be able to review a user changing a secured party, so we can check the functionality and UX assure this modal - @jordiwes - please advise
![Screen Shot 2021-08-30 at 8.36.47 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/25a6a907-57a8-446e-ab43-e735051fe3d4)

- [ ] Update intro text for secured party component t

[2021-08-30 16:22] amit4610 commented on #8157
Link to document: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-4144

[2021-08-30 16:29] sumesh-aot commented on #8280
From @rkim13103 (https://chat.developer.gov.bc.ca/group/registries-relationships-team?msg=kHYfxDNrsskeNxW3q)

Below date time display have been changed as per the above comment,
- Team management UI - last active time
- Invitations UI - sent date, expires date
- Transactions UI - transaction date
- Deactivate UI
- PAD email
- CSV date time
- Statements CSV and PDF
- Receipt PDF
- Invoice PDF

[2021-08-30 16:31] ghost opened #8773 "Alteration to a Benefit Company - PACIFIC NORTHWEST TRANSPORATION SERVICES LTD. - BC1135604"
Alteration to a Benefit Company - PACIFIC NORTHWEST TRANSPORATION SERVICES LTD. - BC1135604

#### ServiceNow incident:
INC0107062

#### Contact information
Lance Hall

#### Description
ALTERATION FROM A LIMITED COMPANY TO A BENEFIT COMPANY

Good morning team,

I believe this is the correct information that you will need in order to start the process of the alteration to a Benefit Company.

Company

[2021-08-30 16:36] ghost opened #8774 "Alteration to a Benefit Company - WHITE PINE INVESTMENTS LTD. - BC0574790 ⚠️ URGENT"
Alteration to a Benefit Company - WHITE PINE INVESTMENTS LTD.  - BC0574790

#### ServiceNow incident:
INC0107063

#### Contact information
Lance Hall

#### Description
ALTERATION FROM A LIMITED COMPANY TO A BENEFIT COMPANY

Good morning team,

I believe this is the correct information that you will need in order to start the process of the alteration to a Benefit Company.  This client had expected

[2021-08-30 16:45] tlebedovich commented on #7865
@jordiwes - moving back to In progress

[2021-08-30 17:06] ghost opened #8775 "Alteration to a Benefit Company with Company Name Change - 1310050 B.C. LTD. - BC1310050 ⚠️ URGENT"
Alteration to a Benefit Company with Company Name Change - 1310050 B.C. LTD.  - BC1310050

#### ServiceNow incident:
INC0107072

#### Contact information
Lance

#### Description

_We don't actually need the form, since the client will use their NR in the alteration filing online themselves_

### ALTERATION TASKS - LTD/ULC > BEN:
- [x] [Check out this flow chart for the steps](https://drive.google.

[2021-08-30 17:12] thorwolpert commented on #8721
Job should:
- When sending an EXPIRED email, update the state of the NR to EXPIRED.
- Determine if it is a timely fix to
    - set the NR state to CONSUMED, for consumed names, and then dod not send EXPIRED emails (preferred solution)
    - or to just check the names to see if it has been consumed and do not send the EXPIRED notifications

[2021-08-30 17:14] argush3 commented on #8388
Reply from David Roberts:

[code]

[2021-08-30 17:27] tlebedovich commented on #7950
I believe this is completed so moving it to done @forgeuxGH5

[2021-08-30 17:37] PatrickAHeath commented on #7864
@tlebedovich
1.  Correct
2.  Which parties are included in the list will depend on how @doug-lovett and Bob make it work in the db (currently by BCOL Account Number in legacy application).  If there is just one, it would be good to just default it.  (if there's only one to select from, why require the user to select it?)

[2021-08-30 17:44] tlebedovich commented on #8557
@chdivyareddy
1) Yes middle names should  appear in the UI/PDF when available (blank if not).

2) We do need to come to an alignment on whether to show the First or Last names first for ALL the names because right now it is inconsistent throughout the UI and PDFs. @jinghualicgi Could you make a new UI Design ticket to look into this item separately?

[2021-08-30 17:58] tlebedovich opened #8776 "UI Design - Needing naming system for our output PDF Files"
Right now all of our outputs are using very obscure numbering for the names of the PDF outputs. It would be great if we had a proper naming convention system for all of our outputs. This would be across groups.

We would need to investigate what it possible from dev, and come up with a naming standard. (ie Appname_Number_CreationDate)

For examples - these are the names of the Coops outputs for th

[2021-08-30 17:59] tlebedovich commented on #8776
c/c @forgeuxGH5 @lmcclung @Kaineatthelab

[2021-08-30 18:05] tlebedovich commented on #8290
@vysakh-menon-aot - Sorry I just realized that we are missing the Inc Number line in the top tombstone area. Sorry I didn't catch this the first time. And then those three items should be vertically centred in the light gray area, as per this design comp:

![Screen Shot 2021-08-30 at 11.03.29 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/c2635f37-d4eb-4805-96c5-0463a1af3da5

[2021-08-30 18:08] tlebedovich commented on #8290
@vysakh-menon-aot - I will move this back to in progress but once you complete this additional item, please move this straight to Ready for QA, I don't need to see it again. Thanks!

[2021-08-30 18:19] chdivyareddy commented on #8004
Verified in DEV.

[2021-08-30 18:34] chdivyareddy commented on #8557
As per Tracey's comments, missing Middle Name in Search Results UI is an issue.
moving back to In Progress.

[2021-08-30 18:35] Sienna-Blumstengel commented on #8565
This has not moved from QA so it will be added to the next relationships release

[2021-08-30 18:37] Kaineatthelab opened #8777 "Receipts are stuck in pending for multiple days"
Receipts are stuck in pending for **multiple** days.
(PAD can be expected to be pending until 7pm when the transactions are processed).

Please investigate **NR 6956167**  (see receipt for that one below).

Also, reports that emails aren't going out for approved/rejected states in name request. Are they related? Maybe not.

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce

[2021-08-30 18:42] tlebedovich commented on #7864
@doug-lovett - Can you let us know if there will be any times for the Misc Crown registrations when there would only be a single secured party option to "choose" from? If that may be often be the case, let us know and we may want to design a "read-only" version of Secured Parties if it is needed.

c/c @forgeuxGH5 @Kaineatthelab

[2021-08-30 18:43] sumesh-aot commented on #8777
@Kaineatthelab This is a PAD payment and the receipts will be updated once we receive the reconciliation from CAS. So they should see the receipt tomorrow.

[2021-08-30 18:49] Kaineatthelab commented on #8777
This one is from Aug 24

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/07601c35-ad78-42d7-b329-16ada3726c24)

[2021-08-30 18:51] #8592 closed

[2021-08-30 18:51] #7980 closed

[2021-08-30 18:52] #8648 closed

[2021-08-30 19:06] chdivyareddy commented on #8004
Verified in TEST.

[2021-08-30 19:09] tlebedovich commented on #8730
@jdyck-fw This is waiting on a new sample Memorandum that I believe @Sienna-Blumstengel was going to gather from Genevieve.

[2021-08-30 19:22] #7018 closed

[2021-08-30 19:22] #8574 closed

[2021-08-30 19:23] Sienna-Blumstengel commented on #6705
@riyazuddinsyed would you want to test this story as a whole before I close it?

[2021-08-30 19:27] jyoti3286 commented on #8417
@tlebedovich - we haven't looked into this yet. There was some other PDF output raised by the Assets team which was fixed.

@shabeeb-aot  - On a high level, would you know what's happening here?

[2021-08-30 19:30] doug-lovett commented on #7864
@tlebedovich @PatrickAHeath A restricted set of secured parties for crown charges may be possible from the current database model and migrated data, but perhaps we should have a meeting with Bob to confirm? The table that holds party code information has a bconline account number, so if it just a case of limiting secured parties to a fixed set of bcol account numbers, only a small api change is re

[2021-08-30 19:43] jordiwes commented on #7681
I talked to Doug, and this may be a data issue... he's checking with Bob... I'll pop this in staging for now

[2021-08-30 20:02] chdivyareddy commented on #8461
Verified in TEST.

[2021-08-30 20:07] jdyck-fw commented on #8777
Determine why some of these are payment pending for days.  One place to consider looking is job that processes these.

[2021-08-30 20:16] jdyck-fw commented on #8770
This might be fixed by #8772

[2021-08-30 20:18] chdivyareddy commented on #8722
Verified in TEST.

[2021-08-30 20:19] sienna-oldaccountdontuse opened #8778 "NR is displaying a different NR number in Corp num field in NameX"
See 8770
We may not need this ticket after the ops ticket 8770 has been investigated. THey will look at prod and see if the NR is in anyway related to what is showing in the corp num field. If it is, there may be work in this bug ticket.
It also may be fixed by an existing bug to fix corp num validation.

[2021-08-30 20:20] riyazuddinsyed opened #8779 "Unable to file a Numbered company in dev."
**Describe the bug in the current situation**
When the user wants to file a Numbered company in dev then upon clicking on Incorporate then the error message pops up asking it is not associated with the account.

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/auth/home/decide-business'
2. Click on  Manage Businesses
3. Start Incorporating a Name Company
4. See an erro

[2021-08-30 20:22] jdyck-fw commented on #8709
Check upon creation and also editing to confirm the validation is still working.

[2021-08-30 20:32] jdyck-fw commented on #8173
@riyazuddinsyed  will bring this up with SRE team tomorrow

[2021-08-30 20:32] jdyck-fw commented on #7965
Sienna following up with Scott on this one

[2021-08-30 20:34] jdyck-fw commented on #5669
Sienna following up with Kaine

[2021-08-30 20:37] jdyck-fw commented on #8599
Leaving this for review by @lmcclung

[2021-08-30 20:39] jdyck-fw commented on #8561
@amit4610  #8592 has been resolved, could you check in with the client?

[2021-08-30 20:40] Kaineatthelab commented on #5669
Lets groom it and bring it into next sprint, this was what I was asking about last week that no NRs are showing expired for the last 2 years. Good to know the answer:)

[2021-08-30 20:53] jdyck-fw commented on #8779
This is throwing an error because the incorp application is trying to pull the account phone number into the application, but the account doesn't have a phone number set. Not all accounts will have a phone number set because of old data requirements. We should stop throwing this error, though possibly log it.

[2021-08-30 20:55] thorwolpert commented on #8779
@jdyck-fw if there is going to be no process to correct these, why would we log it?

[2021-08-30 20:55] andrepestana-aot opened #8780 "Create-UI - Schema validation"
This appeared for  BEN incorp application. Shown in Dev only, so far.
~This might just be a user issue.~
Argus says Cameron might have been experiencing this a while back, as well.

![image.png](https://images.zenhubusercontent.com/601c6b4f5322cf5c519d503f/e8ac8edb-3500-435e-911d-ccb8e69c4890)

[2021-08-30 20:59] cameron-freshworks commented on #8779
This is a bug that would be related to all accounts without a phone number. Will update our error handling to prevent a blocker scenario when the Phone is not present as phone requirements at the account level was not always required.

[2021-08-30 21:09] thorwolpert commented on #8447
Duplicate of #8516

[2021-08-30 21:09] #8447 closed

[2021-08-30 21:12] forgeuxGH5 commented on #7965
Should work as described by @tlebedovich

[2021-08-30 21:34] andrepestana-aot commented on #8780
User: BCREG0046
JSON: [8780.txt](https://app.zenhub.com/files/157936592/14ebf022-fe67-4e50-b6fc-6dc5dbfe47b7/download)

[2021-08-30 21:39] sumesh-aot commented on #8777
Reconciliation was stuck for this account, pushed the reconciliation file (https://minio.apps.silver.devops.gov.bc.ca/payment-sftp/BCR_PAYMENT_APPL_20210825_OPS_8777.csv) for this account alone and everything should work now.
PS: confirmed there are no other accounts with this issue, it was caused by read timeout on CAS side.

[2021-08-30 22:07] ghost opened #8781 "One Stop BC"
### ServiceNow incident: NA
### Contact information
Staff Name: Jenn Weldon
Staff Email:

### Description
Hi Everyone,

We are still continuing to receive calls and emails from clients about this issue and are not sure how to proceed.  No matter what we are trying to do or suggest, it doesn’t seem like it’s possible for some of these NR’s to be used towards the filing.  Some examples can be found

[2021-08-30 23:40] Sienna-Blumstengel commented on #8343
Latest updates, everything should be good and just needs a quick review.  Only one question left, about the "Locked NR" stuff. That might be OneStop specific and I have never heard of it before. Maybe @trishreimer knows more?
[https://app.zenhub.com/files/157936592/595ba682-fc89-49bc-91a5-66f854fd44cf/download](https://app.zenhub.com/files/157936592/595ba682-fc89-49bc-91a5-66f854fd44cf/download)

[2021-08-30 23:56] Sienna-Blumstengel commented on #8516
Verified that CP0002255 has been migrated over with the restoration filing.
Sent to Cameron Wulff to verify that it meets requirements.
If it is complete, we can resolve INC0104499

[2021-08-31 01:38] tlebedovich commented on #8397
ok @jordiwes - phew, that was a doozy to UX Assure. lots of small UX items, some minor functionality fixes. Here is the UX Assurance to keep you busy for away. Any questions on any of the items please ping me in Rocket Chat. Thanks

https://docs.google.com/document/d/1lk38D-Sew_9IPS7d3fdoAW-uax6VASYN2mzmYbmH-3w/edit?usp=sharing

[2021-08-31 01:52] tlebedovich commented on #8454
Hi @kialj876 - did the first check box item make it to dev? it seems the same as before?

[2021-08-31 02:06] tlebedovich commented on #7740
hi @cameron-freshworks - would you happen to have an existing business and name request I could add to the table to try out adding new ones?

![Screen Shot 2021-08-30 at 6.58.40 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/64cd5cbb-d6fd-459e-93c4-6ca684b4e07a)

![Screen Shot 2021-08-30 at 6.58.50 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/fb7cafa

[2021-08-31 14:49] cameron-freshworks commented on #7740
I have Name Requests, however i do not have any unaffiliated businesses to try at the moment. I've not actually used that flow before, will look into it!

With regards to Name Requests, i've added a whole bunch on BCreg0018 (pass: 98918). Feel free to remove some of the affiliations and add them back again, just ensure you grab the NR Number from the number column before doing so :)
So you can add

[2021-08-31 15:06] PatrickAHeath commented on #7864
@doug-lovett @tlebedovich I don't feel we can rely on using the BCOL Account Number.  My understanding from the Relationships Team is that government staff with IDIRs as their logon will not be associated with an 'account'.  (that's the reason IDIR logon currently won't work with PPR) Since most of the clients who register Crown Charges are government staff, there won't be an account to store thei

[2021-08-31 15:14] sumesh-aot opened #8782 "Create RPT filing types and product"
### Description
Create following for RPT to continue their development;
- Create filing types. Below are the existing fee codes in BC Online. Details regarding the fee structure needs to be discovered. @jyoti3286 @mstanton1
Fee Code: OLLXTFI
Link Code: RURLPROP
- Create product type and enable it in TEST

Notes:
- Distribution GL code creation is not part of this ticket, but has to be figured befo

[2021-08-31 15:41] doug-lovett commented on #8080
The common component SBCHeader redirectOnLogout appears to be no longer working, and when it is provided user log out stops working.
With no redirectOnLogout value, the user is logged out and is redirected to the default auth log in page. With different redirectOnLogout values. the user is not logged out and the user stays on the PPR dashboard. For now the redirectOnLogout is not set in the PPR UI

[2021-08-31 15:55] janisrogers commented on #8781
3051865 had a space - this has now been corrected but there are 2 'matches for the request in NAMESP
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/5c935ff7-d3ff-4495-88bf-1505efed31f9)
The error in OneStop is:

INFO  2021-08-30 12:02:30,667 [default task-12022] ca.onestopbc.action.cppr.OSCR01Action (OSCR01Action.java:151) - validation result: msgId=NROWS-055;msg=REQUES

[2021-08-31 15:57] kialj876 commented on #8454
Sorry! In code review now

[2021-08-31 15:58] jinghualicgi commented on #8767
@tlebedovich @Kaineatthelab I attacted this

[2021-08-31 16:06] forgeuxGH5 opened #8783 "UI DESIGN - Non-linear (e.g., bookmark) access to Registration Discharge, Renew, Amend"
Users can bookmark (or otherwise access?) a Discharge, Renewal or Amendment - we need a design to handle this.

[2021-08-31 16:15] Sienna-Blumstengel commented on #8781
Debbie and names team says majority of requests are APPROVED (not CONDITIONAL, and don't need consent) since they are firms and firms don't often need consent.

Debbie also said that the issue usually goes like this:
1. Client calls with issue using their NR in OneStop
2. They reset the NR for them tell them to try again
3. An hour later (because the phone queues are so long) they call bakc and sa

[2021-08-31 16:16] vysakh-menon-aot commented on #8721
@thorwolpert I have created a Draft PR with some changes for CONSUMED State. These are the pending questions which I am trying to figure out, let me know your thought on this.

1. model/state.py - Do we need to include in RELEASE_STATES or in COMPLETED_STATE?
2. resources/events.py - Do we need any Event record for CONSUMED state? If needed we need to record one in name model
3. resources/report_r

[2021-08-31 16:29] #8730 closed

[2021-08-31 16:31] Sienna-Blumstengel commented on #8565
@SateeshFW i am closing this ticket, it will be ready for your next release. Thought it looks like a verify. Maybe @cameron-freshworks can provide some insight on what code will be released?

[2021-08-31 16:31] #8565 closed

[2021-08-31 16:33] Sienna-Blumstengel commented on #8430
Sometimes NRs in PENDING DELETION show as status " - " as well.

[2021-08-31 16:33] #8430 closed

[2021-08-31 16:35] #8214 closed

[2021-08-31 16:40] janisrogers commented on #8781
It might be a good idea to ask the client to try with a new OneStop session when they give them a new NR.

[2021-08-31 16:41] tlebedovich commented on #8703
@janisrogers - can this be moved to Done now?

[2021-08-31 16:43] jinghualicgi commented on #8767
Closed by mistake, sorry

[2021-08-31 16:45] jinghualicgi commented on #8450
Move to SBL as discussed in daily standup

[2021-08-31 16:47] #8746 closed

[2021-08-31 16:48] janisrogers commented on #7681
@doug-lovett @jordiwes In the old system I get the following results:
299 error
0299 error
2990 error
2990016 works
29900000 works
So they must know the full number (not the head number) So in this example both the list of TD and Sands should show on the list (ie search on the ID, not the Head ID)

[2021-08-31 16:49] janisrogers commented on #8703
@tlebedovich If you have reviewed it and all is okay, then yes.

[2021-08-31 16:55] tlebedovich commented on #7560
waiting to confirm 500 or 1000 character counter for Court - Effect of Order field form @PatrickAHeath

[2021-08-31 16:57] tlebedovich commented on #8700
waiting to confirm 500 or 1000 character counter for Court - Effect of Order field form

[2021-08-31 17:01] Sienna-Blumstengel commented on #8291
Vysakh completed the work on this ticket, but we cannot test it until the Rules and Memorandum are in dev as well. We cannot complete the filing without that, and therefore can't see the document list.

We are releasing this in Lear 10.3 release, we don't think it will have adverse effects on prod.

[2021-08-31 17:03] cameron-freshworks commented on #8565
@Sienna-Blumstengel Can confirm this is complete and currently in TEST.

[2021-08-31 17:09] #8314 closed

[2021-08-31 17:09] #8528 closed

[2021-08-31 17:09] #8104 closed

[2021-08-31 17:09] #8428 closed

[2021-08-31 17:09] #8266 closed

[2021-08-31 17:09] #8543 closed

[2021-08-31 17:10] #8054 closed

[2021-08-31 17:11] #7896 closed

[2021-08-31 17:11] #8530 closed

[2021-08-31 17:11] #8529 closed

[2021-08-31 17:12] #7796 closed

[2021-08-31 17:12] #8390 closed

[2021-08-31 17:30] doug-lovett commented on #7535
In both DEV and TEST I see this pay api error when submitting a search request with the BCREG0050 ID:
{\"message\":\"SBCPaymentException('SBC Pay API exception.\\r\\n\\r\\n400: {\\"detail\\": \\"An error occurred during the BC Online transaction. <br/>Please contact the help desk to resolve this issue. <br/>SERVICE BC HELP DESK: <br/>Toll-free: 1-800-663-6102 (Canada and USA only)<br/>Fax: (250) 9

[2021-08-31 17:31] tlebedovich commented on #7681
ya, that makes sense.

But since we are using a type ahead, we wouldn't need to require them to type the full number.

We'd want to show any numbers until they get eliminated by the type head filter. So it depends where we want to set the minimum number of characters before showing results in the dropdown. Right now it looks like we have the minimum number of characters is set to 4 before the resu

[2021-08-31 17:32] tlebedovich commented on #8703
looks good to me!

[2021-08-31 17:39] mstanton1 opened #8784 "Administrator Request form support"
### ServiceNow incident:
### Contact information
Staff Name: Cheryl Hall
Staff Email: Cheryl.1.Hall@gov.bc.ca

### Description
Hi Melissa,

Here is a situation,  Change form BCROS36 is being used, we would like to have a meeting with you to discuss how to proceed with changes.  In this case the Account Administrator on account 2277 “ William Cadman Law Corp” Shondrea Alberta Aasman has left the fi

[2021-08-31 17:43] mstanton1 commented on #8761
Updated first line to identify changes were made yesterday. Sent to SBC IT Ops for distribution.

[2021-08-31 18:17] Sienna-Blumstengel opened #8785 "Disable "Edit" button in NameX until the NR has been furnished"
### Description
Clients are experiencing issues registering in OneStop. Their Name Requests are not working.
The data in the NR is getting messed up when an examiner creates an NR

### Acceptance Criteria
GIVEN I am a staff member in NameX
AND i am looking at an NR that has not been furnished yet
WHEN I click "edit" on that NR
THEN I see an error message (see content below)
AND the NR cannot be ed

[2021-08-31 18:22] doug-lovett commented on #7340
In DEV I manually created a refund calling the pay-api directly using the same PPR service account as the PPR API. I used BCREG0051 so Patrick can view the transaction history. It now shows up as "REFUND REQUESTED". Screenshot attached.
![ScreenShot-dev-transaction-refund.png](https://images.zenhubusercontent.com/5e433f96990532730acff67f/b46f3a58-47e8-4384-b8b1-918c2520d960)

[2021-08-31 18:26] bfbowles commented on #8410
I have updated the registration_ts adding 7 or 8 hours depending if the date was daylight or standard time in dev and test.   I have also updated my import procedures with the same logic.  All dates and times will be utc.

[2021-08-31 18:27] andrepestana-aot commented on #8609
Node versions were changed to 14.17.5 for now. #8764 was created to change the version to the latest.

[2021-08-31 18:51] mstanton1 commented on #8761
IT Operations support has sent the release notes.

[2021-08-31 18:59] #7791 closed

[2021-08-31 18:59] #7894 closed

[2021-08-31 19:00] #7792 closed

[2021-08-31 19:00] #8052 closed

[2021-08-31 19:01] #8761 closed

[2021-08-31 19:01] #8116 closed

[2021-08-31 19:01] #7298 closed

[2021-08-31 19:02] #8235 closed

[2021-08-31 19:11] #8234 closed

[2021-08-31 19:13] #7889 closed

[2021-08-31 19:29] chdivyareddy commented on #8453
Verified in TEST.

[2021-08-31 19:53] Sienna-Blumstengel opened #8786 "Client unable to set up BCOL payment, but credentials should be valid"
### ServiceNow incident:
INC0107255

### Contact information
Staff Name: Tanya Newnham

### Description

EMAIL THREAD: [https://app.zenhub.com/files/157936592/00231309-217e-4746-b489-27bb4aef3ccb/download](https://app.zenhub.com/files/157936592/00231309-217e-4746-b489-27bb4aef3ccb/download)

I think there may be some confusion on the client's end. Or I (sienna) am misunderstanding. If I understand

[2021-08-31 20:28] jyoti3286 commented on #8732
Added this to milestone for Roy

[2021-08-31 20:33] Kaineatthelab commented on #8748
@cameron-freshworks @mstanton1 just checking on this status if it is dependant on Sumeshs work:)

[2021-08-31 20:42] cameron-freshworks commented on #8748
@Kaineatthelab I think this work is relatively stand alone, and it is currently in Code review.  The work itself was done by @vysakh-menon and it appears that it is mostly complete and has been reviewed.

Other than some PR comments, it looks like its close, but still needs another look from Vysakh to resolve the comments.

[2021-08-31 21:08] mstanton1 commented on #8784
Meeting was held to discuss:

Confirmed field b) is for the Business Registry Account Number rather than the BC Online Account Number.
Confirmed that vetting processes for who is authorized to submit a form can remain the same as previously.
Confirmed due to system limitations this form cannot be used for changes to a BCeID & 2 FA account at this time.

Next, reviewed process for adding and removi

[2021-08-31 21:19] jinghualicgi commented on #7941
@Kaine, this task is missing milestone tag. Should we add to this sprint(10.4) if Tracey and others are okay?

[2021-08-31 21:20] Sienna-Blumstengel opened #8787 "NR 7590329 and NR 1902068 have XPRO info, but are sole props and should not"
### ServiceNow incident:
INC0106776
### Contact information
Staff Name: Jenn Weldon

### Description

Sounds like this bug occurs when:
1.	A client registers as an xpro corporation
2.	They realize that is not what they want, and edit their NR to be a BC sole prop
3.	The system retains the xpro information, when it **should** be clearing it (cause there cannot be xpro sole props)

We need to data f

[2021-08-31 21:25] jdyck-fw commented on #8647
Moving this to the Assets sprint to capture Kial's work to the team velocity.

[2021-08-31 21:33] Sienna-Blumstengel opened #8788 "XPRO data is not stripped from NR when editing from XPRO corp to BC Soleprop"
### Description

Clients can edit their Name request from xpro corp to BC sole prop. When they do, the system retains the xpro info when it should not.

Sounds like this bug occurs when:
1.	A client registers as an xpro corporation
2.	They realize that is not what they want, and edit their NR to be a BC sole prop
3.	The system retains the xpro information, when it **should** be clearing it (cause

[2021-08-31 21:35] MBWilson opened #8789 "Communications/Engagement Plan Assessment"

[2021-08-31 21:36] jinghualicgi commented on #8419
@Janis, as discussed in RC, Patrick has updated the ticket following dependency template, please bring this ticket to BA Guild meeting. We can discuss deadline with Kaine in tomorrow's standup @Kaineatthelab

[2021-08-31 21:50] MBWilson opened #8790 "Communications and Engagement Plan Assessment"
assess impact of comms plan for support

[2021-08-31 21:58] jinghualicgi commented on #7346
@pwei1018 @jmills-cgi @Kaineatthelab I suggest we move this back to backlog if we are not actively working on this task. Or break this into smaller pieces and each can be done within one sprint.

[2021-08-31 22:16] jyoti3286 opened #8791 "Include Incorporation # Search for FAS Search"
Include Incorporation # Search for FAS Search

- Not by default
- Have a horizontal scroll

Default: https://preview.uxpin.com/76da32cd3abd1eb16c96507294189fbd7bee9140#/pages/141552041
Added: https://preview.uxpin.com/76da32cd3abd1eb16c96507294189fbd7bee9140#/pages/141783855
Slide: https://preview.uxpin.com/76da32cd3abd1eb16c96507294189fbd7bee9140#/pages/141783868

[2021-08-31 22:28] Sienna-Blumstengel opened #8792 "Change client's account payment method from PAD to BCOL"
### ServiceNow incident:
INC0107261
### Contact information
Staff Name: Susan.Dziadyk@gov.bc.ca

### Description

### Ops Process
- [x] Add **Entity** or **Relationships** label to zenhub ticket
- [x] Add **Ops** label
- [x] Add **Priority1** label to zenhub ticket, if:
  - If the business says it is a priority
  - BA can use their business knowledge and best judgement if it is a priority or not

[2021-08-31 22:28] Sienna-Blumstengel commented on #8792
eLet me know if this is enough account info to identify the specific account

[2021-08-31 22:40] #8706 closed

[2021-08-31 23:16] tlebedovich commented on #7941
I don't think I have the bandwidth this sprint.

[2021-08-31 23:32] tlebedovich commented on #7740
@cameron-freshworks - I need to catch Scott to check in with him about the remove modals/functions so that will be still to come. But here is the small UX/visual design feedback - https://docs.google.com/document/d/1CHcdQej6JofFdazuyIIGpMSfBq9BrfjpsgSCA2wGorA/edit?usp=sharing

[2021-09-01 00:15] tlebedovich commented on #7865
hi @jordiwes - UXA;

- [ ] please fix capitalization of default GC text as per checkbox one above

- [ ] Make change secured party modal wider to match others - 720px max width

- [ ] this was a miss on my part, but I think we need to include the secured party code number as well as the name on the Changing SP modals, in case they are changing between two places with the same name:

![Screen Shot

[2021-09-01 00:29] tlebedovich commented on #7864
@jordiwes - final UXA;

**Other modal:**
- [ ] Make Other Crown Charge modal wider - 720px max width
- [ ] Swap the order of the Cancel and Start Registration buttons and add carrot arrow to start button as per design comp:

![Screen Shot 2021-08-31 at 5.29.07 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/ed1b4805-3ab7-4c06-bae1-b819a188738b)

**Change Secured Party modal:*

[2021-09-01 00:39] tlebedovich commented on #8767
@jordiwes - These new items aren't in the dashboard new registration dropdown? So I can't get to them to review, plus they need to be added to the dropdown :)

@PatrickAHeath - I didn't see any data in the spreadsheet for these 3 new registration types so I'm not sure what to be checking against?
https://docs.google.com/spreadsheets/d/18eTumnf5H6TG2qWXwXJ_iAA-Gc7iNMpnm0ly7ctceTI/edit#gid=0

[2021-09-01 05:21] thorwolpert commented on #7346
@jinghualicgi this is an sre team project and does not affect directly affect assets at this time.

[2021-09-01 11:35] vysakh-menon-aot commented on #8290
@tlebedovich Is this a specific requirement for COOP's to include Incorporation Number in header? For the existing BEN IA we don't show this

[2021-09-01 13:41] argush3 opened #8793 "Update processing logic for NR CONSUMED state in solr names updater"
**TODOs**

- [x] update `CONSUMED` state processing logic
- [x] update relevant tests

[2021-09-01 14:13] PatrickAHeath commented on #8767
@tlebedovich The Crown Charges section of the spreadsheet has most of the details on the first line since they're common for all acts.  The only column indicated for each act is the default General Collateral as it differs, and was done for all acts.

[2021-09-01 14:20] PatrickAHeath commented on #7535
@doug-lovett 652682 is the account we use for all our testing in BCOL legacy PPR application and no problem with payments.  I'll check with Melissa to see if they have any other BCOL accounts setup with successful payment.

[2021-09-01 14:38] cameron-freshworks opened #8794 "Implement Shared Interfaces for Name Requests Request/Responses"
## What is the problem?
* We have some localized Name Request related interfaces which differ slightly than the bcrs shared interfaces. We would like to bring these into alignment.

## What is the impact?
*  In an attempt to improve consistency across the apps we are trying to use one source of interfaces for the common requests. This is just one step closer to improving that.

## Proposed solutio

[2021-09-01 14:39] PatrickAHeath commented on #7340
@doug-lovett Curious what the transaction details look like after the refund is processed.

If the code in the PPR application has been modified to use the special PPR API service account ppr-service-account to submit refund requests, this should be resolved.  (But it would be better if we could trigger failures within the application to see an automatic refund rather than manually produced)

[2021-09-01 14:40] tlebedovich commented on #8767
got it, thanks @PatrickAHeath

[2021-09-01 14:43] cameron-freshworks commented on #7740
@tlebedovich
Excellent, thanks! Will get started on these updates.

[2021-09-01 14:59] tlebedovich commented on #8290
@vysakh-menon-aot - That is a great question. The Inc Number was included in both my design comps for BEN and Coop and I see its included in all of the other outputs like NOA and Address Change, so I don't see why it wouldn't be included in the Inc Application. To confirm though, @Sienna-Blumstengel @Kaineatthelab - was the Inc Number intentionally removed from the Inc App outputs or is it just mi

[2021-09-01 15:19] gh20s commented on #8792
According to https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8445 I need account number, userid, name on account, and postal code to verify they have the authority to change the account - so looks like I just need the postal code

Once I get the postal code I guess I update the tables mentioned in https://github.com/bcgov/entity/issues/8309 . I'll have to look

[2021-09-01 15:27] gh20s commented on #8787
I looked these up on Namex and it appears the jurisdiction got remove and they are approved? Jenn made a note on NR 1902068. It looks like a datafix / ticket may not have been needed.  NR 7590329  has been approved and foreign jurisdiction removed as well.

![image](https://user-images.githubusercontent.com/49725997/131699377-702ed10c-f2ad-45c4-b89c-8f69d295f070.png)

[2021-09-01 15:32] jinghualicgi opened #8795 "placeholder1"

[2021-09-01 15:37] mstanton1 opened #8796 "Credit to BCOL Account for Duplicate Charges (7)"
### ServiceNow incident: INC0107369
### Contact information
Staff Name: Elizabeth Espinosa
Staff Email: Elizabeth.Espinosa@gov.bc.ca

### Description
Please see the attached email from client.

The client has NR1355086 which is conditionally approved but is concerned about the additional charges.  I responded to the client saying that the duplicate charges will be reversed automatically.  I am sen

[2021-09-01 15:43] mstanton1 commented on #8796
@gh20s BC Registries account 2506 is showing 8 charges for NR 0669047 in the BC Registries transaction reporting and BC Online transactions. Can you please verify you see all 8 payments in the DB and then initiate refunds for 7 of them using the refund endpoint.

[2021-09-01 16:07] Sienna-Blumstengel commented on #8290
I think it was either:
1. left out by mistake, and we can add it in for the BComp incorp and the Co-op incorp outputs,
or
2. It was left out intentionally because after incorporation, it takes time for that job to run to generate an incorporation number, so it won't be available immediately, and the output looks weird. @vysakh-menon could you investigate if this second possibility might have been

[2021-09-01 16:25] gh20s commented on #8796
@mstanton1 I looked in the paydb and found they needed to be refunded. I am going to use the refund endpoint (private repo notebook -- please let me know if that's wrong) to initiate the refund. May take a bit if there's something I have to figure out

[2021-09-01 16:37] jinghualicgi opened #8797 "Apply rules based on registration type spreadsheet"
Verify the API applies the business rules defined in the spreadsheet:
https://docs.google.com/spreadsheets/d/18eTumnf5H6TG2qWXwXJ_iAA-Gc7iNMpnm0ly7ctceTI/edit#gid=0

Duplicate of 8798?

[2021-09-01 16:37] tlebedovich commented on #8700
Bob is double checking and will confirm if we increase to 1000. TBD.

[2021-09-01 16:38] jinghualicgi opened #8798 "Capture Rules in UI applied to API"
Specific Rules for different registration types. Also related to what displays for each registration type.

https://docs.google.com/spreadsheets/d/18eTumnf5H6TG2qWXwXJ_iAA-Gc7iNMpnm0ly7ctceTI/edit?usp=sharing

(Note that the change to allow Vehicle Collateral for registration type WL has been moved to Post Go Live and is not currently in the UI)

[2021-09-01 16:43] jinghualicgi commented on #8797
About 30 rules need to consider

[2021-09-01 16:51] mstanton1 opened #8799 "A0119657 wrong name on registration"
### ServiceNow incident: INC0107358
### Contact information
Staff Name: Dierdre

### Description
I submitted NR 3243698 for Dew-Line Enterprises Inc. It was rejected, so then we re-submitted as an Assumed Name, which was accepted.  I went and registered it and the paperwork is showing as Dew-Line Enterprises Ltd. which is incorrect as it is an already registered BC company.

I don’t know if I ente

[2021-09-01 16:55] mstanton1 commented on #8799
Sent email back to Deirdre. I've reviewed the certificate / registration statement. Both list the EP name but then list the assumed name for use in BC.

It is unclear what change the client is requesting.

[2021-09-01 16:58] mstanton1 opened #8800 "Error on account 2277 William Cadman Law Corp - while processing change form"
### ServiceNow incident: INC0107411
### Contact information
Staff Name: Cheryl Hall
Staff Email:Cheryl.1.Hall@gov.bc.ca

### Description
Good morning,

I am sending this email as I received an error when attempting to remove a team member, as you will see above I have a change form to add a new administrator and the invite was sent.  I continued with the change form to remove the team member in qu

[2021-09-01 16:59] mstanton1 commented on #8800
Sent email to verify browser and recommend not using IE.

[2021-09-01 17:07] gh20s commented on #8796
Refunds completed for 7 transactions and added ops notebook  **8796-nr-refund**
![image](https://user-images.githubusercontent.com/49725997/131713268-2c496599-486b-4be0-915d-12bff4d20458.png)

[2021-09-01 17:09] mstanton1 commented on #8718
@stevenc987 this refund ticket is ready for you.

[2021-09-01 17:11] mstanton1 commented on #8796
@gh20s thank you! I will let the business know.

@Sienna-Blumstengel have you seen this happen before? We've addressed the ops incident but if this is something that has been experienced by a number of users we may need a bug ticket to investigate further?

[2021-09-01 17:19] Sienna-Blumstengel commented on #8796
Oh yes we have seen this once before, this can happen if the client tried to renew the NR in Name Request but had originally requested the name in NRO. This won't occur as of yesterday, but we may receive reports of it from clients having done it before decommissioning.
If this happens again  55 days from now, we will know it was not due to NRO!

[2021-09-01 17:21] mstanton1 commented on #8796
@Sienna-Blumstengel thanks for confirming.

Closing without any additional bugs as per the comment above.

[2021-09-01 17:26] andrepestana-aot commented on #8780
I found that `extension` for `contactPoint` should be number and `partyType` should be 'person' and 'org' (lowercase).

[2021-09-01 17:28] sumesh-aot opened #8801 "Authorization fails for Name Request accounts"
**Describe the bug in current situation**
Authorization fails for Name Request accounts. This is due to the fact that pay-api sends the product-code as a header parameter and auth-api is expecting this header parameter for partner applications. Due to some recent refactoring this wasn't accounted and causes issue when an authenticated Name Request user does a transaction. For now, a workaround has

[2021-09-01 17:30] cameron-freshworks commented on #7740
We are moving passing the above UX updates into #8570 to keep tickets moving along, while maintaining the UX updates!

[2021-09-01 17:41] tlebedovich opened #8802 "Update Lear API to show Modified By/Last Modified Dates in My Business Registry Table"
In the new My Business Registry table, as a user I want to see Modified By and Last Modified Dates for all items.

Apply a Last Modified date value (ie March 15, 2021) when;

- [ ] A draft Incorporation Application is created
- [ ] Any time a draft IA is edited and saved

Apply a Modified By name value (ie Joe_user123) when;

**Should show the username of the person who performed the (last) filing

[2021-09-01 17:43] tlebedovich commented on #8802
@Kaineatthelab @lmcclung - When working on the Business Registry table, we noticed that Modified By and Last Modified date values were not available to pull into the columns, so they are all showing "Not Available" at the moment.

c/c @cameron-freshworks

[2021-09-01 17:44] tlebedovich commented on #8570
Moved UX assurance items to this ticket: https://docs.google.com/document/d/1lk38D-Sew_9IPS7d3fdoAW-uax6VASYN2mzmYbmH-3w/edit?usp=sharing

[2021-09-01 17:54] gh20s commented on #8787
@Sienna-Blumstengel or @mstanton1 i think this can be closed per above comment.  not sure which one to tag. sorry for the noise!

[2021-09-01 18:00] jinghualicgi opened #8803 "Confirm Discharge button actions"
fee summary button actions (cancel with modal, validation msg / prevention for submit discharge, ~back button go to review~ *done in setup ticket*) and tests for all of those

### Details
- [x] add/repurpose a modal for cancel discharge
  - [x] add content or create cancel options (for txt etc.)
  - [x] add test suite or extend existing
- [x] add cancel flow to confirm discharge view
  - [x] on ca

[2021-09-01 18:01] mstanton1 commented on #8799
I have spoken with Lance and clarified the issue.

On the clients outputs (registration statement, certificate) the HJ name that is listed for the company is not the name as the client entered it in the Name Reservation (DEW-LINE ENTERPRISES INC.) and instead is the name of the BC Company that the NR 3243698 was conflicted with (DEWLINE ENTERPRISES LTD.)

I have created NR 1435321 so I can test if

[2021-09-01 18:08] mstanton1 commented on #8792
@gh20s information is below:

**BC Online Account Number:** 311108
**User ID:** PA68095
**Account Name:** Mordy and Palmer LLP
**Account Address:** 1400-1188 West Georiga Street
VANCOUVER BC V6E 4A2
Canada

[2021-09-01 18:13] Sienna-Blumstengel commented on #8756
We had one instance of this reported by staff yesterday in prod, and another today.

[2021-09-01 18:14] mstanton1 commented on #8787
I have verified with the business that no further work is required. Moving forward staff can update the NR details (until the Bug is implemented to prevent this from happening when a client switches from XPRO to SP).

[2021-09-01 18:20] PatrickAHeath opened #8804 "API Changes for Misc Act Registrations MD/PT/SC"
Make API changes for registration of the following:

 MD - Mineral Land Tax Act
 PT - Property Transfer Tax Act
 SC - School Act

(these are new acts under the Miscellaneous Registrations Act that were not implemented in the legacy PPR application)

[2021-09-01 18:35] chdivyareddy opened #8805 "Discharge - Confirm registration to be discharged Modal - Caching Issue"
**Describe the bug in the current situation**
Modal cashing issue.

**Impact of this bug**
Low

**Chance of Occurring**
Low

**Pre Conditions:**
DEV env

**Steps to Reproduce**
1. Navigate to the 'My Registrations' table.
2. Select a registration to be Discharged.
3. In the Confirm registration to be discharged Modal, enter the individual person's last name or full business name of any Debtor asso

[2021-09-01 18:37] chdivyareddy commented on #8454
Created a new ticket for the caching issue found [#8805](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8805)

[2021-09-01 18:38] kialj876 commented on #8534
fyi for UX assurance this piece does not include the folio section, x.confirm section or the cancel or submit/validation flow

[2021-09-01 18:41] jinghualicgi commented on #8602
Adding _UI Design - Registration Table_ in dependency as discussed in our Grooming meeting

[2021-09-01 18:47] jinghualicgi opened #8806 "API change to the secured party code lookup"
Update the search by party code query logic based on the 7681 description.

Final decision for Secured Party Look Up - Regular Registrations (non-Crown):
- Change the minimum length on the query criteria from 4 characters to 3.
- If the query criteria is 3 characters and contains leading zeroes, perform an exact match.
- If the query criteria is 3+ characters match on all branch codes that start w

[2021-09-01 19:12] tlebedovich commented on #8700
Looks like we are ok to stick with 500 character count for Effect of Order that's already in postgres and API as it will cover Bob's needs below and more.

Bob's notes: the max length for current court orders detail description is 405 characters which I parse out the court_name, order_date, court_registry and file_number leaving a max of 60 characters for the effect_of_order so were good with the

[2021-09-01 19:14] gh20s commented on #8792
i made a draft PR with a notebook where i have the changes i think i should make https://github.com/bcgov-c/registries/pull/25
update orgs table in auth db
update payment_account and cfs_accounts in pay-db

I need this to be reviewed by someone with more knowledge of the apps if these values are correct

[2021-09-01 19:15] riyazuddinsyed opened #8807 "Payment does not go through when filing an AR for Coops."
**Describe the bug in current situation**
When a user affiliates an Entity and files an AR then upon entering the cc details then the user is being pushed to the dashboard page and the status of the payment is in the Resume Payment state.

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/auth/home/decide-business'
2. Click on CP0001416 and start file the AR
3. After fi

[2021-09-01 19:23] chdivyareddy commented on #8080
Verified in DEV.

[2021-09-01 19:44] chdivyareddy commented on #8509
@doug-lovett
I see the same behaviour as earlier in DEV, can you please take a look. Thanks:)
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c03c5121-c0cc-4e8f-93f7-2f711eaaf897)

[2021-09-01 19:50] Sienna-Blumstengel commented on #8561
DBAs have done a datafix to resolve all the old NRs that were created with this bug in place. Client should be able to use these NRs now, checking to see if a replacement has been made yet or not.

[2021-09-01 20:31] PatrickAHeath opened #8808 "PPR REGISTRATION_TYPE Table - data updates"
Update the values in the REGISTRATION_TYPE table to provide consistency between registrations and accurate information in reports.

Values to use are in columns I, J & K in the attached spreadsheet.
I = REGISTRATION_TYPE_CD
J = REGISTRATION_DESC
K = REGISTRATION_ACT

[https://app.zenhub.com/files/157936592/e5475dd9-5b14-4f68-b335-b21efd803764/download](https://app.zenhub.com/files/157936592/e5475d

[2021-09-01 20:40] gh20s commented on #8792
Thanks sumesh and melissa. I have ran the notebook and the values are updated. Hopefully it works for the client. @mstanton1

[2021-09-01 20:51] andrepestana-aot commented on #8780
Moving back to "in progress" as we found other properties being validated.

[2021-09-01 21:00] mstanton1 commented on #8792
I have verified the link to BC Online shows in the Payment Methods tab. Staff have been advised that this is resolved.

[2021-09-01 21:04] doug-lovett commented on #8509
Sorry Divya, I moved this prematurely.

[2021-09-01 21:05] PatrickAHeath opened #8809 "PPR Search Output - Revise Consolidated view with Additional Info Notice"
At the completion of a search in PPR, the PDF output contains the consolidated view of the current state of the registration, followed by the historical activity against that registration.

It was decided in a meeting on September 1 to revise the Consolidated View to include a notice that additional information exists for the following:

- [ ] This registration has Amendment Detail Description(s)

[2021-09-01 21:19] mstanton1 commented on #8799
Home team testing has occurred and the following information was provided. The only question with this prod scenario is why there would have been no hit in step 3 as the name entered for the first choice was a match to the name provided below from the CBRE search.

I registered A0080781 in test using NR 4893456. In COLIN, this is the flow that I saw.
1)	Enter the assumed name NR
2)	MRAS call is ma

[2021-09-01 21:21] mstanton1 opened #8810 "SP/GP NR approvals showing as conflicts in Namex"
### ServiceNow incident: INC0107515
### Contact information
Staff Name: Kristopher Yee
Staff Email: Kristopher.Yee@gov.bc.ca

### Description
Hi ITOps,

Sending this email to report what may be a more serious issue relating to examination in Namex.

Approvals for Sole Proprietorship or General Partnership type NRs appear to be showing as conflicts after being given approval in Namex when the expec

[2021-09-01 21:21] chdivyareddy commented on #7858
Verified in DEV.

[2021-09-01 21:24] mstanton1 commented on #8810
@gh20s can you take a look at this? SP/GP requests do not have name protection so should not show up as conflicts during examination.

[2021-09-01 21:31] mstanton1 opened #8811 "Email received to register NR after NR Consumed"
### ServiceNow incident: INC0107094
### Contact information
Staff Name:
Staff Email:

### Description
Client received an email to register NR but he has already used the NR and registered the business.

Name:     Arvand  Kurty
              Address:               640 Gore Ave
                             Unit 48
                             Vancouver  BC
                             CANADA   V6A 2

[2021-09-01 21:59] Sienna-Blumstengel opened #8812 "Manage a society NR in Name Request and NameX"
### Description

Original email thread: [https://app.zenhub.com/files/157936592/55935cc5-2760-4837-81c6-f8c7656e7299/download](https://app.zenhub.com/files/157936592/55935cc5-2760-4837-81c6-f8c7656e7299/download)

This ticket is to investigate the possible ways to implement this request from staff

[2021-09-01 22:15] chdivyareddy opened #8813 "Secured Parties(Step2) - UI Issue"
**Describe the bug in the current situation**

**Impact of this bug**
Low

**Chance of Occurring**
High

**Pre Conditions:**
DEV env

**Steps to Reproduce**
1. Select a registration type and navigate to step2.
2. Click 'Add a Secured Party that doesn't have a code' link and the following message appears 'No matches found. Check your name or number, or add a Secured party that doesn't have a code'

[2021-09-01 22:29] mstanton1 commented on #8811
@gh20s can you please assist in pulling the system generated emails for NR 2459578?
Notification email: arvandkurty.realestate@gmail.com

In the transaction log I see the NR was set to approved in NameX 2021-07-12, 12:47 pm Pacific time and then NRO was updated 2021-07-12, 12:50 pm Pacific time.

The client used the NR to register FM0852747 2021-07-12, 2:54 pm Pacific time.

Client states they wer

[2021-09-01 22:37] mstanton1 commented on #8811
A request has been sent back to IT Ops for a copy of the email showing the timestamp.

[2021-09-01 22:44] mstanton1 commented on #8799
A request has been sent to the home team BA's to have the home team devs pull the logs from the MRAS call in COLIN to better understand what happened for this registration.

[2021-09-01 22:47] mstanton1 commented on #8800
Cheryl has tried again and the removal of the account admin was successful.

[2021-09-01 22:51] mstanton1 commented on #8781
John from the hometeam raised the following:

#8592  - There was a bug that prevented clients from using NRs in COLIN or OneStop, if the requested name had a leading or trailing space  (e.g. '  ABC Consulting' or 'ABC Consulting  '). This has been fixed, and this issue should no longer prevent clients from using their NRs in COLIN or OneStop.

That bug was closed but issues continue to persist. In

[2021-09-01 22:52] mstanton1 commented on #8781
The hometeam BA's followed up again on Aug 31st noting:

John has mentioned that there is also a concurrent, but separate bug related to NRs, which is that some NRs also have too many active CONSENT rows in NAMESP. So: there’s the issue with NRs that have extra spaces, but also this issue with NR records having too many consent rows, which also would cause problems with completing registration fil

[2021-09-01 22:53] mstanton1 commented on #8781
Data fixes have been completed for 81 "approved" and "conditionally approved" unconsumed names in 2021.  I have updated INC0105853 and assigned to the BA group.

A second incident has been created INC0107454 for the issue with multiple consent rows that are open.

[2021-09-01 22:57] mstanton1 commented on #8781
A final note has been sent from Michael Kagis identifying that this has been resolved for the existing NR's, but can still happen for new NR's until work is completed in NameX:

I have a final update on this work for now.

John advises me that the NRs impacted by the “consents” defect in NAMEX have been cleaned up at this point; there were 39 affected records. These NRs should be good to use for r

[2021-09-01 23:14] mstanton1 commented on #8755
Sent follow up to the client:

I am following up on the communication below. Are you still experiencing issues with the authenticator code?

[2021-09-01 23:29] gh20s commented on #8810
So some GPs and SPs are having their NRs show up as conflicts and I can't figure out why some do and some don't.

note taking

NR 4181814 - CONFLICT  LOREN CONCRETE SERVICES not consumed
NR 7139009 - conflict  SEVEN TIMES BETTER LIFE COACHING not consumed

NR 6182144  - not a conflict  BATH BLUEBERRY FARMS consumed
NR  2171969  - not a conflict  POWELL DONAIR & KEBAB consumed
NR 0505726 - not a co

[2021-09-01 23:37] chdivyareddy commented on #8454
Verified in TEST.

[2021-09-02 00:11] thorwolpert commented on #8688
issues open to correct this already in place

[2021-09-02 00:11] #8688 closed

[2021-09-02 00:12] tlebedovich commented on #8767
hi @jordiwes - thanks. Here is the UX Assurance;

- [ ] For all of your updated 270px wide modals, please make the gutter around all sides a consistent 40px, text should go right to that right side gutter.
![Screen Shot 2021-09-01 at 5.05.45 PM.png]

(https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/9d3b84e7-48d9-4acb-8932-f122e969618e)

- [ ] Like the others, please add the word "reg

[2021-09-02 00:12] chdivyareddy commented on #7858
Verified in TEST.

[2021-09-02 00:19] tlebedovich commented on #8531
nice! @kialj876

[2021-09-02 01:29] thorwolpert commented on #8587
colin addresses for 2020 = 1,137,968
namex addresses = 142,052
ppr addresses = 1,231,788
Best Rate = $0.04

Service | Addresses | API | BCROS UI | Total
-- | -- | -- | -- | --
colin | 1,137,968 | 100% | 100% | $91,037.44
namex | 142,052 | 100% | 100% | $11,364.16
ppr | 1,231,788 | 100% | 40% | $68,980.13
  |   |   |   |  
Best Rate | $0.04 |   | Total | $171,381.73

Local Service

[2021-09-02 13:49] argush3 commented on #8432
Verified to be working in DEV.

@tlebedovich when UX assuring, you can use https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/create/create-rules?id=T5foG5GkL3 with BCSC user BCREG018 to test in DEV.

[2021-09-02 14:14] #8722 closed

[2021-09-02 14:15] #8689 closed

[2021-09-02 14:18] #8461 closed

[2021-09-02 14:18] #8004 closed

[2021-09-02 14:26] jinghualicgi commented on #7561
@tlebedovich Hi Tracey, I am going to closed Done ticket after tickets stay there more than 2 days. I saw you reopened some UI Design ticket, Please let me know if you have any suggestions regarding this process. Thanks

[2021-09-02 14:53] tlebedovich commented on #7561
hi there

Sometimes I will finish/close a design ticket but then a new dev ticket needs it so I have to reopen my design ticket to be able to link it to a new ticket. its a flaw of zen hub unfortunately.

[2021-09-02 15:17] janisrogers commented on #8516
Re CP2255
Mark identified a few more issues with the address information.  Please see below.
1.	The ARs are all filed on July 28th, is that ok? Yes
2.	The ARs are all “Filed by N/A” is that ok? Can this say “Registry Staff” ?
3.	The BN is missing, does this entity have one? If you have the number, we can add it in. We do not collect or provide BN’s for Coops so this is normal.

Correct office addr

[2021-09-02 15:26] chdivyareddy commented on #8531
Verified in DEV.

[2021-09-02 15:51] janisrogers opened #8814 "UI Design - Add link to OrgBook on the Names Application"
A great idea to add a link to OrgBook on the Names Application, we could put a blurb indicating “research name choices here” or something like that.

Regards,

Debbie Blyth

Client suggestion:
I highly suggest BC Registries adds the OrgBook URL (https://orgbook.gov.bc.ca) to the front page of the Name Request site. If I had known about that search tool it could have saved myself and another sole p

[2021-09-02 15:52] janisrogers commented on #8799
Good morning,

I’m working on finding someone that knows where these logs are now. I’ll update as I learn more.

John Lane

[2021-09-02 15:53] janisrogers commented on #8811
From IT Ops:
Hello Melissa ,
I will add the notes on the INC for the virtual helpdesk to get the email from the client and I will share it with you once we receive it .
Thank you for your work on this .

[2021-09-02 15:59] Sienna-Blumstengel opened #8815 "Give Maximus read-only access to NameX"

[2021-09-02 16:02] Sienna-Blumstengel opened #8816 "Train Maximus on NameX"
They will be using the application read-only to assist clients.
They may also have access to the comment feature for CRM purposeless.

- [ ] Make OneNote updates with Elizabeth to the "how to search for a name in NameX" first priority, so cameron can re-use it and update the Maximus KB with it.
- [ ] Cameron and Elizabeth to run training.

Ticket to build that feature is 8815.

[2021-09-02 16:03] andrepestana-aot commented on #8780
`shareStructure.maxNumberOfShares` and `shareStructure.parValue` were being sent as string to api and now they being sent as number.

[2021-09-02 16:23] tlebedovich opened #8817 "UXA Feedback for Registration/Search Outputs"
**PDF Output Feedback**
- [ ] Account Name in Search Result report not showing what's expected (should show BC Registries Staff)
- [ ] "Search Date and Time:" should not wrap - give left column more room
- [ ] "time" in "Pacific time" should not wrap - give right column more room
- [ ] global - if there isn't a Folio - we don't need to show that entire row item in the tombstone at all (because it'

[2021-09-02 16:25] tlebedovich commented on #8817
@jinghualicgi - can we add this to future grooming?

[2021-09-02 16:30] #8796 closed

[2021-09-02 16:30] #8787 closed

[2021-09-02 16:35] #8344 closed

[2021-09-02 16:40] kialj876 commented on #8647
fyi: tested in TEST with a credit card payment and is working

[2021-09-02 16:42] severinbeauvais commented on #8158
### Test Notes

This should be tested before 7am during Pacific Daylight Time (or before 8am Pacific Standard Time).

(This is because of the UTC offset.)

[2021-09-02 16:59] PatrickAHeath opened #8818 "PPR Registration Output - Incorrect display of Expiry Date/Time"
**Describe the bug in current situation**
The Expiry Time displayed on the PDF output for a registration isn't displaying as expected.  It should be 11:59:59 pm on the Expiry Date.

**Link bug to the User Story**

**Impact of this bug**
Incorrect Expiry Date/Time information presented to the client.

**Chance of Occurring (high/medium/low/very low)**
High - and if registration is performed after 5

[2021-09-02 17:04] PatrickAHeath opened #8819 "UX Assurance - PPR Discharge - Download PDF from My Registrations table"
Functionality to download the PDF Verification Statement as a result of a Discharge.
- [ ] Download the PDF
- [ ] Confirm the name of PDF
- [ ] Review the content of PDF against the requirements
- [ ] Yui to review visual design/layout

@PatrickAHeath please link requirements for discharge output here

Discharge Verification Statements from Legacy Application:
[https://app.zenhub.com/files/1579365

[2021-09-02 17:04] jinghualicgi commented on #8817
@thegentlemanphysicist Hi Tracey, is this a ticket for Assets? I saw Entity tag on it. I can ask Jason to move if this is Entities, or we can add Asset Tag and I move it. Please advise, thanks

[2021-09-02 17:05] tlebedovich commented on #8817
sorry, wrong tag, its for assets

[2021-09-02 17:06] PatrickAHeath opened #8820 "UX Assurance - PPR Renewal - Download PDF from My Registrations table"
Functionality to download the PDF Verification Statement as a result of a Renewal.

Legacy Application Renewal Verification Statements:
[https://app.zenhub.com/files/157936592/72e18431-e1a6-479b-9949-3fc5041fafbf/download](https://app.zenhub.com/files/157936592/72e18431-e1a6-479b-9949-3fc5041fafbf/download)

Search Output for registrations with Renewals:
[https://app.zenhub.com/files/157936592/c64

[2021-09-02 17:07] PatrickAHeath opened #8821 "UX Assurance - PPR Amendment - Download PDF from My Registrations table"
Functionality to download the PDF Verification Statement as a result of an Amendment.

[2021-09-02 17:24] Sienna-Blumstengel commented on #4217
Not going to groom this epic further until relationships finishes #8494. Then we can proceed. The milestone goal for 10.4 "1 - As a user I want to view all the name requests and businesses I created in the business registry applications so that I can see everything in one place and monitor my name requests" is complete without the sorting and filtering.

[2021-09-02 17:33] Sienna-Blumstengel commented on #8802
Need to research more on how to implement this, timeboxing to discuss with SMEs and decide how to implement

[2021-09-02 17:35] chdivyareddy commented on #7624
**Current Behaviour:**
When I click on the 'PPR Dashboard' button, it is redirecting to the following page

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/01f99b2b-84df-4df2-b1d7-0fe88788ff33)

[2021-09-02 17:55] sienna-blumstengel opened #8822 "UI - Update entity dashboard with custodian"
## Description

**Both**

- [x] New "Dissolution Complete" detail component in filing history list (done in [7635](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/7635))
- [x] Verify that staff comments button is displayed and enabled, otherwise no change for staff (done in [7635](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb3

[2021-09-02 17:56] thorwolpert commented on #8593
CP0002391 - completed.
Filing marked as paper_only as lear doesn't support creating the IA pdf yet
putting CP0002081 in a different issue

[2021-09-02 17:56] sienna-blumstengel opened #8823 "UI - Start a dissolution filing"
### Description

This ticket will implement everything needed to start  a dissolution filing.
Implement for both co-op and corp.

- [x] Feature Flag Dissolve Btn
- [x] Prevent Dissolve btn for Temp Reg Numbers
- [x] Button "Dissolve this co-op"
  - Similar button placement
- [x] Tool tip on buton
  - Different text for co-ops and corps
- [x] Pop-up for "you are not in good standing" (existing flag

[2021-09-02 17:57] thorwolpert opened #8824 "Process co-op filings: SPECIAL RESOLUTION filing for CP0002081"
### ServiceNow incident:
none, sent from Kial
### Contact information
Staff Name: Kial

### Description

EMAIL THREAD: [https://app.zenhub.com/files/157936592/9429c73d-2fdb-4f0e-9692-3e73e41a6078/download](https://app.zenhub.com/files/157936592/9429c73d-2fdb-4f0e-9692-3e73e41a6078/download)

EMAIL ATTACHMENT: [https://app.zenhub.com/files/157936592/13f31434-74bf-49e9-a906-1bcc2eb31b67/download](ht

[2021-09-02 18:01] Sienna-Blumstengel opened #8825 "Legal API - Calculate "Not in Good Standing""

[2021-09-02 18:37] chdivyareddy commented on #8410
Verified Registration Date/Time in DEV.
Created a new ticket for Incorrect display of Expiry Date/Time [#8818](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8818)

[2021-09-02 18:45] Sienna-Blumstengel commented on #8326
Ask Cameron who the email went out to. There are some groups that do work for co-ops on the mainframe. We should make sure those groups were  communicated.

[2021-09-02 18:47] Sienna-Blumstengel commented on #8327
tell clients what date we sotp accepting forms

[2021-09-02 19:20] chdivyareddy commented on #8280
**Current Behavior**
When I open a CSV file with excel, then the date format is displayed as the following screenshot, But, when I double click on the selected date cell then it is displaying as '2021-08-27  2:09:01 PM'
My question here is when a user downloads the CSV file, should it display as YYYY-MM-DD H:M:S? or as per the screenshot provided?
![image.png](https://images.zenhubusercontent.com/

[2021-09-02 20:05] janisrogers commented on #8280
I think the format is decided by the settings in excel isn't it?

[2021-09-02 20:41] sumesh-aot commented on #8280
@rkim13103 Can you please advise on this? When we create CSV it's populating the date in YYYY-MM-DD HH:MM:SS (24 hour) format. But by default excel shows it as YYYY-MM-DD HH:MM, and when you click on it excel shows it in 12 hour format.
Question: Should we change the format which would align with excel default formats? e.g, YYYY-MM-DD H:M:S in 12 hour format.

[2021-09-02 20:43] jdyck-fw commented on #7965
Leaving this for next triage for review with Linda, as this seems to be a feature update rather than just a bug. Sev remembers us discussing this and deciding not to do the delete from here, just the dashboard.

[2021-09-02 21:05] chdivyareddy commented on #8534
Verified in DEV.

[2021-09-02 21:28] tlebedovich commented on #8444
moving to sprint backlog as tracey needs to update design.

[2021-09-02 21:31] riyazuddinsyed opened #8826 "Verify - Receipts still shows as Pending after 1 or 2 businesses days for PAD accounts."
**Describe the bug in current situation**
When a user files for an NR with a PAD account and upon successful payments, the Receipts shows that the Payment is pending and will be updated in 1 to 2 businesses days but even after 2 days pr even after the NR is approved the users don't get the receipts with the amounts detected.

**Impact of this bug**
All users filing the NR with PAD accounts.

Steps

[2021-09-02 21:32] thorwolpert commented on #8824
completed

[2021-09-02 21:38] jinghualicgi commented on #8684
As discussed we will create UI Design ticket for this...

[2021-09-02 21:40] severinbeauvais opened #8827 "Remove obsolete fields from API business response"
The `business.arMaxDate` and `business.arMinDate` fields are not used by the UI, so they can be deleted from the business endpoint response. (The UI instead uses the data from the AR filing meta.)

Note that the API may still want to calculate these values to validate the Annual Report dates when an AR is filed.

[2021-09-02 21:41] jdyck-fw commented on #8561
Adding this back to the Ops label, it sounds like all of the dev work is done on it. Just the last few check boxes for Ops process by the looks of it.

[2021-09-02 21:43] janisrogers opened #8828 "NAMEX issue: unable to view transaction history - NR 0907567 - INC0107716"
### ServiceNow incident:
INC0107716
### Contact information
Staff Name: Jenn Weldon
Staff Email: Jennifer.Weldon@gov.bc.ca

### Description
I am attempting to view the transaction history for NR 0907567, and unfortunately, I’m getting an error message that says, “There was an error loading the transaction history for this NR. Please try again by reloading the page.”  I have made several attempts t

[2021-09-02 21:47] riyazuddinsyed opened #8829 "Emails with the Receipts does not show up for PAD users."
**Describe the bug in current situation**
when the PAD users file for an NR and then after successful payment the email is received saying that it might take one to 2 business days to confirm the payment but a separate email with the Receipts is not being generated.

**Impact of this bug**
All users making a payment with PAD

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/bus

[2021-09-02 21:47] severinbeauvais commented on #8788
To remove (when the NR type is changed to BC sole prop, general partnership or limited partnership):
- [ ] extrapro jurisdiction
- [ ] foreign jurisdiction

[2021-09-02 21:57] thorwolpert commented on #8606
I was able request "Scooby-Doo" as the name from the Caymans. So it isn't checking.
The attached email doesn't say what the customer tried to enter (so kinda useless to try and recreate the issue)
![image](https://user-images.githubusercontent.com/1042854/131921249-7c338a14-f20b-4e38-94f8-c12cf840dae4.png)
![image](https://user-images.githubusercontent.com/1042854/131921424-9269d5da-64bb-4bcf-8741

[2021-09-02 22:01] tlebedovich commented on #7965
@jdyck-fw - however the work gets done is fine with me, but to note, the way we described is how it was originally designed. here are the design comps, I can include them in the description above for whomever takes on this ticket -
https://projects.invisionapp.com/share/SB11NFJVTAN7#/screens?browse

[2021-09-02 22:09] severinbeauvais commented on #8150
### Test Notes

1. Verify min and max dates for a new COOP AR.
2. Verify min and max dates for a draft COOP AR.
3. Verify due date for a BCOMP AR (before 7am PDT or 8am PST) (and after).
4. Verify annual report date for a BCOMP AR.
5. Verify end-to-end COOP AR filing.
6. Verify end-to-end BCOMP AR filing.
7. Verify end-to-end COA filing.
8. Verify end-to-end COD filing.

(No need to verify IA, Cor

[2021-09-02 22:14] tlebedovich commented on #7681
@chdivyareddy - the data/results issue is being done in another ticket.

[2021-09-02 22:14] severinbeauvais commented on #8788
To fix:
- missing field when editing NR

![Screen Shot 2021-09-02 at 2.57.52 PM.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/c136036d-d62f-48be-8fca-a9d43663e0ee)

[2021-09-02 22:31] janisrogers commented on #8516
Note from Thor:
that’s the data that came from COLIN, so yes plz, a filing to fix addresses, etc. would also go back and correct colin
so I think a filing would be the best way
the “filed By” will get updated with (not the current release, but hte next release) of the lear, so end of next sprint

[2021-09-02 22:31] PatrickAHeath commented on #7535
@doug-lovett Requested a NR in Entities using the BCREG0050 userid and payment completed with no error.  Will check with Sumesh.

[2021-09-02 22:33] thorwolpert commented on #6290
completed

[2021-09-02 22:37] jdyck-fw commented on #5157
I believe this can be closed, and passing it to you to confirm @Kaineatthelab

[2021-09-02 22:38] rarya-freshworks commented on #8610
I tested the ticket in Dev env and no issues were found. Once the ticket has been tested in TEST env will move the ticket.

[2021-09-02 22:38] chdivyareddy commented on #8531
Verified in TEST.

[2021-09-02 22:43] Sienna-Blumstengel commented on #8788
Tested NR 8434331
Edited as a client in Name Request
XPRO CORP Canada > BC Soleprop
Checked in NameX to see if it still has the home jurisdiction. It did
![Screen Shot 2021-09-02 at 3.38.08 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/acd70a49-419b-405a-9ece-2be01eaaae81)

Tested NR 1409968
Edited as STAFF in NameX
XPRO CORP Canada > BC Soleprop
Checked in NameX to see if

[2021-09-02 22:45] janisrogers commented on #8516
Note sent to Cameron and Mark:

[2021-09-02 22:54] janisrogers commented on #8824
Sent a note to Bob asking if we could close the ticket.

[2021-09-02 22:54] thorwolpert commented on #6385
this doesn't have the information to do voluntary liquidation.
adding as a paper-only filing to complete (but inaccurately)
dissolved CP0000088 = 2021-02-01 06:59:59+00

[2021-09-02 23:01] janisrogers commented on #8824
From Bob. I don’t think so and no need to let me know either.   I am just letting Kial and Richard know that I have created events for the filing. @thorwolpert Just needs the estimate and the milestone, then it can be closed

[2021-09-02 23:05] janisrogers commented on #8516
@thorwolpert Please add your estimate and the milestone and then close the ticket.

[2021-09-02 23:08] #8516 closed

[2021-09-02 23:12] janisrogers commented on #8593
@thorwolpert Please add your estimate and the milestone and then close the ticket

[2021-09-02 23:15] #8824 closed

[2021-09-02 23:15] #8593 closed

[2021-09-02 23:24] Sienna-Blumstengel opened #8830 "Incorporation NRs are showing to clients as Amalgamation NRs in Name Request"
### Description

NR 4582846

1. ![Screen Shot 2021-09-02 at 4.03.12 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/1cf493ca-baaf-42d1-97c1-5dcafc749a1d)
2. ![Screen Shot 2021-09-02 at 4.03.20 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/bbef6272-e852-4513-a5ce-b9e847cd2c0c)
3. ![Screen Shot 2021-09-02 at 4.03.28 PM.png](https://images.zenhubuserconte

[2021-09-02 23:25] janisrogers commented on #8561
@jdyck-fw I'm not sure #8592 addresses this issue. She wasn't having trouble consuming the names, it was just that she was getting an error when she submitted the NR and was not given the NR number, so had to call support with every NR she created.

[2021-09-02 23:29] Sienna-Blumstengel opened #8831 "Client paying for several NRs but NRs that are created are broken"
### ServiceNow incident:
N/A, submitted from Kristopher Yee in the names chat

### Contact information
Staff Name: Kristopher Yee
Staff Email:

### Description

The client got charged for a whole bunch of NRs but all the NRs are broken and unusable. None can be found in NameX except for NR8856605 (which debbie cancelled accidentally, that was the only one that worked. Staff created another replace

[2021-09-02 23:34] thorwolpert commented on #7119
fixed

[2021-09-02 23:36] chdivyareddy commented on #8534
Verified in TEST.

[2021-09-03 00:26] tlebedovich commented on #8432
Thanks @argush3 looks great. Here is my UX Assurance feedback:

- [ ] Tool tip - please match to our standard tip tool design, which uses a dark gray instead of blue (you can see the actual shared style shown on the Name Request front page tool tips for actual colour used)

![Screen Shot 2021-09-02 at 4.51.13 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/9213bafd-27b8-403f-

[2021-09-03 00:30] thorwolpert commented on #7522
BC1275548 looked ok
CP0001696 (55135) corrected with a technical filing.

[2021-09-03 00:32] tlebedovich commented on #8452
@chdivyareddy @jordiwes - I could only test for total discharge since its the only active buttons in the table, but can look at the others when renew and amend are available in the future.

[2021-09-03 00:37] thorwolpert commented on #4796
fixed

[2021-09-03 00:59] thorwolpert commented on #8765
duplicate of #8766

[2021-09-03 00:59] #8765 closed

[2021-09-03 01:00] thorwolpert commented on #8766
duplicate of #8765, but with more info, closing other issue

[2021-09-03 11:03] vysakh-menon-aot commented on #8721
Queries to update historical data (post deployment) @thorwolpert @Sienna-Blumstengel

-- CONSUMED
UPDATE public.requests AS nr SET state_cd = 'CONSUMED'
FROM public.requests AS r
	INNER JOIN public.names AS n ON r.id = n.nr_id AND n.state in ('APPROVED', 'CONDITION')
WHERE
	nr.id = r.id AND
	r.state_cd IN ('APPROVED', 'CONDITIONAL') AND
	n.consumption_date IS NOT null;

-- EXPIRED
UPDATE public.re

[2021-09-03 11:07] vysakh-menon-aot opened #8832 "Namerequest update to use NR State - CONSUMED, EXPIRED"

[2021-09-03 13:02] argush3 commented on #8807
@riyazuddinsyed i believe various payment issues have been resolved in DEV after I bounced the `entity-pay` queue listener service as I had mentioned in RC.  For CP0001416, I was able to file an AR(2020) as staff and pay with no fee.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/1a8ac6c9-2506-49d2-8541-1f7a7f26bf80)

[2021-09-03 14:44] #8755 closed

[2021-09-03 15:17] chdivyareddy commented on #7864
Verified in DEV.

[2021-09-03 15:31] #5157 closed

[2021-09-03 15:35] chdivyareddy commented on #8767
As per the requirements, all these registrations are set to Infinite and No Fee. The 'Fee Summary' should be updated to all these (MD, PT, SC).

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/daf2e119-62a2-4b53-b529-7403d8b59dbe)

[2021-09-03 15:54] Sienna-Blumstengel opened #8833 "Change "BC" to "British Columbia""
### Description

From a client via Hotjar:

Staff discussion:

![Screen Shot 2021-09-03 at 8.52.13 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/a54b30eb-4d98-4c38-965e-62e921e4a8e2)

### To do:
Change "BC" to "British Columbia" in the:
- [ ]  Name Request UI, main request page
- [ ] Review NR before payment page
- [ ] Review existing NR page
- [ ] Edit existing NR page

[2021-09-03 15:59] cameron-freshworks commented on #8802
Just a note for whomever takes this on. These values could potentially already be returned to Auth and maybe filtered out in this Affiliations response to Auth Web, just something to look at as well.

[2021-09-03 16:08] Sienna-Blumstengel commented on #8833
duplicate of 8715

[2021-09-03 16:08] #8833 closed

[2021-09-03 16:19] tlebedovich commented on #8535
hi @jordiwes - here is my UXA:

- [ ] Folio is optional so it does not need to show the red validation bar when user click "Total Discharge Now >"
![Screen Shot 2021-09-03 at 8.56.39 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/0a9fb6e0-1deb-4986-a96b-624e1ff4b4f3)

- [ ] Intro copy should be: "Add an optional number for this transaction for your own tracking purposes. Thi

[2021-09-03 16:28] sumesh-aot commented on #8831
@Sienna-Blumstengel I can see 12 invoices being created for this bcol account number,

[code]

What is the action item here? Should we refund all? Or do you have a list of NRs which should be refunded.

[2021-09-03 16:38] sienna-oldaccountdontuse opened #8834 "UI Design - Name Request edit an existing name"
### Description
GIVEN a client has created an NR
AND the NR is still in Draft
WHEN the client goes to edit the NR
AND the client edits it to be xpro (canada or international)
**THEN the client in not prompted to enter the required xpro fields (corp number or name + search) on this screen**
^ We need to fix that

(Home jurisdiction is actually prompted on the second edit page.)

Need to design the

[2021-09-03 16:39] Sienna-Blumstengel commented on #8834
FYI @tlebedovich @forgeuxGH5 this is an issue in prod that has been causing bugs, we should add this design ticket to the next sprint

[2021-09-03 16:41] Sienna-Blumstengel commented on #8788
Continuing the work to fix a related bug in 8834

[2021-09-03 16:42] Sienna-Blumstengel commented on #8492
@SateeshFW would you please add a release label to this? We worked on this in the Auth UI and it will be released in your code.

[2021-09-03 16:43] Sienna-Blumstengel commented on #7740
@SateeshFW would you please add a release label to this? We worked on this in the Auth UI and it will be released in your code.

[2021-09-03 16:43] #7740 closed

[2021-09-03 16:43] #8492 closed

[2021-09-03 16:43] severinbeauvais commented on #8788
### Test Notes

The subject bug is fixed by resetting the search values when the location menu has changed.

However, an existing bug has been identified: a user changing their NR from a BC to an xpro is not prompted for the home jurisdiction or corporate number or name. A design ticket to solve this is in the works already.

Kaine says it's OK to implement the fix for THIS bug in the next release

[2021-09-03 16:45] sumesh-aot commented on #8766
@PatrickAHeath Is there any action item left on this? If yes, please let me know. If not, can you please move the ticket to appropriate column?

[2021-09-03 16:49] chdivyareddy opened #8835 "Registration - Misc. Reg. Act - Manufactured Home Notice (MN)"
**Describe the bug in the current situation**
For Crown Charges and Misc Act Other registrations, only 1 Secured Party is allowed and it must be from the dropdown list (Secured Party account must match Registering Party account).

**Link bug to the User Story**

**Impact of this bug**
High

**Chance of Occurring** (high/medium/low/very low)
High

**Pre Conditions:**
DEV env

**Steps to Reproduce**

[2021-09-03 16:51] chdivyareddy commented on #7865
Created a new ticket for Manufactured Home Notice (MN) Issue [#8835](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8835)

[2021-09-03 17:00] sumesh-aot commented on #8604
Below are my findings;
- User `zimmer@bceid` submitted the account request for `Miles Zimmer & Associates`.
- User 'zimmer@bceid`'s name in user profile is Eske Kruger (as for BCeID user profile holds the up to date data), so the account review will display that name.
- When the user created the BCeID, they provided the name Patti Parisien. So the name keycloak receives from the BCeID is Patti Par

[2021-09-03 17:20] tlebedovich commented on #8542
@kialj876 - Thanks, here my UXA:

Folio is already a shared component so I think we need to match Confirm component with it;

- [ ] Should be "2. Confirm" with space after the period
- [ ] Please align gray box/content with the Folio component input field (since Folio is a shared component)
- [ ] White component box corners should be rounded
- [ ] Match linespacing to Folio

![Screen Shot 2021-09-

[2021-09-03 17:35] Sienna-Blumstengel commented on #8493
Duplicate of #8494

[2021-09-03 17:35] #8493 closed

[2021-09-03 17:36] Sienna-Blumstengel commented on #8830
It was determined that this NR was created in NRO, so this is an issue that we will need to worry about for a little longer, but will go away. CLosing

[2021-09-03 17:36] #8830 closed

[2021-09-03 17:39] doug-lovett commented on #8806
Final decision for Secured Party Look Up - Restricted Registrations (Crown):
- Match on account numbers (BCOL): obtain the user account number from an auth api call to endpoint /api/v1/users/orgs. The response bcolAccountId is the account number.
- Return a list of 1 or more parties where client_codes.bcol_account matches the user account number. Return an empty list if there are no matches.
- Ord

[2021-09-03 17:40] jyoti3286 commented on #8728
@rkim13103 You can refer to 8157 for BA analysis for this piece

[2021-09-03 17:44] Sienna-Blumstengel commented on #5669
Already completed by Vysakh in 8721, closing!

[2021-09-03 17:44] #5669 closed

[2021-09-03 17:45] sumesh-aot commented on #8604
This was fixed as part of https://github.com/bcgov/entity/issues/8302, which went to PROD on Aug 19th (https://github.com/bcgov/sbc-auth/releases/tag/2.5.19)

[2021-09-03 17:48] severinbeauvais commented on #8788
Well actually... If a user changes from a BC location to an xpro, the final Edit page has a dropdown menu to select the province/business jurisdiction (and it is a required field). There are other issues within the edit pages that design ticket 8834 can look into, but it appears that entered the juridiction is currently handled.

[2021-09-03 17:48] severinbeauvais commented on #8834
Well actually... If a user changes from a BC location to an xpro, the final Edit page has a dropdown menu to select the province/business jurisdiction (and it is a required field). There are other issues within the edit pages that this design ticket can look into, but it appears that entering the juridiction is currently handled.

[2021-09-03 17:58] Sienna-Blumstengel commented on #8825
ALready built, closing!

[2021-09-03 17:58] #8825 closed

[2021-09-03 18:00] tlebedovich commented on #8451
@jordiwes - Here is my UXA:

And I couldn't review buttons for Expired or Discharged as they aren't in the table. And couldn't review Amend or Renew security modals as they aren't available.

@jordiwes @chdivyareddy - to note we recently updated the button actions and dropdown items (to remove the "Open" option etc), but there is a new ticket #8602 that will deal with this.

- [ ] new Total Discha

[2021-09-03 18:02] tlebedovich commented on #8601
@janisrogers @forgeuxGH5 - fyi - I think we need "are you sure you want to.." remove modals for the Delete Draft and Remove From Table, similar to what we are doing for Manage Business table. I've added it as a to do.

[2021-09-03 18:10] doug-lovett commented on #8541
Verified in DEV UI: 100082B discharge reg num on base 100051B.

[2021-09-03 18:12] jyoti3286 opened #8836 "Configurable value for # of Days to review the affidavit for account creation"
*GIVEN that Account, Administrator has submitted their affidavit along with Account creation
*OR When they re-submit their affidavit upon request
*WHEN they get the final confirmation screen
*THEN the message which mentions the $ of days should be configurable: "Please allow 3-5 business days for this process"
#### Currently it says 5 business days, we need to change it to 3-5 business days

https

[2021-09-03 18:19] PatrickAHeath opened #8837 "No Pending Review account for email from Sheri Minard"
### ServiceNow incident:  INC0107831
### Contact information
Staff Name:  Cheryl Hall
Staff Email:  BCONLINE@gov.bc.ca

### Description
BCONLINE received email that Sheri Minard submitted a request that requires approval, but there is no request with that name in Pending Review.

This may be similar to #8604.  Please check to see if the BCeID for one of the other Pending Review requests relates to

[2021-09-03 18:23] Sienna-Blumstengel opened #8838 "Framework ⚠️ Do this first"

[2021-09-03 18:29] sumesh-aot commented on #8837
@PatrickAHeath It's same as #8604. User's name from BCeID is Sheri, Minard. But their profile name is Edward, Woolley and they submitted an account with name 'EDWARD J. WOOLLEY LAW CORPORATION'.

As mentioned in #8604, fix for this is in PROD.

[2021-09-03 18:30] PatrickAHeath opened #8839 "NR Refunds Aug 30 - Sep 5"
- [ ]  NR 7618614 (INC0106164)
- [ ]  NR 1599964 (INC0107940)

[2021-09-03 18:37] SateeshFW commented on #6206
@pwei1018 Is there a timeline for the create and edit business application to move to BC registry domain?

[2021-09-03 19:02] Sienna-Blumstengel commented on #8831
@sumesh-aot thanks and apologies, I added more detail to the ticket.

Is that enough info?

[2021-09-03 19:04] chdivyareddy commented on #8541
Verified in DEV.

[2021-09-03 19:18] sumesh-aot commented on #8831
Ok, just to double confirm, including 'NR 3160553' which was created on an earlier date, and by a different user ?

[2021-09-03 20:00] Kaineatthelab opened #8840 "For Reference - MHR Legacy Application Screenshots"
Screen shots from Legacy Application:

Documents not Filed Online:
[https://app.zenhub.com/files/157936592/b2ade8f7-a283-463e-a800-a5311ae0ccfc/download](https://app.zenhub.com/files/157936592/b2ade8f7-a283-463e-a800-a5311ae0ccfc/download)

Exemption:
[https://app.zenhub.com/files/157936592/6a07f6e8-c1f3-4e39-a2bf-799c41270f95/download](https://app.zenhub.com/files/157936592/6a07f6e8-c1f3-4e39-a2b

[2021-09-03 20:00] Kaineatthelab opened #8841 "Theme - MHR"
**Owner** - 900000
Registrar
**Description**
BC is the only jurisdiction that has a Manufactured Home Registry, information maintained in the Manufactured Home Registry protects owners and purchasers of manufactured homes and improves the security of lenders in financing purchases of manufactured homes. The registry assists the province and municipalities in the collection of taxes by requiring th

[2021-09-03 20:23] PatrickAHeath commented on #8604
Staff updated.  Closing issue.

[2021-09-03 20:23] #8604 closed

[2021-09-03 20:24] chdivyareddy commented on #8541
Verified in TEST.

[2021-09-03 20:33] tlebedovich commented on #8570
Table looks amazing, thank you! I'll move this to RFQA.

[2021-09-03 20:36] PatrickAHeath commented on #8837
Response from Staff:

Hi Team,

Thank you for investigating this for me, I see the account was approved with the notification that was blank – as the account has been approved and is now active – This matter has been resolved – please close ticket.

Regards,

Cheryl

[2021-09-03 20:36] #8837 closed

[2021-09-03 20:38] chdivyareddy commented on #8452
Verified Total Discharge in TEST.

[2021-09-03 20:39] sumesh-aot commented on #8831
NR 3160553 is CONDITIONAL in names DB

[2021-09-03 20:54] chdivyareddy commented on #7865
Verified in TEST.

[2021-09-03 21:05] tlebedovich commented on #8622
@kialj876 - I linked the design ticket for fee summary updates for ya.

[2021-09-03 21:12] sumesh-aot commented on #8831
@Sienna-Blumstengel All NRs have been requested for refund except NR 3160553.

[2021-09-03 21:19] sumesh-aot commented on #8826
PAD payments are not automated in DEV, as CFS doesn't have an environment to link with our DEV.
In TEST and PROD it's automated.

[2021-09-03 21:32] jyoti3286 opened #8842 "[Design] Add Manual Transaction Validations"
* As a staff user
* I want to be notified of the correct system messages while adding transactions
* so that I can pay using Routing Slips

**Acceptance Criteria**

**Scenario 1: Not having enough balance on Routing Slip while adding one transaction**
* GIVEN that I am on the manual transaction page adding a manual transaction
https://preview.uxpin.com/76da32cd3abd1eb16c96507294189fbd7bee9140#/pag

[2021-09-03 21:39] Sienna-Blumstengel commented on #8831
Interesting, i didn't know it was from a different user. Ok thanks I will get back to staff and ask! Could you add an estimate on this for your time spent @sumesh-aot?

[2021-09-03 22:39] tlebedovich commented on #8240
Designs are ready for final and/or staff review

[2021-09-03 23:19] janisrogers commented on #8601
Ready for review and then visual design.

[2021-09-03 23:45] PatrickAHeath opened #8843 "NR9080780 - Client cannot retrieve receipt for NR"
### ServiceNow incident:  INC0107958
### Contact information
Staff Name:  Kristopher Yee
Staff Email:  Kristopher.Yee@gov.bc.ca

### Description
Client receives error when attempting to download NR receipt from Name Requests.  IT Ops and I have both received error doing the same.

[https://app.zenhub.com/files/157936592/9b9ad329-216f-4277-8e02-b95e0da9a8a6/download](https://app.zenhub.com/files/15

[2021-09-04 00:22] sumesh-aot commented on #8843
@PatrickAHeath This NR appears to be submitted from NRO.
[code]
 So is receipts supposed to work for Name Requests submitted from NRO? There are obviously no payment records in namex and pay databases.

[2021-09-04 02:04] thorwolpert commented on #8843
Please advise the client that they made the payment in the legacy system and need to retrieve the receipt from there.
from GlobalP == BCOL Payment in the now closed NRO app
[code]

[2021-09-07 05:19] #7858 closed

[2021-09-07 05:19] #8453 closed

[2021-09-07 05:31] jinghualicgi commented on #7561
Thanks Tracey, so I will continue close tickets by following 2 day rule, please feel free to reopen design ticket when needed. Thanks

[2021-09-07 05:31] #7561 closed

[2021-09-07 05:36] #8703 closed

[2021-09-07 12:20] #7560 closed

[2021-09-07 12:20] #8080 closed

[2021-09-07 12:21] #8454 closed

[2021-09-07 12:21] #8509 closed

[2021-09-07 13:22] #8449 closed

[2021-09-07 13:23] #8455 closed

[2021-09-07 13:23] #8531 closed

[2021-09-07 13:24] #8534 closed

[2021-09-07 13:56] vysakh-menon-aot opened #8844 "legal-api - update to use NR State - CONSUMED, EXPIRED"

[2021-09-07 14:41] PatrickAHeath opened #8845 "INC0107960 - Name Request Error"
### ServiceNow incident:  INC0107960
### Contact information
Staff Name:  Kristopher Yee
Staff Email:  Kristopher.Yee@gov.bc.ca

### Description
Client receives an error when attempting to create an NR in Name Requests.  Error occurs on clicking Continue to Payment.  See attachment for screen shots and email.

[https://app.zenhub.com/files/157936592/5ca50f0a-1709-48ff-a268-c2b69eb354ac/download](h

[2021-09-07 15:23] yuisotozaki commented on #8642
@tlebedovich That's quite possible - the idea to do a last cross-feature (or app) comparison of the PDFs came from reviewing both PPR and Coop PDF outputs and observing that we weren't sure if the same layout was being applied for each feature/app.
Things we want to catch are:
- Are the logos the same size and location across all outputs?
- Are the fonts all BC Sans?
- Are the colours all consiste

[2021-09-07 15:36] gh20s commented on #8845
From the screenshots provided, the client looks to have a comma at the end of their business name. I replicated the issue in test and was able to receive the error notification. I went back and removed the comma from the business name, and was able to continue through to the pay screen. I believe that is causing the client the error. I would recommend they try in an incognito window for the next s

[2021-09-07 15:37] #5254 closed

[2021-09-07 15:37] tlebedovich commented on #8240
@Kaineatthelab @forgeuxGH5 - I'm moving this to done for this sprint but we should probably still review with staff/team when ready.

[2021-09-07 15:40] tlebedovich commented on #8240
@jinghualicgi - this needs to be linked to an Epic and Dev ticket.

[2021-09-07 15:41] Sienna-Blumstengel commented on #8843
@thorwolpert could you please elaborate on how the client could access their receipt in the legacy system? Do you have some instructions I can provide to the client?
Also, the client should have recieved an email containing the receipt after their initial purchase, but they claim to have not recieved it.

[2021-09-07 15:43] yuisotozaki commented on #8679
I like Tracey's email content.
I'd suggest email title to contain the word "expired" to be 100% clear of the state of the request.
E.g. Your Name Request NR 5866104 Has Expired

[2021-09-07 16:13] Kaineatthelab opened #8846 "Misc Act Types"

[2021-09-07 16:14] doug-lovett commented on #7624
@thorwolpert this is painful. The env variable URL for PPR test is incorrect.
https://ppr-ui-test.apps.silver.test.ps.gov.bc.ca/ppr
should be
https://ppr-ui-test.apps.silver.devops.gov.bc.ca/ppr

[2021-09-07 16:22] #8615 closed

[2021-09-07 16:36] #8784 closed

[2021-09-07 16:36] #8800 closed

[2021-09-07 16:37] Sienna-Blumstengel commented on #8679
Updated the email content sheet with Tracey's last comment
https://docs.google.com/spreadsheets/d/11wic6XEals7mLm7l64_Zl5K0YHuRAAfERpFPK--c4m0/edit?usp=sharing

@tlebedovich I had drafted the subject line to be consistent with others, so this one looks a bit different than others. I like the improvement, maybe we should keep in mind to update other subject lines as we process to make updates to em

[2021-09-07 16:43] #5264 closed

[2021-09-07 16:47] #8676 closed

[2021-09-07 16:50] pwei1018 commented on #4416
Database Storage thresholds alerting is done in Sysdig.

[2021-09-07 17:07] thorwolpert commented on #8843
i'm not familiar with how to get receipts from BCOL, which is how they paid.
emails for a BCOL payment would be through the old system, we don't have access to that.

[2021-09-07 17:17] jinghualicgi commented on #8846
@Kaineatthelab , are we going to groom this? Maybe move to grooming?

[2021-09-07 17:21] rkim13103 commented on #8280
@sumesh-aot
So according to our pdf designs, we go with YYYY-MM-DD H:M:S AM/PM, Time Zone,   in a 12 hour format.
I think we could align with the excel default format

[2021-09-07 18:31] mstanton1 opened #8847 "Relationships Release Notes Sept 9th, 2021"
### Description
Draft release notes for the release Sept 9th, 2021.

Release name in Zenhub: Relationships Sprint 10.4 Release
Release includes:
- 8850 (FAS) _Exclude_
- 8660 (FAS) _Exclude_
- 8659 (FAS) _Exclude_
- 8631 (FAS) _Exclude_
- 8748
- 8610
- 8280
- 7821 (FAS) _Exclude_
- 7644
- 6920

### Ops Process
- [ ] Add **Entity** or **Relationships** label to zenhub ticket
- [ ] Add **Ops** label

[2021-09-07 18:38] #8843 closed

[2021-09-07 18:38] Sienna-Blumstengel commented on #8843
We have defined a temp process with staff:

If a client requested a name in NRO, and would like access to their receipt (and as expected, can't access it in the new app), please open an IT Ops ticket for the home team. They will be able to get the receipt from the old database.

I will close this ticket and tell staff to follow this temp process.

[2021-09-07 18:53] Sienna-Blumstengel opened #8848 "INC0107974 - Name Request payment issue"
### ServiceNow incident:
INC0107974
### Contact information
Staff Name: Kristopher Yee

### Description

EMAIL THREAD: [https://app.zenhub.com/files/157936592/704a74d4-b159-406a-83ed-7f34c727ba92/download](https://app.zenhub.com/files/157936592/704a74d4-b159-406a-83ed-7f34c727ba92/download)

BCOL client is experiencing payment issues.
Every NR gets stuck in payment pending.
Example: **NR 8842834**

[2021-09-07 19:00] SateeshFW opened #8849 "Reconciliation Reports"
TBD

* As a (who/ person)
* I want (what/ goal)
* so that (why/ benefit proposal)
or
* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what is expected value and justification for priority.

----
* Start date when team will start to work on: This is visible in ZenHub under "Roadmap"
* End date Epic will be deli

[2021-09-07 19:08] karthik-aot opened #8850 "FAS Bug - Linked Routing Slip parent has inaccurate child payment"
Current scenario:

![image.png](https://images.zenhubusercontent.com/6019adf278444774e61ecf92/6b4cd962-bd60-46d8-8da4-088014e9d54e)
![image.png](https://images.zenhubusercontent.com/6019adf278444774e61ecf92/c00971cc-928d-4774-87fb-324b5ddaf8bd)

The total amount if the child is $540. However, in the parent it is displayed as $340.

Expected: The parent routing slip must have correct payment info o

[2021-09-07 19:43] chdivyareddy commented on #8767
Verified in DEV.

[2021-09-07 19:44] stevenc987 commented on #8718
@mstanton1
1.  NR 4322193 (INC0106164):  Refund Requested
2.  NR 0622771 (INC0106290) Paid by BC OnLine, please trigger refund endpoint: No payment record on postgres database
3.  NR 5476858 (INC0106890):  Refund Requested
4.  NR 6441106 (INC0107415): No payment record on postgres database

[2021-09-07 20:28] lmcclung commented on #8290
@tlebedovich @Sienna-Blumstengel @vysakh-menon-aot A little context here, for Benefit Companies we send the IA and receipt out to the client upon payment (before the system applies the filing which included getting an incorporation number from oracle database) so at this point the entity doesn't have an incorporation number.  Once the system as completed the filing we send out the Certificate and

[2021-09-07 20:30] tlebedovich commented on #8290
Sounds good @lmcclung @vysakh-menon-aot - just wanted to confirm.

[2021-09-07 20:31] sumesh-aot commented on #8494
Cloud event for names doesn't include name choices, last updated by details. So adding a server side filtering/sorting on these fields wouldn't work as expected. UI makes call to NR API to get additional details to display on the UI, so any filter/sorting on those additional data retrieved from NR API wouldn't work.

[2021-09-07 20:44] gh20s commented on #8848
I couldn't find anything for this NR in the logs on Kibana. The status of the NR is in pending_deletion. Is the issue when they hit the payment button it times out and doesn't go further to the payment page? Which browser are they using? Maybe a screen recording or something because i'm not entirely sure where the issue is.  I looked at the pay db and their account seemed fine, but that's not sayi

[2021-09-07 20:45] tlebedovich commented on #5255
@jinghualicgi - I think #8240 still needs a dev ticket, but i've linked the UI Design ticket to this epic as a dependancy for now. c/c @Kaineatthelab

[2021-09-07 20:50] severinbeauvais commented on #8788
### Test Notes:

This ticket fixes a few things. Please verify:
1. Jurisdictions (country) list displays properly on NR create first page.
2. Can Jurisdictions (province) list displays properly on NR create first page.
3. Error displays if action is empty on NR edit first page.
4. Error displays if jurisdiction is empty on NR edit first page.
5. Error displays if business type is empty on NR edit

[2021-09-07 20:54] Sienna-Blumstengel commented on #8848
Ah thanks Greg, I didn't check it's status. If it's in pending deletion, that means it has been in payment pending for 5 days and is going to be deleted. I am sure the client's NRs that they attempt to submit have all ended up in that state.

I requested Kristopher contact the client and make sure they are using chrome, ask them to try in incognito, and also check the console for errors. We will s

[2021-09-07 21:18] severinbeauvais commented on #8082
I looked through the Sentry logs for Name Request Production since Aug 31 and I did not find any HTTP 400 errors corresponding to creating payment requests, so I've set this ticket to Done.

(There are still numerous Sentry errors for outstanding issues, which I will investigate briefly and create new tickets for.)

[2021-09-07 21:18] jyoti3286 opened #8851 "FAS: Change the Name of the person to Incorp Search and NR #"
* As a user/staff
* I want to have a field to input the Busines # or NR #
* so that I can submit the RS with more concrete details

**Acceptance Criteria**

**Scenario 1: xxxxxx**
* GIVEN ... (you or your condition)
* WHEN ... (what you do)
* THEN ... (what you see)

**Scenario 2: xxxxxx**
* GIVEN ... (you or your condition)
* WHEN ... (what you do)
* THEN ... (what you see)

**Scenario 3: xxxxxx*

[2021-09-07 21:19] Sienna-Blumstengel commented on #6290
Looks like the client was indeed able to file whatever they were trying to file. Also looks like Art Foss has "BC" in his address instead of "B ".

However, the outputs and dashboard might be incorrect.

1. **Output still shows "B" in Art Foss' address**
![Screen Shot 2021-09-07 at 2.12.03 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/f6f66e63-7d62-4070-8852-cdbeb1e6e90c)

[2021-09-07 21:23] cameron-freshworks commented on #8494
The issue i've come to realize as well.
I'm not sure there is an elegant way to do this, currently having to consolidate and sort these values coming from multiple sources in the place they both exist concurrently, the UI.

[2021-09-07 21:26] severinbeauvais opened #8852 "NR UI: HTTP 403 after retrieving payment"
**Describe the bug in current situation**
Sentry event: https://sentry.io/organizations/registries/issues/?query=is%3Aunresolved+getNameRequest

It appears that, after successfully retrieving a payment record, the subsequent getNameRequest() fails due to missing auth fields. (There are probably the session storage fields used for auth.)

I can also see in the breadcrumbs that there was an error ge

[2021-09-07 21:29] Sienna-Blumstengel commented on #8290
Riiight of course, thanks Linda!

[2021-09-07 21:33] mstanton1 commented on #7989
Forms were produced by Genevieve. I've reviewed the new form and requested the following adjustments:

• Mailing Address: please remove BC Online Partnership Office
• Logo: please update logo to be the logo used for the more recently created Benefit company forms. E.g. https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registrati

[2021-09-07 21:35] mstanton1 commented on #8350
Forms were produced by Genevieve. I've reviewed the new form and requested the following adjustments:

- Mailing Address: please remove BC Online Partnership Office
- Logo: please update logo to be the logo used for the more recently created Benefit company forms. E.g. https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registrati

[2021-09-07 21:39] SateeshFW commented on #2125
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/fcc1cf88-b0f1-4465-a875-1e0c7360af8f)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/1e8fc571-6649-43c5-a733-066ffa603b49)

Action items from Sprint 10.3 continues

Sprint 10.4 New
@rarya-freshworks - Focus more on the FAS functionality testing for bug free delivery.  Add details, in each ticket,

[2021-09-07 21:43] #8609 closed

[2021-09-07 21:44] #7683 closed

[2021-09-07 21:44] #8732 closed

[2021-09-07 21:45] lmcclung commented on #8082
Not adding to a release as no changes made.

[2021-09-07 21:45] #8082 closed

[2021-09-07 21:46] #8779 closed

[2021-09-07 21:48] #8807 closed

[2021-09-07 21:49] mstanton1 commented on #8718
Two NR's above were unable to be located in postgres.

2. NR 0622771 - found payment record in globalp.payment which indicates payment was made through old Name Requests.

- payment_id: 1248911
- transaction_id: 5057162
- total charged: 31.50

4. NR 6441106 - found payment record in globalp.payment which indicates payment was made through old Name Requests.

- payment_id: 1250222
- transaction_id:

[2021-09-07 21:50] #8718 closed

[2021-09-07 21:53] #5866 closed

[2021-09-07 21:53] #6705 closed

[2021-09-07 21:55] chdivyareddy commented on #8767
Verified in TEST.

[2021-09-07 21:55] forgeuxGH5 commented on #6290
The All Directors section of the output looks right relative to the dashboard except is looks like Dickie, Glen is missing in the output (Glen is listed in the dashboard but it shows an empty space in the output where Glen should be)
The "C" missing in BC could be from a bug in the address component that makes it look like the user selected BC but it is using a custom input in the Region field.

[2021-09-07 22:15] jinghualicgi commented on #8086
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/a12b80b7-44f8-40de-8a3c-3b3ad1e69f41)
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/f269f462-e260-4653-ba7f-f5dc635753aa)

[2021-09-07 22:16] jinghualicgi commented on #8086
**Action Items:-**
•	All: Going forward use "QUERY/LOOKUP" in new ticket (Yui will inform/get feedback from Design Team)
•	Demo piece get UXA done by Friday, so design team can provide feedback
•	Kaine and Jinghua: keep more tickets in the backlog, or some guidance on what to choose when sprint backlog is complete
•	One developer from Dev team join Design meeting:  Rotate every two weeks
•	Divya:

[2021-09-07 22:39] severinbeauvais opened #8853 "NR API: HTTP 500 on createPaymentRequest()"
**Describe the bug in current situation**
Sentry issue: https://sentry.io/organizations/registries/issues/2098160573/events/914944e1229b4c7590e3dce086926f7a/

There is little to go on in the Sentry issue, but this appears to be an error in the API.

What I can tell from the breadcrumbs is that the fees were correctly fetched, but when the user clicked the Continue to Payment button, the POST Creat

[2021-09-07 22:39] severinbeauvais opened #8854 "Namex API: HTTP 500 on POST Create Payment"
**Describe the bug in current situation**
Sentry issue: https://sentry.io/organizations/registries/issues/2098160573/events/914944e1229b4c7590e3dce086926f7a/

There is little to go on in the Sentry issue, but this appears to be an error in the API.

What I can tell from the breadcrumbs is that the fees were correctly fetched, but when the user clicked the Continue to Payment button, the POST Creat

[2021-09-07 22:40] mstanton1 commented on #8419
@jinghualicgi this is flagged as High Priority. Can you identify the impacts, or what makes this high priority? If there is no severe impact we can groom in our next grooming which would be next week.

cc @jyoti3286

[2021-09-07 22:42] severinbeauvais commented on #8853
Something went wrong in Zenhub and a duplicate issue was created (8854). I'm closing this one.

[2021-09-07 22:42] #8853 closed

[2021-09-07 22:44] jinghualicgi commented on #8419
@mstanton1 Hi Melissa, Sienna set the Issue as high priority for entity 4 days ago, please check with Sienna and entities team. There is no urgency from Assets team at this moment. Thanks

[2021-09-07 22:50] severinbeauvais opened #8855 "NR UI: should recover instead of giving secondary error"
**Describe the bug in current situation**
Sentry issue: https://sentry.io/organizations/registries/issues/2367283644/events/689c93493ae14dd1b12e4b1a1c76b525/

After a primary error (POST Create Payment = HTTP 500), the user was able to continue to code which gave them a secondary error (PUT Namerequest = HTTP 403).

This cascade of errors should be prevented.

See Sentry for breadcrumbs.

I'm just

[2021-09-07 23:05] jyoti3286 commented on #8494
Any idea @cameron-freshworks why we the cloud events for name doesn't include those details?

[2021-09-07 23:07] severinbeauvais opened #8856 "NR UI: incorrect URL fetching user info (empty Auth Api Url)"
**Describe the bug in current situation**
Sentry issue: https://sentry.io/organizations/registries/issues/2341978216/events/155b37f253264d2889bbcb1fbc3fdf65/

Sentry reports a simple error: GET /users/@me returned a 404 (not found) -- which is obvious because that's an incorrect URL (missing Auth Api Url).

But I don't think it's that simple, since this call seems to succeed for most users.

In th

[2021-09-07 23:15] chdivyareddy commented on #7624
Verified in TEST.

[2021-09-07 23:15] Sienna-Blumstengel commented on #8831
Sumesh and I refunded the client for everything (even two things we were not supposed to). We informed staff that they can fix it in FAS if they want to. The client has a working NR. Closing.

[2021-09-07 23:15] #8831 closed

[2021-09-07 23:16] mstanton1 opened #8857 "Update Email Address on Identity Affidavit"
### Contact information
Staff Name: BC Online Help Desk / Joanna Barnes, Sandra Healy

### Description
The identity affidavit that is available through the Business Registry at https://test.bcregistry.ca/business/auth/nonbcsc-info/download contains contact information in the header.

BC Online Administration provides support for affidavit's so the BC Online Help Desk has requested we include the B

[2021-09-07 23:17] severinbeauvais opened #8858 "NR UI / Namex API: POST Create Payments gets Network Error (HTTP 0)"
**Describe the bug in current situation**
Sentry issue: https://sentry.io/organizations/registries/issues/2102297167/events/64cadee152ab49eb902b2f3649acb8ed/

I am not sure if the API is actually responding with HTTP 0, or whether the UI network library is returning 0... In any case, this issue happens about a dozen times per hour (ie, a lot) and is therefore a significant issue.

The POST Create

[2021-09-07 23:24] #8158 closed

[2021-09-07 23:27] severinbeauvais commented on #8158
Was this tested before 7am PDT? I think that is when the issue is seen.

[2021-09-07 23:28] #7978 closed

[2021-09-07 23:29] Sienna-Blumstengel commented on #8264
https://github.com/bcgov/business-schemas/blob/main/src/registry_schemas/schemas/dissolution.json#L25

[2021-09-07 23:32] lmcclung commented on #8544
@Sienna-Blumstengel I'll create an epic for displaying currencies and put it in the backlog.  And will add this research ticket to it.  No huge rush on doing this work.

[2021-09-07 23:34] lmcclung opened #8859 "Display currency consistently across applications"
We've noticed that some of our UIs show currency amounts as "CAD $...'. some just show '$'.

Decision:  only show CAD $ in the share structure and $ everywhere.  The share structure is the only place where there is the option for other currencies.

[2021-09-07 23:36] #8544 closed

[2021-09-07 23:37] thorwolpert commented on #8264
Why not just file an alteration from BEN->LTD, wouldn't that be cheaper and not risk losing the name? Once dissolved the name is open to anyone to grab.

[2021-09-07 23:40] lmcclung commented on #7977
@riyazuddinsyed Does it work correctly? I see no points on it so wondering whether the work was done under another ticket maybe?

[2021-09-07 23:42] lmcclung commented on #8347
According to Elizabeth, this was an NR created in NRO so receipt wouldn't be available in Names.
no release label required.

[2021-09-07 23:49] cameron-freshworks commented on #8494
I'm not too sure of the reasoning. I believe any/all information COULD be included if it was published on Namex side and listened too in Auth.
This might also require auth to store and keep the data in sync when it changes however, if we were wanting to consolidate the information the information server side, and return it all in the affiliations request.

[2021-09-08 00:20] lmcclung commented on #6290
@Sienna-Blumstengel @forgeuxGH5 the output is correctly showing 8 active directors.  But Art Foss's province is still "B" in the outputs.  Dickie, Glen shows up on the 2021 AR output when I look at it.

@thorwolpert what does our database show as the province for Art Foss.  If "B" then we still have work to do on this coop to fix it.

[2021-09-08 00:21] lmcclung commented on #7522
Emailed Julie/Kat re: BC1275548...
Just cleaning up an old zenhub ticket...
Client incorporated a benefit company in November 2020.  They made an error on one of the directors’ zip codes.  Dee had filed an Amendment – Director in SOFI instead of filing an IA correction in the business registry app.  We then filed the correction in the new app.  This correction didn’t get written back to COLIN.  Ho

[2021-09-08 00:34] tlebedovich commented on #8444
Design is ready for @forgeuxGH5 and @Kaineatthelab final review. Scope expanded a bit - see updated items in the top description.

[2021-09-08 01:20] thorwolpert commented on #7522
AFAIK - since the filing was by staff, @severinbeauvais corrected the correction.
The CP has the right data.

[2021-09-08 05:46] jyoti3286 opened #8860 "Add Manual Transaction Validations"
* As a staff user
* I want to be notified of the correct system messages while adding transactions
* so that I can pay using Routing Slips

**Acceptance Criteria**

**Scenario 1: Not having enough balance on Routing Slip while adding one transaction**
* GIVEN that I am on the manual transaction page adding a manual transaction
https://preview.uxpin.com/76da32cd3abd1eb16c96507294189fbd7bee9140#/pag

[2021-09-08 06:30] jyoti3286 opened #8861 "FAS: Changes after Linking Routing Slip"
* As a staff user
* I want to know the changes after linking two routing slips
* so that I am not creating any incorrect data

**Acceptance Criteria**

**Scenario 1: Child Routing slip changes after linking**
* GIVEN that I have linked a routing slip to another Routing slip
* WHEN I am(or navigate to) child routing slip
* THEN I don't see an option to Edit the status of a Routing Slip
* AND I don'

[2021-09-08 06:45] jyoti3286 opened #8862 "FAS: Staff to tag the routing slip with Filing type"
* As a staff with role "filing transactions"
* I want to assign/tag an RS with Filing type
* so that when I search/look up the RS, I know the purpose it was created for

**Acceptance Criteria**

**Scenario 1: Tagging RS with Filing **
* GIVEN that when I want to use an RS for a filing
* WHEN I want to tag the RS with a filing type
* THEN the system enables the staff to do that

**Scenario 2: xxxxx

[2021-09-08 07:01] jyoti3286 opened #8863 "Backend Change Only: Allow Multiple accounts to affiliate to a business"
As a user
I want to affiliate multiple accounts to a single business
so that I can have my lawyer share the same business to do transactions

- This is backend only change as part of this ticket
- Can this be only done in test and not moved to Prod until UI is ready.

[2021-09-08 13:52] jinghualicgi commented on #7941
@Kaineatthelab @tlebedovich Kaine and Tracey, I moved this to Grooming since I think we need a discussion. Thanks

[2021-09-08 14:43] lmcclung commented on #6445
Closing this as the database is correct and the user is able to make new filings.

[2021-09-08 14:43] #6445 closed

[2021-09-08 15:16] lmcclung commented on #8158
@riyazuddinsyed could you answer @severinbeauvais question?

[2021-09-08 15:20] mstanton1 commented on #8419
@Sienna-Blumstengel is this high priority for entities? Can you review the comment above?

[2021-09-08 15:20] #8647 closed

[2021-09-08 15:26] Kaineatthelab commented on #8444
Question about the NIL results, those are supposed to still generate a report. So the design for me is confusing as its "return to dashboard" but still will have a report? @tlebedovich @forgeuxGH5 @janisrogers

[2021-09-08 15:29] #7085 closed

[2021-09-08 15:34] mstanton1 commented on #8799
Response from John:

Unfortunately, the MRAS logs don’t store the actual request/response details that we need.
If there’s a pattern of issues that match this one we can dig a bit further, but for now it’s most likely that the client had the incorrect HJ info in their NR, then manually entered the wrong name in COLIN after the getProfile call returned no results.

Let me know if I can help any fur

[2021-09-08 15:41] jdyck-fw commented on #7368
Reviewed at 10.5 planning, Linda will follow up

[2021-09-08 15:46] kialj876 commented on #8420
there is no incorporation application and 10 conversion ledgers, a transition filing, some delay of dissolution filings, and a separate alteration filing in the history (I don’t think the current code in the colin-api that supports the notebook will handle all of these)

[2021-09-08 15:54] forgeuxGH5 commented on #8444
Good one - that looks like the older design - we should update it to match the regular result design - @tlebedovich let's have a quick chat

[2021-09-08 15:59] Sienna-Blumstengel commented on #8744
This will be resolved by the relationships dependancy ticket #8756. Closing this ticket.

[2021-09-08 15:59] #8744 closed

[2021-09-08 16:00] tlebedovich commented on #8444
Yes, NIL results have PDF reports that are automatically generated and show up on the dashboard without the user doing anything. I just changed the "Done" button to "return to dashboard" as user testing showed the Done label was unclear. When they return to the dashboard, they'll get the "Snackbar" that tells them a new search was added to their table (with the PDF). I'll work on the button label

[2021-09-08 16:01] jdyck-fw commented on #8298
Linda will verify requirements with Debbie and we will do this in 10.6

[2021-09-08 16:02] jdyck-fw commented on #8707
@gh20s - is this one completed and ready to move to closed?

[2021-09-08 16:04] jinghualicgi opened #8864 "UI - Add registration to My Registrations"
design ticket #8240 linked below with details...

[2021-09-08 16:05] jinghualicgi opened #8865 "UI - Search brings back to many results, your document is too big message"
two different warning modals
updated snack bar text (global update)
new tool tip text for "i" icon

### Visual Design Comps:
https://projects.invisionapp.com/share/841236RZYTUN#/screens?browse

[2021-09-08 16:08] mstanton1 commented on #8799
Sent note to business area and IT Ops to confirm if this can be closed. The registration of A0119657 was cancelled administratively on Sept 2nd through a MRAS notification.

[2021-09-08 16:10] pwei1018 opened #8866 "Nginx upgrade"
## What is the problem?
When I upgrade the nginx from 1.18.0 to 1.22.0 it got lots of 404 error after deployment.

## What is the impact?
*

## Proposed solution
Need to investigate what's the change of new version of nginx.

[2021-09-08 16:11] PatrickAHeath commented on #7340
Discussed this situation with Melissa.  Credit Card and BCOL payment refunds have no automatic update to the Transaction Details so Refund Requested status would remain after refund was completed.  This may be confusing to the clients.  Also, the dollar amount for the transaction will remain, even if the refund is completed, so using the Transaction Details as a financial reconciliation tool may b

[2021-09-08 16:11] #8033 closed

[2021-09-08 16:14] #6620 closed

[2021-09-08 16:20] Kaineatthelab commented on #8444
ok makes sense, was thinking that the generate report button would be the same

[2021-09-08 16:23] Sienna-Blumstengel commented on #7635
See section "Filings that can be filed post-dissolution"
https://docs.google.com/document/d/1pJM2mUoG5ln6eiopole3BY5PBAExESBGz4cRYdnDG58/edit?usp=sharing

[2021-09-08 16:23] forgeuxGH5 commented on #8444
@tlebedovich let's chat and look at a couple of quick options

[2021-09-08 16:25] karthik-aot opened #8867 "FAS - Create routing slips - Visibility of system status when request fails"
Currently, there is no provision to let users know that the create routing slip failed. A design is required to display the error message or may be have global error handle it.

Design: https://preview.uxpin.com/76da32cd3abd1eb16c96507294189fbd7bee9140#/pages/142282078

![image.png](https://images.zenhubusercontent.com/6019adf278444774e61ecf92/a77ebdf2-a5c0-41bf-88f2-0647ece207ab)

[2021-09-08 16:41] shabeeb-aot opened #8868 "change dashboard search from onChange to onkeyup"
## What is the problem?
* search is happening on change(if we move out of field, then only search will start)

## What is the impact?
* Search will not happen if we didn't move out of field

## Proposed solution
*Add debounce and call API on keyup instead of onChange

[2021-09-08 16:42] Kaineatthelab opened #8869 "Amend from Dashboard"

[2021-09-08 16:43] jdyck-fw commented on #8738
Existing drafts for coops would be affected.

[2021-09-08 16:43] Kaineatthelab opened #8870 "View my amend page"
Includes setting up page
- [ ] Create Page
- [ ] Route
- [ ] Title
- [ ] Secured Party Statement "yellow/caution box"
- [ ] Original Registering Party

Separate Task
- [ ] Plug in Fee Summary with Buttons

Separate Task
- [ ] Breadcrumb/Header

[2021-09-08 16:44] Kaineatthelab opened #8871 "Add and delete debtors"

[2021-09-08 16:45] Kaineatthelab opened #8872 "General Collateral amend page"

[2021-09-08 16:45] Kaineatthelab opened #8873 "Amendment Description"

[2021-09-08 16:46] Kaineatthelab opened #8874 "Amendment Court Order Information"
## Validation spreadsheet
https://docs.google.com/spreadsheets/d/1BH3Yuyewbp3J_PDHiz3C2ZG373pIlJv99wymOXdVrB8/edit?usp=sharing

## Acceptance Criteria
<strike> #### Repairers Lien Court Order required
**GIVEN** I am renewing a repairers lien
**WHEN** I get to the Court Order fields
**THEN** all fields are required
#### Repairers Lien Effect of Order
**GIVEN** I am renewing a repairers lien
**WHEN*

[2021-09-08 16:47] Kaineatthelab opened #8875 "View Review and Complete Page"
- [ ] only list what has changed
- [ ] read only view

[2021-09-08 16:51] mstanton1 opened #8876 "Staff Dashboard"
### ServiceNow incident: INC0107625
### Contact information
Staff Name: Reported by Debbie Blyth for Michael Leung
Staff Email: Debbie.Blyth@gov.bc.ca; Michael.1.Leung@gov.bc.ca

### Description
Michael has tried to access the staff dashboard https://www.bcregistry.ca/business/auth/staff/dashboard/active, but he get’s the following error:

![image.png](https://images.zenhubusercontent.com/5ba90c76

[2021-09-08 16:53] #8869 closed

[2021-09-08 16:55] pwei1018 commented on #8119
Node upgrade done.

[2021-09-08 16:56] mstanton1 commented on #8876
added staff/viewer group to IDIR and advised Michael to try to log on again through https://www.bcregistry.ca/business/auth/home/decide-business

[2021-09-08 16:57] jyoti3286 opened #8877 "Documentation for Direct Pay(Credit Card) - How it works in the backend"

[2021-09-08 17:00] Kaineatthelab opened #8878 "Add Fee summary"
- One charge for any amendment $10
- Fee code underway sprint 10.5
- Tests as always;)

[2021-09-08 17:00] Kaineatthelab opened #8879 "Set up Page for Amend"

[2021-09-08 17:01] Kaineatthelab opened #8880 "Breadcrumb and Header"
- updating check to also include amend

[2021-09-08 17:14] Kaineatthelab opened #8881 "Add Buttons/Actions and Validations"
- [ ] Save and Resume (draft) button
- [ ] existing reg buttons
- [ ] save the actual draft

[2021-09-08 17:18] severinbeauvais commented on #8788
This ticket ended up being 10 hours due to a couple of other bugs that were in my way (and which I fixed).

@jdyck-fw Up to you whether to update the estimate.

[2021-09-08 17:18] Kaineatthelab opened #8882 "Debtor Table modifications or new"

[2021-09-08 17:19] Kaineatthelab opened #8883 "Keep track of debtor state/tracking changes"

[2021-09-08 17:19] Kaineatthelab opened #8884 "Plug Debtor Into Page incl Validation"

[2021-09-08 17:20] Sienna-Blumstengel commented on #6290
All questions above have been resolved, the client is unblocked, we can close this.

[2021-09-08 17:27] Kaineatthelab opened #8885 "Add delete Secured Party"

[2021-09-08 17:29] Kaineatthelab opened #8886 "Plug Debtor Into Page incl Validation"

[2021-09-08 17:29] Kaineatthelab opened #8887 "Keep track of debtor state/tracking changes"

[2021-09-08 17:29] Kaineatthelab opened #8888 "Debtor Table modifications or new"

[2021-09-08 17:38] Kaineatthelab opened #8889 "PPR Post Go Live"

[2021-09-08 17:40] jdyck-fw commented on #8788
@severinbeauvais - I propose that we leave the estimate as-is and continue to aim to create new tickets to track additional work if/when possible. thank you for calling it out

[2021-09-08 17:52] JohnamLane commented on #5710
old ticket..

[2021-09-08 17:52] #5710 closed

[2021-09-08 17:54] stevenc987 commented on #8579
@mstanton1 @SateeshFW

1. NR 3987237, INC0104606 . This NR is not required as a restore NR had already been submitted: Refund Requested
2.  NR 3471130, INC0104608: No record in postgres but it is in old system. Payment_id=1247951, Transaction_id=5048245, Payment_total=$31.5
3.  NR 9481682, INC0105089. This NR has 4 charges to be refunded (payment_id 71693, 71690, 71691, 71696): Request Refunded fo

[2021-09-08 17:55] Kaineatthelab commented on #8072
VON look up complete

[2021-09-08 17:55] #8072 closed

[2021-09-08 17:56] #8071 closed

[2021-09-08 17:56] lmcclung commented on #8292
@Sienna-Blumstengel I don't see the email content in the spreadsheet.

I've assigned to @eve-git to create the new email templates (once I get Roy to verify the designs in 7679).  She'll reach out to @andrepestana-aot for assistance.

[2021-09-08 17:58] yuisotozaki commented on #8411
@jordiwes Is this a UI dev ticket for opening a draft SA/FS in edit mode?

[2021-09-08 18:14] jyoti3286 commented on #7819
[https://app.zenhub.com/files/157936592/30d5e42b-0c8e-4698-9850-9a0927263b30/download](https://app.zenhub.com/files/157936592/30d5e42b-0c8e-4698-9850-9a0927263b30/download)

[2021-09-08 18:16] thorwolpert commented on #8597
Blocked by some FW in the corporate network.
Several teams working on this.
- next step is to open FW request via David Roberts

[2021-09-08 18:18] thorwolpert opened #8890 "FW iStore order to open outbound traffic"
- request iStore
- validate it works
- troubleshoot with networking team

[2021-09-08 18:21] thorwolpert commented on #8596
pending the firewall setup blocking #8597

[2021-09-08 18:25] thorwolpert opened #8891 "Notebook Development Flow"
Define and Document the workflow for Notebooks in the DataLake

[2021-09-08 18:26] thorwolpert opened #8892 "Spike on KubeFlow"

[2021-09-08 18:27] thorwolpert opened #8893 "Spike on KubeFlow"

[2021-09-08 18:28] thorwolpert opened #8894 "Present workflow options"

[2021-09-08 18:35] yuisotozaki commented on #8634
Sep 8, 2021 UX/BA Meeting Minutes
* We want to do the same in the header of the Transaction History screen (UXPin design updated)
* No need for visual design as we are just post-fixing the additional information.

[2021-09-08 18:35] thorwolpert opened #8895 "Setup sandbox DB"

[2021-09-08 18:35] jyoti3286 commented on #7819
More analysis required on:
1. When would staff put a Routing Slip in Refund Status?
2. What happens in the current FAS System When RS is updated in Refund status?
3. Is there an automatic process to put RS in REfund status?
- One of the requirements which we have heard is that, once RS is marked as "The last Service Done" and there is more than $10 balance, then there is a PT(provincial Treasury r

[2021-09-08 18:37] thorwolpert opened #8896 "Determine requirements for data anonymization (data scrub)"

[2021-09-08 19:01] lmcclung commented on #8642
@tlebedovich who would be doing this work?  UX team or devs?  @Kaineatthelab Can we make this as assets ticket for now and once you've confirmed which is the correct standards then we can create a story for entities?

[2021-09-08 19:08] tlebedovich commented on #8642
There may be two tickets going around - one was to review all the PPR outputs to make sure the content aligns with what we are showing in the UI (we've found inconsistencies in the past) and I think this ticket was Yui's, who wanted to review all outputs as a whole the make sure the styling/fonts etc are consistent for entities and assets. Long story short, this is a UX ticket to do UX assurance.

[2021-09-08 19:10] tlebedovich commented on #8293
@lmcclung - This one could be just to UX Assure all of the new emails once they are in the new design (not outputs, since it looks like we have ticket #8642 for that).

[2021-09-08 19:10] tlebedovich commented on #8642
@lmcclung This tickets needs the weazy print font issue resolved before doing though

[2021-09-08 19:22] sumesh-aot opened #8897 "Pass Account-Id for API calls"
### Who is this work for
Entities team

### Description
Currently all the authorization for an entity is designed around single affiliation concept (i.e, an entity can be affiliated to only one account at a time). When legal-api passes the incorporation number as part of authz/pay calls; auth-api checks the account which the entity is affiliated to, and checks if the user is a member of the accoun

[2021-09-08 19:59] shabeeb-aot commented on #8417
I did a quick research . We are adding BCSans font in PDF. we may need to research

![Screen Shot 2021-09-08 at 12.53.08 PM.png](https://images.zenhubusercontent.com/5fcfc780da55717868405482/7b5972fd-5ed9-460c-9e17-9ed284ceccb6)

[2021-09-08 20:06] mstanton1 commented on #8876
Michael has verified he can now access the staff dashboard.

[2021-09-08 20:06] #8876 closed

[2021-09-08 20:19] Kaineatthelab commented on #8642
@lmcclung are the PDF designs done for Coops? If they are, then are the above points Yui mentioned the same or which one is the record of choice?

[2021-09-08 20:32] lmcclung commented on #8292
@eve-git the email template designs are in 7679 and are up to date.

[2021-09-08 20:42] #8541 closed

[2021-09-08 20:42] #8452 closed

[2021-09-08 20:43] #7865 closed

[2021-09-08 20:43] #7864 closed

[2021-09-08 20:43] #7681 closed

[2021-09-08 20:44] #8410 closed

[2021-09-08 20:49] SateeshFW opened #8898 "Test Automation"
This Epic covers all the tasks related to the test automation.

* As a (who/ person)
* I want (what/ goal)
* so that (why/ benefit proposal)
or
* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what is expected value and justification for priority.

----
* Start date when team will start to work on: This is vis

[2021-09-08 20:50] SateeshFW commented on #8219
Closing this task.  @rarya-freshworks please create a new task for test automation and assign it to Epic (8898 - Test automation).

[2021-09-08 20:52] lmcclung commented on #8417
@jyoti3286 to see if they can include this in sprint 10.5.  If not, then 10.6 please.

[2021-09-08 20:55] lmcclung commented on #8642
@Kaineatthelab Coop outputs will be consistent with BEN outputs.  I'm pretty sure that is the standard we're going with across our applications.  @tlebedovich you do UXA on them currently.  Do we have a consistent standard with them?

[2021-09-08 20:57] tlebedovich commented on #8203
@jinghualicgi @Kaineatthelab - this seems to be a duplicate UI Design ticket for amendment. We are currently useing #8202 for design. Is this supposed to be the dev ticket for it?

[2021-09-08 20:58] Kaineatthelab commented on #8642
Agreed @lmcclung  this should be moved outside of Coops then :)

[2021-09-08 21:00] Kaineatthelab commented on #8203
There was previously 2 epics, for amendment and court order/change etc... so I think it is just because of that. We can close this one if you're ok with that?

[2021-09-08 21:00] mstanton1 opened #8899 "Attempt to register a Benefit Corporation but the link does not work for NR-439905"
FYI with IDIR those buttons don't work... so you can't recreate the issue with IDIR as its different. **This wasn't actually the issue the user was just confused, the system worked as expected.** @mstanton1

### ServiceNow incident:
### Contact information
Staff Name: Dennis Ralph
Staff Email: Dennis.Ralph@gov.bc.ca

### Description
Paula is trying to register their Benefit Company on the new BCRO

[2021-09-08 21:02] Sienna-Blumstengel commented on #8756
@lmcclung could you fill in the deadline and impact sections in the description?

[2021-09-08 21:02] mstanton1 commented on #8899
Verified client is using Google Chrome. Additional testing was done using Google Chrome and Chromium Edge (PROD as staff and TEST) and produced the same results. This was done by logging on to staff dashboard and then choosing BC Registries and Online Services to reach the main page.

When I attempt to click the link the following error appears in the network tab.

![image.png](https://images.zenh

[2021-09-08 21:02] mstanton1 commented on #8899
@kialj876 the links from the Business Registry homepage (PROD) to Incorporate a Named or Numbered Benefit Company are failing. Can you please look into this as a high priority ticket.

[2021-09-08 21:07] eve-git commented on #8788
In "Name Choices", the previous designation combined into name when changing Jurisdictions, for example, from XPRO to BC.
![image.png](https://images.zenhubusercontent.com/5da9d9a151b27c0001f5c9ec/e7603847-1d8b-4940-b63f-3ace9217e24a)

[2021-09-08 21:08] mstanton1 commented on #8847
Release notes draft is available below. This will need to be reviewed closer to the release (now planned for Monday Sept 13th) to ensure all the tickets being released are included.

@jyoti3286 @JohnamLane if you would like to review or have any suggestions please let me know.

[https://app.zenhub.com/files/157936592/e962cb9f-017f-42b9-a31f-20e94714a07d/download](https://app.zenhub.com/files/15793

[2021-09-08 21:15] severinbeauvais commented on #8788
@eve-git Does something need to be changed in this ticket?

[2021-09-08 21:18] #1574 closed

[2021-09-08 21:20] lmcclung commented on #8749
@kialj876 has this been pushed to PROD already?

[2021-09-08 21:21] kialj876 commented on #8264
blocked by: new payment flow/skip in legal-api for admin dissolutions, current legal-api to get to prod (for db and schema), and the current filer to get to prod (maybe it needs to change too I’m not sure - right now it doesn’t work)

[2021-09-08 21:23] kialj876 commented on #8264
I got around the legal-api, db and schema issues so there is currently a draft filing for this, but it will need to be put back on the filer queue once it is deployed with the dissolution code (idk if that code needs an update for these or not either since this hasn't been done before)

[2021-09-08 21:25] #2624 closed

[2021-09-08 21:38] jyoti3286 commented on #8897
HI @lmcclung - This is the ticket that would be required for the Affiliation of business to multiple accounts. If you are able to groom it and let us know if this is a possible candidate for the next sprint, we would be able to prioritize our work.

[2021-09-08 21:43] Sienna-Blumstengel opened #8900 "Improvements to Dissolution filer to enable admin dissolutions"
## Description

## To do
new payment flow/skip in:
- [ ] legal-api for admin dissolutions
- [ ] current legal-api to get to prod (for db and schema)
- [ ] the current filer to get to prod (maybe it needs to change too I’m not sure - right now it doesn’t work)

you probably just need the ticket to include handling the payment flow for admin dissolutions (currently it will just give an error) and po

[2021-09-08 21:45] kialj876 commented on #8899
Yeah it looks like the code isn't handling certain flows (i.e. in your above example something was null and the code expected a value) <-- that will break the page entirely in a lot of cases

[2021-09-08 21:46] lmcclung commented on #8897
@jyoti3286 will do!

[2021-09-08 21:46] kialj876 commented on #8899
where does the code for this live? I'm guessing there was a release recently that needs to get rolled back

[2021-09-08 21:48] kialj876 commented on #8899
I will check out test to see if there could be a different reason

[2021-09-08 21:54] kialj876 commented on #8899
hmm okay, so far I get the same issue as you in test + prod when I use IDIR. If I use a BC Services card in test it works. @mstanton1 not much I can do here since I think it is a code change needed. Unless I can rollback their previous release or something like that. A temporary fix might be to have them use their bc services card login?

[2021-09-08 22:00] tlebedovich commented on #8642
they aren't perfect but ok to leave as is now for sure (well, aside from missing the correct font). PPR's outputs need more work/attention.

[2021-09-08 22:00] tlebedovich commented on #8203
sure, i will close!

[2021-09-08 22:00] #8203 closed

[2021-09-08 22:01] mstanton1 commented on #8899
@kialj876 do you know what the temporary fix might be to enable them to complete the filing with their BC Services Card login in prod? Is support from relationships needed? Given you mention code change is likely needed does that mean that this will be an issue for all BC Services Card users in PROD right now? If so I think the PO's will need to get a handle on this and prioritize.

[2021-09-08 22:11] eve-git commented on #8788
Other than the bug above, everything looks good to me. The designation added to name looks like a UI bug only and data looks good.

[2021-09-08 22:12] kialj876 commented on #8899
Is there a BC services card in prod I can test with? Right now I only get the error when I'm signed in with IDIR, but are they using BC Services card and getting the error or is it a different login type (i.e. bceid or somehting else I haven't heard of)? If it is BC Services card there might be something I can update. As I have one working in test

[2021-09-08 22:13] severinbeauvais commented on #8788
Can this be handled as a separate bug? THIS ticket is to clear some fields. I don't know how "INC." was added to the second choice.

[2021-09-08 22:21] eve-git commented on #8788
Definitely can be a separate bug. I don't think it it directly related to the changes.

[2021-09-08 22:26] #3150 closed

[2021-09-08 22:26] #991 closed

[2021-09-08 22:27] #990 closed

[2021-09-08 22:27] #2039 closed

[2021-09-08 22:28] severinbeauvais opened #8901 "NR UI: name choice should not have designation added"
**Describe the bug in current situation**
In the following example (originally by @eve-git), the designation should not be part of the second choice name.

![68747470733a2f2f696d616765732e7a656e68756275736572636f6e74656e742e636f6d2f3564613964396131353162323763303030316635633965632f65373630333834372d316438622d343934302d623633662d336163653932313765323461.png](https://images.zenhubusercontent.com/5d0

[2021-09-08 22:28] severinbeauvais commented on #8788
New bug created: https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8901

[2021-09-08 22:28] #3059 closed

[2021-09-08 22:29] #2723 closed

[2021-09-08 22:30] #8792 closed

[2021-09-08 22:37] kialj876 commented on #8899
Alright after looking through the code I and checking the IDIR flow I can see that if their 'CurrentAccount' is not saved in their session storage it will give them this error. Using BC Services card in test it loads this normally -- it is possible they can get through this by refreshing the page / refreshing their login?

[2021-09-08 22:48] andrepestana-aot commented on #8780
Same thing was happening for edit-ui.

Riyaz found an issue with adding people to IA. `email` cannot be null or empty.

[2021-09-08 22:49] kialj876 commented on #8774
this is blocked until we can handle the following filing tyoes I think: COGS1 (3 of these in the history), CONVL (8 of these)

*other concerns:* there is no incorporation filing and 2 alterations in the history that may cause this to blow up

[2021-09-08 22:51] chdivyareddy commented on #8280
Verified in DEV.

[2021-09-08 22:54] thorwolpert commented on #8774
COGS I got (certificate of Good Standing) and Linda has better plans for those going forward.
CONVL ... hmmm

[2021-09-08 22:57] jdyck-fw commented on #2118
![10-4.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/d7a4ad7e-df81-4141-b97b-53b66d8a9d1a)

New retro actions:

- [ ] More - Only introduce points we actually expect to complete in a sprint / Review carryover points
- [ ] More - Double checking designs before UX Assurance and asking any questions along the way if there are unanswered questions/designs
- [ ] Add - Changing our

[2021-09-08 23:04] mstanton1 commented on #8899
I have reached out to my team to confirm who has a PROD Services Card account and request that they test. I have also reached out to BCOL Help who raised this and requested they have the client try again through refreshing their page / refreshing their login.

[2021-09-08 23:05] Sienna-Blumstengel commented on #8900
@lmcclung FYI this is blocking admin dissolutions, and we have some ops tickets for this. Could we groom this week?

[2021-09-08 23:08] mstanton1 commented on #8899
@kialj876 update - Sumesh tested the link using a BC Services Card and the link worked find. We can await a response from BCOL Help to see if the log on / refreshing log in resolves the issue.

[2021-09-08 23:12] mstanton1 opened #8902 "I cannot access our BC Registry Account using my BCeID"
### ServiceNow incident: INC0108346
### Contact information
Staff Name: Kristopher

### Description
Good afternoon;

I have tried to log on to the updated BC Registry site to check a name reservation a client has submitted to ensure it is the correct type (Sean McMann wishes to change the name of his numbered company 1252638 B.C. Ltd.) NR 9026451. I am able to access the screen leading to managing

[2021-09-08 23:13] mstanton1 commented on #8902
Note from Kristopher:

Hi ITOps,

I’ve taken care of updating the NR type of NR9026451 for the firm but the issue of their login error still remains.

I’m hoping you can take a look at the login issue mentioned in the firm’s email below.

[2021-09-08 23:18] mstanton1 commented on #8902
I have sent the following to Kristopher and SBC IT Ops:

The invalidFederatedIdentityActionMessage mentioned by the client can be caused by the system picking up traces of another logon. To resolve the issue please ask that the client try to log out in any other business registry tabs that are open and then clear cookies. To clear cookies in chrome the client can follow the steps below. If the cli

[2021-09-08 23:25] lmcclung commented on #8642
Removed from coop epic and added assets label.  @Kaineatthelab I've left it in the backlog, but please change when the Assets team picks it up.

[2021-09-08 23:37] lmcclung opened #8903 "Import Names Data pre 2018 into NameX postgres database"
### Background:
In 2018 there was a data migration for names history but anything before that isn’t available in NameX.  Having this information provides the following business value:
-Names Examiners needs to access this historical information when examining new names as examination is very subjective and based on past precedences.
- It's to help us research and to see who approved it in the past

[2021-09-08 23:46] kialj876 commented on #8775
@mstanton1 @Sienna-Blumstengel this one is ready to be looked at. I don't know how to freeze it in COLIN, but they are loaded in LEAR and affiliated and I have created the alteration draft

[2021-09-08 23:49] kialj876 commented on #8899
Yeah, thor also tested it in prod with his bc services card and it was fine so this must be an edge case

[2021-09-08 23:53] lmcclung commented on #8756
@Sienna-Blumstengel done

[2021-09-08 23:55] lmcclung commented on #8293
@tlebedovich I've taken #9642 out of the epic so we'll continue to use 8293 for both the email template and outputs.

[2021-09-09 00:44] #6973 closed

[2021-09-09 00:45] #6149 closed

[2021-09-09 00:45] #7878 closed

[2021-09-09 00:47] #7553 closed

[2021-09-09 00:47] #6582 closed

[2021-09-09 00:48] lmcclung commented on #6385
@thorwolpert I can't open this entity's dashboard from the staff dashboard.  Can you fix it?

[2021-09-09 00:49] jinghualicgi commented on #6502
@gh20s @thorwolpert do we need to add milestone tag for this task? Please advise, thanks

[2021-09-09 14:32] PatrickAHeath opened #8904 "NR8488950 - Multiple Payments on NR Renewal Attempts"
### ServiceNow incident:  INC0108359
### Contact information
Staff Name:  Kristopher Yee
Staff Email:  Kristopher.Yee@gov.bc.ca

### Description
Client attempted to renew NR multiple times with error message resulting.  Multiple payments were taken for the failed renewal attempts.

[https://app.zenhub.com/files/157936592/35235ce9-c007-47e3-9445-ecab040a4692/download](https://app.zenhub.com/files/1

[2021-09-09 14:33] vysakh-menon-aot commented on #8290
Yes we are following the same process. From now onwards when user try to download IA from filing screen with a status COMPLETED the header contains Incorporation Number

[2021-09-09 15:21] gh2os opened #8905 "Configure Google Cloud Platform - Cloud Run Proof of Concept"
need to configure google cloud platform to run / publish notebooks

- [x] get cloud run, cloud build, and notebooks api running
- [x] run into any extra permission needs (logging, etc)
- [x] configure trigger on pull request to github repository to initiate new container build on cloud run
- [x] create connection from container notebook to databases
- [x] upload ppr data to managed google sql data

[2021-09-09 15:27] Sienna-Blumstengel commented on #8775
Hey @kialj876 , a few questions:

1. Is there a reason the address change doesn't get a Notice of Articles output?
2. The Notice of Articles output int he incorporation application doesn't generate

All other outputs work and look correct!

3. The filed and effective date and times are not the same as in SOFI
![Screen Shot 2021-09-09 at 8.23.50 AM.png](https://images.zenhubusercontent.com/5d49cdec

[2021-09-09 15:36] chdivyareddy commented on #8280
Verified in TEST for the CSV File Time Zone.

[2021-09-09 15:42] severinbeauvais commented on #8738
### Test Notes

To verify this change:
1. create/edit a Coop IA
2. set a coop type on page 1
3. verify coop type on page 5
4. save the IA
5. resume the IA (or reload the page)
6. verify the coop type on page 1 and 5
7. optionally look at the payload when saving and restoring the IA
8. try the above with different coop types
9. anything else you can think of

[2021-09-09 15:50] kialj876 commented on #8775
@Sienna-Blumstengel sorry, I don't know much.

I didn't have to do anything different than the normal flow for this one so I am assuming it is because the filings were generated from COLIN.

The effective dates are a known issue (all effective dates of filings from COLIN are off by 1 day due to a timezone issue that's been there since all of time for our app afaik)

[2021-09-09 15:52] kialj876 commented on #8775
It might be worth having the next ops person have a look at the 500 error (maybe there is a data issue and we need to update the notebook for an edge case or something like that). I will not be able to have a look until my next ops day :(

[2021-09-09 16:00] Sienna-Blumstengel commented on #8774
CONVL = Conversion Ledger.
There are potentially multiple different types of conversion ledger. Argus had looked into this a long time ago. These are companies that were formed before we had COLIN. When we moved over to COLIN, we had to add in line items into the ledger for each filing. These were sometimes added as "conversion ledgers". @lmcclung  is looking into what kinds of filings used CONVL.

[2021-09-09 16:02] gh20s commented on #8707
@jdyck-fw - I believe so - the work I was able to do/supposed to do is completed (updating to cancelled). It should have reflected the synonym matches but i can't verify / not in my scope of work.

[2021-09-09 16:33] yuisotozaki commented on #8634
Sep 8: Reviewed with @forgeuxGH5
Good to go!

[2021-09-09 16:36] pwei1018 commented on #8904
Found error message in log. It seems a bug when compare the time.

![image.png](https://images.zenhubusercontent.com/5bf5f0484b5806bc2bf6f0cb/95326926-452a-47ef-b58e-74d49de4221e)

https://github.com/bcgov/namex/blob/main/api/namex/resources/payment/payment.py

https://stackoverflow.com/questions/15307623/cant-compare-naive-and-aware-datetime-now-challenge-datetime-end

[2021-09-09 16:41] pwei1018 commented on #8904
@PatrickAHeath Please raise a bug and assign to entity team. And refund this NR multiple payments.

[2021-09-09 16:43] yuisotozaki commented on #8490
September 8
- Yui and Scott met to look at the current interaction design.
- Yui to help out with the corp side of the design and follow-up around design element options.

[2021-09-09 16:43] PatrickAHeath opened #8906 "INC0108303 - Attempt to register a Benefit Corporation but the link does not work for NR-4390905"
### ServiceNow incident:  INC0108303
### Contact information
Staff Name:  Dennis Ralph
Staff Email:  BCONLINE@gov.bc.ca

### Description
Hello Team,

Can you please assist with the request below reported by Dennis Ralph with BC Online?
INC0108303 created for this matter.

“Paula is trying to register their Benefit Company on the new BCROS system (https://www.bcregistry.ca/business/auth/home/decide

[2021-09-09 16:45] mstanton1 commented on #7989
Form 61 BR has been created and saved on the Modernization Sharepoint in the Change Management Payments folder:
https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-4255

[2021-09-09 16:54] pwei1018 commented on #8906
Same issue as https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8899

[2021-09-09 16:55] Sienna-Blumstengel opened #8907 "Client tried to resubmit NR, but the new resubmitted NR got stuck as an NRL"
### Description

Client tried to resubmit NR, but the new resubmitted NR got stuck as an NRL.

NR 3771356 was approved but expired on 2021-05-23
NR L085614 was the new NR that the client created on 2021-09-08 using the "resubmit" feature
* The client failed payment 2 times
* The client successfully paid the 3rd time for the NRL, but it was processed as an UPGRADE and was charged 101.50
* The clien

[2021-09-09 16:58] Kaineatthelab commented on #8899
IDIR doesn't work FYI

[2021-09-09 17:07] Sienna-Blumstengel commented on #8897
@sumesh-aot is it only legal api client that needs to be changed, or UI clients as well?

[2021-09-09 17:11] PatrickAHeath opened #8908 "Renewal in Name Requests - bug when comparing the time"
**Describe the bug in current situation**

Clients were receiving error on NR Renewal but payments were still going through.  (#8904)

Analysis by Patrick W.:
Found error message in log. It seems a bug when compare the time.

![95326926-452a-47ef-b58e-74d49de4221e.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/dfc7e17f-f4a2-462b-8b0a-367ad1d48dab)

https://github.com/bcgov/name

[2021-09-09 17:18] PatrickAHeath commented on #8904
Bug #8908 created for time compare error.

[2021-09-09 17:21] Sienna-Blumstengel commented on #8903
Assigned Thor and Greg to this issue to update the ticket and estimate the work required to move pre 2018 data to the data lake.
Staff want to see the entire history of the NR, we will need to change where it looks for data.

[2021-09-09 17:26] sumesh-aot commented on #8897
@Sienna-Blumstengel Yes its needed for UI clients.
Happy to have a discussion around this.

[2021-09-09 17:27] severinbeauvais commented on #8907
Sample request payment for a new NR (POST):

![new nr.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/44864d2e-c4ee-4208-b829-6f4a2df77f3e)

Sample request payload for a resubmit NR (POST):

![resubmit nr.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/acbd96b7-97f3-4769-ac28-e65a6999cacd)

Sample POST to create the resubmit payment:
`https://namex-dev.apps.si

[2021-09-09 17:39] Sienna-Blumstengel opened #8909 "Create UI - S1 - Association Details"
This component should be close to exactly the same as the review page output for IAs.

**TO DO**
- [x] Build new component for this, for co-op and ben
- [x] Build the review page for this

**Differences from existing component:**
* addition Incorporation Number (CP or BC)

**Differences for co-op and ben**

* Co-op has two addresses (delivery and mailing)
* Corp has four addresses (registered offi

[2021-09-09 17:40] lmcclung opened #8910 "Create UI - S1&S4 - custodian address"
To Do:
- [x]  Build new component
- [x] Build changes depending on entity type
- [x] Save values to store, apply these to the filing
- [x] Build review page step 4 UI

COOPS
- [x] title of component _"Custodian of Records"_
- [x] tool tip text says _"A Cooperative Association must appoint a person to have custody and control of its records, including documents, instruments and accounting records,

[2021-09-09 17:40] lmcclung opened #8911 "Create UI - S1 - Dissolution statement"
**To do:**

- [ ] Decide on the two values that we are going to use (blocked by #8915)
- [ ] Build this component

COOPS
- [ ] Step 4 - display the chosen statement selected in Step 1.
~The Association has, by special resolution, voluntarily resolved to dissolve the Association under Section 197 of the Cooperative Association Act.  The Association has no assets and has no liabilities.~
**Text from

[2021-09-09 17:42] lmcclung opened #8912 "Create UI - S1&S4 - Return or destroy certificates"
**TO DO:**

- [ ] Build component
- [ ] Connect new data to store, apply the store values to the filing
- [ ] Validation (can't file without this has been checked)
- [ ] if they save and resume, don't restore a checked checkbox
- [ ] Show on review page step 4

**COOPS:**
- [ ] the component exists as in the designs

**CORPS:**
- [ ] Do not show this component for corps. Does not apply.

[2021-09-09 17:44] lmcclung opened #8913 "Create UI - S2 & S4 - Sample Resolution"
To do:

COOPS
- [x]  expanding help
- [x] informational text
- [x] checkbox
- [x] review page

nothing for step 4 for this ticket

~CORPS do not need Step 2~
CORPS will have this step
- [x]  expanding help
- [x] informational text
- [x] checkbox
- [x] review page

Note: when building the filing for special resolution, the `resolution` field which is a required field can just have a placeholder val

[2021-09-09 17:44] lmcclung opened #8914 "Legal API & Schema - updates for special resolution and stacking of filings(special resolution and voluntary dissolution)"
For Coops only

- [x] add resolution date to special resolution schema unless `meetingDate` in the existing schema is the "resolution date"
- [x] remove document properties from special resolution schema
- [x] remove embedded special resolution property in dissolution schema
- [x] remove document validation logic for special resolutions
- [x] update legal api voluntary resolution validation logic

[2021-09-09 17:57] lmcclung opened #8915 "Legal API - S1 - Dissolution statement"

[2021-09-09 18:04] thorwolpert commented on #6385
@lmcclung done!

[2021-09-09 18:14] PatrickAHeath opened #8916 "NR Refunds - September 6 - 12"
- [ ]  NR 4834639 (INC0108421) - Client was charged 5 times for 1 name request, can you please process a refund or credit their BCOnline account for 4 X 31.50
- [ ]  NR7755662 (INC0108285) - NR not required
- [ ]  NR8488950 (INC0108359) - Refund for 7 failed NR Renewal attempts (7 x $31.50)
- [ ]  NR3979926  (INC0108334) - NR not required

[2021-09-09 18:35] mstanton1 commented on #8350
Form has been finalized and saved to SP in the CM Basic and Premium Accounts folder: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-4257

[2021-09-09 18:49] #8734 closed

[2021-09-09 18:50] #6825 closed

[2021-09-09 18:51] #6831 closed

[2021-09-09 18:52] PatrickAHeath commented on #8899
FYI I spoke to the client.

The issue was they were pressing open and got confused so good user feedback😊

Issue can be closed.

Kaine Sparks

[2021-09-09 18:52] #8899 closed

[2021-09-09 18:53] PatrickAHeath commented on #8906
Duplicate with 8899.  Closing issue.

[2021-09-09 18:53] #8906 closed

[2021-09-09 18:56] sumesh-aot commented on #8863
@jyoti3286 I'm adding the decisions we made during the meeting, please correct if you find anything missing.

- [ ] No more passcode claimed validation, as multiple accounts would be able to use the same passcode
- [ ] Delete all affiliation when a passcode is reset. Passcode can be reset by staff, or can be done by any user which have access to the business. Do we remove the affiliations on both

[2021-09-09 18:58] PatrickAHeath commented on #8904
7 Refunds approved

Regards,

Debbie Blyth
Team Lead – BC Registries and Online Services
Ministry of Citizens’ Services
T: 778 698-1413 | Web: www.bcreg.ca
“Access to government services made easy”

From: BCROS Lab BA Team CITZ:EX <BCROS.Lab.BA.Team@gov.bc.ca>
Sent: September 9, 2021 11:26 AM
To: Blyth, Debbie CITZ:EX <Debbie.Blyth@gov.bc.ca>
Cc: BCROS Lab BA Team CITZ:EX <BCROS.Lab.BA.Team@gov.bc

[2021-09-09 19:03] #8904 closed

[2021-09-09 19:27] severinbeauvais commented on #8907
PR 450, above, is a UI fix for the updated priority code not being saved in the new (resubmitted) NR... instead, the priority code of the original NR was saved in the NR data.

[2021-09-09 19:40] riyazuddinsyed opened #8917 "File and Pay button is enabled even though the required fields are not filled."
**Describe the bug in current situation**
When a user files the IA and on the Review screen even if the user does not select the check box the File and Pay button is enabled thereby allowing the users to file the IA.

**Impact of this bug**
All users filing the IA

Steps to reproduce the behavior:
1. Go to 'dev.bcregistry.ca/business/auth/home/decide-business'
2. Start filing a Numbered Company
3.

[2021-09-09 19:48] riyazuddinsyed opened #8918 "Priority payment adds up for the Renew."
**Describe the bug in the current situation**
When the user clicks on the Renew Button and then selects the nonpriority payment option then after the successful payment the NR Dashboard shows that the Priority Request is Yes.

This happens if the user wants to Renew an old NR which was a priority Request.

**Impact of this bug**
Users filing the Renew NR which was previously a Priority Request.

S

[2021-09-09 19:56] severinbeauvais commented on #8907
Andre and I are able to replicate this issue if we cause the "create payment" call to fail (though we're not sure why this failed in Prod).

After replicating, we found these 2 things that should be fixed:

1. The error dialog was displayed due to the failed create payment call. When the dialog is closed, the NRL is displayed (ie, what is currently in store), along with the Edit and Upgrade action

[2021-09-09 20:25] severinbeauvais commented on #8907
When resubmit create payment fails, should we...
1. delete the new (resubmitted) NR?
2. reset BCREG session storage data?
3. reload the original NR (or send the user back to the search page)?

[2021-09-09 20:27] chdivyareddy commented on #8806
Verified in DEV for the Regular Registrations (non-Crown).
Holding off testing for Restricted Registrations (Crown) as BCREG2014 doesn’t have a BCOL account associated with it, will retest after Wednesday's meeting.

[2021-09-09 20:28] severinbeauvais commented on #8907
@lmcclung @Kaineatthelab @forgeuxGH5 @thorwolpert What do you guys think of the "solution" in the comment above?

[2021-09-09 20:29] severinbeauvais commented on #8739
Some interesting references:
https://stackabuse.com/working-with-pdfs-in-python-adding-images-and-watermarks/
https://github.com/iprapas/pythonpdf

[2021-09-09 20:31] #2111 closed

[2021-09-09 20:31] #5288 closed

[2021-09-09 20:32] jdyck-fw commented on #7308
@Kaineatthelab - any thoughts on whether this is still valid or can be closed?

[2021-09-09 20:36] jdyck-fw commented on #7934
I believe this is now working as expected @lmcclung if you could please verify in prod and reopen if this is an issue.

[2021-09-09 20:36] #7934 closed

[2021-09-09 20:39] jdyck-fw commented on #8561
Taking the 'bug' and 'entity' labels off of this, as it was just an issue for the one client. Should be resolved through regular Ops process

[2021-09-09 20:44] jdyck-fw commented on #8599
Check namesp

[2021-09-09 20:59] jdyck-fw commented on #8829
In analysis to talk to staff and determine how urgent this is.

[2021-09-09 21:01] riyazuddinsyed opened #8919 "Add priority check box not available for Renew Name Request."
**Describe the bug in current situation**
When a user clicks on Renew Name Request then the dialog opens up and that doesn't have the option to make the payment as the priority.

**Impact of this bug**
Users wanting to make the Renew as a Priority Request.

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/namerequest/nr/2262780'
2. Click on Renew Button
3. the payment dialog sh

[2021-09-09 21:07] jdyck-fw commented on #8907
Go ahead with aborting

[2021-09-09 21:12] jdyck-fw commented on #8918
Same and #8907

[2021-09-09 21:23] PatrickAHeath commented on #8579
Refund request for NR3471130 sent to BCOLHELP.

[2021-09-09 21:32] jinghualicgi commented on #8835
@jordiwes Steph, can you please take a look and provide estimate.

[2021-09-09 21:39] jinghualicgi commented on #7341
@chdivyareddy Divya, please do a search and try to duplicate this error

[2021-09-09 21:40] severinbeauvais commented on #8918
This was the same root cause as 8907 but in the renew modal instead of the resubmit modal: the payment object was set to "priority=false" but the NR object was not (so it retained the previous value).

[2021-09-09 21:48] jinghualicgi commented on #8419
@mstanton1 Melissa, deadline with milestone 10.6 is fine for Assets Team. Thanks

[2021-09-09 21:48] chdivyareddy commented on #7341
Verified the Payment Confirmation message "Your account will be debited..."
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/bf1ef7dc-d90a-45c4-89e6-6a4f3d3acc6a)

[2021-09-09 21:53] jinghualicgi commented on #7340
Jinghua will bring this to PO Syc

[2021-09-09 21:55] Kaineatthelab commented on #7308
I can't recreate it, so close it for now

[2021-09-09 21:55] #7308 closed

[2021-09-09 21:57] #8791 closed

[2021-09-09 21:57] #8842 closed

[2021-09-09 21:59] #8350 closed

[2021-09-09 21:59] #7989 closed

[2021-09-09 21:59] #8219 closed

[2021-09-09 22:15] rarya-freshworks commented on #4787
@rarya-freshworks Check the new changes in the screen and verify it is still an issue. Low Priority.

[2021-09-09 22:16] chdivyareddy commented on #8557
Verified in DEV.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/7878c1f7-df86-4486-99e7-06db1fde28a0)

[2021-09-09 22:35] pwei1018 commented on #8742
This only way I can think of to reproduce this issue. You may go to database to search duplicate BCROS user in users table. And then use this user id and password to login into director search application. However, you may not be find any duplicate user in Test database.

[2021-09-09 23:03] mstanton1 opened #8920 "Service BC Account Questions"
### ServiceNow incident:
### Contact information
Staff Name: Crystal Smith
Staff Email: Crystal.Smith@gov.bc.ca

### Description
1.	Can the account administrator view GL information?
2.	Who in Service BC receives reports from BC Online?
3.	What does transaction reporting look like?
4.	What is the reconciliation process for SBC Finance?

### Ops Process
- [ ] Add **Entity** or **Relationships** lab

[2021-09-09 23:06] mstanton1 commented on #8920
The following responses have been sent to Crystal with John and Jyoti cc'd.

As per our chat yesterday I’ve pulled together some information from the new Business Registry.

1. Can the account administrator view GL information?

- [ ] Currently the system does not display the GL information for the account administrator. The intent is that this information will be visible to the account administra

[2021-09-09 23:09] lmcclung commented on #8264
@thorwolpert You asked why we don't just do an alteration - there are business policies.  If the client incorporates the wrong type, there are different options to them depending on how soon they notify us.  If they notify us within 24 hours or so we will admin dissolve and refund fees so they are only out of pocket the $30 for a new NR.  We also give them a choice of doing an alteration but often

[2021-09-09 23:31] severinbeauvais commented on #8907
4. It is unknown why payment failed twice, but according to the next step, it eventually succeeded.

5. There was a bug where the original priority flag was retained (even while the initial payment looked OK). This may have thrown off something. This bug has been fixed.

6. The client was probably confused by the incorrect NRL page. They may even have clicked to upgrade the NRL, causing an upgrade

[2021-09-09 23:34] severinbeauvais commented on #8907
### Test Notes

To test this, the payment creation has to fail (and ideally, the NRL creation has to succeed). I was able to test this locally but I don't know how to test it in Dev or Test.

[2021-09-10 00:14] lmcclung commented on #8599
NAMESP info:
NR 5190144
REQUEST_ID = 1843874

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/a75aaeba-554e-4684-bab1-3f1c214aae3c)

[2021-09-10 00:15] tlebedovich commented on #8542
awesome thx, moving to RFQA

[2021-09-10 00:17] tlebedovich commented on #8535
looks great! moving to RFQA

[2021-09-10 00:19] PatrickAHeath opened #8921 "NR1783633 NR6658322 - Not showing as Priority in NAMEX or NRA"
### ServiceNow incident: INC0108554
### Contact information
Staff Name:  Debbie Blyth
Staff Email:  Debbie.Blyth@gov.bc.ca

### Description
Clients have paid for Priority service on NRs but they don't display as Priority in NAMEX or NRA.

[https://app.zenhub.com/files/157936592/557572df-5eda-4df5-97a7-ee447a8c9a29/download](https://app.zenhub.com/files/157936592/557572df-5eda-4df5-97a7-ee447a8c9a2

[2021-09-10 00:21] tlebedovich commented on #8702
hi @jordiwes - what is covered in this ticket? Are we supposed to be reviewing the first Renewal page part of this or just the table dropdown menu with Renew buttons and security confirmation modal?

[2021-09-10 00:28] PatrickAHeath commented on #8662
Everyone else in my firm seems to be able to request names so I don’t think it is a matter of the payment going through.
I just spoke with someone and she is getting someone to call me back.
Thank you,
Maddie

Madison Allen
Legal Assistant
Heath Law LLP
200 - 1808 Bowen Road
Nanaimo, BC  V9S 5W4
T:  250-753-2202 ext: 124 Direct: 250-824-2051
F:  250-753-3949
E:  mallen@nanaimolaw.com
Website:  www

[2021-09-10 00:38] tlebedovich commented on #8451
This does not include UXA for the Renewal page which is coming in another ticket.

@chdivyareddy - please note that there is another ticket coming to remove the "Open" buttons and do another update to the dropdown menu items in the Reg table - but you can still check to make sure the Edit buttons are showing when they should, and Renew is deactivated for Infinite registrations etc. Spreadsheet is

[2021-09-10 00:38] kialj876 commented on #8622
@tlebedovich this ticket is the refactor that will include fixing any functional bugs, and making it work for all the other things (discharge) and all the hints that were missing. (the functional rewrite)

The other ticket will be for making it sticky with the buttons and all the design tweaks (design update)

[2021-09-10 00:40] tlebedovich commented on #8702
@chdivyareddy - UXA of the Renewal page itself has not been UXA'd yet, that will come in the Renewal page ticket.

[2021-09-10 05:08] vysakh-menon-aot opened #8922 "filing-ui, create-ui, edit-ui - update to use NR State - CONSUMED, EXPIRED"

[2021-09-10 05:50] pwei1018 commented on #8921
@PatrickAHeath Both NRs are resubmit from old one. I suspected it's the same(or similar) issue as https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8907 .

I did data fix for both NRs.

![image.png](https://images.zenhubusercontent.com/5bf5f0484b5806bc2bf6f0cb/d779bf22-d01c-4a7a-8fde-bcd1fadb75b0)

[2021-09-10 15:24] Sienna-Blumstengel commented on #8907
@severinbeauvais Patrick thinks #8921 is relating to this bug, do you think you could take a look and see if your fix will resolve whatever happened there?

[2021-09-10 15:39] chdivyareddy commented on #8535
Verified in DEV.

[2021-09-10 15:39] Sienna-Blumstengel commented on #8662
Verified that Madison Allen has successfully completed her account creation in HEATH LAW LLP account.
Verified that the BCOL account has funds. Also, "Everyone else in my firm seems to be able to request names so I don’t think it is a matter of the payment going through."
Contacted her this morning asking if she wants to meet over video call, so we can see her error in the console

[2021-09-10 15:43] severinbeauvais commented on #8921
@PatrickAHeath Yes, I agree that this is likely due to bug 8907 (in which the priority flag from the original NR is retained in the new NR data even though the payment may show something else).

Thanks for the data fix!

[2021-09-10 15:44] severinbeauvais commented on #8907
Yes, I believe the bug in THIS ticket is the cause of Patrick's Ops ticket. I added a comment to 8921.

[2021-09-10 16:09] severinbeauvais commented on #8832
This ticket is merged and deployed to Dev.
@vysakh-menon-aot Please move to RFQA after you verify in Dev.

[2021-09-10 16:16] andrepestana-aot commented on #8739
- Are you going to ensure that uploaded PDF is in letter page size?

[2021-09-10 16:27] vysakh-menon-aot commented on #8832
I am holding this until the api rollout to dev (there is a CD issue in namex)

[2021-09-10 16:28] sumesh-aot opened #8923 "Cleanup auth-api Spec"
## What is the problem?
* Auth-API spec doesn't follow the standard which we follow and was created long back and didn't make the subsequent updates.

## What is the impact?
* Spec not up-to-date and confuses partners

## Proposed solution
* Cleanup and update the API Spec with endpoints which are needed for the partner, API users and other BC registry applications.

[2021-09-10 16:29] sumesh-aot commented on #8923
@jyoti3286 @SateeshFW please include this for next grooming.

[2021-09-10 16:31] #8780 closed

[2021-09-10 16:34] rarya-freshworks commented on #8280
Scenarios:
1.) Run a Name Request Transaction successfully, verify the receipt.
2.) Transactions statements from account info page.

[2021-09-10 16:38] sienna-oldaccountdontuse opened #8924 "Issues with accessing an existing NR with phone and email"
### Description
Report from Jenn Weldon:

### Steps to replicate
1. Request a name
2. Go to  "manage an existing NR" tab
3. Enter NR, and phone number
4. it works
5. CLick "back" to g to "manage an existing NR" tab
6. Enter NR and phone number again
7. It doesn't work
8. Try NR and email
9. Works

### Impact
Minimal impact, confusing but if the client makes a few attempt they will get access to th

[2021-09-10 16:39] rarya-freshworks opened #8925 "Regression Testing"
Description:
List of scenarios & areas that are part of Regression Testing for upcoming 10.4 Release.

**Auth:**
Name Request
Account Info
Payment Update
Manage Business
Benefit Company
User Groups
Staff Dashboard
Wills Registry
Account Hold/Reject

**FAS:**
Search
Add Routine Slip
Add Manual Transaction
User Groups
Link Routine Slips
Daily Reconciliation Report

[2021-09-10 16:45] forgeuxGH5 commented on #7985
@cameron-freshworks can you make the default sort order visible on launch of the dashboard?
Like this:
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/16123451-84f0-4695-ae6a-44f9b495bc0b)

Otherwise this looks good to me - RFQA

[2021-09-10 16:49] chdivyareddy commented on #8542
Verified in DEV.

[2021-09-10 16:50] rarya-freshworks commented on #6920
Wasn't able to think of any other scenarios apart from what is mentioned above.

[2021-09-10 16:52] severinbeauvais opened #8926 "Entities: Namerequest High Priority Bugfixes (2.3.17 bugfix)"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Update version number in the code being released - **done by SB, version = 2.3.17bf**
- [x] Ensure deployment steps are filled in - remove/replace placeholders - **done by SB**
- [x] Create a draft release in GitHub and confirm the correct commits are present - **done by SB**
- [x] Add version # and releas

[2021-09-10 16:53] Sienna-Blumstengel commented on #8721
It is **not** possible to have multiple approved names in a single name request. Only one name choice can be approved :) @vysakh-menon-aot

[2021-09-10 16:56] vysakh-menon-aot commented on #8721
I was asking about the ops ticket number which we discussed to update historical data (with the above query)

[2021-09-10 16:59] riyazuddinsyed commented on #4901
This issue is no longer reproducible..

[2021-09-10 17:00] stevenc987 commented on #8839
@PatrickAHeath
Can this ticket be implemented?

[2021-09-10 17:09] PatrickAHeath commented on #8921
Feedback from Debbie - issue can be closed.

Yes, okay to close and could you let me know when the fix has been completed.  Thanks,

Regards,

Debbie Blyth
Team Lead – BC Registries and Online Services
Ministry of Citizens’ Services
T: 778 698-1413 | Web: www.bcreg.ca
“Access to government services made easy”

From: BCROS Lab BA Team CITZ:EX <BCROS.Lab.BA.Team@gov.bc.ca>
Sent: September 10, 2021 7