[2021-07-29 20:34] severinbeauvais commented on #8414
IMHO this should be a new code:
- for a different receipt item text
- in case the fees are different in the future

[2021-07-29 20:38] doug-lovett commented on #7885
@yuisotozaki Attached is the example serial number search updated from your previous feedback. I have also added some comments to your UX assurance notes. This example was generated locally and uses the BC Sans fonts.
[https://app.zenhub.com/files/157936592/894ace14-b0b6-4383-888a-ea2a7fc3716b/download](https://app.zenhub.com/files/157936592/894ace14-b0b6-4383-888a-ea2a7fc3716b/download)[https://a

[2021-07-29 20:40] mstanton1 commented on #8250
@PatrickAHeath to confirm with team how this should function. As per discussion it is suggested the user would go back to https://www.bcregistry.ca/business/auth/home/decide-business for assets since they cannot access it without already being in an account.

[2021-07-29 20:42] mstanton1 commented on #8185
@jyoti3286 this was being done through import. Is this in progress? If not should this have the dev label and be groomed?

[2021-07-29 20:48] mstanton1 commented on #3243
@Sienna-Blumstengel is there still work needed for this? Sounds like it is a duplicate from the comment above.

[2021-07-29 20:57] chdivyareddy commented on #8349
Verified in DEV.

[2021-07-29 20:58] kialj876 commented on #7091
@lmcclung this is ready for review again

[2021-07-29 21:26] mstanton1 commented on #8350
This form has been sent to Amber to determine if there are any concerns from a policy perspective.

@amit4610 @jyoti3286 please review and let me know if you have any feedback. Link is in first comment above.

Next steps:
- [ ] Once reviewed by Amber and relationships provide to BCOL Admin for review.
- [ ] Once approved by BCOL Admin send to Genevieve to produce the form.

[2021-07-29 21:30] PatrickAHeath commented on #7091
@lmcclung @Sienna-Blumstengel Email from Julie asking to correct name on Certification:

[https://app.zenhub.com/files/157936592/ed06543f-ebba-44ee-b245-4b28043422d1/download](https://app.zenhub.com/files/157936592/ed06543f-ebba-44ee-b245-4b28043422d1/download)

[2021-07-29 21:30] mstanton1 commented on #8057
Chris has sought clarification on section 4 to ensure all system users will be acting in a business capacity. Jyoti has confirmed all system users BCSC data will be for Business contact data and requested the submission is moved ahead to secondary review.

[2021-07-29 21:40] mstanton1 commented on #7757
@Sienna-Blumstengel if there is just one page they always return to your devs will need the URL. If there are different flows I've been advised that your devs can implement logic on your side.

_Saravan noted: the page just goes back to whatever you were on last -> that will be challenging for them..their dev has to code to find out which page user is on and pass it to our component._

To implemen

[2021-07-29 21:45] lmcclung commented on #7018
Discussion with Andre July 29th

@andrepestana-aot I think I've understood correctly, but if I'm missing something let me know.
@severinbeauvais FYI

**What to display in the **UI** when I cancel and refund a DRAFT NR:**
If Success: Cancelled, Refund Request
If Failure: Cancelled, Refund not processed (or whatever Sumesh decides)

**What to store in the database for a DRAFT NR that fails:**
There

[2021-07-29 21:47] jinghualicgi commented on #8410
@bfbowles Please verity the time zone are UTC for timestamps

[2021-07-29 21:48] lmcclung commented on #8414
@mstanton1 could someone from your team answer the questions in the ticket?  and if work is required from your end, could you prioritize to get done by mid-sprint 10.3?

[2021-07-29 21:49] magszymanski commented on #8373
Details from Trello:

ISSUES - ensure the escalation path for issues is clear across teams (is it product or program?) - who should escalate issues to Carol and others? I'd like to ensure we are not making assumptions with issues that need to be escalated and who actually owns the issues(s). REPORTING & UPDATES - ensure a common understanding of project vs program reporting and updates to Carol/ex

[2021-07-29 21:50] yuisotozaki commented on #7885
@doug-lovett

Confirmed that the locally generated PDF has BC Sans ✅

Observation Notes for anyone else looking at this issue later.
* Some the data contain all caps - so those are not issues with the report ✅
* The footer can only support a single style - Regular is fine ✅

A couple more tweaks.
In the comp below, I'm referring to this visual design for white space reduction in the subsections.
h

[2021-07-29 21:50] lmcclung commented on #8414
@andrepestana-aot can you do a little test?  See if there's a difference with the PAY-API when you do a new NR and when you do a RENEW?  If they are both the same, then resubmits would probably work the same way.

[2021-07-29 21:53] magszymanski commented on #8406
Details from Trello:

"Simona working with Kaine and PPR team to get the PPR OCM activities into Zenhub linked to the PPR epics"

[2021-07-29 21:55] magszymanski commented on #8379
Details from Trello from March 15:
Revisiting at end of June

Details from Trello from Feb 16:
team is currently working on a survey that will be submitted to users who have submitted or will be submitting a name request. we're asking for feedback on application and contact phone number so we can follow up for more info.

[2021-07-29 21:55] magszymanski commented on #8371
Details from Trello:
Legal community has expressed concerns using Mobile Card. We need to package up all concerns and send to IDIM so they are aware of impact and use case; hopefully, they will see the need to create another solution.

[2021-07-29 21:56] jinghualicgi commented on #8363
We will have a meeting to review options.

[2021-07-29 21:58] jinghualicgi commented on #7535
@PatrickAHeath will send log to Doug for more information

[2021-07-29 22:03] jdyck-fw commented on #7684
**Design Jam Notes:**
- We reviewed 7684 and the in-progress design ticket for it 7548 as well as the wireframe found on 7685 for questions and concerns in advance of grooming this work

Stamp:
- [ ] We might need a story to put the stamp on the PDF
- [ ] what does it look like?
- [ ] what file format?
- [ ] does staff approve?
- [ ] do we have any reference on how to do it from other teams?
- [ ]

[2021-07-29 22:09] andrepestana-aot commented on #8414
Yes, I'm doing it right now. It seems to be the same as any other action.

Maybe there will be a different fee for the RESUBMIT?

[2021-07-29 22:18] PatrickAHeath opened #8416 "BC1314465 - 1314465 B.C. LTD. - Alteration, Benefit Company > BC Limited Company"
#### ServiceNow incident:  INC0102398

#### Contact information
Kathy Langlois
Kathy.Langlois@gov.bc.ca

#### Description
Complete alteration from Benefit Company to BC Limited Company

[https://app.zenhub.com/files/157936592/8766b1cf-e506-4ba0-9172-8ae8e41fccfa/download](https://app.zenhub.com/files/157936592/8766b1cf-e506-4ba0-9172-8ae8e41fccfa/download)

[https://app.zenhub.com/files/157936592/

[2021-07-29 22:24] severinbeauvais commented on #8221
@lmcclung @sumesh-aot

What should the Payment Filing Type be for a resubmit? Currently it's NM620.

Ref: https://github.com/bcgov/namerequest/blob/main/src/modules/payment/filing-types.ts

[2021-07-29 22:29] jinghualicgi commented on #7534
Give staff BCSC to do testing @PatrickAHeath , to provide more comments for UAT env.

[2021-07-29 22:31] tlebedovich opened #8417 "BUG - Weasy Print PDF Outputs no longer displaying correct BC Sans Font"
It was discovered that the PDF outputs using Weazy print are no longer properly displaying our custom BC Sans font. They are rendering using a default font (they were correctly displaying the BC Sans font previously).

This is affecting the PDF outputs for Relationships, PPR and Entities that we saw in both DEV, TEST as of today, July 29, 2021.

**Info gathering notes (from @doug-lovett):**
- In t

[2021-07-29 22:33] tlebedovich commented on #8417
@doug-lovett @severinbeauvais - I opened this bug ticket - if you had anything to add, feel free to add it above.

fyi - @lmcclung @Kaineatthelab @jyoti3286

[2021-07-29 22:33] PatrickAHeath opened #8418 "BC0937052 - BE THE CHANGE CONSULTING GROUP INC. - Alteration, BC Company > BC Benefit Company"
#### ServiceNow incident:  INC0102401

#### Contact information
Kathy Langlois
Kathy.Langlois@gov.bc.ca

#### Description
[https://app.zenhub.com/files/157936592/7bb44297-9bc6-421e-9ec2-eab083589ddc/download](https://app.zenhub.com/files/157936592/7bb44297-9bc6-421e-9ec2-eab083589ddc/download)

### ALTERATION TASKS - LTD/ULC > BEN:
- [x] [Check out this flow chart for the steps](https://drive.goog

[2021-07-29 22:38] andrepestana-aot commented on #8413
Questions:

- Should the NR state be validated? Only APPROVED or CONDITIONALLY_APPROVED should be resubmitted.

- If a NR is resubmitted, it should change its state back to 'DRAFT' or any other state?

- Can the user change any NR details on resubmission? Those changes should reflect in NRO?

- When will be the next expiration date after the resubmission?

[2021-07-29 22:44] chdivyareddy opened #8419 "Transaction PDF - Footer Issue"
* As the Assets team
* we want the Transaction Statement PDF Report to display the footer (logo, Statement #, Page info) on every page rather than just the last page - by the Relationships team
* so that the client can see relevant info on every page

### Description
**Current Behavior:** Footer is displayed only in the last page.

**Expected Behavior:** Footer should be displayed in every page.

[2021-07-29 22:45] PatrickAHeath opened #8420 "BC0511457 - FULL LINE SPECIALTIES INC. - Alteration, BC Limited Company > BC Benefit Company"
#### ServiceNow incident:  INC0102410

#### Contact information
Kathy Langlois
Kathy.Langlois@gov.bc.ca

#### Description
[https://app.zenhub.com/files/157936592/abb9ac02-48b5-45d6-b22b-855ff9218fba/download](https://app.zenhub.com/files/157936592/abb9ac02-48b5-45d6-b22b-855ff9218fba/download)

### ALTERATION TASKS - LTD/ULC > BEN:
- [ ] [Check out this flow chart for the steps](https://drive.goog

[2021-07-29 22:46] chdivyareddy commented on #8161
Added new ticket for footer issue [#8419](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8419)

[2021-07-29 22:47] severinbeauvais commented on #8413
^^ On resubmit, a new NR is created.

But... do we do anything with the old NR?

[2021-07-29 22:48] kialj876 commented on #7091
That is a side effect of all filings that come through colin. If it needs to be changed it should be brought into the sprint and groomed properly (that info would need to come from colin and I'm pretty sure they don't save that). We could data fix it but we are not supposed to ever manually change the filing_json of a filing

[2021-07-29 22:50] severinbeauvais commented on #8243
@lmcclung Is it OK if the receipt shows "Name Request fee" and has no reference to "resubmit" or the original NR number?

[2021-07-29 22:56] andrepestana-aot commented on #8413
In this case I think we should just call CREATE and not change anything.

Are sending any data about the old NR in the request?

[2021-07-29 22:59] severinbeauvais commented on #8413
There is a text message in additional info, otherwise no.

[2021-07-29 23:02] lmcclung commented on #7091
@kialj876 can we do these two datafixes or rather, I think Thor reapplies them and adds a comment to the json?  Looks like when we brought over the special resolution earlier this year we were able to add "Registry staff" to the ledger.

We've got a tentative new process for second ARs which means staff won't file them in COBRS any more.  Also, we're building special resolution filings over the ne

[2021-07-29 23:13] PatrickAHeath opened #8421 "BC1265527 - BLUE HERON CREAMERY LTD. - Alteration, Limited BC Company > BC Benefit Company"
#### ServiceNow incident:  INC0102430

#### Contact information
Kathy Langlois
Kathy.Langlois@gov.bc.ca

#### Description
[https://app.zenhub.com/files/157936592/69c5e678-2964-49ce-a510-723f80567f24/download](https://app.zenhub.com/files/157936592/69c5e678-2964-49ce-a510-723f80567f24/download)

[https://app.zenhub.com/files/157936592/e63a0a50-bcb0-40b7-a636-37a61395a341/download](https://app.zenhu

[2021-07-29 23:15] kialj876 commented on #8416
@PatrickAHeath this will go across to COLIN at 5p, and it will be ready for review afterwards

[2021-07-29 23:28] kialj876 commented on #8420
@PatrickAHeath I don't see any information about who this is 'certified by'. Normally the original filing is attached in the ticket so we can see who signed etc.

[2021-07-29 23:29] PatrickAHeath commented on #7535
@doug-lovett Attempted search using BCREG0050 at 16:26 July 29.  (You can use BCREG0050 for testing this one - it's linked to a BCOL Account for payments)

[2021-07-29 23:30] kialj876 commented on #8420
for the next ops person I have started the notebook for this and saved it in the notebook repo as 8420-BC0511457_Alteration_BEN_to_LTD.ipynb
- so far it just has all the filing info etc. except for certified by (nothing has been run yet)

[2021-07-29 23:34] kialj876 commented on #7091
sure I'll do it for this one and add Registry Staff as the certified by

[2021-07-29 23:37] lmcclung commented on #8243
@severinbeauvais yes, that's fine.  It's how we do it in the old world.

[2021-07-29 23:39] kialj876 commented on #8420
ah shoot I thought this was a BEN -> LTD. so I prepped the wrong notebook. This one will need to start from scratch

[2021-07-29 23:48] lmcclung commented on #8417
@doug-lovett @severinbeauvais when fixing this, would work need to be done on each pdf or is it something that can be fixed at a global level?

[2021-07-29 23:49] severinbeauvais commented on #8417
That depends on what's broken!

[2021-07-29 23:50] lmcclung commented on #8221
@severinbeauvais yes, NM620 works.  Thanks for posting the reference:)  Saved me from having to ask you what NM620 is.

[2021-07-29 23:52] severinbeauvais commented on #8417
(The font spec for our outputs is in a common file, if that's what needs to be changed.)

[2021-07-29 23:52] doug-lovett commented on #8402
The "None" belongs to a missing vehicle collateral sub-header. The report fix is in the next API build.

[2021-07-29 23:53] kialj876 commented on #7091
updated to Registry Staff

[2021-07-29 23:56] PatrickAHeath commented on #7534
Chatted with Relationships peeps about staff access with IDIRs.  Staff are not within an account and cannot be added to an account when logged in with their IDIR.

We'll have to design staff access for PPR without an account in place for the user.

Relationships is also treating the TEST environment as a copy of PROD, so no functionality will be migrated there until it's implemented in PROD.  Sinc

[2021-07-29 23:57] lmcclung commented on #8221
@severinbeauvais looking at the list again, it could also potentially be any of these but the NM622; just like any other new NR request.

[2021-07-30 00:00] lmcclung commented on #8414
@andrepestana-aot - It's the same fee for the resubmit as we have for a new request and I am assuming the same fee codes (regular submission online).  @severinbeauvais was just asking me that.
Ref: https://github.com/bcgov/namerequest/blob/main/src/modules/payment/filing-types.ts

waiting for @mstanton1 to get confirmation from her team.

[2021-07-30 00:06] lmcclung commented on #7091
@kialj876
Agh!  Certified by should read:  Matthew Jablonski
Filing ledger should read Registry Staff - which you've fixed

[2021-07-30 00:10] lmcclung commented on #8417
@Kaineatthelab @jyoti3286 I propose that we tackle this when we update each email template or maintain a filing if it's not a common file.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/998b8317-f181-4700-9f18-296f696679f3)

[2021-07-30 00:11] chdivyareddy opened #8422 "Discharged Registration Type search does not display label as Discharged/Renewal in PDF report."

[2021-07-30 00:31] thorwolpert commented on #8168
All data migrated (minus historical payment info)
[code]

[2021-07-30 00:32] tlebedovich commented on #7553
@PatrickAHeath @janisrogers - I just added the Misc Act (Carbon Tax) above. Would love to review it with you both.

[2021-07-30 00:42] tlebedovich commented on #8417
Because it was working a few weeks ago, I have a feeling it may even be a bug with the Weazy print software - maybe their most recent update messed something up. Worth a call with their support folks before we dive in deep on our side.

[2021-07-30 00:50] thorwolpert commented on #8168
Alteration completed
[code]

[2021-07-30 14:18] vysakh-menon-aot commented on #7475
@lmcclung I am unable to reproduce this issue.

[2021-07-30 15:15] chdivyareddy commented on #7639
Added new ticket for Total Discharge (DC) Registration type issue [#8422](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8422)

[2021-07-30 15:25] tlebedovich commented on #7548
Question from Scott - when in the process do we get the incorporation number?

[2021-07-30 15:28] mstanton1 commented on #8168
I have advised SBC IT Ops and the business that this is complete. They will review.

[2021-07-30 15:29] lmcclung commented on #7388
Here's the sample email which I received yesterday.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/e71d2657-0540-4c1c-8645-ee5856bbfadd)

[2021-07-30 15:30] lmcclung commented on #7388
@vysakh-menon-aot  was the "incorporate/register" hard coded in there, or is it a dynamic field?

Going to run the email by staff quickly to get their feedback.

[2021-07-30 15:38] mstanton1 commented on #5789
@Sienna-Blumstengel I've summarized business procedures and the way money switches from Garms to BC Online in Zenhub 7971. This may be helpful with thinking through future approaches. Let me know if you want to meet to discuss:)

[2021-07-30 15:39] tlebedovich commented on #7548
@lmcclung Could you please add a list of items I needed to add/update to my current designs for Steps 1, 2 and 4 above?

My notes were:
- Combine People and Roles as per Benefit Company
- Update validations on each step to include the same red bar/red x icon/blue button validation checks as Alterations
- Separate Certify and Docs Delivery as per Alterations

Question - please confirm we are no lon

[2021-07-30 15:42] doug-lovett commented on #7885
@yuisotozaki Hello again, the sample attached below has the changes from your latest review. This version will go to dev today if you have no further updates.

[https://app.zenhub.com/files/157936592/dce481ac-f904-4e60-9c99-8e4c3f3efc80/download](https://app.zenhub.com/files/157936592/dce481ac-f904-4e60-9c99-8e4c3f3efc80/download)

[2021-07-30 15:49] Kaineatthelab commented on #7622
@tlebedovich I think we close this one and I will make a new one and put it in the backlog

[2021-07-30 15:50] Kaineatthelab commented on #5256
Epics only move to in progress when the dev work starts

[2021-07-30 15:51] Kaineatthelab opened #8423 "BCROS Home Page V2"

[2021-07-30 15:54] mstanton1 opened #8424 "As a XXXXX I want the ability to trigger refunds from transaction history for Ministry Accounts paying with EJV"
* As a ???
* I want the ability to trigger a refund on a ministry partner transaction with electronic journal voucher for payment
* so that I can support refunds in cases where business approval has been received

**Acceptance Criteria**

**Scenario 1: EJV for transaction has not yet completed--Need to add in a clear timeline for this**
* GIVEN ... (you or your condition)
* WHEN ... (what you do)

[2021-07-30 15:54] Kaineatthelab opened #8425 "PPR Marketing Page V2"

[2021-07-30 15:55] Kaineatthelab commented on #7623
Created new ticket that will be done later

https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8425

[2021-07-30 15:56] lmcclung commented on #8168
@thorwolpert looks like you didn't add the special resolution date.  Can you reapply it?

[2021-07-30 16:01] mstanton1 commented on #8424
Current process:

- Very rare, and handled by BCOL Help / BCOL Admin when it occurs
- BCOL Helpdesk investigates the refund request to confirm if there was a system issue (e.g. corporate search output wouldn't load) or if this was a legitimate transaction but refund has been approved by a partner
- If approved the BCOL Helpdesk provides information to BCOL Administration who then credit the client

[2021-07-30 16:12] vysakh-menon-aot commented on #7388
@lmcclung This email is not triggered by the new job i created. The new job is not even ready in DEV

[2021-07-30 16:14] rarya-freshworks opened #8426 "Search Query for Director search (Needs investigation)"
**Description**:
When a director search is done, under certain parameters set for search query it would not return search results for sometime and later shows network error. The issue seems to be in couple of areas likely in API and/or database. This needs to be investigated.

**Steps**:
1. Login into Director Search
2. Set First Name, Last Name and Company Status
3. Set Valid Values in above para

[2021-07-30 16:22] severinbeauvais commented on #8221
Do we know what these are used for -- fee lookup in Pay API maybe? (In this case, maybe we should assign a new code, so that we can differentiate between New and Resubmit in the future. Or we can change this later.) Or is this code used by external systems? (In this case, we should check if they need to differentiate between New and Resubmit; if not then we should leave this alone :) )

[2021-07-30 16:22] lmcclung opened #8427 "Cameron Wulff needs some stats"
Cameron Wulff is wanting to know how many companies incorporated as a Benefit Company since June 30th, 2020 and have since either: 1) altered to become a BC Limited; 2) filed a voluntary dissolution or 3) filed an admin dissolution

[2021-07-30 16:23] rkim13103 opened #8428 "UX/UI Design-FAS Linking Routing Slips"
Design UI for linking multiple routing slips

Linking routing slips should include:
1.Ability to search routing slip and select routing slip
2.Transfer or add funds from the secondary routing slip
3.Design the behaviour change in transaction history

Review with Staff
-Review how staff is currently linking routing slips
-Transfer vs Adding funds (review parent/child concept relationship routing sl

[2021-07-30 16:24] lmcclung commented on #8427
@stevenc987 is this something I can leave with you?

[2021-07-30 16:32] stevenc987 commented on #8427
@lmcclung
I will take a look. Thx

[2021-07-30 16:32] lmcclung commented on #7388
@vysakh-menon-aot sorry, it must be the old one from NRO.

[2021-07-30 16:33] #8159 closed

[2021-07-30 16:34] tlebedovich commented on #7622
@Kaineatthelab ok sounds good. should these go to RFQA pipelines still then or straight to closed?

[2021-07-30 16:35] #8195 closed

[2021-07-30 16:35] #8218 closed

[2021-07-30 16:35] #7577 closed

[2021-07-30 16:36] tlebedovich commented on #7623
thanks @Kaineatthelab - makes sense for this one to have the page design work completed before taking another shot at this one. I'm not sure we have a design ticket open for it.

should this also just go to closed or go through QA?

[2021-07-30 16:36] #8306 closed

[2021-07-30 16:37] severinbeauvais opened #8429 "NR UI: expired NRs show no request status"
**Description:**

Eg, in namex:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/97a63a1e-14b5-426d-99d5-97c061a926e2)

In Namerequest:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/f1279202-e465-4d4b-ad3e-5878b8006742)

**Background:**

The current Namerequest source code does not display text for a NR state of "EXPIRED". This is because Ex

[2021-07-30 16:37] #7961 closed

[2021-07-30 16:37] #7783 closed

[2021-07-30 16:38] #6914 closed

[2021-07-30 16:38] #8189 closed

[2021-07-30 16:38] #8007 closed

[2021-07-30 16:45] yuisotozaki commented on #8202
Mock for Amend screens updated with staff feedback.
* Leaving the back button where it is since all navigation buttons are centralized - will react if it proves to be problematic.
* Mock updated with a little more visual treatment to make Back/Cancel buttons show up better; to be sorted out in real visual design for consistency with other designs in PPR.
* Cancel modal is covered in the static scr

[2021-07-30 16:51] yuisotozaki commented on #8202
@tlebedovich The mock is as complete as it can be. Ready for visual design.
When we know more about the "do we need to treat each change as separate transaction and charge separate fees?", I will circle back and add to the design as necessary.

[2021-07-30 16:53] severinbeauvais commented on #7736
@riyazuddinsyed @kialj876 It looks like this release is complete. Can this ticket be closed now?

[2021-07-30 16:56] tlebedovich commented on #8202
thanks yes, I would say this this open issue would be a bit of a design blocker but hopefully we get answers soon.

[2021-07-30 17:12] riyazuddinsyed opened #8430 "Request status showing a dash for cancelled NR's."
**Describe the bug in the current situation**
When a user files for an NR and then after a successful payment when the user hits on Cancel and Refund then the status shows a dash upon a new search.

**Impact of this bug**
Users who cancel the Name Request.

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/business/auth/home/decide-business'
2. File an NR and after successful p

[2021-07-30 17:22] yuisotozaki commented on #7885
@doug-lovett Here's my review result.
* ✅  Logo nudged - looks great!
* [ ] Header title to 15pt and nudge a little to the right to be aligned with the field labels below (i.e. "Search Date and Time", "Account Name", and "Folio Number")
* [ ] Header subtitle to 12pt
* [ ] Title in the blue header section to 14pt (i.e. Serial Number - "ju622994")
* [ ] The colour of the blue area that contains "Sea

[2021-07-30 17:22] riyazuddinsyed opened #8431 "Service fee is added for the staff upon Renewing an NR."
**Describe the bug in the current situation**
When the staff Renews the NR then the service fee of $1.50 does appear.

**Impact of this bug**
Staff paying for Renewal of NR.

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/namerequest/'
2. Login with staff and try to Renew an NR.
3. see the payment module has $1.50 as a service fee.

![Screen Shot 2021-07-29 at 11.44.27 AM.pn

[2021-07-30 17:25] lmcclung opened #8432 "UI Step 3 Create component, upload, validate"

[2021-07-30 17:25] lmcclung opened #8433 "UI Step 4 Create component, upload, validate"
- [x] helper text
- [x] add downloadable sample doc
- [x] build the component
- [x] use vuitify's component to upload and clear
- [x] stores in mineo (get guid from mineo that we post to lear- TBC)
- [x] Upload the pdf
- [x] UI validation - extension; size. 8367 was created for validation, but we haven't completed it for the rules and memorandum yet.
- [x] can only upload one file

Estimated based

[2021-07-30 17:26] Kaineatthelab commented on #8202
@yuisotozaki @tlebedovich Bob agrees that we should allow them to change anything and one fee

[2021-07-30 17:40] lmcclung opened #8434 "Interfacing with minio"
Not sure what all is needed here.

- [x] call to minio to verify the file exists when doing validation of the IA
- [x] API will need to fetch the file to stamp it
- [x] determine whether lear should store it or render it  (users want to be able to retrieve this document in the future with the original filing date on it)
- [x] store URLs?
- [x] accept file from UI and post to minio
- [x] a way to d

[2021-07-30 17:41] mstanton1 commented on #8364
There are two other scenarios to consider.

8424 has been logged for EJV transactions.
Partner transactions - no separate ticket has been logged at this time. Discussions on staff flow have been initiated. The ideal scenario is they are handled the same was systematically as the ticket above with the only difference being the business process would require BCOL Help obtain partner approval.

[2021-07-30 17:45] yuisotozaki commented on #8202
@Kaineatthelab This implies that the transaction history/receipt will be a single line item that contains all changes introduced. Is that OK too?

[2021-07-30 17:49] riyazuddinsyed opened #8435 "Consent waived does not get reflected in the Name Request UI."
**Describe the bug in the current situation**
When the NR is conditionally approved and in case when the staff decides that the condition should be waived then the Name Request should still show that the NR is conditionally approved and the consent is still required.

**Impact of this bug**
The case when the required consent but later its waived.

Steps to reproduce the behavior:
1. Go to 'https:/

[2021-07-30 17:51] tlebedovich commented on #7548
@lmcclung - Sorry, I still don't have access to Sharepoint to see the attached requirement docs.

[2021-07-30 17:52] PatrickAHeath commented on #8202
@yuisotozaki And all amendment activity in a search output will have a single transaction type - Amendment - with no reference to the type of change that has been made?  (Client will have to review the data to determine what has changed)

[2021-07-30 17:55] lmcclung opened #8436 "Composite PDFs Stamp"
need service (to add to lear) to add stamp to pdf (composite)

- [ ] create template
- [ ] fill template with data
- [ ] composite

Option 1: template pdf with variables
Option 2: create pdf from html and overlay that

go with option 1 unless it is too complicated

**See attached design ticket**

[2021-07-30 17:59] yuisotozaki commented on #8202
@PatrickAHeath That is my understanding. The row in the "My Registrations" table [(MVP Design)](https://projects.invisionapp.com/d/main#/console/21530804/455786523/preview) will say "Amendment" and does not get into additional details at the at level. The user can open the row marked "Amendment" to view what was changed.

[2021-07-30 18:06] tlebedovich commented on #8202
I think the Amendment PDF output is still TBD in terms of how and what it would display. I think we were going to see what it looked at as Doug has it set up and make design changes as needed once we see what the system does. @doug-lovett

I don't think we will have the Amendments expansion links in the table row for MVP (since I don't that we are doing the parent/child relationship at this time i

[2021-07-30 18:07] riyazuddinsyed opened #8437 "Consent filed shows a dash instead of the consent submitted date."
**Describe the bug in the current situation**
When the staff enters the consent received on a certain date and then hit on save edits then the Consent field instead of showing the date it shows the dash.

Steps to reproduce the behavior:
1. Go to https://namex-test.apps.silver.devops.gov.bc.ca
2. Login with your IDIR
3. Search for and select an NR in CONDITIONAL status with consent not received or

[2021-07-30 18:08] lmcclung opened #8438 "Alter IA schema"
- [ ] determine if PDF is posted inline or out of band - needs to work with people who use API
      ~ [ ] inline means bigger file~
       - [ ] if out of band may cause orphaned docs if user doesn't save filing (relationships working on a ticket for cleaning out orphans) - will need a Lear API endpoint for UI to delete PDF
- [ ] would need to put in a unique reference in our IA json (id from Min

[2021-07-30 18:09] chdivyareddy commented on #8038
Verified in TEST.

[2021-07-30 18:13] yuisotozaki commented on #8381
A quick "how to read this spreadsheet" might be good for anyone reviewing this.
* Yellow highlights indicate differences between current and new design.
* Any suggestions, risks, and questions are entered in the comments column.
* A screenshot of the current Registration Verification is included.

It's clear to me from the spreadsheet attached that **not all original content is shown in the report

[2021-07-30 18:16] amit4610 commented on #7916
Q3 is basically, how did they choose between the 2 options in # 4. That's what we are trying to find, how did they choose the incorrect payee in OB.
Looks good @mstanton1

[2021-07-30 18:21] lmcclung opened #8439 "Backend validations"
This ticket is to complete all the remaining validation that has not already been done. Do this ticket close to last.

Validations with pdf posted (done in the uploader ticket).

- [x] Validations when IA posted
   - [x] Documents are provided (exist in Minio)
   - [x] Document IDs are unique *
   - [ ] Document is correct size
        - [x] IS PDF and File Size (10mb). (LETTER)
        - [ ] Port

[2021-07-30 18:21] pwei1018 commented on #8420
@PatrickAHeath I got "{'message': 'Office not found for 0511457'}" error when ran this filing.

[2021-07-30 18:21] pwei1018 commented on #8418
@PatrickAHeath I got "{'message': 'Parties not found for 0937052'}" error when ran this filing.

[2021-07-30 18:35] tlebedovich commented on #8202
To note - Amendment PDF would probably look very similar to how an amendment currently appears within the Search Results Report (except for the first page info/header and tombstone). This is be pretty easy to layout.

To confirm - Are we only showing the sections that are being changed (like alterations) as opposed to listing ALL sections, is that correct @Kaineatthelab @PatrickAHeath @doug-lovett

[2021-07-30 18:36] mstanton1 commented on #7916
Thanks @amit4610  for the review. Yes, I had also added in information about what they were trying to do and where they looked so we could understand the segment of BC Registries users who are incorrectly using OB (e.g. Corporate Online clients) and where clients are looking for information (e.g. within an app or gov 2.0) so we can best determine how to provide information to these clients.

[2021-07-30 18:42] severinbeauvais commented on #8221
### More Test Notes

To verify this feature:
- the namex API code needs to be complete and deployed
- you need an expired NR

[2021-07-30 18:48] chdivyareddy commented on #8349
On hold till UI debtor Birthdate is fixed.

[2021-07-30 18:51] jdyck-fw commented on #8429
Do this in conjunction with #8430

[2021-07-30 18:51] jdyck-fw commented on #8429
0 estimate given it happens with the ticket mentioned above

[2021-07-30 18:51] mstanton1 commented on #7916
Created spreadsheet for tracking client answers here: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-4101

Sent an email to Debbie, Julie and Cameron to confirm if this approach works for their teams and to ask how I can support them in implementing this.

[2021-07-30 18:51] jdyck-fw commented on #8430
Do this in conjunction with #8429

[2021-07-30 18:58] severinbeauvais commented on #8437
I looked at the data coming from the API, and `consentFlag` and `consent_dt` are both null.

[2021-07-30 19:01] pwei1018 commented on #8421
@PatrickAHeath I got failure message. Need further investigation.

![image.png](https://images.zenhubusercontent.com/5bf5f0484b5806bc2bf6f0cb/7fa4eb9a-b10a-4500-a85a-a816e2de064e)

[2021-07-30 19:01] tlebedovich commented on #8423
found a duplicate #7941, closing this one

[2021-07-30 19:02] #8423 closed

[2021-07-30 19:03] jdyck-fw commented on #8435
This is acting as expected.

[2021-07-30 19:04] #8435 closed

[2021-07-30 19:09] jdyck-fw commented on #8388
Check to see if Prod has been configured properly.

[2021-07-30 19:13] andrepestana-aot commented on #8429
@severinbeauvais
![image](https://user-images.githubusercontent.com/78114138/127701006-38094163-444c-4969-b6fb-acdfd11c8b05.png)

EXPIRED is a legacy state. Now we check if it is APPROVED or CONDITIONAL and the date is past. Then we need to support both cases (legacy and current).

[2021-07-30 19:15] jdyck-fw commented on #8431
This needs to be fixed for new, renew, upgrade, resubmit

[2021-07-30 19:18] jdyck-fw commented on #8341
Working as expected.

[2021-07-30 19:19] #8341 closed

[2021-07-30 19:19] #8329 closed

[2021-07-30 19:22] doug-lovett commented on #7885
@yuisotozaki Update attached again.
Here are my comments.
- Header title to 15pt ("PERSONAL PROPERTY REGISTRY SEARCH RESULT"). Verified in css, added !important.
- Header subtitle to 12pt ("BC Registries and Online Services"). Verified in css, added !important.
- Blue header section title (Serial Number - "Ju622994") to 14pt. Verified in css, added !important.
- Blue header section title nudged ri

[2021-07-30 19:23] jdyck-fw commented on #8214
@lmcclung @Sienna-Blumstengel - Lets check with client to see if this is still an issue.

[2021-07-30 19:24] severinbeauvais commented on #8320
https://vitejs.dev/
https://github.com/vitejs/vite

[2021-07-30 19:25] #8260 closed

[2021-07-30 19:25] jdyck-fw commented on #8253
@Sienna-Blumstengel - Could you pls follow up with the customer again on this?

[2021-07-30 19:26] jdyck-fw commented on #8173
@rarmitag - Did you have a discussion with the SRE team on how to resolve this?

[2021-07-30 19:28] #4185 closed

[2021-07-30 19:28] severinbeauvais commented on #8253
The logic in the code is:
[code]

[2021-07-30 19:50] #8308 closed

[2021-07-30 19:51] doug-lovett commented on #7624
@thorwolpert Can you deploy to test? From an email:

Here are the dev env variables for the URL's. BUSINESS_URL changed since the last deployment.
BCROS_BASE_URL="https://bcregistries-daxiom.web.app/"
AUTH_URL="https://dev.bcregistry.ca/business/auth/"
NAME_REQUEST_URL="https://dev.bcregistry.ca/namerequest/"
BUSINESS_URL="https://dev.bcregistry.ca/business/auth/home/maintain-business"
COLIN_URL="

[2021-07-30 19:53] mstanton1 commented on #7971
Reviewed by Jyoti. Only a few questions remain. An email with the analysis above and a meeting request have been sent to Melanie Richardson (cc'ing Karl Bolinder) and the SBC Finance Team.

[2021-07-30 19:54] mstanton1 commented on #8392
I have verified that CP0002297 is now affiliated to the account Peninsula Consumer Services Co-operative.

[2021-07-30 19:54] #8392 closed

[2021-07-30 19:58] yuisotozaki commented on #7885
@doug-lovett It's getting there! I think you're doing all the things correctly in the source but the tool isn't producing the correct font sizes. Do you know if there's any kind of scaling effect being applied anywhere - I'm suspecting scaling because all the fonts are smaller by a similar ratio.

![image](https://user-images.githubusercontent.com/56084999/127705427-54e68875-43f0-4ca9-b25a-deb77a3

[2021-07-30 20:13] severinbeauvais commented on #8430
^^^ The sample NR is not found in Test (using namex), so I cannot look it up.

I need to reproduce this but I don't have enough information:
- Was the user logged in as staff?
- How was the NR paid for?

[2021-07-30 20:16] severinbeauvais commented on #8430
This did not reproduce when I was logged in as staff (IDIR) with "no fee".

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/e2c059cb-9304-4553-85c0-409990b6d6ba)

[2021-07-30 20:18] severinbeauvais commented on #8430
This did not reproduce when I was logged in with a BCSC (BCREG0020):

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/fccba117-0cb3-4e9a-8e9d-d3e046691228)

[2021-07-30 20:26] chdivyareddy commented on #7639
Verified in TEST.

[2021-07-30 20:36] severinbeauvais commented on #8431
Oops, I assumed the UI would have some control over whether to assess the Service Fee, but that actually comes from the Pay (Relationship) side. I have a question in to them about this.

This is still likely a small change, but I'm blocked for the moment.

[2021-07-30 20:46] severinbeauvais commented on #8437
**More info:**

Something similar was recenty seen: the staff updated the Expiry Date, but apparently it was not saved. It worked the second or third time. (Nothing was done about this.) This ticket may have the same root cause. API error maybe?

[2021-07-30 21:00] mstanton1 commented on #6560
@amit4610 noticed this was still open. Might have been missed without the ops label?

From a check BN is still showing active in BNI/CRA site.

Company shows active in BR - but as per Linda's notes there wasn't a way to set status historical yet. In COLIN the company also shows active and had an Annual Report filed June 2nd, 2021. I've sent a note to Cameron to confirm if this company should actua

[2021-07-30 21:00] severinbeauvais commented on #8437
This does not reproduce for me.

I tried 2 NRs where Consent was Required:
- I changed Consent to Received and left the Consent Date auto-populated as today.
- (I had to update the Expiry to a future date.)
- I clicked Save Edits.
- the NR displayed Consent as today's date, as expected

[2021-07-30 21:06] severinbeauvais commented on #8437
I did find that "PUT https://namex-dev.apps.silver.devops.gov.bc.ca/api/v1/word-classification/SFASDFSFSS" returned a 500 (INTERNAL SERVER ERROR) that appears to not be handled correctly, since it is followed by:
`TypeError: Cannot read property 'includes' of undefined` at WordClassificationModal.vue?ad2e:244

... where the PUT request payload was:
[code]

[2021-07-30 21:10] lmcclung commented on #8365
will do this work under current design ticket #7548

[2021-07-30 21:10] #8365 closed

[2021-07-30 21:19] rarya-freshworks commented on #7906
@SateeshFW can we take this ticket in next sprint for investigation. Thanks

[2021-07-30 21:22] rarya-freshworks commented on #7750
@Sienna-Blumstengel I ran into similar issue as well and seen this happen.

[2021-07-30 21:28] rarya-freshworks commented on #8412
@SateeshFW Please add this ticket for next grooming meeting.

[2021-07-30 21:31] #7949 closed

[2021-07-30 21:31] #8112 closed

[2021-07-30 21:32] #8254 closed

[2021-07-30 21:32] #8236 closed

[2021-07-30 21:33] #4362 closed

[2021-07-30 21:33] #4363 closed

[2021-07-30 21:33] #5148 closed

[2021-07-30 21:33] #7286 closed

[2021-07-30 21:33] #6716 closed

[2021-07-30 21:33] #5529 closed

[2021-07-30 21:33] #5820 closed

[2021-07-30 21:33] #7147 closed

[2021-07-30 21:34] #7473 closed

[2021-07-30 21:34] #7759 closed

[2021-07-30 21:37] #7521 closed

[2021-07-30 21:37] #7994 closed

[2021-07-30 21:38] #7998 closed

[2021-07-30 21:39] #7958 closed

[2021-07-30 21:41] #8079 closed

[2021-07-30 21:42] #6801 closed

[2021-07-30 21:43] lmcclung commented on #7475
Closing ticket as unable to reproduce at the moment.  Thor/Kial will investigate this more as part of their NRO decommissioning ticket to strip out stuff.

[2021-07-30 21:43] #7475 closed

[2021-07-30 21:46] #7867 closed

[2021-07-30 21:46] #7610 closed

[2021-07-30 21:51] PatrickAHeath opened #8440 "BC1152806 - CTRS SOLUTIONS LIMITED - Error resulting from wrong A/R Date"
### ServiceNow incident:  INC0100732
### Contact information
Staff Name:  Tanya Newnham
Staff Email:  bcregistries@gov.bc.ca

### Description
The 2021 A/R has a due date in 2019.

[https://app.zenhub.com/files/157936592/48ee58ff-1271-4e04-8f56-be5de5ace05b/download](https://app.zenhub.com/files/157936592/48ee58ff-1271-4e04-8f56-be5de5ace05b/download)

### Ops Process
- [x] Add **entity** or **rela

[2021-07-30 21:54] doug-lovett commented on #7885
@yuisotozaki Yes there is some scaling. I was following the invision css using px. This latest version switches to pt for all font sizes.

[https://app.zenhub.com/files/157936592/44be1217-7adf-4f6e-9208-b3ed78ed3329/download](https://app.zenhub.com/files/157936592/44be1217-7adf-4f6e-9208-b3ed78ed3329/download)

[2021-07-30 22:02] #8281 closed

[2021-07-30 22:03] stevenc987 commented on #8427
@lmcclung

1) Companies incorporated as a Benefit Company since June 30th, 2020:  138

based on query below:

SELECT count(b.identifier)
FROM businesses b, filings f, users u
WHERE b.id = f.business_id
AND b.legal_type='BEN'
AND f.filing_type='incorporationApplication'
AND f.submitter_id=u.id
AND date(f.filing_date at time zone 'utc' at time zone 'pst') <= date(current_date-0)
AND date(f.filing_da

[2021-07-30 22:13] yuisotozaki commented on #7560
Capturing a summary around "Expiry Date" from policy and legislation point of view here.

TL;DR version is that technically, "Expiry Date" value should display 12:00 am of the first day the registration is expired.

**Jul 29, 2021, 5:20 PM Kevin Bauer**
In Tuesday’s bi-weekly demo – e.g. mockup within ticket 7560 – we saw Expiry Date values being displayed with timestamps, e.g.: January 12, 2025 a

[2021-07-30 22:14] yuisotozaki commented on #7561
Policy note around "Expiry Date" https://github.com/bcgov/entity/issues/7560#issuecomment-890207580

[2021-07-30 22:14] yuisotozaki commented on #8202
Policy note around Expiry Date: https://github.com/bcgov/entity/issues/7560#issuecomment-890207580

[2021-07-30 22:18] lmcclung commented on #8430
@severinbeauvais NR 7675057 was actually from Production environment.

It was the NR I used when we were doing some smoke testing yesterday.  I was logged in as staff so that I could do a no-fee NR.

Just trying it again in Prod - NR 6181918 and it worked fine.  Must have been a glitch yesterday - it was the same NR that had an issue with the expiry date.

@riyazuddinsyed are you okay if I close t

[2021-07-30 22:22] chdivyareddy commented on #7852
Verified in DEV DB.

[2021-07-30 22:27] lmcclung commented on #7806
Emailed Josh.

[2021-07-30 22:27] #7806 closed

[2021-07-30 22:28] pwei1018 commented on #8440
@PatrickAHeath The last ar date is incorrect after the Alteration filing.
![image.png](https://images.zenhubusercontent.com/5bf5f0484b5806bc2bf6f0cb/18bf0bba-e232-48d9-9778-198e6f7b6f38)

![image.png](https://images.zenhubusercontent.com/5bf5f0484b5806bc2bf6f0cb/dc68a947-e7d8-41ab-9957-7f003db40161)

I did the data fix for this one. Client can file the annual report now. Also, please create a bug

[2021-07-30 22:31] lmcclung commented on #6386
@thorwolpert
Looks like I can still file a director or address change on these dissolved coops.  Can you update the flag in the database so that they can't file anything?

CP0000088
CP0002347

[2021-07-30 22:32] lmcclung commented on #6386
@thorwolpert or show someone on ops how to do it?

[2021-07-30 22:41] yuisotozaki commented on #7885
@doug-lovett We're so close!
* The "Discharged" badge needs to be vertically balanced in the header (see below)
* Can we have  just a smidge of space between what's in the box? Not sure how they're spec'd on your end, so just adding 1px would help.
![image](https://user-images.githubusercontent.com/56084999/127717958-b4eb325d-ea3d-47e8-beb6-0f26d076811c.png)

[2021-07-30 22:43] tlebedovich commented on #7941
@janisrogers - please see the edited copy and two questions for you in the top description area.

[2021-07-30 22:44] tlebedovich commented on #7622
Closed and move to: https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7941

[2021-07-30 22:44] #7622 closed

[2021-07-30 22:53] tlebedovich commented on #7558
Closing this ticket.

- Will design and build My Registries dashboard later (will need design/dev tickets when ready to groom)

- Will design and build PPR Dashboard later - dev ticket moved here (still need design ticket when ready to groom): https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8425

- Will finish BCROS page later, moved to: https://app.zenhub.com

[2021-07-30 22:53] #7558 closed

[2021-07-30 22:54] tlebedovich commented on #7623
Closing this and we will design and build later. New dev ticket is:https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8425

Need a new design ticket when we are ready to groom.

[2021-07-30 22:54] #7623 closed

[2021-07-30 23:09] lmcclung commented on #7968
closing ticket.  Looks like it was a result of OCP migration issues.

[2021-07-30 23:09] #7968 closed

[2021-07-30 23:22] lmcclung commented on #7368
Test NRs created July 30, 2021
NR to alter from Limited to BEN = NR 8233869
NR to change name of existing BEN = NR 8750705

[2021-07-30 23:37] lmcclung commented on #7089
Tested using NR 8859415 - edited first name to Linda and added second address line "edited address"

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/1ce52f0e-cf3b-4a59-aa00-7f5c10664d77)

Change made and now displays in Names and NameX
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/009fe00c-5bc4-437b-87c6-76f3882b454a)

![image.png](https://im

[2021-07-30 23:38] lmcclung commented on #7089
Closing ticket as issue fixed.

[2021-07-30 23:38] #7089 closed

[2021-07-30 23:50] doug-lovett commented on #7885
@yuisotozaki One more update attached, sorry about all these iterations.

[https://app.zenhub.com/files/157936592/75f74034-352c-4d91-982f-81e6ef0cd51d/download](https://app.zenhub.com/files/157936592/75f74034-352c-4d91-982f-81e6ef0cd51d/download)

[2021-07-30 23:53] yuisotozaki commented on #7885
@doug-lovett I think we got it! 🎉 ✅
Thank you so much for all the redo's!
Hope you have a great long weekend! 🏖️

[2021-07-30 23:56] lmcclung commented on #8437
Testing again with NR 8496263 in names test...

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/7c0b2cf2-66e4-4831-a071-f769c57f7d5c)

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/8f9d4fff-e5f8-4a09-9fcd-db16537c84d3)

After saving edits...
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/8c778719-edb7-44a6-9bc5-eaf

[2021-07-30 23:57] lmcclung commented on #8437
@riyazuddinsyed I didn't test any of the stuff in @severinbeauvais PR so keeping this ticket open for you.

[2021-07-31 00:01] lmcclung commented on #8238
Emailed Kat July 30, 2021

Hi Kat,

Just an FYI for you, in case no one has already reached out… this correction has been filed.  We’re working on getting the Notice of Articles created – have to redo some coding so it is taking some time.

We’ll let you know when it is ready for the customer to download.

[2021-07-31 00:14] thorwolpert commented on #8168
Done. Sorry I missed that.
I've checked via the staff dashboard and it looks good now.

[2021-07-31 00:14] doug-lovett commented on #7885
@yuisotozaki Thanks for your patience. Have a great long weekend too! Starting right now.

[2021-07-31 00:18] thorwolpert commented on #8168
Update the task checklist to show that the filing was completed, and not setup as a _DRAFT_ filing.

[2021-08-01 06:37] vysakh-menon-aot commented on #8081
@severinbeauvais API tries to change the state to INPROGRESS only from checkout API call. At the same time the UI trigger the checkout API call only when the NR in DRAFT or INPROGRESS. Not sure how to reproduce it.

[2021-08-02 03:32] PatrickAHeath opened #8441 "Last A/R Due Date not correct after Alteration filing"
**Describe the bug in current situation**
After the alteration filing, the last A/R Due Date is incorrect, which prevents the client from filing their Annual Report.

**Link bug to the User Story**
Zenhub 8440 (Incident 0100732).

**Impact of this bug**
Client cannot file their Annual Report because of the due date error.

**Chance of Occurring (high/medium/low/very low)**
Medium

**Pre Conditions

[2021-08-02 20:21] tlebedovich commented on #7553
@janisrogers - Misc Act is ready for your final review. Been reviewing with Patrick and Doug.

[2021-08-02 21:43] tlebedovich commented on #7548
@janisrogers @lmcclung - questions:

1. Janis note above says an additional email address should be added for Completing Party (Step 2) - is this confirmed? Because we are collecting an email address already under "Registered Office Contact Information"

2. Do we need the Delivery Address defaulted to be open/expanded (ie check box not checked) for Registered Office Address, or just for the People

[2021-08-03 15:37] #7437 closed

[2021-08-03 15:38] #8037 closed

[2021-08-03 15:38] #8038 closed

[2021-08-03 15:39] #7639 closed

[2021-08-03 15:54] kialj876 commented on #8441
Whoever loaded this filing in did not load in the filing history so it didn't apply the incorporation or their two annual reports. It looks like it was loaded in with the old data loader which would cause all kinds of issues. Closing this bug as there is already a ticket to track the specific business issues

[2021-08-03 15:54] #8441 closed

[2021-08-03 15:55] kialj876 commented on #8440
@pwei1018 did you use the old data loader for this one? It doesn't have the incorporation or the two existing ARs in our system?

[2021-08-03 15:59] severinbeauvais commented on #8429
This is now fixed and deployed to Dev (where I verified it).

[2021-08-03 16:25] severinbeauvais commented on #8437
### Notes

I was not able to reproduce the described bug, but I did find that an API error response was mishandled by the UI (showing nothing instead of indicating there was an error). I fixed that bug.

Please let me know if anything else comes of this (ie, reliable steps to reproduce, or some other effect due to the now-visible API error response).

[2021-08-03 16:30] severinbeauvais commented on #8081
Thanks for the investigation.

According to Sentry, this error was last seen in release Name Reques v2.2.4 on July 8.

Therefore, if there is no additional information on this, I suggest we close this ticket. @lmcclung , do you agree?

[2021-08-03 16:56] severinbeauvais opened #8442 "Sentry is not logging NR UI Prod issues"
### Description
The Entity team has a number of P1 tickets in their current sprint backlog for bugs identified through Sentry errors (see dependencies below).

However, Sentry appears to not be logging issues since about July 5, so it is not possible to see if the errors still occur, or to look for problematic data or code flows... basically it's almost impossible to investigate the bug tickets wi

[2021-08-03 16:57] Sienna-Blumstengel commented on #8081
Blocked by 8442, which will fix sentry. We will keep this open until we can use sentry to investigate further.
FYI @kialj876 @Kaineatthelab

[2021-08-03 16:57] severinbeauvais commented on #8082
Blocked by 8442, which will fix sentry. We will keep this open until we can use sentry to investigate further.
FYI @kialj876 @Kaineatthelab

[2021-08-03 17:00] kialj876 commented on #8418
it just needs to be loaded in first

[2021-08-03 17:01] kialj876 commented on #8420
all alterations to BEN need to be loaded in first with the data loader notebook

[2021-08-03 17:04] saravanpa-aot commented on #8414
afaik , I don't think we have any code changes needed to re-submit the NR.
the current architecture/api should work as is.

I am not sure about the need of new fee code as its more NR logic than pay api requirement.Current fee code will work , but subject to NR business logic.  May be @amit4610 or @mstanton1 can confirm.

I will tag @sumesh-aot here . Once he is back from vacation , he can confirm

[2021-08-03 17:05] Kaineatthelab opened #8443 "PPR Registration Changes PDF - UX Assurance changes"

[2021-08-03 17:21] andrepestana-aot commented on #7979
@riyazuddinsyed not much to test here as it is part of an integration. You may check if all NR state changes are still working though.

[2021-08-03 17:48] Kaineatthelab opened #8444 "UI Design - Search brings back to many results, add msg to tell users its not available in pdf"
**Background**
There is a limit to how many search results can be included in a PDF report (in a reasonable amount of time). We want a modal to tell the user that we can't produce a PDF. The system can have a threshold set to trigger the modal as it can detect if it's going to take too long to produce the PDF.

There are two scenarios:
- Search returned too many exact matches; the user can't unsel

[2021-08-03 18:13] eve-git commented on #8158
I am confusing that if the "Fix Date" in the screenshot means the Due Date of the AR?

In ARDate.vue, the "Fix Date" means "current date" and the word "Today" is fixed in code:

![image.png](https://images.zenhubusercontent.com/5da9d9a151b27c0001f5c9ec/db7fc3e3-8509-4fda-838e-f00775519e23)

[2021-08-03 18:15] severinbeauvais commented on #8437
^^ The bug fix has been merged and deployed to Namex UI in Dev.

[2021-08-03 18:16] eve-git commented on #8158
I tested on Aug 3rd. the screenshot as:
![image.png](https://images.zenhubusercontent.com/5da9d9a151b27c0001f5c9ec/484f2335-dfd3-4661-bac7-374f87f798ab)

[2021-08-03 18:20] SateeshFW commented on #7906
@rarya-freshworks @mengdong19 Did we groom this bug?

[2021-08-03 18:26] #3856 closed

[2021-08-03 18:26] #7498 closed

[2021-08-03 18:28] #7078 closed

[2021-08-03 18:28] #7430 closed

[2021-08-03 18:28] #7511 closed

[2021-08-03 18:28] #7512 closed

[2021-08-03 18:28] #7621 closed

[2021-08-03 18:28] #7642 closed

[2021-08-03 18:28] #7687 closed

[2021-08-03 18:28] #7689 closed

[2021-08-03 18:28] #8065 closed

[2021-08-03 18:28] #6745 closed

[2021-08-03 18:28] #6981 closed

[2021-08-03 18:28] #7140 closed

[2021-08-03 18:28] #7429 closed

[2021-08-03 18:28] #7602 closed

[2021-08-03 18:28] #7640 closed

[2021-08-03 18:30] #7772 closed

[2021-08-03 18:38] yuisotozaki commented on #8444
- There is a limit to how many search results can be included in a PDF report; we want a modal to tell the user that we can't produce a PDF for these cases.
- The system system can have a threshold set to trigger the modal.

There are two scenarios:
- Search returned too many exact matches; the user can't unselect these so they're stuck; Ask user to call or email if they really need this search re

[2021-08-03 18:50] #7344 closed

[2021-08-03 18:50] #7688 closed

[2021-08-03 18:51] #7494 closed

[2021-08-03 18:53] janisrogers commented on #8444
@yuisotozaki For the first scenario, we need to check with Bob if this is a realistic scenario before we spend time designing the interaction. For now, just design for the second scenario.

User is paying for the search results.

[2021-08-03 18:58] tlebedovich commented on #8444
@yuisotozaki - here were my notes from the call -

Need modal with wording for two scenarios -

a) Search debtor name "Michael Smith" - users does a search and gets a result with 95 exact matches. User is taken back to dashboard to download the PDF, but user receives time out error asking them to contact us or retry because there are too many results in the PDF . User shouldn't have to pay for thi

[2021-08-03 19:16] severinbeauvais commented on #8431
**Update:**
The UI makes a call to the Namex API, which makes a call to the Pay API, to fetch the fees. This call's payload includes a filing type code, but does not include whether or not the user is staff (IDIR). The Namex API uses a service account to call the Pay API, so the Pay API cannot look at the auth token to determine if this is staff (and thus void the service fee).

There are a couple

[2021-08-03 19:26] severinbeauvais commented on #8431
@sumesh-aot @thorwolpert Thoughts on the above?

[2021-08-03 19:47] janisrogers commented on #8444
@yuisotozaki @tlebedovich In the first case, we can't refund the money if we have given them the search results (note that even a nil search is a result). We would need to intercept it when they select the search button, and if the exact results would be greater than 95, not allow them to proceed. The decision was to check with Bob to see if this is a valid scenario.

[2021-08-03 19:51] mengdong19 commented on #7906
I don't think we groomed. This ticket is for testing staff sending out bceid membership invitation scenario, to make sure it work as expected. It had issue.

[2021-08-03 19:59] #8416 closed

[2021-08-03 20:39] janisrogers commented on #7941
@tlebedovich See my answers inline.

[2021-08-03 20:40] Sienna-Blumstengel opened #8445 "NEW PREMIUM ACCOUNT - WANTS TO NOW SWITCH TO BC ONLINE ACCOUNT FROM PAD"
### ServiceNow incident: INC0101307
### Contact information
Staff Name: Dierdre Clancey

### Description

User wants to switch payment methods from PAD to BCOL.

Amit says:

So I think theclient didn't set up their BCOL account, and we need to manually switch it for them.\

BCOL account details are in the email thread

EMAIL THREAD:
[https://app.zenhub.com/files/157936592/3636e6c0-a7c7-47ed-b416-e

[2021-08-03 20:47] Sienna-Blumstengel opened #8446 "INC0099860 - Authentication Reset - HOLLAND AND COMPANY"
### ServiceNow incident:
INC0099860
### Contact information
Staff Name: Lance Hall
Staff Email:

### Description
Relates to 8174 - *8174 doesn't exist?* 🤔 *it was mentioned by IT Ops, not sure where they got that from*

Client can't reset their authy authenticator to log in.

[INCIDENT EMAIL THREAD](https://app.zenhub.com/files/157936592/ca7b9b18-99a4-48b3-b715-9b27ed9b82db/download)

### Ops Proc

[2021-08-03 20:48] doug-lovett commented on #8443
Financing Statement and registration statement PDF changes from search results UX assurance.

[2021-08-03 21:07] kialj876 commented on #8446
@Sienna-Blumstengel I talked to saravan and meng. We did this for https://github.com/bcgov/entity/issues/7509 as well. We need them to give us their account number, userid, name on account, and postal code to verify they have the authority to change the account and so we can change it like last time

[2021-08-03 21:10] kialj876 commented on #8445
@Sienna-Blumstengel I talked to saravan and meng. We did this for https://github.com/bcgov/entity/issues/7509 as well. We need them to give us their account number, userid, name on account, and postal code to verify they have the authority to change the account and so we can change it like last time

[2021-08-03 21:22] rarya-freshworks commented on #8219
Had couple of sessions with Riyaz and Divya for walkthrough on Cypress.

Currently trying out play and record cypress tool and seeing how scripts are generated.

[2021-08-03 21:22] Sienna-Blumstengel commented on #8445
Ah ok I will let staff know to ask for the info

[2021-08-03 21:27] Sienna-Blumstengel commented on #8445
Oh sorry Kial the info you need is in the linked email thread above!

User ID: PF59911 (this is my specific login ID)
Account #811508
Benson Law LLP
270 Highway 33 West
Kelowna, BC V1X 1X7

[2021-08-03 21:33] kialj876 commented on #8418
@thorwolpert I believe this is the completing party issue. It is failing on the incorp application and the parties in COLIN for that filing are below<img width="940" alt="Screen Shot 2021-08-03 at 2 32 38 PM" src="https://user-images.githubusercontent.com/16654897/128089327-ba4b59f7-1197-4e4f-b860-de150abbca61.png">

[2021-08-03 22:29] yuisotozaki commented on #7885
@doug-lovett
The last bit for this PDF is the inclusion of Agreement Type and Act in the section headers of the registrations.
Simply include these two fields with the other registration details in the grey area. For very long Agreement Type values, we want to wrap just in the right hand side.
![image](https://user-images.githubusercontent.com/56084999/128094270-572bd0d6-e13c-4fce-af02-fd80dfcc3e9

[2021-08-03 22:37] tlebedovich commented on #7885
hi @yuisotozaki - Before Doug builds this;

Let's not make these all caps - it can get hard to read. And I think we should confirm the titles with @PatrickAHeath or @janisrogers. It maybe should be "Financing Agreement Type"? And I'm not sure what "Act" should be, but if it was a longer title it would look better :)

[2021-08-03 22:41] kialj876 commented on #8421
This one has been loaded and affiliated, but I can't read the 'certified by' name on the form. @Sienna-Blumstengel can you ask staff what the name of the person who certified this is?

[2021-08-03 22:53] mengdong19 commented on #8446
For BCeID hollandstafflogin, it's in our system but doesn't have access to any accounts.
![image.png](https://images.zenhubusercontent.com/5c747659d74bd07972c36d5e/755ef7c3-87a2-4002-a43e-a8748185e9d3)
There are two ways to resolve her login issue:
1. Reset Authenticator for sandcover11@bceid which is the admin account for 'HOLLAND AND COMPANY', so she can re-scan QR code in her new device and get

[2021-08-03 22:53] kialj876 commented on #8421
@Sienna-Blumstengel okay I found their name in the director list. This has been filed and completed. It will be updated in colin after 4pm and ready to be confirmed

[2021-08-03 22:59] janisrogers commented on #7885
@tlebedovich @yuisotozaki In the current system the Agreement type is called the 'Base Reg. Type', So I think '**Registration Type**' would be a good name. The current system doesn't include the act as far as I can see. Do you know if this is a requirement?

[2021-08-03 23:01] tlebedovich commented on #7548
@Sienna-Blumstengel @lmcclung - I wasn't able to find answers to these questions, could you help?

1) Are there address restrictions for a completing party (coop) - ie do they need to be in anywhere Canada, or BC or no location restrictions?

2) Janis had a note about email wanted for Completing party. We don't currently have an enter/edit email field within the "Add a Completing Party" step 2, bu

[2021-08-03 23:10] kialj876 commented on #8440
this business was loaded incorrectly. We will need to delete all the data for this business and bring across all the filings via the ops notebook (this will include the alteration that originated from LEAR -- not sure if that will cause issues)

[2021-08-03 23:25] kialj876 commented on #8440
Okay looks like this can be closed. This was just an error from when it was first loaded in the old way. I don't think this would've happened anywhere else

[2021-08-03 23:25] #8440 closed

[2021-08-03 23:32] Sienna-Blumstengel commented on #7548
@tlebedovich A lot of your questions are for the PO, and I guess today I am technically acting PO, but I think Linda is back on Thursday so maybe we can wait for her? If it's urgent, take my reccomendations!

1) Do we need the Delivery Address defaulted to be open/expanded (ie check box not checked) for Registered Office Address, or just for the People and Roles addresses.
**Staff generally feel t

[2021-08-03 23:34] kialj876 opened #8447 "CP0002255 - restoration"
### Description
CP0002255 needs to be loaded in with filing history
- incorporation + coa are from 2016 so they won't have proper data in colin
- all other filings are auto generated ARs to fill in the missing years and the resolution

### Questions
- do we load this in with the old data loader since it's a coop?

[2021-08-03 23:35] Sienna-Blumstengel commented on #8445
My bad!!!

@kialj876 no need to worry about this!

[2021-08-03 23:35] #8445 closed

[2021-08-03 23:37] kialj876 commented on #8446
@Sienna-Blumstengel is it okay to ask staff to use solution 1 that Meng provided and close this ticket?

[2021-08-03 23:45] kialj876 commented on #7091
Well those values both come from the certified by field so it can only be one or the other I think?

[2021-08-03 23:48] kialj876 commented on #7736
yes!

[2021-08-03 23:48] #7736 closed

[2021-08-03 23:50] Sienna-Blumstengel commented on #8446
Yep, we can close it for now and see if they have any issues with the solution!

[2021-08-03 23:50] #8446 closed

[2021-08-04 00:08] rarya-freshworks commented on #8161
The BCOL Account Number is not Bold. @saravanpa-aot please fix it. Thanks

Screen shot attached:
![Clipboard - August 3, 2021 5_01 PM.png](https://images.zenhubusercontent.com/60c91f395edfa51356f1accc/798271f0-bc5f-408b-a9e3-31f383f150c9)

[2021-08-04 00:15] tlebedovich commented on #7548
I updated all "Directors" to "First Director" except for within the table itself

[2021-08-04 00:34] yuisotozaki commented on #8390
@lmcclung
For scenario 8, can we block users from asking for refund in the first place? If this was a conversation between a customer and a shop owner, the shop owner would simply say, "I see that there was no charge, so there is no refund."

[2021-08-04 01:25] andrepestana-aot commented on #8413
Should we allow all entity types to be resubmitted?

[2021-08-04 15:06] sumesh-aot commented on #8431
@severinbeauvais Can you please confirm if the application is sending the staff user's jwt and not service account jwt for get fees call ?

[2021-08-04 15:24] Sienna-Blumstengel commented on #8250
@mstanton1 just to clarify, this ticket is for assets to define where the user should be directed after:
1. they abandon the account creation flow. Correct?
Or is it:
2. they cancel or close their existing account, and therefore lose access to the PPR service, and have to be redirected somewhere out of the PPR app?
FYI @PatrickAHeath @janisrogers

[2021-08-04 15:38] severinbeauvais commented on #8431
Sumesh looked at the namex API code I linked him and said,

[2021-08-04 15:57] Kaineatthelab commented on #7548
I added 2 comments above, can the one wait for Linda back tomorrow? But in general as you know all designs should use the common component and no changes to designs unless absolutely necessary:) We are losing all the efficiencies of having already built something and our common components. Changes will/can be made once we complete all the filings:)

[2021-08-04 16:04] Sienna-Blumstengel commented on #8447
Waiting on input from @thorwolpert and @lmcclung

[2021-08-04 16:10] #8408 closed

[2021-08-04 16:12] tlebedovich commented on #7548
@Kaineatthelab - can't see to see your comments above?

[2021-08-04 16:39] yuisotozaki commented on #8240
Verification should work the same way as when discharging and renewing.
User needs base registration number + debtor name (currently full name) to add to their dashboard.

[2021-08-04 16:43] severinbeauvais commented on #8431
It looks like the UI needs to add some headers that the Namex API can use to call the Pay API (at least for some users).

Ref:
https://github.com/bcgov/namerequest/blob/6b5b3546c57d2d44ef8b8be80c97f81ecde2763f/src/mixins/payment-mixin.ts#L206
https://github.com/bcgov/namerequest/blob/6b5b3546c57d2d44ef8b8be80c97f81ecde2763f/src/mixins/payment-mixin.ts#L211
https://github.com/bcgov/namex/blob/480cc

[2021-08-04 17:01] sumesh-aot commented on #8431
@severinbeauvais send user's token always if present (for authenticated users) and the API will create a service account token for unauthenticated users. This is really needed as the fee calculation relies on the token and Account-Id.
I believe when payment-requests is called, name request already does this.

[2021-08-04 17:04] Kaineatthelab opened #8448 "Update a registration from the dashboard"
- [ ]  Drop Down Renewal, Discharge, Amend
- [ ] Registration Check Modal

Linked design ticket includes comps and spreadsheet with table actions

[2021-08-04 17:04] andrepestana-aot commented on #7018
@lmcclung @Sienna-Blumstengel According to @sumesh-aot when the refund is not possible, the invoice doesn't change its status. In this case we'll have a cancelled NR and a paid invoice for that NR. Then we'll check if payment is COMPLETED and NR is REFUND_REQUESTED and conclude that refund was not possible for that NR.

Sumesh asked me if we should cancel the NR in the case it's not possible to re

[2021-08-04 17:05] Kaineatthelab opened #8449 "Discharge: View my registration"
- show current information like step 4 but only current
- same as first page as search results in data only

See Discharge Visual Design ticket -- > https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7561

[2021-08-04 17:08] tlebedovich commented on #7561
notes: dashboard modal updates -
- edit modal title and copy
- if the user enters the wrong information, display the correct base debtor information (as per current app)

[2021-08-04 17:12] Kaineatthelab opened #8450 "Confirm Discharge Page"
Given I am on the discharge my registration page
When I click confirm
Then I see a confirmation page that shows what I am discharging and the folio

*kials notes*
We never created tickets for the following:
- [x] ~registering party tooltip info header~ *will include this in page setup ticket*
- [x] fee summary button actions (cancel with modal, validation msg / prevention for submit discharge, bac

[2021-08-04 17:22] Kaineatthelab opened #8451 "Drop Down Renewal, Discharge, Amend"
Given a user wants to update a registration on their dashboard
When they click on any of the actions
Then it opens the summary page

-[ ]  include logic to allow for suitable actions

Renewal not allowed if Registration is Discharged, Expired or has infinite registration length.
Discharge not allowed if Registration is Discharged or Expired.
Amendment not allowed if Registration is Discharged or E

[2021-08-04 17:22] Kaineatthelab opened #8452 "UI Registration Check Modal"
- API call to get financing statement (call exists)
- base debtor check will be a new API call will be completed in a API ticket

[2021-08-04 17:31] Kaineatthelab opened #8453 "API Call for base debtor"
- [x] Update registry-schemas to replace "baseDebtor" with "debtorName".
- [x] Add new API endpoint GET /ppr/api/v1/financing-statements/{registration_num}/debtorNames to get a list of all debtor names in chronological order.
- [x] Add unit tests for the new path and model update.
- [x] Update the api spec to add the new endpoint with an example. Replace baseDebtor and baseDebtorName with debtorNa

[2021-08-04 17:35] Kaineatthelab opened #8454 "Discharge: UI Header"
### Description
Given I have clicked on discharge on my registration dashboard
When view the registration
Then I see the base registration number and dates ~and the breadcrumb~ *separate ticket for breadcrumb*

### Details
- [x] normalize layout across views with header/breadcrumb and page content
- [x] add header component
  - [x] display number / dates from props
  - [x] alter current header or

[2021-08-04 17:35] Kaineatthelab opened #8455 "Discharge: UI Court Order + verification input"
Given I am on the view registration page
When I look at the top
Then I see "some wording that their may be a court order or amendment" + secured party verification input on all discharges

[2021-08-04 17:36] Kaineatthelab opened #8456 "UI Amendment Description"

[2021-08-04 17:36] Kaineatthelab opened #8457 "Discharge: UI Discharge View only step 4 stuff"
### Description
- set up page
- different ticket for header
- different ticket for fee summary #8621

### Details
- [x] restructure views folder for new registration vs discharge
- [x] discharge view for view current details step
  - [x] setup router
  - [x] add view
  - [x] get registration details for below content
    - [x] setup api call
    - [x] add error handling
    - [x] ~resolve general

[2021-08-04 17:45] Sienna-Blumstengel commented on #8421
In the screenshot below, you can see the incorp filing says it was incorporated as a BEN. THat is wrong, it incorporated as an LTD and the ledger item and outputs should reflect that.
![Screen Shot 2021-08-04 at 10.41.40 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/08bb1057-296b-44bd-af78-055e0a261e2e)

COLIN looks good, though!

@kialj876
or you can pass this on to today'

[2021-08-04 17:53] amit4610 opened #8458 "NR refunds aug 4-11"
1.- [ ] NR5185685, INC0103011 - Please refund the priority portion $100.00, Partial refund provided on July 27th for $31.50 but not the priority portion.

2. - [ ]

3. - [ ]

4. - [ ]

[2021-08-04 17:56] severinbeauvais commented on #8431
@vysakh-menon-aot Can you please list out what API changes need to be made for this? (In a new ticket unless someone is already working in that area.) Thanks.

[2021-08-04 18:00] Sienna-Blumstengel commented on #8242
Hi Kat!

I think this alteration from BEN to LTD is done!
Please review the entity and COLIN and let me know if you see anything weird.

Reminders:
- The outputs for the incorporation application will not be available in COLIN and are available at the client's request.
- You can file the maintenance filing that will trigger the new NOA for them.
- Then you can now send the email macro to the clien

[2021-08-04 18:02] amit4610 opened #8459 "Advise client for exporting charges"
Good Morning,

I will be setting up a new BC Online account shortly under the name of Clyde & Co. Canada LLP as SHK Law Corporation recently merged with them.  I am wondering what options are available as far as exporting of the daily charges into our accounting system.  We use 3E, which is a Carswell product.  Thank you.

[2021-08-04 18:08] #8459 closed

[2021-08-04 18:11] Sienna-Blumstengel commented on #8178
Something I had not considered: if we give them until the END of the day on the expiry date, that essentially gives them 57 days with an NR, not 56.

Maybe instead, we can say the expiry date is one day sooner, which will behave as clients expect.
Eg. Expiry date is June 21 at 00:01. Instead in the UI, we display that it expires June 20th at the end of the day, so they have all day 20th to the the

[2021-08-04 18:18] doug-lovett commented on #7858
Working from:
https://projects.invisionapp.com/share/EC11BECYTPMW#/screens?browse

[2021-08-04 18:30] amit4610 commented on #7889
Nixon Wenger is still having this issue. @mengdong19

[2021-08-04 18:42] mengdong19 commented on #7892
There's more users that has membership with an account missing first name and last name, this need to be addressed ASAP.

[2021-08-04 18:48] yuisotozaki commented on #7561
UXPin updated
* Modal title now reads "Base Debtor or Business Name"
* The modal now shows the correct base debtor last name if the user gets it wrong

[2021-08-04 18:58] mengdong19 commented on #7889
First name and last name added to the two users that missing names (shelly.law@nixonwenger.com andtracy.wilton@nixonwenger.com). @amit4610 Could you please check with the two users see if they input blank as names or they didn't see input name and contact info page at all. We need to rule out redirection issue, these information helps. Thanks.

[2021-08-04 19:24] severinbeauvais commented on #8221
Andre and I need to make some updates to the UI.

[2021-08-04 19:42] yuisotozaki commented on #8398
@tlebedovich Ready for review.

[2021-08-04 20:11] amit4610 commented on #7889
Thanks Meng. I have raised the question to the business.

[2021-08-04 20:12] yuisotozaki commented on #7885
@janisrogers I'm looking at these screenshots and SA doesn't have the Act but Repairers Lien is both a type and an act?
ref [8087](https://github.com/bcgov/entity/issues/8087): https://docs.google.com/spreadsheets/d/1C3KYYmxj-22759YVu4o4DXNTsNYNapW1vvFgYZkzwjY/edit#gid=0

[2021-08-04 20:17] amit4610 opened #8460 "Certification area to show the actual client name that signed the form?"
Email from the business:

[2021-08-04 20:38] tlebedovich opened #8461 "UI - Add debtor birthdate to API and verify it for UI/outputs"
The birthdate for individual debtor search results is not appearing in the table when a user searches for an Individual Debtor, but it needs to in order for users to be able to tell the difference between debtors that have the same name. Current PPR shows both the name and birthdate.

- [x] Update API to pull in debtor's birthdate into search results table in "June 19, 2001" format
- [x] Verify th

[2021-08-04 20:40] SateeshFW commented on #6206
@rarya-freshworks Please retest the scenario in the Test env.

[2021-08-04 20:42] Kaineatthelab opened #8462 "Create RFC for escaped defect process"

[2021-08-04 20:43] Kaineatthelab opened #8463 "Collect information on defects"

[2021-08-04 20:43] KevinB-gbc commented on #8452
Here are some alternatives to the modal name “Security Verification” for your consideration.

Alternative titles:
- Registration Check (like the ticket name!)
- Registration Number Check
- Additional Registration Identification
- Debtor Name
- Debtor Name Check
- Base Debtor Name
- Base Debtor Name Check

Indicative text (to be simplified / plain language):
- Verify the registration of interest. E

[2021-08-04 20:44] Kaineatthelab opened #8464 "Minimize hand off time between active status"

[2021-08-04 20:45] tlebedovich commented on #8461
@PatrickAHeath @Kaineatthelab @janisrogers - This was something that was missed, can you add this bug ticket to grooming and/or an Epic?

[2021-08-04 20:45] Kaineatthelab opened #8465 "Brainstorm Meeting"
- [x] Thor
- [x] Scrum Masters
- [x] Severin
- [x] Riyaz

[2021-08-04 20:45] Kaineatthelab opened #8466 "Action items from meeting"

[2021-08-04 20:49] tlebedovich commented on #8461
Related question for @janisrogers @PatrickAHeath - if a user searched for Debtor Business Name, currently the search results only pull in the Business Name. Was there a second column of information that should be pulled into the results for business’s with the same name (ie different branches) so users can tell them apart? Are you able to check to see what is currently being pulled in for this on

[2021-08-04 20:49] SateeshFW commented on #8364
@rkim13103 Please check this story.

[2021-08-04 20:50] Kaineatthelab opened #8467 "Costs per sprint per team"

[2021-08-04 20:51] Kaineatthelab opened #8468 "Create view cost breakdown per team"

[2021-08-04 20:52] Kaineatthelab opened #8469 "Team Level Planning"

[2021-08-04 20:53] Kaineatthelab opened #8470 "Create Guiding Principles"

[2021-08-04 20:53] Kaineatthelab opened #8471 "Maturity Assessment"

[2021-08-04 20:55] SateeshFW commented on #8055
The postman collection need to be updated for Regression

[2021-08-04 20:57] Kaineatthelab opened #8472 "Cost per Theme and Epic"

[2021-08-04 22:01] eve-git commented on #8214
The Last Name is an empty space instead of missing or blank. UI can pass when entering an empty space in Last Name.

I checked DB again, there are 10 records with Last Name = ' ' and except NR3334261, all the party first names are like 'INVICTALAW CORPORATION'. I wonder if the client tried to avoid Last Name and input incorrect information?

[2021-08-04 22:03] janisrogers commented on #7885
@yuisotozaki,  @PatrickAHeath is going to send out an email to check what we should be using. It seems very inconsistent in the old system, but they may want us to stick with that. Stay tuned.

[2021-08-04 22:05] eve-git commented on #8214
-- Oracle SQL to check for the "empty" Last Name records:
`select to_char(e.event_timestamp, 'yyyy-mm-dd HH24:mi:ss'), e.event_type_cd, r.nr_num, rp.* from request_party rp, request r, event e
where rp.request_id = r.request_id
and e.event_id = rp.start_event_id
--and r.nr_num in ('NR 8344704', 'NR 2365219')
and rp.last_name = ' '
;`

[2021-08-04 22:24] severinbeauvais opened #8473 "Filings UI shows incorrect phone number formatting"
**Describe the bug in current situation**
The Filings UI incorrectly formats the phone number when displaying the NR for an IA:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/93c14d8c-9a9b-4edb-95b9-13909439db0c)

**Link bug to the User Story**
N/A

**Impact of this bug**
Minor, visual only.

**Chance of Occurring (high/medium/low/very low)**
Occurs always, but results

[2021-08-04 22:26] severinbeauvais commented on #8473
Perhaps at the same time as this ticket, we could also implement the ticket to suggest to users that they enter an unformatted phone number in Name Request UI (ie, if the format doesn't match when they search then they won't find their NR; suggesting "no format" should increase the changes of users entering the same phone number initially and during search).

There is a ticket for the above but I

[2021-08-04 22:33] janisrogers commented on #7113
@Kaineatthelab This came up in user sessions again. Are you okay with us removing the search box from the results screen?

[2021-08-04 22:44] doug-lovett commented on #8402
Fix verified in dev with reg number search on 632380B.

[2021-08-04 23:41] yuisotozaki commented on #8398
@janisrogers Interesting "many scenario" interaction design. We're basically interpreting the error messages from payment in the context of what the user is trying to do so that they understand what happened, why that happened, and has a next step to follow-up if they wish.

[2021-08-05 00:17] chdivyareddy opened #8474 "Address & Email Address placement Issue for Debtors in Step2"
**Impact of this bug**: Minor
**Steps to Reproduce**
1. Click on 'Add a New Security Agreement'
2. Navigate to step2 'Add Secured Parties & Debtors'  and add an 'Individual and Business' debtor.
3. Enter all the text fields and click on save.
4. Address and Email Address fields got switched and displayed as below screenshot.

**Current behavior**
Address and Email Address fields got switched.

**E

[2021-08-05 09:32] vysakh-menon-aot commented on #8431
@severinbeauvais
Refer how the header has been passed here https://github.com/bcgov/namex/blob/main/api/namex/resources/payment/payment.py#L342

Do the same here https://github.com/bcgov/namex/blob/main/api/namex/resources/payment/payment_fees.py#L75
Introduce new argument header in below lines:
https://github.com/bcgov/namex/blob/7805102d34d9e1367f45b88cb4f77a4a88b66c63/api/namex/services/payment

[2021-08-05 12:52] argush3 commented on #8318
closing this ticket.  @riyazuddinsyed we just need to remember to run the post deployment steps once the emailer queue has been drained.

[2021-08-05 12:52] #8318 closed

[2021-08-05 13:18] argush3 commented on #8353
Verified things are working in DEV.  @riyazuddinsyed I've attached a HAR file with the api calls I used to trigger the validation errors(invalid incorporator role, min 3 directors, min 1 in BC and majority in canada) for a company with legal type of coop.

[rest calls HAR file](https://app.zenhub.com/files/157936592/bfbf2764-b72c-4f5d-95ae-3af61efefc94/download)

[2021-08-05 15:18] janisrogers opened #8475 "Premium Account Setup Error INC0103167"
Title of ticket: Premium Account Setup Error
### ServiceNow incident:
INC0103167
### Contact information
Staff Name: Kellie Horler
Staff Email: Kellie.Horler@gov.bc.ca>

### Description
Good afternoon team – please can you provide some assistance with the premium account setup error – details listed below:

Thank you
Kellie
___________________________________

I was told to send this error message

[2021-08-05 15:18] janisrogers opened #8476 "Premium Account Setup Error INC0103167"
Title of ticket: Premium Account Setup Error
### ServiceNow incident:
INC0103167
### Contact information
Staff Name: Kellie Horler
Staff Email: Kellie.Horler@gov.bc.ca>

### Description
Good afternoon team – please can you provide some assistance with the premium account setup error – details listed below:

Thank you
Kellie
___________________________________

I was told to send this error message

[2021-08-05 15:19] Sienna-Blumstengel commented on #8460
@amit4610 is there a service now incident for this?

[2021-08-05 15:25] Sienna-Blumstengel commented on #8460
TO DO:
- [ ] Change the FILED BY name for the Director Change that was filed on Apr 12, 2021. Change name from Registry Staff to **Matthew Jablonski**.
  - Make sure the ledger is updated ![Screen Shot 2021-08-05 at 8.23.00 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/3c12d937-5a48-4dee-bd94-ad6021c75272)
  - Make sure the director change output is updated ![Screen Shot 20

[2021-08-05 15:45] lmcclung commented on #7748
@pwei1018 Thor said he uploaded three of the above companies, but I can't access them in bcreg00003, account 'getters'.  Can you help and let Louise know when they are affiliated?

[2021-08-05 15:46] Kaineatthelab commented on #7113
yes for sure, maybe in the next couple sprints or after we finish registrations

[2021-08-05 16:06] lbergero819 commented on #7748
@pwei1018 Patrick please let me know when you think you can check on this thanks

[2021-08-05 16:17] gh20s commented on #8476
There is a user with the username "derpakwhitespencer@bceid" created "2021-07-16 18:57:13.209418" and modified "2021-07-26 18:40:47.532135" with email address -tw@dwslaw.ca. There are no orgs that have been creasted or modified by this user. I am not super familiar with the account registration workflow, is the user is the user attempting to create a new account with those creds that already exist

[2021-08-05 16:18] severinbeauvais commented on #8352
^^^ PR 217 is merged and deployed to Dev (app version 2.0.5).

PR 218 is to fix some TODOs and is still WIP. It does not block further work in this project.

[2021-08-05 16:21] amit4610 commented on #8307
@stevenc987 all yours

[2021-08-05 16:22] amit4610 commented on #8393
@stevenc987 all yours

[2021-08-05 16:28] jinghualicgi opened #8477 "Add unique IDs to web elements so that it will be easy to write automation scripts"
To add unique IDs to web elements so that it will be easy to write automation scripts, which will help QA to create automation tests stable and faster.

[2021-08-05 16:29] janisrogers commented on #8476
@amit4610 Are you able to help with this?

[2021-08-05 16:41] chdivyareddy commented on #8477
Details are mentioned in the attached document.

[https://app.zenhub.com/files/157936592/0ee465dd-273b-4aa4-877f-320f0e1bf850/download](https://app.zenhub.com/files/157936592/0ee465dd-273b-4aa4-877f-320f0e1bf850/download)

[2021-08-05 16:44] amit4610 commented on #8476
Hi @janisrogers This is happening because the user did not fill out all the account creation steps. Please ask the user to use chrome and start from the beginning. They might have to use a different account name.

[2021-08-05 16:55] janisrogers opened #8478 "Alteration filing for a Benefit Company to add share classes D through H for BC1152806 (INC0103230)"
Title of ticket: ALTERATION FILING FOR A BENEFIT COMPANY- BC BENEFIT COMPANY FORM 11-CTRS SOLUTIONS LIMITED (BC1152806)

#### ServiceNow incident:
INC0103230

#### Contact information
This was raised by Kat, but she is on holidays starting Aug 6 so has asked "Please e-mail bcregistries@gov.bc.ca for any responses to this request after today."

#### Description
Alteration filing for a Benefit Compa

[2021-08-05 17:06] janisrogers commented on #8476
@amit4610 I just want to make sure I understand. He states "After I completed all 6 steps, I clicked “Create Account” and was met with this error message – “Account Creation Failure – an error occurred while attempting to create your account.” So he did fill out all the account creation steps. Are you saying that this is occurring because he didn't use a different account name from the last time h

[2021-08-05 17:06] Kaineatthelab opened #8479 "Alignments and efficiencies across scrum teams"
**Objectives:**
• All three team are aligned with Team Guiding Principles
• Consistency created in practices across the three teams while also providing room for each team’s own specialized way of working
• Risks reduced and a stable and predictable velocity / output created across all teams

**Current status:**
•	Non-active tickets are existing for long period of time within pipelines
•	Three tea

[2021-08-05 17:09] Sienna-Blumstengel commented on #8214
Update UI validation:
- [ ] Prevent user from entering a single space in a field
- [ ] Make Last Name field mandatory
- [ ] Make First Name field optional

Severin said:

[2021-08-05 17:16] amit4610 commented on #8476
Hi @janisrogers The client mentions "I believe I started the process at one point but didn’t get to the final couple of pages." So, my analysis was based on this.

[2021-08-05 17:30] stevenc987 commented on #8307
@amit4610
1. NR 9968892. Refund $31.50. NR Duplicate Report July 20 and July 21 - Refund Requested $31.50
2. NR 8674286. Refund $100.00 (priority portion) (INC0101394) - Only one transaction for 131.50. I can't refund part of transaction. Please contact PayBC for this
![image](https://user-images.githubusercontent.com/25512847/128394219-15a19401-29dd-445a-b160-046bbeb2ed6c.png)

3. NR 5068393. Ref

[2021-08-05 17:45] Sienna-Blumstengel opened #8480 "API work to resolve bug 8431, Service fee is added for the staff"
See original but ticket #8431 for description and history.

Vysakh outlined the backend work required to fix this:

[2021-08-05 17:46] Sienna-Blumstengel commented on #8431
Created 8480 for the backend portion of this fix

[2021-08-05 17:48] severinbeauvais commented on #8480
@lmcclung FYI - I'm bringing this ticket into this sprint: Vysakh said it's not much work, and it is required for 8431 (which is P1).

[2021-08-05 17:50] stevenc987 commented on #8393
@amit4610
1. NR 2429891. Please refund. Client accidentally submitted twice. (INC0102065) - Refund Requested
2. NR 8580484. Please refund. Client has emailed saying NR was cancelled but a refund was not provided. (INC0102363) - Refund Requested
3. NR 7735340 (INC0102943) - No payment for this NR in Postgres Database.

[2021-08-05 18:00] lmcclung commented on #7548
@tlebedovich I added my comments above too.

[2021-08-05 18:15] yuisotozaki commented on #7214
@cameron-freshworks
Here's my review. Would you be able to help me review a few of these things I couldn't get to?
-  buttons formatting changes across all incorps. ✅  Verified in dev.
-  Update Summary invalid messages styling. ✅ Verified in dev.
-  red borders for validations on review / summary. ✅ Verified in dev.
-  red X's on Stepper. ✅ Verified in dev.
-  Stepper design updates. ✅ Verified i

[2021-08-05 18:43] sienna-blumstengel opened #8481 "FORM - Create new form for co-op incorporation + remove reference of old working forms"
Use societies incorporation application form
Also base off benefit company file to reuse nice formatting

[2021-08-05 19:00] Sienna-Blumstengel opened #8482 "Staff training"

[2021-08-05 19:01] yuisotozaki commented on #7885
Based on the spreadsheet @PatrickAHeath provided from the existing system, there appears to be an if-statement that decides whether to show REGISTRATION_DESC or REGISTRATION_ACT value.

Patrick's recommendation:

This means:
a) The values are stored in all-caps so design can't impact that. We don't want to change any database values to title caps as that will impact current system output.
b) Clean

[2021-08-05 19:14] lmcclung commented on #8447
@thorwolpert can you advise @kialj876 ?

[2021-08-05 19:19] janisrogers commented on #7885
The existing system (the mainframe system) uses a different database, so changes would not affect the existing system. I don't know if they would impact the API. It might be worth getting input from Doug.

[2021-08-05 19:44] yuisotozaki commented on #7885
@doug-lovett Are registration type/description and registration act field values enumerated and used in conditional logic? If not, we can update the values in the table to title cap.

[2021-08-05 19:52] doug-lovett commented on #7885
@doug-lovett Currently the API (and report) values for financing statement registration type and act come from the registration_types table as is. As Janis and Patrick have identified, the values in this table can be modified with no impact to the legacy system or to any other process that I am aware of.

[2021-08-05 20:13] doug-lovett commented on #8422
I think this issue is actually that search by registration number is not returning results for a non-financing discharge registration number?

[2021-08-05 20:22] jinghualicgi commented on #8357
@jordiwes , Steph, can you please review and confirm issue? Thanks

[2021-08-05 20:24] doug-lovett commented on #8422
Discharge registration number search verified in DEV with 100015B.

[2021-08-05 20:28] PatrickAHeath commented on #8461
@tlebedovich The PPR mainframe application only displays the Business Name in the search result.  If additional fields were to be displayed, I would suspect the first address line and city would be the fields that would best help the client choose the correct business debtor from the search results.

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/ce11252e-3850-4509-b511

[2021-08-05 20:39] Sienna-Blumstengel commented on #8390
The description has this in it:

Is there a reason for this? Assets will need to implement refunds soon. If relationships has the capacity to make a more comprehensive solution that assets can use, it would be great
FYI @janisrogers

[2021-08-05 20:41] Sienna-Blumstengel commented on #8351
@mstanton1 @amit4610  FYI

[2021-08-05 20:48] chdivyareddy opened #8483 "PPR Search text fields should not be case-sensitive"
**Describe the bug in current situation**
Certain fields are case sensitive (and shouldn’t be) for Serial Number, Business Debtor, etc...
We are getting different responses if we use upper vs lower case

**Impact of this bug**
Medium

**Chance of Occurring**:
High

**Pre Conditions:**
I have tested in DEV environment.

**Steps to Reproduce**
1. Login to DEV and navigate to PPR search.
2. Select "S

[2021-08-05 20:49] severinbeauvais commented on #8431
I bumped up the estimate... The work itself didn't take long, but discussing/designing the solution definitely took some time from several people.

[2021-08-05 20:50] Sienna-Blumstengel commented on #7757
@severinbeauvais @doug-lovett how much effort would it be for our teams to do what Melissa and Saravan have described above? We need to do work on our side in order for them to take us back to the page we were last on.

[2021-08-05 20:59] amit4610 commented on #8351
Please fill out: @Sienna-Blumstengel

•	Number of fee codes, one or more :
•	Name of fee codes :
•	Type of fee code, variable fee charge or other :
•	Would a transaction fee charge be applied or not :

[2021-08-05 20:59] severinbeauvais commented on #7757
First, note that, in Name Request, we cannot send the user back to whatever page they were on previously, because Name Request has no notion of routes to particular pages, or of saving temporary data the user has entered.

However, to add a property to the sbc-header component used in Name Request, which specifies Name Request's main URL to return to, is pretty easy... say 1-2 hours. Meng has alre

[2021-08-05 21:05] janisrogers commented on #8476
@gh20s Can you check with @sumesh-aot to see if he can determine what is wrong with this account?

[2021-08-05 21:15] lmcclung commented on #7018
Had a chat with Cameron Wulff.  He sees arguments for both sides of whether to cancel the NR, but feels **the best way forward is to Cancel the NR, if the user is going to see the message in the modal as well as the tooltip.**  Client's purpose is to cancel the NR so we should do that.   If we don't cancel the NR it will eventually get examined.  Our general rule is once examined we don't offer re

[2021-08-05 21:19] sumesh-aot commented on #8476
@janisrogers Greg's analysis is correct, there is only user record and no org or affidavits.
I don't think it's an issue with missing data either as they won't be able to click 'Create Account' if any mandatory data is missing. Reason could be invalid data,
- A while back an issue has been reported with address data.
- Or invalid BCOL details.
We will need to reach out to the client and try to cre

[2021-08-05 21:20] janisrogers opened #8484 "NRs in strange state"
### Description
From the NR Duplicates report yesterday and today we have found a couple of NRs that are in a strange state.
NR 5478039 was not paid in NRO or in NAMES, but has been rejected
NR 1636026 has a payment amount of 0 (invoice 70434) and is in a state of draft

Can you look into these NRs to see what is going on?

### Ops Process
- [x] Add **entity** or **relationships** label to zenhub

[2021-08-05 21:27] Sienna-Blumstengel opened #8485 "Job aid"

[2021-08-05 21:33] doug-lovett commented on #8461
API update now in dev to include individual debtor birth date in search results. UI needs to change to remove time.

[2021-08-05 21:36] jinghualicgi commented on #8474
@Kaineatthelab , please check the priority of this bug, thanks

[2021-08-05 21:48] Kaineatthelab commented on #8474
This is a P1 as the functionality is broken

[2021-08-05 21:51] jinghualicgi commented on #8483
For all registration identifiers, MHR identifiers, and etc are converted/stored in upper case in databases.
Estimate is based on converting to upper case before compare.

We need a long term strategy for individual and business name (party names) to determine how it been stored in database.

[2021-08-05 22:07] jinghualicgi commented on #8363
@doug-lovett , please add a comments/update on this ticket. Thanks :)

[2021-08-05 22:21] yuisotozaki commented on #7885
@doug-lovett Let's go with just the Registration Description label and value. I can create a new ticket for updating the database content so that we can close off this PDF ticket.

![image](https://user-images.githubusercontent.com/56084999/128428772-40937adc-547c-4568-bd0e-3ee1061669c6.png)

[2021-08-05 22:28] yuisotozaki opened #8486 "Update content of REGISTRATION_TYPE content"
This ticket is a follow-up to #7885 where we updated the search result PDF content.

The current system sometimes shows registration type AND act. The new registration_types table's registration_desc and registration_act field values need to be cleaned up so that the description field contains the description and act field contains the act.

When this is completed, we can introduce the Act field t

[2021-08-05 22:29] yuisotozaki commented on #7885
[8486(]https://github.com/bcgov/entity/issues/8486) created to clean up the registration_desc table content and re-introduce the 'Registration Act' field to the PDF.

[2021-08-05 22:40] Sienna-Blumstengel commented on #8390
**UPDATED MESSAGES**

Credit card success:  Your transaction has been cancelled and a refund has been requested.

Drawdown success:  Your transaction has been cancelled and a refund has been requested.

Drawdown failure:  Your transaction has been cancelled.  You will not receive an automatic refund. Please contact BC registry staff at 1-877-370-1033 to request a refund.

PAD success:  Your transa

[2021-08-05 22:44] jinghualicgi commented on #7534
@Kaineatthelab , I don't find related epic for staff functionality within PPR. Please keep this into consideration when we have that epic.

[2021-08-05 22:46] chdivyareddy opened #8487 "Search results are added to 'My Searches' without clicking on Done"
**Steps to Reproduce:**
1. Login to DEV and navigate to PPR search.
2. Select a search category and enter the value in the text field and click on search.
3. Accept the payment confirmation and without clicking on Done button, enter another value in the text field and click on search.
4. Now, accept the payment confirmation and click on Done button.
5. Both the search results are added to 'My Sear

[2021-08-05 22:49] gh20s commented on #8460
Filing id 57176

select *
from filings
where filing_json @> '{"filing":{"header":{"certifiedBy": "Registry Staff"}}}'
and id = 57176

update filings set filing_json = jsonb_set(filing_json, '{filing,header,certifiedBy}', '"Matthew Jablonski"')
where id = 57176

Would it be possible to get someone to review this is correct way to datafix / update this value so I can run it in prod?

[2021-08-05 23:27] andrepestana-aot opened #8488 "NAMEX-PAY - Updates for new NATS messages and Resubmit payment action"
Namex-PAY has Namex-API as dependency and new messaging services were introduced to Namex-API.
Also, RESUBMIT payment action needs to be dealt in Namex-PAY.

**To do:**
- [x] Add NATS config to the environments (this will require GHA/Openshift env vars to added)
- [x] Initialize QueueService (not QueueServiceManager)
- [x] Check for the Resubmit payment action
- [x] Update tests for 'Resubmit'

[2021-08-05 23:28] gh20s commented on #8478
I got halfway through the bcr-bcomp-alteration- but am calling it for the day; if someone more knowledgable would like to help me with this filing tomorrow please let me know so I can learn

i am assuming that for D through H the following needs to be added; along the lines of..

new_share_class = {
    'name': 'Class D voting Shares',
#     'priority': <int>,
    'hasMaximumShares': False,
    'm

[2021-08-05 23:33] lmcclung opened #8489 "Create a Teams Chat for go-live Aug 31"
have teams chat available for 3 weeks and then decide whether to shut it down.
Invite
- [x] SBC - Megan Fedora, Nancy Whiteley, Erin Borrows
- [x] Registries Hub
- [x] BCOL - Joanna Barnes
- [x] Registries CM team
- [x] Cameron, Olisa, Kaine

[2021-08-05 23:50] doug-lovett commented on #8363
Outcome from meeting: remove the option to download a search results pdf for search results over a certain size. The threshold is still to be determined but is probably somewhere between 75 and 100 selected results.

If # of exact matches > max allowed, then no pdf is available.
If # of exact matches <= max allowed, then the pdf is available if exact + similar <= max allowed.

Downloading in csv f

[2021-08-06 00:01] yuisotozaki commented on #8240
Completed first cut of the mockup.

[2021-08-06 02:17] cameron-freshworks commented on #7214
@yuisotozaki
Hey sir, absolutely!
`New steps template for COOPS.`
`Placeholder components for Rules and Memorandum.`
- For this one you will need to look at a COOP IA. Since our dashboard doesn't allow this organically i've created a COOP draft to look at, just follow these steps...

1. Log in here with services card `BCREG0018` pass `98918`
https://dev.bcregistry.ca/business/auth/home/decide-busi

[2021-08-06 15:37] Kaineatthelab commented on #7534
Hi Jinghua,

Bugs don't sit in Epics, but this one is large as it affects staff being able to use the system with their normal log in. It is a P1 and we can look at bringing it in next sprint.

[2021-08-06 15:37] thorwolpert commented on #8447
Should be able to use the notebook to load this. the boot-loader section of the alteration filing should do the trick.

[2021-08-06 15:48] sienna-blumstengel opened #8490 "UI Design - Cooperative + Staff Voluntary Dissolution"
**DEV NOTE:** COOPS version is the most detailed and flushed out in terms of designing our error validations etc, review Coops first before corps.

### Requirements Document
https://docs.google.com/document/d/1pJM2mUoG5ln6eiopole3BY5PBAExESBGz4cRYdnDG58/edit?usp=sharing

### To design
- [x] How to start the filing
- [x] What the filing looks like
- [ ] How to display a historical entity in the das

[2021-08-06 16:16] #3943 closed

[2021-08-06 16:16] #8048 closed

[2021-08-06 16:18] lmcclung commented on #7951
@tlebedovich @forgeuxGH5 @yuisotozaki Doesn't look like this ticket got an estimate.  I'm putting 20 on it, but if you think otherwise, please update.

[2021-08-06 16:18] #7951 closed

[2021-08-06 16:19] #7979 closed

[2021-08-06 16:23] lmcclung commented on #7214
@yuisotozaki @cameron-freshworks Staff can't use Create UI currently.  Will need to eventually though.

[2021-08-06 16:32] severinbeauvais commented on #8431
@andrepestana-aot This change is now in Dev.

@riyazuddinsyed This can be verified once the corresponding API change is in place.

[2021-08-06 16:44] Sienna-Blumstengel commented on #8298
Waiting on Debbie and Jenn to get back from vacation

[2021-08-06 16:48] Sienna-Blumstengel commented on #8414
Determined that this ticket is no longer needed. Closing

[2021-08-06 16:48] #8414 closed

[2021-08-06 16:50] yuisotozaki commented on #7214
New steps template for COOPS. ✅ Verified in dev following Cameron's instructions.
Placeholder components for Rules and Memorandum. ✅ Verified in dev following Cameron's instructions.
Pre populate certifiedBy field from account profile. ✅ Verified in dev. 🎫 To be handled in #8366.

[2021-08-06 17:17] Sienna-Blumstengel commented on #8488
@argush3 to assist

[2021-08-06 17:25] Sienna-Blumstengel commented on #8368
![image.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/079a0233-88a6-4160-a90c-21c492627e46)

[2021-08-06 17:46] Sienna-Blumstengel opened #8491 "LEGAL API - Add fee code"
Add COOP fee code to `FILINGS` dictionary in filing model for IA filing type.  The fee code is used in the `ListFilingReource.complete_filing` function.  Specifically, the fee code is passed to the pay api when creating an invoice.

[2021-08-06 18:01] yuisotozaki commented on #8398
Invision mock updated as a reaction to the updates to the Relationship API messages in #8390.

[2021-08-06 18:02] yuisotozaki commented on #8398
@tlebedovich Ready for review and visual design again.

[2021-08-06 18:06] Sienna-Blumstengel commented on #8078
@sumesh-aot are you already working on this? If so, would you please comment here what ticket you are working under?

[2021-08-06 18:06] Sienna-Blumstengel opened #8492 "UI - add data to table"
- [x] Use the new properties that are added by Sumesh in AuthWeb
- [x] Get most recent NR data by requests to NameX
~- [ ] Pagination triggered by scrolling~
Requires BE work to support the pagination for the reasons below.

Filtering and sorting comes in future tickets (which will be done server-side because of our decision to paginate)

[2021-08-06 18:07] sumesh-aot commented on #8078
@Sienna-Blumstengel I am working on #8266

[2021-08-06 18:10] janisrogers commented on #7885
@yuisotozaki Is this ready for QA, or is there still outstanding UX Assurance?

[2021-08-06 18:12] Sienna-Blumstengel commented on #8078
Thanks Sumesh! Our ticket is no longer needed then, closing.

[2021-08-06 18:12] #8078 closed

[2021-08-06 18:13] Sienna-Blumstengel opened #8493 "API - Add sorting to table"

[2021-08-06 18:14] sienna-blumstengel opened #8494 "AUTH API - Add filters/sorting/pagination to table API call"
- [ ] Update the API with query parameters
- [ ] Either build on the existing affiliations request, or create a new request (find out from Sumesh)
- [ ] Add Server Side pagination
- [ ] Sorting and filtering on the server side

See designs for the different filters
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7745
NOTE: the date field has a date picker with

[2021-08-06 18:20] Sienna-Blumstengel commented on #8494
@sumesh-aot @SateeshFW @mstanton1
we just groomed this for ourselves, but realized none of us have worked in your API. Maybe you would prefer your own team to complete this?

[2021-08-06 18:22] Sienna-Blumstengel commented on #7579
Sumesh might already be completing this in 8266. Changing this to a Verify.

[2021-08-06 18:34] SateeshFW commented on #8494
@Sienna-Blumstengel i will include this ticket for our next grooming. Thx

[2021-08-06 18:45] janisrogers commented on #8201
@kialj876 Is this ready for UX Assurance or are you still working on it?

[2021-08-06 19:04] janisrogers commented on #7137
@jordiwes
If I enter one field of a birthdate (say year only), then click Done I get an error to enter a valid month and day (as expected), but if I remove the year, I still get that error.
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/7a7592a8-2264-4c7d-b279-c18ffe8b33eb)

I can't do much further because I keep getting errors (on address) that prevent me from adding t

[2021-08-06 19:23] mengdong19 commented on #8484
NR 1636026: Payment is waved by Lauren Nixon, so the payment is 0.
NR 5478039 need name request team to investigate.

[2021-08-06 19:37] yuisotozaki commented on #7885
@janisrogers We need one last output from @doug-lovett with the Registration Description field included in the section headers.

[2021-08-06 20:23] doug-lovett commented on #7885
@janisrogers @yuisotozaki The latest example is attached.
[https://app.zenhub.com/files/157936592/8498ff0f-7fce-4dee-b35c-6abbf9b23d36/download](https://app.zenhub.com/files/157936592/8498ff0f-7fce-4dee-b35c-6abbf9b23d36/download)

[2021-08-06 20:34] amit4610 commented on #8307
Asked PayBC for NR 8674286 and advised IT Ops for the rest.

[2021-08-06 20:34] #8307 closed

[2021-08-06 20:35] severinbeauvais commented on #7548
The link in the description to "co-op incorporation help text" doesn't work. Do I need it, or is everything in the mockups/designs already?

[2021-08-06 20:35] amit4610 commented on #8393
Asked screenshot of NR 7735340 (INC0102943) from IT Ops, advised IT Ops of the rest.

[2021-08-06 20:38] cameron-freshworks commented on #8366
@yuisotozaki
Hello sir!
Same thing here, you can view it as a COOP via how we discussed in a previous ticket.
Worth also taking a look at as a Benefit company as well, which can be achieved just by created a new numbered company application etc.
Let me know if you have any questions!

[2021-08-06 21:03] lmcclung commented on #7548
I've updated the link @severinbeauvais
This link is a pdf document is what they will be able to download when they are on the memorandum page.

[2021-08-06 21:04] Sienna-Blumstengel commented on #8238
@thorwolpert just checking in on this one - do you have a ticket going to fix to the NOA output?

[2021-08-06 21:26] lmcclung opened #8495 "Verify: NOA created for BC1283423 after Legal API refactoring"
Once legal API has been refactored see #6969 there should be a Notice of Articles output for the correction that was filed.

[2021-08-06 21:30] Sienna-Blumstengel commented on #8432
Reference: https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/businesses-incorporated-companies/cooperative-associations

### Help text for step 3, Rules

Click "Help with Rules of Association" to open the following text:

Each co-op must set its own rules to cover:

- Governance
- Overarching goals, needs, and actions to fulfill its purpose
- Elec

[2021-08-06 21:30] lmcclung commented on #8238
@Sienna-Blumstengel @thorwolpert I've created 8495 as a verify ticket for the NOA.

[2021-08-06 21:30] #8238 closed

[2021-08-06 21:39] jinghualicgi commented on #7048
As discussed in our meeting, move this back to backlog and next sprint

[2021-08-06 21:41] jinghualicgi commented on #8199
Move this back to backlog and next sprint

[2021-08-06 21:44] doug-lovett commented on #7858
Unit tested in dev, created an RL financing statement with registration number 100020B.

[2021-08-06 21:44] jinghualicgi commented on #8397
Make this task separate from #6975 and remove from sprint 10.2

[2021-08-06 22:03] jinghualicgi commented on #7624
@thorwolpert , please promote this to TEST, thanks

[2021-08-06 22:17] chdivyareddy commented on #7358
Please do not close this ticket until I verify the dependent tickets:)

[2021-08-06 22:18] chdivyareddy commented on #7554
Please do not close this ticket until I verify the dependent tickets:)

[2021-08-06 22:20] chdivyareddy commented on #7268
Please do not close this ticket until I verify the dependent tickets:)

[2021-08-06 22:38] lmcclung commented on #8351
@amit4610 @sumesh-aot I'm going to need some help answering your questions as I'm not familiar enough with the way you set up fee codes.  I know you were trying to streamline the number of codes.

Based on what I think I know about the fee codes you've set up for incorporations, there is one fee code for Incorporations and then you also included a field for the entity type and that combination wil

[2021-08-06 22:41] doug-lovett commented on #8483
When searching by serial number, aircraft DOT, or registration number, convert search criteria to upper case before searching so that an exact match ignores case. Debtor searches already convert names to upper case.

[2021-08-06 22:45] sumesh-aot commented on #8351
@lmcclung Yes, the idea is to use same filing types with different entity type codes to decide the fees, so just to confirm does the below works?
- Filing type code : BCINC
- Entity type : CP
- Filing Fees : 250
- No other flags turned ON (no FED, Service Fees or Priority Fees).

Other filing type codes for CP starts with **OT**, so I was thinking if we keep this as BCINC, that would avoid some co

[2021-08-06 22:46] PatrickAHeath commented on #8484
@janisrogers @Sienna-Blumstengel @thorwolpert Should we double check the logic in the Duplicate NR report to make sure the new functionality is picking up BCOL payments in the GLOBALP database?

[2021-08-06 22:55] lmcclung commented on #8460
@Sienna-Blumstengel @gh20s hold off on this please.  Original Ops ticket is 7091.

Sienna, the original FILED BY in the ledger is correct.  It was filed by staff in COBRS.  Staff were hoping we could change the output so that it doesn't have Registry Staff in it, but rather the person who signed the form... Matthew Jablonski.

Kial identified in #7091 that they both use the same field in the datab

[2021-08-06 22:55] #8460 closed

[2021-08-06 22:56] lmcclung commented on #7091
@kialj876 So if they both come from the certified by field, I think our options are to: 1) leave the output showing 'registry staff' or 2) to hide the output.  I'll reach out to Julie to see what she wants.

We can hide the output, right?

[2021-08-06 23:03] janisrogers commented on #8484
@PatrickAHeath @Sienna-Blumstengel @thorwolpert I should have double checked before I created a ticket, but yeah, it's weird that the payment didn't show up. Maybe it's just a one off. I suggest we don't worry about it unless it happens again.

[2021-08-06 23:09] #7493 closed

[2021-08-06 23:09] lmcclung commented on #7493
@kialj876 At this time we're not recreating receipts for them.  I'm closing this ticket as Julie verified the info was correct.

[2021-08-06 23:15] yuisotozaki commented on #7885
@doug-lovett ✅ This checks out!

Note: The sample has "Registration Type" as field label while the latest design mock uses "Registration Description".
This is fine because we are drawing the value from registration_type only for now.

When we have the database values updated so that the registration_type field values are cleaned up, we can update the field label to "Registration Description".

[2021-08-06 23:18] lmcclung commented on #8351
@sumesh-aot thanks for the clarification.

BCINC works - I'm all for reducing complexity on the lear coding side.

One change:  Please turn the Priority Fee and Waive Fee flags on.  We might need it if staff have some priority coop incorp filings on their desk when we got live with the filing and have to file it with Juypter notebook.

[2021-08-06 23:20] severinbeauvais opened #8496 "Filings UI: check NR type against IA type"
**Description:**

Examiners are able to change a NR's type after it is approved -- possibly while it's being used to create a business via an Incorporation Application.

To prevent incorporating the wrong type of business (or with incorrect data), several places should verify that the NR type matches the current entity type:

- on Manage Businesses page (for NR and IA display)
  - apparently @sume

[2021-08-06 23:22] mengdong19 commented on #8484
No further action needed for now.

[2021-08-06 23:22] #8484 closed

[2021-08-06 23:24] jennifer-peaker commented on #8468
I've created a "Team Cost" tab in the forecast XLS: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-1624

[2021-08-06 23:25] mengdong19 commented on #7889
Add @amit4610 to follow up with client. Please close it if there's no feedback.

[2021-08-06 23:26] lmcclung commented on #7609
@thorwolpert One last thing for this ticket - can we change the name of AM_LI to Amendment - Ledger Information?

We can leave the COGS in the ledger for now and I can make note of it in our COGS epic.

[2021-08-06 23:32] lmcclung commented on #7632
MRAS firewall issue was resolved in 10.1.  Closing ticket.

[2021-08-06 23:32] #7632 closed

[2021-08-06 23:37] chdivyareddy commented on #7852
Verified in TEST DB.
Please do not close this ticket until the UI Table is verified:)

[2021-08-06 23:42] yuisotozaki commented on #8240
Met with Janis and her feedback included in UXPin.

[2021-08-06 23:43] lmcclung commented on #7438
Confirmed the filing is displaying in SOFI.  Asked hometeam DBAs to suppress the NOA and Alteration application and then mark IT Ops ticket as resolved.

[2021-08-06 23:43] #7438 closed

[2021-08-06 23:49] lmcclung commented on #8427
@stevenc987 Thanks Steven.  I'm putting 2.5 hours estimate on this.  If this isn't accurate, please update it before end of day on Tuesdays.

[2021-08-06 23:49] #8427 closed

[2021-08-06 23:54] lmcclung commented on #8085
Closing this ticket.  Josh provided a free NR for this client.

[2021-08-06 23:54] #8085 closed

[2021-08-06 23:59] PatrickAHeath commented on #8476
Emailed client with next steps:

Good Morning Travis!

Our technical staff have been looking at your issue attempting to create a BC Registries Account.

We’d like you to attempt to create the account again:
•	Please use Chrome rather than Firefox
•	You can use the same Account Name as your last attempt
•	Before submitting each page of information, take a screen shot to capture what was entered

B

[2021-08-07 00:01] lmcclung commented on #7907
@amit4610 could you ask for another update from CAS please?

[2021-08-07 00:03] yuisotozaki commented on #7214
@cameron-freshworks Janis found a few things and with her background in the business, I thought her input would be valuable. If some of Janis' findings are not part of this ticket, let us know in the comments and we can move to Q4QA.

![image](https://user-images.githubusercontent.com/56084999/128581009-74e855ba-4a6e-4da3-914d-91ac555f40fe.png)

- Remove repetition of xx Cooperative Association in

[2021-08-07 00:03] yuisotozaki commented on #8444
First cut of the mock completed.

[2021-08-07 00:03] lmcclung commented on #7441
closing.  client was able to successfully incorporate a numbered company as per Service Now worknotes.

[2021-08-07 00:03] #7441 closed

[2021-08-07 00:05] lmcclung commented on #7574
@stevenc987 is this work done now?

[2021-08-07 00:07] lmcclung commented on #8295
I advised Queenie no payments made.  I've also asked her to contact me the next time she does a name request to see where things might be going wrong.

[2021-08-07 00:07] #8295 closed

[2021-08-07 00:10] lmcclung commented on #7972
From: Roberts, David CITZ:EX <David.Roberts@gov.bc.ca>
Sent: June 18, 2021 8:31 AM
To: McClung, Linda CITZ:EX <Linda.McClung@gov.bc.ca>
Cc: Chaturvedi, Siddharth CITZ:EX <Siddharth.Chaturvedi@gov.bc.ca>; Jinnah, Kial CITZ:EX <Kial.Jinnah@gov.bc.ca>
Subject: RE: Duplicate corp_state and corp_name in CTST

Siddharth will delete the second BEINC event and we will document in the datafix spreadsheet a

[2021-08-07 00:10] #7972 closed

[2021-08-07 00:14] lmcclung commented on #7935
@kialj876 you mentioned above that something needed to be released.  Was this ever done?

[2021-08-07 00:18] lmcclung commented on #7862
Closing this ticket as we were unable to reverse the refund.

[2021-08-07 00:18] #7862 closed

[2021-08-07 00:24] sumesh-aot commented on #8496
@severinbeauvais sorry, I don't understand the point. We subscribe to NR changes and adds affiliation (for DRAFT NRs) and updates the other details like lastUpdated time. There is no other information included in the event to do any action.

[2021-08-07 00:33] severinbeauvais commented on #8496
Does the Manage Businesses page care if the NR changed type?

[2021-08-07 02:24] cameron-freshworks commented on #7214
@yuisotozaki
Hey sir, great questions!
The majority of these should be captured in their own tickets, the entity info header updates for example would be its own task.
The Cooperative Association type is a net new component that would also have it's own ticket as well.
As far as the correct fee being displayed, i'm not too sure. I put in the code supplied to us, and would have to follow up with re

[2021-08-09 06:07] thorwolpert commented on #7609
I updated the name, the display names will be better after the ledger updates for the legal-api

[2021-08-09 14:06] yuisotozaki commented on #7214
@cameron-freshworks  Thanks for the explanations. I would consider this ticket completed. ⭐
I will follow-up and capture these additional findings today. 🗒️

[2021-08-09 15:22] #7609 closed

[2021-08-09 15:40] severinbeauvais opened #8497 "namex API: rebuild after contract changes"
Taken from RocketChat thread:

Sumesh said:

Severin said:

Sumesh said:

[2021-08-09 15:41] severinbeauvais commented on #8497
@lmcclung Name Request payments (via namex API) is currently broken in Dev. This is high priority.

[2021-08-09 15:50] PatrickAHeath opened #8498 "PPR Search - Multiple renewals in history all show current Expiry Date in PDF"
**Describe the bug in current situation**
When performing a PPR Search and a selected registration has multiple Renewal activities, the Expiry Date in each of the renewals showing in the history of the registration is the same as the current Expiry Date.

**Link bug to the User Story**

**Impact of this bug**
Inaccurate Expiry Date information is displayed for each renewal in the history of the re

[2021-08-09 15:59] sumesh-aot commented on #8496
@cameron-freshworks is working on that side.

[2021-08-09 15:59] lmcclung commented on #7214
@cameron-freshworks I followed your instructions for how to test this and noticed a few things...

Step 1 - there are no numbered cooperative associations.  Can I test this will an NR?
Step 2 - will all the following be covered under another ticket?
- [ ] Right at the beginning it looks like one of the roles is subscriber.  This shouldn't be there
- [ ] Then after I've added my directors, I notice

[2021-08-09 16:07] tlebedovich commented on #8444
@yuisotozaki - should this be in the Review column for Janis and myself to take a look?

[2021-08-09 16:07] lmcclung commented on #8366
@cameron-freshworks -
- [ ] In the 'I Certify' section I noticed you used 'association' instead of Cooperative.  Can you change it to be cooperative association?
- [ ] The completing party statement is referencing the incorrect section and legislation.  It should be section 200 of the Cooperative Association Act.

[2021-08-09 16:16] yuisotozaki commented on #8444
@tlebedovich Yep! Just moved over.

[2021-08-09 16:16] lmcclung commented on #6999
Closing this ticket as no response from client.

[2021-08-09 16:16] #6999 closed

[2021-08-09 16:19] amit4610 opened #8499 "Client account setup"
Hi,

BC OnLine Account 184410
Prime Contact ID: PA21373
email:  dalford@alfordwalden.com
INC0103518 created for this.

Please call  250-508-9033

Domonique created a BCROS account.  She setup the account using a BC Services Card.
She invited a team member, who received an email and logged in using  her personal BCeID and password.
It asked her if she wanted to link her account to her BC OnLine acc

[2021-08-09 16:23] lmcclung commented on #8497
@vysakh-menon-aot is this something you are able to do?

[2021-08-09 16:33] stevenc987 commented on #7574
@lmcclung
I think so. It has been a few months passed.

[2021-08-09 16:39] tlebedovich commented on #7561
@yuisotozaki @janisrogers - my notes from the call --

Add a statement to both discharge and renew letting users know that the registration may have been subject to an amendment/court order(s) and that this is just showing a current snapshot of the registration, there may be additional information then what is displayed (users can do a search to see the full history of this registration.

Kaine me

[2021-08-09 16:52] Kaineatthelab commented on #8468
Great, thank you! I updated the spreadsheet with the teams.

[2021-08-09 16:54] yuisotozaki commented on #8486
@Kaineatthelab This database field value update will contribute to more informative output in the PDF. See Patrick's input in [this comment](https://github.com/bcgov/entity/issues/7885#issuecomment-893709867).

[2021-08-09 16:59] amit4610 commented on #7907
Followed up with CAS team again.

[2021-08-09 17:01] tlebedovich commented on #8461
@doug-lovett @jordiwes Can we include the front end UI update in this ticket since its so small? (to remove the time in the UI display)?

[2021-08-09 17:09] lmcclung opened #8500 "Design for incorporation"

[2021-08-09 17:14] lmcclung opened #8501 "Issue credentials - entity (VO) and director relationship (VR)"
can't generate VR without the Verified Person (VP)
Dependency with IDIM as they own the BCSC - ask IDIM if we can issue for the purpose of this demo (talk to Carol first).

[2021-08-09 17:16] lmcclung opened #8502 "Direct people to digital wallet"

[2021-08-09 17:17] severinbeauvais opened #8503 "Create UI: disable browser autofill in various fields"
Various fields in Create UI still attempt to use the browser autofill feature, which we want to disable.

Examples (not a complete list):

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/4557b868-29d8-4ef9-b1c4-ab89387549ae)

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/1de7d3e8-70e3-4219-8344-9518a37ae40e)

![image.png](https://images.zenhu

[2021-08-09 17:21] severinbeauvais commented on #8352
**Comment from Linda (originally in #7214):**

Step 1 - there are no numbered cooperative associations.  Can I test this will an NR?
Step 2 - will all the following be covered under another ticket?
- [ ] Right at the beginning it looks like one of the roles is subscriber.  This shouldn't be there
- [ ] Then after I've added my directors, I noticed it says I am missing an incorporator
- [ ] The val

[2021-08-09 17:21] amit4610 commented on #8393
The above was paid by BCOL account, asked IT Ops to check with the BCOL admin team.

[2021-08-09 17:21] #8393 closed

[2021-08-09 17:26] lmcclung opened #8504 "UI dashboard for digital wallet"
**Design References from Kimberly Nguyen, CITZ**
* [MURAL with research output](https://app.mural.co/t/digitalidentityandtrust0399/m/digitalidentityandtrust0399/1654715799285/c1e67849ddb2f2d4ba2a5858ed3786d65c793400?sender=kimberlynguyen7757)
* [Adobe XD mockup](https://xd.adobe.com/view/864865fe-2860-4ddd-a867-e7c0615a1086-d31b/)

**BC Registries Redesign**
* [Design on UXPin](https://preview.uxp

[2021-08-09 17:28] lmcclung opened #8505 "APIs to digital wallet"

[2021-08-09 17:29] mstanton1 commented on #8393
@amit4610 Steven can also use the refund endpoint to trigger the refund for BC Online. Can you have him try? The only time to go back to the business is if business approval or clarification about the transactions that took place is needed prior to issuing a refund. Depending on the approval / clarification needed this may end up going to BCOL Help, Corporations, Hub or BCOL Admin.

cc @sumesh-aot

[2021-08-09 17:46] lmcclung opened #8506 "Figure out edge cases"

[2021-08-09 17:56] lmcclung opened #8507 "Determine how to verify a person"

[2021-08-09 17:56] lmcclung opened #8508 "Change Management - identifying potential users"

[2021-08-09 17:58] #8501 closed

[2021-08-09 18:17] chdivyareddy opened #8509 "Submitted Security Agreement Data Retained on a New Security Agreement"
**Describe the bug in current situation**
When a Security Agreement is submitted, the data is retained when a new security agreement is selected.

**Link bug to the User Story**

**Impact of this bug** : High

**Chance of Occurring**: High

**Pre Conditions** : DEV Environment

**Steps to Reproduce**
1. Click on "Add New Security Agreement".
2. Navigate to all 3 steps(Length & Trust Indenture, Add

[2021-08-09 18:30] chdivyareddy commented on #8357
Verified in DEV.

[2021-08-09 18:32] jyoti3286 opened #8510 "FAS Search - Convert it to common component"
As a staff user, I want to be able to search for Routing slips on a staff dashboard
so that I don't have to navigate between apps for different searches

#### Acceptance Criteria

** Scenario 1: Staff Log's in on Staff dashboard**
*GIVEN that I log in as a staff with one of the following FAS roles: Payment_Collection,  NSF_support, Filings_Transactions
*WHEN I land on the Staff Dashboard
*THEN I s

[2021-08-09 18:42] kialj876 commented on #8201
yes this is ready for assurance again

[2021-08-09 18:55] tlebedovich commented on #8367
@vysakh-menon-aot - UX Assurance --

1. Fix when to trigger the red bars:

Red bars should be triggered once the user goes to the review and confirm screen and then returns to the unfinished steps in one of the following ways;
a) clicks the "This step is unfinished. Return to this step to finish it" link
b) clicks the icon in the stepper to return to an unfinished step (this trigger is currently m

[2021-08-09 18:55] tlebedovich commented on #8367
@lmcclung @vysakh-menon-aot - some unfinished items above, so moving this ticket back to In Progress.

[2021-08-09 19:20] lmcclung commented on #8478
@gh20s @janisrogers
 I am closing this ticket as this is a self-serve filing available to the public.

I've emails Registries inbox and IT Ops.

[2021-08-09 19:20] #8478 closed

[2021-08-09 19:23] severinbeauvais commented on #7214
@lmcclung

Re: Step 1 - I'm not sure if we can affiliate a cooperative NR yet. In Cam's sample IA above (https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/create/define-company?id=T7oV4U8TaP), I'm guessing he hacked the Lear db to change the entity type to CP in the draft IA (and this example has no NR). If you create a suitable NR, I can try to update the db as needed for your t

[2021-08-09 19:24] tlebedovich commented on #8366
Hi @severinbeauvais @cameron-freshworks  - My UX Assurance Notes -

1. I feel like we need to complete the updates to Step 2 (People and Roles) before we can verify this ticket? Since the validation for People and Roles has not been updated, so we can't verify it will be accurate in Step 5.

![Screen Shot 2021-08-09 at 12.08.50 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/

[2021-08-09 19:30] lmcclung commented on #8214
David R did datafix to move first name to last name for NR 3825264 and the following NRs.

NR_NUM     EVENT_TIME FIRST_NAME                                         LAST_NAME STAFF_ID
---------- ---------- -------------------------------------------------- --------- --------
NR 8344704 2021-05-14 Invicta Law Corporation                                      namex
NR 3263799 2021-05-21 INVICTALAW COR

[2021-08-09 19:31] severinbeauvais commented on #8352
**Comment from Tracey (originally in #8366):**

Hi @severinbeauvais @cameron-freshworks  - My UX Assurance Notes -

1. I feel like we need to complete the updates to Step 2 (People and Roles) before we can verify this ticket? Since the validation for People and Roles has not been updated, so we can't verify it will be accurate in Step 5.

![Screen Shot 2021-08-09 at 12.08.50 PM.png](https://images

[2021-08-09 19:31] lmcclung commented on #8214
@eve-git Can you do the quick fix in Sienna's comment above to update the UI validation?

[2021-08-09 19:32] severinbeauvais commented on #8366
@tlebedovich I have moved your comments to the Step 2 ticket (#8352) that I am currently working on. Since Cam is not here this week, and THIS ticket is otherwise complete, I'd like to get it closed asap. (It's hard to work on multiple tickets simultaneously.) So I will address your issues in 8352, OK?

[2021-08-09 19:36] severinbeauvais commented on #8221
I think this ticket is complete, but I cannot verify it in Dev due to payment issues atm.

[2021-08-09 19:51] severinbeauvais commented on #8366
@lmcclung The certify text and section/act have been fixed and deployed to Dev for your re-review.

[2021-08-09 19:52] severinbeauvais commented on #8366
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/4793e19e-4b82-4d74-850c-5d2b4b6cfb27)

[2021-08-09 19:58] severinbeauvais commented on #7214
I have created NR 6361291 (in Dev) as a Coop NR for testing.

[2021-08-09 20:07] stevenc987 commented on #8393
@amit4610  @mstanton1  @sumesh-aot

Which NR needs to be refunded?

[2021-08-09 20:36] severinbeauvais opened #8511 "INVESTIGATION - Namex API: remove Retry Payment action when payment is being processed"
**Describe the bug in current situation**
Sometimes, a payment may be in "processing" state. In this scenario, the "Retry Payment" button should not be displayed, as the user might try to make another payment.

The API determines which buttons ("actions") to display. It needs to be updated for this scenario.

@lmcclung Should only the "Cancel Name Request" button be displayed when a payment is bei

[2021-08-09 20:41] lmcclung commented on #7214
@severinbeauvais @tlebedovich

Sev, Tracey was asking me about these and whether I want them done in this ticket or the next.  I'm okay moving them to the next ticket if it means we can close this one today.

Remove repetition of xx Cooperative Association in subtitle
Missing Name Request Number, Email and Phone fields in top header
Fee Summary in 250.00 Design shows 100.00. Not sure which is righ

[2021-08-09 20:58] tlebedovich commented on #7214
@severinbeauvais @lmcclung - do you want me to try and track down and find out where to put all these random items above or create a new ticket so they are consolidated in one place (the latter would be easier).

to note, item 1 was to remove/hide the repetition in the sub head within the tombstone header (as it is just a repeat of the large black bold title, as shown in the screenshot from Yui ab

[2021-08-09 21:01] tlebedovich commented on #8366
I have verified the Certify updates Linda wanted so I will move this along to RFQA. Thanks for moving the other items to 8352 @severinbeauvais

[2021-08-09 21:02] severinbeauvais commented on #7214
@tlebedovich Yes to the former please! (Better to add to existing tickets than have duplicates.)

Thanks for the correction. You are correct: that is the sub-title not the breadcrumbs.

[2021-08-09 21:11] lmcclung commented on #8366
@severinbeauvais looks great.  Thanks.

[2021-08-09 21:13] yuisotozaki commented on #7561
UXPin updated
* Discharge and Renew screens now has a text bringing user's attention to a possibility of the registration being subject to an amendment.

[2021-08-09 21:15] lmcclung commented on #8351
@mstanton1 just a reminder this needs to get groomed by your team for sprint 10.3

[2021-08-09 21:15] mstanton1 opened #8512 "Advise account admin(s) when account is closed OR pre-authorized debit is removed"
* As a Business Registry account admin
* I want to know when my account has been closed
* so that I have confirmation in writing

**Acceptance Criteria**

**Scenario 1: Account administrator deactivates account in the Business Registry**
* GIVEN I am an account administrator for a Business Registry Account
* WHEN I deactivate the Business Registry Account
* THEN myself and all other account admini

[2021-08-09 21:17] lmcclung opened #8513 "UI Step 1 changes"
- [ ] Cooperative Association Type section in Step 1 is missing. (must have) **The three types are: Cooperative without a Special - Purpose, Special Purpose - Housing Cooperative, Special Purpose - Community Service Cooperative**  I still need to confirm this with staff, but we can go with this until I hear back.
- [ ] Step 1 - Registered Office Contact Info - Address section:
  - Description Text

[2021-08-09 21:22] lmcclung commented on #7214
@tlebedovich @severinbeauvais

Not sure if we've got a good ticket for the top two items.  We have a breadcrumb ticket #7742 would that work?
Relationships have #8351 for the fee code.
I have created 8513 for Step 1 UI outstanding items.

[2021-08-09 21:26] tlebedovich opened #8514 "UI - Add Cooperative Type component and finish Misc Cooperative/Entities items"
These items were noticed while UX Assuring Coops ticket #7214 and have been moved here.

Refer to Coops Design Comp: https://projects.invisionapp.com/d/main?origin=v7#/console/21411095/452225106/preview?scrollOffset=0

Top Header Bar:

- [ ]  Missing Name Request Number, Email and Phone fields in top header bar

![Screen Shot 2021-08-09 at 2.20.29 PM.png](https://images.zenhubusercontent.com/5e1cd

[2021-08-09 21:36] tlebedovich commented on #8514
@lmcclung - here is a new ticket for the missing Coops Association Type component and the other misc items. Can you add to an Epic/Grooming?

[2021-08-09 21:37] tlebedovich commented on #7214
@lmcclung @severinbeauvais I am moving this ticket along, and any open items mentioned above have moved to these tickets:

General Entities header update:
- [ ] Remove repetition of xx Cooperative Association in top header subtitle
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7007

These other open items were put into this ticket:
https://app.zenhub.com/wor

[2021-08-09 21:40] amit4610 commented on #8499
There was no error, the client was able to log in to the account and set up her team member. Team member created their BCeID and 2FA setup and were able to join the account.

[2021-08-09 21:40] #8499 closed

[2021-08-09 21:45] lmcclung commented on #8168
@thorwolpert any idea why there is missing info here?
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/79a9793f-fedc-4f13-ab07-4f6d7ca5d6e3)

[2021-08-09 21:56] PatrickAHeath commented on #8381
Updated attachment with Required Changes from meeting on 2021/08/09.

@Kaineatthelab The term 'Base Debtor' was not part of the new PPR Search output.  If the Base Debtor Last Name or Business Name is to be the verification field for actioning a registration from the My Registrations list, it should be identified on the outputs so the client is aware which is the Base Debtor.

[2021-08-09 21:56] lmcclung commented on #8513
Closing - duplicate of 8514

[2021-08-09 21:56] #8513 closed

[2021-08-09 22:01] thorwolpert commented on #8168
I don't know why it is showing the wrong info.
the effective_date is 2021-07-08 22:12:00+00 UTC - 3:12 PM PST

[2021-08-09 22:16] tlebedovich commented on #8201
hi @kialj876 - all the above items look good and done. Only one that looks like it may have been missed is to turn off the google/browser auto-complete - I am still seeing this (if I start to type in my own address, it wants to auto-complete it):

![Screen Shot 2021-08-09 at 3.13.40 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/a38666b9-1100-425c-879d-17d0d070c9e2)

[2021-08-09 22:21] mstanton1 commented on #8351
@SateeshFW this is required for 10.3 but we will not have a grooming session beforehand. Can you please make a note to groom during Sprint Planning on Wednesday? I've attached to Relationships 10.3 so we don't miss it.

[2021-08-09 22:25] mstanton1 commented on #7989
Implemented feedback from Amber and sought clarification on some feedback. E.g. was asked to add FOIPPA section but due to collecting business contact information I do not think this is required. Pending response.

Updated PAD form available here: [https://app.zenhub.com/files/157936592/55a23dec-4944-45bf-80db-477840b101ca/download](https://app.zenhub.com/files/157936592/55a23dec-4944-45bf-80db-47

[2021-08-09 22:26] mstanton1 commented on #8350
Implemented feedback from Amber and sought clarification on some feedback. E.g. was asked to add FOIPPA section but due to collecting business contact information I do not think this is required. Pending response.

Updated Deactivation form is available here: [https://app.zenhub.com/files/157936592/0f2f714d-e52e-4f78-af7e-45d7e2244319/download](https://app.zenhub.com/files/157936592/0f2f714d-e52e-

[2021-08-09 22:30] mstanton1 opened #8515 "Front Counter Access to Cooperatives"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident: N/A
### Contact information
Staff Name: Kim Gordichuk
Staff Email: Kim.Gordichuk@gov.bc.ca

### Description
So it looks like the table computer still doesn’t have access to the CP system. I just tried to go to the site and says “its down for maintenance. So not sure why.

The table computer is used by our w

[2021-08-09 22:31] mstanton1 commented on #8515
Obtained further details. From responses to my questions below it looks like they are going to the wrong URL. Currently awaiting a response to confirm that using the correct URL fixes the issue.

Thanks for checking. To help with trouble shooting can you provide some additional information?

I imagine you are logging on to the table computer using the generic sign on “gcounter”. Once this is done…

[2021-08-09 22:35] lmcclung commented on #7158
@bfbowles avised there three new coops CP0002388-90 so I have updated this ticket to include them as well.

[2021-08-09 22:40] lmcclung opened #8516 "Import restorations and filings for CP0000965 & CP0002255"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident: INC0104499
### Contact information
Staff Name: n/a
Staff Email: n/a

### Description

Bob Bowles advised of the following CO1LEDGR CHANGES

There are 3 new coops CP0002388, 2389 and 2390 ( this is covered under ticket #7158 ).
One restoration CP0000965 which had 8 AR filings.
~David there was an dissolution

[2021-08-09 22:48] chdivyareddy opened #8517 "PPR PDF OUTPUT Issues"
Issues found while testing [#7885](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7885)
As per mockups the following changes need to be addresses:

1. 'Search Date and Time', 'Base Registration Date and Time' should be in the same line.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/6deb0906-362d-4db6-80e3-1c2cf30b3232)
![image.png

[2021-08-09 23:07] janisrogers commented on #7561
@yuisotozaki I don't think "subject to an amendment" makes sense as the text. We should discuss.

[2021-08-09 23:22] yuisotozaki commented on #7561
@janisrogers I could use some technical lingo tutelage for sure. I was just l[ooking up](https://www.google.com/search?q=%22subject+to+an+amendment%22&rlz=1C5CHFA_enCA860CA861&oq=%22subject+to+an+amendment%22&aqs=chrome..69i57j0i8i30j0i390.5637j0j7&sourceid=chrome&ie=UTF-8) what I heard during the meeting.

[2021-08-09 23:26] tlebedovich commented on #7858
@doug-lovett - Looking good. A few items need updating;

### UI - UX Assurance:

- [ ] Calendar icon should be #1669BB

![Screen Shot 2021-08-09 at 3.43.36 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/fbb4d693-817c-4ed6-af7e-18be7e08bdbf)

- [ ] Fix date picker to meet our AA colour standards used in our other date pickers:
- activate next/back arrows should use #1669BB (d

[2021-08-09 23:33] thorwolpert commented on #7748
affiliated all 4

[2021-08-09 23:35] chdivyareddy commented on #7885
Created a new ticket for the issues found [#8517](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8517).

[2021-08-09 23:47] tlebedovich commented on #7138
@jordiwes - i'm moving this ticket to RFQA and moving any of the last unfinished design updates to #7681 instead so you can get some points cleared.

[2021-08-09 23:52] lmcclung commented on #7748
@lbergero819 looks like you are good to go for testing.

[2021-08-10 00:06] tlebedovich commented on #7681
### Secured Party Look Up UX Assurance - still to come

### Secured Party Modal:
Unfinished UX Assurance carried over from #7138:

- [ ] Please complete the unfinished design updates shown in pink in this comp:
![Screen Shot 2021-08-09 at 5.03.53 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/3ee482a9-5507-4b74-85c8-7fd3dca6a441)

- [ ] Fix the blue outline hover state so it

[2021-08-10 00:27] chdivyareddy commented on #8483
Verified in DEV.

[2021-08-10 01:05] andrepestana-aot commented on #8398
@yuisotozaki I didn't find a scenario where one of the invoices failed and the other succeeded like when one payment is Routing Slip and the other is Credit Card for example. In this case it would be partially refunded.

[2021-08-10 11:16] vysakh-menon-aot commented on #8367
@tlebedovich Validations for People and Roles will be updated in [#8352](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8352)

[2021-08-10 15:16] yuisotozaki commented on #8381
@PatrickAHeath You know how paper outputs often have a reverse side that contains legend, glossary, explanations, etc? Were any of those part of original outputs before?

[2021-08-10 15:19] janisrogers commented on #8201
If you enter US as the country, start to enter the address, then switch the country to canada, you get an error on the postal code "Must be a valid zip code"
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/ce585723-3a29-43d5-929d-e92e5b8e678a)

[2021-08-10 16:32] yuisotozaki commented on #7858
PDF Output Findings:
* All fonts need to be updated to BC Sans

**Subsection Header**
![image](https://user-images.githubusercontent.com/56084999/128897659-df072879-2345-458d-b1c8-20440e937bf1.png)

**Footer**
![image](https://user-images.githubusercontent.com/56084999/128896448-9fa76014-a9e9-4e98-927a-2c9b0a21e640.png)

[2021-08-10 16:33] PatrickAHeath commented on #8381
@yuisotozaki The original outputs were a basic text file with no additional explanation of terms or fields.  I believe the clients relied heavily on the user manual and staff at BCOL Help Desk.

[2021-08-10 16:36] #7769 closed

[2021-08-10 16:42] jinghualicgi commented on #8201
create a new dependency ticket, will leave UX A for now

[2021-08-10 16:46] Kaineatthelab opened #8518 "Need to deal with Google Auto Fill Accross Apps"
- [ ] BC Registry App needs google auto-fill & auto-complete to be prevented - it was fixed once before but is broken again
- [ ] PPR needs google auto-fill & auto-complete to be prevented

- [ ]  Name Request successfully prevents google auto-fill & auto-complete

Note: in name request, only the name and address info has google auto-fill turned off.  Still does auto fill in the contact details pa

[2021-08-10 17:04] yuisotozaki commented on #8398
@andrepestana-aot Which scenario does that fall into in [this ticket for Relationships](https://github.com/bcgov/entity/issues/8390)? Do we need to raise that scenario for them so that there's a specific message coming back to us?

[2021-08-10 17:10] SateeshFW opened #8519 "Deactivate Account Part II"
## Description:
This Epic is the extension of the epic 7869

----
* Start date when team will start to work on: This is visible in ZenHub under "Roadmap"
* End date Epic will be delivered: This is visible in ZenHub under "Roadmap"
* T-shirt size: X (S, M, L, or XL) (S=1-2 Sprints, M=2-3 Sprints, L=4-5 Sprints, XL=not sure, probably more than 5 Sprints). Story points needs to be updated in Epic. Th

[2021-08-10 17:12] SateeshFW commented on #6271
A new Epic 8519 is created and the story 6271 is added to the new Epic.  Closing this epic as all the other stories are completed.

[2021-08-10 17:13] SateeshFW commented on #7869
A new Epic 8519 is created and the story 6271 is added to the new Epic.  Closing this epic as all the other stories are completed.

[2021-08-10 17:13] #7869 closed

[2021-08-10 17:30] yuisotozaki commented on #8240
During stand-up, we identified a new exception flow.
* Users have access control to certain types of registrations. If the user attempts to add an existing registration with a type that the user is not permitted to access, display an error to that effect.

[2021-08-10 17:32] lmcclung commented on #6535
@pwei1018 have the feedback go to BCRegistries@gov.bc.ca.  Ideally on a weekly basis, but daily if weekly isn't an option.  Can we get this done for Thursday, Aug 10th?

[2021-08-10 17:33] rkim13103 opened #8520 "UX/UI Design - FAS Adding Manual Transaction"
Design UI for adding manual transaction inside "view routing slip"

UI should include:
1.Ability for staff to add a transaction to a routing slip
2.View the added transaction in transaction history
3.Ability to add all filling types in the "add manual transaction" UI

Review with Staff
-Review how staff is currently adding manual transaction
-Covering all filling types
-Discovering if new training

[2021-08-10 17:37] Kaineatthelab commented on #6535
@lmcclung the BAs can do that or myself and if patrick adds you, you can too:) It already has the right email, it will be what it is in test but in prod it will be stars and no hotjar logo

[2021-08-10 17:37] Kaineatthelab commented on #6535
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/1f7132c7-9bf0-4efa-98a5-0c5b0296f34b)

[2021-08-10 17:39] #6976 closed

[2021-08-10 18:27] andrepestana-aot commented on #8398
@yuisotozaki that scenario is not for relationships. Relationships will treat every invoice as a unique scenario but for Name Request we can have more than one invoice and we need to think about all the combinations and display something accordingly to the user. Let's say we have 2 invoices for 1 NR. Then we try the refund for both invoices but pay-api can refund only one of them. So what are we g

[2021-08-10 18:52] severinbeauvais opened #8521 "Namex API: should not provide Edit action for expired NR"
**Describe the bug in current situation**
A user should not be able to edit an expired NR, but the Namex API provides this action.

**Link bug to the User Story**
#7948

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Chance of Occurring (high/medium/low/very low)**
Reproduces easily.

**Pre Conditions: which Env, any pre-requesites or assumpti

[2021-08-10 18:54] lmcclung commented on #8518
@Kaineatthelab is the goal to turn off google autofill everywhere?

[2021-08-10 18:54] severinbeauvais commented on #8521
@lmcclung FYI. Also, this is a good ticket for something not yet familiar with Namex API.

[2021-08-10 18:58] tlebedovich commented on #7548
hi @lmcclung - were you able to provide Severin with the final/edited helper text for People & Roles, Rules and Memorandum steps?

[2021-08-10 19:07] severinbeauvais commented on #8221
You can use the following NR for testing. (Once it's send for payment, you will need a new NR for testing).

NR 8968062
phone: 1234

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/f14fa905-b595-4636-9ad9-b5f96a8c37bc)

[2021-08-10 19:15] jmills-cgi opened #8522 "Entities Release: Names Enhancements 10.4"
**This release includes:**
- [Name Request UI v2.3.17](https://github.com/bcgov/namerequest/releases)
- [Namex API v1.1.2](https://github.com/bcgov/namex/releases)
- [Solr Names Updater v0.1.0](https://github.com/bcgov/namex/releases)

**Prior to moving into production, the following steps should be completed or confirmed:**
- [x] Update version number in the code being released
- [x] Ensure deplo

[2021-08-10 19:30] chdivyareddy commented on #8402
Verified in DEV.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2f4f7b90-bc60-49de-b07b-ca3e994d008f)

[2021-08-10 19:56] mstanton1 opened #8523 "Deactivate Basic Account - Sanjana Khaira Law Corporation"
### ServiceNow incident: INC0103895
### Contact information
Staff Name: Deirdre Clancy
Staff Email: Deirdre.Clancy@gov.bc.ca

### Description
Good morning

A law firm created a Basic account in error – it needs to be deactivated as she wants to create a Premium account with the same name. See details below:

Name of Account Holder: Sanjana Khaira Law Corporation
Account Number: 1661

I would like

[2021-08-10 19:56] mstanton1 commented on #8523
Provided information on self-serve deactivation in email to IT Ops, Deirdre, and BA Inbox.

[2021-08-10 20:00] yuisotozaki commented on #8398
@andrepestana-aot Ah I understand now. I'll mock something up for that scenario now.

[2021-08-10 20:01] janisrogers commented on #6577
Reviewed assessment section with Thor's help and submitted to Ariadne Powell and Calder Brown. Meeting to finalize scheduled for Aug 18, 2021

[2021-08-10 20:08] yuisotozaki commented on #8398
@andrepestana-aot Added [a new mock](https://invis.io/JY11HTTJ423P#/456744380_Scenario_Partial_Refund) for the multi-invoice scenario. I'm hoping we can detect how many calls we made to the pay API and which one failed. Either way, the user would need to contact BC registry staff, so I left it as "X of Y refund was successful".

[2021-08-10 20:11] Kaineatthelab commented on #8518
@lmcclung yes ultimate goal. I know entity UI had it but i just tested a DC or AC and it isn't blocking it again. We were just about to do it in PPR but don't want these to be one offs.

[2021-08-10 20:18] andrepestana-aot commented on #8398
Yes, we can check every invoice response and use it in the message.

So, as I understood if we have only one invoice we need to check the response and chose the specific message to display but if we have multiple we just show "We were unable to refund X of Y transactions...", right?

[2021-08-10 20:38] lmcclung commented on #7091
@kialj876 I spoke with Julie/Amber - please suppress the Director Change output.

[2021-08-10 20:56] yuisotozaki commented on #8221
@severinbeauvais

**UI**
UX/UI seems to be good as per design. The show/hide priority request is very slick ⭐

**Single User Interaction**
I saw the sprint demo, but I will try it again when Payment integration is working fully.

**Cross User Interaction**
The failing payment integration is offering us an insight into a workflow.
1. User has an expired No Fee NR (Maybe they spoke to someone at the

[2021-08-10 21:02] severinbeauvais commented on #8221
That's because an invoice ("payment") exists that needs to retried. That invoice would need to be cancelled before staff could pay (which does some short-ciucuitry in the back end).

So two options:
- allow the original user invoice to be "short-circuited" per staff payment processing
- provide a way to cancel the initial invoice so that staff payment could create a new one

^^ If important, pleas

[2021-08-10 21:03] severinbeauvais commented on #8221
PS I had to make show/hide priority slick -- the alternative was jumpy and jarring 😬
😁

[2021-08-10 21:15] yuisotozaki commented on #8221
I'll create a new ticket for the multi-user scenario with the details.
Ready for QA.

[2021-08-10 21:26] yuisotozaki opened #8524 "NR Resubmit - When payment by user fails, staff cannot use staff payment screen"
Identified in #8221.

**Steps to reproduce**
1. User has an expired No Fee NR (Maybe they spoke to someone at the registry and got a no fee request)
2. User resubmits on their own to pay using PayBC
3. Payment fails (or cancelled)
4. User calls BC Registries
5. Staff loads the NR to help (and hoping to process as No Fee again)
6. Staff sees "Retry Payment" button and clicks
7. Instead of getting s

[2021-08-10 21:37] yuisotozaki commented on #8524
@SiennaBlumstengel @lmcclung
Is this a priority user story to cover? It hits non-staff and staff if PayBC integration hiccups or if the user backs out of PayBC screen and wants a Cash or Cheque/BC Online/No Fee method of payment.

[2021-08-10 21:37] yuisotozaki commented on #8398
@andrepestana-aot That's correct!

[2021-08-10 21:45] tlebedovich commented on #7548
@severinbeauvais - I have added a download link for the sample memorandum cover graphic .png in the description at the top for you.

[2021-08-10 22:03] jinghualicgi commented on #8086
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/f87042e0-0da2-48da-99a5-1ce065a48c4f)

[2021-08-10 22:06] jinghualicgi commented on #8086
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/199f1ec0-aeb2-41e3-a8bc-1ba075d62d70)

[2021-08-10 22:12] SateeshFW commented on #2125
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/b82aabb2-2352-4ead-9c52-4231067954f3)

Sprint 10.1 continue with ongoing action items...

Sprint 10.2 New
@rarya-freshworks - Work on the FAS automation and also start working on the backend API.  The high priority will be for the FAS automation
@team - Create small stories and Epics for the Pay-API requirement. Need to dis

[2021-08-10 22:24] tlebedovich commented on #7684
@lmcclung @Sienna-Blumstengel - I can't seem to find the sample document that shows an example of the header stamp/graphic/text that we want to include on uploaded documents - could you assist? even a screenshot would help me.

[2021-08-10 22:41] jinghualicgi commented on #8086
**Action Items:-**
- Issue: If possible, try to add more information/testing notes in the tickets. Action: @here Put more detail information during Grooming.
- Issue: missing info in 8004 and Task breakdown & detail refinement. Action: @jinghua.li and @Kaineatthelab  define - and use Definition of Ready/Done during grooming
- QA can promote code ? SRE will answer this question. @jinghua.li to foll

[2021-08-10 22:53] lmcclung opened #8525 "Name Request - Name Check Prescreen - post mvp"
This is a continuation of #6194

### Visual Design
See Visual Design Tickets linked below.

### Copydeck:
https://docs.google.com/spreadsheets/d/1yasXI7oeI84gDES8obZiZ1w6k4io3xm88ykYcfHLFuo/edit?usp=sharing

[2021-08-10 22:55] #7960 closed

[2021-08-10 22:55] severinbeauvais commented on #8113
@lmcclung @jmills-cgi @riyazuddinsyed Who should do this item?

[2021-08-10 22:55] #6338 closed

[2021-08-10 22:56] lmcclung commented on #6338
released end of July

[2021-08-10 23:01] severinbeauvais commented on #7548
@tlebedovich Thanks!

I think I saw somewhere there might be separate sample memorandums per coop type. Do you know anything about this?

[2021-08-10 23:09] severinbeauvais commented on #7548
... Or the link to the sample memos? I assume these are external files; please specify if we need to host them in our app.

[2021-08-10 23:19] mstanton1 opened #8526 "Update Make Payments screen in Gov 2.0 Site for Online Banking"
### ServiceNow incident: n/a
### Contact information
Staff Name: Julie Harding
Staff Email: Julie.Harding@gov.bc.ca

### Description
Can we update the modernization page for clients to have more details about how Online banking payments work.  Perhaps more detail about it’s limitations…….can’t use for future effective filings, and delay in receiving outputs until payment is received by our office.

[2021-08-10 23:31] yuisotozaki commented on #7858
UX Assurance feedback added. Back to In Progress for @doug-lovett

[2021-08-10 23:39] kialj876 commented on #8421
@Sienna-Blumstengel that would be a bug for entities (I don't think there will be anything I can change to fix it in the db). The UI is probably rendering the name based on the filing type + current business type

[2021-08-10 23:46] jdyck-fw commented on #2118
![10.2.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/4099a3ba-62e6-4081-84c0-f35409c6a583)

Action items:

- [ ] Get the NameX Tests passing reliably by disabling the current failing ones and build on the successful ones
- [ ] Jason - Put a dev rotation in place to share in ownership of updating release tickets regularly
- [ ] Cut a release branch each Friday for the upcoming

[2021-08-11 00:01] tlebedovich commented on #7548
@severinbeauvais - I believe Scott had originally thought we could have separate sample memorandums based on the coop assoc type the user selected in Step 1, but this I believe would be a post-MVP enhancement since there is currently only a single sample PDF I am aware of that combines info for all of the types.

@lmcclung - please confirm if this is correct, and also if severin should just point

[2021-08-11 00:13] tlebedovich commented on #7548
@lmcclung @severinbeauvais

@forgeuxGH5 had these notes in his wireframes regarding what custom content we could serve based on the Coop Assoc Type selected in Step 1, but we need to confirm if these are all still relevant and/or Post-MVP items as they are all TBD at the moment. We could confirm when scott returns. There is a separate ticket for the new Coop Assoc Type #8514

Wireframe UX Notes fr

[2021-08-11 00:17] tlebedovich commented on #8514
@forgeuxGH5 had these notes in his wireframes regarding what custom content we could serve based on the Coop Assoc Type selected in Step 1, but we need to confirm if these are all still relevant and/or Post-MVP items as they are all TBD at the moment. We could confirm when scott returns. There is a separate ticket for the new Coop Assoc Type #8514

Wireframe UX Notes from Scott Regarding Coop Asso

[2021-08-11 00:28] chdivyareddy opened #8527 "Add Secured Parties and Debtors(Step2) - Individual and Business Names - Only space characters are also accepted"
**Describe the bug in current situation A clear and concise description of what the bug is**.
For Individual and Business Names, space characters are also accepted and Middle Name is not captured.

**Link bug to the User Story**

**Impact of this bug Describe the impact**
Low

**Chance of Occurring** (high/medium/low/very low)
Low

**Pre Conditions:**
DEV/TEST

**Steps to Reproduce Steps to reprod

[2021-08-11 00:31] chdivyareddy commented on #7138
Created new ticket for issues found [#8527](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8527)

[2021-08-11 02:52] thorwolpert commented on #7119
Done

[2021-08-11 13:28] jyoti3286 opened #8528 "FAS: Review Routing Slip"
* As an admin user with a payment collector role
* I want to review my routing slip
* so that I can look for some edits or corrections before I create it

**Acceptance Criteria**

**Scenario 1: Review Routing slip with payment method cheque(one)**
* GIVEN that I have filled all the required data for creating a routing slip(cheque as the payment method, with just one cheque)
https://preview.uxpin.c

[2021-08-11 14:21] jyoti3286 opened #8529 "FAS: Linking Routing Slip(RS) Impacts(After its linked)"
* As a staff user with a Filing transactions role
* I want to know what happens when I link the Routing slips
* so that I can process the staff filing effectively

**Acceptance Criteria**

**Scenario 1: Link Routing Slip B to A**
* GIVEN that I am a staff with Filing Transaction role
* WHEN I link Routing Slip B to A
* THEN B becomes the child record and A becomes the parent record

**Scenario 2:

[2021-08-11 14:35] jyoti3286 opened #8530 "FAS: Routing slip linkage(How its done)"
* As a staff user with Filing Transactions role
* I want to link two routing slips
* so that I can track all the payments and process staff filing easily

**Acceptance Criteria**

**Scenario 1: Click on Link Routing Slip**
* GIVEN that I am a staff and I am on the View Routing Slip page
* WHEN I click on Link Routing Slip
https://preview.uxpin.com/76da32cd3abd1eb16c96507294189fbd7bee9140#/pages/14

[2021-08-11 15:00] #7214 closed

[2021-08-11 15:01] #8431 closed

[2021-08-11 15:38] saravanpa-aot commented on #8104
@jyoti3286

is it okay to have partial match for routing slip number?
Two reasons
1)  routing slip number can be long , so if we provide a partial match ;might be easy for the staff
2) we can use the api for other places where we might have auto fill of routing slip  [like type ahead or search for routing slips]

^^ @sumesh-aot

[2021-08-11 15:43] lmcclung commented on #7978
Sumesh doing work under 8266

[2021-08-11 16:17] rarya-freshworks commented on #8001
tested and works fine now.

[2021-08-11 16:40] Kaineatthelab opened #8531 "Discharge: Add breadcrumb to registration page/fix search results"
- [x] add breadcrumb to registration page
- [x] fix breadcrumb on search results page to include search results

**UX/design adjustments to align with design comp including:**

- [x] breadcrumb bar background colour should be bc govt colour 38598A
- [x] increase bread crumb font size to 13px / 0.8125rem (make sure it stays vertically aligned with in bar)
- [x] increase arrow/circle back icon to 32

[2021-08-11 16:46] severinbeauvais commented on #8432
- use Vuetify component to select file
 - see https://v2.vuetifyjs.com/en/components/file-inputs/
- write code to show upload status
  - eg, https://www.bezkoder.com/vuetify-file-upload/
- decide on a nice design yourself (work with Tracey if needed)

[2021-08-11 16:46] severinbeauvais commented on #8433
- use Vuetify component to select file
 - see https://v2.vuetifyjs.com/en/components/file-inputs/
- write code to show upload status
  - eg, https://www.bezkoder.com/vuetify-file-upload/
- decide on a nice design yourself (work with Tracey if needed)

[2021-08-11 16:48] mstanton1 opened #8532 "NRO Function Required NR1752777 TMC THE METALS COMPANY INC. Renewal not permitted"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident: INC0103989
### Contact information
Staff Name: Elizabeth Espinosa
Staff Email: Elizabeth.Espinosa@gov.bc.ca

### Description
We received the attached email stating that a renewal of NR1752777 was attempted but not permitted.

I believe the NR was submitted through NRO which may be why the client cannot rene

[2021-08-11 16:49] jinghualicgi commented on #8455
Wordings are already in the design UI Design - Discharge#7561. @janisrogers will take a look at design.

[2021-08-11 16:51] #8456 closed

[2021-08-11 16:57] mstanton1 commented on #8532
I've provided the following information:

I’ve reviewed and the inability to resubmit an NR for a 3rd time is a limitation of the old name request system. This is not a bug, but an intentional design. Further inquiries can be directed to the hometeam BA’s.  Note, in the new Name Request this restriction has been removed.

Given the client will be unable to resubmit through the system they will nee

[2021-08-11 16:57] #8532 closed

[2021-08-11 17:00] #7203 closed

[2021-08-11 17:00] yuisotozaki commented on #7561
Asset Grooming Meeting Decisions
* Remove "Review the information in this registration prior to total discharge." message from the top.
* Keep "Conduct search to ..."
* Keep yellow box about secured parties

[2021-08-11 17:01] yuisotozaki commented on #7560
Asset Grooming Meeting Decisions
* Remove "Review the information in this registration prior to total discharge." message from the top.
* Keep "Conduct search to ..."

[2021-08-11 17:02] jdyck-fw commented on #7201
Closing, covered in 7204

[2021-08-11 17:02] jdyck-fw commented on #7202
Closing, addressed in 7204

[2021-08-11 17:10] mstanton1 opened #8533 "Maximus Content Required"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident:
### Contact information
Staff Name: Magdalena Szymanski
Staff Email: Magdalena.Szymanski@gov.bc.ca

### Description
Anna Kim from Service BC reached out to Maribeth and I about answering additional questions that are required to train Maximus staff on creating accounts and helping users log in – please see

[2021-08-11 17:16] Kaineatthelab opened #8534 "Create new confirmation page"
### Description
Add new page for discharge confirmation

### Details
- [x] create route
  - [x] add to enums/routes/etc.
- [x] setup new view
  - [x] ensure app is ready / authenticated / data loaded before showing
  - [x] add content
    - [x] header
    - [x] info txt
    - [x] caution box
    - [x] registering party
      - [x] registering party tooltip info
      - [x] party summary
    - [x]

[2021-08-11 17:16] Kaineatthelab opened #8535 "Add folio"
### Description
implement the *X. Folio...* section from the UI design

[2021-08-11 17:23] thorwolpert opened #8536 "NATS upgrade"
Upgrade to the NATS2 features and the jetspeed queue service

[2021-08-11 17:24] thorwolpert opened #8537 "Refactor the double Q setup in NameX-Pay"

[2021-08-11 17:25] thorwolpert opened #8538 "Enable jetspeed"

[2021-08-11 17:25] thorwolpert opened #8539 "test if STAN and Jetspeed can co-exist"

[2021-08-11 17:25] thorwolpert opened #8540 "Create new queue-common"

[2021-08-11 17:27] Kaineatthelab opened #8541 "Discharge API call"
### Description
- [x] Setup the api call.
- [x] Trigger the call off the submit button and handle the response / redirect to dashboard

[2021-08-11 17:33] Kaineatthelab opened #8542 "Discharge Confirmation check boxes"
### Description
*X. Confirm* section in the UI design

### Details
- [x] total discharge confirm component
  - [x] side header
  - [x] summary content
  - [x] checkboxes (with prop to set colour to red when unselected)
  - [x] test suite
- [x] add confirm component to confirm dishcarge view
  - [x] plug into page
  - [x] add header
  - [x] add info
  - [x] set checkboxes to red via prop if validat

[2021-08-11 18:25] mstanton1 commented on #8533
Email response has been provided which included a link to the following document: [https://app.zenhub.com/files/157936592/3c625905-c811-4bec-8250-475c3c8aa797/download](https://app.zenhub.com/files/157936592/3c625905-c811-4bec-8250-475c3c8aa797/download)

Good Morning Magdalena,

I have addressed all the functionality related questions in the document provided. Please find the updated document att

[2021-08-11 18:27] #8533 closed, assigned to mstanton1

[2021-08-11 18:29] mstanton1 opened #8543 "Update email address and email content on Affidavit ON HOLD email"
Account Management

### ServiceNow incident: N/A
### Contact information
Staff Name: Joanna Barnes / Wendy Flynn
Staff Email: Joanna.Barnes@gov.bc.ca, Wendy.Flynn@gov.bc.ca

### Description
Please change the email address as indicated below to bconline@gov.bc.ca.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/ad17d1bf-10e5-4cb7-b5c9-e590f95291e1)

Content change:
For t

[2021-08-11 18:29] PatrickAHeath commented on #8476
@sumesh-aot @amit4610 @janisrogers @mstanton1 Response from client:

Mr. Heath,

The account was named DerpakWhiteSpencer. I’m sort of confused as I think the account has already been created, we’re just having trouble porting over our old BC Online billing information. Google Chrome isn’t an option for our firm.

Thanks,
- Travis

[2021-08-11 18:30] mstanton1 commented on #8543
@SateeshFW please add to our next grooming session.

[2021-08-11 18:37] lmcclung opened #8544 "Audit Currency label across the modernization apps"
We've noticed that some of our UIs show currency amounts as "CAD $...'.  some just show '$'.

Task for dev:
Go through code to see where we display currency in our applications
 Identify what the format is

Once we have this list, we can  decide how we want to display this consistently across the board.
For  example, only show CAD $ in the share structure and $ everywhere else or show CAD $ across

[2021-08-11 18:40] mstanton1 opened #8545 "Questions on Authy DT Process"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident: n/1
### Contact information
Staff Name: Joanna Barnes
Staff Email: Joanna.Barnes@gov.bc.ca

### Description
I have just created an Authy Desktop – entered the code from the BC Reg to the Authy app.

I tried to log back into BCROS with my BCeId and it is not recognizing the Code – it is treating me as a new

[2021-08-11 18:42] Kaineatthelab opened #8546 "UI Design - Global banner / message design update"
- [ ] Include Banner interactions
- [ ] Include all header information consistency

Make this a shared component to use across PPR/Names/Relationships/Entities ?

[2021-08-11 18:50] mstanton1 commented on #8545
Joanna has connected with Tanya at BC Registries who provided further information on BCeID & 2 FA. The client issue has been resolved.

The only outstanding concern from Joanna is that when calls get escalated, particularly in cases from Maximus, they are transferred with no background information available. Clients have to repeat all they have provided. It adds another layer of complexity in the

[2021-08-11 18:50] #8545 closed

[2021-08-11 19:00] karthik-aot commented on #7796
[https://app.zenhub.com/files/157936592/2cbf65e9-1265-4600-bda5-9bda0ca56268/download](https://app.zenhub.com/files/157936592/2cbf65e9-1265-4600-bda5-9bda0ca56268/download)

[2021-08-11 19:57] jyoti3286 commented on #8033
I think we do have all the info, right @amit4610 ?

[2021-08-11 20:29] mstanton1 commented on #8476
Sent the following to Travis:

Hi Travis,

This has come to me. I’ve searched in our system and do not see the account that was created. I searched for any names containing Derpak or DWS.

Perhaps you created the BCeID & 2 FA link but did not get through the account set up screens that include upload affidavit, linking to BCOL etc? I also saw a note from some time back where another colleague note

[2021-08-11 20:36] mstanton1 opened #8547 "BCROS - Heath Law LLP - needs authenticator reset"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident:
### Contact information
Staff Name:
Staff Email: BCOLHelp@gov.bc.ca

### Description
Hi,

Please see screen shot and contact Madison at 250-824-2051 or email:  MAllen@nanaimolaw.com.

She cannot authenticate using the Google Desktop Authenticator anymore since she was deleted from the account, and then re-i

[2021-08-11 20:51] amit4610 commented on #7889
From Nancy:

Shelly’s profile now displays her name correctly when logged in thank you.
Now need to work on Tracy Wilton’s “Error Bad Request”.  Will check hers later this afternoon.

[2021-08-11 20:53] lmcclung opened #8548 "UI to create right type of IA when user clicks open NR"
Currently all NRs that are affiliated to the existing manage business dashboard automatically have a draft BEN IA linked to it.  This is because can only affiliate an approved New Incorporation BC Benefit company NR.  The relationships team is doing work to autoaffiliate any NRs to the existing dashboard and therefore will no longer add a draft BEN IA.  We need to do some work so that if a user ac

[2021-08-11 20:56] amit4610 commented on #8458
@stevenc987 Can you please send me the order ID of the above NR?

[2021-08-11 21:05] Kaineatthelab opened #8549 "Data Migration Plan"
**Release Options**

- Release Features in New application and close in old application
- Release Features in New application and run old in parallel

**Agile Prod Release Plan**
- Connect directly to DB2 release to public per feature

**Big Bang**
- DB2 Migration, potentially clone the DB2 tables into Postgres

[2021-08-11 21:06] lmcclung commented on #6920
@rkim13103 @forgeuxGH5 Relationships need to work on this in sprint 10.4 so we need this design ready.

[2021-08-11 21:14] mstanton1 opened #8550 "Online Banking questions / Onenote / training"
Julie has provided a list of questions she has about online banking. She has noted that her team requires further training.

1. Answer questions and send back to Julie
2. Book meeting with Julie to review OneNote and update (ideally update existing online banking FAQ's for staff in SP and then link to that in OneNote)
3. Schedule and plan training
4. Deliver training session

### Description
Summa

[2021-08-11 21:18] mstanton1 commented on #8550
1. Complete. Questions addressed and sent by email. Copy of questions is here: [https://app.zenhub.com/files/157936592/8b938657-181b-4e31-959d-6721778d1ee0/download](https://app.zenhub.com/files/157936592/8b938657-181b-4e31-959d-6721778d1ee0/download)

2. Meeting scheduled for Friday Aug 13th.

[2021-08-11 21:20] #8523 closed

[2021-08-11 21:21] Kaineatthelab opened #8551 "Data base proof of concept"
- [ ] Ali Racf ID and password for @thorwolpert

https://pypi.org/project/ibm-db/

https://www.ibm.com/docs/en/db2/11.5?topic=framework-setting-up-python-environment

[2021-08-11 21:24] Kaineatthelab opened #8552 "Data migration - Initial Load Postrges"
- [ ] extract tables from DB2
- [ ] create those tables in postgres
- [ ] unload data from DB2 and load into postgres

[2021-08-11 21:27] lmcclung commented on #7119
@thorwolpert I like that it's available on paper only.

Can you unaffiliate it?  I thought we were going to remove the affiliation so that they can't accidentally file an alteration, COD, COA, AR while we're waiting to build the historical status feature.

Why have the directors disappeared from the dashboard?

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/d6348112-59e

[2021-08-11 21:30] tlebedovich commented on #7742
@lmcclung - this ticket has been updated with link to final design

[2021-08-11 21:33] tlebedovich commented on #8531
@Kaineatthelab - updated and design link has been included - not sure if PPR or entities will be the ones to do the updates and to create the shared component first - the entities ticket #7742 mentions making theirs a shared component.

[2021-08-11 21:42] mstanton1 commented on #8250
@Sienna-Blumstengel this is for if they abandon the account creation flow (#1).

For assets the impact is different given an account must be created, then access granted, before they can enter PPR. If a client is given the common header and can choose to create an account from a page within PPR (not sure if this is the case?) if they cancel out of that flow returning to the main Business Registry

[2021-08-11 22:19] #8362 closed

[2021-08-11 22:20] #7798 closed

[2021-08-11 22:38] yuisotozaki commented on #8042
Minutes from Aug 11 3pm
Scope is to redirect to the forms. Thor's spreadsheet doesn't have the targets defined; "None" in the URL column.
- For these cases, we want to reference paper forms.
- We can let through NRs and let the receiving side feature handle error cases
- We don't need to cover the statuses.

Additional Notes:
- We'll cut a separate ticket for what to do about other NR states.
- We

[2021-08-11 23:01] yuisotozaki commented on #8444
Minutes from Aug 11 3pm

Scenario 1, where there are too many exact matches is not acceptable due to legislation.
* Can we offer date range search to further prevent this scenario?
* The modal should appear before the user is redirected to the search result page.
* The user should be refunded for this search.

Technically there is a 20 second window in which the PDF needs to be produced. Can we, f

[2021-08-11 23:02] thorwolpert commented on #7158
Loaded there Co-ops
[code]

[2021-08-11 23:10] mstanton1 commented on #8547
I have removed the link to the authenticator in the back end to enable to user to log on with the existing BCeID & set up 2 FA.

1) Select the user in Keycloak and add ‘Configure OTP’ as ‘Required User Actions’ under Details Tab. Save.
2) Go to Credentials tab and delete the credential under Manage Credentials.

I have reached out to the client to let them know that upon logging in they should no

[2021-08-11 23:14] mstanton1 commented on #8476
I scheduled a call with Travis and was able to walk him through the steps to complete the account creation request. I can see the account in the pending tab.

At first glance I did not notice a seal on the affidavit. I mentioned this to Travis and provided information upon what will happen if the affidavit is not acceptable. (Email saying on hold, click link, re-enter user details, notary details

[2021-08-11 23:15] #8476 closed

[2021-08-11 23:19] mstanton1 commented on #8515
Kim has confirmed the front counter is now able to access the new Business Registry website.

[2021-08-11 23:19] #8515 closed

[2021-08-11 23:22] lmcclung commented on #7158
All entities are now searchable on the staff dashboard
Staff are able to generate passcodes for these coops.  From the staff dashboard when they look up a CP in search there are actions. They can choose the action to issue a passcode.
Julie is pretty familiar but if she needs any support I can help

[2021-08-11 23:23] #7371 closed

[2021-08-11 23:29] #8409 closed

[2021-08-11 23:30] lmcclung commented on #7953
Throwing a 2.5 on it so we can close this.

[2021-08-11 23:30] #7953 closed

[2021-08-11 23:31] #7158 closed

[2021-08-11 23:31] lmcclung commented on #7158
Emailed Julie & IT Ops.

[2021-08-11 23:49] lmcclung opened #8553 "Name Request UI - Resubmit NRs lose request action in the edit pages"
**Describe the bug in current situation**
When I have resubmitted an expired NR and after payment I clicked Edit, the request action (incorporate) was blank.

**Link bug to the User Story**

**Impact of this bug**

**Chance of Occurring (high/medium/low/very low)**
high

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**

https://dev.bcregistry.ca/namerequest/
Try u

[2021-08-12 00:00] lmcclung opened #8554 "Namex API - Resubmit causes error in transaction history"
**Describe the bug in current situation**
When I resubmitted an NR and searched it in Namex, there was an error loading the transaction history. (GET events call received HTTP 500 - server error.)

Comments from Severin:

@severinbeauvais can this wait until Thor et al cleans up the architecture in Names after NRO decommissioned?

**Link bug to the User Story**

**Impact of this bug**
Describe the

[2021-08-12 00:03] tlebedovich commented on #8042
sienna's error message table": https://docs.google.com/spreadsheets/d/1dJQc-MiCzE6J9dnLGEqCf1yiefQHd6FbjlRtTFFmgrI/edit?usp=sharing

[2021-08-12 00:16] thorwolpert commented on #8516
CP0000965 - has no offices for the ia
CP0002255 - change of address error

[2021-08-12 00:23] tlebedovich commented on #8042
@lmcclung - Ready for grooming

[2021-08-12 00:27] severinbeauvais commented on #8554
Fix for 8553 will not pre-empt the API error fetching effects.

Yes, deleting the unused API code can wait.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: lmcclung ***@***.***>
Sent: Wednesday, August 11, 2021 5:01:10 PM
To: bcgov/entity ***@***.***>
Cc: Beauvais, Severin ***@***.***>; Mention ***@***.***>
Subject: [bcgov/entity] Namex API - Resubmit cause

[2021-08-12 00:38] severinbeauvais commented on #8553
PR 437 (linked above) was created to merge the fix into release branch 2.3.9.

**Another PR will be required to merge the fix into main branch.**

### Root Cause
The request action code of the NR, upon resubmission, was RESUBMIT, in case the API needed to do anything special with it. However, after the NR is created, the edit process does not know what "resubmit" means, and has in fact lost the or

[2021-08-12 00:49] tlebedovich commented on #8514
@lmcclung - I have added the Association Type component to the Review Screen in this ticket as well as this was missed. We may want to add another hour or more to the estimate to include it as well as the extra validations

[2021-08-12 01:27] tlebedovich commented on #8367
thanks @vysakh-menon-aot - moving this to RFQA

[2021-08-12 01:29] tlebedovich commented on #7137
moving this to RFQA @jordiwes woohoo!

[2021-08-12 14:29] PatrickAHeath commented on #7561
@yuisotozaki For the wording related to performing a search to retrieve complete registration details, here's my suggestion:

_Other activity exists for this registration.  To obtain complete details, it will be necessary to conduct a Registration Number search._

If the only registration entry for this Base Registration number is the original registration (no amendments or other activity), the co

[2021-08-12 15:22] stevenc987 commented on #8458
@amit4610
The order ID is 327603 for NR 5185685

[2021-08-12 15:29] mstanton1 opened #8555 "YOUR ACTION REQUIRED: Update your information - Kirti Naslund"
"Account Management"

### ServiceNow incident: n/a
### Contact information
Staff Name: Teisha St. Germain
Staff Email: teisha.1.stgermain@gov.bc.ca

### Description
When you have a chance can we go over this please.

I called the client and Kirti Naslund is away till next week and Ish (The Notary) has no idea about this affidavit!

The instructions where provided (the start of this string), but th

[2021-08-12 15:31] mstanton1 commented on #8555
I set up a meeting with Teisha to demo troubleshooting and discuss. She included Wendy and Patricia. In the 45 minute session I provided options for this client

1. Have Kirti click the link in the email, update the affidavit (and re-enter the user details and notary details)
2. Have our office remove the pending account request (Kirti is currently on holiday) so another member of that law firm ca

[2021-08-12 15:31] #8555 closed

[2021-08-12 15:36] mstanton1 opened #8556 "MFA RESET Authenticator - Doak Shirreff Lawyers LLP - Mary Wozny"
Title of ticket: [Entity number and name] or "Account Management"

### ServiceNow incident:
### Contact information
Staff Name:
Staff Email:

### Description
Hello

Basic account deactivated – had two accounts.
Please reset auth – client  Mary Wozny  is unable to login in since they deactivated the basic account and is now being invited to Team in Premium account.

It is showing as already attache

[2021-08-12 15:41] severinbeauvais commented on #8554
The UI fix (8553) is now in Dev, so to create a resubmitted NR (NR 8329691, phone: 1234), I ran the previous UI build locally...
1. create a new NR (and pay for it)
2. in name examination ui, approve it
3. in namex db, change submitted date to 2 days ago, and expiration date to 1 day ago
4. in namerequest ui, load the NR and edit it (request action should be OK in Dev, not OK with previous build)

[2021-08-12 15:46] mstanton1 commented on #8556
Since the 2FA code from the original pairing of BCeID to 2FA is not available we need to sever the connection to the existing 2FA in the back-end to enable the client to re-link to 2FA while joining the premium account.

Actions:

1) Located BCeID - Marywozny@bceid - in keycloak
2) On Details tab for BCeID user set 'Required User Actions' to 'Configure OTP'. Save.
3) On Credentials tab delete the

[2021-08-12 15:49] mstanton1 commented on #8556
I have advised the business of this change. They will reach out to the client to have them try again.

Pending client follow up.

[2021-08-12 15:50] mstanton1 commented on #8547
Madison has confirmed she is now able to log in to the Business Registry.

[2021-08-12 15:50] #8547 closed

[2021-08-12 15:53] #8261 closed

[2021-08-12 15:53] #7420 closed

[2021-08-12 16:24] severinbeauvais commented on #8553
PR 438 (linked above) was created to merge the fix into main branch.

[2021-08-12 16:27] Kaineatthelab commented on #8444
@yuisotozaki

Minutes from Aug 11 3pm

Scenario 1, where there are too many exact matches is not acceptable due to legislation.

Can we offer date range search to further prevent this scenario?
The modal should appear before the user is redirected to the search result page.
The user should be refunded for this search.
Technically there is a 20 second window in which the PDF needs to be produced. C

[2021-08-12 16:30] kialj876 commented on #8201
@janisrogers I can't reproduce this bug in dev or locally. Maybe we can meet and you can show me? There might be a specific thing you did that tripped it up somehow

[2021-08-12 16:44] PatrickAHeath opened #8557 "PPR Search by Individual Debtor Name - Middle Name Issues"
**Describe the bug in current situation**
When performing an Individual Debtor Name search with all three names entered (First, Middle and Last), the search results and report aren't consistent with how the Middle Name is searched and reported.

The search panel presents the name fields in First, Middle, Last order.

The search results panel also presents the name in First, Middle, Last order, but

[2021-08-12 16:48] lmcclung commented on #6386
This won't be resolved until we build voluntary dissolutions.

[2021-08-12 17:20] PatrickAHeath opened #8558 "NameX does not display the ExPro Home Jurisdiction Corporate Number"
This enhancement ticket opened as a result of **ServiceNow incident:  INC0104134** - NR0859496 .  This is new functionality so not an ops ticket.  Joanna Barnes  has been advised and incident closed in Service Now.

GIVEN a user has requested an extraprovincial name
AND entered a home jurisdiction number
WHEN staff search the NR in NameX
THEN the home jurisdiction number should display on the Exam

[2021-08-12 17:37] PatrickAHeath opened #8559 "Edits to wording of complete profile screen when accepting invitation to join BC Business registry account"
### ServiceNow incident:  INC0104139
### Contact information
Staff Name:  Julie Harding
Staff Email:  Julie.Harding@gov.bc.ca

### Description
[https://app.zenhub.com/files/157936592/8ee94526-1260-46c7-a824-f98a6050e108/download](https://app.zenhub.com/files/157936592/8ee94526-1260-46c7-a824-f98a6050e108/download)

### Ops Process
- [x] Add **entity** or **relationships** label to zenhub ticket
-

[2021-08-12 18:01] severinbeauvais opened #8560 "Namex UI: update blurb when NR has expired"
**Description**

The gray bar blurb should be updated now that this NR has expired.

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/03d3c82c-85fc-4cbc-bdc7-a9f8c113f3f3)

cc: @tlebedovich @forgeuxGH5

[2021-08-12 18:03] lmcclung commented on #8521
Taking out of the Resubmit epic so it doesn't hold it up.

[2021-08-12 18:09] mstanton1 commented on #6118
New email to IT Ops came in to implement this due to confusion that arose for a client joining the BCeID account for Swift Datoo.

[2021-08-12 18:12] chdivyareddy commented on #7137
I have verified "Birthdate" and found the following issue:
1. 'Month' field selected and then removed, when clicked on Done then I still get the error to enter 'Day and Year' fields.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/4422dfea-1af4-48b8-a3b6-546510ebb14e)

2. When First Name, Middle Name and Last Name are entered for an Individual Debtor, then 'Middle Name'

[2021-08-12 18:50] lmcclung commented on #8011
@Sienna-Blumstengel can you follow up with Julie on this?

[2021-08-12 19:00] yuisotozaki commented on #8398
Invision mock updated with grooming notes. Handing off to visual design.
@tlebedovich

[2021-08-12 19:18] chdivyareddy commented on #8474
Verified in DEV.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/96b574c3-e48b-459c-9cfa-b9228a0f838e)

[2021-08-12 19:21] lmcclung commented on #7091
Whoever is on Ops can do this!

[2021-08-12 19:47] PatrickAHeath commented on #8559
Bug ticket 6118 was created to correct this issue.

Closing ticket.

[2021-08-12 19:47] #8559 closed

[2021-08-12 20:20] chdivyareddy commented on #8422
Verified in DEV.

[2021-08-12 20:39] jdyck-fw commented on #8253
Behaving as expected

[2021-08-12 20:40] #8253 closed

[2021-08-12 20:41] jdyck-fw commented on #8173
Waiting to hear back from you on this one @rarmitag

[2021-08-12 20:42] jdyck-fw commented on #7965
Please review when you get a chance @forgeuxGH5

[2021-08-12 20:43] jdyck-fw commented on #254
Closing, as a lot of work has happened since this.

[2021-08-12 20:43] #254 closed

[2021-08-12 20:43] jdyck-fw commented on #308
Closing, as a lot of work has happened since this.

[2021-08-12 20:43] #308 closed

[2021-08-12 20:43] PatrickAHeath opened #8561 "NR 4007228 - Name Request error and no Receipt received"
### ServiceNow incident:  INC0104286
### Contact information
Staff Name:  Kristopher Yee
Staff Email:  Kristopher.Yee@gov.bc.ca

### Description
[https://app.zenhub.com/files/157936592/2180a3cf-e334-4abc-aaf1-d7bf89425695/download](https://app.zenhub.com/files/157936592/2180a3cf-e334-4abc-aaf1-d7bf89425695/download)

### Ops Process
- [x] Add **entity** or **relationships** label to zenhub ticket

[2021-08-12 20:45] severinbeauvais commented on #8352
Note to self: what should the P&R table show (ie, validation) when no persons have been added?

[2021-08-12 20:46] jdyck-fw commented on #313
@kialj876 @thorwolpert - please let us know if this shouldn't be closed, closing it now.

[2021-08-12 20:46] #313 closed

[2021-08-12 20:48] jdyck-fw commented on #251
@kialj876 @thorwolpert - closing this, please let us know if it should be open

[2021-08-12 20:48] #251 closed

[2021-08-12 20:49] jdyck-fw commented on #252
@kialj876 @thorwolpert - closing this, please let us know if it should be open

[2021-08-12 20:49] #252 closed

[2021-08-12 20:50] jdyck-fw commented on #255
@kialj876 - did you do any work around this?

[2021-08-12 20:51] jdyck-fw commented on #290
@kialj876 @thorwolpert - Closing, let us know if this needs to be open

[2021-08-12 20:51] #290 closed

[2021-08-12 20:55] #289 closed

[2021-08-12 20:56] chdivyareddy commented on #8402
Verified in TEST.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/20486254-8797-48f9-b7f3-aa12552488dd)

[2021-08-12 20:56] #312 closed

[2021-08-12 21:02] jdyck-fw commented on #8028
working as expected

[2021-08-12 21:02] #8028 closed

[2021-08-12 21:07] chdivyareddy commented on #8357
Verified in TEST.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/0c8c1c9d-118d-4fad-9e51-056afa3b29ab)

[2021-08-12 21:31] lmcclung opened #8562 "Create click thru material for Coop Incorp UX session"
Mags will be doing some user research with cooperatives to go over the Coop Incorp design.  She will need an interactive click thru of the UI.

Leverage Tracey's Sketch or Invision files.

Deadline end of 10.3

**Invision Links - FOR REFERENCE ONLY**
- [Link to use to update the screens](https://projects.invisionapp.com/d/main?origin=v7#/projects/prototypes/21607291)

**The team has decided to use

[2021-08-12 21:33] lmcclung commented on #8562
@yuisotozaki would you be able to work on this after you've done the tooltips stuff for refunds?

[2021-08-12 21:37] kialj876 commented on #8509
I think the fix will be clearing/resetting the state when submitting or leaving the registration

[2021-08-12 21:40] jinghualicgi commented on #8517
@doug-lovett , can you please take a look? Thanks

[2021-08-12 21:48] jinghualicgi commented on #8498
@doug-lovett , please take a look at this one, too, thanks

[2021-08-12 21:51] jinghualicgi commented on #8557
@doug-lovett , please take a look at this one, thanks

[2021-08-12 21:58] kialj876 commented on #8487
The api needs to know what to save for them if they leave a search without selecting results.

Questions:
Should it automatically save after a certain amount of time? If they leave should it show up in search history as pending or something?
Should it display as unfinished until they go back and select searches?
Should it prevent from doing another search until they have selected searches?

[2021-08-12 22:00] severinbeauvais commented on #8352
Response to Tracey's comments:

1. Please verify this ticket when it is implemented and merged into main branch.

2. The label "Your BC Cooperative Association" is contructed using a Display Name variable (which itself uses a shared library to get the corp's full description from a table provided by Linda some time ago). This can be overridden but that goes against using a shared library to provid

[2021-08-12 22:21] rarya-freshworks commented on #8391
Closing the ticket as another bug will fix all other issues related to it. 7538

[2021-08-12 22:21] #8391 closed

[2021-08-12 22:31] yuisotozaki commented on #8444
**Workflow**
- User pays for search first, then we conduct the search.

**Technical challenges**
- Having greater than 75 exact matches prevents PDF generation. This scenario can happen with "Jimmy Pattison".
- Search for more than 75 exact matches will complete. It's the PDF generation that takes too long.
- We can detect, at users row-select time, if we're going to PDF generation will take too l

[2021-08-12 22:46] jinghualicgi commented on #7340
@PatrickAHeath , Hi Patrick, can you put your thoughts regarding this bug and I can follow-up with Relationships teams for help. Thanks

[2021-08-12 22:49] jinghualicgi commented on #8363
@doug-lovett , please refer to #8444 notes for more information/decision about this large PDF issue. Thanks

[2021-08-12 22:54] mstanton1 commented on #7971
Meeting was held with SBC Finance and Melanie Richardson August 10th.

Action Items:
-[ ] Melissa to send copies of reports used for SBC Finance reconciliation to Melanie
-[ ] Melissa to send meeting summary to participants
-[ ] Melissa to verify if there are any changes to the GL breakdown (statutory fee, service fee, MDA fee)
-[ ] Melissa to send request for update to GL information to John McCo

[2021-08-12 22:55] tlebedovich commented on #7853
This hasn't been UX assured - I will do the UX assurance along side the Table Enhancement ticket #8397

[2021-08-12 22:56] tlebedovich commented on #8240
bringing this to in progress for visual design

[2021-08-12 23:00] PatrickAHeath commented on #7340
This may be a timing issue in TEST since the PAD Payment Confirmation email is sent more often than in PROD.

Testing with regard to whether searches display on the transaction list and payment confirmation emails are sent after reversal of payment due to error would confirm if we have an issue.

[2021-08-12 23:04] jinghualicgi commented on #8487
@janisrogers @PatrickAHeath @Kaineatthelab , can we discuss this topic in our next week's design meeting?