[2021-07-01 17:16] tlebedovich commented on #7268
hi @jordiwes - Here is my UX Assurance for Step 2 Review and Confirm view only;

https://docs.google.com/document/d/17X6ycxD2CjR-SqcNG1udHRRuaCAqOIaka5JrOo6jdyQ/edit?usp=sharing

[2021-07-01 17:43] tlebedovich commented on #7269
@jordiwes - only one small UX Assurnance item for the Collateral review and confirm screen -

1) Vehicle Table: MH Number column header is sitting on two lines instead of one (same as in the Create View). Can you get it sitting on one line without having the horizontal scroll bar come back?

![Screen Shot 2021-06-30 at 4.19.26 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/f

[2021-07-01 18:01] tlebedovich commented on #6873
@lmcclung - I was able to find an ULC on dev, but cannot find a CCC or BC LTD to verify this.

In Progress UX Assurance Notes:

1) On ULC (POSITION 12 UNLIMITED LIABILITY COMPANY user account BCREG0001 / account name assdf...) that the text is missing for the "Add a Corporation or Firm" button:

![Screen Shot 2021-07-01 at 10.55.39 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482

[2021-07-02 06:05] vysakh-menon-aot commented on #6034
Yes its covered in 6033

[2021-07-02 16:02] #81 closed

[2021-07-02 16:02] #241 closed

[2021-07-02 16:03] #5797 closed

[2021-07-02 16:03] #7039 closed

[2021-07-02 17:11] lmcclung commented on #6034
Closing as covered in 6034.

[2021-07-02 17:11] #6034 closed

[2021-07-02 17:35] PatrickAHeath commented on #8077
@sumesh-aot The BCOL folk say they don't have access, so I reached out to Registries staff to do the reset.  Here's the response from Cameron:

Hi Patrick,

I won’t be able to assist with this specific account.

When the account was originally created Mailing Address field was not mandatory. Months after that Mailing Address field was created we made that a mandatory field.  If the client never ac

[2021-07-02 17:55] thorwolpert commented on #8077
ok, so she can login to her Carol Ross account, using her BCSC, but won’t log in to her old account to remove the COOPs. and someone has determined she is the correct person … so we just need to remove both CP from their current affiliation … I think I got it

[2021-07-02 19:30] chdivyareddy commented on #7642
Verified in TEST.![RegistrationLength.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/24c42bf3-486f-45a3-9ce6-4642f0d64f07)

[2021-07-02 19:54] thorwolpert commented on #8077
I've removed the affiliation to ```Lardeau Valley Consumers Coop``` account.
I did leave the coops in the entities objects, as I think they need to be there for the other parts to work correctly.

I setup a notebook to manage remove an affiliation.

[2021-07-02 20:54] JohnamLane opened #8090 "BEN change of name maps to wrong filing type in COLIN - TEST"
**Describe the bug in current situation**
I changed the name of BC0881550 in TEST using a valid BEN change of name NR (NR 2718265)
The filing shows correctly in the new system, but was shipped to COLIN as NOALR (BEN to BC alteration)

**Link bug to the User Story**
Sorry not sure

**Impact of this bug**
All BEN name changes that get filed would likely be invalid and would require manual interventi

[2021-07-02 20:55] JohnamLane commented on #8090
@lmcclung FYI this is the alteration bug that I mentioned.

[2021-07-02 21:37] PatrickAHeath opened #8091 "OPS - Multiple NRs for Kaler Trucking"
ServiceNow incident:  INC0098934
Contact information
Staff Name:  Jennifer Weldon
Staff Email:  Jennifer.Weldon@gov.bc.ca

Description
Staff have received multiple NRs for Kaler Truckiing.  They require confirmation of payment in order to issue refunds if necessary.

Good morning,

We received multiple submissions for the name, KALER TRUCKING as follows:

NR 9882200 – keep, pending examination (pa

[2021-07-02 22:41] eve-git commented on #7804
Looks like a server side bug to me. The action getNameRequest returns _actions_ array. If "RECIEPT" is included in _actions_, the "Download Receipts" button displays.

Well, it is possible to force "Download Receipts" display in UI in case of Cancelled scenario, however, it looks like lost consistencies with other code to me.

Will discuss with backend.

[2021-07-03 18:16] thorwolpert commented on #8091
None of those show as paid in pay-db
[code]

[2021-07-03 18:20] thorwolpert commented on #8091
These don't exist either, so no need to cancel.
[code]

[2021-07-05 14:23] PatrickAHeath commented on #8077
Client has successfully affiliated with the two coops.  Issue closed.

[2021-07-05 14:23] #8077 closed

[2021-07-05 14:36] PatrickAHeath commented on #8091
Informed Jennifer of findings.  Issue closed.

[2021-07-05 14:36] #8091 closed

[2021-07-05 15:40] severinbeauvais commented on #7974
I have verified this at https://legal-api-dev.apps.silver.devops.gov.bc.ca/api/v1/.

If needed, I can submit another PR in response to items 4, 5, 11 and 12 above. In the meantime, this endpoint is usable and unblocks dependent tickets.

[2021-07-05 15:50] tlebedovich commented on #7116
hi @severinbeauvais - fyi - i need to layout the design for this before you do the front end. its on my to do list for this morning

[2021-07-05 15:56] forgeuxGH5 commented on #8071
Not sure if we need a design for this - the Business name field should be there - dropdown is per the Business Debtor - and we want to add the common VON look-up component now in Entities #6877.

[2021-07-05 16:00] amit4610 commented on #7912
idir is done

[2021-07-05 16:00] #7912 closed

[2021-07-05 16:02] severinbeauvais commented on #6852
The NR Type Map endpoint (web service) has now been implemented and deployed to Dev. See #7974 for details.

[2021-07-05 16:04] Sienna-Blumstengel opened #8092 "I can renew my NR up to 2 weeks before it expires"
## Background
Currently, users can renew their NR up to 5 days before expiry. NRO allows up to 30 days. Based on feedback from premium users, we have settled on 14 days.

This ticket is to extend the period of time that a client can renew their NR from 5 days to 14 days.

## Acceptance Criteria
GIVEN I have an approved or conditionally approved NR
AND the NR is doing to expire anywhere between 14

[2021-07-05 16:06] severinbeauvais commented on #8049
Hi @PatrickAHeath . Can this ticket be closed now, or should Riyaz have a look at it too?

[2021-07-05 16:14] lmcclung commented on #5866
@riyazuddinsyed can you verify this is fixed?

[2021-07-05 16:17] lmcclung commented on #5862
@JohnamLane could you investigate this as it may impact the legacy apps?

[2021-07-05 16:21] amit4610 opened #8093 "Validate GL coding for CSO"
Check GL distribution in BC Online
Check with CSO if in BCR system, for a linked BCOL account, the GL distribution will go to 1 GL or different GLs
Check the GL list provided by avocette

[2021-07-05 16:23] lmcclung commented on #6914
@sumesh-aot does this still need to be done?

[2021-07-05 16:33] tlebedovich commented on #7116
@severinbeauvais - design ticket attached as a blocker now has a layout for you.

[2021-07-05 16:36] Sienna-Blumstengel commented on #7610
@lmcclung @thorwolpert ⚠

I think this is urgent!

[2021-07-05 16:46] tlebedovich commented on #6987
@janisrogers - this design ticket is closed, but you may want to keep your attached document in a safe place for future requirement needs

[2021-07-05 16:47] amit4610 commented on #8093
Questions from the list:

1.	Is the Fee code list complete for CSO or are we missing any fee codes in the list?
2.	Why multiple filings are going to the same GL?

[2021-07-05 16:52] PatrickAHeath commented on #8049
@severinbeauvais Let Riyaz have a look at it too.  I only had involvement as it came through when I was on BA OPS Support.

Client should be contacted when it goes to PROD.

[2021-07-05 16:56] PatrickAHeath commented on #8071
Should another identifier (Registration/Incorporation #) be displayed along with the name to differentiate same names?

[2021-07-05 16:56] sumesh-aot commented on #6914
@lmcclung This is a configuration. If you can provide correct message I will update in 1password.
Current value : `Credit card payment is currently unavailable for cooperative and benefit company filings.`

[2021-07-05 16:59] amit4610 opened #8094 "Alteration to a Benefit company"
Can you please open a ticket with the lab to alter this Benefit company to a BC Limited Company (attached files)

Routing slip 206339657 in the amount of $100.00 attached with the form.

Kind regards,

Kat

Kathy (Kat) Langlois

INC0099118

[https://app.zenhub.com/files/157936592/bb362b82-64fd-4687-be20-7a182e87f830/download](https://app.zenhub.com/files/157936592/bb362b82-64fd-4687-be20-7a182e87f

[2021-07-05 17:04] severinbeauvais commented on #8049
@Sienna-Blumstengel for OCM

[2021-07-05 17:09] tlebedovich commented on #7437
@forgeuxGH5 @janisrogers - Need your eyes on the new Scenerio 9 & w0 (in document link above).

[2021-07-05 17:10] forgeuxGH5 commented on #8071
Yes - that would be good. I would think that should be part of the common component work. We should make sure it's in the Entities ticket.

[2021-07-05 17:17] tlebedovich commented on #7679
hi @PatrickAHeath - thank you for the email document above. Does it include all of the emails we have? And also - are you able to make your document a shared google document so we can add and copy edits/revisions in another column?

[2021-07-05 17:29] forgeuxGH5 commented on #8042
Do we want to keep this issue separate or combine it with this ticket I created for the handling?:
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7993

[2021-07-05 17:47] ghost opened #8095 "Capture reversals for partners"
**Summary**: BCOL staff perform transaction reversals for all accounts. We need the ability for staff to log into an account and reverse any transactions.

**Decision**: We will do only GOVM reversals for now. The rest account types will be done later.

**Acceptance criteria**

**Scenario 1: BCR Staff reverses a transaction**
* GIVEN staff navigate to a GOVM account from staff dashboard
* WHEN the

[2021-07-05 17:51] ghost opened #8096 "Provide breakdown of transactions done by the draw down payment method"
**Summary:** Currently, we combine all fee codes and send to one fee code to charge if the payment method is draw down.
Partners need the ability to reconcile, so we need to send a monthly summary to a partner email that provides a breakdown of transactions paid by a draw down payment.

**Acceptance criteria**

**Scenario 1: Partner does transactions with a linked BCOL draw down account for paymen

[2021-07-05 17:52] amit4610 commented on #8096
Duane, Henry (VS) to send us data elements they need.

[2021-07-05 18:09] Sienna-Blumstengel commented on #7995
Estimated 15 hours based on information we had as of today. No designs have been created yet, we can review designs and re-estimate later.
@tlebedovich @forgeuxGH5

[2021-07-05 18:10] jdyck-fw commented on #7995
@lmcclung - Just making sure this one's still okay in the backlog with the rest of the story in the sprint backlog.

[2021-07-05 18:12] Sienna-Blumstengel opened #8097 "API - Change renew period from 5 days to 14 days"
- [ ] Update logic that dictates when to display the "renew" button on the NR summary screen.
- [ ] Allow users to renew their NR from 14 days before expiry

[2021-07-05 18:12] Sienna-Blumstengel opened #8098 "NR UI: update wording from "5 days" to "14 days""
- [x] Update Renew Name Request dialog text from "5" to "14" days

Note that updating the PDFs/emails + Names Examination UI are separate tickets.

Severin will identify and fix these in #7811.

[2021-07-05 18:13] Sienna-Blumstengel opened #8099 "API - Update messaging in results PDF"
- [ ] Update text in "Results letter" PDF template
@tlebedovich please define new text

[2021-07-05 18:13] Sienna-Blumstengel opened #8100 "UI Design - Make a list of messaging that needs updating"

[2021-07-05 18:14] sienna-blumstengel opened #8101 "OCM - Update forms, website, OneNote"

[2021-07-05 18:35] PatrickAHeath commented on #7679
@tlebedovich It's the emails I've encountered from the various applications - I wouldn't say it's complete as some are only sent under certain conditions, and without a master list with the details, it's hit and miss.  7390 has a document attached that has email templates for the new applications - not sure how complete it is.

The google doc indicates it's editable by anyone with the link - what

[2021-07-05 18:37] tlebedovich commented on #7679
its showing as read only - i will request access but would be great for Janis/Scott to also have access. It would be hard to design a template for all without having a complete master list. Which is something the devs would probably require as well.
![Screen Shot 2021-07-05 at 11 36 20 AM](https://user-images.githubusercontent.com/2207887/124508810-6e8c2800-dd85-11eb-8665-3b01dcd0776a.png)

[2021-07-05 19:53] chdivyareddy commented on #7358
Verified Step1 in DEV.
![Capture1.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d60a7192-14a1-4667-9a39-751ee10a5301)
![Capture2.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/8ed5b7a2-0137-4892-8a5e-a77349f2404f)
![Capture3.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/7d7ea31e-2f1c-4944-9d74-7caf140dea4d)
![Capture4.PNG](https://image

[2021-07-05 19:56] janisrogers commented on #6577
Met with Ariadne to discuss 'Lite' version of STRA

[2021-07-05 19:57] amit4610 commented on #8031
all yours @stevenc987

[2021-07-05 20:02] ghost opened #8102 "Cancelled NR's showing as conflicts"
Title of ticket:
I noticed that cancelled NR’s are showing as conflicts again.  An example can be found on NR 3969900:
I’m not sure if this is a one off, or if there are others.  Can someone please have a look into why this keeps happening?

#### ServiceNow incident:
#### Contact information
Staff Name:
Staff Email:

#### Description
Summarize issue and attach email OR copy and paste email content

[2021-07-05 20:03] amit4610 commented on #8102
![nr](https://user-images.githubusercontent.com/59706888/124514211-57533780-dd91-11eb-9ff6-60c265406f9f.jpg)

[2021-07-05 20:12] sumesh-aot commented on #8102
@amit4610 There are other approved names with similar names, that could be the reason for showing conflict.

[code]

[2021-07-05 20:19] amit4610 commented on #8102
Thanks, I will ask the business if they see others unrelated to approved names.

[2021-07-05 20:38] kialj876 commented on #8102
This is odd, NR 3969900 was never approved so it never should have been added to SOLR. @amit4610 are there any other ones like this?

[2021-07-05 21:10] Sienna-Blumstengel commented on #7993
https://docs.google.com/spreadsheets/d/1dJQc-MiCzE6J9dnLGEqCf1yiefQHd6FbjlRtTFFmgrI/edit?usp=sharing <- WIP

[2021-07-05 21:12] amit4610 commented on #8102
I have asked the business, haven't heard back yet. @kialj876

[2021-07-05 21:21] eve-git commented on #7804
Comments from Argus:

yes, i think this looks like a namex api issue. i think there is an issue with at least two endpoints.

the endpoint used to do the actual refund and the one used to search for a specific NR

both return an empty actions array

[2021-07-05 21:34] argush3 commented on #7804
supplemental info...

[har file](https://app.zenhub.com/files/157936592/96fd9939-3728-4786-b7b6-76523be61321/download) showing two(nr refund patch call and nr search call after cancel & refund)  namex api calls.  can be open in chrome network tab.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/e0d9b759-8a7c-4557-bf1b-774f84f02cf3)

![image.png](https://images.zenhubuse

[2021-07-05 21:39] Sienna-Blumstengel commented on #8010
Passed off to Mags and Maribeth to clean up

[2021-07-05 21:51] jdyck-fw commented on #7748
@lmcclung @eve-git - It came up at standup today that this might be something Eve could finish off.

[2021-07-05 22:08] Sienna-Blumstengel commented on #8011
Sent to staff to review and approve my suggested changes to the site.

[2021-07-05 22:18] kialj876 commented on #7091
There's no code that will allow a 2nd AR to be filed for the same year. To force one through someone needs to run the legal-api locally connected to prod and comment out the AR year validation

[2021-07-05 22:21] kialj876 commented on #7091
the other thing that might work would be to data fix their `ar_year` in the business table to be 1 less than the current (not sure if this will work without re-looking through this code)

[2021-07-05 22:28] Sienna-Blumstengel commented on #6514
@mstanton1 @amit4610 could you review the resources that I have linked in these email macros and let me know if they are ok?

[2021-07-05 22:34] amit4610 opened #8103 "NR refunds July 05-7"
Title of ticket: [Entity number and name] or "Account Management"

1. - [x] NR7166213 INC0099250

2. - [x] NR6871206 and NR1632575 both are duplicates. INC0099253

3. - [x] NR7537988 INC0099276

4. - [x] NR 1691950  and NR 6517706 (NR Duplicate Report - June 29)

5. - [x] NR 9833613 (NR Duplicate Report - June 29)

#### Description
Summarize issue and attach email OR copy and paste email content i

[2021-07-05 22:56] thorwolpert commented on #7610
Done, and name consumed
[code]

[2021-07-05 23:02] Sienna-Blumstengel commented on #8011
If you manage your company on Corporate Online, Log in to Corporate Online to request a reminder email. It will be sent to any primary email addresses provided. If you set-up a reminder, you will be emailed a reminder and access code annually.
Keep your contact information up to date to make sure you get your annual reminders.

If you manage your company on the BC Business Registry, a reminder ema

[2021-07-06 00:16] tlebedovich commented on #7951
@forgeuxGH5 - dictionary says "Resubmit" versus "Re-submit" https://www.merriam-webster.com/dictionary/resubmit"

[2021-07-06 00:19] tlebedovich commented on #7878
@janisrogers to add remaining/missing registration types to spreadsheet above

[2021-07-06 00:52] doug-lovett commented on #7639
Bob recently added TA, TG, TM registration types. These also need to be added to the API schema validation for search to succeed. Only William Mitchell works in dev because of the new registration types.

[2021-07-06 13:46] jyoti3286 commented on #8058
@mstanton1 First version is here:
https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={ADD4EC87-22B3-4901-988E-A9631DBFC488}&file=PIA%20Checklist%20-%20BCSC%20Onboarding%20%20-%20Jul%202021(Portal%20Agreement).docx&action=default

SharePoint Path: Service BC/Inside Registries/Projects/MVS Modernization/Modernization Docs/Relationships Docs/Legal Services/AllI

[2021-07-06 14:07] jyoti3286 opened #8104 "FAS: Search for a routing slip logic"
* As a staff user
* I want to search for a routing slip
* so that I can find the payment details, transaction details, and balance for existing routing slips

**Acceptance Criteria**

**Scenario 1: Staff Logs in to Home Page**
* GIVEN When I want to login to FAS dashboard
* WHEN I log in with my IDIR
* THEN I can land on the dashboard with a table with details of the routing slip
#### Note: When t

[2021-07-06 14:32] Kaineatthelab commented on #8084
yes we need a weekly bug triage for sure

[2021-07-06 14:34] PatrickAHeath commented on #8088
@Sienna-Blumstengel No payments in GLOBALP for those NRs.

[2021-07-06 15:27] forgeuxGH5 commented on #7951
Dictionary! Nice.

[2021-07-06 15:47] saravanpa-aot commented on #6270
@rarya-freshworks not sure why it was closed earlier.This got  deployed to QA just yesterday.

[2021-07-06 15:47] sienna-blumstengel opened #8105 "Account related Improvements"
### Service now ticket
INC0099173
### Staff
Hall, Cheryl CITZ:EX <Cheryl.1.Hall@gov.bc.ca>

### Email

### Solutions

TBD

[2021-07-06 15:48] Sienna-Blumstengel commented on #8105
@trishreimer maybe you have some ideas for #1? Maybe we can add something after the link, "please open application in chrome"

@jyoti3286 FYI

[2021-07-06 16:04] JohnamLane commented on #5830
@Kaineatthelab Yes, this is a valid enhancement request to Name Request's MRAS integration. This has not been added to the new system and the rationale for including hasn't gone away. If you need me to get to something quickly, please send me a message in rocket chat.

[2021-07-06 16:06] amit4610 commented on #8102
Reply from business - The issue isn’t related to a similar name or a different, conflict.  What happened with this one is that a previous NR for the same name was cancelled and resubmitted and the conflict of the exact same name is showing as a conflict and it shouldn’t be.  This issue has come up repeatedly in the past and it seems to be happening again.

Can you please have someone from the Name

[2021-07-06 16:13] amit4610 commented on #6514
Provided my comments in the doc @Sienna-Blumstengel

[2021-07-06 16:17] rarya-freshworks commented on #6270
@saravanpa-aot I am not sure myself. I haven't tested this one yet. by mistake I might have put it in done column.

[2021-07-06 16:28] Sienna-Blumstengel commented on #6514
Awesome thanks Amit!!
Sending to IT Ops to place in the R drive.

[2021-07-06 16:42] amit4610 commented on #7898
NR8839697 - NR was submitted VIA NRO using a BCOnline account.
Only NR 4632997 remains

[2021-07-06 16:46] amit4610 commented on #7898
Looks like 4632997 was through NRO as per the email. Confirming with the business.

[2021-07-06 16:46] Sienna-Blumstengel commented on #7289
Still can't find the entity in the staff search
![Screen Shot 2021-07-06 at 9.46.19 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/f8976289-46da-4a3d-8736-fee9b850d5c8)
@thorwolpert any ideas?

[2021-07-06 16:49] trishreimer commented on #8105
@Sienna-Blumstengel I will talk to the home team about updating the BCOL home page to include a note about browsers.

[2021-07-06 16:50] thorwolpert commented on #7289
Yeah, afaik, once you go from BEN -> Ltd you no longer "show" in our system. You have to go look in colin.
Check box 3 makes that happen ( [x] unaffiliated the business)

[2021-07-06 16:55] mstanton1 commented on #8032
Cam has completed review of the private vs. public data elements. Document has been updated to use terminology 'Free' vs 'Fee-based'.

Analysis has been sent to Emiliano of the OrgBook team.

[2021-07-06 17:29] jdyck-fw commented on #7748
Sounds like this one can only be completed by you @thorwolpert

I'm pulling Eve off of the assignees and leaving it in in-progress

[2021-07-06 17:51] severinbeauvais commented on #7116
@lmcclung I found the following wording in the PDF (report) API code:
[code]

I have implemented the above in the UI. However, the UI has also declared the request action codes... what should their wording be?
- DBA
- ASSUMED
- REN

[2021-07-06 17:54] SateeshFW opened #8106 "Onboarding of Jinghua Li"
**Onboarding checklist for Jinghua**

**IDIR**
- [x] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [x] Submit to IT Operations Support. This form should be emailed to the Registries Executive Assistant. Currently this role is held by Michael Leung.

-----------------

**Legacy Application

[2021-07-06 17:57] sienna-oldaccountdontuse opened #8107 "Benefit Companies can opt out of annual report reminders"
### Background
Got this email from Julie and Kat, when we released Annual Report Reminders for BComps

### Story
As a premium user
I want to be able to opt out of annual report reminder emails
So that I don't get hundereds of emails for each company that I don't need

As a user
I want to be able to opt out of annual report reminder emails
So that I don't get unnecessary emails

### Acceptance Crit

[2021-07-06 18:09] Sienna-Blumstengel opened #8108 "Add a secondary registered office email address"
### Background
Email from Julie when we released annual report reminders for bcomps

### User Story
As a user
I want to have the ability to add a secondary email address to my account
So that all company documents and notifications go to an additional person

### Acceptance Criteria
GIVEN I have a business/co-op on the BC Business Registry
WHEN I go to my account settings
THEN I can add a secondar

[2021-07-06 18:11] amit4610 commented on #8095
Wendy confirmed that they do reversals for all account types.

[2021-07-06 18:12] PatrickAHeath opened #8109 "OPS - File and Pay not active when client attempts to file Coop Annual Report - CP0000873"
ServiceNow incident:
Contact information
Staff Name:  Patrick Heath
Staff Email:  patrick.1.heath@gov.bc.ca

Description
Original issue related to client not being able to connect to two coops that she was trying to file annual reports for (Zenhub 8077).  The Coops are now on her dashboard and she was able to file the annual report (with director changes) for CP0001052.  When she attempts to file

[2021-07-06 18:16] Sienna-Blumstengel commented on #8105
Thanks! The work to update the BCOL homepage is being tracked in **CHG0030895**.

[2021-07-06 18:40] jordiwes commented on #7269
@tlebedovich ... sorry, it won't fit on one line without the horizontal scroll bar coming back :( I can't even add 10 px ;) we can make the cell padding a little tighter?

[2021-07-06 18:44] severinbeauvais commented on #5941
See also #7116,

[2021-07-06 18:46] amit4610 commented on #7898
4632997 was through NRO. Closing this.

[2021-07-06 18:46] #7898 closed

[2021-07-06 18:56] chdivyareddy commented on #7959
Verified in TEST.

[2021-07-06 18:57] jdyck-fw commented on #8041
@lmcclung - Just confirming, please include a request for SharePoint access for Yui if it hasn't been requested yet.

[2021-07-06 19:23] chdivyareddy commented on #7183
Verified in TEST - Works as Expected.

[2021-07-06 19:28] yuisotozaki commented on #8041
Testing Github permission to comment on tickets. @jdyck-fw

[2021-07-06 19:29] yuisotozaki commented on #8041
RocketChat installed and joined -entities, -assets, and -ux channels.

[2021-07-06 19:29] yuisotozaki commented on #8041
Already have Zenhub and I can see the board.

[2021-07-06 19:50] tlebedovich commented on #7269
sure lets trying reducing cell padding a little

[2021-07-06 19:53] severinbeauvais commented on #7116
This ticket is ready for UX Assurance / QA. (Any further changes can be another commit against this ticket.)

### Test Notes

You can verify that the following Request Type codes are supported:
[code]

The following codes (including unknown codes) display as a code (instead of wording):
[code]

Example of a "move" name request:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93

[2021-07-06 19:56] lmcclung commented on #5546
@thorwolpert could you confirm whether we need this before we switch bcol and staff to the name request?

[2021-07-06 19:58] yuisotozaki commented on #8041
Met with UX team and learned how the team interacts with the rest of the team and some process flow between dev tickets and ux tickets.

[2021-07-06 20:22] rkim13103 opened #8110 "UI/UX Design - FAS Reconcile"
Design FAS design Reconcile process
-Button for admin team members to click to get daily report
-Exported daily report PDF design

Design Link:
https://preview.uxpin.com/76da32cd3abd1eb16c96507294189fbd7bee9140#/pages/141002532

[2021-07-06 20:27] forgeuxGH5 commented on #7827
Is this for Renew or Resubmit? Title and blocking UX ticket mismatch...

[2021-07-06 20:37] lmcclung opened #8111 "Name Request UI - Remove "I am completing on behalf...""
Premium users are missing the folio field in Name Request because they aren't unselecting the "I am completing this reservation on my own behalf".  We have a long term solution to combine the two applicant screens into one.  In the meantime, we can either:

1) default the "I am completing this reservation on my own behalf" to be unselected
or
2) remove the checkbox and sentence and force users to

[2021-07-06 20:43] lmcclung commented on #8111
@cameron-freshworks @severinbeauvais I've thrown a 2.5 estimate on this ticket.  Do you think that would be enough to do option 2?

I'd like to give this one to Eve.

[2021-07-06 20:49] severinbeauvais commented on #8111
So always go to the "submit for someone else" screen? What are the business rules for the fields on that page? I think some of the fields will no longer be required.

There's a lot to figure out in NR UI. Especially if some validations change. I think a day or 2 is more reasonable for an unfamiliar developer.

[2021-07-06 20:49] cameron-freshworks commented on #8111
@lmcclung I think 2.5 would definitely be enough to remove the checkbox, although this checkbox does dictate the next window that appears which captures different information depending on the state of this checkbox, which would require some more time.
I think we would need to identify the differences between the two and also decide what the default view we are supposed to display.

Attached are th

[2021-07-06 21:06] jdyck-fw commented on #8106
Assigning this one to you since you put it in-progress @SateeshFW .

Though let me know if there's anything I can help with along the way.

[2021-07-06 21:08] chdivyareddy commented on #7530
Verified in TEST.
![RegNumSearchValidation.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b712b0d0-4035-4de8-879a-98e19cb91271)
![RegNumSearch_Test.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/4939e357-9f6e-474e-a9a2-ada8dc50a012)

[2021-07-06 21:27] severinbeauvais commented on #7996
This may be a duplicate of #6852 (or just a small part of the overall change).

[2021-07-06 21:35] jmills-cgi opened #8112 "Release: Names Enhancements 9.6"
Prior to moving into production, the following steps should be completed or confirmed:
- Update version number in the code being released
   - [x] Namerequest UI 2.2.23
   - [x] Namex UI 2.1.1
   - [x] Namex API 1.0.22
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
   - [x] Namerequest UI

[2021-07-06 21:37] jmills-cgi opened #8113 "Release: Names Enhancements 10.1"
**This release includes:**
- [Name Request UI v2.3.9](https://github.com/bcgov/namerequest/releases) - _branch is 2.3.9 but code is 2.3.10_
- [Name Examination UI v2.1.7](https://github.com/bcgov/name-examination/releases)
- [Namex API v1.1.1](https://github.com/bcgov/namex/releases)
- [Namex Pay v0.1.3](https://github.com/bcgov/namex/releases)
- [NR Day Job](https://github.com/bcgov/namex/release

[2021-07-06 21:37] severinbeauvais commented on #7977
For this to work, we need:

1. The URL that will open the NR in NR UI. Atm, a URL parameter is used to identify the NR id to load.

2. Some way to authenticate in NR UI. I suspect the current mechanism of storing NR num, NRL, phone number and email address in session storage, so that it can be added to the request headers for authentication, cannot be used. A new mechanism to store this data, or a

[2021-07-06 21:41] lmcclung commented on #5941
Kaine and I added rough estimate.  can regroom when we pick this up.

[2021-07-06 21:42] severinbeauvais commented on #7977
This ticket requires a UI design (or a link to a design).

[2021-07-06 21:42] lmcclung commented on #7384
kaine and I threw a rough estimate on this for planning purposes.  Can regroom when this ticket is picked up.

[2021-07-06 21:44] lmcclung commented on #7389
Kaine and I threw an estimate on this for planning purposes.  Can regroom when we pick up this ticket.

[2021-07-06 21:47] lmcclung commented on #6838
@thorwolpert Is this something that we could investigate after NRO decommision?  Can we build our refund and renewal notifications like we currently do for now?

[2021-07-06 21:49] Sienna-Blumstengel commented on #7977
@forgeuxGH5 is this the correct UX ticket? https://app.zenhub.com/workspace/o/bcgov/entity/issues/7740

[2021-07-06 21:49] lmcclung commented on #6838
I threw an estimate on it for planning purposes.  we can regroom when this ticket is picked up.

[2021-07-06 21:50] Sienna-Blumstengel commented on #7827
I think this is just the design for staff to pay for a renew. 2 weeks before the NR expires, you can pay $30 to extend the expiry date

[2021-07-06 21:58] tlebedovich commented on #7116
@chdivyareddy @riyazuddinsyed @lmcclung - Design wise this looks great - please confirm the request type text is consistent with what we are using in the Name Request PDF outputs when you do your QA testing.

[2021-07-06 21:59] mstanton1 commented on #7952
I have heard back from IT Ops and the Corporations team. Required changes have been made.

[2021-07-06 22:04] severinbeauvais commented on #7116
### More Test Notes

You can confirm that these match...

1. The list of Request Code Descriptions in the API (used for PDF outputs):
https://github.com/bcgov/namex/blob/d088b71f1d7ef40b06baa9b2e1faed65cde1b3f6/api/namex/resources/name_requests/report_resource.py#L160

2. The list of Request Actions Code Text in the UI (used for web app page):
https://github.com/bcgov/namerequest/blob/2f85b10748e7

[2021-07-06 22:10] #6528 closed

[2021-07-06 22:12] Sienna-Blumstengel commented on #7289
Ah yes, of course 🙈  Thanks Thor!
Checked COLIN, looks good. sending to Kat!

[2021-07-06 22:12] jmills-cgi commented on #5477
In funnel not active

[2021-07-06 22:14] lmcclung opened #8114 "Legacy app verifications for filings"

[2021-07-06 22:17] #4316 closed

[2021-07-06 22:18] jmills-cgi commented on #3821
Prob PI 11

[2021-07-06 22:21] tlebedovich commented on #6873
@cameron-freshworks will fix this unearthed issue - where the must include checklist says "Incorporator" and the Roles below say "Subscriber";

![Screen Shot 2021-07-06 at 3.12.41 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/431cf8d1-1d79-4b9c-9e41-dd0527f2ecdf)

[2021-07-06 22:24] tlebedovich commented on #6873
How to Test --

ULC - BCREG0001 - username: asdf... many to choose from
CCC - BCREG0001 - username: asdf... "STRAWHAT PIRATES..."
LTD - BCREG0018 - username: cam-dev-account "MY LIMITED COMPANY INC"

[2021-07-06 22:24] tlebedovich commented on #6856
How to Test --

ULC - BCREG0001 - username: asdf... many to choose from
CCC - BCREG0001 - username: asdf... "STRAWHAT PIRATES..."
LTD - BCREG0018 - username: cam-dev-account "MY LIMITED COMPANY INC"

[2021-07-06 22:41] lmcclung commented on #5546
Priority to name request going live
With NRO being decomissioned, cration of NR and payment will be in name request except for socieities.  We'll have less issues with syncing can remove some more edit codes.  makes it more reliable.

We don't have an up to the second rcording for when OCP dies and we have to go through recovery.
If records are partially written they get mixed, indexes can get cor

[2021-07-06 22:42] #8088 closed

[2021-07-06 22:51] forgeuxGH5 commented on #7827
Can staff "Resubmit"? I'm wondering if we should consolidate all of the staff payment tickets into one. We noticed there was at least one other staff payment place when looking at the priority upgrade payment flow (Retry payment)

[2021-07-06 23:13] lmcclung commented on #6914
@sumesh-aot
New value:  Credit card payment is currently unavailable for business registry transactions.

Can you also make sure the "Payment Canceled" message is spelled correctly?  Cancelled should have 2 l's in it.

When do you think this work could be done?

[2021-07-06 23:16] lmcclung commented on #7814
Upgraded to Priority 1 so it is looked at the same time the staff upgrade ticket is done.

[2021-07-06 23:43] #7720 closed

[2021-07-06 23:43] #7984 closed

[2021-07-06 23:43] #4239 closed

[2021-07-06 23:43] #6514 closed

[2021-07-06 23:43] #7514 closed

[2021-07-06 23:43] #7295 closed

[2021-07-06 23:43] #7516 closed

[2021-07-06 23:43] #7656 closed

[2021-07-06 23:43] #4407 closed

[2021-07-06 23:43] #4434 closed

[2021-07-06 23:43] #6853 closed

[2021-07-06 23:44] #8039 closed

[2021-07-06 23:44] #7351 closed

[2021-07-06 23:44] #5023 closed

[2021-07-06 23:44] #6741 closed

[2021-07-06 23:44] #6586 closed

[2021-07-06 23:45] #6916 closed

[2021-07-06 23:45] #6918 closed

[2021-07-06 23:45] #6913 closed

[2021-07-06 23:45] #6581 closed

[2021-07-06 23:52] lmcclung commented on #8050
Comment from March 2021 brought forward from 3586 Project X epic.  have removed items that are done.

•	*It would be nice to have a separate area within NAMEX where the NRO functions can take place (Ex. A different page/tab where the NRO type functions can be performed). Something that essentially mirrors the NRO info we use today.
o	Look up- staff by name person or approved name - Namex
	Histori

[2021-07-06 23:57] lmcclung commented on #7518
Closing as this is a duplicate of 7479

[2021-07-06 23:57] #7518 closed

[2021-07-07 00:02] sumesh-aot commented on #6914
@lmcclung First change - credit card outage message - has been updated on all env.
For the second change, we need code change and can push with next release.

[2021-07-07 00:04] lmcclung commented on #6914
@sumesh-aot thanks!

[2021-07-07 00:28] lmcclung commented on #7116
@severinbeauvais

You asked...
I have implemented the above in the UI. However, the UI has also declared the following request action codes... what should their wording be?
- DBA - Doing Business As
- ASSUMED - Assumed Name
- REN - Restoration or Reinstatement

[2021-07-07 00:39] lmcclung commented on #8111
@severinbeauvais @cameron-freshworks Of the two screens, the default would be the top one. There wouldn't be any changes to the business rules.  The additional fields in the top screen are optional anyway.  when they get to client, they'd just put their own name in.

later this year the plan is to make these two pages into one, so I think the most minimal amount of work is needed.

[2021-07-07 01:04] severinbeauvais commented on #8111
In that case, I agree with Cameron that 1/2 day is enough to do the necessary surgery :)

[2021-07-07 01:13] lmcclung commented on #7487
@vysakh-menon-aot you asked me to look into what caused the third row in the table above (EVENT_ID = 6409358).  I looked it up in the Oracle event table and it had an EVENT_TIMESTAMP of 2021-05-07 11:41:36.

When I look up the transaction history in Namex, that corresponds to when someone updated the NR information after the name was approved.

FYI, event 6408574 was the updating of NRO that occur

[2021-07-07 02:01] cameron-freshworks commented on #8111
Would we still want the `Client` input field section, as it might be a little confusing since the user just entered their first and last name on the previous form?

[2021-07-07 04:19] thorwolpert commented on #6852
@sumesh-aot a BC NRType can only be used for a BEN, and a CR is for BC Ltd corps, which we don't support yet.
the NR API call to NameX will return the required info

[2021-07-07 11:12] vysakh-menon-aot commented on #7384
@lmcclung, @Kaineatthelab  Is the first scenario to show the grayed Renew button while NR in DRAFT still applicable? The spreadsheet doesn't have that.

[2021-07-07 11:17] vysakh-menon-aot commented on #7487
@lmcclung I have replicated the same by editing NR from name request and no issue with date

![image.png](https://images.zenhubusercontent.com/5f32f33a77ef9e4d453c1945/0dcd929f-16bf-4a2b-a9d3-c9ef0cf22b95)

[2021-07-07 14:40] saravanpa-aot commented on #7783
@rkim13103 @jyoti3286 Question on the branch/division..
Are we giving a chance for the user to update the branch/division? If not , Should we even show the user this field if there is no value present. Now in the Uxpin , it is shown as Optional and it is editable field. Is that intentional?

![image](https://user-images.githubusercontent.com/39633456/124779337-8afba200-def6-11eb-98d1-53378f376d7d.

[2021-07-07 14:58] argush3 commented on #7788
closing this ticket as #8014 will be used for the AR reminder release

cc: @lmcclung @jmills-cgi

[2021-07-07 15:26] eve-git commented on #8111
For the First/Last name in Client in the next screen,
1. do they need to prefill the Applicant First/Last name?
2. are they optional?

[2021-07-07 15:32] Kaineatthelab commented on #7384
@forgeuxGH5 @tlebedovich

Are we still doing the below? Can you do a quick check on the acceptance criteria on this one and above :)

Scenario - Show Renew Button
GIVEN I have submitted an NR
WHEN the NR is in draft state(pending staff review)
THEN the "Renew" button should be greyed out and have a tool tip that says...... also fix tool tip hover over renewals remaining

[2021-07-07 15:49] mstanton1 commented on #8106
@SateeshFW the onboarding checklist has been submitted. Legacy apps and Business Registry access will require IDIR but you can proceed to support Jinghua with Github, Zenhub and RocketChat.

[2021-07-07 15:50] forgeuxGH5 commented on #7384
I don't think we do this scenario do we?  If the NR is Draft it hasn't been approved. And you can only "Renew" an NR that has been approved since it's the approval that starts the 56 day clock that triggers the renewal.

I think we did want to move the tooltip message from the expiry 1/2 field to the Renew button though since we don't have that field anymore. But maybe that was done as part of the

[2021-07-07 15:56] tlebedovich commented on #7384
Agreed @forgeuxGH5 - if the action isn't available to users, we shouldn't be showing the button (grayed out or otherwise) imo.

[2021-07-07 15:57] Kaineatthelab commented on #7384
sure that works, I think the missing piece is the email when they can use it:)

[2021-07-07 15:58] mstanton1 commented on #8070
Tyler has verified access based upon the previous request from March.

[2021-07-07 15:58] lmcclung commented on #8111
On the first screen they have to eter the applicant first/last name.
On the second screen the Contact Name and Client First and last Name are both optional.  I was able to proceed to the review and confirm screen without entering this info.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/ef15ed86-c921-4724-a919-f04b4752475a)

[2021-07-07 16:03] tlebedovich commented on #7269
Also @jordiwes I just confirmed with Patrick that it should be “MHR Number” instead of “MH Number” in the vehicle collateral tables as per comps

[2021-07-07 16:07] janisrogers opened #8115 "UI - Remove Crown charges from Registration Type dropdown for general users"
- [ ] Remove the crown charges registration types and hairline divider
- [ ] add abbreviations for 'general' types of registrations in the dropdown

GIVEN I am logged onto PPR as a 'general' user
WHEN I select the dropdown arrow on the registration types
THEN I only see the registrations I can complete in the dropdown
AND the abbreviations are shown.

See Visual Design ticket linked

[2021-07-07 16:08] lmcclung commented on #7384
@vysakh-menon-aot sorry, first scenario should have been clearer.  The button should only appear within 14 days of expiry.  The "renew button should be active" implies it was visible but greyed out.

[2021-07-07 16:10] eve-git commented on #8111
I will add Optional to the First Name and Last Name of Client

[2021-07-07 16:13] SateeshFW commented on #8106
@pwei1018 Please give access to Github / Zenhub / Rocketchat for Jinghua.  Her Github id is jinghualicgi

[2021-07-07 16:15] vysakh-menon-aot commented on #8097
@lmcclung this ticket is included in https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7384

[2021-07-07 16:19] pwei1018 commented on #8106
@SateeshFW what's her email?

[2021-07-07 16:26] lmcclung commented on #7091
@rarmitag @kialj876 how were these second annual reports applied previously when we migrated over from COBRS?

You could look at CP0001289 for the 'Amended Annual Report' filed 2018-03-21
EVENT_ID 102007209

I'm not sure why in oracle the Filing table shows FILING_TYP_CD = OTAMR and on the event table it shows FILING_TYP_CD = CONVOTHER

[2021-07-07 16:30] lmcclung commented on #8097
This is a duplicate so closing.

[2021-07-07 16:30] #8097 closed

[2021-07-07 16:31] tlebedovich commented on #7553
hi @PatrickAHeath - Just laying out some of the unique registration steps. Janis mentioned you were confirming Step  2 for Misc. Act:

Misc. Act (New secured party not allowed. (restricted list?) Must use code. Code must be ‘associated’ with Registering Party) Patrick is still investigating this.

Can you ping me here when you know?

[2021-07-07 16:37] #8070 closed

[2021-07-07 16:38] #8032 closed

[2021-07-07 16:56] tlebedovich commented on #6925
@kialj876 @PatrickAHeath @doug-lovett - I have a note for us to work on the error message for error 8 above - have we confirmed whether we will be able to save a draft if the registration fails to complete its filing for some reason AFTER payment?

[2021-07-07 16:59] ghost opened #8116 "User groups for FAS"
Summary: FAS should have 3 user roles for Administration unit, SBC Finance and Corporations unit

**Acceptance criteria**

**Scenario 1: FAS functionality for Payment_Collection**

* GIVEN I am a administrative staff responsible for payment collection
* WHEN I log into FAS
* THEN I see the following tabs/buttons
1. Add a routing slip
2. View and edit RS - confirm
3. Daily reports
4. Search by all

[2021-07-07 16:59] SateeshFW commented on #8106
@pwei1018 The email id is Jinghua.li@cgi.com.

[2021-07-07 17:07] #4411 closed

[2021-07-07 17:07] #4412 closed

[2021-07-07 17:07] #4418 closed

[2021-07-07 17:07] #5241 closed

[2021-07-07 17:08] vysakh-menon-aot commented on #7487
@lmcclung Unable to reproduce this issue. You can move this to Done

[2021-07-07 17:09] thorwolpert commented on #4414
completed

[2021-07-07 17:09] #4414 closed

[2021-07-07 17:09] Kaineatthelab opened #8117 "SRE PI 10"
SRE Team identified below

[2021-07-07 17:10] thorwolpert commented on #4415
not approved

[2021-07-07 17:10] #4415 closed

[2021-07-07 17:10] Kaineatthelab opened #8118 "Document - Public doc storage"
- [ ] Security
- [ ] public facing tech doc site

[2021-07-07 17:11] #332 closed

[2021-07-07 17:13] thorwolpert opened #8119 "Tech Debt - Upgrade Flask(Microservice Framework)/Nats(Queue Service)/Node/Python"
Define path and upgrade to:
- [ ] Flask 2
- [ ] NATS 2
- [x] Node (latest 14 or 16)
- [ ] Python 3.9

[2021-07-07 17:15] doug-lovett commented on #6925
@tlebedovich The first bullet for scenario 8: api is down/network error/config issue/internal problem, would prevent the draft from being saved. The draft and registration persistence is part of a single transaction which succeeds or fails as a whole. So the draft will not be saved.

[2021-07-07 17:15] #4417 closed

[2021-07-07 17:16] mstanton1 commented on #7952
Complete. All changes made have been documented within the Quarterly Review document.

[2021-07-07 17:16] #5143 closed

[2021-07-07 17:17] Kaineatthelab opened #8120 "3rd Developer Site - Enhancement for API/Any users of our services"

[2021-07-07 17:17] thorwolpert opened #8121 "Tracing - Response Ops/Environment Time"
implement tracing on 1 delivery service, including all the downstream supporting services.
suggested candidate PPR
- [ ] PPR-API
- [ ] SBC-PAY

[2021-07-07 17:17] #5142 closed

[2021-07-07 17:18] #5141 closed

[2021-07-07 17:33] mstanton1 commented on #7638
@mengdong19 super thorough. I will pass the created tickets along to Sateesh to add to the grooming agenda.

@jyoti3286  @amit4610 do either of you want to review before this is moved to done?

[2021-07-07 17:36] #3762 closed

[2021-07-07 17:38] #4825 closed

[2021-07-07 17:40] pwei1018 commented on #8106
Rocketchat/Zenhub invitation sent.

[2021-07-07 17:41] #4826 closed

[2021-07-07 17:42] #7487 closed

[2021-07-07 17:43] Kaineatthelab opened #8122 "Public API - Beta - Name Request"

[2021-07-07 17:44] Kaineatthelab opened #8123 "Public API - Beta - Authentication and Payments"

[2021-07-07 17:44] Kaineatthelab opened #8124 "Public API - Beta - PPR"

[2021-07-07 17:53] amit4610 commented on #7638
I can review in the afternoon @mstanton1

[2021-07-07 17:54] Kaineatthelab opened #8125 "Data Lake"

[2021-07-07 17:57] forgeuxGH5 commented on #7948
Question: Question: We did the Resubmit design for expired NRs - do we want to use that for Cancelled/Cancelled, Refunded NR’s too? Can you resubmit an NR after you cancel it?

[2021-07-07 18:06] Kaineatthelab commented on #8117
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/ae3eeafc-54b2-4316-88f9-1958c8949571)

[2021-07-07 18:20] lmcclung commented on #7826
Closing this ticket as decided to do 1 design ticket for Renew/Resubmit/Upgrade/Retry NR as staff

[2021-07-07 18:20] #7826 closed

[2021-07-07 18:20] jdyck-fw commented on #7679
Tracey will look at this on the Monday she returns from her week away.

[2021-07-07 18:21] jdyck-fw commented on #7679
@rkim13103  will get started on this while Tracey is away.

[2021-07-07 18:23] severinbeauvais commented on #7277
Should this ticket actually be a Namex API ticket, to figure out and implement how to tell the UI whether to display the Cancel and Refund button (or just the Cancel button?) and what message (dialog) to display in response to clicking it?

[2021-07-07 18:23] #6882 closed

[2021-07-07 18:28] #7530 closed

[2021-07-07 18:32] lmcclung opened #8126 "Autopopulate submitting party name and address for a logged in user"
As a logged in user, when I am requesting a name, I want to see my name and address auto-populated in the flow so that I don't have to enter it in all the time.
This does not apply to staff users, or unauthenticated users.

**Submitting Party name** - taken from user ID (Basic, Administrator, coordinator) BC Services Card name
**Address** - taken from account address

**TO DO:**
- [x] Call the Aut

[2021-07-07 18:35] Sienna-Blumstengel opened #8127 "As a staff, I can select "no notification", so that the client is not notified of the Name Request confirmation, or results"
### Background

When staff request a name for a client, sometimes it is because they were supposed to do something for them but the NR expired, so we need to get a replacement for them. In these situations, we don't need to tell them about the name request submission or examination - it may just confuse them.
NRO has the ability to not send notifications to the client about this NR. This ticket is

[2021-07-07 18:42] amit4610 commented on #8033
Met Louise, she will give all the data mentioned in the email and above.
We have to check how SBC agents are able to do a filing for billable and non-billable account and what fee is charged per product. Louise will confirm this and demo on Monday. FYI @jyoti3286

[2021-07-07 18:42] Sienna-Blumstengel opened #8128 "UI - Disable name request notification"

[2021-07-07 18:43] #7952 closed

[2021-07-07 18:46] #7183 closed

[2021-07-07 18:49] #7959 closed

[2021-07-07 18:57] Kaineatthelab opened #8129 "VON Search Enhancement"
see design ticket for details

[2021-07-07 19:05] amit4610 commented on #7638
Is there a list of all active users for keycloak like the one attached for nov 2020? @mstanton1
[Keycloak Groups Nov 2020.xlsx](https://github.com/bcgov/entity/files/6779547/Keycloak.Groups.Nov.2020.xlsx)

[2021-07-07 19:12] thorwolpert opened #8130 "initial cost estimate"
SWAG of the initial costs for the MVP
- determine data volumes (storage)
- determine incoming network volume
- determine egress (swag on user access)
- determine IAP and CloudArmour costs

[2021-07-07 19:12] thorwolpert opened #8131 "security review"
Complete security reviews
- [ ] create necessary design artifacts
- [ ] engage security team
- [ ] Complete BIA
- [ ] Complete STRA
- [ ] Complete PIA

[2021-07-07 19:13] thorwolpert opened #8132 "identity setup"

[2021-07-07 19:13] thorwolpert opened #8133 "publish notebooks"

[2021-07-07 19:13] thorwolpert opened #8134 "publish sbc-pay reports"

[2021-07-07 19:13] thorwolpert opened #8135 "sbc-account activity (stretch)"

[2021-07-07 19:14] thorwolpert opened #8136 "setup standby databases"
- [ ] leverage work in standby db project
- [ ] setup projects for remote standby
- [ ] setup network
- [ ] setup Cloud Armour
- [ ] setup monitoring

[2021-07-07 19:16] thorwolpert opened #8137 "spike on bigtable"

[2021-07-07 19:16] thorwolpert opened #8138 "ppr-sandbox (stretch)"

[2021-07-07 19:18] severinbeauvais commented on #7277
@thorwolpert @vysakh-menon-aot

Should this ticket actually be a Namex API ticket, to figure out and implement how to tell the UI whether to display the Cancel and Refund button (or just the Cancel button?) and what message (dialog) to display in response to clicking it?

[2021-07-07 19:21] thorwolpert opened #8139 "determine data volumes for all target DBs"
- [x] create a list of all target and non-target DBs
- [x] current sizing
- [x] expected growth
- [x] activity (eg transaction volumes)

[2021-07-07 19:23] severinbeauvais commented on #7277
I added the P1 label as this ticket is blocking another that is marked P1.

[2021-07-07 19:24] thorwolpert opened #8140 "determine ingress network volume and latency"

[2021-07-07 19:24] thorwolpert opened #8141 "determine egress network volumes"
- [ ] volume of static (rough)
- [ ] volume of interactive (eg. a users report or API call to account activity)
- [ ] caching possibilities

[2021-07-07 19:25] Sienna-Blumstengel commented on #8127
From NRO:
![image.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/697bd22a-3319-4d9a-9027-64a9b6f478d3)

[2021-07-07 19:26] thorwolpert opened #8142 "determine IAP and CloudArmour costs"

[2021-07-07 19:26] thorwolpert opened #8143 "create cost model"
- [ ] create cost model
- [ ] identify factors that impact costs the most
- [ ] identify levers
- [ ] identify alerts and caps on costs (if any)

[2021-07-07 19:27] severinbeauvais commented on #7018
### Dev Notes

We can either reuse the existing modal (below) or create a new one. @forgeuxGH5 @tlebedovich any recommendations?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/52bbba5c-1acb-4544-aeff-5a2b525aa596)

[2021-07-07 19:32] thorwolpert opened #8144 "Setup project support"

[2021-07-07 19:33] thorwolpert opened #8145 "setup Repo"

[2021-07-07 19:33] thorwolpert opened #8146 "setup Registry Team (public)"

[2021-07-07 19:33] thorwolpert opened #8147 "setup Registry Team (private)"

[2021-07-07 19:34] thorwolpert opened #8148 "verify if extra GCP projects are needed"

[2021-07-07 19:43] #7974 closed

[2021-07-07 19:48] mstanton1 commented on #7638
@amit4610 all quarterly review documents, including the listing of active users, are in the folder located here:

https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/SitePages/Home.aspx?RootFolder=%2Fsites%2FSBC%2FREG%2FProjects%2FMVSM%2FModernization%20Docs%2FRelationships%20Docs%2FQuarterly%20Review&FolderCTID=0x012000B818EF4733FA1245879E82E0E935EF33&View=%7BCBE939D1%2DBFD3%2D4673%2DB684%2D28B

[2021-07-07 19:49] janisrogers commented on #8068
@PatrickAHeath  This looks to be a duplicate of #8000. Can we combine them?

[2021-07-07 19:56] thorwolpert opened #8149 "leverage standby database project"
- [ ] determine if standby DBs will meet the warehouse / reporting needs
- [ ] determine if any DBs are needed, that aren't in the _risk target group_
- [ ] open tasks to replicate any missing DBs

[2021-07-07 19:58] jyoti3286 commented on #7783
@saravanpa-aot Updated Scenario 5 to have Branch/Division number editable

[2021-07-07 20:05] amit4610 commented on #7638
Thanks @mstanton1. Our list is growing. Over to @jyoti3286

[2021-07-07 20:41] #6110 closed

[2021-07-07 20:47] #7992 closed

[2021-07-07 20:53] amit4610 commented on #7747
@Sienna-Blumstengel have we heard back? Can we close it?

[2021-07-07 20:55] #7813 closed

[2021-07-07 21:01] mstanton1 commented on #8022
Maribeth has updated the document. Relationships team has reviewed and Maribeth has incorporated feedback.

Track changes are being removed for this to be sent to Genevieve.

[2021-07-07 21:01] amit4610 commented on #8103
all yours @stevenc987

[2021-07-07 21:04] severinbeauvais commented on #6959
This ticket needs to be verified. It may be resolved by [6507](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6507).

[2021-07-07 21:07] #7745 closed

[2021-07-07 21:09] #7542 closed

[2021-07-07 21:18] tlebedovich commented on #7745
Do we need to add the "I need to look up my NR number" link onto the dashboard now?

[2021-07-07 21:26] tlebedovich commented on #7018
@Sienna-Blumstengel or @Kaineatthelab Can you please make us a design ticket for this so it gets put into the cue for design grooming if needed

[2021-07-07 21:29] severinbeauvais commented on #6961
This is apparently working now. (You can test with the NR in the comment above, or NR 5441218 / sss@ggg.ccc / 1234.)

Sample results:
[https://app.zenhub.com/files/157936592/614a4c43-99af-4d53-9971-90566c7c8172/download](https://app.zenhub.com/files/157936592/614a4c43-99af-4d53-9971-90566c7c8172/download)

[2021-07-07 21:51] jdyck-fw commented on #8041
Re-opening for visibility while we get Zenhub write permissions in place for Yui.

[2021-07-07 21:53] Kaineatthelab commented on #6535
not alot of options:)

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/12380ffd-4ef4-48e8-954d-954bd0d2b337)

[2021-07-07 21:56] jdyck-fw commented on #8041
@pwei1018 - Could you please review and ensure that Yui has write permissions for the project. Though he was able to comment here, he is unable to assign a ticket to himself still.

https://github.com/yuisotozaki

[2021-07-07 21:57] severinbeauvais opened #8150 "Filings UI: ARs should use minDate and maxDate from API"
**Description:**

At the moment, COOP ARs calculate their Min and Max dates (and BCOMP ARs their Next and Due dates) differently. These dates may come from the API or may be calculated in the UI.

Now, thanks to [7776](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7776), the todo business object returned from the Legal API contains arMinDate and arMaxDate.

[2021-07-07 21:58] severinbeauvais commented on #7776
I created ticket [8150](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8150) as a continuation of THIS ticket to update the Filings UI accordingly.

[2021-07-07 22:31] Sienna-Blumstengel opened #8151 "UI Design - Inform users if their NR will be refunded or not"
See blocked dev story for details

[2021-07-07 22:33] #8151 closed

[2021-07-07 22:33] Sienna-Blumstengel commented on #7018
@tlebedovich Could we repurpose https://app.zenhub.com/workspace/o/bcgov/entity/issues/7277 to be used for the buttons, as well as all other messaging/design needed for this feature?

[2021-07-07 22:34] lmcclung commented on #7745
@tlebedovich no, we can do that later.

[2021-07-07 22:35] thorwolpert commented on #8094
completed.
Updates to colin should be verified before closing.

[2021-07-07 22:40] Sienna-Blumstengel commented on #7747
Have not heard back so i think we can assume this can be closed!

[2021-07-07 22:40] #7747 closed

[2021-07-07 22:46] amit4610 commented on #8094
Who can verify Colin updates? @thorwolpert @Sienna-Blumstengel

[2021-07-07 22:46] mstanton1 opened #8152 "NR Refunds July 7th - 13th"
#### Description

1. - [x] NR 8116991. Client has provided a credit card statement showing two charges for 131.50 on June 10th. Please refund one payment of $131.50. (INC0099615)
2. - [x] NR 1357558. Please refund full amount of $31.50. (INC0099621)
3. - [x] NR 8305175 - Please refund full amount of $131.50.  (INC0099819)
4. - [x] NR 1574286, INC0100039,
5. - [x] NR 2422841, INC0100083
6. - [x] NR

[2021-07-07 22:48] thorwolpert commented on #8094
Someone with staff access to Colin

[2021-07-07 22:50] amit4610 commented on #8094
@Sienna-Blumstengel do you know someone who can verify colin and please ask them?

[2021-07-07 22:57] severinbeauvais commented on #7018
^^ I was going to ask the same thing :)

[2021-07-07 23:14] severinbeauvais opened #8153 "Verify - NR UI: duplicate Retry Payment / Cancel Name Request buttons"
**Describe the bug in current situation**
I observed two code paths to display the 2 subject buttons:
- a template block that displays if there is a pending payment
- the general template block loop that displays all actions dictated by the API

It should be possible to reproduce this ticket with a NR pending payment.

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e

[2021-07-07 23:35] Sienna-Blumstengel commented on #8094
To Kat:

[2021-07-08 00:39] tlebedovich commented on #8065
@janisrogers - designs are ready for your review. With a question in Invision for you.

c/c @forgeuxGH5

[2021-07-08 00:40] tlebedovich commented on #8065
@janisrogers - looks like the dev ticket includes updates to the regular user dropdown as well, so we can do a comp to remove the Misc options and add abbreviations if that's what you want to do.

[2021-07-08 00:50] tlebedovich commented on #6925
so @doug-lovett The user's payment could go through and then the saving of the draft or completion of registration can still fail for item 8? So they could be pretty much done and lost it all? argh. Autosave would be pretty valuable for this app ;)

[2021-07-08 09:39] vysakh-menon-aot commented on #7277
@severinbeauvais I agree, in this case the api should decide whether to display the `Cancel and Refund` button. I just noticed the solution mentioned here and the solution mentioned in the blocking ticket are different. This ticket says not to show the button where as 7018 says show the button and provide a message after cancelling NR

[2021-07-08 14:18] PatrickAHeath commented on #6925
@doug-lovett And if network issues, the payment rollback wouldn't work either?

[2021-07-08 14:23] PatrickAHeath commented on #8068
Description from #8000:

There is a lot of confusion on what trust indenture is from users and it is often selected when it shouldn't be. We may want to de-emphasize it and/or add more text explaining when to use it and that removing it (if selected in error) requires a court order.

Needs design.

Will close #8000.

[2021-07-08 14:24] PatrickAHeath commented on #8000
Combined with #8068.  Closing issue.

[2021-07-08 14:24] #8000 closed

[2021-07-08 14:58] janisrogers commented on #6925
I think we should be saving every page as the user goes to the next page, even if they don't click save

[2021-07-08 15:09] forgeuxGH5 commented on #6535
Where the pop currently appears in dev is OK (lower left).
Can we set a custom accent colour?
I'm assuming the alternate colour is the text...?
Can we enable the Hot Jar branding Hide control or would we have to upgrade the plan to get that? I don't like how it links out to their site - and it looks like gov is recommending/promoting Hot Jar.

[2021-07-08 15:09] janisrogers commented on #6577
Decision to make separate version of STRA. Here is the first draft. Need to review Assessment section of LEAR STRA for what needs updating. @Kaineatthelab I need your input on the 'Harm Table' ( in the appendix of the PPR STRA)

[PPR STRA](https://app.zenhub.com/files/157936592/cfb3c082-171c-4bbd-8ec5-06fdbd8e85e8/download)
[LEAR STRA](https://app.zenhub.com/files/157936592/61e77d2b-2cb9-4ad7-8d2c

[2021-07-08 15:20] janisrogers commented on #7878
They have been added.

[2021-07-08 15:35] tlebedovich commented on #6925
@doug-lovett,  @forgeuxGH5 mentioned that he thinks the IA app automatically saves a draft when the user hits “File and Pay”. If that is the case we should also be saving a draft when the user hits Register and Pay.

I guess the issue here is we may need to look into a bigger solve to protect the user from losing all their work versus just the error modal? 😬

[2021-07-08 15:35] mstanton1 opened #8154 "Delete Account - Lardeau Valley Consumers Coop 845"
"Account Management"

#### ServiceNow incident: INC0099629
#### Contact information
Staff Name: Lauren Nixon
Staff Email: Lauren.Nixon@gov.bc.ca

#### Description
Good afternoon,

As per the below email, the client has two accounts on the Business Registry. She is no longer using “Lardeau Valley Consumers Coop” (account number 845) and would like to deactivate and close that account. She used to l

[2021-07-08 15:37] mstanton1 commented on #8154
@gh20s can you please deactivate Lardeau Valley Consumers Coop, account 845 and let me know when that's complete.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/75d5a4ca-1ce7-4226-a314-19aa79aac998)

[2021-07-08 15:46] Sienna-Blumstengel commented on #8039
What release label should this go in? @lmcclung @severinbeauvais
along with 8049, which was completed as part of this ticket

[2021-07-08 15:50] pwei1018 commented on #8154
@mstanton1 Done.

![image](https://user-images.githubusercontent.com/44277752/124952979-910e8300-dfc9-11eb-83ad-fb94cf8702bd.png)

[2021-07-08 15:55] lmcclung commented on #5546
Walter raising tickets with EDB to trouble shoot issues.  We're waiting for issues to be resolved before we start using it.  Suspect end of July or early August.

EDB is a cluster database that runs concurrenty, so that if one goes down due to OCP upgrades, etc. there is still another one that instantly picks it up.  Avoids crashes and corruptions.

A standby database takes 10-45 seconds to come i

[2021-07-08 15:57] PatrickAHeath commented on #8109
Client has been able to complete her Annual Report filing.  (Suspect that modifying the Registered Office address to include Address Line 1 resolved the issue with activating the File and Pay button)

Issue closed.

[2021-07-08 15:57] #8109 closed

[2021-07-08 15:57] tlebedovich commented on #6535
I can look into the colours/icon recommendations today. Just need to locate my hotjar log in info somewhere...

[2021-07-08 16:00] cameron-freshworks commented on #5941
@lmcclung @Kaineatthelab
Do we need the location dropdown here as well?
Seems if we are able to edit between any of the options in the dropdown we might need to know the location(BC, XPRO-BC, XPRO-INT)?

[2021-07-08 16:04] severinbeauvais commented on #7277
I think so, for Premium users right? It looks to me, for example in "upgrade.vue", that the `isPaymentRequired` flag is checked. This should handle PAD users (if the API handles it).

[2021-07-08 16:05] mstanton1 commented on #8154
I have advised SBC IT Ops that this request has been completed.

[2021-07-08 16:05] severinbeauvais commented on #7277
@lmcclung @Kaineatthelab @forgeuxGH5 Which way do you want it?

[2021-07-08 16:21] #8041 closed

[2021-07-08 16:27] severinbeauvais commented on #8039
It looks to me like the last release included up to 7398 (Added Folio Number) on June 22.
https://github.com/bcgov/namerequest/commits/main

Therefore, every PR since then should be in a new release. I see release tickets 8112 and 8113 but I'm not sure if they're the correct ones. I do see a "Name Request - Auto analyze features for names request" release report that may be suitable.

@jmills-cgi,

[2021-07-08 16:28] mstanton1 commented on #8057
PIA has been updated by Jyoti and sent to PCT as per instructions.

[2021-07-08 16:32] #8154 closed

[2021-07-08 16:33] chdivyareddy commented on #7554
Need to confirm with Relationships Team (PDF report doesn't match)

[2021-07-08 16:46] jmills-cgi commented on #8039
@lmcclung please comment

[2021-07-08 16:53] yuisotozaki commented on #7827
- NR Renew should be available 5 days before expiry date and the user keeps the same NR number. NR Renew should not be available ahead of 5 days before expiry or on or past expiry date.
- NR Resubmit should available within 30 days of expiry and the user gets a new NR number. NR Resubmit should not be available before expiry or beyond 30 days after expiry. UI Design for this part was completed in

[2021-07-08 16:58] mstanton1 opened #8155 "Staff Communication for Address Field / Passcode Reset"
"Account Management"

#### Description
Recently staff worked with a client who was unable to file an annual report due to a missing address. The staff member lacked awareness of the importance of the account address field.

When digging further it seemed the account address was missing. Patrick notes:  the original problem was that the client couldn’t affiliate with the two coops because they were

[2021-07-08 17:09] amit4610 opened #8156 "Update maximus job aides with new links and screens"
Due: Tuesday, July 13

[2021-07-08 17:20] Sienna-Blumstengel commented on #7827
@yuisotozaki I have an update, we just defined [8092](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8092) which will change the window to "renew" from 5 days to **2 weeks** before expiry

[2021-07-08 17:22] severinbeauvais commented on #6959
Kaine and I discussed this just now and, yes, Kaine would like this (esp Part 3) resolved before BCOL decommissioning since this is causing user issues currently.

[2021-07-08 17:27] amit4610 opened #8157 "FAS routing slip status change scenarios"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name:
Staff Email:

#### Description
Summarize issue and attach email OR copy and paste email content into ticket

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhu

[2021-07-08 17:36] jyoti3286 commented on #8058
The PIA checklist document has been submitted to PCT for review:

Email confirmation from PCT:

Hello,

Thank you for submitting your PIA.  Your tracking number is CITZ21050 and has been assigned to Chris.  If you have any questions or are working under a tight deadline, please contact Chris directly.

Thank you,

Wynne MacAlpine
Privacy Analyst
Privacy, Compliance and Training Branch
Ministry of

[2021-07-08 17:56] riyazuddinsyed opened #8158 "Verify: Annual Report due date says Today but it's wrong"
**Describe the bug in the current situation**
When the Due date of the BCOMPS annual report was yesterday which is July 7 2021 but when the user opens the AR the  Due date says Today even though Today's date is July 8, 2021.

**Impact of this bug**
All the users filling the AR with the Due Date

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/auth/account/2079/busines

[2021-07-08 17:58] amit4610 commented on #8156
Last edited by Sienna: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3575

[2021-07-08 17:58] mstanton1 commented on #8057
The PIA checklist document has been submitted to PCT for review:

Email confirmation from PCT:

Hello,

Thank you for submitting your PIA. Your tracking number is CITZ21050 and has been assigned to Chris. If you have any questions or are working under a tight deadline, please contact Chris directly.

Thank you,

Wynne MacAlpine
Privacy Analyst
Privacy, Compliance and Training Branch
Ministry of Ci

[2021-07-08 18:14] janisrogers opened #8159 "S & H AUTO SALES INC. BC1302455 Alteration from a Benefit Company to a BC Limited Company"
#### ServiceNow incident:
INC0099662
#### Contact information
Staff Name: Kathy Langlois

#### Description
Please alter this Benefit Company to a BC Limited Company

Please see attached [Alteration Form](https://app.zenhub.com/files/157936592/eb020e9a-8104-4263-86e0-5f6697d2a7df/download). Nothing else is changing in the request

Fees in the amount of $100.00 were submitted under routing slip numb

[2021-07-08 18:35] #8075 closed

[2021-07-08 18:39] #8010 closed

[2021-07-08 18:39] #8076 closed

[2021-07-08 18:40] #8059 closed

[2021-07-08 18:47] tlebedovich commented on #6535
@Kaineatthelab - in order to get rid of hot jar branding, and to try an icon other than the face bubble style, we need to upgrade to the business account (1188 Euro per year). Are we doing this? If yes, could you do the upgrade now and then we can play around with the colours/icons on the site?

[2021-07-08 18:56] tlebedovich commented on #6535
And sorry Kaine - You are talking about adding the "Feedback" modal as opposed to the "Survey" modal, correct? These are two different things no?

![Screen Shot 2021-07-08 at 11.55.57 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/6ca5191f-02ae-4f4a-b809-fbaad752dadb)

[2021-07-08 18:59] Sienna-Blumstengel opened #8160 "Document temporary processes in NameX and Name Request OneNotes"

[2021-07-08 19:09] tlebedovich commented on #6535
@forgeuxGH5 @Kaineatthelab - *If we are doing the feedback widget and using the free version (no icon options), I would recommend putting it in the middle right and in the dark blue #003366 so it matches more with the Chat tab. I have turned this on for the dev site so you can see it in action. When this widget is in the lower left, it turns into just a big icon without the word "Feedback" and it'

[2021-07-08 19:23] chdivyareddy commented on #7554
In Current PDF Transaction details are displayed in the 2nd page leaving 1st page blank
Layout shouldn’t drop to a second page like that it should go under “transactions”, date should follow YYYY-MM-DD order and lot of missed “bold” fonts.
It is not aligned with the mockup screen
[https://app.zenhub.com/files/157936592/bad3f430-a17b-42c1-9d1c-80efe3ec8de1/download](https://app.zenhub.com/files/157

[2021-07-08 19:26] severinbeauvais commented on #6959
I tested in Dev with NR 3283745 / sss@ggg.ccc / 1234 (in various states).

Final result (ie, part 3):

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/660e2567-00dc-4e92-be0a-6721f0665c4c)

In other words, I think this ticket is resolved.

[2021-07-08 19:31] severinbeauvais commented on #6959
The commits for 6507 were merged about 4 months ago, so even though that ticket was not labelled with a release, it should definitely be in Prod by now. (I don't know how to test in Prod with a fake NR.)

[2021-07-08 19:34] #7704 closed

[2021-07-08 19:48] pwei1018 commented on #8159
@janisrogers I ran the Jupyter notebooks and create the filing. It is in payment pending status now. Please review it.

![image.png](https://images.zenhubusercontent.com/5bf5f0484b5806bc2bf6f0cb/3abcfcb1-89b5-467f-9947-1809d4e870c1)

[2021-07-08 19:59] sumesh-aot commented on #7554
@chdivyareddy can you create a bug ticket for us to work ?

[2021-07-08 20:05] andrepestana-aot commented on #8150
There's an issue with dateToPacificDate() in TodoList.vue:

![Clipboard - July 8, 2021 7_59 PM.png](https://images.zenhubusercontent.com/601c6b4f5322cf5c519d503f/4ea99193-0e57-4427-99b7-a3757096a9fd)

![image.png](https://images.zenhubusercontent.com/601c6b4f5322cf5c519d503f/cbd3f09d-6b07-42af-ac9c-d1a2d7f9ce41)

[2021-07-08 20:41] argush3 commented on #7882
@riyazuddinsyed when verifying things are working for the duplicate email message tracking functionality, you can port forward to the postgres db(`tracker-db`) via openshift port forwarding.  There should be a table called `message_processing` that is tracking messages that have been processed by `entity-emailer`.  You should be able to see a message come into the queue when you create a NR and pa

[2021-07-08 20:45] Sienna-Blumstengel commented on #7873
@Kaineatthelab just making sure this hasn't been forgotten - anything else we need to do here? What are next steps?

[2021-07-08 20:46] tlebedovich commented on #7619
@forgeuxGH5 - can you attach your working spreadsheet to this ticket as well?

[2021-07-08 20:46] forgeuxGH5 commented on #6535
Link to Hotjar site
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/d5119794-1bc9-4bb1-8ff6-4ea070539271)
Hotjar is a hyperlink to their site which could be seen as an endorsement of Hotjar (even having Hotjar as text could be seen as an endorsement)

[2021-07-08 20:47] chdivyareddy opened #8161 "Transactions/Statements PDF Content Format Issue"
In Current PDF Transaction details are displayed in the 2nd page leaving 1st page blank
Layout shouldn’t drop to a second page like that it should go under “transactions”, date should follow YYYY-MM-DD order and lot of missed “bold” fonts.
It is not aligned with the mockup screen
**UI Mockups**
https://preview.uxpin.com/138830bf5f62de03c6fc4264a1cad37389e52a6d#/pages/138608342/simulate/no-panels
h

[2021-07-08 20:52] argush3 commented on #8064
This does not need to be QA'd as it is related to #3796.  i.e. if #3796 passed QA, then this ticket is also verified to be working and complete.

[2021-07-08 20:54] Kaineatthelab commented on #6535
I assume that is removed when you pay premium?

[2021-07-08 20:54] chdivyareddy commented on #7554
Hey @sumesh-aot , I have created a new ticket for this issue.
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8161

[2021-07-08 21:00] Sienna-Blumstengel commented on #6747
Duplicate of 7916

[2021-07-08 21:00] #6747 closed

[2021-07-08 21:04] Sienna-Blumstengel commented on #7685
@amit4610 could you please ask your team who would be a good resource to ask about this

[2021-07-08 21:05] tlebedovich commented on #6535
yes, the non branded version its listed as a feature of premium.

[2021-07-08 21:35] Kaineatthelab commented on #7873
thank you!! emailed Carol for a decision:)

[2021-07-08 21:43] amit4610 commented on #7685
@saravankumarpa worked on Minio and will be happy to help. @Sienna-Blumstengel

[2021-07-08 21:53] lmcclung commented on #8126
Throwing estimate on this for planning purposes - can re-etimate once pulled into sprint.

[2021-07-08 21:59] janisrogers commented on #7554
@chdivyareddy I think for Registration Number search, we are sending the wrong information. The second line should have the format **type: value**

PPR Search - 06-30-2021 $7.00 $0.00 $1.50 $8.50
Debtor Individual Name: Mitchell, Raymond

PPR Search - 06-29-2021 $7.00 $0.00 $1.50 $8.50
~Search by~ Registration Number: 7409514

[2021-07-08 22:02] Kaineatthelab commented on #6959
yaaaaaaaa

[2021-07-08 22:54] SateeshFW commented on #6693
Need to identify the full set of rules to be applied to the account name.

[2021-07-08 23:00] SateeshFW commented on #6700
Added estimation for analysis of the issue

[2021-07-08 23:00] severinbeauvais commented on #7827
@forgeuxGH5 @tlebedovich

As I have started work on 7811 and 7828, can I get an inkling of the design ASAP? (Final design can proceed concurrently.)

Sliding tab as in the payment modal?

[2021-07-08 23:07] jyoti3286 opened #8162 "Reason Field mIssing in case of Affidavit rejection"
**Describe the bug in current situation**
When Staff rejects the account, the reason for rejection should be present in the Review page so that staff knows why they rejected the account

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Chance of Occurring (high/medium/low/very low)**

**Pre Conditions: which Env,

[2021-07-08 23:23] chdivyareddy commented on #7140
Verified in DEV.

[2021-07-08 23:24] severinbeauvais commented on #7828
I am working on this ticket at the same time as 7811.

[2021-07-08 23:57] yuisotozaki commented on #7827
Attaching the Upgrade modal here for review @forgeuxGH5 @tlebedovich
Design is based on existing Confirm Name Request modal.
![NR Staff Upgrade Priority Modal](https://user-images.githubusercontent.com/56084999/125003973-4ca4d680-e00d-11eb-8f62-263bf86bf8f4.png)
I'd like to chat again about how quick review processes for my deliverables until I'm up to speed with being able to deliver what dev tea

[2021-07-09 00:09] tlebedovich commented on #7827
hi @yuisotozaki - there is any existing redesigned Upgrade to Priority modal I had already created - should be in that Sketch file I gave you, looks like my screenshot below.

Then for Staff, when they click the Continue to Payment, the screen would slide sideways and show the Staff Payment model

[2021-07-09 00:15] yuisotozaki commented on #7827
@tlebedovich Forgot about the sketch file. Thanks! Removing screenshot from my previous comment.

[2021-07-09 00:21] tlebedovich commented on #7827
@yuisotozaki - To note: the upgrade payment modal I included above is a revised one for regulars users (with intro text geared towards users) - but I don't think it's been implemented yet, and that text isn't needed for Staff, so the Staff version could use that modal same design, but just remove the instructional text (since it's not implemented yet anyway)

[2021-07-09 00:22] severinbeauvais commented on #7827
Both of these are business rules that the namex API needs to (or already does?) implement, ie, the API specifies which action buttons to display.

Question: do these 2 items affect any text in the UI?

[2021-07-09 00:25] tlebedovich commented on #7827
@severinbeauvais - those two items are in separate tickets so I assume would be sorted out outside of this UI Design ticket for Yui.

[2021-07-09 00:27] yuisotozaki commented on #7827
@severinbeauvais I hope this gives you a direction for now - I'll attach the updated mockups when the button labels are figured out.

The two bus rules I mentioned controls the visibility of the "Renew Name Request" and "Resubmit Name Request" buttons. As such, the effect to text would be titles of the modals and the final button to indicate to the staff user whether or not they're renewing or res

[2021-07-09 04:28] rarya-freshworks opened #8163 "Sorting of columns not working"
**Describe the bug in current situation**
When a user logs in IDIR/staff and access to account management sorting of columns under different tabs is not working as expected.

**Impact of this bug**
Staff members and all users having access to Account management.

**Chance of Occurring (high/medium/low/very low)**
high/medium

**Pre Conditions:**
1. Access to Web application as Staff/admin member w

[2021-07-09 13:59] vysakh-menon-aot commented on #7829
Its already covered in https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6555.

[2021-07-09 14:49] cameron-freshworks opened #8164 "Namex Edits Not Reflecting in Name Request UI"
**Describe the bug in current situation**
When a staff updates request type, locations or actions in Namex UI. These changes are sometimes present in the data set in Name Request UI but the UI is not reflecting those updates.

Keep in mind any changes made in Name Request UI ARE reflecting in the Namex UI

**Link bug to the User Story**

**Impact of this bug**
This will impact and confuse any clie

[2021-07-09 15:31] jinghualicgi commented on #8106
From: Stanton, Melissa CITZ:EX <Melissa.Stanton@gov.bc.ca>
Sent: July 7, 2021 1:40 PM
To: Li, Jinghua <jinghua.li@cgi.com>
Cc: Peaker, Jennifer L <jennifer.peaker@cgi.com>; Sparks, Kaine CITZ:EX <Kaine.Sparks@gov.bc.ca>
Subject: RE: Can you please help with below IDIR task in on-boarding process?

EXTERNAL SENDER: Do not click any links or open any attachments unless you trust the sender and know

[2021-07-09 15:35] jinghualicgi commented on #8106
Now pending on IDIR, I will follow up next Monday July 12.
Other TBD: 1) client email; 2) share point access right

[2021-07-09 15:46] Kaineatthelab commented on #7346
is this done? @pwei1018

[2021-07-09 15:46] Sienna-Blumstengel opened #8165 "Email template for Renewal of NR"
- [ ] Use new design (already build in 8166)
- [ ] build email template for Renewal of NR

See story for requirements and email content

[2021-07-09 15:46] Sienna-Blumstengel opened #8166 "Email template for Upgrade of NR"
- [ ] build UI template based on 7679, for all email templates
- [ ] build template for upgrade of NR

see [story](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6136) for content

[2021-07-09 15:47] tlebedovich commented on #7437
item 8
scott notes - trigger save (to draft?) when they hit Register and Pay, and if they can't save it, payment shouldn't go through unless/until they can save it. if they can't save, say that it can't save and to try again later.

save buttons - saves a draft of current snapshot

item 10

blank table with a retry button or message and contact us if this issue does not resolve. see if devs could

[2021-07-09 15:47] mstanton1 commented on #8155
Draft complete. I have tested and will work further with our dev team to verify content.

[https://app.zenhub.com/files/157936592/7af1c049-89ef-4104-9f1f-b649f058505c/download](https://app.zenhub.com/files/157936592/7af1c049-89ef-4104-9f1f-b649f058505c/download)

[2021-07-09 15:48] Kaineatthelab commented on #6649
@magszymanski can you use this ticket to track the Alpha group next phase:)?

[2021-07-09 15:51] severinbeauvais opened #8167 "Namex API: remove EDIT action when NR is in pending payment status"
The namex API should not allow the EDIT action when the NR is in pending payment status.

This is required for an update in #7811 where some special UI code was instead deciding which action buttons to display, and is being removed. (The API should specify which actions are valid, not the UI.)

[2021-07-09 15:52] PatrickAHeath opened #8168 "0789965 B.C. LTD. BC0789965 Alteration to a Benefit Company"
#### ServiceNow incident: INC0099791
#### Contact information
Staff Name:  Kathy Langlois
Staff Email:  Kathy.Langlois@gov.bc.ca

#### Description
Can you please open a ticket with the lab to file an Alteration to a Benefit Company.  Request includes change to Articles to include Benefit statement.

Affiliation info (mandatory - BC Registries account name or BCOL a/c): 330190 Company email (mandat

[2021-07-09 16:06] lmcclung commented on #7246
@eve-git Hi Eve, can you look at this one for your next ticket since it's about the MRAS hookup not working correctly?

Thanks.

[2021-07-09 16:17] Sienna-Blumstengel commented on #7479
**From meeting with examiners on features for go-live**

* We need the ability to view the NR details at a glance as well as the history of the name as submitted to view previous approvals.  It would be great if Namex could display the same details as NRO: - with the recent updates to namex search – needs clarification
Submitted by is important, consent required is important also
* Ok sounds good,

[2021-07-09 16:18] severinbeauvais commented on #7827
Thank you very much, Yui and Tracey!

I now have the bulk of the pages/functionality implemented. Let me know any final title/button/wording changes. I will pass it by you (Yui) before I commit the changes.

PS I am implementing tickets 7811 and 7828 -- neither of these refer to "reapply" -- is that a separate issue then?

Cheers,
Severin

[2021-07-09 16:24] Sienna-Blumstengel opened #8169 "NameX Advanced Search - remove timeout, and add "stop search" button"
### Background:

Staff concern:

 - this is the result of the application timing out, as before in good practise should reduce the submitted by time, we can either add the submitted by default time to a shorter period like 5 years would return quicker results. Also can add a timeout pop up so you know why it didn’t return a result

* Would you be ok with default setting to 5 years, so it doesn’t t

[2021-07-09 16:28] Sienna-Blumstengel commented on #8067
@forgeuxGH5 @tlebedovich would you like a design ticket for this, or is it pretty straight forward?

[2021-07-09 16:33] #6961 closed

[2021-07-09 16:33] #8062 closed

[2021-07-09 16:33] #3796 closed

[2021-07-09 16:33] #8064 closed

[2021-07-09 16:33] #4113 closed

[2021-07-09 16:33] #4114 closed

[2021-07-09 16:35] Kaineatthelab commented on #7479
so sounds like they want the account number in the table:) previously they agreed it would be in the NR like the pic above:)?

[2021-07-09 16:38] tlebedovich commented on #7827
@severinbeauvais Design is not finished for these (7811 and 7828 all fall under this UI design ticket which Yui was just assigned and needs some time to get up to speed with his first ticket). So Yui will be posting his designs here for all when done. ps also tag me on the UX Assurance when any are ready to review.

[2021-07-09 16:39] lmcclung commented on #7289
@Sienna-Blumstengel I'm closing this one.

[2021-07-09 16:39] #7289 closed

[2021-07-09 16:42] tlebedovich commented on #8067
@Sienna-Blumstengel I think you can let Devs know to use the same text styling as used above - so the reason would appear on a second line underneath the small in the small text. And the row height should increase in order to fit it in nicely.

c/c @forgeuxGH5

[2021-07-09 16:51] riyazuddinsyed opened #8170 "I am filling this NR on my behalf is not checked"
**Describe the bug in the current situation**
When the user files an NR then on the Submission Details Applicant the checkbox for I am submitting on my OWN behalf is not being checked thereby assuming that all the users are submitting the NR on behalf of the client

**Impact of this bug**
All users filing the NR

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/namerequest/'
2.

[2021-07-09 16:55] tlebedovich commented on #8115
design is done and this ticket is ready to go @janisrogers

[2021-07-09 17:02] riyazuddinsyed opened #8171 "NR Type Mapping service does not have any required parameters"
**Describe the bug in the current situation*
In the Mapping endpoint for the NRType, there are certain parameters that are all optional, and hitting the endpoint without any parameters renders the whole JSON.

2.In the GET request parameters both the nrType CD and the Entity Type CD are rendering the same results using the same values

Steps to reproduce the behavior:
1.Go to swagger doc and hit t

[2021-07-09 17:19] mstanton1 commented on #8155
Reviewed Test results with Sumesh. He deleted further data on the account I was testing with which changed results. Document above has been updated. This has been sent to Julie for an initial review.

[2021-07-09 17:20] tlebedovich commented on #8004
design is done and this is ready to go

[2021-07-09 17:21] #7506 closed

[2021-07-09 17:39] tlebedovich commented on #7553
hi @janisrogers and @PatrickAHeath - did you have an answer for me question above? hoping to close this design ticket :)

[2021-07-09 17:44] tlebedovich commented on #8166
@rkim13103 - This is the first email to design early next week that can be the basis of the email template design. Content for the emails should be linked in the story.

[2021-07-09 17:57] lmcclung commented on #6838
De-prioritizing this for now.

[2021-07-09 18:00] tlebedovich commented on #7679
@rkim13103

- let's use Arial Bold/Regular for the system email fonts
- use the text colours from the app styleguide since this is screen-based (

- need to design a nice header treatment that includes the following:
- bc gov logo
- bc registries and online services
- app name
- optional - title of communication (unless this is already covered in the email subject line)
- sample header, subhead an

[2021-07-09 18:19] Sienna-Blumstengel commented on #8126
@Sienna-Blumstengel @lmcclung ask @amit4610
Is there an email and phone number that is attached to the user? Or just an email and phone attached to the account?

[2021-07-09 18:24] severinbeauvais commented on #8100
I cannot find "5" (days) used anywhere in the UI code.

[2021-07-09 18:25] severinbeauvais commented on #8100
@tlebedovich I cannot find "5" (days) used anywhere in the UI code. What else can I search for?

[2021-07-09 18:38] tlebedovich commented on #8100
![Screen Shot 2021-07-09 at 11.33.49 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/3b2b9c0f-3921-4e9d-841c-4baef8f0d71d)

![Screen Shot 2021-07-09 at 11.34.39 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/69c8a9e6-6614-4b10-af57-f4698ca9a15d)

- Also need to check the wording in the Name Request results PDFs to see if we mention 5 days
- Also need to

[2021-07-09 18:39] PatrickAHeath opened #8172 "NR 5993962 - Client unable to pay for NR - in PENDING PAYMENT"
#### ServiceNow incident:  INC0099857
#### Contact information
Staff Name:  Debbie Blythe
Staff Email:  Debbie.Blyth@gov.bc.ca

#### Description
Client has been trying to enter the above NR, and keeps getting an error message saying to try again later.  When I did a search in NRO I was able to find the NR # (client didn’t get this far) and it says pending payment.  Client tried to manage her name

[2021-07-09 18:48] riyazuddinsyed opened #8173 "None of the entities have the office address or the Directors."
**Describe the bug in the current situation**
When a user affiliates the entities specific to the dev enviornemnt the Office address and the Directors column are blank without any data.

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/business/CP0001686'
2. Log in with BCREG0001
3. See error

**Screenshots/ Visual Reference/ Source**
![Screen Shot 2021-07-09 at 11.46.34 AM.pn

[2021-07-09 18:49] Sienna-Blumstengel commented on #8126
From Scott:

it also populates the user name (based on BCSC) and collects an email and phone for the account admin - checking on team member...

[2021-07-09 18:50] jdyck-fw commented on #8153
Severin fixed this, please test it along with the existing builds

[2021-07-09 18:52] PatrickAHeath opened #8174 "Account Management - Holland and Company"
#### ServiceNow incident:  INC0099860
#### Contact information
Staff Name:  Julie Harding
Staff Email:  Julie.Harding@gov.bc.ca

#### Description
Good afternoon,

I have a paralegal named Tammy Rippon who the other day created a new BC Registry Account with the account name “HOLLAND AND COMPANY”.  She created this account with BCeID, and it was approved yesterday by the BC Online Account Managemen

[2021-07-09 18:53] severinbeauvais commented on #8153
This was fixed in #7811 and requires Namex API fix #8167.

[2021-07-09 18:54] jdyck-fw commented on #8170
This is working as intended.

[2021-07-09 18:55] #8170 closed

[2021-07-09 18:55] mengdong19 opened #8175 "Payment account name is null"
In payment_accounts table, there're some records don't have auth_account_id or auth_account_name, some are using 'CC' as payment method, some are 'DIRECT_PAY'. Most of these are old accounts when we had passcode users. There are a few exception, id 612, 860, 775.

![image.png](https://images.zenhubusercontent.com/5c747659d74bd07972c36d5e/a83d8669-262a-4259-875c-5d2e6c25b5f4)

775 is created by ser

[2021-07-09 18:55] severinbeauvais commented on #8153
### Test Notes

The UI removed some code that handled this specific case. Now the API is specifying which buttons are displayed.

Please verify that only CANCEL and RERY_PAYMENT buttons are displayed for a NR in Payment Pending status.

[2021-07-09 18:58] jdyck-fw commented on #8171
Working as intended.

[2021-07-09 18:58] #8171 closed

[2021-07-09 18:59] severinbeauvais commented on #8150
See also #8158.

[2021-07-09 19:00] jdyck-fw commented on #8158
Assuming you fix this as part of your other ticket, Andre. And so a 0 estimate here.

[2021-07-09 19:05] jdyck-fw commented on #8082
This is at the lower end of the priority 1 tickets. If time goes over the timeboxed estimate, we will consider another ticket to follow.

[2021-07-09 19:07] mengdong19 commented on #7638
Document updated to add one more ticket.

[2021-07-09 19:08] jdyck-fw commented on #8081
This potentially might be addressed with the edit work that SRE team will be doing after NRO decommission.

[2021-07-09 19:08] PatrickAHeath commented on #7553
@tlebedovich Crown and Miscellaneous Act registrations must use a Secured Party that represents the crown, so must select from existing using Client Code.  Still working out how the Crown Client Codes are identified and how they can relate to Registering parties so the correct secured party is used for each act/account.

[2021-07-09 19:14] severinbeauvais commented on #8081
Note: I'm not sure whether this is an API or UI issue. Because it's in Sentry, it means the error was generated in Namerequest UI. It appears the UI is trying to change a Rejected NR to In Progress !?!?

[2021-07-09 19:17] severinbeauvais commented on #8100
The "Expiry Extensions" feature was removed, so the line item above (and its tooltip) are gone.

I will rename the Renew dialog to Extend Expiry and update the text as above. Thanks!

[2021-07-09 19:19] amit4610 commented on #8126
Hi Sienna and Linda, we pass some account information in the auth token, but I am not sure which exact fields.
@saravankumarpa Can you please confirm if the email and phone number is attached to the user and can entities auto fill it?

[2021-07-09 19:20] severinbeauvais commented on #8100
.. And I will change "within 5 days" to "within 14 days".

[2021-07-09 19:22] severinbeauvais commented on #8100
@tlebedovich Do you want to change the button on the NR page?

ATM:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/78356f22-03b0-45f9-b256-7dc11e74184e)

[2021-07-09 19:33] severinbeauvais opened #8176 "Names Examination UI: update wording from "5 days" to "14 days""
This ticket is to update any place in the UI that refers to NR expiry from "within 5 days of expiry" to "within 14 days of expiry".

[2021-07-09 19:34] severinbeauvais commented on #8176
@jdyck-fw For grooming + planning... ASAP?

[2021-07-09 19:36] severinbeauvais opened #8177 "Namex API: update wording from "5 days" to "14 days""
This ticket is to update any PDFs / emails that refer to NR expiry from "within 5 days of expiry" to "within 14 days of expiry".

- [ ] Results PDF
- [ ] Receipt
- [ ] Emails

[2021-07-09 19:36] severinbeauvais commented on #8177
@jdyck-fw For grooming + planning... ASAP?

[2021-07-09 19:49] jdyck-fw commented on #8177
Adding this to the agenda for Monday morning standup.

[2021-07-09 19:56] tlebedovich commented on #8100
hi @severinbeauvais - looks like there was a button/action name change from Extend Expiry to "Renew Name Request" - i'm just going to to confirm this. and to note, that tool tip that was on the Expiry Extensions Remaining above is supposed to move to this button instead. Not sure it that is in another ticket

[2021-07-09 19:57] saravanpa-aot commented on #8126
HI @Sienna-Blumstengel @lmcclung

The token wont have the name for the BCIED user , so it cant be used for this purpose. But there is an endpoint in auth-api which can be used for this. The `/api/v1/users/@me ` can return the name , email details etc. Currently it doesn't have the address , But we can add that for you.

@amit4610 if address has to be added to this api , please create a dependency

[2021-07-09 20:04] chdivyareddy commented on #6981
Verified in DEV.
![Step1.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f38880b3-09b9-425d-90bb-1642143c4260)

[2021-07-09 20:07] tlebedovich commented on #8100
@severinbeauvais @yuisotozaki (so this is why its best to wait for design to be finished as we'll normally work through all this, haha). Anyway, to confirm; button is correct as you have it above Severin - "Renew Name Request ($30)". And the modal title should be "Renew Name Request" (i am assuming that is what is says now). My comps were older ones before the name change to renew happened - Yui p

[2021-07-09 20:10] chdivyareddy commented on #6981
Verified in TEST.
![Step1(Test).png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/5849e8f0-4e97-443f-b189-5c75912eee94)

[2021-07-09 20:14] sienna-blumstengel opened #8178 "Change expire time from 00:01 am to 23:59"
## Background

Got this from a client, and we often get this same type of complaint:

Debbie has suggested we change it from 00:01 am to 23:59 on the date of expiry.

[2021-07-09 20:17] thorwolpert commented on #8178
a bunch of the forms use 12:01 as start of the day and 23:59 as end of the day.
00:00 is hard to know if it is start of the day, and only by convention.

[2021-07-09 20:20] amit4610 commented on #8126
Thanks Saravan, @Sienna-Blumstengel please let us know if you want us to add address to the auth api and I can create a dependency ticket.

[2021-07-09 20:21] mstanton1 commented on #8089
@jyoti3286 @amit4610 @trishreimer release notes have been drafted and saved on SP [here](**https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-4076**).

[2021-07-09 20:21] severinbeauvais commented on #8098
@tlebedovich Please confirm whether I should put the previous Expiry Extensions Remaining tooltip on the Extend Expiry button. (I think this is the first time we are putting a tooltip on an action button. Is it really needed since the wording is already in the ensuing dialog?)

I would make this change in THIS ticket.

And, if yes, could you please provide any updated tooltip wording?

[2021-07-09 20:22] amit4610 commented on #7855
duplicate of 8089

[2021-07-09 20:22] #7855 closed

[2021-07-09 20:30] tlebedovich commented on #8098
Cool, if you can add a tool tip for the button (it should stay 270px wide and float above with the gray arrow pointing down to the middle of the button instead of off to the side). Here is updated copy for it:

Once approved, you have 56 days to use your Name Request, unless you extend the expiry. Within 14 days of expiry you can renew your Name Request for an additional 56 days each time. **A $30

[2021-07-09 20:39] yuisotozaki commented on #8100
Verified that the designs for #7827 uses "Renew Name Request".

[2021-07-09 20:45] argush3 commented on #6968
This can be verified via the `/statistics` endpoint.  To verify this works may require manipulating the submission date of a NR that is in draft state and nr number isn't like 'NR L%'.  By modifying an NR satisfying an unexamined NR in the db to the oldest one you can test that the right wait time(`regular_wait_time` in the response payload) is generated.

[code]

[2021-07-09 20:49] yuisotozaki commented on #7827
Take 2 for the designs for Upgrade Priority, Renew Request, Resubmit Request, and Retry Payment.
For quick review: @tlebedovich @forgeuxGH5 @janisrogers

Take note that in case of **Retry Payment** flow, right now the user is taken directly to PayBC, but we want to intercept that with the Staff Payment screen to give options to the staff. Does this sound right @Sienna-Blumstengel ?

The affirmativ

[2021-07-09 21:22] rarmitag commented on #8172
request table shows status as "PENDING_PAYMENT" but can't find anything in the sbc-pay tables. Nothing in invoices.

[2021-07-09 21:34] jyoti3286 commented on #8162
The issue seems to be fixed. Over to @rarya-freshworks for Final testing

[2021-07-09 21:35] severinbeauvais commented on #8098
I changed my mind on the action button tooltip(s)  -- it will be a new ticket.

[2021-07-09 21:39] severinbeauvais opened #8179 "NR UI: add tooltips to action button(s)"
See design ticket #8100.

- [ ] Add tooltip to Extend Expiry action button.
- [ ] The tooltip should stay 270px wide and float above with the gray arrow pointing down to the middle of the button.
- [ ] The text should be, "Once approved, you have 56 days to use your Name Request, unless you extend the expiry. Within 14 days of expiry you can renew your Name Request for an additional 56 days each t

[2021-07-09 21:45] severinbeauvais commented on #7827
Do you really want the Staff Payment secondary action text to be Exit Payment? Atm it is "Back" (to go the previous tab). This is consistent across all 4 or 5 similar dialogs.

[2021-07-09 21:48] severinbeauvais commented on #7827
Do you really want the first tab  secondary actio text to be Cancel? Atm it is "Close" so that it is consistent across all 4 or 5 similar dialogs. This is so there are not 2 cancel actions in this dialog:

![image](https://user-images.githubusercontent.com/10002889/125139061-af0cde00-e0c4-11eb-8cd5-5120db7a2a08.png)

[2021-07-09 21:49] yuisotozaki commented on #7827
@severinbeauvais Good questions. I'm moving the designs to an Invision board where the design team has a chance to review and align design directions before causing dev fishtailing.

[2021-07-09 21:49] rarmitag commented on #8174
Company exists in orgs table.  bcol_account_id  - 330190

[2021-07-09 22:12] eve-git commented on #7246
I tested in test with Alberta 2110166911 and it works. I suppose that the code in test and prod are the same in this part.
An api-key should be in header for a MRAS request. I wonder if it is correct in prod. The api-key in oracle is at cprd-> SYSTEM_VARIABLES.SYSCHAR_CD='MRAS_API_KEY'
I am looking for the api-key in the app.

[2021-07-09 22:17] tlebedovich commented on #7259
@jordiwes - please make a new ticket for the green check marks as a separate ticket and I will move this along to QA

[2021-07-09 22:18] #8022 closed

[2021-07-09 22:18] tlebedovich commented on #7436
@jordiwes - please make a new ticket for the green check marks as a separate ticket and I will move this along to QA

[2021-07-09 22:23] Maribeth-Wilson opened #8180 "Communicate next step and info about API's for PPR users - How to get access to the Sandbox, get a key, prepare staff for requests, etc."
@magszymanski when we are ready to move forward with communicating the API sandbox details and meeting with clients like D&D to ensure they are ready to use the API's, let's discuss the plan and update this ticket with the work (if a ticket already exists, pls delete one of them.)

[2021-07-09 22:24] PatrickAHeath opened #8181 "NR Cancellation and Refund - NR 7942894"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:  INC0099894
#### Contact information
Staff Name:  Debbie Blythe
Staff Email:  Debbie.Blyth@gov.bc.ca>

#### Description
We received 2 NR’s:

6157827 – can view in Namex
7942894 – Can only view in NRO

Client indicates that he was charged for both.  Can you please cancel 7942894 and process a refund as I ca

[2021-07-09 22:32] PatrickAHeath opened #8182 "CP0001491 The Cedars Housing Co-operative - 2018 AR not filed"
#### ServiceNow incident:  INC0099923
#### Contact information
Staff Name:  Anderson Krause
Staff Email:  Anderson.Krause@gov.bc.ca

#### Description
Hello,

RE: CP0001491 The Cedars Housing Co-operative

The above named cooperative association has filed their 2018 AR. The 2018 AR form is on paper in their folder. However there is no lodger entry either in cobrs or coops online. The client is unab

[2021-07-09 22:45] lmcclung commented on #8177
I looked at the results PDF and it doesn't state any number of days...

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/167e4178-f37f-48a3-9779-3a9e8e9d7eb5)

Nothing on the receipts either.

[2021-07-09 22:45] PatrickAHeath opened #8183 "Synergy Business Lawyers LLP Acct # 592405"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:  INC0098767
#### Contact information
Staff Name:  Debbie Blythe
Staff Email:  Debbie.Blythe@gov.bc.ca

#### Description
Good morning, this is the second person I’ve been contacted by, who has had issues with their BCOnline account.  Can you please have someone look into this, thanks.

Regards, Debbie

----

[2021-07-09 22:47] lmcclung commented on #8177
@argush3 - can you look at the email notification upon receipt of payment to see if we need to amend content there?

I did an NR in Dev an hour ago and didn't get an email confirmation so can't check myself.  Also, shouldn't these emails now be working in dev?

[2021-07-09 22:49] andrepestana-aot commented on #8158
Yes, that'll be fixed as part of #8150.

[2021-07-09 22:53] lmcclung commented on #8177
@argush3 could you forward me a sample of the email notification?

[2021-07-09 22:56] lmcclung commented on #8177
@severinbeauvais @jdyck-fw @argush3 I think part of this is covered in 8099.  API - Update messaging in results PDF

Maybe we can close 8099 as it only included the PDF you download (which is correct) and this one includes the PDF & email notification?

[2021-07-09 23:00] argush3 commented on #8177
@lmcclung i checked in mailhog and i can see the email for your NR.  Doesn't look like any wording changes are needed.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/96004448-90f1-4ea6-a28d-72475e9899b3)

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/af6244df-b5b0-4fc7-919e-25358d6e0797)

[2021-07-09 23:03] severinbeauvais commented on #8177
Sounds like we can close this ticket as there's nothing to change in PDF/receipt/email... unless you want to add wording to those?

[2021-07-09 23:03] jdyck-fw commented on #7475
@lmcclung - After talking it over with Sienna I moved this one out of the sprint during your week away. At the time it wasn't clear if there was work to be done on it by our team and we were aiming to clean up the backlog so people could find work. Is this still required work?

[2021-07-09 23:11] PatrickAHeath commented on #8174
@mstanton1 @amit4610 Could you please take a look at this one?

[2021-07-09 23:12] eve-git commented on #7246
The api-key in namerequest app are different from what in oracle database.

[2021-07-09 23:14] PatrickAHeath commented on #8172
@Sienna-Blumstengel @lmcclung Could you please take a look at this one?

[2021-07-09 23:25] lmcclung commented on #8172
@PatrickAHeath

can you email Debbie and ask if 1) she could ask the client to create a new NR and 2) ask client if they were charged anything (it doesn't look like it at our end)? If they were, we’ll make sure they are refunded any payment for the original NR.

Let her know this NR 5993962 will be cancelled. Once you’ve emailed Debbie/IT Ops, then remove the Ops label and we’ll use the ticket to

[2021-07-09 23:28] amit4610 commented on #8174
The account exists on staff dashboard as active and connected to a BCOL account for payment. Can we check when did this user last log in and were there any errors? @PatrickAHeath @rarmitag

[2021-07-09 23:30] lmcclung commented on #7246
Can someone on Ops pick this up as Eve doesn't have access to PROD yet?

[2021-07-09 23:33] thorwolpert commented on #7246
please do not do that

[2021-07-09 23:41] chdivyareddy commented on #7269
Verified in DEV.
![Capture1.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b1201ac1-d932-4c27-8504-616022af22f9)
![Capture2.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/09d9d2cb-bd30-4f64-a16b-d84286d776d6)
![Capture3.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/070b4129-6a11-4d2e-bdaf-11a2da74c193)
![Capture4.png](https://images.zenh

[2021-07-09 23:46] lmcclung commented on #7246
@pwei1018 I understand you received a new key around May 11th.  Could you update it?

[2021-07-09 23:49] tlebedovich commented on #7270
@jordiwes Hi Steph - Here is my UX Assurance on Folio:

1) It just needs an error validation message that says "Maximum XX Characters Reached" on the Folio field (that shows up if the user types over and disappears if the user remove the extra characters)

- please confirm PPR Registration Folio character count requirements with @PatrickAHeath or @janisrogers

(The Folio for new searches is set to

[2021-07-09 23:55] PatrickAHeath commented on #8172
Email sent to Debbie.

[2021-07-10 00:17] lmcclung opened #8184 "Name Request & NameX issue post BCOL NRO decommission"

[2021-07-10 00:35] lmcclung commented on #8177
Closing this ticket as no dev work required.

[2021-07-10 00:35] #8177 closed

[2021-07-10 00:40] lmcclung commented on #8099
Closing this ticket, there is updating required to change the nuber of days.  If there is any text enhancements wanted these can be done at a later date when we clean up our emails templates.

[2021-07-10 00:40] #8099 closed

[2021-07-10 00:52] lmcclung commented on #8048
I've updated the search criteria - ticket is ready to go.

[2021-07-10 20:28] tlebedovich commented on #7268
hi @jordiwes - the UX Assurance doc has been updated based on review - please refer to the few remaining items:

https://docs.google.com/document/d/17X6ycxD2CjR-SqcNG1udHRRuaCAqOIaka5JrOo6jdyQ/edit?usp=sharing

[2021-07-10 20:51] #3419 closed

[2021-07-10 20:52] #3737 closed

[2021-07-10 22:18] tlebedovich commented on #7681
hi @jordiwes - This is UX Assurance Feedback for Registering Party and Secured Party so there is lots in here. And I had a number of questions in this Google doc for you and Janis, please follow up with Janis and/or Scott for the answers next week while I am away.

https://docs.google.com/document/d/1BUAieiP0BdDst_PndRWtMEMx-9ZDDmnKQS-VrSbxDRE/edit?usp=sharing

c/c @forgeuxGH5 @janisrogers - pleas

[2021-07-10 23:26] tlebedovich commented on #7137
@jordiwes - Here is my first pas UX Assurance notes - many similar items as Secured Parties. but this should give you lots to work on while I'm away :)

https://docs.google.com/document/d/1TWx_nk4wQ5pgGDuS-RcC79-8ByIwjMyhKF9_y1bURGY/edit?usp=sharing

@janisrogers @forgeuxGH5 - two questions -- Should the business VON look up also pull in the addresses too? right now they are just pulling in the na

[2021-07-12 14:17] PatrickAHeath commented on #8159
Filing is on the ledger.
![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/6002c2b1-d9f4-41d6-a0ce-f3fbbc24deaf)
@amit4610 This is from Thursday OPS.

[2021-07-12 14:37] PatrickAHeath opened #8185 "Setup of Crown Charge Restricted Access for Ministry Accounts"
**Who will do this work**
Relationships team

No UI work required

**Background**
Client access to the Crown Charge registrations within the new PPR will be controlled when a client links to their BCOL account and that account already has access to Crown Charge registrations in PPR.  (flag is recognized and access is set upon account creation)
The same functionality is required when setting up Min

[2021-07-12 15:10] janisrogers commented on #7268
@tlebedovich @jordiwes Registering Party can be either a company or a person.

[2021-07-12 15:22] mstanton1 commented on #8185
Note for relationships: Ministry account flow uses reconciliation via EJV. A client is not asked to enter BC Online credentials during account set up so we do not have information on whether they have the flag already.

[2021-07-12 15:28] Kaineatthelab commented on #7137
VON can't pull the address, its not allowed to via Legislation. I believe Steph is still waiting for Kials updated address, so we were fine to just get one in for now....I think

[2021-07-12 15:44] mstanton1 opened #8186 "Staff OneNote Document Review"
#### Description
During the OCM checkpoint Julie Harding mentioned she has been compiling her own notes on BCeID, 2 FA and Authy. It was suggested that these should be shared with staff. First, a review of content has been requested to ensure it is accurate.

10 page document available here: [https://app.zenhub.com/files/157936592/92579a12-d566-4ffe-89cb-8bcd4ee86480/download](https://app.zenhub.c

[2021-07-12 15:45] pwei1018 commented on #7246
@lmcclung @thorwolpert @eve-git @rarmitag According May 11th Update key email, our existing api key in Namex API is a new key. The key in COLIN is the old one we used before.

[2021-07-12 15:51] #7391 closed

[2021-07-12 15:51] #6927 closed

[2021-07-12 15:56] severinbeauvais opened #8187 "NR UI: staff cannot open user's NR"
I am not sure if this is a requirement or even desired, but I expected this would work (ie, same as the other Entity UIs) and it doesn't.

As a staff user,
When I am logged in to the BCROS domain
And I try to load a NR using its "paid URL"
Then I expect the NR to load and display
So that I can see the same thing the user is seeing.

Instead I get a 403 (Forbidden) error.

Sample paid URL: https://

[2021-07-12 15:58] severinbeauvais commented on #8187
This needs to be verified. For whatever reason, I could not access the sample NR using ANY login this morning.

[2021-07-12 16:28] severinbeauvais commented on #7811
### Test Notes

This ticket is implemented along with several others. The following functionality is included and should be verified:

1. Upgrade priority dialog, staff payment tab
2. Renew before expiry dialog, staff payment tab (# 7828)
3. Renew before expiry dialog, updated text (# 8098)
4. Resubmit after expiry dialog + staff payment tab (not testable until future API work is done)
5. Retry pa

[2021-07-12 16:31] #6873 closed

[2021-07-12 16:31] #7777 closed

[2021-07-12 16:31] #6959 closed

[2021-07-12 16:34] yuisotozaki commented on #7827
Design set shared with UX team in Invision - awaiting team review.
Once review is complete, I'll share the Invision link at the top of this issue.

[2021-07-12 16:57] severinbeauvais commented on #7932
@jmills-cgi @lmcclung Is this ticket obsolete (replaced by 9.6 release ticket?)

[2021-07-12 16:58] severinbeauvais commented on #7789
@jmills-cgi @lmcclung Is this ticket obsolete (replaced by 9.6 release ticket?)

[2021-07-12 17:00] severinbeauvais commented on #8015
@jmills-cgi @lmcclung This ticket appears to be a duplicate of #8014. Can we close this one?

[2021-07-12 17:02] lmcclung commented on #7932
yes

[2021-07-12 17:02] #7932 closed

[2021-07-12 17:13] forgeuxGH5 commented on #7137
We wanted to show corp/firm name and incorp/reg number in the VON lookup (this is in the VON redesign ticket). Org book displays number in the detailed view (not the search dropdown) but I figured it should be available since it's in the details.

Most address fields are not optional and shouldn't be labelled and validated as "Optional" unless spec'd as optional per the design.

[2021-07-12 17:26] Sienna-Blumstengel commented on #7479
Yeah sounds like it! Both, maybe?

New column in table: "account". That column contains the **account number** (if NR was requested by authenticated client) or **IDIR** (if NR was requested by staff member) or will be **blank** (if NR was requested by unauthenticated user)

Also show this on the NR details screen in NameX.

@forgeuxGH5 @tlebedovich do we need designs?

[2021-07-12 17:52] Sienna-Blumstengel commented on #4797
![Screen Shot 2021-07-12 at 10.52.08 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/964dc386-7caf-4a72-aae2-e024973edeea)

[2021-07-12 17:53] pwei1018 commented on #7346
@Kaineatthelab Not done yet. I just finish the API Charts. Saravan will do the frontend charts. I will do the Queue and Job charts when I have time later.

[2021-07-12 17:53] chdivyareddy commented on #7140
Verified in TEST.
![API_TEST.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/17816bc3-5381-4afd-9e68-0042c05f7235)

[2021-07-12 18:31] mstanton1 opened #8188 "Change CFS unique identifier from Account Name to Account Number"
#### Description
Currently accounts in the CFS we create accounts based upon account name. This poses a challenge since you can't change an account identifier automatically once it's been set up. Businesses may undergo a change of name and would want to update their name in the Business Registry which would create a mis-match with the CFS.

Change: Use account number as the unique identifier in th

[2021-07-12 18:58] Sienna-Blumstengel commented on #6136
@mstanton1 I like that idea you presented April 22nd! Has much changed since then?
FYI @lmcclung

[2021-07-12 18:58] forgeuxGH5 commented on #7479
Which table? The search table or somewhere in the screenshot above? Here is the search table comp showing Account... Do we just need to implement this?
![image](https://user-images.githubusercontent.com/26335434/125341315-59c10e80-e308-11eb-9338-6b016d479ff9.png)

[2021-07-12 18:59] Sienna-Blumstengel commented on #6136
@forgeuxGH5 Could you please review the content for these emails? I have highlighted what I would like reviewed in pink. https://docs.google.com/spreadsheets/d/11wic6XEals7mLm7l64_Zl5K0YHuRAAfERpFPK--c4m0/edit?usp=sharing
I think this will be picked up next sprint, so we might need a review soon!

[2021-07-12 19:02] doug-lovett commented on #7558
Visual design https://projects.invisionapp.com/share/JW10EM68E6DK#/screens?browse

[2021-07-12 19:03] lmcclung commented on #6136
@forgeuxGH5 fyi, devs definitly picking this up in the next day to two.

[2021-07-12 19:16] Sienna-Blumstengel commented on #7479
Oh excellent! Yep sounds like we just need to implement it. Are you ok with the behavior i have in scenario 2 of the description? @forgeuxGH5

[2021-07-12 19:28] Sienna-Blumstengel opened #8189 "Add account address to /api/v1/orgs/:orgId endpoint"
### Who is this work for
Relationships

### Description
This ticket came from [#8126](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8126), where entities would like to pull the account address from auth to pre-populate in Name Request.
Relationships doesn't have that ready yet, so this ticket will enable us to use the endpoint ` /api/v1/orgs/:orgId` to get t

[2021-07-12 19:29] Sienna-Blumstengel commented on #8126
Thanks @saravanpa-aot and @amit4610 !
I have created dependancy ticket [#8189](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8189) for this.
@lmcclung what is the deadline of their dependancy ticket?

[2021-07-12 19:31] Sienna-Blumstengel commented on #8178
Sounds good, I have updated the description!

[2021-07-12 19:43] severinbeauvais opened #8190 "NR UI: resolve remaining "TODOs" in code"
Namerequest UI code has a couple of dozen "TODO" comments in the code, which are things that need to be fixed / improved / verified. These should ultimately be resolved.

[2021-07-12 19:53] mstanton1 commented on #6136
@Sienna-Blumstengel no changes on the PAD approach. I can't seem to track down the ticket though so will try to do that - I don't believe any further work was completed.

As far as your templates I took a super quick glance and the first one needs an update (Confirmation of refund request). It says if you paid with BCOL you will need to call. We previously implemented an automatic email to the  BC

[2021-07-12 19:55] mstanton1 commented on #8186
Edits have been accepted by Julie. This document will be distributed by Trish.

[2021-07-12 19:55] #8186 closed

[2021-07-12 20:11] forgeuxGH5 commented on #7479
Sure - as long as staff know the difference between the modified by and the account idirs

[2021-07-12 20:28] mstanton1 commented on #8188
Reviewed STRA.

Data stored by the CFS is not covered under our STRA.
_This STRA does not cover PayBC and the Corporate Financial System, the payment processing
application and reconciliation system managed by the Ministry of Finance’s Corporate Accounting
Services. It does cover the elements of information the LEAR application will provide to connect
the clients filing to the invoice and receipt

[2021-07-12 20:34] amit4610 opened #8191 "Account name and payment method"
Title of ticket: [Entity number and name] or "Account Management"

As discussed, if you could please update the spreadsheet to indicate which clients have an account set up and if the account is basic or premium. We will target clients who submit 100 transaction or more, from the ‘count’ tab. If you could also provide the email address (from the other tab) that would help us with the communication

[2021-07-12 20:39] mstanton1 commented on #8106
IDIR has come back and Jinghua has been able to successfully log on and change her PW.

Access has been granted to the Business Registry in TEST.

[2021-07-12 20:39] jdyck-fw commented on #8035
Confirmed permissions by assigning this ticket to Maribeth

[2021-07-12 20:46] lmcclung commented on #8126
@Sienna-Blumstengel @saravanpa-aot @amit4610 - need this for the end of the next sprint - July 27th.

[2021-07-12 20:47] lmcclung commented on #8126
@Sienna-Blumstengel @saravanpa-aot @amit4610 - sorry, just realized Relationships team work needs to happen first.  So really, we need this ASAP as Entities needs to do our work in this sprint (ending July 27th).

[2021-07-12 20:48] janisrogers opened #8192 "PPR Manufactured Home Search"
**Describe the bug in current situation**
PPR Test does not seem to be working for Manufactured Home search.

**Impact of this bug**
Users will get invalid responses when searching by Manufactured Home Registration number

**Chance of Occurring (high/medium/low/very low)**
Very high for a MHR search, but this is not the most common type of search

**Pre Conditions: which Env, any pre-requesites or

[2021-07-12 20:52] mstanton1 commented on #8155
Trish has shared the communication with the OCM checkpoint attendees so they may share with their teams.

[2021-07-12 20:55] mstanton1 opened #8193 "Access to Bambora for Paul Dulai"
#### ServiceNow incident: N/A
#### Contact information
Staff Name: Joanna Barnes
Staff Email: Joanna.Barnes@gov.bc.ca

#### Description
Paul Dulai (PADULAI) needs access to PayBC – for cc lookups on the new NR application.

Please grant access and advise Joanna when complete.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entit

[2021-07-12 21:02] forgeuxGH5 commented on #6136
Reviewed/commented on the pink and orange cells in the table

[2021-07-12 21:10] amit4610 commented on #8126
We will prioritize it tomorrow in our planning.

[2021-07-12 21:34] mstanton1 commented on #8193
Request has been sent to Tara Whalen. While requesting access for Paul I have also requested access be removed for Andy Leong, as he is no longer with the BCOL Help Desk.

[2021-07-12 21:50] amit4610 commented on #8183
Looks like(by going through first few pages of the PDF), that they are looking into the BC Online transaction reporting. The Fees mentioned in the Receipt for NR 8632275(101.5) is not the same on Page 1($31.5). So something is definitely wrong. @stevenc987 can you please investigate why the mismatch is occurring?

[2021-07-12 21:53] severinbeauvais commented on #7827
Has anyone thought about what the Priority Request flag should be for a renew? I assume False since the client already has the NR and just wants to extend it.

What about the Priority Request flag for a resubmit -- should this be the same value as the original NR? Or False, since the old NR still exists (sort of)? Or does it need to be prompted, and if, how?

[2021-07-12 22:29] jyoti3286 commented on #8089
@mstanton1 - Release notes look good. Thank you

[2021-07-12 22:34] mstanton1 commented on #8089
Sent to IT Ops along with Distribution list and subject line.

[2021-07-12 22:35] #8155 closed

[2021-07-12 22:36] yuisotozaki commented on #7827
I presume Priority Request flag for Renew should be false also since there is no staff member interaction.

For Resubmit, I presume false also since it's a new request. The user has the option to then press the "Upgrade Priority" if they want it prioritized again.

@severinbeauvais Please see Invision link at the very top. Design was peer reviewed and revised based on feedback.

[2021-07-12 22:38] SateeshFW commented on #5937
Released to PROD.  Moving it to CLOSED.

[2021-07-12 22:38] #5937 closed

[2021-07-12 22:38] SateeshFW commented on #6270
Released to PROD.  Moving it to CLOSED.

[2021-07-12 22:38] #6270 closed

[2021-07-12 22:39] SateeshFW commented on #7686
Released to PROD.  Moving it to CLOSED.

[2021-07-12 22:39] #7686 closed

[2021-07-12 22:39] SateeshFW commented on #7707
Released to PROD.  Moving it to CLOSED.

[2021-07-12 22:39] #7707 closed

[2021-07-12 22:39] SateeshFW commented on #7716
Released to PROD.  Moving it to CLOSED.

[2021-07-12 22:40] #7716 closed

[2021-07-12 22:40] SateeshFW commented on #7737
Released to PROD.  Moving it to CLOSED.

[2021-07-12 22:40] #7737 closed

[2021-07-12 22:40] SateeshFW commented on #7780
Released to PROD.  Moving it to CLOSED.

[2021-07-12 22:40] #7780 closed

[2021-07-12 22:41] SateeshFW commented on #7781
Released to PROD.  Moving it to CLOSED.

[2021-07-12 22:41] #7781 closed

[2021-07-12 22:41] SateeshFW commented on #7928
Released to PROD.  Moving it to CLOSED.

[2021-07-12 22:41] #7928 closed

[2021-07-12 22:43] jyoti3286 commented on #8162
This has been verified, working,

[2021-07-12 22:43] #8162 closed

[2021-07-12 22:45] severinbeauvais commented on #7827
Depending on what is decided for "resubmit name request"priority, I may not be able to include the correct amount ($30 vs $130) in the action button, since I don't know the fees at that point in time.

[2021-07-12 22:47] mstanton1 opened #8194 "Refund Documentation for BA's / Staff"
#### Description
We have worked to implement refund processes for Direct Pay, BC Online Drawdown, PAD, and are in the midst of confirming refund processes for Online Banking.

In order to ensure we have a shared understanding, and a singular place for requirements, documentation is needed outlining each process.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operat

[2021-07-12 22:48] sumesh-aot opened #8195 "Create filing type for rush fee code"
#### Description
- [x] Create filing type for rush fee code for vital stats.
- [x]  Communicate with vital statistics team to use the new code for rush service

[2021-07-12 22:56] amit4610 commented on #8156
Here's the final one after incorporating Trish's feedback. Will email as well.
https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-4079

[2021-07-12 23:27] amit4610 commented on #8183
For NR 8632275, need to investigate:
1. If both old and new applications charged the client or just the new application charged and the receipt (on page 1) is showing just the transaction summary.
2. If client was charged by both old and new apps, we need to return $101.50
3. It should not be showing NR1747156 on page 1 as per the client.
4. Page 8 mentions only the priority fee for NR 8632275 ($1

[2021-07-12 23:30] severinbeauvais commented on #7827
Yes but they will be charged a second service fee if they do it this way.

[2021-07-12 23:37] yuisotozaki commented on #7827
Ahh, good point. Additional buck fifty. @lmcclung ? Do we want to let user/staff "Resubmit as Priority"?

[2021-07-12 23:39] severinbeauvais commented on #7827
cc: @kialj876 @vysakh-menon-aot

... And what do we want done with the existing payment on retry, if the user is staff?

Currently the code does this: https://github.com/bcgov/namerequest/blob/ae1da6cd7e7aa9dda104ce524fbbc9e7d865c135/src/components/existing-request/existing-request-display.vue#L613

But more to the point, on retry, the SBC Payment object has been created, and I don't think I (NR U

[2021-07-12 23:43] amit4610 opened #8196 "Extend NR expiry date"
Client is going to try to incorporate his company using NR# 0428200.  This is a long running incident and will need to have his name request expiry date extended so he may proceed.  Could you please extend his name request expiry date?

INC0091527

Service now ticket from May 17th - user goes through the incorporation application, gets to the Pay & File screen and enters her Name, Phone and email

[2021-07-12 23:45] amit4610 commented on #8183
@Sienna-Blumstengel

[2021-07-12 23:46] severinbeauvais commented on #7827
What do you mean by "Exit Payment" here?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/3575c9ba-5246-4f3c-ae29-c6b535f21db3)

Note that, when creating a NR, this staff payment page secondary action is "Back", which takes you back to the payment details page. Shouldn't it be the same above?

[2021-07-12 23:49] severinbeauvais opened #8197 "Verify - UI - Retry Payment as staff"
1. A Retry dialog was implemented in #7811. However, the UI designs have evolved, and this dialog needs to be updated.
2. If user abandons payment and asks staff to create NR.  Staff would start a new NR.
3. If staff click Retry anyway, it will look as if they are a regular user -- there is no staff payment tab.

[2021-07-12 23:50] severinbeauvais commented on #7827
Retry Payment just got more complicated (due to payment handling, and updated UI designs). I was going to do it as part of 7811/7828 but now the change is too large, so I created #8197 to implement it.

[2021-07-12 23:51] severinbeauvais commented on #8197
@jdyck-fw This ticket needs an epic, milestone, release, and prioritization.

[2021-07-13 00:01] lmcclung commented on #7277
@severinbeauvais @vysakh-menon-aot
Name Request accepts PAD payment

I've updated 7018 to indicate the refund process and to show PAD, Routing slip and No Fee payments will have the "Cancel" button.
Credit card and BCOL with have the "Cancel and refund" button.

Since this sounds like a NameX API ticket I will update the description here as well.

[2021-07-13 00:24] lmcclung commented on #8100
@severinbeauvais did you still need a list or were Tracey's comments sufficient?

[2021-07-13 00:42] #6856 closed

[2021-07-13 00:42] #7882 closed

[2021-07-13 00:43] #8035 closed

[2021-07-13 00:44] lmcclung commented on #7804
@riyazuddinsyed was this tested in Dev or Test?  Wanting to know whether it should go in this week's release or the next one.

[2021-07-13 00:50] #8111 closed

[2021-07-13 00:57] lmcclung commented on #8039
@severinbeauvais I can't see this link in TEST, only in DEV.

Does that mean its too late to include in in Thursday's Entities names 9.6 release?

[2021-07-13 00:59] lmcclung commented on #7958
@kialj876 could you confirm whether this was released into PROD?

[2021-07-13 01:01] #8040 closed

[2021-07-13 01:09] lmcclung commented on #7370
emailed Jenn advised fixed.

[2021-07-13 01:10] #7370 closed

[2021-07-13 01:33] lmcclung commented on #8196
@amit4610
- we don't extend an expiry date unless we have instructions from staff.  This request was submitted by a BCOL helpdesk team member so this needs a bit of analysis by devs and a review by staff before we will extend the NR expiry date.

Devs:  How many payments are associated to this NR?  Was it only the initial payment or did they do a renew?

Once we know this, let's go back to staff.

[2021-07-13 14:29] PatrickAHeath commented on #7553
@tlebedovich Secured Party for Crown Charge and Misc Act registrations:

- [ ] Only one Secured Party allowed for the registration

- [ ] Entry of new Secured Party not allowed

- [ ] Secured Party must be associated with the Registering Party
(This is currently done in the mainframe application using BCOL Account Number - the BCOL Account Number of the Secured Party must match the BCOL Account Nu

[2021-07-13 14:46] PatrickAHeath commented on #7270
@jordiwes Folio for PPR Registration is also 15 max.

[2021-07-13 14:51] PatrickAHeath commented on #8174
@amit4610 The account was just created and the client attempted to logon once it was approved - that's when she was directed to create a new account.  Probably best to have a Dev check out the account to see that everything looks right.  If all is good, we could have her attempt to logon again.

[2021-07-13 14:55] PatrickAHeath commented on #8172
@Sienna-Blumstengel @lmcclung No feedback received from Debbie yet.

[2021-07-13 14:57] jinghualicgi opened #8198 "Retro Assets - Summaries of all Sprint Retrospectives of Team "Assets""
## Goals:
**1. Summary of all Retro results for the Assets Team in this Epic
2. Agreed Actions to be created as tasks -
  1) To make them visible in ZenHub,
  2) To get them done and
  3) To follow-up with result in next retro**

## Team Discussion Topics:
**1. What went well
2. Improvements
3. Action Items will be created as a task and linked to this Epic**

[2021-07-13 15:05] #8015 closed

[2021-07-13 15:34] Kaineatthelab opened #8199 "Review and Check PDF's Registration Type - UX Assurance"
Compare PDF Outputs with requirements doc and UI to make sure the outputs align with both content wise. Double check visual design/typos etc for outputs

Items noticed:
- For registrations that don't have General Collateral (ie you can't even add GC), we should not show the General collateral component at all in the outputs
- For registrations that can have GC, but do not, continue to show the GC

[2021-07-13 15:41] Sienna-Blumstengel commented on #8183
![Screen Shot 2021-07-13 at 8.37.49 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/3ccbe0ab-8eb0-47e7-a367-4b6212691ade)

[2021-07-13 15:57] severinbeauvais commented on #8100
Yes, the research and comments above are sufficient.

[2021-07-13 16:02] yuisotozaki commented on #7827
@severinbeauvais That's supposed to be 'Back'. Thanks for catching that! Invision updated!

[2021-07-13 16:04] mstanton1 commented on #8174
@PatrickAHeath @amit4610 one other potential approach is to contact the client and walk through what she is doing. I had a similar scenario with a client trying to join a team and the issue was client navigation in the app.

When the client clicks the link in the email noting they have been approved (BCeID affidavit flow) they are taken to the main page. In this case, we'd want to verify the clien

[2021-07-13 16:05] severinbeauvais commented on #8039
Test has NR UI v 2.2.16. This feature was merged into v 2.2.17.

@kialj876 Is Dev still your advanced search build? If I re-deploy main branch to Dev (and then to Test), do you need Dev restored? If you have special requirements, do you want to do this?

[2021-07-13 16:06] #7324 closed

[2021-07-13 16:07] amit4610 commented on #8196
@Sienna-Blumstengel once the devs comment, let's get back to staff.

[2021-07-13 16:07] #7495 closed

[2021-07-13 16:10] Sienna-Blumstengel commented on #7487
Debbie said sounds good

[2021-07-13 16:20] saravanpa-aot opened #8200 "Deployment - FAS UI"
Deploy FAS UI in DEV/TEST

Tasks

- [ ] Gh Actions

- [ ] Helm Chart

[2021-07-13 16:20] lmcclung commented on #8167
@vysakh-menon-aot @riyazuddinsyed  is this going into Thursday;s release?  Or the next one?  I want to update the release label.

[2021-07-13 16:21] Sienna-Blumstengel commented on #8196
@sumesh-aot :
1. How many payments are associated to this NR? Was it only the initial payment or did they do a renew?

@lmcclung I don't see staff editing the NR in NameX, but I do see an edit from Name Request and an edit from NRO - is that what you mean?
![Screen Shot 2021-07-13 at 9.19.45 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/8f41a310-4aa5-4812-a818-ff0b03fc3bc4)

[2021-07-13 16:22] #8089 closed

[2021-07-13 16:22] #8100 closed

[2021-07-13 16:35] Sienna-Blumstengel commented on #7609
@thorwolpert has any progress been made on those new filing types?

[2021-07-13 16:39] Sienna-Blumstengel commented on #7438
@thorwolpert any progress on the above? Looks like the blocking ticket 4711 is closed

[2021-07-13 16:43] jdyck-fw commented on #7091
Linda will discuss at requirements meeting. A new filing type or a correction to Annual Report?

[2021-07-13 17:08] jinghualicgi commented on #7691
Just focus on PPR

[2021-07-13 17:09] Kaineatthelab opened #8201 "PPR Address Changes"

[2021-07-13 17:09] jinghualicgi commented on #7691
Will add a new ticket for grooming tomorrow July 14, 2021

[2021-07-13 17:22] PatrickAHeath commented on #7534
@jinghualicgi @Kaineatthelab This issue still exists.

[2021-07-13 17:23] Kaineatthelab opened #8202 "UI Design - Change"

[2021-07-13 17:27] Kaineatthelab opened #8203 "UI Design - Amendment including Court Ordered Amendment"
This ticket is to design amendment including court ordered amendment

- [ ] Include flow for all changes and amendments
- [ ] Amendment can be required by a court order. Need to allow entry of court order fields if the amendment was required by a court order. court date, court name, court registry, file number and effect of the order (text field)
 - [ ] Renewal of a Repairer's lien also requires a

[2021-07-13 17:36] severinbeauvais commented on #7827
@yuisotozaki Should the first tab secondary action text be Close (instead of Cancel), to be consistent with the Confirm Name Request (ie, create NR) dialog? Eg,

![image](https://user-images.githubusercontent.com/10002889/125139061-af0cde00-e0c4-11eb-8cd5-5120db7a2a08.png)

[2021-07-13 17:44] severinbeauvais opened #8204 "UX/UI Design - Resubmit (aka reapply) flow and pages"
This is a follow-on ticket from #7827.

In THIS ticket, the user flow to resubmit an expired NR needs to be determined. Linda mentioned she would like the user to land on the create/edit pages, with the original data prepopulated.

**Outstanding questions:**
~What user data to prepopulate if Mike entered the original NR and now Mary is resubmitting it?~

**Notes:**
- A Resubmit dialog was created

[2021-07-13 17:48] severinbeauvais commented on #7827
@yuisotozaki wrote:

I created UX/UI design ticket #8204 to work through this.

[2021-07-13 17:48] mstanton1 opened #8205 "System Access - Runa Nandi"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Debbie Blyth
Staff Email: Debbie.Blyth@gov.bc.ca

#### Description
Grant access in the Business Registry for Runa Nandi.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** l

[2021-07-13 17:51] mstanton1 commented on #8205
Request has been sent to Runa to complete initial log on in TEST in PROD.

Once complete Runa can be set up to mirror Claudine Lo (in PROD admin, search, viewer).

[2021-07-13 17:59] PatrickAHeath commented on #7535
@jinghualicgi @Kaineatthelab This issue still exists in TEST.

[2021-07-13 18:31] Sienna-Blumstengel commented on #8172
**From Patrick:**

**From Debbie:**

THis this can be closed!

[2021-07-13 18:31] #8172 closed

[2021-07-13 18:35] yuisotozaki commented on #7827
@severinbeauvais The Confirm Name Request page is considered a special case. The design team discussed this previously and landed on using "Close" as secondary button label for this screen since it already has the "Cancel Name Request" button.

[2021-07-13 18:51] #7638 closed

[2021-07-13 18:51] #8156 closed

[2021-07-13 19:14] chdivyareddy commented on #7266
Verified in DEV.
![Step1viewonStep4(DEV).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2bf12929-782b-450f-9b79-001ac084de17)
![Step1viewonStep4_2(DEV).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/80299c59-d7b3-4b15-989a-dd80ba120fa5)

[2021-07-13 19:15] #6461 closed

[2021-07-13 19:18] severinbeauvais commented on #7827
Thanks for the explanation. I will update accordingly.

[2021-07-13 19:20] Sienna-Blumstengel opened #8206 "OCM - Auto analyze and quick search"

[2021-07-13 19:20] lmcclung commented on #1335
@kialj876 I can close this ticket now, right?

[2021-07-13 19:21] Sienna-Blumstengel opened #8207 "OneNote Updates, share with teams"

[2021-07-13 19:21] Sienna-Blumstengel opened #8208 "Meet with Debbie's team to discuss their review"

[2021-07-13 19:21] Sienna-Blumstengel opened #8209 "Release communication"

[2021-07-13 19:21] #6376 closed

[2021-07-13 19:21] Sienna-Blumstengel opened #8210 "Something client facing (TBC)"

[2021-07-13 19:22] Sienna-Blumstengel opened #8211 "Update Maximus KB"

[2021-07-13 19:25] lmcclung commented on #7905
Closing this ticket.  this work has already been doon.

Sample from Production Namex...

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/c95b66e0-b079-4825-9e83-0f03b427859e)

[2021-07-13 19:26] #7905 closed

[2021-07-13 19:27] lmcclung commented on #1335
closing this ticket as full transaction history is there now.  In fact, business staff want the number of transactions reduced.

[2021-07-13 19:27] #1335 closed

[2021-07-13 19:29] #6377 closed

[2021-07-13 19:29] lmcclung commented on #6377
closing this ticket as it wasn't used when transaction history was released

[2021-07-13 19:41] riyazuddinsyed commented on #8167
@lmcclung This can go with this release i guess.

[2021-07-13 19:43] riyazuddinsyed commented on #6968
@Sienna-Blumstengel @lmcclung I don't have any business knowledge with the NRO so can anyone among you test this ticket??

[2021-07-13 19:43] #7899 closed

[2021-07-13 20:08] Kaineatthelab commented on #6968
is this in test?

[2021-07-13 20:08] Sienna-Blumstengel commented on #8189
@amit4610 were you able to groom this yesterday?Do you think it will make it into your sprint?
CC: @lmcclung @jyoti3286

[2021-07-13 20:11] argush3 commented on #6968
@Kaineatthelab yes, it's in test right now

[2021-07-13 20:15] amit4610 commented on #8189
Hi @Sienna-Blumstengel we don't have grooming this week, however I have prioritized it for tomorrow's planning.

[2021-07-13 20:27] mstanton1 commented on #8205
Access granted in TEST. Runa still needs to log on to PROD for me to finish this access request.

[2021-07-13 20:33] mengdong19 commented on #8183
Please see the query result of payment in new system below, I don't have permission to check the NRO payment and BCOL payment history, need someone who has permission to query more.
![image.png](https://images.zenhubusercontent.com/5c747659d74bd07972c36d5e/48474974-2c7b-482f-ae05-43fdc27c95e7)

NR 1747156:
There's only one payment 31.5 in Pay-db (new payment system).  In @Sienna-Blumstengel 's com

[2021-07-13 20:34] mstanton1 commented on #8205
Runa has now logged on in PROD. Access request complete.

[2021-07-13 20:37] Kaineatthelab opened #8212 "Portfolio Level PI10"

[2021-07-13 20:50] sumesh-aot opened #8213 "Use details from NR on dashboard"
#### Who will do this work
Relationships

#### Description
Leverage these new attributes to decide if the NR can be affiliated and whether incorporation application can be initiated.

~For a new affiliation to be allowed in the system, target should be 'lear' and one of the action must have entitiesFilingName as incorporationApplication.~

From Thor;
namex-api now returns the following fields in t

[2021-07-13 20:51] yuisotozaki commented on #8204
Suggestion from the design team is to add the **Make this a Priority Request ($100)** checkbox on the first screen.
See RESUBMIT REQUEST section.
https://projects.invisionapp.com/d/main?origin=v7#/projects/prototypes/21530372

Questions to development @severinbeauvais
* Does adding a checkbox on a screen introduce challenges in UI development?
I.e. When the user checks the **Make this a Priority R

[2021-07-13 20:51] argush3 commented on #6968
just to help with testing for this, here is some supplemental info for test in its current state.  To truly test that the wait time updates correctly would involve modifying the submitted date time of the oldest unexamined NR in the db or doing something with this NR to change its state.

193 days is the current new submission wait time in test
![image.png](https://images.zenhubusercontent.com/605

[2021-07-13 20:54] sumesh-aot commented on #8213
@jyoti3286 @mstanton1 FYI

[2021-07-13 20:56] Sienna-Blumstengel commented on #7091
**When do co-ops hold second ARs?**
* There are certain requirements dictating when co-ops need to hold ARs.
* If they don't get an AGM extension from us, then they need to indicate a "no agm held". Sometimes they DID hold an AGM that year, just never got the extension. In this scenario, they need to file two ARs that year

Co-op financial year end (FYE) is Jan 31st, 2020. They have 4 months from

[2021-07-13 20:57] severinbeauvais commented on #8204
Can you please give me permissions to see the invision above?

[2021-07-13 20:59] severinbeauvais commented on #8204
I like it.

Selecting or unselecting the checkbox will need to make an API call (to fetch the updated fees) but this should be possible without much effort.

[2021-07-13 21:17] mstanton1 commented on #8193
CAS has confirmed: Bambora user request/removal is complete.

Joanna has been advised that this request is complete.

[2021-07-13 21:22] saravanpa-aot commented on #7783
@rkim13103 @jyoti3286 the navigation to home page after updating the information is instantaneous and we don't give any indication to user saying the  account information is updated.
Can you please try this in DEV with some account and see if thats an okay behaviour ?Or else how to fix it...

[2021-07-13 21:26] jyoti3286 commented on #7783
thanks @saravanpa-aot . Will take a look

[2021-07-13 21:27] SateeshFW commented on #2125
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/f3d6177e-585e-4e45-aee9-64a047296c6e)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/21f595f8-9b76-4dcd-843d-75e51b355344)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/d229b7cf-d301-4ec2-af17-945635e9475c)

Sprint 9.5 continue with ongoing action items...
Sprint 9.6

[2021-07-13 21:46] Sienna-Blumstengel commented on #7953
@kialj876 @thorwolpert I know this was forever ago, but how long would you say you worked on it? Could you throw an estimate on it?

Debbie says we can close the incident, they have not encountered it since the fix.

@jdyck-fw if both Kaine and Thor worked on this, whos milestone should we put it in?

[2021-07-13 21:47] #7116 closed

[2021-07-13 21:48] #7804 closed

[2021-07-13 21:48] #7384 closed

[2021-07-13 21:49] #8167 closed

[2021-07-13 21:49] #7004 closed

[2021-07-13 22:08] #8193 closed

[2021-07-13 22:08] #8205 closed

[2021-07-13 22:21] #7901 closed

[2021-07-13 22:21] #7902 closed

[2021-07-13 22:21] #7900 closed

[2021-07-13 22:26] Sienna-Blumstengel opened #8214 "Incorp error with NR2365219 and NR3825264 (last name field blank)"
#### ServiceNow incident:
INC0100327
#### Contact information
Staff Name:  Joshua Thiessen

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Reply All to IT Ops email and provide zenhub ticket number opened and

[2021-07-13 22:26] mstanton1 commented on #6993
SBC Finance has not confirmed reporting functionality meets their needs. Similarly they have not identified any issues.

Email chain below.

To Lisa:
Previously Amit worked with CAS and your team to establish the EJV process that will be used in the new Registries application. I would like to circle back. It is my understanding your team has reviewed, and confirmed, that the reporting out of the D

[2021-07-13 22:27] jyoti3286 commented on #7783
I think we should re-look at some confirmation messaging. I see what Saravan is pointing out, not a very user good experience. @rkim13103 - Lets put a simple confirmation message based on our framework

[2021-07-13 22:29] lmcclung opened #8215 "Namex - Unit Tests"
- [x] get github actions working
- [x] fix broken tests
- [x] as devs work on new code, create unit tests.

[2021-07-13 22:39] jyoti3286 commented on #6697
None of the partners whom we have talked to need Basic(online Banking).

[2021-07-13 22:40] jyoti3286 commented on #6697
We can close this ticket

[2021-07-13 22:40] #6697 closed

[2021-07-13 22:57] chdivyareddy opened #8216 "Update PPR dashboard Favicon to BC Gov"
![Favicon.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/da2def48-4301-4ec9-9c97-d78dadf8c521)

[2021-07-13 23:01] janisrogers commented on #7270
@jordiwes I am not seeing any updates in dev. No validation message and no number beside folio and reference number. Am I missing something?

[2021-07-13 23:02] chdivyareddy commented on #7136
Verified in DEV.
![RegisteringParty(UI).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/af9b2b27-8714-4d8a-8c7f-81ed7d942a16)

[2021-07-13 23:03] lmcclung commented on #8196
Talked to Jenn/Kris - they will be creating a replacement NR and IM me with it so we can close this ticket.

No dev action required.

[2021-07-13 23:06] Sienna-Blumstengel commented on #6824
Sienna to assess the severity of changes by end of the week, report to Trish

[2021-07-13 23:07] #8036 closed

[2021-07-13 23:14] mstanton1 commented on #8213
It sounds like we'd need a BA task to take the list of "legalType" and map it to the "target". I would need more info on how "actions" work to understand if analysis / mapping is needed there.

[2021-07-13 23:32] lmcclung commented on #8196
I went with client notification to same email address as last time
new NR = NR1990895

[2021-07-13 23:53] Sienna-Blumstengel commented on #8196
Thanks Linda!!!!

[2021-07-13 23:54] Sienna-Blumstengel commented on #8196
@mengdong19 could you please put an estimate of how much time you spent on this ticket? Then please close this ticket. Thanks :)

[2021-07-14 00:03] mengdong19 commented on #8214
They have 7 payment for NRs by pay-api, payment were made by their BCOL account, most of the NRs were not approved. It look like a bug, further investigate by namex team is needed.
![image.png](https://images.zenhubusercontent.com/5c747659d74bd07972c36d5e/32813579-1940-47b9-850c-36440df4c855)

[2021-07-14 00:07] #8196 closed

[2021-07-14 05:16] rarya-freshworks opened #8217 "Add Business showing Password"
When adding a business in an account, the password field is showing the actual password user types instead of hiding it.!

Steps:
1.) Login as BCeID
2.) Click on adding an existing business
3.) In the Pop-up Frame add Incorporation number
4.) Add Password
5.) Validate the password field.

Current Behaviour:
1.) The password entered is showing what user is typed

Expected Behaviour:
1.) The passwor

[2021-07-14 05:55] jyoti3286 commented on #8217
I thought the password flow shouldn't be there, isn't that replaced by Passcodes? @mstanton1

[2021-07-14 06:12] jyoti3286 opened #8218 "Deactivate Account : Change in Messaging"
* As an Admin or Staff user
* I want to get appropriate messaging when I am trying to deactivate
* so that I can take informative decisions while closing my account

**Acceptance Criteria**

**Scenario 1: Outstanding transactions**
* GIVEN that I want to deactivate my premium account as an Admin or Staff user
* AND I have made a PAD transaction in the last 10 days
* WHEN I click on Deactivate on t

[2021-07-14 06:16] jyoti3286 opened #8219 "FAS Automation test creation"
- Automate the FAS UI for Login to FAS and Creating routing slips
- Cypress setup needs to be done
-

[2021-07-14 06:36] jyoti3286 commented on #6825
@Sienna-Blumstengel - Anything which you need from our team? Our system now accepts all types of BC Services Card(photo and non-photo). Should this be part of IDIM script?

[2021-07-14 15:24] mstanton1 opened #8220 "Multiple NR Payments - Refund pending from May"
#### ServiceNow incident:
#### Contact information
Staff Name: Debbie Blyth / Joshua Thiessen
Staff Email: Debbie.Blyth@gov.bc.ca

#### Description
On May 20th Debbie was communicating with a client who noted extra charges on NR 1292413 & 7271006. The charges could not be located so the client followed up with a screenshot from her credit card statement and the last four digits of the card.

This

[2021-07-14 15:27] mstanton1 commented on #8220
Can you please look up payments for the following NR's and confirm the amounts charged for each?

NR 1292413
NR 7271006

[2021-07-14 15:33] doug-lovett commented on #8192
Background email to Bob:
The API is using a db function search_key_mhr to save the mhr number search key in serial_collateral.search_vin. For MH searches, the API is then matching on the serial_collateral.search_vin value. It looks like your migration data is saving the MH serial number search key in serial_collateral.search_vin, so the API MHR number search is not working.

Should the api change

[2021-07-14 15:52] Sienna-Blumstengel opened #8221 "UI - handle NR resubmit"
- [x] display Resubmit button on existing NR page ~(and if needed, clean up action verbs RENEW and REAPPLY also)~ _REAPPLY must keep being used for the Renew action as other systems use it that way_
- [x] when button is clicked, show Resubmit dialog - _done in previous ticket_
- [x] update existing dialog -- see [parent story](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issue

[2021-07-14 15:52] Sienna-Blumstengel opened #8222 "API - Decide when to show "Resubmit" button"
Display this button when the NR expires. The NR state would be 'approved' or 'conditional approved'.
~Hide button after 30 days after expiry.~ This button will always show, under the above conditions.

~Rename reapply to resubmit~ there are many places to rename in code; high risk of breaking things.  Instead, we will do this on the UI side of things.

[2021-07-14 15:58] mstanton1 opened #8223 "client not able to link prime user id - premium account"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Trish Reimer
Staff Email: Trish.Reimer@gov.bc.ca

#### Description
Hello,
I just spoke with Michael Simkin at mike@simkinlegal.com and he is not able to link his prime user ID to his premium account. I checked with Cheryl and the account is a prime and he was able to lo

[2021-07-14 16:05] #7698 closed

[2021-07-14 16:05] #7186 closed

[2021-07-14 16:05] thorwolpert commented on #8220
No payments in the new systems for these NRs
[code]

status in NameX
[code]

[2021-07-14 16:05] #7936 closed

[2021-07-14 16:05] #7773 closed

[2021-07-14 16:06] jinghualicgi commented on #7496
link to another epic, including 2 tickets: 8037, 8038

[2021-07-14 16:07] #7939 closed

[2021-07-14 16:07] #7937 closed

[2021-07-14 16:07] #7749 closed

[2021-07-14 16:07] #7605 closed

[2021-07-14 16:08] #7981 closed

[2021-07-14 16:08] #7938 closed

[2021-07-14 16:08] mstanton1 commented on #8223
BCOL Account
Name: MICHAEL SIMKIN
Account Number: 418984

I was unable to locate any other accounts under that name so it does not appear the issue is related the BCOL account already being linked.

[2021-07-14 16:08] #7717 closed

[2021-07-14 16:21] mstanton1 commented on #8220
Further review identified two payment records. Both are showing as refund_requested. It appears that this was previously completed. The client should see a refund on their account within 10-14 days of it being requested. These were completed in May. Follow up with PayBC is required.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/04383182-c1d9-404a-934c-536a3c8429cd)

[2021-07-14 16:24] #7496 closed

[2021-07-14 16:26] mstanton1 commented on #8220
Sent details to SBC IT Operations Support so they can log in to Direct Pay and check payment status.

[2021-07-14 16:35] mstanton1 opened #8224 "Deactivation Functionality Inquiry"
#### ServiceNow incident: INC0100369
#### Contact information
Staff Name: Cheryl Hall
Staff Email: Cheryl.1.Hall@gov.bc.ca

#### Description
Good Morning Team,

These release are great!  So I had the chance yesterday to place an account on hold and use the new process.  My question is, the notification goes to the client and they need to fix what ever the case may be,  in this case there was no se

[2021-07-14 16:39] jinghualicgi commented on #8202
Overlap with amendment depending on the design, on hold

[2021-07-14 16:39] lmcclung commented on #8204
@yuisotozaki I don't see an estimate on this.  Can you add it?

[2021-07-14 16:40] jinghualicgi commented on #7561
Don't have enough requirements now

[2021-07-14 16:43] jyoti3286 commented on #8116
This ticket will cover adding authorizations for existing screens. For new screens, a new dependency(or link the existing ticket) ticket needs to be created

[2021-07-14 16:45] jyoti3286 commented on #8116
If the user is not authorized, they would see an unauthorized page - this is not part of this ticket

[2021-07-14 16:48] jinghualicgi commented on #8080
Divya has been verified this, still a bug

[2021-07-14 16:52] jinghualicgi commented on #8115
This is a requirement, waiting input from relationships team:  to implement the FLAG

[2021-07-14 16:53] jinghualicgi commented on #7560
Same as discharge ticket

[2021-07-14 17:02] jinghualicgi commented on #6929
This is analysis ticket, how to publish.
Put this onhold wait Thor's input

[2021-07-14 17:05] jinghualicgi commented on #6535
Design side: all done
Waiting Patrick Wei's input

[2021-07-14 17:13] thorwolpert commented on #8220
![image](https://user-images.githubusercontent.com/1042854/125664128-b11e7a59-c918-4e4b-a201-1e82ca6fa680.png)

Should NR 1292413 be refunded, as it was used?

[2021-07-14 17:23] mstanton1 commented on #8220
Typically a consumed NR would not be refunded. However, the client provided confirmation they were charged twice (and this fell during that time span where duplicate charges were rampant to boot). Debbie Blyth has requested the refund.

[2021-07-14 17:39] mstanton1 commented on #8183
I have sent a request to the BA Hometeam to pull a list of transactions from BC Online.

[2021-07-14 17:46] forgeuxGH5 commented on #8042
@lmcclung @Sienna-Blumstengel have a look at the Name Request type matrix in the description and see if the links are going to the correct places - I guessed at a couple.

I think we'll also need to think a bit more about or describe how we'll integrate NR's with our new apps - for example when someone wants to change their name and they can do that through the Alteration (View and Change Company

[2021-07-14 17:48] mstanton1 commented on #8224
I have sent the following response to Cheryl. I have also created Zenhub XXXX for the re-generation of the email to BCOL Admin.

When the client has used the link in the email to log on and update the two screens (affidavit screen and user profile) they will see the message identifying that the account may take up to 5 days to approve. On your side, when you look at the staff dashboard Pending tab

[2021-07-14 18:06] severinbeauvais opened #8225 "Filings UI and DB: clean up Prod db and remove fallback code in UI"
The Todo List has fallback code for Coops ARs that don't contain arMinDate and arMaxDate (ie, old draft filings).

In this task:
- [x]  check Dev/Test/Prod databases for any draft Coop ARs that don't have arMinDate and arMax Date **none found in PROD**
- [ ]  if there are any old drafts in Dev/Test, delete them
- [x]  ~if there are any old drafts in Prod, delete them~
- delete fallback code:
   -

[2021-07-14 18:06] mstanton1 opened #8226 "Send Email to BCOL Admin when On-hold account request is updated to Pending"
* As BC Online Administration (account_creator group)
* I want an email issued when a client whose account was 'On hold' has updated Step 3 and Step 4 and clicked submit on Step 5
* so that I know the log on and review the client re-submission

**Acceptance Criteria**

**Scenario 1: Client clicks link in email to update affidavit and or user details on a BCeID account request that has been placed

[2021-07-14 18:10] yuisotozaki commented on #8204
Design team discussed the flow in detail and noted these points to be included in the design:
Let the user know that, even if the Name Request was approved before expiry, the name needs to go through the examination process again and that there is no guarantee that this request will be reapproved; Warn the user in a generic manner to set expectations.
Also, let the user know that the resubmission

[2021-07-14 18:29] mstanton1 commented on #8223
Spoke with client and confirmed initial attempt was in Microsoft Edge.

- I've had the client try in Chrome and the issue was still experienced.
- Suggested client reset password in BCOL and then try again. Issue was experienced logging into BCOL. Client has sent email to request support with BCOL password reset.

He will advise if the problem persists / or if the pw change resolves the issue.

[2021-07-14 18:37] chdivyareddy commented on #7259
Verified in DEV.
![Step3_Edit.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/410b6e7a-e18f-422e-81aa-fa19a4c2ac53)
![Step3_Collateral.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e9566e6a-e1de-42f6-a68f-50f9b14b3cb0)

[2021-07-14 18:45] yuisotozaki commented on #7805
Awaiting business input:
* If we highlighted the changes, do we need to hide the "additional fields"
* If above is not acceptable, tag the "additional fields" so that we can turn on/off with a switch - off by default
* The refined requirements list TBD on July 15.

[2021-07-14 18:55] sumesh-aot commented on #7991
@mstanton1 can you verify this in TEST ?

[2021-07-14 19:04] thorwolpert commented on #8183
NR 8632275 was created and paid for in NameRequest
They then paid a priority fee upgrade in BCOL. The priority flag was then set on the NR (see below)
What doesn't get copied across is financial transactions from legacy BCOL to NameRequest, hence the combined receipt on NameRequest will NOT show the priority upgrade fee completed in another system.

As they did receive their upgraded priority exam

[2021-07-14 19:25] thorwolpert commented on #8183
Exact same patter for **NR 1747156**
no refund for this one either

[2021-07-14 19:48] chdivyareddy commented on #7259
Mandatory text fields in Vehicle Collateral accepting empty characters.
![EmptyCharacters.PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a64c6260-6322-48ee-a4ad-ec5e03ae8517)

[2021-07-14 19:49] mstanton1 commented on #7991
Tested as admin on BCREG0005. Wording appears correctly:)

[2021-07-14 19:49] sumesh-aot commented on #7991
Applied changes to prod.

[2021-07-14 19:54] chdivyareddy commented on #7260
While testing General Collateral, observed that once over 4000 characters were entered Maximum 4000 characters error message is displayed 👍
but, when I removed couple of characters to make the count 3999 and 4000 still the error message is displayed 👎
Please take a look at the below screenshots.
![4001char.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/596bd3e5-533e-4979-8409-f

[2021-07-14 20:19] chdivyareddy commented on #7436
Verified in DEV.
![Step3UX_Assurance.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/4787518e-4650-4ea4-919e-0f785b88eea0)
![Step3_Collateral.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a8a0017c-3d9a-4046-96c8-af8fd5a48ea7)
![Step3_VehicleCollateral.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/789a337f-54e1-47a1-ad43-1d4f62bcaca9)

[2021-07-14 20:28] mstanton1 opened #8227 "Deactivation Training for BCOL Admin / Suspension of Account"
#### Description
1) Ability to deactivate an account was launched July 12th. This functionality should be used by account administrators but can also be used by BCOL Administration in edge cases where a client cannot complete deactivation on their own.

Training is required to provide BCOL Admin with knowledge, deactivation rules (e.g. 10 days must have passed, no credits can exist on account, if

[2021-07-14 20:30] mstanton1 opened #8228 "Deactivation Information for staff OneNote"
#### Description
Deactivation of accounts was launched July 12th. A summary of the functionality, who can use it, and business rules, should be prepared and sent to Cameron Wulff for inclusion within the OneNote for Registries Staff.

This should also be sent to:

Taija Cooke (for Maximus)
Joanna Barnes (for BCOL)

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Oper

[2021-07-14 20:36] severinbeauvais commented on #7827
This doesn't work. Probably the animation should be disabled, but I haven't figured out how to do this.

[2021-07-14 20:40] lmcclung commented on #7805
**Transaction Types to remove:**
Get NR Details from NRO
Updated NRO
Complete the Name Choice
Load NR
Hold Request? - see NR 9887035
Created NRL
put
Get Next NR - see 7937902

**Transaction Types to keep:**
Edit NR Details after Completion (see 9887035 - think this is consent rec'd)
Decision
Edit NR Details (NameX)
Undo Decision
Reset

[2021-07-14 20:48] #3752 closed

[2021-07-14 20:49] amit4610 commented on #8103
Thor, can you please refund the above?

[2021-07-14 20:50] amit4610 commented on #8031
Thor, can you please refund the above?

[2021-07-14 20:51] amit4610 commented on #8152
Thor, can you please refund the above?

[2021-07-14 20:52] mstanton1 opened #8229 "NR Refunds July 14th - 20th"
#### Description

1. - [ ] NR 3504970. Please refund $31.50 (INC0100475)
2. - [ ] NR 3909471. Please refund (INC0100638)
3. - [ ] NR 2624703. Please refund (INC0100663)
4. - [ ] NR8992980. INC0101015
5. - [ ] NR 5185685, refund $31.50 (INC0101138)
6. - [ ] NR 8441512, refund $31.50 (INC0100853)
7. - [ ] NR 9399759, refund (INC0092912)

#### Tasks
- [ ] When ticket has been created, post the ticket

[2021-07-14 20:54] lmcclung commented on #5044
@jyoti3286 did you have this epic on your radar?

[2021-07-14 20:54] #4018 closed

[2021-07-14 20:56] lmcclung commented on #3984
@thorwolpert is this still needed or covered elsewhere?  Is it an epic or a story.  If a story, can you change the label.

[2021-07-14 21:19] mstanton1 commented on #8220
IT Ops has used the Direct Pay look up, and transaction details above, to locate the transactions. Both the transaction for $131.50 and the transaction for $31.50 have been refunded.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/1d9042e3-d1f3-4622-ab52-d55275e46044)

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/d32300bc-d147-4f8f-89b6-778

[2021-07-14 21:40] Sienna-Blumstengel commented on #7802
7804 has been resolved, and i have told IT Ops to close INC0093827.

[2021-07-14 21:40] #7802 closed

[2021-07-14 21:48] lmcclung opened #8230 "Namex - Update transaction history tab name"
### Function & browser tab name ###
As the transaction history opens up a new browser tab, instead of being in a separate window within the same tab, and it’s hard to tell which tab is which.  Would it be possible to rename the transaction history tab in the browser, so it’s not the same?  They both show as:

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/7ee7c487-dec1-

[2021-07-14 21:53] lmcclung opened #8231 "Namex: Highlight changes in the transaction history"
When a NR is updated, currently the transaction history in NRO shows the changes highlighted so we can view the updates at a glance easily:

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/7bb61cad-db14-421d-a8e7-448e180e3967)
Would it be possible to have this included the new system as well?

**Decision - Priority 3:**
This feature is present in NRO and it allows the ey

[2021-07-14 21:58] mstanton1 opened #8232 "Pending Affidavit Email Discrepancy - no pending account for Grace Kuei-Su Shieh"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Cheryl Hall
Staff Email: Cheryl.1.Hall@gov.bc.ca

#### Description
Our office received this notification below to approve this application, when I log on to pending applications,  there is only three there and this one does not match any of the accounts.

Are we missing

[2021-07-14 22:05] yuisotozaki commented on #8204
Screen for non-staff updated with new text as follows:

[2021-07-14 22:14] mstanton1 commented on #8217
@jyoti3286 sorry for the slow response. Was trying to find somebody in the business to verify with but the key people are in meetings.

We are moving away from passwords. However, for entities created in legacy applications we require a method to be able to attach those entities to an account. Not just anyone should have access, so some credential is required. From a review it looks like we did a

[2021-07-14 22:17] mstanton1 commented on #8223
Linking was caused by a BCOL password issue. Updating the BCOL password and then re-attempting the process has resolved the issue. Active account showing under Michael Simkin (account number 3626).

[2021-07-14 22:27] yuisotozaki commented on #7827
Does the modal container simply accommodate to the content?

[2021-07-14 22:28] mstanton1 commented on #8232
This ticket is from an issue a week ago. It was raised with our team today.

Zenhub 3900 suggests the content for the email to review an out of province account pulls the name from the user profile, rather than the account name.

I've checked the three accounts that were showing as pending on July 7th (as in screenshot above) and the account admin is not Grace Kuei-Su Shieh for any of the accounts

[2021-07-14 22:32] severinbeauvais commented on #7827
Yes, but I can add a min-height to the content to make it taller.

But that's not the problem here. The problem is that Vuetify adds (in the background) an animation between tabs, which in this case is undesirable, and which I already spent time trying to disable but was unsuccessful.

[2021-07-14 22:54] Sienna-Blumstengel commented on #6825
Oh yeah that might be a good update! I think there will be more name request updates in the future, but those updates can come first.

[2021-07-14 23:22] yuisotozaki commented on #7827
If it's the sliding transition animation between tabs just like what we see now in testing between Confirm Name Request and Staff Payment in new Name Request creation, I think we want that. Can you confirm @forgeuxGH5 .

[2021-07-14 23:25] forgeuxGH5 commented on #7827
yep - for staff payments we want it just like staff payment for an NR - slide to the payment options

[2021-07-14 23:38] amit4610 commented on #8031
NR9025063 would be a partial refund, Amit to take up with PayBC

[2021-07-15 00:40] thorwolpert commented on #8031
Completed in entities notebook **8031 - NR  Refunds**

[2021-07-15 00:46] thorwolpert commented on #8103
Refunds completed in entities notebook **8103 - NR  Refunds**

[2021-07-15 00:50] thorwolpert commented on #8152
Completed in entities notebook **8152 - NR  Refunds**

[code]

[2021-07-15 00:59] lmcclung opened #8233 "Store payment method in UIs"
Story payment methods so that UIs don't need to call the Pay API when issuing a refund.

[2021-07-15 05:31] thorwolpert commented on #7246
@andrepestana-aot had noted the issue a while back now.

@pwei1018 has opened a FW change to fix this.

[2021-07-15 14:27] jyoti3286 opened #8234 "View: Payment Information for a Routing Slip"
As a Staff
I want to see the payment information where a particular routing slip was used
so that I can handle any subsequent queries from the client

**Scenario 1: Details of Payment Information **
GIVEN that I created a routing slip
WHEN I am on the view routing-slip page
https://preview.uxpin.com/76da32cd3abd1eb16c96507294189fbd7bee9140#/pages/140119325/simulate/sitemap
*THEN I see the payment

[2021-07-15 14:41] jyoti3286 opened #8235 "View: Transaction Details of Routing Slip"
As a Staff
I want to see the list of transactions where a particular routing slip was used
so that I can be assured that all the funds were appropriately used

#### Acceptance Criteria

** Scenario 1: View the Transaction details**
*GIVEN that I have logged into FAS
*WHEN I am creating a routing slip either through Cheque of CASH payment method
https://preview.uxpin.com/76da32cd3abd1eb16c965072941

[2021-07-15 15:08] cameron-freshworks commented on #8164
@lmcclung The fix is in on Name Examination side, however Name Request UI needs an update in order for it to identify the correct Locations (ie BC, CA..) when Editing on the client side.
Pulling this back to In Progress and making those changes under this ticket #.

[2021-07-15 15:18] janisrogers opened #8236 "Names Request Staff Access TEST : INC0100407"
Title of ticket:  Account Management

#### ServiceNow incident:
INC0100407
#### Contact information
Staff Name: Darci Denis, Patty Stemkens
Staff Email:

#### Description
Please update staff access to Name Request in TEST for:
Darci Denis - IDIR  **DDENIS**
and
Patty Stemkens IDIR - **PSTEMKEN**.

The access needs to include the ability to submit an NR when logged in as staff. Error message is at

[2021-07-15 16:08] pwei1018 commented on #6535
Our production site is premium(Business) account. You can hide the branding message and change the icon style.

![image](https://user-images.githubusercontent.com/44277752/125820847-51ee1bbc-5d69-4f54-9744-53f50a90da57.png)

[2021-07-15 16:21] jinghualicgi commented on #7624
Team has reviewed this ticket and decide move to QA

[2021-07-15 16:28] mstanton1 commented on #8115
@janisrogers @PatrickAHeath the comment above notes that you are waiting on something from Relationships. Is there a dependency ticket? If so lets discuss the work needed and process to ensure there are no blockers for your team moving forward.

cc @SateeshFW @jyoti3286 @amit4610

[2021-07-15 16:30] jinghualicgi commented on #7624
Move it back to "Ready for QA", From Divya: " because first I have to verify in DEV and then I will move it to QA in Progress"

[2021-07-15 16:34] gh20s commented on #8236
I first tried https://test.bcregistry.ca/namerequestin Google Chrome, logged in with my idir, and was able to get to the payment. Then I logged into https://test.bcregistry.ca/namerequest in Firefox, while still logged into Chrome, and was able to replicate the error.

![image.png](https://images.zenhubusercontent.com/5cc8b6861e1b505674aa020f/c12eebfd-2595-4960-a72e-a65dc539c912)

![image.png](htt

[2021-07-15 16:34] gh20s commented on #8236
pay-api-test log error

[code]

[2021-07-15 16:34] janisrogers commented on #7561
Requirements
https://docs.google.com/document/d/1DHPmLp1nH368anJX4kPntPlMhvo-74D-cPOoOpGvJLw/edit

[2021-07-15 16:37] doug-lovett commented on #7853
API spec updated  https://developer.bcregistry.daxiom.ca/ppr-api/

Get account drafts: GET /ppr/api/v1/drafts
Example response:
[
  {
    "type": "FINANCING_STATEMENT",
    "documentId": "D0034001",
    "baseRegistrationNumber": "",
    "registrationType": "SA",
    "registrationDescription": "PPSA SECURITY AGREEMENT",
    "path": "/ppr/api/v1/drafts/D0034001",
    "createDateTime": "2021-06-03T22

[2021-07-15 16:41] lmcclung commented on #7679
@rkim13103 can you add the wireframes to this ticket, even though not finalized?

[2021-07-15 16:44] severinbeauvais commented on #7827
Yes, the new dialogs use the same sliding tab animations.

The issue is that these animations appear to shrink the source tab and expand the destination tab, which makes the dialog appear to bounce/flicker. This appears unacceptable but I have not been able to disable that.

[2021-07-15 16:54] jmills-cgi opened #8237 "Release: Name Request Go-Live Enhancements"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-07-15 16:54] PatrickAHeath commented on #8115
@mstanton1 I believe this is the addition of the flag (label?) to identify premium accounts that link to a BCOL account that has the PPR Flag set to Y. (allowed to access the restricted Crown and Misc. Act registrations) I can't find the original ticket, but I thought the work was complete.

[2021-07-15 16:55] janisrogers commented on #8115
@mstanton1 We were going to bring this up in BA Guild meeting. We wanted to know the status of the 'flag' for ppr restricted access. I'm pretty sure there was a ticket for this. I can't find it, but that might just mean it is completed. We need to know the details of how to see that flag in the user information.

[2021-07-15 16:56] chdivyareddy commented on #7554
I have verified all the Scenarios in DEV and raised another ticket for PDF issues here [#8161](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8161)
![Statements1.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/77944136-9b3a-46ad-ab86-91f6ee0bd928)
![Transactions1.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a1adf657-fd

[2021-07-15 17:04] amit4610 commented on #8115
Please check 6848. Some of the work was done in that ticket I believe and is already implemented. Sumesh verified in TEST the flag for RPPR. @janisrogers

[2021-07-15 17:13] janisrogers opened #8238 "Clairvoyant Therapeutics Inc. (BC1283423) - Form 47 on Priority Service"
#### ServiceNow incident:
INC0100567
#### Contact information
Staff Name: Kat Langlois

#### Description
Can we please open a ticket with the lab to have this Benefit Company Alteration Correction filed?

Payment would be by BC Online account 281578
DAT C1019496
Folio 00099997099993

Let me know if you require anything further to process this request.

See attached [Form 47](https://app.zenhub.com

[2021-07-15 17:35] jdyck-fw commented on #2118
![9.6.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/5aa2530a-4427-4be2-b699-fc09d65c73be)

- [ ] Devs - The author ensures that their ticket is tagged to a release before moving it to Ready for QA
- [ ] @jdyck-fw  - Try Pull Request for document updates and pin a training to Entities chat
- [ ] @lmcclung  - Update PI Boards to ensure we have appropriate release dates & enrol J

[2021-07-15 17:56] doug-lovett commented on #7885
Working from:
REGULAR VERSION - Invision Design Comps:
https://projects.invisionapp.com/share/R810MDBHVE3P#/screens?browse

[2021-07-15 18:34] jyoti3286 commented on #5044
There are multiple flavours of this ticket - We are tracking this under "third party access requests" @lmcclung

[2021-07-15 18:44] chdivyareddy commented on #7639
The Registration Types "HN, MN, PN" has no data and for "TG, RC" - An entry is added to My Searches but the PDF can’t be viewed.

[2021-07-15 19:24] PatrickAHeath commented on #8185
As for volume, extracts of PPR Crown and Misc. Act registrations show 15 BCOL Accounts were used as Registering or Secured Party.  Still waiting for the list of BCOL Accounts that have the PPR Flag set in BCOL - this should match what the registrations extract shows.

[2021-07-15 19:27] argush3 commented on #8112
Release has been rolled into PRD successfully and smoke tests have passed.  Waiting on GH releases to be published for namex and name-examination repos.

[2021-07-15 19:29] gh20s commented on #8232
I searched SBC-auth for users with a first name containing "Grace" or last name containing 'Shieh' and a variety of other combinations and could not find anything matching the above.

I searched the orgs table `where access_type = 'EXTRA_PROVINCIAL' order by created desc`  to see all the extra pro requests

![image.png](https://images.zenhubusercontent.com/5cc8b6861e1b505674aa020f/a32497f0-5dc3-4d

[2021-07-15 19:32] yuisotozaki commented on #7827
Oh yes - I've seen the bounce effect.

[2021-07-15 19:39] severinbeauvais opened #8239 "NR UI: get rid of bounce/flicker between dialog tabs"
**Describe the bug in current situation**
The NameRequest UI web app uses v-tabs in several places (eg, dialogs with staff payment options). There is a desirable sliding transition between the tabs. There is also an undesirable transition that causes a "bounce" or "flicker" between the tabs. Some time has already been spent trying to disable the latter, unsuccessfully. This ticket is to investigat

[2021-07-15 19:39] severinbeauvais commented on #7827
I entered [8239](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/8239) to possibly investigate and fix this issue.

[2021-07-15 19:49] chdivyareddy commented on #7136
Verified in TEST.
![RegisteringParty(TEST).PNG](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/0c4ab94b-dfc0-4912-814c-66acfee2f359)

[2021-07-15 19:56] janisrogers opened #8240 "UI Design - Add registration to My Registrations"
If someone needs to work on (amend, renew or discharge) a registration that is not on their dashboard, they need a way to add it. Should include a way to add after searching for it, and a way to add it directly if you know the base registration number.

- [x] add registration button (similar to add button on bc business dashboard)
- [x] add one at a time for now
- [x] MVP - use standard security q

[2021-07-15 20:39] janisrogers commented on #5518
Relationships have done their work for this so I removed the dependency label.

[2021-07-15 20:50] janisrogers commented on #6883
@forgeuxGH5 Is this tied to the 3rd party access tool?

[2021-07-15 20:50] severinbeauvais commented on #7814
I verified this in Dev with NR 7992444 (phone: 1234).

Staff payment using Routing Slip Number:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/b4f02ead-a95f-4d01-beec-5ab37a388919)

[2021-07-15 20:52] severinbeauvais commented on #7814
This ticket was not dependent on 7811. It was likely dependent on some Namex API or Pay API work (which is now in Dev, at least).

[2021-07-15 20:53] severinbeauvais commented on #7814
Whoops, I was thinking that some back end thing needed to be fixed.

Actually, the staff payment page on the Upgrade dialog needed to be implemented (in 7811). I tested locally with that code, which is why my testing succeeded. (7811 will be merged imminently.)

[2021-07-15 20:58] mstanton1 commented on #7757
@saravanpa-aot should we have a dependency ticket for each team? Is the question where each team would like the user to land if they are presented with the multiple accounts screen and choose to go back?

My thought is a user would expect to go to the homepage of the app they are in - e.g. if I'm in names, start account creation, and opt out I should go back to https://www.bcregistry.ca/namereques

[2021-07-15 21:03] janisrogers commented on #8185
Decision was made to import gov accounts from BC Online and set PPR restricted flag based on their current access. Accounts will not be created by clients or staff, but in the background (conversion) need to make sure they still get the invite to add team members to account. cc @jyoti3286

[2021-07-15 21:05] chdivyareddy commented on #7262
Verified in TEST DB.

[2021-07-15 21:05] severinbeauvais commented on #7811
This is now implemented and ready for UX Assurance in Dev environment.

Please move this ticket to RFQA if OK.

[2021-07-15 21:05] janisrogers commented on #8213
@lmcclung Do you have a table of this info and can you post it here?

[2021-07-15 21:06] severinbeauvais commented on #7828
This is now implemented and ready for UX Assurance in Dev environment.

Please move this ticket to RFQA if OK.

[2021-07-15 21:06] severinbeauvais commented on #8098
This is now implemented and ready for UX Assurance in Dev environment.

Please move this ticket to RFQA if OK.

[2021-07-15 21:14] janisrogers commented on #6433
In Dev and Test PPR, logout has no effect. @rarya-freshworks I think this is the same issue. Can you look at this?

[2021-07-15 21:19] janisrogers commented on #5598
@doug-lovett Do you have the URL for the BCROS Home page?

[2021-07-15 21:27] mstanton1 commented on #8115
@amit @sumesh-aot We've reviewed 6848 in BA guild and confirmed the RPPR flag was implemented. However, there was a question from that ticket that is still outstanding. Can you please address this question:

_For testing in PPR, how can we tell if it's set? Is it in a table somewhere?

Also, we have TEST accounts already setup with a BCOL Account linked in prior to this enhancement - what do we ha

[2021-07-15 21:27] amit4610 commented on #8031
Can I please get the order # for NR9025063 ? @gh20s

[2021-07-15 21:28] amit4610 commented on #8031
Told IT Ops of the rest. Just 1 remaining NR9025063

[2021-07-15 21:28] amit4610 commented on #8152
Told IT Ops of the rest.

[2021-07-15 21:28] #8152 closed

[2021-07-15 21:29] amit4610 commented on #8103
Told IT Ops of the rest.

[2021-07-15 21:29] #8103 closed

[2021-07-15 21:35] severinbeauvais commented on #7828
### Test Notes

To test this, take an approved NR and edit it in Namex to change the expiry date to the next few days. Then load the NR in Namerequest and you will see the Request Name Request button.

This should be tested as a regular user and as a staff user.

[2021-07-15 21:35] thorwolpert commented on #8214
The data in namesp looks correct to me.
I asked David to reviewed the data and he could not find anything untoward either.

We would need someone that could trace the NRO code, or the webservice Colin/Onestop uses to see what error was preventing it from being displayed in the legacy system.

[2021-07-15 21:36] thorwolpert commented on #8214
@lmcclung not sure how you want to prioritize this, if at all?

[2021-07-15 21:41] severinbeauvais commented on #7789
@jmills-cgi @lmcclung Is this ticket obsolete (replaced by 9.6 release ticket?)

[2021-07-15 21:45] #7789 closed

[2021-07-15 21:45] janisrogers opened #8241 "NR0286493 - Extraprovincial NR submitted without home jurisdiction INC0100639"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
INC0100639
#### Contact information
Staff Name: Joshua Thiessen
Staff Email: Joshua.Thiessen@gov.bc.ca

#### Description
Pulled the request above today and it appears it’s for an extraprovincial registration but there is no home jurisdiction listed. We checked the transaction history for possible updates a

[2021-07-15 21:47] amit4610 commented on #8096
Henry to send data elements to BCR

[2021-07-15 21:54] sumesh-aot commented on #6848
@PatrickAHeath So any account who linked BCOL account with PPR access will have this flag, its not displayed anywhere in UI, in auth-db you can see this in `product_subscriptions` table.

[2021-07-15 21:54] sumesh-aot commented on #8115
I replied in that ticket.

[2021-07-15 21:59] gh20s commented on #8031
Hi , not 100% on what order # is, but from namex i got the payment id  58043 for NR9025063

If that isn't the format you're accustomed to can you provide me an example of an oder # so i can find it?

[2021-07-15 22:09] rarya-freshworks commented on #6178
@rarya-freshworks Will confirm if UI is showing wrong data or Excel file is having wrong data.

[2021-07-15 22:14] rarya-freshworks commented on #7594
@sumesh-aot Can you add steps to reproduce it.

[2021-07-15 22:19] rarya-freshworks commented on #4617
This is an issue on Entites side so removing relationship label.

[2021-07-15 22:23] amit4610 commented on #8031
receipt number is the order id. Can we get that please ? @gh20s

[2021-07-15 22:23] severinbeauvais commented on #4617
Please advise what codes are available (from the Relationships side) so that the Fee Summary will display, for example, "Change of Directors Address".

[2021-07-15 22:26] rarya-freshworks commented on #5519
The user menu does show up once the UI is loaded.

[2021-07-15 22:28] rarya-freshworks commented on #6032
This is resolved.

[2021-07-15 22:29] #6032 closed

[2021-07-15 22:35] rarya-freshworks commented on #7879
@rarya-freshworks will verify it and it is a bug than it will be P1.

[2021-07-15 22:35] jyoti3286 commented on #7795
@sumesh-aot and @shabeeb-aot - Added a acceptance criteria to update the color of the status field

[2021-07-15 23:09] janisrogers opened #8242 "BC1313261 1313261 B.C. LTD. Alteration from a BC BENEFIT COMPANY to a BC LIMITED COMPANY - INC0100666"
#### ServiceNow incident:
INC0100666
#### Contact information
Kathy Langlois

#### Description
Can we please open a ticket with the lab to alter this benefit company to a BC Limited company?
1313261 B.C. LTD.
BC1313261

Routing slip number is 2063-54300

[Alteration form](https://app.zenhub.com/files/157936592/7ea76390-0282-48e4-9e62-70698f4d2498/download)

Kat

### ALTERATION TASKS - BEN > LTD:
-

[2021-07-15 23:15] gh20s commented on #8031
I've tried my best to find this, but I am unfamiliar with the sbc-pay database. Can anyone point me where to look or some documentation

[2021-07-15 23:23] gh20s commented on #8241
I found NR 5251199  which is another  Corporation (Foreign) - Extraprovincial Registration/Amalgamation without a home jurisdiction and the source is NRO

I also found   7377143 which is another  Corporation (Foreign) - Extraprovincial Registration/Amalgamation without a home jurisdiction and the source is NRO

perhaps someone can speak with genevieve about 0286493 and see if it similar to the oth

[2021-07-15 23:23] mstanton1 commented on #8232
@gh20s thanks for the info above.

I've verified the Hao Su account is still showing pending in Production. I've reached out to Cheryl to confirm if there was anything strange with this one - as normally they would be reviewed and approved / rejected quicker.

Once I hear back I can reach out to my team to dig further into how this might have happened and then try to reproduce.

[2021-07-15 23:26] gh20s commented on #8238
I’m gonna need some help with this one. I have not done this type of filing before. I’ve gotten as far as running bcr-bcomp-alteration-template.ipynb however when running
` token = AccountService.get_bearer_token()`

I am getting the following error
[code]

[2021-07-15 23:26] gh20s commented on #8238
Additionally, I have not done this type of filing before, so I would feel more confident with assistance as it would be affecting production data.

[2021-07-15 23:27] gh20s commented on #8242
Similar to 8238 I am currently unable to file alterations due to a connection issue + lack of prior knowledge on the process and procedure.

[2021-07-15 23:37] amit4610 commented on #8191
List presented to and sent to Olissa, Trish, Jyoti, Linda and Cameron.

[2021-07-15 23:38] #8191 closed

[2021-07-16 00:16] gh20s commented on #8031
`select * from receipts where invoice_id = 58043`
returned receipt_number 303010 but i am not confident in that answer

[2021-07-16 00:30] thorwolpert commented on #8214
@droberts27 found it!!
The problem is a missing or blank request_party.last_name.  There are 8 instances of this, all created after May 14, 2021 by NAMEX.

Some examples to check out.

[code]

[2021-07-16 15:06] Sienna-Blumstengel commented on #8236
@rarmitag I believe you may have resolved this already? I DMed you July 14th about it

[2021-07-16 15:33] rarmitag commented on #8236
Yes, they have access in test

[2021-07-16 15:34] #5468 closed

[2021-07-16 15:36] doug-lovett commented on #8192
API updated, verified in DEV with MHR number search on 101404.

[2021-07-16 16:03] SateeshFW commented on #6914
This ticket need to be pushed to production

[2021-07-16 16:07] sumesh-aot commented on #6914
@SateeshFW The second part in this ticket is not done yet as in above comment.

[2021-07-16 16:12] cameron-freshworks commented on #5941
@lmcclung
As per our discussions, we will also be making Corp Num Field OPTIONAL in Name Request application for Amalgamation requests.

[2021-07-16 16:15] amit4610 commented on #8031
Asked CAS for NR9025063 refund. Advised IT ops as well.

[2021-07-16 16:15] #8031 closed

[2021-07-16 16:23] lmcclung commented on #8197
@severinbeauvais would there be much difference in dev effort for #2 options?

[2021-07-16 16:23] saravanpa-aot commented on #7757
Yes @mstanton1.Each team needs a dependency ticket. You are right , it's the place where user to land if they take the second option . Each team can decide where they want the user to go back to.

[2021-07-16 16:26] Sienna-Blumstengel commented on #7745
@forgeuxGH5 @tlebedovich the [spreadsheet]() is awesome, I didn't know you did this!
I think the devs will easily be able to access all the data in the tables. The only thing that is new to us is statuses of incorporated companies.
There are two main kinds, active and historical. But [This doc I did a while ago for business summarys]() has a list of all the different kinds of historical. I guess w

[2021-07-16 16:31] severinbeauvais commented on #8197
I don't know if we can update an existing payment object, but we can likely cancel it and create a new one... The question really is, what is expected when a staff retries a payment? (This would only be on behalf of a customer who was unable to pay via PayBC right?)

[2021-07-16 16:37] amit4610 commented on #8174
Suggested steps to the business to clear cookies, use chrome and log in by a BCeID. Waiting for the reply.

[2021-07-16 16:50] rkim13103 commented on #8166
Design Link:
https://preview.uxpin.com/ec2651e461a46497b8bca5a0910668fb73f35a28#/pages/132221365

[2021-07-16 16:54] vysakh-menon-aot commented on #8048
Test Note:

`SELECT * FROM public.businesses where legal_type = 'BEN' and CASE WHEN last_ar_date IS NULL THEN date(founding_date) ELSE date(last_ar_date) END <= CURRENT_DATE - interval '1 year'`

[2021-07-16 17:07] Sienna-Blumstengel opened #8243 "API - Add comment to NR "Previous NR - NR#######""
- [ ] Append "Previous NR - NR#######" to the "additional information" field when submitting to the createNR endpoint

**GIVEN** a user resubmitted an NR
**AND** also entered text into the additional information field
**WHEN** the user submits and pays fo r the NR
**THEN** the NR will have "Resubmission of NR#######" at the beginning of the "additional information" field, visible in NameX

Nothing

[2021-07-16 17:08] chdivyareddy commented on #7639
The Registration Types "MN,PN" are fixed, "HN" has no data and for "TG, RC" - An entry is added to My Searches but the PDF can’t be viewed.

[2021-07-16 17:08] amit4610 commented on #8174
Reply from business - I was talking to this client on the phone. She also did try Google Chrome already, and she also tried to use an incognito window, and regardless of the different browsers, and going incognito, she still wasn’t be logged in properly.

[2021-07-16 17:10] jyoti3286 commented on #8073
I have created an initial structure for the document on google drive. Once the document is complete, we can move this to Sharepoint

https://docs.google.com/document/d/1eYGZTYe_mSSFLuJM-Hj8eqzS2EHSX-7TsGtAUzR67NE/edit?usp=sharing

@mstanton1 @amit4610  - Let me know if you have any feedback on the structure.

My intent is to cover each field in every component and the business logic corresponding

[2021-07-16 17:11] amit4610 commented on #8174
Is there some conflict on the back end for this client? @rarmitag

[2021-07-16 17:30] mstanton1 commented on #8228
@jyoti3286 @amit4610 I have created the following document for Corporations/Hub staff to add into their OneNote. This will also be shared with Maximus and BCOL. If you have time to review the link is below. I am hoping to send this to the business units before end of day.

https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-4084

[2021-07-16 17:40] mstanton1 commented on #8183
A detailed analysis completed by Meng with support from Louise and myself is attached.

[https://app.zenhub.com/files/157936592/883ef987-1edf-4af4-ae81-de8b03f050ee/download](https://app.zenhub.com/files/157936592/883ef987-1edf-4af4-ae81-de8b03f050ee/download)

High Level Summary of Findings:

- Concerns with transaction report inaccurancy stem from the client drawing lines at incorrect locations

[2021-07-16 17:41] lmcclung opened #8244 "UI - Toggle system transactions, and default hide them"
- [x] Make filter to remove the system transaction types
- [x] Make the switch to turn the filter on and off
- [x] Filter is defaulted to, do **not** display the system transactions
- [x] Unit tests

**Transaction Types Staff _want_ to keep by default:**
- Initial transaction which show request status as DRAFT.  (noticed it isn't always Get NR Details from NRO)
- [x] *note:* I interpret this is Pa

[2021-07-16 17:42] lmcclung opened #8245 "UI- adjust padding, hide outer scroll bar, and fix upper header"
- [x] Make the white header fixed/sticky + hide one of the scroll bars
- [x] Header whitespace
- [x] Header block font sizes
- [x] Transaction history item whitespace
- [x] Transaction history item font sizes
- [x] Transaction history item borders
- [x] Transaction history item Name -> NAME
- [x] Fix all columns
- [x] Whitespace around page
- [x] Reduce height of header spinner (from 50vh to 15vh)

[2021-07-16 17:44] lmcclung opened #8246 "UI - display decision text (reason) in each transaction"
To do:

- [x] Add "decision text" for each event to each transaction
- [x] Keep the most updated "decision text" in the header
- [x] Unit tests

### Consents/conditions ###
We noticed that if consent was requested or a condition applied when the name was examined, the information is not displayed.  This needs to be visible in the history as well as it only shows the current details at the top, not