[2022-02-18 19:07] trishreimer opened #11246 "OCM - Review and update SBC Regional Office intranet/ job aides for Business Search | due??"
SBC call centers will support clients in conduction Business Search in the application.

Current: client fills [out Request Order form](https://www.bcregistryallservices.gov.bc.ca/sofi/static/pdf/REG_760_BCOL_FIL.pdf) for Search. SBC logs into BC OnLine to perform search based on form.
Future: client fills out Service Order Request form for Search. SBC logs into BC Registry app to perform search b

[2022-02-18 19:08] sienna-blumstengel opened #11247 "Implement solution from application-type output RFC"
### Description

This ticket is to implement the solution from the RFC

[2022-02-18 19:08] trishreimer opened #11248 "Review ALL website pages and update to reflect online processes for GP/SP registrations and filings - needed by go live -"
Forms
Fees
content
links to onestop
home page, all other pages, etc.
SP/GP pages: https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/businesses-incorporated-
companies/proprietorships-partnerships

[2022-02-18 19:10] trishreimer opened #11249 "Review forms for SP/GP registrations and maintenance and update if required"

[2022-02-18 19:12] trishreimer opened #11250 "Review and update content to remove all references to OneStop application - needed by go live"

[2022-02-18 19:14] trishreimer commented on #11249
@sienna-blumstengel are you able to provide content to @gprimeau

[2022-02-18 19:15] yuisotozaki commented on #11243
Director Change including their address change looks like this.
[https://app.zenhub.com/files/157936592/cd9d85ab-4292-425b-801f-599edd228d3c/download](https://app.zenhub.com/files/157936592/cd9d85ab-4292-425b-801f-599edd228d3c/download)
Address Change looks like this.
[https://app.zenhub.com/files/157936592/c41f42cc-bc63-44dc-9ddd-dcd2d5b4d487/download](https://app.zenhub.com/files/157936592/c41f4

[2022-02-18 19:15] trishreimer commented on #11248
@sienna-blumstengel @Amitisp are you able to provide content to @gprimeau

[2022-02-18 19:16] trishreimer commented on #11250
@sienna-blumstengel @Amitisp - would one of you be able to review the website and determine what content needs to be updated and provide to  @gprimeau

[2022-02-18 19:17] #9740 closed

[2022-02-18 19:17] mstanton1 commented on #9740
No research was done by the Assets team for Create an Account for PI 11. Previous research for Create an Account has been done by Relationships.

[2022-02-18 19:20] mstanton1 commented on #9743
Closing. Not relevant now that PPR is live.

[2022-02-18 19:20] #9743 closed

[2022-02-18 19:21] trishreimer opened #11251 "Review forms for Search and update to reflect new Search processes"
We may not need form changes depending on how we implement this search feature. If we build a nice fancy queue for staff to see outstanding requests, then we might not need a paper form.

Actually.. we will still need a paper form for SBC offices and other clients that don't want to use a computer.

Still, tbd on how we develop this.
@sienna-blumstengel will update this ticket when we have made pr

[2022-02-18 19:21] #9534 closed, assigned to magszymanski

[2022-02-18 19:29] magszymanski commented on #11194
Hey team - can I get your input:

I updated the [Slides](https://docs.google.com/presentation/d/1dLCxjHcyLdEKBOwljIr_TsKH_xCfz76q/edit#slide=id.p1) that reflect what changes need to be made to the BCOL home page (including removal of all announcements and posting of the new awareness communication we are working on). Email draft that can be sent to IT Ops on these changes is [here ](https://docs.g

[2022-02-18 19:36] severinbeauvais commented on #11237
Added to this sprint per Linda at grooming today.

[2022-02-18 20:04] severinbeauvais commented on #11237
If this is an issue in Prod, a workaround is:
1. user creates draft VD filing and saves it
2. staff edits VD filing, updates Legal Name, and saves it
3. user reloads VD filing and files it

[2022-02-18 20:31] severinbeauvais commented on #11237
Cam made the excellent observation that, if you reload the page, the Legal Name gets prepopulated. This implies that this is a timing issue in the code.

[2022-02-18 21:17] mstanton1 opened #11252 "UI - BCOL Helpdesk staff registration checklist"
Give that the registering party will prepopulate for BCOL Helpdesk staff in the "Your registration must include the following" list include a checkmark before registering party.

https://preview.uxpin.com/f88c01490de59c5d15a98da5890b7b1bbe15bfc4#/pages/143839955

**Dec15 Grooming: Some discussion comments**

- Run db script to Link ppr_staff ID and Party code
- Just have code config and link to pp

[2022-02-18 21:39] trishreimer commented on #11194
FyI - Linda will review/approve the communication today.

[2022-02-18 21:53] mstanton1 commented on #10789
Updated ticket title (BCROS Homepage only) and moved to ready for dev.

[2022-02-18 22:00] yuisotozaki commented on #11243
@sienna-blumstengel I've completed the consistency check.

@forgeuxGH5 This ticket came about when designing the SPGP multi-change output [10398](https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/10398) and a question came about how we use badges for added/deleted/updated/address changed across outputs. It appears that corp director and office address

[2022-02-18 22:25] magszymanski commented on #11194
That's fantastic! I saw Jyoti, Trish, Olisa have reviewed as well. With Linda's approval of this comms I can use the messaging for the CMS site, What's New section, staff email, etc.

Question about account type (and I made a comment about this in the comms): We mention to check out resources on how to create an account in BCROS - I would propose that we urge users to create a Premium account if t

[2022-02-18 22:41] trishreimer commented on #11194
For account type: I think we can promote premium to our bcol users but not the public. The public will want to use basic and pay by cc so they don't have to wait for the pad waiting period to complete and may only come in one time to register...
unlike third party agents/lawyers who will be more likely to file maintenance filings and come back more often.

[2022-02-18 22:43] magszymanski commented on #11080
"How to read a Search report"

Changes are being implemented as per tix 10889. Once the work is done in that ticket (could take one more week) then we need to update the "How to read a search report" doc and place it on:
- [ ] resources page
- [ ] Link to the PPR issues page so that people can read Search when resolution is published

[2022-02-18 23:03] janisrogers commented on #7405
Ready for QA

[2022-02-18 23:15] mstanton1 commented on #10558
@chdivyareddy as discussed in bug triage can you verify if this is still an issue?

[2022-02-18 23:20] mstanton1 commented on #9363
@forgeuxGH5 do you know if this is covered in any other design tickets? If not, I will create a design ticket for this.

[2022-02-18 23:49] chdivyareddy commented on #10558
@mstanton1 , I see the same behavior as earlier!

[2022-02-19 01:16] severinbeauvais commented on #9245
### Test Note - _IN PROGRESS_

The following were implemented or updated:
1. Folio Number component (updated)
2. Name Request Info component (updated)
3. Business Addresses component (new)
4. All routes (pages) for Incorporations, Dissolutions and Registrations (updated - smoke testing should be OK)
5. Most components used by all filings (updated - smoke testing should be OK)
6. Registration Defin

[2022-02-21 22:59] jordiwes commented on #10937
"lifeYears": 6,   is coming from the API, not calculated by the UI

[2022-02-22 16:13] cameron-freshworks commented on #11237
Fixed, currently in TEST and ready for QA.

[2022-02-22 16:50] trishreimer opened #11253 "Update CMS gov website to remove all links to the known issues for PPR"
Update CMS gov website to remove all links to the known issues page for PPR.

The link should only be accessible from the PPR app - not from any static page on the gov website.

[2022-02-22 16:51] chdivyareddy commented on #10921
PDFs for all these searches above got generated in DEV.

Eg: **1462**

[https://app.zenhub.com/files/157936592/c1d6dd2a-a8ff-413f-8e8f-87e3b83dbb30/download](https://app.zenhub.com/files/157936592/c1d6dd2a-a8ff-413f-8e8f-87e3b83dbb30/download)

[2022-02-22 17:06] trishreimer commented on #11194
Linda reviewed this note, so it's ready to go.
- As discussed, let's send an internal version of this to staff. Please revise to make it from a staff perspective - what do they care about as well as how clients are impacted. Maybe create a new tix for this?
- post to bcol announcements - feel free to add messaging about premium accounts
- add to bc gov announcements website
- update mod pages
- wh

[2022-02-22 17:09] sienna-blumstengel commented on #10926
From requirements gathering meeting with search unit:
[See Feb 9, 2022](https://docs.google.com/document/d/1Gh3CuY-QlnvgIdUTERnKvos8IX_kBCedcyGWMbaVHFQ/edit?usp=sharing)

[2022-02-22 17:14] jinghualicgi commented on #10859
Thor will talk with Dev Team for this task

[2022-02-22 17:21] mstanton1 opened #11254 "Sprint Goal 12.2"
- [ ] PDFs and UI organize results by date
- [ ] PDF not available when you press back after a search
- [ ] MHR RFC technical ability for approach
- [ ] MHR Data Review

[2022-02-22 17:24] chdivyareddy commented on #10800
Verified in DEV!

**Trailer (TR):**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/6f2e0333-4b01-450d-add3-98ce57868d02)

**Boat (BO):**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ea50e003-0577-467c-b729-cb79515dc587)

**Outbound Motor (OB):**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/5357a6a1-f8da-4827-83

[2022-02-22 17:39] mstanton1 commented on #10345
I believe this can be closed. @chdivyareddy can you confirm?

[2022-02-22 17:40] chdivyareddy commented on #10345
@mstanton1 Yes, this can be closed, thanks!!

[2022-02-22 17:40] #11202 closed

[2022-02-22 17:41] mstanton1 commented on #10893
Should be resolved by 10904.

[2022-02-22 17:42] mstanton1 commented on #10904
When complete verify if this has resolved 10893.

[2022-02-22 17:50] severinbeauvais commented on #9245
@tlebedovich @yuisotozaki

Hi! Can you guys have a look at this in Dev please? (Note that I'm still updating the test notes above.)

If you find anything that doesn't match the comps / your expectation, let's discuss. I'm leaning towards creating a new ticket for anything (unless it's already covered by another ticket).

Thanks!

[2022-02-22 17:56] forgeuxGH5 opened #11255 "UI - Add a WYSIWYG editor to PPR (to allow better formatting of General Collateral)"
Users prefer to have well formatted descriptions to optimise the readability and ease of understanding of General Collateral. The current Vuetify text box supports very limited formatting of text.

The Assets General Collateral fields should allow more, and better formatting of text, ideally allowing pasting of formatted text from external text editors (such as MS Word), preserving the formatting

[2022-02-22 17:57] tlebedovich commented on #10613
@cameron-freshworks - just added a uxa tag to review and ui design items

[2022-02-22 17:57] forgeuxGH5 commented on #11255
FYI @mstanton1 @jinghualicgi

[2022-02-22 18:06] tlebedovich commented on #9245
thanks - I can have a look for visual/design,  @yuisotozaki - can you please test/double check and confirm the addresses meet all of the UX rules (in/out of BC etc)

[2022-02-22 18:11] cameron-freshworks commented on #10613
Sounds good, however there will be issues reviewing until we have some Sp/Gp entities on record, currently we have no records or even a schema/model.
We can look at creating some Sp/Gp records in order to achieve this.

[2022-02-22 18:20] gprimeau commented on #11253
@trishreimer @Kaineatthelab @olisaezeh
The link to the PPR issues page has been removed from 2 pages that contained it.
PPR page and the Resource page.
You may have to refresh these pages a few times to see that the link is gone.

[2022-02-22 18:22] severinbeauvais commented on #9245
There's a validation bug where step 1 shows as invalid/incomplete even when all data is provided. This can be fixed in the next registration UI ticket (which will add things to step 1 and update the validation).

[2022-02-22 18:30] sienna-blumstengel opened #11256 "RESTORE NRs don't have expiry dates of 1 yr and 56 days in the future"
### Description
Issue was originally reported in ops ticket 378.
This ticket is to fix RESTORE NRs.
![Screen Shot 2022-02-22 at 10.28.32 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/a8513d52-d95f-4f42-93ec-197fe7d5a7c6)

### Reproduce
1. Request an NR, RESTORE type, LTD
2. See that the NR's expiry date is **56 days**

### Expected Behavior
1. Request an NR, RESTORE type, L

[2022-02-22 18:31] tlebedovich commented on #9245
@yuisotozaki - for testing:
You can access a draft SP Registration by logging into
BCREG0017
navigate to this url in the same window:
SP/DBA:
https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/create/define-registration?id=T5VJf1Mt2S

GP:
https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/create/define-registration?id=TdC5gg4dxl

[2022-02-22 18:33] #10345 closed

[2022-02-22 18:41] tlebedovich commented on #10613
UXA (in progress) - noting items as I see them:

- [ ] breadcrumb and subhead under business name should be just "Registration" not "Registration Application"

![Screen Shot 2022-02-22 at 10.38.43 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/ce357518-4c9a-40bb-9184-00161e9117b7)

[2022-02-22 18:50] gprimeau commented on #8481
@sienna-blumstengel
The form is now in PDF interactive format for your review.

[https://app.zenhub.com/files/157936592/fd3ef568-151b-47ea-ad40-9b12624ccaf9/download](https://app.zenhub.com/files/157936592/fd3ef568-151b-47ea-ad40-9b12624ccaf9/download)

[2022-02-22 18:53] jinghualicgi opened #11257 "Pre-release Checklist: SRE 12.1 Release: Name Request UI"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Update version number in the code being released
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
- [x] Add version # and release # to this ticket
- [x] Dev to send commit list to QA (or otherwise pu

[2022-02-22 19:03] jinghualicgi opened #11258 "Pre-release checklist: SRE Feb18 Release: Name Examination?"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Update version number in the code being released
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
- [x] Add version # and release # to this ticket
- [x] Dev to send commit list to QA (or otherwise pu

[2022-02-22 19:10] jinghualicgi opened #11259 "Pre-release checklist: SRE March3rd Release: NameX"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [x] Dev to send commit list to QA (or otherwise pu

[2022-02-22 19:16] yuisotozaki commented on #10702
Sample UI from OneStop when we search for "roast".
![image.png](https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/16de0b60-a9c2-4cb3-9ccf-7a33a0ddbdaa)

You get more results with "mining" (see super small scroll bar handle).
OneStop shows all codes that have examples with the keyword and only the examples that contain the keywords are included in the result set.
![image.png](https://im

[2022-02-22 19:29] #11120 closed

[2022-02-22 19:29] #9964 closed

[2022-02-22 19:29] #10507 closed

[2022-02-22 19:40] trishreimer opened #11260 "Publish Release notes, feature info, bugs, version for clients and staff, in our application"
Publish Release notes, feature info, version for clients and staff, in our application

Most mature companies publish versions and history which include new features etc… so far we haven’t done that as a whole but I think we should. Discourse could be for that and API users potentially. The outstanding issue of raised bugs, enhancements etc… that users/staff want to know the priority and status ne

[2022-02-22 20:34] tlebedovich commented on #9245
Design UX (in progress - will ping when ready to action) -

**Error X validations**
- [ ] Spec shows that the red X icons in unfinished steps would only get triggered if user clicks the "File and Pay" button (as an extra "hey, you forgot something". Low priority to change this though because it still does its job

**Business Addresses**
- [ ] Mailing/Delivery Province/State for both should not be

[2022-02-22 21:06] tlebedovich commented on #9245
@lmcclung @yuisotozaki - please provide updated "Fee Acknowledgement" text based on the feedback that the text isn't clear enough for users.

[2022-02-22 21:37] chdivyareddy commented on #10432
Verified in TEST!

**PPR Staff**: Reg No: **501991N**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/539daadf-0842-4135-8fb4-bd12a7b576c9)

[2022-02-22 21:39] chdivyareddy commented on #11062
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d6624e2d-b6bc-41f1-a3f8-bd237e6a5422)

[2022-02-22 21:42] shabeeb-aot opened #11261 "Update common component version"
### Description

As a part of ticket #11120, need to update to the latest common components (v 2.4.40).

**Apps to update:**
- [X] Auth Web
- [ ] Filings UI  - linked ticket
- [ ] Create UI - linked ticket
- [ ] Edit UI  - linked ticket
- [ ] Namerequest UI
- [x] PPR UI
- [ ] BC Registry UI
- [X] FAS UI
- [ ] Wills UI

[2022-02-22 22:14] #11073 closed

[2022-02-22 22:17] #10588 closed

[2022-02-22 22:21] #10251 closed

[2022-02-22 22:27] #9454 closed

[2022-02-22 22:28] #9455 closed

[2022-02-22 22:35] #11087 closed

[2022-02-22 22:35] #11113 closed

[2022-02-22 22:35] #10914 closed

[2022-02-22 22:35] #10146 closed

[2022-02-22 22:35] #11097 closed

[2022-02-22 22:35] #11110 closed

[2022-02-22 22:35] #11068 closed

[2022-02-22 22:35] #10432 closed

[2022-02-22 22:35] #10902 closed

[2022-02-22 22:35] #10903 closed

[2022-02-22 22:35] #10800 closed

[2022-02-22 22:36] #11077 closed

[2022-02-22 22:36] #10869 closed

[2022-02-22 22:36] #7405 closed

[2022-02-22 22:36] #11062 closed

[2022-02-22 22:36] #10901 closed

[2022-02-22 22:38] #8300 closed

[2022-02-22 22:51] jinghualicgi commented on #10661
@mstanton1 Probably we can close this one as well?

[2022-02-22 22:59] #9812 closed

[2022-02-22 22:59] #9813 closed

[2022-02-22 23:06] mstanton1 commented on #9814
@severinbeauvais @thorwolpert what was Launch Darkly being explored for with the "What's New" component? Trying to better understand the purpose of this ticket to determine if it's still needed.

[2022-02-22 23:42] severinbeauvais commented on #9814
I'm not sure the background here, but there is a LD boolean flag to enable/disable the What's New component. A next-level use of boolean flags is to enable individual filings within a single app: this allows the disabling of certain filings (eg, dissolutions) while leaving the other filings (eg, IA, registrations) enabled, instead of disabling the entire app with a maintenance page.

Another way L

[2022-02-22 23:45] thorwolpert commented on #9814
I think Patrick took a different direction on that, and it's already done. so this can be closed.

[2022-02-22 23:51] chdivyareddy commented on #11187
Hey @jordiwes , max field length validation doesn't display when the user enters more than 50 chars, error validation is displayed only when the user clicks on the 'Done' button, and also if the excess chars are deleted, then the error validation still gets displayed.

- This applies to Debtors (Individual/Business), Secured Parties(Individual/Business), and Registering party (Individual/Business)

[2022-02-22 23:56] magszymanski opened #11262 "Create staff email to announce changes coming to Business Regsitry - due Feb 23"
Staff email to go out about upcoming changes to the Business Registry in late spring

https://docs.google.com/document/d/1e5pkfvk2k-Ihg9Eg_mb-EYgE393UVMsMVtDoL9AK4ts/edit

Need to wait to see if Business Search will include all entities or just SPs, GPs, coops, BCOMPS. This will change messaging.

[2022-02-22 23:59] magszymanski commented on #11262
@trishreimer can you have a look over before we send this out? I need to get in touch with the business to understand how they support clients and will support clients (part of the change impact assessment) but if you know how staff, BCOL, SBC (and Maximus) would support them I could work that into what you see in the messaging and what I've commented on.

[2022-02-23 00:04] lmcclung commented on #11237
I taggedit to tomorrow's release.  is that correct?  @cameron-freshworks @riyazuddinsyed @severinbeauvais

[2022-02-23 00:04] #11237 closed

[2022-02-23 00:04] mstanton1 commented on #9814
Thanks for the additional information. Closing as recommended above.

[2022-02-23 00:04] #9814 closed

[2022-02-23 00:05] #9811 closed

[2022-02-23 00:05] lmcclung commented on #9922
Verified no dev work required.

[2022-02-23 00:05] #9922 closed

[2022-02-23 00:08] lmcclung commented on #10613
@cameron-freshworks talk to @rarmitag - he's pulled some firms from CPRD.  Maybe he can anonymize it and put it in dev.
Also, can you confirm the update common components work for Edit UI will also be included in this ticket?  And if so, can you update 11111?

[2022-02-23 00:11] lmcclung commented on #11111
@SateeshFW @jinghualicgi have you got separate tickets for Auth, BC Registry, FAS and Wills?  Don't want to close this if you don't have separated ones.

[2022-02-23 00:13] lmcclung commented on #8558
Taking Entities label off as QA completed.

[2022-02-23 00:13] chdivyareddy commented on #9030
Verified the Folio or Reference Number field in the Registrations (Allowing 50 chars)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/27f41ff1-69bb-4d5e-83ba-6ede9e1b706c)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/6381e44e-12bb-4606-b240-18842c62521d)

[2022-02-23 00:14] yuisotozaki commented on #10945
@tlebedovich Just the email content. The layout should be the same as other outgoing emails.

[2022-02-23 00:15] lmcclung commented on #10774
@jinghualicgi @ozamani9 Should this be included in the Entities 12.1 or SRE Feb 18 release?  Where was the work done?

[2022-02-23 00:22] lmcclung commented on #11104
Moved to sprint 12.3 for now.

[2022-02-23 00:25] tlebedovich commented on #10398
@yuisotozaki - please review email content doc for these

[2022-02-23 00:26] tlebedovich commented on #10945
@yuisotozaki - please review email content doc for these

[2022-02-23 00:26] zac-broitman opened #11263 "API Documentation Link on Developer Access page not working"
**Describe the bug in current situation**
From Engagement:

![image001.png](https://images.zenhubusercontent.com/61674670c72e6d5c94fd8c41/7d025906-772a-423b-a987-7879f69c78ef)
**Link bug to the User Story**

**Impact of this bug**
Prevents users from easily accessing the API documentation

**Chance of Occurring (high/medium/low/very low)**
High, would affect all users who have developer access

**

[2022-02-23 00:33] severinbeauvais commented on #10774
This was a fix in Filings UI. (A similar fix will probably be required in Create UI and Edit UI.)

[2022-02-23 00:35] severinbeauvais commented on #10774
It's a low-risk fix to include in this week's deployment, if all the code changes are done in time. Otherwise, this fix will be in this week's release plus the next one for Create and Edit.

[2022-02-23 00:50] cameron-freshworks commented on #11237
You bet!

[2022-02-23 00:52] cameron-freshworks commented on #10613
Would be helpful for sure!

Argus helped me convert some BEN's to Sp/Gp's to get started. That being said, a full data set for those entities will be required when building out the whole of the Change filings.

[2022-02-23 02:44] tlebedovich commented on #10945
@jyoti3286 - this is the output design ticket for dissolution - should be linked to your Dissolution epic for reference

[2022-02-23 15:38] jyoti3286 opened #11264 "Dissolution Filing UI Build for SP & GP"
As a Firm user
I want to access my dissolution filing
so that I can view all the requirements for completing a self serve dissolution filing

### Acceptance Criteria:
- Build the basic UI
- Get all the shared components
- Tweak the shared components
- Fee Summary
- No Business logic is required(we will get to it in the next Sprint)
- Overall backend understanding by Saravan

### Design Link

https

[2022-02-23 16:12] jdyck-fw commented on #2118
![12.1.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/1847eacd-d560-46fd-99b9-f42d6fbc771d)

[2022-02-23 16:13] #11107 closed

[2022-02-23 16:18] trishreimer commented on #11262
I added some comments. The future support model is not known at this time, so please do not include it in the communication.

[2022-02-23 16:19] trishreimer commented on #11262
Staff have access to all registration and maintenance filings in SOFI. All of these filings will be decommissioned so staff will need to use the new app. OneStop is for clients and only supports GP/SP registrations filings, only.

[2022-02-23 16:19] trishreimer commented on #11262
Once updated, please send to @cwulff1

[2022-02-23 16:36] trishreimer commented on #11262
Here's the current state support model: https://docs.google.com/document/d/1-pnZp-aJYLlVZK6KW9dWQtN1cXLRR4Os/edit

[2022-02-23 16:40] mstanton1 commented on #10661
@jinghualicgi there is still remaining work to complete this task but I've taken further steps to get BCP completed and will revisit the status of the DRP this week.

[2022-02-23 16:52] mstanton1 opened #11265 "API user recovery of transactions"
C. Add a query parameter to _financing-statements/registrations_

Add a Query Parameter to the GET all account registration summary information endpoint to
constrain the response by the clientReferenceId and some other filters.

https://host/ppr/api/v1/financing-statements/registrations

This is a Breaking Change as the response json is different. Well-formed clients should still be
able to accept

[2022-02-23 16:55] mstanton1 commented on #4457
@thorwolpert given we've moved to GCP can this be closed?

[2022-02-23 16:55] mstanton1 commented on #4456
@thorwolpert is this still applicable?

[2022-02-23 16:57] mstanton1 commented on #3580
@thorwolpert is this still needed?

[2022-02-23 16:58] #8679 closed

[2022-02-23 16:58] #9731 closed

[2022-02-23 17:01] #11171 closed

[2022-02-23 17:04] mstanton1 opened #11266 "API - Update Spec to add query parameters"

[2022-02-23 17:06] mstanton1 opened #11267 "API - Code change to implement query parameters and feature flag"
Feature flagged for release to a limited set of API users.

- Add new optional query parameters to endpoint GET /ppr/api/v1/financing-statements/registrations to enable filtering of results.
- Implement as a non-breaking change: no change to the response schema definition.
- Use the same parameter names as the recently added UI filters.
- Allow filtering by clientReferenceID, registrationNumber, a

[2022-02-23 17:14] #9737 closed

[2022-02-23 17:17] sienna-blumstengel opened #11268 "OCM - Host some resources for firm registration email"
@lmcclung please add PDFs that we need to host on CMS

### Background:
Currently when a person registers a SP/GP we send out their statement of registration, receipt and the following:
- minister letter
- resources guide
- Information of Privacy Commissioner letter

We want to link out to these three resources rather than a pdf.

### To do:
- [x] host the Minister's Letter on the CMS website so we

[2022-02-23 17:18] zac-broitman commented on #10603
https://github.com/bcgov-registries/documents/blob/main/auth/API_Gateway_Account_Creation.MD

[2022-02-23 17:18] #10603 closed

[2022-02-23 17:20] zac-broitman commented on #10481
Closing this ticket, Rai will make a new ticket for the work in 12.2

[2022-02-23 17:20] #10481 closed

[2022-02-23 17:22] zac-broitman commented on #11064
Current behaviour matches business needs, closing this bug

[2022-02-23 17:22] #11064 closed

[2022-02-23 17:28] jdyck-fw opened #11269 "12.2 Sprint Objectives"
1. As a user I want to update my email and phone, my nature of business and see help text for people and roles in the SP/GP registration flow - 75%
2. As a user I want to update my business addresses, my business type, contact info, and save and resume my SP/GP change filing - 90%
3. As a dev, I want to determine the best approach to clean the data - 95%

Overall:  85% COMPLETE

Introduced PROD bu

[2022-02-23 17:39] mstanton1 opened #11270 "Spike / POC for showing hidden characters"
Two potential solutions outlined in:
11214
11255

Research approaches for resolving the business problem where clients copy from a word processor and characters are not identified in the UI, but the PDF output then includes those and does not appear as intended.

[2022-02-23 17:45] jinghualicgi commented on #11270
In terms of the urgency, do we need to add this into 12.3? @mstanton1

[2022-02-23 17:46] severinbeauvais opened #11271 "Create UI + Edit UI: fix NR expiry date that isn't a whole number"
This is a follow-on ticket from #10774. That ticket implemented the fix in Filings UI. This ticket is for the same fix in Create UI and Edit UI.

![8b9d85cc-7102-47c3-87de-9d3eb3158992.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/f1fe97b5-2abc-469f-b98d-736845befce9)

[2022-02-23 17:54] mstanton1 opened #11272 "Export of DB2 Prod Data"
Export DB2 prod data into a folder Bob uses.

[2022-02-23 17:55] Maribeth-Wilson opened #11273 "OCM - Issues Intake Form, due Feb 24"
Create form and or process for outstanding client PPR issues
• Template for staff - fields or info we need to assist staff

Janis has created a draft document, which is available here: https://docs.google.com/document/d/1J2d0xXL7cyLbre2mRsSIc0yaomXZWTQExXKEyuys6o8/edit

Questions - do we need both an intake form and a KB?

[2022-02-23 17:56] mstanton1 opened #11274 "Load export into local DB2"

[2022-02-23 17:57] mstanton1 opened #11275 "Grant MHR Team access to local DB2"
If anyone else is doing API development allow them to hit the DB2 database.

[2022-02-23 17:58] mstanton1 opened #11276 "BA Verification of address mapping"
@doug-lovett to provide information for review

Data migration spreadsheet updated: added addresses worksheet to list the text for mapping Canada and US region codes, as well as the text for mapping country codes.

Master worksheet data-migration row 12 updated to track region and country code mapping.

[2022-02-23 18:05] jinghualicgi commented on #11271
@pwei1018 this one is from Entities this week(Feb23nd), I will move to To Do on SRE board.

[2022-02-23 18:09] jyoti3286 opened #11277 "Change Existing BCOL information"
* As a user who is admin
* I want to change my payment option
* so that I don't have to wait for an ops ticket to get created on my behalf

**Acceptance Criteria**
**Scenario 1: Edit existing PAD information** ( This Exist today - just for verification)
*GIVEN* I am admin on an account set up to pay with PAD
*WHEN* Click the Payment Methods tab
*THEN* I am able to edit my PAD bank account informat

[2022-02-23 18:10] jyoti3286 commented on #11277
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/11277?planning-poker) with ZenHub @saravanpa-aot @shabeeb-aot @karthik-aot

[2022-02-23 18:11] jyoti3286 commented on #11102
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/11102?planning-poker) with ZenHub @karthik-aot @saravanpa-aot @shabeeb-aot

[2022-02-23 18:25] zac-broitman opened #11278 "Relationships Sprint Goals 12.2"
- Beginning work on Dissolution filing UI - 11264
- Preventing supervisors from approving their own write-offs in FAS - 11184

[2022-02-23 18:51] mstanton1 commented on #11270
@jinghualicgi I've pinned in the backlog for consideration. It would be ideal to include in 12.3 if space allows.

[2022-02-23 18:53] ozamani9 commented on #8558
Bug Found during TEST Verification:
Main page does not grab Home Jurisdication Number but Transaction History does.... not sure why in DEV it was displaying both.

![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/a5f4c19e-204b-4b81-ae66-5d840effbf3a)

[2022-02-23 18:55] #11273 closed

[2022-02-23 19:01] tlebedovich commented on #9245
@severinbeauvais - the UXA feedback is ok to proceed with, thanks.

[2022-02-23 19:13] mstanton1 commented on #10162
Closing, moved to 9764.

[2022-02-23 19:13] #10162 closed

[2022-02-23 19:21] yuisotozaki commented on #10945
The SP/GP Requirements team ran out of time today to verify the email content today. @sienna-blumstengel Is this something we can have verified by the staff out of meeting?

[2022-02-23 19:34] tlebedovich commented on #10945
@yuisotozaki - i think it would be helpful to have you review the email content as well in case some things have become outdated. I know we have to still finalized the output naming and update the names of some of the outputs listed in the emails (which we should know today after our meeting)

[2022-02-23 19:39] jinghualicgi commented on #10429
Related with Staff - Reg/BCOL Help - Update the breadcrumb to 'Staff Dashboard'#10532

[2022-02-23 19:56] stevenc987 commented on #10715
@lmcclung @pwei1018 @jinghualicgi

The change is on TEST now. Please test at least following cases

1. When State.INPROGRESS and Request.checkedOutBy != None and Request.lastUpdate <=900s:
it will be updated to request.stateCd = State.DRAFT and  request.checkedOutBy = None

2. When State.INPROGRESS and Request.checkedOutBy == None and Request.lastUpdate <=1000s:
if request.previousStateCd == State

[2022-02-23 20:03] stevenc987 commented on #10715
@riyazuddinsyed
Please see above....for testing

[2022-02-23 20:10] chdivyareddy commented on #10076
Verified! This got fixed in 10521.

[2022-02-23 20:25] chdivyareddy commented on #10586
Verified! Working as expected.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/be713514-a8b1-4121-8d00-53da36c82ba3)

[2022-02-23 20:25] doug-lovett commented on #11180
The API assumes that if you change a secured party or debtor name, that is the only change you are making as part of an amendment. With this example 2 debtors are added and 2 deleted, all with identical addresses. Can some name matching rules be provided to cover this case?

[2022-02-23 20:39] jyoti3286 commented on #6151
@rarya-freshworks - All the items related to this ticket have been developed. Can you proceed with the testing now and see if you still see that as an issue?

[2022-02-23 20:45] #10076 closed

[2022-02-23 20:48] mstanton1 commented on #10407
Added to sprint as this is noted as a blocker for 10090 which is in this sprint. cc @jinghualicgi

[2022-02-23 20:54] #10586 closed

[2022-02-23 20:58] lekshmimallika-aot opened #11279 "Legal API - Add Change of Registration Filing type and fee code"
- Add fee code FMCHG
- Update Filing Meta Information
- Add changeOfRegistration filing to allowable actions
- Update unit tests

[2022-02-23 21:27] chdivyareddy opened #11280 "PPR - Footer 'Home' Link Issue"
- [ ] When user clicks on the Home link in the PPR Dashboard, then it is redirected to "Application is not available" page.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/819133c6-fdd7-4ea4-ba15-a6f0c473e7db)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f0760301-cada-4cb5-af8b-873554e4df9d)

[2022-02-23 21:31] ozamani9 commented on #8558
Minor change fixed it.  I also tested a few more edge cases.    this is ready to go to PROD.

![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/6c21f6c9-d7eb-4380-9213-d12861a21035)

[2022-02-23 21:35] severinbeauvais opened #11281 "Create UI: fix upload size labels (10 MB should be 30 MB)"
In Create UI, there are 3 components that allow the upload of a file. The max file size was recently updated (from 10 MB to 30 MB), but the guidance text was not and is now incorrect, eg:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/b16bd8f3-23bf-4f2f-ac1c-396b307ecdd9)

The following components need to be updated:
- [ ] Affidavit.vue
- [ ] UploadMemorandum.vue
- [ ]

[2022-02-23 21:35] forgeuxGH5 opened #11282 "UI DESIGN - Registration Table Usability Enhancements"
Multiple changes to improve the usability of the Registrations table

[View prioritized list of enhancements](https://1drv.ms/x/s!AlejmOwhCCvlgcAQLvgDkhpzj6eg0w?e=dggPYa)

[ ![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/d9aed295-914d-4b0d-b6da-a0ff7124f0cb)
View wireframe (Concepts)](https://preview.uxpin.com/5ebdf0f620421f05b8caebd3b7dcec2716d9b313#/pages/147621589)

[2022-02-23 21:36] forgeuxGH5 commented on #11282
@mstanton1 for ticket creation ^

[2022-02-23 21:36] jinghualicgi opened #11283 "Sprint Retro Results & Summaries - OCM Team"
#### Goal:
1. Summary of OCM Retro results
2. Agreed actions will be follow-up afterward

**OCM Retro Board:** https://app.mural.co/t/leadingsafetrainingtemplate5894/m/leadingsafetrainingtemplate5894/1635367606652/b4fa80bd3eb12b6124583c1b7ab4d3260cf51019?sender=ud8c29093473b548514da7248

[2022-02-23 21:38] sienna-blumstengel commented on #10018
https://docs.google.com/document/d/16P5Jv0y8jCODQNOusqdnda5pYr_os2Ohv4P1863eV4c/edit?usp=sharing
We can reuse some wording from this key messages doc for the Pros

[2022-02-23 22:04] severinbeauvais commented on #10574
This issue has been observed again. I looked at the data coming back from the "parties" API call...

In the example below, the custodian is missing a middle name (should have been "Custodian **of** Records"). Weirdly, the director above it has a middle name; maybe it was added in an alteration or COD?

![custodian middle name.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/045a5

[2022-02-23 22:13] thorwolpert opened #11284 "Intro to the Registry Datalake & Warehouse project"

[2022-02-23 22:13] thorwolpert opened #11285 "build notes site"
To setup a little repo, add notes, markdown docs, etc.

- [ ] #11287

[2022-02-23 22:15] thorwolpert opened #11286 "setup repo"

[2022-02-23 22:17] thorwolpert opened #11287 "get markdown cheatsheet"

[2022-02-23 22:23] #9211 closed

[2022-02-23 22:23] #9212 closed

[2022-02-23 22:23] #9216 closed

[2022-02-23 22:33] chdivyareddy commented on #11204
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2fab6ddf-6a11-422a-9764-8183a868c0cc)

[2022-02-23 22:42] magszymanski commented on #11079
@JohnamLane - left a couple more comments - and did you get a chance to confirm which roles can reset 2FA? Once you confirm, we will post it to the guide . Thanks

[2022-02-23 22:52] chdivyareddy commented on #10429
Verified! The breadcrumb displays "Staff Personal Property Registry".

**BC Reg Staff:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/533ef690-71e1-432b-9611-57c059c63f3f)

**SBC Staff:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/0a33df06-7274-4ec5-a391-cc2cd0acd68d)

**BCOL Staff:**
![image.png](https://images.zenhubusercontent.com/60

[2022-02-23 22:53] thorwolpert opened #11288 "create repo on bcgov-registry"

[2022-02-23 22:58] tlebedovich commented on #11282
@forgeuxGH5 - what is the status of this ticket now? Its sitting in the Review pipeline?

[2022-02-23 23:03] jinghualicgi commented on #11283
#### **OCM Retro Feb17**
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/e1dc3670-df39-4746-b3f4-c5913427843a)

#### **Action Points:**
- [ ] Add effort estimates and due date on each OCM ticket (where is applicable)
- [ ] Daily Standup only discuss obstacles, no task/ticket status update
- [ ] OCM join BA meeting, ask BA which touchpoint is good for OCM team
- [ ] Assig

[2022-02-23 23:37] mstanton1 commented on #10661
BCP Draft changes complete and stored here: R:\ARCS\Admin 100-499\Disaster Emergency Response Planning 275\30 Business continuity plans\BCROS BCP 2022 under '1.1 BCROS_BCP 2022 - PPR Updates Draft'. I have reached out to the hometeam to confirm the process for having the changes reviewed and approved. Pending response.

[2022-02-24 00:02] trishreimer commented on #10551
This looks good!
@cwulff1 any final comments on the internal comms (or external) before we move this forward?

@fareenr  Will any other staff have access to move Pending/ On Hold account requests to Active, without needing a service desk request?

For IT Ops email, pls check to see if any other teams are having releases on March 1st, so we can be coordinated and send one email to staff.
Then, pls

[2022-02-24 00:07] jordiwes commented on #11261
Done PPR and registry UI

[2022-02-24 00:23] lmcclung opened #11289 "May 2022 - Update Register Meta Class with new Registrar's Certify Stamp so all future outputs will use it"
Carol Prest is retiring at the end of May 2022.
All filings after that date will require the Certify stamp with the new registrar's signature.

Registrar's name and signature TBD.

Entities team can do the work.  Not sure if Relationships uses the Certify stamp and if they retrieve it from the same place. Assets does use the certify stamp, maybe we can make it for them?

[2022-02-24 00:23] lmcclung commented on #11289
@jyoti3286 @mstanton1 @Kaineatthelab FYI

[2022-02-24 00:36] Maribeth-Wilson opened #11290 "OCM - Formalize Info Session Structure - due Mar 4"
Proposed Online Info Session Structure

Purpose:
•	Standardize sessions
•	Reduce session time from one hour to 39 minutes, and therefore commitment required of both clients and staff
•	Sessions to become easily repeatable with less staff involvement required
•	Make sessions engaging and interactive

Please see draft document of proposed structure here:
https://docs.google.com/document/d/1iZRYpzoaH

[2022-02-24 01:03] Maribeth-Wilson opened #11291 "OCM - create 'cheat sheet' for Ministry Govt account users, due Mar 22"
Create a document for Ministry Government Account users)
- where to find products (BCOL/BC Reg - current and future state) - maybe a table?
- How to organize your account (account admins, coords and users)
- How to add/delete team members
- Where to find products (BCOL or BC Reg)
- search
- Password resets
- Who to contact for help
- etc.

Here is an example of what the doc could  look like: https

[2022-02-24 02:42] chdivyareddy opened #11292 "Repairers Lien - Surrender Date in Total Discharge displays 'Invalid date'"
- [x] The Surrender Date in total discharge for Repairers Lien displays as 'Invalid date' in TEST

Registration Number: **501990N** in TEST

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/50674523-b5ba-4c17-ba61-e0f6041e942b)

**Expected Behavior:**
Surrender Date in Total discharge should display the same date of what the client has selected while registering RL.

![im

[2022-02-24 03:27] magszymanski commented on #11229
Janis and I chatted today about the template she created and discussed first trying to consolidate everything into the existing issues document (our KB) that staff already use. Using the existing document as a single source of truth avoids asking staff to search multiple documents as well as having to update multiple sources. If this doesn’t meet staff needs, we can ask for feedback on what would

[2022-02-24 06:03] thorwolpert opened #11293 "Update document delivery services"
## Description
The document delivery service for print jobs needs to be changed to be batch job style instead of even style.

The following sequence outlines the suggested solution.

[code]

[2022-02-24 15:47] magszymanski opened #11294 "Build API deck and timeline for D&D Presentation due: Feb 25"
Build deck and send to Kaine and Linda for review.

![image.png](https://images.zenhubusercontent.com/60c236af2477c5f34b65a486/b159a84e-f59b-4f2f-b87d-f9bbf700efc7)

[2022-02-24 15:47] magszymanski opened #11295 "Build API deck and timeline for D&D Presentation due: Feb 25"
Build deck and send to Kaine and Linda for review.

![image.png](https://images.zenhubusercontent.com/60c236af2477c5f34b65a486/b159a84e-f59b-4f2f-b87d-f9bbf700efc7)

[2022-02-24 15:54] magszymanski commented on #11227
@Maribeth-Wilson Hi! I will move this to Done as it technically is, and we will use the form in our targeted communications where applicable. Thank you!

[2022-02-24 16:03] Maribeth-Wilson commented on #11229
Thank you Janis and Mags. To reconfirm, we no longer require an intake form, correct? If so, I will remove my name from the ticket.

[2022-02-24 16:13] mstanton1 commented on #8776
Closing. Outputs are now being issued.

[2022-02-24 16:29] PatrickAHeath commented on #8486
Considering Kevin's comments to preserve the 'MISCELLANEOUS REGISTRATIONS ACT' for Registration Type 'Other' and to be consistent with the other Crown Charge registrations for specific acts within the Miscellaneous Registrations Act which have the registration type as 'CROWN CHARGE FILED PURSUANT TO ' followed by the specific Act Name, do the following for Registration Type Other:
- set the regist

[2022-02-24 16:40] ozamani9 commented on #11257
The following tickets were pushed into PROD:
8901 - There was a bug that sometimes caused the name designation to be added to the name choice,
and the designation displayed twice (eg. ABC CONSULTING LTD. LTD.). This has been fixed.
11111 - Update common component version not
10832 - Updated the wording at the bottom of existing NR page, to reduce client confusion about expiry dates.
10922 - Entity

[2022-02-24 16:41] ozamani9 commented on #11257
PROD VERIFICATION:  (10832)
BEFORE:
![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/1f1122a4-2693-4b84-85c3-693f7805aed3)
AFTER:
![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/2fa58539-38f3-4c3f-9127-42cb351ebe1b)

AFTER APPROVED NR:
![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/24498673-75a1-4f7d-998b-2d906d17d344

[2022-02-24 16:42] kialj876 commented on #11293
This looks good to me!

Where you have the *cloud scheduler* 'update to new dailyStorage' in *client secrets* -- thats the dailyStorage folder name that the *document generation* uses correct?

And I guess if the sftp fails after a certain amount of retries we just save the zip/txt to a backup db or something?

[2022-02-24 16:48] ozamani9 commented on #11258
The following tickets were pushed into PROD:
8558 - NameX does not display the ExPro Home Jurisdiction Corporate Number

[2022-02-24 16:55] forgeuxGH5 commented on #8776
@mstanton1 the filenames we are currently generating don't follow the convention described in this design.

[2022-02-24 17:05] janisrogers commented on #8776
@forgeuxGH5 @mstanton1 I think the dev work for this is captured in #8630. Scott do you think anything is missing from that?

[2022-02-24 17:06] doug-lovett commented on #11084
For testing, downloads from UI account reg table should still work with existing and new registrations.

[2022-02-24 17:07] magszymanski opened #11296 "OCM - Business Search Communications & Engagement Plan | Due March 17"
https://docs.google.com/document/d/135p7Hqhcj2tGNH3ZnoE_1kAYINuDM86n/edit#

[2022-02-24 17:08] magszymanski opened #11297 "Communications Plan for APIs | Due March 4"

[2022-02-24 17:12] doug-lovett commented on #11293
Nice diagram. Very helpful.

[2022-02-24 17:19] forgeuxGH5 commented on #11282
@tlebedovich I updated the [Prioritized list of enhancements](https://1drv.ms/x/s!AlejmOwhCCvlgcAQLvgDkhpzj6eg0w?e=dggPYa) with Visual Design needs.

[2022-02-24 17:43] cwulff1 commented on #10551
@fareenr @trishreimer I made some small edits.  I am not able to differentiate the internal from external comms in the document.  Is there another link I should have?

[2022-02-24 17:44] doug-lovett commented on #11239
Email from Bob:
As I suspected Motors is in the table common_word so it is removed when creating the key.

Mr Motors key is MR

If we remove motors from the common_word then it is not removed from the name.   For Mr Motors the key would be Motors as we remove MR.   We have an exception where if the all words are removed as they are for Mr Motors then don’t remove the first word.  We could change t

[2022-02-24 18:00] cwulff1 commented on #10551
Sorry for the hold up team @fareenr @trishreimer i'll be reviewing this at 10:30

[2022-02-24 18:02] fareenr commented on #10551
@cwulff1 I've just emailed you the links to the internal and external email for Multiple Accounts and also need your input on what should be communicated to the Ministry Admins in March? Thanks!

[2022-02-24 18:09] jinghualicgi commented on #8086
#### **Feb08 Assets Retro**
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/76f08278-b43c-492e-a05a-82a5909d75f0)
![image.png](https://images.zenhubusercontent.com/60e4c92904ce2454e2e10a5b/b422419b-d3aa-4d78-8747-6bc2f631ab19)
#### **Action Points:**
- [ ] Identify Alpha Group to use Application first and collect feedback
- [ ] Engaging API users in further research befo

[2022-02-24 18:19] yuisotozaki commented on #10263
@tlebedovich Now that the email content has been reviewed, it's officially ready for visual design.
Note that the ticket you created around staff helping users recover password/passcode will handle the 3rd item in the scope description.

[2022-02-24 18:19] yuisotozaki commented on #11124
@tlebedovich Now that the email content has been reviewed, it's officially ready for visual design.

[2022-02-24 18:21] severinbeauvais opened #11298 "Namex: NR created under non-primary account not auto-affiliated"
1. login to Test environment, eg. BCREG0020
2. change to another account under this login, eg. Ministry of Cheese
3. navigate to Name Request
4. confirm that login and account display correctly
5. create a NR (pay for it + approve it)
6. go to My Business Registry page
7. observe that NR is not auto-affiliated to Ministry of Cheese account
8. observe that NR is not auto-affiliated to any other acc

[2022-02-24 18:35] Maribeth-Wilson commented on #11207
@trishreimer please advise who I can contact re. YouTube account details, thank you

[2022-02-24 18:43] mstanton1 opened #11299 "Help text for search categories"
Include help text to describe how each search category works.

[2022-02-24 18:45] jinghualicgi commented on #11094
Kaine and other are reviewing this now

[2022-02-24 18:46] severinbeauvais commented on #11298
And actually, NR auto-affiliate isn't working atm when using the primary account, either.

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/11389bda-ce4b-49d8-a06e-72f2c19f7ed4)

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/21b47e98-eb20-44b6-aba5-b426544c9967)

[2022-02-24 18:55] trishreimer commented on #11207
I just created this channel:
https://www.youtube.com/channel/UCy4Ef4ekqJUgVxS8kSgKUxg

Can you see it?

[2022-02-24 18:55] trishreimer commented on #11207
If you send me a video from a previous session, I'll upload it.

[2022-02-24 18:56] trishreimer commented on #11207
I'll send a note to see if we need a STRA completed for this or not.

[2022-02-24 18:56] cwulff1 commented on #10551
@fareenr Received and reviewed :) thanks!

[2022-02-24 19:00] mstanton1 opened #11300 "Staff Dashboard Enhancements"

[2022-02-24 19:03] Maribeth-Wilson commented on #11207
Thanks @trishreimer, I can see the channel. Here is a link to our Dec Info session video https://drive.google.com/file/d/1krBThgjVUzqMsSRmy5Q47_EFT-WqCbdY/view?usp=sharing

[2022-02-24 19:06] tlebedovich commented on #11124
I don't think the Emails need visual design - I could layout one as the example I supposed, but they should be following the new templates used for Corps/Coops

[2022-02-24 19:08] mstanton1 opened #11301 "Filter on transaction criteria (e.g. NR, search criteria) P3"
When reviewing transactions there is currently no way to search on the criteria used (e.g. NR, PPR search criteria). When providing support for clients in order to track down a transaction staff may end up looking through over 100 results.

Implement filter based upon additional information for transaction.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/65bd769c-0718-4

[2022-02-24 19:10] eve-git commented on #9696
The test status updated from Darci:
The REGI/FAS payment testing is on hold.  The testing we did is not completely passed, and we needed John’s availability to be able to complete the more complex testing scenarios.  As he was pulled away for PPR (I think?), I have not be able to continue to do any testing for the SOFI and REGI/FAS payments.

[2022-02-24 19:11] yuisotozaki commented on #11124
Straight to Review it goes!

[2022-02-24 19:15] mstanton1 opened #11302 "Search by Entity"
![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/81fd4656-1fa4-4797-963e-77322d022a66)

[2022-02-24 19:18] mstanton1 opened #11303 "Allow search by partial name of entity P2"

[2022-02-24 19:19] mstanton1 opened #11304 "Add search by business number to Search Entities P2"

[2022-02-24 19:19] mstanton1 opened #11305 "Search or Filter search results by Branch P1"

[2022-02-24 19:20] mstanton1 opened #11306 "Search by Account"
![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/790394e8-22bc-4f7b-960b-362cad140040)

[2022-02-24 19:22] mstanton1 opened #11307 "Search by BCROS account number P1"

[2022-02-24 19:25] mstanton1 opened #11308 "Must be able to do partial searc (first 3 letters) of account name P2"
The Account Name needs to be improved to disregard punctuation (e.g. R.C.M.P. should be same results as RCMP account name search)

[2022-02-24 19:26] mstanton1 opened #11309 "Search by team member last name P2"

[2022-02-24 19:27] mstanton1 opened #11310 "Search or filter results by branch name P1"
For accounts name allow search by and/or filter by branch.

_Must have minimum filter by branch column_

[2022-02-24 19:28] mstanton1 opened #11311 "Global Search P3"
Allow account search for all tabs
a. Active
b. Invitation
c. Pending Review
d. Rejected
e. Suspended

[2022-02-24 19:29] mstanton1 opened #11312 "Show/Hide columns for account management P3"
Allow ability for staff users to customize columns which are shown/hidden for the various tabs in Account Management (e.g. similar to in PPR)

[2022-02-24 19:35] mstanton1 opened #11313 "Sort accounts in Account Management P2/3"
When a search is completed, I want to be able to sort the results into alphabetical order.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/f9b934d7-e033-4407-81d4-3a72d704a9ac)

[2022-02-24 19:51] Maribeth-Wilson commented on #11291
Another example, created by Mags prior to PPR go live: https://docs.google.com/document/d/1yhmXfNeJu9Lo7H-wxQBuFk_aHcZ6lmFB/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

[2022-02-24 19:58] chdivyareddy commented on #11252
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b8961569-7454-4371-9c77-78f7fc547246)

[2022-02-24 20:01] Maribeth-Wilson commented on #11291
This email contains a table that might be useful to visualize product locations in current and future state: https://docs.google.com/document/d/1CreaLmyZ9lHDxt2PvNvfxv5MC75rh-GE/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

[2022-02-24 20:29] doug-lovett commented on #10889
@forgeuxGH5 Scott, for Search Result Report Changes:
- Add Base Registration Number column - I think you mean Base Registration Date?
- For the 2 multiple match changes, will they work when the matches are not contiguous because of the sort order, which is almost all cases? For example, searching on Lisa Smith, registration 555180M includes SMITH, LISA MARTHA and SMITH, LISA TINA with several regi

[2022-02-24 21:18] zac-broitman opened #11314 "FAS - Handling Void Routing Slips"
* As a FAS user
* I want voided routing slips to be properly accounted for
* so that they do not cause confusion during my normal work with FAS

**Acceptance Criteria**

Scenario 1: Searching for Void routing slips
Given... there are routing slip(s) in the void status
When... a user opens the Status filter option and selects Void
Then... the search results should include just those void routing sl

[2022-02-24 21:19] zac-broitman commented on #11314
This ticket expands #11167

[2022-02-24 21:20] zac-broitman commented on #11167
11314 has been created to reduce the scope of this ticket, can be re-estimated

[2022-02-24 21:38] lmcclung commented on #11298
This could be a queuing issue.  Whoever picks up this ticket, can you see if you can replicate the issue.

[2022-02-24 21:43] chdivyareddy commented on #10743
Verified in DEV!

**Search:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/9b5c86c1-bd60-45ce-83df-a97643c4fab7)
**Fee Module:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/fcb451bf-c523-4683-8f3a-b5d548fe23c7)
**Transactions:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ec8a5c74-bfea-4373-b005-dc5c7b95254

[2022-02-24 21:46] lmcclung commented on #11231
Need more info.

[2022-02-24 21:49] JohnamLane opened #11315 "Transaction History Should Show Refunds"
When clients request a refund they do not see the status of their transaction change status to indicate the refund has succeeded.

Staff have requested this enhancement as it is a client concern with most refunds.

**Work-around?**
Clients have proposed deleting transactions that have been refunded so that they can reconcile funds without our code changing. Not great, but for consideration. Or inc

[2022-02-24 21:50] lmcclung commented on #114
Closing as very old ticket.

[2022-02-24 21:50] #114 closed

[2022-02-24 21:51] lmcclung commented on #191
Closing as very old.

[2022-02-24 21:51] #191 closed

[2022-02-24 21:52] #194 closed

[2022-02-24 21:52] lmcclung commented on #194
Closing as very old.

[2022-02-24 21:53] #307 closed

[2022-02-24 21:53] lmcclung commented on #307
Pretty sure this was done.  Closing.

[2022-02-24 21:54] lmcclung commented on #314
Closing

[2022-02-24 21:54] #314 closed

[2022-02-24 21:57] lmcclung commented on #6243
@pwei1018 wondering if this can be closed.

[2022-02-24 22:16] tlebedovich commented on #10613
@cameron-freshworks - can you add updated instruction on how to view a Change filing with some dummy data so I can take a look?

[2022-02-24 22:19] forgeuxGH5 commented on #10889
Yes - should be Base Registration Date (I updated the description), and I clarified the second bullet (since we had two different kinds of data under Type in the tables)
We could chat about the multiple match changes in the results report - when I sorted by registration date to the second in the report it seemed unlikely that a registration with multiple matches would be separated (since all the m

[2022-02-24 22:20] severinbeauvais commented on #9842
The first item currently looks OK for staff (IDIR), but by "SBC users" do you mean like I did in BC Registry UI? (users with role "gov_account_user" and branch name contains "Service BC"). This is quite a new requirement, and would need to be done in all apps, but I can do it in this ticket for Create UI. LMK.

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/93127a0d-113

[2022-02-24 22:27] eve-git commented on #9696
From John Lane:
The REGI test cases have all passed, but I can continue that with more edge case testing.

[2022-02-24 22:37] severinbeauvais commented on #9842
@lmcclung What do you think? BTW this will be a Pay change (for which I think there's a UI).

[2022-02-24 22:46] #11233 closed

[2022-02-24 22:47] severinbeauvais commented on #9842
The code says, if it's an IA then use "user" email and phone, otherwise use "business contact" user and phone (ie, from step 1). Is this OK? Also see comment I added to comp.

[2022-02-24 22:47] #11231 closed

[2022-02-24 22:51] lmcclung commented on #10469
putting this in the backlog for now.

[2022-02-24 22:57] lmcclung opened #11316 "Create UI - CP Dissolution - Update text"
Update help text for uploading mineo docs to advise people to leave a 1-inch margin at the top of their documents.

See #10469 for designs and text

Update the help text in the following locations:
- [x] Voluntary dissolution, affidavit
- [x] Co-op incorp, memorandum
- [x] Co-op incorp, rules

[2022-02-24 23:04] lmcclung commented on #9228
Closing as work has already been done.

[2022-02-24 23:04] #9228 closed

[2022-02-24 23:08] lmcclung opened #11317 "Remove Business Object from Incorporations"

[2022-02-24 23:10] lmcclung opened #11318 "Backend - implement v2 endpoint"

[2022-02-24 23:10] lmcclung opened #11319 "Frontend - Hook up to v2 endpoint"

[2022-02-24 23:11] severinbeauvais commented on #9245
At the moment, only mailing address shows "Province/State (Optional)". Changing this would require a change to the common base address component, and for some countries, Province or State really is optional. Since mailing address can be anywhere in the world, is this OK as is?

[2022-02-24 23:14] tlebedovich commented on #10613
@cameron-freshworks general UXA:

### **Fee Summary updates:**
- [ ] Confirm Fee Summary will not appear on default - it should only appear if/when an item that requires a filing gets changed (ie changes to any component except business email/phone/folio components).
- [ ] Update Fee Summary to show "No Fee" and with filing name "Change of Registration" (since nothing will have a fee anymore):

-

[2022-02-24 23:22] rarya-freshworks commented on #10577
Duplicate with #11101. Closing the ticket

[2022-02-24 23:22] #10577 closed

[2022-02-24 23:23] tlebedovich commented on #9842
@severinbeauvais - for naming; we decided yesterday that we would:
- [ ] change the instances of "Registration Application" in the breadcrumb, subtitle under business name, and the large application title to be "Registration" and we will keep "Statement of Registration" in the Fee Summary as is:

![Screen Shot 2022-02-24 at 3 22 01 PM](https://user-images.githubusercontent.com/2207887/155624161-d1

[2022-02-24 23:28] rarya-freshworks commented on #10679
Based on the above comment from @jyoti3286 removed bug tag as it is more like a nice to have

[2022-02-24 23:29] tlebedovich commented on #9842
@severinbeauvais - regarding the email/phone; I chatted with @forgeuxGH5 about this a while ago, but the email/phone in the entity's header bar is supposed to always be the business contact info - not the logged in user's contact info (same with IA). So for draft/in progress Incorporation Applications and Firm Registrations, because they haven't submitted their application/registration with their

[2022-02-24 23:35] rarya-freshworks commented on #10851
@saravanpa-aot this ticket needs investigation

[2022-02-24 23:41] magszymanski commented on #11079
@JohnamLane we are hoping to post the user guide by tomorrow. Can coordinators reset 2FA as well as admins? can you read over that paragraph where we both left comments so that I can submit this into the user guide? Thanks!

[2022-02-24 23:43] JohnamLane commented on #11079
@magszymanski Sorry, nobody has been able to answer this question and it isn't documented that I know of. I will try to see who else I can ping on this though. I don't have time to test this out before tomorrow though.

[2022-02-24 23:48] chdivyareddy commented on #10743
Hey @kialj876 , for the TEST Account, the Transactions list displays the correct Amount (no stat fee, 1.50 service fee), but the Fee module on the UI displays stat fee for Registrations, Amendment, Renewal, and Search. Can you please take a look?

[2022-02-24 23:57] magszymanski commented on #11079
@JohnamLane Okay no problem, if you could tomorrow that'd be awesome.

I did try it (not sure if this is the same effect of what you are testing): I added to a test account the last team member you see in the below image and am logged in as that member. So, as a coordinator, I am able to reset the authenticatir. What's weird though is that a coordinator doesn't need 2FA to register, but I can stil

[2022-02-25 00:03] tlebedovich commented on #9245
@severinbeauvais - Ah I see how it is working - if user picks Canada etc then the label changes to "Province" and becomes required. Got it.

It's a bit weird that the label defaults to say (Optional) when it won't be for the majority. Wonder if it could default to "Province/State" - then go to "Province/State (Optional) when it is actually Optional.

But as you said, that's more work. So, short an

[2022-02-25 00:07] severinbeauvais commented on #9842
For email/phone, currently it shows "Not Available" until you enter them in step 1.

For now, I recommend a quick fix: don't show the Email or Phone header fields for registrations. (The business contact info is still displayed on the review page itself.)

[2022-02-25 00:15] tlebedovich commented on #9842
yes - hide the fields in header for registrations, perfect thank you.

[2022-02-25 00:21] severinbeauvais opened #11320 "SBC Common Comp: base address field should not validate while typing"
Currently, the base address `deliveryInstructions` text field validates that the value doesn't have any leading, trailing, or sequential space characters. (This was implemented to prevent issues in downstream processing.) This causes bad UX while a user types in something with spaces between words.

Proposed solution: only perform validation after user leaves the subject input (ie, blur event).

@

[2022-02-25 00:25] severinbeauvais commented on #9245
We don't know in which cases it's optional. When I refactored the base address component (a looong time ago), I looked at a lot of examples, but I'm not aware of a database that specifies for which country the province/state is optional.

Compromise: don't say it's optional, but handle it as optional (when not Canada or USA).

[2022-02-25 00:30] sienna-blumstengel commented on #10018
Feb 24th:
"We just got approval from Carol to allow SBC regional offices to file registrations/maintenance filings on behalf of clients." - Trish

[2022-02-25 00:33] severinbeauvais commented on #9245
Re: folio number top padding

I previously took a crack at this page and made all whitespace consistent. Given this, do you want to update the top padding for all components here, or just FN, or is the current code OK?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/ea4de926-7222-45e3-bf6e-65ffac01fe2f)

[2022-02-25 00:42] JohnamLane commented on #11079
Thank you testing this @magszymanski !
From the looks of it, we should say Admin can reset ANY team member's 2FA. I believe the system would allow any user to reset their own as well, but that doesn't help anyone that can't log in, haha.

The coordinator (and all users) must use 2FA to log in, but only admins must include an affidavit.

[2022-02-25 00:46] doug-lovett commented on #10889
@forgeuxGH5 You are right, I was looking at the current sorting. Sorting first by registration timestamp resolves my concern.
For the serial number searches, adding a new column may be a space issue - it's already cramped.

[2022-02-25 00:55] chdivyareddy commented on #11084
Hey @doug-lovett , As soon as the registrations are created in DEV within the same account, the "**i**" icon is being displayed for verification statements instead of PDF, and when the dashboard is refreshed, the PDF is displayed.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d6736eb7-8a55-46b7-a526-0679f82edf5a)
- [ ] When the Registration was created for 1 year, the

[2022-02-25 00:55] lmcclung opened #11321 "Overview UXA ticket for SP GP Multi Change filings"
an overview UXA ticket for SP GP Multi Change filings as well for any similar feedback to header, buttons, breadcrumb, fee summary etc

[2022-02-25 00:58] lmcclung opened #11322 "SP/GP Registrations - overal UXA ticket"
I have UXA feedback for SP GP Registrations that involves the "overall" UXA - ie removing "Application" from breadcrumbs/headers, the wrong icon is used in the stepper, wrong text in cancel modal etc

[2022-02-25 01:04] forgeuxGH5 commented on #10889
@doug-lovett yeah - it's going to be squishy for serial number - I'm not sure if we have a choice - I could get Tracey to do a quick layout or we could just put it in and handle any layout issues in UX Assurance. Do you have a preference?

@mstanton1 can we use the two letter Type abbreviation for serial collateral (MV, OB, etc.)? The legacy system only used the two letter code for serial collater

[2022-02-25 01:30] doug-lovett commented on #11084
@chdivyareddy the delay in the pdf download being available is expected behaviour. The days to expiry was not changed as part of this ticket.

[2022-02-25 01:42] tlebedovich commented on #11320
@severinbeauvais - Can we just remove any leading, trailing or consecutive spaces for users (aka ignore them when they enter them, and remove them automatically?). If not, then your proposed solution of deferred validation would improve the user experience.

Interesting, I've only noticed it on Delivery Instructions because when I type in the other address fields the error messages are always cove

[2022-02-25 01:44] tlebedovich commented on #9245
it would be nice to have the top white space match the bottom for all - if its an easy fix

[2022-02-25 05:03] forgeuxGH5 commented on #11074
@lmcclung @Kaineatthelab updated the user flow and added requirements (mainly UI) - figured Thor would have the dev side covered

[2022-02-25 05:28] #6243 closed

[2022-02-25 16:20] chdivyareddy commented on #11084
@doug-lovett , thanks for confirming!

- [ ] The **i** icon displays the following info when the registration is added to the table and when the filing was done with the same account.

![Screenshot (32).png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/df937ec5-fe87-4c52-8681-edb1afc30d6c)

[2022-02-25 16:24] chdivyareddy opened #11323 "PPR Registration - PDF Expiry Date Issue"
**PDF:**
[https://app.zenhub.com/files/157936592/8a28256a-77a9-4d4d-94bd-1b8898bb8183/download](https://app.zenhub.com/files/157936592/8a28256a-77a9-4d4d-94bd-1b8898bb8183/download)

- [ ] If the Registration was created for 1 year at 8 AM PST, then the 'Days to Expiry' displays "1 year 1 days".

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/7dc365cc-3b37-476d-ba3d-54d

[2022-02-25 16:57] forgeuxGH5 commented on #10805
@mstanton1 have we communicated this change to users yet, or checked their preference? Having had a few brief conversations with some users it seems we will get questions / comments about this.

[2022-02-25 17:11] mstanton1 commented on #10805
@forgeuxGH5 we have not yet communicated to users. Let's meet briefly today to address the questions/comments we may get and how we can best get ahead of that.

[2022-02-25 17:15] magszymanski commented on #11079
@JohnamLane thanks! Yes, all BCeID team members need 2FA (face palm - I was thinking affidavit last night for some odd reason). Awesome, I will update as such and add the section to the user guide. Have a great weekend!

[2022-02-25 17:22] severinbeauvais commented on #11320
@jdyck-fw @lmcclung For grooming/planning.

[2022-02-25 17:29] severinbeauvais commented on #9245
Ah, that's because that whitespace is reserved for input error messages. The alternatives are:
- bottom of white panel expands on error (but this causes the screen to update harshly)
- match the bottom whitespace to the top and let the error message run into it
- leave it; at least it's consistent on this page

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/c772cc00-f65

[2022-02-25 17:34] mstanton1 commented on #10889
@forgeuxGH5 as discussed it is fine to just use the Type Code as clients are already very familiar with these. Note, if using Type Codes the label 'Type' is no longer appropriate so should be updated to Type Code.

Type is the full description - e.g. Motor Vehicle, whereas type code is the 2 digit code.

[2022-02-25 17:40] forgeuxGH5 commented on #10889
@doug-lovett per @mstanton1's comment about the column label - lets' set the column width so the label wraps to two lines:
Type
Code

I don't want the space we save to get eaten by the label :-)

[2022-02-25 17:45] lmcclung opened #11324 "Edit UI - Fee Summary updates"
### **Fee Summary updates:**
- [x] Update the common component, so we can update the shared component_linda is ok with wrapping_
- [x] Confirm Fee Summary will not appear on default - it should only appear if/when an item that requires a filing gets changed (ie changes to any component except business email/phone/folio components).
- [ ] ~Update Fee Summary to show "No Fee" for filing and service

[2022-02-25 17:48] mstanton1 commented on #11195
MR Motors is being addressed as a one off. A story will be required to address the report server limitations. BCMail+ has presented an option they have that may meet our need so we will determine if that is a preferred approach before creating the story and tasks.

[2022-02-25 17:49] tlebedovich commented on #10520
@jordiwes - updated the google doc with remaining items - https://docs.google.com/document/d/1xjM6PcD-gYatkLvFwJ1nUmsgPfscFyhRiRar7CuwVS0/edit?usp=sharing

[2022-02-25 17:49] tlebedovich commented on #10518
@jordiwes - updated the google doc above with remaining UXA items

[2022-02-25 17:53] sienna-blumstengel opened #11325 "Make header a shared component"

[2022-02-25 17:54] tlebedovich commented on #9245
I like the white space on the bottom as it is. Was just wondering if we could add a bit more white space just to the top, but sounds like its not a quick fix. We don't want the white boxes expanding down when the error is on because it tends to look "jumpy". So out of your 3 options above, I'd go with the 3rd option - leave it as is.

[2022-02-25 17:56] tlebedovich commented on #10263
@lmcclung - this Email ticket needs to be attached to Dev ticket/epic please!

[2022-02-25 17:57] jordiwes commented on #11083
If the user adds the registration via "add to my table", gets the old tooltip, otherwise gets this tooltip.

[2022-02-25 18:16] sienna-blumstengel opened #11326 "Create document defining keycloak roles and personas"
- [x] Ask other project teams if they have anything like this that we can reference and model ours from. Consult.
- [x] Create document
- [ ] Share with other project teams so they can create for their teams

https://docs.google.com/document/d/1ZmF9k9g7Uw9V3DFfbPpKq9ZzyTNJjemRWpZtR-Pp73U/edit?usp=sharing

[2022-02-25 18:16] sienna-blumstengel commented on #11326
PPR does have a set of roles for SBC Regional Office Agents. Anything we do will impact those groups and their flow. Consult PPR.

[2022-02-25 18:20] JohnamLane opened #11327 "Rejected accounts still cause name and BCOL account conflicts"
**Describe the bug in current situation**
Often times, clients get their pending accounts rejected. It's expected that when this happens, their account name and bcol information will be freed up for future use. This does not appear to be the case.

Related ops ticket - https://github.com/bcgov-registries/ops-support/issues/504

**Impact of this bug**
Clients who resubmit the same account name cann

[2022-02-25 18:34] lmcclung opened #11328 "UI Design - New Registrar's Certified Stamp"
Design new certified stamp once we have new registrar's signature.

Name and signature TBD.

[2022-02-25 18:36] Alireja2 commented on #11272
All DB2 table DDLs have been extracted from mainframe and sent to Thor and Bob.

[2022-02-25 18:55] mstanton1 opened #11329 "API - Update Titles for Amendment on PDFs"
In PPR PDF's each change includes a title for the change type. E.g. Partial Discharge as shown below.

Update titles for registrations created in the new PPR to the new titles outlined in the spreadsheet below.
- [ ] Update all of the different amendment text titles for registrations completed in the new PPR to follow the text titles in Scott's spreadsheet column D.
- [ ] Update all of the differe

[2022-02-25 19:00] lmcclung opened #11330 "SP/GP Create UI - Steps 2&3, GP - Add business"
#### GPs (Business or Corporation):
- [ ] Update "manually add" label to match new design "Business or Corporation Unregistered in B.C."
- [ ] [help text](https://projects.invisionapp.com/share/3511UPXPMT2P#/screens/463492960)
- [ ] Pop up modals when click individual or business
- [ ] Add **general parter role ⭐️**
   - [ ] at least two partners are required
- [ ] LOOKUP (complete in other ticket

[2022-02-25 19:24] sienna-blumstengel commented on #10892
We have decided to include the work for the review page in each of the step 2 tickets. No longer need this ticket, closing.

[2022-02-25 19:29] yuisotozaki commented on #11166
@tlebedovich Could you take a quick glance over the overall design direction? I applied Scott's recommendation to follow the alteration pattern.
* Step 1 uses the same UI treatment as alteration (has subsection header pattern)
* Steps 2, 3, 4, and 5 use the same UI as Co-op Vol Diss

[2022-02-25 19:30] mstanton1 opened #11331 "Titles for Amendments"
Titles for amendments have changed. Previously a client would select the amendment type they were completing, e.g. partial discharge, complete the amendment, and then receive an output labelled as a partial amendment. In the new system functionality is grouped into higher level buckets (amendment, discharge...) and then the output row is given a title based upon the action that was performed.

[2022-02-25 19:41] lmcclung opened #11332 "Create and load standalone database to prepare for data mapping and data cleaning"

[2022-02-25 19:50] chdivyareddy commented on #10882
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/0219cf44-a3db-4784-9eb6-cf7b3fc81bdc)

[2022-02-25 19:57] #11052 closed

[2022-02-25 20:11] chdivyareddy commented on #10810
@jordiwes , I see UXA label to this ticket - moving to UXA, thanks!

[2022-02-25 20:49] chdivyareddy commented on #11180
Verified!

**Base Registration: 256391N**

[https://app.zenhub.com/files/157936592/2ce9409d-05bc-4041-8070-e184249e68ef/download](https://app.zenhub.com/files/157936592/2ce9409d-05bc-4041-8070-e184249e68ef/download)
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/903c7e50-1099-4df0-8676-76d1e8274f58)

**PDF:**
[https://app.zenhub.com/files/157936592/45108fd1-55e5-47d9-9e

[2022-02-25 21:14] sienna-oldaccountdontuse opened #11333 "AUTH UI - Improve error message when affiliating an already-affiliated NR"
### Description

This issue was reported in ops incident INC0146295.
A client was trying to add an NR to their account, but the following error message would show.
The NR was NOT consumed, it was still in approved status.
Everyone was confused until Sienna remembered that this is a known issue. This error message shows when a client tries to affiliate an NR to their account that has already been a

[2022-02-25 22:20] magszymanski commented on #11194
Removing myself from this ticket and adding @Amitisp  as what's left is posting a blurb to OneStop. Amitis is chatting with Suzanne today about the posting and Gen is aware that this is coming.

[2022-02-25 22:23] fareenr commented on #10817
@trishreimer Please review and approve the final comms planned to be sent out to BCeID Admins after the release is fully deployed on Mon Feb 28.
https://docs.google.com/document/d/1aLC-KnQ9eONjVySlxa5l_r1sR1c9-sY-/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-02-25 22:24] fareenr commented on #11028
Multiple Accounts release planned to be deployed Mon Feb 28.

[2022-02-25 22:38] JohnamLane commented on #10935
This is just pending feedback from team leads. Patrick has created a Jupyter notebook that pulls the members for each group. Next run will simply involve emailing the correct team leads and making edits as needed.

[2022-02-25 23:20] SuzDane commented on #11194
@magszymanski - Hi Mags, As I mentioned to Amitis in our transition meeeting this afternoon we (I guess all of you now, lol) should consider communicating the OS decommissioning to our municipalities/local govs before we do any public posting. They are not aware of the changes yet and it will have implications to them. As a partner, better to hear it from us first. All other partners/key influence

[2022-02-25 23:23] forgeuxGH5 commented on #11333
@sienna-blumstengel Hey I remember talking about this exact use case back when we were designing this!

Question - I thought we (Relationships) built the dashboard so it could affiliate a business to multiple accounts - if the same wasn't done for Name Requests we should do that.

I can look at re-wording the dialog though - it would still be applicable if the NR was used to incorporate/register -

[2022-02-25 23:31] thorwolpert commented on #11333
I think there might be some flow / race issues to work out if multiple accounts have an NR.
The quick(er) fix for now would be an error message that says it is already owned by another account, and to ask that account to release the name.

[2022-02-25 23:32] trishreimer commented on #11194
What did you communicate when you did the survey with munis @SuzDane ?

[2022-02-25 23:36] SuzDane commented on #11194
We said that Registries was involved in a Moderniziation Initiative to improve services, etc etc (the usual). We did mention improvements to OS as part of this, but no specifics - i.e. they do not know it is going to be decommissioned or if/how they will receive info around new business start-ups moving forward.

[2022-02-25 23:43] trishreimer commented on #11194
Did you send any follow up communications after the survey? @SuzDane

My understanding was that engagement with partners was ongoing and on a regular basis. Are we just meeting with provincial and federal partners then? Can you please confirm that federal and provincial partners are aware?

Yes, we should send a note to munis next week @Amitisp.

[2022-02-25 23:46] trishreimer commented on #11194
@Amitisp munis also receive updates from ACBC, so we'll need to include this in the messaging as well.

[2022-02-25 23:54] SuzDane commented on #11194
@trishreimer - CRA and all provincial partners are aware and there have been ongoing meetings with the key ones since last summer (CRA, WorkSafe, Finance, LCRB/LDB) - adhoc mtgs with BCeID and NRS. We held off on communication out with local gov until we knew if Kaine was going to have a workaround or option for letting them know about new businesses. There is already an email preppred for local g

[2022-02-26 00:04] mstanton1 opened #11334 "Search Pending Review by 'Submitted By'"

[2022-02-26 00:13] mstanton1 opened #11335 "Allow search without prefix (e.g. CP, FM) P5"
If searching without a prefix (e.g. CP, FM), automatically pull up an incorporated company if the number generates a match.

[2022-02-26 00:21] mstanton1 commented on #11311
@fareenr can you confirm the priority for this staff dashboard enhancement?

[2022-02-26 00:24] mstanton1 commented on #11312
@fareenr can you confirm priority for this one? This is part of 3 on the document provided.

[2022-02-26 01:01] chdivyareddy commented on #11090
Verified the individual debtor search (last name, first name, middle name, birthdate) on the Search Results.

Eg: **Mark Joseph Miller**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/0b6b0c7f-87f1-400d-b85c-e25365d892ac)

[2022-02-26 02:22] lmcclung commented on #11333
@thorwolpert @forgeuxGH5 since we already have a work-around (the first account to release the name); then I suggest we focus on fixing the root of the problem - allowing an NR to be affiliated to multiple accounts.

@sienna-blumstengel could you create an NR on one account and then try affiliating it to another test account to verify this is indeed the issue?

@jyoti3286 - can you check with your

[2022-02-26 03:59] thorwolpert commented on #11333
That'll be a bigger fix, as the downstream apps that consume it in draft, will need to do more checks that another account hasn't used it.
We do some checks, but should add to the integration tests

[2022-02-26 04:09] thorwolpert commented on #11333
Or as a 2 stage fix.
Change the error message and roll that in now to stop the calls coming in.
Do the bigger fix and include in an upcoming release

[2022-02-28 02:46] forgeuxGH5 commented on #11333
Here's some text for the dialogs:

**Use case: Name request managed by another account (not consumed)**
Title: Name request managed by another account
Body text: This name request is currently associated with a different BC Registries account. A name request can only be managed by one account at a time. If you wish to manage this name request, the account that is currently managing this Name Reque

[2022-02-28 02:53] forgeuxGH5 commented on #11333
We should probably have more elegant handling of used name requests (e.g., add the business) but that's a bit more involved and would need a bit more work.

Thinking about the multiple account scenarios a bit, we probably need to look at that more in addition to the things @thorwolpert  mentioned, for example, things like receipt and refund handling across accounts.

[2022-02-28 15:53] fareenr commented on #11311
@mstanton1 this is more medium priority. It is most important to have search in the Active tab and then add additional columns for easier sorting in the other tabs, if global search is not feasible.

[2022-02-28 16:22] fareenr commented on #11312
@mstanton1 This is medium priority. It is higher priority to add additional columns for staff to be able to sort through the search results.  The advantage of being able to show/hide columns is that different departments need to view different data and other groups would have to scroll to the right to do the Action on that record.

[2022-02-28 16:37] fareenr opened #11336 "Create PPR Search results guide - close and exact matches"
Meet with Bob Bowles to figure out exactly how PPR search results work, what is included in close matches, what is not included in exact matches.

Need technical components of exactly how program search works be mid-March.

Can follow Nova Scotia guide from Kevin to create something similar for BC. Research explanation of PPSA and PPSR.  Need non-technical components from Personal Property Securit

[2022-02-28 16:53] #11108 closed

[2022-02-28 17:00] cameron-freshworks commented on #10613
The above UX with regards to currently work on Components has been included in #10620, currently in review

[2022-02-28 17:02] cameron-freshworks commented on #10620
includes UX updates to the `My Business` section. See comments at the bottom of ticket #10613

[2022-02-28 17:04] cameron-freshworks commented on #10620
includes Fee summary implementation from ticket #10615

[2022-02-28 17:13] sienna-blumstengel opened #11337 "Verify - Renew NR button not showing when expected"
**Describe the bug in current situation**
Debbie has received several reports of

* NR 8668773  - INC0147231
* NR 0474994

**Impact of this bug**
Client's expect a service, are told by staff they have access to this service, then are confused that they can't use it. Their NRs expire and need to get new NRs, causing more work for clients and staff.

**Chance of Occurring (high/medium/low/very low)*

[2022-02-28 17:36] #10613 closed

[2022-02-28 17:36] #10615 closed

[2022-02-28 17:40] #10609 closed

[2022-02-28 17:42] jinghualicgi opened #11338 "Model Value - Add "-" (hyphen) in model for Vehicle Collateral"
In legacy application, Make and Model for vehicle collateral were a single required field, but in new system, Make and Model are two fields and all mandatory, current solution to fix this data issue is Bob to add "-" hyphen in Model field which is blank. (approx 140,000 entries)

Email discussion from Kevin and Melissa:
From: Bauer, Kevin M CITZ:EX <Kevin.Bauer@gov.bc.ca>
Sent: February 28, 2022 9

[2022-02-28 17:44] PatrickAHeath opened #11339 "PPR - Generate Serial Number Search output for parameter HHKHM905LE0000615 - Terio Solutions - Search ID 95108"
Client is unable to retrieve the PDF for this serial number search.

Please generate the search result for search-id 95108 and send to client.

Here are my findings:
•	I can easily retrieve the data but not the PDF for the VIN#: HHKHM905LE0000615
•	I never requested results for the similar matches
•	I tried (and paid$) already few different times, from different computers / locations with the same

[2022-02-28 18:02] doug-lovett commented on #11339
Large number of serial number search request: will adjust the threshold to resolve for future searches.

Search ID: 95108
Search TS: 2022-02-28 16:19:59.019908
Account ID: 5401.

Report attached below.
[https://app.zenhub.com/files/157936592/bab68486-761b-43c2-9d1c-b6f8cf5aa620/download](https://app.zenhub.com/files/157936592/bab68486-761b-43c2-9d1c-b6f8cf5aa620/download)

[2022-02-28 18:03] jyoti3286 opened #11340 "Defaulting which account gets loaded when user logs in to their BC Registry Account"
As a user with multiple accounts
I would like to know the account which I get defaulted to
so that I can appropriately switch to the required accounts

#### Note: We need some sort of order returned by BE.

[2022-02-28 18:28] jordiwes commented on #10431
@mstanton1 , I think this ticket is covered by the other two tickets & can be closed

[2022-02-28 18:44] trishreimer commented on #10817
Looks good!

[2022-02-28 18:54] lekshmimallika-aot commented on #10758
@lmcclung Are all these outputs available only once the filing is completed?

[2022-02-28 18:56] lmcclung commented on #10758
@lekshmimallika-aot
Receipt and application - upon payment
Statement - upon completion

[2022-02-28 19:08] chdivyareddy commented on #10570
Hey @jordiwes , the Current Expiry/New Expiry of Amendment and Renewal in the body is displayed in Eastern time.

**Current Behavior**:
**Amendment:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/1e0df3d6-3a1b-4197-9f21-14bba0170824)

**Renewal:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a41fb8e2-fdef-41bf-a172-1991d2d2b319)

- [ ] As

[2022-02-28 19:08] trishreimer commented on #10010
Once you discuss communication with Dwayne and if you agree we want to capture their questions/issues in advance, we can use a google form, which would be the easiest and allow us to easily track and report out on findings. @Maribeth-Wilson

[2022-02-28 19:21] trishreimer commented on #10009
Do you know what work was done here? @Amitisp would you be able to find out from Dwayne?

[2022-02-28 19:28] jyoti3286 commented on #10376
Sent an email to CAS team for this. Hopefully we will get something concrete by end of the week

[2022-02-28 19:29] jyoti3286 commented on #10376
Also, there is no user management for FAS on their side. It's all managed on our end.

[2022-02-28 19:29] jinghualicgi commented on #9962
Reopen this ticket, Divya found this issue is happening again

[2022-02-28 19:30] jyoti3286 commented on #10376
We are integrating with CFS which we did with PayBC as well. So most likely the support process would be the same, but I have sent a note to get it in writting

[2022-02-28 19:36] trishreimer opened #11341 "Schedule & Host Info Session with all API Users - Due by March/early April - dependent on specs and when they're available"
Lead - Mags

- after initial communication is sent to API users (see note below re: users), an info session should be scheduled.
If API specs are ready in March, then we should consider hosting engagement session in March.

Presentation: https://docs.google.com/presentation/d/1setQB-nyTmCZBnN1K0wE_6hTuKtxOpvM/edit#slide=id.g11d63f694f1_0_0

Session Details:
- timeline
- product roadmap - MHR and B

[2022-02-28 19:42] jinghualicgi commented on #10995
@thorwolpert Can you add an est. for this done ticket? Thanks

[2022-02-28 19:43] jinghualicgi commented on #11252
@jordiwes Can you give an est. for this ticket? Thanks

[2022-02-28 19:45] trishreimer commented on #11196
Invite ALF to larger user group (along with other users noted in this tix: https://app.zenhub.com/workspaces/ocm-team-space-5db37ce273e8f70001d9e2b1/issues/bcgov/entity/11341

Please ensure all users are added to API dist list for communications.

[2022-02-28 19:45] trishreimer opened #11342 "Create & send Targeted communication to all API Users to create awareness - due March 15"
- Create & send Targeted communication to all API Users to create awareness - due early March
https://docs.google.com/document/d/1HZXp7bTmGKywFttw07uF6SGir6xw_nyx/edit#

key messages that need to be confirmed with PO's:
- new API services for Business Registry Services & MHR
- requirements to use service: account, pad, agreement
- timeline - specs and sandbox
- discourse
- date for info session

[2022-02-28 19:50] trishreimer commented on #11342
Distribution list:
- in addition to existing API users that are currently subscribed to API service (need to query prod), plus all users on the dist list that we have been using for info sessions, please include:

-- local govs/munis - confirm with Amitis - this group may be interested in API's

-- any high volume client that uses any of the BC Registry and Online Services filings today. (need to

[2022-02-28 19:52] jinghualicgi commented on #11085
move this ticket to done @mstanton1

[2022-02-28 19:57] #11150 closed

[2022-02-28 20:00] #11151 closed

[2022-02-28 20:05] trishreimer opened #11343 "Send email to LTSA to notify them of API that can be used instead of web service & follow up with meeting due Apr 4"

[2022-02-28 20:07] trishreimer commented on #11343
LTSA searches for corps and filings today using a web service.

In the future, an API should be used.

Suggest starting this conversation now, so they have lots of lead time so system changes can be made.

[2022-02-28 20:09] trishreimer commented on #11343
@lmcclung - maybe we could start with an email and then follow up with a conversation with LTSA. They do not search SP & GP's today so they do not need to change by June but we should start the process and discussion sooner rather than later so they know what is coming down the pipe.

[2022-02-28 20:15] jyoti3286 opened #11344 "SPIKE TICKET : BC Registry Home Page Update"
Our home page has been updated to the new marketing page - https://www.bcregistry.gov.bc.ca/  but the application still refers to the previous old page: https://www.bcregistry.ca/business/auth/home/decide-business as the home page in some cases

1. currently the two login buttons (in the header and in the button) redirect to the My Business Registry page, but we want to instead drive users to thei

[2022-02-28 20:28] chdivyareddy commented on #10743
Verified in TEST!

**Transactions:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c07923f6-2193-4353-b0fb-82cb8ae3806f)

**Search:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/51fc1dd1-7a5c-46e6-b832-8ba682fc1d27)

**Fee module:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/906d284c-11e0-403e-84c1-6030bdfb

[2022-02-28 20:53] jinghualicgi commented on #10904
Assign to Doug and Bob :)

[2022-02-28 21:29] trishreimer commented on #10931
duplicate

[2022-02-28 21:29] #10931 closed

[2022-02-28 21:30] trishreimer commented on #11026
This would be a good opportunity to reach out and engage with the Corporate Supervisors @magszymanski We haven't really touched base with them since names.

[2022-02-28 21:34] trishreimer commented on #11026
JUst to add: Corp Supervisors indicated that some of them also use MHR, so perhaps we want to have them participate in more than UX for Bus Search....maybe they could participate in beta for MHR @fareenr? I'm not sure if they do SP & GP Filings but may be worth asking??
They also have monthly meetings that @lmcclung  discussed maybe seeing if we could attend to share some info.

I'll create a sepa

[2022-02-28 21:35] trishreimer opened #11345 "Communicate and engage with Corporate Supervisors: Business Search, MHR and potentially SP & GP Filings - March - tbc (depending on when you are doing UX for Search and SP/GP filings)"
- [x] email them to see if anyone wants to participate in UX for Business Search (Mags and Linda or is it John now?) and maybe MHR (update: not MHR as corp sups don't use)

[2022-02-28 21:43] trishreimer opened #11346 "Connect with Small Business on upcoming Search and SP & GP Registration and Maintenance filing changes"

[2022-02-28 21:47] trishreimer commented on #11194
just a reminder that I think we have a tiny url for the mod page that we could use, if it is needed for any communications.

[2022-02-28 21:56] zac-broitman commented on #10379
From Cameron:

[2022-02-28 22:01] Amitisp commented on #10010
Subject: Business Registration Data for Local Govs.
Date: 28/02/2022F12:12
From: Partovi, Amitis CITZ:EX
To: Gordon, Dwayne CITZ:EX
Cc: Sparks, Kaine CITZ:EX;Reimer, Trish CITZ:EX;Dane, Suzanne CITZ:EX

Hello Dwayne,
Hope this email finds you well.
I have been assigned to deliver OCM for modernization of firms and decommissioning of OneStop, ACBC and SOFI.
We would like to communicate the decommis

[2022-02-28 22:24] sienna-blumstengel commented on #10018
We are defining the process for SBC agents in each filing's requirements doc.
**Registration**: https://docs.google.com/document/d/1Z-pjaPWEg5tW_lNTX6GFDJXgKAKHE4olCcJ1YkMJarE/edit?usp=sharing
**Change**: https://docs.google.com/document/d/15LHBNkl76xVmc60GUBcOv0he2cDn7_9tzl3_525EJPg/edit?usp=sharing

[2022-02-28 22:33] gprimeau commented on #11268
@sienna-blumstengel
above document has been added to the CMS asset folder:

https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-other-assets/small_business_congradulations.pdf

[2022-02-28 22:45] trishreimer opened #11347 "Follow up with NWPTA/MRAS partners on Business Registry Search Usage"
MRAS partners login with an IDIR to access search. I don’t think they use search to search for firms, coops or BCOMPS (??) but it may be possible.
We may want to touch base with them as we work through the stakeholder list in the change impact assessment to confirm.

future state:
-will they continue to use IDIRs?
- if so, do we need a new role?
- need to ensure they are on communications

I'm not

[2022-02-28 22:49] sienna-blumstengel commented on #10011
When should we do this? As soon as we can demo the app?

[2022-02-28 22:49] PatrickAHeath commented on #11339
Output has been sent to client.

Refund request for two searches has been added to weekly Zenhub refund ticket 522.

[2022-02-28 22:49] #11339 closed

[2022-02-28 22:57] trishreimer commented on #11347
[Uploading... RE BC Registry Services application access.msg][Uploading... RE BC Registry Services application access.msg][Uploading... RE BC Registry Services application access.msg]

[2022-02-28 23:08] trishreimer opened #11348 "Connect with JERI (Ministry of Jobs, Economic Recovery and Innovation) - prev. JTT - on the new search and filings and long term plan"
We often engage with JTT and keep them informed of what we're doing. Most recently, they created the Business Structures Wizard tool. https://entity-selection-prod.apps.silver.devops.gov.bc.ca

I would suggest sharing our long term plan and next steps, and discuss any opportunities to work together or for them to share info with their stakeholders.

Ian A (no longer here) used to meet with them. P

[2022-02-28 23:32] trishreimer opened #11349 "Work with GCPE on News Bulletin/news you can use on PPR implementation -Mid April"
News bulletin is needed for PPR.

We need to work with GCPE on messaging.

Ensure PO's and team are aware.

Validate and write content.

Deadline: end of March - if PO and team are feeling comfortable with state. (should be okay based on discussions).

[2022-02-28 23:33] Amitisp commented on #10010
@trishreimer initial draft until we gather more info from Dwayne and Krain
https://docs.google.com/document/d/19R33J0915j08doRB02J-vkqwaOwI7j3f/edit?usp=sharing&ouid=116338265612276580086&rtpof=true&sd=true

[2022-02-28 23:44] #11184 closed

[2022-02-28 23:44] #11098 closed

[2022-02-28 23:44] #11119 closed

[2022-02-28 23:44] #11122 closed

[2022-02-28 23:44] #10476 closed

[2022-02-28 23:45] trishreimer opened #11350 "Schedule engagement with RCMP to discuss payment options by end of March"

[2022-02-28 23:46] Maribeth-Wilson commented on #11207
Monthly Info Session (#11207) (account creation/management) – the following dates have been confirmed with Carol:
March 14 @11am: https://meet.google.com/xqh-idpm-has?authuser=0&hs=122
April 11 @ 11am: https://meet.google.com/rto-apmr-dvg?authuser=0&hs=122
May 9 @ 11am: https://meet.google.com/qaf-xjkq-uep?authuser=0&hs=122

[2022-02-28 23:47] Maribeth-Wilson commented on #11209
Ministry Government Account users (11209):
transition, q&a and the products/services (Google Meet link included)
March 24 @ 2pm: https://meet.google.com/xrg-kqjq-quz?authuser=0&hs=122

[2022-02-28 23:48] #9681 closed

[2022-02-28 23:48] #9872 closed

[2022-02-28 23:48] #9873 closed

[2022-02-28 23:48] #9972 closed

[2022-02-28 23:48] Maribeth-Wilson commented on #11217
Non-Ministry Government Account users (11217)
transition, q&a and the products/services (Google Meet link included)
March 28 @ 11am: https://meet.google.com/tuy-bgdg-jom?authuser=0&hs=122

[2022-02-28 23:50] chdivyareddy commented on #11084
Hey @doug-lovett , I noticed the registrations which don't have Vehicle Collateral (eg: Carbon Tax Act), and when there is small amounts of Vehicle collateral for Registrations, Amendments, Renewals, and Discharges(Reg.No: 502057N) then there is a delay in the PDF download being available. Can you please take a look at this, thanks!

- Registration **502058N** is a Carbon Tax Act, which doesn't ha

[2022-02-28 23:52] trishreimer commented on #9659
Please create tasks and link to this epic

[2022-02-28 23:53] lmcclung commented on #11337
@riyazuddinsyed could you verify this is not working properly.  If it isn't, we'll put a P1 on it and ask the SRE team to fix.

[2022-02-28 23:53] PatrickAHeath commented on #8185
@doug-lovett Another cross reference entry for another CRA account:
BCREG Account # 8401 with BCOL Account # 361148

I'll check with the clients of 762830 and 706986 to see what they used in the legacy application.

[2022-02-28 23:53] trishreimer opened #11351 "OCM - Rural Property onboarding to Modernized App - (offboarding from BCOL)"
- awareness & Knowledge needed to support users - provided by BCOL Help Desk
- ensure this BCOL partner has info needed to support their users
- any issues with this BCOL partner using our keycloak realm?
- are there any users currently web scraping this bcol partner service
- how many users do we expect - please notify IDIM
- do we need a script for IDIM in case they get calls from this BCOL part

[2022-03-01 00:00] zac-broitman opened #11352 "FAS - Restrict when a routing slip can be linked"
There are multiple statuses where a routing slip should not be able to be linked (as a parent or child), currently, the system does not prevent all of these.

Routing slips in the following statuses should **not** be able to be linked:
- Refund Requested
- Refund Authorized
- Refund Complete
- Write-Off Requested
- Write-Off Authorized
- Write-Off Complete
- Completed

[2022-03-01 00:11] janisrogers commented on #11083
- [ ] No modal shows up on search screen.
- [ ] If we cannot do the search there is no indication that it is because of large numbers of serial collateral.
- [ ] text on the search info icon has not been updated.
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/37b8a6a7-15c2-4d8a-ae8d-3ee43eac9158)

Should be :
This is a large document that may take up to 20 minutes to ge

[2022-03-01 00:15] doug-lovett commented on #11084
Yes Divya, that is expected behaviour. The scope was enhanced so all verification reports are now generated and stored in cloud storage after the registration completes. So in all cases there is a slight delay before the report is available on the dashboard.

[2022-03-01 00:22] doug-lovett commented on #8185
@PatrickAHeath added to prod:
INSERT INTO account_bcol_ids(id, account_id, bconline_account, crown_charge_ind)
     VALUES (nextval('account_bcol_id_seq'), '8401', 361148, 'Y');
COMMIT;

[2022-03-01 00:26] sienna-blumstengel commented on #11337
I was unable to verify it on Feb 17, but that was just a BC Company Incorporation NR, maybe we should try other types? The issue keeps happening for clients.

Hi Debbie,

[2022-03-01 00:32] doug-lovett commented on #11180
@chdivyareddy  I will make this change, but changing party order in an Amendment is not part of this ticket description.

[2022-03-01 00:39] chdivyareddy commented on #11180
@doug-lovett I will move this ticket along and create a new ticket to change the ordering, thanks:)

[2022-03-01 00:42] PatrickAHeath commented on #9173
@lmcclung @sienna-blumstengel Client is looking for an update on this ticket.

Good afternoon,

A request was sent on September 22, 2021 to alter this corporation to a Benefit company. Its been a lot longer than the 2-3 month turn around. The client has been e-mailing us asking for updates. Can you please have this one escalated they phoned again today asking about it and would like it done if pos

[2022-03-01 01:25] chdivyareddy opened #11353 "PPR Amendment - Ordering of Secured Party/Debtors is changed after Amendment"
- [x] The order of the Secured party Names and Debtor Name changes after the Amendment.

**Base Registration: 256391N**

[https://app.zenhub.com/files/157936592/2ce9409d-05bc-4041-8070-e184249e68ef/download](https://app.zenhub.com/files/157936592/2ce9409d-05bc-4041-8070-e184249e68ef/download)
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/4baa0a88-502a-4f71-b293-38d8c4e

[2022-03-01 04:48] rarya-freshworks commented on #6151
I am using BCeID to test the scenario mentioned in the steps and it is having issue still. It works fine with BCSC login.

Note:
Here is the recording with BCeID: https://images.zenhubusercontent.com/157936592/483df3fe-0838-422b-b7e8-046d1d7c1a99/recording.mov

[2022-03-01 05:03] saravanpa-aot commented on #6151
Can you try the same with PPR and Namex?

@shabeeb-aot any thoughts?

[2022-03-01 16:09] magszymanski commented on #11294
duplicate

[2022-03-01 16:09] #11294 closed

[2022-03-01 16:27] zac-broitman commented on #10378
A meeting has been set up to discuss this on March 7th

[2022-03-01 16:30] vysakh-menon-aot opened #11354 "QA - Create Registration statement output"

[2022-03-01 16:33] zac-broitman commented on #10381
Business leads agree that a guide should be produced for the system, outlining the available features. The UAT scripts can likely act as a starting point for the guide as they cover those features and high level steps. It was noted that since the business processes themselves are only slightly changing, the focus of the guide is more to provide technical instruction on how to use the system and no

[2022-03-01 16:35] mstanton1 commented on #10897
@forgeuxGH5 was there a design for this?

[2022-03-01 16:50] doug-lovett commented on #11088
@Kaineatthelab Individual debtor example attached below.

[https://app.zenhub.com/files/157936592/a4aaa0c3-8f3e-4a33-9caa-b0f4ceeebe77/download](https://app.zenhub.com/files/157936592/a4aaa0c3-8f3e-4a33-9caa-b0f4ceeebe77/download)

[2022-03-01 17:04] mstanton1 commented on #8552
Removing from current sprint as this will take place towards the end of MHR.

[2022-03-01 17:08] mstanton1 commented on #10431
@chdivyareddy can you confirm that the work above is tackled?

[2022-03-01 17:15] tlebedovich commented on #10518
@jordiwes @chdivyareddy -
I'm moving this Amendments Screen 1 ticket along to RFQA - but steph,  please fix the Add Vehicle title alignment. It got moved to the left edge during your last round of updates:

![Screen Shot 2022-03-01 at 9.12.04 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/8745faaf-1505-44c0-b750-35ed4d9dd2fb)

[2022-03-01 17:17] rarya-freshworks opened #11355 "Automation Tasks"
Description:
In This sprint I am going to focus on:

1.) Create RS flow to work as expected without breaking it.
2.) Fix some other errors that might show up.

[2022-03-01 17:24] vysakh-menon-aot commented on #9253
UX note: Please review these attachments

SP: [https://app.zenhub.com/files/157936592/fad0e798-ea52-4653-8bce-598e65303b0f/download](https://app.zenhub.com/files/157936592/fad0e798-ea52-4653-8bce-598e65303b0f/download)
GP: [https://app.zenhub.com/files/157936592/8d1c18a6-ab8f-41f8-94e9-19ddd819084d/download](https://app.zenhub.com/files/157936592/8d1c18a6-ab8f-41f8-94e9-19ddd819084d/download)

[2022-03-01 17:34] chdivyareddy commented on #10431
Verified!

**PPR Staff:**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/9c92a95e-f081-4ca9-b852-77c2fce17364)

**BCOL Help:**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/59363298-6ceb-45b0-ba05-a3a6eeca8550)

[2022-03-01 17:36] sienna-blumstengel commented on #9253
@vysakh-menon-aot can you please upload a DBA output?
So tracey can see the new fields under the sole prop? That is the only difference we think

[2022-03-01 17:45] #10583 closed

[2022-03-01 17:50] chdivyareddy commented on #10591
Verified in TEST, it's working as expected.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/64580713-7ad5-4459-8a0e-b0af9a26630d)

[2022-03-01 17:55] ozamani9 commented on #11198
Please refer to google doc spreadsheet :  Omids Checklist for Github/Zenhub/OpenShift Access removal.
Sumesh will not be removed till March 31st.  (will get Patricks approval before removing Sumesh)
There are some ids that showed up on Openshift Removal (but should not be removed).  Will discuss with @pwei1018 at weekly standup.

[2022-03-01 18:13] rarya-freshworks opened #11356 "Account changes when navigating within Entities UI Flow"
**Description:**
When navigating between Entities UI the account name changes as accountID in URL parameter is not currently being accepted in common components.

**Steps:**
1. Go to BCROS home page (https://dev.bcregistry.ca/business/auth/home/decide-business)
2. Login as a user with multiple accounts with BCeID or so.
3. Switch to an account that is not the first in the list (eg, Account 2)
4. C

[2022-03-01 18:15] rarya-freshworks commented on #11356
@jyoti3286 please ask entities team to fix the issue from there end as we cannot fix it.

[2022-03-01 18:16] lekshmimallika-aot commented on #10612
This ticket can be implemented and verified only once the filer is done because it pulls the data from tables after filing completes and not from the filing json

[2022-03-01 18:24] kialj876 commented on #11114
sounds good, I should be able to get to that sometime later today

[2022-03-01 18:31] chdivyareddy commented on #11292
Verified!

Registration Number: **256406N**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d3ebb0c3-8efc-4dc6-b9cf-6ddd1dec683f)

[2022-03-01 18:49] ozamani9 commented on #10774
@lmcclung this was pushed out with Entities Release 12.1 already for business-filings-ui.... is it possible for staff to verify that the expiry date is now a full number... then perhaps @jinghualicgi can close ticket.

Thanks

[2022-03-01 18:51] doug-lovett commented on #10407
Test when the UI change for 10090 is ready.

[2022-03-01 18:59] trishreimer opened #11357 "Investigate payment options for international clients - if we phase out bcol accounts, how will international clients pay?"

[2022-03-01 19:13] chdivyareddy commented on #11187
Hey @jordiwes , the max field length validations got updated to First and Last Names for all the modals. Can you please take a look at these scenarios, thanks!!

- [ ] Middle Names are not updated with the validation when the max limit reaches (50 chars).

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/44ced004-652a-44b5-b47f-325223ab4809)

- [ ] When the user copy-past

[2022-03-01 19:21] tlebedovich commented on #10220
@lmcclung @yuisotozaki @sienna-blumstengel - needs answer regarding editing/changing/updating a business Prop/Partner if it was originally added via the look up

[2022-03-01 19:23] tlebedovich commented on #10398
@lmcclung @yuisotozaki @sienna-blumstengel - needs decision on which output layout for GPs (see Invision for OPT A and OPT B) and needs final review of email content spreadsheet

[2022-03-01 19:24] tlebedovich commented on #10945
@yuisotozaki @lmcclung @sienna-blumstengel - Email content needs final staff review

[2022-03-01 19:43] ozamani9 opened #11358 "Genevieve Primeau onboarding"
**Onboarding checklist for new team members**

**IDIR**
- [ ] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [ ] Submit to IT Operations Support. This form should be emailed to the Registries Executive Assistant. Currently this role is held by Michael Leung.

-----------------

**Legacy Ap

[2022-03-01 19:49] lmcclung commented on #10263
@tlebedovich @yuisotozaki I like the header changes.  Hope to run email content by staff tomorrow.

[2022-03-01 20:54] trishreimer commented on #11296
I added some comments. Looks like there's still content from the PPR plan. I didn't review the internal section.

thanks

[2022-03-01 21:10] mstanton1 commented on #10804
@trishreimer availability, based upon payment method, has been provided by relationships. Is the OCM team able to determine how/where we should publish availability?

[2022-03-01 21:17] trishreimer commented on #9659
If this is going live March 31st, would you mind looking at what is needed this week @fareenr

[2022-03-01 21:32] jinghualicgi commented on #11132
@Amitisp assign this to since this is for Firm :) thanks

[2022-03-01 21:39] fareenr commented on #9659
According to Suzanne's status notes, only the development is planned to be completed by end of March. Go live is still targeted for Jun after FRCR has been completed.

[2022-03-01 21:43] mstanton1 opened #11359 "UX Design - Tax lien type TL special message"
Display message for Tax lien type TL:

The Ministry of Finance and Corporate Relations Revenue Administration Branch
has a registered lien against the assets of this individual or company.  Call
the registering party noted for further details.

[2022-03-01 21:57] PatrickAHeath commented on #10805
@forgeuxGH5 Comment from Chelsea via Discourse:
We have a inquiry about badges - if in an Amendment a debtor name and address was changed, how will the badges show the verification statement?

We had an issue in the past where the name of a debtor was amended to include periods, like “ltd.” - and a space as added in the postal code, from T9E0A9 to T9E 0A9. The Debtor showed as Added and Deleted, w

[2022-03-01 22:01] jordiwes commented on #10100
Already fixed?

[2022-03-01 22:01] jordiwes commented on #10100
![image.png](https://images.zenhubusercontent.com/6018b860657f476731f9d68d/2d107cd8-3565-45f6-9bbc-cf3851d5d67e)

[2022-03-01 22:02] pwei1018 commented on #10844
@lmcclung @thorwolpert I just finished my research.  I think we can use the existing REST service (created for LCRB before) to SP/GP. I opened the firewall in between webmethods server and Openshift. For temporary usage , we may not need a BNWrapper project for this. However, it depends on the application design.

Here is the example call to create a BN15.
![image](https://user-images.githubuserco

[2022-03-01 22:03] mstanton1 commented on #10100
@chdivyareddy can you verify if this has been addressed?

[2022-03-01 22:06] thorwolpert commented on #9173
Can you attach the current business summary to this, so that we can be sure the conversion has the correct info

[2022-03-01 22:11] janisrogers commented on #9276
@mstanton1  I'm not sure I fully understand what was missing from this ticket. Can this be closed? I checked the following
In new business registry, business is unaffiliated and shows Involuntary dissolution in dashboard
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/ff1e5939-03b8-4ac0-a884-9036352b61c3)

Colin shows Administrative Dissolution
![image.png](https://image

[2022-03-01 22:16] chdivyareddy commented on #10100
@mstanton1 @jordiwes Yes, this has been fixed in #11090

[2022-03-01 22:24] pwei1018 commented on #10844
![image](https://user-images.githubusercontent.com/44277752/156259149-90818205-97b8-4c20-8aee-8ac42ad2f0aa.png)

[2022-03-01 22:28] pwei1018 commented on #10844
SBN service description:

https://drive.google.com/drive/folders/14m0JfmO0SqnAr-_WmYG8XipDI_PRry5o

[2022-03-01 22:37] forgeuxGH5 commented on #10805
@PatrickAHeath Hmmm... yeah that's one a bit of a combination of action (amending the Debtor) and the Badges and the Title.

Right now it's breaking the Amend action into a Delete and Add and getting recorded as a Debtor Transfer.

It should look like this:
UI Button / Action: Amend (Debtor)
UI Badge: Amended
UI Column Label / PDF Verification Statement Title: Amendment - Debtors Amended
PDF Verif

[2022-03-01 22:38] ozamani9 commented on #11256
I created 11 NRs through the interface for each type of restoration.   The request_action_cd for all of them is REH (still not sure, how some in prod are blank they are not coming from interface)

Before expiration applied:
![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/4888c059-b2c1-462c-9c57-440db7648ca4)

after approval and expiration_date applied  ALL are 1 year 56

[2022-03-01 22:58] magszymanski commented on #11136
@cwulff1 thanks so much for helping with this, I really appreciate this: https://docs.google.com/spreadsheets/d/1m6SAWzSzSg04xhroIFOM36ZiYcNYtTzVA3u3h2lRaC4/edit#gid=1017365379

[2022-03-01 23:01] magszymanski commented on #11140
duplicate of 11296, closing!

[2022-03-01 23:01] #11140 closed

[2022-03-01 23:01] #10651 closed

[2022-03-01 23:09] Amitisp commented on #10010
@trishreimer @lmcclung
For your review:
https://docs.google.com/document/d/19R33J0915j08doRB02J-vkqwaOwI7j3f/edit

[2022-03-01 23:20] SateeshFW commented on #11340
Either 'alphabetical order' or 'created by' sort order should be considered and the default one would be the top one in the list.

[2022-03-01 23:20] forgeuxGH5 commented on #10805
@mstanton1 FYI - I also noticed a Birth Date change was registered as an Address Change on the verification statement for a legacy registration - so we should check all the badging.

[2022-03-01 23:21] SateeshFW commented on #11340
Show a toast msg saying 'You have been logged-in with this account id'

[2022-03-01 23:22] ozamani9 commented on #11271
@severinbeauvais i do not see any logic related to "expires in" N days in
business-edit-ui  or
business-create-ui.

Also are you able to see the decimal number for any NRs in DEV/TEST that are not a whole number anymore (after my changes were pushed to dev/test/prod)

can you give me a hand when you are free?

[2022-03-01 23:28] Amitisp opened #11360 "OCM - Revisit the BC registry data for local govs. with Digital Delivery and Portfolio"
Discuss the current agreement and the data shared with local govs. via OneStop and ACBC
Evaluate what the future BC registry data sharing with local govs. will be and capture in the next communication.

[2022-03-01 23:29] Amitisp opened #11361 "TEST"

[2022-03-01 23:30] Amitisp opened #11362 "TEST"

[2022-03-01 23:30] mstanton1 commented on #9276
@janisrogers thank you. The only outstanding part was the administrative dissolution/BN verification that you've confirmed. As the involuntary dissolution took place Feb 11 I will reach out to IT Ops to confirm this is complete and close this ticket.

[2022-03-01 23:33] #9276 closed

[2022-03-01 23:57] mstanton1 commented on #9173
@thorwolpert here is the current summary from SoFi.

[https://app.zenhub.com/files/157936592/7d1b71fa-7c61-4d5f-9652-dc3d84a14be8/download](https://app.zenhub.com/files/157936592/7d1b71fa-7c61-4d5f-9652-dc3d84a14be8/download)

[2022-03-02 00:27] sienna-blumstengel commented on #10220
Maybe we should discuss at the firms meeting? I will add it to the list, though we do have lots to discuss

[2022-03-02 00:34] lmcclung commented on #11343
@trishreimer @magszymanski great idea to invite them to the API info session.
Mags, would you mind emailing Michael Kagis to see if he has a contact for LTSA?

[2022-03-02 00:49] trishreimer commented on #11343
Since our meeting to discuss local governments and options available to this partner group, LTSA may fall into the same category as municipalities.

If LTSA use an API -there is currently a fee in place when using this service. Currently, hey do not pay for this data.

Maybe the BN route is a better option, like our other partners? @lmcclung

[2022-03-02 01:24] chdivyareddy commented on #10570
@jordiwes,

- [ ] In the PPR Search, the search results screen is displayed in Eastern Time

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/863a4e93-5034-431d-9942-c77dfba1305f)

- [ ] In the PPR Renewal, the screen2 (Review and Complete Renwal) displays Eastern time (256387N)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/97447776-7ba9-47ad

[2022-03-02 01:31] trishreimer commented on #10804
As a first step, perhaps we add it to a common component like a footer? This way it is easy for us to update and can be done immediately.

I think it would be ideal though to notify the user before they start the action though as most will not be looking for a link in a footer

Could we display a targeted message, based on payment method and time of day (so a timed message):
- Sundays from 6:00 AM

[2022-03-02 01:49] severinbeauvais commented on #11271
Ah, you are right about Create UI: it shows the NR expiry date but not "in N days".

Also Edit UI doesn't seem to show any information about a NR.

As for a non-decimal NR in Test, that requires one that is created before Mar 13, 2022 and expires after (or before Nov 5, 2022 and expires after). I could create one now, and start an IA with it, but so could you :)  Let me know if you need my help wi

[2022-03-02 02:23] severinbeauvais commented on #9842
### Test Notes

Please see all "to do" items in this ticket's description.

In particular, the following code was touched:
- all Legal API calls (code that loads/saves filings and NR)
- new SBC Staff breadcrumbs (separate from Staff breadcrumbs)
- unsaved changes messages (cancel without saving + close window without saving)
- code that sets filing type on app init
- code that gets current account

[2022-03-02 02:35] severinbeauvais commented on #9842
@tlebedovich @yuisotozaki This ticket is deployed to Dev and ready for UX Assurance. See description and comments above for all the little (and not so little) things fixed.

[2022-03-02 16:09] ozamani9 commented on #11271
@severinbeauvais so we dont need to change Create UI or Edit UI.  correct.   should we close this ticket.

or are you saying there is logic that needs to be changed.  I was hoping you could show me in either application Edit/Create where you are still seeing decimal number.   If not.

we should close this ticket.      Thanks

[2022-03-02 16:09] janisrogers commented on #9173
Corporate summary and filing history added to description.

[2022-03-02 16:15] trishreimer commented on #11343
Since Dwayne is looking into the local gov agreements already, I'll reach out to him to see if we have one with LTSA.  @lmcclung

[2022-03-02 16:30] trishreimer commented on #11343
Just emailed to see if the BN partner option would be better than API based.

[2022-03-02 17:00] sienna-blumstengel commented on #11268
Updated email content in [line 3 of this spread sheet](https://docs.google.com/spreadsheets/d/17wMY9znmWMr2RoXH9S2elffC8uE7iifUGB5Hu3VVFpE/edit?usp=sharing) with the link Gen provided above.

[2022-03-02 17:00] #11268 closed

[2022-03-02 17:25] severinbeauvais commented on #11271
I just checked the sources. I cannot find any logic (ie, DateMixin::daysFromToday()) that needs fixing.

To see the NR info in Create UI, open an IA for a named company, eg, https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/create/incorporation-define-company?id=Tnl0ANu8eA.

Edit UI doesn't show the NR info (just its number).

So yes, the problem reported in this ticket doesn't e

[2022-03-02 17:26] chdivyareddy commented on #11323
**Current Behavior in DEV:** The expiry dates on the Search output and Verification statement match.

Regiatration Number: **256401N** (This registration was created on February 28, 2022 at 5:14:44 pm Pacific time)

**Search Output:**
[https://app.zenhub.com/files/157936592/ed03600b-0320-4276-8f82-5006623f4f7e/download](https://app.zenhub.com/files/157936592/ed03600b-0320-4276-8f82-5006623f4f7e/do

[2022-03-02 17:27] Amitisp opened #11363 "TEST"
TEST

[2022-03-02 17:28] gprimeau commented on #8481
@sienna-blumstengel  here is what I believe would be the final draft of this form

[https://app.zenhub.com/files/157936592/9c8cf41d-05c6-4dba-9f1a-d32334554e84/download](https://app.zenhub.com/files/157936592/9c8cf41d-05c6-4dba-9f1a-d32334554e84/download)

[2022-03-02 17:30] fareenr commented on #10817
Mar 2 - 765 emails sent to BCeID Administrators from engagement mailbox

[2022-03-02 17:31] fareenr commented on #11028
1 Mar - Multi-account release deployed and posted on Mod news update page

[2022-03-02 17:36] #10779 closed

[2022-03-02 17:36] #11279 closed

[2022-03-02 17:36] #9245 closed

[2022-03-02 17:36] #10894 closed

[2022-03-02 17:36] #11096 closed

[2022-03-02 17:37] mstanton1 opened #11364 "API - Remove case sensitive filtering"
Remove case sensitive filtering on registered by names.

[2022-03-02 17:38] ozamani9 commented on #11271
@severinbeauvais    Thanks bud.

Here is what i see when i click on link and the expiration date is displayed not number of days in create UI.    thanks for confirming.

@lmcclung would you like to close ticket or shall i.... NO WORK REQUIRED

[2022-03-02 17:41] mstanton1 opened #11365 "Sorting by Registered by"
Sorting not working: Registered by

Currently this was identified as issue because Not Available show throughout the table. The reason they are shown in separate spots is because the user does not have the ability to see all the users so although the system is sorting properly some are being labelled as Not Available.

[2022-03-02 17:50] mstanton1 commented on #11365
Decision to leave as is for now. Sort is hard to find so most users won't actually find this.

[2022-03-02 17:52] #9777 closed

[2022-03-02 17:54] mstanton1 opened #11366 "UI - Clearing Filtering"
Removing the filter while a filter is "in progress" (waiting for API return?) should removed the loading indicator and not display any timeouts/errors based on the initial filter application.

- attempt to cancel first call, but if not possible, ignore it
- if they didn't have a current filter then we don't make the clear filter call - we just stop searching

[2022-03-02 17:57] saravanpa-aot commented on #11021
@jyoti3286 I think we dont need testing from QA since its the data which we sent to CFS is only getting changed.. Can i close this ticket without @rarya-freshworks testing?

[2022-03-02 17:57] chdivyareddy commented on #10276
@jordiwes , As I see UX tag to this ticket, moving to UXA, thanks!

[2022-03-02 18:22] sienna-blumstengel commented on #11268
@gprimeau I have been informed we only need the first page of that PDF! Could you remove page 2 3 and 4, and re-host the PDF at the same link?

Thanks!!

[2022-03-02 18:40] mstanton1 opened #11367 "MHR Search Output Enhancements"

[2022-03-02 18:50] mstanton1 opened #11368 "UI Design - Search Output Footer and Base Registration Number"
Given I am looking at a search result
When I look at the following pages
Then I want to see the base reg number at the top of each change section
and the search criteria in the footer of each page
and page number for the table of contents

### **Search Report Updates to include:**

**See visual design comps for examples**

**1.** ~tighten white spacing in search output headers (above and below log

[2022-03-02 18:52] mstanton1 commented on #11368
@tlebedovich as discussed here is the design ticket for the search output footer/base reg number changes.

[2022-03-02 18:53] gprimeau commented on #11268
@sienna-blumstengel  Done
Removed pages 2-4 and re-uploaded the single welcome letter on page 1.
link should remain the same

[2022-03-02 18:53] kialj876 commented on #11114
bah forgot to do the snackbar transition -- other stuff is in dev though

[2022-03-02 18:53] mstanton1 commented on #10897
Likely will need to be tackled after this sprint as design is pending. Created 11368 for design. Moved second section (include base registration number) out as it is covered in 11035 already.

[2022-03-02 18:54] mstanton1 opened #11369 "UI - Search Output Size and Print Changes"
Given I am looking at a search result
When I look at the pages
Then I want the font to be smaller, page length to be reduced, amount of ink to be reduced and color to be used less
So that I can print quickly with use of less paper and ink

[2022-03-02 18:59] Amitisp commented on #11360
Follow-up to meeting on Mar. 1 regarding OneSop and ACBC Decommissioning impact on local govs.
Discuss the findings regarding the MOUs, data surrounding the use of OneStop and ACBC by local govs. (from David Roberts), solution options to provide business registry info to local govs. and any received inquiries.

[2022-03-02 19:02] vikasvermacertain commented on #11288
analytics repo has been created by Thor - this issue can be marked closed.

[2022-03-02 19:03] mstanton1 opened #11370 "UI Design - Search Output Size and Print Changes"
Given I am looking at a search result
When I look at the pages
Then I want the font to be smaller, page length to be reduced, amount of ink to be reduced and color to be used less
So that I can print quickly with use of less paper and ink

Things to look at:
- Reduce white space between sections
- Possibly reduce font sizes

[2022-03-02 19:04] mstanton1 commented on #11370
@tlebedovich as discussed I've created a ticket to capture the changes for ease of printing.

[2022-03-02 19:05] severinbeauvais commented on #9518
Also in this ticket:
- [ ] replace NR type to Entity Type mapping with nr.legalType
- [ ] store nr.businessType (new enum = DBA or SP)
- [ ] update NR validation checks

cc: @vysakh-menon-aot

[2022-03-02 19:13] vikasvermacertain commented on #11285
To start with the role, following tools/ access required:

Rocket chat: Install rocketchat app - preferably use the URL version:
https://chat.developer.gov.bc.ca/channel/registries-entities

Openshift platform: Need access to openshift
https://console.apps.silver.devops.gov.bc.ca

To access the databases:
install pgAdmin - a browser based solution to access standby postgres databases

GitHub:
Need

[2022-03-02 19:23] #11361 closed

[2022-03-02 19:23] #11362 closed

[2022-03-02 19:23] #11363 closed

[2022-03-02 19:37] mstanton1 opened #11371 "Draft - Demand for Discharge on behalf of client or person(s) with interest"
Problem: Currently the Demand for Discharge forms for PPR do not provide an opportunity for lawyers or parties acting on behalf of a client or person(s) with interest. The suggestion is to update the forms to allow for attorney's acting on behalf of. In order for this to go through fullsome policy review we've been asked to provide a draft with the revised verbiage.

- https://www2.gov.bc.ca/asset

[2022-03-02 19:41] jinghualicgi commented on #11127
As discussed with Trish, we are converting following two epic into story and put it under this epic:
- OCM - Firm Registration/Maintenance Filings Training#11129
- OCM - Firm Registration/Maintenance Communications & Engagement#11131

[2022-03-02 19:43] jinghualicgi commented on #10930
As discussed with Trish, we are converting following two epic into story and put it under this epic:
- OCM - Business Search Training#11137
- OCM - Business Search Communications & Engagement#11139

[2022-03-02 19:50] mstanton1 commented on #11371
Only one draft (example) should be required. I've reached out to Amber and Sharon to see if either can help identify specific changes for inclusion in this ticket.

[2022-03-02 19:54] gprimeau commented on #10036
@sienna-blumstengel

First draft for review : https://assets.adobe.com/id/urn:aaid:sc:US:50b459c8-a519-4eb0-b2ec-425726aa3672?view=published

[2022-03-02 19:58] yuisotozaki commented on #9842
@severinbeauvais Do you know what virtual service card account I can use to take a look at SBC staff views?

[2022-03-02 20:10] mstanton1 opened #11372 "UX - Text Update for Large Amount of Collateral wording"
Current modal reads:

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/1298dbd0-9b5f-41d6-b8b7-01195a885c01)

Divya has identified this i icon and message will occur with large searches, large amount of vehicle collateral, as well as for all standard renewal/amendment/discharge.

Message needs to be genericized further as this is not always for large documents and may be

[2022-03-02 20:13] mstanton1 opened #11373 "UI - Refresh when i Icon is clicked"
When a document isn't created immediately, upon being available it will only show after the user has refreshed the screen.

If a user clicks the i Icon the screen should refresh for the specific row.

[2022-03-02 20:17] severinbeauvais opened #11374 "Filings UI: get account id from CURRENT_ACCOUNT"
After discussing this with Faiz, we decided that Filings UI should get account id from the **session storage CURRENT_ACCOUNT object**. This object will be set by SBC Header, which itself looks at the URL parameter "currentid" -- in other words, Filings UI doesn't need  to get `accountid` from the URL and it doesn't need to store ACCOUNT_ID in session storage.

Example:

![image.png](https://images

[2022-03-02 20:29] severinbeauvais commented on #11374
cc: @shabeeb-aot @jyoti3286

@jdyck-fw @lmcclung Small ticket to improve our code. No rush but it's small... up to you which sprint to add it to.

[2022-03-02 20:36] yuisotozaki commented on #10398
[Option A](https://projects.invisionapp.com/share/DP124R444HVM#/screens/462028758) All changes called out in-line.
[Option B](https://projects.invisionapp.com/share/DP124R444HVM#/screens/464662463) All changes call out separately.

I like Opt B as each partner names are written out in context.

[2022-03-02 20:38] severinbeauvais commented on #9842
Info sent by RC to keep passwords private.

[2022-03-02 20:41] yuisotozaki commented on #10945
@tlebedovich Email content was reviewed and revised with staff this morning. The spreadsheet content is up to date. There is only 1 email for SPGP dissolution, Confirmation of dissolution.

[2022-03-02 21:11] jinghualicgi commented on #8629
@forgeuxGH5 Scott, Melissa change this ticket into Design ticket, its now under New Issue on Design Board, please be aware of this ticket :) thanks

[2022-03-02 21:36] forgeuxGH5 commented on #11083
Changing the tooltip text and interaction.

Change the tooltip text as in the screenshot:

![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/2ec4fddf-4cfb-45b1-be87-887c17dd1676)

Change the interaction to enable the icon to act as a button to attempt to load the pdf.
When the icon button is selected check for a generated PDF
Display the loading spinner in place of the ico

[2022-03-02 21:49] sienna-blumstengel commented on #11347
@trishreimer looks like your document never uploaded, could you try again?

[2022-03-02 21:52] trishreimer commented on #11347
I emailed you  the docs

[2022-03-02 21:55] tlebedovich commented on #10620
@cameron-freshworks UXA of above:

- [ ] Increase size of info icons for both Business Type and Business Start date components to 22px:
![Screen Shot 2022-03-01 at 10.41.56 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/3712e2fb-b957-4ec0-a3f8-4855078cd0a2)

-[ ] Step vertical align of info icons to "top" so they don't sit low:

![Screen Shot 2022-03-01 at 10.41.52 AM.png](h

[2022-03-02 22:05] sienna-blumstengel commented on #10589
Duplicate of https://app.zenhub.com/workspaces/ocm-team-space-5db37ce273e8f70001d9e2b1/issues/bcgov/entity/10590

[2022-03-02 22:18] tlebedovich commented on #10687
@yuisotozaki said that Phone should now be optional for SP/GP with the "(Optional)" text added to the default phone field text. It's optional in SP/GP Registration already. c/c @lmcclung

[2022-03-02 22:34] jdyck-fw commented on #10296
This will be groomed this week by Relationships to go into next sprint.

[2022-03-02 22:38] jinghualicgi commented on #10102
@PatrickAHeath will recheck this issue

[2022-03-02 22:40] jinghualicgi commented on #10389
@PatrickAHeath please double check this ticket

[2022-03-02 22:41] jinghualicgi commented on #10389
@doug-lovett Doug is this been done? UI ticket is 10224, thanks

[2022-03-02 22:45] tlebedovich commented on #9253
@vysakh-menon-aot - UXA in progress (awaiting DBA version with delivery instructions):

- [ ] Align Business Info delivery address with the other delivery addresses
- [ ] SP/DBAs are missing the "The Proprietor listed below..." statement - see design comps
- [ ] Footer should say "Registration" instead of "Corporate Registry"
- [ ] Incorrect text used for Completing Party - use the staff version s

[2022-03-02 22:51] sienna-blumstengel opened #11375 "Training needs assessment - (a month before go-live)"
stakeholders: https://docs.google.com/spreadsheets/d/1DOIWERekj5xP3xQFnbQ7Ye6i90kwFzKc/edit?usp=sharing&ouid=108294243642310593894&rtpof=true&sd=true

- [x] **(Corps and search unit)** Ask Debbie and Myra in requirements gathering. **Maybe someone can be the train the trainer?**
- [x] **(Maximus)** Email Taija.Cooke@gov.bc.ca and SBCContactCentreInfo@gov.bc.ca **First confirm they are supporting r

[2022-03-02 22:54] mstanton1 opened #11376 "UI Design - Unhandled Errors"
Currently if an unhandled error occurs clients receive an error message that suggests an issue with search.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/06e55840-fc7d-44a4-b609-e0ffdc62de8f)

E.g. in a case escalated by a client recently this error was received but the issue was a hidden character in a debtor name.

An unhandled error message modal is required that c

[2022-03-02 22:55] jinghualicgi commented on #8881
@forgeuxGH5 Scott, can we close this ticket?

[2022-03-02 23:30] chdivyareddy commented on #10470
Verified!

**SBC Staff:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/82681d53-ee27-4d03-8a53-9c8b555d20b6)

**Registries Staff:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/1fe3deec-125b-4212-89e5-185f42a6a940)

**BCOL Staff:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/004b6051-2c36-4a01-b72a-f9bd089d0

[2022-03-02 23:31] Kaineatthelab opened #11377 "Open a new session in PPR Dev/test or prod, click on a pdf and get the error in the ticket"
**Describe the bug in current situation**
A clear and concise description of what the bug is. The bug is sporadic.
Open a new session in PPR Dev/test or prod, click on a pdf and get the error in the ticket
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/217473ac-aa79-4dd1-a1e8-636ac82a8e86)

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e.

[2022-03-02 23:34] yuisotozaki commented on #9842
UXA mostly passes with following notes.
@tlebedovich If the user didn't provide required fields, there are two ways it appears on the Review and Confirm state. One with parentheses, one without. Which one should we be consistent with?
<img src="https://images.zenhubusercontent.com/5e3c6715d85e5dced833aef6/a146649b-9835-42dd-b8e7-73cc252ada40" width=500px/>

If I leave the page using breadcrumb lin

[2022-03-02 23:35] yuisotozaki commented on #9842
@severinbeauvais Please see findings above.

[2022-03-02 23:56] forgeuxGH5 commented on #10889
@mstanton1 Display the registrations in the same order as they appear in the Table of Contents - this wasn't listed in the Acceptance Criteria but I don't think we should ship without it.
Add Registration Type Column heading back to Registration Number Search Result Report TOC
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/45f85fa7-0ea1-4d29-9732-4e29e149221f)
Add Secti

[2022-03-02 23:56] forgeuxGH5 opened #11378 "UI - Enhancements to Search Results Table UI"
Enhancements to Search Results Table UI
Automatically select similar matches when the similar match is in the same registration as an exact match (these cannot be de-selected)
Automatically select similar matches when the similar match is in the same registration as another selected similar match (these can be de-selected but it also de-selects the other match)
Allow mulitple selection of contigui

[2022-03-03 00:01] chdivyareddy commented on #8649
@mstanton1 @jinghualicgi , this is not implemented yet, I see the same behavior as earlier.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/678ec8a0-8524-4d16-86a2-5eda9edb3d20)

Moving this back to the backlog, thanks!

[2022-03-03 00:03] severinbeauvais commented on #9842
1. This is a new requirement and shouldn't hold back this ticket. Easy fix though - let me know, I might be able to do as part of #9518.

2. Our code provides a custom message for this browser dialog, but it's up to the browser what to actually display. (Try a different browser!) In this case, clicking the breadcrumb triggered a navigation event (ie, tear down this app), which we catch with the "o

[2022-03-03 00:07] kialj876 commented on #8773
Okay so I got this one through finally. Issue ended up being due to the alteration filing created in LEAR not having 'certifiedBy' in the header of the json and so it was failing on the schema check (if this is new then the schema needs to be updated + the colin-api rebuilt to include that change by the entities team). I updated the json in LEAR so it has 'certifiedBy: Registry Staff'.

The 'filed

[2022-03-03 00:07] kialj876 commented on #8773
I think the ops part of this is done and the remaining part can be opened as a bug for enitites?

[2022-03-03 00:09] magszymanski opened #11379 "OCM - DRAFT EMAIL TO BCOL Clients - Communications on Search and SP/GP Registration - Due March 8"
The first email going out to clients will contain information on Search AND registration and maintenance of SP/GPs.
Draft: https://docs.google.com/document/d/1fZgBoIYGrEqH1JyTXbOgULpvaKQckQR_/edit#

Included in this draft:
- What is coming and when
- Premium account creation due by May 20, 2022
- Info sessions
- Screen scraping identification
- Subscription to Modernization Updates

[2022-03-03 00:11] magszymanski commented on #11379
@Amitisp  Trish suggested that we target both user groups (My business search group and your registration/maintenance group) since there is so much overlap. Please review the draft email that can be sent out to clients. I have a distribution list of BCOL users who use search, and we will need yours for SP/GP registration.

[2022-03-03 00:20] sienna-blumstengel commented on #9842
@severinbeauvais
3. to confirm, is the error happening when you log in to a Service BC ministry account? And I guess ministry accounts don't have an account email right now? Maybe this is a relationships bug, or it is expected and we need to handle this scenario?
Did I get that right?

[2022-03-03 00:23] severinbeauvais commented on #9842
@sienna-blumstengel Yes, that's the issue, but I don't know what scenarios are valid (eg, empty email) or what to do about it.

@saravanpa-aot ^^ Thoughts?

[2022-03-03 00:36] sienna-oldaccountdontuse opened #11380 "INC0148511 - User unable to use NR in colin because they didn't enter their home jurisdiction number"
**Describe the bug in current situation**
After #8558 was released, this bug was introduced.

#8558 only implemented the ability for clients to **see** the HJ number in NameX. Not sure why this change has prevented clients from using the NR. Maybe this is an unrelated issue?

**From Jenn, INC0148511**

**Impact of this bug**
High impact, prevent clients from using their NRs, and staff can't do a w

[2022-03-03 00:43] chdivyareddy commented on #10408
@mstanton1 @janisrogers  @jinghualicgi , All the design changes to Discharge/Amend/Renew got updated except the Amendment text on Screen2. But, my understanding is this ticket is more of UXA. I will update the current behavior of all the changes Vs Design here. Please take a look, thanks!

**Current Behavior:**

**Discharge Screen1:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008d

[2022-03-03 00:45] trishreimer commented on #11379
Since this target audience is BCOL users only, please ask David to look at SP & GP Reg and Maintenance filings completed by bcol users in SOFI only (not OneStop users). and retrieve email address. (We may already have this data in the google drive. )

Since these bcol users are submitting filings on behalf of someone else, it's the BCOL submitter email address that is needed. It's possible that th

[2022-03-03 01:32] Amitisp commented on #10010
@trishreimer for your final review before it is sent to Dwayne:
https://docs.google.com/document/d/19R33J0915j08doRB02J-vkqwaOwI7j3f/edit

[2022-03-03 01:35] chdivyareddy commented on #11323
Registrations after 4PM PST:

- [ ] When the registration is created for 1 year, then 'Days to Expiry' displays 364 days instead of 1 year, and Repairers Lien displays 179 days instead of 180 days.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/7481226d-9c48-423a-9b4d-e47165049c03)

- [ ] Current Expiry displays expected info and matches the Search Output Vs Verificati

[2022-03-03 15:14] gprimeau commented on #8481
Form has been uploaded to the CMS website and is live

[2022-03-03 16:23] argush3 commented on #10977
In looking at potential ETL options for SP/GP data migration two main options were considered - [Apache Airflow](https://airflow.apache.org/) and [Mara](https://github.com/mara/mara-app).

I think I am leaning towards going with Airflow as it is widely used, proven, has comprehensive documentation(from project and community), has active community and has great task orchestration capabilities.  In

[2022-03-03 16:24] mstanton1 commented on #10889
@forgeuxGH5 when you say display registrations in the same order as they appear in the table of contents are you noting that if something is listed as being on page 2 it isn't actually on page 2? If so, I'd agree that the change will cause confusion and we need to look at getting that updated before we ship. cc @chdivyareddy

[2022-03-03 16:24] fareenr opened #11381 "Create letter and get data for Ministry Admins to verify GL codes"
Urgent request from BCOL Admin - need to verify GL codes for year-end Finance billing in March 2022

1. Ask Patrick to provide detailed report from BC ROS of Ministry Admin account number, GL Codes and Admin email addresses

2. Draft letter and review with Wendy and Cheryl for Admins to verify current GL codes for 2021/22

3. Provide data and letter to BCOL Admin to send out and follow up with

[2022-03-03 16:43] jdyck-fw commented on #11271
No fix required here.

[2022-03-03 16:43] #11271 closed

[2022-03-03 16:43] #10702 closed

[2022-03-03 16:46] lmcclung commented on #11256
Taking off Entities label - SRE to release.

[2022-03-03 16:46] cameron-freshworks commented on #10687
Incorporated UX feedback from #10620 into this tickets PR.
See comments there.

[2022-03-03 16:50] cameron-freshworks commented on #10687
@cameron-freshworks UXA of above:
- [x] Increase size of info icons for both Business Type and Business Start date components to 22px:
- [x] Step vertical align of info icons to "top" so they don't sit low:

![Screen Shot 2022-03-01 at 10.41.56 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/3712e2fb-b957-4ec0-a3f8-4855078cd0a2)

![Screen Shot 2022-03-01 at 10.41.52 AM.png](h

[2022-03-03 16:53] doug-lovett commented on #11323
@chdivyareddy can you also test an existing base registration verification statement from before this change was applied? Maybe try one which you have not recently downloaded, created more than 2 weeks ago?

[2022-03-03 16:54] severinbeauvais opened #11382 "VERIFY - Create UI: SBC Staff can't file registrations (was: email)"
### Description

There are numerous issues that block a SBC Staff user from correctly filing a registration on behalf of a public user.

1. Create UI needs to allow role "GOV_ACCOUNT_USER" to bypass email check.
2. Create UI needs to allow role "GOV_ACCOUNT_USER" to bypass phone check.
3. Our test SBC Staff login (BRTEST5) does not have roles. **(Dependancy ticket for relationships is #11395)**
4.

[2022-03-03 16:55] severinbeauvais commented on #9842
Issue 3 is now captured in #11382.

[2022-03-03 16:55] severinbeauvais commented on #11382
cc @saravanpa-aot Thoughts?

[2022-03-03 16:59] severinbeauvais commented on #9518
Also in this ticket:
- [ ] add parentheses around "Not entered" (review page), found during #9842 UXA

[2022-03-03 16:59] severinbeauvais commented on #9842
I heard from Tracey that it was decided to use parentheses around "Not entered". I will make that change in #9518.

Other than issue 2 (which needs a new ticket if it is to be pursued), this completes the issues found in UXA.

@yuisotozaki OK to move this ticket to RFQA?

[2022-03-03 17:00] severinbeauvais commented on #11382
cc @sienna-blumstengel

[2022-03-03 17:06] magszymanski opened #11383 "PPR Comms to users - PPR is now stable"
- [ ] comms
- We have reached stability
- Here is how to read as search
- Notify them what future services are coming

- [ ] Update What's New section - refresh PPR blurb about stability and search report

[2022-03-03 17:09] magszymanski commented on #10367
@mstanton1 Hi Melissa, did Amber give any updates by chance to this work?

[2022-03-03 17:10] magszymanski commented on #11297
https://docs.google.com/document/d/1_JmHq2KgWvqnChPhfNz8vWLuachqYhGc/edit

[2022-03-03 17:11] #11059 closed

[2022-03-03 17:11] #6151 closed

[2022-03-03 17:13] janisrogers commented on #8773
@sienna-blumstengel @lmcclung Can you review this and create the entities bug if needed?

[2022-03-03 17:17] kialj876 commented on #6925
@forgeuxGH5 lmk if you want to meet with me and see all the error cases (I can simulate them all for you locally so you can see what happens in all cases)

[2022-03-03 17:17] Amitisp commented on #11379
Included the ACBC reference in the comms.

[2022-03-03 17:18] severinbeauvais commented on #9518
Also in this ticket:
- [ ] fix bug where Complete Resolution page and Complete Affidavit page don't show as valid when they are valid after resuming a draft

[2022-03-03 17:21] Amitisp commented on #10010
Sent to Dwayne Gordon for final review and approval.
Also, waiting for list of local govs. from David Roberts.

[2022-03-03 17:21] sienna-blumstengel commented on #11347
[Email from Donnel](https://github.com/bcgov/entity/files/8179694/Donnell.Email.pdf)

[Email from Linda](https://github.com/bcgov/entity/files/8179705/Email.from.Linda.pdf)

[Another email from Linda](https://github.com/bcgov/entity/files/8179716/Another.email.from.Linda.pdf)

[2022-03-03 17:21] forgeuxGH5 commented on #10889
Verified in dev

[2022-03-03 17:26] ozamani9 commented on #11111
@lmcclung v 2.4.39 for Name Request was pushed into prod last namerequest release.   Feb/24

[2022-03-03 17:37] severinbeauvais commented on #6151
@shabeeb-aot What about auth-web code to add "accountid" to URL when redirecting to create a new numbered company?

[2022-03-03 17:38] PatrickAHeath commented on #10389
Fee amounts are displaying as expected for Amendment of these registration types.

[2022-03-03 17:42] chdivyareddy commented on #11323
Registrations created on November 18, 2021 at 5:23:25 pm Pacific time in DEV

- Registration No: **100459B**: Renewal done for total 8 years
**Base Registration:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c481dc4a-182a-44e0-b128-cfc705536b2a)
**Renewal Verification Statement:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/84f6581a-b98

[2022-03-03 17:52] PatrickAHeath commented on #10102
The ability to change the Registering Party exists for Crown Charge and Miscellaneous Act registrations, but if the user starts entering a Registering Party Code, all code values display.  If the user is allowed to enter a Registering Party that doesn't have a code, should they be restricted on which Registering Party Code is selected?

[2022-03-03 17:59] trishreimer commented on #11209
In this session, could we please remind them that they need to review/update GL coding pls?

[2022-03-03 17:59] sienna-blumstengel commented on #8773
@severinbeauvais can you confirm, What Kial is talking about is a known bug right? I can't find the ticket for the life of me, but I think we have it documented?

[2022-03-03 18:01] trishreimer commented on #11209
Could we also remind admins to advise their teams of this new app and ensure they share what the invites look like.
Some internal users think these invites are spam and they are notifying the security team.

It is the admins responsibility to communicate this to their organization (not ours).

[2022-03-03 18:05] sienna-blumstengel commented on #11382
Sent this to @lmcclung @yuisotozaki and @tlebedovich :

[2022-03-03 18:05] severinbeauvais commented on #8773
Kial is talking about a bug in the Legal API code that determines if submitted was a staff. This code was worked on by Thor in the fall as part of the ledger refactor work (API side). I am not aware of a bug ticket for this.

@thorwolpert ?

[2022-03-03 18:05] Maribeth-Wilson commented on #10804
Will do, thank you

[2022-03-03 18:16] mstanton1 opened #11384 "PPR Registration - 'Days to Expiry' Displays incorrect Info"
- [ ] 'Days to Expiry' is changing based on the time of Registration was created. When the Registration was created for 1 year after 4/5 PM PST, then the 'Days to Expiry' is displaying '364 Days' instead of 1 year.

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d6736eb7-8a55-46b7-a526-0679f82edf5a)

[2022-03-03 18:17] #9545 closed

[2022-03-03 18:17] #9673 closed

[2022-03-03 18:17] #10823 closed

[2022-03-03 18:17] #10534 closed

[2022-03-03 18:17] #11295 closed

[2022-03-03 18:17] #11079 closed

[2022-03-03 18:17] #11262 closed

[2022-03-03 18:17] #10710 closed

[2022-03-03 18:17] #11227 closed

[2022-03-03 18:17] #8481 closed

[2022-03-03 18:17] #11253 closed

[2022-03-03 18:17] #10912 closed

[2022-03-03 18:17] #10941 closed

[2022-03-03 18:17] #11189 closed

[2022-03-03 18:17] #10375 closed

[2022-03-03 18:17] #11206 closed

[2022-03-03 18:17] #10942 closed

[2022-03-03 18:17] #11197 closed

[2022-03-03 18:17] #10169 closed

[2022-03-03 18:17] #10821 closed

[2022-03-03 18:17] #10822 closed

[2022-03-03 18:18] #10862 closed

[2022-03-03 18:18] #10985 closed

[2022-03-03 18:18] #10863 closed

[2022-03-03 18:18] #10733 closed

[2022-03-03 18:18] #10600 closed

[2022-03-03 18:18] #10916 closed

[2022-03-03 18:18] #8961 closed

[2022-03-03 18:18] #10984 closed

[2022-03-03 18:18] #10622 closed

[2022-03-03 18:18] #10817 closed

[2022-03-03 18:18] #11028 closed

[2022-03-03 18:18] #10819 closed

[2022-03-03 18:18] #10820 closed

[2022-03-03 18:18] #9776 closed

[2022-03-03 18:18] #10332 closed

[2022-03-03 18:18] #10190 closed

[2022-03-03 18:18] #10314 closed

[2022-03-03 18:18] #10742 closed

[2022-03-03 18:19] #9894 closed

[2022-03-03 18:19] #9892 closed

[2022-03-03 18:19] #11009 closed

[2022-03-03 18:19] #10870 closed

[2022-03-03 18:19] #10163 closed

[2022-03-03 18:19] #10450 closed

[2022-03-03 18:19] #10176 closed

[2022-03-03 18:19] #10638 closed

[2022-03-03 18:19] #10992 closed

[2022-03-03 18:20] #10762 closed

[2022-03-03 18:20] #11210 closed

[2022-03-03 18:25] tlebedovich commented on #11382
Are we talking about missing the Completing Party email for the Documents Delivery component in Step 3?

If so, we have a Staff version of that component where the completing party (aka logged in user), has a manual field. Could this work for SBC staff?

I'm not sure where else we'd require pulling in a logged in user's email in this filing?
![Screen Shot 2022-03-03 at 10 22 25 AM](https://user-im

[2022-03-03 18:32] argush3 opened #11385 "legal api - update to use new NAICS service"

[2022-03-03 18:33] chdivyareddy commented on #10842
Moving this ticket to UXA, thanks!

[2022-03-03 18:39] Amitisp commented on #10011
We need to send the initial awareness comms. to them 1st (hopefully really soon). In 2 weeks we are meeting with Dwayne to discuss findings regarding the MOUs, data surrounding the use of OneStop and ACBC by local govs. (from David Roberts), solution options to provide business registry info to local govs.  After this we may have a better idea when to do demos for local govs.

[2022-03-03 18:41] yuisotozaki commented on #10398
@tlebedovich Whilst the email content was reviewed with staff, we didn't get into these two options. Having said that, the staff opinion is always around whatever is easiest for the general public to figure out what changed in a filing. On top of this, we want consistency across the outputs.

@lmcclung Since SPGP Multiple Change is an Amendment and that current Director Change outputs call out in

[2022-03-03 18:45] yuisotozaki commented on #11382
Surely SBC can create an email address for MVP for "BC Registry transaction history purposes".

[2022-03-03 18:48] argush3 opened #11386 "Create/Edit UI - update to use new NAICS service"

[2022-03-03 18:49] forgeuxGH5 commented on #10090
@tlebedovich can you UXA this one?

[2022-03-03 18:53] forgeuxGH5 commented on #10276
Missing AC:

![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/ea9468fc-bd15-4b0b-a999-87dcc0471bfb)

[2022-03-03 19:00] argush3 opened #11387 "legal api - remove NAICS endpoint related artifacts"

[2022-03-03 19:12] argush3 opened #11388 "NAICS api - move NAICS endpoints from Legal API"

[2022-03-03 19:29] Maribeth-Wilson commented on #11290
@trishreimer @jyoti3286 @magszymanski Any comments/suggestions/thoughts regarding the above and attached? TIA

[2022-03-03 19:30] mstanton1 commented on #11089
In UXA Scott has noted:

Second issue is UI and could be handled as a bug after if needed: Add Section Rows (Exact Matches and Similar Matches) - these are heading rows to identify each section (per the Acceptance Criteria)

@kialj876 are you able to tackle that in this ticket? I can add the AC above if so?

[2022-03-03 19:40] ozamani9 commented on #11358
Requested Access for Openshift Console

[2022-03-03 19:50] ozamani9 commented on #11298
@severinbeauvais i followed steps 1 to 6.  i see the NR in the list of companies that are shown when i am signed on to BCREG0020 Ministry of Cheese account.    I dont see an issue.

@lmcclung @severinbeauvais let me know if there is anything else i need to do for this one.

![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/36f62401-bf33-443b-b5ec-d569c5f09c0f)

[2022-03-03 19:56] magszymanski commented on #11290
I think 30 minutes seems tight without having done a dry-run of this. I added to Trish's note that we can, as OCM, take on presenting on the slides before we start the recorded demo. At first I thought we could record the presentation as well, but we seem to make updates to the slides each time we have a session so not sure if that's worth to record. Thoughts?

Also, we need to make sure we are ab

[2022-03-03 20:04] chdivyareddy commented on #11323
@doug-lovett , can you please take a look at this registration in TEST, which was created on February 3, 2022 at 4:01:06 pm Pacific time (Expiry date is incorrect in Verification statement)

**Registration: 501857N**
**Verification statement:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/6a635b7e-4812-4978-b4e0-9e26ee923cb6)

**Search Output:**
![image.png](https://i

[2022-03-03 20:08] Maribeth-Wilson commented on #11290
Thank you. Yes, as I indicated in the doc, that would likely be something to work toward for future sessions. We should plan on an hour for now. I also agree that the OCM team can handle the intro and slide presentation portions of the session and that it should be 'live'. If it makes more sense to continue with a live demo for now, that will work as long as a BA is available to do that. I have no

[2022-03-03 20:12] argush3 commented on #11385
cc: @lmcclung @jdyck-fw

[2022-03-03 20:12] argush3 commented on #11387
cc: @lmcclung @jdyck-fw

[2022-03-03 20:12] argush3 commented on #11388
cc: @lmcclung @jdyck-fw

[2022-03-03 20:25] lmcclung opened #11389 "Replace existing NAICS with new NAICS API"

[2022-03-03 20:35] severinbeauvais commented on #11298
OK, maybe there was a task stuck in Test (that does the auto-affiliation).

I'm OK with closing this ticket as it did not reproduce for you.

[2022-03-03 20:52] doug-lovett commented on #11323
A copy of these registrations with the wrong value was already in document storage, so the report was not regenerating with the fix. I removed the storage references to regenerate and now they are correct. I will check with Kial, I did not expect the verification statement report doc storage change to be in this build.

[2022-03-03 20:53] jinghualicgi commented on #11005
@Maribeth-Wilson I saw this epic has been closed, but tasks ticket are still open and stay in New Issue pipeline?

[2022-03-03 20:54] thorwolpert commented on #8773
The storage type has nothing to do with the bug, but we did flop between just holding the staff role, or all the roles (plural) they had.
So it's not consistent if I look across the changes, and probably moved to a list. This has to stay a String type in the DB, as postgres does not have a list type.

[2022-03-03 20:58] Maribeth-Wilson commented on #11005
Hi Jinhua, I believe this is a dupe. See #11007. I will correct 11007 if need though.

Thank you,

Maribeth Wilson
Project Coordinator |  BC Registries and Online Services<http://www.bcregistryservices.gov.bc.ca/>
Service BC
Ministry of Citizens’ Services
T: 778 405 1525 Web: http://www.servicebc.gov.bc.ca<http://www.servicebc.gov.bc.ca/>
“Access to government services made easy”
[Logo  Descriptio

[2022-03-03 21:14] chdivyareddy commented on #11323
Verified in TEST with previous Registrations and they are now correct.

Registration: **501857N** (February 3, 2022 at 4:01:06 pm Pacific time)
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a8e39a76-7f78-4f61-b436-3f1296dc70bf)

Registration : **502040N** (February 24, 2022 at 4:48:39 pm Pacific time)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277

[2022-03-03 21:27] jyoti3286 commented on #11102
@JohnamLane - Can BCOL admin team should be able to change the GL info?

[2022-03-03 22:03] jdyck-fw commented on #11380
@ozamani9 @jinghualicgi - This is a priority1, moving it over to to-do for SRE.

[2022-03-03 22:08] vysakh-menon-aot commented on #9253
@tlebedovich please review
GP: [https://app.zenhub.com/files/157936592/dc6370d6-5b78-4a62-a56e-bb361b411005/download](https://app.zenhub.com/files/157936592/dc6370d6-5b78-4a62-a56e-bb361b411005/download)
SP: [https://app.zenhub.com/files/157936592/23d63454-bafc-4644-acf9-535e426b7c78/download](https://app.zenhub.com/files/157936592/23d63454-bafc-4644-acf9-535e426b7c78/download)
DBA: [https://app.z

[2022-03-03 22:11] jdyck-fw commented on #11356
The fix is to append the account ID to the target URL

[2022-03-03 22:13] JohnamLane commented on #11102
@jyoti3286 Yes, I'll update the ticket. Ideally it's admins and BCOL Admin

[2022-03-03 22:20] jdyck-fw commented on #11382
1. We need to figure out why there isn't an email addressed attached to these users.
2. Will we be using it incorrectly? The email is used in the header and completing party, for ex

[2022-03-03 22:24] ozamani9 commented on #11259
the following tickets have been pushed into prod.
#10715 - NRs showing in NRO_UPDATING status - must be manually moved to DRAFT to continue
#11256 - RESTORE NRs don't have expiry dates of 1 yr and 56 days in the future

[2022-03-03 22:34] tlebedovich commented on #9253
@vysakh-menon-aot - changes above completed. Two items:

- Can we see a version with both the Inc and Business number being pulled in for DBAs?
- The GP example above shows business partners, but the business partners don't show the Inc number (which they most likely will have except under very specific circumstances)

[2022-03-03 22:41] tlebedovich commented on #11382
Re 2. FYI - We won't be showing emails/phone in the header for registrations in the near future (contact email/phone in header should only be appearing after a business has been registered as its only supposed to be showing the business's contact phone/email - not the logged in user). This two items will be removed from headers for IAs and Registrations when the header ticket is done. I think @sev

[2022-03-03 22:46] vysakh-menon-aot commented on #9253
@tlebedovich with both the Inc and Business number [https://app.zenhub.com/files/157936592/0ea94767-abc9-4ddc-84f4-fad6658f2814/download](https://app.zenhub.com/files/157936592/0ea94767-abc9-4ddc-84f4-fad6658f2814/download)

[2022-03-03 22:46] zac-broitman commented on #10381
I will be making a separate ticket for creating the guide.

[2022-03-03 22:48] zac-broitman commented on #10377
This is mostly complete as UAT has been completed and training has been discussed with business leads. I think #10381 covers the follow up from this work. I would be comfortable closing this ticket.

[2022-03-03 22:50] zac-broitman opened #11390 "Record Video Demo of Account Creation demo for Info Sessions"
Need to:

- Confirm the scope of what is covered in the info sessions and needs to be captured in the recording
- Set up test data for recording
- Record video demo
- Any necessary edits to the recording after review

[2022-03-03 22:57] tlebedovich commented on #9253
great thanks - moving to RFQA

[2022-03-03 23:10] mstanton1 opened #11391 "UI Design - Search Button Back Handling"
Scenario: A client can enter search criteria, select results to include in the search PDF, and then choose back on their browser. In this case the search PDF foes not generate successfully but the client has been charged. Limitations to handling exist based upon browser security.

Changes
- [ ] If a search PDF has been requested but the user chooses 'back' create the row in the search table with a

[2022-03-03 23:26] tlebedovich commented on #10687
@cameron-freshworks - thanks for adjusting the icon sizes. Moving this along to RFQA.

[2022-03-03 23:37] mstanton1 commented on #11329
As per @forgeuxGH5 design this updated labelling should only be applied on work done through the modernized system. Legacy PPR labels should not be updated.

@jinghualicgi maybe we should revisit at grooming to see if that can be done in this ticket?

[2022-03-04 00:09] mstanton1 commented on #10102
@PatrickAHeath @bfbowles were they restricted in the old PPR? If so we can reach out to Kevin to confirm if that restriction needs to be continued.

[2022-03-04 00:14] mstanton1 commented on #10367
I have sent a follow up to Amber to check the status of this.

[2022-03-04 00:17] severinbeauvais commented on #11382
I had a quick look at what is needed to allow a SBC Staff IDIR user file a registration filing...

1. review page document delivery component needs to allow editing completing party (easy)
2. review page certify component need to show third-party statement (easy)
3. app init needs to allow role "GOV_ACCOUNT_USER" to bypass email check (easy)
4. app init needs to allow role "GOV_ACCOUNT_USER" to by

[2022-03-04 00:17] tlebedovich commented on #10687
@cameron-freshworks - Business Contact Info UXA:

- [ ] Phone extension is not appearing in header like it should be (corps/SP/GP)
- [ ] Fix side label text wrapping of "Information" in expanded view

**some component clean up:**
- [ ] reduce the width of the intro text and 3 form fields in a bit so they both align with the left edge of the Cancel button
- [ ] increase space between phone and exte

[2022-03-04 00:41] tlebedovich commented on #10398
Works for me @yuisotozaki - to note for Option B, SP/DBA will note have the different sections, but GP will.

[2022-03-04 00:51] tlebedovich commented on #10090
@jordiwes - can you please check off the checkboxes as you complete items. this made it to UXA but only 2 of then items above were completed in Dev? Moving back to in progress.

c/c @forgeuxGH5 @janisrogers

[2022-03-04 00:52] tlebedovich commented on #10810
@jordiwes I don't see it in Dev either :) Moving this tickets back to in progress.

[2022-03-04 00:55] tlebedovich commented on #11114
@kialj876 - I hear talk that @forgeuxGH5 may want to keep the green bar on until a user does something, but that will come in a follow up ticket, so moving this along to RFQA, thanks!

[2022-03-04 03:18] jinghualicgi commented on #9696
@JohnamLane John, do we have a ETA for edge case testing? We are thinking to plan a release for this, thanks
cc: @pwei1018

[2022-03-04 03:20] tlebedovich opened #11392 "UI Design - Staff Versions for SP/GP Registration, Dissolution, Multi Change"
Just added a ticket to track my work added Staff views for the Review screens for these filings.

There are open questions for Linda and Yui in them.

Registration - Staff review screen:
https://invis.io/3511UPXPMT2P#/464799355_Step_3C_STAFF_SP-DBA_Review

Multiple Changes - Staff review screen (with editable completing party):
https://projects.invisionapp.com/share/W412LA6KP63B#/screens?browse

D

[2022-03-04 03:23] #9243 closed

[2022-03-04 03:23] #9156 closed

[2022-03-04 16:16] janisrogers commented on #10430
I don't think UXA is needed for this. Ready for QA

[2022-03-04 16:33] saravanpa-aot commented on #9251
@vysakh-menon-aot This is in DEV. Shouldnt block you any more.

[2022-03-04 16:33] chdivyareddy opened #11393 "PPR Registration - Max Field Length of Individual Debtor Will Not Complete Registration"
- [x] When the Individual Debtor fields have max chars (50) for the First name, Last name, Middle name, then the registration will not complete.

**Response:**
{"errorMessage": "API backend third party service error.", "rootCause": "detail:(psycopg2.errors.StringDataRightTruncation) value too long for type character varying(50) CONTEXT: PL/pgSQL function searchkey_individual(character varying,char

[2022-03-04 16:34] saravanpa-aot commented on #11382
The SBC User which we use are test dummy IDIRS and might not have email address. But I am not sure what will happen to a real  IDIR user in prod.So I am not sure if this will be a valid scenario in prod.

[2022-03-04 16:44] cameron-freshworks commented on #10687
The bullet point describing updating the header will need to be deferred to a task in story:
https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/10240

[2022-03-04 16:44] PatrickAHeath commented on #8185
Closing this ticket - any additional Crown Charge account setup tasks will be handled via OPS tickets.

[2022-03-04 16:44] #8185 closed

[2022-03-04 16:50] #11323 closed

[2022-03-04 17:00] fareenr commented on #11381
Drafted letter and sent to BCOL Admin along with report of current Ministry Admins and GL codes from BC ROS Prod.  Report is saved here:
https://docs.google.com/spreadsheets/d/1mFgjyCe-M8QNf3IbhFnhjAwNyr43ZC2g/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-03-04 17:11] chdivyareddy commented on #10430
@jordiwes , do we need a ticket to fix the Registering Party issue for SBC staff?

- [ ] When the user clicks "Add a Registering Party that doesn't have a code" and hits the cancel button, then this is current behavior of Registering party modal:

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/bf12c37d-c760-46a2-8a5b-2feb57bbaffb)

[2022-03-04 17:12] pwei1018 commented on #11198
Create a jupyter notebook to scan membership automatically.

[2022-03-04 17:14] jinghualicgi commented on #11083
This is related with UI - Refresh when i Icon is clicked#11373

[2022-03-04 17:18] #11338 closed

[2022-03-04 17:18] #11021 closed

[2022-03-04 17:34] yuisotozaki commented on #11382
From RocketChat

Based on this, maybe our test account needs an email address to model prod scenario where SBC Staff account will have an email address.

[2022-03-04 17:38] mstanton1 commented on #11195
Two scenarios:

1) UI Hits a timeout (possibly 60 seconds). Mostly caused by Mr Motors being included in the results. Being addressed in search algorithm ticket.
2) You are able to select the results but when you go back to the dashboard to try to open your report it times out.

[2022-03-04 17:43] jinghualicgi commented on #11393
@doug-lovett Please check this issue, thanks

[2022-03-04 17:49] severinbeauvais commented on #11382
The Create UI now has an exemption for SBC Staff email (and phone), so you may be right that BCTEST5 (and others) should have an email, but this is not a blocker.

What is a blocker atm is that BRTEST5 has no roles. Create UI reports an error due to this. What is the solution, @saravanpa-aot -- does Auth API code need an examption for SBC Staff users (same as staff)?

[2022-03-04 17:53] jinghualicgi commented on #9336
@jordiwes please provide a list of current UI registration descriptions

[2022-03-04 17:55] tlebedovich commented on #10687
@cameron-freshworks - woke up this morning and remembered i forgot to add:
- [ ] The SPGP only (not Corps alteration), turn off the "no Fee" tool tips for this component and the Folio component on Step 1. Since everything is now No Fee, it will confuse users.

![Screen Shot 2022-03-02 at 1.43.26 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/b9c16618-e799-4c62-8142-30f786cf5

[2022-03-04 17:57] JohnamLane commented on #11382
@severinbeauvais Not certain if there's anything that can be gleaned from the Name Request project that is already set up for use by SBC agents? They are Ministry account holders, log in using IDIR, are not granted roles in KC. Their payment flow should be the same as well.

[2022-03-04 17:59] cameron-freshworks commented on #10687
It has been turned off for SPGP and NOT for Alterations.
Doing this for FOLIO is outside the scope of this ticket as it requires a work on it's own shared component.

[2022-03-04 18:02] saravanpa-aot commented on #11382
@severinbeauvais . Have they affiliated with that particular entity somehow? Then it should work.
Otherwise if SBC staff has to behave like regular staff ,its a new requirement.That has to be groomed and thought through..

 ^^ @JohnamLane @jyoti3286

[2022-03-04 18:03] forgeuxGH5 commented on #10430
For SBC Staff, if the Registering Party is not filled in, the form is marked as valid when it is not.
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/60c5c5c0-261f-47e2-9c23-7be48b161f22)
The Register and Pay button does not catch this error and trying to register and pay hangs the registration.
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/5

[2022-03-04 18:26] doug-lovett commented on #10389
@jinghualicgi this is actually a UI ticket, not an API one. It relates to displaying the fee in the UI. From Patrick's comment I think this ticket has been completed, but QA can confirm.

[2022-03-04 18:31] mstanton1 opened #11394 "Update Rule for Search table"
Given I am a PPR user
When I see a search output in my Search table
Then I want to be able to open the search PDF

Currently the rules on the search table allow up to 1000 documents but a client can only open the PDF for a search that was completed in the last 14 days. As a result there are cases where a client sees a search PDF in their Search table but an attempt to open it fails.

**Change: Upd

[2022-03-04 18:39] lmcclung opened #11395 "AUTH - SBC Staff login need roles"
Identified in ticket 11382...

### Background
We will be asking SBC Staff to register and maintain SP/GP filings for citizens and businesses who cannot/will not do self-serve filings. We want them to have similar behavoiur as they have in name request, where payment is automatically taken from their BCOL account.

In our Create/Edit UIs we also want them to have some functionality that Registries

[2022-03-04 18:53] mstanton1 opened #11396 "Enable advanced PPR search features"
Clients in PPR previously had the ability to complete some advanced search functions. E.g. clients could use a wildcard to find items that contained a word.

Enhancements are requested to allow for advanced search features.

_Note: currently advanced search features exist in director search. This approach could be used._

Request sent to Bob to verify the specific advanced search features that wer

[2022-03-04 18:53] sienna-blumstengel commented on #11356
This is work in auth web, the destination URL needs to append the filing ID

Everything else in this ticket is done.

In previous meetings we decided to update to common component version 2.4.41. Cameron has already updated to 2.4.41 in EDIT UI. The other entities UIs will be updated as part of other tickets.

**Need to update:**
- [ ] Numbered company redirect needs to append account ID
- [ ] Che

[2022-03-04 18:56] mstanton1 opened #11397 "Folio Search issues with infinite scrolling"
Reported by ESC:

With the infinite scrolling table, quite frequently searching by the folio number does not work; we get no results when there are results. We can search by a registration number and it will appear and show the item with the exact same folio number, but when searching by the folio we’ll get no results. We kind of tested it on and off this week to confirm, and quite frequently I’ll

[2022-03-04 18:58] jordiwes commented on #9336
Current list:

// standard
    SECURITY_AGREEMENT = 'Security Agreement',
    REPAIRERS_LIEN = 'Repairers Lien',
    MARRIAGE_MH = 'Marriage / Separation Agreement affecting Manufactured Home under Family Law Act',
    SALE_OF_GOODS = 'Possession under S.30 of the Sale of Goods Act',
    LAND_TAX_LIEN = 'Land Tax Deferment Lien on a Manufactured Home',
    MANUFACTURED_HOME_LIEN = 'Tax Lien under

[2022-03-04 19:01] #9183 closed

[2022-03-04 19:01] lmcclung commented on #9183
Closing this ticket as this will be resolved in the next couple of months with SP/GP registrations.

[2022-03-04 19:07] lmcclung opened #11398 "Jupyter Notebook for CP Special Resolutions"

[2022-03-04 19:07] sienna-blumstengel commented on #9048
Closing this ticket, and replacing it with #11398

[2022-03-04 19:07] #9048 closed

[2022-03-04 19:17] sienna-blumstengel opened #11399 "Verify: schema"

[2022-03-04 19:18] sienna-blumstengel opened #11400 "Filer"

[2022-03-04 19:18] sienna-blumstengel opened #11401 "Legal API for Co-op Special Resolution"

[2022-03-04 19:22] lmcclung opened #11402 "Validation"

[2022-03-04 19:27] chdivyareddy commented on #11353
@doug-lovett , The new Amendments are displayed in the correct ordering of Secured Party/Debtors. But the order in the previous Amendments before the fix is displayed incorrectly.
Question: Was this fix only applied to new Amendments?

**Example of New Amendment:**
**Base Registration: 256458N**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/6b9b2f14-1430-4088-a62e-7c0

[2022-03-04 19:54] mstanton1 commented on #11396
Update from Bob:

There was no advanced search.  Wildcard does not exist in old PPR it just appeared to be a wildcard search in reality it was returning all names that started with the letter they were searching.   You could introduce in new but it could return thousands of results.

@Kaineatthelab I would recommend we park this for now.

[2022-03-04 20:09] lmcclung opened #11403 "Automate Testing/Verification"
Testing/Verification … how to best automate a quality control check that the transforms put data into a useable state

[2022-03-04 20:51] severinbeauvais commented on #9518
@argush3 Tell me something about the NAICS endpoint, please!

[2022-03-04 20:51] #11137 closed

[2022-03-04 21:00] doug-lovett commented on #11353
@chdivyareddy with verification statement reports now stored in doc storage, they are only generated at the time of the registration. Subsequent requests get the copy from doc storage. This change is not yet in PROD.

[2022-03-04 21:07] fareenr commented on #11147
Initial draft of comms and engagement plan saved here:
https://docs.google.com/document/d/1R6zqyEefGKITkGWulDOHj4Q7e4I3_lSI/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-03-04 21:14] jordiwes commented on #11083
For any search, the API search step 2 response will include a callbackURL and a getReportURL if the report is too large for real time generation.

[2022-03-04 21:25] lmcclung commented on #11111
Closing - Jyoti confirmed only thing outstanding is Edit UI which is under another ticket.

[2022-03-04 21:25] lmcclung commented on #11111
These points go to SRE

[2022-03-04 21:25] #11111 closed

[2022-03-04 21:30] jyoti3286 commented on #11340
Lets wait till we hear this as a concern

[2022-03-04 21:36] argush3 commented on #9518
There are 2 GET endpoints for NAICS, one for searching NAICS codes and one for retrieving a specific code.  There are also a bunch of postman tests in the NAICS folder if that interests you.  https://github.com/bcgov/lear/blob/main/legal-api/tests/postman/legal-api.postman_collection.json

**NAICS search endpoint**
Accepts a search term with a 6 digit NAICS code or any other words as a search term

[2022-03-04 21:42] mstanton1 commented on #10804
Discussion from PO Sync March 4th.

1) Need to verify there are no scheduled outages for PAD/Online Banking/Credit Card. @jyoti3286
2) Decision to add in footer. Once hours are clarified this can be sent to the design team @mstanton1
3) Further consideration - people don't truly care why we are down and we also have dependencies based upon log on method. Consider enhancing the way to report availa

[2022-03-04 21:49] eve-git commented on #10709
after Cancel and Refund, it shows "Refund Request Processed" and the payment status = 'REFUND'.
![image.png](https://images.zenhubusercontent.com/5da9d9a151b27c0001f5c9ec/3445becd-3494-4cfe-8d08-66242552d259)

[code]

[2022-03-04 21:53] eve-git commented on #10709
@PatrickAHeath can you please verify if the bug still exists?

[2022-03-04 22:23] #10838 closed

[2022-03-04 22:24] #11332 closed

[2022-03-04 22:24] #9339 closed

[2022-03-04 22:25] jyoti3286 commented on #11344
Logout issues are de-prioritized

[2022-03-04 22:25] jyoti3286 commented on #11344
Breadcrumb issues are also deprioritized at this time

[2022-03-04 23:11] zac-broitman opened #11404 "Create User Guide for new FAS"
Business leads have confirmed that a user guide would be an important training material for their teams. The guide is to cover how to perform all the core features of the new FAS:

- Creating a routing slip
- Searching for routing slips using the search/filter options
- Adding manual transactions to a routing slip
- Linking routing slips
- Changing routing slip status
- - NSF
- - Refund
- - Write-

[2022-03-04 23:13] zac-broitman commented on #11404
The current version of FAS in TEST supports all but Void routing slip status, additionally, a change will be made to the UI for manual transactions. Other areas of the guide could be worked on at the moment.

[2022-03-04 23:38] chdivyareddy commented on #11114
@kialj876 ,

- [ ] When the Amendment/Renewal/Discharge is made to the registrations, which is hidden below the scroll, then the snack bar appears on the table, but the Registration is hidden and doesn't auto-scroll the registration and display new Amendment/Renew/Discharge.

Eg. **Base Registration : 3015502 in DEV** (BCREG0057)

When a change is made to this registration, this is the current beh

[2022-03-04 23:40] Maribeth-Wilson commented on #10804
Note: email received in engagement mailbox on Mar 4 from BC Reg staff:
Hi Debbie- May I suggest that we update the website and our telephone tree to send callers with BCROS account setups to wherever they should go.. BCOL?  Because right now – it says our number is the helpdesk and then if they are trying to hook it up to get access to PPR – they are coming here and being forwarded to here (PPR) b

[2022-03-05 00:14] eve-git commented on #11380
I could not reproduce the issue in DEV.
@sienna-blumstengel can you reproduce the issue? Thanks

[2022-03-05 00:27] chdivyareddy commented on #11187
_Note: This fix is only on the UI for max field length validations_

When Max field length is entered on the Individual search, then the registration will not complete (backend error): It will be fixed in #11393

[2022-03-05 00:49] chdivyareddy commented on #11384
Current Behavior in DEV after 4pm PST:

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/cde97095-83d6-4605-bc93-b1fd6297bd1a)

[2022-03-05 00:59] lmcclung opened #11405 "Benefit Company Director Changes are missing Notice of Articles Output"
Steps to recreate:
Search entity that has a director change - BC1291871 in production
View documents
Notice of Articles is missing

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/e8b26a3b-fb83-4d95-9086-a263f3edf3cf)

### To do
- [ ] determine what date range of director change filings are missing NoAs.
- [ ] determine how we can get the NoA to display on these filings

[2022-03-05 01:13] lmcclung commented on #11236
BC1208638, - BC to BEN - created ops ticket 557 as 2021 didn't get brought over from COLIN and should have.

[2022-03-05 01:18] chdivyareddy commented on #10570
@jordiwes ,

- [ ] In the PPR Renewal, the screen2 (Review and Complete Renwal) displays Eastern time (256387N)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f14e99eb-8879-4bf2-abd8-81bd265f9949)

- [ ] Repairers Lien Renewal Screen2 displays Eastern time (256406N)
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/5f0e64d7-2ae3-4f85-ada3-cf5cb

[2022-03-05 01:19] #11236 closed

[2022-03-05 01:21] #10715 closed

[2022-03-05 01:41] lmcclung commented on #9548
To test this I,
1) Created Change of Name NR 1460172 for a ULC in test using bcreg2029.  Cancel and refund option available as staff have not picked it up yet.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/2eccbfbe-f177-4fc8-9fdb-45a11d645eae)

2) Approve NR as staff
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/c237e550-60fb-4316-b5f4-8ca

[2022-03-05 01:49] lmcclung commented on #9548
@jinghualicgi I'm closing this issue as not reproducable.

[2022-03-05 01:49] #9548 closed

[2022-03-05 02:17] lmcclung commented on #8495
Possible solutions:
1. The alteration correction probably couldn't go back to COLIN as there is no equivalent filing type.  Could we send it back as FILING_TYP_CD = CO_SS  Correct Share Structure.  Then maybe the other change of director filings will sync back.
2.  Can we check whether because there was a correction it created a recurring sentry error for bad director data?  Maybe this also is pre

[2022-03-06 16:41] doug-lovett commented on #10904
From Bob, the following registration numbers in TEST have been updated to split the general collateral descriptions over multiple records.
3020005
166158H
297973K
690495L
023573N
057704N
475436N

Ready for review.

[2022-03-06 16:41] doug-lovett commented on #10904
Registrations
3020005
166158H
297973K
in test have Bob’s latest changes to view in the UI. If these look good there will be an API change to retain the formatting in the reports.

[2022-03-07 14:10] jyoti3286 opened #11406 "Feature team: Dissolution Filings"
This Epic will consist of the list of tickets that the feature team(relationship) will build to support SP and GP

[2022-03-07 14:10] jyoti3286 opened #11407 "Approach for handling components: Passing conditions to the URL for managing dissolution UI"
When we import a shared component, there are different conditions to display UI in a certain way. For handling that in SP and GP dissolution filings(and all future filings) - we would be passing that as a parameter when we call the UI function.

This will handle:

- Whether it's a staff view or user view
- Whether its SP or GP dissolution filing
-- What Entity type
--  Proprietor vs partner change

[2022-03-07 14:11] jyoti3286 opened #11408 "Document Delivery: Shared component"
As a user, while dissolving my firm
I want to see the document delivery options
so that I am assured where would the final outputs would be delivered

#### Acceptance Criteria

**Scenario 1: For Sole Proprietorship**
- GIVEN that I have initiated the dissolution filing
- WHEN I am on the create UI
https://projects.invisionapp.com/d/main#/console/21875866/464064746/preview
- THEN I see my Business

[2022-03-07 14:11] jyoti3286 opened #11409 "Managing Cancel button: When to create Draft vs delete draft"
As a user
I want to dissolve my firm
so that I can close my business with the BC registry

#### Acceptance Criteria

**Scenario 1: User doesn't make any change and Hit cancel**
- GIVEN that I have initiated the dissolution filing
- AND there are no other drafts
- WHEN I am on the create UI
- AND I haven't updated any values on the Create UI
- AND I hit cancel
- THEN no **draft** should be created

[2022-03-07 14:12] jyoti3286 opened #11410 "File Now: Validation for Firm Dissolution Filing"

[2022-03-07 14:12] jyoti3286 opened #11411 "Staff View: Dissolution Filing SP/GP"
#### Changes include:
- Certify component for staff
- ~~Completing party changes~~
- Staff Payment
- Comments
- Document delivery Component Changes

[2022-03-07 16:20] saravanpa-aot commented on #11211
@rarya-freshworks Apologies..the job to deploy the changes to test had some issues , I failed to notice.. Please retest it.

[2022-03-07 17:06] kialj876 commented on #11114
Ah good catch. I will have prevent it from reloading the registration table info when it comes back so that the registration they had before is still in the table

[2022-03-07 17:14] #9842 closed, assigned to severinbeauvais, yuisotozaki

[2022-03-07 17:41] lmcclung commented on #5395
working as expected.

[2022-03-07 17:41] #5395 closed

[2022-03-07 17:42] lmcclung commented on #9402
working as expected

[2022-03-07 17:42] #9402 closed

[2022-03-07 17:46] #11298 closed

[2022-03-07 17:47] stevenc987 commented on #9217
@sienna-blumstengel
Refund incorporation fee:
I checked the refund was done on 2021-10-19 16:14:21.083404
![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/1414c4b3-81fa-48cb-913b-3ad1b266fde0)
Un-affiliate the business:
I checked this entity was Un-affiliated.

What else you need OPS to do?

[2022-03-07 17:53] jinghualicgi commented on #6151
Remove this ticket from SRE Jan28 Release, SRE didn't build this in PROD on January 28th

[2022-03-07 18:19] jyoti3286 opened #11412 "Dissolution component: Label and data changes"

[2022-03-07 18:19] jyoti3286 opened #11413 "Dissolution Date: Shared component changes"

[2022-03-07 18:20] jyoti3286 opened #11414 "Completing party: Shared component changes"
This ticket will include changes for completing party component for both user and staff

[2022-03-07 18:21] magszymanski commented on #11159
Sent document for review to team on March 7. Need DL from David still.

[2022-03-07 18:21] magszymanski commented on #11383
@Kaineatthelab we won’t have the Search Report info doc until next sprint (2-ish week from now). Is there value sending out the email to PPR users only about stability of the application? We can always put a note on stabilization in Whats New and then remind them again once we are ready to send out the Search Report doc?

[2022-03-07 18:37] jyoti3286 commented on #11344
Testing scenarios:
- Pending invitation(for Ministry gov)
- On Hold
-- Affidavit login(for on hold)
-- Team member on hold
- Team member invitation
- Terms of Service
- Address missing
- Business info missing

[2022-03-07 19:00] sienna-blumstengel commented on #8299
Re-opening / Reusing this ticket.
Clients are experiencing the same issue where NRs are not effective renewing (but payment is still being taken)

INC0149662
![image.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/091aaf6d-58fe-49bb-99a3-0cb59e07af00)

INC0147231

[2022-03-07 19:16] jinghualicgi opened #11415 "Amendment appears on wrong registration number"
This is asset ticket to link to Ops ticket 547:  https://github.com/bcgov-registries/ops-support/issues/547

[2022-03-07 19:24] mstanton1 commented on #11393
-increase column size to 100 characters
-update database function to allow 100 characters

[2022-03-07 19:28] lmcclung opened #11416 "Registration"

[2022-03-07 19:28] lmcclung opened #11417 "Change Filing"

[2022-03-07 19:28] lmcclung opened #11418 "Amalgamation Filing"

[2022-03-07 19:28] lmcclung opened #11419 "Reinstatement Filing"

[2022-03-07 19:28] lmcclung opened #11420 "Cancellation Filing"

[2022-03-07 19:32] janisrogers opened #11421 "Deleted debtors and collateral not showing in DEV"
When we look at registrations with collateral substitution, debtor substitution or debtor release in DEV, the deletions don't appear.
For example in base registration number 066091H is a debtor release, but there is no debtor.
Another example is 305128L, this has a substitution of collateral, but the deleted collateral doesn't show as deleted.

[2022-03-07 19:32] lmcclung opened #11422 "Theme - Business Registry - BC LP/LLP"
## Owner of the theme
- Branch that will own the finished product

----
## Description (Hypothesis):
- An elevator pitch that describes the theme

* Problem Statement
* Presentation of Solution
* Value Proposition
* How our solution is different
* (Example) _name of epic_ helps British Columbians _do something_ by _solution_. This will provide British Columbians _value statement_ in a different wa

[2022-03-07 19:33] lmcclung opened #11423 "Registration"

[2022-03-07 19:33] lmcclung opened #11424 "Annual report"

[2022-03-07 19:33] lmcclung opened #11425 "Change filing"

[2022-03-07 19:33] lmcclung opened #11426 "Dissolution"

[2022-03-07 19:34] lmcclung opened #11427 "Correction"

[2022-03-07 19:37] lmcclung opened #11428 "Corrections"

[2022-03-07 19:37] lmcclung opened #11429 "Annual Reports"

[2022-03-07 19:40] lmcclung opened #11430 "Alteration"

[2022-03-07 19:40] lmcclung opened #11431 "Correction"

[2022-03-07 19:40] lmcclung opened #11432 "Restorations x4"

[2022-03-07 19:41] lmcclung opened #11433 "Amalgamations"

[2022-03-07 19:42] lmcclung opened #11434 "Companies Continuations In x 4"
Description : A foreign corporation may apply to “continue in” to BC.  To do so, authorization must have been received from the foreign jurisdiction. Authorization is typically in the form of a letter. The authorization must be sent to the registry as a precondition to this transaction.

### User Story:
**AS** an User
**WHEN** I want to continue an existing corporation into BC
**THEN** I can compl

[2022-03-07 19:43] lmcclung opened #11435 "Coop Special resolutions - MVP"
Have an ops ticket to file a CP change of name (with an NR).  There are no updated rules or memorandum to upload.  These filings are not on the current PI.

~Option 1 - staff could do the filing in COBRS and we'd bring it over asap
This means staff could give them an automated certificate they can take to the bank to get a bank account right away
What backend pieces do we need - schema, filing cod

[2022-03-07 19:44] lmcclung opened #11436 "Filings UI - framework (AGM Extension)"
- [x] add new filing type (`agmExtension`)
- [x] add new FF (`enable-agm-extension`)
- [x] starting point (menu item)
  - do not show if FF is disabled
  - show grayed out if not allowed (eg, incompatible type, NIGS)
- [x] basic framework (enums, route, view)
- [x] add expandable help component (text TBD)
- [ ] ~add document upload~ _not needed_
- [ ] ~add date pickers~ _do this in future ticket_

[2022-03-07 19:44] lmcclung opened #11437 "Coop Corrections"

[2022-03-07 19:48] severinbeauvais commented on #8299
What do the users see after the payment screen?

[2022-03-07 20:01] lmcclung opened #11438 "Delay of Dissolutions (BC & Extraprovincial)"
- need to start communicating with CRA that they're going to need to verify themselves when requesting a delay of dissolution

[2022-03-07 20:06] lmcclung opened #11439 "Theme - Business Registry - Remaining Mainframe entities"
Migrate:
- [ ] Financial Institutions
- [ ] Special Acts
- [ ] School boards
- [ ] Parishes, etc.
- [ ] Extraprovincial Coops

build filings for..
- [ ] Financial Institution Special Resolution (name, address, director changes)
- [ ] FI Annual Report
- [ ]  EP Coops (not sure how many)
- [ ] Everything else jupyter notebook as needed?

[2022-03-07 20:07] lmcclung opened #11440 "Data migration of mainframe entities"

[2022-03-07 20:07] lmcclung opened #11441 "FI annual reports"

[2022-03-07 20:08] lmcclung opened #11442 "FI Change (resolutions, directors, addresses)"

[2022-03-07 20:08] lmcclung opened #11443 "FI Dissolution"

[2022-03-07 20:11] lmcclung opened #11444 "Consent For Continuation Out"
GIVEN I am a client and I own a corporation
AND it is in Active status
WHEN I need to continue my corporation out into another jurisdiction, outside of BC
THEN I can file a Consent For Continuation Out
AND upon receiving approval
THEN I am ready to continue out

[2022-03-07 20:13] lmcclung opened #11445 "MRAS replacement"
## Owner of the theme
- Branch that will own the finished product

----
## Description (Hypothesis):
- MRAS messaging currently goes through Oracle databases.  This needs to be modernized.

* Problem Statement
* Presentation of Solution
* Value Proposition
* How our solution is different
* (Example) _name of epic_ helps British Columbians _do something_ by _solution_. This will provide British Col