[2022-01-21 18:56] severinbeauvais opened #10787 "BCRegistry - logout error + unit tests"
Carried over from #10697:

- [ ] fix error layout displaying temporarily during logout (low priority, not MVP)
- [ ] set up Jest tests to use store - see jest.config.js (not MVP)

[2022-01-21 18:56] severinbeauvais opened #10788 "BCRegistry - logout error + unit tests"
Carried over from #10697:

- [ ] fix error layout displaying temporarily during logout (low priority, not MVP)
- [ ] set up Jest tests to use store - see jest.config.js (not MVP)

[2022-01-21 18:58] forgeuxGH5 opened #10789 "UI Design - Add NEW badge to BCROS Home page"
Add "NEW" yellow tab to PPR box on BCROS page - match to other yellow tabs:

![Screen Shot 2022-02-17 at 5.39.17 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/c4c3150c-c374-4f7b-9e07-6474b4521edf)

[2022-01-21 18:58] janisrogers commented on #10748
@jyoti3286 Is there anyone who can help with this?

[2022-01-21 19:00] Kaineatthelab commented on #10789
sure lets do it

[2022-01-21 19:02] JohnamLane commented on #10748
@janisrogers I've asked Sumesh to pick this up as ops if possible

[2022-01-21 19:07] sienna-blumstengel commented on #9248
**Waiting for a decision note from Carol, on wether we can get Maximus to file these with their premium accounts (then staff don't need to file them)**

[2022-01-21 19:08] kialj876 commented on #10772
Yeah that's a report bug - I can look into that. I don't think the UI would be wrong at some instances and not others. What was the example for that one?

[2022-01-21 19:08] JohnamLane commented on #10773
Tried again with a brand-new BCeID created directly at BCeID - could not reproduce. It seems that clients who are getting this error likely had paired in the past then deleted.

[2022-01-21 19:08] #10773 closed

[2022-01-21 19:16] jinghualicgi commented on #10627
@jordiwes Steph, can you put an est. on this ticket? Not sure why we missed that. Thanks

[2022-01-21 19:20] lmcclung commented on #10292
Need one-time job to get details of the user for each user.

[2022-01-21 19:27] PatrickAHeath commented on #10432
@jordiwes My understanding is that the Registering Party name and address for PPR Staff is pulled from Party Code 9990003.  This entry exists in the DEV and TEST dbs.

This is the error we encounter when attempting a registration as PPR Staff:

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/c04f7010-e785-4e8b-a335-2ba271f59f2e)

[2022-01-21 19:48] chdivyareddy commented on #10459
@mstanton1 , I verified with max char limit (150 - long business name) for business search and the Business name is displayed as expected without any rendering issue on the PDF.

Business Search(150 char):
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/31dbe588-d6f6-4712-9825-1ebcdd2343b9)

Individual Search: (50 char)
![image.png](https://images.zenhubusercontent.com/6

[2022-01-21 19:49] mstanton1 commented on #10772
I thought Kaine had typed in the Kirk J Kirkerson example I mentioned - but then he tried that one again and it worked. I don't think he recalls exactly what was typed in on his first search either. @Kaineatthelab ?

[2022-01-21 19:50] Kaineatthelab commented on #10772
Kirk k kirkenson

I logged out and tried again but couldn’t redo it.

Kaine Sparks
Portfolio Director
Director, Digital Operations|  BC Registries and Online Services<http://www.bcregistryservices.gov.bc.ca/>
Service BC
Ministry of Citizens’ Services
T: 250-415-3957 | Web: http://www.servicebc.gov.bc.ca<http://www.servicebc.gov.bc.ca/>
“Access to government services made easy”

From: mstanton1 ***

[2022-01-21 20:05] jinghualicgi commented on #10067
@chdivyareddy Divya, can you verify this in PROD? I moved it to RFQA. Thanks

[2022-01-21 20:08] jyoti3286 commented on #10775
@SateeshFW - THis has been added to the scope of this Sprint

[2022-01-21 20:20] forgeuxGH5 commented on #10763
Looks good

[2022-01-21 20:28] PatrickAHeath commented on #10781
@mstanton1 The Serial Number displayed is the search parameter.  Ran the same search in TEST (upper case and mixed case) and both PDF reports displayed the parameter in mixed case.  The Search result in the UI is displaying the Serial Number search parameter as it was entered, but the PDF Report is displaying it with each string of letters as a capitalized word.

Search Results:
![image.png](https

[2022-01-21 20:33] chdivyareddy commented on #9904
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b4c4221f-b1fa-4714-96a3-f490639b9640)

[2022-01-21 20:48] yuisotozaki commented on #9529
@cameron-freshworks

Used RS `789823901 ` to get the proper response. Scenario 2 works as described.

One observation in the message received. The error message says "This Routing slip is linked, enter the parent Routing slip: 789823900". I'm not sure if "Routing slip" is supposed to be in title case. I.e. "Routine Slip". This might be something to raise on the FAS side since it's their string.

[2022-01-21 21:08] severinbeauvais commented on #10248
In this example, I am already logged in (as BCREG0020), but I am shown a login menu (which is incorrect):

![image](https://user-images.githubusercontent.com/10002889/150600261-9580c92a-dc5a-4100-91df-a1c9ad73b49a.png)

Furthermore, if I use this menu to login as an IDIR then I am redirected to this page (which is incorrect):

![image](https://user-images.githubusercontent.com/10002889/150600336-5

[2022-01-21 21:12] cameron-freshworks commented on #9529
@yuisotozaki
Absolutely, you are correct! This is a message retrieved from FAS and passed back only for display purposes.
We can touch base with the FAS team and raise the question.

[2022-01-21 21:39] janisrogers commented on #10750
The name in the authorization is the first name and last name from BCeID, but the name at the top is the account administrator first name and last name. I would assume we need to the BCeID name to show in both places, otherwise what would show if you are a user on the account and not the administrator? @forgeuxGH5 what do you think?

![image.png](https://images.zenhubusercontent.com/5e1635372273f7

[2022-01-21 21:41] jinghualicgi commented on #10332
@Amitisp @olisaezeh Hi, are we ready to send the reminder email on Jan24, and go-live email on Jan25? Thanks

[2022-01-21 21:43] Maribeth-Wilson commented on #10358
Draft can be found here: https://docs.google.com/document/d/1bkuB5SrkhoDw9d5K74bafHDZl63qGXiC/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

[2022-01-21 21:48] fareenr commented on #10551
Began working on initial comms plan - draft saved here:
https://docs.google.com/document/d/1w2-Lr24-keEnzOjlLNtowtsYr3WDst4r/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-01-21 21:49] sumesh-aot commented on #10708
@SateeshFW This was a scope change.

[2022-01-21 22:06] Amitisp commented on #10742
@olisaezeh Please review the comm. for this ticket:
https://docs.google.com/document/d/1QgGHV0wvyiTghBjDzLxHTZ7oUmjh2JCU/edit?usp=sharing&ouid=116338265612276580086&rtpof=true&sd=true

FYI @magszymanski @trishreimer @Maribeth-Wilson

[2022-01-21 22:20] zac-broitman opened #10790 "Account Search Results should show in relevance order"
* As a BCOL staff member
* I want the results of the account search on the staff dashboard
* so that to show the most relevant to my search query first

**Acceptance Criteria**

**Scenario 1: Relevance based sorting**
* GIVEN ... I am on the Staff Dashboard looking at Active accounts
* WHEN ... I input the search query "MAR"
* THEN ... I should see accounts that begin with "MAR" first before other

[2022-01-21 22:21] sumesh-aot commented on #10748
@JohnamLane please verify

[2022-01-21 22:23] severinbeauvais commented on #10697
It's all yours, @forgeuxGH5 .

https://yfthig-dev.web.app/

[2022-01-21 22:23] PatrickAHeath opened #10791 "PPR Search for staff - Price is not displayed on the screen"
**Describe the bug in current situation**
(Issue raised during January 20 staff training session)
For clients, the $8.50 search amount is displayed on the screen so they're aware of the amount they'll be charged.
For staff, the search amount is not displayed in the UI and they're not aware how much is being charged to the client.

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e

[2022-01-21 22:27] lmcclung opened #10792 "Optimize bcrs-shared-components"
## Description (Hypothesis):
- Short Description of the needed Epic in the below format

* As a developer
* I want to easily insert a shared component into any UI
* so that features are easier to build

----
## Acceptance Criteria
* Used to determine whether the implementation is correct and delivers the business benefits

----
## Additional Information
* Start date when team will start to work on

[2022-01-21 22:32] lmcclung commented on #10725
At Jan 21 PO sync @jyoti3286 @lmcclung @Kaineatthelab decided to pull this into PI12; with the RFC to be worked on by @shabeeb-aot @severinbeauvais

[2022-01-21 22:34] janisrogers commented on #9973
This looks good to me. Ready for QA

[2022-01-21 22:34] mstanton1 commented on #10067
Logged into Prod, navigated to PPR, tried to add 059047N to 'My Registrations' and received an error on adding to 'My Registrations. Looks like PROD isn't quite ready for staff. Can try to add again Monday, and then check how the general collateral displays on amendment.

[2022-01-21 23:06] Amitisp commented on #10332
@olisaezeh Please review the PPR Go-Live Readiness comm. in the GDR:

https://docs.google.com/document/d/1ZfPEm7vGELo7fU8cgbu-eMb63Q3KDdej/edit?usp=sharing&ouid=116338265612276580086&rtpof=true&sd=true

FYI: @magszymanski @mstanton1 @trishreimer

[2022-01-21 23:09] lmcclung opened #10793 "Verify CP's that were dissolved in COBRS"
CP0001880 was dissolved in COBRS and brought over to postgres before we had statuses in postgres.

Probably work done in 10769/10874 will resolve most of these.

We need to:
- [ ] ensure it CP & BENs that had dissolutions are displaying as historical.  There was a job that happened when we released our 'states' so this should be done.
- [ ] Review business summary to ensure it looks right.
- [ ] t

[2022-01-21 23:27] janisrogers commented on #10748
The accounts all look good. Thanks

[2022-01-21 23:27] #10748 closed

[2022-01-21 23:41] mstanton1 commented on #10163
I've reviewed. For the updated instructions I think there might be an extra space before the first word of the second and third bullet point. Secured seems further to the left than the words 'There' and 'A' which start the next bullets. Can you check and remove the extra space if they exist? Otherwise this is approved!

I've received confirmation from the business the form 3 will update the existi

[2022-01-21 23:47] PatrickAHeath opened #10794 "PPR Search - Payment Confirmation modal covers search parameter value"
**Describe the bug in current situation**
This issue was raised in the January 20 Staff training session.

When performing a search, the Payment Confirmation modal displays and gives you the option of cancelling the search or proceeding with payment and search, but the search parameter isn't displayed to check if the correct parameter was entered.  The placement of the modal covers the search para

[2022-01-21 23:53] pwei1018 commented on #10248
That's some old logic. I will update it soon.

[2022-01-21 23:56] Amitisp commented on #10332
@olisaezeh Please review the PPR Go-Live comm. in the GDR:

https://docs.google.com/document/d/1_CJycOhATkQuL_KaAwxYWZRo5a9T-aTi/edit?usp=sharing&ouid=116338265612276580086&rtpof=true&sd=true

FYI: @magszymanski  @mstanton1  @trishreimer

[2022-01-21 23:58] janisrogers commented on #10521
On Screen 1

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/ba4663e5-72e1-4a0e-8705-d3ce4d05cb04)
- [ ] If user removes last secured party, error text should be 'Your registration must include at least one Secured Party"
- [ ] If user removes last debtor, error text should be 'Your registration must include at least one Debtor'

On Screen 2
- [ ] If user clicks Register

[2022-01-22 00:05] forgeuxGH5 commented on #10697
Everything looks as it should as documented in the ticket - but the following changes not spec'd in this ticket need to be made either in this ticket or as bug/enhancement tickets:

The log out behaviours should be as follows:

Logging out:

- [x]  from home page should redirect you to home page (Done)
- [ ]  from PPR page should redirect you to PPR page (paralllel behaviour for Business Registry:

[2022-01-22 00:06] forgeuxGH5 commented on #10697
Also note: Logging out and in with the different staff roles in the same browser session creates errors. Using a new private browser each time allows me to login as staff

[2022-01-22 00:11] severinbeauvais commented on #10697
Yes, I also found this during my testing, and as documented in this ticket's description, created #10783.

[2022-01-22 00:13] severinbeauvais opened #10795 "UI - logout behaviours"
(Copied from #10697 comments.)

The log out behaviours should be as follows:

Logging out:

- [x]  from home page should redirect you to home page (Done)
- [ ]  from PPR page should redirect you to PPR page (parallel behaviour for Business Registry: Business page -> Business page)
- [ ]  from dashboard should redirect you to Login (Logged out) page

Log out Rules:
Log out from any "marketing" page

[2022-01-22 00:14] severinbeauvais commented on #10697
Since those are not spec'd in this ticket, these should not block this ticket.

I have created a new ticket for your items: #10795.

Please move this ticket to Done. Thanks!

[2022-01-22 00:16] severinbeauvais commented on #10756
See also logout behaviours in #10795.

[2022-01-22 00:25] magszymanski commented on #10332
@jinghualicgi @Amitisp Jinghua, this ticket is not for emails but for posting to applications. We have the emails handled in tickets 10328 and 10358. I will work with Amitis to have the items here handled.

[2022-01-22 00:30] forgeuxGH5 commented on #10248
Use Case:
Given I am logged in as a client user and I bookmark the BC Registry Dashboard then log out
When I open my browser bookmark to open my BC Registries Dashboard
Then I see my Login page, and after logging in, I see my BC Registries Dashboard

![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/55213c05-fadb-4ae6-87d9-3fcb5aa4df4d)

Currently I see the BC Registries a

[2022-01-22 00:31] forgeuxGH5 commented on #10248
Note: Staff flows also need the parallel behaviour for their respective dashboards. Should this be done in this ticket or a new one?

[2022-01-22 00:34] severinbeauvais commented on #10248
@forgeuxGH5 Some or all your changes will be implemented in #10756 and #10795. If you agree, could you move your comments to those ticket(s) please?

[2022-01-22 00:46] forgeuxGH5 commented on #10756
Copied from #10248

Use Case:
Given I am logged in as a client user and I bookmark the BC Registry Dashboard then log out
When I open my browser bookmark to open my BC Registries Dashboard
Then I see my Login page, and after logging in, I see my BC Registries Dashboard

![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/55213c05-fadb-4ae6-87d9-3fcb5aa4df4d)

- [ ] Currently

[2022-01-22 00:47] forgeuxGH5 commented on #10756
Copied from #10248

Note: Staff flows also need the parallel behaviour for their respective dashboards.

[2022-01-22 00:52] PatrickAHeath commented on #10562
Ran both searches (DFC AUTO LTD & TELUS COMMUNICATIONS INC) at 2:35 pm today.  By 3:00, the smaller search (DFC AUTO LTD) completed and the PDF icon appeared.  It's now 4:50 and the larger search (TELUS COMMUNICATIONS INC) still hasn't loaded the report.

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/e5c971b1-40c2-4b86-8140-8e4d36183651)

[2022-01-22 00:55] chdivyareddy commented on #10562
Is it in DEV or TEST?

[2022-01-22 01:01] PatrickAHeath commented on #10562
DEV.

At least the 502 error didn't occur.  Divya's test earlier resulted in reports loaded so pushing this one to DONE.

[2022-01-22 01:05] PatrickAHeath commented on #10618
I tried TELUS COMMUNICATIONS INC in DEV earlier today (1398 registrations) - 2 1/2 hours later and no report.

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/19d5ac9d-638e-4a60-b9a0-107c9033d040)

[2022-01-22 01:05] lmcclung commented on #4466
Requested staff changes:
- [ ] Voluntary Dissolutions - Coops (CP1002503) - Change "Custodian of Dissolved Company's Records" to "Custodian of Dissolved Cooperative Association's Records" for coops

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/6af1e0ba-f3e7-4aff-a086-83e3922d2e8f)

- [ ] Amalgamations - Coops (CP0002292)
   - [ ] Change Blue "Amalgamating Corporation(

[2022-01-22 01:43] chdivyareddy opened #10796 "PPR Renewal - Expiry Dates within the Report do not match"
- [x] The Expiry dates on the Renewal History (New Expiry) and the Current Expiry do not match. The Registrations Table “Days to Expire” shows as “361 days” instead of 360 days since everything was done on the same day.

Example: Reg.No: **256069N** in TEST
**Base Registration:**
[https://app.zenhub.com/files/157936592/3903082c-f76a-4956-8a82-fb7d6b5e71cd/download](https://app.zenhub.com/files/157

[2022-01-22 02:55] severinbeauvais commented on #10795
@lmcclung @Kaineatthelab Is this required for MVP on Monday?

[2022-01-22 02:55] severinbeauvais commented on #10756
@lmcclung @Kaineatthelab Is this required for MVP on Monday?

[2022-01-22 16:30] Kaineatthelab commented on #10795
Morning Sev:) Yes I believe so.

[2022-01-22 16:32] Kaineatthelab commented on #10756
@severinbeauvais ideally but lower priority

[2022-01-22 16:35] tlebedovich commented on #10697
hi @severinbeauvais @forgeuxGH5 - fyi - we actually already have a ready to go design ticket for the logging out work, which differs a bit from the comments you made above Scott. I will add this ticket to Severin's #10795 and we should confirm direction - https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/10633

[2022-01-22 16:41] tlebedovich commented on #10795
@severinbeauvais - added the design ticket above

[2022-01-22 20:38] chdivyareddy commented on #10539
This is happening in DEV when logged in with **BCeID**: joe_smith987
DEV URL: https://yfthig-dev.web.app/

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2cc0cfd0-fa2c-4f8b-a695-d7f0fa677135)

[2022-01-22 21:24] chdivyareddy opened #10797 "Navigation Issue - BCREG/BCOL/SBC/Non-Staff From PPR Page do not redirect to their Dashboards"
- [ ] When logging in to PPR as BCREG/BCOL/SBC/Non-Staff (regular user) should redirect the user to the respective dashboards.

**Current Behavior**:

When user clicks on "BC Registries Dashboard":
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a20d0f7a-ce63-478e-976d-649e7920281c)
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/dbd6f162-2824-

[2022-01-22 22:36] chdivyareddy commented on #10697
Verified as per the Test scenarios provided above and moving this ticket along.
Logging out scenarios will be tracked in 10795

[2022-01-23 00:59] chdivyareddy commented on #10746
Verified all the field validations with maximum char limit as per the attached document above in TEST.

[2022-01-23 03:43] #10643 closed

[2022-01-23 03:43] #10644 closed

[2022-01-23 03:43] #10642 closed

[2022-01-23 03:43] #9480 closed

[2022-01-23 03:43] #9481 closed

[2022-01-23 03:43] #10668 closed

[2022-01-23 03:43] #10442 closed

[2022-01-23 03:43] #10443 closed

[2022-01-23 03:43] #8417 closed

[2022-01-23 03:43] #10695 closed

[2022-01-23 03:43] #10579 closed

[2022-01-23 03:43] #9948 closed

[2022-01-23 03:43] #10059 closed

[2022-01-23 03:43] #10624 closed

[2022-01-23 03:43] #9478 closed

[2022-01-23 03:43] #10634 closed

[2022-01-23 03:43] #9850 closed

[2022-01-23 03:43] #10720 closed

[2022-01-23 03:43] #10707 closed

[2022-01-23 03:43] #10706 closed

[2022-01-23 03:43] #8798 closed

[2022-01-23 03:43] #10646 closed

[2022-01-23 03:43] #10343 closed

[2022-01-23 03:43] #10578 closed

[2022-01-23 03:43] #10645 closed

[2022-01-23 03:43] #9482 closed

[2022-01-23 03:43] #10562 closed

[2022-01-23 03:43] #9973 closed

[2022-01-23 03:43] #10440 closed

[2022-01-23 03:43] #10214 closed

[2022-01-23 03:43] #10421 closed

[2022-01-23 03:43] #9904 closed

[2022-01-23 03:43] #10459 closed

[2022-01-23 03:43] #10205 closed

[2022-01-23 03:43] #10746 closed

[2022-01-23 03:43] #10299 closed

[2022-01-23 03:43] #8684 closed

[2022-01-23 03:43] #10739 closed

[2022-01-23 03:43] #10738 closed

[2022-01-23 03:43] #10735 closed

[2022-01-23 03:43] #10080 closed

[2022-01-23 03:43] #9630 closed

[2022-01-23 03:43] #10716 closed

[2022-01-23 03:43] #10647 closed

[2022-01-23 03:48] mstanton1 commented on #10754
@magszymanski from what you sent along today, it looks like this can be moved to done?

[2022-01-23 04:17] mstanton1 commented on #10335
1) Where to File a Builders Lien - No Changes
2) How to discharge an incorrect lien or fictitious lien - No Changes
3) What is a lien and how to file a lien - Changed documented in email which will be provided to SBC IT Ops.

[2022-01-23 21:06] severinbeauvais commented on #10697
I moved this ticket to Done to match assets-team-space.

[2022-01-23 21:08] severinbeauvais commented on #10787
Duplicate of #10788.

[2022-01-23 21:08] #10787 closed

[2022-01-23 21:37] severinbeauvais commented on #10756
Note to developer: see [PR 508](https://github.com/bcgov/ppr/pull/508) for similar work done to PPR UI.

[2022-01-23 22:03] severinbeauvais commented on #10633
User should be taken to the logged out version of the BCROS marketing page

Does this refer to https://dev.bcregistry.ca/business/auth/home/decide-business or https://yfthig-dev.web.app/ ?

^^ One of these is missing from list in Scenario 1. IMHO I would call the first link "BC Registry marketing page" and the second link "BCROS marketing page" or "Uber marketing page" or "top-level marketing page

[2022-01-23 22:08] severinbeauvais commented on #10587
I just tested this in Dev (logged in as BRTEST5), and after logout I am redirected to the BCSC login page. So this is still not correct.

![image](https://user-images.githubusercontent.com/10002889/150699802-158abef0-848f-46b9-bc16-9f8d9119b88a.png)

[2022-01-23 22:10] severinbeauvais commented on #10587
This bug will be fixed by #10795.

[2022-01-23 22:10] #10587 closed

[2022-01-23 22:53] chdivyareddy commented on #7049
Current Behavior of PPR Payment Error Handling Scenarios are attached in the document:
[https://app.zenhub.com/files/157936592/a1921e67-b58c-44a6-b8cb-ce6b6b3f158b/download](https://app.zenhub.com/files/157936592/a1921e67-b58c-44a6-b8cb-ce6b6b3f158b/download)

[2022-01-23 23:03] severinbeauvais commented on #10756
@Kaineatthelab wrote:

It appears that THIS ticket is a pre-requisite for #10795. Can we discuss Monday morning what MVP is?

[2022-01-23 23:04] severinbeauvais commented on #10795
It appears that #10756 is a pre-requisite for THIS ticket. Can we discuss Monday morning what MVP is?

[2022-01-23 23:22] severinbeauvais commented on #10756
My mistake... It's actually #10248 that implements the "logon page", and is therefore a pre-requisite for both THIS ticket and #10795. 10248 was merged 2 days ago and is not QA'ed yet so it might be premature to use it.

[2022-01-23 23:23] severinbeauvais commented on #10795
My mistake... It's actually #10248 that implements the "logon page", and is therefore a pre-requisite for both THIS ticket and #10795. 10248 was merged 2 days ago and is not QA'ed yet so it might be premature to use it... but I will try!

[2022-01-23 23:53] tlebedovich commented on #10633
@severinbeauvais This is what is called the BCROS marketing page (BCROS= BC Registries and Online Services):
https://yfthig-dev.web.app/

<img width="1404" alt="Screen Shot 2022-01-23 at 3 53 24 PM" src="https://user-images.githubusercontent.com/2207887/150703344-e47478b1-5872-4f98-9ecb-028c78b668f9.png">

[2022-01-24 00:14] severinbeauvais commented on #10756
@cameron-freshworks I think we can break this up and work on it together.

[2022-01-24 00:23] severinbeauvais commented on #10633
@tlebedovich Please verify that we have tickets for all items in description.

[2022-01-24 04:40] forgeuxGH5 opened #10798 "Log in control is missing from Business Registry marketing page masthead"
**Describe the bug in current situation**
Log in control is missing from Business Registry marketing page masthead in DEV (control is still present in TEST and PROD)

![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/1ac7a1ba-8076-492b-bf5e-f10dd6b8d94f)

**Impact of this bug**
Low - User's may be confused as to how to log in from this page, but there is a log in button in

[2022-01-24 04:44] #10798 closed

[2022-01-24 04:45] forgeuxGH5 opened #10799 "Log in control is missing from Business Registry marketing page masthead in DEV"
**Describe the bug in current situation**
Log in control is missing from Business Registry marketing page masthead in DEV (control is still present in TEST and PROD)

![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/1ac7a1ba-8076-492b-bf5e-f10dd6b8d94f)

**Impact of this bug**
Low - User's may be confused as to how to log in from this page, but there is a log in button in

[2022-01-24 15:36] PatrickAHeath opened #10800 "PPR Search - Collateral Type Trailer (TR) description doesn't display in Search Result"
**Describe the bug in current situation**
The description for Collateral Type TR (Trailer) doesn't display in the Search Result in the UI.  The description does display in the Table of Contents and Registration Details in the PDF report.

**Link bug to the User Story**

**Impact of this bug**
Collateral description for Trailer doesn't display for clients in the search result.

**Chance of Occurrin

[2022-01-24 15:49] fareenr commented on #9776
Finalized IDIM notice with all feedback received and saved in same google doc link as comment above.

@trishreimer Who should the IDIM notice be sent to?

[2022-01-24 15:55] fareenr commented on #10622
worked on finalizing user guide updates for PPR launch, including updated create account screen and note for non-ministry users.
Updated copy saved as v1.4 and date updated in footer:
https://docs.google.com/document/d/1oAExK5hBOde13Y-SoFv_U0ipyKSy7adP/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-01-24 16:02] chdivyareddy commented on #10627
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/90a168ef-01bd-4d97-a31b-09278f04f4db)

[2022-01-24 16:29] chdivyareddy commented on #10694
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/24d26721-215f-4d5f-ad5d-bb166cf04e03)

[2022-01-24 16:32] vysakh-menon-aot opened #10801 "Annual Report - filing history shows wrong year"
**Describe the bug in current situation**
Based on the investigation #10755 found that the year in filing history shows the year from annual report date which could be next year in some cases (like for COOP user can select next year date as annual date).

**Fix**
- [x] Filer - include ar_year in metadata before calculating last_ar_year
- [x] legal-api - use ar_year from metadata to populate displa

[2022-01-24 16:59] chdivyareddy commented on #10800
@PatrickAHeath  Similarly, I am adding scenarios for PPR Search - Collateral Type Outbound Motor (OB), Boat (BO)

- [ ] The description for Collateral Type OB (Outbound Motor) is not displayed in the Search Result in the UI. The description does display in the Table of Contents and Registration Details in the PDF report

**Search Results:**
![image.png](https://images.zenhubusercontent.com/60cd147

[2022-01-24 17:10] severinbeauvais commented on #10799
@pwei1018 Can you have a quick look please? Need to fix soon if easy.

[2022-01-24 17:27] gprimeau commented on #10533
@mstanton1
Here is the PDF fillable version for your records.

[https://app.zenhub.com/files/157936592/6eb77f98-f895-410b-b832-d17a5f7122a3/download](https://app.zenhub.com/files/157936592/6eb77f98-f895-410b-b832-d17a5f7122a3/download)

[2022-01-24 17:43] gprimeau commented on #10163
@mstanton1  for your records here is the fillable PDF. and was able to adjust the spacing issue

[https://app.zenhub.com/files/157936592/e57f42fa-3d35-4707-895f-65a225a98b2d/download](https://app.zenhub.com/files/157936592/e57f42fa-3d35-4707-895f-65a225a98b2d/download)

[2022-01-24 17:44] rarya-freshworks opened #10802 "[Bug Bash] UX Issue"
When setting up a GOVM account, we show the Ministry Name and Branch and they appear as editable but are not. Just a minor UX issue.

[2022-01-24 18:02] rarya-freshworks opened #10803 "[Bug Bash] Process Flow"
Reporter Jyoti:

After 2nd account creation, user is getting a message - Your BC Registries and Online Services account has been created and is being reviewed.

The account should not go into review

[2022-01-24 18:15] mstanton1 commented on #10676
@doug-lovett can you please grant a SANDBOX API Key against the PROD account created for testing:

Account Name: TEST - BC Registries API Sandbox
Account Number: 7365

[2022-01-24 18:18] mstanton1 commented on #10676
Ops ticket 312 has been created for issuance of a SANDBOX Key for Testing.

[2022-01-24 18:18] mstanton1 commented on #10676
Ops ticket 312 has been created for issuance of a SANDBOX Key for Testing.

[2022-01-24 18:18] #10676 closed

[2022-01-24 18:32] mstanton1 opened #10804 "Post Hours of Availability for BC Registries Application"
A link should be included in the footer with information on availability. Availability is based upon payment method (below) but also dependent upon BCeID & BCSC. Link should launch a CMS site with the availability information. Link should read "Hours of Availability"

Availability will vary based upon payment type.

PAD/Online Banking:
Available 24/7 except for Sundays from 6:00 AM to 10:00 AM PST

[2022-01-24 18:33] mstanton1 commented on #10804
@trishreimer I've created this ticket to track the need to post our hours. I'll verify the hours for CC/Online Banking and then move to ready to start when that is available.

[2022-01-24 18:37] PatrickAHeath commented on #8185
And then there were 6!!!

[2022-01-24 18:49] Amitisp commented on #10332
@magszymanski  I am ready to complete this ticket today, if I can be provided with direction on how to complete it. Thank you :)

[2022-01-24 18:53] magszymanski commented on #10332
@trishreimer @olisaezeh @Amitisp

Olisa and Trish, could you please provide Amitis with direction on this ticket? Amitis has created the comms that Olisa has directed but it hasn't been sent yet and just want to align this work with the other emails we are sending as per below:

Maribeth and I will be sending out the following emails **today:**
- BCOL PPR general users (3200~) plus non-ministry go

[2022-01-24 19:00] jinghualicgi commented on #9499
@lmcclung Linda, Omid said this ticket should go together with 7087, they are on the same repo. I have created a NameX 11.8 for 7087, do you want to move this ticket from current release ("Entity: Sprint 11.7") to NameX11.8 release? Please advise, thanks

[2022-01-24 19:26] fareenr commented on #9776
IDIM notice was sent out 24-Jan.  Also updated Staff Q&As for PPR-specific login information with new landing page

[2022-01-24 19:27] lmcclung commented on #9499
@jinghualicgi @riyazuddinsyed will QA it today; will confirm in an hour or so.  He says if 9499 is only in dev it shouldn't affect your release and 7087 could be part of your 11.7 release.

I'm wondering whether maybe we should delay Names release until the 25th or 26th because of all the PPR releases happening today?

[2022-01-24 19:32] magszymanski commented on #10754
Moved to done!

[2022-01-24 19:34] tlebedovich opened #10805 "Fix Text Titles for Amendment types in Registration Table"
Scott noticed that there are unexpected Registration Type titles for the different types of amendments appearing in the My Registration tables.

For example, "Partial Discharge" should instead say "Amendment – Collateral Deleted"

- [ ] Update all of the different amendment text titles to follow the text titles in Scott's spreadsheet here:
https://onedrive.live.com/view.aspx?resid=E52B0821EC98A357

[2022-01-24 19:34] magszymanski commented on #10571
Hi Melissa,

Guides have been posted by Gen a week ago to the Resources page, and Staff have theirs linked to PPR Info Center. Only the Search guide is different for users and staff, the rest are the same. client-facing info will not be linked to the staff center, agreed!

Closing this ticket as Info Center has been provided to staff.

[2022-01-24 19:34] tlebedovich commented on #10805
@forgeuxGH5 - fyi, finally made this bug ticket

[2022-01-24 19:44] magszymanski commented on #10622
Updated the user guide: https://docs.google.com/document/d/1-w6ugrKx7wsI0IYSfzNCXdTxaUrQJQ0S/edit?usp=sharing&ouid=109508011503764748857&rtpof=true&sd=true

Problem is that Google does not keep the hyperlinks displayed on page 3 as it treats the boxes as pictures -- hyperlinks become non-clickable. I will have to save the Word file I worked on elsewhere and once we have time, should see if we can

[2022-01-24 19:48] magszymanski commented on #10622
@fareenr please confirm that there are no changes to BCeID Additional Administrator as this latest version has the same info that was included on Dec 21, 2021. If none, then we can close this ticket. Thanks!

[2022-01-24 19:56] chdivyareddy commented on #7049
@kialj876 , Moving this story back to In Progress, as lot of the scenarios are not displaying the right info as expected.

[2022-01-24 20:07] cameron-freshworks commented on #10751
With regards to the `EDIT PROFILE` update, the redirects can be handled by the Entities team.
Some work was previously done with the routing on the Back button, but we can use this ticket to implement the same routing on the 'Cancel' functionality if it is required.

[2022-01-24 20:24] mstanton1 commented on #10600
URL and page flow information has been provided. Closing this task.

[2022-01-24 20:27] fareenr commented on #10622
Yes, pages 24-31 already have the detailed step-by-step instructions and screenshots for BCeID invite for additional administrators, so not other changes are needed.

[2022-01-24 20:29] jinghualicgi commented on #10716
@kialj876 I put 0.5 as est. , please update if you have other opinion. Thanks

[2022-01-24 20:32] jinghualicgi commented on #10466
@sumesh-aot Sumesh, do you mind put an est. on this ticket? Thanks

[2022-01-24 20:47] magszymanski commented on #10600
@mstanton1 , I am moving it to Done so that Trish can account for this ticket in her reporting - when we move to Closed, she can't easily capture the work. Hope that's ok!

[2022-01-24 21:06] mstanton1 commented on #10466
@jinghualicgi @JohnamLane worked with the home team to have these produced and then John and I added them into the fee code utility created by the Relationships Team. @JohnamLane would be better for sizing this.

[2022-01-24 21:08] jinghualicgi commented on #10063
@jordiwes This is P1.5, please go ahead with other P1 first, and check this after

[2022-01-24 21:09] JohnamLane commented on #10466
I put a 3 for estimate.

[2022-01-24 21:12] jinghualicgi commented on #10618
@pwei1018  are you aware of this back to In Progress? Add your name, thanks

[2022-01-24 21:22] jinghualicgi commented on #7049
@kialj876 Kial,  I add your name on this ticket, just in case we won't miss this. Thanks

[2022-01-24 21:22] forgeuxGH5 commented on #10248
The bookmark return to PPR for any log in type: Currently the Login page is empty;
 it should display the login picture and control

**Current**:
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/48373986-01b1-4950-9be2-bed2301c8175)

**Expected**: (this is the current login for bookmarked Entities/Business pages)
![image.png](https://images.zenhubusercontent.com/5bdb286ef

[2022-01-24 21:34] mstanton1 commented on #10335
Updates sent to SBC IT Ops, cc'ing Wael, Debbie and Sharon.

[2022-01-24 21:58] forgeuxGH5 commented on #10747
@cameron-freshworks @lmcclung seems like there is a bug in the Staff Dashboard that links staff to the My Business Registry page for the account vs the Account info page (which is the expected behaviour). But this does create a bit of confusing breadcrumb for Staff on the My Business Registry Page. They currently see the client breadcrumb there (we don't actually have a Staff view of this page but

[2022-01-24 22:00] forgeuxGH5 commented on #10747
Everything looks good here moving to RFQA

[2022-01-24 22:09] jinghualicgi commented on #10627
@jordiwes Steph, I add 0.5 as est. Please feel free to change it if you have other opinion. Thanks

[2022-01-24 22:32] cameron-freshworks commented on #10588
Wanted to add some configuration variables required for the various UI's that are part of a release dependency.
I believe these have already been taken care of by @pwei1018 but listing here for transparency.
The ENV variable called `REGISTRY_HOME_URL` has been added to the following environments
Dev = https://yfthig-dev.web.app/
Test = https://www.bcregistry.daxiom.ca/
Prod = https://www.bcregistr

[2022-01-24 22:39] jordiwes commented on #10539
@mstanton1 - this is because this user has an active subscription to Wills Registry (code VS).
We don't currently have info for that.... and a few other products. How should we handle this?
case ProductCode.VS:
      return {
        image: 'placeholder_image',
        link: 'placeholder_link',
        text: 'placeholder_text',
        title: 'placeholder_title'
      } as ProductI

[2022-01-24 22:46] sumesh-aot commented on #10744
@SateeshFW Another scope change

[2022-01-24 22:49] mstanton1 commented on #10539
Wills registry access was migrated into the new system so we could avoid having clients have to seek approval for access a second time. This will occur in a number of cases. Steph noted this also occurs with CSO (Court Services Online) and RPT (Rural Property Tax).

@tlebedovich do you know if there is design for the images for the Vital Stats, Court Services or Rural Property Tax tiles or whether

[2022-01-24 22:53] tlebedovich commented on #10539
@mstanton1 We didn't plan for these for launch so a design for @forgeuxGH5 and I would be great so we can review impact. We have not created any visuals for these as of yet.

[2022-01-24 22:54] mstanton1 commented on #10539
@jordiwes since users can't access these services and we need to get design / wording is there a way to simply hide the tiles when they are for Vital Stats, CSO or RPT?

[2022-01-24 22:59] forgeuxGH5 commented on #10248
@pwei1018 @severinbeauvais ^ not sure whose ball this is - I moved it back to in progress

[2022-01-24 23:01] lmcclung commented on #9499
@jinghualicgi this is ready for release. So if you haven't already released, both it an Omid's Restoration NR ticket can go out now.

[2022-01-24 23:02] mstanton1 opened #10806 "UI Design - Tile Images for Vital Statistics/Wills Registry"
In Products and Services existing tiles have an image. An image is required for products that users may already have subscriptions to, which will be launched in the business registry at a later time.

- Vital Statistics

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/fae61e48-b5ca-4437-bcfe-35c10818ee0f)

[2022-01-24 23:03] mstanton1 commented on #10806
@jyoti3286 @JohnamLane please confirm that the list above will be onboarding to the new platform. If other services will be launched first, please add those in so design can start for those tiles.

[2022-01-24 23:04] mstanton1 commented on #10539
@tlebedovich I've created 10806 and posted in there for Jyoti/John to confirm the services onboarding and which ones are coming up soon.

[2022-01-24 23:11] magszymanski commented on #10693
This has been sent to our DL. Moving to done. Thanks Fareen for drafting!

[2022-01-24 23:22] pwei1018 commented on #10618
@PatrickAHeath @chdivyareddy Which account do you use in Dev?

[2022-01-24 23:24] forgeuxGH5 opened #10807 "BUG - Single change to General Collateral generated multiple un-entered changes to General Collateral"
**Describe the bug in current situation**
A clear and concise description of what the bug is.
I entered a change to GC and it created multiple un-entered changes to General Collateral

**Link bug to the User Story**

**Impact of this bug**
Could create incorrect registrations

**Chance of Occurring (high/medium/low/very low)**
High

**Pre Conditions: which Env, any pre-requesites or assumptions to

[2022-01-24 23:31] chdivyareddy commented on #10618
@pwei1018 It's BCREG0057 in DEV.

[2022-01-24 23:34] mstanton1 opened #10808 "PDF Outputs do not preserve new line formatting"
**Describe the bug in current situation**
When an API user enters general collateral and uses line break formatting the formatting is not preserved in the outputs.
Examples in Discourse: https://discourse.onebc.ca/t/general-collateral-formatting/69

**Link bug to the User Story**

**Impact of this bug**
PDFS don't show formatting for General Collateral properly

![image.png](https://images.zenhubu

[2022-01-24 23:35] ozamani9 commented on #9499
@lmcclung I did not push out the Names Request Release today with all the issues this morning.   Chatting with Thor we will wait till Wednesday (tommorow is busy).   I can also push this ticket and 7087 out together on wednesday once Release ticket is ready.

THANK YOU for wrapping this one up so quickly

[2022-01-24 23:44] mstanton1 commented on #10807
@doug-lovett are you able to look at this. It's a high priority bug.

[2022-01-24 23:45] janisrogers opened #10809 "Wrong text displaying on registering party for amendment, discharge and renew"
- [x] Showing wrong text in help bubble

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/38d3ab7e-e24f-4025-bc3b-8b25bd944f0f)

Change to:

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/12bba97e-5396-4bad-a105-bf668ce97af0)

[2022-01-24 23:46] janisrogers commented on #10063
I have logged 10809 for the bug mentioned above. The rest of this is ready for QA

[2022-01-24 23:47] forgeuxGH5 commented on #10807
Replicated using a different account - happened on the second amendment
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/b1f58a84-06f3-4cf2-acff-6e1d1b494e34)

[2022-01-24 23:50] pwei1018 commented on #10618
@jinghualicgi I think this issue seems not the report api issue. If we get the error after click the PDF link then the content is go to report api. Before the link generated, I don't think it will connect to report api.

[2022-01-24 23:52] pwei1018 commented on #10248
@forgeuxGH5 this issue get fixed in dev and test.

[2022-01-24 23:59] forgeuxGH5 commented on #10248
OK moving to RFQA

[2022-01-25 00:32] #10744 closed

[2022-01-25 01:18] doug-lovett commented on #10807
I think this is a UI issue. Looking at amendments submitted within the last few hours in DEV, the database values match what was submitted.

[2022-01-25 01:22] magszymanski commented on #10190
URL is posted to Resources Page under PPR accordion: "Logging into the NEW Personal Property Registry"
Email has been sent out to users (all users in BCOL PPR database PLUS all uses who have registered for new PPR)
User Guide has been updated to reflect the BC Registry App link

[2022-01-25 01:25] chdivyareddy commented on #10248
@pwei1018 @forgeuxGH5 , just wanted to confirm whether the Staff Dashboard login is covered in a different ticket or not?

Staff Dashboard: https://dev.bcregistry.ca/business/auth/staff/dashboard/active
When logged in as SBC staff using IDIR (BRTEST5), then I am redirected to this Dashboard which is incorrect.
**Current Behavior:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de27

[2022-01-25 01:31] PatrickAHeath commented on #10063
Verified in DEV.

Registering Party can be changed on the Review and Confirm step of Amend, Renew and Discharge.  The new Registering Party displays in the Verification Statement for the activity and in the Search Output PDF.

[2022-01-25 01:48] forgeuxGH5 commented on #10807
FYI - the outputs are also incorrect (not saying it's not a a UI issue - just looking to add info if it helps with troubleshooting)
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/aed60880-c5df-4c65-872a-b88c70393fa2)

[2022-01-25 01:56] severinbeauvais commented on #10248
I cannot reproduce this ^^. Here are my steps:
1. go to https://yfthig-dev.web.app/
2. login as IDIR (BRTEST5)
3. observe that URL is now https://yfthig-dev.web.app/dashboard/
4. observe that you are on SBC Staff Registries Dashboard:

![image](https://user-images.githubusercontent.com/10002889/150896402-895f465a-b11e-4d30-ab48-f8a15ea45ed1.png)

[2022-01-25 02:04] chdivyareddy commented on #10248
Steps to Reproduce:

1. Go to https://dev.bcregistry.ca/business/auth/staff/dashboard/active
2. Login as IDIR (BRTEST5)
3. Observe that URL is now https://dev.bcregistry.ca/business/auth/staff/dashboard/active
4. Observe that SBC Staff dashboard is displayed as:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/507e9afe-2497-48d0-8caa-f7b044051639)

[2022-01-25 02:10] severinbeauvais commented on #10248
@chdivyareddy This is the expected behaviour since it has not been changed 😁

Scott and I chatted about this. There's a requiremement for what you're saying somewhere... If you know where, please let us know. In the meantime, Scott said it's not MVP.

[2022-01-25 02:11] forgeuxGH5 commented on #10248
@chdivyareddy you are correct SBC Staff should see

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/7ed3a87c-7475-4230-bc06-9b45d03a5532)

It shows correctly when logging in via @severinbeauvais' path but incorrectly via your path

[2022-01-25 02:15] forgeuxGH5 commented on #10248
@severinbeauvais this is a different issue to me - we talked about clients logging in from the Business marketing page and seeing the My Business Registry application page. @chdivyareddy is showing staff logging in via a bookmark (is that correct @chdivyareddy?)  to the staff dashboard and then seeing the wrong dashboard which we should fix.

[2022-01-25 02:17] chdivyareddy commented on #10248
@forgeuxGH5 , yes that's what I am referring to:)

[2022-01-25 02:28] mstanton1 opened #10810 "New Badge for PPR Application, BCROS Homepage, Info on PPR Marketing Page"
Add a New badge to BCROS Home page

[2022-01-25 02:32] forgeuxGH5 opened #10811 "BUG - Logging in from the Business Registry "marketing" page should display the BC Registries Dashboard or the appropriate Staff dashboard"
**Describe the bug in current situation**
Currently, logging in from the Business Registry "marketing" page displays the incorrect landing page for different log in types (BCSC, BCeID, SBC Staff IDIR) - it should display the dashboard for each log in type:

BCSC / BCeID - BC Registries Dashboard
SBC Staff - SBC Staff BC Registries Dashboard

Note: IDIR Registries Staff / BCOL Helpdesk - Staff Dash

[2022-01-25 02:48] jinghualicgi commented on #10063
Thanks Patrick, so I will move all tasks under this story to done as well

[2022-01-25 02:48] severinbeauvais commented on #10248
OK. I'll let @pwei1018 determine whether to hold back this ticket or create a new one with your notes for post-MVP.

[2022-01-25 02:53] chdivyareddy commented on #10432
@jordiwes , I see the same behavior as earlier for both BCOL and BC Reg Staff, can you please take a look in DEV.

Current Behavior of Registering Party for BC Reg Staff:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/7f9ca4f1-f4e8-40f0-962f-606122c74e3e)

BCOL Staff:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/913303dd-b147-4961-bd7e-c63f

[2022-01-25 03:05] forgeuxGH5 commented on #10747
looks good to me - checked SBC staff bookmark too.

[2022-01-25 03:14] chdivyareddy commented on #10539
Hey @jordiwes , not sure whether this is deployed to DEV, I see the same behavior as earlier with those credentials in DEV. Can you please take a look, thanks!
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e36aa176-0fec-49d5-aa45-0ffd1eb62981)

[2022-01-25 03:56] jinghualicgi commented on #10747
@lmcclung I add this ticket to PPR Jan25 Release since this will go out tonight
cc: @mstanton1

[2022-01-25 04:01] chdivyareddy commented on #10539
It is working as expected for the above credentials in DEV and TEST:
Current Behavior for BCREG0010 in TEST:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/054984bb-b362-47a8-97e4-f514bf0a16aa)

Current Behavior of joe_smith987 in DEV:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/1a207384-0560-4001-8eb0-a8ef4ae2f96f)

[2022-01-25 04:10] forgeuxGH5 commented on #10248
Landing pages for Log in types:
Bookmarked page or dashboard
Dashboard pages:
Client BCSC/BCeID = BC Registries Dashboard
SBC Staff IDIR = SBC Staff BC Registries Dashboard
BC Registries Staff / BCOL helpdesk IDIR = Staff Dashboard
Other IDIR = BC Registries Dashboard

[2022-01-25 04:17] forgeuxGH5 opened #10812 "BUG - Bookmarked log ins going through the Login page should direct to the appropriate dashboard or the bookmarked page"
Currently all log ins going through the login page are directing to the Staff dashboard. Bookmarked dashboard log ins should direct to the appropriate dashboard for the login type.

**Impact of this bug**
Users with bookmarked dashboard pages will go to the wrong dashboard

**Chance of Occurring (high/medium/low/very low)**
High

**Steps to Reproduce:**
1. Go to https://dev.bcregistry.ca/business/

[2022-01-25 04:21] jinghualicgi commented on #10080
@mstanton1 this story has been closed, are we going to close task tickets as well? 10444, 10441

[2022-01-25 04:26] magszymanski opened #10813 "Update BCOL Landing page - Due: Jan 25"

[2022-01-25 04:44] mstanton1 commented on #10444
BC Mail Side: Updated IPs were provided to BC Mail+ on Jan 17th. On Jan 21st BC Mail+ confirmed the iStore on their side had been completed.

@doug-lovett is there anything further left for this task on our side?

[2022-01-25 04:45] mstanton1 commented on #10441
@thorwolpert @doug-lovett is there still work to be completed on this task?

[2022-01-25 05:21] chdivyareddy commented on #10807
Verified in TEST with Reg. No: 256076N
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e9482c19-fd01-4919-bfe4-e26e9753e6e4)

[2022-01-25 05:35] chdivyareddy commented on #10750
Verified!

DEV:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/103de0c1-1351-40fe-8af7-1502d66d92ab)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/0f74bd0c-93cb-4483-8e0e-80001a93c835)

TEST:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/71e91d42-aa67-4ba9-8354-9d9a7c3e47f3)

![image.png](https://images.zenhubus

[2022-01-25 06:18] jinghualicgi commented on #10750
@kialj876 , again, add 0.5 est, please change with what you think is proper, thanks

[2022-01-25 06:29] chdivyareddy opened #10814 "Account Switching Issue"
**Describe the bug in the current situation:**
When trying to switch from one account to another (Basic to Premium), it doesn't get switched

**Link bug to the User Story:**

**Impact of this bug:**
High

**Pre Conditions:**

**Steps to Reproduce:**
1. Log in to Test using BC Services Card (BCREG2014)
2. Navigate to My Business Registry
3. Click on the Account menu on the top.
4. Switch from "Nort

[2022-01-25 06:40] jinghualicgi commented on #10814
@mstanton1 New bug created, please check priority and etc. thanks

[2022-01-25 12:37] vysakh-menon-aot commented on #9517
UX Assurance/Testing:
Scope of this ticket is to update `Use this Name Request Now` button to create a draft Registration in legal-api. You can verify this in network tab since the api ticket is not completed.
![image.png](https://images.zenhubusercontent.com/5f32f33a77ef9e4d453c1945/72d58634-daa6-4d76-a72c-9ebea3fdfe54)

[2022-01-25 13:26] jinghualicgi commented on #10738
@doug-lovett I put 0.5 as est, please update if you think otherwise

[2022-01-25 13:26] jinghualicgi commented on #10735
@doug-lovett I put 0.5 as est, please update if you think otherwise

[2022-01-25 13:36] jinghualicgi commented on #10248
@pwei1018 Patrick, can you put an est. on this ticket?

[2022-01-25 14:37] Kaineatthelab opened #10815 "Press enter key in search should activate the search"

[2022-01-25 14:40] kialj876 commented on #7049
@chdivyareddy which scenarios don't work? Everyone I try in test is as expected. This story is for payment errors only fyi ![Screen Shot 2022-01-25 at 6.38.06 AM.png](https://images.zenhubusercontent.com/5b0d85f776f98d262074368f/b3b6eb64-dc91-46eb-a5d7-c6dedb7fc452)

[2022-01-25 14:44] PatrickAHeath commented on #10618
@pwei1018 I use BCREG0050 (BCOL Payment) and BCREG0051 (PAD Payment)

[2022-01-25 14:45] #10704 closed

[2022-01-25 14:46] chdivyareddy commented on #7049
@kialj876 I have added all the current behavior scenarios in the above document:
BCOL Payment modal scenarios are not as expected.

[2022-01-25 14:55] kialj876 commented on #7049
ah okay I see. The UI is parsing the error correctly we're just not getting the expected error responses from payment for all the cases. I'll look and see if there's anything we can do on our side

[2022-01-25 14:57] chdivyareddy commented on #7049
yeah, that's right:)

[2022-01-25 15:26] fareenr opened #10816 "OCM - Admin create and switch between Multiple Accounts"
Target Release - orig Jan 31 2022, now Mar 1 2022

1. BCeID Admins will be able to have same Admin for multiple accounts

2. Ministry Admin logging in with IDIR may have same Admin for multiple accounts

[2022-01-25 15:26] kialj876 commented on #7049
Okay I went through and verified that we are displaying the correct error for what we receive from payment. I think we should open a dependency bug ticket for relationships to give us the correct error for the ones that give a generic error (nothing we can do in ppr to change these)

[2022-01-25 15:33] chdivyareddy commented on #7049
Oh okay, thanks for checking Kial!!

Hey @mstanton1 , looks like we need a dependency ticket for relationships to give us correct errors for these scenarios.
could you please create a ticket?

[2022-01-25 15:44] fareenr opened #10817 "OCM - Comms for BCeID Administrators - multiple accounts option"
Email for BCeID Administrator role only - explain option to create multiple accounts, if needed and how to switch between accounts

- [x] ask Patrick Wei for updated list of BCeID Admins from Prod

[2022-01-25 15:45] Kaineatthelab opened #10818 "Add spinner to loading pages - Registry Dashboard/PPR dashboard"
- [x] Given I am logged in, When I go to the registry dashboard, Then I should see a spinner until it's loaded
- [x] Given I am logged in, When I go to the ppr dashboard, Then I should see a spinner until it's loaded

[2022-01-25 15:45] gprimeau commented on #10768
Cameron would like me to add:
Please enclose a copy of the director's government-issued photo ID”.

[2022-01-25 15:46] fareenr opened #10819 "Change impact assessment for Multiple Accounts for Admin"
complete change impact assessment for new enhancement for Multiple Accounts for Admin, planned to be released Jan 31 2022

- Impacts on BCeID Account Administrators, incl Non-Ministry and other BCeID users
- Impacts on Ministry Administrators that need to manage multiple accounts

[2022-01-25 15:46] fareenr opened #10820 "Create change communications plan for Multiple Accounts for Admin"

[2022-01-25 15:47] fareenr opened #10821 "Update Reg Staff OneNote to for all multiple accounts for Admin references"

[2022-01-25 15:47] fareenr opened #10822 "Email for BCOL Admin to notify of new enhancement - Admin role and creating multiple accounts"

[2022-01-25 15:47] fareenr opened #10823 "Notify helpdesks of this functionality for Admin to create multiple accounts"
Email to notify that all Admins incl BCeID can set up multiple accounts if needed.  Ministry Admin must be invited to create account

[ ] send to Reg staff, BCoL HD, BCOL Admin, Maximus SBC Contact Centre and IDIM

- Demo to BCOL and any other helpdesks that may get questions from users

[2022-01-25 15:48] fareenr opened #10824 "Communicate to Ministry Admins who need multiple accounts"
Send invite to Ministry Admin with their additional account name with specific branch in the account name

[2022-01-25 16:42] severinbeauvais commented on #10818
I will add the spinner to the BCROS dashboard loading as part of #10795.

[2022-01-25 16:42] mstanton1 commented on #10067
This is still an issue in PROD:

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/9f2bbf68-0654-4b0c-8f34-1ec47f0504ba)

[2022-01-25 16:44] chdivyareddy commented on #10223
Hey @jordiwes , for the legacy crown charge registrations should accept only one secured party.

Current Behavior for **967927E** (CROWN_CORP_CAPITAL_TAX): It is allowing users to add a new secured party and the previous one is not getting deleted. (WESTMINSTER CHEVROLET OLDSMOBILE - this is the one which I have added)

![Clipboard - January 25, 2022 7_24 AM.png](https://images.zenhubusercontent.c

[2022-01-25 16:45] severinbeauvais commented on #10814
This is likely the same issue as #6151. ([6151](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/6151))

[2022-01-25 16:52] #9529 closed

[2022-01-25 16:52] #9906 closed

[2022-01-25 16:52] #9499 closed

[2022-01-25 16:52] #10697 closed

[2022-01-25 16:54] mstanton1 commented on #10335
Drafts of macros were completed Jan 24th. Review and final updates took place Jan 24th. The Macros have been moved into the appropriate location as of approximately 8:30 AM today, Jan 25th.

[2022-01-25 16:58] forgeuxGH5 commented on #10818
version 1: Spinner with contact info message
version 2: Spinner w/ contact info + "Cancel" button that changes to "Reload Dashboard"

[2022-01-25 17:10] argush3 commented on #9976
**Data created in DEV**

Coops
`NR 0462365` (XYZ 2022.01.24 22.12.06 TEST) -> CP1002513 (in good standing)
NR 9076169 (XYZ 2022.01.24 22.21.44 TEST) -> CP1002514 (not in good standing)
NR 4009628 (XYZ 2022.01.24 22.23.46 TEST) -> CP1002515 (not in good standing)
NR 0558427(XYZ 2022.01.24 22.24.52 TEST) -> CP1002516 (not in good standing)
NR 5637675 (XYZ 2022.01.24 22.25.37 TEST) -> CP1002517(not i

[2022-01-25 17:11] severinbeauvais commented on #10818
Do you have a design for the spinner with message?

Nuxt has a built-in loading indicator. It's a progress bar above the header. Is this enough, or do you want a full-page spinner thing?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/57b7ca02-15e8-4be2-9333-c0149a9258f1)

[2022-01-25 17:14] #10414 closed

[2022-01-25 17:15] lmcclung opened #10825 "SP/GP - Business Summary"
Background:
Business Summaries were created for BEN & CP under epic 3821.
Design for output ticket [9205](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/9205)

To Do:
Make Business Summary report for SP/GPs

[2022-01-25 17:17] forgeuxGH5 commented on #10818
The nuxt default isn't going to be enough unfortunately. I prefer in-page where the panel would appear, how much more effort for that vs. modal with overlay?

[2022-01-25 17:18] #10192 closed

[2022-01-25 17:21] #8073 closed

[2022-01-25 17:26] severinbeauvais commented on #10818
It should be low effort to implement a full page spinner (as we do with other UIs). However, I'm still curious what the message should look like, and when it should display.

[2022-01-25 17:29] forgeuxGH5 commented on #10818
Working on the message and when to display

[2022-01-25 17:31] mstanton1 commented on #10431
@doug-lovett for the database change @jordiwes noted we should use org 9990003.

[2022-01-25 17:33] #10747 closed

[2022-01-25 17:39] jdyck-fw commented on #9517
This is Prod, please verify user still directed to OneStop (feature flagged)

[2022-01-25 17:43] forgeuxGH5 commented on #10818
@severinbeauvais we have a bunch of dashboard loading pages - is there one you are familiar with and prefer to use? I can quickly mock up the page based on this.

[2022-01-25 17:55] kialj876 commented on #10818
@forgeuxGH5 kaine asked me to start this right away when he created the ticket so it is already done locally haha

[2022-01-25 18:00] severinbeauvais commented on #10818
Kial, please attach a screenshot. Maybe I'll copy that.

Otherwise, Scott, just pick one (white or semi-transparent page with round spinning thing).

[2022-01-25 18:01] kialj876 commented on #10818
@severinbeauvais okay I have the local fix kaine wanted, but will just keep that in case. Took me 5 min so no worries if you do something different

[2022-01-25 18:05] #9205 closed

[2022-01-25 18:07] kialj876 commented on #10818
mine was just a full page spinner (did it right after the ticket was created so before scott chimed in). Keep in mind its unlikely to be visible for more than a tenth of a second most times (it will flicker unless you wait for a quarter second)

![Screen Shot 2022-01-25 at 10.04.03 AM.png](https://images.zenhubusercontent.com/5b0d85f776f98d262074368f/31e7c8ed-761b-4967-8923-296d3864c559)):

[2022-01-25 18:07] Kaineatthelab commented on #10818
sorry guys! didn't know Sev was doing it too:) Its probably less of a priority as the issue ended up being on users access but still valuable when the system is a bit slower for sure!!!

[2022-01-25 18:09] severinbeauvais commented on #10818
@Kaineatthelab Kial and I are working on different pages. This ticket is for both PPR and BCROS UI.

[2022-01-25 18:10] severinbeauvais commented on #10818
Ohhhh. Maybe Kial did the BCROS one :-P

Still need one for PPR then.

[2022-01-25 18:18] sienna-blumstengel commented on #10549
Hey @cwulff1 , the email I sent you earlier about access to the business summary might be useful in updating the OneNote! There are some quick instructions and screenshots. If you have not completed this update to the OneNote already :) Let me know if you need anything for this

[2022-01-25 18:19] sienna-blumstengel commented on #10546
The email i sent [requesting access](https://app.zenhub.com/workspaces/ocm-team-space-5db37ce273e8f70001d9e2b1/issues/bcgov/entity/10548) contained instructions and screenshots. Sent it to all the relevant groups (see #10548 for list)

[2022-01-25 18:21] kialj876 commented on #10818
Okay if I just leave it with you sev? I didn't spend much time on it so no worries

[2022-01-25 18:21] forgeuxGH5 commented on #10818
I'm thinking we just use the one Kial has for now - it's the same as the My Business Registry page. Is there an "unable to load dashboard" modal or some kind of failure handling for that one?

[2022-01-25 18:22] kialj876 commented on #10818
Alright I will PR what I have for BCROS haha - I'll let severin use it or not

[2022-01-25 18:24] cwulff1 commented on #10549
@sienna-blumstengel can you call me?  778-698-1435

[2022-01-25 18:24] lekshmimallika-aot opened #10826 "Fix the Annual Report AGM validation"
The AGM date currently looks at last COA, COD and Annual Report Dates. The AGM date should be after all these dates.

However, the validation message is confusing because it gives an impression that you changed address/directors after the selected AGM date.

Suggested fix: We may have to change the wording to also reflect that the AGM date should be **after** the AGM date of previous AR filings. U

[2022-01-25 18:31] mstanton1 commented on #10814
@jyoti3286 expected behaviour is if you are on My Registry Dashboard and update the account you are on the page will display the updated account name in the top right hand corner and the products and services list is refreshed to show the products and services for the account showing in the top right corner.

@severinbeauvais @chdivyareddy as confirmed this is the same as 6151 so I am closing this

[2022-01-25 18:31] #10814 closed

[2022-01-25 18:32] severinbeauvais commented on #10818
Kial - OK!

Scott - there is no error modal in BCROS atm.

[2022-01-25 18:32] mstanton1 commented on #6151
Recent test of this with screenshots in 10814 (which has been closed as it is a duplicate). Note: this is becoming more urgent now because when the products and services don't reload a user will have a difficult time navigating to the appropriate service.

[2022-01-25 18:34] severinbeauvais commented on #10818
@kialj876 What about a spinner in PPR?

[2022-01-25 18:52] chdivyareddy opened #10827 "PPR Search - Unable to open document when matches are not selected"
- [x] I have noticed in Test that when a Search has 0 matches found, then PDF gets generated, but if there are 'N' no. of matches found and '0' exact matches(NIL search) then unable to open PDF document.

Eg: 1223222223 (Serial Number)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/cab0be43-d4fe-46ee-8d27-0e15dd7d25cf)

[2022-01-25 18:58] forgeuxGH5 commented on #10818
@severinbeauvais do we still have the timeout? If yes we should have some failure handling. I can give you that if needed.

[2022-01-25 19:06] chdivyareddy opened #10828 "PPR Registration - Manufactured Home Number Field issue in Vehicle Collateral"
- [x] When a user is trying to add a Manufactured Home with leading zeros (eg: 00123456), then the UI throws a validation error in TEST (must contain 6 digits).

**Current Behavior:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b73e984b-0f60-472b-b12b-eb30254f2a96)

**Expected Behavior:**
Leading Zeros should be accepted in the MHR Text field.

[2022-01-25 19:13] severinbeauvais commented on #10818
Yes, there is a 10-second timeout for waiting for the account info to become available (from the auth code). There may also be another short delay which fetching products.

[2022-01-25 19:13] kialj876 commented on #10818
and I didn't implement anything for PPR

[2022-01-25 19:14] PatrickAHeath commented on #9438
Watermark is appearing in PROD:

Search Output:
![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/b5304021-2349-40f5-9849-223d5ad331d6)

Verification Statement:
![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/6adecd84-893b-4601-a409-78b7d02d4b0d)

[2022-01-25 19:28] janisrogers commented on #8623
Melissa - This is not resolved. The design for this is still in grooming.

[2022-01-25 20:00] JohnamLane commented on #6151
Comment from @shabeeb-aot
"Looks like this issue is happening due to different domains. home page bcregistry.ca and other one is bcregistry.daxiom.ca"

[2022-01-25 20:03] severinbeauvais commented on #6151
The BCROS UI calls `await KeycloakService.initializeToken(null)` to sync the session. Before this call, there is no KC token in session storage. After this call, it is populated in session storage. So I am not sure if "different domain" is really an issue...?

[2022-01-25 20:13] mstanton1 opened #10829 "BC Mail PPR Cover Page"
BC mail has identified issues in printing the PPR Cover page. Testing failed due to PostScript settings of your Test PDFs and they noted the header bar is quite dark which can result in smudging on the page.

Request to

- [ ] modify the PostScript settings (looks like to PostScript Lanuage Level 2)
- [ ] adjust the header bar darkness (or possibly create an outlined box instead)?

[2022-01-25 20:17] gprimeau commented on #10768
Form changed and amended as per Myra's request

[https://app.zenhub.com/files/157936592/6a39d3d8-a6c2-44d7-97fe-6de1bc0dd0de/download](https://app.zenhub.com/files/157936592/6a39d3d8-a6c2-44d7-97fe-6de1bc0dd0de/download)

[2022-01-25 20:18] mstanton1 commented on #10829
@doug-lovett this is needed for us to finish the BC Mail work. Do you need Visual Design for these changes?

[2022-01-25 20:25] shabeeb-aot commented on #6151
Current account in stores in session. When user is changing account from https://test.bcregistry.ca/business/auth/home/decide-business domain it updated in current session storage.
![Screen Shot 2022-01-25 at 12 14 47 PM](https://user-images.githubusercontent.com/55506249/151052714-a6a2a05d-3478-4b0f-988e-52be6c6890bb.png)

when user move to home page, since domain changed it will call sync sessio

[2022-01-25 20:30] severinbeauvais commented on #6151
OK, I see.

So this code will time out waiting for Current Account because it is not set in the current domain:
https://github.com/bcgov/bcregistry/blob/157fdce8912e7e65ba6ae59f0dc879f62ab0cb62/pages/dashboard.vue#L91

What are the possible solutions?

[2022-01-25 20:35] severinbeauvais commented on #10795
It seems that BCROS UI is called anew to perform a signout, so I have no information about which page the user was previously on, so I cannot redirect the user to the PPR marketing page (logged out) if they were previously on the PPR marketing page (logged in).

@shabeeb-aot , do you have any idea how the "from" data could be attached to the signout flow?

[2022-01-25 20:38] doug-lovett commented on #10829
@thorwolpert is the version something the event listener can do when it merges the cover letter and the verification statement? Otherwise I think the report api has to set the PS version.

@mstanton1 Maybe ask visual design about the header?  The text is white so it should always be legible.

[2022-01-25 20:43] doug-lovett commented on #8185
Setup for 6 in prod as part of the db scripts this morning. Anything else to do?

[2022-01-25 20:50] severinbeauvais commented on #10795
I can implement this using session storage to save the logout URL.

[2022-01-25 20:51] shabeeb-aot commented on #6151
Easiest option will be using same domain  for both :)
Another solution is have to pass current account id in URL, while loading fetch and store in session.
There are other options like setting inside iframe and sync with current domain (Never tried , just read about it). Also there may be some  libraries

[2022-01-25 21:02] shabeeb-aot commented on #10795
If we can pass redirect URL to sign out page, that will be good. or can we try history.go(-1) if there are multiple redirects

[2022-01-25 21:03] mstanton1 commented on #10829
@tlebedovich can you update the header for the BC Mail output please?

[2022-01-25 21:06] severinbeauvais commented on #10795
When the user clicks Log Out from the SBC Header, there is a redirect to the BCROS signout route (eg, https://yfthig-dev.web.app/signout/. So the BCROS signout route has no previous information.

I don't like assuming anything about browser history / redirects. I prefer to store the data in session storage. I have this working already.

[2022-01-25 21:08] severinbeauvais commented on #6151
Faiz, assuming we won't get all apps in the same domain soon, what needs to be changed to pass the account id in the URL? Which URL? Could SbcSignin component provide account data (or another event) when ready?
https://github.com/bcgov/bcregistry/blob/157fdce8912e7e65ba6ae59f0dc879f62ab0cb62/pages/signin.vue#L2

cc: @thorwolpert

[2022-01-25 21:10] #10671 closed

[2022-01-25 21:10] #9438 closed

[2022-01-25 21:11] #10539 closed

[2022-01-25 21:11] tlebedovich commented on #10829
hi @mstanton1 - specifically which page(s) are you request the header bar darkness be adjusted? They have to meet contrast requirements for the screens so need to know the specifics.

- cover page blue line?
- table of contents top header?
- all top header bars on search results and registrations?

[2022-01-25 21:11] #10307 closed

[2022-01-25 21:11] #10305 closed

[2022-01-25 21:11] #10441 closed

[2022-01-25 21:11] #10666 closed

[2022-01-25 21:11] #10669 closed

[2022-01-25 21:11] #10667 closed

[2022-01-25 21:11] #10750 closed

[2022-01-25 21:11] #10248 closed

[2022-01-25 21:11] #10065 closed

[2022-01-25 21:11] #10064 closed

[2022-01-25 21:11] #10301 closed

[2022-01-25 21:11] #10300 closed

[2022-01-25 21:11] #10627 closed

[2022-01-25 21:11] #10694 closed

[2022-01-25 21:11] #10498 closed

[2022-01-25 21:11] #10063 closed

[2022-01-25 21:11] #10807 closed

[2022-01-25 21:13] mstanton1 commented on #10829
@tlebedovich it is the BC Mail PPR Cover Page which was created in 10205. If you need more details DM me and we can jump in a call.

[2022-01-25 21:18] doug-lovett commented on #10444
@thorwolpert anything left to do with this ticket?

[2022-01-25 22:02] fareenr commented on #10817
Created draft email with detailed screenshots and instructions on how to add additional account and switch between accounts.  Sent out for review.
https://docs.google.com/document/d/1aLC-KnQ9eONjVySlxa5l_r1sR1c9-sY-/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-01-25 22:20] SateeshFW commented on #2125
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/3f3d60f7-73f1-4920-966e-4735bd83cfcf)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/041b9f99-2dd1-45aa-b5e7-0a6ccea922f8)
![image.png](https://images.zenhubusercontent.com/5c58b4d0f76a815c1e0b93b4/7fee1d3f-42c5-4b41-a2ac-26b960ca30d9)

Action items from Sprint 11.6 continues

Action items from S

[2022-01-25 22:32] severinbeauvais commented on #10788
Error during logout:

![Clipboard - January 24, 2022 4_39 PM](https://user-images.githubusercontent.com/10002889/151070673-45f37af9-979b-469d-9352-db4b0578c5e9.png)

It's this line of code: https://github.com/bcgov/sbc-common-components/blob/61a3121da6af7ddd9806bf252c2e5556cb5b428f/vue/sbc-common-components/src/store/modules/account.ts#L70

The content of the response is the following -- not an ar

[2022-01-25 22:33] severinbeauvais commented on #10788
@shabeeb-aot @karthik-aot @JohnamLane Here is the logout error that I mentioned today. It might not be related to the multi-account multi-domain issue but FYI.

[2022-01-25 22:50] kialj876 commented on #10067
@mstanton1 could we have a separate ticket opened for the report display? The UI is now in PR and will go ahead of the report fix which is an api change and may end up needing api user change/release management

[2022-01-25 23:11] mstanton1 opened #10830 "Legacy - General Collateral Report Change"
Base Registration General Collateral is breaking the text into paragraphs (Base Registration Number 059047N)

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/1b7dd7f4-aaef-4452-98ac-c706c0ffb3b5)

-Search Result Report:
![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/d6edc4a6-8299-4f1d-a5dc-b168e68ac805)

*More screenshots in 10067.

[2022-01-25 23:13] mstanton1 commented on #10067
@kialj876 created Zenhub 10830

[2022-01-25 23:22] mstanton1 commented on #10805
Adding another scenario identified by a client today:

When amending a debtor (e.g. changing last name), currently the output lists the legacy title "Debtor Transfer" instead of the updated title "Debtor(s) Amended"

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/8e865470-1275-4c07-aaf5-1fedd21268b7)

[2022-01-25 23:25] mstanton1 opened #10831 "PROD Output listing 'Test Data' on page 2"
A client forwarded a lien search and noted the output lists TEST DATA in the bottom left. Please review to identify the cause of this. Note, in verification completed for the Seal, the first page did not include the wording TEST DATA.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/b93f2d15-0ca0-49e6-8fb9-ff0db75f39a6)

[2022-01-25 23:40] lmcclung opened #10832 "Name UI - Update wording on summary page"
We are getting so many clients contacting us regarding their NR’s because they have expired and they have not received the email reminder of the pending expiry.  I know this is being worked on but it’s causing so much extra work and clients are really abusive when we advise they have to submit a new name request.  Also, the new NRA does not indicate anywhere that once approved the NR must be consu

[2022-01-25 23:44] mstanton1 commented on #10831
Doug has confirmed this is a PPR API fix.

[2022-01-25 23:46] chdivyareddy commented on #10827
Verified in DEV with NIL Searches, 0 Exact Matches, and few large search results. Working as expected.

[2022-01-25 23:48] severinbeauvais opened #10833 "Registry UI: unit tests"
Carried over from #10697:

- [ ] set up Jest tests to use store - see jest.config.js - then re-enable dashboard test
- [ ] potentially, add many more unit tests

[2022-01-25 23:49] lmcclung commented on #10832
@tlebedovich @yuisotozaki @forgeuxGH5 could I get your thoughts on the wording for the "Note section"?

[2022-01-25 23:55] chdivyareddy commented on #10828
Verified in DEV! 256152N

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f897b2e1-e4d2-4823-93f2-04d5fbe54a53)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b3a7c473-bc85-45c2-937e-8e90fde0884f)

[2022-01-26 00:00] mstanton1 commented on #10781
Feedback received from multiple users.

[2022-01-26 00:01] severinbeauvais commented on #10832
Given the important note, should this be a different colour?

[2022-01-26 00:03] rkim13103 commented on #10529
@zac-broitman Here is the link for this email. Can you review the content of the email and let me know if additional content is required?

https://preview.uxpin.com/8f791d63e9f493720a74760bf4afb0c464fe4144#/pages/143962844

[2022-01-26 00:04] lmcclung commented on #10832
@severinbeauvais let's see what the UX folks recommend.

[2022-01-26 00:05] chdivyareddy commented on #10067
Verified in DEV on the UI.

Base Registration Number **059047N**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b0e75fef-88c7-411b-8a52-811f677aafc3)

Base Registration Number **3733047**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/1e60df04-85f0-4974-b1fb-acfcdaced52f)

[2022-01-26 00:23] jdyck-fw commented on #2118
![Screen Shot 2022-01-25 at 4.20.58 PM.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/e8640c46-f8c1-4ecb-b2ec-cc2b98cf5c44)

- [ ] Jason - Share overall Ops stats & create some Ops retro actions during Ops retro
- [ ] Jason - Update happy hour to be every 4th Thursday that isn't Backlog Refinement
- [ ] Linda - At PI planning - ensure we have clear focus on dependencies
- [ ] S

[2022-01-26 00:30] tlebedovich commented on #10832
@lmcclung @severinbeauvais - yes - seems like design might help here. did you want me to have a look tomorrow Linda?

[2022-01-26 01:15] lmcclung opened #10834 "TEST environment - Business Summary - Issues"
- [ ] CP0001832 - Disclaimer does not display

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/3d27430f-f85e-4975-b7f0-89927028ca7d)

- [x] Coop type - CP1002403 - why does it say "Cooperative"?  Cooperative isn't a type.  I think we've got Ordinary, Housing and Community Service

- [x] Business Number - BC0923880 (bcreg2029) why aren't we displaying the BN#?  We have it

[2022-01-26 01:33] lmcclung commented on #10755
https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/10826 created for last item

[2022-01-26 01:33] #10755 closed

[2022-01-26 16:08] lmcclung commented on #10477
@rarmitag Can you give me the corporation numbers for the 20 filings you mentioned above.  I want to see if we have Ops tickets for all of them.

[2022-01-26 16:10] PatrickAHeath commented on #8185
I'll reach out to the other BCOL accounts I have emails for and encourage them to let us know which account they're using for Crown Charges.

[2022-01-26 16:19] fareenr commented on #10821
Updated Account Administrators page under Modernization tab in OneNote notebook with description of change and screenshot of how Admins can switch between accounts.  Appears that the emails sent are added as a secondary page by the team leads, so it's good that the information is captured for all staff to refer back to.

[2022-01-26 16:20] #10663 closed

[2022-01-26 16:47] jmills-cgi opened #10835 "Entity: Sprint 11.8 Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2022-01-26 16:51] jdyck-fw commented on #10696
Keeping this in sprint 11.8 in hopes relationships team can unblock it earlier in the sprint.

[2022-01-26 16:52] lmcclung opened #10836 "11.8 Sprint Objectives"
As a user I want to open a draft filing and enter business contact info

As a DBA I want to map SP/GP Registration data from Oracle to Postgres so that we can import them properly.

[2022-01-26 16:53] Maribeth-Wilson commented on #10824
I will start a list and confirm details with @cwulff1

[2022-01-26 17:01] Maribeth-Wilson commented on #10710
It is recognized that this is an ongoing activity not only for PPR, but for a variety of client issues, moving this ticket to done

[2022-01-26 17:01] forgeuxGH5 commented on #10832
@tlebedovich Let's have a quick look today - we can definitely improve clients' awareness of the expiry even before the NR is approved and we'll look at the handling once it's approved too.

[2022-01-26 17:02] JohnamLane opened #10837 "PAD withdrawal email date is off by one"
e.g. from Teranet

Email arrived on Jan 25th, body says Jan 26th

![image.png](https://images.zenhubusercontent.com/5a7391bd4b5806bc2bc54a79/c53668d1-8d65-43df-a216-6bfc1f7bb478)

Also note amount in the header should have two trialling zeroes ".00"

[2022-01-26 17:04] lmcclung opened #10838 "Identify data field for SP/GP"
- [x] identify data fields in COLIN
- [x] send info to Richard
- [x] send files to Richard (corp party type, etc.)

[2022-01-26 17:05] Maribeth-Wilson commented on #10358
Emails was sent on Jan 24th

[2022-01-26 17:12] mstanton1 opened #10839 "Duplicate General Collateral in PROD"
**Describe the bug in current situation**
General collateral is being repeated at the end of a search in PROD.
Note: the first set listed format general collateral in proper section. The second set breaks general collateral into sections.

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Chance of Occurring (high/

[2022-01-26 17:13] JohnamLane commented on #10514
Closing.

[2022-01-26 17:13] #10514 closed

[2022-01-26 17:13] mstanton1 commented on #10839
General collateral legacy table was moved over but isn't being used. Sounds like this is the issue - and we can truncate that data.

[2022-01-26 17:25] jdyck-fw commented on #10818
@mstanton1 @jinghualicgi - The rest of this is with the PPR team to finish off.

[2022-01-26 17:31] Maribeth-Wilson commented on #10334
Session recording and additional resources emailed to session participants on Jan 20th after session by @magszymanski. Closing this ticket.

[2022-01-26 17:43] thorwolpert commented on #10837
Looks like it is showing the UTC date?

[2022-01-26 17:49] severinbeauvais commented on #10795
I found a problem (in Dev) with the login page image not being found (404).

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/8fc12bc1-7c38-4894-9ff4-afbf7b11cd4d)

[2022-01-26 17:52] zac-broitman opened #10840 "Knowledge Handover from Sumesh"
Dedicated time for the developers to ask Sumesh questions around anything.
- SRE team
- Relationships

Ideally documentation is done and reviewed before this handover.

This session, and any other relevant sessions, should be recorded.

[2022-01-26 18:09] pwei1018 commented on #6151
I think the easy way to fix this issue that we can remove the switch account options in the header menu. If the user want to using other account they can use breadcrumb go back to BCROS dashboard and switch it from there. If the user use bookmark or url access the app directly, we can redirect it back to BCROS dashboard if the session account doesn't have the product subscribed.

[2022-01-26 18:19] zac-broitman opened #10841 "Relationships Sprint Goals for 11.8"
Relationships Sprint Goals for 11.8

1. As BC Registries Staff I want to be able to see clients Products and Services - #6884
2. As an Admin Staff user, I want to record the payments made in US $ so that the staff can process the payments made by clients - #10507
3. FAS - Additional Role Permissions - #10575

[2022-01-26 18:25] severinbeauvais commented on #6151
@pwei1018 I think that doesn't work correctly... Try this:

1. go to https://yfthig-dev.web.app/
2. login to BCSC "bcreg0020"
3. in header, change to another account (eg, "MUltiple Business 1")
4. observe that you have been redirected to https://dev.bcregistry.ca/business/auth/home/decide-business (you should stay on the BCROS page)
5. observe that the account has not been changed (you are still o

[2022-01-26 18:49] JohnamLane commented on #10837
This might be evidence of more date issues. Filter was set up to show Jan 25th only, but shows Jan 24th after selection. Transaction list shows stuff from the 25th which is good though.
![image](https://user-images.githubusercontent.com/35740635/151227317-380f15c5-9245-4569-9797-f7dc64023107.png)

[2022-01-26 19:01] Kaineatthelab opened #10842 "Known issue banner that tells users to go see them on CMS site"

[2022-01-26 19:06] sumesh-aot commented on #10744
The notebook didn't update the cfs_accounts status, update the below as well to make sure the payment_method doesn't get flipped back to PAD.
[code]

[2022-01-26 19:23] pwei1018 commented on #10842
![image](https://user-images.githubusercontent.com/44277752/151232200-59a821c4-190f-4595-ad49-64d4e98ed36b.png)

[2022-01-26 19:24] pwei1018 commented on #10842
Which style do you want? info (blue) or warning (orange)

[2022-01-26 19:29] lmcclung opened #10843 "Verify: Expiring Soon & Expired emailer jobs are running and are working appropriately"
Staff have reported that

1) users are not getting their expiring soon emails
2) users are getting 'Expired' emails for NR's that expired qite some time ago

Please confirm jobs are running and only run for the appropriate NRs.

[2022-01-26 19:44] lmcclung opened #10844 "BN Wrapper - Identify scope and tasks"
identify scope of work required to build BN Wrapper so we can send BN messaging through the existing BN Hub without sending information to COLIN first.

- Thor has big picture
- John Lane could be the BA resource.  Linda to chat with him to let him know.

[2022-01-26 19:46] severinbeauvais commented on #10633
@tlebedovich

5. What if an IDIR user logs out from the Business Registry Staff Dashboard?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/3e876afd-83e9-4aba-9a50-2c2ae05e212e)

6. What is a regular user logs out from the My Business Reistry page?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/7e3155bd-8154-4a23-9cda-feac9ae16d68)

[2022-01-26 19:54] severinbeauvais commented on #10795
@forgeuxGH5 @tlebedovich This ticket has been implemented and deployed to Dev. Please UXA. If OK, please poke Assets team (Doug) to deploy to Test and maybe Prod.

[2022-01-26 19:56] severinbeauvais commented on #10795
Next time there's a ticket to update Registry UI (BCROS), this should be implemented:
- [ ] when already logged out, going to dashboard page (eg, from bookmark) should redirect you to the login page

[2022-01-26 19:56] tlebedovich commented on #10633
@severinbeauvais These are both considered as being in the "app" environment, so if a user logs out of either we will take users to the Generic Log In screen.

[2022-01-26 19:59] rarmitag commented on #10477
filing_id,  Identifier

55979 , BC1275548
56647 , BC1300911
56818 , CP0002058
57093 , BC1283423
57113 , BC1238568
57182 , CP0001687
57262 , BC1289777
57477 , BC1310399
57578 , BC1306186
57579 , BC1310073
57628 , CP0001463
57539 , BC0574790
57669 , CP0002315
57847 , CP0001591
57874 , CP0000783
57888 , CP0001008
57948 , BC0511457
57614 , BC1135604
58058 , CP0000487
58113 , BC1324889
58141 , CP000115

[2022-01-26 20:16] janisrogers opened #10845 "Unable to bring back search results for specific business name searches Leap Year Issue"
We are having search issues with certain business name searches
Grifco invest works, but:
GRIFCO INVESTMENTS LTD BC LTD
GRIFCO INVESTMENTS LTD
We get the error unable to retrieve search results

Divya tried in test, and it got the same error and the error message (in the console) was {"errorMessage": "API backend third party service error.", "rootCause": "detail:ValueError('day is out of range for

[2022-01-26 20:33] lmcclung commented on #9514
@jinghualicgi yes, please close.

[2022-01-26 20:43] lmcclung opened #10846 "Data Mapping of "Correct Put Back On" to Postgres (FRPBO)"

[2022-01-26 20:43] severinbeauvais commented on #10797
This is currently working as expected in Dev. Please re-test and close if not needed.

[2022-01-26 20:47] lmcclung opened #10847 "Data map - Corrections"
FRCCH - Corrected Diss/Change of Partnership or Prop Reg
FRCRG - Corrected Stmt of Reg of Partnership or Prop
CORSP - Corrected Change of Prop Reg
CORGP - Corrected Change of Partnership Reg

[2022-01-26 20:47] lmcclung opened #10848 "Amend - data mapping"
FRACH - Amended Diss/Change of Partnership or Prop Reg
FRARG - Amended Stmt of Reg of Partnership or Prop
AMDSP - Amended Change of Prop Reg
AMDGP - Amended Change of Partnership Reg

[2022-01-26 20:57] sumesh-aot opened #10849 "Multiple PENDING affidavits for same user"
**Describe the bug in current situation**
https://github.com/bcgov-registries/ops-support/issues/340
In production a record has been found with 2 PENDING affidavits with fraction of seconds difference. Ideally there should be only one pending affidavit at a time. Could be a double click or something.

[code]

@Ashna-FreshWorks Can you please attempt to reproduce this in Test. It appears to be rela

[2022-01-26 21:43] Kaineatthelab opened #10850 "Search Leap Year error"
Given I search a registration registered on a leap year
When I search
Then I should not get an error

{"errorMessage": "API backend third party service error.", "rootCause": "detail:ValueError('day is out of range for month'),message:013: error processing request.

Example search parameters producing error:
Grifco Investments
SNB Investments Ltd
ARC PROTECTION CORP.

[2022-01-26 21:47] sumesh-aot opened #10851 "Fix None key in BCOL refund email"
**Describe the bug in current situation**
Fix None key in BCOL refund email.

[2022-01-26 21:55] chdivyareddy commented on #10828
Verified in TEST! 256139N

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/1d4f9fcf-dd95-42e5-9c91-1a5671807054)

[2022-01-26 22:08] kialj876 commented on #10830
should get fixed by https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/10839

[2022-01-26 22:25] chdivyareddy commented on #10067
Registration Number: 3028132

- [ ] Base Registration GC is not completely displaying the info what is in the PDF. In the example below "PAPER, DOCUMENTS OF TITLE, INSTRUMENTS, INTANGIBLES, MONEY AND SECURITIES." is not displayed on the UI but displayed in PDF.

**UI:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/3d87e9be-a700-4295-a757-f46089657834)

**PDF:**
![imag

[2022-01-26 22:28] severinbeauvais commented on #10811
Login expected behaviour:
1. login as IDIR with staff role -> go to Business Registry Staff Dashboard
2. login as IDIR without staff tole -> go to SBC Staff Registries Dashboard
3. login as BCSC/BCeID -> go to BC Registries Dashboard

[2022-01-26 22:30] janisrogers opened #10852 "Liens for UnPaid Wages was converted to Maintenance Lien"
Sharon has posted an example of a Lien for unpaid wages from the old system that is showing in the new system as a Maintenance Lien. Was this just a problem for this one lien, or were they all converted like this?

Example is Base Reg # 900021M

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/9786d1d5-62ee-445c-917a-38bbf7d54294)

[2022-01-26 22:47] severinbeauvais opened #10853 "Filings / Create / Edit UI: logout/login redirects"
### Description

See Story for all use cases.

Design ticket: #10656

#### Logout Behaviours

- [x] from Filings UI, redirect to BC Registries Account Login page
- [x] from Create UI, redirect to BC Registries Account Login page
- [x] from Edit UI, redirect to BC Registries Account Login page

#### Bookmark Behaviours

- [x] from Filings UI, redirect to generic login page, then redirect back to Fi

[2022-01-26 22:47] tlebedovich commented on #10842
design wise, if we have time to update this later, can we use the same bc gold banner FCBA19 with black text 212529, with 16px font size, similar to our previous test error banner that meets AA for contrast:

![Screen Shot 2022-01-26 at 12 17 14 PM](https://user-images.githubusercontent.com/2207887/151259975-8d5b2eec-ff3e-44cc-80fd-65c839ef6722.png)

[2022-01-26 22:49] chdivyareddy commented on #10772
Verified!

Kirk J Kirkerson
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/778cce07-144a-4fd5-ba1b-089b45ac41fe)

Tam J Tammerson
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2eaca66b-2557-4685-96a2-af93c79c1d85)

[2022-01-26 22:49] tlebedovich commented on #10340
@mstanton1 - this ticket is ready for your review and needs a dev ticket attached to it.

[2022-01-26 22:52] tlebedovich opened #10854 "UI Design - Expiry date messaging and handling in Name Request"
This is a design ticket to work on options for making it clear to users that their NR will expire in 56 days.

### **1. Pending Staff Review Design Comp:**
https://projects.invisionapp.com/share/7V12AZBAKMY3#/screens/463495833
- Update Message in gray box, with icon

New Text:
To check on the status of this Name Request in the future, enter the request number **NR XXXXXX** plus the Applicant Phone

[2022-01-26 22:53] PatrickAHeath commented on #8185
@doug-lovett Ministry of Labour - BCRS Account 7480 & BCOL Account # 598700.

[2022-01-26 22:53] tlebedovich commented on #10832
@lmcclung @severinbeauvais I met with scott and i'm working on some options. i created a new design ticket and linked it to this ticket - #10832

[2022-01-26 23:00] ozamani9 commented on #10843
@lmcclung I checked our NR Day Job in prod, and it goes ahead and processes the Before Expiry NRs and Expired NRs for the day.  it has been run every day around 8ish.   I did the investigation to make sure flags were set and expiration date was correct.  except for one record, EVERYTHING LOOKED GOOD.  so the job runs.

I included my investigation in a word document.

@lmcclung If you reach out to

[2022-01-26 23:01] chdivyareddy commented on #10067
This is not an issue in PROD, moving to Done!

[2022-01-26 23:09] fareenr commented on #10823
Internal email for all helpdesks drafted and saved here:
https://docs.google.com/document/d/16-wK0Y97D3yuXFRebkdC_oNBNJn17P84/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

Yet to be confirmed when this will be released, depending on when bug can be fixed for users switching between accounts between business registry and PPR.

[2022-01-26 23:10] ozamani9 commented on #10843
![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/7cd8baa2-0139-4691-be14-96da50ab597c)

The NR with the expiration date in April probably renewed their NR after they received expiry email notification.  Is there a way to confirm that through Names Examination interface, like a history of this NR.   The database does not keep a historical log of each NR... so i cant confir

[2022-01-26 23:13] ozamani9 commented on #10832
@tlebedovich let me know when final design is done, and i can pick this up from the SRE team tomorrow or Friday.

[2022-01-26 23:14] doug-lovett commented on #8185
@PatrickAHeath added to prod:
INSERT INTO account_bcol_ids(id, account_id, bconline_account, crown_charge_ind)
  VALUES (nextval('account_bcol_id_seq'), '7480', 598700, 'Y');

[2022-01-26 23:15] lmcclung commented on #10834
Coop Type works now
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/766be54a-bf2d-4760-9336-1dc457b97a2a)

BN# works now
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/d12fddc3-d7e4-4317-83df-f5e0092545bf)

[2022-01-26 23:32] chdivyareddy commented on #10781
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ce11e390-f0bb-4714-a598-57a7c472e613)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/43be5beb-9b4d-4730-8778-66e4ac1ef29c)

[2022-01-26 23:39] chdivyareddy commented on #10808
Verified!

Registration Number: 256140N
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/31f9fed5-b22a-4d6f-9dff-d8d4bc01fdde)

[2022-01-26 23:41] sienna-blumstengel opened #10855 "Testing - Business Summary"
### Description

This ticket is to test the new business summary feature for Benefit Companies and Cooperative Associations.

Linda's [Spreadsheet ](https://docs.google.com/spreadsheets/d/1pXjM8z7maLdBN9ZDEQINlNLngv1BNuFO/edit?usp=sharing&ouid=113177946105526389848&rtpof=true&sd=true)contains test entities, all the possible scenarios, and what is expected. Review the spreadsheet and make sure all

[2022-01-27 00:47] lmcclung commented on #10843
@ozamani9 can you look at NR 8943300 - RAINCITY MUSHROOMS LTD.  User emailed Jan 14th to say they got the Expring soon reminder on Jan 13th that stated that the NR expired dec 23, 2021.
Was Jan 13th when we pushed our emailer fix into production?  And that's what caused the out-of-date emails as it was catching up from the last time it ran?

[2022-01-27 00:48] severinbeauvais opened #10856 "Auth Web: on logout, redirect to login page"
See Story for use cases.

[2022-01-27 00:58] lmcclung commented on #10843
@ozamani9  here's another one NR 5801409 - we sent expiring soon around Jan 12th; day after it expired.
Maybe we need to change the job query?  Does it go back to a given date (ie count back 56-14 days) and only send emails for those NRs that are approved/conditional approved and not consumed?  Trying to find a way to avoid sending Expiring soon emails for NRs that are already consumed.  Thoughts?

[2022-01-27 01:08] lmcclung commented on #10843
@ozamani9 regarding NR 1134517 - looks like the NR was originally supposed to expire on Feb 8, 2022.  The user did a renew on the existing NR on Jan 26th at 8:21am so the new expiry date is April 6, 2022.  They probably renewed it right after they say the Expiring Soon email.

From NamesP
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/3b0aea29-3765-4c41-ba86-cfe7d5d2393

[2022-01-27 01:15] lmcclung commented on #10843
@ozamani9 do we now have an alert in place when the emailer stops working?

[2022-01-27 01:24] severinbeauvais commented on #10812
This ticket will be replaced by #10856.

[2022-01-27 01:24] #10812 closed

[2022-01-27 01:28] lmcclung opened #10857 "UX Research - SP/GP registrations and maintenance"
conduct user research end Feb or early March
about 10 participants
Carol wants us to include Small Business BC as one of the participants
Might also want a chamber of commerce
Maybe see if Bruce (BCOL) could participate as he used to be the Onestop helpdesk?
plus newly registered users
maybe someone completely new/random
Staff (David Lessard as he hasn't seen the designs yet)

!! Reach out to Corp

[2022-01-27 01:32] severinbeauvais commented on #10656
@tlebedovich @forgeuxGH5 Can you please solidify a design here? This will inform the use cases in #10756 and any implementation tickets.

If you choose a specific business modal (with "not authorized" or "invalid credentials"), please explain what any buttons should do.

The simpler the better!

[2022-01-27 01:46] chdivyareddy commented on #10831
Fix verified in PROD.

[2022-01-27 03:22] #10477 closed

[2022-01-27 03:23] lmcclung commented on #10477
57113 , 'BC1238568' - the original alteration looks wrong

[2022-01-27 15:40] jordiwes commented on #10563
@PatrickAHeath - is this 25 years from today, or 25 years from when the registration was opened?

[2022-01-27 15:46] fareenr commented on #10819
Completed change impact assessment and Trish reviewed.  Created tasks based on comms needed.
 Change assessment for multiple accounts for Admins is saved in this folder:
https://drive.google.com/drive/folders/1qey97rxOaHJwjhuBEJNRqJayVi-jYeQn?usp=sharing

[2022-01-27 15:55] jinghualicgi commented on #10828
@jordiwes Steph, I add 0.5 as est. please change if otherwise, thanks

[2022-01-27 16:25] jinghualicgi commented on #10804
@trishreimer Trish, do we need an epic for PPR OCM activities after Jan25? cc: @magszymanski

[2022-01-27 16:33] #10831 closed

[2022-01-27 16:39] #10067 closed

[2022-01-27 16:42] chdivyareddy commented on #10563
@jordiwes , During bug triage all agreed that we are not restricting to 25 years, but the Registration length for the Discharge is displayed as "Not Valid", so we need to show the actual length in discharge.

@PatrickAHeath Please correct me if I am wrong.

[2022-01-27 16:50] kialj876 commented on #10570
Does this mean we have to change all the dates? Like the tombstone, and the registry table/date picker etc.? Currently most of it is based on the users timezone because it's not displayed anywhere and that might be pretty ugly inside the reg table + confusing in the date picker (there's nowhere to see the timezone there)

[2022-01-27 17:13] jdyck-fw commented on #10599
This will be released by Entities in the 11.7 release, tracked here - https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/10640

[2022-01-27 17:15] mstanton1 opened #10858 "Sync PROD to TEST"
Get PROD definitions synced to TEST

[2022-01-27 17:16] mstanton1 opened #10859 "Sync PROD to DEV"
Get prod definitions synced to DEV

[2022-01-27 17:17] mstanton1 opened #10860 "Update Sandbox"
Update Sandbox (Sunday outage)

- Apply changes that were applied go-live morning and update API (data won't be in sync but definition will be)

[2022-01-27 17:22] pwei1018 commented on #8890
@thorwolpert is this still an issue?

[2022-01-27 17:25] fareenr commented on #10622
v1.1 of User Guide published to website on Jan 24 2022

[2022-01-27 17:27] pwei1018 commented on #8313
@lmcclung Do we still need this one?

[2022-01-27 17:28] mstanton1 opened #10861 "General Collateral Ordering"
General collateral is not currently listed in order.

Update general collateral to be ordered from most recent to oldest.

_Note Legacy collateral table is ordered on collateral ID and doesn't encounter this issue_
Potential fix - delete data from general collateral table and then reload from general collateral legacy table ordering on collateral ID.

[2022-01-27 17:30] pwei1018 commented on #9777
@Kaineatthelab @thorwolpert Can we mark this epic done?

[2022-01-27 17:31] chdivyareddy commented on #10839
@janisrogers Verified the fix in PROD.

[2022-01-27 17:33] magszymanski opened #10862 "Update BC Registry User Guide - flowchart is broken"
need to recreate the flowchart in Docs as conversion from Word breaks it.

[2022-01-27 17:55] magszymanski opened #10863 "Add link to client-facing issues page on Resource page, PPR page, and mod site"
https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization/personal-property-registry-transition

[2022-01-27 18:05] sumesh-aot opened #10864 "Create daily report for reconciliation errors"
Found some reconciliation errors on CAS settlement file, where the PAD invoices are created but not settled yet. Best way to notify this would be creating a daily report and alert ops team; if anything shows up then communicate with CAS team. Below query can be used to find out any invoice number which was created 2 day earlier but not settled yet.

[code]

[2022-01-27 18:05] sumesh-aot commented on #10864
Before communicating with CAS, please check minio or sftp to see if the file has come and whether it's an issue with our reconciliation code.

[2022-01-27 18:09] chdivyareddy commented on #10756
@severinbeauvais Sounds good:)

[2022-01-27 18:10] pwei1018 opened #10865 "Domain name for multiple applications"
bcregistry.gov.bc.ca for all of our applications.

[2022-01-27 18:27] #9517 closed

[2022-01-27 18:27] #4465 closed

[2022-01-27 18:27] #10808 closed

[2022-01-27 18:40] jinghualicgi commented on #9361
@pwei1018 Patrick, if you can take a look when you have time, thanks

[2022-01-27 19:05] janisrogers commented on #10845
Is this one also affecting KORE INTERACTIVE SYSTEMS INC.

[2022-01-27 19:08] severinbeauvais opened #10866 "Registry UI: misc high-priority fixes"
### Description

- [x] Initialize LaunchDarkly library so Sbc Header "What's New" works according to FF.
- [x] Add support for account id changes (per #10880).
- [x] When already logged out, going to dashboard page (eg, from bookmark) should redirect you to the login page.

[2022-01-27 19:13] severinbeauvais commented on #10853
@forgeuxGH5 Re: invalid login credentials

Is it OK that it redirects to Business Registry marketing page on exit, or would it be better to go to My Business Registry page?

[2022-01-27 19:16] tlebedovich commented on #10854
@lmcclung - Reviewed with Scott already and would like to review with you and then we can had it over to Dev.

[2022-01-27 19:17] sumesh-aot commented on #10864
FYI @pwei1018 @jyoti3286 @saravanpa-aot

We can get tips from @thorwolpert as he did similar thing for NR payment reconciliation and publishes the result to ops RC channel.

[2022-01-27 19:24] sumesh-aot opened #10867 "Transactions report throwing error in PROD for heavy load"
There were quite few sentry errors in PROD where the Transactions report was throwing error. It could be due to the large number of transactions.

E.g; https://sentry.io/organizations/registries/issues/2967522445/?environment=production&project=1762954&referrer=alert_email

I tried generating a report in TEST with more than 5000 transactions and it worked fine. One thing I noticed is Export CSV bu

[2022-01-27 19:28] mstanton1 opened #10868 "Update formatting of address for BC Mail Address outputs"
In order to enable Canada Post to read addresses quickly BC Mail+ has requested the following changes to our address on output cover pages.

1) 2 spaces between the Province and Postal Code
2) 1 space between the first three and last three characters of the Postal Code

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/9290ac84-adc6-4356-9b79-02f01fac30ba)

[2022-01-27 19:44] forgeuxGH5 commented on #10853
Let me check with Relationships to see how they handle this - I'd prefer to have a common experience if we can

[2022-01-27 19:50] PatrickAHeath opened #10869 "PPR Registration - Duplicate registrations are being created upon registering"
**Describe the bug in current situation**
Clients complete a registration but two registrations are created with consecutive numbers and duplicate information.

Examples:
January 26:
496921N and 496922N

January 27:
501977N registered at 11:15:36 and the 501978N registered at 11:15:39

May be related to OPS ticket 324

**Link bug to the User Story**

**Impact of this bug**
Duplicate registrations

[2022-01-27 19:52] mstanton1 commented on #7049
@janisrogers I believe you'd worked a on document which outlined the payment errors from Relationships? Can you provide that and then we can look and determine what else is needed / created a dependency ticket.

cc @chdivyareddy

[2022-01-27 19:53] #10768 closed

[2022-01-27 19:54] kialj876 commented on #10850
duplicate of #bcgov/entity/10845

[2022-01-27 19:54] chdivyareddy commented on #10223
@jordiwes , The Registration Types TA, TF, TG, TM, TL are not Crown Charges, so there shouldn't be a restriction on the secured parties. Can you please take a look at these registrations?

**Current Behavior:** Security Agreement Transition TA (3023789)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/e6ef7135-6709-4b3e-a424-1d28a131510e)

@PatrickAHeath Can you please t

[2022-01-27 20:03] mstanton1 opened #10870 "Remove Form Number - Form 9 PPR - Due February 10"
Policy has circled back on the Form 9 for PPR currently listed under "Forms and Fees".

The form was numbered as Form 9 which made sense sequentially. However, under PPSR Form 9 is the DEMAND FOR DISCHARGE UNDER THE FORESTRY SERVICE PROVIDERS PROTECTION ACT and Form 10 is the PROOF OF DELIVERY OF DEMAND UNDER THE FORESTRY SERVICE PROVIDERS PROTECTION ACT. The recommendation from policy is to remov

[2022-01-27 20:08] severinbeauvais commented on #6151
Please let all teams know if this fix has any impact in their apps.

[2022-01-27 20:11] severinbeauvais commented on #10856
Logout behaviours flow chart:

![Clipboard - January 27, 2022 11_29 AM.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/27530c19-8cb2-4a36-9b15-70f4859f121d)

https://app.flowmapp.com/share/82e75817823d3e4c068760e0dd14e7b5/userflow/176506/

[2022-01-27 20:46] severinbeauvais commented on #10853
@forgeuxGH5 Also please advise if we can stay with the current behaviour for now, which would allow this ticket to be implemented ASAP. We would use a follow-on ticket for changes.

[2022-01-27 20:56] forgeuxGH5 opened #10871 "UI DESIGN - Handling for BCOL unavailable (out of hours of operation)"
BCOL online payments are only available for certain hours (TBD). Users should be notified of hours of availability.

[2022-01-27 20:56] forgeuxGH5 opened #10872 "UI DESIGN - Handling for BCOL unavailable (out of hours of operation)"
BCOL online payments are only available for certain hours (TBD). Users should be notified of hours of availability.

[2022-01-27 21:04] severinbeauvais commented on #10811
This ticket will be implemented by #10856.

[2022-01-27 21:04] #10811 closed

[2022-01-27 21:04] severinbeauvais commented on #10811
This ticket will be implemented by #10856.

[2022-01-27 21:10] janisrogers commented on #10741
@Kaineatthelab @mstanton1 I think this is becoming more urgent. We have had a few calls about this already.

[2022-01-27 21:11] Kaineatthelab commented on #10872
My assumption is this payment will continue for 6 ish months so probably needs to cache ideally but how much work is that?

[2022-01-27 21:12] Kaineatthelab commented on #10741
Should we bring it into the sprint? put it as a P1 for after the others go in?

[2022-01-27 21:15] PatrickAHeath commented on #10563
@chdivyareddy There should be no restriction on how long the cumulative registration life is.  Max number of years on the registration or renewal is 25 but the total of the registration and all renewals can go on and on.

What we're trying to fix is the display of the expiration date, not to apply a restriction on how many years a registration can go on for.

[2022-01-27 21:36] jdyck-fw commented on #10788
@SateeshFW @jyoti3286  - Ensuring you have visibility on this one, as entities isn't doing anything further on it from here.

[2022-01-27 21:40] jdyck-fw commented on #10774
@jinghualicgi - for consideration for sprint 12.1

[2022-01-27 21:43] jdyck-fw commented on #6262
Still finalizing

[2022-01-27 21:44] jdyck-fw commented on #9262
Closing until/unless we hear this is still an issue.

[2022-01-27 21:44] #9262 closed

[2022-01-27 21:46] jdyck-fw commented on #10684
@rarya-freshworks @SateeshFW - Perhaps you could verify this and take action as required please

[2022-01-27 21:48] jdyck-fw commented on #10799
This will be fixed by #10856

[2022-01-27 21:48] #10799 closed

[2022-01-27 21:56] argush3 opened #10873 "Alteration filing fails validation"

[2022-01-27 21:58] jdyck-fw commented on #10833
@jinghualicgi  for discussion with your team (estimation / prioritization)

[2022-01-27 22:11] lmcclung opened #10874 "VERIFY: Business Summary will not download for "Unknown Reason" historical entities in PROD"
If an entity is historical in PROD and has "Unknown Reason" in the header, the business summary won't open.
Same issue as #10769.

We are going to investigate #10769 first, then investigate this one. It may be fixed by the time we review this ticket.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/191078c2-e6fb-4f5b-b387-ab06e744f6c7)

[2022-01-27 22:12] kialj876 opened #10875 "registering party pre-populated with original instead of account"
When doing an amendment/discharge/renewal the 'registering party for this amendment' prepopulates with the registering party of the original financing statement.

Change it to populate with the account information.

[2022-01-27 22:18] lmcclung opened #10876 "Update Business Summary logic to remove CP liquidation"
### Updated Requirements

- [x] This coop should show as Historical - Voluntary Liquidation and date at the top
- [x] Voluntary liquidation and filing date/time in the dissolutions/restorations section
- [x] Custodian information should not appear in the business summary as all the liquidations done so far are on paper only.

### Please Ignore the following

(see comment re: inconsistent business

[2022-01-27 22:20] forgeuxGH5 commented on #10853
current behaviour is OK for this ticket - I can create a ticket to design a new way

[2022-01-27 22:25] #10549 closed

[2022-01-27 22:25] #10546 closed

[2022-01-27 22:42] forgeuxGH5 opened #10877 "UI DESIGN - Design Search Result UI and Table of Contents for PPR Search Result Report"
Users are confused about the TOC in the Search Result Report. The order of the table needs to be obvious. Consider the design of the Search Result table in the UI.

## Concepts
https://1drv.ms/x/s!AlejmOwhCCvlgcAM_yiCSpnXtnNi_Q?e=JDqeVB

## Wireframes

**Search Result Report (PDF)**
https://preview.uxpin.com/069d9a024c07c51c910325ba386492611a1c529f#/pages/147546961

**Search Result (UI)**
https://

[2022-01-27 22:50] lmcclung commented on #10874
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/a8105015-acca-493f-bc96-72ec93e5e222)

[2022-01-27 23:00] #10850 closed

[2022-01-27 23:08] sienna-blumstengel commented on #10873
**SOLUTION**
- [ ] Update schema to ensure that the phone extension accepts null **and** string

[2022-01-27 23:09] jdyck-fw commented on #10873
Whomever takes this one, please do the due diligence to ensure that we aren't doing something that we shouldn't by doing the simple path here and fixing it in the backend.

[2022-01-27 23:09] chdivyareddy commented on #10875
Verified in DEV!
Legacy Registration: 4310588

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2f00789b-c229-4626-b30e-c1d2079c5767)

**Amendment:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c9c3a28a-f283-46be-9425-8098f14a3a8b)
**Renewal:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/d2ae5507-acd2-42cc-bfaa

[2022-01-27 23:22] sienna-blumstengel commented on #10826
@yuisotozaki @tlebedovich Please help with wording!

[2022-01-27 23:25] jdyck-fw commented on #10826
Placing this into the backlog, please update to bring it into the sprint if you see fit. @lmcclung

[2022-01-27 23:26] sienna-blumstengel commented on #8300
More work needed:
- [ ] Need to update Legal API to look at the version business to pull the legal type

[2022-01-27 23:28] jdyck-fw commented on #8300
Placing this into the backlog, please update to bring it into the sprint if you see fit. @lmcclung

[2022-01-27 23:35] chdivyareddy commented on #10809
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2d93399d-210d-4abb-9f67-504a731c6ac4)

[2022-01-27 23:36] sienna-blumstengel commented on #10019
In today's grooming, the team determined that:
* This is a ticket that should be handled by the SRE Ops team
* There is not enough information to complete this work.
  * We have all the records of people, but we have no way of knowing who should have what role.
  * We may need to reach out to staff to help us collect this information from clients

I am going to leave this ticket as-is, but make a

[2022-01-27 23:41] forgeuxGH5 opened #10878 "BUG - Step completion isn’t recognized and the Registration cannot be completed when a Debtor is added before a Secured Party"
**Describe the bug in current situation**
The Step completion isn’t recognized when the user enters the Debtor first and then adds the Secured Party via the selection list or the Include the Registering Party as a Secure Party checkbox. If you try and Register and Pay, the error state is triggered but nothing is wrong.

**Impact of this bug**
Users will be confused and may not know how to complete

[2022-01-27 23:43] chdivyareddy commented on #10563
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/08ffaa2c-8990-4a83-abd8-0a4e56324d6e)

[2022-01-27 23:50] lekshmimallika-aot commented on #10769
This happens because state_filing_id is null for this business in the db. It should be updated with the filing id of the voluntary dissolution filing. This happens in the filer normally. May be these were done prior to introducing state filing id

[2022-01-28 00:14] severinbeauvais commented on #10856
@forgeuxGH5 See description for a couple of unclear scenarios.

[2022-01-28 00:17] severinbeauvais commented on #10799
It looks like this is fixed already.

[2022-01-28 00:23] lmcclung commented on #10769
@lekshmimallika-aot what query should be used to pull these entities that have a voluntary dissolution and have not been restored and the state_filing_id is null?
Can we try it in Dev and Test before we give to SRE team to push to PROD?

Where would we get the data to populate the state_filing_id field? Is it unique to each filing?

We need to do this on Friday if possible.

[2022-01-28 00:38] severinbeauvais commented on #10756
I have finished this Story (and moved it to Epic in Progress) and created linked tickets for the work, which can now be prioritized.

[2022-01-28 00:40] jinghualicgi commented on #10861
@jordiwes Bob is working on this

[2022-01-28 00:57] forgeuxGH5 commented on #10856
@severinbeauvais I created a design ticket to design the invalid credentials use cases all at once, do you want to take those ones out of this ticket?

[2022-01-28 00:58] tlebedovich commented on #10832
@ozamani9 - new design ticket is attached with design comps and updated text. just confirming this is good to go - will ping you friday am

[2022-01-28 00:58] forgeuxGH5 opened #10879 "UI DESIGN - Define login behaviours for bookmark or link access to Registries application to pages for which the user is not authorized"
Define what should happen (flow and any necessary error dialogs) when a user attempts to access a Registry application page for which they do not have the proper authorization through a bookmark or other direct page link.

Some use cases
Already logged in and select a link or bookmark:
•	[ ] from My Business Registry, after login, redirect to My Business Registry
•	[ ] from My Business Registry, w

[2022-01-28 01:19] lekshmimallika-aot commented on #10769
Probably this @thorwolpert ?

UPDATE
    businesses
SET
    state_filing_id = sub.filing_id

FROM
    (select f.id as filing_id, b.id as business_id from businesses b, filings f where
 	 f.filing_type='dissolution' and f.business_id = b.id and b.dissolution_date is not null and
 	 b.state_filing_id is null) as sub
WHERE
    id = sub.business_id;

[2022-01-28 01:45] shabeeb-aot opened #10880 "Update URLs with account id"
### Description
As a part of #6151 ticket updated common component, can accept accountid as a part of URL and set as current account in session.
in all page where user navigate between application add ?accountid=number

1.breadcrumbs
2. Landing page links to application
3. dashbord

###  Expected Behavoir - Acceptance Criteria

* Scenario 1: xxxxxx (happy path)
* GIVEN ... (you or your condition)

[2022-01-28 01:47] shabeeb-aot opened #10881 "Update common component version"
### Description
Update common component version in projects for account switch session bug
https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/6151

###  Expected Behavoir - Acceptance Criteria

* Scenario 1: xxxxxx (happy path)
* GIVEN ... (you or your condition)
* WHEN ... (what you do)
* THEN ... (what you see)

### Deadline

### Impact if dea

[2022-01-28 02:09] chdivyareddy commented on #10861
Verified the ordering in TEST with few GCs. Reg No: 3067266, 3054748, 3081396, 3055141.

[2022-01-28 02:19] severinbeauvais commented on #10856
@forgeuxGH5 Done. Thanks. We'll have to remember to create future implementation tickets for any changes to the above.

[2022-01-28 02:27] chdivyareddy commented on #10845
Verified in DEV with few other Business and Individual Debtor Names.

**Individual Debtor:** DANIEL WETZEL, MILAN ZIVKOVIC, DAVID GEORGE KING, CHRISTINA MARIE CERRACCHIO, GALIB KARA
**Business Debtor:** S.R.B. HOLDINGS LIMITED, RESLAND DEVELOPMENT CORP., BNA EATERY AND BREWERY LIMITED PARTNERSHIP

[2022-01-28 16:34] PatrickAHeath opened #10882 "PPR - Renewal completed via UI not displaying in UI Registration table"
**Describe the bug in current situation**
Client (ESC Corporate Services) reports that a renewal completed by UI does not display on the UI Registrations table.  (707940G)

[https://app.zenhub.com/files/157936592/34640c26-8116-4a92-8b12-bfcf590ce3c7/download](https://app.zenhub.com/files/157936592/34640c26-8116-4a92-8b12-bfcf590ce3c7/download)

**Link bug to the User Story**

**Impact of this bug*

[2022-01-28 16:50] PatrickAHeath opened #10883 "PPR - Unable to search Registrations table by Amendment/Discharge/Renewal registrations number or type"
Client would like to search the Registrations table to find specific activity against registrations.

Registration filter doesn't include Amendment/Discharge/Renewal, just the registration types.

Registration Numbers of Amendment/Discharge/Renewal are not filterable

[2022-01-28 17:09] chdivyareddy commented on #10563
Verified in TEST!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/244afb74-c0db-44f2-b293-2fc163f85602)

[2022-01-28 17:17] tlebedovich commented on #10832
@ozamani9 @lmcclung - ok designs/text should be good to begin. Please note, there are two versions of the text - one before staff review and one after approval. Please move to UXA and tag myself and scott when ready to review. thanks!

[2022-01-28 17:32] #4466 closed

[2022-01-28 17:45] zac-broitman opened #10884 "Email Action in the Invitation section sending email to create a new account"
**Describe the bug in current situation**
The email action (the envelope icon) in the Actions column of the Invitations section of the Team Members page has been reported to send an email to create a new account rather than adding a user to the existing account. This action should re-invite the user to the account, allowing them to join it.

**Link bug to the User Story**

**Impact of this bug**
T

[2022-01-28 17:45] chdivyareddy commented on #10875
Verified in TEST!

**Amendment:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/246d9f3f-aa8b-4d15-b0c8-a8fe380f51b8)

**Renewal:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/042ed217-0ab0-4e88-b4dc-3131c806759e)

**Discharge:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/37084480-531a-4128-8ab2-4caecf3e810

[2022-01-28 17:53] sienna-blumstengel commented on #10793
Argus has a script. The script uses the dissolution date, do we have that for the legacy dissolution filings?
@rarmitag we need you to check to see if there is a dissolution date on these legacy dissolution filings that were brought over?

[2022-01-28 18:06] sienna-blumstengel commented on #10769
Once our team completes this in DEV and TEST, we will need to hand this over to the ops team to complete it in PROD

[2022-01-28 18:08] eve-git commented on #8901
I just removed designation that added after the first create. In the test case below, the value of name variable is 'TEST ABC INC.'. @severinbeauvais can you please check if the results are expected?
test 1.
1. Create a NR of BC Limited company with 'INC' designation
2. Edit after payment
![image.png](https://images.zenhubusercontent.com/5da9d9a151b27c0001f5c9ec/e456efdd-9311-43d3-8b53-4f1dac4dda0

[2022-01-28 18:08] sienna-blumstengel commented on #10019
@rarmitag can you find out how many BENs were incorporated **June 30th 2020 or after**, and are missing **incorporation or completing party information**.
Can you also pull the registered office email address for each entity that is missing the incorporator or completing party? We will use this to contact these entities and get the information from them

[2022-01-28 18:10] severinbeauvais commented on #8901
The original description shows the designation in the Second Choice. Can you please test that?

[2022-01-28 18:27] lmcclung opened #10885 "SP/GP Create UI - look up selected business and populate form (part 2)"
This is for step 2 - adding business or corporation as proprietor/partner.

- [x] allows user to select a business from the search results dropdown
- [x] call Legal API to fetch the business information
- [x] fill in the form with what we have retrieved from Legal API (if entity is in LEAR db; if not then form is blank)
- [x] show the BN from the search results (or from Legal API if available) as

[2022-01-28 18:31] mstanton1 opened #10886 "Add What's New to BCROS Page"
Patrick has created a 'What's New' section in the header bar for the BC Registries Application.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/297b4637-f6bd-40ac-ba26-b2011fb47996)

This currently does not show within the application. A change is required to add this into the common component used when users are logged in to the BC Registries Application.

![image.png]

[2022-01-28 18:33] mstanton1 commented on #10886
@lmcclung Patrick noted that work is needed by @severinbeauvais to add the "What's New" he built into the BCROS page.

For prioritization.

[2022-01-28 18:34] severinbeauvais commented on #10886
I'm already doing this as part of #10866 😁

[2022-01-28 18:34] #10886 closed

[2022-01-28 18:46] lekshmimallika-aot commented on #10769
Query ran in dev and test and verified

[2022-01-28 18:47] stevenc987 commented on #10715
@lmcclung @thorwolpert @sienna-blumstengel
It seems this issue is not recurring day by day.
Thor, do you know how to reproduce this error? How many minutes delay would you like to put on the query to catch the rows? Thanks

[2022-01-28 18:48] forgeuxGH5 opened #10887 "UI DESIGN - Include the word "None." in the registration UI to match the verification statements and search result reports"
If the user does not enter anything for the description of general collateral when they create their base registrations, the word "None." is displayed (added by the system) in the description of general collateral in verification statements and search result reports.
This is unexpected behaviour, inconsistent with the display of the information in the UI, and is not described to the user. This may

[2022-01-28 18:52] sienna-blumstengel commented on #9261
@lmcclung please chat about this with Kaine. Maybe we can let sprint with us team do this work.

[2022-01-28 19:09] #10473 closed

[2022-01-28 19:09] #9390 closed

[2022-01-28 19:09] #10135 closed

[2022-01-28 19:09] #10674 closed

[2022-01-28 19:18] chdivyareddy opened #10888 "PPR - Duplicate General Collateral is displayed on the UI"
- [ ] Duplicate General Collateral is displayed on the UI but not on the verification statements.

**Example from TEST:** **3023963**
**UI:**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/990c8220-053f-42f4-ac87-56b96ac48f2d)

**PDF:**
[https://app.zenhub.com/files/157936592/332ad334-9d42-44c3-9464-3d6b16ccdb24/download](https://app.zenhub.com/files/157936592/332ad334

[2022-01-28 19:20] PatrickAHeath opened #10889 "PPR - Order of Exact Match Search Results should be in Registration Date order, Oldest to Newest"
When a PPR search is performed, exact match results on the Search Results screen and in the PDF table of contents should be presented in order of Registration Date with the oldest registration at the top.

[2022-01-28 19:32] ozamani9 commented on #10246
I have made the changes in name-examination UI (localhost).  where i edited the expiry_date, and then went to Name Request and looked up name request it now shows the 11:59pm on that date.

BEFORE:
![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/5fd8d5e9-41f4-48c7-b2eb-562a64528ff4)

EDIT expiration_date on NAME REQUEST on Name Examination:
![image.png](https://images.ze

[2022-01-28 19:44] forgeuxGH5 opened #10890 "UI DESIGN - Improve usability of Folio Number entry for PPR Searches"
Users will likely be confused when trying to enter a Folio Number - there is no obvious way to conclude the action of entering the folio number - this may lead users to believe they have entered the folio when they have not.

Redesign the folio number entry for PPR searches to ensure users know they have successfully entered a folio number for the search

[2022-01-28 19:47] ozamani9 commented on #10311
@severinbeauvais i see your code changes for 10319 in namex-api.

![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/4869ea22-ffee-4e2f-bd82-fcbbf37abf16)

going forward expiry time will always be 11:59pm when creating... and i fixed the updating on ticket #10246, not sure what else are we missing.

I can check the jobs, because linda mentioned some of the emails are still

[2022-01-28 19:54] sienna-blumstengel opened #10891 "SP/GP Create UI - Steps 2&3, GP - Add completing party and partners (individual and business)"
#### GPs (Business or Corporation):
- [x] Update "manually add" label to match new design "Business or Corporation Unregistered in B.C."
- [ ] ~Update [help text](https://projects.invisionapp.com/share/3511UPXPMT2P#/screens/463492960)~ **no change from SP?**
- [ ] ~Pop up modals when click person or business~ **not applicable for GP?**
- [x] Add Partner role
  - [x] at least two partners are requi

[2022-01-28 19:55] sienna-blumstengel opened #10892 "SP/GP Create UI - Steps 3, SP and GP - Review completing party and sole proprietor / partners"

[2022-01-28 19:58] mstanton1 opened #10893 "VERIFY - Spaces in General Collateral"
General Collateral is showing with spaces between words. This is because in the mainframe they did not start the next line with the last word that was too long to complete on the previous line.

E.g. VEHICLE COLLATERAL, INCLUDI NG, WITHOUT LIMITATION, LIMITATION, PROCEEDS DERIVED DIRECTLY OR INDIRECTLY FROM A NY DEALING

Spaces in words should be removed.

Bob has noted: To fix this I would have t

[2022-01-28 19:59] severinbeauvais commented on #10311
I think that was actually Andre's fix in namex-api. Ticket 10319 implemented [this fix](https://github.com/bcgov/business-filings-ui/pull/265) only.

What happened with the job this morning -- what is the expiry date/time on the NRs you created yesterday?

[2022-01-28 20:06] chdivyareddy commented on #10741
@kialj876 @doug-lovett , Please take a look at the following screenshots below for the current behavior:

- [ ] When "Country" is selected other than US and Canada, then "Region" is displayed as Optional which is expected Behavior.
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/3094833b-91ba-4584-afd8-2a9824c77c29)

- [ ] When Address is selected from Canada post, then

[2022-01-28 20:07] ozamani9 commented on #10311
will check now

[2022-01-28 20:14] sienna-blumstengel commented on #10884
When this is released, please inform IT Ops and Claudine that INC0139519 has been resolved.

[2022-01-28 20:17] jinghualicgi commented on #8359
From team: After careful investigation and chatting with Jennifer Weldon. we realized it had not been pushed to PROD before. We have deployed this ticket on Jan28,2022

[2022-01-28 20:44] jinghualicgi commented on #10741
Steph is working on  this, thanks @jordiwes

[2022-01-28 20:54] lmcclung opened #10894 "PROD data clean up for Business Summaries to be correct"
- [x] CP & BEN Voluntary dissolutions from legacy app not showing up as historical on entity dashboards
- [x] CP Voluntary dissolutions done in business registry showing as "historical - unknown reason" and should show a type of dissolution 10769/363
- [x] CP & BEN entities won't open up business summary - usually have 'unknown reason' on the entity dashboard header 10874
- [x] BENs with alteratio

[2022-01-28 20:59] lmcclung commented on #10769
Thanks @lekshmimallika-aot

[2022-01-28 21:01] lmcclung commented on #10769
@pwei1018 or whoever is on Ops, please run this query in PROD asap and provide me with a list of entities that were updated.  This will update the entities that were dissolved in the business registry.  We have a different ticket to deal with the ones dissolved in COBRS.

Thanks.

[2022-01-28 21:14] pwei1018 commented on #10769
@lmcclung Can you turn this ticket into Ops repo? I will post the data in it before I do the data fix.

[2022-01-28 21:32] PatrickAHeath opened #10895 "PPR - Add wording to warn clients about formatting issues if copy and paste into General Collateral field"
Client have reported garbled General Collateral text displaying when copy and pasting from Word 16.

Suggestion is to add a warning by the General Collateral text box for Registration and Amendment regarding formatting issues if copy and pasting from another tool like word.

[2022-01-28 21:35] ozamani9 opened #10896 "Expiration Date Time incorrect - once name is consumed expiration time is set incorrectly"
![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/0e351d4d-126c-4356-9cfe-96d42fafbc86)

![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/16b7be12-d9c8-43c7-a910-322b2b895726)

This ticket is related to the expiration date timestamp tickets

10319
10246
10311

[2022-01-28 21:39] chdivyareddy commented on #10878
Verified in DEV!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/65ece12a-efee-4640-8b12-9d551fd04cf6)

[2022-01-28 21:43] chdivyareddy commented on #10078
Verified with few Infinite Registrations and is working as expected.

[2022-01-28 21:45] rarmitag commented on #10793
Here's a list of dissolved BEN's and CP's:

BC1289777
BC1295614 * draft
BC1306186
BC1300911
BC1310399
BC1310073

CP0001012
CP0000019
CP0000088 * draft
CP0000769
CP0000853
CP0000930
CP0001880
CP0002200

[2022-01-28 22:00] ozamani9 commented on #10311
nr_day_job does not alter time on expiration_date:

Linda asked me to also fix this on this ticket:

I know you’re working on a bunch of expiry date/time issues.  Here’s another one.

Expiring soon email says NR will expire at 8:01am Jan 27th
Name request says it will expire 12:01am Jan 27th
User tried doing it before 8:01am but NR was already expired
Might be because NamesP stores in Pacific time

[2022-01-28 22:05] Kaineatthelab opened #10897 "API - PDF Search Outputs Enhancement"
Given I am looking at a search result
When I look at the following pages
Then I want to see the base reg number at the top of each change
and the search criteria in the footer of each page
and page number for the table of contents

1. tighten white spacing in search output headers (above and below logo) to match to Registration outputs
2. add base registration date and number for each "change" sec

[2022-01-28 22:05] lmcclung commented on #10769
Created Ops #363 for this.

[2022-01-28 22:05] rarmitag commented on #10793
No dissolution dates before 2021:

entities with dates:
CP0000088
BC1289777
BC1306186
BC1300911
BC1310399
BC1310073

[2022-01-28 22:08] severinbeauvais opened #10898 "Changing account should leave you in the current app"
- [ ] if in Auth Web, you stay in Auth Web
- [ ] if on a BC Registries "marketing" page, redirect to the same "marketing" page for the selected account
- [ ] if in a BC Registries application, redirect to dashboard for login type and account
  - what about staff - multiple accounts?
- [ ] if on Name Request, redirect to Name Request for the selected account

[2022-01-28 22:17] severinbeauvais commented on #10311
It looks like the email is displaying the time in UTC.. should be fixed.

I think Omid and I confirmed that the NR gets expired by a daily job (that, concidentally runs around 8am Pacific) the day after its expiry date, so that's weird.

[2022-01-28 22:33] lmcclung commented on #10793
Why does BC1306186 show as 'null'?
Check business summary
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/c56912c1-ecda-4e10-9811-9b2a3a06f107)

[2022-01-28 22:44] PatrickAHeath opened #10899 "PPR - Cleanup of double renewal performed on Base Reg# 138806J due to Leap Year issue"
Client attempted to do a renewal on Base Reg # 138806J, but it has the Leap Year issue.

First renewal showed an error, so client completed it again.  They couldn't search the registration due to Leap Year issue.

Duplicate renewal registration numbers are 501326N and 501332N.

One renewal will have to be removed and client refunded.

[2022-01-28 22:57] mstanton1 opened #10900 "API improve account registrations table results for high volume accounts"
Apply the top 1000 results limit after excluding account created registrations that have been removed by the account.

Test Notes: adding/removing registrations works as expected. For high volume accounts (over 1000 registrations), if they remove recent registrations created by the account older registrations will be visible.

[2022-01-28 23:19] mstanton1 opened #10901 "Allow for infinite scrolling in Registrations table"
Allow for infinite scrolling in Registrations table.

Note: Filters will need to be re-worked so they can still filter/retrieve items that are not in your screen.

[2022-01-28 23:29] severinbeauvais commented on #10880
@Kaineatthelab @lmcclung What is the priority of this ticket?

[2022-01-28 23:43] mstanton1 opened #10902 "UI - Infinite Scrolling"
scrolling update:
- get next 100? Start with 100 instead of 1000 to improve time?
  - keep current, add on api response of next 100
  - api will need to add real total into response

filter update
- UI will make an api call for table filtering
  - use lodash time interval on text field filters
  - remove UI filter code and instead add params to api call / handle response

## Status Filter Wirefram

[2022-01-28 23:43] mstanton1 opened #10903 "Backend - Infinite Scrolling"
API support for infinite scrolling and filtering/ordering on the account registration summary list.
Following is from team discussion:
- [x] Add paging
- [x] Use a configurable page size, default 100
- [x] Add request query parameters to the existing endpoint to support UI paging and filtering.
- [x] Sort order and sort criteria are additional parameters

API parameters:
pageNumber 1..max
sortDire

[2022-01-28 23:51] Kaineatthelab opened #10904 "General Collateral Update"
Given I did a search and opened the PDF
When I see general collateral
Then I want to see the  legacy general collateral organized like the old system formatting

- Bob to email three registrations that are good examples to Doug
- Doug to update the gc data in GCP test
- BA to review and identify if change is acceptable

[2022-01-29 00:21] lmcclung commented on #10793
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/1a8d57e2-c6a7-45fa-b5e4-a91f6af1ce4e)

[2022-01-29 00:22] severinbeauvais opened #10905 "Registry UI: on login page, add support for redirects"
(This was previously #10866, but it got hijacked for other work.)

### Description

The BC Registries login page should support a URL parameter to redirect to after successful login. If the redirect URL is not specified then just go to the BC Registries dashboard after login. For example:

1. ensure you are not logged in
2. go to an entity's dashboard (eg, https://dev.bcregistry.ca/business/https:

[2022-01-29 00:30] lekshmimallika-aot commented on #10793
This looks right. Are you still seeing null/unknown reason in dashboard @lmcclung

[2022-01-29 00:42] lmcclung commented on #10793
@lekshmimallika-aot see my screenshots above for all of them.  Yes, still seeing null for some of them.

[2022-01-29 00:44] lmcclung commented on #10793
For the admin dissolutions, I think at the time we did them we didn't have an admin filing nor states.  Can we confirm we have an admin (involuntary) dissolution filing/jupyter notebook now?

[2022-01-29 01:14] lmcclung commented on #10866
Added this to Assets' Review pipeline

[2022-01-29 01:38] lmcclung opened #10906 "Get list of all the alterations filed since June 30, 2020"
Need a list of all the alterations filed in postgres (either by jupyter or self-serve)
Break it down by:
1 - filings that changed the business type (and what type they changed from/to) and also whether a name change also happened as part of the filing
2 - filings that had change of name only (not business type) and include old/new name
3 - other alterations that didn't change name or business type

[2022-01-29 01:47] lmcclung opened #10907 "Alterations not showing to/from business types"
Not all alterations to change business types appear in the Business Summary.

Spot checked:
Alter BC LTD to BEN - BC1227410
Alter BEN to BC LTD - BC1306000

might have been something in the jupyter notebook that was incorrect
Should also check alterations with name changes only

[2022-01-29 02:04] tlebedovich opened #10908 "Days to Expire on NR Approved has a million decimal points in Business Registry table"
In DEV

username - BCREG0018
NR 3866422
Phone: 555-555-5555

I added a new Name Request to my My Business Registry and the displayed number of days includes a million decimal points. We should show just the full days and decide whether to round up or down the the nearest whole day.

![Screen Shot 2022-01-28 at 5.56.15 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/7c0f5a55-3

[2022-01-29 02:10] Kaineatthelab opened #10909 ""its already in your dashboard""
Teranets registrations were deleted, it's showing the below.

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/46cf0d8a-7c50-4a7d-8dac-49162e2c7d2b)

[2022-01-29 19:43] forgeuxGH5 commented on #10898
if in Auth Web, you stay in Auth Web - Yes
if in BC Registries application, redirects you to dashboard for login type and account (not sure if Staff types have multiple accounts)
if on Registries "marketing" pages - redirect to the same "marketing" page for the selected account
if on Name Request - redirects to Name Request for the selected account.

[2022-01-30 05:21] forgeuxGH5 opened #10910 "UI DESIGN - Handling for dynamic loading of the My Registrations table with a large number of item (exceeding the default load) scrolling, sorting, and filtering of the table"
Design handling of loading data into the table dynamically with scrolling, sorting, and filtering of the table.

This may cause delays in displaying the data in the table.

Actions that will required calls to the database
Scrolling beyond the default load
Sorting on any value
Filtering on any value
Consider type-ahead filtering of the table (do we need to use a command to execute the filter?)

[2022-01-30 17:58] sienna-blumstengel opened #10911 "LEGAL API: Co-op Filing (AR, Director change) effective dates are incorrect"
### Bug report:

**Later:**

### Ops ticket to fix data for this client:
INC0136652
[#365](https://app.zenhub.com/workspaces/ops-60f8556e05d25b0011468870/issues/bcgov-registries/ops-support/365)

### Expected behavior:
1. the effective date of the CO-OP AR **should be the AGM date that has been input on the AR.**

2. Effective date of the director change was input as July 01, 2016 **and the output

[2022-01-30 18:15] sienna-blumstengel commented on #10911
![image.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/e4c1323b-4fc6-4234-892b-f321a138fd63)

[2022-01-30 19:40] doug-lovett commented on #10860
DB updates completed. @thorwolpert can you deploy the api?

[2022-01-30 20:18] thorwolpert commented on #10860
Done

[2022-01-30 20:18] #10860 closed

[2022-01-30 20:20] thorwolpert commented on #10444
Testin in Prod completed

[2022-01-30 20:20] #10444 closed

[2022-01-30 20:21] thorwolpert commented on #10206
Done

[2022-01-30 20:21] #10206 closed

[2022-01-30 20:22] thorwolpert commented on #10302
Done

[2022-01-30 20:22] #10302 closed

[2022-01-30 20:23] thorwolpert commented on #10304
Done

[2022-01-30 20:23] #10304 closed

[2022-01-30 20:23] thorwolpert commented on #10303
Alternate using Sandbox pay was done

[2022-01-30 20:23] #10303 closed

[2022-01-30 20:23] thorwolpert commented on #10306
Done

[2022-01-30 20:23] #10306 closed

[2022-01-30 20:24] thorwolpert commented on #10308
Done

[2022-01-30 20:24] #10308 closed

[2022-01-31 16:03] kialj876 commented on #10741
Ah okay @jordiwes if you just prevent it from filling the region in the canada post autocomplete when its not canada/us that might solve all the issues (we don't want it to send back anything more than 2 chars for region or it will err). Looks like it's trying to populate it with a bigger word and its mucking it all up

[2022-01-31 16:13] kialj876 commented on #10796
The fix for the leap year also fixed this issue I think

[2022-01-31 16:40] magszymanski opened #10912 "Website - Revamp Resources page"
Need to reorder steps and add more where applicable.

See notes below.

[2022-01-31 17:05] Kaineatthelab opened #10913 "API - Errors"
https://discourse.onebc.ca/t/bconline-error-messages-containing-a-newline-character-at-the-end-of-the-error-message/90

discourse.onebc.ca
BCOnline error messages containing a newline character at the end of the error message
JSON parsing fails due the newline at the end of some or all of BCOnline error messages. These error messages break JSON formatting rules: {“errorMessage”: “API backend third

[2022-01-31 17:42] jinghualicgi opened #10914 "Update Legacy Address Data"
This is for mails send to BCMail, we don't have Country Code for some records, failed to send BCmail

[2022-01-31 17:42] jyoti3286 commented on #10913
Can someone from the PPR API team(Doug) look into the root cause?

The error message says - the Financing Statement for registration number 405908I has expired or been discharged.

It's an error message from the PPR application I believe.

[2022-01-31 17:53] #10337 closed

[2022-01-31 18:13] jinghualicgi commented on #10909
This has been verified in PROD

[2022-01-31 18:19] jyoti3286 commented on #10867
For an interim, we have increased the number of ports in Production for Auth API. Hoping it will address the load issue. Team is still trying to figure out the long term fix

[2022-01-31 18:25] chdivyareddy commented on #10796
Hey @kialj876 , As there is an issue submitting RL Renewal immediately after creating RL, I cannot verify the Expiry dates in the report.
( {"errorMessage": "API backend third party service error.", "rootCause": "detail:[Additional validation: Invalid courtOrderInformation.orderDate: the value must be between the base registration date and the current system date. ],message:003: Financing Statemen

[2022-01-31 18:56] chdivyareddy commented on #10223
@jordiwes , For the Crown Charge Registrations, while doing an Amendment, the Secured Parties are not retrieved to my Account in DEV. But, I can see a list of Secured Parties while Registering a Crown charge. This used to work as expected earlier.

**Current Behavior** **072303B**:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f4c8b6f9-4ca0-47b9-9fa3-5a129a9c5d3f)

Cur

[2022-01-31 19:01] #9381 closed

[2022-01-31 19:02] lekshmimallika-aot commented on #10793
@lmcclung - Could you please verify  businesses
BC1310399
 BC1310073
 BC1306186

[2022-01-31 19:13] lmcclung commented on #10793
All have correct filing name in the filing history; but shouldn't have outputs and they still show null at the top
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/e560cc99-4b38-4cc3-9a8f-31b49b3cb5e4)

[2022-01-31 19:22] lekshmimallika-aot commented on #10793
@rarmitag Could you please update "legalFilings" in meta_data to null for filings 57578, 57579, 57477

[2022-01-31 19:35] zac-broitman commented on #10507
Updated scenario 4 to correct that the Total Amount Received should be shown in CAD

[2022-01-31 19:55] jinghualicgi opened #10915 "Add a banner to inform PDF's are currently unavailable"
Similar as ticket #10842

Wording: PDF's are currently unavailable. This issue should be resolved by 2:00 pm Pacific Time

[2022-01-31 20:15] magszymanski opened #10916 "Update PPR site to display accurate registration conditions"
- [x] Mags to meet with Kevin and Kim to revise registration conditions
- [x] Gen to post to PPR CMS

Gen, please use the [Slides doc](https://docs.google.com/presentation/d/1GmoyDUMbnTy_6k0U6nAUd86wvkq0nSak/edit?usp=sharing&ouid=109508011503764748857&rtpof=true&sd=true) to make changes; thanks!

[2022-01-31 20:21] lekshmimallika-aot opened #10917 "Filings UI - Update reason for HISTORICAL state"
Different types of dissolution filings have been filed in PROD through Jupyter notebook /legacy filings imported from Colin.

The UI may be currently looking for the dissolution json structure that is used in the new system. The legacy filings/ notebook filings filed prior to designing the dissolution json schema follows a different format.

Because of this reason Filings UI currently shows null/

[2022-01-31 20:22] lekshmimallika-aot commented on #10793
Document List is fixed

[2022-01-31 20:25] jinghualicgi commented on #10915
Sumesh and Kial has updated PROD directly. Janis has verified

[2022-01-31 20:32] Kaineatthelab opened #10918 "Report API needs to be quicker"
The report API takes up to much space, we need a solution before MHR needs the space. Need a new solution that can scale for our growing ecosystem and volumes.

[2022-01-31 20:39] lekshmimallika-aot commented on #10793
@rarmitag After reviewing, if you are ok with the queries could you please run those? This would fix the issue 'CP0001880' in active state

[2022-01-31 20:52] rarmitag commented on #10793
Done:

For fixing CP0001880 the following query can be used

UPDATE
businesses
SET
state_filing_id = sub.filing_id,
state=’HISTORICAL’,
dissolution_date=sub.effective_date
FROM
(select f.id as filing_id, f.effective_date as effective_date, b.id as business_id from businesses b, filings f where
f.filing_type=’voluntaryDissolution’ and f.business_id = b.id and b.identifier=’CP0001880’ and f.status=’

[2022-01-31 20:54] rarmitag commented on #10793
update filings set filing_type='Involuntary Dissolution' where id in (57578, 57579, 57477)

[2022-01-31 21:13] chdivyareddy commented on #10795
Verified the Logout Behaviors mentioned as part of this ticket.

[2022-01-31 21:16] severinbeauvais commented on #10795
Great!

@doug-lovett Could you please deploy this to Test and maybe Prod?

[2022-01-31 21:48] janisrogers commented on #10852
Bob has updated this in test. Please verify

[2022-01-31 22:02] chdivyareddy commented on #10852
Verified in TEST with Base Reg.No: **501825N** (Lien for Unpaid Wages)

[https://app.zenhub.com/files/157936592/aa9d42e8-6a22-4b7d-8b10-665be3b8a570/download](https://app.zenhub.com/files/157936592/aa9d42e8-6a22-4b7d-8b10-665be3b8a570/download)

[2022-01-31 22:04] bfbowles commented on #10852
Thanks Divay will update Prod for this one and the general collateral.

From: chdivyareddy ***@***.***>
Sent: January 31, 2022 2:03 PM
To: bcgov/entity ***@***.***>
Cc: Bowles, Bob F CITZ:EX ***@***.***>; Assign ***@***.***>
Subject: Re: [bcgov/entity] Liens for UnPaid Wages was converted to Maintenance Lien (Issue #10852)

[EXTERNAL] This email came from an external source. Only open attachments

[2022-01-31 22:10] thorwolpert commented on #10914
These are 2 different, unrelated issues.
The country code missing causes an error.
A different issue is the naming mask, causing filename collisions.

[2022-01-31 22:10] lekshmimallika-aot commented on #10793
@lmcclung Could you please verify whether CP0001880 is Historical now

[2022-01-31 22:24] chdivyareddy commented on #10741
Hey @jordiwes , Please refer to the following scenario:

- [ ] When an entered Region text is removed, then the error warning message is displayed as "This field is required" and doesn't let the user complete. (Region field should be Optional)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/19b7aadc-2538-4454-865d-7855a10bb9a1)

[2022-01-31 22:25] severinbeauvais commented on #10905
### Test Notes

1. while logged out, go to main marketing page
2. while logged out, go to PPR marketing page
3. while logged out, go to dashboard page
4. while logged out, go to login page
.
5. while logged out, go to main marketing page
6. while logged out, go to PPR marketing page
7. while logged out, go to dashboard page
8. while logged out, go to login page

[2022-01-31 23:04] lmcclung commented on #10793
Yes, it's historical now.  Says unknown reason and no date.  No outputs (correct as paper filing) or blurb about ordering it from Registries (missing)
![image](https://user-images.githubusercontent.com/54917209/151887526-5eb9175c-5d38-4020-845c-3f44fe461cc9.png)

[2022-01-31 23:11] lekshmimallika-aot commented on #10793
For handling unknown reason - a UI ticket is created https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/10917

[2022-01-31 23:11] argush3 commented on #10801
Update script run in DEV and verified AR filing history is displaying AR filing year properly for scenario outlined in description of this ticket.  https://dev.bcregistry.ca/business/CP0002073(BCREG0001) is a business that previously had this issue before the bug and data fix were made.  Also verified that new AR filings are working properly.

![image.png](https://images.zenhubusercontent.com/6051

[2022-02-01 00:24] chdivyareddy commented on #10852
@janisrogers Verified the fix in PROD!

[2022-02-01 01:02] sumesh-aot commented on #10913
Below are the error codes which pay would send for any errors:
https://pay-api.apps.silver.devops.gov.bc.ca/api/v1/codes/errors
[code]

[2022-02-01 01:03] sumesh-aot commented on #10913
BCOL error messages contains some html contents as it is built to be displayed on the consumer application (entities, name request etc.. Not sure if this causing the parsing issue.

[2022-02-01 04:09] doug-lovett commented on #10795
@chdivyareddy deployed to TEST.

[2022-02-01 16:39] magszymanski opened #10919 "Create master Release Process document in Google."
Combine SharePoint documents and other resources to create a master Release Process document in Google.

This is low priority and a live document that will be continuously updated. Will add information to the Communications Process doc: https://docs.google.com/document/d/1Y7AQ1tEV67VfffJr-Ky_QkQCV28O9SdD/edit

[2022-02-01 16:40] Amitisp opened #10920 "Firm - Internal OCM Plan for SP/GP"

[2022-02-01 16:42] #6884 closed

[2022-02-01 16:54] #10640 closed

[2022-02-01 17:14] mstanton1 opened #10921 "Allow PDF Generation with large amounts of vehicle collateral"
Currently when there are extremely large amounts of vehicle collateral (e.g. 1500 + lines) a timeout occurs when trying to generate the PDF.

[2022-02-01 17:15] #10751 closed

[2022-02-01 17:16] #10855 closed

[2022-02-01 17:26] lmcclung opened #10922 "update common components"

[2022-02-01 17:41] mstanton1 opened #10923 "Sprint Goal 11.8"
- [ ] Infinite Scrolling for API User
- [ ] Duplicate Registrations
- [ ] Error Handling
- [ ] PDF not available when you press back after a search
- [ ] Issue Verification Statements (BC Mail)
- [ ] PDFs show base debtor
- [ ] PDFs and UI organize results by date
- [ ] Report API

[2022-02-01 17:41] #10641 closed

[2022-02-01 17:47] chdivyareddy commented on #10900
Hi @doug-lovett , Can you please add 1000 or more Registrations to my account (DEV - 2753, TEST - 1364) to verify this.

[2022-02-01 17:56] PatrickAHeath opened #10924 "PPR - Clicking on Banner on PROD dashboard brings up QA web page"
The 'Please see known issues and updates for Personal Property Registry here' banner in PROD will route to the QA webpage when clicked.

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/a5e44615-58dc-4421-8950-21b224485c2d)

[2022-02-01 18:01] Kaineatthelab opened #10925 "SPRINT GOALS"
Prioritization
- [ ] Reg Table Scrolling
- [ ] Error handling
- [ ] PDFs show base debtor
- [ ] PDFs and UI organize results by date

[2022-02-01 18:02] #10925 closed

[2022-02-01 18:11] pwei1018 commented on #10924
Fixed.

[2022-02-01 18:21] pwei1018 commented on #10924
The updated value from 1pass didn't carry over to prod through Github Actions.

[2022-02-01 18:38] trishreimer opened #10926 "Update Search site on CMS to include Business Summary info and other Search changes | Due: July 15"
- [x] Identify changes needed **(i think we did this, check firms meeting notes)**
- [x] Draft
- [x] Get input from business (Debbie and Claudine)
- [x] Ask Gen to publish
- [ ] Notify Sarah that changes have been made to site - she will incorporate this into training so that staff know and can point clients there

July 8 update:
- **Mags is taking lead on changes to the Search page, with Gen maki

[2022-02-01 18:53] Maribeth-Wilson opened #10927 "OCM - Post PPR Implementation Work"

[2022-02-01 18:54] trishreimer opened #10928 "OCM - MHR"
## Description (Hypothesis):
- Short Description of the needed Epic in the below format

* As a (who/ person)
* I want (what/ goal)
* so that (why/ benefit proposal)
or
* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what is expected value and justification for priority.

----
## Acceptance Criteria
* Used to

[2022-02-01 18:54] trishreimer opened #10929 "Change Impact assessment for MHR"

[2022-02-01 18:56] trishreimer opened #10930 "OCM - Search"

[2022-02-01 18:56] trishreimer opened #10931 "Change Impact Assessment"

[2022-02-01 18:57] trishreimer opened #10932 "Awareness comms to announce Search will be modernized - ask bcol users, including ministry users if they use search"

[2022-02-01 19:00] janisrogers commented on #10521
- [ ] The screen 1 validation if you don't change anything seems to have disappeared.
- [ ] Undo button not working on deleted secured party or debtor
- [ ] On screen 2 the 'You have unfinished changes' error message is not going away when error is corrected

[2022-02-01 19:23] jordiwes commented on #10521
@janisrogers - screen 2, which error are you correcting and the message not going away?

[2022-02-01 19:24] janisrogers commented on #10521
@jordiwes  If I leave the registering party open (uncompleted) then click register and pay, I get the error. Then when I either cancel the change, or complete the change, the error still shows.

[2022-02-01 19:46] ozamani9 commented on #10246
I have fixed Name Examination UI so when Staff update the expiration date it now uses 11:59pn of actual day and not 12:01 am of next day.  Here are my testing results:

![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/5c743a7a-4d49-45ec-be5e-0a174d534ca8)

![image.png](https://images.zenhubusercontent.com/6171f02fc7853cb8a3de2185/18282aa6-1901-4d67-b523-6f0c59ca4a98)

![i

[2022-02-01 19:48] ozamani9 commented on #10246
@riyazuddinsyed when you are ready to test.  i might need to change the expiration datetime to 12:01am for you before you begin your verification,   reach out to me and i can explain what i mean

[2022-02-01 19:59] ozamani9 commented on #10311
@lmcclung  This ticket was worked on by 10246.  this should be closed.  IMHO

[2022-02-01 20:00] ozamani9 commented on #10843
@lmcclung we receive email notification through Sentry

[2022-02-01 20:22] doug-lovett commented on #10900
@chdivyareddy added 1006 to dev, 1002 to test. The API update is not in TEST.

[2022-02-01 20:30] ozamani9 commented on #10843
I had a look at the two NRS and confirmed the dates they were expired.  unfortunately we do not keep a record of the logs of the nr_day_job that displays which NRs were picked up on that day in the before_expiry condition and expiry condition.  @pwei1018 do you know a place where i could look at the nr_day_job log for Dec 8,9,10, 23rd.  i want to see if NR 8943300 was picked up on any of these day

[2022-02-01 20:33] lekshmimallika-aot opened #10933 "Legal API - Indicate whether reports are available for the filing type"
Some filing types like Involunary Dissolution will not have any reports. paperOnly flag cannott be used for this purpose because the reports will not be available from registries.

For those filing types which does not have any reports available, the API response need to have an additional property that UI can use to hide 'Show Documents' Button

Cc: @lmcclung

[2022-02-01 20:38] lekshmimallika-aot opened #10934 "Filings UI - Hide Show Documents Button in the Filing History"
'Show Documents' button in the Filing History needs to be hidden based on a property (TBD) in the filing history response from the API.

Reason: Documents(Downloadable/ Paper only) will not be availabe for some filing types such as 'Involuntary Dissolution'

Cc: @lmcclung @severinbeauvais @cameron-freshworks

[2022-02-01 20:42] ozamani9 commented on #8178
I have applied my datafix in DEV and TEST.   Once ticket #10246 goes into production.  i will plan to fix all the expiration date times in PROD (Currently over 7000).  I will try and do this after hours, with perhaps someone overseeing me.

[2022-02-01 20:45] severinbeauvais commented on #10934
Filings UI already supports this. The API can simply return an empty `documentsLink`.

Also, the filing can be "available on paper only", which controls the button label and details panel.

[2022-02-01 20:47] severinbeauvais commented on #8178
There are 7000 open NRs at the moment? 😲

[2022-02-01 20:58] zac-broitman opened #10935 "Keycloak Review Feb 2022"
### Description
Complete the quarterly keycloak review.

- [ ] Confirm access for all users.
- [ ] Compare each person against the rest of their team (e.g. BCOL Admin) to identify discrepancies
- [ ] Provide listing of staff to each team lead to confirm it is still accurate, verify any inconsistencies in team access
- [ ] Record findings, and any changes made, in a new tab in the Keycloak Quarterl

[2022-02-01 21:04] sienna-blumstengel commented on #9721
**Update on date validation!** ⭐️
* Less than or equal to 2 years in the past
* Less than or equal to 90 days in the future

[2022-02-01 21:25] sienna-blumstengel commented on #9250
FYI @vysakh-menon-aot we have changed the requirements for the Business Start Date field.
The Business Start date must be:
Less than or equal to 2 years in the past
Less than or equal to 90 days in the future
from the current date

[2022-02-01 21:52] ozamani9 commented on #10843
Hi Linda,

the mystery has been solved with @rarmitag help.  we queried the Email-Tracker db.  and it looks like there were no emails fired between November 18th and January 10th.  It is currenlty up and running.  we also believed it crashed on January 11th due to the overload of NRs to process.  so emails were fired shortly after that.

![image.png](https://images.zenhubusercontent.com/6171f02fc7

[2022-02-01 22:04] PatrickAHeath opened #10936 "MHR - PPR Lien information not updated for Transport Permits and Transfers of Ownership"
Staff have indicated that they see PPR Lien info against Manufactured Homes when they do Transport Permits or Transfers of Ownership. (using the green screens)  With PPR on the new platform and no link between the applications, this information will be out of date and inaccurate.

Here’s what I gathered from a discussion with staff on the matter:
•	If there is a Land Tax Deferment lien against the

[2022-02-01 22:07] mstanton1 commented on #7499
@Kaineatthelab it doesn't look like this was completed but based upon current state it doesn't seem required. Are you comfortable with this being closed?

[2022-02-01 22:09] lmcclung commented on #8178
@severinbeauvais Yup, it's a busy unit.

@ozamani9 Before you do a fix, I can check with staff whether we want to fix the existing ones.  Users already got the results email with the expiry date.  If we change it now the date on name request application won't match what's on their email, right?

[2022-02-01 22:14] #10278 closed

[2022-02-01 22:14] #10828 closed

[2022-02-01 22:14] #10909 closed

[2022-02-01 22:15] #10861 closed

[2022-02-01 22:15] #10845 closed

[2022-02-01 22:15] #10875 closed

[2022-02-01 22:15] #10809 closed

[2022-02-01 22:15] #10563 closed

[2022-02-01 22:16] #10781 closed

[2022-02-01 22:16] #10827 closed

[2022-02-01 22:16] #10839 closed

[2022-02-01 22:16] #10772 closed

[2022-02-01 22:16] #10506 closed

[2022-02-01 22:17] #10682 closed

[2022-02-01 22:17] #10830 closed

[2022-02-01 22:17] jyoti3286 commented on #10682
Not able to reproduce. If it happens again, we will reopen or create a new one

[2022-02-01 22:19] jyoti3286 commented on #10884
@rarya-freshworks - Can you re-test this?

[2022-02-01 22:19] chdivyareddy opened #10937 "PPR - Registration Length on Discharge Displays Incorrect for Legacy Registrations"
- For Legacy Registrations, the Registration Length on Discharge displays the incorrect number of years.

Eg: Base Registration Number **492355G** (Security Agreement)
- [x] In the example, the Base Registration was created on **December 9, 2011**, and the Current Expiry is on **December 9, 2022**, but the Registration Length is displayed as **6 Years**

![image.png](https://images.zenhubuserconte

[2022-02-01 22:23] jyoti3286 commented on #10683
Break in into small pieces:
1. Team management updates:
- Adding or removing team members
2. Passcode resets
3. Payment info changes
4. Business Affiliation
5. Account Name Changes
6. Authentication method changes
7. Account Suspension

[2022-02-01 22:25] ozamani9 commented on #8178
@lmcclung yes you are correct, but not all of them have received expiry emails yet if they expire after Feb 15th... i can produce a list if its helpeful.

[2022-02-01 22:42] sienna-blumstengel opened #10938 "Text updates to Name Request home page"
### Description

Request from Debbie:

### To do

[2022-02-01 22:46] lmcclung commented on #10874
Still getting error for BC1289777

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/743dbed4-9def-45b0-b98b-bc355b3d966c)

[2022-02-01 23:02] sumesh-aot opened #10939 "Partner Release checklist"
- [ ] Create Disbursement Distribution Code for each partner.
- [ ] BCOL Fee Code used for Account transactions needs to be created : BA will need to work with BCOL team to make sure any transaction done using this BCOL fee code gets dibursed to partner by BC Online.
- [ ] Create PROD api gateway keys for each partner (Doug is the point of contact)
- [ ] Someone need to keep an eye on EJV suspensi

[2022-02-01 23:02] sumesh-aot commented on #10939
@jyoti3286 @JohnamLane @zac-broitman

[2022-02-01 23:07] chdivyareddy commented on #10223
@jordiwes , Renewal is displaying incorrect years on Fee Summary modal on Screen2 and the Original Registering Party, Secured Parties, Debtors, Collateral info is lost when navigated back to screen1.

Eg: **3023789** (Security Agreement Transition - Base Registration)
**Steps to Reproduce:**
1. Select the registration to Renew.
2. Enter the Length in Years (Fee Summary Modal displays correct amoun

[2022-02-01 23:13] chdivyareddy commented on #10900
Verified in TEST!

[2022-02-01 23:30] mstanton1 opened #10940 "Update Name Request error message contact info"
SBC IT Operations Support has identified that their number is being provided through Name Requests. This should list the name and Number for BC Registries program area staff. Please update the error message.

Phone Number
from 1-250-952-0568
to 1-877-526-1526

Email
from SBC_ITOperationsSupport@gov.bc.ca
to BCRegistries@gov.bc.ca

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544

[2022-02-01 23:59] Maribeth-Wilson opened #10941 "OCM - Document OCM Change Management Processes"
10941 has been changed to an epic and we will create new issues to capture all the tasks required to update CM processes

For reference, here is the current draft of the guide: https://docs.google.com/document/d/1lGtTkrHvBL8MEKdPsYPFuIDls6XNBucl/edit?usp=sharing&ouid=114992131051796070008&rtpof=true&sd=true

[2022-02-02 00:07] Maribeth-Wilson opened #10942 "OCM - Email for BCOL admin and help desks re. processes for support - due Feb 3"
draft an email for the BCOL Admin and help desks to ensure they are aware of processes for support (i.e., send to IT Ops for issues but if it’s project related, like for example, they need updates to the guide, etc., then that can go to us).

[2022-02-02 00:11] mstanton1 commented on #10940
@pwei1018 as per the email chain with IT Ops and Trish, I've created this ticket to update the Name Request error message.

[2022-02-02 00:16] janisrogers commented on #10521
@jordiwes
- [ ]  I am still not seeing the screen 1 validation if you don't change anything.
- [ ] The undo button is still not working on deleted debtors or secured parties

[2022-02-02 00:16] chdivyareddy commented on #10797
Thanks Severin, This is working as expected in TEST!

[2022-02-02 00:20] chdivyareddy commented on #10888
@jordiwes , I see the same behavior as earlier (duplicate) for reg.no: 3023963

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/1793f92a-8f84-4732-a5ee-cc7c4c40c3fa)

[2022-02-02 00:25] lmcclung commented on #8178
@ozamani9 You fixed the UTC issue on the Expiring Soon email so it it 8 hours earlier, right?  So now you are suggesting we need to do the datafixes so that when the expiring soon emails go out it will say 11:59 the night before instead of 12:01am?  If that's the case, it doesn't sound like it's worth the effort.  The chances someone is renewing an NR at 12:01 is pretty slim.

For the Expired emai

[2022-02-02 00:27] janisrogers commented on #10570
@kialj876 I have linked the design

[2022-02-02 00:29] janisrogers commented on #10625
I have added a design for the dashboard screen in the description

[2022-02-02 00:38] lmcclung opened #10943 "Update report template to include SP/GP information"
Building upon existing business summary report template, insert/remove necessary components.

Firms SP Active [Page 1](https://invis.io/BQYD0C9JWRM#/466672233_Firms_SP_Business_Summary-Pg_1)
Firms DBA Active [Page 1](https://invis.io/BQYD0C9JWRM#/466672234_Firms_DBA_Business_Summary-Pg_1)
Firms GP Active [Page 1](https://invis.io/BQYD0C9JWRM#/466672235_Firms_GP_Business_Summary-Pg_1) | [Page 2](ht

[2022-02-02 00:42] lmcclung commented on #10632
Estimated 3 for PI planning purposes

[2022-02-02 00:44] lmcclung opened #10944 "Identify any datafixes needed for PROD data to display summaries correctly"

[2022-02-02 00:45] lmcclung commented on #10943
Estimated for PI Planning purposes

[2022-02-02 01:11] lmcclung opened #10945 "UI Design - SP/GP Dissolution Output + Email"
Design the following:
* PDF Output: "Statement of Dissolution"
* Email template ([email spreadsheet is here](https://docs.google.com/spreadsheets/d/17wMY9znmWMr2RoXH9S2elffC8uE7iifUGB5Hu3VVFpE/edit#gid=797805835))
* Output is similar to the statement of registration
* Only need the same tomb stone info as change filing and date of dissolution + completing party

### **Visual Design Comps:**
https:

[2022-02-02 01:14] lmcclung opened #10946 "Insert ceasing date where relevant"

[2022-02-02 01:15] lmcclung opened #10947 "Insert continued out information"

[2022-02-02 01:16] lmcclung opened #10948 "Insert staff payment component"

[2022-02-02 01:17] lmcclung opened #10949 "Insert upload component if necessary (continuation out)"

[2022-02-02 01:17] lmcclung opened #10950 "Insert payment component"

[2022-02-02 01:19] lmcclung opened #10951 "Dashboard changes (after filing completed) - verify?"

[2022-02-02 01:20] lmcclung opened #10952 "Output after filing complete"
UX ticket: https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/10945

[2022-02-02 01:21] lmcclung opened #10953 "Create email template"

[2022-02-02 01:21] lmcclung opened #10954 "Create report template"

[2022-02-02 01:21] lmcclung opened #10955 "Update document list"
Paid Status
- receipt

Completed Status
- receipt
- dissolution statement

[2022-02-02 01:23] lmcclung opened #10956 "Update My Business Registry to show as historical"

[2022-02-02 01:24] lmcclung opened #10957 "Auth UI updates?"

[2022-02-02 01:24] lmcclung opened #10958 "Legal API / listener updates"

[2022-02-02 01:26] lmcclung opened #10959 "Legal API validations"

[2022-02-02 01:27] lmcclung opened #10960 "Filer"

[2022-02-02 01:27] lmcclung opened #10961 "Filing types and fee codes"

[2022-02-02 01:29] lmcclung opened #10962 "Framework ticket for libraries"

[2022-02-02 01:29] doug-lovett commented on #10796
Hey Kial, shall I take this ticket? The bug is in the reg table query that computes the number of days to expiry, I think I have the fix.

[2022-02-02 01:32] lmcclung opened #10963 "Schema for LP & LLPs"

[2022-02-02 01:32] lmcclung opened #10964 "Schema for Extraprovincial LP & LLPs"

[2022-02-02 01:32] lmcclung opened #10965 "Schema for Extraprovincial Corporations"

[2022-02-02 01:33] lmcclung opened #10966 "Schemas for BC Companies Continued Out"

[2022-02-02 01:49] lmcclung opened #10967 "Build filing"

[2022-02-02 01:49] lmcclung opened #10968 "Filing UI - update dashboard"

[2022-02-02 01:49] lmcclung opened #10969 "Legal API - Backend"

[2022-02-02 01:50] lmcclung opened #10970 "Business Summary template updates for CP/BEN/GP/SP"

[2022-02-02 01:51] lmcclung opened #10971 "Authweb UI - update entity status on business registry dashboard"

[2022-02-02 01:54] lmcclung opened #10972 "Update Business Summary template to include dissolution information"

[2022-02-02 01:55] lmcclung opened #10973 "Insert dissolution info and status"

[2022-02-02 01:56] lmcclung opened #10974 "Verify works properly in Production"

[2022-02-02 01:58] lmcclung opened #10975 "Migrate transformed data to Postgres"
- Have the pipeline running on its own
- If we miss some/run into issues, we might update the pipeline

[2022-02-02 01:58] lmcclung opened #10976 "SP/GP data migration - Data cleaning"

[2022-02-02 02:00] lmcclung opened #10977 "Investigate ETL options for data migrations"

[2022-02-02 02:00] lmcclung opened #10978 "Figure out how to apply out of order conversion filings"
- [x] David to check if there are SP/GPs that have events before the registration conversion filing?  And how many.
- [x] Once we know if there are any, we can figure out what to do.

- [x] Linda to check with policy about doing data fixes and registrars notations or details.

[2022-02-02 02:07] lmcclung commented on #9371
duplicate of 9912

[2022-02-02 02:07] #9371 closed

[2022-02-02 02:16] lmcclung opened #10979 "Orgbook wrapper"
Since we won't be writing back SP/GPs to COLIN database, Orgbook needs to search both COLIN and Postgres databases to retrieve business information.

- should this scope just be for SP/GPs or all entities on postgres?
- any work on COLIN side to make sure it doesn't retrieve SP/GP/BEN/BC Coops?
- how will Orgbook look for postgres data?
- how to make sure it pulls DBA info

[2022-02-02 02:17] lmcclung opened #10980 "Identify tasks"

[2022-02-02 02:18] lmcclung opened #10981 "Implement tasks"

[2022-02-02 02:20] forgeuxGH5 opened #10982 "BUG - Unselected matches in the Table of Contents of Individual Debtor Search Result Reports."
**Describe the bug in current situation**

Unselected matches are appearing in the Table of Contents in Individual Debtor Search Result Reports.
It seem like if an unselected match is in the same base registration as a manually selected match, the unselected match is being displayed in the TOC (as well as the selected match).
This does not appear to be occurring for exact matches (i.e., if an exac

[2022-02-02 02:31] #9357 closed

[2022-02-02 02:31] lmcclung commented on #9357
not needed.  Will use Change filing instead.

[2022-02-02 02:47] lmcclung opened #10983 "Review/Update/Cancel/Replace batch jobs & reports"

[2022-02-02 06:13] rarya-freshworks commented on #10737
This ticket needs to be tested by entites team. Assigning it to @riyazuddinsyed

[2022-02-02 06:17] rarya-freshworks commented on #10884
I tested this and it is taking me to Join account flow as expected and not create account flow. @zac-broitman do we know if the the account that had this issue was BCeID or BCSC account?

[2022-02-02 07:20] rarya-freshworks commented on #6151
This is still an issue in test env as I can reproduce it following the steps very easily. Sending it back to dev @shabeeb-aot

[2022-02-02 16:06] #10900 closed

[2022-02-02 16:24] severinbeauvais commented on #6151
Verification of this ticket requires #10880 to be completed as well.

[2022-02-02 17:20] magszymanski opened #10984 "Send email to PPR users informing them of refund for Deleted Debtor searches Due: Feb 3"
This task has been completed; 75 accounts have received emails from us.

Emails are noted in the PPR folder in Engagement Mailbox.
Spreadsheet detailing all info is located in [Google Drive](https://docs.google.com/spreadsheets/d/1tSgCavumjuAxCrCo-K3YYPhe6R7V9A5z/edit?usp=sharing&ouid=109508011503764748857&rtpof=true&sd=true) and in Zenhub for those that cannot open Google files: https://app.zenhu

[2022-02-02 17:21] magszymanski commented on #10984
Data is faulty, connecting with Doug who pulled the data.
Will know more by 10am Feb 2.

[2022-02-02 17:22] magszymanski opened #10985 "Generic email to PPR clients to ensure they are aware of the known issues site"

[2022-02-02 17:30] stevenc987 commented on #10715
@thorwolpert @lmcclung
Could you please reply my question below so I can work on this?
How many minutes/hours delay would you like to put on the query to catch the rows? Thanks

[2022-02-02 17:33] mstanton1 opened #10986 "Name for new MHR"
Identify the new name for MHR.

[2022-02-02 17:35] mstanton1 opened #10987 "UI Design - MHR Search-Only Access User flow v2"
### UPDATED Visual Design Comps - MHR Search-Only Access Flow:
https://www.figma.com/file/0sD17BVTK7OwTqPRsAoreu/MHR-Account-User-Flow?type=design&node-id=447-34602&mode=design

UPDATED:
- All users must first have an active BC Registries Account
- All users must first add MHR Search-only to their account before having access to apply as a Qualified Supplier
- Simple flow without radio button QS o

[2022-02-02 17:36] ozamani9 commented on #8178
@lmcclung
I am working on that bug in ticket 10311, hope to wrap up this week.
-  the effort isnt much, just need to run a query to update the timestamp by 2 minutes (but i agree its minimal impact).
- The job runs at 8:15 am in the morning, so they both end up on same batch job.

[2022-02-02 17:38] mstanton1 opened #10988 "MHR Reports"
A number of reports are generated through BC Online today that may be required, in some way, as we move over to our modernized system.

[2022-02-02 17:39] cwulff1 opened #10989 "DECISION NOTE: Will we allow corporate search without identity verification?"
Corporate search is currently only availble to BCOL account users.  Currently, there is no verification for corporate search however the functionality is only available to a limited group of users.

In the Business Registry we want to open search to the anyone.  Do we require identity verification to perform these searches?

Cameron to complete a decision note.

[2022-02-02 17:40] mstanton1 opened #10990 "STAFF - review uploaded documents in queue"

[2022-02-02 17:40] mstanton1 opened #10991 "Client document upload (queue)"

[2022-02-02 17:42] magszymanski opened #10992 "Consolidate stakeholder feedback for PI planning - Assets - due Feb 2"

[2022-02-02 17:42] rarya-freshworks commented on #6151
The scenario that is mentioned in description is not working.
Another scenario which is not working is breadcrumbs. When navigating from breadcrumbs the account is getting switched which needs to be fixed as well.

Currently for testing I am verifying that account ID is showing in URL and when navigating to different UIs within relationships it stays the same.

For properly testing this ticket all

[2022-02-02 17:43] mstanton1 opened #10993 "Data Review"
Complete tasks required to understand and prepare data.

[2022-02-02 17:49] mstanton1 opened #10994 "RFC - Run PPR and MHR together"
Will MHR be part of the PPR page or are we copying PPR and re-using it separately for MHR?
Technically can MHR and PPR work together or are there concerns?
Combo search technical approach.

_Assumption: In the UI both MHR and PPR can fit together (based upon review from Scott)._

Large dependency on data (10993)

[2022-02-02 18:29] thorwolpert opened #10995 "TypeError: not all arguments converted during string formatting"
We get several hundred of these a day, so picking away at the ones throwing this error.

[2022-02-02 18:36] severinbeauvais opened #10996 "Legal API: when auth'ing a call, should validate Account ID"
Example:
1. go to Auth Web and login (eg, BCREG0001)
2. change to another account (eg, Orange and Apple Inc)
3. open an entity (eg, https://dev.bcregistry.ca/business/CP0001311)
4. observe that the current account is correct
5. in another tab, copy-paste the same entity's URL (as above)
6. observe that the current account has been reset to the first account (eg, asdfsd3333), which is incorrect
7.

[2022-02-02 18:42] magszymanski commented on #10992
Feedback is being provided to Melissa, Janis, and Patrick:
- Output font is too large
- Search scrollbar is inefficient in capturing exact and inexact matches
- Distinction between search and registration for accounting purposes
- Transaction history doesn't match PAD payments taken out at the end of the night

Info was shared with Melissa, Janis, Patrick, and Kaine on Feb 2. Previous feedback fro

[2022-02-02 19:01] thorwolpert commented on #10715
@stevenc987 how often is not relevant.
Add this to the existing job as suggested for IN_PROGRESS items. You'll need to reset it to the previous_state, not DRAFT.

[2022-02-02 19:03] mstanton1 opened #10997 "VERIFY: PPR Amendment Showing on Wrong Registration"
Dye & Durham noted the following amendment issue:

It almost seems like pending draft registrations are being submitted with information from totally different amendments from other amendment registrations.

Details:

• Yesterday we created a draft for 410842H for the addition and removal of secured parties, we were unable to submit due to error appearing on PPR UI. We left this pending in Registr

[2022-02-02 19:18] fareenr commented on #10985
Draft email for known issues, links and PPR resources and support saved in PPR Email Comms folder:
https://docs.google.com/document/d/18vvGLA9S-TVoeKoOEJl9PbjoHgyfwodP/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-02-02 19:29] stevenc987 commented on #10715
@thorwolpert
Thanks for your reply. I can set it to the previous_state without a problem. However, I am not sure what you meant "not DRAFT". Please review the following codes to see if it is what you need. Thanks.

        # for NRs showing in NRO_UPDATING status need to be set to DRAFT
        nro_updating_reqs = db.session.query(Request). \
            filter(Request.stateCd == State.NRO_UPDATIN

[2022-02-02 19:30] lekshmimallika-aot commented on #10907
@lmcclung Tested this notebook in TEST env. Resuts look ok to me. Are you okay with running this in PROD? @rarmitag can help to run this in PROD

[2022-02-02 19:35] severinbeauvais commented on #10898
The requirements above have been captured in a Story (linked as an Epic here >>> ).

Therefore this ticket is no longer required and I am closing it.

[2022-02-02 19:35] #10898 closed

[2022-02-02 19:37] severinbeauvais commented on #10756
Changed to lower priority than Account ID issues per PO sync today.

[2022-02-02 19:37] severinbeauvais commented on #10880
Changed to higher priority than login/logout issues per PO sync today.

[2022-02-02 19:37] kialj876 commented on #10796
Yes please!

[2022-02-02 19:37] shabeeb-aot opened #10998 "Update URLs with account id"
### Description

As a part of ticket #6151, the latest common components (v 2.4.38) can accept `accountid` as an URL parameter and set as current account in session storage. Some changes are needed in all page where a user can navigate between applications.

1. Breadcrumbs
2. Landing page links to application (may be handled by SbcHeader)
3. Dashboard
4. Navigation between apps, e.g; navigating to

[2022-02-02 19:43] severinbeauvais opened #10999 "Entity UIs: verify/fix account id sync when redirecting"
The account id needs to be passed as an URL parameter when navigating between UIs in different domains (eg, between Filings UI and Create UI).

The following Entity UIs need to be verified and/or fixed accordingly.

- [x] Filings UI
- [x] Create UI
- [x] Edit UI
- [x] Namerequest UI

**\*\* Please list all uses cases in a Test Notes comment below. \*\***

[2022-02-02 19:48] lekshmimallika-aot commented on #10834
@lmcclung Ran the notebook to fix alterations in TEST. BC0904370 now shows both name changes

[2022-02-02 19:52] jdyck-fw commented on #8335
Adding to current sprint as confirmed with Melissa.

[2022-02-02 19:59] lmcclung commented on #10907
@lekshmimallika-aot @rarmitag yes please

[2022-02-02 20:04] lmcclung commented on #10834
Looks great.  These notebook changes will also be included in the prod clean up to be done on the other alteration ticket right?

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/54349c99-364e-48aa-81dc-1869a9d05796)

[2022-02-02 20:04] thorwolpert commented on #10715
@stevenc987 update this job
https://github.com/bcgov/namex/tree/main/jobs/inprogress_update

and no, ther previous state will NOT be NRO_UPDATING, that is the current state.

Check how that job already works, follow the same pattern.

[2022-02-02 20:23] chdivyareddy commented on #10223
Sorry @jordiwes , one small fix for Registration type TL - It is a crown charge and the secured party modal should be changed to allow only one for Amendment.

Current Behavior:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/8b685db8-e8ae-4ae7-89b2-07c38c74103d)

[2022-02-02 20:31] jinghualicgi commented on #6577
@mstanton1 Melissa do you have final copy of this STRA? Can we close this ticket? Thanks

[2022-02-02 20:32] jinghualicgi commented on #9483
@mstanton1 is the work done? Can we close this ticket? Thanks

[2022-02-02 20:47] lekshmimallika-aot commented on #10834
Yes. The same notebook was ran in TEST to confirm whether it is working as expected

[2022-02-02 20:56] fareenr commented on #10817
Updated BCeID Admin distribution list with current email addresses from BC ROS saved here:
https://docs.google.com/spreadsheets/d/1FWC_5avtohrodz7pLSPK_6JlvG1LUaea/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-02-02 20:57] fareenr commented on #10824
1-Feb - Cameron confirmed he has contacted the Ministry Admins that requested multiple accounts

[2022-02-02 20:57] fareenr commented on #10824
Draft email for Ministry Admins saved here:
https://docs.google.com/document/d/1GRdb4UPY6rFt9yzIwUGXZ17R4rZNuvGmGMdLbbktkrg/edit?usp=sharing

[2022-02-02 20:59] fareenr commented on #10820
Reviewed and saved change comms plan for Multiple Accounts here:
https://docs.google.com/document/d/1w2-Lr24-keEnzOjlLNtowtsYr3WDst4r/edit?usp=sharing&ouid=113153109779983451774&rtpof=true&sd=true

[2022-02-02 21:02] chdivyareddy commented on #10997
@mstanton1 , I have verified these scenarios in TEST and which is working as expected. (501833N, 501824N)

Base Reg: **501833N**
- Addition and Removal of Secured Parties as Draft and then submitted successfully (501836N)
- Addition & Deletion of General Collateral and submitted successfully (501835N)

Base Reg: **501824N**
- Addition of Details Description and submitted successfully (501837N)
- A

[2022-02-02 21:13] #9483 closed

[2022-02-02 21:19] jinghualicgi commented on #10924
@PatrickAHeath Can you verify this in PROD?

[2022-02-02 21:28] mstanton1 opened #11000 "Collect Registering Party Code in Account Information"
Currently registering party is defaulted based upon the account a user is logged into. The account name and address pre-populate. There is no option to add a registering party code as part of account information so if a client wishes to use a registering party that has a code they must update the registering party on each registration.

Alexander Holburn Beaudin + Lang LLP has noted it would be pr

[2022-02-02 21:42] PatrickAHeath opened #11001 "UI - PPR - Add ability to print draft registrations/amendments"
Received through Teams Chat on Feb 2/2022 from staff.

[2022-02-02 21:46] mstanton1 commented on #10997
@doug-lovett do we store the data that was entered in a draft after submission has taken place? If so can you please confirm the data entered in 410842H and 485343N?

[2022-02-02 21:47] PatrickAHeath opened #11002 "PPR - Display Document Number for draft registrations/amendments in the Registrations table on the dashboard"
Feedback from Teams Chat Feb. 2/2022 from staff.

[2022-02-02 21:50] PatrickAHeath opened #11003 "PPR - Add Base Debtor as a column in the Registrations table"
Feedback from Teams Chat Feb. 2/2022 from staff.

add BASE DEBTOR column so they can at least sort by debtors (they are doing 20 PPSA's for TD BANK all at same time -there is no way to distinguish which draft is which (same folio #)

[2022-02-02 21:53] mstanton1 opened #11004 "Open Verification Statements"
User Feedback from ESC (Lindsay Boudreau): For higher volume users because the table is so large it is harder to obtain the PDF for a verification statement when you are sent back to My Registrations and need to look up the registration. The request is that when you submit an amendment through the UI it doesn't take you back to the registrations table to input the reg number and try to retrieve th

[2022-02-02 21:59] jinghualicgi commented on #10797
@severinbeauvais Hi can you add est. on this ticket? Thanks

[2022-02-02 22:01] jinghualicgi commented on #10852
Since normally we don't put Bob's effort est., I put 0 as est.

[2022-02-02 22:01] severinbeauvais commented on #10797
This is already working as expected, so no work needs to be done. The estimate is 0. This ticket can be closed.

[2022-02-02 22:09] mstanton1 commented on #9479
Closing. Staff types were set up under team members IDIRS. Changes to IDIR access in PROD have been reversed. For a PROD account, Kaine had set up a PROD PAD account.

[2022-02-02 22:09] mstanton1 commented on #9479
Closing. Staff types were set up under team members IDIRS. Changes to IDIR access in PROD have been reversed. For a PROD account, Kaine had set up a PROD PAD account.

[2022-02-02 22:09] #9479 closed

[2022-02-02 22:11] Maribeth-Wilson opened #11005 "SP/GP Transitioning from legacy app to new application"
includes data migration, etc.
impact to clients - they will have to go to a new system
impact to staff - they will have to log on to a new system

[2022-02-02 22:13] severinbeauvais commented on #10311
I think there's a problem above. The expiry date should be Feb 10, 2022 at 12:59 pm Pacific time.

[2022-02-02 22:21] Maribeth-Wilson opened #11006 "SP/GP Transition - obtain client emails"

[2022-02-02 22:23] Maribeth-Wilson opened #11007 "SP/GP Transition - define process to affiliate the entity"

[2022-02-02 22:24] Maribeth-Wilson opened #11008 "SP/GP Transition - create awareness"
Create Awareness with the existing registered entities:
- influencers &their comms channels
- bc gov website
-review all apps and website to see what needs to be updated

[2022-02-02 22:26] Maribeth-Wilson opened #11009 "SP/GP Transition - OneStop Demo (for OCM team)"
review and walkthrough current applications

[2022-02-02 22:31] Maribeth-Wilson opened #11010 "SP/GP Transition - review website content to see what needs to be updated"
Review website content - what updates are needed, i.e., web pages, Remove forms, etc. (t)

[2022-02-02 22:36] Maribeth-Wilson opened #11011 "SP/GP Transition - investigate staff processes re. corp amalgs and DBA input"

[2022-02-02 22:37] Maribeth-Wilson opened #11012 "SP/GP Transition - investigate staff processes (corp amalgs, DBA input)"

[2022-02-02 22:38] lekshmimallika-aot commented on #10907
Thanks @rarmitag for running this in Prod. @lmcclung Could you please check the entities listed in this ticket and a few others

[2022-02-02 22:40] Maribeth-Wilson opened #11013 "SP/GP Transition - OneStop partners change plan"
to manager onboarding of partners

[2022-02-02 22:56] Maribeth-Wilson opened #11014 "SP/GP Transition - building knowledge and abilities to support clients"

[2022-02-02 22:56] lmcclung commented on #10907
@lekshmimallika-aot @rarmitag thanks for your hard work on this.

I checked the two above and they look good.  Also checked a few other business type alterations and a couple name alterations.  All look good.

Can you put points on this for the work you did and move it to Done?

[2022-02-02 22:59] ozamani9 commented on #10311
This NR was not converted from 8:01 to 7:59 yet....  so it should display 12:01am instead of Feb 9th 11:59pm.   but ping me in rocket chat if i am missing something

[2022-02-02 23:00] mstanton1 opened #11015 "Only allow 1 draft amendment at a time"
Only allow users to create one draft at a time.

[2022-02-02 23:02] Maribeth-Wilson opened #11016 "Batch Jobs & Reports/ webservices (LTSA, IDIM)"
Review/Update/Cancel/Replace

[2022-02-02 23:02] mstanton1 opened #11017 "Registration Table updates"
Implement the following Registration table updates:

- Change "Registration Date" column header to "Date"
- Change "Registered By" column header to "Username"
- Add date (last modified) and Username for drafts
- keep light gray background for drafts that are under Parent rows
- Draft rows that are under parent rows should be shown in chronological order with other rows

Visual Design Comps (Zenhub

[2022-02-02 23:04] mstanton1 commented on #10340
@tlebedovich thank you. Split into two tickets for Grooming (Zenhub 11015/11017) and added to PPR Post Go Live EPIC to be prioritized.

[2022-02-02 23:04] Maribeth-Wilson opened #11018 "SP/GP LLSA - determine impact"
awareness of service change

[2022-02-02 23:06] lekshmimallika-aot commented on #10907
Sure

[2022-02-02 23:09] Maribeth-Wilson opened #11019 "Business Registry API - Specs"

[2022-02-02 23:13] #1122 closed

[2022-02-02 23:13] #1260 closed

[2022-02-02 23:13] #1312 closed

[2022-02-02 23:13] #1313 closed

[2022-02-02 23:13] #2773 closed

[2022-02-02 23:13] #3283 closed

[2022-02-02 23:13] #3973 closed

[2022-02-02 23:13] #4101 closed

[2022-02-02 23:13] #6114 closed

[2022-02-02 23:16] Maribeth-Wilson opened #11020 "Business Registry - develop awareness"
reach out to broader audience
strategy to high volume clients - do you use automated systems

[2022-02-02 23:18] jyoti3286 opened #11021 "Change Bank Account Name to BC registry Account Name"
#### Cora's email(Issue description)
While reviewing the daily merge reporting I noticed the CFS BC PAD file the volume of payments has significantly increased and that the payor name appears now to be the BC Registries account nbr not the account holder name on a number of the payment transactions.  The banking information is unique for each different payor name.

So far the banks are posting the

[2022-02-02 23:20] Maribeth-Wilson opened #11022 "Business Registry - review support model for API"

[2022-02-02 23:32] Maribeth-Wilson opened #11023 "Business Number API"

[2022-02-02 23:51] doug-lovett commented on #10997
reg num 512002N	base reg 485343N draft id 1902323
Registration json data stored as a draft:
{
  "changeType": "AM",
  "baseRegistrationNumber": "485343N",
  "description": "",
  "registeringParty": {
    "businessName": "OSLER, HOSKIN & HARCOURT LLP (A. KOVALEV/L. GIDARI/1209009)",
    "emailAddress": "ppsacentre@osler.com",
    "address": {
      "country": "CA",
      "street": "1 FIRST CANADIAN

[2022-02-02 23:55] forgeuxGH5 opened #11024 "UI DESIGN - Display the Base Registration information in the History Section for registrations with amendments and renewals"
The base registration should be included in the verification statements once a registration has been amended or renewed to assist users in determining the changes made to the registration.

Display the base registration information in the History section for registrations with amendments and renewals, including:

Amendments (any amended data, including Details Description and Court order)
Renewals

[2022-02-02 23:57] forgeuxGH5 commented on #11024
@jinghualicgi @mstanton1 do we have a dev ticket for this?

[2022-02-03 00:12] forgeuxGH5 opened #11025 "UI DESIGN - Improve account login expiry/log out handling for PPR"
Currently  there is no obvious indication that the user account login has timed out / expired there is no obvious indication. The user can act in the interface but failures occur and the application appears buggy.

Check the account login time - I thought this was supposed to be high - like 8 hours

If the account log in is timed out / expired, the application should display the Login page. Prefer

[2022-02-03 00:14] forgeuxGH5 commented on #11025
@jinghualicgi @mstanton1 FYI - we may start seeing calls because of this (or we might be already)

[2022-02-03 00:21] lmcclung opened #11026 "UX/UI Research with key users"

[2022-02-03 00:46] doug-lovett commented on #10997
reg num 511688N base reg 410842H existing draft. If there is an existing draft the API is not updating it when the registration is created, which I think should change as we are using the draft as an audit record. Here is the draft data from the last draft save. This may not have been what was submitted. It looks like they tried submitting, there was a validation error, they saved the draft, then

[2022-02-03 00:53] doug-lovett commented on #10997
The only thing that changed in each amendment is the general collateral. And from the drafts they look identical. It could be a user cut and paste error.

[2022-02-03 05:11] rarya-freshworks opened #11027 "Account Name is not Changing on UI"
Description:
When switching between accounts when logged in as IDIR user the account name does not change in Account Info Page. The switch between account ID is seen correctly along with address.

Notes:
Attached is the video recording.
https://images.zenhubusercontent.com/157936592/b3e3133e-2d32-4478-b9e8-5bad370a3033/account_name_switch.mov