[2021-04-27 21:28] severinbeauvais commented on #7246
Reproduction Steps:

1. go to https://www.bcregistry.ca/namerequest/
2. select action= Register or Incorporate a
3. select jurisdiction = Extrapro (Canada)
4. select business type = any
5. select home jurisdiction = Alberta
6. enter corporate number = 2023326222
7. click Search

After about 15 seconds, this fails ("Corporate Number Not Found") and an error is printed to the dev console:
[code]

So

[2021-04-27 21:42] rkim13103 commented on #7070
@jyoti3286
The ticket says It's blocking 7071
According to our meeting last week, there won't be a turn on or off option.
Should we remove 7071?

[2021-04-27 22:05] rarmitag commented on #7278
It should be visible now.

[2021-04-27 22:05] amit4610 commented on #7085
Developers will look and come back with suggestions @saravanpa-aot

[2021-04-27 22:14] amit4610 commented on #7104
@pwei1018 to look at the way to support.

[2021-04-27 22:19] tlebedovich commented on #7344
@Kaineatthelab I just reviewed the current version of the PPR PDF outputs from a UX and Visual design POV and it requires a number of updates. The original output was built based on rough wireframes and we now need to update them to get them aligned to the final visual design and make all the needed adjustments and fixes.

I put this in the Backlog now but maybe you could add it to your PPR Epic s

[2021-04-27 22:26] mstanton1 commented on #6907
@mstanton1 to check with Thor on location for storage. Goal is to include things like Partner Onboarding, PPR requirements, refunds etc.

[2021-04-27 22:28] severinbeauvais commented on #7085
This no longer reproduces in Dev. It may have been fixed by #7304.

[2021-04-27 22:58] kialj876 commented on #7349
@mstanton1 sumesh completed this with me. They should be able to start again now

[2021-04-27 22:59] kialj876 commented on #7348
@mstanton1 I talked with sumesh and he said they just need to clear their cookies or try an incognito window. This is usually the result of a session storage issue when they were logged in with IDIR or a previous bceid before trying this

[2021-04-27 23:00] #7348 closed

[2021-04-27 23:00] #7349 closed

[2021-04-27 23:20] Sienna-Blumstengel commented on #7309
**just got this from Jenn**

@kialj876 please investigate

[2021-04-27 23:30] Sienna-Blumstengel commented on #7278
Thanks Richard, looks great!!

@lmcclung i sent this email to you and Lance:

(and the zenhub issue)

[2021-04-27 23:39] lmcclung opened #7354 "Create UI & Edit UI - Par Value of share classes should have more than two decimal places."
**Describe the bug in current situation**
Currently we have the following validations for par value of a share class
Par value and currency is editable if user indicates that the share does use par value
- No letters
- No special characters, aside from:  Decimals allowed
- Amounts less than 1 can be entered with up to 3 decimal places. For example: 100.00 Canadian Dollar .333 U.S. Dollar 9.239 Eng

[2021-04-28 00:27] tlebedovich commented on #7078
hi @doug-lovett

Where can I see the UI banner in action?

Can you include a link to a current OUTPUT so I can see the watermark and the "TEST DATA" text in the footer as per the design comps?

[2021-04-28 00:37] tlebedovich commented on #6978
@doug-lovett It doesn't look like Registration Step 1 and Fee Summary/Stepper is ready for Visual Design UX Assurance (considering we are still finalizing the design). So I'm not sure if you want us the wait until the visual design is done and implemented?

To note - for the Registration pages, they should be using the same two column widths as our Alterations app and Entities dashboard (ie the co

[2021-04-28 01:03] Kaineatthelab commented on #6978
@tlebedovich I think we will have to move forward with the UXPins in these cases we don't have other things to build. We will have to come back and add the changes after.

[2021-04-28 01:14] doug-lovett commented on #7078
Hi @tlebedovich, the dev link to the UI is https://ppr-ui-dev.apps.silver.devops.gov.bc.ca/ppr
To see the report output, you need to complete a search, then download the report.

[2021-04-28 02:59] riyazuddinsyed opened #7355 "Testing the NameRequest and Namex Application."
**Please do update anything important thing to be tested::**

-  Without Login in Name Request:
- - File different types of NR's for a Benefit company with all valid types.
- - Follow along with different types like and file the Nrs with all valid Actions(Like Amalgamation, Alter, Relocate, etc)
- - Complete both the Normal payment as well as premium payment.
- - Validate all the Emails being gene

[2021-04-28 15:10] mstanton1 opened #7356 "Authentication Error - NR2456767"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Debbie Blyth / Joshua Thiessen
Staff Email: Debbie.Blyth@gov.bc.ca / Joshua.Thiessen@gov.bc.ca

#### Description
I just got off a call with a lawyer that was attempting to upgrade a standard NR to Priority and when he tried to login with his BCeid online and authenticat

[2021-04-28 15:19] mstanton1 commented on #7085
@Milan-Freshworks can you please verify this is not occurring for you either? If so we can close it. Thanks!

[2021-04-28 15:47] pwei1018 commented on #6986
@mstanton1

Hello Patrick,

Thanks for reaching out 😊

Unfortunately, this is not currently available.

However, it's a great idea. In fact, we already have this in our development pipeline as it was suggested before as well. The more times an item is mentioned by our users the higher we prioritize it and the faster we will get it done - so this just got upvoted. 😃

in the meantime, you can use th

[2021-04-28 15:51] severinbeauvais commented on #7304
@jyoti3286 @saravanpa-aot Can the auth-web changes made by this ticket ([in this PR](https://app.zenhub.com/workspace/o/bcgov/sbc-auth/issues/1565)) be deployed through to Test/Prod today? This is very low risk but will allow NR UI to use the full KC/login data, as required by this ticket. Thanks!

[2021-04-28 15:55] jdyck-fw commented on #7322
Currently supporting Louise with troubleshooting 2fa for GitHub.

I sent an invite link to Entities chat in RocketChat

[2021-04-28 15:56] jdyck-fw commented on #7299
Eve has been added to the #registries-ops channel and has verified 2fa in GitHub, next is getting access granted.

[2021-04-28 15:58] doug-lovett commented on #7340
The API log shows a failed pay-api refund request. Follow up with Sumesh, here are my notes:
In dev/test PPR PAD immediate payment refunds are failing (immediate meaning within a few seconds of the payment).
The initial status for PAD is APPROVED, which looks to me like an incomplete state.
When I try a refund on a PAD APPROVED status invoice payment using DELETE /api/v1/payment-requests/{invoice_

[2021-04-28 16:03] tlebedovich commented on #7078
Thanks @doug-lovett - I don't see the yellow test data banner on the main dashboard page. I am unable to do a serial number search in dev right now - I'm trying using 999999 - is there a test serial number that will work? I'm just getting an error:

![Screen Shot 2021-04-28 at 9 00 40 AM](https://user-images.githubusercontent.com/2207887/116435465-3a820d00-a800-11eb-9a5c-30184d80b6b3.png)

[2021-04-28 16:12] amit4610 commented on #7300
client account is set up in prod.

[2021-04-28 16:12] #7300 closed

[2021-04-28 16:14] saravanpa-aot commented on #7304
@severinbeauvais I can do that. Did we get approval from @forgeuxGH5 or do we have to wait for it?
Will be hard to revert it back if we don't have approval.
@jyoti3286

[2021-04-28 16:17] doug-lovett commented on #7078
In dev this is what I see on the dashboard page:![Screen Shot 2021-04-28 at 9.15.56 AM.png](https://images.zenhubusercontent.com/5e433f96990532730acff67f/327ccfa2-9e48-48c5-be30-73a09cf6f750)

[2021-04-28 16:24] forgeuxGH5 commented on #7304
I'm still looking at the scenarios - there are bugs in the account switching. I also can't get payment to go through with PAD - I get an error, but it's not my account so I'm not sure how the account is set-up (if it actually works). I'm just finishing up my review and I'll post here ASAP.

[2021-04-28 16:36] Kaineatthelab commented on #7304
@saravanpa-aot do you have 10 min to discuss the bugginess? maybe 950?

[2021-04-28 16:37] severinbeauvais commented on #7304
Yes, PAD payment is known error (see #7332).

Try bcreg0001 with user "BC ONLINE TECHNICAL TEAM DEVL".

[2021-04-28 16:38] forgeuxGH5 commented on #7304
Here's where I'm at:
Payment on Premimum account with PAD didn't go to credit card but did not go through on PAD - encountered error. Will retry with different account.
Logging in from Name Request remains on Name Request page after log in - Yes
Logging in from Name Request retains information entered prior to log in - No - clears data
Switching account from Name Request remains on Name Request vi

[2021-04-28 16:40] cameron-freshworks opened #7357 "Filings UI - Refactor data, & update data in filing history"
#### Tasks

- [ ] Fetch new list of filings data (based on RFC, backend might be a dependency) -- Currently Blocked by #7195
- [ ] Unit tests

#### Testing Notes
- We can get the changes in, break the current UI (it won't entirely break it, based on our methods).
- dev may be broken for a day
- Ideally we have time to update the mock service

[2021-04-28 16:53] doug-lovett commented on #7078
Search in dev should work now. Here's an example with watermark from dev.
[https://app.zenhub.com/files/157936592/6dc56732-0930-43d9-a266-f24e59c910b1/download](https://app.zenhub.com/files/157936592/6dc56732-0930-43d9-a266-f24e59c910b1/download)

[2021-04-28 16:56] severinbeauvais commented on #7304
Yes, but this change (in auth-web) has low impact either way: either NR UI opens in a new tab, or in the same tab. So does it matter? (Should make approval easier?)

[2021-04-28 17:06] mengdong19 commented on #7335
Rejected account name has been updated to 'MORTON LAW LLP - REJECTED', client should be able to reuse the name now.

[2021-04-28 17:16] severinbeauvais commented on #7332
Unless we have another "PAD failure" ticket, this ticket is now P1 again... per @Kaineatthelab , this needs to work.

[2021-04-28 17:17] tlebedovich commented on #7078
Thanks @doug-lovett - Here's my feedback for the top yellow banner. And I will make a second ticket for OUTPUT UX Assurance as a whole so it doesn't hold up this ticket.

![Screen Shot 2021-04-28 at 10 08 38 AM](https://user-images.githubusercontent.com/2207887/116445617-ef212c00-a80a-11eb-8a64-84f08d8725a0.png)

[2021-04-28 17:18] jyoti3286 commented on #7304
Thanks @severinbeauvais . This is good to go from our side. @saravanpa-aot is deploying the changes to test and we are planning to do a release on Thursday so this will be part of that. @Milan-Freshworks is doing the regression, perhaps @riyazuddinsyed should also do it from his end.
@Kaineatthelab @lmcclung - FYI

[2021-04-28 17:19] mstanton1 commented on #7356
@mengdong19 I followed up with Joshua based upon the feedback above. The client has already tried additional browsers. Another computer is not an option at this time.

Before we considered reaching out I wanted to verify the client hadn't successfully logged in this morning and pushed the request through as a priority. When we searched the NR 2456767 in both Name Request (https://www.bcregistry.ca

[2021-04-28 17:22] amit4610 commented on #7335
advised the business. @mengdong19 please put an estimate and close this.

[2021-04-28 17:51] Kaineatthelab opened #7358 "PPR Visual Design Changes - Step 1, Stepper, Fee Summary, Review Page (Step 1)"
This ticket is to update the Visual/UI Design to match the current design comps. Items that should be updated include:

- [x] New segmented Registration button on the Dashboard (above table)
- [x] Stepper (including styling, icons, errors)
- [x] Fee Summary component
- [x] Bottom Buttons (we decided not to anchor these buttons)
- [x] Adjust the two content column widths for this App to match with

[2021-04-28 17:59] lmcclung opened #7359 "Load in multiple conversion filings and filings with effective dates prior to conversion filing"
## background
This is a continuation of ticket #4711.

## Description
This ticket has two parts:
- [ ] apply multiple conversion ledgers to postgres
- [ ] apply any other filings that have an EVENT_TIMESTMP in oracle prior to the conversion ledger EVENT_TIMESTMP

### There can be multiple conversion ledger filings.  We need to bring over and apply them.:

CONVICORP - Incoporation Application pre C

[2021-04-28 18:12] cameron-freshworks commented on #7145
@tlebedovich Everything is possible! The fix is in review :)

[2021-04-28 18:18] mstanton1 opened #7360 "Update wording on Affidavit template"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Myra Noviello
Staff Email: Myra.Noviello@gov.bc.ca

#### Description
Myra identified during staff training that the current affidavit template suggests you need to go to a Notary to have your identity affidavit notarized. In other spots we specify to visit a lawyer or N

[2021-04-28 18:34] mengdong19 commented on #7076
FYI, example that user can't reuse the name:
https://github.com/bcgov/entity/issues/7335

[2021-04-28 18:36] #7335 closed

[2021-04-28 18:37] lmcclung commented on #7353
@vyhakh-menon-aot just realized the completing party ins't displaying (wrote this too late at night).  I'll update ticket.

[2021-04-28 18:39] jdyck-fw commented on #6939
@rkim13103 will create a Design ticket linked to this. We have a requirement to show the the names in three different lines. It would be nice if they were numbered too. We want the names in the priority order, even if they aren't numbered.

[2021-04-28 18:45] lmcclung commented on #7353
@vysakh-menon-aot in case you weren't aware, there are two ways to do an alteration...

1) if an existing benefit company, there's a button at the top of the entity dashboard to change company information
2) if altering to become a benefit company, devs would put a draft filing the the dashboard to do list.  Log in and then you can use: https://business-create-dev.apps.silver.devops.gov.bc.ca/busi

[2021-04-28 18:48] #7167 closed

[2021-04-28 18:48] #7314 closed

[2021-04-28 18:49] #7131 closed

[2021-04-28 18:49] tlebedovich commented on #7353
@vysakh-menon-aot - I have added the Visual Design comp in the description above so you know how to style the legal note on the Certify component (staff and non-staff versions)

[2021-04-28 18:51] mstanton1 commented on #7251
Sateesh has been added in Rocketchat, and granted access in Zenhub.

Sateesh has logged on  DEV so I have completed the access request for the Business Registry in Dev.

[2021-04-28 18:51] #7251 closed

[2021-04-28 18:54] mstanton1 opened #7361 "Duplicate NR's received - NR 6058776 & NR 9069650 - WANWELL HOLDING CORP."
#### ServiceNow incident:
INC0088187
#### Contact information
Staff Name: Jenn Weldon
Staff Email: Jennifer.Weldon@gov.bc.ca

#### Description
We received a duplicate submission for the name, WANWELL HOLDING CORP. which was submitted in Name Request on April 27:

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/799b3d1f-19e5-44fc-a35b-956a9ceff1a5)

It appears NR 6058776

[2021-04-28 19:09] tlebedovich commented on #7353
@lmcclung and @vysakh-menon-aot -

To note, here is how I was able to reproduce the Certify validation bug mentioned above:

1. Go to this alteration in DEV
https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/edit/BC1230034/alteration

2. Make a change to Name Translation (to trigger Review and Confirm button)
3. Go to Review and Confirm page
4. From Review and Confirm page, leave

[2021-04-28 19:16] mengdong19 commented on #7361
NR 9069650 is paid but NR 6058776 has no payment record in pay-db.
![image](https://user-images.githubusercontent.com/47155284/116460113-868e7b00-a81b-11eb-8696-bfdd295813b0.png)

[2021-04-28 19:22] rkim13103 opened #7362 "UI Design -Transactions / Statements for PPR and Name Request"
UI Design to show additional information in Transaction and Statements for PPR and Name Request.

1.PPR :
PPR users may complete large volumes of searches for the same type of search (e.g. lien search). In order to understand what a charge was for they will require additional information on the search that was performed. This should be added into the transaction reporting / statements.

-View sear

[2021-04-28 19:23] rkim13103 commented on #6939
Created a design ticket and added as a dependency

[2021-04-28 19:25] tlebedovich commented on #7145
BOOM. moving this along. Thanks!

[2021-04-28 19:29] cameron-freshworks commented on #7145
Lol thanks! We did it 😁  (for now)

[2021-04-28 20:13] mstanton1 opened #7363 "Account creation failed - Golbey Law Corporation"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident: INC0088255
#### Contact information
Staff Name: Kristopher Yee
Staff Email: Kristopher.Yee@gov.bc.ca

#### Description
I'm trying to set up our account for the new Name Reservation system, but I keep geting an error message every time I try to hit "create account". Please advise.

![image.png](https://imag

[2021-04-28 20:30] amit4610 opened #7364 "NR payment through BCOL doesn't works"
Title of ticket: [Entity number and name] or "Account Management"

Hi,

I’m having issues with the new portal taking payment for a name reservation through our BC Online Account which is connected to my BC Online. It continues to ask me for a credit card number. Is there a way around this? I previously contacted the help desk and they recommended that I try submitting the name reservation through

[2021-04-28 20:35] #6932 closed

[2021-04-28 20:36] mengdong19 commented on #7363
May I know the user's name or login id?

[2021-04-28 20:40] amit4610 commented on #6946
@trishreimer can we close this given the presentation is over?

[2021-04-28 20:45] mstanton1 commented on #7173
Covered in 7242.

[2021-04-28 20:45] #7173 closed

[2021-04-28 20:47] #7281 closed

[2021-04-28 20:47] mstanton1 commented on #7281
Covered in 7290.

[2021-04-28 20:53] mstanton1 commented on #7361
@mengdong19 thanks for verifying payment!

Can you work with somebody on the names team to look into how the unpaid NR 6058776 ended up being examined? Jenn's note above explains her understanding of how this works now, based upon recent changes. Can you also work with somebody on the names team to cancel NR 9069650. When cancelled please ensure we do not refund payment, as the client still receiv

[2021-04-28 21:02] amit4610 commented on #7171
covered in 7172

[2021-04-28 21:02] #7171 closed

[2021-04-28 21:06] amit4610 commented on #7285
@stevenc987 all yours with pleasure :)

[2021-04-28 21:24] mengdong19 commented on #7361
@kialj876 will check if there's payment in other system and look into the issue.

[2021-04-28 21:37] amit4610 opened #7365 "Name Request - encountering an ERROR"
Good Morning,

I am trying to TEST something through Onestop in TEST and when I try to create a Name Request is goes into error with this message. Can someone please look into this and advise?

Thank you

Patty Stemkens
Business Analyst
![test.jpg](https://images.zenhubusercontent.com/5e1f4aaaec1d5f0f64e7c1cd/2afd73fb-69d2-4e1f-bd0c-a58d6a0c81ba)

[2021-04-28 22:01] amit4610 commented on #7365
client was able to create a NR

[2021-04-28 22:01] #7365 closed

[2021-04-28 22:27] kialj876 commented on #7361
Okay after checking I'm not sure how this one got into draft either. We still have some issues concerning the duplicate NRs so they are probably linked. We haven't seen any other cases like this so far that I'm aware of

[2021-04-28 22:31] amit4610 commented on #7162
I don't see this account set up in Prod in any of the tabs, followed up with the business again for screenshots.

[2021-04-28 22:36] mstanton1 commented on #7363
I have forwarded the client email which came from Cindy Esposito. Aside from that we can pull account name "Golbey Law Corporation", Account Number 284630, and Prime Contact ID PA86412. Is there a way to do lookup using this or do we need to reach out to the client to confirm further details?

[2021-04-28 22:39] kialj876 commented on #7361
So after looking into this further, I think it failed to complete in namex after it created NR 6... in namesp (so it didn't create it in namex). Then they tried again and created NR 9... After that the NR 6.. was synced BACK to namex from namesp via the extractor (normally just happens for NRs that come through NRO which explains no payment info since we don't collect the payment stuff for NRO req

[2021-04-28 22:39] forgeuxGH5 commented on #7362
here are the requirements for the PPR fields - names can be pretty long:
https://docs.google.com/spreadsheets/d/1Fjc6_Wvw462046Szd8ucn4OHWJffxvj5sc5p3WxhQeY/edit#gid=133408473

Name Request name can be a max of 350 characters for each name

[2021-04-28 22:40] kialj876 commented on #7361
The fix for this will be included in refactoring the backend for namerequest which already has a ticket

[2021-04-28 22:50] mstanton1 commented on #7185
Client is still showing in the invitations tab. The invitation has expired. I have sent a follow up email to Julie to ask she re-send the invitation and reach out to the client again with options for logging in.

[2021-04-28 22:53] mengdong19 commented on #7363
I only find one user related to Golbey, username 'golbeylaw@bceid', no files uploaded by this user, no contacts or orgs created by this user.  We'll need to confirm if this is the bceid they are using and the screenshot for the inputs of each steps to identify issue.

[2021-04-28 23:11] mstanton1 commented on #7242
Questions have been addressed, and resources have been sent to the team leads for distribution.

1. For members of the legal community, can a notary or lawyer from their firm notarize an identity affidavit for them? _BC Online Admin does not check whether the lawyer or notary is from the same office a client works at. BC Online Admin will, however, check that the lawyer or notary is currently lice

[2021-04-28 23:12] #7242 closed

[2021-04-28 23:21] mstanton1 commented on #7361
I have provided the information back to Jenn Weldon. She will confirm if this can be closed.

[2021-04-28 23:29] amit4610 opened #7366 "Reset otp for client"
Title of ticket: [Entity number and name] or "Account Management"

An addition to INC0087916 : BCROS/NRO -- Created Premium account, authenticated but cannot now log in
•	I have not yet created a new incident ticket.

Carissa set up her account on BCROS/NRO.  She is trying to access the account to see how it works to log on.  She enters her Basic BCeID credentials and is asked to enter the One Tim

[2021-04-28 23:30] lmcclung opened #7367 "BC1156638 - LIGHT TRAIL CONSULTING LTD. - why is Annual Report stuck in pending payment?"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident: n/a
#### Contact information
Staff Name: Linda
Cleint Email: Anita Sather <als@ksw.bc.ca>

#### Description
Why is Annual Report stuck in pending payment?  Sounds like it's showing up in her BCOL transaction summary report.

Email from client:

Hi Linda,
Sorry to bug you again – are you able to login to my

[2021-04-28 23:32] kialj876 commented on #7361
Hey @mstanton1, we've actually added this to the namex rework epic so that it gets verified

[2021-04-28 23:32] amit4610 commented on #7366
reset otp for client

[2021-04-28 23:32] #7366 closed

[2021-04-28 23:32] mstanton1 commented on #7363
I've sent the following to the client to request further details:

We’ve reviewed in our system and are hoping you can provide some additional information to help us pinpoint the cause of this error.

Can you verify the BCeID you are using for this account?
Can you please provide screenshots of each step of the completed screens during account set up so we can look at the data being input?

Please

[2021-04-28 23:34] mstanton1 commented on #7361
Even better. I'm going to unassign @mengdong19 and remove our Milestone. Thanks @kialj876

[2021-04-28 23:51] lmcclung opened #7368 "Verify - Change request CHG0030850"
Home team is working on Change request CHG0030850 so that when a company changes its name as part of an alteration the old name is availale for use again.

### Scenario 1: Alter from a BC LTD or ULC to become a benefit company and change name at the same time.

Steps to reproduce:
1) Start with a LTD or ULC that is NOT a numbered company
2) File the alteration and change the name (to either new NR

[2021-04-28 23:56] lmcclung commented on #7368
This is the update the home team will make:
NOALD, NOALE, and NOALR need to be added to namesp.batch_util_pkg.colin_name_change_sync:

      SELECT cn.corp_num, cn.corp_nme
        FROM corp_name@colin cn, event@colin e, filing@colin f
       WHERE cn.end_event_id = e.event_id
         AND cn.corp_name_typ_cd IN ('CO', 'AS')
         AND e.event_timestmp > p_from_date
         AND f.event_id = e.e

[2021-04-28 23:56] saravanpa-aot opened #7369 "Fix account name display in pending pages"
![Request_wrong product](https://user-images.githubusercontent.com/39633456/116486665-fcf2a380-a842-11eb-9b59-f7ec7c5bf6e6.png)
![Wrong_name](https://user-images.githubusercontent.com/39633456/116486669-ffed9400-a842-11eb-8da0-c999b4b5dea3.png)

**Describe the bug in current situation**
A clear and concise description of what the bug is.

**Link bug to the User Story**

**Impact of this bug**
Desc

[2021-04-29 00:00] riyazuddinsyed commented on #7367
This is happening apot in dev these days,but I haven't seen anything in test yet..

[2021-04-29 00:22] mengdong19 commented on #7364
This may happen when user login to auth and then navigate to NR. Please suggest user to login again once they navigate to Name Request. A fix to this issue has been deployed to dev, but not on prod yet.

[2021-04-29 00:34] mengdong19 commented on #7356
Business team is reaching out to client, waiting for response.

[2021-04-29 00:46] mengdong19 commented on #7367
Payment status fixed. We'll release a fix for this issue shortly.

[2021-04-29 00:56] mengdong19 commented on #7365
Tested on name request test site, worked. Need more details to identify the issue, like account name, input  etc. to reproduce the issue.

[2021-04-29 03:09] mstanton1 commented on #7114
FAQ has been added to the website. In review "Stay tuned for updates" has been omitted.

*Note unable to provide links in question (accordion header).

[2021-04-29 03:09] #7114 closed

[2021-04-29 03:19] #7024 closed

[2021-04-29 03:29] mstanton1 commented on #7144
Updates were completed in Production Monday April 26th.

[2021-04-29 03:29] #7144 closed

[2021-04-29 14:37] vysakh-menon-aot commented on #7353
@tlebedovich @lmcclung the current issue: validation error should go away after entering legal name (I have fixed this issue). I am bit concerned with the 6th point which says "the check box error red should go away" without legal name. @lmcclung let me know whether this change is required (it has to change in **shared components**)

**Bug**:

![image](https://user-images.githubusercontent.com/648

[2021-04-29 14:48] tlebedovich commented on #7353
Hi @vysakh-menon  I assumed the check box and the name both have separate error validations. So if the user sees an error with both, and checks the checkbox first, then the check box field is no longer an error since it has been completed. But the name field would still be red until you fill the name in.

The error red on the check box shouldn’t stay red if the check it because the red is there to

[2021-04-29 15:05] mstanton1 opened #7370 "URGENT: Received consents not updating in NRO"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Jenn Weldon
Staff Email: Jennifer.Weldon@gov.bc.ca

#### Description
Good morning,

For some reason, received consents are not updating in NRO to show consent has been received for all NR’s.  I’m not sure if this is an issue for all NR types or not as the examples I hav

[2021-04-29 15:34] cameron-freshworks commented on #6923
@forgeuxGH5
Morning Scott! Where can i find a link to the visual designs screen captured above? I checked the epic/story and couldn't seem to find it.

[2021-04-29 16:05] forgeuxGH5 commented on #6923
we haven't been doing visual design for the dashboard (other than the company details / tombstone)... sadly...
what's in the screenshot is pretty much what's in the wireframes, here's a link though https://preview.uxpin.com/fac96ab3f3769b5940b0444784eb73a2b2606b0e#/pages/131618287/simulate/sitemap

[2021-04-29 16:06] tlebedovich commented on #7279
@janisrogers - Hi Janis - I am just making a To Do List in this ticket with all the updates you had wanted plus the column hide/show. Have I missed anything?

@Kaineatthelab @forgeuxGH5

[2021-04-29 16:09] cameron-freshworks commented on #6923
Excellent, thanks sir!

[2021-04-29 16:21] Kaineatthelab opened #7371 "PRIORITY BUG NAMEX"
Good Morning,

I just came across something pretty troubling in Namex.

When examining I clicked “Get Next” to pull another NR for examination but what was pulled for me by Namex is what looks to be an already partially examined NR(4652517).

On looking a the transaction history of the NR in Namex it appears that clicking Get Next took an already examined NR and put back into In Progress under my

[2021-04-29 16:26] Sienna-Blumstengel opened #7372 "NAMEX error when clicking "get next""
#### ServiceNow incident:
INC0088335
#### Contact information
Staff Name: Joshua Thiessen

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] place in pipeline: sprint backlog
- [x] Reply All to IT Ops email and

[2021-04-29 16:32] severinbeauvais commented on #7369
Please create corresponding tickets for Entity UIs to update their dependency version for sbc-common-components (v2.4.16).

[2021-04-29 16:36] #6949 closed

[2021-04-29 16:37] saravanpa-aot commented on #7369
Sure @severinbeauvais .Do you know what version are you guys in now?

[2021-04-29 16:41] shabeeb-aot opened #7373 "Entity UIs: update dependency to latest sbc-common-components"
As per #6586, please update their dependency to the latest version (2.4.16) of sbc-common-components (which primarily to fix name issue after creating account using BCeId).

- [x] Filings UI - done by CB on Apr 29 in #6923
- [x] Create UI - done by AC on May 4
- [x] Edit UI - done by SB on Apr 29 in #5024
- [x] Namerequest UI - done by AC on May 4

_Please check off what has been updated and add y

[2021-04-29 16:44] mstanton1 commented on #6986
As per Patrick's comment requirement 1 from Garry is met. We have provided information on Hotjar user access and activity tools to Garry to confirm if this is sufficient to meet his second requirement.

[2021-04-29 16:49] amit4610 commented on #7364
advised the user. will comment if it worked or not.

[2021-04-29 16:50] janisrogers commented on #7279
From the meeting:
Some examiners want to see more than 10 results by default, one wants 20, one wants 100, one wants 10. Could we make this a saveable preference.
Would like the ability to change the sort order of the submitted date
Need fields to show (top level) for BCOL acct info for payment (in NRO shows under submitted by) and consent listing (required and received)
Want to show all options i

[2021-04-29 16:53] shabeeb-aot commented on #7369
created ticket https://github.com/bcgov/entity/issues/7373

[2021-04-29 17:06] lmcclung commented on #6379
Closing this ticket as we decided staff will use NameX for searches, not name request.

[2021-04-29 17:06] #6379 closed

[2021-04-29 17:07] argush3 commented on #7091
As a part of the work done to the data loader for #4711, some updates/fixes were made to the legal updater job which may resolve the issues @rarmitag is having bringing over events.  Just in the process of creating PRs for various updated components in #4711.  Will comment on this ticket again when some the PRs are up.

[2021-04-29 17:11] Sienna-Blumstengel commented on #7372
From Steven:

[2021-04-29 17:14] amit4610 commented on #6848
Fee structure (stat fee, service fee) for different products/type of filings for gov and non-gov users in PPR needs to be defined.

[2021-04-29 17:20] amit4610 commented on #6848
@sumesh-aot to put existing PR fee codes.

[2021-04-29 17:21] lmcclung commented on #6609
I updated the ticket with Tracey's new designs, added new acceptance criteria, based of having a filter and the applicant name as one of the columns.

[2021-04-29 17:28] tlebedovich commented on #7279
@janisrogers @forgeuxGH5 What did we want/need to display in the "Consent" column? Keep with a simple Yes/No or Did we need to display "Required. Not Yet Received." Required. Received" "Not Required." (all of which are a lot longer than Yes/No)?

[2021-04-29 17:29] amit4610 commented on #7370
To add to this, this issue is also affecting corp consents, I received the following from Tanya:

Just wanted to ask before I created a ticket. It appears NameX is not syncing with COLIN today and part of yesterday. If we receive a consent in namex then go to do a filing, or authorize a continue in it will give a error message saying the consent has not yet been received by the registry. Our work

[2021-04-29 17:30] tlebedovich commented on #6609
@lmcclung - Our design ticket now has a specific To Do list - I will add a link to the design ticket above versus the Invision/Wire links so we have a single "source of truth" for the designs in case they change. Hope that's ok.

[2021-04-29 17:45] severinbeauvais commented on #7369
"2.4.14" (NR) or "2.4.15" (other 3)

[2021-04-29 18:11] tlebedovich commented on #7279
@lmcclung @Kaineatthelab - This design ticket is ready to go!

[2021-04-29 18:50] severinbeauvais commented on #7286
The comps don't show the review page.

But, it will be tricky to display folio number just above the certify component because that's a numbered section, ie:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/30da70be-f6d7-4fe7-bdb8-aa823757f609)

How about if we display the folio number in the top "Your Company" section, which is the same section used to change it on the

[2021-04-29 18:52] stevenc987 commented on #7371
This issue was fixed on PROD after recompile for oracle package.

[2021-04-29 18:52] tlebedovich commented on #7286
@severinbeauvais - Design has not yet been completed for the new Transactional Folio.

[2021-04-29 18:52] stevenc987 commented on #7372
This issue was fixed on PROD after recompile for oracle package.

[2021-04-29 18:52] #7372 closed

[2021-04-29 18:53] PatrickAHeath opened #7374 "PAD Payment Emails - Wording, format and timing require adjustments"
### Who will do this work?
Relationships

### Summary
After performing a PPR Search using an account setup with PAD payment, the client receives an email informing that transactions have been completed and a dollar amount will be debited from their account.  If multiple transactions are completed, numerous emails can be received during a day, some with a single transaction dollar amount and others

[2021-04-29 18:55] Milan-Freshworks commented on #7369
It has been tested and verified.[
<img width="1440" alt="Screen Shot 2021-04-29 at 11 53 14 AM" src="https://user-images.githubusercontent.com/60755412/116603396-bacc6f00-a8e1-11eb-97d9-48d9ba2ea4d7.png">
](url)

[2021-04-29 18:55] severinbeauvais commented on #5024
In #7286, Tracey just wrote:

Therefore, I will complete the refactoring / implementation of the folio number, commit/merge that (so we can build upon it instead of the code going stale), and then park this ticket. It will have to be finished later.

[2021-04-29 18:58] Sienna-Blumstengel opened #7375 "Update Service Now"
* Update assignment group for the lab team
* Update "applications" list
* Update the "categories" list

[2021-04-29 18:59] Sienna-Blumstengel commented on #7375
@lmcclung

[2021-04-29 19:02] mstanton1 commented on #6980
@Sienna-Blumstengel here's some info on folio in Transactions and Statements
1. Displays in Transactions view.
2. Displays in CSV when you 'Export CSV' on Transactions view.
3. Displays in Statements CSV export.
4. Displays in Statements PDF export.

Field is blank if no folio was provided.

[2021-04-29 19:44] riyazuddinsyed opened #7376 "Unable to file the Correction for the second time."
**Describe the bug in the current situation**
When the staff wants to file a correction for the second time for the same Co-Op then the File Correction button is disabled thereby preventing filing the Correction for the second time.

**Impact of this bug**
Staff who wants to file the correction for the second time

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/business/BC08

[2021-04-29 19:59] riyazuddinsyed opened #7377 "Correction filing shows Paid and Pending until a refresh or clicked on the Return To Dashbaord."
**Describe the bug in the current situation**
When the staff files a correction and upon the success of the filing the dashboard shows the status Paid and Pending and preventing the staff from doing any other filings.

**Impact of this bug**
Staff filing the correction

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/business/BC0879815'
2. Click on 'File Correction'
3. Return

[2021-04-29 20:04] lmcclung commented on #6609
@tlebedovich sounds good.

[2021-04-29 20:16] stevenc987 commented on #7365
@amit4610
Please get more information from client so we can reproduce the issue

[2021-04-29 20:27] forgeuxGH5 commented on #7374
Check consistency with other emails from BCROS (Filings, Name Request). If different consider aligning.

[2021-04-29 20:38] Sienna-Blumstengel commented on #6586
Are we using them @cameron-freshworks @severinbeauvais ? Should we make a ticket, do we need more clarification?

[2021-04-29 20:39] lmcclung commented on #7376
Intention:
Staff can file 1 correction on an Incorporation Application.
If there was an error made on the 1st correction and another correction is needed, then staff need to be able to correct the correction filing - not the original IA.

[2021-04-29 20:39] Sienna-Blumstengel commented on #6586
Also @kialj876 @thorwolpert  does this impact PPR too? Let me know and I will make another dependancy ticket for PPR's work.

[2021-04-29 20:43] forgeuxGH5 commented on #7196
@cameron-freshworks we'll need to display a scrollbar in the lists for people without a mouse scroll wheel.

I say if we can display the scrollbar on mouse over of the tables/lists that would be nice. Does vuetify have a default scrollbar that isn't really wide? or can we design the look of the scrollbar?

If displaying the scrollbar on mouse-over is an issue we'll need to display it always.

[2021-04-29 20:43] lmcclung commented on #7345
Check this out to see if still happening with Thor's changes.  Probably still a bug.

[2021-04-29 20:48] lmcclung commented on #7318
check this once Sev's changes go in.

[2021-04-29 20:50] #7343 closed

[2021-04-29 20:53] lmcclung commented on #7342
This may not have ever worked.  Check if we are actually refunding the full amount.

[2021-04-29 20:53] severinbeauvais commented on #6586
Yes, login flow changes probably require us to update our sbc-common-components dependency (ie, for new SbcHeader component).

There is currently another Entity ticket to update the sbc-common-components dependency to 2.4.16. @amit4610 Are your team's changes in this version? If not then when do you expect your changes to be finished, and can Entity Team wait until those changes and only update th

[2021-04-29 20:57] lmcclung commented on #7333
Who ever picks this up should see if this has been addressed in Kial's combo search work that is almost ready.

[2021-04-29 20:58] jdyck-fw commented on #7333
Estimate made assuming that Kial's work doesn't fix this.

[2021-04-29 21:01] Sienna-Blumstengel commented on #5598
@severinbeauvais

(https://dev.bcregistry.ca/business) and (https://dev.bcregistry.ca/business/auth/home/decide-business) go to the same place. (https://dev.bcregistry.ca/business) redirects to (https://dev.bcregistry.ca/business/auth/home/decide-business).

Could you explain more about what should change?

[2021-04-29 21:02] mstanton1 commented on #7363
Cindy has contacted me and we worked through account creation over the phone. Her account has been successfully created and the affidavit is pending review. Information has been provided on how to access names in the meantime / how to add team members once approved.

[2021-04-29 21:02] jdyck-fw commented on #7239
Add some diagnostic errors to figure out what's going on. This estimation is simply to identify the cause of this issue, after which please make another ticket to resolve it.

[2021-04-29 21:02] #7363 closed

[2021-04-29 21:03] Kaineatthelab commented on #7333
we are removing that detailed analysis page completely but need to make sure this error doesn;t happy again, the page can be removed at anytime really but might as well wait until Kial puts the search combo in?

[2021-04-29 21:05] Sienna-Blumstengel commented on #7055
The reason it is broken is because we didn't get the GUID permanent link.

Here is the permanent link:
https://www2.gov.bc.ca/gov/content?id=EAA427222CC3472DAA7B52FDED489BB5

[2021-04-29 21:06] jdyck-fw commented on #7238
This is a timebox to review code and verify if this is an issue, and then fix it if it is.

[2021-04-29 21:08] Kaineatthelab opened #7378 "Add industry Category List to another tab that opens"

[2021-04-29 21:09] lmcclung commented on #7190
@kialj876 I think you are working on 7332.  Would that work fix this issue?  Might be the same area of code.

[2021-04-29 21:09] Sienna-Blumstengel commented on #6586
@severinbeauvais oh i see, @sumesh-aot do you know if the changes for this (#6578) will be included in 2.4.16?
If so, should we close this ticket and just use the other "update the sbc-common-components" ticket?

[2021-04-29 21:10] jdyck-fw commented on #7332
@kialj876 - I'm updating this to be in your sprint instead of Entities Milestone, please update if I was incorrect in doing so.

[2021-04-29 21:10] Sienna-Blumstengel commented on #6656
@thorwolpert @sumesh-aot just checking in :)
@lmcclung FYI

[2021-04-29 21:12] cameron-freshworks commented on #7196
@forgeuxGH5

For sure! I hid it because it didn't look right when the section wasn't large enough to require scrolling but i can modify that to display it ONLY when there is enough content to scroll through and will look into the mouse-over!

As far as style goes, i'm not too sure if Vuetify has a scroll bar but will look into it 100%.
Either way, i'm fairly certain we could customize the scroll b

[2021-04-29 21:26] amit4610 opened #7379 "Double digits in dollar amount after decimal"
**Describe the bug in current situation**
The email template needs to be consistent with Double digits in dollar amount after decimal. In some emails it is single digit as of now. Can we do it generic i.e. in UI and all the emails?

![dollar](https://user-images.githubusercontent.com/59706888/116620604-e73eb600-a8f6-11eb-935b-b1160196a64a.png)

**Link bug to the User Story**

**Impact of this bug*

[2021-04-29 21:26] severinbeauvais commented on #5598
(Note that, in fact, https://dev.bcregistry.ca/business is not the root URL -- it goes to the Filings UI, which doesn't find an entity number and then redirects to https://dev.bcregistry.ca/business/auth/.)

My expectation is that clicking on the BC Gov logo takes me back to the "BCROS root level", and from there I may be redirected to https://dev.bcregistry.ca/business/auth/home/decide-business o

[2021-04-29 21:36] sumesh-aot commented on #6848
[code]

[2021-04-29 21:48] forgeuxGH5 commented on #7196
@tlebedovich and I were talking and we're thinking to go with the always displayed scrollbar for the lists but we would like it have a look at the visual appearance of it

definitely would only want the scrollbar to appear if the list exceeded the window height (only display if scrolling needed)

[2021-04-29 22:28] Kaineatthelab opened #7380 "As part of the NRO decommission, the SOLR updater should be changed to go from NameX instead of the NRO DB"
This needs to be done before the **Names DB** is decommissioned.
Completing this will make syncing less bad. It will also make names update faster between system.

Anybody familiar with SOLR can pick up this work.

TO DO:
Take the code that runs against the Oracle DB, and build it as a queue listener. We estimated based on this implementation.

[2021-04-29 22:36] jyoti3286 opened #7381 "Account Creation Process: VON API Integration"
* As a public user,
* I want to see my business name in the account name when I search for it
* so that I can choose my business name as my account name

**Acceptance Criteria**

**Scenario 1: Happy path scenario**
* GIVEN that I already have a registered business with the registry
* WHEN I want to create an account and enter my business name as the account name
* THEN the system returns the Busin

[2021-04-29 23:13] mengdong19 opened #7382 "BCeID user upload new affidavit file after account creation failed or rejected."
Currently user can only upload one affidavit file, which blocked the user from creating an account once their account creation failed or rejected by staff. A ticket has been created to redesign the account creation workflow for BCeID user. In the mean time, a temporary fix is needed to let user go through current creation flow, by uploading new affidavit file.
Please reference to ticket #7076 for

[2021-04-29 23:14] Sienna-Blumstengel opened #7383 "Duplicate NR & Unable to view in Name Request"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
INC0088600

#### Contact information
Staff Name: Jenn Weldon

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] place in pipeline: sprint backlog
- [x] Reply All t

[2021-04-29 23:20] stevenc987 commented on #7383
Both NR paid

![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/769e4111-3ca1-4479-b933-4d092ba17764)

![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/330feabe-64d3-44e6-adb6-684884f699f1)

[2021-04-29 23:21] mstanton1 commented on #7290
Access has been granted in PROD for the following staff (based upon staff list for Hub and Corporations from March Keycloak Review):

Debbie Blyth
Kyle Dirkie
Elizabeth Espinosa
Kellie Horler
David Lessard
Claudine Lo
Sharon Merlino
Meagan Somerville
Laurie Stossel
Joshua Thiessen
Jennifer Weldon
Kristopher Yee
Cameron Wulff
Amber Andresen
Kathy Langlois
Julie Harding
Anderson Krause
Alysha Stone

[2021-04-29 23:24] #6946 closed

[2021-04-29 23:30] mstanton1 commented on #5764
@jyoti3286 can you add the link to the document recently reviewed with staff.

@mstanton1 to share with Entities/Names/PPR to see if they want to use the same sort of approach.

[2021-04-29 23:43] Kaineatthelab opened #7384 "Renew update and Renew shouldn't show when the name is consumed"
Scenario  - Show Renew Button
GIVEN I have submitted an NR
WHEN the NR is in with in 2 weeks of expiry
THEN the "Renew" button should be active

Scenario  - Remove renew button
GIVEN I have an approved or conditionally approved name request
WHEN the NR has expired
THEN the "Renew" button should no longer appear.

 Verify that the correct actions are provided according to all NR states described in

[2021-04-29 23:43] severinbeauvais commented on #7286
Both comp links above now give me "This link has no screens." I was actually still using them to lay out the pages and validation. Now I'm blocked.

[2021-04-29 23:58] Sienna-Blumstengel commented on #7383
THanks @stevenc987 !
I have asked if they want us to cancel NR 1381022 for them. I will let you know if they do.

[2021-04-30 01:51] thorwolpert commented on #7370
Data fix -- due to the Oracle connectivity issues, these NR's in NRO were out of sync on the consent.

created a temp table (tx)
extracted the NRs from NameX
[code]
inserted those into the tx table in Oracle
ran the following procedure
[code]

[2021-04-30 01:54] thorwolpert commented on #7370
The following NRs were processed
[code]

[2021-04-30 06:14] jyoti3286 opened #7385 "Account Management Changes"
This epic will contain all the stories which will impact the account management changes as part of PI 9

[2021-04-30 06:32] jyoti3286 opened #7386 "Embed changes to Account creation flow for Services card, notary, mobile devices etc"
Given that I am a public user
I want clear messaging throughout the account creation flow
so that I can make the right choices while creating my account

Note, we need a design ticket to reflect the below
- Wording change for Account flow to clarify the services card,
- have the notary options more clear and very visible
- Use of mobile devices and
- provide more supporting documentation for deskt

[2021-04-30 07:01] jyoti3286 opened #7387 "PPR Dependencies for Relationship team"
This epic contains all the dependencies for Program Increment 9 for PPR

[2021-04-30 14:15] Sienna-Blumstengel commented on #6829
**Modernization page announcement:**

(February 16, 2021) -  New Name Request (NR) application for BC OnLine users - coming spring 2021

A new and contemporary name request application was recently launched by BC Registries and Online Services. BC OnLine users will need to use the new Name Request on the Business Registry to submit and look up name requests soon. Users are now able to login  using

[2021-04-30 15:16] Kaineatthelab opened #7388 "Email template for expiring & newly expired NRs"
#### Scenario 1 - before expiry
GIVEN I have an active NR
WHEN it is 5 days before expiry
THEN I get an email prompting me to use it or renew it

#### Scenario 2 - expired
GIVEN I have an active NR
WHEN the NR expires
THEN in get an email informing me that the NR has expired

- [x] #7237 will Fix the existing Name Request job that deletes NRs . If that one gets done, lets add to it. **if not** let

[2021-04-30 15:20] Kaineatthelab opened #7389 "Email template for Refund of NR"
- [ ] Use new design (already build in 8166)
- [ ] build email template for Refund of NR

~this ticket can't be groomed until we decide how we will refund things~

[2021-04-30 15:23] Kaineatthelab opened #7390 "Get copies of all notifications in new systems to review for consistency"
Capturing examples of emails as they're encountered.

Document with examples:
https://docs.google.com/spreadsheets/d/1RJ0WcOMc4jB10Jrz0USv8Ez3jT9yRnM19tY7BgxDTIw/edit?usp=sharing

[2021-04-30 15:30] Sienna-Blumstengel commented on #6829
**Draft of all staff announcement**

A new and contemporary name request application was recently launched by BC Registries and Online Services. All users of BC OnLine will soon need to use the new Name Request on the Business Registry to submit and look up name requests. Users are now able to login using BC Services Card / Mobile Card or a notary, set up new payment types and manage account acces

[2021-04-30 15:41] janisrogers commented on #7108
This looks good in Dev

[2021-04-30 15:41] #7108 closed

[2021-04-30 16:01] janisrogers opened #7391 "Change Payment Confirmation text to include PAD accounts"
Currently the Payment Confirmation modal states "Your BC Online Account will be debited... to Change wording to 'Your account will be debited...'

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/003939c3-d78e-47f6-bb87-d86946438f37)

[2021-04-30 16:05] lmcclung commented on #7354
Closing this as covered in 3837.

[2021-04-30 16:05] #7354 closed

[2021-04-30 16:08] Sienna-Blumstengel commented on #5180
Closing, duplicate of https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/5024

[2021-04-30 16:08] #5180 closed

[2021-04-30 16:08] lmcclung commented on #5180
closing as this is a duplicate of 5024.

[2021-04-30 16:25] cameron-freshworks commented on #7196
@tlebedovich @forgeuxGH5

So there is an adjustment in DEV to show the scrollbar all the time, the bar itself only appears when the content is capable of scroll. Let me know what you think, we can always tweak this :)

I'm sure we will need too haha

[2021-04-30 16:29] Kaineatthelab opened #7392 "Log in Behaviour"

[2021-04-30 16:30] cameron-freshworks commented on #6923
@forgeuxGH5 @tlebedovich

This is back into UX. I put some TESTING NOTES in the comments above.

Those businesses are the scenarios currently expected / handled for the changes.
This definitely feels like an iterative process at this time (some unknowns), so don't hesitate to ask for more changes.

[2021-04-30 16:31] saravanpa-aot opened #7393 "refactor org service to be modular"
## What is the problem?
* org service class is becoming increasingly complex .

## What is the impact?
*  Code gets complicated and hard to understand.

## Proposed solution
*
Need a better approach to make it more modular , maintainable and easy to read.

Validation can be completely moved to a different class with a validator framework.

CC: @sumesh-aot

[2021-04-30 16:54] Kaineatthelab commented on #6921
Hi was there a design for this created?

[2021-04-30 17:01] mengdong19 opened #7394 "View account page doesn't load for BCeID Account with multiple affidavits."
**Describe the bug in current situation**
Please reference to https://github.com/bcgov/entity/issues/7382.
User successfully upload a new file after rejected. However, staff can't view the new affidavit file because there are two affidavit files existing: "REJECTED" file and new "PENDING" file. Ops can help with this issue by setting "REJECTED" one to "INACTIVE" at database, but staff will lose th

[2021-04-30 17:02] amit4610 opened #7395 "Client account creation"
Hello.

Re:  Business Registry Account for Rui Zhen Feng Law Corporation

Further to your email of April 27, 2021 and our telephone call to BC Online Administration, we were advised that the affidavit submitted with our application of April 20, 2021 was incomplete and that we were to resubmit a new application.  However the we are unable to proceed with the application as an account for the firm w

[2021-04-30 17:05] amit4610 commented on #7395
[Uploading 20210429 BC Business Registry Create Account Step 3.pdf…]()

[2021-04-30 17:14] mengdong19 opened #7396 "Some Sorting on Staff Dashboard don't work"
**Describe the bug in current situation**
Some sorting by clicking column title in staff dashboard don't work:
Invitation tab: email
Pending Tab, Suspended Tab: all collumn

**Link bug to the User Story**

**Impact of this bug**
Staff can't sort by column, will be hard to find an account when there's many.

**Chance of Occurring (high/medium/low/very low)**

**Pre Conditions: which Env, any pre-re

[2021-04-30 17:15] lmcclung opened #7397 "Step 3 - import Share structure shared component into Create UI"

[2021-04-30 17:40] Sienna-Blumstengel commented on #6980
@rkim13103 could you add a link to your updated receipt? So that our QA can validate that the folio appears in the receipt correctly after we build this

[2021-04-30 17:44] Sienna-Blumstengel opened #7398 "NR UI - Prompt for Folio Number and update payload"
- [x] Update form to include folio number
- [x] Include folio in the request
- [x] Accept any character
- [x] Max length 50

Allow any type of characters as this doesn't go back to Oracle.

[2021-04-30 17:46] Sienna-Blumstengel opened #7399 "NameX API - Send folio to Auth API"
- [x] Auth API already supports folio, so update NameX to take in the folio number.

[2021-04-30 17:47] PatrickAHeath commented on #7390
PAD payment confirmation email:

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/89abe2b0-bcbc-4ff1-a0c1-a9cc4c354ed8)

[2021-04-30 18:03] sumesh-aot commented on #7395
@amit4610 Please ask the client to try again.

[2021-04-30 18:04] PatrickAHeath commented on #7390
Completion of PAD Confirmation Period:

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/a8898f92-e0a7-4290-8a2a-933eba087d0e)

[2021-04-30 18:16] Kaineatthelab commented on #7380
@pwei1018 would you be able to work on this at some point? Thor knows more...

@thorwolpert

[2021-04-30 18:16] PatrickAHeath commented on #7390
Invitation to join an account:

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/994161d8-9e04-42d2-91a1-6977b5085e3c)

Confirmation that invitee has accepted the invitation:

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/a470ed2b-815e-4562-b1d4-4318818f88b0)

Confirmation of approval of joining an account:

![image.png](https://images.zenhubu

[2021-04-30 18:33] #5409 closed

[2021-04-30 18:33] #7193 closed

[2021-04-30 18:45] lmcclung commented on #3837
From April 30th grooming session:
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/401f5eea-4536-4e08-b4c0-05e27d6a1e0d)

[2021-04-30 18:51] shabeeb-aot opened #7400 "replace MembershipType check with permission check code base"
## What is the problem?
* In some paces we still use MembershipType to check give permission

## What is the impact?
*

## Proposed solution
* use v-can / permission array to check permission

[2021-04-30 18:56] lmcclung commented on #6656
Note from RC conversation with Thor today -
right, it’s not currently assigned to anyone, so does not show up in a … what should i be looking at sort of search.
i think I remember the context here … will look later today

[2021-04-30 19:12] Sienna-Blumstengel commented on #7383
The have already canceled the duplicate NR, so this is resolved. Closing.

[2021-04-30 19:12] #7383 closed

[2021-04-30 19:35] PatrickAHeath commented on #7390
Found document with email templates for Benefit Companies & Coops:

https://docs.google.com/spreadsheets/d/17wMY9znmWMr2RoXH9S2elffC8uE7iifUGB5Hu3VVFpE/edit#gid=0

[2021-04-30 19:35] shabeeb-aot opened #7401 "v-can allow multiple permissions"
## What is the problem?
* v-can is accepting only one permission

## What is the impact?
*

## Proposed solution
*should allow multiple permission

[2021-04-30 19:52] PatrickAHeath commented on #7390
Receipt email for Name Request:

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/9dadc8d9-2823-415c-a898-37a7ed9dad73)

Receipt from Name Request (email attachment):

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/b028b0e3-c7aa-4740-9acb-2d6f1ed883af)

Name Request Result email (post approval):

![image.png](https://images.zenhubusercontent.co

[2021-04-30 20:33] mstanton1 opened #7402 "NR Refunds - April 30 - May 5th"
1. - [ ] NR 3285647 & NR 3847545 (INC0088995, INC0089181, accidentally reported twice.)
2. - [ ] NR 0374521 & NR 9413238 (May 3rd duplicate NR report)
3. - [ ] NR 0483530 (May 3rd duplicate NR report)
4. - [ ] NR 9179497 (May 3rd duplicate NR report)
5. - [ ] NR 9125888 (May 3rd duplicate NR report)
6. - [ ] NR 9559016 (May 4th duplicate NR report)

[2021-04-30 21:19] #4493 closed

[2021-04-30 21:32] lmcclung commented on #7278
@Sienna-Blumstengel
we should probably create an alteration flow diagram from BEN -> LTD to assist staff

Notes for you to include for Lance:
Things for the corps staff to do:
- stamp the alteration form
- do a no charge change of director (tweak street suffix (ie RD instead of Road)) to trigger a Notice of Articles in COLIN and send to client's email
- verify the Notice of Articles from COLIN mat

[2021-04-30 21:43] rkim13103 commented on #6921
@Kaineatthelab Yeah, sorry I linked the Design ticket as a dependency. The design link is in the design ticket, I'll paster is here as well:
https://preview.uxpin.com/5907390d5b7d37316895d6da814b9ec9f36efd1f#/pages/138357602

[2021-04-30 21:50] rkim13103 commented on #6980
@Sienna-Blumstengel
Yup, I've added 7166 (receipt design ticket) as a dependency.
Just had a meeting with the design team about the receipt design. I'll update the design soon.

[2021-04-30 22:01] jdyck-fw commented on #7322
Away from office until May 3, followed up to provide more support on 2fa

[2021-04-30 22:13] jmills-cgi opened #7403 "Names: May 5th Bug Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Update version number in the code being released
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
- [x] Add version # and release # to this ticket *2.1.2*
- [x] QA to schedule the release with staff/

[2021-04-30 22:20] PatrickAHeath commented on #7390
Benefit Company Incorporation

Partner Information email:

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/55e68bbd-ea42-47a2-b5d6-0759a13ad7f0)

Incorporation Documents email:

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/2d32d108-6904-4ed6-9091-4b227a74efa5)

Benefit Company Incorporation Receipt:

[https://app.zenhub.com/files/157936592/f

[2021-04-30 22:23] lmcclung commented on #7125
@cameron-freshworks this is working in test now.

[2021-04-30 22:25] Kaineatthelab commented on #6921
Great, just to double check it was all vetted with the Design team and agree upon?

[2021-04-30 22:27] rkim13103 commented on #6921
Yup! the design team reviewed it and changed the UI based on the feedback.

[2021-04-30 22:31] Kaineatthelab commented on #6921
Awesome thank you !!!

[2021-04-30 22:39] #7040 closed

[2021-04-30 22:41] janisrogers opened #7404 "UI Design - PPR Search Folio or Reference Number Field"
Based on user feedback, we need to change the design of the Folio Number field to have it be always open and rename it to 'Folio or Reference Number'

Maximum character count of 15. Variable characters.

### Visual Design Comps:
https://invis.io/X810VOFHF5HZ#/450934621_00-New_Folio

[2021-04-30 22:43] janisrogers opened #7405 "PPR Search - Folio Number field"
Based on user feedback, we need to change the design of the Folio Number field to have it be always open and rename it to 'Folio or Reference Number'

Refer to Design Ticket Linked Below

[2021-04-30 23:00] #7125 closed

[2021-04-30 23:00] ghost opened #7406 "Show names of IDIR users in activity log"
Title of ticket: Activity log to show names instead of IDIRs of users. Account members should not see names of others outside their account. Account members should not see IDIR or names of BC Registries staff.

As an IDIR admin
I want to see names of all my team members that are under my account in activity log
AND BC Registries staff want to see names of BC Registry staff
So that I can identify w

[2021-04-30 23:01] #5179 closed

[2021-04-30 23:02] #6650 closed

[2021-04-30 23:11] mstanton1 opened #7407 "Update Director Search manual"
#### Description
Bob has made the following updates to the director search which will now be released Monday May 3rd. Director Search manual updates are required as per the note below:

This afternoon at 4:30 a new version is being promoted with a new feature.
An additional filter has been added to help ensure that your getting all of the results when your search exceeds the 165 limit.
The filter

[2021-04-30 23:24] amit4610 opened #7408 "Can't Upload Affidavit for New Name Reservation"
Title of ticket: [Entity number and name] or "Account Management"

Good Afternoon,

I’ve been trying to register for the new service however I cannot authenticate my account.  Please help me ASAP!!!

Please note the following:

Account Details
    Registration Date: April 30, 2021
    User ID: AnneMahy
    Last Name: Mahy
    First Name: Anne
    Middle Name:
    Other Middle Name:
    Email: esta

[2021-04-30 23:38] tlebedovich commented on #7353
Looks all good to me but I will pass to QA for verification, thanks!

[2021-04-30 23:39] tlebedovich commented on #7196
@forgeuxGH5 - I'll leave this one to you Scott :)

[2021-04-30 23:40] tlebedovich commented on #6923
Leaving this one for @forgeuxGH5 to review

[2021-04-30 23:40] tlebedovich commented on #7150
@janisrogers - Did you want to verify this update so we can move this ticket along?

[2021-04-30 23:47] lmcclung opened #7409 "NR 6213310 - stuck in payment incomplete"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident: INC0088777
#### Contact information
Staff Name:
Staff Email: "Yee, Kristopher CITZ:EX" <Kristopher.Yee@gov.bc.ca>

#### Description
Name Request is showing as Payment incomplete
Payment for $31.50 shows up on his credit card.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#O

[2021-04-30 23:48] rkim13103 commented on #7280
@jyoti3286  @Kaineatthelab So with this modal design (after discussing with Scott), we might have to figure out a way to display it on different products (ex: PPR dashboard). The UX pin shows that the modal overlays Manage business dashboard, however if users (that already have account) try to "create account" through PPR, the background would change to PPR's dashboard.
We would have to share this

[2021-04-30 23:51] lmcclung commented on #7409
It’s DRAFT in NameX.
I’m thinking the client tried to do an upgrade and then cancelled out or the payment didn’t go through.  I've come across the way Name request look - something Kial was working on.
Staff are still be able to examine it.

Have asked Kris to see if Debbie will just do the free upgrade and have staff examine it.  Hopefully that would write back to Name Request.

[2021-05-01 00:06] lmcclung commented on #7189
I think Riyaz said this is already in Production.

[2021-05-01 00:07] lmcclung commented on #7304
@riyazuddinsyed I think you said this was already in prod.  does it still need QA?

[2021-05-01 00:16] lmcclung commented on #7310
Emailed Debbie that it's in PROD if she wants to reach out to the client to try again.

[2021-05-01 00:32] #7253 closed

[2021-05-01 00:32] lmcclung commented on #7253
Decided to just test Benefit company alteration (no altering of business type).

[2021-05-01 01:06] tlebedovich commented on #7404
@janisrogers - design comps added, ready to go.

[2021-05-01 05:57] thorwolpert commented on #7409
I removed the pending upgrade. It should display the correct status now.

[2021-05-01 15:41] #7328 closed

[2021-05-01 16:01] mstanton1 opened #7410 "Add training videos in the Business Registry"
* As a Business Registry client
* I want the ability to locate informational videos while using the app
* so that I can learn how to use the app

**Acceptance Criteria**

**Scenario 1: Client opens "Help Page"**
* GIVEN I am in the Business Registry
* WHEN I open the "Help" page
* THEN I am presented with all training videos in one window.
Help page design example: (done very quickly!)
https://pre

[2021-05-01 16:02] mstanton1 commented on #6580
7410 has been created for development purposes. Closing this research / UX design ticket.

[2021-05-01 16:02] #6580 closed

[2021-05-03 00:52] thorwolpert commented on #7241
done

[2021-05-03 00:52] #7241 closed

[2021-05-03 14:12] PatrickAHeath commented on #7390
Benefit Company Business Number Information email:

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/cc98ccf9-6d5c-4a15-aa38-9f7eaaed88d4)

[2021-05-03 15:25] mstanton1 commented on #7205
Key messages have been integrated into the Scripts that Trish has provided to staff.

Script Link: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc=%7b4641F72F-185B-4D4C-882B-C4F23CC2BB4F%7d&file=Responses%20for%20Issues%20BCOL%20users.docx&action=default

In SP the key messages document is stored under Modernization Docs / Change Management / Training & F

[2021-05-03 16:02] tlebedovich commented on #5024
@severinbeauvais - here are the updated comps for the regular/default Folio on Company page (which we are now calling the "Business Folio or Reference Number". And also the new Transaction Folio that appears on the Review and Confirm page.

Please read through the notes in the design comps (see design ticket).

let this needs a regrooming or estimate up, lets chat with @lmcclung .

[2021-05-03 16:17] Sienna-Blumstengel commented on #7278
@lmcclung Lance and I made two flows, and have put them in the staff user guide:

LTD/ULC > BEN: https://drive.google.com/file/d/1aXdlPyefjab6hhMw9U9JZsHQProGS6sA/view?usp=sharing

BEN > LTD/ULC: https://drive.google.com/file/d/1jMR6eAe2jr4B8cWdQgZQrwziiVUXWl5f/view?usp=sharing

Based on your list above, it looks like I am missing some pieces to the flow. Maybe we can add them together

[2021-05-03 16:18] mstanton1 opened #7411 "Add Information on what to do for affidavit when in lockdown"
#### Description
A few inquiries have come in to BC Registries from Ontario clients who are in lockdown and as such cannot go get an identity affidavit notarized. An informative response was drafted by Alysha Stone and could be added to the staff Script.

Staff Script: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/Client%20Issue%20Log%20Files

Details from Email from Alysha Stone:

Please

[2021-05-03 16:34] #7145 closed

[2021-05-03 16:35] #7310 closed

[2021-05-03 16:35] #6766 closed

[2021-05-03 16:37] forgeuxGH5 commented on #7196
Can we control the appearance of the scrollbar? Any update on the mouse-over appearance?

[2021-05-03 16:43] mstanton1 commented on #6939
@Sienna-Blumstengel @forgeuxGH5 for AC 6 and 8 which were added for names it notes in the CSV the name choices should be on separate lines. Typically in a CSV data items are separated using commas. Can you review and confirm the requirement please.

[2021-05-03 16:48] #6552 closed

[2021-05-03 16:48] #6553 closed

[2021-05-03 16:48] severinbeauvais commented on #5024
@Sienna-Blumstengel Can you please let me know the actual validation rules for folio number?

tracey.lebedovich 5:21 PM

severinbeauvais 9:18 AM

tracey.lebedovich 9:27 AM

[2021-05-03 16:58] mstanton1 opened #7412 "Block Business Registry Products when not selected"
* As a BC Registries client
* I want access to the products I request
* so that I only see products and services that are relevant to me

**Acceptance Criteria**

**Scenario 1: BC Registries client selects Business Registry Products**
* GIVEN I am a BC Registries client and I have selected to use the product Business Registry and/or Name Request
* WHEN I log on to BC Registries
* THEN I am able to

[2021-05-03 17:00] mstanton1 commented on #7155
@saravanpa-aot based upon your comment 7412 has been created. Feel free to add details.

[2021-05-03 17:03] forgeuxGH5 commented on #6923
The dashboard view for this ticket (Not in Good Standing) looks good (per BC1230105 - Limited Company NOT IN GOOD STANDING with a REQUIRED Alteration)

The behaviour for the Company information page view and returning to the business dashboard needs to be changed per BC1230111 - Limited Company IN GOOD STANDING with a REQUIRED Alteration BC1230001

Do you want to look at that in this ticket here o

[2021-05-03 17:05] cameron-freshworks commented on #7196
@forgeuxGH5
Absolutely, I imagine we can! What do we want it to look like?

[2021-05-03 17:21] Sienna-Blumstengel commented on #6939
Oh right, that makes sense. Name choices separated by commas is ok with me! @forgeuxGH5 is that ok with you?
FYI @lmcclung

[2021-05-03 17:26] severinbeauvais commented on #6923
New ticket please, as that is in a different app.

[2021-05-03 17:27] kialj876 commented on #7332
FYI the receipt is currently not included in the get payments call so the user does not see their receipt while payment is in approved state. Also emails for their payments will not be sent out

[2021-05-03 17:27] kialj876 commented on #7332
changed estimate to reflect actual time on this bug

[2021-05-03 17:28] Sienna-Blumstengel commented on #5024
@lmcclung we checked CPRD the other day for the requirements right? Database requirements are:

* VARCHAR
* Max 15 characters

Are we sending folio back to CPRD? I don't know where the 50 max characters came from, unless we decided to not send folio back.
Maybe @thorwolpert or @sumesh-aot can answer that? We should make sure our requirements match Relationships teams'.

Sorry for all the mess, @se

[2021-05-03 17:33] forgeuxGH5 commented on #6923
Sure - should probably be a bug ticket. @cameron-freshworks if you can confirm the above behaviour then this ticket is good to go.

[2021-05-03 17:43] severinbeauvais commented on #5024
"VARCHAR" means "any character", which includes punctuation, symbols, etc. Regardless of what the db can handle, what is the business requirement here -- anything, or 0-9, A-Z, a-z only? (and maybe the space character too)

[2021-05-03 17:48] mstanton1 opened #7413 "Job Aide for setting up ministry account"
#### Description:
BC Online Admin will require a job aid for how to set up a ministry account through the Business Registry.

*When creating please review the existing job aide for set up of a director search account. Check with BCOL Admin if they would prefer we add to the existing job aide or create a second document.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat

[2021-05-03 17:49] Sienna-Blumstengel commented on #6923
@severinbeauvais @forgeuxGH5  to confirm, you need a new ticket for the EDIT UI (alteration filing)?
@lmcclung where should we put that, after I make it?

[2021-05-03 17:50] severinbeauvais commented on #5024
@tlebedovich @lmcclung
As this same component is used for corrections (but with different functionality atm), I realized that staff cannot correct the folio number in an IA. Should this be implemented? If so, please create a new ticket (blocked by this ticket).

[2021-05-03 17:55] #7369 closed

[2021-05-03 17:57] severinbeauvais commented on #6923
Yes.

I'm guessing this refers to the breadcrumb component at the top of the info header, ie...
"Company Information > Review and Certify"
"Business Profile > Review and Certify"

The wireframe linked above shows various different things... We need to specify the exact changes needed.

[2021-05-03 17:58] mstanton1 commented on #7290
TEST access has been granted in TEST except for Kyle Dirkie, Jennifer Weldon, and Kristopher Yee. A request was sent for them to log on to TEST to enable me to grant the required access.

[2021-05-03 17:58] #7290 closed

[2021-05-03 18:12] forgeuxGH5 commented on #6939
Seems like separate lines could mess up your csv... So separated by commas seems like it'd be best for csv but we'd need to be sure the commas didn't get picked up incorrectly as column breaks. So like "Name 1, Name 2 , Name 3" would appear under the "Name Choices" column, or were you thinking for the csv each name choice could have a separate column and heading, so the column heading > value woul

[2021-05-03 18:20] forgeuxGH5 commented on #6923
Yes - new ticket but maybe let's check everything once things are in test - the issue I was seeing were related to the behaviour of the dashboard To Do item button not matching the state of the Company Information page.
I was looking at Cam's work in dev so I'm not sure if the issues are sorted in test or being QA'd.

[2021-05-03 18:25] mstanton1 commented on #6048
@sumesh-aot to discuss with @Milan-Freshworks and obtain further details.

[2021-05-03 18:33] mstanton1 commented on #7396
Ability to locate account will be addressed through **6390** which will make the account search global.

[2021-05-03 18:33] #7396 closed

[2021-05-03 18:37] severinbeauvais commented on #7286
@vysakh-menon-aot @andrepestana-aot @thorwolpert (whoever can look at this first)...

Does the API simply use whatever folioNumber is provided in the filing header object? If so then this requirement should work fine.

Or does the API store folio number anywhere and do anything else with it? If so then we need to investigate where it's used.

[2021-05-03 18:41] stevenc987 commented on #7285
@mstanton1 @amit4610 @Sienna-Blumstengel

1.	 NR 7030412 (Refund priority fee of 101.50 only. INC0086978) : Priority fee Refund Requested.
2.	 NR 7677001 - Please provide a refund of $131.50 INC0087352: No payment record in postgres databse.
3.	 NR 9124234 and NR 8642245 - refund for both rejected NRs INC0087289: Refund Requested for both NR.
4.	 NR 9186424 (INC0087766): Refund Requested.
5.	 NR 8

[2021-05-03 18:49] lmcclung commented on #7370
Pushing this ticket back into in-progress as the work done on Friday did not fix this issue.  Staff are updating the consent info in NameX but the info is not retained in Namex.  I added consent info and it saved.  But then when I searched NR 7892459 again in Namex it no longer appeared

https://chat.developer.gov.bc.ca/channel/registries-ops#&gid=1&pid=6

https://chat.developer.gov.bc.ca/channel/

[2021-05-03 18:57] lmcclung commented on #7370
Aslo checked NamesP Consent table for NR 7892459 ; Request ID 1808127 and the received row is not there.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/25e68b8e-1b49-4e21-8e2c-8e4ab63a9091)

[2021-05-03 19:00] andrepestana-aot commented on #7286
The only place I see the folio being used is here:
https://github.com/bcgov/lear/blob/master/legal-api/src/legal_api/resources/business/business_filings.py#L639
And it is just getting from the header and setting it to the payload.

[2021-05-03 19:08] severinbeauvais commented on #7286
Thanks Andre!

It looks like the code you linked is only used for creating an invoice, so it looks like Legal API does not store the folio number anywhere. LMK if you find something different.

I'm not sure if other BE modules use folio number. Can you confirm?

[2021-05-03 19:15] sumesh-aot commented on #7285
The refund failed items are DRAWDOWN payments, refund can be requested once the code changes for https://github.com/bcgov/entity/issues/6721 are in prod.

[2021-05-03 19:15] andrepestana-aot commented on #7286
Ok but, sorry, what do you mean by "BE" in "BE modules"? :)

[2021-05-03 19:30] pwei1018 commented on #7370
Update namesp consent table
![image](https://user-images.githubusercontent.com/44277752/116923244-478d6a80-ac0b-11eb-92cb-34bc0c0edb68.png)

[2021-05-03 19:53] kialj876 commented on #7332
added temp receipt fix (would've been too large for relationships to handle)

[2021-05-03 20:16] pwei1018 commented on #7370
The following NRs were processed:

NR 2466796
NR 4691429
NR 6260169
NR 3444179
NR 3498156
NR 8973860
NR 6148193
NR 9125425
NR 8861285
NR 7214613
NR 4745895
NR 8337317
NR 5763498
NR 2509543
NR 3424549
NR 6071576
NR 8592598

[2021-05-03 20:21] Sienna-Blumstengel commented on #4716
This ticket cannot be tested until https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/4711 is complete.

To test:
1. find an LTD in the BC Business Registry
2. Go to COLIN
3. file any filing for that entity in COLIN
4. Go back to the BC Business Registry
5. See the filing that you filed in COLIN

If the filing:
* Doesn't have outputs
* Only has a title, and the m

[2021-05-03 20:27] Milan-Freshworks commented on #6945
It has been tested and verified.

[2021-05-03 20:28] Milan-Freshworks commented on #7382
It has been tested and verified.

[2021-05-03 20:30] #6731 closed

[2021-05-03 20:30] #6728 closed

[2021-05-03 20:30] #6498 closed

[2021-05-03 20:30] lmcclung commented on #7015
I didn't have any troubles with this last week when I did about 30 NRs in test.

[2021-05-03 20:35] mstanton1 commented on #6939
@forgeuxGH5  I was thinking one column still.  So "Name 1, Name 2, Name 3".

As far as column headers a goal is to implement transaction reporting which works for the various partners/stakeholders. You refer to the column as the "Name Choice" column. To avoid having to customize for each partner I envisioned a more general column header like "Details". This would work for PPR and other government

[2021-05-03 20:41] mstanton1 opened #7414 "OrgBook listing of public vs private data elements"
#### Description
Work is underway to determine how to provide OneStop partners with messaging services through OrgBook.

Determine data elements that BC BN Hub Partners send / receive through the BC BN Hub.
Identify which elements are public (e.g. business name) vs which elements are private (e.g. director names).

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Oper

[2021-05-03 21:14] mstanton1 commented on #7407
Updates have been made to the manual stored on SP: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={4A28C398-35FF-4955-9CB0-5983EC9AC10D}&file=Director%20Search%20User%20Manual.docx&action=default

A link to the updated manual has been sent to the BCOL Admin Team & Bob Bowles.

[2021-05-03 21:15] #7407 closed

[2021-05-03 21:22] mstanton1 opened #7415 "Payment problem for name request"
#### ServiceNow incident: INC0088982
#### Contact information
Staff Name: Kristopher Yee
Staff Email: Kristopher.Yee@gov.bc.ca

#### Description
NR4685253 is stuck in Payment Processing, would it be possible to have this pushed through to Draft status?

Email from Client:

I just tried to request a name for my business, Dear Alice Aesthetics, all went well until I paid with my visa debit and a box

[2021-05-03 21:24] tlebedovich commented on #7344
@janisrogers - awaiting answers on two open questions for you --

1) What are the numbers shown under the vehicle collateral list (block number? priority numbers?)
2) Need a sub head for the court order description text

[2021-05-03 21:38] pwei1018 commented on #7415
It's PAID status in pay db

NR 4685253	44178	REG00044178	PAID	COMPLETED	131.5	131.5	269909

And Completed status in namex db
42610	44178	2021-05-02 20:19:10.48086	COMPLETED	2096722		CREATE	true

[2021-05-03 21:42] pwei1018 commented on #7415
And Approved.

![image](https://user-images.githubusercontent.com/44277752/116937266-d6a37e00-ac1d-11eb-9ede-7429a626a231.png)

[2021-05-03 21:53] andrepestana-aot opened #7416 "Staff Payment data is not saved for a draft filing"
Tested in Dev.

~- [ ] Resolution Date not being returned in Draft.~
- The above is happening but it is synced with the Share Structure and only saving it if Changes are made to share structure.

- [x] Office addresses being lost when returning from Review Page.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/ed

[2021-05-03 21:55] mstanton1 commented on #6528
A request to update the wording has been sent to Beanstream (via CASHelp).

[2021-05-03 21:56] mstanton1 commented on #7415
Kristopher has confirmed this is no longer appearing as "stuck".

[2021-05-03 21:56] #7415 closed

[2021-05-03 21:59] forgeuxGH5 commented on #6939
If this is just for the csv, "Details" could work as a column heading - we haven't done any design or research work around csv...
I don't know if we need a "Details" column for anything for PPR - if @janisrogers or @Kaineatthelab requested this it could be I just haven't got there yet.
I don't know how users would use a "Details" column across application csv outputs.
We might need to discuss that

[2021-05-03 21:59] lmcclung commented on #7370
@pwei1018 - it looks like the Consent table isn't being updated - the RECEIVED_FLAG still shows Y and should show R once NameX is updated.

[2021-05-03 22:07] amit4610 commented on #7379
included in 7374

[2021-05-03 22:07] #7379 closed

[2021-05-03 22:12] mstanton1 opened #7417 "Reverse sort for Pending affidavits"
#### Description
In the Business Registry "Pending Review" tab affidavits are shown with the newest ones first. In order to locate the oldest pending affidavit BCOL Admin staff would need to choose the next arrow to navigate to the last available page.

The sort should be reversed so the affidavit with the oldest submission date is at the top of the list (page 1) and the affidavit with the most re

[2021-05-03 22:14] severinbeauvais commented on #7416
Staff Payment data also need to be restored when loading a draft filing.

[2021-05-03 22:16] mstanton1 commented on #6939
@forgeuxGH5 PPR would use the "Details" column for what was searched. Given there isn't any research to back customizing columns at this time lets go ahead with "Details" as a MVP and revisit if needed later. And to confirm - does the comma approach work for now as well?

@Sienna-Blumstengel if your team is good with the approaches discussed can you update the AC for Names? We are planning to tack

[2021-05-03 22:25] forgeuxGH5 commented on #6939
@mstanton1 the thing we don't know - the thing that would require research - would be the use of a "Detail" column - labelling the column with the exact label would be the expected behaviour. The use of a "Detail" label would be a call for @Kaineatthelab and @lmcclung - I'd recommend using the exact label unless we have evidence showing "Detail" will work for users.

[2021-05-03 22:26] lmcclung commented on #7370
Verified NR 9475397 & NR 2423054 both saved the consent rec’d dates in nameX this afternoon **BUT the Consent table in NamesP is not being updated** with the new row for RECEIVED_FLAG shows R. There’s only the Y row.

[2021-05-03 22:37] lmcclung commented on #6939
I'm okay with the generic column heading "Detail" for the PPR search and the NR name choices for MVP.  Perhaps we can tie research into a future research session - can always make enhancements later.

@mstanton1 can you confirm Scott's question about whether the name choices would be on separate lines in the details columns in the report with name 1, name 2 name 3 (we were okay with commas in the

[2021-05-03 22:43] pwei1018 commented on #7370
This is a bug in namex. I can re-produce the same behavior in Test. When the user update the consent, the "furnished" flag should be reset to 'N'. Otherwise, the new update won't sync to NamesP database through NRO_UPDATE Job.

[2021-05-03 22:44] mstanton1 commented on #6939
@lmcclung thanks for the input. I addressed Scott's question four comments up:

I was thinking one column still. So "Name 1, Name 2, Name 3".

If/when research is completed it will be important to understand how the CSV's integrate with accounting software and whether different column headers per app impact the ability for a firms accounting software to read the files.

[2021-05-03 23:06] PatrickAHeath commented on #6848
Fee Code for Crown/Miscellaneous Act registrations:

Type Code:  PPR
Filing Type Code:  MAREG
Filing Type:  PPR Crown/Misc Act Registration
Amount: 0.00

[2021-05-03 23:19] janisrogers commented on #7150
I have not yet been able to verify. I will do so as soon as I can

[2021-05-03 23:24] #7409 closed

[2021-05-03 23:25] lmcclung commented on #7409
NR now consumed.

No release required.

[2021-05-03 23:26] lmcclung opened #7418 "P1 PROD ISSUE - NAMEX not resetting 'furnished' flag when consent added"
**Describe the bug in current situation**
When the user updates the consent, the “furnished” flag should be reset to ‘N’. Otherwise, the new update won’t sync to NamesP database through NRO_UPDATE Job.

**Impact of this bug**
Impacts about 50-100 users a day who are unable to file their forms on legacy applications as get errors stating consent has not been received (even though it has).

**Chance

[2021-05-03 23:28] lmcclung commented on #7418
I thought this would be addressed under #7370 but Patrick said it needed a new ticket as this issue is a NameX issue to send stuff to oracle.

[2021-05-03 23:40] Sienna-Blumstengel opened #7419 "INC0088995 - NRO - Refund Request x2 - NR Number - 5574895 - RAD Cleaners"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
INC0088995
#### Contact information
Staff Name: Maximus Help Desk
Looped in Debbie to advise

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x]  Add 'Priority1' la

[2021-05-03 23:41] Sienna-Blumstengel commented on #7419
From Linda to Debbie:

[2021-05-03 23:48] #7382 closed

[2021-05-03 23:48] #6945 closed

[2021-05-03 23:57] lmcclung opened #7420 "P1 PROD issue - staff cannot extend expiry date in NameX"
**Describe the bug in current situation**
When staff extend an expiry date in NameX the new date is not saved.

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.
Staff use this feature several times a day in order to give a user a week or two additional time to get consent.  Staff workaround is to reset the NR and re-

[2021-05-04 00:56] #7353 closed

[2021-05-04 00:56] #7191 closed

[2021-05-04 00:57] #7291 closed

[2021-05-04 00:58] #7278 closed

[2021-05-04 01:02] #7189 closed

[2021-05-04 01:10] lmcclung commented on #6999
Spoke with Jamie May 3rd and sent her an email.  She will send me credit card charges proof.

[2021-05-04 01:11] lmcclung commented on #6613
Training completed April 29th.

[2021-05-04 15:07] janisrogers commented on #7150
Looks good in DEV.

[2021-05-04 15:07] #7150 closed

[2021-05-04 15:35] jordiwes commented on #7259
For validation:
- do we validate that it's a valid VIN only if type is vehicle? There is a VIN regex, or do we want to call out to an api service?
- do we want to do aircraft validation?
- validate any other type of vehicle?
- are all fields mandatory?
- can both vehicle collateral and general collateral be present?

[2021-05-04 15:57] lmcclung opened #7421 "BEN alteration creating change of name certificate even when no name change made"
**Describe the bug in current situation**
A change of name certificate should only be created if the company changes its legal name as part of an alteration.
I filed a BEN alteration using the "Change company information button" - I added name translation and added a share series.  I got a change of name certificate when i shouldn't have.
**Link bug to the User Story**

**Impact of this bug**
Desc

[2021-05-04 16:19] Sienna-Blumstengel commented on #6939
@mstanton1 I have updated the AC for scenarios 5, 6, 7, and 8. @lmcclung @forgeuxGH5 could you review?

[2021-05-04 16:42] jmills-cgi opened #7422 "Entities: May 7 Bug Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-05-04 16:43] Sienna-Blumstengel opened #7423 "Edit UI - Prevent Alteration if Not In Good Standing"
## Background
This ticket came from [#6923](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6923), we split off the work because some of it was in the Filings UI, and some was in the Edit UI. This work is for the Edit UI(within the alteration filing itself), and **preventing users from completing an alteration filing if they are not in good standing**.

## Acc

[2021-05-04 16:43] Sienna-Blumstengel commented on #6923
I have created this new ticket for the other Edit UI work: https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7423

[2021-05-04 16:47] jmills-cgi opened #7424 "Entities: NameX Search"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-05-04 16:51] jmills-cgi opened #7425 "Name Request Release: 2.2.3 - Name Request Advanced Search"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Update version number in the code being released
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub and confirm the correct commits are present
- [x] Add version # and release # to this ticket
- [x] Dev to send commit list to QA (or otherwise pu

[2021-05-04 16:52] andrepestana-aot commented on #7421
The issue happened because it only checks if there is 'nameRequest' in the filing:
https://github.com/bcgov/lear/blob/master/legal-api/src/legal_api/services/document_meta.py#L289

We need to do additional checks to be sure there was a change of name.

[2021-05-04 17:01] severinbeauvais commented on #7007
See also #7423.

[2021-05-04 17:22] Sienna-Blumstengel commented on #7285
15. Please refund this one instead: NR4416254

19. @sumesh-aot @stevenc987 is it possible that the client was charged twice, but PayBC only sent us one payment confirmation? The client is claiming that they were charged 131.50 x 2, and 31.50 x 2. We will ask client for confirmation in their statement, then send it off to PayBC for investigation, perhaps?

[2021-05-04 17:27] shabeeb-aot opened #7426 "Miscellaneous bugs in GOVM account creation and approval"
**Describe the bug in current situation**
1. Account already existing on submission.
2. GL info is not loading on user login first time (https://dev.bcregistry.ca/business/auth/account/2677/settings/payment-option)
 -  Loads after moving between pages
3. After GOVM creating account  user able to move account settings page (before refreshing the page)
4. Mail not generating (karthik working on curr

[2021-05-04 17:28] Kaineatthelab commented on #7259
@forgeuxGH5 @janisrogers @PatrickAHeath thoughts on this in the design?

[2021-05-04 19:33] Milan-Freshworks commented on #6872
- Scenario 6: Wills Registry Access is Approved
The email has not been generated @shabeeb-aot mentioned that @karthik-aot is working into it

- On the left it is 'Product and Services' but on screen, the header is 'Products and Services'
![Screen Shot 2021-05-04 at 12.26.52 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/c7e98e3f-afbf-4628-85cb-ed4daaa2b54d)

[2021-05-04 19:40] Sienna-Blumstengel commented on #6829
@trishreimer could you please review my changes?
I am not sure what exactly to put under "How will they support the client in the future", what did you have in mind? Perhaps the basic "provide guidance on how to use the new Name Request system through the existing support channels"?

[2021-05-04 19:51] #7196 closed

[2021-05-04 20:11] lmcclung commented on #7367
I emailed client back.

[2021-05-04 20:11] #7367 closed

[2021-05-04 20:15] lmcclung commented on #7371
@pwei1018 @kialj876 Need to know who did this work and what the estimate should be.

[2021-05-04 20:19] lmcclung commented on #7419
Hi Debbie,

Thanks for looking into these NRs. I have added NR 3285647 & NR 3847545 to the weekly refund ticket, #7402.

Sienna

On Tue, May 4, 2021 at 9:08 AM Blyth, Debbie CITZ:EX <Debbie.Blyth@gov.bc.ca> wrote:
So it appears that Josh has processed NR 5574895 and cancelled NR 3285647 & NR 3847545, so if you could generate the refunds for the cancelled NR’s.

Thanks,

Debbie Blyth

[2021-05-04 20:19] #7419 closed

[2021-05-04 20:21] lmcclung commented on #7320
Closing ticket as no response from client.

[2021-05-04 20:21] #7320 closed

[2021-05-04 20:25] lmcclung commented on #7087
This hasn't been fixed.  Staff have manually been adding an extra year to the expiry date.

[2021-05-04 20:26] lmcclung commented on #7087
Removed OPs label as this is a bug that needs fixing long term.

[2021-05-04 20:34] Kaineatthelab commented on #7371
I believe this was due to the syncing caused by the firewall issue which was corrected. I added a estimate from what  I saw

[2021-05-04 20:35] trishreimer commented on #6829
How will they support the client in the future - Today, staff use the NRO tab and NameX to support clients who have submitted Names. In the future, staff will be able to request a name for a client in the new client facing app (not NameX and not in the NRO tab). Functions such as consent and the step 4 (advanced search) will be in NameX for staff and client facing for clients?? (Is that accurate?)

[2021-05-04 20:36] trishreimer commented on #6829
If you have additional questions, feel free to setup a quick chat.

[2021-05-04 20:41] jdyck-fw commented on #2118
![retro 53.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/0e06ce24-0c5d-46e2-8101-bc37d74ba475)

Action items:

- [ ] @lmcclung  - Create a ticket for a dev to create more test data
- [ ] @lmcclung  - Raise consideration of Slack at PO sync for interest

[2021-05-04 20:43] forgeuxGH5 commented on #6939
@Sienna-Blumstengel had a look - looks ok to me - let's make @rkim13103 the design lead on this - @rkim13103 see what you think

[2021-05-04 21:06] janisrogers commented on #7259
_do we validate that it's a valid VIN only if type is vehicle? There is a VIN regex, or do we want to call out to an api service?_
I think the api service is a post mvp enhancement. I think there is a ticket to research the best option? @forgeuxGH5 Do we have MVP validation requirements documented?
_do we want to do aircraft validation?_
Again, I think this is post mvp
_validate any other type of

[2021-05-04 21:10] amit4610 opened #7427 "Unable to login to TEST with IDIR"
Good Morning!

I’m having issues logging onto the TEST Business Registry (https://test.bcregistry.ca/business) with my IDIR.  I get the error that the username paheath already exists.  I have the same issue with NAMEX in TEST.

If I click Review Profile, it displays my correct information:

Richard had been helping with the same issue when I was attempting to access NAMEX in DEV, but with no luck.

[2021-05-04 21:21] KevinB-gbc commented on #7259
RE: _all fields mandatory?_
I understand all except year are mandatory, i.e. collateral type, serial number (or alternative, e.g. aircraft number of MH number), make/manufacturer and model. Reference PPSR s 10(3)-(4).
An exception is a manufactured home (MH) for which make, model and year are not required (optional). Reference PPSR s 12(4).

[2021-05-04 21:27] janisrogers commented on #7259
Slight correction to my comment above. MH number may need to be padded with zeros but we should accept less than 6 digits. I think four might be the minimum. According to Sharon  - in the existing system:
I believe you only have to type the numbers- or have the option to type just the numbers avoiding the preceding zeros
as example: our register shows 001001
but you can type and register 1001 for

[2021-05-04 21:32] Milan-Freshworks commented on #4118
- Scenario 3 - Staff with admin group Approve Access
The email has not been worked on yet and can't be tested.

[2021-05-04 21:45] mstanton1 commented on #2125
![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/473400dd-514e-4ef0-9aad-6cbf580f0d0d)

[2021-05-04 22:15] PatrickAHeath commented on #5256
Discharge Requirements:

https://docs.google.com/document/d/1DHPmLp1nH368anJX4kPntPlMhvo-74D-cPOoOpGvJLw/edit

[2021-05-04 22:21] amit4610 opened #7428 "Hide GL codes from staff dashboard"
Title of ticket: Hide GL codes from staff dashboard

Staff can edit the GL codes currently from staff dashboard.
The edit functionality has to be a back end process that BAs can coordinate.

#### Description
Summarize issue and attach email OR copy and paste email content into ticket

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add

[2021-05-04 22:56] lmcclung commented on #7418
Tested using NR 9769905 in TEST environment...
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/94c2491c-bb77-4ce7-9f52-9b8ec770da53)

Also went back into NameX to search NR again - all looks good.
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/307713a8-f9fa-46e8-a57d-a37e3cbf324d)

[2021-05-04 22:57] lmcclung commented on #7418
Ready for PROD!

[2021-05-04 23:01] lmcclung commented on #7420
Tested with NR 9769905 - looks good and ready for PROD

Before:
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/d999fcf3-4bad-4ffe-bec1-d057632a9486)

Changed expiry to July 3
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/99eb77be-51e5-4cfa-aae9-af8b0b83ebea)

Went back into NameX to ensure expiry stayed there:
![image.png](https://images.zen

[2021-05-05 05:24] jyoti3286 commented on #5764
Refer to the "Relationships_Staff Feedback" https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/Modernization%20Docs/Forms/AllItems.aspx?RootFolder=%2Fsites%2FSBC%2FREG%2FProjects%2FMVSM%2FModernization%20Docs%2FRelationships%20Docs%2FAnalysis&FolderCTID=0x012000B818EF4733FA1245879E82E0E935EF33&View=%7B73B5D7A3%2DD31E%2D4F84%2D8AEB%2D53B299B08647%7D

[2021-05-05 05:29] jyoti3286 commented on #6921
@Kaineatthelab Why did we close the ticket? Its just the design piece which has been done. I am reopening the ticket

[2021-05-05 14:50] cameron-freshworks commented on #7318
@riyazuddinsyed Can confirm this is working in both DEV and TEST.

It could have been that `pay-api' was down at the time potentially.

[2021-05-05 14:56] #3581 closed

[2021-05-05 14:57] #6589 closed

[2021-05-05 14:58] #6590 closed

[2021-05-05 15:05] janisrogers commented on #6925
Was this closed as a duplicate? Because these still need design.

Janis Rogers
Service BC
778-698-1406

From: Kaineatthelab ***@***.***>
Sent: May 5, 2021 7:59 AM
To: bcgov/entity ***@***.***>
Cc: Rogers, Janis CITZ:EX ***@***.***>; Mention ***@***.***>
Subject: Re: [bcgov/entity] TEST CASES - Error Handling Use Cases and Actions (#6925)

[EXTERNAL] This email came from an external source. Only op

[2021-05-05 15:09] Kaineatthelab opened #7429 "Hire a UX Person"

[2021-05-05 15:10] Kaineatthelab opened #7430 "Hire QA person for PPR but also accross support lead by Riyaz"
Experience performing Manual Testing.
Experience working on different Automation Frame works like Selenium preferably Cypress.
Experience writing the Frame work for Automation Testing from scratch.
Good understanding of the development process.
Experience with Testing API.
Good hands on experience writing SQL queries.
Experience with Deployment platforms preferably Opneshift.
Experience in releasi

[2021-05-05 15:11] #6613 closed

[2021-05-05 15:11] #6684 closed

[2021-05-05 15:18] stevenc987 commented on #7427
@PatrickAHeath
It seems your issue is occurring before getting into our application. Could you please contact below to see if they can fix the issue? Please let me know if they can't fix the issue.

Contact your IDIR security administrator or the 7-7000 Service Desk at:
Phone: 250-387-7000
Email: 77000@gov.bc.ca

[2021-05-05 15:19] mstanton1 commented on #5764
Note sent to Linda and Sienna to confirm if they have a need for this still as well.

[2021-05-05 15:20] #3868 closed

[2021-05-05 15:20] #3870 closed

[2021-05-05 15:20] #3871 closed

[2021-05-05 15:20] #3872 closed

[2021-05-05 15:20] #3873 closed

[2021-05-05 15:20] #3866 closed

[2021-05-05 15:22] mstanton1 opened #7431 "FW: Name Request Account set up"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident: INC0089322
#### Contact information
Staff Name: Joshua Thiessen
Staff Email: Joshua.Thiessen@gov.bc.ca

#### Description
Trying to log into sfs7.gov.bc.ca to try to get to the authentication screen to screen shot for the “invalid” message I get and I got this message below instead of the authentication scr

[2021-05-05 15:26] lmcclung commented on #6290
blocked until alterations and fix for this is pushed into prod on May 11

[2021-05-05 15:26] lmcclung commented on #7158
blocked until alterations and fix for this is pushed into prod on May 11

[2021-05-05 15:27] lmcclung commented on #6597
blocked until alterations and fix for this is pushed into prod on May 11

[2021-05-05 15:28] stevenc987 commented on #7285
@Sienna-Blumstengel
15. I check NR4416254 has been refunded.

![image](https://user-images.githubusercontent.com/25512847/117166820-935f2180-ad7b-11eb-904e-4c7c6ba1ed39.png)

19. Please ask client to provide more evidence for the twice charge.

[2021-05-05 15:57] sumesh-aot commented on #7285
@Sienna-Blumstengel I dont see any traces of duplicate payment for these NRs. Please ask them to provide a screenshot from their statement. Also is there any chance they used the same credit card for other NRs ?

[2021-05-05 16:10] Kaineatthelab opened #7432 "Verify: Consent issue - NAMES BUG"
Is there any eta on this fix?  I also wanted to make sure you are aware that we are unable to update a NR, for instance update the clients name or email.  When we try and to an update for this, it doesn’t show in NRO so we can’t re-send the NR results.

I also have one more issue, clients have been calling indicating that they have not been receiving email notifications either after they have paid

[2021-05-05 16:15] rkim13103 commented on #6921
@jyoti3286 Oh Sorry Jyoti, I thought this was a research/solution ticket so I closed the ticket after discussing with Scott! Sorry!

[2021-05-05 16:34] mstanton1 commented on #6119
To be addressed in 6116. Keep for verification.

[2021-05-05 16:36] Sienna-Blumstengel opened #7433 "API - Allow user with BC ROS keycloak token & correct role to complete a search"
**Talk to Kial first to see if this work has been done under his Advanced Search in nameX story.** 6609

This ticket is to enable users to complete an advanced lookup.
The roles are for making sure that whoever is making the call is authorized to do so.

* Review the roles, see if we can use an existing role, or if we need a new role for this.
  * If we need a new role, we will have to loop in rel

[2021-05-05 16:40] mstanton1 commented on #7176
@Milan-Freshworks to test to confirm which issues are still outstanding.

[2021-05-05 16:42] saravanpa-aot opened #7434 "set token info to g in auth-api"
## What is the problem?
token_info is an arg to almost all methods as an argument

## What is the impact?
* unnecessary code

## Proposed solution
** Pay-api follows a good pattern to set the user information to g and we dont have to pass around the token info in all methods..
look at lear code as well to see what are the best way to do it

[2021-05-05 17:13] mstanton1 opened #7435 "Updates to Background on PayBC Screen"
#### ServiceNow incident:
#### Contact information
Staff Name: Kaine Sparks

#### Description

This seems not purposeful, a blurry picture. Can we ask Paybc do something else here, even just white background?

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/b5f0cfcf-1c7b-4e1c-b908-bb330071fa45)

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat

[2021-05-05 17:14] mstanton1 commented on #7435
Sent to CAS Help to request an update. Suggested a white background. A Ticket has been created:

http://remedyapps.gov.bc.ca/arsys/servlet/ViewFormServlet?form=CAM%3AHelpDesk&server=remedyp&eid=0000245341

This is a courtesy message informing you that Alert #0000245341 has been created.

The icon is inactive if you are not a CAM user.

Severity : Normal
Short Description : Background on PayBC Scre

[2021-05-05 17:18] amit4610 commented on #7337
account still under review

[2021-05-05 17:23] Kaineatthelab opened #7436 "UI - Updates to Collateral+UX Assurance"
- [ ] requires UX assurance
- [ ] Janis creating validation rule docs
- [ ] add estimtate when above are complete

Validation and Field Text spreadsheet:
https://docs.google.com/spreadsheets/d/1SMIHMlH9DeqKQh1r44vhr6zrUIfoJRi4B3e-O3X1DVU/edit?usp=sharing

[2021-05-05 17:29] amit4610 commented on #7285
Notified IT Ops to close SBC incidents of 10 that are done. Remaining ones are (not in order):

1.	NR 3729902 (no incident number - duplicate NR report - $31.50): Internal Server Error. Sumesh will do it.
2.	NR 0494144 (no incident number - duplicate NR report - $31.50): Internal Server Error. Sumesh will do it.
3.	NR 7548432 (no incident number - duplicate NR report - $31.50): Internal Server Err

[2021-05-05 17:31] Kaineatthelab commented on #7149
Expiry date is supposed to remain the same

[2021-05-05 17:31] #7149 closed

[2021-05-05 17:33] Kaineatthelab commented on #7152
Dealt with in ticket #6925

[2021-05-05 17:38] Kaineatthelab commented on #7183
Global issue, if you go directly to create business it won't work either.

[2021-05-05 17:39] janisrogers opened #7437 "UI Design - Error handling in PPR"
### Copydeck with Error Text listed:
https://docs.google.com/document/d/1T8CGhrV7WZr36OmaalCqaMfhKdMqZbgyw4GYkZg_L1g/edit?usp=sharing

### Visual Design Comps (Error Scenarios 1 to 10):
https://projects.invisionapp.com/share/GB11GH74QJMD#/screens?browse

### Wireframes
~https://preview.uxpin.com/6b672d86df0756e8a753aa84b82497c39dab1608#/pages/139884929/simulate/no-panels?mode=i~

See dev ticket #6

[2021-05-05 18:21] Sienna-Blumstengel opened #7438 "BC1186381 LUMINOUS PRODUCTS LTD. Alteration, LTD > BEN"
#### ServiceNow incident:
INC0089386

#### Contact information
Staff Name: Kat Langlois

#### Description

**This is an alteration from an LTD to a BEN.**

FORM: [https://app.zenhub.com/files/157936592/f0eb281f-ea1d-4d30-98a7-f5adbe675525/download](https://app.zenhub.com/files/157936592/f0eb281f-ea1d-4d30-98a7-f5adbe675525/download)

#### Tasks
- [x] When ticket has been created, post the ticket i

[2021-05-05 18:43] amit4610 opened #7439 "re-send the client an invite"
Title of ticket: [Entity number and name] or "Account Management"
Hello Team,

Can you please assist with the request below?
INC0089404 created for this.

Thank you,
Samson Ohiobor
Operations Support Analyst
Registries & Online Services, Service BC Ministry of Citizens’ Services
T: 250-952-0568| Web: http://www.bcregistryservices.gov.bc.ca/
“Access to government services made easy”

From: Blyth, D

[2021-05-05 18:50] stevenc987 commented on #7438
@Sienna-Blumstengel
I checked there is no result from businesses table: select * from businesses where identifier='BC1186381'

[2021-05-05 18:52] lmcclung commented on #5764
@mstanton1 we'll use your spreadsheet.  I've added a tab.  But document should probably be renamed so it's not relatinship specific. @Sienna-Blumstengel FYI.

[2021-05-05 18:53] Sienna-Blumstengel commented on #7438
@stevenc987 did you check COLIN? I think it might be in there. Also you are welcome to tackle this ticket, but this can also wait and Thor or Richard can pick it up another day. :)

[2021-05-05 19:00] mstanton1 commented on #5764
@lmcclung @Sienna-Blumstengel great! I've renamed the folder to doc to Modernization_Staff Feedback and saved it in the Change Management folder instead. I will close this ticket as we now have tackled the tracking work.

[2021-05-05 19:09] stevenc987 commented on #7438
@Sienna-Blumstengel
Yes, it is in COLIN. I will leave this to entity team.

[2021-05-05 19:32] severinbeauvais commented on #5024
@tlebedovich Part 1 of this ticket is now in Dev for your review.

Note that the FN is currently hidden for staff... In part 2 I will fix this so it's displayed but with no actions.

[2021-05-05 20:07] Sienna-Blumstengel opened #7441 "Client cannot incorp numbered company - Error Found Pay BS 201 payment status check failed"
#### ServiceNow incident:
INC0089416

#### Contact information
Staff Name: Marek Smusz (BCOL HELP)
Staff Email: bcolhelp@gov.bc.ca

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
~- [ ] Assign zenhub ticket to mile

[2021-05-05 20:15] SateeshFW opened #7442 "SPIKE : Research on global search functionality - 6390"
Need to do research on how to implement the global search functionality which is useful for all the current filter options we have.
Need to do the feasibility study on all the solutions and pickup the best one for implementation.

Linked to [6390 ](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6390)

[2021-05-05 20:20] #7240 closed

[2021-05-05 20:26] stevenc987 commented on #7441
@Sienna-Blumstengel
What is client user id? What entity number did the client try? Can he/she provide a screenshot for the errors?

[2021-05-05 20:29] SateeshFW opened #7443 "Change the wording from “BC Services Card” to “Mobile Services Card”"
Please refer to the original ticket [6734](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6734) for more details.
This ticket is being created based on the feedback received from @trishreimer to change the wording to 'Mobile Services Card'.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/754d63db-e811-41b0-94ab-df1982a7dda2)

Accep

[2021-05-05 20:58] riyazuddinsyed opened #7444 "Cancel and Refund shows 0$ on the fee reciept."
**Describe the bug in current situation**

When a user pays for the PAD account and after any PAD payment and then hits on cancel and refund the fee receipt shows $0 and the status in namex shows Refund Requested.

**Impact of this bug**
Users paying with PAD

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/business/auth/home/decide-business'
2. Use the PAD account
3. Complet

[2021-05-05 21:01] amit4610 commented on #7439
sent the client screenshots of how the admin can add them again.

[2021-05-05 21:01] #7439 closed

[2021-05-05 21:04] lmcclung commented on #7432
see 7418 being released today.

[2021-05-05 21:14] mstanton1 commented on #7402
@stevenc987 the weekly refund ticket is ready.

[2021-05-05 21:28] amit4610 opened #7445 "Payment error"
Title of ticket: [Entity number and name] or "Account Management"

INC0089416

Client has tried 4 times using Firefox & Chrome on a PC over 3 days.  He gets the same error repeatedly at the payment screen:

Error found pay BS 201 Payment Status check failed.   Half an hour later, he gets an email that the fee has been reversed.

Marek Smusz
604-240-4163
MarekSmusz@hotmail.com
VISA last four number

[2021-05-05 21:30] stevenc987 commented on #7445
@amit4610
Is this ticket the same as ticket 7441?

[2021-05-05 21:31] amit4610 commented on #7445
oh yes. closing this.

[2021-05-05 21:36] janisrogers opened #7446 "UI Design - Notice of Withdrawal"

[2021-05-05 21:44] #7332 closed

[2021-05-05 21:44] janisrogers commented on #6752
@Kaineatthelab I think we need a dev ticket for this work.

[2021-05-05 21:47] janisrogers opened #7447 "UI Design - Initial BCROS Homepage Design"
- See visual design comps for specs (you can also use the </> Inspect view in Invision to see font styles, colours, spacing)
-  Build for Desktop and make it responsive down to Mobile (Mobile Design comp in link as well)
- Logged in mode for BC Registries panel
- Follow the same responsive page grid system as the BC Business Registries homepage https://www.bcregistry.ca/business/auth/home/decide-b

[2021-05-05 21:48] janisrogers opened #7448 "UI Design - Add Learn more links and link to CMS Blade"
### Visual Design
TBD

[2021-05-05 21:48] mstanton1 commented on #6528
Anwar has requested further details on the flow which leads a user to this time out screen. Further information has been provided.

[2021-05-05 21:57] janisrogers opened #7449 "UI Design - Wording for Subscription options"
TBD

[2021-05-05 22:02] janisrogers opened #7450 "Sprint 53"
### Entities - Alterations (High Priority)
- [ ] Warning by the date selector. Note from Cameron - Need some kind of message within the FED component so if you have a future effective date, you will lose you filing fees... Dev ticket #7062
- [x] Top Level UX/validations functionality for Alterations #6477 (Scott and Tracey met with DEV and ticket has been made - DEV still to do)
- [x] Alterations

[2021-05-05 22:03] #7034 closed

[2021-05-05 22:05] lmcclung commented on #7438
@Sienna-Blumstengel I chatted with Kat and we're going to do it together as staff once we push Alterations to PROD.  At that time, dev's can test out the alteration pieces they do (freeze might already be done, load history, put in draft filing).

Dev's after May 11th you'll need to load the history and put the draft IA in the to do list.

[2021-05-05 22:07] #6477 closed

[2021-05-05 22:08] #6399 closed

[2021-05-05 22:09] lmcclung commented on #6801
@pwei1018 would you be able to answer Severin's question above?

[2021-05-05 22:11] Sienna-Blumstengel commented on #7285
19. Waiting on Maximus HD employee to provide the initial screenshot that they saw so we can confirm

[2021-05-05 22:15] janisrogers commented on #7198
Needs review by @lmcclung, but dev ticket has been moved to post MVP.

[2021-05-05 22:17] janisrogers commented on #7033
@tlebedovich  - Scott says that is fine

[2021-05-05 22:21] janisrogers commented on #7033
@Kaineatthelab - This one needs review and a dev ticket created.

[2021-05-05 22:25] Sienna-Blumstengel opened #7451 "Name Request NR 0723542 - YO ELEVEN GAMING INC."
#### ServiceNow incident:
INC0089508
#### Contact information
Staff Name: Kristopher Yee

#### Description

**Investigate 3609495 and 4367324. How did the NRs end up as canceled (who did it)? Are they both paid for?**

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add '

[2021-05-05 22:32] stevenc987 commented on #7451
3609495 paid once
4367324 Not paid yet.
![image](https://user-images.githubusercontent.com/25512847/117217905-12258000-adb7-11eb-87cd-e98949ef15cd.png)

[2021-05-05 22:35] Sienna-Blumstengel commented on #7441
Sent ti IT Ops:

[2021-05-05 22:40] Sienna-Blumstengel commented on #7451
@stevenc987 is 4367324 'PAYMENT PENDING'? What is pay_status CREATED?

[2021-05-05 22:49] stevenc987 commented on #7451
@Sienna-Blumstengel
It meant it didn't pay yet.

[2021-05-05 22:59] lmcclung commented on #6017
@andrepestana-aot can you take this one on?

Thor says there aren't any automated tests for this.

[2021-05-05 23:07] Sienna-Blumstengel commented on #7438
@lmcclung didn't we take payment already? Or are we going to file it "no fee" as staff together?

[2021-05-05 23:46] lmcclung commented on #7258
This needs further investigation - which of these changes is breaking the payment?  Need to test individually.
[https://app.zenhub.com/files/157936592/99f2c963-54ca-4433-90f1-7dc5bb42ff4a/download](https://app.zenhub.com/files/157936592/99f2c963-54ca-4433-90f1-7dc5bb42ff4a/download)

[2021-05-06 00:00] lmcclung commented on #7438
@Sienna-Blumstengel we have a routing slip and staff will take the payment through the legacy Fee Accounting System (FAS) like they've been doing for all previous alterations.  In the staff payment component they'll enter the RS # so it displays on the receipt.

[2021-05-06 02:28] Milan-Freshworks commented on #7444
I have not been able to reproduce the bug![Screen Shot 2021-05-05 at 7.27.31 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/9ba3b4c4-7ba6-43e8-9230-1c7a17e1f6eb)

[2021-05-06 03:04] tlebedovich commented on #5024
@severinbeauvais Would you have a premium user log in for DEV I could use to have a look please? I don't have one.

[2021-05-06 03:07] severinbeauvais commented on #5024
I don't, but you can create your own. There are instructions somewhere, or please ask Relationships Team for help with your regular login.

[2021-05-06 03:14] tlebedovich commented on #6724
Looks great @andrepestana-aot, will pass along to QA. thank you!

[2021-05-06 16:09] stevenc987 commented on #7402
@mstanton1 @Sienna-Blumstengel @amit4610
1.	NR 3285647 & NR 3847545 (INC0088995, INC0089181, accidentally reported twice.): NR 3285647 no payment record in postgres. NR 3847545 Refund Requested.
2.	 NR 0374521 & NR 9413238 (May 3rd duplicate NR report): Refund Requested for both NRs.
3.	 NR 0483530 (May 3rd duplicate NR report): Refund Requested
4.	 NR 9179497 (May 3rd duplicate NR report): Refund

[2021-05-06 16:19] tlebedovich commented on #5024
@severinbeauvais - looking great so far thanks.

fyi - I used BCREG2010/98910 BC1230077 for testing just for my future reference

[2021-05-06 16:22] stevenc987 commented on #7285
@amit4610 @Sienna-Blumstengel @mstanton1

NR 3729902 (no incident number - duplicate NR report - $31.50): Refund Requested
NR 0494144 (no incident number - duplicate NR report - $31.50): Refund Requested
NR 7548432 (no incident number - duplicate NR report - $31.50): Refund Requested
NR 2112766 (no incident number - duplicate NR report - $31.50): Refund Requested
NR 8229123 (no incident number - d

[2021-05-06 16:27] mstanton1 opened #7452 "Affidavit's wont load"
#### ServiceNow incident:
#### Contact information
Staff Name: Wendy Flynn
Staff Email: Wendy.Flynn@gov.bc.ca

#### Description
When clicking 'Review' to open the following two affidavits in PROD the system loads a page with a spinner. The affidavit doesn't load.

Apr 28, 2021: Morton Law LLP
May 05, 2021: S Paul Simpson Law Corporation

I know the system is working as I was able to open the other

[2021-05-06 16:33] #5033 closed

[2021-05-06 16:33] #5031 closed

[2021-05-06 16:39] mstanton1 commented on #7452
@mengdong19 this was raised by BCOL Admin this morning. I would normally put it through ops but am wondering if it is related to the work that was just done for 7382 (BCeID user upload new affidavit file after account creation failed or rejected). Are you able to take a look?

[2021-05-06 16:42] amit4610 commented on #7025
Met with the devs and PPR team. Clarified the requirements from PPR. This will be worked on in late June or July.

[2021-05-06 16:42] #7025 closed

[2021-05-06 16:46] mstanton1 commented on #6919
Separate document was created based upon the initial draft above. Edits have been made and passed back and forth. Victoria is reviewing answers to her questions and anticipates addressing them by the end of next week (May 14th).

[2021-05-06 16:46] Sienna-Blumstengel opened #7453 "For relationships - Update date and time format on receipts"
month day year time

[2021-05-06 16:51] Kaineatthelab commented on #7433
the BCOL helpdesk has been added as view only to namex already, is this the same need?

[2021-05-06 16:51] PatrickAHeath commented on #7028
Should the Fee Summary box remain hidden until the registration length is selected?

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/cc78b2aa-0514-41a0-810b-64f178f2c033)

[2021-05-06 16:57] PatrickAHeath commented on #6977
There was a mention of using a different label than 'New Security Agreement' on the button in My Registrations to add a new registration.  (Since Security Agreement is a type of registrations in the dropdown)

For Miscellaneous Registration Act entries in the dropdown, should the various acts be listed in the dropdown list?  (Or will the design allow for selecting the act when doing the registrati

[2021-05-06 17:04] #7403 closed

[2021-05-06 17:08] mstanton1 commented on #7185
No further action has been taken as a result of the information we provided. This can be closed as we have had two business follow ups.

[2021-05-06 17:09] #7185 closed

[2021-05-06 17:10] lmcclung commented on #7364
@amit4610 can you close this one now?  The fix for this went into production yesterday.

[2021-05-06 17:11] lmcclung commented on #7056
Waiting for data loader - May 11th

[2021-05-06 17:11] amit4610 commented on #7364
Thanks. Closing this.

[2021-05-06 17:11] #7364 closed

[2021-05-06 17:15] lmcclung commented on #7370
@thorwolpert  this bug fix 7418 was pushed into prod yesterday.  Is there any cleanup job you need to do like you did above or can I close this ticket now?

[2021-05-06 17:19] mengdong19 commented on #7452
This is the known issue, I created bug ticket for this issue: https://github.com/bcgov/entity/issues/7394
Data fixed at backend for both account. Staff should be able to view now.

[2021-05-06 17:20] mstanton1 commented on #7356
Sent follow up to the Joshua to check if the client has called him back.

[2021-05-06 17:23] mstanton1 commented on #7452
@mengdong19 thank you! I have verified as staff I can see the affidavits in PROD.

cc @jyoti3286 currently when an affidavit is rejected a back-end fix is required before staff can view the newly uploaded affidavit. Bug ticket is above.

[2021-05-06 17:27] #7452 closed

[2021-05-06 17:31] Sienna-Blumstengel commented on #7402
Reached out to debbie about 1. NR 3285647. If the client did not get charged, then this is resolved, and we can close the ticket. Waiting for confirmation.

[2021-05-06 17:42] #7422 closed

[2021-05-06 17:48] #7356 closed

[2021-05-06 18:02] tlebedovich commented on #7344
@Kaineatthelab - We have UX Assured the PPR PDF Output and this ticket is now ready to groom. Since I made the markups, I should be in on the grooming call to walk through with the DEV when the time comes.

[2021-05-06 18:09] riyazuddinsyed opened #7454 "Unable to file an IA after affiliating a new NR."
**Describe the bug in the current situation**
When a user affiliates the NR and after a successful affiliation wants to file an IA, then upon clicking on "Open" then the error dialog shows up saying Invalid Incorporation Application.

**Impact of this bug**
All users filing IA after affiliating NR.

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/business/auth/account/596/bus

[2021-05-06 18:22] amit4610 commented on #7337
authenticator reset.

[2021-05-06 18:22] #7337 closed

[2021-05-06 18:28] lmcclung commented on #6385
@thorwolpert
Bob had updated the CORP_STATE table in PROD
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/3d5c4852-9703-42f1-9a62-a2beef93e067)

EVENT_TIMESTMP = 2021-02-01 00:00:00
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/f1d7aae8-2665-4b46-bdec-57f5b0d76d3f)

Not sure if this was brought over from COLIN yet.  If it hasn't, can be bring

[2021-05-06 18:40] Milan-Freshworks opened #7455 "BCOL Account - Payment Method not showing"
**Describe the bug in current situation**
For a BCOL account, when the admin logs in and goes to Payment Method screen, it appears to be blank.

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**
- Login to BCSC - BCOL Account

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'Payment Method' screen
2. See error

**Actual/ observed behavior/ results*

[2021-05-06 18:57] mstanton1 opened #7456 "BC Online Refund Email Body Updates"
#### Description
Refund emails were implemented in 6721. Changes to the email body are needed to facilitate processing of these emails by BC Online. Next refunds requested starting May 6th need to be re-triggered in this format.

1. Remove User ID: This is the second detail in the refund email and is the user ID for the prime on the account. Typically with refunds BCOL Help would look up the user

[2021-05-06 19:06] Sienna-Blumstengel opened #7457 "Name Request Advanced Search communication"
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/reports/release?release=60917b420c5996858a979835
WIP

Will also use this content in the OneNote job aid

Release is scheduled for June 8th so will wait until date is closer to get screenshots

[2021-05-06 19:42] jmills-cgi opened #7458 "Names Release: Decommission NRO"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-05-06 19:46] jmills-cgi opened #7459 "Entity UIs - Registrar's Notation"
## Filings UI 3.9.10

Prior to moving into production, the following steps should be completed or confirmed:
- [x] Add version # and release # to this ticket - _done by SB_
- [x] Ensure deployment steps are filled in - remove/replace placeholders - _done by SB_
- [x] Create a draft release in GitHub
- [x] Update version number in the code being released
- [x] Dev/QA chat to plan Prod verification

[2021-05-06 19:49] mstanton1 opened #7460 "Unable to upload affidavit - Clark Wilson LLP"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Cheryl Hall
Staff Email: Cheryl.Hall@gov.bc.ca

#### Description

*Clark Wilson LLP is showing as unavailable for account name due to the first account creation attempt which was rejected due to affidavit issues. Please take steps needed to make use of the account name

[2021-05-06 19:50] #6368 closed

[2021-05-06 19:50] #6367 closed

[2021-05-06 19:57] jmills-cgi opened #7461 "Relationships: Account Management Changes"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-05-06 20:10] Milan-Freshworks commented on #6702
Create an affiliation does not work properly as it has not been addressed in this ticket. Adding the screenshot below for reference.
- There are 4 records created when Incorporating a numbered Company
- Initiated by appears as None
![Screen Shot 2021-05-06 at 1.08.45 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/709fd94d-01f5-4e69-83cb-703dcd8d3f24)

[2021-05-06 20:17] mstanton1 opened #7462 "NR Refunds - May 6 - May 12th"
2. - [ ]  NR 1792729 and NR 6343582 (INC0089323)
3. - [ ] NR6729354
4. - [ ] NR 6156291 (INC0090145)
5. - [ ] NR1699255 (INC0090592)
6. - [ ] NR 6583244 (INC0090593)
7. - [ ] Issue refund for NR 3162224? (INC0089700)
8. - [ ] Refund NR 5732810 for $101.50 (INC0090772)

[2021-05-06 20:18] mstanton1 commented on #7462
1. - [ ] Issue refund for NR 3162224? (INC0089700)

[2021-05-06 20:20] PatrickAHeath commented on #7026
Trust Indenture only applies to Security Agreement registration type.  It's not necessary for the other registration types, but is showing for Sale of Goods registration type.

[2021-05-06 20:36] Sienna-Blumstengel commented on #6586
@mstanton1 to check in with @sumesh-aot

[2021-05-06 20:44] sumesh-aot commented on #6586
@severinbeauvais ticket is to update to latest version which is what you got there [2.4.16]. Change is for some generic changes to support IDIR gov [non staff] users.

[2021-05-06 20:46] Sienna-Blumstengel commented on #6846
@rkim13103 Is there a design for scenario 3 being worked on? Please check in with @janisrogers :)

[2021-05-06 20:49] rkim13103 commented on #6846
@Sienna-Blumstengel  We do have a design ticket, but the design is not being worked.

[2021-05-06 20:51] Sienna-Blumstengel commented on #7055
Oh this FAQ page might not exist anymore -  @trishreimer what is the status of the FAQ page? Are you working with Gen and Suzanne to keep it? If so, could you let me know the new link?

[2021-05-06 20:54] Sienna-Blumstengel commented on #5866
@thorwolpert can you help us define the expected behavior?

[2021-05-06 20:57] Sienna-Blumstengel commented on #6151
@severinbeauvais is this still an issue?

[2021-05-06 20:58] thorwolpert commented on #7460
I've marked the Org as **INACTIVE**
That should free up the name CLARK WILSON LLP to be reused.

[2021-05-06 21:02] Sienna-Blumstengel commented on #3988
5108 was closed in October 2020. @sumesh-aot is this still needed?

[2021-05-06 21:04] Sienna-Blumstengel commented on #7199
Is this ticket work for just relationships, or also entities @kialj876 @rarmitag ? This would improve the alteration manual workflow for our entities devs when doing alteration ops tickets. Not urgent, but would be appreciated.

[2021-05-06 21:04] jdyck-fw commented on #7454
There are no console errors shown when this comes up.

[2021-05-06 21:05] mstanton1 commented on #7460
I have reached out to Cheryl and asked she have the client try again.

[2021-05-06 21:07] Sienna-Blumstengel commented on #6848
No stat fees, no service fee. These are only available to specific accounts, but everyone who has access to this have no fees. No payment at all. @amit4610 FYI.

Deadline was been updated to the end of

[2021-05-06 21:10] lmcclung commented on #7444
I was able to reproduce the bug mentioned above having $0 showing as the refund. This is due the fact the receipt is showing Payment pending.

The invoices are generated on our side and sent to CAS daily. CAS receives the the payment and sends the feedback file back to us. The feedback file every day which is read by our system and then the receipt goes from pending to paid state and shows the cor

[2021-05-06 21:12] lmcclung commented on #7444
marking as P3 until we have feedback from users on this.

[2021-05-06 21:12] jdyck-fw commented on #7444
Setting this as a p3 for now and we'll upgrade it if we have any customer reports of it happening.

[2021-05-06 21:19] jdyck-fw commented on #7248
First part - add more diagnostics
Second part - fix it

[2021-05-06 21:23] #7169 closed

[2021-05-06 21:25] #5801 closed

[2021-05-06 21:26] mstanton1 opened #7463 "Client Request to Change Name Associated to Account Admin"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Cheryl Hall
Staff Email: Cheryl.Hall@gov.bc.ca

#### Description
A client has submitted an Administrator Change Form to update the admin on the account: SILVERSIDES MERRICK AND MCLEAN (account 2319). The client would like the name of the Account Contact updated from Car

[2021-05-06 21:27] jdyck-fw commented on #4796
We will need another ticket for the entity dashboard to display this @lmcclung

[2021-05-06 21:28] #6793 closed

[2021-05-06 21:28] jdyck-fw commented on #4796
Verify if this is on both the IA and the NOA.

[2021-05-06 21:30] #6625 closed

[2021-05-06 21:30] #6643 closed

[2021-05-06 21:30] #6772 closed

[2021-05-06 21:30] #6776 closed

[2021-05-06 21:30] #6777 closed

[2021-05-06 21:30] #6779 closed

[2021-05-06 21:30] #6781 closed

[2021-05-06 21:30] #6782 closed

[2021-05-06 21:30] #6775 closed

[2021-05-06 21:30] #6783 closed

[2021-05-06 21:31] #6774 closed

[2021-05-06 21:31] #6773 closed

[2021-05-06 21:31] #6784 closed

[2021-05-06 21:31] #6785 closed

[2021-05-06 21:31] #6786 closed

[2021-05-06 21:31] #6787 closed

[2021-05-06 21:31] #6788 closed

[2021-05-06 21:31] #6789 closed

[2021-05-06 21:31] #6791 closed

[2021-05-06 21:31] #6795 closed

[2021-05-06 21:33] mstanton1 commented on #7463
@jyoti3286 can you advise how we should proceed with this one? I believe technically we _could request a dev to make this change with the supporting affidavit / account administrator change form. I question whether we _should._

In Registries past system the reliance on data fixes was high. This set a precedent and had downstream impacts to other apps or DB's which would not be updated.

[2021-05-06 21:39] rkim13103 opened #7464 "UI Design - new statement design"
Aligning statement layout and design to our receipts

New statement design :
https://preview.uxpin.com/7943b481e252f700ef635c8f9a60fc76107cdba3#/pages/134621122

[2021-05-06 21:42] rkim13103 commented on #7362
@tlebedovich
Designs are done, visual design request!

-We are not changing our statement layout and design for now. I've made a separate ticket for changing the design/layout for our statement.

[2021-05-06 21:44] rkim13103 commented on #7166
@tlebedovich
Designs are done, requesting visual design review!

Thank you

[2021-05-06 21:44] severinbeauvais commented on #6586
Yes, all Entity UIs have been updated to use sbc-common-components v2.4.16. See #7373.

However...
- I don't think they're all deployed to Test or Prod
- I don't know about PPR - @kialj876 ?

[2021-05-06 21:45] severinbeauvais commented on #6151
@mstanton1 is this still an issue?

[2021-05-06 21:46] trishreimer commented on #7055
As of right now, the FAQ page is not being brought over to the new site but I was told the link should still work. I think it should be brought over though and a link added to the resources page until we've had time to update everything, including links in the app. I'll send a note right now about this...

FYI - Sarah is reviewing the requirements for modernization and trying to determine if a new

[2021-05-06 21:48] rkim13103 commented on #7165
This design ticket should combine with 7386 to cover the whole account creation flow.
Maybe we should re-estimate this ticket
@forgeuxGH5

[2021-05-06 21:49] trishreimer commented on #7055
@Sienna-Blumstengel Are we able to search the rest of the app to see if there are other links that reference the FAQ page?

[2021-05-06 21:56] amit4610 opened #7465 "Release notes: Bug Fixes release"
Hi IT Ops,
Please send the release notes to your distribution list.
Thanks
Good Morning,
The modernization team released changes to the Business Registry on Monday, May 3rd. These are mostly bug fixes which went into production. Please forward this information to your teams.
1.	Ticket 7040 (Add an additional filter on the party_typ_cd for Director Search)
a.	Currently there is a limit of 165 resul

[2021-05-06 21:57] amit4610 commented on #7465
sent to it ops

[2021-05-06 21:57] #7465 closed

[2021-05-06 21:59] mstanton1 commented on #7288
Document is IP. It is stored on Sharepoint here: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3971

[2021-05-06 22:08] severinbeauvais commented on #7055
I found 4 links to approximation the same URL:
- https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization/business-registry-faq
- https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/businesses-incorporated-companies/cooperative-associations
- https://www2.gov.bc.ca/gov/content/em

[2021-05-06 22:11] amit4610 opened #7466 "client cannot submit affidavit"
Title of ticket: [Entity number and name] or "Account Management"

Sorry,  But another client attempting to resubmit a new application as they were rejected the first time and receiving a message that their account already exists.

Account name is REMEDIOS & COMPANY

#### Description
Summarize issue and attach email OR copy and paste email content into ticket

#### Tasks
- [ ] When ticket has been

[2021-05-06 22:12] #7431 closed

[2021-05-06 22:23] trishreimer commented on #7055
Thank you, @severinbeauvais What pages are these links on?

@Sienna-Blumstengel would you be able to work with Suzanne and Gen to see if we have GUID's for these pages?
I would suggest we point the user to the new main landing page for each entity, within the app.

Examples in TEST:
Cooperatives: https://www2.qa.gov.bc.ca/gov/content/employment-business/business/managing-a-business/businesses-inco

[2021-05-06 22:26] PatrickAHeath commented on #7152
Still encountering search errors in TEST.

[2021-05-06 22:58] PatrickAHeath commented on #6978
Everything seems to be in place for Registration Page.

[2021-05-07 01:49] tlebedovich commented on #6973
@Kaineatthelab @forgeuxGH5 - PPR Registration Step 3 Visual Design comps have been added above. Awaiting Scott's final ok before ready for DEV

[2021-05-07 03:37] jyoti3286 opened #7467 "Role Management BC Registry"
* As an Account administrator
* I want to set the access control for all the users under my account
* so that I can assign the appropriate responsibility to my account team members

Below is the screenshot from BC Online Role management:

![Screen Shot 2021-05-06 at 8.32.37 PM.png](https://images.zenhubusercontent.com/5da610e0fc369f000178ab20/ca53ebc4-aed1-4c9d-b0a7-2548326accd4)

**Acceptance Cri

[2021-05-07 15:33] mstanton1 opened #7468 "Rejected by Field for staff 'Rejected' tab contains inconsistent data"
**Describe the bug in current situation**
On the staff 'Rejected' tab you can see a listing of affidavits that were rejected. In the 'Rejected By' column you should see the staff user who rejected the affidavit. On the view in some instances you see the Staff User (e.g. Cheryl Hall) but in the majority of cases you see the client name.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a

[2021-05-07 15:54] mstanton1 commented on #7460
Resolved. The client has now successfully uploaded a new affidavit.

[2021-05-07 15:54] #7460 closed

[2021-05-07 15:55] mstanton1 opened #7469 "Unable to view Affidavit for Clark Wilson LLP"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Cheryl Hall
Staff Email: Cheryl.Hall@gov.bc.ca

#### Description
Sorry, here is another application that we are not able to review the account information the system spins.  Again this is an account that the client’s first submission was rejected and then asked to resub

[2021-05-07 15:57] #5168 closed

[2021-05-07 15:57] mstanton1 commented on #7469
@mengdong19 this is the same issue as we encountered recently. Affidavit was rejected, new one was uploaded, and now the new one won't load. Should these go through the standard ops channel or be sent to our team?

[2021-05-07 15:59] severinbeauvais commented on #7055
I have updated my comment above with all the external URLs I could find in Auth Web project (BCROS home pages). For more detail, please ask someone from the Relationships team. Thanks!

[2021-05-07 16:02] Sienna-Blumstengel opened #7470 "Alteration Enhancements"
This epic contains post-MVP features for the alteration filing.

[2021-05-07 16:10] lmcclung commented on #5315
Closing this ticket as staff returned the Form 47 correction and fees.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/480dd761-0d32-432b-a75f-a9bb40ce92cb)

[2021-05-07 16:10] #5315 closed

[2021-05-07 16:11] mstanton1 opened #7471 "Multiple NR's for K & M NO CORNERS CUT & No Payment inquiry"
#### ServiceNow incident: INC0089737
#### Contact information
Staff Name: Jennifer Weldon
Staff Email: Jennifer.Weldon@gov.bc.ca

#### Description

We have received multiple NR’s for the name, K & M NO CORNERS CUT.

NR 6303915 was consumed and used to complete the registration, NR 7244889 cannot be viewed in Name Request and needs to be cancelled, NR 4175008 and NR 7124247 have been cancelled.  Ca

[2021-05-07 16:37] amit4610 opened #7472 "Release notes for May 12"
Here are the release notes for relationships release on May 12th. Please add to the Entities one.

1.	7456 – Updates to BC Online email content
a.	The user who kicks off the transaction is not always the prime user, so we removed user ID in email body to avoid confusion.
b.	Updated the date format to YYYYMMDD to help BCOL help in finding the transaction.
2.	7455 - Resolved a bug where payment meth

[2021-05-07 16:43] thorwolpert commented on #7466
Set status to **INACTIVE** that should free the name to be re-used.

[2021-05-07 16:46] amit4610 commented on #7466
advised the business. thanks.

[2021-05-07 16:49] severinbeauvais opened #7473 "Verify: Edit UI: Court Order Number validation"
**Describe the bug in current situation**
The Court Order Date should be validated (see rules in code) even if the Plan of Arrangement checkbox is unchecked.

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Chance of Occurring (high/medium/low/very low)**

**Pre Conditions: which Env, any pre-requesites or assump

[2021-05-07 16:50] mstanton1 commented on #7471
@sumesh-aot can you take a look at this one. With the request to cancel NR 7244889 I've sent a note to @Sienna-Blumstengel to confirm if this piece is tackled by devs or BA's.

[2021-05-07 16:56] sumesh-aot commented on #7471
@mstanton1 NR 7244889 is not PAID. So what should be the action item here ?

[code]

[2021-05-07 17:00] jdyck-fw commented on #7359
Check in after the 2 days estimate, then follow up with Linda for an update.

[2021-05-07 17:13] mstanton1 commented on #7471
@sumesh-aot I will go back to the business to confirm. Were payments received on the others?

NR 6303915
NR 7244889 - not paid
NR 4175008
NR 7124247

[2021-05-07 17:16] sumesh-aot commented on #7469
Setting the old affidavit as INACTIVE.

[2021-05-07 17:16] sumesh-aot commented on #7469
@mstanton1 this is fixed.

[2021-05-07 17:20] sumesh-aot commented on #7471
@mstanton1 No payments received for any of them,

[code]

[2021-05-07 17:25] mstanton1 opened #7474 "Golbey Law - Being Prompted to create account again"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Melissa Stanton
Staff Email: Melissa.Stanton@gov.bc.ca

#### Description
I received a call from Cindy Esposito at Golbey Law. They have created their account in the Business Registry (GOLBEY LAW CORPORATION, Account 2535). She received the email to advise the affidavit

[2021-05-07 17:27] sumesh-aot commented on #6939
@rkim13103 please add final design for PDF statement

[2021-05-07 17:28] mstanton1 commented on #7471
@sumesh-aot I think we need to loop the Name Request team in on this one. The first NR, NR 6303915 was used to register a business (FM0844315). It looks like there is something allowing examination before payment which is a huge concern. Not sure how the Names team will want to handle this case.

@lmcclung @Sienna-Blumstengel can you please review above.

[2021-05-07 17:31] mstanton1 commented on #7469
I have advised the business that the affidavit may now be reviewed.

[2021-05-07 17:31] #7469 closed

[2021-05-07 17:37] amit4610 commented on #7408
sent client instructions on 3rd may, followed up again today on 7th.

[2021-05-07 17:40] sumesh-aot commented on #7474
@mstanton1 Please confirm with the client they are using the BCeID user **golbeylaw**, last logged in time I can see is April 29th, where the decision was made on May 5th, user must be using a different BCeIID.

[2021-05-07 17:54] mstanton1 commented on #7288
Sent first draft to team for review.

[2021-05-07 18:05] lmcclung commented on #7471
@sumesh-aot do you know how to cancel NR 7244889?  Thor/Richard can tell you if you're not sure.  If you do that then you can close this ops ticket.  I'll create a bug ticket for why we are allowing NRs that get created in Name Request app to move to DRAFT without payment.

[2021-05-07 18:09] amit4610 commented on #7408
Good Morning Amit….

I just tried again and looks like it finally worked!  Thank you! 

Yours truly,

Anne Mahy

[2021-05-07 18:09] #7408 closed

[2021-05-07 18:13] lmcclung opened #7475 "Name request - investigate why some NRs are moving to draft without payment"
This issue was opened as a result of ops ticket [7471](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7471).  The ops ticket had 2 issues:
 1) why are there duplicate NRs - the volume of these were reduced (not eliminated) with the introduction of Thor's backend work done in April.
 2) why are there NRs going to DRAFT without payment

There seems to be an inc

[2021-05-07 18:26] Milan-Freshworks commented on #7352
I tried and it looked good to me.

[2021-05-07 18:27] #7352 closed

[2021-05-07 18:39] mstanton1 commented on #7474
I have reached out to the client to verify if she was using a different BCeID - and to ask she try again using the golbeylaw BCeID.

[2021-05-07 18:40] Sienna-Blumstengel opened #7476 "Information not displaying properly on account info screen of BC Business Registry website"
#### ServiceNow incident:
INC0089859

#### Contact information
Staff Name: Julie Harding

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Reply All to IT Ops email and provide zenhub ticket number opened and w

[2021-05-07 18:40] Milan-Freshworks commented on #7455
It has been tested and verified.

[2021-05-07 18:51] mstanton1 commented on #6586
@Sienna-Blumstengel one of the action items from BA guild was to determine when this needs to be done by. We are launching ministry accounts May 12th but they won't be used right away. They are needed before launch of PPR, and we have a meeting coming up to confirm if Agriculture is using Name Request.

It sounds like this is mostly done though so maybe could be pushed along in one of the next few

[2021-05-07 19:00] Sienna-Blumstengel commented on #7476
@jdyck-fw could you please add this to the next bug triage? Or a future one, just don't want this to get lost :)

[2021-05-07 19:06] Milan-Freshworks commented on #7153
It has been tested and verified.

[2021-05-07 19:21] SateeshFW commented on #7476
Ok sure @Sienna-Blumstengel

[2021-05-07 19:52] sumesh-aot commented on #7471
@lmcclung @Sienna-Blumstengel  NR 7244889 doesn't exist in the namex postgres DB. So please confirm is there anything which needs to be done as part of this ticket ?

[2021-05-07 20:03] Sienna-Blumstengel opened #7477 "Can't reset NR 5195235 & 1685098"
#### ServiceNow incident:
INC0089961
#### Contact information
Staff Name: Debbie Blyth
Staff Email:

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Reply All to IT Ops email and provide zenhub ticket number o

[2021-05-07 20:18] Kaineatthelab commented on #7477
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/2e386313-2ee9-4be8-b2a9-561adf2cdcc1)

[2021-05-07 20:24] forgeuxGH5 opened #7478 "UI DESIGN - PPR Step 3 - Add Collateral"
## Wireframes
https://preview.uxpin.com/77c68eb65509f74fc8cf069c6ca73358d5e71c34#/pages/138312535

## Visual Design
**Registration Create Step 3 - Collateral comps**
https://projects.invisionapp.com/share/5Q10X60X9W7C#/screens?browse

**Registration Step 4 - Review and Confirm comps**
https://projects.invisionapp.com/share/6R10WRCMXED7#/screens?browse

## Validation Rules
https://docs.google.com/s

[2021-05-07 20:24] jyoti3286 commented on #7412
@rkim13103  - Let's put this together along with action-based account setup

CC: @Kaineatthelab

[2021-05-07 20:29] forgeuxGH5 commented on #7260
@jordiwes are you doing this as part of the other collateral ticket? #7259

[2021-05-07 20:43] #7153 closed

[2021-05-07 20:44] #7455 closed

[2021-05-07 20:45] lmcclung commented on #5080
@forgeuxGH5 could you confirm whether staff should be directed to the staff business dashboard when clicking on the sun.

[2021-05-07 20:47] #4118 closed

[2021-05-07 20:49] Sienna-Blumstengel commented on #7055
Thanks so much @severinbeauvais ! I will reach out to Suzanne and Genevieve about these links.

[2021-05-07 21:21] Kaineatthelab opened #7479 "NameX Advanced Search Account#/Type/Payment Type"

[2021-05-07 21:30] Milan-Freshworks commented on #7236
@shabeeb-aot @amit4610 @mstanton1 @saravanpa-aot Please share the TOS document to compare with.

[2021-05-07 22:04] Milan-Freshworks commented on #7155
The wording is different as compared to the design pin above but Roy mentioned that he is working on the new design for account creation, the design team is changing the words. So moving it to done.

![Screen Shot 2021-05-07 at 2.32.55 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/a2f151b4-ef34-46dd-a91b-95020dc22a2d)

[2021-05-07 22:06] #7304 closed

[2021-05-07 22:06] #6724 closed

[2021-05-07 22:07] #6923 closed

[2021-05-07 22:28] sumesh-aot commented on #7477
updated the status as HOLD as per Thor's suggestion;

[code]
@Sienna-Blumstengel please confirm if staff is able to pick up this NR again.

[2021-05-07 22:39] Milan-Freshworks commented on #7236
Currently, the text used is given below:

_**BC Registry Terms and Conditions**

The parties to this “BC Registry Terms and Conditions of Agreement” (the “Agreement”) are Her Majesty the Queen in Right of the Province of British Columbia, as represented by the Minister of Citizens’ Services (the “Province”) and the Subscriber (as defined below).

In this Ministry Use Agreement “Website” means the

[2021-05-07 22:54] lmcclung opened #7480 "Alteration - cannot download Alteration Notice or Certificate"
**Describe the bug in current situation**
A clear and concise description of what the bug is.
The Alteration Notice and Certificate of name change outputs do not download

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.
All users would not be able to retrieve their outputs which we are legally obligated to provide

[2021-05-07 23:06] Milan-Freshworks opened #7481 "GOVM- Phone number field needed"
**Describe the bug in current situation**
As a GOVM admin, when I am creating my account, my phone number is not captured in the workflow.

**Chance of Occurring (high/medium/low/very low)**
High

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**
- Using IDIR create a GOVM Account
**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to the email link and l

[2021-05-07 23:07] #7155 closed

[2021-05-07 23:11] lmcclung opened #7482 "Alteration - email notification issues"
**Describe the bug in current situation**
A clear and concise description of what the bug is.
**DEV**
Riyaz filed an alteration in DEV this afternoon and he did not get the email notification with the Alteration Notice and Receipt.
He did get the email with the Notice of Articles
Not sure what the status of change of name cert would be.

**Link bug to the User Story** #4612

**Impact of this bug**

[2021-05-07 23:53] andrepestana-aot opened #7483 "Bug - Paid correction with status Filed and Pending"
I created a correction for Name Translation with No fee.

To check the one created:

1. Log as Staff
2. Go to https://test.bcregistry.ca/business/BC0879857
3. Click on the correction filing

![image.png](https://images.zenhubusercontent.com/601c6b4f5322cf5c519d503f/2428f80d-ea4d-454b-ad66-7cb9a80d7528)

I created other companies and I realized all had this same issue. Sumesh collected some logs an

[2021-05-07 23:55] severinbeauvais commented on #7480
Linda, I just tried this in Dev and it worked for me. I was able to download each document separately, and also all 3 at once.

I used this business: https://dev.bcregistry.ca/business/BC1230034/

[2021-05-08 00:00] severinbeauvais commented on #7482
@riyazuddinsyed
Please verify that the Registered Office Contact Information email (and if you are staff, the Alteration Documents Delivery email) are valid. I've seen that Riyaz sometimes tests with invalid emails so maybe that's part of it?

[2021-05-08 00:01] severinbeauvais commented on #7482
Otherwise, do we have any logs or Sentry errors for the email sending process?

[2021-05-08 00:01] severinbeauvais commented on #7482
@vysakh-menon-aot FYI

[2021-05-10 05:48] lmcclung commented on #7480
@vysakh-menon-aot What needs to be done to fix it in test?  Both Riyaz and I are having the issue.

[2021-05-10 05:52] lmcclung commented on #7482
@vysakh-menon-aot did your dev emails have the correct outputs?

There shouldn't be a change of name output unless you actually changed the company name.

[2021-05-10 14:15] vysakh-menon-aot commented on #7482
Yes. As you can see above only Receipt and Alteration Notice has been attached

[2021-05-10 14:19] vysakh-menon-aot commented on #7480
legal-api, entity-emailer has to be deployed.

[2021-05-10 14:43] Milan-Freshworks commented on #6887
It has been tested and verified.

[2021-05-10 14:44] Milan-Freshworks commented on #7236
The draft TOS have been added and the actual ones will come later as @jyoti3286 has mentioned to @shabeeb-aot. So, moving it to done.

[2021-05-10 16:18] rkim13103 commented on #7070
@tlebedovich
Ready to Review!

[2021-05-10 16:48] Sienna-Blumstengel opened #7484 "cooperative online correction is still pending CP0001552"
#### ServiceNow incident:
INC0090041

#### Contact information
Staff Name: Mark Lau

#### Description
Relates to bug [#7483](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7483)

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'P

[2021-05-10 16:50] Milan-Freshworks commented on #6702
It has been tested and verified.

[2021-05-10 16:57] lmcclung opened #7485 "Create Jupyter Notebook to load filings"

[2021-05-10 17:27] amit4610 commented on #7285
The only item remaining is 19. NR 1292413 and NR 7271006 (INC0086881)

[2021-05-10 18:03] PatrickAHeath commented on #7262
@doug-lovett The only thing I'm seeing with the Save button is that when I go back to starting another registration, the Payment amount in the popup is the same.  Should I be seeing the registration as a draft in the list?  Should the registration length be checked off?

[2021-05-10 18:06] Milan-Freshworks commented on #7323
Based on discussion 6702 tickets, the following has been decided:
 -  There would be suppression of the 3 records for incorporation
 - The value for Inititated by would be BC Registry system for an incorporation instead of the None None as appearing now
 - Subject data would be modified based on the design given below https://preview.uxpin.com/2fc16202e6d9cd8e9b9cbd83ab46c221ec73ef1c#/pages/137160

[2021-05-10 18:54] rarmitag commented on #7484
Correction has been applied.
IT Ops notified.

[2021-05-10 19:08] Sienna-Blumstengel commented on #7471
@lmcclung @rarmitag any idea how this NR doesn't exist in the DB? 🤔

[2021-05-10 19:09] severinbeauvais commented on #5024
@tlebedovich Part 2 of this ticket is now in Dev for your review. (As before, you will need to use a Premium account to see it.)

[2021-05-10 19:13] Sienna-Blumstengel commented on #7477
Sent to Debbie and IT Ops:

[2021-05-10 19:23] Sienna-Blumstengel commented on #7285
As of last wednesday, we are still waiting on IT Ops to hear back from the maximus rep who took the initial call. Need the screenshot that they have. Will keep you posted.

[2021-05-10 19:28] #7484 closed

[2021-05-10 19:41] rarmitag commented on #7471
In Oracle, NR 7244889 has an error message attached - "Ignored - Request not processed"

[2021-05-10 19:56] #6887 closed

[2021-05-10 20:23] #6702 closed

[2021-05-10 20:24] tlebedovich commented on #5024
hi @severinbeauvais - Everything looks great. I noticed two things:

1) Updating Business Folio/Reference Number on the Change Company Info screen should update the pre-populated value being pulled into the Transactional Folio number shown the Review screen:

When a user edits the Business Folio/RN on the Company Info Page, then goes to the Review page, I was still seeing the old, original Busines

[2021-05-10 20:27] #7445 closed

[2021-05-10 20:34] doug-lovett commented on #7078
Hi @tlebedovich, the background colour is ready to go to dev but not there yet. I am moving this ticket to staging for now.

[2021-05-10 20:46] Sienna-Blumstengel commented on #7471
Interesting, so we are waiting for the data loader to be fixed to get the NR in our DB - what happens when it comes over? There will be no payment for it, so we can cancel it?

Also, should we make a bug for this scenario?
@rarmitag

[2021-05-10 20:51] rarmitag commented on #7471
I don't think there is any more data there. The error message I mentioned probably means that the system couldn't find payment and ignored processing it, so probably the only thing there is the error message.

[2021-05-10 21:10] jyoti3286 commented on #7222
Relationship doesn't use the ticket for Lear and UI

[2021-05-10 21:10] #7222 closed

[2021-05-10 21:10] #7221 closed

[2021-05-10 21:10] jyoti3286 commented on #7221
Relationship doesn't use the ticket for Lear and UI

[2021-05-10 21:14] severinbeauvais commented on #7258
I did some testing as well, using https://dev.bcregistry.ca/business/BC1230086

I will check the respective boxes when my correction filing becomes Filed.

[2021-05-10 21:28] severinbeauvais commented on #7258
Original, corrected IA:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/62d8131f-8a27-4b11-aac8-a463c3989c93)

Correction:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/9de7ade5-77f8-4d8f-9e74-5d8eb5fb2991)

[2021-05-10 21:30] severinbeauvais commented on #7258
Should the corrected NOA show Resolution or Court Order Dates (that were added by an alteration)? I'm thinking no...

Original NOA:
[https://app.zenhub.com/files/157936592/95e129b3-64a8-4324-9c7a-03d7570a10c1/download](https://app.zenhub.com/files/157936592/95e129b3-64a8-4324-9c7a-03d7570a10c1/download)

Corrected NOA:
[https://app.zenhub.com/files/157936592/6188fb4a-3884-4f6e-8c51-51695e8d4a8c/do

[2021-05-10 21:34] #7466 closed

[2021-05-10 21:35] Sienna-Blumstengel commented on #7055
Suzanne's response:

[2021-05-10 21:55] Sienna-Blumstengel opened #7487 "Expiry date displaying incorrectly in NRO"
**Describe the bug in current situation**

**INC0090296**

**Impact of this bug**
Unsure, but definitely confusing to clients

**Chance of Occurring (high/medium/low/very low)**
Unsure

**Steps to Reproduce**
1. Request a name in Name Request
2. Pay, and complete NR successfully
3. See NR in Name Request, and see expiry date of 56 days in the future
4. Go to NameX, and see the same expiry date
5.

[2021-05-10 21:56] andrepestana-aot opened #7488 "IA with big Maximum Number of Shares is Filed but Pending"
I created a Benefit Company with a very big number for Maximum Number of Shares and then the IA filing is Pending:

Created with BCREG0046:
https://test.bcregistry.ca/business/T9sOgGfwdk

![image.png](https://images.zenhubusercontent.com/601c6b4f5322cf5c519d503f/b5bc544a-9d18-48f0-a1cc-70214334da7b)

The maximum number of shares allows the big number but when you save it, it rounds up.

![image.pn

[2021-05-10 22:06] mengdong19 commented on #7394
Frontend code update affected the behavior of this issue. Now page is loading, but download affidavit file will fail. We'll continue to fix data at back-end by set "REJECTED" file to "INACTIVE", so staff can view new file.

[2021-05-10 22:08] Kaineatthelab commented on #7487
It looks like the fields are mixed up in the database? I think Richard is on ops? Should we have him look at it? @lmcclung

[2021-05-10 22:14] lmcclung commented on #7487
@rarmitag can you look into this?  If I had to hazard a guess, I would say when we write back to NAMESP we're writing things back in the wrong order.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/d2ec9932-b27e-42c5-8f16-39aa9bc9e2e3)

@Kaineatthelab FYI

[2021-05-10 22:16] tlebedovich commented on #5024
looks great, i will pass it along, thanks!

[2021-05-10 22:23] severinbeauvais opened #7489 "HTTP 500 on NR UI confirm"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name:
Staff Email:

#### Description
Summarize issue and attach email OR copy and paste email content into ticket

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhu

[2021-05-10 22:24] severinbeauvais commented on #7489
Original email:
[code]

[2021-05-10 22:27] lmcclung opened #7490 "Client cannot create NR for KOURIER TECHNOLOGIES INC."
**Description**

A customer, Tony Tran (tony4@ualberta.ca, 778.222.7677) has been unable to enter a priority name request (see details in comment below).

I walked through it with him as he shared his screen with me. He used a Chrome Incognito window on a Windows PC. (I confirmed he's using the latest version of Chrome, and the logs show he was using the latest NR UI.) He searched for "BC Registry

[2021-05-10 22:29] severinbeauvais commented on #7490
Original email:
[code]

[2021-05-10 22:31] severinbeauvais commented on #7490
Paste of customer's dev console output:
[code]

[2021-05-10 22:37] lmcclung commented on #7490
@thorwolpert would you be able to help this client.  They'd urgently like to get a name.  Severin says it's a backend issue.

[2021-05-10 22:47] sienna-blumstengel opened #7491 "Additional information field changing in Namex"
### Bug Description
**INC0090327**

### Impact
Medium, this will make names examination more difficult and will cause loss of information

### Chance of Occurring
Low? It has only happened a few times. Not really sure.

### Steps to reproduce
1. Request a name for a change of name in Name Request UI
2. Go to NameX
3. Start examining the name
4. See the additional information field change (in this

[2021-05-10 22:53] amit4610 opened #7492 "Unable to view affidavit"
**Describe the bug in current situation**
A clear and concise description of what the bug is.

1. Log in to Prod in staff dashboard
2. Go to "pending review" tab
3. Click on "review" of an affidavit
4. Blue circle keeps spinning without opening the account review.

![image.png](https://images.zenhubusercontent.com/5e1f4aaaec1d5f0f64e7c1cd/0666f092-32b6-4c01-a1be-ad5276902e7c)

![image.png](https:/

[2021-05-10 22:57] amit4610 commented on #7492
TEST looks fine. In PROD, staff noted that this is happening for "Remedios" account only as in pic above. Other 4 accounts were opening successfully.

[2021-05-10 23:03] lmcclung commented on #7490
@severinbeauvais is it still a backend thing?

[2021-05-10 23:09] Sienna-Blumstengel opened #7493 "FRASERVIEW HOUSING CO-OPERATIVE CP2175 - 2nd 2020 Annual report and director change filings needs to be brought into BC Business registry"
#### ServiceNow incident:
INC0090341

#### Contact information
Staff Name: Julie Harding

#### Description

#7091 has been waiting for @argush3 's data loader work, so this is also blocked until the May 11th release.

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'P

[2021-05-11 00:07] thorwolpert commented on #7490
I can see the one joshua thiessen tried out

[2021-05-11 00:29] mengdong19 commented on #7492
Not loading issue is known issue. Please refer to ticket https://github.com/bcgov/entity/issues/7394
I have set user's REJECTED files to 'INACTIVE', page is loading now. However, the file that user uploaded seem to have issue. Copy file from Minio directly also doesn't work.
![image](https://user-images.githubusercontent.com/47155284/117739885-205b0e00-b1b4-11eb-83d8-8da693ec5ffd.png)

![image](ht

[2021-05-11 03:55] severinbeauvais commented on #7490
More info from the customer:
[code]

[2021-05-11 04:15] severinbeauvais commented on #7490
I was able to reproduce this error exactly by (1) starting the normal flow, (2) restarting the flow at some point, and (3) continuing without a business type selected. When I clicked Review and Confirm, the error occurred.

It has do to with Action = "Change the name of an existing", and at some point starting over. In that scenario, the first page fields are still filled in (except business type)

[2021-05-11 15:32] mstanton1 commented on #7471
@Sienna-Blumstengel from the notes is the only outstanding action to cancel NR 7244889? It looks like I can do this through SoFi. I'm guessing your team has a ticket logged to prevent names from going into the examination queue until payment is received?

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/a9fcab26-1f4a-4160-be61-6a1a0c6cb2fb)

[2021-05-11 16:04] vysakh-menon-aot commented on #7483
I am unable to reproduce it in DEV. Can someone reproduce it share the business.

https://dev.bcregistry.ca/business/BC0870668

![image.png](https://images.zenhubusercontent.com/5f32f33a77ef9e4d453c1945/d05a99ee-5be3-416f-805d-940f85bb00d6)

[2021-05-11 16:15] Kaineatthelab opened #7494 "Update Unit Tests"

[2021-05-11 16:17] Kaineatthelab opened #7495 "Set up Alembic"

[2021-05-11 16:17] Kaineatthelab opened #7496 "Search rebuild in Postgress"
- [ ] Use Levenshtein library

[2021-05-11 16:18] Kaineatthelab opened #7497 "Setting up Postgress"
- [ ] Dev, Test, Prod

[2021-05-11 16:21] Kaineatthelab opened #7498 "Data Migration Step 2"
We agreed on this approach:
1. get the kube and postgres clients for Solaris (Thor)
2. have those installed on nettle (Bob)
3. change scripts to call postgres loader (Bob)
Interim:
1. Convert current Oracle DB to Postgres, alter tables/columns to match new schema.
2. if EDB not avail May 27, then create single postgres DBs in dev & test

Aside,
Thor to do a pandas load to postgres. Leverage exampl

[2021-05-11 16:27] Kaineatthelab opened #7499 "Contingency Plan"

[2021-05-11 16:28] severinbeauvais opened #7500 "Verify - NR UI: invalid time zone during date-time formatting"
**Describe the bug in current situation**
Some users -- on Macs, using Firefox -- are experiencing date-time formatting issues due to their system failing to recognize the local timezone (AMERICA/VANCOUVER).

I don't know why this is Macs only. I don't know what other timezone we could use for formatting the date-time to "Pacific". This needs to be looked into and fixed.

Re:
https://sentry.io/org

[2021-05-11 16:52] Kaineatthelab opened #7501 "Create Visual Data Migration Roadmap"

[2021-05-11 17:00] Sienna-Blumstengel opened #7502 "Correction to an Incorporation - correcting a company incorporator makes the company name dissappear"
### **Describe the bug in current situation**
If you incorporate with one of your incorporators as a company/firm, then correct that incorporation application and correct the incorporator, the name is gone, and it wants you to enter an individual name.

### **Impact of this bug**
Low

### **Chance of Occurring (high/medium/low/very low)**
Low, not many people will be correcting their incorporators

[2021-05-11 18:40] riyazuddinsyed opened #7503 "Namex API: update error message (was "Unable to file the Alteration with Name Change.")"
**Describe the bug in the current situation**
When a user makes a name change while making an alteration filing and when the user clicks on File and pay then the error dialog appears saying 'Alteration only appear for Change of Name Requests'

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/business/auth/home/decide-business'
2.File an Alteration.
3.Make a Change Name
4. See

[2021-05-11 18:48] Sienna-Blumstengel opened #7504 "FW: LP/LLP filings: NWPTA -Update MRAS outbound messaging & SOFI system error message"
#### ServiceNow incident:
INC0090255
#### Contact information
Staff Name: Jenn Weldon

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Reply All to IT Ops email and provide zenhub ticket number opened and whic

[2021-05-11 18:55] lmcclung commented on #7490
Have asked Cameron W if we can do this for him free of charge.

1.	Website: https://www.bcregistry.ca/namerequest/
2.	I need a name to (action): CHANGE NAME OF EXISTING CORP
3.	Select a Jurisdiction: BC
4.	Select a Business Type: ALL CATEGORIES
5.	Enter a Name: KOURIER TECHNOLOGIES INC.
6.	Second Choice: KOURIER DELIVERY TECHNOLOGIES INC.
7.	Third Choice: KOURIER DELIVERY SOLUTIONS INC.
8.	First N

[2021-05-11 19:00] andrepestana-aot opened #7505 "UI - Max. Number of Shares as "0" makes correction fail"
**Pre-amble**

This ticket is for the UIs. I created ticket [# 7527](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7527) for the API to implement validation as well.

**Description**

I created a company with zero max. number of Shares: https://test.bcregistry.ca/business/BC0879894

When correcting the name translation, the entity-filer failed to queue the f

[2021-05-11 19:31] severinbeauvais commented on #7490
To reproduce:

1. Open a new Chrome tab
2. Go to https://www.bcregistry.ca/namerequest/
3. Select an Action = Change the name of an existing
4. Select a Jurisdiction = BC
5a. Click on Select a Business Type field
5b. Select View all business types
5c. Click 'X' to close the popup
5d. Observe that Select a business type = View all business types (which is incorrect!)
6. Enter a Name = (enter anythi

[2021-05-11 19:55] karthik-aot commented on #7456
As per discussion with Melissa for the 2nd change, the transaction datetime stamp is fine rather than yyyymmdd format

[2021-05-11 20:04] Sienna-Blumstengel opened #7506 "BC1294095 Alteration BEN > *LTD*"
#### ServiceNow incident:
INC0090462
#### Contact information
Staff Name: Kathy Langlois

#### Description

FORM: [https://app.zenhub.com/files/157936592/0f3fc91c-82c3-4202-b013-8cbdfce88711/download](https://app.zenhub.com/files/157936592/0f3fc91c-82c3-4202-b013-8cbdfce88711/download)

#### TO CHANGE:
- [ ] Company type from BEN to **LTD**
- [ ] Company Name using NR2455649

#### Tasks
- [x] When

[2021-05-11 20:20] severinbeauvais opened #7507 "NR UI: should not allow searching for a name when Business Type = "View all business types""
**Describe the bug in current situation**
As detailed in the linked Ops ticket, a customer was able to search for a name with an invalid Business Type selection. This ultimately caused an error on the last page (Review and Confirm button), preventing the client from creating a NR.

**Link bug to the User Story**
Ops ticket = https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/

[2021-05-11 20:21] Sienna-Blumstengel opened #7508 "BC1283423 Clairvoyant Therapeutics Inc. Alteration LTD > BEN"
#### ServiceNow incident:
INC0090473
#### Contact information
Staff Name: Kathy Langlois

#### Description

FORM: [https://app.zenhub.com/files/157936592/34fcf874-42ce-4b0f-a156-9ba6416e71c6/download](https://app.zenhub.com/files/157936592/34fcf874-42ce-4b0f-a156-9ba6416e71c6/download)

**TO DO:**
https://drive.google.com/file/d/1aXdlPyefjab6hhMw9U9JZsHQProGS6sA/view?usp=sharing
- [ ] Add entity t

[2021-05-11 20:22] severinbeauvais commented on #7490
The bug ticket to fix this is [7507](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7507).

Closing this Ops ticket now.

[2021-05-11 20:22] #7490 closed

[2021-05-11 20:39] Sienna-Blumstengel opened #7509 "Can't switch to a BCOL account from PAD"
#### ServiceNow incident:
n/a
#### Contact information
Staff Name: Amber Andresen

#### Description
Account name: Watson Advisors Inc
One of their entities: BC0831815

The account is premium, and they are not able to switch their payment from PAD to BCOL. They want to use BCOL, but they can't see the option. Staff also can't see the option when they look at their account.

#### Tasks
- [x] When ti

[2021-05-11 20:43] severinbeauvais opened #7510 "Namex API: should not HTTP 500 on bad data"
**Describe the bug in current situation**
A UI error causes bad data to be POSTed to the namex API - see UI bug linked below.

The API should not crash (HTTP 500) in this scenario.

**Link bug to the User Story**
UI bug: https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7507

**Impact of this bug**
HTTP 500 and no information what the problem is.

**Chance of Oc

[2021-05-11 20:43] severinbeauvais commented on #7507
See also #7510.

[2021-05-11 21:24] #6402 closed

[2021-05-11 21:42] Sienna-Blumstengel commented on #7477
Still showing as being examined by Jenn, (even though it isn't) which is preventing it from being reset
![image004 (5).jpg](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/4dee84d3-cbb8-4df1-b0f9-95bb4810b03a)

[2021-05-11 21:56] janisrogers opened #7511 "UI Design PPR Step 2 - Add Parties"
### Wireframes
**Registration Step 2 - Add Parties
https://preview.uxpin.com/77c68eb65509f74fc8cf069c6ca73358d5e71c34#/pages/138312534/simulate/sitemap

### Visual Design

**Registration Create Step 2 comps**  - AWAITING DESIGN SPECS
https://projects.invisionapp.com/share/B710Z9FFAXZM#/screens?browse

**Registration Step 4 - Review and Confirm comps**
https://projects.invisionapp.com/share/6R10WRC

[2021-05-11 21:57] janisrogers opened #7512 "UI Design PPR Step 4 - Review and Confirm for Security Agreement"
### Wireframes
~https://preview.uxpin.com/77c68eb65509f74fc8cf069c6ca73358d5e71c34#/pages/138312684/simulate/sitemap~

### Visual Design
**Registration Step 4 - Review and Confirm comps**
https://projects.invisionapp.com/share/6R10WRCMXED7#/screens?browse

[2021-05-11 21:57] janisrogers opened #7513 "UI Design PPR Step 1 - Length etc."

[2021-05-11 22:05] lmcclung commented on #7482
Worksnow

[2021-05-11 22:05] #7482 closed

[2021-05-11 22:09] SateeshFW commented on #6693
Validation will be done in DB Schema to prevent input of 1 character

[2021-05-11 22:09] janisrogers commented on #7513
Designs are complete

[2021-05-11 22:17] janisrogers commented on #7478
Design complete

[2021-05-11 22:29] SateeshFW commented on #7467
Come up with a small set of use cases and this story will be groomed in next meeting

[2021-05-11 22:33] janisrogers commented on #7447
@Kaineatthelab Does this need a dev ticket?

[2021-05-11 22:36] jyoti3286 commented on #7463
@mstanton1 - I would recommend this to **not** be a data fix. Can we ask the user to resubmit the application?

[2021-05-11 22:41] severinbeauvais commented on #7507
### Test Notes

1. follow reproduction steps above -- validation should block you on step 7
2. look at various buttons throughout the app and verify their styles -- see examples below
3. watch for no new UI errors

Example:
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/61692798-0d84-49ca-8f14-2d15f9539098)

Example:
![image.png](https://images.zenhubusercontent.com/5d0

[2021-05-11 22:47] andrepestana-aot opened #7514 "Incorporation Application Corrected report shows wrong "corrected" label for Share Structure"
I corrected People and Roles and the report "Incorporation Application (Corrected)" shows that the Share Structure was corrected as well.

https://test.bcregistry.ca/business/BC0879904

Also, there's a UX issue with the label that is formatted in bold for Share Structure:
![image.png](https://images.zenhubusercontent.com/601c6b4f5322cf5c519d503f/dbec2f20-e3d7-4e7a-b0ab-3941d8abbb75)

The date form

[2021-05-11 22:57] janisrogers opened #7515 "UI DESIGN PPR Outputs -"

[2021-05-11 22:58] andrepestana-aot opened #7516 "NOA doesn't show Director's middle name"
I'm not very sure if it's intended but Incorporation Application report it shows the middle name for all roles.

https://test.bcregistry.ca/business/BC0879904

Fixes for the date format could also be done for NOA as described in [7514](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7514).

[2021-05-11 23:11] mstanton1 commented on #7463
I have advised Cheryl that we cannot update the data. She will confirm if the client is going to set up a new account. If so, we will need to deactivate the existing account to enable re-use of the account name.

[2021-05-11 23:18] #7456 closed

[2021-05-11 23:23] thorwolpert commented on #7313
@lmcclung could you please review and see if I interpreted this correctly
[code]

[2021-05-12 00:00] mengdong19 commented on #7509
User will have to connect to BCOL when they setup account, so they can switch to PAD or switch back to BCOL after. We currently don't have nay UI for client to switch from PAD to BCOL without connecting to BCOL when create account.
Could you please reach out to client to ask their BCOL user ID and account ID, also BCOL account name, Postal Code etc. to verify user have permission to access this ac

[2021-05-12 00:27] lmcclung commented on #7313
@thorwolpert

Date in header should be whatever date you file it.  Same with 'dissolutionDate':

foundingDate': '2021-04-19 20:49:58.26263+00  - I take it this is UTC time?  It was actual 1:49pm pacific

Custodian
-  Gurpaul Bubbar should not have: 'streetAddressAdditional': 'WOITAS MCLEOD & ASSOCIATES',
- 'partyType': 'org' - shouldn't this be whatever you use for person?
- 'appointmentDate': '20

[2021-05-12 00:39] thorwolpert commented on #7313
found date is just copied from the DB, no changes and is reference info only
removed the streetAddressAdditional
changed to partyType to person.
copy/past didn't stick on that last date.

Good to go then?

[2021-05-12 00:39] argush3 commented on #6214
@thor @andrepestana-aot @severinbeauvais @vysakh-menon-aot I have updated this BE release ticket to include all the components that will be deployed to PRD.  Let me know if you see anything missing.  At this point I don't know of any new configuration or pwd value updates required for this release.  If anyone knows of any such changes that has been not noted in the deployment steps in the descript

[2021-05-12 00:58] mengdong19 commented on #7504
"MRAS outbound messaging can be updated by Patty or the BA team, if needed" is a feature request that need development team involved.

[2021-05-12 01:08] tlebedovich commented on #7478
hi @janisrogers - please leave design tickets open until development has been completed.

[2021-05-12 01:11] tlebedovich commented on #7404
Sorry, I'm going to reopen this one too until development is complete - I missed your meeting today but will chat about the plan and can re-close later if needed.

[2021-05-12 12:48] argush3 commented on #6214
Thor's comment in RC regarding configuration updates for this release:

[2021-05-12 15:11] mstanton1 commented on #7463
The client will set up the account again, correctly. In order to enable the account to be set up under the same name the existing account will need to be disabled.

SILVERSIDES MERRICK AND MCLEAN (account 2319)

[2021-05-12 15:17] lmcclung commented on #7313
@thorwolpert yup!

[2021-05-12 15:23] lmcclung commented on #6214
@argush3 I noticed 6811 wasn't tagged to this release but should have been.  I've added it now.  Is there anything you need to update?

[2021-05-12 15:54] #5032 closed

[2021-05-12 15:55] #7416 closed

[2021-05-12 16:01] Sienna-Blumstengel opened #7517 "May 26th info session for BCOL clients"
We are planning an info session for BCOL clients for May 26th - targeting those users who have not set up an account and need help. Session will be May 26th. sienna.blumstengel would you (or anyone else??) have time to help with this? I will draft key messages for event tomorrow and start slide deck next week.

Here are some things we’ll need to do ASAP:
- [ ] draft key messages (link: _ )
- [ ] m

[2021-05-12 16:01] lmcclung commented on #7421
I tested this using BC0879887 - altered share structure.  Looks good.
Checked emailed outputs - no cert.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/918d2c88-d150-46f6-a452-01b1fd7c8543)

[2021-05-12 16:09] lmcclung commented on #7507
Looks great!  I went though various scenarios on the first screen and could never get past step 7. I went through the full flows to verify buttons and they all look the same, too.

[2021-05-12 16:16] lmcclung commented on #7318
Tested this - fee summary displays correctly when logged in with idir

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/599cf428-7fa6-43ec-ae46-7aed09ce328a)

[2021-05-12 16:16] Kaineatthelab opened #7518 "NameX add account type, payment type"
Show account type and payment type in submission column
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/0ac0821b-a9a9-4f55-b714-53da01068661)

[2021-05-12 16:18] #7015 closed

[2021-05-12 16:18] lmcclung commented on #7015
Tested again with no issues.  Closing ticket.

[2021-05-12 16:21] amit4610 commented on #7472
sent

[2021-05-12 16:21] #7472 closed

[2021-05-12 16:28] lmcclung commented on #5024
Tested using IDIR - working properly. Only place to add folio is in staff payment component.  What was entered there displays on the receipt.

[2021-05-12 16:37] Sienna-Blumstengel commented on #7509
My email to Amber:

[2021-05-12 16:44] pwei1018 commented on #7504
@Sienna-Blumstengel I am not sure why this related to MRAS. I checked the MRAS message table in CRPD. It shows "SUCCESS".
And checked the NRO and Namex  database.  I didn't see any issue of the NR. Can you forward it to home team to investigate the "The Name Request is not available' error message in Colin?

![image](https://user-images.githubusercontent.com/44277752/118012633-1f39f600-b306-11eb-9

[2021-05-12 16:49] pwei1018 commented on #7463
Updated the status of account 2319 to INACTIVE.

[2021-05-12 16:55] jyoti3286 opened #7519 "Basic Account Details Extract Required"
Extract the Basic account details which have been created after Mar 15. Following details are required:

1. Account Name
2. Email Address
3. Phone Number
4. Number of Transaction completed on the account

[2021-05-12 17:01] severinbeauvais commented on #4264
This requirement needs to be reviewed... in #5024 we allowed all chars up to a max length of 30.

[2021-05-12 17:02] severinbeauvais commented on #4879
What is this ticket? Does it have to do with saving the folio number when a business is incorporated?

[2021-05-12 17:07] jmills-cgi opened #7520 "Name Request bugs May 12"
## Namerequest UI 2.1.4:

Prior to moving into production, the following steps should be completed or confirmed:
- [x] Update version number in the code being released - _done by SB in #7507_
- [x] Ensure deployment steps are filled in - remove/replace placeholders - _done by SB_
- [x] Create a draft release in GitHub and confirm the correct commits are present - _done by SB_
- [x] Add version # a

[2021-05-12 17:08] mstanton1 commented on #7463
I have advised BCOL Admin that the existing account is deactivated and the client may proceed with the new account set up.

[2021-05-12 17:09] Sienna-Blumstengel commented on #7504
Asked IT Ops to send to hometeam to investigate.
Will close this ticket for now, and if the home team comes back and says it is work for us, we can re-open it.

[2021-05-12 17:09] #7504 closed

[2021-05-12 17:28] amit4610 commented on #6848
1. PPR is PREMIUM accounts only, they can use any payment BCOL or PAD.
2. Subscription code - people request access in UI and no approval needed from staff
3. PPR flag - no UI needed for accessing this. Only the existing users will need to be given access to restricted PPR.
4. PPR team will design access to restricted filings
5. Migration to PPR for users who have an account already in BCR to be d

[2021-05-12 17:30] lmcclung commented on #4879
@severinbeauvais it was created at the time we created tickets for turning things into shared components.  I think we can repurpose this for our IA story 6705.  I've added that epic.

[2021-05-12 17:45] Sienna-Blumstengel opened #7521 "Issue with data going back to NRO"
#### ServiceNow incident:
INC0090658
#### Contact information
Staff Name: Jennifer Weldon

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Reply All to IT Ops email and provide zenhub ticket number opened and

[2021-05-12 18:01] argush3 commented on #6214
@lmcclung just talked to @kialj876 about 6811.  He confirmed that this fix went in on the April 11th deploy.

[2021-05-12 18:38] severinbeauvais commented on #7520
This ticket has been updated and is ready for deployment to Prod.

[2021-05-12 18:43] sienna-blumstengel opened #7522 "Unable to put latest filing from LEAR to COLIN for : BC1275548 (filing 55979), CP0001696 (55135)"
#### ServiceNow incident:
N/A
#### Contact information
Staff Name: N/A

#### Description

@thorwolpert

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [ ] ~Assign zenhub ticket to milestone: current, and place in pipeline: sprint

[2021-05-12 18:54] Sienna-Blumstengel opened #7523 "Update Payload to include name choices in Transaction history"
## Description
This relates to dependency ticket #6939 for relationships.
They are going to update their transaction history page to display more data abut each transaction.
We need to update our payload to provide them with the additional data (name choices, NR number) for Name Request.

## Tech details
Relationships have added `details` (https://github.com/bcgov/sbc-pay/blob/development/docs/doc

[2021-05-12 19:00] argush3 opened #7524 "Issue pushing filing from COLIN to LEAR"
#### ServiceNow incident:
N/A
#### Contact information
Staff Name: N/A

#### Description

We are potentially seeing some new errors when the legal updater job tries pull over filings from COLIN into LEAR.  Some investigation will need to be done to see if there are any new errors and identifying what the cause of the new errors are.

Some examples of filings that legal api fails to create:
[code]

[2021-05-12 19:02] severinbeauvais commented on #7500
@lmcclung @Kaineatthelab FYI.

I am not sure if this error causes a full-stop for users. They may be able to continue with a default time zone / format. (I don't have a Mac and so cannot test this.)

It's also possible/likely that users will simply try another browser (ie, Chrome) and it then works fine.

[2021-05-12 19:15] severinbeauvais commented on #5566
These 2 UI releases are complete.

[2021-05-12 19:15] #5566 closed

[2021-05-12 19:16] severinbeauvais commented on #7520
This release is complete.

[2021-05-12 19:16] #7520 closed

[2021-05-12 19:21] severinbeauvais commented on #7258
There's a question in the comment above, and besides that, can this ticket be closed?

[2021-05-12 19:23] severinbeauvais commented on #7327
This is blocked by 7326, which is itself blocked by 7433.

[2021-05-12 19:30] argush3 commented on #6214
All components for release have been deployed to PRD.

[2021-05-12 19:30] #6214 closed

[2021-05-12 19:56] Sienna-Blumstengel opened #7525 "Check payments of NR3831722/NR7821503/NR9486444"
#### ServiceNow incident:
INC0090726
#### Contact information
Staff Name: Jenn and Elizabeth

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Reply All to IT Ops email and provide zenhub ticket number opened a

[2021-05-12 20:04] pwei1018 commented on #7525
No namex records for NR 3831722

NR 7821503	47395	REG00047395	PAID	COMPLETED	131.5	131.5	277594

NR 9486444	42867	REG00042867	CREATED	CREATED	31.5	0.0

[2021-05-12 20:07] severinbeauvais commented on #7505
@lmcclung @Sienna-Blumstengel Is "0" shares invalid?

[2021-05-12 20:15] pwei1018 commented on #7524
@argush3 The business-schemas seems missing amended_a_g_m.json file.

https://github.com/bcgov/business-schemas/tree/master/src/registry_schemas/schemas

Log from colin_api: “[2021-05-12 20:08:57,030] ERROR in filing: [Errno 2] No such file or directory: ‘/usr/local/lib/python3.8/site-packages/registry_schemas/schemas/amended_a_g_m.json’”

![image.png](https://images.zenhubusercontent.com/5bf5f048

[2021-05-12 20:16] forgeuxGH5 opened #7526 "UI Design - Business Registry Home Page 2.0"
Update the Business Registry Home page to support log in to create and manage any business entity.

[2021-05-12 20:32] pwei1018 commented on #7522
Error in address: failed to insert new address: {'addressCity': 'Keremeos', 'addressCountry': 'CA', 'addressRegion': 'B', 'deliveryInstructions': '', 'postalCode': 'V0X 1N1', 'streetAddress': '106 - 4155 Hwy 3', 'streetAddressAdditional': ''}
asctime: 2021-05-12 20:00:22,238

[2021-05-12 20:37] Milan-Freshworks commented on #6116
It has been tested and verified for the list of emails given by meng.

![Screen Shot 2021-05-12 at 12.24.41 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/eed4032e-3c7b-42e9-9a5c-b7fd0cadce29)

[2021-05-12 20:49] jyoti3286 commented on #7323
This needs to be re-estimated based on the added scenario 5 & 6

[2021-05-12 20:51] argush3 commented on #7524
ok, the logs are helpful thanks.  all the `OTCGM` entries are just unsupported right now as registry schemas repo doesn't have a schema for `amendedAGM`.  The other filing types(OTSPE/specialResolution and OTANN/annualReport) should be supported I believe.  Do you have any info on why these two errors failed to push to legal api filings endpoint?

[2021-05-12 20:57] Sienna-Blumstengel commented on #7505
@severinbeauvais did you get your answer? I don't know for sure, but i will guess 0 is invalid. I would ask Linda

[2021-05-12 20:59] severinbeauvais opened #7527 "Legal UI - Max. Number of Shares as "0" makes correction fail"
**Describe the bug in current situation**
Due to bug [# 7505](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7505), the UI allowed the entry of "0" number of shares. This UI bug has now been fixed.

This ticket is to add API validation code to report an error if the number of shares is "0".

I made this a P2 since the Legal API is not yet open for others to u

[2021-05-12 21:07] pwei1018 commented on #7524
@argush3 I only can find the logs for CP0001477

2021-05-12 19:27:38,889 - legal_api - ERROR in app:app.py:1891 - log_exception: Exception on /api/v1/businesses/CP0001477/filings [GET]
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/flask/app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "/usr/local/lib/python3.8/site-packages/fl

[2021-05-12 21:08] jdyck-fw commented on #2118
![9.1.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/83fe2094-4ebd-40fd-b997-b4d48fdf7229)

Action items:

- [ ] Jason - Ensure that our Monday discussion on requirements for devs includes an exception path
- [ ] Jason - Encourage ‘heads down’ blocks of time and continuing to call out dependencies on other team members at standup

[2021-05-12 21:09] lmcclung commented on #7505
@severinbeauvais @Sienna-Blumstengel maximum number of shares should be 1 or more.  If they wanted zero then the share class shouldn't exist.

[2021-05-12 21:25] pwei1018 commented on #7519
Done.

[2021-05-12 21:25] lmcclung commented on #7525
No payment for NR 3831722 in GLOBALP:PAYMENT table.

I'm thinking the screen Jenn showed is the temporary NR number before payment.  I believe we hid those NRs (usually NRL's) back in December.  @Sienna-Blumstengel How did they know about NR 3831722 ?

I suggest name examiner cancel NR 3831722 and NR 9486444 in NameX as no payment rec'd (if they are there) and have staff examine NR 7821503.  Can y

[2021-05-12 21:34] ghost opened #7528 "Change text on payment methods screen for GOVM accounts"
AS a GOVM account user
I want to know how to change my GL info in "payment methods" screen
So that I can reach out if my GL details changes

Text on Payment methods screen:

"If your general ledger information changes, please notify us immediately at BCRegistries@gov.bc.ca"

[2021-05-12 21:37] severinbeauvais commented on #7505
### Test Notes:

1. Verify number of share classes in Edit UI - Corrections
2. Verify number of share classes in Edit UI - Alterations
3. Verify number of share classes in Create UI - Incorporation Application

For each of the above, test:
- nothing entered
- value entered then deleted
- zero value
- negative value
- decimal value
- etc.

[2021-05-12 21:44] Sienna-Blumstengel commented on #7525
Thanks everyone! I will let the staff know and close the ticket.

[2021-05-12 22:00] severinbeauvais commented on #7505
All changes have been deployed to Dev, and I have verified them there.

[2021-05-12 22:06] amit4610 commented on #7492
work captured in 7394

[2021-05-12 22:06] #7492 closed

[2021-05-12 22:10] #6116 closed

[2021-05-12 22:10] mstanton1 commented on #6819
@jyoti3286 is anything needed for #1 with Julie. I had another ticket for FAQ links / links on the main page of the BR. I believe this can be closed as a duplicate.

[2021-05-12 22:16] mstanton1 commented on #7462
@stevenc987 the weekly refunds are ready for you.

[2021-05-12 22:19] Sienna-Blumstengel commented on #7187
Got another instance of this reported as part of INC0090772.

[2021-05-12 22:24] Sienna-Blumstengel commented on #7525
"My apologies – the NR is NR3331722 – not NR3831722." @pwei1018 can you check this NR?

[2021-05-12 22:28] pwei1018 commented on #7525
![image.png](https://images.zenhubusercontent.com/5bf5f0484b5806bc2bf6f0cb/a1d2b1d8-d352-4e25-80e2-47f11e6287e8)

[2021-05-12 22:48] amit4610 opened #7529 "1 BCOL accounts linked to 2 BCR accounts"
**Describe the bug in current situation**
A clear and concise description of what the bug is.

Staff - Our office received this change form today.  Acct admin from one account is requesting that the acct admin be removed, which is on the other account. Both accounts are linked to the same BC Online account 172427. In BC Registries one BCOL account can be linked to one BCR account.
![bug1](https://

[2021-05-12 22:52] pwei1018 commented on #7521
I checked the previous status of these two NRs. It seems good to me. I am not sure what happen of these NR.

[2021-05-12 22:55] PatrickAHeath opened #7530 "PPR Registration Number Search - change validation on Registration Number field"
The Registration Number field was historically a 7 digit number.  When the sequence hit 9999999, a letter was added as the last character.

The field validation for the Registration Number search field is currently 6 digits followed by a letter, but that won't allow searching of Registration Numbers that don't include the letter.

Since this is an exact match search field, the client must know the

[2021-05-12 23:04] mstanton1 opened #7531 "Email to BASIC Account Holders - Content updates"
#### Description
The volume of BASIC accounts is extremely high compared to the volume of PREMIUM accounts. To ensure clients have selected the correct things targeted emails will be sent to advise BASIC users of the difference between account types and process to switch.

https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={29F9B9F3-1E4A-49C6-BD56-24F3B50036