[2022-08-25 16:39] seeker25 opened #13448 "AUTH-WEB - Entity Dashboard - NR changes"
This would have to be rewired to call AUTH-API instead of LEAR which calls NAMEX.

[2022-08-25 16:39] seeker25 opened #13449 "AUTH-API - Entity Dashboard - NR changes"

[2022-08-25 16:40] seeker25 opened #13450 "NAMEX - Entity Dashboard - NR changes - Enhance queue to send over needed information"
Example code:

[code]

[2022-08-25 16:42] seeker25 opened #13451 "BUSINESS-EVENTS-LISTENER - Entity Dashboard - NR Changes"

[2022-08-25 16:43] seeker25 opened #13452 "NAMEX - Undo changes for multiple NR query"
Revert this PR: https://github.com/bcgov/namex/pull/1237

Use queues instead.

[2022-08-25 16:44] jdyck-fw commented on #13253
uxa completed in other ticket

[2022-08-25 17:21] jdyck-fw commented on #13446
Meet with Thor and Mihai to discuss this.

[2022-08-25 17:32] doug-lovett commented on #13326
Developer note: whoever picks up this ticket, with the API change ticket 13421 PR 918 the search query results registration status is changing from "HISTORIC" to "HISTORICAL" to align with the status for other endpoints.

[2022-08-25 17:42] jdyck-fw commented on #13369
Reviewed in backlog refinement for estimation - still needs priority @davemck513

[2022-08-25 18:14] doug-lovett commented on #13363
@PatrickAHeath are there any legacy application extra rules on matching when searching by staff individual owner last name? Is it exact match on the last name? Searching on "HUNT" in dev returns 731 results, but over 1/2 of them are not "HUNT" (most of the similar matches are "HUNTER").

[2022-08-25 18:24] #13408 closed

[2022-08-25 18:36] garyfan1 opened #13453 "Remove test code that were added in order to pass minimal POST MHR requirements"
## What is the problem?
- Some test code were added in order to pass minimal POST MHR requirements.
- They were added for
    - issue: #13215
    - PR: https://github.com/bcgov/ppr/pull/917

## What is the impact?
* This is bad once the steps are finished

## Proposed solution
* The test code were annotated with `TODO: Mhr-Submission`.
* REMOVE or UPDATE the code as needed.

[2022-08-25 18:45] garyfan1 commented on #13215
Ticket #13453 created for some test code that needs to be removed/updated after the steps are finished.

[2022-08-25 18:47] PatrickAHeath commented on #13363
@doug-lovett In the Legacy TEST green screen search by Individual Name, entering HUNT as the last name and searching returns owners with last name beginning with HUNT.  If the Last Name search parameter is HUNTING, all last names returned begin with HUNTING.  So, the modernized search by last name seems to be working the same as the Legacy search.

[2022-08-25 19:10] RFK250 opened #13454 "UI - Cross-reference Civic Address with PID"
## Description
When providing location information, users are always required to provide a civic address, and they may also have to enter a PID. The PID is validated against LTSA to make sure it exists, but no safeguard is in place to ensure that the valid PID provided is actually the correct PID for the civic address.

## User Story
**Back of House:** As the registrar, I want Civic Addresses and

[2022-08-25 19:22] lekshmimallika-aot commented on #13163
@JohnamLane @janisrogers  Could you please provide the URL for 'Learn More about BC Assessment' link?

[2022-08-25 20:06] jdyck-fw commented on #13345
Still with you for verification @Mihai-QuickSilverDev

[2022-08-25 20:09] jdyck-fw commented on #13398
Unsure if this is a valid use case, as society NRs aren't supported by the new system? @davemck513 for your review pls

[2022-08-26 00:08] lewischenstudio commented on #13079
There is some uncertainties related to the UI design of this Special Resolution Dates

The image below shows the Special Resolution Form in the [design UI](https://projects.invisionapp.com/share/WZ12EE8AFD6J#/screens/466126608), which is also implemented in the Create UI.
![image.png](https://images.zenhubusercontent.com/62545db04d6ff8016a944eca/96d697fe-bb71-4a0f-97c9-e16fd8f35158)

The requireme

[2022-08-26 06:37] Mihai-QuickSilverDev commented on #7879
To all involved here - a new fee code needs to be in place, setup with $1 for the service fee. Then the code needs to identify that the user belongs to a government account, and invoke this fee code that will apply the right charge.

[2022-08-26 15:35] doug-lovett commented on #13421
Test with UI change 13326.

[2022-08-26 15:47] magszymanski commented on #12103
@gprimeau based on Trish's suggestions and couple of other wording changes I found, please update this CMS page using the [Mural board](https://app.mural.co/t/cgiconsultingnew1739/m/cgiconsultingnew1739/1657647334756/4969808bf4e640e4f6e386056a08cc66aa02a1f5?sender=u6287103367ede52e51ea1188) (ticket 12103) and the above screenshot. Thanks!

[2022-08-26 16:43] RFK250 commented on #13161
@doug-lovett to add more detail

[2022-08-26 16:45] RFK250 commented on #13161
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13161?planning-poker) with Zenhub @doug-lovett

[2022-08-26 16:53] jinghualicgi commented on #13383
@garyfan1 Gary, can you put an est. on this?

[2022-08-26 17:00] RFK250 commented on #13438
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13438?planning-poker) with Zenhub @doug-lovett @garyfan1 @dimak1 @ChasBoucher @chdivyareddy

[2022-08-26 17:15] fareenr commented on #12152
26-Aug - after discussing pilot plans with Kyle, drafted MH search external pilot invite to be emailed in advance of pilot to get named users to set up user-specific access in Prod and requested feedback and input on timelines from Kyle and Assets team.

external invite draft email saved here: https://docs.google.com/document/d/19_PM1CHHDrWKIGBqQDH9phJW7xGunsXe/edit?usp=sharing&ouid=11315310977998

[2022-08-26 17:20] RFK250 commented on #13416
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13416?planning-poker) with Zenhub @doug-lovett

[2022-08-26 17:27] RFK250 commented on #13419
Closing as won't fix - if this issue re-emerges for other users once used more broadly, then we first have to understand the underlying user story about why it's a problem (whereas this ticket was created under the premise of implementing a user's desired change).

[2022-08-26 17:27] #13419 closed

[2022-08-26 18:42] #13378 closed

[2022-08-26 18:43] ChasBoucher commented on #13362
Before I move further on this ticket.  I would like to know if this is what every one had in mind for a Owner Last Name search?

![SampleOwnerLastNameSearch](https://user-images.githubusercontent.com/107890689/186971181-ee5be6f7-bc73-4821-8a3b-3c04d2b7d0eb.png)

[2022-08-26 18:50] garyfan1 commented on #13362
IMO the ticket is not asking for another search option, we are just making `first name` search field optional for MH users.

[2022-08-26 19:12] RFK250 opened #13456 "UI Design - Add an action button to the registration row"
Visual Design Ticket: https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/12770

[2022-08-26 19:12] RFK250 opened #13457 "UI Design - Add a PDF icon / button to the registration row"
## Description

## Notes
- Re-use the existing PPR component
- Visual design ticket: To be added

[2022-08-26 19:42] RFK250 commented on #13362
@ChasBoucher @garyfan1 is correct...  That said, is there still an option in the drop-down for a regular owner search?

[2022-08-26 19:43] ChasBoucher commented on #13362
Yes..
It shows First Name, Middle Name, Last Name

[2022-08-26 19:48] RFK250 commented on #13362
Okay. In that case, since you've already done the work, I would opt to proceed to review since it does address the AC and user story, assuming that this aligns with #13363. No need to go back to the drawing board.

[2022-08-26 19:55] ChasBoucher commented on #13362
Sounds good... Either way is very straight forward..
As Doug says in https://github.com/bcgov/entity/issues/13363.  He only need to change the schema validation for allowing a search where first name is not present...

[2022-08-26 20:04] cameron-freshworks opened #13458 "BBDC - UI Api integration"
- [ ] Implement helper (mixin?) or util  for requests to lear related to Digital Credentials
- [ ] Make request when Credential selections are made to generate a QR
- [ ] Render QR code invitation URL on success
- [ ] On successful Digital Wallet relationship creation, switch the loaders to checkmarks.
* To determine how UI will watch for API notification.

[2022-08-26 20:21] seeker25 commented on #12906
Assigning Me and Meganto this, Megan is going to get as far as she can with this.. I'll finish off if needed

[2022-08-26 20:21] seeker25 commented on #12909
Assigning Me and Megan to this, Megan is going to get as far as she can with this.. I'll finish off if needed

[2022-08-26 21:04] seeker25 opened #13459 "Special Resolution - Additional backend changes and clarifications"
We need an additional field added to the business schema and unit test in lear?

"resolutionConfirmed"
https://github.com/bcgov/business-schemas/pull/107

I don't see a field for:
![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/13c77f8e-c704-4d0f-8e23-1ac0eef8fd3e)

Faiz was using the business founding date, but I don't think this is correct? Where do we get this informa

[2022-08-26 21:06] #12713 closed

[2022-08-26 21:06] #12715 closed

[2022-08-26 21:07] #12772 closed

[2022-08-26 21:07] #12365 closed

[2022-08-26 21:07] #12714 closed

[2022-08-26 21:07] #12662 closed

[2022-08-26 21:07] #12676 closed

[2022-08-26 21:08] #11980 closed

[2022-08-26 21:10] #12949 closed

[2022-08-26 21:11] #11589 closed

[2022-08-26 21:15] #11583 closed

[2022-08-26 21:21] lambert-alex commented on #10911
@sienna-blumstengel-bcgov for the todo, is this only applying to COOPs? Or are these changes for all CORPs? Also if an AR indicates NO AGM is the filing date also considered Dec 31st at 11:59 of that year or is that unimportant?

[2022-08-26 21:43] chdivyareddy commented on #13009
Verified!

- When the user adds at least one individual owner (person or business not in a group) - **Home Tenancy Type: Sole Ownership**

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/5fb20a2f-f96d-4a14-93a0-065bce2999ff)

- When the user adds more than one individual owner (person or business not in a group) - **Home Tenancy Type: Joint Tenants **

![image.png](https

[2022-08-26 21:49] RFK250 opened #13460 "Sprint Goals 14.6"
1. MHR users can view the history of transactions related to a registration on their dashboard (#13005)
2. Users see their own registrations on the dashboard (#13112)
3. MHR users have the ability to add rows to their MHR dashboard (#13002)
4. Staff have the basic ability to transfer ownership of a manufactured home
5. Manufacturers can submit, review and pay for a registration (for sole owner ten

[2022-08-26 21:52] #13003 closed

[2022-08-26 21:56] seeker25 opened #13461 "PAY-API - GST and PST changes"
API changes / spec changes.

[2022-08-26 21:56] RFK250 opened #13462 "Ability to view a registration output from a dashboard row"
## User Story
As a staff MH user, I want to be able to easily view the registration output for a registration so that I can us its information to complete my work

[2022-08-26 22:17] RFK250 opened #13463 "UI - Display a clickable icon on a dashboard row"
## AC
GIVEN I am an MH user
WHEN I navigate to the dashboard
THEN I can see the PDF icon (see design #13457)
AND I can click on it to download the registration PDF

[2022-08-29 13:22] seeker25 commented on #13021
There's still a few small conditions that will be covered in File and Pay.. the bulk of the work is here and required changes in 3 different repos.  Saving a draft, loading a draft seems to work.

[2022-08-29 13:29] seeker25 commented on #13231
There are some backend concerns for getting this done:
https://github.com/bcgov/entity/issues/13459

Also the conditions for the Special Resolution confirmed checkbox needs to be implemented.

[2022-08-29 14:25] argush3 opened #13464 "Entities Sprint 14.4 Patch Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub
 1. - [x] Confirm the correct commits are present
 2. - [x] Select appropriate target rep

[2022-08-29 15:12] seeker25 commented on #13152
I've pushed this to test

[2022-08-29 15:22] seeker25 commented on #13309
Moving this one up a bit, going to be tricky to test and make sure it doesn't blow anything up.

[2022-08-29 16:23] RFK250 opened #13465 "BA - Work with Service BC to have Service Code GL updated"
When Service BC government agents perform services for the public they enter fee codes through GARMS. For the start of the Service BC pilot for MHR Search / MHR Combo search service code updates are required.

Service code forms can be drafted and sent to John McColl. Melissa has examples from previous fee code changes. John has not been contacted yet as the timing is not clear. Significant lead t

[2022-08-29 16:32] severinbeauvais commented on #13372
Does this ticket have any content (code changes) in Rls 14.4a? If not, please update the Releases tags.

[2022-08-29 16:34] severinbeauvais commented on #13079
Edit UI has a well-established design for undo/change/correct buttons. Please follow that.

[2022-08-29 16:35] #12890 closed

[2022-08-29 16:35] #13058 closed

[2022-08-29 16:35] #13253 closed

[2022-08-29 16:35] #13347 closed

[2022-08-29 17:05] Mihai-QuickSilverDev commented on #13308
@davemck513 @vysakh-menon-aot We have received confirmation from the Business, vetted by Olisa and Megan, to use the Arial Sans font for now, which will provide full compatibility with external email systems.
We will explore further with OCIO if there is any ongoing work related to the compatibility of the BC Sans font with external email systems.

[2022-08-29 17:54] RFK250 opened #13466 "Qualified supplier workflows"

[2022-08-29 17:55] RFK250 opened #13467 "Qualified supplier workflows"
## Epic User Story

[2022-08-29 17:57] RFK250 opened #13468 "Qualified supplier workflows for transfers"
## Epic User Story
As a qualified supplier, I want to be able to easily search and update the MH registry so that I can help my clients quickly and easily buy, sell, transfer and/or exempt their manufactured homes.

## User Flow
The following user flow was collected from one user (a qualified supplier, specifically a lawyer/notary)
Step 1: Initial information from client
Step 2: Obtain copy of con

[2022-08-29 18:06] RFK250 opened #13469 "Qualified suppliers have the ability to quickly process registrations on closing day"
## User Story
As a qualified supplier, I would like to be able to quickly finalize and process transactions on closing day (e.g. submit transfers, exemptions, etc) so that I can serve my clients quickly and efficiently.

## Description
This user story stems from a conversation with qualified suppliers in which they indicated that they (and their clients) value the ability to get things done quickl

[2022-08-29 18:06] tlebedovich commented on #11241
@janisrogers - lets talk tuesday about this when you return

[2022-08-29 18:37] zac-broitman commented on #13348
Julie Harding has confirmed that there are not any other filings she is aware of which would act like this, where it would be hidden and not shown on the ledger. Really this isn't a "filing" in but we are just treating it as such technically in the system.

From the design ticket it appears there will be just one warning banner about this that will be shown to both client and staff users. Staff wi

[2022-08-29 18:39] RFK250 commented on #13466
Duplicate

[2022-08-29 18:39] #13466 closed

[2022-08-29 18:39] RFK250 commented on #13467
Duplicate

[2022-08-29 18:39] #13467 closed

[2022-08-29 19:00] severinbeauvais commented on #13079
The first image above is for Coops, whereas this ticket is for a BEN IA correction.

I'm trying to figure out whether a Special Resolution Date(s) applies to a BEN. I know it's not entered in the IA itself but the BEN IA correction is actually to the business snapshot, which might include this/these date(s).

[2022-08-29 19:48] severinbeauvais commented on #13079
It appears that Special Resolution Date is a Coop thing.

However, BENs do have "dates of resolutions or court orders" as seen [on the original paper form](https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-forms/form_11_com_-_alteration_notice.pdf) and in the BEN Alteration UI:

![image.png](https://image

[2022-08-29 19:51] severinbeauvais commented on #13079
For comparison purposes...

- sample BEN Alteration: https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/edit/BC0871039/alteration
- sample BEN IA Correction: https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/edit/BC0871153/correction/?correction-id=133469

[2022-08-29 20:20] severinbeauvais commented on #13372
@forgeuxGH5 Please review this and comment as needed.

My understanding of this bugfix is this:
- going to the Review and Confirm page (for all filing types) should not set the X (ie, validation state) for the Review and Confirm page
- clicking File and Pay should set the X (if invalid) for the Review and Confirm page (and scroll to the first invalid component)
- if everything is valid then clicki

[2022-08-29 20:22] severinbeauvais commented on #13372
Design Notes:

- we want to make states easier, not harder, in the current architecture
- it sounds like we might need a new state variable here, but I think it would be better to implement a state machine instead (which would be a single variable whose value is an enum)
- this applies to all filing types

[2022-08-29 20:55] PatrickAHeath commented on #13034
I'm not able to reproduce the scenario from before.  There seems to be changes that were made to the WYSIWYG editor as the sequenced list can no longer select whether it's numbers or letters and the style.

Closing issue as error scenario can't be reproduced.

[2022-08-29 20:55] #13034 closed

[2022-08-29 21:07] tlebedovich commented on #11863
@JohnamLane @janisrogers @zac-broitman @seeker25 @lekshmimallika-aot - image as well as the text updates required are ready for dev - see design notes above

[2022-08-29 21:08] tlebedovich commented on #11865
@JohnamLane @janisrogers @zac-broitman @seeker25 @lekshmimallika-aot @fareenr - image as well as the text updates required are ready for dev - see design notes above

[2022-08-29 21:11] forgeuxGH5 opened #13470 "UI Design - Improve address entry for Joint Tenants when adding/editing Owners"
It's common for owners of a home to reside at the same address. When adding joint tenant and tenants in common owners in the BCOL legacy system,  the address of the first owner in the joint tenancy (including JT's of a TC) is pre-populated in the address information for sub-sequent owners. Also paper forms instruct users to only enter one address for owners residing at the same address.

The moder

[2022-08-29 21:11] tlebedovich commented on #13017
design ticket is now ready with copy and image

[2022-08-29 21:14] forgeuxGH5 commented on #13470
@RFK250

[2022-08-29 21:36] RFK250 commented on #13470
Thanks Scott! I will file this one as a possible future enhancement, it's a nice design idea.

[2022-08-29 21:40] forgeuxGH5 commented on #12963
I'm not sure if we are including the Review and Confirm step in this ticket. If we are not then we can put these comments in the Review and Confirm ticket.

@tlebedovich point above does not seem resolved:
- [ ] If one or more of the address fields are filled in, do not show (Not entered), just show any of address info that is filled in and then the red bar/step not completed link will take user b

[2022-08-29 22:08] tlebedovich commented on #12963
@ChasBoucher - please review Scott's comments above. This ticket does include the Review and Confirm screen I believe so we should work on these open items.

[2022-08-29 22:29] fareenr commented on #12717
updated Site Registry dist list saved in this folder: https://drive.google.com/drive/folders/1uVlqlP6IymSIf2jW0n6RcVk1nGVNU1zE?usp=sharing

Also have different tabs to identify Ministry contacts and Non-Ministry contacts to help BCOL Admin identify if any fee exemptions that need to be set on the new BC Registry application based on current exemptions in BC Online.

[2022-08-29 22:46] dimak1 opened #13471 "UI - Step 3 - Address Lookup for Home Owners"
GIVEN I am BC Registries Staff with the keycloak group Assets_Staff
WHEN I am in the Manufactured Home Registration step 3 and click 'Add a Person' or 'Add an Organization'
THEN 'Add a Person' or 'Add an Organization' section opens up and collects persons name, address and multiple groups of owners
AND the address lookup is using the Canada Post address lookup

[2022-08-29 22:47] severinbeauvais commented on #13323
@janisrogers  The current Namerequest UI contact info component has the following:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/2c2c7163-a178-4b57-8239-64a67b92ad1e)

But the UI design has the following:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/0f2d6a1d-f3d8-446a-8336-8326aeb8e6f8)

I am thinking that I should stick with the existin

[2022-08-29 22:53] dimak1 commented on #13471
@ChasBoucher as discussed, please see this task for Address Lookup.
cc: @RFK250

[2022-08-29 23:00] zac-broitman opened #13472 "Prevent Refunds for Routing Slips"
* As a SBC Finance member
* I want refunds to be blocked on a routing slip until a predetermined amount of time has passed
* so that we can prevent a situation where a refund is approved before the original funds are deposited into the bank

**Acceptance Criteria**

**Scenario 1: Preventing refund before clearing time**
* GIVEN ... a routing slip exists in the system
* WHEN ... I try to approve a

[2022-08-29 23:21] tlebedovich commented on #13122
@doug-lovett - some Visual Design UXA for new report generator;

**Table of Contents page:**
- [ ]  "MHR search result" header font is too big and should be bold
- [ ]  "BC Registries..." sub head is too big
- [ ]  Logo is too big
- [ ]  White header area in general is too tall

*** match all of the above to old template**

![Screen Shot 2022-08-29 at 3.19.30 PM.png](https://images.zenhubuserconte

[2022-08-29 23:28] tlebedovich commented on #13122
@doug-lovett - just some small design adjustments. We can do a review of all different scenarios once we finished work on Registration outputs

[2022-08-29 23:32] tlebedovich commented on #12018
@RFK250 - before closing, is this design ticket linked to a dev ticket/epic already? I don't believe the dev work has been done so just making sure so we don't lose track of this.

[2022-08-29 23:40] tlebedovich commented on #13171
moving to RFQA

[2022-08-30 01:01] dimak1 commented on #12451
Removed Canada Post AC from this ticket and created a new one 13471.

[2022-08-30 15:00] argush3 commented on #13432
Following data has been loaded into DEV for verification purposes.

**loading error - Attempt to change/add person had invalid data**
FM0293387

**Multiple rows were found for one_or_none loading error**
FM0325610

**issue where CONVFMRCP with no filing ends up messing up the order of how data is pulled for things like amended registration statement as current date is used for effective date**
A b

[2022-08-30 15:13] RFK250 commented on #13471
Thanks @dimak1 for sorting this out and making this ticket - however I am going to pull it out of the sprint backlog as it's not strictly necessary for current sprint goals. Will include in a future sprint. Also, can this be merged with #12837 or does it make sense to keep them separate?

[2022-08-30 15:17] dimak1 commented on #13471
@RFK250 no problem Kyle, I wasn't sure where to put it. We can tackle this in upcoming sprits, thanks!

[2022-08-30 15:17] RFK250 commented on #12018
Thanks for checking, but all is well here - @forgeuxGH5 and I had a chat last week; instead of using the Ready for Dev column for Assets work, just close the ticket instead. That will indicate to the devs that the blocker has been cleared - in this case, #12487 and #12049. The ticket is still here and can always be referenced or even re-opened if necessary.

[2022-08-30 15:28] janisrogers commented on #13323
Good catch @severinbeauvais They should be the same.

[2022-08-30 15:35] doug-lovett commented on #13420
@PatrickAHeath here are some mhr numbers with all the different note document types in TEST:
102653	103
005474	102
005436	CAU
084292	CAUE
085316	CAUC
079330	103E
040643	101
015802	NCON
005979	TAXN
005832	NPUB
080576	EXRS
005527	FZE
083362	EXNR
089036	REST
089036	REGC
043574	STAT

[2022-08-30 15:39] zac-broitman commented on #13163
@seeker25 @lekshmimallika-aot Did we ever get the link? If not then I can ask for that during the meeting I have with BCA this morning.

[2022-08-30 15:43] trishreimer commented on #11532
Can we remove the onhold state and move to in progress @gprimeau

[2022-08-30 15:43] trishreimer commented on #11531
Can we remove the on hold and move to in progress? @gprimeau

[2022-08-30 15:45] severinbeauvais commented on #13323
Ah, yes, but which one should I use -- the existing one in Namerequest UI?

[2022-08-30 15:53] seeker25 commented on #13163
I think we need: PROD and learn more about

[2022-08-30 15:55] ritvick commented on #13459
@zac-broitman Can we get business input on why mailingAddress for director is not sent to frontend ?
![image.png](https://images.zenhubusercontent.com/6255d79d1ef4947b9437145f/4a33f446-29a9-49da-b6ef-46aa9b3453f8)

[2022-08-30 15:56] seeker25 commented on #13459
Kial is back today, he'll answer above -^

[2022-08-30 16:01] tlebedovich commented on #12018
Thanks, yes just wanted to make sure it was linked to dev tickets before being closed, thanks for checking.

[2022-08-30 16:38] ozamani9gh commented on #12915
Released the following tickets into PROD.

![image.png](https://images.zenhubusercontent.com/62606d9e769b6103917adb08/4a681040-f29b-449b-ab40-f74576000c79)

Verified and can be closed

[2022-08-30 16:43] RFK250 opened #13473 "UI Design - Location Types / Legal Description (UI + Outputs)"
Updated designs for Location Types including;

- look up and display LTSA string information when verifying a PID
- update LTSA error modal text and contact info (see design comp)
- option to enter legal description manually for Other land - Strata/Non-Strata versions
- Updated fields for Indian Reserves + option to enter legal description manually
- Update Review and Confirm screen view
- Update

[2022-08-30 16:46] RFK250 opened #13474 "UI Design - Agent workflow"
Placeholder - to be updated

[2022-08-30 16:47] sarahelz19 commented on #12338
@gprimeau can you drop the link to the correction form, as I want Dave McKinnon to review. Thx.

[2022-08-30 16:49] RFK250 opened #13475 "UI Design - Fractional Ownership"

[2022-08-30 16:55] lekshmimallika-aot commented on #13163
As @seeker25 mentioned we need prod and learn more about

[2022-08-30 17:06] lekshmimallika-aot commented on #13017
@zac-broitman Could you please provide the URLs for 'Learn More' + the app DEV, TEST and PROD URLS?

[2022-08-30 17:09] doug-lovett opened #13476 "MHR API - new registration location street number too long"
## AC
GIVEN User submits a new MH registration
WHEN the location street address street number information is greater than 6 characters in length
THEN the API generates an error.

---
## Description
- The legacy DB2 database location table parses street address into street number and street name.
- Street number max length is 6 characters.
- The api is parsing the street number using a space charac

[2022-08-30 17:14] garyfan1 commented on #13215
For testing, please enter less than 6 characters for the civic address street number in "Step 4 Location of Home".
The first segment when splitting the address by space is considered "street number".
for example:
(O) "940" Blanshard Street
(X) "200-940" Blanshard Street

[2022-08-30 17:22] severinbeauvais opened #13477 "Move auth-web out of sbc-auth and into its own repo"
Like LEAR / Filings UI a few years ago, this proposal is to move auth-web out of the sbc-auth repo and into its own repo.

This would separate the UI and back-end modules so they could be worked on and released separately.

This would also allow one set of permissions (eg, review, deploy) for the BE and a separate for the UI, which would make it easier for Entity Team to work on the UI (ie, entity

[2022-08-30 17:23] jdyck-fw commented on #13424
I just took a look at the Entities page in the sheet and it looks to be up to date.

[2022-08-30 18:05] lewischenstudio commented on #13372
The final solution was made:
.
When the user visits the step "Review and Confirm" for the first time, there should be no red cross icon or green check icon regardless whether the previous steps or the current components are finished or not.
- Do not display the red cross or the green check icon until the "File and Pay" button is clicked.
- If any of the steps or components are not finished, the "R

[2022-08-30 18:23] zac-broitman commented on #13017
@seeker25 Have we received the DEV and TEST URLs?

[2022-08-30 18:38] seeker25 commented on #13017
Nope @janisrogers may have asked them though

[2022-08-30 18:42] chdivyareddy commented on #13171
Verified!

Submitting Party Max character validation:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/1f338c63-7964-40f8-9d22-baafb6487841)

Home Owners Max character validation:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/edb9c18d-0b67-4b66-9dbd-94d38e51c397)

Minimum digit validation:
![image.png](https://images.zenhubusercontent.com/60cd

[2022-08-30 19:06] janisrogers commented on #13371
@lewischenstudio
This bug description is showing the extension field as disabled (dotted lines). It should never be disabled. The indication for optional is just the word (optional) with the field enabled. Whether the phone field has a value or not, the extension field should always be enabled and optional.

Follow the way it is done in the multi change filing for business contact information (in

[2022-08-30 19:09] janisrogers opened #13478 "phone number and extension consistency"
Need to update extension field to be optional and active (not disabled) in BEN company application and check coop application.

[2022-08-30 19:17] doug-lovett commented on #13420
Dev note:
- Report date and times now do not adjust for the UTC time zone when the source is the legacy database that stores dates and timestamps in the local (Pacific) time zone.
- Document type descriptions now come from a new ppr PostreSQL database mhr_document_types table.
- The DEV DB2 database in GCP is UTC so the report dates and timestamps may be incorrect.

[2022-08-30 19:21] lewischenstudio commented on #13371
@janisrogers The extension field is now disabled and so displays the dotted line. If we enable the extension field, is it okay to use the solid line all the time?

[2022-08-30 19:22] severinbeauvais commented on #13372
I agree with the above validation scenarios.

What happens upon resuming a draft?

[2022-08-30 19:56] tlebedovich commented on #13476
@doug-lovett - if you update the API to be able to handle "101-1234", will the legacy db be able to handle that extra length (ie more the 6 characters)? This ticket may require ux design to resolve as well as because:
-  we don't currently show users the legacy db's max length character errors
-  the ui also includes an "Additional Street address" field which may not work with legacy database.

cu

[2022-08-30 20:01] tlebedovich opened #13479 "UI Design - Civic Address design requirement updates"
### Visual Design Comps:
https://projects.invisionapp.com/share/3N1312IX4GD6#/screens?browse

**Updates include:**
- Remove Additional Street Address
- Rename Street Address field label
- Change Province into a dropdown menu, defaulted to BC
- Include Canada Post Look up
- Show 31 max character validation if user types more than 31 characters into street address field (or selects an address from c

[2022-08-30 20:14] Maribeth-Wilson commented on #12728
Assigning @davemck513 as per @trishreimer

[2022-08-30 20:20] seeker25 commented on #13021
We've updated a bunch of the storybook files, that will require some testing:

[code]

[2022-08-30 20:23] janisrogers commented on #13017
@zac-broitman I have not contacted them yet.

[2022-08-30 20:27] janisrogers commented on #13323
Sorry. Please use the existing one. I have updated the design to match

[2022-08-30 20:31] zac-broitman commented on #13348
We will not be treating this a filing, this will be treated as an immediate change to the entity (similar to a folio change). Treating this as a filing would introduce the concept of "hidden filings" which is a messy idea that will lead to confusion. For historical tracking, staff are able to to leave comments using the existing comments functionality when freezing/unfreezing.

[2022-08-30 20:34] zac-broitman opened #13480 "Backend for Freezing/Unfreezing an Entity"
Reference #13348 for requirements

[2022-08-30 20:36] lewischenstudio commented on #13371
@janisrogers Thanks. Will do.

[2022-08-30 20:39] RFK250 opened #13481 "Manufacturer workflows"

[2022-08-30 20:42] forgeuxGH5 opened #13482 "Enhancement - Improve location address entry for Manufacturer and Park"
Manufacturer and Park names and addresses are largely known (and related) for MHR. Address entry for manufacturer and Park could be automated based on a name look-up similar to business name or party codes.

Example:
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/16a3c745-32dd-4115-9df8-965371cefee7)

[2022-08-30 20:43] forgeuxGH5 commented on #13482
@RFK250 another address enhancement

[2022-08-30 20:44] RFK250 opened #13483 "Staff workflows for transfers"

[2022-08-30 20:49] RFK250 commented on #13482
Thanks @forgeuxGH5 - which workflow do you have this in mind for? Initial registration?

[2022-08-30 20:57] zac-broitman commented on #13017
I have reached to to Haley for these

[2022-08-30 21:03] severinbeauvais commented on #13323
Here are the scenarios I implemented:
1. new affiliation succeds but creating business fails -> "unable to start registration" dialog
2. affiliation exists but can't fetch it -> "unable to start registration" dialog
3. affiliation exists but can't find it in list -> "unable to start registration" dialog
4. affiliation exists but creating business fails -> "unable to start registration" dialog
5. f

[2022-08-30 21:03] severinbeauvais commented on #13323
Here are the scenarios I implemented:
1. new affiliation succeds but creating business fails -> "unable to start registration" dialog
2. affiliation exists but can't fetch it -> "unable to start registration" dialog
3. affiliation exists but can't find it in list -> "unable to start registration" dialog
4. affiliation exists but creating business fails -> "unable to start registration" dialog
5. f

[2022-08-30 21:10] seeker25 commented on #13152
Sweet thank you!

[2022-08-30 21:13] lewischenstudio commented on #13372
@severinbeauvais I updated a validation scenario to cover the case for resuming a draft.

[2022-08-30 21:19] pwei1018 commented on #13187
@lmcclung Currently, the entity BN job includes entity number  ( business identifier) into SBN header as part of 'PartnerNode' field.

![image](https://user-images.githubusercontent.com/44277752/187545277-07fc2199-3064-4307-89ae-93ee856a8dbc.png)

We may use this field to do the search the message.

[2022-08-30 21:46] RFK250 opened #13484 "Qualified suppliers have basic ability to transfer a MH due to death"
## User Story
As a qualified supplier (e.g. a lawyer, notary or real estate agent), I need to be able to submit a Notice of Transfer so that my client's home purchase can be recorded in the registry.

## Description
When a home owner passes away and names a beneficiary, the home needs to be transferred to an executor of an estate. This is currently a separate transaction from the "Transfer due to

[2022-08-30 22:10] severinbeauvais commented on #13323
This is now merged and deployed to Dev and I have verified it there.

@ozamani9gh Please add this ticket to the next NR UI release. Thanks!

[2022-08-30 22:12] severinbeauvais commented on #13382
@lambert-alex When you start work on this ticket, please move it to In Progress and update the Sprint and Releases.

[2022-08-30 22:13] severinbeauvais commented on #9868
@Mihai-QuickSilverDev Do you agree with Sienna above that we should close this ticket?

[2022-08-30 22:15] severinbeauvais commented on #13170
@jdyck-fw @davemck513 FYI, I've brought this into the current sprint as I need something else to work on.

[2022-08-30 22:30] severinbeauvais commented on #13156
**Implementation Notes**

Namerequest UI, Edit UI and Filings UI previously used sbc-common-components v2.4.54. The only code changes to v3.01 is some styling. Therefore this is a safe upgrade.

[2022-08-30 22:33] tlebedovich commented on #11241
@janisrogers - The design link has been updated with our chosen option. We will need the final list of errors and the copy that should appear in the expanded sections.

Let me know if/when this gets approved to move forward and I will add the design specs.

[2022-08-30 23:01] chdivyareddy commented on #13363
Verified with Postman!

LastName: Williamson
[code]

[2022-08-31 06:54] davemck513 commented on #13079
@Mihai-QuickSilverDev are you able to confirm the functionality as per @severinbeauvais question?  Let me know if you need to discuss w/ me or need a decision.

[2022-08-31 06:58] Mihai-QuickSilverDev commented on #13079
@davemck513 @severinbeauvais This is on the agenda and will be confirmed with the business in the 10 am meeting on Wednesday.

[2022-08-31 15:06] severinbeauvais commented on #6508
@jdyck-fw @Mihai-QuickSilverDev Since all child tickets are closed, can we close this epic as well?

[2022-08-31 15:12] davemck513 commented on #12728
Adding @sarahelz19 , she's my lead BA for OCM work.

[2022-08-31 15:14] jdyck-fw commented on #6508
It seems safe to close this now with the sub-tasks completed, and I'm going to do so. Please chime in if you see otherwise, @davemck513

[2022-08-31 15:14] #6508 closed

[2022-08-31 15:44] seeker25 opened #13485 "BUSINESS-EDIT-UI - Fixes from upgrading bcrs-shared-components"
BUSINESS-EDIT-UI - Fixes from upgrading bcrs-shared-components

From Severin:

Staff Payment styling here was broken, likely by your change yesterday. I think it should be in a v-card with a white background (make it like the other numbered sections). I recommend a new ticket to fix this (and there may be other things to fix; this is just one thing I happened to notice) and it would be fairly high

[2022-08-31 15:47] forgeuxGH5 opened #13486 "Enhancement - Include a location description in the location address sections of MHR"
The Transportation Application (paper form 26 MHR) indicates that "If an area does not have street numbers or names, provide a description that would readily allow a person to locate you, e.g., a distance and direction from an intersection."

These are similar instruction to mailing and delivery addresses. This description is added to a field labelled "Delivery Instructions".

This free form infor

[2022-08-31 15:47] forgeuxGH5 commented on #13486
@RFK250

[2022-08-31 15:47] severinbeauvais opened #13487 "Auth Web: business registry list should expand to window height"
The list of NRs/businesses on the My Business Registry page should expand to the window height. In other words, the bottom of the list panel should "stick" to the bottom of the page, while leaving the footer visible.

In this screenshot, you can see that the list is a fixed height, leaving some dead space below it. Since it's a large list, I need to scroll through it anyway, but it would be great

[2022-08-31 15:49] gprimeau commented on #12338
@sarahelz19  @davemck513 here is what I have
[DRAFT_FORM 02COR_Correction for GP_SP_ Registration.pdf](https://github.com/bcgov/entity/files/9462972/DRAFT_FORM.02COR_Correction.for.GP_SP_.Registration.pdf)

[2022-08-31 15:51] severinbeauvais commented on #13485
@jdyck-fw I think we should bring this into a sprint as soon as possible since I believe this bug made it to Test yesterday and it would be nice if this didn't go to Prod as well. I _think_ it's a styling bug only but I advise a closer look. (As per description, there may be more affected components.)

[2022-08-31 15:56] janisrogers commented on #13372
looks good. ready for QA

[2022-08-31 16:08] severinbeauvais commented on #12989
I don't see Pre-Existing Conditions on the BEN IA correction page.

I had a quick look at the code and I don't see that BEN IA corrections include the Articles or Company Provisions components.

To compare with an alteration (which does support Company Provisions), a business with company provisions is required (so that pre-existing company provisions can be resolved).

NB: I don't see any way to

[2022-08-31 16:11] severinbeauvais commented on #13372
@riyazuddinsyed Please test dissolution filings for different entity types, since some code related to that was changed. Thx.

[2022-08-31 16:15] severinbeauvais commented on #13485
Here's another one. Sample link (logged in with IDIR): https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/edit/BC0871070/alteration/?alteration-id=133595&accountid=668

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/acb84fa5-65e2-4333-a1f2-810564a5e7a9)

[2022-08-31 16:18] severinbeauvais commented on #13485
Same as above in a change filing. Sample link (logged in with IDIR): https://business-create-dev.apps.silver.devops.gov.bc.ca/businesses/edit/FM1011233/change/?change-id=133596&accountid=2288

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/f09973ee-332a-4eaf-b021-46d9fbec795d)

[2022-08-31 16:26] lmallika86 opened #13488 "Legal API changes - Continue In filing"
- [ ] Add new filing type in the filings model
- [ ] Update fee code
- [ ] Add validations
- [ ] Update filing display name (what needs to be displayed in the ledger)

[2022-08-31 16:31] seeker25 commented on #13485
Court Order should be fixed now.

[2022-08-31 16:36] severinbeauvais commented on #12989
Per @argush3 , `hasRestrictions` may be set when a BEN is pulled over from COLIN. It doesn't appear that LEAR sets this flag.

[2022-08-31 16:45] #13446 closed

[2022-08-31 16:46] #13094 closed

[2022-08-31 16:47] #13190 closed

[2022-08-31 16:50] #13464 closed

[2022-08-31 16:50] severinbeauvais commented on #13323
@janisrogers I was able to test this yesterday when the API was producing errors. However, there are currently no technical problems so the "unable to start registration" dialog won't show.

You _could_ disable your network connection before clicking "Register This Business" button, but that won't be a usual user error scenario.

[2022-08-31 16:53] RFK250 opened #13489 "UI Design - Transfer a manufactured home (Qualified Supplier)"
## Visual Design Comps:

1. ### **MHR Table design - Initiate a Transfer from dashboard and See Completed Transfer in Table:**
https://projects.invisionapp.com/share/AR13102RSM4P#/screens?browse

Includes:
- Actions column with open button to initiate transfer
- showing user feedback when a transfer is added to the table

2. ### **Transfer a home to a new sole owner (simple happy path):**

https:/

[2022-08-31 16:57] severinbeauvais commented on #13323
Whoops, I just tried this and this is an error case that isn't currently handled. I'll create a new ticket for this (to keep it separate from THIS change).

I guess the "unable to start registration" dialog cannot be tested under normal situtations.

[2022-08-31 16:58] RFK250 opened #13490 "UI Design - Determine user flow for basic transfer"
## Notes
Fields that aren't common to the registration process include:
- MH Registration Number
- "Where the seller is a corporation/organization, did the entity exist at the date the transfer was executed?" Yes / No
- Date of Execution of the Bill of Sale

[2022-08-31 16:58] RFK250 opened #13491 "Determine field and messaging matrix"

[2022-08-31 16:59] RFK250 opened #13492 "UI Design - Initiate a Transfer from Qualified User Dashboard"
See UI Design Ticket: https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/13489

[2022-08-31 17:01] RFK250 opened #13493 "UI Design - For transfer process"
See Epic Design Ticket - https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/13489

[2022-08-31 17:02] severinbeauvais opened #13494 "Namerequest UI: missing error handling"
If the user is off-line when they click the "Register Your Business" button, no error is displayed. The "unable to start registration" dialog should be displayed.

The dev console shows the scenario that isn't being correctly handled:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/55948098-2478-4ffa-8676-51e7dbab4aa8)

### Steps to reproduce:

**NEW: do this while logg

[2022-08-31 17:14] RFK250 commented on #13489
@forgeuxGH5 @tlebedovich

[2022-08-31 17:14] RFK250 opened #13495 "UI Design - for add a new owner"
See Epic Design Ticket: https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/13489

[2022-08-31 17:16] severinbeauvais commented on #1626
The subject UI is now called Business Filings UI.

This issue probably applies to Business Create UI, Business Edit UI and Namerequest UI.

[2022-08-31 17:17] severinbeauvais commented on #1828
The subject UI is now called Business Filings UI.

This issue probably applies to Business Create UI, Business Edit UI and Namerequest UI.

[2022-08-31 17:21] sarahelz19 opened #13496 "OCM - Service Now - MAXIMUS Retirement - August 31st"
Service Now licenses used by MAXIMUS will be retired on August 31st - New process for raising tickets must be developed
(Separated this item from ticket 13165 - due to different go live date)
- [x] Understanding current state
- [x] Confirm volumes of Service now tickets
- [x] Analyze the Service Now tickets to understand Categories of calls
- [x] Develop Process with MAXIMUS and gain agreement
- [

[2022-08-31 17:24] severinbeauvais commented on #13079
This implementation overlaps with #12989 (which also implements a missing section in the Articles panel).

Screenshot from a BEN alteration:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/ef5f835e-596f-48f7-84a8-35ba8499754d)

[2022-08-31 17:24] sarahelz19 commented on #13496
July Meeting notes with MAXIMUS
 - Service Now retirement will be at the end of August - Escalation process for Service Now tickets will be implemented at that time
 - The escalations are low volume - but BC Registries will require some planning in advance of implementation to ensure staff readiness is readily

[2022-08-31 17:25] severinbeauvais commented on #12989
NB; This implementation overlaps with #13079 (which also implements a missing section in the Articles panel).

See screenshot above.

[2022-08-31 17:27] sarahelz19 commented on #13496
https://docs.google.com/presentation/d/1uprP3LtlK4pK3zCndL9EdqB_5k2FcYxn/edit#slide=id.p1
Link to final documents - reviewed and approved by MAXIMUS, BC Registries, Lab Ops, IT OPS

[2022-08-31 17:32] sarahelz19 commented on #13496
Confirmation:
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/19aef2c1-8c1a-4def-83dd-4f5406f3cd4c)

[2022-08-31 17:38] #13140 closed

[2022-08-31 17:38] sarahelz19 commented on #13496
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/f38f053e-0c42-4988-896b-08a994c496ff)
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/e52eb50d-407e-48bb-807f-5ec8a80416fe)

[2022-08-31 19:18] magszymanski opened #13497 "OCM - Launch Search Pilot with Search Unit | Due: Sept 1"
Business Search Staff Pilot with the BC Registry Search Unit to get staff used to the new application and report any issues.
- Claudine Lo
- David Lessard
- Kayla Wallace

Details:
- Pilot (PROD) will be ready for September 1 for staff to use when helping clients with BCOMP and COOP searches. Pilot will run until go-live (Oct 21 being the last day).
- Staff will have access using IDIR credentials

[2022-08-31 19:56] janisrogers commented on #13323
I looked at scenario 3. It looks good, but not sure how to test the other scenarios. Passing on to QA

[2022-08-31 20:00] janisrogers commented on #13371
The phone field also needs the (Optional) added. Like in the designs:
![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/8e57abed-36c6-423a-82ee-57400d91f6a0)

[2022-08-31 20:13] JohnamLane commented on #13091
@lekshmimallika-aot

CSO DEV: https://dev.justice.gov.bc.ca/cso/index.do
CSO TEST: https://test.justice.gov.bc.ca/cso/index.do

"More info" and production link
https://justice.gov.bc.ca/cso/index.do

[2022-08-31 20:19] Mihai-QuickSilverDev commented on #13079
@severinbeauvais @lewischenstudio @davemck513 @lekshmimallika-aot
Business has confirmed the following:
- [ ] Yes, let's bring the Articles section into the BEN IA correction
- [ ] If a related date is corrected, it cannot be in the future in relation to the original filing date
- [ ] A new Notice of Articles, NOA, will have to be generated.

[2022-08-31 20:21] Mihai-QuickSilverDev commented on #12989
@severinbeauvais @lewischenstudio @davemck513 @lekshmimallika-aot
Business has confirmed the following:
- [ ] Yes, let's bring the Articles section into the BEN IA correction
- [ ] If a related date is corrected, it cannot be in the future in relation to the original filing date
- [ ] A new Notice of Articles, NOA, will have to be generated.

[2022-08-31 20:23] Mihai-QuickSilverDev commented on #12989
@severinbeauvais Regarding the Pre-existing company provisions, I am going to check right now the initial requirements, to see what they prescribe regarding this field.

[2022-08-31 20:25] severinbeauvais commented on #13079
A new NOA is generated for a correction filing already.

[2022-08-31 20:27] severinbeauvais commented on #12989
A new NOA is generated for a correction filing already.

[2022-08-31 20:45] JohnamLane commented on #13153
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/search-team-space-623397c083af5e0011da2662/issues/bcgov/entity/13153?planning-poker) with ZenHub @kialj876 @lekshmimallika-aot @thorwolpert

[2022-08-31 20:48] JohnamLane opened #13498 "Business Summary changes related to Continuation In"

[2022-08-31 20:48] seeker25 commented on #13433
I believe this is done? I managed to file with rules and memorandum after some struggles

[2022-08-31 20:51] JohnamLane commented on #7213
Question - When a Continued In company is altered into a Ben (for example), does it get issued a new corp_num?

[2022-08-31 20:52] daniwilliamson commented on #12937
@magszymanski, municipalities list is uploaded on Google Drive.

- List captures the 80+ municipalities that currently receive OneStop registration notifications.
- Column D can be filtered, '1' indicates the munis that receive the notifications, '0' for no notification.
- I have added (in red) email addresses for the munis that are not receiving OneStop email notifications. These red email addres

[2022-08-31 20:59] JohnamLane commented on #7213
@jennyschan @janisrogers Let's work on the requirements for this Epic so it can be groomed next session.

[2022-08-31 21:13] trishreimer opened #13499 "Update Resources Page to include Maximus number for account setup and login support"
Update resources page to include phone number for login/account set up support.

Just below "call the help desk"

add text, in the same font, same button, etc

For login/account setup support, call: 1-877-370-1033

![image](https://user-images.githubusercontent.com/42844477/187785547-9a94c79d-47b0-4d65-8e38-69561fcbe175.png)

[2022-08-31 21:18] trishreimer commented on #13499
I'm hoping we can get this completed before Monday.

[2022-08-31 21:18] trishreimer commented on #13499
We have a go live comms scheduled to go out Tuesday.

[2022-08-31 21:23] gprimeau commented on #13499
@trishreimer here is what I did
https://www2.qa.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization-updates/modernization-resources

[2022-08-31 21:58] doug-lovett commented on #13122
@tlebedovich I think all issues have been addressed except for:
1. Header top margin: unable so far to decrease.
2. Watermark background image cropped on the last page. Now the footer is separate from the body: the report ends when the content ends, which can be on the middle of the page. As a workaround for now there is a page break at the end of the report. Now the content final page shows the e

[2022-08-31 22:25] fareenr commented on #12718
31-Aug - email sent from GCNotify to all BCOL Admins and Coords for site transactions in last yr (until 27Jul2022)

[2022-08-31 22:28] RFK250 commented on #13009
THE DRAGON IS SLAIN!!!

Well, this dragon is at least. Great work @dimak1 @tlebedovich and @chdivyareddy !!! It's amazing to see this one in the Done column!!! :D

[2022-08-31 22:28] #13009 closed

[2022-08-31 22:29] RFK250 commented on #13171
Thanks @ChasBoucher @tlebedovich @chdivyareddy !

[2022-08-31 22:29] #13171 closed

[2022-08-31 22:48] Mihai-QuickSilverDev commented on #12252
@pwei1018 @fareenr Hi Patrick, could you kindly run the report (sql) associated with this ticket, and email me and Fareen the results? The sql should be stored in the DEV area as per the above notes in this ticket. Thank you!

[2022-08-31 23:21] chdivyareddy commented on #13420
@doug-lovett , From the above-listed Registration numbers with document types, few of the document types were missing:
For eg: **005436 CAU** : Document name - CAUTION - Unit notes is missing for this registration

[https://app.zenhub.com/files/157936592/0b0ebb25-5b67-4174-bc0b-173973fb9664/download](https://app.zenhub.com/files/157936592/0b0ebb25-5b67-4174-bc0b-173973fb9664/download)

**084292 CA

[2022-08-31 23:43] dimak1 commented on #13009
This is great! But only Part 1 of 4 😈 @RFK250
Thanks @tlebedovich and @chdivyareddy !

[2022-09-01 00:41] seeker25 commented on #13433
There's still some changes to go for this, `legalName` is being validated under `nameRequest` instead of in it (old legacy way)

[2022-09-01 00:43] doug-lovett commented on #13420
Try these in TEST: I was not filtering on active notes with the previous query:
040643	101
005905	103
100371	102
068968	103E
048814	CAU
048814	CAUC
007116	CAUE
002168	EXRS
058569	EXNR
025239	NCON
005832	NPUB

[2022-09-01 06:05] Mihai-QuickSilverDev opened #13500 "Business Search data results need to be corrected"

[2022-09-01 15:54] chdivyareddy commented on #13420
Thanks @doug-lovett !!

Verified in TEST!
**058569: NON-RESIDENTIAL EXEMPTION**

[https://app.zenhub.com/files/157936592/fde6b84d-2d88-46c3-85e4-64fb5b51b32f/download](https://app.zenhub.com/files/157936592/fde6b84d-2d88-46c3-85e4-64fb5b51b32f/download)

**025239 NCON: CONFIDENTIAL NOTE**
[https://app.zenhub.com/files/157936592/6b78cae5-787c-4797-a4b5-21a0bbc7a009/download](https://app.zenhub.com/

[2022-09-01 15:56] JohnamLane opened #13501 "Invitation emails - add warning about which browsers are supported"
Note from Trish:
I heard from staff (via Megan Fedora) that they are getting a lot of calls where the citizen is using the wrong browser type (ie. Internet explorer). They suggested that when the administrator sends out the account invitation email that the email itself include wording that the user must use something other than IE.

This is the message we would like to add to the email:
**Note:**

[2022-09-01 15:56] chdivyareddy commented on #13420
@doug-lovett , I see a status code 500 when I tried to search '089036' REGC, Can you please take a look at it, thanks!!

[code]

[2022-09-01 15:59] ritvick commented on #13459
@seeker25 I just confirmed we can use
lastModified from business api for the last filing date time
CC: @PCC199

[2022-09-01 16:28] lekshmimallika-aot opened #13502 "Correction Schema Updates for BEN IA"
- There is already a Correction schema for firms.
- [ ] Update the BN Correction schema.

[2022-09-01 16:29] lekshmimallika-aot opened #13503 "Legal API - Update validator based on new structure for BEN IA correction"

[2022-09-01 16:29] lekshmimallika-aot opened #13504 "Report updates"

[2022-09-01 16:30] lekshmimallika-aot opened #13505 "TBD - How to handle the already existing corrections in PROD?"

[2022-09-01 16:31] lmallika86 opened #13506 "Clean up the diff section - correction"
This needs to happen last, as we move the existing corrections to the new correction framework.

  - Remove generating diff for correction in filing_json

[2022-09-01 16:51] ChasBoucher commented on #12963
Additional Grooming required based on bug discovered by Gary.  Unable to save.  see. [https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/1]

Discovered that DB2 Database provides for only 6 digits for street number and the following fields.

Street Number 6 characters,
Street Name 25 characters,
City 20 charcters,
Province 2 characters

[2022-09-01 17:00] ChasBoucher opened #13507 "Fix Address UX Issues for Location Civic address Validation Errors"
As an MHR user
When I enter Civic Address and Move to the Review and Confirm Page
Then I expect no validation errors

Text from  [https://github.com/bcgov/entity/issues/12963]
[]If one or more of the address fields are filled in, do not show (Not entered), just show any of address info that is filled in and then the red bar/step not completed link will take user back to the step and they'll see wh

[2022-09-01 17:11] lekshmimallika-aot commented on #12366
@janisrogers  Is this ready for development?

[2022-09-01 17:12] Mihai-QuickSilverDev opened #13508 "Regression Testing - Business Summary not showing directors data for CP and BEN"
- [ ] Check Business Summary  for CP and BEN

[2022-09-01 17:14] argush3 opened #13509 "Legal api - add start date support for conversion filing and warnings check"
**TODOs**

- [x] update validator
- [x] update filer
- [x] update warnings check to include start date check

[2022-09-01 17:16] argush3 opened #13510 "Edit UI - add Business Start Date to SP/GP conversion filing"
The Business Start Date component was implemented for SP/GP correction filings.

This ticket is to use that component for SP/GP conversion filings.

- [x] use the new component instead of the display-only code
- [x] update draft build/parse
- [x] verify validation rules (see #13382)
- [x] implement unit tests

See also #12571.

[2022-09-01 17:35] Mihai-QuickSilverDev commented on #13500
@zac-broitman Hi Zac, is this something that your team would be able to work on, as they developed this functionality?

[2022-09-01 17:40] zac-broitman commented on #13500
@Mihai-QuickSilverDev I think the wording change around the act should be simple enough. I'm not clear what needs to be changed for the filing name though.

[2022-09-01 17:57] sarahelz19 commented on #13496
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/06aca36c-f6f2-4b1a-8fa4-ce7d964c19b5)

[2022-09-01 17:58] sarahelz19 commented on #13496
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/1f2189b9-59f2-4a6e-bd01-77563ce86bfe)

[2022-09-01 17:58] #13496 closed

[2022-09-01 17:58] tlebedovich commented on #12963
@ChasBoucher This seems like its the same issue as a ticket Doug created (which needs a design update as well) - dev ticket #13476

[2022-09-01 18:18] chdivyareddy commented on #13420
@doug-lovett Do you think this is gonna impact the release?

The remaining registration numbers are working fine except the '089036'.

If you think we are okay, then we can go ahead, Please let me know:)

[2022-09-01 18:19] JohnamLane commented on #13017
@lekshmimallika-aot @zac-broitman
Dev: https://esra-dlvr-frontend.apps.silver.devops.gov.bc.ca/

Test: https://esra-test-frontend.apps.silver.devops.gov.bc.ca/

Prod: https://esra-prd-frontend.apps.silver.devops.gov.bc.ca/

Please re-use the prod link as the "learn more" link

[2022-09-01 18:19] chdivyareddy commented on #13420
@doug-lovett , just saw your comment above ^^, thanks:)

[2022-09-01 18:21] seeker25 commented on #13017
arg.. silver url for prod..

[2022-09-01 18:35] zac-broitman commented on #13412
This is also in Special Resolution, I need to confirm with the business but I suspect the goal of this ticket should be a global change so that if the user is Staff (Registries or SBC) then they can edit the Completing Party info.

[2022-09-01 18:48] chdivyareddy opened #13511 "Verify - MHR Registrations with no Reference Document IDs"
- Performing an MHR search with 089036 results in an error with status code: 500

[code]

From Doug's investigation:

I think this is a data quality issue with some of Bob's test data. This registration has 2 notes records that reference document ID's that do not exist - so there is no timestamp for these 2 notes. There are 7 registrations in TEST in this state. I have added a fix to handle this c

[2022-09-01 18:59] argush3 commented on #13168
Ready for verification.  Following SP/GPs have been data loaded into DEV.  Note that these registration filings were previously marked as paper only.  The statement of registration should be downloadable now via the ledger.

FM0367712, FM0474350, FM0554151

[2022-09-01 19:03] RFK250 commented on #13420
Great! Thanks @doug-lovett and @chdivyareddy ! :)

[2022-09-01 19:03] #13420 closed

[2022-09-01 19:07] ozamani9gh commented on #13424
Thanks @jdyck-fw
@pwei1018 how do i reach out to all the other TEAM Leads to check their Tab before i start this work

[2022-09-01 19:14] #13156 closed

[2022-09-01 19:15] pwei1018 commented on #13424
@jinghualicgi did that last time to send out an email to the team's PO/Scrum master

[2022-09-01 19:15] #13372 closed

[2022-09-01 19:16] #13346 closed

[2022-09-01 19:17] #13162 closed

[2022-09-01 19:17] #13312 closed

[2022-09-01 19:17] #12875 closed

[2022-09-01 19:18] #12946 closed

[2022-09-01 19:18] #13013 closed

[2022-09-01 19:28] fareenr commented on #12725
1-Sept - mod news update posted with Sept 28 availability date for Site Registry launch

[2022-09-01 19:29] fareenr commented on #13356
31-Aug - confirmed with Anne-Marie that they have access to CSO test env and provided userID/pw and links

[2022-09-01 19:31] fareenr commented on #12150
1-Sept - submitted request to IT Ops to update BCOL landing page.

Next week - submit request for BC Online mainframe announcement once timing of Courts deployment is confirmed

[2022-09-01 19:31] jdyck-fw commented on #13424
It may even be worth creating sub-tasks from this (after upgrading it to a Story) to track when/if these individual team checks are completed @ozamani9gh

An idea to consider at any rate.

[2022-09-01 19:46] RFK250 commented on #12963
This one? Or the one you just created?

[2022-09-01 19:53] JohnamLane opened #13512 "BCOL partner monthly reports"
BCOL partner agencies receive certain reports monthly. They total the amount spent on their product and give a list of active accounts/users that are using their product.

BCA is going live soon and they are awaiting the new version of these reports.

Assumptions:
- [ ] this ticket will be to produce a sample CSV of each report
- [ ] this ticket does not include any scheduling/emailing

The two ma

[2022-09-01 19:54] tlebedovich commented on #11241
@Mihai-QuickSilverDev - Hi Mihai - please see my questions for you above

[2022-09-01 20:20] severinbeauvais commented on #2348
@Mihai-QuickSilverDev @davemck513 @lmcclung @jdyck-fw

Let's call this "Corrections 3.0", so that we can call [moving local corrections to Edit UI, "Corrections 2.0"](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/issues/bcgov/entity/12873).

[2022-09-01 20:21] tlebedovich commented on #12366
@JohnamLane @zac-broitman @Mihai-QuickSilverDev @lekshmimallika-aot - Design is ready to start development.

- awaiting final copy from staff for liquidation
- awaiting feedback from Mihai on what actions/downloads should be deactivated/unavailable based on the alerts (see question in design ticket Mihai), but this may not be required until entities add this to their app.

[2022-09-01 20:23] tlebedovich commented on #11241
@janisrogers - we are missing the alert copy for:

- liquidation
- receivership
- not in compliance

[2022-09-01 20:33] jdyck-fw commented on #2348
Sounds reasonable to me.

[2022-09-01 20:46] ChasBoucher commented on #12963
This one...

[2022-09-01 20:52] RFK250 commented on #12963
@ChasBoucher @tlebedovich Please help me understand here... Is this correct:
- The UI work that Charles has completed in this ticket, PLUS
- #13476 PLUS
- #13479
will equal the goal that Charles set to achieve with this ticket (i.e. UI + civic address lookup feature via API)?

[2022-09-01 22:18] tlebedovich commented on #13122
@doug-lovett - happy to walk through on a quick call. just a few more items;

- [ ] let's reduce header logo size by another 5% (which should reduce spacing a bit more too
- [ ] tombstone on search start pages in sitting higher than on table of contents page (move it down a bit so its in the same spot)
- [ ] leave minimum of 20px space under header logo's yellow line before page content begins
---

[2022-09-01 22:44] tlebedovich commented on #13215
UXA comments:

@ChasBoucher @cameron-freshworks I could not complete the filing because I was block by the Civic Address saying the step was incomplete even when I input the address as suggested above - can you help?

In progress UXA (cannot complete until this Civic Address is accepted)

- [ ] When going to Review and Confirm screen from another step, and there is an unfinished step, do not autos

[2022-09-01 22:57] tlebedovich commented on #12966
@cameron-freshworks
- if PID is valid we had planned to pull in the legal description string from LTSA (which is the user feedback letting them know its valid I suppose) - should we do this in a separate follow up ticket (since there is still some questions around it).

UXA (assuming legal description will come in follow up ticket):

- [ ] typo in error modal - missing space between "for" "assista

[2022-09-01 23:18] RFK250 commented on #12966
@tlebedovich @cameron-freshworks Legal description is in another ticket, this one is strictly about validating a PID by the existence of that PID in LTSA. If the user feedback (i.e. the second "AND" in the AC) is a blocker, let's scope it out of this ticket and into #13119. They'll still get user feedback for invalid entries.

[2022-09-01 23:38] doug-lovett commented on #13122
In acrobat reader separator lines looks identical: same style.

![Screen Shot 2022-09-01 at 4.37.18 PM.png](https://images.zenhubusercontent.com/5e433f96990532730acff67f/52cd8696-bdda-4f63-96d5-dbc0f7b847fd)

[2022-09-02 00:39] garyfan1 commented on #13215
https://github.com/bcgov/ppr/blob/4c46119609b44f30891236d9b04e8dd3e10f443c/ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue#L174
I thought this line should waive all validations?

[2022-09-02 15:41] seeker25 commented on #13459
I don't see any rules or memorandum on the business call:

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/9a53a68d-31f5-4da7-9f04-6291140a4f22)

![image.png](![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/3d9ef722-25e7-4c14-90ed-f3d60657cce9)https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/b2cac0d1-72ec-4f5d-a3f6-2eeec7fc15f8)

[2022-09-02 15:43] seeker25 opened #13513 "BUSINESS-EDIT-UI - Special Resolution - Completing Party"
![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/337eaa1e-a2af-43a8-bbd9-e5f2913ab16e)

[2022-09-02 15:45] seeker25 opened #13514 "BUSINESS-FILING-UI - Special Resolution - Correction"
Marking this both as Entity / Relationships, not sure who will do this?

From Mihai:

Hi Travis, yes, as per the business feedback, we should allow a correction of a special resolution, as a Staff Filing only - upload a different special resolution document and/or correct the dates as needed. I hope this answers your questions?

[2022-09-02 15:48] seeker25 commented on #13514
@zac-broitman which team should be completing this?

[2022-09-02 15:48] seeker25 commented on #13513
@zac-broitman I think we need to groom this one "new component"

[2022-09-02 16:04] argush3 opened #13515 "SP/GP pipeline - error loading event/file type FILE_FRCHG"
FM0439147 is a firm that fails to load for event/filing type FILE_FRCHG.  It fails in the transform step of the pipeline.

[2022-09-02 16:21] tlebedovich commented on #13114
to note @dimak1 - the overall validation ticket has already gone through without this component so this ticket will probably need to include the "this step is not completed" validation.

[2022-09-02 16:41] #13061 closed

[2022-09-02 17:15] RFK250 opened #13516 "Ability to view the components of the dashboard appropriate to my role"

[2022-09-02 17:21] chdivyareddy commented on #13222
Verified with MHR Number search: 004998

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/341f77e6-8149-4048-ae67-87ffb2606a15)

[2022-09-02 17:34] seeker25 commented on #13459
The fixes for the following:
1. Use the lastModified field from the business in place of the last filed date
2. Use the deliveryAddress in the UI as the mailing address, which makes sense for co-ops
3. Use the documents endpoint to get the current Rules and Memorandum (similar to entity state or business call vs filing)

[2022-09-02 17:36] RFK250 opened #13517 "API - Generate the registration report"

[2022-09-02 17:38] #13517 closed

[2022-09-02 17:48] RFK250 commented on #13517
Duplicate

[2022-09-02 17:53] RFK250 opened #13518 "API - Retrieve the stored PDF and display"
## Description
When a user clicks on the "PDF" icon in the dashboard, the PDF associated with the registration in the row should be displayed to them on screen

[2022-09-02 18:29] #13409 closed

[2022-09-02 18:29] RFK250 commented on #13409
Thanks Dima!

[2022-09-02 18:43] tlebedovich opened #13519 "Update Manufacturer's Name to required field"
Problem:
It was brought up that Manufacturer's Name in Step 1 of Staff Registration is a required field in the legacy DB. Currently the field is set to Optional with no "required" validations.

Currently staff are asked to enter a name or type "Unknown" if the name is unknown.

Solution:
- remove the word "(Optional)" from the field
- validate as a required field - triggered by user going to revie

[2022-09-02 18:43] tlebedovich commented on #13519
@forgeuxGH5 - can you review the suggested required field error message wording above and edit accordingly

[2022-09-02 18:50] tlebedovich opened #13520 "UI Design - Add instructional text for Fractional Ownership Common Denominator"
### Visual Design Comps:
https://invis.io/ZV130L5SEKJ5#/469596819_Updated_Fractional_Text

-----------

Design Notes:
Current UI allows users to add mis-matched common denominators which can create very long/obscure fractions and fractions that the user may not want.

For interm, we can continue to allow users to add any denominator but add instructional text guiding them to use common denominator

[2022-09-02 18:52] tlebedovich commented on #13303
@lmcclung - I think we can close this ticket since products are launching very soon so don't really have the need for coming soon state anymore?

[2022-09-02 18:53] RFK250 opened #13521 "UI - Groups - Update instructional/hint text for Fractional Ownership Common Denominator"
## Task
- [x] Update Fractional Ownership intro text for Registration and Transfer text per design ticket #14203  (adding the new "Note:" section text)

[2022-09-02 19:01] RFK250 opened #13522 "Push declared value to BC Assessment"

[2022-09-02 19:31] tlebedovich commented on #13122
@doug-lovett - everything else looks good - i have posed the cut off/blank page question to scott. to be ready for demo tuesday, should we move this ticket along and create a follow up bug ticket to deal with this last issue separately?

[2022-09-02 19:39] tlebedovich opened #13523 "Bug - watermark gets cut off on last page where content ends or shows blank page"
Follow up to ticket: https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13421

**Problem:**
- new output system cuts off the watermark on the last page where the content ends
- the fix to stop the watermark from cutting off adds an extra blank page at the end of the report

**Solution:**
- either find another solution, or decide which option above is t

[2022-09-02 19:40] tlebedovich commented on #13122
@doug-lovett @chdivyareddy - i created this bug ticket - https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13523

[2022-09-02 20:08] doug-lovett commented on #13122
@tlebedovich Thanks Tracy, moving back to staging as the code change has not yet deployed. I will leave the trailing blank page for now.

[2022-09-02 20:23] Mihai-QuickSilverDev opened #13524 "Expiry Date shows incorrect for client output from Name Request application"

[2022-09-02 20:46] tlebedovich commented on #12966
@ChasBoucher @dimak1 - can someone take this ticket to fix the small typo above and then we can move it to RFQA? We can make a follow up ticket to update contact info if it needs updating later c/c @RFK250 @PatrickAHeath

[2022-09-02 20:47] dimak1 commented on #12966
@tlebedovich let me update it now

[2022-09-02 20:50] tlebedovich commented on #13362
@ChasBoucher

UXA-  if first name is now Optional, we should probably include the "(Optional)" text in the First Name box to be consistent

[2022-09-02 20:53] dimak1 commented on #12966
Updated, any other updates before I commit the change? @PatrickAHeath @RFK250

[2022-09-02 20:59] RFK250 commented on #13362
I'm confused - I thought we were sticking with @ChasBoucher original work to show just the "last name" field when a staff user selects a "Owner Last Name" option - did that get backtracked on?

![image](https://user-images.githubusercontent.com/86069412/188234449-7cd9a345-003c-4190-b014-5e53d5fad0de.png)

[2022-09-02 21:03] RFK250 commented on #12966
@dimak1 Not from me. I'm still not sure where that phone number is from, but I don't think we'll get an answer on that today and I don't want it to hold things up.

[2022-09-02 21:14] dimak1 commented on #12966
@RFK250 thanks. The update is in and should be available in Dev shorty. Moving task back to UXA.

[2022-09-02 21:37] tlebedovich commented on #12451
@dimak1 - nice! tenancy type and fractional interest logic seems to be working well. Just minor design fixes to map to design comps:

- [ ] Green check box in stepper should only appear once all requirements are met (and turns off if they are no longer met):

![Screen Shot 2022-09-02 at 2.11.32 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/e21599f8-fc6a-4a59-945e-bbc54b5d29

[2022-09-02 21:41] tlebedovich commented on #13362
@RFK250 - just showing the last name was incorrect. The change was to just make first name optional as well so user could search by just inputting a last name.

[2022-09-02 21:51] tlebedovich commented on #13507
@ChasBoucher - moving the leftover feedback from #12963 here for you:

- [ ] "BC" should appear on the review and confirm screen when a street address and/or city has been entered:
![Screen Shot 2022-09-02 at 12.55.40 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/493ae4f0-0e7c-455d-86dd-da0a27352716)

- [ ] If one or more of the address fields are filled in, do not show (No

[2022-09-02 21:53] tlebedovich commented on #12963
@chdivyareddy - the open items from Scott above have been moved to #13507 with Charles. moving this the RFQA might could probably also just be closed and you could wait for #13507

[2022-09-02 21:57] tlebedovich commented on #12966
BOOM. Thanks Dima. moving to RFQA with contact info as is for now...

[2022-09-02 22:08] RFK250 commented on #13362
Okay, thanks @tlebedovich . :)

[2022-09-02 22:22] chdivyareddy commented on #13214
@doug-lovett , For the MH Organization search, I do not see page numbers with URL in DEV that used to show earlier, can you please take a look, thanks!!

Organization Name: CRYSTAL RIVER COURT LTD.

[https://app.zenhub.com/files/157936592/28e82d24-6141-4482-82d4-3ed9b812481d/download](https://app.zenhub.com/files/157936592/28e82d24-6141-4482-82d4-3ed9b812481d/download)

[2022-09-02 22:35] tlebedovich commented on #13326
@forgeuxGH5 @chdivyareddy - this seems good to me based on wireframes and matrix, moving to RFQA. only thing I found odd was in all of my searches I never saw an "Historical" registration listed - @chdivyareddy can you confirm they are still appearing?

[2022-09-02 22:40] tlebedovich commented on #13301
@forgeuxGH5 @RFK250 - dev work just went through so i think this ticket is complete with the exception of updating outputs - where was the new ticket for this so I can reference it here before we close this?

[2022-09-02 22:44] RFK250 commented on #13239
Thanks team!

[2022-09-02 22:44] #13239 closed

[2022-09-02 22:45] #13237 closed

[2022-09-02 22:46] chdivyareddy commented on #13326
@tlebedovich Here's the example of Organization Name 'COMMONWEALTH HOMES LTD.' with Historical registration listed. Please take a look:)

[2022-09-02 22:50] tlebedovich commented on #13326
I am only seeing historical for the owner/org status, not any for registration status?

[2022-09-02 22:53] #13233 closed

[2022-09-02 22:57] chdivyareddy commented on #13326
Oh okay, will let you know once I find any, thanks!!

[2022-09-02 23:30] chdivyareddy commented on #12963
Thanks Tracey! Moving this ticket along and will be verified in the future ticket 13507.

[2022-09-02 23:31] tlebedovich commented on #13091
@lekshmimallika-aot - UXA Feedback for ya:

**BCROS landing page:**
New Tile - Is there a way to reduce letterspacing for the CSO Learn More link just enough so the arrow icon fits on one line (keeping side margins as is)?

![Screen Shot 2022-09-02 at 4.29.12 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/670c6db0-d139-4c08-b390-cbbd50836a8b)

**Account Products & Services P

[2022-09-02 23:43] tlebedovich commented on #13163
@lekshmimallika-aot - UXA Feedback for ya:

**BCROS landing page:**
New Tile - please fix typo (that was in design comp too) - remove the word "for" (and as mentioned, missing learn more link url):

![Screen Shot 2022-09-02 at 4.35.00 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/0159d836-0f0b-45f8-a17b-a9d54353c1b3)

Moved Tile - please fix type - remove the word "Online":

[2022-09-02 23:52] tlebedovich commented on #13017
@lekshmimallika-aot - UXA Feedback for ya:

**BCROS landing page:**

- learn more link is broken
- New Tile - add capitals to Site Registry in 2nd sentence:
![Screen Shot 2022-09-02 at 4.49.53 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/036f08aa-4ecb-4487-bc21-cc3cd7ecdd1a)

**Account Products & Services Page:**
- Update text to match to design comps - > https://projects.

[2022-09-02 23:53] tlebedovich commented on #13091
to note - remember to remove "coming soon" on accounts page when it goes live

[2022-09-02 23:53] tlebedovich commented on #13017
to note - remember to remove "coming soon" on accounts page when it goes live

[2022-09-02 23:53] tlebedovich commented on #13163
to note - remember to remove "coming soon" on accounts page when it goes live

[2022-09-02 23:58] chdivyareddy commented on #12966
Verified!

When a user enters a valid PID:

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/ec97909a-7a3e-4925-b107-69b29875c989)

When a user enters an invalid PID:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/94f4f436-fbd2-4146-b321-fa0b86e874f1)

[2022-09-03 00:46] doug-lovett commented on #13214
@chdivyareddy please retest, page numbers are back searching by org/business name.

[2022-09-06 00:13] forgeuxGH5 opened #13525 "Enhancement - Consistent terminology and taxonomy across media in MHR"
Currently the labelling, ordering, and input and display values for MHR information is inconsistent across the staff UI, BCOL UI, the modernized application UI, output documents, and paper forms. There should be consistent terminology and taxonomy in MHR across media.

[Analysis and Proposed terminology and taxonomy](https://1drv.ms/x/s!AlejmOwhCCvlgcBK4so7viEtzDto6w?e=Ivfubo)

[2022-09-06 00:16] forgeuxGH5 commented on #13525
@RFK250

[2022-09-06 14:40] #13173 closed

[2022-09-06 14:40] #13170 closed

[2022-09-06 14:41] #13432 closed

[2022-09-06 14:41] #13168 closed

[2022-09-06 14:43] #13508 closed

[2022-09-06 15:09] #13289 closed

[2022-09-06 15:11] chdivyareddy commented on #13214
Verified!

Organization Name: CRYSTAL RIVER COURT LTD.

[https://app.zenhub.com/files/157936592/590009a7-c909-4945-805d-a4cf1e42cd01/download](https://app.zenhub.com/files/157936592/590009a7-c909-4945-805d-a4cf1e42cd01/download)

[2022-09-06 15:25] RFK250 opened #13526 "Search output PDF - Update columns"
## Task

- [ ] Update the PDF output of search results so that the label of the column that currently reads "Status" instead reads "Registration Status"

[2022-09-06 15:29] RFK250 commented on #13301
Thanks @tlebedovich , I may not have actually made one... I've created a new ticket and linked it back to this one.

[2022-09-06 15:41] #13211 closed

[2022-09-06 15:41] #12971 closed

[2022-09-06 15:57] fareenr commented on #13414
@gprimeau At a quick glance, just the table on the modernization updates page needs to change text to say 'Site' Registry not Sites.  Please update the text on the table to remove the 's'. There may be other webpages that refer to Site registry, but this is the main page for modernization news updates.

[2022-09-06 16:22] argush3 commented on #13515
FM0439147 has been loaded in DEV for verification purposes.  verify by confirming firm loads properly via UI

[2022-09-06 16:24] gprimeau commented on #13414
@fareenr the artwork your referring to is something that @magszymanski created. She would be the one to make the adjustment and then I can make the change

[2022-09-06 16:35] doug-lovett opened #13527 "MHR API new registration save location to new table."
GIVEN User submits a new MH registration
WHEN the UI sends a new MH registration request to the API and the request passes all validation rules
THEN the API will save location information to a new PPR Postgres database table as well as to the legacy DB2 location table.

Notes:
The new location table will be used when migrating off of the legacy database.
The new table will include all non-address

[2022-09-06 16:38] doug-lovett commented on #13527
@RFK250 tagging you as requested on Friday.

[2022-09-06 16:41] fareenr opened #13528 "NEW - Comms email and training/demo for Service BC test pilot for MHR Search"
Work on Service BC test pilot of MHR Search

[ ] Email comms and invite to specific SBC test users
[ ] Gather IDIR, coordinate logins for access and set up of SBC test users
[ ] Coordinate training/demo of new MH Search for SBC piloters - week of Sept 12
[ ] Follow up on issue reporting and collect feedback from SBC piloters by end Sept.

[2022-09-06 17:11] janisrogers commented on #11241
@tlebedovich I wonder if we should create a new ticket for the 'other' warnings. As far as I know, they are only planning to implement 'not in good standing' and 'frozen' right now.

[2022-09-06 17:11] gprimeau commented on #12103
@magszymanski done!

[2022-09-06 17:28] jdyck-fw opened #13529 "Entities: Sprint 14.4b Release"
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub
 1. - [x] Confirm the correct commits are present
 2. - [x] Select appropriate target representing the build in Test - either a commit from recent commits or a reference to a b

[2022-09-06 17:28] #12988 closed

[2022-09-06 18:17] argush3 opened #13530 "Misc bug fixes/updates to SP/GP pipeline (part 4)"
*TODOs*

- [x] FM0501479, FM0546612 - CONVFMREGI_FRREG - error transforming business FM0501479, MSL CONTRACTING, can only concatenate str (not "NoneType") to str - this happens when business office is missing an address(mailing or delivery)
- [x] FM0512101, ~FM0523012~, ~FM0222860~ - CONVFMREGI_FRREG, ADMIN_ADMCF - FILE_CHGGP, FILE_FRCHG - error loading business FM0512101, 'NoneType' object has no

[2022-09-06 20:02] severinbeauvais opened #13531 "Create UI: refactor `isBetweenDates`"
The subject function is used as a rule to validate the date that a user has selected using the [shared Date Picker](https://github.com/bcgov/bcrs-shared-components/blob/main/src/components/date-picker/DatePicker.vue).

The problem is that this function cannot correctly convert a timezone-agnostic date (eg, "September 5, 2022") for comparison against a min and max Date object in UTC timezone.

A po

[2022-09-06 20:19] severinbeauvais commented on #11783
#### Test Notes

This ticket touched the following code:

- firm dissolution date min/max date validation
- coop dissolution resolution date min/max date validation
- coop dissolution resolution text entry
- coop dissolution date signed min/max date validation
- coop dissolution signing person (saved to / resumed from draft)
- ben future incorporation date-time min/max validation

[2022-09-06 20:27] #12103 closed

[2022-09-06 20:30] severinbeauvais commented on #13531
@cameron-freshworks Do we even need the rules for the shared date picker, since we already give it the minimum and maximum selectable dates, so the user should never be able to enter anything out of range.

[2022-09-06 20:41] cameron-freshworks commented on #13531
@severinbeauvais Potentially not!
I haven't touched it in awhile but originally i don't believe we had enforced formatting etc so the rules array was useful for that? Worth an exploration though, but i can't think of another purpose beyond Date Formatting.
That being said, i'm not sure the text field is even manually editable anymore 🤔

 Looks like it is `readonly` so that answers that i think 😁

[2022-09-06 21:25] yuisotozaki commented on #13371
Verified in dev. Ready for QA.

[2022-09-06 21:59] RFK250 opened #13532 "Qualified supplier workflows for registrations"
## User Story
As a qualified supplier, I need to be able to submit initial registrations online so that I don't have to fill out a paper form and so my client doesn't have to pay and extra $100 and wait 3-4 weeks.

## Sample User Flow (not entirely clear how this would work w/o a MH number)
1. Qualified Supplier completes the registration within the application (same application as staff)
2. Quali

[2022-09-06 22:29] trishreimer commented on #13499
Looks good. Please publish.

We need to add this number to our contacts on the home page. I will create another tix for this work.

[2022-09-06 22:35] janisrogers commented on #13500
The Coop statement is:
![image](https://user-images.githubusercontent.com/55597599/188743251-1233bcde-6323-431c-9dea-ca42df9f188d.png)
The BEN statement is:
![image](https://user-images.githubusercontent.com/55597599/188744860-5f766d9c-839b-4617-b0a0-fec91f9a8ad4.png)
So if we want to keep the theme, the SP statement should be:
"The sole proprietorship ELIXIR was successfully **dissolved on July 1

[2022-09-06 22:54] #12966 closed

[2022-09-06 22:54] RFK250 commented on #12966
Thanks team! And it was a real team effort on this one. :)

[2022-09-06 22:55] RFK250 commented on #12963
Okay, closing this knowing that #13507 will complete it.

[2022-09-06 22:55] #12963 closed

[2022-09-06 22:56] RFK250 commented on #13222
Thanks @ChasBoucher and @chdivyareddy !

[2022-09-06 22:56] #13222 closed

[2022-09-06 22:58] RFK250 commented on #13214
Thanks @doug-lovett and @chdivyareddy !

[2022-09-06 22:58] #13214 closed

[2022-09-06 23:12] vysakh-menon-aot opened #13533 "Back End - Registration Business Schema"
- [x] Setup aca-py agent config
 - [x] Schema
   - [x] Register business schema with aca-py agent and update dc_definitions table
   - [x] Register credential definition with aca-py agent and update dc_definitions table
 - [x] Track the change in schema and register a new schema with aca-py agent and mark the current schema as deleted.

[2022-09-06 23:53] jdyck-fw commented on #13323
Closing this as work completed in our sprint.

@jinghualicgi or @ozamani9gh - please tag this to an SRE Names release

[2022-09-07 02:50] dimak1 commented on #12451
To whoever will work on this:
- Mostly style fixes
- Please merge [936](https://github.com/bcgov/ppr/pull/936) as it has `stepValidation` functionality added.

[2022-09-07 02:53] dimak1 commented on #12451
@RFK250 - removing myself and putting into Backlog. Added comments above.

[2022-09-07 02:55] dimak1 opened #13534 "Bug - Home Owners Groups"
## AC / Task
GIVEN I am moving owners between groups
WHEN I move all my owners into one group
THEN The owner count is accurate for both groups

GIVEN I have a sole ownership
WHEN I add a new person and assign them a group
THEN The owner count is accurate for both groups

In MHR Registration - Step 3 - Home Owners Groups:

When moving Owners between the Groups, the owners counter in the group heade

[2022-09-07 03:02] dimak1 commented on #13534
Hi Kyle @RFK250 I created this ticket to address a bug that was not caught before. It is not critical (not a blocker). Assigned to you for now for triage.

[2022-09-07 15:11] #13297 closed

[2022-09-07 15:19] jinghualicgi commented on #13323
@pwei1018 this is ready for Names release, move to Ready to release on SRE board

[2022-09-07 15:22] #12721 closed

[2022-09-07 15:22] #13262 closed

[2022-09-07 15:33] #13442 closed

[2022-09-07 15:53] doug-lovett commented on #13422
Probably test when UI mhr registration dashboard and  save new staff registration are working.

[2022-09-07 16:06] #13502 closed

[2022-09-07 16:06] #13371 closed

[2022-09-07 16:07] #13515 closed

[2022-09-07 16:12] severinbeauvais commented on #2348
^^ I updated the title and added "Corrections 2.0" to refer to 12873.

[2022-09-07 16:23] Mihai-QuickSilverDev opened #13535 "COLIN API update for BEN IA Correction"
- [ ] Applicable only for BEN corporation type.

When corrections are pushed back via the COLIN api filings endpoint, the logic in COLIN api still expects the old correction schema format.  Some updates will need to be made to ensure that the endpoint applies the correction updates to the current business snapshot as we do in LEAR.

current approach:
https://github.com/bcgov/lear/blob/a0f4262f4631

[2022-09-07 16:24] Mihai-QuickSilverDev opened #13536 "Verify - Add Charge to BEN IA Correction"

[2022-09-07 16:26] JohnamLane opened #13537 "GST - collection and distribution"
This epic is to capture the work needed to handle GST in the Pay API, and any impacted integrations and back-end processes.

To begin, this epic will contain a single research spike with other stories to follow from that research.

[2022-09-07 16:26] JohnamLane opened #13538 "Spike - GST - how to handle and distribute"
This is to accompany this RAID ticket - https://github.com/bcgov-registries/raid/issues/144

Sites is the first BCOL partner to collect GST. This ticket is to analyze all work needed to handle GST.

[2022-09-07 16:35] sarahelz19 opened #13539 "OCM - One Stop Retirement - Go Live Oct 24th"
Originally on ticket #12986 - separated to create visibility
One Stop will be retired at the same time that SP/GP goes live
The following have to be considered in advance of go live to ensure that Citizens/Users/Support teams have the correct information
Retire the One Stop phone number.
a. Retire immediately upon implementation
b. For those sites that don’t retire the number?

Retire One Stop ema

[2022-09-07 16:43] yuisotozaki commented on #12507
The two email contents have been reviewed by staff and feedback/input incorporated.

[2022-09-07 16:53] tlebedovich commented on #12358
@yuisotozaki - final option has been chosen so I will update this ticket with the design we already did - I have reassigned this ticket to myself

[2022-09-07 16:54] JohnamLane commented on #12711
@janisrogers This must be worked on next sprint. Please book time and get these messages 100% or we will need to proceed with the draft messages. Please confirm content/actions in time for grooming September 13th. If this isn't possible please let me know.

[2022-09-07 16:55] tlebedovich commented on #12358
Actually - I see you have the staff procedure in here as well - so lets discuss at design stand up as we may need to break up your wireframes.

[2022-09-07 17:06] #13511 closed

[2022-09-07 17:11] eve-git commented on #9437
I tried decline a credit card payment on both creating and renewal a NR. In both test case, a "payment failure" page showed up and there are two buttons "Try Again" and "Go Back".
Click "Try Again" to back to payment page
Click "Go Back" to back to the page before. In case of "renewal", "Renew Name Request" button is available on the page.

I wonder if the bug has been fixed? Please verify.

[2022-09-07 17:11] lmcclung commented on #12887
@argush3 yes, we still need to do this ticket.
@Maribeth-Wilson @fareenr @magszymanski could you give us the link to where we are storing these requests so we can see what information what we are collecting.
I'm pretty sure they will be providing their Registries account number, the FM number.  I think also a contact email for the person who submitted the list.  I'm thinking if there is a business

[2022-09-07 17:12] PCC199 commented on #13538
Time boxed to 2 days

[2022-09-07 17:39] severinbeauvais commented on #9437
1. open an existing NR (that is not priority)
2. click Upgrade button
3. make the call to `createPayment()` fail in such a way that a payment is created but the user is not redirected to the payment portal
   - see https://github.com/bcgov/namerequest/blob/3d16d56f1c79688f21284380853d1688ba397551/src/components/dialogs/upgrade.vue#L208
   - see https://github.com/bcgov/namerequest/blob/3d16d56f1c7

[2022-09-07 17:53] severinbeauvais commented on #13531
Another possible solution: use the new `DateMixin.mmmDdYyyyToDate()` method in Edit UI to create a Date object from a string date.

However this is solved, please use the cleanest, simplest solution (which might be just comparing yyyy-mm-dd strings, not Date objects).

And another thing: in Edit UI CreateSpecialResolution.vue, `isValidDateRange()` is implemented (ie, not inside a rule), which allo

[2022-09-07 17:56] zac-broitman opened #13540 "Relationships Sprint Goals for 14.5"
Development Goals
- Allow Completing Party to be edited in Registrations
- Investigating Payment related issues (BCOL partner reports, GST, and Payment Processing)
- UI changes to match designs for Entities screen
- Not in Good Standing Label for Search

BA/Design Goals
- Determining Continuation In requirements for Benefit Companies
- Investigating impact and requirements for GST
- Work out a des

[2022-09-07 18:02] severinbeauvais commented on #11782
#### Test Notes

This ticket touched the following code:

- alteration effective date-time min/max validation
- create special resolution date min/max validation
- create special resolution text changes (saved/resumed to/from draft)
- create special resolution date signed min/max validation
- special resolution summary (deleted obsolete components)
- new NR expiry date formatting (Pacific date + t

[2022-09-07 18:24] tlebedovich commented on #12358
This ticket relates to Not in Good Standing alerts design ticket - https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/11241

[2022-09-07 18:25] tlebedovich commented on #11241
This ticket relates to Frozen ticket - https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/12358

[2022-09-07 18:32] JohnamLane commented on #13368
@kialj876 @lekshmimallika-aot @thorwolpert Please log some stub stories for further grooming on Tuesday September 13th. Please ping me in RC if you'd prefer to have a broader meeting with myself + BAs

[2022-09-07 18:37] jinghualicgi commented on #9437
@Mihai-QuickSilverDev Can you please confirm this issue in PROD, or we can close this ticket. @severinbeauvais do we have a  new ticket for the issue you mentioned? Thanks

[2022-09-07 18:47] severinbeauvais commented on #9437
We do not need a new ticket. The steps I added above are to help Eve reproduce the problem in this ticket.

[2022-09-07 18:49] chdivyareddy commented on #13362
Hey @ChasBoucher , 'Search Value' is not being displayed on the search history table when searching by owner last name. Could you please take a look?

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c7b19a01-3b32-4705-8484-8f3f13f189ed)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/79d0c2e7-c132-4500-9b0d-94f7ada07398)

**Search History Tabl

[2022-09-07 18:53] seeker25 commented on #13412
I think they were blocked because they have no way of identifying SBC Staff? It looks like there is code already in there to allow for Staff.

[2022-09-07 19:04] tlebedovich commented on #11241
@janisrogers - since these alerts relate to each other it made sense to show what multiple alerts look like, but I also included a comp with not in good standing only.

[2022-09-07 19:05] tlebedovich commented on #12358
@yuisotozaki - since these alerts relate to each other it made sense to show what multiple alerts look like, but I also included a comp with frozen only.

[2022-09-07 19:16] jdyck-fw opened #13541 "Entities: Sprint 14.5a Release"
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
 - Edit UI 3.7.5
 - Create UI 4.2.0
 - Filings UI 5.5.1
 - Legal API 2.58.0
 - Entity Filer 2.53.0
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft release in GitHub
- [x] Identify Release Report [14.5a](https://app.zenhub.com/workspaces/entit

[2022-09-07 19:54] zac-broitman opened #13542 "Enhancements to Transactions screen"
Could the time of registration/search be recorded in the Account transactions screen please? This will allow us to see the time of registration without having to go through PPR to pull up the pdf form.

Also- if a registration was “Auto-refunded” – perhaps this could be flagged here in the Account Transactions screen as well- so we can see that this is handled that way or not.

Also – can we put t

[2022-09-07 20:02] severinbeauvais commented on #12984
@lmcclung Either in this ticket, or in #12985, we will need the config keys for the popup. Do you have them already?

[2022-09-07 20:03] severinbeauvais commented on #12984
Initial implementation is complete (using NR UI keys in Dev only for testing).

Depending on what the PR reviewers think, I may move this component into the bcrs-shared-components repo.

[2022-09-07 20:05] argush3 opened #13543 "verify - data issue: firms with incorrect party end event previous party ids"
FM0523012, FM0222860, FM0641753 have issues loading via SP/GP pipeline.  Seems like some corp party entries have incorrect `end_event_id` and `prev_party_id` values.

Note that FCP values might be wrong too but it's not a problem on the LEAR side as we always create a new completing party entry for each filing and do not try to update an existing one.

**Details provided in screenshot:**

_FM05230

[2022-09-07 20:17] tlebedovich commented on #13091
@lekshmimallika-aot - these items were not resolved from above:

- CSO Account products and services page copy is still missing the lighter gray intro text under the bold header that should appear when the tile is closed (as per design ticket link above):

![Screen Shot 2022-09-07 at 1.09.22 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/9227526d-e5c6-4811-a451-acb437f882fe)

[2022-09-07 20:17] argush3 commented on #13543
@droberts27 if this is a data issue, can you get this firm updated?  I've updated on my side according to details in the screenshot for FM0523012 and the pipeline was able to reconstruct/apply the filing history on the LEAR side.

[2022-09-07 20:19] ChasBoucher commented on #13362
I am having a look now.. Will fix.

[2022-09-07 20:23] tlebedovich commented on #13163
@lekshmimallika-aot - unfinished items form above:

- on Account products and services page, sorry it's also missing the text update for the intro text right under the header as per design comp:

![Screen Shot 2022-09-07 at 1.18.59 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/890e535c-fb3e-467e-be1d-297fd05a1dc9)

- open button on BC Registries dashboard tile still serving

[2022-09-07 20:27] chdivyareddy commented on #13122
Verified as per the attached reports!

[2022-09-07 20:29] jinghualicgi commented on #11652
From our team discussion, we don't need this ticket, close it for now

[2022-09-07 20:30] zac-broitman commented on #13412
I have expanded the acceptance criteria to note that ideally the fields for Completing Party should be blank if SBC or Registries staff are doing the registration. This will prevent staff from skipping over changing the completing party info and be forced to fill it in.

[2022-09-07 20:32] seeker25 commented on #13163
@tlebedovich BC Assessment wont work in DEV or TEST without VPN

[2022-09-07 20:35] tlebedovich commented on #13163
thanks @seeker25 - would that be the same for the Learn More button? I thought learn more is supposed to go to a page to learn more about the product versus going to the product app itself?

[2022-09-07 20:35] Mihai-QuickSilverDev commented on #11652
Closing this ticket as per the message above.

[2022-09-07 20:35] #11652 closed

[2022-09-07 20:36] tlebedovich opened #13544 "UI Design - other business alert warning messages"
This design ticket is for when we need to add additional warning alert messages, including;

- in liquidation
- being dissolved
- not in compliance
- receivership

--------

In progress work:

### Visual Design Comps:

**As Appears in Business Registry App:**
https://projects.invisionapp.com/share/6S130ETLTVRC#/screens?browse

**As Appears in Business Search App:**
https://projects.invisionapp.com

[2022-09-07 20:43] seeker25 commented on #13163
Not sure if @lekshmimallika-aot received the Learn More link from BCA?

I was scouting on their website, figured it might be located around here:

https://info.bcassessment.ca/services-and-products/Pages/Data-For-Business.aspx
https://info.bcassessment.ca/Services-products/look-up-property-assessment/BC-Online

But it could be unfinished..

[2022-09-07 20:54] JohnamLane commented on #13163
@lekshmimallika-aot @tlebedovich @seeker25  FYI - Zac has not heard back from BCA on the 'learn more' link.

[2022-09-07 21:21] argush3 opened #13545 "verify - Failed to load business with corp type cd = LP"
FM0227525 has `corporation.corp_type_cd` = `LP`.  There appears to be only one entry in the COLIN postgres extract that has this value.  All other entries use either `SP` or `GP`.  Is this business valid?  i.e. should we data load this via the SP/GP pipeline.  If so how should this be treated?

[2022-09-07 21:26] argush3 commented on #13545
cc: @droberts27 @Mihai-QuickSilverDev @davemck513 @lmcclung

[2022-09-07 22:03] tlebedovich commented on #13163
moving along to RFQA - please create new ticket to update learn more links if required.

[2022-09-07 22:04] tlebedovich commented on #13091
moving along to RFQA - please create new ticket to update learn more links if required.

[2022-09-07 22:21] Mihai-QuickSilverDev commented on #13545
@argush3 Hi Argus, Limited Partnerships - LP's, and Limited Liability Partnerships - LLP's are out of scope for the SP/GP go live on October 24, 2022.
If this firm is a true LP, does not have to be imported. If it should be a SP/GP instead, the COLIN record should be corrected. I will have a look in COLIN and verify with the business.

[2022-09-07 22:23] Mihai-QuickSilverDev commented on #13545
![image.png](https://images.zenhubusercontent.com/62741a399202cf3570f9fd40/f892f71f-15ac-4f9e-942b-ae0362f0f350)

[2022-09-07 22:32] chdivyareddy opened #13546 "MHR Search - Update search results table Owner/Org name column headings accordingly"
## AC

GIVEN I am an MHR Search user (staff, BCOL, Service BC, client)
WHEN I perform an MHR number search
THEN the search results column headings should display "Owner Name" or "Organization Name" according to the value in the column

- [x] When searching by MHR number **081277**, the search results table column heading displays 'Owner Name' but, the value in the column is Organization Name 'SRI

[2022-09-07 22:39] chdivyareddy commented on #13326
Verified search results sort order according to the matrix and created a ticket for the MHR number search column heading issue in the search results table #13546

@tlebedovich here's the example of registration number for Historical registration status: 081277, 081818.

[2022-09-07 22:45] argush3 commented on #13545
ok, thanks for checking @Mihai-QuickSilverDev.  @droberts27 can you get this business removed for the next extract?

[2022-09-07 22:52] argush3 opened #13547 "data issue: unable to determine corrected filing id for firm"
FM0517163 doesn't seem to have corrected data.  What should we do in this scenario?  Event id 101651353 is the specific event where the pipeline is unable to find data that was corrected.

For correction filings, the corrected filing id needs to be determined by the pipeline so that a comment can be applied to the right filing.  Also the filing json also needs to populate this value.  This has bee

[2022-09-07 22:56] eve-git commented on #9437
@severinbeauvais Can you give me a specific steps to reproduce the issue?
@severinbeauvais Can you give me a specific steps to reproduce the issue?

I tried the following steps to reproduce the error and didn't work:
1. create a NR and paid
2. clicked "Upgrade Priority" and went to credit card payment page
3. click back button in browser to be back to existing NR page
    . Request Status: incompl

[2022-09-07 23:04] severinbeauvais commented on #9437
@eve-git

If you get to the payment portal then you've gone too far. The payment needs to be created but the next step needs to fail, so that the Upgrade modal closes and you remain on the NR (with the old actions, which is why they need to be refreshed). I don't remember how (or whether) I did that originally, but you can run NR UI locally and comment out some code to reproduce this error.

Also

[2022-09-07 23:07] chdivyareddy commented on #13422
Moving this ticket to staging for now, will verify once the UI mhr registration dashboard is implemented.

[2022-09-07 23:14] argush3 commented on #13547
@droberts27 please advise what should be done in this case.  I had implemented corrections support into the pipeline while you were away so I'm not sure if the approach of figuring out the corrected filing id using the end event id as mentioned above in the ticket description is ideal.  It was my understanding that COLIN doesn't explicitly keep track of this in the database.

[2022-09-07 23:21] eve-git commented on #9437
The duplicate payments issue has been fixed https://github.com/eve-git/namex/commit/2df01bbbad973b00ac3039c4077ecf4cde5812ea

@severinbeauvais do you think the fix of duplicate payment works on this issue as well?

[2022-09-07 23:41] severinbeauvais commented on #9437
I don't know.

[2022-09-08 14:33] #13414 closed

[2022-09-08 14:35] #13499 closed

[2022-09-08 15:21] #13497 closed

[2022-09-08 15:38] #13421 closed

[2022-09-08 15:41] #13326 closed

[2022-09-08 15:42] Mihai-QuickSilverDev commented on #9437
@eve-git Hi Eve, as per your comment above for the new found bug, please open a bug ticket in the Entities space. Alternatively, I could create it - just let me know. Thank you!

[2022-09-08 15:43] RFK250 commented on #13122
Woohoo! Thanks @doug-lovett @tlebedovich and @chdivyareddy !

[2022-09-08 15:43] #13122 closed

[2022-09-08 15:53] Mihai-QuickSilverDev commented on #10911
@lambert-alex Hi Alex, Sienna is not anymore with BC Registries since May, 2022. Regarding your questions:
1. The fix applies to both Coops and BEN corporations.
2. I will get back to you with an answer for the no AGM situation, momentarily.

[2022-09-08 16:03] severinbeauvais commented on #12984
### Test Notes

This feature is now deployed, and is temporarily configured with the Namerequest WebChat keys in Dev only. (The keys will be updated in all environments in #12985.)

- [ ] WebChat button (and tooltip and popup window) should look right and work if the current filing is a SP/GP registration
- [ ] the tooltip should display "click here" message if the webchat service is open
- [ ] th

[2022-09-08 16:04] severinbeauvais commented on #12985
This ticket is now unblocked.

[2022-09-08 16:09] argush3 opened #13548 "data issue: corp_party.bus_company_num values that are too long for LEAR"
FM0554987, FM0557171, FM0566805, FM0563506 have `corp_party.bus_company_num` values that are too long for the LEAR `parties.identifier` field when `BC` is appended.  The `parties.identifier` field has a length of 10.

[code]

[2022-09-08 16:13] severinbeauvais commented on #12985
The implementation ticket that blocked this ticket is now merged into Dev.

I have emailed Karim and am awaiting a response on when we can test this together (or who else is involved).

[2022-09-08 16:27] sarahelz19 opened #13549 "OCM - SP/GP Search Training Delivery BC Registries/BC Online"
Deliver training for SP/GP - Citizen view/Service BC view
Deliver training SP/GP - Staff View
Deliver training SP/GP - Maintenance - Citizen View/Service View
Deliver training SP/GP - Maintenance - Staff View
Deliver training - Transition Process - Staff - (Paper process interim)
Deliver Training Search - Citizen View/Service BC View
Deliver Training Search - Staff View (non-pilot)

Schedule BC Re

[2022-09-08 16:31] severinbeauvais commented on #12571
@Mihai-QuickSilverDev

Should this Business Start Date component be implemented for:

1. SP/GP correction filings?
2. SP/GP change filings?
3. SP/GP conversion filings?

[2022-09-08 16:42] severinbeauvais opened #13550 "Edit UI: SP/GP change and conversion filings should verify entity type"
If a user modifies the Edit UI URL to substitute a benefit company id (BCxxx) in place of a firm id (FMxxx), an error is displayed but not for the right reason.

1. login to a valid firm change (or conversion), eg, https://dev.edit.business.bcregistry.gov.bc.ca/FM1011233/change/?accountid=2288

2. substitute the firm id with a ben id, eg, https://dev.edit.business.bcregistry.gov.bc.ca/BC0871153/ch

[2022-09-08 16:48] jdyck-fw opened #13551 "Sprint Objectives 14.5"
1. As a user I want to use web chat, so that I can get help with an SP / GP registration - 50%. - Testing remains
2. As a user I will be able to get my business digital credential - 50% - Having some backend challenges before front end can be completed

Demos for Sprint End - as approved by Linda and Dave
1. UI Design - Business Digital Credentials - Yui
2. Webchat - Severin

Overall - 50%

[2022-09-08 16:59] eve-git commented on #9437
@Mihai-QuickSilverDev I will create a ticket for the new bug.

In the descriptions of the ticket, the major problem of the bug is duplicate payment/invoice records. The bug has been fixed by https://github.com/bcgov/entity/issues/12596

[2022-09-08 17:03] jdyck-fw opened #13552 "Entities: Sprint 14.5b Release"
- [x] Add release # to this ticket
- [x] Identify Release Report [14.5b](https://app.zenhub.com/workspaces/entities-team-space-6143567664fb320019b81f39/reports/release?release=Z2lkOi8vcmFwdG9yL1JlbGVhc2UvODI0NjE)
- [x] Update version numbers in the code being released and list them here:
 - Business Edit UI 3.7.9
 - Business Create UI 4.2.5
 - Business Filings UI 5.5.2a
 - Legal-Api 2.59.0
 - Enti

[2022-09-08 17:20] severinbeauvais opened #13553 "Edit UI: BEN IA correction should prompt for Completing Party"
In Edit UI, a BEN IA correction should prompt for Completing Party (only if the correction is a Client Error).

- [x] add Completing Party component (for Client Error only)
   - place above Detail component
- [x] update draft build/parse
   - copy what is done with Firm Corrections
- [x] unit tests

[2022-09-08 17:22] chdivyareddy commented on #13362
Verified!

**Search History table:**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/5ad860cd-5999-431f-a608-7be7199522de)

**Search Output:**

[https://app.zenhub.com/files/157936592/3885ef2c-584f-47e5-91de-acef65835b47/download](https://app.zenhub.com/files/157936592/3885ef2c-584f-47e5-91de-acef65835b47/download)

[2022-09-08 17:28] Mihai-QuickSilverDev commented on #12751
To follow-up on the UI design

[2022-09-08 17:28] severinbeauvais opened #13554 "Edit UI: Add Documents Delivery to miscellaneous filings"
The Document Delivery component needs to be added to the following filings.
**Here are the scenarios:**
- [x] BEN IA correction

- Display the Business / Registered Office Email box. Editable field. Outputs will be sent to this email address.
- If this correction is triggered by a client error, also display the Completing Party, Name and Mailing Address, empty by default and editable.

- [x] SP/GP

[2022-09-08 17:30] lewischenstudio commented on #13079
We are using the same resolution dates component from alteration filing for correction filing, and we are adding new resolution dates to the existing list. The question is that since this is for correction filing, do we want to "correct" existing dates instead of adding new ones? There will be a new ticket if we want the new way, and this ticket is now moved on to ready for QA.

[2022-09-08 17:34] sarahelz19 opened #13555 "OCM - SP/GP Search Training Schedule for Service BC Regional Office - Delivery before Oct 24th"
The SP/GP Search implementation is scheduled for October 24,2022
Service BC Regional offices and BC Registries have identified the following approach/Schedule

Each topic Separately - Search. Registration, Change Filings

Deliver overview/training to Support Experts in advance - if available

Reuse Service BC Regional office huddles to deliver the training (7:30-8am Mountain Time) (8:30-9am Pacifi

[2022-09-08 17:34] severinbeauvais commented on #13351
This is probably caused by #13531.

[2022-09-08 17:34] severinbeauvais commented on #13531
This is probably the cause of #13351.

[2022-09-08 17:38] janisrogers opened #13556 "Allow searching for BC Companies without prefix, but no leading zeros"
In Sofi, they have the ability to search BC749319 and have it return BC0749319, or BC Can we manually strip out the leading zeros and return this result?

This was done for FM, CP, LP, ...,  (ticket #13087) but BC was missed (possibly because the db stores these without the BC prefix).

We should also show the prefix in our results list because it is the 'true' incorporation number.

Proposed reso

[2022-09-08 17:38] severinbeauvais commented on #11091
@yuisotozaki Instead of email and phone on a single line, should we make it two lines as in Filings UI?

[2022-09-08 17:40] severinbeauvais commented on #6209
As a result of recent Edit UI correction refactoring, this bug is now solved.

[2022-09-08 17:40] #6209 closed

[2022-09-08 17:44] severinbeauvais commented on #12196
As a result of recent Edit UI correction refactoring, this bug is now solved.

[2022-09-08 17:44] #12196 closed

[2022-09-08 17:54] #11792 closed

[2022-09-08 17:59] severinbeauvais commented on #13554
Blocked until questions above are answered,

[2022-09-08 18:07] severinbeauvais commented on #2179
I believe this was done as part of misc cleanup in other tickets over the last couple of years. I'm looking at the store code and I see nothing that we need to update or fix.

Can we close this ticket? @jdyck-fw @davemck513

[2022-09-08 18:44] severinbeauvais commented on #11427
This epic has no tickets. Can it be closed?

[2022-09-08 18:44] severinbeauvais commented on #11427
Oh wait -- this is for LP/LLP?

[2022-09-08 18:58] chdivyareddy commented on #13383
Hey @tlebedovich , Can you please take a look at the second scenario:

- When a user manually selects all the 'Include Lien Info' checkboxes, then should the 'Include lien info for all selections' checkbox be auto-selected or not?

**Current Behavior:** 'Include lien info for all selections' checkbox is not auto-selected

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/f

[2022-09-08 19:06] tlebedovich commented on #13260
@cameron-freshworks - UXA for staff payment

hi cameron - were we not able to use the shared component for the staff payment component (inline version is already being used in entities alterations app). the MHR version is acting differently. Please refer to alteration version to see how the component should work. I am seeing the following issues:

- [ ] Match the deactivated field styles to the al

[2022-09-08 19:09] severinbeauvais commented on #13382
@yuisotozaki Here is the updated text and tooltip. Does it look OK?

Also, it is actually easy to correct this date -- just do another correction. Should that text be removed?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/410ecb55-c157-44ba-a108-397d0ea293fa)

[2022-09-08 19:10] tlebedovich commented on #13507
@ChasBoucher All of the above are completed. I did notice that the canada post look up is including and allowing addresses outside of BC to be selected, we need to limit the look up to only show BC addresses. I will put that into a separate ticket and move this along.

[2022-09-08 19:15] chdivyareddy opened #13557 "MHR Number Search - 'Include lien info for all selections' checkbox Issue"
**Scenario1:**
## AC
GIVEN I am an MHR Search user (staff, BCOL, Service BC, client)
WHEN I perform an MHR number search by selecting the 'Include lien info for all selections' checkbox and complete the search process
THEN the 'Include lien info for all selections' checkbox for the next MHR number search is auto-selected

- [x] When an MHR number search is performed by selecting the 'Include lien

[2022-09-08 19:16] chdivyareddy commented on #13383
Created a ticket for MHR Number search issue #13557

[2022-09-08 19:16] tlebedovich opened #13558 "UI - Civic Address Component Updates"
**See Visual Design Ticket #13479**

**Updates include:**
- [x] Update intro text
- [x] Remove Additional Street Address
- [x] Rename Street Address field label and add hint text
- [x] Street Name/Number field should be optional not required, without the word "Optional" in the field label (update validations)
- [x] Change Province into a dropdown menu, defaulted to BC (to fix bug)
- [x] If user se

[2022-09-08 19:31] cameron-freshworks commented on #13260
@tlebedovich
Hey Tracey, sounds good thanks!
Some of the validation issues were resolved are currently in Review but will get these other odds and ends shortly :)

[2022-09-08 19:52] sarahelz19 commented on #11245
New Processes reviewed with Service BC for Acceptance:
SP/GP Registration:

SP/GP Change Filing

Outstanding Questions
- [ ] If Service BC used search to assist a Citizen will they be charged a Search Fee?
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/075e77c7-675f-4345-84c7-
b201357b2a88)
- [ ] if a Citizen has an account will Service BC provide filing services:
Linda

[2022-09-08 20:01] tlebedovich commented on #13114
@cameron-freshworks UXA for ya:

- [ ] please match review and confirm table to the design comps:
-  table data should be inset with side white margins on left and right
- don't need gray hairlines that are appearing above and below the "groups" header blue bar
- its missing display of home tenancy type (show N/A if its not assigned yet)
- its missing display and validation of total ownership allo

[2022-09-08 20:05] jdyck-fw commented on #13531
@davemck513 - Making this a p2, please update if you see otherwise

[2022-09-08 20:07] jdyck-fw commented on #13550
@davemck513 - Making this a p2, please update if you see otherwise

[2022-09-08 20:11] tlebedovich commented on #12451
@ChasBoucher - adding the new bugs I found for you here:

- [ ] **Bug 1**: If I add one sole owner to the table, then I click edit on that owner and don’t change anything at all, then I click the Done button, then the table displays the sole owner in a group (turning it into a tenants in common) when it shouldn’t change anything. Test this for all owners:

![Screen Shot 2022-09-08 at 1.04.06 PM.pn

[2022-09-08 20:22] severinbeauvais commented on #13382
@yuisotozaki Maybe we should show the Registration Date somewhere?

[2022-09-08 20:37] forgeuxGH5 commented on #13558
Our other address components (Entities) have a similar issue - those add the address but display an invalid Province - we should unify this design across apps
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/1128c3a9-41d4-417e-8fc9-221febaaf67d)

[2022-09-08 20:37] tlebedovich commented on #13383
@chdivyareddy - yes I suppose it should since that is how it works when manually selecting all of the owners listed. and that "select all liens" checkbox should turn off if the user manually decides to uncheck one of the lien check boxes. Feels like this should go back to in progress since this note was in the ticket items above (versus creating a new ticket?)

[2022-09-08 21:08] JohnamLane commented on #13091
@lekshmimallika-aot can this please be moved into Test.

[2022-09-08 21:12] Mihai-QuickSilverDev commented on #10911
Hi Mihai,

If a coop files an annual report as “no meeting held” then the system should make the effective date the last day of the year for that annual report.  So if they file “no meeting held” on a 2021 Annual Report, the effective date for it should be Dec. 31, 2021.  A coop cannot yet file a “no meeting held” AR for 2022 since the year is not over.

I’m not sure what you mean below by “system

[2022-09-08 21:13] Mihai-QuickSilverDev commented on #10911
@lambert-alex I have uploaded on the ticket, above, complete details about how the functionality should work, for both Coops and BEN corps. Please let me know if you have any other questions.

[2022-09-08 21:21] #13435 closed

[2022-09-08 21:29] tlebedovich commented on #13558
@forgeuxGH5 - makes sense if we provide design updates in our UI Design ticket for this bug as well I suppose -- https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/13479

[2022-09-08 21:30] chdivyareddy commented on #13383
@tlebedovich thanks Tracey! As I have created a new ticket for the MHR number search issue will include this scenario in that ticket as well.

[2022-09-08 21:42] chdivyareddy commented on #13507
Verified!

- When the user does not enter the street address/City, then the Civic Address on the Review & Confirm is displayed as 'Not Entered'
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/8d645ba2-8a78-44bd-b3f8-fb2d5f1d3ada)

- When the user enters the street/city, then the civic address in the Review & Confirm 'Province' is displayed as BC

![image.png](https://ima

[2022-09-08 22:05] tlebedovich opened #13559 "Products & Services on Account page and on BC Registries Dashboard should be listed in same alphabetical order"
UX bug/enhancement:

**Problem:**
To maintain consistency of UX, the Products & Services tiles shown on the Account Products & Services page and on the user's BC Registries Dashboard page should be listed in the same order.

**Solution:**
- List available products on both pages in alphabetical order.
- Ignore the word "My" on the BC Registries page so that both pages list the Products in the exact

[2022-09-08 22:15] tlebedovich commented on #7303
this work has been completed so i am closing this ticket

[2022-09-08 22:15] #7303 closed

[2022-09-08 22:17] tlebedovich commented on #7448
@janisrogers - we have learn more links now - can we close this ticket?

[2022-09-08 22:17] tlebedovich commented on #7449
@janisrogers can we close this ticket? not sure what this one was for

[2022-09-08 22:20] tlebedovich commented on #10829
this work was completed, closing this ticket

[2022-09-08 22:22] tlebedovich commented on #11727
BC online was added to footer common component already, think we can close this design ticket.

![Screen Shot 2022-09-08 at 3.22.17 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/7ab6ea0f-aad3-4c92-80f3-e8b0856e1120)

[2022-09-08 22:22] #11727 closed

[2022-09-08 22:24] tlebedovich commented on #12531
this has been completed - we can close this design ticket.

[2022-09-08 22:24] #12531 closed

[2022-09-08 22:32] tlebedovich commented on #12779
@RFK250 - This is a small unfinished business ticket for MHR Registration we should consider as part of finishing up MHR Registration flow.

[2022-09-08 22:34] Maribeth-Wilson opened #13560 "Post Oct 24th message in What's New section of BC Registry application, due date tba"
When you are able, please post the following message in the 'What's New' section of the BC Registry application:

Title:
**New Business Search & Filings Coming October 24**

Message:
On **October 24**, two features are launching in the BC Registry application:
- A new **Business Search** available to Premium accounts that will provide access to business information and filings for benefit companie

[2022-09-08 22:35] tlebedovich commented on #12951
@RFK250 - think this design ticket can be closed

[2022-09-08 22:35] RFK250 commented on #12779
Okay, thanks for flagging

[2022-09-08 22:37] RFK250 commented on #12951
Great, thank you! And going forward, any time you might move a design ticket into the "Ready for Dev" column and it's showing as a blocker to a dev ticket, just go ahead and close it - you don't need to check with me.

[2022-09-08 22:37] #12951 closed

[2022-09-08 22:38] RFK250 commented on #12951
(Not that this ticket necessarily fell into that category :) )

[2022-09-08 22:39] tlebedovich commented on #12953
this is a duplicate design ticket of #12771 and can be closed

[2022-09-08 22:39] #12953 closed

[2022-09-08 22:54] yuisotozaki commented on #13382
Verified in dev. Ready for QA.

[2022-09-08 22:56] yuisotozaki commented on #13382
The correct start date would be coming in from outside the system and so we don't really need to the registration date shown at this time. If the user (client/staff) want to know. the registration date, they can go back to the Recent History list.

If the user feedback uncovers additional user interaction, we should update this UI accordingly.

[2022-09-08 23:00] yuisotozaki commented on #12984
Verified in dev. Ready for QA.

[2022-09-08 23:01] tlebedovich commented on #13303
we skipped the whole "coming soon" and went straight to "new" so I will close this design ticket

[2022-09-08 23:01] #13303 closed

[2022-09-08 23:10] janisrogers commented on #7449
Sure. I have no memories of what this was. I will close.

[2022-09-08 23:10] #7449 closed

[2022-09-08 23:11] janisrogers commented on #7448
Yes, I will close.

[2022-09-08 23:11] #7448 closed

[2022-09-08 23:25] RFK250 commented on #13383
Thanks for catching that and making the new ticket @chdivyareddy

[2022-09-08 23:25] #13383 closed

[2022-09-08 23:26] #13453 closed

[2022-09-08 23:26] RFK250 commented on #13362
Thanks @ChasBoucher and @chdivyareddy !

[2022-09-08 23:26] #13362 closed

[2022-09-08 23:26] #13268 closed

[2022-09-08 23:28] RFK250 commented on #13507
Thanks team!

[2022-09-08 23:28] #13507 closed

[2022-09-09 01:21] lmcclung opened #13561 "BC1335321"
**Describe the bug in current situation**
Entity incorporated as a numbered benefit company in November 2021.
A few weeks later they filed an alteration to change their name to a named company.
Alteration is correct.  However, the Incorporation Application filing outputs now show the new name on the certificate and the Notice of Articles.  This needs to be fixed.

**Link bug to the User Story**

*

[2022-09-09 01:23] lmcclung commented on #13561
@davemck513 can we get this looked at this sprint?  It's possible this is a one-off and got broken when we did some refactoring last year.

It's a really old Ops ticket #332 that needs closing.

[2022-09-09 15:18] trishreimer commented on #12866
Issue moved to [bcgov-registries/ocm #181](https://github.com/bcgov-registries/ocm/issues/181) via [**Zenhub**](https://www.zenhub.com/)

[2022-09-09 15:18] #12866 closed

[2022-09-09 15:33] severinbeauvais commented on #12965
Are special skills needed to do this ticket (eg, access to Prod systems)?

cc: @Mihai-QuickSilverDev @lmcclung

[2022-09-09 15:34] severinbeauvais commented on #10568
Looks like this needs someone with Prod db access.

[2022-09-09 15:37] severinbeauvais commented on #11781
@ozamani9 @ozamani9gh Omid, should this ticket have `NameX` and `SRE` labels and be in a different pipeline?

cc: @jdyck-fw

[2022-09-09 15:42] trishreimer commented on #13539
does this change also include the text that will remain on the OneStop home/landing page?

We need to text to tell them what happened to OneStop and where to go.

[2022-09-09 15:46] trishreimer commented on #12986
@sarahelz19  I see some other tix were created. Could you pls edit this tix to reflect what it is for?

Pls edit the description above (deleting txt) and tix title or close all together.

[2022-09-09 15:46] severinbeauvais commented on #11514
@lekshmimallika-aot Do you have the ticket number for the RFC? Is it completed?

[2022-09-09 15:52] severinbeauvais commented on #9723
@riyazuddinsyed @jdyck-fw Does this bug still reproduce? Has it happened more than once?

It looks to me like a BE error for some random reason (eg, deployment, network interruption).

What we could do is have someone verify that the results can currently be downloaded from the subject NR. This would rule in or out a problem with the flow or NR data. (This needs someone with namex db access to loo

[2022-09-09 15:58] severinbeauvais commented on #9509
@riyazuddinsyed Could you please test this again (or forward this to someone who can)?

@jdyck-fw Do you know if we have a story for multiple affiliations? (I only found 13333, a UI design ticket.) THIS ticket should go in that story as a pain point that could be fixed.

[2022-09-09 16:09] severinbeauvais commented on #9874
This ticket needs some research (maybe a few days) to investigate what is possible and what impacts this will have to our UIs.

[2022-09-09 16:13] severinbeauvais commented on #6720
@jdyck-fw Should this epic be in the Epics pipeline?

[2022-09-09 16:14] severinbeauvais commented on #9342
@jdyck-fw Should this epic be in the Epics pipeline?

[2022-09-09 16:14] severinbeauvais commented on #12668
@jdyck-fw Should this epic be in the Epics pipeline?

[2022-09-09 16:15] severinbeauvais commented on #11389
@jdyck-fw Should this epic be in the Epics pipeline?

[2022-09-09 16:16] severinbeauvais commented on #10825
@jdyck-fw Should this epic be in the Epics pipeline?

[2022-09-09 16:19] severinbeauvais commented on #13382
@Mihai-QuickSilverDev Yesterday, I implemented this ticket in line with what you wrote ^^. You can verify this in Dev environment. Let me know if this meets your requirements or if there is anything else to change.

[2022-09-09 16:22] sarahelz19 commented on #12338
Review feedback per Linda [https://app.zenhub.com/files/157936592/c5308da6-9a3b-4b8b-a5cd-cebbb2207587/download](https://app.zenhub.com/files/157936592/c5308da6-9a3b-4b8b-a5cd-cebbb2207587/download)

[2022-09-09 16:25] sarahelz19 commented on #12338
Screen shots as of Sept 9th - In order as they appear
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/7f0cd669-0ede-47be-af15-4ab92b0a29b2)

[2022-09-09 16:25] argush3 opened #13562 "verify data issue: address record missing address_format_type value for a corp party"
FM0601898 does not have a value for `address.address_format_type` for the corp party id 101508995.  This corp party was updated for event id 101422336.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/9aa10779-3f8e-4927-8e6d-f097a67b5f7e)

[2022-09-09 16:26] sarahelz19 commented on #12338
@gprimeau next screen shot
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/697ed905-31d7-45c7-a087-c6e97a239fa5)

[2022-09-09 16:27] sarahelz19 commented on #12338
@gprimeau next screenshot
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/bf532424-82f6-41cf-8b34-9decd77d588b)

[2022-09-09 16:28] sarahelz19 commented on #12338
@gprimeau next shot
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/eba6e577-b470-4fd8-856f-83a936611705)

[2022-09-09 16:36] argush3 commented on #13562
@droberts27 would you be able to get the `address_format_type` value(address_id = 10652130, FM0601898) populated for the next COLIN extract?

[2022-09-09 16:37] #13529 closed

[2022-09-09 16:37] #12690 closed

[2022-09-09 16:37] #13079 closed

[2022-09-09 16:38] yuisotozaki commented on #13510
Verified in dev - Ready for QA.

[2022-09-09 16:38] severinbeauvais commented on #13509
Are you also adding Business Start Date support to firm change filings? I have now implemented both #13510 and #12571.

[2022-09-09 16:39] eve-git opened #13563 "After cancelling the payment of Upgrade Priority of a NR, the Upgrade Priority of the NR is still available but cannot be paid."
After cancelling the payment of Upgrade Priority of a NR, the Upgrade Priority of the NR is still available but cannot be paid.

steps to reproduce the error:

1. create a NR and paid
2. click "Upgrade Priority",  click "Continue to Payment", and go to credit card payment page
3. cancel the payment,
4. click Upgrade Priority again,
5. click Continue to Payment,
the credit card payment page won't s

[2022-09-09 16:40] trishreimer commented on #13359
This ticket has screenshot of ACBC. Is the tix for ACBC?

[2022-09-09 16:52] sarahelz19 commented on #13359
That was the sample provided by the home team -

From: Trish Reimer ***@***.***>
Sent: September 9, 2022 9:41 AM
To: bcgov/entity ***@***.***>
Cc: Elzinga, Sarah CITZ:EX ***@***.***>; Assign ***@***.***>
Subject: Re: [bcgov/entity] OCM - Update SOFI/Site to remove OneStop update URL and add associated messaging (Issue #13359)

[EXTERNAL] This email came from an external source. Only open attachmen

[2022-09-09 16:57] trishreimer commented on #13359
Could you please explain what work is needed in this tix and for what app?

The screenshot is acbc and the tix title is sofi onestop which are all different apps.

Thanks.

[2022-09-09 17:02] severinbeauvais commented on #13535
Hi. What did you intend to use this ticket for? A bug? Something missing? Should it be in the current sprint?

[2022-09-09 17:04] yuisotozaki commented on #12571
Verified in dev - Ready for QA.

[2022-09-09 17:21] Mihai-QuickSilverDev commented on #13181
Argus will review all the applicable scenarios.
New tickets will be created as needed.

[2022-09-09 17:59] yuisotozaki commented on #11091
Let's keep it on one line for now. Multi-line design would need to take into account other layouts and add effort for this bug ticket.

[2022-09-09 18:11] Mihai-QuickSilverDev commented on #12873
This will be re-assessed by team (Severin, Mihai, Dave), and update the epic accordingly.

[2022-09-09 18:12] Mihai-QuickSilverDev commented on #12225
@Mihai-QuickSilverDev Follow-up with Relationships team on status of SBC work.

[2022-09-09 18:42] severinbeauvais commented on #11091
Note that the Entity Info left side and the right side already wrap correctly, so making the right side longer (by adding the extension) is fine.

[2022-09-09 18:48] severinbeauvais commented on #13232
To whomever works on this: check with me before starting this as I am working on the Todo List refactor and it would be nice to not interfere with each other.

[2022-09-09 19:03] sarahelz19 commented on #12728
@Maribeth-Wilson I can add whatever screenshots you need - Let me know which ones you want and I will get you samples/screenshots

[2022-09-09 19:08] sarahelz19 commented on #11245
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/f2d1559f-8381-4f5f-901d-7f7e388ca2b9)

[2022-09-09 19:14] sarahelz19 commented on #11969
Search demo/access in training prep ready for Sept. 14,2022
-

[2022-09-09 19:25] Mihai-QuickSilverDev commented on #12728
@sarahelz19 @davemck513 I have done some preliminary work on this and I will have an update ready for Monday morning. Please wait until then, to prevent any duplication of work.
@Maribeth-Wilson

[2022-09-09 19:29] Mihai-QuickSilverDev commented on #13535
@severinbeauvais @argush3 In light of the Benefit Companies data being maintained in both systems, the COLIN API needs to be updated to accommodate BEN corrections too.

Argus, please let me know if I am misunderstanding the scope.

[2022-09-09 19:45] #13252 closed

[2022-09-09 19:45] Mihai-QuickSilverDev opened #13564 "Expiry date not consistant, Namex, Name Request, Name Request Output"
Under “Manage my Name Request” -> “download results" button -> the pdf output doesn’t convert to UT so the expiry date is out by 1 day.

[2022-09-09 19:46] Mihai-QuickSilverDev commented on #13564
See https://app.zenhub.com/workspaces/ops-60f8556e05d25b0011468870/issues/bcgov-registries/ops-support/1306

[2022-09-09 19:49] sarahelz19 commented on #12728
@Mihai-QuickSilverDev @davemck513 @Maribeth-Wilson  I have an email to Yui to confirm that all screens/etc are static prior to our finalizing and publishing

[2022-09-09 19:53] daniwilliamson commented on #12937
@magszymanski, Dwayne and I have scheduled a partner engagement meeting with the local government division of the Ministry of Municipal Affairs on September 20.

[2022-09-09 19:57] argush3 commented on #13535
@severinbeauvais I've updated the description for this ticket to provide more background.  I think it's a bit too much work to pull it into this sprint.  If someone wants to tackle it they can though.

[2022-09-09 20:02] severinbeauvais commented on #13535
I agree with Argus and have pre-emptively tagged this to the next sprint instead. (We can change this at next Sprint Planning mtg.)

[2022-09-09 20:19] lekshmimallika-aot commented on #13153
@JohnamLane There are two things that are not handles as part of this ticket.
1. Showing the reason for the historical state ( This involves Legal API call )
2. Showing business name in the bread crumb and making it clickable for Post Purchase View. Need to analyze how to implement this. The current way is just pushing the URL param (identifier) to bread crumb.

Can we have two tickets to address

[2022-09-09 20:27] Mihai-QuickSilverDev commented on #13535
@davemck513 With COLIN coming to the LAB in the next 6 months or so, maybe a decision for Dave to make if we should do this work at all. The future few transactions that this work would apply to, could be datafixed as/when needed.

[2022-09-09 20:27] eve-git commented on #13494
Wait for UI design: what to display when the error occurs?

[2022-09-09 20:28] argush3 opened #13565 "Filings UI no longer shows conversion todo for business with missing required business info"
#### To Do List:

- [x] Display applicable warnings. **These are now alerts in their own section above the Todo list.**
- [x] Inform client/staff about missing mandatory business info in a To Do list. **Only staff will see the conversion todo item, which is where the warning messsages are listed.**
- [x] Verify that regular users can't do anything when there is a new or draft conversion filing.

#

[2022-09-09 20:39] zac-broitman commented on #13017
@JohnamLane @lekshmimallika-aot It looks like they don't have an FAQ page, they are checking to see if another page would make more sense than the landing page. We can proceed with the landing page URL for the Learn More link until they tell us otherwise.

[2022-09-09 20:41] magszymanski commented on #12937
Awesome!! Then we can work on a direction for the list of munis you have identified. Let me know when I can step in to help!

[2022-09-09 20:43] magszymanski commented on #13359
@sarahelz19 I think the intent was to update the Address Change BC (ACBC) site in time for go live. I will change the title and will add this to our list for discussion on Monday. Thanks!

[2022-09-09 20:44] severinbeauvais commented on #13494
I think you can show the "unable to start registration" message in this case.

Please also verify that the other network calls are handled if the network is down.

[2022-09-09 20:49] sarahelz19 commented on #13359
@magszymanski @trishreimer
There are several requirements:
The screenshot above is the address page in SOFI - it references SoleProp/General Partnerships:
- [ ] Update verbiage to redirect user with "you can access your address change via BC REgistries - URL... or? (email sent to Dave, Linda, Trish
- [ ]  revise One Stop URL for landing page for registration in Modernization - confirm which page w

[2022-09-09 20:59] argush3 opened #13566 "legal api - GET on business endpoint fails for some data loaded firms"
example firms: FM0632494, FM0272576, FM0165240, FM0278254, FM0367712

fails here: https://github.com/bcgov/lear/blob/3557f7f80a4eee28b3c2937fec35e3e58fb5a246/legal-api/src/legal_api/resources/v2/business/business.py#L65

need to determine why legal api business endpoint fails for these firms.

![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/14251d53-f1f1-41c5-96a5-037b56

[2022-09-09 21:01] sarahelz19 commented on #13359
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/52f3bd33-ca74-4e3e-b879-ea400abdf466)

[2022-09-09 21:21] argush3 commented on #13565
cc: @davemck513 @Mihai-QuickSilverDev @jdyck-fw

[2022-09-09 21:39] chdivyareddy opened #13567 "MH Registration - Editing 'Sole Ownership' changes Home Tenancy Type to 'Tenants In Common'"
## AC
GIVEN I am adding Home Owners to MH Registration process
WHEN I edit an Individual person/Organization to the Home Owners list without adding Groups
THEN the Tenancy type of 'Sole Ownership/Joint Tenants' does not change to 'Tenants in Common'

- [x] Initially, when a user enters an Individual person/Organization to the Home Owners list without adding Groups, the Tenancy type is displayed as

[2022-09-09 21:52] argush3 commented on #13566
cc: @davemck513 @Mihai-QuickSilverDev @jdyck-fw

[2022-09-09 22:03] Mihai-QuickSilverDev opened #13568 "Business Start Date information is missing from the Business Summary"
1. A firm has the Business Start Date populated in the database and
2. Business Start Date information is missing from the Business Summary

[https://app.zenhub.com/files/157936592/268fddf4-786d-499c-97e5-7205850f5050/download](https://app.zenhub.com/files/157936592/268fddf4-786d-499c-97e5-7205850f5050/download)

[https://app.zenhub.com/files/157936592/a84d8b9e-3164-4376-a871-254a5eec1433/download

[2022-09-09 22:39] severinbeauvais commented on #13565
I only see code to handle compliance warnings, ie,
[code]

Also, if a conversion todo item is required then it should be provided by the Legal API in the tasks response -- but I don't see any TodoList handling for it (as in, it ignores it), ie,
https://github.com/bcgov/business-filings-ui/blob/74fc5d3ff397a7a70347d23c0d83e8604a37c365/src/components/Dashboard/TodoList.vue#L772

[2022-09-09 22:46] argush3 commented on #13565
This is weird.  Feels like code has reverted or something.

[2022-09-09 22:49] severinbeauvais commented on #13565
I think that, previously, the code did something on all warning, and now it only looks at COMPLIANCE warning.

[2022-09-09 22:52] argush3 commented on #13565
now i remember, yes that compliance warning not showing up is correct functionality.  the issue is that the UI is not indicating a conversion filing is required.

[2022-09-09 22:54] Mihai-QuickSilverDev commented on #13565
Is this the culprit?

Legal api - remove compliance warnings from business endpoint response
#13381

From: Argus Chiu ***@***.***>
Sent: September 9, 2022 3:53 PM
To: bcgov/entity ***@***.***>
Cc: Dinu, Mihai CITZ:EX ***@***.***>; Mention ***@***.***>
Subject: Re: [bcgov/entity] UI no longer flags a business with missing required business info (Issue #13565)

[EXTERNAL] This email came from an ext

[2022-09-09 22:58] severinbeauvais commented on #13565
The UI does not have code to load a Conversion todo item.

[2022-09-09 23:02] #13221 closed

[2022-09-09 23:03] argush3 commented on #13565
Relationships did that work to load it though...where did it go?

[2022-09-09 23:14] severinbeauvais commented on #13565
I see no TodoList.vue code to handle a Conversion todo item (and I've gone back to May 24 in the commit history).

[2022-09-09 23:21] argush3 commented on #13565
I just remember Faiz working on

I don't think this is the issue Mihai.  I mean we haven't even done the work in 13381

[2022-09-09 23:23] argush3 commented on #13565
I don't think this is the issue Mihai.  I mean we haven't even done the work in #13381

[2022-09-09 23:23] severinbeauvais commented on #13565
@Mihai-QuickSilverDev The Legal API correctly provides a "conversion todo" in the tasks response, but the Filings UI does nothing with that.

It could probably be implemented as a 3-pointer. A UI design would be nice but we could copy what we do for the Annual Report todo item.

[2022-09-09 23:28] argush3 commented on #13565
@Mihai-QuickSilverDev you should also confirm with the business whether the "conversion todo" is still required.

[2022-09-09 23:36] JohnamLane opened #13569 "API Gateway site - API documentation"
On this page, the version numbers of the APIs need to be updated:
https://developer.bcregistry.daxiom.ca/apis-summary/

On this page, the instructions don't match the postman collection. The docs site is missing this call:

https://bcregistry-demo.apigee.io/docs/regsearchproxy/1/routes/businesses/%7Bidentifier%7D/requests/post

![image.png](https://images.zenhubusercontent.com/5a7391bd4b5806bc2bc5

[2022-09-10 00:32] magszymanski opened #13570 "OCM - Ask SRE to post an orange banner about OCT 24 releases in BC Reg app : Due: Oct 10"
Mags to update ticket with hyperlink for Learn More once tix 183 is complete

-----------------------------------------------------
When we went live with PPR, we posted an orange banner a the top in the BC Reg app (users would see this once logged in) alerting them that PPR is now live.

For Search & SP/GP, we should do the same one week before go-live, notifying users that these are launching on

[2022-09-10 15:29] Mihai-QuickSilverDev commented on #12507
1. Above I have updated the language from Scenarios to Steps. Scenarios might imply that we have the option to run one or another, whereas these are two steps that need to be run in succession.

[2022-09-12 13:06] seeker25 commented on #13430
Steven Chen has tested this as he's the person going to be using it

[2022-09-12 13:06] #13430 closed

[2022-09-12 13:12] seeker25 commented on #11055
Going to leave this out of the sprint until I look at this through 13055

[2022-09-12 15:35] kialj876 opened #13571 "Search Api - internal solr update endpoint"
Add a new PUT endpoint for updating solr docs. It will be given and then validate the full data for the solr doc (in case it is an COLIN business) and then update solr with it. Configure it as private to internal services in GCP.

- [ ] add endpoint / solr update logic
- [ ] structure / validate payload
- [ ] tests
- [ ] configure private gcp networking on endpoint (should allow our OCP IPs too)

[2022-09-12 15:37] kialj876 opened #13572 "Queue Service - search events listener"
Refer to `sbc-auth/queue_services/business-events-listener` for setup (it will be getting the same message payload and listening to the same publisher). Check for business change messages and then call the search-api to update the solr doc for the business.

- [x] build queue service framework
- [x] parse message / build payload for search api (will need to get data via legal-api)
- [x] error hand

[2022-09-12 15:37] kialj876 opened #13573 "COLIN - oracle sql pckg update"
We have existing oracle sql packages in `namex/nro-legacy/sql/object/...` that call the solr-feeder when a business state or name change happens. This will include updating the correct packages to call the solr-feeder when an owner change happens. A release will need to be added in `namex/nro-legacy/sql/release` and coordination with David Roberts to add the changes into CDEV/CTST/CPRD.

- [x] ide

[2022-09-12 15:38] kialj876 opened #13574 "Namex - solr feeder update"
Update the existing solr-feeder in `namex/solr-feeder` to call the new search-api endpoint to update search solr docs. It will need to pass the changed data from COLIN (it should have it in the payload it is given from the sql pckg call)

- [x] check for updating search else do existing path for namex solr update (update if needed for changes to given payload)
- [x] if search - call new search-api

[2022-09-12 16:03] jennyschan commented on #7213
Sept 06 - Discussed with Zac & Mihai and Mihai will follow up with Linda for instruction.
Sep 09 - Mihai emailed Linda: At he moment we do not a framework in place in the Modernization environment, for BC LTD, BC ULC and BC CCC.

As such, and in light of the up-coming COLIN migration to the Lab, I suggested in a BA meeting, that we only tackle “continuations in” for now for BC BEN companies, as th

[2022-09-12 16:20] #13266 closed

[2022-09-12 16:31] Mihai-QuickSilverDev opened #13575 "Changing a firm's NOB also changes the NOB in the original registration statement"
**Describe the bug in current situation**
1. Changing the Nature of Business, (NOB), at a later date, after the original registration, should not change the NOB in the original registration document.
2. The original registration document is a historical document that cannot be changed by later actions.

[2022-09-12 16:36] #13368 closed

[2022-09-12 16:43] #12571 closed

[2022-09-12 16:43] #13510 closed

[2022-09-12 16:59] jdyck-fw commented on #13565
Mihai will check with the business on this tomorrow.

[2022-09-12 17:04] severinbeauvais commented on #6168
I put this back in the sprint backlog while I look into something else.

[2022-09-12 17:06] severinbeauvais commented on #5039
See also #13232.

[2022-09-12 17:24] severinbeauvais opened #13576 "Upgrade from Vue2 to Vue3"
**Note that this description is a bit out of date -- some things are handled and there may be new things to resolved.**

## Description (Hypothesis):

As the ministry developing web features
I want to keep my software framework up to current releases
So that my software doesn't go stale and unsupported
And so that my software can take advantage of better code
And so that all my software projects c

[2022-09-12 17:39] severinbeauvais commented on #13576
FYI: @pwei1018 @cameron-freshworks @kialj876 @thorwolpert @davemck513

[2022-09-12 17:43] cameron-freshworks commented on #13576
@severinbeauvais
Thanks!
Edited to include PPR UI 👍

[2022-09-12 17:47] tlebedovich commented on #13473
@forgeuxGH5 @RFK250 - ready to review with staff

[2022-09-12 17:50] RFK250 commented on #13473
Great, thanks Tracey - we'll review at next grooming (Wednesday)

[2022-09-12 17:53] severinbeauvais opened #13577 "Estimate effort for Vue2 -> Vue3 upgrade"
- determine what's involved
- look into dependencies
- unit test impacts?
- QA impacts? (UX Assurance? full regression?)
- who should be involved
- how much work for 1 typical UI
- how much work for BCRS shared components?

[2022-09-12 18:14] jinghualicgi commented on #13519
Adding UI validation and make it required

[2022-09-12 18:39] jinghualicgi opened #13578 "Pre-release Checklist: SRE Sep12th Release"
Prior to moving into production, the following steps should be completed or confirmed:
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [x] Dev to ensure that the commit list is r

[2022-09-12 18:44] chdivyareddy commented on #13557
@RFK250 AC for this ticket has been updated. Please take a look, thanks!!

[2022-09-12 18:45] seeker25 opened #13579 "PAY-JOBS / PAYMENT-RECONCILIATION - PAD Payment Processing - 20K invoices stuck in APPROVED"
We have 21,223 invoices for PAD currently stuck in `APPROVED`, they aren't making it to their final state `PAID`

[2022-09-12 18:56] chdivyareddy commented on #13567
@RFK250 AC has been updated to this ticket. Please take a look, thanks!!

[2022-09-12 18:56] jinghualicgi commented on #12241
@davemck513 @Mihai-QuickSilverDev Please check above Eve's question and let us know your feedback, thanks cc: @jdyck-fw

[2022-09-12 19:00] jinghualicgi commented on #13187
@davemck513 @Mihai-QuickSilverDev  please review Patrick's comments above and let us know your feedback, thanks cc: @lmcclung

[2022-09-12 19:00] jinghualicgi commented on #11380
@davemck513 @Mihai-QuickSilverDev any update regarding this ticket? Thanks

[2022-09-12 19:10] tlebedovich commented on #13436
UXA - Max/invalid character validations seem to be in place. Will still need to add the additional validation to check if the Doc UD already exists in the system, which will be in this follow up ticket - https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13436

[2022-09-12 19:16] tlebedovich commented on #13519
@RFK250 - we probably don't need a design ticket, as the updates are pretty simple - but @forgeuxGH5  need to review and provide final error message if this required field is not filled in.  See example error message in ticket above

[2022-09-12 19:19] doug-lovett commented on #12783
Report examples attached below.
[https://app.zenhub.com/files/157936592/cbbca7b3-4d96-4b15-adfc-ff643562a627/download](https://app.zenhub.com/files/157936592/cbbca7b3-4d96-4b15-adfc-ff643562a627/download)

[https://app.zenhub.com/files/157936592/33f92a3e-4e14-492f-9b0c-b6dabe2f2c6d/download](https://app.zenhub.com/files/157936592/33f92a3e-4e14-492f-9b0c-b6dabe2f2c6d/download)

[Uploading... regist

[2022-09-12 19:28] severinbeauvais commented on #13577
### Severin's Notes

- assumes no refactoring to Composition API
- assumes no refactor of bcrs-shared-components for CSS rollup/build/minify
- assumes no refactor of bcrs-shared-components into pre-built binaries

[2022-09-12 19:38] argush3 commented on #13530
Ready for verification.  Have loaded following SP/GPs in DEV along with testing instructions where it makes sense to test the firm.

**Business office is missing an address(mailing or delivery)**
FM0501479, FM0546612 - verify business is able to load via UI

**Error loading business - 'NoneType' object has no attribute 'id’. **
FM0512101 - verify business is able to load via UI

**Error loading bu

[2022-09-12 19:39] ozamani9gh commented on #13578
@jinghualicgi changes have been pushed into PRODUCTION.

[2022-09-12 19:43] thorwolpert opened #13580 "BNI - Replacement Service"
Create the replacement service for the existing BNI services

[code]

[2022-09-12 19:44] sarahelz19 commented on #13549
@Maribeth-Wilson  @MeganFedora the training following schedule is as follows please confirm
Search Training:
Number of Sessions:  - 2x session 1 morning 60 mins - 1 afternoon 60 mins
Dates: October 18th 9am - October 19th 2pm
Attendees: BCOnline - BCRegistries - (Anne-Marie/Megan to supply attendees:

[2022-09-12 19:45] sarahelz19 commented on #13549
@Maribeth-Wilson @MeganFedora
SPGP Training
Number of Sessions: 2x sessions - 2 hours each session
Dates: October 12th, October 13th
Attendees: BCOnLine - BC Registries (Anne-Marie/Megan to supply attendees)

[2022-09-12 19:48] sarahelz19 commented on #13549
@Maribeth-Wilson @MeganFedora
Training Preview - Hands on
September 19th - SPGP Requirements meeting - repurpose - Hands on SP/GP - Sarah to lead (TBD)

[2022-09-12 19:50] sarahelz19 commented on #13549
@Maribeth-Wilson @MeganFedora
Training - review/Go live final review (SP/GP Search)
Date: October 20th - 10am
Attendees: BC Registries/BCOnline
Content: 15 minute review SP/GP - Change/Search

[2022-09-12 19:51] thorwolpert opened #13582 "Extend job on BCHub FTP, copy to GCP Cloud Storage"
- [x] Create Cloud Storage Bucket
- [x] Create retention & storage schedule
- [x] Create Service Account

- [ ] Update existing job to either:
a - Use **gsutil** to copy file to GCP Cloud Storage
~~b - Create python script to copy file to GCP~~

[2022-09-12 19:52] thorwolpert opened #13583 "CloudRun job to load BN message into BN DB"
Do we keep the raw XML message for reference?
Do we keep all the fields?

Message set:
[code]

These are the required fields:
[code]

- [x] Maybe decrypt file?
- [x] Parse BN Messages
- [x] Design DB Schema
- [ ] ~~Insert BN Message~~

***note** DB Design limited to mostly what we need for the current batch processing

[2022-09-12 19:54] thorwolpert opened #13584 "Put BN Message onto Q"
- [x] create CloudEvent for BN Move
- [x] Place on GCP PubSub

[2022-09-12 19:55] thorwolpert opened #13585 "BNI API GET BN Event"

[2022-09-12 20:00] tlebedovich commented on #13519
ok @RFK250 - description above should be enough for dev to work from

[2022-09-12 20:05] RFK250 commented on #13567
@chdivyareddy Isn't that the current state, i.e. the problem that needs fixing? Should it not ready something like "Then the tenancy type of sole ownership/joint tenants _does not_ change to Tenants in Common?

[2022-09-12 20:12] RFK250 commented on #13519
TY! :)

[2022-09-12 20:19] tlebedovich commented on #13114
@cameron-freshworks -

UXA for this needs to wait until Charles finishes his owner ticket as a number of bugs from Step 3 are appearing on the review and confirm screen so its to hard to review/pass this ticket.

In progress UXA list --

- [ ] Hide "Total Ownership Allocated" header/info for sole ownership and joint tenants (its only applicable for Tenants in Common ie once groups are added to the

[2022-09-12 20:29] chdivyareddy commented on #13567
@RFK250 Yes, that's the current state. I have updated it according to your comment, thanks:)

[2022-09-12 20:31] RFK250 commented on #13567
Okay, thanks Divya, will move into the backlog. :)

[2022-09-12 20:31] thorwolpert opened #13586 "Determine if file is encrypted, and how to manage it"
- [x] Determine if file is encrypted?
- [x] Can it be stored unencrypted, on encrypted storage?
- [x] Can it be sent as a clear text file?
- [x] Do we have to decrypt file as part of the file processing?
- [x] Are there test copies of the file? If not can we use prod files?
- [x] What OS does the FTP Host run (Linux, Windows, other)?
- [x] Is there an ED Diagram, or schema dump of the existing DB

[2022-09-12 20:33] severinbeauvais commented on #13232
I think we should defer/close this ticket, since it appears a bunch of unit test refactoring will be needed anyway to move our UI projects to Vue3.

Ref: https://test-utils.vuejs.org/migration/

I see two possible approaches:
1. update Filings UI to VTU 1 (not an alpha build) now, then update Filings UI unit tests to VTU 2
2. update Filings UI directly to VTU 2 as part of the [upgrade Vue2 to Vue3

[2022-09-12 20:35] chdivyareddy commented on #13546
@RFK250 Please take a look at the updated AC, thanks!

[2022-09-12 20:51] thorwolpert opened #13587 "Initial callback job"
- [x] Create minimal callback to _PATCH_ the business
- [x] Create PATCH message types for Business
- [x] Create File Ledger entry (Should this be a Registrars Notation)

[2022-09-12 22:14] tlebedovich commented on #13215
@chdivyareddy - ticket #13114 and #12541 need to be completed to close this ticket since there are a number of home owner step 3 and review screen bugs that need to be resolved before we can tested filing and paying for all the different owner types, but can move this along to RFQA for now as a single owner can pass through to file and pay stage. Should we create a new ticket for other owner types

[2022-09-12 22:28] cameron-freshworks commented on #13114
Sounds good! Will update as soon as possible.

[2022-09-12 22:32] RFK250 commented on #13546
Divya, is this more accurate? You had "owner/organization name" and I thought this was a bit clearer.

[2022-09-12 22:49] chdivyareddy commented on #13546
@RFK250 that's totally fine, it's clear now, thanks:)

[2022-09-12 23:00] chdivyareddy commented on #13397
Verified!

- When user enters letters or special characters:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b1774c8d-9621-4fb9-961e-296025c4d2f8)

- When user enters more than 8 digits:
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/a25b4033-96c9-4693-a765-c4ef793ea095)

- When user enters less than 8 digits:

![image.png](https://images.zenh

[2022-09-12 23:02] #11863 closed

[2022-09-12 23:02] #11865 closed

[2022-09-12 23:02] #12611 closed

[2022-09-12 23:06] chdivyareddy commented on #13215
@tlebedovich Sure, we can tackle the other owner types in a separate ticket once these are completed!

[2022-09-12 23:47] tlebedovich commented on #13153
UXA for you;

**Breadcrumb:**

- [ ] style fixes to breadcrumb to match to business registry/entities breadcrumb:
![Screen Shot 2022-09-12 at 3.34.50 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/3384f35f-f7aa-49d6-8ef5-bf24351ae0fd)
------

**Tombstone + Fee Summary:**

- [ ] align tombstone info with left edge of fee summary (keep in same spot for post-purchase screen)
-

[2022-09-12 23:47] chdivyareddy commented on #13260
Hey @cameron-freshworks , when the Cash or Cheque/BC Online option is selected in the payment and the maximum character validation/hint is not being displayed as the user types in. Please take a look, thanks!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/c4577d4d-4f1b-426a-8a5f-2d42fe48cd29)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2

[2022-09-13 00:54] doug-lovett commented on #13523
MHR search report example attached below with corrected watermark on the last page.

[https://app.zenhub.com/files/157936592/60eee859-cde8-4213-973a-c61f7ab916ab/download](https://app.zenhub.com/files/157936592/60eee859-cde8-4213-973a-c61f7ab916ab/download)

[2022-09-13 00:58] seeker25 commented on #13055
Related to #13579 I believe

[2022-09-13 00:59] seeker25 commented on #13021
Putting back to in progress, no way to confirm this is working without Rules / Memorandum done.

[2022-09-13 00:59] seeker25 commented on #13021
Putting back to in progress, no way to confirm this is working without Rules / Memorandum done.

[2022-09-13 01:57] lmcclung opened #13588 "Service Design & UX Research"
This ticket is to identify what UX Research we have completed and what we would like to conduct in future.  Please add your ideas here.

### Completed:
Authentication with Services Card - OXD
Cooperative Association
Benefit Company Incorporation Applications

### To do:

[2022-09-13 01:59] lmcclung commented on #13588
@davemck513 @JohnamLane @forgeuxGH5 @trishreimer

[2022-09-13 02:24] seeker25 commented on #13579
I've found about 18k invoices so far, for some reason they weren't ran in the reconciliation job. The logging has been upgrade a bit, so we can watch it closely.

This needs to be done carefully, because rerunning the reconciliation on the jobs can trigger NSF (total lockdown of ORG account).

I'll rebuild a new CSV file, upload it into minio and re-run it.

I've advised John and we'll go through

[2022-09-13 03:21] #13513 closed

[2022-09-13 14:19] argush3 opened #13589 "Verify - data issue: duplicate partner data"
FM0679354 fails to load via the SP/GP pipeline due to duplicate partner data.  The pipeline queries LEAR db as it applies filings in order to determine party ids used in the filing json.  In this scenario, since there is a duplicate partner, 2 results are returned, causing the pipeline to fail.

_FM0679354_
![image.png](https://images.zenhubusercontent.com/6051237afe2d5260845a7c1d/1e195c42-d84e-47

[2022-09-13 14:25] argush3 commented on #13589
@droberts27 would it be possible to remove one of the duplicate partners for FM0679354 for the next COLIN extract?

[2022-09-13 15:00] JohnamLane opened #13590 "API Terms of Use - Update to say King instead of Queen"
Due to the change in monarchy our TOS need to be updated.

I have sent this request to Jim Fowles. When we get the revised PDF, this ticket will be to upload it to the API site.

BA steps:
- [x] Update the PDF, to refer to "His Majesty the King..."
- [x] Determine best way to edit the PDF (Could start with this doc, but may be out of date)
[API Agreement (Revised December 3, 2021).docx](https://gi

[2022-09-13 15:24] cameron-freshworks commented on #13260
A pic from dev, i was under impression we didn't want this to validate until the user has hit Submit?

![Screen Shot 2022-09-13 at 8.24.12 AM.png](https://images.zenhubusercontent.com/5d4499a748a9f872c57d7094/2db295b5-bef9-4559-b29d-d45f80a7a248)

[2022-09-13 15:30] jinghualicgi opened #13591 "Assets: Sprint 14.6.1 Release"
**Ticket Naming Convention:** Example: Assets: Sprint 14.1.1 Release (1st release in Sprint14.1)

**Prior to moving into production, the following steps should be completed or confirmed:**
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft relea

[2022-09-13 15:31] jinghualicgi opened #13592 "Assets: Sprint 14.6.2 Release"
**Ticket Naming Convention:** Example: Assets: Sprint 14.1.1 Release (1st release in Sprint14.1)

**Prior to moving into production, the following steps should be completed or confirmed:**
- [x] Add release # to this ticket
- [x] Update version numbers in the code being released and list them here:
- [x] Ensure deployment steps are filled in - remove/replace placeholders
- [x] Create a draft relea

[2022-09-13 15:39] tlebedovich commented on #13260
@cameron-freshworks any min/max characters should be validated as the user types. required fields can be validated by the done button

[2022-09-13 15:42] tlebedovich commented on #13523
nice work @doug-lovett - looks great. on a related note, i noticed in this last example that the sub head is in all caps now, but it should be in title case as per the design if you can make that change back please.

![Screen Shot 2022-09-13 at 8.40.37 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/6d4d2125-42d2-48ab-9843-b803d593d885)

[2022-09-13 15:48] forgeuxGH5 commented on #13588
We did something similar a while ago for Carol - maybe a year or two? - putting together all of our research and customer engagement for a launch or something - I can't remember what it was for though. Anyone else remember that?

[2022-09-13 15:50] zac-broitman commented on #11395
@JohnamLane Yes that is correct. We should not need to create any roles with the staff using their ministry account. I will close this.

[2022-09-13 15:50] #11395 closed

[2022-09-13 16:05] JohnamLane commented on #13588
@lmcclung I put some suggestions under to do, but happy to discuss and remove if those are handled elsewhere.

[2022-09-13 16:08] ozamani9gh commented on #13384
@zac-broitman I added Rommel to entity github, and OCM Team.  Please ask him to accept the invites.

Download Chrome and Chrome Zenhub extension.  then ask him to copy this url in Chrome.
https://app.zenhub.com/workspaces/ocm-team-space-5db37ce273e8f70001d9e2b1/board.

It will redirect him to Zenhub signon, he should not put in his IDIR, but click the button that says.

Sign in with Github, sign i

[2022-09-13 16:11] zac-broitman opened #13593 "Bulk Invite ICBC Users"
ICBC needs 500+ invites sent out to their Claims account (6502). This has been done previously by Relationships, with Sumesh either using a script or Jupyter notebook to send the invites. See the attached excel file for the list of names and email addresses. The access level for the invites will be "User".

[https://app.zenhub.com/files/157936592/4d7a54b6-eb63-43ce-a73f-fd2f70bc86e0/download](http

[2022-09-13 16:13] eve-git commented on #13563
When cancelling the payment for a nr renewal, the invoices.invoice_status_code='CREATED'
When cancelling the payment for a nr upgrade, the invoices.invoice_status_code='DELETED', which causing no more upgrade action can be paid.

[2022-09-13 16:28] #13341 closed

[2022-09-13 16:28] #13227 closed

[2022-09-13 16:29] #13310 closed

[2022-09-13 16:29] #11783 closed

[2022-09-13 16:29] #11782 closed

[2022-09-13 16:29] #13217 closed

[2022-09-13 16:39] thorwolpert commented on #13576
https://v3-migration.vuejs.org/breaking-changes/ is a good thing to check ... esp when adding anything new

[2022-09-13 17:09] fareenr commented on #13352
13-Sept - sent email to Amanda notifying her of CSO release 19-Sept in new BC ROS

[2022-09-13 17:11] JohnamLane commented on #13593
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/13593?planning-poker) with Zenhub @kialj876 @ritvick @thorwolpert

[2022-09-13 17:16] JohnamLane commented on #13556
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/13556?planning-poker) with Zenhub @kialj876 @ritvick @thorwolpert

[2022-09-13 17:22] doug-lovett commented on #12783
@tlebedovich can you please attach the mail BC Registries Services grey footer here. Thanks.

[2022-09-13 17:27] tlebedovich commented on #12783
@doug-lovett - the bw footer logo? I have updated the design links at the top of this ticket - if you go to the BW Mail BC version ticket there is a link to download the BW logo

[2022-09-13 17:28] JohnamLane commented on #13569
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/13569?planning-poker) with Zenhub @thorwolpert @kialj876

[2022-09-13 17:33] janisrogers opened #13594 "Update search release date on PROD websites"
bcregistry.gov.bc.ca and the account setup page show end of summer 2022 as our available date. This should be changed to reflect the current date (either end of October, or October 24, 2022)

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/c811440f-db3a-4a8f-9b2d-97d3e672ab8e)

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/1490c825-9747-4680-

[2022-09-13 17:35] fareenr commented on #12152
12-Sep - followed up with Kyle, still not ready to send as timelines for MH Search external pilot not available

[2022-09-13 17:35] fareenr commented on #12150
12-Sep - BCOL mainframe announcement for CSO posted. BCOL landing page updates done with Court Services release announcement.

[2022-09-13 17:40] JohnamLane commented on #13572
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/13572?planning-poker) with Zenhub @lekshmimallika-aot @thorwolpert @kialj876 @seeker25 @Ashna-FreshWorks

[2022-09-13 17:46] fareenr commented on #12146
12-Sep - Final reminder sent to CSO Admins & Coords - saved in GCNotify templates

[2022-09-13 17:47] fareenr opened #13595 "Post What's new in BC ROS when Court Services available - Sep 19"

[2022-09-13 17:59] JohnamLane commented on #13573
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/13573?planning-poker) with Zenhub @thorwolpert @kialj876

[2022-09-13 18:06] severinbeauvais commented on #13577
_I'm still working on this. Please wait for this ticket to be Done before doing anything with this information._

### Imports to upgrade

[code]

[2022-09-13 18:06] severinbeauvais commented on #13577
_I'm still working on this. Please wait for this ticket to be Done before doing anything with this information._

### What needs to be refactored/redesigned

Ref: https://v3-migration.vuejs.org/breaking-changes/

Legend for my estimates:
_SMALL = 1 day or less_
_MEDIUM = more than a day but less than a week_
_LARGE = more than a week_

- use of `$on` and `$off` (SMALL)
- use of filters? see https:

[2022-09-13 18:07] severinbeauvais commented on #13577
_I'm still working on this. Please wait for this ticket to be Done before doing anything with this information._

### Steps

Ref: https://v3-migration.vuejs.org/migration-build.html#upgrade-workflow

Ref: https://cli.vuejs.org/migrations/migrate-from-v4.html

[2022-09-13 18:10] severinbeauvais commented on #13577
_I'm still working on this. Please wait for this ticket to be Done before doing anything with this information._

### Problems to solve

- incompatible bcrs-shared-components
- incompatible sbc-common-components
- incompatible pdfjs-dist
- incompatible vuex-module-decorators
- vuetify is still beta
- vue-class-component is still rc
- vue-property-decorator is still rc
- some decorators need to be

[2022-09-13 19:02] #13410 closed

[2022-09-13 19:42] fareenr commented on #13317
Site Registry demo planned for BCOL HD on 15-Sep

[2022-09-13 19:43] fareenr commented on #12557
14-Sep - MH Search demo provided to SBC MHR Search pilot staff. Asked to pilot in test env for 1.5 wks and provide feedback.
Also drafted SBC MH Search procedures.

[2022-09-13 19:44] fareenr commented on #11786
13-Sep - release of MHR/PPR enhancements sent to MHR Search pilot staff

[2022-09-13 20:16] vysakh-menon-aot opened #13596 "API Key for aca-py webhook"

[2022-09-13 20:52] chdivyareddy commented on #13215
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/b9344d6e-9535-4ed4-a770-afb2543398bc)

**POSTMAN Response:**
[code]

[2022-09-13 21:19] sarahelz19 opened #13597 "Search Fees in Ministry Account - need to reflect Fee's register - Sept 15th"
Search fees for Service BC are not accurate in TEST
Relationships team said raise a ticket and tag them (noted)
Search Fee's in test

![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/d79ad0c2-5aff-486f-822a-f83124c45440)
- [ ] Update required for review and overview presentations
- [ ] Fee's for Service BC Account - must remain status quo
- [ ] No updates to Garms etc for

[2022-09-13 21:27] ozamani9gh commented on #13384
I invited @rommel-agbay to rocketchat and i believe he has all the access he needs.   let me know if any further access is needed.   If not go ahead and close ticket

[2022-09-13 21:37] #13597 closed

[2022-09-13 21:41] sarahelz19 opened #13598 "Search Fee's Service BC Fee's are incorrect in TEST - Sept 15,2022"
Relationships team recommended new ticket:
Service BC Fee;s are published and remain status quo
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/ad033ed2-daab-4c6d-b0ec-0f3b09eeb859)

Fees in test:
![image.png](https://images.zenhubusercontent.com/627ad8803ff060c4363d5f62/800ba761-2270-4816-9e22-f411df217c48)

Dependency: Scheduled overviews/Demos' testing/training for Se

[2022-09-13 22:10] chdivyareddy commented on #13476
Verified in DEV!

- When a user enters a street number in the civic address with more than 6 characters in length, then the API handles it without any error:

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/178d4bdc-2643-4083-9799-7765103a8578)

**MHR Number: 150131**
![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/2ac1a45c-e4b7-49a5-9422-fff69

[2022-09-13 22:57] severinbeauvais commented on #13577
### Recommentations

tbd

[2022-09-13 23:16] JohnamLane commented on #13590
Latest from Jim:
Hi John, the new reference will now be to “His Majesty the King in Right of the Province of British Columbia”.  There are two places in the document where this change needs to be made.  May I assume you will do the substitution on the document template that you are using?

Jim

[2022-09-13 23:17] JohnamLane commented on #13590
A version of this doc lives on SharePoint, but may be out of date

[2022-09-14 03:21] seeker25 commented on #13055
There is some really strange behavior going on with this ticket here is an example of a line that is causing this job to error out:

![image.png](https://images.zenhubusercontent.com/624dc283b94fb62b04de4dcd/295b1c1d-aad8-40ad-8fc9-60ee587dc3b9)

[2022-09-14 03:23] seeker25 commented on #13512
@PCC199 We should move this out of the sprint, @vikasvermacertain is taking care of it. @JohnamLane to confirm.

[2022-09-14 03:33] #3284 closed

[2022-09-14 03:43] seeker25 opened #13599 "Report API - Performance stopgap - upgrade attempt"
I've created this ticket to do some small scale performance upgrades to the Report API as a stop gap until @doug-lovett's new document service is working.

It might be possible to use parts of this in the new document service..

The reasoning behind this is, there are quite a few sentry errors regarding name requests that aren't being resolved on sentry

At least this is what I've gathered from re

[2022-09-14 03:49] seeker25 commented on #13599
Took me about 4h to get this going, get Report API working and get real payloads tested.. Also had to tweak a few things to get it to work correctly.. it will take Ashna a bit to test

[2022-09-14 03:56] seeker25 commented on #13599
Setting this to 2, already spent 4h on it + Ashna's testing time

[2022-09-14 03:58] seeker25 commented on #13540
I've changed EJV Payment Processing -> Payment Processing

[2022-09-14 15:10] PatrickAHeath opened #13600 "PPR - Find and replace contact information to appropriate Phone Numbers and Email Addresses"
A/C
IF I am a client using the PPR application
WHEN I encounter an error or a modal displays with contact information for help
THEN the appropriate phone number and email address information is displayed

Contact information to be displayed:
Toll Free Phone Number:  1-877-526-1526
Local Phone Number:  250-387-7848
Email Address:  BCRegistries@gov.bc.ca

[2022-09-14 15:28] JohnamLane commented on #13512
Agreed @seeker25 I've removed the sprint label and moved it to backlog. Vikas will move this to his board

[2022-09-14 15:58] PCC199 commented on #13384
@ozamani9gh @zac-broitman If we are sure @rommel-agbay has everything he needs, we can close this ticket.

[2022-09-14 16:08] forgeuxGH5 opened #13601 "BUG - Phone number cursor move to the end of the input field when editing a phone number (all forms)"
When editing the phone number the cursor moves to the end of the input field without user placing it there.
Steps to reproduce:

1. Enter a complete phone number in Submitting Party or Owner
2. Erase the area code - enter a new area code
3. The cursor moves to the end of the input field after entering one or more characters

Impact: users may enter an incorrect phone number without realizing and w

[2022-09-14 16:08] forgeuxGH5 opened #13602 "BUG - Phone number cursor move to the end of the input field when editing a phone number (all forms)"
When editing the phone number the cursor moves to the end of the input field without user placing it there.
Steps to reproduce:

1. Enter a complete phone number in Submitting Party or Owner
2. Erase the area code - enter a new area code
3. The cursor moves to the end of the input field after entering one or more characters

Impact: users may enter an incorrect phone number without realizing and w

[2022-09-14 16:15] severinbeauvais commented on #13412
Please note that Special Resolution is implemented in Edit UI, so it should be a different (new) ticket.

[2022-09-14 16:20] #13509 closed

[2022-09-14 16:23] jdyck-fw commented on #13530
@argush3 - I'm assuming this one doesn't need to be tagged to a release, but please correct me if I'm wrong.

[2022-09-14 16:23] #13530 closed

[2022-09-14 16:24] #12689 closed

[2022-09-14 16:29] RFK250 opened #13603 "Consideration of liens in the transfer workflow"
## User Story
As a qualified supplier, I want to ensure that I don't submit a transfer application for a home that has a lien on it so that I can ensure my client is complying with their statutory responsibilities

[2022-09-14 16:35] fareenr opened #13604 "ServiceBC MHR Search trial"

[2022-09-14 16:37] fareenr commented on #13604
Kyle (PO) requested a Service BC trial for MHR Search.  This is not a pilot in Prod env due to issues with GL code updates needed in new Registry applic.

14-Sep - MH Search demo provided to 3 CSRs and SBC leads.  Asked to try out MHR search in the test env and provide feedback on new combo search by Sep 23.

[2022-09-14 16:45] RFK250 opened #13605 "Sprint Goals Backlog"
1. MHR users have the ability to add rows to their MHR dashboard (#13002)
2. MHR users can view the history of transactions related to a registration on their dashboard (#13005)
4. Staff have the basic ability to transfer ownership of a manufactured home
5. Manufacturers can submit, review and pay for a registration (for sole owner tenants(?)) (at a manufactured park(?)
6. Staff have the ability t

[2022-09-14 16:50] kialj876 commented on #12366
@JohnamLane as discussed we are not showing the 'not in good standing' label within the table as part of this ticket because it will require a lot more work / strategy as it is not something we store in SOLR.

Strategic options for completing this:
1. store this in solr -- will need to keep it updated and figure out all the triggers etc. in COLIN and we will need to trigger an event for this in LE

[2022-09-14 16:51] RFK250 opened #13606 "Add the "Added" badge after an owner is added"
AC:

GIVEN: I am a qualified supplier
WHEN: I am performing a transfer ownership
AND: I am adding a new sole owner
THEN: I see the added badge (just when there is no existing owners)
AND: I don't want to see this badge in MHR Registration Flow

DEV Notes:
This initial flow begins with a blank table (as if the user removed all current owners), and we just need to be able to add a single sole owner

[2022-09-14 17:10] RFK250 opened #13607 "UI - Transfer of ownership framework"
** GIVEN i am a qualified supplier... ** (BCREG0100)

GIVEN i want to start a Transfer of ownership
WHEN i navigate to my MHR Table
THEN i can click a button to start the filing

GIVEN i have started a transfer of ownership
WHEN i navigate to a new Transfer of ownership ROUTE
THEN i can see my template VIEW for the filing

GIVEN i have started a transfer of ownership
WHEN i navigate to the Transfe

[2022-09-14 17:12] RFK250 opened #13608 "API - Endpoint to save a transfer of sale/ownership"
GIVEN the UI submits a new request to a new API endpoint to create a transfer of ownership registration
WHEN the request passes all validation rules and security checks (verifying role in user token)
THEN
- the api will submit a pay api request with the appropriate fee code.
- the api will save the request data to the PPR PostreSQL database and the legacy DB2 database.
- the api will queue the reg

[2022-09-14 17:14] RFK250 opened #13609 "UI - Include home ownership components"
- Component to add (Existing)
- Component to review (Existing)
- Tie to store (NEW STORE MODEL)
- Filing submission (NEW API REQUEST)

GIVEN i am a QUALIFIED SUPPLIER filing a transfer of ownership
WHEN i navigate to my transfer of ownership flow
THEN i see the correct components in an empty state

GIVEN i am a QUALIFIED SUPPLIER completing a transfer of ownership
WHEN i review my changes
THEN i u

[2022-09-14 17:18] jinghualicgi commented on #13607
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13607?planning-poker) with Zenhub @doug-lovett @cameron-freshworks @ChasBoucher @owillborn @chdivyareddy

[2022-09-14 17:21] jinghualicgi commented on #13609
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13609?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @doug-lovett @owillborn

[2022-09-14 17:23] jinghualicgi commented on #13608
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/assets-team-space-61426544e7e2ea001d079597/issues/bcgov/entity/13608?planning-poker) with Zenhub @cameron-freshworks @ChasBoucher @chdivyareddy @doug-lovett @owillborn

[2022-09-14 17:28] RFK250 opened #13610 "UI Design - Qualified Supplier Transfer Output"
### Visual Design Comps:
https://projects.invisionapp.com/share/UF131EH0A6JR#/screens?browse

-------------

To Do:
- Qualified Supplier view

Examples:

### Qualified Supplier:

![image002.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/598a7ef0-5c00-4aa5-ad04-a367237c8dbb)

[https://app.zenhub.com/files/157936592/04615099-3661-479f-8e01-f7401efe7a68/download](https://app.zenhu

[2022-09-14 17:28] RFK250 commented on #13610
@tlebedovich

[2022-09-14 17:36] tlebedovich commented on #13610
@forgeuxGH5 @RFK250 @PatrickAHeath - can we groom this tomorrow in our grooming meeting just we can have it in our backlog to work on when we have time? Would like examples of legacy transfer outputs with different ownership transfer types and location types. And any requirements we have for this.

[2022-09-14 17:47] RFK250 commented on #13610
You bet! I'll reach out to Sharon for PDF samples

[2022-09-14 18:02] doug-lovett commented on #13523
This went to test with the latest deploy.

[2022-09-14 18:13] JohnamLane commented on #13302
John to confirm - Release date and date when we will get OCM materials from IDIM

[2022-09-14 18:19] seeker25 opened #13611 "PAY-API - Add launch darkly"
PAY-API - Add launch darkly, so we can control new features with feature flags

[2022-09-14 18:19] droberts27 commented on #13562
@argush3 I have updated the address_format_type to FOR.  All SP/GP addresses now have an address_format_type

[2022-09-14 18:22] argush3 commented on #13562
thanks, will verify with next extract

[2022-09-14 18:24] seeker25 opened #13612 "AUTH - Add launch darkly"
Add launch darkly to AUTH so we can control new features with feature flags

[2022-09-14 18:26] argush3 commented on #12272
closing for the moment.  will re-open if end up needing to do some work on this.

[2022-09-14 18:26] #12272 closed

[2022-09-14 18:55] ozamani9gh commented on #13427
@pwei1018 @thorwolpert

My humble attempt to create an RFC for Client Feedback.   please let me know what information i am missing, and if you are able to answer some of the cost/licensing points on the RFC.

https://github.com/ozamani9gh/entity/blob/13427_rfc_client_feedback/rfcs/rfc-client-feedbac.md

we can discuss at 1pm meeting if time permits

[2022-09-14 18:58] droberts27 commented on #13589
@argush3 If I delete an owner then they will be a GP with only one owner which is wrong.  Is it the business_name that is causing the duplicate?  If so I can delete the period at the end of the name so they will be different.

[2022-09-14 19:00] chdivyareddy commented on #13523
Verified in TEST!

**MHR Number: 107018**
[https://app.zenhub.com/files/157936592/920eb9ca-2ff0-4f6b-908e-08dc93c61ee9/download](https://app.zenhub.com/files/157936592/920eb9ca-2ff0-4f6b-908e-08dc93c61ee9/download)

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/fcc7ee7f-bdc1-48fc-94e9-3a32b861c502)

[2022-09-14 19:16] droberts27 commented on #13548
@argush3 If the bus_company_num is longer than 7 then do not append BC

[2022-09-14 19:19] argush3 commented on #13589
@droberts27 The issue is that both party records are basically identical.  When I try to process the parties for start event id=1017477040, the pipeline uses the party info from the parties that need to be brought forward as a starting point to reconstructing the filing json for the second event/filing.  As a part of this process, the filing json needs to have the LEAR party ids for each party.  T

[2022-09-14 19:23] argush3 commented on #13548
ok, I will make the appropriate updates in the pipeline.

[2022-09-14 19:29] seeker25 commented on #13501
Interesting I thought SBC-AUTH worked with IE.... I guess not

[2022-09-14 19:41] ozamani9gh commented on #13384
@PCC199 good from my end.  @zac-broitman can confirm if hes good to go

[2022-09-14 20:05] jinghualicgi commented on #12655
This need to be reviewed by entities, don't know how to fix it from business logic side

[2022-09-14 20:12] RFK250 commented on #13397
Great, thanks @cameron-freshworks and @chdivyareddy !

[2022-09-14 20:12] #13397 closed

[2022-09-14 20:13] #13523 closed

[2022-09-14 20:50] tlebedovich commented on #12783
@doug-lovett - Looking good. Would you have examples of the other location types -- 1) Strata or Non-Strata with PID and Legal Description string  2) Indian Reserve  3) Manufactured home park (just so I can see updated header)

Was the BW version with cover sheet coming in this ticket as well? That would be the one the staff would receive to their printing system.

UXA for colour UI version:

- [

[2022-09-14 21:11] droberts27 commented on #13545
@argush3 @Mihai-QuickSilverDev @davemck513 @lmcclung Ouch! Siddharth datafixed this July 20.  Unfortunately we are not able to update the corp_num to start with LP.  We now have 3 LPs with FM corp_num's that I am excluding:  'FM0116100','FM0437866','**FM0227525**'.

[2022-09-14 21:16] argush3 commented on #13545
great, thanks.  will mark this ticket as verify and confirm we are good when I get the next extract.

[2022-09-14 21:29] droberts27 commented on #13589
@argush3 I have removed the trailing period for ALLTUNE CAR CARE SERVICES INC  and  392403 B.C. LTD

[2022-09-14 21:40] argush3 commented on #13589
thanks.  will verify on next extract.

[2022-09-14 21:50] RFK250 commented on #13215
Woohoo! Thanks team! One step closer!

[2022-09-14 21:50] #13215 closed

[2022-09-14 21:50] #13476 closed

[2022-09-14 21:51] severinbeauvais commented on #13577
^^^ this was discussed at Vue3 Kickoff Meeting

cc: @cameron-freshworks @seeker25 @pwei1018 @kialj876 @thorwolpert @ozamani9

[2022-09-14 22:00] eve-git commented on #12655
The both issues, Resume Payment and recognition date are probably caused by delay of payments:

1. Resume Payment button is available when the payment status is pending. I wonder if the button can be disabled after payment submitted till payment complete or error occurred?

2. CP1003218 submitted payment at 20:39:23 on June 08, and the payment completed at 9:59:28 on Jun 09.  COLIN.corporation.rec

[2022-09-14 22:18] zac-broitman commented on #13384
Might as well confirm it here: @rommel-agbay it looks like you have access to the repo, do you also have RocketChat set up?

[2022-09-14 22:41] tlebedovich commented on #13495
@forgeuxGH5 - should this ticket be combined with #14493? Not sure what the difference is?

[2022-09-14 22:44] tlebedovich commented on #13337
@forgeuxGH5 - can this be combined with #13492?

[2022-09-14 23:31] rommel-agbay commented on #13384
in regards to tools and access, I think i'm good! @zac-broitman Rocketchat is setup :)

[2022-09-15 15:18] fareenr commented on #13064
15-Sep - requested @gprimeau to add Court Services Online hours of availability - may not be available Sundays 6 am - 9 am for regularly scheduled maintenance (according to Pat White)

[2022-09-15 15:24] #13384 closed

[2022-09-15 15:25] sarahelz19 opened #13613 "Service BC Ministry Account - Fee's not including the service Charge"
Ministry account for Service BC
When you go to file and pay = the service charge disappears and is not included in the total fee
Fee is 11.50 - but is calculated at $10 only

[2022-09-15 16:08] gprimeau commented on #13064
@fareenr  done.. moving this to closed

[2022-09-15 16:08] #13064 closed

[2022-09-15 16:14] RFK250 commented on #13411
@doug-lovett @jinghualicgi Let's please keep release tickets outside of the Sprint Backlog - Done pipeline as they muddy up our metrics. Maybe just keep them in the Backlog for now.

[2022-09-15 16:32] lekshmimallika-aot commented on #13163
![image.png](https://images.zenhubusercontent.com/5d1b92287dbee07d2cfbebf7/43434c29-335f-440f-be94-3f168907cd4d)

New URLs

[2022-09-15 16:33] doug-lovett commented on #12783
@tlebedovich attached below are examples of the UXA changes and the mail version of the registration report. The different location scenarios can be verified as part of QA from the UI.

The mail version will not be available until a new process is created to generate the reports. The report can be reviewed at that time.

[https://app.zenhub.com/files/157936592/621d0374-8133-4acc-9dfc-319370b62314/

[2022-09-15 16:37] Mihai-QuickSilverDev commented on #12655
split these into two different tickets.

[2022-09-15 16:39] #13256 closed

[2022-09-15 16:39] #13091 closed

[2022-09-15 16:39] #13017 closed

[2022-09-15 16:39] #13338 closed

[2022-09-15 17:07] severinbeauvais commented on #13554
Hi. Do we have answers to the question above?

[2022-09-15 17:11] #13411 closed

[2022-09-15 17:26] JohnamLane commented on #12711
ToDo (John)
- Common login component change needed to prevent users with no account from seeing the My Registries Dashboard (i.e. rando IDIR or rando BCeID)
- Further enhancements to handle people with zero products.

To be logged separately.

[2022-09-15 17:27] eve-git commented on #6610
I tested in DEV, and both NR request and upgrade fees are submitted refund. Here are the steps:
1. request a Name
2. upgrade the priority
3. click "Cancel and Refund" in existing NR page
4. checked the Invoice and Refunds table, both payments refunded.

Please verify. Please close the ticket if the bug no longer exist.

[2022-09-15 17:28] JohnamLane commented on #12711
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/relationships-team-space-61435c47e483c4000f08e9f6/issues/bcgov/entity/12711?planning-poker) with Zenhub @kialj876 @thorwolpert @lekshmimallika-aot @ritvick @Ashna-FreshWorks @seeker25 @MatthewCai2002

[2022-09-15 17:52] JohnamLane commented on #13500
Notes from grooming:
- Entities BA to ask business if it's ok to have common language for all ownership types (less complex)
- Entities dashboard change to remove logic and just show the message for all business types
- Search dashboard changes to match

@Mihai-QuickSilverDev Can you please confirm if you're able to get this new language approved?

`This business was dissolved on July 19, 2022 at

[2022-09-15 17:59] ritvick opened #13614 "Need Staff role related test suites in business create ui"
## What is the problem?
*
We need to entirely come up with a staff test suite where we can mount different components and verify that they display / hide the expected elements.

This tech debt item was created out of PR: https://github.com/bcgov/business-create-ui/pull/445

## What is the impact?
*

## Proposed solution
*

[2022-09-15 18:03] RFK250 opened #13615 "Sprint Goal 15.1"
### Qualified suppliers can save, and resume any owner combination (except for no tenancy situations) due to a sale

[2022-09-15 18:06] RFK250 opened #13616 "Sprint Goals 15.2"
### Qualified suppliers transferring a manufactured home due to sale can delete owner groups and view a review/confirm screen - 94%

## Design Tickets

Transfer Flow Visual Design Ticket - > https://app.zenhub.com/workspaces/design-team-space-6144b1bb15dbac0013e68828/issues/bcgov/entity/13729

MHR Registrations Table on Dashboard - > https://app.zenhub.com/workspaces/design-team-space-6144b1bb15db

[2022-09-15 18:08] owillborn commented on #13546
@chdivyareddy should I change the "Status" header to adapt to an owner or organization search result as well?
Thanks :)

[2022-09-15 18:15] severinbeauvais commented on #13412
#### Test Notes

_(moved here from description)_

We need to test if the completing party input fields are empty while registration if the logged in user is either staff or SBC staff ( Service BC org).

[2022-09-15 18:23] droberts27 commented on #13543
@argush3 I have done the updates you documented for FM0523012 except I did not delete corp_party_id 100368435.  The is a CONVFMRCP event and should be resolved when we resolve that issue.  Let me know and I will update the other 2 firms.

[2022-09-15 18:31] argush3 commented on #13543
@droberts27 I didn't actually mean for corp_party_id 100368435 to be deleted so that's good you didn't.  Those were just notes for myself to identify that the corp party was deleted via the CONVFMRCP event.  And yes, please update the other 2 firms.

[2022-09-15 18:32] chdivyareddy commented on #13546
@owillborn , the "Status" header in the UI is displayed as expected which is Registration status and Owner status. Currently, the PDF is displaying 'Registration status' in the header, but I believe we have a separate ticket to update the PDF status header, thanks:)

[2022-09-15 18:34] JohnamLane opened #13617 "Sites go-live task - update prod URL"
Sites has provided vanity URL that will be used when they go to production - https://esra.nrs.gov.bc.ca

Can this please be added to their tile in My Registries Dashboard and the BCRSO homepage.

Their go-live date is October 4th.

[2022-09-15 18:37] JohnamLane opened #13618 "Sites go-live - Issue Client id and secret code for SITE registry in KeyCloak"
Sites has this set up in Dev and Test. Can someone please create and share the client ID and secret for Production.

**plus API gateway key**

Contact is Mishra, Omprakash LWRS:EX <Omprakash.2.Mishra@gov.bc.ca>
+ Barrett Falk
+ Darren McKellar

Please do no email

Notes Sites go-live is October 4th.

[2022-09-15 18:38] argush3 commented on #12918
@droberts27 @lmcclung @Mihai-QuickSilverDev @davemck513 I'm still waiting on direction on what to do with these filings.  This has been awhile but I believe that although we talked about trying to map this to a change registration initially, we decided further investigation needed to happen.

[2022-09-15 18:56] #13163 closed

[2022-09-15 19:01] owillborn commented on #13546
@chdivyareddy So to confirm, the header that shows "Owner Status" in the UI screenshot above  should never change?
Thanks!

[2022-09-15 19:03] chdivyareddy commented on #13557
Verified!

![image.png](https://images.zenhubusercontent.com/60cd147b9008de277d1a6814/82156d56-4e31-4068-849c-f42076ab19a8)