[2021-02-24 16:54] Sienna-Blumstengel commented on #6236
@lmcclung @Kaineatthelab request from staff to resolve this issue

[2021-02-24 16:59] #6495 closed

[2021-02-24 17:00] #6568 closed

[2021-02-24 17:01] #6387 closed

[2021-02-24 17:01] mstanton1 commented on #6387
IDIR information has been provided to Karthik.

[2021-02-24 17:01] #6569 closed

[2021-02-24 17:02] Milan-Freshworks commented on #5776
@saravanpa-aot @shabeeb-aot I am still not getting the correct pdf. I got this pdf when trying to download the receipt which is not the expected behavior. ![Screen Shot 2021-02-24 at 9.01.09 AM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/cdb35a11-959d-4deb-aca7-f37673a06bb8)[https://app.zenhub.com/files/157936592/3bb230d6-3a6d-43b9-9936-f74b38c85d40/download](https://app.zen

[2021-02-24 17:03] mstanton1 commented on #6263
Cheryl has confirmed change of account name requests vary but generally BC Online receives 1 - 5 per day.

[2021-02-24 17:05] Sienna-Blumstengel commented on #6434
From IT OPS on Weds, Feb 17th:

[2021-02-24 17:18] jdyck-fw opened #6584 "Legal API validators for share structure"
Should use similar validators as IA and IA correction

[2021-02-24 17:19] Sienna-Blumstengel commented on #6236
Relating to my last comment:

Maybe we can use the sentry errors about unsuccessful emails!

Thor sent this email:

[2021-02-24 17:36] jdyck-fw opened #6585 "Create a validator for name translations"
- reference validators for name translation in IA and IA correction filing

**DEV Note: Validation/Done Button Updates are required for this ticket. Comps have been marked up with some validation notes and when to activate the "Done" buttons to trigger validations:**

### Updated Correction Name Translation Visual Design Comps:
https://projects.invisionapp.com/share/XB10A9SEWKVH#/screens?browse

#

[2021-02-24 17:46] Sienna-Blumstengel commented on #5025
SOmeone is going to use this sub-component that was made in [4891](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/4891), to complete [6236](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6236).

[2021-02-24 17:49] tlebedovich commented on #6546
@lmcclung - Here is the ticket for updated validation schemes and the button functions - I can review all this with you.

c/c @forgeuxGH5

[2021-02-24 17:50] Kaineatthelab commented on #6292
Initial stakeholder feedback is not to continue this as the saved searches should deal with this.

[2021-02-24 17:52] amit4610 opened #6586 "Use the updated back end"
### Who is this work for?
Entities & Names

### Summary
Relationships will be introducing government ministry accounts, meaning we will now have two IDIR flows. Clean up is required in the back end to support two distinct flows. Clean up is a part of #6578.

**Entities and names teams** - please update the common components and sbc auth (as in #6578) if you are using them

### Impact if you do not

[2021-02-24 17:55] tlebedovich opened #6587 "Alterations UI - Update/add validations for Change of Name and Change of Business Type + New Message Box"
**Updates to existing components:**

1) We need to add component level validations and activated "Done" buttons for both the Change of Name and Change of Business Type components that were already done.

2) We need to add a new yellow "Important Message" box to the Change of Business Type component

**Alteration Design Comps:**
https://projects.invisionapp.com/share/6EYT1CDGYVN#/screens?browse

[2021-02-24 17:55] Kaineatthelab commented on #6453
weekly reviews set up

[2021-02-24 17:57] Kaineatthelab commented on #6452
Janis is reviewing the feedback list and putting together a list, Research plan outline started.

[2021-02-24 17:57] tlebedovich commented on #6587
@lmcclung - Here is a design ticket to update the component specific validations for the Change of Name and Change of Business Type components that Cameron had already built.

And, Scott wanted to add an important message to the Change of Business Type so people don't make the change without knowing the importance of it:

![Screen Shot 2021-02-24 at 9.57.06 AM.png](https://images.zenhubusercontent

[2021-02-24 18:06] Kaineatthelab opened #6588 "Analysis"
- [ ] Describe method to accomplish search testing

[2021-02-24 18:06] Kaineatthelab opened #6589 "Batch Job Creation"
Automate the creation of batch jobs

[2021-02-24 18:06] Kaineatthelab opened #6590 "COPY IMS PROD into TEST"
- [ ] Check that stakeholders are cut off on Test access

[2021-02-24 18:08] mstanton1 opened #6591 "Change Title from Search Cooperatives to Search Business"
#### Description
On the staff dashboard the current search is titled Search Cooperatives. This title must be updated as we have since onboarded Benefit Companies and will continue to onboard additional entity types over time.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/271f2bdd-e38a-46dd-b31e-bf9a4ec23252)

Update to:
Search Entities
Enter the entity's Incorporation

[2021-02-24 18:14] mstanton1 opened #6592 "Include Account Admin Email(s) on User Screen for Suspended Account"
#### Description
When a business registry account is suspended, if a user of that account tries to access the account they are advised to contact their account administrator. With larger accounts users may not be aware of who the account administrator is. Identify who the account administrator(s) are on this screen.

https://preview.uxpin.com/c2946d02ba985391d52201cf9e93700f34b665a7#/pages/1354874

[2021-02-24 18:16] jyoti3286 commented on #2125
![Screen Shot 2021-02-23 at 2.01.45 PM.png](https://images.zenhubusercontent.com/5da610e0fc369f000178ab20/9d011e89-a9b9-4cb7-bdfc-fd15ecf13d36)

[2021-02-24 18:16] Kaineatthelab commented on #6232
we are working on this, this sprint

[2021-02-24 18:22] mstanton1 commented on #6583
Order number has been provided: 182823.

[2021-02-24 18:25] Kaineatthelab opened #6593 "Verify Premium Payment For PPR Choice"
- [ ] Verify Gov accounts and service card use for misc reg/crown charges
- [ ] Ability to chose between Business Reg and PPR etc...

[2021-02-24 18:26] mstanton1 opened #6594 "Confirm Terms of Service for Ministry Accounts"
#### Description
The current TOS is specific to basic or premium users. We may require a new TOS for ministry accounts, or additions in the existing TOS to accommodate ministry government accounts.

1. Amit to obtain copy of the TOS from BC Online
2. Jyoti or Melissa to work with legal to confirm approach.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations T

[2021-02-24 18:29] Sienna-Blumstengel opened #6595 "BC1238568 - FABLE HOME GOODS INC. - Alteration LTC > BEN"
#### ServiceNow incident:
No INC included in email

#### Contact information
Staff Name: Lance Hall
Staff Email: lance.hall@gov.bc.ca

#### Description
Affiliation info (mandatory - BC Registries account name or BCOL a/c): **713596**
Company email (mandatory): **vancorp@osler.com**
Company phone (optional): n/a
Filing date (date/time received at Registries. If email, time email received. If mail,

[2021-02-24 18:42] #6263 closed

[2021-02-24 18:46] karthik-aot commented on #6277
- Change type to N/A for non affiliated CPs
- Add CP number column for CP search results

[2021-02-24 18:48] amit4610 opened #6596 "Process flow FAS replacement"
Create a process flow for FAS replacement in the new world.
Old world is addressed in 6480

[2021-02-24 18:48] #6571 closed

[2021-02-24 18:49] Sienna-Blumstengel opened #6597 "BC1272634 - SIGNATURESET GIFTCO LTD. - Alteration LTD > BEN"
#### ServiceNow incident:
No INC number was included in the email
#### Contact information
Staff Name: Lance Hall
Staff Email: lance.hall@gov.bc.ca

#### Data changing as part of alteration
- **company type**
  - LTD ➡️   BEN
- **name**
  - SIGNATURESET GIFTCO LTD. ➡️   ~NR6388521~ NR4342596

- **share structure**
  - Remove "A Shares" class and add new class called "Class A voting Shares", 1000 m

[2021-02-24 18:57] Sienna-Blumstengel commented on #6597
THis is blocked becuase there is no affiliation info. I sent Lance an email asking for it.

[2021-02-24 19:09] mstanton1 commented on #5537
@Milan-Freshworks @amit4610 @mstanton1 please confirm if this is done in new account, edit account, NSF.

[2021-02-24 19:11] jyoti3286 opened #6598 "Sending the invite to create an Ministry Account"
* As a staff user if the Prime contact reaches out to create a Ministry Government account
* I want to send an invite to the Prime contact
* so that the prime contact is able to create an account

**Acceptance Criteria**

**Scenario 1: Initiate the invite**
* GIVEN that a Prime contact has reached out to create a ministry account
* WHEN I click on Create Account
* THEN I see an option for sending

[2021-02-24 19:21] tlebedovich commented on #6477
I have split this into two ready to go tickets -
#6546 - Validations + Button Updates
#6587 - Update Done button/validations for Change of Name and Business Type + adding message box to Change of Business Type

so I will close this ticket @forgeuxGH5

[2021-02-24 19:29] #5533 closed

[2021-02-24 19:54] kialj876 commented on #6559
@lmcclung @Sienna-Blumstengel this one is showing as approved in namex (it is not cancelled), however it is past the expiry date and it has not expired.
In oracle this one has not expired or been cancelled either, which is why it hasn't been updated in namex so it has somehting to do with the processes in NRO I believe. Can this be passed to someone in NRO?

[2021-02-24 19:54] gh20s commented on #6588
End goal is to produce an output for BAs to efficiently analyze results - Hoping to provide an output with jupyter / excel  (combination thereof or figuring out what works best for ba's)

 going to assess mechanicalsoup and my ability to scrape screens of ppr  or do a batch file

[2021-02-24 19:56] kialj876 commented on #6559
I reviewed the last 50 cancelled NRs just in case and they have all been removed from solr okay

[2021-02-24 19:59] severinbeauvais commented on #5110
Are users (or staff) allowed to correct an alteration filing?

[2021-02-24 20:05] kialj876 commented on #6559
#### events from oracle:
![Screen Shot 2021-02-24 at 12 02 57 PM](https://user-images.githubusercontent.com/16654897/109058917-70880100-7698-11eb-9310-147c89f12cf6.png)
#### events from postgres:
<img width="1109" alt="Screen Shot 2021-02-24 at 12 03 29 PM" src="https://user-images.githubusercontent.com/16654897/109058948-7d0c5980-7698-11eb-9142-686f2f3934b0.png">

[2021-02-24 20:24] lmcclung commented on #6597
I checked NoA on SOFI and updated share class information in ticket description.

[2021-02-24 21:29] rarmitag commented on #6434
I have pulled the COLIN data for AR 2019 and reset the most current year to 2019. The dashboard now shows 2020 AR needed.

[2021-02-24 21:46] severinbeauvais commented on #5166
@jordiwes @thorwolpert

The [alteration schema](https://github.com/bcgov/business-schemas/blob/master/src/registry_schemas/schemas/alteration.json) should look a lot like the [correction schema](https://github.com/bcgov/business-schemas/blob/master/src/registry_schemas/schemas/correction.json), including an object (path) for the "diff" between the old and new data.

However, the alteration filing

[2021-02-24 21:50] mstanton1 opened #6599 "Name Request Payments - Client Shows Charges, yet not in our system"
Refund

#### ServiceNow incident: INC0076515
#### Contact information
Staff Name: Debbie Blyth
Staff Email: Debbie.Blyth@gov.bc.ca

#### Description
The following list of name requests were submitted in error yesterday, using the NR application.  We have processed NR 7193684 and cancelled the rest.

The following were cancelled in Namex:

•	8776756
•	6777678
•	7157661
•	0637261
•	4745840
•	2901901

[2021-02-24 21:51] mstanton1 commented on #6599
Client has provided screenshot of charges from TD account. Only one charge was located in our system so the following was sent to CASHelp on Feb 17th:

Good Morning,

Can you assist in looking into the following payment issue?

A client reached out to our office after placing 7 priority name reservation requests. While submitting them the payment was coming back as incomplete so the client continu

[2021-02-24 21:52] mstanton1 commented on #6599
On Feb 22nd we were given the following update from Tara:

I reached out to PT and they only see the one charge as well, they have reached out to TD for them to investigate.  I will update once I hear more

I have asked that Debbie advise the client of the status.

[2021-02-24 21:53] amit4610 commented on #6409
7. NR 9395816 - followed up with IT Ops to see whether the client was charged

[2021-02-24 22:12] mstanton1 commented on #6580
@trishreimer just to confirm, there were approved by GCPE? If so I will assign to our UX/UI to look at where they could live within the app.

[2021-02-24 22:21] Sienna-Blumstengel opened #6600 "Cancellation/Removal of Numerous NR's"
#### ServiceNow incident:
No incident included in email

#### Contact information
Staff Name: Debbie Blyth
Staff Email: debbie.blyth@gov.bc.ca

#### Description

**Email from Debbie**

**Email from Vikas Verma, IT Ops**

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add

[2021-02-24 22:27] Sienna-Blumstengel commented on #6559
@lmcclung who is familiar with NRO that we can pass this off to?

[2021-02-24 22:34] severinbeauvais opened #6601 "PAYBC status is not fetched (network error) when user navigates directly to entity dashboard instead of first to home page"
**Describe the bug in current situation**
If a user navigates directly to their entity dashboard (eg, https://dev.bcregistry.ca/business/BC1230072/) then their console will show the following error, and presumably the PAYBC status is not fetched to report to the user.

![PAYBC not found.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/7718e661-ad2e-4361-9807-0835094cf840)

Appare

[2021-02-24 22:37] severinbeauvais commented on #6601
If user navigates to the entity directly:

![navigate to entity first.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/653f850a-a009-449d-8a7c-07cc83247d3f)

If the user navigates to the home page first, then the entity:

![navigate to home page first.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/8d5588b3-0746-4c7c-9aa1-9b1192f719d3)

[2021-02-24 22:50] rarmitag commented on #6558
incorporationApplications have been brought across for 4 co-ops, 2376, 77, 78 and 79

[2021-02-24 22:54] Sienna-Blumstengel opened #6602 "OCM - Registrar's Notation / Registrar's Order / Court Order"

[2021-02-24 23:35] tlebedovich commented on #6585
hi @jordiwes - I've linked to the design comps for both of the Name Translation tickets you are on. LMK if you have any questions as you go, and please move to UX Assurance for Design review when you are ready. Thank you!

[2021-02-24 23:36] tlebedovich commented on #5028
@jordiwes - please see my notes above.

[2021-02-24 23:40] tlebedovich commented on #5274
Hi @andrepestana-aot - looks good to me, I've moved it onto QA, thanks!

[2021-02-24 23:48] tlebedovich commented on #6381
@forgeuxGH5 - I just added your remaining Alterations wording and dashboard items to the to do list above from another ticket which I'm going to close because I tool most of it out already.

[2021-02-25 00:03] amit4610 commented on #6412
email sent to staff. Latest statements video - https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3666

latest payment video -: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3667

[2021-02-25 00:03] #6412 closed

[2021-02-25 00:12] lmcclung commented on #6449
@rarmitag Looks like something went wrong when you filed the alteration - it's not showing as a Benefit Company in CPRD database.  Can you work with David R to resolve?  Do you still have Service Now access and can create a ticket?

[2021-02-25 00:34] thorwolpert commented on #5166
As discussed in RC, this does not need the diff block, the required data is already in the submission.

[2021-02-25 00:34] #5166 closed

[2021-02-25 00:36] #6258 closed

[2021-02-25 00:45] rkim13103 opened #6603 "Usability Test for Government N type Account Creation"
## Usability Test for Government N type Account Creation:
- [ ] Recruitment
- [ ] Conduct Usability Test
- [ ] Debriefing Session
- [ ] Generate Insights

[2021-02-25 00:51] saravanpa-aot commented on #5537
@shabeeb-aot will verify if the coding is done to reflect in all the pages.If thats the case , he wil move this to QA so that milan can verify

[2021-02-25 00:56] shabeeb-aot commented on #5537
its working in new account, edit account, NSF.

[2021-02-25 00:59] shabeeb-aot commented on #6550
Remove the condition to check already existing in session storage. So flag will reflect on page reload.

Its best practice  to remove from session storage itself. May be we can do later.

[2021-02-25 01:39] Milan-Freshworks commented on #6121
Icon has been fixed.

[2021-02-25 01:59] Milan-Freshworks commented on #5776
@saravanpa-aot @shabeeb-aot
Expected design
![Screen Shot 2021-02-24 at 5.46.20 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/0fb82ec9-e6b7-409d-91f7-696eb6dac2cb)
Actual design
![Screen Shot 2021-02-24 at 5.58.15 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/22be42ed-0ea4-4624-aaf1-9c0c5dd2d5f6)

There is a difference in the information generated in

[2021-02-25 02:06] Milan-Freshworks commented on #5537
@shabeeb-aot
Update PAD
The design mentions details about Transit number, Bank number like 5 digits, 3 digits, etc for point 2,3,4 under the cheque which is missing in the actual screen.

Expected
![Screen Shot 2021-02-24 at 6.04.53 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/f3d93240-cd06-4b51-8e97-458b39e8c336)

Actual
![Screen Shot 2021-02-24 at 6.03.03 PM.png](https:/

[2021-02-25 02:47] lmcclung commented on #6559
@Sienna-Blumstengel you can send an email to the home team BAs - ServiceBC.BATeam@gov.bc.ca ?  Forward the one from IT Ops, and include Kial's comments and screen shots.  From what I can see is, why didn't the names database move it from COMPLETED to Expired. They could do some triage and then forward to DBA/Devs for any further action.

FYI, D = Draft (after user paid), H = Held (examiner looked

[2021-02-25 05:43] jyoti3286 opened #6604 "Incorporate Passcode Reset Feedback"
**Cameron's Feedback:**

1)	On both reset for affiliated and unaffiliated accounts we would like to have the option of “adding another email” removed.  Having one email to send a passcode to is fine.  We will only be emailing to the email that is attached to an account for which there can only be one.
2)	Roy had showed us wireframes for temporary users being given access for 24 hour period.  Is th

[2021-02-25 06:39] Milan-Freshworks commented on #6277
It has been tested and there is a question about the UI when 'X' mark next to the email in Generate Passcode modal is clicked which needs to be confirmed with the designers.

[2021-02-25 06:51] karthik-aot commented on #6277
@Milan-Freshworks
I was speaking with Roy about this and we decided to add a X button from the second email box as atleast 1 is necessary. The 'X' icon is similar to "add team members" modal

[2021-02-25 07:19] Milan-Freshworks commented on #5776
![Screen Shot 2021-02-24 at 11.16.44 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/d28845a2-70c2-4248-9ad1-c793fc02ca6c)

As per Jyoti's comment, there should be a title Payment Authorization in the PDF. The current generated PDF has the title 'Receipt'.

[2021-02-25 15:38] jeznorth commented on #6167
Can someone clarify this list as acceptance criteria?

[2021-02-25 15:56] rarmitag commented on #6449
No, this was just my mistake - uncommented COMP instead of BCOMP - need to ask Kial how to fix that

[2021-02-25 16:20] kialj876 commented on #6559
C = cancelled? Okay in that case I guess it was cancelled in NRO and never updated in namex for some reason. Not sure if that is an existing thing -- I thought all cancellations were supposed to happen in NameX?

[2021-02-25 16:27] mstanton1 commented on #6167
List above is accurate. CIBC is expected to be ready Mar 6th with TD following in early April.

[2021-02-25 16:29] lmcclung commented on #6559
@Sienna-Blumstengel hold off contacting BA team.  @kialj876 that means it is something the lab needs to sort out, because oracle has the right info, right/

[2021-02-25 16:37] kialj876 commented on #6559
I guess so. I don't know if it's a bug though -- all actions on NRs are supposed to happen starting in namex now right? So staff should not have cancelled the NR in NRO, they should have cancelled it in Namex (I think that's what the process is supposed to be, maybe I'm wrong)

[2021-02-25 16:50] gh20s commented on #6588
I will make some tickets to
1 - evaluate mechanical soup and apply it to ppr screen scraping - does this work?
2 - flesh out plan to accomplish search testing and make a coherent big picture for what I hope to accomplish and receive feedback if correct direction

[2021-02-25 16:53] kialj876 commented on #6559
Yeah I checked the code quickly that sends stuff back to namex from NRO hasn't been changed in 2 years and I'm pretty sure it only checks for NRs being consumed, expired or new ones in draft (might want to double check this with thor or try it in dev/test to confirm)

[2021-02-25 16:59] doug-lovett opened #6605 "API Gateway complete testing of prod configuration"
The API Gateway production configuration pointing at keycloak prod. Valid keycloak credentials for testing.

- [ ] For PRO Data direct consumers of the ppr-api, an account ID and client id, secret are required.
- [ ] For the ppr-ui consumer of the ppr-api, an account ID and credentials to generate a JWT are required.

[2021-02-25 17:01] #4827 closed

[2021-02-25 17:14] lmcclung commented on #6449
@rarmitag info from Ops channel that might help you.
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/6f78b4d9-d98e-4f02-bf65-ede49333854a)

[2021-02-25 17:29] lmcclung commented on #5683
Emailed Julie/Amber requesting they just add a detail since client has subsequently filed another director change.

[2021-02-25 17:30] #6153 closed

[2021-02-25 17:30] #6292 closed

[2021-02-25 17:30] #6293 closed

[2021-02-25 17:30] #6361 closed

[2021-02-25 17:30] #6363 closed

[2021-02-25 17:30] #6441 closed

[2021-02-25 17:30] #6453 closed

[2021-02-25 17:44] Kaineatthelab opened #6606 "Payment is received and the NR is approved push the status in name request"
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/3e21e5dc-249f-45f1-8c3a-b875c8be91be)

[2021-02-25 17:46] jdyck-fw commented on #6597
Likely blocked until March 1st

[2021-02-25 17:47] Milan-Freshworks commented on #5537
@jeznorth Just wanted to confirm if the actual screen is as per updated design based on design meetings.

[2021-02-25 17:58] Sienna-Blumstengel opened #6607 "NR Refunds - Feb 25 - Mar 3"
1. - [ ]  NR 9088148 (INC0077923)
2. - [ ] NR4001243 (INC0077923)
3. - [ ] NR3185339 (INC0078193)
4. - [ ] NR6739344 - please refund the priority fee of $101.50
5. - [ ] NR 7874646  &  NR 5818026 (INC0078460)
6. - [ ] NR 2381885 (INC0078494)
7. - [ ] NR 2609558 (INC0078497)
8. - [ ] NR 2265565 (INC0078529)
9. - [ ] NR 0269172 (INC0077712) **Client’s name:** CARRIE LAUREN  LEE  MIRANDA.  **Phone:**

[2021-02-25 18:09] #6606 closed

[2021-02-25 18:16] severinbeauvais commented on #6403
Hi. Could I get example of a future effective alteration, and a future effective pending alteration? Thx.

[2021-02-25 18:42] tlebedovich commented on #6403
Hi @severinbeauvais - Are you talking about the Staff Review & Certify page or Dashboard?

I've added Comp "10c Staff Review Payment - Entered" to the link above that shows a future effective alteration date for the review and certify page - is this what you were looking for? Once the date is selected, a confirmation message appears below. I also just bolded the intro copy where it mentions the ad

[2021-02-25 18:48] severinbeauvais commented on #6403
Thanks Tracey.

Could I please get an example for the Filing History List (aka ledger aka Entity Dashboard)?

[2021-02-25 18:49] stevenc987 commented on #6516
@amit4610 @mstanton1
3. NR 5095393 (INC0075079). Please confirm if there was a duplicate charge. If so the client should be reimbursed for all but one of the charges.  ==>the client only paid once at $31.5 so we don't need to refund.
4. NR 8991883 (INC0077495). Please refund the priority fee of $101.50. ==>the client paid $131.50 in transaction. I can't refund portion of fees. @mstanton1, please w

[2021-02-25 18:56] tlebedovich commented on #6164
@jordiwes - So I had a look in DEV and a couple things that need your attention please:

1) The Estimate Review Date shown for me on a new NR I just made ->  (Dec 8th 2035 - 5399 days) and date shown in the tool tip (May 16th 2006) - > is clearly very off - is this because its just in the Dev environment? Is there a way to test that the wait time will actually be valid?

2) Please remove the "th"

[2021-02-25 18:59] Sienna-Blumstengel commented on #6434
Reviewed, looks good.
CLosing.

[2021-02-25 19:04] tlebedovich commented on #6337
@jordiwes - Is this just the back end ticket for the Summary Screen wait times updates?

[2021-02-25 19:07] Kaineatthelab commented on #6337
this should be the UI #6335 is the backend

[2021-02-25 19:09] tlebedovich commented on #6125
@lmcclung @Kaineatthelab - can we add this modal to a sprint so it gets completed so users have an explanation of what a Priority Request is?

[2021-02-25 19:13] Kaineatthelab commented on #6125
I would love to but the priorities right now are fixing name request architecture and stopping payment issues. The Project X piece may be able to deal with this, we should chat with Scott and come up with a game plan for these type of things.

[2021-02-25 19:13] tlebedovich commented on #6403
@forgeuxGH5 Can you please help Severin find what he needs for the Dashboard as mentioned above?

[2021-02-25 19:16] mstanton1 commented on #6580
As per Change Management Meeting Feb 25th we have been approved for a handful of videos. Proceed with work to identify location. Set up related ticket for dev effort.

[2021-02-25 19:18] riyazuddinsyed opened #6608 "Payment error screen appears for a moment after entering the cc information."
**Describe the bug in current situation**
When a user enters the CC information and makes a payment for any particular filing, while the payment is being processed and at the time of redirection to the entity dashboard the Payment error screen appears out of no reason.

**Impact of this bug**
All users making the filing.

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/busines

[2021-02-25 19:21] tlebedovich commented on #6125
Sounds good. Yes - I think a meeting to discuss the design plan and scope of Project X would be great.

[2021-02-25 19:29] mstanton1 commented on #5935
Close unless a need arises.

[2021-02-25 19:29] #5935 closed

[2021-02-25 19:30] mstanton1 commented on #5764
@lmcclung @Sienna-Blumstengel @amit4610 a thought discussed during our Relationships CM meeting was rather than producing a new document we do the following:

1. At the Change Management Checkpoint we display Staff Feedback label items to show we are tracking items sent our way.
2. At the demo we look to see what staff feedback items were implemented and even if there is nothing to demo, we should

[2021-02-25 20:03] Kaineatthelab opened #6609 "NameX NR Staff Look Up enhancement"
@Kial
Removed the requirement to show the account, added to the below ticket and do later with payment information. Go to test monday and prod if you can, @lmcclung will know what to do.

https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7479

## Story
* As a names examiner
* I want an improved search feature
* So that I can easily find all the NRs I need to aft

[2021-02-25 20:05] tlebedovich commented on #5027
@andrepestana-aot - I've attached the Design ticket - you can click into the Invision and then scroll down the see all the comps, and here is a direct link just to the Mailling/Delivery Address comp for you -- > https://invis.io/6EYT1CDGYVN#/445938807_00_Registered_Office_And_Records_Office

[2021-02-25 20:33] rarmitag commented on #6595
Ready for verification.
Data entered in notebook.
Checked in postgres.

[2021-02-25 20:35] rarmitag commented on #6449
Ready for verification.
Data manually adjusted in postgres to correct the incorrect alteration.
Checked in postgres.
David altered to BEN in COLIN.

[2021-02-25 21:06] riyazuddinsyed opened #6610 "Full refund for NR is not happening when a user upgrades the payment to priority."
**Describe the bug in current situation**

When a user files an NR with no priority and then Upgrade Payment and now the user cancels and asks for a Refund then the whole name request is cancelled and the refund of only 101.50$ which is initiated there by the user might loose 31.50$ as well as the NR

**Impact of this bug**
All users who have upgraded the payment and then cancelled the NR

Steps t

[2021-02-25 21:18] riyazuddinsyed opened #6611 "Filer not processing the filings in dev."
**Describe the bug in current situation**
When a user files an IA and makes a payment in the dev environment than the status of the filing is yet in PAID state even after a considerate amount of time

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/TmZtZ4Om9E'
2. Start an IA.
3. Complete the payment and return it to dashboard
4. See error

[2021-02-25 21:18] #732 closed

[2021-02-25 21:20] #4680 closed

[2021-02-25 21:36] severinbeauvais commented on #4589
Can this ticket be closed?

[2021-02-25 21:38] jdyck-fw commented on #6611
Closed as duplicate of https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6533

[2021-02-25 21:38] #6611 closed

[2021-02-25 21:42] Kaineatthelab commented on #6609
@janisrogers are you able detail what the search does in the background? Wondering if we can just copy the code or algorithm. The staff said the results are better then namex and also they have the date range function and client name.

@forgeuxGH5 fyi

[2021-02-25 21:46] lmcclung commented on #6608
Page disappears after a second.  Happens in all the apps - names and business registry
@mstanton1 can relationships take a look.  Not sure if this is causing confusion for users.
@riyazuddinsyed will try to make a video

[2021-02-25 21:48] severinbeauvais commented on #6608
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/3ade5b48-833d-4ece-8a00-8c0da6e7cffb)

[2021-02-25 21:48] trishreimer opened #6612 "Review wireframes with Cameron's team"
•	Wireframes/Designs - need to review asap. Linda to reach out to UX team.

[2021-02-25 21:50] severinbeauvais commented on #6608
@riyazuddinsyed What are you seeing?

For me, if I click Try Again then I go back to the CC page, but if I click Go Back then I go back to Namerequest UI with an incomplete payment. Seems OK?

[2021-02-25 21:50] trishreimer opened #6613 "TRAINING: Notice of Alteration"
Notice of Alterations - Training - (Cameron to confirm if Lance will be the champ) –March 31st.
* Peer led - Lance Alteration Champion.
* 1 session required - demo/walk through and hands-on.
  * Lance to take the team through the filing - how the client will file the application.
  * Hands-on
    * **Tentative training dates: March 24 or 25**
* CM team:
  * coordinate session and provide support t

[2021-02-25 21:50] Sienna-Blumstengel commented on #6516
@stevenc987 NR 1700864 does not seem to exist in our database. @thorwolpert investigated and couldn't find it. How did you refund it? Could it have been a mistake?

[2021-02-25 21:51] jdyck-fw commented on #6510
This sounds like a namex api problem. - sev

[2021-02-25 21:52] lmcclung commented on #6510
@Sienna-Blumstengel can you confirm payment/refund has been initiated and this is just a bug for investigating.

[2021-02-25 21:59] lmcclung opened #6614 "NAMEX API cleanup"
## Description:
- Short Description of the needed Epic in the below format

To collect all namex API and other backend issues

* As a (who/ person)
* I want (what/ goal)
* so that (why/ benefit proposal)
or
* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what is expected value and justification for priority.

[2021-02-25 22:01] stevenc987 commented on #6516
@Sienna-Blumstengel
![image](https://user-images.githubusercontent.com/25512847/109225292-ea3fed80-7771-11eb-9233-a72b69ed5267.png)

[2021-02-25 22:03] tlebedovich commented on #6164
Hey there @jordiwes  - In order to test #1 and make sure its working ok should we just wait for it to get merged into the TEST environment then?

Also, I just emptied my cache and looked my NR up again and the date is now missing from Estimated Review Time - not sure why...

![Screen Shot 2021-02-25 at 1 59 37 PM](https://user-images.githubusercontent.com/2207887/109225521-3a1eb480-7772-11eb-9189-

[2021-02-25 22:07] jdyck-fw commented on #6542
This is a timebox for the initial look into it to see what's going on.

[2021-02-25 22:10] amit4610 commented on #6516
Summarizing Action Items: Remaining ones are # 2, 4, 6, 13 and 14. Email sent to IT Ops.

1. NR 6817657 - INC0077140 - Refund requested
2. NR 3051223 - The client only paid once. **Please confirm that we still want to refund this payment. IT Ops?**
3. NR 5095393 (INC0075079). - The client only paid once at $31.5 so we don't need to refund.
4. NR 8991883 (INC0077495).  - The client paid $131.50 in

[2021-02-25 22:13] severinbeauvais opened #6615 "Should be able to correct an IA correction"
Currently, it is not possible to correct an IA correction, even though we should support this.

(This is explicitly disabled in a couple of places in the UI code, and the BE does not support this either.)

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/cab26049-9e4a-4715-997f-1fc7c072c205)

[2021-02-25 22:14] severinbeauvais commented on #6541
This original description has been split into 2. This ticket covers the first part. #6615 covers the second part.

[2021-02-25 22:17] jdyck-fw commented on #6528
Riyaz talked to Sumesh who said your team would look into this one @mstanton1

[2021-02-25 22:19] lmcclung opened #6616 "IA Correction issues to resolve"
Description:

To capture IA correction tickets

[2021-02-25 22:22] #6520 closed

[2021-02-25 22:23] severinbeauvais commented on #5749
Can this ticket be closed?

[2021-02-25 22:23] severinbeauvais commented on #5750
Can this ticket be closed?

[2021-02-25 22:23] severinbeauvais commented on #5752
Can this ticket be closed?

[2021-02-25 22:24] lmcclung commented on #6017
@thorwolpert we found a ticket for receipt timing issue which staff urgently wanted fixed.

[2021-02-25 22:24] Sienna-Blumstengel commented on #6559
@thorwolpert Can you confirm Kial's comments above?

[2021-02-25 22:25] lmcclung commented on #6490
closing as duplicate ticket

[2021-02-25 22:25] #6490 closed

[2021-02-25 22:26] Sienna-Blumstengel commented on #5764
Love it!

[2021-02-25 22:30] lmcclung commented on #6470
Verify if this is fixed by Project X

[2021-02-25 22:32] jdyck-fw commented on #6455
This is still happening, Sev just checked.

[2021-02-25 22:36] severinbeauvais commented on #6581
^^^ The plan is to add some of the existing NR bugs as "verify" tickets to ensure that the new code resolves them.

[2021-02-25 22:41] Sienna-Blumstengel commented on #6595
@rarmitag some fixes for you:

### FILED BY
In **SOFI** the alteration ledger item says:
FILED BY <name_of_person_filing>
Should say IDIR of person that filed it

Of the **BC Registry**, the ledger item says:
FILED BY Registry Staff
Should say IDIR of person that filed it (if a staff member is logged in. If client us logged it, it should say registry staff)
@kialj876 is that what is expected usual

[2021-02-25 22:50] severinbeauvais commented on #6541
I can do this with approx 0 effort as part of #5110.

[2021-02-25 22:51] mstanton1 opened #6617 "Update Email Recipient on NR Refund Request Email"
#### Description
When a client has a name request that has not been worked on they have the option to request a refund. Entities calls our API and we send the refund request email. Finance has asked that we change the recipient on this email:

Previously was sent to: CASHelp@gov.bc.ca, SBC_ITOperationsSupport@gov.bc.ca
Should be sent to: FIN.CASReconciliation@gov.bc.ca, SBC_ITOperationsSupport@gov

[2021-02-25 22:54] mstanton1 commented on #6617
This has been reviewed on the Registries side and there are no concerns.
Pending confirmation of new email address from Tara Whalen.

[2021-02-25 22:57] Milan-Freshworks commented on #5776
[https://app.zenhub.com/files/157936592/e3c3a413-641e-4883-9895-58936f7f77b6/download](https://app.zenhub.com/files/157936592/e3c3a413-641e-4883-9895-58936f7f77b6/download)

[2021-02-25 22:59] thorwolpert opened #6618 "LEAR: Support for technical filing corrections."
- [x] Create an RFC to support this work
- [x] Update the Legal-API
    - [x] core/Filings
    - [x] model/Filings
        - [x] db migration script
    - [ ] ~~reports/Filings (possibly already covered in core)~~
- [x] Update the Filer
- [ ] ~~Update the Colin Updater (possible covered by core/Filings)~~

** where possible the changes should be localized to the ```core/filings.py```

[2021-02-25 23:18] Sienna-Blumstengel commented on #6449
Looks good to me!

[2021-02-25 23:18] #6449 closed

[2021-02-25 23:31] Sienna-Blumstengel commented on #6510
Refunded as part of https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6473, this is just investigation @lmcclung

[2021-02-25 23:35] sumesh-aot commented on #6472
https://preview.uxpin.com/72abfc0404080c73a26b54fbf47e14c4322e2b20#/pages/137034772/simulate/no-panels
@rkim13103 @jyoti3286 There is NSF dropdown in this design, and during Grooming NSF was considered not to be part of this, but a future enhancement. In case of NSF we have other things to do on pay side, and it needs some research on how to handle the pending transactions. Can you confirm if NSF

[2021-02-25 23:40] rkim13103 commented on #6472
@sumesh-aot I got rid of the NSF option. and I'll add it back in after we do the research.

[2021-02-25 23:44] severinbeauvais commented on #6403
Could you also update the Dashboard uxpin to show the different alteration filing subtitles?

[2021-02-25 23:49] cameron-freshworks commented on #6581
Great idea!

[2021-02-26 00:06] severinbeauvais commented on #6403
Sample... does this look OK?

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/aae2f811-d15a-4da3-bea4-59ac8e6d692b)

[2021-02-26 00:14] severinbeauvais commented on #4575
The Title and Subtitle in the description, above, directly conflict with this uxpin.

https://preview.uxpin.com/62ac91b2c4745163586b730ec154e8ea024bd8ed#/pages/133498721/simulate/no-panels

Please let us know what you want to see in the Todo List and Filing History List. Thanks.

[2021-02-26 00:15] severinbeauvais commented on #6403
I found this uxpin, which looks more up to date.

Please update the links in the description, above, to prevent requirement conflicts and confusion. Thanks.

[2021-02-26 00:17] thorwolpert commented on #6017
need to check all the places it can get called from, hopefully just 1 ...

[2021-02-26 00:31] severinbeauvais commented on #5110
I'm blocked -- waiting for clarity on:
- how the alteration filing should display in the Filing History List (conflicting requirements)
- how to tell, from an alteration filing, whether it is part of an arrangement
- how to tell, from an alteration filing, what the court order number is

[2021-02-26 00:32] Milan-Freshworks commented on #5776
It has been tested and verified.

[https://app.zenhub.com/files/157936592/1f5d6971-8510-42f0-abb4-294b84aeacc2/download](https://app.zenhub.com/files/157936592/1f5d6971-8510-42f0-abb4-294b84aeacc2/download)

[2021-02-26 00:33] severinbeauvais commented on #5110
@jdyck-fw I've completed 98% of the work on this task, but it will be 10h by the time I finish it. The extra was due to chasing down requirements, and a bit of refactoring to make things shared between projects (ie, avoid further tech debt).

[2021-02-26 00:33] Milan-Freshworks commented on #5537
It has been tested and verified.

[2021-02-26 00:34] Milan-Freshworks commented on #6325
Scenario 4: This will not happen as per my conversation with Faiz.

Scenario 6-8: Test data not made available by Bamboora

Confirmed with Saravan that when 'Transaction timeout - No available device' error message appears in the console then UI is similar to that in scenario 9

PLEASE+TRY+AGAIN error message appears in the console then UI is similar to that in scenario 5![Screen Shot 2021-02-25 a

[2021-02-26 00:44] Milan-Freshworks commented on #6325
@sumesh-aot Based on Sumesh's comments the following has been tested

- PLEASE TRY AGAIN
- Declined
- Transaction timeout - No available device
- Validation Error
- Payment Canceled
- Approved

I have not been able to test the following due to lack of test data on bamboora

- Invalid Card Number
- Application Error - Sending Request
- Call for Auth
- Response from Beanstream is invalid due to modi

[2021-02-26 00:45] trishreimer opened #6620 "Debbie's team, Amber's team, and DBAs: Hands-on training"
(30 mins a day) - Submit NR’s until comfortable.

Notes > https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc=%7B47E2544F-E20C-42FB-9EE5-E59370703CCA%7D&file=PI%20Plan%20Change%20Impact%20Jan%20-%20May%202021.xlsx&action=default

CC Joanna Barnes to see if her team needs  training

[2021-02-26 00:49] sumesh-aot commented on #6325
Some of them are rare cases and I dont know whether we have test data for them. So may be we can skip them

[2021-02-26 00:51] Milan-Freshworks commented on #6325
It has been tested and verified.

[2021-02-26 00:55] #6515 closed

[2021-02-26 00:58] trishreimer opened #6621 "OCM - Transaction History in NameX"
Groups that need training:
- [ ] Debbie's team
- [ ] ~Cameron's team~

Would like Videos for all functionality. Revisit video needs with staff before and after implementation.

Namex - transaction history - all names staff (mid-April - tbc)
1.	Wireframe designs- review needed. Linda to coordinate.
2.	UAT Testing - before go live
1.	CM Team to coordinate.

[2021-02-26 01:00] trishreimer opened #6622 "Transaction History - 3 Hands on Training session before release"
Would like Videos for all functionality. Revisit video needs with staff before and after implementation.

Schedule it over 3 consecutive days before release, so everyone has time to join

[2021-02-26 01:06] trishreimer commented on #6613
I will schedule the actual hands-on/demo training that will be led by Lance.

If we are planning to go live March 31st, I would suggest we schedule training sessions with Lance the first week and second week in March @Sienna-Blumstengel @lmcclung
If you are busy, please let me know and I would be happy to assist with setting up these sessions, helping with getting materials ready, etc. Just let me

[2021-02-26 01:25] severinbeauvais commented on #6403
Note that there is a single "expand" action for items in the Filing History List, whereas the designs show both a Show Details button and a "View Draft Documents" / "View Documents" button.

Let me know if you really want two expansions (Vuetify doesn't support this but we can do it with v-if or v-show).

Also let me know if you want "View Draft Documents" button... should it be applied to future

[2021-02-26 01:38] forgeuxGH5 commented on #6403
Updated the uxpin links - I included the filing pending states. Note the FE and Filing pending states have our standard disabled states of other filings.

In your example above - will the "BC Limited Company to BC Benefit Company" fit on the same line as the "Alteration Notice" text. I get we could have longer entity names in which case we would wrap the text to a second line, but this would be le

[2021-02-26 01:44] forgeuxGH5 commented on #6403
Yeah - let's not revisit the two expansion issue here - just implement as for IA
Draft Documents was a typo - fix in wireframes

[2021-02-26 01:48] forgeuxGH5 commented on #6403
I'm also showing the future documents as disabled in the wireframes since that how they were in the IA wireframes - but I checked the IA implementation and this is not how it's implemented for the IA. I don't recall why is wasn't implemented as disabled in the IA but we should go with the current IA behaviour here too.

[2021-02-26 02:00] lmcclung commented on #6618
@thorwolpert looks like a good plan

[2021-02-26 02:09] #6393 closed

[2021-02-26 02:10] #5172 closed

[2021-02-26 02:11] #6499 closed

[2021-02-26 02:11] #4707 closed

[2021-02-26 02:11] #5167 closed

[2021-02-26 02:11] #6308 closed

[2021-02-26 03:18] mengdong19 opened #6623 "Quarterly review Feb, 2021"
Follow the check list below to finish quarterly review.

https://github.com/bcgov/entity/blob/master/docs/devops/quarterly_review.md

[2021-02-26 03:27] mengdong19 commented on #6623
@pwei1018 @mstanton1 Review is done followed the check list. There are a few questions I noticed and would like to have someone look into it. Please review the document linked below:

[Quarterly Review - Feb2021.docx](https://github.com/bcgov/entity/files/6047194/Quarterly.Review.-.Feb2021.docx)

[2021-02-26 04:11] severinbeauvais commented on #6403
I noticed a new date-time format (eg, "July 23, 2002 at 11:35 PM Pacific Time"). This is a new requirement that will add 1/2 day to the original task (#5110). If you still want this, please create a new ticket to implement it.

[2021-02-26 04:38] severinbeauvais commented on #5110
The response to the above questions has added requirements to this ticket, which I estimate will add another 2.5 hours to it.

Eg,
- change of title vs subtitle (and now inconsistent with Todo List title)
- adding elements to alteration filing component
- changing the future effective component
- changing the future effective pending component
- continued inconsistencies/conflicts in designs (eg,

[2021-02-26 04:41] severinbeauvais commented on #6403
Looks like we can go pretty narrow without wrapping...

![image](https://user-images.githubusercontent.com/10002889/109255902-b7195080-77a9-11eb-9380-0b178b9ab5d4.png)

But the wrapping doesn't look good - new ticket need to handle that if desired, please.

[2021-02-26 05:45] forgeuxGH5 commented on #6403
Is this "filed and pending (filed on 2021-02-08)" state in prod? The "filed on" date should be to the right of the PAID label and should have the "filed by" statement. I notice this filing state is "filed and pending" - if this label is in prod ignore the "filing pending" label in the wireframes - it looks the wireframes and implementation have deviated a fair bit

Agreed that wrapping doesn't loo

[2021-02-26 06:08] severinbeauvais commented on #6403
I ran this locally but I reused the existing "pending filing" component, so this is what is in Prod for pending filings.

Wider example:
![image](https://user-images.githubusercontent.com/10002889/109261938-893a0900-77b5-11eb-8b66-77e74053a4a4.png)

I am following the corporate description given to me by Linda in a recent ticket.
[code]

[2021-02-26 06:36] forgeuxGH5 commented on #6403
Hmmm... then we're doing it wrong everywhere else... @lmcclung?

[2021-02-26 06:40] severinbeauvais commented on #6403
Yes, since last release.

[2021-02-26 13:41] jyoti3286 opened #6624 "Namespace EDB: Nats"

[2021-02-26 13:41] jyoti3286 opened #6625 "Namespace EDB: Nats DB and backup"

[2021-02-26 13:42] jyoti3286 opened #6626 "Namespaces EDB: Minio"

[2021-02-26 13:42] jyoti3286 opened #6627 "Namespaces AUTH: DB and backup (auth, notify, keycloak)"

[2021-02-26 13:43] jyoti3286 opened #6628 "Namespaces AUTH: Auth Keycloak"

[2021-02-26 13:44] jyoti3286 opened #6629 "Namespaces AUTH: API (Auth, Notify, Search, Status)"

[2021-02-26 13:45] jyoti3286 opened #6630 "Namespace Auth: UI (Auth, Search, Business-filing, Namerequest)"

[2021-02-26 13:45] jyoti3286 opened #6631 "Namespace Auth: Queue (Notify, Events-listener, account-mailer)"

[2021-02-26 13:46] jyoti3286 opened #6632 "NameSpace Auth: Mailhog dev"

[2021-02-26 13:46] jyoti3286 opened #6633 "Namespace Pay: DB and backup (pay)"
Set up database
Set up backup for database
No migration at this time
Dry run to verify

[2021-02-26 13:46] jyoti3286 opened #6634 "Namespace Pay: API (pay, bcol, report)"
Set up view, pipeline, deployment config, secret
Copy secret from OCP 3

[2021-02-26 13:46] jyoti3286 opened #6635 "Namespace Pay: Queue (events-listener, payment-reconciliations)"

[2021-02-26 13:47] jyoti3286 opened #6636 "Namespace Pay: Job (payment-job, ftp-poller)"

[2021-02-26 13:48] jyoti3286 opened #6637 "Namespace LEAR: DB and backup (lear, Oracle (dev))"

[2021-02-26 13:48] jyoti3286 opened #6638 "Namespace LEAR: API (Legal, colin, namex?, data-reset (dev, test))"

[2021-02-26 13:48] jyoti3286 opened #6639 "Namespace LEAR: Queue (entity-emailer, entity-filer, entity-pay)"

[2021-02-26 13:48] jyoti3286 opened #6640 "Namespace LEAR: Job (Jenkins , future-effective-filings, update-colin-filings, update-legal-filings, filings-notebook)"

[2021-02-26 13:49] jyoti3286 opened #6641 "NAMES: DB and backup (names, solr, fdw-registry, fdw-names)"

[2021-02-26 13:49] jyoti3286 opened #6642 "Names: API (namex-api, colin-api, auto-analyze)"

[2021-02-26 13:49] jyoti3286 opened #6643 "Names: UI(Namex)"

[2021-02-26 13:50] jyoti3286 opened #6644 "NAMES: Solr(solr, admin-app, feeder, pro, synonyms-api)"

[2021-02-26 13:50] jyoti3286 opened #6645 "Names: Job (nro-extractor, nro-update, inprogress-update, nr-garbage-collector, notebook)"

[2021-02-26 13:50] jyoti3286 opened #6646 "CREATE BUSINESS: UI (business-create, business-edit)"

[2021-02-26 13:50] jyoti3286 opened #6647 "Dev OCP Migration plan: Stage 1"
**Stage 1:**

### Dev: 2 weeks - 1 month

**Namespaces:**

EDB:

- Nats
- Nats DB and backup
- Minio

AUTH:

- DB and backup (auth, notify, keycloak)
- Auth Keycloak
- API (Auth, Notify, Search, Status)
- UI (Auth, Search, Business-filing, Namerequest)
- Queue (Notify, Events-listener, account-mailer)
- Mailhog dev

PAY:

- DB and backup (pay)
- API (pay, bcol, report)
- Queue (ftp-poller, events-

[2021-02-26 14:43] rarmitag commented on #6595
Filed By:
  Can't answer for SOFI - BC registries Ledger always says "Registry Staff"

Outputs:
  Don't know why you can't see new notice of articles - alterations only changes company type.
  Don't know about auto email

Filing Date:
  Missed that. Fixed our JSON - will ask David for data fix in COLIN.

[2021-02-26 16:29] mstanton1 commented on #6206
@pwei1018 can you confirm how many users we have in PROD that are part of multiple accounts prior to grooming on Mar 2nd? Might be a good opportunity to show @mengdong19?

[2021-02-26 16:37] lmcclung commented on #4708
Closing as completed in #5167

[2021-02-26 16:37] #4708 closed

[2021-02-26 16:40] forgeuxGH5 commented on #6403
wait.. what?

[2021-02-26 16:48] lmcclung commented on #6504
@tlebedovich @forgeuxGH5 I like the image.  What about the copy text?  Would like to groom this today or next week.  I think we decided the Learn More was linking to the static page and instead we were going to add a new bullet.

[2021-02-26 17:05] lmcclung commented on #6574
@severinbeauvais do you think you could tackle this one today since it is an easy one?

[2021-02-26 17:17] mstanton1 commented on #6528
@jdyck-fw what is the priority on this? Our sprint is loaded. Can it be investigated in Sprint 51?

[2021-02-26 17:19] forgeuxGH5 commented on #6504
- Decide which business structure is most appropriate for you, a few options are: a sole proprietorship, partnership, or corporation. Each structure has different legal and financial implications.

- If you are considering a Benefit Company, make sure a Benefit Company is right for you.

Changed "incorporation" to "corporation" in the first bullet - fixed punctuation also

The static page should b

[2021-02-26 17:19] mstanton1 commented on #6608
@lmcclung seems like this isn't being reproduced on your side? Is there still a need for anything from our team? We have a few we're needing to look into for Entities so if so, we may need to work to prioritize.

@Milan-Freshworks cc'ing you so you can keep an eye out for this while testing. @jyoti3286 FYI

[2021-02-26 17:23] Kaineatthelab opened #6648 "Alpha Group Design"

[2021-02-26 17:25] tlebedovich commented on #6504
@forgeuxGH5 @lmcclung I'm just curious how users will link directly to the wizard that we are showing them in the screenshot? As a user, if I'm seeing the wizard image, I'd assume that the Learn More would take me to the wizard? Or at least provide an additional link to launch it from this page in addition to the Learn More going to the small business page. Its a helpful tool, might as well give t

[2021-02-26 17:27] Kaineatthelab opened #6649 "UX Set up for Alpha Group"
- [ ] Provide Alpha Group Virtual Card Access(Test)
- [ ] Reg number and passcode
- [ ] Import users, Relationships Team

[2021-02-26 17:33] forgeuxGH5 commented on #6504
Good point - The image itself should be a link to the wizard (like our other images)

- Decide which business structure is most appropriate for you, a few options are: a sole proprietorship, partnership, or corporation. Each structure has different legal and financial implications.

- Use the Business Structures Wizard to help you decide. (< hyperlink whole sentence)

- If you are considering a Be

[2021-02-26 17:36] Milan-Freshworks commented on #6391
It has been tested and verified

[2021-02-26 17:48] tlebedovich commented on #6504
@lmcclung - I've updated the instructions above and this looks ready to groom today if you want.

[2021-02-26 18:12] forgeuxGH5 commented on #6504
@tlebedovich can you mark the in-comment image above with a "do not use" watermark or something - just so there's no confusion about what image to use - I wouldn't delete it just because it's part of this thread and we want to keep the thread whole

[2021-02-26 18:13] mstanton1 commented on #6583
Tara has located two payments and sent one for refund. Sumesh confirmed they are different NR's but further digging showed they are the same name and the second was created in error as it wasn't clear the first succeeded.

To ensure status is updated on our side Sumesh mentioned we may want to push this refund request after all.

[2021-02-26 18:24] severinbeauvais commented on #6236
We discussed in grooming today that this ticket will be to simply apply our "good" email validation rules to the NR UI email input field.

There exists a [Contact Info shared component](https://bcgov.github.io/bcrs-shared-components/?path=/story/component-contactinfo--filled-alteration) but it prompts for more than just email so can't be used here (but its validation can be copied in).

I think we

[2021-02-26 18:42] jdyck-fw commented on #6528
Yes @mstanton1 this should be fine to wait for Sprint 51

[2021-02-26 18:50] severinbeauvais commented on #5110
@forgeuxGH5 @tlebedovich @riyazuddinsyed

This ticket is complete (subject to the comments above) and ready for your review in Dev environment.

However, we do not have a lot of test data yet. For my local testing I used [https://dev.bcregistry.ca/business/BC1230072](this entity) but it's hacked-together data; and then I locally overrode some logic to see various statues (paid, pend, fe, fe pendin

[2021-02-26 18:55] severinbeauvais opened #6650 "Filings UI - update alterations ledger item to include new fields"
#### Description
In #5510, alteration filings were added to the Filings History List. However, some dependent features are incomplete (#5409), so a minor update to the Filings UI will be required to finalize the display based on the updated alteration schema / sample data.

- [x] set Court Order Number according to data
- [x] set Is Arrangement flag according to data
- [x] update unit tests accord

[2021-02-26 19:17] Milan-Freshworks commented on #6167
@jeznorth Since it is missing Bank of Montreal so moving it back to In progress.

[2021-02-26 19:19] rarmitag commented on #6595
David said done in COLIN. Please check.

[2021-02-26 19:29] Kaineatthelab commented on #6194
@forgeuxGH5 @tlebedovich FYI Feedback:)

[11:02 AM] Espinosa, Elizabeth CITZ:EX
    Feedback re: Name Request - I have had a few calls from clients who are complaining about the quick search.  Saying that the conflict that they are ultimately rejected for did not come up in Quick Search.  For example: Fair Food Services - does not pull up Fair Food Market - Suggestion:  Could we add a statement on

[2021-02-26 19:30] lmcclung commented on #6608
@riyazuddinsyed can you confirm the screen @severinbeauvais  posted is the one you are seeing?

@mstanton1 It is being reproduced (Severin did it yesterday) and Riyaz says he sees it all the time.  If we're prompting users to try again even though payment is completing this might be why we're seeing multiple NRs being created.

[2021-02-26 19:33] Kaineatthelab commented on #6194
@forgeuxGH5 @tlebedovich thinking the categories could still come into play just after we get this first pass out the door

[2021-02-26 19:39] Sienna-Blumstengel commented on #6396
@riyazuddinsyed can you check this again? 5776 was been pushed to **test (i think, there was a PR but Amit and I can't see which environment)** and this can be verified. @Milan-Freshworks is this in test or dev?
@mstanton1 where you planning on doing something with this ticket? I see you added an estimate a few days ago.

[2021-02-26 19:40] Sienna-Blumstengel commented on #6593
@janisrogers do you need to connect with relationships on this?

[2021-02-26 19:43] Sienna-Blumstengel commented on #4709
@lmcclung @mstanton1 this just resurfaced, do we have a solution for this? I remember we were blocked because of how/when the system generates incorporation numbers. What do we want to do with it?

[2021-02-26 19:44] riyazuddinsyed commented on #6608
@lmcclung yeah this is the intermittent screen I keep seeing?

[2021-02-26 19:45] Sienna-Blumstengel commented on #6455
@amit4610  is adding this to their bug meeting on Monday

[2021-02-26 19:48] severinbeauvais commented on #6236
### Test Notes

Please test email validation (in NR) against the invalid examples given in the comments above.

[2021-02-26 19:49] riyazuddinsyed commented on #6608
@mstanton1 @lmcclung I am attaching the screenshot below.
<img width="1438" alt="Screen Shot 2021-02-26 at 11 48 36 AM" src="https://user-images.githubusercontent.com/49958950/109347937-b96ebf80-7828-11eb-909c-ec439ee91415.png">

[2021-02-26 20:15] Sienna-Blumstengel commented on #6595
Thanks Richard!
@lmcclung what should we do about the outputs, get help from @kialj876 ?
Also about the "FILED BY <name_of_person_filing>".. is that ok? If it's only in SOFI and the client is a BComp now?

[2021-02-26 20:43] jyoti3286 commented on #6608
@Milan-Freshworks - Can you check this on our side and reproduce it?

[2021-02-26 20:49] Kaineatthelab commented on #6608
same thing I mentioned yesterday, it then goes back to name request as successful right?

[2021-02-26 21:36] tlebedovich commented on #5110
@forgeuxGH5 - Can you UX Assurance on this for Severin today since it's dashboard work. Thanks!

[2021-02-26 21:37] Sienna-Blumstengel commented on #6434
From Julie:

@rarmitag  looks like one still might be missing?

[2021-02-26 21:39] tlebedovich commented on #6352
@forgeuxGH5 - Can you UX Assure this today for @cameron-freshworks - I believe its dashboard work.

[2021-02-26 21:51] cameron-freshworks commented on #6352
It is indeed!
It is no rush however 😁

[2021-02-26 21:52] tlebedovich commented on #5025
@cameron-freshworks - Looks great! My UX Assurance notes:

1) Missing the "No fee to change" tool tip on change button for alterations (see comp 4a)
2) Phone Number "required" validation is not working. If you delete the phone number and hit the "Save" button, (and I guess if you leave the field) it should say "Phone number is required" like the email field does.
3) The little vertical divider lin

[2021-02-26 21:58] forgeuxGH5 commented on #5165
PPR Search Validations and Messages[https://app.zenhub.com/files/157936592/ef3a0b38-d3e4-42cf-a9cd-fd2b8863ec1a/download](https://app.zenhub.com/files/157936592/ef3a0b38-d3e4-42cf-a9cd-fd2b8863ec1a/download)

[2021-02-26 21:59] lmcclung opened #6651 "Update text on staff dashboard"
Make the following text changes on the staff dashboard...

**From:**
Search **Cooperatives**
Enter the **cooperative's** incorporation Number below to access their dashboard.

**To:**
Search **Entities**
Enter the  **entity's** Incorporation Number below to access their dashboard.

[2021-02-26 22:03] forgeuxGH5 commented on #5110
Also note the inconsistent implementation adds work to design effort.

[2021-02-26 22:03] lmcclung commented on #6651
@amit4610 @mstanton1 this was discussed at PO Sync today - Jyoti said your team would be able fit it in with your passcode reset epic.  Shouldn't take more than a few minutes.  Could you take to your grooming?

[2021-02-26 22:05] cameron-freshworks commented on #5025
@tlebedovich
Oh nice! Will make these updates asap :) All small things!

[2021-02-26 22:13] Kaineatthelab commented on #6194
[Uploading... image.png]

[2021-02-26 22:55] severinbeauvais commented on #6608
I reproduced this in Test just now.

The problem is that the Payment Error page displays, briefly, even when the payment is successful.

[2021-02-26 23:06] Milan-Freshworks commented on #6608
The fix has been deployed to dev env and will be in test soon.

[2021-02-26 23:15] severinbeauvais commented on #4785
Actually, what we should do is get rid of this package and use [Moment Timezone](https://momentjs.com/timezone/) instead to convert our dates/times to/from UTC and Pacific. First, that will work correctly all the time. Second, it's easy to format dates/times with Moment, so we improve the UX at the same time.

^^ I estimate this is 1 day effort to replace our home-brewed UTC conversions with Momen

[2021-02-26 23:20] severinbeauvais commented on #6047
@pwei1018 Can you help us configure nginx to explicitly NOT cache the index.html file?

I saw this caching issue again today with Riyaz: he opened the NR UI (Test) page in a new tab and the old version of the app was loaded. In an incognito tab, the new version of the app was loaded. After refreshing the normal tab, the latest version of the app was finally loaded.

I think what's happening is tha

[2021-02-26 23:32] SThimot opened #6652 "Create plan to implement design"

[2021-02-26 23:37] lmcclung commented on #6403
@severinbeauvais my bad... I didn't notice when I exported the entity types from COLIN that BC was missing from Benefit Company.  BC should be in front.

[2021-02-26 23:40] tlebedovich commented on #6236
I just had a look in NR - submission details and validation looked good.

Would be good (doesn't have to be today) - to have the similar message for the email input on the Manage Existing Business Tab email field as well --

![Screen Shot 2021-02-26 at 3.38.57 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/01ee33b3-8bea-4d1c-a4d7-2f68579bd3ae)

[2021-02-26 23:52] tlebedovich opened #6653 "NR Submission Phone Number Validations"
In Name Request, since people can use both a phone number and email to retrieve their existing NRs, it would be good to validate their phone numbers as well within the submission flows.

Right now a user can continue with a phone number that is just "55" without seeing an error message, which may cause issues if they try using their phone number to retrieve their NR later on.

I think validations

[2021-02-26 23:55] lmcclung commented on #6608
@Milan-Freshworks awesome news Milan!  Thank you!

[2021-02-26 23:55] severinbeauvais commented on #6403
^^ Easy fix but touches 2 or 3 projects. Maybe it can be done as part of #6650 ?

[2021-02-27 00:10] lmcclung commented on #6403
@severinbeauvais sounds good.

[2021-02-27 00:20] severinbeauvais commented on #6541
This is now deployed to Dev,

[2021-02-27 01:10] tlebedovich commented on #5027
@lmcclung - please note that there were two minor text style updates to do for this ready only version to match our AA compliance styleguide (header size and text colour to match the others Cameron's completed).  The Edit version of this component will need updates to the form fields at some point, but isn't needed for Alterations. I let Andre know.

[2021-02-27 05:18] sumesh-aot opened #6654 "Name Request online banking invoices getting created in CFS"
**Describe the bug in current situation**
Name Request payments cannot use Online Banking, this is handled on the UI where the user is intercepted to use credit card for the payment. Due to some reasons, if the user clicks on back and doesn't continue with the payment the nightly job creates the invoice in CFS, which would eventually show up in delinquent reports.

**Impact of this bug**
When the

[2021-02-27 18:33] mstanton1 commented on #6167
We just got word that TD has finalized the CCIN documents. @jeznorth can you check if anybody on the team has TD, and if so get them to verify we see "BC Registries and Online Services"? If so , when you add in Bank of Montreal which is missing as per Milan's note you could add in TD. We will also want to update the AC above.

[2021-02-27 20:09] #6624 closed

[2021-02-27 20:09] #6627 closed

[2021-02-27 20:09] #6630 closed

[2021-02-27 20:09] #6629 closed

[2021-02-27 20:09] #6628 closed

[2021-02-27 20:09] #6631 closed

[2021-02-27 20:09] #6632 closed

[2021-02-27 20:09] #6646 closed

[2021-02-28 19:42] forgeuxGH5 opened #6655 "Webchat to Name Request - UI DESIGN"
## Wireframes
https://preview.uxpin.com/56802329678cd27b3d3f5931aaacc303e44174b9#/pages/137100661

## Visual Design
TBD

[2021-03-01 15:46] rarmitag commented on #6449
Missed manually correcting auth-db value as well as businesses_version value.
Now corrected - all 3 of our DB's show as BEN + COLIN shows as BEN.

[2021-03-01 16:22] Kaineatthelab commented on #6653
We want to forsure, at the time we didn't have capacity to figure out the various possibilities for phone numbers like ext. etc... If we can get all those then yes:)

[2021-03-01 16:55] janisrogers commented on #6609
I have requested the algorithm/code from the home team.

[2021-03-01 17:02] janisrogers commented on #6593
Amit and I are meeting today

[2021-03-01 17:07] sienna-blumstengel opened #6656 "Thor/Sumesh - Payment issue on Name Request, caused by blocking Online Banking"
### Who needs to do this work
Entities
According to Milans' comment, entities needs to do "some work" before we can resolve this.
@Kaineatthelab @sumesh-aot @Milan-Freshworks do you guys have any context around what work entities needs to do to get this movin?

### Background

### How to Replicate
1. Authenticate
2. Create basic account
3. Set up online banking
4. Request a name
5. start payment
6

[2021-03-01 17:22] lmcclung opened #6657 "URGENT - Part 1 - Confirm which NRs have payment so staff can cancel duplicate NRs"
Need to confirm which of the following NRs have completed payments:

**TRUSUM BY MANNAM INVESTMENTS INC.**
NR 3625162 - **PENDING_PAYMENT**
NR 0500044 - HOLD
NR 3153274 - APPROVED
NR 4841273 - APPROVED

**BOSTON OUTLOOK CORP**
NR 5318778 - approved
NR 1535127 - approved
NR 0724074 - cancelled
NR 6762616 - hold
NR 6315208 - hold
NR 7697100 - hold

**FLOER MILLIKEN GROUP PRIVATE WEALTH MANAGEMENT**

[2021-03-01 17:24] amit4610 commented on #6623
@mstanton1 @pwei1018 @amit4610 to review the doc

[2021-03-01 17:25] Sienna-Blumstengel commented on #6613
@trishreimer I will start drafting the OneNote content for alterations, then we can re-use that content to make Lance a slide deck for training. I think I can do that in a few days (fingers crossed) so we can schedule our first meeting with Lance towards the end of the week?

[2021-03-01 17:35] severinbeauvais commented on #6236
This implementation is already deployed to Prod.

[2021-03-01 17:35] severinbeauvais commented on #6574
This implementation is already deployed to Prod.

[2021-03-01 17:36] severinbeauvais commented on #6545
This implementation is already deployed to Prod.

[2021-03-01 17:38] jyoti3286 commented on #6167
@jeznorth Acceptance criteria have been updated with TD. Please push your changes for @Milan-Freshworks to proceed with the testing. Thank you.

[2021-03-01 17:53] tlebedovich commented on #5030
Hi @jachurchill - I have attached the design ticket here for you - refer to the comp names "00 Alteration Directors" - there are Design Style updates needed for this component to match closer to the design intent and meet AA.

c/c @lmcclung

[2021-03-01 17:56] areyeslo commented on #6037
This is addressed on the ticket https://github.com/bcgov/entity/issues/6006

[2021-03-01 17:56] #6037 closed

[2021-03-01 17:58] areyeslo commented on #6006
Addressed with the following ticket:
https://github.com/bcgov/entity/issues/6006

[2021-03-01 17:59] tlebedovich commented on #5475
@forgeuxGH5 @lmcclung - we should talk about this one - as the designs have the Alteration Document Delivery component separate from the Certify Component. I also don't know what the current text should (since my comp was done months ago) - please advise

[2021-03-01 18:00] areyeslo commented on #5966
Addressed under the ticket :
https://github.com/bcgov/entity/issues/6006

[2021-03-01 18:00] #5966 closed

[2021-03-01 18:01] areyeslo commented on #6069
Addressed with the following ticket:
https://github.com/bcgov/entity/issues/6006

[2021-03-01 18:01] #6069 closed

[2021-03-01 18:06] lmcclung opened #6658 "FILER - Court order and plan of arrangement"
## Description

* Store the court order number and/or plan of arrangement indicator in the database

[2021-03-01 18:19] amit4610 commented on #6593
Certain gov users (IDIR users) can do certain registrations. So we need to make group within IDIR users for PPR @janisrogers @saravankumarpa

[2021-03-01 18:27] Sienna-Blumstengel commented on #6600
Couldn't find the last two NRs in NameX, so i didn't cancel them.

4396702
3643349

I told debbie she should be able to do this herself next time - no automatic refunds are triggered when an NR is canceled from NameX

[2021-03-01 18:27] #6600 closed

[2021-03-01 18:28] lmcclung opened #6659 "URGENT - Part 2 - Confirm which NRs have payment so staff can cancel duplicate NRs"
Need to confirm which of the following NRs have completed payments.  If the PENDING_PAYMENT ones have completed payments, can you push them to DRAFT or even better HOLD status?

**KAURI DESIGNS**
NR 2351542 - APPROVED
NR 3890718 - APPROVED
NR 5453798 - HOLD
NR 2872553 - HOLD
NR 5498320 - HOLD
NR 7703506 - HOLD
NR 1613978 - **PENDING_PAYMENT**
NR 1957299 - **PENDING_PAYMENT**

**E-POINT RENTALS**
N

[2021-03-01 18:31] thorwolpert commented on #6657
**TRUSUM BY MANNAM INVESTMENTS INC.**
NR 3625162 - **PENDING_PAYMENT**
NR 0500044 - HOLD
NR 3153274 - APPROVED  **< -- PAID**
NR 4841273 - APPROVED
[code]

**BOSTON OUTLOOK CORP**
NR 5318778 - approved    **<- PAID**
NR 1535127 - approved
NR 0724074 - cancelled
NR 6762616 - hold
NR 6315208 - hold
NR 7697100 - hold   **<- PAID**
[code]
**FLOER MILLIKEN GROUP PRIVATE WEALTH MANAGEMENT**
NR 3566824 -

[2021-03-01 18:41] thorwolpert commented on #6659
KAURI DESIGNS - **None Paid**
NR 2351542 - APPROVED
NR 3890718 - APPROVED
NR 5453798 - HOLD
NR 2872553 - HOLD
NR 5498320 - HOLD
NR 7703506 - HOLD
NR 1613978 - PENDING_PAYMENT
NR 1957299 - PENDING_PAYMENT
[code]
E-POINT RENTALS
NR 1257778 - APPROVED   **<- PAID**
NR 9828007 - APPROVED
NR 3283652 - HOLD
NR 4397174 - HOLD
NR 8861021 - HOLD
NR 4676780 - HOLD
NR 9348246 - PENDING_PAYMENT
NR 7934621 - P

[2021-03-01 18:59] forgeuxGH5 commented on #5475
What you have for the latest design looks good - we do need the staff view but I remember this conversation do we have something somewhere?
We need to use the Staff Certify component that doesn't include the "I" language and, in the document delivery section we only show the RO email.
We could quickly discuss this in our regular Wed meeting or if we need something sooner ping @lmcclung on Rocket C

[2021-03-01 19:01] amit4610 commented on #6487
Email form Linda:

Amit/Steven are you able to check that neither of the two accounts (in screenshot below) on the business registry have this coop attached already?  If they do, can you unaffiliate the coop from both accounts?

Then can you create a new passcode just for good measure?

Not sure if you want to create a new ticket Amit or reopen 6487?

[2021-03-01 19:05] Milan-Freshworks commented on #6277
The updates to the UI will be handled in the ticket in the next sprint. Moving the ticket to done.

[2021-03-01 19:20] rarmitag commented on #6434
Have imported Mar 8 / 2019 director change.

[2021-03-01 19:38] tlebedovich commented on #6164
@jordiwes - Here is how to reproduce the missing Estimate Review Date in DEV:

1) Create a new BC Limited Company Name Request
2) Go through payment, you'll see the Summary Search with the Estimate Review Date (write down your NR info)
3) Hit Exit
4) Click the Manage Existing Name Request tab
5) Look up the NR you just created
6) You'll be returned back to the Summary screen but this time the Esti

[2021-03-01 19:42] Sienna-Blumstengel commented on #6434
@rarmitag It says (Filed by N/A on 2019-03-07), it should say (Filed by **Registry Staff** on 2019-03-0**8**), right? @lmcclung do we mind if the Filed by says "N/A"? Also do we mind if it's a day off?

[2021-03-01 19:47] tlebedovich commented on #6236
hi @severinbeauvais - i know this is closed now, but feels like the validation scheme changed between when I tested and how it is in DEV now? Is that possible? When I had tested in DEV, the email validations were only appearing if you clicked the blue Continue button or if you had started typing the email and then left the field and moved onto another field. But now the error message is showing up

[2021-03-01 20:18] severinbeauvais commented on #6236
I know we implemented "validation when you click the button" on some pages, but I don't think it was implemented here. Anyway, I did not change that when I updated the email validation rules.

Yes, please create a new ticket to implement this.

[2021-03-01 20:35] rarmitag commented on #6434
That would be better, but it came straight from COLIN that way.
The filing date in the DB says 2019-03-08 00:00:00 so the UI is adjusting the displayed date.

[2021-03-01 20:40] severinbeauvais commented on #6434
"2019-03-08 00:00:00 UTC" is "2019-03-07 04:00:00 PM PST".
If the intent is to display Mar 8, then the date in the database should be "2019-03-08 08:00:00" (ie, ahead by 8 hrs).

[2021-03-01 21:32] severinbeauvais commented on #6434
@rarmitag Yes to both comments.

I believe we have ticket #4774 to convert COLIN dates. (And maybe another ticket but I can't find it atm.)

[2021-03-01 21:45] Sienna-Blumstengel opened #6660 "FAQ specific to BC Online Users"
e.g., What payment methods can I use as an existing BC Online client

[2021-03-01 21:51] amit4610 opened #6661 "Upload updated job aides on website"
Upload the latest job aides on the external site (for setting up an account and a team)
Include PAD and online banking (and update anything else that needs to be updated)
Check Change management folder on SP and upload all external FAQs and Job aides

[2021-03-01 21:52] forgeuxGH5 commented on #5425
Love to do this but it will be a fair bit of work on the design side for sure. We'd prefer to align on the "January 12, 2002 12:00:00 am" format (minus time if not needed) but we'd want to assess the impact of that through-out the UI (including outputs).

[2021-03-01 21:52] Sienna-Blumstengel opened #6662 "FAQ for BCOL users, decisions and considerations for when they migrate to the new application"
FAQ for BCOL users, specifically focusing on decisions and considerations for when they migrate to the new application. Can be used when questions arise about transitioning

[DRAFT](https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={f0da67b5-0ed8-41b7-9773-2547b01d51d1}&action=editnew&Source=https%3A%2F%2Fcitz%2Esp%2Egov%2Ebc%2Eca%2Fsites%2FSBC%2FREG%2FProj

[2021-03-01 21:59] forgeuxGH5 commented on #5110
@riyazuddinsyed can you let me know when you pick this up - I want to discuss how to coordinate UX assurance and QA on this one.

[2021-03-01 22:04] tlebedovich commented on #5425
@forgeuxGH5 Agreed. I just added a comma before the time to help with screen readers.

[2021-03-01 22:06] severinbeauvais commented on #5425
I saw somewhere else an "at" between the date and time. Better option?

[2021-03-01 22:11] tlebedovich opened #6663 "Email Verification error messages should not appear as user is entering info"
Small update is needed to the new email validations (noticed this in the NR submission details).

We should not be showing error messages for the email address fields if the user is just starting to type the email address.

Error validation messages should only occur once a user has finished entering their information and then clicks the "Continue/Review and Confirm" button, or, optionally also if

[2021-03-01 22:19] tlebedovich commented on #5425
I'm hoping we can use the existing BC Government web styleguide as our north star for date and time formatting options (scroll for time format options near the bottom). So if/when we make these updates - It's probably best we follow this so everyone stays on the same page. I just saw it should be "Pacific time" versus "Pacific Time" as well.

https://www2.gov.bc.ca/gov/content/governments/services

[2021-03-01 22:30] severinbeauvais commented on #5425
^^ Nice!

They also allow YYYY-MM-DD in forms or tables (eg, in Filing History List maybe?).

[2021-03-01 22:51] Sienna-Blumstengel opened #6664 "Account 'Cascadia Community Solutions' cannot affiliate CP1589, CP1556, or CP1587"
#### ServiceNow incident:
INC0078467 - CP1589
INC0078009 - CP1556 & CP1587

#### Contact information
Staff Name: Julie Harding

#### Description
Client is unable to affiliate any entities to their account, **Cascadia Community Solutions**.
 - CP1589
 - CP1556
- CP1587
We have changed the passcode for the entities, and that did not help.
We should investigate the account, Cascadia Community Solutio

[2021-03-01 23:04] Milan-Freshworks commented on #6396
In test env, I tested for receipts for entities and it seems to be working alright for PAD accounts. However, receipts for NR lead to an error for PAD and CC. ![Screen Shot 2021-03-01 at 12.31.14 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/55bfdb52-cf22-485f-b573-f65d03e0ab6a)

[2021-03-01 23:08] Milan-Freshworks commented on #6455
This is reproducible in test env![Screen Shot 2021-03-01 at 3.07.57 PM.png](https://images.zenhubusercontent.com/5e3c69a69d8804ca9f11729/94b888d1-8bb3-40c7-aeb9-08eddb38f6cd)

[2021-03-01 23:08] forgeuxGH5 commented on #5425
I was also thinking maybe a table date format but I was leaving that decision as part of the overall assessment

[2021-03-01 23:11] Sienna-Blumstengel opened #6665 "Account 'Kerrisdale Crest Apts. Cooperative Association' cannot affiliate CP0000672"
#### ServiceNow incident:
INC0076720

#### Contact information
Staff Name: Julie Harding
Staff Email:

#### Description

We tried to re-set the passcode so the client could affiliate to one of the accounts.

**It didn't work again.** We determined it might be an issue with the account.
Client currently has 3 accounts. Staff says delete the 2nd and 3rd, keep the first:
171    2020-01-22 02:04:21.27

[2021-03-01 23:17] Milan-Freshworks commented on #6601
I was able to reproduce it and the networks tab showed the following
[code]

[code]

[2021-03-01 23:25] mengdong19 opened #6666 "Codes and Enums"
## What is the problem?
*  There are a lot of codes table in database like org_statuses, product_codes, membership_statues etc. which is referenced by other tables as foreign key.  While there are hardcoded enums in source code utils, which have same values as in database tables but may in different order, and are wildly used through backend and frontend.

## What is the impact?
* Two set of value

[2021-03-01 23:52] lmcclung commented on #6659
Emailed Gen/Sienna with results and instructions for next steps

[2021-03-01 23:53] lmcclung commented on #6657
Emailed Gen/Sienna with results and next steps.

[2021-03-02 00:04] janisrogers commented on #5165
@kialj876 I have added the fields that are displayed in the results table to Scott's document and saved it as a google doc. [Search Validations and Messages](https://docs.google.com/spreadsheets/d/1Fjc6_Wvw462046Szd8ucn4OHWJffxvj5sc5p3WxhQeY/edit?usp=sharing)

[2021-03-02 00:13] lmcclung opened #6667 "URGENT - Part 3 - Confirm which NRs have payment so staff can cancel duplicate NRs."
Need to confirm which of the following NRs have completed payments. If the PENDING_PAYMENT ones have completed payments, can you push them to DRAFT or even better HOLD status?

If there are no payment records, could you confirm the source of the name requests is NRO?

**Edible Enchantments Cookie Craft Inc.**
NR 3299357 -  APPROVED
NR 3990678 - CANCELLED
NR 5799959 - HOLD
NR 7346032 - HOLD
NR 6747

[2021-03-02 04:53] severinbeauvais opened #6668 "NR Pay: "upgrading" a NR and then cancelling payment puts NR in Payment Incomplete status"
**Describe the bug in current situation**
I created a normal (not high priority) NR and paid for it.

Then I clicked the button to upgrade the NR to high priority, confirmed the dialog, was sent to PayBC, and cancelled the payment.

I was returned to the existing NR page, which displayed this:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/39a55110-9563-440c-abbb-acc31

[2021-03-02 05:04] thorwolpert commented on #6668
Already covered by
https://github.com/bcgov/entity/issues/6507 & related design tix.
Closing, re-open if the tix on searching for "Cancel" don't already cover this.

[2021-03-02 05:04] #6668 closed

[2021-03-02 05:24] severinbeauvais commented on #6523
I ported in the newer feature-flag module to NR 2.0 (#6581) but I didn't handle the "report user" part of it -- I plan to do this when I review/refactor the signin/route part of NR 2.0.

[2021-03-02 16:59] #6657 closed

[2021-03-02 16:59] tlebedovich commented on #5103
HI @lmcclung - Just reviewed this ticket with Andre and Scott and we were wondering if this ticket should include the container box for the component to go into? ie the white Articles box with bar/icon. Or is the container box in a separate ticket? c/c @andrepestana-aot @Sienna-Blumstengel

![Screen Shot 2021-03-02 at 8.57.26 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/b4

[2021-03-02 17:00] #6659 closed

[2021-03-02 17:01] #6574 closed

[2021-03-02 17:02] #5275 closed

[2021-03-02 17:03] #5757 closed

[2021-03-02 17:04] #5365 closed

[2021-03-02 17:05] #5683 closed

[2021-03-02 17:09] mstanton1 commented on #6396
@Sienna-Blumstengel estimate was for testing efforts. Actual work to resolve the issue was 5776.

@Milan-Freshworks since 5776 is complete, if this is not working specifically in Names it seems like further work may be needed on the entities side? @sumesh-aot are you able to advise?

[2021-03-02 17:10] #6481 closed

[2021-03-02 17:13] lmcclung commented on #6491
@thorwolpert can you throw an estimate on this one and then close it?

Thanks.

[2021-03-02 17:14] #6558 closed

[2021-03-02 17:20] Kaineatthelab opened #6669 "API PDF Set up"
- [ ] revamp tests (add .5 day)
 *assumption JSON is complete

[2021-03-02 17:20] Kaineatthelab opened #6670 "Table of Contents/Summary top section"
Estimation Assumption
- [ ] Do we add a transaction id, invoice id? Need a value that would show in transaction history(account) and PPR dashboard
- [ ] Pull JSON create output
- [ ] PDF section

After...
Do we want the account and name, it will be a separate call to auth/pay

@forgeuxGH5

[2021-03-02 17:20] Kaineatthelab opened #6671 "Financing Statement - Current Information"
- [ ] JSON to include "current"

assumption that we will include court order and other details on the current view @forgeuxGH5

[2021-03-02 17:20] lmcclung commented on #6595
@Sienna-Blumstengel I see the NoA and receipt on the ledger in Business Registry app.  Just let Kat know to print them off and attach with her Filed form.

Don't worry about the filed by... not worth fixing.

Can you email David.Roberts@gov.bc.ca - looks like the effective date still hasn't been fixed in SOFI - still showing as February 24, 2021 4:00 PM.  It needs to be fixed.  Actually, before yo

[2021-03-02 17:20] Kaineatthelab opened #6672 "History (financing statement)"
- [ ] all registrations associated with financing statement in history (JSON already complete)
- [ ] added change statements in the PDF

[2021-03-02 18:33] mstanton1 commented on #6599
Kim Osborn with Provincial Treasury provided the following response on March 1st.

Thanks for your patience on this one.  TD has worked with Bambora on this issue and after investigating, they are both only able to see one charge to the clients card.  They have recommended the client call their credit card company to have them investigate on that side (they could dispute any duplicate charges thro

[2021-03-02 18:34] areyeslo commented on #6584
The following validations are found in the code (https://github.com/bcgov/lear/blob/master/legal-api/src/legal_api/services/filings/validations/incorporation_application.py) for Incorporation application:

- Validate Offices:  Validate the region is "BC" and country "CA".
- Validate Roles: Validate roleTypes include exactly one completing party, at least one incorporator and at least one director.

[2021-03-02 18:37] #6667 closed

[2021-03-02 19:01] Milan-Freshworks commented on #6167
It has been tested and verified.![Screen Shot 2021-03-02 at 11.01.00 AM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/1b9e31b1-2d87-41f5-a319-10ef91120921)

[2021-03-02 19:21] Sienna-Blumstengel commented on #6595
Sent this to Lance:

[2021-03-02 19:54] forgeuxGH5 commented on #6670
The username / account number / name was an open question for me, but I think this would be like-for-like.

The current search results contain the UserID and what looks like the account name.

I'm not sure if we need to indicate the username/actual name of the person who conducted the search and/or the account number. We could display all three easily enough.

I'm also proposing to display it as p

[2021-03-02 20:23] mstanton1 commented on #6543
Basic analysis was completed Feb 26th. I've sent the following to Kaine, Linda and Jyoti:

PAD – currently we don’t allow PAD payment for name requests in REGI. We have no automated refund flow. Implementing a refund flow would be complex given we batch payments nightly, then send to CAS to recover funds two days later. Initially, my though is to suppress the Refund Request button for PAD clients.

[2021-03-02 20:24] mstanton1 commented on #6543
Kaine subsequently followed up to confirm whether there is any refund flow for PAD. I provided the following clarification:

With Societies Online PAD is only available for filings. Given a filing is a legal record that can’t simply be removed we don’t provide an automated refund flow. If a filing was done in error a client would need to work with staff to identify what is needed to resolve the is

[2021-03-02 20:24] mstanton1 commented on #6543
Pending decisions on approach.

[2021-03-02 20:42] mstanton1 commented on #6136
@Sienna-Blumstengel sorry for the tardy review. Looks good. In the line for BCOL I think 'P' is supposed to be 'Please'. The help desk number can be filled in with 1-800-663-6102.

For the signature block BC Registries phone tree is 1 877 526-1526. I am not familiar with the 370 number listed. Perhaps check with @trishreimer.

Lastly, with the current process for refunds we put them into one weekl

[2021-03-02 21:02] jyoti3286 commented on #6591
Another ticket 6651 has been created by Linda as well.It has some wording which we can use @mstanton1

[2021-03-02 21:04] trishreimer commented on #6136
@Sienna-Blumstengel For name request refunds, please use:
Toll Free: 1-877-370-1033
Victoria Office: 250-370-1033

The tier 1 for Name Requests is Maximus, for all clients, not BCOL HD.

@mstanton1 - we discussed the support structure for names in PO sync on Friday and the team decided to use one number for tier 1, for name requests, instead of splitting it out. Maximus will transfer to BCOL HD if

[2021-03-02 21:24] rarmitag commented on #6664
For these 3 account the name "Cascadia .. " is not associated with any of them.
The one that seems the most recent is "FOUR MILE HEIGHTS HOUSING COOPERATIVE" - CP0001556
Please verify this for me to continue.

[2021-03-02 21:48] Milan-Freshworks commented on #6654
Currently, the invoice does get created in the pay-db but there was no change in the status when create_cfs_invoices job was run. It has been tested and verified.

[2021-03-02 22:46] stevenc987 commented on #6487
@amit4610 @mstanton1 @pwei1018
Patrick mentioned that it needs a Postman collection to run this. However, he has difficulty to export it to me. I will forward this ticket to him to work...

[2021-03-02 22:49] tlebedovich commented on #5025
@cameron-freshworks - your alteration link that you provided before is not working - is there another way I can review this?

[2021-03-02 22:50] tlebedovich commented on #5027
@andrepestana-aot Can you provide me with a login/link so I can review this?

[2021-03-02 22:52] tlebedovich commented on #4282
@andrepestana-aot - are you on this ticket? There is noone tagged. If so, can you provide me with a login/link so I can review this?

[2021-03-02 22:52] amit4610 commented on #6557
Do we store all the data in the receipt or does entities needs to push some data to us? @sumesh-aot @saravankumarpa

[2021-03-02 22:55] mstanton1 commented on #6528
We cannot fix this but we can test to confirm if this is an issue in PROD and then escalate to Beanstream if needed.

[2021-03-02 22:59] tlebedovich commented on #6164
@areyeslo - Hey there -- Please see the design link above for the Priority and Non Priority versions. Once in the Test environment, please confirm that the Estimated Wait Times being calculated for non-Priority name requests is working and accurate. I couldn' test it out with the DEV data, thank you!

[2021-03-02 22:59] Sienna-Blumstengel commented on #6664
Hmm not sure I understand @rarmitag , maybe I didn't explain clearly

The client wants to link CP1589, CP1556 and CP1587 to their account, Cascadia Community Solutions. They can't link any of them, it says "passcode incorrect" or something. Even though we re-set the passcodes on  CP1589, CP1556 and CP1587.

[2021-03-02 23:26] tlebedovich opened #6673 "Fix component validations for Company Name and Business Type"
Both the Company Name component and the Business Type component validations (for all shared instances), need to have updated component validation using the blue "Done" buttons to show any component error validations.

### Visual Design Comps
Showing when to activate the Done button and when/where to show component validations:

**Change Company Name:**
https://projects.invisionapp.com/share/5J10D8

[2021-03-02 23:27] tlebedovich commented on #6673
@lmcclung I've just created this ticket to fix the component specific validations for the two Alteration components above (that were built before we made these required validation updates). I listed it as a but but please change if needed.

[2021-03-02 23:42] tlebedovich opened #6674 "Do not display No Fee Changes on the Review and Certify page - Alterations"
This ticket is related to #6546

We needed to make a UX change and no longer need the "No Fee Changes" component to appear on the Review and Certify page regardless if changes were made to the no fee components. The Review and Certify page will only show the fee-based changes that require filing an Alteration

[2021-03-02 23:43] tlebedovich commented on #6674
@lmcclung - another needed update for alterations

[2021-03-02 23:45] mstanton1 commented on #6409
@amit4610 the only pending item on this is NR 9395816. Have you heard back from IT Ops. If so this can be closed.

[2021-03-02 23:47] Sienna-Blumstengel commented on #6595
Siddarth changed it, now the effective date is correct. The filing date is still incorrect, is that ok @lmcclung ?
![Screen Shot 2021-03-02 at 3.47.36 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/a265c1ef-862e-46a5-9f84-bcbb7b42e5c7)

[2021-03-03 00:00] pwei1018 commented on #6487
@amit4610 @mstanton1

I already re-generate the passcode and unaffiliate this coop couple weeks ago. I just checked the database  and no one claim this coop for now. What is the issue of this coop?

[2021-03-03 00:19] mstanton1 commented on #4709
@Sienna-Blumstengel when you say this resurfaced do you mean there was a client case of this causing confusion? When this was last discussed my understanding was it only takes seconds for the incorporation number to come back so the likelihood of a client immediately going into the transactions interface and experiencing resulting confusion was low. It was some time ago though, so that may be inac

[2021-03-03 01:36] sumesh-aot commented on #6543
@mstanton1 For any accounts which have a CAS account [Online Banking and PAD accounts], we can issue a refund (credit) against a transaction [no partial refund], some work for this has been already done, need to hook it with refund flow.
Here is the user flow:
- User or staff clicks Refund
- Pay-API creates a credit against the account by reversing the GL codes which was originally used for the pa

[2021-03-03 01:49] andrepestana-aot commented on #4282
@tlebedovich - you can access here https://business-edit-dev.apps.silver.devops.gov.bc.ca/businesses/edit/BC1230085/alteration
That business is associated with bcreg0018.

[2021-03-03 04:49] jyoti3286 opened #6675 "API Gateway - Terms of Use"
Our API terms of use are being drafted and below is a small section in the document which requires clarification

@sumesh-aot and @thorwolpert: I am not sure how to describe the circumstances here.  Will they get two keys (first one to a test API and one to the production version?)  What do they need to do to get access to the production API? Do the API user need to confirm something in Test befor

[2021-03-03 15:51] rarmitag commented on #6664
That makes more sense. Thanks

[2021-03-03 16:16] Sienna-Blumstengel commented on #4709
Great question @mstanton1 , I don't remember what I mean by resurfaced. I can't recall a client experiencing this issue recently, I think I must have just seen the ticket again for the first time in a while haha.
To confirm I understand: we already update the transaction history once the incorp number is available, the only issue is if they go in right after incorporation and one has not been gene

[2021-03-03 16:27] mstanton1 opened #6676 "Business Registry Access for Chandra Kesana"
#### Description
Hi team,

Please grant access to cooperatives online and benefit companies for Chandra Kesana? IDIR is CKESANA, a Release Train Engineer taking over for Jyoti.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] A

[2021-03-03 16:44] riyazuddinsyed opened #6677 "Unable to download receipts for Name Request"
**Describe the bug in current situation**
When a user completes payment in test and hits on download pdf then the receipts aren't getting downloaded.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/namerequest/'
2. Complete filing an NR
3.Hit on Download receipts button
4. See error

![Screen Shot 2021-03-03 at 8.31.48 AM.png](https://images.zenhubuser

[2021-03-03 17:05] mstanton1 commented on #4709
@Sienna-Blumstengel that was my understanding. But it was some time ago so could be incorrect. Does it make sense to have this tested?

[2021-03-03 17:09] mstanton1 commented on #6487
@lmcclung please see the note from @pwei1018 above. The passcode was already re-generated, and no one has affiliated this co-op. Do you know what the issue is the client is experiencing? New passcode from Feb 12th is 525481305.

[2021-03-03 17:18] pwei1018 commented on #6637
Oracle db doesn't need it anymore.

[2021-03-03 17:36] #6595 closed

[2021-03-03 17:36] #6036 closed

[2021-03-03 18:00] amit4610 opened #6678 "Quarterly review of access to staff dashboard"

[2021-03-03 18:26] mstanton1 commented on #6676
Full access has been granted in TEST and DEV.

@jyoti3286 can you confirm what access should be granted in PROD? Other PO's and yourself currently have three groups which enable you all functionality (with the exception of creating new accounts, such as director search). However, PO's may perform tasks such as PROD verification or ops support.

[2021-03-03 18:39] trishreimer commented on #6660
We need to ensure the FAQ section clearly outlines the impacts, changes and considerations for BCOL users. Here is some content that could be used for that page.

If the client has any further questions or requires clarification, please let us know as this will help us decide what additional FAQ’s, training, support, etc. is needed.
-	Based on this particular question, new FAQ’s are being drafted

[2021-03-03 18:42] trishreimer commented on #6661
Help desks and staff are starting to push clients to these job aides for more info. Would we be able to get them updated in this sprint, please?
Thanks.

[2021-03-03 19:24] mstanton1 commented on #6617
Saravan just completed this change. I have sent the following to Tara Whalen and cc'd Jyoti, Linda and CAS Help.

The change below has been completed. As requested we have removed CASHelp@gov.bc.ca from the recipient list for NR Refund requests. We have added FIN.CASReconciliation@gov.bc.ca. I suspect there will be at least one request within the next day that will serve as verification the change

[2021-03-03 19:27] mstanton1 commented on #6599
Debbie has been in touch with the client. Today she noted: I talked to Tiffany and told her that we could not find a record of the payment coming off and that I had been advised that this typically means the payment is auto refunded.  She will go into her bank and see if it has been refunded and if not, she will dispute the charges.

Jyoti has sent all relevant information to SBC Finance in the ev

[2021-03-03 19:28] #5537 closed

[2021-03-03 19:28] #6121 closed

[2021-03-03 19:28] #6550 closed

[2021-03-03 19:28] #5776 closed

[2021-03-03 19:28] #6277 closed

[2021-03-03 19:28] #6325 closed

[2021-03-03 19:28] #6167 closed

[2021-03-03 19:28] #6392 closed

[2021-03-03 19:29] #6391 closed

[2021-03-03 19:29] #6654 closed

[2021-03-03 19:30] #6599 closed

[2021-03-03 19:40] mstanton1 commented on #6543
Additional information from Sumesh has been provided to Linda, Kaine and Jyoti. I've suggested we discuss at PO Sync.

[2021-03-03 20:21] thorwolpert opened #6679 "Entity Mailer: common Mailer for business; common message format; track messages for idempotent processing"
Entity Mailer should be used for all business ops (current entity & namex)

Entity Mailer should move to using cloud event messages (currently namex)

Entity Mailer should track incoming messages and ones completed so that they get processed only 1x to completion.

Entity Mailer should propagate the CTX values and identifier in cloud-event to other systems, logs and history storage.

At least part

[2021-03-03 20:51] Sienna-Blumstengel opened #6680 "Verify - NRs can be submitted to DRAFT state without payment"
**Describe the bug in current situation**
Sometimes there are multiple DRAFT NRs and one or none have been paid.

**Impact of this bug**
Loss of revenue. Very bad! ⚠️

**Chance of Occurring (high/medium/low/very low)**
Not sure if high medium or low. But we have a record of it happening in this [duplicate NR sheet.](https://docs.google.com/spreadsheets/d/156TA2IhWHV5vrI_rYWN7650rS4qoxbeH3WETn2pF80

[2021-03-03 21:43] amit4610 commented on #6560
@lmcclung @Sienna-Blumstengel the last comment about putting basic benefit companies in COLIN is for you.
Please start work on steps 1-2 when available.
Relationships will do the refund, step # 3 for incorporation.

[2021-03-03 21:56] mstanton1 commented on #6473
Only remaining items:

5. @mstanton1 to follow up. It was identified that second charge was from a second NR (NR 3499523) that was created in error. Order number 182819. I have requested that Steven refund this.

12. @amit4610 to follow up with IT Ops.

[2021-03-03 22:08] mstanton1 commented on #6516
2. @amit4610 will follow up again with IT Ops in a few days.
4. @pwei1018 or @sumesh-aot can you work with @stevenc987 to support refunding the priority fee only.
6. @mstanton1 sent a follow up to IT Ops to ask they verify if the client sees the additional charge. As per above, we do not have a payment in our DB for NR 7940359.
13. @amit4610 sent a follow up to IT Ops to confirm if the client sees

[2021-03-03 22:12] mstanton1 commented on #6607
@stevenc987 the weekly refunds are ready for processing. Thank you!

[2021-03-03 22:24] jdyck-fw commented on #6584
I'm not sure what the answer is on this @areyeslo. I'll add it to our standup agenda for tomorrow morning to clarify with the team, unless you've already found this answer elsewhere.

[2021-03-03 22:54] gh20s commented on #6588
![image](https://user-images.githubusercontent.com/49725997/109883475-53bb7280-7c30-11eb-852d-501706f8d3ec.png)

running into an error when trying to login to virtel and need to try and troubleshoot

[2021-03-03 22:55] Sienna-Blumstengel opened #6681 "NR output shows different expiry date than application"
### Service Now Incident:
INC0079129

### Staff name:
Jennifer Weldon

### Description
Got an IT Ops email from Jen:

### Steps to reproduce
Unknown!

### Expected behavior
NR Expiry dates are the same in outputs, as well as on the applications

[2021-03-03 23:44] Kaineatthelab commented on #6560
@Sienna-Blumstengel benefit companies are supposed to be available via colin. @lmcclung sounds like there was an issue with this one.

[2021-03-03 23:45] tlebedovich opened #6682 "Change of Director - Autofill is creating duplicate street addresses and wrong Province entry"
Two autofill address entry bugs noticed by @forgeuxGH5

1) When changing a director, start typing an address in the first Street Address field, then when you click to select an address from the address look up dropdown it is duplicating that address into both the Street Address field and also the "Additional Street Address" field

2) The address look up and/or autofill is filling the Province in a

[2021-03-03 23:46] tlebedovich commented on #6682
@forgeuxGH5 - please edit or expand as needed

[2021-03-03 23:51] #6673 closed

[2021-03-04 00:01] tlebedovich commented on #6546
@lmcclung - There are a total of 3 tickets all related to this #6546, #6587 and #6674 - all now in grooming

[2021-03-04 00:07] Sienna-Blumstengel commented on #6462
@Sienna-Blumstengel book a meeting to review which pages are highest priority with trish and linda

[2021-03-04 00:16] #6348 closed

[2021-03-04 00:23] Sienna-Blumstengel opened #6683 "Job aids for SBC Regional Offices"

[2021-03-04 00:24] Sienna-Blumstengel opened #6684 "Communication - SBC Regional Offices"
Need to communicate to SBC executives and staff at SBC regional offices.
Key audience will be the staff.

This comm will be high level and inform people of the change.

-------
Hello,

As of April 30th, as part of the Modernization Initiative (link), BC Registries will be decommissioning NRO on BC OnLine and replacing it with a new application, Name Request(link). Temporarily, Service BC Agents wi

[2021-03-04 00:46] areyeslo commented on #6584
The current validation is applied to schema_id: filing and validated against https://github.com/bcgov/business-schemas/blob/master/src/registry_schemas/schemas/filing.json the validation applies when we have an application incorporation. Not sure, if the change is requering to add this validation to alterations.

Currently, there is validation in place to check JSON object in any of the following

[2021-03-04 00:59] areyeslo commented on #6164
Hi, I am not able to access Namex dev db, the user `userHQH` no longer exists. I am not able at the moment to connect to db. I will ask other user to connect to db.
Thanks

[2021-03-04 02:44] lmcclung opened #6685 "Make entities historical"
The following entities need to made historical once we have the functionality in postgres:

BC1068555 - Administrative Dissolution on February 19, 2021
CP
CP
CP

[2021-03-04 02:48] lmcclung commented on #6385
Added to Epic 6685 - for future processing

[2021-03-04 03:04] lmcclung commented on #6430
Emailed Cameron and Amber

I’ve included Cameron as I’d welcome his feedback.

Does a coop dissolving in COBRS dissolve in Coops online automatically too, or will we need to keep opening these tickets?
We’re currently working on building the functionality for developers to be able to file coop voluntary dissolutions for you.  As part of this work, they are going to implement the fields in our data

[2021-03-04 03:11] lmcclung commented on #6560
@Kaineatthelab @Sienna-Blumstengel Yes, there was an issue syncing back to COLIN on this one.  Richard resolved in on Feb 23rd in ticket #6539.

@amit4610 @mstanton1 I checked the corporation table in CPRD - there is a BN9 & BN15 - sounds like IT Ops is dealing with this - but maybe double check.

Re: making it dissolved on business registry app... we don't have the status field in postgress yet.

[2021-03-04 16:11] mstanton1 commented on #6617
Tara has provided confirmation that a NR refund request from yesterday successfully routed to  FIN.CASReconciliation@gov.bc.ca.

[2021-03-04 16:11] #6617 closed

[2021-03-04 16:34] mstanton1 opened #6686 "Action to Go to Entity Dashboard takes user to Homepage"
**Describe the bug in current situation**
In PROD I looked up a Benefit Company on the staff dashboard. When I chose the action 'Entity Dashboard' instead of being taken to the entity dashboard I was taken to the homepage. This was repeated in subsequent tests with other benefit companies. It seems this might not be working for benefit companies, and only for co-ops?

**Link bug to the User Story*

[2021-03-04 16:59] trishreimer opened #6687 "create comms to corporate supervisors for BCOL names request"
Key messages: what's coming, changing and thanking them again for the time and input.

[2021-03-04 17:03] pwei1018 commented on #6418
This request is done.

https://dev.bcregistry.ca/ppr
https://test.bcregistry.ca/ppr
https://www.bcregistry.ca/ppr

[2021-03-04 17:06] Sienna-Blumstengel commented on #6398
Client has set up their premium account with BCOL (I confirmed!) . Account name is: **MACUSHLA LAW CORPORATION**

[2021-03-04 17:09] Sienna-Blumstengel commented on #6450
Client has successfully set up their premium account with their BCOL.

**Name**: Digby R Leigh Law Corporation

**Account number:** 417025

[2021-03-04 17:33] tlebedovich commented on #6149
@forgeuxGH5 - Here are the updated PPR visual designs. Please do a final review before I prep for development. Thank you!

[2021-03-04 17:34] riyazuddinsyed opened #6688 "Last name shows as null when the field is empty in submission details."
**Describe the bug in current situation**
When a user is filing an NR for his client and then upon entering no Last Name in the submission details then the front end doesn't throw any validation but the "Confirm Name Request" screen shows as null

**Impact of this bug**
Users filing NR on behalf of clients

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/namerequest'
2. Click

[2021-03-04 17:35] Kaineatthelab commented on #6498
@forgeuxGH5 is there a design for this for Kial?

[2021-03-04 17:55] jdyck-fw commented on #6679
This is likely about a day or two worth of work.

[2021-03-04 18:02] tlebedovich commented on #6584
@areyeslo - In case this is helpful - if you go to this Share Structure update comps - scroll down to the very bottom and you'll see on the right side comps that shows some error validation examples and it notes that the "Done" button should stay blue and it should trigger the error validations -- https://invis.io/9SZ5UJ65BH3#/435272933_5342_Correction_-_P2_-_Share_Structure_UX-Visual

c/c @camero

[2021-03-04 18:04] severinbeauvais opened #6689 "Create UI: move new FED component to shared library and replace old component"
The "Incorporation Date Time" component was originally written in Create UI.

This component was then refactored/cleaned up/fixed in Edit UI and renamed "Effective Date Time" (in #5476).

This ticket is to move the new Effective Date Time component to the (BCRS Shared Component library)[https://github.com/bcgov/bcrs-shared-components], and then import it into Create UI to reap the benefits of its

[2021-03-04 18:05] #6164 closed

[2021-03-04 18:40] lmcclung commented on #6236
Following discussion, agreed wasn't necessary to add the validation on the search page.  Updating the UI in the request flow was sufficient.

[2021-03-04 18:40] #6236 closed

[2021-03-04 18:40] andrepestana-aot commented on #5027
@tlebedovich you can use this link to test:
https://business-edit-dev.apps.silver.devops.gov.bc.ca/businesses/edit/BC1230001/alteration (BCREG0018)

[2021-03-04 18:41] #6545 closed

[2021-03-04 18:41] stevenc987 commented on #6607
1.	 NR 9088148 (INC0077923) - No payment record in Postgres DB for this NR
3.	 NR3185339 (INC0078193) - Refund Requested
4.	 NR6739344 - please refund the priority fee of $101.50 - Refund Requested for priority fee only
5.	 NR 7874646 & NR 5818026 (INC0078460)  - No payment record in Postgres DB for both NRs
6.	 NR 2381885 (INC0078494) - Refund Requested
7.	 NR 2609558 (INC0078497) - Refund Reques

[2021-03-04 18:42] #5109 closed

[2021-03-04 19:06] jordiwes commented on #5029
"Resume Later" does not save them (they don't get sent in the PUT)
Neither does "Review and Pay". (same as above)

[2021-03-04 19:12] jdyck-fw commented on #5029
Assigning this to you to decide what to do next @lmcclung , as the verification is complete and it looks like we have yet to do this work.

[2021-03-04 19:25] sumesh-aot commented on #6473
NR 3499523 : Refund requested.

[2021-03-04 20:19] Milan-Freshworks commented on #6686
It has been tested and verified.

[2021-03-04 20:50] jdyck-fw opened #6690 "Onboarding for Chandra"
**Onboarding checklist for new team members**
- [x] **IDIR**
- [x] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [x] Submit to IT Operations Support. This form should be emailed to the Registries Executive Assistant. Currently this role is held by Michael Leung.

-----------------
- [x] *

[2021-03-04 21:05] amit4610 commented on #6678
Classified list of users who have access to staff dashboard for 4 groups:
https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3683

@mstanton1

[2021-03-04 21:24] sienna-blumstengel opened #6691 "Training for Debbie's team"

[2021-03-04 21:25] jdyck-fw commented on #6689
@lmcclung - For consideration for grooming (to ensure the team is aligned)

[2021-03-04 21:29] riyazuddinsyed opened #6692 "unable to file an AR for a new named company."
**Describe the bug in the current situation**
when a user tries to affiliate the NR and file an AR then the dashboard shows an Invalid Incorporation Application with no API Error logs

**Impact of this bug**
All users trying to Incorporate their NR

**Steps to Reproduce**

1. Go to 'https://test.bcregistry.ca/namerequest/'
2. Fil;e an NR
3. Affiliate it with BCSC user
4. See error

**Screenshots/

[2021-03-04 21:31] Kaineatthelab commented on #6059
@tlebedovich @forgeuxGH5 can you update this and make sure the wireframes are right with the new words renew etc... pls

Also, see my email about a notification.

[2021-03-04 21:32] Kaineatthelab commented on #6059
@kialj876 Project X - Next Feature For you on Live Branch (after upgrade priority)

[2021-03-04 21:38] #6692 closed

[2021-03-04 21:47] jdyck-fw commented on #6688
Estimated based on the solution being to keep 'Client Name' and display something else if client first name / client last name is empty. These name fields are not required.

Send this to Scott / Tracy for wording before we pick this up.

[2021-03-04 21:51] jdyck-fw commented on #6505
Some investigation required here to determine the impact of this.

[2021-03-04 21:52] mstanton1 opened #6693 "Prevent single character, punctuation org_name in auth_DB"
#### Description
In the March 1, 2021 Quarterly review Meng noted "Some orgs have very short name like ‘.’, should we make some restrictions like at least 1 letter?"

**BA analysis is required to confirm restrictions, if any in BCOL, and then identify which restrictions should exist in the Business Registry. It seems reasonable, at a minimum, to require 1 letter.**

#### Tasks
- [ ] When ticket ha

[2021-03-04 21:55] #6479 closed

[2021-03-04 21:58] #6677 closed

[2021-03-04 22:01] sumesh-aot opened #6694 "BCOL fee codes for Vital Statistics"
#### Description
Create fee codes for Vital Statistics transactions which will be used by Pay-API for DRAWDOWN accounts. Or analyze and confirm, if we can use existing fee code. BCOL fee code is configured against the product type, not against fee schedule. Which means we cannot use different fee codes for different fee schedules.

#### Tasks
- [ ] When ticket has been created, post the ticket in

[2021-03-04 22:03] jdyck-fw commented on #5660
If it was incorporated in cobrs there shouldn't be any outputs to download.

[2021-03-04 22:03] #5660 closed

[2021-03-04 22:08] sumesh-aot opened #6695 "Identify GI and GA transactions"
#### Description
How to identify GI and GA transactions when a JV is created. This ticket is to explain the identification and then implement in JV job.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] Assign zenhub ticket to m

[2021-03-04 22:11] sumesh-aot opened #6696 "GL codes for vital stats"
#### Description
To disburse money to vital stats, we need to configure proper GL to the database. Ticket is to collect the GL and update in DB for PROD.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] Assign zenhub ticket to

[2021-03-04 22:15] jordiwes commented on #5475
@tlebedovich will confirm some changes/additions to this page, thanks Tracey
The certify section is a shared component - I will make some text/font updates to that

[2021-03-04 22:20] sumesh-aot opened #6697 "Decide if Online Banking needs to be supported for Partner applications"
#### Description
Online Banking doesn't have any time limit on when the payment has to be completed. This puts a direct risk for partner application workflow as they need to know when they should release the records, and have to build an offline system to handle this.
Ticket is to decide whether online baking has to be supported for partner applications, or should we handle their invoices similar

[2021-03-04 22:41] mstanton1 commented on #6623
@mengdong19 thanks for your patience, and great work!

1. For auth_db orgs yes, I agree we should prevent org names that are short, and restricted to punctuation. I have created 6693 for Amit or myself to do analysis on next sprint.
2. For auth_db users can you create a ticket to record login_source for BCROS users?
3. For pay_db can you confirm if "user_name" or "remote_addr" are required for CFS

[2021-03-04 22:47] tlebedovich commented on #5475
@jordiwes - Some answers for you.

- Do note include the "Note: It is an offence...." paragraph under the date (we'll make a new ticket at some point for that)

- Non-Staff version of check box wording:
I, **[Legal Name]** certify that I have relevant knowledge of the BC Company and I am authorized to make this filing.

- Non-Staff documents delivery component:
Still confirming is we are showing b

[2021-03-04 23:02] rarmitag commented on #6450
Company successfully altered to BEN.
verify and close.

[2021-03-04 23:07] tlebedovich commented on #5475
@jordiwes - let me know if you have questions about validation for this component. I left a note on design comp as shown below:

![Screen Shot 2021-03-04 at 3.06.42 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/e04d62ae-8cf3-4d7c-bea1-914e9d86b74f)

[2021-03-04 23:07] lmcclung opened #6698 "URGENT EP REGISTRATION NR ISSUE NR4370556"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:  INC0079360
#### Contact information
Staff Name: Dee Clancy
Staff Email: Deirdre.Clancy@gov.bc.ca

#### Description
The client trying to register an EP with NR4370556 – but NR can’t be retrieved – can you assist?

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tas

[2021-03-04 23:15] rarmitag commented on #6398
Company successfully altered to BEN.
verify and close.

[2021-03-04 23:19] lmcclung commented on #6698
Known issue...

- [ ]  Create new NR in NRO; include number in home jurisdiction
- [ ] Approve in NameX without consent required
- [ ] Find consent received date on old NR in NameX.  Add a comment to new NR in NameX stating consent was rec'd MMM/DD/YYYY under NR#.
- [ ] Cancel old NR
- [ ] Start an EP registration filing in corporate online to make sure NR is retrieved
- [ ] Send staff the new NR#

[2021-03-04 23:23] lmcclung commented on #6398
@rarmitag - doesn't look like it has come across to COLIN yet.

[2021-03-04 23:30] tlebedovich commented on #5025
@cameron-freshworks - ping me when this is ready to check out again!

[2021-03-05 00:04] cameron-freshworks commented on #5025
Will do! 👍

[2021-03-05 00:31] mengdong19 opened #6699 "bcros users don’t have login_source recorded in users table."
**Describe the bug in current situation**
login_source column is null value for all bcros users in users table.

**Impact of this bug**
Data query using login_source column may affected for bcros users.
Ongoing creation of bad data could have unexpected impacts later, such as in director search accounts.

**Chance of Occurring (high/medium/low/very low)**
low

**Steps to Reproduce**
Steps to repro

[2021-03-05 00:57] mengdong19 opened #6700 "Questionable data in 'data' field 'activity' table for some CfsAccount"
In pay-db, there are some rows in activity table has value in 'data'  field like '"user_name": null, "remote_addr": null' for some CfsAccount. These need to be investigated to find out how these data were created,  theoretically  'user_name' and 'remote_addr' should have value.

![image.png](https://images.zenhubusercontent.com/5c747659d74bd07972c36d5e/eb13d59b-7eb5-47b9-afb0-9d17316891c2)

[2021-03-05 01:15] mengdong19 commented on #6623
@mstanton1 @sumesh-aot Two tickets are created for further investigation:
2. https://github.com/bcgov/entity/issues/6699
3. https://github.com/bcgov/entity/issues/6700

Document is uploaded to the following folder: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/Modernization%20Docs/Relationships%20Docs/Quarterly%20Review

[2021-03-05 01:58] tlebedovich commented on #6059
Hi guys - I haven't been in decisions around the latest decision here. @forgeuxGH5 can you let me know? There were about 5 other instances where we'd have to change language if we are no longer calling this Extend Expiry. Happy to update if someone can steer me to what we are updating to (apologies if you sent it somewhere and I've missed it).

[2021-03-05 02:36] forgeuxGH5 commented on #6059
We need to update the wording from extend/extension to renew/renewal per your email identifying all the places we need to change it. We can go through the wording or maybe I can mark-up the screenshots.
I need to draft some wording for a couple of reminder email notifications but @tlebedovich you don't need to do anything for those.

[2021-03-05 07:04] saravanpa-aot commented on #6537
@rkim13103 the wordings might not suit our scenario. since they accept an invitation , just logging into the application with IDIR wont work. they have to click the link itself.

[2021-03-05 14:04] jyoti3286 opened #6701 "Remove Business and Do not reset my passcode"
* As a staff user
* I want to be able to remove a business from an account (creating a new passcode)
* so that I can give control of the business to another account

* As an account administrator/coordinator/user
* I want to be able to remove a business from an account (creating a new passcode)
* so that I can give control of the business to another account

**Acceptance Criteria**

**Scenario 1:

[2021-03-05 14:26] jyoti3286 opened #6702 "Passcode Reset: Activity log"
* As a Staff user
* I want see the passcode reset history for an account performed by both staff and user
* so that I can better track the account activity and assist users in case of queries

**Acceptance Criteria**

**Scenario 1: Generate Activity log**
* GIVEN that I am a Staff user or Account Admin and I am on the Accounts page - Activity log section(new section under Activity)
https://preview

[2021-03-05 14:52] jyoti3286 opened #6703 "Generate passcode for non-affiliated business"
* As a staff user
* I want to be able to generate a passcode from an account  for an unaffiliated business
* so that I can give control of the business to another account
__________________________________________________________________
* As an account administrator/coordinator/user
* I want to be able to generate a passcode from an account  for an unaffiliated business
* so that I can give contr

[2021-03-05 15:12] jyoti3286 opened #6704 "Ministry Account Email invite and IDIR login"
* As a staff user if the Prime contact reaches out to create a Ministry Government account
* I want to send an invite to the Prime contact
* so that the prime contact is able to create an account

**Acceptance Criteria**

**Scenario 1: Succesful Invite message to Staff**
* GIVEN that I am able to send an invite to the client by entering the Contact information and Email details of prime contact
*

[2021-03-05 15:56] #6698 closed

[2021-03-05 16:25] mstanton1 commented on #6623
@mengdong19 thank you. Can you add the Zenhub ticket numbers into the review document so it is clear we are following up. Once complete this ticket can be closed.

[2021-03-05 16:28] Sienna-Blumstengel commented on #4363
@forgeuxGH5 @tlebedovich is this the ticket where I would find updated designs for selecting Registrar's notation, registrar's order, court order?

[2021-03-05 16:34] Sienna-Blumstengel opened #6705 "Incorporate BC LTD, CCC, ULC - Part 1"
### Description

As a User
I want to incorporate a new entity in BC
So that I can be recognized as a legal business in BC and operate in the province

### Background

This epic was originally planned as an experiment to see if we gain some economies of scale by building multiple filings at the same time.  This would involve working on a component **once** and creating all the variations for it.  F

[2021-03-05 17:08] forgeuxGH5 commented on #4363
Yes - we still need to update the designs -  I think we need to update #4315 with the additional requirements/acceptance criteria - maybe update the title too?

[2021-03-05 17:40] jyoti3286 opened #6706 "Prime Contact create the request for Ministry Government Account"
* As a staff user if the Prime contact has received the invite to create the Ministry Government Account
* I want to send all the required details to BC Registry Staff
* so that the BC Registry Staff can access the request

**Acceptance Criteria**

**Scenario 1: Prime contact Enters All the details on the Account Info Page **
* GIVEN that Prime contact has landed on the Account creation page
* WHE

[2021-03-05 17:46] forgeuxGH5 commented on #4363
Updated wireframes - we need to confirm Registrar's Order and Court Order information

[2021-03-05 17:47] amit4610 commented on #6516
Hi @stevenc987 Please refund NR 3051223.

[2021-03-05 17:53] Sienna-Blumstengel opened #6707 "FILER - add pre-existing company provisions"

[2021-03-05 17:56] Sienna-Blumstengel commented on #6707
Already built when we built the manual process in jupiter notebooks

[2021-03-05 17:56] #6707 closed

[2021-03-05 17:58] stevenc987 commented on #6516
@amit4610 NR 3051223 - Refund Requested.

[2021-03-05 18:34] Sienna-Blumstengel commented on #6519
Complete this by Friday, Mar 12th.

[2021-03-05 19:05] rarmitag commented on #6434
Looking at other records that came from COLIN:
filing_id        postgres Date                  COLIN Date         Dashboard
35038     2017-10-23 00:00:00+00      17-10-23            17-10-22
35039     2019-02-08 00:00:00+00      19-02-08            19-02-07
35040     2019-02-08 00:00:00+00      19-02-08            19-02-07

So it appears that none of the data from COLIN has been adjusted.
As Sever

[2021-03-05 19:36] lmcclung commented on #6434
closing ticket

[2021-03-05 19:36] #6434 closed

[2021-03-05 19:37] jyoti3286 opened #6708 "BE: Handle the Pay-API changes for Ministry Govt Account"
* As a Ministry user when I create my Ministry Government account
* I want my payment information updated in the backend as Account Type "JV"
* so that my payment can be processed via Journal Voucher

**Acceptance Criteria**

**Scenario 1: Ministry Government Account JV Details**
* GIVEN that a Ministry user have submitted their account info
https://preview.uxpin.com/9d3cc1c05d562c121b088ee6bc279d

[2021-03-05 19:37] mstanton1 commented on #6529
@Milan-Freshworks can you take a look at this in PROD?

[2021-03-05 19:43] Sienna-Blumstengel commented on #6593
@Kaineatthelab @janisrogers could you define this ticket a bit more? The description doesn't seem to match title.
Also, we found https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6579, which might cover some of this ticket.

[2021-03-05 19:45] amit4610 commented on #6234
@janisrogers to gather requirements for authentication and user groups (what type of filing can be accessed by different groups) and discuss with relationships.

[2021-03-05 19:55] Sienna-Blumstengel commented on #6651
Duplicate of https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6591. Closing.

[2021-03-05 19:55] #6651 closed

[2021-03-05 19:58] mstanton1 commented on #6656
@Milan-Freshworks can you replicate?

[2021-03-05 20:07] Milan-Freshworks commented on #6529
@mstanton1 I don't have access to accounts in Prod. Do we have access to accounts that I could use?

[2021-03-05 20:09] Milan-Freshworks commented on #6656
Yes, we have been able to reproduce it. There was a intercept needed for CC payments and we were waiting for work to be done from entities side.

[2021-03-05 21:07] jordiwes commented on #5475
from Tracey: I just heard back from Linda and she wants to add back in the optional email form to the Alterations Document Delivery component for Staff users. I will have this back into the Staff version of the design comps. Email field will need the standard email validation.

[2021-03-05 21:33] mengdong19 commented on #6623
Ticket numbers are added to the document. Close this ticket.

[2021-03-05 21:33] #6623 closed

[2021-03-05 22:44] #6335 closed

[2021-03-05 22:44] #6337 closed

[2021-03-05 22:58] jdyck-fw commented on #6690
Chandra just enabled 2fa for github a moment ago, and so should now be all set to be added to the entity repo (to allow for edit permissions in ZH)

[2021-03-05 23:04] lmcclung commented on #5029
@jordiwes This work needs to be done as part of this story.  What kind of tickets do you need?  Filer/COLIN API/??  Can you repurpose this one or do you want a new one?

[2021-03-05 23:17] lmcclung commented on #6690
@jdyck-fw I have a suggested enhancement for our template... some of these items are dependent on others.  Can you note that?

Also, I created a ticket to get Chandra Openshift access yesterday, but now I'm thinking he doesn't need it because he's not a developer.  @rarmitag could you confirm whether Chandra needs it in his role of Release Train Engineer?

[2021-03-05 23:48] mstanton1 commented on #6543
Decision to implement BCOL first. Goal is to add to Sprint 52. @mstanton1 to create tickets for grooming. Once complete this can be closed.
PAD to remain on roadmap for consideration in later release.

[2021-03-06 00:01] jdyck-fw commented on #6690
@lmcclung Ticket updated, no openshift needed

[2021-03-06 00:02] mstanton1 commented on #6583
@stevenc987 can you check if order_id 182823 shows refund requested on our side? If not can you please process this refund? Thanks!

[2021-03-06 00:04] mstanton1 opened #6709 "Transaction History for PPR"
#### Description
The PPR team has sent along the following questions that require looking into:

I’m wondering if you can give me some information about the transaction list for a premium user. I am wondering what would show for a PPR Search. I assume the first line would be tied to the fee code (ie PPR Search), but on the next line could we display the search type and criteria? Also, I was wonder

[2021-03-06 00:04] mstanton1 commented on #6709
Answers have been provided via email to Janis, Amit, Scot and Patrick:

Transaction Type: We aren’t working with fee codes. The transaction type in bold below is a filing type code description. The filing type code description is set up in the database, and you would provide the description for each filing type when they are set up.
* Does this meet your needs? There is potential to change what is

[2021-03-06 00:05] #6709 closed

[2021-03-06 00:08] mstanton1 opened #6710 "Confirmation of Timing for EJV Files"
#### Description

EJV files were previously completed monthly which worked with approvals. Approvals have been removed, and there is no other business reason that has been identified to wait to distribute partner funds.

Confirmation is needed for processing rules.
1. Are files generated everyday, or is this just business days?
2. How much of a delay do we want after the business day in which tran

[2021-03-06 00:11] mstanton1 commented on #6710
1. Files should be restricted to weekdays. There are challenges in creating multiple files over the weekend as CAS will pick them up Monday but only provide one feedback file. To support reconciliation on our end we need one feedback file per file sent.

2. Ian and Jyoti have confirmed that we should implement a 5 day wait before distributing partner funds to reduce the risks associated with faile

[2021-03-06 00:17] #6638 closed

[2021-03-06 00:17] #6639 closed

[2021-03-06 00:17] #6637 closed

[2021-03-06 00:17] #6686 closed

[2021-03-06 00:20] lmcclung commented on #6296
@thorwolpert @severinbeauvais - am I asking for the right thing of the home team?  Who can I put as a contact person for them in our team to discuss?

[2021-03-06 00:51] severinbeauvais commented on #5476
### Test Notes

1. displays and functions as per (Invision)[https://projects.invisionapp.com/share/6EYT1CDGYVN#/screens/445482334]
   - layout
   - left border red when invalid
   - validation messages
   - enabled/disabled states
   - intro text
   - end blurb
2. time output now displays "am" and "pm" (lower case, no periods) per BC Gov web style guideslines
3. date output now displays "Pacific t

[2021-03-06 01:10] tlebedovich commented on #6059
@forgeuxGH5 - i've uploaded the screenshot to invision so if you could pretty please tag me in comments for copy that needs to be updated. -- > https://invis.io/5U10EMDVMXDR

[2021-03-06 06:13] thorwolpert commented on #6296
It's the same questions I asked David about for names.
The standard is to use it, but for names it was all different.
I'll dig out the info I sent for names, same investigation needs to be done for the Cxxx databases.

[2021-03-07 19:09] severinbeauvais opened #6711 "Verify: Mac/iPhone-only Sentry errors"
According to Sentry, some errors happen only on Mac/iPhone devices.

For example: [null is not an object (evaluating 'n.title')](https://sentry.io/organizations/registries/issues/2123434759/events/04ce1755efc94ed2b1cf9d935daa7ff2/)

This ticket is to verify that these errors are resolved by the Project X / Release 2.0 UI refactor (specifically, the module to store refactor).

[2021-03-07 20:37] severinbeauvais commented on #6470
I found a couple of errors that could very well cause validations on application info pages 2 and 3 to fail and allow the submission of a NR without the required fields.

This fix, and a few others I'm working on (in NR 2.0 refactor) should be deployed to Prod as soon as possible. For this we need PO approval, Riyaz to verify, perhaps a Zenhub release and release ticket...

[2021-03-08 15:45] cameron-freshworks opened #6712 "Court Order and Special Resolution Component"
**Share Structure Design Updates (Talk to Tracey to review if confusing):**
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/5342

* Does this need to be Shared? Will we use it outside the Edit-UI?

* Create the "Resolution or Court Order Dates" sub-component
* Build the modal to enter a resolution or court order date.

* Apply the date to the Alteration filing

[2021-03-08 16:41] mstanton1 opened #6713 "NR Refunds Mar 4 - Mar 10"
1. - [ ] Refund NR 3654823. This was a duplicate submission. (INC0079597)
2. - [ ] NR 6286601 - duplicate, refund if a payment is taken
3. - [ ] NR 6356513 - duplicate, refund if a payment is taken
4. - [ ] NR 8787298, 4497267 & 9621472 are on hold - refund if a payment is taken for all 3
5. - [ ] NR 3368971, 9487531 have been cancelled - refund if a payment is taken
6. - [ ] 5720843, 5213841, 657

[2021-03-08 16:42] sumesh-aot commented on #6675
@jyoti3286 My understanding is that there will be an option for the user to select the environment [UAT or PROD], when they generate a key. Teams starts with UAT keys first, and generate the PROD key once ready for go-live. @thorwolpert  please correct if this is a wrong assumption.

[2021-03-08 16:51] Kaineatthelab commented on #6470
Yes!! YAAAA This has been plaquing me, I see NRs come through without mandatory information, shouldwe chat at standup? @severinbeauvais

[2021-03-08 16:55] sumesh-aot opened #6714 "Create JV file only on business days"
#### Description
Create JV file only on business days. As the files will be processed together no matter when we upload the file, the reconciliation will be harder if the feedback is for multiple inbox files

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1'

[2021-03-08 17:17] severinbeauvais commented on #6470
Sounds like PO's approves, lol.

Yes, let's chat at standup or just after.

[2021-03-08 17:38] jyoti3286 commented on #6675
Thanks @sumesh-aot  @thorwolpert - What I want to get some understanding on is the process between getting a key to Test vs Prod.

Would the user need to complete some testing procedures in the Test environment before we can hand them over the Prod keys?

[2021-03-08 17:49] #6491 closed

[2021-03-08 17:53] stevenc987 commented on #6583
@mstanton1 Refund Requested for NR 5996008

[2021-03-08 18:43] riyazuddinsyed commented on #5274
@andrepestana-aot @tlebedovich Understanding that this ticket should show a Change of Name Output and whenever i try to do that it says Unable to download

[2021-03-08 18:54] andrepestana-aot commented on #5274
@riyazuddinsyed sorry, right now we don't have a link from the application to download it. To test it should it be done through postman with a GET to https://business-edit-dev.apps.silver.devops.gov.bc.ca/businesses/edit/[businessIdentifier]/filings/[filingId]?type=certificateOfNameChange and add a header "Accept" with value "application/pdf" along with the other common headers.

[2021-03-08 19:01] mstanton1 opened #6715 "Show PAD Credits in Transactions UI"
* As a premium client paying with PAD
* I want to see account credits in the transactions UI
* so that I know the current balance of my account

*Ticket is for design. AC can be written once design is determined.

_Note: Online banking does not have access to transactions UI. PAD will have a low volume of cases where credits exist._
...

**Dependencies? What is the impact of this dependency? (If s

[2021-03-08 19:03] severinbeauvais opened #6716 "Namerequest UI: configure nginx to never cache index.html"
In Production, many users have experienced errors that we believe are caused by them using an older version of the web app, ie, their browser has cached the app and is not using the latest deployed app. (Sometimes when we ask them to clear their cache, the errors go away.)

Namerequest UI uses Webpack, which is configured to attach a unique hash to the app JS/CSS files, so new files should get pic

[2021-03-08 19:07] mstanton1 opened #6717 "Test PAD Credit Memo"
#### Description
For PAD UAT we implemented a flow where if a client requests a refund on a PAD transaction it creates a credit memo in the CFS and then marks that invoice as refunded.

This ticket is for TESTING in TEST as this was only done in UAT. This needs to be tested.
    -currently it creates a credit memo in CFS and then marks that invoice as refunded (done for UAT)

#### Tasks
- [ ] When

[2021-03-08 19:16] mstanton1 commented on #6697
@jyoti3286 please look at your notes to see if you have record of a decision.

[2021-03-08 19:40] mstanton1 opened #6718 "Confirm if GL Details can be displayed as read only to all admins in Ministry Account"
#### Description
Confirm if GL Details can be displayed as read only to all admins on a ministry account.

Design / approach decision is needed for the payment methods tab. If these can be displayed as read only a design will be needed for this screen. If the information is confidential, and cannot be displayed to all admins an alternate approach will be needed. E.g.  Suppress or Info to contact B

[2021-03-08 19:48] #3518 closed

[2021-03-08 20:39] severinbeauvais commented on #4785
I changed my mind on all of this.

The current Javascript provides good-enough date/time functions without needing a "heavy" package like Moment.

I [recently updated our date/time functions in Edit UI](https://github.com/bcgov/business-edit-ui/pull/113). That code should be ported to our other UIs. I may be able to do that as part of other work in those UIs, but let's keep THIS ticket to do it se

[2021-03-08 21:50] Milan-Freshworks commented on #6529
I was able to successfully complete the payment and did not encounter any error in the logs for BC Online Account.

Uploading Screen Recording 2021-03-08 at 1.45.55 PM.mov…

[2021-03-08 21:55] Sienna-Blumstengel commented on #6450
Can't access the entity dashboard to validate the alteration

![Screen Shot 2021-03-08 at 1.55.29 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/4f7ecbba-9e9a-4f2d-a1a5-e9c83aaf1fe8)

[2021-03-08 21:56] amit4610 opened #6719 "Government accounts using NRO in BCOL"
Title of ticket: NRO will shut down in April and some Gov accounts use NRO.
@trishreimer has a list of such gov accounts.
Contact them and ascertain the impact.

#### ServiceNow incident:
#### Contact information
Staff Name:
Staff Email:

#### Description
Summarize issue and attach email OR copy and paste email content into ticket

#### Tasks
- [ ] When ticket has been created, post the ticket in

[2021-03-08 21:59] Sienna-Blumstengel commented on #6398
Looks good to me! Checked COLIN and BC Business Registry.
Sending email to Lance to let client know

[2021-03-08 21:59] #6398 closed

[2021-03-08 22:04] amit4610 commented on #6719
@rkim13103 is working on it.

[2021-03-08 22:08] severinbeauvais commented on #114
This ticket can still not be implemented, since it is not us who import the `webpack-dev-server` dependency, but another pakckage we depend on (ie, `@vue/cli-service`). It is up to that package to update their dependency. There is nothing we can do until then.

[2021-03-08 22:48] Sienna-Blumstengel commented on #4239
@lmcclung this is the current affiliate modal,

![Screen Shot 2021-03-08 at 2.47.05 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/2039fc11-5b7c-49f6-8aac-14f057c6b428)

Do COLIN companies have a 9 digit passcode? Will we need to change the requirements of this passcode field depending on if it's a corp type or a co-op?

[2021-03-08 23:09] mstanton1 commented on #5598
@severinbeauvais why should the govt logo reload the root URL?

[2021-03-08 23:43] severinbeauvais commented on #5598
That's a standard way to return to the top level of any web app/site. Users will expect it to work that way.

[2021-03-08 23:44] Sienna-Blumstengel opened #6720 "As a user, I want to enter my business name, so that I can create a new company"

[2021-03-08 23:45] mstanton1 opened #6721 "Generate Refund Request Email for BCOL Clients in Name Request"
* As a premium client paying for services with a BC Online Account
* I want the ability to request a refund for a name reservation through Name Requests
* so that I can have funds returned to my account in cases when I do not require the service

**Acceptance Criteria**

**Scenario 1: Generate Email when client with BCOL Payment method requests refund through Name Request**
* GIVEN I am a premium

[2021-03-08 23:54] lmcclung commented on #4239
@Sienna-Blumstengel This requirement will need to change.  COLIN companies create their own passcode so it can be longer and a mix of letters/numbers.

[2021-03-09 00:07] mstanton1 commented on #6721
In A/C above it is possible this email may also go to IT Operations Support and/or the Service BC BA group. I will update when I have confirmation.

[2021-03-09 00:14] Milan-Freshworks commented on #6472
The ticket has been tested for my regular IDIR. For testing as a BC Registries staff/BCOL Admin/SBC Finance would require further be addressed in https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6426.

1. The drop-down needs to have text as per the design and currently appears like this ![Screen Shot 2021-03-08 at 2.49.15 PM.png](https://images.zenhubuserconten

[2021-03-09 00:22] mstanton1 commented on #6543
Tickets 6715, 6717 and 6721 have been created to implement a MVP for PAD and BCOL refunds in Name Request.

[2021-03-09 00:22] #6543 closed

[2021-03-09 00:36] thorwolpert commented on #6665
@mstanton1 could you use the admin account to remove the 2 user accounts listed above?
thx

[2021-03-09 00:49] severinbeauvais commented on #6090
@Kaineatthelab All our UI projects use axios, and all have been updated to use the [latest axios version](https://github.com/axios/axios/releases/tag/v0.21.1), which contains a ([fix](https://github.com/axios/axios/pull/3410)).

So we're all good, and this ticket can be closed.

I verified the following:
- bcrs-business-create-ui (axios 0.21.1)
- bcrs-shared-components (axios 0.21.1)
- business-ed

[2021-03-09 00:53] Kaineatthelab commented on #6090
Thanks @severinbeauvais

[2021-03-09 00:53] #6090 closed

[2021-03-09 01:03] Milan-Freshworks commented on #6250
It has been tested and verified

[2021-03-09 01:09] Milan-Freshworks commented on #4860
A daily file is generated and nothing is generated for a monthly one as confirmed by @mstanton1 . I have verified the contents of INBOX file and FEEDBACK file.

[2021-03-09 01:19] Milan-Freshworks commented on #6579
It has been tested and verified.

[2021-03-09 01:27] #6690 closed

[2021-03-09 01:33] #5110 closed

[2021-03-09 01:35] #5274 closed

[2021-03-09 01:36] #5277 closed

[2021-03-09 04:53] tlebedovich commented on #5476
Hi @severinbeauvais

Very nice!

Here are my UX Assurance notes. I'm ooto tomorrow (wed), so if you need clarification on my comps or notes please ask @forgeuxGH5;

**Validations:**

1) Thanks for implementing the red left bar and red header title! The plan was that those were for "Top Level" validations if the user clicked on the "File and Pay" button and hadn't touched this component yet and the

[2021-03-09 05:00] tlebedovich commented on #5028
@jordiwes - Amazing! This brings happy tears to my eyes, looks awesome.

Last fix that may have been overlooked -- the undo button and drop down menu for it are still scaled down and squishy. Match to size to Edit button. I noticed it in this alteration (log in with BCREG0018 (98918) to see)

https://business-edit-dev.apps.silver.devops.gov.bc.ca/businesses/edit/BC1218853/alteration

I don't need

[2021-03-09 05:02] tlebedovich commented on #6352
@forgeuxGH5 - have you reviewed this for Cameron?

[2021-03-09 13:56] jyoti3286 opened #6722 "Activity Log - Filter view"
* As a Staff or Account admin when I view the Activity log
* I want to be able to filter specific values on the log
* so that I don't have to scroll through the activity log to find something

**Acceptance Criteria**

**Scenario 1: xxxxxx**
* GIVEN ... (you or your condition)
* WHEN ... (what you do)
* THEN ... (what you see)

**Scenario 2: xxxxxx**
* GIVEN ... (you or your condition)
* WHEN ... (

[2021-03-09 16:14] mstanton1 commented on #6656
@Sienna-Blumstengel this is one from our BA meeting. It looks like it's back to your team at the moment.

[2021-03-09 17:09] jyoti3286 commented on #6676
@mstanton1 - We don't need Prod access for Chandra as of now.

[2021-03-09 17:16] #6676 closed

[2021-03-09 17:20] severinbeauvais commented on #5476
@tlebedovich @forgeuxGH5 @Kaineatthelab

As you point out, showing the "top level validation" is a future ticket. To reduce tech debt, I took a stab at it for this FED component but left the value as "True" so you always see the top level validation atm. I included notes to the other devs on this approach and how to complete it in the future ticket. So yes, top level validation is always enabled i

[2021-03-09 17:20] severinbeauvais commented on #5476
Can this ticket proceed to QA ?

[2021-03-09 17:22] sumesh-aot opened #6723 "Construct URLs for partner applications when account doesn't have access to partner application"
#### Description
Construct URLs for partner applications for the below scenario;
- When the account doesn't have access to the partner
- When the user doesn't have any access [create account]

This needs to be sent to Vital stats asap based on the meeting last week.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **r

[2021-03-09 17:35] severinbeauvais commented on #5476
Linda said in standup that this can be moved to QA. I will create an initial new ticket for the UI/UX changes.

[2021-03-09 17:37] cameron-freshworks commented on #5104
@tlebedovich For UX review, this can be looked at in storybook :) Kinda neat!

It can be found here: https://bcgov.github.io/bcrs-shared-components/?path=/story/component-sharestructure--default

[2021-03-09 17:38] severinbeauvais opened #6724 "Alteration UI: UI/UX FED component changes"
These notes are from a comment in #5476.

**Subset of comps showing FED component states :**
FED Not Active: https://invis.io/8D10SCREF3TG#/445482333_09aa_Certify_And_Review

FED Errors:
https://invis.io/7310SCPHEJ4X#/445482335_09a_Certify_And_Review_Errors_Validations

FED Entered:
https://invis.io/4M10SCPTYPW8#/436257303_09b_Certify_And_Review_-_Entered

### **Update Component/Field Specific Val

[2021-03-09 17:47] sumesh-aot commented on #6665
Accounts 1237 and 1502 are INACTIVE now.

[2021-03-09 17:48] lmcclung opened #6725 "RFC - approach for building multiple filings"
Need approach -
- rule driven
- architectural

Have RFC ready for end of Thursday, March 11th so we can start making tickets in grooming on the 12th.

[2021-03-09 17:54] Kaineatthelab opened #6726 "Dashboard Page"
### Description
- navigation between search result page and dashboard, ~breadcrumb~ (part of tombstone), done button

### Details
- [x] add new page for dashboard that includes the search bar component (saved searches will be added in separate ticket)
  - [x] add search component + add search stuff to store so that search can use
  - [x] update existing search page
    - [x] pass search info from

[2021-03-09 17:55] Kaineatthelab opened #6727 "Saved Searches table and results"
### Description
- assuming no paging
- no '7 days' wording/popups
- no 'deleted in' column
- update current results table on search page to newest designs
- add new saved searches table to dashboard page
- design: https://projects.invisionapp.com/share/Q8102OV8VP7H#/screens/446529539

### Details
- [x] update dashboard page
  - [x] insert search history
  - [x] add header (might do in result compo

[2021-03-09 17:55] Kaineatthelab opened #6728 "Download PDFs"
### Description
Pdf button in search history table

### Details
- [x] Call API to download PDF
- [x] loading circle
- [x] Button
- [ ] tests

[2021-03-09 17:56] Kaineatthelab opened #6729 "Update Search Component"

[2021-03-09 17:56] Kaineatthelab opened #6730 "Update Search Component (add folio number)"

[2021-03-09 17:57] Kaineatthelab opened #6731 "Tombstone for search results and dashboard page"
### Description
- follow designs in ppr search design

### Details
- [x] tombstone component
  - [x] breadcrumb
    - [x] back button takes you to: registry page if on dashboard, dashboard if on search page
    - [x] breadcrumb clickable and takes you to page you clicked on
    - [x] styling
  - [x] displays dynamic title based on page (dashboard/search)
  - [x] displays user info firstname/lastna

[2021-03-09 18:05] Kaineatthelab opened #6732 "API - Saved Searches table and results"
Query Account or User?
Saved results for account or user?

@forgeuxGH5 @janisrogers

[2021-03-09 18:24] jyoti3286 opened #6733 "NR UI + API Release ticket: Name Request Bug fixes"
## NameRequest UI Release 0.6.5

Prior to moving into production, the following steps should be completed or confirmed:
- [x] Update version number in the code being released - _done by misc devs_
- [x] Ensure deployment steps below are filled in - remove/replace placeholders  - _done by SB_
- [x] Create a draft release in GitHub and confirm the correct commits are present  - _done by SB_
- [x] Ad

[2021-03-09 18:28] mstanton1 opened #6734 "Update wording in Blue Bar to state "affect" instead of "effect""
#### Description: Linda has identified that the wording in the blue bar should read "affect" rather that "effect".

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/ce22d276-78b2-46f7-be43-ee5533beb5bb)

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket

[2021-03-09 18:44] #6608 closed

[2021-03-09 18:44] #6350 closed

[2021-03-09 18:44] #6342 closed

[2021-03-09 18:44] #6250 closed

[2021-03-09 18:44] #6579 closed

[2021-03-09 18:52] mstanton1 commented on #6099
Changes will be required in the attached script. Changes should be completed then reviewed on our side before sending back.

[2021-03-09 19:00] severinbeauvais opened #6735 "Edit UI: update time sync endpoint + FED fee"
1. A feature was recently implemented in Edit UI (#5476) to synchronize the app's date/time with the web server (so that the Future Effective Date, or any date/time really does not depend on the client web browser being set to the correct time and timezone). However, the current network call does not work when deployed (ie, in OpenShift). This needs to be fixed ASAP.

2. The Future Effective Date

[2021-03-09 19:05] rarmitag commented on #6450
There appears to be either a bad date or missing data. Founding date says 2011 but there are no ar's filed. Emailed Bob to check.

[2021-03-09 19:09] Kaineatthelab opened #6736 "NR submitted 2 weeks ago, then payment showed but today and breaks the wait time"
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/f45fd25b-5fde-45cc-87a4-fcb85e9ba774)

[2021-03-09 20:15] severinbeauvais commented on #6735
This additional fee code is more than an oversight... I need to architect something to handle it (as well as staff payment fee changes).

[2021-03-09 20:37] tlebedovich commented on #6724
I will chat with Linda on how best to proceed with the needed UX/AA updates (and validations) for this component. We have been updating the other Alteration components to more closely match the original design comps specs and meet AA as we go in order to save time having to go back and to also increase consistency across components. Thanks for making a new ticket, and I’ll follow up with Linda on

[2021-03-09 20:45] severinbeauvais commented on #6724
No, this was missed in the initial architecture. I'm working on that now in ticket #6735.

[2021-03-09 21:11] #6264 closed

[2021-03-09 21:11] mstanton1 commented on #6264
Jyoti has made a new set of tickets for tracking the Openshift migration.

[2021-03-09 21:12] mstanton1 commented on #6266
Closed as new tickets have been made for Openshift migration.

[2021-03-09 21:12] #6266 closed

[2021-03-09 22:47] saravanpa-aot opened #6737 "prod issue - transaction table insertion failing after volume upgrade"
**Describe the bug in current situation**

After volume size increase , we started facing issue with transaction table inserts.
Since this is the first activity happening after login , this fails the application.
We had to turn off activity code so that application is working

This is the logs in the API POD

[code]

**Impact of this bug**

The transaction is disabled in prod which leaves us with

[2021-03-09 22:51] jyoti3286 opened #6738 "Backend : Passcode Reset Activity log Framework"
* As a Staff user/Admin
* I want to see my activity log for business
* so that I can track different activities for all my business under my account

**Tasks**:
1. Design backend framework for the Activity log
2. Gather all the inputs for generating different activity
3. Check with the Entity team on their future requirement and see if something similar was done

**Acceptance Criteria**

**Scenari

[2021-03-09 22:51] jyoti3286 opened #6739 "Backend : Activity log Framework"
* As a Staff user/Admin
* I want to see my activity log for business
* so that I can track different activities for all my business under my account

**Tasks**:
1. Design backend framework for the Activity log
2. Gather all the inputs for generating different activity
3. Check with the Entity team on their future requirement and see if something similar was done

...

**Dependencies? What is the i

[2021-03-09 23:04] amit4610 opened #6740 "Sprint 50 - prod issue - transaction table insertion failing after volume upgrade"
This is the effort for 6737 for sprint 50

Describe the bug in current situation

After volume size increase , we started facing issue with transaction table inserts.
Since this is the first activity happening after login , this fails the application.
We had to turn off activity code so that application is working

#### ServiceNow incident:
#### Contact information
Staff Name:
Staff Email:

#### D

[2021-03-09 23:54] jdyck-fw commented on #2118
![Retro 50.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/0a816559-8cd1-4b34-86f4-9fde7e23e61f)

Action items:

- [ ] @jdyck-fw  - At Sprint Planning & Grooming, remind the team. "If we are making shared components, try to break out the work into another ticket."
- [ ] @Sienna-Blumstengel - Meet with Patrick and Janis about BA knowledge sharing
- [ ] @lmcclung - Discuss metrics

[2021-03-10 00:04] severinbeauvais commented on #6735
#### Test Notes

I updated the "filing data" (fee) logic for both Corrections and Alterations.

1. For Corrections, the staff payment data should affect the Fee Summary normally (no change).
2. For Alterations, the staff payment data  should affect the Fee Summary normally (as above, but not implemented yet).
3. For Alterations, an extra fee should be charged when the filing is Future Effective.

[2021-03-10 00:05] mstanton1 commented on #6736
@pwei1018 @mengdong19 can one of you take a look into this? We need to determine why the NR request came in two weeks ago but the status only got set to PAID today. This has impacts to the Names queue.

[2021-03-10 00:14] mstanton1 commented on #2125
![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/ed0e8c28-6e97-47c7-b872-34086696097a)

Sprint 50 Action Items from Retro
@jyoti3286 to schedule a broader planning session to look into scope.
BA's to establish approach for documenting in GitHub with higher level analysis and decisions for features.
Schedule a fun/games meeting where we can talk about non-work related meet

[2021-03-10 00:30] mengdong19 commented on #6426
Notes:
1. A new group under Staff group named "account_suspend" need to be created in Keycloak for deploy. Assigned Roles for this group should include "view_accounts" and "suspend_accounts".
2. Users who should view suspend account only should be added to "staff/viewer" group.
3. Users who should view/suspend account should be added to new "account_suspend" group.

![image](https://user-images.gi

[2021-03-10 02:17] lmcclung commented on #4711
Decided since most schema is now known that we can load the filings but not re-create the outputs.

[2021-03-10 02:20] lmcclung opened #6741 "Verify - Refresh manage business dashboard to display new affiliated entity with messaging"
## background
We decided to not allow users to affiliate their company.  Once dev's have affilated, uploaded the history and inserted a draft alteration, the user will be emailed to say they can file their alteration.

When they log in to Registries they should be able to see their entity in the manage business dashboard and open the entity to get them to the entity dashboard and draft alteration.

[2021-03-10 03:27] severinbeauvais opened #6742 "Edit UI - IA filing with separate completing party/incorporator/director appears to lose its incorporator's name"
**Note to sienna: When this bug is released, mention this incident.** ⚠️
* INC0111275

**Describe the bug in current situation**
An IA was created and filed with the same person entered separately as Completing Party, Incorporator, and Director (and some other directors were entered, too, but I don't know if that's require to reproduce this error).

Let's look at this in the Incorp epic and ensure

[2021-03-10 03:27] severinbeauvais commented on #6445
I think I reproduced the subject error (blank incorporator)... see #6742.

[2021-03-10 16:26] rarmitag commented on #6450
Have emailed David to find out what he can do.

[2021-03-10 16:31] #5027 closed

[2021-03-10 16:31] #5025 closed

[2021-03-10 16:32] #4282 closed

[2021-03-10 16:42] andrepestana-aot commented on #5103
This ticket changed to include the Articles parent component as well.

[2021-03-10 16:45] jdyck-fw commented on #6640
@pwei1018 - Any updates on this? I'm moving it to the next sprint, but please correct me if I shouldn't.

[2021-03-10 16:47] severinbeauvais commented on #6378
I updated the architecture for the filing data (fee data) in #6375, so anyone can pick up this ticket and go with it now.

[2021-03-10 16:50] severinbeauvais commented on #6551
@jeznorth Is this done now -- can this ticket me moved to QA?

[2021-03-10 16:52] severinbeauvais commented on #5178
@cameron-freshworks Can you fill in the milestone and release please?

[2021-03-10 16:53] severinbeauvais commented on #6712
@cameron-freshworks Can you please set the milestone and release for this ticket? Thx.

[2021-03-10 16:56] severinbeauvais commented on #6650
@jdyck-fw This ticket needs a milestone.

[2021-03-10 17:09] tlebedovich commented on #6682
fyi @Kaineatthelab @severinbeauvais @lmcclung - Here's that autofill/duplicate address bug ticket we made

[2021-03-10 17:17] #6603 closed

[2021-03-10 17:17] #6604 closed

[2021-03-10 17:28] amit4610 commented on #6596
Cleaned the process flow after meeting Rob and Kim. Sent to them to verify if we have captured everything correctly and all the scenarios.
Next steps - Combine this flow with SBC finance steps in FAS to capture the end to end process for both teams.

[2021-03-10 17:36] rkim13103 opened #6743 "Vital Stats approval user flow"
UI design for Vital Stats approval process

1) Integrating vital stats request process at the very first account creation stage.
2) Additional product check list UI for users to check during account creation
3) Approving vital stats or other additional products during approving created accounts.

Design:
https://preview.uxpin.com/9d3cc1c05d562c121b088ee6bc279dea1fa32b7e#/pages/137584177

[2021-03-10 17:37] Kaineatthelab opened #6744 "Verify Folio Number can be updated per transaction"
PPR has a need to allow clients to update the folio number per search and have that number appear on their transaction report. Is this currently possible or do we need new functionality.
Note: we do not want to update the default folio number in the account, only the folio number for a transaction.

I've added the dependency label to this ticket, please let me know if any work is needed on your si

[2021-03-10 17:40] severinbeauvais commented on #6682
@jdyck-fw
This a not a bug per se (more like a change in existing functionality) but I added the bug label so we can discuss at the next bug triage meeting.

[2021-03-10 17:47] Kaineatthelab opened #6745 "Verify Attn: Ref Number - Folio"
Verify the use cases for ATTN: Ref number and Folio #

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/a7eb2666-cc30-42b4-86a9-e59b7d05ce3d)

[2021-03-10 17:49] severinbeauvais commented on #4938
Not a bug.

[2021-03-10 17:51] severinbeauvais commented on #4802
I estimate 1/2 day for a developer to identify the changes that a user could make that should trigger this check, and update the code accordingly. (There is already a framework/architecture in place to do this; it's just a bit out of date.)

[2021-03-10 17:52] severinbeauvais commented on #5220
@riyazuddinsyed Is this working now?

[2021-03-10 17:58] severinbeauvais commented on #4802
Ticket #6209 describes a related situation (File and Pay should be enabled when changes have been made).

I think THIS ticket and #6209 could/should be worked on together.

[2021-03-10 17:58] severinbeauvais commented on #6209
See also #4802.

[2021-03-10 18:00] severinbeauvais commented on #6311
@riyazuddinsyed Do you know if this is fixed now and can be closed?

[2021-03-10 18:03] #6533 closed

[2021-03-10 18:05] #6234 closed

[2021-03-10 18:07] severinbeauvais commented on #5480
I changed this to a P2 : it's not high priority but it would be nice to have.

[2021-03-10 18:09] #3785 closed

[2021-03-10 18:09] #3783 closed

[2021-03-10 18:09] #3784 closed

[2021-03-10 18:09] #5164 closed

[2021-03-10 18:09] severinbeauvais commented on #5730
I would be nice to complete this ticket under Project X... Not sure I'll have time but it's on my todo list.

[2021-03-10 18:14] tlebedovich commented on #5103
@andrepestana-aot UX Assurance:

looking at this alteration link: https://business-edit-dev.apps.silver.devops.gov.bc.ca/businesses/edit/BC1218853/alteration

Match "Change" dropdown to existing components like Change of Company Name

- Please make sure to update the word "Change" and the pencil icon to blue so they match all the others
- Dropdown should be appearing off to the left, not the right

[2021-03-10 18:16] tlebedovich commented on #5103
@andrepestana-aot Can you make these quick changes and then you can move the ticket straight to QA (I don’t need to see it again), thanks!

[2021-03-10 18:23] #6738 closed

[2021-03-10 18:30] tlebedovich commented on #6352
@forgeuxGH5 - we are going to move this ticket along to QA as its been sitting in UX Assurance too long - if you see any issues after, we can make a new ticket.

[2021-03-10 18:41] mstanton1 commented on #5335
First draft completed and sent out for review.

[2021-03-10 18:41] #5335 closed

[2021-03-10 18:42] #6661 closed

[2021-03-10 18:47] #6740 closed

[2021-03-10 18:48] mengdong19 commented on #6736
![image](https://user-images.githubusercontent.com/47155284/110680400-6a604d00-818d-11eb-97a1-968c53a6d117.png)

This NR has two payment transaction records, first one was made on Feb 18 by credit card was declined and failed. Second payment attempt on March 9 was completed.  We have confirmed the failed payment was not related to Paybc issues. @mstanton1 @Kaineatthelab

[2021-03-10 18:50] mstanton1 commented on #6738
Duplicate ticket.

[2021-03-10 18:58] mstanton1 commented on #6232
@Kaineatthelab @janisrogers can you please follow up with fee code description, fee code name and confirmation of whether there are services fees on each of the amounts above?

[2021-03-10 18:58] mstanton1 commented on #6267
Complete. Sumesh has verified web service connectivity today. SFTP has not been verified, but should not block migration.

[2021-03-10 18:58] #6267 closed

[2021-03-10 19:00] mstanton1 commented on #6396
@riyazuddinsyed we have tested as part of the other ticket we worked on. Do you want to verify as well?

[2021-03-10 19:05] mstanton1 commented on #6265
Closing as Jyoti has created tickets for each environment.

[2021-03-10 19:05] #6265 closed

[2021-03-10 19:27] mstanton1 commented on #6626
@jyoti3286 to confirm other team's resources for openshift migration.

[2021-03-10 19:35] Milan-Freshworks opened #6746 "Two fields appearing with same information for staff"
**Describe the bug in current situation**
When BC Registries staff logs in through IDIR and checks an account in the Active tab, there are 2 fields namely 'Status' and 'Account Status' are showing up with the same information.

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**
- Login as IDIR as BC Registries staff

**Steps to Reproduce**
Steps to reproduce the beh

[2021-03-10 19:40] mstanton1 commented on #6746
Decision to hide the 'Status' field so we don't have status twice.

[2021-03-10 19:49] mstanton1 opened #6747 "Identify Process for Handling Online Banking Payments to invalid account number"
In production, a client could go into online banking and transfer money to BC Registries and Online Services with an invalid account number.
We need to define a process for when this occurs.

#### ServiceNow incident:
#### Contact information
Staff Name:
Staff Email:

#### Description
Summarize issue and attach email OR copy and paste email content into ticket

#### Tasks
- [ ] When ticket has bee

[2021-03-10 19:55] tlebedovich opened #6748 "Name Request home page copy updates"
Live website for reference:
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6381

[2021-03-10 20:02] tlebedovich opened #6749 "Entities Sprint 51 - Design Sprint Goals"
### Grooming (lower priority)
- [ ]  Notice of Withdrawal  /#4690

### Entities - Alterations is High Priority
- [x]  Staff Alteration for an entity, and indicate if it was part of a plan of arrangement/court ordered #5409/#6403
- [x]  Staff payment of Name Request #6288 / #6405
- [x]  Filings UI - Handle draft alterations in To Do list #6352/#6399
- [x]  Alteration Notice output - just display ch

[2021-03-10 20:37] amit4610 commented on #6661
Categorised job aides and sent to @trishreimer for review.

[2021-03-10 21:18] janisrogers commented on #6748
The only place I see _auto approval_ is under _Check for words that have not been used before_. It currently reads:

 _There are some coined words that have never been examined. When a name includes one of these words it will not be available for auto approval. You can choose to change your name or you can submit the name as is for examination._

If we want to keep this we should change the text t

[2021-03-10 22:02] #6438 closed, assigned to doug-lovett

[2021-03-10 22:43] sumesh-aot opened #6751 "Refactor templates in report-api to re-use styles and images"
## What is the problem?
* Currently style and images are repetitive across multiple templates

## What is the impact?
* Maintenance is difficult.

## Proposed solution
* Refactor templates in report-api to re-use styles and images.

[2021-03-10 23:32] severinbeauvais commented on #6705
Can the spreadsheet be attached directly, or moved to Google Docs? I cannot access it where it is now.

[2021-03-10 23:33] severinbeauvais commented on #6519
This is a duplicate of #6725 so I'm closing it.

[2021-03-10 23:33] #6519 closed

[2021-03-10 23:55] Milan-Freshworks commented on #6426
- BC Registries and Online Services staff can see the suspended tab and be able to click view, but can’t actually suspend.
- BCOL Admin
- SBC Finance
- Registries Admin

[2021-03-11 00:00] mengdong19 commented on #6426
As my note above, basic registry staff should only have "view" permission. User who should have suspend permission need to be added to "account_suspend" group in keycloak.

[2021-03-11 00:05] tlebedovich opened #6752 "UI Design - BC Registries and Online Services Home page"
### Wire frames

~https://preview.uxpin.com/41ed4820c4e3064fb5eec7596129eae8e47af5d4#/pages/137139886/simulate/no-panels~

### Visual Design Comps (Desktop + Mobile)

https://projects.invisionapp.com/share/JW10EM68E6DK#/screens?browse

**Hero Image Downloads:**
Here is the new hero image - I’ve made one with 80% compression (300k), but have provided the source file as well in case you need somethi

[2021-03-11 01:26] sumesh-aot commented on #6557
Entities will need to send the below payload when the call receipt endpoint to display new fields in receipt;

@mstanton1 @amit4610

Example:
[code]

[2021-03-11 01:27] sumesh-aot commented on #6557
@jyoti3286 @mstanton1 Can you confirm if these changes are applicable for all payment methods, or just for PAD ?

[2021-03-11 17:02] pwei1018 commented on #6640
@jdyck-fw Yes, please move next sprint. The deployment is done. But have to wait other namespace finish to complete the migration.

[2021-03-11 17:15] mstanton1 opened #6753 "Draft STRA Updates"
#### Description

[ ] Draft updates to STRA for ministry partners, use of CGI feeder.
[ ] Review technical details with Sumesh/Patrick.
[ ] Send to Jyoti for review.
[ ] Provide to Garry Mierzuak.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to z

[2021-03-11 17:23] mstanton1 commented on #6557
@jyoti3286 to confirm if this can be used for all payment types in PO Sync. Effort will be larger if we do this just for PAD.

[2021-03-11 17:37] amit4610 commented on #6473
Please issue a refund for NR 7222915 @stevenc987

[2021-03-11 17:43] stevenc987 commented on #6473
NR 7222915 - Refund Requested @amit4610

[2021-03-11 17:51] amit4610 commented on #6473
notified IT Ops for NR 7222915

[2021-03-11 17:55] mstanton1 commented on #6529
We have tested in PROD using a Modernization TEST account (BCeID & 2 FA). We successfully reached the pay BC screen.

NR 3129650 will be cancelled.

[2021-03-11 18:01] areyeslo opened #6754 "Legal API validation - Enforce existence of Share structure for Incorporation Application"
Currently, validate_share_structure function is validating Share Structure content is well formed. However, if the share structure is empty, the message returned is Null. This ticket is to add the validation of  Share structure existence and return an error message as follows:

error: ''Incorporation Applications must provide value for Share structure''
path: '/filing/incorporationApplication'

Th

[2021-03-11 18:36] rarmitag commented on #6664
Cascadia Community Solutions hasn't any bcol account information which is needed to affiliate accounts.

[2021-03-11 18:41] rarmitag commented on #6665
Kerrisdale Crest Apts. Cooperative Association has no bcol account information which is needed for affiliation.

[2021-03-11 18:41] amit4610 commented on #6713
@stevenc987 please start on this ticket

[2021-03-11 19:01] riyazuddinsyed opened #6755 "Resuming an Alteration Filing throws an error."
**Describe the bug in current situation**
When a user files an Alteration Filing and hit Save and Resume after making few changes and then when the user tries to Resume the filing then the page is navigated to a different page with a wrong url

**Impact of this bug**
All users trying to Resume the filings.

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/auth/home/dec

[2021-03-11 19:01] mstanton1 opened #6756 "Provide List of all GovM Ministry Accounts from BC Online"
#### Description
Provide a list of all the GovM Ministry accounts in BC Online. This will be used for communication on changes.
List: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3650

-We need to identify what is being moved into the Business Registry
-Whether it is available in BC Online still as well
-What they need to do if they w

[2021-03-11 19:03] mstanton1 opened #6757 "Add Higher Level Analysis in GitHub"
#### Description
An outcome of the retro on March 9th was that it is challenging to find analysis that was completed, or why decisions were made regarding certain features. It has been asked that we create a place in GitHub where high level analysis / decision log tracking can be completed.

BA's to establish a format / approach.

#### Tasks
- [ ] When ticket has been created, post the ticket in R

[2021-03-11 19:04] Sienna-Blumstengel opened #6758 "As a user, I want to see relevant information in my company ledger"
## Story

## Background
* Want to show everything a client needs in their company ledger
* DON'T want to load up all the data every time, no matter if it's needed or not

## Requirements

## Definition of Ready

- [ ] Are the Acceptance Criteria defined?
- [ ] Does the user story speak to the value being created, and is understood by the team?
- [ ] Are the dependencies known/ understood? (to the

[2021-03-11 19:23] amit4610 commented on #6756
List of all accounts added above.

[2021-03-11 19:40] stevenc987 commented on #6713
1.	Refund NR 3654823 - Refund Requested
2.	 NR 6286601 - No payment record in postgres DB
3.	 NR 6356513 - No payment record in postgres DB
4.	 NR 8787298, 4497267 & 9621472 - None of them has payment record in postgres DB
5.	 NR 3368971, 9487531 - None of them has payment record in postgres DB
6.	 5720843, 5213841, 6573493 & 0377816 - None of them has payment record in postgres DB
7.	 NR 3467098

[2021-03-11 19:41] amit4610 opened #6759 "NR Refunds March 11- 17"
1. - [ ] NR1456769 full refund of $131.50. (in Service now inc, was a request from debbie)
2. - [ ]

[2021-03-11 19:47] Milan-Freshworks opened #6760 "BCeID - Unable to create account"
**Describe the bug in current situation**
For a new registered user, when they try to create a BC Registries and Online Services Account, then on the 'Account Information' screen there is a bug and they are not able to complete the account creation process

**Chance of Occurring (high/medium/low/very low)**
- High

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**

[2021-03-11 19:53] jyoti3286 commented on #6591
@rkim13103 - Update the design here

[2021-03-11 20:13] Milan-Freshworks commented on #6746
It has been tested and verified

[2021-03-11 20:14] Milan-Freshworks commented on #5716
It has been tested and verified

[2021-03-11 20:20] riyazuddinsyed opened #6761 "Verify - Unable to change the company name while filing the alterations."
**Describe the bug in the current situation**
When a user files an alteration and tries to change the Company Name then the UI shows an error saying "We could not match information" error dialogue

**Impact of this bug**
All users want to make the change of Company Name.

Steps to reproduce the behavior:
1. Go to 'https://business-edit-dev.apps.silver.devops.gov.bc.ca/businesses/edit/BC1230084/alt

[2021-03-11 20:57] riyazuddinsyed opened #6762 "Unable to change the Register office information for Alteration filing."
**Describe the bug in current situation**
When a user wants to load an Alteration filing and wants to change the Registered office information then there's no way a user can do that as the button intended to do so is missing.

**Impact of this bug**
All users who want to change the Registered office information

Steps to reproduce the behavior:
1. Go to 'https://business-edit-dev.apps.silver.devop

[2021-03-11 21:14] Kaineatthelab commented on #6609
Hello Kaine,

Thank you so much for doing the follow-up NRO review features. I found it very helpful! As promised, below are some snippet of what I was talking about earlier just for your reference.

1.	Support staff uses the Name Look-up feature on a daily basis to view the following information:

a.	Status of the Consent (Approved or not? When is it expiring? Has it been consumed, and if yes wha

[2021-03-11 21:32] #6762 closed

[2021-03-11 21:32] jdyck-fw commented on #6762
working as intended

[2021-03-11 21:38] jdyck-fw commented on #6761
@cameron-freshworks will take a look to see fi this is just a data error, or if not then estimate how long it might take to fix it.

[2021-03-11 21:38] riyazuddinsyed opened #6763 "Unable to make a payment for the Alteration filing with both BCSC user and IDIR."
**Describe the bug in current situation**
When a user tries to file an Alterations by adding  FED then clicking on File and pay to return an Erro dialogue saying String is missing.

**Impact of this bug**
PEople filing FED

Steps to reproduce the behavior:
1. Go to 'https://business-edit-dev.apps.silver.devops.gov.bc.ca/businesses/edit/BC1230084/alteration'
2. Make the Changes
3. Make it a Future

[2021-03-11 21:45] jdyck-fw commented on #6763
@riyazuddinsyed to verify this again tomorrow

[2021-03-11 21:47] jdyck-fw commented on #6755
@riyazuddinsyed will follow up with Patrick on this one.

[2021-03-11 21:55] #6681 closed

[2021-03-11 21:56] jdyck-fw commented on #6681
We will dig in more if similar to this is reported in the future, otherwise it will likely be addressed by our timezone work.

[2021-03-11 22:00] Kaineatthelab commented on #5923
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/0fdd13bf-7a73-46fb-a0d5-0b5b2a582869)

[2021-03-11 22:00] jdyck-fw commented on #5923
Use this ticket to change the corporate designation drop-down list.

[2021-03-11 22:14] andrepestana-aot commented on #5103
@riyazuddinsyed you can use this business that has ```has_restriction == true``` on businesses table to test:
https://business-edit-dev.apps.silver.devops.gov.bc.ca/businesses/edit/BC1230085/alteration

[2021-03-11 23:21] Kaineatthelab commented on #6609
Law office said they use this search as well.

[2021-03-11 23:24] Kaineatthelab opened #6764 "Tell users that IE 11 isn't supported"
It is probably time to let users know, @severinbeauvais suggested this be implemented in the SBC banner as common component accross all apps.

Eg,
https://getbutterfly.com/how-to-show-an-outdated-browser-alert-on-internet-explorer-11/

[2021-03-11 23:49] mengdong19 commented on #6699
This bug is causing issue when program need to check if user.login_source is 'bcros'.

[2021-03-12 00:10] PatrickAHeath commented on #6745
Staff currently use the optional Reference Number when entering discharges.  It aids in distributing outputs that are printed by Registries Staff.

Folio is used within the BC Online Account statements so BCOL clients can allocate BCOL charges to their clients.

[2021-03-12 00:13] lmcclung commented on #6754
@cameron-freshworks I believe you and Tracey have been working on a modal when someone wants to remove all share classes during an alteration.  Because you're making the Share Structure a shared component as part of the alteration story, will that automatically apply to the IA?  Just wondering whether this ticket @areyeslo created is still required?

[2021-03-12 00:14] Sienna-Blumstengel opened #6765 "NADA GROCERY INC. - BC1036102 - Alteration LTD > BEN"
#### ServiceNow incident:
INC0080457
#### Contact information
Staff Name: Kat Langlois

#### Description

**Affiliation info (mandatory - BC Registries account name or BCOL a/c):** 921088 / INK LLP
**Company email (mandatory):** judy@inkllp.com
**Company phone (optional)**: 604-336-8777
**Filing date (date/time received at Registries. If email, time email received. If mail, time scanned document r

[2021-03-12 00:38] janisrogers commented on #6232
### Existing Fee codes
Code - EB110
Code Name - SERCH
Description -  PPR Search
Amount - $7.00

Code - EB111
Code Name - FSREG
Description - PPR Registration (<x> year)
Amount - $5.00/year
x can be 1 to 25

Code EB112
Code Name - INFRG
Description - PPR Registration  (infinity)
Amount - $500.00

### Other Fee codes needed
PPR Registration under the Family Law Act - $10.00
PPR Repairer's Lien - $5.

[2021-03-12 00:42] cameron-freshworks commented on #6754
@lmcclung Absolutely, i haven't seen the designs yet but almost certainly we could make the rule/modal/warning whatever it is, apply to both Scenarios. ie Alterations and Corrections.

The incorporation application however is still separate.
Do you mean the IA Correction or the initial IA?

[2021-03-12 01:15] Milan-Freshworks commented on #6351
I was testing the scenario that when the developer fixes the GL, the disbursements can be included that in the next batch. I ran the job manually to create the INBOX file but it is not generated.

[2021-03-12 04:24] mstanton1 opened #6766 "Send updated payload to display new fields in receipt"
## Who will do this work
Entities team

## Background
~For 6557 a new receipt design was implemented for PAD.~ All receipts are being updated to look the same. This was worked on across teams. In order to display the new fields in the receipt Entities will need to send the payload below to display new fields in receipt when they call receipts endpoint:

Example:

{
    "corpName": "Dummy Co-operat

[2021-03-12 05:08] saravanpa-aot commented on #6342
@Milan-Freshworks how did you test this?

[2021-03-12 07:24] thorwolpert commented on #3422
close to a year old and probably just something along the migration.
closing

[2021-03-12 07:24] #3422 closed

[2021-03-12 15:56] Sienna-Blumstengel opened #6767 "As a user, I want to enter my name translations, so I can create a new usiness"
## Story
* As a user
* I want to enter my name translations
* So that I can create a new business

## Background

[Flow diagram](https://drive.google.com/file/d/1VkcBtiUlfJCPMXLz3iF3iGCPFneoY_P4/view?usp=sharing)
[Spreadsheet](https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={E2497718-7EB5-4F0E-AAF5-C0E1CA32C107}&file=Requirements%20matrix%20-%20Starting%2

[2021-03-12 15:56] Sienna-Blumstengel opened #6768 "As a user, I want to enter my addresses, so that I can create a new business"
## Story
* As a user
* I want to enter my addresses
* So that I can create a new business

## Background

[Flow diagram](https://drive.google.com/file/d/1VkcBtiUlfJCPMXLz3iF3iGCPFneoY_P4/view?usp=sharing)
[Spreadsheet](https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={E2497718-7EB5-4F0E-AAF5-C0E1CA32C107}&file=Requirements%20matrix%20-%20Starting%20new%20e

[2021-03-12 15:57] Sienna-Blumstengel opened #6769 "As a user, I want to incorporate a co-op"
## Story

As a user
I want to incorporate a cooperative association
So that i am recognized as a legal entity in BC

## Background

[In this flowchart](https://drive.google.com/file/d/1VkcBtiUlfJCPMXLz3iF3iGCPFneoY_P4/view?usp=sharing)
[Spreadsheet](https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={E2497718-7EB5-4F0E-AAF5-C0E1CA32C107}&file=Requirements%20

[2021-03-12 16:14] Sienna-Blumstengel commented on #5409
Hey @lmcclung , @andrepestana-aot has a question about **COURT_APPR_IND**. He is working on the schema ticket right now.
You said it is not needed for this filing - what is it needed for?
Maybe we should ask another dev if it's worth adding to the schema ahead of time or not, @thorwolpert ?

[2021-03-12 16:15] mstanton1 commented on #6580
@rkim13103 can you please look at the most logical spot in the app to link to our training videos? We have received approval to share these with external clients.

[2021-03-12 16:24] gh20s commented on #6588
I have a spreadsheet of the NONSSA (the search ali and bob worked on) and the SSA results for about 500 returned names. I met with janis to discuss a plan and I am going to to create a jupyter notebook to automate the analysis of the results to flag reviews for human intervention as well as collect baseline stats in order to create a foundation of understanding as we move forward with this project

[2021-03-12 16:27] andrepestana-aot commented on #5409
@Sienna-Blumstengel we talked yesterday. We had a different resolution. Thanks for keeping an eye on it!

[2021-03-12 16:54] lmcclung commented on #6450
@rarmitag

Richard, this still isn't showing up on the dashboard.  Can you follow up with David, please.

[2021-03-12 17:22] tlebedovich commented on #6724
hi @lmcclung - these were the leftover AA/validation items from the FED component for Alterations and this ticket has been cleaned up and ready for grooming.

[2021-03-12 17:24] #5476 closed

[2021-03-12 17:24] #6470 closed

[2021-03-12 17:30] Sienna-Blumstengel opened #6770 "Update name examiner email macros"
Add the FAQ page link in there, maybe also tutorial videos

[2021-03-12 17:37] lmcclung opened #6771 "Alteration - Save updated name translations"
### Background
this ticket is a result of verify ticket 5029.

When verifying, we found that "Resume Later" does not save them (they don't get sent in the PUT)
Neither does "Review and Pay". (same as above)

Might be both front end and backend issues. Investigation should probably start with the frontend

### Replicate
1. start alteration
2. edit translations
3. click "resume later"
4. go back to

[2021-03-12 17:42] jyoti3286 opened #6772 "(Test Env) Namespace- EDB: NATS"

[2021-03-12 17:42] jyoti3286 opened #6773 "(Test Env) Namespaces: Nats DB and backup"

[2021-03-12 17:43] tlebedovich commented on #6546
@lmcclung This alterations ticket is ready for grooming

[2021-03-12 17:43] jyoti3286 opened #6774 "(Test Env) Namespace: Minio"

[2021-03-12 17:43] jyoti3286 opened #6775 "(Test Env) Namespace - Auth: DB and backup (auth, notify, keycloak)"

[2021-03-12 17:44] jyoti3286 opened #6776 "(Test Env) Namespace - Auth: Auth Keycloak"

[2021-03-12 17:45] jyoti3286 opened #6777 "(Test Env) Namespace - Auth: API (Auth, Notify, Search, Status)"

[2021-03-12 17:45] jyoti3286 opened #6778 "(Test Env) Namespace - Auth: UI (Auth, Search, Business-filing, Namerequest)"

[2021-03-12 17:46] jyoti3286 opened #6779 "(Test Env) Namespace - Auth: Queue (Notify, Events-listener, account-mailer)"

[2021-03-12 17:47] jyoti3286 opened #6780 "(Test Env) Namespace - Auth: Mailhog dev"

[2021-03-12 17:47] jyoti3286 opened #6781 "(Test Env) Namespace - Pay: DB and backup (pay)"

[2021-03-12 17:48] jyoti3286 opened #6782 "(Test Env) Namespace - Pay: API (pay, bcol, report)"

[2021-03-12 17:48] jyoti3286 opened #6783 "(Test Env) Namespace - Pay: Queue (ftp-poller, events-listener, payment-reconciliations)"

[2021-03-12 17:49] jyoti3286 opened #6784 "(Test Env) Namespace - Pay: Job (payment-job)"

[2021-03-12 17:50] jyoti3286 opened #6785 "(Test Env) Namespace - LEAR: DB and backup (lear, Oracle (dev))"

[2021-03-12 17:51] jyoti3286 opened #6786 "(Test Env) Namespace - LEAR: API (Legal, colin, namex?, data-reset (dev, test))"

[2021-03-12 17:51] jyoti3286 opened #6787 "(Test Env) Namespace - LEAR: Queue (entity-emailer, entity-filer, entity-pay)"

[2021-03-12 17:52] jyoti3286 opened #6788 "(Test Env) Namespace - LEAR: Job (Jenkins , future-effective-filings, update-colin-filings, update-legal-filings, filings-notebook)"

[2021-03-12 17:52] jyoti3286 opened #6789 "(Test Env) Namespace - Names: DB and backup (names, solr, fdw-registry, fdw-names)"

[2021-03-12 17:52] jyoti3286 opened #6790 "(Test Env) Namespace - Names: API (namex-api, colin-api, auto-analyze)"

[2021-03-12 17:55] jyoti3286 opened #6791 "(Test Env) Namespace - Names: UI (namex)"

[2021-03-12 17:56] jyoti3286 opened #6792 "(Test Env) Namespace - Names: Solr(solr, admin-app, feeder, pro, synonyms-api)"

[2021-03-12 17:56] jyoti3286 opened #6793 "(Test Env) Namespace - Names: Job (nro-extractor, nro-update, inprogress-update, nr-garbage-collector, notebook)"

[2021-03-12 17:56] jyoti3286 opened #6794 "(Test Env) Namespace - Names: CREATE BUSINESS: UI (business-create, business-edit)"

[2021-03-12 17:56] jyoti3286 opened #6795 "Test Env: OCP Migration Plan"
## Timeline:

#### Test: 2 weeks

**Namespaces:**

EDB:

- Nats
- Nats DB and backup
- Minio

AUTH:

- DB and backup (auth, notify, keycloak)
- Auth Keycloak
- API (Auth, Notify, Search, Status)
- UI (Auth, Search, Business-filing, Namerequest)
- Queue (Notify, Events-listener, account-mailer)
- Mailhog dev

PAY:

- DB and backup (pay)
- API (pay, bcol, report)
- Queue (ftp-poller, events-listener

[2021-03-12 17:57] sumesh-aot commented on #6232
Thanks @janisrogers. Could you please provide a 5 character code name for these below, doesn't have to match any legacy values. Just want to make sure the code names makes sense.

PPR Registration under the Family Law Act - $10.00
PPR Repairer's Lien - $5.00
PPR Renewal - $5.00/year
PPR Infinity Renewal - $500.00
PPR Change or Amendment $10.00

[2021-03-12 18:07] #6160 closed

[2021-03-12 18:07] #6282 closed

[2021-03-12 18:07] #6369 closed

[2021-03-12 18:07] #6418 closed

[2021-03-12 18:12] mstanton1 commented on #6753
Edits have been drafted. Information has been reviewed with Sumesh.

Sent for internal review:
Jyoti
Patrick (Ops, CI/CD)
Lorna to confirm DRP updates
Ian to confirm any BCP updates

[2021-03-12 18:15] mstanton1 commented on #6710
Sent follow up to Lisa to confirm our approach meets the SBC Finance teams needs.

[2021-03-12 19:15] pwei1018 commented on #6764
@severinbeauvais Should I use storybook to do this or SBC common component?

[2021-03-12 19:20] severinbeauvais commented on #6764
Hi.
It depends on where this is to be implemented:

- in the SBC Header?
- or as a new shared component that every app needs to import?

I'm leaning towards the first one.

[2021-03-12 19:21] Kaineatthelab commented on #6764
SBC header is share right so would work there?

Kaine Sparks
Director, Digital Operations|  BC Registries and Online Services<http://www.bcregistryservices.gov.bc.ca/>
Service BC
Ministry of Citizens’ Services
T: 250-415-3957 | Web: http://www.servicebc.gov.bc.ca<http://www.servicebc.gov.bc.ca/>
“Access to government services made easy”

From: Séverin Beauvais ***@***.***>
Sent: March 12, 2021 11:

[2021-03-12 19:24] Sienna-Blumstengel commented on #6674
Added to #5475 as a blocker so @jordiwes can finish it as part of that ticket

[2021-03-12 19:48] PatrickAHeath commented on #6232
Let's go with the following:

FLREG - PPR Registration under the Family Law Act - $10.00
RLREG - PPR Repairer's Lien - $5.00
FSREN - PPR Renewal - $5.00/year
INFRN - PPR Infinity Renewal - $500.00
FSCHG - PPR Change or Amendment $10.00

For the registration and renewal fee codes that are by the year, BC OnLine currently has 25 distinct fee codes for each - from 1 to 25 years with amounts in multip

[2021-03-12 20:00] Sienna-Blumstengel opened #6796 "Post announcement on BCOL NRO tab"
Maybe we should post the same as what we have here?
https://www.bconline.gov.bc.ca/

Also we should fix this https://www.bconline.gov.bc.ca/pdf/Feb_18_Name_Request_Announcement.pdf
because the FAQ link is busted. I will ask Gen/Suzanne for the GUID

[2021-03-12 21:41] amit4610 commented on #6607
Hi @stevenc987 the 2nd one is missing refund NR4001243 . Thanks :)

[2021-03-12 21:54] mstanton1 opened #6797 "Add BCRegistries to Recipient list for NR Refund Request Email"
#### Description
When a client has a name request that has not been worked on they have the option to request a refund. Entities calls our API and we send the refund request email. Finance has asked that we change the recipient on this email:

Currently is sent to: FIN.CASReconciliation@gov.bc.ca, SBC_ITOperationsSupport@gov.bc.ca
Should be sent to: FIN.CASReconciliation@gov.bc.ca, SBC_ITOperation

[2021-03-12 21:55] mstanton1 commented on #6797
Request made during meeting with SBC IT Operations Support to discuss refunds. I have sent an email asking they verify that they would still like this.

[2021-03-12 22:10] amit4610 commented on #6607
Emailed IT Ops. Amit to work on 9, 22, 25 with PayBC

1.	NR 9088148 (INC0077923) - No payment record in Postgres DB for this NR, did the client get charged? IT Ops?
2.	NR3185339 (INC0078193) - Refund Requested from CAS
3.	NR6739344 - please refund the priority fee of $101.50 - Refund Requested for priority fee only from CAS
4.	NR 7874646 & NR 5818026 (INC0078460) - No payment record in Postgres DB

[2021-03-12 22:18] #5026 closed

[2021-03-12 22:19] stevenc987 commented on #6607
@amit4610 NR4001243 (INC0077923) - There is no payment transaction for this Nr on postgres DB

[2021-03-12 22:19] #6735 closed

[2021-03-12 22:25] amit4610 commented on #6607
Emailed IT Ops for NR4001243 to confirm if client paid.

[2021-03-12 23:28] Sienna-Blumstengel commented on #6664
Got two more nudges from Julie

[2021-03-12 23:29] Sienna-Blumstengel commented on #6665
Got two more nudges from Julie

[2021-03-13 00:06] areyeslo commented on #6500
I got 400 Error during WebSocket connection and NotAllowedError using IDIR and bc service card:
![](https://chat.developer.gov.bc.ca/file-upload/sy8foSDBQ2HCy8KKz/Screen%20Shot%202021-03-12%20at%202.37.01%20PM.jpg)

The chat is successfully reconnected:
![Clipboard - March 12, 2021 3_18 PM](https://user-images.githubusercontent.com/10526131/111010440-68dc8380-834b-11eb-8eaf-2558fcc5ddf9.png)

The

[2021-03-13 00:09] lmcclung commented on #6500
@severinbeauvais please see Arturo's comments above.

[2021-03-13 00:35] lmcclung commented on #6754
@cameron-freshworks sounds like this is for the initial IA and back-end stuff.  I'll add this to the Create epic coming up.

[2021-03-13 01:15] severinbeauvais commented on #6500
Should this go back to the original developer to look at, or do you want me to get involved?

[2021-03-13 05:24] mstanton1 commented on #6678
Discrepancies were noted in the doc above (users listed in doc that weren't in groups, or users in groups that weren't in the doc). I've re-generating the group information and saved it in the Quarterly review file created by Meng: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3701

All detail is in one tab which has allowed me to iden

[2021-03-13 05:31] mstanton1 commented on #6797
IT Ops (Wael) has confirmed that this change is still required. @saravanpa-aot has made the change. I have notified IT Ops and advised that they will need to update the outlook rules for sorting messages.

[2021-03-13 05:31] #6797 closed

[2021-03-13 05:37] mstanton1 opened #6798 "Slide Deck for BCeID Meeting"
#### Description
Ian A has requested a slide deck for a meeting we will be having with BCeID. Business BCeID is available through OneStop without over the counter verification. The intent is to remove this functionality, and not reproduce in the Business Registry. He's asked I include the following:

Maybe include the stats, some screen shots of current process, and data flow if you know it. We ca

[2021-03-13 05:38] mstanton1 commented on #6798
A deck has been created here: https://docs.google.com/presentation/d/19brtqTvTl0AoxXgstdhWcabluyRuGZh_xFLovOHeI28/edit#slide=id.gc43a6f4e4d_0_0

It has been sent to Ian to add in the OrgBook piece.

[2021-03-13 05:38] #6798 closed

[2021-03-13 05:44] mstanton1 opened #6799 "Remove listing of available banks for online banking in payment method screen"
#### Description
CIBC (the last of the Big 5 banks) has added BC Registries and Online Services as a payee for online banking. We are also available with Central 1 and a number of other credit union. The blurb noting the banks supporting online banking is no longer necessary.

Remove the text below from the basic user payment options screen in account set up, and from the payment tab for clients w

[2021-03-13 18:42] Milan-Freshworks commented on #6384
It has been tested and verified

[2021-03-15 15:24] Kaineatthelab commented on #6500
is it not working when logged in?

[2021-03-15 15:43] cameron-freshworks commented on #5104
@lmcclung Hey Linda! I'm moving this ticket to done, as this was the work to adapt our share structure component into a 'Shared' component alongside the design updates.
We have a ticket in the pipeline already that will capture the UX and QA process, which is the integration of this work INTO the Edit UI, so that isn't lost. That ticket is #5178.
I didn't think we needed two tickets in UX/QA for t

[2021-03-15 16:25] amit4610 commented on #6594
Logging email conversations:

Maybe we need to treat this just as needing financial approval for account setup, rather than the GDSA, who don’t really understand what BCOL accounts are all about.

From: Kumar, Jyoti CITZ:EX <Jyoti.Kumar@gov.bc.ca>
Sent: March 11, 2021 12:05 PM
To: Chaurasia, Amit CITZ:EX <Amit.Chaurasia@gov.bc.ca>; Armstrong, Ian CITZ:EX <Ian.Armstrong@gov.bc.ca>; Kim, Roy CITZ:EX

[2021-03-15 16:33] #5104 closed

[2021-03-15 17:01] severinbeauvais opened #6800 "Verify - Namerequest UI: WebChat gets 404 when using IDIR or BCSC"
**Describe the bug in current situation**
The WebChat component was added to Namerequest UI in ticket #6500.

Upon testing, Arturo noticed some errors (see below). These need to be fixed.

---

From @areyeslo :

I got 400 Error during WebSocket connection and NotAllowedError using IDIR and bc service card:

![68747470733a2f2f636861742e646576656c6f7065722e676f762e62632e63612f66696c652d75706c6f61642