[2020-11-20 22:42] Sienna-Blumstengel commented on #5648
De-prioritized until after MVP

[2020-11-20 22:45] Sienna-Blumstengel commented on #5648
Duplicate of 5518, closing

[2020-11-20 22:45] #5648 closed

[2020-11-20 22:46] severinbeauvais commented on #4488
@bcdevlucas Please have a look at this ticket. Thanks!

[2020-11-20 22:58] severinbeauvais opened #5708 "namex: back end for refund feature"
## Description:
The Name Request API needs some development to support the refund feature.

This ticket is a sibling to UI ticket #4488.

The flow:
- under some conditions, a user may cancel their NR and request a refund (see table and link to spreadsheet below)
- the API will inform the UI to display the CANCEL AND REFUND button
- if the user requests to cancel and refund, the UI will make a PATC

[2020-11-20 23:00] saravanpa-aot opened #5709 "avoid using docker latest tag for prod builds"
## What is the problem?

* Few of our build are using docker images with latest tag which is suggested for production systems.
This is mainly for the front end builds where node:latest is used.

## What is the impact?
*  Hard to track which version actually the code is deployed on.Which in turn cause more problems.

## Proposed solution
* Use fixed Version tags.
* periodically update versions

[2020-11-20 23:13] severinbeauvais commented on #4488
Copy of original description:
---
Description:
Assumption to hit an end point that relationship has. Also modal to describe clients interaction.

**Once** a name request has been changed from “draft or pending examination” to “in progress”, being examined, the client shouldn’t be able to request a refund although the user can cancel the request but it won't initiate a refund.

@Sienna-Blumstengel

[2020-11-20 23:48] severinbeauvais commented on #4488
From Lucas:

[2020-11-20 23:59] mstanton1 commented on #5692
Transcript uploaded to SP and provided to BA group for review: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3458

Currently experiencing difficulties with sound not recording in Teams recording.

[2020-11-21 00:29] JohnamLane opened #5710 "Name Request - move front end to sbc-auth namespace"
When I go to pay for an NR I see the following:

https://dev.bcregistry.ca/business/auth/makepayment/5689/https%3A%2F%2Fdev.bcregistry.ca%2Fnamerequest%2Fnr%2F2260411%2F%3FpaymentId%3D58

![image.png](https://images.zenhubusercontent.com/5a7391bd4b5806bc2bc54a79/0da972fb-60b5-49fe-9543-572b3bd17a0d)

In the Network Tab:
404 - GET https://app.launchdarkly.com/sdk/goals/undefined
404 - GET https://d

[2020-11-21 00:31] doug-lovett commented on #5635
Initial draft completed. Waiting on input from namex dev to add research name endpoint.

[2020-11-21 00:32] doug-lovett commented on #5637
Public NR endpoint and configuration added to the mock service. Deployed and tested in non-prod BC registries environments.

[2020-11-23 08:10] thorwolpert opened #5711 "change diff to add lists item if ID is missing"

[2020-11-23 16:49] severinbeauvais commented on #5697
@vysakh-menon-aot Please add a short description of what this ticket is for, and also add an Entity label and set the Milestone to the current sprint. Thx!

[2020-11-23 16:52] severinbeauvais commented on #5701
@vysakh-menon-aot Please add a short description of what this ticket is for, and also add an Entity label and set the Milestone to the current sprint. Thx!

[2020-11-23 16:56] kialj876 commented on #5661
@lmcclung yes we can -> I'll do that now unless someone else already has

[2020-11-23 16:57] Sienna-Blumstengel opened #5712 "Designations inconsistent on different pages"
**Describe the bug in current situation**
Designations are inconsistent on different pages. The first example I have found is CORP. Auto-analyze will tell you the designation is written incorrectly, and prompt you to choose a different way to write it. When you select that and go to the next page where you enter your 3 options to send to examination, it is again written differently in the designat

[2020-11-23 16:57] #2461 closed

[2020-11-23 17:44] #5680 closed

[2020-11-23 17:46] #3458 closed

[2020-11-23 18:26] Milan-Freshworks opened #5713 "Payments section not visible to staff"
**Describe the bug in current situation**
Staff is not able to see the payments section properly

**Chance of Occurring (high/medium/low/very low)**
High

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**
- Test Env
- Login through IDIR

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'Account Management' panel
2. Click on View in 'Active' tab
3. S

[2020-11-23 18:33] Milan-Freshworks opened #5714 "Authentication section not visible to staff"
**Describe the bug in current situation**
Authentication section is not visible to the staff for a BCSC account

**Chance of Occurring (high/medium/low/very low)**
High

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**
- Test Env
- Login through IDIR

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'Account Management' panel
2. Click to View in 'A

[2020-11-23 18:48] #5711 closed

[2020-11-23 18:48] Milan-Freshworks opened #5715 "Unable to upgrade/downgrade the account type"
**Describe the bug in current situation**
BCeID Workflow - As an admin I am not able to upgrade or downgrade my account type

**Chance of Occurring (high/medium/low/very low)**
High

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**
- Test Env
- BCeID Workflow
- Account could be basic/premium and admin could try to upgrade/downgrade it

**Steps to Reproduce**
Steps

[2020-11-23 18:50] #5698 closed

[2020-11-23 19:06] nitheesh-aot opened #5716 "Email body clipping in Gmail"
## What is the problem?
* Email body clipping in Gmail client. other clients are looking ok.

## What is the impact?
* Users with Gmail as their mail client will see the mail body as the screenshot attached below.
- user have to click on the 'View entire message' link to view the email body.

## Proposed solution
* Fix the clipping issue in the emails [adjust the size of the mail to be less than w

[2020-11-23 19:07] lekshmimallika-aot opened #5717 "Legal API changes"

[2020-11-23 19:42] Milan-Freshworks opened #5718 "Update Account contact of Director search account"
**Describe the bug in current situation**
When Staff views the Account Info tab of Director Search account, the account contact has a prefix 'bros/' before the username. This prefix is how it is stored in DB but should be stripped off in UI.

**Chance of Occurring (high/medium/low/very low)**
- High

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**
- Test Env
- Lo

[2020-11-23 19:58] lmullane commented on #5655
@jeznorth, this is complete in the code in test, correct?

[2020-11-23 20:24] lmullane commented on #5440
hey @rkim13103, when the designs are ready, please update this ticket.

[2020-11-23 21:06] amit4610 commented on #5632
Transcript for video 1 - https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3467
Posted in BA group for feedback

[2020-11-23 21:47] Milan-Freshworks commented on #5339
There are a few bugs

![Screen Shot 2020-11-23 at 1.29.06 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/4f91ad57-84d1-4e57-bfef-5b00415deac5) ![Screen Shot 2020-11-23 at 1.29.50 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/94c00add-1dfe-49dd-89e8-eb27eab00e86)

[2020-11-23 22:00] Milan-Freshworks commented on #5343
@saravanpa-aot The error is 402(Payment Required) which needs to be updated
![Screen Shot 2020-11-23 at 12.43.12 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/d03112d9-b48f-4534-a941-d18f6494e448)

[2020-11-23 22:03] rkim13103 commented on #5440
@lmullane  Updated!

[2020-11-23 22:12] Milan-Freshworks commented on #5339
Moving the ticket back to " In progress" state

[2020-11-23 22:16] scottrumsby commented on #5400
basically, the mras service endpoint can respond with either xml or json depending on what the `Accept` header dictates.  `application/xm`l or `application/json`.  at the moment, the namex code appears to be setting that header as `Accept: application/xml` but then treating the response at tho it were json and resulting in an error "response cannot be json serialized" or something to that effect.

[2020-11-24 00:09] Milan-Freshworks commented on #5343
The comments mentioned above(1,2) have been addressed.
Payment screen is still not working as intended so I am not able to test scenario 2. @nitheesh-aot is already working on fixing the issue.

[2020-11-24 00:14] Milan-Freshworks commented on #5343
**_Scenario 3_** **PAD chosen for linked premium account**

When an admin has chosen PAD option
And there is BCOL option as well
Then if a user tries to 'File and Pay' for a filing
Then payment goes through their BCOL account
Until PAD becomes active after 3 days

I have tested that BCOL payment went through successfully. I would be testing on 27th November again to check if I am able to pay with

[2020-11-24 00:23] Milan-Freshworks commented on #5339
@nitheesh-aot mentioned that the second document in form of attachment is PAD Agreement doc file which is pending review.
Date issue has been fixed and Bank number is appearing as intended.

[2020-11-24 04:50] Milan-Freshworks commented on #5339
@nitheesh-aot The scenario 2 fails as there is Network Error whenever I try to change linked premium accounts payment method from BCOL to PAD.![Screen Shot 2020-11-23 at 8.45.24 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/6b3b7ced-d9c6-473a-83c7-8cebff1310d7)

`Summary
URL: https://auth-api-test.pathfinder.gov.bc.ca/api/v1/orgs/735
Status: —
Source: —
Initiator:
xhr.js:16

[2020-11-24 04:53] Milan-Freshworks commented on #5668
It has been tested and verified.

[2020-11-24 04:54] Milan-Freshworks commented on #5713
It has been tested and verified.

[2020-11-24 04:58] Milan-Freshworks commented on #5343
@saravanpa-aot For scenario 2, The PAD option is not even getting saved and there is network error.![Screen Shot 2020-11-23 at 8.45.24 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/eb0f378f-2022-488a-a16d-5c1a89b12eb3)

[2020-11-24 05:06] Milan-Freshworks opened #5719 "Incorrect wording for PAD - Linked Premium account"
**Describe the bug in current situation**
When an admin has created a linked premium account, there are two payment options BCOL and PAD payment method. The wording that should be mentioned in this scenario is not correct.

![Screen Shot 2020-11-23 at 3.58.07 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/61287581-f510-4598-8c28-dd245ec80d45)

[2020-11-24 05:51] #5454 closed

[2020-11-24 17:14] amit4610 opened #5720 "Send staff an update on communication for new payment methods"
## Description:

A communication to formalize what has already been shared and communicated in some of the sessions with staff regarding new payment methods. Trish has suggested we send in early December.

See Trish's email on Nov 23.

Draft must be peer reviewed.

Acceptance for a Task:
- [ ] Requires deployments
- [ ] Add/ maintain selectors for QA purposes
- [ ] Test coverage acceptable
- [ ] L

[2020-11-24 17:22] lmullane opened #5721 "Update User Terms"
* As a BC Registries and Online Services Staff
* I want to users to see the new Terms and Conditions of our application
* So that users have to agree to those terms before using our application

---

**Acceptance Criteria**

**Scenario 1: User Sees New Terms and Conditions**
* GIVEN there is an update or new Terms and Conditions
* WHEN a user of the application log in
* THEN the user should see th

[2020-11-24 17:23] lmullane opened #5722 "Update UI for selecting basic or premium account"
**Acceptance Criteria**
Update the content of the account types to match the content as seen in the updated designs

**Design**
https://preview.uxpin.com/b8afee051c71974176775d48fcbf21a4521ab79c#/pages/134598638/simulate/no-panels

----

**Link to DoR for a US/ Feature**
https://github.com/bcgov/entity/blob/master/.github/ISSUE_TEMPLATE/DoR%20-%20Relationships.md
https://github.com/bcgov/entity/bl

[2020-11-24 17:24] amit4610 commented on #5526
received screenshots from Mihai showing there is no service fee of $1.50 charged for courts. closing this.

[2020-11-24 17:24] #5526 closed

[2020-11-24 17:29] #5633 closed

[2020-11-24 17:43] mstanton1 commented on #5339
Please update content of email to be addressed to the recipient.

Email content:

Subject: Confirmation of Pre-Authorized Debit (PAD) Sign-up

Attention: <Administrator Name>

"Please find attached your Confirmation Letter of Pre-Authorized Debit (PAD) Sign-up and a copy of your Business Pre-Authorized Debit Terms and Conditions Agreement with BC Registries and Online Services.

If you have questi

[2020-11-24 17:46] amit4610 opened #5723 "Make bank institution number 4 digits and transit number 5 digits for PAD"
* As a bc registries client paying with PAD
* I want to make bank institution number 4 digits if it is 3, and transit number 5 digits if it is 4
* so that my payments don't fail

**Acceptance Criteria**

**Scenario 1: Client chooses PAD during account setup**
* GIVEN a client chooses PAD during account setup
* WHEN they enter a 3 digit institution number for their bank
*AND they enter a 4 digit tr

[2020-11-24 17:51] amit4610 commented on #5673
Hi @pwei1018 Entities is checking with their QA on his concerns regarding account cleanup. Please wait this week.

[2020-11-24 18:11] pwei1018 commented on #5710
I made some configuration changes. It seems solve these issues. Can you please verify it? Thanks.

[2020-11-24 18:37] lekshmimallika-aot opened #5724 "Colin API Changes"

[2020-11-24 19:05] #5668 closed

[2020-11-24 19:05] #5700 closed

[2020-11-24 19:05] #5713 closed

[2020-11-24 19:45] tlebedovich commented on #4811
Additional updates to copy/proofreading and default dropdown items will come from @janisrogers but can be put into a future ticket.

[2020-11-24 20:53] pwei1018 commented on #5574
The change deployed on dev.

[2020-11-24 21:13] mstanton1 commented on #5522
@riyazuddinsyed this is ready for testing.

[2020-11-24 21:15] stevenc987 opened #5725 "Using new version CD GHA scripts for Filings Notebook Report"
add new version CD GHA scripts for filings notebook report to keep consistent with other apps

[2020-11-24 21:17] Milan-Freshworks commented on #5339
It has been tested and verified.
Premium account payment method change is yet to be implemented and so scenario 2 would be tested later.

[2020-11-24 21:19] Milan-Freshworks commented on #5343
It has been tested and verified.
Premium account payment method change is yet to be implemented and so scenario 2 would be tested later.

[2020-11-24 21:39] janisrogers commented on #5547
Latest wording suggestion from staff for 3 is "If you wish to use your own legal name for a sole proprietorship or general partnership, you do not need to submit a name request or register your business with us.  However, you should inquire with your local municipality to ensure you have the appropriate business licence(s), if required.

[2020-11-24 21:41] janisrogers commented on #5547
I have put the updated text in the description above.

[2020-11-24 22:34] Milan-Freshworks commented on #5301
@nitheesh-aot @sutherlanda
1. There is no space between 'Date & Time'
2. Business Dashboard does not have a hyperlink attached to it, expected?
![Screen Shot 2020-11-24 at 2.32.35 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/ee91094f-6ca8-47f9-8886-2107a0bd3d49)

[2020-11-24 22:48] #5725 closed

[2020-11-24 22:48] amit4610 opened #5726 "Enable client to pay partial credit with credit card"
* As a user
* I want to pay partially with the credit on my account
* so that I can use credit card as payment method

**Acceptance Criteria**

Scenario 1: Account has a credit that part of transaction

•	GIVEN an account has a credit less than a transaction
•	WHEN the user clicks 'File and Pay' to pay the transaction
•	THEN the user will see the cost of the transaction and their remaining balance

[2020-11-24 22:48] stevenc987 commented on #5725
We don't need this anymore

[2020-11-24 22:55] Milan-Freshworks commented on #5339
[https://app.zenhub.com/files/157936592/c0b4e068-7172-4c58-b3e0-58d82008b8cc/download](https://app.zenhub.com/files/157936592/c0b4e068-7172-4c58-b3e0-58d82008b8cc/download)

New design based on which content was updated

[2020-11-24 23:00] mstanton1 commented on #2125
![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/b4645376-00a6-475e-bf03-922efd3d30fd)

- [ ] @rkim13103 @jeznorth to invite team members to design sessions Thursday at stand-up as needed.
- [ ] @lmullane to comment in ticket and reach out to devs when design changes are expected.
- [ ] @rkim13103 @jeznorth to update designs if changes are made.
- [ ] @mstanton1 to ensure

[2020-11-24 23:08] Milan-Freshworks commented on #5252
It has been tested and verified.

[2020-11-24 23:08] Milan-Freshworks commented on #5300
It has been tested and verified.

[2020-11-24 23:09] Milan-Freshworks commented on #5252
It has been tested and verified.

[2020-11-24 23:09] doug-lovett commented on #5638
Tasks completed.

[2020-11-24 23:32] Milan-Freshworks opened #5727 "Email PAD Confirmation Letter when Payment method is changed"
Change Payment Method to PAD

GIVEN an admin changes his or her payment method to PAD for an existing account
WHEN the admin clicks 'Save'
THEN a confirmation letter in PDF will be automatically sent to the email address of all the account administrators

[https://app.zenhub.com/files/157936592/5e088b68-f6a1-4d68-9106-04d418cce3f1/download](https://app.zenhub.com/files/157936592/5e088b68-f6a1-4d68

[2020-11-25 00:22] Milan-Freshworks commented on #5252
It has been tested and verified.

[2020-11-25 00:25] Milan-Freshworks opened #5728 "Transactions until PAD confirmation period is complete"
Changing from BCOL to PAD

GIVEN an admin is updating from BCOL to PAD
WHEN the admin clicks 'Save'
THEN the PAD will not become the payment method until 3 days have passed
AND transactions will continue to be charged to the BCOL deposit account

Refer: https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/5343

[2020-11-25 06:12] severinbeauvais commented on #4488
I think the UI work is complete (including setting up base styles for other dialogs, buttons, etc) (and some cleanup and some fixes).

I need the API completed (#5708) to test this, which may lead to a bit more work.

[2020-11-25 15:53] jdyck-fw commented on #2118
Retro 43

![Sprint 43 retro.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/3d69ff8e-23ed-4bdc-b672-e5a9b160fc65)

Action items:

- [ ] @jason.dyck - (standup) - IDIR make sure to login to a live system and not just test
- [ ] @jason.dyck - (standup) - Keep working closely ux and dev, this helps
- [ ] @jason.dyck - Group discussion next week to revisit e2e of NR
- [ ] @linda.mcc

[2020-11-25 16:52] #5327 closed

[2020-11-25 17:11] #2857 closed

[2020-11-25 17:16] jdyck-fw commented on #5382
This work will be covered under 5600

[2020-11-25 17:16] #5382 closed

[2020-11-25 17:19] #5012 closed

[2020-11-25 17:19] #5252 closed

[2020-11-25 17:19] #5300 closed

[2020-11-25 17:19] #5339 closed

[2020-11-25 17:19] #5343 closed

[2020-11-25 17:21] amit4610 commented on #5673
Milan also has work on bcreg0010,11,12,15,16 till Saturday, 28 Nov.

[2020-11-25 17:23] Kaineatthelab commented on #4784
Need to chat about this feature and what we should do...

[2020-11-25 18:01] tlebedovich commented on #5712
@janisrogers - to see if the designation results messaging needs to mention "must include period"

[2020-11-25 18:17] mstanton1 opened #5729 "Restrict number of transactions per month for Basic Account"
### Who will complete this work?
Relationships

* As a premium account holder
* I want to be able to make as many transactions as I wish
* so that I am able to complete all necessary work for the businesses I represent or own

### **Acceptance Criteria**

**Scenario 1: Basic account holder tries to complete an 11th paid transaction in the period of a calendar month**
* GIVEN a client has a basic a

[2020-11-25 18:17] severinbeauvais opened #5730 "NR UI: change remaining SASS code to SCSS"
The Namerequest UI (app) currently uses both SASS and SCSS, each with their own base styles, overrides, etc.

Both are currently working and supplying styles for various elements.

For easier development and maintenance -- and consistency with the other Entities UIs -- the SASS styles should be changed to SCSS.

[2020-11-25 18:33] severinbeauvais commented on #4488
@tlebedovich I assigned this to you for UX review. Please move to Ready for QA if it looks good to you. Thanks!

[2020-11-25 18:40] #4402 closed

[2020-11-25 18:41] Sienna-Blumstengel commented on #5705
@cameron-freshworks @areyeslo just to confirm we are all on the same page:
the Move (MVE) Request Action is to make an existing XPRO entity into a **BC entity.** So the three fields say:
"Move (continue) into BA a"  "extra-provincial (either type)"  "[entity type]"
This makes a new name for a BC entity.

[2020-11-25 18:44] cameron-freshworks commented on #5705
Yep exactly, before the only option in the UI was 'BC' for location which was supported in the API.
Now it reads as you mentioned above, but the API will need to support that request where the location type is either 'CA' or 'IN'.

[2020-11-25 18:46] Milan-Freshworks commented on #5719
It has been tested and verified.

[2020-11-25 18:56] mstanton1 opened #5731 "Generate PDF for NSF Invoice"
## Description: Generate the PDF for the transaction invoice showing the user NSF fees they have incurred.

Acceptance for a Task:
- [ ] Requires deployments
- [ ] Add/ maintain selectors for QA purposes
- [ ] Test coverage acceptable
- [ ] Linters passed
- [ ] Peer Reviewed
- [ ] PR Accepted
- [ ] Production burn in completed

[2020-11-25 18:56] Milan-Freshworks commented on #5301
It has been tested and verified with the existing email template.

[2020-11-25 18:58] tlebedovich commented on #5547
@janisrogers I've added that we'll need to update the visual design of this modal as well. layout to come soon. Cameron fixed the double "a" in the blue text link so I have crossed that out.

[2020-11-25 19:08] severinbeauvais opened #5732 "NameRequest UI: MVP Release (0.2.0)"
## NameRequest UI 0.2.0

Prior to moving into production, the following steps should be completed or confirmed:
- [x] Update version number in the code being released - **done by CB on Dec 15**
- [ ] Ensure deployment steps below are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [x] Add version # and release # to this t

[2020-11-25 19:14] severinbeauvais commented on #5473
I'm simply going to perform and track my work in the parent ticket.

[2020-11-25 19:14] #5473 closed

[2020-11-25 19:15] severinbeauvais commented on #5471
I'm simply going to perform and track my work in this ticket (instead of #5473, which I closed).

[2020-11-25 19:23] Sienna-Blumstengel commented on #5705
Ok sounds like we know part of what we need to do - allow the API to accept location type is either 'CA' or 'IN' when request type is MVE.
Just need to check with @areyeslo that **request type:** MVE and **Location:** CA or IN will result in a BC name, NOT an extraprovincal name.

[2020-11-25 19:32] mstanton1 commented on #5014
We will address UI in a separate task.

[2020-11-25 19:34] severinbeauvais commented on #5471
@lmcclung @tlebedovich Do you have the URL to the new page?

[2020-11-25 19:35] severinbeauvais commented on #5471
@lmcclung @tlebedovich Who does this, us? How do I go about doing this?

[2020-11-25 19:37] severinbeauvais commented on #5471
@lmcclung @Kaineatthelab What should be feature-flagged exactly? The link to the new NR app (instead of NRO)? Displaying the NR UI app altogether in Prod?

[2020-11-25 19:40] lmullane commented on #4889
@sumesh-aot, let's discuss re-estimating this ticket or creating a new ticket for the receipt solution for credits and pre-grooming next week. cc @mstanton1

[2020-11-25 19:54] Kaineatthelab commented on #5471
I think all of it for the dec 15th release

[2020-11-25 20:14] tlebedovich commented on #4488
@severinbeauvais is there a way for me to see it online somewhere? it looked good in the screenshots but would be nice to see it in action.

[2020-11-25 20:25] severinbeauvais commented on #5471
It's not deployed to Prod yet. Is that enough?

(I added a FF so that Prod home page links to NRO for now, and new NR UI after.)

[2020-11-25 20:29] severinbeauvais commented on #4488
@tlebedovich It's deployed to Dev so you can see it there.

Here are some sample NRs (but please don't edit or cancel them ;) ):
- NR 8363556 / 5555555555
- NR 7935509 / john.a.m.lane@gov.bc.ca
- NR 4217152 / 5555555555

[2020-11-25 21:20] cameron-freshworks commented on #5578
@tlebedovich Absolutely, done. Sorry didn't see that until now.

[2020-11-25 21:31] #5607 closed

[2020-11-25 21:37] kialj876 opened #5734 "Legal-api: improve test coverage for lowest scoring modules (continued)"
to run coverage report comment out ```--cov=src --cov-report html:htmlcov --cov-report xml:coverage.xml``` in setup.cfg

[code]

[2020-11-25 21:50] severinbeauvais commented on #5471
OK, I create a new "namerequest" project in Launch Darkly, and added the "namerequest-ui-enabled" flag, which is currently True in Dev and Test, and False in Prod.

(Prod still needs standing up in OpenShift FWIW.)

[2020-11-25 22:08] tlebedovich commented on #4488
Thanks @severinbeauvais its a beautiful modal :) My last feedback after seeing it live:

1. I'm not sure if there is another 14px font style that uses tighter linespacing (not letterspacing, but LINEspacing) for the bottom 14px paragraph, I would be great if it could be set to 14px with 22px linespacing. Otherwise it's approved to go to QA, thank you!

[2020-11-25 22:18] #5606 closed

[2020-11-25 22:19] kialj876 opened #5735 "sbc ops sprint 44"
## Ops work for sprint
*(for ops not captured in another ticket)*

### Entity: 0.5
- [x] load in new coop
- [x] load in new coops inc app

### NameX: 1
- [ ] NR2236126 expiry issue
  - [x] investigate NR2236126 expiry issue
  - [x] david/bob to data fix nro
  - [ ] discussion for further action

### Name Request: 0.5
- [x] fix jenkins pipelines

[2020-11-25 22:20] lmullane commented on #5500
@mstanton1, question for you:

In this sentence  "-include slide on findings (from both teams amount of time to provide support is lengthy, does happen all the time)" what findings are you referring?

[2020-11-25 22:29] areyeslo commented on #5712
Need an update synonym table in the following:

UPDATE SYNONYM
SET STEMS_TEXT='limited,ltd.,incorporated,inc.,corporation,corp,corp.'
WHERE CATEGORY='BC-Valid English Designations_end Stop'

UPDATE SYNONYM
SET STEMS_TEXT='limited,ltd.,incorporated,inc.,corporation,corp,corp.'
WHERE CATEGORY='CC-Valid English Designations_end Stop'

[2020-11-25 22:29] mstanton1 commented on #5500
@lmullane I'm sorry - that first bullet is very unclear. The thought was to include things we heard from Wendy and Joanna to do with support along with stats. Unfortunately, we weren't able to dig out stats so it will be primarily anecdotal. I've pinged Trish for info.

[2020-11-25 22:35] JohnamLane commented on #5318
I can see the receipt, but it no longer has any of the name choices. This is an older ticket, so before I fail it, can someone please weigh in on whether this receipt is acceptable. Moving to UX Assurance, but please let me know if that's not appropriate.

@Kaineatthelab @forgeuxGH5

[payment-receipt-69.pdf](https://github.com/bcgov/entity/files/5599538/payment-receipt-69.pdf)

[2020-11-25 23:06] lmcclung commented on #5471
@severinbeauvais I've removed the CMS page items.  The current page we link to will be updated (not replaced) so no dev work required.
 BA's have web page updates on our miro board for tracking.

[2020-11-25 23:21] lmcclung commented on #5706
@forgeuxGH5 MRAS includes the following jurisdictions:  British Columbia, Alberta, Manitoba, Quebec, Saskatchewan, and Corporations Canada.  Your description only includes the NWPTA partners of AB, SK, MB.

[2020-11-25 23:25] severinbeauvais commented on #5732
@Kaineatthelab @lmcclung @jyoti3286 What do you think we should set the first Prod version of NameRequest UI to be?

[2020-11-25 23:37] cameron-freshworks opened #5736 "Enum Implementation for NR Request, Location and Entity Codes"
## What is the problem?
*  We currently use a lot of string codes in the UI for comparison that should be refactored into an enum representation.

1. Request action code
2. NR state
3. NR action

## What is the impact?
* This will allow the UI to be consistent and less prone to code typos, as well only having one place to update a code should that value need to change.

## Proposed solution
* Impl

[2020-11-25 23:51] mstanton1 commented on #5500
To add to the comment above we have heard
-BCOL Help gets a number of calls from CC clients
-In some cases walking a client through account set up can take up to 30 minutes

@amit4610 anything to add for 'Findings'?

[2020-11-26 00:00] mstanton1 opened #5737 "Restrict number of team members for Basic Account"
* As a premium account holder
* I want to be able to add as many members to my team as needed
* so that all the members in my organization can complete work on behalf of businesses we represent / our business(es)

### Acceptance Criteria

**Scenario 1 - Account Has Reached Team Member Limit**
* GIVEN an account has 5 team members total across all states (Active, Pending Approval and Invitations)
*

[2020-11-26 00:10] #5719 closed

[2020-11-26 00:10] #5301 closed

[2020-11-26 00:46] #5559 closed

[2020-11-26 00:47] areyeslo commented on #5527
@Kaineatthelab can you please confirm the following list?
BC Protected Name Entity Types:
    SOLE_PROPRIETORSHIP --> Will move to XPRO
    DOING_BUSINESS_AS --> Will move to XPRO
    CORPORATION
    UNLIMITED_LIABILITY_COMPANY
    BENEFIT_COMPANY --> Will move to XPRO
    GENERAL_PARTNERSHIP --> Will move to XPRO
    LIMITED_PARTNERSHIP --> Will move to XPRO
    LIMITED_LIABILITY_PARTNERSHIP -->

[2020-11-26 01:01] lmcclung opened #5738 "Name Request - Confusing message"
**Describe the bug in current situation**
When I requested a name in TEST for an XPRO company which I knew would conflict with an existing name, it said I may processed and that it had fixed all the issues.  It displayed the conflicting company name, but there was no message saying it was a conflict.

**Link bug to the User Story**

**Impact of this bug**
Confusing messaging.

**Chance of Occurrin

[2020-11-26 01:02] lmcclung commented on #5738
@janisrogers could you confirm what the message should say?

[2020-11-26 01:47] lmcclung opened #5739 "Name Request - applicant's province selector should not include 'FEDERAL'"
**Describe the bug in current situation**
When I enter submission details in TEST, using google auto-fill (not Canada Post API) I need to select a province.  FEDERAL should not be an option as it is a jurisdiction not a province or territory.  No validation to catch this.

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impac

[2020-11-26 01:58] lmcclung opened #5740 "NR 8058119 not working for a Benefit Company"
#### ServiceNow incident:
#### Contact information
Staff Name: Sarah Shams
Staff Email: sarah.shams@gov.bc.ca

#### Description
I have been corresponding with a client who is trying to incorporate a named benefit company.  When he tries to add the NR it is telling him that it is the incorrect business type.  To me it looks to be right, and I checked with Josh in names who also was unsure why it wo

[2020-11-26 02:18] thorwolpert commented on #5400
even though this is set in the heading ```application/xml``` the mras endpoint returns json
the current error is trying to jsonify a response object, and as the error states it can't do that.

[2020-11-26 02:20] lmcclung commented on #5732
@severinbeauvais what would standard naming convention be for a beta version?

[2020-11-26 06:11] #5450 closed

[2020-11-26 16:16] Sienna-Blumstengel commented on #5740
Need client account name / BCOL number for @thorwolpert to complete

[2020-11-26 17:10] sumesh-aot opened #5741 "Not use values directly out of flask config <place holder>"
## What is the problem?
*

## What is the impact?
*

## Proposed solution
*

[2020-11-26 17:16] amit4610 commented on #5500
An important thing to highlight is that we did multiple rounds of user research back in march and april on each of the screens for account setup stepper and options under the account. Most of the users were comfortable and knew where they were in the process. We also incorporated the suggestions from that research (like the learn more button, user roles etc.) @lmullane @mstanton1

[2020-11-26 17:27] severinbeauvais commented on #5732
Re: semantic versioning: [major].[minor].[patch]

TL;DR - IMO, we should call it v1.0.0

As this is a major release, we would probably go with v1.0.0.

As this is a beta release, it's recommended to add a beta tag (eg, 1.0.0-beta) but I personally don't like that as it seems unclean, and what's the next non-beta build, 1.0.0 ? Or 1.1.0 ? (I think the beta tag is a thing for when beta releases get

[2020-11-26 18:12] severinbeauvais commented on #4488
Style tweaks...

Before:

![before.PNG](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/ebcfe529-52bd-4d1d-b7b5-c49c3f21c28e)

After:

![after.PNG](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/3f5b4bf8-ae19-41c3-a031-1fbf5c2e3f31)

[2020-11-26 18:51] JohnamLane opened #5742 "Name Request - Receipt modal shows long timestamp"
Minor presentational issue -

The receipt modal still shows the complete, technical timestamp

![tmstmp.png](https://images.zenhubusercontent.com/5a7391bd4b5806bc2bc54a79/5bb83de9-d0ec-4bfe-875c-431751070703)

[2020-11-26 19:44] areyeslo commented on #5527
@scottrumsby  do you need to redirect these calls in FE from protected to XPRO names?

[2020-11-26 19:50] severinbeauvais commented on #5471
### Test Notes

I tested this in Dev and it looks as I expect it.

The changes to verify are:

1. in Dev or Test, BCROS home page "Request a Name" button should go to https://dev.bcregistry.ca/namerequest/ or https://test.bcregistry.ca/namerequest/

2. in Dev or Test, BCROS step 2 "Request a Name" button should go to https://dev.bcregistry.ca/namerequest/ or https://test.bcregistry.ca/namerequest/

[2020-11-26 19:52] janisrogers commented on #5738
This is dealt with in the MRAS flow that Scott is designing.

[2020-11-26 20:00] severinbeauvais commented on #5600
Is there a design for this?

[2020-11-26 20:04] janisrogers commented on #5738
I think the bug (that it is displaying you may proceed) is still a valid bug.

Janis Rogers
Service BC
778-698-1406

From: lmcclung <notifications@github.com>
Sent: November 26, 2020 11:58 AM
To: bcgov/entity <entity@noreply.github.com>
Cc: Rogers, Janis CITZ:EX <Janis.Rogers@gov.bc.ca>; Mention <mention@noreply.github.com>
Subject: Re: [bcgov/entity] Name Request - Confusing message (#5738)

[EXT

[2020-11-26 20:44] nitheesh-aot opened #5743 "Align 'allowOnAccountFreeze' routes with permissions from Backend"
## What is the problem?
* some routes are allowed on account freeze nsf. which is currently managed by the meta tag 'allowOnAccountFreeze' in the routes.

## What is the impact?
* need to make it more backend driven, by mapping with the permissions array from backend.

## Proposed solution
* need to figure

![image.png](https://images.zenhubusercontent.com/5e29fbc60d7ce64b71989a89/861fc43f-3a33-4f

[2020-11-26 20:47] lmcclung commented on #5642
Emailed staff for screenshot with account name

[2020-11-26 20:48] lmcclung commented on #5740
emailed staff for this info.

[2020-11-26 20:56] lmcclung commented on #5683
emailed Julie Nov 26th - waiting for her to file subsequent AR in COBRS.

Hi Julie,
I chatted with the devs on this one.
We recommend going with option 1.  Can you file the subsequent AR in COBRS (since we don’t have that as an option in the new world) and we’ll find a way to get it brought over to the Business Registry app.  Let me know when it’s done and then we can coordinate with Bob.

[2020-11-26 20:58] Kaineatthelab commented on #5600
@tlebedovich @forgeuxGH5 can you link your design ticket to this

[2020-11-26 21:12] #5661 closed

[2020-11-26 21:13] amit4610 commented on #5632
Transcript for video # 2: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3472
Posted in the BA channel for feedback.

[2020-11-26 21:35] tlebedovich commented on #5600
@severinbeauvais - design link added

[2020-11-26 21:55] JohnamLane commented on #4488
Will wait for 5708 prior to testing this as a feature.

[2020-11-26 22:00] tlebedovich commented on #5568
@vysakh-menon-aot - please have the "Learn more about..." link in the footer open up a new browser window instead of replacing the homepage when you click on it.

Other than that, we just need to still work on the responsiveness/max width settings, which hopefully @cameron-freshworks can take a look at for us as a whole page.

[2020-11-26 22:01] Milan-Freshworks opened #5744 "BCeID - Incorrect name in 'Initiated by' field"
**Describe the bug in current situation**
For BCeID workflow, an admin created an account and completed a filing. Then when admin checked the Transactions screen, the name being displayed in Initiated By field is coming out incorrect

**Pre Conditions: which Env, any pre-requisites or assumptions to execute steps?**
- BCeID registration was done by the admin
- Logged in
- Completed a numbered comp

[2020-11-26 22:05] severinbeauvais commented on #5329
There are 3 places that need to be updated:
1. Payment Modal
2. Upgrade Modal
3. Upgrade Modal

Basically, it should work like this:
- the user saves/files their NR
- the BE creates an invoice and return with paymentStatusCode = COMPLETED
- if needed, the UI redirects the user to the payment portal
- otherwise, the UI routes to some summary page (see #5600)

[2020-11-26 22:05] vysakh-menon-aot commented on #5568
@tlebedovich will change the link target

[2020-11-26 22:09] Kaineatthelab opened #5745 "UI - Existing Request page (Part 2)"
This (originally large) ticket was broken up into multiple parts. This is Part 2 of that work.

Spec: https://projects.invisionapp.com/d/main/#/console/20760950/438712283/comments

### To Do
- [x] add entity type after NR number
- [x] move name state conditions to Request Status line
- [x] rename Reapplications Remaining to "Expiry Extensions Remaining"
  - also update logic so result is 0/2, 1/2

[2020-11-26 22:09] Kaineatthelab opened #5746 "Back end Stuff"

[2020-11-26 22:11] Kaineatthelab opened #5747 "UI - Existing Name Request tab"
See changes in design linked in the parent story.

Updates for main Existing Name Tab search screen

P1
- Change text to "Enter the Name Request (NR) Number and either the Applicant’s Phone Number or Email"
- Change field to NR Number only (can not search for Business Number)
- Button update (button stays blue, use field validation instead of deactivating the button)
- Form labels need to be added

[2020-11-26 22:22] Kaineatthelab opened #5748 "Results Out put generation"

[2020-11-26 22:23] Kaineatthelab opened #5749 "Modal - Download Receipts"

[2020-11-26 22:24] Kaineatthelab opened #5750 "Modal - Download Receipts"

[2020-11-26 22:25] Kaineatthelab opened #5751 "Modal - Cancel Name Request"

[2020-11-26 22:26] Sienna-Blumstengel opened #5752 "Modal - Download Receipts"

[2020-11-26 22:26] Sienna-Blumstengel opened #5753 "Modal - Cancel NR"

[2020-11-26 22:27] Sienna-Blumstengel opened #5754 "Modal - Cancel NR"

[2020-11-26 22:28] Sienna-Blumstengel opened #5755 "UI - Download Receipts modal"
change the existing modal

show all receipts , and a download button for each

Spec: see InVision in parent ticket (mockup near bottom-right of the InVision page).

[2020-11-26 22:29] Sienna-Blumstengel opened #5756 "UI - Cancel NR modal"
Currently the designs include text about an email being sent - do not include this. No email will be sent.

Spec: see InVision in parent ticket (mockup near bottom-right of the InVision page).

[2020-11-26 22:32] Sienna-Blumstengel opened #5757 "UI - Download Results PDF"
This ticket is to:
* Fetch the PDF from backend
* Download the PDF to the user's device when they click "Download Results"
* Implement some loading state indicator

See when the "download results" button is available here: https://docs.google.com/spreadsheets/d/1SVmnnl-mpROjYICsD6nvHoFVrcAxaOHewdsDJXE1S74/edit?usp=sharing

[2020-11-26 22:54] Kaineatthelab commented on #5708
@bcdevlucas are you able to pick this one up next?

[2020-11-26 22:58] JohnamLane commented on #5712
Cannot review until timeout issues is corrected.

[2020-11-26 23:18] JohnamLane commented on #5705
Verified in DEV

[2020-11-26 23:29] thorwolpert commented on #5740
I'm pretty sure I have affiliated the NR and created the stub IA.
It should show up in their account as an IA waiting to be completed.

[2020-11-26 23:50] JohnamLane commented on #5678
Was able to verify in DEV

[2020-11-27 00:02] #5740 closed

[2020-11-27 00:29] JohnamLane commented on #5712
Quick design question on this tomorrow
![image](https://user-images.githubusercontent.com/35740635/100398684-9acc1300-3004-11eb-8d8c-d1734b6b80a3.png)

[2020-11-27 00:50] mengdong19 opened #5758 "Blank account info fields and errors when upgrade account"
**Describe the bug in current situation**
When upgrade account type from basic account to premium,  current account info doesn't show in step two, user will have to input again before proceed to next step. Click "account info" from dropdown menu also gives error. The org_id seems missing.

**Link bug to the User Story**

**Impact of this bug**
User will have to input account info again during upgr

[2020-11-27 03:52] tlebedovich commented on #5712
to note @JohnamLane - I assume the copy updates haven't been done on any of these search results as of yet - ie: there is a typo in the first box and the copy for the action description and option two needs updating etc.

[2020-11-27 17:43] sumesh-aot commented on #4854
@lmullane We could have race condition to handle with the change of timing in settlement file. Earlier settlement file gets uploaded around 7, after we creating all invoices in CFS. And if settlement file comes with NSF records, we lock their account right away to block any further transactions.

Now since the settlement file will be uploaded in the morning, there would be transactions which was c

[2020-11-27 17:53] jdyck-fw commented on #5429
Okay to close this one now @pwei1018 ?

[2020-11-27 18:27] Kaineatthelab opened #5759 "MRAS Work"

[2020-11-27 18:36] lmcclung opened #5760 "5400"

[2020-11-27 18:36] lmcclung opened #5761 "5401"

[2020-11-27 18:36] lmcclung opened #5762 "5401"

[2020-11-27 18:36] lmcclung opened #5763 "5401"

[2020-11-27 18:45] thorwolpert commented on #5400
@scottrumsby what do you need the API call to return?
The comment in the code says ```Just return true or false ```, but then it tries to jsonify the XML response it receives from the MRAS endpoint.
Does your FE expect some data, a message format (like {"exists": true}) or do you need the profile data from MRAS for any user feedback / verification?

[2020-11-27 21:09] Milan-Freshworks commented on #5436
It has been tested and verified

[2020-11-27 21:10] Milan-Freshworks commented on #5685
It has been tested and verified

[2020-11-27 21:23] mstanton1 opened #5764 "Create Document to Track All Staff Requests"
## Description: Create an overarching document to track all staff feature requests.

Goal: To be able to show staff all pending feature requests so they can see progress, and reprioritize as needed.

Note: Some staff feature requests are currently tracked in a document in SP here: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame2.aspx?sourcedoc={d55399ed-e381-4224-ba06-c

[2020-11-27 21:43] mstanton1 opened #5765 "Brainstorm next steps for Support Structure Transition"
## Description: Team leads will need to ensure staff know about the support structure for BC Registries and Online Services. It is our responsibility to support them in doing so. This includes Cameron (corps/coops/societies), Joanna (BCOL Help) and Wendy (BCOL Admin).

Primary changes: Rather than having all account and payment related items transferred to BCOL Admin Cameron's team and Joanna's wi

[2020-11-27 21:57] mstanton1 commented on #5495
Video Transcript created and sent to BA's for peer review: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3481

[2020-11-27 22:03] Kaineatthelab opened #5766 "Remove Time Out (ticker 5 min) on name request"

[2020-11-27 22:31] mstanton1 commented on #5692
The video has been completed and uploaded to SP:
https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3483

This has been distributed to the Hub team, Joanna Barnes, and Cameron Wulff. Joanna and Cameron will review and distribute to their teams if they deem it helpful.

Emails noted we DO NOT have the approval to distribute to clients at thi

[2020-11-27 22:50] mstanton1 commented on #5764
Entities does not have a way of tracking this now.
Helpful to show things in analysis, design, dev, complete.

From BA Guild:
Can make use of staff feedback label at the story level.

[2020-11-27 23:03] mstanton1 commented on #5764
To do: start to apply staff/client feedback label to ongoing tickets as needed.

[2020-11-27 23:48] kialj876 commented on #5641
blocked because we don't have LTDs implemented anywhere yet

[2020-11-27 23:56] mstanton1 commented on #5764
Another thought presented by Jyoti was to use a Kanban board in Miro: https://miro.com/app/board/o9J_ldP1YRA=/

[2020-11-30 17:09] mstanton1 commented on #5500
Slide deck was created ahead of the 2 PM meeting Thursday Nov 26th.

Link here: https://docs.google.com/presentation/d/1Wn182IgUI-5TcbDsWuKCeyY1zNmmyRbG/edit#slide=id.g9336e35c86_0_30

[2020-11-30 17:09] #5500 closed

[2020-11-30 17:11] mstanton1 commented on #5764
A decision has been made amongst BA's to use a Kanban board in miro, like the one below:
https://miro.com/app/board/o9J_ldP1YRA=/

Next step is to update the Kanban board to include team names and status of current staff requested work.

[2020-11-30 17:17] #5436 closed

[2020-11-30 17:17] #5685 closed

[2020-11-30 17:17] #5692 closed

[2020-11-30 17:31] areyeslo commented on #5712
The system retrieves designation information from synonym table. For instance, the end designation tables are obtained executing the following query:
[code]
The category "English Designations_end_Stop" was created to store all end designations regardless entity type. Then, different values in this category might cause this behaviour. For instance, "ltd" (without period) is added in the general cat

[2020-11-30 17:49] bcdevlucas commented on #5663
Lucas tag Tracy when we're done :)
Janice and Tracy know more about this.

[2020-11-30 17:57] severinbeauvais opened #5767 "UI - Existing Request page (Part 1)"
This is Part 1 of the original (large) ticket #5745.

Spec: https://projects.invisionapp.com/share/N5ZJ995SEWP#/screens/438712283

### To Do
- [x] fix outer whitespace/layout
- [x] fix colors and font sizes
- [x] fix whitespace between sections
- [x] change Start Search Over button to "Exit" + X
- [x] remove "Your search returned..."
- [x] change layout of name choices to gray box
- [x] change app

[2020-11-30 17:58] janisrogers opened #5768 "Continuation in shouldn't use assumed name flow"
The rules for continuation in are not the same as extraprovincial registration of a new company. Do not need to use the name in the home jurisdiction, and do not use assumed name.

[2020-11-30 18:04] Kaineatthelab commented on #5746
@bcdevlucas can you work on this one as well. Let me know how long you think this will take in days as well as the other back end one with the search results:)

[2020-11-30 18:04] tlebedovich commented on #4811
hi @cameron-freshworks - are all the UI design updates completed and posted to dev site?

[2020-11-30 18:05] tlebedovich commented on #5542
@cameron-freshworks is everything updated and posted to dev for me to take a look at?

[2020-11-30 19:08] mstanton1 commented on #5372
@jeznorth can you make one further change to the content. Update last sentence to read:

Failed payments will result in the suspension of your account and a $30 dishonored bank instrument fee.

[2020-11-30 19:19] mstanton1 commented on #4855
@amit4610 can you work with CAS to confirm reverse reason code text and see if it could be inserted into the updated sentence below?

Replace "The following account has been suspended due to non-sufficient funds (NSF)" with:
The following account has been suspended due to a failed pre-authorized debit payment on (date).

[2020-11-30 19:30] mstanton1 commented on #4895
For scenario 2 content needs updates to include reminder to disregard if payment has been submitted. In steps content should be updated to insert account number in step 3.

Scenarios 1, 3 and 4 to be reviewed as well. @mstanton1

[2020-11-30 19:38] mstanton1 commented on #5723
Store in our system without leading zero. Padding with additional zero is only when sending a value to CFS.

[2020-11-30 19:45] mstanton1 commented on #4895
For scenario 2 total should be consolidation of all outstanding payments.

[2020-11-30 20:40] mstanton1 opened #5769 "1077 HOLDINGS CO-OPERATIVE CP0000852 - Access for Law Firm"
### Home team Info
**Service Now Number:** ?
**Staff email:** Julie.Harding@gov.bc.ca

**Description:** Can you please provide me with a NEW passcode for 1077 HOLDINGS CO-OPERATIVE CP0000852.  There already was a coops online account created, and this coop was added to that existing account, and now a law firm needs access.  Please be sure the coop is removed from this old account that was created

[2020-11-30 20:43] mstanton1 commented on #5769
@pwei1018 can you please confirm which account this CP is currently affiliated to?

[2020-11-30 20:57] mstanton1 opened #5770 "Design - Email Notification to Admins of Amount to be Debited"
## Description: Email design needed for the output that will advise all admins on an account using pre-authorized debit that their bank account will be debited the total amount of their transactions on that day in two days.

Content:
Your (account name) completed (amount) in transactions on (today’s date).

This amount will be debited from your financial institution in 2 business days. Please ensu

[2020-11-30 21:48] areyeslo opened #5771 "Designations for XPRO names & Search for exact match"
Designations have not been considered in XPRO names. Recently the resolution of this [ticket](https://github.com/bcgov/entity/issues/5527) includes adding LIMITED_LIABILITY_PARTNERSHIP and LIMITED_PARTNERSHIP designations in XPRO analysis.

Currently, searching for exact match in XPRO analysis is not including analyzing designations in the name, it is just searching for exact match without conside

[2020-11-30 22:07] Kaineatthelab commented on #5766
@bcdevlucas here is the time ticket

[2020-11-30 22:13] Sienna-Blumstengel commented on #4895
@severinbeauvais @lekshmimallika-aot do you guys have any insight on if this requires work for our team?

When the Online Banking payment is processed by the bank, we will receive some notice that the payment was received by registries, therefore reaching "filed **and paid**" status, so we can send that initial "filed and paid" email. However, the email does not currently say anything about "Payme

[2020-11-30 22:25] Kaineatthelab commented on #4895
@Sienna-Blumstengel I am 99% @mstanton1 and their team have take care of the outputs? We will need to receive an update to show the payment is processed which I believe @sumesh-aot has built already as well.

[2020-11-30 22:52] bcdevlucas commented on #5708
Something is up with Payments API... looking into it, this is basically done.

[2020-11-30 23:31] amit4610 commented on #5632
Video 1 is here: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3485

Sent to BAs, Loren and Trish for feedback.

[2020-11-30 23:53] mstanton1 opened #5772 "Retain account name and mailing address on account upgrade"
## Description: When upgrading the account type from basic to premium, current account name and mailing address does not show in step 2. The user will have to re-enter this data before proceeding to step 3. Meng has also noted that the org_id appears to be missing on an upgrade.

When a user is upgrading their account the account name and mailing address should be carried over. A user should be ab

[2020-11-30 23:55] #5758 closed

[2020-11-30 23:55] mstanton1 commented on #5758
This requirement was not part of the AC so this is being treated as a new feature request. With BCOL accounts currently, there is added complexity for the path - ideally this would be tackled after BCOl accounts are phased out. See 5772.

[2020-12-01 00:00] mstanton1 commented on #5769
Patrick has broken the affiliation and provided a new passcode - 589674415.

This has been sent back to IT Ops.

[2020-12-01 00:00] #5769 closed

[2020-12-01 00:10] Sienna-Blumstengel opened #5773 "BC1253074 Live Learning Technologies Ltd. - BC -> BEN (Correction)"
#### ServiceNow incident:
#### Contact information
Staff Name: Kat Langlois
Staff Email: kathy.langlois@gov.bc.ca

#### Description
Entity wants to alter from an LTD to a BEN. They accidentally filed a correction online in COLIN. We need to file a **correction** to make them a BEN.  Because we don't have an Alteration Correction filing we will file this as an alteration (no fee) in business regist

[2020-12-01 00:24] mstanton1 commented on #4895
@Sienna-Blumstengel @Kaineatthelab I think scenario 1 can be updated.  Given that you are notified when payment is processed and send out client outputs (e.g. NOA) the client doesn't need something else saying their payment has been processed. They receive a receipt as well to support the payment processing took place. With no future effective filings or current scenarios without an output this se

[2020-12-01 00:45] severinbeauvais commented on #5708
Awesome. Please let me know when it's deployed to Dev so we can test there.

[2020-12-01 00:58] lmcclung commented on #5773
Emailed Kat/Cameron with options:
Hi Kat and Cameron,

Hmm… We’ll need to think outside the box for a solution because this is a correction that straddles both corporate online and business registry and we don’t have a ready-made solution.  Here are three options:

1)	File a Registrar’s Notation in COLIN stating alteration filed on October 11, 2020 at 03:05 PM was incorrectly filed and should have

[2020-12-01 16:41] JohnamLane commented on #5712
@areyeslo Just adding the gist of my PM here in case others are curious. I would say that highlighting LTD (no period) as an invalid designation works fine. What can be adjusted in a design ticket is the message that is presented. I believe this will be handled in an upcoming UI ticket so no worries on your part.

Basically, this phrase should be adjusted to tell the client to add a period or some

[2020-12-01 16:47] severinbeauvais commented on #5767
@tlebedovich This is the first part of the Existing Request page updates. Please have a look in Dev at what I've done above ^^. Thanks!

[2020-12-01 16:48] Kaineatthelab commented on #5712
@areyeslo how much work would it be to just add a period if they don't have one on the designation?

[2020-12-01 17:15] amit4610 commented on #5673
Hi @pwei1018 You can go ahead for the test data clean up after today. I've messaged BAs from Entities and am messaging our team on RC to give them a heads up.

[2020-12-01 17:17] amit4610 commented on #5673
Please wait @pwei1018

[2020-12-01 17:17] tlebedovich commented on #5616
@kialj876 - design is attached now, but still awaiting final copy from Scott for that top line of text. Maybe ping him when you are ready for it :)

[2020-12-01 17:25] #5312 closed

[2020-12-01 17:26] areyeslo commented on #5712
@Kaineatthelab  I assume would you want to get rid of the message of mismatch designation and instead of highlighing the designation without period, a period should be added to the end of designation when applies. Then, a different response should be sent to Front End to get this behavior.

[2020-12-01 17:27] tlebedovich commented on #5712
@JohnamLane - I'm not sure this is in another UI ticket that i'm aware of? Can you check wording with @janisrogers - she's been working on the wording for search results.

[2020-12-01 17:40] lmullane commented on #4870
@jeznorth, will have generic emails for notifications for both online banking and EFT (exception is when payment is outstanding0. See this ticket: https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/4895 cc @rkim13103

[2020-12-01 17:52] #5641 closed

[2020-12-01 17:56] lmullane commented on #4865
@jeznorth, here's the doc with the EFT/Wire instructions: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/Modernization%20Docs/Relationships%20Docs/BCOL%20Admin%20Checklists%20and%20Docs/BC%20OnLine%20Wire%20payment%20info.pdf

Note, the bank account will be different...will confirm new numbers.

[2020-12-01 17:58] amit4610 commented on #5632
On suggestions, splitting the videos as below:
1. Notifications and editing profile
2. Team Management
3. Authentication for team members
4. Account information
5. Transactions and statements
6. Payment methods

[2020-12-01 18:02] amit4610 commented on #4855
Payment error codes from CAS:

![payment error codes](https://user-images.githubusercontent.com/59706888/100778770-489c4080-33bc-11eb-921b-f74638dcba2e.png)

[2020-12-01 18:20] Kaineatthelab commented on #5712
@scottrumsby @bcdevlucas Ideally on the front search page when the user enters a designation without a required period (Inc. LTD. Corp.) then it adds a period before it goes to auto analyze? thougts on this?

[2020-12-01 18:23] JohnamLane commented on #5767
@tlebedovich @severinbeauvais
Here are some NRs to be used in DEV
conditionally approved - NR 1666961, john.a.m.lane@gov.bc.ca
approved and used for a business (aka consumed)
cancelled - NR 3318585, cameron@freshworks.io
cancelled with a refund requested - NR 6777601, john.a.m.lane@gov.bc.ca
rejected name (red) and an unreviewed name (gray) <- invalid since all name choices are reviewed in order.

[2020-12-01 18:35] amit4610 commented on #5673
@kialj876 @Sienna-Blumstengel @Milan-Freshworks Please mention all the accounts you are using so @pwei1018 will not clean those.

[2020-12-01 18:38] Milan-Freshworks commented on #5673
@pwei1018 Please don't clear data from
BCSC - BCREG0010-0012, BCREG0015-0016 and BCREG2001-2005 and
BCeID account - https://test.bcregistry.ca/business/auth/account/761/settings/transactions

[2020-12-01 19:05] tlebedovich commented on #5467
@cameron-freshworks - descenders are still being cut off: ![Screen Shot 2020-12-01 at 11.04.59 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/53fb8a6c-5fd5-4649-a789-e86cb1129842)

[2020-12-01 19:47] tlebedovich commented on #5467
all good to go @cameron-freshworks - thanks so much

[2020-12-01 19:52] Sienna-Blumstengel opened #5774 "CP 2368 Fresh Start Egg Co-op - Co-op is behaving like a corp"
#### ServiceNow incident:
INC0067000

#### Contact information
**Staff Name:** Anderson Krause
**Staff Email:** Anderson.Krause@gov.bc.ca

#### Description
Co-op is behaving as a corp.
* Dashboard displays corp things, like legal obligations (except the ledger item of their incorporation does say co-op) -  [screenshot of dashboard](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/d2ec

[2020-12-01 20:08] jeznorth opened #5775 "UI Improvements - NSF Interface(s)"
Minor user-interface clean-up to the NSF interface.

**Acceptance Criteria**
* Use correct 'warning' iconography leveraged across the application and realign the title layout
* Use appropriate title case for page title ("This Account Has Been Temporarily Suspended")
* Update paragraph below the title to read "This account has been temporarily suspended due to non-sufficient funds (NSF)."

[2020-12-01 21:29] severinbeauvais commented on #5767
@bcdevlucas

At the moment, this is coming from the API as "DRAFT".

[2020-12-01 21:33] severinbeauvais commented on #5746
Note: I will identify anything missing from the existing request display and add items above accordingly.

[2020-12-01 22:02] Sienna-Blumstengel commented on #5673
Here is the sheet of businesses that the entities team would like to keep: https://docs.google.com/spreadsheets/d/1UTpFigwN9sj8z9gIGLouCw4XBalHUPYkub7qsNmc4FU/edit?usp=sharing
All Co-ops and BC Companies in here should stay. Not sure about the CPs without a name attached, maybe let's leave them too just in case

[2020-12-01 22:07] sumesh-aot opened #5776 "Handle receipt for PAD (not yet PAID) invoices"
Handle receipt for PAD (not yet PAID) invoices

Description: When a client completes a filing using PAD we do not have a receipt record on the back end because we have not yet received a settlement file. From a user point of view though the client has received product and is issued a receipt. Currently because we don't have all details for the receipt the receipt link is available and the link wil

[2020-12-01 22:52] Kaineatthelab opened #5777 "Name Request New Message on Bus Reg Page"
OCM requested to add something to the business registry page. @forgeuxGH5 not sure about design as we have that big banner already there.....?

"A new Name Request application will be ready to use soon! Check back with us on December 16th to submit a new name request and to lookup an existing name request using the new online application."

[2020-12-01 22:56] lmullane commented on #4840
@Sienna-Blumstengel, is this still needed?

[2020-12-01 23:00] janisrogers commented on #5777
Not sure if this is already noted somewhere, but we need to change the image under "request a name" for the 15th

[2020-12-01 23:08] amit4610 commented on #5080
@riyazuddinsyed Please put the expected behavior in the ticket.

[2020-12-01 23:10] amit4610 commented on #5714
Staff can change the auth for the team. Discussed at grooming.

[2020-12-01 23:11] Kaineatthelab commented on #5777
severin already has that completed in #5471

[2020-12-01 23:15] Milan-Freshworks opened #5778 "Field name displayed in error message is not the same as on screen"
**Describe the bug in current situation**
When an admin is creating a premium account, on the Payment Method screen when the admin chooses PAD. There is a field called Institution Number. However, if invalid data (for eg 0000) is added to the Institution Number field then the error message appears on the screen "Bank Number is invalid."

**Pre Conditions: which Env, any pre-requesites or assumptio

[2020-12-01 23:20] amit4610 commented on #5077
Estimating now, please verify if this is still happening before working on it.

[2020-12-01 23:23] amit4610 commented on #4909
for DS accounts and normal accounts

[2020-12-01 23:35] Milan-Freshworks opened #5779 "Salutation issue in PAD sign up confirmation email"
**Describe the bug in current situation**
For BCSC admin, when a 'PAD signup' email is generated then the name in the salutation part of the email is not visible.
Considering, that on the User Profile screen admin only enters the email address and the name is not captured anywhere so what should be appearing in the email?

**Pre Conditions: which Env, any pre-requesites or assumptions to execute s

[2020-12-01 23:36] lmullane commented on #5490
Use the same design for future effective filings.

[2020-12-01 23:43] lmullane commented on #5722
@rkim13103, just need our final design for this ticket.

[2020-12-01 23:52] amit4610 commented on #5490
Messaging : for this type of product, online banking is not allowed. Something like this.

[2020-12-01 23:54] amit4610 commented on #5490
@rkim13103 to create a design ticket dependency

[2020-12-02 00:01] sumesh-aot commented on #5490
We can add this configuration in DB, against the corp_type.  For future effective, handle it as an exceptional case.

[2020-12-02 00:09] rkim13103 commented on #5722
@lmullane

Design link:
https://preview.uxpin.com/b8afee051c71974176775d48fcbf21a4521ab79c#/pages/134598638/simulate/no-panels

[2020-12-02 00:19] tlebedovich commented on #5573
hi @vysakh-menon-aot - @janisrogers will be the one helping you with this ticket as it is all ux-copy based and doing UX Assurance on it. I'm just watching this ticket from afar ;)

[2020-12-02 00:53] sumesh-aot commented on #4854
Discussed with @lmullane , Decision is to; not create CFS invoice is account is FREEZE. Create invoices once the account is ACTIVE after CC payment.

[2020-12-02 03:54] forgeuxGH5 commented on #5777
This could just be new section of the page below the create an account section. We'll put together a quick option.

[2020-12-02 04:41] tlebedovich commented on #5462
This is being taken care of along with other Submission Detail UI/Design updates - @Kaineatthelab @forgeuxGH5 do we have an overall design and/or dev ticket for Submission Detail Screens?

[2020-12-02 04:49] tlebedovich commented on #4811
Hi @cameron-freshworks what is the status of this backend ticket? Its in the UX Assurance pipeline but I don't think it's been completed??

@janisrogers is the best person to do UX Assurance on the wording for all the search results when they are completed, but I don't think they are yet?

[2020-12-02 05:03] tlebedovich commented on #5569
@vysakh-menon-aot - Here is my UX Assurance feedback. Please tag me when its ready to review again:

**Value Prop (with laptop) blade:**

- bullet point blue colour should be #1976D2
- text in bullet points should be #495057
- make white space above and below laptop even by adding more white space below laptop

**Helpful Tips blade:**
- content within the white boxes doesn't look vertically centre

[2020-12-02 05:31] tlebedovich commented on #5542
@cameron-freshworks - Here is my UX Assurance Feedback. Please let me know when I can review again.

**Top Wait Times & Top Tool Tips:**
- In both wait times circles, move the numbers down a bit closer to the words "Hours" and "days" (8px space between numbers and words within the circles) - see design
- Priority Request wait time tool tip - Put "During Business Hours" on one line in tool tip
- Co

[2020-12-02 06:12] tlebedovich commented on #5767
@severinbeauvais. Here is my UX Assurance based on what was completed above:

Below may or may not be helpful, will be easier to review when everything's done, but looking great so far!

**Conditional Approval:**
- missing 2 download buttons, tool tips
- download sample consent letter missing

**Consumed**
- Request Status should be "Approved / Used for BC0001234" - pulling in the Co #
- missing r

[2020-12-02 16:31] lmullane commented on #5722
Hi @rkim13103 , a couple of content changes for the design.

Can we also reorder the list like this with the content changes below:

10 transaction per month
5 team members per account
Pay by credit card & online banking

Unlimited transactions
Unlimited team members
Pay by pre-authorized debit or
BC Online deposit account
Financial statements
Developer API

[2020-12-02 17:14] lmcclung commented on #5773
Staff confirmed they like option 3 best.  Just waiting for Registries Account information.

[2020-12-02 17:41] amit4610 opened #5780 "Account info UI for old Basic account"
**Describe the bug in current situation**
Old Basic accounts don't have account information which leads to payment failure for Online banking

GIVEN I have a basic account with no information in account info page
WHEN I change my payment method to online banking
THEN I should be asked to fill my account information

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. w

[2020-12-02 17:41] amit4610 commented on #5780
@Milan-Freshworks Please investigate. Let's discuss in the next bug tirage.

[2020-12-02 18:00] severinbeauvais commented on #5745
@Kaineatthelab The InVison (spec) linked in the description contains a ton of comments, some of which may be BE (eg, buttons).

[2020-12-02 18:10] severinbeauvais commented on #5745
@Kaineatthelab There's a Google Doc with feedback comments linked above as well.

(I will definitely go through these, but it would help if I can concentrate on the UI stuff.)

[2020-12-02 18:10] severinbeauvais commented on #5767
@Kaineatthelab Some of the feedback above is related to BE changed (eg, which buttons are displayed)

[2020-12-02 18:25] lmcclung commented on #5774
Temporary fix:
We've updated the code so that coop Incorporation Application filings now show as available on paper only.  We've also removed the legal obligations info on the entity dashboard.

When we build coop incorp filings we can permanently resolve this.

[2020-12-02 18:26] severinbeauvais opened #5781 "UI - Existing Request page (Part 3)"
This is the remaining work of the original (large) ticket.

Spec: https://projects.invisionapp.com/share/N5ZJ995SEWP#/screens/438712283

### To Do
- [ ] ~change Conditions dialog to a tooltip~ Tracey said she likes it as a dialog
- [x] add Check Status gray box at bottom
  - if NR state is DRAFT, PROGRESS or HOLD
  - ~bonus: only if user didn't come from Existing Name Request page~ future maybe
-

[2020-12-02 18:42] severinbeauvais commented on #5767
@here Re: UX/QA testing

It would really help if feedback was only provided on items that are actually implemented (ie, not on items that are yet to be implemented). The tickets in this story/epic contain checklists of all items to be implemented.

If there's something in the designs that is not implemented in THIS ticket, please check the follow-on ticket (Part 2). And if it's not implemented in

[2020-12-02 18:46] lmullane commented on #4868
@jeznorth, I have updated the AC based on what you showed me in the designs. Once the designs are finalized from the meeting today, please update the AC and include links to the final designs.

We will groom this ticket tomorrow.

[2020-12-02 18:49] lmullane commented on #5652
@amit4610, @sumesh-aot, do I understand correctly that we have done our endpoint for this story, we just need entities to point to it?

[2020-12-02 18:55] lmullane commented on #5127
Duplicate of 5227

[2020-12-02 18:55] #5127 closed

[2020-12-02 19:35] Kaineatthelab opened #5782 "Submission Details Refresh"
Feature Flag

### P1 TO DOs

**Invision Design Layouts: https://invis.io/SDZLYO1AZ6K#/439286265_Submission_Details**
**See tool tip text in comments below**

**Submit a Name Request for Review Screen**
- [x] Field Text Colour updates - default/label text is #495057 and Entered text is #212529
- [x] Add tool tip to Designation dropdowns
- [x] Include field label for First Choice field
- [x] Update

[2020-12-02 19:41] Kaineatthelab opened #5783 "Submission - Make first choice uneditable"

[2020-12-02 20:02] rkim13103 opened #5784 "Disabled Online Banking for name request/future effective"
**Design Task**
Acceptance Criteria

1)	[ ] When basic users are completing name request/Future effective , online banking should be disabled.
2)	[ ] Only credit card should be the only option
3)	[ ] Content should be added: explaining why user cannot pay with online banking

https://preview.uxpin.com/96a87a101b8e22e72930f0380e00c500a300ce7d#/pages/134672994

[2020-12-02 20:17] rkim13103 opened #5785 "Payment with partial and full Credit"
**Design Task**
Acceptance Criteria

Partial credit coverage
1)	[ ] User could pay remaining amount with Online Banking  or full amount with CC
2)	[ ] Include text that user can't use partial credit if they pay with credit card. (User will have to pay full amount with CC)

Partial credit with Online banking:
https://preview.uxpin.com/96a87a101b8e22e72930f0380e00c500a300ce7d#/pages/133691359

Parti

[2020-12-02 21:07] severinbeauvais commented on #5746
@vysakh-menon-aot

For NR 1666961 (john.a.m.lane@gov.bc.ca), both CANCEL and REQUEST_REFUND actions are provided -- only one or the other should display.

Per Scott:

[2020-12-02 22:30] tlebedovich commented on #5781
Wording for COMPANY NAME tool tips from @forgeuxGH5  (I see it was added above already, but I fixed the punctuation to match Scott's, as shown here:

1. Green Approved Name - "Approved for use."
2. Gray Not Reviewed Name - "Not reviewed. [Reason]."
3. Red Rejected Name - "Rejected. [Reason]."

[2020-12-02 22:34] kialj876 commented on #5545
@lmcclung @Sienna-Blumstengel this is now ready for staff to review finally. Ended up being pretty complicated for me to complete - sorry for the wait

[2020-12-02 23:47] #5364 closed

[2020-12-02 23:48] lmullane commented on #5022
STRA signed off by ED and with MISO for final sign off.

[2020-12-02 23:49] lmullane commented on #5623
Signed off PIA and forwarded to ED for sing-off

[2020-12-03 00:25] Kaineatthelab commented on #5777
Not doing this, Trish approved @lmcclung @Sienna-Blumstengel fyi

[2020-12-03 00:25] #5777 closed

[2020-12-03 01:43] severinbeauvais opened #5786 "UI: countdown timer doesn't count down during search"
**Describe the bug in current situation**
The countdown timer doesn't count down during a name search.

Since the timer is hidden after the search, maybe it's irrelevant during the search?

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Chance of Occurring (high/medium/low/very low)**

**Pre Conditions: which En

[2020-12-03 09:06] #5238 closed

[2020-12-03 09:06] #5774 closed

[2020-12-03 09:06] #5717 closed

[2020-12-03 09:06] #5704 closed

[2020-12-03 09:06] #5525 closed

[2020-12-03 16:43] Kaineatthelab commented on #5165
[https://app.zenhub.com/files/157936592/5a4993b0-66bd-48a3-bc5d-1f0e5402ca72/download](https://app.zenhub.com/files/157936592/5a4993b0-66bd-48a3-bc5d-1f0e5402ca72/download)

[2020-12-03 16:46] jdyck-fw commented on #5775
Sorry for mixing up the pipeline on this one yesterday @jeznorth , I meant to swap it over to the Relationships milestone not close it. I believe it was in the wrong milestone.

[2020-12-03 16:52] Sienna-Blumstengel commented on #4840
@lmullane i don't think so, tagging @lmcclung to confirm

[2020-12-03 16:54] forgeuxGH5 commented on #5746
Also we still need to confirm the expiry extension times. @severinbeauvais do you remember the rules from when we did the NR in the Incorporation Application flow? Can we reuse those here? This is the UI we built for the IA (this is in on the Business Dashboard (Edit UI right?):
![image](https://user-images.githubusercontent.com/26335434/101061169-0d794900-3545-11eb-87ea-73d0c1910b58.png)

[2020-12-03 16:56] severinbeauvais commented on #5746
@forgeuxGH5 Yes, I used the same method to determine when the NR expires. In a nutshell, if the date is today, it's expired.

[2020-12-03 16:57] severinbeauvais commented on #5746
PS I think your screenshot is from the Todo List on the entity dashboard -- Filings UI.

[2020-12-03 17:15] lmullane commented on #5721
New terms are in draft currently

[2020-12-03 17:28] severinbeauvais commented on #5767
@tlebedovich I have added responses to your comments above. Please review.

If there's something related to another ticket, please add any new comments to that ticket.

If something is fixed by another ticket, but that ticket is not ready for review yet (ie, not deployed), please hold your comments.

In THIS ticket, let's please only comment on the items implemented here (ie, check items in descri

[2020-12-03 17:30] severinbeauvais commented on #5767
@here I would like to set this ticket to "complete" ASAP. I would like any outstanding items to be worked on in currently open tickets (#5746 for BE, #5781 for FE).

Is this ticket OK to proceed to QA now?

[2020-12-03 17:31] Kaineatthelab opened #5787 "UI Design - AFTER RELEASE UI CLEAN UP"
### UX/Design To Do Post MVP

To Do/Complete:
- [x] Complete updates for Submit Name Request for Review screens- https://invis.io/TYZNY7G3FMZ#/439906103_Name_Submission_Screens
- [ ] Refresh, complete updates for Submission Details P1 and P2 in ticket #5782
- [ ] Refresh remaining modals (payment review screen, "Are you there" timeout, + any others we find)
- [ ] Refresh Edit UI flow/function/desi

[2020-12-03 17:32] Kaineatthelab commented on #5787
This ticket is for after release this week to tweak screens.

[2020-12-03 17:33] nitheesh-aot opened #5788 "UI breaking when navigating from Account Info page to any other page in the account settings"
**Describe the bug in current situation**
While navigating from Account info page to any other page in the account settings, the UI will break and freeze. and prevent user to navigate or perform anything until they refresh the page manually.

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Chance of Occurring (hi

[2020-12-03 17:35] Kaineatthelab commented on #5767
yes @severinbeauvais

[2020-12-03 17:48] Sienna-Blumstengel opened #5789 "Add special payment options for SBC Regional office employee IDIRS"
## Who will do this work
Entities

## User story

* As an SBC Regional office employee, logged in with my IDIR
* I want to have special payment options when completing a name request
* So that I can charge a client for a name request that I am requesting on their behalf

##  Background
SBC regional offices currently help clients request NRs on NRO. The employee sits at their desk, asks the client

[2020-12-03 17:55] tlebedovich commented on #5787
@Kaineatthelab to log something here, would I hit the "New Issue" button?

[2020-12-03 17:57] forgeuxGH5 commented on #5746
Yes! Filings UI - thanks.

[2020-12-03 17:58] tlebedovich commented on #5783
P1 (MVP) for Submission Flow

[2020-12-03 18:01] mstanton1 opened #5790 "Client Error when Choosing Register New BCeID in Name Request Account Creation Flow"
**Describe the bug in current situation**
When creating an account in name request TEST (https://test.bcregistry.ca/namerequest) when the user reaches the screen to either log on with an existing BCeID or create a new BCeID the buttton to create a new BCeID leads them to a 'Page Not Found'. Screenshot below.

**Link bug to the User Story**

**Impact of this bug**
High impact. Users cannot complete

[2020-12-03 18:05] tlebedovich commented on #5787
oddly, there is no top "description" text area to edit, so if i hit edit, it only edits the title. there is only comments.

[2020-12-03 18:06] jdyck-fw commented on #5463
Cameron will verify this is done already

[2020-12-03 18:07] severinbeauvais commented on #5745
@tlebedovich This ticket is now deployed to Dev and ready for your review!

[2020-12-03 18:14] saravanpa-aot opened #5791 "archive the settlement files"
## Description:

Come up with a strategy to to archive files

1) where to archive ; minio or SFTP ?
2) when to delete files from minio ; weekly or monthly?

More details to come later

Acceptance for a Task:
- [ ] Requires deployments
- [ ] Add/ maintain selectors for QA purposes
- [ ] Test coverage acceptable
- [ ] Linters passed
- [ ] Peer Reviewed
- [ ] PR Accepted
- [ ] Production burn in comp

[2020-12-03 18:46] cameron-freshworks commented on #5463
After a quick look this is a bug unrelated to the work done for XPRO's requiring their corp num at the point of submission. There is currently a bug when trying to do a AMALGAMATE request, for BC location. Unable to proceed past the initial search.

[2020-12-03 18:46] jeznorth opened #5792 "Apply an EFT Payment to an Account"
**USER STORY**
* As BCOL Administrator
* I to be able to apply funds an account
* so that I can apply funds to an account when payment has been received from a client

---

**ACCEPTANCE CRITERIA**

**Scenario 1 - BCOL Staff Sees Add Payment Interface**
* GIVEN a BCOL Administrator can add funds to an account
* WHEN the user clicks on 'Add Payment'
* THEN the user should see the interface to add fu

[2020-12-03 18:54] doug-lovett commented on #5635
Research name added to the public NR spec. All tasks completed.

[2020-12-03 19:13] lmcclung commented on #5574
@pwei1018 Hi Patrick,  could you confirm that the URL used is the bcregistry.ca/namerequest not the pathfinder one?

[2020-12-03 19:18] jdyck-fw commented on #5400
As was discussed in standup this morning, moving this one over to closed as I believe this has been completed.

[2020-12-03 19:18] #5400 closed

[2020-12-03 19:18] bcdevlucas commented on #5766
@Kaineatthelab In progress, I'll have this out shortly.

[2020-12-03 19:19] tlebedovich commented on #5767
yes, thanks @severinbeauvais

[2020-12-03 19:51] vysakh-menon-aot commented on #5746
@severinbeauvais API won't return Receipt action button if payment is failed (regardless of the nr status)

[2020-12-03 19:53] severinbeauvais commented on #5746
OK. Does it currently display correctly in other cases?

[2020-12-03 20:05] vysakh-menon-aot commented on #5746
Merged PR now. Triggered a build.

[2020-12-03 20:20] sumesh-aot opened #5793 "Calculate credit on account"
## Description:
Implement below steps to calculate up to date credit on any account;
- Store any on account receipt with balance to credits table (not in place)
- Store any credit memo with balance to credits table (details to be provided by CAS team on this)
- On settlement file received; call receipts endpoint on CFS to retrieve the receipt details.
- Calculate the balance on receipt : receipt_a

[2020-12-03 21:16] jeznorth opened #5794 "Design - User Downgrades Account w/ Existing PAD Agreement"
TBD

[2020-12-03 21:17] jeznorth opened #5795 "Design - User Deactivates Account"
**Design**
Deactivate Account Button
https://preview.uxpin.com/f2b15bed219cb10e9a12a62ab5e7d9cbf02b98cd#/pages/134813664

---

**Deactivate Basic Account**
https://preview.uxpin.com/f2b15bed219cb10e9a12a62ab5e7d9cbf02b98cd#/pages/134814211

---

**Deactivate Premium Account w/ PAD**
https://preview.uxpin.com/f2b15bed219cb10e9a12a62ab5e7d9cbf02b98cd#/pages/134814211

---

**Account Deactivated**
Si

[2020-12-03 21:57] lmcclung commented on #4286
Sumesh provided the following endpoint for updating the folio...

PATCH https://auth-api.pathfinder.gov.bc.ca/api/v1/entities/<business identifier>

{
  "folioNumber":"<folio number>"
}

[2020-12-03 22:23] mstanton1 opened #5796 "Terms of Use Formatting Issue"
**Describe the bug in current situation**
When I create a new account in BCRS the formatting of the terms of use is rendering so there is no space between the numbering at the start of a line and the text in that line. The issue starts in section 2 - Acceptance of Agreement - and continues until the end.

**Link bug to the User Story**

**Impact of this bug**
Terms of Use are difficult to read.

*

[2020-12-03 22:32] severinbeauvais commented on #5746
@vysakh-menon-aot I just learned a new rule for actions:
"The INCORPORATE action should only be provided for Benefit Company (BC) NRs."

That said, the UI has a check for this as well.

[2020-12-03 22:54] lmullane commented on #4868
Close as duplicate of 5792

[2020-12-03 22:54] #4868 closed

[2020-12-03 22:57] lmcclung commented on #4840
@lmullane No longer need work from your team.  Now that we have the end point we can add it at a later date.

[2020-12-03 23:19] mstanton1 commented on #5652
The endpoint is already there. We just need entities to capture the message and show it in the UI.

[2020-12-03 23:21] amit4610 commented on #5591
@Sienna-Blumstengel What details do you require? Entities need to redirect based on this new flag.

[2020-12-03 23:22] amit4610 commented on #5591
@Sienna-Blumstengel @lmcclung We will need entities to do this for our release.

[2020-12-03 23:22] amit4610 commented on #5652
@Sienna-Blumstengel @lmcclung We will need entities to do this for our release.

[2020-12-03 23:23] tlebedovich commented on #5745
@severinbeauvais the items in this ticket that I could see looked good to me. I think I'll need to wait until the backend work on the buttons is done before I can look at all the buttons properly (couldn't see the extend expiry button etc). but this is good to go to QA imo.

[2020-12-03 23:40] pwei1018 opened #5797 "Upcoming changes for CICD flow:"
## Description:

1. Update all docker image latest tag to specific version tag:
    - ubuntu-latest ->  ubuntu-20.04 (GHA scripts)
    - node:latest -> node:14.15.1  (UI dockerfile, CI scripts)   **UI developer thought?**
    - nginx:1.17.0 -> nginx:1.18.0 (UI dockerfile)
2. Versioning Openshift secrets that generated from 1password, it will keep 3 pervious version in Openshift and the version num

[2020-12-03 23:55] severinbeauvais commented on #5797
When I build/use the UIs locally, I'm using v14.15.0, so this should be fine!

[2020-12-04 01:16] forgeuxGH5 commented on #5578
There is a typo in the Helpful Tips / Domain Names box - we need to change "considering" to "consider".
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/6080fcc2-7dfb-4e35-906b-67a4da99352b)

[2020-12-04 03:02] tlebedovich commented on #5578
@vysakh-menon-aot - Scott caught this typo above - are you ok to fix it?

[2020-12-04 06:53] bcdevlucas commented on #5766
Haven't added configuration to OpenShift, but timeouts are now configurable in configuration.json.
Set timeout values to 0 to disable them.

[2020-12-04 16:18] vysakh-menon-aot commented on #5578
Will fix this

[2020-12-04 17:01] forgeuxGH5 commented on #5578
The text in the How to build your name / Name components panel appeared wrong (see below) for me but I can't reproduce it - see if you can reproduce; if we can't see a reason for this or reproduce we can ignore.
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/5e096e1f-4125-443b-8d60-70d25a77a888)
This is in dev.

[2020-12-04 17:09] areyeslo opened #5798 "Fixes in search conflicts - Review Name Requests Approved These and Examiners Rejected It"
The following issues were identified during the review of Name Request Approved spreadsheet:

- Adding an optional 's' at the end of distinctive and descriptives
- Get the smallest length in names for conflicts after score
- Prefer the descriptive in common between name request and conflict and remove the duplicated categories
- Do not remove values from descriptive list when stand alone list is a

[2020-12-04 17:20] vysakh-menon-aot commented on #5578
These are static content. So if you can't reproduce it we can ignore it

[2020-12-04 17:23] cameron-freshworks commented on #5463
There is more to this bug, as currently no option is presented to send the user to review of the searched name, for a BC Amalgamation.

[2020-12-04 17:28] #4886 closed

[2020-12-04 17:28] #4956 closed

[2020-12-04 17:28] #5522 closed

[2020-12-04 18:21] mstanton1 commented on #5495
Split into two scripts so I can show account set up for BCSC user (https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3504) and account set up for BCeID & 2 FA user (https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3505).

Recordings are now complete. Slides need to be edited in.

[2020-12-04 18:44] saravanpa-aot opened #5799 "Generate and Download Invoice - Online Banking"
- As a user of an account with online banking as the payment option
- I want to download invoice for the online banking
- So that I know how much I need to pay

**Scenario 1: Download Invoice**

GIVEN a user is on this view:
https://preview.uxpin.com/96a87a101b8e22e72930f0380e00c500a300ce7d#/pages/133441306/simulate/sitemap
*WHEN the user clicks 'Download Invoice'
THEN the invoice will be download

[2020-12-04 18:46] saravanpa-aot commented on #4890
new ticket https://github.com/bcgov/entity/issues/5799 is created for the download invoice scenario

[2020-12-04 19:31] cameron-freshworks opened #5800 "Update NON-Analyzed Names Flow"
## Description:

* This ticket is to update any names that do not get auto analyzed and send them straight to Names Examination.
* This is also to correct a bug, where any of the below scenarios were resulting in a content box with only a title and no action to take,
ie Send to Examination.

*UX Additions:*
- [x] The BETA tag tool tip to stick and the link clickable.

*List to start:*
- [x] click

[2020-12-04 19:35] lmullane commented on #5514
@mstanton1, when you say partial payment do you mean the masked bank account number?

[2020-12-04 19:49] mstanton1 commented on #5514
As per a discussion on Rocketchat @loren noted "Wendy said all questions are referred to her team but Joanna's team can currently see the bank info. I think Joanna's team at least needs to see what the payment method is for the account, which means they will have to see the masked PAD. Given it's masked not much risk in her team being able to see the last 3 digits of an account"

The ability to se

[2020-12-04 19:54] #5411 closed

[2020-12-04 20:53] Sienna-Blumstengel commented on #5767
| State | NR | Email | Phone | Comments
| --- | --- | --- | --- | --- |
| Approved, used on [incorp num] | NR 1439286 | sienn@freshworks.io | 1234567891 | used on BCREG1230062 |

[2020-12-04 21:03] severinbeauvais commented on #5767
@Sienna-Blumstengel Thanks for this!

But atm the NR is in APPROVED state so it displays Approved and no corp num (instead of being in COMPLETED state and displaying "Approved / Used For BC1230062").

Keep an eye on this. A batch job may need to run to complete the IA and consume the NR.

[2020-12-04 22:03] rkim13103 commented on #5662
Design link has all been updated

[2020-12-04 22:05] rkim13103 commented on #5490
Design link has been added

[2020-12-04 22:05] mstanton1 commented on #5514
Acceptance criteria has been updated as per a conversation with Loren and Sumesh.

[2020-12-04 22:34] jyoti3286 opened #5801 "Openshift Container Platform Upgrade from OCP 3 to OCP 4"
#### Dates
Available Dec 02, Final migration date for vacating platform and moving **Feb 26, 2021**, OCP 4.5 to 4.6 update in Jan 2021

#### What to move:
1. Application
2. Data
3. DNS (vanity and internal only),
4. Customers (remind of an outage when moving data)

#### Time for moving: 2-5 days. Start planning now, raise any requests required early.

- Domain name system – dropping the pathfinder

[2020-12-04 22:37] mstanton1 commented on #5591
@Sienna-Blumstengel @lmcclung

Entities has logic so on your side if somebody has set payment to credit card, when they click file and pay entities redirects to our app to complete payment. For Online banking again, when user clicks file and pay they are directed to our app to either proceed with online banking or select credit card. For BCOL and PAD a client does not need to be redirected.

Curre

[2020-12-04 22:55] mstanton1 opened #5802 "Filings, Create, Edit UIs: Use Relationships Error Codes for pay API errors"
This is the Filings UI work for this feature. See also #6109.

## Who will do this work
Entities team

## Background
Initially credit card error messages were built on the entities side (e.g. PayBC is not available). With BCOL drawdowns there were more error scenarios so as part of the API response we will send different error codes based upon the condition to the caller. This ticket is created to

[2020-12-04 23:00] tlebedovich commented on #5549
@lekshmimallika-aot - Here is the UX Assurance feedback - lets review over a quick call.

https://invis.io/VXZMJ1OFNU3#/439540055_Assume_Name_UX_Feedback

[2020-12-04 23:01] amit4610 commented on #4870
@sumesh-aot Is the 'payment status' same even if payment methods are different? For ex. Payment status can be success, if payment is received in full by EFT or Online banking.

[2020-12-04 23:02] tlebedovich commented on #5318
@forgeuxGH5 - was this ticket something you were going to comment on?

[2020-12-04 23:03] tlebedovich commented on #5578
I think this is ready to go to QA now @vysakh-menon-aot

[2020-12-04 23:04] tlebedovich commented on #5570
Ready to move to QA @vysakh-menon-aot

[2020-12-04 23:05] tlebedovich commented on #5568
Ready to go to QA @vysakh-menon-aot

[2020-12-04 23:06] tlebedovich commented on #5542
waiting for last updates to go to dev.

[2020-12-04 23:19] cameron-freshworks commented on #5542
Is there anything pending beyond a different approach to the tooltip?

[2020-12-04 23:45] mstanton1 commented on #5720
A draft communication has been uploaded to SP:
https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3514

This has been emailed to Trish, Amit and Loren for review.

[2020-12-04 23:45] tlebedovich commented on #5542
i see you updated the other items, so i think thats it!

[2020-12-04 23:56] cameron-freshworks commented on #5542
Ok cool, maybe in my current ticket we can explore an option for that tooltip. I think i found a way to make it clickable..

[2020-12-04 23:58] tlebedovich commented on #5542
sure, if you wanna add that to your current ticket, you can move this to QA, thanks!

[2020-12-05 00:00] cameron-freshworks commented on #5542
100% will do 👍

[2020-12-05 00:22] mstanton1 commented on #5495
Video approved and sent for account set up for mobile card / BCSC users.

Changes to BCeID & 2 FA video are being addressed with Loren.

[2020-12-05 00:41] severinbeauvais opened #5803 "Error response after clicking Cancel and Refund button"
**Describe the bug in current situation**
1. I clicked the "Cancel and Refund" button for a NR.
2. I got an error dialog containing "SBCPaymentException('SBC Pay API exception.\r\n\r\nExpecting value: line 1 column 1 (char 0)',)".
3. The dev tools network tab showed a 500 response.
4. After refreshing, it looks like the NR state is correct:

![Clipboard - December 4, 2020 4_38 PM.png](https://imag

[2020-12-05 00:42] severinbeauvais commented on #5803
@jdyck-fw @Kaineatthelab FYI. I made this a P1 as this is a MVP feature. Let's discuss at standup on Monday.

[2020-12-05 00:53] Kaineatthelab commented on #5803
Sounds good, I am hoping that this is because there is a bug on the payment side which sumesh said they are working on.

@sumesh is that right?

[2020-12-05 00:57] severinbeauvais commented on #5747
I think this ticket is for the first slide in the InVision.

[2020-12-05 21:13] lmcclung opened #5804 "Name Request UI - Validation Error on BC incorporation number"
**Describe the bug in current situation**
When requesting a name for a  name change/restore/amalgamate/alter a BC  Limited/BEN/CCC/ULC/ the user is prompted to enter the existing incorporation number in the submission details.

*UPDATE:*
- [x] For BC Prefixed corp numbers only, we will strip the prefix to allow validation on BC corp nums with or without the prefix.

* ie both `1234567` and `BC1234

[2020-12-06 04:08] riyazuddinsyed opened #5805 "Verify: Log In functionality does not work for name request"
**Describe the bug in current situation**
When a user clicks on 'https://test.bcregistry.ca/namerequest', it gets redirected right away to the namex page without login.
If the user logs In even though the login button appears on the header saying to LogIn.

**Impact of this bug**
All user trying to use the app

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/namerequest'
2. C

[2020-12-06 06:14] riyazuddinsyed opened #5806 "Unable to go to Name Request site from Create Account."
**Describe the bug in current situation**
When a user clicks on create a BC Registries Account then the redirection of the pages are stuck at a point in a loop and when the user clicks  on Request Name button no re-direction happens.

**Impact of this bug**
All the users trying to Create an Account.

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/namerequest/'
2. Click on 'C

[2020-12-06 06:28] riyazuddinsyed opened #5807 "Priority Fees shows NO in the Summary even if its selected Yes."
**Describe the bug in current situation**
When a user clicks on Priority Fees and proceeds to payment, then the payment calculator shows the fees of 131$, and in case if the payment fails then the user is returned back to the summary page where the priority fees say No which is not the case.

**Impact of this bug**
All users whose Priority Fees are marked.

**Steps to Reproduce**
Steps to reproduc

[2020-12-07 15:58] jeznorth opened #5808 "See Payment in Transactions List"
**USER STORY**
* As an account administrator (client)
* I want to see the details of an EFT payment I have made
* so that I have a clear record of the payment that was applied to my account

---

**ACCEPTANCE CRITERIA**

* GIVEN funds have been added to an account,
* WHEN the account administrator logs in and accesses their transactions
* THEN the user should see EFT / Funds record in the transact

[2020-12-07 16:25] jeznorth commented on #5792
Prototype development pushed to branch entity5671.

[2020-12-07 17:01] tlebedovich commented on #5401
Hi @cameron-freshworks - MRAs is looking great to me from a visual design point of view - I had two feedback items, one being a functional "bug" that needs fixing. Here is the feedback doc for you;

Feedback Doc: https://docs.google.com/document/d/1jqT_ltIoxPuFxJTFag9X2vwf2UcgV2t0qmZ1haitLpY/edit?usp=sharing

@forgeuxGH5 @janisrogers - please add any additional notes to the Google Doc today if pos

[2020-12-07 17:12] severinbeauvais commented on #5781
This ticket has been implemented, code-reviewed, and deployed to Dev.

@tlebedovich Please review change for UX. If you require any changes, let's discuss first and then maybe create a new "bug" ticket. Thx!

[2020-12-07 17:12] tlebedovich commented on #5663
@cameron-freshworks @janisrogers - I saw this outdated result today when searching Expro/Quebec Corp #1172490972 - Janis can you please let Cameron know what the results screen messaging should be?

![Screen Shot 2020-12-07 at 8.57.50 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/39330f8b-cd59-47de-b0d4-cee7709f30df)

[2020-12-07 17:14] #5554 closed

[2020-12-07 17:14] tlebedovich commented on #5663
Also @janisrogers - if Cameron is finished adding in all the new search results, are you able to go through the examples in your Google Doc/Invision comps to confirm the other results we know of are showing as they should please. Then this moves onto QA.

[2020-12-07 17:29] tlebedovich commented on #5746
@vysakh-menon-aot @severinbeauvais It would be great to be able to test to make sure all buttons are showing up according Sienna's spreadsheet by testing each type of NR request. Will this be happening in QA? For example, I just looked up an In Progress number and I believe it was supposed to show a receipt button but did not. Just wanted to make sure this is all being confirmed before launch.

[2020-12-07 17:33] tlebedovich commented on #5781
yes, will review after stand up thank you!

[2020-12-07 17:43] tlebedovich commented on #5474
@cameron-freshworks @janisrogers - I saw this outdated result today (in DEV) when searching Expro/Quebec Corp #1172490972 - Janis can you please let Cameron know what the results screen messaging should be or ok to go live as is?

![Screen Shot 2020-12-07 at 8.57.50 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/a359bd03-324c-4084-9c46-08994dacb7c0)

[2020-12-07 17:59] severinbeauvais commented on #5746
The developers working on this ticket _should_ be testing this themselves.

Also it would be great if this testing was a team effort.

@jdyck-fw Can you please this up at Standup (ie, how we are doing team testing)? Thx!

[2020-12-07 18:31] severinbeauvais commented on #5378
There are 2 other feature flags that prevent NameRequest from fully functioning in Prod:
1. namerequest &rarr; namerequest-ui-enabled need to be set to True
2. sbc-auth &rarr; link-to-new-name-request-app need to be set to True

[2020-12-07 18:34] severinbeauvais commented on #5378
@LJTrent @Kaineatthelab There are no flags for the namex project in Launch Darkly (Dev, Test, Prod), so I don't know which "flags need to be removed for full use in prod". Perhaps someone should check the namex (API) code to see if these flags are still in there.

[2020-12-07 18:57] LJTrent commented on #5421
@forgeuxGH5  The one thing I am not following on this example is that you cannot edit the name of an approved, rejected, cancelled name.  You can only edit the name of a DRAFT NR so not sure how this would ever happen?  Maybe I am missing the point.  ??  Maybe you can clarify for me.

[2020-12-07 19:01] janisrogers opened #5809 "Continue In should not ask for name in home jurisdiction"
Submitting a move(continue) into BC name should not request the name in the home jurisdiction. It should not follow the extrapro flow and should not show the assumed name screens.

Continue in needs to be treated like a new BC Corporation. We need to do the same analysis as a new BC Corp and present all of the same screens.

[2020-12-07 19:04] tlebedovich opened #5810 "Update Search Results Screen for conflict with queue"
When an extraprovincial name conflicts with a name in review, it should show the same 3 results as it would when it conflicts with a registered name. Right now it is only showing one result.

[2020-12-07 19:07] tlebedovich opened #5811 "Update Search Results screen for LIMONADE.CA"
@cameron-freshworks @janisrogers - I saw this outdated result today (in DEV) when searching Expro/Quebec Corp #1172490972
Conversation was to possibly use the generic "Further Action Required" screen (the one used when you can't auto-analyze names)

![Screen Shot 2020-12-07 at 8.57.50 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/a359bd03-324c-4084-9c46-08994dacb7c0)

[2020-12-07 19:08] forgeuxGH5 commented on #5421
The bug happens during the search / auto analysis of the name. I'm just showing the results as evidence that it's possible to get the same name by "hacking" the search / analysis.
To create this result you need to edit the name during the analysis.

[2020-12-07 19:13] severinbeauvais commented on #5803
I asked Sumesh about this. He responded:

The work-around can be implemented against this ticket or another ticket. Either way please update THIS ticket with the status of this fix.

I will leave this as a P1 until the work-around is implemented.

@bcdevlucas FYI, and do you have any updates?

[2020-12-07 19:13] lmullane commented on #5640
Here's the design: https://preview.uxpin.com/7943b481e252f700ef635c8f9a60fc76107cdba3#/pages/134585634/simulate/sitemap

[2020-12-07 19:15] lmullane commented on #4855
@nitheesh-aot, one content change to the email template for Scenario 1.

Please change this content:

The following account has been suspended due to non-sufficient funds (NSF).

To this:

The following account has been suspended due to a failed payment.

[2020-12-07 19:21] janisrogers commented on #5810
**This is what it currently shows**

![image](https://user-images.githubusercontent.com/55597599/101394943-19834480-387e-11eb-9ffc-475c3221c9af.png)

**This is what it should show**

![image](https://user-images.githubusercontent.com/55597599/101395132-5f400d00-387e-11eb-96d9-de02c44a1d10.png)

[2020-12-07 19:31] Kaineatthelab opened #5812 "Verify - Highlighted Name Wrong and Consent for Show stopper name"
The highlighted name is the wrong one @areyeslo

@janisrogers @forgeuxGH5 @tlebedovich consent probably shouldn't show in certain chow stoppers, like swear words or other ones that consent won't help?

[2020-12-07 19:31] Kaineatthelab commented on #5812
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/006801b6-d3c9-4321-99e3-344c58a4a533)

[2020-12-07 19:36] tlebedovich commented on #5781
@severinbeauvais

Looking great - couple tiny things for UX Assurance Feedback from me:

- Just noticed that the tool tips have the default vuetify scaling up/down transition. Please follow Cameron's tool tips styling that removed the scaling animation (sorry - this goes for all the tool tips on the Summary Screen)
- Tool tips here are using the ? cursor, but Cameron's are using the pointer. Proba

[2020-12-07 19:51] areyeslo commented on #5527
@scottrumsby  can you please inform when the changes in Front End would be ready?

Thanks

[2020-12-07 19:51] jdyck-fw commented on #5331
How are things looking on this one @bcdevlucas ? Is there another ticket in place to track the dependency of this one being blocked by the work you highlighted in my above comment?

[2020-12-07 19:55] severinbeauvais commented on #5746
Here's a cancelled NR (in Test, NR 3444516, phone 2503568724):

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/f46120ca-4163-4f3a-bf9d-caf65562fcbe)

According to the spreadsheet, it should display only the Receipts button (if there is a receipt -- in this case the NR did not have a receipt when it was approved)... so this is OK, but we need another test for a cancelled

[2020-12-07 20:02] sumesh-aot commented on #4734
Moving to Done, as this task cannot be tested.

[2020-12-07 20:03] LJTrent commented on #5645
The name table in oracle is not being updated properly with the new names added. This is not working in test.

[2020-12-07 20:30] areyeslo opened #5813 "Remove check_word_limit function"
The _check_word_limit_ function controls the length in the name provided by the user. Currently, this value is parametrized in the variable MAX_LIMIT to handle the number of words contained in the name, MAX_LIMIT =4 restricts to names with no longer than 4 words in the name without considering designations. Removing _check_word_limit_ function from the system will cause longer waiting times when s

[2020-12-07 20:38] severinbeauvais commented on #5756
@tlebedovich This modal is now implemented in Dev. Please have a look and move this ticket to QA if it looks good. Thanks!

[2020-12-07 20:46] severinbeauvais commented on #5781
@tlebedovich OK, the tooltip changes have been made and deployed to Dev. Please have a look and, if OK, move this ticket to QA. Thx!

[2020-12-07 21:02] LJTrent commented on #5813
This change will impact not only the performance but may also have an impact on how auto-analyze makes decisions. The current logic only accounts for 4 true words to be auto-analyzed for conflicts.  Removing the limit may cause unpredictable outcomes and should only be entertained once auto-analyze is operating at a stable, consistent acceptable accuracy rate.  What is the acceptable accuracy rate

[2020-12-07 21:08] LJTrent commented on #5665
THIS IS A TIMEOUT ISSUE AND NOT A NEW BUG.

[2020-12-07 21:36] tlebedovich commented on #5812
I'll defer to @janisrogers and @forgeuxGH5

[2020-12-07 21:40] tlebedovich commented on #5746
@severinbeauvais @vysakh-menon-aot  Should it say "XPRO" Limited Company? That feels like an internal label, not a client-facing label - can someone review the company labels that are going to show up beside the NR number? (I wouldn't be the right person, but just wanted to note the issue). Let me know if you want this as a new ticket. c/c @janisrogers @forgeuxGH5

[2020-12-07 21:50] #5665 closed

[2020-12-07 21:51] tlebedovich commented on #5756
I don't have a text NR to be able to see the Cancel modal :(

@severinbeauvais  I just tried to test an NR in Dev to be able to see one of the new Cancel modals and I thought is was safe to also hit a "Cancel and Refund" button and I didn't get a modal, it just cancelled the NR and flashed an old odd message screen. So I just accidentally cancelled this NR -- NR 1666961 john.a.m.lane@gov.bc.ca. I'

[2020-12-07 21:55] forgeuxGH5 commented on #5746
It should display Extraprovincial Limited Company - we definitely need to do as Tracey suggests - check the values we're getting for these.

[2020-12-07 22:03] #5372 closed

[2020-12-07 22:04] janisrogers opened #5814 "Verify - Analysis for extrapro shouldn't happen"
For extrapro, they cannot change their name, so we should only search for conflicts, or tell them it will have to be sent for review. They should never see a screen like this:

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/b25a0947-efd5-4108-8da8-8181e0b9c1f8)

[2020-12-07 22:10] tlebedovich commented on #5781
tool tips look good thanks... moving to QA, but we will still need to see that Expro Pro gray box when the test NRs are ready.

[2020-12-07 22:25] severinbeauvais commented on #5746
Rejected (with receipts) and also XPRO... looks good!

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/c1128de7-7bdb-4cae-82ca-1b0a7b9a840a)

[2020-12-07 22:58] severinbeauvais commented on #5746
OK. I will create a new ticket.

[2020-12-07 23:00] severinbeauvais commented on #5746
@forgeuxGH5 ^^^ actually, the list of displayed entity types was approved by Linda. Do you still want it changed? And any others from this list...?

[code]

[2020-12-07 23:01] tlebedovich commented on #5746
Maybe it's a space issue @forgeuxGH5?

[2020-12-07 23:02] severinbeauvais opened #5815 "Name Request UI: update entity type labels"
Update the entity type labels (table to follow).

Change XPRO to Extraprovincial

Example: this should not display "XPRO"

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/f46120ca-4163-4f3a-bf9d-caf65562fcbe)

[2020-12-07 23:03] severinbeauvais commented on #5746
(There's lots of space on that line.)

[2020-12-07 23:04] severinbeauvais commented on #5746
New ticket for possible changes:
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/5815

(Needs changes identified and approved by PO.)

[2020-12-07 23:11] severinbeauvais opened #5816 "Name Request UI: remove Completed state, update Consumed and Expired"
- [x] do not handle COMPLETED state; this is not a valid state
- [x] infer "Approved / Used For XXX" (ie, consumed) as follows:
[code]
- [x] infer "Expired" as follows:
[code]
- [x] removed display of COND_RESERVED interim state that the UI will never see
- [x] removed display of RESERVED interim state that the UI will never see
- [x] change display text of CONDITIONAL state to "Conditional Approv

[2020-12-07 23:12] Kaineatthelab commented on #5746
I added it as a P2, not important right now:)

[2020-12-07 23:13] LJTrent commented on #5696
Cant test it in dev or test.  entity request actions are broken.

[2020-12-07 23:16] severinbeauvais commented on #5756
OK, the "missing modal" issue was resolved after Tracey refreshed her browser tab. (Ie, cached code)

@tlebedovich Both "Cancel Name Request" and "Cancel and Refund" modals are implemented. You just have to find a NR in the right state -- please request this in RocketChat discussion with Sienna and Janis. Thx.

[2020-12-07 23:16] LJTrent commented on #5696
COLIN-API does not look at state.  It only validates the corp_num entered and returns all data.  I spoke to Cameron way back and he indicated that it would be helpful to have the corp_num for both restorations and reinstatements.  I dont think we should remove it and if they dont have it they can select the checkbox that trhey dont have the corp_num.

[2020-12-07 23:22] Kaineatthelab commented on #5696
@LJTrent that would be ideal so it works as it is for now?

[2020-12-07 23:23] riyazuddinsyed opened #5817 "No error shows up or the redirection to a different page does not happen."
**Describe the bug in current situation**
When the user chooses an option to Move into BC and select Canadian Company in the country field and choose either a limited company or an association , then clicking on the search trigger no API call or the config file doesn't have any redirection and neither an error message shows up.

**Impact of this bug**
All users wanting to file a move into BC compa

[2020-12-07 23:46] LJTrent commented on #5561
@rarmitag This was working previously in both dev and test so I suspect it has to do with keycloak.  Have you had a chance to look at this?

[2020-12-07 23:46] Sienna-Blumstengel opened #5818 "Fixes to "Names longer than 3 words..." auto-analyze result"
**Describe the bug in current situation**
The auto-analyze result:

Please check wait times at the top of the screen.
Needs some flow/UX changes

1. We need to change the language for when the "Names longer than 3 words..." error is shown (both BC and XPRO)
  - CURRENT:  [Screen Shot 2020-12-08 at 3.49.44 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/e64dc12f-ab95-461e-8547

[2020-12-08 00:03] Sienna-Blumstengel opened #5819 "auto-analyze not recognizing this destinctive"
**Describe the bug in current situation**
When I add 4 destinctives to a name, it doesn't recognize **any** of them as destinctives, and tells me to add a destictive.

**Impact of this bug**
Long names will be auto-analyzed incorrectly, resulting in confused citizens and staff.

**Chance of Occurring (high/medium/low/very low)**
Medium? How often do long names get searched

**Steps to Reproduce**

[2020-12-08 00:08] areyeslo commented on #5813
As discussed, the implementation of this ticket would jeopardize the current system behavior.

[2020-12-08 00:08] #5813 closed

[2020-12-08 00:17] areyeslo opened #5820 "Get original configuration of check_name_is_well_formed"
The function check_name_is_well_formed calls to search conflicts when the system does not find the pattern distinctive-descriptive. Then, it should generate all possible combinations considering distinctive and descriptive. For instance, if we would have the name "BABY DOG CAFE`, the system would classify them all descriptive tokens. Then, the system would send to search conflicts the following:
d

[2020-12-08 16:25] janisrogers opened #5821 "Verify - Restore showing wrong screen"
When I choose to restore a BC Company I get the following:

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/d20c9c40-4459-4f82-b408-dde3c0d0432b)

This should get the standard "cannot be autoanalysed" screen.

[2020-12-08 16:39] tlebedovich opened #5822 "Summary Screen - Conditions Modal"
- Increase size of the "Conditions" link on the Summary Screen to 16px instead of 14px

- Update design & text wording format for Conditions modal which appears on the Summary Detail page.
- Messages that appear will be pulled in for any conditions the Approved/Conditionally Approved name has
- Use the new Name Request modal template (ask Severin)

**Design Layouts:**
https://invis.io/SWZNTME3YZR#

[2020-12-08 16:50] Sienna-Blumstengel opened #5823 "CP0000852, 1077 Holdings Co-operative - Failed BCOL payment"
#### ServiceNow incident:
INC0068380

#### Contact information
**Staff Name:** Julie Harding
**Staff Email:** Julie.Harding@gov.bc.ca

#### Description

**Email from Julie, Dec 7th 1:29 PM**

@amit4610  will follow up with Julie to investigate.
Unsure if this is relationships or entities work yet

#### Tasks
- [x] When ticket has been created, Steven to post the ticket in RocketChat '#Operations T

[2020-12-08 16:55] Kaineatthelab commented on #5000
Change the sort order and update status.  Code change and testing 2 day.

Yes that was is.  The code change has been done.  Now just need to find some time to update the status and test.

[2020-12-08 17:02] amit4610 commented on #5823
Can we check the DB to see why the payment failed for this client on Dec 02 when she was paying with a linked BCOL account? @pwei1018

[2020-12-08 17:12] sumesh-aot opened #5824 "Direct Pay payments not populating payment account id in payment table"
**Describe the bug in current situation**
Direct Pay payments not populating payment account id in payment table.

**Link bug to the User Story**

**Impact of this bug**
Reports won't sync up with transactions.

**Chance of Occurring (high/medium/low/very low)**
High

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**

**Steps to Reproduce**
Steps to reproduce the b

[2020-12-08 17:20] Kaineatthelab commented on #5814
@areyeslo can you look at this one

[2020-12-08 17:24] Kaineatthelab commented on #5810
similiar issue with 5811

[2020-12-08 17:38] mstanton1 opened #5825 "Prepare document for refund methods"
## Description: Document refund method for each payment method for meeting with Lisa Nichols.

Acceptance for a Task:
- [ ] Requires deployments
- [ ] Add/ maintain selectors for QA purposes
- [ ] Test coverage acceptable
- [ ] Linters passed
- [ ] Peer Reviewed
- [ ] PR Accepted
- [ ] Production burn in completed

[2020-12-08 18:11] Sienna-Blumstengel opened #5826 "Relationships work to enable premium payment types on Name Request app"
blocking 5331

Need help from @sumesh-aot
@vysakh-menon / @vysakh-menon-aot has 5331, and has some additional context on what is needed

[2020-12-08 18:13] Milan-Freshworks commented on #4831
It has been tested and verified.

[2020-12-08 18:17] tlebedovich opened #5827 "NR UI - Titles in Edit Flow are being cut off"
- [x] Raise up the "Applicant Details" titles to align with the "Return" link for all Edit flow screens. Examples below:

![Screen Shot 2020-12-08 at 10.16.38 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/f4b700a5-985b-47cb-abed-e31db86b8ec3)

![Screen Shot 2020-12-08 at 10.15.16 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/003d789f-156d-4f9b-8dba-d

[2020-12-08 18:31] janisrogers opened #5828 "Log in not working in Name Request"
When I select "Log In" and then select any option (BC Services Card, BCeID, or IDIR)  from the Name Request application, it just returns me to the main screen.

If I am partly through the application, my information is deleted when I am returned to the main screen.
I cleared my cache, and have tried in Chrome and in Firefox. This occurs in both TEST and DEV

[2020-12-08 18:55] amit4610 commented on #5673
Hi @pwei1018 Please clean up the test data except that mentioned in the ticket, by Milan and Sienna in her sheet.

[2020-12-08 19:02] Milan-Freshworks commented on #5788
It has been tested and verified for BCSC, BCeID, Staff and Director Search Account

[2020-12-08 19:17] tlebedovich commented on #5549
@lekshmimallika-aot - I noticed that whenever there are "uneditable" names on the Submit Name Request for Examination, the text is still showing up as very light gray. This doesn't meet AA accessibility standards, so we had spec'd it the be #212529

Are you able to update this text correct for the "Submit Name Request for Examination" screens you worked on in this ticket?

![Screen Shot 2020-12-08

[2020-12-08 19:19] tlebedovich commented on #5549
@lekshmimallika-aot - I noticed that whenever there are "uneditable" names on the Submit Name Request for Examination, the text is still showing up as very light gray. This doesn't meet AA accessibility standards, so we had spec'd it the be #212529

Are you able to update this text correct for the "Submit Name Request for Examination" screens you worked on in this ticket?

![image.png](https://ima

[2020-12-08 19:21] janisrogers opened #5829 "Remove validation on incorporation number field in submission screen for MVP"
The incorporation number field will remain on the submission details screen (contact Info) for Change of Name of a BC business, but needs to allow the user to continue even if validation fails. The easiest way to do this for MVP is to remove the validation and leave this as an open text field.

Post MVP we will look at ways for validation to gracefully fail.

[2020-12-08 19:24] cameron-freshworks commented on #5549
@lekshmimallika-aot
In my current ticket i override this default Vuetify font-colour change within this `name-input` field, so even when this field is disabled it will still appear as #212529.  So no action required, should be in for the next commit 👍

[2020-12-08 19:51] tlebedovich commented on #5782
@janisrogers @forgeuxGH5 - For Applicant info I think we wanted to change "Start typing an address..." label to just "Street Address" and did we want to keep the "Additional Street Address" always there?

[2020-12-08 19:52] scottrumsby commented on #5470
This has all been updated and changed in subsequent designs/PR.  closing.

[2020-12-08 19:52] #5470 closed

[2020-12-08 19:53] Kaineatthelab opened #5830 "MRAS Update"

[2020-12-08 19:55] severinbeauvais commented on #5512
As of today, I'm not sure there are any coding changes required. Can this ticket be closed?

[2020-12-08 20:00] scottrumsby commented on #5527
The front-end changes needed for this ticket are now completed and merged

[2020-12-08 20:06] areyeslo commented on #5527
@scottrumsby  PR in Front End was issued and merged in master:
https://github.com/bcgov/namerequest/pull/192

The requirement states the following:
- The following entity types need to move from protected name to xpro analysis: EntityTypes.SOLE_PROPRIETORSHIP.value, EntityTypes.DOING_BUSINESS_AS.value, EntityTypes.GENERAL_PARTNERSHIP.value, EntityTypes.LIMITED_PARTNERSHIP.value, EntityTypes.LIMITE

[2020-12-08 20:10] Milan-Freshworks commented on #4882
It has been tested and verfied

[2020-12-08 20:19] severinbeauvais opened #5831 "NR UI: approved NR temporarily shows as expired"
A NR that was just approved shows up as Expired in the NR UI (because an expiry date has not yet been set).

As soon as processing completes, the NR is assigned an actual expiry date and then displays as Approved (correctly).

This is a small tweak to the Existing Name Display page logic.

[2020-12-08 20:28] mstanton1 commented on #5720
Feedback from Trish has been reflected in the draft communication. Updates have been made and recirculated:
https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3519

[2020-12-08 20:29] Milan-Freshworks commented on #5667
@saravanpa-aot @nitheesh-aot  The account number is missing on the Make Payment screen
![Screen Shot 2020-12-08 at 12.02.27 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/dbe9f588-6103-47d2-a90a-6607b6ecc4eb)

[2020-12-08 20:31] tlebedovich commented on #5549
UX Assurance items to note:

1) The Continue buttons should stay blue, and if you click it, it should show validation for any mandatory fields. That's the way we are doing it for the other screens now.

2) I'm still seeing these white overlay labels with weird text in them:

![Screen Shot 2020-12-08 at 12.28.45 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/011f760f-e1ad-43c

[2020-12-08 20:33] severinbeauvais commented on #5746
**BUGS**

_(Bugs will be added to this list as they are found. Fixed bugs can be checked off.)_

- [ ] a cancelled NR with receipts fails to display the RECEIPT action (see NR 8748717 / severin.beauvais@gmail.com)
- [ ] an expired NR incorrectly displays the REAPPLY action (see NR 8075449 / severin.beauvais@gmail.com)

[2020-12-08 20:40] tlebedovich commented on #5512
yes - this is an outdated ticket now

[2020-12-08 20:56] janisrogers opened #5832 "Verify - Edit screen bringing up wrong name type"
Add request action AS-"Assume an" to the existing nr - edit. DO NOT show Assume an on the new NR screen.

In DEV I got a name for an extrapro restoration.

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/ceea4301-77d4-4e91-ac75-bdda2cbf97e9)

When I go to edit the name from the summary screen, the wrong location is indicated

![image.png](https://images.zenhubusercontent

[2020-12-08 20:59] severinbeauvais commented on #5803
@vysakh-menon-aot I'm not sure if this is related, but Sienna saw another error when clicking Cancel and Refund in Dev:
[code]

Ask her if you need more info. If this is a new, unrelated bug, then please create a new BE bug ticket.

[2020-12-08 21:00] #4734 closed

[2020-12-08 21:00] #4831 closed

[2020-12-08 21:00] #4882 closed

[2020-12-08 21:06] #5702 closed

[2020-12-08 21:06] #5784 closed

[2020-12-08 21:06] #5785 closed

[2020-12-08 21:10] #5671 closed

[2020-12-08 21:15] amit4610 commented on #5823
The issue was due to a feature flag that directed the client to use CC instead of their BCOL account.
It is fixed now, the client should be able to file the next time with their BCOL account.

Emailed Julie Harding on 08-Dec-2020

[2020-12-08 21:15] areyeslo commented on #5819
When you search for a name, the application runs some checks in order and if fails do not continue with the next. The first check is words to avoid, then well formed name, after check word limit. However, because the name is not considered well formed, it stops the following checks and returns. The application does not get the check for word limit
The order of the checks is important
If we change

[2020-12-08 21:30] severinbeauvais opened #5833 "NR results email needs updated link"
The "Name Request Results from Corporate Registry" email has a link to the old BC Registry Names URL:

`Thank you for using Name Requests Online. To submit another Name Request, visit www.bcregistrynames.gov.bc.ca.`

This needs to be updated to the new BC Registry Names URL : https://www.bcregistry.ca/namerequest/

[2020-12-08 21:31] riyazuddinsyed opened #5834 "Search button does not work when the user selects Move into BC."
**Describe the bug in current situation**
When a user clicks Movie into a BC company and then enters a company name in another jurisdiction then clicking on the search does not redirect to a different page.

**Impact of this bug**
All users trying to file a company to Move into BC

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/namerequest/'
2. Click o

[2020-12-08 21:35] vysakh-menon-aot commented on #5803
I found this issue and fixing it.

[2020-12-08 21:39] Milan-Freshworks commented on #4772
@nitheesh-aot @jeznorth The sentence here doe not match the content shared by @lmullane
![Screen Shot 2020-12-08 at 1.32.11 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/6382c657-ceb9-427b-bde5-012319c0b481)

[2020-12-08 21:40] lmcclung commented on #5829
Closing as duplicate of 5804.

[2020-12-08 21:41] #5829 closed

[2020-12-08 21:46] jdyck-fw commented on #5805
Riyaz will verify this bug and we will revisit at standup.

[2020-12-08 21:46] riyazuddinsyed commented on #5827
@tlebedovich Can you please specify the browser and the url beign used along with the enviornmet?

[2020-12-08 21:47] Sienna-Blumstengel opened #5835 ""Edit" name request is not working for conditional NR"
**Describe the bug in current situation**

Conditional NR "EDIT" button has broken functionality. Error displays, and redirects user back to review NR page

**Impact of this bug**
High, conditional approval NRs will not be able to edit.

**Chance of Occurring (high/medium/low/very low)**
Medium - i don't think conditional NRs happen as much as plain approved. Also, don't know how often that edit f

[2020-12-08 21:51] #5819 closed

[2020-12-08 21:51] jdyck-fw commented on #5819
"Working as intended" - kaine

[2020-12-08 21:51] janisrogers commented on #5812
@Kaineatthelab
This is a bug, Gaming is a word that requires consent, but this is the wrong consent text. For **restricted words that may require consent**, the 3rd option should say "This name may be approved if you are able to get written consent from the appropriate authority" not from the "registered owner of the conflicting name". See **item 9** in https://projects.invisionapp.com/share/BPZFH

[2020-12-08 21:52] tlebedovich commented on #5827
Google Chrome on mac. Dev site. I’d check with @severinbeauvais as he worked on some global margins which may have effected these pages.

[2020-12-08 21:54] Kaineatthelab commented on #5818
@lekshmimallika-aot can you look at this one next

[2020-12-08 21:57] riyazuddinsyed commented on #5814
@riyazuddinsyed verify

[2020-12-08 21:57] Kaineatthelab commented on #5812
@areyeslo @scottrumsby can you look at this pls and action

[2020-12-08 22:00] riyazuddinsyed commented on #5811
@cameron-freshworks Can you please verify if you are working on this?

[2020-12-08 22:02] severinbeauvais commented on #5827
@tlebedovich I'm unable to reproduce this. Can you provide steps please?

[2020-12-08 22:03] sumesh-aot opened #5836 "Calculate and save payments against account from settlement file"
## Description:
Calculate and save payments against from settlement file
- For PAD payments : it's always one-to-one (One payment for one invoice). This payment is saved correctly now
- For Online Banking payments : There could be multiple payments per invoice and/or once payment per multiple invoices. Settlement file doesn't send what was the total amount the user transferred. It only gives line

[2020-12-08 22:06] mstanton1 commented on #2125
![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/d5115c44-49bd-4a13-8abd-04f2c61c6f02)

- [ ] @saravanpa-aot to ensure devs add estimate for unit tests into story estimate during grooming.
- [ ] @mstanton1 to ensure all necessary documents are attached to ticket in pre-grooming. Confirm in grooming if anything is missing.
- [ ] @lmullane to consider methods to make docume

[2020-12-08 22:11] #5623 closed

[2020-12-08 22:11] #5823 closed

[2020-12-08 22:22] #5786 closed

[2020-12-08 22:22] jdyck-fw commented on #5786
Closing as this countdown is no longer there, as Sev just verified.

[2020-12-08 22:24] cameron-freshworks commented on #5811
I wasn't sorry, if this scenario is a new requirement of ticket #5800 we should add this specific scenario to that ticket.
That being said, this is a result from an actual analysis and these messages are being returned from the back end.

[2020-12-08 22:35] scottrumsby commented on #5158
no longer needed-closing

[2020-12-08 22:35] #5158 closed

[2020-12-08 22:36] scottrumsby commented on #5527
so the front-end was all good. right?  i don't need to change anything?

[2020-12-08 22:37] Milan-Freshworks commented on #4772
The links in PAD TOS are not working and I am directed to Page not found.
![Screen Shot 2020-12-08 at 2.33.02 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/cfe2615a-e293-4a8d-bf1a-f1a195112d7f)![Screen Shot 2020-12-08 at 2.34.15 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/61a4c8cc-c840-48bb-9485-506e22af6f70)

[2020-12-08 22:45] #5833 closed

[2020-12-08 22:53] tlebedovich commented on #5827
@severinbeauvais @riyazuddinsyed steps to reproduce:

1. click Existing Name Tab from home page
2. look up NR 6247316 (sienna@freshworks.io)
3. See Summary results screen
4. Click Edit button on summary results screen
5. you'll see the screens shown above

[2020-12-08 22:54] forgeuxGH5 commented on #5549
A couple of more issues:

**Option checkboxes should always be displayed intiially**
I searched for an XPRO international, “TEST”, got a conflict, and selected assume a name. Started search over with a XPRO Canada, No corporate number, and the search result (conflict) did not display the checkmark for the assume a name option (it showed the button) -it should reset the conflict result and all opti

[2020-12-08 22:54] forgeuxGH5 commented on #5549
@tlebedovich those white boxes look like Google autofill

[2020-12-08 22:56] sumesh-aot commented on #5826
@Sienna-Blumstengel How name request interact with pay-api will be different than how entities work. For entities, we retrieve account information using the incorporation number (as affiliation is in auth-db). For Name Request, while calling any pay-api endpoints, it should pass Account-Id header, with the account user is part of. Also the call should pass user token [not service account token as

[2020-12-08 23:01] severinbeauvais commented on #5746
There was (old) code that skipped all buttons for NRs in cancelled status. There seems to be no reason to have this check so I removed it. Looks fine now.

[2020-12-08 23:05] severinbeauvais commented on #5746
This not longer reproduces.

[2020-12-08 23:10] Kaineatthelab commented on #5826
@sumesh-aot is this a big amount of work on your side?

[2020-12-08 23:15] Milan-Freshworks commented on #4890
Scenario 1 has been tested and awaiting a response from Jeremy on the wording part(https://preview.uxpin.com/96a87a101b8e22e72930f0380e00c500a300ce7d#/pages/133326580/simulate/sitemap in Scenario 3.

[2020-12-08 23:24] tlebedovich opened #5837 "Turn off Auto-Capitalization for People's Names & Addresses"
Severin mentioned that Auto Capitalization is set to all form fields right now. We don't want user's names or addresses etc in all caps.

The only exception is for the Corp Name's themselves (the company names being searched). These corp/company names should stay as all caps for now.

But for People's Names and Addresses and other related form fields, we should use the Canada Post values if the fo

[2020-12-08 23:26] Milan-Freshworks commented on #5667
It has been tested and verified

[2020-12-08 23:38] Kaineatthelab commented on #5818
@Sienna-Blumstengel @lmcclung @forgeuxGH5 @tlebedovich @janisrogers can someone support lekshmi with this ticket please. She will need a walk through of the behaviors.

[2020-12-08 23:42] sumesh-aot commented on #5014
Moving to done, as the UI is separate ticket

[2020-12-08 23:44] tlebedovich commented on #5827
@janisrogers noticed this is also happening in the Assumed Name Edit screens are well. Janis - can you mark down your steps to reproduce please:

![Screen Shot 2020-12-08 at 3.43.30 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/2e391a36-6412-4392-a050-874f1654d74a)

[2020-12-08 23:49] Milan-Freshworks commented on #4890
It has been decided in the channel to leave the text as-is for now. If this becomes a challenge for staff post-implementation
This is how it appears currently.
![Screen Shot 2020-12-08 at 12.37.57 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/6b22644c-ec4b-4a5f-b44a-f80605848165) we can revisit.

[2020-12-08 23:51] tlebedovich opened #5838 "Remove "Help Me Choose" button in Edit Screens"
All "Help Me Choose" buttons that get found should be removed for launch. Then the top title and the far right link should sit on the same line.

There is one in the Assumed Name edit flow screen that @janisrogers found:

![Screen Shot 2020-12-08 at 3.52.19 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/e6ca1ff4-80e3-408d-99ee-60e44c216b0a)

[2020-12-08 23:52] amit4610 commented on #5632
I have updated a couple of videos based on the feedback.

**Changes are:**
Manage Teams video: Included steps for invitee to join the account. Masked real emails.
Authentication for team members video: Included the snapshots of BCSC and BCeID invitation emails.

**Links to updated videos:**

1.	Notifications and edit profile: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdR

[2020-12-08 23:59] jdyck-fw commented on #5805
Duplicated by [5828](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/5828)

[2020-12-09 00:00] jdyck-fw commented on #5828
Closing this one as a duplicate of #[5805](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/5828)

[2020-12-09 00:00] #5828 closed

[2020-12-09 00:01] jdyck-fw commented on #5805
Shared by Janis in the linked duplicate:
"When I select "Log In" and then select any option (BC Services Card, BCeID, or IDIR) from the Name Request application, it just returns me to the main screen.

If I am partly through the application, my information is deleted when I am returned to the main screen.
I cleared my cache, and have tried in Chrome and in Firefox. This occurs in both TEST and DEV

[2020-12-09 00:05] janisrogers opened #5839 "LLC Assumed name flow has wrong designations"
LLC designations are LLC, L.L.C., Limited Liability Company, and Limited Liability Co. These need to be available as designations in the assumed names flow. Currently I am seeing the corporate designations.

[2020-12-09 00:09] severinbeauvais opened #5840 "manually setting expiry date can be off by 1 day"
### Description:
Manually setting an NR's expiration date can save an invalid date in the database. (This may only happen during Standard Time or it may also happen during Daylight Time.)

1. For example, today, Sienna updated NR 8075449 to expire today. To do this, she had to specify tomorrow's date."Tomorrow" was saved to the database as "2020-12-09 07:00:00+00".

2. On Sienna's screen, it was c

[2020-12-09 00:09] severinbeauvais commented on #5746
I created new bug #5840 for this one.

[2020-12-09 00:13] #4890 closed

[2020-12-09 00:13] #5014 closed

[2020-12-09 00:13] #5667 closed

[2020-12-09 00:17] janisrogers commented on #5827
**To reproduce. (in TEST)**

1. Select Restore or Reinstate an Extraprovincial Limited company.
2. Enter a company name that will conflict (I used ABC Plumbing Inc.).
3. Choose to assume a name.
4. Continue through payment.
5. On the summary screen, select 'Edit'

[2020-12-09 00:27] tlebedovich commented on #5781
@severinbeauvais - I noticed this wording change was missed along the way: "Consent Rec'd:" label should have been updated to "Consent Status:" as in the comps.

![Screen Shot 2020-12-08 at 4.24.10 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/c1d43e67-e68d-4dcc-9ad9-2bff2a0da2f1)

[2020-12-09 00:29] pwei1018 opened #5841 "Fix unit test cases on Payment Reconciliations and FTP Poller application"
## What is the problem?
* Test cases need to fix or reconfiguration. It got error during running.

## What is the impact?
* CI flow will fail.

## Proposed solution
*

[2020-12-09 00:53] severinbeauvais commented on #5781
OK, I'll fix this ^^ as part of #5827.

[2020-12-09 07:01] riyazuddinsyed opened #5842 "Country filed is not mandatory field for applicants addresses."
**Describe the bug in current situation**
When a user clicks on Xpro company and fills in the addresses then the Country and the Zip Code isnt a required filed enabling the users to enter the addresses without the country name.

**Impact of this bug**
All users filing an xpro Company

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/namerequest/'
2. Clic

[2020-12-09 07:13] riyazuddinsyed opened #5843 "Restore or Reinstate flow is stuck with an error message showing screen."
**Describe the bug in current situation**
When a user chooses to Restore or Reinstate a BC company then the screen asks to Enter a Name  and when the user does that , then he's redirected back to the page showing an error message and the user is stuck

**Impact of this bug**
All users trying to Restore or Reinstate a BC Company.

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.c

[2020-12-09 08:05] riyazuddinsyed opened #5844 "Continue payment button does not get enabled while restoring an Extra provincional Company after entering all the required fields."
**Describe the bug in current situation**
When a user clicks on Restore an extra-provincial company and follows along after sending the name for Review then at Submission Details even though the user enters all the required fields the Continue Payment does not show up.

**Impact of this bug**
All users entering the Submission Details for an Extra-Provincial Company.

Steps to reproduce the behavio

[2020-12-09 08:23] riyazuddinsyed opened #5845 "While filing Restore/Reinstate and if the user clicks no Corporate number then at the Submission Details it asks for the Incorporation Number."
**Describe the bug in current situation**

When a user clicks on Restore or Reinstate to BC and if he clicks on the checkbox saying I don't have a corporate number and enter a company name then at the submission details the Incorporation Number is the required field.

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/namerequest/'
2. Click on 'Restore or Reinstate' a BC Company

[2020-12-09 08:30] riyazuddinsyed opened #5846 "Clicking on Refresh on any page of the application pushes back to the start page."
**Describe the bug in current situation**
When a user clicks on the Refresh button on any page of the application then the user is pushed back to the home page and all the entered details to date is not saved

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/namerequest/'
2. File a new Name Request
3. Hit refresh
4. See error

[2020-12-09 15:49] lmcclung opened #5847 "Name Request - Upgrade to Priority not working for DRAFT NR"
**Describe the bug in current situation**
User should be able to upgrade to priority a Draft NR.

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Chance of Occurring (high/medium/low/very low)**

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**
Done in TEST environment

**Steps t

[2020-12-09 16:22] lmcclung opened #5848 "Cancel and Refund of Draft NR gives error"
**Describe the bug in current situation**
When I attempt to cancel draft NR 8019973 in test, I get the following error:

**Link bug to the User Story**

**Impact of this bug**
Cannot cancel NR or initiate refund - resulting in unhappy callers

**Chance of Occurring (high/medium/low/very low)**
High

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**

**Steps to Repr

[2020-12-09 16:46] lmullane opened #5849 "Fee schedule"
**User Story**
* As a BC Registries and Online Services client
* I want to know how much the products I purchase will cost
* so that I understand the fees I will be required to pay when I buy a product

---

**Acceptance Criteria**

**Scenario 1: User Clicks on Fee Schedule Link in Terms and Conditions**
* GIVEN a user is viewing the Terms and Conditions
* WHEN the user clicks on the 'Fee Schedule

[2020-12-09 16:50] lmullane commented on #5849
@sumesh, could you please list:

- all the products we currently provide in the system and the fees we charge for each
- which products are subject to the $1.50 service fee

@jeznorth, @rkim13103, once you have the information I will need a design ticket and a design of what the fees will be for the clients to review. This will be a separate view in the application.

This fee schedule will be refe

[2020-12-09 17:03] tlebedovich opened #5850 "Typo on "Submit Name for Examination" Screen"
There is an extra ' at the end of the sentence.

Tracey added note: The text on this regular (non-assumed) name submission flow screen was also actually supposed to be updated to say:

"You may provide up to two additional names which will be considered at no further cost, in the order provided, only if your first choice cannot be approved. Be sure to follow all guidelines for how to build a name.

[2020-12-09 17:06] Kaineatthelab opened #5851 "Address Auto Fill isn't autofilling country and province - Canada is missing"

[2020-12-09 17:07] jeznorth opened #5852 "Content Updates to EFT Instructions PDF"
Content updates to the EFT Instructions PDF

**Current Layout**
https://preview.uxpin.com/7943b481e252f700ef635c8f9a60fc76107cdba3#/pages/134594720

[2020-12-09 17:07] Milan-Freshworks opened #5853 "cfs_account table not populated properly"
**Describe the bug in current situation**
I was checking cfs_account table to see the account entry for a new linked premium account with PAD payment method. But there is no entry in there.

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Chance of Occurring (high/medium/low/very low)**
High

**Pre Conditions: wh

[2020-12-09 17:07] jeznorth opened #5854 "Content Updates to EFT Instructions PDF"
Content updates to the EFT Instructions PDF

**Current Layout**
https://preview.uxpin.com/7943b481e252f700ef635c8f9a60fc76107cdba3#/pages/134594720

[2020-12-09 17:09] Kaineatthelab opened #5855 "When I press cancel on the payment model I get pushed back to the main search screen"
Expected - It goes back to the search screen.

[2020-12-09 17:11] jeznorth opened #5856 "Content Updates for EFT Payment Instructions PDF"
Content updates to the EFT Instructions PDF

**Current Layout**
https://preview.uxpin.com/7943b481e252f700ef635c8f9a60fc76107cdba3#/pages/134594720

[2020-12-09 17:11] jeznorth opened #5857 "PAY-API - Content Updates for EFT Payment Instructions PDF"
Content updates to the EFT Instructions PDF

**Updated Design** -  Sept, 2023
https://www.figma.com/file/Ei9COqRKbob8viEUimckj0/EFT-Outputs?type=design&node-id=112-2884&mode=design&t=jKXC8s9DqakAoUQp-4

~**Updated Design**~
~https://preview.uxpin.com/7943b481e252f700ef635c8f9a60fc76107cdba3#/pages/134862254~
~https://preview.uxpin.com/7943b481e252f700ef635c8f9a60fc76107cdba3#/pages/134862396~

[2020-12-09 17:12] #5545 closed

[2020-12-09 17:13] #5856 closed

[2020-12-09 17:13] #5854 closed

[2020-12-09 17:13] #5852 closed

[2020-12-09 17:16] #5775 closed

[2020-12-09 17:18] tlebedovich opened #5858 "UX Issue - Submission Flow Screens - Continue buttons should be blue and trigger validations"
Currently there are mandatory fields in the 3 Submission Flow screens. But with the "Continue" button being grayed out and not triggering validations, the user has to guess which fields are required before they can continue. Grayed out deactivated buttons also does not meet AA so people with poor eyesight won't even be able to read the label on it. These updates should be made on all the versions

[2020-12-09 17:19] tlebedovich commented on #5858
@Kaineatthelab @forgeuxGH5 - I noticed this today while search for a BC Corp. It could trip users up on each screen not knowing what they need to fill in before they can continue. Have a look and set to P2 if you think it's not needed, but imo it is.

[2020-12-09 17:19] #5035 closed

[2020-12-09 17:19] jdyck-fw commented on #5035
Riyaz shared this is done already

[2020-12-09 17:25] lmcclung commented on #4981
@sumesh-aot has this been created and can we close this ticket?

[2020-12-09 17:25] jdyck-fw commented on #5735
@kialj876 pls include estimates and close this one.

[2020-12-09 17:26] severinbeauvais opened #5859 "NR UI: "find name request" errors are not well handled"
If I search for an existing NR and the API fails to respond (eg, timeout after 30s or other error), then the UI does not handle this error well.
- that there was an error (and any corrective action) is not identified to the user
- the dev console displays:
[code]
- the UI may display the following (which I believe is a BE error that the UI is echoing):
![image.png](https://images.zenhubusercontent

[2020-12-09 17:33] #5848 closed

[2020-12-09 17:36] severinbeauvais commented on #5746
@vysakh-menon-aot I just noticed this in this ticket's description

What is the status of this atm?

[2020-12-09 17:43] vysakh-menon-aot commented on #5746
Seems like different from spreadsheet. As of now its enabled

[2020-12-09 17:45] Kaineatthelab commented on #5746
@severinbeauvais isn't the logic already in? I didn't put that in there so not sure where it came from

[2020-12-09 17:48] jdyck-fw commented on #5690
revisit after go live

[2020-12-09 17:49] severinbeauvais commented on #5746
I don't remember the history of the REAPPLY button. Maybe @janisrogers or @forgeuxGH5 would know?

@Kaineatthelab Should we just test this (see #5840) and leave it enabled, or disable it for now?

[2020-12-09 18:00] mstanton1 opened #5860 "When BC REG account is in affidavit pending state payment in Name Request should fail"
**Describe the bug in current situation**
Currently if a client has a BCeID & 2FA account in BC Registries they can log on, choose to go to the homepage, then select to submit a name request. In Name Request they are able to complete the application (logged in - affidavit pending state). The payment does not fail. Instead, the invoice creation succeeds and the redirect to payment fails. The transa

[2020-12-09 18:00] tlebedovich commented on #5746
I don't know any helpful details, but do know that "Reapply" is the old name for the "Extend Expiry ($30)" button.

https://docs.google.com/spreadsheets/d/1SVmnnl-mpROjYICsD6nvHoFVrcAxaOHewdsDJXE1S74/edit#gid=0

[2020-12-09 18:01] Kaineatthelab opened #5861 "TIME OUT MVP - Extend 2 min API, UI show user for any error to go to examination"
Updated Searching Screen Designs (two options):
https://invis.io/MHZL9ZKA6GX#/439234350_Updated_Search_Screen

Any error - show screen.....Scott:)???

Change search screen message.... Scott:)???

API - Extend to 2 min

[2020-12-09 18:03] Kaineatthelab commented on #5746
it is the same extend expiry, and should continue if possible

[2020-12-09 18:09] severinbeauvais commented on #5746
OK, then let's explicitly test the Extend Expiry functionality.

@vysakh-menon-aot , let's you and I look into this.

[2020-12-09 18:11] severinbeauvais commented on #5846
I think that's the normal behaviour for any web app that is reloaded. What is your expectation?

[2020-12-09 18:15] lmcclung commented on #5378
@bcdevlucas - can you check the code and get back to @severinbeauvais

[2020-12-09 18:16] severinbeauvais commented on #5378
@bcdevlucas Hi Lucas. Do you know if any Launch Darkly feature flags were implemented on the POST or PATCH in the API?

[2020-12-09 18:23] #5851 closed

[2020-12-09 18:30] #5422 closed

[2020-12-09 18:45] severinbeauvais commented on #5378
Lorna just told me that these "feature flags" are environment variables used in the BE code -- not Launch Darkly flags.

It sounds like someone should just look in the code and remove the flags (and clean up any env stuff).

[2020-12-09 18:59] #5843 closed

[2020-12-09 19:04] mstanton1 commented on #4919
Effort is captured in separate tickets.

[2020-12-09 19:04] #4919 closed

[2020-12-09 19:06] Kaineatthelab commented on #5855
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/68cf9445-1af4-42ed-b6ea-66f5f38d75f0)

[2020-12-09 19:07] LJTrent opened #5862 "Examiner name is getting cut-off in Oracle"
**Describe the bug in current situation**
A clear and concise description of what the bug is.

The changes to keycloak are causing the examiner name to be mostly cut-off in names oracle database.
![image.png](https://images.zenhubusercontent.com/5a70ead94b5806bc2bc4f2c4/8a619e67-809e-4c44-9024-5589129533d2)

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the

[2020-12-09 19:09] Kaineatthelab opened #5863 "When I cancel in the credit card screen(direct pay) I should go back to the detail screen"
Time box to 1 hour

[2020-12-09 19:12] severinbeauvais commented on #5855
See NR UI code in App.vue:
[code]

[2020-12-09 19:21] severinbeauvais commented on #5855
@LJTrent Lorna, can we pull this out for MVP?

Also, do we need this for anything in the future? For auto-approval? Or can the user just close their tab and a clean-up batch will clean up this entry later (ie, no rollback needed)?

[2020-12-09 19:23] severinbeauvais commented on #5827
I increased the estimate because fixing this properly affects numerous pages.

[2020-12-09 19:34] mstanton1 commented on #5790
@Sienna-Blumstengel can you try to reproduce?

[2020-12-09 19:46] mstanton1 opened #5864 "Receipt Design when overpayment allows release of outputs before CFS settles invoice"
## Description: 5793 was created to address the scenario where a client has overpaid and requests a subsequent service. When a client has overpaid we receive a file from CFS showing the overpayment amount. However, it isn't applied to cover another invoice in CFS until the following day. In our application, as a client has overpaid we will record a consolidated value for the overpayment lines and

[2020-12-09 19:49] severinbeauvais commented on #5827
### Test Notes

1. Verify applicant and contact info pages when creating a NR
2. Verify applicant and contact info pages when editing a NR
3. Verify label change on Existing Request Display (ie, summary) page (Consent Rec'd -> Consent Status)
4. Verify layout of assumed name pages

[2020-12-09 19:51] mstanton1 commented on #5864
@sumesh-aot can you add in which values are not available until CFS reconciliation takes place? E.g. Invoice Number, Receipt Number?

[2020-12-09 19:54] #2709 closed

[2020-12-09 19:58] #293 closed

[2020-12-09 19:58] #2068 closed

[2020-12-09 19:59] #303 closed

[2020-12-09 19:59] #966 closed

[2020-12-09 19:59] #1182 closed

[2020-12-09 19:59] #1184 closed

[2020-12-09 19:59] #1228 closed

[2020-12-09 20:00] #1229 closed

[2020-12-09 20:00] #1807 closed

[2020-12-09 20:00] #2193 closed

[2020-12-09 20:00] #2196 closed

[2020-12-09 20:01] #4296 closed

[2020-12-09 20:04] #4295 closed

[2020-12-09 20:05] #3263 closed

[2020-12-09 20:05] #3704 closed

[2020-12-09 20:05] #2360 closed

[2020-12-09 20:16] LJTrent commented on #5855
@severinbeauvais When I press cancel it goes back to the search screen.  Why is that a problem? I dont understand why we have a ticket for this  Where should it go? The use is essentially canceling the session?

[2020-12-09 20:17] riyazuddinsyed opened #5865 "Payment screen does not show up while a user logs in."
**Describe the bug in current situation**
When a user clicks on login and files a Name Request and navigate to pay then the payment screen does not appear.

**Impact of this bug**
All users who are Logged in the application

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/namerequest/'
2.File a Name Request
3. Go to the payment
4. See error

**Screenshots/ Visual Reference/ So

[2020-12-09 20:18] Kaineatthelab commented on #5855
We want it to just close the payment modal and act like a modal

[2020-12-09 20:21] severinbeauvais commented on #5855
... And cancelling the session is future and will be moved somewhere else (if needed -- is it?).

[2020-12-09 20:25] Milan-Freshworks commented on #4772
The content has been verified and looks good.
There is a link that is still not working.[Uploading... Screen Shot 2020-12-09 at 12.19.05 PM.png ]

[2020-12-09 20:25] riyazuddinsyed opened #5866 "VERIFY: For Relationships: Clicking on Log Out does not redirect back to home page."
This will be required by mid-March to prep for BCOL NRO retirement

**Describe the bug in current situation**

*Important:* - This bug occurs when the user is using login services from the Business Registries homepage and then navigating to Name Request page.

When a user clicks on Log out in the Name Request Application then the landing page does not exist but the blank screen appears and the use

[2020-12-09 20:26] Milan-Freshworks commented on #5655
It has been tested and verified

[2020-12-09 20:29] #5471 closed

[2020-12-09 20:33] Milan-Freshworks commented on #5853
It has been tested adn verified

[2020-12-09 20:35] tlebedovich opened #5867 "First Choice Name Field should be uneditable in regular Submission Flow"
**### This ticket has a hold, awaiting further UX analysis**

In the first screen of the regular (non-assumed) Name Submission Flow, the "First Choice" Name Field should be uneditable.

To see (in Dev):
- Search New BC Limited Company
- Tracey's Donuts Inc.
- Click "Continue" on the Name is Ready for Review screen
- See the First Choice on the "Submit Name for Review" screen

Here is what it shoul

[2020-12-09 20:57] Kaineatthelab commented on #5855
@LJTrent would the garbage collector would take care of the uncanceled NR?

[2020-12-09 20:59] riyazuddinsyed opened #5868 "Cancel and Refund NR throws some intermittent PayBc error."
**Describe the bug in current situation**
When a user clicks on Cancel and Refund button then the error dialog shows up for the first time and when the user clicks OK then the Refund seems to happen.

**Impact of this bug**
All users Clicking Cancel and Refund

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/namerequest/'
2. File an NR
3. Complete the pay
4. Click on Cancel an

[2020-12-09 21:00] jdyck-fw commented on #2118
Retro 44
![retro 44.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/2310679e-10ac-41f7-b94f-18e8a7bc3fa2)

Action items:

[ ] Keep using the  “Go Live” ticket as our “must do” list
[ ] Ensure we get good coverage for our end-to-end testing

[2020-12-09 21:02] severinbeauvais commented on #5827
@janisrogers @tlebedovich All fixed up and deployed! Please review in Dev and pass to QA if OK.

[2020-12-09 21:04] vysakh-menon-aot commented on #5832
@janisrogers Tested with another NR which was in DRAFT (NR 9754475). Unable to reproduce with existing data. Once we are in a position to create a new NR I would request you to create a new one and let me know.

[2020-12-09 21:09] jdyck-fw commented on #5666
@jeznorth I believe this was intended to be in Relationships sprint (so I updated it), pls do correct if needed though.

[2020-12-09 21:11] janisrogers commented on #5809
@areyeslo I've added some more detail to the ticket.

[2020-12-09 21:18] janisrogers commented on #5832
@vysakh-menon-aot In DEV or TEST?

[2020-12-09 21:21] Milan-Freshworks commented on #5666
It has been tested and verified

[2020-12-09 21:22] tlebedovich commented on #5818
yes mentioned on our call... the results screen should look like this:

![Screen Shot 2020-12-09 at 1.21.45 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/330717fb-b1d2-4faa-bb84-377e66011153)

[2020-12-09 21:23] vysakh-menon-aot commented on #5832
In DEV

[2020-12-09 21:24] #5542 closed

[2020-12-09 21:25] severinbeauvais commented on #5847
This was an easy one. I reduced the estimate to time actually spent.

[2020-12-09 21:27] janisrogers commented on #5832
In DEV try NR 5079802 (phone 2503568724) or in TEST 3114981 Note:  I am getting different results in TEST.

[2020-12-09 21:28] #5568 closed

[2020-12-09 21:30] vysakh-menon-aot commented on #5832
Looking into it

[2020-12-09 21:32] Kaineatthelab commented on #5855
@kialj876 can you confirm the garbage collector it working :)?

[2020-12-09 21:33] severinbeauvais commented on #5746
Since another REAPPLY ("Extend Expiry") bug (#5840) was deferred to post MVP, we decided to disable the REAPPLY action in the UI, as documented in this ticket's description, and a new ticket will be created to reinstate it post MVP.

[2020-12-09 21:33] #5573 closed

[2020-12-09 21:35] janisrogers commented on #5827
Looks much better, but the Name Choices seems squished at the top @tlebedovich? Not sure if it needs to be fixed now.

![image](https://user-images.githubusercontent.com/55597599/101691059-f776f700-3a22-11eb-86f5-f24eb9faede6.png)

[2020-12-09 21:35] #5735 closed

[2020-12-09 21:36] #5578 closed

[2020-12-09 21:36] Milan-Freshworks opened #5869 "Error message wording"
**Describe the bug in current situation**
When I was trying to create a linked premium account, there was an error message that was displayed and the wording of this needs to be updated.
![Screen Shot 2020-12-09 at 12.12.41 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/83b31815-8aec-460e-950a-b6beee8284d1)

[2020-12-09 21:36] kialj876 opened #5870 "sbc ops sprint 47"
## Ops work for sprint
*(for ops not captured in another ticket)*

### Entity: 3
- [x] update colin-api coop incorps to be available on paper only always
- [x] look into why incorp failed in test for Linda
- [x] fix filer problems in dev and put filings blocking testing back on queue
- [x] clean up issues in entity sentry in dev/test/prod
- [ ] ~~fix dev/test colin-api envs (something in the env i

[2020-12-09 21:41] #5570 closed

[2020-12-09 21:42] Kaineatthelab commented on #5855
@LJTrent
@forgeuxGH5
Scott.Davis
1:33 PM
I'm thinking it might be easier to just close the modal - I don't think people will choose "continue to payment" to cancel their NR. I would expect them to cancel the modal and "start search over" or just abandon the NR (close the page). Actually thinking about it, we should check the code for the "start search over" button - based on the UI behaviour it ma

[2020-12-09 21:42] #5569 closed

[2020-12-09 21:45] cameron-freshworks commented on #5859
As Severin noticed before, our handling when quitting/cancelling payments has extended functionality that can cause potential data issues. Not sure the extent of the issues but this console error presents itself after cancelling said payment.
![Screen Shot 2020-12-09 at 12.40.51 PM.png](https://images.zenhubusercontent.com/5d4499a748a9f872c57d7094/42eff0c3-3096-4026-90ee-80072f82c524)

[2020-12-09 21:48] #4811 closed

[2020-12-09 21:49] LJTrent commented on #5855
@forgeuxGH5 start search over does not cancel an NR.  Im not really sure what you are trying to address ? Any  chance we can have a quick chat about it  to  come up with the best solution?

[2020-12-09 21:53] severinbeauvais commented on #5827
@janisrogers Oops! Typo in HTML. I just fixed it. Please try again in a couple of minutes.

[2020-12-09 21:56] janisrogers commented on #5821
This looks fine in DEV

[2020-12-09 22:07] vysakh-menon-aot commented on #5832
Issue seems to be fixed as part of some other ticket. Its working as expected now.

[2020-12-09 22:09] severinbeauvais commented on #5746
@vysakh-menon-aot Found a bug: for the following NR, the Cancel and Refund button should not display. (The API is sending `actions: ["RECEIPT", "REQUEST_REFUND"]`).

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/ded0af84-a234-4224-95fa-b1c7a207e791)

[2020-12-09 22:14] Kaineatthelab commented on #5348
@kialj876 can you work on this after your other ticket pls

[2020-12-09 22:15] tlebedovich commented on #5827
looks great for my test scenerio. @janisrogers can you review in yours and if OK, move ticket to QA please :)

[2020-12-09 22:15] janisrogers commented on #5827
This looks good to me now.

[2020-12-09 22:32] tlebedovich opened #5871 "Summary Screen "In Progress" mode (blue message bar/deactivate buttons)"
Here is the design for the "In Progress" blue message bar and what the deactivated buttons should look like assuming assumptions below are correct.

**Invision Design:**
https://invis.io/QUZOFXNWGYS#/439926602_Summary_Screen_-_Blue_Message

**Notes from Scott:**
@forgeuxGH5 thought the blue bar should be at the bottom and there would only be one message bar at a time.

It should go where the grey

[2020-12-09 22:36] ghost opened #5872 "Monthly report for all added funds for EFT/Wire transfer"
* As a BCOL Admin staff
* I want a monthly report (emailed..?) for all funds added manually by staff for EFT and Wire Transfer
*AND a way to correct the funds in CFS, if I made a mistake in typing funds
* so that I can reconcile with the SBC finance report every month

**Acceptance Criteria**

**Scenario 1: xxxxxx**
* GIVEN ... (you or your condition)
* WHEN ... (what you do)
* THEN ... (what you

[2020-12-09 22:40] lmcclung opened #5873 "Verify: Search button does not work when user selects start a new BC Sole proprietorship, DBA or general partnership"
**Describe the bug in current situation**
Nothing happens when user clicks 'search' for a new BC Sole Proprietorship/DBA/General partnership
Someone may already be working on this as part of expro logic.

**Link bug to the User Story**

**Impact of this bug**
Cannot get a name reservation
Preventing a lot of testing

**Chance of Occurring (high/medium/low/very low)**
Extremely high

**Pre Conditio

[2020-12-09 22:40] severinbeauvais commented on #5855
@forgeuxGH5 What do you want the button labels to be?

(There's also a Reapply Modal and an Upgrade Modal that have Accept and Cancel buttons.)

[2020-12-09 22:46] lekshmimallika-aot commented on #5549
I have made the changes for this in my current PR

[2020-12-09 22:50] cameron-freshworks commented on #5804
So after a little troubleshooting, Valid numbers can be validated correctly but a potential issue is with the validation request.
I'm seeing either a 500 Internal Server error or 504 GateWay timeout issues - stating an error in namex or  the api's are not communicating with each other fast enough.
This is resulting in the UI giving the impression that there was a validation issue, NOT an actual in

[2020-12-09 22:56] Milan-Freshworks commented on #5824
It has been tested and it was found that the created_by field in payments table gets populated with SYSTEM. @sumesh-aot Would clarify if that can be fixed.

[2020-12-09 22:58] Kaineatthelab commented on #5804
is there a way to remove the validation then?

[2020-12-09 23:00] cameron-freshworks commented on #5804
I'm not sure of the implications on Names examination side if they don't have the Corp Num to reference for a name change.
The field validation is easy to disable in this instance, just not 100% sure of the implications.

[2020-12-09 23:04] Kaineatthelab commented on #5804
@LJTrent do you have any thoughts on how to get past this for mvp?

[2020-12-09 23:15] Kaineatthelab commented on #5746
@severinbeauvais do you want 5840 to capture putting the extend back? It will be a P2 and need to be looked at next week:)

[2020-12-09 23:36] mstanton1 opened #5874 "Name request submission for authenticated user who is pending affidavit approval or PAD confirmation"
* As an authenticated user who is pending affidavit approval or in the PAD confirmation period
* I want to be able to submit a name request as an anonymous user
* so that I do not have to wait until the approval is completed / PAD confirmation period ends to get my NR

**Acceptance Criteria**

**Scenario 1: Authenticated user is pending affidavit approval or in the PAD confirmation period and sele

[2020-12-09 23:38] janisrogers commented on #5804
From the discussion this morning it sounds like allowing a non valid incorporation number will break NAMEX. We can look into more elegant solutions post MVP, but for MVP we could
-make the field optional,
-if the number doesn't validate (for any reason) let the user continue, but don't pass the invalid number to NAMEX

This is **only for change of name** of BC entity.

Restorations will be post MV

[2020-12-09 23:39] Milan-Freshworks opened #5875 "NR Refund Email - Link not working"
**Describe the bug in current situation**
When a refund for NR filing is requested, an email is sent to the email address mentioned in the filing. The Refund Email contains link to the 'Business Dashboard' but it doe not seem to work.

![Screen Shot 2020-12-09 at 3.35.31 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/4b145ea6-0662-4998-8e93-f0725e927b73)

[2020-12-09 23:42] mstanton1 opened #5876 "Create keycloak group which enables staff to complete company filings"
## Description: Currently users with any of the keycloak groups can complete filings in the Business Registry. A separate group should be created to restrict this.

Of the current groups only the team members in the Hub Team / Corps Team complete legal filings. BCOL Help, BCOL Admin, Registries Admin, SBC field offices and Maximus should not have this ability. Currently users with the search / vie

[2020-12-10 00:09] #5767 closed

[2020-12-10 00:13] LJTrent commented on #5804
@Kaineatthelab I had a look at openshift and it appears the colin-api is not functioning correctly in test and the set up of namerequest-ui is different between dev and test so I think if we get these things fixed we might be back in business. Richard and I will look at it in the morning.

[2020-12-10 00:15] #5664 closed

[2020-12-10 00:15] #5697 closed

[2020-12-10 00:16] #5701 closed

[2020-12-10 00:20] tlebedovich commented on #5861
@lekshmimallika-aot @forgeuxGH5 - updated design options are shown above now for you.

[2020-12-10 00:27] #5655 closed

[2020-12-10 00:27] #5666 closed

[2020-12-10 00:27] #5853 closed

[2020-12-10 00:28] Kaineatthelab commented on #5804
@LJTrent thank you! really appreciate your support pushing these things through, your expertise in the analyze and back end will be needed more:)

[2020-12-10 00:41] sumesh-aot commented on #5826
It's not a big amount of work. In auth layer, we need to do some permissions based on account id which we were planning to do when manage businesses move out of auth.

[2020-12-10 01:09] Milan-Freshworks commented on #4857
It has been tested and the text displayed is different than in the designs. Awaiting response from @jeznorth ![Screen Shot 2020-12-09 at 4.59.01 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/f6530853-d74d-4b83-a3de-5e0162eefe3a)

[2020-12-10 01:26] lmullane commented on #5720
I've made edits in SharePoint

[2020-12-10 01:31] Kaineatthelab opened #5877 "pre submission page no button and inc issue"
Given I am searching a bc ltd.
When I search a name with a distinctive and a descriptive and a designation
Then the name searches 1.well formed name(looks for description and name it doesn't know) 2. conflict search 3. designation
AND it finds find a designation that isn't correct it gives an option to choose one that is
AND clicking on it gives you the screen below

Look at screens below

*Notes:

[2020-12-10 01:41] Kaineatthelab commented on #5867
there are a few oddities here, might need to go through with the devs tomorrow. I found sometimes it works but depends on the flows

[2020-12-10 03:00] severinbeauvais commented on #5855
### Test Notes

1. verify that button on last "new name request" page is "Review and Confirm"
2. verify new (red) button "Cancel Name Request" on Cancel Name Request dialog
3. verify relabelled (blue) button "Continue to Payment" on Cancel Name Request dialog
4. verify (gray) close button (and 'X' in title) on Cancel Name Request dialog

[2020-12-10 03:01] Kaineatthelab commented on #5855
is this in dev:)? Also go see your family and thank you!

[2020-12-10 03:11] severinbeauvais commented on #5746
That's a good idea actually. @vysakh-menon-aot , FYI.

Kaine, you're going to need REAPPLY enabled in the BE and some solution for #5840 at the same time probably.

[2020-12-10 03:14] severinbeauvais commented on #5855
It's in Code Review state for now. I expect we will merge it in tomorrow am. I shall go pet my family and see my cat. :)

[2020-12-10 03:41] Kaineatthelab commented on #5855
I will pet my family as well:) probably delete this msg in the morning too lol

[2020-12-10 03:43] Kaineatthelab commented on #5746
:)

[2020-12-10 07:56] #5745 closed

[2020-12-10 07:56] #5781 closed

[2020-12-10 08:14] #5756 closed

[2020-12-10 14:44] lmcclung commented on #5746
Perhaps it meant to say to remove the RESEND for MVP.  We decided to remove that and have user screenprint the summary screen or staff RESEND in NRO as we didn't want to do throw away work to get mail working in old database or spend time building a download option.

[2020-12-10 16:29] lmullane commented on #5806
@saravanpa-aot or @sumesh-aot, could you please investigate and advise on a solution. cc @mstanton1 @Kaineatthelab @lmcclung

[2020-12-10 16:36] tlebedovich commented on #5867
@forgeuxGH5 fyi...

[2020-12-10 16:37] lmullane commented on #5331
@lmcclung, can you provide some more details on what is happening currently and what you are expecting? cc @mstanton1 @Sienna-Blumstengel

[2020-12-10 16:37] cameron-freshworks commented on #5873
@lmcclung @janisrogers
I'm just verifying this in Dev for the listed entity types above during a 'Start a new' / 'BC' request, and it is sending them to examination. Is that the expected behaviour, or can/are these entity types supposed to go through auto-analysis?

[2020-12-10 16:48] severinbeauvais opened #5878 "NR UI: should not need to click Review and Confirm button a second time"
**Describe the bug in current situation**
On the final Submission Details page is a Review and Confirm button. However, after I complete the required fields and click this button, the page "straightens itself up" and then... nothing. I need to click this button a second time to actually continue.

- [x] This is incorrect; I should only have to click this button once. (This is likely a validation h

[2020-12-10 16:53] forgeuxGH5 commented on #5543
Update the text of the tooltip (may change to tooltip/modal combo post mvp):

The Name Request website is available as a Beta version. Name requests obtained through the Name Request Beta website are official name requests and can be used in the province of British Columbia.

The Name Request website contains all of the functionality of the previous Name Requests Online site, as well as new functi

[2020-12-10 16:54] severinbeauvais commented on #5746
@lmcclung You're probably right!

However, having removed the REAPPLY button isn't tragic (it was 1 line of code) as the expiry date functionality needs work anyway.

@vysakh-menon-aot Can you confirm that the RESEND button is currently never displayed (never sent by BE) ?

[2020-12-10 17:08] tlebedovich commented on #5543
are these text changes for MVP? if so, i'd maybe put it into a new ticket under Go Live? Since the original Beta tool tip dev ticket has already been completed.

[2020-12-10 17:09] kialj876 commented on #5378
Looks like these flags aren't set in dev/test/prod and if set then they skip the update to NR and/or SOLR so I will verify and then close this

[2020-12-10 17:23] severinbeauvais commented on #5378
@kialj876 Lorna said there was code to check these environment (not LD) flags, which should be removed.

[2020-12-10 17:23] Milan-Freshworks commented on #4772
It has been tested and verified.

[2020-12-10 17:24] Kaineatthelab commented on #5877
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/fc86ce81-2165-4724-8fa1-9247bd999ed9)

[2020-12-10 17:29] Milan-Freshworks opened #5879 "NSF - PAD Information not pulled"
**Describe the bug in current situation**
When an account has been suspended, the user is not able to see any information for PAD in Review Information screen.
![Screen Shot 2020-12-09 at 5.06.17 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/c564732a-1dcd-4b77-9a7f-c63fde6fba0c)

**Chance of Occurring (high/medium/low/very low)**
High

**Pre Conditions: which Env, any pre-r

[2020-12-10 17:32] Milan-Freshworks commented on #4857
@jeznorth verified that content is as per the discussion between UX team and Loren.

[2020-12-10 17:35] jdyck-fw commented on #5712
@rarmitag - It sounds like the last step here on this one is with you.

[2020-12-10 17:35] lmullane commented on #5806
@lmcclung, we have a temporary solution you can make on your side with a configuration change (should be an hour effort). We have a ticket on our side that could fix this as well but that will take 2-3 days which is cutting it to close.

Let's go with the temporary fix for MVP, and then we will do the other fix after once the dust settles.
 @saravanpa-aot  will follow up with @vysakh-menon-aot on

[2020-12-10 17:36] #5705 closed

[2020-12-10 17:38] #5467 closed

[2020-12-10 17:41] lmullane commented on #5826
@Kaineatthelab, I understand the decision is enable authenticated payment to do this after go-live with the MVP (i.e. once we implement authenticated version), correct?

We can do this in approximately 3 days effort. cc @lmcclung @mstanton1, @sumesh-aot

[2020-12-10 17:43] sumesh-aot commented on #5824
That column was added to capture the staff payments like EFT/WIRE/Credit Memo etc. For credit card, we don't have user context on transaction completion as it works in an unauthenticated way. Same is for PAD and Online Banking.

[2020-12-10 17:48] lmcclung commented on #5873
@cameron-freshworks @janisrogers Janis tells me that it should get analyzed for conflicts, that's what she means like extrapro logic.

[2020-12-10 17:51] Milan-Freshworks commented on #5824
It has been tested and verified.

[2020-12-10 17:59] lmcclung commented on #5804
NRO does not let the user proceed unless the incorporation number is correct.  Error message in NRO:
Company Number 00001000 does not exist in Corporate Online.

[2020-12-10 18:09] cameron-freshworks commented on #5873
Excellent thanks :) I guess there is some Back end required for this which Arturo brought up. So i will link up with him and we can sort out what needs to be done to bring the Front and back into Sync.

[2020-12-10 18:10] janisrogers opened #5880 "Extrapro search criteria don't get reset"
If you enter criteria for a new extraprovincial company and execute a search, then choose search again - the extraprovincial settings are still there. The name gets reset, but the action, location, entity type,home jurisdiction and "I do not have a corporate number" remain selected.

If I choose a different type (like a new BC Company) and start search again, and then I select new extraprovincial

[2020-12-10 18:16] janisrogers commented on #5844
Restore now lets you continue.

[2020-12-10 18:16] Kaineatthelab commented on #5877
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/4a354513-602b-43a6-9138-b2423ed705be)

[2020-12-10 18:32] Kaineatthelab commented on #5877
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/ae41f927-44f3-403c-b519-afc57fbdb0f8)

[2020-12-10 18:36] lekshmimallika-aot commented on #5818
Pulling the ticket back to in progress to implement the changes discussed in standup

[2020-12-10 18:42] Kaineatthelab opened #5881 "Wrong message displayed when designation in wrong spot"
@forgeuxGH5 @Kaineatthelab - This is what we had for "Designation in the wrong spot". Scott - can you confirm this will work in this special case? c/c @janisrogers

RESULT (Move Designation button moves it to the right spot - so not sure what happens if there is already a designation on the end):
![Screen Shot 2020-12-10 at 10.42.58 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e48

[2020-12-10 18:45] Kaineatthelab commented on #5881
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/5f8efe32-f1b3-4c70-969d-97d8c78d31de)

[2020-12-10 18:45] pwei1018 commented on #5673
@amit4610 Done.

[2020-12-10 18:45] jdyck-fw commented on #5877
Removed example of designation in wrong spot, split it out to another ticket (5881)

[2020-12-10 19:20] janisrogers commented on #5880
@forgeuxGH5 We need to design this.

[2020-12-10 19:21] LJTrent commented on #5378
base_nr_resource.py: line 53 and on contains valildate_configs.  so wherever this is called needs to be removed and you could also remove the method. Up to you.

def validate_config(cls, app):
app_config = app.config.get('DB_HOST', None)
if not app_config:
cls.log_error('ENV is not set', None)
raise NameRequestException(message='Internal server error')

test_env = 'prod'
if test_env in app_config:

[2020-12-10 19:39] severinbeauvais commented on #5838
1. I have commented out the Help Me Choose text button.
2. The title and Return text button were fixed in a previous ticket.

[2020-12-10 19:49] forgeuxGH5 opened #5882 "test"

[2020-12-10 19:54] mstanton1 commented on #5720
Trish and Loren's feedback has been incorporated. This has been sent to the business leads for a final review. Suggestion from Trish is to issue to staff 1 month prior to release so this leaves one week for internal review to complete.

[2020-12-10 20:08] mstanton1 opened #5883 "Create FAQ's for Downgrade Account / Cancel PAD scenarios"
## Description: Create FAQs for downgrade account and cancellation of PAD.

E.g. If I am changing my financial institution do I need to cancel my PAD agreement: No. If you change financial institutions you can update the bank account information for your pre-authorized debit here.

Acceptance for a Task:
- [ ] Requires deployments
- [ ] Add/ maintain selectors for QA purposes
- [ ] Test coverage a

[2020-12-10 20:10] mstanton1 opened #5884 "Create user flow for staff termination of an account."
## Description: Create a user flow for the staff termination of an account.

Note staff may not terminate an account unless it is first suspended. See terms for further information. A flow, on what this looks like for staff, would be valuable.

Look at the forms Wendy's team gets now and current process then we can adapt that as needed. Jeremy is working on the self serve option (ticket 5937 in Gr

[2020-12-10 20:23] severinbeauvais commented on #5838
This fix is now deployed (as well as #5850) to Dev. Please verify and move to QA if OK. Thanks!

[2020-12-10 20:28] tlebedovich commented on #5838
@janisrogers - can you verify this for Severin and move to QA if fixed svp.

[2020-12-10 20:31] tlebedovich commented on #5549
@lekshmimallika-aot - please confirm when the above items are ready for our review again (the items in the comments section above). thank you

[2020-12-10 20:51] lmcclung commented on #5806
@lmullane sounds great.  thanks!

[2020-12-10 20:57] janisrogers commented on #5463
No longer requesting incorporation error.

[2020-12-10 21:04] forgeuxGH5 commented on #5881
This look right for the move designation, and the second screenshot should use the move designation message too for now.

[2020-12-10 21:40] kialj876 commented on #5378
Okay sounds good I am altering this method so that it doesn't do the prod env check to fail it

[2020-12-10 21:54] cameron-freshworks commented on #5877
@Kaineatthelab

So, after looking into is, in order to get from the resolving issues view to the 'Name is ready for review' view, we need to prompt another analysis since these results are all driven from the backend.

For example, when you select 'LTD.' and it correctly injects that in the search field, but it's not actually clearing the issues or doing anything really except hiding those 'Issue'

[2020-12-10 22:02] severinbeauvais commented on #5806
@lmullane Please poke us after the dust settles so we can remove the workaround code in NameRequest UI. Thanks!

[2020-12-10 22:07] janisrogers commented on #5845
incorporation number no longer shows up for extraprovincial reinstatement.

[2020-12-10 22:09] janisrogers commented on #5861
This looks good.

[2020-12-10 22:14] janisrogers commented on #5818
@lekshmimallika-aot  Looks great, and don't know if it is needed for MVP, but the only issue is that the title says 'Further Action Required' and the spec says 'Further Review Required'

[2020-12-10 22:20] sumesh-aot commented on #4981
Yes, @lmcclung. Please close this ticket.

[2020-12-10 22:24] janisrogers commented on #5800
This looks good.

[2020-12-10 22:41] lmullane commented on #5806
Will do, @severinbeauvais

[2020-12-10 22:42] #4772 closed

[2020-12-10 22:42] #4857 closed

[2020-12-10 22:42] #5824 closed

[2020-12-10 22:43] riyazuddinsyed opened #5885 "Clicking on Cancel button throws the Paybc error."
**Describe the bug in current situation**
When a user clicks on Cancel and Refund from the Paybc screen then the error dialog box seems to appear showing paybc error

**Impact of this bug**
All users clicking Cancel and Refund

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/namerequest/'
2. Click on 'Cancel and Return button'
3. See error

**Screenshots/ Visual Reference/ So

[2020-12-10 22:45] mstanton1 opened #5886 "Create Video on Obtaining an Identity Affidavit"
## Description: Create a video to outline the steps to obtaining an identity affidavit.

To be distributed with 'Account Set Up - BCeID & 2 Factor Authentication' video.

Acceptance for a Task:
- [ ] Requires deployments
- [ ] Add/ maintain selectors for QA purposes
- [ ] Test coverage acceptable
- [ ] Linters passed
- [ ] Peer Reviewed
- [ ] PR Accepted
- [ ] Production burn in completed

[2020-12-10 22:46] mstanton1 commented on #5886
Video transcript has been created and reviewed. Updates have been made based upon feedback:

https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3522

[2020-12-10 22:53] LJTrent opened #5887 "Re-execute the Search When the User Changes the Input Name After Auto-Analyze Runs"
## Description:

Currently, the auto-analyze results are displayed but the user can change the name on the search bar at anytime.  This needs to force the search to be executed again but we also want to display a message to the user that the search will run.  This message will come from the front-end and not the auto-analyze issues. For example the name was PLUMBING INC. below, I added ABC 123 as

[2020-12-10 22:59] #5855 closed

[2020-12-10 23:25] janisrogers commented on #5838
This looks good.

[2020-12-10 23:28] #5755 closed

[2020-12-10 23:33] lmcclung opened #5888 "Existing tab NR field should not be case sensitive"
**Describe the bug in current situation**
When user searches NR on the existing name request tab and enters nrXXXXXXX or nr XXXXXXX they get the error: Please enter a valid NR number

"NR" should not be case sensitive

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.
Will result in unwanted phone calls

**Chance of O

[2020-12-10 23:36] mstanton1 commented on #5886
Video has been created and distributed for feedback: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3527

[2020-12-10 23:39] vysakh-menon-aot commented on #5832
@janisrogers This issue is fixed in DEV. Please verify

[2020-12-10 23:40] #5845 closed

[2020-12-10 23:43] #5844 closed

[2020-12-11 00:06] Sienna-Blumstengel commented on #5790
https://drive.google.com/file/d/12Sb_nYGIHjDIyvSwacjoCl3wpwEHS2iX/view?usp=sharing
I got a different error than you, but i did get an error!
Should we maybe send this to whoever worked on auth for name request?

[2020-12-11 00:08] mstanton1 opened #5889 "Otter Farm & Home Co-operative"
Service Now Incident: N/A

## Description: Otter Farm & Home Co-operative CP0002067
Client is trying to affiliate to this CP. It is already under an account created by Laurel. The client has spoken to Laurel who doesn't remember creating an account.

Staff contact: Harding, Julie <julie.harding@gov.bc.ca>

Acceptance for a Task:
- [ ] Requires deployments
- [ ] Add/ maintain selectors for QA purpo

[2020-12-11 00:10] mstanton1 commented on #5889
Julie asked if we could remove the affiliation from the existing account. I have made the following suggestion. This information has been passed to the client.

Hi Julie,

For CP0002067 I reviewed what you noted and confirmed your findings. You are correct that there is a Basic Account, created by Laurel Lynn Van Brakel. The last activity on the account took place 01/08/2020. I suspect this is why

[2020-12-11 00:14] lekshmimallika-aot commented on #5818
Fixed and is available in dev

[2020-12-11 00:21] mstanton1 opened #5890 "Coop passcode request for CP0002377"
Service Now Incident: N/A

## Description: Newly incorporated ASSOCIATION OF THINGERY LENDING LIBRARIES CO-OPERATIVE CP0002377 is requesting their passcode

Staff contact: Lau, Mark <mark.lau@gov.bc.ca>

Acceptance for a Task:
- [ ] Requires deployments
- [ ] Add/ maintain selectors for QA purposes
- [ ] Test coverage acceptable
- [ ] Linters passed
- [ ] Peer Reviewed
- [ ] PR Accepted
- [ ] Prod

[2020-12-11 00:23] areyeslo commented on #5527
That's correct @scottrumsby

[2020-12-11 00:27] #5171 closed

[2020-12-11 00:38] areyeslo commented on #5877
@cameron-freshworks  @Kaineatthelab  Designations are removed from the name when conducting the analysis in backend. Just they are used for the purpose of checking they are correctly placed. If they are updated in the correct place there is no need to analyse again the name.

[2020-12-11 00:41] cameron-freshworks commented on #5877
Excellent, thanks Arturo!

We had a short meeting earlier about this, and more or less came to the same conclusion. Since 'Designation' issues are essentially the last issues to resolve, we can assume on the front end that once those issues are resolved, the name is ready for review :)

[2020-12-11 15:29] lmcclung opened #5891 "Home jurisdiction province needs full name not abbreviation"
**Describe the bug in current situation**
Lorna was testing Namex and saw an issue with xpros.  She says: oracle and namex expect the jurisidiction name to be passed as full text. for example, NEW BRUNSWICK was stored in postgres and oracle as NEW BRUNSWICK. Now it is being stored as NB so when you try to edit this in NAMEX the jurisdiction gets wiped out.
Not sure why the jurisdictions were chang

[2020-12-11 15:43] jeznorth opened #5892 "Prototype Development - Apply Funds to Account"
Updated the prototype to illustrate the following functionality

- Confirmation dialog after entering / applying funds to an account
- Ability for Staff to edit the amount of funds applied to an account POST submission.

[2020-12-11 15:53] janisrogers commented on #5832
@vysakh-menon Now it is showing the correct location, but is missing the 'action'

![image](https://user-images.githubusercontent.com/55597599/101924795-f1e5f200-3b85-11eb-9b32-339094e38394.png)

[2020-12-11 15:59] janisrogers commented on #5818
Looks good.

[2020-12-11 16:26] mstanton1 opened #5893 "Change BCOL Admin and BCOL Help Desk to Read Only for most account information"
## Description: BCOL Admin and BCOL Help will support clients but will not require the ability to make changes to most account details. As per our FRCR, to reduce risk these fields should be 'View Only'.

BCOL Admin and BCOL Help will require the ability to
Manage Team Members
Search transactions and download statements

Account Info: All other account info will be view only like:

1. Mailing Addr

[2020-12-11 16:44] severinbeauvais commented on #5859
This has turned into a general "handle network errors" ticket... The following error handling is broken:
- [ ] download receipts (which starts with a network call to re-fetch the name request)
- [ ] new name search error
- [ ] existing name request error
- and others are I find them

[2020-12-11 17:05] amit4610 commented on #5673
Thanks @pwei1018 . Closing this.

[2020-12-11 17:05] #5673 closed

[2020-12-11 17:07] mstanton1 commented on #5022
Final sign off has taken place. The STRA report and the SoAR that has the approvals has been saved in the Relationships Legal Services folder on SP:
https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/Modernization%20Docs/Relationships%20Docs/Legal%20Services

[2020-12-11 17:07] #5022 closed

[2020-12-11 17:39] #5625 closed

[2020-12-11 17:40] mstanton1 commented on #5779
As per stand-up salutation is needed in this case because the person setting up an account may enter a generic email for a large firm and we need to ensure the appropriate person receives this legal document.

Document should only go to the party setting up the account / changing to PAD.

[2020-12-11 17:43] mstanton1 commented on #5854
Closed as duplicate.

[2020-12-11 17:55] #5881 closed

[2020-12-11 17:56] #5811 closed

[2020-12-11 18:00] severinbeauvais commented on #5835
@vysakh-menon-aot When you test this, try clicking the "Return" button. When I tried this I got:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/87ee5013-086d-47e8-85ee-e4704527e076)

(NB: I have "more functional" error handling code locally that may be needed to see this error. If so, contact me.)

[2020-12-11 18:05] severinbeauvais commented on #5859
What I found/learned:
- an `@Action` should not throw an exception (you need to handle it)
- in some cases a `{ text, failed }` object is stored in lieu of NR data and may not be handled

[2020-12-11 18:11] Kaineatthelab commented on #5887
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/545237a3-2b77-4cc2-8247-99824186ac77)

[2020-12-11 18:27] forgeuxGH5 commented on #5867
We should look at this idea in general - I'm not sure it shouldn't generally be editable. User's can edit even after submission/payment - why not before?

[2020-12-11 18:53] mstanton1 opened #5894 "Generate Email the Account Administrators when Change is Made to Team Members"
* As a Business Registry account holder
* I want an email advising if a chance has been made to my account
* so that I can monitor for fraud

**Acceptance Criteria**

**Scenario 1: Registries staff makes changes to team members for an account**
* GIVEN a registries staff member adds, removes or changes the role of a team member
* WHEN the change to the team member is made
* THEN an email is issued

[2020-12-11 19:32] tlebedovich commented on #5867
@forgeuxGH5 We keep going back and forth on this one :) Do you want to hold on this ticket for MVP then before someone picks it up and revisit later?

[2020-12-11 19:50] Kaineatthelab commented on #5867
made a p3 for after

[2020-12-11 20:26] cameron-freshworks commented on #5703
Though this jurisdiction field is relocated to the initial search screen, the context of the bug still applies there,
but it has since been corrected and ready for verification.

[2020-12-11 20:31] tlebedovich commented on #5867
thanks. we pulled it out of Go Live and we'll think on this more.

[2020-12-11 20:58] Sienna-Blumstengel opened #5895 "Mesh Exchange Inc.,BC1068555 - Alteration LTD > BEN"
## TICKET TEMPLATE
### Home team Info
**Service Now Number:**  INC0068938
**Staff email:** kathy.langlois@gov.bc.ca

#### What is being altered
- [x] Business type
- [ ] ~Company name - see NR info below~
- [ ] ~Name translations - see form~
- [ ] ~Resolution date: ~
- [ ] ~Share structure - see form~
- [ ] ~Remove pre-existing company conditions~

### Data from staff
**Affiliation info (Account N

[2020-12-11 21:01] #5838 closed

[2020-12-11 21:05] tlebedovich opened #5896 "Update Text & Links in BETA tool tip"
**Design Comp is here:**
https://invis.io/AWZPCO1H7ZD#/440284868_Beta_Tag_Update

**We need to update the text and links in the BETA tag to the following:**

The Name Request website is available as a Beta version. Name requests obtained through the Name Request Beta website are official name requests and can be used in the province of British Columbia.

The Name Request Beta website contains all

[2020-12-11 21:10] lmullane commented on #5826
@sumesh-aot, can you put an effort an estimate on this ticket.

[2020-12-11 21:12] Kaineatthelab commented on #5645
@kialj876
can you pick this up after

[2020-12-11 21:15] lekshmimallika-aot commented on #5547
@janisrogers  This is available in DEV

[2020-12-11 21:26] vysakh-menon-aot commented on #5835
Verified and working fine

[2020-12-11 21:35] janisrogers commented on #5839
Still seeing this. **Repro steps:**

1. Select Start a New/Extraprovincial (Internationally based)/ Limited liability company
2. Choose United States as home jurisdiction and I don't have a corporate number
3. Enter a name that will conflict
4. Choose to assume a name

Dropdown list shows the corporation designations.

Note: If I choose to send for review  or Obtain consent. (so I only have 2 assu

[2020-12-11 22:02] #5806 closed

[2020-12-11 22:12] janisrogers opened #5897 "Extraprovincial result incorrect"
When I search for an extraprovincial limited partnership that contains a restricted word, I am given the option to remove or replace the word and not given the option to assume a name. This is the wrong flow. Additionally this is the wrong consent option.

![image.png](https://images.zenhubusercontent.com/5e1635372273f756c8297e3e/bb73366e-3e33-4ea9-a2f8-86529fa1d054)

[2020-12-11 22:22] janisrogers commented on #5547
This looks good.

[2020-12-11 22:30] severinbeauvais opened #5898 "NR UI: need handling for actual network error on name search"
**Describe the bug in current situation**
Currently, if there is an error when searching for a name, the SendToExamination ("Further Review Required") page is displayed. This doesn't make sense if this is an actual network error (eg, network offline).

Therefore, the error handling in `getNameAnalysis()` needs to be updated. Ideally the error modal would be displayed with a user-friendly error mes

[2020-12-11 22:38] severinbeauvais opened #5899 "NR UI: need handling for actual network error on review and confirm"
**Describe the bug in current situation**
Currently, if there is an error when submitting the draft NR (ie, clicking Review and Confirm button) then there is no indication to the user -- the Confirm Name Request modal (with empty payment details) is displayed and all buttons are enabled.

Therefore, error handling needs to be added to `postNameRequests()` (and probably also `patchNameRequests()`).

[2020-12-11 22:42] cameron-freshworks commented on #5866
This works under normal circumstances, but there is some odd behaviour when you change your current account through the common component. It seems to be wiping out some session configuration and loses the return url for a logout.
Looking into this.

[2020-12-11 23:08] Kaineatthelab opened #5900 "Consent option 3 showing wrong consent"
Consent should say the other message stating consent from a governing body, see design.
Update the text in the issue response for consent words for both xpro and protected paths.

[2020-12-11 23:08] Kaineatthelab commented on #5900
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/4e930309-f216-47dc-82e8-7356258d6d6d)

[2020-12-11 23:09] Kaineatthelab commented on #5900
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/9b6c34df-92d3-4d5a-9e84-3da7296580ec)

[2020-12-11 23:12] LJTrent commented on #5900
![image](https://user-images.githubusercontent.com/35615843/101963312-43f93880-3bc3-11eb-8058-891fa96dd434.png)

[2020-12-11 23:13] janisrogers commented on #5900
Here is the proper text for Option 3

[2020-12-11 23:16] lmcclung opened #5901 "Name Request - include Registries incorporation number for XPRO maintenance name requests"
When reserving name request for Extraprovincial name requests that *are not* start a new, we should ask for the existing Registries Registration Number  ie.  A0080726.  Cameron Wulff requested this be included so that staff can identify the company and be able to pull the company summary.

Needs some design.

[2020-12-11 23:25] mstanton1 commented on #5890
Request sent to Bob to load the CP into the DB and create a passcode when he returns to the office on Monday.

[2020-12-11 23:30] mstanton1 commented on #5886
Video has been reviewed and approved. Training email has been sent to Debbie Hub team. The video has also been sent to Joanna and Cameron, asking if they would like to share with their staff.

I included a link to the video catalogue in each email.

[2020-12-11 23:30] #5886 closed

[2020-12-11 23:31] mstanton1 commented on #5495
BCeID & 2FA video has been approved and sent to Debbie Hub team. This has also been sent to Cameron and Joanna to distribute to their teams if they feel helpful.

I have also provided the link to the video catalogue.
https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3367

[2020-12-11 23:31] #5495 closed

[2020-12-11 23:43] Kaineatthelab opened #5902 "UI Tweaks"
It looks like the continue button is now working properly in test as always a check box. The persistent search box is not done.

[2020-12-11 23:45] Kaineatthelab commented on #5902
A couple of more issues:

**Option checkboxes should always be displayed intiially**
I searched for an XPRO international, “TEST”, got a conflict, and selected assume a name. Started search over with a XPRO Canada, No corporate number, and the search result (conflict) did not display the checkmark for the assume a name option (it showed the button) -it should reset the conflict result and all opti