[2021-02-03 17:40] mstanton1 commented on #6232
We can set up multiple fee codes. You could call our API with one fee code if it is client and another feed code if it is staff.

[2021-02-03 17:42] mstanton1 commented on #6309
@lmcclung what release is this part of? Can we just push this when we go to Prod tomorrow?

[2021-02-03 17:57] forgeuxGH5 opened #6381 "Entities 47 - Design Sprint Goals"
## Entities
Alteration for an entity, and indicate if it was part of a plan of arrangement/court ordered #5409
Draft Alteration in To Do list
Staff payment of Name Request 6288

[2021-02-03 18:00] lmullane commented on #6325
As discussed @sumesh-aot, please add the wording we receive from Bambora for Scenario 5.

@jeznorth, please provide designs that we can review at PO Sync this Friday afternoon.

@Kaineatthelab, @lmcclung, we will propose that the client is not send back to the Entities or Names Application. Instead they will see a view on the status of their payment. This will ease integration with all future apps

[2021-02-03 18:12] #6249 closed

[2021-02-03 18:26] severinbeauvais commented on #5453
I see a 2000 char limit specified for the staff comments... but the "detail comment" feature allows 4096 chars (same database table).

Should the limit be 2000 or 4096 then?

[2021-02-03 18:44] amit4610 commented on #6043
Hi @Milan-Freshworks
1. This is the BC Registries account number (our app)
2. Balance due in the email template is the total

[2021-02-03 18:45] mstanton1 opened #6382 "Intercept Design for Credit Card Payment Response"
* As a Business Registry /Name Request credit card client
* I want messaging to let me know if a payment failed or succeeded
* so that I know whether my payment has been processed

Acceptance Criteria

Scenario 1: Client credit card transaction is declined
GIVEN a client submits credit card information on BC Express Pay
WHEN the credit card is declined by BC Express Pay/PayBC
THEN the client shoul

[2021-02-03 19:14] rarmitag commented on #5933
BCol dat number lower case 'c' changed to upper case. Data successfully pulled across .

[2021-02-03 19:14] #5933 closed

[2021-02-03 19:18] tlebedovich commented on #1419
@Sienna-Blumstengel - this is a duplicate with https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/4362 so I'm going to close this one.

[2021-02-03 19:18] #1419 closed

[2021-02-03 19:19] lmcclung commented on #5976
Hi Linda,

I have now reversed the Director change.

Can you get your team to file the 2019 AR, and director change that happened at that 2019 AGM.  There will be a $30 charge for the AR, but the director change will be at no fee as the client already paid $20 when it was filed previously.  Please make sure to not update the Registered office address on the AR filing as I only have $30 in fees to

[2021-02-03 19:30] mstanton1 opened #6383 "NR0966470 - Status Pending Payment/Submitter charged"
#### ServiceNow incident:
INC0075461

#### Contact information
Staff Name: Elizabeth Espinosa
Staff Email: Elizabeth.Espinosa@gov.bc.ca

#### Description
Email from Elizabeth:

Good morning,

I would appreciate your help in this matter.

NR0966470 is in status pending payment.  The client phoned to say that he paid by Visa/Debit and the charge is showing on his statement.

The NR is showing priori

[2021-02-03 19:33] mstanton1 commented on #6383
@sumesh-aot it looks like this is one impacted by the bug experienced yesterday. This client paid the priority fee (an additional $100.00) to have their name request bumped ahead in the queue. It is supposed to be processed within 24 hours of being received.

Can you confirm payment for this one and then change the status to push the name along? Or is there somebody else this can be assigned to to

[2021-02-03 19:39] Milan-Freshworks opened #6384 "Amount displayed in OB pending amount email"
**Describe the bug in current situation**
As an admin with basic account who has chosen OB payment option, I get an email about the pending amount. Currently, the email contains the most recent's filing's pending amount. The expected amount should be the total amount that is pending.

**Link bug to the User Story**
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/enti

[2021-02-03 19:44] sumesh-aot commented on #6325
Below are the different payment response URL we have seen in PROD;

[code]

[2021-02-03 19:55] amit4610 commented on #6383
This one is in the list sent by Sumesh. It was impacted by the bug.

[2021-02-03 19:55] janisrogers commented on #5453
It is 2000
![image](https://user-images.githubusercontent.com/55597599/106801459-a34d5500-6616-11eb-95e3-41ec9eecfe56.png)

[2021-02-03 20:02] severinbeauvais commented on #5453
Thanks Janis. That must be in COLIN (not Lear db).

AFAIK, there is no requirement to sync staff comments between Lear and COLIN.

[2021-02-03 20:10] janisrogers commented on #5453
Yes that is from COLIN. I thought there was a requirement to sync the comments. @lmcclung Do you know?

[2021-02-03 20:57] mstanton1 commented on #6383
@amit4610 - yes, I saw that. However, because this is a priority request it needs to be processed by our office staff in 24 hours so we need to treat it separately and ensure it is tacked right away.

[2021-02-03 21:03] #5429 closed

[2021-02-03 21:04] #5626 closed

[2021-02-03 21:05] jdyck-fw commented on #310
@rarmitag - mind verifying if this has been completed and can be closed, please?

[2021-02-03 21:12] amit4610 commented on #6383
6323 will fall under priority request too then ? @mstanton1

[2021-02-03 21:17] severinbeauvais commented on #6255
@jdyck-fw
Note for sprint retro: this ticket took at least 1 full day longer than estimated due to additional UX requirements.

[2021-02-03 21:39] mstanton1 opened #6385 "Make CP00000088 Historical in Coops Online"
#### ServiceNow incident:
INC0075098

#### Contact information
Staff Name: Amber Andresen
Staff Email: Amber.Andresen@gov.bc.ca

#### Description
Email from Amber:

Hello Service Desk,

Can this ticket please be directed to the Coops Online team?
We have made CP0000088 historical in COBRS by way of voluntary liquidation. Can this coop also be made historical in coops online?

Acceptance for a Task

[2021-02-03 21:44] mstanton1 commented on #6385
A request has been sent to Bob to run the job to load data from Cobrs into CPRD.

[2021-02-03 21:50] mstanton1 opened #6386 "Verify - 2 voluntarily dissolved coops are still showing as active on coops online- update required for CP88 and CP2347"
#### ServiceNow incident:
Not provided

#### Contact information
Staff Name: JH
Staff Email: JH
#### Description
Email from Julie:

I have two coops that have both been voluntarily dissolved.  Both coops sent paper filings to our office for voluntary dissolution, and we ledgered the documents, and placed them into voluntary dissolution status using COBRS.  This ledger and dissolved status has not

[2021-02-03 21:51] mstanton1 commented on #6386
Sent to Bob.

[2021-02-03 21:53] amit4610 commented on #6315
@sumesh-aot all yours for this week. Please let me know if you need to clarify any of these?

[2021-02-03 22:00] mstanton1 commented on #6165
FAQ's have been reviewed and approved in TEST. Update to production is pending.

[2021-02-03 22:00] janisrogers commented on #5453
@severinbeauvais @lmcclung The document Sienna made from the requirements discussion states:

Let’s send staff comments for an entity back to COLIN. Make sure the data can go back to COLIN, and be moved from COLIN to our new app when we move entities over.
Also this will be useful for bcomps that go back to colin when they alter to an LTD or ULC, so they don’t lose their comments.
Let’s make sure

[2021-02-03 22:00] #6326 closed

[2021-02-03 22:02] mstanton1 commented on #5688
@trishreimer I believe this was done. Can this be closed?

[2021-02-03 22:03] #5331 closed

[2021-02-03 22:04] amit4610 commented on #6327
Here's the final version: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3641

[2021-02-03 22:09] amit4610 commented on #6327
@trishreimer this is done

[2021-02-03 22:12] mstanton1 commented on #6195
@amit4610 has created two job aids that can be reviewed with the team (Zenhub 6326, Zenhub 6327)
@trishreimer has scheduled a meeting for Loren to present on Feb 4th.

[2021-02-03 22:12] #6195 closed

[2021-02-03 22:12] #6327 closed

[2021-02-03 22:16] mstanton1 opened #6387 "Onboarding Checklist Karthik Rammoorthy"
## Description: Complete the onboarding checklist for Karthik.

Onboarding Checklist available here: R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding\

Acceptance for a Task:
- [ ] Requires deployments
- [ ] Add/ maintain selectors for QA purposes
- [ ] Test coverage acceptable
- [ ] Linters passed
- [ ] Peer Reviewed
- [ ] PR Accepted
- [ ] Production burn in completed

[2021-02-03 22:28] mstanton1 commented on #6387
Form completed and set to IT Operations Support.

[2021-02-03 22:46] tlebedovich opened #6388 "Refund time text update for Cancel/Refund Modal"
Staff wants to let people know when they might receive their refunds for a cancelled name request.

Update the copy above the buttons and move buttons down accordingly.

New text:
The refund will be applied to your original payment method and the requested name will not be examined for use. Refunds are usually processed within 7 to 10 business days. An email confirming the cancellation and refund

[2021-02-03 22:47] lmcclung commented on #5453
@severinbeauvais  @janisrogers There is no requirement to sync comments back to COLIN.  We need to keep our scope tight.

Just wanted to have appropriate length fields so that when we migrate comments from COLIN they will come over without problems.

[2021-02-03 22:47] tlebedovich commented on #6388
@Kaineatthelab @forgeuxGH5 - We've added mentioned of the refund time to the existing Cancel & Refund NR modal. This is ready to go.

[2021-02-03 22:49] severinbeauvais commented on #5453
Cool. I implemented this with a 2000 char limit.

This story (and my tasks) don't mention COLIN syncing, so... not done.

[2021-02-03 22:55] lmcclung commented on #6185
I've tested this in Dev & Test.  Works fine.

[2021-02-03 23:00] lmcclung commented on #6309
We've got it in the test environment.  I checked and the link is working so yes, you can push it to prod tomorrow if you like.  I don't think we tagged it to a release because you team would be the ones pushing it to prod.

[2021-02-03 23:01] amit4610 commented on #5242
All docs updated

[2021-02-03 23:13] severinbeauvais commented on #6255
Hi Tracey.

Please review this in Dev. You can use any entity (but not an IA).

Note that you must be signed in with your IDIR -- https://dev.bcregistry.ca/business/auth/signin/idir

Then maybe check out CP0000834 or CP0000848 or BC1230074.

I will make any needed changes in #6257 so please add any comments there. Thanks!

[2021-02-03 23:14] tlebedovich commented on #6125
Also added in the usual turnaround time:

"If you need your name reviewed as quickly as possible, upgrade to a Priority request. Priority name requests are usually reviewed within 1 to 2 business days."

[2021-02-03 23:55] mstanton1 opened #6389 "FAQ CMS Page Updates"
## Description: Some older content needs to be updated on the CMS site. Review is needed to ensure all information is accurate.

1. Go through each Relationship FAQ in the link below and note updates.
2. Open any forms we link to. Compare forms against what we store in SharePoint. If the SharePoint form has been updated Genevieve will need an updated copy to put in CMS.
- [ ]https://www2.qa.gov.bc

[2021-02-03 23:55] mstanton1 commented on #6389
#1 has been completed and items have been sent to Genevieve.

[2021-02-04 00:07] tlebedovich commented on #5277
should we add ux assurance to this @Sienna-Blumstengel?

[2021-02-04 00:14] mstanton1 opened #6390 "Make Account Search Global"
* As a staff member with access to the Business Registry Dashboard
* I want the Account Management search to search accounts in all statuses
* so that I can locate a client account when they call or submit requests

**Acceptance Criteria**

**Scenario 1: Account is in Invitation State**
* GIVEN a staff member searches an account on the staff dashboard
* WHEN the account is in the invitation state

[2021-02-04 00:19] Milan-Freshworks opened #6391 "Wording on Account Info Screen"
**Describe the bug in current situation**
As a BCeID admin with a basic account, I checked the Account Info screen and the wording given is not correct.

![Screen Shot 2021-02-03 at 3.45.16 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/5c67602c-a492-4b53-a657-ed2e46d96f53)

As a BCeID admin with a linked premium account, I checked the Payment Method screen and the wording g

[2021-02-04 16:23] mstanton1 commented on #6309
@lmcclung I've added this into the release our team is doing today.

cc @sumesh-aot @saravanpa-aot

[2021-02-04 16:31] mstanton1 commented on #5884
For item one above reasons for suspension (as per collaboration with Wendy and Cameron):

- [ ] Account Ownership Change
- [ ] Account Ownership Dispute
- [ ] Court Order
- [ ] Fraudulent activity
- [ ] NSF

Items 2/3 above will not be addressed as the staff termination of an account has been removed from scope. No more work to be completed on this ticket.

[2021-02-04 16:32] #5884 closed

[2021-02-04 17:01] lmullane commented on #4119
@amit4610, can you advise if we can pull from a Prime creational whether or not an account has access to Vital Stats?

[2021-02-04 17:23] Sienna-Blumstengel commented on #5642
Kat:

[2021-02-04 17:25] #5242 closed

[2021-02-04 17:36] sumesh-aot commented on #6383
Updated the records on our side. But someone will need to trigger the NR on name request side,.

[code]

[2021-02-04 17:41] tlebedovich commented on #4363
@janisrogers @forgeuxGH5 - are there two versions of wires frames for this ticket? one from scott and one from janis? This one is scott's - but janis might have a more recent one? If so, please update the link above to the final version. I only designed the modal, so they will need the wireframes to know what to do for the registrar's notation once added.

[2021-02-04 17:44] amit4610 commented on #4119
Reply from Mihai on 22 July
"I checked some of the accounts in the CLIENT file and found that they contain a Y when they have access to Vital Stats.
This Y is in position 1539 of the CLIENT file."

[2021-02-04 17:45] tlebedovich commented on #5172
just added ux assurance, only if there is front end ui that needs review. otherwise disregard. thanks @cameron-freshworks

[2021-02-04 17:45] sumesh-aot opened #6392 "Adjust delinquent invoices to zero"
## Description:
Adjust delinquent invoices to zero.

Acceptance for a Task:
- [ ] Requires deployments
- [ ] Add/ maintain selectors for QA purposes
- [ ] Test coverage acceptable
- [ ] Linters passed
- [ ] Peer Reviewed
- [ ] PR Accepted
- [ ] Production burn in completed

[2021-02-04 17:53] cameron-freshworks commented on #5172
O right on, there is for sure.
There is a few dialogs that are mentioned in uxpin comments but don't have official verbiage, so those will need to be checked out :)

I'll ping you once this is in DEV!

[2021-02-04 17:58] mstanton1 commented on #6383
@Sienna-Blumstengel @Kaineatthelab can one of you please assign this to somebody on your team? They will need to push this into the queue to enable it to be examined.

[2021-02-04 18:02] mstanton1 commented on #6385
Bob has added a row in CPRD.Corp_State to set this entity to historical.

@Sienna-Blumstengel for this Co-op to show historical in the Business Registry data will need to be updated in legal in PostGres. Can you assign to somebody on your team?

[2021-02-04 18:05] mstanton1 commented on #6386
CP0000088 was made historical in CPRD in Zenhub 6385. CP0002347 has also now been made historical.

@Sienna-Blumstengel can you assign to sombody on your team to ensure the updated status is reflected in the Business Registry?

[2021-02-04 18:10] Kaineatthelab commented on #6383
Thor completed this.

[2021-02-04 18:10] #6383 closed

[2021-02-04 18:46] severinbeauvais commented on #6255
@forgeuxGH5 This is the ticket that needs UX review. Thanks!

[2021-02-04 19:14] areyeslo commented on #6251
The change in Lear related to effective date to insert sysdate if not effective date was included in Dev on Nov-04-2019:
https://github.com/bcgov/lear/commit/0a2700d81a2b40309063ae1295e09a9cc69ea63e

From the 132 records, all of them have date greater than this date (Nov 5th,2019 and August 21st, 2019). Those changes were to handled because the above change was not in place .

From the 132 records

[2021-02-04 19:30] lmcclung commented on #6143
@severinbeauvais sure.  Let's create a new ticket.  Will need to do it in the next couple of sprints.

[2021-02-04 19:33] lmcclung commented on #5453
@severinbeauvais perfect!

[2021-02-04 19:43] severinbeauvais commented on #5453
@lmcclung If Lear will not sync back to COLIN then there is no harm in Filings UI / Lear saving large comments. (ie, COLIN to Lear would limit comments to 2000 chars, and there is no Lear to COLIN.)
In this case, do you want to increase the staff comment size to 4096, or stick with 2000? (I'm still in that code so easy change.)

[2021-02-04 19:52] severinbeauvais opened #6393 "Entity UIs: update corp code to description mappings"
## Description:
The Filings UI, Create UI and Edit UI convert a "corp type" code to a text description. These need to be updated according to the following spreadsheet.
- [x] Filings UI
- [ ] ~Create UI~ _this ticket took long enough - this needs a future ticket_
- [ ] ~Edit UI~ _this ticket took long enough - this needs a future ticket_

Some of the existing code is duplicated in the Entity UIs (

[2021-02-04 19:52] severinbeauvais commented on #6143
#6393

[2021-02-04 19:55] lmcclung commented on #6094
Released Feb 3, 2021

[2021-02-04 19:55] #6094 closed

[2021-02-04 19:56] #6197 closed

[2021-02-04 19:57] #6198 closed

[2021-02-04 19:58] lmcclung commented on #6312
@Sienna-Blumstengel can you update and close ticket?

[2021-02-04 20:20] riyazuddinsyed opened #6394 "Unable to pay for the NR with staff login."
**Describe the bug in the current situation**
When a staff logs in with the idir while filing the Name Request then the payment page is not available meaning the staff cant pay for the NR

**Impact of this bug**
All staff filing the NR

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/business/auth/home/decide-business'
2. Sign in with idir
3. Go to Name Request
4.File the NR

[2021-02-04 20:40] forgeuxGH5 commented on #6257
Re: #6255
The only thing I noticed is the placeholder text "Enter Comments" seems lighter than Tracey's spec - I'm assuming this is the default Vuetify colour and, if so, we can change that as part of our global update when we get there.

Otherwise it looks good to me.

[2021-02-04 20:49] riyazuddinsyed opened #6395 "Filing with PAD account is not yet complete."
**Describe the bug in the current situation**
When a user pays for the filing using a PAD account that is newly created then the state of the filing is in the Draft state with a message saying that the account is in 3 days confirmation period but even though after 3 the state remains the same in Test.

**Impact of this bug**
All users filing with PAD account.

Steps to reproduce the behavior:
1. G

[2021-02-04 21:07] riyazuddinsyed opened #6396 "Unable to download the Receipts for PAD Account."
**Describe the bug in the current situation**
When a user files and completes a filing with the PAD account then the user is not able to download the Reciepts works all good with different payment options.

**Impact of this bug**
User filing with PAD account

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/business/TCwt9imYhE'
2. Login with BCREG0005
3. Go to Test acoount 1.0

[2021-02-04 21:13] areyeslo commented on #5757
Verified in test environment. The report contains the correct information for NR 2258680.

[2021-02-04 21:33] #6394 closed

[2021-02-04 21:36] jdyck-fw commented on #6396
@lmcclung to follow up with Relationships team to confirm we should be able to get a receipt.

[2021-02-04 21:37] amit4610 commented on #6263
Reply from Cheryl:

As Michael had mentioned before all BC Online clients must compete our change form(s) ( Change Account name ) *, if the account has an electronic method of payment ( they also have to select payment options ) and change the bank account as well, before we move forward. Our auditors have strict requirements that an account name must match the name on the bank account exactly.

P

[2021-02-04 21:39] severinbeauvais commented on #5453
Per Linda:

So no change required. Currently we have:
- [the UI limits the staff comment to 2000 chars](https://github.com/bcgov/business-filings-ui/blob/67a527272a474f70c3a055cffe58ece4c4cf737c/src/components/EntityInfo.vue#L49)
- [the comment schema allows 4096 chars](https://github.com/bcgov/business-schemas/blob/master/src/registry_schemas/schemas/comment.json)
- the API and db allow 4096 char

[2021-02-04 21:39] jdyck-fw commented on #6395
@lmcclung - To bring up at the BA Guild to clarify process

[2021-02-04 21:41] #6343 closed

[2021-02-04 21:46] areyeslo commented on #5866
Checked with @cameron-freshworks , the ticket is moved back to be checked by the relationships team

[2021-02-04 21:46] tlebedovich commented on #6163
awaiting final copy approval of bullet points after staff feedback

[2021-02-04 21:49] jdyck-fw commented on #6317
@riyazuddinsyed  - Will include a link to the sentry error here.

[2021-02-04 21:53] kialj876 commented on #5976
@lmcclung I have filed the AR. This is ready for the no fee director change now

[2021-02-04 22:03] #4934 closed

[2021-02-04 22:04] severinbeauvais commented on #6257
^^ I fixed this in #6257.

[2021-02-04 22:19] areyeslo commented on #6036
The behavior is correct in Test environment.

[2021-02-04 22:30] lmcclung commented on #5976
Emailed staff to complete.

[2021-02-04 22:31] Kaineatthelab commented on #6188
FYI the work is on hold and not proceeding as well as the restricting team members

[2021-02-04 22:32] Kaineatthelab commented on #5729
This work is stopped.

[2021-02-04 22:32] Kaineatthelab commented on #5737
work stopped

[2021-02-04 22:44] sumesh-aot opened #6397 "CGI EJV - Calculate business day"
## Description:
For CGI EJV file name, the date has to be a business day. Any files with dates which fall under saturday, sunday and stat holidays won't be processed.

Asked clarification from CAS team on below 2 questions;
- Whether effective date in JAV has to be a business day
- Whether we can upload JV files on non-business days with a business date file name.

Acceptance for a Task:
- [ ] Req

[2021-02-04 22:52] Sienna-Blumstengel opened #6398 "MACUSH LAW CORPORATION - BC1256731 - Alteration LTD > BEN"
**Affiliation info (mandatory - BC Registries account name or BCOL a/c):** 540111

**Company email (mandatory):** james@macushlaw.ca

**Company phone (optional):** n/a

**Filing date (date/time received at Registries. If email, time email received. If mail, time scanned document received):**  January 31, 2021 at 6:36PM

**Future Effective date (if different from filing date):** N/A

### ~Name requ

[2021-02-04 22:52] lmcclung commented on #5976
@kialj876 please add estimate and close.

[2021-02-04 23:48] mstanton1 commented on #6222
Estimated based upon not having the ability to bcc (and having to build this out).

[2021-02-04 23:52] forgeuxGH5 opened #6399 ""Draft" Alteration Filing view of Business Dashboard To Do - UI Design"
Users can resume alteration of company information.
They will resume/delete their changes in a similar manner to Co-op Annual Report filings.

## Wireframes
https://preview.uxpin.com/62ac91b2c4745163586b730ec154e8ea024bd8ed#/pages/133498721

## Visual Design

[2021-02-05 00:01] jdyck-fw commented on #6033
Closed with Kaine to see if this ticket was still impactful, turns out it is. Re-opened.

[2021-02-05 00:04] areyeslo commented on #6256
Testing should wait to have this PR merged (which is related to UI):
https://github.com/bcgov/business-filings-ui/pull/182

[2021-02-05 00:05] pwei1018 opened #6400 "The company status shows 'HIS' for all records when export xls file from director search"
**Chance of Occurring (high/medium/low/very low)**
high

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'director search'
2. Click on 'search' by any values
3. Scroll down to 'result' and pick the 'Active/Historical' show column option
4. Hit the 'Export' button and download the excel file
4. See error in Company Status column

[2021-02-05 00:05] pwei1018 commented on #6400
Fixed

[2021-02-05 00:15] mstanton1 commented on #6287
Job aids created. Presentation given to BCOL Admin today, Thursday Feb 4th, 2021.

[2021-02-05 00:15] #6287 closed

[2021-02-05 00:25] mstanton1 commented on #3242
This can be closed. As decided, with feedback from Ian, we will proceed with the design provided by Jeremy which covers the newer products.

https://preview.uxpin.com/d70ee276a0195de56d820eb8c2447555cf9ccc66#/pages/130628990/simulate/sitemap

[2021-02-05 00:25] #3242 closed

[2021-02-05 00:36] trishreimer opened #6401 "Send SBC All FAQ's"
Send SBC Regional office (Jamie and Crystal) links to all FAQs.

[2021-02-05 00:44] tlebedovich opened #6402 "Notice of Alteration - PDF Output Visual Design"
### Notice of Alteration PDF Output

- Use existing template for IA/NOA outputs as starting point

**Nice to have:**
- There may be some updates to text sizes like we did with the NR results template (current template's text sizes are smaller than we want)
- Build based on existing templates, then Tracey can tag any text that should increase in size
- If text size updates are a simple global chang

[2021-02-05 00:50] forgeuxGH5 opened #6403 "Staff Alteration for an entity, with plan of arrangement and court order number - UI DESIGN"
Staff can file an alteration for a company
They need be able to:
Enter client name as the certifying party and certify
Enter either a court order number or a court order number and indicate a plan of arrangement
Pay using the standard staff payment component

## Wireframes
https://preview.uxpin.com/fac96ab3f3769b5940b0444784eb73a2b2606b0e#/pages/136185032

## Visual Design
TBD

[2021-02-05 00:53] Milan-Freshworks opened #6404 "Staff not able to remove an invitation"
**Describe the bug in current situation**
IDIR - On the invitation tab, when I tried to remove a record, I got a 401 even when my user has all the roles assigned.

![Screen Shot 2021-02-04 at 1.33.42 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/27d86414-dbd6-4903-9b4f-fa2727e39f1c)

[2021-02-05 04:45] lmcclung commented on #4708
Is this story still required?

[2021-02-05 06:08] forgeuxGH5 opened #6405 "Staff Payment for Name Request - UI Design"
## Wireframes
https://preview.uxpin.com/8dbd9c375b63cf8ab56cd2b6b4de1b7d16fc2d2e#/pages/136186848

## Visual Design

[2021-02-05 16:08] Kaineatthelab commented on #4708
I think you and sienna created a new pay one for this?

[2021-02-05 16:15] mstanton1 opened #6406 "Access to business registry apps for returning staff member Yasmin Bellanger"
#### ServiceNow incident:
N/A

#### Contact information
Staff Name: Yasmin Bellanger
Staff Email: Yasmin.Bellanger@gov.bc.ca

#### Description
Email from IT Operations Suppport
Please grant access to cooperatives online and benefit companies for Yasmin Bellanger. Her IDIR is YWOLF. She is a Registries Analyst on Cameron’s team.

Acceptance for a Task:
- [ ] Requires deployments
- [ ] Add/ maintain

[2021-02-05 16:23] mstanton1 commented on #6406
I have sent an email to Yasmin requesting she sign on in TEST and PROD. I will complete the access request once that is done.

[2021-02-05 16:24] mstanton1 commented on #6100
Wael has confirmed that the SN configuration items agreed upon above have been added.

[2021-02-05 16:24] #6100 closed

[2021-02-05 17:16] trishreimer opened #6407 "Create FAQ's for Registry Staff, Help Desk & Public for new Names Request app - BCOL USERS"
An announcement will be posted next week to advise BCOL users of the new names request app. FAQ's are needed to help answer questions about this change.

Create FAQ's for staff and the help desks and for the web.

[2021-02-05 17:18] trishreimer opened #6408 "Setup Engagement Session with Clients interested in API's (names, PPR, entities, payment, auth) and also using the UI for Registry Services"
Setup Engagement Session with Clients interested in API's (names, PPR, entities, payment, auth) and also using the UI for Registry Services

 Book session, create slides, send invite, etc.

[2021-02-05 17:20] doug-lovett commented on #6157
Assigning to myself for the API backend portion of this task.

[2021-02-05 17:23] amit4610 opened #6409 "NR refunds Feb 04-10"
## Description:
1. NR 5996008 - please check if the client was double charged. Return the extra fee, should be just 1 charge after refund. **New ticket for Sprint 50 6583**
2. NR 6201340 - client was charged 3 times. There should be only 1 charge after refunds. **CASHelp has advised Looked in the PayBC Tables and these are all showing as pending which usually means no payment confirmation was rece

[2021-02-05 17:25] doug-lovett commented on #6158
This task is completed. Reviewed as part of 6345.

[2021-02-05 17:27] Milan-Freshworks commented on #6043
It has been tested and verified and the fixes would be completed in the bug ticket so moving it to done.

[2021-02-05 17:27] Milan-Freshworks commented on #6259
It has been tested and verified.

[2021-02-05 17:31] lmcclung opened #6410 "SPIKE: Schemas for Incorporations across entity types"
We need to identify what information is included in a filing and where this information is stored on the oracle database.  Run SQL queries on the following filing types in oracle:

ICORP - Incorporate a Company
ICORC - Incorporation Application for a CCC
ICORU - Incorporate a BC ULC Company
CONTI - Continue a Company into BC
CONTC - Continuation Application for a CCC
CONTU - Continue a BC ULC Comp

[2021-02-05 17:31] mstanton1 commented on #6406
Access has been granted in TEST and PROD. Yasmin has been added to 'Search' and 'Viewer' groups.

[2021-02-05 17:31] #6406 closed

[2021-02-05 17:34] lmcclung commented on #5683
Staff have completed amended annual report in COBRS.  Need to bring over from COBRS.

[2021-02-05 17:40] #5976 closed

[2021-02-05 17:42] forgeuxGH5 opened #6411 "Link on Business Registries Home page " Make sure a Benefit Company is right for you." has no target page."
Link on Business Registries Home page " Make sure a Benefit Company is right for you." has no target page. Looks like the page moved - I'm not sure what the new target page is
**![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/91f55a8e-7fd9-48ef-b359-e26bdfaf6242)**

[2021-02-05 17:45] #5632 closed

[2021-02-05 17:46] amit4610 commented on #5632
Will create a separate task for statements and transactions video

[2021-02-05 17:47] amit4610 opened #6412 "Video - Transactions and statements"
## Description:

1. Transcript
2. Record video
3. Incorporate reviewer comments
4. Edit video

Acceptance for a Task:
- [ ] Requires deployments
- [ ] Add/ maintain selectors for QA purposes
- [ ] Test coverage acceptable
- [ ] Linters passed
- [ ] Peer Reviewed
- [ ] PR Accepted
- [ ] Production burn in completed

[2021-02-05 17:58] jdyck-fw commented on #5274
4634 - Design ticket

[2021-02-05 18:24] gh20s commented on #6410
Alright - I think I have a good idea of where to start. I am going to noodle around the DB a bit and think about it today. I am sure I will have some clarifying questions I will write down as I go and ideally Monday I can ask and we can discuss the best way to put the info together?

[2021-02-05 18:30] lmullane commented on #6042
No longer needed.

[2021-02-05 18:30] #6042 closed

[2021-02-05 18:40] Sienna-Blumstengel opened #6413 "UI - Make Court order / Plan of Arrangement component"
## Description

- [x] Build it in the alteration filing
- [x] Plumbing (add new data to the filing for saving, resuming, etc)
- [x] Make it a shared component - add to story book
- [x] Import it back into the alteration filing

* See field requirements in story
  - [x]  Also, make sure that the field requirements meet whatever requirements are in COLIN. See the story, int he comments Linda added a

[2021-02-05 18:49] sumesh-aot commented on #6325
@rkim13103 Decoded message from the URL would be like below for above scenarios;
- PLEASE TRY AGAIN
- Declined
- Invalid Card Number
- Application Error - Sending Request
- Call for Auth
- Transaction timeout - No available device
- Response from Beanstream is invalid due to modifications of parameters sent
- Validation Error
- Payment Canceled
- Duplicate Order Number - This order number has alre

[2021-02-05 18:59] Sienna-Blumstengel opened #6415 "Schema - Add Court Order and Plan of Arrangement"
See Linda's comment in the story for the schema. Match COLIN requirements.

Update Schema unit tests

[2021-02-05 19:00] Sienna-Blumstengel opened #6416 "LEGAL API - Court Order and Plan of Arrangement"
See requirements in story

- [x] update validator
- [x] database changes

[2021-02-05 19:00] Sienna-Blumstengel opened #6417 "COLIN API - Court Order and Plan of Arrangement"
The structure of courtOrder is:

- courtOrder
  - fileNumber (required)
  - orderDate (optional)
  - effectOfOrder (optional)

Colin job should update Colin-api as following:
- court_order_num with fileNumber
- orderDate is optional and it is not being used currently
- arrangement_ind with 'Y' in case effectOfOrder is not empty or 'N' otherwise. When retrieving the filing from colin-api, if arrang

[2021-02-05 19:18] severinbeauvais commented on #6255
## Test Notes

This can be tested in Dev for any business (CPxxx or BCxxx) (not IAs).
This feature should display only for staff users (logged in with IDIR).

[2021-02-05 19:21] severinbeauvais commented on #6257
## Test Notes

This shared component has been imported into Filings UI and can be tested there in Dev (see #6255).

You can also test this component in Storybook! https://bcgov.github.io/bcrs-shared-components/?path=/story/component-staffcomments--default

[2021-02-05 19:32] mstanton1 commented on #6389
Documents were updated slightly in our SP site, then saved as PDF's and sent to Genevieve for uploading to CMS.

[2021-02-05 19:43] Sienna-Blumstengel commented on #6236
Linda will bring this up in PO Sync

[2021-02-05 19:46] Sienna-Blumstengel commented on #6232
@amit4610 @sumesh-aot are there any existing fee codes for the assets team?

[2021-02-05 19:50] Sienna-Blumstengel commented on #6234
@janisrogers to ask the team if this is enough info to groom this ticket

[2021-02-05 19:52] Sienna-Blumstengel commented on #6395
The confirmation period starts the day **after you create your account**

Example, create account Monday. Confirmation period is tues, weds, thurs, then payment goes through Friday.

[2021-02-05 19:55] Sienna-Blumstengel commented on #6396
@mstanton1 to confirm if we have implemented a receipt for PAD that is available for use on the dashboard.

@riyazuddinsyed to retry and wait a bit longer.
Example, create account Monday. Confirmation period is tues, weds, thurs, then payment goes through Friday.

[2021-02-05 20:05] amit4610 commented on #6234
@pwei1018 Can we pull a list of fee codes for PPR?

[2021-02-05 20:27] amit4610 commented on #6234
47    SERCH    PPR    EN110    2020-04-16                TRF01
48    FSREG    PPR    EN111    2020-04-16                TRF01
49    INFRG    PPR    EN112    2020-04-16                TRF01
found three

EN110    7.0
EN111    5.0
EN112    500.0

Thanks @pwei1018

[2021-02-05 20:28] lmcclung commented on #6410
Sounds great.  I added a few more to the list.  I've created a spreadsheet and will stick it on sharepoint.  On Monday we can see if it will work.

[2021-02-05 20:34] rarmitag commented on #5683
Bob runs a job every Tuesday that brings data from COBRS to colin. I will look at the data then.

[2021-02-05 20:39] Kaineatthelab opened #6418 "SRE Team - Create new URLs for Registries and PPR"
Request and create new URLs for Registry Home Page and PPR mapped as below. Consideration wil have to be given on the reditrects in place for names, coops, and current bcregistry.ca/.... Document that strategy.

bcregistry.gov.bc.ca >> bcregistry.gov.bc.ca/business >> bcregistry.gov.bc.ca/ppr

Request to be issued in Sprint 49

[2021-02-05 20:46] Kaineatthelab commented on #6418
@lmcclung @Sienna-Blumstengel @jyoti3286 @mstanton1 @lmullane fyi

@forgeuxGH5 can you put a link in here for the URL "mapping" so I can send for Carols approval

[2021-02-05 21:14] amit4610 commented on #6005
Removed USB card
Added login options - BCSC and BCeID
Added account type
Added payment methods with details

Link: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3644

[2021-02-05 21:15] amit4610 commented on #6005
@Sienna-Blumstengel Please use the link above to update the entities part

[2021-02-05 22:02] jyoti3286 commented on #6047
@severinbeauvais @Kaineatthelab - Which release this would be part of? Its currently tagged to an older release

[2021-02-05 22:10] Sienna-Blumstengel opened #6419 "CP193 - Dawson Co-operative Union - Passcode issues"
#### ServiceNow incident: INC0075879
#### Contact information
Staff Name: Julie Harding
Staff Email:julie.harding@gov.bc.ca

#### Description

Email from IT Ops:

#### Tasks
- [x] When ticket has been created, Steven to post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Assign

[2021-02-05 22:31] areyeslo commented on #6256
This change is found working correctly. The dependent PR is merged.

[2021-02-05 23:16] severinbeauvais commented on #6047
I removed the release.

[2021-02-05 23:17] trishreimer commented on #6005
@Sienna-Blumstengel I will create another ticket to update the coops and bcomp job aides for SBC. At this time, it's not a priority.

SBC asked for the FAQ's, which I will resend today...they're going to review the FAQs to see what other  support docs/updates may be needed.

[2021-02-05 23:17] #6005 closed

[2021-02-05 23:20] trishreimer opened #6420 "Update SBC Regional Office Job Aide - Coops and BCOMPs"
Update SBC Regional Office job aides for BCOMPs and COOPs

Here is the link to the SBC Job Aide SharePoint:
https://intranet.gov.bc.ca/thehub/tools-and-resources/service-delivery-job-aids/corporate-registry

This is not a priority at this time.

We are sending SBC the FAQ's for all teams and releases. Crystal and Jamie will review and decide what additional content or updates are needed but at som

[2021-02-05 23:20] #5688 closed

[2021-02-05 23:35] mstanton1 opened #6421 "Next Steps: Otter Farm & Home Co-operative CP0002067 - new passcode needs to be generated"
#### ServiceNow incident:
N/A

#### Contact information
Staff Name: Julie Harding
Staff Email: Julie.Harding@gov.bc.ca

#### Description
Email from Julie:

Hi Melissa,

I got an email yesterday from the Executive assistant Merilee McAuley at CP0002067 OTTER FARM & HOME CO-OPERATIVE.  Previously you were assisting me in the below emails.  We were attempting to have the existing account holder add t

[2021-02-05 23:36] mstanton1 commented on #6421
@pwei1018 can you please unaffiliate CP0002067 from the existing account Otter Farm & Home Co-operative and then generate a new passcode? Please tag me when complete.

[2021-02-08 16:16] mstanton1 opened #6422 "Inquiry about incorporating a Benefit Company"
#### ServiceNow incident:
N/A

#### Contact information
Staff Name: Myra Noviello
Staff Email: Myra.Noviello@gov.bc.ca
#### Description
Email from Myra:

Hi Sienna!
Thank you for these!

We uploaded this template into an email but before we sent it over to IT ops to get added in as a email macro I checked the links and noticed link #4 below is a broken link and link #5 is about cooperatives. Can y

[2021-02-08 16:27] Sienna-Blumstengel opened #6423 "Improve Namex Transaction History messages"
## Description
The transaction history in NameX isn't very useful, and has technical jargon. We should make it more like what is currently displayed in SOFI NRO, specifically explaining what is changing and when. These messages will be more useful to staff. We need this before NRO is decommission.

## For analysis
- [x] Find different name requests in NameX test
- [x] Go to SOFI, go to NRO tab, vi

[2021-02-08 16:31] mstanton1 commented on #6422
Updated link for mobile card: https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/log-in-with-card/mobile-card

Updated link for Account set up job aid: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={FADDD4DC-4953-405F-8332-FF1BE10B28E3}&file=Account%20setup%20Job%20Aid.docx&action=default

[2021-02-08 16:35] mstanton1 opened #6424 "Create Escalation Matrix for IT Ops"
#### Description
IT Operations Support is the escalation point for BC Registries and Online Services staff and the BC Online Help Desk. With new payment functionality being launched soon IT Operations Support will need information on which group to assign a ticket to.

A matrix, with types of issues that could come up and who to escalate to is required.

Acceptance for a Task:
- [ ] Requires deplo

[2021-02-08 16:35] cameron-freshworks commented on #5866
@sumesh-aot I've had a look into this, but can't seem to figure out why the redirect fails after logging out.
It appears that the KC token is cleared, and upon a page refresh the user is logged out, however it fails to redirect back to Name Request page if we navigating to Name Request from Auth-Web.

[2021-02-08 16:36] mstanton1 commented on #6424
Draft matrix completed. This has been sent to Trish, Loren, Linda and Kaine to review and update before it can be sent to IT Ops.

[2021-02-08 16:58] pwei1018 commented on #6421
@mstanton1 Done.

[2021-02-08 17:04] #6421 closed

[2021-02-08 17:04] mstanton1 commented on #6421
Patrick has provided a new passcode. I have given this information to Julie.

CP0002067 new passcode is 233030261

[2021-02-08 17:13] sumesh-aot opened #6425 "Update invoice and payments for PayBC bug impacted transactions"
## Description:
Update invoice and payments for PayBC bug impacted transactions

Acceptance for a Task:
- [ ] Requires deployments
- [ ] Add/ maintain selectors for QA purposes
- [ ] Test coverage acceptable
- [ ] Linters passed
- [ ] Peer Reviewed
- [ ] PR Accepted
- [ ] Production burn in completed

[2021-02-08 17:18] #6072 closed

[2021-02-08 17:29] #5954 closed

[2021-02-08 17:29] #6043 closed

[2021-02-08 17:29] #6259 closed

[2021-02-08 17:38] Sienna-Blumstengel commented on #6312
- [ ] Sent draft of onenote updates to Cameron, waiting to see if he would like updates
- [ ] .. can't remember why, but i think we decided against public FAQ? Info is super basic. Maybe a modernization post?
- [ ] Cameron says no changes to COVID AGM Extension message

[2021-02-08 17:42] #6419 closed

[2021-02-08 17:50] #5169 closed

[2021-02-08 17:58] janisrogers commented on #6234
@thorwolpert can you fill in the appropriate details for this?

[2021-02-08 18:00] janisrogers commented on #6232
Fee codes from Amit:

47 SERCH PPR EN110 2020-04-16 TRF01
48 FSREG PPR EN111 2020-04-16 TRF01
49 INFRG PPR EN112 2020-04-16 TRF01
found three

EN110 7.0
EN111 5.0
EN112 500.0

[2021-02-08 18:16] Sienna-Blumstengel commented on #6418
@Kaineatthelab just confirming that there will be redirects from bcregistry.ca, so there will be no impact for OCM activities?

[2021-02-08 18:37] tlebedovich commented on #5179
@forgeuxGH5 - Do we need to show a design/wires for this?

[2021-02-08 18:37] mstanton1 opened #6426 "Give BC Registries and Online Services Staff the ability to support suspended accounts"
* As a BC Registries and Online Services staff, BCOL Admin, SBC Finance, or Registries Admin
* I want the ability to suspend client accounts, and view suspended accounts
* so that I can support BC Registries clients

**Acceptance Criteria**

**Scenario 1: BC Registries and Online Services staff, BCOL Admin, or SBC Finance and Registries Admin can suspend account**
* GIVEN I click view beside an ac

[2021-02-08 18:41] mstanton1 opened #6427 "Update Keycloak Groups Spreadsheet"
## Description: Update the Keycloak Groups spreadsheet to include the new group created for support of suspended accounts.

https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={E289ED86-2E31-4C99-A08F-14A0A2CB165B}&file=Keycloak%20Groups%20Nov%202020.xlsx&action=default

Once the group is added a review is needed to ensure that this group is granted to the ap

[2021-02-08 18:45] mstanton1 commented on #6325
@sumesh-aot can you please update the estimate based upon the change to the designs? Any questions on design can be discussed with @rkim13103.

[2021-02-08 18:49] tlebedovich commented on #6403
@forgeuxGH5 - See visual designs above for your review (Staff payment and Court Order)

[2021-02-08 19:09] #6245 closed

[2021-02-08 19:24] amit4610 opened #6428 "Design for receipt for PAD"
## Description:

Create design for receipt for 5776 showing payment status -
1. "pending" when payment is in progress and
https://preview.uxpin.com/7943b481e252f700ef635c8f9a60fc76107cdba3#/pages/136386649
2. "paid" when payment is received
https://preview.uxpin.com/7943b481e252f700ef635c8f9a60fc76107cdba3#/pages/136315323
If there is multiple transaction paid:
Page 1: https://preview.uxpin.com/79

[2021-02-08 19:25] tlebedovich commented on #4363
@forgeuxGH5 - I think all we can share for the Court Date common component (on Review and Certify Alteration page) are the fields themselves.

[2021-02-08 19:45] mstanton1 opened #6429 "Generate Passcode in Openshift"
## Description: Generate entity passcode in openshift.

Currently passcodes are generated in CPRD (legacy app database for BCROS). Once generated a new passcode needs to be reflected in PostGres. With passcode reset moving into the Business Registry it is necessary to develop the ability to

Acceptance for a Task:
- [ ] Requires deployments
- [ ] Add/ maintain selectors for QA purposes
- [ ] Test

[2021-02-08 19:55] mstanton1 commented on #6396
@Sienna-Blumstengel @riyazuddinsyed this will be addressed next sprint when we complete work on 5776.

[2021-02-08 19:58] mstanton1 opened #6430 "CP2142 historical in Coops Online / Process Question"
#### ServiceNow incident:
INC0075732

#### Contact information
Staff Name: Amber Andresen
Staff Email: Amber.Andresen@gov.bc.ca

#### Description

Good afternoon Service Desk,

Can this ticket please be directed to the coops online team?

CP2142 was dissolved for voluntary liquidation last year. Can this please be made historical in coops online as well? We also have a couple of questions regardin

[2021-02-08 19:58] janisrogers opened #6431 "Set up automated testing for PPR Search"
Need to set up automated testing for PPR search so that efficacy can be tested and retested as algorithm changes. Mostly needed for the debtor name search, but might be worth setting up for other search types as well.

Might be worthwhile to use past searches for comparison.

 - [x] Set up discussion on approach
 - [x] Document approach -  [Testing Plan for PPR Search](https://docs.google.com/docu

[2021-02-08 20:00] mstanton1 commented on #6430
@Sienna-Blumstengel this is similar to 6385 and 6386 which you were following up on. Amber is wondering whether updates will automatically be made across apps or whether they should raise tickets.

Can you please follow up once you have more information?

[2021-02-08 20:01] tlebedovich commented on #6164
@janisrogers @forgeuxGH5 - hi guys - just confirming that we only want to show the "Submitted Date:" on the Summary screen UNTIL a decision has been made. It this true, or do we want the Submitted date to be shown all the time for all NR Summary screens regardless if a decision has been made?

[2021-02-08 20:12] pwei1018 commented on #6380
Verified the oracle connection is open in auth namespace  with search api.

[2021-02-08 20:25] sumesh-aot commented on #6315
- `NR 8937569` : There are 2 transactions for this; 31.5 and 101.50. Which one to refund?
- `NR 5550606` : We don't have a payment for this, not sure why the ticket says done already ?
- `NR 4186767` : Already on refund requested state as part of ticket #6310
- `NR 4516011' : Already on refund requested state as part of ticket #6310
- `NR 6160304` : No payment has been received. Do we know if cust

[2021-02-08 20:25] mstanton1 commented on #6389
#2 has been completed. I have confirmed the link updates.

[2021-02-08 20:25] #6389 closed

[2021-02-08 20:25] sumesh-aot commented on #6315
@amit4610 @mstanton1 Please check ^^

[2021-02-08 21:02] Sienna-Blumstengel commented on #6348
[Drafted](https://docs.google.com/document/d/1g147VYf1YWSPvcBJVsc-shTpnO74f4WyDns-H_60gCU/edit?usp=sharing), scheduling meeting with Joanna & Trish to review

[2021-02-08 21:12] mstanton1 commented on #6315
@sumesh-aot I've addressed most of the questions below. @amit4610 will need to provide input on one. Similarly, one item I've had to reach out to the business about.

NR 8937569 : There are 2 transactions for this; 31.5 and 101.50. Which one to refund? _Refund both._
NR 5550606 : We don't have a payment for this, not sure why the ticket says done already ? @amit4610 please advise?
NR 6160304 : No

[2021-02-08 21:24] tlebedovich commented on #5475
@Sienna-Blumstengel @forgeuxGH5 @lmcclung - Before we move this into a Sprint, we should review the designs and see if we need to refresh the estimate. In the visual designs - I had created separate sections for the "Certify" component and the "Alterations Document delivery" component (the wires show them in a combined component). Assuming we are going to keep them as two separate components as pe

[2021-02-08 21:25] tlebedovich commented on #5475
ps I pulled them into two components a long while back - just so the documents delivery didn't get lost, and because it pertains to the filing as a whole versus specifically to Certify.

[2021-02-08 21:30] amit4610 commented on #6315
NR 5550606 was in the list of refunds on Jan 25th. @sumesh-aot @mstanton1
I will tell IT Ops that these are done. Thanks.

[2021-02-08 21:37] tlebedovich commented on #5475
Here is what the live Certify component looks like in the IA for reference:
![Screen Shot 2021-02-08 at 1.36.04 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/34e1b307-c765-476d-a65d-25294c1166cd)

[2021-02-08 21:48] mstanton1 commented on #5866
@sumesh-aot @saravanpa-aot based upon the comment from Dec 11th it sounds like we are losing stored session info when moving from Entities to Names. Would this be due to having different apps in different namespaces? Trying to figure out if this should be prioritized for fix - or whether this is another reason to reassess putting apps into the same namespace sooner.

[2021-02-08 23:12] Sienna-Blumstengel commented on #4923
@forgeuxGH5 @lmcclung Could you please review my content on line 22 of [this spreadsheet](https://docs.google.com/spreadsheets/d/17wMY9znmWMr2RoXH9S2elffC8uE7iifUGB5Hu3VVFpE/edit?usp=sharing)?

The email specifically instructs them on how to alter their business to a benefit company (because I think that's the only reason we are affiliating entities to our new app right now). It doesn't give them

[2021-02-08 23:30] lmcclung opened #6432 "NRs that need to be pushed to draft due to PayBC pending payments bug"
The following NRs need to be pushed from Payment Pending to Draft **if they are still in payment pending**

[https://app.zenhub.com/files/157936592/ec1bbacd-3560-4cdf-a709-16daef0a847d/download](https://app.zenhub.com/files/157936592/ec1bbacd-3560-4cdf-a709-16daef0a847d/download)

Document how you did this as we'll have more of these coming until the fix comes in on Sunday.

[2021-02-08 23:32] kialj876 opened #6433 "sbc header signout doesn't clear CURRENT_ACCOUNT info"
### Description
Log out doesn't clear CURRENT_ACCOUNT info in session storage so auth header still shows account info in header even though you are technically logged out (no keycloak token etc.).

[2021-02-08 23:43] Sienna-Blumstengel opened #6434 "Watershed Co-operative Housing Association CP0001242 - 2019 AR missing from filing history"
#### ServiceNow incident:
**INC0076158**
#### Contact information
Staff Name: Julie Harding
Staff Email: julie.harding@gov.bc.ca

#### Description
Email from Julie:

EMail from client:

#### Tasks
- [x] When ticket has been created, Steven to post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zen

[2021-02-09 00:47] lmcclung commented on #4923
I think your email is fine.  But maybe we could update the acceptance criteria so that it is only triggered when a BC LTD or BC ULC is affiliated by dev.

[2021-02-09 01:00] jdyck-fw commented on #4955
The "task-or-ops" template in GitHub is now updated to match this ticket description.

[2021-02-09 16:04] Sienna-Blumstengel commented on #6236
Another IT Ops request to fix email validation: **INC0076174**

[2021-02-09 16:54] severinbeauvais commented on #6289
Some things I've done/doing in this ticket:
- UI flow drawing
- UI-API drawing

[2021-02-09 17:09] Kaineatthelab opened #6435 "API - Individual Search"
- [ ] Includes Schema Changes

[2021-02-09 17:09] Kaineatthelab opened #6436 "UI Individual Search"
3 Search Boxes
- [ ] Last Name - First Name - Middle Name
- [ ] Language US7A restrictions

[2021-02-09 17:11] Milan-Freshworks commented on #5662
It has been tested and verfied.

[2021-02-09 17:13] Milan-Freshworks commented on #6384
@shabeeb-aot As discussed during stand up, "My Account" in the email should be a dynamic field with the name of the account appearing there.

[2021-02-09 17:24] severinbeauvais commented on #5187
I pulled up BC1218851 in Dev (per example above) and could not reproduce this issue.

[2021-02-09 17:30] Kaineatthelab opened #6437 "UI - Business Search"

[2021-02-09 17:30] Kaineatthelab opened #6438 "API - Business Search"
Current Character Limit 70 characters (not limited by regulations)
New needs longer set which is 150 now

[2021-02-09 17:36] Kaineatthelab opened #6439 "UI - VON API"

[2021-02-09 17:50] cameron-freshworks commented on #5172
Hey @tlebedovich, to get into a Ltd for UX testing, you will need to log in with bcreg0018/98918 and then go to this link.

https://business-create-dev.pathfinder.gov.bc.ca/businesses/edit/BC1230072/alteration

Currently the ability to launch Alterations are hidden so until we complete the work in the filings ui, you will need to take this back door.

Let me know if you need help here!

[2021-02-09 17:54] Kaineatthelab opened #6440 "UI - Registration Number"

[2021-02-09 17:54] Kaineatthelab opened #6441 "API - Registration Number"
Develop API registration number search SQLAlchemy model
 Create model unit tests and database unit test data
 Create API endpoint unit tests

[2021-02-09 17:56] rarmitag commented on #4903
Kaine asked me to update the code in our openshift and check to see what this does.
It is currently a stand-alone Vue app that provides a user with suggestions for the type of business the user should choose.
To integrate this into our app there are two paths:
1: Copy the code into our existing names request app, access by internal (to app) routes
2: Create it's own pod. this would require a new p

[2021-02-09 18:06] severinbeauvais commented on #3389
Note:
https://stackoverflow.com/questions/5751585/how-do-i-rename-a-repository-on-github/5751588#5751588

[2021-02-09 18:33] areyeslo commented on #6138
The change has been validated in Dev. The `Cancel and Refund` button appears when the request is under Draft state. Otherwise, the button is not in the UI. Richmond Plumbing Solutions Ltd. was used during the testing, when updated requests.state_cd to INPROGRESS, the button is not there.

[2021-02-09 18:40] severinbeauvais commented on #4624
The above have been fixed and deployed to Dev.

[2021-02-09 18:44] thorwolpert commented on #6251
Done in prod

[2021-02-09 18:44] #6251 closed

[2021-02-09 18:45] thorwolpert commented on #6432
Done

[2021-02-09 18:45] #6432 closed

[2021-02-09 18:53] severinbeauvais commented on #6289
Vue Mixins vs Plugins vs Composition API references:

https://stackoverflow.com/questions/50474317/vue-js-components-vs-plugins-vs-mixins
https://medium.com/@victorlucss/component-vs-mixins-vs-plugins-in-vue-js-6a8bce29d6ec
https://medium.com/@denny.headrick/mixins-and-plugins-in-vuejs-ecee9b37d1bd
https://www.reddit.com/r/vuejs/comments/9gtzeq/should_i_be_using_vue_mixins_extends_or_vuex_to/
http

[2021-02-09 19:58] #6240 closed

[2021-02-09 20:07] tlebedovich commented on #5028
@Sienna-Blumstengel @lmcclung @forgeuxGH5 - The Name Translation component needs some visual design updates to bring it up to AA compliance and meet our UX Assurance - are we able to make some updates when doing this ticket so the components more closely match the design intent for the apps that are using this component? For example - here is a screenshot of its current state (almost invisible, fa

[2021-02-09 20:18] PatrickAHeath commented on #6436
**First Name:**
- Required search field
- Field length 15 (30 in db)

**Middle Name:**
- Optional search field
- Field length 15 (30 in db)

**Last Name:**
- Required search field
- Field length 25 (30 in db)

[2021-02-09 20:22] Kaineatthelab commented on #6301
is this in progress?

[2021-02-09 20:42] kialj876 commented on #6301
I'm finishing the tests for my other ticket, but will pick this up after

[2021-02-09 21:05] #4909 closed

[2021-02-09 21:06] amit4610 commented on #6275
@Milan-Freshworks to create smaller tickets for this.

[2021-02-09 21:06] #6275 closed

[2021-02-09 21:08] #5662 closed

[2021-02-09 21:09] amit4610 commented on #6309
done

[2021-02-09 21:09] #6309 closed

[2021-02-09 21:14] amit4610 commented on #6400
done

[2021-02-09 21:14] #6400 closed

[2021-02-09 21:15] amit4610 commented on #6165
Gen will push it to prod on time. done

[2021-02-09 21:15] #6165 closed

[2021-02-09 21:16] amit4610 commented on #6188
@jyoti3286 please review the designs. Work on this is on hold.

[2021-02-09 21:17] #6188 closed

[2021-02-09 21:22] #3139 closed

[2021-02-09 21:24] amit4610 commented on #5428
@Milan-Freshworks will create a new ticket for sprint 49

[2021-02-09 21:24] #5428 closed

[2021-02-09 21:24] severinbeauvais commented on #3389
Patrick said a good time to do this is during the Openshift 4 migration (next couple of weeks maybe).

[2021-02-09 21:26] amit4610 commented on #6382
design done

[2021-02-09 21:26] #6382 closed

[2021-02-10 00:18] jdyck-fw commented on #2118
![retro 48.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/265092e5-7af0-4fe5-8506-dc3e937d8b40)

Action items:
@jdyck-fw - At Grooming and Sprint Planning, ensure our estimates account for UX and small improvements
@lmcclung - Put more details in milestones so that designers know what's coming up and can have it ready for devs
@lmcclung - Post long-term planning board in entiti

[2021-02-10 00:27] lmcclung opened #6443 "CP000507 filed 2020 Annual Report on coops online, and document output says it's a 2021 Annual Report"
#### ServiceNow incident: INC0076330
#### Contact information
Staff Name: Julie / Cameron
Staff Email: Julie.Harding@gov.bc.ca / Cameron.Wulff@gov.bc.ca

#### Description
This email is in regards to CP507 FORT ST. JOHN CO-OPERATIVE ASSOCIATION.  This coop filed their 2020 Annual report, and correctly entered there AGM on this report as Jan. 28, 2021.  They took part in our blanket extension for 20

[2021-02-10 00:32] #6316 closed

[2021-02-10 00:33] #6297 closed

[2021-02-10 00:33] #6215 closed

[2021-02-10 00:33] #5298 closed

[2021-02-10 00:33] #6185 closed

[2021-02-10 00:33] #6329 closed

[2021-02-10 00:33] #6216 closed

[2021-02-10 00:33] #6328 closed

[2021-02-10 00:33] #5106 closed

[2021-02-10 00:33] #5102 closed

[2021-02-10 00:33] #6255 closed

[2021-02-10 00:33] #6257 closed

[2021-02-10 00:47] lmcclung opened #6444 "NR 6201340 Client charged 3 times."
#### ServiceNow incident: INC0076338
#### Contact information
Staff Name: Debbie Blyth
Staff Email: mailto:bcregistries@gov.bc.ca

#### Description

Client applied for one name request, above, but was charged 3 times.  NR was submitted using the new NR application on Feb 1st and the last four digits of their cc are 5224.  If you could look into this please and thank you.

#### Tasks
- [x] When tic

[2021-02-10 00:50] lmcclung commented on #6444
@mstanton1 This name has now been consumed.  Looks like a straightforward refund to me.

[2021-02-10 00:58] lmcclung commented on #5028
@tlebedovich sounds reasonable due to AA compliance.  We just couldn't pull it into this sprint as design isn't ready for sprint planning tomorrow.  Would need to regroom.

[2021-02-10 01:09] tlebedovich commented on #5028
ok @lmcclung - @forgeuxGH5 is thinking through the validation needs for the buttons in these components as well as they pertain to alterations (which may trickle down back to Corrections/IA), so I will wait to hear from him on that before specing any updates.

[2021-02-10 03:40] lmcclung commented on #6410
@gh20s Hi Greg, think you could do these for me this week?  I added a spreadsheet to sharepoint called Filing Types and Schemas and have a tab for each filing type.  https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={F922DB1C-547B-4C9A-9A80-76D784905D27}&file=Filing%20Types%20and%20Schemas.xlsx&action=default

![image.png](https://images.zenhubusercontent.c

[2021-02-10 15:00] jdyck-fw commented on #5617
Unassigned from Lekshmi since she is on leave now.

[2021-02-10 15:56] lmcclung opened #6445 "LEYLINE ALTRUISM INC. BC1275548 - IA Correction filing won't complete"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident: n/a
#### Contact information
Staff Name: Linda / Cameron / Dee discovered via training
Staff Email:

#### Description
Staff filed IA correction to correct a director zip code.
Filing is stuck in pending.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/59c8c584-d058-48df-9b13-59d

[2021-02-10 16:31] jdyck-fw opened #6446 "Dev catch up, research, plan ahead"
This is a placeholder for the Milestone 47 retro item that come up and got votes, where the idea is for one dev to take a day for things such as catching up, researching, planning ahead, preparing tech meeting presentations.

Caveat on this ticket it needs to be of value and needs to show the value at the end of the sprint:) ks

========================================================

Vysakh will

[2021-02-10 16:54] #6312 closed

[2021-02-10 16:56] jdyck-fw commented on #4903
@rarmitag please update the estimate if 2.5 isn't correct, I just added that value now.

[2021-02-10 17:08] amit4610 commented on #6444
copied in 6409 for the week.

[2021-02-10 17:08] #6444 closed

[2021-02-10 17:15] doug-lovett commented on #6157
Added a helper ./src/store/actions/ppr-api-helper.ts with searches implemented for all search types. It may need to be moved/refactored to work with the composition API.
See the unit test PPRApiHelper.spec.ts for usage.

[2021-02-10 17:29] severinbeauvais commented on #6289
I used this ticket to do some things that I would normally have done "off the side of my desk" -- see comments above.

I updated the Estimate to time actually spent. This ticket is complete for Sprint 48. (There is a new ticket for Sprint 49.)

[2021-02-10 17:34] severinbeauvais commented on #6289
There is a new ticket for Sprint 49 (#6446), but the intention of these tickets is not "Severin slush fund" but rather for a different developer, each sprint, to have some time to catch up on stuff (eg, non-ticketed tech debt), research stuff (eg, new technologies we could use), and plan ahead for things of value that we could/should do.

[2021-02-10 17:34] #6289 closed

[2021-02-10 17:34] severinbeauvais commented on #6289
@jdyck-fw @Kaineatthelab  FYI ^^^

[2021-02-10 17:35] severinbeauvais commented on #6393
I've put this back into the Sprint Backlog while I work on a P1 ticket.

[2021-02-10 17:36] tlebedovich commented on #6335
to note - @forgeuxGH5 @Sienna-Blumstengel @Kaineatthelab - a static message will appear instead of the priority position. (See design ticket)

[2021-02-10 17:45] Kaineatthelab opened #6447 "OCP 4 Set up"

[2021-02-10 17:46] mstanton1 commented on #6315
@sumesh-aot  confirmed for NR 6160304 that the client was not sure if they were charged. Updated comment above to advise no further action.

The only remaining item from your list of questions is NR 8937569. This one requires a refund for the 31.5 and 101.5 fees.

[2021-02-10 17:47] jdyck-fw opened #6448 "Email and phone component"
See the registered office contact information lock in create UI.

This is a shared component.

keywords - verify UX, validation (see 6236)

This work includes creating it and doing the live updates. save/cancel/edit/undo

[2021-02-10 17:47] #3791 closed

[2021-02-10 17:50] severinbeauvais commented on #6393
As part of this ticket, also consider NR types (which are similar but different, I think...)

[https://app.zenhub.com/files/157936592/fa4b856d-ab32-4295-9032-861b015c4d29/download](https://app.zenhub.com/files/157936592/fa4b856d-ab32-4295-9032-861b015c4d29/download)

[2021-02-10 18:00] #6246 closed

[2021-02-10 18:07] mstanton1 commented on #6422
Links provided. Concerns have been raised about having to clear the cache if you have previously accessed one of these forms. I have requested the business monitor for impact. Process of needing to clear the cache is across the gov 2.0 website with updated forms.

[2021-02-10 18:07] #6422 closed

[2021-02-10 18:11] tlebedovich commented on #6288
Hi @lmcclung and @Sienna-Blumstengel - Is this the Dev ticket? I'm wondering if it should it be in a dev zenhub pipeline versus the design pipelines? We have a corresponding design ticket already. The design is ready to go for dev.

[2021-02-10 18:18] lmcclung commented on #6444
@amit4610 When do you plan on responding back to IT Ops that this is complete - now or after 6409 is complete?

[2021-02-10 18:19] Sienna-Blumstengel opened #6449 "SMITH ASSEMBLY INC - BC1239253 - Alteration LTD > BEN"
### Service Now Incident:
**INC0076422**
### Staff member:
Lance Hall, Kathy Langlois

### Alteration info
* Alteration of business type from a BC Limited company to a BC Benefit Company
* No other changes in this alteration

**Affiliation info** : 921088
**Company email** : judy@inkllp.com
~**Company phone (optional)**:~
**Filing date (date/time received at Registries. If email, time email receiv

[2021-02-10 18:25] amit4610 commented on #6444
Hi @lmcclung we make a weekly ticket to track all NR refunds, so I have added this NR to our weekly ticket (6409). I will notify IT ops when that is done.

[2021-02-10 18:34] Sienna-Blumstengel opened #6450 "Budding Children's Garden & Daycare Inc. - BC0903151 - Alteration LTD > BEN"
### Service Now Incident:
INC0076423
### Staff member:
Lance Hall, Kathy Langlois

### Alteration info
* Alteration of business type from a BC Limited company to a BC Benefit Company
* No other changes in this alteration

**Affiliation info (mandatory - BC Registries account name or BCOL a/c)**: 417025

**Company email (mandatory)**: corporate@leighco.ca

**~Company phone (optional):~**

**Filing

[2021-02-10 18:36] rarmitag commented on #6294
Operational work done. Sprint 48

[2021-02-10 18:36] #6294 closed

[2021-02-10 18:46] mstanton1 commented on #6429
Not needed as there is not a specific algorithm to apply - just 9 random digits.

[2021-02-10 18:46] #6429 closed

[2021-02-10 19:01] #5925 closed

[2021-02-10 19:02] #5961 closed

[2021-02-10 19:03] mstanton1 commented on #5961
Karen has approved the spreadsheet.

[2021-02-10 19:03] sumesh-aot commented on #6315
@mstanton1 NR 8937569 is done.

[2021-02-10 19:03] mstanton1 commented on #6323
Addressed in another ticket.

[2021-02-10 19:03] #6323 closed

[2021-02-10 19:05] #6304 closed

[2021-02-10 19:12] Kaineatthelab opened #6451 "UX Research Tasks"

[2021-02-10 19:13] Kaineatthelab opened #6452 "End user concept / requirements research"
Set up user research for search this sprint

[2021-02-10 19:13] Kaineatthelab opened #6453 "UI / Requirements Reviews with team / external stakeholders"
Set up reviews with staff, incl Joanna Barnes and BCOL Helpdesk

[2021-02-10 19:14] Kaineatthelab opened #6454 "Overview of the whole flow"
add overview accessible to devs to add tech needs

[2021-02-10 19:19] severinbeauvais opened #6455 "Namerequest: 401 error when users are logged in"
**Describe the bug in current situation**
After a Namerequest user has logged in using BCSC, the API responds with a 401 (unauthorized) on network calls.

See:
https://sentry.io/organizations/registries/issues/2098686855/events/cdc59334d22b4dadba2ba425625914bf/

**Impact of this bug**
User impact is unknown.
Ops impact is lots of Sentry errors.

**Chance of Occurring (high/medium/low/very low)**
R

[2021-02-10 19:46] Kaineatthelab opened #6456 "Add price to tool tip"
## Story
As a user
I want to be made aware that it will cost me an extra $30 each time i want to renew for my name request that is expiring
So that I know about cost upfront and am not surprised

## Acceptance Criteria
**GIVEN** I have retrieved my existing name request
**AND** my NR is in an approved or approved conditional state
**WHEN**I hover over the numbers to the left of the *Expiry Extensi

[2021-02-10 19:58] jdyck-fw commented on #6446
Vysakh will track his knowledge transfer work in this ticket as we prepare for his being away.

Priorities
1. Set up dev environment with Arturo & Andre
    1. Sev has been working with Arturo and has some questions too
    2. Follow up with Arturo to incorporate his notes
2. Work instructions - Steps on how to do things tracked through ticket #6446 - Put these in the Docs folder & HowTo folder

[2021-02-10 20:29] severinbeauvais commented on #5142
TODO: copy over our docs from https://github.com/bcgov/entity, especially:
- coding-standards/
- diagrams/
- howto/

[2021-02-10 20:33] severinbeauvais commented on #6455
@sumesh-aot Let's monitor Sentry for the rest of the day, but it looks like you fixed this.

https://sentry.io/organizations/registries/issues/?project=5433955

Does anything need to be documented anywhere on how to configure/fix this (eg, how to add audience)? I assume there is some Configuration Management somewhere to keep track of these things.

Please close this ticket when satisfied.

[2021-02-10 21:25] mstanton1 commented on #6263
Request sent to Cheryl for volume of account name change requests.

[2021-02-10 21:33] amit4610 commented on #6020
don't need this.

[2021-02-10 21:33] #6020 closed

[2021-02-10 21:35] amit4610 commented on #6315
NOTIFIED it OPS FOR NR 8937569

[2021-02-10 21:35] #6315 closed

[2021-02-10 21:44] amit4610 commented on #6409
@sumesh-aot all yours for your meeting with Meng

[2021-02-10 22:01] #6286 closed

[2021-02-10 22:02] severinbeauvais commented on #6443
Before:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/4ba2e3d0-9d38-4e6b-acda-b7f53da62d44)

After:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/1aa83d8a-e450-40ac-a540-46a7424baf84)

[2021-02-10 22:42] amit4610 commented on #5961
Reply from Wendy:

Voucher number was the number on the hard copy DPAD forms that we use for adjustments and approvals to add or remove money from the account.

Since the pandemic, we are sending the DPAD as part of an email for approval, but these are not numbered as the hard copy forms were, so we enter the date the DPAD was created as the Voucher (DPAD) number (to be consistent with information

[2021-02-10 22:42] amit4610 commented on #5961
Lisa's ask: And, if possible, can we have a field added where we can enter the CAS Accounts Payable Invoice Number? This would allow us to easily reconcile between CMS and CAS.

[2021-02-10 23:00] Kaineatthelab commented on #6059
@lmcclung @Sienna-Blumstengel missed this one, needs to be groomed maybe friday?

[2021-02-10 23:01] Sienna-Blumstengel opened #6459 "NR9370080 - Put back to "draft" status"
The client was going to pay for an upgrade, but canceled instead.
This has left the status in namex as **draft** but name request is waiting for the payment to be complete.

This ticket is to make the status "draft" / "not yet processed"  Name Request.

![NR.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/b008892c-09ce-4ef8-b7bf-936ebafeed64)

[2021-02-10 23:05] #6283 closed

[2021-02-10 23:05] #6300 closed

[2021-02-10 23:05] #6301 closed

[2021-02-10 23:05] #6158 closed

[2021-02-10 23:22] severinbeauvais commented on #6443
@lmcclung Has the "Reply All" checkbox item above been done? If not, should I do it?

[2021-02-10 23:23] cameron-freshworks commented on #6333
This is ready for review, pending the implementation of the Entity Selection Tool or link to it.

[2021-02-10 23:28] shabeeb-aot commented on #6325
Are we doing this Scenario 2. in last discussion it was mentioned like we will not show any page, user will be redirect to dashboard ? can you confirm @lmullane @mstanton1

[2021-02-10 23:31] rkim13103 commented on #6325
Yes, there won't be any "approved" message users will be redirected to the dashboard. Correct me if I'm wrong !

[2021-02-10 23:34] lmullane commented on #6325
That's correct,  @rkim13103. Approved payments will be returned directly to the purchasing app to get their product. cc @shabeeb-aot @mstanton1 @jyoti3286

[2021-02-10 23:37] severinbeauvais commented on #6290
Thor mentioned that Rich/Kial have a fix going in -- a small code change and an extra column.

[2021-02-10 23:39] #6157 closed

[2021-02-10 23:45] severinbeauvais commented on #6434
Here's a snapshot of their ARs in the LEAR database.

It looks like the 2018 AR is missing. (Also the 2004 and 2014 -- but there are duplicates of 2005 and 2015!?)

(Note that there are many other filings between these that will affect the directors and addresses at any point in time.)

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/4331b9e1-3afd-4f40-894c-a94b7089f8e8)

[2021-02-10 23:46] Sienna-Blumstengel commented on #6254
Facilitate discussion on staff process for how each teams use this feature

[2021-02-10 23:53] severinbeauvais commented on #6455
As of now (23:52 UTC), it looks like this happened 3 times after Sumesh "added an audience in Prod" at 19:40 UTC.

[2021-02-11 00:00] Sienna-Blumstengel opened #6460 "OCM for Notice of Alteration"
### Release date:
May 11th to the public

[2021-02-11 00:03] Sienna-Blumstengel opened #6461 "Commication - IT Ops"

[2021-02-11 00:05] Kaineatthelab commented on #6325
Question is the "go back" misleading? you would of just come from Pay BC so "go back" would bring you to Paybc again? But then "try again" is the only other option @rkim13103 @lmullane

[2021-02-11 00:07] Sienna-Blumstengel opened #6462 "Website updates"
[Changes required, and status of changes, documented in this spreadsheet](https://docs.google.com/spreadsheets/d/1JMlMprLFa7bVSyk6tBReWWvCtHGe3_MwHodtWkrxgAg/edit?usp=sharing)

Minimal updates required.
Might want to add something to the info package for "manage you business" , it currently has nothing about alterations

[2021-02-11 00:09] Sienna-Blumstengel opened #6463 "Form updates"
Just need to change the top of the forms from "submit to staff with payment" to "please complete this filing online, you can use this form for your records"

affected forms:
51
52
53

Sienna can take this on. Will see what changes are needed and add to genevieve's trello board of form updates.

[2021-02-11 00:09] Sienna-Blumstengel opened #6464 "Communications - email & modernization post"
**Have this finalized and approved by May 7th**

2 Communications:
- [ ] Email to staff and other tier 1 help desks
- [ ] Announcement on the modernization page

## Email to staff

## Announcement on modernization page

[2021-02-11 00:10] Sienna-Blumstengel opened #6465 "Training needs assessment"
- [ ] @trishreimer to schedule demo

- [ ] Hold demo / info session with all groups
- [ ] Ask teams if anyone feels like they need another hands on training
- [ ] Hold hands on training

[2021-02-11 00:22] sienna-blumstengel opened #6466 "OCM for NRO Decommissioning"

[2021-02-11 00:26] lmcclung opened #6467 "Name Request - Recorded Video for BCOL users (previously was a webinar, now recorded video)"
Trish is planning this with James MacKenzie. He is waiting to hear back from his manager before we can schedule it.

[2021-02-11 00:27] lmcclung opened #6468 "Executive Messaging"

[2021-02-11 00:27] lmcclung opened #6469 "GCPE - BCOL users"
Directing users to new app; still need to use BCOL for filings.

Keep Olisa appraised of external communications - also on triweekly reports.

[2021-02-11 00:31] Kaineatthelab opened #6470 "Mandatory Fields Error"
A user was able to submit a name request without submitting mandatory NOB, Email and Phone number. (email was added by an examiner after)

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/fc7fa238-26d3-4ec1-aa9e-519a237ab09d)

Checked Prod and they are there so maybe it is one of those sentry errors we are seeing that users can bypass the form part?

![image.png](https://

[2021-02-11 01:08] tlebedovich commented on #5172
@cameron-freshworks Not part of this ticket, but making a note to carry over to a new ticket. Did you have another general ticket we could put these under or should I make a new one?

@forgeuxGH5 and I will be confirming:
- validations for File and Pay/Review and Certify button (if people have uncompleted or unsaved component changes)
- validations for buttons within all of the components
- functi

[2021-02-11 16:38] lmcclung commented on #6456
@Kaineatthelab @forgeuxGH5 Kaine, you hadn't put in Scott's latest copy text so I did.
@tlebedovich Scott needed to pluralize days in the second sentence.  I've updated this ticket but the design still has 56 day.

[2021-02-11 16:40] Kaineatthelab commented on #6456
Thanks, I think this work could be moved into https://app.zenhub.com/workspace/o/bcgov/entity/issues/6059 ? Thoughts?

[2021-02-11 17:09] tlebedovich commented on #6448
@Kaineatthelab @lmcclung - Is there new/updated validation for the phone number as well or does it stay as is? c/c @cameron-freshworks

[2021-02-11 17:17] saravanpa-aot commented on #6121
@Milan-Freshworks Please start testing this. Not sure if @jeznorth has time to do UX assurance

[2021-02-11 17:41] severinbeauvais commented on #6455
This 401 error happened 22 times yesterday and only 2 times today (so far).

[2021-02-11 17:57] gh20s commented on #6410
Working on it now linda, hope to give this to you eod

[2021-02-11 18:03] severinbeauvais commented on #6470
I will look into this (time boxes to about an hour).

[2021-02-11 18:05] mstanton1 opened #6472 "Add suspension reason dropdown in staff account suspension flow"
* As a BC Registries staff/BCOL Admin/SBC Finance
* I want the ability to select a reason for suspension
* so that it is clear why I have suspended an account

**Acceptance Criteria**

**Scenario 1: BC Registries staff/BCOL Admin/SBC Finance **
* GIVEN BC Registries staff/BCOL Admin/SBC Finance open the account information tab for an account that is 'ACTIVE'
* WHEN they select the Suspend Account

[2021-02-11 18:18] amit4610 opened #6473 "NR refunds Feb 11-17"
Title of ticket: [Entity number and name] or "Account Management"

1. NR 3296274 **Done**
2. NR 5555838 - refund additional charges, there should be just 1 charge after refunds **Done**
3. NR 5267947 **Done**
4. NR 7934983 **Done**
5. NR 5996008 -  refund additional charges, there should be just 1 charge after refunds **Done**
6. NR 7632257 was requested and the client got an error, can you check

[2021-02-11 18:49] thorwolpert commented on #6033
it shouldn't have been re-opened into In-PROGRESS

[2021-02-11 18:53] tlebedovich commented on #6456
thanks @lmcclung - i've updated the comp to fix the typo.

[2021-02-11 18:55] mstanton1 commented on #6472
Currently BCROS 'freezes' client accounts. Through discussion with Cameron Wulff and Wendy Flynn the following set of reasons has been created. When this ticket is worked on BA's will need to verify the options in the suspension reason list with all team leads.

- Account Ownership Change
- Account Ownership Dispute
- Court Order
- Fraudulent Activity
- NSF
- Other

[2021-02-11 19:09] thorwolpert commented on #6459
I think it is working as expected.
Step
1. Create and pay for NR (Draft)
2.  Start upgrade (still DRAFT)
3.  Pay, or not
    a. Do nothing (stays DRAFT and keeps place in examiner queue)
    b. Cancels upgrade payment (still in Draft)
    c. Pays for upgrade, gets PRIORITY flag checked
4 examiner reviews

[2021-02-11 19:16] #6284 closed

[2021-02-11 19:27] Kaineatthelab commented on #6459
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/18312efb-a238-4aca-82b2-0d81a339c296)

[2021-02-11 19:27] #6459 closed

[2021-02-11 19:34] #6256 closed

[2021-02-11 19:35] #6138 closed

[2021-02-11 19:35] #5187 closed

[2021-02-11 19:35] #4624 closed

[2021-02-11 21:12] tlebedovich commented on #5025
Component for Alteration needs AA design/validation updates and instructional text for alterations - may need a quick regroom/estimate

[2021-02-11 21:13] tlebedovich commented on #4285
Component for Alteration needs AA design/validation updates and instructional text for alterations - may need a quick regroom/estimate

[2021-02-11 21:18] tlebedovich commented on #6448
@cameron-freshworks - I'm not sure which ticket this note should go in - but the updates to email and phone here should live update the email/phone in the header tombstone as well.

[2021-02-11 21:52] sumesh-aot commented on #6409
NR 5996008 : Only 1 payment record exists for this NR, customer is not double charged. Please confirm if customer's account is showing the charges twice.

NR 6201340: There are only 2 transactions the user paid successfully, one for 31.50 and one for 101.50. If the customer is seeing multiple charges, then @amit4610 @mstanton1  please work with PayBC team.

NR 5482018 : This is caused by the PayBC

[2021-02-11 21:57] mstanton1 opened #6474 "Ticket #244061 & #244062 - Order # 198123 $131.50"
Title of ticket: Failed Refund for Order 198123, NR 2444270.

#### ServiceNow incident:
#### Contact information
Staff Name: Cindy Leung
Staff Email: Cindy.Leung@gov.bc.ca

#### Description

For your info, a duplicated ticket was raised and CASHELP has just closed one of the ticket.  However, the order number #198123 has not been refunded yet.   Unfortunately, when I tried to performed the refund,

[2021-02-11 21:57] mstanton1 commented on #6474
Requested the bank manually push this through. Sent to IT Ops as an FYI.

[2021-02-11 22:06] severinbeauvais opened #6475 "Filings UI: COD doesn't show existing director for BCOMP in Dev"
**Describe the bug in current situation**
In Dev, I went to the dashboard for BC1218851 (bcreg0001). A single director was displayed, as expected.

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/f3a0eaa3-6e3f-4c30-bfe1-31ed8684b731)

Then I attempted to create a Director Change filing. On the filing page, the director was not displayed.

![image.png](https://images.zenh

[2021-02-11 22:18] severinbeauvais commented on #6470
@lmcclung FYI

I looked at a number of Sentry errors, and the actual data related to those errors, and unfortunately in this short time I did not find the cause for THIS bug.

However I did see the cause for one type of Sentry error: it appears that some payment summaries are missing receipt information (which the display code doesn't handle, thus throwing an error). But I cannot tell if the API d

[2021-02-11 22:19] lmcclung commented on #6448
@tlebedovich phone number stays as is.  Haven't heard any complaints about it.

[2021-02-11 22:21] severinbeauvais commented on #6475
@lmcclung @Kaineatthelab I found this today. I will quickly investigate in case it's a serious issue and may be able to fix it for the upcoming Filings UI (staff comments) release. What I discover will inform whether we should hold the release for this fix or not.

[2021-02-11 22:29] severinbeauvais opened #6476 "Namerequest UI: Cannot read property 'lastName' of undefined (refactor store?)"
**Describe the bug in current situation**
The subject error is being reported often by Sentry (half a dozen times a day by different users).

https://sentry.io/organizations/registries/issues/2098142767/events/65c6d20b8e394832bf236dda4c9c1b28/

I am not sure what the user impact is. My best guess atm is that the UI code is "losing" its context (which includes the data that the user has entered). T

[2021-02-11 22:42] tlebedovich commented on #6352
@forgeuxGH5 - Here is the Dev ticket to implement the dashboard handling for Alterations (and what you'd like the call the draft/alteration notice on the dashboard)

[2021-02-11 22:44] severinbeauvais commented on #6476
@lmcclung @Kaineatthelab FYI

[2021-02-11 22:46] severinbeauvais commented on #6475
I found this when running it locally:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/1f46e308-4ba2-4ce5-badc-4333695c2e2d)

This would indeed cause the COD page to fail to load/initialize correctly, leading to what we're seeing.

[2021-02-11 22:47] amit4610 commented on #6409
1. NR 5996008  - it's ok. Client wanted to check if they were charged multiple times.
2. NR 6201340 - do we have a paybc contact? Client's email mentions "it has charged my credit card three times for the $31.50" @mstanton1
3. NR 9395816 - emailed IT ops to confirm if the client was charged or now.
4. How do we proceed with the last 7 NRs from ols app? @mstanton1

[2021-02-11 22:48] Kaineatthelab commented on #6476
thank you sev, if I am understand correctly could this solve the people that can't do something, but then try in a private window or clear cache and it is successful?

[2021-02-11 22:57] severinbeauvais commented on #6476
It's hard to say for sure. In an incognito window, the app is fully reloaded and reinitialized, which may solve the issue of old cached web app code, and/or may solve the issue of the app being partially reloaded and losing its context.

What I don't know is if users are experiencing problems due to old code or due to context issues. Could be either or both.

[2021-02-11 22:58] tlebedovich opened #6477 "Alterations UX Improvements and Validations To Dos"
Alteration UX To Dos

Scott:
- Review each remaining component with Tracey to decide when to deactivate Done buttons and when to keep it blue and show/decide on error message validations (Folio, Name Translations, Share Structure, People & Roles)
- Decide on if there are error validation messages for "File and Pay" button to let users know they might have unsaved changes in components (ie if they

[2021-02-11 23:02] tlebedovich commented on #6477
@forgeuxGH5 i've added this catch all for alterations validations etc

[2021-02-11 23:05] severinbeauvais commented on #6475
^^^ This is because BC1218851 has both "corp type = BEN" and "legal type = BC" in the database, causing some data lookups to fail.

[2021-02-11 23:05] Kaineatthelab commented on #6476
thanks!

[2021-02-11 23:13] Kaineatthelab opened #6478 "Pending Payment NR's but payment received"
NR2763820 -
- [x] Namex to draft (processed)
- [x] Name Request needs to be put to paid so it changes from "payment pending" to processed
NR1392313 -
- [x] Namex to draft (processed)
- [x] Name Request needs to be put to paid so it changes from "payment pending" to processed

[2021-02-11 23:20] Kaineatthelab opened #6479 "Payment Pending Payment Report"
Given payment is received
When name request is payment pending status
Then a job should run asap as much as possible and name request should show paid status "not yet processed" and namex should show "draft"

[2021-02-11 23:21] Kaineatthelab commented on #6479
@thorwolpert to discuss...

[2021-02-11 23:53] amit4610 opened #6480 "Process flow for NSF"
for FAS replacement

[2021-02-11 23:59] severinbeauvais commented on #6475
The legal type was incorrect due to an invalid test (alteration) and/or manually changing the db data.

However, as part of this ticket, I implemented some "defensive code" to prevent future like errors.

As the subject bug was due to bad data, this ticket is not a must-have for the current release... But we might as well include it.

[2021-02-12 00:00] Kaineatthelab commented on #6423
it is interesting the both show changes to the state but the info to examiners seems like namex isn't showing what they want, should we just do what nro does?

[2021-02-12 00:01] thorwolpert commented on #6478
Done

[2021-02-12 00:02] lmcclung commented on #6475
@severinbeauvais thanks for tracking down the issue and resolving it.

[2021-02-12 00:10] lmcclung opened #6481 "Push NRs stuck in Pending_Payment to DRAFT"
These three NRs were identified by Finance as credit card payments that were not reflected on PayBC side.

business_identifier , invoice_id , invoice_number , invoice_status , pay_status , total , paid , receipt_number
NR 2932678          ,      16029 ,  REG00016029    , CREATED        , CREATED    ,  31.5 ,    0 ,
~NR 3918823          ,      16347 ,  REG00016347    , CREATED        , CREATED    ,

[2021-02-12 00:20] mstanton1 opened #6482 "Coordinate joining Cameron / Debbie's stand up to review escalation model"
#### Description
Coordinate joining Cameron's and Debbie's teams meetings to discuss escalation process for issues related to modernization work.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] Assign zenhub ticket to mileston

[2021-02-12 00:23] mstanton1 opened #6483 "Share escalation model with business leads"
#### Description
Share the escalation model created for IT Operations Support with business leads so they know rules for escalation (all the IT Ops) and downstream processes for work being assigned out.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' labe

[2021-02-12 00:25] mstanton1 opened #6484 "Create release notes for Feb 21st release"
#### Description
Create release notes for the Feb 19th and Feb 21st releases.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] Assign zenhub ticket to milestone: current, and place in pipeline: sprint backlog
- [ ] Reply All to

[2021-02-12 00:38] stevenc987 commented on #6473
NR 3296274 - only one charge for this NR. Do you still want to refund? @amit4610 @mstanton1
NR 5555838 - only one charge for this NR. Please get confirmation from client if he/she got multiple charges @amit4610 @mstanton1
NR 5267947 - It was refunded before I checked the postgres DB
NR 7934983 - Refund processed

[2021-02-12 01:33] forgeuxGH5 commented on #6423
I pulled the original design for Transaction History  - we might want to update the top section to parallel our designs for NR summary but the idea is there:
[https://app.zenhub.com/files/157936592/e371c6e4-de2f-451c-a946-408111ab19e1/download](https://app.zenhub.com/files/157936592/e371c6e4-de2f-451c-a946-408111ab19e1/download)

[2021-02-12 02:18] lmcclung opened #6485 "Name Request - move Pending_Payment to Paid and Status to Draft"
If Name Request status in payment incomplete
Determine if payment is actually paid
If so, update to displays as Paid
Change status from payment-pending to Draft

[2021-02-12 02:19] lmcclung commented on #6485
@thorwolpert @forgeuxGH5 Would you be able to add more details to this ticket?  I understand this is something you talked about this afternoon with Kaine?

[2021-02-12 16:10] mstanton1 commented on #6473
@stevenc987 I have responded to your questions above. Thank you for stepping in to help on the refund front. Please assign back to Amit or myself when complete so we can ensure IT Ops knows.

[2021-02-12 16:13] Sienna-Blumstengel opened #6486 "KERRISDALE CREST APTS. CO-OPERATIVE ASSOCIATION - CP0000672 - New passcode"
#### ServiceNow incident:
INC0076720
#### Contact information
Staff Name: Julie Harding

#### Description

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] Assign zenhub ticket to milestone: current, and place in pipeline: sprin

[2021-02-12 16:15] mstanton1 opened #6487 "KERRISDALE CREST APTS. CO-OPERATIVE ASSOCIATION CP0000672 - Unaffiliate and generate new passcode"
KERRISDALE CREST APTS. CO-OPERATIVE ASSOCIATION Unaffiliate and generate new passcode

#### ServiceNow incident: INC0076720

#### Contact information
Staff Name: Julie Harding
Staff Email: Julie.Harding@gov.bc.ca

#### Description
Can you please generate a NEW passcode for KERRISDALE CREST APTS. CO-OPERATIVE ASSOCIATION  CP0000672.  There was an account created already (not sure of the account nam

[2021-02-12 16:23] lmcclung commented on #6288
Yes, we hijacked your design ticket.

[2021-02-12 16:31] Sienna-Blumstengel commented on #4363
@tlebedovich @forgeuxGH5 do we have a visual design for what the registrar's notation looks like on the dashboard?

[2021-02-12 16:46] severinbeauvais commented on #6333
Can the checkmarks be checked now?

[2021-02-12 16:53] cameron-freshworks commented on #6333
😁  2/3 can!

[2021-02-12 16:57] pwei1018 commented on #6418
istore number:

iStore   order   number | Who | Date      | Description                      | Comment
1058092                        | DR    | Feb   11 | PPR WAM configuration | 3   attachments

[2021-02-12 17:03] stevenc987 commented on #6473
NR 3296274 - Refund processed. @amit4610 @mstanton1

[2021-02-12 17:05] pwei1018 commented on #6487
@mstanton1 done.

[2021-02-12 17:08] forgeuxGH5 commented on #4363
No Visual Design for this one - we were going off the wireframes for this. Nothing on the dashboard has had Tracey-level visual design and we'd like to overhaul it as one piece of work rather than apply one-off changes.

[2021-02-12 17:08] amit4610 commented on #6473
Thanks @stevenc987 I have notified IT Ops for the above 4. Let's wait for another set of refunds. We usually collect all refunds for a week and send to devs on Wed, this would be Feb 17 in this case.

[2021-02-12 17:18] tlebedovich commented on #4363
We have a modal to do for this one as well in the same link @Sienna-Blumstengel @Kaineatthelab

[2021-02-12 17:19] jeznorth commented on #6121
I do

[2021-02-12 17:38] tlebedovich commented on #5274
To note @andrepestana-aot - hopefully you've seen that we already have an Incorporation Certificate template built that this certificate can use as a starting point. They have similar elements.

[2021-02-12 17:43] severinbeauvais commented on #5109
Note that this ticket has changes (PRs) in the Entity Staff Commenting release, and will have a PR in the subsequent release.

(This is not a problem as these changes are not required for Staff Commenting but are instead required for Alterations.)

[2021-02-12 18:15] mstanton1 commented on #6484
Release notes created and uploaded to SP: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3654

@jyoti3286 @lmullane please confirm this is the full scope of release and review?
Notes are based upon Zenhub Release (Relationships 2.4.2.9 - Manual Account Suspensions)

@trishreimer can you please review?

[2021-02-12 18:17] mstanton1 commented on #6387
Update from Michael yesterday. This request has been opened.

[2021-02-12 18:37] Sienna-Blumstengel opened #6488 "Filer - Notations"
Update the filer to allow a filing to not have an invoice
Talk to relationships team, Thor, and Kial, may need to be re estimated after investigaton

Update filing table

[2021-02-12 18:39] amit4610 commented on #6412
Statements and transactions: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3655

[2021-02-12 19:06] Sienna-Blumstengel opened #6489 "Spike - figure out how to handle staff payments (API)"
- [x] Will the API provide a "is payment action required?" flag in response to saving the filing?
Assuming the answer is yes, and this spike will figure out how to do it

- [x] Figure out relationships dependancies

- [x] figure out how to create the invoice with the staff payment info
  - Can we prompt for staff info first and still show the invoice, or is the invoice already paid at that point?

[2021-02-12 19:34] lmcclung commented on #6059
Spoke with Debbie Blyth 2xs today to clarify whether it should be 56 days from original expiry or from date of reapply.  In the end she decided from original/current expiry would be best.

[2021-02-12 19:36] Sienna-Blumstengel commented on #4390
@lmcclung Amit and Melissa say no work is needed here for them, they will consult with their team and make a separate ticket about the invoice issue

[2021-02-12 19:38] Sienna-Blumstengel commented on #6396
Design for the ticket mentioned above, 5776, is underway. Fix for this is coming.

[2021-02-12 19:39] mstanton1 commented on #6428
@rkim13103 when do you expect this to be complete?

[2021-02-12 20:01] mstanton1 commented on #6409
@amit4610 see answers to your questions above.

[2021-02-12 20:17] severinbeauvais opened #6490 "NR: wrong time on receipt"
**Describe the bug in current situation**
I just created a new NR in Dev (current time: 12:15 PM on Feb 12).

However, the receipt shows a time that is 8 hours ahead.

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/adcfef81-ec69-45ac-b31b-607ab6915b0c)

This is probably the usual "UTC time instead of Pacific time" bug.

Note that the current UTC offset is actually 7 hou

[2021-02-12 20:21] thorwolpert commented on #6481
Done
[code]

[2021-02-12 20:37] lmcclung opened #6491 "NR 2183129 Name Request - confirmation of upgrade to priority"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Elizabeth Espinosa
Staff Email: Elizabeth.Espinosa@gov.bc.ca

#### Description
Client phoned this morning saying that they upgraded to priority for NR2183129 but the NR shows that it is in the standard queue.
Could you confirm if a priority payment was made?  The caller

[2021-02-12 20:39] lmcclung commented on #6491
I've asked Thor to look to see if $100 upgrade was selected.

[2021-02-12 21:01] stevenc987 commented on #6491
@lmcclung
I checked client paid $100 for priority:

![NR2183129](https://user-images.githubusercontent.com/25512847/107822085-61b55c00-6d32-11eb-9659-f809c4e5a36a.png)

[2021-02-12 21:17] severinbeauvais commented on #6366
Deployed at about Feb 12, 1:04 PM.

[2021-02-12 21:19] severinbeauvais commented on #6365
Deployed to Prod at about Feb 12, 1:08 PM.

[2021-02-12 21:35] thorwolpert commented on #6491
**DONE**
## confirming cust paid for upgrade
[code]

### Upgrade to priority was not applied
[code]

### Upgrade applied
[code]

## check payment records
[code]

### apply payment
[code]

[2021-02-12 21:43] Sienna-Blumstengel opened #6492 "SITKA HOUSING CO-OPERATIVE - CP0001496 - AR stuck in pending"
#### ServiceNow incident:
INC0076837
#### Contact information
Staff Name: Mark Lau

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Assign zenhub ticket to milestone: current, and place in pipeline: sprint bac

[2021-02-12 21:45] Sienna-Blumstengel commented on #6486
done already, duplicate ticket

[2021-02-12 21:45] #6486 closed

[2021-02-12 22:18] stevenc987 commented on #6473
NR 599600 - please confirm it is NR 599600 or NR 5996008? @amit4610 @mstanton1

[2021-02-12 22:26] stevenc987 commented on #6473
NR 5996008 - only one payment. Please get confirmation if client got double charged @amit4610 @mstanton1

[2021-02-12 22:30] lmullane commented on #6206
@sumesh-aot, @pwei1018  how many users do we have in PROD that are part of multiple accounts? cc @mstanton1 @jyoti3286

[2021-02-12 22:36] amit4610 commented on #6473
Thanks @stevenc987 . It is NR 5996008, attaching client's CC snapshot
![cc](https://user-images.githubusercontent.com/59706888/107829948-a398cf00-6d3f-11eb-9d55-53001ebc719b.jpg)

[2021-02-12 22:38] stevenc987 commented on #6473
Client has double charges but we have one charge only. @amit4610 @mstanton1 please work with PayBC team.

[2021-02-12 22:50] mstanton1 commented on #6424
Review completed by Trish, Loren, Linda, Amit & Sienna. Discussion took place with Cameron and Debbie regarding refund requests from their team and the approval process. Updates have been made.

https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={AE93105C-2A71-4E61-AF8A-0E400CA7279F}&file=Ops%20Escalation%20Matrix.docx&action=default

[2021-02-12 22:56] Sienna-Blumstengel opened #6493 "OTTER FARM & HOME CO-OPERATIVE - CP 2067 - Annual report stuck in pending status"
#### ServiceNow incident:
INC0076852
#### Contact information
Staff Name: Amber Andresen

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Assign zenhub ticket to milestone: current, and place in pipeline: spri

[2021-02-12 22:58] mstanton1 commented on #6424
The matrix has been sent to IT Ops to review, and add to their knowledge base.

[2021-02-12 22:58] #6424 closed

[2021-02-12 23:34] mstanton1 commented on #6409
@sumesh-aot @stevenc987 @mengdong19 For #8 above it is noted "No records exist in our DB for these. Could be an NR from old NRO application, please check for records in old NRO"

I confirmed based on date and time these had to have been placed in the new app (unless the redirect was failing). I also checked for payment in our Oracle DB and didn't find anything. The old payment module didn't work w

[2021-02-12 23:41] mstanton1 commented on #5776
@jyoti3286 can you confirm which design we are going with so we can add it in to this ticket for dev work. I believe based upon PO sync we are using

Receipt (Pending2): https://preview.uxpin.com/7943b481e252f700ef635c8f9a60fc76107cdba3#/pages/136386649/simulate/sitemap

To match that design I imagine we would go with Multiple1 for the paid version: https://preview.uxpin.com/7943b481e252f700ef635c

[2021-02-12 23:53] mstanton1 commented on #6483
An email has been sent to team leads. It highlights there is no process change for staff. All requests go to IT Ops.
The link to the escalation matrix was included for visibility and review.

https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3657

[2021-02-12 23:53] #6483 closed

[2021-02-13 00:01] mstanton1 commented on #6473
@sumesh-aot this looks to be the same issue as in 6409. We have one charge. Client has a statement showing multiple. Both are cases where client screenshot is TD. Other client was VISA debit. Not clear in this case if this is also VISA debit. It seems like this might be something worth reaching out on. Would it go to Sudhivar?

cc @amit4610

[2021-02-13 00:11] lmcclung opened #6494 "Investigate why Filer taking so long to move items from PAID to COMPLETE"
On Friday afternoon we had two ops tickets (6492 & 6493) from staff saying CP Filings were in a Filed and Pending state.  The filings eventually moved to complete state on their own.

Need to find out why this is happening as this isn't sustainable when we bring more entities on board.

While doing initial triage on the two ops tickets we also identified bad director sentry errors.  Ticket #6495 c

[2021-02-13 00:12] lmcclung opened #6495 "Investigate why bad data Sentry errors for Coop filings on Feb 12th"
These bad data errors were identified when triaging Filer issue under ticket 6494 this afternoon.

Here’s the list of CPs with AR director errors according to Sentry:
CP0001696
CP0001794
CP0001496
CP0001244
CP0000919
CP0001419
CP0001375

All director errors are from 3:01 PM local. None before and none since as of 4:11 PM local time.

[2021-02-13 00:23] gh20s commented on #6410
Updated - with info I could find. I need to format for readability and search a few things. Will do tuesday feb 16 in the am.

Several of the filing types do not have outputs or are scanned images. I have not filled these out yet on the sheet. I can surmise where the paper filings would exist on the DB if they were to be a report / output.

I can try digging through Jasper as well to see if I can

[2021-02-13 00:53] lmcclung opened #6496 "NR 4617267 - Cannot retrieve NR in corporate online filing"
### Scenario:
Client requested NR 4617267 in Name Request app - Corporation (Foreign) - Extraprovincial Registration/Amalgamation.  Staff conditionally approved, and asked for consent as home jurisdiction is Australia.  Consent later marked as received.
Client attempted to file the Extraprovincial Registration Statement in corporate online.  When they clicked retrieve NR nothing happened on the sc

[2021-02-13 00:55] lmcclung commented on #6496
Searching SOFI NRO:
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/a2562885-9dad-496a-82c6-0e583c6b6780)

When I clicked on the NR# on this screen, this is what I got:
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/8ef03145-98d7-449d-a6c0-cf48c4ddb556)

[2021-02-16 16:51] Sienna-Blumstengel commented on #6423
From what I saw in NRO, Scott's design above looks like examiners would have what they need. Maybe we should run it by them and see if it would meet their requirements?

[2021-02-16 17:16] Kaineatthelab commented on #6155
Analysis for next grooming Feb 23 @janisrogers

[2021-02-16 17:21] Kaineatthelab commented on #6232
@mstanton1 checking if this can be groomed etc.. on your side? Let me know if you have questions.

[2021-02-16 17:25] Kaineatthelab opened #6497 "PPR API call PAY API"

[2021-02-16 17:27] Kaineatthelab opened #6498 "UI - pay"
### Description
- error checking
- confirmation on search and done
- ~folio number @forgeuxGH5 for design~ *done in separate ticket*
#### Requirements
  [PPR Payment Errors] (https://docs.google.com/document/d/17C6DTDnkDJ4bgYsDS2pb1KiBZN_MaxEBMGBgb7bo8eI/edit#heading=h.uoqsa9sivtzy)

### Details
- [x] user settings
  - [x] defined in store/interfaces
  - [x] gets data from api on load
- [x] confir

[2021-02-16 17:31] Kaineatthelab commented on #6498
@bfbowles can you check if there has been any reference number uses? Should we carry it forward?

[2021-02-16 18:27] Milan-Freshworks commented on #6384
The total amount is not appearing and user gets multiple emails. Moving it back to in Progress state.
@shabeeb-aot @saravanpa-aot

[2021-02-16 18:40] rarmitag commented on #5683
This appears done, data correctly shows in dashboard.

[2021-02-16 18:54] sumesh-aot commented on #6409
@mstanton1 @amit4610  We don't see any records for those NR numbers, can you confirm if those numbers are correct? If they are correct, probably you will need to check with paybc team on this. We have record for only NR 7193684.

[2021-02-16 18:58] amit4610 commented on #6167
We currently have it available on RBC, BMO, Scotiabank, HSBC and Central 1 (aka the credit unions – though depending on the credit union they may or may not have chosen to add it).  We are waiting on CIBC and TD.

[2021-02-16 19:02] jyoti3286 commented on #5776
Yes, @mstanton1  - you are right. We are going ahead with these two:

1. This one would be for when payment has not been processed yet:
[Payment not yet processed](https://preview.uxpin.com/7943b481e252f700ef635c8f9a60fc76107cdba3#/pages/136386649/simulate/no-panels)

For this none @rkim13103 - Can we update the title from "Payment Acknowledgement" to "Payment Authorization"

2. This would be the

[2021-02-16 19:10] #6428 closed

[2021-02-16 19:17] Kaineatthelab commented on #6423
@Sienna-Blumstengel yes would need them to give some feedback for sure

[2021-02-16 19:23] Kaineatthelab commented on #6332
@Sienna-Blumstengel  @lmcclung looks like this was done with the other help me choose stuff?

[2021-02-16 19:23] Sienna-Blumstengel commented on #5683
@lmcclung I can't find an IT Ops email to reply to. Do you know if Julie Harding knows if this has been completed yet?

[2021-02-16 19:24] Sienna-Blumstengel commented on #6332
Yes it seems so, @cameron-freshworks this was done as part of 6333 correct? can we close it?

[2021-02-16 19:30] cameron-freshworks commented on #6332
@Kaineatthelab @Sienna-Blumstengel
You bet, i did the UI/UX updates at the same time as adding in the links 👍

[2021-02-16 19:31] #6332 closed

[2021-02-16 19:34] Kaineatthelab commented on #6332
should this be in this milestone @Sienna-Blumstengel @jdyck-fw

[2021-02-16 19:39] jdyck-fw commented on #6332
Adding it in and confirming the points are still accurate.

[2021-02-16 19:42] jdyck-fw commented on #6332
After speaking with Cam, I'm updating this one to be a 2.5 estimate since a good portion of the work is captured in the estimate on 6333.

[2021-02-16 19:51] rarmitag commented on #4903
deployed

[2021-02-16 19:51] #4903 closed

[2021-02-16 20:31] Kaineatthelab opened #6499 "Multi Name Request and Payment -"
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/c39a4593-e475-409a-8aa7-4f03fadeda67)

[2021-02-16 20:42] Kaineatthelab commented on #6499
@mstanton1 @jyoti3286 fyi

[2021-02-16 21:46] Kaineatthelab opened #6500 "Add Webchat to Name Request"
## User Story
As a name request client
I want to chat with a help desk operator
So that I can get quick assistance when using the Name Request app

## Background
The registries will be test piloting the Webchat application that Service BC has built.
We will be using this tool to offer webchat help on our application. This will be a market release.

* **Who will be answering questions from clients?

[2021-02-16 21:47] Kaineatthelab commented on #6500
@Sienna-Blumstengel @lmcclung for grooming, @thorwolpert said 2 days max

[2021-02-16 22:43] Sienna-Blumstengel commented on #6402
@tlebedovich , @areyeslo (Arturo) is working on 5276 and might need some more info on the output. What happens if someone edited, added and deleted translations of name? Your mockup only has add

[2021-02-16 22:47] trishreimer commented on #6484
@jyoti3286 @mstanton1 @amit4610 I chatted with Amit and he confirmed that both BCOL HD and BCOL Admin will be provided with access to suspend accounts, so we need to ensure these teams are aware of this responsibility and functionality. I'll create a separate ticket for this communication.

(noted in [6121](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6121)

[2021-02-16 22:57] trishreimer opened #6501 "Communicate & Train BCOL Admin & BCOL HD on Suspend Account Functionality"
Based on ticket 6121, both BCOL Admin and BCOL HD will be provided with access and will be responsible for manually suspending accounts, so we need to ensure they are aware of this responsibility and how to do it.

- [ ] Create awareness - send an email or meet with these teams to ensure they know about this change.

- [ ] Discuss training with leads to assess best method/approach for staff on how

[2021-02-16 23:14] Sienna-Blumstengel commented on #5276
The correction output might have a UI you can copy to display the difference between the old and new.

Things I need to unblock @areyeslo on:
- [ ] Ask @tlebedovich @forgeuxGH5 @lmcclung if pre-existing company provisions should show on the output if they were **not** changed.
  - Current AC says only to show a component if it was change as part of the filing, but the design has "pre-existing comp

[2021-02-16 23:17] #5969 closed

[2021-02-16 23:17] #5972 closed

[2021-02-16 23:17] #5973 closed

[2021-02-16 23:18] #5974 closed

[2021-02-16 23:18] #6009 closed

[2021-02-16 23:21] trishreimer commented on #6484
I added some comments to the doc on the SharePoint.

[2021-02-16 23:25] Sienna-Blumstengel commented on #6500
@Kaineatthelab Is there analysis to do for this ticket, or should we move to grooming?

[2021-02-16 23:27] tlebedovich commented on #5276
Hi @Sienna-Blumstengel @lmcclung @forgeuxGH5 -
Regarding item 1 above: I'll ask Linda.
Item 2 above: I'll ask Linda.
Item 3 above: We decided to keep the title Alteration Notice for all

[2021-02-16 23:27] Sienna-Blumstengel commented on #6500
@trishreimer FYI, Maximus will be monitoring a chat for us. Not sure if they currently use a chat tool, or if they are familiar with this one (I think it is an existing tool already built)

[2021-02-16 23:35] tlebedovich commented on #5276
@forgeuxGH5 - would like your opinion as well for Item 2 --  Currently the design for the output has a subhead that shows
a translation was added. But the UI doesn’t have currently have subheads, it just shows the current name translations on the review & certify page. So, we could either add a subhead for each one change type, or just list the current translations as they are now?

UI currently l

[2021-02-16 23:36] lmcclung commented on #6500
@Kaineatthelab this URL doesn't work!  Also, this story doesn't meet the definition of ready.  No design, no good understanding of what is being built.

[2021-02-16 23:38] tlebedovich commented on #6402
@Sienna-Blumstengel @areyeslo - i've asked this question to both scott and linda and awaiting there response :)

[2021-02-16 23:41] trishreimer commented on #6500
Script templates for the web chats have been documented for the help desk and reviewed by Debbie and Sinead (and others). The help desk will mange certain scenarios and have scripted text to support the client. There is a process established for web chats that need to be transferred to staff, where an email will be sent to the names staff mailbox.

[2021-02-16 23:48] trishreimer commented on #6500
I'll track down the scripts and any other info I can find and share it with you.

[2021-02-17 00:02] lmcclung commented on #6410
@gh20s Hi Greg, you won't find anything in Jasper for OTCIN, OTINC, OTLET, OTREG - only in the databases
Should find outputs in Jasper for the rest of them.

[2021-02-17 00:14] gh20s opened #6502 "estimate gcp costs"
need to go through and estimate costs for gcp
cloud armor  / cloud run / firebase / identity aware proxy / cloud shield  dns
things to consider - number of users, number of accounts needed, cloud armor = number of requests  / transactions , amount of chatter for db

spit out to an excel sheet, monitor costs as well to gauge accuracy of predictions

[2021-02-17 00:18] severinbeauvais commented on #6393
### Test Notes

This is mostly behind-the-scenes so there's no much to test (other than regression). Basically, the mechanism to declare entity types (now called corp codes) has been moved to an external library and imported into Filings UI. It should work just like before.

A few corp descriptions changed along the way (based on the spreadsheet linked in the description above):
- “BC Benefit Comp

[2021-02-17 00:20] severinbeauvais commented on #6393
Eg,

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/fbff5aaa-bb49-42d7-b973-6926e8d8c826)

[2021-02-17 00:23] Kaineatthelab opened #6503 "NameX/Name Request users are getting NR expiry emails when they have used their NRs"
@kialj876 Is consume working?

[2021-02-17 00:24] severinbeauvais commented on #6393
As another example, this:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/e73991de-588d-46bb-9986-1f53b1b705d7)

is now this:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/cf44276e-be5b-4e82-8257-089700e0bdb4)

[2021-02-17 00:40] thorwolpert commented on #6503
No https://github.com/bcgov/entity/issues/6034

[2021-02-17 00:51] #6503 closed

[2021-02-17 00:54] lmcclung opened #6504 "Update business registry home page to include Entity Selector tool information"
### User Story
As a public user on the business registry homepage
I want more information on business structures
So that I make an informed choice when incorporating/registering

### Acceptance Criteria
#### Scenario 1
**GIVEN** I want to start a business
**WHEN** I am on the business registry homepage's How Does it Work? #1 - Decide on a business type
**THEN** I can open the Entity Selector Tool

[2021-02-17 00:55] lmcclung commented on #6504
@tlebedovich can you edit this ticket and provide a high-res image of the Entity selector tool for the devs for this one?

[2021-02-17 01:00] lmcclung commented on #6500
@Kaineatthelab we'll still need a design from @forgeuxGH5 @tlebedovich for our UI updates - where will the button sit on the Name Request page?  What about when outside hours of operation?

[2021-02-17 01:31] lmcclung commented on #6496
David Roberts added HOME_JURISDICTION_NUM 611739210 to  the REQUEST_INSTANCE table where REQUEST_ID = 1778056 (NamesP database).  This did not resolve the issue.

@thorwolpert @kialj876 could one of you investigate further?

[2021-02-17 01:43] Kaineatthelab commented on #6485
@forgeuxGH5

[2021-02-17 03:27] tlebedovich commented on #6504
ok @lmcclung - it feels like the copy can use some updating as well for this tab and work a bit harder for users. The sentence just calling out Benefit companies seems a bit odd where it is currently? @forgeuxGH5

Decide which business structure is most appropriate for you: A few options are sole proprietorship, partnership or incorporation.

Each structure has a different legal and financial impl

[2021-02-17 16:27] mstanton1 commented on #6232
@Kaineatthelab we just need confirmation on whether scenario 2 can be removed. This was discussed in a conversation with @janisrogers.

Also - with your comment on restricting to premium I can confirm if we need another dependency ticket on our side.

[2021-02-17 16:38] Kaineatthelab commented on #6325
@mstanton1 do you know when this will be released? thanks!

[2021-02-17 17:04] #6345 closed

[2021-02-17 17:10] Kaineatthelab commented on #6496
@lmcclung discussed with Kial and Thor and it is potentially an MRAS or COLIN issue, can you send it over there. (kial will take a quick look too)

[2021-02-17 17:21] severinbeauvais opened #6505 "Name Request: "Request failed with status code 404" while fetching user's info"
**Describe the bug in current situation**
Sentry has captured a lot of "Request failed with status code 404" in Namerequest UI (198 events to 109 users).

https://sentry.io/organizations/registries/issues/2098686855/events/f4e9d0c9443e44a2af853c3fa40496dc/

These errors are in response to calls such as "GET /users/60a21a57-d1a7-4265-8229-89b5004d1cb5/settings [404]" -- which are network calls to f

[2021-02-17 17:25] Kaineatthelab commented on #6453
Janis set up weekly design reviews with BCOL/Debbie and Sharon

[2021-02-17 17:25] mstanton1 commented on #6220
This ticket will cover passcode generation. Random 9 digit number.

[2021-02-17 17:29] severinbeauvais commented on #6393
@jdyck-fw This ticket took 10 hours (not the estimated 5). The reasons are:
- I was interrupted by other work (P1s, deployments)
- I researched various architectures so I could implement this ideally for reuse (= success)
- I spent extra time looking through the use of corp type / entity type in our apps (= they are used sort of interchangeably except that NR entity type has some more code; but ba

[2021-02-17 17:35] severinbeauvais commented on #6505
I noticed that the Namerequest UI Prod config has this:
`"AUTH_API_URL": "https://auth-api.pathfinder.gov.bc.ca/api/v1",`

while the Filings UI Prod config has this:
`"AUTH_API_URL":"https://auth-api.pathfinder.gov.bc.ca/api/v1/" ,`

(the difference is the trailing slash).

Ideally we should not have a difference in configs between our projects... this should be investigated!

@Kaineatthelab @lmcc

[2021-02-17 17:36] severinbeauvais commented on #6505
(This is not a large ticket -- maybe 1/2 a day or 1 day if a lot of changes are needed.)

[2021-02-17 17:49] jdyck-fw commented on #6494
@lmcclung - Is confirming with Cameron

[2021-02-17 18:23] mstanton1 commented on #6409
#8 has been sent to CFSMail with Sujan, Sudhivar, @sumesh-aot and @jyoti3286 cc'd.

[2021-02-17 18:30] severinbeauvais commented on #6499
What are the date columns -- date of creation then date of cancellation?

[2021-02-17 18:36] severinbeauvais commented on #6499
Is this ^^^ the complete list of incorrect NRs that this user created? (It will help my search through the Sentry error logs.)

[2021-02-17 18:42] Kaineatthelab opened #6506 "Name Request Pending - Payment received NR 8032061"
Client showed payment was taken. If payment is received then push Namex to draft and Name Request to Draft.

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/b4975f3a-c6b7-445c-9503-cb163f5e3ba6)

[2021-02-17 18:45] forgeuxGH5 opened #6507 "Cancelling Upgrade Payment Enhancement"
##  Acceptance Criteria

**GIVEN**I am in name request and I have selected to upgrade to a priority request and I am on the payment screen (PayBC)
**WHEN** I select "Cancel and return to paybc" (cancel payment at PayBC)
**THEN** I am returned to the NR summary page
**AND** I see the same options that were available before I started the upgrade

[2021-02-17 18:53] mstanton1 commented on #6474
TD Provided confirmation that the refund was processed on Feb 16th.

[2021-02-17 18:53] #6474 closed

[2021-02-17 18:56] thorwolpert commented on #6506
[code]

[code]

[2021-02-17 19:10] severinbeauvais commented on #6499
Based on the assumed times of NR creation above, I can find some (loosely) matching Sentry events. They may be one of the following users:

1. [IP = 142.179.117.205 using Edge 88.0.705 on Windows 10 (PC)](https://sentry.io/organizations/registries/issues/?end=2021-02-14T23%3A59%3A59&project=5433955&query=user%3A%22ip%3A142.179.117.205%22&start=2021-02-14T00%3A00%3A00)
   - in this case, the POST t

[2021-02-17 19:10] severinbeauvais commented on #6499
If we could ask the user for more info on their device (and IP!) then it would be much easier to search Sentry for their errors.

[2021-02-17 19:11] amit4610 commented on #6480
Current process: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3661

[2021-02-17 19:16] severinbeauvais opened #6508 "Namerequest UI: data/store errors"
(I changed the title to something more specific. Previously it was: Namerequest UI: "undefined object", "xxx is not a function" and "cannot read property" errors. - SB)

## Description:
I created this epic as a parent ticket for various NR UI bug tickets that I think are related.

At the moment, I think there may be 1 or 2 underlying architectural / config root causes, as reported by Sentry.
1. Vu

[2021-02-17 19:21] Sienna-Blumstengel commented on #6016
Can we close this? I think these are old comms from before Christmas. Some have been released already, and for the ones that have not, the comms might be different

[2021-02-17 19:23] severinbeauvais commented on #6499
I did about an hour's research on this (and updating related Zenhub tickets). As this ticket was timeboxes, I have now put it back in the Bugs pipeline.

[2021-02-17 19:27] trishreimer opened #6509 "Payment processes - REFUNDS - Clarity on process and roles & responsibilities - cc refunds were supported by BCOL now CAS"
BCOL HD was responsible for supporting credit card refunds and had access to bambora. In the Business Registry, this is supported by CAS. Need to confirm the process and clarity is needed on BCOL's role in the Business Registry.

- [ ] confirm process, including roles and responsibilities. Jyoti/Loren to follow up at steering committee.

- [ ] engage and communicate this process to the people invo

[2021-02-17 19:28] trishreimer commented on #6509
From: Barnes, Joanna CITZ:EX
Sent: February 17, 2021 9:09 AM
To: Reimer, Trish CITZ:EX
Cc: McClung, Linda CITZ:EX ; Mullane, Loren CITZ:EX ; Sparks, Kaine CITZ:EX ; Barnes, Joanna CITZ:EX
Subject: BCOL : Bambora - NR Credit Card - New site transactions cannot see

Hello Trish

It has been brought to my attention by Linda McClung and Michael Kagin that all credit card transactions in the BCROS and

[2021-02-17 19:28] trishreimer commented on #6509
Hi Linda,

I am wondering why BCOL Help is investigating credit card payments? I am aware of their role in supporting refunds for BCOL accounts but think that we should discuss whether having them investigate CC payments makes sense. For Registries services we have internal processes (IT Ops) in place. With other BCOL partners we should confirm if we have any obligation for cc clients. With CSO, o

[2021-02-17 19:37] Kaineatthelab commented on #6500
@thorwolpert do we need a design for the webchat, not sure what would be presented on our side? Does @forgeuxGH5 @tlebedovich need to mock something up? I know the actual chat window is from Karims side as I understand it.

[2021-02-17 19:38] severinbeauvais commented on #6055
It's possible the above errors are due to our Typescript (TS) code being compiled to newer Javascript (JS) features not supported by certain browser engines. If so, this could be solved by tweaking our TS/Webpack configuration and/or investigating whether any necessary Polyfills (code shims) are being correctly included in our build files.

@Kaineatthelab @lmcclung - I propose we create a "feature

[2021-02-17 19:39] Kaineatthelab commented on #6499
thanks Sev! are you able to estimate 6508

[2021-02-17 19:51] Sienna-Blumstengel opened #6510 "Verify - INC0077189 - NR 7222915 can only be found in NRO, not Namex or name request"
**Describe the bug in current situation**

[2021-02-17 19:56] #6496 closed

[2021-02-17 19:59] forgeuxGH5 opened #6511 "Cancel NR Priority Upgrade from PayBC (flow) - UI DESIGN"
When an NR is in the "Pending Staff Review" state (paid but not yet In progress, Approved or Rejected) users can upgrade to a Priority Request. If the user cancels priority upgrade payment at PayBC they are returned to the NR in "Pending Staff Review" state.

## Wireframe - flow
https://preview.uxpin.com/43d021b4f04b4159b95f1bd18655a41b2f5ded77#/pages/136857566

## Visual Design

[2021-02-17 20:14] stevenc987 commented on #6473
NR 7632257 - Got "Internal Server Error" when refund. Will do it after the problem is resolved.
NR 9240367 - only one charge in DB
NR 6140301 (INC0076888) - The client didn't pay for this NR yet
NR 3183225 (INC0076888) - Got "Internal Server Error" when refund. Will do it after the problem is resolved.
NR 9003273 - has one paid record. However, I did refund by accident. Melissa will contact on CAS

[2021-02-17 20:33] severinbeauvais commented on #6445
I checked Sentry, and unfortunately there is no data before November 28, 2020 (whereas the subject AR was filed on Nov 20).

[2021-02-17 20:45] severinbeauvais commented on #6445
Here are the Sentry errors for Feb 9/21:
https://sentry.io/organizations/registries/issues/?end=2021-02-09T23%3A59%3A59&project=1533020&query=&start=2021-02-09T00%3A00%3A00

[2021-02-17 20:56] severinbeauvais commented on #6445
In the Prod Lear db, it looks like
[code]
but
[code]

[2021-02-17 20:57] mstanton1 commented on #6501
@trishreimer ticket 6426 has been created and put in grooming to split out suspension functionality into a separate keycloak group. BCOL Admin, Corporations, Hub and SBC Finance will need the ability to suspend accounts and the way it is built it is attached to a keycloak group specific to BCOL Admin/Help. The only way to expand it to other teams would be to give this across the board which can po

[2021-02-17 21:12] severinbeauvais commented on #6445
Although the filing (id=55890) looks fine in the db for this business (id=809), the error breadcrumbs in Sentry show that the delivery address is empty for some directors (and the officer data is empty for at least one director).

[2021-02-17 21:16] sumesh-aot opened #6512 "Fix auth-api spec with updates"
#### Description
Fix auth-api spec with updates, so that we can share with partners like CSO. The current spec is not really useful.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] Assign zenhub ticket to milestone: current, a

[2021-02-17 21:24] severinbeauvais opened #6513 "Legal API: should validate correction data"
- [ ] Decide if this needs to be part of the correction work

In #6445, it was found that the Edit UI posted a correction filing with some empty data. The Legal API should validate that required data is not empty.

Specifically:
- a director's officer object was empty:
[code]
- some directors' delivery address objects were empty:
[code]
and
[code]

[2021-02-17 21:38] severinbeauvais commented on #6445
The data fix for this filing is blocked by other work (ie, building in the part to fix bad data).

I will proceed with the UI fix...

[2021-02-17 21:49] tlebedovich commented on #4021
@forgeuxGH5 - Here's the Alteration output tickets that mentions the receipt using "EXISTING" - so i'm not sure what that means as we've haven't designed this and I haven't seen what the existing would be?

[2021-02-17 21:50] Sienna-Blumstengel opened #6514 "Update alteration email macros"
[email macros](https://docs.google.com/document/d/1WS-BtGhgppkUprzUWxVamQLtQfhFF9_XVhqNPjZGrkk/edit?usp=sharing)

[2021-02-17 21:51] amit4610 commented on #6473
1. NR 5996008 - email sent to Pay BC and CAS help
2. NR 6140301 - email sent to entities to clarify things
3. NR4421631 - email sent to entities to clarify things
4. NR 9003273 - refunded by accident, Melissa followed up with CAS

[2021-02-17 21:54] Sienna-Blumstengel opened #6515 "OCM for staff requesting a name in Name Request t"

[2021-02-17 21:55] mstanton1 opened #6516 "NR refunds Feb 18-24"
#### Description
Weekly refund ticket.

1. NR 6817657. Please refund $31.50. This name request was not required. (INC0077140 - Elizabeth Espinosa) **Done**
2. NR 3051223 - INC0071693
3. NR 5095393 (INC0075079). Please confirm if there was a duplicate charge. If so the client should be reimbursed for all but one of the charges. **Client only paid once. No action required.**
4. NR 8991883 (INC007749

[2021-02-17 21:56] Sienna-Blumstengel opened #6517 "Training assessment"
- [ ] @trishreimer to schedule info session with staff, BCOL, and regional offices

- [ ] Hold demo / info session with staff, BCOL, and regional offices
- [ ] See if we need follow-up hands on training

[2021-02-17 21:58] Sienna-Blumstengel opened #6518 "Communication to SBC regional offices"

[2021-02-17 22:13] trishreimer commented on #6501
Okay. Thanks for the explanation. I don't think anything further is needed with BCOL admin but if BCOL HD have access and will be responsible for this, then we will need to ensure they are aware, have the knowledge, ability, etc...I think touching base with Joanna as a next step sounds good.

[2021-02-17 22:14] lmcclung commented on #6236
More samples of invalid emails from name request app:
The following email addresses are invalid and contain spaces or illegal characters. They have been fixed in NameX and the result has been resent in NRO.

NR 8896752 Brucek@Richwood Holdings.ca
NR 8236048 Mathew Thomas.electric@gmail.com
NR 9713819 kristian,.hillard@hotmail.com

[2021-02-17 22:14] mstanton1 commented on #6482
I will address this during the monthly change management meeting today.

[2021-02-17 22:15] stevenc987 commented on #6516
NR 6817657 - Refund Requested.

[2021-02-17 22:18] stevenc987 commented on #6516
NR 6817657 - Refund Requested  @amit4610 @mstanton1

[2021-02-17 22:22] lmcclung commented on #5610
removing from sprint

[2021-02-17 22:23] lmcclung commented on #5611
removing from sprint

[2021-02-17 22:29] lmcclung commented on #6445
@severinbeauvais so we need to do #6513 in order to resolve this particular issue, right?  I'll make it a P1 and we can estimate in Triage tomorrow.

[2021-02-17 22:32] severinbeauvais commented on #6445
Linda, no, **this** ticket will fix the UI and thus future errors. 6513 will fix the API to also prevent future errors.

Fixing the bad filing data can be done either in **this** ticket or a new ticket (but we have no mechanism to fix filing data atm, hence this part is blocked).

[2021-02-17 22:34] lmcclung commented on #6164
@janisrogers @forgeuxGH5 noticed Tracey had an outstanding question for you to resolve before a dev can pick this up in our current sprint.

[2021-02-17 22:40] lmcclung commented on #5683
@Sienna-Blumstengel found it and advised IT Ops to resolve ticket.

[2021-02-17 22:43] severinbeauvais commented on #5204
I think this one should be treated as an error. (We _could_ implement this but I think the user really shouldn't be entering a NR in this format.) This example looks to me like a data entry error (not a normalization exercise).

[2021-02-17 22:45] lmcclung commented on #6445
@severinbeauvais thanks for the clarification.  Because this filing hasn't actually completed, I'm thinking this would be a good candidate for a data fix.  It wouldn't damage the integrity of the registry because it hasn't completed and info submitted by staff is not yet visible to the general public.
@thorwolpert what do you think, can we bend our rules to resolve this issue this one time?

[2021-02-17 22:46] doug-lovett commented on #6282
@sumesh-aot could you please create a role for PPR named "ppr" and add it to all Registries staff (see above). Please add a comment here when the task is complete.

[2021-02-17 22:58] lmcclung commented on #4021
@tlebedovich I put the word existing next to the receipt because it wasn't a new output (we have receipts for incorporations).  But it might need some tweaking so it shows alteration not incorporation.

[2021-02-17 23:05] severinbeauvais opened #6519 "Business Create UI: RFC to determine architecture to support multiple corp types"
As [Linda's spreadsheet](https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={E2497718-7EB5-4F0E-AAF5-C0E1CA32C107}&file=Requirements%20matrix%20-%20Starting%20new%20entitities.xlsx&action=default) identifies numerous commonalities and differences between corp type handling, we need an architecture to support this (ie, to prevent messy business logic in the d

[2021-02-17 23:08] riyazuddinsyed opened #6520 "Corrected label appears on the Registration office upon loading the Filing."
**Describe the bug in current situation**
When a user loads the Alteration Filing then the Registered office Address section shows the Corrected label even if no correction has been made.

**Impact of this bug**
All users filing the Alteration Application.

Steps to reproduce the behavior:
1. Go to 'https://business-create-dev.pathfinder.gov.bc.ca/businesses/edit/BC1230073/alteration'
2. See the C

[2021-02-17 23:19] riyazuddinsyed opened #6521 "Unable to Resume the Draft Alteration Application."
**Describe the bug in current situation**
When a user clicks on Resume for the Alteration Application, then its returns to the Draft state unable to Resume the filing.

**Impact of this bug**
Should  be able to Resume the Filing

Steps to reproduce the behavior:
1. Go to 'https://business-create-dev.pathfinder.gov.bc.ca/businesses/edit/BC1230073/alteration'
2. Click on 'Resume'
3. Return to Dashbo

[2021-02-17 23:29] riyazuddinsyed opened #6522 "Staff payment section appears for alteration filing when logged in with BCREG user."
**Describe the bug in current situation**
When a user is logged in with any BCREG user and loads the Alteration filing then the staff payment section appears which should not be the case.

Steps to reproduce the behavior:
1. Go to '.https://business-create-dev.pathfinder.gov.bc.ca/businesses/edit/BC1230073/alteration'
2. Scroll down and  see the staff payment

**Screenshots/ Visual Reference/ Sour

[2021-02-17 23:31] mstanton1 commented on #6325
@Kaineatthelab we are waiting to do our release until 5776 is complete. We will keep you posted.

[2021-02-17 23:56] severinbeauvais commented on #6445
I cannot reproduce the error where the correction data has a blank officer object and/or a blank delivery address object.

[2021-02-18 00:18] Kimwilley commented on #5267
See attached memo sent to Legal today. [https://app.zenhub.com/files/157936592/e45b348a-9248-44a3-91d0-0320cb5baa21/download](https://app.zenhub.com/files/157936592/e45b348a-9248-44a3-91d0-0320cb5baa21/download)

[2021-02-18 00:19] tlebedovich commented on #4021
yes @lmcclung - scott and i were just looking at the receipts that have been built and they could use some work (were never ux assured so there is some items that are incorrect and wrong paper size etc). So maybe we build a new and improved version for Alterations and then we can fix the others after. We weren't sure if our team builds these receipts or if it was relationships team that does.

[2021-02-18 00:20] severinbeauvais opened #6523 "Namerequest UI: should update its feature flag code to report users to Launch Darkly"
Namerequest UI uses an older feature flag module.

- [x] port newer feature flag module from any of our other UIs
- [ ] add code to update user when they log in (which reports it to LD)

[2021-02-18 00:23] #6016 closed

[2021-02-18 00:24] Sienna-Blumstengel commented on #6434
Julie checked in with IT Ops, there might be pressure from the client. Marking this as priority

[2021-02-18 00:26] riyazuddinsyed opened #6524 "Able to see more the 1 draft Alteration filing."
**Describe the bug in the current situation**
when a user creates an Alteration filing and clicks on Resume more than once then on the dashboard the user is able to see more then one filing in Draft state.

Steps to reproduce the behavior:
1. Go to 'https://business-create-dev.pathfinder.gov.bc.ca/businesses/edit/BC1230073/alteration'
2. Click on 'Resume
3. Then again open the Alteration Filing
4.

[2021-02-18 02:04] Milan-Freshworks commented on #6121
@karthik-aot Please check the following issues that have been found:

1. **Scenario 1: View account**
The size of the button is bigger than in the design

2. **Scenario 2: Click suspend**
The size of the button in the dialog box is not the same as in the design

3. **Scenario 4: Complete suspension**
"Date suspended" information is not being pulled in for suspended account in the Suspended tab
![S

[2021-02-18 15:39] rarmitag commented on #6449
Company altered successfully

[2021-02-18 16:09] rarmitag commented on #6398
Can't see BCOL=540111

[2021-02-18 16:32] rarmitag commented on #6450
Can't find BCOL=417025

[2021-02-18 16:39] Sienna-Blumstengel commented on #6449
@lmcclung @rarmitag i don't know if it really matters, but the effective date of the filing was supposed to be when Kat received it, February 4, 2021 at **4:54pm**, but SOFI says February 4, 2021 at **8:54 AM**.

BC Business Registry doesn't show the time on the ledger, just the date.
BC Business Registry **does** show the time on the outputs, and it says 8:54 am.

What do we think? Maybe we shoul

[2021-02-18 16:42] Sienna-Blumstengel commented on #6449
Everything else looks good, after we resolve the question above we can tell Kat this should be done. Client should have received an email saying their documents are available on the new app.

[2021-02-18 17:00] rarmitag commented on #6434
From the filings data I can see that they failed to file a 2018 AR. So when they thought they filed the 2019 AR, they were actually filing their 2018 AR.

[2021-02-18 17:05] lmcclung commented on #6449
@Sienna-Blumstengel I don't think the time difference is the end of the world - it's the day that is most important.  Just let Kat know the effective date/time so she can add the correct time to her 'Filed' stamp.

[2021-02-18 17:06] janisrogers commented on #6232
@mstanton1 Scenario 2 can be removed.

[2021-02-18 17:13] gh20s opened #6525 "mechanical soup for ppr related to automated test"
I thought you might look into using mechanicalsoup to scrape the screens like our partners do (or they use something similar)

patrick has given me login info and a document to walk through it - may need to work with janis for some questions

[2021-02-18 17:15] lmcclung commented on #5683
@rarmitag I've reopened this ticket.  The dashboard is still showing Megan Davies and Paul McGrath as directors.  They were removed at the same time Derek Churchill was added.

![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/4515395f-67d1-4aea-91f4-bc67ce982b0f)

[2021-02-18 17:21] tlebedovich commented on #6164
@lmcclung - I have confirmed that we have room to keep submitted date on all the time.

[2021-02-18 17:58] severinbeauvais commented on #6445
As discussion as Standup today, since it was staff who created this filing, we are "allowed" to change it... or in this case, just delete the subject filing and have staff (or Linda) re-enter it.

So I shall delete the filing now.

[2021-02-18 18:00] Kaineatthelab opened #6526 "Return to NR from paybc to "Draft" state"
Given I attempt to pay for an NR, and cancel the payment at PayBC or some error
When I come back to Name Request
Then I am in a user draft NR state

Do not display:

- the Exit button
- the NR number
- the NR status reminder
- the "Cancelled" state of the NR

New information/elements

- Title: Draft Name Request: Limited Company
- Payment status: Unpaid
- Request status: Draft
- Button label chang

[2021-02-18 18:02] Kaineatthelab commented on #6526
@forgeuxGH5 for the back to draft state

[2021-02-18 18:04] tlebedovich commented on #6074
@Kaineatthelab @lmcclung Can we have this ticket done soon? It will become outdated very soon as we are removing the "Last Updated" line item from the Summary screens and adding in the approx wait times. ![Screen Shot 2021-02-18 at 9.52.13 AM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/2477dc4e-0f90-4a36-ac25-5f5233c2625a)

[2021-02-18 18:04] #5709 closed

[2021-02-18 18:05] pwei1018 commented on #5709
This is done.

[2021-02-18 18:07] #935 closed

[2021-02-18 18:08] severinbeauvais commented on #6445
@lmcclung This entity's correction filing has been deleted.

Please keep track of your steps in case this happens again. Thanks!

[2021-02-18 18:14] trishreimer opened #6527 "COMMS: Once Payment Methods go live - Advise Registry staff, BCOL HD & Maximus that Payment Methods are now available - include link to FAQ's, training, etc."
Payment Methods – Pre-authorized debit and online banking
-	Staff FAQ’s: Here are the staff FAQs. https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc=%7bC11371E3-B012-440A-9928-D37476FA0896%7d&file=Staff%20FAQ%20for%20PAD%20and%20Online%20Banking.docx&action=default

-	RECORDING: Here is the recording from the info session. https://web.microsoftstream.com/vid

[2021-02-18 18:18] trishreimer commented on #6484
If the payment methods release goes in on Sunday, maybe we can combine these release notes with the note stating the new payment methods are now available?

[2021-02-18 18:27] lmcclung commented on #6445
I tried refiling and had the same issue.  Will post link to recording as soon as it shows up in my inbox.  Usually takes 10-15 minutes.

[2021-02-18 19:04] riyazuddinsyed opened #6528 "Invalid session token page appears while the user enters the cc information and click on submit."
**Describe the bug in current situation**
When a user stays on the payment screen with inactivity of more than 10 mins as an approx, then after the user enters the Credit card information and clicks enter then the white screen appears saying Invalid Session Token keeping the user in a confused state if the payment is made or no and then as an obvious scenario of multiple payments occur

Steps to r

[2021-02-18 19:18] riyazuddinsyed opened #6529 "Unable to make a payment when user logs in with BCEID."
**Describe the bug in current situation**
When a user logs in using  the BCEID for Name Request and starts filing a new NR and hit on Review and Submit then the payment screen does not shown up throwing an error message meaning the user won't be able to pay for an NR  if logged in BCEID

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.bcregistry.ca/namerequest/'
2. Lo

[2021-02-18 19:46] sumesh-aot commented on #6473
I have processed NR 3183225 and NR 7632257

[2021-02-18 19:49] severinbeauvais opened #6530 "Filings UI: IA shouldn't display double sub-titles in dashboard header"
**Describe the bug in current situation**
An Incorp App currently displays two sub-titles on the entity dashboard entity info bar (header):

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/09a13a2b-732c-42e9-a142-7f97b25cab52)

There should only be 1 sub-title displayed. In this example, only "Benefit Company Incorporation Application" should be displayed.

**Impact of t

[2021-02-18 19:52] tlebedovich commented on #5369
@lmcclung - This ticket will need to be done before Alterations App is live for users to make sure everyone adds in their contact email and phone number before they are able to go into the Alterations App.

@lmcclung @forgeuxGH5 - do we need to give users a reason why this items are now mandatory if we are blocking them? Or just hope for the best :) ?

[2021-02-18 19:53] tlebedovich commented on #5369
@forgeuxGH5 - Folio input was removed, couple open questions for you in Invision before this is ready for dev

[2021-02-18 20:04] jdyck-fw commented on #6335
@Kaineatthelab & @lmcclung - I moved this to the Entities sprint just now since Steph is working on it

[2021-02-18 20:04] jdyck-fw commented on #6337
@lmcclung - I moved this to the Entities sprint just now since Steph is working on it

[2021-02-18 20:28] tlebedovich commented on #6456
@lmcclung @forgeuxGH5 Should I remove the word "normally" from the tool tip text as per staff feedback in a current email? I don't think we should highlight the price in red (looks like an error), but I can bold it. The price is also in the button and on in the payment modal.

![Screen Shot 2021-02-18 at 12.28.01 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/b713ff04-6582-4

[2021-02-18 20:51] Kaineatthelab commented on #6456
I am ok if you don't make it red, the issues they received were that it didn't say it anywhere so it is covered. I don't have a preference on normally...

@forgeuxGH5 if we aren't changing the word extension then what should the examiners call it when they extend other NRs?

[2021-02-18 20:52] amit4610 commented on #6473
Notified IT Ops for NR 3183225 and NR 7632257 refunds.

[2021-02-18 21:08] severinbeauvais commented on #6445
I am blocked again:
1. I cannot access the video yet so I cannot see the reproduction steps (and I have not been able to reproduce locally)
2. previously I tried reproducing with an IA with 1 director; now I tried creating an IA with 2 directors but it's stuck in pending due to a filer or colin issue

[2021-02-18 21:12] severinbeauvais commented on #4945
I updated the title and description as I updated the feature flags util in Filings UI in a previous ticket. The only remaining work is to port the new code to Create UI.

[2021-02-18 21:12] severinbeauvais commented on #4945
See also #6093.

[2021-02-18 21:13] severinbeauvais commented on #6093
See also #4945.

[2021-02-18 21:14] severinbeauvais commented on #6093
I removed the "techdebt" label as this isn't tech debt. (It's not something we should have done but didn't do.) It is improved code that should be ported to our other projects.

[2021-02-18 21:19] stevenc987 commented on #6516
NR 3051223 - The client only paid once. Please confirm that we still want to refund this payment. @amit4610 @mstanton1

[2021-02-18 21:34] jdyck-fw commented on #6530
Working as expected. First line is name of entity type and second line is the name of the filing

[2021-02-18 21:34] #6530 closed

[2021-02-18 21:34] severinbeauvais commented on #6445
Things to test:
- firm doesn't display name?
- incorporator-only doesn't have delivery address
- can two parties have the same name?
- can a party show up twice?

[2021-02-18 21:40] jdyck-fw commented on #6528
@riyazuddinsyed to confirm whether or not the payment is completed and this will determine whether it's a token issue or something else related to paybc.

[2021-02-18 21:42] jdyck-fw commented on #6528
It's possible that our token expires while we are away from the Entity sites. Whether away for 10 mins or 10 secs, if you're away for refresh this could be the issue.

[2021-02-18 21:45] jdyck-fw commented on #6524
This is mostly likely only in dev and can be worked around by deleting the filings. This is work-in-progress.

[2021-02-18 21:45] #6524 closed

[2021-02-18 21:49] Kaineatthelab commented on #6337
@jdyck-fw The story and other ticket was in the sprint? Did we just miss this one?

[2021-02-18 21:49] forgeuxGH5 commented on #6456
Normally was included because you don't have 56 days to use your name request. You only have 56 day if you don't extended it. So under normal circumstances you have 56 days. Saying you have 56 days isn't technically correct. We could say "Once approved, you have 56 days to use your Name Request, unless you extend the expiry. Within 5 days of expiry you can renew our Name Request two times for an a

[2021-02-18 21:50] jdyck-fw commented on #6522
Staff payment component should only be available to staff. Basic and premium users shouldn't see this.

[2021-02-18 21:53] jdyck-fw commented on #6521
Known, work in progress

[2021-02-18 21:53] #6521 closed

[2021-02-18 21:55] jdyck-fw commented on #6520
@cameron-freshworks please verify if this is part of your ongoing work and close this ticket if it is.

[2021-02-18 22:00] jdyck-fw commented on #6529
@riyazuddinsyed and @severinbeauvais will follow up to reproduce this and find the matching sentry log entries.

[2021-02-18 22:01] jdyck-fw commented on #6529
@mstanton1  & @amit4610 - Can you work with your team to see what's going on here?

[2021-02-18 22:06] tlebedovich commented on #6456
@forgeuxGH5 - I've updated the tool tip to your new copy above. until we here more...

[2021-02-18 22:06] jdyck-fw commented on #6513
Look for anything else that needs validation in corrections when looking at this ticket.

[2021-02-18 22:12] cameron-freshworks commented on #6520
@riyazuddinsyed @jdyck-fw
For Alteration filings, we haven't worked on anything besides the Change of Name and Change of Type, so these components are carry-overs from Corrections.

We have tickets to update each component included here for Alterations, but this ticket can be closed.

[2021-02-18 22:13] lmcclung commented on #6337
@Kaineatthelab yeah, looks like we forgot to add the milestone on this ticket during grooming/sprint planning.

[2021-02-18 22:32] thorwolpert commented on #6513
what ticket added this functionality? Would need to know that to answer your question.
I don't think it has come up yet.

[2021-02-18 22:58] tlebedovich commented on #6504
@lmcclung @forgeuxGH5 - screenshot has been added above. To note, I used a view that had results so it made more sense to users:

![Screen Shot 2021-02-18 at 2.57.09 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/05f62fb0-ef57-4554-82e0-16d74dec1f96)

[2021-02-18 23:06] forgeuxGH5 opened #6531 "Name Request Payment succeeds at PayBC but is not completed in Namex - UI DESIGN"
## Wireframes - v2
https://preview.uxpin.com/43d021b4f04b4159b95f1bd18655a41b2f5ded77#/pages/136895515

[2021-02-18 23:19] mstanton1 commented on #6232
@Kaineatthelab @janisrogers  We will need fee code description, fee code name and confirmation of whether there are service fees on the two amounts listed above.

Estimate added above.

[2021-02-18 23:23] mstanton1 commented on #6433
@Milan-Freshworks can you look into this - replicate, and then put into our format for the team to review later?

[2021-02-18 23:28] severinbeauvais commented on #6529
Riyaz managed to reproduce this, so I looked at the logs.

Sentry reported a UI error ["POST https://namex.pathfinder.gov.bc.ca/api/v1/payments/2060202/CREATE [500]”](https://sentry.io/organizations/registries/issues/2098160573/events/b076989ec30b4daca42ea7e7ccf2e9a2/).

I cannot find a matching error in the Openshift application logs. Instead everything looks fine:
[code]
[code]
[code]

I don't k

[2021-02-18 23:29] #4277 closed

[2021-02-18 23:31] mstanton1 commented on #6472
@mstanton1 to confirm if we need to stop payment roll up (cancel transactions that are underway) in any of these cases. For instance, Fraudulent Activity.

[2021-02-18 23:47] #6333 closed

[2021-02-18 23:48] #6254 closed

[2021-02-18 23:48] #6143 closed

[2021-02-18 23:50] lmcclung commented on #6372
@cameron-freshworks there's still some items unchecked.  Do you need to finish them before I close this?

[2021-02-18 23:50] severinbeauvais commented on #6529
I see no evidence that this is a payment bug. The 3rd debug statement above seems to indicate that the invoice was created.

It really looks like the namex api crashed, but there's nothing in the logs to indicate that.

[2021-02-18 23:50] #6365 closed

[2021-02-18 23:51] #6366 closed

[2021-02-18 23:56] severinbeauvais commented on #6513
@thorwolpert I'm unclear what you're answering or asking.

THIS ticket asks for validation of a correction filing JSON. It looks like it contains some empty blocks, which are causing filing issues.

[2021-02-18 23:58] #6443 closed

[2021-02-18 23:59] #6334 closed

[2021-02-19 00:06] Kaineatthelab opened #6532 "Remove Detail Analysis Page"
remove this page
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/890fe08a-b229-46e4-a849-4acb84ec5211)

New Flow
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/c24b2993-17ea-4085-9148-321a54e15da8)

TO HERE
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/3d621c6d-c862-4887-8738-d373ad75fcf1)

[2021-02-19 00:06] #6446 closed

[2021-02-19 00:06] lmcclung commented on #6308
@cameron-freshworks can I close this now?  has it been released?

[2021-02-19 00:08] #6482 closed

[2021-02-19 00:09] Kaineatthelab commented on #6532
@forgeuxGH5

[2021-02-19 00:10] severinbeauvais commented on #6529
Well I just tried it myself (on a Windows 10 PC):  logged in as BCSC, filling in pages, submitted NR, got to PayBC page (then cancelled out). So it worked for me.

[2021-02-19 00:12] severinbeauvais opened #6533 "Legal API: queue error in Dev blocking new IAs"
In Dev at the moment, new Incorporation Applications are stuck in FILED AND PENDING / PAID status.

Sentry reports a queue error:
["incorporationApplication 111297 unable to get a business registration number."]
(https://sentry.io/organizations/registries/issues/1925033428/events/491ad201b95b4a30865b5e4e2abd57e9/)

This is blocking ops investigations and development.

Sample blocked IAs:
https://d

[2021-02-19 00:13] severinbeauvais commented on #6533
@lmcclung @Kaineatthelab FYI

[2021-02-19 00:14] Sienna-Blumstengel commented on #6398
Sent Kat an email, to get the client to set up a premium account & hook up their BCOL

[2021-02-19 00:15] Sienna-Blumstengel commented on #6450
Sent Kat an email, to get the client to set up a premium account & hook up their BCOL

[2021-02-19 00:17] #5453 closed

[2021-02-19 00:18] severinbeauvais commented on #6532
Code investigation for developer:
- in new-request-module.ts there is a check for the "disable-analysis" check
- when analysis is disabled, the program mutates the page to "SendToExamination"
- the send-to-examination page displays the
- the send-to-examination page uses sub-component "reserve-submit.vue" to display and handle the Continue button
- it looks like the new-request-module page could i

[2021-02-19 00:18] #6320 closed

[2021-02-19 00:56] thorwolpert commented on #6513
@jdyck-fw asked if there was more to validate
@severinbeauvais is saying it is a bug (on what?)
To answer Jason's question, I was asking if anyone knew the tix that the supposed validation for an IA Correction was added in, so we would know how to validate it, or what went wrong (bug).
I only see code for the correction comment, so I'm going to guess it hasn't been implemented yet, If that's true,

[2021-02-19 00:57] cameron-freshworks commented on #6372
@lmcclung Sorry, updated! Ready to close.

[2021-02-19 00:58] #6372 closed

[2021-02-19 01:00] cameron-freshworks commented on #6308
@lmcclung I believe it has yes, but i think since Vysakh was working on it, the next best person to follow up would be Riyaz.

[2021-02-19 02:42] severinbeauvais commented on #6529
It turns out, this probably has nothing to do with Macs vs PCs... Riyaz was able to reproduce this on a PC. However -- dunno how I missed this -- Riyaz was using a BCeID, not a BCSC.

@amit4610 Are you able to look into this, as it may be account-related? If not you, who can help? Thanks!

[2021-02-19 02:54] severinbeauvais commented on #6529
I tried with my BCeID and got this:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/5d2f9bb3-7e8c-44e0-be3f-04af8ff3c14c)

But then I was taken to the usual PayBC page:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/f5e5c43f-a563-4003-8049-b07210b5d338)

(... which I cancelled out of again)

(My NR number is NR 1478419.)

[2021-02-19 06:05] forgeuxGH5 opened #6534 "Cancel Name Request payment at PayBC flow - UI DESIGN"
If the user cancels the payment of their Name Request at PayBC they are returned to the NR in the "Draft" state.

## Wireframes
https://preview.uxpin.com/43d021b4f04b4159b95f1bd18655a41b2f5ded77#/pages/136899389

[2021-02-19 15:00] rarmitag commented on #6434
Bob found Missing AR. I will try and update our data. This involves adjusting the data for the existing 2019 filing, and the 2020 filing.

[2021-02-19 16:02] Kaineatthelab opened #6535 "Add Hot Jar to Name Request, then others"
@Kaineatthelab - I reviewed the premium options and recommend we start with the more business-like "star" reaction style. We can try this for a while and then always do an A/B testing with the more playful default face emojis. The face emojis option has an icon included in the closed tab state, which I like, but not super happy that one of the face options is "hate" and it may be a bit too informa

[2021-02-19 16:02] #4490 closed

[2021-02-19 17:15] severinbeauvais commented on #5274
To verify this ticket, another ticket to provide the output name to the UI is required (not sure its number << add here if known).

[2021-02-19 17:32] severinbeauvais commented on #6445
I fixed the correction filing JSON as described in the comment above.

The correction filing has now gone through (is completed).

Still to do:
- [ ] verify that the incorporator / director data is correct (as I deleted the empty incorporator party... which maybe should have been JEREMY DELA ROSA)
- [ ] identify and fix code errors that allowed this bad data to be created (as I get into this, I ma

[2021-02-19 17:37] Kaineatthelab commented on #6529
@mstanton1 @amit4610 @jyoti3286 Severin looked at this and put his findings above. Can your team look at this as a priority 1 as it could be blocking users in Prod (although I don't know if anyone has even tried to pay via logged in)

[2021-02-19 17:46] lmullane opened #6536 "GovM Admin or Coordinator add a team member"
* As an administrator or coordinator of a government ministry account
* I want to be able to invite team members with an IDIR to join my account
* so that they can do transactions for more account

**Acceptance Criteria**

**Scenario 1: Add team member**
* GIVEN an admin or coordinator for the government account is on the Team Member view
https://preview.uxpin.com/9d3cc1c05d562c121b088ee6bc279dea1

[2021-02-19 17:57] lmullane opened #6537 "Email invitation to government ministry account team member"
* As a new government ministry account team member
* I want an email invitation
* so that I can join a government ministry account

**Acceptance Criteria**

**Scenario 1: Receive email**
* GIVEN an admin or coordinator entered a valid email
* WHEN the admin or coordinator clicks 'Add'
* THEN the new team member will receive an email invitation to their IDIR email:
https://preview.uxpin.com/9d3cc1c

[2021-02-19 18:18] lmullane opened #6538 "Team member logs in to government ministry account"
* As a team member invited to a government ministry account
* I want to login with my IDIR
* so that I can start work for the account

**Acceptance Criteria**

**Scenario 1: Team member logs in Government Ministry Account**
* GIVEN a team member has been invited to join a government ministry account
* AND the team member is on the IDIR login page
![Screen Shot 2021-02-19 at 10.11.00 AM.png](https:

[2021-02-19 18:25] lmcclung commented on #6434
@severinbeauvais @rarmitag Looking at the ledger in the business registry app, there is a ledger for 2004 and 2014 Annual Reports.  So don't need to worry about those.

[2021-02-19 18:31] lmcclung commented on #6445
@severinbeauvais.  Jeremy's director info looks good however the corrected IA output has a number of issues wrong with it...
1) incorporator no longer shows and has a 'removed' label on it
2) completing party has a 'corrected' label on it and it shouldn't as no change should have been made.  unless you made one?
3) common shares has a 'corrected' label on it.  I noticed this when I was doing some

[2021-02-19 18:39] lmcclung opened #6539 "BC1289819 - Benefit company data not syncing back to COLIN database"
#### ServiceNow incident: INC0077544
#### Contact information
Staff Name: Cameron Wulff
Staff Email: Cameron.Wulff@gov.bc.ca

#### Description
Hi service desk,

Please forward this email to the lab team for investigation.  It appears the data migration from BC Business Registry App over to SOFI did not work for this company.

Linda, cc’ing you as discussed.  Let me know if you need any further det

[2021-02-19 18:51] severinbeauvais commented on #6445
1. I removed the incorporator party object as it had an invalid officer object; I suspect that JEREMY DELA ROSA should have the incorporator role instead
2. I removed the empty delivery address from the completing party

Either or both of the above caused the initial filing error ("invalid country" since it's null). I still have not confirmed whether the UI created the invalid filing. I am concern

[2021-02-19 19:22] amit4610 commented on #6527
Included the above links in the latest release notes, sending to Trish, Loren, Jyoti and Melissa for review.

[2021-02-19 19:22] #6527 closed

[2021-02-19 19:29] amit4610 commented on #6484
Updated release notes, added all the links to job aides, info sessions, ppt, videos.

[2021-02-19 19:37] severinbeauvais opened #6540 "LEAR: in a correction, share structure displays as "corrected" even when it wasn't"
**Describe the bug in current situation**
I filed a correction for an IA. In the "Incorporation Application (Corrected)" output, the Authorized Share Structure displays as being corrected, but I did not change it.

I had a quick look in the db and it shows that the share classes data has multiple versions (which, I think, is incorrect).

Environment: Dev
Business used: BC1230074 (bcreg0020)
Filing

[2021-02-19 19:38] severinbeauvais commented on #6445
I created this bug ticket for this issue: https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6540

[2021-02-19 19:44] severinbeauvais opened #6541 "Should not be able to correct a corrected IA"
**Describe the bug in current situation**
Once an IA has been corrected, users (staff) should not be able to correct it again. (The correct process is to correct the correction - see #6615.)

**Impact**
Correcting the original IA again is likely to cause data issues in the db and incorrect correction filings.

[2021-02-19 20:21] severinbeauvais opened #6542 "Investigate/fix Edit UI creating bad correction filing data"
**Describe the bug in current situation**
In #6445, a staff filed an IA correction filing. This filing apparently contained:
- an empty delivery address object for the completing party
- a mostly-empty officer object for the incorporator (missing all names)
- an empty delivery address object for the incorporator

Original IA correction (save as JSON as needed):
[https://app.zenhub.com/files/157936

[2021-02-19 20:24] severinbeauvais commented on #6445
I created this bug ticket for the issue of bad data in the IA correction filing: https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6542

[2021-02-19 20:35] severinbeauvais commented on #6445
Now we need to figure out how to fix this customer's data. Any ideas?

I hesitate to update anything else in the Prod db (this IA correction filing was an exception) but that may be required to undo this filing and try it again.

Here is the original IA correction filing (which was stuck) and the version I edited (which was completed):

original
[https://app.zenhub.com/files/157936592/c3b48161-8f2

[2021-02-19 20:43] severinbeauvais commented on #6508
^^ I moved the bug tickets to the Bugs pipeline.

[2021-02-19 20:46] severinbeauvais commented on #6499
This is the ticket I shall use to change compiler options to make the code "more compatible" with various browser engines (even though it's better explained in #6055).

[2021-02-19 20:54] severinbeauvais commented on #6476
I found this: https://vuejs.org/v2/guide/reactivity.html#Change-Detection-Caveats

It suggests that some types of reactivity are not supported, which may be the problem being experienced (with a root cause being the current architecture).

[2021-02-19 20:54] severinbeauvais commented on #6055
https://stackoverflow.com/questions/61343086/vue-3-recommended-typescript-tsconfig-compileroptions-target-setting

[2021-02-19 20:54] severinbeauvais commented on #6499
https://stackoverflow.com/questions/61343086/vue-3-recommended-typescript-tsconfig-compileroptions-target-setting

[2021-02-19 20:56] lmcclung commented on #6055
@severinbeauvais @Kaineatthelab I'm okay with the 'feature branch' idea and timeboxing it, and doing it as OT.

[2021-02-19 21:03] severinbeauvais commented on #6055
I'm hoping that my 1-hour-timeboxed fix in 6499 today solves THIS ticket as well.

There is another ticket in this epic ("refactor store") that would take several days and be a contender for OT.

[2021-02-19 21:05] Kaineatthelab commented on #6055
Thanks Severin, much appreciated!! Maybe we will be able to make this mobile accessible at some point. Take care not to go to hard:)

[2021-02-19 21:08] severinbeauvais commented on #6055
For the record, there are 2 limitations for using Namerequest on mobile:
1. code errors (hopefully solved by 6499 and/or refactoring modules in THIS ticket)
2. responsiveness (screen size issues and maybe hover/navigation) - for which we don't have a ticket

[2021-02-19 21:27] Kaineatthelab commented on #6055
right, I will make a ticket after we sort out or errors and see where we get to:)

[2021-02-19 21:55] PatrickHeath commented on #6369
See attached.  If the search algorithm for any field changes, these should be revisited.  Validations shouldn't be too strict or specific searches may not be possible.

[2021-02-19 22:10] severinbeauvais commented on #6499
I have tested the new code locally (and the unit tests all passed) and I haven't found any issues with it.

The commit (PR) has been reviewed and merged/deployed to Dev.

### Test Notes

There are no functional changes due to the new code, but the compiled JS (ie, the app code that runs) is different, so this definitely needs to be regression-tested.

If possible, this should be tested on Mac/Safa

[2021-02-19 22:13] mstanton1 opened #6543 "Complete Analysis for Cancel and Refund Button for Premium Users"
#### ServiceNow incident:
#### Contact information
Staff Name:
Staff Email:

#### Description
In Name Requests a client can click a button to cancel and request refund at the end of the flow. A process has been built for credit card users. Analysis is needed on how this button should function for premium users paying with BCOL or PAD.

*For PAD it would be worth looking at Societies Online.

####

[2021-02-19 23:18] severinbeauvais opened #6544 "NR UI: disable caching when there is a new version"
First, I am not sure whether some users are still running old (cached) versions of the Namerequest web app instead of fetching a new version from our server, and thus experiencing bugs that have been fixed. But I think so...

I found this great discussion:
https://stackoverflow.com/questions/45867357/vuejs-browser-caching-production-builds

One worrisome comment made is:

One proposed solution is

[2021-02-20 00:00] severinbeauvais commented on #6333
Yes, this ticket is in 2 releases, because it has code in both of them.

[2021-02-20 00:11] severinbeauvais opened #6545 "Namerequest UI: compiler options change release (0.6.0 + 0.6.2)"
## NameRequest UI 0.6.0 Release

Prior to moving into production, the following steps should be completed or confirmed:
- [x] Update version number in the code being released - done by SB
- [x] Ensure deployment steps below are filled in - remove/replace placeholders  - done by SB
- [x] Create a draft release in GitHub and confirm the correct commits are present  - done by SB
- [x] Add version # a

[2021-02-20 01:17] #4141 closed

[2021-02-20 01:23] lmullane commented on #2489
Hey @thorwolpert, quick question on using Jamstack for the BC Registries homepage.

Does Jamstack support knowing the state of the user who is on the page? For example, Vital Stats and PPR will be available to only users who are part of specific accounts. Does Jamstack enable us to stop a user from accessing PPR, for example, if their account does not have access (i.e. basic account)? cc @jyoti328

[2021-02-20 02:15] thorwolpert commented on #2489
yes, it definitely can cover that. JAM ( for JavaScript APIs and Markup ) Stack can still create very dynamic sites.

[2021-02-21 18:13] tlebedovich opened #6546 "Alteration Notice UI - Top Level Buttons + Validations + Delete Function"
Also see related tickets #6587 and #6674

We need to add Top Level validation schemes to the Alteration Notice (for the Resume Later, Review and Certify, File and Pay buttons). We need to update some button labels and delete functionality.

**Full Set of Alteration Design Comps:**
https://projects.invisionapp.com/share/6EYT1CDGYVN#/screens?browse

### **Company Information Page**

- [x] Change the

[2021-02-22 00:39] forgeuxGH5 opened #6547 "UI DESIGN - Name Request 2.0 Project X"
## Copydeck
https://docs.google.com/spreadsheets/d/1yasXI7oeI84gDES8obZiZ1w6k4io3xm88ykYcfHLFuo/edit#gid=0

## Wireframes
**Similar names concept**
~https://preview.uxpin.com/7edcf7be2590cad60f3da39543ce9df7e317e498#/pages/136920380~

**Misc Updates**
https://preview.uxpin.com/3cf78da903ccabedd388f435a4e9e540291bbb34#/pages/135733630/simulate/no-panels

**List of Similar Business Category Words an

[2021-02-22 01:31] forgeuxGH5 opened #6548 "Name Request type selectors - BC selection usability - UI DESIGN"
Some users are confused by the BC jurisdiction selection. This is likely due to  the following:
the visual appearance of the dropdown selector (appears similar to a standard dropdown selector)
the length of the option label (BC)

**Recommendations**:
Change the visual appearance of the dropdown selectors to be distinct from standard dropdown selectors
Change the option lable from BC to British Col

[2021-02-22 16:11] sumesh-aot commented on #6350
@mstanton1 @amit4610 Do you have a template for this email ?

[2021-02-22 16:22] mstanton1 opened #6549 "Updates to Modernization Initiative Page for Payment Launch"
#### Description
The modernization page refers to new payment methods coming soon. Text updates are needed to advise the new payment methods are available.

https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/news-updates/modernization

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add

[2021-02-22 16:25] mstanton1 commented on #6549
[https://app.zenhub.com/files/157936592/eaba809e-d650-4f20-9bcd-8bb54ebd19e1/download](https://app.zenhub.com/files/157936592/eaba809e-d650-4f20-9bcd-8bb54ebd19e1/download)

Updated text attached.

[2021-02-22 16:26] Sienna-Blumstengel commented on #4708
@cameron-freshworks do you think this might have been tracked in another ticket already?

[2021-02-22 16:26] mstanton1 commented on #6549
Sent to Genevieve for posting.

[2021-02-22 16:33] cameron-freshworks commented on #4708
I'm not sure if we had a specific 'File and Pay' ticket, however this was mostly done in the FeeSummary ticket (completed in #5167)

[2021-02-22 16:46] Sienna-Blumstengel commented on #6059
@tlebedovich are there designs for this ticket somewhere?

[2021-02-22 17:07] Sienna-Blumstengel commented on #6136
@forgeuxGH5 @tlebedovich could you review my changes to the email content? I added a bit to account for BCOL ad PAD payments

[2021-02-22 17:10] Sienna-Blumstengel commented on #6136
@ developers .. is including the amount that they paid in the email more effort than it's worth? How much effort will it take to get that amount and display it in the email?

Especially if they did two separate transactions. Can you grab the total that they will be refunded somewhere? (eg, 30 + 1.50, then another transaction 100 + 1.50, totalling 133)

[2021-02-22 17:10] mstanton1 commented on #6484
Release notes updated again to include full lists of available banks and to update in spots which refer to the release happening in the future.

[2021-02-22 17:14] tlebedovich commented on #6059
@Sienna-Blumstengel - There is a design link above in the description when the button was still being called "Extend Expiry ($30)" But I'm not sure what was decided regarding naming for this? @lmcclung @forgeuxGH5 @Kaineatthelab

[2021-02-22 17:42] jdyck-fw commented on #6014
Patrick is fixing a deployment script before this is ready.

[2021-02-22 17:42] mstanton1 commented on #6484
Notes and dist list have been sent to SBC IT Ops to send.

[2021-02-22 17:43] mstanton1 commented on #6549
Changes have been made in qa, verified, and pushed to production.

[2021-02-22 17:43] #6549 closed

[2021-02-22 17:45] severinbeauvais commented on #5036
To the dev implementing this:
see https://github.com/bcgov/lear/blob/master/queue_services/entity-filer/src/entity_filer/filing_processors/filing_components/business_profile.py

[2021-02-22 17:50] saravanpa-aot opened #6550 "launch darkly flags are getting cached"
Seems like the LD flags are getting cached even after the flags got flipped.
this has to be investigated

@jyoti3286 this is the issue .

[2021-02-22 17:53] tlebedovich commented on #5028
@lmcclung - design specs have been noted for needed design & validation updates - may need regroom

[2021-02-22 18:16] mstanton1 commented on #6484
The announcement has been sent by IT Ops.

[2021-02-22 18:16] #6484 closed

[2021-02-22 18:23] Sienna-Blumstengel opened #6551 "UI - Integrate Webchat into Name Request app"

[2021-02-22 18:25] jdyck-fw commented on #6551
Report back to the team after the first day on this - is the estimate reasonable?

[2021-02-22 18:34] Sienna-Blumstengel opened #6552 "UI - Update existing request page & renew/extend modal"
- [x] Verify that it expiry date and submitted date are in PST
- [x]  Update "Renew modal" to match designs

- [x] Handle extensions remaining from backend data (blocked by 6553)

[2021-02-22 18:36] Sienna-Blumstengel opened #6553 "NameX API - Enable renew NR"
**To do:**
- [x] Enable and verify existing "renew/extend" functionality
- [x] ~add functionality to enable a different expiry extension for Restore or reinstate NRs (1 yr 56 days)~ *already there for namerequest*
- [x] Provide number of remaining extensions and total number of extensions to UI *already there*

[2021-02-22 18:41] mstanton1 commented on #6501
I have met with Joanna and confirmed that BCOL Help does not require the ability to suspend an account. They will, however, need to be able to see that an account is suspended, along with the reason why. This can be accomplished by showing them the suspended tab. I will update ticket 6426.

[2021-02-22 18:41] #6501 closed

[2021-02-22 18:59] Sienna-Blumstengel opened #6554 "UI - whatever is needed"
This ticket is to add the staff payment component and functionality to Namerequest UI. See designs for details.

* New staff payment tab after the payment summary modal
* When you close the staff payment modal, you still go back to the previous modal

## DEV NOTES
- Update design of current component to match this comp .
- Hide the line under "No fee" option and the "Priority" ($100) checkbox.
- T

[2021-02-22 18:59] Sienna-Blumstengel opened #6555 "NameX API - Whatever is needed"
### Options (based on results of spike)
#### 1
- [ ] Provide staff payment upfront, then create the relevant invoice
#### 2
- [ ] Update the staff payment option after the invoice is created

### Notes
Decided to hold off on refactoring while working on this ticket

[2021-02-22 19:29] lmcclung opened #6556 "Verify - Receipts display correctly"

[2021-02-22 19:42] mstanton1 opened #6557 "Show PAD Receipt when Payment has been processed"
* As a premium account holder paying with PAD
* I want my receipt to be available through the entity dashboard
* so that I can obtain a record of the payment that has been made

**Acceptance Criteria**
**Scenario 1: Client has made the payment, and PAD Payment has **not** been processed through batch**
* GIVEN a premium client with PAD has made the payment
* AND Registry has not yet received the s

[2021-02-22 20:10] Sienna-Blumstengel opened #6558 "CP0002376 - Evinco Foods Cooperative Group - Incorporation application filing does not show on coops online"
#### ServiceNow incident:
INC0077610
#### Contact information
Staff Name: Julie Harding

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Assign zenhub ticket to milestone: current, and place in pipeline: sprin

[2021-02-22 20:16] PatrickAHeath commented on #6369
[Search field validations.docx](https://github.com/bcgov/entity/files/6024924/Search.field.validations.docx)

[2021-02-22 20:27] Sienna-Blumstengel commented on #3603
Do we still need any pieces of this ticket, or can we close it? @trishreimer @jyoti3286

[2021-02-22 20:34] Sienna-Blumstengel commented on #6346
Can we use the content from the [BC OnLine announcement](https://docs.google.com/document/d/1g147VYf1YWSPvcBJVsc-shTpnO74f4WyDns-H_60gCU/edit?usp=sharing)?
We might be ready to send, if so!
@trishreimer

[2021-02-22 21:20] shabeeb-aot commented on #6258
There some places we are checking is staff using idir
common component
1. to show terms of use
2. header for menu
3. inside syncAccount

In sbc auth
1. Redirecting to dashboard
2. In router
3. HomeViewOutdated not sure if its using

[2021-02-22 22:10] PatrickAHeath commented on #6369
[Search field validations.docx](https://github.com/bcgov/entity/files/6025481/Search.field.validations.docx)

[2021-02-22 22:14] amit4610 commented on #6350
Since the error report will be attached which will have all the details, how about a generic line?
**Header**: GL disbursement failure for EJV
**Body**: The GL disbursement failed for the electronic journal voucher batch. Please contact the ministry to get the correct GL and update in the BC Registries application. The error reports is attached with further details.
@sumesh-aot @jyoti3286 @mstanto

[2021-02-22 22:17] doug-lovett commented on #6282
Verified dev auth config running ppr-api locally with flask.
Requests are working as expected with the environment JWTManager setting:
JWT_OIDC_WELL_KNOWN_CONFIG=https://dev.oidc.gov.bc.ca/auth/realms/fcf0kpqr/.well-known/openid-configuration
and a dev keycloak issued JWT for a user with the ppr role.

[2021-02-22 22:30] Milan-Freshworks commented on #6529
**BC Online Payment method**
<img width="1440" alt="Screen Shot 2021-02-22 at 2 24 29 PM" src="https://user-images.githubusercontent.com/60755412/108778512-56281900-751a-11eb-9b6c-bf18a9865736.png">

https://user-images.githubusercontent.com/60755412/108778495-50323800-751a-11eb-9a22-dc27432a44a0.mov

[code]

`{"message":"SBC Pay API exception.\r\n\r\nAPI request failed"}`

[2021-02-22 22:32] Milan-Freshworks commented on #6529
**Credit card**
No issue found
Uploading Screen Recording 2021-02-22 at 2.13.36 PM.mov…

**
No issue found

[2021-02-22 22:32] severinbeauvais commented on #6529
Did you try in Prod?

[2021-02-22 22:43] Sienna-Blumstengel opened #6559 "Cancelled NRs are showing as conflicts in NameX (should not be)"
#### ServiceNow incident:
INC0077820
#### Contact information
Staff Name: Jennifer Weldon
Staff Email: jennifer.Weldon@gov.bc.ca

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Assign zenhub ticket to milesto

[2021-02-22 23:09] mstanton1 commented on #6529
@severinbeauvais Milan did this in TEST as we were advised there should be no difference. Is there something different between the environments that requires this testing be completed in PROD?

@Milan-Freshworks

[2021-02-22 23:22] mstanton1 commented on #6026
@Milan-Freshworks can you test to see if this has been resolved?

[2021-02-22 23:32] mstanton1 commented on #4901
@riyazuddinsyed can you let us know if you see this again? @Milan-Freshworks has suggested we could look in the logs but we would need an approximate time that this occurred - and have not yet been able to reproduce.

[2021-02-22 23:35] severinbeauvais commented on #6529
The problem was reported in Prod and it has been reproduced there it a few times.

Yes, Test and Prod are different pods with different configs, database, etc.

Don't worry about creating invalid data in Prod -- don't pay for any Name Request you create and then cancel it.

[2021-02-22 23:46] mstanton1 commented on #6529
@Milan-Freshworks based upon the response above we will need to sort out a Prod BCeID account for testing. Do you know of one? If not we can raise this in stand-up tomorrow?

[2021-02-22 23:51] amit4610 opened #6560 "Client refund for company incorporation"
Hello Team,

Can you please assist with the refund request below? I have sent the dissolution request to the DBA team and have sent a request to the CRA to cancel the BN. INC0077618 Created for this.

Thank you,

Alan Yan

I have a further update on this.

Dee has been emailing with the client back and forth all day and we have learned the following:

1)	This benefit company was incorporate in com

[2021-02-23 00:25] #6478 closed

[2021-02-23 00:26] #5975 closed

[2021-02-23 00:39] lmcclung opened #6561 "Investigate why multiple payments"
**Describe the bug in current situation**
RE: NRs 6051498 and 4060603.
The client swears that on this separate request they only made one submission yet they got two NRs from the single submission.
I see that the “duplicate”, 6051498, is in payment pending status, so I’m not really sure what is going on with it or if they would have been charged twice. I figure I will just email ITOps to check pay

[2021-02-23 00:56] #6014 closed

[2021-02-23 11:55] Milan-Freshworks commented on #6404
It has been tested and verified

[2021-02-23 17:36] trishreimer commented on #6346
@Sienna-Blumstengel yes, please reuse as much content as possible from the announcement. Also, now that online banking and PAD are available, we will need to update the email to indicate this. Perhaps take a look at the key messages in the comms plan to see if anything else needs to be included or reworded.

Thank you!
[BCOL_ACCOUNTS_NAMES.xlsx](https://github.com/bcgov/entity/files/6030799/BCOL_A

[2021-02-23 18:00] Sienna-Blumstengel opened #6562 "As a staff member, I can correct a correction"
## Story
As a staff user
I want to correct a correction
So that I can make more corrections to the **most current version** of a filing
_i.e. I should not be able to correct an old (pre-corrected) version of a filing, because that version is no longer valid_

## Acceptance Criteria
#### 1 - Correct a correction

#### 2 - Can't correct the original

## Definition of Ready

- [ ] Are the Acceptance

[2021-02-23 18:14] Sienna-Blumstengel opened #6563 "Edit UI - Allow correction to a correction"

[2021-02-23 18:15] Sienna-Blumstengel opened #6564 "Legal API - Allow correction to a correction"

[2021-02-23 18:23] sumesh-aot opened #6565 "Pause PAD account creation in PROD"
#### Description
CAS identified an issue on their side, and want us to stop creating any PAD account until the fix is ready from CAS side.

#### Tasks
- Add a flag on jobs to pause any PAD account creation.

[2021-02-23 18:42] rarmitag commented on #6539
Please double check to see if this one is still an issue. The data is in colin now.

[2021-02-23 18:48] lmcclung commented on #6539
Confirmed info now in COLIN/SOFI

[2021-02-23 18:49] lmcclung commented on #6539
@rarmitag can you throw on an estimate so I can close it?

[2021-02-23 20:25] lmcclung opened #6566 "Home Jurisdiction needs to be written back to NamesP database"
## Current workaround for this bug involves using NRO so this needs to resolved prior to shutting down NRO.

### User Story
AS A person wanting to register/change name/amalgamate or reinstate an extraprovincial company from outside of Canada
I WANT to be able to retrieve the NR information in Corporate Online
SO THAT I can complete my registration.

### Acceptance Criteria:
### Scenario 1 - Regist

[2021-02-23 20:43] mstanton1 opened #6567 "Don't process refund"
#### Description
Please coordinate with CAS to ensure the refund below is not processed. It was triggered in error.

NR 9003273 has one paid record. However, I did refund by accident. Could you please tell me what I can do now to rollback the refund? Very sorry about that. Could you please reach out to contact on CAS side to not refund this. Please let me know after it is done on CAS side so we ca

[2021-02-23 20:44] mstanton1 commented on #6567
Sent to CASHelp who has directed to Cindy Leung.

[2021-02-23 20:50] #6539 closed

[2021-02-23 21:03] severinbeauvais commented on #6055
The following commits contain defensive code to prevent some of the Sentry errors:
https://github.com/bcgov/namerequest/pull/309
https://github.com/bcgov/namerequest/pull/310

[2021-02-23 21:06] #6252 closed

[2021-02-23 21:06] #6404 closed

[2021-02-23 21:06] #6425 closed

[2021-02-23 21:06] #6310 closed

[2021-02-23 21:08] severinbeauvais commented on #6545
I created a couple of "defensive coding" commits and attached them to #6055 (which is not yet complete).

I plan to release 0.6.2 to Prod using THIS release ticket.

- [x] deploy to Dev (automatically done by GHA)
- [x] verify in Dev - _done by SB on Feb 23_
- [x] deploy to Test - _done by SB on Feb 23_
- [ ] verify in Test
- [ ] deploy to Prod
- [ ] smoke-test in Prod
- [ ] watch Sentry for a whi

[2021-02-23 21:14] #6107 closed

[2021-02-23 21:24] #6492 closed

[2021-02-23 21:24] Sienna-Blumstengel commented on #6492
It resolved itself - the processing was just taking a while. Responding to IT ops and closing.

[2021-02-23 21:26] Sienna-Blumstengel commented on #6493
Resolved itself, processing was just taking a while. Closing ticket, will respond to IT Ops.

[2021-02-23 21:26] #6493 closed

[2021-02-23 21:32] mstanton1 opened #6568 "Release Activities for Relationships PAD, OB and Suspension Release"
#### Description
Ticket is to track effort expended on Relationships release.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] Assign zenhub ticket to milestone: current, and place in pipeline: sprint backlog
- [ ] Reply All to

[2021-02-23 21:32] mstanton1 opened #6569 "Release Activities for Relationships PAD, OB and Suspension Release"
#### Description
Ticket is to track effort expended on Relationships release.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] Assign zenhub ticket to milestone: current, and place in pipeline: sprint backlog
- [ ] Reply All to

[2021-02-23 21:32] severinbeauvais opened #6570 ""Cannot read property 'querySelector' of undefined" on return from cancelled payment"
1. open dev console
2. go to NR UI
3. enter information and click through to create NR
4. at PayBC, cancel payment
5. upon return to NR UI, see error in console:
[code]

The error is on the third line below. For some reason, `this.$el` is undefined.
[code]

Theoretically, as long as this component's code is executing, then the above reference to this element should exist, but for some reason, here

[2021-02-23 21:36] lmcclung opened #6571 "URGENT: Unable to retrieve NR 7695944 in corporate Online"
Re: NR 7695944

Due to known bug, the home jurisdiction number is not mapping to NAMESP database for EP Registrations where home jurisdiction is outside of Canada.
 Please insert HOME_JURISDICTION_NUM 10409476  to the REQUEST_INSTANCE table where REQUEST_ID =  1775973

- [ ] Inserted Home jurisdiction number
- [ ] Inserted Consent rec'd row

Still not working

[2021-02-23 21:48] mstanton1 opened #6572 "Release Activities for Relationships PAD, OB and Suspension Release"
#### Description
Ticket is to track effort expended on Relationships release.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] Assign zenhub ticket to milestone: current, and place in pipeline: sprint backlog
- [ ] Reply All to

[2021-02-23 21:51] #6572 closed

[2021-02-23 21:51] #4209 closed

[2021-02-23 21:51] #6397 closed

[2021-02-23 21:51] #6565 closed

[2021-02-23 21:51] #6002 closed

[2021-02-23 22:02] severinbeauvais opened #6573 "Name analysis failed (in Dev) but no API errors were logged"
**Describe the bug in current situation**
In Dev Namerequest, I searched for a long name ("SEVERIN TESTING MULTIPLE SUBMIT CLICKS LIMITED"). After a long time, the "Name Ready for Review" page displayed, as expected.

However, my dev console showed errors:
`"https://namex-dev.pathfinder.gov.bc.ca/api/v1/name-analysis?name=SEVERIN+TESTING+MULTIPLE+SUBMIT+CLICKS+LIMITED&location=BC&entity_type_cd=CR

[2021-02-23 22:19] severinbeauvais opened #6574 "NR UI: user can create multiple temp NRs while waiting for Confirm Name Request dialog"
**Describe the bug in current situation**
It’s possible (and easy) to click the Review and Confirm button multiple times. On a slow network connection, as there is no indication the system is doing anything, users may be clicking this a few times while waiting for the POST to complete and the Confirm Name Request dialog to display.

See also #6561 (though that ticket reports multiple payments, whi

[2021-02-23 22:29] Kaineatthelab opened #6575 "Privacy Documents"
Filling out Intake Form
Janis found original PIA/STRA from OCIO

Emailed Garry M. regarding go live to premium user set and PIA/STRA. Starting April.

[2021-02-23 22:30] Kaineatthelab opened #6576 "PIA"

[2021-02-23 22:30] Kaineatthelab opened #6577 "STRA"

[2021-02-23 22:45] mstanton1 opened #6578 "Clean Up Tasks to Support Government Ministry Accounts"
#### Description
Introducing government ministry accounts means we will now have two IDIR flows. Clean up is required in the back end to support two distinct flows.

There some places we are checking is staff using idir
common component
1. to show terms of use
2. header for menu
3. inside syncAccount

In sbc auth
1. Redirecting to dashboard
2. In router
3. HomeViewOutdated not sure if its using

B

[2021-02-23 23:04] mstanton1 commented on #6567
Cindy has confirmed this was handled: Please make note at your end that we did not refund NR 9003273 (order 191183).

[2021-02-23 23:04] #6567 closed

[2021-02-23 23:05] sumesh-aot opened #6579 "Account authorizations for PPR access"
#### Description
Account authorizations for PPR access. Add PPR product and permission to permission table and add it for all premium accounts by default.

Needs to be performed for existing accounts as well as a migration.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ]

[2021-02-23 23:18] trishreimer opened #6580 "Identify location for training videos in app (for account setup, profile, payments, etc.)"
As a user, I want to be able to view training videos so I can further understand the steps I need to take to obtain a identify affidavit, set up a team, edit profile, etc. so that I can support myself and my team, without having to call Registry staff or the help desk.

To assist clients with account setup, training videos have been created. These videos will also be used by staff and the help des

[2021-02-23 23:23] trishreimer commented on #6401
done

[2021-02-23 23:23] #6401 closed

[2021-02-23 23:23] trishreimer commented on #6467
We need to work w/GCPE on this now, not James. Waiting for GCPE to respond with contacts that can help us pull together the webinar.

[2021-02-23 23:48] jdyck-fw commented on #2118
![retro 49.png](https://images.zenhubusercontent.com/5f0f4eff66658e787256945c/5b4656e2-1cf0-4d1a-91bf-9aa267f0dd45)

Action items:
tbd

[2021-02-24 00:05] sumesh-aot commented on #6350
@amit4610 For this story header makes sense, but if we need to re-use the same for gov account EJV failure then both header and body needs some rework.

[2021-02-24 00:09] Kaineatthelab opened #6581 "Name Request Rework (Project X) Story"
## Wish List:

**See also child tickets below!**

- [x] Data management (store dynamic modules, mixins, services? global data?) - P1 Cam
- [ ] ~UI component architecture (routing, sub components, signin/signout, LD user config, component visibility code)~ - P1 Sev - **see individual items in Sev's Todo List below**
- [ ] Payment flow / NR creation changes - P1 Thor
   - significant UI changes will

[2021-02-24 00:26] areyeslo commented on #5276
@Sienna-Blumstengel  do you know where can I get the date for Resolution or Court Order Dates?
![image](https://user-images.githubusercontent.com/10526131/108926716-cce51500-75f3-11eb-89ee-f1b44d219ae0.png)

[2021-02-24 00:46] lmcclung commented on #5276
@areyeslo @Sienna-Blumstengel  I'm not sure if we've added the special resolution/court order date data into our postgres table yet.  Can you look at #4309 - it's a closed ticket that Lekshmi did last year re: court order dates.  She had merged some things - hopefully the schema is in there.

[2021-02-24 01:06] areyeslo commented on #5276
After looking at the json object for alteration I found as `resolutionDates` under `ShareStructure`. I was looking into the database, but it is not there.
Thanks @lmcclung

[2021-02-24 01:12] thorwolpert commented on #5276
you mean this table?
[code]

[2021-02-24 01:15] andrepestana-aot commented on #5274
Attaching output generate through dev environment: [https://app.zenhub.com/files/157936592/df3e1feb-7d09-4e0c-a1a2-f8bcddf3b8f2/download](https://app.zenhub.com/files/157936592/df3e1feb-7d09-4e0c-a1a2-f8bcddf3b8f2/download)

[2021-02-24 06:13] forgeuxGH5 opened #6582 "UI Design - PPR Search Results PDF - OUTPUT DESIGN"
After the conduct and save a search, users can download a copy of their selected registrations as a PDF.

## Wireframes
https://preview.uxpin.com/f3510bb7e19b69a185448e28601d3b2bbf5d3eb6#/pages/136931755

## Visual Design/Comps

TEST DATA-VERSION Sample Invision Design Comps:
https://projects.invisionapp.com/share/M710PDMX386D#/screens?browse

REGULAR VERSION - Invision Design Comps:
https://proje

[2021-02-24 16:06] #5988 closed

[2021-02-24 16:15] mstanton1 commented on #6473
@amit4610 what do you think about formatting the original ticket with a checkbox. Then as the remaining items are addressed we can sort through and confirm which ones have been addressed.

I followed up on NR 9003273 - (refunded by accident, Melissa followed up with CAS) and they will not process the refund request. Can you confirm if all others have been handled - or we can work through it in our

[2021-02-24 16:26] mstanton1 commented on #6263
Follow up email sent to Cheryl.

[2021-02-24 16:31] mstanton1 opened #6583 "Client has multiple charges, Registries Pay DB shows one NR 5996008"
#### Description

A client contacted our office because they submitted NR 5996008 and were charged twice for $31.50 to the Visa ending in 8161. In our system we can only see one payment. However, the client has followed up with a screenshot from their banking showing the two charges.

Can you please investigate? We will need to refund one of the charges, and figure out why we are not seeing both o

[2021-02-24 16:34] mstanton1 commented on #6583
Sent to CASHelp Feb 17th. Same day, had to have request re-placed by SBC IT Operations Support. No response yet. I have sent a follow up.

[2021-02-24 16:42] #6448 closed

[2021-02-24 16:46] jdyck-fw commented on #6494
Cameron hasn't noticed anymore of these issues.

[2021-02-24 16:46] #6494 closed

[2021-02-24 16:46] #6475 closed

[2021-02-24 16:51] jdyck-fw commented on #5683
Linda to verify with Cameron that they're happy with this.

[2021-02-24 16:53] Milan-Freshworks commented on #6121
The functionality all works fine. There are difference in sizes of buttons and the expected icon on red banner is different than expected.![Screen Shot 2021-02-23 at 1.53.02 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/b7418ac2-3648-43b0-aee0-60fba3b97818)