[2021-04-15 16:43] #6900 closed

[2021-04-15 16:44] jdyck-fw commented on #7158
@thorwolpert will handle this one @kialj876

[2021-04-15 16:48] thorwolpert commented on #7158
I'm going to shepard it through loading the coop incorp filing.

[2021-04-15 16:53] amit4610 commented on #7162
I've asked the business to provide details/screenshots of client's account details.

[2021-04-15 16:53] mstanton1 opened #7169 "Move database back up files - PROD"
#### Description
Move database back up files in PROD from OCP3 to OCP4.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] Assign zenhub ticket to milestone: current, and place in pipeline: sprint backlog
- [ ] Reply All to IT Op

[2021-04-15 16:53] Sienna-Blumstengel opened #7170 "Multiple NR's for FLETCHER CONTRACTING INC."
#### ServiceNow incident:

#### Contact information
Staff Name:
Staff Email:

#### Description

TO DO:
- [x] Determine if payment was received for any of the above NRs
- [x] In a comment, list which NRs received payment
- [x] Cancel 6578706 and 3791112
- [ ] ~Sienna add any paid ones to refund ticket (except 9965884 which we are keeping)~ no payments

#### Tasks
- [x] When ticket has been created,

[2021-04-15 16:54] Sienna-Blumstengel commented on #7170
@lmcclung FYI in case this comes up in the report

[2021-04-15 16:57] mstanton1 opened #7171 "Confirm requirements for rejected affidavit"
#### Description
Currently if an affidavit is rejected by BC Online Admin we send an email to the client to advise. However, the attached affidavit remains on the attempt to set up an account.

If the client starts the accounts set up flow again and tries to upload a new affidavit it will fail because of the existing rejected affidavit.

Confirm staff reasons for rejection from PROD (e.g. missing

[2021-04-15 16:57] mstanton1 opened #7172 "Confirm requirements for rejected affidavit"
#### Description
Currently if an affidavit is rejected by BC Online Admin we send an email to the client to advise. However, the attached affidavit remains on the attempt to set up an account.

If the client starts the accounts set up flow again and tries to upload a new affidavit it will fail because of the existing rejected affidavit.

Confirm staff reasons for rejection from PROD (e.g. missing

[2021-04-15 17:18] Kaineatthelab commented on #7127
Bring this in next sprint for entity team pls

[2021-04-15 17:20] mengdong19 commented on #7162
I have cleaned up the data for this user. No org created for this user, but file already uploaded. I'm investigating to find out more clue about why the first time failed. The following failure are due to affidavit file already in place.

[2021-04-15 17:20] kialj876 commented on #7162
thank you meng :)

[2021-04-15 17:22] mengdong19 commented on #7162
Please provide screenshot for each step, that would help us investigate in case they fail again. We have quite a few similar issue reported.

[2021-04-15 17:25] amit4610 commented on #6848
1. In the new system, people can have access to any of the 2 flags (subscription and ppr) or both. People will request access to either or both basic liens or misc & crown from Wendy's team or Bob.
2. @rkim13103 We need to think about categories in PPR product in your designs?
3. Wendy and Bob knows who should have access to which one. Staff should be able to grant access.
4. The users can be BCSC

[2021-04-15 17:33] mstanton1 commented on #7131
I have emailed the client to advise of the options:

1. If you are creating an account for the purpose of submitting name reservations you can proceed to complete name reservations without an account, paying by credit card, while we work on the system.
2. If you prefer to have an account you can proceed with account set up and enter two digits in the Province/State field for now. For instance UK.

[2021-04-15 17:40] trishreimer opened #7173 "Provide refresher training to BCOL HD and Business Ops Teams on the account setup flow"
Refresher training is required for the BCOL HD and optionally for the Business Operations team.
Scope: Login and account setup flows.
Times: Min 2 sessions. Tues or Thur. 2:00-4pm.
1 hour session.
demo, hands-on and Q&A

We may event want to include Maximus - follow up with the SBC Contact Centre/Taija Cook to confirm.

@jyoti3286 please let me know who can lead this session. I'm happy to coordina

[2021-04-15 17:41] Sienna-Blumstengel commented on #7129
From Richard:

Reopening

[2021-04-15 18:13] Sienna-Blumstengel opened #7174 "Communication to search unit, about historical documents"
Because of this:

we need to send a comm out to the search team.

----------------

**WHO will be effected by this change:**
Anyone who receives calls regarding corporate search

**WHAT is the change:**
We are releasing two new filings.
* Alteration from a BC Limited Company (LTD)  to become a BC Benefit Company (BEN)
* Alteration from a BC Unlimited Liability Company (ULC) to become a BC Benefit

[2021-04-15 18:24] stevenc987 commented on #6972
@jyoti3286 @SiennaBlumstengel @lmcclung
Just let you know that this ticket was done. It will send two emails (one for sbc-auth, another one for sbc-pay) to specified person starting from next Monday.

[2021-04-15 18:24] #6972 closed

[2021-04-15 18:25] Sienna-Blumstengel commented on #7174
@trishreimer @lmcclung thoughts?

[2021-04-15 18:34] mstanton1 opened #7175 "our account #609684 - Name Reservations"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Debbie / Joshua
Staff Email: Debbie.Blyth@gov.bc.ca, Joshua.Thiessen@gov.bc.ca

#### Description
Email forwarded from Joshua to Debbie Blyth to our team.

I am the primary contact (PJ53521) and have set up Terra Law for Name Reservations, and added two people as team me

[2021-04-15 18:34] mengdong19 opened #7176 "Issues related to Account Names"
**Describe the bug in current situation**
Some account has special characters in account name like '/', when switch account from dropdown menu, and switched to an account that just join by accept invitation flow,  but not approved by admins, pending approval information may display wrong or give page not found error. These are all caused by having account name in URL, all similar links should have

[2021-04-15 18:36] mstanton1 commented on #7175
I have reviewed and sent the following to Debbie / Joshua:
Good Morning Joshua and Debbie,

I’ve taken a look and confirmed the client Mrs. Hart, at Terra Law has successfully set up her account with Marina and Tracey as team members. The payment method is set to BC Online Drawdown. The log on method shows BCeID & 2 Factor Authentication.

There are two ways in which Tracey might be experiencing p

[2021-04-15 18:38] tlebedovich commented on #6949
hi @andrepestana-aot Here are the updates to do:

**Review and Certify Page:**

1) Update intro text to read "Review and certify the changes you are about to make to your company. Certain changes require an Alteration Notice which will incur a $100.00 fee. Choosing an alteration date and time in the future will incur an additional $100.00 fee."

2) The "($100.00 Fee)" that shows in the blue bar be

[2021-04-15 18:57] andrepestana-aot commented on #6949
@tlebedovich I think it's simple to make dynamic based on the date on the UI. I just need to check how do we validate that on the back end. I'll let you know. Thanks for now.

[2021-04-15 19:03] mengdong19 opened #7177 "Address/Phone number for out of Canada countries."
Please reference to #7131
https://github.com/bcgov/entity/issues/7131

When user are from outside of Canada, their address and phone number may not fit in Canada based verification.
In 7131, UK address doesn't have Province (region field in database table), it's also optional for auth-web, but it's required in auth-api. Account creation will fail if missing this field, BCeID user would have to go

[2021-04-15 19:14] stevenc987 commented on #7066
1.	Please refund NR 1671662, NR 1770441, NR 8473543, NR 3801542. The client ended up submitting multiple NR's for the same name in each instance. (INC0084388): Refund Requested
2.	 Please refund NR 4470703 (INC0084503): Refund Requested
3.	 NR 6515386 (INC0084706): Refund Requested
4.	 NR 6087252 (INC0084705 ): Refund Requested
5.	 NR 7561834 (INC0084904): Refund Requested
6.	 Please refund NR 400

[2021-04-15 20:29] kialj876 commented on #6559
Today there was another batch of cancelled NRs that did not get removed from the solr conflicts core. It was confirmed that these were cancelled while the solr pod was erring. The chance of this happening again seems to be high so it would probably be worth grooming something to handle the cancels while solr is not working

[2021-04-15 20:33] Milan-Freshworks commented on #7019
It has been tested and verified.

[2021-04-15 20:36] jdyck-fw commented on #7161
Lets just report this issue to Vuetify, estimating 2 hrs.

[2021-04-15 20:40] Sienna-Blumstengel commented on #7167
@lmcclung @trishreimer  what message do we want to display in the app? Something shorter than what we have above, i assume.

@thorwolpert Also, what are the actual times we should post in the message for clients? 5:00am - 10:00am, or is it 35 mins?

[2021-04-15 20:42] Sienna-Blumstengel commented on #7167
@mstanton1 please add to grooming!

[2021-04-15 20:43] jdyck-fw commented on #7125
@riyazuddinsyed to update with a specific NR for Cam to look into this.

[2021-04-15 20:44] amit4610 opened #7178 "NR refunds Apr 15-22"
1. - [ ] NR 4592109 (INC0086027 )
2. - [ ] NR 0453514 (INC0085758, just the priority fee of $101.50)

[2021-04-15 20:47] jdyck-fw commented on #6840
This is one of the areas Sev reworked.

[2021-04-15 20:52] jdyck-fw commented on #6561
Revisit this after the current NR release, verify this still occurs next week.

[2021-04-15 20:53] jdyck-fw commented on #5517
This happens intermittently.

[2021-04-15 20:54] Sienna-Blumstengel commented on #4617
Text should read "change of director**s address**"

Entities is not sending the correct information to the Pay API, this is work for entities

[2021-04-15 20:54] Sienna-Blumstengel commented on #4617
@riyazuddinsyed is this still an issue? Could you verify pls

[2021-04-15 20:55] #4846 closed

[2021-04-15 20:56] Sienna-Blumstengel commented on #4619
Is could we combine this  with 4617? I think this will be fixed in the same area of the code @riyazuddinsyed

[2021-04-15 20:59] Sienna-Blumstengel commented on #6586
@amit4610 is this still needed? Could you provide some clarification?

[2021-04-15 21:07] kialj876 commented on #7170
I found 0 payment in our system for any of the above NRs - should I cancel them all?

[2021-04-15 21:16] lmcclung commented on #7170
Please cancel all the ones in the list.  Can you do the last two as well or should we open ticket for the hometeam?

[2021-04-15 21:17] Kaineatthelab opened #7179 "Staff payment and flows for all features"
Enable staff payment for the following scenarios:

### Scenario 1 - Search on behalf of a client
#### User story
As a staff user
I want to pay for a search on PPR on behalf of a client
So that I can provide them with search results
#### Acceptance Criteria
GIVEN I am BC Registries Staff
WHEN I perform a search on behalf of a client
THEN I am able to enter an account number or routing slip number a

[2021-04-15 21:20] kialj876 commented on #7170
I can do those too I think. I will just update their current state to cancelled in oracle

[2021-04-15 21:22] lmcclung commented on #7170
Wonderful!

[2021-04-15 21:27] lmcclung commented on #5033
I think this still needs doing.

[2021-04-15 21:29] Milan-Freshworks commented on #7135
It has been tested and verified.

[2021-04-15 21:34] Milan-Freshworks opened #7180 "GOVM account Invitation email error"
**Describe the bug in current situation**
As a GOVM account Admin, when a team member is invited and they get an email for the invitation. This invitation doe not show the role assigned to the team member.

![Screen Shot 2021-04-15 at 2.33.28 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/2ac6dda8-1eed-4ff6-ac62-19b2f7271065)

[2021-04-15 21:40] Milan-Freshworks commented on #6537
It has been tested and verified. The email bug would be fixed as a part of 7180 ticket.

[2021-04-15 21:43] andrepestana-aot commented on #6949
@tlebedovich I think this change is not needed unless you want to adjust the text to what you posted in your last comment. Something similar has already being done as you can see you in the image below. That is from my local env with the latest changes:
![image.png](https://images.zenhubusercontent.com/601c6b4f5322cf5c519d503f/158921fc-83e6-402f-ab6a-bfc327560633)

[2021-04-15 21:59] kialj876 commented on #7170
this one is all done from my side

[2021-04-15 22:00] jyoti3286 opened #7181 "Migration strategy for Ministry Govt Account"
For Ministry govt account:
- We need a migration strategy for migrating the data from BCOL to the new platform

Couple of options to consider:
- Move all the Ministry data at once(big bang approach)
- Move it as they are required

Ministry government account user will use the new system but only for the products which are available on the new platform so it would be wise to move them on case to ca

[2021-04-15 22:05] mstanton1 commented on #7115
@Kaineatthelab can you address the last question about tape services then comment when complete?

[2021-04-15 22:13] tlebedovich commented on #6949
@andrepestana-aot - We'd like to change the intro text (that appears under the large "Review and Certify" header to what I posted in the comment above.

And yes, we would like the ($100.00 Fee) to be dynamic and change to ($200.00 Fee) *if* the user selects the FED. We are using the blue headers like a shopping cart item so would like the total cost of that item to appear. We will be added other t

[2021-04-15 22:15] mstanton1 opened #7182 "Processing Issue with BC Registry Online Services"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Cheryl Hall
Staff Email: Cheryl.Hall@gov.bc.ca

#### Description
This morning our department got sent 7 notifications of out of office province approvals.  I just got back from 2 weeks holidays and normally I could process the requests one after another.

This morning I

[2021-04-15 22:24] mstanton1 commented on #7143
Julie noted the same issue is ocurring with "COHO Management Services Society". No changes are needed in PROD for COHO but it could be reviewed in test to try to identify what is causing the issue.

I recall earlier issues with COHO which escalated quickly so there is a need to be very cautious and not contact them, impact them in PROD.

[2021-04-15 22:30] janisrogers commented on #7160
This seems okay until redesign

[2021-04-15 22:30] #7160 closed

[2021-04-15 22:32] janisrogers opened #7183 "Account links go to "Application is not available' page"
When I click on any of the account links such as Edit Profile or Transactions
![image](https://user-images.githubusercontent.com/55597599/114946645-682e8580-9e00-11eb-851e-64ecf6ef8ba1.png)

I get the application not available page

![image](https://user-images.githubusercontent.com/55597599/114946435-feae7700-9dff-11eb-895b-e29e729b7a98.png)

These links should go to the appropriate account page

[2021-04-15 22:36] tlebedovich commented on #6969
@forgeuxGH5 - design comp was added to the description above

[2021-04-15 22:39] mstanton1 commented on #4286
@Kaineatthelab is this actually needed. For basic users I wouldn't expect a folio. From past user research folio is used to track client filings for billing purposes. There is currently no default folio at an account level and I can't see a reason to create one.

Our payload enables other apps (e.g. entities, PPR) to send a folio from a transaction to us which is reflected in the transaction histo

[2021-04-15 22:39] amit4610 commented on #7182
duplicate of 7164. @Milan-Freshworks is on it on high priority basis.

[2021-04-15 22:39] #7182 closed

[2021-04-15 22:41] mstanton1 commented on #7085
@jdyck-fw we did not get to this one in grooming today. Can it wait until our next grooming (April 27 or 29)?

[2021-04-15 22:43] amit4610 commented on #7066
@stevenc987 can we please get the order id for NR5196731?
I have notified IT Ops on the rest.

[2021-04-15 22:45] Kaineatthelab opened #7184 "OCP 3-4 Migration Network Errors"
Slow connections since the migration April 11th for all applications
HIGH RISK for NameX and Name Request

[2021-04-15 22:50] mstanton1 opened #7185 "BC Registries - Business Registry Support Request"
#### ServiceNow incident:
#### Contact information
Staff Name: Julie Harding
Staff Email: Julie.Harding@gov.bc.ca

#### Description
Client Cheryl Cavanaugh has received an invitation to join Stikeman Elliott LLP. She notes:

 Hi, in preparation for the changes to the name registry, we are setting up our BC Services Card or BCeID.  I am going the BCeID route and, trying either FreeOTP or Google Aut

[2021-04-15 22:52] mstanton1 commented on #7185
Julie and I have reviewed in PROD and do not see the invitation to Cheryl under the active, pending approval, or invited tabs. Julie has suggested:

I would suggest that if you are still experiencing difficulties joining this account, that you get your colleague to re-send the invitation to you.  If problems persist please email back, and we can investigate further and try to trigger this invite o

[2021-04-15 22:53] mengdong19 opened #7186 "Staff Reset Director Search User Password Error"
**Describe the bug in current situation**
Got a request from staff to reset password for a director search user "michaelareshenko". Got error when do reset.
Checked data, "type" field for this user is null. Update data to "ANONYMOUS_USER" and then reset worked.

**Impact of this bug**
Staff can't reset user's password.

**Chance of Occurring (high/medium/low/very low)**
Low

**Pre Conditions: whic

[2021-04-15 22:54] Kaineatthelab commented on #4286
if the user can update their folio number per transaction as you say above then it sounds like it already works the way @lmcclung wants?

[2021-04-15 22:57] severinbeauvais commented on #7184
Looking at the "request-prod" Sentry log, one can see that:
- some new network errors started April 11, 2021
- some existing network errors occurred significantly more often starting April 11, 2021

I believe these are due to API timeouts. Examples:

`getNameRequest()` network error
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/80e58f8f-72af-4c07-9c59-13aeec54edc1)

`p

[2021-04-15 22:57] mstanton1 commented on #7185
We have located the client invitation. The error above looks like one I experienced while setting up an account that arose from me taking too long between scanning the barcode with the OTP app, then entering the one time passcode. I resolved the issue by removing the scanned account on my authenticator, then re-scanning the barcode to proceed.

I've suggested this resolution option for the client

[2021-04-15 23:03] mstanton1 commented on #4286
@Kaineatthelab @lmcclung the difference between what we have and the user stories above is we do not store a folio per company so we wouldn't have something to give you to display on the Company Info page. If that is needed there would be work required.

If the client goal is to have a folio associated with a transaction in the transactions / statements this can be met as long as you collect and p

[2021-04-15 23:17] mstanton1 commented on #5866
@Milan-Freshworks can I get a second set of eyes on this one. I tested in TEST.

BCSC: Used BCREG0009. Logged in to the Business Registry. Chose the home page of the app. Clicked "Request a Name". Was taken to Name Request but was not logged in so logging out was not an option. Does this happen for you?

BCeID & 2FA: Created account DYK Innovations and approved account as staff. Logged on to that

[2021-04-15 23:21] mstanton1 commented on #6151
@severinbeauvais this appears to be resolved, presumably through the OCP migration.

Tested following your steps above (in TEST) using BCREG0009. In reproduction step 3 I chose New BC Online Tech Team from the account dropdown (2nd in the list). When I started the numbered company filing the appropriate account shows. Are you comfortable with me closing this?

![image.png](https://images.zenhubuse

[2021-04-15 23:25] PatrickAHeath commented on #5254
Updated Registration Requirements.

[https://app.zenhub.com/files/157936592/75652337-3f5d-4a06-b9bd-f7b3f3107d35/download](https://app.zenhub.com/files/157936592/75652337-3f5d-4a06-b9bd-f7b3f3107d35/download)

[2021-04-15 23:27] kialj876 commented on #7168
I think the same thing happened here as what happened in https://github.com/bcgov/entity/issues/7170

- NR 7061093 only exists in oracle so cancelled it there
- verified all cancelled duplicates had no payments

[2021-04-15 23:32] forgeuxGH5 commented on #4286
This seems like a per business Folio number (stored), not a per transaction Folio... Is it stored? How is it used? ![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/5764c4d7-8dbe-4358-af2e-4f8a9e40241c)

[2021-04-15 23:35] andrepestana-aot commented on #6949
@tlebedovich ok. I just want @severinbeauvais to give his opinion on this.

Severin, what do you think of it? Do you see any issues changing the Fee price on the blue bar as "Alteration price + FE fee price"?

[2021-04-16 00:37] severinbeauvais commented on #6151
Let me verify this. I will close if OK!

[2021-04-16 00:38] lmcclung commented on #4286
@mstanton1 The goal is to give users the ability to enter a folio for the transaction.  I'll update the story.  My assumption was that we needed to update the Folio in a table somewhere in order for it to appear in your transaction reports.  Scott's screenshot above is where I thought it might need to be updated, but if not, that's good.

So to confirm my understanding of what you're saying, in ou

[2021-04-16 00:46] severinbeauvais commented on #6949
I agree that the fees should be dynamic. They are stored in the auth db (or pay db). You will have to make a call to the pay api to fetch those fees depending on the current state of the alteration. (see https://github.com/bcgov/sbc-common-components/blob/master/vue/sbc-common-components/src/components/SbcFeeSummary.vue)

I see no issue in doing this. This is part way towards the UX team's vision

[2021-04-16 01:17] lmcclung commented on #7168
@kialj876 can you thow and estimate on this and move to DONE?

Thanks.

[2021-04-16 01:20] lmcclung commented on #7170
@kialj876 can you throw an estimate on it and mark it as DONE?

[2021-04-16 01:24] cameron-freshworks commented on #7125
The error modal appears to be functioning as normal for me.
I would expect to see this message when i query and find an NR that is not of the current business type.

Can verify with these two NR's

Benefit company - `NR 4538746`
Limited company - `NR 0520000`

Email: `cameron@freshworks.io`

[2021-04-16 04:06] thorwolpert commented on #7167
Sunday is the regular DC outage window, and we don't often know if and when there will be an outage on Sundays.

Maybe a general message that gov't changes happen on Sundays and may cause service disruption should always be there?

[2021-04-16 15:09] Sienna-Blumstengel commented on #7129
From Richard:

[2021-04-16 15:10] #7129 closed

[2021-04-16 15:12] mstanton1 commented on #7172
*I have sent the following to the BC Online Admin team to request further information.

We are looking into the rejected affidavit flow. Can you please assist by helping us to understand the reasons affidavit’s have been rejected so far (and any reasons you anticipate you may have to reject affidavits).

In production I see two rejections:
onSt.Mortgage – Typer Hildebrand
INK LLP

[2021-04-16 15:23] #6500 closed

[2021-04-16 15:23] #6551 closed

[2021-04-16 15:24] #6944 closed

[2021-04-16 15:29] Sienna-Blumstengel commented on #6559
Yesterday we received an escalation of the original issue from Jenn, and another example:

[2021-04-16 15:37] Kaineatthelab commented on #7031
To check on this ticket when the webchat is disabled does it show?

We are closed. The SBC CC is open M-F 7:30am – 5:00pm PST excluding BC statutory holidays.

[2021-04-16 15:38] lmcclung commented on #7045
closing as not needed. Staff will confirm good standing before sending over to us.

[2021-04-16 15:38] #7045 closed

[2021-04-16 15:42] Sienna-Blumstengel opened #7187 "Some NRs don't have priority flag, even though they paid for it"
## Description
This was created based on ops ticket [7142](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7142).

#### Issue 1:
The client paid for priority (as part of their initial NR request), but their NR was not created with the priority flag.

#### Issue 2:
The client upgrades the NR after paying for it (so 2 separate transactions) and it gets reset to

[2021-04-16 15:42] Sienna-Blumstengel commented on #7142
Created bug ticket https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7187

[2021-04-16 15:44] lmcclung commented on #7050
@forgeuxGH5 need some wording here.  Also ties in with 6888.

[2021-04-16 15:47] #7170 closed

[2021-04-16 15:48] #7168 closed

[2021-04-16 15:50] severinbeauvais commented on #7031
@Kaineatthelab No it doesn't. I didn't realize that was the requirement. When webchat is not open, the chat button is simply disabled (grayed out).

[2021-04-16 15:52] Kaineatthelab commented on #7031
Yes sorry it must of been missed. Should I create another ticket?

[2021-04-16 15:52] cameron-freshworks commented on #6904
As discussed with Tracey, these text changes are currently in code review and the bug fix for the previous dates is in progress. Moving this to ready for QA.

[2021-04-16 15:53] severinbeauvais commented on #7031
Yes please. Where you like that text to display? A tooltip?

[2021-04-16 15:56] Kaineatthelab commented on #7031
I think a tooltip as it has one now when its open.

[2021-04-16 16:05] Sienna-Blumstengel commented on #5577
@rarmitag looks like the filed date is wrong, should be:

I know there is an 8 hour time issue, thats ok, let's just get it closer to that date

Everything else looks good!

[2021-04-16 16:19] Sienna-Blumstengel opened #7188 "Canceled NRs are showing as conflicts in NameX"
## Background

This bug came from ops ticket https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6559

Kial noticed:

## Impact of this bug
Severely impacts examiners' ability to do their job

## Chance of occuring
Not totally sure, depends on how often solr pod errors. @kialj876 ?

## How to reproduce
1. Request a name
2. Cancel the name while the solr pod is err

[2021-04-16 16:20] rkim13103 commented on #6591
https://preview.uxpin.com/9d3cc1c05d562c121b088ee6bc279dea1fa32b7e#/pages/136009820

[2021-04-16 16:24] Sienna-Blumstengel commented on #6450
Hmm, looking at the dashboard there are a whole bunch of ARs in the to-do list, back since 2012.. also none are available to file, they are all disabled.

![Screen Shot 2021-04-16 at 9.22.53 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/dd2dac6a-0406-41ce-a718-f15959f8ec4c)

But those should all be filed, according to SOFI...

![Screen Shot 2021-04-16 at 9.23.05 AM.png](htt

[2021-04-16 16:34] Kaineatthelab opened #7189 "ADD TOOLTIP TO DISABLED WEBCHAT"
Add tool tip when Web Chat is disabled

"We are closed. The Service BC Contact Centre is open Monday through Friday 7:30am – 5:00pm PST excluding BC statutory holidays."

[2021-04-16 16:35] #5577 closed

[2021-04-16 16:37] #6906 closed

[2021-04-16 16:38] amit4610 commented on #7066
![Clipboard - April 16, 2021 9_28 AM](https://user-images.githubusercontent.com/59706888/115055718-b0988280-9e96-11eb-8afc-766bf7c6befd.png)

Requested refund from paybc, notified IT ops. closing this ticket.

[2021-04-16 16:38] stevenc987 commented on #7066
@amit4610
the order id for NR5196731 is 250356

[2021-04-16 16:38] amit4610 commented on #7066
Thanks Steven :)

[2021-04-16 16:39] #7066 closed

[2021-04-16 16:39] #6559 closed

[2021-04-16 16:40] severinbeauvais opened #7190 "SBC Pay API Exception"
**Describe the bug in current situation**
Found in Sentry for NR (Prod) following UI release 2.0.21 and new names API release:
https://sentry.io/organizations/registries/issues/2339008925/?project=5433955&query=is%3Aunresolved

According to the breadcrumbs, the user requested a refund for particular payment, but the Namex API returned a 500. I don't know if this a bug in the Namex API or in Pay AP

[2021-04-16 16:43] jordiwes commented on #7100
@Sienna-Blumstengel - do I need to validate the type coming from the name request (in this ticket)?

[2021-04-16 16:45] Sienna-Blumstengel commented on #6559
Made bug ticket https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7188 to capture this

[2021-04-16 16:47] mstanton1 commented on #4286
@lmcclung Ah, my mistake. yes - I wasn't aware we were collecting the folio on the entity dashboard. I've confirmed I can add a folio, and then edit that folio, which seems to cover AC 2 above. When the folio was updated it showed correctly in the transaction report. For UI feedback, it is not intuitive that the folio is stored there. Other parts of profile are indicated on the entity dashboard so

[2021-04-16 16:50] thorwolpert commented on #7101
@andrepestana-aot your current PR does not check filing type.

[2021-04-16 16:58] jdyck-fw commented on #7085
@mstanton1 - This needs further review to confirm expected behaviour, and then to be ready for mid-May (15-20th)

[2021-04-16 16:59] PatrickAHeath commented on #6745
@Kaineatthelab Has the decision been made to exclude the Attn: Reference Number field from MVP?

Requirements for Folio attached:

[https://app.zenhub.com/files/157936592/727b50f0-71f0-444d-8c12-0e15d3c92fd8/download](https://app.zenhub.com/files/157936592/727b50f0-71f0-444d-8c12-0e15d3c92fd8/download)

[2021-04-16 17:05] mstanton1 commented on #6591
@rkim13103 UX Pin looks good. @jyoti3286 do we need a separate ticket for the UI text change or can it be bundled into this?

[2021-04-16 17:13] lmcclung opened #7191 "Validator - Must have a minimum of one share class"
## Background
We want to ensure that share structure must contain at least 1 class by the end of the **alteration** or **IA Correction** filing.

GIVEN I am filing an alteration
AND i somehow managed to remove my last share structure class
WHEN I try to save the filing
THEN the validator would fail
AND return this message:

[2021-04-16 17:14] Sienna-Blumstengel commented on #5693
7191 is backend validation for this

[2021-04-16 17:20] Kaineatthelab opened #7192 "Federal Choice freezes screen"
Choosing Federal gets stuck

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/5ef41b20-525c-40d3-843a-a0821a754da0)

https://insights.hotjar.com/r?site=2278173&recording=5758568577

[2021-04-16 17:23] mstanton1 commented on #7143
Updated above as per a note from Julie. She has experienced this with CP0002327, CP0000964 and CP0001562.

[2021-04-16 17:24] #7023 closed

[2021-04-16 17:24] Sienna-Blumstengel commented on #6949
@forgeuxGH5 @tlebedovich review the text in the FE component, incorporate this messaging:

urgent :pray:
this is blocking Andre

[2021-04-16 17:25] Sienna-Blumstengel commented on #7062
closing, work is captured in https://github.com/bcgov/entity/issues/6949

[2021-04-16 17:25] #7062 closed

[2021-04-16 17:28] #6537 closed

[2021-04-16 17:28] #7019 closed

[2021-04-16 17:35] mstanton1 commented on #7114
Amber has reviewed the chart and provided an updated version.

[https://app.zenhub.com/files/157936592/596efaf6-5a3b-4db8-a448-63a395a0b05c/download](https://app.zenhub.com/files/157936592/596efaf6-5a3b-4db8-a448-63a395a0b05c/download)

Due to complexity this showcases, this has been shared with Amber and Debbie for use by their teams but will not be added to the website.

[2021-04-16 17:36] mstanton1 commented on #7114
@trishreimer @lmcclung can you please review the FAQ added in my first comment above and advise of any changes.

[2021-04-16 17:52] pwei1018 commented on #7143
CP0002327, CP0000964 and CP0001562, they all missed account address information.

[2021-04-16 17:57] Sienna-Blumstengel opened #7193 "RFC - Define design"
small RFC to define:
* The list of objects that we will pass back and forth
* What data needs to be in there
* Maybe also pagination variables

This RFC will **not** be how we refactor

[2021-04-16 17:59] Sienna-Blumstengel opened #7194 "Filings UI - Refactor data and table in filing history"
## To do

- [ ] Change from the expansion list to a table
- [ ] Unit tests

[2021-04-16 18:02] Sienna-Blumstengel opened #7195 "LEGAL API - Refactor filings endpoint"

[2021-04-16 18:02] mstanton1 commented on #7143
@pwei1018 thanks for the info. This makes sense. Initially address wasn't required for basic accounts.

With launch of online banking because we were creating accounts in the CFS and needed address I believe we created a ticket to fix the accounts that were missing this information. We also switched to making address mandatory in the basic flow. I will look into what was implemented for existing a

[2021-04-16 18:04] kialj876 commented on #6553
@Sienna-Blumstengel is it okay if we create a separate bug ticket for the restore/reinstate issue with namex? It has to do with different code which I won't be able to dig into atm and the UI will depend on the renew code I've written for this

[2021-04-16 18:05] kialj876 commented on #6553
Sorry, there was some confusion and I think Kaine and I repurposed this ticket last week

[2021-04-16 18:07] #6507 closed

[2021-04-16 18:19] mstanton1 commented on #7143
@pwei1018 we implemented an intercept to collect address data when it doesn't exist. However, these clients can't log in because they previously used usb device logins. They need new passcodes to be able to log in. Can we...

1. Generate passcodes for them on the back end which would allow access and upon log in, they would enter missing data?
2. If option 1 doesn't work can we add in address deta

[2021-04-16 18:23] Sienna-Blumstengel opened #7196 "Filings UI - UI updates"
## To do

~- [ ] Fetch new list of filings data (based on RFC, backend might be a dependency) ~
-- Currently Blocked by #7195 - Work moved into ticket #7357
-- Work captured in https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7357

- [x] Implement "Display next 10" @forgeuxGH5 help
    - [x] Set max height on scrollable div to allow for 10 filing history list i

[2021-04-16 18:28] mstanton1 commented on #6939
@rkim13103 can we meet to discuss? We will need designs for this ticket.

[2021-04-16 18:38] lmcclung commented on #7194
Removing 20 points and closing ticket.  We need a story before migration to update the dashboard.

[2021-04-16 18:38] #7194 closed

[2021-04-16 18:56] lmcclung commented on #7101
Andre needs to add a flag to the filing object
System needs to check filing object is there, if its there it won't let you delete.

[2021-04-16 19:01] mstanton1 opened #7197 "COHO Management Services Society - staff unable to remove a coop from this account"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Julie Harding
Staff Email: Julie.Harding@gov.bc.ca

#### Description
I noticed that I am unable to select to remove a coop from the managed businesses dashboard of the “COHO Management Services Society” account.  Other accounts appeared to be experiencing this issue bec

[2021-04-16 19:04] Sienna-Blumstengel commented on #7100
Hmm, good question @jordiwes  You don't need to change your name in order to change your type, so i would say no.
The name change (sub?)component already checks that it has the right entity type depending on what entity you are currently/are becoming. So i think this check should just be for the company type field, making sure that the entity type is changing to benefit company.

Maybe @lmcclung h

[2021-04-16 19:05] forgeuxGH5 commented on #4286
Yeah - I had to hunt for the folio number from the dashboard too... :-(
who designed this thing anyway...
(we'll fix that)

[2021-04-16 19:09] tlebedovich commented on #6949
@andrepestana-aot - To make instructions clearer for you, I have added the final updates to make into the description at the top of the ticket. It has been reviewed by Scott and is ready to go.

[2021-04-16 19:14] forgeuxGH5 opened #7198 "Affiliation warning for non-Benefit Company entity types - Alteration - UI Design"
## Wireframes
https://preview.uxpin.com/9529f7502365e3794c77862c4c9c6bae8ad65615#/pages/138301981

Two options
1) Specific alert for non-Benefit Company types - look up the entity type/name
2) Basic alert for all entity types (including Benefit Companies)

## Visual Design
TBD

[2021-04-16 19:15] sumesh-aot opened #7199 "Update affiliation based on the Q messages from entity"
#### Description
Currently pay have an event listener which updates all temporary inc number to permanent as and when it receives message from entities.
This ticket is to work with entities team and use the same logic for updating the affiliation. This would simplify things on entities side, and can get rid of some API calls between service.

Work for : Relationships team, and once done create a d

[2021-04-16 19:27] Sienna-Blumstengel commented on #6553
@kialj876 is this good as-is then?

[2021-04-16 19:48] lmcclung commented on #7100
@jordiwes @Sienna-Blumstengel
ULC -> BEN has a required name change
LTD -> BEN name change is optional

You'd need to validate that if they are a ULC and are changing type that the change of name section has been completed.
I'm thinking the name change section already has backend validations to confirm request type - but you could double check the code or with the person who worked on it.

[2021-04-16 19:54] pwei1018 commented on #7197
I don't have this issue.  I can hit the remove button and see the confirmation.
![image](https://user-images.githubusercontent.com/44277752/115077451-ec414580-9eb2-11eb-9bea-6d0c27ec090c.png)

[2021-04-16 19:59] Sienna-Blumstengel commented on #5866
@thorwolpert @severinbeauvais  @lmcclung were talking about this today in grooming, we are not sure we know the expected behavior
@mstanton1 sorry to ask for this then block you on it 😅

[2021-04-16 20:25] mstanton1 commented on #7197
@pwei1018 I think this might be related to permissions. I set myself to match Julie's access in PROD (with the only difference being that I have user manager.  Clicking the remove button did not do anything.

Julie and the program area staff have the following groups in KeyCloak:
/staff/account_suspent
/NameX_Examiner
/staff/search
/staff/viewer

Can you confirm if the passcode reset is tied to a

[2021-04-16 20:32] mstanton1 commented on #7175
Joshua noted he will reach out to the client and advise if further action is required.

[2021-04-16 20:32] #7175 closed

[2021-04-16 20:32] #7135 closed

[2021-04-16 20:38] mstanton1 commented on #6919
Kim Wiley has confirmed she supports adding the Ministry Partner information into the BC Registry Terms.

Action:
@jyoti3286  to complete updates to Terms as required for API Partners and provide to Melissa.
@mstanton1 to add in Ministry Partner Agreement content where appropriate in preparation to send to Victoria. If it is not clear where a section should go it can be sent to Victoria asking whe

[2021-04-16 20:51] PatrickAHeath opened #7200 "PPR Search - Search errors when using BC Registries Account linked to BCOL account for payment"
I have two Virtual BC Service Card userids setup in DEV - one is setup for payment using PAD (BCREG0051) and the other is setup for payment using a BCOL Account (BCREG0050).

BCREG0051 can successfully execute searches and results are displayed.

BCREG0050 always receives a Search Error, regardless of what type of search is performed.

Searches should be successful regardless of the method of paym

[2021-04-16 21:12] jordiwes commented on #4716
We will need to set some data in the filiing tables for testing.

[2021-04-16 21:16] Kaineatthelab commented on #6980
I spoke to Linda and any new requests and some bugs won't fit in Project X and will need to be consumed by Entities. This one may get done but needs a design either way:)

[2021-04-16 21:16] jmills-cgi opened #7201 "Entity UIs - Incorporate a BC Coop"
Create UI:
Prior to moving into production, the following steps should be completed or confirmed:

 Update version number in the code being released -
 Ensure deployment steps are filled in - remove/replace placeholders
 Create a draft release in GitHub and confirm the correct commits are present
 Add version # and release # to this ticket
 Dev to send commit list to QA (or otherwise publish chang

[2021-04-16 21:17] kialj876 commented on #6553
yep

[2021-04-16 21:18] kialj876 commented on #6553
I will bring reinstate/restore up next week with kaine and see if we need a new UI ticket just to make sure

[2021-04-16 21:26] jmills-cgi opened #7202 "Entity Lear: Incorporate a BC Coop"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-16 21:28] jmills-cgi opened #7203 "Entity UIs: Coop Incorporation Go-Live"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-16 21:31] jmills-cgi opened #7204 "Entity FE + BE: Coop Incorporation Go-Live"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-16 21:46] lmcclung commented on #7056
From: Lau, Mark CITZ:EX <Mark.Lau@gov.bc.ca>
Sent: April 13, 2021 9:50 AM
To: McClung, Linda CITZ:EX <Linda.McClung@gov.bc.ca>
Subject: FW: GREENWAY HOUSING COOPERATIVE CP1582 missing annual report

Hi Linda,

Sorry for the delay as the co-ops record was hard copy only so the information wasn’t readily accessible.

This co-op had listed 2017 Annual report  - Dec 13 2017 AGM

[2021-04-16 21:47] lmcclung commented on #7056
Friday Apr 16 - mark filed 2017-2019 ARs in COBRS

Three Annual reports have been ledgered separately.
I did have to U CO and changed the last as at date field to the 2016 AGM date before I could enter the 2017 AGM date otherwise I would get the error message of unable to enter an AGM date prior to the last as at date.

[2021-04-16 22:01] jyoti3286 commented on #6919
Details sent to Melissa(Updated Terms for API partners and BC Registry Terms)

[2021-04-16 22:03] mstanton1 commented on #6753
Hotjar diagram is not ready from the SRE team. I've followed up with Garry to ask if we can proceed without covering Hotjar and tackle it later.

[2021-04-16 22:20] jyoti3286 commented on #6591
Below is the text changes which needed to happen and I think its already in the design which Roy has. Am I missing anything? @mstanton1

[code]

[2021-04-16 22:21] mstanton1 opened #7205 "Provide Key Messaging for Auth for Staff"
#### Description
Business areas are receiving a number of calls concerning authenticating and logging on. Key messaging is needed. This must address things like:

I don't have a cell phone?
Why do I need to log in?
What is 2 Factor Authentication?

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** labe

[2021-04-16 22:24] mstanton1 opened #7206 "Update job aide with step by step instructions for use of desktop options"
#### Description
Update the job aide located here: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc=%7b49BF886C-274F-4485-8AB4-5DAEB8E66EC8%7d&file=Log%20in%20With%20BCeID%20%26%202FA.docx&action=default

Job aide should include step-by-step instructions for
1. How to create a BCSC and sync to another device such as laptop of desktop.
2. How to use a 2-fac

[2021-04-16 22:24] mstanton1 opened #7207 "Update job aide with step by step instructions for use of desktop options"
#### Description
Update the job aide located here: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc=%7b49BF886C-274F-4485-8AB4-5DAEB8E66EC8%7d&file=Log%20in%20With%20BCeID%20%26%202FA.docx&action=default

Job aide should include step-by-step instructions for
1. How to create a BCSC and sync to another device such as laptop of desktop.
2. How to use a 2-fac

[2021-04-16 22:27] severinbeauvais commented on #7145
@cameron-freshworks I copied over from 6546 the checkbox items that you've worked on ^^^,

[2021-04-16 22:29] severinbeauvais commented on #6546
I have completed the functional/architectural work for this ticket, and it has been PRed, reviewed, and merged to Dev where it can be tested.

However I still have to update a dozen or so unit tests (since I moved some of the data they looked for into the store, getters, etc). So I will keep this ticket open and submit another PR with those changes soon.

[2021-04-16 22:31] jyoti3286 commented on #7172
@rkim13103 - Can we look at how do we deal with these rejection flows?

[2021-04-16 22:54] lmcclung commented on #6546
@severinbeauvais just noticed your comment from a couple of days ago.  I'm assuming that you've left that fee summary work out of this ticket?

[2021-04-16 23:05] severinbeauvais commented on #6843
@riyazuddinsyed Can you verify if this problem still happens? I put in a change (in #6546) so the fee summary doesn't "wrap" to the bottom of the page and this may have fixed this issue.

[2021-04-16 23:07] rkim13103 opened #7208 "Recovery user flow for rejected request from Products and Services."
Research about recovery flow when users get rejected by staff to access various products and services (Wills Registries, PPR, etc)

Currently if a user is rejected with Wills Registries access request, the user will see a "rejected" UI and Staff's phone number in Products and Services UI Design:
https://preview.uxpin.com/2a787574ccbc844119c7ae087952734ce7c1c86d#/pages/137584115.

As more products

[2021-04-16 23:16] mstanton1 commented on #6753
As per an email from Garry at 4:03 PM today this is complete:

_Let’s keep it simple.  At this time, all that is required for the LEAR STRA is to update it with the below information.  I will add the information to the STRA.  There is no need to place the updated LEAR STRA through eApprovals.  You can view the LEAR STRA update as completed.

Longer term, the LEAR STRA needs to be rewritten.  The i

[2021-04-16 23:16] #6753 closed

[2021-04-16 23:18] mstanton1 commented on #6591
@jyoti3286 not missing anything. Design is correct. I am wondering if we need a separate ticket for the actual change in the system though? Or can we just pass this to a front-end dev to complete?

[2021-04-16 23:22] mstanton1 commented on #7208
@mstanton1 or @amit4610 to set up a meeting with BCOL Admin for information. Please invite @rkim13103

[2021-04-16 23:23] andrepestana-aot commented on #7101
@lmcclung What should the message in this case now as we check the flag and not if it is a draft alteration for certain corp_types?

Can this be "This filing cannot be deleted at this moment." ?

[2021-04-16 23:24] severinbeauvais commented on #6546
Um, no, that was a dependency so I implemented the conditional fee summary (ie, only displays when a fee-required change is made).

[2021-04-16 23:25] severinbeauvais commented on #6546
This is now in Dev and can be demoed/tested/UX assured.

[2021-04-16 23:41] andrepestana-aot commented on #7101
Maybe I can do both and when the filing is locked we can check for the draft alteration for LTD and ULC just to give the user a more appropriate message and in other case when the filing is locked, we give the generic message.

[2021-04-17 00:11] severinbeauvais commented on #6151
This problem reproduced easily just now when I followed the steps in the description (in Dev).

To summarize:
- in step 6, the account was "Testaaaa"
- in step 8, the account had changed to "tttttt"

[2021-04-17 00:16] severinbeauvais commented on #6151
You only went to step 6.

I tried it just now in Test using BCREG0009 and the problem reproduced (step 8).

![image](https://user-images.githubusercontent.com/10002889/115095815-7b605480-9ed7-11eb-8ee0-c72a13a10049.png)

[2021-04-18 18:08] lmcclung opened #7209 "Create Incorporation Certificate"

[2021-04-18 18:11] lmcclung opened #7210 "Email notification"

[2021-04-18 18:12] lmcclung opened #7211 "Build Jupyter notebook"

[2021-04-18 18:18] lmcclung opened #7212 "Schema"

[2021-04-18 19:35] lmcclung opened #7213 "As a user I want to move my corporation to BC (Continuation In)"
### Description:
This epic is to bundle the continuation in filings to become BC companies.

As a User
I want to continue an existing corporation into BC
So that I can be recognized as a legal business in BC and operate in the province

## Filings to be built
- [ ] Continuation In of a BC Limited Company (named or numbered)
- [ ] Continuation In of a BC Unlimited Liability Company (named or number

[2021-04-18 19:54] lmcclung opened #7214 "Co-op Incorporation - UI Framework"
Framework
- [x] buttons formatting changes across all incorps.
- [x] Update Summary invalid messages styling.
- [x] red borders for validations on review / summary.
- [x] red X's on Stepper.
- [x] Stepper design updates.
- [x] New steps template for COOPS.
- [x] Placeholder components for Rules and Memorandum.
- [x] Updated Certify Title and help text.
~- [ ] Configure summary review components pe

[2021-04-18 19:54] lmcclung opened #7215 "Co-op Incorporation - Upload Feature"

[2021-04-18 19:54] lmcclung opened #7216 "Staff Review/Approval and notification"

[2021-04-18 19:54] lmcclung opened #7217 "Outputs"

[2021-04-18 19:55] lmcclung opened #7218 "Co-op Incorporation - Backend schema and validations"

[2021-04-18 20:15] lmcclung commented on #4114
@PatrickAHeath have you done any work on the AR reminder templates?  I found the above template which should be sufficient.  No need for you to do anything else.

[2021-04-19 14:53] jmills-cgi opened #7219 "Entity UIs: FI Incorporation"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-19 14:54] jmills-cgi opened #7220 "Entity Lear: FI Incorporation"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-19 15:09] jmills-cgi opened #7221 "Relationships UI's: Ministry Government Accounts"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-19 15:12] Sienna-Blumstengel commented on #7101
@andrepestana-aot I added another scenario to the description - did I understand it correctly?

#### Scenario 2 - ensure filings with a "locked" flag can't be deleted
GIVEN I am any entity type
WHEN I am on my entity dashboard
AND the filing has a "locked" flag on it
THEN I can't delete the draft alteration
AND I will see an error message returned with the following message:

[2021-04-19 15:14] jmills-cgi opened #7222 "Relationships Lear: Ministry Government Accounts"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-19 15:15] jmills-cgi opened #7223 "Relationships UI's: Deactivate Account"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-19 15:16] jmills-cgi opened #7224 "Relationships Lear: Deactivate Account"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-19 15:18] jmills-cgi opened #7225 "Relationships UI's: Vital Stats"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-19 15:19] jmills-cgi opened #7226 "Relationships Lear: Vital Stats"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-19 15:28] jmills-cgi opened #7227 "Assets UI's: Register a Financing Statement"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-19 15:29] jmills-cgi opened #7228 "Assets Lear: Register a Financing Statement"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-19 15:31] jmills-cgi opened #7229 "Assets UI's: Discharge a Registration"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-19 15:32] jmills-cgi opened #7230 "Assets Lear: Discharge a Registration"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-19 15:33] jmills-cgi opened #7231 "Assets UI's: Renew a Registration"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-19 15:34] jmills-cgi opened #7232 "Assets Lear: Renew a Registration"
Prior to moving into production, the following steps should be completed or confirmed:
- [ ] Update version number in the code being released
- [ ] Ensure deployment steps are filled in - remove/replace placeholders
- [ ] Create a draft release in GitHub and confirm the correct commits are present
- [ ] Add version # and release # to this ticket
- [ ] Dev to send commit list to QA (or otherwise pu

[2021-04-19 15:52] andrepestana-aot commented on #7101
@Sienna-Blumstengel I think this is how it should be. I changed "locked flag" because there's already a "locked" property related to the payment.

#### Scenario 1 - Ensure LTDs and ULCs can't delete draft alterations
GIVEN I am an **LTD or ULC**
WHEN I am on my entity dashboard
AND I have a draft **alteration** in my to-do list
AND  the filing has a "deletion_locked" flag on it
THEN I can't delete

[2021-04-19 16:00] Kaineatthelab commented on #5588
Do we still need this?

[2021-04-19 16:03] lmcclung commented on #7101
@andrepestana-aot looks good

[2021-04-19 16:04] lmcclung commented on #5588
Yes, absolutely need these before NRO goes away.

[2021-04-19 16:08] PatrickAHeath opened #7233 "PPR Search - Activity Headings in PDF same font/size/color as detail categories within"
When performing a PPR search and viewing the PDF of search results, the font/size/color of headings for activity within the history is the same as the detail categories within each activity.  It makes it difficult to see where the next activity begins.

In the screen shot example, 'Court Order' is the beginning of the activity.  'Court Order Information', 'Vehicle Collateral' and 'General Collater

[2021-04-19 16:25] #6800 closed

[2021-04-19 16:25] #7031 closed

[2021-04-19 16:25] #4310 closed

[2021-04-19 16:27] #6047 closed

[2021-04-19 16:27] #7123 closed

[2021-04-19 16:27] #7124 closed

[2021-04-19 16:45] Sienna-Blumstengel commented on #6999
April 19th i asked IT OPs:

[2021-04-19 16:47] tlebedovich commented on #5693
Just putting this one on hold until we update design - Scott would like the error message to appear inline instead of a modal, so just confirming what this looks like for Inc App and well.

[2021-04-19 17:03] Kaineatthelab commented on #6711
looking good but keeping open @severinbeauvais

[2021-04-19 17:04] jdyck-fw commented on #6711
Sev will verify this

[2021-04-19 17:30] mstanton1 commented on #6919
Updates made. Updates have been reviewed by Ian and Jyoti, one further revision was made, and the document has now been passed to Victoria for review.

[2021-04-19 17:33] pwei1018 commented on #7197
I just confirmed with developer. The permission for passcode reset is staff admin.

[2021-04-19 17:42] Kaineatthelab commented on #5730
@lmcclung

[2021-04-19 17:48] Kaineatthelab commented on #6950
@lmcclung for entities pls:)

[2021-04-19 17:49] severinbeauvais commented on #6546
Note that I have yet to commit some unit test changes against this ticket (but they will have no impact on functionality or UX).

[2021-04-19 17:51] Kaineatthelab commented on #4328
covered under IA story

[2021-04-19 17:52] #4329 closed

[2021-04-19 17:53] Kaineatthelab commented on #7012
@lmcclung

@severinbeauvais is this fixed with you and Camerons recent release:)?

[2021-04-19 18:07] severinbeauvais commented on #7012
No, not fixed yet. It's tech debt / cleanup, not functional, so I left it until later.

[2021-04-19 18:08] Kaineatthelab commented on #7012
thanks!

[2021-04-19 18:17] severinbeauvais commented on #7012
Oops, I answered the wrong question. (I thought the question was about SASS/SCSS - low priority.)

The answer is still "no, not implemented", but I think fixing THIS ticket is medium priority as it will reduce the number of Sentry errors. FWIW, I think users don't see this error; it's just reported in the background.

[2021-04-19 18:51] mstanton1 commented on #7197
Thanks @pwei1018. I've sent a note to Jyoti to discuss an approach to address this.

[2021-04-19 18:52] #7130 closed

[2021-04-19 19:44] Kaineatthelab opened #7234 "As a user I want to see what step I am on for registering my financing statement"

[2021-04-19 19:59] mstanton1 commented on #7000
@sumesh-aot the client sent an email at 12:12 today noting she had tried again and experience the same error. A screenshot of the error is below:

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/a687971d-f121-4ef6-ac62-d1fe07095065)

Can you look for errors / issues associated with this attempt?

[2021-04-19 20:15] Kaineatthelab opened #7235 ""Help Me Choose" link needs to be updated"
Update URL on the help me choose

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/29b0578d-570b-43ec-9260-8b3337eb9f00)

NEW URL

https://entity-selection-prod.apps.silver.devops.gov.bc.ca/

[2021-04-19 20:18] #7235 closed

[2021-04-19 20:18] mstanton1 opened #7236 "As a Ministry Account holder I want to review the Ministry Account Terms"
* As a Ministry Government account user
* I want to review and accept the Ministry Account Terms
* so that I know my legal obligations

**Acceptance Criteria**

**Scenario 1: I am setting up a Ministry Account in the Business Registry**
* GIVEN I am creating a Ministry Account in the Business Registry
* WHEN I receive and invitation, then click the link and log on in with my IDIR
* THEN I should b

[2021-04-19 20:21] lmcclung opened #7237 "Create job to cancel PENDING_PAYMENT NRs"

[2021-04-19 20:25] severinbeauvais opened #7238 "NR UI: should not call PATCH after failed GET"
**Describe the bug in current situation**
According to [**this Sentry issue**](https://sentry.io/organizations/registries/issues/2344243082/events/e7f9d7ca01b7491aae74f15befa4493e/), the NR UI does a PATCH call (to update a NR) after a GET call failed.

The failed GET call should stop whatever processing is going on.

~Calling PATCH with invalid data (due to failed GET) could save corrupt data in

[2021-04-19 20:29] severinbeauvais opened #7239 "NR UI: undefined application in NR object"
**Describe the bug in current situation**
According to [**this Sentry issue**](https://sentry.io/organizations/registries/issues/2267540898/events/6757454d3b654c58bde71b1d7a4242f9/), the NR UI continues to experience a data error where the applicants object in the NR is undefined, which causes field de-references to fail.

This error seems to happen disproportionately more on iPhones (55%) and And

[2021-04-19 20:34] jyoti3286 commented on #5588
@lmcclung - Is there a dependency on our side as well? Fee Codes maybe?

[2021-04-19 20:39] lmcclung commented on #5588
@jyoti3286 I don't think there's a dependency as all name requests are $31.50 or $131.50 with priority and you've already got that fee code.

[2021-04-19 20:42] jyoti3286 commented on #6882
@amit4610 - please summarize the VON API research here

[2021-04-19 20:54] mstanton1 commented on #6883
@PatrickAHeath the accounts are distinct from one another. There is one scenario where a user creates an account, and then creates additional accounts as well so they can toggle between accounts from one log in.

It looks like this was set up for discussion. Where has that discussion landed? Could you provide some information and an update?

[2021-04-19 20:59] severinbeauvais commented on #6711
I looked at recent issues in Sentry. Unfortunately Sentry only filters by time on the main page; when you go to each issue's page, the time filtering doesn't work.

The table below lists the issues that happened at least 10 times over the last 24 hours. The device comment is mine based on quickly looking at the details (since I can't actually filter).

_This section is under construction; please w

[2021-04-19 20:59] Kaineatthelab commented on #6883
It looks like it needs to be part of the account process, as they are tied to the account level. Design wise still needs that looked at, as well up for discussion on who would build it ( I think the PPR team could)

This is dependant on the account creation process allowing for a Business Name and personal name depending on the type of account in another ticket

[2021-04-19 21:08] severinbeauvais commented on #6711
Granted, the above is a small sample (1 day), and I don't know what percentage of our user base uses Macs/iPhones, but my suspicion continues to be that more errors occurs on Mac/iPhones than other devices.

[2021-04-19 21:13] severinbeauvais commented on #6711
Where do we go from here?

1. let's look at other tools to detemined the proportion of Apple vs Microsoft/Android devices

2. for the above errors, where an error is over-represented by Apple devices, we should create tickets (if they don't already exist) to look into the error a bit more -- or possibly to implement some workaround/retry code to mitigate the error

If the above is agreed to by the

[2021-04-19 21:14] Kaineatthelab commented on #6882
@jyoti3286 for thought....should the account set up include "personal" or "business"
@forgeuxGH5

[2021-04-19 21:15] mstanton1 commented on #6048
@jyoti3286 With this bug we risk that a user could complete a transaction and we would not obtain payment. Likelihood of happening is low and BCOL is going away. How should this be prioritized? Do we need to tackle this?

[2021-04-19 21:20] mstanton1 commented on #6151
@severinbeauvais thank you for re-testing. We will leave this one open to tackle when time allows.

[2021-04-19 21:22] Sienna-Blumstengel commented on #6980
@forgeuxGH5 I know you were doing work on fixing the whole folio thing, do you have a design for folio in Name Request yet?

[2021-04-19 21:27] Sienna-Blumstengel commented on #6136
@Kaineatthelab @lmcclung we could work on it, but -

We were considering saying "if you paid with bcol or pad, call this number because you won't get an auto-refund". However, if we finish [7018](https://app.zenhub.com/workspace/o/bcgov/entity/issues/7018) first, clients won't even be able to request a refund for those payment types, so we won't have to say the above content. Would be a much bette

[2021-04-19 21:32] janisrogers commented on #7148
This is showing the logged on user name instead of the account business name

![image](https://user-images.githubusercontent.com/55597599/115305954-fdd95600-a11b-11eb-8f43-afcdce7910ac.png)

[2021-04-19 21:36] PatrickAHeath commented on #6883
@janisrogers is working on workflow for the registering party/secured party code setup and use.

[2021-04-19 21:39] Kaineatthelab commented on #6609
it needs a design, which I don't think is done

[2021-04-19 22:00] Milan-Freshworks commented on #6706
It has been tested and verified

[2021-04-19 22:05] Sienna-Blumstengel commented on #4198
Regarding Severin's last comment: Thor has opened [6033](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6033) which will solve NRs not being consumed. Perhaps this will resolve this?

[2021-04-19 22:08] Sienna-Blumstengel commented on #5520
Tested once today and was unable to reproduce the bug

[2021-04-19 22:17] forgeuxGH5 commented on #6980
This one hasn't been "design groomed" yet but it should be fast

[2021-04-19 22:20] forgeuxGH5 commented on #6609
Yeah - we need to finish our conversation about must-haves for the search screen...

[2021-04-19 22:30] Kaineatthelab commented on #6609
yes, I think we just do the minimum. When do you want to chat?

[2021-04-19 22:33] Sienna-Blumstengel commented on #6192
Just tested in TEST on BCREG2018, could not reproduce. @riyazuddinsyed would you mind testing it again and adding any details that would help me reproduce? Or close it :)

[2021-04-19 22:43] Sienna-Blumstengel commented on #4182
Reproduced again today in test.

[2021-04-19 22:47] Sienna-Blumstengel commented on #4892
Relates to #4352

[2021-04-19 22:51] Sienna-Blumstengel commented on #4189
This may not be a bug, but a UI discussion. @forgeuxGH5
I think we were planning on updating the completing party and the "legal name" completing party signature sections?

[2021-04-19 22:52] #6902 closed

[2021-04-19 22:54] Sienna-Blumstengel commented on #4199
Duplicate of https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/5520
and
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/4182
CLosing

[2021-04-19 22:54] #4199 closed

[2021-04-19 22:54] lmcclung commented on #6904
@riyazuddinsyed @cameron-freshworks did anyone verify #11?  It's not checked off.

Great work btw - these share structures are really challenging.

[2021-04-19 22:56] tlebedovich commented on #6546
@severinbeauvais thanks for this. here is my ux assurance:

1. When you click "Delete All" & "Delete" buttons, the delete modal should appear as an overlay on top of the UI (with a dark tint). The modal is showing up with a blank gray bg for me.

![Screen Shot 2021-04-19 at 2.13.14 PM.png](https://images.zenhubusercontent.com/5e1cd2cd5d67f0528e482520/daf7203b-4bee-4c9b-a512-d829b64fc5d4)

2. I ass

[2021-04-19 22:56] #7122 closed

[2021-04-19 22:57] #7006 closed

[2021-04-19 22:58] #6971 closed

[2021-04-19 22:58] #6296 closed

[2021-04-19 23:02] Sienna-Blumstengel commented on #4201
I think this is not a bug, but a design decision.
@forgeuxGH5 we have received lots of staff feedback that we should **not** default select "same as mailing", and leave it open so people don't miss it.
Depending on your opinion, maybe we could repurpose this ticket to a dev ticket to change that

[2021-04-19 23:03] severinbeauvais commented on #6546
1. This is the way all dialogs (aka modals) display in our UIs. I guess we could make an exception for this one.
2. Yes, separate ticket please.

[2021-04-19 23:06] severinbeauvais commented on #6546
1. Actually, it's a feature added it to hide the main block while a modal is displayed (ie, for loading error). I can remove this easily and quickly for this particular modal. Stand by...

[2021-04-19 23:14] mstanton1 opened #7240 "Show Details of PPR Search in Transactions / Statements"
#### Description
Ticket is for UX designs for adding details of PPR Search into Transactions / Statements.

Background
PPR users may complete large volumes of searches for the same type of search (e.g. lien search). In order to understand what a charge was for they will require additional information on the search that was performed. This should be added into the transaction reporting / statements

[2021-04-19 23:21] cameron-freshworks commented on #6904
@lmcclung Thanks Linda!

Yes, i'm currently working on the bug to fix not retrieving the previous resolution dates. That will be in my next commit.
I can confirm though, that multiple dates on the same day will appear individually 👍

[2021-04-19 23:39] #6904 closed

[2021-04-19 23:42] severinbeauvais commented on #6546
The fix for 1. is implemented and available on Dev for testing. (You may have to refresh your browser tab.)

[2021-04-19 23:46] #6733 closed

[2021-04-19 23:47] #7074 closed

[2021-04-19 23:48] tlebedovich commented on #7145
@cameron-freshworks Very cool!

Here is my UX Assurance:

Review and Certify:
1) Is it possible to add the top level validation (red line and red text) for "Resolution or Court Corder Date" if the user has the "You must add a resolution..." red text there but didn't notice it and clicks the Review and Certify button away. Just so it draws the same attention to that component to add their date (esp

[2021-04-20 00:00] #6888 closed

[2021-04-20 00:01] Milan-Freshworks commented on #5487
It has been tested and verified.

[2021-04-20 00:02] Milan-Freshworks commented on #4808
It has been tested and verified

[2021-04-20 00:06] Kaineatthelab opened #7241 "Namex forcing login"
Staff are frustrated that they are asked to log back into NameX. They usually have multiple windows open to use different features, ie: Search, Examine and when they go back and forth from the windows they are asked to log in again multiple times a day.

- Automatically authenticate the users if a session exists
- Refresh the token before the access token times out

Please refer https://bcgov.gith

[2021-04-20 02:14] cameron-freshworks commented on #7145
Awesome, thanks! I like it as well :)

1. Will be a quick implementation and will sneak it in my current ticket 👍

2. Will be a little more work to start reaching into the components to trigger field level validations. I was under the impression we were leaving that layer of validations until the next pass?
I'll have a quick look though, but it could potentially be a bit of work that would require

[2021-04-20 04:38] tlebedovich commented on #7145
@cameron-freshworks the FED i believe was the last one needed that needs to change. There is another ticket for company name/business type but not FED. if you can’t fit it into this ticket lmk and i’ll make another

[2021-04-20 04:50] tlebedovich commented on #6546
Awesome Thanks. Yes normally with our modals you can still see the UI in the background, so thats what we want to do here as well (versus just a blank gray bg).

[2021-04-20 14:13] jyoti3286 commented on #6048
@mstanton1 - Is there a way we would know when these errors occur? If we are able to identify the error when it happens, is there a backend way to fix it?
I would not prioritize it if we have a workaround in place as per the reasons mentioned by you(low likelihood and BCOL sunset)

[2021-04-20 14:21] jyoti3286 commented on #6591
@mstanton1 - Lets move this ticket for dev. Very small change for our Dev's

[2021-04-20 15:19] mstanton1 commented on #6136
The ticket to generate a refund email for BCOL is 6721 and is in progress. The hope is to finish dev by EOD. Testing would still be required.

[2021-04-20 15:19] mstanton1 commented on #6883
Thanks for the added info @Kaineatthelab and @PatrickAHeath,

[2021-04-20 15:23] lmcclung commented on #6955
From: McClung, Linda CITZ:EX <Linda.McClung@gov.bc.ca>
Sent: April 1, 2021 12:07 PM
To: Sparks, Kaine CITZ:EX <Kaine.Sparks@gov.bc.ca>
Subject: FW: INC0083305 and INC0083071 - multiple filings per day

FYI, I talked to Carol about this briefly in my check in this morning.

I’ll still do a decision note/RFC for her, but she thinks it wouldn’t be good optics to charge two filing filings if they are

[2021-04-20 15:23] mstanton1 commented on #7208
I have reached out to BCOL Admin to work to schedule a meeting.

[2021-04-20 15:32] mstanton1 opened #7242 "Optional Refresher Training: Logging in and creating an account in the Business Registry"
#### Description
Staff have requested two sessions (1 hour long) for a refresher on how to log in and create an account in the Business Registry.

- [ ] Session 1: April 20th
- [ ] Session 2: April 27th
- [ ] Draft and send follow up email with resources and answers to questions from each session

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' chan

[2021-04-20 15:40] tlebedovich commented on #7145
@cameron-freshworks - to note, there is a FED component update ticket in the backlog that could cover the FED portion if you wanted to see if Linda was ok bringing it into this sprint. It is -- >
https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6724

[2021-04-20 15:49] cameron-freshworks commented on #7145
I think that's a great idea! Especially if there was other items to update 👍

[2021-04-20 15:52] tlebedovich commented on #6724
@cameron-freshworks a number of updates have been made since I made this ticket so there are just a few items left that are unchecked - validated, setting the active/non-active states and one font colour update

[2021-04-20 15:54] jyoti3286 commented on #6892
@mstanton1 - Yes, let's make two tickets for the above issues

1. We should ask our Dev's to leverage the Staff comment component created by the Entities team for Businesses
2. I agree, it would be cumbersome to manually go through the list if there are a large number of suspended accounts. Enabling the Account name search across the tab makes sense.

[2021-04-20 16:04] Sienna-Blumstengel commented on #6514
Waiting for line 3 of [this video catalogue](https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/WopiFrame.aspx?sourcedoc={2b34b3c0-e14a-4e31-8286-218a7efd8a3a}&action=default) to be uploaded to youtube so i can link it in the email macros.

WHen it is ready, i will send the macros to IT Ops for them to put in the R drive. Then this will be done.

[2021-04-20 16:19] Milan-Freshworks commented on #6557
It has been tested and verified.

[2021-04-20 16:27] #4808 closed

[2021-04-20 16:27] #6706 closed

[2021-04-20 16:27] #6557 closed

[2021-04-20 16:27] #5487 closed

[2021-04-20 16:30] tlebedovich commented on #6904
@cameron-freshworks @lmcclung

Last night I noticed a bug relating to a similar situation as #4 above that may still need resolving. Can you check it out below and let me know if I should make a new bug ticket?

To find the bug use company alteration BC1230072

1) Remove the Share Class A
2) It prompts you for a court order date, select a court order date
3) Hit Undo on the Share Class removal, wh

[2021-04-20 16:37] #7192 closed

[2021-04-20 16:45] cameron-freshworks commented on #6904
@tlebedovich Can confirm! This is what Riyaz and i discovered in our QA as well, this fix is in but currently in review :)

[2021-04-20 16:53] severinbeauvais commented on #6711
@lmcclung @Kaineatthelab What do you think about my last comment above?

[2021-04-20 17:17] severinbeauvais commented on #6711
Patrick got me some stats from Hotjar.

In the last 30 days:
- iOS users (iPhones and iPads) =  2,348 out of 17,610 = 13 %
- MacOS users = 3,212 out of 17,610 = 18%

This is roughly consistent with global OS market share (per https://gs.statcounter.com/os-market-share), which reports:
- iOS around 16 %
- MacOS around 7 %
- Windows around 32 %
- Android around 40 %

(I'm not surprised that our data

[2021-04-20 17:20] amit4610 opened #7243 "Incorrect notification numbers in inbox"
The BCOL Admin team had18 notifications in our email inbox, but when they open the pending folder (in app) in the system it only shows 10.

Screenshot from Prod-

![notific.PNG](https://images.zenhubusercontent.com/5e1f4aaaec1d5f0f64e7c1cd/4c4a1b8a-4c1f-4df4-a454-01819204ccb5)

Why are extra notifications generated?

[2021-04-20 17:24] #7000 closed

[2021-04-20 17:37] tlebedovich commented on #6546
looks great, i'll move this to QA

[2021-04-20 18:29] Sienna-Blumstengel opened #7244 "NRs 5636485 and 6762083"
#### ServiceNow incident:
INC0086760
#### Contact information
Staff Name: Kristopher Yee

#### Description

**TO DO**
- [x] Dev to check payments for 5636485 & 6762083
- [x] Dev to tell Sienna if there are payments
- [x] Sienna to refund whichever have payments
- [ ] Dev to cancel 5636485 & 6762083 (because staff can't cancel it in NameX)

#### Tasks
- [ ] When ticket has been created, post the ti

[2021-04-20 18:33] severinbeauvais opened #7245 "Edit UI: Delete All button should show "loading" state when File And Pay is clicked"
#### Description
1. go to an alteration
2. go to Review and Confirm page
3. fill in all required fields
4. click File And Pay button
5. observe that the Delete All button does not show "loading" state (it should, since it should not be available for the user to click)

This is a change to the FeeSummary shared component (and a corresponding dependency import in Edit UI).

Question: should the "con

[2021-04-20 18:36] stevenc987 commented on #7244
@Sienna-Blumstengel
5636485 - didn't pay
6762083 - paid

[2021-04-20 18:39] Sienna-Blumstengel opened #7246 "NAME REQUEST System Issue: unable to submit a NR for a xpro corporation with the corporate number from the home jurisdiction"
#### ServiceNow incident:
INC0086708
#### Contact information
Staff Name: Jennifer Weldon

#### Description

Before closing this ticket, remember to ask Sienna or Linda to inform IT Ops that this has been resolved!

[2021-04-20 19:02] tlebedovich commented on #7113
@forgeuxGH5 @janisrogers - regarding your question above Janis;

Some people will already be seeing the $8.00 dialog box so it might be problematic to have another dialog appear if the user clicks search again on the the same search criteria.

If we deactivate the search button on the search results page I think people will assume they can't do a new search from there

I wonder if clearing/resetti

[2021-04-20 19:03] #4923 closed

[2021-04-20 19:03] stevenc987 commented on #7246
@kialj876 @thorwolpert .

I checked this corp_num doesn't exist in CPROD. Is this a known issue?

[2021-04-20 19:08] lmcclung commented on #6922
@riyazuddinsyed if you wanted to see whether an entity has been frozen in COLIN, you can either look at the CTST database (if you have access) or login to SOFI using your idir and search the entity there.  You'll see a bright yellow banner.  If you don't have access, Sienna or I can search it for you. https://test.bcregistryallservices.gov.bc.ca/sofi/login/login.htm

[2021-04-20 19:14] stevenc987 commented on #7244
@Sienna-Blumstengel
you didn't mark the option for cancel NR. Do you want to mark them to be cancelled? Also, it seems first NR doesn't exist in requests table in postgres

[2021-04-20 19:15] stevenc987 commented on #7244
@Sienna-Blumstengel
![image.png](https://images.zenhubusercontent.com/5c49eff9e801e25f7827de43/99caeaeb-f044-437a-a904-91356852da93)

[2021-04-20 19:15] severinbeauvais commented on #6711
Here is the data better presented. Mainly, I'm only looking at "non-network" errors, since the network errors are due to API issues not UI issues.

The table below lists the issues that affected at least 10 users from Apr 16-19. The device comments are mine based on quickly looking at the details.

| Error Name | # Users | Device Comment |
| ---------- | -------- | ------- | -------------- |
| get

[2021-04-20 19:26] lmcclung commented on #7246
@stevenc987 sound like maybe the call to MRAS hub isn't working.  Perhaps this didn't get hooked up properly as part of OCP4 migration to PROD?

[2021-04-20 19:29] severinbeauvais commented on #6711
Well, darn. It looks like Sentry incorrectly reports the "device" breakdown for issues.

For example, in [this issue](https://sentry.io/organizations/registries/issues/2108973620/events/08e227096e704ebfa641856c0a5377ad/), device is reported as "100% Mac", but if I look at "os.name" instead it reports "89% Windows and 10% Mac OS X" which is much more in line with what I would expect given OS market

[2021-04-20 19:46] Sienna-Blumstengel commented on #7244
Oh sorry @stevenc987 I am using that as a checklist of things we have to do, and as we do them, we check them off.  Let's mark these two as canceled.

Maybe ask Kial or Thor what they do when an NR isn't in the requests table in postgres. Or maybe @lmcclung knows? The business asks us to cancel them because they can't access them in NameX (which must be because it's not in the requests table)

[2021-04-20 20:06] amit4610 opened #7247 "Client account setup walkthrough"
Hello,

We have tried to set-up our new NRO account twice but both times it has failed. I’m unsure of the reason why it has failed. All the data has been checked for errors several times.

Are you able to assist me with the registration completion? I’ve been on hold for several hours over two days (Friday and Monday). We realize your call volume must be overwhelming right now, but we will be unabl

[2021-04-20 20:06] amit4610 commented on #7247
meeting with the client today

[2021-04-20 20:10] Sienna-Blumstengel commented on #7244
NRs cancelled in both Namex and NRO database. Sending to Kris and IT Ops, closing.

[2021-04-20 20:11] #6886 closed

[2021-04-20 20:11] severinbeauvais opened #7248 "NR UI: "undefined applicants" error happens disproportionately on mobile"
**Describe the bug in current situation**
Re: https://sentry.io/organizations/registries/issues/2267540898/events/23869c571e304388aa9086f504e423bf/

Apparently, this error occurred 56% of the time on iOS devices and 33% of the time on Android devices. These numbers significantly exceed the [**Operating System Market Share North America**](https://gs.statcounter.com/os-market-share/all/north-americ

[2021-04-20 20:14] severinbeauvais opened #7249 "NR UI: "unknown promise rejection" on Mac only"
**Describe the bug in current situation**
Re: https://sentry.io/organizations/registries/issues/2151028989/events/0d3f5325771240b581727ce7918e9c7c/

Apparently, this error happens only on Mac devices.

[2021-04-20 20:17] jyoti3286 commented on #6580
As part of the discussion in UX guild, there was another proposal to use XMS Site for uploading those videos.

There is still some work required to unify the design for general"help" concepts in the app.

@trishreimer - We discussed this briefly in our last meeting, but just wanted to make sure if you are OK with uploading all the videos on the CMS Site?

[2021-04-20 20:18] severinbeauvais opened #7250 "NR UI: "webchat status error" happens disproportionately on Mac"
**Describe the bug in current situation**
Re: https://sentry.io/organizations/registries/issues/2309219488/events/f2dab11eccb848dab431579d811e49e4/

Apparently, this error occurred 77% of the time on Mac devices. This number significantly exceeds the [**Operating System Market Share North America**](https://gs.statcounter.com/os-market-share/all/north-america), which reports:
- Mac OS X around 14%

[2021-04-20 20:18] #7082 closed

[2021-04-20 20:19] trishreimer commented on #6580
@jyoti3286 Yes, we have youtube links for the videos. we'll need to work with Suzanne and Gen to determine the best place on cms. Thanks

[2021-04-20 20:21] #7159 closed

[2021-04-20 20:22] severinbeauvais commented on #6711
I have finished investigating these errors. I have created 4 new tickets and assigned them to "Project X - May Release" epic. (I know this doesn't sound like a good deal but the new tickets are specific to particular errors and demonstrably occur unexpectedly.)

Thus, I will now move this ticket to Done.

[2021-04-20 20:33] #6711 closed

[2021-04-20 20:34] #6843 closed

[2021-04-20 20:39] lmcclung commented on #7056
Assigned to DBAs on April 16th

[2021-04-20 20:42] lmcclung commented on #7056
throwing an estimate of 2 on it for sprint planning purposes.

[2021-04-20 20:48] jordiwes commented on #6923
![image.png](https://images.zenhubusercontent.com/6018b860657f476731f9d68d/96e9d6a6-be64-406f-bb15-4ed53aa089cc)

[2021-04-20 21:23] severinbeauvais commented on #6814
@lmcclung Could you give me your thoughts on the comment above? Thanks!

[2021-04-20 21:31] jyoti3286 commented on #5582
@mstanton1 - I think this one can be managed by the Passcode reset functionality. Or there is more to do here?

[2021-04-20 21:45] amit4610 commented on #7247
account creation success

[2021-04-20 21:45] #7247 closed

[2021-04-20 21:47] amit4610 commented on #7243
provided screenshots to Milan by email.

[2021-04-20 21:51] amit4610 commented on #6882
Summary of research from 5248-

Useful Links:

https://www.orgbook.gov.bc.ca/api/v3/ (v3 is the latest one)
https://github.com/bcgov/orgbook-api/tree/main/docs
https://www.orgbook.gov.bc.ca/api/
https://www.orgbook.gov.bc.ca/en/home

Details:

Features –
a. name lookup feature for legally registered organizations, with autocomplete functionality
b. basic organization search - type of organization,

[2021-04-20 23:06] lmcclung commented on #6814
@severinbeauvais I like option 1 - but I have a question.  If staff filed the alteration, and in the certify section they entered the name of the person who filled out the form, then what will the ledger say?  Registry staff or the certify name?  If the certify name, then we need to change this so that the ledger still shows 'Registry staff' which means another ticket.  Let me know and I can make

[2021-04-20 23:08] lmcclung commented on #7056
This is ready for person working on ops.  Although might want to wait for data loader being pushed with alterations.

[2021-04-20 23:09] mstanton1 opened #7251 "Onboarding for Sateesh Boggarapu"
Description: Complete the onboarding checklist for Sateesh Boggarapu

Onboarding Checklist available here: R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding\

**IDIR**
- [x] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [x] Submit to IT Operations Support. This form should be emailed

[2021-04-20 23:11] mstanton1 commented on #7251
Onboarding form completed and sent to Michael Leung.

[2021-04-20 23:13] severinbeauvais commented on #6814
Let me verify that...

[2021-04-20 23:23] severinbeauvais commented on #6814
The filings history shows whatever was entered in the Certify component:

![image](https://user-images.githubusercontent.com/10002889/115475194-f7b6a880-a1f3-11eb-8b0d-fd5998575e7f.png)

In my test, I was logged in using IDIR and I completed an AR. The filing history list does not show "Registry Staff".

The UI cannot easily tell that staff submitted a filing. There is a "submitter" field but I do

[2021-04-20 23:23] jordiwes commented on #6923
Question for @lmcclung :

This does not disable the "change company info" button in the Entity Info header, which is how existing companies start an alteration (other than changing business type). Should it?

[2021-04-20 23:32] lmcclung commented on #6923
@jordiwes yes, it should.

[2021-04-20 23:36] pwei1018 commented on #7143
@mstanton1  Sorry, I didn't notice this ticket. We can generate the passcode to them if need.

[2021-04-20 23:41] severinbeauvais commented on #7245
### Test Notes

1. The Save and Resume button should display loading state during save (or file and pay).
2. The Delete All button should display loading state during save (or file and pay).
3. The File and Pay button should display loading state during save (or file and pay).
4. The Change button should be disabled during save (or file and pay).
5. The Delete button should be disabled during save

[2021-04-20 23:46] lmcclung opened #7252 "OCP - Connect to Oracle CDEV"
### Background
**If we build this, we can:**
* We can run SQL statements to find the right company to test with
* Those LTDs, ULCs, CCCs and all different corp types will be usable in our BC Business Registry (dev) for testing

### To do
- [x] Config change

### Note
When we make this change, there will be data issues. We should let other teams know about this, don't need to resolve it.

Please co

[2021-04-20 23:46] lmcclung opened #7253 "Load TEST entities from CTST for staff training session April 29th"
Patrick Heath creating the following in COLIN CTST by April 24th:
10 LTDs
10 ULCs

These entities with their filings need to be loaded into our test environment, company added to MB dashboard and draft alteration in entity dashboard.  You can skip the COLIN freeze or do it if you want the practice:)

They will have an IA filing and maybe an alteration filing in COLIN.

[2021-04-21 00:19] lmcclung commented on #7241
@thorwolpert @sumesh-aot can this ticket be closed now?

You've confirmed you've made these improvements:
1) If you are logged in with your idir on another page in your browser (ie SOFI) and that page is still an active session, you won’t be prompted to enter your IDIR in Namex when you first open the NameX app.
2) If you are not logged into any other page with your idir, when you navigate to Name

[2021-04-21 00:30] lmcclung commented on #7002
@thorwolpert just checking this is something you are doing (Kaine says you are) and whether we need to bring it into Entities sprint or still keep as Project X.

[2021-04-21 00:42] lmcclung opened #7254 "Name Request UI - add types"

[2021-04-21 00:43] lmcclung opened #7255 "NameX work"
## Description

- need to define what work is required - just guessing here
- [ ] Namex to pull new name request types and display in UI
- [ ] Assign correct rules for examination

[2021-04-21 00:43] lmcclung opened #7256 "Backend work"
## Description

This needs to be defined...
- what updates to NAMES oracle databases?
- SOLR?
-

[2021-04-21 01:01] lmcclung opened #7257 "Staff need way to submit NR for federal entity with Letters Patent"

[2021-04-21 01:48] lmcclung commented on #7257
Advised Cameron/Michael we've opened ticket for this. While I’d love to offer the elegant solution, this isn’t a high enough priority to warrant the effort involved if we have a work around.  Asked if any home team BAs have time to test out option 3 and answer the questions I had.

From: Kagis, Michael CITZ:EX
Sent: April 19, 2021 9:55 AM
To: McClung, Linda CITZ:EX <Linda.McClung@gov.bc.ca>
Cc: Bo

[2021-04-21 01:59] lmcclung commented on #5588
Emailed Michael Kagis April 20th to see if John might be able to help out with requirements for this.

[2021-04-21 02:07] lmcclung opened #7258 "IA Correction Regression testing"
Now that we've made so many changes to the EDIT UI for alterations, we need to do some regression testing on the IA Correction application filing.

GIVEN I have logged in with my IDIR
AND there is a filed  Incorporation application
AND there has not been an IA correction filed yet
WHEN I file an IA correction
THEN I should not encounter any unknown errors.

Create bugs and add them to story #6616

[2021-04-21 02:30] lmcclung commented on #6566
Regrooming as we need to ensure this works for not just registrations, but reinstatements, amalgamations and change of name, too.

[2021-04-21 10:33] jachurchill commented on #6378
PR's for this one are https://github.com/bcgov/bcrs-shared-components/pull/53 and https://github.com/bcgov/business-edit-ui/pull/171
Didn't resolve the field level validations part because it sounds like @cameron-freshworks is working on that functionality already

[2021-04-21 15:25] Sienna-Blumstengel commented on #7091
From Julie:

@rarmitag hows it going?

[2021-04-21 15:26] mstanton1 commented on #6048
@Milan-Freshworks is there any existing way to identify these? From our discussion I understand we would catch stale payments at an annual job run by Finance but am not aware of anything on our side or that runs more frequently.

[2021-04-21 15:34] mstanton1 commented on #7143
@pwei1018 thanks. I will work with the business to confirm details such as email address for new passcode. I will also send a follow up to team leads, as I have outlined two options for resolving this (give admin group to corporations staff or update the group that this ability is associated with).

[2021-04-21 15:45] jordiwes commented on #6923
@lmcclung Are change of directors and/or change of address allowed?

[2021-04-21 15:52] Sienna-Blumstengel commented on #6923
Good question Steph!

- If there is a draft, the client can not start **any** other filings (including directors and addresses)
- If the client has an alteration draft, same thing, they cannot start any other filings.
- If the client has an alteration draft, and are not in good standing, not only can they not file any other filings because of the draft, but also can't file the alteration draft.

S

[2021-04-21 15:53] severinbeauvais commented on #6378
@lmcclung Someone needs to pick up this ticket, verify the current status, and update the empty checkboxes above.

[2021-04-21 15:58] cameron-freshworks commented on #6378
@severinbeauvais I can support it through 👍

[2021-04-21 16:24] severinbeauvais commented on #5410
I just verified this in Dev:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/50c8ffd3-bfe7-426f-bf4d-b95343a70669)

[2021-04-21 16:24] lmcclung commented on #5024
@forgeuxGH5 @tlebedovich please upload design

[2021-04-21 16:50] Milan-Freshworks commented on #6048
There is no job that runs on our end to identify stale payments like these.

[2021-04-21 16:57] sumesh-aot commented on #7155
@jyoti3286 @mstanton1 Is this applicable only for ministry accounts, or are we doing for all accounts ?

[2021-04-21 16:59] jyoti3286 commented on #7155
@sumesh-aot : Good question - This one is applicable only for Ministry gov accounts - reasons mention in the description under "some business info"

[2021-04-21 17:02] jyoti3286 commented on #7164
@saravanpa-aot: Since you are already working on this - it can be deployed once ready. Let me know

[2021-04-21 17:02] jdyck-fw commented on #7187
Ticket 7142 has more detail around the timing of this occurrence.

[2021-04-21 17:07] Sienna-Blumstengel commented on #7244
From Debbie:

From Sienna:

From Debbie:

### TO DO:

- [ ] devs to cancel 5636485.
- [ ] SIenna to Remove the refund request for 6762083
- [ ] devs to set 6762083 to complete

[2021-04-21 17:12] sumesh-aot commented on #6895
@jyoti3286 @amit4610 Can you confirm it's different groups creating the invite (account creator), and approve/reject (admin) ?
If not, please update ACs

[2021-04-21 17:19] mstanton1 commented on #7251
IDIR Request has been placed: Request Number: REQ0135156.

[2021-04-21 17:23] lmcclung commented on #6214
@argush3 - can you check what github number this should be; and whether it has been done.  If not, we could repurpose this ticket.

[2021-04-21 17:23] sumesh-aot commented on #7244
@Sienna-Blumstengel

Do we need to do this? There is no automated way to remove the refund, once refund is requested.

[2021-04-21 17:24] #7234 closed

[2021-04-21 17:24] mstanton1 commented on #2125
![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/7fbe1f83-9119-41eb-a5ec-f8375d745a38)

Sprint 53 Continue with ongoing action items.
@mstanton1 has created Zenhub 6907 which is in Sprint 54.
Team to be cautious of committment for next PI planning.
@amit4610 @mstanton1 to produce requirements on what system must do an make available for devs while IP for feedback (to be c

[2021-04-21 17:26] Kaineatthelab opened #7259 "UI - Add Collateral"
- [x] includes edit capability
- [x] includes general collateral
- [x] stepper

## Validation Rules
https://docs.google.com/spreadsheets/d/1SMIHMlH9DeqKQh1r44vhr6zrUIfoJRi4B3e-O3X1DVU/edit#gid=0

[2021-04-21 17:26] Kaineatthelab opened #7260 "UI - General Collateral"

[2021-04-21 17:30] Kaineatthelab opened #7261 "Research VIN API look up"

[2021-04-21 17:36] Sienna-Blumstengel commented on #7244
Oh sorry i just removed it from the list in https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7178 @sumesh-aot

[2021-04-21 17:50] amit4610 commented on #6895
It is the same group who creates the invite and approve/reject requests. It is the BCOL Admin group i.e. Wendy's team in current BCOL system. @sumesh-aot @jyoti3286 @rkim13103

[2021-04-21 17:50] Kaineatthelab opened #7262 "UI - Save or update Draft"
- [ ] Testing Dependent Table to save draft
- [x] Save on clicking save button API Call
- [x] Error handling

[2021-04-21 17:59] mstanton1 commented on #7242
Slide Deck created: https://docs.google.com/presentation/d/1hWWT_fhHMySGi7baCAPqVjeg9rAK3KSltTc98s8VavY/edit#slide=id.gd33be57a8c_0_22

Speaking notes: [https://app.zenhub.com/files/157936592/95121d2f-e9f4-449b-99b1-f5582c56df60/download](https://app.zenhub.com/files/157936592/95121d2f-e9f4-449b-99b1-f5582c56df60/download)

Training session 1 delivered April 20th, 2021.
Training session 2 pending.

[2021-04-21 18:10] severinbeauvais opened #7263 "Entity UIs: update dependency to latest sbc-common-components"
#### Description

The 3 Entity web apps need to update their dependency to the latest version of sbc-common-components (which primarily adds the IE11 warning banner):
- [ ] Filings UI
- [ ] Create UI
- [ ] Edit UI

Normal QA regression testing should follow to verify that nothing is broken.

[2021-04-21 18:15] mstanton1 opened #7264 "Create Partner Onboarding Document"
#### Description
Create a partner onboarding document for reference by partners when onboarding to BC Registries & Online Services.

Include:
* details on use of auth and pay API
* sequence diagram
* integration details with keycloak

Storage
* To be stored in Github repository which will be created for the Relationships team

#### Tasks
- [ ] When ticket has been created, post the ticket in Rocke

[2021-04-21 18:16] Sienna-Blumstengel opened #7265 "NR-Payment Issue - NR 5890321"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
INC0086962
#### Contact information
Staff Name: Kristopher Yee

#### Description

NR Is stuck in processing payment. What do we do?  Ask them to make a new one?

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships*

[2021-04-21 18:16] Kaineatthelab opened #7266 "UI - Display Step 1 View Only on Step 4"
- [x] create page
- [x] display step 1 view only

[2021-04-21 18:19] mstanton1 opened #7267 "Create documentation on Keycloak groups and related staff access"
#### Description
Create document outlining Keycloak groups, what services are enabled for each, and which staff group it is applicable to.

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] Assign zenhub ticket to milestone: curr

[2021-04-21 18:21] sumesh-aot commented on #7265
It's payment is in completed state.

[code]

@Sienna-Blumstengel can you suggest what is the action item ?

[2021-04-21 18:24] Kaineatthelab opened #7268 "UI - Display Step 2 View only step 4"

[2021-04-21 18:24] Kaineatthelab opened #7269 "UI - Display Step 3 View Only step 4"
- Dependent on Step 3 being complete

[2021-04-21 18:25] sumesh-aot commented on #7244
[code]
NR 6762083 is PAID, do we need to cancel the NR still ?

[2021-04-21 18:25] Kaineatthelab opened #7270 "UI - Folio"

[2021-04-21 18:33] mstanton1 opened #7271 "Leverage comments component in manual account suspension flow for staff"
* As a a staff member of BCOL Admin, the Corporations Unit or the Hub team
* I want the ability to add a comment when I manually suspend an account
* so that my colleagues or I can easily refer to notes on why an account was suspended when follow up takes place

**Acceptance Criteria**

**Scenario 1: BCOL Admin, Corporations Unit or Hub team manually suspend an account**
* GIVEN I click 'Suspend A

[2021-04-21 18:35] Sienna-Blumstengel commented on #7244
That was my mistake in the original ticket, we don't want to cancel 6762083, we want to set it to "complete".
We do still want to cancel the other NR, 5636485, though.

- [ ] devs to cancel 5636485. Investigate what @stevenc987  might have done yesterday, why it isn't registering as canceled, and make sure everything is ok
- [x] Sienna to Remove the refund request for 6762083
- [ ] devs to set 676

[2021-04-21 18:41] mstanton1 opened #7272 "Training for BCOL Admin for Suspension Functionality"
#### Description
The ability to suspend an account was recently granted to BCOL Administration. With BC Online account management when an account is undergoing changes they occassionally are asked to suspend the account so users on the account cannot make changes.

For training Wendy Flynn has requested we provide her team:
* Step by step information
* Details for a self-guided test

#### Tasks
-

[2021-04-21 18:44] #6892 closed

[2021-04-21 18:44] sumesh-aot commented on #7265
This is done

[2021-04-21 18:47] #7265 closed

[2021-04-21 18:52] lmcclung commented on #6680
Found one...
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/14d74ed5-b569-4d51-9262-ad3ee49e495d)

[2021-04-21 18:56] jyoti3286 commented on #7115
@Kaineatthelab - Following up on this. Carol has a meeting set up to talk about the status of DRP tomorrow.

[2021-04-21 19:01] Milan-Freshworks commented on #7164
It has been tested and verified.

[2021-04-21 19:21] Sienna-Blumstengel commented on #6099
@mstanton1 do you happen to know why the sharepoint link above isn't working?

[2021-04-21 19:22] Milan-Freshworks commented on #7180
It has been tested and verified.

[2021-04-21 19:29] jyoti3286 commented on #7167
What should be the message being displayed for the outage?

@lmcclung , @Kaineatthelab @trishreimer : Is the below message good to go?

Credit card payments will be unavailable for cooperative and benefit company filings from 5:00 AM April 25th until 10:00 AM April 25th

Also, when do we want this message up? Friday: Apr 23rd?

We are planning to have the message up until April 25th at 10 AM

[2021-04-21 20:00] #6156 closed

[2021-04-21 20:10] severinbeauvais commented on #6923
If there are any UX or QA questions, I will answer them.

[2021-04-21 20:12] Kaineatthelab commented on #6745
can you run this by Debbies Team and Bob for decision.

[2021-04-21 20:16] #7157 closed

[2021-04-21 20:20] #7164 closed

[2021-04-21 20:20] #7180 closed

[2021-04-21 20:21] sumesh-aot commented on #7244
@Sienna-Blumstengel NR 5636485 didn't exist in NameX, @kialj876 set to CANCELLED in NamesP (NRO DB).
@Sienna-Blumstengel There is another NR 'NR 2648877' which is APPROVED (not PAID in payment database), for 'NR 6762083', should it be set to APPROVED ? (@kial confirmed there is no complete status code).

[2021-04-21 20:27] Kaineatthelab opened #7273 "Data Migration PPR - Production Release Dependant"
https://github.com/bcgov/entity/pull/7486

Documenting Data Migration

ESTIMATE OF THE EFFOR FROM ALI
The effort to complete the work as outlined is as follows:

•	There are a total of 52 transactions to convert:
o	There are 26 transactions in our in-house environment, used mostly by staff
o	There are 26 transactions in our BC Online environment
o	The estimated average to complete each transaction

[2021-04-21 20:27] janisrogers commented on #6745
@Kaineatthelab Users surveyed do not use this field. Sharon stated that she uses it when doing discharges, to be able to sort the outputs she receives. I think that our userflow might replace her need of this number. I would recommend not adding this until after we design discharge, to see if our design captures her needs without this field.

[2021-04-21 20:29] Kaineatthelab commented on #7273
@Alireja2 @bfbowles with the 52 transactions mentioned above aren't there some that are already converted?

[2021-04-21 20:34] pwei1018 opened #7274 "ArgoCD - Continuous Delivery/Deployment"
## Description:
- Short Description of the needed Epic in the below format

* As a (who/ person)
* I want (what/ goal)
* so that (why/ benefit proposal)
or
* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what is expected value and justification for priority.

----
* Start date when team will start to work on:

[2021-04-21 20:41] Kaineatthelab commented on #7179
@janisrogers this one should encompass search, registration and could do more staff flows?
Thoughts?

[2021-04-21 20:55] #7207 closed

[2021-04-21 21:01] mstanton1 commented on #7178
@stevenc987 the weekly refunds are ready for processing.

[2021-04-21 21:10] Milan-Freshworks commented on #6970
I spoke with Saravan about it and he mentioned that it should be a P3

[2021-04-21 21:18] mengdong19 commented on #7243
This issue has been identified caused by missing paginator for pending tab. Will need  check other tabs to confirm they don't miss paginator.

[2021-04-21 21:25] rarmitag commented on #7091
Unfortunately I still get a http 422 error when trying to bring across event "102269203". I first thought this was because of the migration to OC4, but I now believe it is related to a code update 2 weeks ago.
Not sure what the fix is. Running the legal-api locally to see if the error shows with more detail.

[2021-04-21 21:30] mstanton1 commented on #6099
@SiennaBlumstengel please use the new link below. When I made changes instead of editing and saving the existing doc on SP I ended up editing locally then uploading the new version to SP. Sorry for the hassle.

https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3919

[2021-04-21 21:30] severinbeauvais commented on #7263
I updated this in all 3 UIs and deployed to Dev and Test environments.

[2021-04-21 21:41] severinbeauvais commented on #6214
I moved this to In Progress as we're actually working on the Lear components atm.

[2021-04-21 21:46] severinbeauvais commented on #7193
This is the UI component that "loads" the different filing types and thus expects certain from them: https://github.com/bcgov/business-filings-ui/blob/ec1e52f782c752ccab37ddc68594ccbc9e93e4a8/src/components/Dashboard/FilingHistoryList.vue#L455

In addition to regular data, the filing history list expects the list of document objects and the list of detail comments for each filing.

LMK if you have

[2021-04-21 21:51] severinbeauvais commented on #6814
@thorwolpert My preference is to make the UI "dumb"... Is there a way the API can report whether the filing was filed by "Registry Staff" ?

Then the UI logic can be:
[code]

[2021-04-21 22:08] lmcclung commented on #6136
@mstanton1 what is the process for refunding a PAD (within same day vs a later date)?

[2021-04-21 22:10] Kaineatthelab commented on #7244
I canceled 6762083 they just don't need a refund

[2021-04-21 22:10] severinbeauvais commented on #6812
I just verified this in Prod. (Today = April 21)

Example 1:
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/b2c2808c-50aa-4a19-940d-c6f8edcfc456)

Example 2:
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/6197f22d-e732-48e3-9165-a24c055c220f)

Example 3:
![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/09b8e142-5895-

[2021-04-21 22:12] Kaineatthelab commented on #7244
this can be closed otherwise

[2021-04-21 22:15] Sienna-Blumstengel opened #7275 "NR0374033 Draft in NameX/payment incomplete in Name Request"
#### ServiceNow incident:
INC0087067

#### Contact information
Staff Name: Elizabeth Espinosa

#### Description

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [ ] Add **entity** or **relationships** label to zenhub ticket
- [ ] Add 'Priority1' label to zenhub ticket
- [ ] Assign zenhub ticket to milestone: current, and place in pipeline:

[2021-04-21 22:18] Kaineatthelab commented on #7275
this just needs Name Request to reflect that payment has been received.

[2021-04-21 22:22] severinbeauvais commented on #6814
Sumesh replied:

Hence, we will have to capture role when a filing is saved/filed (if we don't already).

@thorwolpert Should the UI save a new field in the header, and read it back in the filings history list?

[2021-04-21 22:22] mstanton1 commented on #7167
As per a discussion chain at PO Sync, and follow up email I have updated what is required in this ticket. AC are above and also here:

Actions Required

1. Post the following message in the banner
Due to system maintenance the Business Registry and Name Requests will be unavailable from 5:00 AM until 10:00 AM on April 25th.

2. Close application
Close the application from 5:00 AM to 10:00 AM on Su

[2021-04-21 22:23] Sienna-Blumstengel commented on #7275
So this is different than "pushing through to draft" @Kaineatthelab ?

[2021-04-21 22:25] Sienna-Blumstengel opened #7276 "NR 7030412 - payment not found"
#### ServiceNow incident:
INC0086978

#### Contact information
Staff Name: Kristopher Yee

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Assign zenhub ticket to milestone: current, and place in pipeline: spr

[2021-04-21 22:27] severinbeauvais commented on #4717
They are not synced -- the UI has its own mapping from filing type (eg, "alteration") to filing name (eg, "Alteration Notice"). Easy to update but we'll need to know the new names. Or, the name could be passed up from the API (which makes it harder to internationalize/translate if we need to get there sometime).

[2021-04-21 22:29] Kaineatthelab commented on #7275
not sure what happens exactly but it is already draft on namex side but not on name request

[2021-04-21 22:33] #5582 closed

[2021-04-21 22:35] lmcclung opened #7277 "NameX API: for refund messages"
## Design ticket
Pertains to dev ticket: https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7018

- [ ]  check status for refund
- [ ] see if any adjustment is needed to return a response to the UI

## Background
**Credit cards and BC Online payments** are eligible for refunds and have a refund process in place
**PAD, Routing slip and no fee payments** do not hav

[2021-04-21 22:36] severinbeauvais commented on #7246
The UI responded as it did because the network call to fetch the MRAS profile failed. (The UI actually saw a "CORS error" but that's possibly because the API did not respond with a correct HTTP code.)

[2021-04-21 22:39] Sienna-Blumstengel opened #7278 "Alteration to a **Limited** Company - BC1294238 - JAREL TECHNOLOGY INC."
#### ServiceNow incident:
INC0087052

#### Contact information
Staff Name: Kathy Langlois
Staff Email:

#### Description

Affiliation info (mandatory - BC Registries account name or BCOL a/c): N/A

Company email (mandatory): Stephanie.jarel.ca@gmail.com

Company phone (optional):

Filing date (date/time received at Registries. If email, time email received. If mail, time scanned document received)

[2021-04-21 22:44] Sienna-Blumstengel commented on #7275
@sumesh-aot does that make sense? Just need to make sure it also displays as "draft" on name request

[2021-04-21 22:46] severinbeauvais commented on #5180
Is this a duplicate of 5024 or are there new requirements here?

[2021-04-21 22:48] severinbeauvais commented on #7246
I saw this in the namex api logs:
[code]

Is it correct?

[2021-04-21 22:50] stevenc987 commented on #7178
@mstanton1  @amit4610 @Sienna-Blumstengel

NR 4592109 (INC0086027 ) - Refund Requested
NR 0453514 (INC0085758, just the priority fee of $101.50) - Refund Requested for priority fee only

[2021-04-21 22:54] severinbeauvais commented on #7246
The MRAS_SVC_URL secret in OCP has a trailing `/`. Maybe it shouldn't?

[2021-04-21 22:57] #7244 closed

[2021-04-21 22:58] amit4610 commented on #7178
notified IT Ops. Thanks Steven.

[2021-04-21 22:58] #7178 closed

[2021-04-21 22:58] lmcclung opened #7279 "UI Design: NameX NR Staff Look Up enhancement"
## Design ticket
This pertains to dev ticket 6609 https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/6609

## Story
* As a names examiner
* I want an improved search feature
* So that I can easily find all the NRs I need to after NRO is decommissioned

**To Do List:**
- [ ] Add Column Hide/Show Dropdown (Columns would hide/show on the fly)
- [ ] Cookie Column Sho

[2021-04-21 23:04] Sienna-Blumstengel commented on #5180
Looks like they are duplicates @severinbeauvais !
@lmcclung should we keep the one we groomed most recently? (5024) and close this one

[2021-04-21 23:07] janisrogers commented on #7179
@Kaineatthelab Sure. We may want to note in this ticket that Issue 7156 is for creation of the new fee code for staff search:
SSRCH - PPR Staff Search for Client - $10.00. Do you want me to put in the User story for Scenario 1 being staff search for clients. Then we can add the other scenarios as they come up?

[2021-04-21 23:08] rkim13103 opened #7280 "UI Design-Blocking users from creating multiple accounts"
UI Design needed to avoid users creating multiple accounts

Given I land on the registry page and I have a services card account
When I try to create another registries account
Then I am told that I already have a registry account and do I want another

Design Link:
https://preview.uxpin.com/5907390d5b7d37316895d6da814b9ec9f36efd1f#/pages/138357602

[2021-04-21 23:09] Kaineatthelab commented on #7179
yes sounds good

[2021-04-21 23:15] mstanton1 opened #7281 "Provide summary of access changes for Corporations / Hub, Update staff access"
#### Description
Provide summary of access changes for Corporations / Hub, Update staff access.

Through ops tickets it has been identified that passcode reset functionality which is intended for use by Corporations and Hub teams, is associated to a keycloak group "admin" which they do not currently have. Similarly, ability to view team invitations, reset authenticator, trigger invitations on a cl

[2021-04-21 23:26] Milan-Freshworks commented on #6591
It has been tested and verified.

[2021-04-21 23:27] mstanton1 commented on #6986
As per follow up from Garry Mierzuak this is no longer required. He has identified:

I have reviewed the Hotjar security information.  Hotjar has taken reasonable measures to protection the Hotjar infrastructure/application and client data.

Based on the best information available at this time, I have no concerns with BC Registries using Hotjar as long as:

• Identity and access management best pr

[2021-04-21 23:42] Kaineatthelab opened #7282 "UI Design - Third Party Account Access"
Design new ways for multiple Registries accounts to manage aspects of a business and the switching of business management between accounts.

Current concepts:

- Request Access
- Invite
- Director / Owner default access
- Password
- Staff

## Flow
https://overflow.io/s/47ISV32U

[2021-04-22 14:36] rarmitag opened #7283 "EDB - Installation and Migration(redundancy in Database)"
### Description:
A version of the high availability EDB database is now available for installation.

- [ ] Configure cluster parameters for installation of EDB
- [ ] Use installed operator to install EDB clusterin openshift namespace
- [ ] Ensure failover functioning properly ( especially  node drop )
- [ ] Migrate dev data to EDB
- [ ] Test Performance to ensure sufficient capacity

[2021-04-22 14:51] rarmitag opened #7284 "EDB - Backup and Recovery"
### EDB Backup and Recovery plan needs to be addressed.

- [ ] Install backup software and configure to create backups
- [ ] Select a permanent storage solution
- [ ]  Test backups can be recovered

- [ ] Formulate a recovery plan for several scenarios
1. Short term recovery
2. Pod failure recovery
3. Disaster Recovery

[2021-04-22 15:09] #7065 closed

[2021-04-22 15:09] #6546 closed

[2021-04-22 15:10] #6955 closed

[2021-04-22 15:10] #4575 closed

[2021-04-22 15:10] #6618 closed

[2021-04-22 15:28] sumesh-aot commented on #7275
[code]

It's PAID in pay db. Should I do anything to move the status in namex ?

[2021-04-22 15:31] mstanton1 commented on #6919
Based upon feedback from Victoria we will require a separate document. 7236 has been updated for the work to add in a new agreement. The draft Ministry Use Agreement has been sent to Victoria to review. She will use that as a starting point or create something new.

[2021-04-22 15:34] Kaineatthelab commented on #7275
It is still in payment incomplete in Name Request @sumesh-aot

@kialj876 and @thorwolpert created something or know how to make it into the draft state in name request

![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/2f837275-0c2e-4dd1-8be2-13ce61dee25c)

[2021-04-22 15:34] KevinB-gbc commented on #7259
Recommended site for VIN decode service is vPIC by the US Department of Transportation, National Highway Traffic Safety Administration (NHTSA).  See [vpic.nhtsa.dot.gov/decoder/](vpic.nhtsa.dot.gov/decoder/) for sample decoding service. See [vpic.nhtsa.dot.gov/api/](vpic.nhtsa.dot.gov/api/) for API.

If interested in aircraft validation, one rule we may consider applying is that aircraft registere

[2021-04-22 15:34] sumesh-aot commented on #7275
[code]

There are 2 payment records in namex DB and one is not CANCELLED. Updated the CREATED record to CANCELLED, and name request should show correct status

[2021-04-22 15:35] sumesh-aot commented on #7275
![Screen Shot 2021-04-22 at 8.35.04 AM.png](https://images.zenhubusercontent.com/5c76da7fd74bd07972c3fc03/b2859c5b-9358-49a3-a114-6986925b1b9e)

[2021-04-22 15:44] Sienna-Blumstengel opened #7285 "NR Refunds - April 23 - 29"
1. - [ ] NR 7030412 (Refund priority fee of 101.50 only. INC0086978)
2. - [ ] NR7677001 - Please provide a refund of $131.50 INC0087352
3. - [ ] NR 9124234 and NR 8642245 - refund for both rejected NRs INC0087289
4. - [ ] NR 9186424 (INC0087766)
5. - [ ] NR 8128046 (INC0087856)
6. - [ ] NR 8657760 (INC0087917)
7. - [ ] NR 2473759 (INC0087985)
8. - [ ] NR 6866380 (no incident number)
9. - [ ] NR 37

[2021-04-22 15:49] severinbeauvais commented on #7245
@tlebedovich I noticed this and fixed it but please have a look and confirm that it's OK. Thanks!

[2021-04-22 16:02] jordiwes commented on #6923
See business https://dev.bcregistry.ca/business/BC1218829 for a business not in good standing :)

[2021-04-22 16:05] rkim13103 commented on #7165
@tlebedovich  ready for review !

[2021-04-22 16:16] tlebedovich commented on #6378
@severinbeauvais @cameron-freshworks Not sure who is continuing with this ticket but the AA/design updates look good. I think all that is remaining is to verify the field-level validations (empty check boxes above)

[2021-04-22 16:20] tlebedovich commented on #7165
thanks @rkim13103 is there a link to the page(s) to review? and has Scott seen this yet in terms of reviewing the UX flow?

[2021-04-22 16:29] severinbeauvais commented on #5693
@cameron-freshworks Could you please update the description, or re-post it as a comment as "updated requirements" (or "testing notes") to capture what is actually being implemented? Is there a modal or not? Does it apply to correction also? Etc. It's hard to tell from all the chatter and there are a lot of checkboxes left unchecked for a ticket in review.

[2021-04-22 16:30] severinbeauvais commented on #5024
FYI, I noticed that the implementation of the Folio Number component is incomplete:
- it is hard-coded to never enter editing mode
- it has no Change (edit) button anyway
- even if you could edit the folio number, nothing is done with it (it is not saved)
- the component does not manage its "have changes" state
- the component does not manage its validity (for validation purposes)

Hence it will t

[2021-04-22 16:41] Sienna-Blumstengel commented on #6597
Can't access dashboard 🤔  404
![Screen Shot 2021-04-22 at 9.40.36 AM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/ed31d4d4-63de-4f4b-a138-3c1c4f05d583)
@rarmitag

[2021-04-22 16:42] cameron-freshworks commented on #6378
@tlebedovich
Perfect! Yea, i pulled this ticket back and updated the UX changes yesterday.

I'm going to pull back #6378 and update the field level validations next :)
So i'll move this ticket on!

[2021-04-22 16:49] cameron-freshworks commented on #5693
Absolutely, will update and clarify!

[2021-04-22 16:51] lmcclung commented on #6999
@Sienna-Blumstengel

Can you reach out to the client:
jamieolafson83@outlook.com
2506412627

[2021-04-22 17:00] forgeuxGH5 opened #7286 "UI DESIGN - Business Default Folio + "Transactional" Folio number (Alterations)"
Allow users to enter a folio number on a per filing basis

Display the default folio number but allow the user to enter a different folio number. The transactional/one-time folio number does not over-write the default folio number.

The folio number in the "Folio or Reference Number for the Filing " field at the time of File and Pay is displayed on the receipt/transaction record for the filing.

#

[2021-04-22 17:01] jdyck-fw commented on #7037
Closing this ticket with 0 points on it as suggested by Linda.

[2021-04-22 17:03] forgeuxGH5 commented on #5024
Added design ticket - needs grooming

[2021-04-22 17:06] rkim13103 commented on #7165
@tlebedovich  Oh yeah sorry here is the link!
(image in Figma)
https://www.figma.com/design/BRLFiH8ApQRkrQtfGcRUdn/Relationships?node-id=26474-1107

The main change was the order of account creation: bringing selecting products and services to step 1. I think the flow was confirmed but Scott could review the flow as well. Do you mind tagging Scott?

[2021-04-22 17:06] #6522 closed

[2021-04-22 17:07] #5410 closed

[2021-04-22 17:14] mstanton1 commented on #7115
Comments have been addressed. Ian A has been advised.

[2021-04-22 17:14] #7115 closed

[2021-04-22 17:31] amit4610 commented on #7243
It is also erasing the old notifications in pending approvals tab, which might be genuine. The pending approvals tab is showing notifications from Apr 20-22 but not the earlier ones. @Milan-Freshworks @mengdong19

![image](https://user-images.githubusercontent.com/59706888/115760137-da015480-a355-11eb-8d69-a2bf2c0d28e1.png)

[2021-04-22 17:31] tlebedovich commented on #7165
@forgeuxGH5 - Roy's updated account creation flow is ready for your review above (and I will take a pass for AA)

[2021-04-22 17:32] amit4610 commented on #7243
This is the only page (in above snapshot) in pending approvals tab. No more pages to check earlier affidavits.

[2021-04-22 17:41] Kaineatthelab opened #7287 "Add BCOL users to read only for NameX"
Tyler Finnie -                      tyler.finnie@gov.bc.ca
                Tammy Kivell -                   tammy.kivell@gov.bc.ca
                Susan Dziadyk -                  susan.dziadyk@gov.bc.ca
                Joanna Barnes -                 Joanna.barnes@gov.bc.ca
                Dennis Ralph -                   dennis.ralph@gov.bc.ca
                Isaac Abdella -                   is

[2021-04-22 17:52] mengdong19 commented on #7243
It only show first 10 (ordered by date descending) without paginator. You'll see all after patch released to prod.

[2021-04-22 17:56] rarmitag commented on #6450
So because this company has no "last_ar_date" on record and has a founding date prior to 2019, the UI now displays all the years that are missing an AR. There are 2 companies that meet this criteria BC0903151 and BC1036102.
I think that I could possibly enter the last_ar_date for these two if you provide them to me.

[2021-04-22 18:03] mstanton1 opened #7288 "Keycloak group mapping for staff support"
#### Description
Discussion and decision is needed on which keycloak group should have access to the invitations tab on the staff dashboard.

This tab currently shows director search invitations and allows anyone with access the ability to resend or delete an invitation. There is discussion about using this tab to have ministry account invitations as well.

#### Tasks
- [ ] When ticket has been cr

[2021-04-22 18:07] lmcclung commented on #6450
@rarmitag last_ar_dates are:

BC0903151 - 2020-02-16 00:00:00
BC1036102 - 2020-05-11 00:00:00

[2021-04-22 18:12] cameron-freshworks commented on #7145
Updated requirements for field level validation prompts for Certify and Staff Payment.
Updates required to Future effective date are contained in ticket #6724.

[2021-04-22 18:20] lmcclung opened #7289 "Alteration BEN to LTD Limited Company - BC1291871 - SPOTLESS CAR WASH INN LTD."
## TICKET TEMPLATE
### Home team Info
**Service Now Number:** INC0087177
**Staff email:** mailto:Lance.Hall@gov.bc.ca

#### What is being altered
- [ ] Business type

### Data from staff
**Affiliation info (Account Name or BCOL account Number):** already a Benefit company so no affiliate required.
**Company email (mandatory):** HARKIRAT294@GMAIL.COM
**Company phone (optional):** 587-597-4071
**Fil

[2021-04-22 18:21] mengdong19 commented on #7243
Patch released. Staff should see all pending approval accounts now.

[2021-04-22 18:22] rarmitag commented on #6450
That appears to have fixed it.
Please double check.

[2021-04-22 18:23] Milan-Freshworks commented on #7243
It has been tested and verified

[2021-04-22 18:25] tlebedovich commented on #6980
@Sienna-Blumstengel @forgeuxGH5 - I'm not sure what is required here regarding the Scenario #2 and if the Folio number needs to appear anywhere else for MVP. Does Folio need to be added to the premium user Advanced NR look up? Does Folio need to show up in Name X?

P2 places Folio number could be added to include:
1. NR Summary Screen
2. NR Outputs

Please advise on the scope of this ticket. I wil

[2021-04-22 18:26] lmcclung commented on #6450
Looks great.  Closing ticket.
@rarmitag is estimate still right?  I'll give you till the end of day to change it, if necessary.

[2021-04-22 18:45] mstanton1 opened #7290 "OCM / Access Change for Passcode Reset Issue"
#### Description
Passcode reset is currently not working for Corporations staff. They can see the button to 'remove' but clicking it no action occurs. In order to enable this we need to provide them (and Hub staff) with the keycloak group "admin". This will have other impacts to the account access so information must be shared to the teams.

- [ ] Create and have team leads review and email outlin

[2021-04-22 18:47] andrepestana-aot commented on #6949
@tlebedovich @forgeuxGH5 What text should we display if we fail to get the fees from payment-api? I know it's a rare scenario but we need to be ready for this and display something in that case.

[2021-04-22 19:11] mstanton1 commented on #7290
1. Created and sent to team leads, Cam and Trish for review.

[2021-04-22 19:33] tlebedovich commented on #6949
@andrepestana-aot - Are you talking about the blue header bar amount of $100/$200? If there was an issue fetching the amount from paybc, wouldn't the Fee Summary also be missing it's data if this were the case, and then the user wouldn't be able to continue? If yes do we have an error handling already for a paybc failure in the Fee Summary scenerio?

ps I wonder if for the blue header bar price, i

[2021-04-22 19:43] riyazuddinsyed opened #7291 "Unable to download NOA and Change of Name Certificate."
**Describe the bug in the current situation**
When a user starts and completes the Alteration filing then on the downloads section when the user clicks on the Notice Of Alteration and the Certificate Of Name Change error dialog shows up saying Unable to download the report

**Impact of this bug**
All users filing the Alteration

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/

[2021-04-22 19:54] rarmitag commented on #6597
Currently there are 3 companies in the database that are not affiliated.
BC0831815, BC1267685 and BC1272634.
None of these companies can access the database because an auth-api error is thrown when they try to access it.
Unfortunately, in it's current state, it appears that the companies need to be affiliated before they can use the UI

[2021-04-22 19:57] severinbeauvais commented on #6949
Yes, this is the amount in the blue header bar (and also text above it).

Yes, the Fee Summary would also be missing data, but we don't validate that before continuing, so possibly the user could file anyway. Possibly the Lear API would return an error creating the invoice. That's a lot of "possibles"... please ask PO if we should investigate/verify this.

Yes, we should make calls to Pay API to f

[2021-04-22 20:02] tlebedovich commented on #7286
lets talk this one through. Here are the existing Folio number comps - https://github.com/bcgov/entity/issues/5024

[2021-04-22 20:02] riyazuddinsyed opened #7292 "All resolution dates does not show up in the Alteration Notice Outputs."
**Describe the bug in the current situation**
When an Alteration filing has 2 or more resolution dates then the  Alteration Notice only shows one resolution date.

**Impact of this bug**
All users filing the Alteration Filing

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/business/BC0879787'
2. Complete an Alteration Filing with 2 or more Resolution dates or a filing that h

[2021-04-22 20:05] forgeuxGH5 commented on #7286
sure - the transactional folio would be a new field for premium users - it would work like the staff filing folio entry i'm thinking at the bottom of the review page just above the certify component

[2021-04-22 20:06] lmcclung opened #7293 "NRO Decommissioning"
work required to move BCOL and staff users from NRO to Name REquest

moved post-go live tickets to 8184

[2021-04-22 20:07] andrepestana-aot commented on #6949
@tlebedovich In SbcFeeSummary there is an alert block that display the error and hides the part that should show the values.

For the reference:
https://github.com/bcgov/sbc-common-components/blob/master/vue/sbc-common-components/src/components/SbcFeeSummary.vue#L7

[2021-04-22 20:09] tlebedovich commented on #6949
is there a visual for this error @andrepestana-aot so I can see what it looks like?

[2021-04-22 20:10] #6591 closed

[2021-04-22 20:10] #7243 closed

[2021-04-22 20:18] riyazuddinsyed opened #7294 "Date Format of the Resolution Date is different in Notice Of Articles and Alteration Notice."
**Describe the bug in the current situation**
When an Alteration Notice is filed with a Resolution date then the NOtice Of Artice and the Alteration Notice show the Resolution Date in a different format.

**Impact of this bug**
All users filing the alteration Filing

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/business/BC0879787'
2. File an Alteration filing with a resolu

[2021-04-22 20:23] riyazuddinsyed opened #7295 "Annual Report output shows the heading in the html format."
**Describe the bug in current situation**
When the user files the Annual Report for the BC Benefit company then the pdf output shows the heading the vague HTML format

**Impact of this bug**
All users filing the Annual Report

Steps to reproduce the behavior:
1. Go to 'https://test.bcregistry.ca/business/BC0879787'
2. File an AR
3. Download the output
4. See an error

**Screenshots/ Visual Referen

[2021-04-22 20:33] riyazuddinsyed opened #7296 "Able to file many Incorporation Applications by affiliating a single Name Request."
**Describe the bug in the current situation**

When a user Affiliates the NR, then the user is able to file more than one Incorporation Application thereby getting multiple BC Benefit Companies

**Impact of this bug**
All users affiliating the NR

Steps to reproduce the behavior:
1. Go to 'https://dev.bcregistry.ca/business/auth/account/2079/business'
2. Click on  'Mint corps'
3. Start an IA. Get

[2021-04-22 20:36] Sienna-Blumstengel commented on #6719
@trishreimer @rkim13103 are one of you working on this right now?

[2021-04-22 20:37] mstanton1 commented on #7143
This will be resolved through 7920. "Admin" group will be added to Corporations unit and HUB staff.

Julie and Amber have been given access in PROD first to allow time for preparing communications to the teams and making changes to their access.

[2021-04-22 20:37] lmcclung commented on #6801
@pwei1018 Can you get this done this sprint?  If not, what would the ETA?

[2021-04-22 20:38] mstanton1 commented on #7197
This will be resolved through 7920. "Admin" group will be added to Corporations unit and HUB staff.

Julie and Amber have been given access in PROD first to allow time for preparing communications to the teams and making changes to their access.

[2021-04-22 20:38] #7197 closed

[2021-04-22 20:42] Sienna-Blumstengel commented on #6846
@rkim13103 @forgeuxGH5 any updates on this? Do you all have a follow up meeting scheduled?
CC @janisrogers

[2021-04-22 20:46] Sienna-Blumstengel commented on #6939
@janisrogers says it can be pushed by 1 sprint in order to get complete requirements from Scott for Names
@forgeuxGH5 please keep us updated on your progress

[2021-04-22 20:48] lmcclung commented on #7296
Two issues:

1) Temporary ID for IA isn't going away in MB dashboard after incorporation
2) NR not being consumed

[2021-04-22 20:49] Sienna-Blumstengel commented on #7156
team has not scheduled development of staff search yet, so not urgent, but just to put it on relationships' radar @mstanton1

[2021-04-22 20:50] jdyck-fw commented on #7296
This could potentially result in further work around consuming the NR.

[2021-04-22 20:58] rkim13103 opened #7297 "UI Design-Recovery user flow for rejected requests from Products and Services & Affidavit"
**Design a recovery user flow for rejected request from Products and Services.**
(Wills Registries, PPR, etc)
-When staff rejects a user, "rejected" will appear in account settings
-User will get an email from staff of the reason of rejection
-User could re-request when they solve the issue that caused the rejection
-The request access will be placed in staff dashboard again

**Design a user flow

[2021-04-22 20:58] rkim13103 opened #7298 "UI Design-Recovery user flow for rejected requests from Products and Services & Affidavit"
**Design a recovery user flow for rejected request from Products and Services.**
(Wills Registries, PPR, etc)
-When staff rejects a user, "rejected" will appear in account settings
-User will get an email from staff of the reason of rejection
-User could re-request when they solve the issue that caused the rejection
-The request access will be placed in staff dashboard again

**Design a user flow

[2021-04-22 21:00] pwei1018 commented on #6801
I added VUE_APP_STATUS_ROOT_API in the configmap (1password) for all three business uis. The issue should be fix now. The duplicate keys issue is on my task list. I might start working on it in next or two sprints.

[2021-04-22 21:02] jdyck-fw commented on #7292
@lmcclung - To review on whether or not this is correct behaviour.

[2021-04-22 21:02] tlebedovich commented on #6949
@andrepestana-aot - This ticket is getting a lot bigger than what was originally thought, so I think I will leave the Fee Summary Component error handling issue alone for now (as it would be something relationships would most likely want a hand in, plus it would most likely need a new design and dev ticket). So to finish off our ticket, here's what we'd like to happen for our instances of the pric

[2021-04-22 21:02] lmcclung commented on #7291
@vysakh-menon-aot could you look at this one too?

[2021-04-22 21:03] mstanton1 commented on #7172
Analysis completed and included in first comment above. Flow to be addressed in 7298.

[2021-04-22 21:03] #7172 closed

[2021-04-22 21:04] jdyck-fw commented on #7294
Let's change the notice alteration date format. As suggested by Linda.

[2021-04-22 21:06] mstanton1 commented on #7131
Plain English Law Limited has not yet been set up. No feedback has been received from the client.

No further action required at this time.

[2021-04-22 21:07] #7294 closed

[2021-04-22 21:07] jdyck-fw commented on #7294
Duplicate of 5425

[2021-04-22 21:08] lmcclung commented on #5425
See 7294 -
Resolution dates different in Alteration Notice and Notice of alterations.
April 1, 2021 or 2021-04-01.  I think April 1, 2021 is more friendly.

@tlebedovich

[2021-04-22 21:12] severinbeauvais commented on #6949
Sounds good to me. Thanks, Tracey.

[2021-04-22 21:14] severinbeauvais commented on #6801
It's likely the UIs will need to read in this new key and store it in session storage.

[2021-04-22 21:14] tlebedovich commented on #5024
@Sienna-Blumstengel is this DEV ticket for both the editable Folio component that appears on the company info page AND the new transactional Folio that appears on the Review and Certify page?

There are a lot of Folio tickets floating around. Design is still needed for the Transactional one. And I'm working on updating the Folio component on the Company Info page when there is a "None" state.

Ple

[2021-04-22 21:16] severinbeauvais commented on #5024
Yes both.

I can probably handle the None state in this ticket if there's nothing more to it.

[2021-04-22 21:20] andrepestana-aot commented on #6949
Yeah, nice resolution as they're not essential and will hardly happen.

[2021-04-22 21:21] tlebedovich commented on #5024
Sounds good. Will ping once this is ready.

[2021-04-22 21:39] #7143 closed

[2021-04-22 21:41] lmcclung commented on #6801
@pwei1018 thank you!

@severinbeauvais does that mean this is just a verify then?  Or does Entities still need to do something before alteration release?

[2021-04-22 21:45] severinbeauvais commented on #6801
My concern about duplicate configuration had been resolved by Patrick's recent changes. (Thanks!)

But, yes, some of our UIs need to be updated to load and store the necessary keys.

I don't think this is required for alterations specifically. It's config needed for the SBC Header to show things like PayBC status, or possibly banners.

[2021-04-22 21:48] severinbeauvais commented on #6801
While we're here, are there any other keys that SBC Header, Keycloak, etc needs that our UIs don't already load?

[2021-04-22 21:52] lmcclung opened #7299 "Onboarding Eve Deng"
**Onboarding checklist for new team members**

**IDIR**
- [ ] ~Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.~
- [ ] ~Submit to IT Operations Support. This form should be emailed to the Registries Executive Assistant. Currently this role is held by Michael Leung.~  Already has IDIR EDENG

--

[2021-04-22 21:59] mstanton1 commented on #6136
@lmcclung the lowest effort solution for relationships would be:

If the refund request option is selected prior to 7:00 PM on the day of the transaction we avoid sending that transaction for reconciliation so the clients bank account is not charged.

If the refund request option is selected after 7:00 PM on the day of the transaction we credit the account.

Does this work? If there are concerns w

[2021-04-22 22:01] amit4610 opened #7300 "client account setup"
Title of ticket: INC0087243 created for this.

This client BC Online account Number is 324507
ACCU-SEARCH INC.
 215 EDMONTON CITY CENTRE EAST
 10205 101ST STREET
 EDMONTON, AB T5J 2Y9
     PH: (780)424-2340   FX: (780)421-1280

Was In the process of setting up his account at https://www.bcregistry.ca/business/auth/home/decide-business
and was at the point were he entered his banking info but made

[2021-04-22 22:04] forgeuxGH5 commented on #6846
Needs design tickets - I can create - and the tickets need to be linked here. This ticket may need to be broken up because there will be several design tickets.

[2021-04-22 22:05] amit4610 commented on #7300
asked for email from david

[2021-04-22 22:12] forgeuxGH5 opened #7301 "UI DESIGN - Existing user can switch between Registries products/services"
Allow users to easily switch between their Registries products and services

[2021-04-22 22:12] forgeuxGH5 opened #7302 "UI DESIGN - Existing user can switch between Registries products/services"
Allow users to easily switch between their Registries products and services

[2021-04-22 22:24] #6875 closed

[2021-04-22 22:30] amit4610 commented on #7300
emailed the client

[2021-04-22 22:36] Kaineatthelab commented on #6846
I beleive @rkim13103 already has some design tickets going for this?

[2021-04-22 23:13] tlebedovich commented on #5425
I agree @lmcclung, unless there are places where spacing is an issue (like in tables), then we could do Apr 1, 2021 instead of April 1, 2021

[2021-04-22 23:32] forgeuxGH5 opened #7303 "Add "Learn more" buttons/links and CMS panel to the BC Registries and Online Services Home page"
Add "Learn more" buttons/links to each application box and add a CMS panel to the BC Registries and Online Services Home page
Suzanne Dane to provide links for "Learn more" buttons and content and image for a CMS panel

[2021-04-22 23:36] riyazuddinsyed opened #7304 "Unable to pay for an NR using BCOL or PAD.(All users redirecting to pay through cc Card)"
### Bug in NameRequest UI:

**Case 1:**
When a user Logs in with a BCSC user who has a Premium Account or PAD account.
Then if he navigates through the Name Request app after logged in.
Then the NameRequest app doesn't have a valid login with the same User thereby compelling the users to pay through a CC card.

- [x] Able to login with BCOL account and create NR (should skip PayBC and go to existi

[2021-04-22 23:42] sumesh-aot commented on #7304
Name request app needs similar piece of code in main.ts to auto-authenticate the user if a session exists.

they need similar piece of code on their main.ts file on app init.
[code]

[2021-04-22 23:44] forgeuxGH5 commented on #6939
I think @rkim13103 will be leading this but it looks like it needs a design ticket linked and I'll work with Roy on what the PPR info will look like.

[2021-04-22 23:49] forgeuxGH5 commented on #6846
Yep - he has them above - I just added the product/service access/switching design ticket link

[2021-04-23 00:03] rkim13103 commented on #6846
Design tickets:
Ticket 7165 would cover Scenario 1 (under design review)
Ticket 6875 would cover Scenario 2  (closed)

[2021-04-23 03:59] mstanton1 commented on #7205
I have created the following Key Messaging document on SP: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3945

@trishreimer can you please provide the key messaging from the briefing note for me to add in to this? Once integrated I'd appreciate feedback. Perhaps we can work with the business to ensure the questions they are receiving a

[2021-04-23 04:01] mstanton1 commented on #7206
I have started making changes to the account set up job aide: https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3889

The job aide stored in the Authentication and Logging in folder does not match what is currently posted on the Modernization site. Pending confirmation of which job aide is most current.

[2021-04-23 14:20] Kaineatthelab commented on #7165
I think there was something around the business registry and name request. Scott wasn't sure but I think we could just make it if you get business registry name request comes with it? The problem was that name request can be used not logged in so it seemed odd that you need to select it.

ie: Business Registry- includes Name Request

@forgeuxGH5 thoughts?

[2021-04-23 14:26] Kaineatthelab opened #7306 "UI Design - Add Proper Business Name and Personal Name (remove account name?)"

[2021-04-23 14:34] Kaineatthelab opened #7307 "UI Design - Secured Party for PPR"

[2021-04-23 15:21] Kaineatthelab opened #7308 "SOLR Search"
SOLR isn't returning proper results for some synonyms, results for this words that were reported are intermittent.

Vet synonym isn't working
Nickel synonym isn't working, it periodically brings back silver
Guide (I think because is in multiple lists
![image.png](https://images.zenhubusercontent.com/5a7899714b5806bc2bc5a0ce/bacb79e1-76a0-49fa-842d-fd54938a5952)
![image.png](https://images.zenhubus

[2021-04-23 15:21] rarmitag commented on #7278
If I alter this at this time, they will no longer be able to use the dashboard.
See ticket #6597

[2021-04-23 15:59] mstanton1 commented on #7251
IDIR request complete:

IDIR: SBOGGARA
Expiry date: March 31 2022
Email address: Sateesh.Boggarapu@gov.bc.ca

[2021-04-23 16:15] rkim13103 commented on #7165
I showed the design to our devs which included Business Registries & Name request as one product, but they brought up some back end issues. So our plan was to have it separate for now but I'll still bring this up to our devs.
Will it be ok if we separate it for now?

[2021-04-23 16:19] andrepestana-aot commented on #7101
@riyazuddinsyed  To test the 2nd scenario you can try a DELETE req in DEV to https://legal-api-dev.apps.silver.devops.gov.bc.ca/api/v1/businesses/BC1230085/filings/111585

[2021-04-23 16:28] doug-lovett commented on #7148
Change verified in dev with latest deployment.

4/23/2021 status meeting for now auth-api call is required to get the business name from the account ID. Decision not to make an auth-api call just for this report requirement as the account business name may soon be available in the user token or common header.

[2021-04-23 17:00] rarmitag commented on #6597
Affiliation to account name: "Segan" done. Dashboard working for me. Please verify.

[2021-04-23 17:39] rarmitag commented on #7278
Alteration to Company completed. Verified in dashboard.

[2021-04-23 17:41] andrepestana-aot commented on #6949
@tlebedovich For your checking:

![image.png](https://images.zenhubusercontent.com/601c6b4f5322cf5c519d503f/105eed90-df9f-45a9-bceb-37cbc4e1490d)
![image.png](https://images.zenhubusercontent.com/601c6b4f5322cf5c519d503f/23aa2cec-ffae-44e2-b6f1-b649a6b70b62)

[2021-04-23 17:46] saravanpa-aot commented on #7155
The scope of the product 'Business Registry' is discussed with @jyoti3286 . We don't have a mechanism for blocking a user from manage business/entities dash board etc if a user hasn't selected Business Registry product. That will require a new story to be created and worked up.
But for now , to maintain consistency , we will go on with showing the business registry product.And observe the users be

[2021-04-23 17:49] tlebedovich commented on #6949
@andrepestana-aot - looks great!

[2021-04-23 18:00] tlebedovich commented on #5693
@cameron-freshworks Alterations looks great thanks. Do you happen to have a business number I could use to see the staff correction version in DEV to check the other?

[2021-04-23 18:01] Sienna-Blumstengel opened #7309 "URGENT: Consumed NR's are showing as a conflict instead of the entity"
#### ServiceNow incident:
INC0087373
#### Contact information
Staff Name: Jenn Weldon

#### Description

 ### DEV TO DO:
- [x] Investigate why the **NR number** is showing as the conflict in NameX, when the entity's **corporation number** should show as the conflict.
- [x] Resolve issue, so examiners can resume examining

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat

[2021-04-23 18:06] Sienna-Blumstengel opened #7310 "BCOL payment set up but keeps redirecting to credit card"
#### ServiceNow incident:
N/A
#### Contact information
Staff Name: Debbie Blyth, Kaine

#### Description

**Email from client:**

**Email from Kaine**

**Email from client:**

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Ass

[2021-04-23 18:07] sumesh-aot opened #7311 "Create custom theme for 2FA page in keycloak"
#### Description
Create custom theme for 2FA page in keycloak and raise a PR to ocp-sso repository. Changes to be provided by @mstanton1 .

SSO conversation : https://chat.developer.gov.bc.ca/channel/sso?msg=3YFd5j63PNKcX2w2f
Existing themes in sso : https://github.com/bcgov/ocp-sso/tree/master/extensions/themes

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operat

[2021-04-23 18:23] mstanton1 commented on #7206
@trishreimer @amit4610 @jyoti3286 please review changes to provide information for desktop plug in. Please note, this may not be the most current copy of the job aide so I may need to copy these changes into a different version.

[2021-04-23 18:40] Sienna-Blumstengel opened #7312 "Upgrade to Priority NR issue - NR 9835973"
#### ServiceNow incident:

#### Contact information
Staff Name: Jenn Weldon

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Assign zenhub ticket to milestone: current, and place in pipeline: sprint backlog
-

[2021-04-23 18:41] lmcclung commented on #7003
@tlebedovich
PO decision for advanced search requirements in Name Request -
Staff don’t need to use name request except for submitting new NRs, so no need to tailor advanced search feature to them.
Keep date range functionality as per current design (no need to do combo of search criteria as BCOL users rarely use this feature - unless it is only a couple hours work).
Display all relevant search re

[2021-04-23 18:46] Sienna-Blumstengel opened #7313 "Voluntary Dissolution of Benefit Company - 1300911 BC LTD."
#### ServiceNow incident:
INC0087423
#### Contact information
Staff Name: Alysha Stone

#### Description

[PAYMENT INFO](https://app.zenhub.com/files/157936592/3aaff6ed-cb75-451c-bc72-b908e34503f6/download)
[FORM with Cover letter](https://app.zenhub.com/files/157936592/ff1767f5-d7cf-4f1c-9f8d-bd202456d9c8/download)

Incorporation Number: BC1300911
Name of the company to be Dissolved: 1300911 B.C.

[2021-04-23 18:50] jyoti3286 opened #7314 "BCeID/2FA Changes to Registry App for desktop plugin"
As a public user
I want to be notified of all the different options for 2FA including mobile and desktop plugins
so that I can choose the device which I am comfortable with

There are two areas where the changes can be made from a technical standpoint:
- Our Account creation page for the user when they select the "BCeID flow"
- SSO page where the user is navigated for 2FA

This ticket covers the c

[2021-04-23 18:58] jyoti3286 commented on #7314
SSO page update changes are being tracked as part of https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7311

[2021-04-23 19:01] lmcclung opened #7315 "UI changes"

[2021-04-23 19:01] lmcclung opened #7316 "Fetch Results"

[2021-04-23 19:02] lmcclung opened #7317 "FE Validation"

[2021-04-23 19:03] Sienna-Blumstengel commented on #6980
Hi @tlebedovich I guess i just meant the usual functionality of Folio should work, i.e., clients should be able to use the folio to organize their transactions. I don't know what that looks like on the transaction page, but i wanted to include a scenario there for Riyaz's testing purposes. Perhaps @amit4610 or @mstanton1 could help me define it?

[2021-04-23 19:08] forgeuxGH5 commented on #6923
Hey @jordiwes what's the account info to access the business? BCREG...

[2021-04-23 19:09] amit4610 commented on #7206
For step # 3 "When you reach the authentication screen of account set up open your authentication plug in and scan the QR code." They cannot scan the QR code as this is not a mobile app. They need to click on "unable to scan" from the oidc page, copy the key/code provided and enter it into the desktop authenticator. Then the authenticator will generate the code which they will need to enter in the

[2021-04-23 19:10] trishreimer commented on #7206
This particular job aide was originally written for staff.
We need a client version that explains how to  download and use the plug in only.

[2021-04-23 19:15] Sienna-Blumstengel commented on #6450
I will reply to kat and have the incident closed!

[2021-04-23 19:34] trishreimer commented on #7314
Looks good. Thanks for the quick turnaround! @jyoti3286
If we wanted to shorten the text further, we could say:

Use a 2-factor mobile authentication app or desktop plugin, such as:
Mobile options: Google or Microsoft Authenticator <can we add links here too?>
Desktop: GAuth <link>

[2021-04-23 19:40] pwei1018 commented on #7309
Reload the solr conflict core. The issue should be fixed.

![image.png](https://images.zenhubusercontent.com/5bf5f0484b5806bc2bf6f0cb/99d17c17-002c-45c4-92cc-e6756b32d7d2)

[2021-04-23 20:17] riyazuddinsyed opened #7318 "Verify: Fee module showing no fees in staff payment."
**Describe the bug in the current situation**
When a staff tries to make an alteration filing with some changes the fee module shows no fee and even clicking on the Priority fee the $100 doesn't show up in the fee module

**Impact of this bug**
All staff trying to file the alteration.

Steps to reproduce the behavior:
1. Go to 'http://business-create-test.apps.silver.devops.gov.bc.ca/businesses/ed

[2021-04-23 20:21] #6378 closed

[2021-04-23 20:34] karthik-aot commented on #6895
@jyoti3286  @mstanton1  Once the GovM account is created, should we send a review mail to staff, similar to the BCEID workflow?

[2021-04-23 21:05] pwei1018 commented on #7310
Related to this bug https://github.com/bcgov/entity/issues/7304

[2021-04-23 21:06] Sienna-Blumstengel commented on #7304
This bug is causing this ops ticket. WHen this bug is fixes, please comment in this ops ticket and tag me, so i can let the client know we have fixed it.

https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7310

[2021-04-23 21:10] #6928 closed

[2021-04-23 21:11] #6922 closed

[2021-04-23 21:11] #6450 closed

[2021-04-23 21:12] #6680 closed

[2021-04-23 21:18] Sienna-Blumstengel commented on #7291
Just reproduced this in prod.

[2021-04-23 21:29] amit4610 commented on #6895
Good catch @karthik-aot we didn't cover email notification to staff in scenario 1. @jyoti3286 Should staff get email notification that the prime contact has sent their completed application and is up for staff review?

[2021-04-23 21:32] lmcclung commented on #7313
@thorwolpert I updated the ticket description with the form fields and data so you don't have to search the form. @Sienna-Blumstengel

[2021-04-23 21:35] amit4610 opened #7319 "client stuck at otp app"
Hi,
 INC0087485
Joanna was working with this customer last week.
Melody emailed today because she had not heard from anyone and wants support.

I’ve been asking the customer questions, but now I’m stumped, and she is now very angry that she cannot get a QR code to appear after she logs on in order to create an account.

Did Joanna create a ticket that you know of?
If not, let me know and I will cr

[2021-04-23 21:43] amit4610 commented on #7319
emailed the client with steps.

[2021-04-23 21:45] jyoti3286 commented on #6895
Where does that email go to? BCRegisteries@gov.bc.ca? @amit4610

[2021-04-23 22:05] amit4610 commented on #7319
The client is trying to set up and account with the bceid and affidavit. The use an existing bceid to log in and don’t get the “scan the qr code” screen. They get the “enter OTP” screen instead. Looks like the “scan the qr code” screen is skipped with this client. Their bceid is “melyiu”

[2021-04-23 22:11] amit4610 commented on #6895
I don't seem to recall. Can we check the system @karthik-aot

[2021-04-23 22:13] mstanton1 commented on #7206
@trishreimer @jyoti3286 @amit4610 I have created as a separate document. It feels wordy and less visually appealing. Again, I'd appreciate your feedback.

https://citz.sp.gov.bc.ca/sites/SBC/REG/Projects/MVSM/_layouts/15/DocIdRedir.aspx?ID=S52QENDTEJAE-1724982671-3947

Amit - Thanks for the feedback above. Authenticator (desktop plug in for Chrome) allows scanning, but I tested Authy and it functi

[2021-04-23 22:15] amit4610 commented on #7300
emailed client yesterday, haven't heard back yet

[2021-04-23 22:15] amit4610 commented on #7319
issue resolved with the client.

[2021-04-23 22:15] #7319 closed

[2021-04-23 22:21] Sienna-Blumstengel opened #7320 "FW: Name Request Error"
#### ServiceNow incident:
INC0087496

#### Contact information
Staff Name: Elizabeth Espinosa

#### Description

**From Elizabeth:**

**From client:**

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Assign zenhub ticket to mil

[2021-04-23 22:28] Sienna-Blumstengel commented on #6597
We missed these pieces:

**name**
* SIGNATURESET GIFTCO LTD. ➡️   NR6388521

**share structure**
* Remove "A Shares" class and add new class called "Class A voting Shares", 1000 max, no par value, no special rights or restrictions. (see form).

The name is expired, waiting on approval from Debbie to extend the expiry so we can use it.

[2021-04-23 22:33] Sienna-Blumstengel opened #7321 "Improve NR error messages"
error page to provide some more info for the user to share, and push that to sentry as a comment.
Something like the NRL would us see what they were doing

This ticket stemmed from ops ticket: https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7320

![20210423_110838.jpg](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/a247275d-36fe-47ed-af97-c27327

[2021-04-23 22:40] lmcclung commented on #7320
Emailed staff to get more info...
Was she anonymous or logged in?  If logged in, what account?
What was the name she was reserving?
What day/time approximately?  (so we can look at some error logs).
What browser was she using?

[2021-04-23 22:43] mstanton1 commented on #6895
Notifications for pending affidavits go to bconline@gov.bc.ca.

Notifications for Ministry Accounts should be directed to the same.

[2021-04-23 22:50] Sienna-Blumstengel commented on #7321
Linda asked Kyle:

[2021-04-23 22:56] mstanton1 commented on #7251
@pwei1018 please provide Sateesh (IDIR SBOGGARA) with access to the Zenhub board.

[2021-04-23 23:11] karthik-aot commented on #6895
Thanks :)

[2021-04-23 23:26] mstanton1 commented on #7290
Communication reviewed by Trish and Debbie B. Pending review by Amber.

Goal is to implement Wednesday April 28th before noon.

[2021-04-23 23:26] doug-lovett commented on #7108
Change to skip confirmation when selection is all exact matches verified in DEV.

[2021-04-23 23:27] mstanton1 commented on #6580
@trishreimer @jyoti3286 is there any need to keep this open? This was tracking the UX work for review of options in the Business Registry. From the comments above it sounds as though this is being addressed in the new CMS site?

[2021-04-23 23:50] mstanton1 commented on #7144
Changes for Gen:

1) Under 'BC Business Registry', 'How do I access the Business Registry?'
     Remove the sentence "In the case of BC Registries, we use your name for digital signatures when you submit
     your filings" from the 3rd section of this answer.

2) Under 'BC Business Registry' add 'Can I use a desktop computer to login or do I need to use a mobile device?'
     A desktop or mobile d

[2021-04-24 00:09] lmcclung opened #7322 "Onboarding to Rocket chat and Zenhub for Louise Bergeron"
**Onboarding checklist for new team members**

Louise is a home team BA who is helping us test BN messaging, etc.  She needs access to Rocket Chat and zenhub to communicate effectively with the team.

**GitHub & ZenHub**
- [x] 1. First, the new user is to go to github.com to register their account
- [x] 2. Next, the new user is to verify that 2 factor authentication is enabled
- [x] 3. Once the ac

[2021-04-24 00:12] lmcclung commented on #7322
Linda emailed Louise with onboarding info.

[2021-04-24 00:19] lmcclung commented on #7292
@riyazuddinsyed This is acting as it should.  I checked outputs from the old application and they are the same - Alteration Notice only has the date that was added in the filing.  The Notice of Articles has the list of all dates.

closing this bug.

[2021-04-24 00:19] #7292 closed

[2021-04-24 00:25] andrepestana-aot commented on #7189
@lmcclung What should we display on the tooltip when we get an error from the request we do to check if the webchat is open/closed? it may happen when the webchat is down.

[2021-04-24 00:31] lmcclung commented on #7189
@andrepestana-aot - Lets go with "Webchat is temporarily unavailable."
@forgeuxGH5 FYI

[2021-04-24 04:17] mstanton1 commented on #7114
New FAQ above has been sent to Gen for publishing.

[2021-04-24 04:18] mstanton1 commented on #7144
FAQ's have been sent to Gen for publishing.

cc @jyoti3286 @trishreimer

[2021-04-24 15:33] mstanton1 commented on #7206
@trishreimer @jyoti3286 @amit4610 further changes were made to the link above. If you have already reviewed, can you please take another look at the updated copy?

@trishreimer as I am off Monday can you ensure the approved copy is pushed to Gen for publishing? In the FAQ's I sent I removed the portion where we link to this doc so that additional work would be needed - but I can also tackle that T

[2021-04-24 15:43] mstanton1 commented on #6528
@jdyck-fw did your team have any input on the wording or should we proceed to reach out to Beanstream as is?

[2021-04-24 18:51] trishreimer commented on #7206
Looks great @mstanton1  I made some minor updates:
I fixed this link - it was pointing to the ID's page, now pointing to the Mobile Card.
The Mobile BC Services Card can be set up on an iPhone, Android, or iPad. Download the BC Services Card app and follow the steps below to get set up. Detailed instructions are available here. <link>
- Updated , under Notarized Identity Affidavit section: This op

[2021-04-24 18:53] trishreimer commented on #7206
I'm going to put a couple of graphics in the doc as well.

[2021-04-26 04:03] jyoti3286 commented on #7206
@trishreimer - Do we want the updated design copy in the screenshot doc for BCeID flow? Current doc has the older version(Section: Notarized Identity Affidavit, BCeID & 2-Factor Authentication:, Point 4).

[2021-04-26 05:40] jyoti3286 opened #7323 "Trigger points for Activity log"
* As an Account Administrator
* I want to see all the activities on my account
* so that I can audit my account logs at any time

* As a Staff User
* I want to see all the activities on anyone's account
* so that I can answer all the queries from the Client by looking at the audit

**Acceptance Criteria**

**Scenario 1: Adding team member**
* GIVEN that I have an account with BC Registry
* WHEN an

[2021-04-26 14:12] cameron-freshworks commented on #5693
Wonderful! Thanks so much :)

[2021-04-26 14:59] trishreimer commented on #7206
@jyoti3286 yes, good call. let me know when it's ready and I'll recapture the screenshot.

[2021-04-26 15:44] Milan-Freshworks commented on #6739
It can not be tested so moving it to done.

[2021-04-26 16:26] Kaineatthelab opened #7324 "Data Migration Step 1"

[2021-04-26 16:27] rkim13103 commented on #7314
![Screen Shot 2021-04-23 at 3.26.37 PM.png](https://images.zenhubusercontent.com/5f319335cc96ec4135031c80/a3e600d6-7690-468f-b0bf-f352522071bb)

[2021-04-26 16:35] jyoti3286 commented on #7314
@shabeeb-aot
Here are the links which you can use to redirect from the page

Authy: https://authy.com/
GAuth:https://chrome.google.com/webstore/detail/gauth-authenticator/ilgcnhelpchnceeipipijaljkblbcobl?hl=en

[2021-04-26 16:44] #6998 closed

[2021-04-26 17:24] Sienna-Blumstengel opened #7325 "UI - Make shared scrollable data table & implement here"
**MVP:**
* Can search and see results for: Submission date, business name, applicant name
  * Return results that are partial matches, and contains anywhere in the string
* Have dynamic headers and dynamic actions
* Default sort is by submitted date. (if it's easy to add multi-sort using vue, then let's do it, but no pressure)
* Cap results to 1000, and display message if results surpass 1000:
  *

[2021-04-26 17:25] Sienna-Blumstengel opened #7326 "UI - Advanced search and paging"
Do this ticket first ⚠️

* Date picker work included in this ticket. Use shared component that we have prepared.
* Have the dialogue and flip between views
*  Build the advanced search request form
* Build validations for this form (See designs linked in the story for the validation and error text)
* Fetch results query

* invision: https://projects.invisionapp.com/share/EH10QB5Z23FP#/screens/4496

[2021-04-26 17:27] Sienna-Blumstengel opened #7327 "UI - Retrieve NR view"
* Build the form
* Error validations on email and phone number (use existing)
* Go to existing NR page (already exists)

[2021-04-26 17:31] PatrickAHeath commented on #7117
Verified in TEST.  Closing Issue.

![image.png](https://images.zenhubusercontent.com/601b37c65322cfe9e09d47c2/85ff9b20-9fac-4dc0-b8a8-f9c12665b4fe)

[2021-04-26 17:31] #7117 closed

[2021-04-26 17:35] #7315 closed

[2021-04-26 17:36] #7316 closed

[2021-04-26 17:37] #7317 closed

[2021-04-26 17:45] jyoti3286 commented on #7314
Make changes to the below page: https://dev.bcregistry.ca/business/auth/dGVzdCBwcm9kdWN0/validatetoken/BCEID/eyJpZCI6MTY5MCwidHlwZSI6IlNUQU5EQVJEIn0.YIb1LQ.DgHgngHhMLAuyvd1VSEnrDHDaF8

Current Text:
Use a 2-factor authentication app
Secure your account using a 2-factor authentication app with your BCeID when you log in. Download a 2-factor authentication app to your smartphone such as FreeOTP, Goo

[2021-04-26 17:46] Milan-Freshworks opened #7328 "NameX - Account switching does not work"
**Describe the bug in the current situation**
As a BCSC admin when trying to file for a name request on(https://test.bcregistry.ca/namerequest/). When the admin logs in to an account with multiple accounts and then switches to another account. Then the admin is directed to auth home screen. When 'Request Name' is clicked then the admin is directed to the first of the multiple accounts.

**Pre Cond

[2021-04-26 17:59] jyoti3286 opened #7329 "Onboarding Sateesh"
**Onboarding checklist for new team members**

**IDIR**
- [ ] Complete the form located at "R:\ARCS\HR 1300-1999\01 General\Onboarding Offboarding", which is stored on an internal drive and must be accessed by staff.
- [ ] Submit to IT Operations Support. This form should be emailed to the Registries Executive Assistant. Currently this role is held by Michael Leung.

-----------------

**Legacy Ap

[2021-04-26 18:04] amit4610 commented on #7300
Haven't heard back yet from client. Followed up with Front desk.

[2021-04-26 18:06] Sienna-Blumstengel commented on #6034
Waiting for April 26th bug release, then Thor can start working on this.
This ticket also includes fixing all the NRs that were not marked as consumed up until now.

[2021-04-26 18:13] lmcclung opened #7330 "URGENT: Namex Issues"
We have experienced several issues with Namex this morning (even after clearing our cache), and it is affecting our ability to process, examine or update NR’s.  Overall, it is glitchy, running quite slow, we can’t update a change of name NR, and we are receiving sporadic error messages.  Here are a few specifics:

1.)	The system won’t allow us to change the type of a name request as it generates a

[2021-04-26 18:28] Milan-Freshworks commented on #7314
It has been tested and verified

[2021-04-26 18:58] jdyck-fw commented on #6528
I circled back around with @lmcclung to take a look at this and offer comments on wording @mstanton1 . It has come up, just no response recorded here yet. :)

[2021-04-26 19:00] lmcclung commented on #6528
@mstanton1 Your suggested wording looks great.  Let's go with that.

[2021-04-26 19:04] lmcclung opened #7331 "John Lane's access to Zenhub/Github"
**Onboarding checklist for new team members**

**GitHub & ZenHub**
- [ ] 1. First, the new user is to go to github.com to register their account - Johnamlane
- [ ] 2. Next, the new user is to verify that 2 factor authentication is enabled
- [ ] 3. Once the account creation and 2fa are completed, send a message to an admin to request the new employee is added. (Admins as of Feb 2021 include: Kaine

[2021-04-26 19:08] Sienna-Blumstengel commented on #7091
Julie checked in again today to see if there was progress. I am assuming the client is asking.

I replied:

[2021-04-26 19:09] Sienna-Blumstengel commented on #7158
@thorwolpert could you remind me what the status of this is? Julie is wondering

[2021-04-26 19:22] rarmitag commented on #7330
Unfortunately, I cannot duplicate any of the errors that we're described.
The one instance Jenifer described may have been a data issue.

I have run multiple UI searches and they all function normally.
I have checked the OC pods and they seem to be running properly and timely.

Saw an error with address in COLIN - CP0001696.
One error in legal-api - NR 4932638.

SOLR pods functioning normally.
No

[2021-04-26 19:55] severinbeauvais opened #7332 "Namex API: error on payment from PAD account"
**Describe the bug in current situation**
1. login to NameRequest UI (Dev) using a ~BCOL~ PAD account (eg, BCREG2033)
2. fill in fields to create a new NR
3. on last page, click Review and Confirm
4. in dialog, click Continue to Payment

Expected result: ~BCOL~ PAD payment happens in the background, and I am redirected to my new NR page.

Actual result: "Name Request encountered an error" dialog d

[2021-04-26 19:55] severinbeauvais commented on #7332
@Kaineatthelab @lmcclung For triage, please.

[2021-04-26 19:57] rarmitag commented on #7330
Saw some errors in colin-api so restarted it .

[2021-04-26 20:00] severinbeauvais opened #7333 "Namex API: error during name analysis"
**Describe the bug in current situation**

Note: Name analysis is enabled in Dev and Test and disabled in Prod atm.

1. login to NameRequest UI (Dev)
2. fill in the first page to create a new NR
3. click button to Continue to Detailed Analysis
4. open dev console, see error:

![image.png](https://images.zenhubusercontent.com/5d0a7edda4644173e93bf808/d0221a22-766e-4997-a8f9-b4def47e0478)

This is p

[2021-04-26 20:00] severinbeauvais commented on #7333
@lmcclung @Kaineatthelab Another one for triage. Probably doesn't impact Prod atm so not P1.

[2021-04-26 20:06] severinbeauvais commented on #7304
### Testing Notes

1. Try with BCeID, IDIR and BCSC
2. Try with BCOL account and others
3. Try logging in from NR UI, then go to BCROS pages (eg, https://dev.bcregistry.ca/business/auth/home/decide-business) and confirm you are still logged in to same account and user
4. Try logging in from BCROS pages, then go to NR UI (eg, https://dev.bcregistry.ca/namerequest/) and confirm you are still logged

[2021-04-26 20:06] severinbeauvais commented on #7304
Note; payment testing is blocked by [# 7332](https://app.zenhub.com/workspaces/entity-5bf2f2164b5806bc2bf60531/issues/bcgov/entity/7332).

[2021-04-26 20:07] #6364 closed

[2021-04-26 20:07] #6273 closed

[2021-04-26 20:07] #6152 closed

[2021-04-26 20:09] #5693 closed

[2021-04-26 20:09] #5165 closed

[2021-04-26 20:09] #6674 closed

[2021-04-26 20:11] Milan-Freshworks commented on #6721
It has been tested and verified.

![Screen Shot 2021-04-26 at 1.11.35 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/c89cc02d-4d01-4d90-ad3c-60cce72e2dfe)

[2021-04-26 20:12] lmcclung commented on #7309
Ops ticket - needed a release tag, but no release required.

[2021-04-26 20:13] lmcclung commented on #7275
Ops ticket - needed to be attached to a release ticket for reporting purposes, but not actually part of the release.

[2021-04-26 20:14] lmcclung commented on #7265
Ops ticket that needed a release label although not part of the release.

[2021-04-26 20:14] #7103 closed

[2021-04-26 20:15] #7090 closed

[2021-04-26 20:16] #6840 closed

[2021-04-26 20:44] Kaineatthelab opened #7334 "Bob and Ali to complete a plan"
- [x] Doug and Thor to review and pass back Thursday or Friday for Devs to review
- [ ] Book meeting early next pending completion

https://github.com/bcgov/entity/pull/7486

[2021-04-26 20:46] severinbeauvais commented on #7304
Note: the implemented fix (as per Sumesh's code above) does not completely solve this problem. Specifically, also the account login is maintain, it reverts to the first user in NR UI... However the user can see this and change it if desired.

To maintain both the account login and user will require some extra work (not sure what exactly)... One work-around is to open NR UI in the same page when th

[2021-04-26 21:07] #5960 closed

[2021-04-26 21:07] #5915 closed

[2021-04-26 21:07] #5812 closed

[2021-04-26 21:07] #5887 closed

[2021-04-26 21:07] #5871 closed

[2021-04-26 21:10] #5943 closed

[2021-04-26 21:10] #5942 closed

[2021-04-26 21:10] #6003 closed

[2021-04-26 21:10] amit4610 opened #7335 "Client account name taken after account rejected"
Summary - Client's account was rejected by staff. They are trying to send a new application but the account name is already taken in our system and is showing in the "rejected" tab on staff dashboard.

Hello there,

The following Incident: INC0087730 Is regarding BCROS Premium Account setup that does not proceed when there had been another prior application that needs to be corrected. The entry of

[2021-04-26 21:11] #5324 closed

[2021-04-26 21:11] #6561 closed

[2021-04-26 21:13] #6145 closed

[2021-04-26 21:14] #6526 closed

[2021-04-26 21:14] #5968 closed

[2021-04-26 21:15] tlebedovich commented on #7057
Hi @lmcclung - @forgeuxGH5  wanted me to make a note and add an estimate of 2 design hrs to do the following updates to this ticket and review with Scott:

1) Try a version separating First and Name name into two columns

2) Add errors version of the Retrieve NR final page

3) Add "Your search has returned more than 1000 results..." version of the results search.

[2021-04-26 21:15] #6058 closed

[2021-04-26 21:17] Sienna-Blumstengel opened #7336 "INC0087804 - 2 NR charges April 23, no NRs issued - Credit Request"
#### ServiceNow incident:
INC0087804

#### Contact information
Staff Name: Susan, SBC Help Desk
Staff Email: bcolhelp@gov.bc.ca

#### Description

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [ ] ~Add 'Priority1' label to zenhub ticket~
- [x] Assign zenhub ticket to milest

[2021-04-26 21:42] sumesh-aot commented on #7311
PR : https://github.com/bcgov/ocp-sso/pull/322

[2021-04-26 21:53] Sienna-Blumstengel commented on #7336
From Amit:

From Sienna to IT Ops:

[2021-04-26 22:13] Sienna-Blumstengel commented on #7336
@thorwolpert ready for you

[2021-04-26 22:14] amit4610 commented on #7335
can we make the account inactive in the back end so the client can submit his application again? @Milan-Freshworks

[2021-04-26 22:28] amit4610 commented on #7329
SharePoint access has been granted.

[2021-04-26 22:35] forgeuxGH5 commented on #6923
![image.png](https://images.zenhubusercontent.com/5bdb286ef2d4f912cf500d34/4c8f88aa-c337-40a5-9815-d0591e42879a)

- Entity type should be the type they are altering from - should not be Benefit Company until after alteration
- Filing label should be "Alteration - BC Limited Company to a BC Benefit Company" to match the ledger/history item label (post alteration)
- Button label is "Alter now", sing

[2021-04-26 22:46] jyoti3286 commented on #7329
Satesh github id: sateeshfw. Can someone invite Sateesh to Github/Zenhub?

[2021-04-26 22:54] Sienna-Blumstengel commented on #7188
Another one:

[2021-04-26 23:01] Milan-Freshworks commented on #6872
@shabeeb-aot Scenario 5 can't be tested since Request button is inactive if the checkbox is not selected![Screen Shot 2021-04-26 at 4.01.13 PM.png](https://images.zenhubusercontent.com/5e3c69ca69d8804ca9f11729/11029f09-1c21-408d-8031-6975ba8c67d8)

[2021-04-26 23:09] Milan-Freshworks commented on #6872
I am not able to test Scenario 7 as we don't have any specific filing for VS as such right now.

[2021-04-26 23:40] #7101 closed

[2021-04-26 23:41] amit4610 opened #7337 "client cannot log in"
Title of ticket: [Entity number and name] or "Account Management"

INC0087916 : BCROS/NRO -- Created Premium account, authenticated but cannot now log in

Stephany has created a Premium Account using her BCeID and password.  She scanned the QRCode when she created the account.  Now when she tries to log in she gets past the log in page, gets the page of past BCeID usages, press to continue.  She n

[2021-04-26 23:46] #7276 closed

[2021-04-26 23:46] lmcclung commented on #7276
Hi Debbie,

Sounds good, thanks!
I have added the NR priority fee to the refund list.

Sienna

On Thu, Apr 22, 2021 at 8:28 AM Blyth, Debbie CITZ:EX <Debbie.Blyth@gov.bc.ca> wrote:
Sienna, I see it’s in draft now which works as the NR can now be processed.  However, as the client upgraded and payed the priority fee and we did not process it within 24 – 48 business hours, can you please generate a

[2021-04-26 23:46] lmcclung commented on #7276
Added to Apr 26 release just so that it has a release tag.  Doesn't really belong in the release.

[2021-04-26 23:49] lmcclung commented on #7312
This one must have been fixed along the way as staff were able to examine it this morning.

Throwing apr 26 release tag on it so that is has a tag.  Doesn't really apply to this release.

[2021-04-26 23:51] #7312 closed

[2021-04-26 23:58] lmcclung commented on #6999
@Sienna-Blumstengel did you hear back from this person?

[2021-04-27 00:03] lmcclung commented on #7119
sent follow up email to Amber April 26th

[2021-04-27 00:06] lmcclung commented on #7246
@pwei1018 @rarmitag could you confirm whether the MRAS hookup was reconnected with the OCP4 upgrade?

[2021-04-27 00:07] lmcclung commented on #7310
Severin working on 7304 - should be in PROD April 27th.  Then we can have user try again.

[2021-04-27 01:10] lmcclung opened #7338 "Postgres data filing/effective dates still out of sync with oracle database CPRD"
David Roberts put in fix appox Apr 15th so that it should display the same effective/filing dates that we have in Postgres.  When John and I tested it in CTST it appeared correctly.  But CPRD is still out of sync.

Check to see whether we did any tweaks on our side as a short-term fix.  If so, we need to remove them.

Lear report:
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc51000

[2021-04-27 01:11] lmcclung commented on #7338
@thorwolpert here's the UTC ticket I created for you.

[2021-04-27 12:43] #2891 closed

[2021-04-27 14:32] cameron-freshworks commented on #7145
@tlebedovich Morning Tracey! The field level validations are in and worth another look when you are ready :)

[2021-04-27 15:03] severinbeauvais commented on #7304
I have updated the description and implemented the second part of this ticket (ie, open NameRequest in same tab from BCROS pages).

This is deployed to Dev and I have tested it there: if I am logged in to auth-web with an account with multiple users (and I am using, say, the second user), then when I am redirected to NameRequest, the account and user are retained.

@sumesh-aot @jyoti3286 What is R

[2021-04-27 15:26] mstanton1 commented on #7206
Trish has completed updates based upon her and Jyoti's feedback. The job aide is now available on the Gov 2.0 site.

https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-other-assets/verify_identity_job_aide_external_april_2021.pdf

[2021-04-27 15:27] #7206 closed

[2021-04-27 15:33] Sienna-Blumstengel opened #7339 "Unable to delete coop from account and reset passcode CP1562/CP2327/CP2296/CP964"
#### ServiceNow incident:
INC0087850
#### Contact information
Staff Name: Julie Harding

#### Description

😬 ⚠️

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Assign zenhub ticket to milestone: current, and place in pipeline:

[2021-04-27 15:35] Sienna-Blumstengel commented on #7339
Removed priority 1 label because they do have a workaround.

[2021-04-27 15:39] kialj876 commented on #7339
Wait is there anything for me to do for ops? It says they did the workaround at the bottom of the ticket right? This seems like a system issue for relationships to groom/bring into a sprint to make code changes for

[2021-04-27 15:42] Sienna-Blumstengel commented on #7278
Looks great! Thanks @rarmitag
Anything we can do about the "filed by"? Replace the <name_of_person_filing> with the name in the document?

[2021-04-27 15:45] Sienna-Blumstengel commented on #7278
Sent to Kat and Lance:

[2021-04-27 15:49] Sienna-Blumstengel commented on #7339
Good point! Moving this to grooming and unassigning Kial. @mstanton1 @amit4610 perhaps we can make a bug ticket and reference this ops ticket, then when the bug is done, we can close the ops and inform staff.

[2021-04-27 15:50] pwei1018 commented on #6986
@mstanton1  Currently, we only have one admin (myself) on Hotjar. And only few BA, UX and senior developer can access Hotjar. Hotjar don't have user access and activity tools. I will submit a request to them to see any way we can get it.

We should add the access review to quarterly review checklist.

[2021-04-27 15:58] Sienna-Blumstengel commented on #6999
I sent this on Thursday:

And have not heard back yet.

[2021-04-27 16:01] tlebedovich commented on #7113
@janisrogers - Can you confirm the final answer for this one please?

[2021-04-27 16:32] Sienna-Blumstengel commented on #7278
Ready to go!

If possible, let's update the filed by name @rarmitag

[2021-04-27 16:35] #6739 closed

[2021-04-27 16:35] #6721 closed

[2021-04-27 16:37] kialj876 commented on #7330
colin-api is timing out every time it tries to verify the corp num - investigating

[2021-04-27 16:39] rarmitag commented on #7278
Actually the name shows up as Stephane at the top and the signature. So I've changed it to that.

[2021-04-27 17:04] kialj876 commented on #7330
Seems to be an intermittent platform network issue. Comes and goes, but we have no control over it - adding health checks to the colin-api in test to see if this will improve stability

[2021-04-27 17:05] janisrogers commented on #7113
My understanding is that there will be a change to the design to not show the search box on the results page. @forgeuxGH5 can you confirm?

[2021-04-27 17:06] tlebedovich commented on #7145
@cameron-freshworks - thanks Cameron. Only adjustment I would make, if its easy to do so:

For Staff Payment:

IF user has not selected a payment method and hits File and Pay, ONLY show the Top Level validation (Red line/red header)

IF user has selected either the Cash/Cheque or BC Online payment method and hits File and Pay without filling in the required info for that selection, then show the e

[2021-04-27 17:09] tlebedovich commented on #6949
moved to QA

[2021-04-27 17:14] forgeuxGH5 commented on #7113
^ that is what I'm thinking but needs to be approved by PO

[2021-04-27 17:24] PatrickAHeath opened #7340 "PPR Transaction triggers PAD payment confirmation email even when search error prevents complete transaction"

[2021-04-27 17:25] janisrogers opened #7341 "PPR Search - Search popup needs to be generic or respond to the type of account"
**Describe the bug in current situation**
While doing a search in PPR, when you click pay, a modal is displayed stating " Your BC Online Account will be debited ..." This message shows even if you are using a PAD account.

**Impact of this bug**
Incorrect messaging for PAD users

**Chance of Occurring (high/medium/low/very low)**
High

**Pre Conditions: which Env, any pre-requesites or assumptions

[2021-04-27 17:31] severinbeauvais commented on #7304
I just heard that auth-web (sbc-auth) will release to Prod in 2 days. Meanwhile, NR will have a release today maybe. These 2 changes don't depend on each other but both are required to resolve THIS ticket.

@forgeuxGH5 @tlebedovich Can you please confirm that the implemented fixes are OK? See comments above and/or verify in Dev.

@lmcclung @Kaineatthelab @jyoti3286 Can you please confirm your appr

[2021-04-27 17:41] vysakh-menon-aot commented on #7187
@lmcclung I am unable to reproduce this. I have tried multiple times by switching priority in the initial NR request

[2021-04-27 17:45] PatrickAHeath commented on #7340
Search transactions in TEST are still resulting in Search errors, but an attempted transaction is showing payment within Account Settings and triggering an email confirming the PAD payment for the transaction.

It seems that payment is taken at the beginning of the search txn, so if there is an error before the transaction completes, no reversal of the PAD payment is being done.

For the PAD payme

[2021-04-27 17:55] riyazuddinsyed opened #7342 "Refund request summary does not show the breakdown."
**Describe the bug in the current situation**
When a user clicks on the Priority Request in the Applicant Details, then when the user clicks on the Refund the total shows 131.50$ which is exactly correct but the breakdown shoes 31$ and 1.50$ as a service fee.

**Impact of this bug**
All users clicking on the "Make this a priority Request"

Steps to reproduce the behavior:
1. Go to 'https://test.bc

[2021-04-27 17:59] riyazuddinsyed opened #7343 "New submission wait time shows nothing."
**Describe the bug in the current situation**
When a user files an NR then the New Submission Wait Time does not show a valid value but after the payment, the estimated time is fetched up by the Api.

Steps to reproduce the behavior:
1. Go to '.https://test.bcregistry.ca/namerequest/'
2. Look for the New Submission Wait Time.
3. See error

**Screenshots/ Visual Reference/ Source**
![Screen Shot 20

[2021-04-27 18:08] kialj876 commented on #7330
Added health checks to prod. Application is stable so I am going to close this ticket. The errors they saw were a result of the colin-api timing out when trying to get data from the fdw - the health checks should lessen the amount this happens in the future

[2021-04-27 18:08] #7330 closed

[2021-04-27 18:11] kialj876 commented on #7246
was this resolved?

[2021-04-27 18:12] tlebedovich commented on #7150
@janisrogers @doug-lovett - I would not recommend repeating the headers. I don't think is needed and may lead to confusion. Its natural for content to continue onto the next page.

[2021-04-27 18:16] tlebedovich opened #7344 "UI Design - PPR PDF OUTPUT - UX Assurance Feedback"
There are a number of needed visual design updates to be made to the PPR outputs to align them with the final Visual and UX Design. Please walk through on a call with Tracey before starting.

**Visual/UX Design Feedback:**

Here is the attached a PDF with our feedback -- most are Global Updates needed throughout:

[https://app.zenhub.com/files/157936592/658be82e-d72e-45cf-832d-e83a929c4708/downloa

[2021-04-27 18:18] tlebedovich commented on #7344
@janisrogers - I started marking up my feedback and there is a lot. Let's review together with Scott before proceeding.

[2021-04-27 18:22] Sienna-Blumstengel commented on #7158
Just got this from Jenn @thorwolpert :

[2021-04-27 18:23] kialj876 commented on #7087
Is there any ops work to do here? Should we check to see if we need to clean up old NRs or was this already resolved?

[2021-04-27 18:24] riyazuddinsyed opened #7345 "NR number does not show up after the successful payment there by making the user to create 2 NRs or more."
**Describe the bug in the current situation**
When a user enters the payment information and after the successful payment the NR number does not show up but the redirection URL with payment Id and status which is like "https://test.bcregistry.ca/namerequest/nr/7045/?paymentId=1132&status=Q09NUExFVEVE" but even the NR history doesn't show up.

**Chance of Occurring (high/medium/low/very low)**
This

[2021-04-27 18:24] kialj876 commented on #7336
I'm going to investigate this now

[2021-04-27 18:25] tlebedovich commented on #7304
I don't have enough knowledge of this to review. Hopefully @forgeuxGH5 does.

[2021-04-27 18:27] forgeuxGH5 commented on #7304
Looking at this now

[2021-04-27 18:33] pwei1018 opened #7346 "Helm Charts setup"

[2021-04-27 18:36] pwei1018 opened #7347 "ArgoCD installation"

[2021-04-27 18:49] mstanton1 commented on #7329
Access request was started under 7251. I will move anything additional from this ticket into that one.

[2021-04-27 18:53] mstanton1 commented on #7251
Satessh github id: sateeshfw.
Sateesh rocketchat id: sateesh.freshworks

[2021-04-27 18:53] severinbeauvais commented on #7304
@forgeuxGH5 FYI...

Change 1: update NR UI to sync to existing Keycloak token (login)

Change 2: update BCROS to open NR in same tab (so session storage is retained -- esp the account and user data)

[2021-04-27 19:05] mstanton1 commented on #7251
SP granted. Link provided to Sateesh to confirm access.
Zenhub granted. Info to download plug in sent to Sateesh.
Business Registry TEST access granted. DEV is pending Sateesh logging in.

[2021-04-27 19:06] #7329 closed

[2021-04-27 19:07] rarmitag commented on #7246
The value for the MRAS_SVC_URL is the same as it was in OC3, so there would be no reason for it to stop working by moving it to OC4.

[2021-04-27 19:26] severinbeauvais commented on #7345
[code]

[2021-04-27 19:50] mstanton1 opened #7348 "BCOL NRO Users: DEADLINE EXTENDED & Resources - Login using Desktop or Mobile Device"
#### Description
A client has sent an email noting:

Hi, one of our staff members has the following issue when trying to login to be added to my team. Can you advise us on how to fix this? Thank

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/de57e5e8-e549-428e-9900-0048883cc747)

#### Tasks
- [ ] When ticket has been created, post the ticket in RocketChat '#Operations

[2021-04-27 19:58] mstanton1 commented on #6986
@mengdong19 can you please update the dev quarterly review checklist to add in review for HotJar access as noted above. Quarterly review doc is available here:

https://github.com/bcgov/entity/blob/85007d6ad16be4ffe659fa169906ca480f10481b/docs/devops/quarterly_review.md

@pwei1018 will follow up on user access and activity tools.

[2021-04-27 20:00] mstanton1 opened #7349 "Clear Pending Affidavit - Trevor Fenton"
#### Description
This client has made an error in the account creation flow. They have tried to start again but the existing affidavit prevents them from proceeding.

![image.png](https://images.zenhubusercontent.com/5ba90c7629a785544981da1c/491e698b-82a5-4902-979d-5350e412a58e)

Can you please clear the uploaded affidavit so the client can start account creation over?

Details:
Trevor Fenton
Plai

[2021-04-27 20:05] mstanton1 opened #7350 "INC0087888 BCROS BCOL payment setup but NAME REQUESTS still prompts for Credit Card"
Title of ticket: [Entity number and name] or "Account Management"

#### ServiceNow incident:
#### Contact information
Staff Name: Susan Dziadyk
Staff Email: Susan.Dziadyk@gov.bc.ca

#### Description
Heads up, INC0087888 has been raised for this issue where BCOL payment link has been set up but user is still prompted for credit card at the NAME Request application.

Kane Shannon & Weiler LLP is set

[2021-04-27 20:08] Sienna-Blumstengel commented on #7278
From Lance:

I am viewing it in SOFI @rarmitag
![Screen Shot 2021-04-27 at 1.07.25 PM.png](https://images.zenhubusercontent.com/5d49cdec9547713e57d6cd4a/6997807c-f02b-4405-8575-ed6916fe73f9)

When should I see it updated to Stephane?

[2021-04-27 20:09] severinbeauvais commented on #7332
I tested this again as follows:

1. go to https://dev.bcregistry.ca/business/auth/home/decide-business
2. log in with a BCOL account (eg, BCREG0001 / BC ONLINE TECHNICAL TEAM DEVL)
3. click on BC Gov logo to go to top level
4. click "Request a Name"
5. verify my login info (as above)
6. fill in fields to create a new NR
7. on last page, click Review and Confirm
8. in dialog, click Continue to Paym

[2021-04-27 20:13] mstanton1 commented on #7350
The following response has been sent to Susan, BCOL Help and IT Ops:

First – thank you for the thorough check to ensure the account is set up with BCOL.

In this case the issue stemmed from a bug in the application. When a client is logged in to the Business Registry, and then clicks to navigate to Name Request, they do not stay logged in. A fix is in our development environment but has not yet b

[2021-04-27 20:13] #7350 closed

[2021-04-27 20:14] severinbeauvais commented on #7332
I tested again using BCREG2033 and it failed again... Maybe there is something wrong with this account?

@lmcclung  I propose that we retain this ticket for investigation but remove the P1 label and remove it as a blocker to today's 7304/7189 release. Thoughts?

[2021-04-27 20:14] Sienna-Blumstengel opened #7351 "INC0087950 : BCROS/NRO - designation extension not showing on names requested"
#### ServiceNow incident:
INC0087950
#### Contact information
Staff Name: BCOL Helpdesk staff member, Dennis
Staff email: BCOLHELP@gov.bc.ca

#### Description

From IT OPs:

#### Tasks
- [x] When ticket has been created, post the ticket in RocketChat '#Operations Tasks' channel
- [x] Add **entity** or **relationships** label to zenhub ticket
- [x] Add 'Priority1' label to zenhub ticket
- [x] Assig

[2021-04-27 20:25] mstanton1 opened #7352 "Incorrect Navigation when choosing Manage Business Dashboard"
**Describe the bug in current situation**
Description from Julie: CP1562/CP2327/CP2296/CP964.
When I search these CP numbers on the BC Registry website, and I select the action “Manage Account” the system takes me to the Account Info screen, and not to the screen where I can delete the CP from the account it is affiliated to, and email out a new passcode. Below is the screen I get taken to:

![ima

[2021-04-27 20:26] mstanton1 commented on #7339
Bug 7352 has been logged. Given the workaround this is being closed.

[2021-04-27 20:26] #7339 closed

[2021-04-27 20:34] amit4610 commented on #7337
Account in pending review state. Will reset otp once account is approved.

[2021-04-27 20:48] lmcclung commented on #7332
@severinbeauvais agreed.

[2021-04-27 20:55] Sienna-Blumstengel commented on #7087
I don't think old NRs have been resolved yet, yeah we could use this ticket for it. You already have another ticket to fix this right? or maybe it's already fixed? @kialj876

[2021-04-27 20:57] Sienna-Blumstengel commented on #7246
I don't think it's been resolved yet, has it @severinbeauvais ?

[2021-04-27 20:59] severinbeauvais commented on #7332
@sumesh-aot said:

and

So there may be an issue with that account or with the API. Needs to be looked at next.

[2021-04-27 21:05] lmcclung opened #7353 "Edit UI - Fixes needed for certify section for both alteration flows"
## Background

- [ ] Both alteration flows are missing the Note re making false information.
- [ ] also correct the bug in the 'change company information' flow.  In the certify section if you tick the box before entering the name you get a validation error.  Make sure it works correctly in both flows.

## Currently shows:
![image.png](https://images.zenhubusercontent.com/5d814bb8edbc510001817803/